---
http_interactions:
- request:
    method: get
    uri: https://xs2.exchange/API/V1/GetOrderBook?Market=ETH/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"action":"data","message":null,"route":null,"data":{"info":{"label":"ETH/BTC","coin":"ETH","base_coin":"BTC","buy_price":0.02483800,"sell_price":0.02623400,"last_price":0.02817100,"maker_fee_multiplier":0.0010000,"taker_fee_multiplier":0.0010000,"coin_volume_decimals":7,"coin_price_significant_figures":5,"coin_min_trade_volume":null,"base_volume_decimals":8,"base_min_trade_volume":0.00010000,"min_rate":0.00281710,"max_rate":0.28171000,"spread":0.00139600},"asks":[{"rate":0.02623400,"volume":7.47060900,"order_count":1}],"bids":[{"rate":0.02483800,"volume":7.81402610,"order_count":1},{"rate":0.02400000,"volume":1.00000000,"order_count":1}]}}'
  recorded_at: Fri, 07 Dec 2018 06:16:48 GMT
recorded_with: VCR 4.0.0
