---
http_interactions:
- request:
    method: get
    uri: https://xs2.exchange/api/cryptocompare/v1/trades?pair=ETH/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":19386,"timestamp":1542771030991,"price":0.03051200,"amount":0.00557150,"isBuyerMaker":"Buy"},{"id":19377,"timestamp":1542768397354,"price":0.03051200,"amount":0.01450000,"isBuyerMaker":"Buy"},{"id":19362,"timestamp":1542756970789,"price":0.02911800,"amount":0.00144060,"isBuyerMaker":"sell"},{"id":19361,"timestamp":1542756970789,"price":0.02933300,"amount":0.00443630,"isBuyerMaker":"sell"},{"id":19360,"timestamp":1542756057072,"price":0.02946800,"amount":0.05531420,"isBuyerMaker":"Buy"},{"id":19359,"timestamp":1542752433433,"price":0.03045800,"amount":0.00587690,"isBuyerMaker":"Bu[...]
