---
http_interactions:
- request:
    method: get
    uri: https://xs2.exchange/api/btx/v1.1/public/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-ETH","High":0.03055900,"Low":0.02911800,"Volume":0.22553270,"Last":0.03051200,"BaseVolume":0.00677505,"TimeStamp":"2018-11-21T12:07:04.94","Bid":0.02854600,"Ask":0.03050600,"OpenBuyOrders":1,"OpenSellOrders":1,"PrevDay":0.09558480,"Created":"2018-04-12T08:50:00"},{"MarketName":"BTC-OMG","High":null,"Low":null,"Volume":0.00000000,"Last":0.00050702,"BaseVolume":0.00000000,"TimeStamp":"2018-11-21T12:07:04.94","Bid":0.00040694,"Ask":0.00044063,"OpenBuyOrders":1,"OpenSellOrders":1,"PrevDay":0.00000000,"Created":"2018-04-12T08:51:00"},{"MarketName":"BTC-AE","High":null,"Low":null,"Volume":0.00000000,"Last":0.00017772,"BaseVolume":0.00000000,"TimeStamp":"2018-11-21T12:07:04.94","Bid":0.00013691,"Ask":0.00014595,"OpenBuyOrders":1,"OpenSell[...]
