---
http_interactions:
- request:
    method: get
    uri: https://xs2.exchange/API/V1/Get24HrSummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"action":"data","message":null,"route":null,"data":{"ETH/BTC":{"utc":"2018-12-06T06:17:00Z","minute":1061329336,"open":null,"high":null,"low":null,"close":null,"volume":0.00000000,"base_vol":0.00000000,"price":0.02817100,"buy":0.02483800,"sell":0.02623400,"buys":2,"sells":1,"prev_price":0.02817100},"OMG/BTC":{"utc":"2018-12-06T06:17:00Z","minute":1061329336,"open":null,"high":null,"low":null,"close":null,"volume":0.00000000,"base_vol":0.00000000,"price":0.00039655,"buy":0.00033727,"sell":0.00036050,"buys":1,"sells":1,"prev_price":0.00039655},"AE/BTC":{"utc":"2018-12-06T06:17:00Z","minute":1061329336,"open":null,"high":null,"low":null,"close":null,"volume":0.00000000,"base_vol":0.00000000,"price":0.00014848,"buy":0.00009235,"sell":0.00009870,"buys":1,"sells":1,"prev_price":0.000[...]
