---
http_interactions:
- request:
    method: get
    uri: https://xs2.exchange/API/V1/GetHistoricTrades?Market=ETH/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"action":"data","message":null,"route":null,"data":[{"id":20675,"created":"2018-12-05T18:06:04.556Z","rate":0.02817100,"amount":0.05845400,"base_amount":0.00164670,"side":"B"},{"id":20672,"created":"2018-12-05T17:57:06.154Z","rate":0.02817100,"amount":0.03549740,"base_amount":0.00099999,"side":"B"},{"id":20533,"created":"2018-12-04T23:48:26.911Z","rate":0.02873100,"amount":0.01000000,"base_amount":0.00028731,"side":"B"},{"id":20464,"created":"2018-12-03T19:26:52.862Z","rate":0.02897800,"amount":0.01030000,"base_amount":0.00029847,"side":"B"},{"id":20436,"created":"2018-12-03T11:49:11.651Z","rate":0.02897800,"amount":0.05135000,"base_amount":0.00148802,"side":"B"}[...]
