---
http_interactions:
- request:
    method: get
    uri: https://www.coinall.com/api/spot/v3/products/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"product_id":"BTC-USDT","last":"6271.6029","best_ask":"6272.3028","best_bid":"6271.6029","open_24h":"6247.3276","high_24h":"6321.154","low_24h":"6189.8196","base_volume_24h":"86","timestamp":"2018-09-12T17:20:32.768Z","quote_volume_24h":"541675"},{"product_id":"ETH-USDT","last":"171.1449","best_ask":"171.1448","best_bid":"171.1196","open_24h":"182.4591","high_24h":"186.6342","low_24h":"167.29","base_volume_24h":"213","timestamp":"2018-09-12T17:20:40.724Z","quote_volume_24h":"37649"},{"product_id":"ETH-BTC","last":"0.02730443","best_ask":"0.02730443","best_bid":"0.02730007","open_24h":"0.0292333","high_24h":"0.02955865","low_24h":"0.02686048","base_volume_24h":"3","timestamp":"2018-09-12T17:20:40.724Z","quote_volume_24h":"0"},{"[...]
