---
http_interactions:
- request:
    method: get
    uri: https://www.coinall.com/api/spot/v3/products/BTC-USDT/trades?limit=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ok-Before:
      - '1482141249'
      Ok-After:
      - '1482140723'
      Ok-From:
      - '1482140723'
      Ok-To:
      - '1482141249'
      Ok-Limit:
      - '100'
    body:
      encoding: ASCII-8BIT
      string: '[{"time":"2019-05-15T11:30:34.733Z","timestamp":"2019-05-15T11:30:34.733Z","trade_id":"1482141249","price":"7965.4","size":"3.333","side":"sell"},{"time":"2019-05-15T11:30:34.733Z","timestamp":"2019-05-15T11:30:34.733Z","trade_id":"1482141247","price":"7965.4","size":"3.9996","side":"sell"},{"time":"2019-05-15T11:30:28.476Z","timestamp":"2019-05-15T11:30:28.476Z","trade_id":"1482140725","price":"7969.2","size":"4.4408","side":"buy"},{"time":"2019-05-15T11:30:28.476Z","timestamp":"2019-05-15T11:30:28.476Z","trade_id":"1482140723","price":"7969.2","size":"2.7328","side":"buy"}]'
  recorded_at: Wed, 15 May 2019 11:30:37 GMT
recorded_with: VCR 4.0.0
