---
http_interactions:
- request:
    method: get
    uri: https://www.coinall.com/api/spot/v3/products/BTC-USDT/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ok-Before:
      - '540938318'
      Ok-After:
      - '540937765'
      Ok-Limit:
      - '100'
    body:
      encoding: ASCII-8BIT
      string: '[{"time":"2018-09-12T17:21:23.803Z","trade_id":540938318,"price":"6271.9073","size":"0.0016","side":"buy"},{"time":"2018-09-12T17:21:17.803Z","trade_id":540938231,"price":"6271.9006","size":"0.0086851","side":"buy"},{"time":"2018-09-12T17:21:17.755Z","trade_id":540938229,"price":"6271.9006","size":"0.0016","side":"buy"},{"time":"2018-09-12T17:21:15.018Z","trade_id":540938188,"price":"6271.9313","size":"0.0016","side":"buy"},{"time":"2018-09-12T17:21:11.757Z","trade_id":540938120,"price":"6271.9567","size":"0.0016","side":"buy"},{"time":"2018-09-12T17:21:05.747Z","trade_id":540938021,"price":"6271.9544","size":"0.0016","side":"buy"},{"time":"2018-09-12T17:21:02.820Z","trade_id":540937983,"price":"6271.9481","size":"0.00784446","side":"buy"},{"time":"2018-09-12T17:21:02.769Z","trade_id":540937979,"price":"6271.9481","size":"0.0016","side":"buy"},{"time":"2018-09-12T17:20:53.735Z","trade_id":540937839,"price":"6271.5525","size":"0.00698071","side":"buy"},{"time":"2018-09-12T17:20:53.682Z","trade_id":540937833,"price":"6271.945","size":"0.0016","side":"buy"},{"time":"2018-09-12T17:20:50.717Z","trade_id":540937765,"price":"6271.5854","size":"0.0016","side":"buy"}]'
  recorded_at: Wed, 12 Sep 2018 17:21:26 GMT
recorded_with: VCR 4.0.0
