---
http_interactions:
- request:
    method: get
    uri: https://api.trade.mn/public/ticker/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11a-Ik2NNjtO6z2F7lOwI3RxiZJsJwg"
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"opening_price":"8250.94059653","closing_price":"8146.61376937","min_price":"8105.0076478","max_price":"8354.3924985","units_traded":"5.96134762","buy_price":"8146.61418501","sell_price":"8346.07967015","last_price":"8146.61376937","date":1526996770948}}'
  recorded_at: Tue, 22 May 2018 13:46:50 GMT
recorded_with: VCR 4.0.0
