---
http_interactions:
- request:
    method: get
    uri: https://api.trade.mn/public/recent_transactions/BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c60-pGSL+GbuLApRv9fpNdZixAACRng"
    body:
      encoding: UTF-8
      string: '{"status":"success","data":[{"price":"8,146.614","quantity":"0.00325023","total":"26.478","type":"bid","date":"2018-05-22
        21:07:17"},{"price":"8,146.989","quantity":"0.06091144","total":"496.245","type":"ask","date":"2018-05-22
        19:11:24"},{"price":"8,146.989","quantity":"0.03888856","total":"316.825","type":"bid","date":"2018-05-22
        19:11:14"},{"price":"8,146.989","quantity":"0.06091144","total":"496.245","type":"bid","date":"2018-05-22
        19:11:06"},{"price":"8,146.989","quantity":"0.0998","total":"813.07","type":"ask","date":"2018-05-22
        19:10:34"},{"price":"8,354.39[...]
