---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/spot/v2/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Iinfo:
      - 14-152309088-152309092 NNNN CT(51 114 0) RT(1567664896335 27) q(0 0 2 -1)
        r(2 2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"BTC-USD":{"last":"10582.0","lowest_ask":"10583.5","highest_bid":"10583.0","percent_change":"0.033085976","volume":"15796857","high24hr":"10822.5","low24hr":"10387.8"},"LTC-USD":{"last":"67.00","lowest_ask":"67.05","highest_bid":"66.95","percent_change":"-1.499558953","volume":"400562","high24hr":"68.65","low24hr":"66.63"},"ETH-USD":{"last":"174.70","lowest_ask":"174.70","highest_bid":"174.45","percent_change":"-2.483951996","volume":"209640","high24hr":"179.47","low24hr":"173.68"},"USDT-USD":{"last":"1.0018","lowest_ask":"1.0019","highest_bid":"1.0011","percent_change":"-0.01996008","volume":"358423","high24hr":"1.0029","low24hr":"0.9996"}}'
  recorded_at: Thu, 05 Sep 2019 06:28:17 GMT
recorded_with: VCR 4.0.0
