---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/spot/v2/trades/BTC-USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Iinfo:
      - 2-31224494-31224496 NNNN CT(51 53 0) RT(1567664896857 29) q(0 0 1 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"time":"2019-09-05T06:26:47.722Z","symbol":"BTC-USD","price":10582.0,"amount":0.011,"type":"sell","serial_id":"89390422"},{"time":"2019-09-05T06:26:40.627Z","symbol":"BTC-USD","price":10581.8,"amount":0.109,"type":"sell","serial_id":"89390416"},{"time":"2019-09-05T06:25:22.271Z","symbol":"BTC-USD","price":10577.8,"amount":0.145,"type":"buy","serial_id":"89390339"},{"time":"2019-09-05T06:25:21.794Z","symbol":"BTC-USD","price":10577.5,"amount":0.094,"type":"sell","serial_id":"89390337"},{"time":"2019-09-05T06:23:44.799Z","symbol":"BTC-USD","price":10579.6,"amount":0.118,"type":"sell","serial_id":"89390195[...]
