---
http_interactions:
- request:
    method: get
    uri: https://websitewebapi.ccore.io/integration/dailyhistory?partnerId=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ETH_BTC":{"id":1,"last":0.02414709,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"LTC_BTC":{"id":2,"last":0.00900000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"BCH_BTC":{"id":3,"last":0.08600000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"LTC_ETH":{"id":4,"last":0.22000000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"BTC_USDT":{"id":15,"last":6320.48251510,"lowestAsk":6320.4825150999995,"highestBid":6320.4825150999995,"percentChange":0.0,"baseVolume":1.9999902822530928,"high24hr":6320.4825150999995,"low24hr":6320.4825150999995},"ETH_USDT":{"id":16,"last":288.00000000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"BCH_USDT":{"id":17,"last":620.00000000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"LTC_USDT":{"id":18,"last":65.00000000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"LTC_CCO":{"id":25,"last":220.00000000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"CCO_USDT":{"id":41,"last":0.15041889,"lowestAsk":0.14131266,"highestBid":0.15041889,"percentChange":0.0,"baseVolume":0.0287272715979,"high24hr":0.15041889,"low24hr":0.14131266},"CCO_BTC":{"id":42,"last":0.00006900,"lowestAsk":6.9E-05,"highestBid":6.9E-05,"percentChange":0.0,"baseVolume":3.1999992E-07,"high24hr":6.9E-05,"low24hr":6.9E-05},"CCO_ETH":{"id":43,"last":0.00200000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"BCH_CCO":{"id":44,"last":20.00000000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"CS_BTC":{"id":45,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"CS_ETH":{"id":46,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"CS_USDT":{"id":47,"last":0.30000000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"CS_CCO":{"id":48,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"TTC_BTC":{"id":49,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"TTC_ETH":{"id":50,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"TTC_USDT":{"id":51,"last":0.04000000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"TTC_CCO":{"id":52,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"LYM_BTC":{"id":53,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"LYM_ETH":{"id":54,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"LYM_USDT":{"id":55,"last":0.02000000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"LYM_CCO":{"id":56,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"PLAT_BTC":{"id":65,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"PLAT_ETH":{"id":66,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"PLAT_CCO":{"id":67,"last":0.10000000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"IMVR_BTC":{"id":68,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"IMVR_ETH":{"id":69,"last":0.00001300,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"IMVR_USDT":{"id":70,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"IMVR_CCO":{"id":71,"last":0.02100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"STM_BTC":{"id":72,"last":0.00005000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"STM_ETH":{"id":73,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0},"STM_CCO":{"id":74,"last":0.00100000,"lowestAsk":0.0,"highestBid":0.0,"percentChange":0.0,"baseVolume":0.0,"high24hr":0.0,"low24hr":0.0}}'
  recorded_at: Sat, 13 Oct 2018 16:31:02 GMT
recorded_with: VCR 4.0.0
