---
http_interactions:
- request:
    method: get
    uri: https://www.zooomex.com/api/v2/trade/public/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c0d59494fc62f36d04e747fe9cf754a"
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 193.232.173.109
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"ethusdt","name":"ETH/USDT","base_unit":"eth","quote_unit":"usdt","ask_fee":"0.0","bid_fee":"0.0","min_price":"0.00001","max_price":"20000.0","min_amount":"0.001","amount_precision":5,"price_precision":5,"state":"enabled"},{"id":"btcusdt","name":"BTC/USDT","base_unit":"btc","quote_unit":"usdt","ask_fee":"0.0","bid_fee":"0.0","min_price":"0.01","max_price":"0.0","min_amount":"0.001","amount_precision":8,"price_precision":2,"state":"enabled"},{"id":"ltcusdt","name":"LTC/USDT","base_unit":"ltc","quote_unit":"usdt","ask_fee":"0.0","bid_fee":"0.0","min_price":"0.000001","max_price":"0.0","min_amount":"0.01","amount_precision":6,"price_precision":6,"state":"enabled"},{"id":"ethbtc","name":"ETH/BTC","base_unit[...]
