---
http_interactions:
- request:
    method: get
    uri: https://api.dydx.exchange/v1/perpetual-markets/PBTC-USDC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"206-QKSVMrUI6cMgiip1olfL/Msi9yI"
      X-Response-Time:
      - '2.273'
    body:
      encoding: UTF-8
      string: '{"market":{"uuid":"f6d20698-32ac-4f3a-a9c4-b6b7528b7b94","market":"PBTC-USDC","oraclePrice":"91.707","fundingRate":"0.000000010820552107","minCollateral":"1.075","globalIndexValue":"1.559448030143359378","globalIndexTimestamp":"1590632360","decimals":"8","minimumTickSize":"0.01","minimumOrderSize":"10000","smallOrderThreshold":"1000000","makerFee":"-0.00025","largeTakerFee":"0.005","smallTakerFee":"0.00075","openInterest":"5559747102","createdAt":"2020-04-09T22:42:35.696Z","updatedAt":"2020-05-28T02:27:45.622Z"}}'
  recorded_at: Thu, 28 May 2020 02:27:51 GMT
recorded_with: VCR 4.0.0
