---
http_interactions:
- request:
    method: get
    uri: https://api.dydx.exchange/v1/stats/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"35b-Nw7iyKz2IwL4HAwQHjDn935Vi7A"
      X-Response-Time:
      - '1.019'
    body:
      encoding: UTF-8
      string: '{"markets":{"ETH-DAI":{"symbol":"ETH-DAI","low":"235.7300","high":"246.0000","open":"236.4900","last":"242.0200","count":"362","baseVolume":"4066.1717","quoteVolume":"982509.5414","usdVolume":"982509.5414","type":"SPOT"},"ETH-USDC":{"symbol":"ETH-USDC","low":"236.9700","high":"246.5400","open":"237.0000","last":"243.2100","count":"430","baseVolume":"9164.8429","quoteVolume":"2212495.3949","usdVolume":"2212495.3949","type":"SPOT"},"DAI-USDC":{"symbol":"DAI-USDC","low":"1.0018","high":"1.0034","open":"1.0018","last":"1.0034","count":"24","baseVolume":"108072.9814","quoteVolume":"108285.1441","usdVolume":"108285.1441","type":"SPOT"},"PBTC-USDC":{"symbol":"PBTC-USDC","low":"9527.0000","high":"9674.0000","open":"9527.0000","last":"9640.0000","count":"104","baseVolume":"69.5195","quoteVolume":"668923.8477","usdVolume":"668923.8477","type":"PERPETUAL"}}}'
  recorded_at: Thu, 04 Jun 2020 06:19:39 GMT
recorded_with: VCR 4.0.0
