---
http_interactions:
- request:
    method: get
    uri: https://api.forkdelta.app/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ETH_0x940d73c":{"tokenAddr":"0x940d73c91db9f82440702f6cc8323a8c60583777","quoteVolume":"0","baseVolume":"0","last":null,"bid":"0.0000110000","ask":null,"updated":"2018-02-28T20:16:52.772658"},"ETH_0x4b4e611":{"tokenAddr":"0x4b4e611823702285fd526d7a8a3b0aa99ab2dbcd","quoteVolume":"0","baseVolume":"0","last":"0.001992590001","bid":"0.000103759","ask":"0.00999259","updated":"2018-04-03T13:21:33.311035"},"ETH_0x382a71e":{"tokenAddr":"0x382a71ecb288da8701428406a36ffa5d8f072d55","quoteVolume":"0","baseVolume":"0","last":"0.0000011170000000","bid":"3.1400000000000e-7","ask":"0.0000031320000000000","updated":"2018-03-08T19:53:33.305681"},"ETH_0xf923ba6":{"tokenAddr":"0xf923ba61b43161a83afe2cab7d77ea1e41f27918","quoteVolume":"0","baseVolume":"0","last":"0.0004999990000","bid":"0.0000020000","ask":"0.0888","updated":"2018-03-15T23:54:54.698740"},"ETH_0xe6efd46":{"tokenAddr":"0xe6efd46eb6cdd73a7fe1e760fa0c25a299755a4b","quoteVolume":"0","baseVolume":"0","last":"0.0000015000000000000","bid":"0.000010040000","ask":"0.0011","updated":"2018-03-21T02:12:32.563301"},"ETH_0xc9d4036":{"tokenAddr":"0xc9d40360cac0d5fd69e9ddc2e32d9b683bb51ad4","quoteVolume":"0","baseVolume":"0","last":null,"bid":"2.0000e-8","ask":null,"updated":"2018-03-05T19:21:40.944527"},"ETH_0x1c83501":{"tokenAddr":"0x1c83501478f1320977047008496dacbd60bb15ef","quoteVolume":"0","baseVolume":"0","last":null,"bid":"0.000019890403870000","ask":null,"updated":"2018-04-09T14:24:27.559589"},"ETH_0x7083840":{"tokenAddr":"0x70838403ecc194b73e50b70a177b2ef413a2f421","quoteVolume":"2000000.000","baseVolume":"0.002098000000","last":"1.04900000000e-9","bid":"5.00000000e-10","ask":"0.0000880000","updated":"2018-04-03T13:27:18.227740"},"ETH_0xa089273":{"tokenAddr":"0xa089273724e07644da9739a708e544800d925115","quoteVolume":"0","baseVolume":"0","last":null,"bid":"7.50000e-8","ask":null,"updated":"2018-04-03T13:35:45.020993"},"ETH_0xe25f097":{"tokenAddr":"0xe25f0974fea47682f6a7386e4217da70512ec997","quoteVolume":"0","baseVolume":"0","last":"0.00003870000","bid":"0.0000030480000","ask":"0.000036750000","updated":"2018-08-16T04:30:56.493300"},"ETH_0x3293cc9":{"tokenAddr":"0x3293cc907fde439b39aedaf1b982785adaff186b","quoteVolume":"0","baseVolume":"0","last":"0.011","bid":"0.008","ask":"0.0145","updated":"2018-08-16T04:27:40.850739"},"ETH_0x6f1a769":{"tokenAddr":"0x6f1a769952c60b2d03f46419adeda91d87866dab","quoteVolume":"0","baseVolume":"0","last":"0.0000013400000000000","bid":"0.0000014690000","ask":"0.000184979","updated":"2018-08-16T04:28:47.094322"},"ETH_0x6f7a4ba":{"tokenAddr":"0x6f7a4bac3315b5082f793161a22e26666d22717f","quoteVolume":"0","baseVolume":"0","last":"0.0000051120000020000","bid":"0.0000120000","ask":"0.0000199990000","updated":"2018-08-16T04:28:47.699355"},"ETH_0x70a7283":{"tokenAddr":"0x70a72833d6bf7f508c8224ce59ea1ef3d0ea3a38","quoteVolume":"0","baseVolume":"0","last":"0.0001170820000","bid":"0.0001002","ask":"0.000179082","updated":"2018-08-16T04:28:49.259615"},"ETH_0xe26517a":{"tokenAddr":"0xe26517a9967299453d3f1b48aa005e6127e67210","quoteVolume":"0","baseVolume":"0","last":"0.000022000500010000","bid":"0.000005110000","ask":"0.000276667","updated":"2018-08-16T04:30:56.793278"},"ETH_0xe42ba55":{"tokenAddr":"0xe42ba5558b00d2e6109cc60412d5d4c9473fe998","quoteVolume":"0","baseVolume":"0","last":"0.0000012020000","bid":"3.260000e-7","ask":"8.60000e-7","updated":"2018-08-16T04:31:00.220761"},"ETH_0xe531642":{"tokenAddr":"0xe531642e9bb5d027e9c20e03284287b97919a9a5","quoteVolume":"249.2273951","baseVolume":"0.0001371996810","last":"5.5050000000000e-7","bid":"5.20000e-7","ask":"0.00001099990000","updated":"2018-08-16T04:31:01.825760"},"ETH_0xe58aff4":{"tokenAddr":"0xe58aff48f738b4a719d1790587cdc91a3560d7e1","quoteVolume":"0","baseVolume":"0","last":"4.49990000e-8","bid":"3.250000e-8","ask":"4.390000e-7","updated":"2018-08-16T04:31:02.139671"},"ETH_0xe5a219d":{"tokenAddr":"0xe5a219d4db92a701e79b6e548803c8ce55138686","quoteVolume":"0","baseVolume":"0","last":null,"bid":"1.10000e-8","ask":null,"updated":"2018-08-16T04:31:02.411863"},"ETH_0xe7775a6":{"tokenAddr":"0xe7775a6e9bcf904eb39da2b68c5efb4f9360e08c","quoteVolume":"30.00000000","baseVolume":"0.1080000000","last":"0.0036","bid":"0.00200001","ask":"0.0036","updated":"2018-08-16T04:31:05.160076"},"ETH_0xea097a2":{"tokenAddr":"0xea097a2b1db00627b2fa17460ad260c016016977","quoteVolume":"0","baseVolume":"0","last":"0.0000750000","bid":"0.00015","ask":"0.000479999","updated":"2018-08-16T04:31:07.563062"},"ETH_0xeb99510":{"tokenAddr":"0xeb9951021698b42e4399f9cbb6267aa35f82d59d","quoteVolume":"0","baseVolume":"0","last":"0.000799999","bid":"0.000375","ask":"0.000795","updated":"2018-08-16T04:31:10.105615"},"ETH_0xeb9c013":{"tokenAddr":"0xeb9c0138d8ac10dd659640a4cc3d135c58b17b1b","quoteVolume":"0","baseVolume":"0","last":"4.0000e-7","bid":"1.110000e-8","ask":"3.950000e-7","updated":"2018-08-16T04:31:10.410857"},"ETH_0x7b22938":{"tokenAddr":"0x7b22938ca841aa392c93dbb7f4c42178e3d65e88","quoteVolume":"0","baseVolume":"0","last":"0.00176","bid":"0.0018","ask":"0.002229","updated":"2018-08-16T04:28:58.732580"},"ETH_0x814f67f":{"tokenAddr":"0x814f67fa286f7572b041d041b1d99b432c9155ee","quoteVolume":"0","baseVolume":"0","last":"0.0004501019998","bid":"0.00032","ask":"0.001","updated":"2018-08-16T04:29:05.174889"},"ETH_0xe94327d":{"tokenAddr":"0xe94327d07fc17907b4db788e5adf2ed424addff6","quoteVolume":"3.000000000","baseVolume":"0.3238999999","last":"0.1079","bid":"0.0766","ask":"0.1078","updated":"2018-07-12T10:13:52.320341"},"ETH_0xebc86d8":{"tokenAddr":"0xebc86d834756621444a8a26b4cf81b625fe310cd","quoteVolume":"0","baseVolume":"0","last":"3.2039999990000e-7","bid":"4.0450000e-7","ask":"0.0000083510000","updated":"2018-08-16T04:31:10.986093"},"ETH_0x81c9151":{"tokenAddr":"0x81c9151de0c8bafcd325a57e3db5a5df1cebf79c","quoteVolume":"0","baseVolume":"0","last":"0.000037800000000000","bid":"0.0000250010000","ask":"0.000040000","updated":"2018-08-16T04:29:06.165101"},"ETH_0xedcd827":{"tokenAddr":"0xedcd82784027001d7af57a34501c65a25f97fee4","quoteVolume":"0","baseVolume":"0","last":"0.00000950000","bid":"1.520000e-7","ask":"0.000008990000","updated":"2018-08-16T04:31:11.650492"},"ETH_0xedf2d3e":{"tokenAddr":"0xedf2d3e5fb70ead2e6d8fe96845a5e59d52d2044","quoteVolume":"0","baseVolume":"0","last":"2.490000e-7","bid":"3.100000000e-9","ask":"6.40000e-8","updated":"2018-08-16T04:31:11.926164"},"ETH_0xee9704a":{"tokenAddr":"0xee9704a1d61aa2c1401e2303ac7e1f81c29ed860","quoteVolume":"0","baseVolume":"0","last":"1.6000000e-8","bid":"3.10000000000000000e-9","ask":"2.8000000000000e-8","updated":"2018-08-16T04:31:12.797907"},"ETH_0xf230b79":{"tokenAddr":"0xf230b790e05390fc8295f4d3f60332c93bed42e2","quoteVolume":"1299.658928","baseVolume":"0.1067069831","last":"0.000083000000160000","bid":"0.0000710000","ask":"0.0000830000","updated":"2018-08-16T04:26:19.690263"},"ETH_0xf244176":{"tokenAddr":"0xf244176246168f24e3187f7288edbca29267739b","quoteVolume":"0","baseVolume":"0","last":"0.0002000000001","bid":"0.0002","ask":"0.0011","updated":"2018-08-16T04:26:20.013371"},"ETH_0xfd784da":{"tokenAddr":"0xfd784da5c740c617aafb80399fa81b86e1da99a5","quoteVolume":"0","baseVolume":"0","last":"0.0000010109999990000","bid":"0.00000111450000","ask":"0.0002739999","updated":"2018-08-16T04:26:31.797615"},"ETH_0xfdbc1ad":{"tokenAddr":"0xfdbc1adc26f0f8f8606a5d63b7d3a3cd21c22b23","quoteVolume":"0","baseVolume":"0","last":"0.00035","bid":"0.000152003","ask":"0.0004589","updated":"2018-08-16T04:26:32.101469"},"ETH_0x31b5e97":{"tokenAddr":"0x31b5e97294e1afd6fff6ffe4cba89a344555f753","quoteVolume":"0","baseVolume":"0","last":"0.0008","bid":"0.00001240000","ask":"0.00069","updated":"2018-08-16T04:27:40.249568"},"ETH_0x84c2c31":{"tokenAddr":"0x84c2c31c04339c9938adfe3f8013315c8906f071","quoteVolume":"0","baseVolume":"0","last":"4.30000e-7","bid":"3.50000e-8","ask":"3.440000e-7","updated":"2018-08-16T04:29:09.134140"},"ETH_0x8508938":{"tokenAddr":"0x85089389c14bd9c77fc2b8f0c3d1dc3363bf06ef","quoteVolume":"0","baseVolume":"0","last":"0.000061103000000000","bid":"0.0000325010000","ask":"0.000989999","updated":"2018-08-16T04:29:09.436636"},"ETH_0x85a7c57":{"tokenAddr":"0x85a7c57a4068280dd1166089a18acf35b4ba11e2","quoteVolume":"0","baseVolume":"0","last":"1.7000000000000e-8","bid":"1.60000e-8","ask":"9.80000e-7","updated":"2018-08-16T04:29:09.894535"},"ETH_0x9a005c9":{"tokenAddr":"0x9a005c9a89bd72a4bd27721e7a09a3c11d2b03c4","quoteVolume":"0","baseVolume":"0","last":"0.0000011100000000000","bid":"0.000001210000","ask":"0.0000130000","updated":"2018-08-16T04:29:35.797132"},"ETH_0x9a0242b":{"tokenAddr":"0x9a0242b7a33dacbe40edb927834f96eb39f8fbcb","quoteVolume":"0","baseVolume":"0","last":"0.0000020000","bid":"0.000001680000","ask":"0.0000022430000","updated":"2018-08-16T04:29:36.074504"},"ETH_0xbd35aef":{"tokenAddr":"0xbd35aefa375b57a801ddc87615aef1e9f353df28","quoteVolume":"0","baseVolume":"0","last":"1.00000000e-9","bid":"1.100000000e-9","ask":"3.00000000e-9","updated":"2018-08-16T04:30:16.576639"},"ETH_0xdded69d":{"tokenAddr":"0xdded69d8e28d38d640f6244ab5294f309fd40ce1","quoteVolume":"0","baseVolume":"0","last":"0.0000043980000","bid":"2.160000e-7","ask":"0.0000019950000","updated":"2018-08-16T04:30:52.797556"},"ETH_0xbd4b60a":{"tokenAddr":"0xbd4b60a138b3fce3584ea01f50c0908c18f9677a","quoteVolume":"0","baseVolume":"0","last":"0.000030501500000000","bid":"0.0000302140000","ask":"0.000399984","updated":"2018-08-16T04:30:16.846197"},"ETH_0xbdc5bac":{"tokenAddr":"0xbdc5bac39dbe132b1e030e898ae3830017d7d969","quoteVolume":"2026.000000","baseVolume":"0.03059260000","last":"0.00001510000","bid":"0.000012410000","ask":"0.0000720000","updated":"2018-08-16T04:30:17.154393"},"ETH_0xbdcfbf5":{"tokenAddr":"0xbdcfbf5c4d91abc0bc9709c7286d00063c0e6f22","quoteVolume":"0","baseVolume":"0","last":"0.0000098751744080000","bid":"0.0000022230000","ask":"0.0000370000","updated":"2018-08-16T04:30:17.436560"},"ETH_0xbeb9ef5":{"tokenAddr":"0xbeb9ef514a379b997e0798fdcc901ee474b6d9a1","quoteVolume":"2.243025000","baseVolume":"0.08972101994","last":"0.04","bid":"0.014","ask":"0.081499999","updated":"2018-08-16T04:30:17.727077"},"ETH_0xbec8f6d":{"tokenAddr":"0xbec8f6d667594fb181c9d68e5c80c910888be93d","quoteVolume":"0","baseVolume":"0","last":"1.50000e-8","bid":"1.60000e-8","ask":"4.80000e-7","updated":"2018-08-16T04:30:18.015026"},"ETH_0xce3d9c3":{"tokenAddr":"0xce3d9c3f3d302436d12f18eca97a3b00e97be7cd","quoteVolume":"0","baseVolume":"0","last":"200","bid":"1.0950000e-7","ask":null,"updated":"2018-08-16T04:30:35.552164"},"ETH_0xd024645":{"tokenAddr":"0xd024645809f74043cd2133c6afeb46f0de4ad88f","quoteVolume":"0","baseVolume":"0","last":"8.0000e-7","bid":"3.50000e-8","ask":"5.670000e-7","updated":"2018-08-16T04:30:38.582091"},"ETH_0xd04963d":{"tokenAddr":"0xd04963de435bd4d25b1cc8f05870f49edbfc8c18","quoteVolume":"0","baseVolume":"0","last":"1.420000e-7","bid":"1.50000e-8","ask":"4.90000e-7","updated":"2018-08-16T04:30:38.913763"},"ETH_0xd230844":{"tokenAddr":"0xd2308446536a0bad028ab8c090d62e1ea2a51f24","quoteVolume":"0","baseVolume":"0","last":"0.00024280000","bid":"0.0002350000000","ask":"0.0002510000000","updated":"2018-08-16T04:30:40.254257"},"ETH_0xd234bf2":{"tokenAddr":"0xd234bf2410a0009df9c3c63b610c09738f18ccd7","quoteVolume":"0","baseVolume":"0","last":"0.000049999999980000","bid":"0.000040000","ask":"0.000148","updated":"2018-08-16T04:30:40.572586"},"ETH_0xd286603":{"tokenAddr":"0xd286603e0f5de621b510a36c78c7616c015656f2","quoteVolume":"0","baseVolume":"0","last":"0.0001","bid":"0.0000020290000","ask":"0.0000890000","updated":"2018-08-16T04:30:41.395145"},"ETH_0xd2d6158":{"tokenAddr":"0xd2d6158683aee4cc838067727209a0aaf4359de3","quoteVolume":"0","baseVolume":"0","last":"0.0000350000","bid":"0.0000256230000","ask":"0.0000944980000","updated":"2018-08-16T04:30:41.694561"},"ETH_0xd3c0077":{"tokenAddr":"0xd3c00772b24d997a812249ca637a921e81357701","quoteVolume":"0","baseVolume":"0","last":"0.0000578880000","bid":"0.000021050000","ask":"0.0000557880000","updated":"2018-08-16T04:30:42.635268"},"ETH_0xd4c435f":{"tokenAddr":"0xd4c435f5b09f855c3317c8524cb1f586e42795fa","quoteVolume":"0","baseVolume":"0","last":"0.000175","bid":"0.0000502010000","ask":"0.000165","updated":"2018-08-16T04:30:43.455557"},"ETH_0xd5b9a27":{"tokenAddr":"0xd5b9a2737c9b2ff35ecb23b884eb039303bbbb61","quoteVolume":"140.0000000","baseVolume":"0.02366000000","last":"0.000169","bid":"0.0000130000","ask":"0.00016899","updated":"2018-08-16T04:30:44.329599"},"ETH_0xd5f788c":{"tokenAddr":"0xd5f788ca0de8f17cbde1d1e35aa8f005a87fa00b","quoteVolume":"0","baseVolume":"0","last":null,"bid":"1.1150000e-7","ask":null,"updated":"2018-08-16T04:30:44.545036"},"ETH_0xd65960f":{"tokenAddr":"0xd65960facb8e4a2dfcb2c2212cb2e44a02e2a57e","quoteVolume":"0","baseVolume":"0","last":"0.000040000","bid":"0.0000320000","ask":"0.0001","updated":"2018-08-16T04:30:44.794351"},"ETH_0xd6e4980":{"tokenAddr":"0xd6e49800decb64c0e195f791348c1e87a5864fd7","quoteVolume":"0","baseVolume":"0","last":"0.0002","bid":"0.0000016570000","ask":"0.0000990000","updated":"2018-08-16T04:30:45.358196"},"ETH_0xd7aa94f":{"tokenAddr":"0xd7aa94f17d60be06414973a45ffa77efd6443f0f","quoteVolume":"0","baseVolume":"0","last":"0.00000970000","bid":"1.460000e-7","ask":"0.00000970000","updated":"2018-08-16T04:30:46.208146"},"ETH_0xd819e89":{"tokenAddr":"0xd819e892f4df8659188e8bda839fdf2215a513bc","quoteVolume":"0","baseVolume":"0","last":"3.2990000000000e-8","bid":"1.70000e-8","ask":"5.0000e-8","updated":"2018-08-16T04:30:46.469658"},"ETH_0xd884f98":{"tokenAddr":"0xd884f9881e0aeabad79be8a69122cf998d067fff","quoteVolume":"0","baseVolume":"0","last":"2.0999999990000e-8","bid":"3.00000000e-9","ask":"9.9500000000e-9","updated":"2018-08-16T04:30:47.129311"},"ETH_0xd8912c1":{"tokenAddr":"0xd8912c10681d8b21fd3742244f44658dba12264e","quoteVolume":"0","baseVolume":"0","last":"0.01001","bid":"0.01001","ask":"0.0198","updated":"2018-08-16T04:30:47.435732"},"ETH_0xdd6c68b":{"tokenAddr":"0xdd6c68bb32462e01705011a4e2ad1a60740f217f","quoteVolume":"0","baseVolume":"0","last":"0.00068","bid":"0.00060021","ask":"0.000999","updated":"2018-08-16T04:30:52.177173"},"ETH_0xff603f4":{"tokenAddr":"0xff603f43946a3a28df5e6a73172555d8c8b02386","quoteVolume":"0","baseVolume":"0","last":"0.0001211","bid":"0.0001211","ask":"0.000488","updated":"2018-08-16T04:26:34.515455"},"ETH_0xe0c21b3":{"tokenAddr":"0xe0c21b3f45fea3e5fdc811021fb1f8842caccad2","quoteVolume":"0","baseVolume":"0","last":"2.90000000e-8","bid":"3.0900000000000e-8","ask":"8.0000000000000e-8","updated":"2018-08-16T04:30:54.697239"},"ETH_0xe13ef25":{"tokenAddr":"0xe13ef257cf4d5df928ca11d230427c037666d466","quoteVolume":"0","baseVolume":"0","last":"0.0000012090000000000","bid":"0.0000012090000","ask":"0.00003140000","updated":"2018-08-16T04:30:54.952657"},"ETH_0xe6923e9":{"tokenAddr":"0xe6923e9b56db1eed1c9f430ea761da7565e260fe","quoteVolume":"0","baseVolume":"0","last":"0.000025890000","bid":"0.000001010000","ask":"0.00002450000","updated":"2018-08-16T04:31:04.239663"},"ETH_0x25432dd":{"tokenAddr":"0x25432dd810730331498c22fbf6b98432e7ef3e66","quoteVolume":"0","baseVolume":"0","last":null,"bid":"0.00001090000","ask":null,"updated":"2018-08-16T04:27:24.196885"},"ETH_0x2cfd4c1":{"tokenAddr":"0x2cfd4c10c075fa51649744245ec1d0aa3d567e23","quoteVolume":"0","baseVolume":"0","last":"1.5899999990000e-7","bid":"1.490000e-7","ask":"6.820000e-7","updated":"2018-08-16T04:27:34.445669"},"ETH_0x2f4baef":{"tokenAddr":"0x2f4baef93489b09b5e4b923795361a65a26f55e5","quoteVolume":"0","baseVolume":"0","last":"0.001244890000","bid":"0.0011","ask":"0.00148489","updated":"2018-08-16T04:27:37.586040"},"ETH_0x30cc0e2":{"tokenAddr":"0x30cc0e266cf33b8eac6a99cbd98e39b890cfd69b","quoteVolume":"0","baseVolume":"0","last":"0.0000020000","bid":"4.0000e-7","ask":"0.0000020000","updated":"2018-08-16T04:27:39.381587"},"ETH_0x3136ef8":{"tokenAddr":"0x3136ef851592acf49ca4c825131e364170fa32b3","quoteVolume":"1990.000000","baseVolume":"0.09253500000","last":"0.00004650000","bid":"0.00004680000","ask":"0.0000550000","updated":"2018-08-16T04:27:39.651385"},"ETH_0x6d5cac3":{"tokenAddr":"0x6d5cac36c1ae39f41d52393b7a425d0a610ad9f2","quoteVolume":"0","baseVolume":"0","last":"0.0015","bid":"0.0000300020000","ask":"0.0015","updated":"2018-08-16T04:28:45.976906"},"ETH_0xcfb9863":{"tokenAddr":"0xcfb98637bcae43c13323eaa1731ced2b716962fd","quoteVolume":"0","baseVolume":"0","last":"0.00099","bid":"0.001000001","ask":"0.00196","updated":"2018-08-16T04:30:38.296614"},"ETH_0xd317ff4":{"tokenAddr":"0xd317ff47dc7e1423e5e050870a66332833e5fd88","quoteVolume":"0","baseVolume":"0","last":"1.999999999000000000000e-16","bid":"1.000000000000000000000e-16","ask":"2.000000000000000000000e-16","updated":"2018-08-16T04:30:41.996451"},"ETH_0xe755f2f":{"tokenAddr":"0xe755f2fa95e47c5588c3037dd38e1268fa5fcecd","quoteVolume":"0","baseVolume":"0","last":"1.0100000000000e-7","bid":"4.20000e-8","ask":"8.0000e-7","updated":"2018-08-16T04:31:04.869571"},"ETH_0x6fff380":{"tokenAddr":"0x6fff3806bbac52a20e0d79bc538d527f6a22c96b","quoteVolume":"0","baseVolume":"0","last":"0.000021000000000000","bid":"0.0000250000","ask":"0.000149669","updated":"2018-08-16T04:28:48.027152"},"ETH_0x7b69b78":{"tokenAddr":"0x7b69b78cc7fee48202c208609ae6d1f78ce42e13","quoteVolume":"0","baseVolume":"0","last":"0.0000015009000000000","bid":"2.050000e-7","ask":"0.000004280000","updated":"2018-08-16T04:28:59.069877"},"ETH_0xd6adc5e":{"tokenAddr":"0xd6adc5e386d499361ccc5752f791b45132e7e6e4","quoteVolume":"0","baseVolume":"0","last":"0.00000140000000","bid":"1.0550000000000e-7","ask":"0.0000011995600000000","updated":"2018-08-16T04:30:45.043394"},"ETH_0xe2f45f1":{"tokenAddr":"0xe2f45f1660dc99daf3bd06f637ab1e4debc15bde","quoteVolume":"0","baseVolume":"0","last":"0.0000015650000000000","bid":"0.00000156550000","ask":"0.000024950000","updated":"2018-08-16T04:30:57.944710"},"ETH_0x68db10e":{"tokenAddr":"0x68db10ecc599d9f5e657acdafdbf6449d658bb2d","quoteVolume":"0","baseVolume":"0","last":"0.0000057190000000000","bid":"0.0000042320000","ask":"0.000177779","updated":"2018-08-16T04:28:42.173432"},"ETH_0x6978685":{"tokenAddr":"0x69786859bc92e0ca82fcfe1bffc502b7bea6a069","quoteVolume":"0","baseVolume":"0","last":"0.000001250000","bid":"0.0000010020000","ask":"0.0000025880000","updated":"2018-08-16T04:28:42.477680"},"ETH_0x6b0611c":{"tokenAddr":"0x6b0611c65b53e72429d799ed512d0da123ac0fb9","quoteVolume":"0","baseVolume":"0","last":"5.0000e-8","bid":"1.10000e-8","ask":"0.00000450000","updated":"2018-08-16T04:28:44.196282"},"ETH_0x7ea4c29":{"tokenAddr":"0x7ea4c29d3d37f9b259be610b67b3125c4d095d02","quoteVolume":"0","baseVolume":"0","last":"5.9900000000e-9","bid":"1.100000000e-9","ask":"5.300000000e-9","updated":"2018-08-16T04:29:02.454168"},"ETH_0x7f1e2c7":{"tokenAddr":"0x7f1e2c7d6a69bf34824d72c53b4550e895c0d8c2","quoteVolume":"0","baseVolume":"0","last":"0.000030299999990000","bid":"0.0000103190000","ask":"0.001122289","updated":"2018-08-16T04:29:02.721015"},"ETH_0x3adfc49":{"tokenAddr":"0x3adfc4999f77d04c8341bac5f3a76f58dff5b37a","quoteVolume":"0","baseVolume":"0","last":"0.0023","bid":"0.002500011","ask":"0.0064","updated":"2018-08-16T04:27:50.025488"},"ETH_0x80a7e04":{"tokenAddr":"0x80a7e048f37a50500351c204cb407766fa3bae7f","quoteVolume":"237.3965154","baseVolume":"0.3149322740","last":"0.001342001000","bid":"0.00111111","ask":"0.00183","updated":"2018-08-16T04:29:03.657631"},"ETH_0x3eb21f4":{"tokenAddr":"0x3eb21f4678b352fcd8facf06b642c6720e04961b","quoteVolume":"0","baseVolume":"0","last":"2.1999999990000e-8","bid":"1.80000e-8","ask":"8.30000e-8","updated":"2018-08-16T04:27:51.482198"},"ETH_0x3f5bc4f":{"tokenAddr":"0x3f5bc4fc79b5f8b93ff4814cd9f9a281893d50c9","quoteVolume":"0","baseVolume":"0","last":"3.30000e-8","bid":"3.20000e-8","ask":"1.40000e-7","updated":"2018-08-16T04:27:51.747891"},"ETH_0x85e0763":{"tokenAddr":"0x85e076361cc813a908ff672f9bad1541474402b2","quoteVolume":"70000.00000","baseVolume":"0.1765443983","last":"0.00000220000","bid":"0.00000190000","ask":"0.000002450000","updated":"2018-08-16T04:29:10.188722"},"ETH_0x8633e14":{"tokenAddr":"0x8633e144f2d9b9b8bdd12ddb58e4bef1e163a0ce","quoteVolume":"0","baseVolume":"0","last":"0.0000022630000000000","bid":"0.0000022630000","ask":"0.0000080000","updated":"2018-08-16T04:29:10.482460"},"ETH_0x86410db":{"tokenAddr":"0x86410db4d61c40a8e1df9f859069d5a15896195b","quoteVolume":"0","baseVolume":"0","last":"7.40000e-8","bid":"4.050000e-8","ask":"0.0000010000","updated":"2018-08-16T04:29:10.795692"},"ETH_0x4162178":{"tokenAddr":"0x4162178b78d6985480a308b2190ee5517460406d","quoteVolume":"0","baseVolume":"0","last":"0.000057300000010000","bid":"0.000061220000","ask":"0.005000000011","updated":"2018-08-16T04:27:54.182388"},"ETH_0x419c4db":{"tokenAddr":"0x419c4db4b9e25d6db2ad9691ccb832c8d9fda05e","quoteVolume":"156.0000000","baseVolume":"0.06552000000","last":"0.00042","bid":"0.000491","ask":"0.000769","updated":"2018-08-16T04:27:54.511795"},"ETH_0x41dbecc":{"tokenAddr":"0x41dbecc1cdc5517c6f76f6a6e836adbee2754de3","quoteVolume":"0","baseVolume":"0","last":"0.0001000010000","bid":"0.0000687010000","ask":"0.000299","updated":"2018-08-16T04:27:55.575857"},"ETH_0x40b0416":{"tokenAddr":"0x40b04166871d9956f5f261d76d349da8d07f82c3","quoteVolume":"100000000.0","baseVolume":"0.1100000000","last":"1.100000000e-9","bid":"1.200000000e-9","ask":"0.0000110000","updated":"2018-06-06T11:42:12.863991"},"ETH_0x865d176":{"tokenAddr":"0x865d176351f287fe1b0010805b110d08699c200a","quoteVolume":"0","baseVolume":"0","last":"0.0000077900000010000","bid":"0.0000077880000","ask":"0.0000444770000","updated":"2018-08-16T04:29:11.073484"},"ETH_0x4e260e3":{"tokenAddr":"0x4e260e3ca268e40133c84b142de73108a7c1ec99","quoteVolume":"0","baseVolume":"0","last":"0.01200000000","bid":"0.0002100000000","ask":null,"updated":"2018-08-16T04:28:10.123995"},"ETH_0x8727c11":{"tokenAddr":"0x8727c112c712c4a03371ac87a74dd6ab104af768","quoteVolume":"0","baseVolume":"0","last":"0.001","bid":"0.0000551390000","ask":"0.001","updated":"2018-08-16T04:29:11.416754"},"ETH_0x87ae38d":{"tokenAddr":"0x87ae38d63a6bbb63e46219f494b549e3be7fc400","quoteVolume":"0","baseVolume":"0","last":"1.5990000e-7","bid":"3.10000e-8","ask":"8.40000e-8","updated":"2018-08-16T04:29:12.321734"},"ETH_0x881ef48":{"tokenAddr":"0x881ef48211982d01e2cb7092c915e647cd40d85c","quoteVolume":"0","baseVolume":"0","last":"0.02211118000","bid":"0.001252201","ask":"0.019895","updated":"2018-08-16T04:29:12.924796"},"ETH_0x88fcfbc":{"tokenAddr":"0x88fcfbc22c6d3dbaa25af478c578978339bde77a","quoteVolume":"0","baseVolume":"0","last":"0.0008","bid":"0.0001002","ask":"0.0045","updated":"2018-08-16T04:29:14.384470"},"ETH_0x8930350":{"tokenAddr":"0x89303500a7abfb178b274fd89f2469c264951e1f","quoteVolume":"0","baseVolume":"0","last":"0.0045","bid":"0.0045","ask":"0.0058","updated":"2018-08-16T04:29:14.707662"},"ETH_0x89d24a6":{"tokenAddr":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","quoteVolume":"0","baseVolume":"0","last":"0.003001000002","bid":"0.003021","ask":"0.0045","updated":"2018-08-16T04:29:15.322424"},"ETH_0x8ae4bf2":{"tokenAddr":"0x8ae4bf2c33a8e667de34b54938b0ccd03eb8cc06","quoteVolume":"0","baseVolume":"0","last":"0.0001425","bid":"0.000100001","ask":"0.00038999","updated":"2018-08-16T04:29:16.874596"},"ETH_0x8b35302":{"tokenAddr":"0x8b353021189375591723e7384262f45709a3c3dc","quoteVolume":"0","baseVolume":"0","last":"0.003999","bid":"0.000557022","ask":"0.00499","updated":"2018-08-16T04:29:17.777707"},"ETH_0x2eb86e8":{"tokenAddr":"0x2eb86e8fc520e0f6bb5d9af08f924fe70558ab89","quoteVolume":"0","baseVolume":"0","last":"0.0000043000000000000","bid":"1.760000e-7","ask":"0.000003190000","updated":"2018-08-16T04:27:36.348836"},"ETH_0x8b9c35c":{"tokenAddr":"0x8b9c35c79af5319c70dd9a3e3850f368822ed64e","quoteVolume":"0","baseVolume":"0","last":"1.0000000000000000e-20","bid":null,"ask":"1.00000000e-9","updated":"2018-08-16T04:29:18.023490"},"ETH_0x91126cf":{"tokenAddr":"0x91126cfa7db2983527b0b749cc8a61fdeffedc28","quoteVolume":"0","baseVolume":"0","last":"1.0000000000000000e-17","bid":"1.00000000000000000000000000000000000000000000000000000000e-60","ask":"1.0000000000000000e-17","updated":"2018-08-16T04:29:24.610972"},"ETH_0x93e6821":{"tokenAddr":"0x93e682107d1e9defb0b5ee701c71707a4b2e46bc","quoteVolume":"0","baseVolume":"0","last":"0.000070015000000000","bid":"0.000040000","ask":"0.00149999","updated":"2018-08-16T04:29:27.627488"},"ETH_0x9501bfc":{"tokenAddr":"0x9501bfc48897dceeadf73113ef635d2ff7ee4b97","quoteVolume":"0","baseVolume":"0","last":"0.0000026150000000000","bid":"0.0000026150000","ask":"0.000099150000","updated":"2018-08-16T04:29:29.372440"},"ETH_0x9541fd8":{"tokenAddr":"0x9541fd8b9b5fa97381783783cebf2f5fa793c262","quoteVolume":"0","baseVolume":"0","last":"0.00008180000","bid":"0.0000501190000","ask":"0.0002525","updated":"2018-08-16T04:29:29.690045"},"ETH_0x957c30a":{"tokenAddr":"0x957c30ab0426e0c93cd8241e2c60392d08c6ac8e","quoteVolume":"0","baseVolume":"0","last":"0.006601815807","bid":"0.002757501000","ask":"0.006549000000","updated":"2018-08-16T04:29:29.990091"},"ETH_0x95abb15":{"tokenAddr":"0x95abb152ed410cc4b6dffb3ed41d01015bdbb5d2","quoteVolume":"0","baseVolume":"0","last":"4.0000e-8","bid":"4.0000e-8","ask":"1.30000e-7","updated":"2018-08-16T04:29:30.604637"},"ETH_0xc51c938":{"tokenAddr":"0xc51c938c4d513780c66c722a41c197d3a89fa9a8","quoteVolume":"0","baseVolume":"0","last":"2.0000e-7","bid":"2.0000e-7","ask":"0.0000011360000","updated":"2018-08-16T04:30:24.894749"},"ETH_0xd0d6d6c":{"tokenAddr":"0xd0d6d6c5fe4a677d343cc433536bb717bae167dd","quoteVolume":"1307.925077","baseVolume":"0.01203060864","last":"0.0004989","bid":"0.0000038010000","ask":"0.000199","updated":"2018-08-16T04:30:39.942477"},"ETH_0xda6cb58":{"tokenAddr":"0xda6cb58a0d0c01610a29c5a65c303e13e885887c","quoteVolume":"0","baseVolume":"0","last":"0.0000053949999990000","bid":"0.0000026010000","ask":"0.0000053980000","updated":"2018-08-16T04:30:48.781627"},"ETH_0xdcb9ff8":{"tokenAddr":"0xdcb9ff81013c31ff686154b4502ef6bfaa102d2d","quoteVolume":"0","baseVolume":"0","last":"0.0000100190000","bid":"1.220000e-7","ask":"0.000974889","updated":"2018-08-16T04:30:50.692330"},"ETH_0xe4c07f4":{"tokenAddr":"0xe4c07f4637df3a0354f9b42a1b3178dc573b8926","quoteVolume":"0","baseVolume":"0","last":"1.4401401400000e-7","bid":"3.6000000000000e-8","ask":"3.2500000000000e-7","updated":"2018-08-16T04:31:01.171129"},"ETH_0x4270bb2":{"tokenAddr":"0x4270bb238f6dd8b1c3ca01f96ca65b2647c06d3c","quoteVolume":"0","baseVolume":"0","last":"0.000054310999980000","bid":"0.0000585020000","ask":"0.000199999","updated":"2018-08-16T04:27:57.118564"},"ETH_0xe50365f":{"tokenAddr":"0xe50365f5d679cb98a1dd62d6f6e58e59321bcddf","quoteVolume":"5.000000000","baseVolume":"0.001385000000","last":"0.000277","bid":"0.0001810011121","ask":"0.000277","updated":"2018-08-16T04:31:01.508645"},"ETH_0xe8fc7e1":{"tokenAddr":"0xe8fc7e1973496848fcb486c5bb880f68487ea0bb","quoteVolume":"0","baseVolume":"0","last":"5.450000e-7","bid":"1.150000e-7","ask":"0.000001750000","updated":"2018-08-16T04:31:06.591051"},"ETH_0xf04a8ac":{"tokenAddr":"0xf04a8ac553fcedb5ba99a64799155826c136b0be","quoteVolume":"0","baseVolume":"0","last":"0.000090000000020000","bid":"0.000102","ask":"0.0001799","updated":"2018-08-16T04:26:17.767292"},"ETH_0xf444cd9":{"tokenAddr":"0xf444cd92e09cc8b2a23cd2eecb3c1e4cc8da6958","quoteVolume":"0","baseVolume":"0","last":"0.00063","bid":"1.70000e-8","ask":"0.00039","updated":"2018-08-16T04:26:22.508697"},"ETH_0xfd21968":{"tokenAddr":"0xfd219686033da14219142504c7a63ae8a4912134","quoteVolume":"0","baseVolume":"0","last":"1.01407110000e-7","bid":"1.80000e-8","ask":"5.750000e-7","updated":"2018-08-16T04:26:31.497882"},"ETH_0xffc63b9":{"tokenAddr":"0xffc63b9146967a1ba33066fb057ee3722221acf0","quoteVolume":"0","baseVolume":"0","last":"0.000079500000000000","bid":"0.000009540000","ask":"0.000060000","updated":"2018-08-16T04:26:34.837360"},"ETH_0xffe8196":{"tokenAddr":"0xffe8196bc259e8dedc544d935786aa4709ec3e64","quoteVolume":"0","baseVolume":"0","last":"0.0009","bid":"0.0001555","ask":"0.00149999","updated":"2018-08-16T04:26:35.180199"},"ETH_0x049a5bf":{"tokenAddr":"0x049a5bf874f241d94232137ef728a9c7dd0d7550","quoteVolume":"0","baseVolume":"0","last":"0.000011200000000000","bid":"0.00001120000","ask":"0.00015","updated":"2018-08-16T04:26:40.187343"},"ETH_0x056017c":{"tokenAddr":"0x056017c55ae7ae32d12aef7c679df83a85ca75ff","quoteVolume":"0","baseVolume":"0","last":"0.003269000000","bid":"0.0003170219","ask":"0.0028","updated":"2018-08-16T04:26:40.468398"},"ETH_0x059e3ea":{"tokenAddr":"0x059e3ead0a5675e4139c820d799e20be9c75bc3d","quoteVolume":"0","baseVolume":"0","last":"1.0800000000000e-7","bid":"1.050000e-7","ask":"5.290000e-7","updated":"2018-08-16T04:26:40.786228"},"ETH_0x32c785e":{"tokenAddr":"0x32c785e4e8477b277fea2ca2301727084d79d933","quoteVolume":"0","baseVolume":"0","last":"0.00001967000000000","bid":"1.8600000000000e-7","ask":"0.000033261000000000","updated":"2018-08-16T04:27:41.182932"},"ETH_0x331a550":{"tokenAddr":"0x331a550a2c7f96384eb69127aa0ea9ad4b5da099","quoteVolume":"0","baseVolume":"0","last":"0.0000130030000","bid":"0.0000011110000","ask":"0.000020000","updated":"2018-08-16T04:27:41.486353"},"ETH_0xe8ff5c9":{"tokenAddr":"0xe8ff5c9c75deb346acac493c463c8950be03dfba","quoteVolume":"0","baseVolume":"0","last":"0.000024000000000000","bid":"0.0000837090000","ask":"0.000148","updated":"2018-08-16T04:31:06.899409"},"ETH_0x33803ed":{"tokenAddr":"0x33803edf44a71b9579f54cd429b53b06c0eeab83","quoteVolume":"0","baseVolume":"0","last":"0.0000069999999990000","bid":"0.0000033010000","ask":"0.0002","updated":"2018-08-16T04:27:42.132903"},"ETH_0x3635e38":{"tokenAddr":"0x3635e381c67252405c1c0e550973155832d5e490","qu
[...]
