---
http_interactions:
- request:
    method: get
    uri: https://api.thinkbit.com/v2/handicap/ETH_BTC?accuracy=1&offset=0&size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":{"asks":[{"values":["0.043967","0.1"]},{"values":["0.044152","1.09"]},{"values":["0.044288","2.08"]},{"values":["0.044581","0.22"]},{"values":["0.044883","6.1"]}],"bids":[{"values":["0.043686","0.1"]},{"values":["0.043501","1.07"]},{"values":["0.043309","3.02"]},{"values":["0.043068","4.98"]},{"values":["0.042773","0.15"]}]}}'
  recorded_at: Tue, 21 Aug 2018 11:05:11 GMT
recorded_with: VCR 4.0.0
