---
http_interactions:
- request:
    method: get
    uri: https://api.thinkbit.com/v2/market/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"time":1534846948141,"pair":"EOS_USDT","current":"4.8517","volume_current":"0","increment_24h":"-0.1881","highest_24h":"5.1363","lowest_24h":"4.6776","volume_24h":"92562.66870000001","highest_bid":"4.8347","highest_bid_amount":"0.2118","lowest_ask":"4.8692","lowest_ask_amount":"9.65","change_24h":"-3.7323"},{"time":1534846947861,"pair":"EOS_BTC","current":"0.000753","volume_current":"0","increment_24h":"-0.000036","highest_24h":"0.000798","lowest_24h":"0.000746","volume_24h":"89031.6406","highest_bid":"0.000747","highest_bid_amount":"4.98","lowest_ask":"0.000758","lowest_ask_amount":"4.9","change_24h":"-4.5627"},{"time":1534846948616,"pair":"LTC_BTC","current":"0.008624","volume_current":"2.0609","increment_24h":"-0.000037","highest_24h":"0.008843","lowest_24h":"0.008487","volume_24h":"1[...]
