---
http_interactions:
- request:
    method: get
    uri: https://api.thinkbit.com/v2/deal/ETH_BTC?size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"time":1534849816124,"side":"sell","values":["0.043819","0.8325"]},{"time":1534849605134,"side":"sell","values":["0.043823","1.2568"]},{"time":1534849367127,"side":"sell","values":["0.043829","1.059"]},{"time":1534849070131,"side":"buy","values":["0.04382","1.1169"]},{"time":1534848834118,"side":"buy","values":["0.043811","0.6207"]},{"time":1534848595136,"side":"buy","values":["0.043717","1.2643"]},{"time":1534848391135,"side":"sell","values":["0.04381","0.57"]},{"time":1534848181137,"side":"buy","values":["0.043712","1.4726"]},{"time":15[...]
