---
http_interactions:
- request:
    method: get
    uri: https://api.thinkbit.com/v2/market/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"time":1534847772141,"pair":"EOS_USDT","current":"4.8682","volume_current":"0","increment_24h":"-0.1885","highest_24h":"5.1363","lowest_24h":"4.6776","volume_24h":"92855.0087","highest_bid":"4.8321","highest_bid_amount":"9.8","lowest_ask":"4.9038","lowest_ask_amount":"9.88","change_24h":"-3.7277"},{"time":1534847772862,"pair":"EOS_BTC","current":"0.000757","volume_current":"0","increment_24h":"-0.000034","highest_24h":"0.000798","lowest_24h":"0.000746","volume_24h":"89073.4346","highest_bid":"0.000751","highest_bid_amount":"4.9","lowest_ask":"0.000762","lowest_ask_amount":"2.37","change_24h":"-4.2984"},{"time":1534847772615,"pair":"LTC_BTC","current":"0.008634","volume_current":"0","increment_24h":"-0.000058","highest_24h":"0.008843","lowest_24h":"0.008487","volume_24h":"1063.5[...]
