---
http_interactions:
- request:
    method: get
    uri: https://api.hpx.com/data/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"channel":null,"code":"0000","data":[{"symbol":"hc_cnyt","ticker":{"buy":12.24600000,"high":13.28300000,"last":12.97700000,"low":12.54600000,"sell":13.63900000,"vol":542876.0540}},{"symbol":"btc_cnyt","ticker":{"buy":43327.45000000,"high":44179.57000000,"last":44027.12000000,"low":43671.48000000,"sell":44695.84000000,"vol":3514.7660}},{"symbol":"eos_eth","ticker":{"buy":0.02616300,"high":0.02642300,"last":0.02616300,"low":0.02595100,"sell":0.02616300,"vol":54385.5580}},{"symbol":"eth_cnyt","ticker":{"buy":1340.37000000,"high":1404.95000000,"last":1380.98000000,"low":1376.41000000,"sell":1424.06000000,"vol":15878.2010}},{"symbol":"hc_eth","ticker":{"buy":0.00[...]
