---
http_interactions:
- request:
    method: get
    uri: https://api.hpx.com/data/v2/trades?currency=hc_CNYT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"channel":null,"code":"0000","data":[{"amount":29.516000000000,"price":12.81900000,"id":1,"time":"06:51:53","en_type":1,"type":1},{"amount":5.666000000000,"price":12.82000000,"id":2,"time":"06:51:26","en_type":0,"type":0},{"amount":15.145000000000,"price":12.81900000,"id":3,"time":"06:51:12","en_type":1,"type":1},{"amount":180.808000000000,"price":12.81900000,"id":4,"time":"06:51:06","en_type":0,"type":0},{"amount":194.959000000000,"price":12.82000000,"id":5,"time":"06:50:52","en_type":1,"type":1},{"amount":101.817000000000,"price":12.82000000,"id":6,"time":"06:50:33","en_type":0,"type":0},{"amount":239.302000000000,"pr[...]
