---
http_interactions:
- request:
    method: get
    uri: https://api.hpx.com/data/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"channel":null,"code":"0000","data":[{"symbol":"hc_cnyt","ticker":{"buy":12.24600000,"high":13.28300000,"last":12.87700000,"low":12.54600000,"sell":13.61800000,"vol":542666.4350}},{"symbol":"btc_cnyt","ticker":{"buy":43334.99000000,"high":44179.57000000,"last":44027.74000000,"low":43671.48000000,"sell":44708.10000000,"vol":3513.7560}},{"symbol":"eos_eth","ticker":{"buy":0.02000000,"high":0.02642300,"last":0.02610000,"low":0.02595100,"sell":0.02800000,"vol":54345.9840}},{"symbol":"eth_cnyt","ticker":{"buy":1342.48000000,"high":1404.95000000,"last":1383.26000000,"low":1376.41000000,"sell":1426.38000000,"vol":15893.1370}},{"symbol":"hc_eth","ticker":{"buy":0.00[...]
