---
http_interactions:
- request:
    method: get
    uri: http://api.hpx.world/data/v2/depth?currency=hc_CNYT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - e893ab6,-
    body:
      encoding: UTF-8
      string: '{"channel":null,"code":"0000","data":{"asks":[{"amount":174.931,"price":10.0},{"amount":330.5640,"price":11.8},{"amount":110167.4220,"price":11.9}],"bids":[{"amount":772.746,"price":9.3},{"amount":929.454,"price":9.2}],"timestamp":"1571816833"},"id":null,"message":"成功"}'
  recorded_at: Wed, 23 Oct 2019 07:47:13 GMT
recorded_with: VCR 4.0.0
