---
http_interactions:
- request:
    method: get
    uri: http://api.hpx.world/data/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - e893ab6,-
    body:
      encoding: UTF-8
      string: '{"channel":null,"code":"0000","data":[{"symbol":"xmr_cnyt","ticker":{"buy":397.84830000,"high":417.79730000,"last":413.46560000,"low":396.29420000,"sell":414.50670000,"vol":31289.9500}},{"symbol":"trio_cnyt","ticker":{"buy":0.01400000,"high":0.02890000,"last":0.02890000,"low":0.02890000,"sell":0.02890000,"vol":12.6280}},{"symbol":"matic_cnyt","ticker":{"buy":0.09405000,"high":0.10908300,"last":0.10046600,"low":0.09871300,"sell":0.10468500,"vol":3090897.4460}},{"symbol":"cvnt_cnyt","ticker":{"buy":0.13400000,"high":0.13870000,"last":0.13800000,"low":0.13600000,"sell":0.13880000,"vol":10890473.6420}},{"symbol":"gq_cnyt","ticker":{"buy":0.00120000,"high":0.00310000,"l[...]
