---
http_interactions:
- request:
    method: get
    uri: https://api.hpx.com/data/v2/depth?currency=hc_CNYT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"channel":null,"code":"0000","data":{"asks":[{"amount":16.011,"price":13.6},{"amount":200.000,"price":25.0},{"amount":202.000,"price":29.0}],"bids":[{"amount":2.978,"price":12.1},{"amount":2.7590,"price":11.0},{"amount":5.821,"price":10.6}],"timestamp":"1539557104"},"id":null,"message":"成功"}'
  recorded_at: Sun, 14 Oct 2018 22:45:05 GMT
recorded_with: VCR 4.0.0
