---
http_interactions:
- request:
    method: get
    uri: http://api.hpx.world/data/v2/trades?currency=hc_CNYT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - e893ab6,-
    body:
      encoding: UTF-8
      string: '{"channel":null,"code":"0000","data":[{"amount":888.489000000000,"price":"9.4087","id":1,"time":"15:47:55","en_type":1,"type":1},{"amount":271.477000000000,"price":"9.3982","id":2,"time":"15:47:42","en_type":1,"type":1},{"amount":951.290000000000,"price":"9.4031","id":3,"time":"15:46:56","en_type":1,"type":1},{"amount":1144.533000000000,"price":"9.4227","id":4,"time":"15:46:09","en_type":1,"type":1},{"amount":143.845000000000,"price":"9.4234","id":5,"time":"15:45:23","en_type":1,"type":1},{"amount":948.421000000000,"price":"9.4234","id":6,"time":"15:44:54","en_type":1,"type":1},{"amount":1365.390000000000,"price":"9.42[...]
