---
http_interactions:
- request:
    method: get
    uri: https://api.paradex.io/consumer/v0/orderbook?market=WETH/DAI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - blah
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"marketId": 10, "marketSymbol": "WETH/DAI", "bids": [{"price": "200.63908",
        "amount": "193.13287"}, {"price": "200.61634", "amount": "173.83928"}, {"price":
        "199.40902", "amount": "174.89179"}, {"price": "199.24", "amount": "194.48906"},
        {"price": "198.01661", "amount": "195.69065"}, {"price": "198.00048", "amount":
        "176.13594"}, {"price": "196.78338", "amount": "177.22533"}, {"price": "195.77733",
        "amount": "178.13605"}], "asks": [{"price": "206.52979", "amount": "50"},
        {"price": "206.84388", "amount": "45"}, {"price": "207.99372", "amount": "50"},
        {"price": "208.05114", "amount": "90"}, {"price": "209.22373", "amount": "50"},
        {"price": "209.45961", "amount": "90"}, {"price": "210.66687", "amount": "45"},
        {"price": "211.68344", "amount": "45"}]}'
  recorded_at: Sat, 27 Oct 2018 07:43:50 GMT
recorded_with: VCR 4.0.0
