---
http_interactions:
- request:
    method: get
    uri: https://api.paradex.io/consumer/v0/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - blah
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id": 9, "symbol": "BAT/WETH", "baseToken": "BAT", "quoteToken":
        "WETH", "minOrderSize": "0E-18", "maxOrderSize": "40.000000000000000000",
        "priceMaxDecimals": 6, "amountMaxDecimals": 5, "state": "enabled"}, {"id":
        1, "symbol": "MKR/WETH", "baseToken": "MKR", "quoteToken": "WETH", "minOrderSize":
        "0E-18", "maxOrderSize": "40.000000000000000000", "priceMaxDecimals": 5, "amountMaxDecimals":
        3, "state": "enabled"}, {"id": 10, "symbol": "WETH/DAI", "baseToken": "WETH",
        "quoteToken": "DAI", "minOrderSize": "0E-18", "maxOrderSize": "40000.000000000000000000",
        "priceMaxDecimals": 5, "amountMaxDecimals": 5, "state": "enabled"}, {"id":
        6, "symbol":[...]
