---
http_interactions:
- request:
    method: get
    uri: https://api.paradex.io/consumer/v0/ticker?market=HAV/WETH
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - blah
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"last": "0.00064", "bid": "0.00064", "ask": "0.00065"}'
  recorded_at: Sat, 27 Oct 2018 07:47:57 GMT
- request:
    method: get
    uri: https://api.paradex.io/consumer/v0/ohlcv?amount=1&market=HAV/WETH&period=1d
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - 1PGoOus4eBiv2q67HXnTLyKjNrwVQGHK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"date": "2018-10-27T00:00:00Z", "open": "0.00063", "high": "0.00064",
        "low": "0.00064", "close": "0.00064", "volume": "500"}]'
  recorded_at: Sat, 27 Oct 2018 07:47:58 GMT
recorded_with: VCR 4.0.0
