---
http_interactions:
- request:
    method: get
    uri: https://api.paradex.io/consumer/v0/orderbook?market=WETH/DAI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - PadexApiKeyPlaceholder
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"marketId": 10, "marketSymbol": "WETH/DAI", "bids": [{"price": "605.62665",
        "amount": "1.89886"}, {"price": "604.45714", "amount": "8.27189"}, {"price":
        "603.04556", "amount": "6.633"}, {"price": "597.32189", "amount": "8.37069"},
        {"price": "596.50367", "amount": "8.38218"}, {"price": "510.6422", "amount":
        "0.25"}, {"price": "488.88305", "amount": "3"}, {"price": "404.43794", "amount":
        "1.27151"}], "asks": [{"price": "611.71335", "amount": "2.3"}, {"price": "614.72343",
        "amount": "10"}, {"price": "614.98965", "amount": "2.3"}, {"price": "617.00628",
        "amount": "5.7"}, {"price": "624.55565", "amount": "10"}, {"price": "625.91847",
        "amount": "10"}, {"price": "626", "amount": "3"}, {"price": "650", "amount":
        "10"}, {"price": "660", "amount": "2.49"}, {"price": "700", "amount": "10"},
        {"price": "800", "amount": "10"}, {"price": "819", "amount": "2.5"}, {"price":
        "899", "amount": "1"}, {"price": "927", "amount": "2.5"}, {"price": "1347",
        "amount": "1.248"}, {"price": "1999", "amount": "1"}, {"price": "5999", "amount":
        "1"}]}'
  recorded_at: Sat, 21 Apr 2018 04:38:59 GMT
recorded_with: VCR 4.0.0
