---
http_interactions:
- request:
    method: get
    uri: https://api.paradex.io/consumer/v0/tradeHistory?market=WETH/DAI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - blah
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 7901, "trades": [{"id": 20015, "created": "2018-10-26T08:03:11Z",
        "completed": "2018-10-26T08:05:38Z", "type": "sell", "price": "198.68216",
        "amount": "0.6", "total": "119.209296", "market": "WETH/DAI", "state": "confirmed"},
        {"id": 19849, "created": "2018-10-25T00:23:15Z", "completed": "2018-10-25T00:24:30Z",
        "type": "buy", "price": "205.69439", "amount": "6.20802", "total": "1276.9548870078",
        "market": "WETH/DAI", "state": "confirmed"}, {"id": 19848, "created": "2018-10-25T00:21:38Z",
        "completed": "2018-10-25T00:23:18Z", "type": "buy", "price": "205.69439",
        "amount": "6.20207", "total": "1275.7310053873", "market": "WETH/DAI", "state":
        "confirmed"}, {"i[...]
