---
http_interactions:
- request:
    method: get
    uri: https://api.paradex.io/consumer/v0/tradeHistory?market=WETH/DAI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - PadexApiKeyPlaceholder
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 3849, "trades": [{"id": 8160, "created": "2018-04-21T00:33:58Z",
        "completed": "2018-04-21T00:36:36Z", "type": "buy", "price": "614.35", "amount":
        "1.8", "total": "1105.83", "market": "WETH/DAI", "state": "confirmed"}, {"id":
        8159, "created": "2018-04-21T00:33:46Z", "completed": "2018-04-21T00:35:32Z",
        "type": "buy", "price": "614.35", "amount": "3.2", "total": "1965.92", "market":
        "WETH/DAI", "state": "confirmed"}, {"id": 8156, "created": "2018-04-20T22:56:40Z",
        "completed": "2018-04-20T23:01:24Z", "type": "sell", "price": "616.77131",
        "amount": "3.8045", "total": "2346.506448895", "market": "WETH/DAI", "state":
        "confirmed"}, {"id": 8155, "created[...]
