---
http_interactions:
- request:
    method: get
    uri: https://openapi.hksy.com/app/tradeCenter/v1/selectClinchInfoByCoinName?coinName=BTC&payCoinName=HKD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ca-Request-Id:
      - B479BF45-04D8-4EA7-9F60-B531DEEA9634
      X-Application-Context:
      - yobtc-gateway-server:prod:8080
    body:
      encoding: UTF-8
      string: '{"model":[{"type":"sell","createtime":1515057982,"price":121500.00000000,"amount":0.55000000,"clinchsource":"PC"},{"type":"sell","createtime":1515055895,"price":121540.00000000,"amount":0.80000000,"clinchsource":"PC"},{"type":"sell","createtime":1515054062,"price":122410.00000000,"amount":0.45000000,"clinchsource":"PC"},{"type":"sell","createtime":1515053300,"price":122670.00000000,"amount":16.62040000,"clinchsource":"PC"},{"type":"sell","createtime":1515053221,"price":121840.00000000,"amount":21.62820000,"clinchsource":"PC"},{"type":"sell","createtime":1515053194,"price":122340.00000000,"amount":13.8[...]
