---
http_interactions:
- request:
    method: get
    uri: https://openapi.hksy.com/app/coinMarket/v1/selectCoinMarketbyCoinName?coinName=BTC&payCoinName=HKD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - 177FDBF6-B547-47E8-9DEE-C5D98CB7000A
      X-Application-Context:
      - yobtc-gateway-server:prod:8080
    body:
      encoding: UTF-8
      string: '{"model":{"logo":"https://shangya-oss.oss-cn-hongkong.aliyuncs.com/v2/images/coinLogo/bc56ac0f-5848-46a9-b0f7-5c3c6d07afae.png","defaultenname":"BTC","defaultcnname":"比特币BTC","newclinchprice":"121500.00000000","newclinchtype":2,"buyprice":"115008.00000000","sellprice":"122000.00000000","count24":"873.01820000","money24":"105941778.33790000","range24":"1.25","highprice":"124540.00000000","lowprice":"115000.00000000"},"count":1,"code":0,"message":"OK"}'
  recorded_at: Thu, 04 Jan 2018 09:40:50 GMT
recorded_with: VCR 3.0.3
