---
http_interactions:
- request:
    method: get
    uri: https://p2pb2b.io/api/v1/public/depth/result?limit=100&market=ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Ttl:
      - 1s
      X-Varnish-Grace:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":{"asks":[["0.01895","8.237"],["0.019312","0.004"],["0.019314","0.423"],["0.019317","2.31"],["0.01932","0.8"],["0.019321","0.548"],["0.019323","0.18"],["0.019324","0.823"],["0.019325","0.2"],["0.019328","8.335"],["0.019329","1.927"],["0.01933","45.365"],["0.019334","0.35"],["0.019335","2.946"],["0.019336","0.613"],["0.019339","0.889"],["0.019341","1.811"],["0.019343","0.435"],["0.021964","0.006"],["0.021965","0.082"],["0.021966","0.085"],["0.021967","0.088"],["0.021968","0.108"],["0.023385","9.332"],["0.023389","0.308"],["0.023391","1.54"],["0.023392","0.2"],["0.023394","2.002"],["0.023395","4.4"],["0.023396","0.292"],["0.023397","1.643"],["0.023398","0.2"],["0.023403","0.311"],["0.023404","0.244"],["0.023406","4.628"],["0.023407","1.54"],["0.023409","1.54"],["0.0244","1"],["0.02465","0.162"],["0.028","1.156"],["0.0288","0.985"],["0.0302","0.2"],["0.03025","0.2"],["0.03031","0.2"],["0.03076","0.2"],["0.03086","0.2"],["0.032","0.038"],["0.034","0.108"],["0.035","0.183"],["0.03732","0.2"],["0.03828","0.2"],["0.039","0.19"],["0.04147","0.2"],["0.045","4"],["0.04785","0.2"],["0.048","5"]],"bids":[["0.018587","0.073"],["0.018585","0.8"],["0.018582","1"],["0.018581","0.392"],["0.01858","0.837"],["0.018579","0.2"],["0.018577","1.436"],["0.018576","1"],["0.018574","0.2"],["0.018571","3.243"],["0.018569","0.635"],["0.018568","1.265"],["0.018566","2.297"],["0.018565","1.583"],["0.018564","0.275"],["0.018563","0.2"],["0.018562","0.213"],["0.01856","0.35"],["0.018559","0.636"],["0.018558","6.29"],["0.017971","0.15"],["0.01797","0.111"],["0.01752","0.114"],["0.01617","0.192"],["0.015571","0.837"],["0.01557","1.452"],["0.015569","0.248"],["0.015568","6.728"],["0.015567","1.713"],["0.015564","1.88"],["0.015563","0.391"],["0.015562","0.2"],["0.015561","8.537"],["0.01556","1.576"],["0.015559","4.4"],["0.015558","0.725"],["0.01401","0.213"],["0.0077","38.961"],["0.007","5"],["0.0001","50"],["0.000001","1000"]]},"cache_time":1565245311.257465,"current_time":1565245311.998509}'
  recorded_at: Thu, 08 Aug 2019 06:21:52 GMT
recorded_with: VCR 4.0.0
