---
http_interactions:
- request:
    method: get
    uri: https://p2pb2b.io/api/v1/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":{"ETH_BTC":{"at":1546983907,"ticker":{"bid":"0.03705","ask":"0.037437","low":"0.037004","high":"0.037715","last":"0.037273","vol":"60245.38781581"}},"BTC_USD":{"at":1546983907,"ticker":{"bid":"3968","ask":"3981.17","low":"3936.13","high":"4046.4","last":"3973.04","vol":"2537.0119163"}},"BTC_UAH":{"at":1546983907,"ticker":{"bid":"2","ask":"920000","low":"0","high":"0","last":"0","vol":"0"}},"ETH_UAH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"EDR_UAH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"LGC_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"LGC_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"LGC_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"TCAT_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"TCAT_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"TCAT_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"RPD_BTC":{"at":1546983907,"ticker":{"bid":"0.00000002","ask":"0.00000003","low":"0","high":"0","last":"0","vol":"0"}},"RPD_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"RPD_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"CITY_BTC":{"at":1546983907,"ticker":{"bid":"0.0000276","ask":"0.00002884","low":"0.00002521","high":"0.00002886","last":"0.00002884","vol":"50"}},"CITY_ETH":{"at":1546983907,"ticker":{"bid":"0.00071576","ask":"0.000749","low":"0.00074","high":"0.000745","last":"0.000745","vol":"10"}},"CITY_USD":{"at":1546983907,"ticker":{"bid":"0.1058068","ask":"0.1169","low":"0.11059877","high":"0.119","last":"0.1169","vol":"174.08331566"}},"CMC_BTC":{"at":1546983907,"ticker":{"bid":"0.00000303","ask":"0.00006199","low":"0.00001","high":"0.00001","last":"0.00001","vol":"0"}},"CMC_ETH":{"at":1546983907,"ticker":{"bid":"0.00019","ask":"0.0011","low":"0.000101","high":"0.00135","last":"0.00114","vol":"10587.32637608"}},"CMC_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.274","low":"0.0004","high":"0.0004","last":"0.0004","vol":"0"}},"EYC_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"EYC_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"EYC_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"BDT_BTC":{"at":1546983907,"ticker":{"bid":"0.0000001","ask":"0.0000049","low":"0.0000075","high":"0.0000075","last":"0.0000075","vol":"0"}},"BDT_ETH":{"at":1546983907,"ticker":{"bid":"0.00001103","ask":"0.0001","low":"0.000055","high":"0.000055","last":"0.000055","vol":"907.27618181"}},"BDT_USD":{"at":1546983907,"ticker":{"bid":"0.0003","ask":"0.06","low":"0.3","high":"0.3","last":"0.3","vol":"0"}},"HSB_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0.000052","low":"0.00000304","high":"0.000052","last":"0.00000449","vol":"16864.06439661"}},"HSB_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0.0018","low":"0.00074119","high":"0.00091232","last":"0.00074119","vol":"4380.47006319"}},"HSB_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.1","low":"0.36274399","high":"0.36274399","last":"0.36274399","vol":"0"}},"POP_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.00000036","high":"0.00000049","last":"0.00000042","vol":"38664.48493759"}},"POP_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00003426","low":"0.00002902","high":"0.00002958","last":"0.00002947","vol":"41022.22531171"}},"POP_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.00118869","high":"0.00196411","last":"0.00138711","vol":"18268.24751401"}},"ZDR_BTC":{"at":1546983907,"ticker":{"bid":"0.00000031","ask":"0.00000179","low":"0.00000154","high":"0.00000189","last":"0.00000162","vol":"16542.94963336"}},"ZDR_ETH":{"at":1546983907,"ticker":{"bid":"0.00000888","ask":"0.00009998","low":"0.00009997","high":"0.00009997","last":"0.00009997","vol":"11839.45808308"}},"ZDR_USD":{"at":1546983907,"ticker":{"bid":"0.00099999","ask":"0.00499999","low":"0.001","high":"0.001","last":"0.001","vol":"1085.79928513"}},"SWM_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.00003217","high":"0.001","last":"0.001","vol":"295.32840177"}},"SWM_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.00101896","high":"0.00109303","last":"0.00109303","vol":"434.42594861"}},"SWM_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.08688843","high":"0.1287085","last":"0.09866436","vol":"333.75615047"}},"XDCE_BTC":{"at":1546983907,"ticker":{"bid":"0.00000016","ask":"0.00000026","low":"0.00000018","high":"0.00000018","last":"0.00000018","vol":"13662860"}},"XDCE_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0.0000085","low":"0","high":"0","last":"0","vol":"0"}},"XDCE_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00089","low":"0","high":"0","last":"0","vol":"0"}},"C20_BTC":{"at":1546983907,"ticker":{"bid":"0.0001","ask":"0.00011996","low":"0.000088","high":"0.00010001","last":"0.00010001","vol":"130224.58891292"}},"C20_ETH":{"at":1546983907,"ticker":{"bid":"0.00260159","ask":"0.002759","low":"0.00275899","high":"0.00275899","last":"0.00275899","vol":"89499.5783357"}},"C20_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.49028873","low":"0.33","high":"0.33","last":"0.33","vol":"0"}},"CLM_BTC":{"at":1546983907,"ticker":{"bid":"0.00000005","ask":"0.00000473","low":"0.00000467","high":"0.00000488","last":"0.00000473","vol":"46910.60140777"}},"CLM_ETH":{"at":1546983907,"ticker":{"bid":"0.0000131","ask":"0.000125","low":"0.0000131","high":"0.0000131","last":"0.0000131","vol":"0"}},"CLM_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.01933199","low":"0.02216486","high":"0.02216486","last":"0.02216486","vol":"0"}},"AAA_BTC":{"at":1546983907,"ticker":{"bid":"0.00000011","ask":"0.00000012","low":"0.00000014","high":"0.00000019","last":"0.00000014","vol":"117788.60140898"}},"AAA_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00000689","low":"0.00000688","high":"0.00000799","last":"0.00000688","vol":"12508.72092081"}},"AAA_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00459","low":"0.00199999","high":"0.00754172","last":"0.00351708","vol":"2838.58738391"}},"AXPR_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00000132","low":"0.00000131","high":"0.00000131","last":"0.00000131","vol":"2603.90056206"}},"AXPR_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0.000045","low":"0.00004499","high":"0.00004499","last":"0.00004499","vol":"1066.86984583"}},"AXPR_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.06036945","high":"0.19505874","last":"0.17767648","vol":"82.01264259"}},"HELP_BTC":{"at":1546983907,"ticker":{"bid":"0.0005522","ask":"0.0588887","low":"0.00035221","high":"0.0599999","last":"0.00055221","vol":"109.71756897"}},"HELP_ETH":{"at":1546983907,"ticker":{"bid":"0.01432082","ask":"0.1999998","low":"0.00907239","high":"0.1999997","last":"0.01431776","vol":"64.4003473"}},"HELP_USD":{"at":1546983907,"ticker":{"bid":"2.11690263","ask":"466","low":"0.925","high":"465.99999","last":"465.99999","vol":"24.16852956"}},"XCY_BTC":{"at":1546983907,"ticker":{"bid":"0.00000029","ask":"0.00000073","low":"0.0000002","high":"0.00000072","last":"0.00000072","vol":"100910.11767735"}},"XCY_ETH":{"at":1546983907,"ticker":{"bid":"0.00000001","ask":"0.00499","low":"0","high":"0","last":"0","vol":"0"}},"XCY_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.921","low":"0","high":"0","last":"0","vol":"0"}},"3DC_BTC":{"at":1546983907,"ticker":{"bid":"0.0000047","ask":"0.0000049","low":"0.0000047","high":"0.00000491","last":"0.00000471","vol":"19921.21071038"}},"3DC_ETH":{"at":1546983907,"ticker":{"bid":"0.0001217","ask":"0.0003","low":"0.00012347","high":"0.00031997","last":"0.00029999","vol":"19837.54974587"}},"3DC_USD":{"at":1546983907,"ticker":{"bid":"0.01801782","ask":"0.02001504","low":"0.02001985","high":"0.04399999","last":"0.02001985","vol":"5333.2225456"}},"GAS_BTC":{"at":1546983907,"ticker":{"bid":"0.00059","ask":"0.000604","low":"0.000594","high":"0.00060399","last":"0.00060399","vol":"29553.41665748"}},"sBTC_BTC":{"at":1546983907,"ticker":{"bid":"0.0000823","ask":"1.00004626","low":"1","high":"1.00004625","last":"1.00004625","vol":"16.32435468"}},"sBTC_ETH":{"at":1546983907,"ticker":{"bid":"0.00000001","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"sBTC_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"3377","low":"3374","high":"3377","last":"3377","vol":"0.06123445"}},"DBT_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00007625","low":"0.00005225","high":"0.00006805","last":"0.0000558","vol":"8315.43063096"}},"DBT_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0.003058","low":"0.00148067","high":"0.00196316","last":"0.00153213","vol":"1413.71912505"}},"DBT_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.3","low":"0.18988588","high":"0.22709025","last":"0.19631488","vol":"580.07489023"}},"ENLTE_BTC":{"at":1546983907,"ticker":{"bid":"0.00000002","ask":"0.0000015","low":"0","high":"0","last":"0","vol":"0"}},"ENLTE_ETH":{"at":1546983907,"ticker":{"bid":"0.00000001","ask":"0.000473","low":"0","high":"0","last":"0","vol":"0"}},"ENLTE_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.02","low":"0","high":"0","last":"0","vol":"0"}},"ZEON_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00001198","low":"0.00001987","high":"0.00001987","last":"0.00001987","vol":"0"}},"ZEON_ETH":{"at":1546983907,"ticker":{"bid":"0.0000008","ask":"0.00000914","low":"0.00000762","high":"0.00000914","last":"0.00000914","vol":"3685.28850431"}},"ZEON_USD":{"at":1546983907,"ticker":{"bid":"0.0021111","ask":"0.00255626","low":"0.002","high":"0.00255626","last":"0.00214909","vol":"1389245.31240149"}},"NEO_BTC":{"at":1546983907,"ticker":{"bid":"0.00223951","ask":"0.00227051","low":"0.0020734","high":"0.0022998","last":"0.002252","vol":"212440.5775084"}},"NEO_ETH":{"at":1546983907,"ticker":{"bid":"0.059334","ask":"0.06176805","low":"0.055866","high":"0.061822","last":"0.060509","vol":"178203.60919281"}},"NEO_USD":{"at":1546983907,"ticker":{"bid":"8.7397125","ask":"9.10725","low":"8.33949999","high":"9.37899999","last":"9.10724999","vol":"143024.53910835"}},"BLOK_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.139","low":"0.11058023","high":"0.12865106","last":"0.11548725","vol":"2857.55877915"}},"GST_BTC":{"at":1546983907,"ticker":{"bid":"0.00000003","ask":"0.00002","low":"0.00000006","high":"0.0000002","last":"0.00000007","vol":"7148938.8505355962635"}},"PLC_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"PLC_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"PHI_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00003231","low":"0.00002176","high":"0.00002757","last":"0.00002632","vol":"323.3163825"}},"PHI_ETH":{"at":1546983907,"ticker":{"bid":"0.0005944","ask":"0.0010294","low":"0.00094714","high":"0.00098728","last":"0.00094714","vol":"227.9460604"}},"PHI_USD":{"at":1546983907,"ticker":{"bid":"0.1004","ask":"0.19","low":"0.16113766","high":"0.18407798","last":"0.17726239","vol":"52.06722821"}},"B2X_BTC":{"at":1546983907,"ticker":{"bid":"0.0000001","ask":"0.00000045","low":"0.00000008","high":"0.00000026","last":"0.00000024","vol":"20003.85593397"}},"B2X_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0.0000198","low":"0.00001979","high":"0.00001979","last":"0.00001979","vol":"718.02050987"}},"B2X_USD":{"at":1546983907,"ticker":{"bid":"0.00025","ask":"0.00249989","low":"0.00249988","high":"0.00249998","last":"0.00249988","vol":"862.48311832"}},"DASH_USD":{"at":1546983907,"ticker":{"bid":"81.30003914","ask":"93.7","low":"88.86755001","high":"91.52553046","last":"88.86755001","vol":"39863.73112522"}},"FYE_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"900","low":"703.76009517","high":"745.58705426","last":"730.15854086","vol":"0.01306406"}},"FYE_BTC":{"at":1546983907,"ticker":{"bid":"0.000003","ask":"0.15","low":"0.10051637","high":"0.1099351","last":"0.10511658","vol":"0.00952304"}},"FYE_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"4.5","low":"3.05950389","high":"3.94565831","last":"3.86017721","vol":"0.07090275"}},"PAX_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"1.0143069","high":"1.03428835","last":"1.0143069","vol":"32.09378544"}},"PAX_BTC":{"at":1546983907,"ticker":{"bid":"0.00003123","ask":"0.00028632","low":"0.00028631","high":"0.00028632","last":"0.00028631","vol":"59.72101635"}},"PAX_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.00057118","high":"0.00065553","last":"0.00062145","vol":"26.47932711"}},"TTP_USD":{"at":1546983907,"ticker":{"bid":"0.1","ask":"1.8","low":"1.11350175","high":"1.16895832","last":"1.16895832","vol":"30.9069274"}},"TTP_BTC":{"at":1546983907,"ticker":{"bid":"0.00001901","ask":"0.00018","low":"0.00012164","high":"0.00014933","last":"0.0001441","vol":"45088.01817534"}},"TTP_ETH":{"at":1546983907,"ticker":{"bid":"0.0001","ask":"0.009","low":"0.009","high":"0.009","last":"0.009","vol":"0"}},"DASH_BTC":{"at":1546983907,"ticker":{"bid":"0.01997365","ask":"0.02105","low":"0.01998267","high":"0.02080957","last":"0.0200236","vol":"36546.20434499"}},"DASH_ETH":{"at":1546983907,"ticker":{"bid":"0.5196834","ask":"0.58100002","low":"0.54246595","high":"0.56978576","last":"0.54842346","vol":"56651.29413521"}},"CRYP_BTC":{"at":1546983907,"ticker":{"bid":"0.0000003","ask":"0.0000008","low":"0.0000003","high":"0.0000008","last":"0.00000032","vol":"18331784.06769467"}},"CRYP_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.00254818","high":"0.00301506","last":"0.00301506","vol":"1823.60525583"}},"CRYP_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00002189","low":"0.00001506","high":"0.00002188","last":"0.00002188","vol":"23768049.63934516"}},"ADK_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.0009741","high":"0.00107129","last":"0.0009741","vol":"5.34455686"}},"ADK_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"3.73382851","high":"4.49080897","last":"3.94964641","vol":"5.8777755"}},"ADK_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.03244288","high":"0.03534125","last":"0.03534125","vol":"5.10903865"}},"BLOK_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0.000035","low":"0.00002501","high":"0.00002952","last":"0.00002905","vol":"1175.54882854"}},"BLOK_ETH":{"at":1546983907,"ticker":{"bid":"0.00000001","ask":"0.00132","low":"0.00110024","high":"0.00125906","last":"0.0011563","vol":"1547.50018182"}},"OCC_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0.19","low":"0.18928767","high":"0.18999999","last":"0.18999999","vol":"298.4522589"}},"MBC_USD":{"at":1546983907,"ticker":{"bid":"0.000015","ask":"0.00115","low":"0","high":"0","last":"0","vol":"0"}},"MBC_BTC":{"at":1546983907,"ticker":{"bid":"0.00000002","ask":"0.00000003","low":"0.00000002","high":"0.00000002","last":"0.00000002","vol":"1126977.50996735"}},"MBC_ETH":{"at":1546983907,"ticker":{"bid":"0.00000001","ask":"0.00000138","low":"0.000009","high":"0.000009","last":"0.000009","vol":"0"}},"OCC_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0.0012","low":"0.00119999","high":"0.00119999","last":"0.00119999","vol":"275.05491711"}},"OCC_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00001","low":"0.00000999","high":"0.00000999","last":"0.00000999","vol":"273.29816718"}},"ETH_USD":{"at":1546983907,"ticker":{"bid":"145.76","ask":"150.25","low":"145.48","high":"153.86","last":"148.02","vol":"57939.61904955"}},"BCH_BTC":{"at":1546983907,"ticker":{"bid":"0.03761504","ask":"0.03995622","low":"0.03949497","high":"0.0401292","last":"0.03981999","vol":"29583.05308429"}},"BTG_BTC":{"at":1546983907,"ticker":{"bid":"0.0032145","ask":"0.00332076","low":"0.00324128","high":"0.00344769","last":"0.00332075","vol":"36590.77058478"}},"LTC_BTC":{"at":1546983907,"ticker":{"bid":"0.00969061","ask":"0.00981846","low":"0.0094","high":"0.01004885","last":"0.009759","vol":"164591.67320096"}},"DOGE_BTC":{"at":1546983907,"ticker":{"bid":"0.00000054","ask":"0.00000058","low":"0.00000056","high":"0.00000057","last":"0.00000056","vol":"842242801.70240801"}},"ATB_BTC":{"at":1546983907,"ticker":{"bid":"0.00000184","ask":"0.00000235","low":"0.00000234","high":"0.00000234","last":"0.00000234","vol":"15129.19405997"}},"QUiNT_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.000033","high":"0.000033","last":"0.000033","vol":"0"}},"QUiNT_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"CRBT_BTC":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.000002","high":"0.000002","last":"0.000002","vol":"0"}},"CRBT_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0.00031548","high":"0.00031548","last":"0.00031548","vol":"0"}},"CHE_BTC":{"at":1546983907,"ticker":{"bid":"0.00000001","ask":"0.00000005","low":"0.00000002","high":"0.00000002","last":"0.00000002","vol":"0"}},"CHE_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"ETC_BTC":{"at":1546983907,"ticker":{"bid":"0.00121367","ask":"0.001308","low":"0.001206","high":"0.001259","last":"0.001222","vol":"456771.44881009"}},"BTG_ETH":{"at":1546983907,"ticker":{"bid":"0.086001","ask":"0.09077781","low":"0.08676","high":"0.090199","last":"0.088822","vol":"18000.76877248"}},"BNB_BTC":{"at":1546983907,"ticker":{"bid":"0.0016335","ask":"0.0017185","low":"0.0015589","high":"0.0016917","last":"0.0016663","vol":"57950.58306154"}},"TUSD_BTC":{"at":1546983907,"ticker":{"bid":"0.00024811","ask":"0.00025228","low":"0.00024485","high":"0.00025238","last":"0.0002497","vol":"362297.17936928"}},"ECHT_BTC":{"at":1546983907,"ticker":{"bid":"0.0000014","ask":"0.00000174","low":"0.00000141","high":"0.00000152","last":"0.00000141","vol":"1987402.40623539"}},"EDR_BTC":{"at":1546983907,"ticker":{"bid":"0.000002","ask":"0.00000243","low":"0.00000211","high":"0.00000243","last":"0.00000212","vol":"26074296.53132774"}},"BCH_USD":{"at":1546983907,"ticker":{"bid":"150.168","ask":"162.2361641","low":"156.978","high":"162.946","last":"159.305","vol":"13453.61137115"}},"BTG_USD":{"at":1546983907,"ticker":{"bid":"12.937","ask":"13.46561676","low":"13.06034377","high":"13.76027769","last":"13.48112046","vol":"100831.49528498"}},"LTC_USD":{"at":1546983907,"ticker":{"bid":"38.036038","ask":"39.53","low":"37.36","high":"40.65","last":"38.76","vol":"36335.18465718"}},"DOGE_USD":{"at":1546983907,"ticker":{"bid":"0.002238","ask":"0.00227845","low":"0.00226","high":"0.00247229","last":"0.00227844","vol":"485242871.35129769"}},"ATB_USD":{"at":1546983907,"ticker":{"bid":"0.00840835","ask":"0.01892454","low":"0.01716898","high":"0.01892453","last":"0.01716898","vol":"14039.13934392"}},"ETC_USD":{"at":1546983907,"ticker":{"bid":"4.80143983","ask":"4.99150493","low":"4.7615","high":"5.0452","last":"4.8577","vol":"141967.7142281"}},"BNB_USD":{"at":1546983907,"ticker":{"bid":"6.4213","ask":"6.80797157","low":"6.03888524","high":"6.7937","last":"6.6191","vol":"50849.17329679"}},"TUSD_USD":{"at":1546983907,"ticker":{"bid":"0.97200293","ask":"1.011893","low":"0.9908","high":"1.011992","last":"0.9923","vol":"346799.96122148"}},"LINK_USD":{"at":1546983907,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0"}},"ECHT_USD":{"at":1546983907,"ticker":{"bid":"0.00451233","ask":"0.00799999","low":"0.00799998","high":"0.00799998","last":"0.00799998","vol":"1947061.2643095"}},"EDR_USD":{"at":1546983907,"ticker":{"bid":"0.00815062","ask":"0.00918","low":"0.00869","high":"0.00869","last":"0.00869","vol":"9871815.88878226"}},"BCH_ETH":{"at":1546983907,"ticker":{"bid":"1.00554","ask":"1.0930325","low":"1.05600765","high":"1.0769999","last":"1.06904159","vol":"25321.39542299"}},"LTC_ETH":{"at":1546983907,"ticker":{"bid":"0.2564986","ask":"0.2672503","low":"0.25005","high":"0.26849","last":"0.26212","vol":"61004.60035562"}},"DOGE_ETH":{"at":1546983907,"ticker":{"bid":"0.00001443","ask":"0.00001535","low":"0.00001473","high":"0.00001554","last":"0.00001502","vol":"258718696.57684376"}},"ATB_ETH":{"at":1546983907,"ticker":{"bid":"0.00004769","ask":"0.00009","low":"0.00008999","high":"0.00008999","last":"0.00008999","vol":"16046.80474977"}},"ETC_ETH":{"at":1546983907,"ticker":{"bid":"0.0318988","ask":"0.03366083","low":"0.032216","high":"0.033695","last":"0.032803","vol":"266661.62426643"}},"BNB_ETH":{"at":1546983907,"ticker":{"bid":"0.043667","ask":"0.045524","low":"0.041406","high":"0.045158","last":"0.044729","vol":"20531.52766804"}},"TUSD_ETH":{"at":1546983907,"ticker":{"bid":"0.00656099","ask":"0.00684144","low":"0.00656186","high":"0.00681192","last":"0.00670841","vol":"52418.63181778"}},"ECHT_ETH":{"at":1546983907,"ticker":{"bid":"0.00003602","ask":"0.00005998","low":"0.00003603","high":"0.00003982","last":"0.00003766","vol":"2449151.38879312"}},"EDR_ETH":{"at":1546983907,"ticker":{"bid":"0","ask":"0.00006324","low":"0","high":"0","last":"0","vol":"0"}}}}'
  recorded_at: Tue, 08 Jan 2019 21:45:08 GMT
recorded_with: VCR 4.0.0
