---
http_interactions:
- request:
    method: get
    uri: https://p2pb2b.io/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ethbtc":{"at":1535990332,"ticker":{"buy":"0.0355111","sell":"0.04370032","low":"0.03962994","high":"0.04045221","last":"0.03962994","vol":"226.44841524"}},"btcusd":{"at":1535990332,"ticker":{"buy":"5987.0982132","sell":"8192.62480736","low":"7263","high":"8029.99999999","last":"7447","vol":"324.25749956"}},"ethusd":{"at":1535990332,"ticker":{"buy":"240.000001","sell":"511.000019","low":"289.99999964","high":"298.22624322","last":"293.53233821","vol":"118.76230784"}},"bccbtc":{"at":1535990332,"ticker":{"buy":"0.0775","sell":"0.09585719","low":"0.08682723","high":"0.08953341","last":"0.08685292","vol":"1062.50603916"}},"btgbtc":{"at":1535990332,"ticker":{"buy":"0.00185008","sell":"0.00242255","low":"0.00211013","high":"0.00242254","last":"0.0021998","vol":"2038.61815441"}},"ltcbtc":{"at":1535990332,"ticker":{"buy":"0.00800001","sell":"0.0098553","low":"0.008938","high":"0.009093","last":"0.0089558","vol":"1090.77377965"}},"dogebtc":{"at":1535990332,"ticker":{"buy":"0.00000068","sell":"0.00000077","low":"0.00000069","high":"0.00000077","last":"0.00000072","vol":"36855918.2715178"}},"atbbtc":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.00000454","high":"0.00000467","last":"0.00000463","vol":"217776.32896057"}},"etcbtc":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.00183052","high":"0.00197268","last":"0.00197195","vol":"593.69810656"}},"bnbbtc":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.00150001","high":"0.00162956","last":"0.00162886","vol":"1148.14293797"}},"tusdbtc":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.00013895","high":"0.00015499","last":"0.00013921","vol":"11170.59101038"}},"echtbtc":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.0000006","high":"0.0000006","last":"0.0000006","vol":"1989559.54772144"}},"bccusd":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"634.5","high":"659.99999995","last":"654.39610183","vol":"224.20709815"}},"btgusd":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"15.45502073","high":"16.49999988","last":"16","vol":"439.647773"}},"ltcusd":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"65.3","high":"67.75183569","last":"67.5373675","vol":"222.12434087"}},"dogeusd":{"at":1535990332,"ticker":{"buy":"0.005","sell":"0.00554462","low":"0.00507953","high":"0.00579999","last":"0.00532829","vol":"11623132.83461617"}},"atbusd":{"at":1535990332,"ticker":{"buy":"0.02689189","sell":"0.04499999","low":"0.04199998","high":"0.04499998","last":"0.04199998","vol":"1928126.84979699"}},"etcusd":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"13.43","high":"14.70000035","last":"14.70000035","vol":"647.54284274"}},"bnbusd":{"at":1535990332,"ticker":{"buy":"1.40000001","sell":"13.6000271","low":"11.91809397","high":"13.39744851","last":"12.19949334","vol":"1116.95432402"}},"tusdusd":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"1.09958534","high":"1.10924263","last":"1.10900941","vol":"10872.56993574"}},"lnkusd":{"at":1535990332,"ticker":{"buy":"0","sell":"10","low":"0","high":"0","last":"0","vol":"0"}},"echtusd":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.00474601","high":"0.00480234","last":"0.00474601","vol":"2392986.44578804"}},"bcceth":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"2.18906858","high":"2.23632667","last":"2.2353905","vol":"226.66862308"}},"btgeth":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.053","high":"0.05954813","last":"0.0549999","vol":"225.86287876"}},"ltceth":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.22476563","high":"0.22774086","last":"0.226","vol":"201.85343517"}},"dogeeth":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.00001703","high":"0.00001926","last":"0.00001833","vol":"11621555.76571453"}},"atbeth":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.00010999","high":"0.00011","last":"0.00010999","vol":"1598335.09280249"}},"etceth":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.04545853","high":"0.0499","last":"0.0499","vol":"218.36276944"}},"bnbeth":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.04140738","high":"0.04258759","last":"0.04140738","vol":"418.08565426"}},"tusdeth":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.00357568","high":"0.00379551","last":"0.00362374","vol":"4469.90129638"}},"echteth":{"at":1535990332,"ticker":{"buy":"0","sell":"0","low":"0.00001618","high":"0.00001631","last":"0.00001618","vol":"2176853.20747989"}}}'
  recorded_at: Mon, 03 Sep 2018 15:58:52 GMT
recorded_with: VCR 4.0.0
