---
http_interactions:
- request:
    method: get
    uri: https://p2pb2b.io/api/v1/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Ttl:
      - 30s
      X-Varnish-Grace:
      - 5s
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":{"ETH_BTC":{"at":1565245275,"ticker":{"bid":"0.018587","ask":"0.01895","low":"0.018523","high":"0.019","last":"0.01895","vol":"68681.393","change":"-2.62"}},"BTC_USD":{"at":1565245275,"ticker":{"bid":"11631.71","ask":"11992","low":"11720.59","high":"11992","last":"11867.56","vol":"10761.910646","change":"1.81"}},"BTC_UAH":{"at":1565245275,"ticker":{"bid":"202000","ask":"368962","low":"297339","high":"300852","last":"297699","vol":"3.207492","change":"1.40"}},"ETH_UAH":{"at":1565245275,"ticker":{"bid":"0","ask":"5500","low":"5411.625903","high":"5682","last":"5433.87848","vol":"26.003825","change":"-4.83"}},"EDC_UAH":{"at":1565245275,"ticker":{"bid":"0.0001","ask":"0.4199","low":"0.0001","high":"0.0001","last":"0.0001","vol":"0","change":"0"}},"ETC_USDT":{"at":1565245275,"ticker":{"bid":"5.7691","ask":"6.1513","low":"5.878","high":"6.042","last":"5.9614","vol":"42898.89","change":"1.62"}},"NEO_USDT":{"at":1565245275,"ticker":{"bid":"10.764","ask":"11.11","low":"10.78","high":"11.368","last":"10.801","vol":"87209.857","change":"-5.49"}},"XLM_USDT":{"at":1565245275,"ticker":{"bid":"0.07611","ask":"0.07881","low":"0.07716","high":"0.07872","last":"0.07731","vol":"3024826.3","change":"-1.74"}},"WAVES_USDT":{"at":1565245275,"ticker":{"bid":"1.3249","ask":"1.3784","low":"1.3457","high":"1.3644","last":"1.35","vol":"58444.19","change":"-1.12"}},"BQTX_BTC":{"at":1565245275,"ticker":{"bid":"0.0000096","ask":"0.0000138","low":"0.0000097","high":"0.0000136","last":"0.0000105","vol":"48468.46","change":"-5.40"}},"BQTX_USD":{"at":1565245275,"ticker":{"bid":"0.1","ask":"0.13","low":"0.11","high":"0.1278","last":"0.1141","vol":"52410","change":"-17.61"}},"AKI_BTC":{"at":1565245275,"ticker":{"bid":"0.003401","ask":"0.004034","low":"0.003797","high":"0.003955","last":"0.003955","vol":"8","change":"19675"}},"AKI_ETH":{"at":1565245275,"ticker":{"bid":"0.199896","ask":"0.217029","low":"0.204171","high":"0.212855","last":"0.208397","vol":"8","change":"0.40"}},"AKI_USD":{"at":1565245275,"ticker":{"bid":"42.393","ask":"46.162","low":"47.048","high":"47.048","last":"47.048","vol":"5","change":"0"}},"SHMN_BTC":{"at":1565245275,"ticker":{"bid":"0.0000095","ask":"0.0000147","low":"0.0000147","high":"0.0000147","last":"0.0000147","vol":"191.01","change":"0"}},"SHMN_ETH":{"at":1565245275,"ticker":{"bid":"0.000014","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"SHMN_USD":{"at":1565245275,"ticker":{"bid":"0.0012","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"DSLA_ETH":{"at":1565245275,"ticker":{"bid":"0.00000014","ask":"0.00000053","low":"0.00000032","high":"0.00000032","last":"0.00000032","vol":"488053","change":"-56.16"}},"ELE_BTC":{"at":1565245275,"ticker":{"bid":"0.0000014","ask":"0.0000649","low":"0.0000012","high":"0.0000012","last":"0.0000012","vol":"4244.66","change":"-14.28"}},"ELE_ETH":{"at":1565245275,"ticker":{"bid":"0.000026","ask":"0.00363","low":"0.004949","high":"0.004949","last":"0.004949","vol":"944.31","change":"0"}},"ELE_USD":{"at":1565245275,"ticker":{"bid":"0.0269","ask":"0.72","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"CCC_BTC":{"at":1565245275,"ticker":{"bid":"0.0000081","ask":"0.0001547","low":"0.0001554","high":"0.0001554","last":"0.0001554","vol":"296.77","change":"-6.49"}},"CCC_ETH":{"at":1565245275,"ticker":{"bid":"0.001046","ask":"0.003746","low":"0.003398","high":"0.003398","last":"0.003398","vol":"806.05","change":"-43.12"}},"CCC_USD":{"at":1565245275,"ticker":{"bid":"0.0711","ask":"1.77","low":"2.46","high":"2.46","last":"2.46","vol":"1","change":"0"}},"ARMR_BTC":{"at":1565245275,"ticker":{"bid":"0.00000036","ask":"0.00000099","low":"0.00000051","high":"0.00000051","last":"0.00000051","vol":"64817.2","change":"-57.14"}},"ARMR_ETH":{"at":1565245275,"ticker":{"bid":"0.0000021","ask":"0.000376","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"ARMR_USDT":{"at":1565245275,"ticker":{"bid":"0.00014","ask":"0.24","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"TBC_BTC":{"at":1565245275,"ticker":{"bid":"0.00000024","ask":"0.0000087","low":"0.0000098","high":"0.0000098","last":"0.0000098","vol":"0","change":"0"}},"TBC_ETH":{"at":1565245275,"ticker":{"bid":"0.0000292","ask":"0.000268","low":"0.00026799","high":"0.00026799","last":"0.00026799","vol":"2000","change":"-0.33"}},"TBC_USD":{"at":1565245275,"ticker":{"bid":"0.0095","ask":"0.064","low":"0.063999","high":"0.063999","last":"0.063999","vol":"6407","change":"-4.46"}},"RFOX_BTC":{"at":1565245275,"ticker":{"bid":"0.000001","ask":"0.00000302","low":"0.00000301","high":"0.00000301","last":"0.00000301","vol":"795820","change":"0"}},"RFOX_ETH":{"at":1565245275,"ticker":{"bid":"0.0001","ask":"0.0001898","low":"0.0001","high":"0.0001","last":"0.0001","vol":"150388","change":"-47.31"}},"RFOX_USD":{"at":1565245275,"ticker":{"bid":"0.0003","ask":"0.041","low":"0.0494","high":"0.0494","last":"0.0494","vol":"0","change":"0"}},"GOLD_USD":{"at":1565245275,"ticker":{"bid":"47.71","ask":"49","low":"47.7","high":"47.7","last":"47.7","vol":"10","change":"0"}},"POLIS_BTC":{"at":1565245275,"ticker":{"bid":"0.000002","ask":"0.000048","low":"0.000039","high":"0.000039","last":"0.000039","vol":"0","change":"0"}},"POLIS_ETH":{"at":1565245275,"ticker":{"bid":"0.000131","ask":"0.0075","low":"0.000125","high":"0.000125","last":"0.000125","vol":"0","change":"0"}},"POLIS_USD":{"at":1565245275,"ticker":{"bid":"0.0115","ask":"1.8","low":"0.0111","high":"0.0111","last":"0.0111","vol":"0","change":"0"}},"SON_BTC":{"at":1565245275,"ticker":{"bid":"0.004","ask":"0.0055","low":"0.003872","high":"0.004001","last":"0.004","vol":"855.52","change":"15.34"}},"SON_ETH":{"at":1565245275,"ticker":{"bid":"0.20454","ask":"0.26","low":"0.20289","high":"0.20602","last":"0.20454","vol":"758.189","change":"15.44"}},"SON_USD":{"at":1565245275,"ticker":{"bid":"45.21","ask":"55.01","low":"45.79","high":"55.01","last":"45.79","vol":"787.29813","change":"8.63"}},"SON_USDT":{"at":1565245275,"ticker":{"bid":"0.02","ask":"67.3","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"CMK_BTC":{"at":1565245275,"ticker":{"bid":"0.0000002","ask":"0.0000003","low":"0.0000002","high":"0.0000002","last":"0.0000002","vol":"1825514.56","change":"-66.66"}},"CMK_ETH":{"at":1565245275,"ticker":{"bid":"0.000008","ask":"0.000037","low":"0.000036","high":"0.000036","last":"0.000036","vol":"2937087","change":"-10"}},"CMK_USD":{"at":1565245275,"ticker":{"bid":"0.0008","ask":"0.0088","low":"0.0087","high":"0.0087","last":"0.0087","vol":"3017040","change":"-9.37"}},"CMK_USDT":{"at":1565245275,"ticker":{"bid":"0.0002","ask":"0.187","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"CMK_UAH":{"at":1565245275,"ticker":{"bid":"0","ask":"8","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"GLD_BTC":{"at":1565245275,"ticker":{"bid":"0.000013","ask":"0.000019","low":"0.000013","high":"0.000013","last":"0.000013","vol":"10746.05","change":"-43.47"}},"GLD_ETH":{"at":1565245275,"ticker":{"bid":"0.0006","ask":"0.001","low":"0.0007","high":"0.001085","last":"0.0007","vol":"11287.66","change":"-50"}},"GLD_USD":{"at":1565245275,"ticker":{"bid":"0.17","ask":"0.2318","low":"0.18","high":"0.18","last":"0.18","vol":"10105.18","change":"-48.37"}},"CUR8_BTC":{"at":1565245275,"ticker":{"bid":"0.00000012","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"CUR8_ETH":{"at":1565245275,"ticker":{"bid":"0.000001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"CUR8_USD":{"at":1565245275,"ticker":{"bid":"0.001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"CUR8_USDT":{"at":1565245275,"ticker":{"bid":"0.0002","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"GFCS_BTC":{"at":1565245275,"ticker":{"bid":"0.000001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"GFCS_ETH":{"at":1565245275,"ticker":{"bid":"0.00001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"GFCS_USD":{"at":1565245275,"ticker":{"bid":"0.005","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"GFCS_USDT":{"at":1565245275,"ticker":{"bid":"0.0002","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"ADRX_BTC":{"at":1565245275,"ticker":{"bid":"0.00000051","ask":"0.00000096","low":"0.00000094","high":"0.00000095","last":"0.00000095","vol":"4646382","change":"7.95"}},"ADRX_ETH":{"at":1565245275,"ticker":{"bid":"0.000025","ask":"0.000036","low":"0.000035","high":"0.00003591","last":"0.00003564","vol":"4606057","change":"1.77"}},"ADRX_USD":{"at":1565245275,"ticker":{"bid":"0.00638","ask":"0.0099","low":"0.00965415","high":"0.00979785","last":"0.00979111","vol":"4662572","change":"1.05"}},"MIC_BTC":{"at":1565245275,"ticker":{"bid":"0.00000112","ask":"0.00000299","low":"0.00000112","high":"0.00000112","last":"0.00000112","vol":"1740.16","change":"0.90"}},"MIC_ETH":{"at":1565245275,"ticker":{"bid":"0.000002","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"MIC_USD":{"at":1565245275,"ticker":{"bid":"0.00203","ask":"0.2","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"BIRD_BTC":{"at":1565245275,"ticker":{"bid":"0.00000005","ask":"0.00000007","low":"0.00000007","high":"0.00000007","last":"0.00000007","vol":"5518177","change":"-12.5"}},"BIRD_ETH":{"at":1565245275,"ticker":{"bid":"0.0000008","ask":"0.00000515","low":"0.00000375","high":"0.00000469","last":"0.00000391","vol":"7126111","change":"-16.80"}},"BIRD_USD":{"at":1565245275,"ticker":{"bid":"0.00073355","ask":"0.001232","low":"0.00085816","high":"0.00110739","last":"0.00110739","vol":"6862317","change":"25.71"}},"BST_BTC":{"at":1565245275,"ticker":{"bid":"0.0000369","ask":"0.000038","low":"0.000037","high":"0.0000371","last":"0.000037","vol":"175552.02","change":"0.54"}},"BST_ETH":{"at":1565245275,"ticker":{"bid":"0.001867","ask":"0.001998","low":"0.001924","high":"0.001971","last":"0.001925","vol":"23218.1","change":"1.63"}},"BST_USD":{"at":1565245275,"ticker":{"bid":"0.43","ask":"0.4596","low":"0.44","high":"0.44","last":"0.44","vol":"189847.67","change":"2.32"}},"IMT_BTC":{"at":1565245275,"ticker":{"bid":"0.00000001","ask":"0.00000002","low":"0.00000002","high":"0.00000002","last":"0.00000002","vol":"0","change":"0"}},"IMT_USDT":{"at":1565245275,"ticker":{"bid":"0.00000111","ask":"0.00023832","low":"0.00023832","high":"0.00023832","last":"0.00023832","vol":"0","change":"0"}},"XEM_BTC":{"at":1565245275,"ticker":{"bid":"0.00000385","ask":"0.00000567","low":"0.00000516","high":"0.00000537","last":"0.00000519","vol":"1253575.5","change":"-5.46"}},"XEM_ETH":{"at":1565245275,"ticker":{"bid":"0.00022297","ask":"0.00033024","low":"0.00027342","high":"0.00028417","last":"0.00027731","vol":"11018.25","change":"-2.55"}},"XEM_USD":{"at":1565245275,"ticker":{"bid":"0.0306357","ask":"0.07","low":"0.0320357","high":"0.06432278","last":"0.0341357","vol":"430301.953333333333333333","change":"-46.41"}},"XEM_USDT":{"at":1565245275,"ticker":{"bid":"0.06067","ask":"0.075","low":"0.06121","high":"0.06432","last":"0.0614","vol":"404664.7","change":"-3.61"}},"GNT_BTC":{"at":1565245275,"ticker":{"bid":"0.00000456","ask":"0.00000495","low":"0.00000461","high":"0.00000484","last":"0.00000476","vol":"39532.599999999999999999","change":"0.21"}},"GNT_ETH":{"at":1565245275,"ticker":{"bid":"0.00024075","ask":"0.00026112","low":"0.00024514","high":"0.00025287","last":"0.00025083","vol":"4468.299999999999999999","change":"3.27"}},"GNT_USD":{"at":1565245275,"ticker":{"bid":"0.0022","ask":"0.06073325","low":"0.05562904","high":"0.05749199","last":"0.05633215","vol":"150916.75","change":"1.59"}},"GNT_USDT":{"at":1565245275,"ticker":{"bid":"0.01","ask":"0.06066838","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"LEO_BTC":{"at":1565245275,"ticker":{"bid":"0.00000041","ask":"0","low":"0.00000041","high":"0.00000041","last":"0.00000041","vol":"0","change":"0"}},"LEO_ETH":{"at":1565245275,"ticker":{"bid":"0.0000021","ask":"0","low":"0.00015035","high":"0.00015035","last":"0.00015035","vol":"0","change":"0"}},"LEO_USD":{"at":1565245275,"ticker":{"bid":"0.001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"LEO_USDT":{"at":1565245275,"ticker":{"bid":"0.001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"HOT_BTC":{"at":1565245275,"ticker":{"bid":"0.00000007","ask":"0.00000011","low":"0.00000007","high":"0.00000009","last":"0.00000007","vol":"5291539.166666666666666666","change":"-12.5"}},"HOT_ETH":{"at":1565245275,"ticker":{"bid":"0.00000581","ask":"0.00001112","low":"0.00000669","high":"0.00000846","last":"0.00000687","vol":"4708584.666666666666666666","change":"46.17"}},"HOT_USD":{"at":1565245275,"ticker":{"bid":"0.0000177","ask":"0","low":"0.0009205","high":"0.00097","last":"0.0009295","vol":"9743983.066666666666666666","change":"-4.09"}},"HOT_USDT":{"at":1565245275,"ticker":{"bid":"0.00006","ask":"0","low":"0.0009214","high":"0.00097","last":"0.0009276","vol":"9629055.866666666666666666","change":"-4.29"}},"VERI_BTC":{"at":1565245275,"ticker":{"bid":"0.00017","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"VERI_ETH":{"at":1565245275,"ticker":{"bid":"0.004","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"VERI_USD":{"at":1565245275,"ticker":{"bid":"1.1","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"VERI_USDT":{"at":1565245275,"ticker":{"bid":"0.1115","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"RWDS_BTC":{"at":1565245275,"ticker":{"bid":"0.00008","ask":"0.0003356","low":"0.0003356","high":"0.0003356","last":"0.0003356","vol":"0","change":"0"}},"RWDS_ETH":{"at":1565245275,"ticker":{"bid":"0.0012","ask":"0.01256","low":"0.01256","high":"0.01256","last":"0.01256","vol":"0","change":"0"}},"RWDS_USD":{"at":1565245275,"ticker":{"bid":"0.141","ask":"3.92","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"R_BTC":{"at":1565245275,"ticker":{"bid":"0.00000785","ask":"0.00000831","low":"0.00000782","high":"0.00000799","last":"0.00000784","vol":"13328.79937142","change":"-0.88"}},"R_ETH":{"at":1565245275,"ticker":{"bid":"0.00001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"R_USD":{"at":1565245275,"ticker":{"bid":"0","ask":"10","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"R_USDT":{"at":1565245275,"ticker":{"bid":"0.0896075","ask":"0.09785121","low":"0.08963247","high":"0.09481599","last":"0.08997936","vol":"20086.48821629","change":"-0.62"}},"PPT_BTC":{"at":1565245275,"ticker":{"bid":"0.0000597","ask":"0.0000623","low":"0.0000585","high":"0.0000612","last":"0.0000612","vol":"8270.66","change":"9.67"}},"PPT_ETH":{"at":1565245275,"ticker":{"bid":"0.003148","ask":"0.003296","low":"0.0031","high":"0.003253","last":"0.00324","vol":"684.43","change":"12.65"}},"PPT_USD":{"at":1565245275,"ticker":{"bid":"0.0111","ask":"0.7556","low":"0.7708","high":"0.7708","last":"0.7708","vol":"0","change":"0"}},"PPT_USDT":{"at":1565245275,"ticker":{"bid":"0.6786","ask":"0.7527","low":"0.6998","high":"0.7367","last":"0.7258","vol":"33214.69","change":"11.18"}},"SNT_BTC":{"at":1565245275,"ticker":{"bid":"0.00000162","ask":"0.00000176","low":"0.00000168","high":"0.00000171","last":"0.0000017","vol":"73641.966666666666666666","change":"-2.29"}},"SNT_ETH":{"at":1565245275,"ticker":{"bid":"0.0000857","ask":"0.00009318","low":"0.00008918","high":"0.00009007","last":"0.00008952","vol":"10713.333333333333333333","change":"-0.20"}},"SNT_USD":{"at":1565245275,"ticker":{"bid":"0.002","ask":"0.059","low":"0.02000515","high":"0.02035816","last":"0.02003435","vol":"323082","change":"-1.59"}},"SNT_USDT":{"at":1565245275,"ticker":{"bid":"0.01863536","ask":"0.02149839","low":"0.02000515","high":"0.02035816","last":"0.02003435","vol":"263877.25","change":"-1.59"}},"WTC_BTC":{"at":1565245275,"ticker":{"bid":"0.0001251","ask":"0.0001311","low":"0.0001253","high":"0.000134","last":"0.0001289","vol":"7807.54","change":"-7.53"}},"WTC_ETH":{"at":1565245275,"ticker":{"bid":"0.006619","ask":"0.006921","low":"0.006781","high":"0.00695","last":"0.006781","vol":"14.27","change":"-2.57"}},"WTC_USD":{"at":1565245275,"ticker":{"bid":"1.4148","ask":"2.8","low":"1.4936","high":"1.6009","last":"1.5271","vol":"42446.06","change":"-6.50"}},"WTC_USDT":{"at":1565245275,"ticker":{"bid":"1.4443","ask":"1.58","low":"1.4936","high":"1.6009","last":"1.5271","vol":"42133.17","change":"-6.50"}},"MANA_BTC":{"at":1565245275,"ticker":{"bid":"0.00000339","ask":"0.00000367","low":"0.00000333","high":"0.00000357","last":"0.00000354","vol":"107158.199999999999999999","change":"3.50"}},"MANA_ETH":{"at":1565245275,"ticker":{"bid":"0.00017872","ask":"0.00019428","low":"0.00017638","high":"0.00018807","last":"0.00018579","vol":"11442.833333333333333333","change":"5.07"}},"MANA_USD":{"at":1565245275,"ticker":{"bid":"0.01","ask":"1.5","low":"0.03972101","high":"0.04262762","last":"0.04185909","vol":"511120.75","change":"5.35"}},"MANA_USDT":{"at":1565245275,"ticker":{"bid":"0.03869783","ask":"0.04462972","low":"0.03972101","high":"0.04262762","last":"0.04185909","vol":"506197.5","change":"5.35"}},"KRI_BTC":{"at":1565245275,"ticker":{"bid":"0.00000101","ask":"0.00000159","low":"0.00000149","high":"0.00000159","last":"0.00000149","vol":"716554","change":"-5.69"}},"KRI_ETH":{"at":1565245275,"ticker":{"bid":"0.000045","ask":"0.000075","low":"0.0000749","high":"0.00007499","last":"0.00007498","vol":"756794","change":"7.25"}},"KRI_USDT":{"at":1565245275,"ticker":{"bid":"0.0003","ask":"0.01949231","low":"0.036","high":"0.036","last":"0.036","vol":"0","change":"0"}},"BCL_BTC":{"at":1565245275,"ticker":{"bid":"0.0000009","ask":"0.0000021","low":"0.0000017","high":"0.0000017","last":"0.0000017","vol":"1251","change":"13.33"}},"BCL_ETH":{"at":1565245275,"ticker":{"bid":"0.00003","ask":"0.000498","low":"0.0005","high":"0.0005","last":"0.0005","vol":"0","change":"0"}},"BCL_USD":{"at":1565245275,"ticker":{"bid":"0.006","ask":"0.017","low":"0.016","high":"0.017","last":"0.017","vol":"451","change":"6.25"}},"LEVL_BTC":{"at":1565245275,"ticker":{"bid":"0.0000051","ask":"0.00004","low":"0.000039","high":"0.0000399","last":"0.0000398","vol":"98920","change":"0"}},"GT_BTC":{"at":1565245275,"ticker":{"bid":"0.0000016","ask":"0","low":"0.0000016","high":"0.0000016","last":"0.0000016","vol":"0","change":"0"}},"GT_ETH":{"at":1565245275,"ticker":{"bid":"0.000063","ask":"0","low":"0.00004","high":"0.00004","last":"0.00004","vol":"0","change":"0"}},"GT_USD":{"at":1565245275,"ticker":{"bid":"0.0021","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"LDN_BTC":{"at":1565245275,"ticker":{"bid":"0.0000015","ask":"0.0000046","low":"0.0000045","high":"0.0000045","last":"0.0000045","vol":"154000.44","change":"-6.25"}},"LDN_ETH":{"at":1565245275,"ticker":{"bid":"0.000016","ask":"0.00012","low":"0.00011","high":"0.000118","last":"0.000112","vol":"184924","change":"-10.4"}},"LDN_USD":{"at":1565245275,"ticker":{"bid":"0.005","ask":"0.06","low":"0.05","high":"0.0597","last":"0.0509","vol":"133292","change":"-17.90"}},"CVC_BTC":{"at":1565245275,"ticker":{"bid":"0.0000008","ask":"0","low":"0.00000375","high":"0.00000383","last":"0.00000382","vol":"54342.375","change":"-3.53"}},"CVC_ETH":{"at":1565245275,"ticker":{"bid":"0.000016","ask":"0","low":"0.000199","high":"0.00020388","last":"0.00019958","vol":"3717.5","change":"-2.51"}},"CVC_USD":{"at":1565245275,"ticker":{"bid":"0.07","ask":"0","low":"0.0714","high":"0.0728","last":"0.0728","vol":"432728.333333333333333333","change":"0"}},"CVC_USDT":{"at":1565245275,"ticker":{"bid":"0.0002557","ask":"0","low":"0.04497723","high":"0.04626779","last":"0.04505363","vol":"400013.999999999999999999","change":"-2.14"}},"AGI_BTC":{"at":1565245275,"ticker":{"bid":"0.00000056","ask":"0","low":"0.00000263","high":"0.00000276","last":"0.00000275","vol":"162206.65","change":"2.23"}},"AGI_ETH":{"at":1565245275,"ticker":{"bid":"0.00003","ask":"0","low":"0.00013979","high":"0.00014526","last":"0.00014526","vol":"8751.4","change":"5.06"}},"AGI_USD":{"at":1565245275,"ticker":{"bid":"0.001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"AGI_USDT":{"at":1565245275,"ticker":{"bid":"0.00014","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"EUNO_BTC":{"at":1565245275,"ticker":{"bid":"0.00000161","ask":"0.0000025","low":"0.0000016","high":"0.0000016","last":"0.0000016","vol":"0","change":"0"}},"EUNO_ETH":{"at":1565245275,"ticker":{"bid":"0.000008","ask":"0.00045","low":"0.0000032","high":"0.0000032","last":"0.0000032","vol":"0","change":"0"}},"EUNO_USD":{"at":1565245275,"ticker":{"bid":"0.01","ask":"0.15","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"TTN_BTC":{"at":1565245275,"ticker":{"bid":"0.00000002","ask":"0.00000007","low":"0.00000003","high":"0.00000003","last":"0.00000003","vol":"0","change":"0"}},"TTN_ETH":{"at":1565245275,"ticker":{"bid":"0.00000056","ask":"0.00001","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"TTN_USD":{"at":1565245275,"ticker":{"bid":"0.00002666","ask":"0.0066","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"N8V_BTC":{"at":1565245275,"ticker":{"bid":"0.0000247","ask":"0.0000267","low":"0.0000247","high":"0.00002963","last":"0.00002501","vol":"42276.1404358","change":"-5.62"}},"N8V_ETH":{"at":1565245275,"ticker":{"bid":"0.00115","ask":"0.00144934","low":"0.00120189","high":"0.00160858","last":"0.00123328","vol":"34014.63929247","change":"-3.45"}},"N8V_USD":{"at":1565245275,"ticker":{"bid":"0.035","ask":"0.32751","low":"0.27147","high":"0.31263","last":"0.27639","vol":"27368.1","change":"-2.76"}},"ADN_BTC":{"at":1565245275,"ticker":{"bid":"0.00000004","ask":"0.00000005","low":"0.00000004","high":"0.00000004","last":"0.00000004","vol":"144401525","change":"0"}},"ADN_ETH":{"at":1565245275,"ticker":{"bid":"0.00000061","ask":"0.0001","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"ADN_USD":{"at":1565245275,"ticker":{"bid":"0.00004122","ask":"0.005","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"IFR_BTC":{"at":1565245275,"ticker":{"bid":"0.000008","ask":"0.000118","low":"0.0001245","high":"0.0001245","last":"0.0001245","vol":"0","change":"0"}},"IFR_ETH":{"at":1565245275,"ticker":{"bid":"0.0001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"IFR_USD":{"at":1565245275,"ticker":{"bid":"0.0116","ask":"2","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"CRAD_BTC":{"at":1565245275,"ticker":{"bid":"0.0000015","ask":"0.0000666","low":"0.000015","high":"0.000015","last":"0.000015","vol":"0","change":"0"}},"CRAD_ETH":{"at":1565245275,"ticker":{"bid":"0.0001","ask":"0.00083","low":"0.00083","high":"0.00083","last":"0.00083","vol":"56698.4","change":"23.32"}},"CRAD_USD":{"at":1565245275,"ticker":{"bid":"0.0021","ask":"0.96","low":"0.099","high":"0.099","last":"0.099","vol":"0","change":"0"}},"CRAD_UAH":{"at":1565245275,"ticker":{"bid":"0.001","ask":"1000","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"UAH_USDT":{"at":1565245275,"ticker":{"bid":"0.0004","ask":"0","low":"0.0004","high":"0.0004","last":"0.0004","vol":"0","change":"0"}},"XSCC_ETH":{"at":1565245275,"ticker":{"bid":"0.00005823","ask":"0.00006835","low":"0.00005823","high":"0.00005823","last":"0.00005823","vol":"0","change":"0"}},"UNC_BTC":{"at":1565245275,"ticker":{"bid":"0.00000023","ask":"0.00000069","low":"0.00000023","high":"0.00000023","last":"0.00000023","vol":"22918","change":"-68.91"}},"UNC_ETH":{"at":1565245275,"ticker":{"bid":"0.0000121","ask":"0.00042","low":"0.00001248","high":"0.00001248","last":"0.00001248","vol":"0","change":"0"}},"UNC_USD":{"at":1565245275,"ticker":{"bid":"0.00031","ask":"0.049","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"ENJ_BTC":{"at":1565245275,"ticker":{"bid":"0.000001","ask":"0","low":"0.0000057","high":"0.00000585","last":"0.00000577","vol":"127782.266666666666666666","change":"-8.55"}},"ENJ_ETH":{"at":1565245275,"ticker":{"bid":"0.000052","ask":"0","low":"0.00030118","high":"0.00030921","last":"0.00030411","vol":"27967.533333333333333333","change":"-6.03"}},"ENJ_USD":{"at":1565245275,"ticker":{"bid":"0.0075","ask":"0","low":"0.06812","high":"0.06989","last":"0.06883","vol":"36957.9","change":"-6.04"}},"ENJ_USDT":{"at":1565245275,"ticker":{"bid":"0.0003","ask":"0","low":"0.06812","high":"0.06989","last":"0.06814","vol":"42019","change":"-6.97"}},"BNT_BTC":{"at":1565245275,"ticker":{"bid":"0.0000061","ask":"0","low":"0.0000396","high":"0.0000399","last":"0.0000399","vol":"329.33","change":"-3.15"}},"BNT_ETH":{"at":1565245275,"ticker":{"bid":"0.000041","ask":"0","low":"0.0021","high":"0.0021","last":"0.0021","vol":"39.39","change":"-0.47"}},"BNT_USD":{"at":1565245275,"ticker":{"bid":"0.012","ask":"0","low":"0.4743","high":"0.4758","last":"0.4743","vol":"1602.75","change":"-0.89"}},"BNT_USDT":{"at":1565245275,"ticker":{"bid":"0.001","ask":"0","low":"0.4743","high":"0.4758","last":"0.4743","vol":"2132.53","change":"-0.89"}},"POWR_BTC":{"at":1565245275,"ticker":{"bid":"0.00000111","ask":"0","low":"0.00000561","high":"0.00000568","last":"0.00000564","vol":"40161.35","change":"-2.25"}},"POWR_ETH":{"at":1565245275,"ticker":{"bid":"0.000051","ask":"0","low":"0.00029792","high":"0.00029896","last":"0.00029792","vol":"1262.625","change":"0.72"}},"POWR_USD":{"at":1565245275,"ticker":{"bid":"0.001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"POWR_USDT":{"at":1565245275,"ticker":{"bid":"0.00025","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"SYNC_BTC":{"at":1565245275,"ticker":{"bid":"0.00000008","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"IOUX_BTC":{"at":1565245275,"ticker":{"bid":"0.00001791","ask":"0.00003216","low":"0.00003015","high":"0.00003205","last":"0.00003186","vol":"125837","change":"0.85"}},"IOUX_ETH":{"at":1565245275,"ticker":{"bid":"0.0001","ask":"0.000995","low":"0.00091347","high":"0.00098716","last":"0.00098083","vol":"100453","change":"0.24"}},"IOUX_USD":{"at":1565245275,"ticker":{"bid":"0.035","ask":"0.29999999","low":"0.25076767","high":"0.28840074","last":"0.28840074","vol":"32723","change":"-0.04"}},"SEM_BTC":{"at":1565245275,"ticker":{"bid":"0.00000979","ask":"0.00001997","low":"0.00000798","high":"0.00000798","last":"0.00000798","vol":"0","change":"0"}},"SEM_ETH":{"at":1565245275,"ticker":{"bid":"0.00001","ask":"0.0012","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"SEM_USD":{"at":1565245275,"ticker":{"bid":"0.001","ask":"0.31","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"KEY_BTC":{"at":1565245275,"ticker":{"bid":"0.0000001","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"KEY_ETH":{"at":1565245275,"ticker":{"bid":"0.000001","ask":"0.02","low":"0.02","high":"0.02","last":"0.02","vol":"98","change":"0"}},"KEY_USD":{"at":1565245275,"ticker":{"bid":"0.000101","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"HEDG_BTC":{"at":1565245275,"ticker":{"bid":"0.000021","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"HRD_BTC":{"at":1565245275,"ticker":{"bid":"0.00000401","ask":"0.0000058","low":"0.0000057","high":"0.00000579","last":"0.00000578","vol":"397886","change":"1.22"}},"HRD_ETH":{"at":1565245275,"ticker":{"bid":"0.00020445","ask":"0.00022621","low":"0.00021656","high":"0.00022612","last":"0.00022599","vol":"401378","change":"0.95"}},"HRD_USDT":{"at":1565245275,"ticker":{"bid":"0.04592762","ask":"0.062","low":"0.06100104","high":"0.06198832","last":"0.06197276","vol":"361320","change":"1.02"}},"CTK_BTC":{"at":1565245275,"ticker":{"bid":"0.00000015","ask":"0.00000033","low":"0.00000015","high":"0.00000015","last":"0.00000015","vol":"0","change":"0"}},"CTK_ETH":{"at":1565245275,"ticker":{"bid":"0.00000012","ask":"0.00001442","low":"0.00000075","high":"0.00000075","last":"0.00000075","vol":"0","change":"0"}},"CTK_USD":{"at":1565245275,"ticker":{"bid":"0.00197","ask":"0.00329999","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"BPK_BTC":{"at":1565245275,"ticker":{"bid":"0.00000001","ask":"0.00001","low":"0.00000001","high":"0.00000001","last":"0.00000001","vol":"0","change":"0"}},"BPK_ETH":{"at":1565245275,"ticker":{"bid":"0.00000114","ask":"0.00000115","low":"0.00000114","high":"0.00000114","last":"0.00000114","vol":"0","change":"0"}},"BPK_USD":{"at":1565245275,"ticker":{"bid":"0.00001577","ask":"0.49876","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"LINA_BTC":{"at":1565245275,"ticker":{"bid":"0.00000614","ask":"0.00000833","low":"0.00000702","high":"0.00000832","last":"0.00000832","vol":"5564729.49368351","change":"18.34"}},"LINA_ETH":{"at":1565245275,"ticker":{"bid":"0.000228","ask":"0.0004197","low":"0.0004197","high":"0.0004197","last":"0.0004197","vol":"52438.6030495","change":"0"}},"LINA_USDT":{"at":1565245275,"ticker":{"bid":"0.076","ask":"0.0919","low":"0.08","high":"0.09198","last":"0.09198","vol":"133217","change":"14.97"}},"TYPE_BTC":{"at":1565245275,"ticker":{"bid":"0.00000005","ask":"0.00000009","low":"0.00000005","high":"0.00000005","last":"0.00000005","vol":"36997","change":"0"}},"TYPE_ETH":{"at":1565245275,"ticker":{"bid":"0.0000028","ask":"0.0000043","low":"0.00000416","high":"0.00000416","last":"0.00000416","vol":"0","change":"0"}},"TYPE_USD":{"at":1565245275,"ticker":{"bid":"0.00065","ask":"0.055","low":"0.00094516","high":"0.00094516","last":"0.00094516","vol":"0","change":"0"}},"XLAB_BTC":{"at":1565245275,"ticker":{"bid":"0.00000006","ask":"0.0000003","low":"0.00000015","high":"0.00000015","last":"0.00000015","vol":"0","change":"0"}},"XLAB_ETH":{"at":1565245275,"ticker":{"bid":"0.0000055","as
[...]
