---
http_interactions:
- request:
    method: get
    uri: https://p2pb2b.io/api/v1/public/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"name":"ETH_BTC","moneyPrec":"8","stock":"ETH","money":"BTC","stockPrec":"8","feePrec":"4","minAmount":"0.001"},{"name":"BTC_USD","moneyPrec":"8","stock":"BTC","money":"USD","stockPrec":"8","feePrec":"4","minAmount":"0.001"},{"name":"BTC_UAH","moneyPrec":"0","stock":"BTC","money":"UAH","stockPrec":"6","feePrec":"4","minAmount":"0.001"},{"name":"ETH_UAH","moneyPrec":"0","stock":"ETH","money":"UAH","stockPrec":"6","feePrec":"4","minAmount":"0.001"},{"name":"EDR_UAH","moneyPrec":"4","stock":"EDR","money":"UAH","stockPrec":"2","feePrec":"4","minAmount":"0.1"},{"name":"LGC_BTC","moneyPrec":"8","stock"[...]
