---
http_interactions:
- request:
    method: get
    uri: https://p2pb2b.io/api/v1/public/history/result?limit=100&market=ETH_BTC&since=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"tid":1675566,"type":"sell","date":1546983914,"amount":"10.87881276","price":"0.03725"},{"tid":1675520,"type":"buy","date":1546983736,"amount":"5.92460993","price":"0.037273"},{"tid":1675475,"type":"buy","date":1546983558,"amount":"108.0106163","price":"0.037303"},{"tid":1675440,"type":"sell","date":1546983440,"amount":"175.86524025","price":"0.03733"},{"tid":1675422,"type":"sell","date":1546983322,"amount":"162.38437998","price":"0.037286"},{"tid":1675377,"type":"sell","date":1546983142,"amount":"70.99187941","price":"0.03733"},{"tid":1675335,"type":"sell","date":154698[...]
