---
http_interactions:
- request:
    method: get
    uri: https://p2pb2b.io/api/v1/public/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Ttl:
      - 30s
      X-Varnish-Grace:
      - 5s
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"name":"ETH_BTC","stock":"ETH","money":"BTC","moneyPrec":"6","stockPrec":"3","feePrec":"4","minAmount":"0.001"},{"name":"BTC_USD","stock":"BTC","money":"USD","moneyPrec":"2","stockPrec":"6","feePrec":"4","minAmount":"0.001"},{"name":"BTC_UAH","stock":"BTC","money":"UAH","moneyPrec":"0","stockPrec":"6","feePrec":"4","minAmount":"0.001"},{"name":"ETH_UAH","stock":"ETH","money":"UAH","moneyPrec":"0","stockPrec":"6","feePrec":"4","minAmount":"0.001"},{"name":"EDC_UAH","stock":"EDC","money":"UAH","moneyPrec":"4","stockPrec":"2","feePrec":"4","minAmount":"0.01"},{"name":"ETC_USDT","stock":"ETC","money"[...]
