---
http_interactions:
- request:
    method: get
    uri: https://api.chiliz.net/openapi/quote/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"time":1587087151659,"symbol":"ETCBTC","volume":"3555940.7128","quoteVolume":"2727.0068343769","lastPrice":"0.000769","highPrice":"0.000784","lowPrice":"0.000752","openPrice":"0.000755"},{"time":1587087151990,"symbol":"CAICHZ","volume":"0","quoteVolume":"0","lastPrice":"0","highPrice":"0","lowPrice":"0","openPrice":"0"},{"time":1587087123050,"symbol":"EOSUSDT","volume":"2692347.7495","quoteVolume":"7008810.07092761","lastPrice":"2.6566","highPrice":"2.7168","lowPrice":"2.3792","openPrice":"2.39"},{"time":1587087151990,"symbol":"OGCHZ","volume":"0","quoteVolume":"0","lastPrice":"0","highPrice":"0","lowPrice":"0","openPrice":"0"},{"time":1587087151990,"symbol":"PSGCHZ"[...]
