---
http_interactions:
- request:
    method: get
    uri: https://api.chiliz.net/openapi/quote/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"time":1584418912050,"symbol":"ETCBTC","volume":"1589109.8324","quoteVolume":"1428.1161154658","lastPrice":"0.000902","highPrice":"0.000941","lowPrice":"0.000852","openPrice":"0.000935"},{"time":1584418913509,"symbol":"CAICHZ","volume":"0","quoteVolume":"0","lastPrice":"0","highPrice":"0","lowPrice":"0","openPrice":"0"},{"time":1584418912303,"symbol":"EOSUSDT","volume":"17454655.2757","quoteVolume":"32712508.28576194","lastPrice":"1.9549","highPrice":"2.0254","lowPrice":"1.7209","openPrice":"2.0176"},{"time":1584418913509,"symbol":"OGCHZ","volume":"0","quoteVolume":"0","lastPrice":"0","highPrice":"0","lowPrice":"0","openPrice":"0"},{"time":1584418913509,"symbol":"PSG[...]
