---
http_interactions:
- request:
    method: get
    uri: https://api.bitasset.com/api/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Application-Context:
      - application:prod:8080
    body:
      encoding: UTF-8
      string: '{"ticker":[{"symbol":"usdt_cnyt","high":"6.9383","vol":"3966473.70000000","last":"6.9314","low":"6.8848","buy":"6.9162","sell":"6.9454"},{"symbol":"btc_cnyt","high":"56453.29","vol":"16587.38670000","last":"56170.98","low":"53954.17","buy":"56033.71","sell":"56319.45"},{"symbol":"eth_cnyt","high":"1475.76","vol":"247403.49100000","last":"1461.74","low":"1351.77","buy":"1457.88","sell":"1465.26"},{"symbol":"bch_cnyt","high":"2832.55","vol":"163835.48500000","last":"2773.17","low":"2642.75","buy":"2765.51","sell":"2772.69"},{"symbol":"ltc_cnyt","high":"651.16","vol":"1081019.32000000","last":"637.05","low":"602.97","buy":[...]
