---
http_interactions:
- request:
    method: get
    uri: https://www.vebitcoin.com/Ticker/All
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Last":38251.93,"High":38022.52,"Low":36755.36,"Vwap":37431.89,"Volume":182.01018864,"Bid":37800.00,"Ask":41200.00,"Time":"2018-08-02T01:28:56.3702346Z","Open":37900.00,"Code":"BTC"},{"Last":390.13,"High":388.30,"Low":378.61,"Vwap":382.06,"Volume":1896.89157456,"Bid":383.26,"Ask":650.00,"Time":"2018-08-02T01:28:56.3702346Z","Open":382.00,"Code":"LTC"},{"Last":2107.70,"High":2112.30,"Low":2049.63,"Vwap":2078.34,"Volume":1122.26219640,"Bid":2072.00,"Ask":4500.00,"Time":"2018-08-02T01:28:56.3702346Z","Open":2072.00,"Code":"ETH"},{"Last":2.23,"High":2.26,"Low":2.09,"Vwap":2.19,"Volume":2751219.08358276,"Bid":2.21,"Ask":999.00,"Time":"2018-08-02T01:28:56.3702346Z","Open":2[...]
