---
http_interactions:
- request:
    method: get
    uri: https://us-central1-vebitcoin-market.cloudfunctions.net/app/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1773-TgAw5uWiw8JBTXdiTKCui18D6kM"
      Function-Execution-Id:
      - z5chqzyynv96
      X-Cloud-Trace-Context:
      - 79c0e0664c85e3929c6f0942633250eb
    body:
      encoding: UTF-8
      string: '[{"Ask":50749.99,"Bid":50200.01,"High":51200,"Low":50200,"Price":50200,"Open":0,"Volume":3636341.1307651,"Time":"2019-11-14T08:34:50.8133333+00:00","SourceCoinCode":"BTC","TargetCoinCode":"TRY","VolumeCoinCode":"TRY"},{"Ask":1.55,"Bid":1.54,"High":1.61,"Low":1.55,"Price":1.55,"Open":0,"Volume":2914079.65061416,"Time":"2019-11-14T08:43:28.21+00:00","SourceCoinCode":"XRP","TargetCoinCode":"TRY","VolumeCoinCode":"TRY"},{"Ask":0.43,"Bid":0.421,"High":0.449,"Low":0.424,"Price":0.424,"Open":0,"Volume":3434125.75124182,"Time":"2019-11-14T08:43:29.8133333+00:00","SourceCoinCode":"XLM","TargetCoinCode":"TRY","VolumeCoinCode":"TRY"},{"Ask":1084,"Bid":1077.01,"High":1093,"Low":1076,"Price":1078,"Open":0,"Volume":[...]
