---
http_interactions:
- request:
    method: get
    uri: https://api.stinex.net/api/v2/order_book?market=ethusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 81.168.92.227
      X-Original-Uri:
      - "/api/v2/order_book?market=ethusd"
      X-Scheme:
      - https
      X-Original-Forwarded-For:
      - 81.168.92.227
      Etag:
      - W/"ce46d35ddea8e650743dff85234d765e"
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":587,"side":"sell","ord_type":"limit","price":"115.0","avg_price":"115.0","state":"wait","market":"ethusd","created_at":"2018-11-25T13:05:14+01:00","volume":"0.67452092","remaining_volume":"0.23973832","executed_volume":"0.4347826","trades_count":1}],"bids":[{"id":422,"side":"buy","ord_type":"limit","price":"98.0","avg_price":"98.0","state":"wait","market":"ethusd","created_at":"2018-11-20T19:10:12+01:00","volume":"28.0","remaining_volume":"27.6652174","executed_volume":"0.3347826","trades_count":1}]}'
  recorded_at: Tue, 27 Nov 2018 15:34:09 GMT
recorded_with: VCR 4.0.0
