---
http_interactions:
- request:
    method: get
    uri: https://api.stinex.net/api/v2/tickers/ethusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 81.168.92.227
      X-Original-Uri:
      - "/api/v2/tickers/ethusd"
      X-Scheme:
      - https
      X-Original-Forwarded-For:
      - 81.168.92.227
      Etag:
      - W/"f3fff855f1fe4ede44058afcbff82266"
    body:
      encoding: ASCII-8BIT
      string: '{"at":1543332849,"ticker":{"buy":"98.0","sell":"115.0","low":"98.0","high":"115.0","last":"98.0","vol":"0.8695652"}}'
  recorded_at: Tue, 27 Nov 2018 15:34:09 GMT
recorded_with: VCR 4.0.0
