---
http_interactions:
- request:
    method: get
    uri: https://rest.bamboorelay.com/main/0x/markets?page=1&perPage=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"DAI-WETH","baseTokenName":"Dai Stablecoin v1.0","displayName":"DAI/WETH","baseTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","quoteTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","baseTokenId":2,"quoteTokenId":1,"baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00000001","maxOrderSize":"1000000000","score":100,"active":1},{"id":"DAI-USDC","baseTokenName":"Dai
        Stablecoin v1.0","displayName":"DAI/USDC","baseTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","quoteTokenAddress":"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","baseTokenId":2,"quoteTokenId":504,"baseTokenDecimals":18,"quoteTokenDecimals":6,"quoteIncrement":8,"minOrderSize":"0.00000001","maxOrderSize":"1000000000","score":100,"active":1},{"id":"DAI-CUSD","baseTokenName":"Dai
        Stablecoin v1.0","displayName":"DAI/CUSD","baseTokenAd[...]
- request:
    method: get
    uri: https://rest.bamboorelay.com/main/0x/markets?page=2&perPage=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 15 Jul 2019 09:29:17 GMT
recorded_with: VCR 4.0.0
