---
http_interactions:
- request:
    method: get
    uri: https://rest.bamboorelay.com/main/0x/markets?perPage=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"WETH-DAI","baseTokenName":"WETH","displayName":"WETH/DAI","baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","baseTokenId":1,"quoteTokenId":2,"baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00000001","maxOrderSize":"1000000000","score":100,"active":1},{"id":"WETH-USDT","baseTokenName":"WETH","displayName":"WETH/USDT","baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0xdac17f958d2ee523a2206206994597c13d831ec7","baseTokenId":1,"quoteTokenId":3,"baseTokenDecimals":18,"quoteTokenDecimals":6,"quoteIncrement":8,"minOrderSize":"0.00000001","maxOrderSize":"1000000000","score":100,"active":1},{"id":"WETH-GUSD","baseTokenName":"WETH","displayName":"WETH/GUSD","baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c[...]
