---
http_interactions:
- request:
    method: get
    uri: https://rest.bamboorelay.com/main/0x/markets?include=base,stats,ticker,realVolume&perPage=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"WETH-DAI","baseTokenName":"WETH","displayName":"WETH/DAI","baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","baseTokenId":1,"quoteTokenId":2,"baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00000001","maxOrderSize":"1000000000","score":100,"active":1,"ticker":{"transactionHash":"0x3cfe04693b2fa2bf155d28fd3ce80e84ab5fe94ed7fb4fdafeb989f374701b6b","price":"141.1970400000000000000000","size":"1.411970399999999999","amount":"0.010000000000000000","timestamp":1576467606,"bestBid":"141.1671000000000000000000","bestAsk":"142.1938904000000000000000","spreadPercentage":"0.00727204"},"stats":{"numBidsWithinRange":5,"numAsksWithinRange":4,"baseTokenAvailable":"326.8529959878229092830000","quoteTokenAvailable":"62456.0341279999999997830000","volume24Hour":"0.00000000","quoteVolume24Hour":"0.00000000","percentChange24Hour":"0.00000000"}},{"id":"DAI-WETH","baseTokenName":"WETH","displayName":"WETH/DAI","baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","baseTokenId":1,"quoteTokenId":2,"baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00000001","maxOrderSize":"1000000000","score":100,"active":1,"ticker":{"transactionHash":"0x3cfe04693b2fa2bf155d28fd3ce80e84ab5fe94ed7fb4fdafeb989f374701b6b","price":"0.00708[...]
