---
http_interactions:
- request:
    method: get
    uri: https://rest.bamboorelay.com/main/0x/markets/WETH-DAI/fills
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","transactionHash":"0x3cfe04693b2fa2bf155d28fd3ce80e84ab5fe94ed7fb4fdafeb989f374701b6b","type":"SELL","blockNumber":9113651,"makerAddress":"0xb0dd0dcada73b715e3b5567ab17bd7f37216a637","takerAddress":"0x7727b4eb4ba625c856e9a0eeb30e64dfde5d91ae","feeRecipientAddress":"0x0000000000000000000000000000000000000000","makerFeePaid":"0.000000000000000000","takerFeePaid":"0.000000000000000000","protocolFeePaid":"0.001035","filledBaseTokenAmount":"0.010000000000000000","filledQuoteTokenAmount":"1.411970399999999999","orderHash":"0x0cc66c5be85cf151ae96014f9b1e576766588656c172b7ee7875c749bfcaf518","timestamp":1576467606,"source":"EXTERNAL","outlier":false},{"baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","transactionHash":"0x2da1e884b312f887c191848a28120933fe362693b7624908652662d8c6da8460","type":"SELL","blockNumber":9113626,"makerAddress":"0xb0dd0dcada73b715e3b5567ab17bd7f37216a637","takerAddress":"0x7727b4eb4ba625c856e9a0eeb30e64dfde5d91ae","feeRecipientAddress":"0x0000000000000000000000000000000000000000","makerFeePaid":"0.000000000000000000","takerFeePaid":[...]
