---
http_interactions:
- request:
    method: post
    uri: https://cryptoexchange.ws/en/gateway/public/lastTrades
    body:
      encoding: UTF-8
      string: '{"market":"ETH-BTC","count":50}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"missing_authenticators":[],"infos":[],"warnings":[],"errors":[],"results":[{"time":1543141836000,"type":2,"nominal":0.2558284,"rate":0.02974419,"price":0.00760941},{"time":1543141685000,"type":1,"nominal":0.35404838,"rate":0.02989329,"price":0.01058367},{"time":1543141469000,"type":2,"nominal":0.39142551,"rate":0.02961149,"price":0.01159069},{"time":1543141257000,"type":1,"nominal":0.4383275,"rate":0.02974734,"price":0.01303908},{"time":1543141149000,"type":2,"nominal":0.3240834,"rate":0.02959376,"price":0.00959085},{"time":1543140985000,"type":1,"nominal":0.4064452,"rate":0.0297051,"price":0.0120735},{"time":1543140900000,"type":1,"nominal":0.[...]
