---
http_interactions:
- request:
    method: post
    uri: https://cryptoexchange.ws/en/gateway/public/bestOffer
    body:
      encoding: UTF-8
      string: '{"market":"ETH-BTC","count":50}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"missing_authenticators":[],"infos":[],"warnings":[],"errors":[],"results":{"bid":[[0.02953174,3.0391],[0.02949791,5.2889],[0.02946493,2.9699]],"ask":[[0.02972702,6.5867]],"lastQuote":0.0297051,"rate24h":0.03001027,"current_rates":[]}}'
  recorded_at: Sun, 25 Nov 2018 10:17:45 GMT
recorded_with: VCR 4.0.0
