---
http_interactions:
- request:
    method: get
    uri: https://exchange.gbx.gi/api/v1/market/hour24Market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n\t\"code\":\"1000\",\n\t\"data\":{\n\t\t\"BCH/BTC\":{\n\t\t\t\"baseVolume\":\"430.1986\",\n\t\t\t\"high24hr\":\"0.08050800\",\n\t\t\t\"highestBid\":\"0.07885100\",\n\t\t\t\"id\":1,\n\t\t\t\"isFrozen\":0,\n\t\t\t\"last\":\"0.07885800\",\n\t\t\t\"low24Hr\":\"0.07823100\",\n\t\t\t\"lowestAsk\":\"0.07885499\",\n\t\t\t\"percentChange\":\"0.0007\",\n\t\t\t\"quoteVolume\":\"34.0128\"\n\t\t},\n\t\t\"BCH/ETH\":{\n\t\t\t\"baseVolume\":\"886.2444\",\n\t\t\t\"high24hr\":\"1.93738000\",\n\t\t\t\"highestBid\":\"1.92219000\",\n\t\t\t\"id\":1,\n\t\t\t\"isFrozen\":0,\n\t\t\t\"last\":\"1.92239000\",\n\t\t\t\"low24Hr\":\"1.90148999\",\n\t\t\t\"lowestAsk\":\"1.92542000\",\n\t\t\t\"percentChange\":\"0.0072\",\n\t\t\t\"quoteVolume\":\"1698.5165\"\n\t\t},\n\t\t\"BTC/USD\":{\n\t\t\t\"baseVolume\":\"126.8174\",\n\t\t\t\"high24hr\":\"7075.50\",\n\t\t\t\"highestBid\":\"7064.40\",\n\[...]
