---
http_interactions:
- request:
    method: get
    uri: https://exchange.drgx.io/cmc/public/TradesCm?pair=drg_eth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"tradeID":58545,"price":"0.000294","base_volume":"890","quote_volume":0.26166,"trade_timestamp":1585070561,"type":"buy"},{"tradeID":58542,"price":"0.000292","base_volume":"1056","quote_volume":0.308352,"trade_timestamp":1585069311,"type":"buy"},{"tradeID":58540,"price":"0.00029","base_volume":"1137.93103448","quote_volume":0.32999999999920004,"trade_timestamp":1585068858,"type":"buy"},{"tradeID":58533,"price":"0.000275","base_volume":"1200","quote_volume":0.33,"trade_timestamp":1585068493,"type":"buy"},{"tradeID":58530,"price":"0.000279","base_volume":"1182.79569892","quote_volume":0.32999999999868,"trade_t[...]
