---
http_interactions:
- request:
    method: get
    uri: https://api.bkex.com/v1/q/depth?pair=BKK_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n\t\"code\":0,\n\t\"data\":{\n\t\t\"asks\":[\n\t\t\t{\n\t\t\t\t\"amt\":10066.5500,\n\t\t\t\t\"direction\":\"ASK\",\n\t\t\t\t\"pair\":\"BKK_USDT\",\n\t\t\t\t\"price\":0.1820\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"amt\":3610.6995,\n\t\t\t\t\"direction\":\"ASK\",\n\t\t\t\t\"pair\":\"BKK_USDT\",\n\t\t\t\t\"price\":0.1821\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"amt\":4136.7033,\n\t\t\t\t\"direction\":\"ASK\",\n\t\t\t\t\"pair\":\"BKK_USDT\",\n\t\t\t\t\"price\":0.1823\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"amt\":6811.5691,\n\t\t\t\t\"direction\":\"ASK\",\n\t\t\t\t\"pair\":\"BKK_USDT\",\n\t\t\t\t\"price\":0.1824\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"amt\":13123.0782,\n\t\t\t\t\"direction\":\"ASK\",\n\[...]
