---
http_interactions:
- request:
    method: get
    uri: https://www.bkex.com/api/commons/market/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:bkk:8080
      X-Cdn-Edge:
      - 6bedf6a,-
    body:
      encoding: UTF-8
      string: '{"msg":null,"code":0,"data":[{"pair":"BKK_USDT","maxPrice":0.0441,"minPrice":0.0398,"totalAmount":1541262.493,"lastPrice":0.0441,"currentPrice":0.0440,"statDate":1539484968000,"totalAmountAnchor":63906.372965371236},{"pair":"BTC_USDT","maxPrice":6343.7928,"minPrice":6292.0176,"totalAmount":5198.139699999999,"lastPrice":6342.4004,"currentPrice":6342.6107,"statDate":1539484968000,"totalAmountAnchor":32865042.398566484},{"pair":"ETH_USDT","maxPrice":203.8195,"minPrice":197.4429,"totalAmount":48213.506700000005,"lastPrice":200.9262,"currentPrice":200.9407,"statDate":1539484968000,"totalAmountAnchor":9680546.830796644},{"pair":"OMG_USDT","maxPrice":3.1059,"minPrice":3.0485,"totalAmount":48721[...]
