---
http_interactions:
- request:
    method: get
    uri: https://vip.bitcoin.co.id/api/btc_idr/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      V:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":{"high":"59950000","low":"58400000","vol_btc":"671.65214662","vol_idr":"39755351054","last":"59450100","buy":"59400100","sell":"59450000","server_time":1507003447}}'
  recorded_at: Tue, 03 Oct 2017 04:04:07 GMT
recorded_with: VCR 3.0.3
