---
http_interactions:
- request:
    method: get
    uri: https://api.abucoins.com/products/ETH-BTC/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Ac-Before:
      - '875704'
      Ac-After:
      - '874195'
    body:
      encoding: UTF-8
      string: '[{"time":"2017-10-27T13:27:08Z","trade_id":875704,"price":"0.05088118","size":"0.33900000","side":"sell"},{"time":"2017-10-27T13:21:25Z","trade_id":875673,"price":"0.05086845","size":"0.27100000","side":"sell"},{"time":"2017-10-27T13:15:29Z","trade_id":875659,"price":"0.05086845","size":"0.24920000","side":"buy"},{"time":"2017-10-27T13:09:13Z","trade_id":875630,"price":"0.05084636","size":"0.02230000","side":"sell"},{"time":"2017-10-27T13:04:54Z","trade_id":875613,"price":"0.05087037","size":"0.24180000","side":"buy"},{"time":"2017-10-27T12:59:18Z","trade_id":875593,"price":"0.05088166","siz[...]
