---
http_interactions:
- request:
    method: get
    uri: https://api.abucoins.com/products/BTC-USD/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"trade_id":"869571","price":5700.24,"size":0.02474,"bid":"5649.36000000","ask":"5717.57000000","volume":"4.09127000","time":"2017-10-25T22:35:13Z"}'
  recorded_at: Wed, 25 Oct 2017 22:35:13 GMT
recorded_with: VCR 3.0.3
