---
http_interactions:
- request:
    method: get
    uri: https://api.abucoins.com/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"ETH-BTC","base_currency":"ETH","quote_currency":"BTC","base_min_size":"0.001","base_max_size":"100000","quote_increment":"0.00000001","display_name":"ETH/BTC"},{"id":"LTC-BTC","base_currency":"LTC","quote_currency":"BTC","base_min_size":"0.001","base_max_size":"100000","quote_increment":"0.00000001","display_name":"LTC/BTC"},{"id":"ETC-BTC","base_currency":"ETC","quote_currency":"BTC","base_min_size":"0.001","base_max_size":"100000","quote_increment":"0.00000001","display_name":"ETC/BTC"},{"id":"ZEC-BTC","base_currency":"ZEC","quote_currency":"BTC","base_min_size":"0.001","base_max_size":"100000","quote_increment":"0.00000001","display_name"[...]
