---
http_interactions:
- request:
    method: get
    uri: https://tva.lukki.io/trading/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "ticker": "eth_pax",
            "lastDone": "172.816754458182538432935848",
            "bid": "152.549028",
            "ask": "196.7467",
            "base24hVolume": "660.63221947431107453291",
            "quote24hVolume": "118406.8919167882398573584046678672988084858",
            "high24h": "172.816754458182538432935848",
            "low24h": "172.811861104271953048832576",
            "timestamp": "2019-10-22T06:45:52+00:00",
            "created": "2019-07-04T11:40:18.793Z",
            "prevDayPrice": "177.932097559425221274874437",
            "buyOrdersCount": "0",
            "sellOrdersCount": "0"
          },
          {
            "ticker": "zrx_btc",
            "lastDone": "0.000039405",
            "bid": "0.00003539",
            "ask": "0.00004647",
            "base24hVolume": "39412.98866564487614883817",
            "quote24hVolume": "1.3780317766664032693328469527280389624",
            "high24h": "0.000039405",
            "low24h": "0.000039405",
            "timestamp": "2019-10-22T06:45:52+00:00",
            "created": "2019-07-02T11:20:46.719Z",
            "prevDay[...]
