---
http_interactions:
- request:
    method: get
    uri: https://api.coinfield.com/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Proxy-Runtime:
      - 28ms
      X-Fuse-Cached:
      - 'false'
      Etag:
      - W/"1248-bF2BXlrZ247Aq1ltNSybXn0Yxog"
    body:
      encoding: UTF-8
      string: '{"markets":[{"market":"btcxrp","timestamp":"2018-11-15T14:27:29.000Z","bid":12298.6949,"ask":12315.2709,"low":11981.4609,"high":13637.6022,"last":12313.7546,"open":12599.1684,"vol":584.69191041},{"market":"ethxrp","timestamp":"2018-11-15T14:27:29.000Z","bid":378.2662,"ask":392.4117,"low":375.7096,"high":418.8738,"last":392.19,"open":402.0647,"vol":1608.3017},{"market":"dashxrp","timestamp":"2018-11-15T14:27:29.000Z","bid":300.0986,"ask":301.3371,"low":298.4274,"high":331.961,"last":298.4274,"open":314.3018,"vol":1048.716},{"market":"ltcxrp","timestamp":"2018-11-15T14:27:29.000Z","bid":94.9947,"ask":95.3443,"low":91.9556,"high":102.2896,"last":95.3079,"open":97.6708,"vol":1[...]
