---
http_interactions:
- request:
    method: get
    uri: https://api.coinfield.com/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Proxy-Runtime:
      - 0ms
      X-Fuse-Cached:
      - 'true'
      Etag:
      - W/"1350-Z73eKVYX8ToCwZ/GdDqwvnaw3Ig"
    body:
      encoding: UTF-8
      string: '{"markets":[{"id":"btcxrp","name":"BTC/XRP","ask_precision":8,"bid_precision":4,"minimum_volume":"0.001","maximum_volume":"50.0","minimum_funds":"20.0","maximum_funds":"500000.0"},{"id":"ethxrp","name":"ETH/XRP","ask_precision":4,"bid_precision":4,"minimum_volume":"0.1","maximum_volume":"300.0","minimum_funds":"20.0","maximum_funds":"500000.0"},{"id":"dashxrp","name":"DASH/XRP","ask_precision":3,"bid_precision":4,"minimum_volume":"0.1","maximum_volume":"500.0","minimum_funds":"20.0","maximum_funds":"500000.0"},{"id":"ltcxrp","name":"LTC/XRP","ask_precision":2,"bid_precision":4,"minimum_volume":"0.1","maximum_volume":"1000.0","minimum_funds":"20.0","maximum_fun[...]
