---
http_interactions:
- request:
    method: get
    uri: https://api.coinfield.com/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Proxy-Runtime:
      - 20ms
      X-Fuse-Cached:
      - 'false'
      Etag:
      - W/"22d8-Ke2KjAfyu+U5HFctjNFHLtAWmDU"
    body:
      encoding: UTF-8
      string: '{"markets":[{"market":"btcxrp","timestamp":"2019-01-16T14:56:39.000Z","bid":10968.0617,"ask":11062.8924,"low":9874.3458,"high":11145.1548,"last":11012.6121,"open":11049.4083,"vol":188.48361263},{"market":"ethxrp","timestamp":"2019-01-16T14:56:39.000Z","bid":372.4623,"ask":373.981,"low":358.416,"high":392.923,"last":372.4515,"open":389.1427,"vol":1635.5797},{"market":"xlmxrp","timestamp":"2019-01-16T14:56:39.000Z","bid":0.3242,"ask":0.3259,"low":0.3212,"high":0.3552,"last":0.3246,"open":0.3257,"vol":1589870.875},{"market":"ltcxrp","timestamp":"2019-01-16T14:56:39.000Z","bid":95.5498,"ask":95.992,"low":88.8698,"high":98.0175,"last":95.7183,"open":97.4862,"vol":2055.53},{"ma[...]
