---
http_interactions:
- request:
    method: get
    uri: https://api.coinfield.com/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Proxy-Runtime:
      - 18ms
      X-Fuse-Cached:
      - 'false'
      Etag:
      - W/"254c-N9/ohvHqudRF1FbMnfk429orbF4"
    body:
      encoding: UTF-8
      string: '{"markets":[{"id":"btcxrp","name":"BTC/XRP","ask_precision":8,"bid_precision":4,"minimum_volume":"0.001","maximum_volume":"50.0","minimum_funds":"20.0","maximum_funds":"500000.0"},{"id":"ethxrp","name":"ETH/XRP","ask_precision":4,"bid_precision":4,"minimum_volume":"0.1","maximum_volume":"300.0","minimum_funds":"20.0","maximum_funds":"500000.0"},{"id":"xlmxrp","name":"XLM/XRP","ask_precision":4,"bid_precision":4,"minimum_volume":"80.0","maximum_volume":"600000.0","minimum_funds":"20.0","maximum_funds":"400000.0"},{"id":"ltcxrp","name":"LTC/XRP","ask_precision":2,"bid_precision":4,"minimum_volume":"0.1","maximum_volume":"1000.0","minimum_funds":"20.0","maximum_f[...]
