---
http_interactions:
- request:
    method: get
    uri: https://api.coinfield.com/v1/trades/btccad
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Proxy-Runtime:
      - 12ms
      X-Fuse-Cached:
      - 'false'
      Etag:
      - W/"b64-X9SLPkzfG6zRKw4OwFblY1kAmcQ"
    body:
      encoding: UTF-8
      string: '{"market":"btccad","trades_hash":"66c523f0bdcbf6289bbb7472fc0d20fa","trades":[{"id":"pd1e3uhh200apmin","price":"4794.88","volume":"0.17119863","total_value":"820.8768870144","timestamp":"2019-01-16T14:56:34.000000Z"},{"id":"pd1e3uhda00apmim","price":"4793.83","volume":"0.17648903","total_value":"846.0584066849","timestamp":"2019-01-16T14:54:34.000000Z"},{"id":"pd1e3uh7400apmil","price":"4789.36","volume":"0.09931914","total_value":"475.6751163504","timestamp":"2019-01-16T14:51:16.000000Z"},{"id":"pd1e3ugsv00apmik","price":"4795.26","volume":"0.21421751","total_value":"1027.2286570026","timestamp":"2019-01-16T14:45:51.000000Z"},{"id":"pd1e3ugpj00apmij","price":"4794.78","volume"[...]
