---
http_interactions:
- request:
    method: get
    uri: https://api.coinfield.com/v1/orderbook/btccad
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Proxy-Runtime:
      - 22ms
      X-Fuse-Cached:
      - 'false'
      Etag:
      - W/"11c2-MolYZiG80B0jJ+KSbuOCbPKMLnU"
    body:
      encoding: UTF-8
      string: '{"market":"btccad","total_asks":1.2045036,"total_bids":7.250672399999999,"bids_hash":"f2ab5114f67e86ba58ec33a504231b6d","asks_hash":"421ae87010e52ac15bb929905e23bf6c","bids":[{"id":"pd211dur0v10024pi4","price":"7101.73","volume":"0.0045","timestamp":"2018-11-15T14:34:09.000000Z"},{"id":"pd211duqpvf0024mt9","price":"6920.0","volume":"0.1467","timestamp":"2018-11-15T12:34:55.000000Z"},{"id":"pd211dur0hj0024pap","price":"6864.76","volume":"0.016539","timestamp":"2018-11-15T14:26:59.000000Z"},{"id":"pd211dur0hj0024pah","price":"6851.03","volume":"0.0151836","timestamp":"2018-11-15T14:26:59.000000Z"},{"id":"pd211dur0hj0024pb2","price":"6838.02","volume":"0.0145194","timestamp":"2018-11-15T14:26:59.000000Z"},{"id":"pd211dur0hj0024paq","price":"68[...]
