---
http_interactions:
- request:
    method: get
    uri: https://indodax.com/api/btc_idr/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      V:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":{"high":"97140000","low":"96000000","vol_btc":"79.78584836","vol_idr":"7709503807","last":"96500000","buy":"96501000","sell":"96574000","server_time":1537069397}}'
  recorded_at: Sun, 16 Sep 2018 03:43:18 GMT
recorded_with: VCR 4.0.0
