---
http_interactions:
- request:
    method: get
    uri: https://indodax.com/api/btc_idr/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      V:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"1537070198","price":"96524000","amount":"0.00529624","tid":"8539294","type":"buy"},{"date":"1537070188","price":"96523000","amount":"0.00114251","tid":"8539293","type":"buy"},{"date":"1537070165","price":"96523000","amount":"0.00529630","tid":"8539292","type":"buy"},{"date":"1537070156","price":"96343000","amount":"0.00103563","tid":"8539291","type":"sell"},{"date":"1537070148","price":"96523000","amount":"0.00529631","tid":"8539290","type":"buy"},{"date":"1537070134","price":"96523000","amount":"0.00529630","tid":"8539289","type":"buy"},{"date":"1537070123","price":"96[...]
