---
http_interactions:
- request:
    method: get
    uri: https://api.coinpark.cc/v1/mdata?cmd=deals&pair=BIX_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ca-Request-Id:
      - 16C44AD7-A4C4-408B-B5D7-55B827801F34
      Etag:
      - W/"4fd5-9qwdXkkVLqyjW3P1HMpQbRGV19A"
    body:
      encoding: UTF-8
      string: '{"result":[{"id":"61445528","pair":"BIX_USDT","price":"0.3503","amount":"29.6819","time":1538824128000,"side":2},{"id":"61419172","pair":"BIX_USDT","price":"0.4000","amount":"28.7933","time":1538713847000,"side":1},{"id":"60867188","pair":"BIX_USDT","price":"0.4000","amount":"46.8385","time":1538444264000,"side":2},{"id":"60943378","pair":"BIX_USDT","price":"0.4002","amount":"21.6499","time":1538444204000,"side":2},{"id":"61039929","pair":"BIX_USDT","price":"0.4002","amount":"14.0815","time":1538439764000,"side":2},{"id":"60771675","pair":"BIX_USDT","price":"0.4002","amount":"308.5164","time":1538436974[...]
