---
http_interactions:
- request:
    method: get
    uri: https://api.coinzest.co.kr/api/public/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "success": true,
         "message": "79 row(s) returned",
         "result":  [
            {
           "OpenSellOrders": 10,
           "Low": 7216000,
           "OpenBuyOrders": 10,
           "Volume": 2.357582795E9,
           "Bid": 7300000,
           "MarketName": "KRW-BTC",
           "Ask": 7321000,
           "TimeStamp": 1540375830120,
           "Last": 7300000,
           "Created": 1540375838965,
           "PrevDay": 7271000,
           "BaseVolume": 2.357582795E9,
           "High": 7323000
          },
            {
           "OpenSellOrders": 10,
           "Low": 488000,
           "OpenBuyOrders": 8,
           "Volume": 1.1761081994E10,
           "Bid": 488500,
           "MarketName": "KRW-BCH",
           "Ask": 508000,
           "TimeStamp": 1540372650589,
           "Last": 505000,
           "Created": 1540375838965,
           "PrevDay": 498500,
           "BaseVolume": 1.1761081994E10,
           "High": 505000
          },
            {
           "OpenSell[...]
