---
http_interactions:
- request:
    method: get
    uri: https://api.coinzest.co.kr/api/public/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "success": true,
         "message": "85 row(s) returned",
         "result":  [
            {
           "OpenSellOrders": 10,
           "Low": 7246000,
           "OpenBuyOrders": 10,
           "Volume": 1.27637403E9,
           "Bid": 7269000,
           "MarketName": "KRW-BTC",
           "Ask": 7285000,
           "TimeStamp": 1540684562962,
           "Last": 7285000,
           "Created": 1540685479542,
           "PrevDay": 7285000,
           "BaseVolume": 1.27637403E9,
           "High": 7286000
          },
            {
           "OpenSellOrders": 10,
           "Low": 492000,
           "OpenBuyOrders": 9,
           "Volume": 1.0072795616E10,
           "Bid": 487500,
           "MarketName": "KRW-BCH",
           "Ask": 493500,
           "TimeStamp": 1540685464137,
           "Last": 493000,
           "Created": 1540685479542,
           "PrevDay": 493000,
           "BaseVolume": 1.0072795616E10,
           "High": 493000
          },
            {
           "OpenSell[...]
