---
http_interactions:
- request:
    method: get
    uri: https://api.coinzest.co.kr/api/public/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "success": true,
         "message": "10 row(s) returned",
         "result":  [
            {
           "OpenSellOrders": 1,
           "Low": 0.0015,
           "OpenBuyOrders": 4,
           "Volume": 0,
           "Bid": 1.5041E-4,
           "MarketName": "BTC-ETC",
           "Ask": 0.015,
           "TimeStamp": null,
           "Last": 0.0015,
           "Created": 1554361013275,
           "PrevDay": 0.0015,
           "BaseVolume": 0,
           "High": 0.0015
          },
            {
           "OpenSellOrders": 1,
           "Low": 8.091E-5,
           "OpenBuyOrders": 4,
           "Volume": 0,
           "Bid": 7.86E-6,
           "MarketName": "BTC-XRP",
           "Ask": 0.00779983,
           "TimeStamp": null,
           "Last": 8.091E-5,
           "Created": 1554361013275,
           "PrevDay": 8.091E-5,
           "BaseVolume": 0,
           "High": 8.091E-5
          },
            {
           "OpenSellOrders": 0,
           "Lo[...]
