---
http_interactions:
- request:
    method: get
    uri: https://api.coinzest.co.kr/api/public/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
         "message": "79 row(s) returned",
         "trancount": 0,
         "totalsize": 79,
         "list":  [
            {
           "trdCoinName": "BTC",
           "minTrdAmt": "1000.000000000000",
           "trdCoin": "001",
           "mrkCoinName": "KRW",
           "mrkCoin": "000"
          },
            {
           "trdCoinName": "BCH",
           "minTrdAmt": "1000.000000000000",
           "trdCoin": "002",
           "mrkCoinName": "KRW",
           "mrkCoin": "000"
          },
            {
           "trdCoinName": "ETH",
           "minTrdAmt": "1000.000000000000",
           "trdCoin": "003",
           "mrkCoinName": "KRW",
           "mrkCoin": "000"
          },
            {
           "trdCoinName": "ETC",
           "minTrdAmt": "1000.000000000000"[...]
