---
http_interactions:
- request:
    method: get
    uri: https://www.ovex.io/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 203.106.141.124
      X-Original-Uri:
      - "/api/v2/markets"
      X-Scheme:
      - https
      Etag:
      - W/"955edea379abb9d6315315a9a4a7aa34"
      X-Cloud-Trace-Context:
      - d8b328233e70483a8216a0c7562dee25;o=0
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"adabtc","name":"ADA/BTC","ask_precision":8,"bid_precision":8,"bid_unit":"btc","ask_unit":"ada"},{"id":"batbtc","name":"BAT/BTC","ask_precision":8,"bid_precision":8,"bid_unit":"btc","ask_unit":"bat"},{"id":"bchbtc","name":"BCH/BTC","ask_precision":6,"bid_precision":6,"bid_unit":"btc","ask_unit":"bch"},{"id":"btctusd","name":"BTC/TUSD","ask_precision":6,"bid_precision":6,"bid_unit":"tusd","ask_unit":"btc"},{"id":"btczar","name":"BTC/ZAR","ask_precision":6,"bid_precision":6,"bid_unit":"zar","ask_unit":"btc"},{"id":"bttbtc","name":"BTT/BTC","ask_precision":8,"bid_precision":8,"bid_unit"[...]
