---
http_interactions:
- request:
    method: get
    uri: https://www.ovex.io/api/v2/tickers/btctusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 203.106.141.124
      X-Original-Uri:
      - "/api/v2/tickers/btctusd"
      X-Scheme:
      - https
      Etag:
      - W/"cb3627922541b963f007ddec2dd42966"
      X-Cloud-Trace-Context:
      - 9a0dae25c53a4a4f839ab5f2b848d9d7;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"at":1564974383,"bid_unit":"tusd","ask_unit":"btc","ticker":{"buy":"10627.3","sell":"10627.71","low":"10632.7","high":"10646.5","open":10632.7,"last":"10632.7","volume":"0.0","avg_price":"0.0","price_change_percent":"+0.00%","zar_price":"155237.42","btc_price":"1.0","usd_price":"10632.7","vol":"0.0"}}'
  recorded_at: Mon, 05 Aug 2019 03:06:24 GMT
recorded_with: VCR 4.0.0
