---
http_interactions:
- request:
    method: get
    uri: https://www.ovex.io/api/v2/trades?market=btctusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 203.106.141.124
      X-Original-Uri:
      - "/api/v2/trades?market=btctusd"
      X-Scheme:
      - https
      Etag:
      - W/"72ed408c24d33cea74fa64259b4fb957"
      X-Cloud-Trace-Context:
      - ba37fb1674124f6389a3e124c65b24e5;o=0
    body:
      encoding: ASCII-8BIT
      string: '[{"id":127302,"price":"10632.7","volume":"0.011892","funds":"126.4440684","market":"btctusd","created_at":"2019-08-03T23:32:16+02:00","maker_type":"buy"},{"id":127212,"price":"10632.7","volume":"0.010018","funds":"106.5183886","market":"btctusd","created_at":"2019-08-03T14:53:49+02:00","maker_type":"buy"},{"id":127183,"price":"10644.9","volume":"0.003966","funds":"42.2176734","market":"btctusd","created_at":"2019-08-03T11:15:42+02:00","maker_type":"sell"},{"id":127182,"price":"10634.5","volume":"0.001788","funds":"19.014486","market":"btctusd","created_at":"2019-08-03T11:15:42+02:00","maker_type":"sell"},{"id":127150,"price":"10634.5","vol[...]
