---
http_interactions:
- request:
    method: get
    uri: http://api.icoinbay.com/api/v1/trades?since=600&symbol=eth_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - szzc-three-api:production:30561
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"0","msg":"","body":[{"amount":"1.911","date_ms":1532424409178,"price":"0.058764","type":"1"},{"amount":"3.429","date_ms":1532424406198,"price":"0.058736","type":"1"},{"amount":"2.576","date_ms":1532424399187,"price":"0.058772","type":"1"},{"amount":"3.374","date_ms":1532424396874,"price":"0.058755","type":"1"},{"amount":"0.180","date_ms":1532424388657,"price":"0.058764","type":"0"},{"amount":"0.320","date_ms":1532424379997,"price":"0.058746","type":"0"},{"amount":"0.480","date_ms":1532424370043,"price":"0.058757","type":"1"},{"amount":"0.370","date_ms":1532424362063,"price":"0.0587[...]
