---
http_interactions:
- request:
    method: get
    uri: https://api.tokensets.com/v1/rebalancing_sets/explore
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab7df45502db86f796f91e6a7175277d"
    body:
      encoding: UTF-8
      string: '{"detailed_rebalancing_sets":[{"id":"ethbtc26emaco","strategy":"moving_averages","symbol":"ETHBTCEMACO","name":"ETH/BTC
        EMA Ratio Trading Set","image":"https://set-core.s3.amazonaws.com/img/rebalancing_set_icons/ethbtc-ema-ratio-set.svg","eth_index":{"set_price":"0.55023","market_cap":"341.25309","daily_percent_change":"0%","week_percent_change":"-0.65%","month_percent_change":"-6.52%","three_month_percent_change":"-","year_percent_change":"-","cumulative_change":"-0.76%"},"usd_index":{"set_price":"101.99","market_cap":"63254.67","daily_percent_change":"-1.26%","week_percent_change":"8.35%","month_percent_change":"29.08%","three_month_percent_change":"-","year_percent_change":"-","cumulative_change":"4.54%"}},{"id":"ethbtcrsi7030","strategy":"moving_averages","symbol":"ETHBTCRSI","name":"ETH/BTC
        RSI Ratio Trading Set","image":"https://set-core.s3.amazonaws.com/img/rebalancing_set_icons/ethbtc-rsi-ratio-set.svg","eth_index":{"set_price":"0.6872","market_cap":"885.52576[...]
- request:
    method: get
    uri: https://api.tokensets.com/v1/rebalancing_sets/explore?type=trading_pool
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"792ba9a3f41dc7e82acb4fe9c7cb261a"
    body:
      encoding: UTF-8
      string: '{"detailed_rebalancing_sets":[{"id":"btcmoonx","strategy":"user_defined","symbol":"BTCMOONX","name":"BTC
        Moonshot X Set","image":"https://set-core.s3.amazonaws.com/img/social_trader_set_icons/btc_moonshot_x.png","eth_index":{"set_price":"0.54645","market_cap":"51.6101","daily_percent_change":"0.13%","week_percent_change":"-5.23%","month_percent_change":"-","three_month_percent_change":"-","year_percent_change":"-","cumulative_change":"-11.1%"},"usd_index":{"set_price":"101.29","market_cap":"9566.45","daily_percent_change":"-1.13%","week_percent_change":"3.36%","month_percent_change":"-","three_month_percent_change":"-","year_percent_change":"-","cumulative_change":"0.42%"},"follower_count":36,"holder_count":30,"operator":{"first_name":"Aaron","last_name":"Kruger","image_url":"https://api.typeform.com/responses/files/1ab0451722e7e6b581dad6e644a7f1e22a6128fe03dc603da7452878b3c6e91e/AaronKruger.jpg","username":"Aaron_Kruger"},"entry_fee_percentage":"0.75%"},{"id":"evol","strategy":"user_defined","symbol":"EVOL","name":"ETH
        Volatility Adjusted Set","image":"https://set-core.s3.amazonaws.com/img/social_trader_set_icons/eth_volatility_adjusted.png","eth_index":{"set_price":"0.61389","market_cap":"38.03636","daily_percent_change":"0%","week_percent_change":"0%","month_percent_change":"-","three_month_percent_change":"-","year_percent_change":"-","cumulative_change":"0%"},"usd_index":{"set_price":"113.79","market_cap":"7050.42","daily_p[...]
