---
http_interactions:
- request:
    method: get
    uri: https://api.tokensets.com/v1/rebalancing_sets/ethmoonx
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0bcc5b240111bd022a469957ac3aeea8"
    body:
      encoding: UTF-8
      string: '{"rebalancing_set":{"id":"ethmoonx","name":"ETH Moonshot X Set","symbol":"ETHMOONX","address":"0x73104e9d3Da91e410A6c211068f7BFfabBbD3e26","manager":"0xd2fC0ca8220ecFe767E324fa3085f70cBbF96588","manager_type":"6","current_set_address":"0xDdeA4aCAC918A92F0DB877167370747B61EB0bB0","price_usd":"101.73","daily_price_change":"-$1.30","daily_percent_change":"-1.26%","buy_disabled":false,"status":"default","description":"Moonshot
        is an automated strategy that buys when RSI and volatility is high, sells
        when RSI and volatility is low, and otherwise holds its current position.\n\nMoonshot
        was given its name due to the fact that attempts to join strong bull trends
        that are starting to break out.  This strategy does not try to catch every
        small-medium price swing.\n\nI expect Moonshot to potentially underperform
        a buy-and-hold strategy in strongly bullish and sideways[...]
- request:
    method: post
    uri: https://api.thegraph.com/subgraphs/name/destiner/token-sets
    body:
      encoding: UTF-8
      string: '{"query":"query Cryptoexchange__Exchanges__TokenSets__TheGraphClient__IssuancesQuery($contract_address:
        String!, $range_timestamp: BigInt!) {\n  issuances(orderBy: timestamp, orderDirection:
        desc, where: {set_: $contract_address, timestamp_gte: $range_timestamp}) {\n    id\n    set_
        {\n      address\n      name\n      symbol\n    }\n    amount\n    timestamp\n  }\n}","variables":{"contract_address":"0x73104e9d3da91e410a6c211068f7bffabbbd3e26","range_timestamp":1580688000},"operationName":"Cryptoexchange__Exchanges__TokenSets__TheGraphClient__IssuancesQuery"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"issuances":[{"amount":"27145116502800000","id":"0x8d541152695339bb9010e3e708834723e9dc916f2f10456500472ae775366785-195","set_":{"address":"0x73104e9d3da91e410a6c211068f7bffabbbd3e26","name":"ETH
        Moonshot X Set","symbol":"ETHMOONX"},"timestamp":"1580773753"},{"amount":"1782529317017200000","id":"0x8d541152695339bb9010e3e708834723e9dc916f2f10456500472ae775366785-197","set_":{"address":"0x73104e9d3da91e410a6c211068f7bffabbbd3e26","name":"ETH
        Moonshot X Set","symbol":"ETHMOONX"},"timestamp":"1580773753"},{"amount":"568484115240000","id":"0xccbec247e45474b519f466d900653dc77013ec6e8266be3de3de3dc68cc62ade-14","set_":{"address":"0x73104e9d3da91e410a6c211068f7bffabbbd3e26","name":"ETH
        Moonshot X Set","symbol":"ETHMOONX"},"time[...]
- request:
    method: post
    uri: https://api.thegraph.com/subgraphs/name/destiner/token-sets
    body:
      encoding: UTF-8
      string: '{"query":"query Cryptoexchange__Exchanges__TokenSets__TheGraphClient__RedemptionsQuery($contract_address:
        String!, $range_timestamp: BigInt!) {\n  redemptions(orderBy: timestamp, orderDirection:
        desc, where: {set_: $contract_address, timestamp_gte: $range_timestamp}) {\n    id\n    set_
        {\n      address\n      name\n      symbol\n    }\n    amount\n    timestamp\n  }\n}","variables":{"contract_address":"0x73104e9d3da91e410a6c211068f7bffabbbd3e26","range_timestamp":1580688000},"operationName":"Cryptoexchange__Exchanges__TokenSets__TheGraphClient__RedemptionsQuery"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"redemptions":[{"amount":"992500000000000000","id":"0x277b5e4f200594be553c411e65e826c36a6b73bf65b502c3b38909dd7346ca75-79","set_":{"address":"0x73104e9d3da91e410a6c211068f7bffabbbd3e26","name":"ETH
        Moonshot X Set","symbol":"ETHMOONX"},"timestamp":"1580720064"}]}}'
  recorded_at: Tue, 04 Feb 2020 00:00:00 GMT
recorded_with: VCR 4.0.0
