---
http_interactions:
- request:
    method: post
    uri: https://api.coinut.com/
    body:
      encoding: UTF-8
      string: '{"nonce":99587,"request":"inst_list", "sec_type":"SPOT"}'
    headers:
      X-Signature:
      - ba57776a3a95c470423aea8d506f8876a48dc28f1fe4a8d8969fe0377b21b27a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SPOT":{"BTCSGD":[{"base":"BTC","decimal_places":2,"inst_id":852380,"quote":"SGD"}],"BTCUSD":[{"base":"BTC","decimal_places":2,"inst_id":852379,"quote":"USD"}],"BTCUSDT":[{"base":"BTC","decimal_places":2,"inst_id":490589,"quote":"USDT"}],"ETCBTC":[{"base":"ETC","decimal_places":6,"inst_id":3,"quote":"BTC"}],"ETCLTC":[{"base":"ETC","decimal_places":4,"inst_id":490588,"quote":"LTC"}],"ETCUSDT":[{"base":"ETC","decimal_places":2,"inst_id":490592,"quote":"USDT"}],"ETHBTC":[{"base":"ETH","decimal_places":5,"inst_id":2,"quote":"BTC"}],"ETHLTC":[{"base":"ETH","decimal_places":3,"inst_id":490569,"quote":"LTC"}],"ETHUSDT":[{"base":"ETH","decimal_places":2,"inst_id":490591,"quote":"USDT"}],"LTCBTC":[{"base":"LTC","decimal_places":5,"inst_id":1,"quote":"BTC"}],"LTCSGD":[{"base":"LTC","decimal_places":2,"inst_id":852381,"quote":"SGD"}],"LTCUSD":[{"base":"LTC","decimal_places":2,"inst_id":852234,"quote":"USD"}],"LTCUSDT":[{"base":"LTC","decimal_places":2,"inst_id":490590,"quote":"USDT"}],"USDTSGD":[{"base":"USDT","decimal_places":3,"inst_id":899746,"quote":"SGD"}],"USDTUSD":[{"base":"USDT","decimal_places":3,"inst_id":852220,"quote":"USD"}],"XMRBTC":[{"base":"XMR","decimal_places":5,"inst_id":852383,"quote":"BTC"}],"XMRLTC":[{"base":"XMR","decimal_places":3,"inst_id":852384,"quote":"LTC"}],"XMRUSDT":[{"base":"XMR","decimal_places":2,"inst_id":852382,"quote":"USDT"}]},"nonce":99587,"reply":"inst_list","status":["OK"]}

'
  recorded_at: Fri, 13 Apr 2018 09:27:39 GMT
recorded_with: VCR 4.0.0
