---
http_interactions:
- request:
    method: post
    uri: https://api.coinut.com/
    body:
      encoding: UTF-8
      string: '{"nonce":63066,"request":"inst_order_book", "inst_id":852380, "top_n":
        200, "decimal_places": 2 }'
    headers:
      X-Signature:
      - c2e434381995d9db0432c53b6fd029c673987d875ccc84a420d5c5ef2a938381
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"buy":[{"count":2,"price":"10748.18","qty":"0.03700000"},{"count":1,"price":"10732.33","qty":"0.00883000"},{"count":1,"price":"10694.94","qty":"0.00261000"},{"count":1,"price":"10686.71","qty":"0.00860000"},{"count":1,"price":"10667.98","qty":"0.01706000"},{"count":1,"price":"10663.27","qty":"0.01030000"},{"count":1,"price":"10619.68","qty":"0.01000000"},{"count":1,"price":"10600.16","qty":"0.01354563"},{"count":1,"price":"10574.32","qty":"0.01100000"},{"count":1,"price":"10532.62","qty":"0.02000000"},{"count":1,"price":"10489.46","qty":[...]
