---
http_interactions:
- request:
    method: post
    uri: https://api.coinut.com/
    body:
      encoding: UTF-8
      string: '{"nonce":40315,"request":"inst_trade", "inst_id":852380 }'
    headers:
      X-Signature:
      - 4857476ea9b048c047913a4d6e7e7e7a6743916903367f08194488cb1bdb3cfb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"inst_id":852380,"nonce":40315,"reply":"inst_trade","status":["OK"],"trades":[{"price":"8978.49000000","qty":"0.00000150","side":"BUY","timestamp":1523526389588712,"trans_id":2269488814},{"price":"8978.87000000","qty":"0.00000150","side":"BUY","timestamp":1523526353442269,"trans_id":2269482956},{"price":"8959.35000000","qty":"0.00048000","side":"BUY","timestamp":1523526298525092,"trans_id":2269476582},{"price":"9138.59000000","qty":"0.00910000","side":"BUY","timestamp":1523526070072250,"trans_id":2269439389},{"price":"9108.57000000","qty":"0.01490000","side":"BUY","timestamp":1523526070072250,"trans_id":2269439382},{"price":"9048.41000000","qty":"0.00500000","side":"[...]
