---
http_interactions:
- request:
    method: post
    uri: https://api.coinut.com/
    body:
      encoding: UTF-8
      string: '{"nonce":56567,"request":"inst_tick", "inst_id":852380 }'
    headers:
      X-User:
      - cyusheng93
      X-Signature:
      - 8ac64d529c153c4a152a68db76db2f5d5b650ac0fac79857bcc44b7c5881ea08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"high24":"9168.01000000","highest_buy":"9093.75000000","inst_id":852380,"last":"8859.02000000","low24":"8774.70000000","lowest_sell":"9121.07000000","nonce":56567,"open_interest":"0.00000000","prev_trans_id":2266477751,"price_change_24":"-0.00178819","reply":"inst_tick","status":["OK"],"timestamp":1523507178368524,"trans_id":2266478096,"volume":"1.66320005","volume24":"1.35048505","volume24_quote":"12000.03956769","volume_quote":"14871.07157499"}

'
  recorded_at: Thu, 12 Apr 2018 04:26:49 GMT
recorded_with: VCR 4.0.0
