---
http_interactions:
- request:
    method: post
    uri: https://api.coinut.com/
    body:
      encoding: UTF-8
      string: '{"nonce":82818,"request":"inst_trade", "inst_id":852380 }'
    headers:
      X-Signature:
      - f35e2fdc67bb572cd10a57bc051b6983ad1eebcd72d596e11116583b16a0cd57
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"inst_id":852380,"nonce":82818,"reply":"inst_trade","status":["OK"],"trades":[{"price":"11876.26000000","qty":"0.00120000","side":"SELL","timestamp":1524268965011388,"trans_id":2382504427},{"price":"11181.25000000","qty":"0.00260000","side":"BUY","timestamp":1524200695844872,"trans_id":2370891917},{"price":"11181.25000000","qty":"0.00260000","side":"BUY","timestamp":1524198036891673,"trans_id":2370531281},{"price":"11169.01000000","qty":"0.00010000","side":"BUY","timestamp":1524198036891673,"trans_id":2370531274},{"price":"11169.01000000","qty":"0.00050000","side":"BUY","timestamp":1524198033500188,"trans_id":2370530688},{"price":"11169.01000000","qty":"0.00480000","si[...]
