---
http_interactions:
- request:
    method: post
    uri: https://api.coinut.com/
    body:
      encoding: UTF-8
      string: '{"nonce":44938,"request":"inst_order_book", "inst_id":852380, "top_n":
        200, "decimal_places": 2 }'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"buy":[{"count":2,"price":"11663.38","qty":"0.03510000"},{"count":1,"price":"11439.98","qty":"0.00900000"},{"count":1,"price":"11346.11","qty":"0.00660000"},{"count":1,"price":"11297.55","qty":"0.00121000"},{"count":1,"price":"11290.54","qty":"0.00745900"},{"count":1,"price":"11248.03","qty":"0.00200000"},{"count":1,"price":"11177.31","qty":"0.01337000"},{"count":1,"price":"11137.97","qty":"0.00200000"},{"count":1,"price":"11050.00","qty":"0.00545500"},{"count":1,"price":"11041.22","qty":"0.01670000"},{"count":1,"price":"10917.94","qty":[...]
