---
http_interactions:
- request:
    method: get
    uri: https://kline.xt.com/api/data/v1/tickers?isUseMarketName=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"datas":{"AE_SXC":["768","3.2332","3.4292","3.1527","525497.58","-2.02","[[1,
        3.1842], [2, 3.1717], [3, 3.2126], [4, 3.2194], [5, 3.2309], [6, 3.2332]]","3.2287","3.2426","1723585.2203"],"XTZ_SXC":["745","8.6158","9.0455","8.2142","16569.952","-0.05","[[1,
        8.4914], [2, 8.4661], [3, 8.5191], [4, 8.6555], [5, 8.626], [6, 8.6158]]","8.5846","8.7363","144138.3127"],"ADA_SXC":["741","0.495","0.528","0.47","9350291.4","-2.94","[[1,
        0.485], [2, 0.486], [3, 0.492], [4, 0.49], [5, 0.493], [6, 0.495]]","0.494","0.495","4620330.9912"],"DASH_USDT":["624","126.97","127.94","117.86","2278.29","4.83","[[1,
        125.19], [2, 125.14], [3, 125.56], [4, 126.13], [5, 127.05], [6, 126.97]]","126.87","126.99","280625.0281"],"FIL_USDT":["757","5.41","5.83","5.22","4701.336","-0.92","[[1,
        5.26], [2, 5.41], [3, 5.28], [4, 5.54], [5, 5.56], [6, 5.41]]","5.4","5.69","25699.9704"],"DASH_BTC":["636","0.01797194","0.018089","0.01672567","34463.59","6.34","[[1,
        0.01791281], [2, 0.01793902], [3, 0.01790108], [4, 0.017928], [5, 0.01801771],
        [6, 0.01797194]]","0.01795926","0.01797596","597.3294"],"BTX_BTC":["958","0.00017042","0.00017708","0.00013302","2096023.472","27.89","[[1,
        0.00017357], [2, 0.00017458], [3, 0.00017659], [4, 0.00016095], [5, 0.00017255],
        [6, 0.00017042]]","0.00017035","0.00017085","329.2028"],"SNT_SXC":["947","0.1518","0.1634","0.1468","5558940.2","-4.95","[[1,
        0.1511], [2, 0.1498], [3, 0.1516], [4, 0.1529], [5, 0.1516], [6, 0.1518]]","0.1515","0.1522","850773.4117"],"DOGE_SXC":["737","0.018356","0.019358","0.017318","2166966","-0.93","[[1,
        0.018045], [2, 0.018095], [3, 0.018165], [4, 0.018273], [5, 0.018268], [6,
        0.018356]]","0.01809","0.018389","40772.4334"],"BRC_SXC":["781","28.9396","29.41","28.61","148707.2","-1.62","[[1,
        28.9001], [2, 29.08], [3, 28.89], [4, 28.7273], [5, 29.1148], [6, 28.9396]]","28.9305","28.9999","4323599.9791"],"ZRX_USDT":["941","0.2756","0.2997","0.2538","983125.2","-3.13","[[1,
        0.2727], [2, 0.2736], [3, 0.2781], [4, 0.2753], [5, 0.2751], [6, 0.2756]]","0.2748","0.2766","271075.8099"],"DGD_USDT":["790","36.2275","39.5837","35.9805","22810.746","-5.0","[[1,
        36.4237], [2, 36.3275], [3, 36.5253], [4, 36.4358], [5, 36.4805], [6, 36.2275]]","36.1532","36.502","857064.3051"],"TRX_USDT":["970","0.02435","0.0259","0.023","3523161.8","-1.97","[[1,
        0.02386], [2, 0.02375], [3, 0.02437], [4, 0.02416], [5, 0.02424], [6, 0.02435]]","0.02435","0.02439","85327.9553"],"BCHABC_USDT":["615","359.44","376.2","338.07","9235.44","3.08","[[1,
        353.25], [2, 357.28], [3, 362.27], [4, 356.75], [5, 358.02], [6, 359.44]]","359.24","359.79","3314838.8438"],"LTC_BTC":["630","0.01223171","0.01263346","0.01202516","47013.942","-0.17","[[1,
        0.01217769], [2, 0.01214356], [3, 0.01232536], [4, 0.01223651], [5, 0.01220001],
        [6, 0.01223171]]","0.0122325","0.01223259","577.2637"],"DOGE_USDT":["660","0.0026547","0.0028087","0.0024175","2690544","-1.39","[[1,
        0.0026275], [2, 0.0026018], [3, 0.002638], [4, 0.0026397], [5, 0.0026492],
        [6, 0.0026547]]","0.0025406","0.0026557","7353.6875"],"BTX_USDT":["957","1.1834","1.4663","0.9262","1505870.394","22.26","[[1,
        1.3942], [2, 1.445], [3, 1.4047], [4, 1.1997], [5, 1.2], [6, 1.1834]]","1.1822","1.1849","1733460.1322"],"PAX_SXC":["784","6.9416","6.9625","6.8604","72324.4876","0.47","[[1,
        6.9003], [2, 6.9048], [3, 6.9016], [4, 6.9314], [5, 6.9368], [6, 6.9416]]","6.9413","6.9449","498970.829"],"TRX_SXC":["971","0.1685","0.1762","0.16","3893980.8","-1.29","[[1,
        0.165], [2, 0.1639], [3, 0.1684], [4, 0.1673], [5, 0.1681], [6, 0.1685]]","0.1685","0.1689","650759.1276"],"BAT_SXC":["785","2.4879","2.6819","2.3287","843020.4","-7.82","[[1,
        2.419], [2, 2.4498], [3, 2.5148], [4, 2.4767], [5, 2.4736], [6, 2.4879]]","2.4765","2.4879","2104384.7222"],"XLM_SXC":["736","0.696","0.723","0.658","6173165.4","-0.43","[[1,
        0.679], [2, 0.679], [3, 0.697], [4, 0.69], [5, 0.692], [6, 0.696]]","0.695","0.698","4239668.5436"],"DGD_BTC":["791","0.00513978","0.00553287","0.00511779","40130.762","-3.74","[[1,
        0.00522817], [2, 0.00525243], [3, 0.00522677], [4, 0.00521381], [5, 0.00519186],
        [6, 0.00513978]]","0.00513882","0.00517099","213.5907"],"BLINK_USDT":["955","0.0073","0.0087","0.006","18375508.2","-8.75","[[1,
        0.0085], [2, 0.0086], [3, 0.0085], [4, 0.0083], [5, 0.0081], [6, 0.0073]]","0.0068","0.0076","153348.0854"],"ETH_SXC":["743","1311.53","1393.33","1260","52582.232","-1.31","[[1,
        1290.54], [2, 1297.61], [3, 1311.22], [4, 1312.61], [5, 1312.69], [6, 1311.53]]","1311.5","1312","69058568.0347"],"STAR_SXC":["771","0.019779","0.021956","0.019524","196737000","-7.54","[[1,
        0.021053], [2, 0.021544], [3, 0.020517], [4, 0.020548], [5, 0.020935], [6,
        0.019779]]","0.018","0.023696","4096447.2592"],"BTM_BTC":["945","0.00001419","0.00001469","0.00001343","1876959.4","-1.73","[[1,
        0.00001442], [2, 0.00001451], [3, 0.0000144], [4, 0.00001441], [5, 0.00001424],
        [6, 0.00001419]]","0.00001417","0.00001419","26.3478"],"MTL_SXC":["963","2.9746","3.1128","2.8739","37646.2","-1.32","[[1,
        2.9529], [2, 2.9295], [3, 2.95], [4, 2.9559], [5, 2.9503], [6, 2.9746]]","2.9011","3.0584","111385.1654"],"FIL_BTC":["758","0.00073521","0.00078956","0.00071086","224391.734","-6.3","[[1,
        0.00073389], [2, 0.00075064], [3, 0.00074552], [4, 0.00074687], [5, 0.000743],
        [6, 0.00073521]]","0.0007001","0.00080399","167.3409"],"ZRX_SXC":["940","1.914","2.0733","1.8191","444872.8","-2.45","[[1,
        1.8846], [2, 1.8889], [3, 1.9359], [4, 1.9084], [5, 1.8997], [6, 1.914]]","1.9026","1.9154","855312.4642"],"XEM_BTC":["635","0.00000802","0.0000083","0.00000791","1883948.2","-2.31","[[1,
        0.00000799], [2, 0.00000799], [3, 0.00000801], [4, 0.00000801], [5, 0.00000801],
        [6, 0.00000802]]","0.00000801","0.00000802","15.1189"],"LBTC_BTC":["936","0.00079705","0.00084001","0.00070531","356641.598","-3.88","[[1,
        0.00081084], [2, 0.00081277], [3, 0.00080737], [4, 0.00079302], [5, 0.00079862],
        [6, 0.00079705]]","0.00079529","0.0007976","287.4011"],"EOS_BTC":["632","0.00076719","0.00079195","0.00073872","664754.08","-0.36","[[1,
        0.0007651], [2, 0.00076393], [3, 0.00077175], [4, 0.00076715], [5, 0.00076567],
        [6, 0.00076719]]","0.00076718","0.0007673","506.6768"],"BTS_BTC":["637","0.00000768","0.00000786","0.00000753","20344880","0.92","[[1,
        0.00000764], [2, 0.00000765], [3, 0.00000765], [4, 0.00000766], [5, 0.00000763],
        [6, 0.00000768]]","0.00000766","0.00000768","156.4608"],"BITCNY_SXC":["775","1.0136","1.0289","1.0101","500053.5","0.07","[[1,
        1.0102], [2, 1.0102], [3, 1.0102], [4, 1.0136], [5, 1.013], [6, 1.0136]]","1.0102","1.0161","505705.5308"],"OMG_USDT":["796","1.6702","1.8322","1.5939","113437.34","-6.27","[[1,
        1.6416], [2, 1.652], [3, 1.6612], [4, 1.6613], [5, 1.6771], [6, 1.6702]]","1.6682","1.6698","193923.5309"],"GNT_SXC":["946","0.4958","0.53","0.4739","452911.2","-2.38","[[1,
        0.4847], [2, 0.4793], [3, 0.4922], [4, 0.4982], [5, 0.4979], [6, 0.4958]]","0.4955","0.519","227673.6857"],"XT_SXC":["731","6.19","6.1965","6.1623","307214.14","0.0","[[1,
        6.1965], [2, 6.1965], [3, 6.1965], [4, 6.1961], [5, 6.1895], [6, 6.19]]","6.1828","6.19","1899695.3655"],"BTM_USDT":["944","0.100255","0.106407","0.093143","2288444.62","-3.15","[[1,
        0.101175], [2, 0.101394], [3, 0.101222], [4, 0.101321], [5, 0.100284], [6,
        0.100255]]","0.100077","0.100347","226644.741"],"USDT_SXC":["753","6.9247","6.9339","6.8601","33383371.6078","0.4","[[1,
        6.8947], [2, 6.902], [3, 6.8957], [4, 6.9182], [5, 6.9255], [6, 6.9247]]","6.9247","6.925","230149626.6739"],"CHAT_USDT":["938","0.005555","0.005882","0.005245","229618.2","-3.74","[[1,
        0.005609], [2, 0.005619], [3, 0.005642], [4, 0.005596], [5, 0.005577], [6,
        0.005555]]","0.005516","0.005636","1285.2004"],"DGD_SXC":["798","251.3618","273.2703","248.1933","36686.754","-4.61","[[1,
        252.6323], [2, 249.2594], [3, 251.2837], [4, 252.0652], [5, 252.4536], [6,
        251.3618]]","250.4064","252.8326","9621209.4762"],"ABT_USDT":["959","0.5778","0.6298","0.526","1094590.92","-4.97","[[1,
        0.5619], [2, 0.6013], [3, 0.6032], [4, 0.5785], [5, 0.5934], [6, 0.5778]]","0.5767","0.5781","621478.2307"],"DASH_SXC":["738","878.2","882.27","811.59","3544.888","5.11","[[1,
        862.66], [2, 863.18], [3, 867.02], [4, 872.43], [5, 879.62], [6, 878.2]]","878.08","878.89","3032758.9395"],"XDT_SXC":["773","0.0052","0.0057","0.0047","8285513.4","0.0","[[1,
        0.0052], [2, 0.0052], [3, 0.0053], [4, 0.0055], [5, 0.0054], [6, 0.0052]]","0.0051","0.0054","43818.5737"],"NEO_SXC":["792","65.023","69.003","62.205","29180.2","-1.36","[[1,
        64.149], [2, 64.409], [3, 65.303], [4, 65.222], [5, 65.427], [6, 65.023]]","65.002","65.051","1925453.1563"],"BSV_USDT":["763","57.85","64.14","55.68","5416.778","-7.74","[[1,
        57.88], [2, 57.92], [3, 58.97], [4, 58.41], [5, 58.26], [6, 57.85]]","57.78","57.85","320921.653"],"ZEC_BTC":["767","0.00864686","0.00872914","0.00850237","7589.884","-0.7","[[1,
        0.00868541], [2, 0.00870388], [3, 0.00870351], [4, 0.00868708], [5, 0.00868183],
        [6, 0.00864686]]","0.00864254","0.00865908","65.5339"],"BTM_SXC":["943","0.6931","0.728","0.6665","1458487.42","-2.95","[[1,
        0.6954], [2, 0.6974], [3, 0.6994], [4, 0.6988], [5, 0.693], [6, 0.6931]]","0.693","0.6948","1015428.1496"],"SC_USDT":["746","0.00286407","0.00311475","0.00264398","16678732","-3.8","[[1,
        0.0027602], [2, 0.00276305], [3, 0.00284611], [4, 0.00285379], [5, 0.00285782],
        [6, 0.00286407]]","0.00285399","0.00286762","48368.2923"],"HT_SXC":["950","16.4128","16.7313","15.6439","591715.26","3.35","[[1,
        16.1097], [2, 16.3273], [3, 16.588], [4, 16.3677], [5, 16.3498], [6, 16.4128]]","16.4035","16.4158","9501722.8619"],"DOGE_BTC":["670","0.00000037","0.00000039","0.00000037","26680","-2.63","[[1,
        3.7E-7], [2, 3.7E-7], [3, 3.8E-7], [4, 3.8E-7], [5, 3.8E-7], [6, 3.7E-7]]","0.00000037","0.00000038","0.0101"],"ETC_USDT":["617","5.9","6.2","5.72","20435.48","-1.34","[[1,
        5.87], [2, 5.84], [3, 5.91], [4, 5.9], [5, 5.89], [6, 5.9]]","5.9","5.92","122516.6314"],"1ST_SXC":["948","0.6454","0.6942","0.6385","552110.4","-4.43","[[1,
        0.646], [2, 0.6506], [3, 0.6391], [4, 0.6461], [5, 0.6431], [6, 0.6454]]","0.6401","0.6514","363023.7908"],"ADA_USDT":["619","0.0715","0.0767","0.0684","7589437.4","-3.38","[[1,
        0.0702], [2, 0.0704], [3, 0.0714], [4, 0.0708], [5, 0.0713], [6, 0.0715]]","0.0714","0.0715","545266.6429"],"ZRX_BTC":["942","0.00003906","0.00004042","0.00003772","1651018.6","-1.59","[[1,
        0.00003904], [2, 0.0000392], [3, 0.00003958], [4, 0.00003916], [5, 0.00003897],
        [6, 0.00003906]]","0.00003889","0.00003916","64.2897"],"MTL_USDT":["964","0.4272","0.4625","0.3949","23403.78","-2.47","[[1,
        0.4204], [2, 0.4236], [3, 0.4202], [4, 0.4253], [5, 0.4277], [6, 0.4272]]","0.4189","0.4417","10056.2004"],"CHAT_SXC":["937","0.03866","0.040476","0.038001","233340.6","-2.87","[[1,
        0.038063], [2, 0.039166], [3, 0.038446], [4, 0.03866]]","0.038205","0.039028","9055.397"],"SC_SXC":["720","0.019817","0.021456","0.018957","13890678","-3.45","[[1,
        0.019266], [2, 0.019025], [3, 0.019622], [4, 0.019742], [5, 0.019738], [6,
        0.019817]]","0.019757","0.019856","278154.8092"],"TRX_BTC":["972","0.00000347","0.00000351","0.00000328","8624258.2","0.29","[[1,
        0.00000341], [2, 0.0000034], [3, 0.00000347], [4, 0.00000344], [5, 0.00000345],
        [6, 0.00000347]]","0.00000344","0.00000345","29.3025"],"BTS_USDT":["625","0.0543","0.0597","0.0455","31356098.6","-1.99","[[1,
        0.0532], [2, 0.0534], [3, 0.0543], [4, 0.0539], [5, 0.0538], [6, 0.0543]]","0.0542","0.0543","1720668.8743"],"ETC_SXC":["742","40.85","42.66","39.41","14228.56","-1.16","[[1,
        40.47], [2, 40.23], [3, 40.78], [4, 40.85], [5, 40.82], [6, 40.85]]","40.81","40.86","586315.8278"],"ABT_SXC":["954","4.0005","4.3435","3.6347","969127.158","-4.58","[[1,
        3.8547], [2, 4.149], [3, 4.1604], [4, 4.0058], [5, 4.1082], [6, 4.0005]]","3.9993","4.0024","3798333.6443"],"AE_BTC":["770","0.00006607","0.00006874","0.00006455","435129.36","-1.02","[[1,
        0.0000662], [2, 0.00006582], [3, 0.00006634], [4, 0.00006601], [5, 0.00006646],
        [6, 0.00006607]]","0.000066","0.00006632","28.8602"],"LTC_SXC":["740","599.07","643.9","576.32","12477.418","-1.1","[[1,
        586.67], [2, 585.43], [3, 596.81], [4, 596.12], [5, 595.38], [6, 599.07]]","598.23","601.89","7570908.3594"],"QTUM_SXC":["750","16.89","17.85","16.23","47563","-2.54","[[1,
        16.59], [2, 16.71], [3, 16.93], [4, 16.71], [5, 16.84], [6, 16.89]]","16.89","16.91","808199.644"],"AE_USDT":["769","0.4666","0.4957","0.4241","436843.52","-2.73","[[1,
        0.4658], [2, 0.4596], [3, 0.4683], [4, 0.4651], [5, 0.4689], [6, 0.4666]]","0.4663","0.4683","207717.2637"],"BSV_SXC":["762","400.13","441.92","382.85","7660.31","-7.53","[[1,
        399.87], [2, 397.23], [3, 406.54], [4, 404.31], [5, 403.43], [6, 400.13]]","399.99","400.5","3126998.7446"],"NEO_BTC":["794","0.00132935","0.00135846","0.00128522","32370.74","-1.06","[[1,
        0.00133366], [2, 0.00133605], [3, 0.00134875], [4, 0.00134006], [5, 0.00133737],
        [6, 0.00132935]]","0.00132898","0.00133003","42.8069"],"BAT_USDT":["786","0.3594","0.3886","0.3385","1243201.8","-7.89","[[1,
        0.3535], [2, 0.3548], [3, 0.3647], [4, 0.3584], [5, 0.3573], [6, 0.3594]]","0.3584","0.3594","451888.5054"],"ZB_SXC":["949","2.0345","2.0751","2.0095","6886584.02","-1.06","[[1,
        2.02], [2, 2.021], [3, 2.0433], [4, 2.0261], [5, 2.0262], [6, 2.0345]]","2.034","2.0352","14036669.9735"],"MTL_BTC":["965","0.00006059","0.00006564","0.00005803","89926.04","0.12","[[1,
        0.00006081], [2, 0.00006081], [3, 0.00006067], [4, 0.00006063], [5, 0.0000604],
        [6, 0.00006059]]","0.0000593","0.00006256","5.4952"],"XTZ_USDT":["754","1.2461","1.3148","1.1933","20288.312","-0.57","[[1,
        1.2354], [2, 1.23], [3, 1.2391], [4, 1.252], [5, 1.2492], [6, 1.2461]]","1.2401","1.2642","25508.7409"],"EOS_USDT":["620","5.419","5.754","5.204","432977.66","-1.69","[[1,
        5.344], [2, 5.335], [3, 5.415], [4, 5.401], [5, 5.402], [6, 5.419]]","5.417","5.422","2355133.6825"],"DCR_BTC":["749","0.00388284","0.00406072","0.00381935","16750.24","-3.22","[[1,
        0.00387296], [2, 0.00384602], [3, 0.00389711], [4, 0.00388536], [5, 0.0039],
        [6, 0.00388284]]","0.0038791","0.0039","65.2564"],"MANA_SXC":["776","0.3196","0.343","0.3185","106445.6","-5.19","[[1,
        0.3205], [2, 0.3197], [3, 0.3196]]","0.319","0.3234","34883.2576"],"XWC_SXC":["732","0.4405","0.4749","0.4345","4283666.6","-5.94","[[1,
        0.4421], [2, 0.4406], [3, 0.4395], [4, 0.445], [5, 0.4408], [6, 0.4405]]","0.4405","0.4502","1957990.0768"],"XT_BTC":["650","0.00012652","0.00013237","0.00011966","426276.62","1.14","[[1,
        0.00012837], [2, 0.00012867], [3, 0.00012784], [4, 0.00012718], [5, 0.00012671],
        [6, 0.00012652]]","0.00012621","0.00012662","53.8001"],"TRUE_USDT":["952","0.8465","0.9697","0.7663","172855","-12.28","[[1,
        0.8276], [2, 0.8083], [3, 0.8252], [4, 0.8434], [5, 0.84], [6, 0.8465]]","0.8423","0.852","152122.573"],"OMG_BTC":["797","0.00023637","0.00025371","0.00023135","114289.88","-5.46","[[1,
        0.0002347], [2, 0.00023664], [3, 0.00023691], [4, 0.00023679], [5, 0.00023779],
        [6, 0.00023637]]","0.00023614","0.00023642","27.1247"],"KAN_SXC":["777","0.025468","0.026061","0.024142","1707844","1.67","[[1,
        0.024187], [2, 0.024944], [3, 0.024932], [4, 0.025468]]","0.02539","0.025548","42598.3135"],"RCN_BTC":["962","0.00000382","0.00000408","0.00000354","3223388.2","-1.8","[[1,
        0.00000394], [2, 0.0000039], [3, 0.00000399], [4, 0.0000039], [5, 0.00000371],
        [6, 0.00000382]]","0.00000364","0.00000396","12.3996"],"TRUE_BTC":["953","0.0001198","0.00013448","0.00011327","227241.36","-10.88","[[1,
        0.00011846], [2, 0.00011596], [3, 0.00011759], [4, 0.00012002], [5, 0.00011934],
        [6, 0.0001198]]","0.00011908","0.00012051","28.0497"],"ETC_BTC":["629","0.00083503","0.0008573","0.00081148","42874.98","-0.03","[[1,
        0.00084031], [2, 0.00083509], [3, 0.00084153], [4, 0.00083879], [5, 0.00083707],
        [6, 0.00083503]]","0.00083457","0.00083543","35.8199"],"CHAT_BTC":["939","0.00000079","0.00000084","0.00000076","439248.2","-1.25","[[1,
        8E-7], [2, 7.9E-7], [3, 7.9E-7], [4, 8.1E-7], [5, 7.9E-7], [6, 7.9E-7]]","0.00000078","0.0000008","0.3444"],"BTC_USDT":["614","7061.87","7511.2","6792.71","6558.3912","-1.38","[[1,
        6988.26], [2, 6989.23], [3, 7023.02], [4, 7036.94], [5, 7051.29], [6, 7061.87]]","7061.87","7064.33","46776426.6616"],"XRP_BTC":["633","0.00004552","0.00004639","0.00004263","24410588","3.45","[[1,
        0.00004435], [2, 0.00004453], [3, 0.00004574], [4, 0.00004515], [5, 0.00004525],
        [6, 0.00004552]]","0.00004549","0.00004553","1083.4513"],"RCN_USDT":["961","0.026677","0.029798","0.025499","1130094.6","-4.16","[[1,
        0.02669], [2, 0.026995], [3, 0.027248], [4, 0.027782], [5, 0.026516], [6,
        0.026677]]","0.02573","0.028006","31147.6358"],"LTC_USDT":["618","86.44","93.54","83.77","12122.032","-1.59","[[1,
        85.1], [2, 84.83], [3, 86.53], [4, 86.08], [5, 86.04], [6, 86.44]]","86.41","86.47","1066700.5278"],"TUSD_SXC":["788","6.9954","7.141","6.8212","2293118.44","1.24","[[1,
        6.9187], [2, 6.9217], [3, 6.9883], [4, 6.9958], [5, 6.9385], [6, 6.9954]]","6.9938","6.9976","15936394.5986"],"XEM_USDT":["623","0.0566","0.0614","0.0542","2760206.6","-4.23","[[1,
        0.0558], [2, 0.0557], [3, 0.0562], [4, 0.0565], [5, 0.0565], [6, 0.0566]]","0.0566","0.0567","157302.644"],"QTUM_USDT":["751","2.44","2.6","2.35","111018.12","-2.79","[[1,
        2.42], [2, 2.42], [3, 2.45], [4, 2.41], [5, 2.44], [6, 2.44]]","2.44","2.45","274502.0524"],"EOS_SXC":["734","37.517","39.494","35.879","954776.7","-1.53","[[1,
        36.84], [2, 36.81], [3, 37.362], [4, 37.358], [5, 37.383], [6, 37.517]]","37.507","37.517","35816761.1779"],"BTX_SXC":["956","8.2643","8.8","6.8054","2218752.936","22.17","[[1,
        8.6009], [2, 8.7999], [3, 8.7994], [4, 8.2966], [5, 8.4625], [6, 8.2643]]","8.2643","8.2693","17365851.0248"],"BCHABC_BTC":["627","0.05087827","0.05186208","0.04800136","125069.204","4.57","[[1,
        0.05053562], [2, 0.05115502], [3, 0.05161278], [4, 0.05074092], [5, 0.05075838],
        [6, 0.05087827]]","0.05085266","0.0509308","6260.841"],"XWC_USDT":["626","0.06358","0.0689","0.06262","6096222.4","-6.24","[[1,
        0.06404], [2, 0.06407], [3, 0.06372], [4, 0.06433], [5, 0.06345], [6, 0.06358]]","0.06354","0.06421","400241.3702"],"WNT_SXC":["774","0.0196","0.0204","0.0132","3885971.4","27.27","[[1,
        0.0199], [2, 0.0193], [3, 0.0196]]","0.0192","0.0198","67060.02"],"XRP_USDT":["621","0.3215","0.329","0.3059","23384288","1.64","[[1,
        0.3099], [2, 0.3111], [3, 0.3214], [4, 0.3179], [5, 0.3194], [6, 0.3215]]","0.3213","0.3216","7352951.849"],"ZEC_SXC":["765","422.83","447.28","403.67","3975.236","-1.81","[[1,
        418.42], [2, 418.17], [3, 421.64], [4, 423.21], [5, 423.65], [6, 422.83]]","422.58","424.21","1680374.945"],"SC_BTC":["748","0.0000004","0.00000043","0.00000039","19576554","-2.44","[[1,
        4E-7], [2, 4E-7], [3, 4.1E-7], [4, 4.1E-7], [5, 4.1E-7], [6, 4E-7]]","0.0000004","0.00000041","7.9044"],"BRC_BTC":["783","0.00059337","0.00062491","0.00056406","367195.2","-0.29","[[1,
        0.00060075], [2, 0.00060308], [3, 0.00059676], [4, 0.0005901], [5, 0.00059609],
        [6, 0.00059337]]","0.0005903","0.00059341","216.8413"],"ETH_USDT":["616","189.45","202.42","175.36","19795.866","-1.71","[[1,
        187.31], [2, 188.07], [3, 190.13], [4, 189.68], [5, 189.6], [6, 189.45]]","189.34","191.63","3765983.203"],"FIL_SXC":["756","37.62","40.16","36.42","10082.52","-0.63","[[1,
        37.11], [2, 37.11], [3, 37.09], [4, 37.56], [5, 37.36], [6, 37.62]]","36.1","38.6","380637.9369"],"XTZ_BTC":["755","0.00017609","0.00018424","0.00016814","44753.292","0.99","[[1,
        0.00017698], [2, 0.00017657], [3, 0.00017658], [4, 0.00017757], [5, 0.0001767],
        [6, 0.00017609]]","0.0001756","0.00017811","7.9534"],"LBTC_SXC":["799","38.995","40.988","38.255","243859.446","-4.85","[[1,
        39.168], [2, 39.162], [3, 39.122], [4, 38.593], [5, 38.929], [6, 38.995]]","38.985","39","9624968.3884"],"ADA_BTC":["631","0.00001011","0.00001052","0.00000973","6340002.2","-1.94","[[1,
        0.00001006], [2, 0.00001008], [3, 0.00001017], [4, 0.00001006], [5, 0.00001011],
        [6, 0.00001011]]","0.00001011","0.00001012","63.797"],"NEO_USDT":["793","9.3969","10.0611","9.0268","31986.46","-1.96","[[1,
        9.318], [2, 9.3199], [3, 9.4683], [4, 9.4166], [5, 9.4302], [6, 9.3969]]","9.3906","9.3958","304135.5526"],"XT_USDT":["640","0.8942","0.8993","0.8871","129849.4","-0.29","[[1,
        0.8965], [2, 0.8976], [3, 0.8983], [4, 0.8947], [5, 0.8942], [6, 0.8942]]","0.8935","0.8945","116452.7103"],"QTUM_BTC":["752","0.00034574","0.00035382","0.00033714","37703.76","-1.32","[[1,
        0.00034431], [2, 0.00034685], [3, 0.00034965], [4, 0.00034309], [5, 0.00034506],
        [6, 0.00034574]]","0.00034546","0.00034574","13.0265"],"DCR_USDT":["747","27.42","29.8362","26.3004","28351.88","-4.58","[[1,
        27.0469], [2, 26.8879], [3, 27.2634], [4, 27.1754], [5, 27.5026], [6, 27.42]]","27.3985","27.5461","785985.4644"],"XLM_USDT":["622","0.1004","0.1051","0.0956","6608883.4","-0.59","[[1,
        0.0985], [2, 0.0985], [3, 0.1009], [4, 0.0999], [5, 0.1], [6, 0.1004]]","0.1004","0.1008","659560.6786"],"DCR_SXC":["730","189.7555","204.6084","181.5965","71868.042","-4.27","[[1,
        186.1832], [2, 185.6825], [3, 187.4991], [4, 188.3667], [5, 190.349], [6,
        189.7555]]","189.4614","189.8016","14148186.8527"],"XWC_BTC":["638","0.00000901","0.00000956","0.00000858","1672987.4","-4.45","[[1,
        0.00000918], [2, 0.00000916], [3, 0.00000907], [4, 0.0000092], [5, 0.00000906],
        [6, 0.00000901]]","0.00000898","0.00000909","15.3037"],"STAR_BTC":["772","0.0000011","0.0000012","0.000001","2099954","-3.51","[[1,
        0.00000117], [2, 0.00000104], [3, 0.00000107], [4, 0.000001], [5, 0.00000101],
        [6, 0.0000011]]","0.000001","0.0000012","2.2813"],"BCHABC_SXC":["744","2487.59","2594.19","2322.48","18919.114","3.38","[[1,
        2434.99], [2, 2463.96], [3, 2497.99], [4, 2470.49], [5, 2477.9], [6, 2487.59]]","2486.32","2490.14","46583146.1728"],"LBTC_USDT":["935","5.6315","6.0484","5.47","238714.388","-5.25","[[1,
        5.6803], [2, 5.6758], [3, 5.6699], [4, 5.5786], [5, 5.6303], [6, 5.6315]]","5.6294","5.6326","1364122.252"],"TRUE_SXC":["951","5.8769","6.6598","5.2621","30456.1","-11.67","[[1,
        5.7036], [2, 5.5773], [3, 5.7267], [4, 5.8411], [5, 5.8184], [6, 5.8769]]","5.8423","5.8998","183154.8796"],"ETH_BTC":["628","0.02682334","0.02729319","0.02601615","417302.556","-0.22","[[1,
        0.02677877], [2, 0.02691019], [3, 0.02708785], [4, 0.02691045], [5, 0.02689577],
        [6, 0.02682334]]","0.02681858","0.0270765","11136.9659"],"OMG_SXC":["795","11.558","12.642","10.99","107377.12","-6.59","[[1,
        11.294], [2, 11.397], [3, 11.467], [4, 11.536], [5, 11.609], [6, 11.558]]","11.549","11.558","1260921.9817"],"XRP_SXC":["735","2.2247","2.2627","2.1057","25560412","2.11","[[1,
        2.1362], [2, 2.145], [3, 2.2182], [4, 2.1993], [5, 2.2121], [6, 2.2247]]","2.2247","2.2258","55766191.5314"],"BTS_SXC":["739","0.375","0.3954","0.3643","20848214.4","-2.04","[[1,
        0.3673], [2, 0.3683], [3, 0.3739], [4, 0.3727], [5, 0.3722], [6, 0.375]]","0.375","0.3762","7866099.8093"],"BSV_BTC":["764","0.00818012","0.00884749","0.00806756","35277.286","-6.53","[[1,
        0.00827497], [2, 0.00825698], [3, 0.0083884], [4, 0.00830179], [5, 0.00826893],
        [6, 0.00818012]]","0.00817778","0.00818855","294.3405"],"XEM_SXC":["733","0.392","0.423","0.374","3339814.6","-3.45","[[1,
        0.384], [2, 0.385], [3, 0.388], [4, 0.39], [5, 0.392], [6, 0.392]]","0.391","0.393","1308703.1146"],"BAT_BTC":["787","0.00005087","0.00005383","0.00004909","1841072.2","-6.75","[[1,
        0.00005061], [2, 0.00005083], [3, 0.0000519], [4, 0.00005091], [5, 0.00005066],
        [6, 0.00005087]]","0.00005074","0.00005087","93.3465"],"XLM_BTC":["634","0.00001421","0.0000145","0.00001364","7646175","0.78","[[1,
        0.00001407], [2, 0.00001411], [3, 0.00001438], [4, 0.00001415], [5, 0.00001418],
        [6, 0.00001421]]","0.00001421","0.00001425","106.7911"],"RCN_SXC":["960","0.187784","0.203772","0.177452","3602919.4","-2.2","[[1,
        0.18756], [2, 0.183676], [3, 0.188893], [4, 0.19155], [5, 0.184335], [6, 0.187784]]","0.178206","0.193997","688394.5927"],"BRC_USDT":["782","4.18598","4.27244","3.89118","438567.6","-2.11","[[1,
        4.19825], [2, 4.20962], [3, 4.18637], [4, 4.16035], [5, 4.19899], [6, 4.18598]]","4.17649","4.18832","1846063.9466"],"ZEC_USDT":["766","61.08","64.99","58.85","1187.976","-2.08","[[1,
        60.68], [2, 60.59], [3, 60.97], [4, 61.17], [5, 61.2], [6, 61.08]]","61.04","61.36","72969.4511"],"BTC_SXC":["710","48896.42","51588.62","46665.63","7317.5082","-0.99","[[1,
        48160.42], [2, 48162.06], [3, 48416.83], [4, 48684.07], [5, 48805.07], [6,
        48896.42]]","48896.42","48920.49","365760001.0876"]},"resMsg":{"message":"success
        !","method":null,"code":"1"}}'
  recorded_at: Mon, 13 May 2019 03:33:04 GMT
recorded_with: VCR 4.0.0
