---
http_interactions:
- request:
    method: get
    uri: https://kline.xt.com/api/data/v1/entrusts?marketName=BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"datas":{"asks":[["7400","0.009"],["7389.12","0.0547"],["7380.77","0.0833"],["7369.06","0.169"],["7359.4","0.042"],["7326.73","0.5"],["7284.04","0.9096"],["7281.94","0.0001"],["7281.21","0.0011"],["7255.01","0.4016"],["7232.09","0.004"],["7212","0.4016"],["7205.43","0.0349"],["7179.66","1.4971"],["7175.53","1.3713"],["7175","1.1179"],["7172.05","1.5849"],["7171.45","1.8693"],["7170","1.849"],["7169.13","1.74"],["7168.94","1.1692"],["7167.05","0.0734"],["7166.81","1.1825"],["7166.43","1.4686"],["7164.23","1.9629"],["7162.19","1.4494"],["7162.04","1.3943"],["7160.94","1.9008"],["7160","0.1513"],["7159.85","1.961"],["7157.91","1.9604"],["7154.23","1.638"],["7139.37","1.953"],["7136.46","1.4953"],["7128.57","1.3542"],["7126.49","0.0092"],["7119.49","0.355"],["7118.47","1.1978"],["7115.16","4.5028"],["7113.4","4.6883"],["7105.52","0.282"],["7096.67","1.4114"],["7089.75","1.4667"],["7089.56","4.1953"],["7086.65","0.4016"],["7084.22","0.008"],["7083.22","0.01"],["7083.2","0.008"],["7080","0.0119"]],"bids":[["7079.94","0.2901"],["7076.95","0.01"],["7075.07","4.2368"],["7074.95","3.9107"],["7074.52","0.0107"],["7073.55","3.0117"],["7072.36","1.0576"],["7072.06","1.285"],["7059.61","4.9822"],["7059.41","1.8162"],["7052","1.9494"],["7050.92","1.8035"],["7050.78","1.9125"],["7048.22","0.0022"],["7047.73","1.0504"],["7044.23","1.383"],["7043.65","1.133"],["7037.62","1.9259"],["7035.71","1.1493"],["7035","1.5975"],["7033.98","1.7135"],["7018.33","1.0393"],["7018","1.4732"],["7016.74","1.7544"],["7016.27","1.3797"],["7014.29","3.2714"],["7011.36","1.8662"],["7001","1.1159"],["6989.29","1.5403"],["6986.04","1.0411"],["6985.94","1.4028"],["6953.53","0.655"],["6943.82","0.012"],["6782.03","0.545"],["6750.25","0.051"],["6708.04","0.6414"],["6699.2","0.0503"],["6690","0.0652"],["6689.24","0.1916"],["6682.68","0.0477"],["6672.73","0.057"],["6635.46","0.011"],["6627.81","0.0084"],["6622","0.0053"],["6572.18","0.012"],["6562.9","0.0021"],["6555","0.0022"],["6528.25","0.0324"],["6524.46","0.0363"],["6515.78","0.0306"]],"timestamp":"1557729940"},"resMsg":{"message":"success
        !","method":null,"code":"1"}}'
  recorded_at: Mon, 13 May 2019 06:45:42 GMT
recorded_with: VCR 4.0.0
