---
http_interactions:
- request:
    method: get
    uri: https://www.theice.com/marketdata/DelayedMarkets.shtml?getContractsAsJson=&hubId=26066&productId=23808
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '[{"volume":862,"lastTime":"11/06/2019 04:50 AM GMT","endDate":"Sat
        Nov 30 00:00:00 EST 2019","marketStrip":"Nov19","change":-1.4380825565912116,"marketId":6137542,"lastPrice":9387.5},{"volume":95,"lastTime":"11/05/2019
        08:45 PM GMT","endDate":"Tue Dec 31 00:00:00 EST 2019","marketStrip":"Dec19","change":-1.2684989429175475,"marketId":6137543,"lastPrice":9460},{"volume":22,"lastTime":"11/05/2019
        08:46 PM GMT","endDate":"Fri Jan 31 00:00:00 EST 2020","marketStrip":"Jan20","change":-1.3157894736842104,"marketId":6137544,"lastPrice":9500},{"volume":8,"lastTime":"11/05/2019
        08:46 PM GMT","endDate":"Sat Feb 29 00:00:00 EST 2020","marketStrip":"Feb20","change":-1.4405447878470403,"marketId":6137545,"lastPrice":9545},{"volume":11,"lastTime":"11/05/2019
        08:46 PM GMT","endDate":"Tue Mar 31 00:00:00 EDT 2020","marketStrip":"Mar20","change":-1.5127803860198226,"marketId":6137546,"lastPrice":9585}]'
  recorded_at: Wed, 06 Nov 2019 05:04:22 GMT
recorded_with: VCR 4.0.0
