---
http_interactions:
- request:
    method: get
    uri: https://fx-api.gateio.ws/api/v4/futures/trades?contract=ETH_USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"size":-5,"id":566624,"create_time":1557202099,"contract":"ETH_USD","price":"177.7"},{"size":-30,"id":566623,"create_time":1557202092,"contract":"ETH_USD","price":"177.7"},{"size":-50,"id":566622,"create_time":1557202085,"contract":"ETH_USD","price":"177.7"},{"size":-200,"id":566621,"create_time":1557202069,"contract":"ETH_USD","price":"177.7"},{"size":-200,"id":566620,"create_time":1557202065,"contract":"ETH_USD","price":"177.7"},{"size":-200,"id":566619,"create_time":1557202061,"contract":"ETH_USD","price":"177.7"},{"size":-200,"id":566618,"create_time":1557202057,"co[...]
