---
http_interactions:
- request:
    method: get
    uri: https://fx-api.gateio.ws/api/v4/futures/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"total_size":"28128","volume_24h_usd":"1100","quanto_base_rate":"0.02054433","high_24h":"123.25","change_percentage":"3.22","volume_24h_btc":"0","last":"121.7","index_price":"121.21","mark_price":"121.27","funding_rate_indicative":"0.000889","funding_rate":"0.001076","contract":"DASH_USD","low_24h":"115.75","volume_24h":"1532"},{"total_size":"81975","volume_24h_usd":"23089","quanto_base_rate":"0.00015605","high_24h":"0.978","change_percentage":"2.40","volume_24h_btc":"3","last":"0.937","index_price":"0.9207","mark_price":"0.921","funding_rate_indicative":"0.0005","funding_rate":"0.000752","contract":"MDA_USD","low_24h":"0.909","volume_24h":"41765"},{"total_size":"14033","volume_24h_usd":"8892","quanto_base_rate":"4.693e-05","high_24h":"0.2852","change_percentage":"5.99","volume_24h_btc":"1","last":"0.2814","ind[...]
