---
http_interactions:
- request:
    method: get
    uri: https://api.cointiger.com/exchange/trading/api/market/history/trade/v2?size=100&symbol=ethbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"trade_data":[{"id":20677442,"side":"BUY","price":0.02191100,"vol":0.17700000,"amount":0.00387824,"ts":1584591946000,"ds":"2020-03-19
        12:25:46"},{"id":20677441,"side":"BUY","price":0.02191100,"vol":0.28000000,"amount":0.00613508,"ts":1584591946000,"ds":"2020-03-19
        12:25:46"},{"id":20677440,"side":"BUY","price":0.02191100,"vol":0.38300000,"amount":0.00839191,"ts":1584591946000,"ds":"2020-03-19
        12:25:46"},{"id":20677439,"side":"BUY","price":0.02190900,"vol":3.06800000,"amount":0.06721681,"ts":1584591941000,"ds":"2020-03-19
        12:25:41"},{"id":20677438,"side":"BUY","price":0.02190700,"vol"[...]
