---
http_interactions:
- request:
    method: get
    uri: https://www.cointiger.pro/exchange/api/public/market/detail
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Via-Jsl:
      - cb634c7,-
    body:
      encoding: UTF-8
      string: '{"XEMBITCNY":{"baseVolume":"1042141.30000000","high24hr":"1.22000000","highestBid":"1.17000000","id":"1529486342824","last":"1.17000000","low24hr":"1.13000000","lowestAsk":"1.18000000","percentChange":"-0.01680672","quoteVolume":"1228209.24800000"},"CTXCBTC":{"baseVolume":"3465002.88000000","high24hr":"0.00012095","highestBid":"0.00011642","id":"1529486343425","last":"0.00011692","low24hr":"0.00011202","lowestAsk":"0.00011729","percentChange":"0.03322728","quoteVolume":"405.77794889"},"INCETH":{"baseVolume":"186787.20000000","high24hr":"0.00039500","highestBid":"0.00035100","id":"1529486342177","last":"0.00035200","low24hr":"0.00034300","lowestAsk":"0.00035200","percentChange":"-0.06631299","quoteVolume":"69.67507253"},"RCETH":{"baseVolume":"10372948.00000000","high24hr":"0.00048300","highestBid":"0.00047320","id":"1529486361833","last":"0.00047330","low24hr":"0.00044074","lowestAsk":"0.00047330","percentChange":"0.04712389","quoteVolume":"4798.05315616"},"WECCBTC":{"baseVolume":"84742537.00000000","high24hr":"0.00000141","highestBid":"0.00000127","id":"1529486362947","last":"0.00000130","low24hr":"0.00000074","lowestAsk":"0.00000130","percentChange":"0.00775193","quoteVolume":"103.97321456"},"KKGETH":{"baseVolume":"1118447.21987774","high24hr":"0.00004225","highestBid":"0.00004133","id":"1529486342279","last":"0.00004145","low24hr":"0.00003880","lowestAsk":"0.00004145","percentChange":"-0.01073985","quoteVolume":"46.14009187"},"GUSBTC":{"baseVolume":"12229100.60000000","high24hr":"0.00001492","highestBid":"0.00001430","id":"1529486353200","last":"0.00001431","low24hr":"0.00001431","lowestAsk":"0.00001435","percentChange":"-0.02653061","quoteVolume":"178.84968300"},"YEEBTC":{"baseVolume":"2925310.20000000","high24hr":"0.00000259","highestBid":"0.00000233","id":"1529486360255","last":"0.00000234","low24hr":"0.00000227","lowestAsk":"0.00000237","percentChange":"-0.01265822","quoteVolume":"7.07654188"},"EOSBTC":{"baseVolume":"334620.05000000","high24hr":"0.00159803","highestBid":"0.00155500","id":"1529486364070","last":"0.00155817","low24hr":"0.00154557","lowestAsk":"0.00156088","percentChange":"-0.00288606","quoteVolume":"525.14799146"},"SDAETH":{"baseVolume":"72406.00000000","high24hr":"0.00009990","highestBid":"0.00009000","id":"1529486342157","last":"0.00009990","low24hr":"0.00007784","lowestAsk":"0.00009996","percentChange":"0.20564808","quoteVolume":"6.09932695"},"MTETH":{"baseVolume":"18039802.00000000","high24hr":"0.00003000","highestBid":"0.00002951","id":"1529486342248","last":"0.00002999","low24hr":"0.00002800","lowestAsk":"0.00003056","percentChange":"0.05784832","quoteVolume":"523.60632515"},"TUSDBTC":{"baseVolume":"1593034.36000000","high24hr":"0.00015332","highestBid":"0.00015037","id":"1529486341510","last":"0.00015079","low24hr":"0.00014705","lowestAsk":"0.00015142","percentChange":"0.00889870","quoteVolume":"238.78535337"},"ICXBTC":{"baseVolume":"164362.79790000","high24hr":"0.00032339","highestBid":"0.00031216","id":"1529486363904","last":"0.00031273","low24hr":"0.00030406","lowestAsk":"0.00031379","percentChange":"0.00640406","quoteVolume":"51.21588583"},"ETHBITCNY":{"baseVolume":"8335.63800000","high24hr":"3282.90000000","highestBid":"3182.99000000","id":"1529486347225","last":"3191.17000000","low24hr":"3065.66000000","lowestAsk":"3192.61000000","percentChange":"0.00922517","quoteVolume":"26640505.98092000"},"TRXETH":{"baseVolume":"7232526.10000000","high24hr":"0.00009456","highestBid":"0.00009057","id":"1529486351011","last":"0.00009073","low24hr":"0.00008811","lowestAsk":"0.00009073","percentChange":"-0.00274785","quoteVolume":"655.14693490"},"BKBTETH":{"baseVolume":"13268955.00000000","high24hr":"0.00001828","highestBid":"0.00001725","id":"1529486357488","last":"0.00001742","low24hr":"0.00001707","lowestAsk":"0.00001746","percentChange":"-0.04704595","quoteVolume":"236.78187583"},"ETHUSDT":{"baseVolume":"6832.74500000","high24hr":"547.85000000","highestBid":"524.09000000","id":"1529486361233","last":"526.84000000","low24hr":"516.00000000","lowestAsk":"527.41000000","percentChange":"0.01022032","quoteVolume":"3620950.50263000"},"BTCBITCNY":{"baseVolume":"842.52165238","high24hr":"41173.35000000","highestBid":"40048.00000000","id":"1529486341537","last":"40094.27000000","low24hr":"38956.41000000","lowestAsk":"40196.77000000","percentChange":"-0.01435486","quoteVolume":"33934664.90429021"},"STORJBTC":{"baseVolume":"1482697.12000000","high24hr":"0.00008715","highestBid":"0.00008381","id":"1529486344895","last":"0.00008381","low24hr":"0.00008301","lowestAsk":"0.00008420","percentChange":"-0.01804335","quoteVolume":"126.54619319"},"BAICETH":{"baseVolume":"119769233.13645620","high24hr":"0.00000494","highestBid":"0.00000461","id":"1529486342214","last":"0.00000462","low24hr":"0.00000458","lowestAsk":"0.00000478","percentChange":"-0.04149377","quoteVolume":"577.83169354"},"PTTBTC":{"baseVolume":"1894588.00000000","high24hr":"0.00000040","highestBid":"0.00000037","id":"1529486342459","last":"0.00000037","low24hr":"0.00000036","lowestAsk":"0.00000038","percentChange":"-0.05128205","quoteVolume":"0.72006117"},"MEXBTC":{"baseVolume":"42454127.00000000","high24hr":"0.00000121","highestBid":"0.00000109","id":"1529486342614","last":"0.00000118","low24hr":"0.00000100","lowestAsk":"0.00000118","percentChange":"0.12380952","quoteVolume":"43.30445568"},"SNTBTC":{"baseVolume":"1765372.70000000","high24hr":"0.00001136","highestBid":"0.00001087","id":"1529486364181","last":"0.00001089","low24hr":"0.00001083","lowestAsk":"0.00001092","percentChange":"-0.01714801","quoteVolume":"19.60125700"},"AACBTC":{"baseVolume":"1323102.00000000","high24hr":"0.00001150","highestBid":"0.00000978","id":"1529486341888","last":"0.00001007","low24hr":"0.00000958","lowestAsk":"0.00001117","percentChange":"-0.03079884","quoteVolume":"13.91125224"},"BTSBTC":{"baseVolume":"668626.72000000","high24hr":"0.00002424","highestBid":"0.00002373","id":"1529486350481","last":"0.00002378","low24hr":"0.00002373","lowestAsk":"0.00002384","percentChange":"-0.00502092","quoteVolume":"16.02647153"},"OLEBTC":{"baseVolume":"9159125.00000000","high24hr":"0.00000119","highestBid":"0.00000113","id":"1529486355651","last":"0.00000113","low24hr":"0.00000111","lowestAsk":"0.00000115","percentChange":"0.00000000","quoteVolume":"10.61649740"},"BTMETH":{"baseVolume":"1003853.82000000","high24hr":"0.00104400","highestBid":"0.00100200","id":"1529486353770","last":"0.00100700","low24hr":"0.00097800","lowestAsk":"0.00101000","percentChange":"-0.03079884","quoteVolume":"1011.38430504"},"ETCBTC":{"baseVolume":"74784.70969732","high24hr":"0.00234171","highestBid":"0.00227803","id":"1529486363567","last":"0.00228227","low24hr":"0.00225168","lowestAsk":"0.00228916","percentChange":"-0.01518897","quoteVolume":"171.18831565"},"RCBTC":{"baseVolume":"4158456.00000000","high24hr":"0.00003798","highestBid":"0.00003758","id":"1529486342636","last":"0.00003758","low24hr":"0.00003476","lowestAsk":"0.00003776","percentChange":"0.07957483","quoteVolume":"155.31986023"},"OMGBTC":{"baseVolume":"43511.30000000","high24hr":"0.00140481","highestBid":"0.00135827","id":"1529486350284","last":"0.00136377","low24hr":"0.00135724","lowestAsk":"0.00136377","percentChange":"-0.01153165","quoteVolume":"59.77295929"},"OCNBITCNY":{"baseVolume":"27221.00000000","high24hr":"0.07400000","highestBid":"0.04400000","id":"1529486341923","last":"0.06100000","low24hr":"0.05200000","lowestAsk":"0.06500000","percentChange":"0.17307692","quoteVolume":"1821.21600000"},"WECCETH":{"baseVolume":"89700572.00000000","high24hr":"0.00001784","highestBid":"0.00001735","id":"1529486342265","last":"0.00001745","low24hr":"0.00000542","lowestAsk":"0.00001753","percentChange":"0.08994378","quoteVolume":"1282.28070540"},"GUSETH":{"baseVolume":"12337713.24308258","high24hr":"0.00019010","highestBid":"0.00018157","id":"1529486362692","last":"0.00018172","low24hr":"0.00017800","lowestAsk":"0.00018201","percentChange":"-0.03983937","quoteVolume":"2280.46433897"},"REPBTC":{"baseVolume":"3940.39000000","high24hr":"0.00549099","highestBid":"0.00527336","id":"1529486341498","last":"0.00528730","low24hr":"0.00512678","lowestAsk":"0.00529887","percentChange":"0.02733843","quoteVolume":"20.98090803"},"CTXCETH":{"baseVolume":"3399788.84000000","high24hr":"0.00152427","highestBid":"0.00146583","id":"1529486356978","last":"0.00146583","low24hr":"0.00142039","lowestAsk":"0.00147613","percentChange":"0.01004651","quoteVolume":"5018.90009417"},"MTBTC":{"baseVolume":"17638070.00000000","high24hr":"0.00000239","highestBid":"0.00000235","id":"1529486341744","last":"0.00000239","low24hr":"0.00000214","lowestAsk":"0.00000248","percentChange":"0.09633027","quoteVolume":"40.33041436"},"EOSETH":{"baseVolume":"225517.98000000","high24hr":"0.02010700","highestBid":"0.01956400","id":"1529486357850","last":"0.01961000","low24hr":"0.01960300","lowestAsk":"0.01965300","percentChange":"-0.02384389","quoteVolume":"4469.01479566"},"INCBTC":{"baseVolume":"143211.25000000","high24hr":"0.00003137","highestBid":"0.00002789","id":"1529486342626","last":"0.00002780","low24hr":"0.00002763","lowestAsk":"0.00002798","percentChange":"-0.07916528","quoteVolume":"4.28088621"},"ZRXBTC":{"baseVolume":"249516.88550000","high24hr":"0.00013469","highestBid":"0.00012877","id":"1529486363518","last":"0.00012898","low24hr":"0.00012637","lowestAsk":"0.00012898","percentChange":"0.01527078","quoteVolume":"32.23627463"},"TRXBTC":{"baseVolume":"32813630.30000000","high24hr":"0.00000750","highestBid":"0.00000719","id":"1529486353583","last":"0.00000720","low24hr":"0.00000692","lowestAsk":"0.00000724","percentChange":"0.02127659","quoteVolume":"235.76320626"},"OCNBTC":{"baseVolume":"2546291.83949044","high24hr":"0.00000169","highestBid":"0.00000155","id":"1529486342639","last":"0.00000156","low24hr":"0.00000154","lowestAsk":"0.00000156","percentChange":"0.00645161","quoteVolume":"4.04732578"},"TCHBITCNY":{"baseVolume":"67556355.78620689","high24hr":"0.37900000","highestBid":"0.37000000","id":"1529486342092","last":"0.37000000","low24hr":"0.36300000","lowestAsk":"0.37600000","percentChange":"0.01092896","quoteVolume":"25217136.53399998"},"BTCUSDT":{"baseVolume":"627.88441941","high24hr":"7698.65000000","highestBid":"6594.22000000","id":"1529486341684","last":"6603.62000000","low24hr":"6540.00000000","lowestAsk":"6618.59000000","percentChange":"-0.01636262","quoteVolume":"4202194.39475499"},"AVHBTC":{"baseVolume":"64713096.00000000","high24hr":"0.00000080","highestBid":"0.00000077","id":"1529486344936","last":"0.00000078","low24hr":"0.00000076","lowestAsk":"0.00000080","percentChange":"0.00000000","quoteVolume":"50.47797592"},"AFCBTC":{"baseVolume":"7902.00000000","high24hr":"0.00002800","highestBid":"0.00002180","id":"1529486342610","last":"0.00002400","low24hr":"0.00002150","lowestAsk":"0.00002420","percentChange":"-0.12087912","quoteVolume":"0.19028131"},"KKGBTC":{"baseVolume":"1610130.00000000","high24hr":"0.00000330","highestBid":"0.00000326","id":"1529486341364","last":"0.00000327","low24hr":"0.00000302","lowestAsk":"0.00000327","percentChange":"0.00306748","quoteVolume":"5.23901194"},"BCHBTC":{"baseVolume":"4980.21700000","high24hr":"0.13598049","highestBid":"0.13198051","id":"1529486345785","last":"0.13219902","low24hr":"0.13082759","lowestAsk":"0.13229428","percentChange":"0.00258573","quoteVolume":"661.57708587"},"ELFBTC":{"baseVolume":"153335.64000000","high24hr":"0.00010547","highestBid":"0.00009954","id":"1529486342141","last":"0.00010034","low24hr":"0.00009932","lowestAsk":"0.00010047","percentChange":"-0.01113629","quoteVolume":"15.51450445"},"SDABTC":{"baseVolume":"26291.40000000","high24hr":"0.00000721","highestBid":"0.00000659","id":"1529486342613","last":"0.00000689","low24hr":"0.00000610","lowestAsk":"0.00000721","percentChange":"0.06163328","quoteVolume":"0.17451240"},"TRXBITCNY":{"baseVolume":"2870800.30000000","high24hr":"0.30500000","highestBid":"0.28800000","id":"1529486353503","last":"0.28800000","low24hr":"0.27100000","lowestAsk":"0.29200000","percentChange":"0.00348432","quoteVolume":"822044.71180000"},"LTCUSDT":{"baseVolume":"16507.13000000","high24hr":"101.41000000","highestBid":"95.79000000","id":"1529486341991","last":"96.30000000","low24hr":"95.10000000","lowestAsk":"96.58000000","percentChange":"-0.01463214","quoteVolume":"1611198.52960000"},"PTTETH":{"baseVolume":"100434018.86460348","high24hr":"0.00000517","highestBid":"0.00000493","id":"1529486342242","last":"0.00000496","low24hr":"0.00000482","lowestAsk":"0.00000505","percentChange":"-0.01195219","quoteVolume":"501.79140972"},"ETHBTC":{"baseVolume":"4697.51800000","high24hr":"0.07999926","highestBid":"0.07922105","id":"1529486364071","last":"0.07928156","low24hr":"0.07757144","lowestAsk":"0.07951778","percentChange":"0.01947076","quoteVolume":"371.87765257"},"BKBTBTC":{"baseVolume":"10765689.50000000","high24hr":"0.00000145","highestBid":"0.00000135","id":"1529486354459","last":"0.00000136","low24hr":"0.00000135","lowestAsk":"0.00000138","percentChange":"-0.02857142","quoteVolume":"14.95233846"},"YEEETH":{"baseVolume":"2926130.40000000","high24hr":"0.00003266","highestBid":"0.00002941","id":"1529486345681","last":"0.00002963","low24hr":"0.00002882","lowestAsk":"0.00002966","percentChange":"-0.02532894","quoteVolume":"89.78166204"},"SPHBTC":{"baseVolume":"1121086.00000000","high24hr":"0.00000004","highestBid":"0.00000002","id":"1529486342391","last":"0.00000002","low24hr":"0.00000002","lowestAsk":"0.00000003","percentChange":"0.00000000","quoteVolume":"0.03672866"},"OLEETH":{"baseVolume":"9205496.00000000","high24hr":"0.00001487","highestBid":"0.00001448","id":"1529486342204","last":"0.00001451","low24hr":"0.00001448","lowestAsk":"0.00001461","percentChange":"-0.00752393","quoteVolume":"135.05492195"},"TCHBTC":{"baseVolume":"68776898.80000000","high24hr":"0.00000940","highestBid":"0.00000928","id":"1529486342631","last":"0.00000928","low24hr":"0.00000901","lowestAsk":"0.00000935","percentChange":"0.02768549","quoteVolume":"635.81693929"},"SOCBTC":{"baseVolume":"2040623.10000000","high24hr":"0.00001840","highestBid":"0.00001500","id":"1529486342590","last":"0.00001539","low24hr":"0.00001200","lowestAsk":"0.00001538","percentChange":"0.11683599","quoteVolume":"27.01904479"},"BTMBTC":{"baseVolume":"2111873.79000000","high24hr":"0.00008310","highestBid":"0.00007934","id":"1529486363219","last":"0.00008020","low24hr":"0.00007717","lowestAsk":"0.00008064","percentChange":"-0.00816225","quoteVolume":"168.87132665"},"GTOBITCNY":{"baseVolume":"31745.00000000","high24hr":"1.28000000","highestBid":"0.89000000","id":"1529486342119","last":"0.89000000","low24hr":"0.83000000","lowestAsk":"0.94000000","percentChange":"-0.11881188","quoteVolume":"29802.90000000"},"LTCBTC":{"baseVolume":"10714.76000000","high24hr":"0.01489956","highestBid":"0.01449990","id":"1529486342225","last":"0.01453023","low24hr":"0.01444195","lowestAsk":"0.01456914","percentChange":"0.00041861","quoteVolume":"156.52138785"}}'
  recorded_at: Wed, 20 Jun 2018 09:19:26 GMT
recorded_with: VCR 4.0.0
