---
http_interactions:
- request:
    method: get
    uri: https://www.cointiger.com/exchange/api/public/market/detail/v4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ILCUSDT":{"baseVolume":"1572604.00000000","high24hr":"0.03517400","highestBid":"0.02620200","id":"1584591960449","last":"0.03151800","low24hr":"0.02625400","lowestAsk":"0.03450000","percentChange":"-0.07563715","quoteVolume":"50735.04749700"},"FOUSDT":{"baseVolume":"12303249.00000000","high24hr":"0.01220900","highestBid":"0.00870000","id":"1584591960564","last":"0.00892200","low24hr":"0.00805700","lowestAsk":"0.00910000","percentChange":"-0.00943710","quoteVolume":"109729.84539400"},"VTEXBTC":{"baseVolume":"289.50000000","high24hr":"0.00000007","highestBid":"0.00000001","id":"1584591960680","last":"0.00000007","low24hr":"0.00000007","lowestAsk":"0.00000302","percentChange":"0.00000000","quoteVolume":"0.00002026"},"HYTBTC":{"baseVolume":"4575.00000000","high24hr":"0.00000023","highestBid":"0.00000012","id":"1584591960331","last":"0.00000023","low24hr":"0.00000014","lowestAsk":"0.00000023","percentChange":"0.64285714","quoteVolume":"0.00105225"},"INCETH":{"baseVolume":"1551940.00000000","high24hr":"0.00000099","highestBid":"0.00000041","id":"1584591965498","last":"0.00000050","low24hr":"0.00000042","lowestAsk":"0.00000100","percentChange":"-0.43820224","quoteVolume":"1.11440359"},"GOMBTC":{"baseVolume":"2758949.22000000","high24hr":"0.00002586","highestBid":"0.00002367","id":"1584591960554","last":"0.00002378","low24hr":"0.00002368","lowestAsk":"0.00002572","percentChange":"-0.04689378","quoteVolume":"68.24013705"},"NZOUSDT":{"baseVolume":"64444758.00000000","high24hr":"0.02749700","highestBid":"0.01988000","id":"1584591960316","last":"0.02570400","low24hr":"0.01986400","lowestAsk":"0.02749900","percentChange":"0.15295595","quoteVolume":"1561202.62942700"},"GLDYUSDT":{"baseVolume":"57337072.63000000","high24hr":"0.01459600","highestBid":"0.01405400","id":"1584591962818","last":"0.01420100","low24hr":"0.01400100","lowestAsk":"0.01423800","percentChange":"-0.00594988","quoteVolume":"811178.67199327"},"BSCUSDT":{"baseVolume":"0.00000000","high24hr":"0.13500000","highestBid":"0.02700000","id":"1584591960391","last":"0.13500000","low24hr":"0.13500000","lowestAsk":"0.12000000","percentChange":"0.00000000","quoteVolume":"0.00000000"},"SDAETH":{"baseVolume":"1118268.00000000","high24hr":"0.00000738","highestBid":"0.00000435","id":"1584591960045","last":"0.00000707","low24hr":"0.00000435","lowestAsk":"0.00000745","percentChange":"0.14772727","quoteVolume":"6.59383488"},"MTETH":{"baseVolume":"1213805.00000000","high24hr":"0.00000793","highestBid":"0.00000360","id":"1584591960194","last":"0.00000779","low24hr":"0.00000362","lowestAsk":"0.00000790","percentChange":"0.18569254","quoteVolume":"6.96835163"},"CSBTC":{"baseVolume":"1774122.30000000","high24hr":"0.00000380","highestBid":"0.00000300","id":"1584591960669","last":"0.00000322","low24hr":"0.00000301","lowestAsk":"0.00000350","percentChange":"-0.12021857","quoteVolume":"6.04177256"},"ABBCBTC":{"baseVolume":"25070694.00000000","high24hr":"0.00001995","highestBid":"0.00001771","id":"1584591960056","last":"0.00001867","low24hr":"0.00001800","lowestAsk":"0.00002015","percentChange":"-0.02148846","quoteVolume":"475.15784660"},"ETHBITCNY":{"baseVolume":"578864.09340000","high24hr":"859.97000000","highestBid":"838.14000000","id":"1584591960580","last":"838.32000000","low24hr":"801.28000000","lowestAsk":"838.71000000","percentChange":"-0.01295153","quoteVolume":"482474197.76856300"},"BKBTETH":{"baseVolume":"2011943.68730200","high24hr":"0.00000228","highestBid":"0.00000220","id":"1584591960581","last":"0.00000223","low24hr":"0.00000207","lowestAsk":"0.00000226","percentChange":"0.04694835","quoteVolume":"4.34236020"},"ETCUSDT":{"baseVolume":"273299.96000000","high24hr":"4.65350000","highestBid":"4.48460000","id":"1584591960441","last":"4.48830000","low24hr":"4.32370000","lowestAsk":"4.48830000","percentChange":"-0.03273565","quoteVolume":"1231897.59758200"},"TANBTC":{"baseVolume":"11672048.00000000","high24hr":"0.00000018","highestBid":"0.00000015","id":"1584591960470","last":"0.00000018","low24hr":"0.00000018","lowestAsk":"0.00000025","percentChange":"0.00000000","quoteVolume":"2.10096864"},"CPCBTC":{"baseVolume":"11454867.00000000","high24hr":"0.00000055","highestBid":"0.00000042","id":"1584591960326","last":"0.00000047","low24hr":"0.00000043","lowestAsk":"0.00000065","percentChange":"0.02173913","quoteVolume":"5.24755595"},"LOTEUUSDT":{"baseVolume":"511027.00000000","high24hr":"0.00011000","highestBid":"0.00003700","id":"1584591960353","last":"0.00007900","low24hr":"0.00005500","lowestAsk":"0.00011100","percentChange":"0.33898305","quoteVolume":"42.32262200"},"SILKUSDT":{"baseVolume":"675786452.00000000","high24hr":"0.00102200","highestBid":"0.00081200","id":"1584591960827","last":"0.00085400","low24hr":"0.00078100","lowestAsk":"0.00094300","percentChange":"-0.07375271","quoteVolume":"582431.98952000"},"IQBTC":{"baseVolume":"0.00000000","high24hr":"0.00000015","highestBid":"0.00000011","id":"1584591960347","last":"0.00000015","low24hr":"0.00000015","lowestAsk":"0.00000015","percentChange":"0.00000000","quoteVolume":"0.00000000"},"KINUSDT":{"baseVolume":"2347206548.91885445","high24hr":"0.00000359","highestBid":"0.00000315","id":"1584591960629","last":"0.00000322","low24hr":"0.00000310","lowestAsk":"0.00000322","percentChange":"-0.09295774","quoteVolume":"7635.33455406"},"SPRKLETH":{"baseVolume":"1918748.21000000","high24hr":"0.00009892","highestBid":"0.00008400","id":"1584591960037","last":"0.00008657","low24hr":"0.00003813","lowestAsk":"0.00009900","percentChange":"0.11286797","quoteVolume":"143.73529309"},"BTCBITCNY":{"baseVolume":"23687.54261079","high24hr":"39261.56000000","highestBid":"38280.29000000","id":"1584591960613","last":"38277.28000000","low24hr":"36434.26000000","lowestAsk":"38299.71000000","percentChange":"-0.01899260","quoteVolume":"900875206.25646699"},"WINUSDT":{"baseVolume":"0.00000000","high24hr":"0.00010093","highestBid":"0.00006115","id":"1584591960484","last":"0.00010093","low24hr":"0.00010093","lowestAsk":"0.00010003","percentChange":"0.00000000","quoteVolume":"0.00000000"},"XQCUSDT":{"baseVolume":"2055900.37000000","high24hr":"0.14880000","highestBid":"0.08010000","id":"1584591960736","last":"0.09500000","low24hr":"0.08010000","lowestAsk":"0.14890000","percentChange":"-0.34573002","quoteVolume":"230110.00252100"},"SNTBTC":{"baseVolume":"1442927.30840825","high24hr":"0.00000290","highestBid":"0.00000256","id":"1584591960483","last":"0.00000257","low24hr":"0.00000168","lowestAsk":"0.00000260","percentChange":"0.48554913","quoteVolume":"3.54172557"},"BXKUSDT":{"baseVolume":"1819370.70000000","high24hr":"0.09987500","highestBid":"0.09800000","id":"1584591960546","last":"0.09940600","low24hr":"0.09800100","lowestAsk":"0.09988800","percentChange":"0.00377655","quoteVolume":"179614.69916440"},"DOGEUSDT":{"baseVolume":"14854624.70670000","high24hr":"0.00163310","highestBid":"0.00158250","id":"1584591960443","last":"0.00158450","low24hr":"0.00154600","lowestAsk":"0.00158440","percentChange":"-0.02940275","quoteVolume":"23580.19067052"},"EOSTRX":{"baseVolume":"0.00000000","high24hr":"116.97550000","highestBid":"102.00000000","id":"1584591960127","last":"116.97550000","low24hr":"116.97550000","lowestAsk":"749.92490000","percentChange":"0.00000000","quoteVolume":"0.00000000"},"XBASEBTC":{"baseVolume":"0.00000000","high24hr":"0.00000004","highestBid":"0.00000004","id":"1584591960152","last":"0.00000004","low24hr":"0.00000004","lowestAsk":"0.00000014","percentChange":"0.00000000","quoteVolume":"0.00000000"},"WICCUSDT":{"baseVolume":"351260.91003168","high24hr":"0.15050000","highestBid":"0.15040000","id":"1584591964858","last":"0.15050000","low24hr":"0.12680000","lowestAsk":"0.15050000","percentChange":"0.10014619","quoteVolume":"48097.36794007"},"BCGBTC":{"baseVolume":"2200762.00000000","high24hr":"0.00000014","highestBid":"0.00000013","id":"1584591960093","last":"0.00000014","low24hr":"0.00000014","lowestAsk":"0.00000016","percentChange":"0.00000000","quoteVolume":"0.30810668"},"BTMETH":{"baseVolume":"70966.14040400","high24hr":"0.00044251","highestBid":"0.00043954","id":"1584591960821","last":"0.00044090","low24hr":"0.00042435","lowestAsk":"0.00044250","percentChange":"0.01496316","quoteVolume":"30.71379275"},"XLMUSDT":{"baseVolume":"1288571.39010932","high24hr":"0.03790700","highestBid":"0.03694100","id":"1584591960986","last":"0.03695900","low24hr":"0.03444300","lowestAsk":"0.03702400","percentChange":"-0.02196406","quoteVolume":"46348.23700220"},"ETCBTC":{"baseVolume":"47111.91527555","high24hr":"0.00088800","highestBid":"0.00084800","id":"1584591960179","last":"0.00084800","low24hr":"0.00084300","lowestAsk":"0.00084900","percentChange":"-0.01280558","quoteVolume":"40.61966057"},"CNEXBTC":{"baseVolume":"342686.00000000","high24hr":"0.00000385","highestBid":"0.00000379","id":"1584591960029","last":"0.00000380","low24hr":"0.00000277","lowestAsk":"0.00000380","percentChange":"0.43396226","quoteVolume":"1.22357211"},"OMGBTC":{"baseVolume":"6775.16386823","high24hr":"0.00009097","highestBid":"0.00008797","id":"1584591960210","last":"0.00008900","low24hr":"0.00008402","lowestAsk":"0.00008902","percentChange":"-0.00923967","quoteVolume":"0.58711677"},"DASHUSDT":{"baseVolume":"41763.79470000","high24hr":"62.82000000","highestBid":"58.29000000","id":"1584591960304","last":"58.30000000","low24hr":"45.81000000","lowestAsk":"58.32000000","percentChange":"0.26026805","quoteVolume":"2271819.32299300"},"ADNUSDT":{"baseVolume":"4846308355.00000000","high24hr":"0.00019851","highestBid":"0.00014000","id":"1584591960200","last":"0.00014833","low24hr":"0.00014020","lowestAsk":"0.00017000","percentChange":"-0.02734426","quoteVolume":"758735.63271386"},"CTXCETH":{"baseVolume":"8677.99000000","high24hr":"0.00034740","highestBid":"0.00011556","id":"1584591960637","last":"0.00034720","low24hr":"0.00033050","lowestAsk":"0.00161999","percentChange":"0.01404830","quoteVolume":"2.94275971"},"FTNUSDT":{"baseVolume":"960762.00000000","high24hr":"0.01286278","highestBid":"0.01054000","id":"1584591960692","last":"0.01150579","low24hr":"0.01054000","lowestAsk":"0.01200000","percentChange":"0.01179333","quoteVolume":"10797.44566211"},"ILCBTC":{"baseVolume":"1118352.00000000","high24hr":"0.00000555","highestBid":"0.00000490","id":"1584591960792","last":"0.00000507","low24hr":"0.00000472","lowestAsk":"0.00000555","percentChange":"-0.05410447","quoteVolume":"5.82835795"},"ZRXBTC":{"baseVolume":"18688.99545100","high24hr":"0.00002840","highestBid":"0.00002827","id":"1584591960347","last":"0.00002828","low24hr":"0.00002611","lowestAsk":"0.00002837","percentChange":"0.03741746","quoteVolume":"0.50303128"},"GUBIUSDT":{"baseVolume":"608884.00000000","high24hr":"0.00012300","highestBid":"0.00004200","id":"1584591960114","last":"0.00004300","low24hr":"0.00003900","lowestAsk":"0.00012400","percentChange":"-0.63865546","quoteVolume":"61.25188300"},"IHTBTC":{"baseVolume":"971406.00000000","high24hr":"0.00000019","highestBid":"0.00000012","id":"1584591960504","last":"0.00000013","low24hr":"0.00000013","lowestAsk":"0.00000019","percentChange":"-0.18750000","quoteVolume":"0.15102515"},"OCNBTC":{"baseVolume":"48350131.00000000","high24hr":"0.00000004","highestBid":"0.00000003","id":"1584591960097","last":"0.00000004","low24hr":"0.00000004","lowestAsk":"0.00000005","percentChange":"0.00000000","quoteVolume":"1.93400524"},"TRXBTC":{"baseVolume":"1568810.00000000","high24hr":"0.00000193","highestBid":"0.00000187","id":"1584591960958","last":"0.00000188","low24hr":"0.00000182","lowestAsk":"0.00000193","percentChange":"-0.00529100","quoteVolume":"2.94194841"},"TCTUSDT":{"baseVolume":"321960.98000000","high24hr":"2.19069700","highestBid":"2.18065000","id":"1584591960554","last":"2.18124400","low24hr":"2.18068700","lowestAsk":"2.19072300","percentChange":"-0.00183868","quoteVolume":"703718.26481105"},"PZMBTC":{"baseVolume":"0.00000000","high24hr":"0.00003630","highestBid":"0.00002300","id":"1584591960962","last":"0.00003630","low24hr":"0.00003630","lowestAsk":"0.00004170","percentChange":"0.00000000","quoteVolume":"0.00000000"},"AFCBTC":{"baseVolume":"1421098.00000000","high24hr":"0.00000009","highestBid":"0.00000006","id":"1584591961023","last":"0.00000007","low24hr":"0.00000005","lowestAsk":"0.00000008","percentChange":"-0.12500000","quoteVolume":"0.11183881"},"PZMUSDT":{"baseVolume":"41.67000000","high24hr":"0.15000000","highestBid":"0.04000000","id":"1584591960883","last":"0.11050000","low24hr":"0.11050000","lowestAsk":"0.14870000","percentChange":"-0.26333333","quoteVolume":"4.60453500"},"MESUSDT":{"baseVolume":"13481986.00000000","high24hr":"0.00010460","highestBid":"0.00002310","id":"1584591960329","last":"0.00010160","low24hr":"0.00010160","lowestAsk":"0.00010500","percentChange":"-0.02868068","quoteVolume":"1369.76977760"},"BAXUSDT":{"baseVolume":"404118242.00000000","high24hr":"0.00009900","highestBid":"0.00009000","id":"1584591960171","last":"0.00009400","low24hr":"0.00008300","lowestAsk":"0.00010200","percentChange":"0.01075268","quoteVolume":"37301.94691900"},"LTCUSDT":{"baseVolume":"92343.13200000","high24hr":"35.09000000","highestBid":"34.18000000","id":"1584591960247","last":"34.20000000","low24hr":"32.32000000","lowestAsk":"34.21000000","percentChange":"-0.01327178","quoteVolume":"3109339.93737000"},"RAKUUSDT":{"baseVolume":"77081474.45900000","high24hr":"0.00863600","highestBid":"0.00841100","id":"1584591961370","last":"0.00859500","low24hr":"0.00763400","lowestAsk":"0.00863600","percentChange":"0.09073604","quoteVolume":"611533.20413057"},"ADKBTC":{"baseVolume":"738921.51000000","high24hr":"0.00011000","highestBid":"0.00008348","id":"1584591960056","last":"0.00009102","low24hr":"0.00008349","lowestAsk":"0.00011000","percentChange":"0.03892249","quoteVolume":"68.48892220"},"ETHBTC":{"baseVolume":"18138.45375100","high24hr":"0.02203400","highestBid":"0.02189300","id":"1584591960886","last":"0.02191100","low24hr":"0.02161800","lowestAsk":"0.02191600","percentChange":"0.00675427","quoteVolume":"396.50499394"},"PTTUSDT":{"baseVolume":"0.00000000","high24hr":"0.00001900","highestBid":"0.00002200","id":"1584591960976","last":"0.00001900","low24hr":"0.00001900","lowestAsk":"0.00005600","percentChange":"0.00000000","quoteVolume":"0.00000000"},"BSTBTC":{"baseVolume":"0.00000000","high24hr":"0.00006920","highestBid":"0.00000238","id":"1584591960811","last":"0.00006920","low24hr":"0.00006920","lowestAsk":"0.00011310","percentChange":"0.00000000","quoteVolume":"0.00000000"},"GTOBITCNY":{"baseVolume":"0.00000000","high24hr":"0.03648500","highestBid":"0.03500300","id":"1584591960095","last":"0.03648500","low24hr":"0.03648500","lowestAsk":"0.13100000","percentChange":"0.00000000","quoteVolume":"0.00000000"},"GTNBTC":{"baseVolume":"462963.47340000","high24hr":"0.00006056","highestBid":"0.00002487","id":"1584591960648","last":"0.00002617","low24hr":"0.00002387","lowestAsk":"0.00007550","percentChange":"-0.06702317","quoteVolume":"16.05911953"},"UDOONEWUSDT":{"baseVolume":"1828380.00000000","high24hr":"0.00397700","highestBid":"0.00190000","id":"1584591960612","last":"0.00163500","low24hr":"0.00137300","lowestAsk":"0.00389900","percentChange":"-0.46305418","quoteVolume":"4727.70506900"},"TAVITTBTC":{"baseVolume":"308530.30000000","high24hr":"0.00025095","highestBid":"0.00012120","id":"1584591965682","last":"0.00017901","low24hr":"0.00012129","lowestAsk":"0.00025111","percentChange":"0.11916223","quoteVolume":"57.30611557"},"GBCBTC":{"baseVolume":"0.00000000","high24hr":"0.00000777","highestBid":"0.00000102","id":"1584591960662","last":"0.00000777","low24hr":"0.00000777","lowestAsk":"0.00000850","percentChange":"0.00000000","quoteVolume":"0.00000000"},"MMUSDT":{"baseVolume":"9749500.00000000","high24hr":"0.00028800","highestBid":"0.00021200","id":"1584591960869","last":"0.00023100","low24hr":"0.00021300","lowestAsk":"0.00028900","percentChange":"-0.07968127","quoteVolume":"2289.72654000"},"GOSETH":{"baseVolume":"0.00000000","high24hr":"0.00110779","highestBid":"0.00076000","id":"1584591960335","last":"0.00110779","low24hr":"0.00110779","lowestAsk":"0.00088888","percentChange":"0.00000000","quoteVolume":"0.00000000"},"MESETH":{"baseVolume":"23330233.00000000","high24hr":"0.00000051","highestBid":"0.00000023","id":"1584591960452","last":"0.00000050","low24hr":"0.00000050","lowestAsk":"0.00000049","percentChange":"-0.01960784","quoteVolume":"11.66511650"},"CROBTC":{"baseVolume":"19663396.37000000","high24hr":"0.00000662","highestBid":"0.00000655","id":"1584591963220","last":"0.00000657","low24hr":"0.00000606","lowestAsk":"0.00000660","percentChange":"0.07352941","quoteVolume":"128.52727419"},"N8VBTC":{"baseVolume":"370835.93000000","high24hr":"0.00001849","highestBid":"0.00001285","id":"1584591960461","last":"0.00001521","low24hr":"0.00001256","lowestAsk":"0.00001848","percentChange":"-0.11156542","quoteVolume":"5.71371382"},"UDOOETH":{"baseVolume":"4325958.42631649","high24hr":"0.00002358","highestBid":"0.00002312","id":"1584591960868","last":"0.00002319","low24hr":"0.00002298","lowestAsk":"0.00002340","percentChange":"-0.00855066","quoteVolume":"100.59653706"},"EOSBTC":{"baseVolume":"186418.78525700","high24hr":"0.00037618","highestBid":"0.00037390","id":"1584591960472","last":"0.00037402","low24hr":"0.00036771","lowestAsk":"0.00037428","percentChange":"0.00969143","quoteVolume":"69.28178536"},"BCHABCBTC":{"baseVolume":"2639.81016990","high24hr":"0.03470568","highestBid":"0.03389082","id":"1584591960051","last":"0.03391272","low24hr":"0.03360541","lowestAsk":"0.03393817","percentChange":"-0.01073691","quoteVolume":"90.06558247"},"CPCETH":{"baseVolume":"13027165.00000000","high24hr":"0.00002608","highestBid":"0.00001928","id":"1584591960648","last":"0.00002186","low24hr":"0.00001929","lowestAsk":"0.00002610","percentChange":"-0.06220506","quoteVolume":"281.58212642"},"ICXBTC":{"baseVolume":"7642.63231459","high24hr":"0.00003692","highestBid":"0.00003549","id":"1584591961019","last":"0.00003556","low24hr":"0.00003284","lowestAsk":"0.00003558","percentChange":"0.04250952","quoteVolume":"0.26600513"},"GOMUSDT":{"baseVolume":"3864333.83000000","high24hr":"0.13510000","highestBid":"0.12310000","id":"1584591962497","last":"0.12620000","low24hr":"0.12320000","lowestAsk":"0.13510000","percentChange":"0.01528559","quoteVolume":"490307.29257000"},"SPRKLBTC":{"baseVolume":"2101329.34000000","high24hr":"0.00000194","highestBid":"0.00000183","id":"1584591960256","last":"0.00000186","low24hr":"0.00000136","lowestAsk":"0.00000195","percentChange":"0.21568627","quoteVolume":"3.52549645"},"ZECUSDT":{"baseVolume":"59244.06810000","high24hr":"31.07000000","highestBid":"28.67000000","id":"1584591960287","last":"28.69000000","low24hr":"24.32000000","lowestAsk":"28.71000000","percentChange":"0.11851851","quoteVolume":"1625452.47764500"},"EDRETH":{"baseVolume":"0.00000000","high24hr":"0.00000366","highestBid":"0.00000222","id":"1584591960184","last":"0.00000366","low24hr":"0.00000366","lowestAsk":"0.00013950","percentChange":"0.00000000","quoteVolume":"0.00000000"},"NTYETH":{"baseVolume":"0.00000000","high24hr":"0.00000002","highestBid":"0.00000002","id":"1584591960474","last":"0.00000002","low24hr":"0.00000002","lowestAsk":"0.00000009","percentChange":"0.00000000","quoteVolume":"0.00000000"},"NZOETH":{"baseVolume":"23137239.00000000","high24hr":"0.00020997","highestBid":"0.00015140","id":"1584591960187","last":"0.00020088","low24hr":"0.00015146","lowestAsk":"0.00021000","percentChange":"0.29759059","quoteVolume":"4365.31517130"},"MOGXETH":{"baseVolume":"431311.71000000","high24hr":"0.00242073","highestBid":"0.00228356","id":"1584591960364","last":"0.00230565","low24hr":"0.00223172","lowestAsk":"0.00234166","percentChange":"0.03030614","quoteVolume":"1003.59562582"},"PXGETH":{"baseVolume":"0.00000000","high24hr":"0.00000241","highestBid":"0.00000024","id":"1584591960801","last":"0.00000241","low24hr":"0.00000241","lowestAsk":"0.00000220","percentChange":"0.00000000","quoteVolume":"0.00000000"},"STORJBTC":{"baseVolume":"46670.14124300","high24hr":"0.00001597","highestBid":"0.00001493","id":"1584591961005","last":"0.00001504","low24hr":"0.00001246","lowestAsk":"0.00001513","percentChange":"0.16318638","quoteVolume":"0.63864505"},"SWACEBTC":{"baseVolume":"3188.00000000","high24hr":"0.00000071","highestBid":"0.00000030","id":"1584591960618","last":"0.00000066","low24hr":"0.00000066","lowestAsk":"0.00000066","percentChange":"-0.07042253","quoteVolume":"0.00210408"},"XAGXRP":{"baseVolume":"0.00000000","high24hr":"0.12500000","highestBid":"0.11000000","id":"1584591960963","last":"0.12500000","low24hr":"0.12500000","lowestAsk":"0.12500000","percentChange":"0.00000000","quoteVolume":"0.00000000"},"XYZUSDT":{"baseVolume":"195717150.00000000","high24hr":"0.00047247","highestBid":"0.00045000","id":"1584591960323","last":"0.00045452","low24hr":"0.00045002","lowestAsk":"0.00047250","percentChange":"-0.02199079","quoteVolume":"90274.68772560"},"CPCUSDT":{"baseVolume":"2329370.00000000","high24hr":"0.00354400","highestBid":"0.00245500","id":"1584591960468","last":"0.00322000","low24hr":"0.00245700","lowestAsk":"0.00354500","percentChange":"-0.02601330","quoteVolume":"7022.42488300"},"BAXETH":{"baseVolume":"448042819.00000000","high24hr":"0.00000090","highestBid":"0.00000085","id":"1584591964225","last":"0.00000086","low24hr":"0.00000082","lowestAsk":"0.00000092","percentChange":"0.04878048","quoteVolume":"385.74657938"},"VINBTC":{"baseVolume":"15754778.00000000","high24hr":"0.00000039","highestBid":"0.00000015","id":"1584591960770","last":"0.00000023","low24hr":"0.00000015","lowestAsk":"0.00000035","percentChange":"0.53333333","quoteVolume":"4.90982374"},"WINTRX":{"baseVolume":"9741766.00000000","high24hr":"0.00721800","highestBid":"0.00005600","id":"1584591960933","last":"0.00699100","low24hr":"0.00657700","lowestAsk":"0.00921500","percentChange":"0.02237496","quoteVolume":"67119.27240000"},"RCBTC":{"baseVolume":"0.00000000","high24hr":"0.00000493","highestBid":"0.00000120","id":"1584591960139","last":"0.00000493","low24hr":"0.00000493","lowestAsk":"0.00001199","percentChange":"0.00000000","quoteVolume":"0.00000000"},"BCHSVBTC":{"baseVolume":"3243.65983258","high24hr":"0.02305170","highestBid":"0.02261721","id":"1584591960296","last":"0.02261586","low24hr":"0.02179853","lowestAsk":"0.02265279","percentChange":"0.01593084","quoteVolume":"72.47373723"},"FTNBTC":{"baseVolume":"5847259.33000000","high24hr":"0.00000257","highestBid":"0.00000180","id":"1584591960944","last":"0.00000257","low24hr":"0.00000180","lowestAsk":"0.00000278","percentChange":"0.35263157","quoteVolume":"11.15000752"},"BXKBTC":{"baseVolume":"2389081.80000000","high24hr":"0.00001849","highestBid":"0.00001790","id":"1584591960793","last":"0.00001796","low24hr":"0.00001791","lowestAsk":"0.00001850","percentChange":"-0.01318681","quoteVolume":"43.22172742"},"DBTUSDT":{"baseVolume":"10050775.00000000","high24hr":"0.00598200","highestBid":"0.00094200","id":"1584591960905","last":"0.00419100","low24hr":"0.00197000","lowestAsk":"0.00598600","percentChange":"-0.00757755","quoteVolume":"40853.60042500"},"USDTBITCNY":{"baseVolume":"2362.00000000","high24hr":"7.28060000","highestBid":"7.10000000","id":"1584591960320","last":"7.28060000","low24hr":"7.22730000","lowestAsk":"7.25000000","percentChange":"0.00076975","quoteVolume":"17132.31227000"},"QRLBTC":{"baseVolume":"2803564.04000000","high24hr":"0.00001286","highestBid":"0.00000953","id":"1584591960058","last":"0.00001056","low24hr":"0.00000891","lowestAsk":"0.00001267","percentChange":"-0.04434389","quoteVolume":"31.10615077"},"HYTETH":{"baseVolume":"0.00000000","high24hr":"0.00000444","highestBid":"0.00000444","id":"1584591960670","last":"0.00000444","low24hr":"0.00000444","lowestAsk":"0.00001000","percentChange":"0.00000000","quoteVolume":"0.00000000"},"ULTETH":{"baseVolume":"18434576.00000000","high24hr":"0.00013456","highestBid":"0.00013393","id":"1584591960196","last":"0.00013394","low24hr":"0.00013306","lowestAsk":"0.00013440","percentChange":"0.00510280","quoteVolume":"2467.97092887"},"CSETH":{"baseVolume":"1116093.02000000","high24hr":"0.00029884","highestBid":"0.00012639","id":"1584591960061","last":"0.00015559","low24hr":"0.00012651","lowestAsk":"0.00030000","percentChange":"-0.30583563","quoteVolume":"235.58001517"},"XRPUSDT":{"baseVolume":"26582724.50000000","high24hr":"0.14924000","highestBid":"0.14536000","id":"1584591960879","last":"0.14554000","low24hr":"0.14009000","lowestAsk":"0.14547000","percentChange":"-0.02171136","quoteVolume":"3848133.80464300"},"DOTUSDT":{"baseVolume":"5223.99283921","high24hr":"110.50000000","highestBid":"109.53000000","id":"1584591960966","last":"110.02000000","low24hr":"106.31000000","lowestAsk":"110.21000000","percentChange":"0.02030974","quoteVolume":"565027.43604000"},"BKBTBTC":{"baseVolume":"895301.00000000","high24hr":"0.00000006","highestBid":"0.00000003","id":"1584591960496","last":"0.00000004","low24hr":"0.00000004","lowestAsk":"0.00000007","percentChange":"-0.20000000","quoteVolume":"0.04428405"},"CVCOINBTC":{"baseVolume":"0.00000000","high24hr":"0.00000788","highestBid":"0.00000205","id":"1584591960392","last":"0.00000788","low24hr":"0.00000788","lowestAsk":"0.00000800","percentChange":"0.00000000","quoteVolume":"0.00000000"},"IHTETH":{"baseVolume":"1018841.00000000","high24hr":"0.00001398","highestBid":"0.00000888","id":"1584591960950","last":"0.00000945","low24hr":"0.00000915","lowestAsk":"0.00001400","percentChange":"-0.32451751","quoteVolume":"11.84314088"},"TCHBTC":{"baseVolume":"238251089.60000000","high24hr":"0.00000138","highestBid":"0.00000132","id":"1584591960228","last":"0.00000134","low24hr":"0.00000128","lowestAsk":"0.00000135","percentChange":"0.04687500","quoteVolume":"315.07463083"},"MMBTC":{"baseVolume":"0.00000000","high24hr":"0.00000006","highestBid":"0.00000004","id":"1584591960245","last":"0.00000006","low24hr":"0.00000006","lowestAsk":"0.00000006","percentChange":"0.00000000","quoteVolume":"0.00000000"},"VTEXUSDT":{"baseVolume":"0.00000000","high24hr":"0.00129500","highestBid":"0.00129500","id":"1584591960862","last":"0.00129500","low24hr":"0.00129500","lowestAsk":"0.01799900","percentChange":"0.00000000","quoteVolume":"0.00000000"},"NASHETH":{"baseVolume":"0.00000000","high24hr":"0.00000015","highestBid":"0.00000015","id":"1584591960705","last":"0.00000015","low24hr":"0.00000015","lowestAsk":"0.00000029","percentChange":"0.00000000","quoteVolume":"0.00000000"},"LTCBTC":{"baseVolume":"11877.34560133","high24hr":"0.00654200","highestBid":"0.00646500","id":"1584591960760","last":"0.00646800","low24hr":"0.00633300","lowestAsk":"0.00646800","percentChange":"0.00747663","quoteVolume":"76.38461097"},"BETHERUSDT":{"baseVolume":"31726002.00000000","high24hr":"0.00024400","highestBid":"0.00013000","id":"1584591960714","last":"0.00013700","low24hr":"0.00013100","lowestAsk":"0.00023800","percentChange":"-0.24725274","quoteVolume":"6027.16083000"},"BTSETH":{"baseVolume":"31701.43513000","high24hr":"0.00014529","highestBid":"0.00013683","id":"1584591960895","last":"0.00013824","low24hr":"0.00012077","lowestAsk":"0.00013862","percentChange":"0.12646675","quoteVolume":"4.21868160"},"ETHTRX":{"baseVolume":"0.00000000","high24hr":"0.04000000","highestBid":"0.55000000","id":"1584591960112","last":"0.04000000","low24hr":"0.04000000","lowestAsk":"14950.00000000","percentChange":"0.00000000","quoteVolume":"0.00000000"},"XEMBITCNY":{"baseVolume":"243863.69054373","high24hr":"0.25668300","highestBid":"0.25327300","id":"1584591960269","last":"0.25417200","low24hr":"0.24157700","lowestAsk":"0.25425100","percentChange":"0.00371597","quoteVolume":"61037.29431538"},"EDRUSDT":{"baseVolume":"3327909.00000000","high24hr":"0.00697000","highestBid":"0.00230000","id":"1584591960392","last":"0.00296500","low24hr":"0.00237600","lowestAsk":"0.00695000","percentChange":"0.11090295","quoteVolume":"14679.60583800"},"CTXCBTC":{"baseVolume":"10188.53000000","high24hr":"0.00000769","highestBid":"0.00000502","id":"1584591960088","last":"0.00000769","low24hr":"0.00000725","lowestAsk":"0.00002222","percentChange":"0.02945113","quoteVolume":"0.07569030"},"CVCOINUSDT":{"baseVolume":"0.00000000","high24hr":"0.02217700","highestBid":"0.00400000","id":"1584591960439","last":"0.02217700","low24hr":"0.02217700","lowestAsk":"0.02217700","percentChange":"0.00000000","quoteVolume":"0.00000000"},"TFETH":{"baseVolume":"0.00000000","high24hr":"0.00000100","highestBid":"0.00000100","id":"1584591960314","last":"0.00000100","low24hr":"0.00000100","lowestAsk":"0.00000367","percentChange":"0.00000000","quoteVolume":"0.00000000"},"XRPBTC":{"baseVolume":"2427363.00000000","high24hr":"0.00002821","highestBid":"0.00002750","id":"1584591960765","last":"0.00002752","low24hr":"0.00002709","lowestAsk":"0.00002753","percentChange":"-0.00217548","quoteVolume":"66.95290594"},"LOTEUETH":{"baseVolume":"0.00000000","high24hr":"0.00000068","highestBid":"0.00000006","id":"1584591960834","last":"0.00000068","low24hr":"0.00000068","lowestAsk":"0.00000600","percentChange":"0.00000000","quoteVolume":"0.00000000"},"DBTBTC":{"baseVolume":"36515637.00000000","high24hr":"0.00000060","highestBid":"0.00000058","id":"1584591960427","last":"0.00000059","low24hr":"0.00000059","lowestAsk":"0.00000061","percentChange":"0.00000000","quoteVolume":"21.66904430"},"RCETH":{"baseVolume":"0.00000000","high24hr":"0.00024367","highestBid":"0.00002121","id":"1584591960327","last":"0.00024367","low24hr":"0.00024367","lowestAsk":"0.00025121","percentChange":"0.00000000","quoteVolume":"0.00000000"},"KKGETH":{"baseVolume":"0.00000000","high24hr":"0.00000400","highestBid":"0.00000116","id":"1584591961004","last":"0.00000400","low24
[...]
