---
http_interactions:
- request:
    method: get
    uri: https://api.cointiger.pro/exchange/trading/api/market/depth?symbol=ethbtc&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Via-Jsl:
      - cb634c7,-
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"symbol":"ethbtc","depth_data":{"tick":{"buys":[["0.07922105",2.5020000000000000],["0.07919548",2.1400000000000000],["0.07918549",2.5020000000000000],["0.07906649",1.0920000000000000],["0.07906554",0.1750000000000000],["0.07906549",0.1790000000000000],["0.07906292",0.7200000000000000],["0.07905848",0.5950000000000000],["0.07905749",0.7170000000000000],["0.07905341",0.1670000000000000],["0.07905266",0.1650000000000000],["0.07905255",0.1680000000000000],["0.07894280",0.0670000000000000],["0.07894275",0.0340000000000000],["0.07894272",0.0310000[...]
