---
http_interactions:
- request:
    method: get
    uri: https://www.cointiger.com/exchange/api/public/market/detail
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ILCUSDT":{"baseVolume":"1013795.00000000","high24hr":"0.02830000","highestBid":"0.02800100","id":"1591948440516","last":"0.02809100","low24hr":"0.02800200","lowestAsk":"0.02830000","percentChange":"-0.00156388","quoteVolume":"28497.49341500"},"FOUSDT":{"baseVolume":"12871115.00000000","high24hr":"0.01119600","highestBid":"0.01080000","id":"1591948440027","last":"0.01099800","low24hr":"0.01081000","lowestAsk":"0.01120000","percentChange":"-0.00335296","quoteVolume":"142225.33219300"},"HYTBTC":{"baseVolume":"0.00000000","high24hr":"0.00000016","highestBid":"0.00000007","id":"1591948440517","last":"0.00000016","low24hr":"0.00000016","lowestAsk":"0.00000016","percentChange":"0.00000000","quoteVolume":"0.00000000"},"INCETH":{"baseVolume":"1160749.00000000","high24hr":"0.00000092","highestBid":"0.00000031","id":"1591948440236","last":"0.00000087","low24hr":"0.00000032","lowestAsk":"0.00000093","percentChange":"0.04819277","quoteVolume":"0.73527816"},"GOMBTC":{"baseVolume":"2918673.73000000","high24hr":"0.00001563","highestBid":"0.00001041","id":"1591948440062","last":"0.00001258","low24hr":"0.00001042","lowestAsk":"0.00001354","percentChange":"-0.05271084","quoteVolume":"34.90577417"},"NZOUSDT":{"baseVolume":"10411268.00000000","high24hr":"0.01389800","highestBid":"0.01115000","id":"1591948477400","last":"0.01136900","low24hr":"0.01116500","lowestAsk":"0.01370000","percentChange":"-0.14448039","quoteVolume":"126183.84660500"},"GLDYUSDT":{"baseVolume":"12259674.18448626","high24hr":"0.04233600","highestBid":"0.04229600","id":"1591948464508","last":"0.04232900","low24hr":"0.02627700","lowestAsk":"0.04243200","percentChange":"0.34762814","quoteVolume":"449489.57276272"},"ETH3LUSDT":{"baseVolume":"3909.26000000","high24hr":"300.04000000","highestBid":"254.22000000","id":"1591948470944","last":"254.43000000","low24hr":"227.85000000","lowestAsk":"255.27000000","percentChange":"-0.15348017","quoteVolume":"1019285.53488000"},"BSCUSDT":{"baseVolume":"0.00000000","high24hr":"0.00600100","highestBid":"0.00120200","id":"1591948440205","last":"0.00600100","low24hr":"0.00600100","lowestAsk":"0.09999900","percentChange":"0.00000000","quoteVolume":"0.00000000"},"SDAETH":{"baseVolume":"1224522.00000000","high24hr":"0.00000588","highestBid":"0.00000431","id":"1591948440353","last":"0.00000581","low24hr":"0.00000434","lowestAsk":"0.00000590","percentChange":"0.10456273","quoteVolume":"6.23859783"},"BCRBTC":{"baseVolume":"885.33791708","high24hr":"0.18510000","highestBid":"0.18380000","id":"1591948481251","last":"0.18400000","low24hr":"0.17440000","lowestAsk":"0.18520000","percentChange":"0.05202973","quoteVolume":"158.31153870"},"BTC3SUSDT":{"baseVolume":"17007.26000000","high24hr":"1.84200000","highestBid":"1.66600000","id":"1591948471263","last":"1.66700000","low24hr":"1.51700000","lowestAsk":"1.67600000","percentChange":"0.10470510","quoteVolume":"28475.40209000"},"MTETH":{"baseVolume":"999989.00000000","high24hr":"0.00000561","highestBid":"0.00000360","id":"1591948440391","last":"0.00000440","low24hr":"0.00000369","lowestAsk":"0.00000567","percentChange":"0.10275689","quoteVolume":"4.72908469"},"CSBTC":{"baseVolume":"0.00000000","high24hr":"0.00000014","highestBid":"0.00000169","id":"1591948440492","last":"0.00000014","low24hr":"0.00000014","lowestAsk":"0.00001487","percentChange":"0.00000000","quoteVolume":"0.00000000"},"ABBCBTC":{"baseVolume":"21702044.00000000","high24hr":"0.00001081","highestBid":"0.00000978","id":"1591948440346","last":"0.00001081","low24hr":"0.00001002","lowestAsk":"0.00001084","percentChange":"0.07029702","quoteVolume":"224.48406339"},"ETHBITCNY":{"baseVolume":"110549.70860000","high24hr":"1732.96000000","highestBid":"1665.16000000","id":"1591948481577","last":"1665.45000000","low24hr":"1614.45000000","lowestAsk":"1665.46000000","percentChange":"-0.03815167","quoteVolume":"184181927.71688100"},"BKBTETH":{"baseVolume":"1676331.05323900","high24hr":"0.00000250","highestBid":"0.00000236","id":"1591948440371","last":"0.00000238","low24hr":"0.00000228","lowestAsk":"0.00000239","percentChange":"-0.03643724","quoteVolume":"3.98795739"},"ETCUSDT":{"baseVolume":"105545.61636800","high24hr":"6.77450000","highestBid":"6.43920000","id":"1591948479368","last":"6.44070000","low24hr":"6.08000000","lowestAsk":"6.44260000","percentChange":"-0.04730419","quoteVolume":"675805.29361994"},"TANBTC":{"baseVolume":"16025319.00000000","high24hr":"0.00000013","highestBid":"0.00000009","id":"1591948440559","last":"0.00000013","low24hr":"0.00000013","lowestAsk":"0.00000017","percentChange":"0.00000000","quoteVolume":"2.08329147"},"CPCBTC":{"baseVolume":"6280674.00000000","high24hr":"0.00000029","highestBid":"0.00000027","id":"1591948440063","last":"0.00000028","low24hr":"0.00000028","lowestAsk":"0.00000032","percentChange":"-0.03448275","quoteVolume":"1.77383415"},"LOTEUUSDT":{"baseVolume":"573073.00000000","high24hr":"0.00009100","highestBid":"0.00005500","id":"1591948461155","last":"0.00005600","low24hr":"0.00005200","lowestAsk":"0.00009200","percentChange":"-0.20000000","quoteVolume":"39.29241000"},"SILKUSDT":{"baseVolume":"551893350.00000000","high24hr":"0.00119200","highestBid":"0.00105700","id":"1591948478781","last":"0.00106800","low24hr":"0.00076600","lowestAsk":"0.00119500","percentChange":"0.27904191","quoteVolume":"496594.72341100"},"IQBTC":{"baseVolume":"793279.33333333","high24hr":"0.00000018","highestBid":"0.00000016","id":"1591948440319","last":"0.00000018","low24hr":"0.00000016","lowestAsk":"0.00000018","percentChange":"0.12500000","quoteVolume":"0.13524082"},"KINUSDT":{"baseVolume":"3022883717.42542372","high24hr":"0.00000650","highestBid":"0.00000577","id":"1591948440719","last":"0.00000588","low24hr":"0.00000567","lowestAsk":"0.00000584","percentChange":"0.02797202","quoteVolume":"18348.16456390"},"SPRKLETH":{"baseVolume":"1181548.13000000","high24hr":"0.00063469","highestBid":"0.00043200","id":"1591948455999","last":"0.00056893","low24hr":"0.00043230","lowestAsk":"0.00063470","percentChange":"-0.05410078","quoteVolume":"653.14042165"},"BTCBITCNY":{"baseVolume":"4002.67141201","high24hr":"68960.38000000","highestBid":"66638.40000000","id":"1591948449903","last":"66662.79000000","low24hr":"64586.37000000","lowestAsk":"66660.03000000","percentChange":"-0.03249707","quoteVolume":"266932110.51340994"},"SOLVEBTC":{"baseVolume":"190706.54000000","high24hr":"0.00001989","highestBid":"0.00001800","id":"1591948440849","last":"0.00001919","low24hr":"0.00001803","lowestAsk":"0.00001991","percentChange":"0.01534391","quoteVolume":"3.64115738"},"WINUSDT":{"baseVolume":"22270.00000000","high24hr":"0.00010000","highestBid":"0.00006118","id":"1591948440720","last":"0.00010000","low24hr":"0.00009990","lowestAsk":"0.00010000","percentChange":"0.00100100","quoteVolume":"2.22700000"},"XQCUSDT":{"baseVolume":"1834595.85680000","high24hr":"0.02110000","highestBid":"0.01430000","id":"1591948440778","last":"0.01240000","low24hr":"0.01090000","lowestAsk":"0.02020000","percentChange":"-0.41509433","quoteVolume":"33364.40858857"},"SNTBTC":{"baseVolume":"112167.38030000","high24hr":"0.00000290","highestBid":"0.00000275","id":"1591948440351","last":"0.00000277","low24hr":"0.00000266","lowestAsk":"0.00000278","percentChange":"-0.04810996","quoteVolume":"0.31123744"},"DOGEUSDT":{"baseVolume":"9109081.88390000","high24hr":"0.00257970","highestBid":"0.00249220","id":"1591948440027","last":"0.00249020","low24hr":"0.00240170","lowestAsk":"0.00249410","percentChange":"-0.03536703","quoteVolume":"22573.00942427"},"SOLOUSDT":{"baseVolume":"57453.49000000","high24hr":"0.27980000","highestBid":"0.20050000","id":"1591948440159","last":"0.24430000","low24hr":"0.18620000","lowestAsk":"0.24000000","percentChange":"0.31203007","quoteVolume":"15625.66742200"},"DCNUSDT":{"baseVolume":"3961914673.00000000","high24hr":"0.00000658","highestBid":"0.00000527","id":"1591948440171","last":"0.00000574","low24hr":"0.00000525","lowestAsk":"0.00000577","percentChange":"-0.00519930","quoteVolume":"23040.70891677"},"ETH3SUSDT":{"baseVolume":"36046.10000000","high24hr":"1.01600000","highestBid":"0.89500000","id":"1591948478816","last":"0.89600000","low24hr":"0.81000000","lowestAsk":"0.89900000","percentChange":"0.10891089","quoteVolume":"32794.40700000"},"ADABTC":{"baseVolume":"884072.36374628","high24hr":"0.00000859","highestBid":"0.00000845","id":"1591948481664","last":"0.00000846","low24hr":"0.00000800","lowestAsk":"0.00000847","percentChange":"-0.00118063","quoteVolume":"7.29303342"},"XBASEBTC":{"baseVolume":"10840039.00000000","high24hr":"0.00000014","highestBid":"0.00000004","id":"1591948441855","last":"0.00000014","low24hr":"0.00000014","lowestAsk":"0.00000030","percentChange":"0.00000000","quoteVolume":"1.51760546"},"WICCUSDT":{"baseVolume":"389625.99780089","high24hr":"0.21090000","highestBid":"0.18300000","id":"1591948473550","last":"0.18310000","low24hr":"0.17450000","lowestAsk":"0.18340000","percentChange":"-0.12726406","quoteVolume":"73230.66268830"},"BCGBTC":{"baseVolume":"0.00000000","high24hr":"0.00000025","highestBid":"0.00000021","id":"1591948440407","last":"0.00000025","low24hr":"0.00000025","lowestAsk":"0.00000024","percentChange":"0.00000000","quoteVolume":"0.00000000"},"BTMETH":{"baseVolume":"52976.85046000","high24hr":"0.00030488","highestBid":"0.00029590","id":"1591948477043","last":"0.00029586","low24hr":"0.00029054","lowestAsk":"0.00029604","percentChange":"-0.02301621","quoteVolume":"15.73194324"},"XLMUSDT":{"baseVolume":"3097049.67472400","high24hr":"0.07823700","highestBid":"0.07363000","id":"1591948447302","last":"0.07357600","low24hr":"0.06884600","lowestAsk":"0.07373800","percentChange":"-0.06097965","quoteVolume":"226652.06358578"},"BTC3LUSDT":{"baseVolume":"423.17532085","high24hr":"3385.70000000","highestBid":"2941.10000000","id":"1591948469347","last":"2941.60000000","low24hr":"2665.20000000","lowestAsk":"2951.80000000","percentChange":"-0.13507791","quoteVolume":"1278725.13268999"},"ETCBTC":{"baseVolume":"21614.92161917","high24hr":"0.00069200","highestBid":"0.00068000","id":"1591948440047","last":"0.00068100","low24hr":"0.00065900","lowestAsk":"0.00068200","percentChange":"-0.01017441","quoteVolume":"14.61352942"},"CNEXBTC":{"baseVolume":"36217.00000000","high24hr":"0.00000367","highestBid":"0.00000318","id":"1591948440702","last":"0.00000367","low24hr":"0.00000305","lowestAsk":"0.00000367","percentChange":"0.09880239","quoteVolume":"0.11575139"},"OMGBTC":{"baseVolume":"6344.61320748","high24hr":"0.00016805","highestBid":"0.00016495","id":"1591948440199","last":"0.00016581","low24hr":"0.00016019","lowestAsk":"0.00016604","percentChange":"0.00235763","quoteVolume":"1.04780414"},"DASHUSDT":{"baseVolume":"5994.50870000","high24hr":"78.42000000","highestBid":"73.50000000","id":"1591948440793","last":"73.53000000","low24hr":"71.22000000","lowestAsk":"73.58000000","percentChange":"-0.05536998","quoteVolume":"447185.00512500"},"BURNETH":{"baseVolume":"356975173.00000000","high24hr":"0.00000068","highestBid":"0.00000038","id":"1591948481900","last":"0.00000040","low24hr":"0.00000039","lowestAsk":"0.00000054","percentChange":"-0.11111111","quoteVolume":"172.62324899"},"ADNUSDT":{"baseVolume":"2385117174.00000000","high24hr":"0.00019674","highestBid":"0.00015551","id":"1591948441702","last":"0.00017118","low24hr":"0.00015558","lowestAsk":"0.00018700","percentChange":"-0.05717118","quoteVolume":"420484.23626130"},"CTXCETH":{"baseVolume":"15778.77000000","high24hr":"0.00048579","highestBid":"0.00011556","id":"1591948440155","last":"0.00043629","low24hr":"0.00042289","lowestAsk":"0.00161999","percentChange":"-0.07467656","quoteVolume":"7.12219988"},"FTNUSDT":{"baseVolume":"551307.00000000","high24hr":"0.01399895","highestBid":"0.01300010","id":"1591948441711","last":"0.01396723","low24hr":"0.01300020","lowestAsk":"0.01400000","percentChange":"0.06828187","quoteVolume":"7507.68370606"},"ILCBTC":{"baseVolume":"983784.66666666","high24hr":"0.00000307","highestBid":"0.00000280","id":"1591948453607","last":"0.00000292","low24hr":"0.00000205","lowestAsk":"0.00000303","percentChange":"0.20164609","quoteVolume":"2.78160229"},"ZRXBTC":{"baseVolume":"84585.46158500","high24hr":"0.00004103","highestBid":"0.00003972","id":"1591948481377","last":"0.00003974","low24hr":"0.00003548","lowestAsk":"0.00003977","percentChange":"0.03167185","quoteVolume":"3.24408531"},"GUBIUSDT":{"baseVolume":"0.00000000","high24hr":"0.00002700","highestBid":"0.00001700","id":"1591948440263","last":"0.00002700","low24hr":"0.00002700","lowestAsk":"0.00043800","percentChange":"0.00000000","quoteVolume":"0.00000000"},"IHTBTC":{"baseVolume":"1037874.00000000","high24hr":"0.00000014","highestBid":"0.00000009","id":"1591948440518","last":"0.00000013","low24hr":"0.00000008","lowestAsk":"0.00000015","percentChange":"0.00000000","quoteVolume":"0.11366303"},"OCNBTC":{"baseVolume":"78886367.00000000","high24hr":"0.00000003","highestBid":"0.00000002","id":"1591948481391","last":"0.00000003","low24hr":"0.00000003","lowestAsk":"0.00000004","percentChange":"0.00000000","quoteVolume":"2.36659101"},"TRXBTC":{"baseVolume":"1093992.00000000","high24hr":"0.00000186","highestBid":"0.00000165","id":"1591948440682","last":"0.00000166","low24hr":"0.00000161","lowestAsk":"0.00000198","percentChange":"-0.06214689","quoteVolume":"1.86430853"},"TCTUSDT":{"baseVolume":"201235.60000000","high24hr":"2.17899700","highestBid":"2.17048000","id":"1591948444157","last":"2.17304400","low24hr":"2.17048300","lowestAsk":"2.17900000","percentChange":"-0.00065900","quoteVolume":"437582.58317066"},"PZMBTC":{"baseVolume":"0.00000000","high24hr":"0.00000509","highestBid":"0.00000110","id":"1591948440027","last":"0.00000509","low24hr":"0.00000509","lowestAsk":"0.00000510","percentChange":"0.00000000","quoteVolume":"0.00000000"},"AFCBTC":{"baseVolume":"86000.00000000","high24hr":"0.00000011","highestBid":"0.00000010","id":"1591948440357","last":"0.00000011","low24hr":"0.00000011","lowestAsk":"0.00000011","percentChange":"0.00000000","quoteVolume":"0.00946000"},"PZMUSDT":{"baseVolume":"0.00000000","high24hr":"0.04380000","highestBid":"0.0","id":"1591948440831","last":"0.04380000","low24hr":"0.04380000","lowestAsk":"0.04200000","percentChange":"0.00000000","quoteVolume":"0.00000000"},"MESUSDT":{"baseVolume":"15826307.00000000","high24hr":"0.00003800","highestBid":"0.00001110","id":"1591948440790","last":"0.00003800","low24hr":"0.00003800","lowestAsk":"0.00003810","percentChange":"0.00000000","quoteVolume":"601.39966600"},"BAXUSDT":{"baseVolume":"267041445.00000000","high24hr":"0.00015400","highestBid":"0.00014100","id":"1591948480333","last":"0.00014400","low24hr":"0.00014100","lowestAsk":"0.00015000","percentChange":"0.00699300","quoteVolume":"38382.42961400"},"LTCUSDT":{"baseVolume":"78402.89673039","high24hr":"46.38000000","highestBid":"44.16000000","id":"1591948476656","last":"44.19000000","low24hr":"42.14000000","lowestAsk":"44.18000000","percentChange":"-0.04721862","quoteVolume":"3486531.01224892"},"RAKUUSDT":{"baseVolume":"60923753.04900000","high24hr":"0.00683700","highestBid":"0.00671200","id":"1591948466740","last":"0.00675400","low24hr":"0.00671300","lowestAsk":"0.00680600","percentChange":"-0.01213982","quoteVolume":"411998.50682640"},"BNOXUSDT":{"baseVolume":"135475.97420000","high24hr":"0.55420000","highestBid":"0.54030000","id":"1591948467690","last":"0.54730000","low24hr":"0.53700000","lowestAsk":"0.55600000","percentChange":"0.00829034","quoteVolume":"73887.62222702"},"ADKBTC":{"baseVolume":"66228.20660000","high24hr":"0.00008375","highestBid":"0.00006001","id":"1591948477958","last":"0.00007484","low24hr":"0.00006000","lowestAsk":"0.00008999","percentChange":"0.02450376","quoteVolume":"5.18454611"},"ETHBTC":{"baseVolume":"3849.27926314","high24hr":"0.02514800","highestBid":"0.02498200","id":"1591948455851","last":"0.02498300","low24hr":"0.02465300","lowestAsk":"0.02499200","percentChange":"-0.00545382","quoteVolume":"95.97124048"},"PTTUSDT":{"baseVolume":"41653046.00000000","high24hr":"0.00006400","highestBid":"0.00004000","id":"1591948440163","last":"0.00005800","low24hr":"0.00004400","lowestAsk":"0.00005600","percentChange":"-0.01694915","quoteVolume":"2411.35652600"},"MANDIUSDT":{"baseVolume":"1329612.72000000","high24hr":"0.07270000","highestBid":"0.06810000","id":"1591948440777","last":"0.06870000","low24hr":"0.06170000","lowestAsk":"0.07280000","percentChange":"0.05692307","quoteVolume":"91555.67307400"},"BSTBTC":{"baseVolume":"0.00000000","high24hr":"0.00009000","highestBid":"0.00000238","id":"1591948440528","last":"0.00009000","low24hr":"0.00009000","lowestAsk":"0.00008238","percentChange":"0.00000000","quoteVolume":"0.00000000"},"GTOBITCNY":{"baseVolume":"0.00000000","high24hr":"0.03695100","highestBid":"0.03500300","id":"1591948440151","last":"0.03695100","low24hr":"0.03695100","lowestAsk":"0.13100000","percentChange":"0.00000000","quoteVolume":"0.00000000"},"TCOCUSDT":{"baseVolume":"37036410.00000000","high24hr":"0.00000822","highestBid":"0.00000550","id":"1591948457001","last":"0.00000734","low24hr":"0.00000512","lowestAsk":"0.00000823","percentChange":"0.40882917","quoteVolume":"231.49875391"},"GTNBTC":{"baseVolume":"0.00000000","high24hr":"0.00006450","highestBid":"0.00002255","id":"1591948440705","last":"0.00006450","low24hr":"0.00006450","lowestAsk":"0.00005000","percentChange":"0.00000000","quoteVolume":"0.00000000"},"UDOONEWUSDT":{"baseVolume":"3854164.68067226","high24hr":"0.00604700","highestBid":"0.00415100","id":"1591948464397","last":"0.00570400","low24hr":"0.00417900","lowestAsk":"0.00595000","percentChange":"0.12239275","quoteVolume":"20623.13760599"},"TAVITTBTC":{"baseVolume":"342951.14000000","high24hr":"0.00001539","highestBid":"0.00001511","id":"1591948440519","last":"0.00001521","low24hr":"0.00001512","lowestAsk":"0.00001540","percentChange":"-0.00847457","quoteVolume":"5.21690216"},"GBCBTC":{"baseVolume":"0.00000000","high24hr":"0.00000777","highestBid":"0.00000102","id":"1591948440716","last":"0.00000777","low24hr":"0.00000777","lowestAsk":"0.00000850","percentChange":"0.00000000","quoteVolume":"0.00000000"},"MMUSDT":{"baseVolume":"25394016.00000000","high24hr":"0.00072000","highestBid":"0.00071500","id":"1591948442208","last":"0.00071800","low24hr":"0.00071600","lowestAsk":"0.00072100","percentChange":"0.00279329","quoteVolume":"18221.81987800"},"GOSETH":{"baseVolume":"1519522.60000000","high24hr":"0.00104898","highestBid":"0.00090000","id":"1591948440030","last":"0.00102064","low24hr":"0.00090000","lowestAsk":"0.00104999","percentChange":"0.00666745","quoteVolume":"1454.18513388"},"MESETH":{"baseVolume":"19847310.00000000","high24hr":"0.00000021","highestBid":"0.00000006","id":"1591948440154","last":"0.00000021","low24hr":"0.00000021","lowestAsk":"0.00000022","percentChange":"0.00000000","quoteVolume":"4.16793510"},"BRZEBTC":{"baseVolume":"228275.65000000","high24hr":"0.00004487","highestBid":"0.00004200","id":"1591948440608","last":"0.00004434","low24hr":"0.00004375","lowestAsk":"0.00004434","percentChange":"-0.01466666","quoteVolume":"10.17026449"},"CROBTC":{"baseVolume":"11762400.30000000","high24hr":"0.00001169","highestBid":"0.00001135","id":"1591948473711","last":"0.00001148","low24hr":"0.00001091","lowestAsk":"0.00001155","percentChange":"-0.01712328","quoteVolume":"134.94429633"},"N8VBTC":{"baseVolume":"310523.53000000","high24hr":"0.00000395","highestBid":"0.00000300","id":"1591948440284","last":"0.00000380","low24hr":"0.00000287","lowestAsk":"0.00000396","percentChange":"0.21019108","quoteVolume":"1.00805055"},"UDOOETH":{"baseVolume":"3017899.00000000","high24hr":"0.00002596","highestBid":"0.00002004","id":"1591948440203","last":"0.00002335","low24hr":"0.00001878","lowestAsk":"0.00002596","percentChange":"0.09470229","quoteVolume":"66.70643965"},"EOSBTC":{"baseVolume":"120827.18086116","high24hr":"0.00027986","highestBid":"0.00027278","id":"1591948480003","last":"0.00027290","low24hr":"0.00026693","lowestAsk":"0.00027293","percentChange":"-0.02228432","quoteVolume":"32.98546403"},"BCHABCBTC":{"baseVolume":"740.30052560","high24hr":"0.02602362","highestBid":"0.02537238","id":"1591948440919","last":"0.02537840","low24hr":"0.02519028","lowestAsk":"0.02538861","percentChange":"-0.02240256","quoteVolume":"18.94018708"},"CPCETH":{"baseVolume":"8659563.00000000","high24hr":"0.00001449","highestBid":"0.00001255","id":"1591948480588","last":"0.00001402","low24hr":"0.00001257","lowestAsk":"0.00001450","percentChange":"0.11624203","quoteVolume":"116.13265732"},"ICXBTC":{"baseVolume":"24659.55737880","high24hr":"0.00003688","highestBid":"0.00003509","id":"1591948440716","last":"0.00003515","low24hr":"0.00003423","lowestAsk":"0.00003519","percentChange":"-0.03777716","quoteVolume":"0.87159034"},"GOMUSDT":{"baseVolume":"3796336.86000000","high24hr":"0.11050000","highestBid":"0.10000000","id":"1591948440674","last":"0.10500000","low24hr":"0.10000000","lowestAsk":"0.11060000","percentChange":"-0.00379506","quoteVolume":"398093.31938800"},"SPRKLBTC":{"baseVolume":"1418909.65000000","high24hr":"0.00001378","highestBid":"0.00001360","id":"1591948440791","last":"0.00001367","low24hr":"0.00001361","lowestAsk":"0.00001379","percentChange":"0.00367107","quoteVolume":"19.39186684"},"ZECUSDT":{"baseVolume":"28757.81950000","high24hr":"54.07000000","highestBid":"51.62000000","id":"1591948477068","last":"51.64000000","low24hr":"48.35000000","lowestAsk":"51.65000000","percentChange":"-0.05369250","quoteVolume":"1476105.26409600"},"EDRETH":{"baseVolume":"0.00000000","high24hr":"0.00000366","highestBid":"0.00000112","id":"1591948440478","last":"0.00000366","low24hr":"0.00000366","lowestAsk":"0.00013950","percentChange":"0.00000000","quoteVolume":"0.00000000"},"NZOETH":{"baseVolume":"0.00000000","high24hr":"0.00005711","highestBid":"0.00001150","id":"1591948440131","last":"0.00005711","low24hr":"0.00005711","lowestAsk":"0.00100000","percentChange":"0.00000000","quoteVolume":"0.00000000"},"MOGXETH":{"baseVolume":"446641.40000000","high24hr":"0.00021411","highestBid":"0.00014787","id":"1591948459188","last":"0.00019830","low24hr":"0.00011885","lowestAsk":"0.00021412","percentChange":"-0.02146558","quoteVolume":"89.79257025"},"PXGETH":{"baseVolume":"0.00000000","high24hr":"0.00000241","highestBid":"0.00000002","id":"1591948440229","last":"0.00000241","low24hr":"0.00000241","lowestAsk":"0.00000220","percentChange":"0.00000000","quoteVolume":"0.00000000"},"STORJBTC":{"baseVolume":"17556.90016494","high24hr":"0.00001659","highestBid":"0.00001549","id":"1591948440363","last":"0.00001551","low24hr":"0.00001505","lowestAsk":"0.00001557","percentChange":"-0.05369127","quoteVolume":"0.27754452"},"SWACEBTC":{"baseVolume":"0.00000000","high24hr":"0.00000012","highestBid":"0.00000006","id":"1591948440702","last":"0.00000012","low24hr":"0.00000012","lowestAsk":"0.00000050","percentChange":"0.00000000","quoteVolume":"0.00000000"},"NEOBTC":{"baseVolume":"5028.38495589","high24hr":"0.00120900","highestBid":"0.00117400","id":"1591948440288","last":"0.00117500","low24hr":"0.00113500","lowestAsk":"0.00117700","percentChange":"-0.01755852","quoteVolume":"5.86739176"},"XAGXRP":{"baseVolume":"134.00000000","high24hr":"0.23000000","highestBid":"0.16430000","id":"1591948440289","last":"0.22999900","low24hr":"0.22999900","lowestAsk":"0.22999900","percentChange":"-0.00000434","quoteVolume":"30.81986600"},"XYZUSDT":{"baseVolume":"126971220.00000000","high24hr":"0.00061966","highestBid":"0.00058000","id":"1591948440739","last":"0.00059486","low24hr":"0.00058006","lowestAsk":"0.00062000","percentChange":"-0.00201322","quoteVolume":"75776.20027600"},"CPCUSDT":{"baseVolume":"1421581.00000000","high24hr":"0.00329600","highestBid":"0.00282700","id":"1591948472606","last":"0.00318200","low24hr":"0.00282800","lowestAsk":"0.00329700","percentChange":"0.06421404","quoteVolume":"4322.13531500"},"BAXETH":{"baseVolume":"245848329.00000000","high24hr":"0.00000068","highestBid":"0.00000049","id":"1591948440372","last":"0.00000051","low24hr":"0.00000043","lowestAsk":"0.00000068","percentChange":"0.15909090","quoteVolume":"121.44022763"},"VINBTC":{"baseVolume":"12781465.00000000","high24hr":"0.00000049","highestBid":"0.00000029","id":"1591948479890","last":"0.00000041","low24hr":"0.00000029","lowestAsk":"0.00000050","percentChange":"0.10810810","quoteVolume":"4.76440993"},"WINTRX":{"baseVolume":"0.00000000","high24hr":"0.00501800","highestBid":"0.00150000","id":"1591948440964","last":"0.00501800","low24hr":"0.00501800","lowestAsk":"0.00921500","percentChange":"0.00000000","quoteVolume":"0.00000000"},"ODINUSDT":{"baseVolume":"1028502.60000000","high24hr":"0.15880000","highestBid":"0.04104000","id":"1591948440609","last":"0.04114300","low24hr":"0.02000100","lowestAsk":"0.11000000","percentChange":"-0.29205382","quoteVolume":"67260.64502845"},"BCHSVBTC":{"baseVolume":"753.73346898","high24hr":"0.01978776","highestBid":"0.01932520","id":"1591948440595","last":"0.01932848","low24hr":"0.01932712","lowestAsk":"0.01933980","percentChange":"-0.01219041","quoteVolume":"14.70732367"},"FTNBTC":{"baseVolume":"4023364.92000000","high24hr":"0.00000145","highestBid":"0.00000135","id":"1591948440845","last":"0.00000141","low24hr":"0.00000136","lowestAsk":"0.00000154","percentChange":"0.02173913","quoteVolume":"5.55262621"},"BXKBTC":{"baseVolume":"1224614.20000000","high24hr":"0.00001934","highestBid":"0.00001910","id":"1591948464137","last":"0.00001913","low24hr":"0.00001910","lowestAsk":"0.00001935","percentChange":"-0.00312662","quoteVolume":"23.51654128"},"DBTUSDT":{"baseVolume":"18551899.00000000","high24hr":"0.00519800","highestBid":"0.00480000","id":"1591948440482","last":"0.00515800","low24hr":"0.00480100","lowestAsk":"0.00520000","percentChange":"0.05848553","quoteVolume":"93017.70020900"},"EPCUSDT":{"baseVolume":"1232191.15000000","high24hr":"0.18999900","highestBid":"0.18151600","id":"1591948453372","last":"0.18189300","low24hr":"0.17260000","lowestAsk":"0.18200000","percentChange":"0.03394117","quoteVolume":"224210.63956059"},"USDTBITCNY":{"baseVolume":"111395.56000000","high24hr":"7.11210000","highestBid":"7.00000000","id":"1591948440074","last":"7.01530000","low24hr":"6.99170000","lowestAsk":"7.11210000","percentChange":"0.00177069","quoteVolume":"785515.14795200"},"QRLBTC":{"baseVolume":"1837890.58000000","high24hr":"0.00001073","highestBid":"0.00000818","id":"1591948440607","last":"0.00001012","low24hr":"0.00000811","lowestAsk":"0.00001074","percentChange":"0.16859122","quoteVolume":"17.21229421"},"ISIKCUSDT":{"baseVolume":"507955.42000000","high24hr":"0.61810000","highestBid":"0.61720000","id":"1591948474245","last":"0.61790000","low24hr":"0.61580000","lowestAsk":"0.61820000","percentChange":"0.00000000","quoteVolume":"313161.12605800"},"HYTETH":{"baseVolume":"0.00000000","high24hr":"0.00000858","highestBid":"0.00000200","id":"1591948440427","last":"0.00000858","low24hr":"0.00000858","lowestAsk":"0.00000800","percentChange":"0.00000000","quoteVolume":"0.00000000"},"ULTETH":{"baseVolume":"10024681.00000000","high24hr":"0.00006919","highestBid":"0.00006000","id":"1591948455162","last":"0.00006799","low24hr":"0.00006000","lowestAsk":"0.00006923","percentChange":"-0.00161527","quoteVolume":"669.42302020"},"CSETH":{"baseVolume":"1135605.03000000","high24hr":"0.00021486","highestBid":"0.00012801","id":"1591948470732","last":"0.00018815","low24hr":"0.00012831","lowestAsk":"0.00021500","percentChange":"-0.08797867","quoteVolume":"197.32717711"},"GKCBITCNY":{"baseVolume":"0.00000000","high24hr":"58.00000000","highestBid":"25.68640000","id":"1591948440832","last":"25.68610000","low24hr":"25.68610000","lowestAsk":"58.00000000","percentChange":"-0.55713620","quoteVolume":"0.00000000"},"XRPUSDT":{"baseVolume":"22812926.90000000","high24hr":"0.20159000","highestBid":"0.19314000","id":"1591948481906","last":"0.19321000","low24hr":"0.18475000","lowestAsk":"0.19322000","percentChange":"-0.04247199","quoteVolume":"4412005.79294600"},"DOTUSDT":{"baseVolume":"4607.51300000","high24hr":"119.99000000","highestBid":"119.56000000","id":"1591948440920","last":"119.77000000","low24hr":"117.13000000","lowestAsk":"120.00000000","percentChange":"0.01871225","quoteVolume":"545146.39613000"},"BKBTBTC":{"baseVolume":"970139.00000000","high24hr":"0.00000006","highestBid":"0.00000004","id":"1591948440849","last":"0.00000006","low24hr":"0.00000005","lowestAsk":"0.00000007","percentChange":"0.00000000","quoteVolume":"0.05398630"},"CVCOINBTC":{"baseVolume":"0.00000000","high24hr":"0.00000788","highestBid":"0.00000205","id":"1591948440850","last":"0.00000788","low24hr":"0.00000788","lowestAsk":"0.00000800","percentChange":"0.00000000","quoteVolume":"0.00000000"},"IHTETH":{"baseVolume":"999187.00000000","high24hr":"0.00000647","highestBid":"0.00000200","id":"1591948440228","last":"0.00000637","low24hr":"0.00000168","lowestAsk":"0.00000650","percentChange":"0.78932584","quoteVolume":"3.85076597"},"TCHBTC":{"baseVolume":"153107492.96810000","high24hr":"0.00000072","highestBid":"0.00000069","id":"1591948447524","last":"0.00000071","low24hr":"0.00000065","lowestAsk":"0.00000072","percentChange":"0.05970149","quoteVolume":"104.07551878"},"MMBTC":{"baseVolume":"28748153.00000000","high24hr":"0.00000009","highestBid":"0.00000007","id":"1591948471833","last":"0.00000008","low24hr":"0.00000008","lowestAsk":"0.00000010","percentChange":"-0.11111111","quoteVolume":"2.31035545"},"NASHETH":{"baseVolume":"0.00000000","high24hr":"0.00000010","highestBid":"0.00000010","id":"1591948440519","last":"0.00000010","low24hr":"0.00000010","lowestAsk":"0.00000016","percentChange":"0.00000000","quoteVolume":"0.00000000"},"LTCBTC":{"baseVolume":"13681.82932120","high24
[...]
