---
http_interactions:
- request:
    method: get
    uri: https://api.cointiger.pro/exchange/trading/api/market/history/trade?size=200&symbol=ethbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Via-Jsl:
      - cb634c7,-
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"trade_data":[{"id":3556416,"side":"BUY","price":0.07928156,"vol":0.90200000,"amount":0.07151196,"ts":1529486363000,"ds":"2018-06-20
        17:19:23"},{"id":3556415,"side":"BUY","price":0.07923213,"vol":0.31600000,"amount":0.02503735,"ts":1529486356000,"ds":"2018-06-20
        17:19:16"},{"id":3556414,"side":"BUY","price":0.07923851,"vol":0.33500000,"amount":0.02654490,"ts":1529486352000,"ds":"2018-06-20
        17:19:12"},{"id":3556413,"side":"BUY","price":0.07928523,"vol":0.67800000,"amount":0.05375538,"ts":1529486347000,"ds":"2018-06-20
        17:19:07"},{"id":3556412,"side":"BUY","price":0.07928615,"vol":2.5[...]
