---
http_interactions:
- request:
    method: get
    uri: https://api.cointiger.com/exchange/trading/api/market/depth/v2?symbol=ethbtc&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"symbol":"ethbtc","depth_data":{"tick":{"buys":[["0.021893",44.845],["0.021883",53.5880000000000000],["0.021873",65.0470000000000000],["0.021863",74.972],["0.021853",97.654],["0.021843",63.4980000000000000],["0.021833",4.725],["0.021823",51.296],["0.021813",20.6],["0.021803",7.045],["0.021793",7.335],["0.021773",1.282],["0.021763",0.71],["0.021753",1.668],["0.021743",29.142],["0.021733",23.508],["0.021723",0.619],["0.021713",0.0100000000000000],["0.021703",26.252],["0.021693",20.751],["0.021683",3.797],["0.021673",0.4],["0.021663",16.479],["[...]
