---
http_interactions:
- request:
    method: get
    uri: https://api.eosex.com/exchange/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '298'
    body:
      encoding: ASCII-8BIT
      string: '{"code":1,"msg":[{"MarketId":2002,"Name":"EOSETH","Symbol":"EOS\/ETH","Updated":1549876740,"LastPrice":"0.02277700","Low":"0.02218000","High":"0.02333500","Open":"0.02295900","Close":"0.02277700","BaseVolume":"341.98801792","BaseVolumeBuy":"203.71535141","BaseVolumeSell":"138.27266651"},{"MarketId":2004,"Name":"ONEETH","Symbol":"ONE\/ETH","Updated":1549876740,"LastPrice":"0.00008934","Low":"0.00008934","High":"0.00008934","Open":"0.00008934","Close":"0.00008934","BaseVolume":"0.00000000","BaseVolumeBuy":"0.00000000","BaseVolumeSell":"0.00000000"},{"MarketId":2020,"Name":"XLMXETH","Symbol":"XLMX\/ETH","Updated":1549876740,"LastPrice":"0.00000100","Low":"0.00000100","High":"0.00000100","Open":"0.00000100","Close":"0.00000100","BaseVolume":"0.00000000","BaseVolumeB[...]
