---
http_interactions:
- request:
    method: get
    uri: https://europe1.coindeal.com/api/v1/markets/list
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"coin":"ETH\/BTC","name":"Ethereum\/Bitcoin","quoteCurrency":"BTC","baseCurrency":"ETH","lastPre24TransactionPrice":"0.03114628","isCrypto":1,"balance":"0.00000000","change":"0.6","lastPrice":"0.03134375","spread":"0.00000000","volume":"26565.60921450","volumeBtc":"830.60100207","volumeBtcSort":"830.6010020737445220"},{"coin":"BTC\/USD","name":"Bitcoin\/US
        Dollar","quoteCurrency":"USD","baseCurrency":"BTC","lastPre24TransactionPrice":"6542.38000000","isCrypto":1,"balance":"0.00000000","change":"0.3","lastPrice":"6561.03","spread":"0.00","volume":"488.50818467","volumeBtc":"488.50818467","volumeBtcSort":"488.50818467"},{"coin":"BTC\/GBP","name":"Bitcoin\/British
        Pound","quoteCurrency":"GBP","baseCurrency":"BTC","lastPre24TransactionPrice":"5133.23000000","isCrypto":1,"ba[...]
