---
http_interactions:
- request:
    method: get
    uri: https://www.cryptobulls.exchange/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22f7-Cd7i3jtfji8WtgGgtfVvBVqeJEY"
    body:
      encoding: UTF-8
      string: '[{"cbxe_bchsv":{"price_change_24h":0.72,"last_price":20.6746114,"lowest_ask":20.6746114,"highest_bid":20.6746114,"volume":{"btc_trade":11619.131,"fee_collected":232.38261999999997}},"cbxe_eth":{"price_change_24h":-1.29,"last_price":19.59277205,"lowest_ask":19.59277205,"highest_bid":19.59277205,"volume":{"btc_trade":3996.925,"fee_collected":79.9385}},"cbxe_gcg":{"price_change_24h":9.75,"last_price":0.0009,"lowest_ask":0.00082,"highest_bid":0.0019995,"volume":{"btc_trade":425.809,"fee_collected":8.51618}},"btc_eth":{"price_change_24h":-0.51,"last_price":0.0345761,"lowest_ask":0.0345761,"highest_bid":0.03519549,"volume":{"btc_trade":302.127,"fee_collected":6.04254}},"cbxe_bchabc":{"price_change_24h":0,"last_price":20.6746114,"lowest_ask":20.6746114,"highest_bid":20.6746114,"volume":{"btc_trade":124.047,"fee_collected":2.48094}},"btc_trx":{"price_change_24h":-0.57,"last_price":0.00000699,"lowest_ask":0.00000675,"highest_bid":0.00000748,"volume":{"btc_trade":69.432,"fee_collected":1.38864}},"btc_dash":{"price_change_24h":0.65,"last_price":0.0198811,"lowest_ask":0.0195331,"highest_bid":0.0201568,"volume":{"btc_trade":61.813,"fee_collected":1.2362600000000001}},"btc_eng":{"price_change_24h":-9.04,"last_price":0.00008095,"lowest_ask":0.00008054,"highest_bid":0.00008735,"volume":{"btc_trade":48.953,"fee_collected":0.97906}},"btc_fun":{"price_change_24h":-2.56,"last_price":0.00000114,"lowest_ask":0.00000114,"highest_bid":0.00000117,"volume":{"btc_trade":46.039,"fee_collected":0.92078}},"btc_rep":{"price_change_24h":5.33,"last_price":0.002565,"lowest_ask":0.00256,"highest_bid":0.002565,"volume":{"btc_trade":45.769,"fee_collected":0.91538}},"btc_wtc":{"price_change_24h":-6.3,"last_price":0.00029,"lowest_ask":0.00029,"highest_bid":0.0003095,"volume":{"btc_trade":45.526,"fee_collected":0.9105200000000001}},"btc_elf":{"price_change_24h":-2.84,"last_price":0.000029,"lowest_ask":0.00002875,"highest_bid":0.00003005,"volume":{"btc_trade":45.373,"fee_collected":0.9074599999999999}},"btc_bnb":{"price_change_24h":4.07,"last_price":0.001671,"lowest_ask":0.0016395,"highest_bid":0.001671,"volume":{"btc_trade":44.869,"fee_collected":0.89738}},"btc_mkr":{"price_change_24h":-1.65,"last_price":0.119,"lowest_ask":0.119,"highest_bid":0.121,"volume":{"btc_trade":44.523,"fee_collected":0.89046}},"btc_dgd":{"price_change_24h":-3.21,"last_price":0.004815,"lowest_ask":0.004815,"highest_bid":0.004975,"volume":{"btc_trade":44.092,"fee_collected":0.88184}},"btc_cmt":{"price_change_24h":-2.23,"last_price":0.0000063,"lowest_ask":0.0000063,"highest_bid":0.0000067,"volume":{"btc_trade":43.748,"fee_collected":0.87496}},"btc_gnt":{"price_change_24h":-2.22,"last_price":0.00001755,"lowest_ask":0.00001755,"highest_bid":0.00001795,"volume":{"btc_trade":43.09,"fee_collected":0.8618000000000001}},"btc_theta":{"price_change_24h":-3.9,"last_price":0.0000123,"lowest_ask":0.0000123,"highest_bid":0.00001286,"volume":{"btc_trade":42.986,"fee_collected":0.8597199999999999}},"btc_knc":{"price_change_24h":-4.19,"last_price":0.0000388,"lowest_ask":0.00003795,"highest_bid":0.0000405,"volume":{"btc_trade":42.522,"fee_collected":0.85044}},"btc_loom":{"price_change_24h":-4.39,"last_price":0.00001175,"lowest_ask":0.00001152,"highest_bid":0.00001205,"volume":{"btc_trade":42.399,"fee_collected":0.8479800000000001}},"btc_qash":{"price_change_24h":-3.85,"last_price":0.0000262,"lowest_ask":0.0000262,"highest_bid":0.00002725,"volume":{"btc_trade":40.889,"fee_collected":0.8177800000000001}},"btc_aion":{"price_change_24h":-6.41,"last_price":0.0000365,"lowest_ask":0.0000365,"highest_bid":0.00007777,"volume":{"btc_trade":40.757,"fee_collected":0.81514}},"btc_ethos":{"price_change_24h":-0.16,"last_price":0.00002855,"lowest_ask":0.00002855,"highest_bid":0.00003035,"volume":{"btc_trade":40.465,"fee_collected":0.8093}},"btc_bchsv":{"price_change_24h":-0.08,"last_price":0.021561,"lowest_ask":0.021561,"highest_bid":0.021917,"volume":{"btc_trade":40.053,"fee_collected":0.80106}},"btc_bchabc":{"price_change_24h":-0.18,"last_price":0.0395,"lowest_ask":0.0394,"highest_bid":0.039902,"volume":{"btc_trade":38.708,"fee_collected":0.77416}},"btc_bnt":{"price_change_24h":-1.52,"last_price":0.0001574,"lowest_ask":0.0001574,"highest_bid":0.00016015,"volume":{"btc_trade":35.264,"fee_collected":0.70528}},"btc_rlc":{"price_change_24h":-2.85,"last_price":0.000051,"lowest_ask":0.000051,"highest_bid":0.0000515,"volume":{"btc_trade":34.074,"fee_collected":0.68148}},"btc_xrp":{"price_change_24h":-1.2,"last_price":0.00009037,"lowest_ask":0.00009005,"highest_bid":0.00009127,"volume":{"btc_trade":26.862,"fee_collected":0.5372399999999999}},"btc_ltc":{"price_change_24h":-1.82,"last_price":0.00899,"lowest_ask":0.0089289,"highest_bid":0.009177,"volume":{"btc_trade":15.852,"fee_collected":0.31704}},"btc_ont":{"price_change_24h":-2.76,"last_price":0.0001731,"lowest_ask":0.0001616,"highest_bid":0.0001731,"volume":{"btc_trade":13.209,"fee_collected":0.26417999999999997}},"btc_tusd":{"price_change_24h":10.66,"last_price":0.00027567,"lowest_ask":0.00026487,"highest_bid":0.00027587,"volume":{"btc_trade":12.394,"fee_collected":0.24788}},"cbxe_ltc":{"price_change_24h":-1.63,"last_price":5.07777202,"lowest_ask":5.07777202,"highest_bid":5.07777202,"volume":{"btc_trade":10.155,"fee_collected":0.20309999999999997}},"btc_gcg":{"price_change_24h":4.1,"last_price":0.00000152,"lowest_ask":0.00000148,"highest_bid":0.00000185,"volume":{"btc_trade":9.096,"fee_collected":0.18192}},"btc_cbxe":{"price_change_24h":-9.72,"last_price":0.0013,"lowest_ask":0.00080001,"highest_bid":0.001441,"volume":{"btc_trade":8.224,"fee_collected":0.16448000000000002}},"btc_ae":{"price_change_24h":2.79,"last_price":0.00010325,"lowest_ask":0.00010044,"highest_bid":0.00010441,"volume":{"btc_trade":1.685,"fee_collected":0.0337}},"btc_ppt":{"price_change_24h":0.51,"last_price":0.0003524,"lowest_ask":0.0003496,"highest_bid":0.0003558,"volume":{"btc_trade":1.146,"fee_collected":0.02292}},"btc_omg":{"price_change_24h":-1.04,"last_price":0.0003502,"lowest_ask":0.0003491,"highest_bid":0.000353,"volume":{"btc_trade":0.675,"fee_collected":0.013500000000000002}},"cbxe_xrp":{"price_change_24h":16.88,"last_price":0.055379,"lowest_ask":0.04737824,"highest_bid":0.055379,"volume":{"btc_trade":0.395,"fee_collected":0.0079}},"btc_poly":{"price_change_24h":-5.46,"last_price":0.0000327,"lowest_ask":0.0000321,"highest_bid":0.00003457,"volume":{"btc_trade":0.366,"fee_collected":0.00732}},"btc_lrc":{"price_change_24h":0.61,"last_price":0.00001138,"lowest_ask":0.00001105,"highest_bid":0.00001144,"volume":{"btc_trade":0.267,"fee_collected":0.00534}},"btc_iost":{"price_change_24h":-4.26,"last_price":0.00000157,"lowest_ask":0.00000156,"highest_bid":0.00000162,"volume":{"btc_trade":0.21,"fee_collected":0.0042}},"btc_zrx":{"price_change_24h":0.12,"last_price":0.0000777,"lowest_ask":0.00007681,"highest_bid":0.0000783,"volume":{"btc_trade":0.183,"fee_collected":0.00366}},"btc_storm":{"price_change_24h":6.25,"last_price":8.5e-7,"lowest_ask":8.5e-7,"highest_bid":8.5e-7,"volume":{"btc_trade":0.175,"fee_collected":0.0034999999999999996}},"btc_fxp":{"price_change_24h":-13.33,"last_price":1.3e-7,"lowest_ask":1.3e-7,"highest_bid":1.7e-7,"volume":{"btc_trade":0.159,"fee_collected":0.00318}},"btc_myci":{"price_change_24h":-1.31,"last_price":0.000007,"lowest_ask":0.000007,"highest_bid":0.0000075,"volume":{"btc_trade":0.149,"fee_collected":0.00298}},"btc_zil":{"price_change_24h":-0.33,"last_price":0.00000601,"lowest_ask":0.00000594,"highest_bid":0.00000621,"volume":{"btc_trade":0.13,"fee_collected":0.0026}},"btc_nuls":{"price_change_24h":3.16,"last_price":0.00011099,"lowest_ask":0.0001018,"highest_bid":0.00011099,"volume":{"btc_trade":0.118,"fee_collected":0.0023599999999999997}},"btc_lmy":{"price_change_24h":-55.17,"last_price":1.3e-7,"lowest_ask":1.3e-7,"highest_bid":3e-7,"volume":{"btc_trade":0.065,"fee_collected":0.0013}},"btc_mgc":{"price_change_24h":3.22,"last_price":3.5e-7,"lowest_ask":3.1e-7,"highest_bid":3.5e-7,"volume":{"btc_trade":0.059,"fee_collected":0.0011799999999999998}},"btc_pbc":{"price_change_24h":-79.33,"last_price":9.9e-7,"lowest_ask":9.5e-7,"highest_bid":0.00000155,"volume":{"btc_trade":0.032,"fee_collected":0.00064}},"btc_bat":{"price_change_24h":-2.56,"last_price":0.00003425,"lowest_ask":0.00003425,"highest_bid":0.00003425,"volume":{"btc_trade":0.018,"fee_collected":0.00035999999999999997}},"btc_snt":{"price_change_24h":17.52,"last_price":0.0000057,"lowest_ask":0.0000057,"highest_bid":0.0000057,"volume":{"btc_trade":0.003,"fee_collected":0.00006}},"btc_cryp":{"price_change_24h":-4.25,"last_price":4.5e-7,"lowest_ask":0,"highest_bid":0,"volume":{"btc_trade":0,"fee_collected":0}},"btc_dentacoin":{"price_change_24h":25,"last_price":5e-8,"lowest_ask":0,"highest_bid":0,"volume":{"btc_trade":0,"fee_collected":0}},"btc_zpay":{"price_change_24h":34.28,"last_price":9.4e-7,"lowest_ask":9.4e-7,"highest_bid":9.4e-7,"volume":{"btc_trade":0,"fee_collected":0}}}]'
  recorded_at: Sat, 12 Jan 2019 02:17:37 GMT
recorded_with: VCR 4.0.0
