---
http_interactions:
- request:
    method: get
    uri: https://exmarkets.com/api/trade/v1/market/order-book?market=eth-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"amount":"5.41300000","price":"0.03697600"},{"amount":"10.00000000","price":"0.03697800"},{"amount":"0.02000000","price":"0.03697900"},{"amount":"69.75400000","price":"0.03698000"},{"amount":"2.00700000","price":"0.03698400"},{"amount":"15.32400000","price":"0.03698500"},{"amount":"27.07400000","price":"0.03698600"},{"amount":"1.79000000","price":"0.03698700"},{"amount":"27.05300000","price":"0.03698900"},{"amount":"0.65200000","price":"0.03699000"}],"bids":[{"amount":"0.55000000","price":"0.03697300"},{"amount":"13.51900000","price":"0.03697100"},{"amount":"4.43100000","price":"0.03696900"},{"amount":"10.00000000","price":"0.03696800"},{"amount":"10.00000000","price":"0.03696400"},{"amount":"0.02000000","price":"0.03695400"},{"amount":"2.00000000","price":"0.03694300"},{"amount":"0.02000000","price":"0.03694200"},{"amount":"190.83700000","price":"0.03694000"},{"amount":"0.54100000","price":"0.03693600"}]}'
  recorded_at: Tue, 19 Feb 2019 18:30:26 GMT
recorded_with: VCR 4.0.0
