---
http_interactions:
- request:
    method: get
    uri: https://exmarkets.com/api/trade/v1/transactions?limit=50&market=eth-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"transactions":[{"id":6882902,"amount":"0.02000000","price":"0.03697500","side":"SELL","timestamp":1550601015},{"id":6882900,"amount":"-0.02000000","price":"0.03697200","side":"BUY","timestamp":1550600995},{"id":6882896,"amount":"0.93900000","price":"0.03697800","side":"SELL","timestamp":1550600972},{"id":6882866,"amount":"-0.02000000","price":"0.03694200","side":"BUY","timestamp":1550600855},{"id":6882852,"amount":"-0.48000000","price":"0.03697600","side":"BUY","timestamp":1550600802},{"id":6882850,"amount":"-0.02000000","price":"0.03697700","side":"BUY","timestamp":1550600802},{"id":6882846[...]
