---
http_interactions:
- request:
    method: get
    uri: https://exmarkets.com/api/trade/v1/market/ticker/eth-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"last":"0.03697500","high":"0.03792600","low":"0.03660600","volume":"637.80500000","bid":"0.03697300","ask":"0.03697600"}'
  recorded_at: Tue, 19 Feb 2019 18:30:26 GMT
recorded_with: VCR 4.0.0
