---
http_interactions:
- request:
    method: get
    uri: https://api.velic.io/api/v1/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"base_coin":"BTC","match_coin":"QTUM","yesterday_last_price":"0.000381","recent_price":"0.000381","price_changed_volume":"0","price_changed_rate":"0.00","volume_by_basecoin_currency":"0.109824","volume_by_matchcoin_currency":"288","high_price":"0.000382","low_price":"0.000381","opening_price":"0.000381"},{"base_coin":"USDT","match_coin":"USDC","yesterday_last_price":"0.9988","recent_price":"0.9988","price_changed_volume":"0","price_changed_rate":"0.00","volume_by_basecoin_currency":"0","volume_by_matchcoin_currency":"0","high_price":"0","low_price":"0","opening_price":"0"},{"base_coin":"XRP","match_coin":"XLM","yesterday_last_price":"0.3062","recent_price":"0.3079","price_changed_volume":"0.0017","price_changed_rate":"0.56","volume_by_basecoin_currency":"21240.8285","volume_by_matchc[...]
