---
http_interactions:
- request:
    method: get
    uri: https://api.velic.io/api/v1/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"baseCoin":"XRP","mtchCoin":"BCH","lastPrice":"1038","recPrice":"1046","priceChng":"8","chngRate":"0.77","baseCurrcyVol":"3959.9","matchCurrcyVol":"3.8","highPrice":"1046","lowPrice":"1038","bgnPrice":"1038"},{"baseCoin":"BTC","mtchCoin":"VELT","lastPrice":"0.00000035","recPrice":"0.00000045","priceChng":"0.0000001","chngRate":"28.57","baseCurrcyVol":"0.2562155","matchCurrcyVol":"580484","highPrice":"0.00000045","lowPrice":"0.00000043","bgnPrice":"0.00000043"},{"baseCoin":"XRP","mtchCoin":"LTC","lastPrice":"229.8","recPrice":"229.6","priceChng":"-0.2","chngRate":"-0.09","baseCurrcyVol":"11254","matchCurrcyVol":"49","highPrice":"229.9","lowPrice":"229.3","bgnPrice":"229.6"},{"baseCoin":"ICX","[...]
