---
http_interactions:
- request:
    method: get
    uri: https://api.velic.io/api/v1/public/orderbook?base_coin=BTC&match_coin=BCH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sell_list":[{"type":"SELL","price":"0.05441","amount":"0.123"},{"type":"SELL","price":"0.05949","amount":"0.111"},{"type":"SELL","price":"0.05682","amount":"0.066"},{"type":"SELL","price":"0.05406","amount":"0.147"},{"type":"SELL","price":"0.05945","amount":"0.046"},{"type":"SELL","price":"0.05448","amount":"0.172"},{"type":"SELL","price":"0.05497","amount":"0.087"},{"type":"SELL","price":"0.05474","amount":"0.066"},{"type":"SELL","price":"0.0547","amount":"0.051"},{"type":"SELL","price":"0.06089","amount":"0.037"},{"type":"SELL","price":"0.05451",[...]
