---
http_interactions:
- request:
    method: get
    uri: https://www.bitc3.com/public/iqtexQuote
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=ISO-8859-1
    body:
      encoding: ISO-8859-1
      string: '{"ETH/BTC":{"id":36,"latest":0.0251,"open":0.0251,"high24hr":0.0251,"low24hr":0.0251,"percentChange":0.0,"baseVolume":0.0525,"quoteVolume":0.00131775},"LTC/BTC":{"id":37,"latest":0.01068,"open":0.01068,"high24hr":0.01068,"low24hr":0.01068,"percentChange":0.0,"baseVolume":0.12289,"quoteVolume":0.00131247},"EOS/BTC":{"id":41,"latest":3.2E-4,"open":3.2E-4,"high24hr":3.2E-4,"low24hr":3.2E-4,"percentChange":0.0,"baseVolume":20.0,"quoteVolume":0.0064},"BTC/USDT":{"id":52,"latest":3340.0,"open":3340.0,"high24hr":3340.0,"low24hr":3340.0,"percentChange":0.0,"baseVolume":5.0E-4,"quoteVolume":1.67},"ETH/USDT":{"id":100,"latest":112.1,"open":1[...]
