---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/ticker?product_code=BTC_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"product_code":"BTC_JPY","timestamp":"2017-10-03T04:04:10.75","tick_id":5671258,"best_bid":495917.0,"best_ask":496019.0,"best_bid_size":0.7111,"best_ask_size":1.08989001,"total_bid_depth":4713.91212645,"total_ask_depth":2608.78520934,"ltp":496019.0,"volume":109592.54297206,"volume_by_product":13224.56948182}'
  recorded_at: Tue, 03 Oct 2017 04:04:10 GMT
recorded_with: VCR 3.0.3
