---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/board?product_code=BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"mid_price":866182.0,"bids":[{"price":865510.0,"size":0.3},{"price":865507.0,"size":4.25},{"price":865503.0,"size":0.43551519},{"price":865502.0,"size":0.50000013},{"price":865300.0,"size":0.1},{"price":865146.0,"size":0.43},{"price":865132.0,"size":0.1},{"price":865099.0,"size":0.05},{"price":865000.0,"size":0.3},{"price":864469.0,"size":0.1},{"price":864363.0,"size":0.1295},{"price":864263.0,"size":0.5},{"price":864225.0,"size":2.0},{"price":864059.0,"size":0.2},{"price":864000.0,"size":4.0},{"price":863883.0,"size":0.854},{"price":863199.0,"size[...]
