---
http_interactions:
- request:
    method: get
    uri: https://api.gdax.com/products/btc-usd/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c-Zd/UNZcY+ocJvF/tDD/SkKhe77I"
    body:
      encoding: UTF-8
      string: '{"trade_id":21554152,"price":"4417.01000000","size":"0.00000225","bid":"4417","ask":"4417.01","volume":"7878.23402368","time":"2017-10-03T04:00:31.887000Z"}'
  recorded_at: Tue, 03 Oct 2017 04:00:34 GMT
recorded_with: VCR 3.0.3
