---
http_interactions:
- request:
    method: get
    uri: https://api.gdax.com/products/btc-usd/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cb-After:
      - '42122484'
      Cb-Before:
      - '42122583'
      Etag:
      - W/"2c5c-73qLU62B15PK8FgP3GorJlfHdfE"
    body:
      encoding: UTF-8
      string: '[{"time":"2018-04-23T06:43:21.866Z","trade_id":42122583,"price":"8871.99000000","size":"0.62313026","side":"sell"},{"time":"2018-04-23T06:43:21.866Z","trade_id":42122582,"price":"8871.00000000","size":"0.00133000","side":"sell"},{"time":"2018-04-23T06:43:21.866Z","trade_id":42122581,"price":"8871.00000000","size":"0.61227607","side":"sell"},{"time":"2018-04-23T06:43:21.554Z","trade_id":42122580,"price":"8871.00000000","size":"0.88772393","side":"sell"},{"time":"2018-04-23T06:43:21.554Z","trade_id":42122579,"price":"8871.00000000","size":"0.00100000","side":"sell"},{"time":"2018-04-23T06:43:21.554Z","[...]
