---
http_interactions:
- request:
    method: get
    uri: https://api.gdax.com/products/btc-usd/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cb-After:
      - '41547323'
      Cb-Before:
      - '41547422'
      Etag:
      - W/"2c7d-6SxmICfYDAPMXNw+Vfym+2dIGLo"
    body:
      encoding: UTF-8
      string: '[{"time":"2018-04-13T08:36:34.742Z","trade_id":41547422,"price":"8110.03000000","size":"0.06420418","side":"sell"},{"time":"2018-04-13T08:36:30.197Z","trade_id":41547421,"price":"8110.02000000","size":"0.00102000","side":"buy"},{"time":"2018-04-13T08:36:29.866Z","trade_id":41547420,"price":"8110.02000000","size":"0.00133000","side":"buy"},{"time":"2018-04-13T08:36:29.83Z","trade_id":41547419,"price":"8110.02000000","size":"0.15813406","side":"buy"},{"time":"2018-04-13T08:36:24.901Z","trade_id":41547418,"price":"8110.02000000","size":"0.38610000","side":"buy"},{"time":"2018-04-13T08:36:12.622Z","trade[...]
