---
http_interactions:
- request:
    method: get
    uri: https://api.gdax.com/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66a-Du6kpS0yNTVMoPdoHoJV3Y4lqXU"
    body:
      encoding: UTF-8
      string: '[{"id":"LTC-EUR","base_currency":"LTC","quote_currency":"EUR","base_min_size":"0.01","base_max_size":"1000000","quote_increment":"0.01","display_name":"LTC/EUR","margin_enabled":false},{"id":"LTC-BTC","base_currency":"LTC","quote_currency":"BTC","base_min_size":"0.01","base_max_size":"1000000","quote_increment":"0.00001","display_name":"LTC/BTC","margin_enabled":false},{"id":"LTC-USD","base_currency":"LTC","quote_currency":"USD","base_min_size":"0.01","base_max_size":"1000000","quote_increment":"0.01","display_name":"LTC/USD","margin_enabled":false},{"id":"ETH-USD","base_currency":"ETH","quote_currency":"USD","base_min_size":"0.01","base_max_size":"5000","quote_increment":"0.01","display_name":"ETH/USD","margin_enabled":false},{"id":"ETH-EUR","base_currency":"ETH","quote_currency":"EUR","base_min_size":"0.01","base_max_size":"5000","quote_increment":"0.01","display_name":"ETH/EUR","margin_enabled":false},{"id":"ETH-BTC","base_currency":"ETH","quote_currency":"BTC","base_min_size":"0.01","base_max_size":"5000","quote_increment":"0.00001","display_name":"ETH/BTC","margin_enabled":false},{"id":"BTC-USD","base_currency":"BTC","quote_currency":"USD","base_min_size":"0.01","base_max_size":"250","quote_increment":"0.01","display_name":"BTC/USD","margin_enabled":false},{"id":"BTC-EUR","base_currency":"BTC","quote_currency":"EUR","base_min_size":"0.01","base_max_size":"250","quote_increment":"0.01","display_name":"BTC/EUR","margin_enabled":false},{"id":"BTC-GBP","base_currency":"BTC","quote_currency":"GBP","base_min_size":"0.01","base_max_size":"250","quote_increment":"0.01","display_name":"BTC/GBP","margin_enabled":false}]'
  recorded_at: Tue, 03 Oct 2017 04:00:33 GMT
recorded_with: VCR 3.0.3
