---
http_interactions:
- request:
    method: get
    uri: http://api.coinbene.com/v1/market/trades?size=2000&symbol=ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - exchange-openapi:prod:8601
    body:
      encoding: UTF-8
      string: '{"symbol":"ETHBTC","trades":[{"price":"0.030926","quantity":"6.02","time":1559108348000,"take":"sell","tradeId":"201905291339079930075681201905291339079920048912"},{"price":"0.030926","quantity":"6.81","time":1559108348000,"take":"sell","tradeId":"201905291339079930075681201905291339079930065702"},{"price":"0.030926","quantity":"5.11","time":1559108348000,"take":"sell","tradeId":"201905291339079920038901201905291339079920018882"},{"price":"0.030926","quantity":"5.79","time":1559108348000,"take":"sell","tradeId":"201905291339079920038901201905291339079930055692"},{"price":"0.030922","quantity":"2.2","time"[...]
