---
http_interactions:
- request:
    method: get
    uri: http://api.coinbene.com/v1/market/ticker?symbol=all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - exchange-openapi:prod:8601
    body:
      encoding: UTF-8
      string: '{"ticker":[{"symbol":"ABTETH","24hrHigh":"0.00179","last":"0.001790","24hrVol":"0","ask":"--","24hrLow":"0.00179","bid":"--","24hrAmt":"0"},{"symbol":"ABTUSDT","24hrHigh":"0.8901","last":"0.8901","24hrVol":"0","ask":"--","24hrLow":"0.8901","bid":"--","24hrAmt":"0"},{"symbol":"ADDETH","24hrHigh":"0.000178","last":"0.000176","24hrVol":"28919.91","ask":"--","24hrLow":"0.000115","bid":"--","24hrAmt":"4.92245312"},{"symbol":"ADIETH","24hrHigh":"0.000051","last":"0.000051","24hrVol":"1091249.45","ask":"--","24hrLow":"0.000036","bid":"--","24hrAmt":"45.87334963"},{"symbol":"AEUSDT","24hrHigh":"3.38","last":"3.04","24hrV[...]
