---
http_interactions:
- request:
    method: get
    uri: http://api.coinbene.com/v1/market/trades?symbol=ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - exchange-openapi:prod:8601
    body:
      encoding: UTF-8
      string: '{"symbol":"ETHBTC","trades":[{"price":"0.077999","quantity":"0.4263","time":1527114787000,"take":"sell","tradeId":"201805241425176360026591201805241433078360018582"},{"price":"0.078074","quantity":"0.8804","time":1527114787000,"take":"sell","tradeId":"201805241429066470014141201805241433078360018582"},{"price":"0.078283","quantity":"2.8754","time":1527114666000,"take":"sell","tradeId":"201805241430449240019761201805241431067340010882"},{"price":"0.078283","quantity":"0.1596","time":1527114666000,"take":"sell","tradeId":"201805241429499760016641201805241431067340010882"},{"price":"0.078283","quantity":"0.308[...]
