---
http_interactions:
- request:
    method: get
    uri: http://api.coinbene.com/v1/market/orderbook?symbol=ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - exchange-openapi:prod:8601
    body:
      encoding: UTF-8
      string: '{"symbol":"ETHBTC","orderbook":null,"status":"ok","timestamp":1527115773358}'
  recorded_at: Thu, 24 May 2018 06:49:33 GMT
recorded_with: VCR 4.0.0
