---
http_interactions:
- request:
    method: get
    uri: http://api.coinbene.com/v1/market/orderbook?depth=500&symbol=ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - exchange-openapi:prod:8601
    body:
      encoding: UTF-8
      string: '{"symbol":"ETHBTC","orderbook":{"bids":[{"quantity":1.04,"price":0.029942},{"quantity":4.13,"price":0.029911},{"quantity":0.51,"price":0.029885},{"quantity":4.41,"price":0.029834},{"quantity":3.75,"price":0.029833},{"quantity":0.51,"price":0.029793},{"quantity":4.11,"price":0.029756},{"quantity":0.48,"price":0.029702},{"quantity":2.54,"price":0.029679},{"quantity":0.47,"price":0.029611},{"quantity":3.92,"price":0.029602},{"quantity":12,"price":0.029527},{"quantity":4.16,"price":0.029526},{"quantity":0.47,"price":0.029522},{"quantity":4.08,"price":0.029449},{"[...]
