---
http_interactions:
- request:
    method: get
    uri: https://ginero.io/api/market/BTCVND/orderbook
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |2-

        {"buy":[{"id":"9e88b963-bfaa-11e8-8780-02fdafad1b0b","tradable_amount":2000000,"amount":2000000,"min_amount":2000000,"price":15407348837},{"id":"2d2ad7c0-be0b-11e8-8780-02fdafad1b0b","tradable_amount":100000000,"amount":100000000,"min_amount":10000000,"price":15099201860}],"sell":[{"id":"1999fdc8-ae06-11e8-87c7-02fdafad1b0b","tradable_amount":9955000,"amount":9955000,"min_amount":9955000,"price":16250000000}]}
  recorded_at: Mon, 24 Sep 2018 13:11:14 GMT
recorded_with: VCR 4.0.0
