---
http_interactions:
- request:
    method: get
    uri: https://ginero.io/api/market/summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |2-

        {"BTCVND":{"last":14775611162,"high":0,"low":0,"vwap":0,"volume":0,"bid":15343046511,"ask":16250000000,"timestamp":1537792481,"open":0},"ETHVND":{"last":1100000000,"high":0,"low":0,"vwap":0,"volume":0,"bid":0,"ask":547117209,"timestamp":1537792481,"open":0},"BCHVND":{"last":0,"high":0,"low":0,"vwap":0,"volume":0,"bid":1091000000,"ask":0,"timestamp":1537792481,"open":0},"LTCVND":{"last":0,"high":0,"low":0,"vwap":0,"volume":0,"bid":134790697,"ask":136326511,"timestamp":1537792481,"open":0},"DASHVND":{"last":446441860,"high":0,"low":0,"vwap":0,"volume":0,"bid":480000000,"ask":455302325,"timestamp":1537792481,"open":0},"GINVND":{"last":99000,"high":0,"low":0,"vwap":0,"volume":0,"bid":33500,"ask":100000,"timestamp":1537792481,"open":0}}
  recorded_at: Mon, 24 Sep 2018 12:34:41 GMT
recorded_with: VCR 4.0.0
