---
http_interactions:
- request:
    method: get
    uri: https://ore.bz/api/v2/order_book.json?market=gbcusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"72c53387b278d18b84be7383df6eae52"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":23255,"side":"sell","ord_type":"limit","price":"0.0021","avg_price":"0.0021","state":"wait","market":"gbcusd","created_at":"2017-08-23T18:29:39+03:00","volume":"5064.855424","remaining_volume":"1182.712554","executed_volume":"3882.14287","trades_count":1},{"id":74721,"side":"sell","ord_type":"limit","price":"0.0024","avg_price":"0.0","state":"wait","market":"gbcusd","created_at":"2018-04-13T20:47:08+03:00","volume":"312.6244","remaining_volume":"312.6244","executed_volume":"0.0","trades_count":0},{"id":74386,"side":"sell","ord_type":"limit","price":"0.00259","avg_price":"0.0","state":"wait","market":"gbcusd","created_at":"2018-04-08T14:35:43+03:00","volume":"1930.50193","remaining_volume":"1930.50193","executed_volume":"0.0","trades_count":0},[...]
