---
http_interactions:
- request:
    method: get
    uri: https://ore.bz/api/v2/trades.json?market=gbcusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"3d2794ef3ca824ee04c3ba0570054072"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":23841,"price":"0.00215","volume":"45116.279069","funds":"96.99999999835","market":"gbcusd","created_at":"2018-04-14T18:21:04+03:00","side":null},{"id":23840,"price":"0.00212","volume":"4894.171885","funds":"10.3756443962","market":"gbcusd","created_at":"2018-04-14T15:32:06+03:00","side":null},{"id":23839,"price":"0.00212","volume":"89445.450756","funds":"189.62435560272","market":"gbcusd","created_at":"2018-04-14T15:31:53+03:00","side":null},{"id":23838,"price":"0.0021","volume":"313.0","funds":"0.6573","market":"gbcusd","created_at":"2018-04-13T20:03:33+03:00","side":null},{"id":23835,"price":"0.00251","volume":"9163.346613","fund[...]
