---
http_interactions:
- request:
    method: get
    uri: https://ore.bz/api/v2/tickers/gbcusd.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"9f710b9372a61e008dcfc3612702a234"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1523771729,"ticker":{"buy":"0.0021","sell":"0.0024","low":"0.0021","high":"0.00215","last":"0.00215","vol":"139455.90171"}}'
  recorded_at: Sun, 15 Apr 2018 05:55:29 GMT
recorded_with: VCR 4.0.0
