---
http_interactions:
- request:
    method: get
    uri: https://api.gemini.com/v1/book/BTCUSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"bids":[{"price":"4407.81","amount":"26.05471971","timestamp":"1507003497"},{"price":"4406.81","amount":"1.121","timestamp":"1507003497"},{"price":"4405.81","amount":"1.123","timestamp":"1507003497"},{"price":"4405.08","amount":"2.5","timestamp":"1507003497"},{"price":"4404.81","amount":"1.125","timestamp":"1507003497"},{"price":"4403.81","amount":"1.129","timestamp":"1507003497"},{"price":"4403.41","amount":"0.0001883","timestamp":"1507003497"},{"price":"4403.22","amount":"0.36015234","timestamp":"1507003497"},{"price":"4402.81","amount":"1.128","timestam[...]
