---
http_interactions:
- request:
    method: get
    uri: https://api.gemini.com/v1/trades/BTCUSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"timestamp":1507050166,"timestampms":1507050166815,"tid":1863690584,"price":"4280.01","amount":"0.01909","exchange":"gemini","type":"buy"},{"timestamp":1507050139,"timestampms":1507050139769,"tid":1863687538,"price":"4280.01","amount":"0.00466","exchange":"gemini","type":"buy"},{"timestamp":1507050118,"timestampms":1507050118992,"tid":1863685320,"price":"4280.00","amount":"0.39658927","exchange":"gemini","type":"sell"},{"timestamp":1507050115,"timestampms":1507050115862,"tid":1863685022,"price":"4280.01","amount":"0.03504664","exchange":"gemini","type":"buy"},{"timestamp":1507050111,"timestampms":1507050111415,"tid":18636845[...]
