---
http_interactions:
- request:
    method: get
    uri: https://api.gemini.com/v1/pubticker/BTCUSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"bid":"4407.81","ask":"4407.82","volume":{"BTC":"4835.1549187912","USD":"21292243.803004461798","timestamp":1507003200000},"last":"4407.82"}'
  recorded_at: Tue, 03 Oct 2017 04:04:56 GMT
recorded_with: VCR 3.0.3
