---
http_interactions:
- request:
    method: get
    uri: https://api.independentreserve.com/Public/GetOrderBook?primaryCurrencyCode=eth&secondaryCurrencyCode=aud
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BuyOrders":[{"OrderType":"LimitBid","Price":264.09,"Volume":87.0},{"OrderType":"LimitBid","Price":264.08,"Volume":22.88},{"OrderType":"LimitBid","Price":263.8,"Volume":13.73620000},{"OrderType":"LimitBid","Price":263.37,"Volume":15.15552394},{"OrderType":"LimitBid","Price":262.79,"Volume":1.65},{"OrderType":"LimitBid","Price":262.78,"Volume":10.04},{"OrderType":"LimitBid","Price":262.76,"Volume":15.15552394},{"OrderType":"LimitBid","Price":262.72,"Volume":15.0},{"OrderType":"LimitBid","Price":262.71,"Volume":231.38},{"OrderType":"LimitBid","Price":261.08[...]
