---
http_interactions:
- request:
    method: get
    uri: https://api.quadrigacx.com/v2/ticker?book=BTC_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"high":"4400.00","last":"4400.00","timestamp":"1507003544","volume":"81.74953606","vwap":"4408.44887866","low":"4400.00","ask":"4400.00","bid":"4399.99"}'
  recorded_at: Tue, 03 Oct 2017 04:05:45 GMT
recorded_with: VCR 3.0.3
