---
http_interactions:
- request:
    method: get
    uri: https://paymium.com/api/v1/data/eur/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1a8944f2b336da3ed2ba9918840364b4"
      X-Ratelimit-Limit:
      - '86400'
      X-Ratelimit-Remaining:
      - '86349'
    body:
      encoding: UTF-8
      string: '[{"uuid":"c8d77130-4689-4360-986b-7633357e774b","traded_btc":0.00012705,"traded_currency":0.99994956,"created_at":"2018-02-26T01:03:44Z","currency":"EUR","side":"sell","price":7870.52,"created_at_int":1519607024},{"uuid":"9b5f50fa-ba21-4679-9169-f642c08cbec3","traded_btc":0.0025578,"traded_currency":20.1318555,"created_at":"2018-02-26T01:17:31Z","currency":"EUR","side":"buy","price":7870.77,"created_at_int":1519607851},{"uuid":"780a3346-831b-4079-9be4-29c624f716f4","traded_btc":0.05070763,"traded_currency":399.10809297,"created_at":"2018-02-26T01:34:08Z","currency":"EUR","side":"buy","price":7870.77,"created_at_int":1519608848},{"uuid":"a4b264be-0e8b-4ad8-9b59-2eb80b3b0093","traded_btc":0.000[...]
