---
http_interactions:
- request:
    method: get
    uri: https://paymium.com/api/v1/data/eur/depth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9e70a7e5bdefac871f423f32988ddd34"
      X-Ratelimit-Limit:
      - '86400'
      X-Ratelimit-Remaining:
      - '86350'
    body:
      encoding: UTF-8
      string: '{"bids":[{"timestamp":1517861684,"amount":40872.0,"price":0.01,"currency":"EUR"},{"timestamp":1515176727,"amount":666.6666666,"price":0.03,"currency":"EUR"},{"timestamp":1516186087,"amount":316.8,"price":0.1,"currency":"EUR"},{"timestamp":1516671905,"amount":72.0,"price":0.34,"currency":"EUR"},{"timestamp":1515177088,"amount":9.9,"price":1.01,"currency":"EUR"},{"timestamp":1513438009,"amount":21.0,"price":2.0,"currency":"EUR"},{"timestamp":1516671860,"amount":5.0,"price":3.13,"currency":"EUR"},{"timestamp":1513894456,"amount":80.0,"price":5.0,"currency":"EUR"},{"times[...]
