---
http_interactions:
- request:
    method: get
    uri: https://api.crex24.com/CryptoExchangeService/BotPublic/ReturnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"Error\": null,\r\n  \"Tickers\": [\r\n    {\r\n      \"PairId\":
        3,\r\n      \"PairName\": \"BTC_LTC\",\r\n      \"Last\": 0.016955030000000,\r\n
        \     \"LowPrice\": 0.015655040000000,\r\n      \"HighPrice\": 0.017410900000000,\r\n
        \     \"PercentChange\": 6.2438,\r\n      \"BaseVolume\": 6.5408771003976388000000000000,\r\n
        \     \"QuoteVolume\": 403.063900140000000,\r\n      \"VolumeInBtc\": 6.5408771003976388000000000000,\r\n
        \     \"VolumeInUsd\": 48037.055012424577501548508151\r\n    },\r\n    {\r\n
        \     \"PairId\": 6,\r\n      \"PairName\": \"BTC_DOGE\",\r\n      \"Last\":
        0.000000384000000,\r\n      \"LowPrice\": 0.000000370000000,\r\n      \"HighPrice\":
        0.000000395000000,\r\n      \"PercentChange\": -2.5381,\r\n      \"BaseVolume\":
        0.1197434060000000000000000000,\r\n      \"QuoteVolume\": 315102.000000000000000,\r\n
        \     \"VolumeInBtc\": 0.1197434060000000000000000000,\r\n      \"VolumeInUs[...]
