---
http_interactions:
- request:
    method: get
    uri: https://api.crex24.com/CryptoExchangeService/BotPublic/ReturnOrderBook?request=%5BPairName=BTC_DOGE%5D
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"Error\": null,\r\n  \"BuyOrders\": [\r\n    {\r\n      \"Id\":
        0,\r\n      \"PairName\": \"BTC_DOGE\",\r\n      \"IsSell\": false,\r\n      \"CoinPrice\":
        0.000000384000000,\r\n      \"CoinCount\": 1427.000000000000000,\r\n      \"AccumulateMoneyVolume\":
        0.000547968000,\r\n      \"AccumulateMoneyCount\": 1427.000000000000,\r\n
        \     \"IsCloseRequired\": false,\r\n      \"Type\": 0,\r\n      \"TypeProcessing\":
        0,\r\n      \"StopPrice\": 0.0\r\n    },\r\n    {\r\n      \"Id\": 0,\r\n
        \     \"PairName\": \"BTC_DOGE\",\r\n      \"IsSell\": false,\r\n      \"CoinPrice\":
        0.000000383000000,\r\n      \"CoinCount\": 5996.000000000000000,\r\n      \"AccumulateMoneyVolume\":
        0.002844436000,\r\n      \"AccumulateMoneyCount\": 7423.000000000000,\r\n
        \     \"IsCloseRequired\": false,\r\n      \"Type\": 0,\r\n      \"TypeProcessing\":
        0,\r\n      \"StopPrice\": 0.0\r\n    },\r\n    {\r\n      \"Id\":[...]
