---
http_interactions:
- request:
    method: get
    uri: https://api.crex24.com/CryptoExchangeService/BotPublic/ReturnTradeHistoryPub?request=%5BPairName=BTC_DOGE%5D%5BCount=1000%5D
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"Error\": null,\r\n  \"Trades\": [\r\n    {\r\n      \"Id\":
        2240990,\r\n      \"PairName\": \"BTC_DOGE\",\r\n      \"CoinCount\": 239.00000000,\r\n
        \     \"CoinPrice\": 0.000000395000000,\r\n      \"Commission\": 0.239000000000,\r\n
        \     \"DtCreateTS\": 1522392309,\r\n      \"IsSell\": false,\r\n      \"IsMaker\":
        false\r\n    },\r\n    {\r\n      \"Id\": 2240979,\r\n      \"PairName\":
        \"BTC_DOGE\",\r\n      \"CoinCount\": 2276.00000000,\r\n      \"CoinPrice\":
        0.000000395000000,\r\n      \"Commission\": 2.276000000000,\r\n      \"DtCreateTS\":
        1522391713,\r\n      \"IsSell\": false,\r\n      \"IsMaker\": false\r\n    },\r\n
        \   {\r\n      \"Id\": 2240823,\r\n      \"PairName\": \"BTC_DOGE\",\r\n      \"CoinCount\":
        242.00000000,\r\n      \"CoinPrice\": 0.[...]
