---
http_interactions:
- request:
    method: get
    uri: https://api.crex24.com/v2/public//recentTrades?instrument=DOGE-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"price\": 0.000000296,\r\n    \"volume\": 1178.66300116,\r\n
        \   \"side\": \"sell\",\r\n    \"timestamp\": \"2019-12-12T07:51:28Z\"\r\n
        \ },\r\n  {\r\n    \"price\": 0.000000296,\r\n    \"volume\": 1821.33699884,\r\n
        \   \"side\": \"sell\",\r\n    \"timestamp\": \"2019-12-12T07:51:28Z\"\r\n
        \ },\r\n  {\r\n    \"price\": 0.000000296,\r\n    \"volume\": 14.0,\r\n    \"side\":
        \"sell\",\r\n    \"timestamp\": \"2019-12-12T07:49:25Z\"\r\n  },\r\n  {\r\n
        \   \"price\": 0.000000297,\r\n    \"volume\": 1036.0,\r\n    \"side\": \"buy\",\r\n
        \   \"timestamp\": \[...]
