---
http_interactions:
- request:
    method: get
    uri: https://api.crex24.com/v2/public//tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"instrument\": \"2X2-BTC\",\r\n    \"last\": 0.00000062,\r\n
        \   \"percentChange\": -12.68,\r\n    \"low\": 0.0000005,\r\n    \"high\":
        0.00000069,\r\n    \"baseVolume\": 8504.95508486,\r\n    \"quoteVolume\":
        0.004520967613,\r\n    \"volumeInBtc\": 0.004520967613,\r\n    \"volumeInUsd\":
        33.333437103051,\r\n    \"ask\": 0.00000063,\r\n    \"bid\": 0.00000062,\r\n
        \   \"timestamp\": \"2019-12-12T07:52:48Z\"\r\n  },\r\n  {\r\n    \"instrument\":
        \"3DC-BTC\",\r\n    \"last\": 0.00000082,\r\n    \"percentChange\": 1.23,\r\n
        \   \"low\": 0.00000082,\r\n    \"high\": 0.00000112,\r\n    \"baseVolume\":
        17367.9686283,\r\n    \"quoteVolume\": 0.017066395703,\r\n    \"volumeInBtc\":
        0.017066395703,\r\n    \"volumeInUsd\": 125.950716357027,\r\n    \"ask\":
        0.00000091,\r\n    \"bid\": 0.00000082,\r\n    \"timestamp\": \"2019-12-12T07:52:48Z\"\r[...]
