---
http_interactions:
- request:
    method: get
    uri: https://vaultmex.com/v1/market/summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b86-4199418662"
      X-Iinfo:
      - 10-130422513-130422803 NNNN CT(24 26 0) RT(1539486757077 855) q(0 0 0 0) r(1
        1) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "market_id": 1,
            "code": "LTC",
            "exchange": "BTC",
            "last_price": "0.00879500",
            "yesterday_price": "0.00801540",
            "change": "9.73",
            "24hhigh": "0.00879500",
            "24hlow": "0.00879400",
            "24hvol": "1142.361",
            "top_bid": "0.00801540",
            "top_ask": "0.00879999"
          },
          {
            "market_id": 2,
            "code": "BCH",
            "exchange": "BTC",
            "last_price": "0.00000000",
            "yesterday_price": "0.00000000",
            "change": "0.00",
            "24hhigh": "0.00000000",
            "24hlow": "0.00000000",
            "24hvol": "0.000",
            "top_bid": "0.00000001",
            "top_ask": "0.00000000"
          },
          {
            "market_id": 5,
            "code": "DASH",
  [...]
