---
http_interactions:
- request:
    method: get
    uri: https://vaultmex.com/v1/market/orders/LTC/BTC/BUY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"627-2170286566"
      X-Iinfo:
      - 2-41418226-41418352 NNNN CT(0 0 0) RT(1539486759246 1020) q(0 0 0 0) r(1 1)
        U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |-
        {
          "count": 15,
          "type": "BUY",
          "orders": [
            {
              "price": "0.00801540",
              "amount": "100.00000000",
              "total": "0.80154000"
            },
            {
              "price": "0.00795000",
              "amount": "100.00000000",
              "total": "0.79500000"
            },
            {
              "price": "0.00755745",
              "amount": "10.00000000",
              "total": "0.07557450"
            },
            {
              "price": "0.00754540",
              "amount": "10.00000000",
              "total": "0.07545400"
            },
            {
              "price": "0.0070000[...]
- request:
    method: get
    uri: https://vaultmex.com/v1/market/orders/LTC/BTC/SELL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c00-4289003976"
      X-Iinfo:
      - 5-107236308-107236498 NNNN CT(0 0 0) RT(1539486761331 674) q(0 0 0 0) r(0
        0) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      s[...]
