---
http_interactions:
- request:
    method: get
    uri: https://vaultmex.com/v1/market/trades/LTC/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e65-2753602893"
      X-Iinfo:
      - 4-89909441-89909653 NNNN CT(0 0 0) RT(1539486762945 931) q(0 0 0 0) r(1 1)
        U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |-
        {
          "count": 100,
          "trades": [
            {
              "type": 0,
              "amount": "642.36148402",
              "price": "0.00879400",
              "total": "5.64892689",
              "time": "2018-10-13T09:25:54.000Z"
            },
            {
              "type": 0,
              "amount": "500.00000000",
              "price": "0.00879500",
              "total": "4.39750000",
              "time": "2018-10-13T09:25:54.000Z"
            },
            {
              "type": 1,
              "amount": "0.05000000",
              "price": "0.00801540",
              "total": "0.00040077",
              "time": "2018-10-12T19:19:34.000Z"
            },
            {
           [...]
