---
http_interactions:
- request:
    method: post
    uri: https://api.thegraph.com/subgraphs/name/blocklytics/curve
    body:
      encoding: UTF-8
      string: '{"query":"query Cryptoexchange__Exchanges__Curve__TheGraphClient__TokensQuery
        {\n  tokens {\n    id\n    symbol\n    name\n    decimals\n  }\n}","operationName":"Cryptoexchange__Exchanges__Curve__TheGraphClient__TokensQuery"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"tokens":[{"decimals":"18","id":"0x0000000000085d4780b73119b644ae5ecd22b376","name":"TrueUSD","symbol":"TUSD"},{"decimals":"18","id":"0x04bc0ab673d88ae9dbc9da2380cb6b79c4bca9ae","name":"iearn
        BUSD","symbol":"yBUSD"},{"decimals":"18","id":"0x16de59092dae5ccf4a1e6439d611fd0653f0bd01","name":"iearn
        DAI","symbol":"yDAI"},{"decimals":"8","id":"0x2260fac5e5542a773aa44fbcfedf7c193bc2c599","name":"Wrapped
        BTC","symbol":"WBTC"},{"decimals":"6","id":"0x26ea744e5b887e5205727f55dfbe8685e3b21951","name":"iearn
        USDC","symbol":"yUSDC"},{"decimals":"8","id":"0x39aa39c021dfbae8fac5[...]
- request:
    method: post
    uri: https://api.thegraph.com/subgraphs/name/blocklytics/curve
    body:
      encoding: UTF-8
      string: '{"query":"query Cryptoexchange__Exchanges__Curve__TheGraphClient__SwapsQuery($fromToken:
        String!, $toToken: String!, $range_timestamp: BigInt!) {\n  swaps(orderBy:
        timestamp, orderDirection: desc, where: {isUnderlyingSwap: false, fromToken:
        $fromToken, toToken: $toToken, timestamp_gte: $range_timestamp}) {\n    isUnderlyingSwap\n    fromToken
        {\n      symbol\n    }\n    fromTokenAmount\n    toToken {\n      symbol\n    }\n    toTokenAmount\n    underlyingPrice\n    timestamp\n  }\n}","variables":{"fromToken":"0x6b175474e89094c44da98b954eedeac495271d0f","toToken":"0xdac17f958d2ee523a2206206994597c13d831ec7","range_timestamp":1580688000},"operationName":"Cryptoexchange__Exchanges__Curve__TheGraphClient__SwapsQuery"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"swaps":[{"fromToken":{"symbol":"DAI"},"fromTokenAmount":"800000000000000000000","isUnderlyingSwap":false,"timestamp":"1591466059","toToken":{"symbol":"USDT"},"toTokenAmount":"802263093","underlyingPrice":"0.9971791136601618541612258860323767"},{"fromToken":{"symbol":"DAI"},"fromTokenAmount":"58242000000000000000000","isUnderlyingSwap":false,"timestamp":"1591457146","toToken":{"symbol":"USDT"},"toTokenAmount":"58407123723","underlyingPrice":"0.9971728838457597882284952318366708"},{"fromToken":{"symbol":"DAI"},"fromTokenAmount":"3000000000000000000","isUnderlyingSwap":false,"timestamp":"1591422510","toToken":{"symbol":"USDT"},"toTokenAmount":"3009633","underlyingPrice":"0.9967992775198836535883278[...]
[...]
