---
http_interactions:
- request:
    method: get
    uri: https://api.blocklytics.org/pools/v1/pairs?key=test_key&platform=Curve
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"exchange":"0xa5407eae9ba41422680e2e00537571bcc53efbfd","id":"0xa5407eae9ba41422680e2e00537571bcc53efbfd-0x6b175474e89094c44da98b954eedeac495271d0f-0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","pair":"DAI-USDC","platform":"Curve"},{"exchange":"0xa5407eae9ba41422680e2e00537571bcc53efbfd","id":"0xa5407eae9ba41422680e2e00537571bcc53efbfd-0x6b175474e89094c44da98b954eedeac495271d0f-0xdac17f958d2ee523a2206206994597c13d831ec7","pair":"DAI-USDT","platform":"Curve"},{"exchange":"0xa5407eae9ba41422680e2e00537571bcc53efbfd","id":"0xa5407eae9ba41422680e2e00537571bcc53efbfd-0x6b175474e89094c44da98b954eedeac495271d0f-0x57ab1ec28d129707052df4df418d58a2d46d5f51","pair":"DAI-sUSD","platform":"Curve"},{"exchange":"0xa5407eae9ba414[...]
