---
http_interactions:
- request:
    method: get
    uri: https://www.tidebit.com/api/v2/trades.json?limit=50&market=btchkd&order_by=desc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"ee116000fbd690e0689e11717921ebd2"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":224745,"price":"59200.0","volume":"0.079","funds":"4676.8","market":"btchkd","created_at":"2018-08-02T00:03:06+08:00","at":1533139386,"side":"up"},{"id":224744,"price":"59200.0","volume":"0.006","funds":"355.2","market":"btchkd","created_at":"2018-08-01T23:26:43+08:00","at":1533137203,"side":"up"},{"id":224742,"price":"59200.0","volume":"0.331","funds":"19595.2","market":"btchkd","created_at":"2018-08-01T21:53:42+08:00","at":1533131622,"side":"up"},{"id":224660,"price":"59200.0","volume":"0.379","funds":"22436.8","market":"btchkd","created_at":"2018-08-01T18:42:54+08:00","at":1533120174,"side":"up"},{"id":224626,"price":"59200.0","vo[...]
