---
http_interactions:
- request:
    method: get
    uri: https://www.tidebit.com/api/v2/markets.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"ad3e25d52d68ae9d5f9120bf98ec1d44"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"btchkd","name":"BTC/HKD","bid_fixed":2,"ask_fixed":3,"price_group_fixed":null},{"id":"ethhkd","name":"ETH/HKD","bid_fixed":2,"ask_fixed":3,"price_group_fixed":null},{"id":"btcusd","name":"BTC/USD","bid_fixed":2,"ask_fixed":3,"price_group_fixed":null},{"id":"bchhkx","name":"BCH/HKX","bid_fixed":2,"ask_fixed":4,"price_group_fixed":null},{"id":"ltchkx","name":"LTC/HKX","bid_fixed":2,"ask_fixed":4,"price_group_fixed":null},{"id":"etchkx","name":"ETC/HKX","bid_fixed":2,"ask_fixed":4,"price_group_fixed":null},{"id":"ethusd","name":"ETH/USD","bid_fixed":2,"ask_fixed":3,"pri[...]
