---
http_interactions:
- request:
    method: get
    uri: https://www.tidebit.com/api/v2/order_book.json?market=btchkd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"61d91f6e91f262db36088674d17626ed"
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":2341672,"side":"sell","ord_type":"limit","ask":"btc","kind":"ask","price":59200.0,"avg_price":59200.0,"state":"wait","market":"btchkd","created_at":"2018-08-01T10:08:42+08:00","volume":"3.831","remaining_volume":"2.036","executed_volume":"1.795","trades_count":5},{"id":2344239,"side":"sell","ord_type":"limit","ask":"btc","kind":"ask","price":59200.0,"avg_price":0.0,"state":"wait","market":"btchkd","created_at":"2018-08-01T18:33:23+08:00","volume":"0.1","remaining_volume":"0.1","executed_volume":"0.0","trades_count":0},{"id":2344700,"side":"sell","ord_type":"limit","ask":"btc","kind":"ask","price":59200.0,"avg_price":0.0,"state":"wait","market":"btchkd","created_at":"2018-08-01T23:58:29+08:00","volume":"0.011","remaining_volume":"0.011","executed_volum[...]
