---
http_interactions:
- request:
    method: get
    uri: https://open-api.bitsonic.co.kr/api/external/ticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "result": [
                {
                    "market": "krw",
                    "symbol": "eth",
                    "priceChange": "3800.000000000000",
                    "priceChangePercent": "2.285",
                    "open": "166250.000000000000",
                    "high": "171250.000000000000",
                    "low": "145200.000000000000",
                    "close": "170050.000000000000",
                    "baseVolume": "9369209.852800000000",
                    "volume": "56.806436100000"
                },
                {
                    "market": "krw",
                    "symbol": "btc",
                    "priceChange": "73000.000000000000",
                    "priceChangePercent": "0.869",
                    "open": "8400000.000000000000",
                    "high": "8527000.000000000000",
                    "low": "8400000.000000000000",
                    "close": "8473000.000000000000",
                    "baseVolume": "125818372.393000000[...]
