---
http_interactions:
- request:
    method: get
    uri: https://open-api.bitsonic.co.kr/api/external/transaction/history?symbol=btckrw
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "result": [
                {
                    "price": "9363000.000000000000",
                    "qty": "0.158800000000",
                    "time": "1570415619000",
                    "isBuyerMaker": false
                },
                {
                    "price": "9361000.000000000000",
                    "qty": "0.032200000000",
                    "time": "1570415619000",
                    "isBuyerMaker": false
                },
                {
                    "price": "9361000.000000000000",
                    "qty": "0.106800000000",
                    "time": "1570415616000",
                    "isBuyerMaker": false
                },
                {
            [...]
