---
http_interactions:
- request:
    method: get
    uri: https://open-api.bitsonic.co.kr/api/external/ticker/24hr?symbol=btckrw
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "result": {
                "e": "24hrTicker",
                "E": 1565249335275,
                "p": "273000.000000000000",
                "P": "1.968",
                "x": "13870000",
                "s": "BTCKRW",
                "i": "1d",
                "o": "13870000",
                "c": "14143000",
                "h": "14360000",
                "l": "13685000",
                "v": "518.758687063301",
                "q": "7306970854.291608810424",
                "t": "1565162880000",
                "T": "1565249280000"
            },
            "return_code": 1,
            "timestamp": 1565249335,
            "http_code": 200
        }
  recorded_at: Thu, 08 Aug 2019 07:28:55 GMT
recorded_with: VCR 4.0.0
