---
http_interactions:
- request:
    method: get
    uri: https://open-api.bitsonic.co.kr/api/external/transaction/history?symbol=btckrw
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "result": [
                {
                    "price": "14143000",
                    "qty": "0.2693",
                    "time": "1565249281401",
                    "isBuyerMaker": false
                },
                {
                    "price": "14141000",
                    "qty": "2.5776",
                    "time": "1565249281325",
                    "isBuyerMaker": false
                },
                {
                    "price": "14139000",
                    "qty": "2.5174",
                    "time": "1565249281243",
                    "isBuyerMaker": false
                },
                {
                    "price": "14137000",
           [...]
