---
http_interactions:
- request:
    method: get
    uri: https://open-api.bitsonic.co.kr/api/external/ticker/24hr?symbol=btckrw
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "result": {
                "e": "24hrTicker",
                "i": "1d",
                "P": "-281000.000000000000",
                "p": "-2.913",
                "x": "9644000.000000000000",
                "s": "BTCKRW",
                "c": "9363000.000000000000",
                "o": "9644000.000000000000",
                "h": "9776000.000000000000",
                "l": "9303000.000000000000",
                "v": "3496107902.215100000000",
                "q": "362.802765380000",
                "E": 1570415657940,
                "t": 1570329240,
                "T": 1570415640
            },
            "return_code": 1,
            "timestamp": 1570415657,
            "http_code": 200
        }
  recorded_at: Mon, 07 Oct 2019 02:34:17 GMT
recorded_with: VCR 4.0.0
