---
http_interactions:
- request:
    method: get
    uri: https://open-api.bitsonic.co.kr/api/external/depth?symbol=BTCKRW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "result": {
                "e": "DEPTH",
                "bids": [
                    [
                        "14127000",
                        "0.1436",
                        []
                    ],
                    [
                        "14125000",
                        "1.5687",
                        []
                    ],
                    [
                        "14123000",
                        "1.8634",
                        []
                    ],
                    [
                        "14121000",
                        "1.3553",
                        []
                    ],
                    [
                        "14119000",
                        "1.6117",
                        []
                    ],
                    [
                        "14117000",
                        "2.0867",
                        []
                    ],
                    [
                        "14111000",
                        "0.354",
                        []
                    ],
                    [
                        "14060000",
                        "0.0061",
                        []
                    ],
                    [
                        "14050000",
                        "0.3729",
                        []
                    ],
                    [
                        "14040000",
                        "0.01",
                        []
                    ]
                ],
                "asks": [
                    [
                        "14143000",
                        "2.0679",
                        []
                    ],
                    [
                        "14145000",
                        "2.5837",
                        []
                    ],
                    [
                        "14190000",
                        "0.3742",
                        []
                    ],
                    [
                        "14200000",
                        "0.01",
                        []
                    ],
                    [
                        "14201000",
                        "0.1409",
                        []
                    ],
                    [
                        "14288000",
                        "0.0004",
                        []
                    ],
                    [
                        "14290000",
                        "0.5949",
                        []
                    ],
                    [
                        "14299000",
                        "0.0004",
                        []
                    ],
                    [
                        "14300000",
                        "0.01",
                        []
                    ],
                    [
                        "14310000",
                        "0.0917",
                        []
                    ]
                ]
            },
            "return_code": 1,
            "timestamp": 1565249335,
            "http_code": 200
        }
  recorded_at: Thu, 08 Aug 2019 07:28:55 GMT
recorded_with: VCR 4.0.0
