---
http_interactions:
- request:
    method: get
    uri: https://open-api.bitsonic.co.kr/api/external/transaction/history?symbol=btckrw
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "result": [
                {
                    "price": "8473000.000000000000",
                    "qty": "0.001200000000",
                    "time": "1576231354000",
                    "isBuyerMaker": false
                },
                {
                    "price": "8475000.000000000000",
                    "qty": "0.006600000000",
                    "time": "1576231245000",
                    "isBuyerMaker": false
                },
                {
                    "price": "8475000.000000000000",
                    "qty": "0.000300000000",
                    "time": "1576231208000",
                    "isBuyerMaker": false
                },
                {
            [...]
