---
http_interactions:
- request:
    method: get
    uri: https://open-api.bitsonic.co.kr/api/external/depth?symbol=BTCKRW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "result": {
                "e": "DEPTH",
                "asks": [
                    [
                        "9437000",
                        "0.0025",
                        []
                    ],
                    [
                        "9438000",
                        "0.0052",
                        []
                    ],
                    [
                        "9494000",
                        "0.01",
                        []
                    ],
                    [
                        "9496000",
                        "0.01",
                        []
                    ],
                    [
                        "9549000",
                        "0.0524",
                        []
                    ],
                    [
                        "9550000",
                        "0.3528",
                        []
                    ],
                    [
                        "9631000",
                        "2.2292",
                        []
                    ],
                    [
                        "9632000",
                        "0.0056",
                        []
                    ],
                    [
                        "9634000",
                        "0.3014",
                        []
                    ],
                    [
                        "9641000",
                        "0.4932",
                        []
                    ]
                ],
                "bids": [
                    [
                        "9342000",
                        "0.0247",
                        []
                    ],
                    [
                        "9341000",
                        "0.2587",
                        []
                    ],
                    [
                        "9339000",
                        "0.3695",
                        []
                    ],
                    [
                        "9337000",
                        "0.4174",
                        []
                    ],
                    [
                        "9335000",
                        "0.5871",
                        []
                    ],
                    [
                        "9333000",
                        "0.6698",
                        []
                    ],
                    [
                        "9330000",
                        "0.6985",
                        []
                    ],
                    [
                        "9328000",
                        "0.5687",
                        []
                    ],
                    [
                        "9326000",
                        "0.3357",
                        []
                    ],
                    [
                        "9324000",
                        "0.2655",
                        []
                    ]
                ]
            },
            "return_code": 1,
            "timestamp": 1570415658,
            "http_code": 200
        }
  recorded_at: Mon, 07 Oct 2019 02:34:18 GMT
recorded_with: VCR 4.0.0
