---
http_interactions:
- request:
    method: get
    uri: https://api.radarrelay.com/v2/markets/BAT-WETH/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"104-Rpiu8T11IsZfSbNmyqR938l4/bw"
    body:
      encoding: UTF-8
      string: '{"transactionHash":"0xb5e2a62237353db4d0533609058cc22f94ebb6ff3ac086dc22dce1054be0cd9c","price":"0.00075952759419","size":"0.1215670233021937","timestamp":1538462067,"bestBid":"0.00075081","bestAsk":"0.00076302222045","spreadPercentage":"0.016005065282106355"}'
  recorded_at: Tue, 02 Oct 2018 12:14:58 GMT
- request:
    method: get
    uri: https://api.radarrelay.com/v2/markets/BAT-WETH/candles
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24a4-Tf/P22AHh3PuFxj/4aM6BJMKSRo"
    body:
      encoding: UTF-8
      string: '[{"open":"0.00074729","high":"0.00076438","low":"0.00074729","close":"0.00076438","startBlock":6436965,"startBlockTimestamp":1538447140,"endBlock":6438037,"endBlockTimestamp":1538462067,"baseTokenVolume":"10762.410539768787","quoteTokenVolume":"8.063313427993494"},{"open":"0.00073719","high":"0.00074942","low":"0.00073719","close":"0.00074602","startBlock":6433852,"startBlockTimestamp":1538403275,"endBlock":6435923,"endBlockTimestamp":1538431922,"baseTokenVolume":"5257.563123482159","quoteTokenVolume":"3.919227496"},{"open":"0.0007304846291377146","high":"0.00073604","low":"0.0007304846291377146","close":"0.00073604","startBlock":6426473,"startBlockTimestamp":1538298741,"endBlock":6430197,"endBlockTimestamp":1538350910,"baseTokenVolum[...]
