---
http_interactions:
- request:
    method: get
    uri: https://api.radarrelay.com/v2/markets?include=base,stats,ticker&page=1&perPage=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '109'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11f9c-oBgy4OVScYtZJdVVvqzVtl0OkIM"
    body:
      encoding: UTF-8
      string: '[{"id":"ZRX-WETH","displayName":"ZRX/WETH","baseTokenAddress":"0xe41d2489571d322189246dafa5ebde1f4699f498","quoteTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"1.54658177","maxOrderSize":"1000000000","score":92.59,"ticker":{"transactionHash":"0x6b321fae72438b5e517dd25ce8a00408e905f92b05ea609dbd984dbd37f22512","price":"0.002914524309666667","size":"3.290478515451603","timestamp":1538889991,"bestBid":"0.0029085892383111909990","bestAsk":"0.0029145243096666669994","spreadPercentage":"0.002036377372386527"},"stats":{"numBidsWithinRange":19,"numAsksWithinRange":11,"baseTokenAvailable":"24841.95783723572","quoteTokenAvailable":"147.53139506858938","volume24Hour":"7.739845900458685","percentChange24Hour":"0.0356723410058583"}},{"id":"WETH-DAI","displayName":"WETH/DAI","baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00454882","maxOrderSize":"1000000000","score":90.62,"ticker":{"transactionHash":"0xcae91f54e0be1aa363e893136a7d27f9d2b0e94de04de2f692fe8aa9e7fb3b6e","price":"220.6541034","size":"8.834676384146503","timestamp":1538910913,"[...]
[...]
- request:
    method: get
    uri: https://api.radarrelay.com/v2/markets?include=base,stats,ticker&page=5&perPage=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '105'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 07 Oct 2018 11:56:40 GMT
recorded_with: VCR 4.0.0
