---
http_interactions:
- request:
    method: get
    uri: https://api.radarrelay.com/v3/markets?page=1&perPage=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1586750233'
      Etag:
      - W/"498b-h4e6sRlLZZmIgqQlW9e+awz7r4I"
    body:
      encoding: UTF-8
      string: '[{"id":"USDC-WETH","displayName":"USDC/WETH","baseTokenAddress":"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","quoteTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","baseTokenDecimals":6,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00998433","maxOrderSize":"1000000000","score":100,"active":1},{"id":"WETH-DAI","displayName":"WETH/DAI","baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00006652","maxOrderSize":"1000000000","score":100,"active":1},{"id":"USDC-DAI","displayName":"USDC/DAI","baseTokenAddress":"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","quoteTokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","baseToke[...]
- request:
    method: get
    uri: https://api.radarrelay.com/v3/markets?page=2&perPage=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
      X-Ratelimit-Reset:
      - '1586750233'
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Apr 2020 03:56:17 GMT
recorded_with: VCR 4.0.0
