---
http_interactions:
- request:
    method: get
    uri: https://api.radarrelay.com/v2/markets?page=1&perPage=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '114'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7846-JvjZgZuJ7KuMDZYKmFHcRitvg/c"
    body:
      encoding: UTF-8
      string: '[{"id":"ZRX-WETH","displayName":"ZRX/WETH","baseTokenAddress":"0xe41d2489571d322189246dafa5ebde1f4699f498","quoteTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"1.54658177","maxOrderSize":"1000000000","score":92.59},{"id":"WETH-DAI","displayName":"WETH/DAI","baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00454882","maxOrderSize":"1000000000","score":90.62},{"id":"BAT-WETH","displayName":"BAT/WETH","baseTokenAddress":"0x0d8775f648430679a709e98d2b0cb6250d2887ef","quoteTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","baseTokenDeci[...]
[...]
- request:
    method: get
    uri: https://api.radarrelay.com/v2/markets?page=5&perPage=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '110'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 07 Oct 2018 11:56:38 GMT
recorded_with: VCR 4.0.0
