---
http_interactions:
- request:
    method: get
    uri: https://api.radarrelay.com/v0/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c377-XuqxC9uQFW/JWEpi5EsVS/Shw2E"
    body:
      encoding: UTF-8
      string: '[{"id":"DPP-DAI","baseTokenAddress":"0x01b3ec4aae1b8729529beb4965f27d008788b0eb","quoteTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","baseTokenDecimals":18,"quoteTokenDecimals":18,"displayName":"DPP/DAI","quoteIncrement":"0.00000001","minOrderSize":"0","maxOrderSize":"1000000000","lastTradePrice":"0"},{"id":"HAV-DAI","baseTokenAddress":"0x01da95f253122636d0776017311892835a15d9dd","quoteTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","baseTokenDecimals":18,"quoteTokenDecimals":18,"displayName":"HAV/DAI","quoteIncrement":"0.00000001","minOrderSize":"0","maxOrderSize":"1000000000","lastTradePrice":"0"},{"id":"FLLW-DAI","baseTokenAddress":"0x0200412995f1bafef0d3f97c4e28ac2515ec1ece","quoteTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","baseTokenDecimals":18,"quoteToken[...]
