---
http_interactions:
- request:
    method: get
    uri: https://api.radarrelay.com/v3/markets?include=base,stats,ticker&page=1&perPage=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '117'
      X-Ratelimit-Reset:
      - '1586750233'
      Etag:
      - W/"9ec6-j3w+tYOp337Iwz30NZK+juB9VZg"
    body:
      encoding: UTF-8
      string: '[{"id":"WETH-DAI","displayName":"WETH/DAI","baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00006652","maxOrderSize":"1000000000","score":100,"active":1,"ticker":{"transactionHash":"0x9bda623474dd8821fd55fd3df22ccdbda2652054f1890752741082c4fce62be4","price":"147.8192779","size":"804.6917412141642","timestamp":1586738028,"bestBid":"157.1298244","bestAsk":"150.079","spreadPercentage":"-0.04698075280352335"},"stats":{"numBidsWithinRange":703,"numAsksWithinRange":687,"baseTokenAvailable":"16119.221427527918","quoteTokenAvailable":"2498292.7712928248","volume24Hour":"32265.956075754046","percentChange24Hour":"-0.048031100928204125"}},{"id":"USDC-DAI","displayName":"USDC/DAI","baseTokenAddress":"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","quoteTokenAddress":"0x6b175474e89094c44da98b954eedeac495271d0f","baseTokenDecimals":6,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00999872","maxOrderSize":"1000000000","score":100,"active":1,"ticker":{"transactionHash":"0x11df5e042659dd9545a04f265166d81d31c6f79e8936839762886b44d3481a9c","price":"0.9834104459883398","size":"1000","timestamp":1586710[...]
- request:
    method: get
    uri: https://api.radarrelay.com/v3/markets?include=base,stats,ticker&page=2&perPage=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '116'
      X-Ratelimit-Reset:
      - '1586750233'
      Etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Apr 2020 03:56:27 GMT
recorded_with: VCR 4.0.0
