---
http_interactions:
- request:
    method: get
    uri: https://api.radarrelay.com/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1823-rmFr7JtGnDyKrVQDFts6AkxoPpI"
    body:
      encoding: UTF-8
      string: '[{"id":"BAT-WETH","displayName":"BAT/WETH","baseTokenAddress":"0x0d8775f648430679a709e98d2b0cb6250d2887ef","quoteTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"5.78652424","maxOrderSize":"1000000000","score":87.55},{"id":"WETH-DAI","displayName":"WETH/DAI","baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","baseTokenDecimals":18,"quoteTokenDecimals":18,"quoteIncrement":8,"minOrderSize":"0.00437863","maxOrderSize":"1000000000","score":79.46},{"id":"OMG-WETH","displayName":"OMG/WETH","baseTokenAddress":"0xd26114cd6ee289accf82350c8d8487fedb8a0c07","quoteTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","baseTokenDeci[...]
