---
http_interactions:
- request:
    method: get
    uri: https://api.radarrelay.com/v0/ticker/DAI/WETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6d-dXBpjS+HUHt5O7fHj/S1Fq7rWPk"
    body:
      encoding: UTF-8
      string: '{"baseVolume":217.80447256,"quoteVolume":92428.85201407,"high":0.00245674,"low":0.00215716,"last":0.00217632}'
  recorded_at: Sat, 30 Jun 2018 09:05:03 GMT
recorded_with: VCR 4.0.0
