---
http_interactions:
- request:
    method: get
    uri: https://api.radarrelay.com/v0/ticker/DAI/WETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b-RZR6Jht08ULsaK0LR796zBCvpVk"
    body:
      encoding: UTF-8
      string: '{"baseVolume":35599.08884678,"quoteVolume":43.1896184,"high":930.29825,"low":774.88965,"last":501.22800862}'
  recorded_at: Mon, 05 Feb 2018 06:39:57 GMT
recorded_with: VCR 3.0.3
