---
http_interactions:
- request:
    method: get
    uri: https://api.radarrelay.com/v2/markets/BAT-WETH/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"117-xn7of5+9zmoxkNkb+Y2hLPmAGVI"
    body:
      encoding: UTF-8
      string: '{"transactionHash":"0xb5e2a62237353db4d0533609058cc22f94ebb6ff3ac086dc22dce1054be0cd9c","price":"0.00075952759419","size":"0.1215670233021937","timestamp":1538462067,"bestBid":"0.0007513366666666667","bestAsk":"0.0007614050958562797996","spreadPercentage":"0.013223485427675149"}'
  recorded_at: Wed, 03 Oct 2018 01:29:30 GMT
- request:
    method: get
    uri: https://api.radarrelay.com/v2/markets/BAT-WETH/stats
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4-63WLcqXa/n/yCdXEHom9/oMZaBk"
    body:
      encoding: UTF-8
      string: '{"numBidsWithinRange":16,"numAsksWithinRange":14,"baseTokenAvailable":"55743.3002156154","quoteTokenAvailable":"51.146782182219134","volume24Hour":"8.063313427993494","percentChange24Hour":"0.018106209203506602"}'
  recorded_at: Wed, 03 Oct 2018 01:29:30 GMT
recorded_with: VCR 4.0.0
