---
http_interactions:
- request:
    method: get
    uri: https://api.livecoin.net/exchange/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"cur":"USD","symbol":"USD/RUR","last":56.89999000,"high":57.49997000,"low":56.01000000,"volume":3788.95677332,"vwap":56.62701531,"max_bid":61.89999000,"min_ask":56.01000000,"best_bid":56.89999000,"best_ask":56.90000000},{"cur":"EUR","symbol":"EUR/USD","last":1.18000000,"high":1.19890000,"low":1.17514000,"volume":224.85741825,"vwap":1.17579493,"max_bid":1.19890000,"min_ask":1.17514000,"best_bid":1.17522000,"best_ask":1.18000000},{"cur":"BTC","symbol":"BTC/USD","last":4460.00000000,"high":4490.00000000,"low":4400.02001000,"volume":610.24432819,"vwap":4447.42473028,"max_bid":4500.99999000,"min_ask":4396.00000000,"best_bid":4450.02000000,"best_ask":4479.98000000},{"cur":"BTC","symbol":"BTC/EUR","last":[...]
