---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/market/ticker/ethusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"data":{"ticker":[128.120000000,0.659400000,128.120000000,14.279500000,128.130000000,1.647000000,133.750000000,134.540000000,127.780000000,58072.178600000,7613470.220755467000000000],"type":"ticker.ethusdt","seq":276977716}}'
  recorded_at: Mon, 04 Mar 2019 04:19:11 GMT
recorded_with: VCR 4.0.0
