---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/market/trades/ethusdt?limit=500
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"data":[{"amount":1.398000000,"ts":1557913497638,"id":335941687000,"side":"sell","price":233.400000000},{"amount":0.026900000,"ts":1557913497141,"id":335941684000,"side":"sell","price":233.400000000},{"amount":0.200000000,"ts":1557913497140,"id":335941683000,"side":"sell","price":233.400000000},{"amount":0.010000000,"ts":1557913497139,"id":335941682000,"side":"sell","price":233.400000000},{"amount":27.350000000,"ts":1557913496637,"id":335941677011,"side":"buy","price":233.400000000},{"amount":0.288600000,"ts":1557913496637,"id":335941677010,"side":"buy","price":233.400000000},{"amou[...]
