---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/public/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":0,"data":[{"name":"btcusdt","base_currency":"btc","quote_currency":"usdt","price_decimal":2,"amount_decimal":4,"tradable":true},{"name":"ethusdt","base_currency":"eth","quote_currency":"usdt","price_decimal":2,"amount_decimal":4,"tradable":true},{"name":"bchusdt","base_currency":"bch","quote_currency":"usdt","price_decimal":2,"amount_decimal":4,"tradable":true},{"name":"ltcusdt","base_currency":"ltc","quote_currency":"usdt","price_decimal":2,"amount_decimal":4,"tradable":true},{"name":"ftusdt","base_currency":"ft","quote_currency":"usdt","price_decimal":5,"amount_decimal":2,"tradable":true},{"name":"fteth","base_cu[...]
