---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/market/trades/ethusdt?limit=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"data":[{"amount":2.043200000,"ts":1557907733258,"id":335876552016,"side":"sell","price":225.750000000},{"amount":0.010000000,"ts":1557907733258,"id":335876552015,"side":"sell","price":225.750000000},{"amount":0.001000000,"ts":1557907733258,"id":335876552014,"side":"sell","price":225.750000000},{"amount":0.001000000,"ts":1557907733258,"id":335876552013,"side":"sell","price":225.750000000},{"amount":16.023900000,"ts":1557907733258,"id":335876552012,"side":"sell","price":225.760000000},{"amount":0.002100000,"ts":1557907733258,"id":335876552011,"side":"sell","price":225.760000000},{"am[...]
