---
http_interactions:
- request:
    method: get
    uri: https://coincheck.com/api/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ed0fcf3601bc8862546dad2f76be7f70"
    body:
      encoding: UTF-8
      string: '{"last":495550.0,"bid":495642.0,"ask":495830.0,"high":498991.0,"low":489000.0,"volume":25120.12507338,"timestamp":1507003465}'
  recorded_at: Tue, 03 Oct 2017 04:04:34 GMT
recorded_with: VCR 3.0.3
