---
http_interactions:
- request:
    method: get
    uri: https://api.tidex.com/api/3/ticker/ltc_btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ltc_btc":{"high":0.01244544,"low":0.01216153,"avg":0.012303485,"vol":245.9059566657921046,"vol_cur":20052.42425394,"last":0.01226667,"buy":0.01216154,"sell":0.01232014,"updated":1507003549}}'
  recorded_at: Tue, 03 Oct 2017 04:05:49 GMT
recorded_with: VCR 3.0.3
