---
http_interactions:
- request:
    method: get
    uri: https://api.tidex.com/api/3/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"server_time":1507003544,"pairs":{"ltc_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"eth_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"dash_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"doge_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"bts_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":1,"fee":0.1},"waves_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.0001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"wct_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.01,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"ltc_waves":{"decimal_places":4,"min_price":0.01,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"eth_waves":{"decimal_places":4,"min_price":0.01,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"dash_waves":{"decimal_places":4,"min_price":0.01,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"doge_waves":{"decimal_places":4,"min_price":0.00000001,"max_price":100.0,"min_amount":0.0001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"bts_waves":{"decimal_places":4,"min_price":0.00000001,"max_price":100.0,"min_amount":0.0001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"wct_waves":{"decimal_places":4,"min_price":0.0001,"max_price":1000.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"steem_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"steem_waves":{"decimal_places":4,"min_price":0.001,"max_price":1000.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wbtc_btc":{"decimal_places":4,"min_price":0.1,"max_price":10.0,"min_amount":0.0001,"max_amount":100000.0,"min_total":0.0001,"hidden":1,"fee":0.1},"incnt_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"incnt_waves":{"decimal_places":4,"min_price":0.01,"max_price":100.0,"min_amount":0.0001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"b@_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":0.0001,"hidden":1,"fee":0.1},"b@_waves":{"decimal_places":8,"min_price":0.00000001,"max_price":100.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"mrt_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"mrt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":100.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mer_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.01,"max_amount":5000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"mer_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.01,"max_amount":5000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"tks_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.01,"max_amount":5000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"tks_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":5000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"aqua_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":100.0,"min_amount":0.0000001,"max_amount":50.0,"min_total":0.0001,"hidden":1,"fee":0.1},"rbx_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":1.0,"max_amount":50000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"aqua_waves":{"decimal_places":8,"min_price":0.001,"max_price":100000.0,"min_amount":0.0000001,"max_amount":50.0,"min_total":1.0,"hidden":1,"fee":0.1},"rbx_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":1.0,"max_amount":50000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"btc_wusd":{"decimal_places":8,"min_price":10.0,"max_price":10000.0,"min_amount":0.0001,"max_amount":10000.0,"min_total":1.0,"hidden":0,"fee":0.1},"btc_weur":{"decimal_places":8,"min_price":10.0,"max_price":10000.0,"min_amount":0.0001,"max_amount":10000.0,"min_total":1.0,"hidden":0,"fee":0.1},"ltc_wusd":{"decimal_places":8,"min_price":0.01,"max_price":1000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.1},"ltc_weur":{"decimal_places":8,"min_price":0.01,"max_price":1000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.1},"eth_wusd":{"decimal_places":8,"min_price":0.1,"max_price":1000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.1},"eth_weur":{"decimal_places":8,"min_price":0.1,"max_price":1000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.1},"dash_wusd":{"decimal_places":8,"min_price":0.1,"max_price":1000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.1},"dash_weur":{"decimal_places":8,"min_price":0.1,"max_price":10000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.1},"waves_wusd":{"decimal_places":8,"min_price":0.01,"max_price":100.0,"min_amount":0.01,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"waves_weur":{"decimal_places":8,"min_price":0.01,"max_price":100.0,"min_amount":0.01,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wgo_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.00001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"wgo_waves":{"decimal_places":8,"min_price":0.000001,"max_price":1000.0,"min_amount":0.00001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"gnt_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"edg_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"rlc_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"gnt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"edg_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"rlc_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"gnt_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"edg_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"rlc_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"gnt_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"edg_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"rlc_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"icn_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"icn_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"icn_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"icn_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wings_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"wings_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wings_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wings_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"vsl_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":1,"fee":0.1},"vsl_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"vsl_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"vsl_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"time_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"time_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"time_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"time_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"taas_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":1,"fee":0.1},"taas_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"taas_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"taas_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"kolion_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"kolion_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"kolion_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"kolion_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"riddle_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":1,"fee":0.1},"riddle_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"riddle_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"riddle_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.1},"ant_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"ant_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"ant_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"ant_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"efyt_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"efyt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"efyt_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"efyt_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mgo_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"mgo_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mgo_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mgo_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wett_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"wett_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wett_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wett_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"eett_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"eett_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"eett_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"eett_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"qrl_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"qrl_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"qrl_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"qrl_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"emgo_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"emgo_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"emgo_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"emgo_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"bnt_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"bnt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"bnt_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"bnt_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"snm_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"snm_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"zrc_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"zrc_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"snt_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"snt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mco_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"mco_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"storj_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"storj_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"eos_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"eos_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wgr_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"wgr_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"sta_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"sta_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"pbt_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":10.0,"min_amount":0.0001,"max_amount":2000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"pbt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":30000.0,"min_amount":0.0001,"max_amount":2000.0,"min_total":1.0,"hidden":0,"fee":0.1},"pbt_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":30000.0,"min_amount":0.0001,"max_amount":2000.0,"min_total":1.0,"hidden":0,"fee":0.1},"pbt_weur":{"decimal_places":8,"min_price":0.0001,"max_price":30000.0,"min_amount":0.0001,"max_amount":2000.0,"min_total":1.0,"hidden":0,"fee":0.1},"bch_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":10.0,"min_amount":0.001,"max_amount":100000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"bch_waves":{"decimal_places":8,"min_price":0.0001,"max_price":10000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.1},"bch_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":10000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.1},"bch_weur":{"decimal_places":8,"min_price":0.0001,"max_price":10000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wct_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wct_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"sta_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"sta_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mrt_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":100.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mrt_weur":{"decimal_places":8,"min_price":0.0001,"max_price":100.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"zrc_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"zrc_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"wsur_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"wsur_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"sur_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"sur_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"msp_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"msp_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"msp_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"msp_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"inpay_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"inpay_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mtl_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"mtl_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"aht_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"aht_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"ping_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"ping_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"eot_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"eot_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"ae_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"ae_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"pix_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"pix_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"credo_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"credo_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"life_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":100000.0,"max_amount":100000000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"life_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":100000.0,"max_amount":100000000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mth_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"mth_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mth_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"mth_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"bmc_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"bmc_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"trct_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"trct_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"knc_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"knc_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"msd_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"msd_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"msd_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"msd_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1},"sub_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.1},"sub_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.1}}}'
  recorded_at: Tue, 03 Oct 2017 04:05:49 GMT
recorded_with: VCR 3.0.3
