---
http_interactions:
- request:
    method: get
    uri: https://api.bitselly.com/api/v1/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"last":"0.03414800","open":"0.03392500","low":"0.03392500","high":"0.03438100","volume":"393.73869967","volume_quote":"11478.49300000","timestamp":"2018-10-06
        17:33:12","symbol":"ETH-BTC"},{"last":"0.00000358","open":"0.00000348","low":"0.00000348","high":"0.00000361","volume":"5.62032220","volume_quote":"1593861.00000000","timestamp":"2018-10-06
        17:33:57","symbol":"TRX-BTC"},{"last":"0.07796200","open":"0.07813400","low":"0.07795100","high":"0.07852300","volume":"1467.92245056","volume_quote":"18710.50000000","timestamp":"2018-10-06
        13:16:42","symbol":"BCH-BTC"},{"last":"0.02810600","open":"0.02755000","low":"0.02755000","high":"0.02840800","volume":"61[...]
