---
http_interactions:
- request:
    method: get
    uri: https://api.bitselly.com/api/v1/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"last":"0.03132700","open":"0.03197300","low":"0.03090500","high":"0.03197300","volume":"379.87981503","volume_quote":"12245.60700000","timestamp":"2018-10-12
        08:19:25","symbol":"ETH-BTC"},{"last":"0.00000350","open":"0.00000355","low":"0.00000344","high":"0.00000355","volume":"1.69940173","volume_quote":"493696.00000000","timestamp":"2018-10-12
        08:22:36","symbol":"TRX-BTC"},{"last":"0.06950300","open":"0.07162600","low":"0.06950300","high":"0.07162600","volume":"63.50544708","volume_quote":"913.70800000","timestamp":"2018-10-12
        05:18:42","symbol":"BCH-BTC"},{"last":"0.02494000","open":"0.02580300","low":"0.02449300","high":"0.02580300","volume":"99.8786[...]
