---
http_interactions:
- request:
    method: get
    uri: https://api.bitoffer.com/v1/api/cash/instrument/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-gateway:prod:8080
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":[{"instrumentId":15,"symbol":"AKRO-USDT","productId":18,"coinId":3,"priceTick":"0.00001","lotSize":"0.01","status":2,"fresh":1,"position":6},{"instrumentId":57,"symbol":"BCH-BTC","productId":35,"coinId":2,"priceTick":"0.000001","lotSize":"0.0001","status":2,"fresh":1,"position":1},{"instrumentId":58,"symbol":"BCH-USDT","productId":35,"coinId":3,"priceTick":"0.01","lotSize":"0.0001","status":2,"fresh":1,"position":4},{"instrumentId":61,"symbol":"BSV-BTC","productId":34,"coinId":2,"priceTick":"0.000001","lotSize":"0.0001","status":2,"fresh":1,"position":7},{"instrumentId":62,"symbol":"BSV-USDT","productId":34,"coinId":3,"priceTick":[...]
- request:
    method: get
    uri: https://api.bitoffer.com/v1/api/quot/market/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-gateway:prod:8080
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":[{"instrumentId":1,"timestamp":1571213949906002,"last":"0.021959","vol":"88.896","open":"0.022076","high":"0.022226","low":"0.021851","turnover":"5217.1060810746","volume":"236901.4911","change":"-0.000117","changeRatio":"-0.529987316542852"},{"instrumentId":2,"timestamp":1571213949729308,"last":"178.46","vol":"56.43","open":"183.58","high":"183.68","low":"177.78","turnover":"301560993.875401","volume":"1677140.57333","change":"-5.12","changeRatio":"-2.7889748338598976"},{"instrumentId":3,"timestamp":1571213949684759,"last":"8127.55","vol":"0.03244","open":"8318.61","high":"8320.28","low":"8104","turnover":"722428501.43576986","volume":"88472.912793","change":"-191.06","changeRatio":"-2.2967779472772494"},{"inst[...]
