---
http_interactions:
- request:
    method: get
    uri: https://api.bitoffer.com/v1/api/cash/instrument
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-gateway:prod:8080
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":[{"instrumentId":15,"symbol":"AKRO-USDT","productId":18,"coinId":3,"priceTick":"0.0001","lotSize":"0.01","fresh":1},{"instrumentId":3,"symbol":"BTC-USDT","productId":2,"coinId":3,"priceTick":"0.001","lotSize":"0.000001","fresh":0},{"instrumentId":16,"symbol":"CARM-USDT","productId":15,"coinId":3,"priceTick":"0.000001","lotSize":"0.01","fresh":1},{"instrumentId":27,"symbol":"DASH-BTC","productId":22,"coinId":2,"priceTick":"0.000001","lotSize":"0.01","fresh":1},{"instrumentId":26,"symbol":"DASH-ETH","productId":22,"coinId":1,"priceTick":"0.000001","lotSize":"0.01","fresh":1},{"instrumentId":28,"symbol":"DASH[...]
