---
http_interactions:
- request:
    method: get
    uri: https://api.bitoffer.com/v1/api/quot/tick?instrumentId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-gateway:prod:8080
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":{"ticks":[[1571213950801848,"8127.21","0.01866",-1],[1571213950138049,"8127.54","0.002461",-1],[1571213947898181,"8127.55","0.03244",1],[1571213947242852,"8127.55","0.002461",-1],[1571213946944076,"8127.26","11.06468",-1],[1571213944045418,"8127.54","0.002461",1],[1571213943138894,"8126.72","9.43308",-1],[1571213940739894,"8124.89","0.002462",1],[1571213939062850,"8122.4","0.3",-1],[1571213938817082,"8124.72","5.056248",1],[1571213938618581,"8122.22","0.24398",-1],[1571213937513930,"8122.48","0.002462",1[...]
