---
http_interactions:
- request:
    method: get
    uri: https://api.bitoffer.com/v1/api/quot/snapshot?instrumentId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-gateway:prod:8080
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":{"bids":[["8128.16","1.962509"],["8126.16","0.44055"],["8124.18","1.039956"],["8122.18","0.000138"],["8120.2","0.488887"],["8114.22","0.008"],["8112.24","0.026608"],["8110.24","1.2272"],["8106.26","0.60806"],["8104.28","0.285213"],["8102.28","0.029901"],["8092.34","0.155503"],["8086.33","0.004"],["8086.08","0.0867"],["8085.55","0.0047"],["8085.21","0.000069"],["8084.77","0.46962"],["8084.69","0.003079"],["8084.68","0.18189"],["8084.57","0.02"],["8083.5","0.03999"],["8083.48","0.0063"],["8083.47","0.036907"],["8083.37","0.61542"],["8083.2","0.12384"],["8083.19","0.485503"],["8082.97","0.063"],["8082.52","0.01"],["8082.5","0.00999"],["8082.49","0.05806"],["8082.38","0.13"],["8082.33","0.0002"],["8081.93","0.073813"],["8081.73","0.0015"],["8081.62","0.001"],["8081.6","0.18956"],["8081.59","0.118293"],["8081.58","0.0015"],["192.17","0.015122"]],"asks":[["8168.19","0.003"],["8168.28","0.0002"],["8168.75","0.0004"],["8169.21","0.0002"],["8169.63","0.05665"],["8169.64","0.012287"],["8169.75","0.02"],["8170.5","0.05713"],["8170.65","0.113911"],["8170.68","0.10987"],["8170.71","0.01"],["8170.75","0.0067"],["8171.25","0.03344"],["8171.26","0.003"],["8171.33","0.00999"],["8171.34","0.12242"],["8171.58","0.0938"],["8171.67","0.018478"],["8172.14","0.098383"],["8172.36","0.0006"],["8172.37","0.05"],["8172.6","0.13038"],["8172.82","0.0001"],["8173.31","0.0022"],["8173.45","0.0002"],["8345.46","0.198927"],["9999","0.012935"]]}}'
  recorded_at: Wed, 16 Oct 2019 08:19:10 GMT
recorded_with: VCR 4.0.0
