---
http_interactions:
- request:
    method: get
    uri: https://api.bitoffer.com/v1/api/quot/tick?instrumentId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-gateway:prod:8080
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":{"ticks":[[1564989952373512,"11737.99","0.283703",1],[1564989952373546,"11738","0.088322",1],[1564989952373565,"11738.12","0.014014",1],[1564989952373578,"11738.16","0.001832",1],[1564989952373590,"11738.7","0.16",1],[1564989952373623,"11738.71","0.001841",1],[1564989952373639,"11738.78","0.008613",1],[1564989952368380,"11744.43","670.713791",1],[1564989940871955,"11725.78","0.001737",1],[1564989940872646,"11725.78","0.004208",1],[1564989940872660,"11726.36","0.000862",1],[1564989940872682,"11726.47","0.[...]
