---
http_interactions:
- request:
    method: get
    uri: https://api.bitoffer.com/v1/api/cash/instrument
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.bitoffer.com/v1/api/cash/instrument/
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 16 Oct 2019 08:19:09 GMT
- request:
    method: get
    uri: https://api.bitoffer.com/v1/api/cash/instrument/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-gateway:prod:8080
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":[{"instrumentId":15,"symbol":"AKRO-USDT","productId":18,"coinId":3,"priceTick":"0.00001","lotSize":"0.01","status":2,"fresh":1,"position":6},{"instrumentId":57,"symbol":"BCH-BTC","productId":35,"coinId":2,"priceTick":"0.000001","lotSize":"0.0001","status":2,"fresh":1,"position":1},{"instrumentId":58,"symbol":"BCH-USDT","productId":35,"coinId":3,"priceTick":"0.01","lotSize":"0.0001","status":2,"fresh":1,"position":4},{"instrumentId":61,"symbol":"BSV-BTC","productId":34,"coinId":2,"priceTick":"0.000001","lotSize":"0.0001","status":2,"fresh":1,"position":7},{"instrumentId":62,"symbol":"BSV-USDT","productId":34,"coinId":3,"priceTick":[...]
