---
http_interactions:
- request:
    method: get
    uri: https://api.bitoffer.com/v1/api/cash/instrument
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-gateway:prod:8080
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":[{"instrumentId":15,"symbol":"AKRO-USDT","productId":18,"coinId":3,"priceTick":"0.0001","lotSize":"0.01","fresh":1},{"instrumentId":3,"symbol":"BTC-USDT","productId":2,"coinId":3,"priceTick":"0.001","lotSize":"0.000001","fresh":0},{"instrumentId":16,"symbol":"CARM-USDT","productId":15,"coinId":3,"priceTick":"0.000001","lotSize":"0.01","fresh":1},{"instrumentId":27,"symbol":"DASH-BTC","productId":22,"coinId":2,"priceTick":"0.000001","lotSize":"0.01","fresh":1},{"instrumentId":26,"symbol":"DASH-ETH","productId":22,"coinId":1,"priceTick":"0.000001","lotSize":"0.01","fresh":1},{"instrumentId":28,"symbol":"DASH[...]
- request:
    method: get
    uri: https://api.bitoffer.com/v1/api/quot/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-gateway:prod:8080
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":[{"instrumentId":1,"timestamp":1564989952304888,"last":"0.019541","vol":"15","open":"0.020294","high":"0.020364","low":"0.019534","turnover":"6747.521409281","volume":"339088.591","change":"-0.000753","changeRatio":"-3.7097250960685782"},{"instrumentId":2,"timestamp":1564989952367481,"last":"229.36","vol":"2.61754","open":"221.89","high":"230.38","low":"221.79","turnover":"120853806.0256082","volume":"530937.27455","change":"7.47","changeRatio":"3.3680508589206006"},{"instrumentId":3,"timestamp":1564989952427361,"last":"11738.78","vol":"0.558325","open":"10931.78","high":"11744.43","low":"10927.34","turnover":"964376569.65976947","volume":"84392.290998","change":"807","changeRatio":"7.3851323649994143"},{"[...]
