---
http_interactions:
- request:
    method: get
    uri: https://www.bitcratic.com/config/main.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 05 Nov 2019 16:03:28 GMT
      Etag:
      - '"6b41-5969b92ac39e8"'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"contractEtherDelta\": \"smart_contract/etherdelta.sol\",\r\n
        \ \"contractToken\": \"smart_contract/token.sol\",\r\n  \"contractReserveToken\":
        \"smart_contract/reservetoken.sol\",\r\n  \"contractEtherDeltaAddrs\": [\r\n
        \   { \"addr\": \"0x3c020e014069df790d4f4e63fd297BA4e1c8e51F\", \"info\":
        \"Deployed 03/16/2019 -- THE CURRENT SMART CONTRACT\" },\r\n\t{ \"addr\":
        \"0x232ba9f3b3643ab28d28ed7ee18600708d60e5fe\", \"info\": \"(Deployed 01/28/2019
        - Deprecated)\" }\r\n   \r\n  ],\r\n  \"ethTestnet\": false,\r\n  \"ethChainId\":
        1,\r\n  \"ethProvider\": \"http://127.0.0.1:8085\",\r\n  \"ethGasPrice\":
        4000000000,\r\n  \"ethAddr\": \"0x0000000000000000000000000000000000000000\",\r\n
        \ \"ethAddrPrivateKey\": \"\",\r\n  \"gasApprove\": 250000,\r\n  \"gasDeposit\":
        250000,\r\n  \"gasWithdraw\": 250000,\r\n  \"gasTrade\": 250000, \r\n  \"gasOrder\":
        250000,\r\n  \"minOrderSize\": 0.001,\r\n  \"socketServer\": \"https://bitcratic.org\",\r\n
        \ \"userCookie\": \"EtherDelta\",\r\n  \"eventsCacheCookie\": \"EtherDelta_eventsCache\",\r\n
        \ \"ordersCacheCookie\": \"EtherDelta_ordersCache\",\r\n  \"etherscanAPIKey\":
        \"XE4E22U9R6V813Y4IS1IXYSVJMZGMR77UZ\",\r\n  \"ledgerPath\": \"m/44'/60'/0'/0\",\r\n
        \ \"bases\": [\r\n    { \"addr\": \"0x0000000000000000000000000000000000000000\",
        \"name\": \"ETH\", \"fullName\": \"Ethereum\", \"decimals\": 18 }\r\n  ],\r\n
        \ \"tokens\": [\r\n\t{\"addr\":\"0x9ec251401eafb7e98f37a1d911c0aea02cb63a80\",\"name\":\"BCT\",
        \"fullName\": \"Bitcratic\", \"decimals\":18},\r\n\t{\"addr\":\"0x0d8775f648430679a709e98d2b0cb6250d2887ef\",\"name\":\"BAT\",\"fullName\":
        \"Basic Attention Token\", \"decimals\":18},\r\n\t{\"addr\":\"0x78b7fada55a64dd895d8c8c35779dd8b67fa8a05\",\"name\":\"ATL\",
        \"fullName\": \"Atlant\", \"decimals\":18},\r\n\t{\"addr\":\"0xdd6c68bb32462e01705011a4e2ad1a60740f217f\",\"name\":\"HBT\",
    [...]
