---
http_interactions:
- request:
    method: get
    uri: https://www.bitcratic.org/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ETH_0xab2282e":{"tokenAddr":"0xab2282e27533749d7883e24f82dc8dfa2b3e3c85","quoteVolume":"1.139000e+10","baseVolume":"0.01139000000","last":"1.00000000e-12","bid":null,"ask":null,"updated":"2019-08-14T05:45:16.180288"},"ETH_0x95c4be8":{"tokenAddr":"0x95c4be8534d69c248c0623c4c9a7a2a001c17337","quoteVolume":"0","baseVolume":"0","last":"0.0001","bid":null,"ask":null,"updated":"2019-07-30T09:23:05.530838"},"ETH_0x52494fb":{"tokenAddr":"0x52494fbffe10f8c29411521040ae8618c334981e","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:05.907641"},"ETH_0xb4f5438":{"tokenAddr":"0xb4f5438c3c2a682da351ab6b57edc8530efd67be","quoteVolume":"0","baseVolume":"0","last":"0.0482","bid":null,"ask":null,"updated":"2019-07-30T09:23:02.274220"},"ETH_0x5e51f68":{"tokenAddr":"0x5e51f6841d2f188c42c7c33a6a5e77fb05cfbabe","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:05.672128"},"ETH_0x4b5cd02":{"tokenAddr":"0x4b5cd0295faf19c4150f74ea405451b554c3c888","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:06.985672"},"ETH_0x4730fb1":{"tokenAddr":"0x4730fb1463a6f1f44aeb45f6c5c422427f37f4d0","quoteVolume":"0","baseVolume":"0","last":"0.00000430000","bid":null,"ask":"0.1","updated":"2019-07-30T09:23:06.145499"},"ETH_0xb17694d":{"tokenAddr":"0xb17694da33c2ac8b911850d823b32087a61bc9d2","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:06.026181"},"ETH_0xb1c4421":{"tokenAddr":"0xb1c442122000471a36948c47e5d0288565d41e96","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:06.388129"},"ETH_0x5bb1632":{"tokenAddr":"0x5bb1632fa0023e1aa76a1ae92b4635c8dba49fa2","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":null,"updated":"2019-07-30T09:23:09.313193"},"ETH_0x3821173":{"tokenAddr":"0x382117315856a533549ea621542ccce13e54ae82","quoteVolume":"0","baseVolume":"0","last":"0.05","bid":null,"ask":"0.05","updated":"2019-06-28T10:59:11.488125"},"ETH_0x425d354":{"tokenAddr":"0x425d354dceb40a5f64992d487dc51f7b83ea0ac7","quoteVolume":"0","baseVolume":"0","last":"0.0004468","bid":null,"ask":null,"updated":"2019-07-30T09:23:24.602308"},"ETH_0x9b6443b":{"tokenAddr":"0x9b6443b0fb9c241a7fdac375595cea13e6b7807a","quoteVolume":"0","baseVolume":"0","last":"0.125","bid":null,"ask":"0.125","updated":"2019-07-30T09:23:10.181621"},"ETH_0x3475b73":{"tokenAddr":"0x3475b73b0b8c638bb5f8a405e58667e44e9e0501","quoteVolume":"0","baseVolume":"0","last":"0.2","bid":null,"ask":"0.2","updated":"2019-07-30T09:23:04.463365"},"ETH_0xe1a0a31":{"tokenAddr":"0xe1a0a311adb89920816b79029484ea9b7d1ef32c","quoteVolume":"1.000000000","baseVolume":"0.006200000000","last":"0.0062","bid":null,"ask":"0.0062","updated":"2019-05-10T07:26:57.439562"},"ETH_0x7d29a64":{"tokenAddr":"0x7d29a64504629172a429e64183d6673b9dacbfce","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":"0.1","updated":"2019-07-30T09:23:12.340422"},"ETH_0x7a5522f":{"tokenAddr":"0x7a5522fb18a7953aab4358495e6df804eca63678","quoteVolume":"0","baseVolume":"0","last":"0.002","bid":null,"ask":"0.02","updated":"2019-07-10T12:07:04.364228"},"ETH_0xe3e0cfb":{"tokenAddr":"0xe3e0cfbb19d46dc6909c6830bfb25107f8be5cb7","quoteVolume":"0","baseVolume":"0","last":"0.000090000","bid":null,"ask":"0.105","updated":"2019-07-30T09:23:03.744329"},"ETH_0xec1cad8":{"tokenAddr":"0xec1cad815b5e8f0f86bb8fb2add2774886e79cf0","quoteVolume":"0","baseVolume":"0","last":"0.000010000","bid":null,"ask":null,"updated":"2019-07-30T09:23:18.284041"},"ETH_0xeffea57":{"tokenAddr":"0xeffea57067e02999fdcd0bb45c0f1071a29472d9","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:04.817062"},"ETH_0xb2b2b97":{"tokenAddr":"0xb2b2b97d936fb2046be3a93a5df65a528841214a","quoteVolume":"0","baseVolume":"0","last":"0.08","bid":null,"ask":"0.2","updated":"2019-07-30T09:23:04.935956"},"ETH_0x244cd2d":{"tokenAddr":"0x244cd2ded06dd15b1b0b4aaca9c51fb53ff40fc5","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":null,"updated":"2019-07-30T09:23:05.051685"},"ETH_0x1cc84f9":{"tokenAddr":"0x1cc84f940cbbb6ce8baad7ef285f1c8618b4ae8d","quoteVolume":"0","baseVolume":"0","last":"0.02","bid":null,"ask":"0.145","updated":"2019-07-30T09:23:05.171949"},"ETH_0x0f76733":{"tokenAddr":"0x0f767338244418310342d49b02183715691d988f","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:06.625471"},"ETH_0x90d46a9":{"tokenAddr":"0x90d46a9636b973f18186541d1b04ed3621a49cb0","quoteVolume":"0","baseVolume":"0","last":"0.02","bid":null,"ask":"0.125","updated":"2019-07-30T09:23:10.543004"},"ETH_0x6295ab2":{"tokenAddr":"0x6295ab2be04a617747481b292c390bfca592cf28","quoteVolume":"0","baseVolume":"0","last":"0.0005","bid":null,"ask":null,"updated":"2019-07-30T09:23:11.024264"},"ETH_0x1254e59":{"tokenAddr":"0x1254e59712e6e727dc71e0e3121ae952b2c4c3b6","quoteVolume":"0","baseVolume":"0","last":"0.024","bid":null,"ask":null,"updated":"2019-07-30T09:23:11.144489"},"ETH_0x5582b2a":{"tokenAddr":"0x5582b2aab94b05504f067efe6e42f22010cc319f","quoteVolume":"0","baseVolume":"0","last":"0.0004","bid":null,"ask":null,"updated":"2019-07-30T09:23:11.498657"},"ETH_0x6251583":{"tokenAddr":"0x6251583e7d997df3604bc73b9779196e94a090ce","quoteVolume":"0","baseVolume":"0","last":"0.002194","bid":null,"ask":null,"updated":"2019-07-30T09:23:11.739229"},"ETH_0x1309957":{"tokenAddr":"0x130995702626e697eee9ebf6405402b647167d94","quoteVolume":"0","baseVolume":"0","last":"0.1","bid":null,"ask":"0.105","updated":"2019-07-30T09:23:14.121482"},"ETH_0x9195e00":{"tokenAddr":"0x9195e00402abe385f2d00a32af40b271f2e87925","quoteVolume":"0","baseVolume":"0","last":"0.0000010000","bid":null,"ask":"0.000010000","updated":"2019-07-30T09:23:14.479896"},"ETH_0x58a2263":{"tokenAddr":"0x58a2263f77e1b23a74a3d99b9d01506da308800b","quoteVolume":"0","baseVolume":"0","last":"0.028","bid":null,"ask":null,"updated":"2019-07-30T09:23:08.450211"},"ETH_0x72c9fb7":{"tokenAddr":"0x72c9fb7ed19d3ce51cea5c56b3e023cd918baadf","quoteVolume":"0","baseVolume":"0","last":"0.011","bid":null,"ask":"0.02","updated":"2019-07-30T09:23:18.878655"},"ETH_0x610740a":{"tokenAddr":"0x610740af3f25b72892ba21b98bfb8595f2cde386","quoteVolume":"0","baseVolume":"0","last":"0.002","bid":null,"ask":"0.105","updated":"2019-07-30T09:23:17.573873"},"ETH_0x84f7c44":{"tokenAddr":"0x84f7c44b6fed1080f647e354d552595be2cc602f","quoteVolume":"0","baseVolume":"0","last":"0.021","bid":null,"ask":null,"updated":"2019-07-30T09:23:18.167712"},"ETH_0x6616f2d":{"tokenAddr":"0x6616f2db82549a7cdec8e14083fe46efec5ade52","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":"0.145","updated":"2019-07-30T09:23:18.520565"},"ETH_0xd35833f":{"tokenAddr":"0xd35833f9255fb28cc6b91acb8a66ba6429d6ef5a","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":"0.105","updated":"2019-07-30T09:23:18.998186"},"ETH_0xbdcfbf5":{"tokenAddr":"0xbdcfbf5c4d91abc0bc9709c7286d00063c0e6f22","quoteVolume":"0","baseVolume":"0","last":"0.145","bid":null,"ask":"0.145","updated":"2019-07-30T09:23:07.225829"},"ETH_0x13df4d4":{"tokenAddr":"0x13df4d4521a09f45554475bb086c099e3732cb99","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":"0.105","updated":"2019-07-30T09:23:19.717699"},"ETH_0xe4d1b71":{"tokenAddr":"0xe4d1b71d62b46cfe007bf9df612d8692da246b2b","quoteVolume":"0","baseVolume":"0","last":"0.0000600000000000","bid":null,"ask":"0.03500000000","updated":"2019-07-30T09:23:07.586774"},"ETH_0xea5eb17":{"tokenAddr":"0xea5eb17d519a9165fd2d7e024d83856f314958d1","quoteVolume":"0","baseVolume":"0","last":"0.044","bid":null,"ask":"0.044","updated":"2019-07-30T09:23:19.957389"},"ETH_0x12b306f":{"tokenAddr":"0x12b306fa98f4cbb8d4457fdff3a0a0a56f07ccdf","quoteVolume":"0","baseVolume":"0","last":"0.00166442","bid":"0.00142446","ask":null,"updated":"2019-04-13T05:36:49.296493"},"ETH_0x4b521ea":{"tokenAddr":"0x4b521ead25dc82b6d7efaf9904b455b29a5e1b2b","quoteVolume":"0","baseVolume":"0","last":"0.002","bid":null,"ask":null,"updated":"2019-07-30T09:23:24.483254"},"ETH_0xde1e0ae":{"tokenAddr":"0xde1e0ae6101b46520cf66fdc0b1059c5cc3d106c","quoteVolume":"0","baseVolume":"0","last":"0.023","bid":null,"ask":"2","updated":"2019-11-07T09:45:22.608678"},"ETH_0xf660ca1":{"tokenAddr":"0xf660ca1e228e7be1fa8b4f5583145e31147fb577","quoteVolume":"0","baseVolume":"0","last":"0.00053","bid":null,"ask":null,"updated":"2019-07-30T09:23:02.872408"},"ETH_0x15a6644":{"tokenAddr":"0x15a664416e42766a6cc0a1221d9c088548a6e731","quoteVolume":"0","baseVolume":"0","last":"0.002","bid":null,"ask":"0.105","updated":"2019-07-30T09:23:15.310254"},"ETH_0x06e0feb":{"tokenAddr":"0x06e0feb0d74106c7ada8497754074d222ec6bcdf","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:09.801168"},"ETH_0xb22be3c":{"tokenAddr":"0xb22be3c9fef880ee58155cd402b67ce6d7b45504","quoteVolume":"0","baseVolume":"0","last":"0.00000610000","bid":null,"ask":null,"updated":"2019-07-30T09:23:23.522869"},"ETH_0x8a822d7":{"tokenAddr":"0x8a822d790d6a2fc21902c7d9736941ab6a9b0f6d","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:10.662184"},"ETH_0xd8912c1":{"tokenAddr":"0xd8912c10681d8b21fd3742244f44658dba12264e","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:12.219557"},"ETH_0xbfd78ae":{"tokenAddr":"0xbfd78aebccf26cb964a7836263143b5ee8072d84","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:00.206211"},"ETH_0x1c5f437":{"tokenAddr":"0x1c5f43710a1776b0ea7191b7ead75d4b98d69858","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:12.577561"},"ETH_0xaaf7d4c":{"tokenAddr":"0xaaf7d4cd097317d68174215395eb02c2cca81e31","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-05-22T06:06:58.433063"},"ETH_0xd51aea1":{"tokenAddr":"0xd51aea1b1329aab12b154232c604d41757a64399","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:17.693698"},"ETH_0x66142b8":{"tokenAddr":"0x66142b81db17d7c0bd91f502d00382e326a24c2a","quoteVolume":"0","baseVolume":"0","last":"0.002","bid":null,"ask":"0.002","updated":"2019-07-30T09:23:24.723054"},"ETH_0x9ac8ca3":{"tokenAddr":"0x9ac8ca3c81974a4b05b1671f31b8ab935e413421","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:01.908729"},"ETH_0x56b6431":{"tokenAddr":"0x56b6431f45d08eed55f34371386326c739eacbcc","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:00.324568"},"ETH_0xd8b8e1e":{"tokenAddr":"0xd8b8e1eca89da014e67fdbc2014eaa8e171079bf","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-15T10:05:29.640381"},"ETH_0x0724111":{"tokenAddr":"0x07241118626a7bbb604be4b9ef8ef12e78fd0871","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:10.422903"},"ETH_0xb0315f6":{"tokenAddr":"0xb0315f636e4136dfd43f66b699dcdf43d5d519ad","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:08.572777"},"ETH_0xbffe4fd":{"tokenAddr":"0xbffe4fdcd397e7942fd7c9f99255e0aa34e4b3fb","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-16T10:52:13.387958"},"ETH_0xebc7cd2":{"tokenAddr":"0xebc7cd2684dd96619841c7994343c5a8bda94b10","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:17.931490"},"ETH_0x3b3c680":{"tokenAddr":"0x3b3c6809e03244a5bbc3e76e13fb3923d7da9b62","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":"0.105","updated":"2019-07-30T09:23:21.981937"},"ETH_0x6abb492":{"tokenAddr":"0x6abb492d778903be5fb8922e076ca5e337e29062","quoteVolume":"0","baseVolume":"0","last":"0.000090000","bid":null,"ask":null,"updated":"2019-07-14T15:39:25.558984"},"ETH_0xf19eac6":{"tokenAddr":"0xf19eac69f9566f0b40660bd0cc16234330f38456","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-04-13T05:36:41.535085"},"ETH_0x5905e07":{"tokenAddr":"0x5905e0717f9f76a61fa5ed4636061b506e5a0522","quoteVolume":"0","baseVolume":"0","last":"0.0005","bid":null,"ask":"0.00035","updated":"2019-06-13T07:29:20.234430"},"ETH_0xc0f1728":{"tokenAddr":"0xc0f1728d9513efc316d0e93a0758c992f88b0809","quoteVolume":"0","baseVolume":"0","last":"0.0005","bid":null,"ask":"0.105","updated":"2019-07-30T09:23:08.694946"},"ETH_0x1966d71":{"tokenAddr":"0x1966d718a565566e8e202792658d7b5ff4ece469","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:10.781508"},"ETH_0x479ecce":{"tokenAddr":"0x479eccecde65e3350d4b2305e42026f6dbae4a18","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:10.904278"},"ETH_0x3918c42":{"tokenAddr":"0x3918c42f14f2eb1168365f911f63e540e5a306b5","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:16.376609"},"ETH_0x2cc71c0":{"tokenAddr":"0x2cc71c048a804da930e28e93f3211dc03c702995","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:08.814192"},"ETH_0xe88b508":{"tokenAddr":"0xe88b508cbfe9cc110d4aa7a77a93a0c8f06ab6a0","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:04.344401"},"ETH_0x2ab22d3":{"tokenAddr":"0x2ab22d3f1205b9f523ebe80ae2853f7644830760","quoteVolume":"0","baseVolume":"0","last":"0.04","bid":null,"ask":"0.04","updated":"2019-05-23T10:09:51.865198"},"ETH_0x419b8ed":{"tokenAddr":"0x419b8ed155180a8c9c64145e76dad49c0a4efb97","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:04.100686"},"ETH_0xf89baa7":{"tokenAddr":"0xf89baa73f7319bcb8a645f4c7a8e7cdb296acddb","quoteVolume":"0","baseVolume":"0","last":"0.4","bid":null,"ask":"0.4","updated":"2019-07-30T09:23:26.161946"},"ETH_0x7914251":{"tokenAddr":"0x791425156956e39f2ab8ab06b79de189c18e95e5","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:15.906109"},"ETH_0xd7b3669":{"tokenAddr":"0xd7b3669c7d3e38ab5a441383d41f25e003e02148","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:17.813282"},"ETH_0xb5351d8":{"tokenAddr":"0xb5351d809062cf8e2238bbd2c54af905fb55e42d","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":"0.105","updated":"2019-06-19T11:09:49.607830"},"ETH_0x59061b6":{"tokenAddr":"0x59061b6f26bb4a9ce5828a19d35cfd5a4b80f056","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:12.936954"},"ETH_0x411079f":{"tokenAddr":"0x411079f1b50ac2583a458a7cce1d1afdf4f8842e","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:19.116665"},"ETH_0x12b19d3":{"tokenAddr":"0x12b19d3e2ccc14da04fae33e63652ce469b3f2fd","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:18.758290"},"ETH_0x17b2640":{"tokenAddr":"0x17b26400621695c2d8c2d8869f6259e82d7544c4","quoteVolume":"0","baseVolume":"0","last":"9.99999988700000000e-10","bid":null,"ask":"0.0003","updated":"2019-07-30T09:23:11.857242"},"ETH_0x1602af2":{"tokenAddr":"0x1602af2c782cc03f9241992e243290fccf73bb13","quoteVolume":"0","baseVolume":"0","last":"2","bid":null,"ask":null,"updated":"2019-11-07T09:45:16.541497"},"ETH_0xac2385e":{"tokenAddr":"0xac2385e183d9301dd5e2bb08da932cbf9800dc9c","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":null,"updated":"2019-11-07T09:45:21.001895"},"ETH_0xa823e67":{"tokenAddr":"0xa823e6722006afe99e91c30ff5295052fe6b8e32","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":null,"updated":"2019-11-07T09:45:14.277761"},"ETH_0xdeefce3":{"tokenAddr":"0xdeefce3b8a5f16dc53ded24e0d3b9a90a60154a2","quoteVolume":"0.1000000000","baseVolume":"0.001000000000","last":"0.01","bid":null,"ask":null,"updated":"2019-08-28T12:28:09.312256"},"ETH_0x4a42d2c":{"tokenAddr":"0x4a42d2c580f83dce404acad18dab26db11a1750e","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-11-07T09:45:11.803523"},"ETH_0x316e7d7":{"tokenAddr":"0x316e7d7f3d9584b276fb68028b74fcdbaec56481","quoteVolume":"0","baseVolume":"0","last":"0.209","bid":"0.04","ask":"100","updated":"2019-11-07T09:45:28.431753"},"ETH_0x8040d35":{"tokenAddr":"0x8040d35ed6c82f75b1078cf5eb93a2cfd34b2bd8","quoteVolume":"0","baseVolume":"0","last":"0.0045","bid":"1.2100000000e-10","ask":"100","updated":"2019-11-07T09:45:08.175543"},"ETH_0x7c70c10":{"tokenAddr":"0x7c70c1093653ca3aa47ac5d8f934125a0aaa1645","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:02.514335"},"ETH_0x21ab6c9":{"tokenAddr":"0x21ab6c9fac80c59d401b37cb43f81ea9dde7fe34","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:15.197237"},"ETH_0x4a61988":{"tokenAddr":"0x4a61988e2d412a0d1983f1685a0ddc9356be3751","quoteVolume":"0","baseVolume":"0","last":"0.000184","bid":null,"ask":null,"updated":"2019-07-30T09:23:23.642698"},"ETH_0x2ca0f61":{"tokenAddr":"0x2ca0f61091e270d3903a20f4d63075abe01562c1","quoteVolume":"0","baseVolume":"0","last":"0.008","bid":null,"ask":"0.007","updated":"2019-07-30T09:23:23.761807"},"ETH_0x5925f67":{"tokenAddr":"0x5925f67d2767d937f47141dac24166b469558222","quoteVolume":"0","baseVolume":"0","last":"0.145","bid":null,"ask":"0.04","updated":"2019-11-07T09:45:16.416992"},"ETH_0x445f512":{"tokenAddr":"0x445f51299ef3307dbd75036dd896565f5b4bf7a5","quoteVolume":"0","baseVolume":"0","last":null,"bid":"2.800000000e-12","ask":null,"updated":"2019-11-07T09:45:28.677863"},"ETH_0x009e864":{"tokenAddr":"0x009e864923b49263c7f10d19b7f8ab7a9a5aad33","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-11-07T09:45:02.186242"},"ETH_0x818fc6c":{"tokenAddr":"0x818fc6c2ec5986bc6e2cbf00939d90556ab12ce5","quoteVolume":"0","baseVolume":"0","last":"2.0000e-7","bid":null,"ask":null,"updated":"2019-08-23T05:57:53.701057"},"ETH_0xa15c7eb":{"tokenAddr":"0xa15c7ebe1f07caf6bff097d8a589fb8ac49ae5b3","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":"0.1","updated":"2019-11-07T09:45:24.957477"},"ETH_0x9e96604":{"tokenAddr":"0x9e96604445ec19ffed9a5e8dd7b50a29c899a10c","quoteVolume":"0","baseVolume":"0","last":"0.0031","bid":null,"ask":null,"updated":"2019-10-31T07:30:24.399931"},"ETH_0x6556d2e":{"tokenAddr":"0x6556d2ec4d96da39cf75cbe50d58fae90079800a","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-11-07T09:45:08.929931"},"ETH_0xea11755":{"tokenAddr":"0xea11755ae41d889ceec39a63e6ff75a02bc1c00d","quoteVolume":"0","baseVolume":"0","last":"0.001","bid":null,"ask":"4","updated":"2019-11-07T09:45:12.298777"},"ETH_0x6fb3e0a":{"tokenAddr":"0x6fb3e0a217407efff7ca062d46c26e5d60a14d69","quoteVolume":"0","baseVolume":"0","last":"0.000065310000","bid":null,"ask":null,"updated":"2019-11-07T09:45:14.026547"},"ETH_0x554c20b":{"tokenAddr":"0x554c20b7c486beee439277b4540a434566dc4c02","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":null,"updated":"2019-11-07T09:45:14.781417"},"ETH_0xa017ac5":{"tokenAddr":"0xa017ac5fac5941f95010b12570b812c974469c2c","quoteVolume":"0","baseVolume":"0","last":"0.1","bid":null,"ask":"0.16","updated":"2019-11-07T09:45:19.143963"},"ETH_0x8329048":{"tokenAddr":"0x832904863978b94802123106e6eb491bdf0df928","quoteVolume":"0","baseVolume":"0","last":"0.125","bid":null,"ask":"0.04","updated":"2019-11-07T09:45:15.408468"},"ETH_0x020c710":{"tokenAddr":"0x020c710646e23ab868dbe5b88004892797fe4efb","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":"0.12","updated":"2019-11-07T09:45:21.760055"},"ETH_0x4cc1935":{"tokenAddr":"0x4cc19356f2d37338b9802aa8e8fc58b0373296e7","quoteVolume":"0","baseVolume":"0","last":"0.105","bid":null,"ask":"0.102","updated":"2019-11-07T09:45:21.876440"},"ETH_0x27695e0":{"tokenAddr":"0x27695e09149adc738a978e9a678f99e4c39e9eb9","quoteVolume":"0","baseVolume":"0","last":"0.000027380000","bid":null,"ask":null,"updated":"2019-08-30T08:36:04.685889"},"ETH_0xc1220ff":{"tokenAddr":"0xc1220ff65747321f41ea6b90e4ac00ef8f2cf2ad","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-09-13T08:43:03.704951"},"ETH_0x8eb3871":{"tokenAddr":"0x8eb38715604b938812dec25a0a1bc05b4becb9ca","quoteVolume":"0","baseVolume":"0","last":"0.2","bid":null,"ask":"0.2","updated":"2019-07-30T09:23:24.240071"},"ETH_0x1b22c32":{"tokenAddr":"0x1b22c32cd936cb97c28c5690a0695a82abf688e6","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:03.234109"},"ETH_0x186a33d":{"tokenAddr":"0x186a33d4dbcd700086a26188dcb74e69be463665","quoteVolume":"0","baseVolume":"0","last":"0.0000160000","bid":null,"ask":"0.0000160000","updated":"2019-07-30T09:23:23.879759"},"ETH_0x840fe75":{"tokenAddr":"0x840fe75abfadc0f2d54037829571b2782e919ce4","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:15.787486"},"ETH_0x5d4abc7":{"tokenAddr":"0x5d4abc77b8405ad177d8ac6682d584ecbfd46cec","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:16.494757"},"ETH_0xeb99510":{"tokenAddr":"0xeb9951021698b42e4399f9cbb6267aa35f82d59d","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:03.863437"},"ETH_0x9423659":{"tokenAddr":"0x94236591125e935f5ac128bb3d5062944c24958c","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:19.597917"},"ETH_0x3125124":{"tokenAddr":"0x3125124e6e3744d52c38952081a4e8407708b30d","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-06-13T05:57:16.661664"},"ETH_0x36dd88a":{"tokenAddr":"0x36dd88a0a0f53c90555087e57f758383978e64b5","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:03.983481"},"ETH_0x0f00c8d":{"tokenAddr":"0x0f00c8dd21da51bc6a6ac07f491a7dbe69746f16","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:07.700527"},"ETH_0xf028ade":{"tokenAddr":"0xf028adee51533b1b47beaa890feb54a457f51e89","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:02.751779"},"ETH_0x908ad64":{"tokenAddr":"0x908ad64d09ae670a919b77da798fbbad2beab16d","quoteVolume":"0","baseVolume":"0","last":"0.1","bid":null,"ask":null,"updated":"2019-07-12T05:21:12.358982"},"ETH_0xebed6da":{"tokenAddr":"0xebed6da3e9355f1aa402f976c054db7bc16be7e0","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-05-17T09:33:15.818403"},"ETH_0xc650f55":{"tokenAddr":"0xc650f5514ae1a3a27930922145ce49e8a91b91ab","quoteVolume":"0","baseVolume":"0","last":"0.00187","bid":null,"ask":null,"updated":"2019-07-14T15:39:36.404264"},"ETH_0x90d2f94":{"tokenAddr":"0x90d2f949ceafedfabd4bbb15c1f70ba9c7a17f2e","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-16T04:44:46.652346"},"ETH_0x3a4b527":{"tokenAddr":"0x3a4b527dcd618ccea50adb32b3369117e5442a2f","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-04T09:51:27.737859"},"ETH_0xf4faea4":{"tokenAddr":"0xf4faea455575354d2699bc209b0a65ca99f69982","quoteVolume":"0","baseVolume":"0","last":"0.02","bid":null,"ask":"0.005","updated":"2019-07-14T15:39:37.023205"},"ETH_0x63bcb98":{"tokenAddr":"0x63bcb9818cdd0c21dea6c83ce89f7138297b5fe2","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-06-13T11:48:11.227195"},"ETH_0x02f61fd":{"tokenAddr":"0x02f61fd266da6e8b102d4121f5ce7b992640cf98","quoteVolume":"0","baseVolume":"0","last":"0.002000000000","bid":null,"ask":null,"updated":"2019-07-30T09:23:22.101009"},"ETH_0x9a005c9":{"tokenAddr":"0x9a005c9a89bd72a4bd27721e7a09a3c11d2b03c4","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":null,"updated":"2019-07-30T09:23:22.215826"},"ETH_0x4527a3b":{"tokenAddr":"0x4527a3b4a8a150403090a99b87effc96f2195047","quoteVolume":"0","baseVolume":"0","last":"0.0000670000","bid":null,"ask":"0.0000670000","updated":"2019-07-30T09:23:24.845346"},"ETH_0xc3f1581":{"tokenAddr":"0xc3f1581c94a0c592a99595d2a55ba4b1f3d6e8cc","quoteVolume":"0","baseVolume":"0","last":"0.00058","bid":null,"ask":null,"updated":"2019-07-30T09:23:24.965581"},"ETH_0xaedf6c8":{"tokenAddr":"0xaedf6c8b3e50bf7ea578d0d30ecce488d72db074","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-05-08T12:33:18.587381"},"ETH_0xcced5b8":{"tokenAddr":"0xcced5b8288086be8c38e23567e684c3740be4d48","quoteVolume":"0","baseVolume":"0","last":"0.1","bid":null,"ask":"0.105","updated":"2019-07-30T09:23:02.994407"},"ETH_0xb7c4a82":{"tokenAddr":"0xb7c4a82936194fee52a4e3d4cec3415f74507532","quoteVolume":"0","baseVolume":"0","last":"0.02","bid":null,"ask":"0.021","updated":"2019-07-30T09:23:25.085823"},"ETH_0x0371a82":{"tokenAddr":"0x0371a82e4a9d0a4312f3ee2ac9c6958512891372","quoteVolume":"0","baseVolume":"0","last":"0.1","bid":"1.500000000e-10","ask":"0.065","updated":"2019-07-30T09:23:25.204587"},"ETH_0xe9f9547":{"tokenAddr":"0xe9f9547c17fc9539df99a42dcb6ec38165994c45","quoteVolume":"0","baseVolume":"0","last":"0.09","bid":null,"ask":"0.09","updated":"2019-07-30T09:23:25.323380"},"ETH_0x764f7e9":{"tokenAddr":"0x764f7e9acf924356510bade45a87a28b8bfc04d8","quoteVolume":"0","baseVolume":"0","last":"0.002","bid":null,"ask":null,"updated":"2019-07-30T09:23:04.584599"},"ETH_0x0ff1610":{"tokenAddr":"0x0ff161071e627a0e6de138105c73970f86ca7922","quoteVolume":"0","baseVolume":"0","last":"0.008","bid":null,"ask":"0.008","updated":"2019-07-30T09:23:25.443199"},"ETH_0x4e12af0":{"tokenAddr":"0x4e12af06ba8e2961e075afa5d0b725f1232778f0","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":null,"updated":"2019-07-10T05:29:54.334936"},"ETH_0x3eb55d5":{"tokenAddr":"0x3eb55d5b22ee0f9b03d59b4994c5ae7fe811be92","quoteVolume":"0","baseVolume":"0","last":"0.0000061999999990000","bid":null,"ask":"0.2","updated":"2019-07-30T09:23:25.562369"},"ETH_0x5cc61ca":{"tokenAddr":"0x5cc61caad7db681207325c504104b080e8963da9","quoteVolume":"0","baseVolume":"0","last":"0.0008","bid":null,"ask":"0.001","updated":"2019-07-30T09:23:05.414855"},"ETH_0x54a9ed3":{"tokenAddr":"0x54a9ed327f2614316914c3f3a782a77d0aa47aee","quoteVolume":"0","baseVolume":"0","last":"0.0000140000","bid":null,"ask":null,"updated":"2019-07-30T09:23:07.344667"},"ETH_0x660e714":{"tokenAddr":"0x660e71483785f66133548b10f6926dc332b06e61","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:08.952691"},"ETH_0x5cc00cc":{"tokenAddr":"0x5cc00cca0692b9b34af816e5439cdb47d3b63691","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:09.439735"},"ETH_0x6025fb1":{"tokenAddr":"0x6025fb154b7c30e13657d5304dafdb55b194e5dd","quoteVolume":"0","baseVolume":"0","last":"0.005","bid":null,"ask":null,"updated":"2019-07-30T09:23:26.274955"},"ETH_0x0d55161":{"tokenAddr":"0x0d5516103752b3954d95621f470a8261151da2e4","quoteVolume":"0","baseVolume":"0","last":"0.1","bid":null,"ask":"0.4","updated":"2019-07-30T09:23:11.259782"},"ETH_0x432bf73":{"tokenAddr":"0x432bf73443909c33b545efed536a5246c9a722ca","quoteVolume":"0","baseVolume":"0","last":"0.2","bid":null,"ask":"0.2","updated":"2019-07-30T09:23:26.395553"},"ETH_0xa628183":{"tokenAddr":"0xa6281838f4a9c5736b2aa1cba9260d3f879623ca","quoteVolume":"0","baseVolume":"0","last":"0.01","bid":null,"ask":"0.01","updated":"2019-07-30T09:23:13.889060"},"ETH_0xf091cf0":{"tokenAddr":"0xf091cf09c51811819db705710e9634b8bf18f164","quoteVolume":"0","baseVolume":"0","last":"0.1","bid":null,"ask":"0.0001","updated":"2019-07-30T09:23:26.633058"},"ETH_0x931ce41":{"tokenAddr":"0x931ce41f5145a501a120e96c73a023e96c742124","quoteVolume":"0","baseVolume":"0","last":"0.1","bid":null,"ask":"0.1","updated":"2019-07-30T09:23:26.747308"},"ETH_0x30c6fe3":{"tokenAddr":"0x30c6fe3ac0260a855c90cab79aa33e76091d4904","quoteVolume":"0","baseVolume":"0","last":"0.02","bid":null,"ask":"0.0069","updated":"2019-07-24T14:00:06.771751"},"ETH_0x790bfac":{"tokenAddr":"0x790bfacae71576107c068f494c8a6302aea640cb","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-07-30T09:23:27.345093"},"ETH_0x3503be8":{"tokenAddr":"0x3503be8049ff6ce3235a4c9087f4f6f5da63eac6","quoteVolume":"0","baseVolume":"0","last":"4.30000e-7","bid":null,"ask":"4.30000e-7","updated":"2019-07-30T09:23:17.100540"},"ETH_0x83eea00":{"tokenAddr":"0x83eea00d838f92dec4d1475697b9f4d3537b56e3","quoteVolume":"0","baseVolume":"0","last":null,"bid":"2.00000000e-9","ask":null,"updated":"2019-11-07T09:45:14.527914"},"ETH_0x92b914f":{"tokenAddr":"0x92b914f1ddcbb1d117a718e83c9ed7eb32fc44d1","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-11-07T09:45:30.066065"},"ETH_0x4a57e68":{"tokenAddr":"0x4a57e687b9126435a9b19e4a802113e266adebde","quoteVolume":"0","baseVolume":"0","last":null,"bid":null,"ask":null,"updated":"2019-11-07T09:45:29.812596"},"ETH_0xa44e513":{"tokenAddr":"0xa44e5137293e855b1b7bc7e2c6f8cd796ffcb037","quoteVolume":"0","baseVolume":"0","last":null,"bid":"6.00000000e-12","ask":null,"updated":"2019-11-07T09:45:01.185715"},"ETH_0x7b0c060":{"tokenAddr":"0x7b0c06043468469967dba22d1af33d77d44056c8","quoteVolume":"0","baseVolume":"0","last":null,"bid":"2.00000000e-12","ask":null,"updated":"2019-11-07T09:45:01.309216"},"ET
[...]
