---
http_interactions:
- request:
    method: get
    uri: https://api.coinone.co.kr/trades/?currency=eth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Last-Modified:
      - Wed, 14 Mar 2018 14:16:28 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"0","timestamp":"1521036988","completeOrders":[{"timestamp":"1521033485","price":"727600","qty":"4.2066"},{"timestamp":"1521033487","price":"729800","qty":"0.0142"},{"timestamp":"1521033535","price":"729700","qty":"0.0734"},{"timestamp":"1521033564","price":"729400","qty":"0.0105"},{"timestamp":"1521033577","price":"729300","qty":"0.0121"},{"timestamp":"1521033578","price":"729300","qty":"1.0000"},{"timestamp":"1521033584","price":"729300","qty":"0.0100"},{"timestamp":"1521033589","price":"729300","qty":"0.0100"},{"timestamp":"1521033596","price":"729300","qty":"0.0100"},{"timestamp":"1521[...]
