---
http_interactions:
- request:
    method: get
    uri: https://api.coinone.co.kr/orderbook/?currency=eth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Last-Modified:
      - Wed, 14 Mar 2018 14:16:27 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"1521036987","bid":[{"price":"730600","qty":"1.9874"},{"price":"730500","qty":"1.1294"},{"price":"730100","qty":"1.0008"},{"price":"730000","qty":"30.6000"},{"price":"729000","qty":"5.0000"},{"price":"728100","qty":"0.3727"},{"price":"728000","qty":"10.1275"},{"price":"727500","qty":"10.0000"},{"price":"727200","qty":"5.0000"},{"price":"727000","qty":"5.9400"},{"price":"726000","qty":"2.2340"},{"price":"725000","qty":"17.3011"},{"price":"723800","qty":"14.0000"},{"price":"723700","qty":"0.0500"},{"price":"723000","qty":"0.0300"},{"price":[...]
