---
http_interactions:
- request:
    method: get
    uri: https://api.coinone.co.kr/ticker?currency=eth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Last-Modified:
      - Tue, 03 Oct 2017 04:04:34 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"result":"success","volume":"31486.8141","last":"341250","yesterday_last":"340400","timestamp":"1507003474","yesterday_low":"337950","high":"343950","currency":"eth","low":"337050","errorCode":"0","yesterday_first":"338450","yesterday_volume":"45680.9985","yesterday_high":"344300","first":"342700"}'
  recorded_at: Tue, 03 Oct 2017 04:04:34 GMT
recorded_with: VCR 3.0.3
