---
http_interactions:
- request:
    method: get
    uri: https://aliencloud.xyz/api/1.0/trade/pairs/eth_btc/history
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"tradeType":"limit","directionType":"sell","price":0.029289,"amount":0.075,"tradeTime":1542916566,"eventTimeMicro":"Q00000U"},{"tradeType":"limit","directionType":"sell","price":0.029289,"amount":0.295,"tradeTime":1542916566,"eventTimeMicro":"Q00000U"},{"tradeType":"limit","directionType":"sell","price":0.029289,"amount":1.321,"tradeTime":1542916566,"eventTimeMicro":"Q00000U"},{"tradeType":"limit","directionType":"sell","price":0.029299,"amount":0.13,"tradeTime":1542916605,"eventTimeMicro":"Q00000U"},{"tradeType":"limit","directionType":"sell","price":0.029389,"amount":1.419,"tradeTime":1542916646,"eventTime[...]
