---
http_interactions:
- request:
    method: get
    uri: https://aliencloud.xyz/api/1.0/trade/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"pairName":"xem_btc","openValue":1.866e-5,"minValue":1.82e-5,"maxValue":1.866e-5,"closeValue":1.862e-5,"volume":27.52477034},{"pairName":"dash_eth","openValue":0.74872,"minValue":0.74866,"maxValue":0.82916,"closeValue":0.8231,"volume":2177.24389959},{"pairName":"agi_eth","openValue":0.00028943,"minValue":0.0002873,"maxValue":0.00029224,"closeValue":0.00029224,"volume":1101.83403944},{"pairName":"vet_btc","openValue":1.25e-6,"minValue":1.21e-6,"maxValue":1.26e-6,"closeValue":1.26e-6,"volume":44.52402359},{"pairName":"icx_usd","openValue":0.2969,"minValue":0.2904,"maxValue":0.302,"closeValue":0.2947,"volume[...]
