---
http_interactions:
- request:
    method: get
    uri: https://api.synthetix.io/api/exchange/transactions/SBTC-SETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c2-HQxKNF1PaeVO7lD9YlzrLv3qt7w"
    body:
      encoding: UTF-8
      string: '[{"type":"sell","amount":0.000703,"rate":37.70273676260783,"ts":"2019-06-28T08:30:42.000Z"},{"type":"sell","amount":0.9003739934052251,"rate":37.91459345566933,"ts":"2019-06-28T06:49:53.000Z"},{"type":"buy","amount":0.8035562361273265,"rate":36.87682533178044,"ts":"2019-06-27T22:04:41.000Z"},{"type":"sell","amount":0.6847823355290763,"rate":37.43034303665134,"ts":"2019-06-27T19:19:46.000Z"},{"type":"sell","amount":0.6771189392949509,"rate":37.713138904034174,"ts":"2019-06-27T18:58:47.000Z"},{"type":"buy","amount":0.3470486763925195,"rate":38.23540963615068,"[...]
