---
http_interactions:
- request:
    method: get
    uri: https://tokpie.com/api_ticker/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"updated": "04.07.2019 04:38 UTC", "at_first24": null, "quoteVolume":
        "0.00", "high24hr": null, "isFrozen": 1, "highestBid": null, "percentChange":
        null, "low24hr": null, "pair": "BFC_Stake_Bitcointalk_signature_15pc@ETH",
        "last": "0.0128", "avg": null, "lowestAsk": null, "id": 1451, "baseVolume":
        "0.00"}, {"updated": "04.07.2019 04:38 UTC", "at_first24": null, "quoteVolume":
        "0.00", "high24hr": null, "isFrozen": 1, "highestBid": null, "percentChange":
        null, "low24hr": null, "pair": "BFC_Stake_Facebook_15pc@ETH", "last": "0.000115",
        "avg": null, "lowestAsk": null, "id": 1393, "baseVolume": "0.00"}, {"updated":
        "04.07.2019 04:38 UTC", "at_first24": null, "quoteVolume": "0.00", "high24hr":
        null, "isFrozen": 1, "highestBid": null, "percentChan[...]
