---
http_interactions:
- request:
    method: get
    uri: https://tokpie.com/api_ticker/?market=CRAD@ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"is_ok": true, "result": {"updated": "04.07.2019 04:38 UTC", "at_first24":
        "0.00061", "quoteVolume": "1.4592288", "high24hr": "0.00077", "isFrozen":
        0, "highestBid": "0.000478", "percentChange": "24.59%", "low24hr": "0.000478",
        "pair": "CRAD@ETH", "last": "0.00076", "avg": "0.000726852361028093", "lowestAsk":
        "0.00076", "id": 36278, "baseVolume": "2007.60"}}'
  recorded_at: Thu, 04 Jul 2019 04:38:50 GMT
recorded_with: VCR 4.0.0
