---
http_interactions:
- request:
    method: get
    uri: https://api.eterbase.exchange/api/markets/33/trades?limit=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '19'
      X-Ratelimit-Limit-Second:
      - '20'
    body:
      encoding: UTF-8
      string: '[{"id":6207961,"side":1,"price":275,"executedAt":1562277269630,"qty":1.2689433,"makerId":"f82f3a71-832d-4b46-8dcb-f6e708f09887","takerId":"c354f528-a664-45c6-92a5-59da05ba54b0"},{"id":6207937,"side":1,"price":275,"executedAt":1562277089482,"qty":0.8666444,"makerId":"f82f3a71-832d-4b46-8dcb-f6e708f09887","takerId":"8ab9c67f-737e-42cb-b35c-05640b856017"},{"id":6207345,"side":1,"price":276,"executedAt":1562273051373,"qty":0.05,"makerId":"ee0d2b66-8442-46e9-a97c-7c5189138891","takerId":"b9ce7964-9985-4b8a-a4b9-5798f6e80a77"},{"id":6207313,"side":2,"price":281,"executedAt":1562273008809,"qty":1.05414915,"makerId":"00ec8bb2-a452-4324-bc[...]
