---
http_interactions:
- request:
    method: get
    uri: https://api.eterbase.exchange/api/markets/33/order-book
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '19'
      X-Ratelimit-Limit-Second:
      - '20'
    body:
      encoding: UTF-8
      string: '{"type":"ob_snapshot","marketId":33,"timestamp":1574230795093,"bids":[[173.9811,0.006,1],[166.4552,0.006,1],[165.1271,0.006,1],[1,25,1],[10,5.17,1],[171.3249,0.006,1],[161.1428,0.006,1],[164.2046,0.006,1],[176.06383,0.006,1],[172.653,0.006,1],[176.83783,0.006,1],[175.3092,0.006,1],[175.44886,0.006,1],[172.2103,0.006,1],[175.7519,0.006,1],[176.1548,0.006,1],[168.226,0.006,1],[163.799,0.006,1],[174.83112,0.006,1],[168.6687,0.006,1],[160.7001,0.006,1],[176.23212,0.006,1],[161.5855,0.006,1],[174.20485,0.006,1],[173.40352,0.006,1],[169.9968,0.006,1],[162.0282,0.006,1],[174.29816,0.006,1],[174.58964,0.006,1],[162.4709,0.006,1],[166.0125,0.006,1],[169.5541,0.006,1],[173.7684,0.006,1],[163.3563,0.006,1],[176.5314,0.006,1],[170.8436,0.006,1],[169.1114,0.006,1],[160.2574,0.006,1],[173.0957,0.006,1],[175.27415,0.006,1],[174.8665,0.006,1],[171.7676,0.006,1],[170.401,0.006,1],[167.7833,0.006,1],[174.27513,5,1],[159.372,0.006,1],[175.33127,0.006,1],[176.10874,1,1],[158.9293,0.006,1],[174.49738,0.006,1],[173.5384,0.006,1],[174.4238,0.006,1],[173.5015,0.006,1],[165.5698,0.006,1],[176.38736,0.006,1],[159.8147,0.006,1],[175.89292,0.006,1],[164.6844,0.006,1],[167.3406,0.006,1],[175.06197,0.006,1],[175.70285,0.006,1],[166.8979,0.006,1],[162.8768,0.006,1],[173.88555,0.006,1]],"asks":[[205.4128,0.006,1],[208.069,5,1],[177.33326,0.006,1],[185.76368,3,1],[191.2464,0.012,2],[178.20164,0.0437,1],[196.5588,0.012,2],[178.76293,0.006,1],[151235,0.02,1],[179.46914,0.006,1],[182.8351,0.006,1],[210.7252,5,1],[202.7566,0.006,1],[179.08761,0.006,1],[185.0486,0.006,1],[200.1004,0.006,1],[178.18919,0.1083,1],[193.9026,0.012,2],[201.8712,0.006,1],[181.466,0.006,1],[183.27745,1,1],[178.10613,0.006,1],[193.4599,0.006,1],[184.42375,2,1],[185.934,0.012,2],[213.3814,5,1],[197.4442,0.012,2],[194[...]
