---
http_interactions:
- request:
    method: get
    uri: https://api.eterbase.exchange/api/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '19'
      X-Ratelimit-Limit-Second:
      - '20'
    body:
      encoding: UTF-8
      string: '[{"time":1569296721014,"marketId":161,"price":111.0,"change":0.0,"volumeBase":0.0,"volume":0.0,"low":0.0,"high":0.0},{"time":1569296721016,"marketId":33,"price":202.95385,"change":-4.27,"volumeBase":0.43971485,"volume":91.912189,"low":202.95385,"high":213.77542},{"time":1569296721018,"marketId":194,"price":76.698252,"change":0.0,"volumeBase":17.3731418,"volume":1388.44,"low":76.698252,"high":83.41935},{"time":1569296721019,"marketId":37,"price":2.48E-6,"change":3.33,"volumeBase":67641.129,"volume":0.16499998999999999,"low":2.4E-6,"high":2.48E-6},{"time":1569296721021,"marketId":165,"price":19.527693,"chan[...]
