---
http_interactions:
- request:
    method: get
    uri: https://api.eterbase.exchange/api/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '19'
      X-Ratelimit-Limit-Second:
      - '20'
    body:
      encoding: UTF-8
      string: '[{"time":1562300934073,"marketId":33,"price":275.0,"change":-5.17,"volume":953.841261,"low":275.0,"high":290.0},{"time":1562300934076,"marketId":66,"price":100.0,"change":0.0,"volume":2121.0,"low":100.0,"high":100.0},{"time":1562300934078,"marketId":4,"price":0.0,"change":0.0,"volume":0.0,"low":0.0,"high":0.0},{"time":1562300934083,"marketId":37,"price":3.0E-5,"change":0.0,"volume":0.03,"low":3.0E-5,"high":3.0E-5},{"time":1562300934085,"marketId":70,"price":0.0,"change":0.0,"volume":0.0,"low":0.0,"high":0.0},{"time":1562300934089,"marketId":8,"price":11500.0,"change":0.0,"volume":0.0,"low":0.0,"hig[...]
