---
http_interactions:
- request:
    method: get
    uri: https://api.eterbase.exchange/api/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '19'
      X-Ratelimit-Limit-Second:
      - '20'
    body:
      encoding: UTF-8
      string: '[{"id":33,"state":"Trading","symbol":"ETHUSDT","base":"ETH","quote":"USDT","priceSigDigs":8,"qtySigDigs":8,"costSigDigs":8,"group":"SC","tradingRules":[{"attribute":"Qty","condition":"Min","value":0.01},{"attribute":"Qty","condition":"Max","value":900},{"attribute":"Cost","condition":"Min","value":10},{"attribute":"Cost","condition":"Max","value":250000}],"allowedOrderTypes":[1,2,3,4]},{"id":66,"state":"Trading","symbol":"VIDTXBASE","base":"VIDT","quote":"XBASE","priceSigDigs":8,"qtySigDigs":8,"costSigDigs":8,"group":"XBASE","tradingRules":[{"attribute":"Qty","condition":"Min","value":10},{"attribute":"Qty","condition":"Max","value":500000},{"attribute":"Cost","condition":"Min","value":50},{"attribute":"Cost","condition":"Max","value":10000000}],"allowedOrderTypes":[1,2,3,4]},{"id":4,"state":"Trading","symbol":"BATXBASE","base":"BAT","quote":"XBASE","priceSigDigs":8[...]
