---
http_interactions:
- request:
    method: get
    uri: https://api.biki.com/open/api/get_allticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"date":1554802267574,"ticker":[{"symbol":"bikiusdt","high":"0.012794","vol":"24624672.99626253","last":0.0126600000000000,"low":"0.012525","buy":0.012652,"sell":0.012679,"change":"-0.00252127","rose":"-0.00252127"},{"symbol":"attusdt","high":"0.003139","vol":"986724800.82758983","last":0.0028600000000000,"low":"0.002623","buy":0.002854,"sell":0.002869,"change":"0.07412954","rose":"0.07412954"},{"symbol":"bnbbtc","high":"0.00369991","vol":"7511.9604","last":0.0036071900000000,"low":"0.00357595","buy":0.00359661,"sell":0.00361727,"change":"-0.00037706","rose":"-0.00037706"},{"symbol":"htbtc","high":"0.00052967","vol":"281441.5392813649563","last":0.0005148500000000,"low":"0.00050572","buy":0.0[...]
