---
http_interactions:
- request:
    method: get
    uri: https://api.biki.com/open/api/market_dept?symbol=btcusdt&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"tick":{"asks":[[6297.0505,0.0142],[6297.2358,0.0024],[6297.3501,0.0022],[6297.6529,0.0046],[6297.9399,0.0002],[6298.2371,0.02],[6298.338,0.0006],[6298.4057,0.0412],[6298.4397,0.1062],[6298.6111,0.0034],[6298.6456,0.0466],[6298.9244,0.0076],[6298.9595,0.018],[6298.9948,0.0546],[6305.475,1.428],[6307,0.002],[6315.6332,0.41],[6325.7914,0.906],[6335.9496,1.566],[6341.2254,3.38],[6350,0.1078],[6351.3755,1.63],[6361.5256,3.696],[6371.6757,2.61],[6381.8258,1.022],[6388,0.1],[6391.9759,0.392],[6397,0.004],[6402.126,2.294],[6409.4405,2.74],[6419.586,2.492],[6429.7315,3.542],[6435.257,3.058],[6445.395,0.858],[6455.533,3.492],[6465.671,1.616],[6468.4975,1.95],[6478.64,1.428],[6488.7825,0.312],[6497,0.004],[6498.925,2.822],[6500,0.2],[6509.0675,0.352],[6519.21,3.148],[6529.3525,0.156],[6539.495,1.576],[6549.6375,2.39],[6559.78,1.662],[6569.9225,3.96],[6580.065,2.522],[6590.2075,3.99],[6800,0.2],[7400,0.0042],[7775,0.0544],[7900,0.03841203],[8000,0.1001]],"bids":[[6291.3495,0.168],[6291.2465,0.0018],[6291.0499,0.012],[6290.9612,0.12],[6290.7471,0.0384],[6290.4601,0.02],[6290.2961,0.05],[6290.263,0.0502],[6290.062,0.0288],[6289.9603,0.0014],[6289.8577,0.012],[6289.7889,0.001],[6289.7544,0.2862],[6289.5458,0.0018],[6285.425,1.522],[6282.9505,1.4964],[6275.2668,2.548],[6265.1086,2.314],[6254.9504,0.756],[6244.7922,1.97],[6242.4628,1.042],[6232.3085,3.362],[6222.1542,3.138],[6219.6744,1.802],[6209.5243,3.39],[6203.1,0.584],[6199.3742,3.104],[6196.3642,0.000[...]
