---
http_interactions:
- request:
    method: get
    uri: https://tokenjar.io/api/cmc/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"THETA_WETH":{"baseVolume":"19852.981200000000000000","high24hr":"0.00037900","highestBid":"0.0000437000","id":"0387","isFrozen":"0","last":"0.00035200","low24hr":"0.00034900","lowestAsk":"0","percentChange":"0.00859599","quoteVolume":"7.22648515680000000000000000"},"DGTX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000230000","id":"0398","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"STAC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000142000","id":"0238","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ETHOS_WETH":{"baseVolume":"465.00000000","high24hr":"0.00354917","highestBid":"0","id":"0375","isFrozen":"0","last":"0.00354917","low24hr":"0.00354917","lowestAsk":"0.0044760000","percentChange":"0E-8","quoteVolume":"1.6503640500000000"},"LUC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000080000","id":"0386","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"JOY_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000300000","id":"0592","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"GES_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000270000","id":"0272","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"FMF_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000120000","id":"0376","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"SNT_WETH":{"baseVolume":"15990.549908184070845094","high24hr":"0.00016203","highestBid":"0.0001533600","id":"0382","isFrozen":"0","last":"0.00016203","low24hr":"0.00016203","lowestAsk":"0.0001564500","percentChange":"0E-8","quoteVolume":"2.59094880162306499903058082"},"CIX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0381","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ZRX0_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0241","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"BDP_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0392","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"INV_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000830000","id":"0533","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"HADE_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000045000","id":"0362","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ANK_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"3.00E-8","id":"0380","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0004000000","percentChange":"0","quoteVolume":"0"},"LYS_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000327800","id":"0388","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"DATBOI_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0384","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"IOX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000049000","id":"0391","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0000061100","percentChange":"0","quoteVolume":"0"},"ZIL_WETH":{"baseVolume":"55262.160947880804","high24hr":"0.00017014","highestBid":"0.0001688600","id":"0404","isFrozen":"0","last":"0.00017014","low24hr":"0.00016900","lowestAsk":"0.0001690000","percentChange":"0.00674556","quoteVolume":"9.37080463193214793428"},"FACE_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000241000","id":"0237","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"BPT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0003400000","id":"0378","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ROOTS_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000030000","id":"0367","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0000170000","percentChange":"0","quoteVolume":"0"},"GNT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0009560000","id":"0293","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"HQX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000437000","id":"0373","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"WED_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"2.00E-8","id":"0403","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"POW_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"2.00E-8","id":"0538","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0000010000","percentChange":"0","quoteVolume":"0"},"MOAT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000079500","id":"0245","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"DALA_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000650000","id":"0401","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0000990000","percentChange":"0","quoteVolume":"0"},"STORM_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000455400","id":"0580","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0000464600","percentChange":"0","quoteVolume":"0"},"YESTERDAY_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000020000","id":"0291","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"PPC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000140000","id":"0220","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"MRL_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"4.500E-7","id":"0499","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"5.000E-7","percentChange":"0","quoteVolume":"0"},"SIM_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0287","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"PCL_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000072000","id":"0353","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"EXC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0012400000","id":"0218","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"STK_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"3.00E-8","id":"0430","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ODEM_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0001000000","id":"0374","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"FCN_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0348","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"NN_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0204","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"W2TW_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000100000","id":"0203","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"EXY_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0002110000","id":"0209","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ETHCS_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0359","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"DOCT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000080100","id":"0413","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"DENT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000121000","id":"0423","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0000608000","percentChange":"0","quoteVolume":"0"},"RPT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"1.300E-7","id":"0371","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"MNTP_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0016000000","id":"0198","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ECB_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000093700","id":"0427","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0001000000","percentChange":"0","quoteVolume":"0"},"CHSB_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000306000","id":"0343","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"YLC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0351","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"BBK0_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0277","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"OMG_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0180000000","id":"0347","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0187380000","percentChange":"0","quoteVolume":"0"},"BRM_WETH":{"baseVolume":"15153001.948179079999293764","high24hr":"0.00005548","highestBid":"0.0000081000","id":"0216","isFrozen":"0","last":"0.00005260","low24hr":"0.00005031","lowestAsk":"0","percentChange":"0.04551779","quoteVolume":"801.518038048932436562643646780"},"DROP_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000091800","id":"0379","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ICT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"1.00E-8","id":"0268","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"QWS_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0518","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"XYO_WETH":{"baseVolume":"4400303.070122639993383554","high24hr":"0.00000929","highestBid":"0.0000053000","id":"0482","isFrozen":"0","last":"0.00000929","low24hr":"0.00000895","lowestAsk":"0","percentChange":"0.03798883","quoteVolume":"40.13076399951847673965801248"},"BAX_WETH":{"baseVolume":"603862.209472899999914040","high24hr":"0.00000400","highestBid":"0.0000011000","id":"0225","isFrozen":"0","last":"0.00000400","low24hr":"0.00000379","lowestAsk":"0.0000310000","percentChange":"0.05540897","quoteVolume":"2.352043305896945499665185800"},"SEELE_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0002020000","id":"0564","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"FTC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0369","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"DAGT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0421","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"MDTK_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000240000","id":"0344","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"HLI_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0476","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"TKR_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000395100","id":"0393","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0000403000","percentChange":"0","quoteVolume":"0"},"CEHH_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0187","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"SGP_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"3.00E-8","id":"0364","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"SPX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"6.000E-7","id":"0507","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0000382600","percentChange":"0","quoteVolume":"0"},"BBO_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000275000","id":"0477","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"MOLK_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"1.00E-8","id":"0354","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ARTIS0_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0534","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"HT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0337","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"CEDEX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0005000000","id":"0491","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"PRO_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0259","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"BNTY_WETH":{"baseVolume":"84540.469400000000000000","high24hr":"0.00007055","highestBid":"0.0000671300","id":"0470","isFrozen":"0","last":"0.00007055","low24hr":"0.00006848","lowestAsk":"0.0000684800","percentChange":"0.03022780","quoteVolume":"5.876830730341000000000000000"},"FND_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000620000","id":"0586","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0003000000","percentChange":"0","quoteVolume":"0"},"MYB0_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000850000","id":"0341","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"MYB_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0001230000","id":"0342","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"NPER_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000299400","id":"0318","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"IVY_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0002020000","id":"0315","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"LEND_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"1.000E-7","id":"0319","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0000668000","percentChange":"0","quoteVolume":"0"},"WHEN_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"1.00E-8","id":"0457","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"RP_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0584","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"SKB_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000077600","id":"0460","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ZCN_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000500000","id":"0310","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"VTC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0311","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"AIR_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000070000","id":"0588","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"VRT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0001230000","id":"0177","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"GGCT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0453","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"PEW_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0166","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"FALC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0370","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ARCD_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0570","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0001000000","percentChange":"0","quoteVolume":"0"},"WKC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"3.00E-8","id":"0298","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"GMV_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"4.00E-8","id":"0372","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"HORSE_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000072000","id":"0574","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0001900000","percentChange":"0","quoteVolume":"0"},"AVX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000080000","id":"0576","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"RE_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"1.000E-7","id":"0325","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"FOOD_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000110000","id":"0569","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"DCO_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0213","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"VEN_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0288","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"BOUTS_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000100000","id":"0168","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"CMCT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000790200","id":"0314","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0000955500","percentChange":"0","quoteVolume":"0"},"PLT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0494","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"LHBC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000730000","id":"0276","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"JOY0_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0309","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ENG_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0031230000","id":"0282","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"APIS_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000017000","id":"0273","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"CAF_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0496","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"BID_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0010000000","id":"0560","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"EDR_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"3.00E-8","id":"0189","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"RIPT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000101000","id":"0594","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"RLC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000351000","id":"0196","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0035000000","percentChange":"0","quoteVolume":"0"},"EBCG_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0587","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"EMTQ_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0278","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"PIB_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"3.00E-8","id":"0280","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0001500000","percentChange":"0","quoteVolume":"0"},"SWM_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0003000000","id":"0563","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"PMA_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000011100","id":"0346","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"DRG_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0004700000","id":"0296","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"NEC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0185","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"GPT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000023000","id":"0269","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"CNX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0554","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0009000000","percentChange":"0","quoteVolume":"0"},"0XBCH_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"1.000E-7","id":"0577","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0010057000","percentChange":"0","quoteVolume":"0"},"WYV_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0333","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"QUA_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0258","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"OCN_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0468","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"MIO_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"3.00E-8","id":"0299","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"EXY6_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0488","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"GPN_WETH":{"baseVolume":"251161.999999999999846152","high24hr":"0.00030900","highestBid":"5.00E-8","id":"0336","isFrozen":"0","last":"0.00000420","low24hr":"0.00000112","lowestAsk":"0.0000044000","percentChange":"-0.52914798","quoteVolume":"38.94517971999999997614432912"},"PAL_WETH":{"baseVolume":"31795114.960197359999786720","high24hr":"0.00005891","highestBid":"0.0000601200","id":"0527","isFrozen":"0","last":"0.00004835","low24hr":"0.00003744","lowestAsk":"0","percentChange":"-0.00677896","quoteVolume":"1531.729663207507817989725236000"},"GBT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0573","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"BETEX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000100000","id":"0339","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0009900000","percentChange":"0","quoteVolume":"0"},"CANDY_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0552","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"PAR_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"9.00E-8","id":"0297","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"9.000E-7","percentChange":"0","quoteVolume":"0"},"MLN_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0510000000","id":"0547","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0800000000","percentChange":"0","quoteVolume":"0"},"AION_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0030195000","id":"0262","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0030805100","percentChange":"0","quoteVolume":"0"},"BLO_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"1.700E-7","id":"0266","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ARYS_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0254","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ATOM_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"3.000E-7","id":"0549","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ECX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0581","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"PXT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0003000000","id":"0191","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"TIX_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0003230000","id":"0555","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0013680000","percentChange":"0","quoteVolume":"0"},"FREC_WETH":{"baseVolume":"504.000000000000000000","high24hr":"0.00002083","highestBid":"5.00E-8","id":"0275","isFrozen":"0","last":"0.00002083","low24hr":"0.00001206","lowestAsk":"0.0000250000","percentChange":"0.72719735","quoteVolume":"0.008288280000000000000000000"},"EXY10_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0557","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"BZNT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000900000","id":"0324","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"FSBT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0012900000","id":"0289","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0015900000","percentChange":"0","quoteVolume":"0"},"SKM_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000720000","id":"0160","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"BAT_WETH":{"baseVolume":"1021292.797240477313837980","high24hr":"0.00051903","highestBid":"0.0004812500","id":"0450","isFrozen":"0","last":"0.00050000","low24hr":"0.00048094","lowestAsk":"0.0004460000","percentChange":"0.03963072","quoteVolume":"510.631079228280049759282430300"},"CONE_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0330","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"E10_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0042000000","id":"0536","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0077000000","percentChange":"0","quoteVolume":"0"},"VME_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000110000","id":"0246","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ATA_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0247","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"SUB_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0005445100","id":"0229","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0.0005555000","percentChange":"0","quoteVolume":"0"},"ZRX_WETH":{"baseVolume":"67084.920483793023803417","high24hr":"0.00200000","highestBid":"0.0021665900","id":"0230","isFrozen":"0","last":"0.00173874","low24hr":"0.00173874","lowestAsk":"0.0018980000","percentChange":"-0.06660368","quoteVolume":"125.40653780478816490739363729"},"WZI_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000010000","id":"0256","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"EPL_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000035000","id":"0307","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"LNC_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000130300","id":"0308","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"KICK_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000450000","id":"0286","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"KMR_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0537","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"ARB_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0001000000","id":"0539","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"BTK_WETH":{"baseVolume":"783421.685627359995096254","high24hr":"1.9E-7","highestBid":"9.00E-8","id":"0233","isFrozen":"0","last":"1.9E-7","low24hr":"1.8E-7","lowestAsk":"0","percentChange":"0.05555556","quoteVolume":"0.144933011841061599092806990"},"PMNT_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0.0000410000","id":"0529","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0","quoteVolume":"0"},"VICO_WETH":{"baseVolume":"0","high24hr":"0","highestBid":"0","id":"0513","isFrozen":"0","last":"0","low24hr":"0","lowestAsk":"0","percentChange":"0
[...]
