---
http_interactions:
- request:
    method: get
    uri: https://ax.net/api/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"268a-joQEf2lQ1K57FPEzWgWPLbla9qc"
    body:
      encoding: UTF-8
      string: '{"ADA_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"BCH_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"BNB_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"DASH_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"EOS_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"ETC_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"ETH_BTC":{"highestBid":0.025,"lowestAsk":0.023,"quoteVolume":2,"baseVolume":0.049,"last":0.025,"percentChange":0,"high":0.025,"low":0.024},"LTC_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"POLY_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"QTUM_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"XLM_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"XMR_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"XRP_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"ZEC_BTC":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"ADA_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"BCH_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"BNB_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0.00013293749808141237,"percentChange":0,"high":0,"low":0},"DASH_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"EOS_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"ETC_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"LTC_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"POLY_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0.00000279461794563931,"percentChange":0,"high":0,"low":0},"QTUM_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"XLM_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"XMR_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"XRP_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"ZEC_ETH":{"highestBid":0,"lowestAsk":0,"quoteVolume":0,"baseVolume":0,"last":0,"percentChange":0,"high":0,"low":0},"TUSD_ETH":{"last":0.001,"lowestAsk":0.001,"highestBid":0.001,"percentChange":-0.17647058823529413,"baseVolume":0.34,"quoteVolume":280,"high":0.0015,"low":0.001},"AXN_ETH":{"last":0.001,"lowestAsk":0.00095,"highestBid":1,"percentChange":-0.9989460569129267,"baseVolume":1.054,"quoteVolume":55,"high":1,"low":0.001},"ZRX_ETH":{"last":1,"lowestAsk":1,"highestBid":1,"percentChange":0,"baseVolume":2,"quoteVolume":2,"high":1,"low":1},"ZIL_ETH":{"last":5.2837549337635e-7,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"BAT_ETH":{"last":0.00000274133638328203,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"IOST_ETH":{"last":1.8737349428977e-7,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"WTC_ETH":{"last":0.00005255338100506336,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"LINK_ETH":{"last":0.00000429449392599673,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"WAX_ETH":{"last":9.4841180995958e-7,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"POWR_ETH":{"last":0.00000250245737871356,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"KNC_ETH":{"last":0.00000671880501325295,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"ENG_ETH":{"last":0.00000912002742348768,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"CMT_ETH":{"last":0.00000135601576199276,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"SUB_ETH":{"last":0.00000252554605573505,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"VERI_ETH":{"last":0.000379374250517824,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"CVC_ETH":{"last":0.00000163130383417204,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"GTO_ETH":{"last":0.00000109049597624565,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"SALT_ETH":{"last":0.00000619664570215161,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"DRGN_ETH":{"last":0.00000255387187034413,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"BLZ_ETH":{"last":0.00000163840804248635,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"REQ_ETH":{"last":5.621204828693e-7,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"NVT_ETH":{"last":0,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"RDN_ETH":{"last":0.00000490570151531669,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"DATA_ETH":{"last":4.7405545905622e-7,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"AXN_TUSD":{"last":0,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"BNB_TUSD":{"last":0.03646030765777522,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"ZRX_TUSD":{"last":0.0025329881585737482,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"ZIL_TUSD":{"last":0.00014491571847946726,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"BAT_TUSD":{"last":0.0007518568452875892,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"IOST_TUSD":{"last":0.00005139027999860101,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"WTC_TUSD":{"last":0.01441363398254601,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"LINK_TUSD":{"last":0.0011778359908684096,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"WAX_TUSD":{"last":0.00026011762577490935,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"POWR_TUSD":{"last":0.0006863403271851073,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"KNC_TUSD":{"last":0.0018427434050683185,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"POLY_TUSD":{"last":0.0007664701950502247,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"ENG_TUSD":{"last":0.0025013183677044188,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"CMT_TUSD":{"last":0.0003719097514590699,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"SUB_TUSD":{"last":0.000692672778748916,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"VERI_TUSD":{"last":0.10404966311948208,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"CVC_TUSD":{"last":0.0004474120585660192,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"GTO_TUSD":{"last":0.0002990865584752703,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"SALT_TUSD":{"last":0.0016995325773944924,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"DRGN_TUSD":{"last":0.0007004416019192721,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"BLZ_TUSD":{"last":0.0004493605052010373,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"REQ_TUSD":{"last":0.00015417083999580303,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"NVT_TUSD":{"last":0,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"RDN_TUSD":{"last":0.001345469781717441,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0},"DATA_TUSD":{"last":0.00013001755060451469,"lowestAsk":0,"highestBid":0,"percentChange":0,"baseVolume":0,"quoteVolume":0,"high":0,"low":0}}'
  recorded_at: Mon, 27 Aug 2018 14:46:25 GMT
recorded_with: VCR 4.0.0
