---
http_interactions:
- request:
    method: get
    uri: https://ax.net/api/returnTicker?market=TUSD_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"8e-pepjcWlL9Cl48+KEz8qPK9JGtJk"
    body:
      encoding: UTF-8
      string: '{"last":0.001,"lowestAsk":0,"highestBid":0.001,"percentChange":-0.08823529411764706,"baseVolume":0.34,"quoteVolume":280,"high":0.0015,"low":0}'
  recorded_at: Mon, 27 Aug 2018 14:46:36 GMT
recorded_with: VCR 4.0.0
