---
http_interactions:
- request:
    method: get
    uri: https://ax.net/api/return24Orderbook?market=TUSD_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"40-d2oWn1Md14o/1W5l4vZIKrzyX0A"
    body:
      encoding: UTF-8
      string: '{"asks":[[0,0],[0,0]],"bids":[[0,0],[0,0]],"isFrozen":0,"seq":0}'
  recorded_at: Mon, 27 Aug 2018 14:46:37 GMT
recorded_with: VCR 4.0.0
