---
http_interactions:
- request:
    method: get
    uri: https://ax.net/api/return24Trades?market=TUSD_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"f4-ySu+aqKkPK8q6WiUdA8M6OmM5wU"
    body:
      encoding: UTF-8
      string: '[{"token":"TUSD","basetoken":"ETH","type":"sell","price":"0.001","amount":"160","total":"0.16","timestamp":1535345107226},{"token":"TUSD","basetoken":"ETH","type":"sell","price":"0.0015","amount":"120","total":"0.18","timestamp":1535345102856}]'
  recorded_at: Mon, 27 Aug 2018 14:49:26 GMT
recorded_with: VCR 4.0.0
