---
http_interactions:
- request:
    method: get
    uri: https://www.zooomex.com/api/v2/trade/public/markets/btcusdt/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b19b3d2657aeb8032618b6b902d3c40d"
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 193.232.173.109
    body:
      encoding: ASCII-8BIT
      string: '{"name":"BTC/USDT","base_unit":"btc","quote_unit":"usdt","low":"9715.0","high":"10013.0","last":"9991.0","open":11905.0,"amount":"0.0","volume":"458.8760817","sell":"0.0","buy":"10013.0","avg_price":"9948.871575682901293334","price_change_percent":"-16.08%"}'
  recorded_at: Fri, 09 Aug 2019 13:57:53 GMT
recorded_with: VCR 4.0.0
