---
http_interactions:
- request:
    method: get
    uri: https://www.zooomex.com/api/v2/trade/public/markets/btcusdt/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57c2768feafb3de9a057c05fcae77595"
      Link:
      - <https://www.zooomex.com/api/v2/public/markets/btcusdt/trades?page=3>; rel="last",
        <https://www.zooomex.com/api/v2/public/markets/btcusdt/trades?page=2>; rel="next"
      Page:
      - '1'
      Per-Page:
      - '100'
      Total:
      - '213'
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 193.232.173.109
    body:
      encoding: ASCII-8BIT
      string: '[{"id":14631,"price":"9991.0","volume":"0.00003359","funds":"0.33559769","market":"btcusdt","created_at":"2019-08-09T13:23:09+02:00","taker_type":"sell"},{"id":14630,"price":"9991.0","volume":"0.00035853","funds":"3.58207323","market":"btcusdt","created_at":"2019-08-09T13:23:09+02:00","taker_type":"sell"},{"id":14629,"price":"9715.0","volume":"0.00135923","funds":"13.20491945","market":"btcusdt","created_at":"2019-08-09T13:23:09+02:00","taker_type":"sell"},{"id":14628,"price":"9999.0","volume":"0.0001344","funds":"1.3438656","market":"btcusdt","created_at":"2019-08-09T13:23:09+02:00","taker_type":"sell"},{"id":14627,"price":"9715.0","volu[...]
