---
http_interactions:
- request:
    method: get
    uri: https://api.btc-exchange.com/papi/web/trades?limit=50&market=btceur&order_by=desc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0d40389e-0a98-11e9-8f19-4b9fd206cd59
      X-Amzn-Remapped-Content-Length:
      - '7248'
      X-Amzn-Remapped-Connection:
      - Keep-Alive
      X-Amz-Apigw-Id:
      - Snd2pGV9DoEFxag=
      X-Amzn-Remapped-User-Agent:
      - http.rb/3.0.0
      Etag:
      - W/"475cfa81fc451fd975c10e1c8726f3fe"
      X-Amzn-Remapped-Host:
      - internal.svc.btc-exchange.com
      Version:
      - HTTP/1.1
      X-Amzn-Apigateway-Api-Id:
      - sy7qyxit07
      X-Amzn-Remapped-X-Forwarded-For:
      - 86.181.89.181
    body:
      encoding: ASCII-8BIT
      string: '[{"id":33088,"price":"3231.89","volume":"1.52823177","funds":"4939.0769751453","market":"btceur","created_at":"2018-12-28T12:58:26+01:00","side":"buy"},{"id":33087,"price":"3231.0","volume":"0.22","funds":"710.82","market":"btceur","created_at":"2018-12-28T12:58:26+01:00","side":"buy"},{"id":33086,"price":"3230.0","volume":"0.5","funds":"1615.0","market":"btceur","created_at":"2018-12-28T12:58:26+01:00","side":"buy"},{"id":33085,"price":"3228.45","volume":"0.2271","funds":"733.180995","market":"btceur","created_at":"2018-12-28T12:58:26+01:00","side":"sell"},{"id":33084,"price":"3229.56","volume":"1.43610512","funds":"4637.9876513472","ma[...]
