---
http_interactions:
- request:
    method: get
    uri: https://api.btc-exchange.com/papi/web/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 47714494-0a8e-11e9-b8f6-05a34e1df59a
      X-Amzn-Remapped-Content-Length:
      - '419'
      X-Amzn-Remapped-Connection:
      - Keep-Alive
      X-Amz-Apigw-Id:
      - SnTmzHR2joEFZWg=
      X-Amzn-Remapped-User-Agent:
      - http.rb/3.0.0
      Etag:
      - W/"5da60159b04d67df7c168672734b0396"
      X-Amzn-Remapped-Host:
      - internal.svc.btc-exchange.com
      Version:
      - HTTP/1.1
      X-Amzn-Apigateway-Api-Id:
      - sy7qyxit07
      X-Amzn-Remapped-X-Forwarded-For:
      - 86.181.89.181
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"btceur","name":"BTC/EUR","bid_precision":2,"ask_precision":8},{"id":"etheur","name":"ETH/EUR","bid_precision":2,"ask_precision":8},{"id":"bcheur","name":"BCH/EUR","bid_precision":2,"ask_precision":8},{"id":"xrpeur","name":"XRP/EUR","bid_precision":5,"ask_precision":8},{"id":"usdceur","name":"USDC/EUR","bid_precision":2,"ask_precision":8},{"id":"btcusdc","name":"BTC/USDC","bid_precision":2,"ask_precision":8}]'
  recorded_at: Fri, 28 Dec 2018 10:49:41 GMT
recorded_with: VCR 4.0.0
