---
http_interactions:
- request:
    method: get
    uri: https://www.cmegroup.com/CmeWS/mvc/Quotes/Future/8478/G?_=1564549645686&pageSize=500
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Serverid:
      - prod-west-web01
    body:
      encoding: UTF-8
      string: '{"quoteDelayed":true,"quoteDelay":"10 minutes","tradeDate":"31 Jul
        2019","quotes":[{"last":"9830","change":"+95","priorSettle":"9735","open":"9725","close":"-","high":"9855","low":"9685","highLimit":"12655","lowLimit":"6815","volume":"157","mdKey":"BTCQ9-XCME-G","quoteCode":"BTCQ9","escapedQuoteCode":"BTCQ9","code":"BTCQ9","updated":"00:28:38
        CT<br /> 31 Jul 2019","percentageChange":"+0.98%","expirationMonth":"AUG 2019","expirationCode":"Q9","expirationDate":"20190801","productName":"Bitcoin
        Futures","productCode":"BTC","uri":"/trading/equity-index/us-index/bitcoin.html","productId":8478,"exchangeCode":"XCME","optionUri":"-","hasOption":false,"lastTradeDate":{"timestamp":1567141200000,"dateOnlyLongFormat":"30
        Aug 2019","default24":"08/30/2019, 00:00:00 CDT","default12":"08/30/2019,
        12:00:00 AM CDT","verbose":"August 30, 2019 12:00:00 AM CDT"},"priceChart":{"enabled":true,"code":"BTC","monthYear":"Q9","venue":0,"title":"AUG_2019_Bitcoin_","year":2019},"netChangeStatus":"statusOK","highLowLimits":"12655
        / 6815"},{"last":"9885","change":"+100","priorSettle":"9785","open":"9840","close":"-","high":"9900","low":"9840","highLimit":"12720","lowLimit":"6850","volume":"9","mdKey":"BTCU9-XCME-G","quoteCode":"BTCU9","escapedQuoteCode":"BTCU9","code":"BTCU9","updated":"00:28:38
        CT<br /> 31 Jul 2019","percentageChange":"+1.02%","expirationMonth":"SEP 2019","expirationCode":"U9","expirationDate":"20190901","productName":"Bitcoin
        Futures","productCode":"BTC","uri":"/trading/eq[...]
