---
http_interactions:
- request:
    method: get
    uri: http://api.hitbtc.com/api/1/public/symbols
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"symbols":[{"symbol":"BCNBTC","step":"0.0000000001","lot":"100","currency":"BTC","commodity":"BCN","takeLiquidityRate":"0.001","provideLiquidityRate":"-0.0001"},{"symbol":"BTCEUR","step":"0.01","lot":"0.01","currency":"EUR","commodity":"BTC","takeLiquidityRate":"0.001","provideLiquidityRate":"-0.0001"},{"symbol":"BTCUSD","step":"0.01","lot":"0.01","currency":"USD","commodity":"BTC","takeLiquidityRate":"0.001","provideLiquidityRate":"-0.0001"},{"symbol":"DASHBTC","step":"0.000001","lot":"0.001","currency":"BTC","commodity":"DASH","takeLiquidityRate":"0.001","provideLiquidityRate":"-0.0001"},{"symbol":"DOGEBTC","step":"0.000000001","lot":"1000"[...]
