---
http_interactions:
- request:
    method: get
    uri: https://api.hitbtc.com/api/2/public/ticker/BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ask":"3856.30","bid":"3855.13","last":"3856.25","open":"3734.62","low":"3717.25","high":"3866.88","volume":"35006.25","volumeQuote":"133069217.6789","timestamp":"2019-01-02T20:59:46.694Z","symbol":"BTCUSD"}'
  recorded_at: Wed, 02 Jan 2019 20:59:46 GMT
recorded_with: VCR 4.0.0
