---
http_interactions:
- request:
    method: get
    uri: https://api.hitbtc.com/api/2/public/trades/BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":427952211,"price":"3852.40","quantity":"0.06","side":"sell","timestamp":"2019-01-02T21:21:25.339Z"},{"id":427952210,"price":"3852.42","quantity":"0.01","side":"sell","timestamp":"2019-01-02T21:21:25.339Z"},{"id":427952209,"price":"3852.45","quantity":"0.01","side":"sell","timestamp":"2019-01-02T21:21:25.339Z"},{"id":427951982,"price":"3853.44","quantity":"0.31","side":"sell","timestamp":"2019-01-02T21:20:42.301Z"},{"id":427951942,"price":"3853.12","quantity":"0.04","side":"sell","timestamp":"2019-01-02T21:20:34.957Z"},{"id":427951933,"price":"3853.19","quantity":"0.[...]
