---
http_interactions:
- request:
    method: get
    uri: http://api.hitbtc.com/api/1/public/BTCUSD/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ask":"4426.81","bid":"4421.24","last":"4424.93","low":"4369.63","high":"4488.01","open":"4430.15","volume":"1220.28","volume_quote":"5393541.6570","timestamp":1507003498505}'
  recorded_at: Tue, 03 Oct 2017 04:04:58 GMT
recorded_with: VCR 3.0.3
