---
http_interactions:
- request:
    method: get
    uri: https://api.hitbtc.com/api/2/public/symbol
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"BCNBTC","baseCurrency":"BCN","quoteCurrency":"BTC","quantityIncrement":"100","tickSize":"0.0000000001","takeLiquidityRate":"0.001","provideLiquidityRate":"-0.0001","feeCurrency":"BTC"},{"id":"BTCUSD","baseCurrency":"BTC","quoteCurrency":"USD","quantityIncrement":"0.01","tickSize":"0.01","takeLiquidityRate":"0.001","provideLiquidityRate":"-0.0001","feeCurrency":"USD"},{"id":"DASHBTC","baseCurrency":"DASH","quoteCurrency":"BTC","quantityIncrement":"0.001","tickSize":"0.000001","takeLiquidityRate":"0.001","provideLiquidityRate":"-0.0001","feeCurrency":"BTC"},{"id":"DOGEBTC","baseCurrency":"DOGE","quoteCurrency":"BTC","quantityIncrement":"10","tickSize":"0.0000000001","take[...]
