---
http_interactions:
- request:
    method: get
    uri: https://api.cryptonit.net/api/ticker/etheur
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"high":354.52,"last":354.52,"timestamp":1533470343,"bid":357.09,"vwap":null,"volume":0.28119711,"low":354.52,"ask":351.64,"open":359}'
  recorded_at: Sun, 05 Aug 2018 23:06:56 GMT
recorded_with: VCR 4.0.0
