---
http_interactions:
- request:
    method: get
    uri: https://api.cryptonit.net/api/transactions/etheur
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"date":1533470343,"tid":498678,"price":354.52,"type":0,"amount":0.2811971},{"date":1533308159,"tid":498516,"price":359,"type":0,"amount":0.01100278},{"date":1533227965,"tid":498264,"price":358.89,"type":0,"amount":0.12539631},{"date":1533194142,"tid":498105,"price":364.43,"type":0,"amount":0.03427269},{"date":1533125425,"tid":497841,"price":364.91,"type":0,"amount":0.02741771},{"date":1533115109,"tid":497835,"price":366.88,"type":0,"amount":0.48156071},{"date":1533026783,"tid":497691,"price":384.58,"type":0,"amount":0.44698113},{"date":1533007237,"tid":49765[...]
