---
http_interactions:
- request:
    method: get
    uri: https://api.cryptonit.net/api/trading-pairs-info
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - http://api.cryptonit.net/api/trading-pairs-info/
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="UTF-8" />
                <meta http-equiv="refresh" content="0;url=http://api.cryptonit.net/api/trading-pairs-info/" />

                <title>Redirecting to http://api.cryptonit.net/api/trading-pairs-info/</title>
            </head>
            <body>
                Redirecting to <a href="http://api.cryptonit.net/api/trading-pairs-info/">http://api.cryptonit.net/api/trading-pairs-info/</a>.
            </body>
        </html>
  recorded_at: Sun, 05 Aug 2018 23:06:55 GMT
- request:
    method: get
    uri: http://api.cryptonit.net/api/trading-pairs-info/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.cryptonit.net/api/trading-pairs-info/
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 05 Aug 2018 23:06:55 GMT
- request:
    method: get
    uri: https://api.cryptonit.net/api/trading-pairs-info/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"base_decimals":8,"minimum_order":0.001,"name":"BTC\/EUR","counter_decimals":2,"trading":"Enabled","url_symbol":"btceur","description":"BTC\/EUR"},{"base_decimals":8,"minimum_order":0.01,"name":"ETH\/EUR","counter_decimals":2,"trading":"Enabled","url_symbol":"etheur","description":"ETH\/EUR"},{"base_decimals":8,"minimum_order":0.001,"name":"ETH\/BTC","counter_decimals":8,"trading":"Enabled","url_symbol":"ethbtc","description":"ETH\/BTC"},{"base_decimals":2,"minimum_order":1,"name":"ETN\/BTC","counter_decimals":8,"trading":"Enabled","url_symbol":"etnbtc","description":"ETN\/BTC"},{"base_decimals":2,"minimum_order":10,"name":"NOM\/ETH","counter_decimals":8,"trading":"Enabled","url_symbol":"nometh","description":"NOM\/ETH"},{"base_decimals":8,"minimum_order":0.1,"name":"FIN\/NOM","counter_decimals":2,"trading":"Enabled","url_symbol":"finnom","description":"FIN\/NOM"}]'
  recorded_at: Sun, 05 Aug 2018 23:06:55 GMT
recorded_with: VCR 4.0.0
