---
http_interactions:
- request:
    method: get
    uri: https://bitlish.com/api/v1/ohlcv
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"list": [{"data": {"btceur": {"close": "7008.8000000000000000", "close_ts":
        1532782410024624, "high": "7011.0000000000000000", "low": "7008.8000000000000000",
        "open": "7011.0000000000000000", "open_ts": 1532781768642065, "volume": "0.0711422100000000"},
        "dshbtc": {"close": "0.0294000000000000", "close_ts": 1532782362561425, "high":
        "0.0294100000000000", "low": "0.0294000000000000", "open": "0.0294100000000000",
        "open_ts": 1532782014214519, "volume": "0.2444000000000000"}}, "from": "1532779200",
        "to": "1532782800"}, {"data": {"btcusd": {"close": "8001.7100000000000000",
        "close_ts": 1532785768599596, "high": "8050.0000000000000000", "low": "8001.7100000000000000",
        "open": "8050.0000000000000000", "open_ts": 1532785768596568, "volume": "0.0125348100000000"},
        "ethusd": {"close": "476.6900000000000000", "close_ts": 1532786036429673,
        "high": "476.6900000000000000", "low": "460.7700000000000000", "open": "460.7700000000000000",
        "open_ts": 1532784681296336, "volume": "0.2673414900000000"}}, "from": "1532782800",
        "to": "1532786400"}, {"data": null, "from": "1532786400", "to": "1532790000"},
        {"data": {"btcusd": {"close": "7978.6100000000000000", "close_ts": 1532790916892431,
        "high": "7978.6100000000000000", "low": "7978.6100000000000000", "open": "7978.6100000000000000",
        "open_ts": 1532790916892431, "volume": "0.1249333400000000"}}, "from": "1532790000",
        "to": "1532793600"}, {"data": {"bchbtc": {"close": "0.0987200000000000", "close_ts":
        1532794656995307, "high": "0.0987200000000000", "low": "0.0987200000000000",
        "open": "0.0987200000000000", "open_ts": 1532794656995307, "volume": "32.0104000000000000"},
        "ethrub": {"close": "28200.0000000000000000", "close_ts": 1532794816623763,
        "high": "28200.0000000000000000", "low": "28200.0000000000000000", "open":
        "28200.0000000000000000", "open_ts": 1532794816623763, "volume": "0.0498896700000000"}},
        "from": "1532793600", "to": "1532797200"}, {"data": null, "from": "1532797200",
        "to": "1532800800"}, {"data": {"ethrub": {"close": "30250.0000000000000000",
        "close_ts": 1532803234115568, "high": "30250.0000000000000000", "low": "28200.0000000000000000",
        "open": "28200.0000000000000000", "open_ts": 1532802749748602, "volume": "0.3429074000000000"}},
        "from": "1532800800", "to": "1532804400"}, {"data": {"btceur": {"close": "7050.6000000000000000",
        "close_ts": 1532805664862406, "high": "7050.6000000000000000", "low": "7050.6000000000000000",
        "open": "7050.6000000000000000", "open_ts": 1532805664862406, "volume": "0.0050637600000000"},
        "etheur": {"close": "418.2000000000000000", "close_ts": 1532805629742802,
        "high": "418.2000000000000000", "low": "418.2000000000000000", "open": "418.2000000000000000",
        "open_ts": 1532805629742802, "volume": "0.0476805400000000"}}, "from": "1532804400",
        "to": "1532808000"}, {"data": null, "from": "1532808000", "to": "1532811600"},
        {"data": null, "from": "1532811600", "to": "1532815200"}, {"data": {"etheur":
        {"close": "416.7700000000000000", "close_ts": 1532815460328104, "high": "416.7700000000000000",
        "low": "416.7700000000000000", "open": "416.7700000000000000", "open_ts":
        1532815458499014, "volume": "0.0385980300000000"}}, "from": "1532815200",
        "to": "1532818800"}, {"data": null, "from": "1532818800", "to": "1532822400"},
        {"data": {"btceur": {"close": "7051.9000000000000000", "close_ts": 1532823046292274,
        "high": "7051.9000000000000000", "low": "7051.9000000000000000", "open": "7051.9000000000000000",
        "open_ts": 1532823023061148, "volume": "0.0030000000000000"}, "btcusd": {"close":
        "8310.0000000000000000", "close_ts": 1532823306835962, "high": "8310.0000000000000000",
        "low": "8294.0000000000000000", "open": "8294.0000000000000000", "open_ts":
        1532823260999534, "volume": "0.0050589400000000"}, "ethbtc": {"close": "0.0567900000000000",
        "close_ts": 1532823929574034, "high": "0.0567900000000000", "low": "0.0567900000000000",
        "open": "0.0567900000000000", "open_ts": 1532823929574034, "volume": "0.0406000000000000"},
        "hbzeth": {"close": "0.0000135200000000", "close_ts": 1532823465373104, "high":
        "0.0000135200000000", "low": "0.0000135200000000", "open": "0.0000135200000000",
        "open_ts": 1532823465373104, "volume": "8.4741124200000000"}, "ltcusd": {"close":
        "82.3000000000000000", "close_ts": 1532823205568968, "high": "82.3000000000000000",
        "low": "82.3000000000000000", "open": "82.3000000000000000", "open_ts": 1532823205568968,
        "volume": "0.5101000000000000"}}, "from": "1532822400", "to": "1532826000"},
        {"data": null, "from": "1532826000", "to": "1532829600"}, {"data": {"btceur":
        {"close": "7070.0000000000000000", "close_ts": 1532831569810153, "high": "7070.0000000000000000",
        "low": "7070.0000000000000000", "open": "7070.0000000000000000", "open_ts":
        1532831569810153, "volume": "1.0000000000000000"}, "ltcrub": {"close": "5017.0000000000000000",
        "close_ts": 1532831300708058, "high": "5017.0000000000000000", "low": "5017.0000000000000000",
        "open": "5017.0000000000000000", "open_ts": 1532831300708058, "volume": "0.0533000000000000"}},
        "from": "1532829600", "to": "1532833200"}, {"data": null, "from": "1532833200",
        "to": "1532836800"}, {"data": null, "from": "1532836800", "to": "1532840400"},
        {"data": {"btceur": {"close": "8100.4100000000000000", "close_ts": 1532840427364710,
        "high": "8100.4100000000000000", "low": "7080.0000000000000000", "open": "7080.0000000000000000",
        "open_ts": 1532840427358666, "volume": "0.1000000000000000"}, "xdgeur": {"close":
        "0.0010000000000000", "close_ts": 1532841623350796, "high": "0.0010000000000000",
        "low": "0.0010000000000000", "open": "0.0010000000000000", "open_ts": 1532841623350796,
        "volume": "1372.0000000000000000"}, "xrpeur": {"close": "0.4107200000000000",
        "close_ts": 1532842737465179, "high": "0.4107200000000000", "low": "0.4107200000000000",
        "open": "0.4107200000000000", "open_ts": 1532842737465179, "volume": "3.0000000000000000"}},
        "from": "1532840400", "to": "1532844000"}, {"data": null, "from": "1532844000",
        "to": "1532847600"}, {"data": {"ethrub": {"close": "28200.0000000000000000",
        "close_ts": 1532848211049409, "high": "28200.0000000000000000", "low": "28200.0000000000000000",
        "open": "28200.0000000000000000", "open_ts": 1532848211049409, "volume": "0.0806000000000000"}},
        "from": "1532847600", "to": "1532851200"}, {"data": {"btcrub": {"close": "489179.0000000000000000",
        "close_ts": 1532852626879588, "high": "489179.0000000000000000", "low": "489179.0000000000000000",
        "open": "489179.0000000000000000", "open_ts": 1532852626879588, "volume":
        "0.0026900000000000"}, "ltcbtc": {"close": "0.0102800000000000", "close_ts":
        1532854200356619, "high": "0.0102800000000000", "low": "0.0101900000000000",
        "open": "0.0101900000000000", "open_ts": 1532852582552440, "volume": "0.0606556400000000"}},
        "from": "1532851200", "to": "1532854800"}, {"data": {"bchbtc": {"close": "0.1006700000000000",
        "close_ts": 1532855127022109, "high": "0.1006700000000000", "low": "0.1006700000000000",
        "open": "0.1006700000000000", "open_ts": 1532855127022109, "v[...]
