---
http_interactions:
- request:
    method: get
    uri: https://bitlish.com/api/v1/trades_history?pair_id=btcusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"list": [{"amount": 5.06898, "created": 1533296763761377, "dir": "ask",
        "price": 7359}, {"amount": 1, "created": 1533296838225338, "dir": "ask", "price":
        7360}, {"amount": 0.33617886, "created": 1533296930371428, "dir": "ask", "price":
        7380}, {"amount": 6.06, "created": 1533296951746289, "dir": "ask", "price":
        7378}, {"amount": 8, "created": 1533297070924197, "dir": "ask", "price": 7384},
        {"amount": 8.00898, "created": 1533297112876859, "dir": "ask", "price": 7383.44},
        {"amount": 8, "created": 1533297147388576, "dir": "ask", "price": [...]
