---
http_interactions:
- request:
    method: get
    uri: https://www.xfutures.io/api/spot/v3/instruments/XOCEAN-BTC/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ok-After:
      - '3'
      Ok-Before:
      - '20'
      Ok-From:
      - '20'
      Ok-Limit:
      - '100'
      Ok-To:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"time":"2019-05-16T20:09:40.651Z","timestamp":"2019-05-16T20:09:40.651Z","trade_id":"20","price":"0.00000355","size":"25","side":"buy"},{"time":"2019-05-16T20:09:38.459Z","timestamp":"2019-05-16T20:09:38.459Z","trade_id":"18","price":"0.00000355","size":"25","side":"buy"},{"time":"2019-05-16T20:09:34.371Z","timestamp":"2019-05-16T20:09:34.371Z","trade_id":"16","price":"0.00000355","size":"25","side":"buy"},{"time":"2019-05-16T20:09:27.312Z","timestamp":"2019-05-16T20:09:27.312Z","trade_id":"14","price":"0.00000355","size":"25","side":"buy"},{"time":"2019-05-16T19:15:06.000Z","timestamp":"2019-05-16T19:15:06.000Z","trade_id":"12","price":"0.00000355","size":"15","side":"buy"},{"time":"2019-05-16T19:15:03.000Z","timestamp":"2019-05-16T19:15:03.000Z","trade_id":"10","price":"0.00000355","size":"25","side":"buy"},{"time":"2019-05-16T19:14:57.000Z","timestamp":"2019-05-16T19:14:57.000Z","trade_id":"8","price":"0.00000355","size":"25","side":"buy"},{"time":"2019-05-16T19:05:29.000Z","timestamp":"2019-05-16T19:05:29.000Z","trade_id":"5","price":"0.00000355","size":"10","side":"buy"},{"time":"2019-05-16T18:57:31.000Z","timestamp":"2019-05-16T18:57:31.000Z","trade_id":"3","price":"0.00000355","size":"25","side":"buy"}]'
  recorded_at: Fri, 19 Jul 2019 04:52:52 GMT
recorded_with: VCR 4.0.0
