---
http_interactions:
- request:
    method: get
    uri: https://www.xfutures.io/api/spot/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"best_ask":"10456.5","best_bid":"10451.8","instrument_id":"BTC-USDT","product_id":"BTC-USDT","last":"10454.1","ask":"10456.5","bid":"10451.8","open_24h":"9835","high_24h":"10779.9","low_24h":"9275","base_volume_24h":"0.002195255","timestamp":"2019-07-19T04:52:46.158Z","quote_volume_24h":"21.422719594"},{"best_ask":"221.42","best_bid":"221.21","instrument_id":"ETH-USDT","product_id":"ETH-USDT","last":"221.21","ask":"221.42","bid":"221.21","open_24h":"217.47","high_24h":"229.43","low_24h":"206","base_volume_24h":"0.1447205","timestamp":"2019-07-19T04:52:46.155Z","quote_volume_24h":"31.47163078"},{"best_ask":"0.02117","best_bid":"0.02116","instrument_id":"ETH-BTC","product_id":"ETH-BTC","last":"0.02116","ask":"0.02117","bid":"0.02116","open_24h":"0.02211","high_24h":"0.02239","low[...]
