---
http_interactions:
- request:
    method: get
    uri: https://api.trx.market/api/exchange/marketPair/list
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":0,"message":"OK","data":{"total":17,"rows":[{"id":44,"volume":1570873646633000,"gain":"-0.196286","price":3030,"fPrecision":6,"sPrecision":6,"fTokenName":"TronAce","sTokenName":"TRX","fShortName":"ACE","sShortName":"TRX","fTokenAddr":"TNYNLRkqq956bQc2buvoLbaLgh25RkJMiN","sTokenAddr":"T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb","highestPrice24h":0.004138,"lowestPrice24h":0.00241,"volume24h":4847881654886,"unit":"TRX","pairType":2},{"id":39,"volume":61168417628000,"gain":"0.023872","price":29080,"fPrecision":6,"sPrecision":6,"fTokenName":"BitTorrent","sTokenName":"TRX","fShortName":"BTT","sShortName":"TRX","fTokenAddr":"1002000","sTokenAddr":"T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb","highestPrice24h":0.02939,"lowestPrice24h":0.027905,"volume24h":1737706727532,"unit":"TRX","pairType":1},{"id":31,"volume":42298508806,"gain":"-0.011194","price":26500000,"fPrecision":6,"sPrecision":6,"fTokenName":"TRONbet","sTokenName":"TRX","fS[...]
