---
http_interactions:
- request:
    method: get
    uri: https://trx.market/dex/exchange/marketPair/list
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":0,"message":"OK","data":{"total":10,"rows":[{"id":31,"volume":313760516027,"gain":"0.045000","price":20900000,"fPrecision":6,"sPrecision":6,"fTokenName":"TRONbet","sTokenName":"TRX","fShortName":"ANTE","sShortName":"TRX","fTokenAddr":"TCN77KWWyUyi2A4Cu7vrh5dnmRyvUuME1E","sTokenAddr":"T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb","highestPrice24h":21.88,"lowestPrice24h":18.7,"volume24h":6355420029011,"unit":"TRX"},{"id":30,"volume":16519337707300,"gain":"0.101832","price":35479,"fPrecision":6,"sPrecision":6,"fTokenName":"TRONdice","sTokenName":"TRX","fShortName":"DICE","sShortName":"TRX","fTokenAddr":"THvZvKPLHKLJhEFYKiyqj6j8G8nGgfg7ur","sTokenAddr":"T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb","highestPrice24h":0.03775,"lowestPrice24h":0.03,"volume24h":554425509552,"unit":"TRX"},{"id":34,"volume":64673388779000,"gain":"0.081081","price":4000,"fPrecision":6,"sPrecision":6,"fTokenName":"REY","sTokenName":"TR[...]
