---
http_interactions:
- request:
    method: get
    uri: https://api.liqui.io/api/3/ticker/ltc_btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ltc_btc":{"high":0.01234382,"low":0.01195586,"avg":0.01214984,"vol":38.5059543911090955,"vol_cur":3182.70602304,"last":0.0120576,"buy":0.01204556,"sell":0.01206971,"updated":1507003522}}'
  recorded_at: Tue, 03 Oct 2017 04:05:23 GMT
recorded_with: VCR 3.0.3
