---
http_interactions:
- request:
    method: get
    uri: https://api.coinrail.co.kr/public/last/transaction?currency=BTC-KRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"transaction_list":[{"time":"2018-01-30 00:15:11.0","qty":"0.00780000","price":"12600000"},{"time":"2018-01-30
        00:14:50.0","qty":"0.00010000","price":"12666000"},{"time":"2018-01-30 00:14:45.0","qty":"0.00010000","price":"12666000"},{"time":"2018-01-30
        00:14:37.0","qty":"0.00010000","price":"12666000"},{"time":"2018-01-30 00:14:35.0","qty":"0.09350000","price":"12666000"},{"time":"2018-01-30
        00:12:08.0","qty":"0.03330000","price":"12628000"},{"time":"2018-01-30 00:11:57.0","qty":"0.07900000","price":"12600000"},{"time":"2018-01-30
        00:11:50.0","qty":"0.00010000","price":"12599000"},{"time":"2018-01-30 00:11:50.0","qty":"0.00010000","price":"12598000"},{"time":"2018-01-30
        00:11:50.0","qty":"0.00010000","price":"12597000"},{"time":"2018-01-30 00:11:50.0","qty":"0.00010000","price":"12596000"},{"time":"2018-01-30
        00:11:50.0","qty":"0.00010000","price":"12595000"},{"time":"2018-01-30 00:09:39.0","qty":"0.00010000","price":"12600000"},{"time":"2018-01-30
        00:08:34.0","qty":"0.00330000","price":"12600000"},{"time":"2018-01-30 00:08:21.0","qty":"0.00010000","price":"12600000"},{"time":"2018-01-30
        00:07:53.0","qty":"0.00530000","price":"12534000"},{"time":"2018-01-30 00:06:54.0","qty":"0.02800000","price":"12530000"},{"time":"2018-01-30
        00:06:54.0","qty":"0.02600000","price":"12531000"},{"time":"2018-01-30 00:06:33.0","qty":"0.25520000","price":"12600000"},{"time":"2018-01-30
        00:06:33.0","qty":"0.00010000","price":"12600000"}],"error_code":0,"message":""}'
  recorded_at: Mon, 29 Jan 2018 15:16:45 GMT
recorded_with: VCR 3.0.3
