---
http_interactions:
- request:
    method: get
    uri: https://coinrail.co.kr/main/market_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"btc_market":[{"idx":310,"currency":"eth-btc","title":"이더리움","en":"eth/btc","live":true,"market":"btc","open_date":"2018-01-03","cs_name":"BTC","ce_name":"ETH","cs_comma":6,"ce_comma":2,"min_order":0.00100000,"last_price":0.11220000,"last24_price":0.11000000,"trade_amount":691.70000000,"trade_volume":76.69685574},{"idx":320,"currency":"xrp-btc","title":"리플","en":"xrp/btc","live":true,"market":"btc","open_date":"2018-01-04","cs_name":"BTC","ce_name":"XRP","cs_comma":7,"ce_comma":0,"min_order":0.00100000,"last_price":0.00010710,"last24_price":0.00011090,"trade_amount":290494.00000000,"trade_volume":31.89391940},{"idx":330,"currency":"qtum-btc","title":"퀀텀","en":"qtum/btc","live":true,"market":"btc","open_date":"2017-12-08","cs_name":"BTC","ce_name":"QTUM","cs_comma":6,"ce_comma":2,"min_order":[...]
