---
http_interactions:
- request:
    method: get
    uri: https://api.coinrail.co.kr/public/last/transaction?currency=BTC-KRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"transaction_list":[{"time":"2018-02-01 19:14:59.0","qty":"0.02260000","price":"10210000"},{"time":"2018-02-01
        19:14:52.0","qty":"0.01420000","price":"10210000"},{"time":"2018-02-01 19:14:46.0","qty":"0.00770000","price":"10210000"},{"time":"2018-02-01
        19:14:44.0","qty":"0.03400000","price":"10221000"},{"time":"2018-02-01 19:14:41.0","qty":"0.02860000","price":"10210000"},{"time":"2018-02-01
        19:14:29.0","qty":"0.52690000","price":"10210000"},{"time":"2018-02-01 19:14:18.0","qty":"0.19030000","price":"10210000"},{"time":"2018-02-01
        19:13:30.0","qty":"0.00510000","price":"10221000"},{"time":"2018-02-01 19:13:30.0","qty":"0.07590000","price":"10221000"},{"time":"2018-02-01
        19:13:30.0","qty":"0.00010000","price":"10220000"},{"time":"2018-02-01 19:13:12.0","qty":"0.08980000","price":"10213000"},{"time":"2018-02-01
        19:13:09.0","qty":"0.98410000","price":"10213000"},{"time":"2018-02-01 19:13:08.0","qty":"0.00830000","price":"10220000"},{"time":"2018-02-01
        19:12:43.0","qty":"0.00010000","price":"10220000"},{"time":"2018-02-01 19:12:43.0","qty":"0.21800000","price":"10220000"},{"time":"2018-02-01
        19:12:33.0","qty":"0.12780000","price":"10220000"},{"time":"2018-02-01 19:12:20.0","qty":"0.02730000","price":"10221000"},{"time":"2018-02-01
        19:12:15.0","qty":"0.03680000","price":"10221000"},{"time":"2018-02-01 19:12:09.0","qty":"0.14360000","price":"10221000"},{"time":"2018-02-01
        19:12:09.0","qty":"0.00580000","price":"10226000"}],"error_code":0,"message":""}'
  recorded_at: Thu, 01 Feb 2018 10:15:06 GMT
recorded_with: VCR 3.0.3
