---
http_interactions:
- request:
    method: get
    uri: https://coinrail.co.kr/main/market_info?v=1517239139963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"btc_market":[{"idx":200,"currency":"eth-btc","title":"이더리움","en":"eth/btc","live":true,"market":"btc","open_date":"2018-01-03","cs_name":"BTC","ce_name":"ETH","cs_comma":6,"ce_comma":2,"min_order":0.00100000,"last_price":0.10557600,"last24_price":0.10503300,"trade_amount":924.50000000,"trade_volume":96.86475212},{"idx":201,"currency":"xrp-btc","title":"리플","en":"xrp/btc","live":true,"market":"btc","open_date":"2018-01-04","cs_name":"BTC","ce_name":"XRP","cs_comma":8,"ce_comma":0,"min_order":0.00100000,"last_price":0.00011495,"last24_price":0.00011598,"trade_amount":407990.00000000,"trade_volume":46.19448866},{"idx":202,"currency":"med-btc","title":"메디","en":"med/btc","live":true,"market":"btc","open_date":"2017-12-20","cs_name":"BTC","ce_name":"MED","cs_comma":8,"ce_comma":0,"min_order":0.0[...]
