---
http_interactions:
- request:
    method: get
    uri: https://braziliex.com/api/v1/public/tradehistory/btc_brl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ccd2-rGXgHhDlzMMOmvgsvp4yJMr18dM"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '[{"_id":"5b0d75ee919ed25698ba5ad2","date_exec":"2018-05-29T15:46:54.546Z","type":"buy","amount":"0.00521150","price":"28699.93000000","total":"149.56968520","timestamp":1527608814546},{"_id":"5b0d74c6919ed25698ba5968","date_exec":"2018-05-29T15:41:58.910Z","type":"sell","amount":"0.00070994","price":"28171.00000000","total":"19.99971974","timestamp":1527608518910},{"_id":"5b0d740e919ed25698ba5891","date_exec":"2018-05-29T15:38:54.776Z","type":"buy","amount":"0.01678245","price":"28280.00000000","total":"474.60768600","timestamp":1527608334776},{"_id":"5b0d7393919ed25698ba57dd","date_exec":"2018-05-29T15:36:51.388Z","type":"sell","amount":"0.00089788","price":"2[...]
