---
http_interactions:
- request:
    method: get
    uri: https://braziliex.com/api/v1/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"btc_brl":{"active":1,"market_fee_discount":0,"market":"btc_brl","last":"28799.00000000","percentChange":"5.26","baseVolume24":"16.746","quoteVolume24":"477833.968","baseVolume":"16.746","quoteVolume":"477833.968","highestBid24":"28900.00000000","lowestAsk24":"27102.00000000","highestBid":"28550.00000000","lowestAsk":"28799.00000000"},"eth_brl":{"active":1,"market_fee_discount":0,"market":"eth_brl","last":"2190.00000000","percentChange":"11.85","baseVolume24":"87.005","quoteVolume24":"187972.815","baseVolume":"87.005","quoteVolume":"187972.815","highestBid24":"2237.98000000","lowestAsk24":"1945.03000000","highestBid":"2190.00000000","lowestAsk":"2207.93000000"},"ltc_brl":{"active":1,"market_fee_discount":0,"market":"ltc_brl","last":"457.71000000","percentChange":"6.69","baseVolume24":"101.542","quoteVolume24":"46956.402","baseVolume":"101.542","quoteVolume":"46956.402","highestBid24":"476.63000000","lowestAsk24":"429.00000000","highestBid":"459.00000000","lowestAsk":"462.00000000"},"xmr_brl":{"active":1,"market_fee_discount":0,"market":"xmr_brl","last":"640.00000000","percentChange":"8.47","baseVolume24":"4.823","quoteVolume24":"3074.630","baseVolume":"4.823","quoteVolume":"3074.630","highestBid24":"640.00000000","lowestAsk24":"590.05000000","highestBid":"620.00000000","lowestAsk":"640.00000000"},"dash_brl":{"active":1,"market_fee_discount":0,"market":"dash_brl","last":"1160.00000000","percentChange":"0.87","baseVolume24":"0.723","quoteVolume24":"862.850","baseVolume":"0.723","quoteVolume":"862.850","highestBid24":"1215.00000000","lowestAsk24":"1100.01000000","highestBid":"1160.00000000","lowestAsk":"1239.98000000"},"mxt_brl":{"active":1,"market_fee_discount":0,"market":"mxt_brl","last":"1.40000000","percentChange":"-3.45","baseVolume24":"12205.989","quoteVolume24":"12945.841","baseVolume":"12205.989","quoteVolume":"12945.841","highestBid24":"1.78000000","lowestAsk24":"1.00000000","highestBid":"1.38000000","lowestAsk":"1.55000000"},"sngls_brl":{"active":1,"market_fee_discount":0,"market":"sngls_brl","last":"0.26000000","percentChange":"8.33","baseVolume24":"44282.202","quoteVolume24":"11467.896","baseVolume":"44282.202","quoteVolume":"11467.896","highestBid24":"0.27000000","lowestAsk24":"0.23000000","highestBid":"0.25000000","lowestAsk":"0.26000000"},"bch_brl":{"active":1,"market_fee_discount":0,"market":"bch_brl","last":"3850.15000000","percentChange":"10.64","baseVolume24":"4.885","quoteVolume24":"18836.612","baseVolume":"4.885","quoteVolume":"18836.612","highestBid24":"3939.99000000","lowestAsk24":"3350.00000000","highestBid":"3806.00000000","lowestAsk":"3950.00000000"},"btg_brl":{"active":1,"market_fee_discount":0,"market":"btg_brl","last":"159.00000000","percentChange":"-7.00","baseVolume24":"18.205","quoteVolume24":"3164.517","baseVolume":"18.205","quoteVolume":"3164.517","highestBid24":"174.90000000","lowestAsk24":"159.00000000","highestBid":"158.02000000","lowestAsk":"175.89000000"},"zec_brl":{"active":1,"market_fee_discount":0,"market":"zec_brl","last":"942.01000000","percentChange":"4.79","baseVolume24":"3.119","quoteVolume24":"3036.767","baseVolume":"3.119","quoteVolume":"3036.767","highestBid24":"998.99000000","lowestAsk24":"894.99000000","highestBid":"942.01000000","lowestAsk":"980.00000000"},"crw_brl":{"active":1,"market_fee_discount":0,"market":"crw_brl","last":"3.96000000","percentChange":"10.00","baseVolume24":"146.248","quoteVolume24":"567.901","baseVolume":"146.248","quoteVolume":"567.901","highestBid24":"3.97000000","lowestAsk24":"3.50000000","highestBid":"3.96000000","lowestAsk":"3.97000000"},"omg_brl":{"active":1,"market_fee_discount":0,"market":"omg_brl","last":"47.85000000","percentChange":"13.93","baseVolume24":"13.883","quoteVolume24":"660.935","baseVolume":"13.883","quoteVolume":"660.935","highestBid24":"47.85000000","lowestAsk24":"39.02000000","highestBid":"40.57000000","lowestAsk":"47.85000000"},"eos_brl":{"active":1,"market_fee_discount":0,"market":"eos_brl","last":"47.70000000","percentChange":"3.74","baseVolume24":"333.919","quoteVolume24":"15226.438","baseVolume":"333.919","quoteVolume":"15226.438","highestBid24":"47.98000000","lowestAsk24":"41.00000000","highestBid":"45.09000000","lowestAsk":"47.98000000"},"gnt_brl":{"active":1,"market_fee_discount":0,"market":"gnt_brl","last":"2.12000000","percentChange":"12.17","baseVolume24":"5244.558","quoteVolume24":"10682.877","baseVolume":"5244.558","quoteVolume":"10682.877","highestBid24":"2.12000000","lowestAsk24":"1.81000000","highestBid":"2.10000000","lowestAsk":"2.15000000"},"trx_brl":{"active":1,"market_fee_discount":0,"market":"trx_brl","last":"0.26000000","percentChange":"0.00","baseVolume24":"138664.562","quoteVolume24":"35714.115","baseVolume":"138664.562","quoteVolume":"35714.115","highestBid24":"0.28000000","lowestAsk24":"0.21000000","highestBid":"0.25000000","lowestAsk":"0.26000000"},"bnb_brl":{"active":1,"market_fee_discount":0,"market":"bnb_brl","last":"55.99000000","percentChange":"16.65","baseVolume24":"24.690","quoteVolume24":"1313.584","baseVolume":"24.690","quoteVolume":"1313.584","highestBid24":"56.29000000","lowestAsk24":"48.00000000","highestBid":"48.18000000","lowestAsk":"54.00000000"},"xrp_brl":{"active":1,"market_fee_discount":0,"market":"xrp_brl","last":"2.31000000","percentChange":"4.05","baseVolume24":"9219.128","quoteVolume24":"21020.213","baseVolume":"9219.128","quoteVolume":"21020.213","highestBid24":"2.38000000","lowestAsk24":"2.08000000","highestBid":"2.29000000","lowestAsk":"2.31000000"},"dcr_brl":{"active":1,"market_fee_discount":0,"market":"dcr_brl","last":"345.01000000","percentChange":"-1.43","baseVolume24":"28.681","quoteVolume24":"10415.628","baseVolume":"28.681","quoteVolume":"10415.628","highestBid24":"390.00000000","lowestAsk24":"326.01000000","highestBid":"349.00000000","lowestAsk":"359.98000000"},"lcc_brl":{"active":1,"market_fee_discount":0,"market":"lcc_brl","last":"0.28000000","percentChange":"-3.45","baseVolume24":"17029.759","quoteVolume24":"4497.190","baseVolume":"17029.759","quoteVolume":"4497.190","highestBid24":"0.29000000","lowestAsk24":"0.25000000","highestBid":"0.27000000","lowestAsk":"0.28000000"},"onix_brl":{"active":1,"market_fee_discount":0,"market":"onix_brl","last":"0.04000000","percentChange":"0.00","baseVolume24":"180417.921","quoteVolume24":"7249.088","baseVolume":"180417.921","quoteVolume":"7249.088","highestBid24":"0.05000000","lowestAsk24":"0.03000000","highestBid":"0.03000000","lowestAsk":"0.04000000"},"usdt_brl":{"active":1,"market_fee_discount":0,"market":"usdt_brl","last":"3.86000000","percentChange":"2.93","baseVolume24":"1194.334","quoteVolume24":"4536.747","baseVolume":"1194.334","quoteVolume":"4536.747","highestBid24":"3.89000000","lowestAsk24":"3.75000000","highestBid":"3.71000000","lowestAsk":"3.86000000"},"etc_brl":{"active":1,"market_fee_discount":0,"market":"etc_brl","last":"59.14000000","percentChange":"1.98","baseVolume24":"53.161","quoteVolume24":"2985.001","baseVolume":"53.161","quoteVolume":"2985.001","highestBid24":"59.14000000","lowestAsk24":"50.00000000","highestBid":"56.45000000","lowestAsk":"59.13000000"},"ltc_btc":{"active":1,"market_fee_discount":0.5,"market":"ltc_btc","last":"0.01699997","percentChange":"0.00","baseVolume24":"0.821","quoteVolume24":"0.014","baseVolume":"0.821","quoteVolume":"0.014","highestBid24":"0.01700000","lowestAsk24":"0.01699900","highestBid":"0.01570117","lowestAsk":"0.01689997"},"eth_btc":{"active":1,"market_fee_discount":0.5,"market":"eth_btc","last":"0.07920000","percentChange":"7.03","baseVolume24":"0.958","quoteVolume24":"0.074","baseVolume":"0.958","quoteVolume":"0.074","highestBid24":"0.07940000","lowestAsk24":"0.07100000","highestBid":"0.07481000","lowestAsk":"0.07880000"},"xmr_btc":{"active":1,"market_fee_discount":0.5,"market":"xmr_btc","last":"0.02000001","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.02000000","lowestAsk":"0.02290000"},"dash_btc":{"active":1,"market_fee_discount":0.5,"market":"dash_btc","last":"0.04300000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.03700100","lowestAsk":"0.05380000"},"prsp_btc":{"active":1,"market_fee_discount":0.5,"market":"prsp_btc","last":"0.00698000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00190100","lowestAsk":"0.00698000"},"mxt_btc":{"active":1,"market_fee_discount":0.5,"market":"mxt_btc","last":"0.00005000","percentChange":"-6.24","baseVolume24":"635.945","quoteVolume24":"0.032","baseVolume":"635.945","quoteVolume":"0.032","highestBid24":"0.00005333","lowestAsk24":"0.00005000","highestBid":"0.00002004","lowestAsk":"0.00006333"},"bch_btc":{"active":1,"market_fee_discount":0.5,"market":"bch_btc","last":"0.14390000","percentChange":"15.03","baseVolume24":"1.004","quoteVolume24":"0.144","baseVolume":"1.004","quoteVolume":"0.144","highestBid24":"0.14390000","lowestAsk24":"0.12500000","highestBid":"0.12010101","lowestAsk":"0.14390000"},"btg_btc":{"active":1,"market_fee_discount":0.5,"market":"btg_btc","last":"0.00717998","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00522000","lowestAsk":"0.00698992"},"zec_btc":{"active":1,"market_fee_discount":0.5,"market":"zec_btc","last":"0.03533300","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.02800016","lowestAsk":"0.03500000"},"crw_btc":{"active":1,"market_fee_discount":0.5,"market":"crw_btc","last":"0.00017619","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00010020","lowestAsk":"0.00016727"},"brzx_btc":{"active":1,"market_fee_discount":0.5,"market":"brzx_btc","last":"0.00002880","percentChange":"3.23","baseVolume24":"19466.736","quoteVolume24":"0.556","baseVolume":"19466.736","quoteVolume":"0.556","highestBid24":"0.00002880","lowestAsk24":"0.00002780","highestBid":"0.00002822","lowestAsk":"0.00002880"},"sngls_btc":{"active":1,"market_fee_discount":0.5,"market":"sngls_btc","last":"0.00000553","percentChange":"0.00","baseVolume24":"167.419","quoteVolume24":"0.001","baseVolume":"167.419","quoteVolume":"0.001","highestBid24":"0.00000553","lowestAsk24":"0.00000553","highestBid":"0.00000564","lowestAsk":"0.00001408"},"omg_btc":{"active":1,"market_fee_discount":0.5,"market":"omg_btc","last":"0.00173900","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00134000","lowestAsk":"0.00168999"},"eos_btc":{"active":1,"market_fee_discount":0.5,"market":"eos_btc","last":"0.00140000","percentChange":"0.00","baseVolume24":"0.112","quoteVolume24":"0.000","baseVolume":"0.112","quoteVolume":"0.000","highestBid24":"0.00140000","lowestAsk24":"0.00140000","highestBid":"0.00140000","lowestAsk":"0.00242138"},"gnt_btc":{"active":1,"market_fee_discount":0.5,"market":"gnt_btc","last":"0.00008398","percentChange":"0.00","baseVolume24":"4.132","quoteVolume24":"0.000","baseVolume":"4.132","quoteVolume":"0.000","highestBid24":"0.00008398","lowestAsk24":"0.00008398","highestBid":"0.00004233","lowestAsk":"0.00008390"},"trx_btc":{"active":1,"market_fee_discount":0.5,"market":"trx_btc","last":"0.00000873","percentChange":"0.00","baseVolume24":"341.955","quoteVolume24":"0.003","baseVolume":"341.955","quoteVolume":"0.003","highestBid24":"0.00000961","lowestAsk24":"0.00000801","highestBid":"0.00000706","lowestAsk":"0.00000873"},"bnb_btc":{"active":1,"market_fee_discount":0.5,"market":"bnb_btc","last":"0.00185000","percentChange":"3.93","baseVolume24":"44.647","quoteVolume24":"0.082","baseVolume":"44.647","quoteVolume":"0.082","highestBid24":"0.00185000","lowestAsk24":"0.00178000","highestBid":"0.00185000","lowestAsk":"0.00189000"},"dcr_btc":{"active":1,"market_fee_discount":0.5,"market":"dcr_btc","last":"0.01100013","percentChange":"0.00","baseVolume24":"0.009","quoteVolume24":"0.000","baseVolume":"0.009","quoteVolume":"0.000","highestBid24":"0.01100013","lowestAsk24":"0.01100013","highestBid":"0.00460063","lowestAsk":"0.01999990"},"xrp_btc":{"active":1,"market_fee_discount":0.5,"market":"xrp_btc","last":"0.00008100","percentChange":"6.12","baseVolume24":"3.837","quoteVolume24":"0.000","baseVolume":"3.837","quoteVolume":"0.000","highestBid24":"0.00008393","lowestAsk24":"0.00007633","highestBid":"0.00007733","lowestAsk":"0.00008393"},"epc_btc":{"active":1,"market_fee_discount":0.5,"market":"epc_btc","last":"0.00000900","percentChange":"0.00","baseVolume24":"513.836","quoteVolume24":"0.005","baseVolume":"513.836","quoteVolume":"0.005","highestBid24":"0.00000900","lowestAsk24":"0.00000900","highestBid":"0.00000416","lowestAsk":"0.00000900"},"lcc_btc":{"active":1,"market_fee_discount":0.5,"market":"lcc_btc","last":"0.00000900","percentChange":"-0.11","baseVolume24":"4055.784","quoteVolume24":"0.037","baseVolume":"4055.784","quoteVolume":"0.037","highestBid24":"0.00001129","lowestAsk24":"0.00000900","highestBid":"0.00000900","lowestAsk":"0.00001190"},"usdt_btc":{"active":1,"market_fee_discount":0.5,"market":"usdt_btc","last":"0.00014990","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00009911","lowestAsk":"0.00015591"},"onix_btc":{"active":1,"market_fee_discount":0.5,"market":"onix_btc","last":"0.00000154","percentChange":"7.69","baseVolume24":"92.986","quoteVolume24":"0.000","baseVolume":"92.986","quoteVolume":"0.000","highestBid24":"0.00000154","lowestAsk24":"0.00000143","highestBid":"0.00000111","lowestAsk":"0.00000160"},"etc_btc":{"active":1,"market_fee_discount":0.5,"market":"etc_btc","last":"0.00183330","percentChange":"-21.42","baseVolume24":"1.505","quoteVolume24":"0.003","baseVolume":"1.505","quoteVolume":"0.003","highestBid24":"0.00233300","lowestAsk24":"0.00183330","highestBid":"0.00183330","lowestAsk":"0.00230000"},"brzx_bch":{"active":1,"market_fee_discount":0.5,"market":"brzx_bch","last":"0.00010099","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00010099","lowestAsk":"0.00034567"},"eth_bch":{"active":1,"market_fee_discount":0.5,"market":"eth_bch","last":"0.53757443","percentChange":"0.00","baseVolume24":"0.780","quoteVolume24":"0.419","baseVolume":"0.780","quoteVolume":"0.419","highestBid24":"0.53757443","lowestAsk24":"0.53757443","highestBid":"0.00005200","lowestAsk":"0.53610000"},"xmr_bch":{"active":1,"market_fee_discount":0.5,"market":"xmr_bch","last":"0.15935876","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00042900","lowestAsk":"1.59409100"},"etc_bch":{"active":1,"market_fee_discount":0.5,"market":"etc_bch","last":"0.01617822","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00161782","lowestAsk":"0.01617822"},"xrp_bch":{"active":1,"market_fee_discount":0.5,"market":"xrp_bch","last":"0.00009500","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00009333","lowestAsk":"0.00099699"},"crw_bch":{"active":1,"market_fee_discount":0.5,"market":"crw_bch","last":"0.00111764","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00020010","lowestAsk":"0.00111764"},"dcr_bch":{"active":1,"market_fee_discount":0.5,"market":"dcr_bch","last":"0.08384681","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.07981340","lowestAsk":"0.08900000"},"ltc_bch":{"active":1,"market_fee_discount":0.5,"market":"ltc_bch","last":"0.11445463","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00100000","lowestAsk":"1.00000000"},"gnt_bch":{"active":1,"market_fee_discount":0.5,"market":"gnt_bch","last":"0.00159218","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00012000","lowestAsk":"0.00100000"},"mxt_bch":{"active":1,"market_fee_discount":0.5,"market":"mxt_bch","last":"0.00025765","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00010000","lowestAsk":"0.00063330"},"btg_bch":{"active":1,"market_fee_discount":0.5,"market":"btg_bch","last":"0.04992365","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.04244240","lowestAsk":"0.43000000"},"bnb_bch":{"active":1,"market_fee_discount":0.5,"market":"bnb_bch","last":"0.00921950","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00400000","lowestAsk":"0.04004000"},"zec_bch":{"active":1,"market_fee_discount":0.5,"market":"zec_bch","last":"0.26867264","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.23123456","lowestAsk":"1.23123456"},"dash_bch":{"active":1,"market_fee_discount":0.5,"market":"dash_bch","last":"0.32302646","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.08339000","lowestAsk":"0.70000000"},"omg_bch":{"active":1,"market_fee_discount":0.5,"market":"omg_bch","last":"0.01218289","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.01057211","lowestAsk":"0.01218291"},"brzx_usdt":{"active":1,"market_fee_discount":0.5,"market":"brzx_usdt","last":"0.15000000","percentChange":"15.38","baseVolume24":"5.622","quoteVolume24":"0.843","baseVolume":"5.622","quoteVolume":"0.843","highestBid24":"0.15000000","lowestAsk24":"0.13000000","highestBid":"0.15000000","lowestAsk":"0.26015000"},"eth_usdt":{"active":1,"market_fee_discount":0.5,"market":"eth_usdt","last":"625.00000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"8.68380000","lowestAsk":"868.38000000"},"xmr_usdt":{"active":1,"market_fee_discount":0.5,"market":"xmr_usdt","last":"225.00000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"2.89380000","lowestAsk":"289.38000000"},"lcc_usdt":{"active":1,"market_fee_discount":0.5,"market":"lcc_usdt","last":"0.10000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.05300000","lowestAsk":"0.20600000"},"eos_usdt":{"active":1,"market_fee_discount":0.5,"market":"eos_usdt","last":"18.89970000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.21000674","lowestAsk":"21.00067392"},"etc_usdt":{"active":1,"market_fee_discount":0.5,"market":"etc_usdt","last":"23.99941566","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.21000000","lowestAsk":"21.00000000"},"xrp_usdt":{"active":1,"market_fee_discount":0.5,"market":"xrp_usdt","last":"0.08799900","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.08799900","lowestAsk":"0.79000000"},"trx_usdt":{"active":1,"market_fee_discount":0.5,"market":"trx_usdt","last":"0.03993400","percentChange":"0.00","baseVolume24":"4366.641","quoteVolume24":"174.377","baseVolume":"4366.641","quoteVolume":"174.377","highestBid24":"0.03993400","lowestAsk24":"0.03993400","highestBid":"0.00120000","lowestAsk":"0.12000000"},"crw_usdt":{"active":1,"market_fee_discount":0.5,"market":"crw_usdt","last":"1.19979368","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.11900000","lowestAsk":"11.90000000"},"dcr_usdt":{"active":1,"market_fee_discount":0.5,"market":"dcr_usdt","last":"102.00000000","percentChange":"0.00","baseVolume24":"0.008","quoteVolume24":"0.816","baseVolume":"0.008","quoteVolume":"0.816","highestBid24":"102.00000000","lowestAsk24":"102.00000000","highestBid":"1.53000000","lowestAsk":"153.00000000"},"ltc_usdt":{"active":1,"market_fee_discount":0.5,"market":"ltc_usdt","last":"190.00000000","percentChange":"15.15","baseVolume24":"1.036","quoteVolume24":"174.398","baseVolume":"1.036","quoteVolume":"174.398","highestBid24":"190.00000000","lowestAsk24":"165.00000000","highestBid":"90.00000000","lowestAsk":"170.00000000"},"gnt_usdt":{"active":1,"market_fee_discount":0.5,"market":"gnt_usdt","last":"0.88999800","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.08925118","lowestAsk":"0.89251182"},"onix_usdt":{"active":1,"market_fee_discount":0.5,"market":"onix_usdt","last":"0.02990000","percentChange":"0.00","baseVolume24":"193.496","quoteVolume24":"5.786","baseVolume":"193.496","quoteVolume":"5.786","highestBid24":"0.02990000","lowestAsk24":"0.02990000","highestBid":"0.00310001","lowestAsk":"0.01900310"},"sngls_usdt":{"active":1,"market_fee_discount":0.5,"market":"sngls_usdt","last":"0.14978096","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00149781","lowestAsk":"1.14978096"},"mxt_usdt":{"active":1,"market_fee_discount":0.5,"market":"mxt_usdt","last":"0.30000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.03831000","lowestAsk":"0.38310000"},"btg_usdt":{"active":1,"market_fee_discount":0.5,"market":"btg_usdt","last":"8.50000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"8.86900000","lowestAsk":"86.90000000"},"bnb_usdt":{"active":1,"market_fee_discount":0.5,"market":"bnb_usdt","last":"15.00000000","percentChange":"0.00","baseVolume24":"0.056","quoteVolume24":"0.841","baseVolume":"0.056","quoteVolume":"0.841","highestBid24":"15.00000000","lowestAsk24":"15.00000000","highestBid":"0.15000000","lowestAsk":"15.00000000"},"zec_usdt":{"active":1,"market_fee_discount":0.5,"market":"zec_usdt","last":"288.89000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"28.80000000","lowestAsk":0},"dash_usdt":{"active":1,"market_fee_discount":0.5,"market":"dash_usdt","last":"459.99901963","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"3.98380000","lowestAsk":"397.99000000"},"omg_usdt":{"active":1,"market_fee_discount":0.5,"market":"omg_usdt","last":"0.00220000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.01750000","lowestAsk":"17.50000000"},"btc_usdt":{"active":1,"market_fee_discount":0.5,"market":"btc_usdt","last":"8888.00000000","percentChange":"0.09","baseVolume24":"0.014","quoteVolume24":"119.789","baseVolume":"0.014","quoteVolume":"119.789","highestBid24":"8888.00000000","lowestAsk24":"7499.00000000","highestBid":"7000.00000000","lowestAsk":"8888.00000000"},"bch_usdt":{"active":1,"market_fee_discount":0.5,"market":"bch_usdt","last":"777.17717100","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"1.99890000","lowestAsk":"1998.89000000"}}'
  recorded_at: Wed, 30 May 2018 13:34:03 GMT
recorded_with: VCR 4.0.0
