---
http_interactions:
- request:
    method: get
    uri: https://braziliex.com/api/v1/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"btc_brl":{"active":1,"market_fee_discount":0,"market":"btc_brl","last":"28171.00000000","percentChange":"2.06","baseVolume24":"21.254","quoteVolume24":"593154.351","baseVolume":"21.254","quoteVolume":"593154.351","highestBid24":"28889.99000000","lowestAsk24":"27102.00000000","highestBid":"28171.00000000","lowestAsk":"28699.97000000"},"eth_brl":{"active":1,"market_fee_discount":0,"market":"eth_brl","last":"2129.00000000","percentChange":"-0.48","baseVolume24":"147.098","quoteVolume24":"304578.593","baseVolume":"147.098","quoteVolume":"304578.593","highestBid24":"2210.17000000","lowestAsk24":"1945.00000000","highestBid":"2112.57000000","lowestAsk":"2129.00000000"},"ltc_brl":{"active":1,"market_fee_discount":0,"market":"ltc_brl","last":"450.02000000","percentChange":"-2.80","baseVolume24":"136.086","quoteVolume24":"60854.567","baseVolume":"136.086","quoteVolume":"60854.567","highestBid24":"476.63000000","lowestAsk24":"421.01000000","highestBid":"458.16000000","lowestAsk":"465.00000000"},"xmr_brl":{"active":1,"market_fee_discount":0,"market":"xmr_brl","last":"640.00000000","percentChange":"2.96","baseVolume24":"5.826","quoteVolume24":"3622.937","baseVolume":"5.826","quoteVolume":"3622.937","highestBid24":"640.00000000","lowestAsk24":"590.05000000","highestBid":"590.05000000","lowestAsk":"650.00000000"},"dash_brl":{"active":1,"market_fee_discount":0,"market":"dash_brl","last":"1150.00000000","percentChange":"-1.71","baseVolume24":"10.753","quoteVolume24":"12443.963","baseVolume":"10.753","quoteVolume":"12443.963","highestBid24":"1215.00000000","lowestAsk24":"1100.00000000","highestBid":"1151.01000000","lowestAsk":"1190.00000000"},"mxt_brl":{"active":1,"market_fee_discount":0,"market":"mxt_brl","last":"1.43000000","percentChange":"-16.37","baseVolume24":"501.198","quoteVolume24":"727.787","baseVolume":"501.198","quoteVolume":"727.787","highestBid24":"1.84000000","lowestAsk24":"1.06000000","highestBid":"1.42000000","lowestAsk":"1.70000000"},"sngls_brl":{"active":1,"market_fee_discount":0,"market":"sngls_brl","last":"0.27000000","percentChange":"3.85","baseVolume24":"136609.457","quoteVolume24":"32929.789","baseVolume":"136609.457","quoteVolume":"32929.789","highestBid24":"0.27000000","lowestAsk24":"0.23000000","highestBid":"0.26000000","lowestAsk":"0.27000000"},"bch_brl":{"active":1,"market_fee_discount":0,"market":"bch_brl","last":"3617.09000000","percentChange":"-1.04","baseVolume24":"9.959","quoteVolume24":"35686.565","baseVolume":"9.959","quoteVolume":"35686.565","highestBid24":"3897.99000000","lowestAsk24":"3100.01000000","highestBid":"3806.96000000","lowestAsk":"3830.00000000"},"btg_brl":{"active":1,"market_fee_discount":0,"market":"btg_brl","last":"162.00000000","percentChange":"0.55","baseVolume24":"23.128","quoteVolume24":"3827.800","baseVolume":"23.128","quoteVolume":"3827.800","highestBid24":"174.97000000","lowestAsk24":"150.11000000","highestBid":"162.00000000","lowestAsk":"173.50000000"},"zec_brl":{"active":1,"market_fee_discount":0,"market":"zec_brl","last":"940.00000000","percentChange":"-1.07","baseVolume24":"7.720","quoteVolume24":"7250.556","baseVolume":"7.720","quoteVolume":"7250.556","highestBid24":"1067.49000000","lowestAsk24":"894.99000000","highestBid":"940.00000000","lowestAsk":"980.00000000"},"crw_brl":{"active":1,"market_fee_discount":0,"market":"crw_brl","last":"3.50000000","percentChange":"0.00","baseVolume24":"119.990","quoteVolume24":"431.368","baseVolume":"119.990","quoteVolume":"431.368","highestBid24":"3.94000000","lowestAsk24":"3.50000000","highestBid":"3.50000000","lowestAsk":"3.87000000"},"omg_brl":{"active":1,"market_fee_discount":0,"market":"omg_brl","last":"47.84000000","percentChange":"11.26","baseVolume24":"6.685","quoteVolume24":"282.274","baseVolume":"6.685","quoteVolume":"282.274","highestBid24":"47.84000000","lowestAsk24":"38.50000000","highestBid":"40.50000000","lowestAsk":"47.84000000"},"eos_brl":{"active":1,"market_fee_discount":0,"market":"eos_brl","last":"43.58000000","percentChange":"-2.77","baseVolume24":"1145.788","quoteVolume24":"49932.137","baseVolume":"1145.788","quoteVolume":"49932.137","highestBid24":"47.49000000","lowestAsk24":"41.00000000","highestBid":"43.58000000","lowestAsk":"46.20000000"},"gnt_brl":{"active":1,"market_fee_discount":0,"market":"gnt_brl","last":"1.93000000","percentChange":"6.04","baseVolume24":"4066.787","quoteVolume24":"7618.928","baseVolume":"4066.787","quoteVolume":"7618.928","highestBid24":"1.93000000","lowestAsk24":"1.80000000","highestBid":"1.94000000","lowestAsk":"2.00000000"},"trx_brl":{"active":1,"market_fee_discount":0,"market":"trx_brl","last":"0.25000000","percentChange":"-7.41","baseVolume24":"236134.935","quoteVolume24":"58005.647","baseVolume":"236134.935","quoteVolume":"58005.647","highestBid24":"0.28000000","lowestAsk24":"0.21000000","highestBid":"0.24000000","lowestAsk":"0.26000000"},"bnb_brl":{"active":1,"market_fee_discount":0,"market":"bnb_brl","last":"48.00000000","percentChange":"-4.00","baseVolume24":"100.583","quoteVolume24":"4827.134","baseVolume":"100.583","quoteVolume":"4827.134","highestBid24":"56.18000000","lowestAsk24":"46.21000000","highestBid":"48.00000000","lowestAsk":"56.28000000"},"xrp_brl":{"active":1,"market_fee_discount":0,"market":"xrp_brl","last":"2.25000000","percentChange":"-0.44","baseVolume24":"13877.737","quoteVolume24":"30901.143","baseVolume":"13877.737","quoteVolume":"30901.143","highestBid24":"2.30000000","lowestAsk24":"2.08000000","highestBid":"2.23000000","lowestAsk":"2.25000000"},"dcr_brl":{"active":1,"market_fee_discount":0,"market":"dcr_brl","last":"375.00000000","percentChange":"8.38","baseVolume24":"13.631","quoteVolume24":"4992.809","baseVolume":"13.631","quoteVolume":"4992.809","highestBid24":"390.00000000","lowestAsk24":"315.01000000","highestBid":"331.01000000","lowestAsk":"387.00000000"},"lcc_brl":{"active":1,"market_fee_discount":0,"market":"lcc_brl","last":"0.27000000","percentChange":"-10.00","baseVolume24":"13057.628","quoteVolume24":"3638.607","baseVolume":"13057.628","quoteVolume":"3638.607","highestBid24":"0.31000000","lowestAsk24":"0.26000000","highestBid":"0.26000000","lowestAsk":"0.28000000"},"onix_brl":{"active":1,"market_fee_discount":0,"market":"onix_brl","last":"0.04000000","percentChange":"0.00","baseVolume24":"241953.385","quoteVolume24":"9584.366","baseVolume":"241953.385","quoteVolume":"9584.366","highestBid24":"0.05000000","lowestAsk24":"0.03000000","highestBid":"0.03000000","lowestAsk":"0.04000000"},"usdt_brl":{"active":1,"market_fee_discount":0,"market":"usdt_brl","last":"3.83000000","percentChange":"4.64","baseVolume24":"1655.612","quoteVolume24":"6342.791","baseVolume":"1655.612","quoteVolume":"6342.791","highestBid24":"3.86000000","lowestAsk24":"3.66000000","highestBid":"3.77000000","lowestAsk":"3.82000000"},"etc_brl":{"active":1,"market_fee_discount":0,"market":"etc_brl","last":"58.59000000","percentChange":"-2.35","baseVolume24":"102.035","quoteVolume24":"5920.528","baseVolume":"102.035","quoteVolume":"5920.528","highestBid24":"60.00000000","lowestAsk24":"55.00000000","highestBid":"56.49000000","lowestAsk":"58.00000000"},"ltc_btc":{"active":1,"market_fee_discount":0.5,"market":"ltc_btc","last":"0.01700000","percentChange":"6.92","baseVolume24":"2.404","quoteVolume24":"0.039","baseVolume":"2.404","quoteVolume":"0.039","highestBid24":"0.01700000","lowestAsk24":"0.01560000","highestBid":"0.01570007","lowestAsk":"0.01700000"},"eth_btc":{"active":1,"market_fee_discount":0.5,"market":"eth_btc","last":"0.07400005","percentChange":"1.23","baseVolume24":"2.022","quoteVolume24":"0.150","baseVolume":"2.022","quoteVolume":"0.150","highestBid24":"0.07400005","lowestAsk24":"0.07000000","highestBid":"0.07400007","lowestAsk":"0.07800000"},"xmr_btc":{"active":1,"market_fee_discount":0.5,"market":"xmr_btc","last":"0.02000001","percentChange":"0.00","baseVolume24":"0.100","quoteVolume24":"0.002","baseVolume":"0.100","quoteVolume":"0.002","highestBid24":"0.02000001","lowestAsk24":"0.02000001","highestBid":"0.02000000","lowestAsk":"0.02290000"},"dash_btc":{"active":1,"market_fee_discount":0.5,"market":"dash_btc","last":"0.04300000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.03500000","lowestAsk":"0.04300000"},"prsp_btc":{"active":1,"market_fee_discount":0.5,"market":"prsp_btc","last":"0.00698000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00190100","lowestAsk":"0.00698000"},"mxt_btc":{"active":1,"market_fee_discount":0.5,"market":"mxt_btc","last":"0.00005333","percentChange":"0.00","baseVolume24":"38.495","quoteVolume24":"0.002","baseVolume":"38.495","quoteVolume":"0.002","highestBid24":"0.00005333","lowestAsk24":"0.00005333","highestBid":"0.00005333","lowestAsk":"0.00006733"},"bch_btc":{"active":1,"market_fee_discount":0.5,"market":"bch_btc","last":"0.12500000","percentChange":"4.08","baseVolume24":"1.065","quoteVolume24":"0.133","baseVolume":"1.065","quoteVolume":"0.133","highestBid24":"0.12510000","lowestAsk24":"0.12010100","highestBid":"0.12700000","lowestAsk":"0.14500000"},"btg_btc":{"active":1,"market_fee_discount":0.5,"market":"btg_btc","last":"0.00717998","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00522000","lowestAsk":"0.00699000"},"zec_btc":{"active":1,"market_fee_discount":0.5,"market":"zec_btc","last":"0.03533300","percentChange":"0.00","baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":"0.03533300","lowestAsk24":"0.03533300","highestBid":"0.02791000","lowestAsk":"0.03886638"},"crw_btc":{"active":1,"market_fee_discount":0.5,"market":"crw_btc","last":"0.00017619","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00010011","lowestAsk":"0.00016733"},"brzx_btc":{"active":1,"market_fee_discount":0.5,"market":"brzx_btc","last":"0.00002815","percentChange":"2.96","baseVolume24":"25734.444","quoteVolume24":"0.735","baseVolume":"25734.444","quoteVolume":"0.735","highestBid24":"0.00002880","lowestAsk24":"0.00002734","highestBid":"0.00002815","lowestAsk":"0.00002880"},"sngls_btc":{"active":1,"market_fee_discount":0.5,"market":"sngls_btc","last":"0.00000204","percentChange":"0.00","baseVolume24":"95.845","quoteVolume24":"0.000","baseVolume":"95.845","quoteVolume":"0.000","highestBid24":"0.00000204","lowestAsk24":"0.00000204","highestBid":"0.00000410","lowestAsk":"0.00001416"},"omg_btc":{"active":1,"market_fee_discount":0.5,"market":"omg_btc","last":"0.00173900","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00134000","lowestAsk":"0.00168999"},"eos_btc":{"active":1,"market_fee_discount":0.5,"market":"eos_btc","last":"0.00157000","percentChange":"0.00","baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":"0.00157000","lowestAsk24":"0.00157000","highestBid":"0.00140000","lowestAsk":"0.00163500"},"gnt_btc":{"active":1,"market_fee_discount":0.5,"market":"gnt_btc","last":"0.00005800","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00005803","lowestAsk":"0.00008400"},"trx_btc":{"active":1,"market_fee_discount":0.5,"market":"trx_btc","last":"0.00000900","percentChange":"0.00","baseVolume24":"2245.989","quoteVolume24":"0.021","baseVolume":"2245.989","quoteVolume":"0.021","highestBid24":"0.00000996","lowestAsk24":"0.00000801","highestBid":"0.00000735","lowestAsk":"0.00000961"},"bnb_btc":{"active":1,"market_fee_discount":0.5,"market":"bnb_btc","last":"0.00178000","percentChange":"0.00","baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":"0.00178000","lowestAsk24":"0.00178000","highestBid":"0.00178000","lowestAsk":"0.00185000"},"dcr_btc":{"active":1,"market_fee_discount":0.5,"market":"dcr_btc","last":"0.01799995","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.01100015","lowestAsk":"0.01999998"},"xrp_btc":{"active":1,"market_fee_discount":0.5,"market":"xrp_btc","last":"0.00008393","percentChange":"-1.18","baseVolume24":"485.685","quoteVolume24":"0.039","baseVolume":"485.685","quoteVolume":"0.039","highestBid24":"0.00008493","lowestAsk24":"0.00007633","highestBid":"0.00007633","lowestAsk":"0.00008393"},"epc_btc":{"active":1,"market_fee_discount":0.5,"market":"epc_btc","last":"0.00000900","percentChange":"0.00","baseVolume24":"263.836","quoteVolume24":"0.002","baseVolume":"263.836","quoteVolume":"0.002","highestBid24":"0.00000900","lowestAsk24":"0.00000900","highestBid":"0.00000600","lowestAsk":"0.00000900"},"lcc_btc":{"active":1,"market_fee_discount":0.5,"market":"lcc_btc","last":"0.00001129","percentChange":"2.64","baseVolume24":"1310.732","quoteVolume24":"0.012","baseVolume":"1310.732","quoteVolume":"0.012","highestBid24":"0.00001129","lowestAsk24":"0.00000900","highestBid":"0.00000900","lowestAsk":"0.00001129"},"usdt_btc":{"active":1,"market_fee_discount":0.5,"market":"usdt_btc","last":"0.00014990","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00009901","lowestAsk":"0.00015600"},"onix_btc":{"active":1,"market_fee_discount":0.5,"market":"onix_btc","last":"0.00000143","percentChange":"2.14","baseVolume24":"205.989","quoteVolume24":"0.000","baseVolume":"205.989","quoteVolume":"0.000","highestBid24":"0.00000143","lowestAsk24":"0.00000135","highestBid":"0.00000111","lowestAsk":"0.00000154"},"etc_btc":{"active":1,"market_fee_discount":0.5,"market":"etc_btc","last":"0.00233300","percentChange":"0.00","baseVolume24":"1.000","quoteVolume24":"0.002","baseVolume":"1.000","quoteVolume":"0.002","highestBid24":"0.00233300","lowestAsk24":"0.00233300","highestBid":"0.00183330","lowestAsk":"0.00233300"},"brzx_bch":{"active":1,"market_fee_discount":0.5,"market":"brzx_bch","last":"0.00010099","percentChange":"0.00","baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":"0.00010099","lowestAsk24":"0.00010099","highestBid":"0.00010099","lowestAsk":"0.00034567"},"eth_bch":{"active":1,"market_fee_discount":0.5,"market":"eth_bch","last":"0.53757443","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00005200","lowestAsk":"1.05376739"},"xmr_bch":{"active":1,"market_fee_discount":0.5,"market":"xmr_bch","last":"0.15935876","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00042900","lowestAsk":"1.59409100"},"etc_bch":{"active":1,"market_fee_discount":0.5,"market":"etc_bch","last":"0.01617822","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00161782","lowestAsk":"0.01617822"},"xrp_bch":{"active":1,"market_fee_discount":0.5,"market":"xrp_bch","last":"0.00009500","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00009333","lowestAsk":"0.00099699"},"crw_bch":{"active":1,"market_fee_discount":0.5,"market":"crw_bch","last":"0.00111764","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00020010","lowestAsk":"0.00111764"},"dcr_bch":{"active":1,"market_fee_discount":0.5,"market":"dcr_bch","last":"0.08384681","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.07981340","lowestAsk":"0.08900000"},"ltc_bch":{"active":1,"market_fee_discount":0.5,"market":"ltc_bch","last":"0.11445463","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00100000","lowestAsk":"0.90000000"},"gnt_bch":{"active":1,"market_fee_discount":0.5,"market":"gnt_bch","last":"0.00159218","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00012000","lowestAsk":"0.00100000"},"mxt_bch":{"active":1,"market_fee_discount":0.5,"market":"mxt_bch","last":"0.00025765","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00010000","lowestAsk":"0.00088890"},"btg_bch":{"active":1,"market_fee_discount":0.5,"market":"btg_bch","last":"0.04992365","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.04244240","lowestAsk":"0.43000000"},"bnb_bch":{"active":1,"market_fee_discount":0.5,"market":"bnb_bch","last":"0.00921950","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00400000","lowestAsk":"0.04004000"},"zec_bch":{"active":1,"market_fee_discount":0.5,"market":"zec_bch","last":"0.26867264","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.23123456","lowestAsk":"1.23123456"},"dash_bch":{"active":1,"market_fee_discount":0.5,"market":"dash_bch","last":"0.32302646","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.08339000","lowestAsk":"0.83380000"},"omg_bch":{"active":1,"market_fee_discount":0.5,"market":"omg_bch","last":"0.01218289","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.01057211","lowestAsk":"0.01218291"},"brzx_usdt":{"active":1,"market_fee_discount":0.5,"market":"brzx_usdt","last":"0.13000000","percentChange":"0.00","baseVolume24":"9.727","quoteVolume24":"1.264","baseVolume":"9.727","quoteVolume":"1.264","highestBid24":"0.26990000","lowestAsk24":"0.13000000","highestBid":"0.13000000","lowestAsk":"0.26990000"},"eth_usdt":{"active":1,"market_fee_discount":0.5,"market":"eth_usdt","last":"625.00000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":"1200.00000000"},"xmr_usdt":{"active":1,"market_fee_discount":0.5,"market":"xmr_usdt","last":"225.00000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":"323.00115787"},"lcc_usdt":{"active":1,"market_fee_discount":0.5,"market":"lcc_usdt","last":"0.10000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.05300000","lowestAsk":"0.20000000"},"eos_usdt":{"active":1,"market_fee_discount":0.5,"market":"eos_usdt","last":"18.89970000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":"21.00067392"},"etc_usdt":{"active":1,"market_fee_discount":0.5,"market":"etc_usdt","last":"23.99941566","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":"21.00000000"},"xrp_usdt":{"active":1,"market_fee_discount":0.5,"market":"xrp_usdt","last":"0.08799900","percentChange":"0.00","baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":"0.08799900","lowestAsk24":"0.08799900","highestBid":"0.08799900","lowestAsk":"0.79333000"},"trx_usdt":{"active":1,"market_fee_discount":0.5,"market":"trx_usdt","last":"0.03993390","percentChange":"0.00","baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":"0.03993390","lowestAsk24":"0.03993390","highestBid":0,"lowestAsk":0},"crw_usdt":{"active":1,"market_fee_discount":0.5,"market":"crw_usdt","last":"1.19979368","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":0},"dcr_usdt":{"active":1,"market_fee_discount":0.5,"market":"dcr_usdt","last":"102.00000000","percentChange":"0.00","baseVolume24":"0.008","quoteVolume24":"0.816","baseVolume":"0.008","quoteVolume":"0.816","highestBid24":"102.00000000","lowestAsk24":"102.00000000","highestBid":0,"lowestAsk":"153.00000000"},"ltc_usdt":{"active":1,"market_fee_discount":0.5,"market":"ltc_usdt","last":"165.00000000","percentChange":"37.50","baseVolume24":"0.901","quoteVolume24":"148.608","baseVolume":"0.901","quoteVolume":"148.608","highestBid24":"165.00000000","lowestAsk24":"120.00000000","highestBid":"0.50000000","lowestAsk":"190.00000000"},"gnt_usdt":{"active":1,"market_fee_discount":0.5,"market":"gnt_usdt","last":"0.88999800","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":"0.89251182"},"onix_usdt":{"active":1,"market_fee_discount":0.5,"market":"onix_usdt","last":"0.01100000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00310000","lowestAsk":"0.02990000"},"sngls_usdt":{"active":1,"market_fee_discount":0.5,"market":"sngls_usdt","last":"0.14978096","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":0},"mxt_usdt":{"active":1,"market_fee_discount":0.5,"market":"mxt_usdt","last":"0.30000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":"1.26000000"},"btg_usdt":{"active":1,"market_fee_discount":0.5,"market":"btg_usdt","last":"8.50000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"8.50000000","lowestAsk":"87.00000000"},"bnb_usdt":{"active":1,"market_fee_discount":0.5,"market":"bnb_usdt","last":"0.74502000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":"15.00000000"},"zec_usdt":{"active":1,"market_fee_discount":0.5,"market":"zec_usdt","last":"288.89000000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":0},"dash_usdt":{"active":1,"market_fee_discount":0.5,"market":"dash_usdt","last":"459.99901963","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":0,"lowestAsk":0},"omg_usdt":{"active":1,"market_fee_discount":0.5,"market":"omg_usdt","last":"0.00220000","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.00220000","lowestAsk":"17.50000000"},"btc_usdt":{"active":1,"market_fee_discount":0.5,"market":"btc_usdt","last":"8880.00010000","percentChange":"4.47","baseVolume24":"0.013","quoteVolume24":"111.529","baseVolume":"0.013","quoteVolume":"111.529","highestBid24":"8888.00000000","lowestAsk24":"8500.00000000","highestBid":"7000.00000000","lowestAsk":"8880.00000000"},"bch_usdt":{"active":1,"market_fee_discount":0.5,"market":"bch_usdt","last":"777.17717100","percentChange":0,"baseVolume24":"0.000","quoteVolume24":"0.000","baseVolume":"0.000","quoteVolume":"0.000","highestBid24":0,"lowestAsk24":0,"highestBid":"0.50000000","lowestAsk":0}}'
  recorded_at: Tue, 29 May 2018 15:43:19 GMT
recorded_with: VCR 4.0.0
