---
http_interactions:
- request:
    method: get
    uri: https://braziliex.com/api/v1/public/tradehistory/eth_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b4fc-gUmyvC2l5si2l0KxIoSEllDzSwc"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '[{"_id":"5b148ef03a17197203086bc0","date_exec":"2018-06-04T00:59:28.900Z","type":"buy","amount":"0.12433639","price":"0.08000000","total":"0.00994691","timestamp":1528073968900},{"_id":"5b148ef03a17197203086bbb","date_exec":"2018-06-04T00:59:28.606Z","type":"buy","amount":"0.02613756","price":"0.08000000","total":"0.00209100","timestamp":1528073968606},{"_id":"5b13ecd628d2df3d0361b4b3","date_exec":"2018-06-03T13:27:50.386Z","type":"buy","amount":"0.01001778","price":"0.07950000","total":"0.00079641","timestamp":1528032470386},{"_id":"5b13d6d528d2df3d036198cb","date_exec":"2018-06-03T11:53:57.660Z","type":"buy","amount":"0.09290820","price":"0.07950000","t[...]
