---
http_interactions:
- request:
    method: get
    uri: https://api.nuex.com/api/v1/exchangeInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26b2-SWOj6eMj5IwMpe156GcnPnoiSn0"
    body:
      encoding: UTF-8
      string: '{"timezone":"UTC","serverTime":1540499348459,"rateLimits":[{"rateLimitType":"REQUEST","interval":"MINUTE","limit":1200},{"rateLimitType":"ORDERS","interval":"SECOND","limit":10},{"rateLimitType":"REQUEST","interval":"DAY","limit":100000}],"exchangeFilters":[],"symbols":[{"symbol":"RCNBTC","status":"TRADING","baseAsset":"RCN","quoteAsset":"BTC","baseAssetPrecision":8,"quotePrecision":8,"orderTypes":["LIMIT","MARKET"]},{"symbol":"AMBBTC","status":"TRADING","baseAsset":"AMB","quoteAsset":"BTC","baseAssetPrecision":8,"quotePrecision":8,"orderTypes":["LIMIT","MARKET"]},{"symbol":"ICNBTC","status":"TRADING","baseAsset":"ICN","quoteAsset":"BTC","baseAssetPrecision":8,"quotePrecision":8,"orderTypes":["LIMIT","MARKET"]},{"symbol":"DOGEBTC","status":"TRADING","baseAsset":"DOGE","quoteAsset":"BTC","baseAssetPrecision":8,"quotePrecision":8,"orderTypes":["LIMIT","MARKET"]},{"symbol":"FUNETH","status":[...]
