---
http_interactions:
- request:
    method: get
    uri: https://api.nuex.com/api/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68e0-m6P/fF9+kc6Iq0SsybzzP57MVhw"
    body:
      encoding: UTF-8
      string: '[{"symbol":"EDGBTC","lastPrice":"0.00002350","usd":"0.15070000","lastQty":"0.00002350","openPrice":"0.00002294","prevClosePrice":"0.00002350","bidPrice":"0.00002501","bidQty":"0.00002501","askPrice":"0.00002233","askQty":"0.00002233","highPrice":"0.00002501","lowPrice":"0.00002233","volume":"48641.17943415","openTime":1540418700000,"closeTime":1540504800000,"priceChangePercent":"4.979","priceChange":"-0.00000056"},{"symbol":"QSPBTC","lastPrice":"0.00000699","usd":"0.04480000","lastQty":"0.00000699","openPrice":"0.00000671","prevClosePrice":"0.00000699","bidPrice":"0.00000718","bidQty":"0.00000718","askPrice":"0.00000650","askQty":"0.00000650","highPrice":"0.00000718","lowPrice":"0.00000650","volume":"75582.34431818","openTime":1540418700000,"closeTime":1540504800000,"priceChangePercent":"4.006","priceChange":"-0.00000028"},{"symbol":"AEBTC","lastPrice":"0.00019550","usd":"1.25330000","lastQ[...]
