---
http_interactions:
- request:
    method: get
    uri: https://api.phemex.com/v1/md/orderbook?symbol=BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": null,
          "id": 0,
          "result": {
            "book": {
              "asks": [
                [
                  54020000,
                  433395
                ],
                [
                  54025000,
                  143211
                ],
                [
                  54030000,
                  184895
                ],
                [
                  54035000,
                  73743
                ],
                [
                  54040000,
                  94626
                ],
                [
                  54045000,
   [...]
