---
http_interactions:
- request:
    method: get
    uri: https://api.phemex.com/v1/md/ticker/24hr/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": null,
          "id": 0,
          "result": [
            {
              "askEp": 54020000,
              "bidEp": 54015000,
              "fundingRateEr": 10000,
              "highEp": 55565000,
              "indexEp": 54093815,
              "lastEp": 54015000,
              "lowEp": 50625000,
              "markEp": 54096657,
              "openEp": 52760000,
              "openInterest": 3411511,
              "predFundingRateEr": -85270,
              "symbol": "BTCUSD",
              "timestamp": 1584503268901918384,
              "turnoverEv": 2432396576198,
              "volume": 129948327
            },
            {
              "askEp": 1175500,
              "bidEp": 1174000,
              "fundingRateEr": -44175,
              "highEp": 1203500,
              "indexEp": 1176532,
              "lastEp": 1174000,
              "lowEp": 1126500,
              "markEp": 1176258,
              "openEp": 1169000,
              "openInterest": 395625,
              "predFundingRateEr": -74875,
              "symbol": "ETHUSD",
              "timestamp": 15845032689027734[...]
