---
http_interactions:
- request:
    method: get
    uri: https://bithumbfutures.com/api/pro/v1/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Instance:
      - 2-_-2
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"data":[{"symbol":"BTC-PERP","open":"9554","close":"9787.5","high":"9959.75","low":"9465","volume":"1076.682","ask":["9781","0.4009"],"bid":["9780.25","15.8824"],"type":"derivatives"}]}'
  recorded_at: Mon, 18 May 2020 08:27:08 GMT
recorded_with: VCR 4.0.0
