---
http_interactions:
- request:
    method: get
    uri: https://bithumbfutures.com/api/pro/v1/trades?symbol=BTC-PERP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Instance:
      - 2-_-2
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"data":{"m":"trades","symbol":"BTC-PERP","data":[{"p":"9784.75","q":"0.0050","ts":1589789992379,"bm":false,"seqnum":180143985272088740},{"p":"9780","q":"0.1000","ts":1589790026618,"bm":true,"seqnum":180143985272090031},{"p":"9775","q":"0.0126","ts":1589790027060,"bm":true,"seqnum":180143985272090122},{"p":"9775","q":"0.0010","ts":1589790035661,"bm":true,"seqnum":180143985272090691},{"p":"9776","q":"0.0106","ts":1589790036637,"bm":true,"seqnum":180143985272090770},{"p":"9777.75","q":"0.0010","ts":1589790048477,"bm":true,"seqnum":180143985272091182},{"p":"9773","q":"0.00110","ts":1589790213870,"bm":true,"seqnum":180143985272095467},{"p":"9780.5","q":"0.0058","ts":1589790309310,"bm":false,"seqnum":180143985272098270},{"p":"9782.5","q":"0.0942","ts":1589790309310,"bm":false,"seqnum":180143985272098272},{"p":"9787.5","q":"0.0530","ts":1589790379816,"bm":true,"seqnum":180143985272100760}]}}'
  recorded_at: Mon, 18 May 2020 08:27:10 GMT
recorded_with: VCR 4.0.0
