---
http_interactions:
- request:
    method: get
    uri: https://bithumbfutures.com/api/pro/futures/market-data?symbol=BTC-PERP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Instance:
      - 0-_-2
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"data":{"symbol":"BTC-PERP","openInterest":"226.1802","sourceTime":1589790426157,"fundingRate":"0.000377819","fundingPaymentFlag":false,"nextFundingPaymentTime":1589760000000,"indexPrice":"9773.65","markPrice":"9776.462653371"}}'
  recorded_at: Mon, 18 May 2020 08:27:11 GMT
recorded_with: VCR 4.0.0
