---
http_interactions:
- request:
    method: get
    uri: https://bithumbfutures.com/api/pro/v1/depth?symbol=BTC-PERP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Instance:
      - 2-_-1
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"data":{"m":"depth-snapshot","symbol":"BTC-PERP", "data":{"ts":1589790428841,"seqnum":128206612,"asks":[["9781.75","15.2941"],["9782","11.5686"],["9782.25","16.0784"],["9782.5","10.5882"],["9782.75","19.0196"],["9783","18.2353"],["9783.25","11.1765"],["9783.5","14.5098"],["9783.75","0.4009"],["9786.25","0.1373"],["9790","0.0505"],["9792","0.1819"],["9798.25","0.0808"],["9799.25","0.0102"],["9800","0.5189"],["9800.25","0.4031"],["9802","10.962"],["9802.25","0.102"],["9809.75","0.7872"],["9810","0.0673"],["9816.25","0.2037"],["9816.75","0.011"],["9819","1.0184"],["9821.5","0.25"],["9823","1.018"],["9827.5","7.9048"],["9828","2.5488"],["9832","4.8523"],["9836.75","1.0165"],["9845.5","1.0156"],["9846","3.7636"],["9850","0.5415"],["9850.25","0.2538"],["9854.25","1.0147"],["9859.75","0.0507"],["9877","0.4049"],["9878.5","3.8832"],["9886.75","0.0505"],["9897","2.3813"],["9900","0.2554"],["9941","0.5119"],["9950","0.0182"],["9969","1.6396"],["9980","0.2691"],["9983","1.6141"],["9988","0.01"],["10000","0.458"],["10063.5","1.5954"],["10064.75","10.0344"],["10100","0.1013"],["10145","0.07"],["10200","1.0204"],["10300","0.01"],["10320","5"],["10400","0.2086"],["10415","0.3"],["10500","1.0019"],["11200","0.0042"],["11350","0.1845"],["12000","0.0126"],["13000","0.0162"],["18000","4.5"]],"bids":[["9780.5","18.0392"],["9780.25","15.8824"],["9780","17.2549"],["9779.75","15.4902"],["9779.5","14.9107"],["9779.25","14.7059"],["9779","15.098"],["9778.75","19.4118"],["9777","0.4009"],["9771.25","0.1657"],["9770","0.0507"],["9768.75","0.3308"],["9768","0.721"],["9760.25","0.2403"],["9760","0.0607"],["9757.25","10.7612"],["9752.25","0.0512"],["9750.25","0.7872"],["9750","0.031"],["9749.25","0.25"],["9746","0.1026"],["9745","2.8383"],["9744.75","1.0261"],["9743","0.2565"],["9740.75","1.0266"],["[...]
