---
http_interactions:
- request:
    method: get
    uri: https://api.basefex.com/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"nextFundingRate":-0.00104261,"usdtPrice":0.9982,"turnover24h":992.6570807092766,"openInterest":1689831,"nextFundingTime":1573639200000,"volume24hInUsd":8625369,"fundingRate":-0.00122087,"volume24h":8625369,"last24hMaxPrice":8849,"btcPrice":8717.96,"latestPrice":8702.5,"symbol":"BTCUSD","last24hPriceChange":-0.0023501089074859567,"openValue":193.74524851825456,"last24hMinPrice":8556.5,"openTime":0,"markPrice":8710.96592941,"indexPrice":8717.96},{"nextFundingRate":0.0001,"usdtPrice":0.9982,"turnover24h":206.46252,"openInterest":949,"nextFundingTime":1573639200000,"volume24hInUsd":1799931.9908592,"fundingRate":0.0001,"volume24h":9724,"last24hMaxPrice":0.02142,"btcPrice":8717.96,"latestPrice":0.02125,"symbol":"ETHXBT","last24hPriceChange":0.00047080979284383533,"openValue":20.1903185879296,"last24hMinPrice":0.02113,"openTime":0,"markPrice":0.02125483,"indexPrice":0.02125343},{"nextFundingRate":0.0001,"usdtPrice":0.9982,"turnover2[...]
