---
http_interactions:
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 02 May 2019 10:32:41 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"USDT-NXT","High":0.03051842,"Low":0.02906542,"Volume":1596.20753146,"Last":0.03051842,"BaseVolume":46.95417858,"TimeStamp":"2019-05-02T10:32:38.5","Bid":0.03055955,"Ask":0.03106040,"OpenBuyOrders":45,"OpenSellOrders":122,"PrevDay":0.02906542,"Created":"2017-12-29T19:29:48.42"},{"MarketName":"BTC-GUP","High":0.00000442,"Low":0.00000425,"Volume":305416.63859293,"Last":0.00000430,"BaseVolume":1.32069696,"TimeStamp":"2019-05-02T10:32:38.5","Bid":0.00000430,"Ask":0.00000431,"OpenBuyOrders":152,"OpenSellOrders":1423,"PrevDay":0.00000439,"Created":"2017-04-29T18:08:12.39"},{"MarketName":"BTC-MORE","High":0.00001281,"Low":0.00001139,"Volume":2507.79045484,"Last":0.00001268,"BaseVolume":0.03042537,"TimeStamp":"2019-05-02T10:32:38.5","Bid":0.00001144,"[...]
