---
http_interactions:
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getorderbook?market=BTC-ETH&type=both
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 13 Oct 2017 14:34:49 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":{"buy":[{"Quantity":40.07829743,"Rate":0.05871005},{"Quantity":43.17090053,"Rate":0.05871000},{"Quantity":1.00000000,"Rate":0.05870245},{"Quantity":7.22245091,"Rate":0.05870000},{"Quantity":0.95816939,"Rate":0.05860000},{"Quantity":0.06657300,"Rate":0.05857397},{"Quantity":3.01058220,"Rate":0.05850000},{"Quantity":3.31283467,"Rate":0.05845846},{"Quantity":4.01822551,"Rate":0.05845845},{"Quantity":0.00873104,"Rate":0.05841230},{"Quantity":7.54323927,"Rate":0.05840005},{"Quantity":0.03414310,"Rate":0.05835797},{"Quantity":6.49620000,"R[...]
