---
http_interactions:
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarkethistory?market=BTC-LTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 15 May 2019 08:45:53 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"Id":17768431,"TimeStamp":"2019-05-15T08:45:17.11","Quantity":1.82554905,"Price":0.01168318,"Total":0.0213282181499790,"FillType":"FILL","OrderType":"SELL","Uuid":"e1630ea3-8260-4ab9-8e27-c7bae5a537da"},{"Id":17768072,"TimeStamp":"2019-05-15T08:43:01.31","Quantity":2.65000000,"Price":0.01168315,"Total":0.0309603475000000,"FillType":"FILL","OrderType":"SELL","Uuid":"86459a11-a448-43c6-b6bd-5c451a9c750e"},{"Id":17767991,"TimeStamp":"2019-05-15T08:42:41.58","Quantity":25.00000000,"Price":0.01168315,"Total":0.2920787500000000,"FillType":"FILL","OrderType":"SELL","Uuid":"464554f0-9ae0-4dcc-8312-e22731f2d4a3"},{"Id":17767984,"TimeStamp":"2019-05-15T08:42:37.67"[...]
