---
http_interactions:
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarkethistory?market=BTC-ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 13 Oct 2017 14:45:47 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"Id":123889985,"TimeStamp":"2017-10-13T14:45:44.363","Quantity":6.57869308,"Price":0.05870000,"Total":0.38616928,"FillType":"PARTIAL_FILL","OrderType":"SELL"},{"Id":123889984,"TimeStamp":"2017-10-13T14:45:44.363","Quantity":6.37698766,"Price":0.05870001,"Total":0.37432923,"FillType":"FILL","OrderType":"SELL"},{"Id":123889934,"TimeStamp":"2017-10-13T14:45:42.13","Quantity":0.28557402,"Price":0.05870001,"Total":0.01676319,"FillType":"PARTIAL_FILL","OrderType":"SELL"},{"Id":123889903,"TimeStamp":"2017-10-13T14:45:40.347","Quantity":0.20187852,"Price":0.05870001,"Total":0.01185027,"FillType":"PARTIAL_FILL","OrderType":"SELL"},{"Id":123889876,"Time[...]
