---
http_interactions:
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=BTC-LTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 03 Oct 2017 04:04:13 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-LTC","High":0.01240000,"Low":0.01205000,"Volume":64208.50783108,"Last":0.01205500,"BaseVolume":783.40464124,"TimeStamp":"2017-10-03T04:03:12.667","Bid":0.01205500,"Ask":0.01205600,"OpenBuyOrders":2473,"OpenSellOrders":11875,"PrevDay":0.01236759,"Created":"2014-02-13T00:00:00"}]}'
  recorded_at: Tue, 03 Oct 2017 04:04:13 GMT
recorded_with: VCR 3.0.3
