---
http_interactions:
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getorderbook?market=BTC-LTC&type=both
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 02 May 2019 10:33:20 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":{"buy":[{"Quantity":24.37500000,"Rate":0.01353819},{"Quantity":11.27264594,"Rate":0.01353818},{"Quantity":2.20932772,"Rate":0.01353815},{"Quantity":36.08642411,"Rate":0.01353807},{"Quantity":50.30150146,"Rate":0.01353803},{"Quantity":1.00000000,"Rate":0.01353800},{"Quantity":39.99999999,"Rate":0.01352756},{"Quantity":5.35087017,"Rate":0.01352755},{"Quantity":44.31550593,"Rate":0.01352600},{"Quantity":16.97338974,"Rate":0.01352222},{"Quantity":8.15769999,"Rate":0.01352215},{"Quantity":47.00000000,"Rate":0.01352125},{"Quantity":40.7880[...]
