---
http_interactions:
- request:
    method: get
    uri: https://coinstock.me/api/v2/trades.json?market=btcusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"22d927d9a31ac51aa74bdac17cb50274"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":32148,"price":"8300.0","volume":"0.07642","funds":"634.286","market":"btcusd","created_at":"2018-05-22T12:01:17+03:00","side":null},{"id":32146,"price":"8316.336","volume":"0.01796","funds":"149.36139456","market":"btcusd","created_at":"2018-05-22T12:00:34+03:00","side":null},{"id":32141,"price":"8320.0","volume":"0.12649","funds":"1052.3968","market":"btcusd","created_at":"2018-05-22T11:59:18+03:00","side":null},{"id":32138,"price":"8301.0","volume":"0.04104","funds":"340.67304","market":"btcusd","created_at":"2018-05-22T11:57:58+03:00","side":null},{"id":32131,"price":"8334.14","volume":"0.02047","funds":"170.5998458[...]
