---
http_interactions:
- request:
    method: get
    uri: https://bx.in.th/api/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"1":{"pairing_id":1,"primary_currency":"THB","secondary_currency":"BTC","change":1.9,"last_price":147400,"volume_24hours":387.55157941,"orderbook":{"bids":{"total":1029,"volume":1631.04867552,"highbid":147200},"asks":{"total":1379,"volume":243.95413093,"highbid":147599.9}}},"21":{"pairing_id":21,"primary_currency":"THB","secondary_currency":"ETH","change":0.41,"last_price":9890,"volume_24hours":1020.26630173,"orderbook":{"bids":{"total":616,"volume":3003.24457482,"highbid":9867.01},"asks":{"total":1696,"volume":4501.53054159,"highbid":9890}}},"22":{"pairing_id":22,"primary_currency":"THB","secondary_currency":"DAS","change":-1.32,"last_price":10350,"volume_24hours":26.86197653,"orderbook":{"bids":{"total":87[...]
