---
http_interactions:
- request:
    method: get
    uri: http://coinpulse.io/api/v1/orderbook/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.coinpulse.io/api/v1/orderbook/ETH_BTC
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 11 Nov 2018 19:36:09 GMT
- request:
    method: get
    uri: https://www.coinpulse.io/api/v1/orderbook/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ci-Csrf-Token:
      - bbcafeecca8584e3c4bc46c8b252c140
    body:
      encoding: ASCII-8BIT
      string: '{"success":"true","result":{"Ask":[{"Quantity":"0.00000000","Rate":"1000.00000000"},{"Quantity":"0.00000000","Rate":"0.28800500"},{"Quantity":"0.00000000","Rate":"0.10000000"},{"Quantity":"0.00000000","Rate":"0.04300000"},{"Quantity":"0.00000000","Rate":"0.04000000"},{"Quantity":"0.00000000","Rate":"0.03699000"},{"Quantity":"0.00000000","Rate":"0.03649000"},{"Quantity":"-0.35158479","Rate":"0.03590000"}],"Bid":[{"Quantity":"-1.02180082","Rate":"0.03030000"},{"Quantity":"-0.37177590","Rate":"0.03020000"},{"Quantity":"0.00000000","Rate":"0.02851000"},{"Quantity":"0.00000000","Rate":"0.01100000"},{"Quantity":"-0.33606019","Rate":"0.00100000"},{"Quantity":"0.00000000","Rate":"0.00030000"},{"Quantity":"0.00000000","Rate":"0.00020000"},{"Quantity":"0.00000000","Rate":"0.00001000"},{"Quantity":"0.00000000","Rate":"0.00000227"},{"Quantity":"0.00000000","Rate":"0.00000020"}]}}'
  recorded_at: Sun, 11 Nov 2018 19:36:10 GMT
recorded_with: VCR 4.0.0
