---
http_interactions:
- request:
    method: get
    uri: http://coinpulse.io/api/v1/trades/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.coinpulse.io/api/v1/trades/ETH_BTC
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 11 Nov 2018 19:36:52 GMT
- request:
    method: get
    uri: https://www.coinpulse.io/api/v1/trades/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ci-Csrf-Token:
      - 69edc54295104103efaea7e7fb05c456
    body:
      encoding: ASCII-8BIT
      string: '{"success":"true","result":[{"ID":"8947","Timestamp":1541964759,"Quantity":"0.54003359","Price":"0.0359","Type":"Buy"},{"ID":"8946","Timestamp":1541964719,"Quantity":"0.54003359","Price":"0.0359","Type":"Buy"}]}'
  recorded_at: Sun, 11 Nov 2018 19:36:52 GMT
recorded_with: VCR 4.0.0
