---
http_interactions:
- request:
    method: get
    uri: http://coinpulse.io/api/v1/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.coinpulse.io/api/v1/returnTicker
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 05 Nov 2018 00:30:14 GMT
- request:
    method: get
    uri: https://www.coinpulse.io/api/v1/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ci-Csrf-Token:
      - 16985d474186a3a61d06d735a9b0caf6
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_USDT":{"id":"2","last":"6501.00000000","lowestAsk":"69000.00000000","highestBid":"700.00000000","percentChange":"0.00000000","baseVolume":"89.3033","quoteVolume":"0.3044","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"ETH_BTC":{"id":"3","last":"0.03020000","lowestAsk":"0.03549000","highestBid":"0.03020000","percentChange":"0.00000000","baseVolume":"0.0140","quoteVolume":"0.0190","isFrozen":0,"high24hr":"0.03051500","low24hr":"0.03051000"},"ETH_USDT":{"id":"4","last":"230.00000000","lowestAsk":"2300.00000000","highestBid":"230.00000000","percentChange":"0.00000000","baseVolume":"140.9008","quoteVolume":"0.0000","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LTC_BTC":{"id":"5","last":"0.00800000","lowestAsk":"4.99000000","highestBid":"0.00800000","percentChange":"-37.98450000","baseVolume":"0.0055","quoteVolume":"0.0004","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LTC_ETH":{"id":"6","last":"0.66000000","lowestAsk":"1.00000000","highestBid":"0.66000000","percentChange":"0.00000000","baseVolume":"0.0500","quoteVolume":"0.0051","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"DASH_ETH":{"id":"8","last":"1.50000000","lowestAsk":"7.80000000","highestBid":"0.05100000","percentChange":"0.00000000","baseVolume":"0.0064","quoteVolume":"0.0247","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"ZEC_BTC":{"id":"10","last":"0.00270000","lowestAsk":"0.26600000","highestBid":"0.00270000","percentChange":"0.00000000","baseVolume":"0.0027","quoteVolume":"0.0013","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"ZEC_ETH":{"id":"12","last":"0.00000000","lowestAsk":"4.69000000","highestBid":"0.02000000","percentChange":"0.00000000","baseVolume":"0.0469","quoteVolume":"0.0100","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XRP_BTC":{"id":"13","last":"0.00060010","lowestAsk":"0.00060020","highestBid":"0.00006000","percentChange":"0.00000000","baseVolume":"0.0003","quoteVolume":"0.0008","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XRP_ETH":{"id":"14","last":"0.00915000","lowestAsk":"0.00915000","highestBid":"0.00210000","percentChange":"0.00000000","baseVolume":"0.4393","quoteVolume":"1.0500","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"DASH_BTC":{"id":"19","last":"0.05880000","lowestAsk":"0.57000000","highestBid":"0.00305000","percentChange":"0.00000000","baseVolume":"0.0012","quoteVolume":"0.0004","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"CPEX_BTC":{"id":"20","last":"0.00000079","lowestAsk":"0.00000100","highestBid":"0.00000079","percentChange":"0.00000000","baseVolume":"0.0000","quoteVolume":"0.1113","isFrozen":0,"high24hr":"0.00000100","low24hr":"0.00000079"},"CPEX_ETH":{"id":"21","last":"0.00002702","lowestAsk":"0.00003769","highestBid":"0.00002702","percentChange":"0.00000000","baseVolume":"1.8845","quoteVolume":"0.0382","isFrozen":0,"high24hr":"0.00002750","low24hr":"0.00002705"},"CPEX_USDT":{"id":"22","last":"0.00000000","lowestAsk":"0.01000000","highestBid":"0.00500000","percentChange":"0.00000000","baseVolume":"1.8990","quoteVolume":"0.6451","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LTC_CPEX":{"id":"26","last":"19999.00000000","lowestAsk":"19999.00000000","highestBid":"5700.00000000","percentChange":"0.00000000","baseVolume":"26765.9416","quoteVolume":"303.4715","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"DASH_CPEX":{"id":"27","last":"16900000.00000000","lowestAsk":"16900000.00000000","highestBid":"3001.00000000","percentChange":"0.00000000","baseVolume":"31718.4270","quoteVolume":"600.0843","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"ZEC_CPEX":{"id":"28","last":"100000.00000000","lowestAsk":"100000.00000000","highestBid":"1300.00000000","percentChange":"0.00000000","baseVolume":"801.0000","quoteVolume":"5399.5999","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XRP_CPEX":{"id":"30","last":"988.00000000","lowestAsk":"998.00000000","highestBid":"44.00000000","percentChange":"0.00000000","baseVolume":"1147.9375","quoteVolume":"959.4240","isFrozen":0,"high24hr":"988.00000000","low24hr":"988.00000000"},"LTC_USDT":{"id":"32","last":"99.00000000","lowestAsk":"10000.00000000","highestBid":"5.55500000","percentChange":"0.00000000","baseVolume":"2576.2306","quoteVolume":"50.4116","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"APL_CPEX":{"id":"41","last":"0.24900000","lowestAsk":"0.24900000","highestBid":"0.21000000","percentChange":"0.00000000","baseVolume":"1940.5012","quoteVolume":"299.4000","isFrozen":0,"high24hr":"0.24900000","low24hr":"0.24900000"},"APL_ETH":{"id":"42","last":"0.00000900","lowestAsk":"0.00000899","highestBid":"0.00000470","percentChange":"0.00000000","baseVolume":"0.4495","quoteVolume":"0.0054","isFrozen":0,"high24hr":"0.00000900","low24hr":"0.00000900"},"APL_BTC":{"id":"43","last":"0.00000017","lowestAsk":"0.00000025","highestBid":"0.00000017","percentChange":"0.00000000","baseVolume":"0.0005","quoteVolume":"0.0006","isFrozen":0,"high24hr":"0.00000017","low24hr":"0.00000017"},"HYDRO_BTC":{"id":"44","last":"0.00000059","lowestAsk":"0.00000200","highestBid":"0.00000059","percentChange":"0.00000000","baseVolume":"0.0005","quoteVolume":"0.0000","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"HYDRO_ETH":{"id":"45","last":"0.00001500","lowestAsk":"0.00003300","highestBid":"0.00000500","percentChange":"0.00000000","baseVolume":"0.0202","quoteVolume":"0.0024","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"HYDRO_CPEX":{"id":"46","last":"1.50000000","lowestAsk":"1.50000000","highestBid":"0.51000000","percentChange":"0.00000000","baseVolume":"22102.4756","quoteVolume":"25500.0000","isFrozen":0,"high24hr":"1.50000000","low24hr":"1.50000000"},"XVG_BTC":{"id":"47","last":"0.00000350","lowestAsk":"0.00000350","highestBid":"0.00000209","percentChange":"0.00000000","baseVolume":"0.0008","quoteVolume":"0.0002","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XVG_ETH":{"id":"48","last":"0.00001125","lowestAsk":"0.00010000","highestBid":"0.00001550","percentChange":"0.00000000","baseVolume":"0.0250","quoteVolume":"0.0658","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XVG_CPEX":{"id":"49","last":"2.00500000","lowestAsk":"4.70000005","highestBid":"1.70000005","percentChange":"0.00000000","baseVolume":"2.3500","quoteVolume":"195.5000","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LMA_BTC":{"id":"56","last":"0.00000074","lowestAsk":"0.00000030","highestBid":"0.00000017","percentChange":"0.00000000","baseVolume":"0.0000","quoteVolume":"0.0014","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LMA_ETH":{"id":"57","last":"0.00000367","lowestAsk":"0.00003631","highestBid":"0.00000363","percentChange":"0.00000000","baseVolume":"0.3319","quoteVolume":"0.0213","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LMA_CPEX":{"id":"58","last":"2.35000000","lowestAsk":"2.35000000","highestBid":"0.08600000","percentChange":"0.00000000","baseVolume":"440.9150","quoteVolume":"86.0000","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"WHEN_BTC":{"id":"59","last":"0.00000110","lowestAsk":"0.00000165","highestBid":"0.00000110","percentChange":"-99.88940000","baseVolume":"0.0103","quoteVolume":"0.0421","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"WHEN_ETH":{"id":"60","last":"0.00005500","lowestAsk":"0.00005459","highestBid":"0.00004000","percentChange":"0.00000000","baseVolume":"0.6278","quoteVolume":"0.9409","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"WHEN_CPEX":{"id":"61","last":"5.47000000","lowestAsk":"3.21000000","highestBid":"0.42660000","percentChange":"0.00000000","baseVolume":"14346.7051","quoteVolume":"396.2297","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"OMG_BTC":{"id":"62","last":"0.00000000","lowestAsk":"0.15000000","highestBid":"0.00005700","percentChange":"0.00000000","baseVolume":"0.0750","quoteVolume":"0.0004","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"OMG_ETH":{"id":"63","last":"0.00000000","lowestAsk":"2.50000000","highestBid":"0.00000000","percentChange":"0.00000000","baseVolume":"0.6250","quoteVolume":"0.0000","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"OMG_CPEX":{"id":"64","last":"0.00000000","lowestAsk":"300000.00000000","highestBid":"30.00000000","percentChange":"0.00000000","baseVolume":"155700.0000","quoteVolume":"2220.0000","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XSPEC_BTC":{"id":"65","last":"0.00003350","lowestAsk":"0.00003500","highestBid":"0.00002900","percentChange":"0.00000000","baseVolume":"0.0087","quoteVolume":"0.0108","isFrozen":0,"high24hr":"0.00003350","low24hr":"0.00003350"},"XSPEC_ETH":{"id":"66","last":"0.00000000","lowestAsk":"0.01020000","highestBid":"0.00015000","percentChange":"0.00000000","baseVolume":"0.5100","quoteVolume":"0.2161","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XSPEC_CPEX":{"id":"67","last":"0.57000000","lowestAsk":"57.00000000","highestBid":"2.15000000","percentChange":"0.00000000","baseVolume":"2956.4748","quoteVolume":"4112.8568","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"}}'
  recorded_at: Mon, 05 Nov 2018 00:30:18 GMT
recorded_with: VCR 4.0.0
