---
http_interactions:
- request:
    method: get
    uri: http://coinpulse.io/api/v1/ticker/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.coinpulse.io/api/v1/ticker/ETH_BTC
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 13 Oct 2018 17:53:56 GMT
- request:
    method: get
    uri: https://www.coinpulse.io/api/v1/ticker/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ci-Csrf-Token:
      - 7149b69eecdc0bb6ef627077e66398ce
    body:
      encoding: ASCII-8BIT
      string: '{"success":"true","result":[{"Bid":"0.0251","Ask":"0.043","Last":"0.0399","High":"0.00","Low":"0.00","BaseVolume":"0.00"}]}'
  recorded_at: Sat, 13 Oct 2018 17:53:56 GMT
recorded_with: VCR 4.0.0
