---
http_interactions:
- request:
    method: get
    uri: http://coinpulse.io/api/v1/orderbook/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.coinpulse.io/api/v1/orderbook/ETH_BTC
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 13 Oct 2018 17:53:55 GMT
- request:
    method: get
    uri: https://www.coinpulse.io/api/v1/orderbook/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ci-Csrf-Token:
      - 736772436af2d09636bb3713c1c2a00f
    body:
      encoding: ASCII-8BIT
      string: '{"success":"true","result":{"Ask":[{"Quantity":"0.00000000","Rate":"1000.00000000"},{"Quantity":"0.00000000","Rate":"1.00000000"},{"Quantity":"0.00000000","Rate":"0.28800500"},{"Quantity":"-0.00014061","Rate":"0.14500000"},{"Quantity":"0.00000000","Rate":"0.04300000"}],"Bid":[{"Quantity":"0.00000000","Rate":"0.02510000"},{"Quantity":"0.00000000","Rate":"0.01100000"},{"Quantity":"0.00000000","Rate":"0.00350000"},{"Quantity":"-0.33606019","Rate":"0.00100000"},{"Quantity":"0.00000000","Rate":"0.00020000"},{"Quantity":"0.00000000","Rate":"0.00010000"},{"Quantity":"0.00000000","Rate":"0.00001000"},{"Quantity":"0.00000000","Rate":"0.00000020"},{"Quantity":"0.00000000","Rate":"0.00000017"}]}}'
  recorded_at: Sat, 13 Oct 2018 17:53:56 GMT
recorded_with: VCR 4.0.0
