---
http_interactions:
- request:
    method: get
    uri: http://coinpulse.io/api/v1/trades/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.coinpulse.io/api/v1/trades/ETH_BTC
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 13 Oct 2018 18:06:11 GMT
- request:
    method: get
    uri: https://www.coinpulse.io/api/v1/trades/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ci-Csrf-Token:
      - '0781b2a61e4453b7992b7a0d7f6dabbd'
    body:
      encoding: ASCII-8BIT
      string: '{"success":"true","result":[{"ID":"7153","Timestamp":1539346329,"Quantity":"0.2530848","Price":"0.0399","Type":"Buy"},{"ID":"6768","Timestamp":1539202783,"Quantity":"0.2530848","Price":"0.0399","Type":"Buy"}]}'
  recorded_at: Sat, 13 Oct 2018 18:06:11 GMT
recorded_with: VCR 4.0.0
