---
http_interactions:
- request:
    method: get
    uri: http://coinpulse.io/api/v1/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.coinpulse.io/api/v1/returnTicker
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 11 Nov 2018 19:36:48 GMT
- request:
    method: get
    uri: https://www.coinpulse.io/api/v1/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ci-Csrf-Token:
      - 19bf10c1b29e10af4c220950d423071d
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_USDT":{"id":"2","last":"6501.00000000","lowestAsk":"69000.00000000","highestBid":"700.00000000","percentChange":"0.00000000","baseVolume":"89.3033","quoteVolume":"0.3044","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"ETH_BTC":{"id":"3","last":"0.03590000","lowestAsk":"0.03590000","highestBid":"0.03030000","percentChange":"-94.87140000","baseVolume":"0.0068","quoteVolume":"0.0125","isFrozen":0,"high24hr":"0.03590000","low24hr":"0.03590000"},"ETH_USDT":{"id":"4","last":"230.00000000","lowestAsk":"2300.00000000","highestBid":"230.00000000","percentChange":"-51.06380000","baseVolume":"140.9008","quoteVolume":"0.0000","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LTC_BTC":{"id":"5","last":"0.00800000","lowestAsk":"4.99000000","highestBid":"0.00800000","percentChange":"-37.98450000","baseVolume":"0.0055","quoteVolume":"0.0004","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LTC_ETH":{"id":"6","last":"0.66000000","lowestAsk":"1.00000000","highestBid":"0.01950100","percentChange":"-83.90240000","baseVolume":"0.0500","quoteVolume":"0.0390","isFrozen":0,"high24hr":"0.66000000","low24hr":"0.66000000"},"DASH_ETH":{"id":"8","last":"1.50000000","lowestAsk":"7.80000000","highestBid":"0.05100000","percentChange":"0.00000000","baseVolume":"0.0064","quoteVolume":"0.0247","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"ZEC_BTC":{"id":"10","last":"0.00270000","lowestAsk":"0.26600000","highestBid":"0.00270000","percentChange":"26900.00000000","baseVolume":"0.0027","quoteVolume":"0.0013","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"ZEC_ETH":{"id":"12","last":"0.00000000","lowestAsk":"4.69000000","highestBid":"0.02000000","percentChange":"0.00000000","baseVolume":"0.0469","quoteVolume":"0.0122","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XRP_BTC":{"id":"13","last":"0.00006000","lowestAsk":"0.00060250","highestBid":"0.00006000","percentChange":"-7.69230000","baseVolume":"0.0007","quoteVolume":"0.0006","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XRP_ETH":{"id":"14","last":"0.00089002","lowestAsk":"0.00915000","highestBid":"0.00089100","percentChange":"-55.49900000","baseVolume":"0.4393","quoteVolume":"0.0891","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"DASH_BTC":{"id":"19","last":"0.05880000","lowestAsk":"0.57000000","highestBid":"0.05880000","percentChange":"167.27270000","baseVolume":"0.0012","quoteVolume":"0.0003","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"CPEX_BTC":{"id":"20","last":"0.00000081","lowestAsk":"0.00000100","highestBid":"0.00000081","percentChange":"-94.60000000","baseVolume":"0.0016","quoteVolume":"0.0129","isFrozen":0,"high24hr":"0.00000090","low24hr":"0.00000082"},"CPEX_ETH":{"id":"21","last":"0.00002201","lowestAsk":"0.00003500","highestBid":"0.00002201","percentChange":"-90.43040000","baseVolume":"0.0175","quoteVolume":"0.0312","isFrozen":0,"high24hr":"0.00002805","low24hr":"0.00002600"},"CPEX_USDT":{"id":"22","last":"0.00500000","lowestAsk":"0.00500000","highestBid":"0.00500000","percentChange":"-97.50000000","baseVolume":"0.3549","quoteVolume":"0.0000","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LTC_CPEX":{"id":"26","last":"5700.00000000","lowestAsk":"19999.00000000","highestBid":"5700.00000000","percentChange":"569900.00000000","baseVolume":"25827.9013","quoteVolume":"200.6618","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"DASH_CPEX":{"id":"27","last":"16900000.00000000","lowestAsk":"16900000.00000000","highestBid":"3001.00000000","percentChange":"3379900.00000000","baseVolume":"31718.4270","quoteVolume":"600.0843","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"ZEC_CPEX":{"id":"28","last":"100000.00000000","lowestAsk":"100000.00000000","highestBid":"1300.00000000","percentChange":"900.00000000","baseVolume":"801.0000","quoteVolume":"5399.5999","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XRP_CPEX":{"id":"30","last":"44.00000000","lowestAsk":"750.00000000","highestBid":"44.00000000","percentChange":"2100.00000000","baseVolume":"750.0000","quoteVolume":"827.4240","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LTC_USDT":{"id":"32","last":"99.00000000","lowestAsk":"10000.00000000","highestBid":"5.55500000","percentChange":"41.42860000","baseVolume":"2576.2306","quoteVolume":"50.4116","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"APL_CPEX":{"id":"41","last":"0.31000000","lowestAsk":"0.31000000","highestBid":"0.20500000","percentChange":"588.88890000","baseVolume":"12800.0329","quoteVolume":"1025.0000","isFrozen":0,"high24hr":"0.31000000","low24hr":"0.31000000"},"APL_ETH":{"id":"42","last":"0.00000650","lowestAsk":"0.00000850","highestBid":"0.00000648","percentChange":"-72.50000000","baseVolume":"0.3592","quoteVolume":"0.0162","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"APL_BTC":{"id":"43","last":"0.00000024","lowestAsk":"0.00000025","highestBid":"0.00000021","percentChange":"118.18180000","baseVolume":"0.0005","quoteVolume":"0.0002","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"HYDRO_BTC":{"id":"44","last":"0.00000000","lowestAsk":"0.00000200","highestBid":"0.00000008","percentChange":"-100.00000000","baseVolume":"0.0004","quoteVolume":"0.0021","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"HYDRO_ETH":{"id":"45","last":"0.00003000","lowestAsk":"0.00003000","highestBid":"0.00000600","percentChange":"92.30770000","baseVolume":"0.0118","quoteVolume":"0.0223","isFrozen":0,"high24hr":"0.00003000","low24hr":"0.00003000"},"HYDRO_CPEX":{"id":"46","last":"5.00000000","lowestAsk":"1.50000000","highestBid":"0.60000000","percentChange":"971.36740000","baseVolume":"22102.3282","quoteVolume":"199.6000","isFrozen":0,"high24hr":"1.50000000","low24hr":"1.50000000"},"XVG_BTC":{"id":"47","last":"0.00000325","lowestAsk":"0.00000325","highestBid":"0.00000209","percentChange":"41.30430000","baseVolume":"0.0014","quoteVolume":"0.0002","isFrozen":0,"high24hr":"0.00000325","low24hr":"0.00000325"},"XVG_ETH":{"id":"48","last":"0.00400000","lowestAsk":"0.00061000","highestBid":"0.00002000","percentChange":"7172.72730000","baseVolume":"0.4880","quoteVolume":"0.0138","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XVG_CPEX":{"id":"49","last":"22.00000000","lowestAsk":"22.00000000","highestBid":"1.70000005","percentChange":"8527.45100000","baseVolume":"21800.3566","quoteVolume":"195.5000","isFrozen":0,"high24hr":"22.00000000","low24hr":"22.00000000"},"LMA_BTC":{"id":"56","last":"0.00000074","lowestAsk":"0.00000030","highestBid":"0.00000017","percentChange":"-1.33330000","baseVolume":"0.0000","quoteVolume":"0.0023","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LMA_ETH":{"id":"57","last":"0.00000367","lowestAsk":"0.00003631","highestBid":"0.00000363","percentChange":"496.00000000","baseVolume":"0.3319","quoteVolume":"0.0213","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"LMA_CPEX":{"id":"58","last":"0.08500500","lowestAsk":"2.05000000","highestBid":"0.08500501","percentChange":"-29.16250000","baseVolume":"2045.9000","quoteVolume":"99.8800","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"WHEN_BTC":{"id":"59","last":"0.00000165","lowestAsk":"0.00000165","highestBid":"0.00000121","percentChange":"-99.83400000","baseVolume":"0.0215","quoteVolume":"0.0001","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"WHEN_ETH":{"id":"60","last":"0.00004000","lowestAsk":"0.00004990","highestBid":"0.00004000","percentChange":"-60.00000000","baseVolume":"0.2867","quoteVolume":"0.4756","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"WHEN_CPEX":{"id":"61","last":"5.47000000","lowestAsk":"3.32000000","highestBid":"0.42660000","percentChange":"117.92830000","baseVolume":"27788.1484","quoteVolume":"396.2297","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"OMG_BTC":{"id":"62","last":"0.00000000","lowestAsk":"0.15000000","highestBid":"0.00005700","percentChange":"0.00000000","baseVolume":"0.0750","quoteVolume":"0.0004","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"OMG_ETH":{"id":"63","last":"0.00000000","lowestAsk":"2.50000000","highestBid":"0.00000000","percentChange":"0.00000000","baseVolume":"0.6250","quoteVolume":"0.0000","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"OMG_CPEX":{"id":"64","last":"0.00000000","lowestAsk":"300000.00000000","highestBid":"30.00000000","percentChange":"0.00000000","baseVolume":"155700.0000","quoteVolume":"2220.0000","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XSPEC_BTC":{"id":"65","last":"0.00003350","lowestAsk":"0.00003500","highestBid":"0.00000340","percentChange":"-33.00000000","baseVolume":"0.0087","quoteVolume":"0.0021","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XSPEC_ETH":{"id":"66","last":"0.00000000","lowestAsk":"0.00129900","highestBid":"0.00012000","percentChange":"0.00000000","baseVolume":"0.0856","quoteVolume":"0.0600","isFrozen":0,"high24hr":"0.00000000","low24hr":"0.00000000"},"XSPEC_CPEX":{"id":"67","last":"39.99999000","lowestAsk":"39.99999000","highestBid":"38.00000000","percentChange":"-33.33340000","baseVolume":"12999.9968","quoteVolume":"380.0000","isFrozen":0,"high24hr":"39.99999000","low24hr":"39.99999000"}}'
  recorded_at: Sun, 11 Nov 2018 19:36:52 GMT
recorded_with: VCR 4.0.0
