---
http_interactions:
- request:
    method: get
    uri: https://api.kucoin.com/v1/market/open/symbols
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Kc-Node:
      - localhost
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"OK","msg":"Operation succeeded.","timestamp":1510106915190,"data":[{"coinType":"KCS","trading":true,"symbol":"KCS-BTC","lastDealPrice":0.0000915,"buy":0.0000913,"sell":0.00009147,"change":-0.0000020,"coinTypePair":"BTC","sort":0,"feeRate":0.001,"volValue":60.91831657,"high":0.0000965,"datetime":1510106910000,"vol":654688.56555364,"low":0.000090,"changeRate":-0.0214},{"coinType":"KCS","trading":true,"symbol":"KCS-ETH","lastDealPrice":0.00215,"buy":0.002151,"sell":0.002242,"change":-0.00015,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":216.82999228,"high":0.002345,"datetime":1510106910000,"vol":98177.66322308,"low":0.00215,"changeRate":-0.0652},{"coinType":"RPX","trading":true,"symbol":"RPX-NEO","lastDealPrice":0.001559,"buy":0.001493,"sell":0.001563,"change":-0.0000070,"coinTypePair":"NEO","sort":0,"feeRate":0.0,"volValue":1842.75577261,"[...]
