---
http_interactions:
- request:
    method: get
    uri: https://openapi-v2.kucoin.com/api/v1/market/stats?symbol=KCS-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 18d5cfbcaefa9827
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"symbol":"KCS-BTC","high":"0.00013776","vol":"304251.31658893","low":"0.0001075","changePrice":"0.00002121","changeRate":"0.1914","close":"0.00013201","volValue":"39.255970525629312","open":"0.0001108"}}'
  recorded_at: Tue, 19 Feb 2019 02:26:33 GMT
recorded_with: VCR 4.0.0
