---
http_interactions:
- request:
    method: get
    uri: https://openapi-v2.kucoin.com/api/v1/market/allTickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 2b45693fc275a684
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"ticker":[{"symbol":"LOOM-BTC","high":"0.0000123","vol":"47343.1903792","last":"0.00001187","low":"0.00001158","buy":"0.00001177","sell":"0.00001186","changePrice":"0.00000026","changeRate":"0.0223"},{"symbol":"BCD-BTC","high":"0.00021489","vol":"3.00664515","last":"0.00018693","low":"0.00018664","buy":"0.00018761","sell":"0.00019975","changePrice":"0.00000029","changeRate":"0.0015"},{"symbol":"EXY-ETH","high":"0.0002913","vol":"2220.32426556","last":"0.0002307","low":"0.0002304","buy":"0.0002311","sell":"0.0002854","changePrice":"-0.0000556","changeRate":"-0.1942"},{"symbol":"BTT-ETH","high":"0.000007","vol":"1949336.1462","last":"0.0000067","low":"0.0000063","buy":"0.0000067","se[...]
