---
http_interactions:
- request:
    method: get
    uri: https://openapi-v2.kucoin.com/api/v1/market/orderbook/level2?symbol=KCS-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - a5e9963ed6ce030d
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"sequence":"1550467183408","asks":[["318.915","392.2702"],["220","6.1801"],["136","7.5515"],["112.5386","112.5386"],["100","5.9978"],["46","1"],["32.23091893","32.2309"],["10","20.1701"],["9","5.5719"],["7","1.9098"],["6.05269047","6.0526"],["5.89","15.0095"],["5","20.9649"],["2.2433","2.2433"],["1.49","5.6371"],["1.1","6.9932"],["1","689.7419"],["0.99","5.637"],["0.984","5"],["0.9","1"],["0.88","5.0019"],["0.8","2"],["0.73023488","47.4378"],["0.7","1"],["0.64027","5"],["0.6","1"],["0.50117111","1"],["0.50030922","2.0632"],["0.5[...]
