---
http_interactions:
- request:
    method: get
    uri: https://openapi-v2.kucoin.com/api/v1/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 8f6fce3393867365
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":[{"symbol":"REQ-ETH","quoteMaxSize":"99999999","enableTrading":true,"priceIncrement":"0.0000001","baseMaxSize":"1000000","baseCurrency":"REQ","quoteCurrency":"ETH","market":"ETH","quoteIncrement":"0.0000001","baseMinSize":"1","quoteMinSize":"0.00001","name":"REQ-ETH","baseIncrement":"0.0001"},{"symbol":"REQ-BTC","quoteMaxSize":"99999999","enableTrading":true,"priceIncrement":"0.00000001","baseMaxSize":"1000000","baseCurrency":"REQ","quoteCurrency":"BTC","market":"BTC","quoteIncrement":"0.00000001","baseMinSize":"1","quoteMinSize":"0.000001","name":"REQ-BTC","baseIncrement":"0.0001"},{"symbol":"PAY-ETH","quoteMaxSize":"99999999","enableTrading":true,"priceIncrement":"0.0000001","baseMaxSize":"10000000","baseCurrency":"PAY","quoteCurrency":"ETH","market":"ETH","quoteIncrement[...]
