---
http_interactions:
- request:
    method: get
    uri: https://excoincial.com/api/v2/trades?market=afcasheth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      X-Real-Ip:
      - 91.210.37.218
      Etag:
      - W/"6a58b7223170ab9c97ea559af5cb8215"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":6952166,"price":"0.000031","volume":"4999.9","funds":"0.1549969","market":"afcasheth","created_at":"2019-09-17T04:28:45Z","maker_type":"buy","type":"buy"},{"id":6853246,"price":"0.000031","volume":"0.08380215","funds":"0.00000259786665","market":"afcasheth","created_at":"2019-09-16T19:23:31Z","maker_type":"buy","type":"buy"},{"id":6775552,"price":"0.00005","volume":"0.1","funds":"0.000005","market":"afcasheth","created_at":"2019-09-16T13:57:24Z","maker_type":"sell","type":"sell"},{"id":6342288,"price":"0.000039","volume":"12.0","funds":"0.000468","market":"afcasheth","created_at":"2019-09-15T11:01:04Z","maker_type":"sell","type":"sell"},{"i[...]
