---
http_interactions:
- request:
    method: get
    uri: https://bitrabbit.com/web/tickets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"BTC_ETH":{"id":4,"last":"0.032983","lowestAsk":"0.032977","highestBid":"0.033016","percentChange":"-0.002329099","baseVolume":"35.3061321033","quoteVolume":"2138.3724","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"BTC_BCH":{"id":11,"last":"0.085021","lowestAsk":"0.084979","highestBid":"0.085194","percentChange":"-0.075929005","baseVolume":"63.188169941174","quoteVolume":"1427.755382","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"BTC_DASH":{"id":12,"last":"0.024976","lowestAsk":"0.024939","highestBid":"0.025008","percentChange":"-0.021699961","baseVolume":"12.8800274935","quoteVolume":"1020.079","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"BTC_ETC":{"id":14,"last":"0.001487","lowestAsk":"0.001485","highestBid":"0.001488","percentChange":"0.0","baseVolume":"8.5428531436318","quoteVolume":"11490.0513028","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"BTC_LTC":{"id":16,"last":"0.008606","lowestAsk":"0.008131","highestBid":"0.008606","percentChange":"0.046576675","baseVolume":"0.0010813894675","quoteVolume":"0.25703","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"BTC_XLM":{"id":20,"last":"0.00004051","lowestAsk":"0.00004048","highestBid":"0.00004055","percentChange":"-0.013635257","baseVolume":"58.93454889156313125","quoteVolume":"2889656.72427375","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"BTC_ZEC":{"id":23,"last":"0.020969","lowestAsk":"0.020963","highestBid":"0.020988","percentChange":"0.012359388","baseVolume":"75.0210455055","quoteVolume":"7199.371","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_EOS":{"id":27,"last":"0.025519","lowestAsk":"0.025511","highestBid":"0.025546","percentChange":"-0.013415294","baseVolume":"209.887941775","quoteVolume":"16338.46","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"USDT_BTC":{"id":38,"last":"6445.11","lowestAsk":"6443.88","highestBid":"6451.84","percentChange":"-0.009112321235844154246830597","baseVolume":"1620373.937607465","quoteVolume":"500.521314","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"USDT_ETH":{"id":39,"last":"212.75","lowestAsk":"212.69","highestBid":"212.94","percentChange":"-0.011568481694852257944619959","baseVolume":"138210.636986348825","quoteVolume":"1291.71837647","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_EXT":{"id":41,"last":"0.00000198","lowestAsk":"0.0000016","highestBid":"0.00000198","percentChange":"0.2375","baseVolume":"0.0012952367505","quoteVolume":"1447.1919","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"BTC_SKY":{"id":42,"last":"0.000568","lowestAsk":"0.00045","highestBid":"0.000568","percentChange":"0.0","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_VNS":{"id":45,"last":"0.00000735","lowestAsk":"0.00000701","highestBid":"0.00000746","percentChange":"0.012396694","baseVolume":"0.02696896425","quoteVolume":"7383.7","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_FOTA":{"id":47,"last":"0.00003017","lowestAsk":"0.00003016","highestBid":"0.00018587","percentChange":"0.0","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_VNT":{"id":48,"last":"0.000008","lowestAsk":"0.00000406","highestBid":"0.0000079","percentChange":"0.0","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_BCG":{"id":49,"last":"0.00000812","lowestAsk":"0.00000822","highestBid":"0.00000999","percentChange":"0.0","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_TTB":{"id":50,"last":"0.00000153","lowestAsk":"0.00000153","highestBid":"0.00000223","percentChange":"0.006578947","baseVolume":"0.01760765","quoteVolume":"23092.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"BTC_TRVC":{"id":51,"last":"0.00000589","lowestAsk":"0.00000485","highestBid":"0.00000589","percentChange":"-0.099388379","baseVolume":"0.03243928061160875","quoteVolume":"10439.0283545","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_BUC":{"id":52,"last":"0.00008884","lowestAsk":"0.00005811","highestBid":"0.00008885","percentChange":"0.528824643","baseVolume":"2.0729599104375","quoteVolume":"56426.265","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_MITH":{"id":54,"last":"0.00113","lowestAsk":"0.00113","highestBid":"0.00137","percentChange":"0.0","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"BTC_PAI":{"id":55,"last":"0.00002302","lowestAsk":"0.00002297","highestBid":"0.00002307","percentChange":"-0.026638478","baseVolume":"0.354331824275","quoteVolume":"30369.13","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_HONEY":{"id":56,"last":"0.00000164","lowestAsk":"0.00000156","highestBid":"0.00000398","percentChange":"0.012345679","baseVolume":"0.00015354333922875","quoteVolume":"188.39673525","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_OMG":{"id":57,"last":"0.0156793","lowestAsk":"0.01567616","highestBid":"0.01572086","percentChange":"-0.006156022722518797673997016","baseVolume":"68.192109887436","quoteVolume":"8671.5052","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_NEO":{"id":58,"last":"0.075899","lowestAsk":"0.075861","highestBid":"0.076104","percentChange":"-0.006687606","baseVolume":"56.079880605175","quoteVolume":"1472.7923","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"USDT_DAI":{"id":59,"last":"1.00494637","lowestAsk":"0.9","highestBid":"1.00494637","percentChange":"0.0","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"BTC_BTC2":{"id":60,"last":"0.14378947","lowestAsk":"0.11111111","highestBid":"0.14999999","percentChange":"0.0","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_CARROT":{"id":61,"last":"0.000003","lowestAsk":"0.000003","highestBid":"0.00000419","percentChange":"0.351351351","baseVolume":"0.02610622485","quoteVolume":"20004.77","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"CARROT_DOGE":{"id":62,"last":"4.4","lowestAsk":"4.3","highestBid":"4.4","percentChange":"0.1","baseVolume":"6605.834373054","quoteVolume":"3145.63541574","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"USDT_GUSD":{"id":63,"last":"0.0","lowestAsk":"0.00002","highestBid":"101000.0","percentChange":"NaN","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"USDT_PHI":{"id":64,"last":"0.00000009","lowestAsk":"0.00000501","highestBid":"101000.0","percentChange":"0.0","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"USDT_TUSD":{"id":65,"last":"0.0","lowestAsk":"0.00000502","highestBid":"101000.0","percentChange":"NaN","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"CARROT_NASH":{"id":66,"last":"0.31","lowestAsk":"0.31000001","highestBid":"0.46","percentChange":"-0.326086957","baseVolume":"0.771222221","quoteVolume":"4.0063492","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"USDT_VNSC":{"id":67,"last":"0.00125038","lowestAsk":"0.00125","highestBid":"0.0012507","percentChange":"0.000231983","baseVolume":"4.9113479573869347","quoteVolume":"7856.67967604","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"CARROT_KLB":{"id":68,"last":"0.55000003","lowestAsk":"0.55000003","highestBid":"4.98","percentChange":"-0.889558226907630522088353414","baseVolume":"2.765000015","quoteVolume":"2.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"CARROT_TYT":{"id":69,"last":"0.0","lowestAsk":"0.0101","highestBid":"0.0","percentChange":"NaN","baseVolume":"0.0","quoteVolume":"0.0","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"},"ETH_VEEN":{"id":70,"last":"0.00003093","lowestAsk":"0.0000308","highestBid":"0.000032","percentChange":"-0.040930233","baseVolume":"2.7398623005","quoteVolume":"173463.9","isFrozen":"0","high24hr":"0.0","low24hr":"0.0"}}'
  recorded_at: Sat, 10 Nov 2018 08:07:23 GMT
recorded_with: VCR 4.0.0
