---
http_interactions:
- request:
    method: get
    uri: https://bitrabbit.io/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"48377faa7325976fc79342614aa019ed"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":4,"name":"ETH/BTC","innovation":false,"ticker":{"at":1578937716,"last":"0.01769","buy":"0.01769","sell":"0.017713","open":"0.017805","high":"0.01794","low":"0.017601","volume":"50421.586","turnover":"895.436945774","last_usdt":"143.0627449","last_cny":"986.2316445171304291882347"},"ask_config":{"fee_rate":"0.001","price_minmov":"0.000001","min_amount":"0.001"},"bid_config":{"fee_rate":"0.001","price_minmov":"0.000001","min_amount":"0.001"},"tags":[],"favorite":false},{"id":11,"name":"BCH/BTC","innovation":false,"ticker":{"at":1578937716,"last":"0.032574","buy":"0.032563","sell":"0.032567","open":"0.032739","high":"0.033081","low":"0.032365","volume":"28789.7673","turnover":"941.130295595175","last_usdt":"263.43277854","last_cny":"1816.02654542119879029833562"},"ask_config":{"fee_rate":"0.001","price_minmov":"0.00000001","min_amount":"0.00000001"},"bid_config":{"fee_rate":"0.001","price_minmov":"0.00000001","min_amount":"0.00000001"},"tags":[],"favorit[...]
