---
http_interactions:
- request:
    method: get
    uri: https://marketapi.gdac.co.kr/v1/public/marketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"marketName":"ETH-BOS","high":0.00026350,"low":0.00025050,"volume":776952.74954225,"baseVolume":199.66986513,"last":2.52E-4,"bid":2.51E-4,"ask":2.635E-4,"prevDay":2.605E-4},{"marketName":"KRW-BOS","high":59.30000000,"low":57.00000000,"volume":224157270.98556638,"baseVolume":13021475125.00000000,"last":58.2,"bid":58.0,"ask":58.6,"prevDay":59.1},{"marketName":"KRW-BTC","high":7353000.00000000,"low":7268000.00000000,"volume":2767.61204190,"baseVolume":20183279123.00000000,"last":7291000.0,"bid":7286000.0,"ask":7293000.0,"prevDay":7300000.0},{"marketName":"KRW-CMT","high":116.50000000,"low":110.50000000,"volume":122582858.96638663,"baseVolume":14117483865.000[...]
