---
http_interactions:
- request:
    method: get
    uri: https://marketapi.gdac.co.kr/v1/public/marketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"marketName":"KRW-BCH","high":162000.00000000,"low":136000.00000000,"volume":1518.81333659,"baseVolume":234653067.00000000,"last":140500.0,"bid":136000.0,"ask":140500.0,"prevDay":149500.0},{"marketName":"ETH-BOS","high":0.00061000,"low":0.00061000,"volume":0.0,"baseVolume":0.0,"last":6.1E-4,"bid":6.12E-4,"ask":6.66E-4,"prevDay":6.1E-4},{"marketName":"KRW-BOS","high":81.80000000,"low":77.10000000,"volume":1189398.48810348,"baseVolume":93913229.00000000,"last":77.9,"bid":77.7,"ask":78.6,"prevDay":77.2},{"marketName":"KRW-BSV","high":103500.00000000,"low":92500.00000000,"volume":6716.45415315,"baseVolume":666778607.00000000,"last":99500.0,"bid":97400.0,"ask":101000.0,"prevD[...]
