---
http_interactions:
- request:
    method: get
    uri: https://www.bcex.ca/api/rt/getTrades?market=CKUSD&token=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"msg":"success","data":[{"created_at":"2019-06-13 08:44:00","price":"16948.48","amount":"1.462506","volume":"24787.25369088","dominance":"1","id":0,"trade_no":"2019061308440101804514142120","sorting":1560415440.986952},{"created_at":"2019-06-13
        08:43:46","price":"16948.68","amount":"0.675071","volume":"11441.56235628","dominance":"2","id":0,"trade_no":"2019061308434625801614143997","sorting":1560415426.233998},{"created_at":"2019-06-13
        08:43:40","price":"16948.2","amount":"0.196091","volume":"3323.3894862","dominance":"1","id":0,"trade_no":"2019061308434068810714143241","sorting":1560415420.646155},{"created_at":"2019-06-13
        08:43:32","price":"16947.86","amount":"1.061[...]
