---
http_interactions:
- request:
    method: post
    uri: https://www.bcex.ca/Api_Order/ticker?symbol=btc2ckusd
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cdn-Edge:
      - e57f9b2,-
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"\u83b7\u53d6\u724c\u4ef7\u4fe1\u606f\u6210\u529f","data":{"high":8027.3,"low":7500,"buy":"7650.28","sell":"7812.35","last":7692.4,"vol":"3542.6498"}}'
  recorded_at: Tue, 05 Jun 2018 06:34:50 GMT
recorded_with: VCR 4.0.0
