---
http_interactions:
- request:
    method: get
    uri: https://www.bcex.ca/Api_Order/depth?symbol=btc2ckusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cdn-Edge:
      - e57f9b2,-
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"\u83b7\u53d6\u5e02\u573a\u6df1\u5ea6\u4fe1\u606f\u6210\u529f","data":{"asks":[[30000,0.0013],[28000,0.0889],[25000,0.0027],[20688,0.4016],[20190,0.0037],[20000,0.0634],[19999.99,0.06],[19988,0.3012],[19688,0.3012],[19600,0.0201],[19500,0.0013],[19300,0.0058],[19200,0.0159],[19000,0.0489],[18000,0.0456],[17998,0.3023],[17777,0.0019],[17000,0.008],[16900,0.01],[16000,0.0278],[15705,0.0339],[15250,0.35],[15200,0.0136],[15000,0.0675],[14999,0.327],[14000,0.1601],[13998,0.0119],[13500,0.001],[13399,0.027],[13300,0.01],[13000,0.02],[12975,0.0056],[12900,0.5],[12700,0.0156],[12600,0.0523],[12460,0.0071],[12000,0.023],[11999.99,1.3],[11900,0.5367],[11885,0.075],[11580.21,0.051],[11500.12,0.051],[11450,0.0523],[11400,0.0329],[11340,0.0047],[11210,0.0136],[11200,0.5],[11111,0.019],[11000,0.2076],[10900,0.3],[10880,0.001],[10834.31,0.002],[10800,0.003],[10600,0.2],[10200,0.73],[10000,0.0605],[9999.83,0.0281],[9986,0.0637],[9960,0.2],[9950,0.11],[9915,0.025],[9886,0.08],[9686,0.84],[9644.12,0.75],[9590,0.3],[9428.11,0.08],[9400,0.01],[9399,0.0256],[9230.01,0.0087],[9210,0.025],[9136,0.0039],[9123.4,0.17],[9111,0.27],[9000,0.1083],[8999.6,0.0286],[8727.88,0.04],[8671,0.01],[8630,0.02],[8610,0.0239],[8530.02,0.0578],[8500,0.1],[8450,0.1679],[8449.99,0.2],[8309.97,0.0221],[8125.36,2.2192],[8110,0.052],[8102.13,1],[8088,0.0188],[8065.22,0.02],[8059.24,3.3216],[8059,0.128],[8056,0.1399],[8046.38,1.7514],[8000,0.0211],[7812.42,0.658],[7812.39,0.001],[7812.38,0.0001],[7812.37,0.001],[7812.36,0.001],[7812.35,0.001]],"bids":[[7650.28,0.0922],[7650.2,0.0014],[7638.08,0.001],[7450.15,0.0018],[7450.14,0.0139],[7300,0.082],[7200,0.0045],[7161.1,3.8276],[7140.72,1.5168],[7111.19,1.8456],[7108.91,2.835],[7097.88,2.134],[7037.58,0.11],[7000.02,0.01],[7000,0.0455],[6871,0.0011],[6800,0.143],[6600,0.01],[6593,0.012],[6500,0.0134],[6000,0.0298],[4800,0.02],[4600.01,0.0014],[4000,0.1]],"date":1528180489}}'
  recorded_at: Tue, 05 Jun 2018 06:34:50 GMT
recorded_with: VCR 4.0.0
