---
http_interactions:
- request:
    method: get
    uri: https://www.bcex.ca/api/rt/getDepth?market=CKUSD&token=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"status":"success","data":{"bids":[["16936.34","0.000018"],["15100.85","0.00313"],["15100.28","0.002581"],["15000.28","0.000291"],["15000.02","0.108697"],["14958.51","4.75"],["14957.37","4.53"],["14956.89","3.35"],["14956.76","3.45"],["14953.5","2.69"],["14952.77","3.28"],["14952.75","3.41"],["14952.69","4.19"],["14952.27","4.96"],["14952.15","2.97"],["14929.15","0.121983"],["14516.1","0.029188"],["9600.1","0.01734"],["8582.76","0.001183"],["8580.34","0.001006"],["8579.89","0.868824"],["8579.59","0.528"],["8579.43","0.266904"],["8579.41","0.1452"],["8579.08","0.108592"],["8578.73","1.303192"],["7000","0.000498"],["6229.99","0.023309"],["5668.12","0.338111"],["5112.11","0.000216"],["4998.4","0.0116"],["4210","0.1"],["4200","0.1"],["4190","0.1"],["4180","0.1"],["4170","0.1"],["4160","0.1"],["4150","0.1"],["4140","0.1"],["4050","0.0186"],["3480","0.0074"],["3442","0.010149"],["3000.1","0.001352"],["2550","0.000285"],["2129.5","0.0008"],["77","0.01"],["0.05","5.6"],["0.01","23"]],"asks":[["20000","0.00176"],["19888.88","0.008574"],["19800","0.001082"],["18998","0.021722"],["17999.87","0.000592"],["17885.8","2.77"],["17884.02","3.83"],["17882.81","4.83"],["17880.5","4.96"],["17872.56","3.66"],["17869.72","2.27"],["17868.84","3.33"],["17868.75","4.76"],["17868.3","3.5"],["17867.43","3.69"],["17866.57","4.81"],["17866.55","3.89"],["17866.48","4.13"],["17865.86","3.62"],["17865.66","3.73"],["17864.21","2.86"],["17864.15","4.33"],["17799.88","0.016881"],["17744","0.004783"],["16988.43","0.006758"],["16988","0.154636"],["16987.99","0.0505"]]}}'
  recorded_at: Thu, 13 Jun 2019 08:45:09 GMT
recorded_with: VCR 4.0.0
