---
http_interactions:
- request:
    method: get
    uri: https://www.bcex.ca/api/rt/getTrades?market=CKUSD&token=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"msg":"success","data":[{"created_at":"2019-09-03 07:04:42","price":"37349.13","amount":"0.062878","volume":"2348.43859614","dominance":"1","id":0,"trade_no":"2019090307044249910514149215","sorting":1567494282.473714},{"created_at":"2019-09-03
        07:04:38","price":"37287.34","amount":"0.073995","volume":"2759.0767233","dominance":"1","id":0,"trade_no":"2019090307043876416914140271","sorting":1567494278.682743},{"created_at":"2019-09-03
        07:04:28","price":"37284.41","amount":"0.127599","volume":"4757.45343159","dominance":"1","id":0,"trade_no":"2019090307042900007514148964","sorting":1567494268.992981},{"created_at":"2019-09-03
        07:04:21","price":"37224.5","amount":"0.2717[...]
