---
http_interactions:
- request:
    method: get
    uri: https://www.bcex.ca/api/rt/getTradeLists
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"msg":"success","data":{"main":{"USDT":[{"id":826,"vol":"119252.576766","market":"USDT","market_as":"USDT","token":"B91","token_as":"B91","sort":0,"opening_time":"2019-05-21
        07:00:00","amount":"197520.92","max_price":"0.648","min_price":"0.4952","open_price":"0","is_up":"1","last":"0.54","prev_price":"0.639","p_precision":"4","n_precision":"2","latest_price":"0.648","percent_change":"0.2","currency":{"CNY":"4.52952","KRW":"737.005446432","USD":"0.655421544","JPY":"74.179043136"}},{"id":830,"vol":"66.0146","market":"USDT","market_as":"USDT","token":"BASH","token_as":"BASH","sort":0,"opening_time":"2019-05-29
        07:00:00","amount":"66014","max_price":"0.0012","min_price":"0.001","open_price":"0","is_up":"1","last":"0.001","prev_price":"0.001","p_precision":"4","n_precision":"0","latest_price":"0.0012","percent_change":"0.2","currency":{"CNY":"0.008388","KRW":"1.3648249008","USD":"0.0012137436","JPY":"0.1373685984"}},{"id":825,"vol":423514.1547898,"mar[...]
