---
http_interactions:
- request:
    method: get
    uri: https://www.bcex.ca/api/api_market/market/depth?market=CKUSD&token=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"msg":"success","data":{"bids":[["37000","0.01"],["35000.01","0.022194"],["31888","0.476578"],["31707.76","3.64"],["31705.34","2.18"],["31702.71","3.76"],["31702.2","4.68"],["31698.29","3.39"],["31698.05","3.84"],["31696.06","2.39"],["31694.59","4.78"],["31690.7","3.85"],["31689.29","2.89"],["31685.71","3.17"],["31684.39","2.99"],["31681.99","2.75"],["31680.76","4.14"],["31679.53","3.77"],["31677.79","3.41"],["31676.61","2.98"],["31674.62","4.14"],["31671.76","4.92"],["31668.67","4.24"],["31655.88","4.82"],["31649.1","3.78"],["31645.43","3.55"],["31642.52","4.01"],["31634.46","3.46"],["31634.4","2.88"],["31614.35","2.19"],["31608.5","4.69"],["31605.62","4.07"],["31603.22","4.92"],["31600.94","5"],["31595.49","2.1"],["31594.02","4.27"],["31593.98","3.4"],["31590.62","2.28"],["31587.63","3.18"],["31582.89","4.22"],["31576.08","2.13"],["31565.2","3.91"],["31561.19","2.8"],["31551.46","4.01"],["30000","0.022466"],["29000","0.001"],["28000","0.003838"],["25000","0.04243"],["23999","0.002"],["21006","0.003"],["20100","0.018921"],["15000.02","0.043142"],["7000","0.000498"],["6229.99","0.023309"],["5668.12","0.338111"],["5112.11","0.000216"],["4050","0.0186"],["3480","0.0074"],["3000.1","0.001352"],["2550","0.000285"],["77","0.01"],["0.05","5.6"],["0.03","11.6"],["0.01","23"]],"asks":[["100000","0.049525"],["48582","0.05"],["43441.7","2.03"],["43420.75","4.46"],["43411.75","4.92"],["43401.57","2.63"],["43390.54","4.64"],["43373.76","2.93"],["43370.64","2.71"],["43363.54","4.05"],["43361.97","4.3"],["43348.88","5"],["43337.87","4.9"],["43336.76","2.74"],["43332.48","4.48"],["43330.31","3.89"],["43322.58","2.08"],["43314.83","4.97"],["43313.72","4.52"],["42985","0.025381"],["42000","0.001"],["41000","0.107192"]]}}'
  recorded_at: Tue, 03 Sep 2019 07:04:43 GMT
recorded_with: VCR 4.0.0
