---
http_interactions:
- request:
    method: get
    uri: https://www.bcex.ca/api/rt/getTradeLists
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"msg":"success","data":{"main":{"USDT":[{"id":849,"vol":"0","market":"USDT","market_as":"USDT","token":"ANS","token_as":"NEO","sort":0,"opening_time":"2019-06-27
        09:00:00","amount":"0","max_price":"9.99","min_price":"9.99","open_price":"0","is_up":"1","last":"9.99","prev_price":"7.99","p_precision":"2","n_precision":"3","latest_price":"9.99","percent_change":"0","currency":{"CNY":"71.6283","KRW":"11654.75529828","USD":"10.36461501","JPY":"1173.04234344","HKD":"81.21216654"}},{"id":826,"vol":"164.5623","market":"USDT","market_as":"USDT","token":"B91","token_as":"B91","sort":0,"opening_time":"2019-05-21
        07:00:00","amount":"6094.9","max_price":"0.027","min_price":"0.027","open_price":"0","is_up":"-1","last":"0.027","prev_price":"0.0875","p_precision":"4","n_precision":"2","latest_price":"0.027","percent_change":"0","currency":{"CNY":"0.19359","KRW":"31.499338644","USD":"0.028012473","JPY":"3.170384712","HKD":"0.219492342"}},{"id":859,"vol":"0","[...]
