---
http_interactions:
- request:
    method: get
    uri: https://www.bcex.ca/Api_Order/marketOrder?symbol=btc2ckusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cdn-Edge:
      - e57f9b2,-
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"\u83b7\u53d6\u5e02\u573a\u4ea4\u6613\u4fe1\u606f\u6210\u529f","data":[{"date":"1528180371","price":7721.57,"amount":"0.06380000","tid":"15862768","type":"buy"},{"date":"1528180368","price":7687.53,"amount":"0.22890000","tid":"15862764","type":"buy"},{"date":"1528180364","price":7744.27,"amount":"0.56450000","tid":"15862762","type":"sell"},{"date":"1528180272","price":7741.03,"amount":"0.67260000","tid":"15862615","type":"buy"},{"date":"1528180268","price":7685.89,"amount":"0.09000000","tid":"15862613","type":"buy"},{"date":"1528180267","price":7690.75,"amount":"0.42700000","tid":"15862612","type":"sell"},{"date":"1528180264","price":7721.56,"amo[...]
