---
http_interactions:
- request:
    method: get
    uri: https://bione.cc/api/v2/depth?market=btc_usdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":1,"data":{"timestamp":1557734258,"asks":[["7023.08500000","0.47233300"],["7031.46600000","2.97247300"],["7031.54400000","2.10655800"],["7031.56000000","2.56834400"],["7032.05700000","0.72528100"],["7032.80100000","0.21746000"],["7036.10200000","1.79002500"],["7037.99200000","2.27273900"],["7041.65600000","1.32925000"],["7041.74400000","0.96026700"],["7041.77100000","0.30488600"],["7049.46000000","0.63953700"],["7049.54700000","2.06939100"],["7050.06500000","1.41331900"],["7050.07000000","0.48671400"],["7050.07900000","0.28520100"],["7050.08100000","2.04409100"],["7050.23400000","0.78821700"],["7052.52000000","0.82595800"],["7060.01300000","2.55436800"],["7064.56300000","0.78469600"],["7065.58100000","1.46089300"],["7065.66100000","0.85988500"],["7065.67300000","2.76537600"],["7066.38700000","1.49168800"],["7067.00200000","1.28126300"],["7068.54900000","2.23474800"],["7068.75500000","0.58978800"],["7068.92500000","0.60892500"],["7068.93000000","1.80904000"],["7068.94400000","0.44195100"],["7068.95100000","1.39502800"],["7068.96200000","4.07808300"],["7068.98100000","0.69948300"],["7069.03400000","2.80277200"],["7069.05100000","0.58919500"],["7069.98900000","0.48947900"],["7069.99100000","1.30114300"],["7072.00200000","0.51888600"],["7073.04700000","0.10827500"],["7073.28800000","1.04251000"],["7073.30000000","1.97049200"],["7073.35800000","0.37932700"],["7075.18800000","1.27415000"]],"bids":[["7022.94400000","0.40999200"],["7012.38100000","1.27788500"],["7009.53100000","2.82365400"],["7001.57700000","1.03593700"],["6999.27400000","2.90302200"],["6300.00000000","0.00794700"],["5000.00000000","0.00798400"],["0.00010000","1.00030000"]]},"msg":"success"}'
  recorded_at: Mon, 13 May 2019 07:57:38 GMT
recorded_with: VCR 4.0.0
