---
http_interactions:
- request:
    method: get
    uri: https://bione.cc/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":1,"data":[{"symbol":"bat_usdt","buy":"0.00000000","sell":"0.00000000","high":"0.43380000","low":"0.38460000","last":"0.39210000","vol":"3818269.76600000","change":"-5.13000000"},{"symbol":"bcc_usdt","buy":"0.00000000","sell":"0.00000000","high":"622.46000000","low":"622.46000000","last":"622.46000000","vol":"12.00000000","change":"-6.89000000"},{"symbol":"bcd_usdt","buy":"0.00000000","sell":"0.00000000","high":"1.10500000","low":"1.01600000","last":"1.10400000","vol":"15967.36527050","change":"4.64000000"},{"symbol":"beb_usdt","buy":"0.00000000","sell":"0.00000000","high":"0.00941500","low":"0.00667500","last":"0.00897300","vol":"2035323.35991100","change[...]
