---
http_interactions:
- request:
    method: get
    uri: https://novaexchange.com/remote/v2/market/openorders/BTC_DOGE/BOTH/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"buyorders":[{"amount":"96526.53716642","baseamount":"0.02220110","basecurrency":"BTC","currency":"DOGE","price":"0.00000023"},{"amount":"99862.04545454","baseamount":"0.02196965","basecurrency":"BTC","currency":"DOGE","price":"0.00000022"},{"amount":"78190.47619048","baseamount":"0.01642000","basecurrency":"BTC","currency":"DOGE","price":"0.00000021"},{"amount":"299258.05000000","baseamount":"0.05985161","basecurrency":"BTC","currency":"DOGE","price":"0.00000020"},{"amount":"16038.91810716","baseamount":"0.00304739","basecurrency":"BTC","currency":"DOGE","price":"0.00000019"},{"amount":"4000.00000000","baseamount":"0.00072000","basecurrency":"BTC","currency":"DOGE","price":"0.00000018"},{"amount":"11099.37500000","baseamount":"0.00177590","basecurrency":"BTC","currency":"DOGE","price":"0.00000016"},{"amount":"17055.26666667","baseamount":"0.00255829","basecurrency":"BTC","currency":"DOGE","price":"0.00000015"},{"amount":"46230.76923077","baseamount":"0.00601000","basecurrency":"BTC","currency":"DOGE","price":"0.00000013"},{"amount":"825727.27272727","baseamount":"0.09083000","basecurrency":"BTC","currency":"DOGE","price":"0.00000011"},{"amount":"11000.00000000","baseamount":"0.00110000","basecurrency":"BTC","currency":"DOGE","price":"0.00000010"},{"amount":"10000.00000000","baseamount":"0.00050000","basecurrency":"BTC","currency":"DOGE","price":"0.00000005"},{"amount":"4971.66666667","baseamount":"0.00014915","basecurrency":"BTC","currency":"DOGE","price":"0.00000003"},{"amount":"46616.00000000","baseamount":"0.00046616","basecurrency":"BTC","currency":"DOGE","price":"0.00000001"}],"sellorders":[{"amount":"1343.12982654","baseamount":"0.00032235","basecurrency":"BTC","currency":"DOGE","price":"0.00000024"},{"amount":"252416.90045324","baseamount":"0.06310423","basecurrency":"BTC","currency":"DOGE","price":"0.00000025"},{"amount":"91994.44275981","baseamount":"0.02391856","basecurrency":"BTC","currency":"DOGE","price":"0.00000026"},{"amount":"14877.51850902","baseamount":"0.00401693","basecurrency":"BTC","currency":"DOGE","price":"0.00000027"},{"amount":"17206.71416004","baseamount":"0.[...]
