---
http_interactions:
- request:
    method: get
    uri: https://novaexchange.com/remote/v2/market/info/BTC_PPC/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "message": "Info for market: BTC_PPC", "markets":
        [{"bid": "0.00026934", "last_price": "0.00027852", "volume24h": "0.026", "marketid":
        181, "disabled": 1, "currency": "PPC", "marketname": "BTC_PPC", "ask": "0.00027852",
        "low24h": "0.00027160", "change24h": "-3.7", "high24h": "0.00038118", "basecurrency":
        "BTC"}]}'
  recorded_at: Tue, 03 Oct 2017 04:05:38 GMT
recorded_with: VCR 3.0.3
