---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=deals&pair=BIX_BTC&size=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - EFF3776F-335B-480B-8C0E-BEBEB7B8B99A
      Etag:
      - W/"558-AhtXrAeErAOzk7Ffmbz3vy1Gc+Q"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"result":[{"pair":"BIX_BTC","price":"0.00011291","amount":"1080.0000","time":1516846516000,"side":2},{"pair":"BIX_BTC","price":"0.00011300","amount":"6.4078","time":1516846513000,"side":1},{"pair":"BIX_BTC","price":"0.00011293","amount":"26.5381","time":1516846509000,"side":1},{"pair":"BIX_BTC","price":"0.00011282","amount":"36.2771","time":1516846502000,"side":1},{"pair":"BIX_BTC","price":"0.00011282","amount":"7.8229","time":1516846502000,"side":2},{"pair":"BIX_BTC","price":"0.00011300","amount":"17.3465","time":1516846500000,"side":1},{"pair":"BIX_BTC","price":"0.00011300","amount":"166.6030","time":1516846496000,"side":1},{"pair":"BIX_BTC","price":"0.00011300","amount":"119.8206","time":1516846489000,"side":1},{"pair":"BIX_BTC","price":"0.00011299","amount":"33.5632","time":1516846489000,"side":1},{"pair":"BIX_BTC","price":"0.00011288","amount":"416.0000","time":1516846487000,"side":2},{"pair":"BIX_BTC","price":"0.00011288","amount":"954.0000","time":1516846487000,"side":2},{"pair":"BIX_BTC","price":"0.00011288","amount":"256.0000","time":1516846485000,"side":1},{"pair":"BIX_BTC","price":"0.00011300","amount":"166.1796","time":1516846485000,"side":1},{"pair":"BIX_BTC","price":"0.00011300","amount":"166.1796","time":1516846477000,"side":1},{"pair":"BIX_BTC","price":"0.00011290","amount":"26.2287","time":1516846473000,"side":1}],"cmd":"deals"}'
  recorded_at: Thu, 25 Jan 2018 02:15:19 GMT
recorded_with: VCR 3.0.3
