---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=marketAll
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - BE5FB0D5-BCAE-4F7C-AF70-109ECEC43953
      Etag:
      - W/"4dd9-alQlxpaJWI9iD2LGXrYFmTlZmdE"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"result":[{"id":1,"coin_symbol":"BIX","currency_symbol":"BTC","last":"0.00011300","high":"0.00011499","low":"0.00010787","change":"+0.00000059","percent":"+0.52%","vol24H":"11958551","amount":"1337.11","last_cny":"8.17","high_cny":"8.31","low_cny":"7.80","last_usd":"1.28","high_usd":"1.30","low_usd":"1.22"},{"id":2,"coin_symbol":"BIX","currency_symbol":"ETH","last":"0.00120796","high":"0.00129805","low":"0.00120000","change":"-0.00004519","percent":"-3.61%","vol24H":"11250969","amount":"13768.43","last_cny":"8.21","high_cny":"8.82","low_cny":"8.15","last_usd":"1.29","high_usd":"1.38","low_usd":"1.28"},{"id":3,"coin_symbol":"GTC","currency_symbol":"BTC","last":"0.00001264","high":"0.00001382","low":"0.00000920","change":"+0.00000195","percent":"+18.24%","vol24H":"5809568","amount":"69.50","l[...]
