---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=ticker&pair=BIX_BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ca-Request-Id:
      - 1D70CCC5-D778-4E86-93F6-03E7A82B50ED
      Etag:
      - W/"dd-6YyNJw5G622ByLi4bWJt1WtCtlc"
    body:
      encoding: UTF-8
      string: '{"result":{"buy":"0.00011291","high":"0.00011499","last":"0.00011291","low":"0.00010787","sell":"0.000113","timestamp":1516846518390,"vol":"11958551","last_cny":"8.16","last_usd":"1.28","percent":"+0.52%"},"cmd":"ticker"}'
  recorded_at: Thu, 25 Jan 2018 02:15:19 GMT
recorded_with: VCR 3.0.3
