---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=depth&pair=BIX_BTC&size=200
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - FD2F3DBE-8EC0-4125-A035-8F22F1C58CE8
      Etag:
      - W/"386c-DWv+10vVNF1dB3SVl6oOZl5qmt8"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"result":{"update_time":1556852085241,"asks":[{"volume":"11.3985","price":"0.00005647"},{"volume":"64.5431","price":"0.0000565"},{"volume":"3.8889","price":"0.00005657"},{"volume":"3.8684","price":"0.00005687"},{"volume":"983.3714","price":"0.0000569"},{"volume":"241","price":"0.00005691"},{"volume":"3.8643","price":"0.00005693"},{"volume":"3.863","price":"0.00005697"},{"volume":"582.051","price":"0.000057"},{"volume":"109.9586","price":"0.00005707"},{"volume":"200","price":"0.00005709"},{"volume":"189","price":"0.00005711"},{"volume":"40.7","price":"0.00005719"},{"vo[...]
