---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=deals&pair=BIX_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - D911E96D-8438-4836-BF0D-F17CF7F180FA
      Etag:
      - W/"4563-68nGGgH4HnNM5Ys8FBRzJPB3wGk"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"result":[{"pair":"BIX_BTC","price":"0.00003380","amount":"1.8186","time":1560390049979,"side":2},{"pair":"BIX_BTC","price":"0.00003380","amount":"6.4929","time":1560390049979,"side":2},{"pair":"BIX_BTC","price":"0.00003382","amount":"11.6885","time":1560390049979,"side":2},{"pair":"BIX_BTC","price":"0.00003380","amount":"0.9005","time":1560390046133,"side":2},{"pair":"BIX_BTC","price":"0.00003381","amount":"8.4983","time":1560390046133,"side":2},{"pair":"BIX_BTC","price":"0.00003384","amount":"10.6012","time":1560390046133,"side":2},{"pair":"BIX_BTC","price":"0.00003382","amount":"12.907[...]
