---
http_interactions:
- request:
    method: get
    uri: https://api.bitfinex.com/v1/book/OMGETH?limit_asks=100&limit_bids=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5069bc1b61bacce72ef60dbc195daa1d"
    body:
      encoding: UTF-8
      string: '{"bids":[{"price":"0.0098434","amount":"12.63819716","timestamp":"1556789886.0"},{"price":"0.0098427","amount":"89.81500923","timestamp":"1556789886.0"},{"price":"0.0098418","amount":"179.6642202","timestamp":"1556789886.0"},{"price":"0.009838","amount":"11.25528837","timestamp":"1556789886.0"},{"price":"0.0098246","amount":"204.4","timestamp":"1556789886.0"},{"price":"0.0098135","amount":"1996.1","timestamp":"1556789886.0"},{"price":"0.0098119","amount":"500","timestamp":"1556789886.0"},{"price":"0.009809","amount":"111.47100148","timestamp":"1556789886.0"},[...]
