---
http_interactions:
- request:
    method: get
    uri: https://api.bitfinex.com/v1/pubticker/OMGETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"349b05931a217f257f4f8bb4d16dca57"
    body:
      encoding: UTF-8
      string: '{"mid":"0.0304725","bid":"0.030415","ask":"0.03053","last_price":"0.030534","low":"0.030008","high":"0.033172","volume":"156165.57237572","timestamp":"1507003449.3702798"}'
  recorded_at: Tue, 03 Oct 2017 04:04:09 GMT
recorded_with: VCR 3.0.3
