---
http_interactions:
- request:
    method: get
    uri: https://dexserver.blockonix.com/marketData/depth/?baseAddress=0x0000000000000000000000000000000000000000&quoteAddress=0x741f58cd68d24f361cc0ee0d3aaf7df2bf16132e
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"baseAddress":"0x0000000000000000000000000000000000000000","tokenAddress":"0x741f58cd68d24f361cc0ee0d3aaf7df2bf16132e","symbol":"BDT/ETH","buy":[{"price":374990000000000.0,"qty":"1026000000000000000000","origQty":"1920000000000000000000","address":"0x825553b4fde9cfe81d93eb43fd443d23fd29f5a9","nonce":22.0,"orderSide":"buy","expires":6419789.0,"cumQty":"1026000000000000000000","makerFeeDiscount":false},{"price":374990000000000.0,"qty":"31968884450250000000000","origQty":"31968884450250000000000","address":"0x28271542ed295d603fda19d2ea027a33053b823f","nonce":476.0,"orderSide":"buy","expires":6423374.0,"cumQty":"32994884450250000000000","makerFeeDiscount":false},{"price":353000000000000.0,"qty":"2150000000000000000000","origQty":"2150000000000000000000","address":"0x814432c845b5cccca4c0ce92fe8abb09832097e6","nonce":121.0,"orderSide":"buy","expires":6412815.0,"cumQty":"35144884450250000000[...]
