---
http_interactions:
- request:
    method: get
    uri: https://dexserver.blockonix.com/symbols/symbol/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '[{"baseCurrencyId":1,"quoteCurrencyId":3,"baseCurrencyName":"ETH","quoteCurrencyName":"BDT","baseAddress":"0x0000000000000000000000000000000000000000","quoteAddress":"0x741f58cd68d24f361cc0ee0d3aaf7df2bf16132e"},{"baseCurrencyId":2,"quoteCurrencyId":3,"baseCurrencyName":"USDT","quoteCurrencyName":"BDT","baseAddress":"0xdac17f958d2ee523a2206206994597c13d831ec7","quoteAddress":"0x741f58cd68d24f361cc0ee0d3aaf7df2bf16132e"},{"baseCurrencyId":1,"quoteCurrencyId":4,"baseCurrencyName":"ETH","quoteCurrencyName":"EDO","baseAddress":"0x0000000000000000000000000000000000000000","quoteAddress":"0xced4e93198734ddaff8492d525bd258d49eb388e"},{"baseCurrencyId":2,"quoteCurre[...]
