---
http_interactions:
- request:
    method: get
    uri: https://dexserver.blockonix.com/marketData/public/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"BDT/ETH":{"symbolId":1,"lastTradedPrice":0.0007499,"lastTradedVolume":50.0,"change":0.0,"quote_volume":34345.07549444,"base_vol":25.755372113280558,"highest_bid":0.0003501,"lowest_ask":0.0007499,"is_frozen":0,"high_24_hours":0.0007499,"low_24_hours":0.0007499},"BDT/USDT":{"symbolId":2,"lastTradedPrice":0.0,"lastTradedVolume":0.0,"change":0,"quote_volume":0.0,"base_vol":0.0,"highest_bid":0.0,"lowest_ask":10000000000000.0,"is_frozen":0,"high_24_hours":0.0,"low_24_hours":0.0},"EDO/ETH":{"symbolId":3,"lastTradedPrice":0.0019,"lastTradedVolume":48.3,"change":-5.0,"quote_volume":48.3,"base_vol":0.09177,"highest_bid":0.00016,"lowest_ask":0.151,"is_frozen":0,"high_24_hours":0.0,"low_24_hours":0.0},"EDO/USDT":{"symbolId":4,"lastTradedPrice":0.0,"las[...]
