---
http_interactions:
- request:
    method: get
    uri: https://dexserver.blockonix.com/marketData/depth/?baseAddress=0x0000000000000000000000000000000000000000&quoteAddress=0x741f58cd68d24f361cc0ee0d3aaf7df2bf16132e
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"baseAddress":"0x0000000000000000000000000000000000000000","tokenAddress":"0x741f58cd68d24f361cc0ee0d3aaf7df2bf16132e","symbol":"BDT/ETH","buy":[{"price":350100000000000.0,"qty":"1000000000000000000000","origQty":"1000000000000000000000","address":"0xdb9e49cf293ca172efbc0d8727fdea7349677996","nonce":167.0,"orderSide":"buy","expires":6331842.0,"cumQty":"1000000000000000000000","makerFeeDiscount":false},{"price":350010000000000.0,"qty":"1750000000000000000000","origQty":"1750000000000000000000","address":"0xa502e9c6fdbf2bbaa75dc6095aef094365a19f6a","nonce":41.0,"orderSide":"buy","expires":6329988.0,"cumQty":"2750000000000000000000","makerFeeDiscount":false},{"price":350000000000000.0,"qty":"28542885685710000000000","origQty":"28542885685710000000000","address":"0x28271542ed295d603fda19d2ea027a33053b823f","nonce":431.0,"orderSide":"buy","expires":6321625.0,"cumQty":"3129288568571000000000[...]
