---
http_interactions:
- request:
    method: get
    uri: https://bitsten.com/api/v1/public/getorderbook/STN_BTC/both/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "success": true,
            "message": "",
            "result": {
                "buylimit": [
                    {
                        "price": "0.00000302",
                        "amount": "2068.83112583"
                    },
                    {
                        "price": "0.00000299",
                        "amount": "2295.13500000"
                    },
                    {
                        "price": "0.00000286",
                        "amount": "601.00000000"
                    },
                    {
                        "price": "0.00000280",
                        "amount": "305.13928571"
                    },
                    {
                        "price": "0.00000270",
                        "amount": "1362.00000000"
                    },
                    {
                        "price": "0.00000265",
                        "amount": "159.17358490"
                    },
                    {
                        "price": "0.00000260",
                        "amount": "3654.43119658"
                    },
                    {
                        "price": "0.00000253",
                        "amount": "25650.84584980"
                    },
                    {
                        "price": "0.00000250",
                        "amount": "100.00000000"
                    },
                    {
                        "price": "0.00000200",
                        "amount": "6886.97500000"
                    },
                    {
                        "price": "0.00000002",
                        "amount": "600.00000000"
                    }
                ],
                "selllimit": [
                    {
                        "price": "0.00000339",
                        "amount": "1010.53109200"
                    },
                    {
                        "price": "0.00000342",
                        "amount": "1532.42520000"
                    },
                    {
                        "price": "0.00000343",
                        "amount": "2147.91600000"
                    },
                    {
                        "price": "0.00000350",
  [...]
