---
http_interactions:
- request:
    method: get
    uri: https://api2.hopex.com/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '9'
      X-Ratelimit-Limit-Second:
      - '10'
    body:
      encoding: UTF-8
      string: '{"data":[{"sumAmount24hUSDT":778674349.99815,"posVauleUSD":"98,761,280.56","contractCode":"BTCUSDT","contractName":"BTC/USDT永续","allowTrade":true,"hasPosition":false,"closeCurrency":"USDT","quotedCurrency":"USDT","precision":2,"minPriceMovement":0.5000000000,"pricePrecision":1,"lastestPrice":6666.5,"changePercent24h":0.0084713713032297103093563271,"sumAmount24h":778674349.99815},{"sumAmount24hUSDT":161755056.8635,"posVauleUSD":"13,095,248.68","contractCode":"ETHUSDT","contractName":"ETH/USDT永续","allowTrade":true,"hasPosition":false,"closeCurrency":"USDT","quotedCurrency":"USDT","precision":2,"minPriceMovement":0.0500000000,"pricePrecision":2,"lastestPrice":137.15,"changePercent24h":0.0170559881349647756766777901,"sumAmount24h":161755056.8635},{"sumAmount24hUSDT":192869031.04515841986366130,"posVauleUSD":"17,438,320.00","contractCode":"BTCUSD","contractN[...]
