---
http_interactions:
- request:
    method: get
    uri: https://api2.hopex.com/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '9'
      X-Ratelimit-Limit-Second:
      - '10'
    body:
      encoding: UTF-8
      string: '{"data":[{"sumAmount24hUSDT":778625585.5023,"posVauleUSD":"98,761,280.56","contractCode":"BTCUSDT","contractName":"BTC/USDT永续","allowTrade":true,"hasPosition":false,"closeCurrency":"USDT","quotedCurrency":"USDT","precision":2,"minPriceMovement":0.5000000000,"pricePrecision":1,"lastestPrice":6665.5,"changePercent24h":0.0083200968156720369109749641,"sumAmount24h":778625585.5023},{"sumAmount24hUSDT":161744788.0305,"posVauleUSD":"13,095,248.68","contractCode":"ETHUSDT","contractName":"ETH/USDT永续","allowTrade":true,"hasPosition":false,"closeCurrency":"USDT","quotedCurrency":"USDT","precision":2,"minPriceMovement":0.0500000000,"pricePrecision":2,"lastestPrice":137.15,"changePercent24h":0.0166790214974054855448480356,"sumAmount24h":161744788.0305},{"sumAmount24hUSDT":192839766.51359784622471885,"posVauleUSD":"17,438,320.00","contractCode":"BTCUSD","contractNa[...]
