---
http_interactions:
- request:
    method: get
    uri: https://api2.hopex.com/api/v1/ticker?contractCode=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '9'
      X-Ratelimit-Limit-Second:
      - '10'
    body:
      encoding: UTF-8
      string: '{"data":{"contractCode":"BTCUSDT","spotIndexCode":"spot_index_BTCUSDT","fairPriceCode":"fair_price_BTCUSDT","contractName":"BTC/USDT永续","closeCurrency":"USDT","allowTrade":true,"pause":false,"lastPrice":"+6665.0","lastPriceToUSD":"$6681.33","lastPriceLegal":"$6681.33","changePercent24":"+0.86%","marketPrice":"6665.51","marketPriceInfo":"全球top10成交量交易所均价","fairPrice":"6665.67","fairePriceInfo":"合理价格
        = 现货价格 + 最近15秒盘口中间价溢价，此价格可以更加合理地代表Hopex合约价格。强平触发价格是根据合理价格来计算。","price24Max":"6843.5","price24Min":"6518.5","amount24h":"778,678,747
        USDT","lastPriceToCNY":"￥47298.13","quantity24h":"1166858267"},"ret":0,"errCode":null,"errStr":null,"env":0,"timestamp":1585289904427}'
  recorded_at: Fri, 27 Mar 2020 06:18:24 GMT
recorded_with: VCR 4.0.0
