---
http_interactions:
- request:
    method: get
    uri: https://api2.hopex.com/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '9'
      X-Ratelimit-Limit-Second:
      - '10'
    body:
      encoding: UTF-8
      string: '{"data":[{"sumAmount24hUSDT":719611353.02785,"contractCode":"BTCUSDT","contractName":"BTC/USDT永续","allowTrade":true,"hasPosition":false,"closeCurrency":"USDT","quotedCurrency":"USDT","precision":2,"minPriceMovement":0.5000000000,"pricePrecision":1,"lastestPrice":9731.5,"changePercent24h":-0.0175164058556284704694598688,"sumAmount24h":719611353.02785},{"sumAmount24hUSDT":209093096.365,"contractCode":"ETHUSDT","contractName":"ETH/USDT永续","allowTrade":true,"hasPosition":false,"closeCurrency":"USDT","quotedCurrency":"USDT","precision":2,"minPriceMovement":0.0500000000,"pricePrecision":2,"lastestPrice":266.85,"changePercent24h":-0.0147683219494184973232416467,"sumAmount24h":209093096.365},{"sumAmount24hUSDT":87009801.16651993405329415,"contractCode":"BTCUSD","contractName":"BTC/USD永续","allowTrade":true,"hasPosition":false,"closeC[...]
