---
http_interactions:
- request:
    method: get
    uri: https://api2.hopex.com/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '8'
      X-Ratelimit-Limit-Second:
      - '10'
    body:
      encoding: UTF-8
      string: '{"data":[{"sumAmount24hUSDT":1162826007.3499,"posVauleUSD":"284,049,430.93","contractCode":"BTCUSDT","contractName":"BTC/USDT永续","allowTrade":true,"hasPosition":false,"closeCurrency":"USDT","quotedCurrency":"USDT","precision":2,"minPriceMovement":0.5000000000,"pricePrecision":1,"lastestPrice":5252.0,"changePercent24h":0.0819942315615986814997939843,"sumAmount24h":1162826007.3499},{"sumAmount24hUSDT":324434886.913,"posVauleUSD":"32,151,224.15","contractCode":"ETHUSDT","contractName":"ETH/USDT永续","allowTrade":true,"hasPosition":false,"closeCurrency":"USDT","quotedCurrency":"USDT","precision":2,"minPriceMovement":0.0500000000,"pricePrecision":2,"lastestPrice":116.8,"changePercent24h":0.0618181818181818181818181818,"sumAmount24h":324434886.913},{"sumAmount24hUSDT":455069125.4398851113655532,"posVauleUSD":"72,402,880.00","contractCode":"BTCUSD","contractName"[...]
