---
http_interactions:
- request:
    method: get
    uri: https://api2.hopex.com/api/v1/ticker?contractCode=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '9'
      X-Ratelimit-Limit-Second:
      - '10'
    body:
      encoding: UTF-8
      string: '{"data":{"contractCode":"BTCUSDT","spotIndexCode":"spot_index_BTCUSDT","fairPriceCode":"fair_price_BTCUSDT","contractName":"BTC/USDT永续","closeCurrency":"USDT","allowTrade":true,"pause":false,"lastPrice":"-9732.0","lastPriceToUSD":"$9740.27","lastPriceLegal":"$9740.27","changePercent24":"-1.76%","marketPrice":"9731.61","marketPriceInfo":"全球top10成交量交易所均价","fairPrice":"9731.52","fairePriceInfo":"合理价格
        = 现货价格 + 最近15秒盘口中间价溢价，此价格可以更加合理地代表Hopex合约价格。强平触发价格是根据合理价格来计算。","price24Max":"9988.5","price24Min":"9595.5","amount24h":"719,619,913
        USDT","lastPriceToCNY":"￥68543.76","quantity24h":"738144416"},"ret":0,"errCode":null,"errStr":null,"env":0,"timestamp":1582527083091}'
  recorded_at: Mon, 24 Feb 2020 06:51:23 GMT
recorded_with: VCR 4.0.0
