---
http_interactions:
- request:
    method: get
    uri: https://api2.hopex.com/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Second:
      - '9'
      X-Ratelimit-Limit-Second:
      - '10'
    body:
      encoding: UTF-8
      string: '{"data":[{"sumAmount24hUSDT":1162819923.9583,"posVauleUSD":"284,049,430.93","contractCode":"BTCUSDT","contractName":"BTC/USDT永续","allowTrade":true,"hasPosition":false,"closeCurrency":"USDT","quotedCurrency":"USDT","precision":2,"minPriceMovement":0.5000000000,"pricePrecision":1,"lastestPrice":5252.5,"changePercent24h":0.0820972393901936547177585496,"sumAmount24h":1162819923.9583},{"sumAmount24hUSDT":324434042.341,"posVauleUSD":"32,151,224.15","contractCode":"ETHUSDT","contractName":"ETH/USDT永续","allowTrade":true,"hasPosition":false,"closeCurrency":"USDT","quotedCurrency":"USDT","precision":2,"minPriceMovement":0.0500000000,"pricePrecision":2,"lastestPrice":116.8,"changePercent24h":0.0618181818181818181818181818,"sumAmount24h":324434042.341},{"sumAmount24hUSDT":455116779.00935380612371575,"posVauleUSD":"72,402,880.00","contractCode":"BTCUSD","contractName[...]
