---
http_interactions:
- request:
    method: get
    uri: http://mainnet.aphelion-neo.com:62433/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"NEO-APH":{"last":0.00368,"ask":0.00368,"bid":0.003362,"baseVolume":206.29762604,"quoteVolume":59047.6,"open24hr":0.003538,"high24hr":0.003684,"low24hr":0.003339,"change24hrPercent":0.040136},"NEO-GAS":{"last":0.3143,"ask":0.314,"bid":0.291,"baseVolume":7.44977000,"quoteVolume":24.9,"open24hr":0.2921,"high24hr":0.3155,"low24hr":0.2908,"change24hrPercent":0.076001},"GAS-APH":{"last":0.0152,"ask":0.0152,"bid":0.0102,"baseVolume":232.49819648,"quoteVolume":17442.143,"open24hr":0.012,"high24hr":0.01536,"low24hr":0.0102,"change24hrPercent":0.266667},"NEO-DBC":{"last":0.0,"ask":0.00075,"bid":0.00031,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-DBC":{"last":0.0,"ask":1.0,"bid":0.0013,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-NKN":{"last":0.003,"ask":0.00379,"bid":0.00207,"baseVolume":0.600,"quoteVolume":200.0,"open24hr":0.003,"high24hr":0.003,"low24hr":0.003,"change24hrPercent":0.0},"GAS-NKN":{"last":0.0,"ask":0.0149,"bid":0.00001,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-PHX":{"last":0.0,"ask":0.0115,"bid":0.00102,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-PHX":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-SOUL":{"last":0.0,"ask":0.0068,"bid":0.00511,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-SOUL":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-TKY":{"last":0.0,"ask":0.00048,"bid":0.00022,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-TKY":{"last":0.0,"ask":0.09,"bid":0.00022,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-ASA":{"last":0.000087,"ask":0.00011,"bid":0.00008,"baseVolume":15.2333739,"quoteVolume":166087.3,"open24hr":0.000092,"high24hr":0.000093,"low24hr":0.000087,"change24hrPercent":-0.054348},"GAS-ASA":{"last":0.0,"ask":0.01,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-FTW":{"last":0.0,"ask":0.005,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-FTW":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-CPX":{"last":0.00165,"ask":0.002188,"bid":0.00114,"baseVolume":3.31030519,"quoteVolume":1979.42,"open24hr":0.0017,"high24hr":0.001701,"low24hr":0.00165,"change24hrPercent":-0.029412},"GAS-CPX":{"last":0.0,"ask":0.0,"bid":0.0028,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-AVA":{"last":0.019,"ask":0.02,"bid":0.00308,"baseVolume":10.37500,"quoteVolume":375.00,"open24hr":0.045,"high24hr":0.045,"low24hr":0.019,"change24hrPercent":-0.577778},"GAS-AVA":{"last":0.0,"ask":0.199,"bid":0.002,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-EFX":{"last":0.000972,"ask":0.001072,"bid":0.000041,"baseVolume":0.717600,"quoteVolume":800.0,"open24hr":0.000822,"high24hr":0.000972,"low24hr":0.000822,"change24hrPercent":0.182482},"GAS-EFX":{"last":0.0,"ask":0.0,"bid":0.000005,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-TOLL":{"last":0.000159,"ask":0.000169,"bid":0.000031,"baseVolume":0.709704,"quoteVolume":4696.0,"open24hr":0.000149,"high24hr":0.000159,"low24hr":0.000149,"change24hrPercent":0.067114},"GAS-TOLL":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-NEX":{"last":47.98,"ask":47.95,"bid":41.13,"baseVolume":53318.642200,"quoteVolume":1144.95,"open24hr":40.01,"high24hr":47.98,"low24hr":40.01,"change24hrPercent":0.199200},"NEO-NEX":{"last":0.1432,"ask":0.1432,"bid":0.14,"baseVolume":12010.49791616,"quoteVolume":85638.65,"open24hr":0.143,"high24hr":0.14448,"low24hr":0.133004,"change24hrPercent":0.001399},"APH-THOR":{"last":7.5,"ask":6.46,"bid":3.01,"baseVolume":5159.97,"quoteVolume":720.99,"open24hr":3.0,"high24hr":7.5,"low24hr":3.0,"change24hrPercent":1.5},"APH-PKC":{"last":0.0,"ask":0.0,"bid":0.0006,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-NEX":{"last":0.76,"ask":0.76,"bid":0.45,"baseVolume":145.74885,"quoteVolume":293.58,"open24hr":0.535,"high24hr":0.77,"low24hr":0.42,"change24hrPercent":0.420561},"NEO-THOR":{"last":0.01589,"ask":0.01587,"bid":0.01207,"baseVolume":165.32815200,"quoteVolume":10586.94,"open24hr":0.0125,"high24hr":0.01589,"low24hr":0.01207,"change24hrPercent":0.2712},"GAS-THOR":{"last":0.0,"ask":0.179,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-PKC":{"last":0.0,"ask":0.00449,"bid":0.00023,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-PKC":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-FTX":{"last":0.000372,"ask":0.00058,"bid":0.00036,"baseVolume":2.06264000,"quoteVolume":5556.00,"open24hr":0.00038,"high24hr":0.00038,"low24hr":0.00036,"change24hrPercent":-0.021053},"GAS-FTX":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-FTX":{"last":0.0,"ask":1.5,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-PROQ":{"last":0.0,"ask":0.000377,"bid":0.000017,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-PROQ":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-PROQ":{"last":0.0,"ask":0.0,"bid":0.0005,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-SWTH":{"last":0.0,"ask":0.0008,"bid":0.000573,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-SWTH":{"last":0.0,"ask":0.0048,"bid":0.000102,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-SWTH":{"last":0.0,"ask":0.985,"bid":0.0806,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-SENNO":{"last":0.000015,"ask":0.000014,"bid":0.000001,"baseVolume":4.92132167,"quoteVolume":327908.14,"open24hr":0.000016,"high24hr":0.000016,"low24hr":0.000015,"change24hrPercent":-0.0625},"GAS-SENNO":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-SENNO":{"last":0.0,"ask":2.0,"bid":0.0003,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-OBT":{"last":0.0,"ask":0.00496,"bid":0.000045,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-OBT":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-OBT":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-QLC":{"last":0.0,"ask":0.004999,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-QLC":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-QLC":{"last":0.0,"ask":0.95,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-GUARD":{"last":0.0,"ask":0.002899,"bid":0.001339,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-GUARD":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-GUARD":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0}}'
  recorded_at: Wed, 21 Nov 2018 04:23:04 GMT
recorded_with: VCR 4.0.0
