---
http_interactions:
- request:
    method: get
    uri: http://mainnet.aphelion-neo.com:62433/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"NEO-APH":{"last":0.00399,"ask":0.00408,"bid":0.00387,"baseVolume":757.21390517,"quoteVolume":193502.5,"open24hr":0.00405,"high24hr":0.00418,"low24hr":0.003702,"change24hrPercent":-0.014815},"NEO-GAS":{"last":0.3101,"ask":0.3199123,"bid":0.3101,"baseVolume":8.122570,"quoteVolume":25.7,"open24hr":0.32,"high24hr":0.32,"low24hr":0.31005,"change24hrPercent":-0.030938},"GAS-APH":{"last":0.0091,"ask":0.015,"bid":0.01,"baseVolume":19.83286450,"quoteVolume":1460.6650,"open24hr":0.014,"high24hr":0.014,"low24hr":0.0091,"change24hrPercent":-0.35},"NEO-DBC":{"last":0.0004,"ask":0.00075,"bid":0.00031,"baseVolume":0.40000,"quoteVolume":1000.0,"open24hr":0.0004,"high24hr":0.0004,"low24hr":0.0004,"change24hrPercent":0.0},"GAS-DBC":{"last":0.0,"ask":1.0,"bid":0.0013,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-NKN":{"last":0.0039,"ask":0.00478,"bid":0.0031,"baseVolume":3.9000,"quoteVolume":1000.0,"open24hr":0.0039,"high24hr":0.0039,"low24hr":0.0039,"change24hrPercent":0.0},"GAS-NKN":{"last":0.0,"ask":0.0149,"bid":0.00001,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-PHX":{"last":0.0,"ask":0.0,"bid":0.00102,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-PHX":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-SOUL":{"last":0.0068,"ask":0.0068,"bid":0.0051,"baseVolume":0.6948444,"quoteVolume":102.183,"open24hr":0.0068,"high24hr":0.0068,"low24hr":0.0068,"change24hrPercent":0.0},"GAS-SOUL":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-TKY":{"last":0.0005,"ask":0.0006,"bid":0.00019,"baseVolume":0.5000,"quoteVolume":1000.0,"open24hr":0.0005,"high24hr":0.0005,"low24hr":0.0005,"change24hrPercent":0.0},"GAS-TKY":{"last":0.0,"ask":0.09,"bid":0.00022,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-ASA":{"last":0.000147,"ask":0.000181,"bid":0.000087,"baseVolume":8.261693,"quoteVolume":56794.0,"open24hr":0.000141,"high24hr":0.000147,"low24hr":0.000141,"change24hrPercent":0.042553},"GAS-ASA":{"last":0.0,"ask":0.01,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-FTW":{"last":0.0,"ask":0.005,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-FTW":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-CPX":{"last":0.0,"ask":0.002967,"bid":0.00165,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-CPX":{"last":0.0,"ask":0.0,"bid":0.0026,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-AVA":{"last":0.007,"ask":0.0078,"bid":0.003057,"baseVolume":5.590300,"quoteVolume":804.00,"open24hr":0.00687,"high24hr":0.007,"low24hr":0.00687,"change24hrPercent":0.018923},"GAS-AVA":{"last":0.0,"ask":0.199,"bid":0.001,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-EFX":{"last":0.000767,"ask":0.0,"bid":0.000042,"baseVolume":10.88630000,"quoteVolume":16200.00,"open24hr":0.000667,"high24hr":0.000769,"low24hr":0.000667,"change24hrPercent":0.149925},"GAS-EFX":{"last":0.0,"ask":0.0,"bid":0.000005,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-TOLL":{"last":0.0,"ask":0.000149,"bid":0.00003,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-TOLL":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-NEX":{"last":37.0,"ask":39.5,"bid":36.2,"baseVolume":46501.77520,"quoteVolume":1227.05,"open24hr":40.1,"high24hr":42.5,"low24hr":36.2,"change24hrPercent":-0.077307},"NEO-NEX":{"last":0.149,"ask":0.1476,"bid":0.14111,"baseVolume":10767.56519272,"quoteVolume":72285.82,"open24hr":0.155,"high24hr":0.15898,"low24hr":0.1309,"change24hrPercent":-0.038710},"APH-THOR":{"last":7.76,"ask":7.65,"bid":3.0,"baseVolume":98.2416,"quoteVolume":12.66,"open24hr":7.76,"high24hr":7.76,"low24hr":7.76,"change24hrPercent":0.0},"APH-PKC":{"last":1.1,"ask":0.0,"bid":0.0006,"baseVolume":1095.0,"quoteVolume":950.0,"open24hr":1.2,"high24hr":1.2,"low24hr":1.1,"change24hrPercent":-0.083333},"GAS-NEX":{"last":0.475,"ask":0.475,"bid":0.3952,"baseVolume":155.2355360,"quoteVolume":344.32,"open24hr":0.547,"high24hr":0.547,"low24hr":0.44,"change24hrPercent":-0.131627},"NEO-THOR":{"last":0.015101,"ask":0.016999,"bid":0.013001,"baseVolume":31.47396799,"quoteVolume":1728.57,"open24hr":0.015,"high24hr":0.01989,"low24hr":0.015,"change24hrPercent":0.006733},"GAS-THOR":{"last":0.1979,"ask":0.189,"bid":0.005,"baseVolume":0.5937,"quoteVolume":3.0,"open24hr":0.1979,"high24hr":0.1979,"low24hr":0.1979,"change24hrPercent":0.0},"NEO-PKC":{"last":0.0,"ask":0.08997,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-PKC":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-FTX":{"last":0.000481,"ask":0.0008,"bid":0.000477,"baseVolume":1.1139000,"quoteVolume":2290.00,"open24hr":0.0005,"high24hr":0.0005,"low24hr":0.000481,"change24hrPercent":-0.038},"GAS-FTX":{"last":0.0,"ask":0.002,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-FTX":{"last":0.0,"ask":10.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-PROQ":{"last":0.0,"ask":0.000377,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"GAS-PROQ":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-PROQ":{"last":0.0,"ask":0.0,"bid":0.0005,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"NEO-SWTH":{"last":0.0008,"ask":0.000997,"bid":0.000655,"baseVolume":0.928000,"quoteVolume":1160.0,"open24hr":0.0008,"high24hr":0.0008,"low24hr":0.0008,"change24hrPercent":0.0},"GAS-SWTH":{"last":0.0,"ask":0.0048,"bid":0.000102,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-SWTH":{"last":0.01,"ask":0.987,"bid":0.0811,"baseVolume":5.00,"quoteVolume":500.0,"open24hr":0.01,"high24hr":0.01,"low24hr":0.01,"change24hrPercent":0.0},"NEO-SENNO":{"last":0.000016,"ask":0.000016,"bid":0.0,"baseVolume":0.09381296,"quoteVolume":5863.31,"open24hr":0.000016,"high24hr":0.000016,"low24hr":0.000016,"change24hrPercent":0.0},"GAS-SENNO":{"last":0.0,"ask":0.0,"bid":0.0,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0},"APH-SENNO":{"last":0.0,"ask":2.0,"bid":0.0003,"baseVolume":0.0,"quoteVolume":0.0,"open24hr":0.0,"high24hr":0.0,"low24hr":0.0,"change24hrPercent":0.0}}'
  recorded_at: Mon, 12 Nov 2018 18:44:12 GMT
recorded_with: VCR 4.0.0
