---
http_interactions:
- request:
    method: get
    uri: https://graviex.net/api/v2/tickers/giobtc.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"1b07a734e4f42a6fa285a75eb5373213"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1524260289,"ticker":{"buy":"0.000000089","sell":"0.000000094","low":"0.000000077","high":"0.000000109","last":"0.000000089","vol":"3910682.8956","volbtc":"0.3441262231241","change":"-0.183486239"}}'
  recorded_at: Fri, 20 Apr 2018 21:38:09 GMT
recorded_with: VCR 4.0.0
