---
http_interactions:
- request:
    method: get
    uri: https://graviex.net/api/v2/order_book.json?market=giobtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"1f96f3768bfa0fa2c29bf474edac93f1"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":35909153,"at":1558277445,"side":"sell","ord_type":"limit","price":"0.000000036","avg_price":"0.0","state":"wait","market":"giobtc","created_at":"2019-05-19T14:50:45Z","volume":"9913.3437","remaining_volume":"9913.3437","executed_volume":"0.0","trades_count":0},{"id":36816327,"at":1558594063,"side":"sell","ord_type":"limit","price":"0.000000095","avg_price":"0.0","state":"wait","market":"giobtc","created_at":"2019-05-23T06:47:43Z","volume":"11110.3353","remaining_volume":"11110.3353","executed_volume":"0.0","trades_count":0},{"id":36816482,"at":1558594121,"side":"sell","ord_type":"limit","price":"0.000000095","avg_price":"0.0","state":"wait","market":"giobtc","created_at":"2019-05-23T06:48:41Z","volume":"27476.0","remaining_volume":"27476.0","execut[...]
