---
http_interactions:
- request:
    method: get
    uri: https://openapi.zeniex.com/open/api/market_depth?symbol=ethbtc&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"tick":{"asks":[["0.05576600",0.01000000],["0.05674600",0.03000000],["0.05896800",0.08000000],["0.07674600",0.06000000],["0.09689700",0.80000000]],"bids":[["0.03156900",0.17500000],["0.03110200",0.21000000],["0.03110100",0.83000000],["0.00999900",0.80000000],["0.00896700",0.08800000],["0.00746500",0.09200000],["0.00674500",0.06000000],["0.00563500",0.05200000],["0.00534600",1.00000000]],"time":1539467526194}}}'
  recorded_at: Sat, 13 Oct 2018 21:52:06 GMT
recorded_with: VCR 4.0.0
