---
http_interactions:
- request:
    method: get
    uri: https://openapi.zeniex.com/open/api/get_trades?symbol=ethbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":[{"amount":0.5100000000000000,"price":0.0317440000000000,"id":181371,"type":"buy"},{"amount":0.0100000000000000,"price":0.0317470000000000,"id":181370,"type":"buy"},{"amount":0.0100000000000000,"price":0.0317440000000000,"id":181369,"type":"buy"},{"amount":0.0100000000000000,"price":0.0317550000000000,"id":181368,"type":"buy"},{"amount":0.0100000000000000,"price":0.0317620000000000,"id":181367,"type":"buy"},{"amount":0.5200000000000000,"price":0.0317700000000000,"id":181366,"type":"buy"},{"amount":0.5000000000000000,"price":0.0317640000000000,"id":181365,"type":"buy"},{[...]
