---
http_interactions:
- request:
    method: get
    uri: https://openapi.zeniex.com/open/api/get_tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":[{"symbol":"ethbtc","high":0.03197800,"vol":544.66200000,"last":0.0317650000000000,"low":0.03117300,"buy":0.031642,"sell":0.055766,"time":1539467188875},{"symbol":"etcbtc","high":0.00152700,"vol":29209.23000000,"last":0.0015170000000000,"low":0.00146700,"buy":0.001513,"sell":0.001519,"time":1539467113462},{"symbol":"btmbtc","high":0.00002810,"vol":2354.00000000,"last":0.0000278900000000,"low":0.00002763,"buy":2.0E-5,"sell":2.831E-5,"time":1539467193498},{"symbol":"dddbtc","high":0.00001045,"vol":58.00000000,"last":0.0000104500000000,"low":0.00001045,"buy":1.041E-5,"sell":1.045E-5,"time":1539244623641},{"symbol":"eonbtc","high":0.0[...]
