---
http_interactions:
- request:
    method: get
    uri: https://www.allcoin.ca/Api_Order/depth?symbol=ltc2btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cdn-Edge:
      - 11cd89d,-
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"\u83b7\u53d6\u5e02\u573a\u6df1\u5ea6\u4fe1\u606f\u6210\u529f","data":{"asks":[[0.3,0.05],[0.2,0.1508],[0.098,14.61],[0.096,5.62],[0.09,0.05],[0.0877712,0.21],[0.025,1.32],[0.0190001,0.4889],[0.0189999,0.48],[0.0188878,0.08],[0.0128,0.0311],[0.0127849,0.024],[0.0118588,0.02],[0.0099957,0.09],[0.0098,1.11],[0.0096621,0.06],[0.009662,0.87],[0.009162,0.17]],"bids":[[0.005556,0.77],[0.0055556,1.09],[0.0010193,4],[0.0010191,10]],"date":1536785931}}'
  recorded_at: Wed, 12 Sep 2018 20:58:56 GMT
recorded_with: VCR 4.0.0
