---
http_interactions:
- request:
    method: get
    uri: https://api.allcoin.com/api/v1/ticker?symbol=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"date\": \"1507643740\",\r\n  \"ticker\": {\r\n    \"buy\":
        4716.8000,\r\n    \"high\": 4898.0000,\r\n    \"last\": 4716.8000,\r\n    \"low\":
        4705.0000,\r\n    \"sell\": 4800.0000,\r\n    \"vol\": 13.78056\r\n  }\r\n}"
  recorded_at: Tue, 10 Oct 2017 13:55:39 GMT
recorded_with: VCR 3.0.3
