---
http_interactions:
- request:
    method: get
    uri: https://www.allcoin.ca/Api_Order/ticker?symbol=ltc2btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cdn-Edge:
      - cb634c7,-
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"\u83b7\u53d6\u724c\u4ef7\u4fe1\u606f\u6210\u529f","data":{"high":0.00966,"low":0.00966,"buy":"0.0055560","sell":"0.0091620","last":0.00966,"vol":"0.05"}}'
  recorded_at: Wed, 12 Sep 2018 20:57:56 GMT
recorded_with: VCR 4.0.0
