---
http_interactions:
- request:
    method: get
    uri: https://www.allcoin.ca/Api_Order/marketOrder?symbol=ltc2btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cdn-Edge:
      - 11cd89d,-
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"\u83b7\u53d6\u5e02\u573a\u4ea4\u6613\u4fe1\u606f\u6210\u529f","data":[{"date":"1536560349","price":0.00966,"amount":"0.05000000","tid":"13841010","type":"buy"},{"date":"1536236943","price":0.0055567,"amount":"0.01000000","tid":"13652215","type":"sell"},{"date":"1536180342","price":0.0055567,"amount":"0.10000000","tid":"13623118","type":"sell"},{"date":"1535766586","price":0.005556,"amount":"0.08000000","tid":"13439172","type":"sell"},{"date":"1535642397","price":0.005556,"amount":"0.07000000","tid":"13369117","type":"sell"},{"date":"1535639651","price":0.005556,"amount":"0.03000000","tid":"13367868","type":"sell"},{"date":"1535633601","price":0.[...]
