---
http_interactions:
- request:
    method: get
    uri: https://api.bit-z.com/api_v1/tickerall
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"Success","data":{"ltc_btc":{"date":1531820251,"last":"0.01232800","buy":"0.01227911","sell":"0.01239680","high":"0.01258600","low":"0.01231899","vol":"110459.0927"},"vtc_dkkt":{"date":1531820251,"last":"0.46730000","buy":"0.45680000","sell":"0.46990000","high":"0.53460000","low":"0.45680000","vol":"8490786.0316"},"eth_btc":{"date":1531820251,"last":"0.07051500","buy":"0.07045100","sell":"0.07074914","high":"0.07180000","low":"0.07025368","vol":"56855.0916"},"zec_btc":{"date":1531820251,"last":"0.02745900","buy":"0.02734916","sell":"0.02756883","high":"0.02832900","low":"0.02690200","vol":"22513.4256"},"fct_btc":{"date":1531820251,"last":"0.00174986","buy":"0.00147438","sell":"0.00174900","high":"0.00174986","low":"0.00144970","vol":"917.0195"},"lsk_btc":{"date":1531820251,"last":"0.00079260","buy":"0.00078744","sell":"0.00079775","high":"0.00081460","low":"0.00078605","vol":"159718.8613"},"btc_usdt":{"date":1531820251,"last":"6731.36000000","buy":"6704.00000000","sell":"6728.66000000","high":"6784.14000000","low":"6457.51000000","vol":"2626.0606"},"eth_usdt":{"date":1531820251,"last":"473.04000000","buy":"471.62000000","sell":"473.63000000","high":"481.88000000","low":"462.13000000","vol":"12495.9536"},"btx_btc":{"date":1531820251,"last":"0.00026875","buy":"0.00024112","sell":"0.00026964","high":"0.00026980","low":"0.00024110","vol":"85352.7201"},"bch_btc":{"date":1531820251,"last":"0.11864300","buy":"0.11804978","sell":"0.11905833","high":"0.12120300","low":"0.11583491","vol":"16315.5859"},"qtum_btc":{"date":1531820251,"last":"0.00122800","buy":"0.00122300","sell":"0.00123357","high":"0.00125900","low":"0.00121100","vol":"120579.0435"},"dash_btc":{"date":1531820251,"last":"0.03709800","buy":"0.03686338","sell":"0.03727651","high":"0.03774201","low":"0.03605200","vol":"10012.5104"},"ark_btc":{"date":1531820251,"last":"0.00021004","buy":"0.00019027","sell":"0.00025529","high":"0.00021004","low":"0.00021000","vol":"608.2715"},"sss_btc":{"date":1531820251,"last":"0.00000018","buy":"0.00000016","sell":"0.00000018","high":"0.00000018","low":"0.00000017","vol":"24295417.3763"},"leo_btc":{"date":1531820251,"last":"0.00002060","buy":"0.00002060","sell":"0.00002112","high":"0.00002143","low":"0.00002030","vol":"65309.2451"},"viu_btc":{"date":1531820251,"last":"0.00000026","buy":"0.00000027","sell":"0.00000029","high":"0.00000033","low":"0.00000025","vol":"553979.1665"},"dgb_btc":{"date":1531820251,"last":"0.00000543","buy":"0.00000544","sell":"0.00000576","high":"0.00000600","low":"0.00000518","vol":"704363.0647"},"part_btc":{"date":1531820251,"last":"0.00079192","buy":"0.00053874","sell":"0.00079332","high":"0.00079271","low":"0.00079118","vol":"100.0000"},"btg_btc":{"date":1531820251,"last":"0.00377590","buy":"0.00377101","sell":"0.00619861","high":"0.00377590","low":"0.00377142","vol":"18.5068"},"doge_eth":{"date":1531820251,"last":"0.00000615","buy":"0.00000615","sell":"0.00000622","high":"0.00000622","low":"0.00000533","vol":"534561.7161"},"gxs_eth":{"date":1531820251,"last":"0.00606891","buy":"0.00602001","sell":"0.00609606","high":"0.00609606","low":"0.00569987","vol":"45194.7981"},"bcd_btc":{"date":1531820251,"last":"0.00149918","buy":"0.00062268","sell":"0.00140000","high":"0.00149997","low":"0.00149903","vol":"990.0000"},"trx_btc":{"date":1531820251,"last":"0.00000546","buy":"0.00000543","sell":"0.00000548","high":"0.00000562","low":"0.00000418","vol":"250468197.9338"},"trx_eth":{"date":1531820251,"last":"0.00007752","buy":"0.00007698","sell":"0.00007793","high":"0.00007875","low":"0.00007410","vol":"74960189.0321"},"btx_eth":{"date":1531820251,"last":"0.00343231","buy":"0.00342101","sell":"0.00408362","high":"0.00408965","low":"0.00341005","vol":"73247.0556"},"nuls_eth":{"date":1531820251,"last":"0.00550443","buy":"0.00549150","sell":"0.00579549","high":"0.00563599","low":"0.00549150","vol":"5716.4953"},"arn_btc":{"date":1531820251,"last":"0.00009136","buy":"0.00009136","sell":"0.00011036","high":"0.00009727","low":"0.00008831","vol":"30290.8751"},"oxy_btc":{"date":1531820251,"last":"0.00001206","buy":"0.00001200","sell":"0.00001236","high":"0.00001216","low":"0.00001201","vol":"286843.6907"},"mco_btc":{"date":1531820251,"last":"0.00112172","buy":"0.00110837","sell":"0.00113701","high":"0.00125220","low":"0.00111458","vol":"254198.5607"},"mco_eth":{"date":1531820251,"last":"0.01593946","buy":"0.01592000","sell":"0.01609282","high":"0.01749899","low":"0.01582600","vol":"26764.3199"},"unit_btc":{"date":1531820251,"last":"0.00002731","buy":"0.00002658","sell":"0.00003440","high":"0.00003411","low":"0.00002571","vol":"49572.9526"},"pylnt_btc":{"date":1531820251,"last":"0.00050890","buy":"0.00051000","sell":"0.00051400","high":"0.00050890","low":"0.00046869","vol":"13798.6329"},"xrb_btc":{"date":1531820251,"last":"0.00036002","buy":"0.00034071","sell":"0.00038800","high":"0.00036002","low":"0.00035992","vol":"390.6608"},"btc_dkkt":{"date":1531820251,"last":"42792.46000000","buy":"42377.37000000","sell":"42779.92000000","high":"43158.77000000","low":"41259.86000000","vol":"358.6298"},"eth_dkkt":{"date":1531820251,"last":"3016.80000000","buy":"3000.00000000","sell":"3019.21000000","high":"3067.42000000","low":"2949.47000000","vol":"1511.8691"},"etp_btc":{"date":1531820251,"last":"0.00014513","buy":"0.00013280","sell":"0.00014560","high":"0.00016897","low":"0.00013118","vol":"392096.4893"},"rebl_btc":{"date":1531820251,"last":"0.00000485","buy":"0.00000482","sell":"0.00000503","high":"0.00000524","low":"0.00000460","vol":"18609810.7548"},"rebl_eth":{"date":1531820251,"last":"0.00006928","buy":"0.00006928","sell":"0.00007542","high":"0.00007752","low":"0.00006208","vol":"9146499.1679"},"gxs_dkkt":{"date":1531820251,"last":"17.89000000","buy":"14.51000000","sell":"18.79000000","high":"18.45000000","low":"17.00000000","vol":"995.4847"},"ddn_eth":{"date":1531820251,"last":"0.00015963","buy":"0.00014707","sell":"0.00015964","high":"0.00015966","low":"0.00015963","vol":"158990.6461"},"aidoc_btc":{"date":1531820251,"last":"0.00000358","buy":"0.00000349","sell":"0.00000379","high":"0.00000401","low":"0.00000303","vol":"14359529.4614"},"aidoc_eth":{"date":1531820251,"last":"0.00005063","buy":"0.00004900","sell":"0.00005318","high":"0.00005632","low":"0.00004337","vol":"10769625.5205"},"ddn_btc":{"date":1531820251,"last":"0.00001065","buy":"0.00000985","sell":"0.00001116","high":"0.00001065","low":"0.00001051","vol":"102960.1339"},"put_btc":{"date":1531820251,"last":"0.00000931","buy":"0.00000931","sell":"0.00000980","high":"0.00001290","low":"0.00000870","vol":"12741045.1898"},"put_eth":{"date":1531820251,"last":"0.00015012","buy":"0.00013020","sell":"0.00015020","high":"0.00019091","low":"0.00012880","vol":"858065.4005"},"pok_btc":{"date":1531820251,"last":"0.00000289","buy":"0.00000288","sell":"0.00000291","high":"0.00000303","low":"0.00000287","vol":"76840446.6566"},"pok_eth":{"date":1531820251,"last":"0.00004105","buy":"0.00004095","sell":"0.00004110","high":"0.00004287","low":"0.00004020","vol":"118725345.2252"},"atm_btc":{"date":1531820251,"last":"0.00000020","buy":"0.00000020","sell":"0.00000022","high":"0.00000022","low":"0.00000020","vol":"5876293.3081"},"atm_eth":{"date":1531820251,"last":"0.00000299","buy":"0.00000295","sell":"0.00000299","high":"0.00000302","low":"0.00000281","vol":"1678207.7402"},"zgc_btc":{"date":1531820251,"last":"0.00000213","buy":"0.00000177","sell":"0.00000215","high":"0.00000242","low":"0.00000114","vol":"627675.7605"},"zgc_eth":{"date":1531820251,"last":"0.00003144","buy":"0.00002433","sell":"0.00003144","high":"0.00003144","low":"0.00001843","vol":"84892.6224"},"sphtx_btc":{"date":1531820251,"last":"0.00002817","buy":"0.00002805","sell":"0.00002899","high":"0.00002933","low":"0.00002619","vol":"689454.7952"},"nkc_btc":{"date":1531820251,"last":"0.00000739","buy":"0.00000716","sell":"0.00000742","high":"0.00000823","low":"0.00000707","vol":"75549263.9117"},"nkc_eth":{"date":1531820251,"last":"0.00010376","buy":"0.00010250","sell":"0.00010375","high":"0.00011663","low":"0.00009862","vol":"47949110.8345"},"oc_btc":{"date":1531820251,"last":"0.00000025","buy":"0.00000024","sell":"0.00000025","high":"0.00000026","low":"0.00000023","vol":"5259057.5958"},"oc_eth":{"date":1531820251,"last":"0.00000346","buy":"0.00000340","sell":"0.00000349","high":"0.00000370","low":"0.00000322","vol":"8271208.0500"},"ocn_btc":{"date":1531820251,"last":"0.00000138","buy":"0.00000133","sell":"0.00000150","high":"0.00000165","low":"0.00000131","vol":"1091698.8700"},"ocn_eth":{"date":1531820251,"last":"0.00001865","buy":"0.00001967","sell":"0.00002343","high":"0.00002498","low":"0.00001865","vol":"204558.6003"},"bnty_btc":{"date":1531820251,"last":"0.00000399","buy":"0.00000356","sell":"0.00000414","high":"0.00000414","low":"0.00000381","vol":"300340.0000"},"bnty_eth":{"date":1531820251,"last":"0.00004166","buy":"0.00004168","sell":"0.00005857","high":"0.00004487","low":"0.00004164","vol":"100080.0000"},"ink_btc":{"date":1531820251,"last":"0.00000850","buy":"0.00000845","sell":"0.00000876","high":"0.00000910","low":"0.00000824","vol":"209751.6138"},"ink_eth":{"date":1531820251,"last":"0.00012244","buy":"0.00012001","sell":"0.00012464","high":"0.00012874","low":"0.00012000","vol":"227925.5682"},"ekt_btc":{"date":1531820251,"last":"0.00001019","buy":"0.00001018","sell":"0.00001022","high":"0.00001129","low":"0.00001000","vol":"38567168.8013"},"sgcc_eth":{"date":1531820251,"last":"0.00000405","buy":"0.00000404","sell":"0.00000430","high":"0.00000430","low":"0.00000404","vol":"4413975.3645"},"egcc_btc":{"date":1531820251,"last":"0.00000023","buy":"0.00000022","sell":"0.00000024","high":"0.00000026","low":"0.00000022","vol":"605689.4604"},"egcc_eth":{"date":1531820251,"last":"0.00000331","buy":"0.00000318","sell":"0.00000361","high":"0.00000344","low":"0.00000311","vol":"49441203.0266"},"woc_eth":{"date":1531820251,"last":"0.00006000","buy":"0.00006005","sell":"0.00007908","high":"0.00007648","low":"0.00005999","vol":"353698.9782"},"pxc_btc":{"date":1531820251,"last":"0.00000023","buy":"0.00000023","sell":"0.00000026","high":"0.00000026","low":"0.00000019","vol":"7571366.7814"},"pxc_eth":{"date":1531820251,"last":"0.00000340","buy":"0.00000345","sell":"0.00000358","high":"0.00000378","low":"0.00000290","vol":"27865755.6242"},"qube_btc":{"date":1531820251,"last":"0.00000259","buy":"0.00000207","sell":"0.00000277","high":"0.00000293","low":"0.00000191","vol":"1254314.6997"},"qube_eth":{"date":1531820251,"last":"0.00003700","buy":"0.00003660","sell":"0.00003674","high":"0.00004380","low":"0.00003100","vol":"1463717.8949"},"ecom_eth":{"date":1531820251,"last":"0.00000176","buy":"0.00000169","sell":"0.00000178","high":"0.00000190","low":"0.00000150","vol":"248681028.3511"},"pix_btc":{"date":1531820251,"last":"0.00000168","buy":"0.00000158","sell":"0.00000166","high":"0.00000187","low":"0.00000142","vol":"860726.4835"},"sgcc_btc":{"date":1531820251,"last":"0.00000029","buy":"0.00000029","sell":"0.00000030","high":"0.00000029","low":"0.00000029","vol":"173958247.2244"},"cre_btc":{"date":1531820251,"last":"0.00000263","buy":"0.00000259","sell":"0.00000270","high":"0.00000281","low":"0.00000259","vol":"6438001.5142"},"cre_eth":{"date":1531820251,"last":"0.00003709","buy":"0.00003646","sell":"0.00003767","high":"0.00004015","low":"0.00003580","vol":"6334551.0220"},"bcv_eth":{"date":1531820251,"last":"0.00002686","buy":"0.00002512","sell":"0.00002840","high":"0.00002899","low":"0.00002542","vol":"5817160.7977"},"gbc_eth":{"date":1531820251,"last":"0.00000226","buy":"0.00000225","sell":"0.00000227","high":"0.00000278","low":"0.00000186","vol":"579209313.4923"},"pc_eth":{"date":1531820251,"last":"0.00000255","buy":"0.00000255","sell":"0.00000264","high":"0.00000273","low":"0.00000253","vol":"45546944.1134"},"pc_btc":{"date":1531820251,"last":"0.00000018","buy":"0.00000017","sell":"0.00000019","high":"0.00000019","low":"0.00000017","vol":"8370104.3445"},"uc_eth":{"date":1531820251,"last":"0.00000282","buy":"0.00000279","sell":"0.00000283","high":"0.00000284","low":"0.00000245","vol":"104845214.2488"},"uc_btc":{"date":1531820251,"last":"0.00000019","buy":"0.00000019","sell":"0.00000020","high":"0.00000021","low":"0.00000018","vol":"17050157.0678"},"vct_eth":{"date":1531820251,"last":"0.00008210","buy":"0.00008213","sell":"0.00008787","high":"0.00008951","low":"0.00007752","vol":"497680.9029"},"uct_eth":{"date":1531820251,"last":"0.00011180","buy":"0.00011165","sell":"0.00011836","high":"0.00011860","low":"0.00006222","vol":"1192257.6529"},"uct_btc":{"date":1531820251,"last":"0.00000724","buy":"0.00000724","sell":"0.00000855","high":"0.00000781","low":"0.00000724","vol":"25759.3494"},"inc_eth":{"date":1531820251,"last":"0.00026660","buy":"0.00026211","sell":"0.00026660","high":"0.00027724","low":"0.00026000","vol":"146275.6360"},"inc_btc":{"date":1531820251,"last":"0.00001863","buy":"0.00001785","sell":"0.00001970","high":"0.00001970","low":"0.00001807","vol":"7100.9999"},"hpb_eth":{"date":1531820251,"last":"0.00432012","buy":"0.00431797","sell":"0.00433278","high":"0.00433664","low":"0.00407164","vol":"1068733.2584"},"hpb_btc":{"date":1531820251,"last":"0.00030389","buy":"0.00030120","sell":"0.00030564","high":"0.00031190","low":"0.00025007","vol":"919763.5336"},"sexc_eth":{"date":1531820251,"last":"0.00001520","buy":"0.00001402","sell":"0.00001505","high":"0.00001560","low":"0.00001359","vol":"25390221.7574"},"tky_eth":{"date":1531820251,"last":"0.00001899","buy":"0.00001920","sell":"0.00002098","high":"0.00002020","low":"0.00001561","vol":"1014614.4532"},"tky_btc":{"date":1531820251,"last":"0.00000140","buy":"0.00000140","sell":"0.00000145","high":"0.00000145","low":"0.00000136","vol":"1448577.3662"},"abao_btc":{"date":1531820251,"last":"0.00000029","buy":"0.00000028","sell":"0.00000030","high":"0.00000033","low":"0.00000028","vol":"5397262.2106"},"abao_eth":{"date":1531820251,"last":"0.00000411","buy":"0.00000410","sell":"0.00000414","high":"0.00000450","low":"0.00000406","vol":"234759958.0188"},"pnt_eth":{"date":1531820251,"last":"0.00000630","buy":"0.00000627","sell":"0.00000632","high":"0.00000700","low":"0.00000536","vol":"3838272531.3548"},"pnt_btc":{"date":1531820251,"last":"0.00000045","buy":"0.00000044","sell":"0.00000045","high":"0.00000054","low":"0.00000036","vol":"97698485.8069"},"cvt_eth":{"date":1531820251,"last":"0.00012400","buy":"0.00012400","sell":"0.00012498","high":"0.00012503","low":"0.00011890","vol":"523791.7975"},"cvt_btc":{"date":1531820251,"last":"0.00000860","buy":"0.00000859","sell":"0.00000877","high":"0.00000873","low":"0.00000801","vol":"128292.0126"},"ttt_eth":{"date":1531820251,"last":"0.00011665","buy":"0.00011612","sell":"0.00011667","high":"0.00011667","low":"0.00010050","vol":"13225857.0191"},"ttt_btc":{"date":1531820251,"last":"0.00000823","buy":"0.00000821","sell":"0.00000827","high":"0.00000827","low":"0.00000759","vol":"53590411.5820"},"nxct_eth":{"date":1531820251,"last":"0.00000609","buy":"0.00000559","sell":"0.00000609","high":"0.00000627","low":"0.00000597","vol":"34970736.5384"},"est_btc":{"date":1531820251,"last":"0.00000367","buy":"0.00000367","sell":"0.00000375","high":"0.00000447","low":"0.00000285","vol":"17211859.1405"},"xct_eth":{"date":1531820251,"last":"0.00000119","buy":"0.00000068","sell":"0.00000123","high":"0.00000128","low":"0.00000068","vol":"472222.1874"},"pra_eth":{"date":1531820251,"last":"0.00043000","buy":"0.00034018","sell":"0.00068700","high":"0.00043000","low":"0.00043000","vol":"2490.6049"},"pra_btc":{"date":1531820251,"last":"0.00003000","buy":"0.00003050","sell":"0.00004947","high":"0.00003040","low":"0.00003000","vol":"20216.0061"},"team_eth":{"date":1531820251,"last":"0.00020801","buy":"0.00019121","sell":"0.00020801","high":"0.00023029","low":"0.00018718","vol":"271814.2042"},"team_btc":{"date":1531820251,"last":"0.00001468","buy":"0.00001450","sell":"0.00001489","high":"0.00001590","low":"0.00001400","vol":"532975.8887"},"cam_eth":{"date":1531820251,"last":"0.00091800","buy":"0.00091018","sell":"0.00091800","high":"0.00097728","low":"0.00091500","vol":"6351353.3666"},"cam_btc":{"date":1531820251,"last":"0.00006467","buy":"0.00006302","sell":"0.00006498","high":"0.00006827","low":"0.00006299","vol":"7696821.0656"},"wwb_eth":{"date":1531820251,"last":"0.00034882","buy":"0.00033300","sell":"0.00034882","high":"0.00037743","low":"0.00030000","vol":"12081546.6502"},"wwb_btc":{"date":1531820251,"last":"0.00002499","buy":"0.00002399","sell":"0.00002499","high":"0.00002599","low":"0.00002120","vol":"10275329.9436"},"bto_eth":{"date":1531820251,"last":"0.00018250","buy":"0.00018200","sell":"0.00022289","high":"0.00022498","low":"0.00018200","vol":"14807.4877"},"bto_btc":{"date":1531820251,"last":"0.00001648","buy":"0.00001241","sell":"0.00001644","high":"0.00001648","low":"0.00001145","vol":"106514.3702"},"apis_eth":{"date":1531820251,"last":"0.00001111","buy":"0.00001111","sell":"0.00001136","high":"0.00001146","low":"0.00000976","vol":"9634403.7717"},"apis_btc":{"date":1531820251,"last":"0.00000079","buy":"0.00000079","sell":"0.00000080","high":"0.00000082","low":"0.00000068","vol":"2503933915.0557"},"swtc_eth":{"date":1531820251,"last":"0.00000743","buy":"0.00000764","sell":"0.00000809","high":"0.00000853","low":"0.00000742","vol":"1962086.8411"},"moac_eth":{"date":1531820251,"last":"0.00901007","buy":"0.00850205","sell":"0.00901006","high":"0.00930000","low":"0.00800004","vol":"5081.4163"},"777_eth":{"date":1531820251,"last":"0.00003150","buy":"0.00003145","sell":"0.00003151","high":"0.00003151","low":"0.00002772","vol":"4418430.4669"},"777_btc":{"date":1531820251,"last":"0.00000224","buy":"0.00000223","sell":"0.00000225","high":"0.00000228","low":"0.00000194","vol":"5241443.8705"},"bcv_btc":{"date":1531820251,"last":"0.00000189","buy":"0.00000178","sell":"0.00000199","high":"0.00000209","low":"0.00000185","vol":"6789908.8921"},"qntu_eth":{"date":1531820251,"last":"0.00000258","buy":"0.00000255","sell":"0.00000259","high":"0.00000305","low":"0.00000253","vol":"65593207.2751"},"qntu_btc":{"date":1531820251,"last":"0.00000019","buy":"0.00000018","sell":"0.00000019","high":"0.00000021","low":"0.00000018","vol":"36428044.5656"},"usdt_dkkt":{"date":1531820251,"last":"6.34100000","buy":"6.34100000","sell":"6.36500000","high":"6.39980000","low":"6.34100000","vol":"92955.7582"},"rntb_eth":{"date":1531820251,"last":"0.00004256","buy":"0.00003937","sell":"0.00004262","high":"0.00004325","low":"0.00003909","vol":"1157895.5222"},"fbee_eth":{"date":1531820251,"last":"0.00001423","buy":"0.00001423","sell":"0.00001576","high":"0.00001638","low":"0.00001423","vol":"222993.7165"},"fbee_btc":{"date":1531820251,"last":"0.00000101","buy":"0.00000097","sell":"0.00000106","high":"0.00000106","low":"0.00000098","vol":"223888.8945"},"rbf_btc":{"date":1531820251,"last":"0.00011049","buy":"0.00010585","sell":"0.00011071","high":"0.00011051","low":"0.00011049","vol":"136.5925"},"pps_eth":{"date":1531820251,"last":"0.00015611","buy":"0.00015610","sell":"0.00021061","high":"0.00021197","low":"0.00015611","vol":"23832867.9777"},"pps_btc":{"date":1531820251,"last":"0.00001150","buy":"0.00001177","sell":"0.00001350","high":"0.00001679","low":"0.00001115","vol":"2091485.5379"},"cpx_eth":{"date":1531820251,"last":"0.00014518","buy":"0.00014423","sell":"0.00014900","high":"0.00014962","low":"0.00013365","vol":"1674415.2767"},"cpx_btc":{"date":1531820251,"last":"0.00001056","buy":"0.00001005","sell":"0.00001059","high":"0.00001180","low":"0.00000944","vol":"2385061.5759"},"pch_eth":{"date":1531820251,"last":"0.00006530","buy":"0.00006513","sell":"0.00006610","high":"0.00007179","low":"0.00006011","vol":"4407966.5925"},"pch_btc":{"date":1531820251,"last":"0.00000464","buy":"0.00000462","sell":"0.00000469","high":"0.00000495","low":"0.00000455","vol":"1921093.0212"},"fti_eth":{"date":1531820251,"last":"0.00001400","buy":"0.00001400","sell":"0.00001792","high":"0.00001500","low":"0.00001198","vol":"8056935.0041"},"fti_btc":{"date":1531820252,"last":"0.00000100","buy":"0.00000100","sell":"0.00000105","high":"0.00000120","low":"0.00000059","vol":"10020763.8628"},"bbc_eth":{"date":1531820252,"last":"0.00004114","buy":"0.00004113","sell":"0.00004285","high":"0.00004497","low":"0.00004043","vol":"436225.2582"},"bbc_btc":{"date":1531820252,"last":"0.00000285","buy":"0.00000285","sell":"0.00000298","high":"0.00000320","low":"0.00000274","vol":"137562.8265"},"gus_eth":{"date":1531820252,"last":"0.00008177","buy":"0.00008158","sell":"0.00008699","high":"0.00008272","low":"0.00008000","vol":"47690.7468"},"gus_btc":{"date":1531820252,"last":"0.00000574","buy":"0.00000563","sell":"0.00000725","high":"0.00000592","low":"0.00000563","vol":"134751.2310"},"rrc_eth":{"date":1531820252,"last":"0.00007998","buy":"0.00007890","sell":"0.00008080","high":"0.00008343","low":"0.00007400","vol":"45971171.4261"},"rrc_btc":{"date":1531820252,"last":"0.00000573","buy":"0.00000569","sell":"0.00000588","high":"0.00000585","low":"0.00000520","vol":"21620726.8387"},"bstk_eth":{"date":1531820252,"last":"0.00000483","buy":"0.00000481","sell":"0.00000483","high":"0.00000638","low":"0.00000468","vol":"30488227.5904"},"bstk_btc":{"date":1531820252,"last":"0.00000034","buy":"0.00000034","sell":"0.00000035","high":"0.00000045","low":"0.00000033","vol":"30945742.8367"},"npxs_eth":{"date":1531820252,"last":"0.00000731","buy":"0.00000729","sell":"0.00000806","high":"0.00000810","low":"0.00000698","vol":"4844830.7848"},"npxs_btc":{"date":1531820252,"last":"0.00000057","buy":"0.00000055","sell":"0.00000058","high":"0.00000058","low":"0.00000049","vol":"15954224.4809"},"iov_eth":{"date":1531820252,"last":"0.00002118","buy":"0.00002105","sell":"0.00002113","high":"0.00002445","low":"0.00002100","vol":"26845910.1262"},"iov_btc":{"date":1531820252,"last":"0.00000151","buy":"0.00000146","sell":"0.00000152","high":"0.00000168","low":"0.00000144","vol":"7899044.5443"},"eds_eth":{"date":1531820252,"last":"0.00000060","buy":"0.00000059","sell":"0.00000061","high":"0.00000063","low":"0.00000059","vol":"96579998.4891"},"eds_btc":{"date":1531820252,"last":"0.00000004","buy":"0.00000004","sell":"0.00000005","high":"0.00000005","low":"0.00000004","vol":"10006671.2392"},"dsg_eth":{"date":1531820252,"last":"0.20000000","buy":"0.05190312","sell":"0.20000000","high":"0.20000000","low":"0.01100003","vol":"11968.3787"},"dsg_btc":{"date":1531820252,"last":"0.00865000","buy":"0.00350000","sell":"0.00875000","high":"0.00865000","low":"0.00100001","vol":"2168.2313"},"ply_btc":{"date":1531820252,"last":"0.00001846","buy":"0.00001701","sell":"0.00001843","high":"0.00001900","low":"0.00001600","vol":"1479641.4438"},"ext_eth":{"date":1531820252,"last":"0.00000370","buy":"0.00000339","sell":"0.00000386","high":"0.00000406","low":"0.00000353","vol":"26972060.2852"},"ext_btc":{"date":1531820252,"last":"0.00000026","buy":"0.00000025","sell":"0.00000027","high":"0.00000028","low":"0.00000024","vol":"4903153.0333"},"sctk_eth":{"date":1531820252,"last":"0.00000634","buy":"0.00000634","sell":"0.00000645","high":"0.00000643","low":"0.00000605","vol":"280285634.4183"},"sctk_btc":{"date":1531820252,"last":"0.00000044","buy":"0.00000044","sell":"0.00000045","high":"0.00000045","low":"0.00000030","vol":"5785903.1419"},"nmt_eth":{"date":1531820252,"last":"0.00009900","buy":"0.00007462","sell":"0.00009980","high":"0.00009960","low":"0.00007000","vol":"2224009.7097"},"nmt_btc":{"date":1531820252,"last":"0.00000633","buy":"0.00000633","sell":"0.00000651","high":"0.00000655","low":"0.00000633","vol":"3949985.1560"},"qtum_usdt":{"date":1531820252,"last":"8.15000000","buy":"8.15000000","sell":"8.24000000","high":"8.39000000","low":"7.92000000","vol":"126129.3293"},"esa_eth":{"date":1531820252,"last":"0.00022456","buy":"0.00022013","sell":"0.00022500","high":"0.00022729","low":"0.00020801","vol":"12929298.8994"},"bz_eth":{"date":1531820252,"last":"0.00052700","buy":"0.00051839","sell":"0.00052700","high":"0.00052800","low":"0.00049236","vol":"24450549.3779"},"bz_usdt":{"date":1531820252,"last":"0.24870000","buy":"0.24690000","sell":"0.24870000","high":"0.25110000","low":"0.23550000","vol":"26338421.3965"},"esn_btc":{"date":1531820252,"last":"0.00002588","buy":"0.00002557","sell":"0.00002588","high":"0.00003487","low":"0.00002523","vol":"720586.5204"},"ixt_eth":{"date":1531820252,"last":"0.00081579","buy":"0.00081579","sell":"0.00088485","high":"0.00098998","low":"0.00081168","vol":"31083.0547"},"ixt_btc":{"date":1531820252,"last":"0.00005760","buy":"0.00005750","sell":"0.00006485","high":"0.00007100","low":"0.00005730","vol":"17690.9968"},"bz_btc":{"date":1531820252,"last":"0.00003659","buy":"0.00003659","sell":"0.00003672","high":"0.00004000","low":"0.00003100","vol":"48606958.9973"},"lovc_eth":{"date":1531820252,"last":"0.00008600","buy":"0.00008450","sell":"0.00008500","high":"0.00013300","low":"0.00007100","vol":"2864385.5675"},"doge_btc":{"date":1531820252,"last":"0.00000043","buy":"0.00000042","sell":"0.00000044","high":"0.00000047","low":"0.00000037","vol":"222317857.2064"},"etc_btc":{"date":1531820252,"last":"0.00255100","buy":"0.00253696","sell":"0.00256402","high":"0.00262901","low":"0.00252094","vol":"761484.3876"},"gxs_btc":{"date":1531820252,"last":"0.00042439","buy":"0.00042223","sell":"0.00042934","high":"0.00043305","low":"0.00040686","vol":"48714.5685"},"hsr_btc":{"date":1531820252,"last":"0.00077700","buy":"0.00077179","sell":"0.00078220","high":"0.00080701","low":"0.00076583","vol":"229741.2698"},"nuls_btc":{"date":1531820252,"last":"0.00038892","buy":"0.00037269","sell":"0.00040838","high":"0.00040362","low":"0.00038631","vol":"40278.5748"},"voise_btc":{"date":1531820252,"last":"0.00000057","buy":"0.00000048","sell":"0.00000060","high":"0.00000058","low":"0.00000049","vol":"304893.8772"},"pay_btc":{"date":1531820252,"last":"0.00019630","buy":"0.00014039","sell":"0.00020609","high":"0.00020645","low":"0.00014405","vol":"17292.3670"},"eos_btc":{"date":1531820252,"last":"0.00134505","buy":"0.00133988","sell":"0.00138900","high":"0.00139768","low":"0.00132780","vol":"6146.0888"},"omg_btc":{"date":1531820252,"last":"0.00108000","buy":"0.00106059","sell":"0.00131760","high":"0.00133442","low":"0.00105126","vol":"1792.9702"},"otn_btc":{"date":1531820252,"last":"0.00037900","buy":"0.00020411","sell":"0.00037962","high":"0.00037990","low":"0.00017122","vol":"12803.5505"},"xas_btc":{"date":1531820252,"last":"0.00006161","buy":"0.00006123","sell":"0.00006287","high":"0.00006341","low":"0.00006060","vol":"3624555.4809"}}}'
  recorded_at: Tue, 17 Jul 2018 09:37:30 GMT
recorded_with: VCR 4.0.0
