---
http_interactions:
- request:
    method: get
    uri: https://www.bit-z.com/api_v1/ticker?coin=ETH_BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"Success","data":{"date":1507199365,"last":"0.07224172","buy":"0.07224172","sell":"0.07240141","high":"0.07388975","low":"0.07099736","vol":"5808.5483"}}'
  recorded_at: Thu, 05 Oct 2017 10:29:25 GMT
recorded_with: VCR 3.0.3
