---
http_interactions:
- request:
    method: get
    uri: https://okex.co.kr/api/spot/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"best_ask":"12487000","best_bid":"12471000","instrument_id":"BTC-KRW","product_id":"BTC-KRW","last":"12471000","ask":"12487000","bid":"12471000","open_24h":"11764000","high_24h":"12615000","low_24h":"11762000","base_volume_24h":"361.61954371","timestamp":"2019-09-03T09:01:12.818Z","quote_volume_24h":"4428099101.95397822"},{"best_ask":"214000","best_bid":"213700","instrument_id":"ETH-KRW","product_id":"ETH-KRW","last":"213700","ask":"214000","bid":"213700","open_24h":"206500","high_24h":"218000","low_24h":"205400","base_volume_24h":"9366.25444632","timestamp":"2019-09-03T09:01:09.902Z","quote_volume_24h":"1989765852.50983788"},{"best_ask":"1.19","best_bid":"1.18","instrument_id":"AUTO-KRW","product_id":"AUTO-KRW","last":"1.19","ask":"1.19","bid":"1.18","open_24h":"1.16","high_24h":"1.21","lo[...]
