---
http_interactions:
- request:
    method: get
    uri: https://api.chaince.com/market/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"bnteos":{"base_precision":3,"full_code":"BNT/EOS","quote_precision":4},"boideos":{"base_precision":1,"full_code":"BOID/EOS","quote_precision":6},"btceos":{"base_precision":6,"full_code":"BTC/EOS","quote_precision":1},"ceteos":{"base_precision":1,"full_code":"CET/EOS","quote_precision":4},"cetusdt":{"base_precision":1,"full_code":"CET/USDT","quote_precision":4},"ecasheos":{"base_precision":1,"full_code":"ECASH/EOS","quote_precision":5},"eosisheos":{"base_precision":1,"full_code":"EOSISH/EOS","quote_precision":5},"eosusdt":{"base_precision":2,"full_code":"EOS/USDT","quote_precision":2},"etheos":{"base_precision":5,"full_code":"ETH/EOS","quote_precision":1},"horuseos":{"base_precision":1,"full_code":"HORUS/EOS","quote_precision":5},"hvteos":{"base_precision":1,"full_code":"HVT/EOS","quote_precision":5},"iqeos":{"base_precision":1,"full_code":"IQ/EOS","quote_precision":5},"karmaeos":{"base_precision":1,"full_code":"KARMA/EOS","quote_precision":6},"meetoneeos":{"base_precision":1,"full_code":"MEETONE/EOS","quote_precision":5},"octeos":{"base_precision":2,"full_code":"OCT/EOS","quote_precision":4},"pubeos":{"base_precision":1,"full_code":"PUB/EOS","quote_precision":5},"rameos":{"base_precision":3,"full_code":"RAM/EOS","quote_precision":4},"trybeeos":{"base_precision":1,"full_code":"TRYBE/EOS","quote_precision":5},"zkseos":{"base_precision":1,"full_code":"ZKS/EOS","quote_precision":5}}'
  recorded_at: Thu, 15 Nov 2018 15:57:43 GMT
recorded_with: VCR 4.0.0
