---
http_interactions:
- request:
    method: get
    uri: https://api.fubt.co/v1/market/tickers?accessKey=8KdBkefrMLSP0EURre4SRTYVDZnWhl3hvzi21A2YxTo=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - 2b67061,-
    body:
      encoding: UTF-8
      string: '{"status":"success","message":null,"data":[{"tradeName":"eosbtc","buy":0.001045860000000000,"sell":0.001046590000000000,"high":0.00109210,"low":0.00092280,"last":0.00104631,"open":0.00098788,"chg":5.91468599,"vol24hour":4037162.058000000000},{"tradeName":"ltcbtc","buy":0.016422,"sell":0.016430,"high":0.017200,"low":0.013432,"last":0.016429,"open":0.014888,"chg":10.350618,"vol24hour":122212.95552000000000},{"tradeName":"ethbtc","buy":0.034412,"sell":0.034414,"high":0.034913,"low":0.030520,"last":0.034411,"open":0.032783,"chg":4.965988,"vol24hour":250007.67352000000000},{"tradeName":"topcbtc","buy":0.000001799800000000,"sell":0.000001803800000000,"high":0.000002062,"low":0.000001727,"last":0.000001804,"open":0.00[...]
