---
http_interactions:
- request:
    method: get
    uri: https://api.fubt.co/v1/market/tickers?accessKey=koiyqwih5Ll8Fz9KvnK6561H0wctqGEu%2BMR49VIlEnk=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - 6ea28b7,-
    body:
      encoding: UTF-8
      string: '{"status":"success","message":null,"data":[{"tradeName":"cxcusdt","buy":4.392533,"sell":4.4,"high":4.339103,"low":4.190000,"last":4.219667,"open":4.278878,"chg":-1.383797,"vol24hour":624389.5320000000000},{"tradeName":"eosbtc","buy":0.000363940000000000,"sell":0.000364190000000000,"high":0.00036764,"low":0.00035710,"last":0.00036402,"open":0.00036213,"chg":0.52191202,"vol24hour":3063919.240000000000},{"tradeName":"ltcbtc","buy":0.006552,"sell":0.006557,"high":0.006775,"low":0.006416,"last":0.006552,"open":0.006565,"chg":-0.198020,"vol24hour":104749.00480000000000},{"tradeName":"ethbtc","buy":0.021827,"sell":0.021830,"high":0.022098,"low":0.021710,"last":0.021827,"open":0.021[...]
