---
http_interactions:
- request:
    method: get
    uri: https://api.fubt.co/v1/market/tickers?accessKey=koiyqwih5Ll8Fz9KvnK6561H0wctqGEu%2BMR49VIlEnk=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - 2b6196c,-
    body:
      encoding: UTF-8
      string: '{"status":"success","message":null,"data":[{"tradeName":"cxcusdt","buy":4.392533,"sell":4.4,"high":4.420000,"low":4.283548,"last":4.293851,"open":4.407078,"chg":-2.569208,"vol24hour":623264.9630000000000},{"tradeName":"eosbtc","buy":0.000361670000000000,"sell":0.000361960000000000,"high":0.00037524,"low":0.00034696,"last":0.00036188,"open":0.00037390,"chg":-3.21476331,"vol24hour":3519000.680000000000},{"tradeName":"ltcbtc","buy":0.006731,"sell":0.006735,"high":0.006775,"low":0.006626,"last":0.006732,"open":0.006669,"chg":0.944669,"vol24hour":85489.40840000000000},{"tradeName":"ethbtc","buy":0.021991,"sell":0.021992,"high":0.022210,"low":0.021851,"last":0.021993,"open":0.0220[...]
