---
http_interactions:
- request:
    method: get
    uri: https://bot.blackturtle.eu/api/trades/TN/BTC/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"seller":"3JhMzGcm6QW3w95ZHSomj81SMQTbTfFVDMo","amount":"12.06756756","price":"0.00000074","id":"AdrJwUodRi9HQJga4AmHBFwmE7chGgu5i3W12iDeTHAS","type":"buy","matcher":"65MFhgwcGK3bmXzZNgepHF6jUrUmzNZWXZtZBWokvpDZ","confirmed":true,"timestamp":1538942778432,"buyer":"3JfNwt3a1cKV1nY4bGhScjCF4Qq6eKXfbHQ"},{"seller":"3JbH34tBR9TawJAGYUdv5JNSXoq2XhXfEpS","amount":"1000.00000000","price":"0.00000074","id":"5WvnhfD3eTecCBr2dMiWMENGqW9ZtpLa9CPGT2d6FKwd","type":"buy","matcher":"65MFhgwcGK3bmXzZNgepHF6jUrUmzNZWXZtZBWokvpDZ","confirmed":true,"timestamp":1538942778429,"buyer":"3JfNwt3a1cKV1nY4bGhScjCF4Qq6eKXfbHQ"},{"seller":"3JhMzGcm6QW3w95ZHSomj81SMQTbTfFVDMo","amount":"10000.00000000","price":"0.00000073","id":"7SFBN4feQU2KTRVTE7ZmGZ7ArTmwYMNXK6DNAb5pt6Xi","type":"[...]
