---
http_interactions:
- request:
    method: get
    uri: https://bot.blackturtle.eu/api/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"24h_volume":"0.00000000","symbol":"BCH/TN","24h_vwap":"0.00000000","24h_low":"0.00000000","amountAssetDecimals":8,"priceAssetCirculatingSupply":"100000000.00000000","amountAssetCirculatingSupply":"20000.00000000","24h_open":"0.00000000","priceAssetDecimals":8,"amountAssetMaxSupply":"21000000.00000000","priceAssetName":"TN","amountAssetName":"Bitcoin
        Cash","amountAssetTotalSupply":"21000000.00000000","priceAssetID":"TN","priceAssetMaxSupply":"100000000.00000000","priceAssetTotalSupply":"100000000.00000000","24h_priceVolume":"0.00000000","24h_high":"0.00000000","amountAssetID":"Fr2kNhe7XR3E16W7Mfh7NhNcsQWLXx3hSLjoFgpbFsNj","24h_close":"0.00000000","timestamp":1538934282772},{"24h_volume":"0.000","symbol":"BTN/TN","24h_vwap":"0.00000000","24h_low":"0.00000000","amountAssetDecimals":3,"priceAssetCirculatingSupply":"100000000.000","amountAssetCirculatingSupply":"2116925.000","24h_open":"0.00000000","priceAssetDecimals":8,"amountAssetMaxSupply":"10000000.000","priceAssetName":"TN","amountAssetName":"BoxiTurtleNode","amountAssetTotalSupply":"10000000.000","priceAssetID":"TN","priceAssetMaxSupply":"100000000.000","priceAssetTotalSupply":"100000000.000","24[...]
