---
http_interactions:
- request:
    method: get
    uri: https://api-exchange.bankera.com/tickers/eth-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":{"id":1,"high":"0.03816409","low":"0.03713583","bid":"0.03713583","ask":"0.03771402","last":"0.03771402","volume":"0.775267940000000000","timestamp":"1547002099000"}}'
  recorded_at: Wed, 09 Jan 2019 02:48:19 GMT
recorded_with: VCR 4.0.0
