---
http_interactions:
- request:
    method: get
    uri: https://api-exchange.bankera.com/trades//eth-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"trades":[{"market":"eth-btc","amount":"0.02","price":"0.03771402","side":"buy","time":"1546978335000"},{"market":"eth-btc","amount":"0.185732","price":"0.03713583","side":"sell","time":"1546977354000"},{"market":"eth-btc","amount":"0.27222311","price":"0.03798","side":"sell","time":"1546945580000"},{"market":"eth-btc","amount":"0.092","price":"0.03816409","side":"buy","time":"1546945316000"},{"market":"eth-btc","amount":"0.18879737","price":"0.03811789","side":"buy","time":"1546945240000"},{"market":"eth-btc","amount":"0.01651546","price":"0.038","side":"buy","time":"154694522600[...]
