---
http_interactions:
- request:
    method: get
    uri: https://api-exchange.bankera.com/general/info
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"server_time":"1547002098000","currencies":[{"id":1,"code":"DASH","scale":8},{"id":2,"code":"XEM","scale":6},{"id":3,"code":"BTC","scale":8},{"id":4,"code":"ETH","scale":18},{"id":5,"code":"BNK","scale":8}],"markets":[{"id":1,"slug":"eth-btc","base_currency":"ETH","quote_currency":"BTC","name":"ETH-BTC","min_order_amount":"0.01","max_order_amount":"100000","order_amount_step_size":"0.00000001","min_order_price":"0.01","max_order_price":"100000","order_price_step_size":"0.00000001","min_order_total_amount":"0.0005","last_price":"0.03771402","volume_24":"0.77526794"},{"id":2,"slug":"bnk-btc","base_currency":"BNK","quote_currency":"BTC","name":"BNK-BTC","min_order_amount":"200","max_order_amount":"10000000","order_amount_step_size":"0.00000001","min_order_price":"200","max_order_price":"10000000","order_price_step_size":"0.00000001","min_order_total_amount":"0.0005","last_price":"0.00000079","volume_24":"3632313.57408205"},{"id":3,"slug":"bnk-eth","base_currency":"BNK","quote_currency":"ETH","name":"BNK-ETH","min_order_amount":"200","max_order_amount":"10000000","order_amount_step_size":"0.00000001","min_order_price":"200","max_order_price":"10000000","order_price_step_size":"0.00000001","min_order_total_amount":"0.01","last_price":"0.00002203","volume_24":"1036966.92223414"},{"id":4,"slug":"xem-btc","base_currency":"XEM","quote_currency":"BTC","name":"XEM-BTC","min_order_amount":"20","max_order_amount":"10000000","order_amount_step_size":"0.000001","min_order_price":"20","max_order_price":"10000000","order_price_step_size":"0.00000001","min_order_total_amount":"0.0005","last_price":"0.00001625","volume_24":"645"},{"id":5,"slug":"dash-btc","base_currency":"DASH","quote_currency":"BTC","name":"DASH-BTC","min_order_amount":"0.02","max_order_amount":"100000","order_amount_step_size":"0.00000001","min_order_price":"0.02","max_order_price":"100000","order_price_step_size":"0.00000001","min_order_total_amount":"0.0005","last_price":"0.02019539","volume_24":"9.182217"}]}'
  recorded_at: Wed, 09 Jan 2019 02:48:18 GMT
recorded_with: VCR 4.0.0
