---
http_interactions:
- request:
    method: get
    uri: https://api.bitsoda.com/v1/market/prices
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"BCH_USDT":"[1569912522404,229.15,231.13,219.03,222.42,1459.1321200000036]","BTC_USDT":"[1569912522404,8352.78,8492.0,8137.28,8196.34,130.81771900000024]","CKB_USDT":"[1569912522404,0.008172,0.008524,0.008,0.008031,1279282.9289999984]","ETC_USDT":"[1569912522404,4.73,4.78,4.54,4.59,48725.91277999998]","ETH_USDT":"[1569912522404,180.68,182.23,173.39,174.88,8476.21084000002]","LTC_USDT":"[1569912522404,56.39,56.79,54.84,56.19,3483.412179999996]"}}'
  recorded_at: Wed, 02 Oct 2019 06:48:44 GMT
recorded_with: VCR 4.0.0
