---
http_interactions:
- request:
    method: get
    uri: https://api.piexgo.com/api/v1/orderBook?symbol=BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"msg":"OK","bids":[{"index":0,"price":"7966.57","volume":"0.0040"},{"index":1,"price":"7965.70","volume":"0.0012"},{"index":2,"price":"7962.90","volume":"0.2500"},{"index":3,"price":"7954.60","volume":"0.0025"},{"index":4,"price":"7951.88","volume":"0.0045"},{"index":5,"price":"7947.77","volume":"0.2500"},{"index":6,"price":"7945.06","volume":"0.0030"},{"index":7,"price":"7936.19","volume":"0.0011"},{"index":8,"price":"7924.56","volume":"0.0018"},{"index":9,"price":"7916.17","volume":"0.0025"},{"index":10,"price":"7913.90","volume":"0.2000"},{"index":[...]
