---
http_interactions:
- request:
    method: get
    uri: https://api.piexgo.com/api/v1/trades?symbol=BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"msg":"OK","err_code":0,"data":[{"time":1559624431993,"vol":"0.07260000","direct":1,"price":"7971.9000000000"},{"time":1559624433581,"vol":"0.08380000","direct":0,"price":"7971.9000000000"},{"time":1559624435064,"vol":"0.07050000","direct":0,"price":"7971.9200000000"},{"time":1559624436092,"vol":"0.04100000","direct":1,"price":"7971.9300000000"},{"time":1559624437872,"vol":"0.08200000","direct":0,"price":"7971.7300000000"},{"time":1559624439210,"vol":"0.08120000","direct":1,"price":"7971.8600000000"},{"time":1559624441098,"vol":"0.04950000","direct":1,"price":"7972.0000000000"},{"time"[...]
