---
http_interactions:
- request:
    method: get
    uri: https://api.piexgo.com/api/v1/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"msg":"OK","err_code":0,"data":[{"symbol":"BTC_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":4,"price_precision":2},{"symbol":"ETH_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":4,"price_precision":2},{"symbol":"ETH_BTC","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":4,"price_precision":6},{"symbol":"TT_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":2,"price_precision":5},{"symbol":"EOS_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":4,"price_precision":4},{"symbol":"BCH_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":4,"price_precision":2},{"symbol":"PXG_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":2,"price_precision":5},{"symbol":"LBA_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":4,"price_precision":6},{"symbol":"TRX_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":2,"price_precision":6},{"symbol":"IOTX_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":2,"price_precision":6},{"symbol":"MXC_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":2,"price_precision":6},{"symbol":"IOTX_BTC","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":2,"price_precision":8},{"symbol":"IOTX_ETH","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":2,"price_precision":8},{"symbol":"IOTA_BTC","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":4,"price_precision":8},{"symbol":"IOTA_USDT","maker_fee":0.0005,"taker_fee":0.0015,"amount_precision":4,"price_precision":4}]}

'
  recorded_at: Tue, 04 Jun 2019 05:14:25 GMT
recorded_with: VCR 4.0.0
