---
http_interactions:
- request:
    method: get
    uri: https://api.piexgo.com/api/v1/ticker?symbol=BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"err_code":0,"msg":"OK","ticker":{"symbol":"BTC_USDT","last_price":7978.11,"open_price":8462.95,"high":8578.13,"low":7815.1,"change":-5.728971576105271,"volume":497,"circulation":10000000,"total":10000000,"amount_1d":4117545.57,"volume_1d":496.45}}

'
  recorded_at: Tue, 04 Jun 2019 05:14:25 GMT
recorded_with: VCR 4.0.0
