---
http_interactions:
- request:
    method: get
    uri: https://whitebit.com/api/v1/public/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"name":"BTC_USD","moneyPrec":"2","stock":"BTC","money":"USD","stockPrec":"6","feePrec":"4","minAmount":"0.001"},{"name":"ETH_BTC","moneyPrec":"6","stock":"ETH","money":"BTC","stockPrec":"3","feePrec":"4","minAmount":"0.001"},{"name":"ETH_USD","moneyPrec":"2","stock":"ETH","money":"USD","stockPrec":"5","feePrec":"4","minAmount":"0.001"},{"name":"LTC_BTC","moneyPrec":"6","stock":"LTC","money":"BTC","stockPrec":"2","feePrec":"4","minAmount":"0.01"},{"name":"LTC_ETH","moneyPrec":"5","stock":"LTC","money":"ETH","stockPrec":"3","feePrec":"4","minAmount":"0.001"},{"name":"LTC_USD","moneyPrec":"2","stock[...]
