---
http_interactions:
- request:
    method: get
    uri: https://whitebit.com/api/v1/public/history/result?limit=100&market=ETH_BTC&since=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"tid":6078701,"type":"sell","date":1560497352,"amount":"3.317","price":"0.03104"},{"tid":6078673,"type":"buy","date":1560497229,"amount":"2.19","price":"0.031044"},{"tid":6078638,"type":"buy","date":1560497109,"amount":"1.008","price":"0.031044"},{"tid":6078598,"type":"buy","date":1560496992,"amount":"3.233","price":"0.031031"},{"tid":6078553,"type":"buy","date":1560496812,"amount":"2.273","price":"0.031025"},{"tid":6078517,"type":"sell","date":1560496692,"amount":"1.231","price":"0.031045"},{"tid":6078483,"type":"sell","date":1560496575,"amount":"3.53","price":"0.[...]
