---
http_interactions:
- request:
    method: get
    uri: https://whitebit.com/api/v1/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":{"BTC_USD":{"at":1560497435,"ticker":{"bid":"8218.39","ask":"8237.46","low":"8161.85","high":"8247.74","last":"8235.8","vol":"144.952817","change":"1.45"}},"ETH_BTC":{"at":1560497435,"ticker":{"bid":"0.030984","ask":"0.03105","low":"0.030868","high":"0.031309","last":"0.03104","vol":"1148.485","change":"-3.11"}},"ETH_USD":{"at":1560497435,"ticker":{"bid":"254.87","ask":"255.42","low":"252.47","high":"256.73","last":"255.43","vol":"734.90678","change":"-1.60"}},"LTC_BTC":{"at":1560497435,"ticker":{"bid":"0.015641","ask":"0.015675","low":"0.015644","high":"0.01595","last":"0.015661","vol":"1126.75","change":"-9.14"}},"LTC_ETH":{"at":1560497435,"ticker":{"bid":"0.50406","ask":"0.50544","low":"0.50536","high":"0.51456","last":"0.50536","vol":"737.793","change":"-2.96"}},"LTC_USD":{"at":1560497435,"ticker":{"bid":"128.7","ask":"129.01","low":"128.59","high":"131.14","last":"128.97","vol":"1455.75487","change":"-4.48"}},"XLM_BTC":{"at":1560497435,"ticker":{"bid":"0.00001496","ask":"0.00001501","low":"0.00001497","high":"0.00001518","last":"0.00001497","vol":"277939.35618466","change":"-3.72"}},"XLM_ETH":{"at":1560497435,"ticker":{"bid":"0.00048266","ask":"0.00048495","low":"0.0004847","high":"0.00049149","last":"0.0004847","vol":"31991.4534584","change":"-0.31"}},"XLM_USD":{"at":1560497435,"ticker":{"bid":"0.12318","ask":"0.12357","low":"0.12319","high":"0.12472","last":"0.12355","vol":"1445816.8","change":"-2.07"}},"DASH_BTC":{"at":1560497435,"ticker":{"bid":"0.018528","ask":"0.018575","low":"0.01856","high":"0.018914","last":"0.018572","vol":"923.928","change":"-3.56"}},"DASH_ETH":{"at":1560497435,"ticker":{"bid":"0.59667","ask":"0.59933","low":"0.59885","high":"0.60919","last":"0.59953","vol":"702.856","change":"-0.25"}},"DASH_USD":{"at":1560497435,"ticker":{"bid":"152.26","ask":"152.83","low":"152.32","high":"155.54","last":"152.79","vol":"787.62563","change":"-2.26"}},"BCH_BTC":{"at":1560497435,"ticker":{"bid":"0.049429","ask":"0.049554","low":"0.049483","high":"0.050434","last":"0.049548","vol":"353.635","change":"0.14"}},"BCH_ETH":{"at":1560497435,"ticker":{"bid":"1.58911","ask":"1.60833","low":"1.6646","high":"1.6646","last":"1.6646","vol":"0","change":"0"}},"BCH_USD":{"at":1560497435,"ticker":{"bid":"407.05","ask":"408.06","low":"405.12","high":"414.64","last":"408.05","vol":"176.33785","change":"1.39"}},"GAS_BTC":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"NEO_BTC":{"at":1560497435,"ticker":{"bid":"0.001573","ask":"0.001578","low":"0.001573","high":"0.001604","last":"0.001575","vol":"3019.27","change":"-0.94"}},"NEO_ETH":{"at":1560497435,"ticker":{"bid":"0.0507","ask":"0.050976","low":"0.05087","high":"0.051618","last":"0.050972","vol":"11409.9","change":"2.23"}},"NEO_USD":{"at":1560497435,"ticker":{"bid":"12.939","ask":"12.983","low":"12.859","high":"13.177","last":"12.985","vol":"5842.169","change":"0.51"}},"ETC_BTC":{"at":1560497435,"ticker":{"bid":"0.001008","ask":"0.001013","low":"0.001008","high":"0.001041","last":"0.001008","vol":"11448.14","change":"-4.44"}},"ETC_ETH":{"at":1560497435,"ticker":{"bid":"0.032535","ask":"0.032693","low":"0.032724","high":"0.03362","last":"0.032724","vol":"4954.38","change":"-1.46"}},"ETC_USD":{"at":1560497435,"ticker":{"bid":"8.3027","ask":"8.3294","low":"8.338","high":"8.5889","last":"8.3559","vol":"8416.39","change":"-2.93"}},"OMG_BTC":{"at":1560497435,"ticker":{"bid":"0.000261","ask":"0.000264","low":"0.000254","high":"0.000265","last":"0.000262","vol":"8863.04","change":"4.8"}},"OMG_ETH":{"at":1560497435,"ticker":{"bid":"0.008432","ask":"0.008492","low":"0.008265","high":"0.008602","last":"0.008498","vol":"2530.46","change":"7.89"}},"OMG_USD":{"at":1560497435,"ticker":{"bid":"2.152","ask":"2.162","low":"2.1116","high":"2.1885","last":"2.1641","vol":"4365.52","change":"6.22"}},"PPT_BTC":{"at":1560497435,"ticker":{"bid":"0.0001321","ask":"0.0001329","low":"0.0001321","high":"0.0001361","last":"0.0001321","vol":"36517.28","change":"-10.52"}},"PPT_ETH":{"at":1560497435,"ticker":{"bid":"0.004255","ask":"0.00431","low":"0.004297","high":"0.004427","last":"0.004309","vol":"3853.39","change":"-7.74"}},"PPT_USD":{"at":1560497435,"ticker":{"bid":"0.123","ask":"4.2005","low":"4.2004","high":"4.2004","last":"4.2004","vol":"3471.43","change":"75.01"}},"BNB_BTC":{"at":1560497435,"ticker":{"bid":"0.0040181","ask":"0.0040272","low":"0.004027","high":"0.0044665","last":"0.004027","vol":"3323.52","change":"-9.91"}},"BNB_ETH":{"at":1560497435,"ticker":{"bid":"0.129559","ask":"0.130109","low":"0.129662","high":"0.138102","last":"0.129662","vol":"713.27","change":"-7.01"}},"BNB_USD":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"BNB_USDT":{"at":1560497435,"ticker":{"bid":"33.1072","ask":"33.2161","low":"33.1624","high":"35.2977","last":"33.1624","vol":"1416.54","change":"-8.57"}},"SNT_BTC":{"at":1560497435,"ticker":{"bid":"0.00000354","ask":"0.00000357","low":"0.00000353","high":"0.00000359","last":"0.00000356","vol":"77561.20257731","change":"-1.92"}},"SNT_ETH":{"at":1560497435,"ticker":{"bid":"0.00011433","ask":"0.0001151","low":"0.00011397","high":"0.00011607","last":"0.00011509","vol":"11020.64921648","change":"0.20"}},"SNT_USD":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0.0301","high":"0.0316","last":"0.0309","vol":"5608.45","change":"0"}},"MKR_BTC":{"at":1560497435,"ticker":{"bid":"0.08558","ask":"0.088368","low":"0.086926","high":"0.089031","last":"0.088382","vol":"36.852","change":"-3.27"}},"MKR_ETH":{"at":1560497435,"ticker":{"bid":"2.7524","ask":"2.8288","low":"2.826695","high":"2.854192","last":"2.828798","vol":"9.524","change":"-0.79"}},"MKR_USD":{"at":1560497435,"ticker":{"bid":"705.85","ask":"729.95","low":"715.19","high":"740.46","last":"729.94","vol":"31.251137","change":"-2.44"}},"DGD_BTC":{"at":1560497435,"ticker":{"bid":"0.003931","ask":"0.003947","low":"0.003946","high":"0.004056","last":"0.003946","vol":"122.016","change":"-2.68"}},"DGD_ETH":{"at":1560497435,"ticker":{"bid":"0.12675","ask":"0.12804","low":"0.12774","high":"0.13111","last":"0.12804","vol":"245.829","change":"0.80"}},"DGD_USD":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"AE_BTC":{"at":1560497435,"ticker":{"bid":"0.0000641","ask":"0.0000645","low":"0.0000623","high":"0.0000664","last":"0.0000643","vol":"39514.33","change":"3.21"}},"AE_ETH":{"at":1560497435,"ticker":{"bid":"0.002067","ask":"0.002085","low":"0.002019","high":"0.002164","last":"0.002084","vol":"10682.63","change":"6.54"}},"AE_USD":{"at":1560497435,"ticker":{"bid":"0.5129","ask":"0.5717","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"WTC_BTC":{"at":1560497435,"ticker":{"bid":"0.0002527","ask":"0.0002538","low":"0.0002475","high":"0.0002535","last":"0.0002532","vol":"8915.93","change":"-4.30"}},"WTC_ETH":{"at":1560497435,"ticker":{"bid":"0.008128","ask":"0.008199","low":"0.008021","high":"0.008198","last":"0.008198","vol":"1125.19","change":"-1.24"}},"WTC_USD":{"at":1560497435,"ticker":{"bid":"0.8764","ask":"3.9949","low":"3.9948","high":"3.9948","last":"3.9948","vol":"1506.64","change":"0"}},"VERI_BTC":{"at":1560497435,"ticker":{"bid":"0.0019","ask":"0.00259","low":"0.002493","high":"0.002586","last":"0.002574","vol":"2300.912","change":"-0.27"}},"VERI_ETH":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"VERI_USD":{"at":1560497435,"ticker":{"bid":"10.2871","ask":"89.9999","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"ZRX_BTC":{"at":1560497435,"ticker":{"bid":"0.00003934","ask":"0.00003949","low":"0.00003945","high":"0.00003998","last":"0.00003945","vol":"27609.95887415","change":"-2.99"}},"ZRX_ETH":{"at":1560497435,"ticker":{"bid":"0.00126744","ask":"0.00127454","low":"0.00127672","high":"0.00129901","last":"0.00127765","vol":"5014.85890383","change":"0.45"}},"ZRX_USD":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"ZRX_USDT":{"at":1560497435,"ticker":{"bid":"0.323","ask":"0.3252","low":"0.3247","high":"0.3334","last":"0.3252","vol":"14382.71","change":"-1.51"}},"R_BTC":{"at":1560497435,"ticker":{"bid":"0.00001343","ask":"0.00001587","low":"0.00001488","high":"0.00001586","last":"0.00001567","vol":"126156.26438733","change":"1.35"}},"R_ETH":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"R_USD":{"at":1560497435,"ticker":{"bid":"0.1136","ask":"0.127","low":"0.1269","high":"0.1269","last":"0.1269","vol":"8485","change":"0"}},"ZIL_BTC":{"at":1560497435,"ticker":{"bid":"0.00000288","ask":"0.0000029","low":"0.00000275","high":"0.00000295","last":"0.00000289","vol":"202754.18995126","change":"1.76"}},"ZIL_ETH":{"at":1560497435,"ticker":{"bid":"0.00009273","ask":"0.00009341","low":"0.00008885","high":"0.00009535","last":"0.00009333","vol":"135651.50660633","change":"5.11"}},"ZIL_USD":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"ZIL_USDT":{"at":1560497435,"ticker":{"bid":"0.02363","ask":"0.02379","low":"0.02268","high":"0.02416","last":"0.02378","vol":"4523.2","change":"3.30"}},"BAT_BTC":{"at":1560497435,"ticker":{"bid":"0.00003945","ask":"0.00003957","low":"0.00003946","high":"0.00003989","last":"0.00003964","vol":"29999.83689891","change":"-2.67"}},"BAT_ETH":{"at":1560497435,"ticker":{"bid":"0.00127104","ask":"0.00127501","low":"0.00127399","high":"0.00129122","last":"0.00127767","vol":"19866.57071052","change":"0.17"}},"BAT_USD":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"BAT_USDT":{"at":1560497435,"ticker":{"bid":"0.3241","ask":"0.3253","low":"0.3238","high":"0.3275","last":"0.3264","vol":"1436.87","change":"-1.47"}},"LOT_USDT":{"at":1560497435,"ticker":{"bid":"0","ask":"0.0105","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"LOT_BTC":{"at":1560497435,"ticker":{"bid":"0","ask":"0.0001","low":"0.0000995","high":"0.00009999","last":"0.00009992","vol":"175852.25","change":"0.13"}},"LOT_ETH":{"at":1560497435,"ticker":{"bid":"0","ask":"0.000042","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"KEY_BTC":{"at":1560497435,"ticker":{"bid":"0.0000004","ask":"0.00000044","low":"0.00000042","high":"0.00000043","last":"0.00000043","vol":"1042544.43372224","change":"0"}},"KEY_ETH":{"at":1560497435,"ticker":{"bid":"0.00001316","ask":"0.00001386","low":"0.00001344","high":"0.00001393","last":"0.00001385","vol":"872519.62561595","change":"1.39"}},"KEY_USD":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"XRC_BTC":{"at":1560497435,"ticker":{"bid":"0","ask":"0.0018","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"XRC_ETH":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}},"XRC_USD":{"at":1560497435,"ticker":{"bid":"0","ask":"0","low":"0","high":"0","last":"0","vol":"0","change":"0"}}}}'
  recorded_at: Fri, 14 Jun 2019 07:30:35 GMT
recorded_with: VCR 4.0.0
