---
http_interactions:
- request:
    method: get
    uri: https://bitbegin.io/api/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=ISO-8859-1
    body:
      encoding: ISO-8859-1
      string: '{"result":[{"MarketName":"BTC_NGN","High":2308659,"Low":2.30865E+6,"Volume":7.8176,"Last":2308659,"BaseVolume":18048144.6138,"OpenOrders":56},{"MarketName":"ETH_NGN","High":72309,"Low":7.23E+4,"Volume":77.909,"Last":72309,"BaseVolume":5633170.881,"OpenOrders":39},{"MarketName":"TUSD_NGN","High":364,"Low":363.348287,"Volume":416,"Last":364,"BaseVolume":151371.86296,"OpenOrders":56},{"MarketName":"BAT_BIB","High":0.41484154,"Low":0.41000448,"Volume":599.99363,"Last":0.41000448,"BaseVolume":247.45600052,"OpenOrders":0},{"MarketName":"GVT_ETH","High":0.07248967,"Low":0.06975833,"Volume":74755.53607774,"Last":0.06975833,"BaseVolume":53[...]
