---
http_interactions:
- request:
    method: get
    uri: https://bitbegin.io/api/getmarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=ISO-8859-1
    body:
      encoding: ISO-8859-1
      string: '{"result":[{"MarketCurrency":"EXBT","BaseCurrency":"BINS","MarketCurrencyLong":"EXHIBITTOKEN
        ","BaseCurrencyLong":"BITSENSE","MinTradeSize":"0.0000000","MarketName":"EXBT_BINS","IsActive":true,"Created":"2018-09-30
        09:57:00.0"},{"MarketCurrency":"OMG","BaseCurrency":"BIB","MarketCurrencyLong":"OMISEGO","BaseCurrencyLong":"BITBEGIN
        COIN","MinTradeSize":"0.0000000","MarketName":"OMG_BIB","IsActive":true,"Created":"2018-10-24
        19:57:56.0"},{"MarketCurrency":"ICX","BaseCurrency":"BIB","MarketCurrencyLong":"ICON","BaseCurrencyLong":"BITBEGIN
        COIN","MinTradeSize":"0.0000000","MarketName":"ICX_BIB","IsActive":true,"Created":"2018-10-24
        19:59:05.0"},{"MarketCurren[...]
