---
http_interactions:
- request:
    method: get
    uri: https://api.codex.one/trades_history?from_time=1550753692&limit=500&market=ETHBTC&to_time=1550840092
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page_token":"","trades":[{"uuid":"7b7a6613-33f7-4325-bf61-87aa27e3ef07","price":"0.036956","amount":"0.1684","funds":"0.0062233904","market":"ethbtc","created_at":1550840078,"side":"bid","base_currency":"eth","quote_currency":"btc"},{"uuid":"0594fc4f-a07e-483c-bf51-b8c9962d61c2","price":"0.037724","amount":"0.0305","funds":"0.001150582","market":"ethbtc","created_at":1550839435,"side":"ask","base_currency":"eth","quote_currency":"btc"},{"uuid":"0b661ab0-e737-4790-9585-a0ac510e87db","price":"0.037724","amount":"0.0392","funds":"0.0014787808","market":"ethbtc","created_at":1550839434,"side":"ask","base_currency":"eth","quote_currency":"btc"},{"uuid":"51296252-7988-48d4-a129-2bf7238e5e59","price":"0.037724","amount":"0.[...]
