---
http_interactions:
- request:
    method: get
    uri: https://api.codex.one/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"0xbtcbtc":{"at":1550840093,"base_unit":"0xbtc","high":"0.0003948","last":"0.0003948","low":"0.0003948","name":"0xbtc/btc","open":"0.0003948","quote_unit":"btc","quote_volume":"0","volume":"0"},"0xbtceth":{"at":1550840092,"base_unit":"0xbtc","high":"0.0015","last":"0.0015","low":"0.0015","name":"0xbtc/eth","open":"0.0015","quote_unit":"eth","quote_volume":"0","volume":"0"},"aebtc":{"at":1550840092,"base_unit":"ae","high":"0.0001094","last":"0.0001082","low":"0.0001057","name":"ae/btc","open":"0.0001083","quote_unit":"btc","quote_volume":"0.173143501","volume":"1606.28"},"aeeos":{"at":1550840093,"base_unit":"ae","high":"0.1135","last":"0.1111","low":"0.1095","name":"ae/eos","open":"0.1135","quote_unit":"eos","quote_volume":"68.6873196","volume":"616.263"},"aeeth":{"at":1550840092,"base_unit":"ae","high":"0.002954","last":"0.002899","low":"0.00287","name":"ae/eth","open":"0.00291","quote_unit":"eth","quote_volume":"1.61425943","volume":"554.95"},"batbtc":{"at":1550840093,"base_unit":"bat","high":"0.00003539","last":"0.00003392","low":"0.00003378","name":"bat/btc","open":"0.00003451","quote_unit":"btc","quote_volume":"0.67608776","volume":"19650"},"bateos":{"at":1550840093,"base_unit":"bat","high":"0.0372","last":"0.0351","low":"0.0343","name":"bat/eos","open":"0.0363","quote_unit":"eos","quote_volume":"247.12126","volume":"6935.4"},"bateth":{"at":1550840092,"base_unit":"bat","high":"0.00096047","last":"0.00091087","low":"0.00090187","name":"bat/eth","open":"0.00094784","quote_unit":"eth","quote_volume":"2.92918936","volume":"3146"},"bchabcbtc":{"at":1550840092,"base_unit":"bchabc","high":"0.036872","last":"0.036619","low":"0.035239","name":"bchabc/btc","open":"0.036066","quote_unit":"btc","quote_volume":"0.660175995","volume":"18.324"},"bchabceth":{"at":1550840092,"base_unit":"bchabc","high":"0.994","last":"0.994","low":"0.994","name":"bchabc/eth","open":"0.994","quote_unit":"eth","quote_volume":"0","volume":"0"},"bchabcusdt":{"at":1550840092,"base_unit":"bchabc","high":"146.03","last":"143.99","low":"138.92","name":"bchabc/usdt","open":"140.43","quote_unit":"usdt","quote_volume":"12437.8569290","volume":"87.59446"},"beambtc":{"at":1550840092,"base_unit":"beam","high":"0.0004114","last":"0.0001056","low":"0.0000548","name":"beam/btc","open":"0.0002028","quote_unit":"btc","quote_volume":"0.672556245","volume":"3056.51"},"beameth":{"at":1550840093,"base_unit":"beam","high":"0.011387","last":"0.00749","low":"0.005866","name":"beam/eth","open":"0.011387","quote_unit":"eth","quote_volume":"1.67160023","volume":"211.24"},"bntbtc":{"at":1550840092,"base_unit":"bnt","high":"0.00014403","last":"0.00013932","low":"0.00013643","name":"bnt/btc","open":"0.00013998","quote_unit":"btc","quote_volume":"0.13072119","volume":"932"},"bnteos":{"at":1550840093,"base_unit":"bnt","high":"0.1495","last":"0.1434","low":"0.1425","name":"bnt/eos","open":"0.1474","quote_unit":"eos","quote_volume":"144.315485","volume":"991.73"},"bnteth":{"at":1550840092,"base_unit":"bnt","high":"0.003844","last":"0.0038","low":"0.003727","name":"bnt/eth","open":"0.003832","quote_unit":"eth","quote_volume":"1.99734710","volume":"526.32"},"bosbtc":{"at":1550840093,"base_unit":"bos","high":"0.0000098","last":"0.0000098","low":"0.0000098","name":"bos/btc","open":"0.0000098","quote_unit":"btc","quote_volume":"0","volume":"0"},"boseos":{"at":1550840093,"base_unit":"bos","high":"0.0001","last":"0.0001","low":"0.0001","name":"bos/eos","open":"0.0001","quote_unit":"eos","quote_volume":"0","volume":"0"},"btcusdt":{"at":1550840093,"base_unit":"btc","high":"3981.7","last":"3949.7","low":"3883.8","name":"btc/usdt","open":"3916","quote_unit":"usdt","quote_volume":"8103.783297","volume":"2.05823"},"bttbtc":{"at":1550840092,"base_unit":"btt","high":"0.00000029","last":"0.00000028","low":"0.00000027","name":"btt/btc","open":"0.00000027","quote_unit":"btc","quote_volume":"1.34999907","volume":"4813420"},"bttusdt":{"at":1550840093,"base_unit":"btt","high":"0.0009895","last":"0.0009895","low":"0.0009888","name":"btt/usdt","open":"0.0009888","quote_unit":"usdt","quote_volume":"4056.8800000","volume":"4100000"},"cdxbtc":{"at":1550840093,"base_unit":"cdx","high":"0.00000008","last":"0.00000008","low":"0.00000008","name":"cdx/btc","open":"0.00000008","quote_unit":"btc","quote_volume":"0","volume":"0"},"cdxeos":{"at":1550840092,"base_unit":"cdx","high":"0.009","last":"0.009","low":"0.00001","name":"cdx/eos","open":"0.00001","quote_unit":"eos","quote_volume":"2200.70528","volume":"258735"},"cdxeth":{"at":1550840092,"base_unit":"cdx","high":"0.000001","last":"0.000001","low":"0.000001","name":"cdx/eth","open":"0.000001","quote_unit":"eth","quote_volume":"0","volume":"0"},"cdxusdt":{"at":1550840093,"base_unit":"cdx","high":"0.045","last":"0.02","low":"0.0001002","name":"cdx/usdt","open":"0.045","quote_unit":"usdt","quote_volume":"9502.5304682","volume":"1179572"},"cvcbtc":{"at":1550840092,"base_unit":"cvc","high":"0.0000149","last":"0.0000148","low":"0.0000145","name":"cvc/btc","open":"0.00001474","quote_unit":"btc","quote_volume":"0.36341397","volume":"24699"},"cvceos":{"at":1550840092,"base_unit":"cvc","high":"0.0157","last":"0.0152","low":"0.0148","name":"cvc/eos","open":"0.0154","quote_unit":"eos","quote_volume":"115.9717","volume":"7609"},"cvceth":{"at":1550840092,"base_unit":"cvc","high":"0.00040484","last":"0.00038972","low":"0.00038866","name":"cvc/eth","open":"0.00039956","quote_unit":"eth","quote_volume":"2.31841033","volume":"5836"},"enjbtc":{"at":1550840092,"base_unit":"enj","high":"0.00001033","last":"0.0000102","low":"0.00000905","name":"enj/btc","open":"0.00000923","quote_unit":"btc","quote_volume":"0.70176803","volume":"72121"},"enjeos":{"at":1550840093,"base_unit":"enj","high":"0.0111","last":"0.0105","low":"0.0095","name":"enj/eos","open":"0.0098","quote_unit":"eos","quote_volume":"249.9664","volume":"24811"},"enjeth":{"at":1550840093,"base_unit":"enj","high":"0.00027932","last":"0.00027212","low":"0.00024654","name":"enj/eth","open":"0.00024815","quote_unit":"eth","quote_volume":"5.00328221","volume":"19078"},"eosbtc":{"at":1550840093,"base_unit":"eos","high":"0.0009862","last":"0.0009862","low":"0.0009391","name":"eos/btc","open":"0.0009494","quote_unit":"btc","quote_volume":"0.277542255","volume":"288.69"},"eosdacbtc":{"at":1550840092,"base_unit":"eosdac","high":"0.00000192","last":"0.00000192","low":"0.00000192","name":"eosdac/btc","open":"0.00000192","quote_unit":"btc","quote_volume":"0","volume":"0"},"eosdaceos":{"at":1550840093,"base_unit":"eosdac","high":"0.0001","last":"0.0001","low":"0.0001","name":"eosdac/eos","open":"0.0001","quote_unit":"eos","quote_volume":"0","volume":"0"},"eosdaceth":{"at":1550840092,"base_unit":"eosdac","high":"0.00005132","last":"0.00005132","low":"0.00005132","name":"eosdac/eth","open":"0.00005132","quote_unit":"eth","quote_volume":"0","volume":"0"},"eoseth":{"at":1550840093,"base_unit":"eos","high":"0.026539","last":"0.026198","low":"0.025518","name":"eos/eth","open":"0.025778","quote_unit":"eth","quote_volume":"8.80033305","volume":"339.09"},"eoshknbtc":{"at":1550840092,"base_unit":"eoshkn","high":"0.000002","last":"0.000002","low":"0.000002","name":"eoshkn/btc","open":"0.000002","quote_unit":"btc","quote_volume":"0","volume":"0"},"eoshkneos":{"at":1550840092,"base_unit":"eoshkn","high":"0.017977","last":"0.011579","low":"0.00301","name":"eoshkn/eos","open":"0.012325","quote_unit":"eos","quote_volume":"13.28592060","volume":"1219.86"},"eoshknusdt":{"at":1550840093,"base_unit":"eoshkn","high":"0.0309","last":"0.0309","low":"0.0309","name":"eoshkn/usdt","open":"0.0309","quote_unit":"usdt","quote_volume":"0","volume":"0"},"eosusdt":{"at":1550840092,"base_unit":"eos","high":"3.866","last":"3.866","low":"3.697","name":"eos/usdt","open":"3.714","quote_unit":"usdt","quote_volume":"28848.71656","volume":"7685.32"},"ethbtc":{"at":1550840092,"base_unit":"eth","high":"0.037724","last":"0.036956","low":"0.036293","name":"eth/btc","open":"0.036507","quote_unit":"btc","quote_volume":"0.5692632833","volume":"15.3881"},"ethusdt":{"at":1550840093,"base_unit":"eth","high":"147.39","last":"147.39","low":"142.16","name":"eth/usdt","open":"145.56","quote_unit":"usdt","quote_volume":"28251.855071","volume":"194.9233"},"funbtc":{"at":1550840093,"base_unit":"fun","high":"0.00000104","last":"0.00000102","low":"0.00000098","name":"fun/btc","open":"0.00000102","quote_unit":"btc","quote_volume":"0.72859816","volume":"710603"},"funeos":{"at":1550840093,"base_unit":"fun","high":"0.0011","last":"0.001","low":"0.0009","name":"fun/eos","open":"0.0011","quote_unit":"eos","quote_volume":"38.1511","volume":"38061"},"funeth":{"at":1550840092,"base_unit":"fun","high":"0.00002781","last":"0.00002705","low":"0.00002648","name":"fun/eth","open":"0.00002738","quote_unit":"eth","quote_volume":"3.71283851","volume":"136749"},"gntbtc":{"at":1550840092,"base_unit":"gnt","high":"0.00001773","last":"0.00001672","low":"0.00001641","name":"gnt/btc","open":"0.00001663","quote_unit":"btc","quote_volume":"0.73658573","volume":"43708"},"gnteos":{"at":1550840092,"base_unit":"gnt","high":"0.0178","last":"0.0171","low":"0.0171","name":"gnt/eos","open":"0.0178","quote_unit":"eos","quote_volume":"102.05669","volume":"5831.8"},"gnteth":{"at":1550840093,"base_unit":"gnt","high":"0.00047658","last":"0.00045485","low":"0.00044579","name":"gnt/eth","open":"0.00044729","quote_unit":"eth","quote_volume":"3.20530581","volume":"7023"},"grinbtc":{"at":1550840092,"base_unit":"grin","high":"0.0022575","last":"0.0005722","low":"0.0002721","name":"grin/btc","open":"0.0022041","quote_unit":"btc","quote_volume":"0.391863294","volume":"316.77"},"grinusdt":{"at":1550840093,"base_unit":"grin","high":"5.139","last":"2.282","low":"2.162","name":"grin/usdt","open":"2.279","quote_unit":"usdt","quote_volume":"3512.77519","volume":"810.83"},"hotbtc":{"at":1550840092,"base_unit":"hot","high":"0.00000027","last":"0.00000027","low":"0.00000027","name":"hot/btc","open":"0.00000027","quote_unit":"btc","quote_volume":"0","volume":"0"},"hoteth":{"at":1550840092,"base_unit":"hot","high":"0.00000973","last":"0.00000948","low":"0.00000864","name":"hot/eth","open":"0.00000893","quote_unit":"eth","quote_volume":"7.00348017","volume":"758969"},"iostbtc":{"at":1550840092,"base_unit":"iost","high":"0.00000207","last":"0.00000206","low":"0.000002","name":"iost/btc","open":"0.00000201","quote_unit":"btc","quote_volume":"0.14534452","volume":"71750"},"iosteos":{"at":1550840092,"base_unit":"iost","high":"0.0025","last":"0.0025","low":"0.0025","name":"iost/eos","open":"0.0025","quote_unit":"eos","quote_volume":"1.7275","volume":"691"},"iosteth":{"at":1550840093,"base_unit":"iost","high":"0.00005596","last":"0.00005493","low":"0.00005337","name":"iost/eth","open":"0.00005337","quote_unit":"eth","quote_volume":"0.78613562","volume":"14367"},"keybtc":{"at":1550840092,"base_unit":"key","high":"0.00000076","last":"0.00000074","low":"0.00000067","name":"key/btc","open":"0.00000076","quote_unit":"btc","quote_volume":"1.62135807","volume":"2253147"},"keyusdt":{"at":1550840092,"base_unit":"key","high":"0.035","last":"0.002701","low":"0.000935","name":"key/usdt","open":"0.00291","quote_unit":"usdt","quote_volume":"13685.236000","volume":"1246000"},"kncbtc":{"at":1550840092,"base_unit":"knc","high":"0.00003941","last":"0.00003851","low":"0.00003646","name":"knc/btc","open":"0.00003716","quote_unit":"btc","quote_volume":"1.15015963","volume":"30905"},"knceos":{"at":1550840092,"base_unit":"knc","high":"0.0392","last":"0.038","low":"0.0378","name":"knc/eos","open":"0.0387","quote_unit":"eos","quote_volume":"451.1367","volume":"11658"},"knceth":{"at":1550840092,"base_unit":"knc","high":"0.0010511","last":"0.0010274","low":"0.000978","name":"knc/eth","open":"0.0010068","quote_unit":"eth","quote_volume":"4.2349216","volume":"4218"},"linkbtc":{"at":1550840092,"base_unit":"link","high":"0.00011565","last":"0.0001134","low":"0.00011075","name":"link/btc","open":"0.00011353","quote_unit":"btc","quote_volume":"2.06001416","volume":"18246"},"linkeos":{"at":1550840092,"base_unit":"link","high":"0.1209","last":"0.1169","low":"0.1134","name":"link/eos","open":"0.1203","quote_unit":"eos","quote_volume":"812.6775","volume":"6941"},"linketh":{"at":1550840092,"base_unit":"link","high":"0.00312213","last":"0.00304073","low":"0.00299078","name":"link/eth","open":"0.0030418","quote_unit":"eth","quote_volume":"6.71220713","volume":"2196"},"ltcbtc":{"at":1550840092,"base_unit":"ltc","high":"0.012655","last":"0.012561","low":"0.012225","name":"ltc/btc","open":"0.012541","quote_unit":"btc","quote_volume":"0.30461201","volume":"24.31"},"ltceth":{"at":1550840092,"base_unit":"ltc","high":"0.34118","last":"0.33352","low":"0.33202","name":"ltc/eth","open":"0.33739","quote_unit":"eth","quote_volume":"2.06560919","volume":"6.123"},"ltcusdt":{"at":1550840092,"base_unit":"ltc","high":"49.91","last":"49.42","low":"48.25","name":"ltc/usdt","open":"49.03","quote_unit":"usdt","quote_volume":"9784.4212895","volume":"200.45518"},"manabtc":{"at":1550840092,"base_unit":"mana","high":"0.00000963","last":"0.0000094","low":"0.00000925","name":"mana/btc","open":"0.00000949","quote_unit":"btc","quote_volume":"0.55568647","volume":"58735"},"manaeos":{"at":1550840093,"base_unit":"mana","high":"0.0101","last":"0.0097","low":"0.0095","name":"mana/eos","open":"0.0099","quote_unit":"eos","quote_volume":"212.7425","volume":"21795"},"manaeth":{"at":1550840092,"base_unit":"mana","high":"0.00026126","last":"0.00025417","low":"0.00025085","name":"mana/eth","open":"0.00025376","quote_unit":"eth","quote_volume":"2.71703679","volume":"10616"},"mithbtc":{"at":1550840093,"base_unit":"mith","high":"0.00000937","last":"0.00000933","low":"0.00000914","name":"mith/btc","open":"0.00000933","quote_unit":"btc","quote_volume":"0.07253781","volume":"7790"},"mitheos":{"at":1550840092,"base_unit":"mith","high":"0.0102","last":"0.0095","low":"0.0094","name":"mith/eos","open":"0.0094","quote_unit":"eos","quote_volume":"11.0114","volume":"1132"},"mitheth":{"at":1550840092,"base_unit":"mith","high":"0.0002583","last":"0.00024908","low":"0.00024474","name":"mith/eth","open":"0.00024796","quote_unit":"eth","quote_volume":"0.64943740","volume":"2598"},"ncashbtc":{"at":1550840093,"base_unit":"ncash","high":"0.00000051","last":"0.0000005","low":"0.0000005","name":"ncash/btc","open":"0.0000005","quote_unit":"btc","quote_volume":"0.16121978","volume":"322396"},"ncasheth":{"at":1550840093,"base_unit":"ncash","high":"0.00001328","last":"0.00001298","low":"0.00001182","name":"ncash/eth","open":"0.00001285","quote_unit":"eth","quote_volume":"0.34002005","volume":"26503"},"omgbtc":{"at":1550840092,"base_unit":"omg","high":"0.0003374","last":"0.000329","low":"0.0003168","name":"omg/btc","open":"0.0003201","quote_unit":"btc","quote_volume":"0.044267233","volume":"136.78"},"omgeth":{"at":1550840092,"base_unit":"omg","high":"0.009031","last":"0.008914","low":"0.008583","name":"omg/eth","open":"0.008608","quote_unit":"eth","quote_volume":"0.99662207","volume":"113.22"},"ptibtc":{"at":1550840092,"base_unit":"pti","high":"0.00000138","last":"0.00000135","low":"0.00000021","name":"pti/btc","open":"0.00000081","quote_unit":"btc","quote_volume":"0.00218828","volume":"2804"},"ptieos":{"at":1550840092,"base_unit":"pti","high":"0.001434","last":"0.00073","low":"0.0004","name":"pti/eos","open":"0.001207","quote_unit":"eos","quote_volume":"2.395117","volume":"2912"},"ptiusdt":{"at":1550840092,"base_unit":"pti","high":"0.00515","last":"0.00514","low":"0.00262","name":"pti/usdt","open":"0.00365","quote_unit":"usdt","quote_volume":"3220.96504","volume":"882957"},"qkcbtc":{"at":1550840093,"base_unit":"qkc","high":"0.00000876","last":"0.00000841","low":"0.00000822","name":"qkc/btc","open":"0.00000822","quote_unit":"btc","quote_volume":"0.75938979","volume":"89987"},"qkceos":{"at":1550840093,"base_unit":"qkc","high":"0.009","last":"0.0084","low":"0.0084","name":"qkc/eos","open":"0.0088","quote_unit":"eos","quote_volume":"266.7764","volume":"30604"},"qkceth":{"at":1550840092,"base_unit":"qkc","high":"0.00023719","last":"0.00022569","low":"0.00022379","name":"qkc/eth","open":"0.00022634","quote_unit":"eth","quote_volume":"3.62058552","volume":"15826"},"repbtc":{"at":1550840092,"base_unit":"rep","high":"0.003545","last":"0.003492","low":"0.003422","name":"rep/btc","open":"0.003527","quote_unit":"btc","quote_volume":"0.676952115","volume":"193.808"},"repeos":{"at":1550840093,"base_unit":"rep","high":"3.7457","last":"3.6216","low":"3.5289","name":"rep/eos","open":"3.7417","quote_unit":"eos","quote_volume":"279.98317789","volume":"77.0938"},"repeth":{"at":1550840093,"base_unit":"rep","high":"0.09609","last":"0.0932","low":"0.0922","name":"rep/eth","open":"0.09598","quote_unit":"eth","quote_volume":"6.83422870","volume":"72.433"},"reqbtc":{"at":1550840092,"base_unit":"req","high":"0.00000571","last":"0.00000566","low":"0.00000553","name":"req/btc","open":"0.00000557","quote_unit":"btc","quote_volume":"0.16732649","volume":"29730"},"reqeos":{"at":1550840092,"base_unit":"req","high":"0.006","last":"0.0057","low":"0.0056","name":"req/eos","open":"0.0059","quote_unit":"eos","quote_volume":"138.7723","volume":"24142"},"reqeth":{"at":1550840093,"base_unit":"req","high":"0.00015483","last":"0.00015203","low":"0.00014873","name":"req/eth","open":"0.00015093","quote_unit":"eth","quote_volume":"1.82570417","volume":"12034"},"saltbtc":{"at":1550840092,"base_unit":"salt","high":"0.0000508","last":"0.0000508","low":"0.0000508","name":"salt/btc","open":"0.0000508","quote_unit":"btc","quote_volume":"0","volume":"0"},"salteos":{"at":1550840092,"base_unit":"salt","high":"0.0671","last":"0.0671","low":"0.0671","name":"salt/eos","open":"0.0671","quote_unit":"eos","quote_volume":"0","volume":"0"},"salteth":{"at":1550840092,"base_unit":"salt","high":"0.001516","last":"0.001516","low":"0.001516","name":"salt/eth","open":"0.001516","quote_unit":"eth","quote_volume":"0","volume":"0"},"sntbtc":{"at":1550840093,"base_unit":"snt","high":"0.00000577","last":"0.0000056","low":"0.00000517","name":"snt/btc","open":"0.00000517","quote_unit":"btc","quote_volume":"0.72424797","volume":"131553"},"snteth":{"at":1550840092,"base_unit":"snt","high":"0.00015483","last":"0.00015216","low":"0.00013757","name":"snt/eth","open":"0.00014098","quote_unit":"eth","quote_volume":"4.51026539","volume":"30396"},"storjbtc":{"at":1550840093,"base_unit":"storj","high":"0.00006213","last":"0.00005917","low":"0.00005762","name":"storj/btc","open":"0.00006158","quote_unit":"btc","quote_volume":"1.22998516","volume":"20503"},"storjeos":{"at":1550840092,"base_unit":"storj","high":"0.0655","last":"0.061","low":"0.059","name":"storj/eos","open":"0.0655","quote_unit":"eos","quote_volume":"480.5385","volume":"7719"},"storjeth":{"at":1550840092,"base_unit":"storj","high":"0.0016835","last":"0.0015707","low":"0.001549","name":"storj/eth","open":"0.0016772","quote_unit":"eth","quote_volume":"5.6432775","volume":"3470"},"tlosbtc":{"at":1550840093,"base_unit":"tlos","high":"0.00002861","last":"0.0000267","low":"0.00002443","name":"tlos/btc","open":"0.00002745","quote_unit":"btc","quote_volume":"0.08019010","volume":"3028"},"tloseos":{"at":1550840093,"base_unit":"tlos","high":"0.033371","last":"0.032256","low":"0.02751","name":"tlos/eos","open":"0.031201","quote_unit":"eos","quote_volume":"97.167519","volume":"3185"},"trxbtc":{"at":1550840092,"base_unit":"trx","high":"0.00000638","last":"0.00000633","low":"0.00000616","name":"trx/btc","open":"0.00000626","quote_unit":"btc","quote_volume":"1.54782962","volume":"243957"},"trxusdt":{"at":1550840092,"base_unit":"trx","high":"0.02512","last":"0.02476","low":"0.0243","name":"trx/usdt","open":"0.02453","quote_unit":"usdt","quote_volume":"12137.941195","volume":"495321.1"},"wtcbtc":{"at":1550840092,"base_unit":"wtc","high":"0.0002754","last":"0.0002679","low":"0.0002629","name":"wtc/btc","open":"0.0002717","quote_unit":"btc","quote_volume":"0.703626422","volume":"2606.22"},"wtceos":{"at":1550840092,"base_unit":"wtc","high":"0.2911","last":"0.2764","low":"0.2704","name":"wtc/eos","open":"0.2881","quote_unit":"eos","quote_volume":"270.802280","volume":"965.94"},"wtceth":{"at":1550840093,"base_unit":"wtc","high":"0.007521","last":"0.007322","low":"0.00708","name":"wtc/eth","open":"0.00747","quote_unit":"eth","quote_volume":"3.19139654","volume":"436.49"},"xtzbtc":{"at":1550840093,"base_unit":"xtz","high":"0.00013829","last":"0.00011107","low":"0.00010764","name":"xtz/btc","open":"0.00011098","quote_unit":"btc","quote_volume":"0.6315578557","volume":"5571.02"},"xtzeth":{"at":1550840092,"base_unit":"xtz","high":"0.0033","last":"0.0032559","low":"0.002729","name":"xtz/eth","open":"0.0029123","quote_unit":"eth","quote_volume":"9.69129041","volume":"3225.4"},"zilbtc":{"at":1550840093,"base_unit":"zil","high":"0.00000469","last":"0.00000467","low":"0.00000454","name":"zil/btc","open":"0.00000468","quote_unit":"btc","quote_volume":"0.11215459","volume":"24199"},"zileos":{"at":1550840093,"base_unit":"zil","high":"0.0049","last":"0.0046","low":"0.0046","name":"zil/eos","open":"0.0049","quote_unit":"eos","quote_volume":"35.83465","volume":"7626.3"},"zileth":{"at":1550840093,"base_unit":"zil","high":"0.00012645","last":"0.00012263","low":"0.00012181","name":"zil/eth","open":"0.00012612","quote_unit":"eth","quote_volume":"1.36253401","volume":"10963"},"zrxbtc":{"at":1550840092,"base_unit":"zrx","high":"0.00006471","last":"0.00006238","low":"0.00006125","name":"zrx/btc","open":"0.00006269","quote_unit":"btc","quote_volume":"0.33217159","volume":"5283"},"zrxeth":{"at":1550840093,"base_unit":"zrx","high":"0.00175401","last":"0.00165579","low":"0.00164604","name":"zrx/eth","open":"0.00172448","quote_unit":"eth","quote_volume":"3.95071943","volume":"2321"}}}'
  recorded_at: Fri, 22 Feb 2019 12:54:53 GMT
recorded_with: VCR 4.0.0
