---
http_interactions:
- request:
    method: get
    uri: https://api.codex.one/coins2/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1,"title":"ethbtc","base_currency":{"id":2,"code":"ETH","title":"Ethereum","confirms":0,"precision":0,"trade_precision":0,"state":"active","is_deposits_enabled":false,"is_withdraws_enabled":false},"quote_currency":{"id":1,"code":"BTC","title":"Bitcoin","confirms":0,"precision":0,"trade_precision":0,"state":"active","is_deposits_enabled":false,"is_withdraws_enabled":false},"base_precision":4,"quote_precision":6,"maker_fee":"0.001","taker_fee":"0.001","is_enabled":true,"is_trade_mineable":true,"min_order_amount":"0.000000000000000000"},{"id":2,"title":"eosbtc","base_currency":{"id":9,"code":"EOS","title":"Eos","confirms":0,"precision":0,"trade_precision":0,"state":"active","is_deposits_enabled":false,"is_withdraws_enabled":false},"quote_currency":{"id":1,"code":"BTC","title":"Bitcoin","confirms":0,"precision":0,"trade_precision":0,"state":"active","is_deposits_enabled":false,"is_withdraws_enabled":false},"base_precision":2,"quote_precision":7,"maker_fee":"0.001","taker_fee":"0.001","is_enabled":true,"is[...]
