---
http_interactions:
- request:
    method: get
    uri: https://api.codex.one/trades_history?from_time=1550700000&limit=500&market=ETHBTC&to_time=1550786400
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page_token":"","trades":[{"uuid":"119de884-4430-43c6-8b21-c113c239c3b8","price":"0.036946","amount":"0.0951","funds":"0.0035135646","market":"ethbtc","created_at":1550785653,"side":"bid","base_currency":"eth","quote_currency":"btc"},{"uuid":"1724552f-d39f-4996-8445-3bc35b7fd378","price":"0.036745","amount":"0.0351","funds":"0.0012897495","market":"ethbtc","created_at":1550785491,"side":"bid","base_currency":"eth","quote_currency":"btc"},{"uuid":"87a55879-f597-4dca-b25f-25a8e78fe1c9","price":"0.037214","amount":"0.0201","funds":"0.0007480014","market":"ethbtc","created_at":1550784299,"side":"ask","base_currency":"eth","quote_currency":"btc"},{"uuid":"dc966a86-3772-4132-b2fb-6a8e9ff59f20","price":"0.037214","amount":"0[...]
