---
http_interactions:
- request:
    method: get
    uri: https://api.codex.one/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"0xbtcbtc":{"at":1551280741,"base_unit":"0xbtc","high":"0.0003948","last":"0.0003948","low":"0.0003948","name":"0xbtc/btc","open":"0.0003948","quote_unit":"btc","quote_volume":"0","volume":"0"},"0xbtceth":{"at":1551280740,"base_unit":"0xbtc","high":"0.0015","last":"0.0015","low":"0.0015","name":"0xbtc/eth","open":"0.0015","quote_unit":"eth","quote_volume":"0","volume":"0"},"aebtc":{"at":1551280741,"base_unit":"ae","high":"0.0001162","last":"0.0001127","low":"0.0001102","name":"ae/btc","open":"0.0001162","quote_unit":"btc","quote_volume":"0.893382962","volume":"7858.80"},"aeeos":{"at":1551280741,"base_unit":"ae","high":"0.1298","last":"0.125","low":"0.1211","name":"ae/eos","open":"0.1246","quote_unit":"eos","quote_volume":"396.4067617","volume":"3142.223"},"aeeth":{"at":1551280740,"base_unit":"ae","high":"0.003262","last":"0.003172","low":"0.003097","name":"ae/eth","open":"0.003229","quote_unit":"eth","quote_volume":"6.17152170","volume":"1946.73"},"batbtc":{"at":1551280740,"base_unit":"bat","high":"0.00004544","last":"0.00004106","low":"0.00003989","name":"bat/btc","open":"0.00004248","quote_unit":"btc","quote_volume":"1.13726797","volume":"27154"},"bateos":{"at":1551280741,"base_unit":"bat","high":"0.0508","last":"0.0451","low":"0.0438","name":"bat/eos","open":"0.0467","quote_unit":"eos","quote_volume":"486.64825","volume":"10448.7"},"bateth":{"at":1551280740,"base_unit":"bat","high":"0.00125473","last":"0.00114025","low":"0.00111959","name":"bat/eth","open":"0.00119241","quote_unit":"eth","quote_volume":"5.31892395","volume":"4550"},"bchabcbtc":{"at":1551280741,"base_unit":"bchabc","high":"0.035182","last":"0.034818","low":"0.034532","name":"bchabc/btc","open":"0.035071","quote_unit":"btc","quote_volume":"0.599238476","volume":"17.241"},"bchabceth":{"at":1551280741,"base_unit":"bchabc","high":"0.994","last":"0.994","low":"0.994","name":"bchabc/eth","open":"0.994","quote_unit":"eth","quote_volume":"0","volume":"0"},"bchabcusdt":{"at":1551280741,"base_unit":"bchabc","high":"134.77","last":"131.17","low":"128.89","name":"bchabc/usdt","open":"134.33","quote_unit":"usdt","quote_volume":"4142.1415313","volume":"31.39332"},"beambtc":{"at":1551280740,"base_unit":"beam","high":"0.0002033","last":"0.0002033","low":"0.0002033","name":"beam/btc","open":"0.0002033","quote_unit":"btc","quote_volume":"0","volume":"0"},"beameth":{"at":1551280740,"base_unit":"beam","high":"0.00749","last":"0.00749","low":"0.00749","name":"beam/eth","open":"0.00749","quote_unit":"eth","quote_volume":"0","volume":"0"},"bntbtc":{"at":1551280741,"base_unit":"bnt","high":"0.00013925","last":"0.00013838","low":"0.00013455","name":"bnt/btc","open":"0.00013841","quote_unit":"btc","quote_volume":"1.02686370","volume":"7504"},"bnteos":{"at":1551280740,"base_unit":"bnt","high":"0.1574","last":"0.1511","low":"0.147","name":"bnt/eos","open":"0.1518","quote_unit":"eos","quote_volume":"1080.901943","volume":"7106.36"},"bnteth":{"at":1551280740,"base_unit":"bnt","high":"0.003892","last":"0.003825","low":"0.003759","name":"bnt/eth","open":"0.003838","quote_unit":"eth","quote_volume":"5.02838956","volume":"1314.50"},"bosbtc":{"at":1551280740,"base_unit":"bos","high":"0.0000098","last":"0.0000098","low":"0.0000098","name":"bos/btc","open":"0.0000098","quote_unit":"btc","quote_volume":"0","volume":"0"},"boseos":{"at":1551280740,"base_unit":"bos","high":"0.019","last":"0.019","low":"0.019","name":"bos/eos","open":"0.019","quote_unit":"eos","quote_volume":"0.627","volume":"33"},"btcusdt":{"at":1551280741,"base_unit":"btc","high":"3864","last":"3773.2","low":"3759.6","name":"btc/usdt","open":"3852.1","quote_unit":"usdt","quote_volume":"17034.170303","volume":"4.46456"},"bttbtc":{"at":1551280741,"base_unit":"btt","high":"0.00000026","last":"0.00000022","low":"0.00000022","name":"btt/btc","open":"0.00000023","quote_unit":"btc","quote_volume":"4.56143363","volume":"19201959"},"bttusdt":{"at":1551280741,"base_unit":"btt","high":"0.000903","last":"0.0008574","low":"0.0008307","name":"btt/usdt","open":"0.0008455","quote_unit":"usdt","quote_volume":"20582.4020002","volume":"23900649"},"cdxbtc":{"at":1551280740,"base_unit":"cdx","high":"0.00000009","last":"0.00000005","low":"0.00000005","name":"cdx/btc","open":"0.00000009","quote_unit":"btc","quote_volume":"0.00027210","volume":"4142"},"cdxeos":{"at":1551280740,"base_unit":"cdx","high":"0.005","last":"0.0001","low":"0.0001","name":"cdx/eos","open":"0.005","quote_unit":"eos","quote_volume":"1680.8458","volume":"336220"},"cdxeth":{"at":1551280740,"base_unit":"cdx","high":"0.0003056","last":"0.00000088","low":"0.00000088","name":"cdx/eth","open":"0.00022366","quote_unit":"eth","quote_volume":"0.06406892","volume":"512"},"cdxusdt":{"at":1551280740,"base_unit":"cdx","high":"0.01","last":"0.0001291","low":"0.000124","name":"cdx/usdt","open":"0.000127","quote_unit":"usdt","quote_volume":"84.4518161","volume":"156846"},"cvcbtc":{"at":1551280740,"base_unit":"cvc","high":"0.00001672","last":"0.00001585","low":"0.00001502","name":"cvc/btc","open":"0.00001515","quote_unit":"btc","quote_volume":"1.10274181","volume":"69997"},"cvceos":{"at":1551280740,"base_unit":"cvc","high":"0.0184","last":"0.0175","low":"0.0164","name":"cvc/eos","open":"0.0167","quote_unit":"eos","quote_volume":"526.0530","volume":"30217"},"cvceth":{"at":1551280740,"base_unit":"cvc","high":"0.00046206","last":"0.00043699","low":"0.00041965","name":"cvc/eth","open":"0.00042307","quote_unit":"eth","quote_volume":"6.35855452","volume":"14465"},"enjbtc":{"at":1551280740,"base_unit":"enj","high":"0.0000248","last":"0.00002046","low":"0.00002004","name":"enj/btc","open":"0.00002336","quote_unit":"btc","quote_volume":"3.82056695","volume":"174915"},"enjeos":{"at":1551280740,"base_unit":"enj","high":"0.0279","last":"0.0226","low":"0.0221","name":"enj/eos","open":"0.0263","quote_unit":"eos","quote_volume":"1570.1909","volume":"64618"},"enjeth":{"at":1551280740,"base_unit":"enj","high":"0.00069042","last":"0.00056284","low":"0.00055967","name":"enj/eth","open":"0.00065702","quote_unit":"eth","quote_volume":"19.45838868","volume":"31868"},"eosbtc":{"at":1551280740,"base_unit":"eos","high":"0.000925","last":"0.0008961","low":"0.0008775","name":"eos/btc","open":"0.0009005","quote_unit":"btc","quote_volume":"0.256328588","volume":"284.98"},"eosdacbtc":{"at":1551280740,"base_unit":"eosdac","high":"0.00000192","last":"0.00000192","low":"0.00000192","name":"eosdac/btc","open":"0.00000192","quote_unit":"btc","quote_volume":"0","volume":"0"},"eosdaceos":{"at":1551280741,"base_unit":"eosdac","high":"0.0001","last":"0.0001","low":"0.0001","name":"eosdac/eos","open":"0.0001","quote_unit":"eos","quote_volume":"0","volume":"0"},"eosdaceth":{"at":1551280741,"base_unit":"eosdac","high":"0.00005132","last":"0.00005132","low":"0.00005132","name":"eosdac/eth","open":"0.00005132","quote_unit":"eth","quote_volume":"0","volume":"0"},"eoseth":{"at":1551280740,"base_unit":"eos","high":"0.025459","last":"0.025038","low":"0.024567","name":"eos/eth","open":"0.025122","quote_unit":"eth","quote_volume":"26.95686393","volume":"1072.42"},"eoshknbtc":{"at":1551280740,"base_unit":"eoshkn","high":"0.000015","last":"0.000015","low":"0.000015","name":"eoshkn/btc","open":"0.000015","quote_unit":"btc","quote_volume":"0","volume":"0"},"eoshkneos":{"at":1551280740,"base_unit":"eoshkn","high":"0.0028","last":"0.0028","low":"0.0028","name":"eoshkn/eos","open":"0.0028","quote_unit":"eos","quote_volume":"0","volume":"0"},"eoshknusdt":{"at":1551280740,"base_unit":"eoshkn","high":"0.0283","last":"0.0283","low":"0.0283","name":"eoshkn/usdt","open":"0.0283","quote_unit":"usdt","quote_volume":"0","volume":"0"},"eosusdt":{"at":1551280740,"base_unit":"eos","high":"3.534","last":"3.435","low":"3.342","name":"eos/usdt","open":"3.421","quote_unit":"usdt","quote_volume":"23208.29965","volume":"6776.56"},"ethbtc":{"at":1551280741,"base_unit":"eth","high":"0.036779","last":"0.036234","low":"0.035696","name":"eth/btc","open":"0.035838","quote_unit":"btc","quote_volume":"9.1861104763","volume":"256.4533"},"ethusdt":{"at":1551280741,"base_unit":"eth","high":"140.56","last":"135.68","low":"133.73","name":"eth/usdt","open":"136.02","quote_unit":"usdt","quote_volume":"122863.517601","volume":"906.1911"},"funbtc":{"at":1551280740,"base_unit":"fun","high":"0.00000103","last":"0.00000102","low":"0.00000097","name":"fun/btc","open":"0.00000099","quote_unit":"btc","quote_volume":"0.89082757","volume":"875061"},"funeos":{"at":1551280741,"base_unit":"fun","high":"0.0012","last":"0.0011","low":"0.001","name":"fun/eos","open":"0.0012","quote_unit":"eos","quote_volume":"35.0788","volume":"31793"},"funeth":{"at":1551280740,"base_unit":"fun","high":"0.00002856","last":"0.00002794","low":"0.00002721","name":"fun/eth","open":"0.00002734","quote_unit":"eth","quote_volume":"5.25856853","volume":"188620"},"gntbtc":{"at":1551280741,"base_unit":"gnt","high":"0.00001743","last":"0.00001738","low":"0.00001675","name":"gnt/btc","open":"0.00001699","quote_unit":"btc","quote_volume":"0.78496279","volume":"45665"},"gnteos":{"at":1551280740,"base_unit":"gnt","high":"0.0197","last":"0.0188","low":"0.0186","name":"gnt/eos","open":"0.0191","quote_unit":"eos","quote_volume":"351.32988","volume":"18423.5"},"gnteth":{"at":1551280740,"base_unit":"gnt","high":"0.0004953","last":"0.00048206","low":"0.00047085","name":"gnt/eth","open":"0.00047932","quote_unit":"eth","quote_volume":"4.31805306","volume":"8969"},"grinbtc":{"at":1551280740,"base_unit":"grin","high":"0.0006192","last":"0.0006192","low":"0.0006192","name":"grin/btc","open":"0.0006192","quote_unit":"btc","quote_volume":"0","volume":"0"},"grinusdt":{"at":1551280741,"base_unit":"grin","high":"3.91","last":"3.91","low":"3.91","name":"grin/usdt","open":"3.91","quote_unit":"usdt","quote_volume":"0","volume":"0"},"hotbtc":{"at":1551280740,"base_unit":"hot","high":"0.00000027","last":"0.00000027","low":"0.00000027","name":"hot/btc","open":"0.00000027","quote_unit":"btc","quote_volume":"0","volume":"0"},"hoteth":{"at":1551280740,"base_unit":"hot","high":"0.00000897","last":"0.00000838","low":"0.00000802","name":"hot/eth","open":"0.00000849","quote_unit":"eth","quote_volume":"11.21235618","volume":"1313815"},"iostbtc":{"at":1551280740,"base_unit":"iost","high":"0.00000205","last":"0.00000197","low":"0.00000185","name":"iost/btc","open":"0.00000186","quote_unit":"btc","quote_volume":"1.64638192","volume":"852422"},"iosteos":{"at":1551280740,"base_unit":"iost","high":"0.0021","last":"0.0021","low":"0.0021","name":"iost/eos","open":"0.0021","quote_unit":"eos","quote_volume":"0","volume":"0"},"iosteth":{"at":1551280741,"base_unit":"iost","high":"0.00005652","last":"0.00005378","low":"0.0000519","name":"iost/eth","open":"0.00005308","quote_unit":"eth","quote_volume":"8.01113716","volume":"148465"},"keybtc":{"at":1551280740,"base_unit":"key","high":"0.00000073","last":"0.00000069","low":"0.00000064","name":"key/btc","open":"0.00000067","quote_unit":"btc","quote_volume":"3.85624399","volume":"5634895"},"keyusdt":{"at":1551280740,"base_unit":"key","high":"0.00275","last":"0.00258","low":"0.00001","name":"key/usdt","open":"0.00267","quote_unit":"usdt","quote_volume":"877.171920","volume":"340748"},"kncbtc":{"at":1551280740,"base_unit":"knc","high":"0.00004339","last":"0.00004044","low":"0.00003792","name":"knc/btc","open":"0.0000393","quote_unit":"btc","quote_volume":"0.90459879","volume":"22189"},"knceos":{"at":1551280740,"base_unit":"knc","high":"0.0485","last":"0.044","low":"0.0425","name":"knc/eos","open":"0.0425","quote_unit":"eos","quote_volume":"1070.9147","volume":"23714"},"knceth":{"at":1551280740,"base_unit":"knc","high":"0.0012264","last":"0.0011479","low":"0.0011067","name":"knc/eth","open":"0.0011067","quote_unit":"eth","quote_volume":"6.2867544","volume":"5416"},"linkbtc":{"at":1551280740,"base_unit":"link","high":"0.00011649","last":"0.00011395","low":"0.00010831","name":"link/btc","open":"0.00011126","quote_unit":"btc","quote_volume":"1.17264231","volume":"10494"},"linkeos":{"at":1551280740,"base_unit":"link","high":"0.1305","last":"0.1235","low":"0.1182","name":"link/eos","open":"0.1247","quote_unit":"eos","quote_volume":"1656.4263","volume":"13339"},"linketh":{"at":1551280740,"base_unit":"link","high":"0.0032801","last":"0.00318102","low":"0.00316422","name":"link/eth","open":"0.00320875","quote_unit":"eth","quote_volume":"11.66853235","volume":"3649"},"ltcbtc":{"at":1551280740,"base_unit":"ltc","high":"0.011972","last":"0.011754","low":"0.0115","name":"ltc/btc","open":"0.01186","quote_unit":"btc","quote_volume":"3.03428380","volume":"258.13"},"ltceth":{"at":1551280741,"base_unit":"ltc","high":"0.33476","last":"0.32791","low":"0.32122","name":"ltc/eth","open":"0.33358","quote_unit":"eth","quote_volume":"44.88824532","volume":"136.643"},"ltcusdt":{"at":1551280741,"base_unit":"ltc","high":"51.28","last":"46.27","low":"38.84","name":"ltc/usdt","open":"46.28","quote_unit":"usdt","quote_volume":"5588.0035650","volume":"122.37193"},"manabtc":{"at":1551280740,"base_unit":"mana","high":"0.00001486","last":"0.00001162","low":"0.00000997","name":"mana/btc","open":"0.00001395","quote_unit":"btc","quote_volume":"0.90956552","volume":"71288"},"manaeos":{"at":1551280741,"base_unit":"mana","high":"0.0164","last":"0.0136","low":"0.0132","name":"mana/eos","open":"0.0151","quote_unit":"eos","quote_volume":"399.6145","volume":"27791"},"manaeth":{"at":1551280740,"base_unit":"mana","high":"0.00041026","last":"0.00032465","low":"0.00032316","name":"mana/eth","open":"0.00041026","quote_unit":"eth","quote_volume":"4.69505664","volume":"13133"},"mithbtc":{"at":1551280741,"base_unit":"mith","high":"0.00000942","last":"0.00000925","low":"0.00000899","name":"mith/btc","open":"0.00000915","quote_unit":"btc","quote_volume":"0.42830956","volume":"46675"},"mitheos":{"at":1551280740,"base_unit":"mith","high":"0.0105","last":"0.0102","low":"0.0098","name":"mith/eos","open":"0.0099","quote_unit":"eos","quote_volume":"172.7346","volume":"17021"},"mitheth":{"at":1551280740,"base_unit":"mith","high":"0.00026698","last":"0.00026649","low":"0.00025037","name":"mith/eth","open":"0.00025956","quote_unit":"eth","quote_volume":"1.76165426","volume":"6785"},"ncashbtc":{"at":1551280740,"base_unit":"ncash","high":"0.00000048","last":"0.00000048","low":"0.00000041","name":"ncash/btc","open":"0.00000046","quote_unit":"btc","quote_volume":"0.54628226","volume":"1220628"},"ncasheth":{"at":1551280740,"base_unit":"ncash","high":"0.00001305","last":"0.00001204","low":"0.00001166","name":"ncash/eth","open":"0.00001207","quote_unit":"eth","quote_volume":"3.84782896","volume":"310124"},"omgbtc":{"at":1551280740,"base_unit":"omg","high":"0.0003619","last":"0.0003498","low":"0.0003456","name":"omg/btc","open":"0.0003469","quote_unit":"btc","quote_volume":"0.706930568","volume":"2013.26"},"omgeth":{"at":1551280740,"base_unit":"omg","high":"0.010158","last":"0.00965","low":"0.009602","name":"omg/eth","open":"0.009687","quote_unit":"eth","quote_volume":"3.96406306","volume":"403.17"},"ptibtc":{"at":1551280740,"base_unit":"pti","high":"0.00000021","last":"0.00000021","low":"0.00000021","name":"pti/btc","open":"0.00000021","quote_unit":"btc","quote_volume":"0","volume":"0"},"ptieos":{"at":1551280740,"base_unit":"pti","high":"0.001168","last":"0.001168","low":"0.001168","name":"pti/eos","open":"0.001168","quote_unit":"eos","quote_volume":"0","volume":"0"},"ptiusdt":{"at":1551280740,"base_unit":"pti","high":"0.00332","last":"0.00332","low":"0.00332","name":"pti/usdt","open":"0.00332","quote_unit":"usdt","quote_volume":"0","volume":"0"},"qkcbtc":{"at":1551280741,"base_unit":"qkc","high":"0.00000815","last":"0.00000798","low":"0.00000787","name":"qkc/btc","open":"0.00000798","quote_unit":"btc","quote_volume":"0.66963514","volume":"83560"},"qkceos":{"at":1551280740,"base_unit":"qkc","high":"0.0092","last":"0.0087","low":"0.0079","name":"qkc/eos","open":"0.0088","quote_unit":"eos","quote_volume":"278.4385","volume":"31773"},"qkceth":{"at":1551280740,"base_unit":"qkc","high":"0.0002293","last":"0.00022065","low":"0.00021746","name":"qkc/eth","open":"0.00022341","quote_unit":"eth","quote_volume":"4.27572218","volume":"19100"},"repbtc":{"at":1551280740,"base_unit":"rep","high":"0.003417","last":"0.003357","low":"0.003301","name":"rep/btc","open":"0.003371","quote_unit":"btc","quote_volume":"0.812370599","volume":"241.476"},"repeos":{"at":1551280740,"base_unit":"rep","high":"3.8596","last":"3.716","low":"3.5858","name":"rep/eos","open":"3.8455","quote_unit":"eos","quote_volume":"373.03501996","volume":"99.6697"},"repeth":{"at":1551280741,"base_unit":"rep","high":"0.0961","last":"0.09357","low":"0.09139","name":"rep/eth","open":"0.09417","quote_unit":"eth","quote_volume":"12.94203620","volume":"137.887"},"reqbtc":{"at":1551280740,"base_unit":"req","high":"0.00000547","last":"0.0000054","low":"0.0000053","name":"req/btc","open":"0.00000543","quote_unit":"btc","quote_volume":"0.90133610","volume":"167135"},"reqeos":{"at":1551280740,"base_unit":"req","high":"0.0062","last":"0.0059","low":"0.0057","name":"req/eos","open":"0.0061","quote_unit":"eos","quote_volume":"983.5517","volume":"165294"},"reqeth":{"at":1551280741,"base_unit":"req","high":"0.00015443","last":"0.00014884","low":"0.00014601","name":"req/eth","open":"0.00014972","quote_unit":"eth","quote_volume":"4.29688225","volume":"28646"},"saltbtc":{"at":1551280740,"base_unit":"salt","high":"0.0000508","last":"0.0000508","low":"0.0000508","name":"salt/btc","open":"0.0000508","quote_unit":"btc","quote_volume":"0","volume":"0"},"salteos":{"at":1551280740,"base_unit":"salt","high":"0.0671","last":"0.0671","low":"0.0671","name":"salt/eos","open":"0.0671","quote_unit":"eos","quote_volume":"0","volume":"0"},"salteth":{"at":1551280740,"base_unit":"salt","high":"0.001516","last":"0.001516","low":"0.001516","name":"salt/eth","open":"0.001516","quote_unit":"eth","quote_volume":"0","volume":"0"},"sntbtc":{"at":1551280740,"base_unit":"snt","high":"0.00000542","last":"0.0000053","low":"0.00000526","name":"snt/btc","open":"0.00000536","quote_unit":"btc","quote_volume":"0.97144004","volume":"182103"},"snteth":{"at":1551280740,"base_unit":"snt","high":"0.000154","last":"0.00014808","low":"0.00014494","name":"snt/eth","open":"0.00015121","quote_unit":"eth","quote_volume":"9.69027867","volume":"64943"},"storjbtc":{"at":1551280740,"base_unit":"storj","high":"0.00006744","last":"0.00005947","low":"0.00005788","name":"storj/btc","open":"0.00005818","quote_unit":"btc","quote_volume":"1.76898276","volume":"29201"},"storjeos":{"at":1551280741,"base_unit":"storj","high":"0.0742","last":"0.0671","low":"0.0638","name":"storj/eos","open":"0.0646","quote_unit":"eos","quote_volume":"683.1971","volume":"10125"},"storjeth":{"at":1551280740,"base_unit":"storj","high":"0.0018347","last":"0.0016741","low":"0.0015905","name":"storj/eth","open":"0.0016241","quote_unit":"eth","quote_volume":"8.0709268","volume":"4771"},"tlosbtc":{"at":1551280740,"base_unit":"tlos","high":"0.00002403","last":"0.00002403","low":"0.00002403","name":"tlos/btc","open":"0.00002403","quote_unit":"btc","quote_volume":"0","volume":"0"},"tloseos":{"at":1551280740,"base_unit":"tlos","high":"0.03","last":"0.03","low":"0.03","name":"tlos/eos","open":"0.03","quote_unit":"eos","quote_volume":"0.90","volume":"30"},"trxbtc":{"at":1551280741,"base_unit":"trx","high":"0.00000708","last":"0.00000628","low":"0.00000617","name":"trx/btc","open":"0.00000617","quote_unit":"btc","quote_volume":"6.67700927","volume":"1056083"},"trxusdt":{"at":1551280740,"base_unit":"trx","high":"0.02432","last":"0.02398","low":"0.02358","name":"trx/usdt","open":"0.02366","quote_unit":"usdt","quote_volume":"4534.818639","volume":"188909.8"},"wtcbtc":{"at":1551280740,"base_unit":"wtc","high":"0.0002875","last":"0.0002784","low":"0.0002736","name":"wtc/btc","open":"0.0002766","quote_unit":"btc","quote_volume":"1.122506569","volume":"3995.47"},"wtceos":{"at":1551280741,"base_unit":"wtc","high":"0.3209","last":"0.3057","low":"0.303","name":"wtc/eos","open":"0.3132","quote_unit":"eos","quote_volume":"513.167521","volume":"1643.32"},"wtceth":{"at":1551280740,"base_unit":"wtc","high":"0.008153","last":"0.00771","low":"0.00764","name":"wtc/eth","open":"0.007741","quote_unit":"eth","quote_volume":"4.88375217","volume":"621.32"},"xtzbtc":{"at":1551280740,"base_unit":"xtz","high":"0.0001424","last":"0.00012267","low":"0.00007479","name":"xtz/btc","open":"0.00010054","quote_unit":"btc","quote_volume":"1.2127526856","volume":"11202.28"},"xtzeth":{"at":1551280740,"base_unit":"xtz","high":"0.0031513","last":"0.0029238","low":"0.0029014","name":"xtz/eth","open":"0.0029821","quote_unit":"eth","quote_volume":"17.72070198","volume":"5893.6"},"zilbtc":{"at":1551280740,"base_unit":"zil","high":"0.00000468","last":"0.00000452","low":"0.00000447","name":"zil/btc","open":"0.00000456","quote_unit":"btc","quote_volume":"0.54960495","volume":"119788"},"zileos":{"at":1551280741,"base_unit":"zil","high":"0.0053","last":"0.005","low":"0.0048","name":"zil/eos","open":"0.005","quote_unit":"eos","quote_volume":"250.10737","volume":"49366.4"},"zileth":{"at":1551280740,"base_unit":"zil","high":"0.00013023","last":"0.00012604","low":"0.00012398","name":"zil/eth","open":"0.0001251","quote_unit":"eth","quote_volume":"6.41084248","volume":"50311"},"zrxbtc":{"at":1551280741,"base_unit":"zrx","high":"0.00007339","last":"0.0000693","low":"0.00006352","name":"zrx/btc","open":"0.00006365","quote_unit":"btc","quote_volume":"0.51802087","volume":"7828"},"zrxeth":{"at":1551280741,"base_unit":"zrx","high":"0.0020071","last":"0.00190896","low":"0.00177351","name":"zrx/eth","open":"0.00178411","quote_unit":"eth","quote_volume":"5.21610564","volume":"2827"}}}'
  recorded_at: Wed, 27 Feb 2019 15:19:01 GMT
recorded_with: VCR 4.0.0
