---
http_interactions:
- request:
    method: get
    uri: https://api.codex.one/trades_history?limit=100&market=ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page_token":"AAPQACAAAAAWSLXXOCIAGYLTNMIEHB7YWEWEKTYZVISMIECPGXO6B4D7777ZX4D7777ZW===","trades":[{"uuid":"63a34303-071f-4e5a-b9bb-9e732adbb8e3","price":"0.036234","amount":"0.5384","funds":"0.0195083856","market":"ethbtc","created_at":1551280709,"side":"bid","base_currency":"eth","quote_currency":"btc"},{"uuid":"fa2f575a-3ac3-412e-a9a6-84a4d703b889","price":"0.036302","amount":"0.4857","funds":"0.0176318814","market":"ethbtc","created_at":1551280552,"side":"ask","base_currency":"eth","quote_currency":"btc"},{"uuid":"5fe4392d-fbb1-43bb-a664-d6ea77f7f33d","price":"0.036264","amount":"0.4303","funds":"0.0156043992","market":"ethbtc","created_at":1551280482,"side":"ask","base_currency":"eth","quote_currency":"btc"},{"uuid":"3f9e178b-5703-4517-865b-cc7a84496a0d","price":"0.035874","amount":"0[...]
