---
http_interactions:
- request:
    method: get
    uri: https://member.top100exchange.co.uk/API.svc/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"data":{"FirstPrice":7716.78276000,"HighestPrice":8171.69520000,"LastPrice":8150.02188000,"LowestPrice":7629.45105000,"PercentChanged":5.61,"TradedAmount":838064.04450098,"TradedVolume":107.47780000},"pair":"BTC-USD"},{"data":{"FirstPrice":19.70855800,"HighestPrice":19.88664800,"LastPrice":19.76792100,"LowestPrice":19.68877000,"PercentChanged":0.30,"TradedAmount":2376.97756160,"TradedVolume":120.14100000},"pair":"BTC-ETH"},{"data":{"FirstPrice":0.07929100,"HighestPrice":0.07984700,"LastPrice":0.07913200,"LowestPrice":0.07905300,"PercentChanged":-0.20,"TradedAmount":116.80605459,"TradedVolume":1470.20410000},"pair":"ETH-BTC"},{"data":{"FirstPrice":464.71200000,"HighestPrice":476.91270000,"LastPrice":475.96362000,"LowestPrice":445.85950000,"PercentChanged":2.42,"TradedAmount":848082.47461876,"TradedVolume":1853.21670000},"pair":"ETH-USD"},{"data":{"FirstPrice":0.00002658,"HighestPrice":0.00002713,"LastPrice":0.00002545,"LowestPrice":0.00002524,"PercentChanged":-4.25,"TradedAmount":116.27276292,"TradedVolume":4416546.00000000},"pair":"VVI-BTC"},{"data":{"FirstPrice":0.19480000,"HighestPrice":0.20720000,"LastPrice":0.19720000,"LowestPrice":0.19000000,"PercentChanged":1.23,"TradedAmount":1242085.97670000,"TradedVolume":6317357.00000000},"pair":"VVI-USD"},{"data":{"FirstPrice":0.00041207,"HighestPrice":0.00045253,"LastPrice":0.00042588,"LowestPrice":0.00041163,"PercentChanged":3.35,"TradedAmount":2332.13329150,"TradedVolume":5420786.00000000},"pair":"VVI-ETH"}]'
  recorded_at: Tue, 24 Jul 2018 11:21:01 GMT
recorded_with: VCR 4.0.0
