---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.bitmart.com/contract/v1/ifcontract/contracts
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"OK","data":{"contracts":[{"contract":{"contract_id":1,"index_id":1,"name":"BTCUSDT","display_name":"BTCUSDT永续合约","display_name_en":"BTCUSDT_SWAP","contract_type":1,"base_coin":"BTC","quote_coin":"USDT","price_coin":"BTC","exchange":"*","contract_size":"0.0001","begin_at":"2018-08-17T04:00:00Z","delive_at":"2020-04-17T12:00:00Z","delivery_cycle":28800,"min_leverage":"1","max_leverage":"100","price_unit":"0.1","vol_unit":"1","value_unit":"0.0001","min_vol":"1","max_vol":"300000","liquidation_warn_ratio":"0.85","fast_liquidation_ratio":"0.8","settle_type":1,"open_type":3,"compensate_type":1,"status":3,"block":1,"rank":1,"created_at":"2018-07-12T19:16:57Z","depth_bord":"1.001","base_coin_zh":"比特币","base_coin_en":"Bitcoin","max_rate":"0.00375","min_rate":"-0.00375"},"risk_limit":{"contract_id":1,"base_limit":"1000000","step":"500000","maintenance_margin":"0.005","initial_margin":"0.01"},"fee_config":{"contract_id":1,"maker_fee":"-0.0003","taker_fee":"0.001","settlement_fee":"0","created_at":"2018-07-12T20:47:22Z"},"plan_order_config":{"contract_id":0,"min_scope":"0.001","max_scope":"2","max_count":10,"min_life_cycle":24,"max_life_cycle":168}},{"contract":{"contract_id":2,"index_id":2,"name":"ETHUSDT","display_name":"ETHUSDT永续合约","display_name_en":"ETHUSDT
        SWAP","contract_type":1,"base_coin":"ETH","quote_coin":"USDT","price_coin":"ETH","exchange":"*","contract_size":"0.01","begin_at":"2018-09-13T04:00:00Z","delive_at":"2020-04-17T12:00:00Z","delivery_cycle":28800,"min_leverage":"1","max_leverage":"100","price_unit":"0.01","vol_unit":"1","value_unit":"0.0001","min_vol":"1","max_vol":"200000","liquidation_warn_ratio":"0.85[...]
