---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.bitmart.com/contract/v1/ifcontract/depth?contractID=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"OK","data":{"sells":[{"price":"7084","vol":"58738"},{"price":"7085","vol":"73112"},{"price":"7086","vol":"59723"},{"price":"7087","vol":"65401"},{"price":"7088","vol":"94723"},{"price":"7089","vol":"101500"},{"price":"7090","vol":"101000"},{"price":"7091","vol":"101000"},{"price":"7092","vol":"36633"},{"price":"7093","vol":"101000"},{"price":"7094","vol":"101000"},{"price":"7095","vol":"86498"},{"price":"7096","vol":"87895"},{"price":"7097","vol":"101000"},{"price":"7098","vol":"101000"},{"price":"7099","vol":"101000"},{"price":"7100","v[...]
