---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.bitmart.com/contract/v1/ifcontract/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"OK","data":{"tickers":[{"last_price":"0.00199","open":"0.001979","close":"0.00199","low":"0.001964","high":"0.002014","avg_price":"0.0019832152931100533","volume":"55298","total_volume":"612667356","timestamp":1587114761,"rise_fall_rate":"0.0055583628094997473","rise_fall_value":"0.000011","contract_id":31,"position_size":"1335367","volume_day":"435355214","amount24":"12137594.5555000002263421","base_coin_volume":"6126673560","quote_coin_volume":"12150512.700085013723300748","pps":"169561","index_price":"0.001989785714","fair_price":"0.001989849942","fair_basis":"0.000032278888","fair_value":"0.000000064228","rate":{"quote_rate":"0.0006","base_rate":"0.0003","interest_rate":"0.000099999999"},"premium_index":"0.000038","funding_rate":"0.000038","next_funding_at":"2020-04-17T16:00:00Z"},{"last_price":"0.2871","open":"0.2871","close":"0.2871","low":"0.2871","high":"0.2871","avg_price":"0.2871","volume":"0","total_volume":"7432","timestamp":1587114759,"rise_fall_rate":"0","rise_fall_value":"0","contract_id":32779,"position_size":"21592752","volume_day":"7432","amount24":"2133.7272","base_coin_volume":"7432","quote_coin_volume":"2133.7272","pps":"0","index_price":"0.18886","fair_price":"0.18928307156","fair_basis":"0.002240133225","fair_value":"0.0004230715[...]
