---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.bitmart.com/contract/v1/ifcontract/depth?contractID=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"OK","data":{"sells":[{"price":"7037","vol":"26688"},{"price":"7038","vol":"1961"},{"price":"7039","vol":"52955"},{"price":"7040","vol":"101400"},{"price":"7041","vol":"101000"},{"price":"7042","vol":"101000"},{"price":"7043","vol":"101000"},{"price":"7044","vol":"101000"},{"price":"7045","vol":"101000"},{"price":"7046","vol":"101000"},{"price":"7047","vol":"63204"},{"price":"7048","vol":"50057"},{"price":"7049","vol":"101000"},{"price":"7050","vol":"68858"},{"price":"7051","vol":"69657"},{"price":"7053","vol":"6806"},{"price":"7055","vol[...]
