---
http_interactions:
- request:
    method: get
    uri: https://api.boaexchange.com/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"data\": [\n    {\n      \"coin_market\": {\n        \"code\":
        \"btc\", \n        \"deposit_confirms\": 3, \n        \"id\": \"5acbc19d369dcd1994eeddaa\",
        \n        \"maintenance\": false, \n        \"name\": \"Bitcoin\", \n        \"twitter\":
        \"bitcoincoreorg\", \n        \"tx_fee\": 0.0005\n      }, \n      \"coin_traded\":
        {\n        \"code\": \"ebst\", \n        \"deposit_confirms\": 15, \n        \"id\":
        \"5acbc083369dcd1994eedda7\", \n        \"maintenance\": false, \n        \"name\":
        \"eBoost\", \n        \"twitter\": \"eBoostCoin\", \n        \"tx_fee\": 0.01\n
        \     }, \n      \"fee_perc\": 0.0015, \n      \"high_price\": 0.00000253,
        \n      \"id\": \"5acbc1e4369dcd1994eeddac\", \n      \"label\": \"ebst_btc\",
        \n      \"low_price\": 8.8E-7, \n      \"maker_perc\": 0.25, \n      \"paused\":
        false, \n      \"price\": 0.00000253, \n      \"price_change\": 1.27927927,
        \n      \"volume_market\": 0.0581694, \n      \"volume_traded\": 59616.42030842\n
        \   }, \n    {\n      \"coin_market\": {\n        \"code\": \"btc\", \n        \"deposit_confirms\":
        3, \n        \"id\": \"5acbc19d369dcd1994eeddaa\", \n        \"maintenance\":
        false, \n        \"name\": \"Bitcoin\", \n        \"twitter\": \"bitcoincoreorg\",
        \n        \"tx_fee\": 0.0005\n      }, \n      \"coin_traded\": {\n        \"code\":
        \"flash\", \n        \"deposit_confirms\": 20, \n        \"id\": \"5acbc15d369dcd1994eedda8\",
[...]
