---
http_interactions:
- request:
    method: get
    uri: http://api.oasisdex.com/v1/markets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"1ST/ETH":{"pair":"1ST/ETH","price":"null","last":"null","vol":"0","ask":"null","bid":"null","low":"null","high":"null","active":true},"BAT/ETH":{"pair":"BAT/ETH","price":"null","last":"null","vol":"0","ask":"null","bid":"0.00000010","low":"null","high":"null","active":true},"DGD/ETH":{"pair":"DGD/ETH","price":"null","last":"null","vol":"0","ask":"null","bid":"0.18574000","low":"null","high":"null","active":true},"ETH/DAI":{"pair":"ETH/DAI","price":"630.79132815","last":"583.13363943","vol":"996.06219201","ask":"596.00000000","bid":"579.88619550","low":"569.41920000","high":"682.98996000","active":true},"GNT/ETH":{"pair":[...]
