---
http_interactions:
- request:
    method: get
    uri: http://api.oasisdex.com/v1/pairs/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"1ST/ETH":{"base":"1ST","quote":"ETH","basePrecision":"18","quotePrecision":"18","active":true},"BAT/ETH":{"base":"BAT","quote":"ETH","basePrecision":"18","quotePrecision":"18","active":true},"DGD/ETH":{"base":"DGD","quote":"ETH","basePrecision":"9","quotePrecision":"18","active":true},"ETH/DAI":{"base":"ETH","quote":"DAI","basePrecision":"18","quotePrecision":"18","active":true},"GNT/ETH":{"base":"GNT","quote":"ETH","basePrecision":"18","quotePrecision":"18","active":true},"GUP/ETH":{"base":"GUP","quote":"ETH","basePrecision":"3","quotePrecision":"18","active":true},"ICN/ETH":{"base[...]
