---
http_interactions:
- request:
    method: get
    uri: https://www.bw.com/exchange/config/controller/website/marketcontroller/getproduct
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - e821b13,-
    body:
      encoding: UTF-8
      string: '{"data":[{"symbol":"EOS_USDT","quoteAssetName":"USDT","tradedMoney":2.23745997400398E7,"baseAssetUnit":"","baseAssetName":"EOS","baseAsset":"EOS","tickSize":"0.0100000000","prevClose":2.43217054,"activeBuy":0.0,"high":"3.2276","lastAggTradeId":-1,"low":"2.8617","matchingUnitType":"STANDARD","close":"3.1375","quoteAsset":"USDT","productType":null,"active":true,"minTrade":0.01,"activeSell":7381905.7944,"withdrawFee":"0","volume":"7381905.7944","decimalPlaces":4,"quoteAssetUnit":"","open":"2.43217054","status":"TRADING","minQty":0.01},{"symbol":"LTC_USDT","quoteAssetName":"USDT","tradedMoney":1.173289729842702E7,"baseAssetUnit":"","baseAssetName":"LTC","baseAsset":"LTC","tickSize":"0.0010000000","prevClose":2.88834061,"activeBuy":0.0,"high":"33.7042","lastAggTradeId":-1,"low":"29.21","matchingUnitType":"STANDARD","close":"33.0715","quoteAsset":"USDT","productType":null,"active":true,"minTrade":0.001,"activeSell":372939.5854,"withdrawFee":"0","volume":"372939.5854","decimalPlaces":4,"quoteAssetUnit":"","open":"2.88834061[...]
