---
http_interactions:
- request:
    method: get
    uri: https://www.bw.com/exchange/config/controller/website/marketcontroller/getproduct
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - 39000c5,-
    body:
      encoding: UTF-8
      string: '{"data":[{"symbol":"EOS_USDT","quoteAssetName":"USDT","tradedMoney":2.221471349195504E7,"baseAssetUnit":"","baseAssetName":"EOS","baseAsset":"EOS","tickSize":"0.0100000000","prevClose":2.65610169,"activeBuy":0.0,"high":"3.2276","lastAggTradeId":-1,"low":"2.8617","matchingUnitType":"STANDARD","close":"3.1342","quoteAsset":"USDT","productType":null,"active":true,"minTrade":0.01,"activeSell":7330823.1492,"withdrawFee":"0","volume":"7330823.1492","decimalPlaces":4,"quoteAssetUnit":"","open":"2.65610169","status":"TRADING","minQty":0.01},{"symbol":"LTC_USDT","quoteAssetName":"USDT","tradedMoney":1.149025858934888E7,"baseAssetUnit":"","baseAssetName":"LTC","baseAsset":"LTC","tickSize":"0.0010000000","prevClose":2.86152118,"activeBuy":0.0,"high":"33.7042","lastAggTradeId":-1,"low":"29.21","matchingUnitType":"STANDARD","close":"33.1078","quoteAsset":"USDT","productType":null,"active":true,"minTrade":0.001,"activeSell":365610.3586,"withdrawFee":"0","volume":"365610.3586","decimalPlaces":4,"quoteAssetUnit":"","open":"2.86152118[...]
