---
http_interactions:
- request:
    method: get
    uri: https://api.altex.exchange/v1/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"BTC_ETN":{"BTC":"0.06590432","volume":"0.06590432","last":"0.00000269","high24":"0.00000308","low24":"0.00000268","change":-4.83},"BTC_GRFT":{"BTC":"0.21233379","volume":"0.21233379","last":"0.00000350","high24":"0.00000499","low24":"0.00000350","change":-42.57},"BTC_TRTL":{"BTC":"0.13894915","volume":"0.13894915","last":"0.00000001","high24":"0.00000002","low24":"0.00000001","change":0},"BTC_XTL":{"BTC":"0.08673293","volume":"0.08673293","last":"0.00000016","high24":"0.00000016","low24":"0.00000012","change":25},"BTC_XHV":{"BTC":"0.03460184","volume":"0.03460184","last":"0.00029100","high24":"0.00031000","low24":"0.00028000","change":-6.53},"BTC_MSR":{"BTC":"0.06230254","volume":"0.06230254","last":"0.00011480","high24":"0.00011480","low24":"0.00006500","change":43.38},"BTC_FNO":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000180","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_TUBE":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00002300","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_XMR":{"BTC":"0.67284882","volume":"0.67284882","last":"0.02400000","high24":"0.03199979","low24":"0.02370002","change":0},"BTC_ITA":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00002300","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_TRIT":{"BTC":"0.22760496","volume":"0.22760496","last":"0.00000105","high24":"0.00000120","low24":"0.00000066","change":36.19},"BTC_PLURA":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000009","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_SOLACE":{"BTC":"0.01102956","volume":"0.01102956","last":"0.00000003","high24":"0.00000004","low24":"0.00000003","change":0},"BTC_LNS":{"BTC":"0.04047506","volume":"0.04047506","last":"0.00000100","high24":"0.00000100","low24":"0.00000043","change":40},"BTC_ELYA":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000002","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_NBR":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000021","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_KRB":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00006249","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_SUMO":{"BTC":"0.00041083","volume":"0.00041083","last":"0.00020500","high24":"0.00020500","low24":"0.00020500","change":0},"BTC_XLC":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000700","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_XUN":{"BTC":"0.00093807","volume":"0.00093807","last":"0.00000030","high24":"0.00000037","low24":"0.00000030","change":-23.33},"BTC_XAO":{"BTC":"0.01686931","volume":"0.01686931","last":"0.00000100","high24":"0.00000174","low24":"0.00000100","change":-74},"BTC_DCY":{"BTC":"0.00299800","volume":"0.00299800","last":"0.00000007","high24":"0.00000007","low24":"0.00000005","change":14.29},"BTC_IRD":{"BTC":"0.00019990","volume":"0.00019990","last":"0.00001999","high24":"0.00001999","low24":"0.00001999","change":0},"BTC_XDN":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_BBS":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000001","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_PARS":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000001","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_WTIP":{"BTC":"1.69459131","volume":"1.69459131","last":"0.00000001","high24":"0.00000001","low24":"0.00000001","change":0},"BTC_QWC":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000001","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_TYCH":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000001","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_KGH":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000001","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_BTN":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000002","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_NCP":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000001","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_RTO":{"BTC":"0.00211509","volume":"0.00211509","last":"0.00001501","high24":"0.00001501","low24":"0.00001501","change":0},"BTC_SLD":{"BTC":"0.00102410","volume":"0.00102410","last":"0.00002500","high24":"0.00002500","low24":"0.00002500","change":0},"BTC_OMB":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000065","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_GAD":{"BTC":"0.00002002","volume":"0.00002002","last":"0.00000001","high24":"0.00000001","low24":"0.00000001","change":0},"BTC_WOW":{"BTC":"0.04444681","volume":"0.04444681","last":"0.00000760","high24":"0.00001400","low24":"0.00000760","change":-58.03},"BTC_LOKI":{"BTC":"1.07454634","volume":"1.07454634","last":"0.00009312","high24":"0.00010799","low24":"0.00009000","change":-3.2},"BTC_BKC":{"BTC":"0.00361379","volume":"0.00361379","last":"0.00000012","high24":"0.00000012","low24":"0.00000009","change":16.67},"BTC_SHHT":{"BTC":"0.04587843","volume":"0.04587843","last":"0.00000593","high24":"0.00000630","low24":"0.00000400","change":-1.35},"BTC_XMV":{"BTC":"0.26466638","volume":"0.26466638","last":"0.00004300","high24":"0.00004985","low24":"0.00003025","change":6.95},"BTC_XNV":{"BTC":"0.26389984","volume":"0.26389984","last":"0.00000530","high24":"0.00000790","low24":"0.00000512","change":3.4},"BTC_INTU":{"BTC":"0.00013779","volume":"0.00013779","last":"0.00000007","high24":"0.00000009","low24":"0.00000007","change":-28.57},"BTC_KEPL":{"BTC":"0.02247924","volume":"0.02247924","last":"0.00000014","high24":"0.00000023","low24":"0.00000010","change":7.14},"BTC_SUP":{"BTC":"0.00015910","volume":"0.00015910","last":"0.00000032","high24":"0.00000032","low24":"0.00000031","change":3.13},"BTC_B2B":{"BTC":"0.00082609","volume":"0.00082609","last":"0.00000105","high24":"0.00000120","low24":"0.00000105","change":-14.29},"BTC_BTCN":{"BTC":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"BTC_ZUCC":{"BTC":"0.01778934","volume":"0.01778934","last":"0.00000236","high24":"0.00000394","low24":"0.00000112","change":-66.95},"XMR_ETN":{"XMR":"0.03172704","volume":"0.03172704","last":"0.00079888","high24":"0.00079897","low24":"0.00002502","change":0.11},"XMR_GRFT":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_TRTL":{"XMR":"0.32634228","volume":"0.32634228","last":"0.00000042","high24":"0.00000050","low24":"0.00000040","change":4.76},"XMR_XTL":{"XMR":"0.14127817","volume":"0.14127817","last":"0.00000520","high24":"0.00000520","low24":"0.00000248","change":52.31},"XMR_XHV":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_MSR":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00650000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_FNO":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_TUBE":{"XMR":"0.00050103","volume":"0.00050103","last":"0.00003860","high24":"0.00003860","low24":"0.00003860","change":0},"XMR_ITA":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_TRIT":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00005000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_PLURA":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_SOLACE":{"XMR":"0.00007193","volume":"0.00007193","last":"0.00000030","high24":"0.00000030","low24":"0.00000030","change":0},"XMR_LNS":{"XMR":"0.00003168","volume":"0.00003168","last":"0.00000160","high24":"0.00000160","low24":"0.00000160","change":0},"XMR_ELYA":{"XMR":"0.05947138","volume":"0.05947138","last":"0.00000055","high24":"0.00000055","low24":"0.00000041","change":0},"XMR_NBR":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_KRB":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_SUMO":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00018001","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_XLC":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00057500","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_XUN":{"XMR":"2.66720845","volume":"2.66720845","last":"0.00001000","high24":"0.00001250","low24":"0.00000990","change":-25},"XMR_XAO":{"XMR":"0.00005920","volume":"0.00005920","last":"0.00000160","high24":"0.00000160","low24":"0.00000160","change":0},"XMR_DCY":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000030","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_IRD":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_XDN":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_BBS":{"XMR":"9.97481767","volume":"9.97481767","last":"0.00000002","high24":"0.00000005","low24":"0.00000002","change":-100},"XMR_PARS":{"XMR":"1.90282916","volume":"1.90282916","last":"0.00000010","high24":"0.00000015","low24":"0.00000008","change":0},"XMR_WTIP":{"XMR":"239.64395071","volume":"239.64395071","last":"0.00000036","high24":"0.00000050","low24":"0.00000003","change":88.89},"XMR_QWC":{"XMR":"1.22712727","volume":"1.22712727","last":"0.00000003","high24":"0.00000005","low24":"0.00000003","change":0},"XMR_TYCH":{"XMR":"3.90181584","volume":"3.90181584","last":"0.00000002","high24":"0.00000002","low24":"0.00000002","change":0},"XMR_KGH":{"XMR":"19.59489888","volume":"19.59489888","last":"0.00000002","high24":"0.00000003","low24":"0.00000001","change":-50},"XMR_BTN":{"XMR":"0.21280000","volume":"0.21280000","last":"0.00000070","high24":"0.00000070","low24":"0.00000070","change":0},"XMR_NCP":{"XMR":"25.37314522","volume":"25.37314522","last":"0.00000002","high24":"0.00000003","low24":"0.00000001","change":0},"XMR_RTO":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_SLD":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_OMB":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_GAD":{"XMR":"0.06681102","volume":"0.06681102","last":"0.00000030","high24":"0.00000051","low24":"0.00000030","change":-50},"XMR_WOW":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00080000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_LOKI":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_BKC":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_SHHT":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_XMV":{"XMR":"0.26266258","volume":"0.26266258","last":"0.00010001","high24":"0.01100000","low24":"0.00010001","change":-10898.9},"XMR_XNV":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_INTU":{"XMR":"0.00236146","volume":"0.00236146","last":"0.00000171","high24":"0.00000171","low24":"0.00000161","change":5.85},"XMR_KEPL":{"XMR":"0.00007020","volume":"0.00007020","last":"0.00000013","high24":"0.00000013","low24":"0.00000013","change":0},"XMR_SUP":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_B2B":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_BTCN":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0},"XMR_ZUCC":{"XMR":"0.00000000","volume":"0.00000000","last":"0.00000000","high24":"0.00000000","low24":"0.00000000","change":0}}}'
  recorded_at: Mon, 21 May 2018 08:44:34 GMT
recorded_with: VCR 4.0.0
