---
http_interactions:
- request:
    method: get
    uri: https://api.wcex.com/ticker/ETH-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"99-UtZQ+oLxnC8IctsZcSlmGf7Tl2c"
    body:
      encoding: UTF-8
      string: '{"timestamp":"1527229298158.603","product":"ETH-BTC","price":"0.080432","bid":"0.080373","ask":"0.08054","bid_size":"1.68900000","ask_size":"4.00000000"}'
  recorded_at: Fri, 25 May 2018 06:21:39 GMT
- request:
    method: get
    uri: https://api.wcex.com/candles/ETH-BTC/240
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2730-dxsfvRFOh3OLiwKCjYqXPlz6Jjs"
    body:
      encoding: UTF-8
      string: '[["1527220800","0.079331","0.080625","0.079276","0.080432","1346.290000"],["1527206400","0.07954","0.079736","0.078302","0.079[...]
