---
http_interactions:
- request:
    method: get
    uri: https://api.wcex.com/trades/ETH-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6961-W4cfSdlVhP5gcNaSUb/FiF2dvnc"
    body:
      encoding: UTF-8
      string: '[{"id":2308646,"order_id_taker":"b1b592bd-6f77-4c47-9ee5-89e6a85abc4a","order_id_maker":"5aedf935-7c30-4499-a91b-ed8a29f82fac","product":"ETH-BTC","size":"1.15200000","price":"0.076334","side":"sell","fee":"8794","fee_asset":"BTC","timestamp":"2018-05-24T08:30:16.080Z"},{"id":2308635,"order_id_taker":"03de903c-48f5-43ec-a199-caabf7c76bb5","order_id_maker":"3c39b521-fca0-4aff-a1a5-c8f6a910df8d","product":"ETH-BTC","size":"2.80000000","price":"0.076333","side":"sell","fee":"21373","fee_asset":"BTC","timestamp":"2018-05-24T08:30:14.907Z"},{"id":2308627,"order_id_taker":"9bc1a294-8b82-4ff5-81da-184d7bf8e6ec","order_id_maker":"10e334b5-587e-44aa-a9c2-c0b005d3449b","product":"ETH-BTC","size":"0.65500000","price":"0.076333","side":"buy","fe[...]
