---
http_interactions:
- request:
    method: get
    uri: https://api.wcex.com/ticker/ETH-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"99-LqxasALYN0jMIG/CS0gvzzOtTWQ"
    body:
      encoding: UTF-8
      string: '{"timestamp":"1527150614907.495","product":"ETH-BTC","price":"0.076333","bid":"0.076275","ask":"0.07639","bid_size":"0.42300000","ask_size":"1.90500000"}'
  recorded_at: Thu, 24 May 2018 08:30:15 GMT
- request:
    method: get
    uri: https://api.wcex.com/candles/ETH-BTC/1D
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"64e-bouVPdtmQ1chnUMYNionOdxAgh4"
    body:
      encoding: UTF-8
      string: '[["1527120000","0.076894","0.079011","0.076325","0.076333","6616.575000"],["1527033600","0.080344","0.08091","0.075728","0.07688[...]
