---
http_interactions:
- request:
    method: get
    uri: https://api.altilly.com/api/public/trades/LTCBTC?by=timestamp&limit=100&sort=DESC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"472e-yp6sI87hZ7XRLLIql6+mksuGieg"
    body:
      encoding: UTF-8
      string: '[{"id":"3645213","uuid":"22d06dee-6268-4f1e-b699-0910b3924849","price":"0.00735","quantity":"1.292529","side":"buy","timestamp":"2020-03-03T20:51:47.726Z","unixtimestamp":1583268707},{"id":"3645101","uuid":"d313d3e3-18a9-4aec-a1e8-cc8949e50f91","price":"0.00735","quantity":"0.078692","side":"buy","timestamp":"2020-03-03T19:53:18.090Z","unixtimestamp":1583265198},{"id":"3645096","uuid":"31a0598d-77d2-4da4-807e-2208aec7b4f7","price":"0.00735","quantity":"0.078934","side":"buy","timestamp":"2020-03-03T19:52:57.372Z","unixtimestamp":1583265177},{"id":"3645091","uuid":"e89f6f7c-79dc-4c50-897e-c887a0f1f104","price":"0.00734","quantity":"0.057953","side":"buy","timestam[...]
