---
http_interactions:
- request:
    method: get
    uri: https://api.altilly.com/api/public/orderbook/LTCBTC?limit=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ba-OXdIGQrbBmFWxRAhELAUDZgkbPA"
    body:
      encoding: UTF-8
      string: '{"ask":[{"price":"0.01900000","size":"1.10240000"},{"price":"0.02000000","size":"3.40360000"}],"bid":[{"price":"0.00100000","size":"28.89990000"}],"timestamp":"2018-07-24T02:53:59.138Z"}'
  recorded_at: Tue, 24 Jul 2018 02:51:21 GMT
recorded_with: VCR 4.0.0
