---
http_interactions:
- request:
    method: get
    uri: https://api.altilly.com/api/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23d24-/5FJybnPdDM0jVoJCB6WXgImsuA"
    body:
      encoding: UTF-8
      string: '[{"ask":"0.00719","bid":"0.00679","last":"0.00735","open":"0.00676","low":"0.00676","high":"0.00735","volume":"3.3691","volumeQuote":"0.0247","timestamp":"2020-03-04T03:42:45.044Z","symbol":"LTCBTC"},{"ask":"0.000000280","bid":"0.000000272","last":"0.000000272","open":"0.000000267","low":"0.000000262","high":"0.000000285","volume":"98994.9900","volumeQuote":"0.0269","timestamp":"2020-03-04T03:54:15.639Z","symbol":"DOGEBTC"},{"ask":"0.0429","bid":"0.0356","last":"0.0371","open":"0.0362","low":"0.0362","high":"0.0373","volume":"0.0470","volumeQuote":"0.0017","timestamp":"2020-03-04T03:51:51.501Z","symbol":"BCHBTC"},{"ask":"0.00750","bid":"0.00575","last":"0.00750","open":"0.00705","l[...]
