---
http_interactions:
- request:
    method: get
    uri: https://api.altilly.com/api/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c06-MJyY8Ype9e786yIfPl+jsV+XRo4"
    body:
      encoding: UTF-8
      string: '[{"ask":"0.01900000","bid":"0.00100000","last":"0.01490000","open":"0.01399000","low":"0.01399000","high":"0.01490000","volume":"0.00000000","volumeQuote":"0.00000000","timestamp":"2018-07-24T02:00:03.985Z","symbol":"LTCBTC"},{"ask":"0.00000052","bid":"0.00000000","last":"0.00000052","open":"0.00000052","low":"0.00000052","high":"0.00000052","volume":"1970.00000000","volumeQuote":"0.00102440","timestamp":"2018-07-24T02:00:03.997Z","symbol":"DOGEBTC"},{"ask":"0.15500000","bid":"0.00000000","last":"0.15000000","open":"0.15500000","low":"0.15000000","high":"0.15500000","volume":"0.00000000","volumeQuote":"0.00000000","timestamp":"2018-07-24T02:00:03.984Z","symbol":"BCHBTC"},{"ask":"0.03300000","bid":"0.0280000[...]
