---
http_interactions:
- request:
    method: get
    uri: https://api.altilly.com/api/public/symbol
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6280-mRHsyoXJ+fc8y5ctaoQeT8Kzo6Y"
    body:
      encoding: UTF-8
      string: '[{"id":"LTCBTC","baseCurrency":"LTC","quoteCurrency":"BTC","quantityIncrement":"0.00010000","tickSize":"0.00001000","takeLiquidityRate":"0.00120000","provideLiquidityRate":"0.00000000","feeCurrency":"BTC"},{"id":"DOGEBTC","baseCurrency":"DOGE","quoteCurrency":"BTC","quantityIncrement":"0.10000000","tickSize":"0.00000001","takeLiquidityRate":"0.00120000","provideLiquidityRate":"0.00000000","feeCurrency":"BTC"},{"id":"BCHBTC","baseCurrency":"BCH","quoteCurrency":"BTC","quantityIncrement":"0.00100000","tickSize":"0.00010000","takeLiquidityRate":"0.00120000","provideLiquidityRate":"0.00000000","feeCurrency":"BTC"},{"id":"ZECBTC","baseCurrency":"ZEC","quoteCurrency":"BTC","quantityIncrement":"0.[...]
