---
http_interactions:
- request:
    method: get
    uri: https://api.altilly.com/api/public/trades/LTCBTC?by=timestamp&limit=100&sort=DESC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1965-b0x7Ft1UP5uZ99//+kk9niCDfO4"
    body:
      encoding: UTF-8
      string: '[{"id":1083347,"uuid":"bf012c9d-9e48-4055-94cc-21f98ce75ec1","price":"0.01399000","quantity":"0.00900000","side":"buy","timestamp":"2018-07-18T05:38:12.670Z","unixtimestamp":1531892292},{"id":1083346,"uuid":"697fddc4-8391-4088-b3d3-e34c444a1206","price":"0.01490000","quantity":"0.03800000","side":"buy","timestamp":"2018-07-18T05:38:12.670Z","unixtimestamp":1531892292},{"id":1083282,"uuid":"cbe759bf-25e0-4c2b-a226-4b20bb548022","price":"0.01450000","quantity":"0.00780000","side":"buy","timestamp":"2018-07-17T04:56:02.344Z","unixtimestamp":1531803362},{"id":1083238,"uuid":"3cd13ced-40db-47c9-8be5-9477f3f97ac3","price":"0.00700000","quantity":"0.23520000","side":"sell"[...]
