---
http_interactions:
- request:
    method: get
    uri: https://api.altilly.com/api/public/orderbook/LTCBTC?limit=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1df3-kxummKcuaFG09hEZ1gg8CQfaXMc"
    body:
      encoding: UTF-8
      string: '{"ask":[{"price":"0.0071900000","size":"0.2421070000","totsize":"0.2421070000"},{"price":"0.0072000000","size":"0.2137490000","totsize":"0.4558560000"},{"price":"0.0073300000","size":"0.4951410000","totsize":"0.9509970000"},{"price":"0.0073600000","size":"3.2339500000","totsize":"4.1849470000"},{"price":"0.0073700000","size":"3.7922160000","totsize":"7.9771630000"},{"price":"0.0074000000","size":"3.0000000000","totsize":"10.9771630000"},{"price":"0.0074800000","size":"0.0177440000","totsize":"10.9949070000"},{"price":"0.0074900000","size":"1.6298370000","tot[...]
