---
http_interactions:
- request:
    method: post
    uri: https://www.oax.com/api/market/getAllMarketInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"1","success":true,"msg":null,"data":{"ZIL/ETH":{"volume":1541707.177400000000000000,"high":0.000159380000000000,"last":0.000158100000000000,"low":0.000154990000000000,"buy":0.000157850000000000,"sell":0.000158100000000000,"id":17,"changeRate":0.65,"turnover":241.582661696606000000000000000000},"EDN/ETH":{"volume":0E-18,"high":0E-18,"last":0.000146000000000000,"low":0E-18,"buy":0.000146000000000000,"sell":0.000178000000000000,"id":30,"changeRate":0.00,"turnover":0E-30},"MANA/ETH":{"volume":1996746.525000000000000000,"high":0.000356650000000000,"last":0.000345400000000000,"low":0.000332800000000000,"buy":0.000343420000000000,"sell":0.000346020000000000,"id":27,"changeRate":-2.22,"turnover":681.143007035842000000000000000000},"FREC/ETH":{"volume":246.1[...]
