---
http_interactions:
- request:
    method: get
    uri: https://www.oax.com/api/market/getTrades?market=ETH/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"1","success":true,"msg":null,"data":[{"id":2060882,"amount":0.00139017,"qty":0.041500000000000000,"price":0.033498000000000000,"type":"buy","createTime":"2018-09-28
        01:04:23","createTimeMs":1538067863000},{"id":2060851,"amount":0.00720726,"qty":0.215200000000000000,"price":0.033491000000000000,"type":"sell","createTime":"2018-09-28
        01:03:05","createTimeMs":1538067785000},{"id":2060807,"amount":0.01441453,"qty":0.430400000000000000,"price":0.033491000000000000,"type":"sell","createTime":"2018-09-28
        01:01:47","createTimeMs":1538067707000},{"id":2060794,"amount":0.00332141,"qty":0.099200000000000000,"price":0.033482000000000000,"type":"buy","createTime":"2018-09-28
   [...]
