---
http_interactions:
- request:
    method: get
    uri: https://www.oax.com/api/market/getAllMarketInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"1","success":true,"msg":null,"data":{"ZIL/ETH":{"volume":1535147.595400000000000000,"high":0.000159380000000000,"last":0.000158560000000000,"low":0.000154990000000000,"buy":0.000158100000000000,"sell":0.000158590000000000,"id":17,"changeRate":1.06,"turnover":240.566056047366000000000000000000},"EDN/ETH":{"volume":0E-18,"high":0E-18,"last":0.000146000000000000,"low":0E-18,"buy":0.000146000000000000,"sell":0.000178000000000000,"id":30,"changeRate":0.00,"turnover":0E-30},"MANA/ETH":{"volume":2005520.125000000000000000,"high":0.000356650000000000,"last":0.000346080000000000,"low":0.000332800000000000,"buy":0.000343560000000000,"sell":0.000346470000000000,"id":27,"changeRate":-2.93,"turnover":684.150340859842000000000000000000},"FREC/ETH":{"volume":246.1[...]
