---
http_interactions:
- request:
    method: get
    uri: https://www.oax.com/api/market/getDepth?market=ETH/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"1","success":true,"msg":null,"data":{"buyList":[{"amount":0.000167325000000000000000000000,"price":0.033465000000000000,"qty":0.005000000000000000},{"amount":0.000334630000000000000000000000,"price":0.033463000000000000,"qty":0.010000000000000000},{"amount":0.000010036500000000000000000000,"price":0.033455000000000000,"qty":0.000300000000000000},{"amount":0.000020071200000000000000000000,"price":0.033452000000000000,"qty":0.000600000000000000},{"amount":0.007359220000000000000000000000,"price":0.033451000000000000,"qty":0.220000000000000000},{"amount":0.017594700000000000000000000000,"price":0.033450000000000000,"qty":0.526000000000000000},{"amount":0.013780988000000000000000000000,"price":0.033449000000000000,"qty":0.412000000000000000},{"amount":0.030571472000000000000000000000,"price":0.033448000000000000,"qty":0.914000000000000000},{"amount":0.003675715400000000000000000000,"price":0.033446000000000000,"qty":0.109900000000000000},{"amount":0.010032600000000000000000000000,"price":0.033442000000000000,"qty":0.300000000000000000},{"amount":0.003664804800000000000000000000,"price":0.033438000000000000,"qty":0.109600000000000000},{"amount":0.007355480000000000000000000000,"price":0.033434000000000000,"qty":0.220000000000000000},{"amount":0.013773572000000000000000000000,"price":0.033431000000000000,"qty":0.412000000000000000},{"amount":0.034633480000000000000000000000,"price":0.033430000000000000,"qty":1.036000000000000000},{"amount":0.013504912000000000000000000000,"price":0.033428000000000000,"qty":0.404000000000000000}],"sellList":[{"amount":0.042652533000000000000000000000,"price":0.033495000000000000,"qty":1.273400000000000000},{"amount":0.040507643600000000000000000000,"price":0.033494000000000000,"qty":1.209400000000000000},{"amount":0.013396800000000000000000000000,"price":0.033492000000000000,"qty":0.400000000000000000},{"amount":0.010047300000000000000000000000,"price":0.033491000000000000,"qty":0.300000000000000000},{"amount":0.010046700000000000000000000000,"price":0.033489000000000000,"qty":0.300000000000000000}[...]
