---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/v1/coinmarketcap/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"lastPrice":0.00052911,"volume24h":19602.15950873701,"id":29,"ticker":"LA/ETH"},{"lastPrice":0.0022999,"volume24h":0.03127864,"id":154,"ticker":"PAY/ETH"},{"lastPrice":0.00051,"volume24h":0.211284,"id":155,"ticker":"POWR/ETH"},{"lastPrice":0.00002091,"volume24h":87.51832445,"id":157,"ticker":"FUN/ETH"},{"lastPrice":0,"volume24h":0,"id":158,"ticker":"WTC/ETH"},{"lastPrice":0,"volume24h":0,"id":159,"ticker":"GNO/ETH"},{"lastPrice":0.0017407,"volume24h":0.13438204,"id":160,"ticker":"RDN/ETH"},{"lastPrice":0,"volume24h":0,"id":161,"ticker":"VERI/ETH"},{"lastPrice":0.0[...]
