---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/api/v1/ExchangeInfo/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Remaining:
      - '14999'
    body:
      encoding: UTF-8
      string: '[{"id":"349568f2-be17-4735-b90f-3f9d08dd2e4d","symbol":"LAETH","baseCurrency":"LA","quotedCurrency":"ETH","makerFee":0.1,"takerFee":0.1,"pricePrecision":8,"amountPrecision":1,"minQty":0.100000000},{"id":"eac976ed-7911-43c4-b1d3-b13892626821","symbol":"MTRCLA","baseCurrency":"MTRC","quotedCurrency":"LA","makerFee":0.1,"takerFee":0.1,"pricePrecision":4,"amountPrecision":1,"minQty":0.100000000},{"id":"b18b0478-db6e-4615-be16-cc96d287c9af","symbol":"LAVERI","baseCurrency":"LA","quotedCurrency":"VERI","makerFee":0.1,"takerFee":0.1,"pricePrecision":8,"amountPrecision":1,"minQty":0.100000000},{"id":"545032a7-16e4-451b-a8a5-1c89e8cf3f88","symbol":"SALTLA","baseCurrency":"SALT","quote[...]
