---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/api/v1/MarketData/ticker/LAETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 1s
      X-Rate-Limit-Remaining:
      - '2'
      X-Rate-Limit-Reset:
      - '2019-07-17T07:58:31.7640709Z'
    body:
      encoding: UTF-8
      string: '{"pairId":29,"symbol":"LAETH","volume":5.0117602009999995,"open":0.00041899,"low":0.00039989,"high":0.000441,"close":0.0004407,"priceChange":-4.93}'
  recorded_at: Wed, 17 Jul 2019 07:58:28 GMT
recorded_with: VCR 4.0.0
