---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/api/v1/ExchangeInfo/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 1s
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '2019-07-17T07:58:31.1493675Z'
    body:
      encoding: UTF-8
      string: '[{"pairId":29,"symbol":"LAETH","baseCurrency":"ETH","quotedCurrency":"LA","makerFee":0.1,"takerFee":0.1,"pricePrecision":8,"amountPrecision":1,"minQty":10.0},{"pairId":154,"symbol":"PAYETH","baseCurrency":"ETH","quotedCurrency":"PAY","makerFee":0.1,"takerFee":0.1,"pricePrecision":7,"amountPrecision":1,"minQty":2.0},{"pairId":155,"symbol":"POWRETH","baseCurrency":"ETH","quotedCurrency":"POWR","makerFee":0.1,"takerFee":0.1,"pricePrecision":8,"amountPrecision":0,"minQty":10.0},{"pairId":156,"symbol":"AIONETH","baseCurrency":"ETH","quotedCurrency":"AION","makerFee":0.1,"takerFee":0.1,"pricePrecision":6,"amountPrecision":2,"minQty":10.0},{"pairId":1[...]
