---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/api/v1/ExchangeInfo/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 1s
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '2019-07-31T06:14:53.5202153Z'
    body:
      encoding: UTF-8
      string: '[{"pairId":29,"symbol":"LAETH","baseCurrency":"LA","quotedCurrency":"ETH","makerFee":0.1,"takerFee":0.1,"pricePrecision":8,"amountPrecision":1,"minQty":10.0},{"pairId":154,"symbol":"PAYETH","baseCurrency":"PAY","quotedCurrency":"ETH","makerFee":0.1,"takerFee":0.1,"pricePrecision":7,"amountPrecision":1,"minQty":2.0},{"pairId":155,"symbol":"POWRETH","baseCurrency":"POWR","quotedCurrency":"ETH","makerFee":0.1,"takerFee":0.1,"pricePrecision":8,"amountPrecision":0,"minQty":10.0},{"pairId":156,"symbol":"AIONETH","baseCurrency":"AION","quotedCurrency":"ETH","makerFee":0.1,"takerFee":0.1,"pricePrecision":6,"amountPrecision":2,"minQty":10.0},{"pairId":1[...]
