---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/v2/trade/history/LA/ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"38bbd67c-76a3-4aa9-a66a-58f27ed61ac1","direction":"TRADE_DIRECTION_BUY","baseCurrency":"707ccdf1-af98-4e09-95fc-e685ed0ae4c6","quoteCurrency":"620f2019-33c0-423b-8a9d-cde4d7f8ef7f","price":"0.00032487","quantity":"257","cost":"0.08349159","timestamp":1580807079885},{"id":"46615ec7-b96e-41fa-91dd-a310565419bb","direction":"TRADE_DIRECTION_BUY","baseCurrency":"707ccdf1-af98-4e09-95fc-e685ed0ae4c6","quoteCurrency":"620f2019-33c0-423b-8a9d-cde4d7f8ef7f","price":"0.00032498","quantity":"273","cost":"0.08871954","timestamp":1580806676929},{"id":"0902f8a7-2714-4a5c-a816-de39caa452d8","direction":"TRADE_DIRECTION_BUY","baseCurrency":"707ccdf1-af98-4e09-95fc-e685ed0ae4c6","quoteCurrency":"620f2019-33c0-423b-8a9d-cde4d7f8ef7f","price":"0.00032498","qu[...]
