---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/api/v1/MarketData/orderBook/LAETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Remaining:
      - '14999'
    body:
      encoding: UTF-8
      string: '{"pairId":"349568f2-be17-4735-b90f-3f9d08dd2e4d","symbol":"LAETH","spread":8.2450,"asks":[{"price":0.00052444,"quantity":317.1},{"price":0.00052699,"quantity":3.8},{"price":0.00055555,"quantity":6.0},{"price":0.00056088,"quantity":22.0},{"price":0.00056480,"quantity":400.0},{"price":0.00056500,"quantity":400.0},{"price":0.00056695,"quantity":500.0},{"price":0.00056700,"quantity":0.8},{"price":0.00056999,"quantity":7138.7},{"price":0.00057810,"quantity":100.0}],"bids":[{"price":0.00048120,"quantity":440.5},{"price":0.00044101,"quantity":148.4},{"price":0.00044100,"quantity":1000.0},{"price":0.00044000,"quantity":5940.3},{"price":0.00043900,"quantity":1000.0},{"price":0.00043850,"quantity":1000.0},{"price":0.00043501,"quantity":1500.0},{"price":0.00043500,"quantity":9600.0},{"price":0.00043210,"quantity":1.0},{"price":0.00043100,"quantity":2849.7}]}'
  recorded_at: Tue, 26 Nov 2019 04:34:11 GMT
recorded_with: VCR 4.0.0
