---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/api/v1/MarketData/ticker/LAETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Remaining:
      - '14999'
    body:
      encoding: UTF-8
      string: '{"pairId":"349568f2-be17-4735-b90f-3f9d08dd2e4d","symbol":"LAETH","volume":331.43027,"open":0.000481200000000000,"low":0.000481200000000000,"high":0.000481200000000000,"close":0.000481200000000000,"priceChange":-13.3700}'
  recorded_at: Tue, 26 Nov 2019 04:34:10 GMT
recorded_with: VCR 4.0.0
