---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/v2/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"DASH/BTC","baseCurrency":"ed75c263-4ab9-494b-8426-031dab1c7cc1","quoteCurrency":"92151d82-df98-4d88-9a4d-284fa9eca49f","volume24h":"532.580838534080000000","volume7d":"5511.888356772320000000","change24h":"-0.1100","change7d":"-1.1600","lastPrice":"0.012284"},{"symbol":"ONG/USDT","baseCurrency":"e73a9c67-a072-44e7-939c-c89a99c13893","quoteCurrency":"0c3a106d-bde3-4c13-a26e-3fd2394529e5","volume24h":"0","volume7d":"0","change24h":"0","change7d":"0","lastPrice":"0"},{"symbol":"MACH/ETH","baseCurrency":"d43479c1-d874-4b77-b45a-fdf8a15bf79a","quoteCurrency":"620f2019-33c0-423b-8a9d-cde4d7f8ef7f","volume24h":"0.000006000000000000","volume7d":"0.000006000000000000","change24h":"0","change7d":"0","lastPrice":"0.000001"},{"symbol":"QCX/USDT","bas[...]
