---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/api/v1/MarketData/trades/LAETH/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 1s
      X-Rate-Limit-Remaining:
      - '2'
      X-Rate-Limit-Reset:
      - '2019-07-17T08:14:25.5630280Z'
    body:
      encoding: UTF-8
      string: '{"pairId":29,"symbol":"LAETH","tradeCount":100,"trades":[{"side":"buy","price":0.0004407,"amount":50.0,"timestamp":1563328167},{"side":"buy","price":0.000441,"amount":14.7,"timestamp":1563304475},{"side":"buy","price":0.00044,"amount":98.7,"timestamp":1563304475},{"side":"buy","price":0.00044,"amount":120.0,"timestamp":1563302778},{"side":"buy","price":0.00042129,"amount":10.0,"timestamp":1563302474},{"side":"buy","price":0.00042129,"amount":450.0,"timestamp":1563299224},{"side":"buy","price":0.00044,"amount":2500.0,"timestamp":1563297147},{"side":"buy","price":0.00044,"amount":2091.9,"timestamp":1563287037}[...]
