---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/v1/coinmarketcap/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ae2-fC52lrEz/z0p9oBA1HOdcmNi7JM"
    body:
      encoding: UTF-8
      string: '[{"lastPrice":0.000624,"volume24h":50029.608945764136,"id":29,"ticker":"LA/ETH"},{"lastPrice":0.0009363,"volume24h":1363.756182969982,"id":154,"ticker":"PAY/ETH"},{"lastPrice":0.0004684,"volume24h":3803.6794044599774,"id":155,"ticker":"POWR/ETH"},{"lastPrice":0.0008586,"volume24h":1342.587728380005,"id":156,"ticker":"AION/ETH"},{"lastPrice":0.00002413,"volume24h":550.7953875100061,"id":157,"ticker":"FUN/ETH"},{"lastPrice":0.008377,"volume24h":1333.4953342199901,"id":158,"ticker":"WTC/ETH"},{"lastPrice":0.10789,"volume24h":0,"id":159,"ticker":"GNO/ETH"},{"lastPrice"[...]
