---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/v1/coingecko/market/ETH/LA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-NYwYmzDIaxTb5u9VkvD0nVo65UE"
    body:
      encoding: UTF-8
      string: '{"ask":0.0003161,"bid":0.0003152,"last_price":0.0003152,"high":0.00034,"low":0.0003163,"volume":345.79267989888734,"timestamp":1525438828}'
  recorded_at: Fri, 04 May 2018 13:00:28 GMT
recorded_with: VCR 4.0.0
