---
http_interactions:
- request:
    method: get
    uri: https://api.latoken.com/api/v1/MarketData/trades/LAETH/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Remaining:
      - '14999'
    body:
      encoding: UTF-8
      string: '{"pairId":"349568f2-be17-4735-b90f-3f9d08dd2e4d","symbol":"LAETH","tradeCount":100,"trades":[{"side":"buy","price":0.00048120,"amount":293.7,"timestamp":1574733771536},{"side":"buy","price":0.00048120,"amount":1.9,"timestamp":1574730900623},{"side":"buy","price":0.00048120,"amount":1.7,"timestamp":1574730847597},{"side":"buy","price":0.00048120,"amount":1.6,"timestamp":1574730791256},{"side":"buy","price":0.00048120,"amount":1.4,"timestamp":1574730667350},{"side":"buy","price":0.00048120,"amount":1.3,"timestamp":1574730537230},{"side":"buy","price":0.00048120,"amount":1.2,"timestamp":1574730391801},{"side":"buy","price":0.00048120,"amount":1.1,"[...]
