---
http_interactions:
- request:
    method: get
    uri: https://api.btcmarkets.net/v2/market/active
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"errorCode":null,"errorMessage":null,"markets":[{"instrument":"BTC","currency":"AUD"},{"instrument":"LTC","currency":"AUD"},{"instrument":"LTC","currency":"BTC"},{"instrument":"ETH","currency":"BTC"},{"instrument":"ETH","currency":"AUD"},{"instrument":"ETC","currency":"AUD"},{"instrument":"ETC","currency":"BTC"},{"instrument":"XRP","currency":"AUD"},{"instrument":"XRP","currency":"BTC"},{"instrument":"BCH","currency":"AUD"},{"instrument":"BCH","currency":"BTC"},{"instrument":"POWR","currency":"AUD"},{"instrument":"POWR","currency":"BTC"},{"instrument":"OMG","currency":"AUD"},{"instrument":"OMG","currency":"BTC"}]}'
  recorded_at: Thu, 30 Aug 2018 04:47:05 GMT
recorded_with: VCR 4.0.0
