---
http_interactions:
- request:
    method: get
    uri: https://api.btcmarkets.net/market/BTC/AUD/tick
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"bestBid":11230.0,"bestAsk":11235.0,"lastPrice":11235.0,"currency":"AUD","instrument":"BTC","timestamp":1532505048,"volume24h":330.61259}'
  recorded_at: Wed, 25 Jul 2018 07:51:17 GMT
recorded_with: VCR 4.0.0
