---
http_interactions:
- request:
    method: get
    uri: https://api.btcmarkets.net/market/BTC/AUD/orderbook
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"currency":"AUD","instrument":"BTC","timestamp":1532505488,"asks":[[11235.0,0.30162921],[11249.8,0.05],[11253.93,0.35],[11253.93,0.26728695],[11253.95,0.53457391],[11253.97,0.80186087],[11256.0,0.3539],[11259.48,0.48],[11259.49,0.87],[11259.7,0.35],[11260.0,0.29149673],[11299.0,2.249642],[11300.0,0.12332883],[11311.15,0.53210639],[11312.28,1.0],[11323.49,0.05315006],[11323.5,0.5],[11323.51,30.3995],[11348.87,0.53054317],[11350.0,0.80973122],[11350.0,0.015],[11358.38,0.5],[11385.0,0.25],[11388.62,0.01],[11400.0,0.01100032],[11400.0,0.1],[11400.0,0.045],[11420.0[...]
