---
http_interactions:
- request:
    method: get
    uri: https://www.btcmarkets.net/data/market/active
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","markets":[{"id":2001,"instrument":"BTC","currency":"AUD","agency":"BTCMarkets"},{"id":2002,"instrument":"LTC","currency":"AUD","agency":"BTCMarkets"},{"id":2006,"instrument":"LTC","currency":"BTC","agency":"BTCMarkets"},{"id":2007,"instrument":"ETH","currency":"BTC","agency":"BTCMarkets"},{"id":2010,"instrument":"ETH","currency":"AUD","agency":"BTCMarkets"},{"id":2014,"instrument":"ETC","currency":"AUD","agency":"BTCMarkets"},{"id":2015,"instrument":"ETC","currency":"BTC","agency":"BTCMarkets"},{"id":2016,"instrument":"XRP","currency":"AUD","agency":"BTCMarkets"},{"id":2017,"instrument":"XRP","currency":"BTC","agency":"BTCMarkets"},{"id":2018,"instrument":"BCH","currency":"AUD","agency":"BTCMarkets"},{"id":2019,"instrument":"BCH","currency":"BTC","agency":"BTCMarkets"},{"id":2020,"instrument":"POWR","currency":"AUD","agency":"BTCMarkets"},{"id":2021,"instrument":"POWR","currency":"BTC","agency":"BTCMarkets"},{"id":2022,"instrument":"OMG","currency":"AUD","agency":"BTCMarkets"},{"id":2023,"instrument":"OMG","currency":"BTC","agency":"BTCMarkets"}]}'
  recorded_at: Wed, 25 Jul 2018 07:39:02 GMT
recorded_with: VCR 4.0.0
