---
http_interactions:
- request:
    method: get
    uri: https://www.gobaba.com/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Node-Id:
      - prod-site-4a
    body:
      encoding: ASCII-8BIT
      string: "[\n  {\n    \"ask\": \"41324.32\", \n    \"bid\": \"40632.80\", \n
        \   \"high\": \"41788.65\", \n    \"last\": \"41324.32\", \n    \"low\": \"40090.13\",
        \n    \"pair\": \"BTCTRY\", \n    \"volume\": 0.05906818\n  }, \n  {\n    \"ask\":
        \"5517.84\", \n    \"bid\": \"5425.50\", \n    \"high\": \"5643.15\", \n    \"last\":
        \"5517.84\", \n    \"low\": \"5386.20\", \n    \"pair\": \"BTCEUR\", \n    \"volume\":
        0.0\n  }, \n  {\n    \"ask\": \"352.94\", \n    \"bid\": \"346.98\", \n    \"high\":
        \"368.73\", \n    \"last\": \"352.94\", \n    \"low\": \"344.19\", \n    \"pair\":
        \"LTCTRY\", \n    \"volume\": 44.67140399\n  }, \n  {\n    \"ask\": \"47.13\",
  [...]
