---
http_interactions:
- request:
    method: get
    uri: https://www.gobaba.com/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Node-Id:
      - prod-site-4a
    body:
      encoding: ASCII-8BIT
      string: "[\n  {\n    \"ask\": \"5508.58\", \n    \"bid\": \"5416.40\", \n    \"high\":
        \"5643.15\", \n    \"last\": \"5508.58\", \n    \"low\": \"5386.20\", \n    \"pair\":
        \"BTCEUR\", \n    \"volume\": 0.0\n  }, \n  {\n    \"ask\": \"41274.69\",
        \n    \"bid\": \"40584.00\", \n    \"high\": \"41788.65\", \n    \"last\":
        \"41274.69\", \n    \"low\": \"40090.13\", \n    \"pair\": \"BTCTRY\", \n
        \   \"volume\": 0.05906818\n  }, \n  {\n    \"ask\": \"47.09\", \n    \"bid\":
        \"46.30\", \n    \"high\": \"49.70\", \n    \"last\": \"47.09\", \n    \"low\":
        \"45.83\", \n    \"pair\": \"LTCEUR\", \n    \"volume\": 0.0\n  }, \n  {\n
        \   \"ask\": \"352.80\",[...]
