---
http_interactions:
- request:
    method: get
    uri: https://swiftex.co/api/v2/tickers.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"a47b9350af7ad269e8a92ea2c5794bba"
    body:
      encoding: ASCII-8BIT
      string: '{"mymn-btc":{"at":1551860888,"ticker":{"buy":"0.00000001","sell":"0.00000013","low":"0.00000007","high":"0.00000013","open":7.0e-08,"last":"0.00000007","volume":"0.0","avg_price":"0.0","price_change_percent":"+0.00%","vol":"0.0"}},"mynt-btc":{"at":1551860888,"ticker":{"buy":"0.000000025","sell":"0.000000028","low":"0.000000025","high":"0.00000003","open":2.5e-08,"last":"0.000000028","volume":"173908.321398533","avg_price":"0.000000029","price_change_percent":"+12.00%","vol":"173908.321398533"}},"oasis-btc":{"at":1551860888,"ticker":{"buy":"0.0000891","sell":"0.00009","low":"0.0000855","high":"0.0000855","open":8.55e-05,"last":"0.0000855","volume":"0.0","avg_price":"0.0","price_change_percent":"+0.00%","vol":"0.0"}},"oasis-mynt":{"at":1551860888,"ticker":{"buy":"999.0","sell":"8000.0","low":"7999.0","high":"7999.0","open":7999.0,"last":"7999.0","volume":"0.0","avg_price":"0.0","price_change_percent":"+0.00%","vol":"0.0"}},"pgn-mynt":{"at":1551860888,"ticker":{"buy":"0.9","sell":"65.0","low":"0.9","high":"0.9","open":0.9,"last":"0.9","volume":"0.0","avg_price":"0.0","price_change_percent":"+0.00%","vol":"0.0"}},"smrtc-mynt":{"at":1551860888,"ticker":{"buy":"0.98","sell":"1.0","low":"1.0","high":"1.2","open":1.0,"last":"1.0","volume":"0.0","avg_price":"0.0","price_change_percent":"+0.00%","vol":"0.0"}},"ltc-btc":{"at":1551860888,"ticker":{"buy":"0.0009","sell":"0.014","low":"0.0119","high":"0.0119","open":0.0119,"last":"0.0119","volume":"0.0","avg_price":"0.0","price_change_percent":"+0.00%","vol":"0.0"}},"pgn-btc":{"at":1551860888,"ticker":{"buy":"0.000000017","sell":"0.000000019","low":"0.000000021","high":"0.000000023","open":2.2e-08,"last":"0.000000023","volume":"285.0","avg_price":"0.000000022","price_change_percent":"+4.55%","vol":"285.0"}},"grs-mynt":{"at":1551860888,"ticker":{"buy":"300.0","sell":"0.0","low":"0.0","high":"0.0","open":"0.0","last":"0.0","volume":"0.0","avg_price":"0.0","price_change_percent":"+0.00%","vol":"0.0"}},"grs-btc":{"at":1551860888,"ticker":{"buy":"0.00000001","sell":"0.0","low":"0.0","high":"0.0","open":"0.0","last":"0.0","volume":"0.0","avg_price":"0.0","price_change_percent":"+0.00%","vol":"0.0"}}}'
  recorded_at: Wed, 06 Mar 2019 08:28:08 GMT
recorded_with: VCR 4.0.0
