---
http_interactions:
- request:
    method: get
    uri: https://trade.swiftex.co/api/v2/peatio/public/markets/myntbtc/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9292b4541f6aa42e7bf6831800f3b3bd"
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 118.100.1.62
    body:
      encoding: ASCII-8BIT
      string: '{"at":1562135609,"ticker":{"buy":"0.000000001","sell":"0.00000002","low":"0.000000019","high":"0.00000002","open":"0.00000002","last":"0.00000002","volume":"2.0","avg_price":"0.0000000195","price_change_percent":"+0.00%","vol":"2.0"}}'
  recorded_at: Wed, 03 Jul 2019 06:33:29 GMT
recorded_with: VCR 4.0.0
