---
http_interactions:
- request:
    method: get
    uri: https://trade.swiftex.co/api/v2/peatio/public/markets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c5b9724296cedb9795766b5fc1c5af1f"
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 118.100.1.62
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"ausbtc","name":"AUS/BTC","ask_unit":"aus","bid_unit":"btc","ask_fee":"0.0015","bid_fee":"0.0015","min_ask_price":"0.0","max_bid_price":"0.0","min_ask_amount":"0.001","min_bid_amount":"0.001","ask_precision":9,"bid_precision":9},{"id":"ausmynt","name":"AUS/MYNT","ask_unit":"aus","bid_unit":"mynt","ask_fee":"0.0015","bid_fee":"0.0015","min_ask_price":"0.0","max_bid_price":"0.0","min_ask_amount":"0.001","min_bid_amount":"0.001","ask_precision":4,"bid_precision":4},{"id":"brigbtc","name":"BRIG/BTC","ask_unit":"brig","bid_unit":"btc","ask_fee":"0.0015","bid_fee":"0.0015","min_ask_price":"0.0","max_bid_price":"0.0","min_ask_amount":"0.001","min_bid_amount":"0.001","ask_precision":9,"bid_precision":9},{"id":"cubbtc","name"[...]
