---
http_interactions:
- request:
    method: get
    uri: https://swiftex.co/api/v2/tickers.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"4cf64431ef1d945849dee8bb7099d598"'
    body:
      encoding: ASCII-8BIT
      string: '{"mynt-btc":{"at":1543503139,"ticker":{"buy":"0.00000003","sell":"0.00000004","low":"0.00000003","high":"0.00000003","last":"0.00000003","vol":"588502.3257"}},"ufo-btc":{"at":1543503139,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.00000002","vol":"0.0"}},"ltc-btc":{"at":1543503139,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"rvn-btc":{"at":1543503139,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0000079","high":"0.0000079","last":"0.0000079","vol":"0.0"}},"mymn-btc":{"at":1543503139,"ticker":{"buy":"0.00000002","sell":"0.00000003","low":"0.00000002","high":"0.00000002","last":"0.00000002","vol":"0.0"}},"cpr-btc":{"at":1543503139,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0"}},"dgb-btc":{"at":1543503139,"ticker":{"buy":"0.0","sell":"0.0","low":"0.00000308","high":"0.00000308","last":"0.00000308","vol":"19833.24556"}},"vls-btc":{"at":1543503139,"ticker":{"buy":"0.0","sell":"0.00004","low":"0.00002","high":"0.00002","last":"0.00002","vol":"0.0"}}}'
  recorded_at: Thu, 29 Nov 2018 14:52:19 GMT
recorded_with: VCR 4.0.0
