---
http_interactions:
- request:
    method: get
    uri: https://nanex.co/api/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8bc4dbd7c94e0c0c3491a0a469c2bd2"
    body:
      encoding: UTF-8
      string: '{"btcnano":{"base":"BTC","quote":"NANO","volume":"10.78717000","last_trade":"1150.00008","price_change":"-5.74","quote_volume":"12807.62359013"},"ltcnano":{"base":"LTC","quote":"NANO","volume":"53.12853000","last_trade":"20.69885","price_change":"-8.00","quote_volume":"1115.68020841"},"grlcnano":{"base":"GRLC","quote":"NANO","volume":"11614.17638000","last_trade":"0.00695","price_change":"-2.80","quote_volume":"78.47751887"},"ethnano":{"base":"ETH","quote":"NANO","volume":"50.34878000","last_trade":"64.00002","price_change":"-12.33","quote_volume":"3290.29279311"},"btcpnano":{"base":"BTCP","quote":"NANO","volume":"9361.65371000","last_trade":"3.99998","price_change":"4.16","quote_volume":"36780.93236720"},"dcrnano":{"base":"DCR","quote":"NANO","volume":"1.84213000","last_trade":"7.07499","price_change":"0.00","quote_volume":"13.03305133"},"phrnano":{"base":"PHR","quote":"NANO","volume":"704.22214000","last_trade":"0.25150","price_change":"13.95","quote_volume":"195.64561335"},"rvnnano":{"base":"RVN","quote":"NANO","volume":"1118874.66118000","last_trade":"0.00650","price_change":"5.69","quote_volume":"11376.29596607"},"lindanano":{"base":"LINDA","quote":"NANO","volume":"0.00000","last_trade":"0.0000","price_change":"0.00","quote_volume":"0.00000"}}'
  recorded_at: Wed, 28 Mar 2018 10:25:45 GMT
recorded_with: VCR 4.0.0
