---
http_interactions:
- request:
    method: get
    uri: https://api.vinex.network/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5114-jMSpI1vd0uZGoI1DtwMMJqMOoDk"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"id":1,"symbol":"BTC_ETH","assetId1":1,"assetId2":2,"lastPrice":0.033,"volume":0.0182333,"volume24h":0,"change24h":0,"high24h":0,"low24h":0,"createdAt":1533530259,"updatedAt":1549874402,"status":true,"statusTrading":1,"threshold":0.001,"tradingFee":0.001,"decPrice":6,"decAmount":4,"tokenInfo1":{"id":1,"name":"Bitcoin","symbol":"BTC"},"tokenInfo2":{"id":2,"name":"Ethereum","symbol":"ETH"}},{"id":2,"symbol":"ETH_MAS","assetId1":2,"assetId2":3,"lastPrice":0.000037,"volume":2929.39404982,"volume24h":1.0588163,"change24h":0,"high24h":0.000037,"low24h":0.000037,"createdAt":1533530259,"updatedAt":1549874403,"status":true,"statusTrading":1,"threshold":0.05,"tradingFee":0.001,"decPrice":8,"decAmount":4,"tokenInfo1":{"id":2,"name":"Ethereum","symbol":"ETH"},"tokenInfo2":{"id":3,"name":"MidasProtocol","symbol":"MAS"}},{"id":3,"symbol":"BTC_MAS","as[...]
