---
http_interactions:
- request:
    method: get
    uri: https://api.vinex.network/api/v2/get-order-book?market=BTC_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f8-4MaOMtVC6O2TFRi5rKl+kGVUNLA"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"bids":[{"price":0.0295,"quantity":0.1432},{"price":0.029,"quantity":0.592},{"price":0.02755,"quantity":0.0426}],"asks":[{"price":0.048,"quantity":0.038},{"price":0.0485,"quantity":0.5969},{"price":0.0489,"quantity":0.0472}]}}'
  recorded_at: Fri, 17 May 2019 06:59:32 GMT
recorded_with: VCR 4.0.0
