---
http_interactions:
- request:
    method: get
    uri: https://cryptex.net/api/v1/btc_usd/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": "ok", "data": [{"tid": 287672, "price": "8970.273", "amount":
        "0.03253", "date": "2018-04-28T04:40:52.103"}, {"tid": 287673, "price": "8998.574",
        "amount": "0.03981", "date": "2018-04-28T04:41:40.706"}, {"tid": 287674, "price":
        "8975.304", "amount": "0.04773", "date": "2018-04-28T04:43:06.163"}, {"tid":
        287675, "price": "8989.735", "amount": "0.0209", "date": "2018-04-28T04:43:54.939"},
        {"tid": 287676, "price": "8984.234", "amount": "0.02731", "date": "2018-04-28T04:45:10.899"},
        {"tid": 287677, "price": "8972.702", "amount": "0.03436"[...]
