---
http_interactions:
- request:
    method: get
    uri: https://cryptex.net/api/v1/btc_usd/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": "ok", "data": {"last": "8970.287", "low": "8782.318", "high":
        "9214.224", "volume": "390476.274"}}'
  recorded_at: Sat, 28 Apr 2018 05:39:50 GMT
recorded_with: VCR 4.0.0
