---
http_interactions:
- request:
    method: get
    uri: https://api.vindax.com/api/v1/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2986-569f6qeoml85iZBNl+dd6EiUTiA"
    body:
      encoding: UTF-8
      string: '{"BTC_USDT":{"quoteVolume":474566.9339469,"openTime":"1555911684044","closeTime":"1555998084044","symbol":"BTC_USDT","percentChange":2.6711930349871644,"last":5383.41,"highestBid":5370.52,"lowestAsk":5361.09,"baseVolume":89.271093,"high24hr":5385.25,"low24hr":5226.1,"isFrozen":"0"},"BCHABC_USDT":{"quoteVolume":439316.6863641,"openTime":"1555911672828","closeTime":"1555998072828","symbol":"BCHABC_USDT","percentChange":1.2263368799226042,"last":293.03,"highestBid":290.4,"lowestAsk":289,"baseVolume":1508.82274,"high24hr":294.71,"low24hr":286.92,"isFrozen":"0"},"ETH_USDT":{"quoteVolume":434712.6402929,"openTime":"1555911652239","closeTime":"1555998052239","symbol":"ETH_USDT","percentChange":0.9988179669030719,"last":170.89,"highestBid":170.41,"lowestAsk":169.65,"baseVolume":2550.63747,"high24hr":172.28,"low24hr":167.95,"isFrozen":"0"},"DASH_VD":{"quoteVolume":367827.8659315,"openTime":"1555911684325","closeTime":"1555998084325","symbol":"DASH_VD","percentChange":13.15600287562905,"last":94.44,"highestBid":31.64,"lowestAsk":30,"baseVolume":3455.85745,"high24hr":119.88,"low24hr":41.93,"isFrozen":"0"},"LTC_USDT":{"quoteVolume":315557.5097067,"openTime":"1555911680289","closeTime":"1555998080289","symbol":"LTC_USDT","percentChange":2.262203995237457,"last":77.3,"highestBid":76.4,"lowestAsk":75.93,"baseVolume":4119.16127,"high24hr":77.66,"low24hr":74.82,"isFrozen":"0"},"BCHSV_USDT":{"quoteVolume":242445.8468221,"openTime":"1555290605751","closeTime":"1555377005751","symbol":"BCHSV_USDT","percentChange":-15.979309380679435,"last":60.1,"highestBid":58.31,"lowestAsk":57.39,"baseVolume":3577.21953,"high24hr":74.52,"low24hr":57.55,"isFrozen":"0"},"LTC_VD":{"quoteVolume":345952.708542,"openTime":"1555911681527","closeTime":"1555998081527","symbol":"LTC_VD","percentChange":-50.59415911379658,"last":24.53,"highestBid":20.39,"lowestAsk":20,"baseVolume":7461.24858,"high24hr":52,"low24hr":21.39,"isFrozen":"0"},"NEO_USDT":{"quoteVolume":23.541,"openTime":"1552020491106","closeTime":"1552106891106","symbol":"NEO_USDT","percentChange":0,"last":8.85,"highestBid":0,"lowestAsk":0,"baseVolume":2.66,"high24hr":8.85,"low24hr":8.85,"isFrozen":"0"},"VD_USDT":{"quoteVolume":1661750.908116,"openTime":"1555911677919","closeTime":"1555998077919","symbol":"VD_USDT","percentChange":-0.42933982971128726,"last":4.1281,"highestBid":3.2,"lowestAsk":0.1,"baseVolume":428189.57,"high24hr":4.2257,"low24hr":3.2387,"isFrozen":"0"},"ONT_USDT":{"quoteVolume":13,"openTime":"1554972451200","closeTime":"1555058851200","symbol":"ONT_USDT","percentChange":0,"last":1.3,"highestBid":0,"lowestAsk":0,"baseVolume":10,"high24hr":1.3,"low24hr":1.3,"isFrozen":"0"},"USDS_USDT":{"quoteVolume":865169.854845,"openTime":"1555911682180","closeTime":"1555998082180","symbol":"USDS_USDT","percentChange":-0.690880378997248,"last":1.0062,"highestBid":0.9701,"lowestAsk":0.5887,"baseVolume":863578.03,"high24hr":1.0398,"low24hr":0.9689,"isFrozen":"0"},"BCHABC_ETH":{"quoteVolume":1,"openTime":"1552020650335","closeTime":"1552107050335","symbol":"BCHABC_ETH","percentChange":0,"last":1,"highestBid":0,"lowestAsk":0,"baseVolume":1,"high24hr":1,"low24hr":1,"isFrozen":"0"},"PAX_USDT":{"quoteVolume":35395.969741,"openTime":"1555911666723","closeTime":"1555998066723","symbol":"PAX_USDT","percentChange":0.20066218521119714,"last":0.9987,"highestBid":0.99,"lowestAsk":0.9859,"baseVolume":35556.59,"high24hr":0.9992,"low24hr":0.9884,"isFrozen":"0"},"TUSD_USDT":{"quoteVolume":239732.049046,"openTime":"1555911684268","closeTime":"1555998084268","symbol":"TUSD_USDT","percentChange":0.6146095717884126,"last":0.9986,"highestBid":0.9897,"lowestAsk":0.9856,"baseVolume":240849.7,"high24hr":0.9989,"low24hr":0.9903,"isFrozen":"0"},"DASH_ETH":{"quoteVolume":1753.03583026,"openTime":"1555911679517","closeTime":"1555998079517","symbol":"DASH_ETH","percentChange":0.8189836203275809,"last":0.72015,"highestBid":0.71109,"lowestAsk":0.70793,"baseVolume":2446.585,"high24hr":0.72508,"low24hr":0.7074,"isFrozen":"0"},"LINK_USDT":{"quoteVolume":54.25,"openTime":"1555649312426","closeTime":"1555735712426","symbol":"LINK_USDT","percentChange":0,"last":0.5425,"highestBid":0,"lowestAsk":0,"baseVolume":100,"high24hr":0.5425,"low24hr":0.5425,"isFrozen":"0"},"ONG_USDT":{"quoteVolume":54,"openTime":"1555311127277","closeTime":"1555397527277","symbol":"ONG_USDT","percentChange":0,"last":0.54,"highestBid":0,"lowestAsk":0,"baseVolume":100,"high24hr":0.54,"low24hr":0.54,"isFrozen":"0"},"LTC_ETH":{"quoteVolume":1103.56155762,"openTime":"1555911663325","closeTime":"1555998063325","symbol":"LTC_ETH","percentChange":0.3082108250737272,"last":0.45238,"highestBid":0.44579,"lowestAsk":0.44414,"baseVolume":2446.202,"high24hr":0.45444,"low24hr":0.44688,"isFrozen":"0"},"ZEC_ETH":{"quoteVolume":2882.11374179,"openTime":"1555911673057","closeTime":"1555998073057","symbol":"ZEC_ETH","percentChange":2.220939570367402,"last":0.40733,"highestBid":0.40065,"lowestAsk":0.39851,"baseVolume":7147.045,"high24hr":0.40961,"low24hr":0.39492,"isFrozen":"0"},"DGD_ETH":{"quoteVolume":505.44122949,"openTime":"1555911667686","closeTime":"1555998067686","symbol":"DGD_ETH","percentChange":39.053552325215534,"last":0.22097,"highestBid":0.20476,"lowestAsk":0.19923,"baseVolume":2446.755,"high24hr":0.24456,"low24hr":0.15418,"isFrozen":"0"},"BNB_ETH":{"quoteVolume":2087.966494380895,"openTime":"1555911679777","closeTime":"1555998079777","symbol":"BNB_ETH","percentChange":-0.7794709870788232,"last":0.13988515,"highestBid":0.13834,"lowestAsk":0.137306,"baseVolume":14757.51,"high24hr":0.14496044,"low24hr":0.13649688,"isFrozen":"0"},"REP_ETH":{"quoteVolume":0.13,"openTime":"1555574808161","closeTime":"1555661208161","symbol":"REP_ETH","percentChange":0,"last":0.13,"highestBid":0,"lowestAsk":0,"baseVolume":1,"high24hr":0.13,"low24hr":0.13,"isFrozen":"0"},"BTG_ETH":{"quoteVolume":769.64030385,"openTime":"1555911682189","closeTime":"1555998082189","symbol":"BTG_ETH","percentChange":3.582705007021985,"last":0.103996,"highestBid":0.0941,"lowestAsk":0.0873,"baseVolume":7615.78,"high24hr":0.105274,"low24hr":0.093075,"isFrozen":"0"},"NEO_ETH":{"quoteVolume":0.13,"openTime":"1552020570163","closeTime":"1552106970163","symbol":"NEO_ETH","percentChange":0,"last":0.065,"highestBid":0,"lowestAsk":0,"baseVolume":2,"high24hr":0.065,"low24hr":0.065,"isFrozen":"0"},"BCHABC_BTC":{"quoteVolume":79.32692996400009,"openTime":"1555911683763","closeTime":"1555998083763","symbol":"BCHABC_BTC","percentChange":-1.2224715820971845,"last":0.054137,"highestBid":0.054137,"lowestAsk":0.053874,"baseVolume":1452.074,"high24hr":0.055816,"low24hr":0.054137,"isFrozen":"0"},"LINK_ETH":{"quoteVolume":0.3221,"openTime":"1555649380501","closeTime":"1555735780501","symbol":"LINK_ETH","percentChange":0,"last":0.03221,"highestBid":0,"lowestAsk":0,"baseVolume":10,"high24hr":0.03221,"low24hr":0.03221,"isFrozen":"0"},"ETH_BTC":{"quoteVolume":2.812037939999996,"openTime":"1555911683363","closeTime":"1555998083363","symbol":"ETH_BTC","percentChange":-1.165102839743989,"last":0.031811,"highestBid":0.031712,"lowestAsk":0.031669,"baseVolume":87.691,"high24hr":0.032469,"low24hr":0.031727,"isFrozen":"0"},"TRX_USDT":{"quoteVolume":30,"openTime":"1554697607234","closeTime":"1554784007234","symbol":"TRX_USDT","percentChange":0,"last":0.03,"highestBid":0,"lowestAsk":0,"baseVolume":1000,"high24hr":0.03,"low24hr":0.03,"isFrozen":"0"},"DASH_BTC":{"quoteVolume":91.49291993100015,"openTime":"1555911683841","closeTime":"1555998083841","symbol":"DASH_BTC","percentChange":-0.5856832971800421,"last":0.022915,"highestBid":0.022652,"lowestAsk":0.022559,"baseVolume":3982.215,"high24hr":0.023292,"low24hr":0.022652,"isFrozen":"0"},"VD_ETH":{"quoteVolume":6615.97001713,"openTime":"1555911682603","closeTime":"1555998082603","symbol":"VD_ETH","percentChange":-22.515395939641333,"last":0.0204797,"highestBid":0.0117,"lowestAsk":0.0000596,"baseVolume":288107,"high24hr":0.027,"low24hr":0.00836896,"isFrozen":"0"},"LTC_BTC":{"quoteVolume":317.45629648,"openTime":"1555911683547","closeTime":"1555998083547","symbol":"LTC_BTC","percentChange":-0.727701157391371,"last":0.014324,"highestBid":0.014224,"lowestAsk":0.014185,"baseVolume":22031.28,"high24hr":0.014661,"low24hr":0.014204,"isFrozen":"0"},"ZEC_BTC":{"quoteVolume":127.02275056699987,"openTime":"1555911675354","closeTime":"1555998075354","symbol":"ZEC_BTC","percentChange":1.674360378687105,"last":0.012995,"highestBid":0.012771,"lowestAsk":0.012714,"baseVolume":9820.249,"high24hr":0.013142,"low24hr":0.012667,"isFrozen":"0"},"BCHSV_BTC":{"quoteVolume":44.02763799599998,"openTime":"1555290541542","closeTime":"1555376941542","symbol":"BCHSV_BTC","percentChange":-14.417441029306657,"last":0.011973,"highestBid":0.011705,"lowestAsk":0.011649,"baseVolume":3323.538,"high24hr":0.014298,"low24hr":0.011574,"isFrozen":"0"},"OMG_ETH":{"quoteVolume":262.09107738,"openTime":"1555911663107","closeTime":"1555998063107","symbol":"OMG_ETH","percentChange":-0.2813833166923982,"last":0.010986,"highestBid":0.010702,"lowestAsk":0.010596,"baseVolume":23948.2,"high24hr":0.011045,"low24hr":0.010718,"isFrozen":"0"},"ONT_ETH":{"quoteVolume":0.1,"openTime":"1554972514242","closeTime":"1555058914242","symbol":"ONT_ETH","percentChange":0,"last":0.01,"highestBid":0,"lowestAsk":0,"baseVolume":10,"high24hr":0.01,"low24hr":0.01,"isFrozen":"0"},"TUSD_ETH":{"quoteVolume":528.5337589,"openTime":"1554225038080","closeTime":"1554311438080","symbol":"TUSD_ETH","percentChange":0.11156782918074523,"last":0.00764513,"highestBid":0.00752988,"lowestAsk":0.00774703,"baseVolume":69176,"high24hr":0.0077402,"low24hr":0.00754242,"isFrozen":"0"},"DGD_BTC":{"quoteVolume":23.289032295,"openTime":"1555911667898","closeTime":"1555998067898","symbol":"DGD_BTC","percentChange":35.54193037974684,"last":0.006853,"highestBid":0.006651,"lowestAsk":0.006633,"baseVolume":3633.347,"high24hr":0.007497,"low24hr":0.005044,"isFrozen":"0"},"BNB_BTC":{"quoteVolume":65.49194115479997,"openTime":"1555911671890","closeTime":"1555998071890","symbol":"BNB_BTC","percentChange":-2.674920228051984,"last":0.0044196,"highestBid":0.0043977,"lowestAsk":0.0043833,"baseVolume":14458.11,"high24hr":0.00466102,"low24hr":0.00434617,"isFrozen":"0"},"REP_BTC":{"quoteVolume":0.0042,"openTime":"1555574878160","closeTime":"1555661278160","symbol":"REP_BTC","percentChange":0,"last":0.0042,"highestBid":0,"lowestAsk":0,"baseVolume":1,"high24hr":0.0042,"low24hr":0.0042,"isFrozen":"0"},"ONG_ETH":{"quoteVolume":0.035,"openTime":"1555311231022","closeTime":"1555397631022","symbol":"ONG_ETH","percentChange":0,"last":0.0035,"highestBid":0,"lowestAsk":0,"baseVolume":10,"high24hr":0.0035,"low24hr":0.0035,"isFrozen":"0"}}'
  recorded_at: Tue, 23 Apr 2019 05:41:26 GMT
recorded_with: VCR 4.0.0
