---
http_interactions:
- request:
    method: get
    uri: https://neraex.pro/api/v2/tickers/btcjpy
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"5654648755882ea4c4e6f876e482ef7d"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1520435224,"ticker":{"buy":"1026565.0","sell":"1135044.0","low":"1099942.0","high":"1177044.0","last":"1132973.0","vol":"1438.7348"}}'
  recorded_at: Wed, 07 Mar 2018 15:07:04 GMT
recorded_with: VCR 4.0.0
