---
http_interactions:
- request:
    method: get
    uri: https://neraex.pro/api/v2/tickers/btcjpy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"b37a7c174ece7e8d4d37593743524453"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1520434247,"ticker":{"buy":"1026565.0","sell":"1126117.0","low":"1099942.0","high":"1177044.0","last":"1125977.0","vol":"1439.0001"}}'
  recorded_at: Wed, 07 Mar 2018 14:50:47 GMT
recorded_with: VCR 4.0.0
