---
http_interactions:
- request:
    method: get
    uri: https://coinsbit.io/api/v1/public/ticker?market=XYZ_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"message":{"market":["Market is not available"]},"result":[],"code":0}'
  recorded_at: Mon, 04 May 2020 14:20:49 GMT
recorded_with: VCR 4.0.0
