---
http_interactions:
- request:
    method: get
    uri: https://coinsbit.io/api/v1/public/ticker?market=ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":{"bid":"0.03224","ask":"0.03570994","open":"0.0338","high":"0.0341059","low":"0.0337","last":"0.03399765","volume":"203.56258769","deal":"6.9053787371679071","change":"1"}}'
  recorded_at: Thu, 04 Oct 2018 07:24:48 GMT
recorded_with: VCR 4.0.0
