---
http_interactions:
- request:
    method: get
    uri: https://www.fatbtc.com/m/trade/ETHBTC/50/0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"success","symbol":"ethbtc","timestamp":1557913717288,"trades":[{"id":null,"timestamp":1557913587672,"volume":7.7991,"price":0.0281,"taker":"sell","upOrDown":1},{"id":null,"timestamp":1557913505767,"volume":5.4391,"price":0.0281,"taker":"buy","upOrDown":1},{"id":null,"timestamp":1557913422049,"volume":9.4776,"price":0.0281,"taker":"sell","upOrDown":1},{"id":null,"timestamp":1557913173066,"volume":1.7290,"price":0.0278,"taker":"buy","upOrDown":1},{"id":null,"timestamp":1557913092706,"volume":4.9134,"price":0.0278,"taker":"sell","upOrDown":1},{"id":null,"timestamp":1557912852183,"volume":2.4216,"price":0.0278,"taker":"sell","upOrDown":1},{"id":null,"ti[...]
