---
http_interactions:
- request:
    method: get
    uri: https://www.fatbtc.com/m/depth/ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"success","symbol":"ethbtc","timestamp":1537170469403,"bids":[[0.0346,3.9765],[0.0341,0.5567],[0.0313,0.1309],[0.0253,1.2885],[0.0251,9.9996],[0.0250,10.0297],[0.0245,0.0154],[0.01,3.9862],[0.009,30.0000],[0.008,50.0000],[0.002358,2.0000],[0.001,0.09],[0.0001,0.0915]],"asks":[[0.037,6.7923],[0.0398,5],[0.0399,0.5],[0.045,5],[0.0454,10],[0.0455,0.8507],[0.0486,1.0451],[0.0493,1.0577],[0.0500,20.046],[0.0508,2.0114],[0.0725,1],[0.073,2.6411],[0.0747,0.2091],[0.0765,0.0001],[0.0885,0.9834],[0.095,8.64],[0.1099,10],[0.13,0.5],[0.14,0.5],[0.15,3.3000],[0.16,0.5000],[0.17,0.5],[0.18,0.16],[0.192356,1.0709],[1.0,0.0253]]}'
  recorded_at: Mon, 17 Sep 2018 07:47:52 GMT
recorded_with: VCR 4.0.0
