---
http_interactions:
- request:
    method: get
    uri: https://www.fatbtc.com/m/trade/ETHBTC/50/1557907689
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"success","symbol":"ethbtc","timestamp":1557907680511,"trades":[{"id":null,"timestamp":1557907517581,"volume":9.3948,"price":0.0270,"taker":"buy","upOrDown":1},{"id":null,"timestamp":1557907445430,"volume":9.6646,"price":0.0269,"taker":"buy","upOrDown":-1},{"id":null,"timestamp":1557907370529,"volume":6.4375,"price":0.0269,"taker":"sell","upOrDown":-1},{"id":null,"timestamp":1557907291940,"volume":1.2818,"price":0.0271,"taker":"sell","upOrDown":1},{"id":null,"timestamp":1557907038148,"volume":8.6494,"price":0.0270,"taker":"buy","upOrDown":1},{"id":null,"timestamp":1557906773535,"volume":2.6019,"price":0.0269,"taker":"sell","upOrDown":-1},{"id":null,[...]
