---
http_interactions:
- request:
    method: get
    uri: https://www.fatbtc.com/m/allticker/1/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"success","data":{"btkfat_ticker":{"status":1,"msg":"success","dspName":"BTK/FAT","symbol":"btkfat","timestamp":1537170627590,"open":0.0023657,"high":0.0027596,"low":0.002121200000000000,"close":0.0024317,"count":1428,"volume":1788882.000000000000000000,"amount":4333.379715300000000000000000000000000000,"bis1":[0.0021212,19173],"ask1":[0.0027,269],"upOrDown":-1,"pricePrecision":7,"volumePrecision":0,"order":16,"areaId":1,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"小胖币Fatcoin","baseCurrencyName":"Bitcoin
        Token","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0022388,"siteId":1},"kinfat_ticker":{"status":1,"msg":"success","dspName":"KIN/FAT","symbol":"kinfat","timestamp":1537170627686,"open":0.003805,"high":0.003884,"low":0.003690,"close":0.003786,"count":1474,"volume":8105341.0,"amount":30709.1195601,"bis1":[0.0036,152451],"ask1":[0.003943,1618],"upOrDown":1,"pricePrecision":6,"volumePrecision":1,"order":112,"areaId":1,"canBuy":1,"canSell":1,"stopDesc":"You
        can buy first|你可以先挂买单","quoteCurrencyName":"小胖币Fatcoin","baseCurrencyName":"KIN","minBuyVolume":100.00000000,"minBuyAmount":0E-8,"minSellVolume":100.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.003934,"siteId":1},"redvfat_ticker":{"status":1,"msg":"success","dspName":"REDV/FAT","symbol":"redvfat","timestamp":1537170627710,"open":0.004000000000000000,"high":0.004000000000000000,"low":0.004000000000000000,"close":0.004000000000000000,"count":0,"volume":0,"amount":0,"bis1":[0.003,50000.0],"ask1":[0.073,7048.1],"upOrDown":-1,"pricePrecision":3,"volumePrecision":1,"order":171,"areaId":1,"canBuy":0,"canSell":0,"stopDesc":"Delisting,
        plz cacel orders|即将退市，请撤单","quoteCurrencyName":"小胖币Fatcoin","baseCurrencyName":"Redvolution","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.004000000000000000,"siteId":1},"shefat_ticker":{"status":1,"msg":"success","dspName":"SHE/FAT","symbol":"shefat","timestamp":1537170627729,"open":0.072000000000000000,"high":0.072000000000000000,"low":0.072000000000000000,"close":0.072000000000000000,"count":0,"volume":0,"amount":0,"bis1":[0.06,2500],"ask1":[0.086,20393],"upOrDown":-1,"pricePrecision":3,"volumePrecision":0,"order":180,"areaId":1,"canBuy":0,"canSell":0,"stopDesc":"Plz
        move to SHE/ETH pair|请使用SHE/ETH交易对","quoteCurrencyName":"小胖币Fatcoin","baseCurrencyName":"闪链ShineChain","minBuyVolume":100.00000000,"minBuyAmount":0E-8,"minSellVolume":100.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.072000000000000000,"siteId":1},"wkcfat_ticker":{"status":1,"msg":"success","dspName":"WKC/FAT","symbol":"wkcfat","timestamp":1537170627756,"open":12.630,"high":13.550,"low":10.000000000000000000,"close":12.552,"count":1477,"volume":82234.600000000000000000,"amount":1037795.806000000000000000000000000000000000,"bis1":[10,900.0],"ask1":[13,200],"upOrDown":1,"pricePrecision":3,"volumePrecision":1,"order":221,"areaId":1,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"小胖币Fatcoin","baseCurrencyName":"玩客币(链克)","minBuyVolume":5.00000000,"minBuyAmount":0E-8,"minSellVolume":5.00000000,"fixedBuyPrice":0E-8,"weekOpen":9.578,"siteId":1},"fatbtc_ticker":{"status":1,"msg":"success","dspName":"FAT/BTC","symbol":"fatbtc","timestamp":1537170627782,"open":0.00000292,"high":0.00000292,"low":0.00000264,"close":0.00000279,"count":1438,"volume":1185348.000000000000000000,"amount":3.347267070000000000000000000000000000,"bis1":[0.00000256,227],"ask1":[0.00000295,5],"upOrDown":1,"pricePrecision":8,"volumePrecision":0,"order":1,"areaId":2,"canBuy":1,"canSell":1,"stopDesc":"Not
        open yet|尚未开放交易","quoteCurrencyName":"比特币Bitcoin","baseCurrencyName":"小胖币Fatcoin","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.00000341,"siteId":1},"bchbtc_ticker":{"status":1,"msg":"success","dspName":"BCH/BTC","symbol":"bchbtc","timestamp":1537170627804,"open":0.0595,"high":0.0756,"low":0.0520,"close":0.0683,"count":1450,"volume":7943.98,"amount":507.464481,"bis1":[0.060,2.46],"ask1":[0.0912,0.08],"upOrDown":1,"pricePrecision":4,"volumePrecision":2,"order":15,"areaId":2,"canBuy":1,"canSell":1,"stopDesc":"Not
        open yet|尚未开放交易","quoteCurrencyName":"比特币Bitcoin","baseCurrencyName":"比特币现金Bitcoin
        Cash","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0599,"siteId":1},"drgnbtc_ticker":{"status":1,"msg":"success","dspName":"DRGN/BTC","symbol":"drgnbtc","timestamp":1537170627827,"open":0.0000308,"high":0.0000335,"low":0.0000293,"close":0.0000324,"count":1456,"volume":811651.5,"amount":25.67435677,"bis1":[0.0000305,1363],"ask1":[0.000038,500.0],"upOrDown":1,"pricePrecision":7,"volumePrecision":1,"order":30,"areaId":2,"canBuy":1,"canSell":1,"stopDesc":"No
        open yet|交易尚未开始","quoteCurrencyName":"比特币Bitcoin","baseCurrencyName":"龙链Dragonchain","minBuyVolume":1.00000000,"minBuyAmount":0E-8,"minSellVolume":1.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.0000223,"siteId":0},"ethbtc_ticker":{"status":1,"msg":"success","dspName":"ETH/BTC","symbol":"ethbtc","timestamp":1537170627858,"open":0.0325,"high":0.036000000000000000,"low":0.0322,"close":0.0349,"count":1443,"volume":11923.216600000000000000,"amount":407.743388340000000000000000000000000000,"bis1":[0.0341,0.5567],"ask1":[0.037,6.7923],"upOrDown":1,"pricePrecision":4,"volumePrecision":4,"order":41,"areaId":2,"canBuy":1,"canSell":1,"stopDesc":"Not
        open yet|尚未开放交易","quoteCurrencyName":"比特币Bitcoin","baseCurrencyName":"以太币Ethereum","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0315,"siteId":0},"iopbtc_ticker":{"status":1,"msg":"success","dspName":"IOP/BTC","symbol":"iopbtc","timestamp":1537170627882,"open":0.0000277,"high":0.000049600000000000,"low":0.0000233,"close":0.0000299,"count":1458,"volume":79859.200000000000000000,"amount":2.320144700000000000000000000000000000,"bis1":[0.000022,57.39],"ask1":[0.0000496,67.8],"upOrDown":1,"pricePrecision":7,"volumePrecision":1,"order":81,"areaId":2,"canBuy":1,"canSell":1,"stopDesc":"12:00
        noon March 1st GMT+8|3月1日中午12点开放交易","quoteCurrencyName":"比特币Bitcoin","baseCurrencyName":"Internet
        of People","minBuyVolume":1.00000000,"minBuyAmount":0E-8,"minSellVolume":1.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.0000439,"siteId":0},"locbtc_ticker":{"status":1,"msg":"success","dspName":"LOC/BTC","symbol":"locbtc","timestamp":1537170627905,"open":0.0000674,"high":0.0000769,"low":0.0000662,"close":0.0000753,"count":1429,"volume":79009.300000000000000000,"amount":5.724152070000000000000000000000000000,"bis1":[0.0000750,11.7],"ask1":[0.0000765,55],"upOrDown":-1,"pricePrecision":7,"volumePrecision":1,"order":124,"areaId":2,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 14:00 May 23th(UTC+8)|5月23日14:00开始交易","quoteCurrencyName":"比特币Bitcoin","baseCurrencyName":"LockTrip","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0000676,"siteId":0},"lobsbtc_ticker":{"status":1,"msg":"success","dspName":"LOBS/BTC","symbol":"lobsbtc","timestamp":1537170627929,"open":0.00000588,"high":0.000005990000000000,"low":0.00000269,"close":0.00000558,"count":1471,"volume":812306.000000000000000000,"amount":4.081631890000000000000000000000000000,"bis1":[0.00000550,28],"ask1":[0.00000580,4981],"upOrDown":1,"pricePrecision":8,"volumePrecision":0,"order":125,"areaId":2,"canBuy":1,"canSell":1,"stopDesc":"Not
        open yet|尚未开放交易","quoteCurrencyName":"比特币Bitcoin","baseCurrencyName":"Lobstex","minBuyVolume":50.00000000,"minBuyAmount":0E-8,"minSellVolume":50.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.00000432,"siteId":0},"ltcbtc_ticker":{"status":1,"msg":"success","dspName":"LTC/BTC","symbol":"ltcbtc","timestamp":1537170627943,"open":0.001000000000000000,"high":0.001000000000000000,"low":0.001000000000000000,"close":0.001000000000000000,"count":0,"volume":0,"amount":0,"bis1":[0.0015,2],"ask1":[0.029995,5],"upOrDown":1,"pricePrecision":6,"volumePrecision":2,"order":127,"areaId":2,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"比特币Bitcoin","baseCurrencyName":"莱特币Litecoin","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.001000000000000000,"siteId":0},"xlmbtc_ticker":{"status":1,"msg":"success","dspName":"XLM/BTC","symbol":"xlmbtc","timestamp":1537170627963,"open":0.0000335,"high":0.0000335,"low":0.0000330,"close":0.0000333,"count":114,"volume":11906.3,"amount":0.39613833,"bis1":[0.00003,12],"ask1":[0.0000360,10],"upOrDown":1,"pricePrecision":7,"volumePrecision":1,"order":245,"areaId":2,"canBuy":1,"canSell":1,"stopDesc":"Not
        open yet|尚未开放交易","quoteCurrencyName":"比特币Bitcoin","baseCurrencyName":"恒星币
        Stellar","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0000335,"siteId":1},"eosbtc_ticker":{"status":1,"msg":"success","dspName":"EOS/BTC","symbol":"eosbtc","timestamp":1537170627983,"open":0.000752,"high":0.000796,"low":0.000709,"close":0.000751,"count":1444,"volume":8044.8,"amount":6.0277805,"bis1":[0.0007,1],"ask1":[0.0009,1],"upOrDown":-1,"pricePrecision":6,"volumePrecision":1,"order":1991,"areaId":2,"canBuy":1,"canSell":1,"stopDesc":"plz
        move to EOS/FCNY pair|请使用EOS/FCNY交易对","quoteCurrencyName":"比特币Bitcoin","baseCurrencyName":"EOS","minBuyVolume":0.10000000,"minBuyAmount":0E-8,"minSellVolume":0.10000000,"fixedBuyPrice":0E-8,"weekOpen":0.000387,"siteId":1},"fateth_ticker":{"status":1,"msg":"success","dspName":"FAT/ETH","symbol":"fateth","timestamp":1537170628008,"open":0.0000822,"high":0.000083500000000000,"low":0.000081000000000000,"close":0.0000820,"count":1435,"volume":779381.000000000000000000,"amount":64.053734400000000000000000000000000000,"bis1":[0.0000817,50],"ask1":[0.0000824,792],"upOrDown":-1,"pricePrecision":7,"volumePrecision":0,"order":2,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Not
        open yet|尚未开放交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"小胖币Fatcoin","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0000780,"siteId":1},"bznteth_ticker":{"status":1,"msg":"success","dspName":"BZNT/ETH","symbol":"bznteth","timestamp":1537170628030,"open":0.0000966,"high":0.0001006,"low":0.0000686,"close":0.0000720,"count":1235,"volume":6933452.000000000000000000,"amount":635.380653800000000000000000000000000000,"bis1":[0.000065,16445],"ask1":[0.000091,3019],"upOrDown":1,"pricePrecision":7,"volumePrecision":0,"order":15,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 14:00 May 29th（UTC+8）|5月29日 14:00开始交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Bezant","minBuyVolume":50.00000000,"minBuyAmount":0E-8,"minSellVolume":50.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.0000777,"siteId":0},"btketh_ticker":{"status":1,"msg":"success","dspName":"BTK/ETH","symbol":"btketh","timestamp":1537170628053,"open":2.50000000000E-7,"high":2.70000000000E-7,"low":2.10000000000E-7,"close":2.2E-7,"count":487,"volume":54137167.000000000000000000,"amount":12.068724710000000000000000000000000000,"bis1":[2.1E-7,16453],"ask1":[2.6E-7,69602],"upOrDown":-1,"pricePrecision":8,"volumePrecision":0,"order":16,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Bitcoin
        Token","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":2.50000000000E-7,"siteId":0},"clneth_ticker":{"status":1,"msg":"success","dspName":"CLN/ETH","symbol":"clneth","timestamp":1537170628079,"open":0.000078,"high":0.000093,"low":0.000067,"close":0.000076,"count":1436,"volume":3951852,"amount":311.758403,"bis1":[0.000065,344],"ask1":[0.000123,10776],"upOrDown":-1,"pricePrecision":6,"volumePrecision":0,"order":24,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 14:00 May 21st|5月21日14:00开始交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Colu
        Local Network","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.000078,"siteId":0},"cyfmeth_ticker":{"status":1,"msg":"success","dspName":"CYFM/ETH","symbol":"cyfmeth","timestamp":1537170628102,"open":1.1E-7,"high":1.30000000000E-7,"low":7.0000000000E-8,"close":1.0E-7,"count":1027,"volume":552648653.000000000000000000,"amount":53.486443180000000000000000000000000000,"bis1":[9E-8,45567],"ask1":[1.0E-7,5],"upOrDown":-1,"pricePrecision":8,"volumePrecision":0,"order":26,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Not
        open yet|尚未开放交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"CyberFM","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":1.6E-7,"siteId":0},"drgneth_ticker":{"status":1,"msg":"success","dspName":"DRGN/ETH","symbol":"drgneth","timestamp":1537170628125,"open":0.0009929,"high":0.0011258,"low":0.0009903,"close":0.0009957,"count":1439,"volume":1568629.1,"amount":1651.10732165,"bis1":[0.0009328,5.1],"ask1":[0.00122,1],"upOrDown":-1,"pricePrecision":7,"volumePrecision":1,"order":31,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Coming
        soon|尚未开放交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"龙链Dragonchain","minBuyVolume":1.00000000,"minBuyAmount":0E-8,"minSellVolume":1.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.0009582,"siteId":0},"denteth_ticker":{"status":1,"msg":"success","dspName":"DENT/ETH","symbol":"denteth","timestamp":1537170628150,"open":0.00001247,"high":0.00001561,"low":0.00000958,"close":0.00001183,"count":1435,"volume":4036956,"amount":49.94158306,"bis1":[0.000009,7510],"ask1":[0.0000225,2000],"upOrDown":-1,"pricePrecision":8,"volumePrecision":0,"order":32,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Dent","minBuyVolume":50.00000000,"minBuyAmount":0E-8,"minSellVolume":50.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.00001072,"siteId":0},"ecaeth_ticker":{"status":1,"msg":"success","dspName":"ECA/ETH","symbol":"ecaeth","timestamp":1537170628180,"open":0.00000308,"high":0.00000331,"low":0.000002660000000000,"close":0.00000292,"count":1377,"volume":75667864.000000000000000000,"amount":233.186902770000000000000000000000000000,"bis1":[0.00000270,3784],"ask1":[0.00000378,724000],"upOrDown":-1,"pricePrecision":8,"volumePrecision":0,"order":41,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Sart
        at 12:00 AM Feb 8th|8号中午12:00开始交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Electra","minBuyVolume":100.00000000,"minBuyAmount":0E-8,"minSellVolume":100.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.00000273,"siteId":0},"eoseth_ticker":{"status":1,"msg":"success","dspName":"EOS/ETH","symbol":"eoseth","timestamp":1537170628203,"open":0.025648,"high":0.028288,"low":0.022483,"close":0.025643,"count":1444,"volume":11799.7,"amount":301.0888020,"bis1":[0.021878,11.3],"ask1":[0.035,15],"upOrDown":1,"pricePrecision":6,"volumePrecision":1,"order":42,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"BUY
        FIRST|尚未开放交易，你可以先挂买单","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"EOS","minBuyVolume":0.10000000,"minBuyAmount":0E-8,"minSellVolume":0.10000000,"fixedBuyPrice":0E-8,"weekOpen":0.020479,"siteId":1},"echeth_ticker":{"status":1,"msg":"success","dspName":"ECH/ETH","symbol":"echeth","timestamp":1537170628224,"open":0.0002589,"high":0.000267700000000000,"low":0.0002549,"close":0.0002591,"count":1486,"volume":7984572.000000000000000000,"amount":2073.155280600000000000000000000000000000,"bis1":[0.00025,100],"ask1":[0.0002677,19998],"upOrDown":-1,"pricePrecision":7,"volumePrecision":0,"order":43,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"EtheruemCash以太现金","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0002579,"siteId":0},"gemeth_ticker":{"status":1,"msg":"success","dspName":"GEM/ETH","symbol":"gemeth","timestamp":1537170628252,"open":0.0000141,"high":0.0000141,"low":0.0000132,"close":0.0000132,"count":986,"volume":27280390.300000000000000000,"amount":361.545626170000000000000000000000000000,"bis1":[0.000013,1],"ask1":[0.0000142,35555.9],"upOrDown":-1,"pricePrecision":7,"volumePrecision":1,"order":62,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 14:00 May12st|12日14:00开始交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Gems","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0000125,"siteId":0},"geareth_ticker":{"status":1,"msg":"success","dspName":"GEAR/ETH","symbol":"geareth","timestamp":1537170628275,"open":0.0000651,"high":0.0000695,"low":0.0000580,"close":0.0000661,"count":1484,"volume":4100708,"amount":264.6698973,"bis1":[0.000034,349],"ask1":[0.0000700,1216],"upOrDown":1,"pricePrecision":7,"volumePrecision":0,"order":63,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 14:00 JULY 18st|7月18日14:00开始交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Smart
        Gear","minBuyVolume":50.00000000,"minBuyAmount":0E-8,"minSellVolume":50.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.0000560,"siteId":0},"htmleth_ticker":{"status":1,"msg":"success","dspName":"HTML/ETH","symbol":"htmleth","timestamp":1537170628302,"open":4.60000000000E-7,"high":5.4E-7,"low":4.6E-7,"close":5.0E-7,"count":1284,"volume":140977295.000000000000000000,"amount":69.810074620000000000000000000000000000,"bis1":[4.5E-7,265100],"ask1":[6.5E-7,9349],"upOrDown":1,"pricePrecision":8,"volumePrecision":0,"order":70,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 12:00 noon Feb 9th(UTC+8)|2月9日中午12:00开始交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"HTMLCoin","minBuyVolume":100.00000000,"minBuyAmount":0E-8,"minSellVolume":100.00000000,"fixedBuyPrice":0E-8,"weekOpen":5.2E-7,"siteId":0},"hoteth_ticker":{"status":1,"msg":"success","dspName":"HOT/ETH","symbol":"hoteth","timestamp":1537170628338,"open":0.000005030000000000,"high":0.000005310000000000,"low":0.000004400000000000,"close":0.00000487,"count":821,"volume":443209096.000000000000000000,"amount":2163.701971920000000000000000000000000000,"bis1":[0.00000440,261363],"ask1":[0.00000531,2780],"upOrDown":1,"pricePrecision":8,"volumePrecision":0,"order":71,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"HoloToken","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.00000625,"siteId":0},"nexoeth_ticker":{"status":1,"msg":"success","dspName":"NEXO/ETH","symbol":"nexoeth","timestamp":1537170628371,"open":0.0002419,"high":0.0002571,"low":0.0002238,"close":0.0002428,"count":1468,"volume":4009475.1,"amount":962.03028032,"bis1":[0.0002205,8.0],"ask1":[0.0002999,497],"upOrDown":1,"pricePrecision":7,"volumePrecision":1,"order":143,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 14:00PM May 13st|13日14:00开放交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Nexo","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0002031,"siteId":0},"pppeth_ticker":{"status":1,"msg":"success","dspName":"PPP/ETH","symbol":"pppeth","timestamp":1537170628392,"open":0.000680000000000000,"high":0.000680000000000000,"low":0.000650000000000000,"close":0.000680000000000000,"count":3,"volume":7395.000000000000000000,"amount":5.008110000000000000000000000000000000,"bis1":[0.0002232,2244.4],"ask1":[0.0006800,157.2],"upOrDown":1,"pricePrecision":7,"volumePrecision":1,"order":151,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Not
        available now|暂停交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"PayPie","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.000750000000000000,"siteId":0},"pfreth_ticker":{"status":1,"msg":"success","dspName":"PFR/ETH","symbol":"pfreth","timestamp":1537170628413,"open":0.0000501,"high":0.0000542,"low":0.0000457,"close":0.0000489,"count":1482,"volume":1227309,"amount":61.0247010,"bis1":[0.0000449,673],"ask1":[0.0000643,5200],"upOrDown":-1,"pricePrecision":7,"volumePrecision":0,"order":153,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 14:00 May 21st(UTC+8)|5月21日14:00开始交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Payfair","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0000558,"siteId":0},"sheeth_ticker":{"status":1,"msg":"success","dspName":"SHE/ETH","symbol":"sheeth","timestamp":1537170628434,"open":0.00000732,"high":0.000010000000000000,"low":0.00000670,"close":0.00000753,"count":1470,"volume":80667433.000000000000000000,"amount":601.434177070000000000000000000000000000,"bis1":[0.00000659,4010],"ask1":[0.000010,118893],"upOrDown":1,"pricePrecision":8,"volumePrecision":0,"order":180,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Not
        open yet|今天下午3点开放交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"闪链ShineChain","minBuyVolume":100.00000000,"minBuyAmount":0E-8,"minSellVolume":100.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.00000447,"siteId":0},"skmeth_ticker":{"status":1,"msg":"success","dspName":"SKM/ETH","symbol":"skmeth","timestamp":1537170628460,"open":0.0000191,"high":0.0000220,"low":0.0000146,"close":0.0000187,"count":1464,"volume":3987087,"amount":72.7130363,"bis1":[0.000015,66333],"ask1":[0.00003,68],"upOrDown":1,"pricePrecision":7,"volumePrecision":0,"order":182,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 14:00 May 30th|5月30日14:00开始交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Skrumble
        Network","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0000289,"siteId":0},"skbeth_ticker":{"status":1,"msg":"success","dspName":"SKB/ETH","symbol":"skbeth","timestamp":1537170628485,"open":0.0000271,"high":0.0000299,"low":0.0000255,"close":0.0000273,"count":1456,"volume":3980805,"amount":109.6402935,"bis1":[0.0000251,400],"ask1":[0.0000350,101],"upOrDown":1,"pricePrecision":7,"volumePrecision":0,"order":183,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 14:00 May 29th（UTC+8）|5月29日14:00开始交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Sakura
        Bloom","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0000264,"siteId":0},"tyteth_ticker":{"status":1,"msg":"success","dspName":"TYT/ETH","symbol":"tyteth","timestamp":1537170628504,"open":0.0001144,"high":0.0001155,"low":0.0000692,"close":0.0000857,"count":1422,"volume":39120711,"amount":3556.3387050,"bis1":[0.0000551,20846],"ask1":[0.00011,5988],"upOrDown":1,"pricePrecision":7,"volumePrecision":0,"order":201,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"天涯积分Tianya
        Token","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0001900,"siteId":0},"trxeth_ticker":{"status":1,"msg":"success","dspName":"TRX/ETH","symbol":"trxeth","timestamp":1537170628526,"open":0.00009214,"high":0.00009488,"low":0.00009042,"close":0.00009284,"count":1468,"volume":7950558,"amount":735.38689744,"bis1":[0.00009000,654],"ask1":[0.000100,3617],"upOrDown":1,"pricePrecision":8,"volumePrecision":0,"order":205,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"Not
        open yet|尚未开放交易","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"波场Tron","minBuyVolume":50.00000000,"minBuyAmount":0E-8,"minSellVolume":50.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.00010019,"siteId":1},"verieth_ticker":{"status":1,"msg":"success","dspName":"VERI/ETH","symbol":"verieth","timestamp":1537170628546,"open":0.0826,"high":0.118800000000000000,"low":0.0484,"close":0.0789,"count":1440,"volume":15756.610000000000000000,"amount":1169.282149000000000000000000000000000000,"bis1":[0.0704,12.95],"ask1":[0.11,20.00],"upOrDown":-1,"pricePrecision":4,"volumePrecision":2,"order":210,"areaId":3,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"以太币Ethereum","baseCurrencyName":"Veritaseum","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.0827,"siteId":0},"fatfcny_ticker":{"status":1,"msg":"success","dspName":"FAT/FCNY","symbol":"fatfcny","timestamp":1537170628576,"open":0.1276,"high":0.1290,"low":0.120200000000000000,"close":0.1250,"count":1492,"volume":13538687.170000000000000000,"amount":1697471.297659000000000000000000000000000000,"bis1":[0.1202,2524.76],"ask1":[0.1288,51.69],"upOrDown":1,"pricePrecision":4,"volumePrecision":2,"order":0,"areaId":4,"canBuy":1,"canSell":1,"stopDesc":"Sart
        at 12:00AM|1月22日中午12点开始交易","quoteCurrencyName":"软妹币FatCNY","baseCurrencyName":"小胖币Fatcoin","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":0.1256,"siteId":1},"actfcny_ticker":{"status":1,"msg":"success","dspName":"ACT/FCNY","symbol":"actfcny","timestamp":1537170628605,"open":0.2168,"high":0.2215,"low":0.2112,"close":0.2154,"count":1467,"volume":793027.80,"amount":171137.599550,"bis1":[0.21,16666],"ask1":[0.2333,50.14],"upOrDown":-1,"pricePrecision":4,"volumePrecision":2,"order":1,"areaId":4,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"软妹币FatCNY","baseCurrencyName":"A链","minBuyVolume":5.00000000,"minBuyAmount":0E-8,"minSellVolume":5.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.2148,"siteId":1},"btcfcny_ticker":{"status":1,"msg":"success","dspName":"BTC/FCNY","symbol":"btcfcny","timestamp":1537170628628,"open":44660.30,"high":44950.000000000000000000,"low":43093.01,"close":43632.07,"count":1487,"volume":4113.031000000000000000,"amount":181736990.553007000000000000000000000000000000,"bis1":[43205.16,0.0205],"ask1":[44850.16,0.0105],"upOrDown":1,"pricePrecision":2,"volumePrecision":4,"order":11,"areaId":4,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"软妹币FatCNY","baseCurrencyName":"比特币Bitcoin","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":42811.66,"siteId":1},"bchfcny_ticker":{"status":1,"msg":"success","dspName":"BCH/FCNY","symbol":"bchfcny","timestamp":1537170628650,"open":2984.65,"high":3033.27,"low":2953.70,"close":2996.91,"count":1447,"volume":7900.1778,"amount":23616186.839926,"bis1":[2945.77,0.0049],"ask1":[3120.16,0.3403],"upOrDown":1,"pricePrecision":2,"volumePrecision":4,"order":12,"areaId":4,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"软妹币FatCNY","baseCurrencyName":"比特币现金Bitcoin
        Cash","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":3517.63,"siteId":1},"dogefcny_ticker":{"status":1,"msg":"success","dspName":"DOGE/FCNY","symbol":"dogefcny","timestamp":1537170628676,"open":0.04348,"high":0.04406,"low":0.04282,"close":0.04376,"count":1435,"volume":79312501.200000000000000000,"amount":3462716.362468000000000000000000000000000000,"bis1":[0.04341,24179.6],"ask1":[0.04475,10020],"upOrDown":1,"pricePrecision":5,"volumePrecision":1,"order":32,"areaId":4,"canBuy":1,"canSell":1,"stopDesc":"","quoteCurrencyName":"软妹币FatCNY","baseCurrencyName":"狗狗币Dogecoin","minBuyVolume":100.00000000,"minBuyAmount":0E-8,"minSellVolume":100.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.04137,"siteId":1},"ethfcny_ticker":{"status":1,"msg":"success","dspName":"ETH/FCNY","symbol":"ethfcny","timestamp":1537170628699,"open":1479.96,"high":1600.000000000000000000,"low":1466.000000000000000000,"close":1514.16,"count":1491,"volume":16331.730000000000000000,"amount":24510103.733190000000000000000000000000000000,"bis1":[1490.00,1.040],"ask1":[1580.13,0.233],"upOrDown":1,"pricePrecision":2,"volumePrecision":3,"order":41,"areaId":4,"canBuy":1,"canSell":1,"stopDesc":"Not
        open yet|1月13日中午12:00开始交易","quoteCurrencyName":"软妹币FatCNY","baseCurrencyName":"以太币Ethereum","minBuyVolume":0E-8,"minBuyAmount":0E-8,"minSellVolume":0E-8,"fixedBuyPrice":0E-8,"weekOpen":1363.52,"siteId":1},"eosfcny_ticker":{"status":1,"msg":"success","dspName":"EOS/FCNY","symbol":"eosfcny","timestamp":1537170628727,"open":35.76,"high":40.72,"low":35.66,"close":38.16,"count":1473,"volume":161530.598000000000000000,"amount":6022607.568500000000000000000000000000000000,"bis1":[35.46,10],"ask1":[45,1.715],"upOrDown":1,"pricePrecision":2,"volumePrecision":3,"order":42,"areaId":4,"canBuy":1,"canSell":1,"stopDesc":"plz
        move to EOS/BTC pair|请撤单并前往BTC区交易","quoteCurrencyName":"软妹币FatCNY","baseCurrencyName":"EOS","minBuyVolume":0.10000000,"minBuyAmount":0E-8,"minSellVolume":0.10000000,"fixedBuyPrice":0E-8,"weekOpen":33.60,"siteId":1},"gearfcny_ticker":{"status":1,"msg":"success","dspName":"GEAR/FCNY","symbol":"gearfcny","timestamp":1537170628748,"open":0.1102,"high":0.1241,"low":0.0986,"close":0.1114,"count":1467,"volume":8098392,"amount":922828.3330,"bis1":[0.0500,3525],"ask1":[0.1256,3656],"upOrDown":-1,"pricePrecision":4,"volumePrecision":0,"order":63,"areaId":4,"canBuy":1,"canSell":1,"stopDesc":"Open
        at 14:00 July  18th|7月18日14:00开始交易","quoteCurrencyName":"软妹币FatCNY","baseCurrencyName":"Smart
        Gear","minBuyVolume":50.00000000,"minBuyAmount":0E-8,"minSellVolume":50.00000000,"fixedBuyPrice":0E-8,"weekOpen":0.1127,"siteId":1},"kinfcny_ticker":{"status":1,"msg":"success","dspName":"KIN/FCNY","symbol":"kinfcny","timestamp":1537170628776,"open":0.000444,"high":0.000470000000000000,"low":0.000441,"close":0.000469000000000000,"count":667,"volume":730451413.000000000000000000,"amount":326895.782948000000000000000000000000000000,"bis1":[0.000469,488194],"ask1":[0.000470,229836],"upOrDown":-1,"pricePrecision":6,"volumePrecision":0,"order":111,"areaId":4,"canBuy":1,"canSell":1,"stopDesc":"plz
[...]
