---
http_interactions:
- request:
    method: get
    uri: https://btc-alpha.com/api/charts/LHCoin_ETH/D/chart?limit=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/charts/LHCoin_ETH/D/chart/?limit=1"
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 25 May 2018 08:59:45 GMT
- request:
    method: get
    uri: https://btc-alpha.com/api/charts/LHCoin_ETH/D/chart/?limit=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"e31d641d9ca38442dc38d04cc0ede63c"'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '[{"time":1526342400,"open":0.00007,"close":0.00007,"low":0.00007,"high":0.00007,"volume":408.55885714}]'
  recorded_at: Fri, 25 May 2018 08:59:47 GMT
recorded_with: VCR 4.0.0
