---
http_interactions:
- request:
    method: get
    uri: https://btc-alpha.com/api/v1/pairs/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"6f08167027c2538d41777b5fa70fba1c"'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '[{"name":"AC3_BTC","currency1":"AC3","currency2":"BTC","price_precision":8,"minimum_order_size":"0.00001000","maximum_order_size":"100000000.00000000"},{"name":"AC3_ETH","currency1":"AC3","currency2":"ETH","price_precision":6,"minimum_order_size":"0.00001000","maximum_order_size":"100000000.00000000"},{"name":"AC3_USD","currency1":"AC3","currency2":"USD","price_precision":4,"minimum_order_size":"0.00001000","maximum_order_size":"100000000.00000000"},{"name":"ACT_BTC","currency1":"ACT","currency2":"BTC","price_precision":8,"minimum_order_size":"0.00001000","maximum_order_size":"100000000.00000000"},{"name":"ACT_USD","curren[...]
