---
http_interactions:
- request:
    method: get
    uri: https://btc-alpha.com/api/v1/orderbook/BTC_USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/v1/orderbook/BTC_USD/"
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Mar 2018 02:30:27 GMT
- request:
    method: get
    uri: https://btc-alpha.com/api/v1/orderbook/BTC_USD/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"6261030afe8cd055b27d6db8f599312b"'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"sell":[{"id":15992643,"timestamp":1520475713.0470569134,"price":9963.396,"amount":0.01452},{"id":15992621,"timestamp":1520475683.3695878983,"price":9965.662,"amount":0.006046},{"id":15992527,"timestamp":1520475580.1468849182,"price":9973.799,"amount":0.000044},{"id":15992043,"timestamp":1520475185.1177330017,"price":9997.077,"amount":0.016693},{"id":15991708,"timestamp":1520474795.4191479683,"price":10030.037,"amount":0.003225},{"id":15991612,"timestamp":1520474702.937443018,"price":10036.423,"amount":0.008724},{"id":15991602,"timestamp":1520474690.8284881115,"price":10038.48[...]
