---
http_interactions:
- request:
    method: get
    uri: https://btc-alpha.com/api/v1/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/v1/pairs/"
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Mar 2018 02:30:23 GMT
- request:
    method: get
    uri: https://btc-alpha.com/api/v1/pairs/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"b6c5eb7313b4f360a777f6aa07b11059"'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '[{"name":"AC3_BTC","currency1":"AC3","currency2":"BTC","price_precision":8,"minimum_order_size":"0.00001000","maximum_order_size":"100000000.00000000"},{"name":"AC3_ETH","currency1":"AC3","currency2":"ETH","price_precision":6,"minimum_order_size":"0.00001000","maximum_order_size":"100000000.00000000"},{"name":"AC3_USD","currency1":"AC3","currency2":"USD","price_precision":4,"minimum_order_size":"0.00001000","maximum_order_size":"100000000.00000000"},{"name":"ATB_BTC","currency1":"ATB","currency2":"BTC","price_precision":8,"minimum_order_size":"0.00001000","maximum_order_size":"100000000.00000000"},{"name":"BBR_BTC","curren[...]
