---
http_interactions:
- request:
    method: get
    uri: https://btc-alpha.com/api/v1/orderbook/LHCoin_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/v1/orderbook/LHCoin_ETH/"
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Sep 2018 12:07:10 GMT
- request:
    method: get
    uri: https://btc-alpha.com/api/v1/orderbook/LHCoin_ETH/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"5eda386cb244969cf48bcac0bf03622d"'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"sell":[{"id":23760596,"timestamp":1531407077.2132589817,"price":0.0005,"amount":47.87098923},{"id":21968912,"timestamp":1529317515.6192820072,"price":0.0006,"amount":160.0},{"id":25925272,"timestamp":1533818513.7139830589,"price":0.0013,"amount":2270.0},{"id":16215973,"timestamp":1520763574.096832037,"price":0.0049,"amount":500.0},{"id":21654819,"timestamp":1528856112.0518488884,"price":0.006,"amount":9.0},{"id":16848100,"timestamp":1521649119.401061058,"price":0.00698,"amount":2.284},{"id":16199731,"timestamp":1520737664.2090990543,"price":0.00699,"amount":2.0},{"id":17346[...]
