---
http_interactions:
- request:
    method: get
    uri: https://btc-alpha.com/api/charts/BTC_USD/1/chart?limit=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/charts/BTC_USD/1/chart/?limit=1"
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Mar 2018 02:30:25 GMT
- request:
    method: get
    uri: https://btc-alpha.com/api/charts/BTC_USD/1/chart/?limit=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"813b234ed2f7d239446c9a143a3b7a6c"'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '[{"time":1520476200,"open":9934.664,"close":9936.719,"low":9934.664,"high":9936.719,"volume":0.098484}]'
  recorded_at: Thu, 08 Mar 2018 02:30:26 GMT
recorded_with: VCR 4.0.0
