---
http_interactions:
- request:
    method: get
    uri: https://btc-alpha.com/api/v1/ticker/?format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"1b62b629a93d0e129c80cd8700910d4e"'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '[{"timestamp":1536913116.8231329918,"pair":"AC3_BTC","last":0.00000517,"diff":-41.39,"vol":159598.00372309,"high":0.00000739,"low":0.00000517,"buy":0.00000522,"sell":0.0000074},{"timestamp":1536895667.0045781136,"pair":"AC3_ETH","last":0.000343,"diff":8.75,"vol":6844.81961142,"high":0.000343,"low":0.000308,"buy":0.000162,"sell":0.000343},{"timestamp":1536924122.6184821129,"pair":"AC3_USD","last":0.042,"diff":-5.0,"vol":24809.47679424,"high":0.0444,"low":0.042,"buy":0.042,"sell":0.0444},{"timestamp":1536924788.2937009335,"pair":"ACT_BTC","last":0.00000331,"diff":0,"vol":0,"high":0,"low":0,"buy":0.00000334,"sell":0.00000749},{"timestamp":1536860103.8057909012,[...]
