---
http_interactions:
- request:
    method: get
    uri: https://btc-alpha.com/api/charts/BTC_USD/D/chart?limit=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/charts/BTC_USD/D/chart/?limit=1"
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 22 Mar 2018 15:35:59 GMT
- request:
    method: get
    uri: https://btc-alpha.com/api/charts/BTC_USD/D/chart/?limit=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"12a45bb503af27a0648e071b07bd8663"'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '[{"time":1521676800,"open":9167.0,"close":8850.79,"low":8707.208,"high":9367.85,"volume":76.03202}]'
  recorded_at: Thu, 22 Mar 2018 15:35:59 GMT
recorded_with: VCR 4.0.0
