---
http_interactions:
- request:
    method: get
    uri: https://btc-alpha.com/api/v1/orderbook/LHCoin_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/v1/orderbook/LHCoin_ETH/"
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 25 May 2018 08:59:48 GMT
- request:
    method: get
    uri: https://btc-alpha.com/api/v1/orderbook/LHCoin_ETH/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"26aab4474f460602e6725116c0f02c1b"'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"sell":[{"id":18526439,"timestamp":1524484480.0452969074,"price":0.000125,"amount":1.0},{"id":16506899,"timestamp":1521175472.470774889,"price":0.000245,"amount":432.73088041},{"id":19218198,"timestamp":1525443280.3807039261,"price":0.0006,"amount":188.0},{"id":18567616,"timestamp":1524555092.9953510761,"price":0.00069,"amount":449.74682621},{"id":18567630,"timestamp":1524555143.7288589478,"price":0.0013,"amount":600.0},{"id":17673000,"timestamp":1522937910.0653870106,"price":0.0014,"amount":160.12541441},{"id":16228796,"timestamp":1520781269.8038709164,"price":0.001689,"amoun[...]
