---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.com/12lian/quote/realTime?baseCurrencyId=1&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"attachment":{"buy":0.05562228,"high":0.075,"last":0.05545147,"low":0.05451657,"sell":0.05545147,"vol":179.54863712,"currencyId":3,"baseCurrencyId":1},"message":"","status":200}'
  recorded_at: Wed, 01 Aug 2018 01:13:36 GMT
recorded_with: VCR 4.0.0
