---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.com/12lian/coin/allCurrencyRelations
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"attachment":[{"id":1,"baseCurrencyId":"1","tradeCurrencyId":"2","baseCurrencyName":"Bitcoin","baseCurrencyNameEn":"BTC","tradeCurrencyName":"Litecoin","tradeCurrencyNameEn":"LTC","amountLowLimit":0.0,"amountHighLimit":9999999.0,"sellAmountLowLimit":0.0,"sellAmountHighLimit":9999999.0},{"id":2,"baseCurrencyId":"1","tradeCurrencyId":"3","baseCurrencyName":"Bitcoin","baseCurrencyNameEn":"BTC","tradeCurrencyName":"Ethereum","tradeCurrencyNameEn":"ETH","amountLowLimit":0.01,"amountHighLimit":999999.0,"sellAmountLowLimit":0.01,"sellAmountHighLimit":999999.0},{"id":5,"baseCurrencyId":"1","tradeCurrencyId":"6","baseCurrencyName":"Bitcoin","baseCurrencyNameEn":"BTC","tradeCurrencyName":"Lisk","tradeCurrencyNameEn":"LSK","amountLowLimit":1.0E-4,"amountHighLimit":999999.0,"se[...]
