---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.info/unique/quote/realTime?baseCurrencyId=1&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - 0b7e99c,-
    body:
      encoding: UTF-8
      string: '{"attachment":{"buy":0.028023,"high":0.028984,"last":0.028106,"low":0.02786,"sell":0.028198,"vol":17666.645,"currencyId":3,"baseCurrencyId":1,"tradeCurrencyName":null,"baseCurrencyName":null,"changeRate":-2.71,"changeAmount":-7.84E-4,"rmbScale":null},"message":null,"status":200}'
  recorded_at: Thu, 09 May 2019 08:37:44 GMT
recorded_with: VCR 4.0.0
