---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.info/unique/quote/tradeDeepin?baseCurrencyId=1&limit=20&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - b80cdc3,-
    body:
      encoding: UTF-8
      string: '{"attachment":{"asks":[["0.02821500","0.634"],["0.02821600","4.800"],["0.02821700","12.473"],["0.02821900","1.213"],["0.02822100","0.746"],["0.02822200","1.054"],["0.02822300","10.800"],["0.02822400","6.000"],["0.02822500","2.400"],["0.02822800","0.216"],["0.02822900","6.000"],["0.02823000","6.000"],["0.02823200","5.923"],["0.02823300","8.581"],["0.02823600","6.000"],["0.02823700","0.150"],["0.02824100","0.605"],["0.02825100","3.342"],["0.02825200","0.085"],["0.02825300","0.217"]],"bids":[["0.02804400","3.000"],["0.02804200","16.540"],["0.02804000","0.746"],["0.02803500","0.223"],["0.02803300","14.385"],["0.02802600","8.685"],["0.02802500","3.000"],["0.02802200","14.385"],["0.02802100","1.500"],["0.02801900","0.442"],["0.02801800","1.500"],["0.02801700","2.385"],["0.02801600","3.838"],["0.02801400","3.180"],["0.02801000","3.000"],["0.02800400","4.270"],["0.02800200","0.427"],["0.02800000","0.150"],["0.02798800","2.746"],["0.02798200","0.180"]]},"message":null,"status":200}'
  recorded_at: Thu, 09 May 2019 08:52:44 GMT
recorded_with: VCR 4.0.0
