---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.info/unique/quote/tradeHistory?baseCurrencyId=1&limit=20&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - 267fe93,-
    body:
      encoding: UTF-8
      string: '{"attachment":[{"date":"1549959871049","price":0.033418,"amount":0.014469994,"number":0.433,"coinCode":3,"baseCurrencyId":1,"tid":"15499598710490005341011100384537","type":"buy","buyOrSellTrade":1},{"date":"1549959877852","price":0.033419,"amount":0.021622093,"number":0.647,"coinCode":3,"baseCurrencyId":1,"tid":"15499598778520005341011100398127","type":"buy","buyOrSellTrade":1},{"date":"1549959878609","price":0.033418,"amount":0.143162712,"number":4.284,"coinCode":3,"baseCurrencyId":1,"tid":"15499598786090005341011100354901","type":"sell","buyOrSellTrade":2},{"date":"1549959883829","price":0.033411,"amount":0.027196554,"number":0.814,"coinCode":3,"baseCurrencyId":1,"tid":"15499598838290[...]
