---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.info/unique/coin/allCurrencyRelations
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - 7f50332,-
    body:
      encoding: UTF-8
      string: '{"attachment":[{"id":1,"baseCurrencyId":"1","tradeCurrencyId":"2","baseCurrencyName":"Bitcoin","baseCurrencyNameEn":"BTC","tradeCurrencyName":"Litecoin","tradeCurrencyNameEn":"LTC","amountLowLimit":0.03,"amountHighLimit":9999999.0,"sellAmountLowLimit":0.03,"sellAmountHighLimit":9999999.0},{"id":2,"baseCurrencyId":"1","tradeCurrencyId":"3","baseCurrencyName":"Bitcoin","baseCurrencyNameEn":"BTC","tradeCurrencyName":"Ethereum","tradeCurrencyNameEn":"ETH","amountLowLimit":0.01,"amountHighLimit":999999.0,"sellAmountLowLimit":0.01,"sellAmountHighLimit":999999.0},{"id":5,"baseCurrencyId":"1","tradeCurrencyId":"6","baseCurrencyName":"Bitcoin","baseCurrencyNameEn":"BTC","tradeCurrencyName":"Lisk","tradeCurrencyNameEn":"LSK","amountLowLimit":0.01,"amountHighLimit":999999.0,"sell[...]
- request:
    method: get
    uri: https://www.chaoex.info/unique/quote/realTime?baseCurrencyId=1&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - f1b6cf5,-
    body:
      encoding: UTF-8
      string: '{"attachment":{"buy":0.03359,"high":0.03436,"last":0.033688,"low":0.033595,"sell":0.033805,"vol":19337.707,"currencyId":3,"baseCurrencyId":1,"tradeCurrencyName":null,"baseCurrencyName":null,"changeRate":-0.79,"changeAmount":-2.68E-4,"rmbScale":null},"message":null,"status":200}'
  recorded_at: Thu, 14 Feb 2019 11:12:19 GMT
recorded_with: VCR 4.0.0
