---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.info/unique/quote/tradeHistory?baseCurrencyId=1&limit=20&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - b80cdc3,-
    body:
      encoding: UTF-8
      string: '{"attachment":[{"date":"1557390923885","price":0.028092,"amount":0.07697208,"number":2.74,"coinCode":3,"baseCurrencyId":1,"tid":"15573909238850005341281100353979","type":"sell","buyOrSellTrade":2},{"date":"1557390927650","price":0.028091,"amount":0.024888626,"number":0.886,"coinCode":3,"baseCurrencyId":1,"tid":"15573909276500005341281100336748","type":"sell","buyOrSellTrade":2},{"date":"1557390930929","price":0.028092,"amount":0.100653636,"number":3.583,"coinCode":3,"baseCurrencyId":1,"tid":"15573909309290005341281100322583","type":"buy","buyOrSellTrade":1},{"date":"1557390932454","price":0.028092,"amount":0.009467004,"number":0.337,"coinCode":3,"baseCurrencyId":1,"tid":"15573909324540[...]
