---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.info/unique/quote/realTime?baseCurrencyId=1&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - 267fe93,-
    body:
      encoding: UTF-8
      string: '{"attachment":{"buy":0.033301,"high":0.033754,"last":0.033404,"low":0.033045,"sell":0.033432,"vol":22627.608,"currencyId":3,"baseCurrencyId":1,"tradeCurrencyName":null,"baseCurrencyName":null,"changeRate":0.75,"changeAmount":2.48E-4,"rmbScale":null},"message":null,"status":200}'
  recorded_at: Tue, 12 Feb 2019 08:25:44 GMT
recorded_with: VCR 4.0.0
