---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.info/unique/quote/tradeHistory?baseCurrencyId=1&limit=20&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - b80cdc3,-
    body:
      encoding: UTF-8
      string: '{"attachment":[{"date":"1557391812431","price":0.028147,"amount":0.001491791,"number":0.053,"coinCode":3,"baseCurrencyId":1,"tid":"15573918124310005341281100387144","type":"buy","buyOrSellTrade":1},{"date":"1557391821126","price":0.028145,"amount":0.04863456,"number":1.728,"coinCode":3,"baseCurrencyId":1,"tid":"15573918211260015341281100387944","type":"sell","buyOrSellTrade":2},{"date":"1557391821126","price":0.028146,"amount":0.026541678,"number":0.943,"coinCode":3,"baseCurrencyId":1,"tid":"15573918211260005341281100382407","type":"sell","buyOrSellTrade":2},{"date":"1557391822143","price":0.028145,"amount":0.09743799,"number":3.462,"coinCode":3,"baseCurrencyId":1,"tid":"155739182214300[...]
