---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.info/unique/coin/allCurrencyRelations
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - 0b7e99c,-
    body:
      encoding: UTF-8
      string: '{"attachment":[{"id":1,"baseCurrencyId":"1","tradeCurrencyId":"2","baseCurrencyName":"Bitcoin","baseCurrencyNameEn":"BTC","tradeCurrencyName":"Litecoin","tradeCurrencyNameEn":"LTC","amountLowLimit":0.03,"amountHighLimit":9999999.0,"sellAmountLowLimit":0.03,"sellAmountHighLimit":9999999.0,"pointNum":2,"pointPrice":6},{"id":2,"baseCurrencyId":"1","tradeCurrencyId":"3","baseCurrencyName":"Bitcoin","baseCurrencyNameEn":"BTC","tradeCurrencyName":"Ethereum","tradeCurrencyNameEn":"ETH","amountLowLimit":0.01,"amountHighLimit":999999.0,"sellAmountLowLimit":0.01,"sellAmountHighLimit":999999.0,"pointNum":3,"pointPrice":6},{"id":5,"baseCurrencyId":"1","tradeCurrencyId":"6","baseCurrencyName":"Bitcoin","baseCurrencyNameEn":"BTC","tradeCurrencyName":"Lisk","tradeCurrencyNameEn":"LSK","amountLowLimit":0.01,"amountHighL[...]
