---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.info/unique/quote/tradeDeepin?baseCurrencyId=1&limit=20&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - 267fe93,-
    body:
      encoding: UTF-8
      string: '{"attachment":{"asks":[["0.03343200","2.960"],["0.03346300","0.423"],["0.03346400","4.800"],["0.03346500","0.898"],["0.03346700","1.701"],["0.03346800","0.396"],["0.03347200","0.201"],["0.03347400","0.848"],["0.03347900","2.386"],["0.03349000","0.220"],["0.03349900","2.400"],["0.03350000","3.191"],["0.03350100","0.743"],["0.03350600","2.145"],["0.03351000","38.755"],["0.03351100","5.797"],["0.03351300","15.264"],["0.03351400","5.406"],["0.03351600","0.300"],["0.03351900","0.343"]],"bids":[["0.03330100","0.975"],["0.03329500","0.862"],["0.03328700","19.746"],["0.03328300","1.786"],["0.03328100","2.172"],["0.03327700","0.281"],["0.03327600","8.978"],["0.03327500","5.386"],["0.03327200","5.388"],["0.03327100","5.385"],["0.03326600","2.939"],["0.03326500","3.363"],["0.03326300","2.064"],["0.03326100","5.387"],["0.03326000","5.659"],["0.03325800","2.510"],["0.03325400","40.350"],["0.03325300","6.973"],["0.03325200","7.080"],["0.03325000","1.006"]]},"message":null,"status":200}'
  recorded_at: Tue, 12 Feb 2019 08:25:46 GMT
recorded_with: VCR 4.0.0
