---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.com/12lian/quote/tradeDeepin?baseCurrencyId=1&limit=20&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"attachment":{"asks":[["0.05545147","0.00446109"],["0.05562228","0.00597632"],["0.05584451","0.00556868"],["0.05620000","0.6186590000000000"],["0.05673510","0.34540000"],["0.05690000","0.03687565"],["0.05710000","0.04697335"],["0.05726000","0.03292332"],["0.05752117","4.65354000"],["0.05791500","0.03231095"],["0.05813000","0.01327560"],["0.05842648","0.03718599"],["0.05864849","0.10791120"],["0.05884908","0.03453454"],["0.05908306","0.02534543"],["0.05924187","0.01498627"],["0.05943187","0.00650606"],["0.05983431","0.00346546"],["0.06125612","0.00656460"],["0.06142561","0.00465460"]],"bids":[["0.05514755","0.07421891"],["0.05475516","0.00727453"],["0.05451657","0.02077720"],["0.05442451","0.01643454"],["0.05434245","0.01534540"],["0.05421342","0.01534500"],["0.05405213","0.02534540"],["0.05384052","0.03453454"],["0.05365840","0.01534540"],["0.05346584","0.01123454"],["0.05325465","0.03453454"],["0.05304254","0.01534500"],["0.05289304","0.01645340"],["0.05264893","0.25345400"],["0.05245165","0.01534540"],["0.05225464","0.03436645"],["0.05205425","0.02534540"],["0.0500000000000000","0.2310000000000000"],["0.0490000000000000","0.0131200000000000"],["0.0480000000000000","0.0231000000000000"]]},"message":"","status":200}'
  recorded_at: Wed, 01 Aug 2018 01:13:36 GMT
recorded_with: VCR 4.0.0
