---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.com/12lian/quote/tradeHistory?baseCurrencyId=1&limit=20&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"attachment":[{"date":"1533082498784","price":0.05545147,"amount":0.02985385,"number":0.538378,"coinCode":3,"baseCurrencyId":1,"tid":"15330824987845210381801000385081","type":"buy","buyOrSellTrade":1},{"date":"1533082499949","price":0.05545147,"amount":0.06291191,"number":1.13454,"coinCode":3,"baseCurrencyId":1,"tid":"15330824999495230381801000364670","type":"buy","buyOrSellTrade":1},{"date":"1533082500909","price":0.05545147,"amount":0.00746044,"number":0.13454,"coinCode":3,"baseCurrencyId":1,"tid":"15330825009095240381801000378457","type":"buy","buyOrSellTrade":1},{"date":"1533082502018","price":0.05545147,"amount":0.01305604,"number":0.23545,"coinCode":3,"baseCurrencyId":1,"tid":"153308[...]
