---
http_interactions:
- request:
    method: get
    uri: https://www.chaoex.info/unique/quote/tradeDeepin?baseCurrencyId=1&limit=20&tradeCurrencyId=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - b80cdc3,-
    body:
      encoding: UTF-8
      string: '{"attachment":{"asks":[["0.02819800","0.673"],["0.02820200","0.826"],["0.02820300","4.800"],["0.02821100","1.225"],["0.02821200","6.000"],["0.02821400","3.900"],["0.02821500","0.227"],["0.02821600","3.463"],["0.02821800","3.198"],["0.02822100","0.330"],["0.02822200","0.190"],["0.02822300","0.150"],["0.02822600","3.009"],["0.02822900","0.180"],["0.02823000","0.484"],["0.02823400","0.146"],["0.02823500","0.180"],["0.02823600","4.248"],["0.02823700","5.247"],["0.02862300","2.680"]],"bids":[["0.02802300","0.868"],["0.02802200","4.800"],["0.02802100","21.000"],["0.02801800","0.837"],["0.02801700","7.636"],["0.02801500","0.648"],["0.02801400","0.223"],["0.02801300","2.375"],["0.02801100","0.649"],["0.02801000","3.466"],["0.02800900","11.841"],["0.02800400","2.150"],["0.02799700","1.390"],["0.02799500","5.400"],["0.02798500","0.150"],["0.02797800","4.274"],["0.02797300","3.900"],["0.02796500","0.600"],["0.02796400","5.437"],["0.02796300","4.276"]]},"message":null,"status":200}'
  recorded_at: Thu, 09 May 2019 08:37:45 GMT
recorded_with: VCR 4.0.0
