---
http_interactions:
- request:
    method: get
    uri: https://spotusd-data.btcc.com/data/pro/ticker?symbol=BTCUSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
      X-Proxy-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":{"BidPrice":4420,"AskPrice":4478,"Open":4392.99,"High":4485,"Low":4420,"Last":4420,"LastQuantity":0.104,"PrevCls":4485,"Volume":0.4906,"Volume24H":11.9049,"Timestamp":1507003444245,"ExecutionLimitDown":3751.3,"ExecutionLimitUp":5075.3}}'
  recorded_at: Tue, 03 Oct 2017 04:04:24 GMT
recorded_with: VCR 3.0.3
