---
http_interactions:
- request:
    method: get
    uri: https://api.huobi.com/market/detail/merged?symbol=ethusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.ethusd.detail.merged","ts":1549953800276,"tick":{"amount":0.188,"open":119.23,"close":119.6,"high":122.36,"id":100039526773,"count":1,"low":117.69,"version":100039526773,"ask":[119.82,1.2401],"vol":19.21924,"bid":[119.45,17.226]}}'
  recorded_at: Tue, 12 Feb 2019 06:43:20 GMT
recorded_with: VCR 4.0.0
