---
http_interactions:
- request:
    method: get
    uri: https://api.huobi.com/market/depth?symbol=ethusd&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.ethusd.depth.step0","ts":1556794578060,"tick":{"bids":[[158.39,0.4853],[158.37,13.007],[158.27,60.3142],[158.15,2.5],[158.14,3.5423],[158.11,0.3322],[158.1,6.7695],[158.0,5.2701],[157.89,2.6964],[157.87,0.9072],[157.85,2.4129],[157.75,22.6966],[157.71,36.0122],[157.68,1.5864],[157.67,2.4157],[157.46,4.0076],[157.4,41.3563],[157.12,1.3215],[157.11,48.6975],[156.76,48.7513],[156.56,825.5051],[156.18,323.5966],[155.8,980.9122],[155.42,276.8572],[155.04,1068.793],[152.65,0.1508],[151.0,14.1579],[149.51,8.0],[149.11,8.0],[149.0,76.9968],[148.55,0.0055],[...]
