---
http_interactions:
- request:
    method: get
    uri: https://api.huobi.com/market/history/trade?size=2000&symbol=ethusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","ch":"market.ethusd.trade.detail","ts":1557914744512,"data":[{"id":100148620929,"ts":1557202702508,"data":[{"id":"10014862092932097666720","amount":0.2185,"price":177.11,"direction":"sell","ts":1557202702508}]},{"id":100148417773,"ts":1557190560181,"data":[{"id":"10014841777331657815434","amount":1.5,"price":180,"direction":"sell","ts":1557190560181}]},{"id":100148204641,"ts":1557173720780,"data":[{"id":"10014820464132056865701","amount":0.2065,"price":173.42,"direction":"buy","ts":1557173720780}]},{"id":100144579659,"ts":1556942868095,"data":[{"id":"10014457965931749844857","amount":0.1551,"price":163.01,"direction":"buy","ts":1556942868095}]},{"id":100144523166,"ts":15569[...]
