---
http_interactions:
- request:
    method: get
    uri: https://api.huobi.com/v1/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - bitex-gateway:us-prd1:8001
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"base-currency":"etc","quote-currency":"btc","price-precision":6,"amount-precision":4,"symbol-partition":"main"},{"base-currency":"usdt","quote-currency":"usd","price-precision":4,"amount-precision":4,"symbol-partition":"main"},{"base-currency":"ont","quote-currency":"btc","price-precision":8,"amount-precision":4,"symbol-partition":"main"},{"base-currency":"ont","quote-currency":"eth","price-precision":8,"amount-precision":4,"symbol-partition":"main"},{"base-currency":"btc","quote-currency":"usd","price-precision":2,"amount-precision":4,"symbol-partition":"main"},{"base-currency":"ltc","quote-curre[...]
