---
http_interactions:
- request:
    method: get
    uri: http://api.bilaxy.com/v1/orders?symbol=16
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"200","data":[{"date":1528249184,"count":"5","amount":"0.0955","type":"sell","price":"0.0191"},{"date":1528164556,"count":"5","amount":"0.09515","type":"sell","price":"0.01903"},{"date":1528159633,"count":"1.998","amount":"0.03798198","type":"sell","price":"0.01901"},{"date":1528156641,"count":"0.801","amount":"0.01522701","type":"sell","price":"0.01901"},{"date":1528079889,"count":"40.77177845","amount":"0.76650943","type":"sell","price":"0.0188"},{"date":1528014171,"count":"2.8569","amount":"0.05430967","type":"sell","price":"0.01901"},{"date":1528010895,"count":"2.8598","amou[...]
