---
http_interactions:
- request:
    method: get
    uri: http://api.bilaxy.com/v1/ticker?symbol=16
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"200","data":{"high":"0.0191","vol":"5","last":"0.0191","low":"0.0191","buy":"0.019062","sell":"0.0299"}}'
  recorded_at: Wed, 06 Jun 2018 03:41:16 GMT
recorded_with: VCR 4.0.0
