---
http_interactions:
- request:
    method: get
    uri: http://api.bilaxy.com/v1/depth?merge=4&symbol=16
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"200","data":{"asks":"[[0.019062,66.38292624,1.26539133998688],[0.019061,53.78521588,1.02519999988868],[0.01906,235.67001836,4.4918705499416],[0.01905,100.0,1.9049999999999998],[0.01903,9.55859169,0.1818999998607],[0.018,4.66666666,0.08399999988],[0.0136,80.09558823,1.089299999928],[0.008654,11.0,0.095194],[0.0076,12.0,0.0912],[0.0067,89.00000000000006,0.5962999999999998],[0.0066,11.0,0.0726],[0.0055,60.0,0.32999999999999996],[9.9E-4,11.0,0.01089],[8.7E-4,11.000000000000028,0.009569999999999995],[4.5E-4,23.0,0.01035],[4.4E-4,123.0,0.05412],[3.32E-4,11.0,0.003652],[2.0E-4,11.0,0.0022],[1.1E-4,111.0,0.01221],[1.0E-8,10000.0,1.0E-4]]","bids":"[[0.0299,74.27266661,2.220752731639],[0.03,4.30569,0.1291707],[0.0366,1.0,0.0366],[0.0377,3.0,0.11309999999999999],[0.038,1.0,0.038],[0.0388,12.0,0.4656],[0.0399,11.0,0.43889999999999996],[0.0411,4.0,0.1644],[0.0444,12.0,0.5328],[0.05441,12.0,0.65292],[0.14223,12.0,1.70676],[0.23,4.0,0.92],[0.2453,3.0,0.7359],[0.33,1.0,0.33],[0.34,2.0,0.68],[0.4,4.0,1.6],[0.43,2.0,0.86],[0.44,1.0,0.44],[0.5,9.0,4.5]]"}}'
  recorded_at: Wed, 06 Jun 2018 03:41:17 GMT
recorded_with: VCR 4.0.0
