---
http_interactions:
- request:
    method: get
    uri: https://newapi.bilaxy.com/v1/trades?pair=EOS_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '198'
      X-Ratelimit-Reset:
      - '1577774176'
    body:
      encoding: UTF-8
      string: '[{"id":358261180,"price":"0.019874","amount":"92.95","total":"1.84728830","ts":1577774155713,"direction":"buy"},{"id":358261178,"price":"0.019872","amount":"87.28","total":"1.73442816","ts":1577774155702,"direction":"buy"},{"id":358261176,"price":"0.019871","amount":"31.86","total":"0.63309006","ts":1577774155692,"direction":"buy"},{"id":358261174,"price":"0.019868","amount":"98.89","total":"1.96474652","ts":1577774155681,"direction":"buy"},{"id":358261172,"price":"0.019864","amount":"18.55","total":"0.36847720","ts":1577774155669,"direction":"buy"},{"id":358261170,"price":"0.019858","amount":"35.2[...]
