---
http_interactions:
- request:
    method: get
    uri: https://newapi.bilaxy.com/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1577774119'
    body:
      encoding: UTF-8
      string: '{"ABYSS_ETH":{"height":"0.00008","open":"0.0000696","low":"0.00005235","close":"0.00008","base_volume":"227213.5","quote_volume":"13.995725360","price_change":"0.149425","trade_enabled":true},"ACM_USDT":{"height":"0.04186","open":"0.03956","low":"0.03764","close":"0.03778","base_volume":"146510.05","quote_volume":"5674.3789809","price_change":"-0.044995","trade_enabled":true},"AERGO_ETH":{"height":"0.0002075","open":"0.0001928","low":"0.0001641","close":"0.0001942","base_volume":"16746048.9","quote_volume":"3258.36104311","price_change":"0.007261","trade_enabled":true},"AGI_BTC":{"height":"0.00000246","open":"0.00000246","low":"0.00000231","close":"0.00000236","base_volume":"4132619.0","quote_volume":"9.832303420","price_change":"-0.040650","trade_enabled":true},"AION_BTC":{"height":"0.00000782","open":"0.00000772","low":"0.00000726","close":"0.00000733","base_volume":"9099991.0","quote_volume":"69.099939200","price_change":"-0.050518","trade_enabled":true},"ALGO_ETH":{"height":"0.001753","open":"0.001717","low":"0.001674","close":"0.00168","base_volume":"26152915.4031","quote_volume":"44982.2462892989","price_change":"-0.021549","trade_enabled":true},"ALGO_USDT":{"height":"0.2345","open":"0.2321","low":"0.2221","close":"0.2239","base_volume":"22879165.39","quote_volume":"5207760.611109","price_change":"-0.035330","trade_enabled":true},"AMB_ETH":{"height":"0.00011506","open":"0.00011254","low":"0.00010517","close":"0.00010905","base_volume":"9296515.0","quote_volume":"1017.160550310","price_change":"-0.031011","trade_enabled":true},"ANKR_USDT":{"height":"0.00155","open":"0.001546","low":"0.001462","close":"0.001497","base_volume":"170766737.0","quote_volume":"257386.2664300","price_change":"-0.031695","trade_enabled":true},"ARDR_BTC":{"height":"0.00000546","open":"0.00000545","low":"0.00000525","close":"0.00000535","base_volume":"14731300.0","quote_volume":"78.698480220","price_change":"-0.018349","trade_enabled":true},"ARDR_ETH":{"height":"0.00030541","open":"0.0002957","low":"0.00028969","close":"0.00029015","base_volume":"15241683.0","quote_volume":"4515.857010470","price_change":"-0.018769","trade_enabled":true},"ARK_BTC":{"height":"0.00002063","open":"0.00002059","low":"0.00001981","close":"0.00002006","base_volume":"2559432.0","quote_volume":"51.658110180","price_change":"-0.025741","trade_enabled":true},"ARN_BTC":{"height":"0.00001874","open":"0.00001823","low":"0.00001781","close":"0.00001841","base_volume":"12186639.0","quote_volume":"222.090572920","price_change":"0.009874","trade_enabled":true},"ARPA_BTC":{"height":"0.00000139","open":"0.00000139","low":"0.00000126","close":"0.00000126","base_volume":"4309020.0","quote_volume":"5.675758310","price_change":"-0.093525","trade_enabled":true},"ARRR_USDT":{"height":"0.0261","open":"0.0257","low":"0.0257","close":"0.02571","base_volume":"31075.5","quote_volume":"800.703793","price_change":"0.000389","trade_enabled":true},"AR_USDT":{"height":"0.818","open":"0.784","low":"0.781","close":"0.817","base_volume":"2037102.14","quote_volume":"1624799.65878","price_change":"0.042092","trade_enabled":true},"ASA_ETH":{"height":"0.00000054","open":"0.00000014","low":"0.00000014","close":"1.4E-7","base_volume":"1800000.00000000","quote_volume":"0.3513053657320448","price_change":"0.000000","trade_enabled":true},"AST_ETH":{"height":"0.0001417","open":"0.0001344","low":"0.0001311","close":"0.0001345","base_volume":"27437877.0","quote_volume":"3725.23184690","price_change":"0.000744","trade_enabled":true},"ATOM_USDT":{"height":"4.405","open":"4.299","low":"4.113","close":"4.183","base_volume":"1095211.887","quote_volume":"4630158.938453","price_change":"-0.026983","trade_enabled":true},"BAND_USDT":{"height":"0.2551","open":"0.2441","low":"0.2277","close":"0.2287","base_volume":"1328421.89","quote_volume":"319508.313530","price_change":"-0.063089","trade_enabled":true},"BAT_USDT":{"height":"0.1995","open":"0.1964","low":"0.1859","close":"0.1883","base_volume":"4077480.72","quote_volume":"785682.098738","price_change":"-0.041242","trade_enabled":true},"BEPRO_USDT":{"height":"0.00129224","open":"0.00123239","low":"0.00120162","close":"0.00129224","base_volume":"29811.54","quote_volume":"36.8469192169","price_change":"0.048564","trade_enabled":true},"BIA_BNB":{"height":"0.0001925","open":"0.0001598","low":"0.0001451","close":"0.0001527","base_volume":"153962.0","quote_volume":"24.08288240","price_change":"-0.044431","trade_enabled":true},"BIA_BTC":{"height":"0.00000032","open":"0.0000003","low":"0.0000003","close":"3.2E-7","base_volume":"579.0","quote_volume":"0.000181280","price_change":"0.066667","trade_enabled":true},"BIA_ETH":{"height":"0.000018","open":"0.0000174","low":"0.000017","close":"0.0000173","base_volume":"175095489.0","quote_volume":"3022.87668100","price_change":"-0.005747","trade_enabled":true},"BIA_USDT":{"height":"0.0023","open":"0.00225","low":"0.0022","close":"0.00221","base_volume":"13191337.0","quote_volume":"29614.648740","price_change":"-0.017778","trade_enabled":true},"BLZ_BTC":{"height":"0.00000246","open":"0.00000223","low":"0.00000218","close":"0.00000221","base_volume":"4036480.0","quote_volume":"9.115081690","price_change":"-0.008969","trade_enabled":true},"BNB_ETH":{"height":"0.107393","open":"0.105877","low":"0.104271","close":"0.104403","base_volume":"161416.91","quote_volume":"17065.23041396","price_change":"-0.013922","trade_enabled":true},"BNB_USDT":{"height":"14.3693","open":"14.2578","low":"13.7232","close":"13.8161","base_volume":"317160.87","quote_volume":"4436246.782984","price_change":"-0.030980","trade_enabled":true},"BOLT_ETH":{"height":"0.00005344","open":"0.00004757","low":"0.00004735","close":"0.00004741","base_volume":"81438997.4","quote_volume":"3988.769672541","price_change":"-0.003363","trade_enabled":true},"BQQQ_ETH":{"height":"0.0000042","open":"0.0000042","low":"0.0000042","close":"0.0000042","base_volume":"5000.0","quote_volume":"0.02100000","price_change":"0.000000","trade_enabled":true},"BRD_ETH":{"height":"0.0019282","open":"0.0018891","low":"0.0018771","close":"0.001889","base_volume":"3436232.0","quote_volume":"6528.58815330","price_change":"-0.000053","trade_enabled":true},"BTC_USDT":{"height":"7407.95","open":"7374.93","low":"7200.33","close":"7257.11","base_volume":"57225.203866","quote_volume":"416760399.71856811","price_change":"-0.015976","trade_enabled":true},"BURN_USDT":{"height":"0.20885","open":"0.19738","low":"0.12443","close":"0.1347","base_volume":"65982.35","quote_volume":"11626.9332442","price_change":"-0.317560","trade_enabled":true},"BVA_USDT":{"height":"0.021","open":"0.0207","low":"0.0183","close":"0.0183","base_volume":"5317.6","quote_volume":"107.41361","price_change":"-0.115942","trade_enabled":true},"BZNT_ETH":{"height":"0.00004194","open":"0.00004194","low":"0.00004194","close":"0.00004194","base_volume":"650.7","quote_volume":"0.027290358","price_change":"0.000000","trade_enabled":true},"CARD_ETH":{"height":"0.00000287","open":"0.00000279","low":"0.00000279","close":"0.00000287","base_volume":"14454861.7","quote_volume":"40.906756088","price_change":"0.028674","trade_enabled":true},"CBM_USDT":{"height":"0.0000637","open":"0.0000624","low":"0.0000556","close":"0.000062","base_volume":"98733499.0","quote_volume":"5970.96482927","price_change":"-0.006410","trade_enabled":true},"CELR_USDT":{"height":"0.00375","open":"0.00372","low":"0.0036","close":"0.00361","base_volume":"94243814.1","quote_volume":"347061.872109","price_change":"-0.029570","trade_enabled":true},"CHR_USDT":{"height":"0.016689","open":"0.015539","low":"0.014324","close":"0.015064","base_volume":"28052823.1543","quote_volume":"429355.4465865617","price_change":"-0.030568","trade_enabled":true},"CHZ-B_BNB":{"height":"0.0005153","open":"0.0005102","low":"0.0004789","close":"0.0004968","base_volume":"30863238.0","quote_volume":"15366.55718610","price_change":"-0.026264","trade_enabled":true},"CHZ_ETH":{"height":"0.00005701","open":"0.00005267","low":"0.00005032","close":"0.00005196","base_volume":"84289540.9","quote_volume":"4413.260870488","price_change":"-0.013480","trade_enabled":true},"CHZ_USDT":{"height":"0.007335","open":"0.007257","low":"0.006663","close":"0.00689","base_volume":"15574698.0","quote_volume":"108466.3761690","price_change":"-0.050572","trade_enabled":true},"CKB_USDT":{"height":"0.007648","open":"0.007601","low":"0.007223","close":"0.007296","base_volume":"205887886.98","quote_volume":"1541203.60770397","price_change":"-0.040126","trade_enabled":true},"COCOS_USDT":{"height":"0.000633","open":"0.000617","low":"0.000573","close":"0.000589","base_volume":"412744331.0","quote_volume":"248350.1374440","price_change":"-0.045381","trade_enabled":true},"COS_USDT":{"height":"0.00972","open":"0.00956","low":"0.00926","close":"0.0094","base_volume":"446013857.0","quote_volume":"4218774.619652","price_change":"-0.016736","trade_enabled":true},"COVA_ETH":{"height":"0.00000157","open":"0.00000152","low":"0.00000143","close":"0.00000151","base_volume":"1720626761.53","quote_volume":"2609.8714399179","price_change":"-0.006579","trade_enabled":true},"CPT_ETH":{"height":"0.000012","open":"0.000012","low":"0.000012","close":"0.000012","base_volume":"16672.9","quote_volume":"0.2000748","price_change":"0.000000","trade_enabled":true},"CRE_USDT":{"height":"0.001759","open":"0.001758","low":"0.001555","close":"0.00161","base_volume":"205836993.36","quote_volume":"342413.23330491","price_change":"-0.084187","trade_enabled":true},"CVC_USDT":{"height":"0.02077","open":"0.02033","low":"0.01941","close":"0.01967","base_volume":"23044153.7","quote_volume":"457454.557599","price_change":"-0.032464","trade_enabled":true},"DAG_ETH":{"height":"0.0000952","open":"0.0000873","low":"0.0000801","close":"0.0000801","base_volume":"62591052.506","quote_volume":"5498.3167507382","price_change":"-0.082474","trade_enabled":true},"DAPPT_ETH":{"height":"0.00000349","open":"0.00000349","low":"0.00000349","close":"0.00000349","base_volume":"9965.0","quote_volume":"0.034777850","price_change":"0.000000","trade_enabled":true},"DEC_ETH":{"height":"0.00024","open":"0.00023398","low":"0.00023398","close":"0.00024","base_volume":"2166.0","quote_volume":"0.518838874","price_change":"0.025729","trade_enabled":true},"DLT_BTC":{"height":"0.00000591","open":"0.00000507","low":"0.00000504","close":"0.00000549","base_volume":"3769070.0","quote_volume":"20.118118770","price_change":"0.082840","trade_enabled":true},"DNT_BTC":{"height":"0.00000079","open":"0.00000071","low":"0.0000007","close":"7.7E-7","base_volume":"3512006.0","quote_volume":"2.593356280","price_change":"0.084507","trade_enabled":true},"DOCK_USDT":{"height":"0.007337","open":"0.00705","low":"0.006729","close":"0.006979","base_volume":"81021193.0","quote_volume":"567001.1605010","price_change":"-0.010071","trade_enabled":true},"DREP_ETH":{"height":"0.00001898","open":"0.00001898","low":"0.00001898","close":"0.00001898","base_volume":"13979.0","quote_volume":"0.265321420","price_change":"0.000000","trade_enabled":true},"DX_ETH":{"height":"0.00000709","open":"0.00000682","low":"0.00000623","close":"0.00000692","base_volume":"996255293.87","quote_volume":"6721.2313125057","price_change":"0.014663","trade_enabled":true},"DYNMT_BTC":{"height":"0.0001157","open":"0.000114","low":"0.000105","close":"0.0001068","base_volume":"103647.28","quote_volume":"11.251745975","price_change":"-0.063158","trade_enabled":true},"ECO_ETH":{"height":"0.0000399","open":"0.0000399","low":"0.000014","close":"0.000014","base_volume":"32220.2","quote_volume":"0.579326470","price_change":"-0.649123","trade_enabled":true},"EDN_ETH":{"height":"0.000029","open":"0.0000286","low":"0.0000233","close":"0.0000257","base_volume":"344827731.486","quote_volume":"9147.8333824351","price_change":"-0.101399","trade_enabled":true},"EDR_ETH":{"height":"0.00003998","open":"0.00003998","low":"0.00003998","close":"0.00003998","base_volume":"499.2","quote_volume":"0.019958016","price_change":"0.000000","trade_enabled":true},"EGT_USDT":{"height":"0.001494","open":"0.001482","low":"0.001378","close":"0.001413","base_volume":"133889736.16","quote_volume":"192472.17913461","price_change":"-0.046559","trade_enabled":true},"ELAC_BTC":{"height":"0.00000102","open":"0.00000099","low":"0.00000091","close":"9.1E-7","base_volume":"31750172.82","quote_volume":"30.2124396507","price_change":"-0.080808","trade_enabled":true},"ELAC_ETH":{"height":"0.00005826","open":"0.00005826","low":"0.00005132","close":"0.00005315","base_volume":"32019548.20","quote_volume":"1726.7133144734","price_change":"-0.087710","trade_enabled":true},"ELAC_USDT":{"height":"0.00781","open":"0.007542","low":"0.007091","close":"0.007192","base_volume":"11523234.34","quote_volume":"84180.57820144","price_change":"-0.046407","trade_enabled":true},"ENG_BTC":{"height":"0.00005491","open":"0.00005351","low":"0.00005116","close":"0.00005191","base_volume":"3582916.0","quote_volume":"187.955844920","price_change":"-0.029901","trade_enabled":true},"ENJ_USDT":{"height":"0.08595","open":"0.08063","low":"0.07945","close":"0.08231","base_volume":"13582599.6","quote_volume":"1120438.768261","price_change":"0.020836","trade_enabled":true},"EOS_ETH":{"height":"0.020186","open":"0.020021","low":"0.01982","close":"0.019866","base_volume":"1398705.52","quote_volume":"27924.85252592","price_change":"-0.007742","trade_enabled":true},"EOS_USDT":{"height":"2.7208","open":"2.7025","low":"2.6004","close":"2.6315","base_volume":"24385565.83","quote_volume":"64425488.035184","price_change":"-0.026272","trade_enabled":true},"ERD_BNB":{"height":"0.00014295","open":"0.00013863","low":"0.0001327","close":"0.0001328","base_volume":"234676909.0","quote_volume":"31922.104880160","price_change":"-0.042054","trade_enabled":true},"ERD_USDT":{"height":"0.0020267","open":"0.0019704","low":"0.0018357","close":"0.0018498","base_volume":"691884691.0","quote_volume":"1315202.92392370","price_change":"-0.061206","trade_enabled":true},"ESCX_ETH":{"height":"0.00000079","open":"0.00000043","low":"0.0000004","close":"4E-7","base_volume":"92847.7","quote_volume":"0.038869977","price_change":"-0.069767","trade_enabled":true},"ESS_ETH":{"height":"0.00000396","open":"0.00000383","low":"0.00000306","close":"0.00000388","base_volume":"1758241.5","quote_volume":"6.205927713","price_change":"0.013055","trade_enabled":true},"ETH_BTC":{"height":"0.018405","open":"0.018282","low":"0.017915","close":"0.018246","base_volume":"1146361.346","quote_volume":"20822.993003380","price_change":"-0.001969","trade_enabled":true},"ETH_USDT":{"height":"136.28","open":"134.83","low":"130.26","close":"132.43","base_volume":"1739860.42175","quote_volume":"230120781.6242067","price_change":"-0.017800","trade_enabled":true},"EVX_ETH":{"height":"0.0018375","open":"0.0018005","low":"0.0017548","close":"0.0017863","base_volume":"2045104.0","quote_volume":"3676.07661640","price_change":"-0.007887","trade_enabled":true},"FCT_BTC":{"height":"0.00030284","open":"0.00025508","low":"0.00025012","close":"0.00027764","base_volume":"420535.13","quote_volume":"112.3867702736","price_change":"0.088443","trade_enabled":true},"FET_USDT":{"height":"0.04344","open":"0.04337","low":"0.0392","close":"0.03973","base_volume":"22676089.6","quote_volume":"928574.734111","price_change":"-0.083929","trade_enabled":true},"FOAM_ETH":{"height":"0.00011991","open":"0.0001075","low":"0.00010008","close":"0.00011991","base_volume":"466424.1","quote_volume":"53.073724871","price_change":"0.115442","trade_enabled":true},"FTM_ETH":{"height":"0.0000891","open":"0.0000855","low":"0.0000832","close":"0.0000861","base_volume":"54983370.906","quote_volume":"4722.2550918876","price_change":"0.007018","trade_enabled":true},"GNT_ETH":{"height":"0.00022637","open":"0.00021376","low":"0.00021236","close":"0.00022015","base_volume":"12132504.0","quote_volume":"2652.247814370","price_change":"0.029893","trade_enabled":true},"GOT_ETH":{"height":"0.0000219","open":"0.00002094","low":"0.00001535","close":"0.0000219","base_volume":"122433.6","quote_volume":"2.307418773","price_change":"0.045845","trade_enabled":true},"GO_BTC":{"height":"0.00000161","open":"0.00000148","low":"0.00000146","close":"0.00000155","base_volume":"80965663.0","quote_volume":"123.391919350","price_change":"0.047297","trade_enabled":true},"GO_ETH":{"height":"0.0000915","open":"0.0000804","low":"0.0000784","close":"0.0000879","base_volume":"47209217.704","quote_volume":"3946.8652105613","price_change":"0.093284","trade_enabled":true},"GVT_BTC":{"height":"0.000137","open":"0.0001348","low":"0.0001315","close":"0.0001354","base_volume":"369830.39","quote_volume":"49.723229681","price_change":"0.004451","trade_enabled":true},"HOLD_ETH":{"height":"0.00000768","open":"0.00000696","low":"0.00000479","close":"0.00000481","base_volume":"2134340.8","quote_volume":"13.231174632","price_change":"-0.308908","trade_enabled":true},"HOT_ETH":{"height":"0.00000499","open":"0.00000479","low":"0.0000047","close":"0.00000483","base_volume":"358337751.0","quote_volume":"1733.459086190","price_change":"0.008351","trade_enabled":true},"HOT_USDT":{"height":"0.0006498","open":"0.0006451","low":"0.0006335","close":"0.0006376","base_volume":"956847766.0","quote_volume":"612839.56579930","price_change":"-0.011626","trade_enabled":true},"IGNIS_BTC":{"height":"0.00000333","open":"0.00000313","low":"0.00000283","close":"0.00000291","base_volume":"43251972.10","quote_volume":"133.1119200432","price_change":"-0.070288","trade_enabled":true},"INS_BTC":{"height":"0.00003128","open":"0.00002785","low":"0.00002781","close":"0.00003038","base_volume":"3555981.0","quote_volume":"104.322179940","price_change":"0.090844","trade_enabled":true},"IOTX_ETH":{"height":"0.00002686","open":"0.00002557","low":"0.00002547","close":"0.00002611","base_volume":"188231639.0","quote_volume":"4946.694697920","price_change":"0.021118","trade_enabled":true},"IOTX_USDT":{"height":"0.004634","open":"0.003942","low":"0.003889","close":"0.003907","base_volume":"166671887.685","quote_volume":"710022.710573534","price_change":"-0.008879","trade_enabled":true},"JDC_BTC":{"height":"0.0000288","open":"0.000025","low":"0.000025","close":"0.0000288","base_volume":"526.9","quote_volume":"0.01507250","price_change":"0.152000","trade_enabled":true},"KAVA_USDT":{"height":"1.2054","open":"1.1816","low":"1.127","close":"1.179","base_volume":"1285443.96","quote_volume":"1494481.746952","price_change":"-0.002200","trade_enabled":true},"KEY_BTC":{"height":"0.00000028","open":"0.00000022","low":"0.00000022","close":"2.6E-7","base_volume":"603827895.0","quote_volume":"151.049562920","price_change":"0.181818","trade_enabled":true},"KEY_ETH":{"height":"0.00001316","open":"0.00001284","low":"0.00001272","close":"0.00001276","base_volume":"633922024.0","quote_volume":"8180.399146490","price_change":"-0.006231","trade_enabled":true},"KMD_BTC":{"height":"0.0000726","open":"0.0000712","low":"0.0000699","close":"0.0000711","base_volume":"1777695.93","quote_volume":"126.968017976","price_change":"-0.001404","trade_enabled":true},"LAMB_USDT":{"height":"0.02622","open":"0.026191","low":"0.025297","close":"0.025688","base_volume":"22621301.4172","quote_volume":"584593.1378416983","price_change":"-0.019205","trade_enabled":true},"LEMO_ETH":{"height":"0.00001538","open":"0.00001538","low":"0.00001534","close":"0.00001534","base_volume":"4853.80000000","quote_volume":"0.0745611908403908","price_change":"-0.002601","trade_enabled":true},"LEND_BTC":{"height":"0.00000158","open":"0.00000121","low":"0.00000112","close":"0.00000155","base_volume":"4317904.0","quote_volume":"5.619317870","price_change":"0.280992","trade_enabled":true},"LINK_USDT":{"height":"1.8949","open":"1.8796","low":"1.7957","close":"1.8157","base_volume":"1451362.55","quote_volume":"2667934.226815","price_change":"-0.033997","trade_enabled":true},"LND_ETH":{"height":"0.00001197","open":"0.00001154","low":"0.00000988","close":"0.00001186","base_volume":"63724915.1","quote_volume":"694.115225287","price_change":"0.027730","trade_enabled":true},"LOOM_ETH":{"height":"0.00012718","open":"0.00012287","low":"0.00012136","close":"0.00012392","base_volume":"31326007.0","quote_volume":"3911.536727130","price_change":"0.008546","trade_enabled":true},"LQD_ETH":{"height":"0.00009978","open":"0.00008852","low":"0.00006804","close":"0.00009954","base_volume":"2042217.1","quote_volume":"183.296444159","price_change":"0.124492","trade_enabled":true},"LRC_BTC":{"height":"0.00000318","open":"0.00000307","low":"0.00000297","close":"0.00000304","base_volume":"8819575.0","quote_volume":"27.205149440","price_change":"-0.009772","trade_enabled":true},"LTC_BTC":{"height":"0.005969","open":"0.00591","low":"0.005788","close":"0.005874","base_volume":"922780.07","quote_volume":"5403.56610365","price_change":"-0.006091","trade_enabled":true},"LTC_USDT":{"height":"44.17","open":"43.61","low":"41.79","close":"42.55","base_volume":"1409464.73021","quote_volume":"60122085.5431504","price_change":"-0.024306","trade_enabled":true},"LTO_ETH":{"height":"0.00039987","open":"0.00018975","low":"0.00016046","close":"0.00039987","base_volume":"54759.17501864","quote_volume":"9.9714267220412272","price_change":"1.107352","trade_enabled":true},"LUN_BTC":{"height":"0.0001284","open":"0.0001129","low":"0.0001116","close":"0.0001145","base_volume":"4193151.07","quote_volume":"489.700406626","price_change":"0.014172","trade_enabled":true},"LUX_USDT":{"height":"0.1649","open":"0.1588","low":"0.121","close":"0.16","base_volume":"74428.40","quote_volume":"11062.453158","price_change":"0.007557","trade_enabled":true},"MANA_BTC":{"height":"0.00000469","open":"0.00000453","low":"0.00000423","close":"0.00000431","base_volume":"4161892.0","quote_volume":"18.579480470","price_change":"-0.048565","trade_enabled":true},"MATIC_USDT":{"height":"0.01492","open":"0.01483","low":"0.01409","close":"0.0144","base_volume":"89851058.2","quote_volume":"1300798.619778","price_change":"-0.028995","trade_enabled":true},"MCO_BTC":{"height":"0.000554","open":"0.000546","low":"0.0005427","close":"0.0005504","base_volume":"407053.77","quote_volume":"223.688407377","price_change":"0.008059","trade_enabled":true},"MDA_BTC":{"height":"0.00006948","open":"0.00006809","low":"0.00006754","close":"0.00006807","base_volume":"1019437.0","quote_volume":"69.515812690","price_change":"-0.000294","trade_enabled":true},"MET_ETH":{"height":"0.00301203","open":"0.00295582","low":"0.00290004","close":"0.00300984","base_volume":"746255.40","quote_volume":"2205.4260080525","price_change":"0.018276","trade_enabled":true},"MEXC_BTC":{"height":"0.0000018","open":"0.00000055","low":"0.0000003","close":"0.00000166","base_volume":"268173.13","quote_volume":"0.3948261363","price_change":"2.018182","trade_enabled":true},"MFT_ETH":{"height":"0.00000701","open":"0.00000684","low":"0.00000662","close":"0.00000674","base_volume":"777467112.0","quote_volume":"5276.341955170","price_change":"-0.014620","trade_enabled":true},"MGX_ETH":{"height":"0.00005499","open":"0.00005415","low":"0.000054","close":"0.00005402","base_volume":"7690901.3","quote_volume":"417.615067778","price_change":"-0.002401","trade_enabled":true},"MTH_BTC":{"height":"0.00000132","open":"0.00000127","low":"0.00000117","close":"0.00000126","base_volume":"3304474.0","quote_volume":"4.124259980","price_change":"-0.007874","trade_enabled":true},"MTL_USDT":{"height":"0.2468","open":"0.2444","low":"0.2279","close":"0.2343","base_volume":"2768670.83","quote_volume":"667985.723789","price_change":"-0.041326","trade_enabled":true},"MT_ETH":{"height":"0.00000841","open":"0.00000821","low":"0.00000808","close":"0.00000839","base_volume":"1377508.7","quote_volume":"11.414821067","price_change":"0.021924","trade_enabled":true},"MVP_ETH":{"height":"0.00000083","open":"0.0000008","low":"0.00000069","close":"7E-7","base_volume":"96287189.07","quote_volume":"76.7794804981","price_change":"-0.125000","trade_enabled":true},"NKN_USDT":{"height":"0.01848","open":"0.01847","low":"0.01716","close":"0.01749","base_volume":"34497295.9","quote_volume":"612873.174376","price_change":"-0.053059","trade_enabled":true},"NMR_BTC":{"height":"0.00091346","open":"0.00089744","low":"0.00085834","close":"0.00087125","base_volume":"67367.45","quote_volume":"59.7017059702","price_change":"-0.029183","trade_enabled":true},"NOIA_USDT":{"height":"0.003666","open":"0.003666","low":"0.003559","close":"0.003666","base_volume":"342.0721","quote_volume":"1.2363248206","price_change":"0.000000","trade_enabled":true},"NRVE_ETH":{"height":"0.00001055","open":"0.00001055","low":"0.00000113","close":"0.00000113","base_volume":"785244.09603174","quote_volume":"1.8966150899999848","price_change":"-0.892891","trade_enabled":false},"NXT_BTC":{"height":"0.00000134","open":"0.00000125","low":"0.00000121","close":"0.00000121","base_volume":"131060113.5","quote_volume":"165.817758630","price_change":"-0.032000","trade_enabled":true},"NYZO_USDT":{"height":"0.19327","open":"0.17989","low":"0.16962","close":"0.18125","base_volume":"427243.6","quote_volume":"77667.091220","price_change":"0.007560","trade_enabled":true},"OAX_BTC":{"height":"0.00000703","open":"0.00000691","low":"0.00000681","close":"0.00000683","base_volume":"3977607.0","quote_volume":"27.430180010","price_change":"-0.011577","trade_enabled":true},"OCEAN_ETH":{"height":"0.00028691","open":"0.00022091","low":"0.00021585","close":"0.00026543","base_volume":"182957120.35","quote_volume":"46495.7287969971","price_change":"0.201530","trade_enabled":true},"OGO_USDT":{"height":"0.007813","open":"0.007658","low":"0.007218","close":"0.00725","base_volume":"40077367.97","quote_volume":"301997.92171437","price_change":"-0.053278","trade_enabled":true},"OLT_ETH":{"height":"0.0000505","open":"0.0000483","low":"0.0000447","close":"0.0000453","base_volume":"35727170.148","quote_volume":"1665.9509159626","price_change":"-0.062112","trade_enabled":true},"ONE_USDT":{"height":"0.0049","open":"0.00479","low":"0.0046","close":"0.0047","base_volume":"136850599.3","quote_volume":"648715.727973","price_change":"-0.018789","trade_enabled":true},"ORBS_BTC":{"height":"0.00000107","open":"0.00000079","low":"0.0000007","close":"8.7E-7","base_volume":"14741232.8","quote_volume":"12.780513005","price_change":"0.101266","trade_enabled":true},"OXT_USDT":{"height":"0.3999","open":"0.3986","low":"0.3975","close":"0.3998","base_volume":"85513.78","quote_volume":"34096.140519","price_change":"0.003011","trade_enabled":true},"PASC_USDT":{"height":"0.0394","open":"0.0375","low":"0.0347","close":"0.0355","base_volume":"332551.1","quote_volume":"12130.93730","price_change":"-0.053333","trade_enabled":true},"PEG_USDT":{"height":"0.003712","open":"0.003683","low":"0.00289","close":"0.002936","base_volume":"2581716.11","quote_volume":"9235.73488840","price_change":"-0.202824","trade_enabled":true},"PERL_USDT":{"height":"0.02204","open":"0.02196","low":"0.02042","close":"0.02077","base_volume":"14344279.8","quote_volume":"302787.675082","price_change":"-0.054189","trade_enabled":true},"PI_ETH":{"height":"0.00002995","open":"0.00002294","low":"0.00002294","close":"0.00002972","base_volume":"309374.8","quote_volume":"8.119696912","price_change":"0.295554","trade_enabled":true},"PLF_BTC":{"height":"0.0000651","open":"0.0000611","low":"0.0000601","close":"0.0000644","base_volume":"1192945.43","quote_volume":"74.993800903","price_change":"0.054010","trade_enabled":true},"PLF_ETH":{"height":"0.003917","open":"0.003451","low":"0.003265","close":"0.003518","base_volume":"1208328.31","quote_volume":"4188.42331145","price_change":"0.019415","trade_enabled":true},"PLF_USDT":{"height":"0.467","open":"0.449","low":"0.428","close":"0.459","base_volume":"1174361.55","quote_volume":"530946.50840","price_change":"0.022272","trade_enabled":true},"PLG_ETH":{"height":"0.000003","open":"0.000003","low":"0.000003","close":"0.000003","base_volume":"24021.1","quote_volume":"0.0720633","price_change":"0.000000","trade_enabled":true},"POE_BTC":{"height":"0.00000026","open":"0.00000021","low":"0.0000002","close":"2E-7","base_volume":"14290720.0","quote_volume":"3.294651180","price_change":"-0.047619","trade_enabled":true},"POWR_BTC":{"height":"0.000005","open":"0.00000483","low":"0.0000048","close":"0.00000494","base_volume":"1446868.0","quote_volume":"7.089294550","price_change":"0.022774","trade_enabled":true},"PPT_BTC":{"height":"0.00004986","open":"0.00004964","low":"0.00004818","close":"0.00004868","base_volume":"3588269.0","quote_volume":"176.059166220","price_change":"-0.019339","trade_enabled":true},"PTN_ETH":{"height":"0.00003709","open":"0.00003119","low":"0.00003095","close":"0.00003445","base_volume":"427172.7","quote_volume":"14.574220877","price_change":"0.104521","trade_enabled":true},"PTON_ETH":{"height":"0.0000008","open":"0.00000048","low":"0.00000034","close":"3.4E-7","base_volume":"169999.9","quote_volume":"0.099399920","price_change":"-0.291667","trade_enabled":true},"QKC_ETH":{"height":"0.00002199","open":"0.00002164","low":"0.00002068","close":"0.00002075","base_volume":"160025472.0","quote_volume":"3371.508329590","price_change":"-0.041128","trade_enabled":true},"RAVEN_ETH":{"height":"0.00000108","open":"0.00000088","low":"0.00000086","close":"0.00000104","base_volume":"23251196.0","quote_volume":"22.561310127","price_change":"0.181818","trade_enabled":true},"RCN_ETH":{"height":"0.00034722","open":"0.00034086","low":"0.00033143","close":"0.00034178","base_volume":"21773383.0","quote_volume":"7400.83762390
[...]
