---
http_interactions:
- request:
    method: get
    uri: https://api.everbloom.co/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"519d4-t4rsRZPTPKmDvk4O90nH1ippi5g"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"e0x0000000000000000000000000000000000000000_e0x8e10f6bb9c973d61321c25a2b8d865825f4aa57b","addr":"0x8e10f6bb9c973d61321c25a2b8d865825f4aa57b","name":"0ED","displayName":"EthereumDiamond","decimals":18,"open":null,"high":null,"low":null,"close":null,"last":"88999000000000","volume":null,"highestBid":"1000000000000","lowestAsk":"16599000000000","updatedAt":1536701001},{"id":"e0x0000000000000000000000000000000000000000_e0xb6ed7644c69416d67b522e20bc294a9a9b405b31","addr":"0xb6ed7644c69416d67b522e20bc294a9a9b405b31","name":"0xBTC","displayName":"0xBitcoin
        Token","decimals":8,"open":"3070000000000000","high":"3070000000000000","low":"3070000000000000","close":"3070000000000000","last":"3070000000000000","volume":"2406384147568500000","highestBid":"1000000000000000","lowestAsk":"4000000000000000","updatedAt":1536701001},{"id":"e0x00000000000000[...]
