---
http_interactions:
- request:
    method: get
    uri: https://www.bitinka.com/api/apinka/ticker?format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ETH":[{"symbol":"ETH_BTC","volumen24hours":2004.34939557,"ask":0.03679208,"bid":0.03706576,"lastPrice":0.03679208},{"symbol":"ETH_USD","volumen24hours":431.44197175,"ask":243.76284995,"bid":245.36716378,"lastPrice":246.12615518},{"symbol":"ETH_EUR","volumen24hours":358.28552292,"ask":208.09763872,"bid":208.80462631,"lastPrice":208.80462631},{"symbol":"ETH_BRL","volumen24hours":176.06201586,"ask":1020.42279538,"bid":1030.62556088,"lastPrice":1030.62556088},{"symbol":"ETH_CNY","volumen24hours":325.8329442,"ask":1665.58948513,"bid":1670.77172059,"lastPrice":1670.77172059},{"symbol":"ETH_CLP","volumen24hours":62.34750683,"ask":168568.750525,"bid":170508.969889,"lastPrice":168568.750525},{"symbol":"ETH_COP","volumen24hours":143.45641821,"ask":663000,"bid":666353.365374,"lastPrice":734604.028108},{"symbol":"ETH_BOB","volumen24hours":232.92551116,"ask":1638.17987827,"bid":1708.16128635,"lastPrice":1633.83873968},{"symbol":"ETH_ARS","volumen24hours":316.91814489,"ask":9328.74490512,"bid":9578.00606655,"lastPrice":9328.74490512},{"symbol":"ETH_PEN","volumen24hours":288.95950681,"ask":795.09932457,"bid":796.38816971,"lastPrice":795.09932457}],"USD":[{"symbol":"BTC_USD","volumen24hours":462.87256917,"ask":6726.32867766,"bid":6729.96189781,"lastPrice":6736.69185971}],"EUR":[{"symbol":"BTC_EUR","volumen24hours":116.06415237,"ask":5983.68046196,"bid":6016.95400802,"lastPrice":5983.68046196}],"CNY":[{"symbol":"BTC_CNY","volumen24hours":138.99935716,"ask":45099.6458961,"bid":47018.5793533,"lastPrice":46934.6112573}],"CLP":[{"symbol":"BTC_CLP","volumen24hours":132.04527674,"ask":4400617.08285,"bid":4423602.0236,"lastPrice":4423602.0236}],"COP":[{"symbol":"BTC_COP","volumen24hours":0.18388326,"ask":18489485.9211,"bid":19200000,"lastPrice":18459938.4729}],"BRL":[{"symbol":"BTC_BRL","volumen24hours":118.59093063,"ask":27461.4255551,"bid":28093.0399602,"lastPrice":27787.4469293}],"BOB":[{"symbol":"BTC_BOB","volumen24hours":112.11403558,"ask":45377.7685533,"bid":47211.8533956,"lastPrice":45572.014002}],"ARS":[{"symbol":"BTC_ARS","volumen24hours":93.098072,"ask":255702.865577,"bid":258765.045696,"lastPrice":255702.865577}],"PEN":[{"symbol":"BTC_PEN","volumen24hours":18.21878665,"ask":21875.9854993,"bid":22168.7884837,"lastPrice":22345.19216287}],"LTC":[{"symbol":"LTC_ETH","volumen24hours":825.1411929,"ask":0.25135287,"bid":0.25313752,"lastPrice":0.25135287},{"symbol":"LTC_BTC","volumen24hours":2392.12068447,"ask":0.00883234,"bid":0.00906612,"lastPrice":0.00883234},{"symbol":"LTC_USD","volumen24hours":943.28123982,"ask":60.08169531,"bid":60.60599117,"lastPrice":60.60599117}],"RHOC":[{"symbol":"RHOC_ETH","volumen24hours":34308.60693003,"ask":0.001308,"bid":0.00134046,"lastPrice":0.00134046},{"symbol":"RHOC_BTC","volumen24hours":17826.03552323,"ask":3.935e-5,"bid":4.217e-5,"lastPrice":4.217e-5},{"symbol":"RHOC_USD","volumen24hours":126314.28495005,"ask":0.31996334,"bid":0.31996334,"lastPrice":0.31996334}],"AOA":[{"symbol":"AOA_ETH","volumen24hours":1317090.4494642,"ask":0.00011275,"bid":0.00011561,"lastPrice":0.00011275},{"symbol":"AOA_BTC","volumen24hours":8303424.1878967,"ask":4.1e-6,"bid":4.27e-6,"lastPrice":4.1e-6},{"symbol":"AOA_USD","volumen24hours":2129459.1895187,"ask":0.02777746,"bid":0.02781489,"lastPrice":0.02785259}],"XRP":[{"symbol":"XRP_ETH","volumen24hours":241349.1194478,"ask":0.00203874,"bid":0.00220261,"lastPrice":0.00227948},{"symbol":"XRP_BTC","volumen24hours":344786.45204252,"ask":7.928e-5,"bid":8.056e-5,"lastPrice":8.055e-5},{"symbol":"XRP_USD","volumen24hours":3293959.7883499,"ask":0.55471814,"bid":0.55613215,"lastPrice":0.55471814}],"DASH":[{"symbol":"DASH_ETH","volumen24hours":329.67841463,"ask":0.82488502,"bid":0.83261508,"lastPrice":0.83287808},{"symbol":"DASH_BTC","volumen24hours":974.05954937,"ask":0.03033595,"bid":0.03126949,"lastPrice":0.03033595},{"symbol":"DASH_USD","volumen24hours":110.7385059,"ask":205.47002745,"bid":206.03219405,"lastPrice":206.03219405}],"BCH":[{"symbol":"BCH_ETH","volumen24hours":273.77856153,"ask":2.03151227,"bid":2.04465696,"lastPrice":2.03151227},{"symbol":"BCH_BTC","volumen24hours":1671.22071666,"ask":0.07267433,"bid":0.07467753,"lastPrice":0.07267433},{"symbol":"BCH_USD","volumen24hours":61.56527989,"ask":498.1304332,"bid":498.41175296,"lastPrice":498.41175296}],"BTG":[{"symbol":"BTG_ETH","volumen24hours":1462.58104129,"ask":0.09282506,"bid":0.09447378,"lastPrice":0.09282506},{"symbol":"BTG_BTC","volumen24hours":9247.36458852,"ask":0.00329308,"bid":0.00330498,"lastPrice":0.00330498},{"symbol":"BTG_USD","volumen24hours":754.8219191,"ask":22.21438365,"bid":22.85443789,"lastPrice":22.21438365}],"ACT":[{"symbol":"ACT_ETH","volumen24hours":592068.17928124,"ask":0.00013864,"bid":0.00014093,"lastPrice":0.00013864},{"symbol":"ACT_BTC","volumen24hours":7136036.7812183,"ask":4.89e-6,"bid":5.01e-6,"lastPrice":5.05e-6},{"symbol":"ACT_USD","volumen24hours":712957.10105528,"ask":0.03378687,"bid":0.03334825,"lastPrice":0.03378687}],"SSC":[{"symbol":"SSC_ETH","volumen24hours":8469.07692339,"ask":3.473e-5,"bid":4.388e-5,"lastPrice":4.067e-5},{"symbol":"SSC_BTC","volumen24hours":0,"ask":1.33e-6,"bid":1.37e-6,"lastPrice":1.77e-6},{"symbol":"SSC_USD","volumen24hours":1009315.8765251,"ask":0.00893065,"bid":0.00929326,"lastPrice":0.00893065}],"NANO":[{"symbol":"NANO_ETH","volumen24hours":9359.46573428,"ask":0.01024525,"bid":0.01077139,"lastPrice":0.01019037},{"symbol":"NANO_BTC","volumen24hours":172495.3984745,"ask":0.00037149,"bid":0.00039399,"lastPrice":0.00037025},{"symbol":"NANO_USD","volumen24hours":4450.58400435,"ask":2.57749441,"bid":2.58932468,"lastPrice":2.57749441}],"NEO":[{"symbol":"NEO_ETH","volumen24hours":5843.92261628,"ask":0.0807791,"bid":0.08195366,"lastPrice":0.0807791},{"symbol":"NEO_BTC","volumen24hours":1842.6750125,"ask":0.00281197,"bid":0.00281393,"lastPrice":0.00281393},{"symbol":"NEO_USD","volumen24hours":1287.05544976,"ask":19.29384551,"bid":19.4068864,"lastPrice":19.57493503}],"GAS":[{"symbol":"GAS_ETH","volumen24hours":0,"ask":0.02350182,"bid":0.02769414,"lastPrice":0.02796747},{"symbol":"GAS_BTC","volumen24hours":13147.51679292,"ask":0.00081863,"bid":0.00081926,"lastPrice":0.00081523},{"symbol":"GAS_USD","volumen24hours":2033.20892616,"ask":5.43960785,"bid":5.53413105,"lastPrice":5.53413105}],"VEX":[{"symbol":"VEX_ETH","volumen24hours":2000,"ask":4.35e-5,"bid":6.345e-5,"lastPrice":5.364e-5},{"symbol":"VEX_BTC","volumen24hours":6075529.4765663,"ask":2.0e-6,"bid":2.1e-6,"lastPrice":2.0e-6},{"symbol":"VEX_USD","volumen24hours":300000,"ask":0.01166273,"bid":0.01426098,"lastPrice":0.01525838}],"SSP":[{"symbol":"SSP_ETH","volumen24hours":28754085.379802,"ask":1.49e-6,"bid":1.5e-6,"lastPrice":1.49e-6},{"symbol":"SSP_BTC","volumen24hours":4502641315.9153,"ask":5.0e-8,"bid":5.0e-8,"lastPrice":5.0e-8},{"symbol":"SSP_USD","volumen24hours":4455652871.9463,"ask":0.00035589,"bid":0.00034688,"lastPrice":0.00036086}],"LET":[{"symbol":"LET_ETH","volumen24hours":11353282.028769,"ask":4.488e-5,"bid":4.636e-5,"lastPrice":4.488e-5},{"symbol":"LET_BTC","volumen24hours":7707726.0790002,"ask":1.54e-6,"bid":1.6e-6,"lastPrice":1.64e-6},{"symbol":"LET_USD","volumen24hours":2468417.3186818,"ask":0.01058014,"bid":0.01105466,"lastPrice":0.01058014}],"ZEC":[{"symbol":"ZEC_ETH","volumen24hours":737.91649872,"ask":0.51521984,"bid":0.52614801,"lastPrice":0.51521984},{"symbol":"ZEC_BTC","volumen24hours":1948.616329,"ask":0.01873905,"bid":0.01890633,"lastPrice":0.01873896},{"symbol":"ZEC_USD","volumen24hours":185.6645292,"ask":124.03722369,"bid":124.14220784,"lastPrice":124.14220784}]}'
  recorded_at: Sat, 22 Sep 2018 01:54:10 GMT
recorded_with: VCR 4.0.0
