---
http_interactions:
- request:
    method: get
    uri: https://www.bitinka.com/api/apinka/order_book/ETH?format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"orders":{"sales":{"ETH":[{"Amount":6.44,"Price":0.04164061},{"Amount":6.97,"Price":0.04164061},{"Amount":3.14,"Price":0.04164061},{"Amount":3.86,"Price":0.04164061},{"Amount":4.26,"Price":0.04164061},{"Amount":0.05,"Price":0.04164061},{"Amount":2.41,"Price":0.04162428},{"Amount":6.33,"Price":0.04162428},{"Amount":7.23,"Price":0.04162428},{"Amount":6.04,"Price":0.04162428}]},"purchases":{"ETH":[{"Amount":4.37,"Price":0.04083849},{"Amount":3.45,"Price":0.04083849},{"Amount":3.13,"Price":0.04082166},{"Amount":1.7,"Price":0.04082166},{"Amount":10.05,"Price":0.04082166},{"Amount":6.84,"Price":0.04081572},{"Amount":0.18,"Price":0.04081572},{"Amount":6.91,"Price":0.04081572},{"Amount":10.7,"Price":0.04083387},{"Amount":2.05,"Price":0.04083387}]}}}'
  recorded_at: Mon, 27 Aug 2018 17:49:46 GMT
recorded_with: VCR 4.0.0
