---
http_interactions:
- request:
    method: get
    uri: https://www.bitinka.com/api/apinka/order_book/ETH_BTC?format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"orders":{"sales":{"ETH":[{"Amount":134.21513583,"Price":0.02776232},{"Amount":127.60370418,"Price":0.02772752},{"Amount":91.60103565,"Price":0.02772363},{"Amount":108.06719692,"Price":0.02769487},{"Amount":2.30306888,"Price":0.02743142},{"Amount":1.83475661,"Price":0.0274132},{"Amount":5.85196151,"Price":0.02718158},{"Amount":19.34434959,"Price":0.02717709},{"Amount":125.93728114,"Price":0.02708994},{"Amount":106.07473506,"Price":0.02708715},{"Amount":161.01962245,"Price":0.02708631},{"Amount":138.70354817,"Price":0.02708602},{"Amount":121.19901712,"Price":0.02708576},{"Amount":244.20592008,"Price":0.02708274},{"Amount":274.68419376,"Price":0.02708186},{"Amount":259.60746276,"Price":0.02708054},{"Amount":120.26009779,"Price":0.02708043},{"Amount":128.34229306,"Price":0.02708001},{"Amount":32.8962334,"Price":0.02707991},{"Amount":0.81853693,"Price":0.02707945}]},"purchases":{"ETH":[{"Amount":66.62181666,"Price":0.02780005},{"Amount":105.07040586,"Price":0.02785984},{"Amount":97.77261535,"Price":0.02788289},{"Amount":132.88957613,"Price":0.02797794},{"Amount":209.14088576,"Price":0.02811045},{"Amount":3.53818317,"Price":0.02811122},{"Amount":148.14824611,"Price":0.02811128},{"Amount":71.16344048,"Price":0.02811232},{"Amount":1.27867971,"Price":0.02811306},{"Amount":123.35975102,"Price":0.02811353},{"Amount":87.66198233,"Price":0.02811381},{"Amount":138.16982536,"Price":0.02811409},{"Amount":93.18625313,"Price":0.02811443},{"Amount":2.16038603,"Price":0.02811464},{"Amount":187.95027306,"Price":0.02811483},{"Amount":3.17600119,"Price":0.02811546},{"Amount":88.55782823,"Price":0.02811549},{"Amount":127.70449751,"Price":0.02811577},{"Amount":133.07731539,"Price":0.02811579},{"Amount":68.68980457,"Price":0.02811609}]}}}'
  recorded_at: Fri, 10 May 2019 05:05:18 GMT
recorded_with: VCR 4.0.0
