---
http_interactions:
- request:
    method: get
    uri: https://api.gopax.co.kr/trading-pairs/ETH-KRW/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '19'
      Latestmin:
      - '6394479'
      Pastmax:
      - '6393194'
      Etag:
      - W/"2c1a-3RhHRt4ebYUckgL6dIBt4QoLZyc"
    body:
      encoding: UTF-8
      string: '[{"time":"2018-03-12T14:37:04.000Z","date":1520865424,"id":6394479,"price":787500,"amount":0.92117229,"side":"sell"},{"time":"2018-03-12T14:36:47.000Z","date":1520865407,"id":6394472,"price":787500,"amount":1,"side":"buy"},{"time":"2018-03-12T14:36:30.000Z","date":1520865390,"id":6394461,"price":787500,"amount":2,"side":"buy"},{"time":"2018-03-12T14:36:25.000Z","date":1520865385,"id":6394455,"price":787500,"amount":4.2414,"side":"buy"},{"time":"2018-03-12T14:36:21.000Z","date":1520865381,"id":6394451,"price":787000,"amount":1,"side":"buy"},{"time":"2018-03-12T14:36:21.000Z","date":1520865381,"id":63944[...]
