---
http_interactions:
- request:
    method: get
    uri: https://bitsdaq.com/api/order?marketSymbol=ZEC-BTC&offset=0&orderType=BUY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Timestamp:
      - '1560499010935'
      Etag:
      - W/"e11-ncHTete5f3lPAKQV6eHonUNWOYM"
      Usercountrycode:
      - SG
    body:
      encoding: UTF-8
      string: '{"result":[{"price":0.01082306,"currentQuantity":5.38316177,"amount":0.0582622828264162},{"price":0.01082305,"currentQuantity":49.407,"amount":0.53473443135},{"price":0.01082139,"currentQuantity":27.65691402,"amount":0.2992862528068878},{"price":0.01082138,"currentQuantity":22,"amount":0.23807036},{"price":0.01081395,"currentQuantity":45,"amount":0.48662775},{"price":0.01081233,"currentQuantity":0.12063965,"amount":0.0013043957068845},{"price":0.01081138,"currentQuantity":44,"amount":0.47570072},{"price":0.01080001,"currentQuantity":18.26,"amount":0.1972081826},{[...]
- request:
    method: get
    uri: https://bitsdaq.com/api/order?marketSymbol=ZEC-BTC&offset=0&orderType=SELL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Timestamp:
      - '1560499011323'
      Etag:
      - W/"e6a-6P5EB9Fmg+kSwHqu+XgOINAGWqw"
      Usercountrycode:
      - SG
    body:
      encoding: UTF-8
      string: '{"result":[{"price[...]
