---
http_interactions:
- request:
    method: get
    uri: https://bitsdaq.com/api/order/matchedOrder?marketSymbol=ZEC-BTC&size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Timestamp:
      - '1560499011647'
      Etag:
      - W/"1377-2wZARDNXw42+iiCS+p6TtHh9Alg"
      Usercountrycode:
      - SG
    body:
      encoding: UTF-8
      string: '{"result":[{"createdAt":1560498602740,"price":0.01083747,"matchedQuantity":0.07402121,"makerOrderType":"SELL"},{"createdAt":1560498144940,"price":0.01082138,"matchedQuantity":0.0730778,"makerOrderType":"SELL"},{"createdAt":1560497766210,"price":0.01086038,"matchedQuantity":0.09450077,"makerOrderType":"BUY"},{"createdAt":1560497482930,"price":0.01085029,"matchedQuantity":0.98773623,"makerOrderType":"BUY"},{"createdAt":1560497479950,"price":0.01085028,"matchedQuantity":3.82941842,"makerOrderType":"BUY"},{"createdAt":1560497424620,"price":0.01085569,"matchedQuantity":5.71843177,"makerOrderType":"BUY[...]
