---
http_interactions:
- request:
    method: get
    uri: https://bitsdaq.com/api/normal/dg/marketSummary24h/detail
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Timestamp:
      - '1560499009773'
      Etag:
      - W/"2974-OgWQAegVZNtcMVEdiB5QnhuTgAA"
      Usercountrycode:
      - SG
    body:
      encoding: UTF-8
      string: '[{"last_price":0.00001022,"volume_24h":991761.86820911,"amount_24h":10.21649727,"price_updated_at":1560499005,"symbol":"LOOM","anchor":"BTC"},{"last_price":0.00011372,"volume_24h":2321.53417772,"amount_24h":0.26264577,"price_updated_at":1560499005,"symbol":"SRN","anchor":"ETH"},{"last_price":0.00035,"volume_24h":260707.03256464,"amount_24h":93.99112421,"price_updated_at":1560499005,"symbol":"CVC","anchor":"ETH"},{"last_price":0.00003971,"volume_24h":434469.23988681,"amount_24h":17.34584897,"price_updated_at":1560499005,"symbol":"BAT","anchor":"BTC"},{"last_price":0.00038729,"volume_24h":1122643.47522856,"amount_24h":458.1736204[...]
