---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_book_summary_by_instrument?instrument_name=BTC-PERPETUAL&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"volume_usd":863615769.99,"volume":97741.51,"quote_currency":"USD","open_interest":94798971,"mid_price":8365.75,"mark_price":8364.59,"low":7846.5,"last":8365.5,"instrument_name":"BTC-PERPETUAL","high":9760.5,"funding_8h":-0.00000305,"estimated_delivery_price":8363.15,"current_funding":0.0,"creation_timestamp":1569397039476,"bid_price":8365.5,"base_currency":"BTC","ask_price":8366.0}],"usIn":1569397039475938,"usOut":1569397039476119,"usDiff":181,"testnet":false}'
  recorded_at: Wed, 25 Sep 2019 07:37:18 GMT
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_index?currency=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"edp":8362.13,"BTC":8362.13},"usIn":1569397040588651,"usOut":1569397040588867,"usDiff":216,"testnet":false}'
  recorded_at: Wed, 25 Sep 2019 07:37:19 GMT
recorded_with: VCR 4.0.0
