---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/getsummary?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"currentFunding":0.0,"funding8h":-0.0000030499766933920302,"instrumentName":"BTC-PERPETUAL","openInterest":9479897.1,"openInterestAmount":94798971,"high":9760.5,"low":7846.5,"volume":86361577.0,"volumeUsd":863615770,"volumeBtc":97741.5131158,"last":8365.5,"bidPrice":8365.5,"askPrice":8366.0,"midPrice":8365.75,"estDelPrice":"","markPrice":8366.1,"created":"2019-09-25
        07:37:16 GMT"},"usIn":1569397036170314,"usOut":1569397036170507,"usDiff":193,"testnet":false}'
  recorded_at: Wed, 25 Sep 2019 07:37:15 GMT
recorded_with: VCR 4.0.0
