---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/getorderbook?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"state":"open","settlementPrice":8422.52,"instrument":"BTC-PERPETUAL","bids":[{"quantity":5738,"amount":57380.0,"price":8477.0,"cm":5738,"cm_amount":57380.0},{"quantity":2625,"amount":26250.0,"price":8476.5,"cm":8363,"cm_amount":83630.0},{"quantity":1999,"amount":19990.0,"price":8476.0,"cm":10362,"cm_amount":103620.0},{"quantity":254,"amount":2540.0,"price":8475.5,"cm":10616,"cm_amount":106160.0},{"quantity":15,"amount":150.0,"price":8475.0,"cm":10631,"cm_amount":106310.0},{"quantity":8512,"amount":85120.0,"price":8474.5,"cm":19143,"cm_amount":191430.0},{"quantity":3057,"amount":30570.0,"price":8474.0,"cm":22200,"cm_amount":222000.0},{"quant[...]
