---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_book_summary_by_currency?currency=BTC&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"volume_usd":14463710.0,"volume":1390.08,"quote_currency":"USD","open_interest":34412460,"mid_price":10369.75,"mark_price":10369.5,"low":10310.0,"last":10369.5,"instrument_name":"BTC-27SEP19","high":10543.5,"estimated_delivery_price":10302.54,"creation_timestamp":1568391857785,"bid_price":10369.5,"base_currency":"BTC","ask_price":10370.0},{"volume_usd":13768820.0,"volume":1292.87,"quote_currency":"USD","open_interest":71094070,"mid_price":10595.75,"mark_price":10596.41,"low":10535.0,"last":10594.0,"instrument_name":"BTC-27DEC19","high":10768.5,"estimated_delivery_price":10302.54,"creation_timestamp":1568391857785,"bid_price":10595.5,"base_currency":"BTC","ask_price":10596.0},{"volume_usd":164731650.0,"volume":15917.9,"quote_currency":"USD","open_interest":98839671,"mid_price":10308.75,"mark_price":10309.01,"low":10255.0,"last":10309.0,"instrument_name":"BTC-PERPETUAL","high":10474.0,"funding_8h":0.00034042,"estimated_delivery_price":10302.54,"current_funding":0.000128,"creation_timestamp":1568391857786,"bid_price":10308.5,"base_currency":"BTC","ask_price":10309.0}],"usIn":1568391857784251,"usOut":1568391857786002,"usDiff":1751,"testnet":false}'
  recorded_at: Fri, 13 Sep 2019 16:24:16 GMT
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_index?currency=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"edp":10302.54,"BTC":10302.54},"usIn":1568391858871119,"usOut":1568391858871135,"usDiff":16,"testnet":false}'
  recorded_at: Fri, 13 Sep 2019 16:24:17 GMT
recorded_with: VCR 4.0.0
