---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v1/public/getsummary?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"usOut":1556873739585675,"usIn":1556873739585485,"usDiff":190,"testnet":false,"success":true,"result":{"currentFunding":0.00047794504443117924,"funding8h":-0.000028137606971132073,"instrumentName":"BTC-PERPETUAL","openInterest":4443759.1,"openInterestAmount":44437591,"high":5754.25,"low":5334.0,"volume":27532987.0,"volumeUsd":275329870,"volumeBtc":50391.12843,"last":5674.25,"bidPrice":5674.0,"askPrice":5674.25,"midPrice":5674.13,"estDelPrice":5664.94,"markPrice":5670.48,"created":"2019-05-03
        08:55:39 GMT"},"message":""}'
  recorded_at: Fri, 03 May 2019 08:55:39 GMT
recorded_with: VCR 4.0.0
