---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_book_summary_by_instrument?instrument_name=BTC-27MAR20&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"volume_usd":10489660.0,"volume":1241.11,"quote_currency":"USD","open_interest":16780480,"mid_price":8347.25,"mark_price":8346.94,"low":8273.0,"last":8347.0,"instrument_name":"BTC-27MAR20","high":8657.5,"estimated_delivery_price":8234.57,"creation_timestamp":1570026243598,"bid_price":8347.0,"base_currency":"BTC","ask_price":8347.5}],"usIn":1570026243598742,"usOut":1570026243598831,"usDiff":89,"testnet":false}'
  recorded_at: Wed, 02 Oct 2019 14:24:03 GMT
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_instruments?currency=BTC&expired=false&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"tick_size":0.5,"taker_commission":0.0005,"settlement_period":"month","quote_currency":"USD","min_trade_amount":10.0,"maker_commission":-0.0002,"kind":"future","is_active":true,"instrument_name":"BTC-27MAR20","expiration_timestamp":1585296000000,"creation_timestamp":1568966442000,"contract_size":10.0,"base_currency":"BTC"},{"tick_size":0.5,"taker_commission":0.0005,"settlement_period":"month","quote_currency":"USD","min_trade_amount":10.0,"maker_commission":-0.0002,"kind":"future","is_active":true,"instrument_name":"BTC-27DEC19","expiration_timestamp":1577433600000,"creation_timestamp":1561366865000,"contract_size":10.0,"base_currency":"BTC"},{"tick_size":0.5,"taker_commission":0.00075,"settlement_period":"perpetual","quote_currency":"USD","min_trade_amount":10.0,"maker_commission":-0.00025,"kind":"future","is_active":true,"instrument_name":"BTC-PERPETUAL","expiration_timestamp":32503708800000,"creation_timestamp":1534242287000,"contract_size":10.0,"base_currency":"BTC"}],"usIn":1570026244757982,"usOut":1570026244759334,"usDiff":1352,"testnet":false}'
  recorded_at: Wed, 02 Oct 2019 14:24:04 GMT
recorded_with: VCR 4.0.0
