---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_book_summary_by_instrument?instrument_name=BTC-PERPETUAL&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"volume_usd":136646470.0,"volume":16065.95,"quote_currency":"USD","open_interest":87695241,"mid_price":8477.25,"mark_price":8476.9,"low":8376.0,"last":8477.5,"instrument_name":"BTC-PERPETUAL","high":8639.0,"funding_8h":0.00004143,"estimated_delivery_price":8471.08,"current_funding":0.00018704,"creation_timestamp":1574051331652,"bid_price":8477.0,"base_currency":"BTC","ask_price":8477.5}],"usIn":1574051331651995,"usOut":1574051331652372,"usDiff":377,"testnet":false}'
  recorded_at: Mon, 18 Nov 2019 04:28:51 GMT
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_index?currency=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"edp":8471.08,"BTC":8471.08},"usIn":1574051332703180,"usOut":1574051332703396,"usDiff":216,"testnet":false}'
  recorded_at: Mon, 18 Nov 2019 04:28:52 GMT
[...]
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_instruments?currency=BTC&expired=false&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"tick_size":0.5,"taker_commission":0.0005,"settlement_period":"month","quote_currency":"USD","min_trade_amount":10.0,"max_leverage":100,"maker_commission":-0.0002,"kind":"future","is_active":true,"instrument_name":"BTC-27MAR20","expiration_timestamp":1585296000000,"creation_timestamp":1568966442000,"contract_size":10.0,"base_currency":"BTC"},{"tick_size":0.5,"taker_commission":0.0005,"settlement_period":"month","quote_currency":"USD","min_trade_amount":10.0,"max_leverage":100,"maker_commission":-0.0002,"kind":"future","is_active":true,"instrument_name":"BTC-27DEC19","expiration_timestamp":1577433600000,"creation_timestamp":1561366865000,"contract_size":10.0,"base_currency":"BTC"},{"tick_size":0.5,"taker_commission":0.00075,"settlement_period":"perpetual","quote_currency":"USD","min_trade_amount":10.0,"max_leverage":100,"maker_commission":-0.00025,"kind":"future","is_active":true,"instrument_name":"BTC-PERPETUAL","expiration_timestamp":32503708800000,"creation_timestamp":1534242287000,"contract_size":10.0,"base_currency":"BTC"}],"usIn":1574051334868835,"usOut":1574051334870881,"usDiff":2046,"testnet":false}'
  recorded_at: Mon, 18 Nov 2019 04:28:54 GMT
recorded_with: VCR 4.0.0
