---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v1/public/getlasttrades?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"usOut":1568446565077381,"usIn":1568446565077338,"usDiff":43,"testnet":false,"success":true,"result":[{"tradeId":40933952,"instrument":"BTC-PERPETUAL","timeStamp":1568446563987,"tradeSeq":22186135,"quantity":30,"amount":300.0,"price":10342.5,"direction":"sell","tickDirection":3,"indexPrice":10326.53},{"tradeId":40933951,"instrument":"BTC-PERPETUAL","timeStamp":1568446558167,"tradeSeq":22186134,"quantity":350,"amount":3500.0,"price":10342.5,"direction":"sell","tickDirection":3,"indexPrice":10326.49},{"tradeId":40933950,"instrument":"BTC-PERPETUAL","timeStamp":1568446548920,"tradeSeq":22186133,"quantity":1324,"amount":13240.0,"price":10342.5,"direction":"sell","tickDirection":3,"indexPrice":10326.56},{"tradeId":40933949,"instrument":"BTC-PERPETUAL","timeStamp":1568446548920,"tradeSeq[...]
