---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_instruments?currency=BTC&expired=false&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"tick_size":0.5,"taker_commission":0.0005,"settlement_period":"month","quote_currency":"USD","min_trade_amount":10.0,"max_leverage":100,"maker_commission":-0.0002,"kind":"future","is_active":true,"instrument_name":"BTC-27MAR20","expiration_timestamp":1585296000000,"creation_timestamp":1568966442000,"contract_size":10.0,"base_currency":"BTC"},{"tick_size":0.5,"taker_commission":0.0005,"settlement_period":"month","quote_currency":"USD","min_trade_amount":10.0,"max_leverage":100,"maker_commission":-0.0002,"kind":"future","is_active":true,"instrument_name":"BTC-26JUN20","expiration_timestamp":1593158400000,"creation_timestamp":1576832420000,"contract_size":10.0,"base_currency":"BTC"},{"tick_size":0.5,"taker_commission":0.00075,"settlement_period":"perpetual","quote_currency":"USD","min_trade_amount":10.0,"max_leverage":100,"maker_commission":-0.00025,"kind":"future","is_active":true,"instrument_name":"BTC-PERPETUAL","expiration_timestamp":32503708800000,"creation_timestamp":1534242287000,"contract_size":10.0,"base_currency":"BTC"}],"usIn":1578027967889553,"usOut":1578027967891080,"usDiff":1527,"testnet":false}'
  recorded_at: Fri, 03 Jan 2020 05:06:07 GMT
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_instruments?currency=ETH&expired=false&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"tick_size":0.05,"taker_commission":0.0005,"settlement_period":"month","quote_currency":"USD","min_trade_amount":[...]
