---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/getsummary?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"currentFunding":0.00017405808940547678,"funding8h":0.00004140871283533951,"instrumentName":"BTC-PERPETUAL","openInterest":8769524.1,"openInterestAmount":87695241,"high":8639.0,"low":8376.0,"volume":13664647.0,"volumeUsd":136646470,"volumeBtc":16065.95045645,"last":8477.5,"bidPrice":8477.0,"askPrice":8477.5,"midPrice":8477.25,"estDelPrice":"","markPrice":8476.79,"created":"2019-11-18
        04:28:48 GMT"},"usIn":1574051328472410,"usOut":1574051328472670,"usDiff":260,"testnet":false}'
  recorded_at: Mon, 18 Nov 2019 04:28:48 GMT
recorded_with: VCR 4.0.0
