---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_instruments?currency=BTC&expired=false&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"tick_size":0.5,"taker_commission":0.0005,"settlement_period":"month","quote_currency":"USD","min_trade_amount":10.0,"maker_commission":-0.0002,"kind":"future","is_active":true,"instrument_name":"BTC-27SEP19","expiration_timestamp":1569571200000,"creation_timestamp":1553608828000,"contract_size":10.0,"base_currency":"BTC"},{"tick_size":0.5,"taker_commission":0.0005,"settlement_period":"month","quote_currency":"USD","min_trade_amount":10.0,"maker_commission":-0.0002,"kind":"future","is_active":true,"instrument_name":"BTC-27MAR20","expiration_timestamp":1585296000000,"creation_timestamp":1568966442000,"contract_size":10.0,"base_currency":"BTC"},{"tick_size":0.5,"taker_commission":0.0005,"settlement_period":"month","quote_currency":"USD","min_trade_amount":10.0,"maker_commission":-0.0002,"kind":"future","is_active":true,"instrument_name":"BTC-27DEC19","expiration_timestamp":1577433600000,"creation_timestamp":1561366865000,"contract_size":10.0,"base_currency":"BTC"},{"tick_size":0.5,"taker_commission":0.00075,"settlement_period":"perpetual","quote_currency":"USD","min_trade_amount":10.0,"maker_commission":-0.00025,"kind":"future","is_active":true,"instrument_name":"BTC-PERPETUAL","expiration_timestamp":32503708800000,"creation_timestamp":1534242287000,"contract_size":10.0,"base_currency":"BTC"}],"usIn":1569397033869135,"usOut":1569397033870795,"usDiff":1660,"testnet":false}'
  recorded_at: Wed, 25 Sep 2019 07:37:12 GMT
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_instruments?currency=ETH&expired=false&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"tick_size":0.05,"taker_commission":0.00075,"settlement_period":"month","quote_currency":"USD","min_trade_amount"[...]
