---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v1/public/getlasttrades?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"usOut":1556873741921776,"usIn":1556873741921715,"usDiff":61,"testnet":false,"success":true,"result":[{"tradeId":18634738,"instrument":"BTC-PERPETUAL","timeStamp":1556873740410,"tradeSeq":5047613,"quantity":34,"amount":340.0,"price":5674.25,"direction":"buy","tickDirection":1,"indexPrice":5667.12},{"tradeId":18634737,"instrument":"BTC-PERPETUAL","timeStamp":1556873740410,"tradeSeq":5047612,"quantity":28,"amount":280.0,"price":5674.25,"direction":"buy","tickDirection":0,"indexPrice":5667.12},{"tradeId":18634736,"instrument":"BTC-PERPETUAL","timeStamp":1556873740382,"tradeSeq":5047611,"quantity":385,"amount":3850.0,"price":5674.0,"direction":"sell","tickDirection":3,"indexPrice":5667.12},{"tradeId":18634735,"instrument":"BTC-PERPETUAL","timeStamp":1556873740382,"tradeSeq":5047610,"[...]
