---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v1/public/getorderbook?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"usOut":1568446563829729,"usIn":1568446563829495,"usDiff":234,"testnet":false,"success":true,"result":{"state":"open","settlementPrice":10323.44,"instrument":"BTC-PERPETUAL","bids":[{"quantity":26110,"amount":261100.0,"price":10342.5,"cm":26110,"cm_amount":261100.0},{"quantity":8,"amount":80.0,"price":10342.0,"cm":26118,"cm_amount":261180.0},{"quantity":2,"amount":20.0,"price":10341.5,"cm":26120,"cm_amount":261200.0},{"quantity":14,"amount":140.0,"price":10341.0,"cm":26134,"cm_amount":261340.0},{"quantity":29,"amount":290.0,"price":10340.5,"cm":26163,"cm_amount":261630.0},{"quantity":52,"amount":520.0,"price":10340.0,"cm":26215,"cm_amount":262150.0},{"quantity":5,"amount":50.0,"price":10339.5,"cm":26220,"cm_amount":262200.0},{"quantity":14,"amount[...]
