---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_book_summary_by_instrument?instrument_name=BTC-PERPETUAL&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"volume_usd":170496529.99,"volume":20463.87,"quote_currency":"USD","open_interest":84530351,"mid_price":8228.75,"mark_price":8228.11,"low":8170.5,"last":8229.0,"instrument_name":"BTC-PERPETUAL","high":8525.5,"funding_8h":-0.00001989,"estimated_delivery_price":8230.71,"current_funding":0.0,"creation_timestamp":1570025843540,"bid_price":8228.5,"base_currency":"BTC","ask_price":8229.0}],"usIn":1570025843540590,"usOut":1570025843540871,"usDiff":281,"testnet":false}'
  recorded_at: Wed, 02 Oct 2019 14:17:23 GMT
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_index?currency=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"edp":8231.28,"BTC":8231.28},"usIn":1570025844841322,"usOut":1570025844841345,"usDiff":23,"testnet":false}'
  recorded_at: Wed, 02 Oct 2019 14:17:24 GMT
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_book_summary_by_instrument?instrument_name=BTC-PERPETUAL&kind=future
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"volume_usd":170496839.99,"volume":20463.91,"quote_currency":"USD","open_interest":84530351,"mid_price":8228.75,"mark_price":8229.06,"low":8170.5,"last":8229.0,"instrument_name":"BTC-PERPETUAL","high":8525.5,"funding_8h":-0.00001989,"estimated_delivery_price":8231.65,"current_funding":0.0,"creation_timestamp":1570025846208,"bid_price":8228.5,"base_currency":"BTC","ask_price":8229.0}],"usIn":1570025846208527,"usOut":1570025846208867,"usDiff":340,"testnet":false}'
  recorded_at: Wed, 02 Oct 2019 14:17:26 GMT
recorded_with: VCR 4.0.0
