---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v1/public/getsummary?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"usOut":1568446562733875,"usIn":1568446562733703,"usDiff":172,"testnet":false,"success":true,"result":{"currentFunding":0.001083308155344354,"funding8h":0.0003788834976249809,"instrumentName":"BTC-PERPETUAL","openInterest":10365804.1,"openInterestAmount":103658041,"high":10410.0,"low":10163.0,"volume":18041316.0,"volumeUsd":180413160,"volumeBtc":17526.67673739,"last":10342.5,"bidPrice":10342.5,"askPrice":10343.0,"midPrice":10342.75,"estDelPrice":"","markPrice":10342.83,"created":"2019-09-14
        07:36:02 GMT"},"message":""}'
  recorded_at: Sat, 14 Sep 2019 07:36:01 GMT
recorded_with: VCR 4.0.0
