---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_book_summary_by_instrument?instrument_name=BTC-27MAR20-24000-C&kind=option
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"volume":0.2,"underlying_price":8722.27,"underlying_index":"BTC-27MAR20","quote_currency":"USD","open_interest":152.3,"mid_price":0.012,"mark_price":0.01203867,"low":0.014,"last":0.014,"interest_rate":0.0,"instrument_name":"BTC-27MAR20-24000-C","high":0.014,"estimated_delivery_price":8465.9,"creation_timestamp":1574051998585,"bid_price":0.0115,"base_currency":"BTC","ask_price":0.0125}],"usIn":1574051998585585,"usOut":1574051998585681,"usDiff":96,"testnet":false}'
  recorded_at: Mon, 18 Nov 2019 04:39:58 GMT
[...]
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/get_instruments?currency=BTC&expired=false&kind=option
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"tick_size":0.0005,"taker_commission":0.0004,"strike":7250.0,"settlement_period":"week","quote_currency":"USD","option_type":"put","min_trade_amount":0.1,"maker_commission":0.0004,"kind":"option","is_active":true,"instrument_name":"BTC-29NOV19-7250-P","expiration_timestamp":1575014400000,"creation_timestamp":1573718411000,"contract_size":1.0,"base_currency":"BTC"},{"tick_size":0.0005,"taker_commission":0.0004,"strike":6000.0,"settlement_period":"month","quote_currency":"USD","option_type":"call","min_trade_amount":0.1,"maker_commission":0.0004,"kind":"option","is_active":true,"instrument_name":"BTC-29NOV19-6000-C","expiration_timestamp":1575014400000,"creation_timestamp":1569573323000,"contract_size":1.0,"base_currency":"BTC"},{"tick_size":0.0005,"taker_commission":0.0004,"strike":7250.0,"settlement_period":"week","quote_currenc[...]
