---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/getorderbook?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"state":"open","settlementPrice":7080.64,"instrument":"BTC-PERPETUAL","bids":[{"quantity":11654,"amount":116540.0,"price":7211.5,"cm":11654,"cm_amount":116540.0},{"quantity":1176,"amount":11760.0,"price":7211.0,"cm":12830,"cm_amount":128300.0},{"quantity":7616,"amount":76160.0,"price":7210.5,"cm":20446,"cm_amount":204460.0},{"quantity":651,"amount":6510.0,"price":7210.0,"cm":21097,"cm_amount":210970.0},{"quantity":2753,"amount":27530.0,"price":7209.5,"cm":23850,"cm_amount":238500.0},{"quantity":377,"amount":3770.0,"price":7209.0,"cm":24227,"cm_amount":242270.0},{"quantity":2507,"amount":25070.0,"price":7208.5,"cm":26734,"cm_amount":267340.0},{"[...]
