---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/getorderbook?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"state":"open","settlementPrice":9749.88,"instrument":"BTC-PERPETUAL","bids":[{"quantity":3516,"amount":35160.0,"price":8365.5,"cm":3516,"cm_amount":35160.0},{"quantity":2000,"amount":20000.0,"price":8362.5,"cm":5516,"cm_amount":55160.0},{"quantity":190,"amount":1900.0,"price":8362.0,"cm":5706,"cm_amount":57060.0},{"quantity":2000,"amount":20000.0,"price":8361.5,"cm":7706,"cm_amount":77060.0},{"quantity":4251,"amount":42510.0,"price":8361.0,"cm":11957,"cm_amount":119570.0},{"quantity":50,"amount":500.0,"price":8360.0,"cm":12007,"cm_amount":120070.0},{"quantity":46,"amount":460.0,"price":8359.5,"cm":12053,"cm_amount":120530.0},{"quantity":259[...]
