---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/getlasttrades?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"tradeId":49796386,"instrument":"BTC-PERPETUAL","timeStamp":1574051217374,"tradeSeq":28671371,"quantity":22,"amount":220.0,"price":8477.5,"direction":"buy","tickDirection":1,"indexPrice":8470.88},{"tradeId":49796385,"instrument":"BTC-PERPETUAL","timeStamp":1574051188774,"tradeSeq":28671370,"quantity":278,"amount":2780.0,"price":8477.5,"direction":"buy","tickDirection":1,"indexPrice":8471.12},{"tradeId":49796384,"instrument":"BTC-PERPETUAL","timeStamp":1574051188774,"tradeSeq":28671369,"quantity":3,"amount":30.0,"price":8477.5,"direction":"buy","tickDirection":1,"indexPrice":8471.12},{"tradeId":49796383,"instrument":"BTC-PERPETUAL","timeStamp":1574051188774,"tradeSeq":28671368,"q[...]
