---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/getlasttrades?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"tradeId":55607245,"instrument":"BTC-PERPETUAL","timeStamp":1578027959222,"tradeSeq":32974636,"quantity":78,"amount":780.0,"price":7212.0,"direction":"buy","tickDirection":1,"indexPrice":7211.46},{"tradeId":55607244,"instrument":"BTC-PERPETUAL","timeStamp":1578027959222,"tradeSeq":32974635,"quantity":7,"amount":70.0,"price":7212.0,"direction":"buy","tickDirection":1,"indexPrice":7211.46},{"tradeId":55607243,"instrument":"BTC-PERPETUAL","timeStamp":1578027959222,"tradeSeq":32974634,"quantity":15,"amount":150.0,"price":7212.0,"direction":"buy","tickDirection":1,"indexPrice":7211.46},{"tradeId":55607236,"instrument":"BTC-PERPETUAL","timeStamp":1578027951091,"tradeSeq":32974633,"qua[...]
