---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v1/public/getorderbook?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"usOut":1556873740764838,"usIn":1556873740764632,"usDiff":206,"testnet":false,"success":true,"result":{"state":"open","settlementPrice":5586.78,"instrument":"BTC-PERPETUAL","bids":[{"quantity":11859,"amount":118590.0,"price":5674.0,"cm":11859,"cm_amount":118590.0},{"quantity":223,"amount":2230.0,"price":5673.25,"cm":12082,"cm_amount":120820.0},{"quantity":1650,"amount":16500.0,"price":5673.0,"cm":13732,"cm_amount":137320.0},{"quantity":49,"amount":490.0,"price":5672.25,"cm":13781,"cm_amount":137810.0},{"quantity":2608,"amount":26080.0,"price":5671.75,"cm":16389,"cm_amount":163890.0},{"quantity":2400,"amount":24000.0,"price":5671.5,"cm":18789,"cm_amount":187890.0},{"quantity":2400,"amount":24000.0,"price":5671.25,"cm":21189,"cm_amount":211890.0},[...]
