---
http_interactions:
- request:
    method: get
    uri: https://www.deribit.com/api/v2/public/getlasttrades?instrument=BTC-PERPETUAL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"tradeId":42455381,"instrument":"BTC-PERPETUAL","timeStamp":1569397023378,"tradeSeq":23340647,"quantity":202,"amount":2020.0,"price":8365.5,"direction":"buy","tickDirection":0,"indexPrice":8364.16},{"tradeId":42455380,"instrument":"BTC-PERPETUAL","timeStamp":1569397023354,"tradeSeq":23340646,"quantity":70,"amount":700.0,"price":8365.0,"direction":"buy","tickDirection":1,"indexPrice":8364.16},{"tradeId":42455379,"instrument":"BTC-PERPETUAL","timeStamp":1569397023354,"tradeSeq":23340645,"quantity":80,"amount":800.0,"price":8365.0,"direction":"buy","tickDirection":0,"indexPrice":8364.16},{"tradeId":42455378,"instrument":"BTC-PERPETUAL","timeStamp":1569397023325,"tradeSeq":23340644,"q[...]
