---
http_interactions:
- request:
    method: get
    uri: https://amoveo.exchange/api/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da6ad478ed9e7750595618a814ab7e3c"
      X-Cloud-Trace-Context:
      - 10af10e5d19527b2572307504a7cc5e6/14225714808769401385;o=1
    body:
      encoding: UTF-8
      string: '{"VEO_ETH":{"open":0.35,"low":0.35,"last":0.37,"high":0.37,"volume":11.61798808}}'
  recorded_at: Sat, 11 Aug 2018 18:36:28 GMT
recorded_with: VCR 4.0.0
