---
http_interactions:
- request:
    method: get
    uri: https://api.alterdice.com/v1/coingecko/pubticker/BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last_price":10149.26094,"low":9750.21083,"high":10763.37935,"volume":2928.98584206,"timestamp":1562071157.318959}'
  recorded_at: Tue, 02 Jul 2019 12:39:17 GMT
recorded_with: VCR 4.0.0
