---
http_interactions:
- request:
    method: get
    uri: https://api.alterdice.com/v1/coingecko/deals?symbol=btcusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"direction":"BUY","price":9912.3784,"amount":0.01833,"trade_date":1562071104000},{"direction":"BUY","price":9898.27497,"amount":0.01785,"trade_date":1562071043000},{"direction":"BUY","price":9896.47998,"amount":0.01854,"trade_date":1562071031000},{"direction":"BUY","price":9894.39372,"amount":0.01642,"trade_date":1562071016000},{"direction":"BUY","price":9894.00185,"amount":0.02928,"trade_date":1562070810000},{"direction":"BUY","price":9864.40704,"amount":0.03044,"trade_date":1562070956000},{"direction":"BUY","price":9853.87061,"amount":0.03236,"trade_date":15[...]
