---
http_interactions:
- request:
    method: get
    uri: https://api.alterdice.com/v1/pubticker/BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last_price":5620.9734,"low":5426.568,"high":6272.86659999,"volume":67.52487239,"timestamp":1542296458.325024}'
  recorded_at: Thu, 15 Nov 2018 15:41:01 GMT
recorded_with: VCR 4.0.0
