---
http_interactions:
- request:
    method: get
    uri: https://api.alterdice.com/v1/coingecko/pubticker/BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last_price":3658.3,"low":3646.6,"high":3733,"volume":33.11388043,"timestamp":1547692348.848825}'
  recorded_at: Thu, 17 Jan 2019 02:32:30 GMT
recorded_with: VCR 4.0.0
