---
http_interactions:
- request:
    method: get
    uri: https://ttlivewebapi.kineticex.com:8443/api/v1/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [{
         "DailyTradedTotalVolume": 0.48,
         "DailyTradedSellVolume": 0.26,
         "DailyTradedBuyVolume": 0.22,
         "DailyBestSellPrice": 0.054,
         "DailyBestBuyPrice": 0.049,
         "LastSellTimestamp": 1542714887971,
         "LastSellVolume": 0.02,
         "LastSellPrice": 0.052,
         "LastBuyTimestamp": 1542712278908,
         "LastBuyVolume": 0.02,
         "LastBuyPrice": 0.051,
         "BestAsk": 0.055,
         "BestBid": 0.052,
         "Symbol": "BCHBTC"
        }, {
         "DailyTradedTotalVolume": 0,
         "DailyTradedSellVolume": 0,
         "DailyTradedBuyVolume": 0,
         "DailyBestSellPrice": 0,
         "DailyBestBuyPrice": 0,
         "LastSellTimestamp": -62135596800000,
         "LastSellVolume": 0,
         "LastSellPrice": 0,
         "LastBuyTimestamp": -62135596800000,
         "LastBuyVolume": 0,
         "LastBuyPrice": 0,
         "BestAsk": 0.055,
         "BestBid": 0.052,
         "Symbol": "BCHBTC"
        [...]
