---
http_interactions:
- request:
    method: get
    uri: https://ttlivewebapi.kineticex.com:8443/api/v1/public/symbol
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [{
         "DefaultSlippage": 650,
         "MinCommission": 0.5,
         "LimitsCommission": 0.125,
         "Commission": 0.125,
         "TradeAmountStep": 0.01,
         "MaxTradeAmount": 1000,
         "MinTradeAmount": 0.1,
         "SwapEnabled": false,
         "IsTradeAllowed": true,
         "TripleSwapDay": 0,
         "SwapSizeLong": -0.18,
         "SwapSizeShort": -0.18,
         "Color": -8362846,
         "ProfitCurrencyPrecision": 5,
         "MarginCurrencyPrecision": 5,
         "Precision": 5,
         "HiddenLimitOrderMarginReduction": 1,
         "StopOrderMarginReduction": 1,
         "MarginFactor": 1,
         "MarginHedged": 0,
         "ContractSize": 1,
         "MarginMode": "CFD",
         "ProfitMode": "CFD",
         "SwapType": "Points",
         "CommissionType": "Percentage",
         "CommissionChargeType": "PerLot",
         "SecurityDescription": "Ethereum",
         "SecurityName": "Cash ETH",
         "StatusGroupId": "Default",
         "MinCommissionCurrency": "USD",
         "Schedule": "Default",
         "Description": "Ethereum vs BitCoin",
         "ProfitCurrency": "BTC",
         "MarginCurrency": "ETH",
         "Symbol": "ETHBTC"
        }, {
         "DefaultSlippage": 650,
         "MinCommission": 0.5,
         "LimitsCommission": 0.125,
         "Commission": 0.125,
         "TradeAmountStep": 0.01,
         "MaxTradeAmount": 1000,
         "MinTradeAmount": 0.1,
         "SwapEnabled": false,
         "IsTradeAllowed": false,
         "TripleSwapDay": 0,
         "SwapSizeLong": -0.18,
         "SwapSizeShort": -0.18,
         "Color": -8362846,
         "ProfitCurrencyPrecision": 5,
         "MarginCurren[...]
