---
http_interactions:
- request:
    method: get
    uri: https://api.kryptono.exchange/v1/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"122e-7GhDzu13XJOsaCE+Ao+HxH+zTR0"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"NPXS-ETH","High":0,"Low":0,"BaseVolume":0,"Last":0,"TimeStamp":"2018-06-05T05:00:00.000Z","Volume":null,"Bid":0,"Ask":0,"PrevDay":0},{"MarketName":"GTO-BTC","High":0.000038,"Low":0.0000305,"BaseVolume":45.55554717,"Last":0.0000312,"TimeStamp":"2018-06-05T05:00:00.000Z","Volume":1460113.6913461538,"Bid":"0.00003800","Ask":"0.00003000","PrevDay":0.000033},{"MarketName":"GTO-KNOW","High":2.6,"Low":1,"BaseVolume":40126842.614,"Last":1.12,"TimeStamp":"2018-06-05T05:00:00.000Z","Volume":35827538.04821428,"Bid":"2.30000000","Ask":"0.75000000","PrevDay":2},{"MarketName":"KNOW-ETH","High":0.0003971,"Low":0.000275,"BaseVolume":441.3[...]
