---
http_interactions:
- request:
    method: get
    uri: https://engines.kryptono.exchange/api/v1/cs?symbol=BTC_KNOW&tt=1m
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tt":"1m","symbol":"BTC_KNOW","nextTime":1527710700000,"series":[[1527710700000,"69488.10000000","69488.10000000","69396.58000000","69396.58000000","0.00300000"],[1527710940000,"69526.13000000","69623.88000000","69526.13000000","69623.88000000","0.00600000"],[1527711000000,"69623.88000000","69697.86000000","69623.88000000","69697.86000000","0.00200000"],[1527711240000,"69725.62000000","69725.62000000","69725.62000000","69725.62000000","0.00000000"],[1527711300000,"69725.62000000","69725.62000000","69554.77000000","69593.04000000","0.00600000"],[1527711480000[...]
- request:
    method: get
    uri: https://engines.kryptono.exchange/api/v1/cs?symbol=BTC_KNOW&tt=4h
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tt":"4h","symbol":"BTC_KNOW","nextTime":1527508800000,"series":[[1527508800000,"68765.89000000","69048.71000000","68273.39000000","68491.66000000","3.8500000[...]
