---
http_interactions:
- request:
    method: get
    uri: https://engine.kryptono.exchange/api/v1/dp?symbol=EOS_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"symbol":"EOS_BTC","asks":[["0.00170402","0.44000000"],["0.00170421","0.72000000"],["0.00171443","0.11000000"],["0.00171548","0.22000000"],["0.00172722","0.90000000"],["0.00173229","0.89000000"],["0.00173460","0.62000000"],["0.00173878","0.18000000"],["0.00173969","0.82000000"],["0.00174306","1.12000000"],["0.00176251","0.53000000"],["0.00176571","0.68000000"],["0.00178033","0.71000000"],["0.00178255","0.73000000"],["0.00179702","1.18000000"],["0.00179920","0.70000000"],["0.00180288","0.43000000"],["0.00180480","0.75000000"],["0.00181640","0.65000000"],["0.00184152","0.89000000"],["0.00184251","0.52000000"],["0.00184334","0.88000000"],["0.00184663","1.03000000"],["0.00184945","1.01000000"],["0.00186256","0.98000000"],["0.00187347","0.58000000"],["0.00187481","0.78000000"],["0.00187611","0.11000000"],["0.00189001","0.78000000"],["0.00189108","0.42000000"],["0.00190324","0.59000000"],["0.00191474","0.12000000"],["0.00194000","0.31000000"]],"limit":100,"bids":[["0.00158056","0.25000000"],["0.00151961","0.74000000"],["0.00148329","0.93000000"],["0.00148284","0.33000000"],["0.00147717","0.75000000"],["0.00147620","0.40000000"],["0.00147583","0.59000000"],["0.00147549","0.63000000"],["0.00147017","0.58000000"],["0.00146611","0.77000000"],["0.00146132","1.17000000"],["0.00145998","1.10000000"],["0.00144355","1.09000000"],["0.00142586","0.61000000"],["0.00141983","0.75000000"],["0.00140833","1.06000000"],["0.00140355","0.31000000"],["0.00139827","0.54000000"],["0.00137858","0.90000000"],["0.00137161","1.11000000"],["0.00135773","0.99000000"],["0.00133600","0.38000000"],["0.00133122","0.62000000"],["0.00130988","0.45000000"],["0.00127618","0.56000000"],["0.00127601","0.59000000"],["0.00127429","0.28000000"],["0.00125734","0.76000000"],["0.00125592","0.64000000"],["0.00125097","0.51000000"],["0.00124514","0.17000000"],["0.00123264","0.28000000"],["0.00122356","0.67000000"],["0.00122194","0.11000000"],["0.00121197","0.89000000"],["0.00121007","0.75000000"],["0.00120664","0.45000000"],["0.00120591","0.38000000"],["0.00119873","0.16000000"],["0.00119139","0.49000000"],["0.00117034","0.78000000"]],"time":1527398667205}'
  recorded_at: Sun, 27 May 2018 05:24:27 GMT
recorded_with: VCR 4.0.0
