---
http_interactions:
- request:
    method: get
    uri: https://api.kryptono.exchange/v1/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1943-VTC6V613MPbM5xb6tD23AnLHpzE"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"ADT-ETH","High":0.00003898,"Low":0.00003898,"BaseVolume":0,"Last":0.00003898,"TimeStamp":"2018-06-25T06:00:00.000Z","Volume":0,"Bid":"0.00003913","Ask":"0.00003898","PrevDay":0.00003898},{"MarketName":"GTO-BTC","High":0.00002288,"Low":0.00001515,"BaseVolume":13.05369204,"Last":0.00001865,"TimeStamp":"2018-06-25T06:00:00.000Z","Volume":699929.8680965147,"Bid":"0.00002015","Ask":"0.00001851","PrevDay":0.00001865},{"MarketName":"GTO-KNOW","High":1.7112,"Low":0.8929,"BaseVolume":7496544.5348,"Last":1.2778,"TimeStamp":"2018-06-25T06:00:00.000Z","Volume":5866758.909688527,"Bid":"1.28000000","Ask":"1.10000000","PrevDay":1.2778},{"MarketName":"ETH-USDT","High":589,"Low":354.[...]
