---
http_interactions:
- request:
    method: get
    uri: https://engine.kryptono.exchange/api/v1/cs?symbol=EOS_BTC&tt=1m
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tt":"1m","symbol":"EOS_BTC","nextTime":1527406320000,"series":[[1527406320000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[1527406380000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[1527406440000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[1527406500000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[1527406620000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[1527406680000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[152740674000[...]
- request:
    method: get
    uri: https://engine.kryptono.exchange/api/v1/cs?symbol=EOS_BTC&tt=4h
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tt":"4h","symbol":"EOS_BTC","nextTime":1525420800000,"series":[[1525420800000,"0.00174859","0.00179485","0.00174747","0.00175543","8654.54000000"],[15254352000[...]
