---
http_interactions:
- request:
    method: get
    uri: https://engines.kryptono.exchange/api/v1/ht?symbol=BTC_KNOW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"symbol":"BTC_KNOW","limit":100,"history":[{"id":26240,"price":"69655.35000000","qty":"0.00300000","isBuyerMaker":false,"time":1527735379330},{"id":26241,"price":"69570.45000000","qty":"0.00100000","isBuyerMaker":false,"time":1527735379332},{"id":26242,"price":"69601.21000000","qty":"0.00400000","isBuyerMaker":false,"time":1527735382909},{"id":26243,"price":"69639.60000000","qty":"0.00300000","isBuyerMaker":true,"time":1527735496992},{"id":26244,"price":"69675.82000000","qty":"0.00300000","isBuyerMaker":true,"time":1527735521704},{"id":26245,"price":"69725.96000000","qty":"0.00400000","isBuyerMaker":false,"time":1527735[...]
