---
http_interactions:
- request:
    method: get
    uri: https://engine.kryptono.exchange/api/v1/ht?symbol=EOS_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"symbol":"EOS_BTC","limit":100,"history":[{"id":453817,"price":"0.00162482","qty":"0.28000000","isBuyerMaker":true,"time":1527292483227},{"id":453818,"price":"0.00162482","qty":"0.45000000","isBuyerMaker":false,"time":1527292499916},{"id":453819,"price":"0.00162431","qty":"0.42000000","isBuyerMaker":true,"time":1527292500422},{"id":453820,"price":"0.00162431","qty":"0.31000000","isBuyerMaker":false,"time":1527292500969},{"id":453821,"price":"0.00162386","qty":"0.51000000","isBuyerMaker":true,"time":1527292502012},{"id":453822,"price":"0.00162386","qty":"0.24000000","isBuyerMaker":true,"time":1527292504039},{"id":45[...]
