---
http_interactions:
- request:
    method: get
    uri: https://engines.kryptono.exchange/api/v1/ht?symbol=KNOW_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"symbol":"KNOW_BTC","limit":100,"history":[{"id":57474,"price":"0.00002750","qty":"40.03000000","isBuyerMaker":false,"time":1528182100731},{"id":57475,"price":"0.00002795","qty":"14.05000000","isBuyerMaker":true,"time":1528182107782},{"id":57476,"price":"0.00002803","qty":"25.20000000","isBuyerMaker":false,"time":1528182108788},{"id":57477,"price":"0.00002803","qty":"14.05000000","isBuyerMaker":true,"time":1528182116330},{"id":57478,"price":"0.00002805","qty":"25.17000000","isBuyerMaker":false,"time":1528182117386},{"id":57479,"price":"0.00002804","qty":"39.23000000","isBuyerMaker":false,"time":1528182123957},{"id":5[...]
