---
http_interactions:
- request:
    method: get
    uri: https://engine.kryptono.exchange/api/v1/cs?symbol=EOS_BTC&tt=1m
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tt":"1m","symbol":"EOS_BTC","nextTime":1527366420000,"series":[[1527366420000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[1527366480000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[1527366660000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[1527366900000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[1527367260000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[1527367320000,"0.00162440","0.00162440","0.00162440","0.00162440","0.00000000"],[152736744000[...]
- request:
    method: get
    uri: https://engine.kryptono.exchange/api/v1/cs?symbol=EOS_BTC&tt=1d
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tt":"1d","symbol":"EOS_BTC","nextTime":1525392000000,"series":[[1525392000000,"0.00174859","0.00181880","0.00170449","0.00175143","19347.44000000"],[1525478400[...]
