---
http_interactions:
- request:
    method: get
    uri: https://engines.kryptono.exchange/api/v1/dp?symbol=BTC_KNOW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"symbol":"BTC_KNOW","asks":[["75399.69112337","0.00400000"],["77000.78204479","0.00300000"],["78123.84430180","0.00400000"],["78443.37142007","0.00500000"],["79647.49492260","0.00800000"],["79881.25114793","0.00600000"],["81007.20709895","0.00400000"],["83665.80777187","0.00500000"],["84345.06523781","0.00200000"],["84631.32346621","0.00400000"],["84711.21435622","0.00500000"],["86493.59053367","0.00800000"],["86769.74630164","0.00600000"],["87582.15306567","0.00700000"]],"limit":100,"bids":[["70237.02000000","0.00100000"],["70222.73000000","0.00100000"],["70199.83000000","0.00200000"],["70193.19000000","0.00600000"],["70189.12000000","0.00500000"],["70153.68000000","0.00600000"],["70107.49000000","0.00300000"],["70069.49000000","0.00400000"],["70058.67000000","0.00500000"],["70038.50000000","0.00600000"],["70000.32000000","0.00200000"],["66305.82276496","0.00300000"],["65725.17623605","0.00600000"],["64730.77368923","0.00200000"],["60502.81406355","0.00300000"],["58548.92887407","0.00300000"]],"time":1527597088990}'
  recorded_at: Thu, 31 May 2018 05:00:03 GMT
recorded_with: VCR 4.0.0
