---
http_interactions:
- request:
    method: get
    uri: https://bitkonan.com/api/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"last":"4499.00","high":"0.00","low":"0.00","bid":"4451.97","ask":"4499.00","open":"4499.00","volume":"0.47445764"}'
  recorded_at: Sat, 07 Oct 2017 02:37:59 GMT
recorded_with: VCR 3.0.3
