---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.bitcoin.com/api/2/public/trades/ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":671107326,"price":"0.020705","quantity":"0.5977","side":"sell","timestamp":"2019-09-24T03:11:16.288Z"},{"id":671107202,"price":"0.020711","quantity":"0.0814","side":"buy","timestamp":"2019-09-24T03:11:01.564Z"},{"id":671107109,"price":"0.020711","quantity":"1.1270","side":"buy","timestamp":"2019-09-24T03:10:49.937Z"},{"id":671107091,"price":"0.020711","quantity":"0.0378","side":"buy","timestamp":"2019-09-24T03:10:49.321Z"},{"id":671107072,"price":"0.020708","quantity":"0.0015","side":"buy","timestamp":"2019-09-24T03:10:44.948Z"},{"id":671106956,"price":"0.020711","quan[...]
