---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.bitcoin.com/api/2/public/ticker/ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ask":"0.020709","bid":"0.020704","last":"0.020705","open":"0.020909","low":"0.020551","high":"0.021343","volume":"79913.8865","volumeQuote":"1678.3881344038","timestamp":"2019-09-24T03:11:51.208Z","symbol":"ETHBTC"}'
  recorded_at: Tue, 24 Sep 2019 03:11:52 GMT
recorded_with: VCR 4.0.0
