---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.bitcoin.com/api/2/public/symbol
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"LTCBTC","baseCurrency":"LTC","quoteCurrency":"BTC","quantityIncrement":"0.001","tickSize":"0.0000001","takeLiquidityRate":"0.002","provideLiquidityRate":"0.001","feeCurrency":"BTC"},{"id":"XRPBTC","baseCurrency":"XRP","quoteCurrency":"BTC","quantityIncrement":"0.1","tickSize":"0.000000001","takeLiquidityRate":"0.002","provideLiquidityRate":"0.001","feeCurrency":"BTC"},{"id":"ETHBTC","baseCurrency":"ETH","quoteCurrency":"BTC","quantityIncrement":"0.0001","tickSize":"0.000001","takeLiquidityRate":"0.002","provideLiquidityRate":"0.001","feeCurrency":"BTC"},{"id":"TRXBTC","baseCurrency":"TRX","quoteCurrency":"BTC","quantityIncrement":"1","tickSize":"0.0000000001","takeLi[...]
