---
http_interactions:
- request:
    method: get
    uri: https://coinsquare.com/api/v1/data/quotes
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{ "quotes":[{"ticker":"CAD","base":"BTC","status":"open","last":"11110","volume":"803450317","volbase":"88295248224","bid":"11047","ask":"11110","low24":"10735","high24":"11269","ret24":"0.00871618"},{"ticker":"USD","base":"BTC","status":"open","last":"14350","volume":"2925547","volbase":"419770671","bid":"14165","ask":"14815","low24":"13752","high24":"14496","ret24":"0.000976562"},{"ticker":"EUR","base":"BTC","status":"open","last":"16578","volume":"0","volbase":"0","bid":"16429","ask":"17428","low24":"16208","high24":"16751","ret24":"-0.00198664"},{"ticker":"GBP","base":"BTC","status":"open","last":"18690","volume":"0","volbase":"0","bid":"18483","ask":"19301","low24":"18184"[...]
