---
http_interactions:
- request:
    method: get
    uri: https://coinsquare.com/api/v1/data/quotes
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{ "quotes":[{"ticker":"CAD","base":"BTC","status":"open","last":"11153","volume":"800331591","volbase":"87946775099","bid":"11056","ask":"11115","low24":"10735","high24":"11269","ret24":"0.0113348"},{"ticker":"USD","base":"BTC","status":"open","last":"14332","volume":"2925547","volbase":"419770671","bid":"14165","ask":"14813","low24":"13752","high24":"14496","ret24":"-0.00132395"},{"ticker":"EUR","base":"BTC","status":"open","last":"16568","volume":"0","volbase":"0","bid":"16429","ask":"17428","low24":"16208","high24":"16751","ret24":"-0.00360837"},{"ticker":"GBP","base":"BTC","status":"open","last":"18690","volume":"0","volbase":"0","bid":"18483","ask":"19301","low24":"18184",[...]
