---
http_interactions:
- request:
    method: get
    uri: https://nanu.exchange/public?command=returnOrderBook&currencyPair=BRL_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '297'
      Etag:
      - W/"e69-8kK1lFm1fU55R240ZEaZquHQFoo"
    body:
      encoding: UTF-8
      string: '{"asks":[{"id_order":5984,"id_user":1,"id_market":1,"price":"23500.0000000000","type":"buy","amount":"0.00020000","amount_origin":"0.00020000","state":"100","done_at":null,"created_at":"2018-07-07T11:10:25.000Z","updated_at":"2018-07-07T11:10:25.000Z","trade_count":0,"locked":"4.70000000","locked_origin":"4.70000000","total":"0.00020000"},{"id_order":5980,"id_user":1,"id_market":1,"price":"20000.0000000000","type":"buy","amount":"0.00025000","amount_origin":"0.00025000","state":"100","done_at":null,"created_at":"2018-07-07T11:09:28.000Z","updated_at":"2018-07-07T11:09:28.000Z","trade_count":0,"locked":"5.00000000","locked_origin":"5.00000000","total":"0.00025000"},{"id_order":5982,"id_user":1,"id_market":1,"price":"15000.0000000000","type":"buy","amount":"0.00025000","amount_origin":"0.00025000","state":"100","done_at":null,"created_at":"2018-07-07T11:09:52.000Z","updated_at":"2018-07-07T11:09:52.000Z","trade_count":0,"locked":"3.75000000","locked_origin":"3.75000000","total":"0.00025000"},{"id_order":5981,"id_user":1,"id_market":1,"price":"10000.0000000000","type":"buy","amount":"0.00025000","amount_origin":"0.00025000","state":"100","done_at":null,"created_at":"2018-07-07T11:09:34.000Z","updated_at":"2018-07-07T11:09:34.000Z","trade_count":0,"locked":"2.50000000","locked_origin":"2.50000000","total":"0.00025000"},{"id_order":5983,"id_user":1,"id_market":1,"price":"5000.0000000000","type":"buy","amount":"0.00025000","amount_origin":"0.00025000","state":"100","done_at":null,"created_at":"2018-07-07T11:09:59.000Z","updated_at":"2018-07-07T11:09:59.000Z","trade_count":0,"locked":"1.25000000","locked_origin":"1.25000000","total":"0.00025000"}],"bids":[{"id_order":12019,"id_user":848,"id_market":1,"price":"49600.0000000000","type":"sell","amount":"0.00006456","amount_origin":"0.00006456","state":"100","done_at":null,"created_at":"2018-09-02T15:27:29.000Z","updated_at":"2018-09-02T15:27:29.000Z","trade_count":0,"locked":"0.00006456","locked_origin":"0.00006456","total":"0.00006456"},{"id_order":5995,"id_user":425,"id_market":1,"price":"50000.0000000000","type":"sell","amount":"0.00085267","amount_origin":"0.00100000","state":"100","done_at":nu[...]
