---
http_interactions:
- request:
    method: get
    uri: https://nanu.exchange/public?command=returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      Etag:
      - W/"2694-rWhPpBo/kKXEFupGFMyvLJb1q8E"
    body:
      encoding: UTF-8
      string: '{"BRL_BTC":{"currencyPair":"BRL_BTC","last":"24500.0000000000","lowestAsk":"23500.0000000000","highestBid":"49600.0000000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"24500.0000000000","min24hr":"24500.0000000000","tradeCount":"0"},"BRL_DGB":{"currencyPair":"BRL_DGB","last":"0.0900000000","lowestAsk":null,"highestBid":null,"percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0900000000","min24hr":"0.0900000000","tradeCount":"0"},"BRL_POT":{"currencyPair":"BRL_POT","last":"0.3000000000","lowestAsk":null,"highestBid":null,"percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.3000000000","min24hr":"0.3000000000","tradeCount":"0"},"BTC_POT":{"currencyPair":"BTC_POT","last":"0.0000100000","lowestAsk":"0.0000060000","highestBid":"0.0000100900","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000100000","min24hr":"0.0000100000","tradeCount":"0"},"BTC_DGB":{"currencyPair":"BTC_DGB","last":"0.0000038000","lowestAsk":"0.0000038000","highestBid":"0.0000051000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000038000","min24hr":"0.0000038000","tradeCount":"0"},"BRL_NNC":{"currencyPair":"BRL_NNC","last":"0.1500000000","lowestAsk":"0.0400000000","highestBid":"0.1500000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.1500000000","min24hr":"0.1500000000","tradeCount":"0"},"BTC_NNC":{"currencyPair":"BTC_NNC","last":"0.0000029300","lowestAsk":"0.0000029300","highestBid":"0.0000034500","percentChange":"-0.06089743589744","baseVolume":"0.000752924241206200","quoteVolume":"246.93269663","high24hr":"0.0000031400","min24hr":"0.0000029300","tradeCount":"8"},"BTC_LTC":{"currencyPair":"BTC_LTC","last":"0.0086810000","lowestAsk":"0.0086810000","highestBid":"0.0092475000","percentChange":"-0.00011518083391","baseVolume":"0.000153299792480000","quoteVolume":"0.01765808","high24hr":"0.0086820000","min24hr":"0.0086810000","tradeCount":"2"},"LTC_NNC":{"currencyPair":"LTC_NNC","last":"0.0003900000","lowestAsk":"0.0001230000","highestBid":"0.0003900000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0003900000","min24hr":"0.0003900000","tradeCount":"0"},"BRL_LTC":{"currencyPair":"BRL_LTC","last":"447.0000000000","lowestAsk":"315.0000000000","highestBid":"447.0000000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"447.0000000000","min24hr":"447.0000000000","tradeCount":"0"},"BTC_DOGE":{"currencyPair":"BTC_DOGE","last":"0.0000008000","lowestAsk":"0.0000006900","highestBid":"0.0000007900","percentChange":"0.15942028985507","baseVolume":"0.005511882235950700","quoteVolume":"7816.53040655","high24hr":"0.0000008000","min24hr":"0.0000006800","tradeCount":"16"},"NNC_DOGE":{"currencyPair":"NNC_DOGE","last":"0.1000000000","lowestAsk":"0.0491000000","highestBid":null,"percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.1000000000","min24hr":"0.1000000000","tradeCount":"0"},"NNC_POT":{"currencyPair":"NNC_POT","last":"2.5000000000","lowestAsk":"1.6800000100","highestBid":"2.3000000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"2.5000000000","min24hr":"2.5000000000","tradeCount":"0"},"NNC_DGB":{"currencyPair":"NNC_DGB","last":"1.3700000000","lowestAsk":"0.6200000100","highestBid":"1.3690000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"1.3700000000","min24hr":"1.3700000000","tradeCount":"0"},"BTC_YIC":{"currencyPair":"BTC_YIC","last":"0.0000000118","lowestAsk":"0.0000000101","highestBid":"0.0000000118","percentChange":"0.18000000000000","baseVolume":"0.000149669999999944","quoteVolume":"12683.89830508","high24hr":"0.0000000118","min24hr":"0.0000000100","tradeCount":"2"},"BTC_VVX":{"currencyPair":"BTC_VVX","last":"0.0000000012","lowestAsk":"0.0000000012","highestBid":"0.0000000013","percentChange":"0.00000000000000","baseVolume":"0.001468757605390044","quoteVolume":"1223964.67115837","high24hr":"0.0000000012","min24hr":"0.0000000012","tradeCount":"3"},"NNC_VVX":{"currencyPair":"NNC_VVX","last":"0.0001900000","lowestAsk":"0.0001900000","highestBid":"0.0003475000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0001900000","min24hr":"0.0001900000","tradeCount":"0"},"BTC_WAVES":{"currencyPair":"BTC_WAVES","last":"0.0003299800","lowestAsk":"0.0003110000","highestBid":"0.0003198700","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0003299800","min24hr":"0.0003299800","tradeCount":"0"},"BTC_COMBI":{"currencyPair":"BTC_COMBI","last":"0.0000000093","lowestAsk":"0.0000000050","highestBid":"0.0000000094","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000093","min24hr":"0.0000000093","tradeCount":"0"},"NNC_COMBI":{"currencyPair":"NNC_COMBI","last":"0.0004900000","lowestAsk":"0.0000943000","highestBid":"0.0055000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0004900000","min24hr":"0.0004900000","tradeCount":"0"},"NNC_TLAND":{"currencyPair":"NNC_TLAND","last":"0.0005100000","lowestAsk":"0.0000605000","highestBid":"0.0010000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0005100000","min24hr":"0.0005100000","tradeCount":"0"},"BTC_PWC":{"currencyPair":"BTC_PWC","last":"0.0000000300","lowestAsk":"0.0000000200","highestBid":"0.0000000300","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000300","min24hr":"0.0000000300","tradeCount":"0"},"BTC_TLAND":{"currencyPair":"BTC_TLAND","last":"0.0000000015","lowestAsk":"0.0000000008","highestBid":"0.0000000015","percentChange":"0.00000000000000","baseVolume":"0.015140709999999990","quoteVolume":"10093806.66666666","high24hr":"0.0000000015","min24hr":"0.0000000015","tradeCount":"1"},"BTC_BB":{"currencyPair":"BTC_BB","last":"400.0000000000","lowestAsk":"100.0000000000","highestBid":"400.0000000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"400.0000000000","min24hr":"400.0000000000","tradeCount":"0"},"BTC_XRUP":{"currencyPair":"BTC_XRUP","last":"0.0000000200","lowestAsk":null,"highestBid":"0.0000000200","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000200","min24hr":"0.0000000200","tradeCount":"0"},"BTC_XDLR":{"currencyPair":"BTC_XDLR","last":"0.0000030000","lowestAsk":"0.0000010000","highestBid":"0.0000030000","percentChange":"0.00000000000000","baseVolume":"0.003111539999970000","quoteVolume":"1037.17999999","high24hr":"0.0000030000","min24hr":"0.0000030000","tradeCount":"2"},"BTC_NBX":{"currencyPair":"BTC_NBX","last":"0.0000000026","lowestAsk":"0.0000000027","highestBid":"0.0000000030","percentChange":"-0.13333333333333","baseVolume":"0.002529434478333358","quoteVolume":"816054.84088233","high24hr":"0.0000000039","min24hr":"0.0000000026","tradeCount":"29"},"NNC_NBX":{"currencyPair":"NNC_NBX","last":"0.0007600000","lowestAsk":"0.0003500000","highestBid":"0.0007600000","percentChange":"0.00000000000000","baseVolume":"259.660057289993471600","quoteVolume":"344583.95365341","high24hr":"0.0007600000","min24hr":"0.0003598700","tradeCount":"2"},"NNC_PWC":{"currencyPair":"NNC_PWC","last":"0.0410000000","lowestAsk":"0.0006000000","highestBid":"0.0349999800","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0410000000","min24hr":"0.0410000000","tradeCount":"0"},"BTC_RPD":{"currencyPair":"BTC_RPD","last":"0.0000000100","lowestAsk":"0.0000000100","highestBid":"0.0000000300","percentChange":"0.00000000000000","baseVolume":"0.002995700000000000","quoteVolume":"289590.00000000","high24hr":"0.0000000300","min24hr":"0.0000000100","tradeCount":"13"},"BTC_DART":{"currencyPair":"BTC_DART","last":"0.0000000030","lowestAsk":"0.0000000010","highestBid":"0.0000000032","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000030","min24hr":"0.0000000030","tradeCount":"0"},"BTC_INRDC":{"currencyPair":"BTC_INRDC","last":"0.0000001000","lowestAsk":"0.0000000500","highestBid":"0.0000001500","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000001000","min24hr":"0.0000001000","tradeCount":"0"},"WAVES_NNC":{"currencyPair":"WAVES_NNC","last":"0.0009000100","lowestAsk":"0.0009000100","highestBid":"0.0093000000","percentChange":"-0.90322473118280","baseVolume":"0.000868799975225800","quoteVolume":"0.96532258","high24hr":"0.0093000000","min24hr":"0.0009000100","tradeCount":"1"},"BTC_SATO":{"currencyPair":"BTC_SATO","last":"0.0000000200","lowestAsk":"0.0000000200","highestBid":"0.0000000300","percentChange":"-0.84615384615385","baseVolume":"0.000140000000000000","quoteVolume":"5000.00000000","high24hr":"0.0000001300","min24hr":"0.0000000200","tradeCount":"4"},"WAVES_NBX":{"currencyPair":"WAVES_NBX","last":"0.0000000300","lowestAsk":"0.0000000300","highestBid":"0.0000758900","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000300","min24hr":"0.0000000300","tradeCount":"0"}}'
  recorded_at: Wed, 05 Sep 2018 20:06:30 GMT
recorded_with: VCR 4.0.0
