---
http_interactions:
- request:
    method: get
    uri: https://nanu.exchange/public?command=returnTradeHistory&currencyPair=BRL_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      Etag:
      - W/"593b-AkxtuQWwJyozM9NclRKNcS5jJQQ"
    body:
      encoding: UTF-8
      string: '[{"id_trade":3863,"id_order_ask":6074,"id_order_bid":9695,"id_market":1,"type":"sell","price":"24500.0000000000","amount":"0.00006174","total":"1.51263000","created_at":"2018-08-15T20:43:46.000Z"},{"id_trade":3559,"id_order_ask":6835,"id_order_bid":8977,"id_market":1,"type":"sell","price":"25000.0000000000","amount":"0.00006453","total":"1.61325000","created_at":"2018-08-09T23:40:24.000Z"},{"id_trade":2681,"id_order_ask":6835,"id_order_bid":6836,"id_market":1,"type":"sell","price":"25000.0000000000","amount":"0.00320000","total":"80.00000000","created_at":"2018-07-18T00:13:41.000Z"},{"id_trade":2632,"id_order_ask":6074,"id_order_bid":6709,"id_market":1,"type":"[...]
