---
http_interactions:
- request:
    method: get
    uri: https://nanu.exchange/public?command=returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '298'
      Etag:
      - W/"268d-DqlXYyAEBvvmhlI8oOLSW/HcQx8"
    body:
      encoding: UTF-8
      string: '{"BRL_BTC":{"currencyPair":"BRL_BTC","last":"24500.0000000000","lowestAsk":"23500.0000000000","highestBid":"49600.0000000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"24500.0000000000","min24hr":"24500.0000000000","tradeCount":"0"},"BRL_DGB":{"currencyPair":"BRL_DGB","last":"0.0900000000","lowestAsk":null,"highestBid":null,"percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0900000000","min24hr":"0.0900000000","tradeCount":"0"},"BRL_POT":{"currencyPair":"BRL_POT","last":"0.3000000000","lowestAsk":null,"highestBid":null,"percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.3000000000","min24hr":"0.3000000000","tradeCount":"0"},"BTC_POT":{"currencyPair":"BTC_POT","last":"0.0000100000","lowestAsk":"0.0000060000","highestBid":"0.0000100900","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000100000","min24hr":"0.0000100000","tradeCount":"0"},"BTC_DGB":{"currencyPair":"BTC_DGB","last":"0.0000038000","lowestAsk":"0.0000038000","highestBid":"0.0000051000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000038000","min24hr":"0.0000038000","tradeCount":"0"},"BRL_NNC":{"currencyPair":"BRL_NNC","last":"0.1500000000","lowestAsk":"0.0400000000","highestBid":"0.1500000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.1500000000","min24hr":"0.1500000000","tradeCount":"0"},"BTC_NNC":{"currencyPair":"BTC_NNC","last":"0.0000034800","lowestAsk":"0.0000029400","highestBid":"0.0000033900","percentChange":"0.10828025477707","baseVolume":"0.002932626564589500","quoteVolume":"870.74318921","high24hr":"0.0000034900","min24hr":"0.0000029300","tradeCount":"19"},"BTC_LTC":{"currencyPair":"BTC_LTC","last":"0.0086810000","lowestAsk":"0.0086810000","highestBid":"0.0092000000","percentChange":"-0.00011518083391","baseVolume":"0.000153299792480000","quoteVolume":"0.01765808","high24hr":"0.0086820000","min24hr":"0.0086810000","tradeCount":"2"},"LTC_NNC":{"currencyPair":"LTC_NNC","last":"0.0003900000","lowestAsk":"0.0001230000","highestBid":"0.0003900000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0003900000","min24hr":"0.0003900000","tradeCount":"0"},"BRL_LTC":{"currencyPair":"BRL_LTC","last":"447.0000000000","lowestAsk":"315.0000000000","highestBid":"447.0000000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"447.0000000000","min24hr":"447.0000000000","tradeCount":"0"},"BTC_DOGE":{"currencyPair":"BTC_DOGE","last":"0.0000006900","lowestAsk":"0.0000006900","highestBid":"0.0000007900","percentChange":"0.00000000000000","baseVolume":"0.001918255387001000","quoteVolume":"2567.00309710","high24hr":"0.0000008000","min24hr":"0.0000006900","tradeCount":"14"},"NNC_DOGE":{"currencyPair":"NNC_DOGE","last":"0.1000000000","lowestAsk":"0.0492000000","highestBid":null,"percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.1000000000","min24hr":"0.1000000000","tradeCount":"0"},"NNC_POT":{"currencyPair":"NNC_POT","last":"2.5000000000","lowestAsk":"1.6800000100","highestBid":"2.3000000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"2.5000000000","min24hr":"2.5000000000","tradeCount":"0"},"NNC_DGB":{"currencyPair":"NNC_DGB","last":"1.3700000000","lowestAsk":"0.6200000100","highestBid":"1.3690000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"1.3700000000","min24hr":"1.3700000000","tradeCount":"0"},"BTC_YIC":{"currencyPair":"BTC_YIC","last":"0.0000000118","lowestAsk":"0.0000000101","highestBid":"0.0000000118","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000118","min24hr":"0.0000000118","tradeCount":"0"},"BTC_VVX":{"currencyPair":"BTC_VVX","last":"0.0000000012","lowestAsk":"0.0000000012","highestBid":"0.0000000013","percentChange":"0.00000000000000","baseVolume":"0.000821475035319600","quoteVolume":"684562.52943300","high24hr":"0.0000000012","min24hr":"0.0000000012","tradeCount":"2"},"NNC_VVX":{"currencyPair":"NNC_VVX","last":"0.0001900000","lowestAsk":"0.0001900000","highestBid":"0.0003475000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0001900000","min24hr":"0.0001900000","tradeCount":"0"},"BTC_WAVES":{"currencyPair":"BTC_WAVES","last":"0.0003000000","lowestAsk":"0.0002901000","highestBid":"0.0003100000","percentChange":"-0.09085399115098","baseVolume":"0.000460500000000000","quoteVolume":"1.50000000","high24hr":"0.0003299800","min24hr":"0.0003000000","tradeCount":"3"},"BTC_COMBI":{"currencyPair":"BTC_COMBI","last":"0.0000000093","lowestAsk":"0.0000000050","highestBid":"0.0000000094","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000093","min24hr":"0.0000000093","tradeCount":"0"},"NNC_COMBI":{"currencyPair":"NNC_COMBI","last":"0.0004900000","lowestAsk":"0.0000943000","highestBid":"0.0055000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0004900000","min24hr":"0.0004900000","tradeCount":"0"},"NNC_TLAND":{"currencyPair":"NNC_TLAND","last":"0.0005100000","lowestAsk":"0.0000605000","highestBid":"0.0010000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0005100000","min24hr":"0.0005100000","tradeCount":"0"},"BTC_PWC":{"currencyPair":"BTC_PWC","last":"0.0000000300","lowestAsk":"0.0000000200","highestBid":"0.0000000300","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000300","min24hr":"0.0000000300","tradeCount":"0"},"BTC_TLAND":{"currencyPair":"BTC_TLAND","last":"0.0000000015","lowestAsk":"0.0000000008","highestBid":"0.0000000015","percentChange":"0.00000000000000","baseVolume":"0.007199999999999970","quoteVolume":"4799999.99999998","high24hr":"0.0000000015","min24hr":"0.0000000015","tradeCount":"4"},"BTC_BB":{"currencyPair":"BTC_BB","last":"400.0000000000","lowestAsk":"100.0000000000","highestBid":"400.0000000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"400.0000000000","min24hr":"400.0000000000","tradeCount":"0"},"BTC_XRUP":{"currencyPair":"BTC_XRUP","last":"0.0000000200","lowestAsk":null,"highestBid":"0.0000000200","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000200","min24hr":"0.0000000200","tradeCount":"0"},"BTC_XDLR":{"currencyPair":"BTC_XDLR","last":"0.0000030000","lowestAsk":"0.0000010000","highestBid":"0.0000030000","percentChange":"0.00000000000000","baseVolume":"0.003111539999970000","quoteVolume":"1037.17999999","high24hr":"0.0000030000","min24hr":"0.0000030000","tradeCount":"2"},"BTC_NBX":{"currencyPair":"BTC_NBX","last":"0.0000000026","lowestAsk":"0.0000000025","highestBid":"0.0000000035","percentChange":"-0.13333333333333","baseVolume":"0.005127051255738547","quoteVolume":"1782086.65674109","high24hr":"0.0000000039","min24hr":"0.0000000026","tradeCount":"34"},"NNC_NBX":{"currencyPair":"NNC_NBX","last":"0.0008077700","lowestAsk":"0.0005000000","highestBid":"0.0008077700","percentChange":"1.24461611137355","baseVolume":"567.680740720497340000","quoteVolume":"744275.63297194","high24hr":"0.0008077700","min24hr":"0.0003598700","tradeCount":"11"},"NNC_PWC":{"currencyPair":"NNC_PWC","last":"0.0410000000","lowestAsk":"0.0006000000","highestBid":"0.0349999800","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0410000000","min24hr":"0.0410000000","tradeCount":"0"},"BTC_RPD":{"currencyPair":"BTC_RPD","last":"0.0000000100","lowestAsk":"0.0000000100","highestBid":"0.0000000200","percentChange":"-0.66666666666667","baseVolume":"0.002966000000000000","quoteVolume":"288600.00000000","high24hr":"0.0000000300","min24hr":"0.0000000100","tradeCount":"12"},"BTC_DART":{"currencyPair":"BTC_DART","last":"0.0000000030","lowestAsk":"0.0000000010","highestBid":"0.0000000032","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000030","min24hr":"0.0000000030","tradeCount":"0"},"BTC_INRDC":{"currencyPair":"BTC_INRDC","last":"0.0000001000","lowestAsk":"0.0000000500","highestBid":"0.0000001500","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000001000","min24hr":"0.0000001000","tradeCount":"0"},"WAVES_NNC":{"currencyPair":"WAVES_NNC","last":"0.0009000100","lowestAsk":"0.0009000100","highestBid":"0.0093000000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0009000100","min24hr":"0.0009000100","tradeCount":"0"},"BTC_SATO":{"currencyPair":"BTC_SATO","last":"0.0000000200","lowestAsk":"0.0000000200","highestBid":"0.0000000300","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000200","min24hr":"0.0000000200","tradeCount":"0"},"WAVES_NBX":{"currencyPair":"WAVES_NBX","last":"0.0000000300","lowestAsk":"0.0000011000","highestBid":"0.0000600000","percentChange":"0.00000000000000","baseVolume":"0.000000000000000000","quoteVolume":"0.00000000","high24hr":"0.0000000300","min24hr":"0.0000000300","tradeCount":"0"}}'
  recorded_at: Thu, 06 Sep 2018 09:12:21 GMT
recorded_with: VCR 4.0.0
