---
http_interactions:
- request:
    method: get
    uri: https://wex.nz/api/3/ticker/btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"btc_usd":{"high":9889.248,"low":9474.161,"avg":9681.7045,"vol":21806712.30264,"vol_cur":2237.4605,"last":9814,"buy":9830.57,"sell":9810,"updated":1511910819}}'
  recorded_at: Tue, 28 Nov 2017 23:13:41 GMT
recorded_with: VCR 3.0.3
