---
http_interactions:
- request:
    method: get
    uri: https://wex.nz/api/3/trades/btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"btc_usd":[{"type":"ask","price":9706.99,"amount":0.01,"tid":6392983,"timestamp":1512043632},{"type":"ask","price":9727.514,"amount":0.41623806,"tid":6392964,"timestamp":1512043629},{"type":"ask","price":9705,"amount":0.00998,"tid":6392862,"timestamp":1512043589},{"type":"bid","price":9706.99,"amount":0.00219724,"tid":6392858,"timestamp":1512043584},{"type":"ask","price":9706.99,"amount":0.00780276,"tid":6392856,"timestamp":1512043583},{"type":"bid","price":9717.897,"amount":0.00430848,"tid":6392852,"timestamp":1512043582},{"type":"bid","price":9717.897,"amount":0.00355906,"[...]
