---
http_interactions:
- request:
    method: get
    uri: https://www.vertpig.com/api/v1.1/public/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"VTCEUR","MarketPairing":"EUR","MarketPairingName":"Euro","Bid":"1.52","Ask":"1.54","Last":"1.52","Volume":"99.00000000","VTC_Volume":"99.00000000","Paired_Volume":"151.03","EUR_Volume":"151.03","High24hr":"1.53","Low24hr":"1.52"},{"MarketName":"VTCBTC","MarketPairing":"BTC","MarketPairingName":"Bitcoin","Bid":"0.00023083","Ask":"0.00023188","Last":"0.00023138","Volume":"757.67050645","VTC_Volume":"757.67050645","Paired_Volume":"0.17854553","BTC_Volume":"0.17854553","High24hr":"0.00024047","Low24hr":"0.00023000"},{"MarketName":"VTCLTC","MarketPairing":"LTC","MarketPairingName":"Litecoin","Bid":"0.01447610","Ask":"0.01451136","Last":"0.01412043","Volume":"1012.06828231","VTC_Volume":"1012.06828231","Paired_Volume":"14.42176414","LTC_Volume":"14.42176414","High24hr":"0.01504743","Low24hr":"0.01400000"}]}'
  recorded_at: Mon, 28 May 2018 07:47:27 GMT
recorded_with: VCR 4.0.0
