---
http_interactions:
- request:
    method: get
    uri: https://www.vertpig.com/api/v1.1/public/getorderbook?market=VTCEUR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":{"buy":[{"Quantity":"5.20000000","Rate":"1.52"},{"Quantity":"2.77777778","Rate":"1.51"},{"Quantity":"73.80000000","Rate":"1.50"},{"Quantity":"2.82258065","Rate":"1.49"},{"Quantity":"2.84552846","Rate":"1.48"},{"Quantity":"40.00000000","Rate":"1.47"},{"Quantity":"2.86885246","Rate":"1.46"},{"Quantity":"17.89256198","Rate":"1.45"},{"Quantity":"11.03330283","Rate":"1.44"},{"Quantity":"2.94117647","Rate":"1.43"},{"Quantity":"2.96610169","Rate":"1.42"},{"Quantity":"26.22002442","Rate":"1.40"},{"Quantity":"3.01724138","Rate":"1.39"},{"Quant[...]
