---
http_interactions:
- request:
    method: get
    uri: https://simex.global/api/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '296'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":1,"base":{"id":4,"name":"BTC","description":"Bitcoin"},"quote":{"id":2,"name":"USD","description":"\u0414\u043e\u043b\u043b\u0430\u0440"},"high_price":"7530.72448211","low_price":"7350.27568211","buy_price":"7518.45317282","sell_price":"7696.23643237","last_price":"7530.72448211","change_amount":"0.41","change_percent":"0.00","base_volume":"1137.78916103","quote_volume":"8498079.02332077"},{"id":2,"base":{"id":4,"name":"BTC","description":"Bitcoin"},"quote":{"id":1,"name":"RUB","description":"\u0420\u0443\u0431\u043b\u044c"},"high_price":"599000.00000000","low_price":"590000.00000000","buy_price":"330001.00000000","sell_price":null,"last_price":"599000.00000000","change_amount":"999.99","change_percent":"1.52","base_volume":"0.00518666","quote_volume":"3099.48001000"},{"id":3,"base":{"id":5,"name":"ETH","description":"Ethereum"},"quote":{"id":1,"name":"RUB","de[...]
