---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.trade.io/marketdata-ws/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"instrument":"zrx_tio","start":"2018-10-23T16:45:54.5375085Z","end":"2018-10-24T16:45:54.5375085Z","low":0.0,"high":0.0,"volume":0.0,"open":0.0,"close":0.0},{"instrument":"bch_usdt","start":"2018-10-23T16:45:54.5375085Z","end":"2018-10-24T16:45:54.5375085Z","low":444.8986,"high":454.2361,"volume":6.23864191,"open":445.8598,"close":450.7213},{"instrument":"rep_eth","start":"2018-10-23T16:45:54.5375085Z","end":"2018-10-24T16:45:54.5375085Z","low":0.06523080,"high":0.07114790,"volume":11.80089035,"open":0.06529330,"close":0.06989230},{"instrument":"eth_usdt","start":"2018-10-23T16:45:54.5375085Z","end":"2018-10-24T16:45:54.5375085Z","low":205.3229[...]
