---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.trade.io/marketdata-ws/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"instrument":"zrx_tio","start":"2018-10-23T16:51:08.1440984Z","end":"2018-10-24T16:51:08.1440984Z","low":0.0,"high":0.0,"volume":0.0,"open":0.0,"close":0.0},{"instrument":"bch_usdt","start":"2018-10-23T16:51:08.1440984Z","end":"2018-10-24T16:51:08.1440984Z","low":444.8986,"high":454.2361,"volume":6.24488726,"open":446.2272,"close":450.6579},{"instrument":"rep_eth","start":"2018-10-23T16:51:08.1440984Z","end":"2018-10-24T16:51:08.1440984Z","low":0.06523080,"high":0.07114790,"volume":11.79823038,"open":0.06542590,"close":0.07006820},{"instrument":"eth_usdt","start":"2018-10-23T16:51:08.1440984Z","end":"2018-10-24T16:51:08.1440984Z","low":205.3229[...]
