---
http_interactions:
- request:
    method: get
    uri: https://fyrus.pro/api/v1/market/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"bch_usdt":{"symbol":"bch_usdt","price":"545.53","baseVolume":"4671712.9"},"btc_usdt":{"symbol":"btc_usdt","price":"6961.82","baseVolume":"79656331.16"},"eth_usdt":{"symbol":"eth_usdt","price":"245.33","baseVolume":"17214096.97"},"ltc_usdt":{"symbol":"ltc_usdt","price":"60.33","baseVolume":"1365247.46"}}}'
  recorded_at: Wed, 05 Sep 2018 21:27:19 GMT
recorded_with: VCR 4.0.0
