---
http_interactions:
- request:
    method: get
    uri: https://coin2001.com/api/v1/public/getMarketSummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
      X-Locale:
      - en-US
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"BRL_BTC","Name":"Bitcoin","Coin":"BTC","Open":41890.0,"High":31290.80000149,"Low":27996.0,"Volume":1.67419661,"Last":28801.4031,"BaseVolume":1.67419661,"TimeStamp":"2018-06-12T05:00:00+00:00","Bid":28500.0,"Ask":31000.0},{"MarketName":"BRL_BCH","Name":"Bitcoin
        Cash","Coin":"BCH","Open":3617.45537527,"High":4027.61008895,"Low":3500.0,"Volume":2.2566131699999996,"Last":3500.0,"BaseVolume":2.2566131699999996,"TimeStamp":"2018-06-12T04:00:00+00:00","Bid":0,"Ask":7000.0},{"MarketName":"BTC_BCH","Name":"Bitcoin
        Cash","Coin":"BCH","Open":0.13363868,"High":0.137724,"Low":0.11033828,"Volume":2.30115423,"Last":0.133785,"BaseVolume":2.30115423,"TimeStamp":"2018-06-12T05:00:00+00:00","Bid":0,"Ask":0[...]
