---
http_interactions:
- request:
    method: get
    uri: https://coin2001.com/api/v1/public/getMarketHistory?market=BTC_LTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
      X-Locale:
      - en-US
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"Id":185252,"TimeStamp":"2018-06-12T05:19:38+00:00","Quantity":0.16116087,"Price":0.0155955,"Total":0.002513384348085,"FillType":"FILL","OrderType":"SELL"},{"Id":185246,"TimeStamp":"2018-06-12T05:17:13+00:00","Quantity":0.06047391,"Price":0.0156363,"Total":9.455881989329999E-4,"FillType":"FILL","OrderType":"SELL"},{"Id":185244,"TimeStamp":"2018-06-12T05:13:41+00:00","Quantity":0.04490879,"Price":0.0155575,"Total":6.98668500425E-4,"FillType":"FILL","OrderType":"BUY"},{"Id":185232,"TimeStamp":"2018-06-12T05:02:47+00:00","Quantity":0.04906217,"Price":0.01554055,"Total":7.624531059935001E-4,"FillType":"FILL","OrderType":"SELL"},{"Id":185216,"Ti[...]
