---
http_interactions:
- request:
    method: get
    uri: https://coin2001.com/api/v1/public/getMarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:production
      X-Locale:
      - en-US
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketCurrency":"BTC","BaseCurrency":"BRL","MarketCurrencyLong":"Bitcoin","BaseCurrencyLong":"Real","MinTradeSize":10.0,"MarketName":"BRL-BTC","IsActive":true,"Created":"2018-05-30T02:01:17+00:00"},{"MarketCurrency":"BCH","BaseCurrency":"BTC","MarketCurrencyLong":"Bitcoin
        Cash","BaseCurrencyLong":"Bitcoin","MinTradeSize":5.0E-4,"MarketName":"BTC-BCH","IsActive":true,"Created":"2018-05-30T02:01:17+00:00"},{"MarketCurrency":"BCH","BaseCurrency":"BRL","MarketCurrencyLong":"Bitcoin
        Cash","BaseCurrencyLong":"Real","MinTradeSize":10.0,"MarketName":"BRL-BCH","IsActive":true,"Created":"2018-06-02T17:30:05+00:00"},{"MarketCurrency":"LTC","BaseCurrency":"[...]
