---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"volume":null,"open":"4.200000000E-7","market_uuid":"04fffce5-51a1-4cb8-81e6-946ce5cb08c2","market_id":"DTA-BTC","low":null,"high":null,"daily_change_perc":"0","daily_change":"0E-16","close":"4.200000000E-7","bid":{"price":"4E-7","amount":"73691"},"ask":{"price":"6.7E-7","amount":"8380"}},{"volume":"393.2740000000000000","open":"0.7680620000000000","market_uuid":"094b5303-8c84-4e19-810f-14498cf4b2b9","market_id":"XIN-ETH","low":"0.7569630000000000","high":"0.8041790000000000","daily_change_perc":"0.8154289627660267009694529869","daily_change":"0.0062630000000000","close":"0.7743250000000000","bid":{"price":"0.788736","amount":"2"},"ask":{"price":"0.789333","amount":"0.483"}},{"volume":"195.3668000000000000","open":"0.0298185500000000","market_u[...]
