---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"volume":"2.0000000000000000","open":"0.0030028900000000","market_uuid":"d2185614-50c3-4588-b146-b8afe7534da6","market_id":"BTG-BTC","low":"0.0030028900000000","high":"0.0030028900000000","daily_change_perc":"0","daily_change":"0E-16","close":"0.0030028900000000","bid":{"price":"0.0000051","amount":"4903.3821"},"ask":{"price":"0.00999","amount":"10.4871"}},{"volume":"10223.5000000000000000","open":"0.0000490000000000","market_uuid":"804b145e-062a-4115-ac84-8ee96824f084","market_id":"IOST-ETH","low":"0.0000500000000000","high":"0.0000500000000000","daily_change_perc":"2.040816326530612244897959184","daily_change":"0.0000010000000000","close":"0.0000500000000000","bid":{"price":"0.000048","amount":"105610.9"},"ask":{"price":"0.000052","amount":"5009.9"}},{"volume":null,"open":"0.0000300000000000","market_uuid"[...]
