---
http_interactions:
- request:
    method: get
    uri: https://api.big.one/markets/ETH-BTC/book
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Build-Info:
      - 7ecb3115d510c99009fe5bd2d341a7cab43203ea-go1.9.3
    body:
      encoding: UTF-8
      string: '{"data":{"type":"orderbook","asks":[{"type":"order","price":"0.10276980","amount":"0.35000000"},{"type":"order","price":"0.10288000","amount":"0.56100000"},{"type":"order","price":"0.10288980","amount":"1.00000000"},{"type":"order","price":"0.10298980","amount":"0.20000000"},{"type":"order","price":"0.10299999","amount":"5.00000000"},{"type":"order","price":"0.10310000","amount":"10.00000000"},{"type":"order","price":"0.10311168","amount":"0.98930000"},{"type":"order","price":"0.10311900","amount":"0.15990000"},{"type":"order","price":"0.10320000","amount":"2.00000000"},{"typ[...]
