---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"volume":null,"open":"7.500000000E-7","market_uuid":"04fffce5-51a1-4cb8-81e6-946ce5cb08c2","market_id":"DTA-BTC","low":null,"high":null,"daily_change_perc":"0","daily_change":"0E-16","close":"7.500000000E-7","bid":{"price":"3.1E-7","amount":"104790"},"ask":{"price":"7.4E-7","amount":"15000"}},{"volume":"47.3450000000000000","open":"0.8110000000000000","market_uuid":"094b5303-8c84-4e19-810f-14498cf4b2b9","market_id":"XIN-ETH","low":"0.7966660000000000","high":"0.8207800000000000","daily_change_perc":"-1.767447595561035758323057953","daily_change":"-0.0143340000000000","close":"0.7966660000000000","bid":{"price":"0.796666","amount":"2.686"},"ask":{"price":"0.804179","amount":"2"}},{"volume":"98.5549000000000000","open":"0.0326718000000000","market_u[...]
