---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/markets/ETH-BTC/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"page_info":{"start_cursor":"Y3Vyc29yOnYxOjMzNzk4OTg5","has_previous_page":true,"has_next_page":false,"end_cursor":"Y3Vyc29yOnYxOjMzODMxOTg1"},"edges":[{"node":{"taker_side":"BID","price":"0.0393458600000000","market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","inserted_at":"2018-09-04T15:41:13.000000Z","id":"33798989","amount":"0.0466000000000000"},"cursor":"Y3Vyc29yOnYxOjMzNzk4OTg5"},{"node":{"taker_side":"BID","price":"0.0393356600000000","market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","inserted_at":"2018-09-04T15:41:19.000000Z","id":"33798993","amount":"0.0353000000000000"},"cursor":"Y3Vyc29yOnYxOjMzNzk4OTkz"},{"node":{"taker_side":"BID","price":"0.0393085600000000","market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","inserted_at":"2018-09-04T16:08:40.000000Z","id":"33800903","amount":"0.04600000[...]
