---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v3/asset_pairs/ETH-BTC/depth?limit=200
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":{"asset_pair_name":"ETH-BTC","bids":[{"price":"0.01985","order_count":1,"quantity":"5.02261"},{"price":"0.019828","order_count":1,"quantity":"3.08"},{"price":"0.019827","order_count":1,"quantity":"0.06336"},{"price":"0.019825","order_count":1,"quantity":"0.02"},{"price":"0.01982","order_count":1,"quantity":"0.1566"},{"price":"0.019817","order_count":1,"quantity":"0.665"},{"price":"0.019816","order_count":1,"quantity":"0.18189"},{"price":"0.01981","order_count":1,"quantity":"60.18"},{"price":"0.019791","order_count":1,"quantity":"3.09"},{"price":"0.01979","order_count":2,"quant[...]
