---
http_interactions:
- request:
    method: get
    uri: https://api.big.one/markets/ETH-BTC/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Build-Info:
      - 7ecb3115d510c99009fe5bd2d341a7cab43203ea-go1.9.3
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"trade","trade_id":"2493d364-4442-4e67-adab-5a985e9f8c3a","trade_side":"BID","price":"0.10160000","amount":"2.00590000","created_at":"2018-02-04T14:27:02.264661936Z"},{"type":"trade","trade_id":"77674136-10c8-452c-99a6-db7d5777f9d2","trade_side":"BID","price":"0.10160000","amount":"0.12320000","created_at":"2018-02-04T14:26:59.327896428Z"},{"type":"trade","trade_id":"bd2d452c-9eba-451e-bf82-83cf8e5992ca","trade_side":"BID","price":"0.10160000","amount":"0.04000000","created_at":"2018-02-04T14:26:51.100674358Z"},{"type":"trade","trade_id":"d464a89e-21f0-417b-b1d4-b39943673e4a","trade_side":"BID","price":"0.10160000","amount":"[...]
