---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/markets/ETH-BTC/depth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","bids":[{"price":"0.058397","order_count":1,"amount":"1.5267"},{"price":"0.058387","order_count":1,"amount":"0.0477"},{"price":"0.05823795","order_count":1,"amount":"0.2199"},{"price":"0.05816091","order_count":1,"amount":"0.1874"},{"price":"0.058126","order_count":1,"amount":"0.341"},{"price":"0.05801603","order_count":1,"amount":"0.6482"},{"price":"0.05796215","order_count":1,"amount":"2"},{"price":"0.05796214","order_count":1,"amount":"0.6841"},{"price":"0.057838","order_count":1,"amount":"0.0002"},{"price":"0.05783602","order_count":1,"amount"[...]
