---
http_interactions:
- request:
    method: get
    uri: https://api.big.one/markets/ETH-BTC/book
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Build-Info:
      - 7ecb3115d510c99009fe5bd2d341a7cab43203ea-go1.9.3
    body:
      encoding: UTF-8
      string: '{"data":{"type":"orderbook","asks":[{"type":"order","price":"0.10160000","amount":"16.29390000"},{"type":"order","price":"0.10191500","amount":"0.20000000"},{"type":"order","price":"0.10215500","amount":"0.09460000"},{"type":"order","price":"0.10282500","amount":"0.02970000"},{"type":"order","price":"0.10294700","amount":"0.31000000"},{"type":"order","price":"0.10311168","amount":"0.19610000"},{"type":"order","price":"0.10312700","amount":"0.02190000"},{"type":"order","price":"0.10327600","amount":"1.40660000"},{"type":"order","price":"0.10347000","amount":"0.04000000"},{"typ[...]
