---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v3/asset_pairs/ETH-BTC/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":{"asset_pair_name":"ETH-BTC","bid":{"price":"0.022469","order_count":2,"quantity":"0.21509"},"ask":{"price":"0.022499","order_count":1,"quantity":"2.3"},"open":"0.022168","high":"0.023002","low":"0.022105","close":"0.022481","volume":"81798.58234","daily_change":"0.000313"}}

'
  recorded_at: Thu, 10 Oct 2019 06:55:02 GMT
recorded_with: VCR 4.0.0
