---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/markets/ETH-BTC/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"edges":[{"node":{"taker_side":"ASK","price":"0.0702702100000000","market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","inserted_at":"2018-06-27T21:15:01Z","id":"13199164","amount":"1.0912000000000000"}},{"node":{"taker_side":"ASK","price":"0.0702720100000000","market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","inserted_at":"2018-06-27T21:19:41Z","id":"13199452","amount":"0.1250000000000000"}},{"node":{"taker_side":"ASK","price":"0.0702720100000000","market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","inserted_at":"2018-06-27T21:19:41Z","id":"13199454","amount":"1.5300000000000000"}},{"node":{"taker_side":"ASK","price":"0.0702[...]
