---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"uuid":"04fffce5-51a1-4cb8-81e6-946ce5cb08c2","quoteScale":8,"quoteAsset":{"uuid":"0df9c3c3-255a-46d7-ab82-dedae169fba9","symbol":"BTC","name":"Bitcoin"},"name":"DTA-BTC","baseScale":0,"baseAsset":{"uuid":"5451d95d-1477-475c-897b-8cd6a01dcb30","symbol":"DTA","name":"DATA"}},{"uuid":"094b5303-8c84-4e19-810f-14498cf4b2b9","quoteScale":6,"quoteAsset":{"uuid":"c98f5d90-c619-4de2-b643-3d429f622239","symbol":"ETH","name":"Ethereum"},"name":"XIN-ETH","baseScale":3,"baseAsset":{"uuid":"e7e44097-0e11-4c56-90d9-3de695bf727c","symbol":"XIN","name":"Mixin"}},{"uuid":"0aa6d0ac-6ff1-45fb-8911-7e6c4070b582","quoteScale":8,"quoteAsset":{"uuid":"0df9c3c3-255a-46d7-ab82-dedae169fba9","symbol":"BTC","name":[...]
