---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/markets/ETH-BTC/depth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","bids":[{"price":"0.06833217","order_count":2,"amount":"2.4285"},{"price":"0.06833216","order_count":2,"amount":"22"},{"price":"0.0683321","order_count":1,"amount":"0.1389"},{"price":"0.06833208","order_count":1,"amount":"0.4904"},{"price":"0.06833206","order_count":2,"amount":"0.6198"},{"price":"0.068332","order_count":1,"amount":"1"},{"price":"0.06832515","order_count":1,"amount":"0.1413"},{"price":"0.06832268","order_count":1,"amount":"0.0974"},{"price":"0.06762892","order_count":1,"amount":"0.3245"},{"price":"0.06698608","order_count":1,"amount"[...]
