---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/markets/ETH-BTC/depth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","bids":[{"price":"0.03856309","order_count":1,"amount":"0.1734"},{"price":"0.0385629","order_count":1,"amount":"31.8365"},{"price":"0.03856264","order_count":1,"amount":"3.1255"},{"price":"0.03849853","order_count":1,"amount":"6.3617"},{"price":"0.03842801","order_count":1,"amount":"4.3695"},{"price":"0.03835981","order_count":1,"amount":"4.5373"},{"price":"0.03827736","order_count":1,"amount":"10.1644"},{"price":"0.03804593","order_count":1,"amount":"0.0114"},{"price":"0.03804299","order_count":1,"amount":"0.0464"},{"price":"0.03803282","order_coun[...]
