---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v3/asset_pairs/ETH-BTC/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":{"asset_pair_name":"ETH-BTC","bid":{"price":"0.01985","order_count":1,"quantity":"5.02261"},"ask":{"price":"0.01986","order_count":2,"quantity":"0.41085"},"open":"0.020154","high":"0.02018","low":"0.019645","close":"0.019855","volume":"107082.61997","daily_change":"-0.000299"}}

        '
  recorded_at: Thu, 12 Dec 2019 07:57:24 GMT
recorded_with: VCR 4.0.0
