---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/markets/ETH-BTC/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"page_info":{"start_cursor":"Y3Vyc29yOnYxOjI5MzU2NTc5","has_previous_page":true,"has_next_page":false,"end_cursor":"Y3Vyc29yOnYxOjI5NTkwMjY5"},"edges":[{"node":{"taker_side":"ASK","price":"0.0582531000000000","market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","inserted_at":"2018-08-05T14:37:58.000000Z","id":"29356579","amount":"0.2517000000000000"},"cursor":"Y3Vyc29yOnYxOjI5MzU2NTc5"},{"node":{"taker_side":"ASK","price":"0.0582190000000000","market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","inserted_at":"2018-08-05T14:50:38.000000Z","id":"29357534","amount":"0.0488000000000000"},"cursor":"Y3Vyc29yOnYxOjI5MzU3NTM0"},{"node":{"taker_side":"ASK","price":"0.0582190000000000","market_uuid":"38dd30bf-76c2-4777-ae2a-a3222433eef3","market_id":"ETH-BTC","inserted_at":"2018-08-05T14:54:56.000000Z","id":"29357824","amount":"0.14220000[...]
