---
http_interactions:
- request:
    method: get
    uri: https://api.big.one/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Build-Info:
      - 7ecb3115d510c99009fe5bd2d341a7cab43203ea-go1.9.3
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"market","symbol":"ETH-BTC","base":"BTC","quote":"ETH","base_min":"0.00000001","base_max":"100000","quote_increment":"0.0001","total_min":"0.001","base_name":"Bitcoin","quote_name":"Ether","ticker":{"price":"0.10216030","low":"0.09983900","high":"0.10499900","open":"0.10496880","close":"0.10216030","volume":"610.55380000"},"metrics":{"0000060":[[1517799600000,"0.10137500","0.10237100","0.10238580","0.10137500","48.07330000"],[1517796000000,"0.10211059","0.10150000","0.10211079","0.10072595","17.64520000"],[1517792400000,"0.10082320","0.10118600","0.10299998","0.10082300","19.80770000"],[1517788800000,"0.10067100","0.10104400","0.10311168","0.10009900","21.60360000"],[1517785200000,"0.10108620","0.10065564","0.10241792","0.10065564","5.01310000"],[1517781600000,"0.10108800","0.10177160","0.10188640","0.09983900","15.29890000[...]
