---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v3/asset_pairs/ETH-BTC/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"id":115834046,"price":"0.022481","amount":"1.36826","taker_side":"ASK","inserted_at":"2019-10-10T06:55:01Z"},{"id":115833966,"price":"0.022478","amount":"2.02717","taker_side":"ASK","inserted_at":"2019-10-10T06:54:51Z"},{"id":115833907,"price":"0.02248","amount":"0.99247","taker_side":"ASK","inserted_at":"2019-10-10T06:54:44Z"},{"id":115833865,"price":"0.02248","amount":"3.44783","taker_side":"BID","inserted_at":"2019-10-10T06:54:39Z"},{"id":115833733,"price":"0.02248","amount":"1.00574","taker_side":"ASK","inserted_at":"2019-10-10T06:54:24Z"},{"id":115833655,"price":"0.022481",[...]
