---
http_interactions:
- request:
    method: get
    uri: https://api.big.one/markets/ETH-BTC/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Build-Info:
      - 7ecb3115d510c99009fe5bd2d341a7cab43203ea-go1.9.3
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"trade","trade_id":"639be65a-8c16-4aa2-8d7a-12312b6d7ffe","trade_side":"ASK","price":"0.10551176","amount":"0.08850000","created_at":"2018-02-03T07:51:39.630374523Z"},{"type":"trade","trade_id":"887acc35-330c-4a1e-902b-5fc8d61989f4","trade_side":"ASK","price":"0.10620552","amount":"0.00650000","created_at":"2018-02-03T07:49:43.748448124Z"},{"type":"trade","trade_id":"673f0ff0-de34-4bf3-860d-a5b0546fa728","trade_side":"ASK","price":"0.10620552","amount":"0.08000000","created_at":"2018-02-03T07:49:41.444459634Z"},{"type":"trade","trade_id":"126eb451-fbcf-4515-85fe-8eb5ff999b2e","trade_side":"BID","price":"0.10658048","amount":"[...]
