---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"volume":null,"open":"0.0147289000000000","market_uuid":"d2185614-50c3-4588-b146-b8afe7534da6","market_id":"BTG-BTC","low":null,"high":null,"daily_change_perc":"0","daily_change":"0E-16","close":"0.0147289000000000","bid":{"price":"0.0030031000000000","amount":"26.4786000000000000"},"ask":{"price":"0.0100000000000000","amount":"0.8242000000000000"}},{"volume":"32669.4000000000000000","open":"0.0000490000000000","market_uuid":"804b145e-062a-4115-ac84-8ee96824f084","market_id":"IOST-ETH","low":"0.0000490000000000","high":"0.0000510000000000","daily_change_perc":"4.081632653061224489795918367","daily_change":"0.0000020000000000","close":"0.0000510000000000","bid":{"price":"0.0000490000000000","amount":"28190.4000000000000000"},"ask":{"price":"0.0000510000000000","amount":"0.50000000[...]
