---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v3/asset_pairs/ETH-BTC/depth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":{"asset_pair_name":"ETH-BTC","bids":[{"price":"0.022469","order_count":2,"quantity":"0.21509"},{"price":"0.022467","order_count":2,"quantity":"0.0254"},{"price":"0.022444","order_count":1,"quantity":"3.08"},{"price":"0.022442","order_count":1,"quantity":"0.0052"},{"price":"0.02243","order_count":1,"quantity":"2.4"},{"price":"0.022427","order_count":1,"quantity":"60.12"},{"price":"0.022425","order_count":1,"quantity":"0.35"},{"price":"0.022418","order_count":1,"quantity":"0.01542"},{"price":"0.022416","order_count":1,"quantity":"0.18189"},{"price":"0.022405","order_count":1,"qua[...]
