---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v3/asset_pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"id":"01e48809-b42f-4a38-96b1-c4c547365db1","name":"PCX-BTC","quote_scale":7,"quote_asset":{"id":"0df9c3c3-255a-46d7-ab82-dedae169fba9","symbol":"BTC","name":"Bitcoin"},"base_asset":{"id":"405484f7-4b03-4378-a9c1-2bd718ecab51","symbol":"PCX","name":"ChainX"},"base_scale":3,"min_quote_value":"0.0001"},{"id":"02b6c7b5-8588-4a33-8bc7-30457123e8e1","name":"GXC-USDT","quote_scale":4,"quote_asset":{"id":"17082d1c-0195-4fb6-8779-2cdbcb9eeb3c","symbol":"USDT","name":"TetherUS"},"base_asset":{"id":"96cfa8fc-882a-4f1c-8b9d-c752c06bccfe","symbol":"GXC","name":"GXChain"},"base_scale":2,"min_quote_value":"1"},{"id":"094b5303-8c84-4e19-810f-14498cf4b2b9","name":"XIN-ETH","quote_scale":2,"quote_asset":{"id":"c98f5d90-c619-4de2-b643-3d429f622239","symbol":"ETH","name":"Ethereum"},"base_asset":{"id[...]
