---
http_interactions:
- request:
    method: get
    uri: https://api.big.one/markets/ETH-BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Build-Info:
      - 7ecb3115d510c99009fe5bd2d341a7cab43203ea-go1.9.3
    body:
      encoding: UTF-8
      string: '{"data":{"type":"market","symbol":"ETH-BTC","base":"BTC","quote":"ETH","base_min":"0.00000001","base_max":"100000","quote_increment":"0.0001","total_min":"0.001","base_name":"Bitcoin","quote_name":"Ether","ticker":{"price":"0.10657700","low":"0.09792010","high":"0.10935552","open":"0.10759700","close":"0.10657700","volume":"1124.75800000"},"metrics":{"0000001":[[1517641800000,"0.10657700","0.10656200","0.10657700","0.10656200","0.13300000"],[1517641740000,"0.10657700","0.10657700","0.10657700","0.10657700","0.74350000"],[1517641680000,"0.10620552","0.10620552","0.10620552","0.10620552","0.00000000"],[1517641620000,"0.10689928","0.10620552","0.10689928","0.10620552","0.38850000"],[1517641560000,"0.10658048","0.10759304","0.10799800","0.10658048","3.26950000"],[1517641500000,"0.10624000","0.10624000","0.10624000","0.10624000","0.00000000"],[1[...]
