---
http_interactions:
- request:
    method: get
    uri: https://api.big.one/markets/ETH-BTC/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Build-Info:
      - 7ecb3115d510c99009fe5bd2d341a7cab43203ea-go1.9.3
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"trade","trade_id":"7506ecaa-b9c8-48c2-85cb-209f99e9743b","trade_side":"ASK","price":"0.10216030","amount":"0.01830000","created_at":"2018-02-05T04:58:56.905272697Z"},{"type":"trade","trade_id":"5e3d374d-ce8f-46f4-9d5d-134824539527","trade_side":"BID","price":"0.10277980","amount":"0.01000000","created_at":"2018-02-05T04:56:37.510864514Z"},{"type":"trade","trade_id":"600f2162-7b14-4d82-a9c0-09f2a570a00c","trade_side":"BID","price":"0.10280960","amount":"0.20000000","created_at":"2018-02-05T04:56:03.570028396Z"},{"type":"trade","trade_id":"cfe41b0d-c501-47a2-8703-852b3f1c946e","trade_side":"ASK","price":"0.10216020","amount":"[...]
