---
http_interactions:
- request:
    method: get
    uri: https://api.big.one/markets/ETH-BTC/book
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Build-Info:
      - 7ecb3115d510c99009fe5bd2d341a7cab43203ea-go1.9.3
    body:
      encoding: UTF-8
      string: '{"data":{"type":"orderbook","asks":[{"type":"order","price":"0.10658048","amount":"2.03920000"},{"type":"order","price":"0.10688400","amount":"0.21220000"},{"type":"order","price":"0.10727424","amount":"0.28440000"},{"type":"order","price":"0.10756299","amount":"2.14130000"},{"type":"order","price":"0.10756300","amount":"0.18000000"},{"type":"order","price":"0.10757800","amount":"0.58660000"},{"type":"order","price":"0.10759304","amount":"0.44270000"},{"type":"order","price":"0.10796800","amount":"0.86910000"},{"type":"order","price":"0.10799800","amount":"4.93920000"},{"type[...]
