---
http_interactions:
- request:
    method: get
    uri: https://big.one/api/v3/asset_pairs/ETH-BTC/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"id":192460264,"price":"0.019855","amount":"13.46902","taker_side":"ASK","inserted_at":"2019-12-12T07:57:27Z","created_at":"2019-12-12T07:57:27Z"},{"id":192460170,"price":"0.019855","amount":"14.369","taker_side":"ASK","inserted_at":"2019-12-12T07:57:21Z","created_at":"2019-12-12T07:57:21Z"},{"id":192460145,"price":"0.01986","amount":"0.00845","taker_side":"BID","inserted_at":"2019-12-12T07:57:19Z","created_at":"2019-12-12T07:57:19Z"},{"id":192460111,"price":"0.01986","amount":"0.00845","taker_side":"BID","inserted_at":"2019-12-12T07:57:17Z","created_at":"2019-12-12T07:57:17Z"},{"id":192460074,"price":"0.01986","amo[...]
