---
http_interactions:
- request:
    method: get
    uri: https://api.aex.com/trades.php?c=ltc&mk_type=btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"date":1516266413,"price":0.016,"amount":0.486,"tid":60928,"type":"buy"},{"date":1516266415,"price":0.016,"amount":2.349,"tid":60929,"type":"buy"},{"date":1516266416,"price":0.016,"amount":0.000754,"tid":60930,"type":"buy"},{"date":1516266424,"price":0.0161,"amount":0.008498,"tid":60931,"type":"buy"},{"date":1516266432,"price":0.0161,"amount":0.006544,"tid":60932,"type":"buy"},{"date":1516266440,"price":0.016,"amount":0.104448,"tid":60933,"type":"sell"},{"date":1516266516,"price":0.0161,"amount":0.129294,"tid":60934,"type":"buy"},{"date":1516266518,"price":0.0[...]
