---
http_interactions:
- request:
    method: get
    uri: https://api.aex.com/ticker.php?c=all&mk_type=btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ltc":{"ticker":{"high":0.017,"low":0.0148,"last":0.0161,"vol":1266.540898,"buy":0.0161,"sell":0.0165}},"xpm":{"ticker":{"high":6.52e-5,"low":5.54e-5,"last":5.83e-5,"vol":8756.832224,"buy":5.8e-5,"sell":6.27e-5}},"xrp":{"ticker":{"high":0.000131,"low":9.1e-5,"last":0.000115,"vol":340086.546217,"buy":0.000112,"sell":0.000119}},"xlm":{"ticker":{"high":4.4e-5,"low":3.11e-5,"last":4.27e-5,"vol":432204.89859,"buy":4.04e-5,"sell":4.27e-5}},"bts":{"ticker":{"high":3.13e-5,"low":2.28e-5,"last":2.84e-5,"vol":4363325.48308,"buy":2.78e-5,"sell":2.9e-5}},"zcc":{"ticker":{"high":1.12e-6,"low":9.4e-7,"last":9.7e-7,"vol":904834.081744,"buy":9.5e-7,"sell":9.7e-7}},"mec":{"ticker":{"high":8.4e-6,"low":7.0e-6,"last":8.0e-6,"vol":79750.547177,"buy":8.0e-6,"sell":8.2e-6}},"tag":{"ticker":{"high":1.3e-5,"low":1.08e-5,"last":1.19e-5,"vol":38806.248837,"buy":1.19e-5,"sell":1.21e-5}},"doge":{"ticker":{"high":7.0e-7,"low":5.1e-7,"last":6.2e-7,"vol":75170768.673409,"buy":6.1e-7,"sell":6.2e-7}},"ric":{"ticker":{"high":2.399e-5,"low":1.752e-5,"last":2.002e-5,"vol":5547.410283,"buy":2.002e-5,"sell":2.244e-5}},"dash":{"ticker":{"high":0.078,"low":0.067,"last":0.07,"vol":14.824631,"buy":0.068,"sell":0.072}},"nxt":{"ticker":{"high":2.9e-5,"low":2.3e-5,"last":2.8e-5,"vol":439574.266026,"buy":2.7e-5,"sell":2.8e-5}},"blk":{"ticker":{"high":5.16e-5,"low":4.25e-5,"last":5.16e-5,"vol":28829.213156,"buy":5.1e-5,"sell":5.18e-5}},"vash":{"ticker":{"high":5.8e-7,"low":4.7e-7,"last":5.5e-7,"vol":2066595.954453,"buy":5.4e-7,"sell":5.5e-7}},"eac":{"ticker":{"high":1.4e-7,"low":1.1e-7,"last":1.4e-7,"vol":100462704.13211,"buy":1.3e-7,"sell":1.4e-7}},"xem":{"ticker":{"high":0.0001,"low":7.0e-5,"last":9.0e-5,"vol":145666.195135,"buy":9.0e-5,"sell":9.3e-5}},"hlb":{"ticker":{"high":8.3e-7,"low":6.5e-7,"last":8.3e-7,"vol":258441.365534,"buy":7.7e-7,"sell":8.2e-7}},"ncs":{"ticker":{"high":9.0e-7,"low":5.0e-7,"last":6.8e-7,"vol":1193169.0514532,"buy":6.5e-7,"sell":7.1e-7}},"xzc":{"ticker":{"high":0.0064,"low":0.0053,"last":0.0057,"vol":167.300697,"buy":0.0057,"sell":0.0059}},"mgc":{"ticker":{"high":1.78e-6,"low":1.41e-6,"last":1.41e-6,"vol":833124.9339847,"buy":1.4e-6,"sell":1.41e-6}},"xcn":{"ticker":{"high":8.5e-7,"low":7.0e-7,"last":8.0e-7,"vol":3141984.427042,"buy":7.8e-7,"sell":8.0e-7}},"ardr":{"ticker":{"high":0.000119,"low":7.4e-5,"last":9.8e-5,"vol":249861.934038,"buy":9.7e-5,"sell":9.8e-5}},"qrk":{"ticker":{"high":1.9e-6,"low":1.65e-6,"last":1.89e-6,"vol":124020.160563,"buy":1.77e-6,"sell":1.88e-6}},"wdc":{"ticker":{"high":8.69e-6,"low":5.0e-6,"last":6.01e-6,"vol":102258.57574,"buy":6.0e-6,"sell":6.5e-6}},"sys":{"ticker":{"high":5.86e-5,"low":4.71e-5,"last":5.86e-5,"vol":3995.280061,"buy":5.6e-5,"sell":5.8e-5}},"eth":{"ticker":{"high":0.0927,"low":0.0821,"last":0.0891,"vol":621.934825,"buy":0.089,"sell":0.0907}},"etc":{"ticker":{"high":0.00267,"low":0.00235,"last":0.0026,"vol":8667.097055,"buy":0.0026,"sell":0.00263}},"tmc":{"ticker":{"high":9.5e-5,"low":8.8e-5,"last":9.3e-5,"vol":252916.421144,"buy":9.2e-5,"sell":9.3e-5}},"bcc":{"ticker":{"high":0.164,"low":0.147,"last":0.161,"vol":106.078028,"buy":0.157,"sell":0.161}},"inf":{"ticker":{"high":1.43e-6,"low":1.15e-6,"last":1.2e-6,"vol":1642668.783254,"buy":1.21e-6,"sell":1.26e-6}},"bcd":{"ticker":{"high":0.00359,"low":0.00237,"last":0.00321,"vol":2362.848507,"buy":0.00306,"sell":0.0032}},"bcx":{"ticker":{"high":5.7e-6,"low":4.37e-6,"last":5.44e-6,"vol":253692.791529,"buy":5.01e-6,"sell":5.45e-6}},"sbtc":{"ticker":{"high":0.0084,"low":0.0075,"last":0.0077,"vol":30.182182,"buy":0.0077,"sell":0.0084}},"qash":{"ticker":{"high":0.00013,"low":9.1e-5,"last":0.000118,"vol":5812.775248,"buy":0.000117,"sell":0.000118}},"lbtc":{"ticker":{"high":0.01,"low":0.0075,"last":0.0092,"vol":50.178083,"buy":0.0087,"sell":0.0092}},"lend":{"ticker":{"high":1.9e-5,"low":1.24e-5,"last":1.445e-5,"vol":61456.676583,"buy":1.445e-5,"sell":1.65e-5}},"ae":{"ticker":{"high":0.000145,"low":0.000121,"last":0.000136,"vol":48909.334014,"buy":0.000131,"sell":0.000137}},"cvc":{"ticker":{"high":6.9e-5,"low":5.7e-5,"last":6.3e-5,"vol":7795.230522,"buy":6.2e-5,"sell":6.8e-5}},"bnt":{"ticker":{"high":0.000524,"low":0.000444,"last":0.000524,"vol":176.5828218,"buy":0.000503,"sell":0.000529}},"knc":{"ticker":{"high":0.000292,"low":0.00026,"last":0.000283,"vol":1088.454102,"buy":0.000274,"sell":0.000285}},"dat":{"ticker":{"high":6.23e-6,"low":5.05e-6,"last":6.2e-6,"vol":435469.773301,"buy":6.2e-6,"sell":6.23e-6}},"bite":{"ticker":{"high":0.00087,"low":0.00054,"last":0.0007,"vol":64.261339,"buy":0.00066,"sell":0.00074}},"god":{"ticker":{"high":0.0063,"low":0.0057,"last":0.0057,"vol":9.215922,"buy":0.0054,"sell":0.006}},"ubtc":{"ticker":{"high":0.016,"low":0.0151,"last":0.0155,"vol":5.801662,"buy":0.0152,"sell":0.016}},"ignis":{"ticker":{"high":4.6e-5,"low":3.5e-5,"last":4.1e-5,"vol":96320.862214,"buy":4.1e-5,"sell":4.2e-5}},"wic":{"ticker":{"high":4.6e-5,"low":3.7e-5,"last":4.2e-5,"vol":202307.311551,"buy":4.2e-5,"sell":4.3e-5}},"gnx":{"ticker":{"high":4.64e-5,"low":3.65e-5,"last":3.93e-5,"vol":1275481.56059,"buy":3.93e-5,"sell":3.95e-5}},"can":{"ticker":{"high":0.000133,"low":0.000103,"last":0.000117,"vol":2412.379855,"buy":0.00011,"sell":0.000115}},"bash":{"ticker":{"high":1.23e-6,"low":7.8e-7,"last":7.9e-7,"vol":1354160.743375,"buy":7.9e-7,"sell":8.5e-7}}}'
  recorded_at: Thu, 18 Jan 2018 09:10:15 GMT
- request:
    method: get
    uri: https://api.aex.com/ticker.php?c=all&mk_type=bitcny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"btc":{"ticker":{"high":74997,"low":60234,"last":67851,"vol":423.486678,"buy":67851,"sell":68187}},"bcc":{"ticker":{"high":11453,"low":8969,"last":10599,"vol":23.297302,"buy":10599,"sell":10736}},"ltc":{"ticker":{"high":1243,"low":851,"last":1084,"vol":889.138592,"buy":1069,"sell":1098}},"eth":{"ticker":{"high":6860,"low":4800,"last":6100,"vol":658.820124,"buy":5957,"sell":6100}},"etc":{"ticker":{"high":197,"low":131,"last":174,"vol":6500.326153,"buy":174,"sell":175}},"bts":{"ticker":{"high":2.22,"low":1.35,"last":1.95,"vol":12092322.610505,"buy":1.95,"sell":1.96}},"inf":{"ticker":{"high":0.108,"low":0.069,"last":0.081,"vol":21488392.239187,"buy":0.081,"sell":0.083}},"xzc":{"ticker":{"high":433,"low":363,"last":390,"vol":616.710808,"buy":383,"sell":395}},"omg":{"ticker":{"high":116,"low":80,"last":110,"vol":1044.462419,"buy":107,"sell":111}},"snt":{"ticker":{"high":1.96,"low":1.21,"last":1.779,"vol":159044.883049,"buy":1.74,"sell":1.78}},"xrp":{"ticker":{"high":9.16,"low":5.61,"last":8.16,"vol":292880.430543,"buy":8,"sell":8.16}},"doge":{"ticker":{"high":0.05,"low":0.032,"last":0.042,"vol":280712290.70878,"buy":0.041,"sell":0.042}},"nxt":{"ticker":{"high":2.2,"low":1.3,"last":1.9,"vol":930932.720883,"buy":1.8,"sell":1.9}},"xlm":{"ticker":{"high":3.22,"low":1.88,"last":2.8,"vol":189457.899745,"buy":2.8,"sell":2.86}},"dash":{"ticker":{"high":5254,"low":4085,"last":4671,"vol":4.2176,"buy":4611,"sell":4764}},"xem":{"ticker":{"high":7.3,"low":4.1,"last":6.1,"vol":66604.667136,"buy":6,"sell":6.2}},"ardr":{"ticker":{"high":8.7,"low":4.4,"last":6.4,"vol":130659.193127,"buy":6.4,"sell":6.6}},"dat":{"ticker":{"high":0.438,"low":0.332,"last":0.419,"vol":838443.399622,"buy":0.414,"sell":0.426}},"bcx":{"ticker":{"high":0.42,"low":0.258,"last":0.366,"vol":923232.518138,"buy":0.366,"sell":0.373}},"ignis":{"ticker":{"high":3.4,"low":2.2,"last":2.7,"vol":128528.668663,"buy":2.6,"sell":2.8}},"wic":{"ticker":{"high":3.2,"low":2.3,"last":2.7,"vol":1276484.52793,"buy":2.7,"sell":2.8}}}'
  recorded_at: Thu, 18 Jan 2018 09:10:15 GMT
- request:
    method: get
    uri: https://api.aex.com/ticker.php?c=all&mk_type=bitusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"btc":{"ticker":{"high":11500,"low":9303,"last":10900,"vol":9.390237,"buy":10000,"sell":10980}},"bcc":{"ticker":{"high":1501,"low":1501,"last":1501,"vol":0.2,"buy":1500,"sell":2787}},"ltc":{"ticker":{"high":190,"low":180,"last":180,"vol":6.389325,"buy":98,"sell":238}},"eth":{"ticker":{"high":1180,"low":786,"last":1180,"vol":6.909948,"buy":800,"sell":1180}},"etc":{"ticker":{"high":23.7,"low":21,"last":21,"vol":19.576885,"buy":21.5,"sell":30}},"bts":{"ticker":{"high":0.46,"low":0.233,"last":0.46,"vol":49179.728272,"buy":0.27,"sell":0.4}},"inf":{"ticker":{"high":0.012,"low":0.0119,"last":0.012,"vol":10601.21823,"buy":0.012,"sell":0.025}},"xzc":{"ticker":""},"omg":{"ticker":{"high":21.1,"low":21.1,"last":21.1,"vol":4.2e-5,"buy":15,"sell":29.9}},"snt":{"ticker":""}}'
  recorded_at: Thu, 18 Jan 2018 09:10:15 GMT
recorded_with: VCR 3.0.3
