---
http_interactions:
- request:
    method: get
    uri: https://api.aex.zone/ticker.php?c=btc&mk_type=usdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ticker":{"high":10594,"low":9524,"last":10081,"vol":946.668969,"buy":10035,"sell":10084,"range":0.0384}}'
  recorded_at: Thu, 25 Jul 2019 07:59:27 GMT
recorded_with: VCR 4.0.0
