---
http_interactions:
- request:
    method: get
    uri: https://api.aex.zone/trades.php?c=btc&mk_type=usdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"date":1564041002,"price":10040,"amount":0.031892,"tid":6720764,"type":"sell"},{"date":1564041009,"price":10068,"amount":0.364068,"tid":6720765,"type":"sell"},{"date":1564041011,"price":10072,"amount":0.154489,"tid":6720766,"type":"sell"},{"date":1564041018,"price":10072,"amount":0.484157,"tid":6720767,"type":"buy"},{"date":1564041023,"price":10068,"amount":0.270163,"tid":6720768,"type":"buy"},{"date":1564041033,"price":10085,"amount":0.027748,"tid":6720769,"type":"buy"},{"date":1564041044,"price":10074,"amount":0.453908,"tid":6720770,"type":"sell"},{"date":1564041[...]
