---
http_interactions:
- request:
    method: get
    uri: https://api.aex.com/ticker.php?c=ltc&mk_type=btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ticker":{"high":0.017,"low":0.0148,"last":0.0161,"vol":1267.853381,"buy":0.0161,"sell":0.0165}}'
  recorded_at: Thu, 18 Jan 2018 09:10:15 GMT
recorded_with: VCR 3.0.3
