---
http_interactions:
- request:
    method: get
    uri: https://ionomy.com/api/v1/public/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"101c-hEcIxGnxq4qdjSF7boBMjPU118A"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":200,"message":null,"data":[{"market":"btc-dash","title":"Bitcoin:Dash","currencyBase":"btc","currencyMarket":"dash","orderMinSize":"0.00001000","buyFee":"0.20000000","sellFee":"0.20000000","inMaintenance":false},{"market":"btc-eth","title":"Bitcoin:Ethereum","currencyBase":"btc","currencyMarket":"eth","orderMinSize":"0.00001000","buyFee":"0.20000000","sellFee":"0.20000000","inMaintenance":false},{"market":"btc-pivx","title":"Bitcoin:Pivx","currencyBase":"btc","currencyMarket":"pivx","orderMinSize":"0.00001000","buyFee":"0.20000000","sellFee":"0.20000000","inMaintenance":false},{"market":"pivx-pivxsx","title":"Pivx:PivxSx","currencyBase":"pivx","currencyMarket":"pivxsx","orderMinSize":"0.10000000"[...]
