---
http_interactions:
- request:
    method: get
    uri: https://ionomy.com/api/v1/public/orderbook?market=BTC-ION&type=both
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"275a-hmS38M13J2+g+5Sk1D22aGHoffY"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":200,"message":null,"data":{"bids":[{"size":"4012.26621479","price":"0.00000316"},{"size":"207.66773162","price":"0.00000313"},{"size":"1585.55261272","price":"0.00000312"},{"size":"1619.38622754","price":"0.00000272"},{"size":"1224.73571375","price":"0.00000270"},{"size":"48383.94351212","price":"0.00000250"},{"size":"20000.00000000","price":"0.00000030"},{"size":"60000.00000000","price":"0.00000010"},{"size":"100000.00000000","price":"0.00000005"}],"asks":[{"size":"1000.00000000","price":"0.00000323"},{"size":"1000.00000000","price":"0.00000327"},{"size":"1000.00000000","price":"0.00000330"},{"size":"195.78313253","price":"0.00000332"},{"size":"1000.00000000","price":"0.00000334"},{"size":"2000.00000000","price":"0.00000338"},{"size":"281.77596190","price":"0.00000340"},{"size":"1384.16564149","price":"0.00000342"},{"size":"1000.00000000","price":"0.00000345"},{"size":"1000.00000000","price":"0.00000349"},{"size":"184.65909090","price":"0.0000035[...]
