---
http_interactions:
- request:
    method: get
    uri: https://ionomy.com/api/v1/public/market-history?market=BTC-ION
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"907e-zVJ6paE72u2n0QCHOyPGLqsAhjs"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":200,"message":null,"data":[{"type":"LIMIT_SELL","amount":"1000.00000000","price":"0.00000320","total":"0.00320000","createdAt":"2020-04-29T11:22:39Z"},{"type":"LIMIT_SELL","amount":"1000.00000000","price":"0.00000323","total":"0.00323000","createdAt":"2020-04-29T11:22:35Z"},{"type":"LIMIT_SELL","amount":"201.23839009","price":"0.00000323","total":"0.00065000","createdAt":"2020-04-29T11:22:35Z"},{"type":"LIMIT_SELL","amount":"1000.00000000","price":"0.00000327","total":"0.00327000","createdAt":"2020-04-29T11:22:32Z"},{"type":"LIMIT_SELL","amount":"109.65383085","price":"0.00000330","total":"0.00036186","createdAt":"2020-[...]
