---
http_interactions:
- request:
    method: get
    uri: https://ionomy.com/api/v1/public/markets-summaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a2a-SABaKMi9JKbrR7q+l+e1KoK6baE"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":200,"message":null,"data":[{"market":"btc-dash","high":"0.01086384","low":"0.01043363","volume":"0.47387918","price":"0.01043363","change":"-2.00","baseVolume":"0.00494428","bidsOpenOrders":"20","bidsLastPrice":"0.00671970","highestBid":"0.01043363","asksOpenOrders":"34","asksLastPrice":"0.01086384","lowestAsk":"0.01086384"},{"market":"btc-eth","high":"0.02589710","low":"0.02475000","volume":"0.65486788","price":"0.02475000","change":"-1.00","baseVolume":"0.01620798","bidsOpenOrders":"8","bidsLastPrice":"0.02500000","highestBid":"0.02500000","asksOpenOrders":"9","asksLastPrice":"10.00000000","lowestAsk":"0.02589710"},{"market":"btc-pivx","high":"0.00003840","low":"0.00003840","volume":"20.84791667","price":"0.00003840","change":"0.00","baseVolume":"0.00080056","bidsOpenOrders":"38","bidsLastPrice":"0.0[...]
