---
http_interactions:
- request:
    method: get
    uri: https://open.citex.co.kr/api/v1/common/allticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-service:dev:8008
      X-Ratelimit-Limit:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":{"date":1565067543230,"ticker":[{"symbol":"eth_btc","high":"0.021312","vol":"17601.589","last":"0.019533","low":"0","buy":"0.019474","sell":"0.019597","change":"-0.0120"},{"symbol":"btc_usdt","high":"11931.64","vol":"5147.318942","last":"11695.67","low":"0","buy":"11682.93","sell":"11696","change":"0.0117"},{"symbol":"eth_usdt","high":"236","vol":"32274.35247","last":"228.06","low":"0","buy":"227.96","sell":"228.11","change":"-0.0020"},{"symbol":"ctt_eth","high":"0.00118","vol":"2854928.911","last":"0.00098062","low":"0","buy":"0.00098001","sell":"0.00103969","change":"-0.0321"},{"symbol":"ctt_usdt","high":"0.25803","vol":"3552709.227","last":"0.22421"[...]
