---
http_interactions:
- request:
    method: get
    uri: https://api.citex.co.kr/v1/markets/common/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-service:8008
      X-Cdn-Edge:
      - f700a73,-
    body:
      encoding: UTF-8
      string: '[{"volume":"6824.144","quoteAssetName":"BTC","high":"0.033297","amount":"162.92482883","low":"0.03246","baseAssetLogo":"https://citex-public.oss-cn-hongkong.aliyuncs.com/images/token-logo/eth.png","baseAssetName":"ETH","baseAsset":"eth","tradeUrl":"https://www.citex.co.kr/#/trade/2/1","quoteAsset":"btc","lastPrice":"0.032803","ratio":"0.0000"},{"volume":"419.234835","quoteAssetName":"USDT","high":"5287","amount":"2198885.06924222","low":"5178.06","baseAssetLogo":"https://citex-public.oss-cn-hongkong.aliyuncs.com/images/token-logo/btc.png","baseAssetName":"BTC","baseAsset":"btc","tradeUrl":"https://www.citex.co.kr/#/trade/3/2","quoteAsset":"usdt","lastPrice":"5208.92","ratio":"-0.0043"},{"volume":"10215.99168","quoteAssetName":"USDT","high":"175.14","amount":"1762939.6444953","low":"168.79","baseAssetLogo":"https://citex-publ[...]
