---
http_interactions:
- request:
    method: get
    uri: https://open.citex.co.kr/api/v1/common/snapshot/VEIL-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-service:8008
      X-Ratelimit-Limit:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":{"symbol":"VEIL-BTC","bids":[{"total":"12156.091","quantity":"12156.091","price":"0.00001595"},{"total":"87166.412","quantity":"75010.321","price":"0.00001594"},{"total":"87297.223","quantity":"130.811","price":"0.00001567"},{"total":"89297.223","quantity":"2000","price":"0.00001498"},{"total":"97865.554","quantity":"8568.331","price":"0.00001497"},{"total":"121460.389","quantity":"23594.835","price":"0.00001496"},{"total":"129208.633","quantity":"7748.244","price":"0.00001495"},{"total":"129563.984","quantity":"355.351","price":"0.00001491"},{"total":"130706.743","quantity":"1142.759","price":"0.00001488"},{"total":"132294.286","quantity":"1587.543","price":"0.00001485"},{"total":"132563.777","quantity":"269.491","price":"0.00001482"},{"total":"132653.777","quantity":"90","price":"0.00001474"},{"total":"134453.777","quantity":"1800","price":"0.00001453"},{"total":"135254.900","quantity":"801.123","price":"0.00001247"},{"total":"136189.563","quantity":"934.663","price":"0.00001031"},{"total":"159102.563","quantity":"22913","price":"0.0000103"},{"total":"160202.887","quantity":"1100.324","price":"0.000009"},{"total":"202614.183","quantity":"42411.296","price":"0.000001"}],"asks":[{"total":"257.219","quantity":"257.219","price":"0.00001608"},{"total":"675.772","quantity":"418.553","price":"0.00001615"},{"total":"1024.038","quantity":"348.266","price":"0.00001659"},{"total":"1114.091","quantity":"90.053","price":"0.00001724"},{"total":"2785.768","quantity":"1671.677","price":"0.00001765"},{"total":"6961.362","quantity":"4175.594","price":"0.00001767"},{"total":"7700.557","quantity":"739.195","price":"0.00001838"},{"total":"8096.879","quantity":"396.322","price":"0.0000184[...]
