---
http_interactions:
- request:
    method: get
    uri: https://nusax.co.id/api/v2/tickers/ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Version:
      - HTTP/1.1
      Etag:
      - W/"fc7dfb7cdef1d43aad15aae777f9bbac"
    body:
      encoding: ASCII-8BIT
      string: '{"at":1544071375,"ticker":{"buy":"0.0262662","sell":"0.0285862","low":"0.0269686","high":"0.0279985","last":"0.0270384","vol":"504.29684919"}}'
  recorded_at: Thu, 06 Dec 2018 04:42:55 GMT
recorded_with: VCR 4.0.0
