---
http_interactions:
- request:
    method: get
    uri: https://nusax.co.id/api/v2/tickers/ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Version:
      - HTTP/1.1
      Etag:
      - W/"8958a25511382b5ca7d48585db818268"
    body:
      encoding: ASCII-8BIT
      string: '{"at":1544076393,"ticker":{"buy":"0.0255532","sell":"0.0281825","low":"0.026157","high":"0.0279943","last":"0.0268112","vol":"504.42745246"}}'
  recorded_at: Thu, 06 Dec 2018 06:06:33 GMT
recorded_with: VCR 4.0.0
