---
http_interactions:
- request:
    method: get
    uri: https://nusax.co.id/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Version:
      - HTTP/1.1
      Etag:
      - W/"32ceec4078ec9a3a74dcdaeb326ca93f"
    body:
      encoding: ASCII-8BIT
      string: '{"datpeth":{"at":1544068081,"ticker":{"buy":"0.0","sell":"0.1","low":"0.0","high":"0.0","last":"0.1","vol":"0.0"}},"datpidr":{"at":1544068081,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"wtneth":{"at":1544068081,"ticker":{"buy":"0.00000006","sell":"0.00000011","low":"0.0","high":"0.0","last":"0.00000006","vol":"0.0"}},"entsbtc":{"at":1544068081,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0"}},"entseth":{"at":1544068081,"ticker":{"buy":"0.0","sell":"0.0000001","low":"0.00000008","high":"0.00000008","last":"0.00000008","vol":"0.0"}},"entsidr":{"at":1544068081,"ticker":{"buy":"0.2","sell":"1.0","low":"0.3","high":"0.3","last":"0.3","vol":"48914.74"}},"nstbtc":{"at":1544068081,"ticker":{"buy":"0.00000001","sell":"0.00000002","low":"0.0","high":"0.0","last":"0.00000002","vol":"0.0"}},"sumobtc":{"at":1544068081,"ticker":{"buy":"0.000015","sell":"0.00002","low":"0.0","high":"0.0","last":"0.00002","vol":"0.0"}},"ETHBTC":{"at":1544068081,"ticker":{"buy":"0.0264198","sell":"0.0285862","low":"0.0270488","high":"0.0279985","last":"0.0272141","vol":"502.85104477"}},"ZENBTC":{"at":1544068081,"ticker":{"buy":"0.0014447","sell":"0.0015357","low":"0.0014772","high":"0.001575","last":"0.0014777","vol":"11610.0"}},"VIPSETH":{"at":1544068081,"ticker":{"buy":"0.0","sell":"0.00000312","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"VIPSBTC":{"at":1544068081,"ticker":{"buy":"0.0","sell":"0.00000099","low":"0.0","high":"0.0","last":"0.000001","vol":"0.0"}},"NUSAETH":{"at":1544068081,"ticker":{"buy":"0.0","sell":"0.005","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"NUSABTC":{"at":1544068081,"ticker":{"buy":"0.000107","sell":"0.0001112","low":"0.000107","high":"0.000107","last":"0.000107","vol":"5.0"}},"MAMEIDR":{"at":1544068081,"ticker":{"buy":"0.69","sell":"0.7","low":"0.7","high":"0.74","last":"0.7","vol":"4190656.07501539"}},"MAMEETH":{"at":1544068081,"ticker":{"buy":"0.0","sell":"0.00000024","low":"0.0","high":"0.0","last":"0.00000033","vol":"0.0"}},"MAMEBTC":{"at":1544068081,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0"}},"DOGEBTC":{"at":1544068081,"ticker":{"buy":"0.00000059","sell":"0.0000006","low":"0.00000054","high":"0.0000006","last":"0.00000059","vol":"265645.0"}},"CNXBTC":{"at":1544068081,"ticker":{"buy":"0.0002844","sell":"0.0003002","low":"0.00028272","high":"0.00032481","last":"0.00030258","vol":"5859.0"}},"B2GBTC":{"at":1544068081,"ticker":{"buy":"0.0","sell":"0.00059999","low":"0.0","high":"0.0","last":"0.00098999","vol":"0.0"}}}'
  recorded_at: Thu, 06 Dec 2018 03:48:01 GMT
recorded_with: VCR 4.0.0
