---
http_interactions:
- request:
    method: get
    uri: https://nusax.co.id/api/v2/tickers/ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"ab7325522f97c7a3457594d2b90c97a4"
      Version:
      - HTTP/1.1
    body:
      encoding: ASCII-8BIT
      string: '{"at":1544085393,"ticker":{"buy":"0.0255532","sell":"0.0281825","low":"0.026157","high":"0.0279943","last":"0.0269253","vol":"502.46193507"}}'
  recorded_at: Thu, 06 Dec 2018 08:36:33 GMT
recorded_with: VCR 4.0.0
