---
http_interactions:
- request:
    method: get
    uri: https://api.elitex.io/api/v1/public/BTC_USDT/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":200,"data":{"c":9290.14,"change":"0.0010926724","code":"BTC_USDT","h":9487.91,"l":9246.0,"o":9280.0,"t":1572853365281,"v":15.7801590},"msg":"success"}'
  recorded_at: Tue, 05 Nov 2019 07:42:45 GMT
recorded_with: VCR 4.0.0
