---
http_interactions:
- request:
    method: get
    uri: https://api.elitex.io/api/v1/public/products
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":200,"data":[{"baseCurrency":"ETH","baseMaxSize":10.00000000000000000000,"baseMinSize":1.00000000000000000000,"code":"ETH_BTC","counterCurrency":"BTC","counterIncrement":1.000000000000E-8,"counterPrecision":10,"volumeIncrement":6},{"baseCurrency":"LSK","baseMaxSize":10.00000000000000000000,"baseMinSize":1.00000000000000000000,"code":"LSK_BTC","counterCurrency":"BTC","counterIncrement":1.000000000000E-8,"counterPrecision":10,"volumeIncrement":4},{"baseCurrency":"BTC","baseMaxSize":10.00000000000000000000,"baseMinSize":1.00000000000000000000,"code":"BTC_USDT","counterCurrency":"USDT","counterIncrement":1.000000000000E-8,"counterPrecision":5,"volumeIncrement":6},{"baseCurrency":"ETH","baseMaxSize":10.00000000000000000000,[...]
