---
http_interactions:
- request:
    method: get
    uri: https://api.elitex.io/api/v1/public/BTC_USDT/trade
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":200,"data":[{"amount":0.00043600000000000000,"id":17481649,"price":9291.50000000000000000000,"side":"buy","time":1572939404000},{"amount":0.00008400000000000000,"id":17481572,"price":9291.00000000000000000000,"side":"buy","time":1572939383000},{"amount":0.00031700000000000000,"id":17481571,"price":9290.29000000000000000000,"side":"buy","time":1572939382000},{"amount":0.00120500000000000000,"id":17481557,"price":9290.00000000000000000000,"side":"buy","time":1572939380000},{"amount":0.00010500000000000000,"id":17481555,"price":9289.92000000000000000000,"side":"buy","time":1572939380000},{"amount":0.000105000[...]
