---
http_interactions:
- request:
    method: get
    uri: https://bitexlive.com/api/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Turbo-Charged-By:
      - LiteSpeed
      Public-Key-Pins:
      - pin-sha256="pin1"; pin-sha256="pin2"; max-age=2592000
    body:
      encoding: UTF-8
      string: '[{"tradingPairs":"LTC_BTC","LastPrice":0.0067799999999999996,"percentChange":-1.1699999999999999,"low24h":0.0067400000000000003,"high24h":0.0068700000000000002,"baseVolume24h":14.073399999999999,"quoteVolume24h":2068.3155000000002,"lowestAsk":0.0067799999999999996,"highestBid":0.0067400000000000003,"lastUpdateTimestamp":"2019-10-15
        06:33:58","tradesEnabled":true},{"tradingPairs":"ETH_BTC","LastPrice":0.022200000000000001,"percentChange":0.68000000000000005,"low24h":0.02197,"high24h":0.022440000000000002,"baseVolume24h":0.74790000000000001,"quoteVolume24h":33.681399999999996,"lowestAsk":0.022249999999999999,"highestBid":0.022200000000000001,"lastUpdateTimestamp":"2019-10-15
        06:28:42","tradesEnabled":true},{"tradingPairs":"DOGE_BTC","LastPrice":3.1e-7,"percentChange":3.3300000000000001,"low24h":2.9999999999999999e-7,"high24h":3.1e-7,"baseVolu[...]
