---
http_interactions:
- request:
    method: get
    uri: https://bitexlive.com/api/public/tickers?filter=ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Turbo-Charged-By:
      - LiteSpeed
      Public-Key-Pins:
      - pin-sha256="pin1"; pin-sha256="pin2"; max-age=2592000
    body:
      encoding: UTF-8
      string: '[{"tradingPairs":"ETH_BTC","LastPrice":0.022200000000000001,"percentChange":0.68000000000000005,"low24h":0.02197,"high24h":0.022440000000000002,"baseVolume24h":0.74790000000000001,"quoteVolume24h":33.681399999999996,"lowestAsk":0.022249999999999999,"highestBid":0.022200000000000001,"lastUpdateTimestamp":"2019-10-15
        06:28:42","tradesEnabled":true}]'
  recorded_at: Tue, 15 Oct 2019 06:37:23 GMT
recorded_with: VCR 4.0.0
