---
http_interactions:
- request:
    method: get
    uri: https://bitexlive.com/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"BTC_LTC":{"id":200,"last":"0.00806787","lowestAsk":"0.00806850","highestBid":"0.00803887","percentChange":-0.671231,"baseVolume":"6.33151854","quoteVolume":"781.15019171","isFrozen":"0","high24hr":"0.00816468","low24hr":"0.00801286"},"BTC_DOGE":{"id":201,"last":"0.00000050","lowestAsk":"0.00000052","highestBid":"0.00000050","percentChange":-1.960784,"baseVolume":"15.35144103","quoteVolume":"30226691.12855152","isFrozen":"0","high24hr":"0.00000052","low24hr":"0.00000049"},"BTC_ETH":{"id":204,"last":"0.03308680","lowestAsk":"0.03312000","highestBid":"0.03305713","percentChange":-0.018705,"baseVolume":"20.77857038","quoteVolume":"626.59455791","isFrozen":"0","high24hr":"0.03334072","low24hr":"0.03262018"},"BTC_XRP":{"id":205,"last":"0.00007890","lowestAsk":"0.00007941","highestBid":"0.00007845","percentChange":-0.491865,"baseVolume":"5.86399386","quoteVolume":"73961.24501359","isFrozen":"0","high24hr":"0.00007994","low24hr":"0.00007863"},"BTC_DASH":{"id":206,"last":"0.02514858","lowestAsk":"0.02517842","highestBid":"0.02505792","percentChange":-0.375347,"baseVolume":"2.67948652","quoteVolume":"106.60361859","isFrozen":"0","high24hr":"0.02548389","low24hr":"0.02470967"},"BTC_DGB":{"id":212,"last":"0.00000305","lowestAsk":"0.00000310","highestBid":"0.00000302","percentChange":-4.388715,"baseVolume":"2.99887154","quoteVolume":"957355.86661119","isFrozen":"0","high24hr":"0.00000323","low24hr":"0.00000290"},"BTC_BCH":{"id":213,"last":"0.08637118","lowestAsk":"0.08556670","highestBid":"0.08447193","percentChange":1.995817,"baseVolume":"6.68011906","quoteVolume":"77.96463144","isFrozen":"0","high24hr":"0.08821164","low24hr":"0.08375654"},"BTC_XVG":{"id":215,"last":"0.00000205","lowestAsk":"0.00000209","highestBid":"0.00000203","percentChange":0.985222,"baseVolume":"3.52309353","quoteVolume":"1720548.29431997","isFrozen":"0","high24hr":"0.00000207","low24hr":"0.00000202"},"BTC_BTX":{"id":217,"last":"0.00008507","lowestAsk":"0.00009007","highestBid":"0.00008417","percentChange":-7.633008,"baseVolume":"0.89322388","quoteVolume":"9853.18613136","isFrozen":"0","high24hr":"0.00009384","low24hr":"0.00008507"},"BTC_FLM":{"id":220,"last":"0.00000150","lowestAsk":"0.00000525","highestBid":"0.00000005","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_MUSD":{"id":222,"last":"0.00000070","lowestAsk":"0.00000070","highestBid":"0.00000020","percentChange":2.941176,"baseVolume":"0.00102510","quoteVolume":"1485.00000000","isFrozen":"0","high24hr":"0.00000070","low24hr":"0.00000068"},"BTC_ROI":{"id":226,"last":"0.00000015","lowestAsk":"0.00000020","highestBid":"0.00000015","percentChange":0,"baseVolume":"0.00045057","quoteVolume":"3003.80086770","isFrozen":"0","high24hr":"0.00000015","low24hr":"0.00000015"},"BTC_PNY":{"id":230,"last":"0.00000031","lowestAsk":"0.00000100","highestBid":"0.00000029","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_PAC":{"id":231,"last":"0.00000026","lowestAsk":"0.00000044","highestBid":"0.00000026","percentChange":-3.703704,"baseVolume":"0.03607808","quoteVolume":"118348.79991324","isFrozen":"0","high24hr":"0.00000044","low24hr":"0.00000000"},"BTC_BITV":{"id":232,"last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_CGEN":{"id":233,"last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_ONION":{"id":236,"last":"0.00004779","lowestAsk":"0.00004864","highestBid":"0.00004778","percentChange":-0.458238,"baseVolume":"0.75116283","quoteVolume":"15557.61210324","isFrozen":"0","high24hr":"0.00004999","low24hr":"0.00004779"},"BTC_VITAE":{"id":243,"last":"0.00035000","lowestAsk":"0.00035000","highestBid":"0.00002660","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_MNGR":{"id":249,"last":"0.00168933","lowestAsk":"0.00167000","highestBid":"0.00000003","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_QWC":{"id":252,"last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_POP":{"id":254,"last":"0.00000002","lowestAsk":"0.00000003","highestBid":"0.00000001","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_XAT":{"id":255,"last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_HWI":{"id":260,"last":"0.00002000","lowestAsk":"0.00003500","highestBid":"0.00002000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_UEC":{"id":262,"last":"0.00002000","lowestAsk":"0.00000300","highestBid":"0.00000038","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_DROP":{"id":265,"last":"0.00000017","lowestAsk":"0.00000020","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_BIL":{"id":266,"last":"0.00052000","lowestAsk":"0.00051000","highestBid":"0.00040000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_PLTS":{"id":267,"last":"0.00000080","lowestAsk":"0.00000079","highestBid":"0.00000022","percentChange":0,"baseVolume":"0.00367839","quoteVolume":"4716.04291417","isFrozen":"0","high24hr":"0.00000080","low24hr":"0.00000075"},"BTC_DLX":{"id":269,"last":"0.00009500","lowestAsk":"0.00009500","highestBid":"0.00003301","percentChange":0,"baseVolume":"0.02780250","quoteVolume":"292.65793780","isFrozen":"0","high24hr":"0.00009500","low24hr":"0.00009500"},"BTC_SINS":{"id":270,"last":"0.00064000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"BTC_NAV":{"id":272,"last":"0.00005474","lowestAsk":"0.00005603","highestBid":"0.00005383","percentChange":-3.998597,"baseVolume":"0.08372487","quoteVolume":"1533.80441250","isFrozen":"0","high24hr":"0.00005702","low24hr":"0.00005431"},"BTC_STOR":{"id":273,"last":"0.00031200","lowestAsk":"0.00031200","highestBid":"0.00030000","percentChange":0.645161,"baseVolume":"0.01861035","quoteVolume":"59.68500000","isFrozen":"0","high24hr":"0.00031200","low24hr":"0.00031000"},"BTC_NYC":{"id":276,"last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":0,"baseVolume":"0.00156295","quoteVolume":"156295.40918164","isFrozen":"0","high24hr":"0.00000001","low24hr":"0.00000001"},"DOGE_ROI":{"id":226,"last":"1.00000000","lowestAsk":"0.80000000","highestBid":"0.00000099","percentChange":0,"baseVolume":"500.00000000","quoteVolume":"500.00000000","isFrozen":"0","high24hr":"1.00000000","low24hr":"1.00000000"},"DOGE_BITV":{"id":232,"last":"0.01600000","lowestAsk":"0.02790000","highestBid":"0.01000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"DOGE_CGEN":{"id":233,"last":"0.00700000","lowestAsk":"0.01430000","highestBid":"0.00700000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"DOGE_NCP":{"id":238,"last":"0.00004000","lowestAsk":"0.00170000","highestBid":"0.00005000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"DOGE_VITAE":{"id":243,"last":"95.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"DOGE_DIME":{"id":250,"last":"0.02180000","lowestAsk":"0.02180000","highestBid":"0.00166000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"DOGE_QWC":{"id":252,"last":"0.00645000","lowestAsk":"0.00086995","highestBid":"0.00004800","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"DOGE_SHND":{"id":253,"last":"0.00005500","lowestAsk":"0.00005500","highestBid":"0.00004500","percentChange":37.5,"baseVolume":"0.04349748","quoteVolume":"940.81200000","isFrozen":"0","high24hr":"0.00005500","low24hr":"0.00004000"},"DOGE_XAT":{"id":255,"last":"0.00005500","lowestAsk":"0.99000000","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"TRY_BTC":{"id":199,"last":"35190.00000000","lowestAsk":"35242.78000000","highestBid":"35033.46000000","percentChange":0.25641,"baseVolume":"1356436.77126584","quoteVolume":"38.58331510","isFrozen":"0","high24hr":"35274.99000000","low24hr":"34965.00000000"},"TRY_LTC":{"id":200,"last":"280.02000000","lowestAsk":"284.34000000","highestBid":"279.78000000","percentChange":-1.397937,"baseVolume":"70381.21333345","quoteVolume":"248.12747140","isFrozen":"0","high24hr":"287.99000000","low24hr":"280.00000000"},"TRY_DOGE":{"id":201,"last":"0.02500000","lowestAsk":"0.04300000","highestBid":"0.02000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"TRY_ETH":{"id":204,"last":"1164.01000000","lowestAsk":"1165.17000000","highestBid":"1154.01000000","percentChange":1.042535,"baseVolume":"201854.65166657","quoteVolume":"172.87998830","isFrozen":"0","high24hr":"1199.00000000","low24hr":"1150.01000000"},"TRY_USDT":{"id":207,"last":"6.13000000","lowestAsk":"6.40000000","highestBid":"5.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"TRY_DGB":{"id":212,"last":"0.15250000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"TRY_BTX":{"id":217,"last":"6.50000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"TRY_BOST":{"id":229,"last":"0.02400000","lowestAsk":"0.02400000","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"TRY_VITAE":{"id":243,"last":"6.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"TRY_DIME":{"id":250,"last":"0.00006000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":-100,"baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"USDT_BTC":{"id":199,"last":"6410.96320000","lowestAsk":"6424.06650000","highestBid":"6406.95030000","percentChange":-0.669526,"baseVolume":"94270.81743640","quoteVolume":"14.62414650","isFrozen":"0","high24hr":"6596.00000000","low24hr":"6406.03810000"},"USDT_ETH":{"id":204,"last":"211.94410000","lowestAsk":"220.00000000","highestBid":"202.98540000","percentChange":-0.842314,"baseVolume":"4760.90191206","quoteVolume":"22.31734536","isFrozen":"0","high24hr":"214.97100000","low24hr":"203.22960000"},"USDT_STOR":{"id":273,"last":"1.67000000","lowestAsk":"1.75000000","highestBid":"1.45000000","percentChange":1.212121,"baseVolume":"108.11832000","quoteVolume":"65.49600000","isFrozen":"0","high24hr":"1.67000000","low24hr":"1.65000000"},"USDT_NYC":{"id":276,"last":"0.00001500","lowestAsk":"0.00001600","highestBid":"0.00001350","percentChange":-21.052632,"baseVolume":"845.80380295","quoteVolume":"55725058.13693429","isFrozen":"0","high24hr":"0.00002000","low24hr":"0.00000000"},"EURS_BTC":{"id":199,"last":"5622.82000000","lowestAsk":"5657.41000000","highestBid":"5612.49000000","percentChange":-0.506772,"baseVolume":"7866.42728400","quoteVolume":"1.39525000","isFrozen":"0","high24hr":"5664.55000000","low24hr":"5622.82000000"},"EURS_LTC":{"id":200,"last":"45.44000000","lowestAsk":"65.43000000","highestBid":"25.25000000","percentChange":0,"baseVolume":"13.63200000","quoteVolume":"0.30000000","isFrozen":"0","high24hr":"45.44000000","low24hr":"45.44000000"},"EURS_ETH":{"id":204,"last":"185.77000000","lowestAsk":"206.81000000","highestBid":"166.37000000","percentChange":-0.938517,"baseVolume":"98.33718950","quoteVolume":"0.52350000","isFrozen":"0","high24hr":"188.36000000","low24hr":"185.77000000"}}'
  recorded_at: Sun, 11 Nov 2018 14:10:44 GMT
recorded_with: VCR 4.0.0
