---
http_interactions:
- request:
    method: get
    uri: https://bitexlive.com/api/public/orderBook?filter=ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: UTF-8
      string: "\n<div style=\"border:1px solid #990000;padding-left:20px;margin:0
        0 10px 0;\">\n\n<h4>A PHP Error was encountered</h4>\n\n<p>Severity: Notice</p>\n<p>Message:
        \ Undefined index: HTTP_ACCEPT_LANGUAGE</p>\n<p>Filename: helpers/my_helper.php</p>\n<p>Line
        Number: 18</p>\n\n\n\t<p>Backtrace:</p>\n\t\n\t\t\n\t\n\t\t\n\t\n\t\t\n\t\t\t<p
        style=\"margin-left:10px\">\n\t\t\tFile: /home/bitexlive.com/public_html/application/helpers/my_helper.php<br
        />\n\t\t\tLine: 18<br />\n\t\t\tFunction: _error_handler\t\t\t</p>\n\n\t\t\n\t\n\t\t\n\t\t\t<p
        style=\"margin-left:10px\">\n\t\t\tFile: /home/bitexlive.com/public_html/application/controllers/Api.php<br
        />\n\t\t\tLine: 8<br />\n\t\t\tFunction: dilBul\t\t\t</p>\n\n\t\t\n\t\n\t\t\n\t\n\t\t\n\t\t\t<p
        style=\"margin-left:10px\">\n\t\t\tFile: /home/bitexlive.com/public_html/index.php<br
        />\n\t\t\tLine: 196<br />\n\t\t\tFunction: require_once\t\t\t</p>\n\n\t\t\n\t\n\n</div>{\"LastUpdateTimestamp\":1570519881,\"bids\":[[\"0.02200000\",0.00050000000000000001],[\"0.02199000\",0.215],[\"0.02198000\",0.062055180000000001],[\"0.02197000\",0.95474000000000003],[\"0.02196000\",0.33150000000000002],[\"0.02195000\",1.3284612099999999],[\"0.02194000\",0.097500000000000003],[\"0.02193000\",0.86307699999999998],[\"0.02192000\",0.44867000000000001],[\"0.02191000\",0.090329999999999994],[\"0.02190000\",0.032849999999999997],[\"0.02189000\",0.15381500000000001],[\"0.02188000\",0.34584500000000001],[\"0.02187000\",0.29578399[...]
