---
http_interactions:
- request:
    method: get
    uri: https://bitexlive.com/api/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: UTF-8
      string: "\n<div style=\"border:1px solid #990000;padding-left:20px;margin:0
        0 10px 0;\">\n\n<h4>A PHP Error was encountered</h4>\n\n<p>Severity: Notice</p>\n<p>Message:
        \ Undefined index: HTTP_ACCEPT_LANGUAGE</p>\n<p>Filename: helpers/my_helper.php</p>\n<p>Line
        Number: 18</p>\n\n\n\t<p>Backtrace:</p>\n\t\n\t\t\n\t\n\t\t\n\t\n\t\t\n\t\t\t<p
        style=\"margin-left:10px\">\n\t\t\tFile: /home/bitexlive.com/public_html/application/helpers/my_helper.php<br
        />\n\t\t\tLine: 18<br />\n\t\t\tFunction: _error_handler\t\t\t</p>\n\n\t\t\n\t\n\t\t\n\t\t\t<p
        style=\"margin-left:10px\">\n\t\t\tFile: /home/bitexlive.com/public_html/application/controllers/Api.php<br
        />\n\t\t\tLine: 8<br />\n\t\t\tFunction: dilBul\t\t\t</p>\n\n\t\t\n\t\n\t\t\n\t\n\t\t\n\t\t\t<p
        style=\"margin-left:10px\">\n\t\t\tFile: /home/bitexlive.com/public_html/index.php<br
        />\n\t\t\tLine: 196<br />\n\t\t\tFunction: require_once\t\t\t</p>\n\n\t\t\n\t\n\n</div>[{\"tradingPairs\":\"LTC_BTC\",\"LastPrice\":0.0070000000000000001,\"percentChange\":0.85999999999999999,\"low24h\":0.0069199999999999999,\"high24h\":0.0071000000000000004,\"baseVolume24h\":11.9703,\"quoteVolume24h\":1710.7891999999999,\"lowestAsk\":0.0070099999999999997,\"highestBid\":0.0070000000000000001,\"lastUpdateTimestamp\":\"2019-10-08
        07:31:09\",\"tradesEnabled\":true},{\"tradingPairs\":\"ETH_BTC\",\"LastPrice\":0.022009999999999998,\"percentChange\":0.95999999999999996,\"low24h\":0.021610000000000001,\"high24h\":0.02222,\"baseVolume24h\":1.1096999999999999,\"quoteVolume24h\":50.631300000000003,\"lowestAsk\":0.02205,\"highestBid\":0.021999999999999999,\"lastUpdateTimestamp\":\"2019-10-08
        07:25:32\",\"tradesEnabled\":true},{\"tradingPairs\":\"DOGE_BTC\",\"LastPrice\":2.8999999999999998e-7,\"percentChange\":0,\"low24h\":2.8000000000000002e-7,\"high[...]
