---
http_interactions:
- request:
    method: get
    uri: https://bitexlive.com/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LTC_BTC":{"name":"LiteCoin","last":"0.01474431","lowestAsk":"0.01485529","highestBid":"0.01474431","percentChange":"-1.67","baseVolume":"38.19547544","quoteVolume":"2028.75739108","isFrozen":"0","high24hr":"0.01503517","low24hr":"0.01441577"},"DOGE_BTC":{"name":"DogeCoin","last":"0.00000050","lowestAsk":"0.00000051","highestBid":"0.00000050","percentChange":"-3.85","baseVolume":"31.54527074","quoteVolume":"30814531.173681","isFrozen":"0","high24hr":"0.00000053","low24hr":"0.0000005"},"ETH_BTC":{"name":"Ethereum","last":"0.03431237","lowestAsk":"0.03432598","highestBid":"0.03431237","percentChange":"-0.85","baseVolume":"35.53500501","quoteVolume":"717.97923341","isFrozen":"0","high24hr":"0.0347855","low24hr":"0.03419764"},"XRP_BTC":{"name":"Ripple","last":"0.00007818","lowestAsk":"0.00007839","highestBid":"0.00007818","percentChange":"-0.87","baseVolume":"45.17089553","quoteVolume":"637432.70922811","isFrozen":"0","high24hr":"0.0000797","low24hr":"0.0000001"},"DASH_BTC":{"name":"Dash","last":"0.02268175","lowestAsk":"0.02272000","highestBid":"0.02268175","percentChange":"-1.38","baseVolume":"5.84118566","quoteVolume":"191.57664499","isFrozen":"0","high24hr":"0.023244","low24hr":"0.02244068"},"DGB_BTC":{"name":"DigiByte","last":"0.00000330","lowestAsk":"0.00000330","highestBid":"0.00000324","percentChange":"-4.90","baseVolume":"4.93260813","quoteVolume":"794751.51013696","isFrozen":"0","high24hr":"0.00000348","low24hr":"0.00000321"},"BCH_BTC":{"name":"BitcoinCash","last":"0.03902119","lowestAsk":"0.03934087","highestBid":"0.03902119","percentChange":"-4.16","baseVolume":"5.8077617","quoteVolume":"112.1151411","isFrozen":"0","high24hr":"0.04083594","low24hr":"0.03870107"},"XVG_BTC":{"name":"Verge","last":"0.00000171","lowestAsk":"0.00000174","highestBid":"0.00000171","percentChange":"-1.72","baseVolume":"7.15717585","quoteVolume":"2935761.6978715","isFrozen":"0","high24hr":"0.00000176","low24hr":"0.00000169"},"BTX_BTC":{"name":"Bitcore","last":"0.00007434","lowestAsk":"0.00007452","highestBid":"0.00005000","percentChange":"17.81","baseVolume":"0.46014493","quoteVolume":"7001.21237519","isFrozen":"0","high24hr":"0.00007775","low24hr":"0.000063"},"ROI_BTC":{"name":"ROIcoin","last":"0.00000005","lowestAsk":"0.00000007","highestBid":"0.00000005","percentChange":"0.00","baseVolume":"0.00298376","quoteVolume":"59675.08787649","isFrozen":"0","high24hr":"0.00000005","low24hr":"0.00000005"},"PNY_BTC":{"name":"PeonyCoin","last":"0.00002390","lowestAsk":"0.00002100","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"PAC_BTC":{"name":"PACcoin","last":"0.00000016","lowestAsk":"0.00000019","highestBid":"0.00000015","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"CGEN_BTC":{"name":"CommunityGeneration","last":"0.00000229","lowestAsk":"0.00000218","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"ONION_BTC":{"name":"DeepOnion","last":"0.00005248","lowestAsk":"0.00008248","highestBid":"0.00005260","percentChange":"0.00","baseVolume":"0.0005248","quoteVolume":"10","isFrozen":"0","high24hr":"0.00005248","low24hr":"0.00005248"},"TLR_BTC":{"name":"Taler","last":"0.00000040","lowestAsk":"0.00000065","highestBid":"0.00000010","percentChange":"-33.33","baseVolume":"0.00043623","quoteVolume":"984.77800496","isFrozen":"0","high24hr":"0.0000006","low24hr":"0.0000004"},"TSC_BTC":{"name":"Thunderstake","last":"0.00000145","lowestAsk":"0.00000100","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"VITAE_BTC":{"name":"Vitae","last":"0.00010006","lowestAsk":"0.00010395","highestBid":"0.00010006","percentChange":"7.55","baseVolume":"0.87485992","quoteVolume":"4489.84276955","isFrozen":"0","high24hr":"0.000105","low24hr":"0.00009267"},"SEND_BTC":{"name":"SocialSend","last":"0.00000650","lowestAsk":"0.00014000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"HWI_BTC":{"name":"HawaiiCoin","last":"0.00001500","lowestAsk":"0.00002300","highestBid":"0.00001500","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"OMG_BTC":{"name":"OmiseGO","last":"0.00038753","lowestAsk":"0.00038754","highestBid":"0.00038753","percentChange":"5.23","baseVolume":"43.49106922","quoteVolume":"73915.51157256","isFrozen":"0","high24hr":"0.0004044","low24hr":"0.00036339"},"BIL_BTC":{"name":"Blackbill","last":"0.00010000","lowestAsk":"0.00010000","highestBid":"0.00000002","percentChange":"-50.00","baseVolume":"0.00486224","quoteVolume":"36.44246507","isFrozen":"0","high24hr":"0.0002","low24hr":"0.0001"},"PLTS_BTC":{"name":"Ploutos","last":"0.00000002","lowestAsk":"0.00000025","highestBid":"0.00000002","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"DLX_BTC":{"name":"DiplexCoin","last":"0.00000400","lowestAsk":"0.00005522","highestBid":"0.00000003","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"SINS_BTC":{"name":"SafeInsure","last":"0.00054602","lowestAsk":"0.00087000","highestBid":"0.00000001","percentChange":"0.08","baseVolume":"0.89994974","quoteVolume":"1653.14010715","isFrozen":"0","high24hr":"0.00055728","low24hr":"0.00051843"},"ATL_BTC":{"name":"AtaliraToken","last":"0.00000310","lowestAsk":"0.00000310","highestBid":"0.00000050","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"NAV_BTC":{"name":"NavCoin","last":"0.00004808","lowestAsk":"0.00004834","highestBid":"0.00004795","percentChange":"1.14","baseVolume":"6.37527186","quoteVolume":"74461.72244039","isFrozen":"0","high24hr":"0.00004927","low24hr":"0.00004596"},"STOR_BTC":{"name":"Self
        Storage Coin","last":"0.00034750","lowestAsk":"0.00036900","highestBid":"0.00027700","percentChange":"1.91","baseVolume":"0.14473326","quoteVolume":"420.45","isFrozen":"0","high24hr":"0.0003475","low24hr":"0.000341"},"NYC_BTC":{"name":"NewYorkCoin","last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"NEXO_BTC":{"name":"Nexo","last":"0.00002135","lowestAsk":"0.00002156","highestBid":"0.00002135","percentChange":"-3.04","baseVolume":"1.0786056","quoteVolume":"34720.99806755","isFrozen":"0","high24hr":"0.00002258","low24hr":"0.00002131"},"OPN_BTC":{"name":"OpenBit","last":"0.00000100","lowestAsk":"0.00048980","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"EDC_BTC":{"name":"EdCash","last":"0.00000050","lowestAsk":"0.00000050","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"TXT_BTC":{"name":"Trextoken","last":"0.00000000","lowestAsk":"0.00000110","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"CFCC_BTC":{"name":"CryptoFightClub","last":"0.00019000","lowestAsk":"0.00004000","highestBid":"0.00000150","percentChange":"280.00","baseVolume":"0.01984262","quoteVolume":"360.80983297","isFrozen":"0","high24hr":"0.00019","low24hr":"0.00005"},"NOTE_BTC":{"name":"DNotes","last":"0.00000196","lowestAsk":"0.00000208","highestBid":"0.00000196","percentChange":"-3.45","baseVolume":"1.13295755","quoteVolume":"279488.77454261","isFrozen":"0","high24hr":"0.00000218","low24hr":"0.00000194"},"TPAY_BTC":{"name":"TokenPay","last":"0.00043628","lowestAsk":"0.00043628","highestBid":"0.00043536","percentChange":"0.96","baseVolume":"1.20803837","quoteVolume":"1519.24632853","isFrozen":"0","high24hr":"0.00044669","low24hr":"0.00040295"},"XTRL_BTC":{"name":"TurkeyEnergyToken","last":"0.00000006","lowestAsk":"0.00000018","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"EUNO_BTC":{"name":"EunoCoin","last":"0.00000750","lowestAsk":"0.00001000","highestBid":"0.00000010","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"HET_BTC":{"name":"HavEtherToken","last":"0.00004000","lowestAsk":"0.00004000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"PRONTO_BTC":{"name":"Pronto","last":"0.00000000","lowestAsk":"0.00000200","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"TICO_BTC":{"name":"TopinvestmentCoin","last":"0.00000067","lowestAsk":"0.00000050","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"NEODT_BTC":{"name":"Neodiamond
        Token","last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"NST_BTC":{"name":"NewSolution","last":"0.00000070","lowestAsk":"0.00000070","highestBid":"0.00000040","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"BSTY_BTC":{"name":"GlobalBoost-Y","last":"0.00001200","lowestAsk":"0.00001250","highestBid":"0.00000140","percentChange":"-22.58","baseVolume":"0.0026384","quoteVolume":"184.01644076","isFrozen":"0","high24hr":"0.0000155","low24hr":"0.000012"},"XDCE_BTC":{"name":"XinFin
        Network","last":"0.00000014","lowestAsk":"0.00000025","highestBid":"0.00000017","percentChange":"-6.67","baseVolume":"0.90907082","quoteVolume":"6236147.7436905","isFrozen":"0","high24hr":"0.00000025","low24hr":"0.00000013"},"CMCT_BTC":{"name":"Crowd
        Machine","last":"0.00000038","lowestAsk":"0.00000039","highestBid":"0.00000038","percentChange":"8.57","baseVolume":"6.29957047","quoteVolume":"8717108.3371169","isFrozen":"0","high24hr":"0.0000004","low24hr":"0.00000034"},"ZRX_BTC":{"name":"0x","last":"0.00006678","lowestAsk":"0.00006689","highestBid":"0.00006683","percentChange":"1.38","baseVolume":"5.33371168","quoteVolume":"53793.96713239","isFrozen":"0","high24hr":"0.00006801","low24hr":"0.00006501"},"VESTX_BTC":{"name":"Vestxcoin","last":"0.00000015","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":"1400.00","baseVolume":"3.22844822","quoteVolume":"114628416.33256","isFrozen":"0","high24hr":"0.00000015","low24hr":"0.00000001"},"DOMO_BTC":{"name":"Domocoin","last":"0.00003440","lowestAsk":"0.00003440","highestBid":"0.00000340","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"GAD_BTC":{"name":"Garuda
        Token","last":"0.00000018","lowestAsk":"0.00000005","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"KAZU_BTC":{"name":"Kazucoin","last":"0.00000068","lowestAsk":"0.00000068","highestBid":"0.00000030","percentChange":"19.30","baseVolume":"0.00068421","quoteVolume":"1022.48444289","isFrozen":"0","high24hr":"0.00000068","low24hr":"0.00000057"},"ETNX_BTC":{"name":"Electronero","last":"0.00009999","lowestAsk":"0.00009900","highestBid":"0.00001800","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"ETNXP_BTC":{"name":"Electronero
        Pulse","last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"GTC_BTC":{"name":"Global
        Trust Coin","last":"0.00036470","lowestAsk":"0.00034000","highestBid":"0.00000000","percentChange":"-0.05","baseVolume":"0.1244087","quoteVolume":"341","isFrozen":"0","high24hr":"0.0003649","low24hr":"0.0003647"},"TMY_BTC":{"name":"TimmyCoin","last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"XQR_BTC":{"name":"Qredit","last":"0.00000043","lowestAsk":"0.00000043","highestBid":"0.00000042","percentChange":"-17.31","baseVolume":"0.07070493","quoteVolume":"158532.33285156","isFrozen":"0","high24hr":"0.00000052","low24hr":"0.00000043"},"OMNES_BTC":{"name":"Omnes
        Coin","last":"0.00000003","lowestAsk":"0.00000003","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"BYTC_BTC":{"name":"BytechCoin","last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"TRX_BTC":{"name":"Tron","last":"0.00000571","lowestAsk":"0.00000572","highestBid":"0.00000555","percentChange":"0.00","baseVolume":"4.51502275","quoteVolume":"509959.83069031","isFrozen":"0","high24hr":"0.0000058","low24hr":"0.00000554"},"OMG_ETH":{"name":"OmiseGO","last":"0.01131320","lowestAsk":"0.01131320","highestBid":"0.01127310","percentChange":"6.16","baseVolume":"385.4765227","quoteVolume":"22640.7003379","isFrozen":"0","high24hr":"0.0117704","low24hr":"0.0105612"},"ATL_ETH":{"name":"AtaliraToken","last":"0.00000650","lowestAsk":"0.00065000","highestBid":"0.00000650","percentChange":"0.00","baseVolume":"0.00065","quoteVolume":"100","isFrozen":"0","high24hr":"0.0000065","low24hr":"0.0000065"},"XTRL_ETH":{"name":"TurkeyEnergyToken","last":"0.00000140","lowestAsk":"0.00000199","highestBid":"0.00000002","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"HET_ETH":{"name":"HavEtherToken","last":"0.00075000","lowestAsk":"0.00074990","highestBid":"0.00010000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"XLMX_ETH":{"name":"Stellar
        Classic","last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":"0.00","baseVolume":"0.11589907","quoteVolume":"11589907.185629","isFrozen":"0","high24hr":"0.00000001","low24hr":"0.00000001"},"TICO_ETH":{"name":"TopinvestmentCoin","last":"0.00000749","lowestAsk":"0.00000749","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"NEODT_ETH":{"name":"Neodiamond
        Token","last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"NST_ETH":{"name":"NewSolution","last":"0.00001000","lowestAsk":"0.00001000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"XDCE_ETH":{"name":"XinFin
        Network","last":"0.00000412","lowestAsk":"0.00010000","highestBid":"0.00000000","percentChange":"-5.94","baseVolume":"9.14716925","quoteVolume":"2148073.3607112","isFrozen":"0","high24hr":"0.00000451","low24hr":"0.00000376"},"ZRX_ETH":{"name":"0x","last":"0.00194949","lowestAsk":"0.00195339","highestBid":"0.00194378","percentChange":"3.09","baseVolume":"47.90510057","quoteVolume":"15087.45661685","isFrozen":"0","high24hr":"0.0019842","low24hr":"0.00187833"},"GAD_ETH":{"name":"Garuda
        Token","last":"0.00000251","lowestAsk":"0.00000218","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"KAZU_ETH":{"name":"Kazucoin","last":"0.00029876","lowestAsk":"0.00005111","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"ETNX_ETH":{"name":"Electronero","last":"0.00100000","lowestAsk":"1.28000000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"ETNXP_ETH":{"name":"Electronero
        Pulse","last":"0.00000001","lowestAsk":"0.00000001","highestBid":"0.00000000","percentChange":"0.00","baseVolume":"0.000109","quoteVolume":"10900","isFrozen":"0","high24hr":"0.00000001","low24hr":"0.00000001"},"GTC_ETH":{"name":"Global
        Trust Coin","last":"0.01038400","lowestAsk":"0.00400000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"OMNES_ETH":{"name":"Omnes
        Coin","last":"0.00000039","lowestAsk":"0.00000038","highestBid":"0.00000020","percentChange":"56.00","baseVolume":"1.40579928","quoteVolume":"5641706.9281437","isFrozen":"0","high24hr":"0.0000005","low24hr":"0.00000015"},"BTC_USDT":{"name":"BitCoin","last":"4026.32207241","lowestAsk":"4048.78779800","highestBid":"4026.32207241","percentChange":"0.94","baseVolume":"419617.021597","quoteVolume":"68.65852507","isFrozen":"0","high24hr":"4061.21648421","low24hr":"3960.7564256"},"LTC_USDT":{"name":"LiteCoin","last":"59.95588936","lowestAsk":"59.95588936","highestBid":"59.59896521","percentChange":"0.32","baseVolume":"330795.04754521","quoteVolume":"4525.18423504","isFrozen":"0","high24hr":"60.58386837","low24hr":"57.41503514"},"ETH_USDT":{"name":"Ethereum","last":"138.58767218","lowestAsk":"138.62049368","highestBid":"138.58767218","percentChange":"-0.49","baseVolume":"302162.59812334","quoteVolume":"1576.40176059","isFrozen":"0","high24hr":"139.53362254","low24hr":"136.41443826"},"XRP_USDT":{"name":"Ripple","last":"0.31643010","lowestAsk":"0.31643010","highestBid":"0.31624992","percentChange":"0.37","baseVolume":"373093.44357","quoteVolume":"802619.81384651","isFrozen":"0","high24hr":"0.3199001","low24hr":"0.3119999"},"DASH_USDT":{"name":"Dash","last":"92.07747993","lowestAsk":"92.07747993","highestBid":"91.48119870","percentChange":"0.08","baseVolume":"42695.19973866","quoteVolume":"370.99656947","isFrozen":"0","high24hr":"93.54762064","low24hr":"89.60001022"},"DGB_USDT":{"name":"DigiByte","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"BCH_USDT":{"name":"BitcoinCash","last":"158.55645277","lowestAsk":"158.55645277","highestBid":"157.88089956","percentChange":"-1.24","baseVolume":"49739.82356631","quoteVolume":"264.82462108","isFrozen":"0","high24hr":"161.27020936","low24hr":"155.20089956"},"XVG_USDT":{"name":"Verge","last":"0.00700400","lowestAsk":"0.00700400","highestBid":"0.00690000","percentChange":"2.06","baseVolume":"50768.70835","quoteVolume":"4442862.3705608","isFrozen":"0","high24hr":"0.00701601","low24hr":"0.00676313"},"CGEN_USDT":{"name":"CommunityGeneration","last":"0.00000000","lowestAsk":"0.30000000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"ATL_USDT":{"name":"AtaliraToken","last":"0.00060000","lowestAsk":"0.06900000","highestBid":"0.00050000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"STOR_USDT":{"name":"Self
        Storage Coin","last":"1.26310000","lowestAsk":"1.42500000","highestBid":"1.22400000","percentChange":"1.78","baseVolume":"432.0567","quoteVolume":"345","isFrozen":"0","high24hr":"1.2631","low24hr":"1.241"},"NYC_USDT":{"name":"NewYorkCoin","last":"0.00001175","lowestAsk":"0.00001170","highestBid":"0.00000900","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"EDC_USDT":{"name":"EdCash","last":"0.00900000","lowestAsk":"0.02000000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"TXT_USDT":{"name":"Trextoken","last":"0.10000000","lowestAsk":"1.00000000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"TXTC_USDT":{"name":"TrexTokenClassic","last":"0.00000000","lowestAsk":"0.00100000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"CFCC_USDT":{"name":"CryptoFightClub","last":"0.99000000","lowestAsk":"0.99000000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"NOTE_USDT":{"name":"DNotes","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"TPAY_USDT":{"name":"TokenPay","last":"0.00000000","lowestAsk":"500.00000000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"XTRL_USDT":{"name":"TurkeyEnergyToken","last":"0.00000001","lowestAsk":"0.00899000","highestBid":"0.00000001","percentChange":"0.00","baseVolume":"3.9E-7","quoteVolume":"39.41393076","isFrozen":"0","high24hr":"0.00000001","low24hr":"0.00000001"},"EUNO_USDT":{"name":"EunoCoin","last":"0.00000000","lowestAsk":"1.00000000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"HET_USDT":{"name":"HavEtherToken","last":"1.00000000","lowestAsk":"1.00000000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"XLMX_USDT":{"name":"Stellar
        Classic","last":"0.00000000","lowestAsk":"0.00000015","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"PRONTO_USDT":{"name":"Pronto","last":"0.00000000","lowestAsk":"0.98000000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"TICO_USDT":{"name":"TopinvestmentCoin","last":"0.00000000","lowestAsk":"0.00060000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"NEODT_USDT":{"name":"Neodiamond
        Token","last":"0.00000000","lowestAsk":"0.00000010","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"NST_USDT":{"name":"NewSolution","last":"0.00900000","lowestAsk":"0.00700000","highestBid":"0.00000001","percentChange":"0.00","baseVolume":"3.9E-7","quoteVolume":"4.325E-5","isFrozen":"0","high24hr":"0.009","low24hr":"0.009"},"BSTY_USDT":{"name":"GlobalBoost-Y","last":"0.00000000","lowestAsk":"1.00000000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"XDCE_USDT":{"name":"XinFin
        Network","last":"0.00000000","lowestAsk":"0.34000000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"ZRX_USDT":{"name":"0x","last":"0.26980300","lowestAsk":"0.26984700","highestBid":"0.26957700","percentChange":"3.10","baseVolume":"49781.83705","quoteVolume":"123646.30691509","isFrozen":"0","high24hr":"0.272694","low24hr":"0.259654"},"VESTX_USDT":{"name":"Vestxcoin","last":"0.00120000","lowestAsk":"0.00035000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"KAZU_USDT":{"name":"Kazucoin","last":"0.03999000","lowestAsk":"0.00610000","highestBid":"0.00004001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"ETNX_USDT":{"name":"Electronero","last":"0.04000000","lowestAsk":"0.25000000","highestBid":"0.04000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"ETNXP_USDT":{"name":"Electronero
        Pulse","last":"0.00000350","lowestAsk":"0.00000085","highestBid":"0.00000002","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"GTC_USDT":{"name":"Global
        Trust Coin","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"TMY_USDT":{"name":"TimmyCoin","last":"0.00000000","lowestAsk":"0.00049999","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"XQR_USDT":{"name":"Qredit","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"OMNES_USDT":{"name":"Omnes
        Coin","last":"0.00020000","lowestAsk":"0.00090000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"BYTC_USDT":{"name":"BytechCoin","last":"0.00000498","lowestAsk":"0.00000200","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"TRX_USDT":{"name":"Tron","last":"0.02266989","lowestAsk":"0.02273939","highestBid":"0.02269032","percentChange":"-0.70","baseVolume":"48355.78767","quoteVolume":"1495153.3614602","isFrozen":"0","high24hr":"0.02285919","low24hr":"0.02243852"},"BTC_EURS":{"name":"BitCoin","last":"3606.40000000","lowestAsk":"3616.45000000","highestBid":"3585.09000000","percentChange":"1.47","baseVolume":"25825.99234735","quoteVolume":"7.20849","isFrozen":"0","high24hr":"3617.53","low24hr":"3547.19"},"LTC_EURS":{"name":"LiteCoin","last":"52.93410000","lowestAsk":"53.67050000","highestBid":"53.18270000","percentChange":"-3.95","baseVolume":"10.1892917","quoteVolume":"0.193","isFrozen":"0","high24hr":"55.1107","low24hr":"52.3279"},"ETH_EURS":{"name":"Ethereum","last":"123.50340000","lowestAsk":"124.13330000","highestBid":"122.85740000","percentChange":"0.73","baseVolume":"31802.74826891","quoteVolume":"257.81795","isFrozen":"0","high24hr":"124.3977","low24hr":"122.4449"},"ETH_LTC":{"name":"Ethereum","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"FLM_DOGE":{"name":"FolmCoin","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"KREDS_DOGE":{"name":"KredsCoin","last":"0.00000000","lowestAsk":"25.77500000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"ROI_DOGE":{"name":"ROIcoin","last":"0.37000000","lowestAsk":"0.29999999","highestBid":"0.01000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"PNY_DOGE":{"name":"PeonyCoin","last":"4.19538788","lowestAsk":"0.00000000","highestBid":"0.01000100","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"PAC_DOGE":{"name":"PACcoin","last":"1.00000000","lowestAsk":"0.00000000","highestBid":"1.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"CGEN_DOGE":{"name":"CommunityGeneration","last":"0.09540000","lowestAsk":"100.00000000","highestBid":"0.00610005","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"XSR_DOGE":{"name":"SucreCoin","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"DFT_DOGE":{"name":"DraftCoin","last":"100.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"DIME_DOGE":{"name":"DimeCoin","last":"0.01890000","lowestAsk":"0.01600000","highestBid":"0.00000000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"QWC_DOGE":{"name":"QwertyCoin","last":"0.00055000","lowestAsk":"0.00054999","highestBid":"0.00010000","percentChange":"0.00","baseVolume":"1.86068541","quoteVolume":"3383.06437972","isFrozen":"0","high24hr":"0.00055","low24hr":"0.00055"},"SHND_DOGE":{"name":"StrongHands","last":"0.00003600","lowestAsk":"0.00003999","highestBid":"0.00003100","percentChange":"0.00","baseVolume":"81.28356958","quoteVolume":"2257876.9327945","isFrozen":"0","high24hr":"0.000036","low24hr":"0.000036"},"POP_DOGE":{"name":"PopularCoin","last":"0.10000000","lowestAsk":"0.00000000","highestBid":"0.00000002","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"HWI_DOGE":{"name":"HawaiiCoin","last":"71.00054217","lowestAsk":"0.00000000","highestBid":"0.00000010","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"BIL_DOGE":{"name":"Blackbill","last":"550.00000000","lowestAsk":"790.00000000","highestBid":"0.01090000","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"NYC_DOGE":{"name":"NewYorkCoin","last":"0.04995000","lowestAsk":"0.04994000","highestBid":"0.00070006","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"ERG_DOGE":{"name":"ErgCoin","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000001","percentChange":"nan","baseVolume":"0","quoteVolume":"0","isFrozen":"0","high24hr":"0","low24hr":"0"},"DEXP_DOGE":{"name":"
[...]
