---
http_interactions:
- request:
    method: get
    uri: https://bitexlive.com/api/orders?symbol=BTC_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Data":{"BUY":[{"Pairs":"BTC_ETH","Type":"Buy","Price":"0.01841326","Quantity":"0.00577301","Total":"0.00010630","Timestamp":1565670414},{"Pairs":"BTC_ETH","Type":"Buy","Price":"0.01841050","Quantity":"1.06189403","Total":"0.01955000","Timestamp":1565669244},{"Pairs":"BTC_ETH","Type":"Buy","Price":"0.01840791","Quantity":"4.54750159","Total":"0.08371000","Timestamp":1565668507},{"Pairs":"BTC_ETH","Type":"Buy","Price":"0.01840427","Quantity":"0.01674611","Total":"0.00030820","Timestamp":1565666024},{"Pairs":"BTC_ETH","Type":"Buy","Price":"0.01840425","Quantity":"3.83552712","Total":"0.07059000","Timestamp":1565665964},[...]
