---
http_interactions:
- request:
    method: get
    uri: http://api.fexpro.io/api/market/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"BCH/BTC","buy":0.14222100,"sell":0.14289800,"changePercentage":-10.000000000000000,"colse":0.14244000,"open":0.15826100,"low":0.13629200,"high":0.15945700,"volume":272.11293500,"name":"FEX"},{"symbol":"BCH/USDT","buy":1342.75000000,"sell":1349.69000000,"changePercentage":-9.240000000000000,"colse":1344.63000000,"open":1481.49000000,"low":1255.02000000,"high":1501.19000000,"volume":578.53809500,"name":"FEX"},{"symbol":"BTC/USDT","buy":9414.66000000,"sell":9454.90000000,"changePercentage":1.010000000000000,"colse":9423.48000000,"open":9329.47000000,"low":9182.46000000,"high":9756.68000000,"volume":119.55500000,"name":"FEX"},{"symbol":"DASH/BTC","buy":0.05214300,"sell":0.0525160[...]
