---
http_interactions:
- request:
    method: get
    uri: http://api.fexhk.com/api/market/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"DLB/ETH","buy":0.00012000,"sell":0.00012400,"changePercentage":-0.13,"colse":0.00012144,"open":0.00012160,"low":0.00012040,"high":0.00012196,"volume":4089598.0,"name":"FEX"},{"symbol":"XVG/BTC","buy":0.00000175,"sell":0.00000182,"changePercentage":1.14,"colse":0.00000178,"open":0.00000176,"low":0.00000174,"high":0.00000180,"volume":11394409.0,"name":"FEX"},{"symbol":"XVG/USDT","buy":0.00696709,"sell":0.00720389,"changePercentage":-1.29,"colse":0.00707129,"open":0.00716392,"low":0.00690441,"high":0.00717036,"volume":7548476.0,"name":"FEX"},{"symbol":"SC/BTC","buy":0.00000069,"sell":0.00000073,"changePercentage":2.99,"colse":0.00000069,"open":0.00000067,"low":0[...]
