---
http_interactions:
- request:
    method: get
    uri: https://api.whaleex.com/BUSINESS/api/public/v1/allTickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"date":"1560742611770","ticker":[{"symbol":"IQ_EOS","buy":"0.00065100","high":"0.00067900","last":"0.00067900","low":"0.00063000","sell":"0.00067500","change":"0.0288","vol":"9948502.963"},{"symbol":"CAN_EOS","buy":"0.841000","high":"0.870500","last":"0.870500","low":"0.870500","sell":"0.870500","change":"0.0000","vol":"183.9077"},{"symbol":"MEETONE_EOS","buy":"0.000480300","high":"0.000559799","last":"0.000483000","low":"0.000441201","sell":"0.000505000","change":"-0.0338","vol":"8337082.9170"},{"symbol":"DICE_EOS","buy":"0.00020500","high":"0.00024500","last":"0.00020500","low":"0.00020500","sell":"0.00023800","change":"-0.1633","vol":"6492537.2110"},{"symbol":"TP[...]
