---
http_interactions:
- request:
    method: get
    uri: https://cfinex.com/api/tickerapi
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "\r\n{\"AGLC_BTC\":{\"last\":\"0.00000006\",\"lowestAsk\":\"0.00000006\",\"highestBid\":\"0.00000005\",\"percentChange\":\"-9.09\",\"baseVolume\":\"0.00001390\",\"quoteVolume\":\"231.66666667\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000006\",\"low24hr\":\"0.00000006\"},\"ALPS_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000165\",\"highestBid\":\"0.00000073\",\"percentChange\":\"-38.66\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"BCH_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.17500000\",\"highestBid\":\"0.14100000\",\"percentChange\":\"-4.43\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"BCN_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000087\",\"highestBid\":\"0.00000080\",\"percentChange\":\"4.19\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"BKS_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00095000\",\"highestBid\":\"0.00000001\",\"percentChange\":\"100.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"BTC_USD\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"1\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"BTG_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00800000\",\"highestBid\":\"0.00566000\",\"percentChange\":\"16.40\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"BTRHA_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00200000\",\"highestBid\":\"0.00000002\",\"percentChange\":\"100.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"CASH_BTC\":{\"last\":\"0.00000135\",\"lowestAsk\":\"0.00000134\",\"highestBid\":\"0.00000095\",\"percentChange\":\"3.93\",\"baseVolume\":\"0.02796575\",\"quoteVolume\":\"26409.66353139\",\"isFrozen\":\"1\",\"high24hr\":\"0.00000135\",\"low24hr\":\"0.00000094\"},\"CBC_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00001000\",\"highestBid\":\"0.00000046\",\"percentChange\":\"-186.81\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"CFINEX_BTC\":{\"last\":\"0.00058000\",\"lowestAsk\":\"0.00058000\",\"highestBid\":\"0.00057500\",\"percentChange\":\"-0.43\",\"baseVolume\":\"0.00058000\",\"quoteVolume\":\"1.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00058000\",\"low24hr\":\"0.00058000\"},\"CJ_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000052\",\"highestBid\":\"0.00000006\",\"percentChange\":\"-255.17\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"CRS_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000500\",\"highestBid\":\"0.00000004\",\"percentChange\":\"-98.41\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"CSC_BTC\":{\"last\":\"0.00000007\",\"lowestAsk\":\"0.00000008\",\"highestBid\":\"0.00000007\",\"percentChange\":\"-6.67\",\"baseVolume\":\"0.91252363\",\"quoteVolume\":\"11394129.72477191\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000009\",\"low24hr\":\"0.00000007\"},\"DASH_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.08000000\",\"highestBid\":\"0.01000000\",\"percentChange\":\"-77.78\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"DGB_BTC\":{\"last\":\"0.00000150\",\"lowestAsk\":\"0.00000800\",\"highestBid\":\"0.00000150\",\"percentChange\":\"68.42\",\"baseVolume\":\"0.00046715\",\"quoteVolume\":\"311.43209820\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000150\",\"low24hr\":\"0.00000150\"},\"DOGE_BTC\":{\"last\":\"0.00000051\",\"lowestAsk\":\"0.00000051\",\"highestBid\":\"0.00000049\",\"percentChange\":\"6.00\",\"baseVolume\":\"0.00048568\",\"quoteVolume\":\"956.59118840\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000051\",\"low24hr\":\"0.00000047\"},\"EAC_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000069\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"EDR_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000177\",\"highestBid\":\"0.00000020\",\"percentChange\":\"-79.70\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"ETH_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.08100000\",\"highestBid\":\"0.05000000\",\"percentChange\":\"69.47\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"GMTY_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"HEAT_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00002853\",\"highestBid\":\"0.00002220\",\"percentChange\":\"26.91\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"INTL_BTC\":{\"last\":\"0.00012125\",\"lowestAsk\":\"0.00012125\",\"highestBid\":\"0.00012122\",\"percentChange\":\"100.00\",\"baseVolume\":\"1.93884961\",\"quoteVolume\":\"16107.55951740\",\"isFrozen\":\"0\",\"high24hr\":\"0.00012125\",\"low24hr\":\"0.00011900\"},\"LTC_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.01800000\",\"highestBid\":\"0.01360000\",\"percentChange\":\"24.05\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"MORPH_BTC\":{\"last\":\"0.00008600\",\"lowestAsk\":\"0.00017000\",\"highestBid\":\"0.00008500\",\"percentChange\":\"32.55\",\"baseVolume\":\"0.01238400\",\"quoteVolume\":\"144.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00008600\",\"low24hr\":\"0.00008600\"},\"MRC_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000001\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"MRC_LTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"NAV_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00016600\",\"highestBid\":\"0.00011012\",\"percentChange\":\"1.49\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"NBT_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00014498\",\"highestBid\":\"0.00002701\",\"percentChange\":\"-45.36\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"NCP_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000001\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"NEWS_BTC\":{\"last\":\"0.00000100\",\"lowestAsk\":\"0.00000150\",\"highestBid\":\"0.00000101\",\"percentChange\":\"20.32\",\"baseVolume\":\"0.00000067\",\"quoteVolume\":\"0.66666667\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000100\",\"low24hr\":\"0.00000100\"},\"NSR_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000003\",\"highestBid\":\"0.00000002\",\"percentChange\":\"20.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"OMG_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.89999000\",\"highestBid\":\"0.00127900\",\"percentChange\":\"99.72\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"P0001_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00100000\",\"highestBid\":\"0.00000002\",\"percentChange\":\"100.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"RDD_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000149\",\"highestBid\":\"0.00000046\",\"percentChange\":\"-53.85\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"REP_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000110\",\"percentChange\":\"0.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"RIPO_BTC\":{\"last\":\"0.00000002\",\"lowestAsk\":\"0.00000004\",\"highestBid\":\"0.00000002\",\"percentChange\":\"33.33\",\"baseVolume\":\"0.00092804\",\"quoteVolume\":\"46402.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000002\",\"low24hr\":\"0.00000002\"},\"SOS_BTC\":{\"last\":\"0.00000300\",\"lowestAsk\":\"0.00000300\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.00\",\"baseVolume\":\"0.00045000\",\"quoteVolume\":\"150.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000300\",\"low24hr\":\"0.00000300\"},\"SYS_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.01600000\",\"highestBid\":\"0.00003950\",\"percentChange\":\"99.51\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"TLP_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000004\",\"highestBid\":\"0.00000001\",\"percentChange\":\"-60.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"XSR_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00010000\",\"highestBid\":\"0.00000005\",\"percentChange\":\"-99.90\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"XXX_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00001000\",\"highestBid\":\"0.00000500\",\"percentChange\":\"33.33\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"YOC_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00003000\",\"highestBid\":\"0.00000002\",\"percentChange\":\"100.00\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"},\"ZEIT_BTC\":{\"last\":\"0.00000000\",\"lowestAsk\":\"0.00000002\",\"highestBid\":\"0.00000001\",\"percentChange\":\"33.33\",\"baseVolume\":\"0.00000000\",\"quoteVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\"}}"
  recorded_at: Wed, 06 Jun 2018 08:30:10 GMT
recorded_with: VCR 4.0.0
