---
http_interactions:
- request:
    method: get
    uri: https://cfinex.com/api/data?Pair=LTC_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "\r\n{\"CoinInfo\":{\"Currency\":\"LTC\",\"CurrencyName\":\"Litecoin\",\"Homepage\":\"https://litecoin.org/\",\"Bitcointalk\":\"\",\"CoinType\":\"coin\",\"MarketFee\":\"0.25000000\",\"GlobalFeeFee\":\"0.00000000\",\"MinOrder\":\"0.10000000\",\"MT\":\"1\",\"Info\":\"\"},\"Bids\":[{\"Type\":\"Buy\",\"Amount\":\"0.89976627\",\"BaseAmount\":\"0.01223682\",\"Price\":\"0.01360000\"},{\"Type\":\"Buy\",\"Amount\":\"0.86595856\",\"BaseAmount\":\"0.01169044\",\"Price\":\"0.01350000\"},{\"Type\":\"Buy\",\"Amount\":\"9.01131990\",\"BaseAmount\":\"0.11264150\",\"Price\":\"0.01250000\"},{\"Type\":\"Buy\",\"Amount\":\"0.31534120\",\"BaseAmount\":\"0.00378409\",\"Price\":\"0.01200000\"},{\"Type\":\"Buy\",\"Amount\":\"0.10000000\",\"BaseAmount\":\"0.00100000\",\"Price\":\"0.01000000\"},{\"Type\":\"Buy\",\"Amount\":\"5.18838612\",\"BaseAmount\":\"0.00446206\",\"Price\":\"0.00086001\"},{\"Type\":\"Buy\",\"Amount\":\"4.00000000\",\"BaseAmount\":\"0.00344000\",\"Price\":\"0.00086000\"},{\"Type\":\"Buy\",\"Amount\":\"8.00000000\",\"BaseAmount\":\"0.00384000\",\"Price\":\"0.00048000\"},{\"Type\":\"Buy\",\"Amount\":\"22.00000000\",\"BaseAmount\":\"0.00176000\",\"Price\":\"0.00008000\"},{\"Type\":\"Buy\",\"Amount\":\"29.00000000\",\"BaseAmount\":\"0.00078010\",\"Price\":\"0.00002690\"},{\"Type\":\"Buy\",\"Amount\":\"0.00897750\",\"BaseAmount\":\"0.00000009\",\"Price\":\"0.00001000\"},{\"Type\":\"Buy\",\"Amount\":\"10000.00000000\",\"BaseAmount\":\"0.00010000\",\"Price\":\"0.00000001\"}],\"Asks\":[{\"Type\":\"Sell\",\"Amount\":\"1.80427335\",\"BaseAmount\":\"0.03247692\",\"Price\":\"0.01800000\"},{\"Type\":\"Sell\",\"Amount\":\"0.69214432\",\"BaseAmount\":\"0.01364909\",\"Price\":\"0.01972000\"},{\"Type\":\"Sell\",\"Amount\":\"1.46206680\",\"BaseAmount\":\"0.03655167\",\"Price\":\"0.02500000\"},{\"Type\":\"Sell\",\"Amount\":\"0.01750000\",\"BaseAmount\":\"0.00053900\",\"Price\":\"0.03080000\"}],\"Bid\":{\"Price\":\"0.01360000\"},\"Ask\":{\"Price\":\"0.01800000\"},\"History\":[{\"Type\":\"Sell\",\"OrderTime\":\"2018-05-26
        23:43:43\",\"UnixTime\":\"1527378223\",\"Amount\":\"0.38465880\",\"BaseAmount\":\"0.00461591\",\"Price\":\"0.01200000\"},{\"Type\":\"Sell\",\"OrderTime\":\"2018-05-26
        23:41:39\",\"UnixTime\":\"1527378099\",\"Amount\":\"0.01587067\",\"BaseAmount\":\"0.00019130\",\"Price\":\"0.01205371\"},{\"Type\":\"Sell\",\"OrderTime\":\"2018-05-26
        23:40:03\",\"UnixTime\":\"1527378003\",\"Amount\":\"0.27180648\",\"BaseAmount\":\"0.00331604\",\"Price\":\"0.01220000\"},{\"Type\":\"Buy\",\"OrderTime\":\"2018-05-20
        [...]
