---
http_interactions:
- request:
    method: get
    uri: https://api.bitexbook.com/api/v2/symbols/statistic?last_day=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"from":"2018-10-24T02:59:36.262138904Z","to":"2018-10-25T02:59:36.262139279Z","server_time":"2018-10-25T02:59:36.262139481Z"},"symbols":[{"symbol":"btcusd","alias":"BTC/USD","currency_base":"btc","currency_base_name":"Bitcoin","currency_quoted":"usd","currency_quoted_name":"US
        Dollar","statistic":[{"period":"last_24_hours","price_open":6956.7078,"price_close":7306.1931,"price_low":6710.6366,"price_high":7494.6588,"price_bid":7000,"price_ask":7499.999,"volume_quoted":742.6878560680309,"volume_base":0.10464004000000005,"orders_buy":46,"orders_sell":34}]},{"symbol":"btcrub","alias":"BTC/RUB","currency_base":"btc","currency_base_name":"Bitcoin","currency_quoted":"rub","currency_quoted_name":"Russian
        Ruble","statistic":[{"period":"last_24_hours","price_open":410473.1474,"price_close":412765.2465,"price_low":393042.8856,"price_high":431100,"price_bid":393002,"price_ask":429100,"volume_quoted":53178.115718336136,"volume_base":0.12938085000000002,"orders_buy":41,"orders_sell":41}]},{"symbol":"ethusd","alias":"ETH/USD","currency_base":"et[...]
