---
http_interactions:
- request:
    method: get
    uri: https://api.bitexbook.com/api/v2/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"btcusd","alias":"btc/usd","min_amount":0.001,"min_price":1000,"max_price":100000,"min_total":0.0001,"fee":0,"sort":10,"statistic":{"symbol":"btcusd","price_open":6956.7078,"price_close":7306.1931,"price_high":7494.6588,"price_low":6710.6366,"volume":0.10464000000000002,"year":2018,"month":10,"day":25,"hour":2,"minute":47,"unix_timestamp":1540435620,"courses":null}},{"symbol":"btcrub","alias":"btc/rub","min_amount":0.001,"min_price":10000,"max_price":10000000,"min_total":0.0001,"fee":0,"sort":11,"statistic":{"symbol":"btcrub","price_open":410473.1474,"price_close":412765.2465,"price_high":431100,"price_low":393042.8856,"volume":0.12938076999999998,"year":2018,"month":10,"day":25,"hour":2,"minute":47,"unix_timestamp":1540435620,"courses":null}},{"symbol":"ethusd","alias":"eth/usd","min_amount":0.01,"min_price":100,"max_price":10000,"min_total":0.0001,[...]
