---
http_interactions:
- request:
    method: get
    uri: https://sapotaexchange.com/api/v2/order_book?market=ltcbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Meta-Request-Version:
      - 0.2.8
      Etag:
      - '"0a2ab703f78d338ab257bf587afb0f14"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":505665,"side":"sell","ord_type":"limit","price":"0.008721","avg_price":"0.00881825","state":"wait","market":"ltcbtc","created_at":"2018-10-06T14:59:58Z","volume":"2.59191","remaining_volume":"0.24905","executed_volume":"2.34286","trades_count":2},{"id":513995,"side":"sell","ord_type":"limit","price":"0.008732","avg_price":"0.00881376","state":"wait","market":"ltcbtc","created_at":"2018-10-06T17:15:17Z","volume":"2.04169","remaining_volume":"0.79668","executed_volume":"1.24501","trades_count":2},{"id":513257,"side":"sell","ord_type":"limit","price":"0.008738","avg_price":"0.00881433","state":"wait","market":"ltcbtc","created_at":"2018-10-06T17:03:17Z","volume":"1.69512","remaining_volume":"0.3462","executed_volume":"1.34892","trades_co[...]
