---
http_interactions:
- request:
    method: get
    uri: https://sapotaexchange.com/api/1/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"first":"0.00192350","low":"0.0019235","high":"0.0019256","last":"0.00192480","volume":"17326.79485","base":"SAP","counter":"BTC"},{"first":"0.19720000","low":"0.1972","high":"0.212361","last":"0.21236100","volume":"17922.987","base":"SAP","counter":"LTC"},{"first":"0.00926245","low":"0.00920754","high":"0.00955491","last":"0.00955491","volume":"28934.8589","base":"LTC","counter":"BTC"}]'
  recorded_at: Sun, 12 Aug 2018 17:49:02 GMT
recorded_with: VCR 4.0.0
