---
http_interactions:
- request:
    method: get
    uri: https://sapotaexchange.com/api/1/recent_trades/LTC/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"amount":"1260.33690000","fee":"0","created":1534068368906,"price":"0.00955491","base":"LTC","counter":"BTC","typ":"bid"},{"amount":"1326.52200000","fee":"0","created":1534068191222,"price":"0.00955490","base":"LTC","counter":"BTC","typ":"bid"},{"amount":"1021.00000000","fee":"0","created":1534068105237,"price":"0.00955489","base":"LTC","counter":"BTC","typ":"bid"},{"amount":"970.00000000","fee":"0","created":1534060176653,"price":"0.00955489","base":"LTC","counter":"BTC","typ":"bid"},{"amount":"280.00000000","fee":"0","created":1534060148004,"price":"0.00955489","base":"LTC","counter":"BTC","typ":"ask"},{"a[...]
