---
http_interactions:
- request:
    method: post
    uri: https://www.coinhub.io/en/gateway/public/bestOffer
    body:
      encoding: UTF-8
      string: '{"market":"ETH-USD","count":20}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"missing_authenticators":[],"infos":[],"warnings":[],"errors":[],"results":{"bid":[[476.2,0.7],[475.88,1.13],[474.74,1.55],[474.63,0.81],[474.49,1.44],[473.59,1.38],[472.54,19.05],[472.23,3.3],[472.1,31.99],[472.07,13.56],[471.83,3.92],[471.49,4.54],[470.04,4.92],[468.26,5.42],[467.37,4.51],[466.48,4.13],[465.59,4.12],[463.83,5.45],[461.19,5.97],[460.31,3.88]],"ask":[[478.79,2.36],[478.84,3.38],[479.1,5.23],[479.17,3.28],[479.28,1.51],[479.52,0.22],[479.75,3.34],[480.01,6.02],[480.08,1.53],[480.19,1.53],[480.69,8.83],[481.1,1.47],[484.21,9.52],[486.36,19.32],[486.38,11.2],[486.67,9.23],[900,0.2],[1000,0.2]],"lastQuote":476.2,"rate24h":469.29,"current_rates":[]}}'
  recorded_at: Thu, 26 Jul 2018 18:20:07 GMT
recorded_with: VCR 4.0.0
