---
http_interactions:
- request:
    method: get
    uri: https://api.compound.finance/api/v2/ctoken?block_timestamp=1580688000&meta=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cToken":[{"borrow_rate":{"value":"0.021770202619532554850103697"},"cash":{"value":"1407696.611871832938820598"},"collateral_factor":{"value":"0.40000000000000000"},"exchange_rate":{"value":"0.020035845964244418"},"interest_rate_model_address":"0xbae04cbf96391086dc643e842b517734e214d698","name":"Compound
        Augur","number_of_borrowers":118,"number_of_suppliers":1289,"reserves":{"value":"12.60837579965052172220000000"},"supply_rate":{"value":"0.000099330301857060346806888"},"symbol":"cREP","token_address":"0x158079ee67fce2f58472a96584a73c7ab9ac95c1","total_borrows":{"value":"7250.430238087814344692"},"total_supply":{"value":"70620149.31933424"},"underlying_address":"0x1985365e9f78359a9b6ad760e32412f4a445e862","underlying_name":"Augur","underlying_price":{"value":"0.07233695000000000"},"underlying_symbol":"REP"},{"borrow_rate":{"value":"0.084829332671901822475272083"},"cash":{"value":"10647806.708797"},"collateral_factor":{"value":"0.75000000000000000"},"exchange_rate":{"value":"0.020923539546159679"},"interest_rate_model_address":"0x0c3f8df27e1a00b47653fde878d68d35f00714c0","name":"Compound
        USD Coin","number_of_borrowers":382,"number_of_suppliers":4288,"reserves":{"value":"98053.99160055000000000000000"},"supply_rate":{"value":"0.048845452897117722978681051"},"symbol":"cUSDC","token_addr[...]
