---
http_interactions:
- request:
    method: get
    uri: https://api.compound.finance/api/v2/ctoken?meta=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cToken":[{"borrow_rate":{"value":"0.023151414073142777670690379"},"cash":{"value":"994820.475645105955637038"},"collateral_factor":{"value":"0.40000000000000000"},"exchange_rate":{"value":"0.020036000349623931"},"interest_rate_model_address":"0xbae04cbf96391086dc643e842b517734e214d698","name":"Compound
        Augur","number_of_borrowers":130,"number_of_suppliers":1308,"reserves":{"value":"13.69579700128401850830000000"},"supply_rate":{"value":"0.000198339682411236356328792"},"symbol":"cREP","token_address":"0x158079ee67fce2f58472a96584a73c7ab9ac95c1","total_borrows":{"value":"9670.581838349253794744"},"total_supply":{"value":"50133626.67990309"},"underlying_address":"0x1985365e9f78359a9b6ad760e32412f4a445e862","underlying_name":"Augur","underlying_price":{"value":"0.050266235000000000"},"underlying_symbol":"REP"},{"borrow_rate":{"value":"0.078598559238493546708559057"},"cash":{"value":"15396960.001166"},"collateral_factor":{"value":"0.75000000000000000"},"exchange_rate":{"value":"0.020983693494655912"},"interest_rate_model_address":"0x0c3f8df27e1a00b47653fde878d68d35f00714c0","name":"Compound
        USD Coin","number_of_borrowers":458,"number_of_suppliers":3934,"reserves":{"value":"102642.8419741000000000000000"},"supply_rate":{"value":"0.040952477145917216012279394"},"symbol":"cUSDC","token_addr[...]
