---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument?count=500&reverse=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1569212170'
      Etag:
      - W/"c5807-b/ZM74gI3ilDWfLmkYvakFavFe0"
    body:
      encoding: UTF-8
      string: '[{"symbol":"TRXZ19","rootSymbol":"TRX","state":"Open","typ":"FFCCSX","listing":"2019-09-13T08:00:00.000Z","front":"2019-11-29T12:00:00.000Z","expiry":"2019-12-27T12:00:00.000Z","settle":"2019-12-27T12:00:00.000Z","relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"TRX","underlying":"TRX","quoteCurrency":"XBT","underlyingSymbol":"TRXXBT=","reference":"BMEX","referenceSymbol":".BTRXXBT30M","calcInterval":null,"publishInterval":null,"publishTime":null,"maxOrderQty":100000000,"maxPrice":1,"lotSize":1,"tickSize":1e-8,"multiplier":100000000,"settlCurrency":"XBt","underlyingToPositionMultiplier":1,"underlyingToSettleMultiplier":null,"quoteToSettleMultiplier":100000000,"isQuanto":false,"isInverse":false,"initMargin":0.05,"maintMargin":0.025,"riskLimit":5000000000,"riskStep":5000000000,"limit":null,"capped":false,"taxed":true,"deleverage":true,"makerFee":-0.0005,"takerFee":0.0025,"settlementFee":0,"insuranceFee":0,"fundingBaseSymbol":"","fundingQuoteSymbol":"","fundingPremiumSymbol":"","fundingTimestamp":null,"fundingInterval":null,"fundingRate":null,"indicativeFundingRate":null,"rebalanceTimestamp":null,"rebalanceInterval":null,"openingTimestamp":"2019-09-23T04:00:00.000Z","closingTimestamp":"2019-09-23T05:00:00.000Z","sessionInterval":"2000-01-01T01:00:00.000Z","prevClosePrice":0.00000176,"limitDownPrice":null,"limitUpPrice":null,"bankruptLimitDownPrice":null,"bankruptLimitUpPrice":null,"prevTotalVolume":876696857,"totalVolume":876843144,"volume":146287,"volume24h":105992365,"prevTotalTurnover":145481242319,"totalTurnover":145505525961,"turnover":24283642,"turnover24h":17958937956,"homeNotional24h":105992365,"foreignNotional24h":179.58937956000003,"prevPrice24h":0.00000177,"vwap":0.0000017,"highPrice":0.00000179,"lowPrice":0.00000161,"lastPrice":0.00000166,"lastPriceProtected":0.00000166,"lastTickDirection":"ZeroPlusTick","lastChangePcnt":-0.0621,"bidPrice":0.00000165,"midPrice":0.000001655,"askPrice":0.00000166,"impactBidPrice":0.00000165,"impactMidPrice":0.000001655,"impactAskPrice":0.00000166,"hasLiquidity":true,"openInterest":228555028,"openValue":37483024592,"fairMethod":"ImpactMidPrice","fairBasisRate":-0.06,"fairBasis":-3e-8,"fairPrice":0.00000164,"markMethod":"FairPrice","markPrice":0.00000164,"indicativeTaxRate":null,"indicativeSettlePrice":0.00000167,"optionUnderlyingPrice":null,"settledPrice":null,"timestamp":"2019-09-23T04:16:05.000Z"},{"symbol":"EOSZ19","rootSymbol":"EOS","state":"Open","typ":"FFCCSX","listing":"2019-09-13T08:00:00.000Z","front":"2019-11-29T12:00:00.000Z","expiry":"2019-12-27T12:00:00.000Z","settle":"2019-12-27T12:00:00.000Z","relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"EOS","underlying":"EOS","quoteCurrency":"XBT","underlyingSymbol":"EOSXBT=","ref[...]
