---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/trade?reverse=true&symbol=XBTUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1569403165'
      Etag:
      - W/"6152-pgFmLFC6jwtFlcgePQaiw3YE6AI"
    body:
      encoding: UTF-8
      string: '[{"timestamp":"2019-09-25T09:19:23.476Z","symbol":"XBTUSD","side":"Sell","size":200,"price":8353,"tickDirection":"ZeroMinusTick","trdMatchID":"cbd6e834-2add-567a-1ed4-1eab1eba5054","grossValue":2394400,"homeNotional":0.023944,"foreignNotional":200},{"timestamp":"2019-09-25T09:19:22.185Z","symbol":"XBTUSD","side":"Sell","size":2,"price":8353,"tickDirection":"ZeroMinusTick","trdMatchID":"c80869c6-0389-279f-59a5-eba671272a00","grossValue":23944,"homeNotional":0.00023944,"foreignNotional":2},{"timestamp":"2019-09-25T09:19:21.863Z","symbol":"XBTUSD","side":"Sell","size":60,"price":8353,"tickDirection":"ZeroMinusTick","trdMatchID":"a98b18c0-5cff-3972-1b1b-bd559320f4ba","grossValue":718320,"homeNotional":0.0071832,"foreignNotional":60},{"tim[...]
