---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument/active?count=500&reverse=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1569773126'
      Etag:
      - W/"7d16-v39WD3THGZR+13euYyBm38/AUeY"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XRPZ19","rootSymbol":"XRP","state":"Open","typ":"FFCCSX","listing":"2019-09-13T08:00:00.000Z","front":"2019-11-29T12:00:00.000Z","expiry":"2019-12-27T12:00:00.000Z","settle":"2019-12-27T12:00:00.000Z","relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"XRP","underlying":"XRP","quoteCurrency":"XBT","underlyingSymbol":"XRPXBT=","reference":"BMEX","referenceSymbol":".BXRPXBT30M","calcInterval":null,"publishInterval":null,"publishTime":null,"maxOrderQty":100000000,"maxPrice":1,"lotSize":1,"tickSize":1e-8,"multiplier":100000000,"settlCurrency":"XBt","underlyingToPositionMultiplier":1,"underlyingToSettleMultiplier":null,"quoteToSettleMultiplier":100000000,"isQuanto":false,"isInverse":false,"initMargin":0.05,"maintMargin":0.025,"riskLimit":5000000000,"riskStep":5000000000,"limit":null,"capped":false,"taxed":true,"deleverage":true,"makerFee":-0.0005,"takerFee":0.0025,"settlementFee":0,"insuranceFee":0,"fundingBaseSymbol":"","fundingQuoteSymbol":"","fundingPremiumSymbol":"","fundingTimestamp":null,"fundingInterval":null,"fundingRate":null,"indicativeFundingRate":null,"rebalanceTimestamp":null,"rebalanceInterval":null,"openingTimestamp":"2019-09-29T16:00:00.000Z","closingTimestamp":"2019-09-29T17:00:00.000Z","sessionInterval":"2000-01-01T01:00:00.000Z","prevClosePrice":0.00002949,"limitDownPrice":null,"limitUpPrice":null,"bankruptLimitDownPrice":null,"bankruptLimitUpPrice":null,"prevTotalVolume":448952846,"totalVolume":449096356,"volume":143510,"volume24h":19715899,"prevTotalTurnover":1287906275403,"totalTurnover":1288334321207,"turnover":428045804,"turnover24h":58463392574,"homeNotional24h":19715899,"foreignNotional24h":584.6339257400001,"prevPrice24h":0.00002984,"vwap":0.00002966,"highPrice":0.00002997,"lowPrice":0.00002944,"lastPrice":0.00002982,"lastPriceProtected":0.00002982,"lastTickDirection":"PlusTick","lastChangePcnt":-0.0007,"bidPrice":0.00002981,"midPrice":0.000029815,"askPrice":0.00002982,"impactBidPrice":0.00002981,"impactMidPrice":0.000029815,"impactAskPrice":0.00002982,"hasLiquidity":true,"openInterest":68129638,"openValue":202890061964,"fairMethod":"ImpactMidPrice","fairBasisRate":0.01,"fairBasis":7e-8,"fairPrice":0.00002978,"markMethod":"FairPrice","markPrice":0.00002978,"indicativeTaxRate":null,"indicativeSettlePrice":0.00002971,"optionUnderlyingPrice":null,"settledPrice":null,"timestamp":"2019-09-29T16:05:20.000Z"},{"symbol":"BCHZ19","rootSymbol":"BCH","state":"Open","typ":"FFCCSX","listing":"2019-09-13T08:00:00.000Z","front":"2019-11-29T12:00:00.000Z","expiry":"2019-12-27T12:00:00.000Z","settle":"2019-12-27T12:00:00.000Z","relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"BCH","underlying":"BCH","quoteCurrency":"XBT","underlyingSymbol":"BCHXBT=","ref[...]
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument/activeIntervals
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1569773127'
      Etag:
      - W/"14a-/tj81+eKrZNYuF8SKdhz2/ciz2A"
    body:
      encoding: UTF-8
      string: '{"intervals":["XBT:weekly","XBT:quarterly","XBT:biquarterly","XBT:perpetual","ETH:quarterly","ETH:perpetual","LTC:quarterly","XRP:quarterly","BCH:quarterly","ADA:quarterly","EOS:quarterly","TRX:quarterly"],"symbols":["XBT7D_U105","XBTZ19","XBTH20","XBTUSD","ETHZ19","ETHUSD","LTCZ19","XRPZ19","BCHZ19","ADAZ19","EOSZ19","TRXZ19"]}'
  recorded_at: Sun, 29 Sep 2019 16:05:24 GMT
recorded_with: VCR 4.0.0
