---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/trade?reverse=true&symbol=XBTUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1569399073'
      Etag:
      - W/"60cd-D92nCkJGzSgZAC+5NTPa0JUmYWE"
    body:
      encoding: UTF-8
      string: '[{"timestamp":"2019-09-25T08:11:12.883Z","symbol":"XBTUSD","side":"Sell","size":50,"price":8372.5,"tickDirection":"ZeroMinusTick","trdMatchID":"21349e58-9079-8e64-516b-3b50b3d0ec50","grossValue":597200,"homeNotional":0.005972,"foreignNotional":50},{"timestamp":"2019-09-25T08:11:12.858Z","symbol":"XBTUSD","side":"Sell","size":2000,"price":8372.5,"tickDirection":"ZeroMinusTick","trdMatchID":"15899353-67c1-9401-d6bf-d914feabe59d","grossValue":23888000,"homeNotional":0.23888,"foreignNotional":2000},{"timestamp":"2019-09-25T08:11:12.587Z","symbol":"XBTUSD","side":"Sell","size":63,"price":8372.5,"tickDirection":"MinusTick","trdMatchID":"6578b78b-bf73-af88-c186-97ce1a0209f9","grossValue":752472,"homeNotional":0.00752472,"foreignNotional":63}[...]
