---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/trade?reverse=true&symbol=XBT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      X-Ratelimit-Reset:
      - '1521255770'
      Etag:
      - W/"611f-gdS6H/CP5kjv3aCer9sick9MqWc"
    body:
      encoding: UTF-8
      string: '[{"timestamp":"2018-03-17T03:02:49.362Z","symbol":"XBTUSD","side":"Buy","size":1080,"price":8193,"tickDirection":"PlusTick","trdMatchID":"18c1d77a-03f5-86b7-f897-41ebcb902f75","grossValue":13182480,"homeNotional":0.1318248,"foreignNotional":1080},{"timestamp":"2018-03-17T03:02:49.362Z","symbol":"XBTUSD","side":"Buy","size":420,"price":8192.5,"tickDirection":"PlusTick","trdMatchID":"9423b580-83d5-b3f5-b594-05bf3431a6b3","grossValue":5126520,"homeNotional":0.0512652,"foreignNotional":420},{"timestamp":"2018-03-17T03:02:49.102Z","symbol":"XBTUSD","side":"Sell","size":500,"price":8192,"tickDirection":"MinusTick","trdMatchID":"3e811aab-6578-bce6-0f61-a0c3c18fc8be","grossValue":6103500,"homeNotional":0.061035,"foreignNotional":500},{"tim[...]
