---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/orderBook/L2?depth=0&symbol=XBTUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1569212172'
      Etag:
      - W/"dfa9a-cFs4+7OBhQncXHZxuxDs16HvNdM"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XBTUSD","id":8700000000,"side":"Sell","size":2,"price":1000000},{"symbol":"XBTUSD","id":8700000200,"side":"Sell","size":6,"price":999998},{"symbol":"XBTUSD","id":8704153600,"side":"Sell","size":43,"price":958464},{"symbol":"XBTUSD","id":8733333400,"side":"Sell","size":3,"price":666666},{"symbol":"XBTUSD","id":8755000000,"side":"Sell","size":9400,"price":450000},{"symbol":"XBTUSD","id":8764855000,"side":"Sell","size":200,"price":351450},{"symbol":"XBTUSD","id":8770000000,"side":"Sell","size":40,"price":300000},{"symbol":"XBTUSD","id":8775100000,"side[...]
