---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/orderBook/L2?depth=0&symbol=XBT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1563249226'
      Etag:
      - W/"f0771-j+1g9U2fPBJpi7pjSyTkww8CqQU"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XBTUSD","id":8700000100,"side":"Sell","size":245,"price":999999},{"symbol":"XBTUSD","id":8700000200,"side":"Sell","size":6,"price":999998},{"symbol":"XBTUSD","id":8710000000,"side":"Sell","size":400,"price":900000},{"symbol":"XBTUSD","id":8755000000,"side":"Sell","size":9400,"price":450000},{"symbol":"XBTUSD","id":8758000000,"side":"Sell","size":5,"price":420000},{"symbol":"XBTUSD","id":8764855000,"side":"Sell","size":200,"price":351450},{"symbol":"XBTUSD","id":8775100000,"side":"Sell","size":1,"price":249000},{"symbol":"XBTUSD","id":8778000000,"side"[...]
