---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument?count=100&reverse=true&symbol=XBTUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1568095678'
      Etag:
      - W/"9dc-cfM0QqNGNSfoZWeQJiPTme5bHvw"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XBTUSD","rootSymbol":"XBT","state":"Open","typ":"FFWCSX","listing":"2016-05-13T12:00:00.000Z","front":"2016-05-13T12:00:00.000Z","expiry":null,"settle":null,"relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"USD","underlying":"XBT","quoteCurrency":"USD","underlyingSymbol":"XBT=","reference":"BMEX","referenceSymbol":".BXBT","calcInterval":null,"publishInterval":null,"publishTime":null,"maxOrderQty":10000000,"maxPrice":1000000,"lotSize":1,"tickSize":0.5,"multiplier":-100000000,"settlCurrency":"XBt","underlyingToPositionMultiplier":null,"underlyingToSettleMultiplier":-100000000,"quoteToSettleMultiplier":null,"isQuanto":false,"isInverse":true,"initMargin":0.01,"maintMargin":0.005,"riskLimit":20000000000,"riskStep":10000000000,"limit":null,"capped":false,"taxed":true,"deleverage":true,"makerFee":-0.00025,"takerFee":0.00075,"settlementFee":0,"insuranceFee":0,"fundingBaseSymbol":".XBTBON8H","fundingQuoteSymbol":".USDBON8H","fundingPremiumSymbol":".XBTUSDPI8H","fundingTimestamp":"2019-09-10T12:00:00.000Z","fundingInterval":"2000-01-01T08:00:00.000Z","fundingRate":0.0001,"indicativeFundingRate":0.000328,"rebalanceTimestamp":null,"rebalanceInterval":null,"openingTimestamp":"2019-09-10T06:00:00.000Z","closingTimestamp":"2019-09-10T07:00:00.000Z","sessionInterval":"2000-01-01T01:00:00.000Z","prevClosePrice":10428.81,"limitDownPrice":null,"limitUpPrice":null,"bankruptLimitDownPrice":null,"bankruptLimitUpPrice":null,"prevTotalVolume":1665404247066,"totalVolume":1665420679912,"volume":16432846,"volume24h":3481761248,"prevTotalTurnover":23923859666961650,"totalTurnover":23924019624147460,"turnover":159957185814,"turnover24h":33840466268867,"homeNotional24h":338404.6626886696,"foreignNotional24h":3481761248,"prevPrice24h":10307,"vwap":10289.1244,"highPrice":10571,"lowPrice":10090,"lastPrice":10270,"lastPriceProtected":10270,"lastTickDirection":"ZeroMinusTick","lastChangePcnt":-0.0036,"bidPrice":10270,"midPrice":10270.25,"askPrice":10270.5,"impactBidPrice":10269.0491,"impactMidPrice":10269.75,"impactAskPrice":10270.5,"hasLiquidity":true,"openInterest":981405257,"openValue":9556924392666,"fairMethod":"FundingRate","fairBasisRate":0.1095,"fairBasis":0.76,"fairPrice":10269.1,"markMethod":"FairPrice","markPrice":10269.1,"indicativeTaxRate":0,"indicativeSettlePrice":10268.34,"optionUnderlyingPrice":null,"settledPrice":null,"timestamp":"2019-09-10T06:07:55.000Z"}]'
  recorded_at: Tue, 10 Sep 2019 06:07:57 GMT
recorded_with: VCR 4.0.0
