---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument/active
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      X-Ratelimit-Reset:
      - '1521231383'
      Etag:
      - W/"83a7-bxdb/E6yFJ1/PpxRFZCZTRayU2g"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XMRH18","rootSymbol":"XMR","state":"Open","typ":"FFCCSX","listing":"2017-12-15T04:00:00.000Z","front":"2018-02-23T12:00:00.000Z","expiry":"2018-03-30T12:00:00.000Z","settle":"2018-03-30T12:00:00.000Z","relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"XMR","underlying":"XMR","quoteCurrency":"XBT","underlyingSymbol":"XMRXBT=","reference":"BMEX","referenceSymbol":".XMRXBT30M","calcInterval":null,"publishInterval":null,"publishTime":null,"maxOrderQty":10000000,"maxPrice":100,"lotSize":1,"tickSize":0.000001,"multiplier":100000000,"settlCurrency":"XBt","underlyingToPositionMultiplier":1,"underlyingToSettleMultiplier":null,"quoteToSettleMultiplier":100000000,"isQuanto":false,"isInverse":false,"initMargin":0.04,"maintMargin":0.02,"riskLimit":5000000000,"riskStep":5000000000,"limit":null,"capped":false,"taxed":true,"deleverage":true,"makerFee":-0.0005,"takerFee":0.0025,"settlementFee":0.0025,"insuranceFee":0,"fundingBaseSymbol":"","fundingQuoteSymbol":"","fundingPremiumSymbol":"","fundingTimestamp":null,"fundingInterval":null,"fundingRate":null,"indicativeFundingRate":null,"rebalanceTimestamp":null,"rebalanceInterval":null,"openingTimestamp":"2018-03-16T20:00:00.000Z","closingTimestamp":"2018-03-16T22:00:00.000Z","sessionInterval":"2000-01-01T02:00:00.000Z","prevClosePrice":0.0250588,"limitDownPrice":null,"limitUpPrice":null,"bankruptLimitDownPrice":null,"bankruptLimitUpPrice":null,"prevTotalVolume":335683,"totalVolume":335829,"volume":146,"volume24h":3795,"prevTotalTurnover":987440301500,"totalTurnover":987811450300,"turnover":371148800,"turnover24h":9639712000,"prevPrice24h":0.025501,"vwap":0.02540109,"highPrice":0.025978,"lowPrice":0.024879,"lastPrice":0.025556,"lastPriceProtected":0.025556,"lastTickDirection":"MinusTick","lastChangePcnt":0.0022,"bidPrice":0.025556,"midPrice":0.0256005,"askPrice":0.025645,"impactBidPrice":0.02550197,"impactMidPrice":0.025602,"impactAskPrice":0.02570242,"hasLiquidity":true,"openInterest":14813,"openValue":37969718510,"fairMethod":"ImpactMidPrice","fairBasisRate":-0.07,"fairBasis":-0.0000673,"fairPrice":0.0256327,"markMethod":"FairPrice","markPrice":0.0256327,"indicativeTaxRate":0,"indicativeSettlePrice":0.0257,"optionUnderlyingPrice":null,"settledPrice":null,"timestamp":"2018-03-16T20:16:15.000Z"},{"symbol":"DASHH18","rootSymbol":"DASH","state":"Open","typ":"FFCCSX","listing":"2017-12-15T04:00:00.000Z","front":"2018-02-23T12:00:00.000Z","expiry":"2018-03-30T12:00:00.000Z","settle":"2018-03-30T12:00:00.000Z","relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"DASH","underlying":"DASH","quoteCurrency":"XBT","underlyingSymbol":"DASHXBT="[...]
