---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/trade?reverse=true&symbol=XBTUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1569381097'
      Etag:
      - W/"6060-+plPZcGNEJTgbGVBCwmS91sweSw"
    body:
      encoding: UTF-8
      string: '[{"timestamp":"2019-09-25T03:11:35.344Z","symbol":"XBTUSD","side":"Buy","size":20000,"price":8618,"tickDirection":"ZeroPlusTick","trdMatchID":"0527f2bd-dca4-2863-77b7-8e96770c2dd8","grossValue":232080000,"homeNotional":2.3208,"foreignNotional":20000},{"timestamp":"2019-09-25T03:11:34.156Z","symbol":"XBTUSD","side":"Buy","size":1000,"price":8618,"tickDirection":"ZeroPlusTick","trdMatchID":"c08bc0f3-0631-4837-421c-08b617ee7748","grossValue":11604000,"homeNotional":0.11604,"foreignNotional":1000},{"timestamp":"2019-09-25T03:11:33.526Z","symbol":"XBTUSD","side":"Buy","size":1,"price":8618,"tickDirection":"ZeroPlusTick","trdMatchID":"47d5af48-0433-9785-d443-efe343386238","grossValue":11604,"homeNotional":0.00011604,"foreignNotional":1},{"t[...]
