---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument?symbol=XBTUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1569381095'
      Etag:
      - W/"9d0-pCst7cZkoi43Kkle8eZQNiBZkf4"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XBTUSD","rootSymbol":"XBT","state":"Open","typ":"FFWCSX","listing":"2016-05-13T12:00:00.000Z","front":"2016-05-13T12:00:00.000Z","expiry":null,"settle":null,"relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"USD","underlying":"XBT","quoteCurrency":"USD","underlyingSymbol":"XBT=","reference":"BMEX","referenceSymbol":".BXBT","calcInterval":null,"publishInterval":null,"publishTime":null,"maxOrderQty":10000000,"maxPrice":1000000,"lotSize":1,"tickSize":0.5,"multiplier":-100000000,"settlCurrency":"XBt","underlyingToPositionMultiplier":null,"underlyingToSettleMultiplier":-100000000,"quoteToSettleMultiplier":null,"isQuanto":false,"isInverse":true,"initMargin":0.01,"maintMargin":0.005,"riskLimit":20000000000,"riskStep":10000000000,"limit":null,"capped":false,"taxed":true,"deleverage":true,"makerFee":-0.00025,"takerFee":0.00075,"settlementFee":0,"insuranceFee":0,"fundingBaseSymbol":".XBTBON8H","fundingQuoteSymbol":".USDBON8H","fundingPremiumSymbol":".XBTUSDPI8H","fundingTimestamp":"2019-09-25T04:00:00.000Z","fundingInterval":"2000-01-01T08:00:00.000Z","fundingRate":-0.00029,"indicativeFundingRate":-0.000884,"rebalanceTimestamp":null,"rebalanceInterval":null,"openingTimestamp":"2019-09-25T03:00:00.000Z","closingTimestamp":"2019-09-25T04:00:00.000Z","sessionInterval":"2000-01-01T01:00:00.000Z","prevClosePrice":9711.09,"limitDownPrice":null,"limitUpPrice":null,"bankruptLimitDownPrice":null,"bankruptLimitUpPrice":null,"prevTotalVolume":1701218459927,"totalVolume":1701233197575,"volume":14737648,"volume24h":6832537251,"prevTotalTurnover":24287004391261476,"totalTurnover":24287175183213470,"turnover":170791951998,"turnover24h":76716020798874,"homeNotional24h":767160.2079887433,"foreignNotional24h":6832537251,"prevPrice24h":9687,"vwap":8906.3057,"highPrice":9779.5,"lowPrice":8012,"lastPrice":8618,"lastPriceProtected":8618,"lastTickDirection":"ZeroPlusTick","lastChangePcnt":-0.1104,"bidPrice":8617.5,"midPrice":8617.75,"askPrice":8618,"impactBidPrice":8617.5,"impactMidPrice":8617.75,"impactAskPrice":8618,"hasLiquidity":true,"openInterest":779353454,"openValue":9048293600940,"fairMethod":"FundingRate","fairBasisRate":-0.31755,"fairBasis":-0.26,"fairPrice":8613.41,"markMethod":"FairPrice","markPrice":8613.41,"indicativeTaxRate":0,"indicativeSettlePrice":8613.67,"optionUnderlyingPrice":null,"settledPrice":null,"timestamp":"2019-09-25T03:11:32.171Z"}]'
  recorded_at: Wed, 25 Sep 2019 03:11:34 GMT
recorded_with: VCR 4.0.0
