---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument/active?count=500&reverse=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1569403160'
      Etag:
      - W/"cb0b-0hUzN4m8rRON8iMCYO0aJjKdlS0"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XRPU19","rootSymbol":"XRP","state":"Open","typ":"FFCCSX","listing":"2019-06-14T08:00:00.000Z","front":"2019-08-30T12:00:00.000Z","expiry":"2019-09-27T12:00:00.000Z","settle":"2019-09-27T12:00:00.000Z","relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"XRP","underlying":"XRP","quoteCurrency":"XBT","underlyingSymbol":"XRPXBT=","reference":"BMEX","referenceSymbol":".BXRPXBT30M","calcInterval":null,"publishInterval":null,"publishTime":null,"maxOrderQty":100000000,"maxPrice":1,"lotSize":1,"tickSize":1e-8,"multiplier":100000000,"settlCurrency":"XBt","underlyingToPositionMultiplier":1,"underlyingToSettleMultiplier":null,"quoteToSettleMultiplier":100000000,"isQuanto":false,"isInverse":false,"initMargin":0.05,"maintMargin":0.025,"riskLimit":5000000000,"riskStep":5000000000,"limit":null,"capped":false,"taxed":true,"deleverage":true,"makerFee":-0.0005,"takerFee":0.0025,"settlementFee":0,"insuranceFee":0,"fundingBaseSymbol":"","fundingQuoteSymbol":"","fundingPremiumSymbol":"","fundingTimestamp":null,"fundingInterval":null,"fundingRate":null,"indicativeFundingRate":null,"rebalanceTimestamp":null,"rebalanceInterval":null,"openingTimestamp":"2019-09-25T09:00:00.000Z","closingTimestamp":"2019-09-25T10:00:00.000Z","sessionInterval":"2000-01-01T01:00:00.000Z","prevClosePrice":0.00002756,"limitDownPrice":null,"limitUpPrice":null,"bankruptLimitDownPrice":null,"bankruptLimitUpPrice":null,"prevTotalVolume":4321755637,"totalVolume":4322283090,"volume":527453,"volume24h":123720839,"prevTotalTurnover":13326500775310,"totalTurnover":13327992775661,"turnover":1492000351,"turnover24h":337085467189,"homeNotional24h":123720839,"foreignNotional24h":3370.85467189,"prevPrice24h":0.00002762,"vwap":0.00002725,"highPrice":0.00002931,"lowPrice":0.0000248,"lastPrice":0.00002822,"lastPriceProtected":0.00002822,"lastTickDirection":"MinusTick","lastChangePcnt":0.0217,"bidPrice":0.00002822,"midPrice":0.000028225,"askPrice":0.00002823,"impactBidPrice":0.00002822,"impactMidPrice":0.000028225,"impactAskPrice":0.00002823,"hasLiquidity":true,"openInterest":38197668,"openValue":108061202772,"fairMethod":"ImpactMidPrice","fairBasisRate":0.21,"fairBasis":3e-8,"fairPrice":0.00002829,"markMethod":"FairPrice","markPrice":0.00002829,"indicativeTaxRate":0,"indicativeSettlePrice":0.00002826,"optionUnderlyingPrice":null,"settledPrice":null,"timestamp":"2019-09-25T09:19:15.000Z"},{"symbol":"BCHU19","rootSymbol":"BCH","state":"Open","typ":"FFCCSX","listing":"2019-06-14T08:00:00.000Z","front":"2019-08-30T12:00:00.000Z","expiry":"2019-09-27T12:00:00.000Z","settle":"2019-09-27T12:00:00.000Z","relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"BCH","underlying":"BCH","quoteCurrency":"XBT","underlyingSymbol":"BCHXBT=","ref[...]
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument/activeIntervals
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1569403161'
      Etag:
      - W/"1e9-99RmWi++WJRt7d1ZD3XH12yRlew"
    body:
      encoding: UTF-8
      string: '{"intervals":["XBT:weekly","XBT:monthly","XBT:biquarterly","XBT:perpetual","ETH:monthly","ETH:quarterly","ETH:perpetual","LTC:monthly","LTC:quarterly","XRP:monthly","XRP:quarterly","BCH:monthly","BCH:quarterly","ADA:monthly","ADA:quarterly","EOS:monthly","EOS:quarterly","TRX:monthly","TRX:quarterly"],"symbols":["XBT7D_U105","XBTU19","XBTH20","XBTUSD","ETHU19","ETHZ19","ETHUSD","LTCU19","LTCZ19","XRPU19","XRPZ19","BCHU19","BCHZ19","ADAU19","ADAZ19","EOSU19","EOSZ19","TRXU19","TRXZ19"]}'
  recorded_at: Wed, 25 Sep 2019 09:19:19 GMT
recorded_with: VCR 4.0.0
