---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument?count=100&reverse=true&symbol=XBTUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1569212136'
      Etag:
      - W/"9ce-oZP6mZPRm0IfWWtTwsfziRo0qAY"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XBTUSD","rootSymbol":"XBT","state":"Open","typ":"FFWCSX","listing":"2016-05-13T12:00:00.000Z","front":"2016-05-13T12:00:00.000Z","expiry":null,"settle":null,"relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"USD","underlying":"XBT","quoteCurrency":"USD","underlyingSymbol":"XBT=","reference":"BMEX","referenceSymbol":".BXBT","calcInterval":null,"publishInterval":null,"publishTime":null,"maxOrderQty":10000000,"maxPrice":1000000,"lotSize":1,"tickSize":0.5,"multiplier":-100000000,"settlCurrency":"XBt","underlyingToPositionMultiplier":null,"underlyingToSettleMultiplier":-100000000,"quoteToSettleMultiplier":null,"isQuanto":false,"isInverse":true,"initMargin":0.01,"maintMargin":0.005,"riskLimit":20000000000,"riskStep":10000000000,"limit":null,"capped":false,"taxed":true,"deleverage":true,"makerFee":-0.00025,"takerFee":0.00075,"settlementFee":0,"insuranceFee":0,"fundingBaseSymbol":".XBTBON8H","fundingQuoteSymbol":".USDBON8H","fundingPremiumSymbol":".XBTUSDPI8H","fundingTimestamp":"2019-09-23T12:00:00.000Z","fundingInterval":"2000-01-01T08:00:00.000Z","fundingRate":0.0001,"indicativeFundingRate":0.0001,"rebalanceTimestamp":null,"rebalanceInterval":null,"openingTimestamp":"2019-09-23T04:00:00.000Z","closingTimestamp":"2019-09-23T05:00:00.000Z","sessionInterval":"2000-01-01T01:00:00.000Z","prevClosePrice":10000.56,"limitDownPrice":null,"limitUpPrice":null,"bankruptLimitDownPrice":null,"bankruptLimitUpPrice":null,"prevTotalVolume":1691524738039,"totalVolume":1691533633440,"volume":8895401,"volume24h":1562854866,"prevTotalTurnover":24181117165468028,"totalTurnover":24181206399174990,"turnover":89233706966,"turnover24h":15637289663196,"homeNotional24h":156372.89663196,"foreignNotional24h":1562854866,"prevPrice24h":9874.5,"vwap":9995.0025,"highPrice":10100,"lowPrice":9840.5,"lastPrice":9971,"lastPriceProtected":9971,"lastTickDirection":"ZeroPlusTick","lastChangePcnt":0.0098,"bidPrice":9970.5,"midPrice":9970.75,"askPrice":9971,"impactBidPrice":9970.0897,"impactMidPrice":9970.5,"impactAskPrice":9971.0839,"hasLiquidity":true,"openInterest":951024572,"openValue":9541629530876,"fairMethod":"FundingRate","fairBasisRate":0.1095,"fairBasis":0.97,"fairPrice":9967.39,"markMethod":"FairPrice","markPrice":9967.39,"indicativeTaxRate":0,"indicativeSettlePrice":9966.42,"optionUnderlyingPrice":null,"settledPrice":null,"timestamp":"2019-09-23T04:15:33.159Z"}]'
  recorded_at: Mon, 23 Sep 2019 04:15:35 GMT
recorded_with: VCR 4.0.0
