---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument?count=100&reverse=true&symbol=XBT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      X-Ratelimit-Reset:
      - '1521253105'
      Etag:
      - W/"995-PyWbHOmx/ywS07K6J+M7PtUmMFg"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XBTUSD","rootSymbol":"XBT","state":"Open","typ":"FFWCSX","listing":"2016-05-13T12:00:00.000Z","front":"2016-05-13T12:00:00.000Z","expiry":null,"settle":null,"relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"USD","underlying":"XBT","quoteCurrency":"USD","underlyingSymbol":"XBT=","reference":"BMEX","referenceSymbol":".BXBT","calcInterval":null,"publishInterval":null,"publishTime":null,"maxOrderQty":10000000,"maxPrice":1000000,"lotSize":1,"tickSize":0.5,"multiplier":-100000000,"settlCurrency":"XBt","underlyingToPositionMultiplier":null,"underlyingToSettleMultiplier":-100000000,"quoteToSettleMultiplier":null,"isQuanto":false,"isInverse":true,"initMargin":0.01,"maintMargin":0.005,"riskLimit":20000000000,"riskStep":10000000000,"limit":null,"capped":false,"taxed":true,"deleverage":true,"makerFee":-0.00025,"takerFee":0.00075,"settlementFee":0,"insuranceFee":0,"fundingBaseSymbol":".XBTBON8H","fundingQuoteSymbol":".USDBON8H","fundingPremiumSymbol":".XBTUSDPI8H","fundingTimestamp":"2018-03-17T04:00:00.000Z","fundingInterval":"2000-01-01T08:00:00.000Z","fundingRate":-0.000181,"indicativeFundingRate":-0.00006,"rebalanceTimestamp":null,"rebalanceInterval":null,"openingTimestamp":"2018-03-17T02:00:00.000Z","closingTimestamp":"2018-03-17T04:00:00.000Z","sessionInterval":"2000-01-01T02:00:00.000Z","prevClosePrice":8195.59,"limitDownPrice":null,"limitUpPrice":null,"bankruptLimitDownPrice":null,"bankruptLimitUpPrice":null,"prevTotalVolume":296327018866,"totalVolume":296355858500,"volume":28839634,"volume24h":2633068981,"prevTotalTurnover":3966175139668030,"totalTurnover":3966529987051019,"turnover":354847382989,"turnover24h":31676701030338,"prevPrice24h":8021.5,"vwap":8312.552,"highPrice":8643,"lowPrice":7988,"lastPrice":8123.5,"lastPriceProtected":8123.4768,"lastTickDirection":"ZeroPlusTick","lastChangePcnt":0.0127,"bidPrice":8123,"midPrice":8123.25,"askPrice":8123.5,"impactBidPrice":8122.817,"impactMidPrice":8123.25,"impactAskPrice":8123.4768,"hasLiquidity":true,"openInterest":377238356,"openValue":4632487011680,"fairMethod":"FundingRate","fairBasisRate":-0.198195,"fairBasis":-0.31,"fairPrice":8143.28,"markMethod":"FairPrice","markPrice":8143.28,"indicativeTaxRate":0,"indicativeSettlePrice":8143.59,"optionUnderlyingPrice":null,"settledPrice":null,"timestamp":"2018-03-17T02:18:22.146Z"}]'
  recorded_at: Sat, 17 Mar 2018 02:18:24 GMT
recorded_with: VCR 4.0.0
