---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument?symbol=XBTUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1569399071'
      Etag:
      - W/"9dd-sIPjrM1qeytRvUjmSDRrdVb4KvY"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XBTUSD","rootSymbol":"XBT","state":"Open","typ":"FFWCSX","listing":"2016-05-13T12:00:00.000Z","front":"2016-05-13T12:00:00.000Z","expiry":null,"settle":null,"relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"USD","underlying":"XBT","quoteCurrency":"USD","underlyingSymbol":"XBT=","reference":"BMEX","referenceSymbol":".BXBT","calcInterval":null,"publishInterval":null,"publishTime":null,"maxOrderQty":10000000,"maxPrice":1000000,"lotSize":1,"tickSize":0.5,"multiplier":-100000000,"settlCurrency":"XBt","underlyingToPositionMultiplier":null,"underlyingToSettleMultiplier":-100000000,"quoteToSettleMultiplier":null,"isQuanto":false,"isInverse":true,"initMargin":0.01,"maintMargin":0.005,"riskLimit":20000000000,"riskStep":10000000000,"limit":null,"capped":false,"taxed":true,"deleverage":true,"makerFee":-0.00025,"takerFee":0.00075,"settlementFee":0,"insuranceFee":0,"fundingBaseSymbol":".XBTBON8H","fundingQuoteSymbol":".USDBON8H","fundingPremiumSymbol":".XBTUSDPI8H","fundingTimestamp":"2019-09-25T12:00:00.000Z","fundingInterval":"2000-01-01T08:00:00.000Z","fundingRate":-0.000696,"indicativeFundingRate":0.0001,"rebalanceTimestamp":null,"rebalanceInterval":null,"openingTimestamp":"2019-09-25T08:00:00.000Z","closingTimestamp":"2019-09-25T09:00:00.000Z","sessionInterval":"2000-01-01T01:00:00.000Z","prevClosePrice":9711.09,"limitDownPrice":null,"limitUpPrice":null,"bankruptLimitDownPrice":null,"bankruptLimitUpPrice":null,"prevTotalVolume":1701947517684,"totalVolume":1702077188792,"volume":129671108,"volume24h":7422903023,"prevTotalTurnover":24295603017102124,"totalTurnover":24297159888338172,"turnover":1556871236048,"turnover24h":84094765680707,"homeNotional24h":840947.6568070732,"foreignNotional24h":7422903023,"prevPrice24h":9726.5,"vwap":8826.9044,"highPrice":9754,"lowPrice":8012,"lastPrice":8372.5,"lastPriceProtected":8372.5,"lastTickDirection":"ZeroMinusTick","lastChangePcnt":-0.1392,"bidPrice":8372.5,"midPrice":8372.75,"askPrice":8373,"impactBidPrice":8372.4046,"impactMidPrice":8372.75,"impactAskPrice":8373.1056,"hasLiquidity":true,"openInterest":774836302,"openValue":9260843481504,"fairMethod":"FundingRate","fairBasisRate":-0.76212,"fairBasis":-2.78,"fairPrice":8367.05,"markMethod":"FairPrice","markPrice":8367.05,"indicativeTaxRate":0,"indicativeSettlePrice":8369.83,"optionUnderlyingPrice":null,"settledPrice":null,"timestamp":"2019-09-25T08:11:09.083Z"}]'
  recorded_at: Wed, 25 Sep 2019 08:11:10 GMT
recorded_with: VCR 4.0.0
