---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/trade?reverse=true&symbol=XBT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1563249228'
      Etag:
      - W/"610e-c4hxfiRh1aKffZYOGsS+Am8oHII"
    body:
      encoding: UTF-8
      string: '[{"timestamp":"2019-07-16T03:53:45.039Z","symbol":"XBTUSD","side":"Buy","size":5,"price":10705.5,"tickDirection":"PlusTick","trdMatchID":"37351635-1dc8-0d71-ad85-47cc064be4f8","grossValue":46705,"homeNotional":0.00046705,"foreignNotional":5},{"timestamp":"2019-07-16T03:53:44.290Z","symbol":"XBTUSD","side":"Sell","size":4589,"price":10705,"tickDirection":"ZeroMinusTick","trdMatchID":"10a5cc65-3910-84a8-26d5-909754041f89","grossValue":42865849,"homeNotional":0.42865849,"foreignNotional":4589},{"timestamp":"2019-07-16T03:53:44.290Z","symbol":"XBTUSD","side":"Sell","size":15411,"price":10705,"tickDirection":"MinusTick","trdMatchID":"cb14c5f3-cd3e-150f-c6b3-20891f63a246","grossValue":143954151,"homeNotional":1.43954151,"foreignNotiona[...]
