---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/orderBook/L2?depth=0&symbol=XBT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      X-Ratelimit-Reset:
      - '1521253834'
      Etag:
      - W/"5fbcb-WVZkhVC/0qW0FgSWD5Bq1XmiEyw"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XBTUSD","id":8775000000,"side":"Sell","size":1,"price":250000},{"symbol":"XBTUSD","id":8785875000,"side":"Sell","size":6800,"price":141250},{"symbol":"XBTUSD","id":8790000000,"side":"Sell","size":2020,"price":100000},{"symbol":"XBTUSD","id":8790150000,"side":"Sell","size":10520,"price":98500},{"symbol":"XBTUSD","id":8791120000,"side":"Sell","size":5,"price":88800},{"symbol":"XBTUSD","id":8791300000,"side":"Sell","size":5000,"price":87000},{"symbol":"XBTUSD","id":8791698150,"side":"Sell","size":168,"price":83018.5},{"symbol":"XBTUSD","id":8791740000,[...]
