---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/instrument?count=100&reverse=true&symbol=XBT:perpetual
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1569403166'
      Etag:
      - W/"9d6-i45R05JUGqdXb3v3EqvNmCuiN/Y"
    body:
      encoding: UTF-8
      string: '[{"symbol":"XBTUSD","rootSymbol":"XBT","state":"Open","typ":"FFWCSX","listing":"2016-05-13T12:00:00.000Z","front":"2016-05-13T12:00:00.000Z","expiry":null,"settle":null,"relistInterval":null,"inverseLeg":"","sellLeg":"","buyLeg":"","optionStrikePcnt":null,"optionStrikeRound":null,"optionStrikePrice":null,"optionMultiplier":null,"positionCurrency":"USD","underlying":"XBT","quoteCurrency":"USD","underlyingSymbol":"XBT=","reference":"BMEX","referenceSymbol":".BXBT","calcInterval":null,"publishInterval":null,"publishTime":null,"maxOrderQty":10000000,"maxPrice":1000000,"lotSize":1,"tickSize":0.5,"multiplier":-100000000,"settlCurrency":"XBt","underlyingToPositionMultiplier":null,"underlyingToSettleMultiplier":-100000000,"quoteToSettleMultiplier":null,"isQuanto":false,"isInverse":true,"initMargin":0.01,"maintMargin":0.005,"riskLimit":20000000000,"riskStep":10000000000,"limit":null,"capped":false,"taxed":true,"deleverage":true,"makerFee":-0.00025,"takerFee":0.00075,"settlementFee":0,"insuranceFee":0,"fundingBaseSymbol":".XBTBON8H","fundingQuoteSymbol":".USDBON8H","fundingPremiumSymbol":".XBTUSDPI8H","fundingTimestamp":"2019-09-25T12:00:00.000Z","fundingInterval":"2000-01-01T08:00:00.000Z","fundingRate":-0.000696,"indicativeFundingRate":0.0001,"rebalanceTimestamp":null,"rebalanceInterval":null,"openingTimestamp":"2019-09-25T09:00:00.000Z","closingTimestamp":"2019-09-25T10:00:00.000Z","sessionInterval":"2000-01-01T01:00:00.000Z","prevClosePrice":9711.09,"limitDownPrice":null,"limitUpPrice":null,"bankruptLimitDownPrice":null,"bankruptLimitUpPrice":null,"prevTotalVolume":1702327914759,"totalVolume":1702424439435,"volume":96524676,"volume24h":7674817017,"prevTotalTurnover":24300184201820468,"totalTurnover":24301342447798640,"turnover":1158245978171,"turnover24h":87292963364628,"homeNotional24h":872929.633646282,"foreignNotional24h":7674817017,"prevPrice24h":9713.5,"vwap":8792.7548,"highPrice":9754,"lowPrice":8012,"lastPrice":8353,"lastPriceProtected":8353,"lastTickDirection":"ZeroMinusTick","lastChangePcnt":-0.1401,"bidPrice":8353,"midPrice":8353.25,"askPrice":8353.5,"impactBidPrice":8352.8233,"impactMidPrice":8353.25,"impactAskPrice":8353.521,"hasLiquidity":true,"openInterest":752803574,"openValue":9013317191502,"fairMethod":"FundingRate","fairBasisRate":-0.76212,"fairBasis":-1.95,"fairPrice":8351.97,"markMethod":"FairPrice","markPrice":8351.97,"indicativeTaxRate":0,"indicativeSettlePrice":8353.92,"optionUnderlyingPrice":null,"settledPrice":null,"timestamp":"2019-09-25T09:19:23.476Z"}]'
  recorded_at: Wed, 25 Sep 2019 09:19:23 GMT
recorded_with: VCR 4.0.0
