---
http_interactions:
- request:
    method: get
    uri: https://www.bitmex.com/api/v1/trade?reverse=true&symbol=XBTUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1569773130'
      Etag:
      - W/"612e-zscnK267Ny1OLbwuLdl7/AHjZ4A"
    body:
      encoding: UTF-8
      string: '[{"timestamp":"2019-09-29T16:05:27.238Z","symbol":"XBTUSD","side":"Sell","size":532,"price":7945.5,"tickDirection":"ZeroMinusTick","trdMatchID":"e579bf14-c6f8-1e5c-5a03-02b474ecc828","grossValue":6695752,"homeNotional":0.06695752,"foreignNotional":532},{"timestamp":"2019-09-29T16:05:27.238Z","symbol":"XBTUSD","side":"Sell","size":3000,"price":7945.5,"tickDirection":"ZeroMinusTick","trdMatchID":"9e541aed-43ce-0ae2-2dde-d9dbb6f483bb","grossValue":37758000,"homeNotional":0.37758,"foreignNotional":3000},{"timestamp":"2019-09-29T16:05:27.238Z","symbol":"XBTUSD","side":"Sell","size":1151,"price":7945.5,"tickDirection":"ZeroMinusTick","trdMatchID":"9397bb6d-25ad-9075-3163-f675de943704","grossValue":14486486,"homeNotional":0.14486486,"foreignNoti[...]
