---
http_interactions:
- request:
    method: get
    uri: https://api.qryptos.com/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"650f8be4e971fa120ada2c513b18b621"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"1","product_type":"CurrencyPair","code":"CASH","name":null,"market_ask":0.06044,"market_bid":0.05464,"indicator":1,"currency":"BTC","currency_pair_code":"ZECBTC","symbol":"฿","btc_minimum_withdraw":0.02,"fiat_minimum_withdraw":0.02,"pusher_channel":"product_cash_zecbtc_1","taker_fee":0.0015,"maker_fee":-0.00075,"low_market_bid":"0.0","high_market_ask":"0.0604485","volume_24h":"0.0","last_price_24h":"0.05599","last_traded_price":"0.05757","last_traded_quantity":"0.16828","quoted_currency":"BTC","base_currency":"ZEC"},{"id":"2","product_type":"CurrencyPair","code":"CASH","name":null,"market_ask":0.00606,"market_bid":0.0,"indicator":-1,"currency":"BTC","currency_pair_code":"REPBTC","symbol":"฿","btc_minimum_withdraw":0.02,"fiat_minimum_withdraw":0.02,"pusher_channel":"product_cash_repbtc_2","taker_fee":0.0015,"maker_fee":-0.00075,"low_market_bid":"0.0","high_market_ask":"0.0","volume_24h":"0.0","last_price_24h":"0.0","last_traded_price":0.0,"last_traded_quantity":0.0,"quoted_currency":"BTC","base_curren[...]
