---
http_interactions:
- request:
    method: get
    uri: https://api.pro.coinbase.com/products
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2204-ATymnjSMp845eG364Lnf/PklxZg"
    body:
      encoding: UTF-8
      string: '[{"id":"BCH-USD","base_currency":"BCH","quote_currency":"USD","base_min_size":"0.01","base_max_size":"350","quote_increment":"0.01","display_name":"BCH/USD","status":"online","margin_enabled":false,"status_message":null,"min_market_funds":"10","max_market_funds":"1000000","post_only":false,"limit_only":true,"cancel_only":false,"accessible":false},{"id":"BCH-BTC","base_currency":"BCH","quote_currency":"BTC","base_min_size":"0.01","base_max_size":"200","quote_increment":"0.00001","display_name":"BCH/BTC","status":"online","margin_enabled":false,"status_message":null,"min_market_funds":"0.001","max_market_funds":"30","post_only":false,"limit_only":true,"cancel_only":false,"accessible":true},{"id":"BCH-EUR","base_currency":"BCH","quote_currency":"EUR","base_min_size":"0.01","base_max_size":"120","quote_increment":"0.01","display_name"[...]
