---
http_interactions:
- request:
    method: get
    uri: https://api.wazirx.com/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 100.127.0.0
      Etag:
      - W/"a9980ca4ee483ea873ed8f9634254f5f"
    body:
      encoding: ASCII-8BIT
      string: '{"btcinr":{"base_unit":"btc","quote_unit":"inr","low":"480000.0","high":"508099.0","last":"508099.0","open":507870.0,"volume":"0.4254","sell":"507999.0","buy":"490599.0","at":1536833997,"name":"BTC/INR"},"xrpinr":{"base_unit":"xrp","quote_unit":"inr","low":"20.1","high":"22.0","last":"20.75","open":20.2,"volume":"10483.0","sell":"21.4","buy":"20.78","at":1536833997,"name":"XRP/INR"},"ethinr":{"base_unit":"eth","quote_unit":"inr","low":"12301.0","high":"15500.0","last":"15490.0","open":13300.02,"volume":"1.393","sell":"15490.0","buy":"13800.0","at":1536833997,"name":"ETH/INR"},"trxinr":{"base_unit":"trx","quote_unit":"inr","low":"1.32","high":"1.5","last":"1.5","open":1.44,"volume":"3209.0","sell":"1.53","buy":"1.46","at":1536833997,"name":"TRX/INR"},"eosinr":{"base_unit":"eos","quote_unit":"inr","low":"0.0","high":"0.0","last":"540.0","open":540.0,"volume":"0.0","sell":"599.99","buy":"532.5","at":1536833997,"name":"EOS/INR"},"zilinr":{"base_unit":"zil","quote_unit":"inr","low":"2.41","high":"2.95","last":"2.95","open":2.41,"volume":"809.0","sell":"2.9","buy":"2.41","at":1536833997,"name":"ZIL/INR"},"ncashinr":{"base_unit":"ncash","quote_unit":"inr","low":"0.34","high":"0.42","last":"0.42","open":0.34,"volume":"38670.0","sell":"0.41","buy":"0.36","at":1536833997,"name":"NCASH/INR"},"batinr":{"base_unit":"bat","quote_unit":"inr","low":"11.0","high":"11.01","last":"11.0","open":11.0,"volume":"930.39","sell":"13.0","buy":"10.5","at":1536833997,"name":"BAT/INR"},"gntinr":{"base_unit":"gnt","quote_unit":"inr","low":"12.99","high":"12.99","last":"12.99","open":9.0,"volume":"20.0","sell":"12.0","buy":"5.0","at":1536833997,"name":"GNT/INR"},"storminr":{"base_unit":"storm","quote_unit":"inr","low":"0.46","high":"0.67","last":"0.46","open":0.69,"volume":"18349.0","sell":"0.59","buy":"0.48","at":1536833997,"name":"STORM/INR"},"reqinr":{"base_unit":"req","quote_unit":"inr","low":"2.4","high":"2.6","last":"2.6","open":2.48,"volume":"4535.87","sell":"3.0","buy":"2.4","at":1536833997,"name":"REQ/INR"},"subinr":{"base_unit":"sub","quote_unit":"inr","low":"7.5","high":"9.01","last":"7.5","open":8.0,"volume":"98.32","sell":"8.0","buy":"7.2","at":1536833997,"name":"SUB/INR"},"nulsinr":{"base_unit":"nuls","quote_unit":"inr","low":"0.0","high":"0.0","last":"173.0","open":173.0,"volume":"0.0","sell":"173.0","buy":"94.0","at":1536833997,"name":"NULS/INR"},"polyinr":{"base_unit":"poly","quote_unit":"inr","low":"9.1","high":"11.5","last":"9.1","open":11.17,"volume":"1535.88","sell":"10.98","buy":"9.11","at":1536833997,"name":"POLY/INR"},"npxsinr":{"base_unit":"npxs","quote_unit":"inr","low":"0.09","high":"0.13","last":"0.12","open":0.12,"volume":"557951.0","sell":"0.12","buy":"0.11","at":1536833997,"name":"NPXS/INR"},"csinr":{"base_unit":"cs","quote_unit":"inr","low":"11.07","high":"11.07","last":"11.07","open":14.0,"volume":"50.0","sell":"14.29","buy":"10.68","at":1536833997,"name":"CS/INR"},"dentinr":{"base_unit":"dent","quote_unit":"inr","low":"0.15","high":"0.17","last":"0.15","open":0.18,"volume":"13535.0","sell":"0.17","buy":"0.15","at":1536833997,"name":"DENT/INR"},"qkcinr":{"base_unit":"qkc","quote_unit":"inr","low":"2.2","high":"2.2","last":"2.2","open":2.2,"volume":"22.0","sell":"2.99","buy":"2.0","at":1536833998,"name":"QKC/INR"},"stqinr":{"base_unit":"stq","quote_unit":"inr","low":"0.11","high":"0.25","last":"0.25","open":0.18,"volume":"66273.0","sell":"0.25","buy":"0.18","at":1536833998,"name":"STQ/INR"},"zcoinr":{"base_unit":"zco","quote_unit":"inr","low":"1.0","high":"1.21","last":"1.21","open":1.2,"volume":"9041.0","sell":"1.22","buy":"1.21","at":1536833998,"name":"ZCO/INR"},"hotinr":{"base_unit":"hot","quote_unit":"inr","low":"0.08","high":"0.09","last":"0.08","open":0.08,"volume":"394025.0","sell":"0.09","buy":"0.08","at":1536833998,"name":"HOT/INR"},"ocninr":{"base_unit":"ocn","quote_unit":"inr","low":"0.23","high":"0.33","last":"0.33","open":0.27,"volume":"2980.0","sell":"0.33","buy":"0.25","at":1536833998,"name":"OCN/INR"},"noahinr":{"base_unit":"noah","quote_unit":"inr","low":"0.07","high":"0.1","last":"0.08","open":0.08,"volume":"1475429.0","sell":"0.09","buy":"0.08","at":1536833998,"name":"NOAH/INR"},"bancainr":{"base_unit":"banca","quote_unit":"inr","low":"0.02","high":"0.03","last":"0.02","open":0.02,"volume":"23339212.0","sell":"0.02","buy":"0.01","at":1536833998,"name":"BANCA/INR"},"usdtinr":{"base_unit":"usdt","quote_unit":"inr","low":"75.99","high":"81.77","last":"78.19","open":81.4,"volume":"4052.83","sell":"79.0","buy":"78.22","at":1536833998,"name":"USDT/INR"},"ltcinr":{"base_unit":"ltc","quote_unit":"inr","low":"0.0","high":"0.0","last":"4100.0","open":4100.0,"volume":"0.0","sell":"4468.0","buy":"3207.02","at":1536833998,"name":"LTC/INR"},"bchinr":{"base_unit":"bch","quote_unit":"inr","low":"35054.9","high":"35054.9","last":"35054.9","open":35054.9,"volume":"0.0","sell":"39990.0","buy":"26044.0","at":1536833998,"name":"BCH/INR"},"xrpbtc":{"base_unit":"xrp","quote_unit":"btc","low":"0.00004075","high":"0.00004347","last":"0.00004245","open":4.131e-05,"volume":"6305.0","sell":"0.00004269","buy":"0.00004206","at":1536833998,"name":"XRP/BTC"},"trxbtc":{"base_unit":"trx","quote_unit":"btc","low":"0.00000274","high":"0.00000302","last":"0.00000301","open":2.78e-06,"volume":"37982.0","sell":"0.00000307","buy":"0.00000301","at":1536833998,"name":"TRX/BTC"},"ethbtc":{"base_unit":"eth","quote_unit":"btc","low":"0.02721801","high":"0.029759","last":"0.029584","open":0.02769,"volume":"12.158","sell":"0.030127","buy":"0.029848","at":1536833998,"name":"ETH/BTC"},"ncashbtc":{"base_unit":"ncash","quote_unit":"btc","low":"0.00000073","high":"0.00000082","last":"0.00000082","open":7.3e-07,"volume":"4883.0","sell":"0.00000082","buy":"0.0000008","at":1536833998,"name":"NCASH/BTC"},"zilbtc":{"base_unit":"zil","quote_unit":"btc","low":"0.00000487","high":"0.00000508","last":"0.00000508","open":4.87e-06,"volume":"985.0","sell":"0.00000524","buy":"0.00000516","at":1536833998,"name":"ZIL/BTC"},"batbtc":{"base_unit":"bat","quote_unit":"btc","low":"0.00002081","high":"0.00002359","last":"0.00002359","open":2.081e-05,"volume":"1179.8","sell":"0.00002392","buy":"0.00002361","at":1536833998,"name":"BAT/BTC"},"ltcbtc":{"base_unit":"ltc","quote_unit":"btc","low":"0.00765","high":"0.008242","last":"0.008094","open":0.007691,"volume":"12.782","sell":"0.008333","buy":"0.008308","at":1536833998,"name":"LTC/BTC"},"qkcbtc":{"base_unit":"qkc","quote_unit":"btc","low":"0.00000423","high":"0.00000489","last":"0.00000489","open":4.24e-06,"volume":"487.0","sell":"0.00000521","buy":"0.00000512","at":1536833998,"name":"QKC/BTC"},"npxsbtc":{"base_unit":"npxs","quote_unit":"btc","low":"0.00000021","high":"0.00000023","last":"0.00000023","open":2.3e-07,"volume":"658518.0","sell":"0.00000023","buy":"0.00000022","at":1536833998,"name":"NPXS/BTC"},"dashbtc":{"base_unit":"dash","quote_unit":"btc","low":"0.031458","high":"0.031459","last":"0.031459","open":0.031459,"volume":"0.0","sell":"0.030083","buy":"0.029697","at":1536833998,"name":"DASH/BTC"},"funbtc":{"base_unit":"fun","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.000012","open":1.2e-05,"volume":"0.0","sell":"0.000012","buy":"0.00000048","at":1536833998,"name":"FUN/BTC"},"gntbtc":{"base_unit":"gnt","quote_unit":"btc","low":"0.00001899","high":"0.00001949","last":"0.00001941","open":1.899e-05,"volume":"176.95","sell":"0.00001947","buy":"0.00001916","at":1536833998,"name":"GNT/BTC"},"iostbtc":{"base_unit":"iost","quote_unit":"btc","low":"0.00000178","high":"0.0000018","last":"0.0000018","open":1.8e-06,"volume":"27688.0","sell":"0.00000182","buy":"0.00000177","at":1536833998,"name":"IOST/BTC"},"nulsbtc":{"base_unit":"nuls","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00049","open":0.00049,"volume":"0.0","sell":"0.0004589","buy":"0.00001001","at":1536833998,"name":"NULS/BTC"},"omgbtc":{"base_unit":"omg","quote_unit":"btc","low":"0.00041506","high":"0.00041506","last":"0.00041506","open":0.00041506,"volume":"0.0","sell":"0.00065","buy":"0.00032511","at":1536833998,"name":"OMG/BTC"},"poebtc":{"base_unit":"poe","quote_unit":"btc","low":"0.00000218","high":"0.00000218","last":"0.00000218","open":2.2e-06,"volume":"2155.0","sell":"0.00000217","buy":"0.00000201","at":1536833998,"name":"POE/BTC"},"reqbtc":{"base_unit":"req","quote_unit":"btc","low":"0.00000468","high":"0.00000509","last":"0.00000509","open":4.68e-06,"volume":"6041.18","sell":"0.00000519","buy":"0.0000051","at":1536833998,"name":"REQ/BTC"},"sntbtc":{"base_unit":"snt","quote_unit":"btc","low":"0.00000529","high":"0.00000529","last":"0.00000529","open":5.29e-06,"volume":"0.0","sell":"0.00000511","buy":"0.00000499","at":1536833998,"name":"SNT/BTC"},"stormbtc":{"base_unit":"storm","quote_unit":"btc","low":"0.000001","high":"0.00000104","last":"0.00000104","open":1.0e-06,"volume":"31845.0","sell":"0.00000106","buy":"0.000001","at":1536833998,"name":"STORM/BTC"},"subbtc":{"base_unit":"sub","quote_unit":"btc","low":"0.00001462","high":"0.00001528","last":"0.00001528","open":1.501e-05,"volume":"176.05","sell":"0.00001591","buy":"0.00001558","at":1536833998,"name":"SUB/BTC"},"thetabtc":{"base_unit":"theta","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00004999","open":4.999e-05,"volume":"0.0","sell":"0.00001283","buy":"0.00000321","at":1536833998,"name":"THETA/BTC"},"zrxbtc":{"base_unit":"zrx","quote_unit":"btc","low":"0.0000804","high":"0.0000804","last":"0.0000804","open":9.017e-05,"volume":"33.95","sell":"0.00008542","buy":"0.00008396","at":1536833998,"name":"ZRX/BTC"},"bchbtc":{"base_unit":"bch","quote_unit":"btc","low":"0.06","high":"0.08479991","last":"0.08479991","open":0.07100001,"volume":"0.062","sell":"0.08479991","buy":"0.0070002","at":1536833998,"name":"BCH/BTC"},"eosbtc":{"base_unit":"eos","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00169785","open":0.00169785,"volume":"0.0","sell":"0.0015","buy":"0.00077","at":1536833998,"name":"EOS/BTC"},"icxbtc":{"base_unit":"icx","quote_unit":"btc","low":"0.00045","high":"0.00045","last":"0.00045","open":0.00045,"volume":"0.0","sell":"0.0","buy":"0.00010001","at":1536833998,"name":"ICX/BTC"},"hotbtc":{"base_unit":"hot","quote_unit":"btc","low":"0.00000017","high":"0.00000018","last":"0.00000018","open":1.7e-07,"volume":"95828.0","sell":"0.00000018","buy":"0.00000017","at":1536833998,"name":"HOT/BTC"},"btcusdt":{"base_unit":"btc","quote_unit":"usdt","low":"6224.0","high":"6481.0","last":"6434.0","open":6244.0,"volume":"11.3688","sell":"6481.0","buy":"6433.0","at":1536833998,"name":"BTC/USDT"},"trxusdt":{"base_unit":"trx","quote_unit":"usdt","low":"0.0172","high":"0.0195","last":"0.0195","open":0.0174,"volume":"258795.0","sell":"0.0199","buy":"0.0196","at":1536833998,"name":"TRX/USDT"},"xrpusdt":{"base_unit":"xrp","quote_unit":"usdt","low":"0.253","high":"0.276","last":"0.272","open":0.257,"volume":"45865.0","sell":"0.275","buy":"0.272","at":1536833998,"name":"XRP/USDT"},"bchusdt":{"base_unit":"bch","quote_unit":"usdt","low":"415.0","high":"444.0","last":"444.0","open":421.0,"volume":"6.515","sell":"445.0","buy":"438.0","at":1536833998,"name":"BCH/USDT"},"eosusdt":{"base_unit":"eos","quote_unit":"usdt","low":"0.0","high":"0.0","last":"7.71","open":7.71,"volume":"0.0","sell":"8.064","buy":"5.6","at":1536833998,"name":"EOS/USDT"},"ethusdt":{"base_unit":"eth","quote_unit":"usdt","low":"169.0","high":"195.0","last":"195.0","open":173.0,"volume":"108.306","sell":"195.0","buy":"194.0","at":1536833998,"name":"ETH/USDT"},"icxusdt":{"base_unit":"icx","quote_unit":"usdt","low":"3.0","high":"3.87","last":"3.87","open":3.87,"volume":"0.0","sell":"3.88","buy":"1.6","at":1536833998,"name":"ICX/USDT"},"ltcusdt":{"base_unit":"ltc","quote_unit":"usdt","low":"47.57","high":"54.14","last":"54.14","open":47.57,"volume":"37.647","sell":"54.34","buy":"53.52","at":1536833998,"name":"LTC/USDT"},"tusdusdt":{"base_unit":"tusd","quote_unit":"usdt","low":"0.993","high":"1.008","last":"0.993","open":0.995,"volume":"272.77","sell":"1.008","buy":"0.994","at":1536833998,"name":"TUSD/USDT"},"npxsusdt":{"base_unit":"npxs","quote_unit":"usdt","low":"0.0013","high":"0.00165","last":"0.00145","open":0.0016,"volume":"244357.0","sell":"0.00155","buy":"0.00146","at":1536833998,"name":"NPXS/USDT"}}'
  recorded_at: Thu, 13 Sep 2018 10:19:58 GMT
recorded_with: VCR 4.0.0
