---
http_interactions:
- request:
    method: get
    uri: https://api.wazirx.com/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 100.102.0.0
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"a903a5a987a1d82edfd33aca7162b717"
    body:
      encoding: ASCII-8BIT
      string: '{"btcinr":{"base_unit":"btc","quote_unit":"inr","low":"640255.0","high":"730000.0","last":"729999.0","type":"SPOT","open":717000.0,"volume":"0.0591","sell":"729999.0","buy":"658000.0","at":1565338171,"name":"BTC/INR"},"xrpinr":{"base_unit":"xrp","quote_unit":"inr","low":"18.6001","high":"19.6979","last":"19.6978","type":"SPOT","open":19.6999,"volume":"531.0","sell":"19.6979","buy":"18.7001","at":1565338171,"name":"XRP/INR"},"ethinr":{"base_unit":"eth","quote_unit":"inr","low":"12906.0","high":"13600.0","last":"13499.0","type":"SPOT","open":12906.0,"volume":"0.621","sell":"13497.4","buy":"12913.0","at":1565338171,"name":"ETH/INR"},"trxinr":{"base_unit":"trx","quote_unit":"inr","low":"1.3051","high":"1.398","last":"1.398","type":"SPOT","open":1.32,"volume":"1854.0","sell":"1.3799","buy":"1.21","at":1565338171,"name":"TRX/INR"},"eosinr":{"base_unit":"eos","quote_unit":"inr","low":"0.0","high":"0.0","last":"150.0","type":"SPOT","open":150.0,"volume":"0.0","sell":"352.0","buy":"201.0","at":1565338171,"name":"EOS/INR"},"zilinr":{"base_unit":"zil","quote_unit":"inr","low":"0.0","high":"0.0","last":"0.64","type":"SPOT","open":0.64,"volume":"0.0","sell":"0.64","buy":"0.23","at":1565338171,"name":"ZIL/INR"},"ncashinr":{"base_unit":"ncash","quote_unit":"inr","low":"0.1","high":"0.1","last":"0.1","type":"SPOT","open":0.1,"volume":"0.0","sell":"0.1","buy":"0.03002","at":1565338171,"name":"NCASH/INR"},"batinr":{"base_unit":"bat","quote_unit":"inr","low":"0.0","high":"0.0","last":"9.001","type":"SPOT","open":17.0,"volume":"0.0","sell":"15.999","buy":"9.101","at":1565338171,"name":"BAT/INR"},"gntinr":{"base_unit":"gnt","quote_unit":"inr","low":"0.0","high":"0.0","last":"5.06","type":"SPOT","open":5.06,"volume":"0.0","sell":"6.635","buy":"2.01","at":1565338171,"name":"GNT/INR"},"storminr":{"base_unit":"storm","quote_unit":"inr","low":"0.0","high":"0.0","last":"0.13","type":"SPOT","open":0.13,"volume":"0.0","sell":"0.13","buy":"0.01","at":1565338171,"name":"STORM/INR"},"reqinr":{"base_unit":"req","quote_unit":"inr","low":"0.0","high":"0.0","last":"1.16","type":"SPOT","open":1.16,"volume":"0.0","sell":"1.149","buy":"0.0462","at":1565338171,"name":"REQ/INR"},"subinr":{"base_unit":"sub","quote_unit":"inr","low":"0.0","high":"0.0","last":"1.18","type":"SPOT","open":1.18,"volume":"0.0","sell":"1.6","buy":"0.14","at":1565338171,"name":"SUB/INR"},"nulsinr":{"base_unit":"nuls","quote_unit":"inr","low":"0.0","high":"0.0","last":"108.0","type":"SPOT","open":108.0,"volume":"0.0","sell":"150.0","buy":"0.023","at":1565338171,"name":"NULS/INR"},"polyinr":{"base_unit":"poly","quote_unit":"inr","low":"2.255","high":"2.255","last":"2.255","type":"SPOT","open":2.255,"volume":"0.0","sell":"3.8","buy":"2.1","at":1565338171,"name":"POLY/INR"},"npxsinr":{"base_unit":"npxs","quote_unit":"inr","low":"0.0345","high":"0.0345","last":"0.0345","type":"SPOT","open":0.0448,"volume":"1002.0","sell":"0.04415","buy":"0.032","at":1565338171,"name":"NPXS/INR"},"csinr":{"base_unit":"cs","quote_unit":"inr","low":"0.0","high":"0.0","last":"5.89","type":"SPOT","open":5.89,"volume":"0.0","sell":"5.446","buy":"0.158","at":1565338171,"name":"CS/INR"},"dentinr":{"base_unit":"dent","quote_unit":"inr","low":"0.0","high":"0.0","last":"0.037","type":"SPOT","open":0.037,"volume":"0.0","sell":"0.0447","buy":"0.03","at":1565338171,"name":"DENT/INR"},"qkcinr":{"base_unit":"qkc","quote_unit":"inr","low":"1.09","high":"1.14","last":"1.14","type":"SPOT","open":1.14,"volume":"0.0","sell":"1.8","buy":"0.8","at":1565338171,"name":"QKC/INR"},"stqinr":{"base_unit":"stq","quote_unit":"inr","low":"0.007495","high":"0.007495","last":"0.007495","type":"SPOT","open":0.0054,"volume":"3454.0","sell":"0.007489","buy":"0.0024","at":1565338171,"name":"STQ/INR"},"zcoinr":{"base_unit":"zco","quote_unit":"inr","low":"0.0","high":"0.0","last":"0.395","type":"SPOT","open":0.395,"volume":"0.0","sell":"0.4095","buy":"0.26","at":1565338171,"name":"ZCO/INR"},"hotinr":{"base_unit":"hot","quote_unit":"inr","low":"0.056","high":"0.056","last":"0.056","type":"SPOT","open":0.056,"volume":"19000.0","sell":"0.091","buy":"0.04","at":1565338171,"name":"HOT/INR"},"ocninr":{"base_unit":"ocn","quote_unit":"inr","low":"0.0","high":"0.0","last":"0.10001","type":"SPOT","open":0.10001,"volume":"0.0","sell":"0.15948","buy":"0.10001","at":1565338171,"name":"OCN/INR"},"noahinr":{"base_unit":"noah","quote_unit":"inr","low":"0.013","high":"0.02175","last":"0.02175","type":"SPOT","open":0.0137,"volume":"29571.0","sell":"0.02175","buy":"0.012","at":1565338171,"name":"NOAH/INR"},"bancainr":{"base_unit":"banca","quote_unit":"inr","low":"0.0","high":"0.0","last":"0.002","type":"SPOT","open":0.002,"volume":"0.0","sell":"0.00365","buy":"0.002","at":1565338171,"name":"BANCA/INR"},"usdtinr":{"base_unit":"usdt","quote_unit":"inr","low":"59.3","high":"60.99","last":"60.95","type":"SPOT","open":60.83,"volume":"548.31","sell":"60.86","buy":"59.33","at":1565338171,"name":"USDT/INR"},"ltcinr":{"base_unit":"ltc","quote_unit":"inr","low":"5700.0","high":"5700.0","last":"5700.0","type":"SPOT","open":5155.0,"volume":"0.149","sell":"5700.0","buy":"5151.0","at":1565338171,"name":"LTC/INR"},"xrpbtc":{"base_unit":"xrp","quote_unit":"btc","low":"0.00002558","high":"0.00002656","last":"0.00002583","type":"SPOT","open":2.572e-05,"volume":"11143.0","sell":"0.00002559","buy":"0.00002531","at":1565338171,"name":"XRP/BTC"},"trxbtc":{"base_unit":"trx","quote_unit":"btc","low":"0.00000179","high":"0.00000188","last":"0.00000186","type":"SPOT","open":1.82e-06,"volume":"9083.0","sell":"0.00000184","buy":"0.00000183","at":1565338171,"name":"TRX/BTC"},"ethbtc":{"base_unit":"eth","quote_unit":"btc","low":"0.018358","high":"0.018968","last":"0.018358","type":"SPOT","open":0.019288,"volume":"8.302","sell":"0.018348","buy":"0.01816","at":1565338171,"name":"ETH/BTC"},"ncashbtc":{"base_unit":"ncash","quote_unit":"btc","low":"0.00000014","high":"0.00000014","last":"0.00000014","type":"SPOT","open":1.4e-07,"volume":"0.0","sell":"0.00000013","buy":"0.00000011","at":1565338171,"name":"NCASH/BTC"},"zilbtc":{"base_unit":"zil","quote_unit":"btc","low":"0.00000071","high":"0.00000076","last":"0.00000072","type":"SPOT","open":7.1e-07,"volume":"3355.0","sell":"0.00000072","buy":"0.0000007","at":1565338171,"name":"ZIL/BTC"},"batbtc":{"base_unit":"bat","quote_unit":"btc","low":"0.0000182","high":"0.00001921","last":"0.00001921","type":"SPOT","open":1.921e-05,"volume":"0.0","sell":"0.00001764","buy":"0.00001738","at":1565338171,"name":"BAT/BTC"},"ltcbtc":{"base_unit":"ltc","quote_unit":"btc","low":"0.007442","high":"0.007725","last":"0.007442","type":"SPOT","open":0.007665,"volume":"13.816","sell":"0.007503","buy":"0.007419","at":1565338171,"name":"LTC/BTC"},"qkcbtc":{"base_unit":"qkc","quote_unit":"btc","low":"0.00000149","high":"0.00000152","last":"0.00000152","type":"SPOT","open":1.49e-06,"volume":"1369.0","sell":"0.00000152","buy":"0.00000149","at":1565338171,"name":"QKC/BTC"},"npxsbtc":{"base_unit":"npxs","quote_unit":"btc","low":"0.00000004","high":"0.00000005","last":"0.00000004","type":"SPOT","open":5.0e-08,"volume":"2910.0","sell":"0.00000005","buy":"0.00000004","at":1565338171,"name":"NPXS/BTC"},"dashbtc":{"base_unit":"dash","quote_unit":"btc","low":"0.009032","high":"0.009032","last":"0.009032","type":"SPOT","open":0.009871,"volume":"0.02","sell":"0.008851","buy":"0.008742","at":1565338171,"name":"DASH/BTC"},"funbtc":{"base_unit":"fun","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00000025","type":"SPOT","open":2.5e-07,"volume":"0.0","sell":"0.00000022","buy":"0.00000019","at":1565338171,"name":"FUN/BTC"},"gntbtc":{"base_unit":"gnt","quote_unit":"btc","low":"0.00000481","high":"0.00000481","last":"0.00000481","type":"SPOT","open":4.67e-06,"volume":"55.0","sell":"0.00000481","buy":"0.00000472","at":1565338171,"name":"GNT/BTC"},"iostbtc":{"base_unit":"iost","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00000087","type":"SPOT","open":8.7e-07,"volume":"0.0","sell":"0.00000087","buy":"0.00000083","at":1565338171,"name":"IOST/BTC"},"nulsbtc":{"base_unit":"nuls","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00005016","type":"SPOT","open":5.016e-05,"volume":"0.0","sell":"0.00016985","buy":"0.00005052","at":1565338171,"name":"NULS/BTC"},"omgbtc":{"base_unit":"omg","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00014","type":"SPOT","open":0.00014,"volume":"0.0","sell":"0.00012","buy":"0.000116","at":1565338171,"name":"OMG/BTC"},"poebtc":{"base_unit":"poe","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00000031","type":"SPOT","open":3.1e-07,"volume":"0.0","sell":"0.00000025","buy":"0.00000022","at":1565338171,"name":"POE/BTC"},"reqbtc":{"base_unit":"req","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00000132","type":"SPOT","open":1.32e-06,"volume":"0.0","sell":"0.00000112","buy":"0.00000108","at":1565338171,"name":"REQ/BTC"},"sntbtc":{"base_unit":"snt","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00000195","type":"SPOT","open":1.95e-06,"volume":"0.0","sell":"0.00000172","buy":"0.00000164","at":1565338171,"name":"SNT/BTC"},"stormbtc":{"base_unit":"storm","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00000018","type":"SPOT","open":1.8e-07,"volume":"0.0","sell":"0.00000018","buy":"0.00000014","at":1565338171,"name":"STORM/BTC"},"subbtc":{"base_unit":"sub","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00000127","type":"SPOT","open":1.27e-06,"volume":"0.0","sell":"0.000002","buy":"0.00000093","at":1565338171,"name":"SUB/BTC"},"thetabtc":{"base_unit":"theta","quote_unit":"btc","low":"0.0000134","high":"0.0000134","last":"0.0000134","type":"SPOT","open":1.34e-05,"volume":"0.0","sell":"0.0000134","buy":"0.000009","at":1565338171,"name":"THETA/BTC"},"zrxbtc":{"base_unit":"zrx","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.00001963","type":"SPOT","open":1.963e-05,"volume":"0.0","sell":"0.00001623","buy":"0.00001558","at":1565338171,"name":"ZRX/BTC"},"eosbtc":{"base_unit":"eos","quote_unit":"btc","low":"0.0003471","high":"0.0003473","last":"0.0003473","type":"SPOT","open":0.0003609,"volume":"82.69","sell":"0.000347","buy":"0.0003441","at":1565338171,"name":"EOS/BTC"},"icxbtc":{"base_unit":"icx","quote_unit":"btc","low":"0.000018","high":"0.0000199","last":"0.000018","type":"SPOT","open":1.8e-05,"volume":"0.0","sell":"0.0000185","buy":"0.0000181","at":1565338171,"name":"ICX/BTC"},"hotbtc":{"base_unit":"hot","quote_unit":"btc","low":"0.00000008","high":"0.00000008","last":"0.00000008","type":"SPOT","open":8.0e-08,"volume":"30164.0","sell":"0.0000001","buy":"0.00000007","at":1565338171,"name":"HOT/BTC"},"polybtc":{"base_unit":"poly","quote_unit":"btc","low":"0.00000365","high":"0.00000367","last":"0.00000367","type":"SPOT","open":3.65e-06,"volume":"247.0","sell":"0.00000382","buy":"0.0000037","at":1565338171,"name":"POLY/BTC"},"paxbtc":{"base_unit":"pax","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.0","type":"SPOT","open":"0.0","volume":"0.0","sell":"0.0","buy":"0.0","at":1565338171,"name":"PAX/BTC"},"usdcbtc":{"base_unit":"usdc","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.0","type":"SPOT","open":"0.0","volume":"0.0","sell":"0.0","buy":"0.0","at":1565338171,"name":"USDC/BTC"},"xlmbtc":{"base_unit":"xlm","quote_unit":"btc","low":"0.0","high":"0.0","last":"0.0","type":"SPOT","open":"0.0","volume":"0.0","sell":"0.0","buy":"0.0","at":1565338171,"name":"XLM/BTC"},"bttbtc":{"base_unit":"btt","quote_unit":"btc","low":"0.00000006","high":"0.00000006","last":"0.00000006","type":"SPOT","open":6.0e-08,"volume":"208585.0","sell":"0.00000007","buy":"0.00000006","at":1565338171,"name":"BTT/BTC"},"fetbtc":{"base_unit":"fet","quote_unit":"btc","low":"0.000007","high":"0.00000741","last":"0.000007","type":"SPOT","open":7.0e-06,"volume":"0.0","sell":"0.00000663","buy":"0.00000654","at":1565338171,"name":"FET/BTC"},"celrbtc":{"base_unit":"celr","quote_unit":"btc","low":"0.00000074","high":"0.00000082","last":"0.00000074","type":"SPOT","open":8.2e-07,"volume":"10847.0","sell":"0.00000073","buy":"0.0000007","at":1565338171,"name":"CELR/BTC"},"maticbtc":{"base_unit":"matic","quote_unit":"btc","low":"0.0000013","high":"0.00000176","last":"0.00000134","type":"SPOT","open":1.3e-06,"volume":"1200.9","sell":"0.00000118","buy":"0.00000115","at":1565338171,"name":"MATIC/BTC"},"adabtc":{"base_unit":"ada","quote_unit":"btc","low":"0.00000424","high":"0.0000044","last":"0.00000439","type":"SPOT","open":4.24e-06,"volume":"1435.0","sell":"0.0000043","buy":"0.00000425","at":1565338171,"name":"ADA/BTC"},"rvnbtc":{"base_unit":"rvn","quote_unit":"btc","low":"0.00000329","high":"0.00000343","last":"0.00000329","type":"SPOT","open":3.29e-06,"volume":"0.0","sell":"0.00000327","buy":"0.00000324","at":1565338171,"name":"RVN/BTC"},"xmrbtc":{"base_unit":"xmr","quote_unit":"btc","low":"0.007981","high":"0.007981","last":"0.007981","type":"SPOT","open":0.008045,"volume":"0.325","sell":"0.007866","buy":"0.007815","at":1565338171,"name":"XMR/BTC"},"atombtc":{"base_unit":"atom","quote_unit":"btc","low":"0.0002885","high":"0.0003093","last":"0.0002885","type":"SPOT","open":0.0003093,"volume":"1.84","sell":"0.0002752","buy":"0.0002733","at":1565338171,"name":"ATOM/BTC"},"btcusdt":{"base_unit":"btc","quote_unit":"usdt","low":"11550.0","high":"12017.0","last":"11863.0","type":"SPOT","open":11950.0,"volume":"23.0182","sell":"11863.0","buy":"11850.0","at":1565338171,"name":"BTC/USDT"},"trxusdt":{"base_unit":"trx","quote_unit":"usdt","low":"0.0217","high":"0.0223","last":"0.02174","type":"SPOT","open":0.02206,"volume":"496438.0","sell":"0.02174","buy":"0.0217","at":1565338171,"name":"TRX/USDT"},"xrpusdt":{"base_unit":"xrp","quote_unit":"usdt","low":"0.30163","high":"0.30933","last":"0.30307","type":"SPOT","open":0.30757,"volume":"101526.0","sell":"0.30266","buy":"0.301","at":1565338171,"name":"XRP/USDT"},"eosusdt":{"base_unit":"eos","quote_unit":"usdt","low":"4.123","high":"4.1728","last":"4.1424","type":"SPOT","open":4.1867,"volume":"603.37","sell":"4.1179","buy":"4.11","at":1565338171,"name":"EOS/USDT"},"ethusdt":{"base_unit":"eth","quote_unit":"usdt","low":"215.8","high":"225.86","last":"216.9","type":"SPOT","open":224.71,"volume":"151.784","sell":"216.9","buy":"216.18","at":1565338171,"name":"ETH/USDT"},"icxusdt":{"base_unit":"icx","quote_unit":"usdt","low":"0.2136","high":"0.2205","last":"0.2153","type":"SPOT","open":0.2175,"volume":"15307.63","sell":"0.2178","buy":"0.2152","at":1565338171,"name":"ICX/USDT"},"ltcusdt":{"base_unit":"ltc","quote_unit":"usdt","low":"88.29","high":"90.95","last":"88.73","type":"SPOT","open":90.07,"volume":"218.341","sell":"88.72","buy":"88.55","at":1565338171,"name":"LTC/USDT"},"tusdusdt":{"base_unit":"tusd","quote_unit":"usdt","low":"0.997","high":"0.9995","last":"0.9979","type":"SPOT","open":0.9984,"volume":"1521.51","sell":"1.0025","buy":"0.9988","at":1565338171,"name":"TUSD/USDT"},"npxsusdt":{"base_unit":"npxs","quote_unit":"usdt","low":"0.000518","high":"0.000542","last":"0.00052","type":"SPOT","open":0.000555,"volume":"929368.0","sell":"0.000536","buy":"0.00052","at":1565338171,"name":"NPXS/USDT"},"hotusdt":{"base_unit":"hot","quote_unit":"usdt","low":"0.0008745","high":"0.0009429","last":"0.0008745","type":"SPOT","open":0.0009264,"volume":"2907899.0","sell":"0.0008967","buy":"0.0008884","at":1565338171,"name":"HOT/USDT"},"noahusdt":{"base_unit":"noah","quote_unit":"usdt","low":"0.00019","high":"0.000206","last":"0.0002","type":"SPOT","open":0.000198,"volume":"6740615.0","sell":"0.0002","buy":"0.000191","at":1565338171,"name":"NOAH/USDT"},"bancausdt":{"base_unit":"banca","quote_unit":"usdt","low":"0.000049","high":"0.00005001","last":"0.00005","type":"SPOT","open":4.999e-05,"volume":"1227383.0","sell":"0.00005","buy":"0.00004925","at":1565338171,"name":"BANCA/USDT"},"batusdt":{"base_unit":"bat","quote_unit":"usdt","low":"0.2073","high":"0.2203","last":"0.209","type":"SPOT","open":0.2152,"volume":"2793.26","sell":"0.209","buy":"0.2068","at":1565338171,"name":"BAT/USDT"},"dashusdt":{"base_unit":"dash","quote_unit":"usdt","low":"104.95","high":"107.72","last":"104.95","type":"SPOT","open":107.72,"volume":"6.669","sell":"104.92","buy":"103.81","at":1565338171,"name":"DASH/USDT"},"ncashusdt":{"base_unit":"ncash","quote_unit":"usdt","low":"0.001286","high":"0.001391","last":"0.001296","type":"SPOT","open":0.001391,"volume":"265088.0","sell":"0.001319","buy":"0.001271","at":1565338171,"name":"NCASH/USDT"},"qkcusdt":{"base_unit":"qkc","quote_unit":"usdt","low":"0.01739","high":"0.01818","last":"0.01739","type":"SPOT","open":0.01753,"volume":"10849.0","sell":"0.01805","buy":"0.01757","at":1565338171,"name":"QKC/USDT"},"zilusdt":{"base_unit":"zil","quote_unit":"usdt","low":"0.00838","high":"0.00882","last":"0.0084","type":"SPOT","open":0.00871,"volume":"273907.0","sell":"0.00842","buy":"0.0084","at":1565338171,"name":"ZIL/USDT"},"zrxusdt":{"base_unit":"zrx","quote_unit":"usdt","low":"0.1896","high":"0.1926","last":"0.1896","type":"SPOT","open":0.1984,"volume":"734.84","sell":"0.1892","buy":"0.1875","at":1565338171,"name":"ZRX/USDT"},"bchabcusdt":{"base_unit":"bchabc","quote_unit":"usdt","low":"328.6","high":"337.73","last":"328.64","type":"SPOT","open":336.44,"volume":"5.363","sell":"328.64","buy":"327.56","at":1565338171,"name":"BCHABC/USDT"},"bchsvusdt":{"base_unit":"bchsv","quote_unit":"usdt","low":"140.2","high":"146.15","last":"140.2","type":"SPOT","open":146.06,"volume":"14.314","sell":"149.68","buy":"141.0","at":1565338171,"name":"BCHSV/USDT"},"paxusdt":{"base_unit":"pax","quote_unit":"usdt","low":"0.9947","high":"0.9947","last":"0.9947","type":"SPOT","open":1.0,"volume":"99.6","sell":"1.0","buy":"0.995","at":1565338171,"name":"PAX/USDT"},"usdcusdt":{"base_unit":"usdc","quote_unit":"usdt","low":"0.0","high":"0.0","last":"0.0","type":"SPOT","open":"0.0","volume":"0.0","sell":"0.0","buy":"0.001","at":1565338171,"name":"USDC/USDT"},"omgusdt":{"base_unit":"omg","quote_unit":"usdt","low":"1.3928","high":"1.47","last":"1.3928","type":"SPOT","open":1.4214,"volume":"2764.53","sell":"1.4023","buy":"1.3879","at":1565338171,"name":"OMG/USDT"},"polyusdt":{"base_unit":"poly","quote_unit":"usdt","low":"0.044","high":"0.045","last":"0.044","type":"SPOT","open":0.0443,"volume":"2040.0","sell":"0.0451","buy":"0.0441","at":1565338171,"name":"POLY/USDT"},"dentusdt":{"base_unit":"dent","quote_unit":"usdt","low":"0.000501","high":"0.000521","last":"0.00051","type":"SPOT","open":0.000505,"volume":"1619748.0","sell":"0.000505","buy":"0.000501","at":1565338171,"name":"DENT/USDT"},"iostusdt":{"base_unit":"iost","quote_unit":"usdt","low":"0.01001","high":"0.01151","last":"0.01001","type":"SPOT","open":0.0109,"volume":"67660.0","sell":"0.01009","buy":"0.00996","at":1565338171,"name":"IOST/USDT"},"stormusdt":{"base_unit":"storm","quote_unit":"usdt","low":"0.001846","high":"0.001885","last":"0.001846","type":"SPOT","open":0.001885,"volume":"1945.0","sell":"0.001885","buy":"0.001795","at":1565338171,"name":"STORM/USDT"},"funusdt":{"base_unit":"fun","quote_unit":"usdt","low":"0.002614","high":"0.002614","last":"0.002614","type":"SPOT","open":0.002614,"volume":"3609.0","sell":"0.002545","buy":"0.002432","at":1565338171,"name":"FUN/USDT"},"poeusdt":{"base_unit":"poe","quote_unit":"usdt","low":"0.002741","high":"0.002901","last":"0.002901","type":"SPOT","open":0.002741,"volume":"2797.0","sell":"0.002856","buy":"0.002724","at":1565338171,"name":"POE/USDT"},"gntusdt":{"base_unit":"gnt","quote_unit":"usdt","low":"0.0556","high":"0.0558","last":"0.0557","type":"SPOT","open":0.0558,"volume":"185.0","sell":"0.0598","buy":"0.0558","at":1565338171,"name":"GNT/USDT"},"sntusdt":{"base_unit":"snt","quote_unit":"usdt","low":"0.01989","high":"0.01989","last":"0.01989","type":"SPOT","open":0.01989,"volume":"0.0","sell":"0.02019","buy":"0.01971","at":1565338171,"name":"SNT/USDT"},"thetausdt":{"base_unit":"theta","quote_unit":"usdt","low":"0.12107","high":"0.1212","last":"0.12107","type":"SPOT","open":0.11763,"volume":"60.0","sell":"0.11929","buy":"0.11814","at":1565338171,"name":"THETA/USDT"},"requsdt":{"base_unit":"req","quote_unit":"usdt","low":"0.01323","high":"0.0139","last":"0.01323","type":"SPOT","open":0.01511,"volume":"6427.0","sell":"0.01313","buy":"0.01271","at":1565338171,"name":"REQ/USDT"},"subusdt":{"base_unit":"sub","quote_unit":"usdt","low":"0.01892","high":"0.019","last":"0.019","type":"SPOT","open":0.01899,"volume":"362.0","sell":"0.02041","buy":"0.01605","at":1565338171,"name":"SUB/USDT"},"csusdt":{"base_unit":"cs","quote_unit":"usdt","low":"0.0499","high":"0.053","last":"0.053","type":"SPOT","open":0.0502,"volume":"800.0","sell":"0.0594","buy":"0.0476","at":1565338171,"name":"CS/USDT"},"ocnusdt":{"base_unit":"ocn","quote_unit":"usdt","low":"0.001615","high":"0.001996","last":"0.001996","type":"SPOT","open":0.002089,"volume":"73652.0","sell":"0.001995","buy":"0.001615","at":1565338171,"name":"OCN/USDT"},"zcousdt":{"base_unit":"zco","quote_unit":"usdt","low":"0.005689","high":"0.006303","last":"0.005689","type":"SPOT","open":0.005689,"volume":"0.0","sell":"0.006295","buy":"0.00569","at":1565338171,"name":"ZCO/USDT"},"stqusdt":{"base_unit":"stq","quote_unit":"usdt","low":"0.000084","high":"0.0000842","last":"0.000084","type":"SPOT","open":8.42e-05,"volume":"12920.0","sell":"0.000084","buy":"0.000079","at":1565338171,"name":"STQ/USDT"},"xlmusdt":{"base_unit":"xlm","quote_unit":"usdt","low":"0.07584","high":"0.07731","last":"0.07584","type":"SPOT","open":0.07787,"volume":"16343.7","sell":"0.07628","buy":"0.07584","at":1565338171,"name":"XLM/USDT"},"xtzusdt":{"base_unit":"xtz","quote_unit":"usdt","low":"1.32","high":"1.533","last":"1.5","type":"SPOT","open":1.5332,"volume":"154.79","sell":"1.53","buy":"1.5","at":1565338171,"name":"XTZ/USDT"},"bttusdt":{"base_unit":"btt","quote_unit":"usdt","low":"0.0007264","high":"0.0007431","last":"0.0007264","type":"SPOT","open":0.0007431,"volume":"1383253.0","sell":"0.0007285","buy":"0.0007256","at":1565338171,"name":"BTT/USDT"},"fetusdt":{"base_unit":"fet","quote_unit":"usdt","low":"0.0783","high":"0.0821","last":"0.0792","type":"SPOT","open":0.0802,"volume":"22404.0","sell":"0.0785","buy":"0.0777","at":1565338171,"name":"FET/USDT"},"tfuelusdt":{"base_unit":"tfuel","quote_unit":"usdt","low":"0.00639","high":"0.00669","last":"0.00639","type":"SPOT","open":0.00645,"volume":"13918.0","sell":"0.00641","buy":"0.00631","at":1565338171,"name":"TFUEL/USDT"},"celrusdt":{"base_unit":"celr","quote_unit":"usdt","low":"0.00857","high":"0.00956","last":"0.0086","type":"SPOT","open":0.00973,"volume":"110211.0","sell":"0.00859","buy":"0.00849","at":1565338171,"name":"CELR/USDT"},"maticusdt":{"base_unit":"matic","quote_unit":"usdt","low":"0.01391","high":"0.01682","last":"0.01395","type":"SPOT","open":0.01626,"volume":"516351.3","sell":"0.01403","buy":"0.01388","at":1565338171,"name":"MATIC/USDT"},"adausdt":{"base_unit":"ada","quote_unit":"usdt","low":"0.05062","high":"0.05314","last":"0.051","type":"SPOT","open":0.05122,"volume":"52946.4","sell":"0.05093","buy":"0.0507","at":1565338171,"name":"ADA/USDT"},"rvnusdt":{"base_unit":"rvn","quote_unit":"usdt","low":"0.03823","high":"0.03889","last":"0.03823","type":"SPOT","open":0.03889,"volume":"810.0","sell":"0.03875","buy":"0.0384","at":1565338171,"name":"RVN/USDT"},"xmrusdt":{"base_unit":"xmr","quote_unit":"usdt","low":"93.8","high":"96.94","last":"95.47","type":"SPOT","open":96.94,"volume":"0.325","sell":"93.46","buy":"92.82","at":1565338171,"name":"XMR/USDT"},"atomusdt":{"base_unit":"atom","quote_unit":"usdt","low":"3.321","high":"3.501","last":"3.321","type":"SPOT","open":3.469,"volume":"14.0","sell":"3.268","buy":"3.249","at":1565338171,"name":"ATOM/USDT"},"algousdt":{"base_unit":"algo","quote_unit":"usdt","low":"0.68","high":"0.784","last":"0.784","type":"SPOT","open":0.68,"volume":"6061.354","sell":"0.765","buy":"0.759","at":1565338171,"name":"ALGO/USDT"},"linkusdt":{"base_unit":"link","quote_unit":"usdt","low":"2.244","high":"2.3718","last":"2.2649","type":"SPOT","open":2.3483,"volume":"16.11","sell":"2.2565","buy":"2.2403","at":1565338171,"name":"LINK/USDT"},"qtumusdt":{"base_unit":"qtum","quote_unit":"usdt","low":"2.753","high":"2.821","last":"2.753","type":"SPOT","open":2.96,"volume":"735.34","sell":"2.768","buy":"2.75","at":1565338171,"name":"QTUM/USDT"},"etcusdt":{"base_unit":"etc","quote_unit":"usdt","low":"5.9135","high":"6.1525","last":"5.9135","type":"SPOT","open":5.9775,"volume":"86.69","sell":"5.8882","buy":"5.875","at":1565338171,"name":"ETC/USDT"},"iotausdt":{"base_unit":"iota","quote_unit":"usdt","low":"0.27","high":"0.2804","last":"0.27","type":"SPOT","open":0.2757,"volume":"209.66","sell":"0.2681","buy":"0.2651","at":1565338171,"name":"IOTA/USDT"},"zecusdt":{"base_unit":"zec","quote_unit":"usdt","low":"60.99425","high":"67.03","last":"61.23","type":"SPOT","open":60.99425,"volume":"2.36","sell":"61.63","buy":"61.5","at":1565338171,"name":"ZEC/USDT"},"wavesusdt":{"base_unit":"waves","quote_unit":"usdt","low":"1.3277","high":"1.3543","last":"1.35","type":"SPOT","open":1.33,"volume":"66.37","sell":"1.3328","buy":"1.3217","at":1565338171,"name":"WAVES/USDT"},"ftmusdt":{"base_unit":"ftm","quote_unit":"usdt","low":"0.0196","high":"0.0204","last":"0.0196","type":"SPOT","open":0.02101,"volume":"40895.7","sell":"0.0197","buy":"0.01947","at":1565338171,"name":"FTM/USDT"},"enjusdt":{"base_unit":"enj","quote_unit":"usdt","low":"0.06801","high":"0.07","last":"0.07","type":"SPOT","open":0.06801,"volume":"757.4","sell":"0.06808","buy":"0.06749","at":1565338171,"name":"ENJ/USDT"},"lskusdt":{"base_unit":"lsk","quote_unit":"usdt","low":"1.2692","high":"1.2935","last":"1.2801","type":"SPOT","open":1.2801,"volume":"0.0","sell":"1.2883","buy":"1.2717","at":1565338171,"name":"LSK/USDT"},"steemusdt":{"base_unit":"steem","quote_unit":"usdt","low":"0.1978","high":"0.2021","last":"0.202","type":"SPOT","open":0.1979,"volume":"49.5","sell":"0.2012","buy":"0.1975","at":1565338171,"name":"STEEM/USDT"},"xvgusdt":{"base_unit":"xvg","quote_unit":"usdt","low":"0.00504","high":"0.00547","last":"0.00531","type":"SPOT","open":0.00547,"volume":"84982.0","sell":"0.00536","buy":"0.00509","at":1565338171,"name":"XVG/USDT"},"loomusdt":{"base_unit":"loom","quote_unit":"usdt","low":"0.03443","high":"0.03443","last":"0.03443","type":"SPOT","open":0.03443,"volume":"0.0","sell":"0.03264","buy":"0.03216","at":1565338171,"name":"LOOM/USDT"},"manausdt":{"base_unit":"mana","quote_unit":"usdt","low":"0.0","high":"0.0","last":"0.04112","type":"SPOT","open":0.04112,"volume":"0.0","sell":"0.04355","buy":"0.04309","at":1565338171,"name":"MANA/USDT"},"repusdt":{"base_unit":"rep","quote_unit":"usdt","low":"11.294","high":"11.294","last":"11.294","type":"SPOT","open":11.294,"volume":"0.0","sell":"10.895","buy":"10.765","at":1565338171,"name":"REP/USDT"},"fuelusdt":{"base_unit":"fuel","quote_unit":"usdt","low":"0.00316","high":"0.00348","last":"0.00348","type":"SPOT","open":0.00348,"volume":"0.0","sell":"0.00322","buy":"0.00294","at":1565338171,"name":"FUEL/USDT"},"blzusdt":{"base_unit":"blz","quote_unit":"usdt","low":"0.03363","high":"0.03363","last":"0.03363","type":"SPOT","open":0.03689,"volume":"892.0","sell":"0.03369","buy":"0.03329","at":1565338171,"name":"BLZ/USDT"},"xzcusdt":{"base_unit":"xzc","quote_unit":"usdt","low":"8.283","high":"8.738","last":"8.703","type":"SPOT","open":8.283,"volume":"70.0","sell":"8.613","buy":"8.478","at":1565338171,"name":"XZC/USDT"},"nanousdt":{"base_unit":"nano","quote_unit":"usdt","low":"1.065","high":"1.0812","last":"1.065","type":"SPOT","open":1.0827,"volume":"63.95","sell":"1.0663","buy":"1.0571","at":1565338171,"name":"NANO/USDT"},"scusdt":{"base_unit":"sc","quote_unit":"usdt","low":"0.0025","high":"0.0025","last":"0.0025","type":"SPOT","open":0.00269,"volume":"2264.0","sell":"0.00251","buy":"0.00223","at":1565338171,"name":"SC/USDT"},"btgusdt":{"base_unit":"btg","quote_unit":"usdt","low":"15.5","high":"16.42","last":"15.5","type":"SPOT","open":16.4,"volume":"106.35","sell":"15.4","buy":"15.21","at":1565338171,"name":"BTG/USDT"},"xemusdt":{"base_unit":"xem","quote_unit":"usdt","low":"0.0592","high":"0.0602","last":"0.0592","type":"SPOT","open":0.064,"volume":"11170.0","sell":"0.0607","buy":"0.0598","at":1565338171,"name":"XEM/USDT"},"btsusdt":{"base_unit":"bts","quote_unit":"usdt","low":"0.045","high":"0.045","last":"0.045","type":"SPOT","open":0.045,"volume":"0.0","sell":"0.04451","buy":"0.04402","at":1565338171,"name":"BTS/USDT"},"ardrusdt":{"base_unit":"ardr","quote_unit":"usdt","low":"0.06014","high":"0.06343","last":"0.06343","type":"SPOT","open":0.06343,"volume":"0.0","sell":"0.06403","buy":"0.06295","at":1565338171,"name":"ARDR/USDT"},"stratusdt":{"base_unit":"strat","quote_unit":"usdt","low":"0.4504","high":"0.4573","last":"0.4573","type":"SPOT","open":0.4555,"volume":"2831.77","sell":"0.4617","buy":"0.4556","at":1565338171,"name":"STRAT/USDT"},"nasusdt":{"base_unit":"nas","quote_unit":"usdt","low":"0.0","high":"0.0","last":"0.9495","type":"SPOT","open":0.9495,"volume":"0.0","sell":"0.8377","buy":"0.825","at":1565338171,"name":"NAS/USDT"}}'
  recorded_at: Fri, 09 Aug 2019 08:09:36 GMT
recorded_with: VCR 4.0.0
