---
http_interactions:
- request:
    method: get
    uri: http://api.chbtc.com/data/v1/ticker?currency=btc_cny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      Cndserver:
      - cache_server_1
    body:
      encoding: UTF-8
      string: '{"ticker":{"vol":"3190.296","last":"27197","sell":"27197","buy":"27130","high":"27498.81","low":"25201"},"date":"1507003466489"}'
  recorded_at: Tue, 03 Oct 2017 04:04:27 GMT
recorded_with: VCR 3.0.3
