---
http_interactions:
- request:
    method: get
    uri: https://www.jex.com/api/v1/contractInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1200'
    body:
      encoding: UTF-8
      string: '[{"premiumIndex":0.00000000,"fundingRate":0.00010000,"fundingInterval":28800000,"nextFundingTime":1570118400000,"predictedFundingRate":0.00010000,"fairBasis":0.00000000,"fairBasisRate":0.00000000,"openPositions":0.00000000000000000000,"turnover24":81339102.55438000,"totalVolume":0.00000000,"markMethod":2,"markPrice":8270.41430000,"lastPrice":8269.70000000,"autoDeleveraging":"DISABLE","symbol":"BTCUSDT"},{"premiumIndex":0.00000000,"fundingRate":0.00010000,"fundingInterval":28800000,"nextFundingTime":1570118400000,"predictedFundingRate":0.00010000,"fairBasis":0.00000000,"fairBasisRate":0.00000000,"openPositions":0.00000000000000000000,"turnover24":67369740.39470000,"totalVolume":0.00000000,"markMethod":2,"markPrice":2.97030000,"lastPrice":2.97300000,"autoDeleveraging":"DISABLE","symbol":"EOSUSDT"},{"premiumIndex":0.00000000,"fundingRate":0.00010000,"fundingInterval":28800000,"nextFundingTime":1570118400000,"predictedFundingRate":0.00010000,"fairBasis":0.00000000,"fairBasisRate":0.00000000,"openPositions":0.00000000000000000000,"turnover24":58779907.12450000,"totalVolume":0.00000000,"markMethod":2,"markPrice":177.57400000,"lastPrice":177.50000000,"autoDeleveraging":"DISABLE","symbol":"ETHUSDT"}]'
  recorded_at: Thu, 03 Oct 2019 08:41:45 GMT
recorded_with: VCR 4.0.0
