---
http_interactions:
- request:
    method: get
    uri: https://www.jex.com/api/v1/exchangeInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timezone":"UTC","serverTime":1568955228464,"rateLimits":[{"rateLimitType":"requestsWeight","interval":"minute","intervalNum":1,"limit":1200},{"rateLimitType":"orders","interval":"second","intervalNum":1,"limit":10},{"rateLimitType":"orders","interval":"day","intervalNum":1,"limit":100000},{"rateLimitType":"rawRequests","interval":"minute","intervalNum":5,"limit":5000}],"optionSymbols":[{"symbol":"BTC0925CALL","status":"TRADING","baseAsset":"BTC0925CALL","baseAssetPrecision":0,"quoteAsset":"USDT","quotePrecision":4,"orderTypes":["LIMIT"],"icebergAllowed":false,"filters":[{"filterType":"PRICE_FILTER","maxPrice":"100000"},{"filterType":"LOT_SIZE","minQty":"1.00000000"}]},{"symbol":"BTC0925PUT","status":"TRADING","baseAsset":"BTC0925PUT","baseAssetPrecision":0,"quoteAsset":"USDT","quotePrecision":4,"orderTypes":["LIMIT"],"icebergAllowed":false,"filters":[{"filterType":"PRICE_FILTER","maxPrice":"100000"},{"filterType":"LOT_SIZE","minQty":"1.00000000"}]},{"symbol":"BTC1009CALL","status":"TRADING","baseAsset":"BTC1009CALL","baseAssetPrecision":0,"quoteAsset":"USDT","quotePrecision":4,"orderTypes":["LIMIT"],"icebergAllowed":false,"filters":[{"filterTy[...]
