---
http_interactions:
- request:
    method: get
    uri: https://api.blocklytics.org/pools/v1/exchanges?key=test_key&platform=uniswap-v2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"excludeEmpty":null,"limit":null,"offset":0,"orderBy":null,"platform":"uniswap-v2","search":null,"tags":null,"totalRows":1016},"results":[{"assets":[{"address":"0x495c7f3a713870f68f8b418b355c085dfdc412c3","balance":4334800.9,"name":"BITCOIN
        FREE","symbol":"BTCFR","weight":0.5},{"address":"0xc3761eb917cd790b30dad99f6cc5b4ff93c4f9ea","balance":58380972.9920443,"name":"ERC20","symbol":"ERC20","weight":0.5}],"exchange":"0x274984e4599ac9293874b6771dbf21fdbe91d27d","ownershipToken":"0x274984e4599ac9293874b6771dbf21fdbe91d27d","platform":"Uniswap-v2","poolName":"Uniswap
        BTCFR-ERC20","roi":0.9678204964324498,"tags":[],"usdLiquidity":6845293.7607081,"usdVolume":185935.1987314634},{"assets":[{"address":"0x6b175474e89094c44da98b954eedeac495271d0f","balance":2723209.9030194283,"name":"Dai
        Stablecoin","symbol":"DAI","weight":0.5},{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","balance":11570.82447362543,"name":"Wrapped
        Ether","symbol":"WETH","weight":0.5}],"exchange":"0xa478c2975ab1ea89e8196811f51a7b7ade33eb11","ownershipToken":"0xa478c2975ab1ea89e8196811f51a7b7ade33eb11","platform":"Uniswap-v2","poolName":"Uniswap
        DAI-WETH[...]
