---
http_interactions:
- request:
    method: get
    uri: https://api.blocklytics.org/uniswap/v1/exchanges?key=test_key
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"ethLiquidity":8152.745759717,"ethVolume":1163.0549412801,"exchange":"0x09cabec1ead1c0ba254b09efb3ee13841712be14","factory":"0xc0a47dfe034b400b47bdad5fecda2621de6c4d95","price":169.819332818,"timestamp":"2019-10-23T03:26:36.000Z","token":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","tokenLiquidity":1384493.845547732,"tokenName":"Dai
        Stablecoin v1.0","tokenSymbol":"DAI","tokenVolume":197700.9329335311},{"ethLiquidity":9400.366612416,"ethVolume":776.0579035411,"exchange":"0x2c4bd064b998838076fa341a83d007fc2fa50957","factory":"0xc0a47dfe034b400b47bdad5fecda2621de6c4d95","price":0.357165893,"timestamp":"2019-10-23T02:21:11.000Z","token":"0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2","tokenLiquidity":3357.490331057,"tokenName":"Maker","tokenSymbol":"MKR","tokenVolume":273.5697065604},{"ethLiquidity":2354.512602242,"ethVolume":553.4389780051,"exchange":"0x3958b4ec427f8fa24eb60f4282[...]
