---
http_interactions:
- request:
    method: get
    uri: https://api.blocklytics.org/pools/v0/exchanges?key=test_key&platform=uniswap
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"direction":"desc","excludeEmpty":null,"limit":null,"offset":0,"orderBy":null,"platform":"uniswap","search":null,"totalRows":1695},"results":[{"base":"0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee","baseLiquidity":31819.67353489,"baseName":"ether","basePrice":33195.792974607,"baseSymbol":"ETH","baseVolume":9365.7507627672,"exchange":"0x05cde89ccfa0ada8c88d5a23caaa79ef129e7883","factory":"0xc0a47dfe034b400b47bdad5fecda2621de6c4d95","ownershipToken":"0x05cde89ccfa0ada8c88d5a23caaa79ef129e7883","platform":"uniswap","timestamp":"2020-05-13T09:03:19.000Z","token":"0x2b591e99afe9f32eaa6214f7b7629768c40eeb39","tokenLiquidity":1056279295.1837825,"tokenName":"HEX","tokenSymbol":"HEX","tokenVolume":307916262.69888675,"usdLiquidity":12112194.516733522,"usdPrice":0.0057334242,"usdVolume":1782541.7804726372},{"base":"0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee","baseLiquidity":19534.54635183,"baseName":"ether","basePrice":188.89980931,"baseSymbol":"ETH","baseVolume":3401.6309729581,"exchange":"0x2a1530c4c41db0b0b2bb646cb5eb1a67b7158667","factory":"0xc0a47dfe034b400b47bdad5fecda2621de6c4d95","ownershipToken":"0x2a1530c4c41db0b0b2bb646cb5eb1a67b7158667","platform":"uniswap","timestamp":"2020-05-13T09:04:20.000Z","token":"0x6b175474e89094c44da98b954eedeac495271d0f","tokenLiquidity":3[...]
