---
http_interactions:
- request:
    method: get
    uri: https://api.blocklytics.org/pools/v1/exchanges?key=test_key&platform=uniswap-v2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"excludeEmpty":null,"limit":null,"offset":0,"orderBy":null,"platform":"uniswap-v2","search":null,"tags":null,"totalRows":440},"results":[{"assets":[{"address":"0x1985365e9f78359a9b6ad760e32412f4a445e862","balance":228437.46430161598,"name":"Reputation","symbol":"REP","weight":0.5},{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","balance":12556.085330170576,"name":"Wrapped
        Ether","symbol":"WETH","weight":0.5}],"exchange":"0xec2d2240d02a8cf63c3fa0b7d2c5a3169a319496","ownershipToken":"0xec2d2240d02a8cf63c3fa0b7d2c5a3169a319496","platform":"Uniswap-v2","poolName":"Uniswap
        REP-WETH","roi":0.99916680442085,"tags":[],"usdLiquidity":5991812.776321485,"usdVolume":105560.9915933758},{"assets":[{"address":"0x6b175474e89094c44da98b954eedeac495271d0f","balance":2121961.2745090555,"name":"Dai
        Stablecoin","symbol":"DAI","weight":0.5},{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","balance":8894.579364435103,"name":"Wrapped
        Ether","symbol":"WETH","weight":0.5}],"exchange":"0xa478c2975ab1ea89e8196811f51a7b7ade33eb11","ownershipToken":"0xa478c2975ab1ea89e8196811f51a7b7ade33eb11","platform":"Uniswap-v2","poolName":"Uniswap
        DAI-WETH[...]
