---
http_interactions:
- request:
    method: get
    uri: https://api.blocklytics.org/uniswap/v1/exchanges?key=test_key
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "code": 3,
         "message": "API key not valid. Please pass a valid API key.",
         "details": [
          {
           "@type": "type.googleapis.com/google.rpc.DebugInfo",
           "stackEntries": [],
           "detail": "service_control"
          }
         ]
        }
  recorded_at: Sun, 31 May 2020 02:29:36 GMT
recorded_with: VCR 4.0.0
