---
http_interactions:
- request:
    method: get
    uri: https://api.blocklytics.org/uniswap/v1/exchanges?key=test_key
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"ethLiquidity":26173.990108174,"ethVolume":3866.1461670335,"exchange":"0x05cde89ccfa0ada8c88d5a23caaa79ef129e7883","factory":"0xc0a47dfe034b400b47bdad5fecda2621de6c4d95","platform":"uniswap","price":48060.184374369,"timestamp":"2020-05-31T01:58:39.000Z","token":"0x2b591e99afe9f32eaa6214f7b7629768c40eeb39","tokenLiquidity":1257926790.4117608,"tokenName":"HEX","tokenSymbol":"HEX","tokenVolume":182107793.45212114},{"ethLiquidity":12197.726001287,"ethVolume":3648.4858069188,"exchange":"0x2a1530c4c41db0b0b2bb646cb5eb1a67b7158667","factory":"0xc0a47dfe034b400b47bdad5fecda2621de6c4d95","platform":"uniswap","price":244.11437521,"timestamp":"2020-05-31T01:58:39.000Z","token":"0x6b175474e89094c44da98b954eedeac495271d0f","tokenLiquidity":2977640.261793023,"tokenName":"Dai
        Stablecoin","tokenSymbol":"DAI","tokenVolume":858761.4228381802},{"ethLiquidity":12913.946143619,"ethVolume":3572.2[...]
