---
http_interactions:
- request:
    method: get
    uri: https://ice3x.com/api/v1/trade/list?pair_id=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":false,"response":{"entities":[{"trade_id":"1489026","pair_id":"3","type":"buy","price":106041.83,"volume":0.0836,"created":"1535952147"},{"trade_id":"1489027","pair_id":"3","type":"buy","price":106041.83,"volume":0.01001052,"created":"1535952592"},{"trade_id":"1489029","pair_id":"3","type":"buy","price":106102.01,"volume":0.05021801,"created":"1535958164"},{"trade_id":"1489030","pair_id":"3","type":"sell","price":106500.01,"volume":0.06670001,"created":"1535958447"},{"trade_id":"1489031","pair_id":"3","type":"buy","price":106102.01,"volume":0.003,"created":"1535958639"},{"trade_id":"1489032","pair_id":"3","type":"se[...]
