---
http_interactions:
- request:
    method: get
    uri: https://ice3x.com/api/v1/stats/marketdepthbtcav
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":false,"response":{"entities":[{"pair_id":"3","vol":"1.65509185","pair_name":"btc\/zar","last_price":"109000.00","max_bid":"109400.00","min_ask":"106000.00"},{"pair_id":"4","vol":"0.00","pair_name":"btc\/ngn","last_price":"1000105.00","max_bid":"2130000.00","min_ask":"6999999.00"},{"pair_id":"6","vol":"1.26639616","pair_name":"ltc\/zar","last_price":"1000.0001","max_bid":"1785.00","min_ask":"1100.00"},{"pair_id":"11","vol":"13.43552493","pair_name":"eth\/zar","last_price":"4350.00","max_bid":"4200.00","min_ask":"4399.998"},{"pair_id":"12","vol":"0.00","pair_name":"eth\/ngn","last_price":"6410.00","max_bid":"21231.00","min_ask":"640949.00[...]
