---
http_interactions:
- request:
    method: get
    uri: https://ice3x.com/api/v1/orderbook/info?pair_id=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":false,"response":{"entities":{"asks":[{"price":109530,"amount":0.00060716},{"price":109884,"amount":0.00066962},{"price":110000,"amount":0.037422},{"price":110000,"amount":0.0204229},{"price":110000,"amount":0.00131328},{"price":110000,"amount":0.06108758},{"price":112000,"amount":0.00541318},{"price":112000,"amount":0.01030376},{"price":112500,"amount":0.13720526},{"price":112950,"amount":0.00617616},{"price":113000,"amount":0.03123464},{"price":114950,"amount":0.04252357},{"price":115000,"amount":0.03510755},{"price":115000,"amount":0.00665609},{"price":1[...]
