---
http_interactions:
- request:
    method: get
    uri: https://cex.io/api/ticker/BTC/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"1511317935","low":"7950","high":"8370","last":"8255.0744","volume":"2045.46539600","volume30d":"60987.01407587","bid":8238.0732,"ask":8255.0728}'
  recorded_at: Wed, 22 Nov 2017 02:32:19 GMT
recorded_with: VCR 3.0.3
