---
http_interactions:
- request:
    method: get
    uri: https://cex.io/api/ticker/BTC/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"1511318989","low":"7950","high":"8370","last":"8245.9995","volume":"2013.77176397","volume30d":"60987.01407587","bid":8240.1614,"ask":8247.4265}'
  recorded_at: Wed, 22 Nov 2017 02:49:49 GMT
recorded_with: VCR 3.0.3
