---
http_interactions:
- request:
    method: get
    uri: https://cex.io/api/ticker/BTC/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"1511282655","low":"7950","high":"8370","last":"8338.5033","volume":"1711.41579931","volume30d":"60361.36767610","bid":8321,"ask":8333.597}'
  recorded_at: Tue, 21 Nov 2017 16:44:15 GMT
recorded_with: VCR 3.0.3
