---
http_interactions:
- request:
    method: get
    uri: https://cex.io/api/ticker/BTC/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"1511323495","low":"7968.995","high":"8370","last":"8262.6184","volume":"1726.09307001","volume30d":"60987.01407587","bid":8262.6183,"ask":8270.2899}'
  recorded_at: Wed, 22 Nov 2017 04:04:55 GMT
recorded_with: VCR 3.0.3
