---
http_interactions:
- request:
    method: get
    uri: https://cex.io/api/trade_history/BTC/USD/?since=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"buy","date":"1405872964","amount":"0.05985928","price":"613.00000000","tid":"1000"},{"type":"buy","date":"1405872964","amount":"0.00064442","price":"612.99200000","tid":"999"},{"type":"buy","date":"1405872964","amount":"0.00540000","price":"612.98000000","tid":"998"},{"type":"buy","date":"1405871309","amount":"0.00060358","price":"613.00000000","tid":"997"},{"type":"sell","date":"1405871276","amount":"0.00021914","price":"608.10000000","tid":"996"},{"type":"sell","date":"1405871276","amount":"0.00042383","price":"612.90000000","tid":"995"},{"type":"buy","date":"14058710[...]
