---
http_interactions:
- request:
    method: get
    uri: https://cex.io/api/trade_history/BTC/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"sell","date":"1511323485","amount":"0.18868020","price":"8262.6184","tid":"4157070"},{"type":"sell","date":"1511323485","amount":"0.01131980","price":"8262.6284","tid":"4157069"},{"type":"sell","date":"1511323482","amount":"0.08137003","price":"8262.6184","tid":"4157068"},{"type":"sell","date":"1511323482","amount":"0.01500070","price":"8265.6042","tid":"4157067"},{"type":"sell","date":"1511323482","amount":"0.01108666","price":"8267.716","tid":"4157066"},{"type":"sell","date":"1511323482","amount":"0.00182161","price":"8267.7224","tid":"4157065"},{"type":"sell","date[...]
