---
http_interactions:
- request:
    method: get
    uri: https://cex.io/api/ticker/BTC/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"1511276490","low":"7950","high":"8337.7228","last":"8330","volume":"1777.61028430","volume30d":"60361.36767610","bid":8329.0508,"ask":8330}'
  recorded_at: Tue, 21 Nov 2017 15:01:30 GMT
recorded_with: VCR 3.0.3
