---
http_interactions:
- request:
    method: get
    uri: https://bitsane.com/api/public/orderbook?pair=ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"statusCode":0,"statusText":"Success","result":{"bids":[{"price":"0.03119748","amount":"31.08900000","timestamp":0},{"price":"0.03118750","amount":"11.96700000","timestamp":0},{"price":"0.03116754","amount":"25.98300000","timestamp":0},{"price":"0.03115756","amount":"4.00900000","timestamp":0},{"price":"0.03114758","amount":"232.03700000","timestamp":0},{"price":"0.03113760","amount":"43.85000000","timestamp":0},{"price":"0.03112762","amount":"298.12500000","timestamp":0},{"price":"0.03110766","amount":"0.02000000","timestamp":0},{"price":"0.03108770","amount":"14.32200000","timestamp":0},{"price":"0.03107[...]
