---
http_interactions:
- request:
    method: get
    uri: https://bitsane.com/api/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ETC_BTC":{"last":"0.00150461","lowestAsk":"0.00152487","highestBid":"0.00150353","percentChange":"1.02000000","baseVolume":"3033.54701335","quoteVolume":"4.61093819","high24hr":"0.00153643","low24hr":"0.00150461","euroEquivalent":"25721.72160265","bitcoinEquivalent":"4.61093819"},"GNO_BTC":{"last":"0.00312115","lowestAsk":"0.00314565","highestBid":"0.00308450","percentChange":"4.37000000","baseVolume":"160.55229698","quoteVolume":"0.48052268","high24hr":"0.00313732","low24hr":"0.00292738","euroEquivalent":"2677.86429029","bitcoinEquivalent":"0.48052268"},"PPC_BTC":{"last":"0.00014829","lowestAsk":"0.00015014","highestBid":"0.00014337","percentChange":"0.95000000","baseVolume":"2122.63116727","quoteVolume":"0.30869649","high24hr":"0.00015028","low24hr":"0.00013693","euroEquivalent":"1711.54143204","bitcoinEquivalent":"0.30869649"},"NMC_BTC":{"last":"0.00009585","lowestAsk":"0.00009694","highestBid":"0.00009051","percentChange":"2.73000000","baseVolume":"4643.68666291","quoteVolume":"0.43539124","high24hr":"0.00009691","low24hr":"0.00009015","euroEquivalent":"2423.06029598","bitcoinEquivalent":"0.43539124"},"MLN_BTC":{"last":"0.00170364","lowestAsk":"0.00174870","highestBid":"0.00171239","percentChange":"0.56000000","baseVolume":"397.30102154","quoteVolume":"0.68290339","high24hr":"0.00175826","low24hr":"0.00166180","euroEquivalent":"3816.77226406","bitcoinEquivalent":"0.68290339"},"VTC_BTC":{"last":"0.00011529","lowestAsk":"0.00011652","highestBid":"0.00010926","percentChange":"8.98000000","baseVolume":"2841.03840910","quoteVolume":"0.30836854","high24hr":"0.00011641","low24hr":"0.00010417","euroEquivalent":"1713.54965786","bitcoinEquivalent":"0.30836854"},"ICN_BCH":{"last":"0.00083654","lowestAsk":"0.00086577","highestBid":"0.00079396","percentChange":"1.21000000","baseVolume":"3839.09352078","quoteVolume":"3.20137408","high24hr":"0.00086869","low24hr":"0.00078809","euroEquivalent":"1219.62666622","bitcoinEquivalent":"0.21859322"},"XRP_BCH":{"last":"0.00104273","lowestAsk":"0.00105048","highestBid":"0.00102919","percentChange":"2.42000000","baseVolume":"16671.04799999","quoteVolume":"17.27230621","high24hr":"0.00106887","low24hr":"0.00099389","euroEquivalent":"6612.93534269","bitcoinEquivalent":"1.18452092"},"DASH_BCH":{"last":"0.35617096","lowestAsk":"0.35705430","highestBid":"0.35003164","percentChange":"3.64000000","baseVolume":"37.54255468","quoteVolume":"13.07463328","high24hr":"0.35813709","low24hr":"0.34132904","euroEquivalent":"4977.17616536","bitcoinEquivalent":"0.89271932"},"BCH_BTC":{"last":"0.06863458","lowestAsk":"0.06938904","highestBid":"0.06797750","percentChange":"0.18000000","baseVolume":"538.81582881","quoteVolume":"36.88509057","high24hr":"0.06902198","low24hr":"0.06788940","euroEquivalent":"205845.04987804","bitcoinEquivalent":"36.88509057"},"BCH_EUR":{"last":"384.20600000","lowestAsk":"388.27800000","highestBid":"383.68800000","percentChange":"0.58000000","baseVolume":"220.41466402","quoteVolume":"84091.39595021","high24hr":"386.54500000","low24hr":"377.13800000","euroEquivalent":"84091.39595021","bitcoinEquivalent":"15.08136794"},"BCH_USD":{"last":"476.65100000","lowestAsk":"482.40000000","highestBid":"457.70000000","percentChange":"0.60000000","baseVolume":"5.11373245","quoteVolume":"2405.83266401","high24hr":"483.68700000","low24hr":"451.36400000","euroEquivalent":"1954.15450560","bitcoinEquivalent":"0.35015251"},"ETH_BCH":{"last":"0.45698751","lowestAsk":"0.45962337","highestBid":"0.45313931","percentChange":"1.58000000","baseVolume":"62.99061004","quoteVolume":"28.84952738","high24hr":"0.46270778","low24hr":"0.44976148","euroEquivalent":"11022.41231927","bitcoinEquivalent":"1.97543373"},"LTC_BCH":{"last":"0.11853223","lowestAsk":"0.11892828","highestBid":"0.11609993","percentChange":"0.08000000","baseVolume":"319.16840442","quoteVolume":"37.85632080","high24hr":"0.12100481","low24hr":"0.11619479","euroEquivalent":"14465.83115236","bitcoinEquivalent":"2.58879955"},"BTC_USD":{"last":"6780.21000000","lowestAsk":"6807.12000000","highestBid":"6733.62900000","percentChange":"0.35000000","baseVolume":"2.15052020","quoteVolume":"14560.13024511","high24hr":"6833.69400000","low24hr":"6704.20500000","euroEquivalent":"11744.46796683","bitcoinEquivalent":"2.10526354"},"BTC_EUR":{"last":"5601.22400000","lowestAsk":"5637.85900000","highestBid":"5597.97000000","percentChange":"0.36000000","baseVolume":"346.42352993","quoteVolume":"1933432.71395140","high24hr":"6375.00000000","low24hr":"5547.49200000","euroEquivalent":"1933432.71395140","bitcoinEquivalent":"346.42352993"},"LTC_BTC":{"last":"0.00805973","lowestAsk":"0.00815142","highestBid":"0.00799574","percentChange":"0.59000000","baseVolume":"14899.46944175","quoteVolume":"120.95189326","high24hr":"0.00823370","low24hr":"0.00799615","euroEquivalent":"676023.76547737","bitcoinEquivalent":"120.94201312"},"ETH_BTC":{"last":"0.03126042","lowestAsk":"0.03150288","highestBid":"0.03120746","percentChange":"0.61000000","baseVolume":"3186.87430994","quoteVolume":"99.80856609","high24hr":"0.03164521","low24hr":"0.03093800","euroEquivalent":"556451.25856401","bitcoinEquivalent":"99.70596816"},"ICN_BTC":{"last":"0.00005707","lowestAsk":"0.00005934","highestBid":"0.00005468","percentChange":"2.54000000","baseVolume":"120293.68689348","quoteVolume":"6.84240521","high24hr":"0.00006028","low24hr":"0.00005402","euroEquivalent":"36067.95021350","bitcoinEquivalent":"6.84240521"},"DASH_BTC":{"last":"0.02434496","lowestAsk":"0.02447273","highestBid":"0.02410649","percentChange":"1.82000000","baseVolume":"2263.48948424","quoteVolume":"53.83219868","high24hr":"0.02472887","low24hr":"0.02338196","euroEquivalent":"299795.36608492","bitcoinEquivalent":"53.81128564"},"XRP_BTC":{"last":"0.00007198","lowestAsk":"0.00007200","highestBid":"0.00007088","percentChange":"3.59000000","baseVolume":"3023054.83844889","quoteVolume":"211.07679902","high24hr":"0.00007432","low24hr":"0.00006764","euroEquivalent":"1176900.19003259","bitcoinEquivalent":"210.90746283"},"CLAM_BTC":{"last":"0.00024984","lowestAsk":"0.00027135","highestBid":"0.00024131","percentChange":"1.02000000","baseVolume":"210.27302761","quoteVolume":"0.05431438","high24hr":"0.00027319","low24hr":"0.00023943","euroEquivalent":"299.58820130","bitcoinEquivalent":"0.05431438"},"LTC_DASH":{"last":"0.33695673","lowestAsk":"0.33814214","highestBid":"0.32672039","percentChange":"1.57000000","baseVolume":"223.24279293","quoteVolume":"76.48611357","high24hr":"0.34907763","low24hr":"0.33227454","euroEquivalent":"10145.78537974","bitcoinEquivalent":"1.81525261"},"DASH_EUR":{"last":"136.91700000","lowestAsk":"137.85000000","highestBid":"134.91700000","percentChange":"2.45000000","baseVolume":"2291.26164200","quoteVolume":"303924.34431318","high24hr":"138.40100000","low24hr":"130.09900000","euroEquivalent":"303924.34431318","bitcoinEquivalent":"54.51551247"},"DASH_ETH":{"last":"0.77974513","lowestAsk":"0.78419485","highestBid":"0.76521543","percentChange":"2.83000000","baseVolume":"107.31874598","quoteVolume":"81.48271606","high24hr":"0.78677507","low24hr":"0.74479801","euroEquivalent":"14204.44572532","bitcoinEquivalent":"2.54751236"},"ICN_DASH":{"last":"0.00243789","lowestAsk":"0.00246158","highestBid":"0.00223432","percentChange":"0.81000000","baseVolume":"9868.91057132","quoteVolume":"23.45478623","high24hr":"0.00252915","low24hr":"0.00225742","euroEquivalent":"3135.46632479","bitcoinEquivalent":"0.56178736"},"BTG_EUR":{"last":"11.84900000","lowestAsk":"21.32200000","highestBid":"10.42900000","percentChange":"7.03000000","baseVolume":"3.97826735","quoteVolume":"59.84616507","high24hr":"20.15900000","low24hr":"11.01500000","euroEquivalent":"59.84616507","bitcoinEquivalent":"0.01225934"},"TIME_BTC":{"last":"0.00101114","lowestAsk":"0.00140698","highestBid":"0.00059918","percentChange":"1.87000000","baseVolume":"5.97292990","quoteVolume":"0.00641697","high24hr":"0.00116344","low24hr":"0.00099216","euroEquivalent":"31.97345317","bitcoinEquivalent":"0.00641697"},"SMS_BTC":{"last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":"0.00000000","baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000000","low24hr":"0.00000000","euroEquivalent":"0.00000000","bitcoinEquivalent":"0.00000000"},"BTC_DOGE":{"last":"1567750.77000000","lowestAsk":"1675000.00000000","highestBid":"1579365.07000000","percentChange":"5.21000000","baseVolume":"0.63672284","quoteVolume":"992713.26371868","high24hr":"1620182.54000000","low24hr":"1485958.56000000","euroEquivalent":"3550.96129155","bitcoinEquivalent":"0.63672284"},"BTG_BTC":{"last":"0.00270733","lowestAsk":"0.00430000","highestBid":"0.00186316","percentChange":"22.86000000","baseVolume":"3.59310870","quoteVolume":"0.01054029","high24hr":"0.00428367","low24hr":"0.00208826","euroEquivalent":"56.91082933","bitcoinEquivalent":"0.01054029"},"VRC_BTC":{"last":"0.00001720","lowestAsk":"0.00001835","highestBid":"0.00001757","percentChange":"3.19000000","baseVolume":"6795.92147803","quoteVolume":"0.11341847","high24hr":"0.00001735","low24hr":"0.00001599","euroEquivalent":"632.28938861","bitcoinEquivalent":"0.11341847"},"REP_BTC":{"last":"0.00223069","lowestAsk":"0.00226326","highestBid":"0.00220193","percentChange":"7.35000000","baseVolume":"298.41073348","quoteVolume":"0.62948670","high24hr":"0.00232657","low24hr":"0.00201503","euroEquivalent":"3520.04208100","bitcoinEquivalent":"0.62948670"},"XRP_USD":{"last":"0.47834600","lowestAsk":"0.48393400","highestBid":"0.47727900","percentChange":"1.43000000","baseVolume":"22054.37175240","quoteVolume":"10456.52567584","high24hr":"0.49399000","low24hr":"0.45578300","euroEquivalent":"8597.40275079","bitcoinEquivalent":"1.54046749"},"XRP_LTC":{"last":"0.00872282","lowestAsk":"0.00896911","highestBid":"0.00869541","percentChange":"1.43000000","baseVolume":"961938.78350000","quoteVolume":"8196.17857963","high24hr":"0.00896179","low24hr":"0.00823282","euroEquivalent":"371423.84919943","bitcoinEquivalent":"66.53343277"},"LTC_USD":{"last":"54.67700000","lowestAsk":"55.67600000","highestBid":"54.33000000","percentChange":"0.48000000","baseVolume":"235.66734278","quoteVolume":"12952.23729233","high24hr":"55.88900000","low24hr":"54.01200000","euroEquivalent":"10697.73975762","bitcoinEquivalent":"1.91511357"},"ICN_XRP":{"last":"0.78789766","lowestAsk":"0.83718962","highestBid":"0.75944444","percentChange":"9.43000000","baseVolume":"5487.98042608","quoteVolume":"4421.56970503","high24hr":"0.86666075","low24hr":"0.73717109","euroEquivalent":"1738.10212610","bitcoinEquivalent":"0.31115355"},"ICN_USD":{"last":"0.38700000","lowestAsk":"0.40400000","highestBid":"0.36800000","percentChange":"1.03000000","baseVolume":"808.85952352","quoteVolume":"311.99536567","high24hr":"0.40300000","low24hr":"0.36900000","euroEquivalent":"256.34776279","bitcoinEquivalent":"0.04595088"},"MLN_ETH":{"last":"0.05629903","lowestAsk":"0.05678250","highestBid":"0.05436680","percentChange":"3.45000000","baseVolume":"104.35977488","quoteVolume":"5.77962258","high24hr":"0.05689928","low24hr":"0.05416060","euroEquivalent":"1003.86597222","bitcoinEquivalent":"0.17989105"},"GNO_ETH":{"last":"0.10025931","lowestAsk":"0.10050000","highestBid":"0.09760950","percentChange":"4.37000000","baseVolume":"9.76608857","quoteVolume":"0.93573376","high24hr":"0.10025931","low24hr":"0.09431748","euroEquivalent":"163.72334026","bitcoinEquivalent":"0.02934799"},"XRP_ETH":{"last":"0.00226207","lowestAsk":"0.00230714","highestBid":"0.00224996","percentChange":"1.47000000","baseVolume":"1541696.35229999","quoteVolume":"3460.25455550","high24hr":"0.00237055","low24hr":"0.00220194","euroEquivalent":"601817.17811469","bitcoinEquivalent":"107.93181446"},"LTC_ETH":{"last":"0.26028998","lowestAsk":"0.26120101","highestBid":"0.25681163","percentChange":"0.94000000","baseVolume":"558.39736306","quoteVolume":"144.66578877","high24hr":"0.26122349","low24hr":"0.25681757","euroEquivalent":"25359.91567242","bitcoinEquivalent":"4.53871397"},"ICN_ETH":{"last":"0.00179660","lowestAsk":"0.00183393","highestBid":"0.00176237","percentChange":"0.68000000","baseVolume":"32337.03160690","quoteVolume":"58.58575785","high24hr":"0.00185775","low24hr":"0.00176708","euroEquivalent":"10235.17546087","bitcoinEquivalent":"1.83449675"},"ETH_EUR":{"last":"175.98900000","lowestAsk":"176.96200000","highestBid":"175.48000000","percentChange":"0.80000000","baseVolume":"2334.12838464","quoteVolume":"407832.51773730","high24hr":"176.32500000","low24hr":"172.67300000","euroEquivalent":"407832.51773730","bitcoinEquivalent":"73.06885080"},"ETH_USD":{"last":"213.73600000","lowestAsk":"214.86800000","highestBid":"210.41200000","percentChange":"1.63000000","baseVolume":"19.81622429","quoteVolume":"4194.71014282","high24hr":"214.83800000","low24hr":"208.75400000","euroEquivalent":"3468.43912158","bitcoinEquivalent":"0.62181380"},"ETC_EUR":{"last":"8.54400000","lowestAsk":"8.58200000","highestBid":"8.43400000","percentChange":"0.47000000","baseVolume":"2392.60607859","quoteVolume":"20245.97164860","high24hr":"8.61300000","low24hr":"8.31800000","euroEquivalent":"20245.97164860","bitcoinEquivalent":"3.63035163"},"ETC_ETH":{"last":"0.04792495","lowestAsk":"0.04872496","highestBid":"0.04785950","percentChange":"3.28000000","baseVolume":"818.72802928","quoteVolume":"39.66865607","high24hr":"0.04949933","low24hr":"0.04792495","euroEquivalent":"6918.17129594","bitcoinEquivalent":"1.24030796"},"XRP_DASH":{"last":"0.00292942","lowestAsk":"0.00298676","highestBid":"0.00289628","percentChange":"0.38000000","baseVolume":"22791.93910000","quoteVolume":"67.89474505","high24hr":"0.00309248","low24hr":"0.00284493","euroEquivalent":"9002.84673130","bitcoinEquivalent":"1.61426726"},"ICN_LTC":{"last":"0.00712873","lowestAsk":"0.00742146","highestBid":"0.00670803","percentChange":"1.86000000","baseVolume":"2916.77336339","quoteVolume":"20.25211618","high24hr":"0.00750609","low24hr":"0.00661553","euroEquivalent":"919.69291656","bitcoinEquivalent":"0.16472674"},"XRP_EUR":{"last":"0.40025300","lowestAsk":"0.40597000","highestBid":"0.39950200","percentChange":"2.36000000","baseVolume":"1048316.86280000","quoteVolume":"410983.50817578","high24hr":"0.41317800","low24hr":"0.37632900","euroEquivalent":"410983.50817578","bitcoinEquivalent":"73.64562022"},"ICN_EUR":{"last":"0.31800000","lowestAsk":"0.33500000","highestBid":"0.30600000","percentChange":"0.94000000","baseVolume":"65975.50673136","quoteVolume":"21052.14329047","high24hr":"0.33400000","low24hr":"0.30400000","euroEquivalent":"21052.14329047","bitcoinEquivalent":"3.74330941"},"LTC_EUR":{"last":"44.97500000","lowestAsk":"46.07500000","highestBid":"44.92800000","percentChange":"0.42000000","baseVolume":"8248.46507025","quoteVolume":"373861.96564210","high24hr":"46.41500000","low24hr":"44.35100000","euroEquivalent":"373861.96564210","bitcoinEquivalent":"66.89485195"},"REP_ETH":{"last":"0.07069040","lowestAsk":"0.07225950","highestBid":"0.06982910","percentChange":"7.47000000","baseVolume":"434.39716096","quoteVolume":"28.86631057","high24hr":"0.07461789","low24hr":"0.06473611","euroEquivalent":"5051.84543843","bitcoinEquivalent":"0.90514018"},"DASH_USD":{"last":"168.60300000","lowestAsk":"169.38500000","highestBid":"158.05300000","percentChange":"6.88000000","baseVolume":"12.93940624","quoteVolume":"2068.23563150","high24hr":"168.60300000","low24hr":"154.94300000","euroEquivalent":"1718.63281426","bitcoinEquivalent":"0.30790700"}}'
  recorded_at: Wed, 24 Oct 2018 07:01:32 GMT
recorded_with: VCR 4.0.0
