---
http_interactions:
- request:
    method: get
    uri: https://api.coin.z.com/public/v1/trades?symbol=BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - a19728da-a159-11e9-bec4-037802f9dfc6
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - cfyJ6Gq-tjMFSAw=
      X-Amzn-Remapped-Server:
      - nginx
      X-Amzn-Remapped-Date:
      - Mon, 08 Jul 2019 08:23:14 GMT
    body:
      encoding: UTF-8
      string: '{"status":0,"data":{"list":[{"price":"1241302","side":"BUY","size":"0.01","timestamp":"2019-07-08T08:22:55.729Z"},{"price":"1241302","side":"SELL","size":"0.01","timestamp":"2019-07-08T08:22:55.729Z"},{"price":"1241302","side":"BUY","size":"0.01","timestamp":"2019-07-08T08:22:50.104Z"},{"price":"1241302","side":"SELL","size":"0.01","timestamp":"2019-07-08T08:22:50.104Z"},{"price":"1241302","side":"BUY","size":"0.01","timestamp":"2019-07-08T08:22:16.231Z"},{"price":"1241302","side":"SELL","size":"0.01","timestamp":"2019-07-08T08:22:16.231Z"},{"price":"1242720","side":"SELL","size"[...]
