---
http_interactions:
- request:
    method: get
    uri: https://api.coin.z.com/public/v1/orderbooks?symbol=BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - a127c4b2-a159-11e9-a456-d94ee5c7ea8f
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - cfyJzEXnNjMFuow=
      X-Amzn-Remapped-Server:
      - nginx
      X-Amzn-Remapped-Date:
      - Mon, 08 Jul 2019 08:23:13 GMT
    body:
      encoding: UTF-8
      string: '{"status":0,"data":{"asks":[{"price":"1242105","size":"0.04"},{"price":"1242172","size":"2.7"},{"price":"1242239","size":"1.8"},{"price":"1242317","size":"0.03"},{"price":"1242385","size":"0.01"},{"price":"1242440","size":"1.8"},{"price":"1242507","size":"1.8"},{"price":"1242708","size":"1.8"},{"price":"1242720","size":"0.19"},{"price":"1242842","size":"0.9"},{"price":"1242976","size":"5.4"},{"price":"1243002","size":"0.07"},{"price":"1243036","size":"0.07"},{"price":"1243177","size":"0.04"},{"price":"1243179","size":"0.01"},{"price":"1243244","siz[...]
