---
http_interactions:
- request:
    method: get
    uri: https://tideal.com/api/v2/trades.json?limit=50&market=ethbtc&order_by=desc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"9b5e0e259d3c419bda311e70605df836"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":5076106,"price":"0.031502","volume":"0.0005926","funds":"0.0000186680852","market":"ethbtc","created_at":"2018-10-18T18:18:41+08:00","side":null},{"id":5076105,"price":"0.031502","volume":"0.0000878","funds":"0.0000027658756","market":"ethbtc","created_at":"2018-10-18T18:18:40+08:00","side":null},{"id":5076101,"price":"0.031502","volume":"0.0089608","funds":"0.0002822831216","market":"ethbtc","created_at":"2018-10-18T18:18:36+08:00","side":null},{"id":5076095,"price":"0.031502","volume":"0.0011128","funds":"0.0000350554256","market":"ethbtc","created_at":"2018-10-18T18:18:20+08:00","side":null},{"id":5076091,"price":"0.031502","volu[...]
