---
http_interactions:
- request:
    method: get
    uri: https://tideal.com/api/v2/order_book.json?market=ethbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"697e00f16cfdf46f043a95e3a94cca07"
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":34370109,"side":"sell","ord_type":"limit","price":"0.031502","avg_price":"0.031502","state":"wait","market":"ethbtc","created_at":"2018-10-18T18:15:15+08:00","volume":"0.0336828","remaining_volume":"0.0110647","executed_volume":"0.0226181","trades_count":8},{"id":34370366,"side":"sell","ord_type":"limit","price":"0.031502","avg_price":"0.0","state":"wait","market":"ethbtc","created_at":"2018-10-18T18:15:36+08:00","volume":"0.0298677","remaining_volume":"0.0298677","executed_volume":"0.0","trades_count":0},{"id":34370626,"side":"sell","ord_type":"limit","price":"0.031502","avg_price":"0.0","state":"wait","market":"ethbtc","created_at":"2018-10-18T18:15:57+08:00","volume":"0.0240351","remaining_volume":"0.0240351","executed_volume":"0.0","trades_c[...]
