---
http_interactions:
- request:
    method: get
    uri: https://app.stocks.exchange/api2/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '[{"min_order_amount":"0.00000010","ask":"0.00001594","bid":"0.00001594","last":"0.00001594","lastDayAgo":"0.000012","vol":"173.07272314","spread":"0","buy_fee_percent":"0.2","sell_fee_percent":"0.2","market_name":"PRG_BTC","market_id":35,"updated_time":1530775099,"server_time":1530775099},{"min_order_amount":"0.00000010","ask":"6650.00000000","bid":"6650.00000000","last":"6650.00000000","lastDayAgo":"6401","vol":"0.20680274","spread":"0","buy_fee_percent":"0.2","sell_fee_percent":"0.2","market_name":"BTC_USDT","market_id":406,"updated_time":1530775099,"server_time":1530775099},{"min_order_amount":"0.00000010","ask":"0.00002459","bid":"0.00002459","last":"0.00002459","lastDayAgo":"0.00002024","vol":"1","spread":"0","buy_fee_percent":"0.2","sell_fee_percent":"0.2","mark[...]
