---
http_interactions:
- request:
    method: get
    uri: https://api3.stex.com/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":262,"amount_multiplier":1,"currency_code":"ARDR","market_code":"BTC","currency_name":"ARDOR","market_name":"Bitcoin","symbol":"ARDR_BTC","group_name":"BTC","group_id":1,"ask":"0.00001735","bid":"0.00001672","last":"0.00001695","open":"0.00001685","low":"0.00001676","high":"0.00001717","volume":"78.31086439","volumeQuote":"4623416.84388176","timestamp":1552876768000},{"id":35,"amount_multiplier":1,"currency_code":"PRG","market_code":"BTC","currency_name":"ParagonCoin","market_name":"Bitcoin","symbol":"PRG_BTC","group_name":"BTC","group_id":1,"ask":"0.00011988","bid":"0.00001619","last":null,"open":null,"low":null,"high":null,"volume":null,"volumeQuote":null,"timestamp":1552876768000},{"id":2,"amount_multiplier":1,"currency_code":"ETH","market_code":"BTC","currency_name":"Ethereum","market_name":"Bitcoin","symbol":"ETH_BTC","group_name":"BTC","[...]
