---
http_interactions:
- request:
    method: get
    uri: https://stocks.exchange/api2/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"currency":"NXT","partner":"BTC","currency_long":"NXT","partner_long":"Bitcoin","min_order_amount":"0.00000001","min_buy_price":"0.00000001","min_sell_price":"0.00000001","buy_fee_percent":"0.2","sell_fee_percent":"0.2","active":true,"currency_precision":8,"partner_precision":8,"market_name":"NXT_BTC"},{"currency":"EAG","partner":"BTC","currency_long":"EACoin","partner_long":"Bitcoin","min_order_amount":"0.00000010","min_buy_price":"0.00000001","min_sell_price":"0.00000001","buy_fee_percent":"0.1","sell_fee_percent":"0.1","active":true,"currency_precision":8,"partner_precision":8,"market_name":"EAG_BTC"},{"currency":"JNS","partner":"NXT","currency_long":"Janus","partner_long":"NXT","min_order_amount":"0.00010000","min_buy_price":"0.00000001","min_sell_price":"0.00000001","buy_fee_pe[...]
