---
http_interactions:
- request:
    method: get
    uri: https://app.stocks.exchange/api2/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"0":{"ask":"0.00001776","bid":"0.00001599","vol":"4766536.04991936","vol_market":"80.16490389","last":"0.00001648","lastDayAgo":"0.00001742","spread":"-5.3960","min_order_amount":"0.00100000","amount_multiplier":1,"buy_fee_percent":"0.2","sell_fee_percent":"0.2","market_name":"ARDR_BTC","currency1_name":"ARDOR","currency2_name":"Bitcoin","market_id":262,"updated_time":1552547505,"server_time":1552547505,"active":"true","group_name":"BTC","group_id":1,"gpoup_position":1},"1":{"ask":0,"bid":0,"vol":0,"vol_market":0,"last":0,"lastDayAgo":0,"spread":0,"min_order_amount":"0.00000100","amount_multiplier":1,"buy_fee_percent":"0.2","sell_fee_percent":"0.2","market_name":"PRG_BTC","currency1_name":"ParagonCoin","currency2_name":"Bitcoin","market_id":35,"updated_time":1552547505,"server_time":1552547505,"active":"true","group_name":"BTC","group_id":1,"gpoup_position":1},"2":{"ask":"0.03447792","bid":"0.03360031","vol":"43366.86605966","vol_market":"1470.92751142","las[...]
