---
http_interactions:
- request:
    method: get
    uri: https://api3.stex.com/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '179'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":969,"amount_multiplier":1,"currency_code":"VEIL","market_code":"BTC","currency_name":"VEIL","market_name":"Bitcoin","symbol":"VEIL_BTC","group_name":"BTC","group_id":1,"ask":"0.00000836","bid":"0.00000816","last":"0.00000815","open":"0.00000771","low":"0.00000771","high":"0.00000882","volume":"0.05449558","volumeQuote":"6681.42925620","count":"96","fiatsRate":{"USD":10067.35,"EUR":9129.83,"UAH":251572,"AUD":14722.99,"IDR":141923207,"CNY":71806,"KRW":12027024,"JPY":1085331,"VND":233525471,"INR":723767,"GBP":8156.18,"CAD":13248.47,"BRL":41120,"RUB":660797},"timestamp":1568172498685,"group_position":1},{"id":1066,"amount_multiplier":1,"currency_code":"DGTX","market_code":"ETH","currency_name":"DigitexFutures","market_name":"Ethereum","symbol":"DGTX_ETH","group_name":"ETH","group_id":3,"ask":"0.00022177","bid":"0.00021569","last":"0.00022177","open":"0.00020669","low":"0.00020669","high":"0.00022177","volume":"0.44562498","volumeQuote":"2051.54725126","count":"3","fiatsRate":{"USD":179.41,"EUR":162.93,"UAH":4493.15,"AUD":262.87,"IDR":2535383,"CNY":1282.36,"KRW":214762,"JPY":19380.48,"VND":41[...]
