---
http_interactions:
- request:
    method: get
    uri: https://stocks.exchange/api2/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"min_order_amount":"0.00000001","ask":"0.000018","bid":"0.0000129","high":"0.000018","low":"0.000015","vol":"16633.4710998","open":"0.0000161","close":"0.000017","last":"0.00001700","lastDayAgo":"0.0000146","spread":"16.4383","buy_fee_percent":"0.2","sell_fee_percent":"0.2","market_name":"NXT_BTC","updated_time":1511348870,"server_time":1511348870},{"min_order_amount":"0.00000010","ask":"0.00067888","bid":"0.0005","high":"0.0006","low":"0.0005","vol":"23893.98332617","open":"0.000597","close":"0.000568","last":"0.00055429","lastDayAgo":"0.00051","spread":"8.6843","buy_fee_percent":"0.1","sell_fee_percent":"0.1","market_name":"EAG_BTC","updated_time":1511348870,"server_time":1511348870},{"min_order_amount":"0.00010000","ask":0,"bid":0,"high":0,"low":0,"vol":0,"open":0,"close":0,"last":"3.70000000","lastDayAgo":"3.7","spread":"0.[...]
