---
http_interactions:
- request:
    method: get
    uri: https://app.stocks.exchange/api2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"0":{"currency":"ARDR","partner":"BTC","currency_long":"ARDOR","partner_long":"Bitcoin","min_order_amount":"0.00100000","min_buy_price":"0.00000001","min_sell_price":"0.00000001","buy_fee_percent":"0.2","sell_fee_percent":"0.2","active":true,"currency_precision":8,"partner_precision":8,"market_name":"ARDR_BTC"},"1":{"currency":"PRG","partner":"BTC","currency_long":"ParagonCoin","partner_long":"Bitcoin","min_order_amount":"0.00000100","min_buy_price":"0.00000001","min_sell_price":"0.00000001","buy_fee_percent":"0.2","sell_fee_percent":"0.2","active":true,"currency_precision":8,"partner_precision":8,"market_name":"PRG_BTC"},"2":{"currency":"ETH","partner":"BTC","currency_long":"Ethereum","partner_long":"Bitcoin","min_order_amount":"0.00000100","min_buy_price":"0.01000000","min_sell_price":"0.[...]
