---
http_interactions:
- request:
    method: get
    uri: https://api3.stex.com/public/orderbook/2?limit_asks=100&limit_bids=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '178'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"ask":[{"currency_pair_id":2,"amount":"0.90091547","price":"0.01770000","amount2":"0.01594620","count":3,"cumulative_amount":0.90091547},{"currency_pair_id":2,"amount":"0.00570000","price":"0.01777498","amount2":"0.00010132","count":1,"cumulative_amount":0.9066154700000001},{"currency_pair_id":2,"amount":"2.39626857","price":"0.01782063","amount2":"0.04270302","count":1,"cumulative_amount":3.3028840400000004},{"currency_pair_id":2,"amount":"0.78629240","price":"0.01789998","amount2":"0.01407462","count":1,"cumulative_amount":4.08917644},{"currency_pair_id":2,"amount":"0.12830299","price":"0.01790000","amount2":"0.0022[...]
