---
http_interactions:
- request:
    method: get
    uri: https://app.stocks.exchange/api2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '[{"currency":"PRG","partner":"BTC","currency_long":"ParagonCoin","partner_long":"Bitcoin","min_order_amount":"0.00000010","min_buy_price":"0.00000001","min_sell_price":"0.00000001","buy_fee_percent":"0.2","sell_fee_percent":"0.2","active":true,"currency_precision":8,"partner_precision":8,"market_name":"PRG_BTC"},{"currency":"BTC","partner":"USDT","currency_long":"Bitcoin","partner_long":"TetherUSD","min_order_amount":"0.00000010","min_buy_price":"0.00000001","min_sell_price":"0.00000001","buy_fee_percent":"0.2","sell_fee_percent":"0.2","active":true,"currency_precision":8,"partner_precision":8,"market_name":"BTC_USDT"},{"currency":"ARDOR","partner":"BTC","currency_long":"ARDOR","partner_long":"Bitcoin","min_order_amount":"0.00000010","min_buy_price":"0.00000001","min_sell_price":"0.00000001",[...]
