---
http_interactions:
- request:
    method: get
    uri: https://api.fcce.jp/api/1/ticker/btc_jpy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"last": 1910280.0, "high": 1960000.0, "low": 1863500.0, "vwap": 1917950.7333,
        "volume": 3474.4999, "bid": 1910025.0, "ask": 1910240.0}'
  recorded_at: Thu, 14 Dec 2017 06:56:36 GMT
recorded_with: VCR 3.0.3
