---
http_interactions:
- request:
    method: get
    uri: https://api.fcce.jp/api/1/trades/btc_jpy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"date": 1513234596, "price": 1910240.0, "amount": 0.0045, "tid":
        86872393, "currency_pair": "btc_jpy", "trade_type": "bid"}, {"date": 1513234595,
        "price": 1910280.0, "amount": 0.0132, "tid": 86872392, "currency_pair": "btc_jpy",
        "trade_type": "bid"}, {"date": 1513234595, "price": 1910280.0, "amount": 0.0591,
        "tid": 86872391, "currency_pair": "btc_jpy", "trade_type": "bid"}, {"date":
        1513234595, "price": 1910275.0, "amount": 0.0132, "tid": 86872390, "currency_pair":
        "btc_jpy", "trade_type": "bid"}, {"date": 1513234594, "price": 1910275.0,
        "amount": 0.01, "tid": 8[...]
