---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.bitcoin.com/api/2/public/trades/ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":667192825,"price":"0.021174","quantity":"0.0103","side":"buy","timestamp":"2019-09-18T08:16:43.969Z"},{"id":667192801,"price":"0.021170","quantity":"0.0006","side":"sell","timestamp":"2019-09-18T08:16:39.188Z"},{"id":667192753,"price":"0.021172","quantity":"0.0145","side":"buy","timestamp":"2019-09-18T08:16:33.650Z"},{"id":667192726,"price":"0.021171","quantity":"0.0271","side":"buy","timestamp":"2019-09-18T08:16:30.497Z"},{"id":667192633,"price":"0.021175","quantity":"0.1851","side":"buy","timestamp":"2019-09-18T08:16:21.605Z"},{"id":667192625,"price":"0.021171","qua[...]
