---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.bitcoin.com/api/2/public/ticker/ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ask":"0.021174","bid":"0.021167","last":"0.021174","open":"0.019425","low":"0.019408","high":"0.021279","volume":"133637.1306","volumeQuote":"2707.3788222063","timestamp":"2019-09-18T08:16:44.014Z","symbol":"ETHBTC"}'
  recorded_at: Wed, 18 Sep 2019 08:16:44 GMT
recorded_with: VCR 4.0.0
