---
http_interactions:
- request:
    method: get
    uri: https://stat-api.openledger.info/api/v1/trades?market=ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":[{"ID":148703,"Timestamp":"1528015389","Quantity":"0.438000","Price":"0.0785","Type":"BUY"},{"ID":148701,"Timestamp":"1528015152","Quantity":"0.035951","Price":"0.0785","Type":"BUY"},{"ID":148699,"Timestamp":"1528015047","Quantity":"0.014078","Price":"0.0785","Type":"BUY"},{"ID":148697,"Timestamp":"1528014969","Quantity":"0.182279","Price":"0.0785","Type":"BUY"},{"ID":148695,"Timestamp":"1528014834","Quantity":"0.054765","Price":"0.0785","Type":"BUY"},{"ID":148693,"Timestamp":"1528014822","Quantity":"0.040218","Price":"0.0785","Type":"BUY"},{"ID":148691,"Timestamp":"1528014708",[...]
