---
http_interactions:
- request:
    method: get
    uri: https://stat-api.openledger.info/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":[{"MarketCurrency":"BITUSD","BaseCurrency":"GOLOS","MarketCurrencyFullName":"BITUSD","Active":true},{"MarketCurrency":"ATB","BaseCurrency":"BTS","MarketCurrencyFullName":"ATB","Active":true},{"MarketCurrency":"BITUSD","BaseCurrency":"NEO","MarketCurrencyFullName":"BITUSD","Active":true},{"MarketCurrency":"BITCNY","BaseCurrency":"GAME","MarketCurrencyFullName":"BITCNY","Active":true},{"MarketCurrency":"ETH","BaseCurrency":"GRC","MarketCurrencyFullName":"Ethereum","Active":true},{"MarketCurrency":"BITCNY","BaseCurrency":"DCT","MarketCurrencyFullName":"BITCNY","Active":true},{"MarketCurrenc[...]
