---
http_interactions:
- request:
    method: get
    uri: https://stat-api.openledger.info/api/v1/orderbook?market=ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":[{"Ask":[{"Quantity":"0.148065","Rate":"0.0785"},{"Quantity":"2","Rate":"0.079"},{"Quantity":"2","Rate":"0.0795"},{"Quantity":"2","Rate":"0.08"},{"Quantity":"0.024881","Rate":"0.08199991961737872272"},{"Quantity":"2","Rate":"0.082"},{"Quantity":"0.361417","Rate":"0.082359988600425547221"},{"Quantity":"2","Rate":"0.084"},{"Quantity":"4","Rate":"0.08439"},{"Quantity":"0.316879","Rate":"0.084949996686432360617"},{"Quantity":"0.492229","Rate":"0.084999481948442696387"},{"Quantity":"0.170257","Rate":"0.084999970632631844799"},{"Quantity":[...]
