---
http_interactions:
- request:
    method: get
    uri: https://api.palitanx.com/v1/public/getmarkethistory/BTC-LTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"Quantity":"0.22490209","Price":"0.0115","Total":"0.00258637","OrderType":"SELL","TimeStamp":"2018-08-11T02:00:47"},{"Quantity":"0.11455029","Price":"0.012","Total":"0.0013746","OrderType":"SELL","TimeStamp":"2018-08-07T16:29:47"},{"Quantity":"0.17464686","Price":"0.0115","Total":"0.00200844","OrderType":"SELL","TimeStamp":"2018-08-07T16:08:25"},{"Quantity":"0.19562138","Price":"0.0115","Total":"0.00224965","OrderType":"SELL","TimeStamp":"2018-08-07T15:08:26"},{"Quantity":"0.11520676","Price":"0.0115","Total":"0.00132488","OrderType":"SELL","TimeStamp":"2018-08-05T16:38:03"},{"Quantity"[...]
