---
http_interactions:
- request:
    method: get
    uri: https://api.palitanx.com/v1/public/getorderbook/BTC-LTC/both
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":{"buy":[{"Quantity":"1500","Rate":"0.000001"},{"Quantity":"0.14070236","Rate":"0.0085"}],"sell":[{"Quantity":"0.29","Rate":"0.01773"},{"Quantity":"0.25","Rate":"0.01774"},{"Quantity":"0.44","Rate":"0.01772"},{"Quantity":"0.00298364","Rate":"123.71774"},{"Quantity":"0.5","Rate":"0.012"},{"Quantity":"0.79453024","Rate":"0.0115"}]}}'
  recorded_at: Fri, 14 Sep 2018 10:59:01 GMT
recorded_with: VCR 4.0.0
