---
http_interactions:
- request:
    method: get
    uri: https://api.palitanx.com/v1/public/getmarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketCurrency":"XAP2","BaseCurrency":"BTC","MarketCurrencyLong":"Apolloncoin2","BaseCurrencyLong":"Bitcoin","MarketName":"BTC-XAP2","MinTradeSize":"0","IsActive":true},{"MarketCurrency":"ADN","BaseCurrency":"BTC","MarketCurrencyLong":"Adrenaline","BaseCurrencyLong":"Bitcoin","MarketName":"BTC-ADN","MinTradeSize":"0","IsActive":true},{"MarketCurrency":"BCC","BaseCurrency":"BTC","MarketCurrencyLong":"Bitconnect","BaseCurrencyLong":"Bitcoin","MarketName":"BTC-BCC","MinTradeSize":"0","IsActive":true},{"MarketCurrency":"ZNCO","BaseCurrency":"BTC","MarketCurrencyLong":"Zncoin","BaseCurrencyLong":"Bitcoin","MarketName":"BTC-ZNCO","MinTradeSize":"0","IsActive":t[...]
