---
http_interactions:
- request:
    method: get
    uri: https://api.palitanx.com/v1/public/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-XAP2","Bid":null,"Ask":null,"Last":null,"High":null,"Low":null,"Volume":null,"BaseVolume":null,"OpenBuyOrders":1,"OpenSellOrders":0},{"MarketName":"BTC-ADN","Bid":null,"Ask":null,"Last":null,"High":null,"Low":null,"Volume":null,"BaseVolume":null,"OpenBuyOrders":0,"OpenSellOrders":2},{"MarketName":"BTC-BCC","Bid":"0.000068","Ask":"0.000078","Last":"0.000068","High":"0.000071","Low":"0.000068","Volume":"608.69449615","BaseVolume":"0.04268031","OpenBuyOrders":14,"OpenSellOrders":20},{"MarketName":"BTC-ZNCO","Bid":"0.00000002","Ask":"0.00000004","Last":"0.00000002","High":null,"Low":null,"Volume":null,"BaseVolume":null,"OpenBu[...]
