---
http_interactions:
- request:
    method: get
    uri: https://api.palitanx.com/v1/public/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-XAP2","Bid":null,"Ask":null,"Last":null,"High":null,"Low":null,"Volume":null,"BaseVolume":null,"OpenBuyOrders":0,"OpenSellOrders":0},{"MarketName":"BTC-ADN","Bid":null,"Ask":null,"Last":null,"High":null,"Low":null,"Volume":null,"BaseVolume":null,"OpenBuyOrders":0,"OpenSellOrders":1},{"MarketName":"BTC-BCC","Bid":"0.0000805","Ask":"0.0000805","Last":"0.0000805","High":"0.00009898","Low":"0.00007052","Volume":"821.77091088","BaseVolume":"0.07337623","OpenBuyOrders":7,"OpenSellOrders":29},{"MarketName":"BTC-ZNCO","Bid":null,"Ask":"0.00000004","Last":"0.00000004","High":null,"Low":null,"Volume":null,"BaseVolume":null,"OpenBuyO[...]
