---
http_interactions:
- request:
    method: get
    uri: https://marketcap.backend.currency.com/api/v1/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC/BYN":{"base_currency":"BTC","quote_currency":"BYN","last_price":21381.6,"quote_volume":6842.831999999999534338712692260742187500000,"base_volume":0.32,"isFrozen":false,"past_24hrs_high_price":21895.7,"past_24hrs_low_price":20781.55,"past_24hrs_price_change":-5.9732,"lowest_ask_price":21395.45,"highest_bid_price":21383.85},"ETH/USD":{"base_currency":"ETH","quote_currency":"USD","last_price":270.35,"quote_volume":1745446.6925999999558740682914503850042819976806640625,"base_volume":6468.93,"isFrozen":false,"past_24hrs_high_price":271.98,"past_24hrs_low_price":242.27,"past_24hrs_price_change":6.8619,"lowest_ask_price":269.83,"highest_bid_price":269.82},"BCH/USD":{"base_currency":"BCH","quote_currency":"USD","last_price":408.5,"quote_volume":108930.95999999999394276528619229793548583984375000,"base_volume":2[...]
