---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/v2/markets/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"data":[{"buy":"0.01574138","change":"-0.00023173","changePercentage":"-1.45%","close":"0.01575000","createdDate":1527151719889,"currencyId":12,"dayHigh":"0.01607379","dayLow":"0.01556000","high":"0.01607379","last":"0.01575000","low":"0.01556000","marketFrom":103,"name":{},"open":"0.01598173","orderIndex":"0","productId":12,"sell":"0.01575000","symbol":"ltc_btc","volume":"416591.20601900"},{"buy":"0.07727626","change":"-0.00153617","changePercentage":"-1.95%","close":"0.07727626","createdDate":1527151729196,"currencyId":13,"dayHigh":"0.07953323","dayLow":"0.07565466","high":"0.07953323","last":"0.07727626","low":"0.07565466","marketFrom":104,"name":{},"open":"0.07881243","orderIndex":"0","productId":13,"sell":"0.07734471","symbol":"eth_btc","volume":"94297.65933000"},{"buy":"0.00198943","change":"+0.00001272","changePercentage":"+0.64%","close":"0.00199353","cre[...]
