---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/v1/tickers.do
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"date":"1526986982","tickers":[{"symbol":"btc_usdt","high":"8503.3887","vol":"25885.8293","last":"8260.5081","low":"6002.0000","buy":"8256.3300","sell":"8260.5081"},{"symbol":"ltc_usdt","high":"136.5000","vol":"402317.1400","last":"133.9276","low":"132.1000","buy":"133.9000","sell":"134.2200"},{"symbol":"eth_usdt","high":"736.0000","vol":"132046.3123","last":"691.3482","low":"680.5600","buy":"691.3482","sell":"691.6588"},{"symbol":"okb_usdt","high":"5.0600","vol":"45299104.9209","last":"3.9900","low":"3.6300","buy":"3.9816","sell":"3.9899"},{"symbol":"etc_usdt","high":"18.0600","vol":"2140652.1794","last":"17.2984","low":"17.0599","buy":"17.278[...]
