---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/spot/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Brokerid:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"best_ask":"0.006003","best_bid":"0.006","instrument_id":"LTC-BTC","product_id":"LTC-BTC","last":"0.006002","last_qty":"2.514","ask":"0.006003","best_ask_size":"78.195766","bid":"0.006","best_bid_size":"280","open_24h":"0.005919","high_24h":"0.006058","low_24h":"0.005833","base_volume_24h":"110832.534833","timestamp":"2020-03-27T10:38:35.178Z","quote_volume_24h":"658.706389"},{"best_ask":"0.02041","best_bid":"0.0204","instrument_id":"ETH-BTC","product_id":"ETH-BTC","last":"0.02041","last_qty":"0.04895","ask":"0.02041","best_ask_size":"187.221622","bid":"0.0204","best_bid_size":"259.220098","open_24h":"0.02043","high_24h":"0.02073","low_24h":"0.02017","base_volume_24h":"65296.331284","timestamp":"2020-03-27T10:38:37.248Z","quote_volume_24h":"1332.781009"},{"best_ask":"0.0007692","best_bid":"0.0007684","instrument_id":"ETC-BTC","product_id":"ETC-BTC","las[...]
