---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/v1/tickers.do
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"date":"1526987100","tickers":[{"symbol":"btc_usdt","high":"8503.3887","vol":"25943.3647","last":"8252.4000","low":"6002.0000","buy":"8252.4000","sell":"8255.4715"},{"symbol":"ltc_usdt","high":"136.5000","vol":"402303.6981","last":"133.9000","low":"132.1000","buy":"133.6375","sell":"133.8575"},{"symbol":"eth_usdt","high":"736.0000","vol":"131989.1505","last":"690.3000","low":"680.5600","buy":"690.3000","sell":"690.8511"},{"symbol":"okb_usdt","high":"5.0600","vol":"45298726.8131","last":"3.9821","low":"3.6300","buy":"3.9821","sell":"3.9898"},{"symbol":"etc_usdt","high":"18.0600","vol":"2141040.9123","last":"17.2784","low":"17.0599","buy":"17.260[...]
