---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/spot/v3/instruments/ETH-USDT/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ok-Before:
      - '18312537'
      Ok-After:
      - '18312428'
      Ok-From:
      - '18312537'
      Ok-To:
      - '18312428'
      Ok-Limit:
      - '100'
      X-Brokerid:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"time":"2020-03-27T10:38:43.530Z","timestamp":"2020-03-27T10:38:43.530Z","trade_id":"18312537","price":"136.12","size":"1.965","side":"sell"},{"time":"2020-03-27T10:38:41.269Z","timestamp":"2020-03-27T10:38:41.269Z","trade_id":"18312536","price":"136.13","size":"0.237886","side":"buy"},{"time":"2020-03-27T10:38:34.515Z","timestamp":"2020-03-27T10:38:34.515Z","trade_id":"18312535","price":"136.12","size":"1.445404","side":"sell"},{"time":"2020-03-27T10:38:34.515Z","timestamp":"2020-03-27T10:38:34.515Z","trade_id":"18312534","price":"136.13","size":"0.005774","side":"sell"},{"time":"2020-03-27T10:38:34.515Z","timestamp":"2020-03[...]
