---
http_interactions:
- request:
    method: post
    uri: https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2
    body:
      encoding: UTF-8
      string: '{"query":"query Cryptoexchange__Exchanges__Uniswap__TheGraphClient__TokenDayDataQuery($token:
        String!, $range_timestamp: Int!) {\n  tokenDayDatas(orderBy: date, orderDirection:
        desc, where: {token: $token, date_gte: $range_timestamp}) {\n    id\n    token
        {\n      symbol\n      id\n      derivedETH\n    }\n    date\n    dailyVolumeToken\n    date\n  }\n}","variables":{"token":"0x261efcdd24cea98652b9700800a13dfbca4103ff","range_timestamp":1592005363},"operationName":"Cryptoexchange__Exchanges__Uniswap__TheGraphClient__TokenDayDataQuery"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"tokenDayDatas":[{"dailyVolumeToken":"0.471071123529911389","date":1592092800,"id":"0x261efcdd24cea98652b9700800a13dfbca4103ff-18427","token":{"derivedETH":"7.379649782493822322047736710529888","id":"0x261efcdd24cea98652b9700800a13dfbca4103ff","symbol":"sXAU"}},{"dailyVolumeToken":"0.378588386666844109","date":1592006400,"id":"0x261efcdd24cea98652b9700800a13dfbca4103ff-18426","token":{"derivedETH":"7.379649782493822322047736710529888","id":"0x261efcdd24cea98652b9700800a13dfbca4103ff","symbol":"sXAU"}}]}}'
  recorded_at: Sun, 14 Jun 2020 11:42:43 GMT
recorded_with: VCR 4.0.0
