---
http_interactions:
- request:
    method: get
    uri: https://www.crxzone.com/API/CurrencyPairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorMessage":null,"IsSuccess":true,"Result":[{"ID":1,"PrimaryCurrencyName":"BTC","PrimaryCurrencyCode":"BTC","SecondaryCurrencyName":"USD","SecondaryCurrencyCode":"USD","MinimumOrderAmount":0.0000000100},{"ID":5,"PrimaryCurrencyName":"LTC","PrimaryCurrencyCode":"LTC","SecondaryCurrencyName":"USD","SecondaryCurrencyCode":"USD","MinimumOrderAmount":0.0000000100},{"ID":1009,"PrimaryCurrencyName":"LTC","PrimaryCurrencyCode":"LTC","SecondaryCurrencyName":"SGD","SecondaryCurrencyCode":"SGD","MinimumOrderAmount":0.0000000100},{"ID":1010,"PrimaryCurrencyName":"BTC","PrimaryCurrencyCode":"BTC","SecondaryCurrencyName":"SGD","SecondaryCurrencyCode":"SGD","MinimumOrderAmount":0.0000000100},{"ID":1013,"PrimaryCurrencyName":"DOGE","PrimaryCurrencyCode":"DOGE","SecondaryCurrencyName":"SGD","SecondaryCurrencyCode":"SGD","MinimumOrderAmount":1.0000000000}]}'
  recorded_at: Thu, 12 Apr 2018 08:53:11 GMT
- request:
    method: get
    uri: https://www.crxzone.com/API/Market_Depth?currencyPairID=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorMessage":null,"IsSuccess":true,"Result":{"Bids":[[6850.8748200000,0.0598100000],[6833.5633900000,0.1207800000],[6818.8413100000,0.1805700000],[6800.5559100000,0.2425000000],[6783.5207200000,0.2872300000],[6772.7181000000,0.3423400000],[6748.4122600000,0.3940600000],[6743.0339700000,0.4550600000],[6720.1086000000,0.5467300000],[6711.1087800000,0.5631700000],[6694.4756900000,0.6296600000],[6675.9718700000,0.6768000000],[6651.5488100000,0.7277700000],[6639.3068200000,0.7773800000],[6630.2181800000,0.9113600000],[6601.9672600000,0.9210400000],[6594.2938900000,1.0134500000],[6586.1789500000,1.0910900000],[6569.1564000000,1.1562200000],[6535.9322500000,1.1782300000],[6524.7263000000,1.2896300000],[6513.6508200000,1.1662400000],[6478.7448000000,1.2888200000],[6477.4689500000,1.4066000000],[6455.6717600000,1.4168400000],[405.0000000000,4.0000000000],[4.8728500000,0.0005000000],[4.1000000000,1.4599000000],[1.1200000000,0.0006600000]],"Asks":[[7114.7771800000,0.1036700000],[7123.1046400000,0.2045400000],[7130.8479000000,0.3034700000],[7140.7053300000,0.4018600000],[7147.9597400000,0.4703900000],[7158.8538300000,0.5875800000],[7164.9282300000,0.6598800000],[7173.9689900000,0.8133400000],[7178.8518800000,0.9400800000],[7187.9542800000,0.9448800000],[7203.4078200000,1.1986600000],[7203.9289800000,1.1381700000],[7217.9103900000,1.2966700000],[7220.9699600000,1.3110400000],[7228.6736700000,1.4414400000],[7238.7319900000,1.6127100000],[7252.2612800000,1.6401800000],[7257.8616700000,1.8320200000],[7260.0263800000,1.7654600000],[7267.0474600000,1.9307100000],[7285.3428400000,2.0542900000],[7289.9483300000,2.1858000000],[7291.5304000000,2.3562500000],[7314.1764000000,2.3624100000],[7315.5718900000,2.4989800000]],"TimeStamp":1523523151}}'
  recorded_at: Thu, 12 Apr 2018 08:53:12 GMT
recorded_with: VCR 4.0.0
