---
http_interactions:
- request:
    method: get
    uri: https://www.crxzone.com/API/Market_Depth?currencyPairID=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorMessage":null,"IsSuccess":true,"Result":{"Bids":[[10000.2693100000,0.0452700000],[10000.0399400000,0.0453500000],[9985.1454800000,0.0977600000],[9984.3268700000,0.0888000000],[9972.4191400000,0.1365200000],[9970.0260600000,0.1476700000],[9954.8029800000,0.1885900000],[9951.5950400000,0.1875900000],[9943.8833300000,0.2287600000],[9938.8057100000,0.2373000000],[9929.9869200000,0.2803000000],[9909.8308600000,0.3139900000],[9900.5692500000,0.3882700000],[9879.1829900000,0.4257100000],[9871.4444800000,0.4666400000],[9857.5136200000,0.5288200000],[9829.5005900000,0.5819400000],[9812.9260300000,0.5857300000],[9807.0610300000,0.6348300000],[9791.3942600000,0.6963600000],[9778.2369200000,0.7573200000],[9770.1033700000,0.8038100000],[8600.0100000000,0.0240700000],[8600.0000000000,0.0020300000],[7000.0000000000,0.9775600000],[6500.1825200000,0.0424600000],[405.0000000000,4.0000000000],[4.8728500000,0.0005000000],[4.1000000000,1.4599000000],[1.1200000000,0.0006600000]],"Asks":[[10419.7447700000,0.0704700000],[10433.0515600000,0.1469900000],[10443.0722000000,0.2126300000],[10456.3515600000,0.3149400000],[10468.3270900000,0.3515100000],[10480.7616200000,0.4818900000],[10493.6622200000,0.5314600000],[10502.2651900000,0.6332200000],[10516.3014200000,0.6980600000],[10530.5722700000,0.7578500000],[10540.5810100000,0.8533200000],[10562.2183500000,0.9447900000],[10565.5332800000,0.9009900000],[10586.5016200000,1.0063900000],[10594.2944500000,1.1549300000],[10594.8262500000,1.1197700000],[10611.8851900000,1.3603100000],[10623.0504400000,1.3295200000],[10649.4761600000,1.3132800000],[10666.0351600000,1.5137000000],[10669.5439100000,1.6182600000],[10688.7578200000,1.5975700000],[10696.8834800000,1.8197600000],[10706.9173700000,1.7646500000]],"TimeStamp":1518760786}}'
  recorded_at: Fri, 16 Feb 2018 06:00:34 GMT
recorded_with: VCR 3.0.3
