---
http_interactions:
- request:
    method: get
    uri: https://www.crxzone.com/API/CurrencyPairs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorMessage":null,"IsSuccess":true,"Result":[{"ID":1,"PrimaryCurrencyName":"BTC","PrimaryCurrencyCode":"BTC","SecondaryCurrencyName":"USD","SecondaryCurrencyCode":"USD","MinimumOrderAmount":0.0000000100},{"ID":5,"PrimaryCurrencyName":"LTC","PrimaryCurrencyCode":"LTC","SecondaryCurrencyName":"USD","SecondaryCurrencyCode":"USD","MinimumOrderAmount":0.0000000100},{"ID":1009,"PrimaryCurrencyName":"LTC","PrimaryCurrencyCode":"LTC","SecondaryCurrencyName":"SGD","SecondaryCurrencyCode":"SGD","MinimumOrderAmount":0.0000000100},{"ID":1010,"PrimaryCurrencyName":"BTC","PrimaryCurrencyCode":"BTC","SecondaryCurrencyName":"SGD","SecondaryCurrencyCode":"SGD","MinimumOrderAmount":0.0000000100},{"ID":1013,"PrimaryCurrencyName":"DOGE","PrimaryCurrencyCode":"DOGE","SecondaryCurrencyName":"SGD","SecondaryCurrencyCode":"SGD","MinimumOrderAmount":1.0000000000}]}'
  recorded_at: Tue, 13 Feb 2018 14:55:22 GMT
recorded_with: VCR 3.0.3
