---
http_interactions:
- request:
    method: get
    uri: https://www.crxzone.com/API/CurrencyPairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorMessage":null,"IsSuccess":true,"Result":[{"ID":1,"PrimaryCurrencyName":"BTC","PrimaryCurrencyCode":"BTC","SecondaryCurrencyName":"USD","SecondaryCurrencyCode":"USD","MinimumOrderAmount":0.0000000100},{"ID":5,"PrimaryCurrencyName":"LTC","PrimaryCurrencyCode":"LTC","SecondaryCurrencyName":"USD","SecondaryCurrencyCode":"USD","MinimumOrderAmount":0.0000000100},{"ID":1009,"PrimaryCurrencyName":"LTC","PrimaryCurrencyCode":"LTC","SecondaryCurrencyName":"SGD","SecondaryCurrencyCode":"SGD","MinimumOrderAmount":0.0000000100},{"ID":1010,"PrimaryCurrencyName":"BTC","PrimaryCurrencyCode":"BTC","SecondaryCurrencyName":"SGD","SecondaryCurrencyCode":"SGD","MinimumOrderAmount":0.0000000100},{"ID":1013,"PrimaryCurrencyName":"DOGE","PrimaryCurrencyCode":"DOGE","SecondaryCurrencyName":"SGD","SecondaryCurrencyCode":"SGD","MinimumOrderAmount":1.0000000000}]}'
  recorded_at: Thu, 12 Apr 2018 08:53:13 GMT
- request:
    method: get
    uri: https://www.crxzone.com/API/Trades?currencyPairID=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorMessage":null,"IsSuccess":true,"Result":[{"ID":2592475,"Price":7050.1505400000,"Amount":0.1400199998,"Type":1,"TimeStamp":1523516628},{"ID":2592474,"Price":7039.5420100000,"Amount":0.1599800000,"Type":1,"TimeStamp":1523516628},{"ID":2592469,"Price":7150.0000000000,"Amount":3.5000000000,"Type":1,"TimeStamp":1523510312},{"ID":2592463,"Price":7213.6894400000,"Amount":0.1351099999,"Type":1,"TimeStamp":1523504813},{"ID":2592462,"Price":7204.8706700000,"Amount":0.0948900000,"Type":1,"TimeStamp":1523504812},{"ID":2592457,"Price":7162.7606500000,"Amount":0.1151995992,"Type":1,"TimeStamp":1523469411},{"ID":2592456,"Price":7[...]
