---
http_interactions:
- request:
    method: get
    uri: https://www.crxzone.com/API/Trades?currencyPairID=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorMessage":null,"IsSuccess":true,"Result":[{"ID":2591800,"Price":8092.8420300000,"Amount":0.0314123090,"Type":1,"TimeStamp":1522224279},{"ID":2591799,"Price":8079.6115200000,"Amount":0.2384900000,"Type":1,"TimeStamp":1522224279},{"ID":2591798,"Price":8064.5987500000,"Amount":0.1239900000,"Type":1,"TimeStamp":1522224279},{"ID":2591794,"Price":8054.2993600000,"Amount":0.1000000000,"Type":1,"TimeStamp":1522215355},{"ID":2591793,"Price":8073.7404000000,"Amount":0.2451999996,"Type":1,"TimeStamp":1522207330},{"ID":2591792,"Price":8058.3189500000,"Amount":0.1548000000,"Type":1,"TimeStamp":1522207330},{"ID":2591788,"Price":8[...]
