---
http_interactions:
- request:
    method: get
    uri: https://open-api.coinlink.co.kr/openApi/orderbook?apiKey=TEST1&currency=BTC&lineArr=AP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Secretheader:
      - 4b5bbbb4f562e01077600db506816a55bd7da91f2aef0b0cf1d93c5779565942
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"0","message":"정상처리","orderNumber":0,"data":{"order_currency":"BTC","asks":[{"it_market_cost":"30000000","it_action":"sell","nResCoin":"0.0017"},{"it_market_cost":"29000000","it_action":"sell","nResCoin":"0.0082"},{"it_market_cost":"26780000","it_action":"sell","nResCoin":"0.0011"},{"it_market_cost":"26501000","it_action":"sell","nResCoin":"0.0652"},{"it_market_cost":"26000000","it_action":"sell","nResCoin":"0.02"},{"it_market_cost":"25700000","it_action":"sell","nResCoin":"0.015"},{"it_market_cost":"25000000","it_action":"sell","nResCoin":"0.01"},{"it_market_cost":"24000000","it_action":"sell","nResCoin":"0.0053"},{"it_market_[...]
