---
http_interactions:
- request:
    method: get
    uri: http://coinpulse.io/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.coinpulse.io/api/v1/markets
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 31 Oct 2018 23:51:37 GMT
- request:
    method: get
    uri: https://www.coinpulse.io/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ci-Csrf-Token:
      - afa7459930891b7da372687c3930c367
    body:
      encoding: ASCII-8BIT
      string: '{"success":"true","result":[{"MarketCurrency":"BTC","BaseCurrency":"USDT","MarketCurrencyFullName":"Bitcoin","Active":true},{"MarketCurrency":"ETH","BaseCurrency":"BTC","MarketCurrencyFullName":"Ethereum","Active":true},{"MarketCurrency":"ETH","BaseCurrency":"USDT","MarketCurrencyFullName":"Ethereum","Active":true},{"MarketCurrency":"LTC","BaseCurrency":"BTC","MarketCurrencyFullName":"Litecoin","Active":true},{"MarketCurrency":"LTC","BaseCurrency":"ETH","MarketCurrencyFullName":"Litecoin","Active":true},{"MarketCurrency":"LTC","BaseCurrency":"CPEX","MarketCurrencyFullName":"Litecoin","Active":true},{"MarketCurr[...]
