---
http_interactions:
- request:
    method: get
    uri: https://api.coindcx.com/exchange/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e723f691ab674dc301ecba0d2fbafc28"
    body:
      encoding: UTF-8
      string: '[{"market":"QSPBTC","change_24_hour":"-1.393","high":"0.00001188","low":"0.00001030","last_price":"0.00001062","bid":"0.00001057","ask":"0.00001062","timestamp":1531281439},{"market":"QSPETH","change_24_hour":"0.908","high":"0.00017190","low":"0.00014908","last_price":"0.00015665","bid":"0.00015475","ask":"0.00015640","timestamp":1531281439},{"market":"LINKBTC","change_24_hour":"-1.545","high":"0.00003435","low":"0.00003176","last_price":"0.00003314","bid":"0.00003295","ask":"0.00003314","timestamp":1531281439},{"market":"IOSTBTC","change_24_hour":"-7.692","high":"0.00000341","low":"0.00000311","last_price":"0.00000313","bid":"0.00000312","ask":"0.00000[...]
