---
http_interactions:
- request:
    method: get
    uri: https://api.coindcx.com/exchange/v1/markets_details
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"eb949db6ba8c1aac015b72e0e3f77edc"
    body:
      encoding: UTF-8
      string: '[{"coindcx_name":"QSPBTC","base_currency_short_name":"BTC","target_currency_short_name":"QSP","target_currency_name":"Quantstamp","base_currency_name":"Bitcoin","min_quantity":1.0,"max_quantity":1000000.0,"min_notional":0.001,"base_currency_precision":8,"target_currency_precision":0,"step":1.0,"order_types":["limit_order","market_order"],"symbol":"QSPBTC","ecode":"B"},{"coindcx_name":"QSPETH","base_currency_short_name":"ETH","target_currency_short_name":"QSP","target_currency_name":"Quantstamp","base_currency_name":"Ethereum","min_quantity":1.0,"max_quantity":1000000.0,"min_notional":0.01,"base_currency_precision":8,"target_currency_precision":0,"step":1.0,"order_types":["limit_order","market_order"],"symbol":"QSPETH","ecode":"B"},{"coindcx_name":"LINKBTC","base_currency_short_name":"BTC","target_currency_short_name":"LINK","target_currency_name":"ChainL[...]
