---
http_interactions:
- request:
    method: get
    uri: https://api.coindcx.com/exchange/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"81a2a07ff950645390bd66c2561b4cb2"
    body:
      encoding: UTF-8
      string: '[{"market":"BTCINR","change_24_hour":"-5.635","high":"437925.25","low":"409000.0","volume":"4510700.1430400043792525","last_price":"410845.03","bid":"410800.00000000","ask":"410845.03000000","timestamp":1584518547},{"market":"BSVUSDT","change_24_hour":"-5.219","high":"125","low":"112.0601","volume":"40853189.495545834","last_price":"113.6106","bid":"113.6105","ask":"113.7244","timestamp":1584518547},{"market":"IOTABTC","change_24_hour":"1.044","high":"0.00002296","low":"0.00002143","volume":"145.26166755","last_price":"0.00002226","bid":"0.00002222","ask":"0.00002227","timestamp":1584518547},{"market":"WAVESETH","change_24_hour":"5.486","high":"0.00798700","low":"0.00663000","volume":"1368.5571[...]
