---
http_interactions:
- request:
    method: get
    uri: https://api.dex-trade.com/v1/coingecko/pubticker2/BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last_price":3957.7,"low":3972.4,"high":4000,"volume":62.2737995,"timestamp":1552300534.911346}'
  recorded_at: Mon, 11 Mar 2019 10:35:40 GMT
recorded_with: VCR 4.0.0
