---
http_interactions:
- request:
    method: get
    uri: https://api.dex-trade.com/v1/coingecko/deals?symbol=btcusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"direction":"BUY","price":10362.5629,"amount":0.01644,"trade_date":1563522423000},{"direction":"BUY","price":10333.97353,"amount":0.01595,"trade_date":1563521057000},{"direction":"BUY","price":10326.41729,"amount":0.01878,"trade_date":1563521915000},{"direction":"BUY","price":10307.07884,"amount":0.01575,"trade_date":1563521128000},{"direction":"BUY","price":10264.97773,"amount":0.02942,"trade_date":1563521237000},{"direction":"BUY","price":10261.26241,"amount":0.0322,"trade_date":1563521255000},{"direction":"BUY","price":10233.36315,"amount":0.02949,"trade_dat[...]
