---
http_interactions:
- request:
    method: get
    uri: https://api.dex-trade.com/v1/coingecko/depth?limit_asks=5&limit_bids=5&symbol=BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"asks":[{"price":"10574","amount":"0.01824","timestamp":"1563521967.773"},{"price":"10593","amount":"0.01828","timestamp":"1563521683.667"},{"price":"10613","amount":"0.01762","timestamp":"1563520917.331"},{"price":"10630","amount":"0.0179","timestamp":"1563520767.959"},{"price":"10713","amount":"0.03171","timestamp":"1563522172.35"}],"bids":[{"price":"10363","amount":"0.01644","timestamp":"1563522423.829"},{"price":"10334","amount":"0.01595","timestamp":"1563521057.622"},{"price":"10326","amount":"0.01878","timestamp":"1563521915.277"},{"price":"10307","amount":"0.01575","timestamp":"1563521128.668"},{"price":"10265","amount":"0.02942","timestamp":"1563521237.592"}]}'
  recorded_at: Fri, 19 Jul 2019 07:47:24 GMT
recorded_with: VCR 4.0.0
