---
http_interactions:
- request:
    method: get
    uri: https://api.dex-trade.com/v1/coingecko/pubticker2/BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last_price":3975,"low":3972.4,"high":4000,"volume":60.49468375,"timestamp":1552297760.965495}'
  recorded_at: Mon, 11 Mar 2019 09:49:26 GMT
recorded_with: VCR 4.0.0
