---
http_interactions:
- request:
    method: get
    uri: https://api.dex-trade.com/v1/coingecko/pubticker2/BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last_price":10489.20058,"low":9292.5986,"high":10781.84033,"volume":56.669522,"timestamp":1563522440.228101}'
  recorded_at: Fri, 19 Jul 2019 07:47:24 GMT
recorded_with: VCR 4.0.0
