---
http_interactions:
- request:
    method: get
    uri: https://api.dex-trade.com/v1/coingecko/pubticker2/BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last_price":3969.5,"low":3972.4,"high":4000,"volume":61.32766545,"timestamp":1552299019.236667}'
  recorded_at: Mon, 11 Mar 2019 10:10:24 GMT
recorded_with: VCR 4.0.0
