---
http_interactions:
- request:
    method: get
    uri: https://vitex.vite.net/api/v1/trades?symbol=BTC-000_USDT-000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"ok","data":{"height":null,"trade":[{"tradeId":"6da7c8fe22bbf69f48dbd8dc0f61ebed62930d43","symbol":"BTC-000_USDT-000","tradeTokenSymbol":"BTC-000","quoteTokenSymbol":"USDT-000","tradeToken":"tti_b90c9baffffc9dae58d1f33f","quoteToken":"tti_80f3751485e4e83456059473","price":"7257.4573","quantity":"0.0019","amount":"13.7891","time":1578044106,"side":0,"buyerOrderId":"00000100ffffffe3a69586cbc2ff005e0f0ab3000014","sellerOrderId":"000001010000001c596a79343d00005e0f0ab3000013","buyFee":"0.01861500","sellFee":"0.01861500","blockHeight":10894528},{"tradeId":"4dbc874670ac1a4bcce66355d9ca2ad01745e41f","symbol":"BTC-000_USDT-000","tradeTokenSymbol":"BTC-000","quoteTokenSymbol":"USDT-000","tradeToken":"tti_b90c9baffffc9dae58d1f33f","quoteToken":"tti_80f3751485e4e83456059473","price":"7252.8847","quantity":"0.0019","amount":"13.7804","time":1578043791,"side":0,"buyerOrderId":"00000100ffffffe3ab3203c550ff005e0f098100000e","sellerOrderId":"000001010000001c54cdfc3aaf00005e0f098100000d","buyFee":"0.01860300","sellFee":"0.01860300","bloc[...]
