---
http_interactions:
- request:
    method: get
    uri: https://vitex.vite.net/api/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"ok","data":[{"symbol":"GRIN-000_VITE","tradeTokenSymbol":"GRIN-000","quoteTokenSymbol":"VITE","tradeToken":"tti_289ee0569c7d3d75eac1b100","quoteToken":"tti_5649544520544f4b454e6e40","openPrice":"91.28","prevClosePrice":"91.47","closePrice":"91.48","priceChange":"0.20","priceChangePercent":0.00219106,"highPrice":"93.25","lowPrice":"82.40","quantity":"31792.06","amount":"2797633.60","pricePrecision":2,"quantityPrecision":6,"openTime":null,"closeTime":null},{"symbol":"GRIN-000_BTC-000","tradeTokenSymbol":"GRIN-000","quoteTokenSymbol":"BTC-000","tradeToken":"tti_289ee0569c7d3d75eac1b100","quoteToken":"tti_b90c9baffffc9dae58d1f33f","openPrice":"0.00013534","prevClosePrice":"0.00013599","closePrice":"0.00013599","priceChange":"0.00000065","priceChangePercent":0.00480272,"highPrice":"0.00014248","lowPrice":"0.00012802","quantity":"10938.93000000","amount":"1.49410941","pricePrecision":8,"quantityPrecision":2,"openTime":null,"closeTime":null},{"sy[...]
