---
http_interactions:
- request:
    method: get
    uri: https://vitex.vite.net/api/v1/depth?symbol=BTC-000_USDT-000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"ok","data":{"height":null,"asks":[{"price":"7281.1087","quantity":"0.0001","amount":"0.7687"},{"price":"7288.1987","quantity":"0.0015","amount":"11.6300"},{"price":"7294.9552","quantity":"0.0015","amount":"11.2838"},{"price":"7301.5101","quantity":"0.0014","amount":"10.5297"},{"price":"7308.8778","quantity":"0.0011","amount":"8.5466"},{"price":"7314.9732","quantity":"0.0010","amount":"8.0270"},{"price":"7316.0635","quantity":"0.0015","amount":"11.0955"},{"price":"7318.0000","quantity":"0.0433","amount":"316.8694"},{"price":"7321.6981","quantity":"0.0012","amount":"9.3413"},{"pr[...]
