---
http_interactions:
- request:
    method: get
    uri: https://vitex.vite.net/api/v1/trades?symbol=BTC-000_USDT-000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"ok","data":{"height":null,"trade":[{"tradeId":"9bf354b70259b8b8f532b321f4dc25faf089d79c","symbol":"BTC-000_USDT-000","tradeTokenSymbol":"BTC-000","quoteTokenSymbol":"USDT-000","tradeToken":"tti_b90c9baffffc9dae58d1f33f","quoteToken":"tti_80f3751485e4e83456059473","price":"7159.7638","quantity":"0.0030","amount":"21.4792","time":1578039770,"side":0,"buyerOrderId":"00000100ffffffe4084e29f8e9ff005e0ef9b9000012","sellerOrderId":"000001010000001bf7b1d6071600005e0ef9b9000011","buyFee":"0.02899700","sellFee":"0.02899700","blockHeight":10891395},{"tradeId":"ec87523265b9f4b0c2e34dc5c29c9c332da64a31","symbol":"BTC-000_USDT-000","tradeTokenSymbol":"BTC-000","quoteTokenSymbol":"USDT-000","tradeToken":"tti_b90c9baffffc9dae58d1f33f","quoteToken":"tti_80f3751485e4e83456059473","price":"7158.3361","quantity":"0.0024","amount":"17.1800","time":1578039459,"side":0,"buyerOrderId":"00000100ffffffe409b1bee0feff005e0ef88400000f","sellerOrderId":"000001010000001bf64e411f0100005e0ef88400000e","buyFee":"0.02319300","sellFee":"0.02319300","bloc[...]
