---
http_interactions:
- request:
    method: get
    uri: http://labs.escodex.com/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"36","time":"2018-08-01T17:16:18","base":"BTC","quote":"RVN","latest":"0.0000031955488826498","lowest_ask":"0.0000036199977617115","highest_bid":"0.0000035362358323956","percent_change":"1.44","base_volume":"4.35670989","quote_volume":"1304464.69989277"},{"id":"62","time":"2018-08-01T17:16:18","base":"BTC","quote":"LPC","latest":"0.0008208618805397057","lowest_ask":"0.00084399978531793","highest_bid":"0.0006000000001238011","percent_change":"7.46","base_volume":"3.0596669","quote_volume":"3861.89688425"},{"id":"8","time":"2018-08-01T17:16:18","base":"BTC","quote":"ESCO","latest":"0.00003243","lowest_ask":"0.0000324199578132143","highest_bid":"0.000026359806602882","percent_change":"-29.11","base_volume":"2.24729573","quote_vo[...]
