---
http_interactions:
- request:
    method: get
    uri: https://omnitrade.io/api/v2/order_book?market=btcbrl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":285903,"side":"sell","ord_type":"limit","price":"27000.0","avg_price":"0.0","state":"wait","market":"btcbrl","created_at":"2018-06-26T12:43:54-03:00","volume":"0.01064338","remaining_volume":"0.01064338","executed_volume":"0.0","trades_count":0},{"id":285960,"side":"sell","ord_type":"limit","price":"27000.0","avg_price":"0.0","state":"wait","market":"btcbrl","created_at":"2018-06-26T13:06:00-03:00","volume":"0.00508802","remaining_volume":"0.00508802","executed_volume":"0.0","trades_count":0},{"id":285779,"side":"sell","ord_type":"limit","price":"27750.0","avg_price":"0.0","state":"wait","market":"btcbrl","created_at":"2018-06-26T11:48:44-03:00","volume":"0.10473339","remaining_volume":"0.10473339","executed_volume":"0.0","trades_cou[...]
