---
http_interactions:
- request:
    method: get
    uri: https://omnitrade.io/api/v2/trades?market=btcbrl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"tid":106071,"price":"23970.0","amount":"0.0056079","funds":"134.421363","market":"btcbrl","created_at":"2018-06-27T09:36:13-03:00","date":1530102973,"side":null},{"tid":106061,"price":"23974.0","amount":"0.00357543","funds":"85.71735882","market":"btcbrl","created_at":"2018-06-27T09:29:00-03:00","date":1530102540,"side":null},{"tid":106053,"price":"23778.0","amount":"0.00199097","funds":"47.34128466","market":"btcbrl","created_at":"2018-06-27T09:21:54-03:00","date":1530102114,"side":null},{"tid":106052,"price":"23800.0","amount":"0.00051942","funds":"12.362196","market":"btcbrl","created_at":"2018-06-27T09:21:54-03:00","date":1530102114,"side":null[...]
