---
http_interactions:
- request:
    method: get
    uri: https://omnitrade.io/api/v2/tickers/btcbrl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"86de9cff9c2540614b7f0d07b6cb89c9"
    body:
      encoding: ASCII-8BIT
      string: '{"at":1530104173,"ticker":{"buy":23790.0,"sell":24500.0,"low":23727.0,"high":27750.0,"last":23790.0,"vol":"2.75206081"}}'
  recorded_at: Wed, 27 Jun 2018 12:56:13 GMT
recorded_with: VCR 4.0.0
