---
http_interactions:
- request:
    method: get
    uri: https://www.artisturba.com/api/trade_history/XLM_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"1","message":"Success","trade_history":[{"date":"2020-01-21
        18:35:16","type":"Sell","rate":"0.000375","amount":"0.07164593","total":2.686722375e-5},{"date":"2020-01-21
        09:22:40","type":"Buy","rate":"0.00038","amount":"442.15502632","total":0.1680189100016},{"date":"2020-01-21
        09:22:37","type":"Buy","rate":"0.00038","amount":"58.84497368","total":0.0223610899984},{"date":"2020-01-21
        09:22:26","type":"Buy","rate":"0.00038","amount":"470","total":0.1786},{"date":"2020-01-21
        09:22:14","type":"Sell","rate":"0.000375","amount":"5","total":0.001875},{"date":"2020-01-21
        09:22:10","type":"Buy",[...]
