---
http_interactions:
- request:
    method: get
    uri: https://www.artisturba.com/api/trade_history/ETN_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"1","message":"Success","trade_history":[{"date":"2020-01-23
        05:42:50","type":"Buy","rate":"0.00002295","amount":"12500","total":0.286875},{"date":"2020-01-22
        10:44:11","type":"Buy","rate":"0.00002295","amount":"45000","total":1.03275},{"date":"2020-01-22
        09:46:58","type":"Buy","rate":"0.00002295","amount":"17421","total":0.39981195},{"date":"2020-01-22
        09:46:39","type":"Buy","rate":"0.000023","amount":"11000","total":0.253},{"date":"2020-01-22
        09:46:39","type":"Buy","rate":"0.000023","amount":"5556","total":0.127788},{"date":"2020-01-22
        09:46:31","type":"Sell","rate":"0.0000226","a[...]
