---
http_interactions:
- request:
    method: get
    uri: https://www.artisturba.com/api/order_book/ETN_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"1","message":"Success","bids":[["7400.93800000","0.00002275"],["5144.00000000","0.0000225"],["1400.00000000","0.000022"],["1450.00000000","0.0000215"],["1253.00000000","0.000021"],["1133.00000000","0.0000205"],["150000.00000000","0.00002"],["10000.00000000","0.000013"],["10000.00000000","0.000012"],["10000.00000000","0.000011"],["10000.00000000","0.00001"],["10000.00000000","0.000009"],["10000.00000000","0.000008"],["10000.00000000","0.000007"]],"asks":[["7300.00000000","0.00002325"],["5500.00000000","0.0000235"],["2500.00000000","0.000024"],["1261.00000000","0.0000245"],["2696.50000000","0.0000265"],["2345.06000000","0.000027"],["1670.00000000","0.0000275"],["1735.00000000","0.000028"],["125000.00000000","0.00003"],["0.03566459","1.00002041"]]}'
  recorded_at: Thu, 23 Jan 2020 07:34:31 GMT
recorded_with: VCR 4.0.0
