---
http_interactions:
- request:
    method: get
    uri: https://www.artisturba.com/api/order_book/XLM_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"1","message":"Success","bids":[["94.92835407","0.000375"],["250.00000000","0.00037"],["50.00000000","0.000365"],["50.00000000","0.00036"],["40.67000000","0.00035"],["75.00000000","0.00034"],["75.00000000","0.000335"],["47.00000000","0.00033"],["5000.00000000","0.0003"],["500.00000000","0.000155"],["500.00000000","0.00015"],["500.00000000","0.00014"],["750.00000000","0.00013"],["750.00000000","0.00012"],["750.00000000","0.00011"],["1500.00000000","0.0001"]],"asks":[["113.50000000","0.000385"],["250.00000000","0.00039"],["28.00000000","0.000395"],["29.00000000","0.0004"],["33.22500000","0.00041"],["17.00000000","0.000415"],["25.00000000","0.00042"],["55.00000000","0.000425"],["20.00000000","0.00043"]]}'
  recorded_at: Wed, 22 Jan 2020 09:16:38 GMT
recorded_with: VCR 4.0.0
