---
http_interactions:
- request:
    method: get
    uri: https://api.hb.top/api/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Accel-Buffering:
      - 'no'
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"","detailMsg":"","data":[{"buy":"0.00000000","sell":"0.00000000","high":"0.00000000","low":"0.00000000","last":"0.00000000","volume":"0","changePercentage":"0.00%","symbol":"hb_btc"},{"buy":"0.00000994","sell":"0.00001020","high":"0.00001051","low":"0.00000992","last":"0.00001026","volume":"5926286.869","changePercentage":"-1.77%","symbol":"1st_btc"},{"buy":"0.00000138","sell":"0.00000153","high":"0.00000153","low":"0.00000136","last":"0.00000145","volume":"590583.32","changePercentage":"-4.00%","symbol":"gsc_btc"},{"buy":"0.00021669","sell":"0.00022291","high":"0.00023038","low":"0.00021961","last":"0.00021959","volume":"29674.0437","changePercentage":"-4.24%","sy[...]
