---
http_interactions:
- request:
    method: get
    uri: https://api.hb.top/api/v1/getDepth?num=100&symbol=gsc_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Accel-Buffering:
      - 'no'
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"","detailMsg":"","data":{"buy":[{"volume":"4258.10","price":"0.00000091","marketAmount":"0.00387487"},{"volume":"6624.21","price":"0.00000090","marketAmount":"0.00596178"},{"volume":"8870.43","price":"0.00000089","marketAmount":"0.00789469"},{"volume":"10315.15","price":"0.00000088","marketAmount":"0.00907733"},{"volume":"9945.02","price":"0.00000087","marketAmount":"0.00865216"},{"volume":"8878.10","price":"0.00000086","marketAmount":"0.00763516"},{"volume":"10402.75","price":"0.00000085","marketAmount":"0.00884233"},{"volume":"9873.60","price":"0.00000084","marketAmount":"0.00829[...]
