---
http_interactions:
- request:
    method: get
    uri: https://coinroom.com/api/ticker/BTC/USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
            "low": 8207.63,
            "high": 10149.84,
            "vwap": 9376.9544932163,
            "volume": 2.8003025,
            "last": 9856.83,
            "ask": 9857.4,
            "bid": 9580.94
        }
  recorded_at: Mon, 12 Mar 2018 07:01:59 GMT
recorded_with: VCR 4.0.0
