---
http_interactions:
- request:
    method: get
    uri: https://omgfin.com/api/v1/order/book/BATETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sucuri-Id:
      - '18014'
      X-Nginx-Cache-Status:
      - BYPASS
      X-Server-Powered-By:
      - Omgfin
      X-Sucuri-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"symbol":"BATETH","bids":[{"amount":"823.700000000000000000","price":"0.001718800000000000","hp_v":13},{"amount":"648.700000000000000000","price":"0.001713900000000000","hp_v":10},{"amount":"7459.100000000000000000","price":"0.001713730000000000","hp_v":100},{"amount":"7089.100000000000000000","price":"0.001708550000000000","hp_v":100},{"amount":"3196.500000000000000000","price":"0.001706380000000000","hp_v":50},{"amount":"1085.400000000000000000","price":"0.001698100000000000","hp_v":17},{"amount":"7361.000000000000000000","price":"0.001695250000000000","hp_v":100},{"amount":"6807.400000000000000000","price":"0.001692350000000000","hp_v":100},{"amount":"5648.300000000000000000","price":"0.001686820000000000","hp_v":89},{"amount":"1962.500000000000000000","price":"0.001682140000000000","hp_v":31},{"amount":"4380.100000000000000000","price":"0.001665300000000000","hp_v":69},{"amount":"748.200000000000000000","price":"0.001660430000000000","hp_v":11},{"amount":"2095.600000000000000000","price":"0.001652930000000000","hp_v":33},{"amount":"6325.100000000000000000","price":"0.001639550000000000","hp_v":100},{"amount":"5430.700000000000000000","price":"0.001626660000000000","hp_v":86},{"amount":"2391.400000000000000000","price":"0.001609550000000000","hp_v":37},{"amount":"5482.100000000000000000","price":"0.001609510000000000","hp_v":87},{"amount":"2638.000000000000000000","price":"0.001579750000000000","hp_v":41}],"asks":[{"amount":"2743.500000000000000000","price":"0.001800150000000000","hp_v":35},{"amount":"1785.300000000000000000","price":"0.001837310000000000","hp_v":23},{"amount":"5749.300000000000000000","price":"0.001853750000000000","hp_v":74},{"amount":"6021.700000000000000000","price":"0.001878380000000000","hp_v":77},{"amount":"7916.400000000000000000","price":"0.001883830000000000","hp_v":100},{"amount":"5869.700000000000000000","price":"0.001888660000000000","hp_v":75},{"amount":"3127.00000000000000[...]
