---
http_interactions:
- request:
    method: get
    uri: https://omgfin.com/api/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sucuri-Id:
      - '18014'
      X-Nginx-Cache-Status:
      - BYPASS
      X-Server-Powered-By:
      - Omgfin
      X-Sucuri-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: '[{"symbol":"BAT_BTC","openPrice":"0.000072760000000000","lastPrice":"0.000072040000000000","priceChange":"-0.000000720000000000","priceChangePercent":"-0.9994447529150471960022","bidPrice":"0.000070620000000000","askPrice":"0.000072630000000000","highPrice":"0.000073250000000000","lowPrice":"0.000070390000000000","volume":"52109.400000000000000000","quoteVolume":"3.728623386000000000000000000000","openTime":"1556683728134","closeTime":"1556770128134","numberOfTrades":"50"},{"symbol":"BAT_ETH","openPrice":"0.002402150000000000","lastPrice":"0.002376200000000000","priceChange":"-0.000025950000000000","priceChangePercent":"-1.0920797912633616698931","bidPrice":"0.002359310000000000","askPrice":"0.002400570000000000","highPrice":"0.002450570000000000","lowPrice":"0.002352070000000000","volume":"336788.600000000000000000","quoteVolume":"807.198930048000000000000000000000","openTime":"1556683728134","closeTime":"1556770128134","numberOfTrades":"76"},{"symbol":"BAT[...]
