---
http_interactions:
- request:
    method: get
    uri: https://api.stellarterm.com/v1/ticker.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Request-Id:
      - C8E1A18CFC845C8E
      Last-Modified:
      - Sat, 14 Apr 2018 08:00:19 GMT
      Etag:
      - '"06c95052de0317777979d3c0a255feb7"'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_meta": {
            "start": 1523692811,
            "startISO": "Sat Apr 14 2018 08:00:11 GMT+0000 (UTC)",
            "apiLicense": "Apache-2.0",
            "horizon": {
              "core_latest_ledger": 17344848,
              "network_passphrase": "Public Global Stellar Network ; September 2015"
            },
            "externalPrices": {
              "USD_BTC": 8133.81,
              "BTC_XLM": 0.00003207,
              "USD_XLM": 0.260851,
              "USD_XLM_24hAgo": 0.244954,
              "USD_XLM_change": 6.49
            },
            "stellarTermVersion": "951"
          },
          "assets": [
            {
              "id": "XLM-native",
              "code": "XLM",
              "issuer": null,
              "domain": "native",
              "slug": "XLM-native",
              "website": "https://www.stellar.org/lumens/",
              "price_XLM": 1,
              "price_USD": 0.260851,
              "volume24h_XLM": 1803539.8,
              "volume24h_USD": 470455.18,
              "activityScore": 100
            },
            {
              "id": "MOBI-GA6HCMBLTZS5VYYBCATRBRZ3BZJMAFUDKYYF6AH6MVCMGWMRDNSWJPIH",
              "code": "MOBI",
              "issuer": "GA6HCMBLTZS5VYYBCATRBRZ3BZJMAFUDKYYF6AH6MVCMGWMRDNSWJPIH",
              "domain": "mobius.network",
              "slug": "MOBI-mobius.network",
              "website": "https://mobius.network/",
              "topTradePairSlug": "MOBI-mobius.network/XLM-native",
              "change24h_XLM": -3.6,
              "change24h_USD": 2.66,
              "price_XLM": 0.2731,
              "price_USD": 0.071238,
              "numTrades24h": 400,
              "_numTradeRecords24h": 54,
              "volume24h_XLM": 327296.31,
              "volume24h_USD": 85375.57,
              "spread": 0.0066,
              "numBids": 20,
              "numAsks": 20,
              "depth10_XLM": 80531,
              "depth10_USD": 21006.59,
              "activityScore": 33.87
            },
            {
              "id": "REPO-GCZNF24HPMYTV6NOEHI7Q5RJFFUI23JKUKY3H3XTQAFBQIBOHD5OXG3B",
              "code": "REPO",
              "issuer": "GCZNF24HPMYTV6NOEHI7Q5RJFFUI23JKUKY3H3XTQAFBQIBOHD5OXG3B",
              "domain": "repocoin.io",
              "slug": "REPO-repocoin.io",
              "website": "https://repocoin.io",
              "topTradePairSlug": "REPO-repocoin.io/XLM-native",
              "change24h_XLM":[...]
