---
http_interactions:
- request:
    method: get
    uri: https://api.bitopro.com/v2/order-book/BTC_TWD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "bids": [
          {
           "price": "172501",
           "amount": "0.1",
           "count": 10,
           "total": "0.1"
          },
          {
           "price": "172500",
           "amount": "0.08535652",
           "count": 1,
           "total": "0.18535652"
          },
          {
           "price": "172100",
           "amount": "0.3",
           "count": 1,
           "total": "0.48535652"
          },
          {
           "price": "171000",
           "amount": "0.38796903",
           "count": 1,
           "total": "0.87332555"
          },
          {
           "price": "169300",
       [...]
