---
http_interactions:
- request:
    method: get
    uri: https://api.bitopro.com/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "data": [
          {
           "pair": "xem_btc",
           "lastPrice": "0.00000804",
           "isBuyer": false,
           "priceChange24hr": "0",
           "volume24hr": "0.00000000",
           "high24hr": "0.00000804",
           "low24hr": "0.00000804"
          },
          {
           "pair": "bch_eth",
           "lastPrice": "1.36500000",
           "isBuyer": false,
           "priceChange24hr": "0",
           "volume24hr": "0.00000000",
           "high24hr": "1.36500000",
           "low24hr": "1.36500000"
          },
          {
           "pair": "eth_usdt",
           "lastPrice": "175.47000000",
           "isBuyer": false,
           "priceChange24hr": "-2.62",
           "volume24hr": "101.24205914",
           "h[...]
