---
http_interactions:
- request:
    method: get
    uri: https://api.bitopro.com/v2/order-book/BTC_TWD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "asks": [
          {
           "amount": "0.01",
           "count": 1,
           "price": "109999",
           "total": "0.01"
          },
          {
           "amount": "0.55227412",
           "count": 1,
           "price": "110000",
           "total": "0.56227412"
          },
          {
           "amount": "0.01",
           "count": 1,
           "price": "110199",
           "total": "0.57227412"
          },
          {
           "amount": "0.05",
           "count": 1,
           "price": "110299",
           "total": "0.62227412"
          },
          {
           "amount": "0.1",
           "c[...]
