---
http_interactions:
- request:
    method: get
    uri: https://api.bitopro.com/v2/order-book/BTC_TWD?limit=20
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "bids": [
          {
           "price": "254182",
           "amount": "0.01611435",
           "count": 2,
           "total": "0.01611435"
          },
          {
           "price": "254101",
           "amount": "0.01",
           "count": 1,
           "total": "0.02611435"
          },
          {
           "price": "254066",
           "amount": "0.01656262",
           "count": 1,
           "total": "0.04267697"
          },
          {
           "price": "254060",
           "amount": "0.04969692",
           "count": 1,
           "total": "0.09237389"
          },
          {
           "price": "254016",[...]
