---
http_interactions:
- request:
    method: get
    uri: https://api.bitopro.com/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "data": [
          {
           "pair": "xem_btc",
           "lastPrice": "0.00000098",
           "isBuyer": false,
           "priceChange24hr": "0",
           "volume24hr": "0.00000000",
           "high24hr": "0.00000098",
           "low24hr": "0.00000098"
          },
          {
           "pair": "bch_eth",
           "lastPrice": "0.60010000",
           "isBuyer": false,
           "priceChange24hr": "0",
           "volume24hr": "0.00000000",
           "high24hr": "0.60010000",
           "low24hr": "0.60010000"
          },
          {
           "pair": "eth_usdt",
           "lastPrice": "166.87000000",
           "isBuyer": true,
           "priceChange24hr": "3.76",
           "volume24hr": "288.53494062",
           "hig[...]
