---
http_interactions:
- request:
    method: get
    uri: https://api.bitopro.com/v2/trades/BTC_TWD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "data": [
          {
           "timestamp": 1556875073,
           "price": "174730.00000000",
           "amount": "0.31774192",
           "isBuyer": false
          },
          {
           "timestamp": 1556874958,
           "price": "174730.00000000",
           "amount": "0.06255109",
           "isBuyer": true
          },
          {
           "timestamp": 1556874958,
           "price": "174600.00000000",
           "amount": "0.29090699",
           "isBuyer": true
          },
          {
           "timestamp": 1556874736,
           "price": "174730.00000000",
           "amount": "0.11501214",
           "isBuyer": true
       [...]
