---
http_interactions:
- request:
    method: get
    uri: https://api.bitopro.com/v2/trades/BTC_TWD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "data": [
          {
           "timestamp": 1570004660,
           "price": "255490.00000000",
           "amount": "0.08260645",
           "isBuyer": true
          },
          {
           "timestamp": 1570004660,
           "price": "255480.00000000",
           "amount": "0.01100000",
           "isBuyer": true
          },
          {
           "timestamp": 1570004660,
           "price": "255456.00000000",
           "amount": "0.00700000",
           "isBuyer": true
          },
          {
           "timestamp": 1570004660,
           "price": "255450.00000000",
           "amount": "0.01100000",
           "isBuyer": true
        [...]
