---
http_interactions:
- request:
    method: get
    uri: https://www.coinsuper.com/v1/api/market/hour24Market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - coinsuper-gateway:4000
    body:
      encoding: ASCII-8BIT
      string: '{"code":"1000","data":{"ABBC/BTC":{"baseVolume":"43105232.7986","high24hr":"0.00000835","highestBid":"0.00000793","id":1,"isFrozen":0,"last":"0.00000829","low24Hr":"0.00000793","lowestAsk":"0.00000830","percentChange":"0.0323","quoteVolume":"348.9580"},"ACD/BTC":{"baseVolume":"83952.1515","high24hr":"0.00000532","highestBid":"0.00000488","id":1,"isFrozen":0,"last":"0.00000495","low24Hr":"0.00000452","lowestAsk":"0.00000495","percentChange":"-0.0100","quoteVolume":"0.4092"},"ACD/USD":{"baseVolume":"7153.8807","high24hr":"0.0600","highestBid":"0.0400","id":1,"isFrozen":0,"last":"0.0485","low24Hr":"0.0400","lowestAsk":"0.0600","percentChange":"-0.1917","quoteVolume":"308.3519"},"AIT/ETH":{"baseVolume":"10146910.8000","high24hr":"0.000[...]
