---
http_interactions:
- request:
    method: get
    uri: https://www.coinsuper.com/v1/api/market/hour24Market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application:35101
      X-Cdn-Edge:
      - c50d603,-
    body:
      encoding: ASCII-8BIT
      string: "{\n\t\"code\":\"1000\",\n\t\"data\":{\n\t\t\"BCH/BTC\":{\n\t\t\t\"baseVolume\":\"1769.7332\",\n\t\t\t\"high24hr\":\"0.15650200\",\n\t\t\t\"highestBid\":\"0.15154800\",\n\t\t\t\"id\":1,\n\t\t\t\"isFrozen\":0,\n\t\t\t\"last\":\"0.15154800\",\n\t\t\t\"low24Hr\":\"0.14408800\",\n\t\t\t\"lowestAsk\":\"0.15172200\",\n\t\t\t\"percentChange\":\"0.0510\",\n\t\t\t\"quoteVolume\":\"267.1741\"\n\t\t},\n\t\t\"BCH/ETH\":{\n\t\t\t\"baseVolume\":\"807.7002\",\n\t\t\t\"high24hr\":\"1.94175000\",\n\t\t\t\"highestBid\":\"1.89050000\",\n\t\t\t\"id\":1,\n\t\t\t\"isFrozen\":0,\n\t\t\t\"last\":\"1.89050000\",\n\t\t\t\"low24Hr\":\"1.81409908\",\n\t\t\t\"lowestAsk\":\"1.89050000\",\n\t\t\t\"percentChange\":\"0.0253\",\n\t\t\t\"quoteVolume\":\"1520.1094\"\n\t\t},\n\t\t\"BCH/USD\":{\n\t\t\t\"baseVolume\":\"1692.9132\",\n\t\t\t\"high24hr\":\"1215.42\",\n\t\t\t\"highestBid\":\"1152.50\",\[...]
