---
http_interactions:
- request:
    method: get
    uri: https://www.coinsuper.com/v1/api/market/hour24Market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application:35101
      X-Via-Jsl:
      - c50d603,-
    body:
      encoding: ASCII-8BIT
      string: "{\n\t\"code\":\"1000\",\n\t\"data\":{\n\t\t\"BCH/BTC\":{\n\t\t\t\"baseVolume\":\"2243.6537\",\n\t\t\t\"high24hr\":\"0.16899997\",\n\t\t\t\"highestBid\":\"0.14276900\",\n\t\t\t\"id\":6,\n\t\t\t\"isFrozen\":0,\n\t\t\t\"last\":\"0.14294200\",\n\t\t\t\"low24Hr\":\"0.14118800\",\n\t\t\t\"lowestAsk\":\"0.14294200\",\n\t\t\t\"percentChange\":\"-0.0185\",\n\t\t\t\"quoteVolume\":\"324.0376\"\n\t\t},\n\t\t\"BCH/ETH\":{\n\t\t\t\"baseVolume\":\"2639.4801\",\n\t\t\t\"high24hr\":\"1.78380000\",\n\t\t\t\"highestBid\":\"1.72035000\",\n\t\t\t\"id\":16,\n\t\t\t\"isFrozen\":0,\n\t\t\t\"last\":\"1.72705000\",\n\t\t\t\"low24Hr\":\"1.69030000\",\n\t\t\t\"lowestAsk\":\"1.72705000\",\n\t\t\t\"percentChange\":\"-0.0097\",\n\t\t\t\"quoteVolume\":\"4591.2875\"\n\t\t},\n\t\t\"BCH/USD\":{\n\t\t\t\"baseVolume\":\"2346.6628\",\n\t\t\t\"high24hr\":\"1244.90\",\n\t\t\t\"highestBid\":\"1176.80\[...]
