---
http_interactions:
- request:
    method: get
    uri: https://www.coinsuper.com/v1/api/market/hour24Market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application:35101
      X-Cdn-Edge:
      - c50d603,-
    body:
      encoding: ASCII-8BIT
      string: "{\n\t\"code\":\"1000\",\n\t\"data\":{\n\t\t\"BCH/BTC\":{\n\t\t\t\"baseVolume\":\"1769.5901\",\n\t\t\t\"high24hr\":\"0.15650200\",\n\t\t\t\"highestBid\":\"0.15096800\",\n\t\t\t\"id\":1,\n\t\t\t\"isFrozen\":0,\n\t\t\t\"last\":\"0.15099200\",\n\t\t\t\"low24Hr\":\"0.14359499\",\n\t\t\t\"lowestAsk\":\"0.15099200\",\n\t\t\t\"percentChange\":\"0.0515\",\n\t\t\t\"quoteVolume\":\"267.0663\"\n\t\t},\n\t\t\"BCH/ETH\":{\n\t\t\t\"baseVolume\":\"808.0477\",\n\t\t\t\"high24hr\":\"1.94175000\",\n\t\t\t\"highestBid\":\"1.88760274\",\n\t\t\t\"id\":1,\n\t\t\t\"isFrozen\":0,\n\t\t\t\"last\":\"1.89000000\",\n\t\t\t\"low24Hr\":\"1.81409908\",\n\t\t\t\"lowestAsk\":\"1.89580000\",\n\t\t\t\"percentChange\":\"0.0282\",\n\t\t\t\"quoteVolume\":\"1520.4615\"\n\t\t},\n\t\t\"BCH/USD\":{\n\t\t\t\"baseVolume\":\"1689.4024\",\n\t\t\t\"high24hr\":\"1215.42\",\n\t\t\t\"highestBid\":\"1146.50\",\[...]
