---
http_interactions:
- request:
    method: get
    uri: https://data.exchange.coinjar.com/products/BTCAUD/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"volume_24h":"81.56000000","volume":"5.02000000","transition_time":"2018-05-28T07:50:00Z","status":"continuous","session":2470,"prev_close":"9821.00000000","last":"9757.00000000","current_time":"2018-05-28T01:19:21.577414Z","bid":"9721.00000000","ask":"9758.00000000"}'
  recorded_at: Mon, 28 May 2018 01:19:21 GMT
recorded_with: VCR 4.0.0
