---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.coinjar.com/products
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d75dc9f843db340a8af34cf30534728f"
    body:
      encoding: UTF-8
      string: '[{"id":"BTCAUD","name":"BTC/AUD","base_currency":{"subunit_to_unit":100000000,"iso_code":"BTC","name":"Bitcoin","subunit":"Satoshi"},"counter_currency":{"subunit_to_unit":100,"iso_code":"AUD","name":"Australian
        Dollar","subunit":"Cent"},"tick_value":"0.01","tick_value_exponent":-2,"price_levels":[{"price_min":"0.00001","price_max":"0.00009999","tick_size":"0.00000001","tick_size_exponent":-8,"trade_size":"1000000.0","trade_size_exponent":6},{"price_min":"0.0001","price_max":"0.0009999","tick_size":"0.0000001","tick_size_exponent":-7,"trade_size":"100000.0","trade_size_exponent":5},{"price_min":"0.001","price_max":"0.009999","tick_size":"0.000001","tick_size_exponent":-6,"trade_size":"10000.0","trade_size_exponent":4},{"price_min":"0.01","price_max":"0.09999","tick_size":"0.00001","tick_size_exponent":-5,"trade_size":"1000.0","trade_size_exponent":3},{"price_min":"0.1","price_max":"0.9999","tick_size":"0.0001","tick_size_exponent[...]
