---
http_interactions:
- request:
    method: get
    uri: https://data.exchange.coinjar.com/products/BTCAUD/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"volume":"4.36000000","transition_time":"2018-05-25T15:50:00Z","status":"continuous","session":2390,"prev_close":"9776.50000000","last":"9780.00000000","current_time":"2018-05-25T09:14:48.587585Z","bid":"9780.00000000","ask":"9812.00000000"}'
  recorded_at: Fri, 25 May 2018 09:14:48 GMT
recorded_with: VCR 4.0.0
