---
http_interactions:
- request:
    method: get
    uri: https://api.cryptaldash.com/v1/tradehistory/crdbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"status":1,"message":"OK","trades":[{"exchange":"CRP","symbol":"CRDBTC","side":"BUY","quantity":54775.000000000,"price":0.000001400,"timestamp":636717487577230000.0},{"exchange":"CRP","symbol":"CRDBTC","side":"BUY","quantity":44362.000000000,"price":0.000001400,"timestamp":636717487470630000.0},{"exchange":"CRP","symbol":"CRDBTC","side":"BUY","quantity":50235.000000000,"price":0.000001400,"timestamp":636717487336440000.0},{"exchange":"CRP","symbol":"CRDBTC","side":"BUY","quantity":100000.000000000,"price":0.000001400,"timestamp":636717487268090000.0},{"exchange":"CRP","symbol":"CRDBTC","side":"BUY","quantity":77892.000000000,"price":0.0[...]
