---
http_interactions:
- request:
    method: get
    uri: https://api.cryptaldash.com/v1/pubticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"status":1,"message":"OK","market_summary":[{"symbol":"BTCUSDT","open24h":7400.000000000,"high24h":7500.000000000,"low24h":7400.000000000,"ask":7500.000000000,"bid":6600.000000000,"spread":900.000000000,"last_price":7500.000000000,"last_price_usd":7500.000000000,"price_change24h":100.000000000,"price_change24h_usd":750000.000000000,"percent_change24h":1.351351351,"volume24h":100.220000000,"value24h":751650.000000000,"volume24h_usd":751650.000000000,"timestamp":636717775066726356.0},{"symbol":"ETHBTC","open24h":0.039100000,"high24h":0.039100000,"low24h":0.039100000,"ask":0.045000000,"bid":0.038000000,"spread":0.007000000,"last_price":0.039100000,"last_price_usd":293.250000000,"price_change24h":0.000000000,"price_change24h_usd":0.000000000,"percent_change24h":0.000000000,"volume24h":2000.000000000,"value24h":78.200000000,"volume24h_usd":586500.000000000,"timestamp":636717775066726428.0},{"symbol":"CRDBTC","open24h":0.000001160,"high24h":0.000001400,"low[...]
