---
http_interactions:
- request:
    method: get
    uri: https://api.cryptonbtc.com/markets/ETH-BTC/trades?limit=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":297575,"price":0.051115,"side":"sell","size":4.47982965,"time":"2018-08-12
        16:50:17.658818+00:00"},{"id":297253,"price":0.051249,"side":"buy","size":7.42137727,"time":"2018-08-12
        16:15:40.393007+00:00"},{"id":296233,"price":0.050697,"side":"sell","size":5.56549838,"time":"2018-08-12
        14:42:21.031489+00:00"},{"id":295729,"price":0.050803,"side":"buy","size":15.29738624,"time":"2018-08-12
        13:58:10.628621+00:00"},{"id":294579,"price":0.050953,"side":"sell","size":0.87849367,"time":"2018-08-12
        12:14:23.800335+00:00"},{"id"[...]
