---
http_interactions:
- request:
    method: get
    uri: https://api.cryptonbtc.com/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"BCH-BTC":{"ask":0.091092,"bid":0.090889,"change1h":0.0,"change24h":0.0,"last":0.093334,"market":"BCH-BTC","mid":0.0909905,"volume1h":null,"volume24h":null},"BCH-PAI":{"ask":1351.68,"bid":1340.5,"change1h":-0.0336756969545145,"change24h":-0.0901923258352764,"last":1350.1,"market":"BCH-PAI","mid":1346.09,"volume1h":1.73561801,"volume24h":14.36507148},"BCH-USDT":{"ask":576.02,"bid":573.7,"change1h":0.0,"change24h":0.0266604803883079,"last":575.32,"market":"BCH-USDT","mid":574.86,"volume1h":null,"volume24h":51.68239446},"BCH3NX-BTC":{"ask":0.02080575,"bid":0.02072563,"change1h":-0.0243463560054091,"change24h":-0.143693049363821,"last":0.02053347,"market":"BCH3NX-BTC","mid":0.02076569,"volume1h":28.63796661,"volume24h":357.41641815},"BCH3NX-PAI":{"ask":307.796,"bid":306.483,"change1h":-0.0365591003096051,"change24h":-0.13059394514966,"last":314.918,"market":"BCH3NX-PAI","mid":307.1395,"volume1h":0.6561133,"volume24h":71.68472724},"BCH3NX-USDT":{"ask":131.35,"bid":131.04,"change1h":0.0,"change24h":-0.0881252126573664,"last":134.0,"market":"BCH3NX-USDT","mid":131.195,"volume1h":null,"volume24h":105.75722659},"BCH3X-BTC":{"ask":0.00040265,"bid":0.00040216,"change1h":0.0,"change24h":0.106118573542964,"last":0.00039609,"market":"BCH3X-BTC","mid":0.000402405,"volume1h":null,"volume24h":769.69731709},"BCH3X-PAI":{"ask":5.9681,"bid":5.9293,"change1h":0.0,"change24h":0.0100058076827346,"last":6.0868,"market":"BCH3X-PAI","mid":5.9487,"volume1h":null,"volume24h":135.7860585},"BCH3X-USDT":{"ask":2.5437,"bid":2.5409,"change1h":0.0256276360715003,"change24h":0.163977024070022,"last":2.5533,"market":"BCH3X-USDT","mid":2.5423,"volume1h":75.70550259,"volume24h":4044.79718426},"BTC-PAI":{"ask":14823.94,"bid":14784.87,"change1h":0.0103166374550511,"change24h":-0.136881095751742,"last":14733.69,"market":"BTC-PAI","mid":14804.405,"volume1h":0.2099257,"volume24h":15.37358411},"BTC-USDT":{"ask":6316.73,"bid":6312.48,"change1h":0.00135872581008279,"change24h":0.0327875017987258,"last":6315.95,"market":"BTC-USDT","mid":6314.605,"volume1h":312.02025359,"volume24h":7681.8324995},"BTC3NX-PAI":{"ask":53.4499,"bid":53.2992,"change1h":-0.0455765079478351,"change24h":-0.192207803973558,"last":53.4983,"market":"BTC3NX-PAI","mid":53.37455,"volume1h":34.07048205,"volume24h":231.57836342},"BTC3NX-USDT":{"ask":22.7845,"bid":22.7655,"change1h":0.00211616052965479,"change24h":-0.0833360106664953,"last":22.8253,"market":"BTC3NX-USDT","mid":22.775,"volume1h":144.21208533,"volume24h":2873.02194253},"BTC3X-PAI":{"ask":104.195,"bid":103.697,"change1h":0.0,"change24h":-0.0142580451565384,"last":108.405,"market":"BTC3X-PAI","mid":103.946,"volume1h":null,"volume24h":5.10915725},"BTC3X-USDT":{"ask":44.41,"bid":44.25,"change1h":0.0141520200867382,"change24h":0.111027756939235,"last":44.43,"market":"BTC3X-USDT","mid":44.33,"volume1h":16.81105693,"volume24h":262.33187164},"BTM-BTC":{"ask":2.811e-05,"bid":2.796e-05,"change1h":0.0,"change24h":-0.0372413793103448,"last":2.792e-05,"market":"BTM-BTC","mid":2.8035e-05,"volume1h":null,"volume24h":9530.41729718},"BTM-PAI":{"ask":0.416121,"bid":0.413391,"change1h":-0.0115152496677606,"change24h":-0.110851416170545,"last":0.415043,"market":"BTM-PAI","mid":0.414756,"volume1h":3105.38901289,"volume24h":28879.69727683},"BTM-USDT":{"ask":0.17723,"bid":0.17686,"change1h":-0.00176096341740514,"change24h":0.0378573115993385,"last":0.17573,"market":"BTM-USDT","mid":0.177045,"volume1h":4615.41997507,"volume24h":83189.48220565},"CMT-BTC":{"ask":1.363e-05,"bid":1.353e-05,"change1h":0.0,"change24h":-0.0195652173913043,"last":1.353e-05,"market":"CMT-BTC","mid":1.358e-05,"volume1h":null,"volume24h":57045.09302299},"CMT-PAI":{"ask":0.201237,"bid":0.199923,"change1h":0.00718787173192276,"change24h":-0.12162400784016,"last":0.198975,"market":"CMT-PAI","mid":0.20058,"volume1h":3299.70032528,"volume24h":51306.87455655},"CMT-USDT":{"ask":0.08593,"bid":0.085383,"change1h":0.0,"change24h":0.0368910438557247,"last":0.085754,"market":"CMT-USDT","mid":0.0856565,"volume1h":null,"volume24h":110790.13093142},"CRY-PAI":{"ask":null,"bid":2.38946,"change1h":null,"change24h":null,"last":null,"market":"CRY-PAI","mid":null,"volume1h":null,"volume24h":null},"CRY-USDT":{"ask":null,"bid":1.02116,"change1h":0.0,"change24h":0.0,"last":1.03762,"market":"CRY-USDT","mid":1.03762,"volume1h":null,"volume24h":null},"CTXC-BTC":{"ask":4.436e-05,"bid":4.425e-05,"change1h":0.0,"change24h":-0.00745425796250282,"last":4.394e-05,"market":"CTXC-BTC","mid":4.4305e-05,"volume1h":null,"volume24h":72958.35949093},"CTXC-PAI":{"ask":0.65725,"bid":0.65445,"change1h":0.00207289948707086,"change24h":-0.110639612177206,"last":0.66228,"market":"CTXC-PAI","mid":0.65585,"volume1h":1691.2314672,"volume24h":34604.2575081},"CTXC-USDT":{"ask":0.28013,"bid":0.27951,"change1h":0.00901290648208234,"change24h":0.0342559402830642,"last":0.27988,"market":"CTXC-USDT","mid":0.27982,"volume1h":8806.76876477,"volume24h":373864.3040308},"EOS-BTC":{"ask":0.00080186,"bid":0.00080015,"change1h":0.0,"change24h":0.011096884336321,"last":0.00080546,"market":"EOS-BTC","mid":0.000801005,"volume1h":null,"volume24h":6222.47314528},"EOS-PAI":{"ask":11.8723,"bid":11.8337,"change1h":0.0117392673811814,"change24h":-0.116049713278443,"last":11.8848,"market":"EOS-PAI","mid":11.853,"volume1h":1244.08832093,"volume24h":9261.55607014},"EOS-USDT":{"ask":5.0566,"bid":5.0541,"change1h":-0.00266456133425442,"change24h":0.039818911410639,"last":5.053,"market":"EOS-USDT","mid":5.05535,"volume1h":7394.13420185,"volume24h":125319.14597723},"ETH-BTC":{"ask":0.051014,"bid":0.050952,"change1h":0.00824506381048188,"change24h":0.0211155060130249,"last":0.051115,"market":"ETH-BTC","mid":0.050983,"volume1h":11.90120692,"volume24h":270.35247512},"ETH-PAI":{"ask":755.17,"bid":753.1,"change1h":0.0163921242745513,"change24h":-0.112141435429107,"last":758.32,"market":"ETH-PAI","mid":754.135,"volume1h":33.95433385,"volume24h":476.58984595},"ETH-USDT":{"ask":322.11,"bid":321.82,"change1h":0.000559405786742083,"change24h":0.0515056502710824,"last":321.95,"market":"ETH-USDT","mid":321.965,"volume1h":1676.64411986,"volume24h":29663.63129064},"ETH3NX-BTC":{"ask":0.01046603,"bid":0.01040607,"change1h":0.0,"change24h":-0.104986899321807,"last":0.01035702,"market":"ETH3NX-BTC","mid":0.01043605,"volume1h":null,"volume24h":992.24797521},"ETH3NX-PAI":{"ask":155.0527,"bid":153.9514,"change1h":-0.0428591817870529,"change24h":-0.190887954514856,"last":156.2541,"market":"ETH3NX-PAI","mid":154.50205,"volume1h":23.21407123,"volume24h":64.57135921},"ETH3NX-USDT":{"ask":66.04,"bid":65.7542,"change1h":0.0,"change24h":-0.0631986056795431,"last":67.2407,"market":"ETH3NX-USDT","mid":65.8971,"volume1h":null,"volume24h":46.59579656},"ETH3X-BTC":{"ask":0.00157985,"bid":0.0015727,"change1h":0.0,"change24h":0.143005166837028,"last":0.0016326,"market":"ETH3X-BTC","mid":0.001576275,"volume1h":null,"volume24h":381.34947139},"ETH3X-PAI":{"ask":23.407,"bid":23.2442,"change1h":0.0,"change24h":-0.0491782397732746,"last":23.8874,"market":"ETH3X-PAI","mid":23.3256,"volume1h":null,"volume24h":46.27949171},"ETH3X-USDT":{"ask":9.98,"bid":9.93,"change1h":-0.00201612903225806,"change24h":0.20584652862363,"last":9.9,"market":"ETH3X-USDT","mid":9.955,"volume1h":79.26896808,"volume24h":2197.05083598},"LTC-BTC":{"ask":0.00949669,"bid":0.00944149,"change1h":0.0,"change24h":0.0,"last":0.01041876,"market":"LTC-BTC","mid":0.00946909,"volume1h":null,"volume24h":null},"LTC-PAI":{"ask":140.747,"bid":139.387,"change1h":-0.0172356576927863,"change24h":-0.0438815386788455,"last":142.149,"market":"LTC-PAI","mid":140.067,"volume1h":5.20742969,"volume24h":26.0918962},"LTC-USDT":{"ask":59.84,"bid":59.55,"change1h":0.0,"change24h":0.0132508833922261,"last":57.35,"market":"LTC-USDT","mid":59.695,"volume1h":null,"volume24h":121.87242326},"LTC3NX-BTC":{"ask":0.01208778,"bid":0.01203297,"change1h":0.00842281629924314,"change24h":-0.0615429992188454,"last":0.01221795,"market":"LTC3NX-BTC","mid":0.012060375,"volume1h":60.72695795,"volume24h":405.86325851},"LTC3NX-PAI":{"ask":178.876,"bid":178.197,"change1h":-0.0447983338680243,"change24h":-0.212034048313203,"last":181.623,"market":"LTC3NX-PAI","mid":178.5365,"volume1h":11.88231196,"volume24h":52.85588791},"LTC3NX-USDT":{"ask":76.27,"bid":76.09,"change1h":-0.0676673526207481,"change24h":-0.0676673526207481,"last":77.02,"market":"LTC3NX-USDT","mid":76.18,"volume1h":60.72695795,"volume24h":60.72695795},"LTC3X-BTC":{"ask":0.00241264,"bid":0.00127669,"change1h":-0.00778723439451461,"change24h":0.494940494734874,"last":0.00239923,"market":"LTC3X-BTC","mid":0.001844665,"volume1h":51.88699997,"volume24h":9034.97424781},"LTC3X-PAI":{"ask":36.411,"bid":19.129,"change1h":0.0,"change24h":0.32100730877777,"last":36.51,"market":"LTC3X-PAI","mid":27.77,"volume1h":null,"volume24h":1283.11094502},"LTC3X-USDT":{"ask":15.14,"bid":8.01,"change1h":-0.025065963060686,"change24h":0.498985801217039,"last":14.78,"market":"LTC3X-USDT","mid":11.575,"volume1h":168.14980169,"volume24h":16755.80069111},"MAID-BTC":{"ask":4.394e-05,"bid":4.371e-05,"change1h":0.0,"change24h":0.0533610533610534,"last":4.56e-05,"market":"MAID-BTC","mid":4.3825e-05,"volume1h":null,"volume24h":6899.25669688},"MAID-PAI":{"ask":0.652028,"bid":0.647525,"change1h":-0.0518285087393408,"change24h":-0.167384176071051,"last":0.650805,"market":"MAID-PAI","mid":0.6497765,"volume1h":918.22777462,"volume24h":8195.63508902},"MAID-USDT":{"ask":0.27743,"bid":0.27603,"change1h":-0.00432120993878286,"change24h":0.0549408622663106,"last":0.2765,"market":"MAID-USDT","mid":0.27673,"volume1h":939.77227615,"volume24h":20591.0784139},"OMNI-BTC":{"ask":0.0011814,"bid":0.00117075,"change1h":0.0,"change24h":0.0,"last":0.00169256,"market":"OMNI-BTC","mid":0.001176075,"volume1h":null,"volume24h":null},"OMNI-PAI":{"ask":17.464,"bid":17.2959,"change1h":null,"change24h":null,"last":null,"market":"OMNI-PAI","mid":17.37995,"volume1h":null,"volume24h":null},"OMNI-USDT":{"ask":7.4277,"bid":7.3928,"change1h":0.0,"change24h":0.0,"last":4.8841,"market":"OMNI-USDT","mid":7.41025,"volume1h":null,"volume24h":null},"PAI-BTC":{"ask":6.761e-05,"bid":6.75e-05,"change1h":0.0257888349514563,"change24h":0.143775372124493,"last":6.762e-05,"market":"PAI-BTC","mid":6.7555e-05,"volume1h":5148.34502694,"volume24h":194919.79764458},"PAI-PAI":{"ask":null,"bid":null,"change1h":null,"change24h":null,"last":null,"market":"PAI-PAI","mid":null,"volume1h":null,"volume24h":null},"PAI-USDT":{"ask":0.42687,"bid":0.42645,"change1h":0.025176136773511,"change24h":0.19553573932307,"last":0.42634,"market":"PAI-USDT","mid":0.42666,"volume1h":22737.75458266,"volume24h":846926.23304858},"TRX-BTC":{"ask":3.61e-06,"bid":3.59e-06,"change1h":0.0,"change24h":0.0,"last":3.71e-06,"market":"TRX-BTC","mid":3.6e-06,"volume1h":null,"volume24h":null},"TRX-PAI":{"ask":0.0534173,"bid":0.0531717,"change1h":-0.0284659404903871,"change24h":-0.119026974634217,"last":0.0534437,"market":"TRX-PAI","mid":0.0532945,"volume1h":34953.32473944,"volume24h":249426.34639201},"TRX-USDT":{"ask":0.022792,"bid":0.022742,"change1h":0.0,"change24h":0.00426594054912639,"last":0.022129,"market":"TRX-USDT","mid":0.022767,"volume1h":null,"volume24h":641480.80492588},"VEN-BTC":{"ask":null,"bid":null,"change1h":0.0,"change24h":0.0,"last":0.00029238,"market":"VEN-BTC","mid":0.00029238,"volume1h":null,"volume24h":null},"VEN-PAI":{"ask":null,"bid":null,"change1h":0.0,"change24h":0.0,"last":2.50989,"market":"VEN-PAI","mid":2.50989,"volume1h":null,"volume24h":null},"VEN-USDT":{"ask":null,"bid":null,"change1h":0.0,"change24h":0.0,"last":2.24615,"market":"VEN-USDT","mid":2.24615,"volume1h":null,"volume24h":null}},"success":true}

'
  recorded_at: Sun, 12 Aug 2018 16:59:04 GMT
recorded_with: VCR 4.0.0
