---
http_interactions:
- request:
    method: get
    uri: https://v1.api.token.store/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fa4-wC3akWCd6dkLODvL7gqW2AbR2xM"'
    body:
      encoding: UTF-8
      string: '{"ETH_0x949bed886c739f1a3273629b3320db0c5024c719":{"tokenAddr":"0x949bed886c739f1a3273629b3320db0c5024c719","quoteVolume":75,"baseVolume":0.00675,"last":0.00009,"bid":0,"ask":0.00009,"percentChange":0},"ETH_EVN":{"tokenAddr":"0xd780ae2bf04cd96e577d3d014762f831d97129d0","quoteVolume":12688.074775202118,"baseVolume":3.0233197476,"last":0.000205,"bid":0.000232,"ask":0.00024000000000000003,"percentChange":-25.168846033998406},"ETH_EMPR":{"tokenAddr":"0xe7d7b37e72510309db27c460378f957b1b04bd5d","quoteVolume":482.4568,"baseVolume":0.6107224808,"last":0.0012380000000000002,"bid":0.0012720000000000001,"ask":0.001259,"percentChange":30.804633759830498},"ETH_MOR":{"tokenAddr":"0x8e81332db0d491005d26c9f889dc7eadd7ca18f0","quoteVolume":53,"baseVolume":0.159,"last":0.0029999999999999996,"bid":0,"ask":0.0029999999999999996,"percentChange":-49.120000000000005},"ETH_BOUTS":{"tokenAddr":"0x139d9397274bb9e2c29a9aa8aa0b5874d30d62e3","quoteVolume":755,"baseVolume":0.025670000000000002,"last":0.000034,"bid":0.000034,"ask":0.000034,"percentChange":18.34946980175197},"ETH_FRV":{"tokenAddr":"0x48df4e0296f908ceab0428a5182d19b31fc037d6","quoteVolume":33550.00000013,"baseVolume":0.29442545,"last":0.00001398,"bid":0.0000075,"ask":0.00001197499999976013,"percentChange":-87.95582907611148},"ETH_ERC20":{"tokenAddr":"0xc3761eb917cd790b30dad99f6cc5b4ff93c4f9ea","quoteVolume":20485,"baseVolume":20.3736171,"last":0.000011,"bid":0.000011,"ask":0.00099,"percentChange":7.251509601001414},"ETH_LINK":{"tokenAddr":"0x514910771af9ca656af840dff83e8264ecf986ca","quoteVolume":30780,"baseVolume":30.25911,"last":0.000982,"bid":0,"ask":0.0009809999999999999,"percentChange":46.730044660391904},"ETH_PXL":{"tokenAddr":"0x9bc0b36cdedadb9ae906f53bdea6debe20b81b8e","quoteVolume":500,"baseVolume":0.0100000005,"last":0.000020000001,"bid":0.000020000001,"ask":0,"percentChange":-45.71118092912275},"ETH_ITL":{"tokenAddr":"0x122a86b5dff2d085afb49600b4cd7375d0d94a5f","quoteVolume":500500,"baseVolume":0.0715715,"last":1.43e-7,"bid":0,"ask":1.43e-7,"percentChange":0},"ETH_INO":{"tokenAddr":"0xc9859fccc876e6b4b3c749c5d29ea04f48acb74f","quoteVolume":1000,"baseVolume":0.74,"last":0.00074,"bid":0,"ask":0.00074,"percentChange":0},"ETH_ORI":{"tokenAddr":"0x87dcb57dfdee3fdd2b967c2a5faa7bcd44be4a0d","quoteVolume":45545.893000000004,"baseVolume":1.9024625099999999,"last":0.00007,"bid":0.00007,"ask":0.00004,"percentChange":0},"ETH_GJC":{"tokenAddr":"0x2ae965cd3d2b6d186e87d9586fc3bdbfc667cacc","quoteVolume":234,"baseVolume":0.0234,"last":0.0001,"bid":0.0001,"ask":0,"percentChange":0},"ETH_PAYX":{"tokenAddr":"0x62a56a4a2ef4d355d34d10fbf837e747504d38d4","quoteVolume":4100,"baseVolume":12.24322,"last":0.00298,"bid":0,"ask":0.00298,"percentChange":-42.66636196670091},"ETH_HYDRO":{"tokenAddr":"0xebbdf302c940c6bfd49c6b165f457fdb324649bc","quoteVolume":9475,"baseVolume":0.1069575,"last":0.000011,"bid":0.000011,"ask":0.0000125,"percentChange":-84.15451252135361},"ETH_BTK":{"tokenAddr":"0xdb8646f5b487b5dd979fac618350e85018f557d4","quoteVolume":1796,"baseVolume":0.000073635999989772,"last":4.099999999431e-8,"bid":4.099999999431e-8,"ask":1.7e-7,"percentChange":-99.87948892938365},"ETH_ERC
        OLD":{"tokenAddr":"0x26d5bd2dfeda983ecd6c39899e69dae6431dffbb","quoteVolume":25,"baseVolume":0.000005,"last":2e-7,"bid":0,"ask":2e-7,"percentChange":0},"ETH_REBL":{"tokenAddr":"0x5f53f7a8075614b699baad0bc2c899f4bad8fbbf","quoteVolume":7110.22,"baseVolume":0.80021086,"last":0.000113,"bid":0,"ask":0.000111,"percentChange":0},"ETH_SCR":{"tokenAddr":"0x0723105914f7050151e5f8b941e09f826b11f6b8","quoteVolume":183,"baseVolume":0.011712,"last":0.000064,"bid":0,"ask":0.000064,"percentChange":0},"ETH_RHOC":{"tokenAddr":"0x168296bb09e24a88805cb9c33356536b980d3fc5","quoteVolume":21598,"baseVolume":67.48197,"last":0.00342,"bid":0,"ask":0.0026,"percentChange":68.7163133511512},"ETH_AUSC":{"tokenAddr":"0x59f1b6d0f5105cf025a3de58858a9363f4fef084","quoteVolume":6500,"baseVolume":0.68575,"last":0.0001055,"bid":0.0001055,"ask":0,"percentChange":0}}'
  recorded_at: Mon, 21 May 2018 13:08:46 GMT
recorded_with: VCR 4.0.0
