---
http_interactions:
- request:
    method: post
    uri: https://api.thegraph.com/subgraphs/name/balancer-labs/balancer
    body:
      encoding: UTF-8
      string: '{"query":"query Cryptoexchange__Exchanges__Balancer__TheGraphClient__SwapsQuery($from:
        String!, $to: String!, $range_timestamp: Int!) {\n  swaps(orderBy: timestamp,
        orderDirection: desc, where: {tokenInSym: $from, tokenOutSym: $to, timestamp_gte:
        $range_timestamp}) {\n    id\n    tokenInSym\n    tokenOutSym\n    tokenAmountIn\n    tokenAmountOut\n    timestamp\n  }\n}","variables":{"from":"WETH","to":"DAI","range_timestamp":1580688000},"operationName":"Cryptoexchange__Exchanges__Balancer__TheGraphClient__SwapsQuery"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"swaps":[{"id":"0x552c9fc220c4d9e7c6e75af3d1304c3b536f39e004b3bb0052e92b0e8ff9bfb6-55","timestamp":1591423474,"tokenAmountIn":"1.635134556116392348","tokenAmountOut":"391.427442141538872221","tokenInSym":"WETH","tokenOutSym":"DAI"},{"id":"0x8b80a7e80efbc85a19beeca8e9ede85652b33b79d39b271122b5f109737b643f-11","timestamp":1591419660,"tokenAmountIn":"1.5283347165","tokenAmountOut":"367.956957873254619987","tokenInSym":"WETH","tokenOutSym":"DAI"},{"id":"0xf97ee5912ef2ecd7fb71aebd72eff34bbb05b936e5439dd0e41f49c5b59d10fa-145","timestamp":1591417948,"tokenAmountIn":"0.0902600773902","tokenAmountOut":"21.726108724331706103","tokenInSym":"WETH","tokenOutSym":"DAI"},{"id":"0x2cca036374e851578941ce15d0ba7d3bc096e93949e862baaae[...]
[...]
