---
http_interactions:
- request:
    method: get
    uri: https://api.dovewallet.com/v1/public/getmarkethistory?market=BTC-USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"Id":null,"TimeStamp":"2019-07-31T7:17:08.01","Quantity":8.127212683,"Price":0.000102619,"Total":0.000834006,"FillType":null,"OrderType":"BUY"},{"Id":null,"TimeStamp":"2019-07-31T7:12:51.84","Quantity":4.909604686,"Price":0.000102502,"Total":0.000503244,"FillType":null,"OrderType":"BUY"},{"Id":null,"TimeStamp":"2019-07-31T7:07:58.45","Quantity":7.215846255,"Price":0.000102223,"Total":0.000737625,"FillType":null,"OrderType":"SELL"},{"Id":null,"TimeStamp":"2019-07-31T7:05:02.29","Quantity":9.249168442,"Price":0.000102215,"Total":0.000945404,"FillType":null,"OrderType":"SELL"},{"Id":null,"TimeStamp":"2019-07-31T7:01:52.08","Quantity[...]
