---
http_interactions:
- request:
    method: get
    uri: https://api.dovewallet.com/v1/public/getmarketsummary?market=USDT-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"USDT-BTC","High":9783.299907059,"Low":9466.021715053,"Volume":1869.291541534,"Last":9750.3900156,"BaseVolume":0.000625213,"TimeStamp":"2019-07-31T8:32:44.60","Bid":9750.3900156,"Ask":9766.29261766,"OpenBuyOrders":7,"OpenSellOrders":7,"PrevDay":"9512.394650229","Created":"2019-02-04T18:43:00.00"}]}'
  recorded_at: Wed, 31 Jul 2019 08:34:26 GMT
recorded_with: VCR 4.0.0
