---
http_interactions:
- request:
    method: get
    uri: https://api.dovewallet.com/v1/public/getorderbook?market=BTC-USDT&type=both
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":{"buy":[{"Quantity":62.713899614,"Rate":0.000102399},{"Quantity":30.228843159,"Rate":0.000101866},{"Quantity":80.293462806,"Rate":0.000101391},{"Quantity":75.928810219,"Rate":0.000100926},{"Quantity":39.758018877,"Rate":0.000100512},{"Quantity":65.048666052,"Rate":0.00009991},{"Quantity":82.06571676,"Rate":0.000099274}],"sell":[{"Quantity":56.433369023,"Rate":0.00010249},{"Quantity":84.57043121,"Rate":0.000102965},{"Quantity":53.819451161,"Rate":0.000103469},{"Quantity":80.803017249,"Rate":0.000104039},{"Quantity":42.741760346,"Rate":0.000104456},{"Quantity":56.36373952,"Rate":0.000105075},{"Quantity":80.996193328,"Rate":0.000105521}]}}'
  recorded_at: Wed, 31 Jul 2019 07:39:00 GMT
recorded_with: VCR 4.0.0
