---
http_interactions:
- request:
    method: get
    uri: https://api.dovewallet.com/v1/public/getmarkethistory?market=USDT-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"Id":null,"TimeStamp":"2019-07-31T8:32:44.60","Quantity":0.000625213,"Price":9750.3900156,"Total":6.096070593,"FillType":null,"OrderType":"SELL"},{"Id":null,"TimeStamp":"2019-07-31T8:31:47.55","Quantity":0.000796722,"Price":9784.065670649,"Total":7.795180369,"FillType":null,"OrderType":"BUY"},{"Id":null,"TimeStamp":"2019-07-31T8:28:52.38","Quantity":0.000217315,"Price":9762.860127503,"Total":2.121615949,"FillType":null,"OrderType":"BUY"},{"Id":null,"TimeStamp":"2019-07-31T8:27:01.24","Quantity":0.0007634,"Price":9762.860127503,"Total":7.452967421,"FillType":null,"OrderType":"BUY"},{"Id":null,"TimeStamp":"2019-07-31T8:26:13.22","Qu[...]
