---
http_interactions:
- request:
    method: get
    uri: https://api.dovewallet.com/v1/public/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"ETH-BTC","High":46.006582622,"Low":45.28741431,"Volume":59.104132497,"Last":45.905546584,"BaseVolume":0.000351709,"TimeStamp":"2019-07-31T8:34:12.71","Bid":45.79354256,"Ask":45.905546584,"OpenBuyOrders":7,"OpenSellOrders":7,"PrevDay":"45.094262792","Created":"2019-02-14T2:23:00.00"},{"MarketName":"USDT-BTC","High":9783.299907059,"Low":9466.021715053,"Volume":1869.291541534,"Last":9750.3900156,"BaseVolume":0.000625213,"TimeStamp":"2019-07-31T8:32:44.60","Bid":9750.3900156,"Ask":9766.29261766,"OpenBuyOrders":7,"OpenSellOrders":7,"PrevDay":"9512.394650229","Created":"2019-02-04T18:43:00.00"},{"MarketName":"USDC-BTC","High":9799.022057599,"Low":9455.370650529,"Volume":1809.164110342,"Last":9777.751703774,"BaseVolume":0.001429112,"TimeStamp":"2019-07-31T[...]
