---
http_interactions:
- request:
    method: get
    uri: https://api.dovewallet.com/v1/public/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"ETH-BTC","High":46.006582622,"Low":45.28741431,"Volume":59.410311699,"Last":45.811248493,"BaseVolume":0.001294785,"TimeStamp":"2019-07-31T7:35:43.67","Bid":45.754298501,"Ask":45.867498887,"OpenBuyOrders":7,"OpenSellOrders":7,"PrevDay":"45.094262792","Created":"2019-02-14T2:23:00.00"},{"MarketName":"USDT-BTC","High":9783.299907059,"Low":9466.021715053,"Volume":1903.784900191,"Last":9744.784104308,"BaseVolume":0.000834007,"TimeStamp":"2019-07-31T7:17:08.01","Bid":9757.04946824,"Ask":9765.720368363,"OpenBuyOrders":7,"OpenSellOrders":7,"PrevDay":"9512.394650229","Created":"2019-02-04T18:43:00.00"},{"MarketName":"USDC-BTC","High":9799.022057599,"Low":9455.370650529,"Volume":1851.332026288,"Last":9765.243545175,"BaseVolume":0.00028969,"TimeStamp":"2019-07-[...]
