---
http_interactions:
- request:
    method: get
    uri: https://api.dovewallet.com/v1/public/getmarketsummary?market=BTC-USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-USDT","High":0.000105641,"Low":0.000102215,"Volume":0.195114967,"Last":0.000102619,"BaseVolume":8.127212683,"TimeStamp":"2019-07-31T7:17:08.01","Bid":0.000102429,"Ask":0.000102686,"OpenBuyOrders":7,"OpenSellOrders":7,"PrevDay":"0.000105126","Created":"2019-02-04T18:43:00.00"}]}'
  recorded_at: Wed, 31 Jul 2019 08:08:39 GMT
recorded_with: VCR 4.0.0
