---
http_interactions:
- request:
    method: get
    uri: https://api.bithumb.com/public/orderbook/BTC?count=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"0000","data":{"timestamp":"1556790365010","payment_currency":"KRW","order_currency":"BTC","bids":[{"quantity":"0.2373","price":"6249000"},{"quantity":"4.1968","price":"6247000"},{"quantity":"2.4707","price":"6246000"},{"quantity":"2.1","price":"6245000"},{"quantity":"0.5631","price":"6244000"},{"quantity":"0.2345","price":"6242000"},{"quantity":"0.1","price":"6241000"},{"quantity":"0.6193","price":"6240000"},{"quantity":"1.6038","price":"6239000"},{"quantity":"0.0001","price":"6238000"},{"quantity":"0.0001","price":"6236000"},{"quantity":"0.6284","price":"6235000"},{"quantity":"2.7523","price":"6234000"},{"quantity":"0.[...]
