---
http_interactions:
- request:
    method: get
    uri: https://api.bithumb.com/public/ticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"0000","data":{"BTC":{"opening_price":"12148000","closing_price":"12373000","min_price":"12011000","max_price":"12680000","units_traded":"3958.14","acc_trade_value":"49090553890.56","prev_closing_price":"12148000","units_traded_24H":"5498.17","acc_trade_value_24H":"67895400397.71","fluctate_24H":"212,000","fluctate_rate_24H":"1.74"},"ETH":{"opening_price":"227200","closing_price":"227500","min_price":"221500","max_price":"231300","units_traded":"30048.79","acc_trade_value":"6824606486.71","prev_closing_price":"227200","units_traded_24H":"40529","acc_trade_value_24H":"9221736707.75","fluctate_24H":"-400","fluctate_rate_24H":"-0.18"},"DASH":{"opening_price":"140900","closing_price":"142400","min_price":"140400","max_price":"145400","units_traded":"6138437.64","acc_trade_value":"876247952870.93","prev_closing_price":"140600","units_traded_24H":"7181660.06","acc_trade_value_24H":"1025827894782.37","fluctate_24H":"-800","fluctate_rate_24H":"-0.56"},"LTC":{"opening_price":"88600","closing_price":"89050","min_price":"86450","max_price":"90500","units_traded":"4208.23","acc_trade_value":"372038509.45","prev_closing_price":"88550","units_traded_24H":"5927.98","acc_trade_value_24H":"525280120.56","fluctate_24H":"850","fluctate_rate_24H":"0.96"},"ETC":{"opening_price":"8550","closing_price":"8685","min_price":"8515","max_price":"8805","units_traded":"91710.95","acc_trade_value":"793641077.09","prev_closing_price":"8550","units_traded_24H":"301658.23","acc_trade_value_24H":"2626878977.22","fluctate_24H":"375","fluctate_rate_24H":"4.51"},"XRP":{"opening_price":"325","closing_price":"326","min_price":"322","max_price":"334","units_traded":"16896590.9","acc_trade_value":"5535747338.17","prev_closing_price":"325","units_traded_24H":"29410637.91","acc_trade_value_24H":"9653601353.25","fluctate_24H":"0","fluctate_rate_24H":"0.00"},"BCH":{"opening_price":"367800","closing_price":"373000","min_price":"363100","max_price":"376500","units_traded":"7238.85","acc_trade_value":"2687689334.44","prev_closing_price":"367900","units_traded_24H":"10902.87","acc_trade_value_24H":"4044197958.24","fluctate_24H":"4,300","fluctate_rate_24H":"1.17"},"XMR":{"opening_price":"97000","closing_price":"97450","min_price":"95900","max_price":"99300","units_traded":"1414367.65","acc_trade_value":"137576230099.88","prev_closing_price":"97000","units_traded_24H":"2400546.44","acc_trade_value_24H":"233257598345.21","fluctate_24H":"750","fluctate_rate_24H":"0.78"},"ZEC":{"opening_price":"71300","closing_price":"69750","min_price":"69700","max_price":"73050","units_traded":"237.57","acc_trade_value":"16754416.59","prev_closing_price":"71350","units_traded_24H":"417.93","acc_trade_value_24H":"29736081.53","fluctate_24H":"-2,550","fluctate_rate_24H":"-3.53"},"QTUM":{"opening_price":"3075","closing_price":"3064","min_price":"3015","max_price":"3139","units_traded":"114026.21","acc_trade_value":"350391713.37","prev_closing_price":"3076","units_traded_24H":"173017.31","acc_trade_value_24H":"533324613.59","fluctate_24H":"-25","fluctate_rate_24H":"-0.81"},"BTG":{"opening_price":"16700","closing_price":"16850","min_price":"16590","max_price":"17080","units_traded":"4601.28","acc_trade_value":"77460842.37","prev_closing_price":"16700","units_traded_24H":"7716.36","acc_trade_value_24H":"129852546.75","fluctate_24H":"-90","fluctate_rate_24H":"-0.53"},"EOS":{"opening_price":"4334","closing_price":"4340","min_price":"4175","max_price":"4420","units_traded":"1005577.58","acc_trade_value":"4340558284.27","prev_closing_price":"4325","units_traded_24H":"1477373.22","acc_trade_value_24H":"6400823130.9","fluctate_24H":"-30","fluctate_rate_24H":"-0.69"},"ICX":{"opening_price":"285","closing_price":"278","min_price":"273","max_price":"288","units_traded":"317650","acc_trade_value":"89090846.36","prev_closing_price":"286","units_traded_24H":"817072.95","acc_trade_value_24H":"231586680.47","fluctate_24H":"-4","fluctate_rate_24H":"-1.42"},"TRX":{"opening_price":"21.4","closing_price":"21.1","min_price":"21","max_price":"21.5","units_traded":"22920383.47","acc_trade_value":"486572592.77","prev_closing_price":"21.4","units_traded_24H":"41415151.92","acc_trade_value_24H":"885767345.33","fluctate_24H":"-0.3","fluctate_rate_24H":"-1.40"},"ELF":{"opening_price":"124","closing_price":"124","min_price":"123","max_price":"128","units_traded":"239636.98","acc_trade_value":"29806119.53","prev_closing_price":"123","units_traded_24H":"389396.8","acc_trade_value_24H":"48646252.8","fluctate_24H":"-3","fluctate_rate_24H":"-2.36"},"MITH":{"opening_price":"28.6","closing_price":"27.6","min_price":"27","max_price":"29","units_traded":"7398748.93","acc_trade_value":"204425387.14","prev_closing_price":"28.6","units_traded_24H":"13907140.54","acc_trade_value_24H":"394074715.99","fluctate_24H":"-1.7","fluctate_rate_24H":"-5.80"},"MCO":{"opening_price":"4108","closing_price":"4233","min_price":"4063","max_price":"4254","units_traded":"10696.9","acc_trade_value":"44371227.74","prev_closing_price":"4109","units_traded_24H":"30687.71","acc_trade_value_24H":"128521228.04","fluctate_24H":"-41","fluctate_rate_24H":"-0.96"},"OMG":{"opening_price":"1489","closing_price":"1498","min_price":"1485","max_price":"1535","units_traded":"134885.27","acc_trade_value":"203651170.89","prev_closing_price":"1500","units_traded_24H":"205004.77","acc_trade_value_24H":"310673668.39","fluctate_24H":"-31","fluctate_rate_24H":"-2.03"},"KNC":{"opening_price":"212","closing_price":"225","min_price":"212","max_price":"235","units_traded":"663363.15","acc_trade_value":"149440281.81","prev_closing_price":"215","units_traded_24H":"700990.08","acc_trade_value_24H":"157529665.59","fluctate_24H":"9","fluctate_rate_24H":"4.17"},"GNT":{"opening_price":"69.1","closing_price":"73","min_price":"66.9","max_price":"82","units_traded":"11197872.6","acc_trade_value":"852488347.46","prev_closing_price":"68.3","units_traded_24H":"11716783.4","acc_trade_value_24H":"888561484.96","fluctate_24H":"3.4","fluctate_rate_24H":"4.89"},"ZIL":{"opening_price":"13.6","closing_price":"13.3","min_price":"13.3","max_price":"13.7","units_traded":"2159997.5","acc_trade_value":"29130482.82","prev_closing_price":"13.6","units_traded_24H":"4715834.28","acc_trade_value_24H":"64022957.65","fluctate_24H":"-0.5","fluctate_rate_24H":"-3.62"},"ETHOS":{"opening_price":"109","closing_price":"105","min_price":"102","max_price":"111","units_traded":"2074465.73","acc_trade_value":"218335318.24","prev_closing_price":"109","units_traded_24H":"2805549.43","acc_trade_value_24H":"298228669.34","fluctate_24H":"-6","fluctate_rate_24H":"-5.41"},"PAY":{"opening_price":"218","closing_price":"229","min_price":"213","max_price":"230","units_traded":"274439.85","acc_trade_value":"60866830.52","prev_closing_price":"222","units_traded_24H":"374951.87","acc_trade_value_24H":"82987998.34","fluctate_24H":"5","fluctate_rate_24H":"2.23"},"WAX":{"opening_price":"65","closing_price":"62.7","min_price":"62.5","max_price":"66","units_traded":"2345062.51","acc_trade_value":"150606462.47","prev_closing_price":"65","units_traded_24H":"3169484.45","acc_trade_value_24H":"204123061.97","fluctate_24H":"-2.2","fluctate_rate_24H":"-3.39"},"POWR":{"opening_price":"72","closing_price":"70","min_price":"68.5","max_price":"72.4","units_traded":"1919553.1","acc_trade_value":"134717106.04","prev_closing_price":"72","units_traded_24H":"3591102.16","acc_trade_value_24H":"258236679.36","fluctate_24H":"-6.2","fluctate_rate_24H":"-8.14"},"LRC":{"opening_price":"74.4","closing_price":"73.3","min_price":"71.8","max_price":"74.4","units_traded":"635993.23","acc_trade_value":"46168451.96","prev_closing_price":"74.4","units_traded_24H":"2055293.37","acc_trade_value_24H":"153152441.74","fluctate_24H":"-4.1","fluctate_rate_24H":"-5.3"},"GTO":{"opening_price":"23.1","closing_price":"23","min_price":"21.8","max_price":"23.2","units_traded":"1338177.43","acc_trade_value":"30122716.75","prev_closing_price":"23.1","units_traded_24H":"2339888.13","acc_trade_value_24H":"53722189.28","fluctate_24H":"-0.5","fluctate_rate_24H":"-2.13"},"STEEM":{"opening_price":"300","closing_price":"328","min_price":"293","max_price":"331","units_traded":"794357.58","acc_trade_value":"248160408.62","prev_closing_price":"304","units_traded_24H":"1003835.52","acc_trade_value_24H":"311637793.78","fluctate_24H":"25","fluctate_rate_24H":"8.25"},"STRAT":{"opening_price":"1116","closing_price":"1373","min_price":"1015","max_price":"1406","units_traded":"1091965.81","acc_trade_value":"1370858257.12","prev_closing_price":"1102","units_traded_24H":"1275564.94","acc_trade_value_24H":"1583649788.25","fluctate_24H":"312","fluctate_rate_24H":"29.41"},"AE":{"opening_price":"413","closing_price":"442","min_price":"405","max_price":"446","units_traded":"235291.6","acc_trade_value":"100814620.6","prev_closing_price":"420","units_traded_24H":"290151.08","acc_trade_value_24H":"123601829.46","fluctate_24H":"28","fluctate_rate_24H":"6.76"},"ZRX":{"opening_price":"223","closing_price":"212","min_price":"209","max_price":"223","units_traded":"539474.22","acc_trade_value":"115150673.19","prev_closing_price":"223","units_traded_24H":"687112.44","acc_trade_value_24H":"147840552.05","fluctate_24H":"-12","fluctate_rate_24H":"-5.36"},"REP":{"opening_price":"16730","closing_price":"17830","min_price":"16660","max_price":"19200","units_traded":"44808.32","acc_trade_value":"815916430.67","prev_closing_price":"16780","units_traded_24H":"49595.49","acc_trade_value_24H":"896892705.36","fluctate_24H":"710","fluctate_rate_24H":"4.15"},"XEM":{"opening_price":"101","closing_price":"98.9","min_price":"96","max_price":"102","units_traded":"742948.11","acc_trade_value":"73855564.09","prev_closing_price":"102","units_traded_24H":"2073740.03","acc_trade_value_24H":"211890201.7","fluctate_24H":"-7.1","fluctate_rate_24H":"-6.7"},"SNT":{"opening_price":"22","closing_price":"22.1","min_price":"21.7","max_price":"22.3","units_traded":"3576424.25","acc_trade_value":"78547846.11","prev_closing_price":"22.1","units_traded_24H":"5890339.05","acc_trade_value_24H":"130292305.58","fluctate_24H":"-0.4","fluctate_rate_24H":"-1.78"},"ADA":{"opening_price":"75.4","closing_price":"74.6","min_price":"74","max_price":"76","units_traded":"816220.24","acc_trade_value":"60944167","prev_closing_price":"75.7","units_traded_24H":"1689339","acc_trade_value_24H":"127258221.06","fluctate_24H":"-2.3","fluctate_rate_24H":"-2.99"},"PPT":{"opening_price":"2726","closing_price":"2830","min_price":"2720","max_price":"2907","units_traded":"68158.84","acc_trade_value":"191744138.54","prev_closing_price":"2771","units_traded_24H":"109803.7","acc_trade_value_24H":"307802104.96","fluctate_24H":"202","fluctate_rate_24H":"7.69"},"CTXC":{"opening_price":"425","closing_price":"442","min_price":"414","max_price":"453","units_traded":"792339.82","acc_trade_value":"344041572.05","prev_closing_price":"424","units_traded_24H":"1669690.16","acc_trade_value_24H":"721967816.27","fluctate_24H":"-10","fluctate_rate_24H":"-2.21"},"BAT":{"opening_price":"235","closing_price":"225","min_price":"225","max_price":"237","units_traded":"333475.88","acc_trade_value":"76686034.81","prev_closing_price":"233","units_traded_24H":"583591.23","acc_trade_value_24H":"136079385.76","fluctate_24H":"-17","fluctate_rate_24H":"-7.02"},"WTC":{"opening_price":"1720","closing_price":"1653","min_price":"1646","max_price":"1739","units_traded":"8371844.09","acc_trade_value":"14188693084.52","prev_closing_price":"1740","units_traded_24H":"8465340.63","acc_trade_value_24H":"14350259377.87","fluctate_24H":"-79","fluctate_rate_24H":"-4.56"},"CMT":{"opening_price":"43.6","closing_price":"42.3","min_price":"41.1","max_price":"44.4","units_traded":"1254840.3","acc_trade_value":"53404300.69","prev_closing_price":"44.1","units_traded_24H":"2430986.78","acc_trade_value_24H":"104482740.11","fluctate_24H":"-2.3","fluctate_rate_24H":"-5.16"},"THETA":{"opening_price":"136","closing_price":"135","min_price":"132","max_price":"137","units_traded":"311175.05","acc_trade_value":"41747187.56","prev_closing_price":"137","units_traded_24H":"560382.22","acc_trade_value_24H":"75930404.41","fluctate_24H":"-4","fluctate_rate_24H":"-2.88"},"POLY":{"opening_price":"49.3","closing_price":"48.4","min_price":"48","max_price":"50","units_traded":"1248444.42","acc_trade_value":"60919858.1","prev_closing_price":"49.9","units_traded_24H":"3406267.93","acc_trade_value_24H":"169498790.87","fluctate_24H":"-3.2","fluctate_rate_24H":"-6.20"},"LOOM":{"opening_price":"113","closing_price":"103","min_price":"103","max_price":"113","units_traded":"1978837.27","acc_trade_value":"212140352.15","prev_closing_price":"113","units_traded_24H":"4675630.28","acc_trade_value_24H":"515612229.75","fluctate_24H":"-14","fluctate_rate_24H":"-11.97"},"WAVES":{"opening_price":"2229","closing_price":"3103","min_price":"2053","max_price":"3187","units_traded":"1033754.1","acc_trade_value":"2865530113.21","prev_closing_price":"2230","units_traded_24H":"1279934.97","acc_trade_value_24H":"3438862238.12","fluctate_24H":"1,187","fluctate_rate_24H":"61.95"},"ITC":{"opening_price":"224","closing_price":"224","min_price":"220","max_price":"229","units_traded":"696453.83","acc_trade_value":"155660407.26","prev_closing_price":"224","units_traded_24H":"1456159.87","acc_trade_value_24H":"328793677.75","fluctate_24H":"-1","fluctate_rate_24H":"-0.44"},"TRUE":{"opening_price":"459","closing_price":"464","min_price":"436","max_price":"464","units_traded":"60537.72","acc_trade_value":"27137013.24","prev_closing_price":"461","units_traded_24H":"81745.31","acc_trade_value_24H":"36859413.01","fluctate_24H":"4","fluctate_rate_24H":"0.87"},"ABT":{"opening_price":"247","closing_price":"241","min_price":"239","max_price":"248","units_traded":"239891.31","acc_trade_value":"57929863.04","prev_closing_price":"244","units_traded_24H":"354375.87","acc_trade_value_24H":"86323634.66","fluctate_24H":"-11","fluctate_rate_24H":"-4.37"},"LINK":{"opening_price":"2597","closing_price":"2501","min_price":"2450","max_price":"2650","units_traded":"523695.82","acc_trade_value":"1321684252.03","prev_closing_price":"2598","units_traded_24H":"772437.26","acc_trade_value_24H":"1970812281.09","fluctate_24H":"-100","fluctate_rate_24H":"-3.84"},"SALT":{"opening_price":"155","closing_price":"149","min_price":"143","max_price":"157","units_traded":"1184708.89","acc_trade_value":"175771246.36","prev_closing_price":"156","units_traded_24H":"2593654.48","acc_trade_value_24H":"395622326.64","fluctate_24H":"-11","fluctate_rate_24H":"-6.88"},"PST":{"opening_price":"115","closing_price":"112","min_price":"110","max_price":"117","units_traded":"439133.86","acc_trade_value":"49461056.47","prev_closing_price":"115","units_traded_24H":"632688.46","acc_trade_value_24H":"71531722.96","fluctate_24H":"-4","fluctate_rate_24H":"-3.45"},"RNT":{"opening_price":"33.2","closing_price":"31.5","min_price":"31.2","max_price":"33.9","units_traded":"3192269.05","acc_trade_value":"101820978.63","prev_closing_price":"33.4","units_traded_24H":"6474416.29","acc_trade_value_24H":"211047882.44","fluctate_24H":"-2.8","fluctate_rate_24H":"-8.16"},"ENJ":{"opening_price":"83.3","closing_price":"81.8","min_price":"80","max_price":"84.2","units_traded":"2663292.01","acc_trade_value":"218182365.6","prev_closing_price":"82.9","units_traded_24H":"5247711.84","acc_trade_value_24H":"436302693.8","fluctate_24H":"-5.2","fluctate_rate_24H":"-5.98"},"PLY":{"opening_price":"9.06","closing_price":"8.73","min_price":"8.65","max_price":"9.24","units_traded":"48948533.51","acc_trade_value":"429512893.46","prev_closing_price":"9.07","units_traded_24H":"97267137.49","acc_trade_value_24H":"873784268.94","fluctate_24H":"-0.88","fluctate_rate_24H":"-9.16"},"VET":{"opening_price":"6.29","closing_price":"6.29","min_price":"6.24","max_price":"6.48","units_traded":"3280353.42","acc_trade_value":"20566982.07","prev_closing_price":"6.27","units_traded_24H":"6474040.04","acc_trade_value_24H":"40945935.55","fluctate_24H":"-0.19","fluctate_rate_24H":"-2.93"},"MTL":{"opening_price":"4377","closing_price":"4440","min_price":"4316","max_price":"4845","units_traded":"242753.32","acc_trade_value":"1104397176.24","prev_closing_price":"4312","units_traded_24H":"634591.34","acc_trade_value_24H":"2896016575.88","fluctate_24H":"-451","fluctate_rate_24H":"-9.22"},"RDN":{"opening_price":"850","closing_price":"831","min_price":"801","max_price":"863","units_traded":"92471.9","acc_trade_value":"76321598.85","prev_closing_price":"852","units_traded_24H":"180307.83","acc_trade_value_24H":"150864217.87","fluctate_24H":"-37","fluctate_rate_24H":"-4.26"},"INS":{"opening_price":"248","closing_price":"242","min_price":"234","max_price":"253","units_traded":"706997.35","acc_trade_value":"171368851.13","prev_closing_price":"252","units_traded_24H":"1066902.68","acc_trade_value_24H":"264028507.43","fluctate_24H":"-17","fluctate_rate_24H":"-6.56"},"IOST":{"opening_price":"11.5","closing_price":"11.5","min_price":"11.1","max_price":"11.6","units_traded":"3237226.17","acc_trade_value":"36596394.92","prev_closing_price":"11.6","units_traded_24H":"5659580.21","acc_trade_value_24H":"64427627.69","fluctate_24H":"0","fluctate_rate_24H":"0.00"},"OCN":{"opening_price":"2.96","closing_price":"3.01","min_price":"2.91","max_price":"3.12","units_traded":"12802870.73","acc_trade_value":"38170820.1","prev_closing_price":"2.96","units_traded_24H":"21079321.88","acc_trade_value_24H":"62898306.11","fluctate_24H":"0","fluctate_rate_24H":"0.00"},"TMTG":{"opening_price":"2.05","closing_price":"2.02","min_price":"1.89","max_price":"2.14","units_traded":"160585957.65","acc_trade_value":"317978987.83","prev_closing_price":"2.08","units_traded_24H":"412432810.09","acc_trade_value_24H":"851781777.36","fluctate_24H":"0.11","fluctate_rate_24H":"5.76"},"QKC":{"opening_price":"16.3","closing_price":"15.9","min_price":"15.8","max_price":"16.5","units_traded":"4491771.09","acc_trade_value":"72050989.42","prev_closing_price":"16.3","units_traded_24H":"24490833.57","acc_trade_value_24H":"408013005.88","fluctate_24H":"-1.1","fluctate_rate_24H":"-6.47"},"BZNT":{"opening_price":"14.2","closing_price":"13.7","min_price":"12.9","max_price":"14.3","units_traded":"65742303.5","acc_trade_value":"888943796.52","prev_closing_price":"14.2","units_traded_24H":"276811208.64","acc_trade_value_24H":"4363784753.42","fluctate_24H":"-2.8","fluctate_rate_24H":"-16.97"},"ARN":{"opening_price":"422","closing_price":"411","min_price":"403","max_price":"422","units_traded":"61404.68","acc_trade_value":"25086533.77","prev_closing_price":"422","units_traded_24H":"144264.93","acc_trade_value_24H":"59535241.17","fluctate_24H":"-11","fluctate_rate_24H":"-2.61"},"HDAC":{"opening_price":"25.4","closing_price":"24.9","min_price":"24.6","max_price":"25.4","units_traded":"1476013.73","acc_trade_value":"36956053.8","prev_closing_price":"25.4","units_traded_24H":"3184733.91","acc_trade_value_24H":"79480378.95","fluctate_24H":"-0.3","fluctate_rate_24H":"-1.19"},"NPXS":{"opening_price":"0.51","closing_price":"0.52","min_price":"0.5","max_price":"0.53","units_traded":"213230729.26","acc_trade_value":"109433807.06","prev_closing_price":"0.52","units_traded_24H":"507291913.73","acc_trade_value_24H":"262568853.62","fluctate_24H":"-0.01","fluctate_rate_24H":"-1.89"},"LBA":{"opening_price":"24.1","closing_price":"23.8","min_price":"23","max_price":"24.2","units_traded":"1577544.55","acc_trade_value":"37241030.31","prev_closing_price":"23.7","units_traded_24H":"3544228.68","acc_trade_value_24H":"84262336.51","fluctate_24H":"-0.4","fluctate_rate_24H":"-1.65"},"WET":{"opening_price":"13.7","closing_price":"13.4","min_price":"13.2","max_price":"14.2","units_traded":"8832222.01","acc_trade_value":"119287918.53","prev_closing_price":"13.6","units_traded_24H":"60047488.09","acc_trade_value_24H":"857788586.42","fluctate_24H":"-0.1","fluctate_rate_24H":"-0.74"},"AMO":{"opening_price":"0.49","closing_price":"0.49","min_price":"0.48","max_price":"0.51","units_traded":"128895410.4","acc_trade_value":"62916603.77","prev_closing_price":"0.49","units_traded_24H":"210238210.12","acc_trade_value_24H":"102447565.37","fluctate_24H":"0","fluctate_rate_24H":"0.00"},"BSV":{"opening_price":"157000","closing_price":"157000","min_price":"155200","max_price":"159500","units_traded":"4433.13","acc_trade_value":"698824702.35","prev_closing_price":"157500","units_traded_24H":"5937.17","acc_trade_value_24H":"935638288.62","fluctate_24H":"100","fluctate_rate_24H":"0.06"},"ROM":{"opening_price":"0.03","closing_price":"0.03","min_price":"0.03","max_price":"0.04","units_traded":"316480222.87","acc_trade_value":"10465039.1","prev_closing_price":"0.04","units_traded_24H":"476427215.77","acc_trade_value_24H":"15773485.5","fluctate_24H":"-0.01","fluctate_rate_24H":"-25.00"},"APIS":{"opening_price":"1.16","closing_price":"1.16","min_price":"1.13","max_price":"1.19","units_traded":"36251108.46","acc_trade_value":"42008670.24","prev_closing_price":"1.16","units_traded_24H":"99837570.65","acc_trade_value_24H":"115268009.61","fluctate_24H":"0.02","fluctate_rate_24H":"1.75"},"DAC":{"opening_price":"5.27","closing_price":"5.21","min_price":"5.13","max_price":"5.28","units_traded":"8746926.15","acc_trade_value":"45189233.27","prev_closing_price":"5.25","units_traded_24H":"54411309.31","acc_trade_value_24H":"289938550.29","fluctate_24H":"0.01","fluctate_rate_24H":"0.19"},"DACC":{"opening_price":"0.13","closing_price":"0.13","min_price":"0.12","max_price":"0.13","units_traded":"99937649.22","acc_trade_value":"12463004.03","prev_closing_price":"0.13","units_traded_24H":"184372111.74","acc_trade_value_24H":"23043080.4","fluctate_24H":"0","fluctate_rate_24H":"0.00"},"AUTO":{"opening_price":"1.34","closing_price":"1.28","min_price":"1.24","max_price":"1.36","units_traded":"77754868.43","acc_trade_value":"99504517.23","prev_closing_price":"1.31","units_traded_24H":"136203647.15","acc_trade_value_24H":"177397585.11","fluctate_24H":"-0.07","fluctate_rate_24H":"-5.19"},"ORBS":{"opening_price":"18","closing_price":"18.3","min_price":"17.9","max_price":"19","units_traded":"14648681.92","acc_trade_value":"270259259.67","prev_closing_price":"17.9","units_traded_24H":"21065477.66","acc_trade_value_24H":"385896872.18","fluctate_24H":"0.5","fluctate_rate_24H":"2.81"},"VALOR":{"opening_price":"1398","closing_price":"1335","min_price":"1291","max_price":"1430","units_traded":"107255.58","acc_trade_value":"144310487.01","prev_closing_price":"1410","units_traded_24H":"180195.54","acc_trade_value_24H":"246585910.28","fluctate_24H":"-63","fluctate_rate_24H":"-4.51"},"CON":{"opening_price":"11.4","closing_price":"11","min_price":"9.58","max_price":"13.3","units_traded":"379766524.05","acc_trade_value":"4213493123.58","prev_closing_price":"11.4","units_traded_24H":"496519915.77","acc_trade_value_24H":"5489331919.03","fluctate_24H":"0.2","fluctate_rate_24H":"1.85"},"ANKR":{"opening_price":"6.01","closing_price":"5.86","min_price":"5.8","max_price":"6.21","units_traded":"45636844.08","acc_trade_value":"269814665.4","prev_closing_price":"6","units_traded_24H":"132277320.33","acc_trade_value_24H":"824515531.63","fluctate_24H":"-0.52","fluctate_rate_24H":"-8.15"},"MIX":{"opening_price":"62.9","closing_price":"61.6","min_price":"61.6","max_price":"63.5","units_traded":"274863.98","acc_trade_value":"17126852.54","prev_closing_price":"62.8","units_traded_24H":"559848.2","acc_trade_value_24H":"35051446.51","fluctate_24H":"-2.7","fluctate_rate_24H":"-4.2"},"LAMB":{"opening_price":"199","closing_price":"199","min_price":"195","max_price":"205","units_traded":"781909.9","acc_trade_value":"156303423.95","prev_closing_price":"202","units_traded_24H":"1326659.82","acc_trade_value_24H":"265527263.49","fluctate_24H":"-1","fluctate_rate_24H":"-0.50"},"CRO":{"opening_price":"50.7","closing_price":"50.1","min_price":"50","max_price":"50.9","units_traded":"1131074.84","acc_trade_value":"57081648.36","prev_closing_price":"50.6","units_traded_24H":"1345078.66","acc_trade_value_24H":"68040852.53","fluctate_24H":"-1.6","fluctate_rate_24H":"-3.09"},"MXC":{"opening_price":"5.06","closing_price":"5.02","min_price":"5.02","max_price":"5.13","units_traded":"7508783.76","acc_trade_value":"37909191.23","prev_closing_price":"5.08","units_traded_24H":"11567058.98","acc_trade_value_24H":"58680873.84","fluctate_24H":"-0.09","fluctate_rate_24H":"-1.76"},"HC":{"opening_price":"3594","closing_price":"3052","min_price":"3002","max_price":"3639","units_traded":"431354.91","acc_trade_value":"1389805704.86","prev_closing_price":"3594","units_traded_24H":"1087222.31","acc_trade_value_24H":"3775754120.85","fluctate_24H":"46","fluctate_rate_24H":"1.53"},"BCD":{"opening_price":"1910","closing_price":"2001","min_price":"1881","max_price":"2240","units_traded":"288381.1","acc_trade_value":"607814475.08","prev_closing_price":"1977","units_traded_24H":"335906.63","acc_trade_value_24H":"700449270.83","fluctate_24H":"108","fluctate_rate_24H":"5.71"},"XVG":{"opening_price":"16","closing_price":"15.5","min_price":"15","max_price":"17","units_traded":"5827167.36","acc_trade_value":"91494000.39","prev_closing_price":"16","units_traded_24H":"13970920.75","acc_trade_value_24H":"223777353.73","fluctate_24H":"-1.6","fluctate_rate_24H":"-9.36"},"XLM":{"opening_price":"95.3","closing_price":"94.4","min_price":"94.2","max_price":"96","units_traded":"283279.02","acc_trade_value":"26895050.29","prev_closing_price":"95.3","units_traded_24H":"460614.05","acc_trade_value_24H":"44009370.07","fluctate_24H":"-2.3","fluctate_rate_24H":"-2.38"},"PIVX":{"opening_price":"1695","closing_price":"1977","min_price":"1670","max_price":"2085","units_traded":"210146.24","acc_trade_value":"412603858.63","prev_closing_price":"1695","units_traded_24H":"245433.25","acc_trade_value_24H":"473576314.79","fluctate_24H":"166","fluctate_rate_24H":"9.17"},"ETZ":{"opening_price":"173","closing_price":"176","min_price":"166","max_price":"178","units_traded":"376212.65","acc_trade_value":"64959603.67","prev_closing_price":"174","units_traded_24H":"871427.11","acc_trade_value_24H":"152470124.95","fluctate_24H":"-8","fluctate_rate_24H":"-4.35"},"GXC":{"opening_price":"1431","closing_price":"1378","min_price":"1331","max_price":"1432","units_traded":"205668.78","acc_trade_value":"282035633.29","prev_closing_price":"1418","units_traded_24H":"756234.66","acc_trade_value_24H":"1096605906.35","fluctate_24H":"-17","fluctate_rate_24H":"-1.22"},"BHP":{"opening_price":"1570","closing_price":"1610","min_price":"1532","max_price":"1611","units_traded":"11141.28","acc_trade_value":"17540565.8","prev_closing_price":"1525","units_traded_24H":"12988.53","acc_trade_value_24H":"20408418.53","fluctate_24H":"38","fluctate_rate_24H":"2.42"},"BTT":{"opening_price":"1.12","closing_price":"1.11","min_price":"1.1","max_price":"1.13","units_traded":"34446182.92","acc_trade_value":"38355159.67","prev_closing_price":"1.13","units_traded_24H":"75856752.74","acc_trade_value_24H":"84455729.79","fluctate_24H":"0","fluctate_rate_24H":"0.00"},"HYC":{"opening_price":"6.64","closing_price":"6.38","min_price":"6.38","max_price":"6.72","units_traded":"15274343.87","acc_trade_value":"99160131.65","prev_closing_price":"6.64","units_traded_24H":"20581993.12","acc_trade_value_24H":"134080859.94","fluctate_24H":"-0.14","fluctate_rate_24H":"-2.15"},"date":"1566800752833"}}'
  recorded_at: Mon, 26 Aug 2019 06:25:53 GMT
recorded_with: VCR 4.0.0
