---
http_interactions:
- request:
    method: get
    uri: https://api.birake.com/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"477c-dMoRjZxb6ghX34LnuJMxO/E+evs"
    body:
      encoding: UTF-8
      string: '[{"time":"2019-05-16T13:06:12","base":"USDC","quote":"BTC","latest":"7717.14308682","lowest_ask":"8164.43044369","highest_bid":"7099.46356427","percent_change":"0.41","base_volume":"13007.1296","quote_volume":"1.74501994","quote_name":"Bitcoin","base_name":"USD
        Coin","quote_info":"https://news.birake.com/2019/04/17/birake-listed-bitcoin-btc/","base_info":"https://news.birake.com/2019/04/08/birake-listed-usd-coin-usdc/","trading_url":"https://birake.com/trade/BIRAKE.BTC_BIRAKE.USDC","wallet_enabled":true},{"time":"2019-05-16T13:06:32","base":"BTC","quote":"BIR","latest":"0.00000066","lowest_ask":"0.00000088","highest_bid":"0.00000060","percent_change":"-32.72","base_volume":"1.18840063","quote_volume":"1429690.69484","quote_name":"Birake","base_name":"Bitcoin","quote_info":"https://news.birake.com/2019/02/28/birake-listed-bir/","base_info":"https://news.birake.com/2019/04/17/birake-listed-bitcoin-btc/","trading_url":"https://birake.com/trade/BIR_BIRAKE.BTC","wallet_enabled":true},{"time":"2[...]
