---
http_interactions:
- request:
    method: get
    uri: https://kuna.io/api/v2/trades?market=btcuah
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"6c9d2123222b6f5bc5c05b1186422412"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":197184,"price":"471500.0","volume":"0.0122","funds":"5752.3","market":"btcuah","created_at":"2017-12-13T07:20:28Z","side":null},{"id":197183,"price":"471100.0","volume":"0.000212","funds":"99.8732","market":"btcuah","created_at":"2017-12-13T07:19:17Z","side":null},{"id":197180,"price":"471050.0","volume":"0.00305","funds":"1436.7025","market":"btcuah","created_at":"2017-12-13T07:14:32Z","side":null},{"id":197179,"price":"471100.0","volume":"0.005943","funds":"2799.7473","market":"btcuah","created_at":"2017-12-13T07:14:32Z","side":null},{"id":197178,"price":"471500.0","volume":"0.050277","funds":"23705.6055","market[...]
