---
http_interactions:
- request:
    method: get
    uri: https://kuna.io/api/v2/tickers/btcuah
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"589eb696094783c5b8dbdadace9a977a"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1513149653,"ticker":{"buy":"471100.0","sell":"472996.0","low":"470000.0","high":"480000.0","last":"471500.0","vol":"19.900896","price":"9451644.223287"}}'
  recorded_at: Wed, 13 Dec 2017 07:20:53 GMT
recorded_with: VCR 3.0.3
