---
http_interactions:
- request:
    method: get
    uri: https://kuna.io/api/v2/order_book?market=btcuah
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"14824f8a4d96e49417790137f12f82c3"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":1461033,"side":"sell","ord_type":"limit","price":"472996.0","avg_price":"0.0","state":"wait","market":"btcuah","created_at":"2017-12-13T09:16:43+02:00","volume":"0.002114","remaining_volume":"0.002114","executed_volume":"0.0","trades_count":0},{"id":1460621,"side":"sell","ord_type":"limit","price":"473001.0","avg_price":"0.0","state":"wait","market":"btcuah","created_at":"2017-12-13T08:40:00+02:00","volume":"0.01","remaining_volume":"0.01","executed_volume":"0.0","trades_count":0},{"id":1461017,"side":"sell","ord_type":"limit","price":"474499.0","avg_price":"0.0","state":"wait","market":"btcuah","created_at":"2017-12-13T09:14:47+02:00","volume":"0.000798","remaining_volume":"0.000798","executed_volume":"0.0","trades_count":0},{"id"[...]
