---
http_interactions:
- request:
    method: get
    uri: https://bgogo.com/api/snapshot/ETH/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","price_step":"0.000001","amount_step":"0.0001","all_symbols":["BGG\/BTC","BGG\/ETH","ETH\/BTC","CTXC\/ETH","CTXC\/BTC","CNN\/ETH","CNN\/BTC","SHE\/ETH","SHE\/BTC","BUT\/BTC","BUT\/ETH","HOT\/BTC","HOT\/ETH","HEY\/BTC","HEY\/ETH","CDC\/BTC","CDC\/ETH","DFN\/BTC","DFN\/ETH","PRA\/BTC","PRA\/ETH","IOTX\/BTC","IOTX\/ETH","MVP\/BTC","MVP\/ETH","TAC\/BTC","TAC\/ETH","FTM\/BTC","FTM\/ETH","GARD\/BTC","GARD\/ETH","BTC\/USDT","ETH\/USDT"],"last_prices":["0.0000012401","0.0000366402","0.033683","0.00132859","0.00004497","0.0000020357","0.0000000686","0.0000069440","0.0000002353","0.0000010005","0.0000298164","0.0000016111","0.0000516506","0.0000014700","0.0000113702","0.0000000861","0.0000026810","0.000884","0.036536","0.00003606","0.00073258","0.0000016984","0.0000574755","0.0000001508","0.0000044235","0.00000077","0.0000261","0.00001102","0.0001791","0.0000000210","0.0000007026","6455.64","217.52"],"past_24hrs_price_changes":["-32.79%","-45.15%","-0.36%","-0.23%","-0.22%","-2.72%","-2.28%","-0.81%","-1.09%","-0.72%","+0.84%","-10.65%","-3.72%","+20.24%","+102.20%","-3.26%","+2.45%","+12.47%","-14.97%","+45.11%","-10.51%","-12.21%","-0.94%","-16.36%","-2.88%","-8.33%","+19.18%","-25.19%","+17.83%","-30.92%","-7.04%","-0.94%","-1.16%"],"past_24hrs_volumes":["928609601.50","1475758980.14","505047.9819","808638.27","841565.83","158614573.39","175488145.70","78307626.68","77470173.45","9212808.84","9199338.46","11225116.56","11190405.47","676612.29","2654658.83","142426695.03","151957574.45","886.278419","1441.089923","32255.8742","60797.5535","23143264.04","51228471.44","5624592.55","10590122.84","789653.811","2172144.029","58177.320","230165.950","2969429965.51","71852515.23","4945.402563","351406.656101"],"past_24hrs_high_price":["0.0000021999","0.0000670000","0.034447","0.00140044","0.00004667","0.0000026894","0.0000001000","0.0000112573","0.0000002708","0.0000012327","0.0000752760","0.0000018792","0.0000577187","0.0000014700","0.0000364240","0.0000005014","0.0000036377","0.000970","0.055900","0.00003606","0.00100000","0.0000028386","0.0000699952","0.0000001892","0.0000065029","0.00000085","0.0000300","0.00001790","0.0002161","0.0000000310","0.0000009200","7904.57","224.97"],"past_24hrs_low_price":["0.0000010817","0.0000330000","0.033066","0.00129995","0.00004382","0.0000020069","0.0000000681","0.0000063947","0.0000002252","0.0000009781","0.0000292544","0.0000014513","0.0000426824","0.0000009400","0.0000022829","0.0000000846","0.0000025900","0.000785","0.018995","0.00001788","0.00071735","0.0000016777","0.0000542075","0.0000001427","0.0000037470","0.00000062","0.0000170","0.00001012","0.0001501","0.0000000210","0.0000005289","6429.91","213.57"],"past_24hrs_turnovers":["1529.46668533","71367.67684356","17007.98435126","1074.29914704","37.78988496","338.66334840","13.34259130","581.76753361","19.09361745","9.61114779","337.42011182","20.32845577","599.25481638","0.71934169","20.27815755","14.67693833","449.67276228","0.81591167","59.51071777","0.89434564","48.68901059","44.48590686","2912.36544722","0.87310734","49.61474293","0.63353335","56.51463725","0.69891917","41.83603878","80.12289383","52.45554801","32122930.74889050","76698661.01841355"],"order_book":{"bids":[{"price":"0.033648","amount":"0.3888"},{"price":"0.033647","amount":"0.1594"},{"price":"0.033641","amount":"0.1519"},{"price":"0.033631","amount":"0.0273"},{"price":"0.033630","amount":"0.0150"},{"price":"0.033624","amount":"0.1271"},{"price":"0.033609","amount":"0.0367"},{"price":"0.033597","amount":"0.0735"},{"price":"0.033584","amount":"0.0750"},{"price":"0.033583","amount":"0.8543"},{"price":"0.033582","amount":"0.0315"},{"price":"0.033569","amount":"0.0268"},{"price":"0.033558","amount":"0.0729"},{"price":"0.033556","amount":"0.1231"},{"price":"0.033555","amount":"0.0459"},{"price":"0.033544","amount":"0.0606"},{"price":"0.033535","amount":"0.1233"},{"price":"0.033534","amount":"0.0180"},{"price":"0.033529","amount":"0.0198"},{"price":"0.033500","amount":"0.0618"}],"asks":[{"price":"0.033718","amount":"8.5459"},{"price":"0.033719","amount":"4.8998"},{"price":"0.033766","amount":"38.0593"},{"price":"0.033787","amount":"0.0437"},{"price":"0.033800","amount":"4.6058"},{"price":"0.033818","amount":"0.0121"},{"price":"0.033820","amount":"0.1244"},{"price":"0.033823","amount":"5.3698"},{"price":"0.033826","amount":"0.0606"},{"price":"0.033827","amount":"0.0110"},{"price":"0.033829","amount":"0.0367"},{"price":"0.033830","amount":"0.0300"},{"price":"0.033834","amount":"0.1233"},{"price":"0.033837","amount":"0.0789"},{"price":"0.033839","amount":"0.0283"},{"price":"0.033845","amount":"0.1603"},{"price":"0.033851","amount":"0.0616"},{"price":"0.033876","amount":"0.0120"},{"price":"0.033879","amount":"0.0606"},{"price":"0.033892","amount":"0.7614"}]},"trade_history":[{"price":"0.033683","amount":"0.8000","side":"sell","timestamp":1537186118},{"price":"0.033683","amount":"37.1429","side":"sell","timestamp":1537186118},{"price":"0.033659","amount":"0.8000","side":"sell","timestamp":1537186114},{"price":"0.033658","amount":"4.5770","side":"sell","timestamp":1537186112},{"price":"0.033663","amount":"0.8000","side":"sell","timestamp":1537186110},{"price":"0.033663","amount":"70.9563","side":"sell","timestamp":1537186107},{"price":"0.033658","amount":"0.8000","side":"sell","timestamp":1537186105},{"price":"0.033663","amount":"[...]
