---
http_interactions:
- request:
    method: get
    uri: https://bgogo.com/api/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ETH\/BTC":{"last_price":"0.033683","lowest_ask_price":"0.033718","highest_bid_price":"0.033648","past_24hrs_price_change":"-0.35%","past_24hrs_base_volume":"505047.9819","past_24hrs_quote_turnover":"17007.98435126","past_24hrs_high_price":"0.034447","past_24hrs_low_price":"0.033066"},"CTXC\/ETH":{"last_price":"0.00132859","lowest_ask_price":"0.00133088","highest_bid_price":"0.00132590","past_24hrs_price_change":"-0.22%","past_24hrs_base_volume":"808638.27","past_24hrs_quote_turnover":"1074.29914704","past_24hrs_high_price":"0.00140044","past_24hrs_low_price":"0.00129995"},"CTXC\/BTC":{"last_price":"0.00004497","lowest_ask_price":"0.00004499","highest_bid_price":"0.00004470","past_24hrs_price_change":"-0.22%","past_24hrs_base_volume":"841565.83","past_24hrs_quote_[...]
