---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api-v1/rest/btc_usd/market/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Csrf-Token:
      - ZCnCduAYKQLFb+CUM6JAKLwvjolzrhrdGEpa7LN0ybf91N8Wxereyd+m8HEdNlfomj6hKpPnvuiSAuA8VLH88w==
    body:
      encoding: UTF-8
      string: '{"last":6541.31,"open":6558.89,"high":6579.79935678,"low":6537.024,"vwap":6551.20832398262,"volume":1.4460257,"bid":6537.0,"ask":6572.04397265,"price_before_last":6541.31}'
  recorded_at: Sun, 07 Oct 2018 17:20:08 GMT
recorded_with: VCR 4.0.0
