---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 4-62895313-62895316 NNNN CT(55 56 0) RT(1569985826873 40) q(0 0 1 0) r(1 1)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"volume":387949.867,"contract_end":"","symbol":"USDTPFC","high24Hr":1.0033,"last":1.0028,"highestBid":1.0019,"percentageChange":0.1898,"lowestAsk":1.0037,"contract_start":"","low24Hr":1.0009,"base":"USDT","target":"USD"},{"volume":154798.671,"contract_end":1571990430,"symbol":"LTCV19","high24Hr":57.75,"last":56.1,"highestBid":55.9,"percentageChange":-2.0088,"lowestAsk":56.1,"contract_start":1568966400,"low24Hr":55.05,"base":"LTC","target":"USD"},{"volume":3039667.733,"contract_end":1571990430,"symbol":"BTCV19","high24Hr":8507.0,"last":8229.5,"highestBid":8244.5,"percentageChange":-2.3321,"lowestAsk":8246.5,"contract_start":1568966400,"low24Hr":8229.5,"base":"BTC","target":"USD"},{"volume":2.6109604414E7,"[...]
