---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/orderbook/BTCV19
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 9-1130186-1130187 NNNN CT(60 60 0) RT(1569722204501 30) q(0 0 1 -1) r(2 2)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"buyQuote":[{"price":"8184.5","size":"112"},{"price":"8184.0","size":"4359"},{"price":"8183.0","size":"4960"},{"price":"8182.5","size":"4027"},{"price":"8165.0","size":"369"},{"price":"8164.5","size":"813"},{"price":"8156.0","size":"2166"},{"price":"8153.0","size":"1304"},{"price":"8137.0","size":"1829"},{"price":"8130.5","size":"3734"}],"sellQuote":[{"price":"8256.5","size":"12622"},{"price":"8247.5","size":"1584"},{"price":"8238.5","size":"6919"},{"price":"8230.5","size":"2562"},{"price":"8222.5","size":"1307"},{"price":"8214.5","size":"878"},{"price":"8210.0","size":"645"},{"price":"8188.0","size":"9837"},{"price":"8187.5","size":"2180"},{"price":"8186.0","size":"3233"}],"timestamp":1569722204859,"symbol":"BTCV19"}'
  recorded_at: Sun, 29 Sep 2019 01:56:43 GMT
recorded_with: VCR 4.0.0
