---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/trades/BTCV19
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 1-3054502-3054505 NNNN CT(57 59 0) RT(1569722204755 47) q(0 0 1 -1) r(1 1)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCV19","side":"SELL","size":414,"price":8185.5,"tradeId":92466048,"timestamp":1569722143978},{"symbol":"BTCV19","side":"SELL","size":102,"price":8184.0,"tradeId":92466024,"timestamp":1569722125697},{"symbol":"BTCV19","side":"BUY","size":621,"price":8186.0,"tradeId":92466002,"timestamp":1569722106235},{"symbol":"BTCV19","side":"BUY","size":43,"price":8182.0,"tradeId":92465972,"timestamp":1569722080861},{"symbol":"BTCV19","side":"SELL","size":91,"price":8181.0,"tradeId":92465940,"timestamp":1569722063523},{"symbol":"BTCV19","side":"SELL","size":100,"price":8178.5,"tradeId":[...]
