---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/orderbook/BTCZ19
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 8-25605211-25605229 NNNN CT(51 52 0) RT(1573811177354 544) q(0 0 2 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"buyQuote":[{"price":"8586.0","size":"1519"},{"price":"8585.5","size":"1549"},{"price":"8585.0","size":"1644"},{"price":"8584.5","size":"1027"},{"price":"8584.0","size":"13926"},{"price":"8583.5","size":"5044"},{"price":"8571.5","size":"545"},{"price":"8560.5","size":"466"},{"price":"8556.0","size":"1696"},{"price":"8555.0","size":"718"}],"sellQuote":[{"price":"8620.5","size":"2074"},{"price":"8620.0","size":"571"},{"price":"8619.5","size":"666"},{"price":"8618.0","size":"1683"},{"price":"8611.5","size":"530"},{"price":"8593.0","size":"8663"},{"price":"8592.5","size":"5873"},{"price":"8592.0","size":"6001"},{"price":"8591.5","size":"1583"},{"price":"8591.0","size":"1039"}],"timestamp":1573811178366,"symbol":"BTCZ19"}'
  recorded_at: Fri, 15 Nov 2019 09:46:19 GMT
recorded_with: VCR 4.0.0
