---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 7-16453826-16453831 NNNN CT(51 52 0) RT(1567671396428 32) q(0 0 1 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"volume":124871.0,"symbol":"ETHPFC","high24Hr":175.75,"last":174.8,"highestBid":175.75,"percentageChange":1.1095305832147873,"lowestAsk":173.8,"low24Hr":173.8},{"volume":421940.0,"symbol":"LTCPFC","high24Hr":67.6,"last":67.1,"highestBid":67.6,"percentageChange":1.7011834319526502,"lowestAsk":66.45,"low24Hr":66.45},{"volume":108161.0,"symbol":"USDTPFC","high24Hr":1.0019,"last":1.0011,"highestBid":1.0019,"percentageChange":0.12975346841002883,"lowestAsk":1.0006,"low24Hr":1.0006},{"volume":604929.0,"symbol":"BTCPFC","high24Hr":10656.5,"last":10559.5,"highestBid":10656.5,"percentageChange":1.4122835827898466,"lowestAsk":10506.0,"low24Hr":10506.0}]'
  recorded_at: Thu, 05 Sep 2019 08:16:37 GMT
recorded_with: VCR 4.0.0
