---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/trades/BTCZ19
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 11-79464342-79464403 NNNN CT(0 0 0) RT(1573811178562 569) q(0 0 0 -1) r(0
        0) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCZ19","side":"BUY","size":10,"price":8590.0,"tradeId":98976659,"timestamp":1573811154347},{"symbol":"BTCZ19","side":"SELL","size":100,"price":8602.0,"tradeId":98976496,"timestamp":1573811034109},{"symbol":"BTCZ19","side":"SELL","size":1,"price":8587.5,"tradeId":98976193,"timestamp":1573810860144},{"symbol":"BTCZ19","side":"BUY","size":15,"price":8578.5,"tradeId":98976037,"timestamp":1573810792867},{"symbol":"BTCZ19","side":"SELL","size":1,"price":8585.5,"tradeId":98975795,"timestamp":1573810668647},{"symbol":"BTCZ19","side":"SELL","size":17,"price":8619.5,"tradeId":989[...]
