---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/trades/BTCZ19
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 7-19707027-19707038 NNNN CT(0 0 0) RT(1573530714410 404) q(0 0 0 -1) r(0 0)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCZ19","side":"SELL","size":5,"price":8728.0,"tradeId":98503934,"timestamp":1573530674306},{"symbol":"BTCZ19","side":"BUY","size":7,"price":8711.0,"tradeId":98503604,"timestamp":1573530281320},{"symbol":"BTCZ19","side":"SELL","size":15,"price":8707.5,"tradeId":98503576,"timestamp":1573530259139},{"symbol":"BTCZ19","side":"SELL","size":6,"price":8712.0,"tradeId":98503488,"timestamp":1573530136362},{"symbol":"BTCZ19","side":"BUY","size":6,"price":8723.0,"tradeId":98503426,"timestamp":1573530084406},{"symbol":"BTCZ19","side":"BUY","size":10,"price":8723.0,"tradeId":9850335[...]
