---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/orderbook/BTCZ19
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-72651203-72651246 NNNN CT(0 0 0) RT(1573530713514 413) q(0 0 0 -1) r(0
        0) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"buyQuote":[{"price":"8727.5","size":"1256"},{"price":"8727.0","size":"739"},{"price":"8726.5","size":"7326"},{"price":"8725.5","size":"5858"},{"price":"8715.5","size":"364"},{"price":"8708.0","size":"662"},{"price":"8697.5","size":"1696"},{"price":"8693.0","size":"1392"},{"price":"8686.5","size":"918"},{"price":"8686.0","size":"2057"}],"sellQuote":[{"price":"8779.0","size":"2293"},{"price":"8763.5","size":"797"},{"price":"8761.0","size":"1683"},{"price":"8754.5","size":"1135"},{"price":"8753.5","size":"509"},{"price":"8735.5","size":"5961"},{"price":"8735.0","size":"9924"},{"price":"8734.5","size":"5913"},{"price":"8734.0","size":"1517"},{"price":"8732.5","size":"1219"}],"timestamp":1573530710702,"symbol":"BTCZ19"}'
  recorded_at: Tue, 12 Nov 2019 03:51:52 GMT
recorded_with: VCR 4.0.0
