---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/trades/BTCPFC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 11-99809940-99809946 NNNN CT(52 53 0) RT(1567671396908 31) q(0 0 1 -1) r(1
        1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCPFC-USD","side":"BUY","size":75.0,"price":10559.5,"tradeId":89399002,"timestamp":1567671392100},{"symbol":"BTCPFC-USD","side":"SELL","size":7.0,"price":10556.0,"tradeId":89398995,"timestamp":1567671383468},{"symbol":"BTCPFC-USD","side":"BUY","size":15.0,"price":10556.5,"tradeId":89398990,"timestamp":1567671380904},{"symbol":"BTCPFC-USD","side":"SELL","size":592.0,"price":10556.0,"tradeId":89398986,"timestamp":1567671380051},{"symbol":"BTCPFC-USD","side":"SELL","size":1255.0,"price":10555.0,"tradeId":89398981,"timestamp":1567671378254},{"symbol":"BTCPFC-USD","side":"BUY","siz[...]
