---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 3-5007662-5007666 NNNN CT(51 99 0) RT(1569486842828 41) q(0 0 2 -1) r(2 2)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"volume":3509553.9265,"contract_end":1569571230,"symbol":"BTCU19","high24Hr":8653.0,"last":8410.0,"highestBid":8410.0,"percentageChange":0.7668,"lowestAsk":8411.5,"contract_start":1560499200,"low24Hr":8241.5,"base":"BTC","target":"USD"},{"volume":1051695.654,"contract_end":1569571230,"symbol":"ETHU19","high24Hr":173.6,"last":170.3,"highestBid":170.3,"percentageChange":3.5573,"lowestAsk":170.5,"contract_start":1558684800,"low24Hr":162.45,"base":"ETH","target":"USD"},{"volume":2.271631239E7,"contract_end":"","symbol":"USDTPFC","high24Hr":1.01,"last":1.0005,"highestBid":1.0002,"percentageChange":-0.7835,"lowestAsk":1.0007,"contract_start":"","low24Hr":1.0002,"base":"USDT","target":"USD"},{"volume":136910.84,"contract_end":1[...]
