---
http_interactions:
- request:
    method: get
    uri: https://www.btse.com/api/init/initIndex?quote=USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":1,"msg":"Success","time":1573811180792,"data":[{"id":"B5","name":"BTSE
        5","type":0,"price":951.466359387,"gains":-0.01,"open":951.640966331,"high":969.950391705,"low":940.247443884,"volume":0.0},{"id":"B5","name":"B5","type":1,"price":951.466359387,"gains":-0.01,"open":951.640966331,"high":969.950391705,"low":940.247443884,"volume":0.0},{"id":"BTC","name":"BTC
        INDEX","type":0,"price":8591.358130898,"gains":0.0,"open":8590.94243942,"high":8771.066424504,"low":8495.56593157,"volume":0.0},{"id":"BTC","name":"BTC","type":1,"price":8591.358130898,"gains":0.0,"open":8590.94243942,"high":8771.066424504,"low":8495.56593157,"volume":0.0},{"id":"BTC","name":"BTC
        INDEX","type"[...]
