---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/trades/BTCU19
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 6-441986-441991 NNNN CT(50 52 0) RT(1569486843376 34) q(0 0 1 -1) r(1 1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCU19","side":"SELL","size":2,"price":8410.0,"tradeId":92067168,"timestamp":1569486833054},{"symbol":"BTCU19","side":"BUY","size":180,"price":8412.0,"tradeId":92067140,"timestamp":1569486823306},{"symbol":"BTCU19","side":"SELL","size":290,"price":8404.5,"tradeId":92066830,"timestamp":1569486705037},{"symbol":"BTCU19","side":"SELL","size":20,"price":8403.5,"tradeId":92066740,"timestamp":1569486667988},{"symbol":"BTCU19","side":"BUY","size":4,"price":8405.0,"tradeId":92066626,"timestamp":1569486633322},{"symbol":"BTCU19","side":"SELL","size":9,"price":8404.0,"tradeId":920[...]
