---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/orderbook/BTCU19
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 2-4338754-4338756 NNNN CT(54 52 0) RT(1569486843139 38) q(0 0 1 -1) r(2 2)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"buyQuote":[{"price":"8410.0","size":"587"},{"price":"8409.5","size":"1357"},{"price":"8409.0","size":"2921"},{"price":"8408.5","size":"780"},{"price":"8408.0","size":"6546"},{"price":"8407.5","size":"2958"},{"price":"8389.0","size":"263"},{"price":"8384.0","size":"921"},{"price":"8382.0","size":"361"},{"price":"8381.5","size":"1207"}],"sellQuote":[{"price":"8455.0","size":"3157"},{"price":"8444.0","size":"706"},{"price":"8442.0","size":"973"},{"price":"8440.0","size":"1370"},{"price":"8435.5","size":"569"},{"price":"8414.0","size":"2349"},{"price":"8413.5","size":"4595"},{"price":"8412.5","size":"8202"},{"price":"8412.0","size":"1584"},{"price":"8411.5","size":"420"}],"timestamp":1569486841171,"symbol":"BTCU19"}'
  recorded_at: Thu, 26 Sep 2019 08:34:03 GMT
recorded_with: VCR 4.0.0
