---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 11-79464079-79464134 NNNN CT(55 53 0) RT(1573811176013 617) q(0 0 1 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"contract_end":1585296030,"symbol":"BTCH20","last":8607.5,"openInterest":627406.0,"percentageChange":0.2504,"openInterestUSD":5388231.4,"lowestAsk":8596.0,"contract_start":1573027200,"low24Hr":8497.5,"target":"USD","volume":770633.757,"high24Hr":8772.0,"highestBid":8592.0,"base":"BTC"},{"contract_end":"","symbol":"BTCPFC","last":8586.0,"openInterest":1342751.0,"percentageChange":-0.099,"openInterestUSD":1.152713871E7,"lowestAsk":8587.5,"contract_start":"","low24Hr":8496.0,"target":"USD","volume":7.25952102935E7,"high24Hr":8768.5,"highestBid":8585.5,"base":"BTC"},{"contract_end":1577433630,"symbol":"LTCZ19","last":59.85,"openInterest":126365.0,"percentageChange":1.9591,"openInterestUSD":75624.84,"lowestAsk":59.95,"contract_start":1566547200,"low24Hr":58.45,"target":"USD"[...]
