---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/orderbook/BTCPFC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 11-99809894-99809902 NNNN CT(51 51 0) RT(1567671396683 30) q(0 0 1 -1) r(1
        1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"buyQuote":[{"price":"10,556.0","size":"33"},{"price":"10,554.5","size":"1,801"},{"price":"10,554.0","size":"3,720"},{"price":"10,551.0","size":"1,512"},{"price":"10,550.5","size":"568"},{"price":"10,549.5","size":"4,274"},{"price":"10,548.5","size":"26,132"},{"price":"10,548.0","size":"13,775"},{"price":"10,547.5","size":"13,633"},{"price":"10,546.5","size":"15,959"}],"sellQuote":[{"price":"10,565.5","size":"20,630"},{"price":"10,565.0","size":"10,741"},{"price":"10,564.5","size":"34,895"},{"price":"10,564.0","size":"5,664"},{"price":"10,563.5","size":"10,836"},{"price":"10,563.0","size":"4,382"},{"price":"10,561.5","size":"1,446"},{"price":"10,559.0","size":"15"},{"price":"10,558.0","size":"3,739"},{"price":"10,557.5","size":"2,470"}],"timestamp":1567671397271,"symbol":"BTCPFC"}'
  recorded_at: Thu, 05 Sep 2019 08:16:37 GMT
recorded_with: VCR 4.0.0
