---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/orderbook/BTCV19
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 4-62911097-62911103 NNNN CT(53 55 0) RT(1569986018563 34) q(0 0 2 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"buyQuote":[{"price":"8252.0","size":"3218"},{"price":"8251.5","size":"3397"},{"price":"8251.0","size":"3806"},{"price":"8250.5","size":"4658"},{"price":"8243.0","size":"566"},{"price":"8230.5","size":"480"},{"price":"8226.5","size":"313"},{"price":"8220.0","size":"1792"},{"price":"8217.0","size":"1079"},{"price":"8216.0","size":"1514"}],"sellQuote":[{"price":"8288.5","size":"764"},{"price":"8288.0","size":"1639"},{"price":"8279.0","size":"693"},{"price":"8277.0","size":"662"},{"price":"8275.5","size":"495"},{"price":"8273.5","size":"471"},{"price":"8256.0","size":"4118"},{"price":"8255.5","size":"3930"},{"price":"8254.5","size":"3018"},{"price":"8254.0","size":"1097"}],"timestamp":1569986017460,"symbol":"BTCV19"}'
  recorded_at: Wed, 02 Oct 2019 03:13:39 GMT
recorded_with: VCR 4.0.0
