---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/trades/BTCV19
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 3-43954545-43954546 NNNN CT(51 52 0) RT(1569986018803 30) q(0 0 1 -1) r(1
        1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCV19","side":"SELL","size":176,"price":8236.0,"tradeId":92838385,"timestamp":1569985873161},{"symbol":"BTCV19","side":"SELL","size":191,"price":8229.5,"tradeId":92838323,"timestamp":1569985798717},{"symbol":"BTCV19","side":"SELL","size":300,"price":8270.5,"tradeId":92837689,"timestamp":1569985241267},{"symbol":"BTCV19","side":"BUY","size":138,"price":8274.0,"tradeId":92837631,"timestamp":1569985170406},{"symbol":"BTCV19","side":"BUY","size":415,"price":8279.0,"tradeId":92837507,"timestamp":1569985077272},{"symbol":"BTCV19","side":"SELL","size":138,"price":8279.5,"tradeId[...]
