---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 2-36259631-36259632 NNNN CT(51 107 0) RT(1569986018279 28) q(0 0 1 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"volume":387949.867,"contract_end":"","symbol":"USDTPFC","high24Hr":1.0033,"last":1.0028,"highestBid":1.0019,"percentageChange":0.1898,"lowestAsk":1.0034,"contract_start":"","low24Hr":1.0009,"base":"USDT","target":"USD"},{"volume":154805.401,"contract_end":1571990430,"symbol":"LTCV19","high24Hr":57.75,"last":56.1,"highestBid":55.95,"percentageChange":-2.0088,"lowestAsk":56.2,"contract_start":1568966400,"low24Hr":55.05,"base":"LTC","target":"USD"},{"volume":3041117.269,"contract_end":1571990430,"symbol":"BTCV19","high24Hr":8507.0,"last":8236.0,"highestBid":8252.0,"percentageChange":-2.255,"lowestAsk":8254.0,"contract_start":1568966400,"low24Hr":8229.5,"base":"BTC","target":"USD"},{"volume":2.61283920690000[...]
