---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 8-37585470-37585477 NNNN CT(55 115 0) RT(1573530712437 399) q(0 0 2 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"contract_end":1585296030,"symbol":"BTCH20","last":8737.0,"openInterest":198085.0,"percentageChange":-3.3785,"openInterestUSD":1.72995922985E9,"lowestAsk":8739.0,"contract_start":1573027200,"low24Hr":8613.5,"target":"USD","volume":954689.7675000001,"high24Hr":9046.5,"highestBid":8729.0,"base":"BTC"},{"contract_end":"","symbol":"BTCPFC","last":8729.5,"openInterest":1444767.0,"percentageChange":-3.5042,"openInterestUSD":1.261436584852E10,"lowestAsk":8732.0,"contract_start":"","low24Hr":8600.0,"target":"USD","volume":6.4767843666E7,"high24Hr":9048.0,"highestBid":8729.5,"base":"BTC"},{"contract_end":1577433630,"symbol":"LTCZ19","last":61.9,"openInterest":118465.0,"percentageChange":-3.7326,"openInterestUSD":7324941.3,"lowestAsk":61.95,"contract_start":1566547200,"low24Hr":60.85,"target":[...]
