---
http_interactions:
- request:
    method: get
    uri: https://api.btse.com/futures/api/v1/market_summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 11-1610689-1610690 NNNN CT(59 60 0) RT(1569722204222 36) q(0 0 1 -1) r(2 2)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"volume":6866.155,"contract_end":1569571230,"symbol":"LTCU19","high24Hr":55.0,"last":54.6,"highestBid":54.5,"percentageChange":-0.274,"lowestAsk":54.65,"contract_start":1560499200,"low24Hr":54.55,"base":"LTC","target":"USD"},{"volume":34656.8265,"contract_end":1569571230,"symbol":"BTCU19","high24Hr":8012.0,"last":7992.0,"highestBid":7990.0,"percentageChange":0.1064,"lowestAsk":7992.0,"contract_start":1560499200,"low24Hr":7954.5,"base":"BTC","target":"USD"},{"volume":3331833.521,"contract_end":"","symbol":"USDTPFC","high24Hr":1.0024,"last":1.001,"highestBid":0.9999,"percentageChange":-0.0799,"lowestAsk":1.0021,"contract_start":"","low24Hr":1.0009,"base":"USDT","target":"USD"},{"volume":140183.9555,"contract_en[...]
