---
http_interactions:
- request:
    method: get
    uri: https://api.quoine.com/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d7b625876ba096d95bd916d8cbd33eec"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"1","product_type":"CurrencyPair","code":"CASH","name":" CASH
        Trading","market_ask":4398.11083,"market_bid":4394.95077,"indicator":-1,"currency":"USD","currency_pair_code":"BTCUSD","symbol":"$","btc_minimum_withdraw":0.02,"fiat_minimum_withdraw":15.0,"pusher_channel":"product_cash_btcusd_1","taker_fee":0.0,"maker_fee":0.0,"low_market_bid":"4354.78125","high_market_ask":"4441.27031","volume_24h":"625.0327416","last_price_24h":"4381.25","last_traded_price":"4389.48475","last_traded_quantity":"0.5","quoted_currency":"USD","base_currency":"BTC"},{"id":"3","product_type":"CurrencyPair","code":"CASH","name":"
        CASH Trading","market_ask":3756.01664,"market_bid":3753.33608,"indicator":-1,"currency":"EUR","currency_pair_code":"BTCEUR","symbol":"€","btc_minimum_withdraw":0.02,"fiat_minimum_withdraw":15.0,"pusher_channel":"product_cash_btceur_3","taker_fee":0.0,"maker_fee":0.0,"low_market_bid":"3705.58744","high_market_ask":"3785.18557","volume_24h":"591.29117194","last_price_24h":"3719.57297","last_traded_price":"3750.76592","la[...]
