---
http_interactions:
- request:
    method: get
    uri: https://a.yunex.io/api/market/depth?level=1&symbol=btc_usdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"asks":[["8163.8679","0.0295"]],"bids":[["8138.2209","0.0041"]]},"ok":1}'
  recorded_at: Mon, 30 Jul 2018 09:27:50 GMT
- request:
    method: get
    uri: https://a.yunex.io/api/market/trade/info?symbol=btc_usdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"amount":"441540.8121","close_price":"8138.2209","coin_pair":"btc_usdt","cur_price":"8138.2209","last_trade_nt":1532942662617757400,"max_price":"8302.8371","min_price":"8138.2209","open_price":"8261.3229","rate":"-1.98","ts":1532942662,"volume":"53.4444"},"ok":1}'
  recorded_at: Mon, 30 Jul 2018 09:27:50 GMT
recorded_with: VCR 4.0.0
