---
http_interactions:
- request:
    method: get
    uri: https://user-api.hanbitco.com/v1/markets/eos_btc/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 2c7e6078-badd-47fc-9e50-abd48c8038e5
      X-Api-Service:
      - api.service/2019-0320-0002
      X-Amz-Apigw-Id:
      - B9Bl6H5WoE0FoCA=
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"currencyPair":"EOS_BTC","timestamp":"1571724704","lastPrice":"0.000359","lastDayPrice":"0.000353","lowPrice":"0.000351","highPrice":"0.000361","volume":"321055.7906","executedAmount":"114.1786"}}'
  recorded_at: Tue, 22 Oct 2019 07:29:01 GMT
recorded_with: VCR 4.0.0
