---
http_interactions:
- request:
    method: get
    uri: https://api.coinhe.io/v1/order-book/?market=BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"asks":[["11908.67","0.78605"],["11906.35","0.69801"],["11904.98","0.35925"],["11902.77","0.15494"],["11905.71","0.47386"],["11893.5","0.30694"],["11904.02","1.15955"],["11899.3","0.50133"],["11897.61","0.15527"],["11899.75","0.13568"],["11905.6","0.49728"],["11902.14","0.47781"],["11905.12","0.7120799999999999"],["11900.69","0.13196"],["11909.91","0.09498"],["11895.3","0.2427"],["11904.61","0.32243"],["11904.11","0.76072"],["11896.62","0.41249"],["11910.71","0.70516"],["11908.49","0.20442"],["11907.56","0.07111"],["11911.59","0.38529"],["11897.6","0.19275"],["11950.04","0.77368"],["11909.5","0.5395"],["11917.59","0.74573"],["11894.25","0.46513"],["11915.37","0.12578"],["11940.33","0.5831"],["11921.06","0.31144"],["11927.98","0.12068"],["11897.89","0.46527"],["11898.53","0.48424"],["11949.1","0.24366"],["11917.73","0.47174"],["11913.17","0.3893"],["11953.83","0.05783"],["11895.57","0.37744"],["11890.53","0.62888"],["11875.99","0.57826"],["11919.69","0.12914"],["11917.7","0.55414"],["11923.22","0.23703"],["11906.34","0.45724"],["11913.65","0.53898"],["11943.11","0.27543"],["11908.79","0.13213"],["11890.02","0.80547"],["11948.95","0.74456"],["11897.17","0.74451"],["11865.44","0.82196"],["11859.82","0.72668"],["11885.34","0.51634"],["11930.1","0.66737"],["11925.04","0.50162"],["11927.32","0.69014"],["11982.89","0.13859"],["12022.73","0.62449"],["11910.92","0.59668"],["11984.87","0.49647"]],"bids":[["11779.28","0.5278"],["11779.89","0.62701"],["11779.57","0.65944"],["11777.76","0.434"],["11781.43","0.25492"],["11810.36","0.04032"],["11799.1","0.72927"],["11813.28","0.46408"],["11809.12","0.73848"],["11791.06","0.32864"],["11779.02","0.23097"],["11781.51","0.06902"],["11805.47","0.71071"],["11829.06","0.14387"],["11794.16","0.12687"],["11821.39","0.81516"],["11818.51","0.78074"],["11777.3","0.19037"],["11781.06","0.54205"],["11802.93","0.79552"],["11822.32","0.37107"],["11821.54","0.43196"],["11822.44","0.6484"],["11778.21","0.7833"],["11833.3","0.78655"],["11818.28","0.48593"],["11809.37","0.12292"],["11840.85","0.5586"],["11796.55","0.04873"],["11801.18","0.5036"],["11794.92","0.80105"],["11801.74","0.35455"],["11794.44","0.27622"],["11826.46","0.55906"],["11821.07","0.53611"],["11830.28","0.19155"],["11833.56","0.42063"],["11827.22","0.382"],["11835.02","0.66265"],["11780.94","0.29391"],["11821.92","0.56077"],["11833.98","0.48382"],["11825.63","0.79323"],["11799.29","0.70533"],["11832.76","0.22685"],["11838.34","0.54575"],["11839.28","0.71044"],["11835.8","0.50332"],["11814.25","0.7726"],["11826.23","0.24384"],["11788.11","0.56247"],["11832.09","0.30172"],["11827.8","0.08712"],["11773.14","0.34079"],["11780.78","0.17208"],["11836.54","0.78838"]]},"current_time":1565249573.2219822}'
  recorded_at: Thu, 08 Aug 2019 07:32:52 GMT
recorded_with: VCR 4.0.0
