---
http_interactions:
- request:
    method: get
    uri: https://api.coinhe.io/v1/currency-pair-summary?page_size=150
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/v1/currency-pair-summary/?page_size=150"
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Aug 2019 08:04:11 GMT
- request:
    method: get
    uri: https://api.coinhe.io/v1/currency-pair-summary/?page_size=150
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"count":41,"next":null,"previous":null,"results":[{"id":37,"base":{"id":15,"name":"VN
        Crypto Currency","symbol":"VCC","icon":"https://coinhe.s3.amazonaws.com/currency_icons/VCC.png"},"pair":{"id":10,"name":"Litecoin","symbol":"LTC","icon":"https://coinhe.s3.amazonaws.com/currency_icons/LTC.png"},"name":"VCC-LTC","volume_24h":91513.2960145265,"high_24h":2481.025,"low_24h":2203.019,"avg_24h":2292.157976571351,"last_price":2279.879},{"id":28,"base":{"id":15,"name":"VN
        Crypto Currency","symbol":"VCC","icon":"https://coinhe.s3.amazonaws.com/currency_icons/VCC.png"},"pair":{"id":4,"name":"OmiseGO","symbol":"OMG","icon":"https://coinhe.s3.amazonaws.com/currency_icons/OMG.png"},"name":"VCC-OMG","volume_24h":null,"high_24h":null,"low_24h":null,"avg_24h":0.0,"last_price":0},{"id":47,"base":{"id":11,"name":"Tether","symbol":"USDT","icon":"https://coinhe.s3.amazonaws.com/currency_icons/USDT_39VEgQW.png"},"pair":{"i[...]
