---
http_interactions:
- request:
    method: get
    uri: https://cryptottlivewebapi.b2bx.exchange:8443/api/v1/public/quotehistory/ETHBTC/level2?count=100&timestamp=1533614158323
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "Ticks": [{
          "Timestamp": 1533614168297,
          "BestBid": {
           "Volume": 24.56,
           "Price": 0.05792,
           "Type": "Bid"
          },
          "BestAsk": {
           "Volume": 22.34,
           "Price": 0.05877,
           "Type": "Ask"
          },
          "Bids": [{
           "Volume": 24.56,
           "Price": 0.05792,
           "Type": "Bid"
          }, {
           "Volume": 7,
           "Price": 0.05791,
           "Type": "Bid"
          }, {
           "Volume": 7.51,
           "Price": 0.05789,
           "Type": "Bid"
          }, {
           "Volume": 5.15,
           "Price": 0.05788,
           "Type": "Bid"
          }, {
           "Volume": 10,
           "Price": 0.05786,
           "Type": "Bid"
          }, {
           "Volume":[...]
