---
http_interactions:
- request:
    method: get
    uri: https://cryptottlivewebapi.b2bx.exchange:8443/api/v1/public/quotehistory/ETHBTC/level2?count=100&timestamp=1533610030123
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "Ticks": [{
          "Timestamp": 1533610038283,
          "BestBid": {
           "Volume": 16.34,
           "Price": 0.05789,
           "Type": "Bid"
          },
          "BestAsk": {
           "Volume": 6.15,
           "Price": 0.05875,
           "Type": "Ask"
          },
          "Bids": [{
           "Volume": 16.34,
           "Price": 0.05789,
           "Type": "Bid"
          }, {
           "Volume": 0.08,
           "Price": 0.05788,
           "Type": "Bid"
          }, {
           "Volume": 32.6,
           "Price": 0.05786,
           "Type": "Bid"
          }, {
           "Volume": 0.02,
           "Price": 0.05785,
           "Type": "Bid"
          }, {
           "Volume": 0.02,
           "Price": 0.05784,
           "Type": "Bid"
          }, {
           "Vol[...]
