---
http_interactions:
- request:
    method: get
    uri: https://api.b2bx.exchange/api/v1/b2trade/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [
            {
                "Instrument": "BCHBTC",
                "BestBid": "0.08070422",
                "BestOffer": "0.08110101",
                "LastTradedPx": "0.08069923",
                "LastTradedQty": "0.43058205",
                "LastTradeTime": 1535024850283,
                "SessionOpen": "0.08143848",
                "SessionHigh": "0.08168823",
                "SessionLow": "0.08015976",
                "SessionClose": "0.08143848",
                "Volume": "0.43058205",
                "CurrentDayVolume": "746.74674475",
                "CurrentDayNumTrades": 1678,
                "CurrentDayPxChange": "-0.00073925",
                "Rolling24HrVolume": "1469.76083346",
                "Rolling24NumTrades": 3328,
                "Rolling24HrPxChange": "-1.66766889",
                "TimeStamp": "1535024850283"
            },
            {
                "Instrument": "BCHETH",
                "BestBid": "1.91236504",
                "BestOffer": "1.92692500",
                "LastTradedPx": "1.91236504",
                "LastTradedQty": "0.60124258",
                "LastTradeTime": 1535024855596,
                "SessionOpen": "1.91808000",
                "SessionHigh": "1.91808001",
                "SessionLow": "1.88768405",
                "SessionClose": "1.91808000",
         [...]
