---
http_interactions:
- request:
    method: get
    uri: https://cryptottlivewebapi.b2bx.exchange:8443/api/v1/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [{
         "DailyTradedTotalVolume": 71770.83,
         "DailyTradedSellVolume": 35876.43,
         "DailyTradedBuyVolume": 35894.40,
         "DailyBestSellPrice": 0.0000346,
         "DailyBestBuyPrice": 0.0000412,
         "LastSellTimestamp": 1530616513430,
         "LastSellVolume": 0.55,
         "LastSellPrice": 0.0000346,
         "LastBuyTimestamp": 1530616505541,
         "LastBuyVolume": 5.01,
         "LastBuyPrice": 0.0000412,
         "BestAsk": 0.0000413,
         "BestBid": 0.0000345,
         "Symbol": "B2BBTC."
        }, {
         "DailyTradedTotalVolume": 48531.13,
         "DailyTradedSellVolume": 24275.72,
         "DailyTradedBuyVolume": 24255.41,
         "DailyBestSellPrice": 0.0004407,
         "DailyBestBuyPrice": 0.0005286,
         "LastSellTimestamp": 1533614210871,
         "LastSellVolume": 4.82,
         "LastSellPrice": 0.0004407,
         "LastBuyTimestamp": 1533614199913,
         "LastBuyVolume": 1.42,
         "LastBuyPrice": 0.0005286,
         "BestAsk": 0.0005287,
   [...]
