---
http_interactions:
- request:
    method: get
    uri: https://cryptottlivewebapi.b2bx.exchange:8443/api/v1/public/symbol
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [{
         "DefaultSlippage": 200,
         "MinCommission": 0,
         "LimitsCommission": 0.2,
         "Commission": 0.3,
         "TradeAmountStep": 0.01,
         "MaxTradeAmount": 10000,
         "MinTradeAmount": 0.01,
         "SwapEnabled": false,
         "IsTradeAllowed": true,
         "TripleSwapDay": 3,
         "SwapSizeLong": -0.18,
         "SwapSizeShort": -0.18,
         "Color": -7171438,
         "ProfitCurrencyPrecision": 7,
         "MarginCurrencyPrecision": 7,
         "Precision": 5,
         "HiddenLimitOrderMarginReduction": 1,
         "StopOrderMarginReduction": 1,
         "MarginFactor": 1,
         "MarginHedged": 0,
         "ContractSize": 1,
         "MarginMode": "CFD",
         "ProfitMode": "CFD",
         "SwapType": "PercentPerYear",
         "CommissionType": "Percentage",
         "CommissionChargeType": "PerLot",
         "SecurityDescription": "LiteCoin",
         "SecurityName": "Cash LTC",
         "StatusGroupId": "Default",
         "MinCommissionCurrency": "USD",
         "Schedule": "Default",
         "Description": "LiteCoin vs BitCoin",
         "ProfitCurrency": "BTC",
         "MarginCurrency": "LTC",
         "Symbol": "LTCBTC"
        }, {
         "DefaultSlippage": 650,
         "MinCommission": 0,
         "LimitsCommission": 0.2,
         "Commission": 0.3,
         "TradeAmountStep": 0.01,
         "MaxTradeAmount": 10000,
         "MinTradeAmount": 0.01,
         "SwapEnabled": false,
         "IsTradeAllowed": true,
         "TripleSwapDay": 0,
         "SwapSizeLong": -0.18,
         "SwapSizeShort": -0.18,
         "Color": -8362846,
         "ProfitCurrencyPrecision": 7,
         "MarginCurrencyPre[...]
