---
http_interactions:
- request:
    method: get
    uri: https://cryptottlivewebapi.b2bx.exchange:8443/api/v1/public/quotehistory/ETHBTC/level2?count=100&timestamp=1533692730311
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "Ticks": [{
          "Timestamp": 1533692747185,
          "BestBid": {
           "Volume": 26.4,
           "Price": 0.05681,
           "Type": "Bid"
          },
          "BestAsk": {
           "Volume": 0.03,
           "Price": 0.05766,
           "Type": "Ask"
          },
          "Bids": [{
           "Volume": 26.4,
           "Price": 0.05681,
           "Type": "Bid"
          }, {
           "Volume": 15.03,
           "Price": 0.0568,
           "Type": "Bid"
          }, {
           "Volume": 3.49,
           "Price": 0.05679,
           "Type": "Bid"
          }, {
           "Volume": 8.73,
           "Price": 0.05677,
           "Type": "Bid"
          }, {
           "Volume": 14.58,
           "Price": 0.05676,
           "Type": "Bid"
          }, {
           "Vol[...]
