---
http_interactions:
- request:
    method: get
    uri: https://cryptottlivewebapi.b2bx.exchange:8443/api/v1/public/quotehistory/ETHBTC/level2?count=100&timestamp=1533693608567
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "Ticks": [{
          "Timestamp": 1533693623251,
          "BestBid": {
           "Volume": 34.47,
           "Price": 0.0569,
           "Type": "Bid"
          },
          "BestAsk": {
           "Volume": 2.68,
           "Price": 0.05774,
           "Type": "Ask"
          },
          "Bids": [{
           "Volume": 34.47,
           "Price": 0.0569,
           "Type": "Bid"
          }, {
           "Volume": 10.01,
           "Price": 0.05689,
           "Type": "Bid"
          }, {
           "Volume": 7,
           "Price": 0.05685,
           "Type": "Bid"
          }, {
           "Volume": 5.58,
           "Price": 0.05684,
           "Type": "Bid"
          }, {
           "Volume": 9.8,
           "Price": 0.05682,
           "Type": "Bid"
          }, {
           "Volume"[...]
