---
http_interactions:
- request:
    method: get
    uri: https://coinfalcon.com/api/v1/markets/ETH-BTC/orders
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d3214b44b211b25a7656b9f9cd9331dc"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"bids":[{"price":"0.02784","size":"0.17945403"}],"asks":[{"price":"0.02795","size":"0.0194194"}]}}'
  recorded_at: Thu, 09 May 2019 08:37:49 GMT
recorded_with: VCR 4.0.0
