---
http_interactions:
- request:
    method: get
    uri: https://coinfalcon.com/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cb1a3724f7bab6025803765b3b1d9d0f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"IOT-BTC","precision":8,"min_volume":"0.00000001","min_price":"0.00000001","volume":"0.0731541","last_price":"0.00004059","change_in_24h":"-15.38","size_precision":8,"price_precision":8},{"name":"ETH-BTC","precision":6,"min_volume":"0.00000001","min_price":"0.000001","volume":"1.227753","last_price":"0.027838","change_in_24h":"-3.71","size_precision":8,"price_precision":6},{"name":"LTC-BTC","precision":5,"min_volume":"0.00000001","min_price":"0.00001","volume":"0.00294","last_price":"0.01201","change_in_24h":"-0.91","size_precision":8,"price_precision":5},{"name":"BTC-EUR","precision":2,"min_volume":"0.00000001","min_price":"0.01","volume":"79769.53","last_price":"5408.02","c[...]
