---
http_interactions:
- request:
    method: get
    uri: https://coinfalcon.com/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"45de42a598cb93907665ce8cf748f559"
      Version:
      - HTTP/1.1
      X-Nginx-Proxy:
      - 'true'
      X-Real-Ip:
      - 115.133.65.24
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"IOT-BTC","precision":8,"min_volume":"0.000001","min_price":"0.00000001","volume":"0.42031198","last_price":"0.00014743","change_in_24h":"-2.24"},{"name":"ETH-BTC","precision":5,"min_volume":"0.00001","min_price":"0.00001","volume":"0.44517","last_price":"0.07991","change_in_24h":"-1.19"},{"name":"LTC-BTC","precision":5,"min_volume":"0.00001","min_price":"0.00001","volume":"0.07333","last_price":"0.0202","change_in_24h":"-2.47"},{"name":"BTC-EUR","precision":2,"min_volume":"0.00001","min_price":"0.01","volume":"298215.09","last_price":"7182.82","change_in_24h":"-7.91"},{"name":"XRB-ETH","precision":8,"min_volume":"0.000001","min_[...]
