---
http_interactions:
- request:
    method: get
    uri: https://coinfalcon.com/api/v1/markets/ETH-BTC/orders?level=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ccfd03e947e2ba1706b4179fc3c9e97"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"bids":[{"price":"0.02005","size":"0.58784792"},{"price":"0.01991","size":"0.68190396"},{"price":"0.019856","size":"0.504"},{"price":"0.019855","size":"0.11231422"},{"price":"0.01985","size":"0.1"},{"price":"0.019145","size":"0.112"},{"price":"0.019144","size":"0.08365702"},{"price":"0.019141","size":"0.112"},{"price":"0.018719","size":"0.09145788"},{"price":"0.018718","size":"1.01150606"},{"price":"0.018699","size":"0.9896046"},{"price":"0.01795","size":"0.37254769"},{"price":"0.017256","size":"0.041"},{"price":"0.017255","size[...]
