---
http_interactions:
- request:
    method: get
    uri: https://coinfalcon.com/api/v1/markets/ETH-BTC/orders
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"c4a192ca58ec6b7764a8d7620037769e"
      Version:
      - HTTP/1.1
      X-Nginx-Proxy:
      - 'true'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Reset:
      - '1'
      X-Real-Ip:
      - 115.133.65.24
    body:
      encoding: UTF-8
      string: '{"data":{"bids":[{"price":"0.078","size":"0.0033548"}],"asks":[{"price":"0.08182","size":"0.19316"}]}}'
  recorded_at: Sun, 11 Mar 2018 07:26:48 GMT
recorded_with: VCR 4.0.0
