---
http_interactions:
- request:
    method: get
    uri: https://coinfalcon.com/api/v1/markets/eth-btc/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f527d9a6e5937caa213051e32a9942c6"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"3b76d561-5d81-4db5-9b44-8255d7403b97","price":"0.027838","size":"0.07980436","market_name":"ETH-BTC","side":"sell","created_at":"2019-05-09T07:40:12.303800Z"},{"id":"27a67ad5-3d92-4dca-8fb4-62131a167da0","price":"0.027848","size":"0.1276","market_name":"ETH-BTC","side":"sell","created_at":"2019-05-09T07:40:12.250243Z"},{"id":"21eb7703-8228-4881-826d-2362d11fdb45","price":"0.02794","size":"0.12","market_name":"ETH-BTC","side":"buy","created_at":"2019-05-09T07:35:33.984570Z"},{"id":"a7943564-ac84-49f3-be3d-c50a5d48f841","price":"0.02795","size":"0.182854","market_name":"ETH-BTC","side":"buy","created_at":"2019-05-09T05:42:[...]
