---
http_interactions:
- request:
    method: get
    uri: https://coinfalcon.com/api/v1/markets/eth-btc/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19f05f1afd8d699cb659d6b21dff3a6d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"fe1a43e3-2fbc-4987-b2c4-c7487a28a752","price":"0.020249","size":"0.11","market_name":"ETH-BTC","side":"sell","created_at":"2019-12-12T19:22:34.072000Z"},{"id":"3ff19f91-5a99-4cc9-8182-82ee9ca3ebf5","price":"0.020249","size":"0.18","market_name":"ETH-BTC","side":"buy","created_at":"2019-12-12T19:22:28.827000Z"},{"id":"a111193d-c5b3-469d-9ba4-d36d74a9c7ee","price":"0.020049","size":"0.00075208","market_name":"ETH-BTC","side":"buy","created_at":"2019-12-12T19:00:42.789000Z"},{"id":"355b11fb-d9b9-4768-95df-5a09357dfe8f","price":"0.020049","size":"0.195","market_name":"ETH-BTC","side":"buy","created_at":"2019-12-12T18:5[...]
