---
http_interactions:
- request:
    method: get
    uri: https://coinfalcon.com/api/v1/markets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"41afa1123c0b1645e4ccd213e19940a3"
      Version:
      - HTTP/1.1
      X-Nginx-Proxy:
      - 'true'
      X-Real-Ip:
      - 115.133.65.24
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"IOT-BTC","precision":8,"min_volume":"0.000001","min_price":"0.00000001","volume":"0.42890351","last_price":"0.00014754","change_in_24h":"-6.46"},{"name":"ETH-BTC","precision":5,"min_volume":"0.00001","min_price":"0.00001","volume":"0.42976","last_price":"0.07987","change_in_24h":"1.31"},{"name":"LTC-BTC","precision":5,"min_volume":"0.00001","min_price":"0.00001","volume":"0.07473","last_price":"0.02038","change_in_24h":"-2.32"},{"name":"BTC-EUR","precision":2,"min_volume":"0.00001","min_price":"0.01","volume":"294597.24","last_price":"7152.07","change_in_24h":"-5.83"},{"name":"XRB-ETH","precision":8,"min_volume":"0.000001","min_[...]
