---
http_interactions:
- request:
    method: get
    uri: https://coinfalcon.com/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a4867977b2ca084d9269123bc1c8f373"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"IOT-BTC","precision":8,"min_volume":"0.00000001","min_price":"0.00000001","volume":"0.014028","last_price":"0.000028","highest_bid":"0.00002705","lowest_ask":"0.00002782","change_in_24h":"0.29","size_precision":8,"price_precision":8},{"name":"ETH-BTC","precision":6,"min_volume":"0.00000001","min_price":"0.000001","volume":"0.015268","last_price":"0.020249","highest_bid":"0.02005","lowest_ask":"0.020227","change_in_24h":"1.96","size_precision":8,"price_precision":6},{"name":"LTC-BTC","precision":5,"min_volume":"0.00000001","min_price":"0.00001","volume":"0.00031","last_price":"0.00605","highest_bid":"0.006","lowest_ask":"0.00613","change_in_24h":"0.17","size_precision":8,"price_precision":5},{"name":"BTC-EUR","precision":2[...]
