---
http_interactions:
- request:
    method: get
    uri: https://coinfalcon.com/api/v1/markets/eth-btc/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"a344473fb279278bec7b218aeb3cf0f6"
      Version:
      - HTTP/1.1
      X-Nginx-Proxy:
      - 'true'
      X-Real-Ip:
      - 115.133.65.24
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"89166059-a736-4678-84ef-b8dc4ac1fbe4","price":"0.078","size":"0.05465084","market_name":"ETH-BTC","order_left_id":"591e830c-7f80-4787-8c7e-5375d6cc1e94","order_right_id":"5db05425-7f8b-4866-988f-40c48673e52e","side":"sell","created_at":"2018-03-11T05:02:53.275736Z"},{"id":"566d34c3-8c0e-477c-8edc-f2bb358da2e9","price":"0.078","size":"0.0755","market_name":"ETH-BTC","order_left_id":"e3e8efd1-a8de-4748-8dcd-91d255ef9f7d","order_right_id":"5db05425-7f8b-4866-988f-40c48673e52e","side":"sell","created_at":"2018-03-11T04:28:19.434853Z"},{"id":"697f24f7-ea33-4b63-854a-c2e85fc1c4f0","price":"0.078","size":"0.07412","market_name":"ETH-BTC","order_left_id":"ac126972-b573-4c36-95d9-cfb34cc48434","order_right_id":"5db05425-7f8b-4866-988f-[...]
