---
http_interactions:
- request:
    method: get
    uri: https://c-patex.com/api/v2/tickers/blcbtc.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"403698473b05f472c03e0de0299ecdf6"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1531234538,"ticker":{"buy":"0.00000236","sell":"0.00000241","low":"0.000002","high":"0.000002","last":"0.000002","vol":"993.3028457"}}'
  recorded_at: Tue, 10 Jul 2018 14:55:38 GMT
recorded_with: VCR 4.0.0
