---
http_interactions:
- request:
    method: get
    uri: https://c-patex.com/api/v2/trades.json?market=blcbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"7848ffef564763827c5496c277c3b73c"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":38365,"price":"0.000002","volume":"993.3028457","funds":"0.0019866056914","market":"blcbtc","created_at":"2018-07-09T21:08:40+00:00","side":null},{"id":38160,"price":"0.00000185","volume":"202.18000464","funds":"0.000374033008584","market":"blcbtc","created_at":"2018-07-08T04:18:48+00:00","side":null},{"id":38150,"price":"0.00000198","volume":"9.36411727","funds":"0.0000185409521946","market":"blcbtc","created_at":"2018-07-07T21:25:05+00:00","side":null},{"id":38131,"price":"0.00000198","volume":"1781.40163148","funds":"0.0035271752303304","market":"blcbtc","created_at":"2018-07-07T16:21:01+00:00","side":null},{"id":38036,"price":"0[...]
