---
http_interactions:
- request:
    method: get
    uri: https://api.beaxy.com/api/v1/Symbols/1/OrderBook
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 1s
      X-Rate-Limit-Remaining:
      - '115'
      X-Rate-Limit-Reset:
      - '2019-07-09T03:55:58.2127380Z'
    body:
      encoding: UTF-8
      string: '{"sell":[{"ts":1562644558114,"seq":0,"pts":0,"pseq":0,"sb":1,"bsf":1,"s":1.0,"p":0.025026,"l":1,"ttl":0.025026},{"ts":1562644558114,"seq":1,"pts":1562644558114,"pseq":0,"sb":1,"bsf":1,"s":2.876,"p":0.025104,"l":2,"ttl":0.072199104},{"ts":1562644558114,"seq":2,"pts":1562644558114,"pseq":1,"sb":1,"bsf":1,"s":5.0,"p":0.025164,"l":3,"ttl":0.12582},{"ts":1562644558114,"seq":3,"pts":1562644558114,"pseq":2,"sb":1,"bsf":1,"s":7.0,"p":0.025342,"l":4,"ttl":0.177394},{"ts":1562644558114,"seq":4,"pts":1562644558114,"pseq":3,"sb":1,"bsf":1,"s":11.0,"p":0.025571,"l":5,"ttl":0.281281},{"ts":1562644558114,"seq"[...]
