---
http_interactions:
- request:
    method: get
    uri: https://services.beaxy.com/api/v2/symbols/ETHBTC/rate
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ask":0.027355,"bid":0.027354,"low24":0.0151565,"high24":0.0316605,"volume24":216.031,"change24":-0.4910966005201986,"price":0.027545,"volume":0.055,"timestamp":1582602000000}'
  recorded_at: Tue, 25 Feb 2020 03:39:39 GMT
recorded_with: VCR 4.0.0
