---
http_interactions:
- request:
    method: get
    uri: https://api.beaxy.com/api/v1/Symbols/1/Trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 1s
      X-Rate-Limit-Remaining:
      - '116'
      X-Rate-Limit-Reset:
      - '2019-07-09T03:55:59.9673465Z'
    body:
      encoding: UTF-8
      string: '[{"ts":1562620247173,"seq":0,"pts":1562619073709,"pseq":0,"sb":1,"p":0.0256,"s":0.703,"ttl":0.0179968,"tsf":0},{"ts":1562619073709,"seq":0,"pts":1562619072165,"pseq":0,"sb":1,"p":0.025351,"s":0.42,"ttl":0.01064742,"tsf":0},{"ts":1562619072165,"seq":0,"pts":1562618984239,"pseq":0,"sb":1,"p":0.025351,"s":0.29,"ttl":0.00735179,"tsf":0},{"ts":1562618984239,"seq":0,"pts":1562609890268,"pseq":0,"sb":1,"p":0.025351,"s":0.71,"ttl":0.01799921,"tsf":0},{"ts":1562609890268,"seq":0,"pts":1562609888199,"pseq":0,"sb":1,"p":0.025682,"s":0.03,"ttl":0.000770460000000001,"tsf":0},{"ts":1562609888199,"seq":0,"pts":15626[...]
