---
http_interactions:
- request:
    method: get
    uri: https://services.beaxy.com/api/v2/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"ETCBTC","name":"ETCBTC","minimumQuantity":2.0,"maximumQuantity":1000000.0,"quantityIncrement":0.01,"quantityPrecision":2,"tickSize":1.0E-6,"baseCurrency":"ETC","termCurrency":"BTC","pricePrecision":6,"suspendedForTrading":false},{"symbol":"GOBTC","name":"GOBTC","minimumQuantity":700.0,"maximumQuantity":1000000.0,"quantityIncrement":1.0,"quantityPrecision":0,"tickSize":1.0E-8,"baseCurrency":"GO","termCurrency":"BTC","pricePrecision":8,"suspendedForTrading":false},{"symbol":"BTCUSDC","name":"BTCUSDC","minimumQuantity":0.0014,"maximumQuantity":1000000.0,"quantityIncrement":1.0E-6,"quantityPrecision":6,"tickSize":0.01,"baseCurrency":"BTC","termCurrency":"USDC","pricePrecision":2,"suspendedForTrading":false},{"symbol"[...]
