---
http_interactions:
- request:
    method: get
    uri: https://api.beaxy.com/api/v1/Symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 1s
      X-Rate-Limit-Remaining:
      - '116'
      X-Rate-Limit-Reset:
      - '2019-07-09T03:55:58.2127380Z'
    body:
      encoding: UTF-8
      string: '[{"sb":1,"n":"ETH-BTC","faid":1,"taid":2,"ad":"2019-06-15T21:59:38.694","tf":false,"mf":false,"ps":0.000001,"as":0.001,"mt":0.001,"v":0.280706935,"c":-3.80641040093188,"lp":0.0256,"l24l":0.025351,"l24h":0.026722},{"sb":2,"n":"BXY-BTC","faid":1,"taid":3,"ad":"2019-06-15T21:59:38.904","tf":false,"mf":false,"ps":0.00000001,"as":1.0,"mt":0.001,"v":8.19256545999998,"c":-14.5181476846058,"lp":0.00000683,"l24l":0.00000589,"l24h":0.00000799},{"sb":3,"n":"LTC-BTC","faid":1,"taid":4,"ad":"2019-06-15T21:59:38.976","tf":false,"mf":false,"ps":0.000001,"as":0.01,"mt":0.001,"v":0.05312504,"c":-2.51399391142099,"lp":0.009927,"l24l":0.009835,"l24h":0.010253},{"sb":4,"n":"ETC-BTC","faid":1,"taid":5,"ad":"2019-06[...]
