---
http_interactions:
- request:
    method: get
    uri: https://www.floatsv.com/api/spot/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"best_ask":"0.007988","best_bid":"0.007965","instrument_id":"BSV-BTC","product_id":"BSV-BTC","last":"0.007975","ask":"0.007988","bid":"0.007965","open_24h":"0.007897","high_24h":"0.008109","low_24h":"0.007752","base_volume_24h":"189.8693","timestamp":"2019-05-21T06:31:58.178Z","quote_volume_24h":"1.5088458734"},{"best_ask":"62.85","best_bid":"62.82","instrument_id":"BSV-USDT","product_id":"BSV-USDT","last":"62.85","ask":"62.85","bid":"62.82","open_24h":"62.55","high_24h":"63.6","low_24h":"60.3","base_volume_24h":"2.1782","timestamp":"2019-05-21T06:31:27.474Z","quote_volume_24h":"135.557573"},{"best_ask":"5159.1484","best_bid":"100000000","instrument_id":"BTC-USDC","product_id":"BTC-USDC","last":"5166.3387","ask":"5159.1484","bid":"100000000","open_24h":"5166.3387","high_24h":"5166.3387"[...]
