---
http_interactions:
- request:
    method: get
    uri: https://coapi.biki51.com/swap/trades?instrumentID=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errno":"OK","message":"Success","data":{"trades":[{"tid":1635120016,"oid":1635119924,"instrument_id":1,"px":"7696.3","qty":"2440","make_fee":"-0.75115888","take_fee":"1.12673832","created_at":"2020-04-28T08:46:05.85876677Z","side":1,"change":"0"},{"tid":1635119289,"oid":1635119288,"instrument_id":1,"px":"7698.2","qty":"10000","make_fee":"-3.07928","take_fee":"4.61892","created_at":"2020-04-28T08:46:02.308877584Z","side":4,"change":"0"},{"tid":1635117544,"oid":1635117493,"instrument_id":1,"px":"7700.8","qty":"177","make_fee":"-0.054521664","take_fee":"0.081782496","created_at":"2020-04-28T08:45:53.406529129Z","side":1,"change":"0"},{"tid":1635116839,"oid":1635116838,"instrument_id":1,"px":"7701","qty":"10000","make_fee":"-3.0804","ta[...]
