---
http_interactions:
- request:
    method: get
    uri: https://coapi.biki51.com/swap/depth?instrumentID=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errno":"OK","message":"Success","data":{"asks":[[769850,"7698.5","26915",0],[769910,"7699.1","33514",0],[769920,"7699.2","24200",0],[769930,"7699.3","60874",0],[769940,"7699.4","31175",0],[769950,"7699.5","27424",0],[769970,"7699.7","26077",0],[769990,"7699.9","56779",0],[770010,"7700.1","53612",0],[770020,"7700.2","26835",0],[770040,"7700.4","29144",0],[770050,"7700.5","52241",0],[770060,"7700.6","50862",0],[770070,"7700.7","55252",0],[770080,"7700.8","59776",0],[770090,"7700.9","54504",0],[770100,"7701","48550",0],[770110,"7701.1","59579",0],[770120,"7701.2","49343",0],[770130,"7701.3","24358",0],[770170,"7701.7","33828",0],[770190,"7701.9","25214",0],[770220,"7702.2","31975",0],[771500,"7715","5000",0],[772000,"7720","2000",0],[772200,"7722","9350",0],[772500,"7725","5000",0],[772800,"7728","3000",0],[772900,"7729","1040",0],[773000,"7730","5000",0],[773300,"7733","1050",0],[773400,"7734","1000",0],[773500,"7735","2000",0],[774000,"7740","2000",0],[774800,"7748","1000",0],[775000,"7750","4000",0],[778000,"7780","2000",0],[778800,"7788","20000",0],[779500,"7795","1600",0],[779900,"7799","277",0],[779980,"7799.8","300",0],[780000,"7800","64",0],[781880,"7818.8","50",0],[782500,"7825","10100",0],[784500,"7845","20000",0],[786500,"7865","100",0],[796500,"7965","100",0],[797000,"7970","5",0],[798900,"7989","100",0],[800000,"8000","100",0],[802000,"8020","8020",0]],"bids":[[769780,"7697.8","25150",0],[769710,"7697.1","23833",0],[769650,"7696.5","36563",0],[769620,"7696.2","29003",0],[769600,"7696","23563",0],[769590,"7695.9","26099",0],[769550,"7695.5","25687",0],[769520,"7695.2","32408",0],[769500,"7695","26513",0],[769470,"7694.7","61668",0],[769440,"7694.4","28555",0],[769420,"7694.2","53416",0],[769400,"7694","56991",0],[769370,"7693.7","49239",0],[769300,"7693","53553",0],[769240,"7692.4","50844",0],[769200,"7692","29278",0],[769170,"7691.7","56226",0],[768900,"7689","1000",0],[768500,"7685","30000",0],[768000,"7680","3000",0],[767800,"7678","1000",0],[767000,"7670","20000",0],[766000,"7660","1000",0],[765000,"7650","5000",0],[762500,"7625","2000",0],[761860,"7618.6","1000",0],[761000,"7610","3000",0],[760800,"7608","3000",0],[760000,"7600","3559",0],[758800,"7588","1000",0],[756810,"7568.1","1498",0],[756700,"7567","3000",0],[755600,"7556","3000",0],[755000,"7550","249",0],[752400,"7524","2000",0],[752000,"7520","400",0],[751500,"7515","500",0],[750000,"7500","261",0],[738000,"7380","15000",0],[737000,"7370","1236",0],[736000,"7360","5000",0],[734800,"7348","200",0],[730000,"7300","5000",0],[726080,"7260.8","81",0],[708500,"7085","2095",0],[704200,"7042","10",0],[704000,"7040","1000",0],[702000,"7020","4000",0],[700800,"7008","10",0],[700000,"7000","25",0]]}}'
  recorded_at: Tue, 28 Apr 2020 08:46:11 GMT
recorded_with: VCR 4.0.0
