---
http_interactions:
- request:
    method: get
    uri: https://www.bitrue.com/kline-api/public.json?command=returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"success","data":{"POWR_BTC":{"id":387574025,"last":"0.00002384","lowestAsk":"0","highestBid":"0","percentChange":"-0.0509","baseVolume":"8742","quoteVolume":"0.21335917","isFrozen":"0","high24hr":"0.00002524","low24hr":"0.00002332"},"BNT_ETH":{"id":1384166671,"last":"0.006085","lowestAsk":"0","highestBid":"0","percentChange":"0.0032","baseVolume":"231.86","quoteVolume":"1.424121","isFrozen":"0","high24hr":"0.006184","low24hr":"0.006065"},"NEO_BTC":{"id":1049080391,"last":"0.002907","lowestAsk":"0","highestBid":"0","percentChange":"-0.0555","baseVolume":"1716.87","quoteVolume":"5.049782","isFrozen":"0","high24hr":"0.003079","low24hr":"0.002868"},"PPT_BTC":{"id":981514403,"last":"0.0005859","lowestAsk":"0","highestBid":"0","percentChange":"-0.0691","baseVolume":"697.62","quoteVolume":"0.4224040","isFrozen":"0","high24hr":"0.0006313","low24hr":"0.0005852"},"WTC_BTC":{"id":777922709,"last":"0.0005705","lowestAsk":"0","highestBid":"0","percentChange":"-0.0557","baseVolume":"1527.03","quoteVolume":"0.8732608","isFrozen":"0","high24hr":"0.0006048","low24hr":"0.0005530"},"ETC_XRP":{"id":1293226334,"last":"40.089","lowestAsk":"0","highestBid":"0","percentChange":"-0.0034","baseVolume":"52.16","quoteVolume":"2075.930","isFrozen":"0","high24hr":"40.588","low24hr":"39.269"},"LINK_BTC":{"id":177083415,"last":"0.00003834","lowestAsk":"0","highestBid":"0","percentChange":"-0.089","baseVolume":"5674","quoteVolume":"0.22595317","isFrozen":"0","high24hr":"0.00004209","low24hr":"0.00003831"},"GTO_ETH":{"id":1235628745,"last":"0.00032332","lowestAsk":"0","highestBid":"0","percentChange":"0.0214","baseVolume":"34385","quoteVolume":"10.97681384","isFrozen":"0","high24hr":"0.00032400","low24hr":"0.00031116"},"ENG_BTC":{"id":1298669389,"last":"0.00009855","lowestAsk":"0","highestBid":"0","percentChange":"-0.0481","baseVolume":"4534","quoteVolume":"0.45870531","isFrozen":"0","high24hr":"0.00010394","low24hr":"0.00009793"},"LOOM_BTC":{"id":349841424,"last":"0.00001225","lowestAsk":"0","highestBid":"0","percentChange":"-0.0789","baseVolume":"58743","quoteVolume":"0.72537132","isFrozen":"0","high24hr":"0.00001334","low24hr":"0.00001201"},"ICX_BTC":{"id":1193805069,"last":"0.0001013","lowestAsk":"0","highestBid":"0","percentChange":"-0.0611","baseVolume":"39721.50","quoteVolume":"4.0831129","isFrozen":"0","high24hr":"0.0001083","low24hr":"0.0001004"},"KNC_ETH":{"id":1127010759,"last":"0.0019996","lowestAsk":"0","highestBid":"0","percentChange":"0.0202","baseVolume":"805","quoteVolume":"1.5983324","isFrozen":"0","high24hr":"0.0020189","low24hr":"0.0019506"},"QKC_ETH":{"id":958006416,"last":"0.00014988","lowestAsk":"0","highestBid":"0","percentChange":"0.027","baseVolume":"26514","quoteVolume":"3.88684221","isFrozen":"0","high24hr":"0.00015202","low24hr":"0.00014246"},"LRC_ETH":{"id":1094687524,"last":"0.00046414","lowestAsk":"0","highestBid":"0","percentChange":"0.0315","baseVolume":"3104","quoteVolume":"1.42442361","isFrozen":"0","high24hr":"0.00047106","low24hr":"0.00044740"},"ZRX_XRP":{"id":693235594,"last":"2.076","lowestAsk":"0","highestBid":"0","percentChange":"-0.0468","baseVolume":"2088","quoteVolume":"4377.873","isFrozen":"0","high24hr":"2.184","low24hr":"2.054"},"WAN_BTC":{"id":795141907,"last":"0.0001415","lowestAsk":"0","highestBid":"0","percentChange":"-0.0882","baseVolume":"14680.73","quoteVolume":"2.1288586","isFrozen":"0","high24hr":"0.0001568","low24hr":"0.0001415"},"SNT_ETH":{"id":897471104,"last":"0.00017217","lowestAsk":"0","highestBid":"0","percentChange":"0.0487","baseVolume":"8253","quoteVolume":"1.38625592","isFrozen":"0","high24hr":"0.00017302","low24hr":"0.00016416"},"OMG_BTC":{"id":1013301400,"last":"0.000546","lowestAsk":"0","highestBid":"0","percentChange":"-0.0471","baseVolume":"1501.49","quoteVolume":"0.831034","isFrozen":"0","high24hr":"0.000575","low24hr":"0.000541"},"TRX_USDT":{"id":1045610392,"last":"0.01917","lowestAsk":"0","highestBid":"0","percentChange":"-0.0662","baseVolume":"1966600.0","quoteVolume":"38052.20685","isFrozen":"0","high24hr":"0.02059","low24hr":"0.01870"},"LTC_XRP":{"id":1092822277,"last":"192.05","lowestAsk":"0","highestBid":"0","percentChange":"-0.0129","baseVolume":"15.843","quoteVolume":"3048.68","isFrozen":"0","high24hr":"196.26","low24hr":"189.46"},"LTC_BTC":{"id":1092843370,"last":"0.00855500","lowestAsk":"0","highestBid":"0","percentChange":"-0.027","baseVolume":"622.56","quoteVolume":"5.33459017","isFrozen":"0","high24hr":"0.00881300","low24hr":"0.00848100"},"SUB_ETH":{"id":891542695,"last":"0.00054450","lowestAsk":"0","highestBid":"0","percentChange":"0.044","baseVolume":"3951","quoteVolume":"2.09385380","isFrozen":"0","high24hr":"0.00055161","low24hr":"0.00051372"},"FUN_BTC":{"id":1263367054,"last":"0.00000227","lowestAsk":"0","highestBid":"0","percentChange":"-0.0421","baseVolume":"124097","quoteVolume":"0.28492590","isFrozen":"0","high24hr":"0.00000238","low24hr":"0.00000222"},"ETC_BTC":{"id":1293247427,"last":"0.00178500","lowestAsk":"0","highestBid":"0","percentChange":"-0.0181","baseVolume":"4995.87","quoteVolume":"8.84596599","isFrozen":"0","high24hr":"0.00182000","low24hr":"0.00174200"},"TRX_ETH":{"id":865028705,"last":"0.00009941","lowestAsk":"0","highestBid":"0","percentChange":"0.0475","baseVolume":"393414","quoteVolume":"38.22969974","isFrozen":"0","high24hr":"0.00009953","low24hr":"0.00009464"},"DGD_BTC":{"id":1333852560,"last":"0.005915","lowestAsk":"0","highestBid":"0","percentChange":"-0.0741","baseVolume":"21.975","quoteVolume":"0.131900","isFrozen":"0","high24hr":"0.006389","low24hr":"0.005810"},"BTC_USDT":{"id":197056895,"last":"6179.05","lowestAsk":"0","highestBid":"0","percentChange":"-0.0389","baseVolume":"54.223","quoteVolume":"337293.61","isFrozen":"0","high24hr":"6434.03","low24hr":"6113.43"},"WTC_XRP":{"id":777901616,"last":"12.790","lowestAsk":"0","highestBid":"0","percentChange":"-0.0441","baseVolume":"1569.35","quoteVolume":"20241.538","isFrozen":"0","high24hr":"13.456","low24hr":"12.550"},"XRP_BTC":{"id":750753317,"last":"0.00004453","lowestAsk":"0","highestBid":"0","percentChange":"-0.0154","baseVolume":"144956","quoteVolume":"6.45248917","isFrozen":"0","high24hr":"0.00004535","low24hr":"0.00004388"},"BCH_XRP":{"id":1394664689,"last":"1704.96","lowestAsk":"0","highestBid":"0","percentChange":"-0.0055","baseVolume":"11.097","quoteVolume":"19031.28","isFrozen":"0","high24hr":"1731.99","low24hr":"1696.35"},"LTC_USDT":{"id":482159113,"last":"52.83","lowestAsk":"0","highestBid":"0","percentChange":"-0.0651","baseVolume":"781.616","quoteVolume":"41666.11","isFrozen":"0","high24hr":"56.59","low24hr":"51.91"},"WTC_ETH":{"id":777919821,"last":"0.018237","lowestAsk":"0","highestBid":"0","percentChange":"0.013","baseVolume":"326.50","quoteVolume":"5.848448","isFrozen":"0","high24hr":"0.018483","low24hr":"0.017444"},"ZIL_BTC":{"id":701925868,"last":"0.00000555","lowestAsk":"0","highestBid":"0","percentChange":"-0.0194","baseVolume":"226939","quoteVolume":"1.26360674","isFrozen":"0","high24hr":"0.00000567","low24hr":"0.00000550"},"BCH_ETH":{"id":1394682894,"last":"2.43388000","lowestAsk":"0","highestBid":"0","percentChange":"0.0589","baseVolume":"24.025","quoteVolume":"56.89237629","isFrozen":"0","high24hr":"2.44497000","low24hr":"2.29836000"},"ELF_BTC":{"id":1300546222,"last":"0.00005420","lowestAsk":"0","highestBid":"0","percentChange":"-0.042","baseVolume":"16720","quoteVolume":"0.90579608","isFrozen":"0","high24hr":"0.00005664","low24hr":"0.00005275"},"LINK_XRP":{"id":177104508,"last":"0.863913","lowestAsk":"0","highestBid":"0","percentChange":"-0.0773","baseVolume":"3176","quoteVolume":"2830.939156","isFrozen":"0","high24hr":"0.936351","low24hr":"0.857168"},"ZRX_ETH":{"id":693253799,"last":"0.00295299","lowestAsk":"0","highestBid":"0","percentChange":"0.007","baseVolume":"3399","quoteVolume":"9.93416875","isFrozen":"0","high24hr":"0.00296233","low24hr":"0.00286923"},"NCASH_ETH":{"id":1009408680,"last":"0.00002667","lowestAsk":"0","highestBid":"0","percentChange":"0.0067","baseVolume":"203513","quoteVolume":"5.34817559","isFrozen":"0","high24hr":"0.00002699","low24hr":"0.00002570"},"SALT_BTC":{"id":1864029755,"last":"0.0000657","lowestAsk":"0","highestBid":"0","percentChange":"-0.056","baseVolume":"1966.22","quoteVolume":"0.1320318","isFrozen":"0","high24hr":"0.0000699","low24hr":"0.0000652"},"BNT_BTC":{"id":1384169559,"last":"0.00018958","lowestAsk":"0","highestBid":"0","percentChange":"-0.0735","baseVolume":"130","quoteVolume":"0.02543544","isFrozen":"0","high24hr":"0.00020494","low24hr":"0.00018951"},"XRP_USDT":{"id":1797951132,"last":"0.27514","lowestAsk":"0","highestBid":"0","percentChange":"-0.0544","baseVolume":"150474.0","quoteVolume":"41637.39638","isFrozen":"0","high24hr":"0.29143","low24hr":"0.26899"},"WAN_XRP":{"id":795120814,"last":"3.200","lowestAsk":"0","highestBid":"0","percentChange":"-0.0688","baseVolume":"3479","quoteVolume":"11310.103","isFrozen":"0","high24hr":"3.459","low24hr":"3.200"},"AE_ETH":{"id":92691189,"last":"0.004747","lowestAsk":"0","highestBid":"0","percentChange":"0.0818","baseVolume":"758.73","quoteVolume":"3.485549","isFrozen":"0","high24hr":"0.004750","low24hr":"0.004388"},"BAT_ETH":{"id":1396172444,"last":"0.00081262","lowestAsk":"0","highestBid":"0","percentChange":"0.0234","baseVolume":"11982","quoteVolume":"9.58874409","isFrozen":"0","high24hr":"0.00081596","low24hr":"0.00078410"},"SNT_BTC":{"id":897473992,"last":"0.00000540","lowestAsk":"0","highestBid":"0","percentChange":"-0.0181","baseVolume":"18965","quoteVolume":"0.10183501","isFrozen":"0","high24hr":"0.00000555","low24hr":"0.00000528"},"GTO_BTC":{"id":1235631633,"last":"0.00001010","lowestAsk":"0","highestBid":"0","percentChange":"-0.0498","baseVolume":"88357","quoteVolume":"0.90157517","isFrozen":"0","high24hr":"0.00001068","low24hr":"0.00000999"},"ENG_ETH":{"id":1298666501,"last":"0.0031539","lowestAsk":"0","highestBid":"0","percentChange":"0.0217","baseVolume":"390","quoteVolume":"1.2158590","isFrozen":"0","high24hr":"0.0031700","low24hr":"0.0030717"},"LOOM_ETH":{"id":349844312,"last":"0.00039192","lowestAsk":"0","highestBid":"0","percentChange":"-0.0066","baseVolume":"27065","quoteVolume":"10.50240820","isFrozen":"0","high24hr":"0.00039991","low24hr":"0.00037726"},"ICX_ETH":{"id":1193802181,"last":"0.003251","lowestAsk":"0","highestBid":"0","percentChange":"0.0156","baseVolume":"13165.72","quoteVolume":"42.260505","isFrozen":"0","high24hr":"0.003269","low24hr":"0.003138"},"GNT_ETH":{"id":1241020916,"last":"0.00068483","lowestAsk":"0","highestBid":"0","percentChange":"0.0293","baseVolume":"1168","quoteVolume":"0.78936353","isFrozen":"0","high24hr":"0.00068642","low24hr":"0.00066201"},"BCH_USDT":{"id":285021067,"last":"469.48","lowestAsk":"0","highestBid":"0","percentChange":"-0.0574","baseVolume":"127.400","quoteVolume":"60536.53","isFrozen":"0","high24hr":"498.37","low24hr":"462.87"},"ETH_USDT":{"id":1430781753,"last":"192.50","lowestAsk":"0","highestBid":"0","percentChange":"-0.1105","baseVolume":"459.945","quoteVolume":"91548.85","isFrozen":"0","high24hr":"216.64","low24hr":"190.17"},"IOST_BTC":{"id":1986200298,"last":"0.00000184","lowestAsk":"0","highestBid":"0","percentChange":"-0.0315","baseVolume":"398457","quoteVolume":"0.72983040","isFrozen":"0","high24hr":"0.00000190","low24hr":"0.00000180"},"BCH_BTC":{"id":1394685782,"last":"0.07601000","lowestAsk":"0","highestBid":"0","percentChange":"-0.0186","baseVolume":"87.465","quoteVolume":"6.68328862","isFrozen":"0","high24hr":"0.07781000","low24hr":"0.07557400"},"LRC_BTC":{"id":1094690412,"last":"0.00001447","lowestAsk":"0","highestBid":"0","percentChange":"-0.0391","baseVolume":"2483","quoteVolume":"0.03650471","isFrozen":"0","high24hr":"0.00001520","low24hr":"0.00001429"},"PPT_ETH":{"id":981511515,"last":"0.018723","lowestAsk":"0","highestBid":"0","percentChange":"-0.0019","baseVolume":"167.19","quoteVolume":"3.136246","isFrozen":"0","high24hr":"0.019300","low24hr":"0.018359"},"STORM_BTC":{"id":1717399752,"last":"0.00000112","lowestAsk":"0","highestBid":"0","percentChange":"-0.026","baseVolume":"376200","quoteVolume":"0.42210889","isFrozen":"0","high24hr":"0.00000116","low24hr":"0.00000109"},"NEO_USDT":{"id":1838811462,"last":"17.953","lowestAsk":"0","highestBid":"0","percentChange":"-0.0915","baseVolume":"2258.215","quoteVolume":"41455.258","isFrozen":"0","high24hr":"19.823","low24hr":"17.626"},"LINK_ETH":{"id":177086303,"last":"0.00123120","lowestAsk":"0","highestBid":"0","percentChange":"-0.0188","baseVolume":"988924","quoteVolume":"1215.09057871","isFrozen":"0","high24hr":"0.00127140","low24hr":"0.00120772"},"AION_ETH":{"id":994506702,"last":"0.002207","lowestAsk":"0","highestBid":"0","percentChange":"0.04","baseVolume":"1495.34","quoteVolume":"3.212700","isFrozen":"0","high24hr":"0.002234","low24hr":"0.002094"},"KNC_BTC":{"id":1127013647,"last":"0.00006296","lowestAsk":"0","highestBid":"0","percentChange":"-0.046","baseVolume":"1203","quoteVolume":"0.07694244","isFrozen":"0","high24hr":"0.00006600","low24hr":"0.00006195"},"POWR_ETH":{"id":387571137,"last":"0.00076406","lowestAsk":"0","highestBid":"0","percentChange":"0.0237","baseVolume":"2811","quoteVolume":"2.15426318","isFrozen":"0","high24hr":"0.00079398","low24hr":"0.00074413"},"NEO_ETH":{"id":1049077503,"last":"0.093458","lowestAsk":"0","highestBid":"0","percentChange":"0.0252","baseVolume":"370.69","quoteVolume":"34.197678","isFrozen":"0","high24hr":"0.093510","low24hr":"0.090500"},"WAN_ETH":{"id":795139019,"last":"0.004535","lowestAsk":"0","highestBid":"0","percentChange":"-0.0194","baseVolume":"2500.23","quoteVolume":"11.260683","isFrozen":"0","high24hr":"0.004671","low24hr":"0.004400"},"AION_BTC":{"id":994509590,"last":"0.0000685","lowestAsk":"0","highestBid":"0","percentChange":"-0.0432","baseVolume":"6129.83","quoteVolume":"0.4205490","isFrozen":"0","high24hr":"0.0000723","low24hr":"0.0000667"},"DGD_ETH":{"id":1333849672,"last":"0.18952","lowestAsk":"0","highestBid":"0","percentChange":"-0.0013","baseVolume":"10.166","quoteVolume":"1.92331","isFrozen":"0","high24hr":"0.19240","low24hr":"0.18416"},"SALT_ETH":{"id":1864032643,"last":"0.002126","lowestAsk":"0","highestBid":"0","percentChange":"0.0285","baseVolume":"1005.84","quoteVolume":"2.091265","isFrozen":"0","high24hr":"0.002139","low24hr":"0.002025"},"OMG_ETH":{"id":1013298512,"last":"0.017498","lowestAsk":"0","highestBid":"0","percentChange":"0.0234","baseVolume":"324.05","quoteVolume":"5.582571","isFrozen":"0","high24hr":"0.017539","low24hr":"0.016821"},"ZIL_ETH":{"id":701922980,"last":"0.00017832","lowestAsk":"0","highestBid":"0","percentChange":"0.0599","baseVolume":"64507","quoteVolume":"11.24585488","isFrozen":"0","high24hr":"0.00017910","low24hr":"0.00016743"},"ETC_USDT":{"id":1435399358,"last":"11.0438","lowestAsk":"0","highestBid":"0","percentChange":"-0.055","baseVolume":"4792.21","quoteVolume":"52855.2582","isFrozen":"0","high24hr":"11.7025","low24hr":"10.6773"},"QKC_BTC":{"id":958009304,"last":"0.00000467","lowestAsk":"0","highestBid":"0","percentChange":"-0.0449","baseVolume":"218858","quoteVolume":"1.02904589","isFrozen":"0","high24hr":"0.00000492","low24hr":"0.00000456"},"ETH_BTC":{"id":1293098472,"last":"0.03117100","lowestAsk":"0","highestBid":"0","percentChange":"-0.0735","baseVolume":"308.460","quoteVolume":"9.88999774","isFrozen":"0","high24hr":"0.03364800","low24hr":"0.03097500"},"SUB_BTC":{"id":891545583,"last":"0.00001703","lowestAsk":"0","highestBid":"0","percentChange":"-0.0296","baseVolume":"8301","quoteVolume":"0.14160120","isFrozen":"0","high24hr":"0.00001757","low24hr":"0.00001663"},"FUN_ETH":{"id":1263364166,"last":"0.00007260","lowestAsk":"0","highestBid":"0","percentChange":"0.0312","baseVolume":"40076","quoteVolume":"2.87972257","isFrozen":"0","high24hr":"0.00007300","low24hr":"0.00007005"},"GTO_XRP":{"id":1235610540,"last":"0.226422","lowestAsk":"0","highestBid":"0","percentChange":"-0.0387","baseVolume":"9478","quoteVolume":"2175.663705","isFrozen":"0","high24hr":"0.236471","low24hr":"0.225478"},"ETC_ETH":{"id":1293244539,"last":"0.05729800","lowestAsk":"0","highestBid":"0","percentChange":"0.0606","baseVolume":"746.19","quoteVolume":"41.17757316","isFrozen":"0","high24hr":"0.05738900","low24hr":"0.05385200"},"ZRX_BTC":{"id":693256687,"last":"0.00009236","lowestAsk":"0","highestBid":"0","percentChange":"-0.0617","baseVolume":"21445","quoteVolume":"2.00367024","isFrozen":"0","high24hr":"0.00009870","low24hr":"0.00009157"},"QKC_XRP":{"id":957988211,"last":"0.104970","lowestAsk":"0","highestBid":"0","percentChange":"-0.0315","baseVolume":"26640","quoteVolume":"2819.115886","isFrozen":"0","high24hr":"0.108858","low24hr":"0.103637"},"TRX_BTC":{"id":865031593,"last":"0.00000310","lowestAsk":"0","highestBid":"0","percentChange":"-0.0312","baseVolume":"2154733","quoteVolume":"6.69785213","isFrozen":"0","high24hr":"0.00000320","low24hr":"0.00000306"},"NCASH_BTC":{"id":1009411568,"last":"0.00000083","lowestAsk":"0","highestBid":"0","percentChange":"-0.0674","baseVolume":"1448566","quoteVolume":"1.22282639","isFrozen":"0","high24hr":"0.00000090","low24hr":"0.00000081"},"IOST_ETH":{"id":1986203186,"last":"0.00005915","lowestAsk":"0","highestBid":"0","percentChange":"0.0504","baseVolume":"113444","quoteVolume":"6.50686828","isFrozen":"0","high24hr":"0.00005915","low24hr":"0.00005573"},"AE_BTC":{"id":92688301,"last":"0.0001473","lowestAsk":"0","highestBid":"0","percentChange":"-0.0067","baseVolume":"2368.93","quoteVolume":"0.3494729","isFrozen":"0","high24hr":"0.0001501","low24hr":"0.0001449"},"BAT_BTC":{"id":1396175332,"last":"0.00002543","lowestAsk":"0","highestBid":"0","percentChange":"-0.0493","baseVolume":"23943","quoteVolume":"0.61613795","isFrozen":"0","high24hr":"0.00002688","low24hr":"0.00002512"},"XRP_ETH":{"id":750750429,"last":"0.00142829","lowestAsk":"0","highestBid":"0","percentChange":"0.0646","baseVolume":"20448","quoteVolume":"28.52075994","isFrozen":"0","high24hr":"0.00143274","low24hr":"0.00134150"},"STORM_ETH":{"id":1717402640,"last":"0.00003572","lowestAsk":"0","highestBid":"0","percentChange":"0.0392","baseVolume":"53638","quoteVolume":"1.88455688","isFrozen":"0","high24hr":"0.00003573","low24hr":"0.00003419"},"LTC_ETH":{"id":1092840482,"last":"0.27384000","lowestAsk":"0","highestBid":"0","percentChange":"0.0477","baseVolume":"40.615","quoteVolume":"10.86552486","isFrozen":"0","high24hr":"0.27634000","low24hr":"0.26067000"},"ELF_ETH":{"id":1300543334,"last":"0.00174099","lowestAsk":"0","highestBid":"0","percentChange":"0.034","baseVolume":"4844","quoteVolume":"8.23376702","isFrozen":"0","high24hr":"0.00174963","low24hr":"0.00166128"},"KNC_XRP":{"id":1126992554,"last":"1.409","lowestAsk":"0","highestBid":"0","percentChange":"-0.0342","baseVolume":"3222","quoteVolume":"4599.004","isFrozen":"0","high24hr":"1.461","low24hr":"1.402"},"GNT_BTC":{"id":1241023804,"last":"0.00002140","lowestAsk":"0","highestBid":"0","percentChange":"-0.042","baseVolume":"4178","quoteVolume":"0.09017651","isFrozen":"0","high24hr":"0.00002235","low24hr":"0.00002105"}}}'
  recorded_at: Sun, 09 Sep 2018 02:27:31 GMT
recorded_with: VCR 4.0.0
