---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/contracts/active
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - cd69179d8643110a
      Web-Tag:
      - kumex-api
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":[{"symbol":"XBTUSDM","takerFixFee":0E-10,"riskStep":100,"makerFixFee":0E-10,"isQuanto":false,"maxRiskLimit":200,"type":"FFWCSX","rootSymbol":"XBT","baseCurrency":"XBT","firstOpenDate":1552638575000,"tickSize":1.0,"initialMargin":0.01,"isDeleverage":true,"markMethod":"FairPrice","indexSymbol":".BXBT","minRiskLimit":200,"fundingBaseSymbol":".XBTINT8H","settlementFixFee":0E-10,"fairMethod":"FundingRate","takerFeeRate":0.00060,"fundingRateSymbol":".XBTUSDMFPI8H","makerFeeRate":-0.00025,"isInverse":true,"lotSize":1,"multiplier":-1.0,"settlementFeeRate":0.0,"fundingQuoteSymbol":".USDINT8H","quoteCurrency":"USD","maxOrderQty":1000000,"maxPrice":1000000.0000000000,"maintainMargin":0.005,"status":"Open"},{"symbol":"XBTMZ19","takerFixFee":0E-10,"riskStep":10,"makerFixFee":0E-10,"isQuanto":false,"settleDate":1577448000000,"maxRiskLimit":50,"type":"FFICSX","rootSymbol":"XBT","baseCurrency":"XBT","firstOpenDate":1572336000000,"tickSize":1.0,"initialMargin":0.01,"isDeleverage":true,"markMethod":"FairPrice","indexSymbol":".BXBT","minRiskLimit":50,"settlementFixFee":0E-10,"settlementSymbol":".BXBT30M","takerFeeRate":0.00060,"makerFeeRate":-0.00025,"isInverse":true,"lotSize":1,"multiplier":-1.0,"settlementFeeRate":0.00035,"quoteCurrency":"USD","maxOrderQty":1000000,"maxPrice":1000000.0000000000,"maintainMargin":0.005,"status":"Open"},{"symbol":"XBTMH20","takerFixFee":0E-10,"riskStep":10,"makerFixFee":0E-10,"isQuanto":false,"settleDate":1585310400000,"maxRiskLimit":50,"type":"FFICSX","rootSymbol":"XBT","baseCurrency":"XBT","firstOpenDate":1572336000000,"tickSize":1.0,"initialMargin":0.01,"isDeleverage":true,"markMethod":"FairPrice","indexSymbol":".BXBT","minRiskLimit":50,"settlementFixFee":0E-10,"settlementSymbol":".BXBT30M","takerFeeRate":0.00060,"makerFeeRate":-0.00025,"isInverse":true,"lotSize":1,"multiplier":-1.0,"settlementFeeRate":0.00035,"quoteCurrency":"USD","maxOrderQty":1000000,"maxPrice":1000000.0000000000,"maintainMargin":0.005,"status":"Open"}]}'
  recorded_at: Mon, 04 Nov 2019 12:34:18 GMT
recorded_with: VCR 4.0.0
