---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/level2/snapshot?symbol=XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - af4d17119ed07166
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"symbol":"XBTUSDM","sequence":67951658,"asks":[[10170.0,274],[10171.0,175],[10175.0,275],[10177.0,56464],[10178.0,21669],[10179.0,14305],[10180.0,14102],[10181.0,12835],[10182.0,13844],[10183.0,12698],[10184.0,16040],[10185.0,13961],[10186.0,13530],[10187.0,15095],[10188.0,11649],[10190.0,2006],[10193.0,10000],[10199.0,3500],[10200.0,2006],[10208.0,163],[10212.0,1000],[10223.0,30000],[10225.0,5],[10235.0,4000],[10239.0,2],[10243.0,30],[10249.0,4588],[10250.0,1],[10252.0,500],[10256.0,100],[10257.0,300],[10258.0,100],[10259.0,300],[10260.0,1[...]
