---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/level2/snapshot?symbol=XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 21bc3939fa645eb
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"symbol":"XBTUSDM","sequence":248097708,"asks":[[9271.0,500],[9272.0,100],[9273.0,100],[9274.0,100],[9275.0,1225],[9276.0,961],[9277.0,1968],[9278.0,20000],[9279.0,29000],[9280.0,31338],[9281.0,30175],[9282.0,73436],[9283.0,64466],[9284.0,61434],[9285.0,54902],[9286.0,59512],[9287.0,60912],[9288.0,56389],[9289.0,65307],[9290.0,53992],[9291.0,69492],[9292.0,48490],[9293.0,35989],[9294.0,40881],[9295.0,23332],[9296.0,26179],[9298.0,43100],[9299.0,80],[9300.0,3129],[9319.0,80000],[9320.0,12431],[9335.0,20],[9340.0,1231],[9343.0,2000],[9344.0,50[...]
