---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/ticker?symbol=XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 9e7728fadb262d22
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"sequence":363926,"symbol":"XBTUSDM","side":"buy","size":100,"price":"10170.0","bestBidSize":15654,"bestBidPrice":"10169.0","bestAskPrice":"10170.0","tradeId":"5d84888b3c7feb4209d3e077","bestAskSize":274,"ts":1568966795683448063}}'
  recorded_at: Fri, 20 Sep 2019 08:06:36 GMT
- request:
    method: get
    uri: https://kitchen.kumex.com/kumex-trade/market/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 4488716490e91e25
      Web-Tag:
      - kumex-kitchen
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"200","msg":"success","retry":false,"data":{"volume":"25755012","turnover":"2549.27137164","lastPrice":null,"ts":1568966796942298644,"priceChgPct":"0"}}'
  recorded_at: Fri, 20 Sep 2019 08:06:36 GMT
recorded_with: VCR 4.0.0
