---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/trade/history?symbol=XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 392616b422ce0722
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":[{"sequence":2618568,"side":"buy","size":13371,"price":"7025.0000000000","takerOrderId":"5e8acc3e54a0340009dfae9c","makerOrderId":"5e8acc3bc2e30f00083efa55","tradeId":"5e8acc3e3c7feb48608b1f4b","ts":1586154558491154925},{"sequence":2618567,"side":"buy","size":42800,"price":"7025.0000000000","takerOrderId":"5e8acc3a1443710008da79d7","makerOrderId":"5e8acc3a1443710008da79be","tradeId":"5e8acc3a3c7feb48608b1f12","ts":1586154554965066530},{"sequence":2618566,"side":"buy","size":5,"price":"7025.0000000000","takerOrderId":"5e8acc3154a0340009dfa8b6","makerOrderId":"5e8acb9c54a0340009df7fd1","tradeId":"5e8acc313c7feb48608b1da5","ts":1586154545189745099},{"sequence":2618565,"side":"buy","size":538,"[...]
