---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/trade/history?symbol=XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 7d4ebf7270af8a92
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":[{"sequence":384391,"side":"buy","size":100,"price":"10170.0000000000","takerOrderId":"5d84888bf24b802d02d61b48","makerOrderId":"5d84888a09931f18749a89eb","tradeId":"5d84888b3c7feb4209d3e077","ts":1568966795683448063},{"sequence":384390,"side":"sell","size":58,"price":"10169.0000000000","takerOrderId":"5d84888a439c7f2375c8d48b","makerOrderId":"5d848885439c7f2375c8d3f5","tradeId":"5d84888b3c7feb4209d3e02e","ts":1568966795050792322},{"sequence":384389,"side":"sell","size":5342,"price":"10169.0000000000","takerOrderId":"5d84888a439c7f2375c8d48b","makerOrderId":"5d848807f24b802d02d60d1f","tradeId":"5d84888b3c7feb4209d3e02d","ts":1568966795050792322},{"sequence":384388,"side":"sell","size":231[...]
