---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/contracts/active
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 577219a211102e0d
      Web-Tag:
      - kumex-api
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":[{"symbol":"XBTUSDM","takerFixFee":3.00E-8,"riskStep":100,"makerFixFee":-2.00E-8,"isQuanto":false,"maxRiskLimit":200,"type":"FFWCSX","rootSymbol":"XBT","baseCurrency":"XBT","tickSize":1.0,"initialMargin":0.01,"isDeleverage":true,"markMethod":"FairPrice","indexSymbol":".BXBT","minRiskLimit":200,"fundingBaseSymbol":".XBTINT8H","fairMethod":"FundingRate","takerFeeRate":0.00060,"fundingRateSymbol":".XBTUSDMFPI8H","makerFeeRate":-0.00025,"isInverse":true,"lotSize":1,"multiplier":-1.0,"fundingQuoteSymbol":".USDINT8H","quoteCurrency":"USD","maxOrderQty":1000000,"maxPrice":1000000.0000000000,"maintainMargin":0.005,"status":"Open"}]}'
  recorded_at: Fri, 20 Sep 2019 08:06:36 GMT
recorded_with: VCR 4.0.0
