---
http_interactions:
- request:
    method: get
    uri: https://kitchen.kumex.com/web-front/contracts/XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - dc6cc1053fb4468b
      Web-Tag:
      - kumex-kitchen
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"200","msg":"success","retry":false,"data":{"symbol":"XBTUSDM","rootSymbol":"XBT","type":"FFWCSX","firstOpenDate":1552638575000,"expireDate":null,"settleDate":null,"baseCurrency":"XBT","quoteCurrency":"USD","settleCurrency":"XBT","maxOrderQty":1000000,"maxPrice":1000000.0000000000,"lotSize":1,"tickSize":1.0,"multiplier":-1.0,"initialMargin":0.01,"maintainMargin":0.005,"maxRiskLimit":200,"minRiskLimit":200,"riskStep":100,"makerFeeRate":-2.5E-4,"takerFeeRate":6.0E-4,"takerFixFee":0.0000000000,"makerFixFee":0.0000000000,"settlementFee":null,"isDeleverage":true,"isQuanto":false,"isInverse":true,"markMethod":"FairPrice","fairMethod":"FundingRate","fundingBaseSymbol":".XBTINT8H","fundingQuoteSymbol":".USDINT8H","fundingRateSymbol":".XBTUSDMFPI8H","indexSymbol":".BXBT","status":"Open","fundingFeeRate":0.000100,"predictedFundingFeeRate":0.000100,"openInterest":"1644371","turnoverOf24h":1158.85184935,"volumeOf24h":10629396.00000000,"markPrice":9266.63,"indexPrice":9265.77,"lastTradePrice":9271.0000000000,"nextFundingRateTime":26735482}}'
  recorded_at: Mon, 04 Nov 2019 12:34:23 GMT
recorded_with: VCR 4.0.0
