---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/level2/snapshot?symbol=XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 796355c6dce2e9f3
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"symbol":"XBTUSDM","sequence":612212133,"asks":[[7030.0,5],[7031.0,37563],[7032.0,10580],[7033.0,52101],[7034.0,46938],[7035.0,45713],[7036.0,28149],[7037.0,37556],[7038.0,49123],[7039.0,153901],[7040.0,23763],[7043.0,60800],[7050.0,13036],[7051.0,500],[7052.0,500],[7053.0,900],[7054.0,200000],[7056.0,12729],[7062.0,12729],[7065.0,622],[7068.0,12729],[7075.0,50],[7090.0,149],[7100.0,6773],[7103.0,1000000],[7104.0,596],[7105.0,10],[7111.0,1161],[7123.0,1000],[7127.0,500],[7130.0,2],[7133.0,50],[7136.0,136],[7137.0,10],[7138.0,100],[7140.0,50][...]
