---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/ticker?symbol=XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - eab89eb8dff9f498
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"sequence":743851,"symbol":"XBTUSDM","side":"sell","size":100,"price":"9271.0","bestBidSize":100,"bestBidPrice":"9269.0","bestAskPrice":"9270.0","tradeId":"5dc01ab33c7feb2efc618064","bestAskSize":2722,"ts":1572870835320307330}}'
  recorded_at: Mon, 04 Nov 2019 12:34:18 GMT
- request:
    method: get
    uri: https://kitchen.kumex.com/kumex-trade/market/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - bae8273f5d2bd435
      Web-Tag:
      - kumex-kitchen
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"200","msg":"success","retry":false,"data":{"symbol":null,"volume":"10831447","turnover":"1180.38166922","lastPrice":null,"priceChgPct":"0","ts":1572870861264914377}}'
  recorded_at: Mon, 04 Nov 2019 12:34:19 GMT
recorded_with: VCR 4.0.0
