---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/ticker?symbol=XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - c783b1ec9ae43e0
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"sequence":2101269,"symbol":"XBTUSDM","side":"buy","size":13371,"price":"7025.0","bestBidSize":8537,"bestBidPrice":"7024.0","bestAskPrice":"7025.0","tradeId":"5e8acc3e3c7feb48608b1f4b","bestAskSize":72641,"ts":1586154558491154925}}'
  recorded_at: Mon, 06 Apr 2020 06:30:11 GMT
- request:
    method: get
    uri: https://kitchen.kumex.com/kumex-trade/market/XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 2c3717b46b44bda2
      Web-Tag:
      - kumex-kitchen
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"200","msg":"success","retry":false,"data":{"symbol":"XBTUSDM","volume":"39376737","turnover":"5769.68518408","lastPrice":"7025","priceChgPct":"0.0355","ts":1586154612163182659}}'
  recorded_at: Mon, 06 Apr 2020 06:30:12 GMT
recorded_with: VCR 4.0.0
