---
http_interactions:
- request:
    method: get
    uri: https://api.kumex.com/api/v1/trade/history?symbol=XBTUSDM
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 92d2ddc471de1e2f
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":[{"sequence":829455,"side":"sell","size":100,"price":"9271.0000000000","takerOrderId":"5dc01ab3439c7f318f75d9ef","makerOrderId":"5dc01ab325aa3858552265a5","tradeId":"5dc01ab33c7feb2efc618064","ts":1572870835320307330},{"sequence":829454,"side":"sell","size":760,"price":"9271.0000000000","takerOrderId":"5dc01ab3439c7f318f75d9ef","makerOrderId":"5dc01ab109931f07850f9a1f","tradeId":"5dc01ab33c7feb2efc618063","ts":1572870835320307330},{"sequence":829453,"side":"buy","size":100,"price":"9271.0000000000","takerOrderId":"5dc01aaf439c7f318f75d847","makerOrderId":"5dc01a9325aa38585522582c","tradeId":"5dc01aaf3c7feb2efc617f91","ts":1572870831969583102},{"sequence":829452,"side":"buy","size":100,"pr[...]
