---
http_interactions:
- request:
    method: get
    uri: https://crytrex.com/public_api/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2,h2c
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: " {\n\"success\":true,\n\"message\":\"\",\n\"result\":[\n {\n   \"Market\":\"USDT\",\n
        \  \"Currency\":\"BTC\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\"USDT\",\n
        \  \"Currency\":\"ETH\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\"USDT\",\n
        \  \"Currency\":\"DASH\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\"USDT\",\n
        \  \"Currency\":\"BCH\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\"USDT\",\n
        \  \"Currency\":\"LTC\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\"USDT\",\n
        \  \"Currency\":\"ZEC\",\n   \"IsActive\":true\n },\n \n {\n   \"Market[...]
