---
http_interactions:
- request:
    method: get
    uri: https://cryt.crytrex.com/public_api/stats?currency=ETH&market=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2,h2c
      X-Content-Security-Policy:
      - allow 'self';
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ' {"stats":{"market":"BTC","bid":0.02763,"ask":0.02763,"last_price":0.02763,"last_transaction_type":"BUY","last_transaction_currency":"ETH","daily_change":0,"daily_change_percent":0,"max":0.02763,"min":0.02763,"open":0.02763,"market_cap":0,"global_units":0,"global_volume":0,"24h_volume":0,"24h_volume_buy":0,"24h_volume_sell":0,"1h_volume":0,"1h_volume_buy":0,"1h_volume_sell":0,"currency":"ETH","id":"7605","Full
        Name":"Ether","type":"PoW"}}'
  recorded_at: Thu, 27 Feb 2020 06:21:41 GMT
recorded_with: VCR 4.0.0
