---
http_interactions:
- request:
    method: get
    uri: https://cryt.crytrex.com/public_api/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2,h2c
      X-Content-Security-Policy:
      - allow 'self';
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: " {\n\"success\":true,\n\"message\":\"\",\n\"result\":[\n {\n   \"Market\":\"USDT\",\n
        \  \"Currency\":\"BTC\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\"BTC\",\n
        \  \"Currency\":\"DASH\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\"BTC\",\n
        \  \"Currency\":\"DOGE\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\"BTC\",\n
        \  \"Currency\":\"ETC\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\"BTC\",\n
        \  \"Currency\":\"TRX\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\"BTC\",\n
        \  \"Currency\":\"BTT\",\n   \"IsActive\":true\n },\n \n {\n   \"Market\":\[...]
