---
http_interactions:
- request:
    method: post
    uri: https://beijing.51nebula.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"get_trade_history","params":["JADE.USDT","JADE.BTC","2018-06-03T13:08","2018-06-02T13:08",100],"id":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":[{"date":"2018-06-03T13:07:54","price":"7738.64915572232621344","amount":"0.00000533000000000","value":"0.04124700000000000"},{"date":"2018-06-03T13:07:54","price":"7725.77222222222280834","amount":"0.00090000000000000","value":"6.95319500000000001"},{"date":"2018-06-03T13:07:12","price":"7738.60669356752987369","amount":"0.00008426000000000","value":"0.65205500000000005"},{"date":"2018-06-03T13:07:12","price":"7737.18191038170698448","amount":"0.00086768000000000","value":"6.71339799999999975"},{"date":"2018-06-03T13:07:12","price":"7734.49033675909868180","amount":"0.00015471000000000","value":[...]
