---
http_interactions:
- request:
    method: post
    uri: https://hongkong.cybex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"get_trade_history","params":["JADE.USDT","JADE.BTC","2019-03-14T03:10","2019-03-13T03:10",100],"id":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":[{"sequence":12435945,"date":"2019-03-14T02:23:33","price":"3874.06997590361445783","amount":"0.00119999","value":"4.648847","side1_account_id":"1.2.46448","side2_account_id":"1.2.46448"},{"sequence":12435943,"date":"2019-03-14T01:39:33","price":"3866.89997969543147208","amount":"0.00111199","value":"4.299959","side1_account_id":"1.2.46448","side2_account_id":"1.2.46448"},{"sequence":12435941,"date":"2019-03-14T01:22:27","price":"3872.329984","amount":"0.00103999","value":"4.027191","side1_account_id":"1.2.46448","side2_account_id":"1.2.46448"},{"sequence":12435939,"date":"2019-03-14T00:30:24","price":"3870.61991636413767749","amount":"0.00103999","value":"4.025423",[...]
