---
http_interactions:
- request:
    method: post
    uri: https://hongkong.cybex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"get_ticker","params":["JADE.USDT","JADE.BTC"],"id":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"time":"2019-03-14T03:10:37","base":"JADE.USDT","quote":"JADE.BTC","latest":"3874.06997590361445783","lowest_ask":"3874.03231036374160194","highest_bid":"3874.01248231299687303","percent_change":"-0.27","base_volume":"139.279996","quote_volume":"0.03602668"}}'
  recorded_at: Thu, 14 Mar 2019 03:10:37 GMT
recorded_with: VCR 4.0.0
