---
http_interactions:
- request:
    method: post
    uri: https://beijing.51nebula.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"get_ticker","params":["JADE.USDT","JADE.BTC"],"id":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"base":"JADE.USDT","quote":"JADE.BTC","latest":"7644.74776261186889315","lowest_ask":"0.00000000000000000","highest_bid":"0.00000000000000000","percent_change":"0.42029974966264483","base_volume":"21766.46283299994320259","quote_volume":"2.86536198999998604"}}'
  recorded_at: Thu, 07 Jun 2018 03:19:58 GMT
recorded_with: VCR 4.0.0
