---
http_interactions:
- request:
    method: post
    uri: https://beijing.51nebula.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"get_order_book","params":["JADE.BTC","CYB","50"],"id":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"base":"JADE.BTC","quote":"CYB","bids":[{"price":"0.00001121000026107","quote":"203.01070000000001414","base":"0.00227575000000000"},{"price":"0.00001120000035647","quote":"269.30892000000000053","base":"0.00301626000000000"},{"price":"0.00001110002711128","quote":"168.60139000000000919","base":"0.00187148000000000"},{"price":"0.00001010000004786","quote":"1190.94354999999995925","base":"0.01202853000000000"},{"price":"0.00000310100000618","quote":"3257.01386000000002241","base":"0.01010000000000000"}],"asks":[{"price":"0.00026880000000000","quote":"188.00000000000000000","base":"0.05053440000000000"},{"price":"0.00026880000000000","quote":"12.00000000000000000","base":"0.00322560000000000"},{"price":"0.00028869999629223","quote":"2445.13317999999981112","base":"0.70590993999999996"},{"price":"0.00029989996022275","quote":"100.56000000000000227","base":"0.03015794000000000"},{"price":"0.00029999998366781","quote":"428.60149000000001251","base":"0.12858043999999999"},{"price":"0.00030098995114250","quote":"46.87100000000000222","base":"0.01410770000000000"},{"price":"0.00030989991245988","quote":"68.54000000000000625","base":"0.02124054000000000"},{"price":"0.00065399995135622","quote":"185.01849999999998886","base":"0.12100209000000001"},{"price":"0.00100000000000000","quote":"20.00000000000000000","base":"0.02000000000000000"},{"price":"0.00110000000000000","quote":"188.85400000000001342","base":"0.20773939999999999"},{"price":"0.01000000000000000","quote":"614.32500000000004547","base":"6.14325000000000010"},{"price":"0.01100000000000000","quote":"188.85400000000001342","base":"2.07739399999999996"}]}}'
  recorded_at: Thu, 07 Jun 2018 03:19:59 GMT
recorded_with: VCR 4.0.0
