---
http_interactions:
- request:
    method: post
    uri: https://beijing.51nebula.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"get_order_book","params":["JADE.USDT","JADE.BTC","50"],"id":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"base":"JADE.USDT","quote":"JADE.BTC","bids":[{"price":"7700.38444444444485271","quote":"0.00000623000000000","base":"0.04797400000000000"},{"price":"7697.61625000000003638","quote":"0.00080000000000000","base":"6.15809300000000004"},{"price":"7696.98999999999978172","quote":"0.00070000000000000","base":"5.38789300000000004"},{"price":"7696.97080809006820346","quote":"0.00119999000000000","base":"9.23628800000000005"},{"price":"7696.50636363636385795","quote":"0.00110000000000000","base":"8.46615700000000082"},{"price":"7695.38230769230813166","quot[...]
