---
http_interactions:
- request:
    method: post
    uri: https://beijing.51nebula.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"get_trade_history","params":["JADE.USDT","JADE.BTC","2018-06-07T03:19","2018-06-06T03:19",100],"id":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":[{"date":"2018-06-06T21:45:27","price":"7644.74776261186889315","amount":"0.00020001000000000","value":"1.52902600000000000"},{"date":"2018-06-06T21:45:27","price":"7647.06924384633930458","amount":"0.00069999000000000","value":"5.35287199999999963"},{"date":"2018-06-06T21:45:18","price":"7647.06800000000021100","amount":"0.00050000000000000","value":"3.82353399999999999"},{"date":"2018-06-06T21:45:18","price":"7666.94499999999879947","amount":"0.00040000000000000","value":"3.06677799999999978"},{"date":"2018-06-06T21:45:06","price":"7666.94142857142833236","amount":"0.00070000000000000","value":[...]
