---
http_interactions:
- request:
    method: get
    uri: https://api.delta.exchange/products
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":27,"symbol":"BTCUSD","description":"Bitcoin Perpetual futures,
        quoted in US Dollar and settled & margined in BTC","created_at":"2019-04-03T06:45:50.000Z","updated_at":"2020-01-23T09:11:57.000Z","settlement_time":null,"product_type":"inverse_future","pricing_source":"Avg
        of BTC/USD price on Bitstamp, Coinbase Pro & Kraken","impact_size":50000,"initial_margin":1,"maintenance_margin":"0.5","contract_value":"1.0","contract_unit_currency":"USD","tick_size":"0.5","trading_status":"operational","max_leverage_notional":"10.0","default_leverage":"10.0","leverage_slider_values":[1,2,3,5,10,25,50,100],"initial_margin_scaling_factor":"0.05","maintenance_margin_scaling_factor":"0.025","commission_rate":"0.00075","maker_commission_rate":"-0.00025","liquidation_penalty_factor":"1.0","sort_priority":1,"contract_type":"perpetual_futures","position_size_limit":200000,"basis_factor_max_limit":"5.475","is_quanto":false,"funding_method":"mark_price","annualized_funding":"5.475","price_clubbing_values":[0.5,1,2.5,5,10,25,50,100],"price_band":"2.5","ui_config":{"tags":[],"sort_priority":1,"price_clubbing_values":[0.5,1,2.5,5,10,25,50,100],"leverage_slider_values":[1,2,3,5,10,25,50,100],"default_trading_view_candle":"15"},"underlying_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"quoting_asset":{"id":3,"symbol":"USD","name":"US
        Dollar","precision":6,"minimum_precision":2,"sort_priority":10},"settling_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"spot_index":{"id":1,"symbol":".DEXBTUSD","description":"","constituent_exchanges":[{"weight":1,"exchange":"bitstamp","health_interval":300,"health_priority":3},{"weight":1,"exchange":"coinbase","health_interval":300,"health_priority":1},{"weight":1,"exchange":"kraken","health_interval":300,"health_priority":2}],"price_method":"ltp","health_interval":300,"impact_size":"1.0","is_composite":false,"constituent_indices":null,"index_type":"spot_pair","underlying_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"quoting_asset":{"id":3,"symbol":"USD","name":"US
        Dollar","precision":6,"minimum_precision":2,"sort_priority":10}}},{"id":59,"symbol":"BCHUSDT","description":"Bitcoin
        Cash Perpetual futures, quoted,settled & margined in Tether(USDT)","created_at":"2020-01-11T08:18:48.000Z","updated_at":"2020-01-23T09:11:57.000Z","settlement_time":null,"product_type":"future","pricing_source":"Avg
        of BCH/USDT price on Binance,Okex","impact_size":10000,"initial_margin":1,"maintenance_margin":"0.5","contract_value":"0.01","contract_unit_currency":"BCH","tick_size":"0.05","trading_status":"operational","max_leverage_notional":"5000.0","default_leverage":"10.0","leverage_slider_values":[1,2,3,5,10,25,50,100],"initial_margin_scaling_factor":"0.000025","maintenance_margin_scaling_factor":"0.0000125","commission_rate":"0.0005","maker_commission_rate":"0.00025","liquidation_penalty_factor":"1.0","sort_priority":1,"contract_type":"perpetual_futures","position_size_limit":100000,"basis_factor_max_limit":"5.475","is_quanto":false,"funding_method":"mark_price","annualized_funding":"5.475","price_clubbing_values":[0.05,0.1,0.5,1,5,10],"price_band":"2.5","ui_config":{"tags":["New"],"sort_priority":1,"show_bracket_orders":false,"price_clubbing_values":[0.05,0.1,0.5,1,5,10],"leverage_slider_values":[1,2,3,5,10,25,50,100],"default_trading_view_candle":"15"},"underlying_asset":{"id":13,"symbol":"BCH","name":"Bitcoin
        Cash","precision":8,"minimum_precision":4,"sort_priority":6},"quoting_asset":{"id":5,"symbol":"USDT","name":"Tether","precision":6,"minimum_precision":2,"sort_priority":10},"settling_asset":{"id":5,"symbol":"USDT","name":"Tether","precision":6,"minimum_precision":2,"sort_priority":10},"spot_index[...]
- request:
    method: get
    uri: https://api.delta.exchange/orderbook/27/l2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"buy_book":[{"price":"8436.0","size":50935},{"price":"8435.5","size":18999},{"price":"8435.0","size":290},{"price":"8434.0","size":8434},{"price":"8433.5","size":50601},{"price":"8433.0","size":120000},{"price":"8432.5","size":63000},{"price":"8431.5","size":14550},{"price":"8431.0","size":16010},{"price":"8410.0","size":100},{"price":"8401.0","size":229390},{"price":"8376.0","size":20},{"price":"8350.0","size":200},{"price":"8289.0","size":3000},{"price":"8250.0","size":185},{"price":"8162.0","size":2},{"price":"8125.0","size":500},{"price":"8099.0","size":40413},{"price":"8098.0","size":159764},{"price":"8097.0","size":10577},{"price":"8096.0","size":117988},{"price":"8095.0","size":10378},{"price":"8094.0","size":92433},{"price":"8055.0","size":200},{"price":"7780.0","size":600},{"price":"7680.0","size":2500},{"price":"7600.0","size":50},{"price":"3000.0","size":30},{"price":"358.0","size":1},{"price":"290.0","size":5},{"price":"85.0","size":1},{"price":"10.0","size":1},{"price":"9.0","size":1}],"sell_book":[{"price":"8442.0","size":5166},{"price":"8447.5","size":2500},{"price":"8448.0","size":136},{"price":"8449.5","size":40000},{"price":"8450.0","size":42342},{"price":"8451.0","size":5071},{"price":"8451.5","size":74443},{"price":"8452.0","size":157760},{"price":"8452.5","size":12693},{"price":"8481.5","size":229893},{"price":"8801.5","size":43767},{"price":"8802.5","size":187953},{"price":"8803.5","size":10549},{"price":"8804.5","size":106846},{"price":"8805.5","size":10731},{"price":"8806.5","size":93067},{"price":"8910.0","size":50},{"price":"9040.0","size":50},{"price":"9150.0","size":10}],"recent_trades":[{"buyer_role":"maker","seller_role":"taker","size":5723,"price":"8440.0","timestamp":1579771620160970},{"buyer_role":"maker","seller_role":"taker","size":2612,"price":"8440.0","timestamp":1579771618500884},{"buyer_role":"taker","seller_role":"maker","size":4,"price":"8440.5","timestamp":1579771618316627},{"buyer_role":"taker","seller_role":"maker","size":108,"price":"8446.0","timestamp":1579771581003329},{"buyer_role":"taker","seller_role":"maker","size":2,"price":"8446.0","timestamp":1579771580196471},{"buyer_role":"taker","seller_role":"maker","size":277,"price":"8444.0","time[...]
