---
http_interactions:
- request:
    method: get
    uri: https://api.delta.exchange/orderbook/46/l2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"buy_book":[{"price":"7461.5","size":2612},{"price":"7461.0","size":1216},{"price":"7460.5","size":12646},{"price":"7460.0","size":10000},{"price":"7456.0","size":14580},{"price":"7455.0","size":42100},{"price":"7295.0","size":377175}],"sell_book":[{"price":"7477.5","size":12646},{"price":"7478.0","size":16999},{"price":"7480.0","size":200},{"price":"7480.5","size":9627},{"price":"7483.0","size":7944},{"price":"7486.0","size":2916},{"price":"7649.5","size":425259}],"recent_trades":[{"buyer_role":"maker","seller_role":"taker","size":240,"price":"7459.5","timestamp":1571843611814693},{"buyer_role":"maker","seller_role":"taker","size":131,"price":"7467.0","timestamp":1571843509959434},{"buyer_role":"maker","seller_role":"taker","size":59,"price":"7461.0","timestamp":1571843503956023},{"buyer_role":"taker","seller_role":"maker","size":53,"price":"7466.5","timestamp":1571843409069394},{"buyer_role":"taker","seller_role":"maker","size":207,"price":"7466.5","timestamp":1571843402956168},{"buyer_role":"taker","seller_role":"maker","size":260,"price":"7461.5","tim[...]
