---
http_interactions:
- request:
    method: get
    uri: https://api.delta.exchange/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":[{"close":5.67e-6,"high":5.88e-6,"low":5.64e-6,"open":5.73e-6,"symbol":"ADABTC","timestamp":1588398861622723,"turnover":13.124373570000007,"volume":2278361},{"close":3.215e-4,"high":3.335e-4,"low":3.185e-4,"open":3.254e-4,"symbol":"ATOMBTC","timestamp":1588398861622723,"turnover":11.666141200000009,"volume":35933},{"close":2.155e-5,"high":2.193e-5,"low":2.096e-5,"open":2.171e-5,"symbol":"BATBTC","timestamp":1588398861622723,"turnover":5.575390810000004,"volume":260620},{"close":253.85,"high":260.4,"low":251,"open":256.65,"symbol":"BCHUSDT","timestamp":1588398861622723,"turnover":193172.27100000018,"volume":756.6599999999983},{"close":0.0019[...]
