---
http_interactions:
- request:
    method: get
    uri: https://api.delta.exchange/products
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":27,"symbol":"BTCUSD","description":"Bitcoin Perpetual futures,
        quoted in US Dollar and settled & margined in BTC","created_at":"2019-04-03T06:45:50.000Z","updated_at":"2019-10-18T07:53:48.000Z","settlement_time":null,"product_type":"inverse_future","pricing_source":"Avg
        of BTC/USD price on Bitstamp, Coinbase Pro & Kraken","impact_size":50000,"initial_margin":1,"maintenance_margin":"0.5","contract_value":"1.0","contract_unit_currency":"USD","tick_size":"0.5","trading_status":"operational","max_leverage_notional":"10.0","default_leverage":"10.0","leverage_slider_values":[1,2,3,5,10,25,50,100],"initial_margin_scaling_factor":"0.05","maintenance_margin_scaling_factor":"0.025","commission_rate":"0.00075","maker_commission_rate":"-0.00025","liquidation_penalty_factor":"1.0","sort_priority":1,"contract_type":"perpetual_futures","position_size_limit":200000,"basis_factor_max_limit":"5.475","is_quanto":false,"funding_method":"mark_price","annualized_funding":"5.475","price_clubbing_values":[0.5,1,2.5,5,10,25,50,100],"price_band":"2.5","ui_config":{"sort_priority":1,"price_clubbing_values":[0.5,1,2.5,5,10,25,50,100],"leverage_slider_values":[1,2,3,5,10,25,50,100],"default_trading_view_candle":"15m"},"underlying_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"quoting_asset":{"id":3,"symbol":"USD","name":"US
        Dollar","precision":6,"minimum_precision":2,"sort_priority":10},"settling_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"spot_index":{"id":1,"symbol":".DEXBTUSD","description":"","constituent_exchanges":[{"weight":1,"exchange":"bitstamp","health_interval":300},{"weight":1,"exchange":"coinbase","health_interval":300},{"weight":1,"exchange":"kraken","health_interval":300}],"price_method":"ltp","health_interval":300,"impact_size":"1.0","is_composite":false,"constituent_indices":null,"underlying_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"quoting_asset":{"id":3,"symbol":"USD","name":"US
        Dollar","precision":6,"minimum_precision":2,"sort_priority":10}}},{"id":46,"symbol":"BTCUSD_27Dec","description":"27th
        December Bitcoin future quoted in US Dollar","created_at":"2019-07-02T15:13:02.000Z","updated_at":"2019-10-23T12:48:59.000Z","settlement_time":"2019-12-27T12:00:00.000Z","product_type":"inverse_fu[...]
- request:
    method: get
    uri: https://api.delta.exchange/orderbook/27/l2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"buy_book":[{"price":"7466.0","size":4149},{"price":"7465.5","size":50070},{"price":"7465.0","size":103},{"price":"7464.5","size":66803},{"price":"7464.0","size":34479},{"price":"7463.5","size":81900},{"price":"7380.0","size":100},{"price":"7312.5","size":295506},{"price":"7290.0","size":150},{"price":"7166.0","size":19979},{"price":"7162.5","size":20637},{"price":"7161.5","size":39524},{"price":"7160.5","size":137749},{"price":"7159.5","size":110198},{"price":"7158.5","size":85307},{"price":"7157.5","size":22017},{"price":"7000.0","size":1},{"price":"6810.0","size":20},{"price":"6244.0","size":200}],"sell_book":[{"price":"7466.5","size":7466},{"price":"7468.0","size":17400},{"price":"7468.5","size":24750},{"price":"7469.0","size":126037},{"price":"7469.5","size":13117},{"price":"7470.0","size":41215},{"price":"7620.5","size":318843},{"price":"7772.0","size":24223},{"price":"7773.0","size":37828},{"price":"7774.0","size":171028},{"price":"7775.0","size":122923},{"price":"7776.0","size":67339},{"price":"7777.0","size":28873},{"price":"7778.0","size":18547},{"price":"8056.0","size":1768},{"price":"8400.0","size":700},{"price":"8469.0","size":200},{"price":"8488.0","size":200},{"price":"8498.0","size":100},{"price":"8958.0","size":60}],"recent_trades":[{"buyer_role":"taker","seller_role":"maker","size":48,"price":"7464.0","timestamp":1571843565529238},{"buyer_role":"taker","seller_role":"maker","size":112,"price":"7470.5","timestamp":1571843558629287},{"buyer_role":"maker","seller_role":"taker","size":1390,"price":"7467.0","timestamp":1571843495266037},{"buyer_role":"maker","seller_role":"taker","size":153,"price":"7467.5","timestamp":1571843495266012},{"buyer_role":"taker","seller_role":"maker","size":2000,"price":"7459.0","timestamp":1571843414226137},{"buyer_role":"taker","seller_role":"maker","size":2000,"price":"7460.0"[...]
