---
http_interactions:
- request:
    method: get
    uri: https://api.delta.exchange/products/ticker/24hr?symbol=BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"low":7423.5,"high":8230.5,"open":8203,"close":7464,"volume":1034768,"symbol":"BTCUSD","timestamp":1571843630}'
  recorded_at: Wed, 23 Oct 2019 15:13:47 GMT
recorded_with: VCR 4.0.0
