---
http_interactions:
- request:
    method: get
    uri: https://api.delta.exchange/products/ticker/24hr?symbol=BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"low":8440,"high":8683,"open":8641,"close":8440,"volume":1557314,"symbol":"BTCUSD","timestamp":1579771692776000}'
  recorded_at: Thu, 23 Jan 2020 09:28:12 GMT
recorded_with: VCR 4.0.0
