---
http_interactions:
- request:
    method: get
    uri: https://api.delta.exchange/products
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":27,"symbol":"BTCUSD","description":"Bitcoin Perpetual futures,
        quoted in US Dollar and settled & margined in BTC","created_at":"2019-04-03T06:45:50.000Z","updated_at":"2020-04-29T15:46:02.000Z","settlement_time":null,"product_type":"inverse_future","pricing_source":"Avg
        of BTC/USD price on Bitstamp, Coinbase Pro & Kraken","impact_size":50000,"initial_margin":1,"maintenance_margin":"0.5","contract_value":"1.0","contract_unit_currency":"USD","tick_size":"0.5","trading_status":"operational","max_leverage_notional":"10.0","default_leverage":"10.0","leverage_slider_values":[1,2,3,5,10,25,50,100],"initial_margin_scaling_factor":"0.05","maintenance_margin_scaling_factor":"0.025","commission_rate":"0.00075","maker_commission_rate":"-0.00025","liquidation_penalty_factor":"1.0","sort_priority":1,"contract_type":"perpetual_futures","position_size_limit":500000,"basis_factor_max_limit":"5.475","strike_price":null,"is_quanto":false,"funding_method":"mark_price","annualized_funding":"5.475","price_clubbing_values":[0.5,1,2.5,5,10,25,50,100],"price_band":"20.0","ui_config":{"tags":[],"sort_priority":1,"show_bracket_orders":false,"price_clubbing_values":[0.5,1,2.5,5,10,25,50,100],"leverage_slider_values":[1,2,3,5,10,25,50,100],"default_trading_view_candle":"15"},"launch_time":null,"auction_start_time":null,"auction_finish_time":null,"settlement_price":null,"state":"live","product_specs":{},"insurance_fund_margin_contribution":1,"underlying_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"quoting_asset":{"id":3,"symbol":"USD","name":"US
        Dollar","precision":6,"minimum_precision":2,"sort_priority":10},"settling_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"spot_index":{"id":1,"symbol":".DEXBTUSD","description":"","constituent_exchanges":[{"weight":1,"exchange":"bitstamp","health_interval":300,"health_priority":3},{"weight":1,"exchange":"coinbase","health_interval":300,"health_priority":1},{"weight":1,"exchange":"kraken","health_interval":300,"health_priority":2}],"price_method":"ltp","health_interval":300,"impact_size":"1.0","is_composite":false,"constituent_indices":null,"index_type":"spot_pair","underlying_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"quoting_asset":{"id":3,"symbol":"USD","name":"US
        Dollar","precision":6,"minimum_precision":2,"sort_priority":10}}},{"id":116,"symbol":"BTCUSD_26Jun","description":"26th
        June Bitcoin future quoted in US Dollar","created_at":"2020-03-24T11:16:23.000Z","updated_at":"2020-04-29T15:46:04.000Z","settlement_time":"2020-06-26T12:00:00.000Z","product_type":"invers[...]
