---
http_interactions:
- request:
    method: get
    uri: https://api.delta.exchange/products
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":27,"symbol":"BTCUSD","description":"Bitcoin Perpetual futures,
        quoted in US Dollar and settled & margined in BTC","created_at":"2019-04-03T06:45:50.000Z","updated_at":"2019-09-27T08:41:12.000Z","settlement_time":null,"product_type":"inverse_future","pricing_source":"Avg
        of BTC/USD price on Bitstamp, Coinbase Pro & Kraken","impact_size":10000,"initial_margin":1,"maintenance_margin":"0.5","contract_value":"1.0","contract_unit_currency":"USD","tick_size":"0.5","trading_status":"operational","max_leverage_notional":"10.0","default_leverage":"10.0","leverage_slider_values":[1,2,3,5,10,25,50,100],"initial_margin_scaling_factor":"0.05","maintenance_margin_scaling_factor":"0.025","commission_rate":"0.00075","maker_commission_rate":"-0.00025","liquidation_penalty_factor":"1.0","sort_priority":1,"contract_type":"perpetual_futures","position_size_limit":200000,"basis_factor_max_limit":"5.475","is_quanto":false,"funding_method":"mark_price","annualized_funding":"5.475","price_clubbing_values":[0.5,1,2.5,5,10,25,50,100],"price_band":"2.5","underlying_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"quoting_asset":{"id":3,"symbol":"USD","name":"US
        Dollar","precision":6,"minimum_precision":2,"sort_priority":10},"settling_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"spot_index":{"id":1,"symbol":".DEXBTUSD","description":"","constituent_exchanges":[{"weight":1,"exchange":"bitstamp","health_interval":300},{"weight":1,"exchange":"coinbase","health_interval":300},{"weight":1,"exchange":"kraken","health_interval":300}],"price_method":"ltp","health_interval":300,"impact_size":"1.0","is_composite":false,"constituent_indices":null,"underlying_asset":{"id":2,"symbol":"BTC","name":"Bitcoin","precision":8,"minimum_precision":4,"sort_priority":1},"quoting_asset":{"id":3,"symbol":"USD","name":"US
        Dollar","precision":6,"minimum_precision":2,"sort_priority":10}}},{"id":46,"symbol":"BTCUSD_27Dec","description":"27th
        December Bitcoin future quoted in US Dollar","created_at":"2019-07-02T15:13:02.000Z","updated_at":"2019-09-27T08:41:13.000Z","settlement_time":"2019-12-27T12:00:00.000Z","product_type":"inverse_fu[...]
- request:
    method: get
    uri: https://api.delta.exchange/orderbook/27/l2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"buy_book":[{"price":"8292.5","size":1040},{"price":"8292.0","size":1010},{"price":"8291.0","size":1360},{"price":"8290.5","size":96495},{"price":"8290.0","size":9921},{"price":"8289.5","size":80647},{"price":"8289.0","size":31739},{"price":"8115.0","size":2000},{"price":"8043.0","size":373},{"price":"8042.0","size":873},{"price":"8041.0","size":1080},{"price":"8023.0","size":21777},{"price":"8022.0","size":21775},{"price":"8021.0","size":21772},{"price":"8020.0","size":84730},{"price":"7800.0","size":15},{"price":"7656.0","size":100},{"price":"7600.0","size":45},{"price":"7510.0","size":50},{"price":"7431.0","size":50},{"price":"7400.0","size":50},{"price":"7301.5","size":3500},{"price":"7250.0","size":30}],"sell_book":[{"price":"8293.0","size":53727},{"price":"8294.5","size":31744},{"price":"8295.0","size":31744},{"price":"8296.0","size":1736},{"price":"8297.5","size":16999},{"price":"8298.0","size":12620},{"price":"8357.5","size":5},{"price":"8365.0","size":10},{"price":"8465.0","size":95624},{"price":"8543.0","size":578},{"price":"8544.0","size":922},{"price":"8545.0","size":832},{"price":"8566.0","size":21799},{"price":"8566.5","size":21803},{"price":"8567.5","size":21803},{"price":"8568.5","size":84744},{"price":"8958.0","size":60}],"recent_trades":[{"buyer_role":"taker","seller_role":"maker","size":149,"price":"8293.5","timestamp":1570092135072105},{"buyer_role":"taker","seller_role":"maker","size":1,"price":"8293.5","timestamp":1570092134217857},{"buyer_role":"taker","seller_role":"maker","size":374,"price":"8292.5","timestamp":1570092080682926},{"buyer_role":"taker","seller_role":"maker","size":226,"price":"8292.5","timestamp":1570092077588509},{"buyer_role":"taker","seller_role":"maker","size":431,"price":"8292.5","timestamp":1570092055561638},{"buyer_role":"taker","seller_role":"maker","size":350,"price":"8292.5","tim[...]
