---
http_interactions:
- request:
    method: get
    uri: https://api.delta.exchange/orderbook/116/l2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"buy_book":[{"price":"8877.5","size":800},{"price":"8876.0","size":6200},{"price":"8875.5","size":5530},{"price":"8874.5","size":240},{"price":"8874.0","size":21251},{"price":"8873.5","size":2000},{"price":"8872.5","size":2401},{"price":"8869.0","size":50018},{"price":"8868.0","size":4635},{"price":"8867.0","size":2994},{"price":"8866.5","size":55543},{"price":"8865.5","size":10240},{"price":"8864.5","size":3500},{"price":"8864.0","size":113825},{"price":"8863.0","size":2190},{"price":"8861.0","size":25200},{"price":"8859.5","size":115421},{"price":"8855.0","size":9272},{"price":"8854.5","size":2190},{"price":"8609.0","size":806461}],"funding_rate":null,"last_trade":{"buyer_role":"taker","price":"8882","seller_role":"maker","size":291,"symbol":"BTCUSD_26Jun","timestamp":1588398863505421},"mark_price":"8876.390519","product_id":116,"recent_trades":[{"buyer_role":"taker","price":"8882","seller_role":"maker","size":291,"symbol":"BTCUSD_26Jun","timestamp":1588398863505421},{"buyer_role":"maker","price":"8860.5","seller_role":"taker","size":179,"symbol":"BTCUSD_26Jun","timestamp":1588398767286757},{"buyer_role":"maker","price":"8860.5","seller_role":"taker","size":381,"symbol":"BTCUSD_26Jun","timestamp":1588398767029560},{"buyer_role":"maker","price":"8860.5","seller_role":"taker","size":4,"symbol":"BTCUSD_26Jun","timestamp":1588398712683378}[...]
