---
http_interactions:
- request:
    method: get
    uri: https://coinmate.io/api/orderBook?currencyPair=BTC_CZK&groupByPriceLimit=False
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":false,"errorMessage":null,"data":{"asks":[{"price":94606.02,"amount":0.00049949},{"price":94606.04,"amount":11.0753345},{"price":94700,"amount":0.31475857},{"price":95121,"amount":0.002},{"price":95445.44,"amount":17.09587381},{"price":95600,"amount":0.10589927},{"price":95690,"amount":0.05372183},{"price":97000,"amount":0.1},{"price":97011,"amount":0.002},{"price":97229,"amount":0.015},{"price":97299,"amount":0.05},{"price":97397,"amount":0.05},{"price":97500,"amount":0.27115694},{"price":97500,"amount":0.00030864},{"price":97500,"amount":0.03},{"price":97500,"a[...]
