---
http_interactions:
- request:
    method: get
    uri: https://coinmate.io/api/ticker?currencyPair=BTC_CZK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":false,"errorMessage":null,"data":{"last":94896.47,"high":97866.97,"low":94121.6,"amount":49.24838186,"bid":94500,"ask":94896.47,"change":-2.52,"open":97353.31,"timestamp":1507059635}}'
  recorded_at: Tue, 03 Oct 2017 19:40:45 GMT
recorded_with: VCR 3.0.3
