---
http_interactions:
- request:
    method: post
    uri: https://userapi.cryptonex.org/api
    body:
      encoding: UTF-8
      string: |-
        {
          "id": 2,
          "jsonrpc": "2.0",
          "method": "currency_pair.get_rate_list"
        }
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"rates":[{"alias":"ETH/KRW","ask":"258414.26","base_currency":"eth","base_type":"crypto","bid":"248126.45","convert_type":"cancel","last24_price":"258219.69","last_price":"256747.31","rel_currency_id":"krw","rel_type":"fiat","update_stamp":"2018-09-06
        10:32:10.781992","value_last_24h":"1231.00833317"},{"alias":"BTC/BYN","ask":"13784.81","base_currency":"btc","base_type":"crypto","bid":"13235.87","convert_type":"cancel","last24_price":"13798.77","last_price":"13141.77","rel_currency_id":"byn","rel_type":"fiat","update_stamp":"2018-09-06
        10:32:11.126326","value_last_24h":"11.66426615"},{"alias":"CNX/USD","ask":"2.17","base_currency":"cnx","base_type":"crypto","bid":"2.01","convert_type":"cross","last24_price":"2.13","last_price":"2.01","rel_currency_id":"usd","rel_type"[...]
