---
http_interactions:
- request:
    method: get
    uri: https://api.58coin.com/v1/spot/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":[{"symbol":"58B_USDT","time":"1533723812000","bid":"0.0139","ask":"0.0145","last":"0.0143","change":"-3.38","open":"0.0152","high":"0.0153","low":"0.0139","volume":"15240107.8","quote_volume":"217933.54154"},{"symbol":"58B_UCC","time":"1533726727000","bid":"0.0981","ask":"0.0987","last":"0.0984","change":"-3.62","open":"0.1034","high":"0.1037","low":"0.098","volume":"77464003.52","quote_volume":"7622457.946368"},{"symbol":"SCTK_ETH","time":"1533665332000","bid":"0.0000062","ask":"0","last":"0","change":"-100","open":"0.0000061","high":"0.0000061","low":"0.0000061","volume":"0","quote_volume":"0"},{"symbol":"XMC_ETH","time":"1533726953000","bid":"0.001","ask":"0","last":"0","change":"[...]
