---
http_interactions:
- request:
    method: get
    uri: https://api.58coin.com/v1/product/list
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"message":"操作成功","data":{"productList":[{"name":"58B/USDT","baseCurrencyName":"58B","quoteCurrencyName":"USDT","baseMinSize":10.00000000,"baseIncrement":0.01000000,"quoteIncrement":0.00010000},{"name":"58B/UCC","baseCurrencyName":"58B","quoteCurrencyName":"UCC","baseMinSize":10.00000000,"baseIncrement":0.01000000,"quoteIncrement":0.00010000},{"name":"SCTK/ETH","baseCurrencyName":"SCTK","quoteCurrencyName":"ETH","baseMinSize":10000.00000000,"baseIncrement":0.01000000,"quoteIncrement":1.0E-7},{"name":"XMC/ETH","baseCurrencyName":"XMC","quoteCurrencyName":"ETH","baseMinSize":0.10000000,"baseIncrement":0.01000000,"quoteIncrement":1E-8},{"name":"TRX/ETH","baseCurrencyName":"TRX[...]
