---
http_interactions:
- request:
    method: get
    uri: https://hq.bitinfi.com/v1/product.ashx?lang=en&packtype=1&version=9.9.9
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"1","message":"Success","time":"1537446967421","data":[{"symbol":"NEXO_ETH","status":true,"statusText":"TRADING","name":"NEXO/ETH","assetCode":"NEXO","curMarket":"ETH","tickSize":"0.00000001","lots":"1.0000000000","minOrderAmount":"0.0100000000","decimalplace":"8","open":"0.00023118","high":"0.00025669","low":"0.00022076","close":"0.00023671","volume":"1536338","prevClose":"0.00023295","upDown":"+0.00000376","upDownRate":"+1.61%","tradedMoney":"368","index":0,"tickerid":"217619221","legalAmount":"$0.050211"},{"symbol":"SEC_ETH","status":true,"statusText":"TRADING","name":"SEC/ETH","assetCode":"SEC","curMarket":"ETH","tickSize":"0.00000001","lots":"1.0000000000","minOrderAmount":"0.0100000000","decimalplace":"8","open":"0.00011438","high":"0.00011596","low":"0.00011367","close":"0.00011369","volume":"2123914","prevClose":"0.00011437","upDown":"-0.00000068","upDownRate":"-0.59%","tradedMoney":"242","index":0,"tickerid":"217619220","legalAmount":"$0.024116"},{"symbol":"ECOM_ETH","status":t[...]
