---
http_interactions:
- request:
    method: get
    uri: https://hq.bitinfi.com/v1/product.ashx?lang=en&packtype=1&version=9.9.9
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"1","message":"Success","time":"1537447168695","data":[{"symbol":"NEXO_ETH","status":true,"statusText":"TRADING","name":"NEXO/ETH","assetCode":"NEXO","curMarket":"ETH","tickSize":"0.00000001","lots":"1.0000000000","minOrderAmount":"0.0100000000","decimalplace":"8","open":"0.00022267","high":"0.00025669","low":"0.00022076","close":"0.00023169","volume":"1529123","prevClose":"0.00022938","upDown":"+0.00000231","upDownRate":"+1.01%","tradedMoney":"366","index":0,"tickerid":"217624031","legalAmount":"$0.049216"},{"symbol":"SEC_ETH","status":true,"statusText":"TRADING","name":"SEC/ETH","assetCode":"SEC","curMarket":"ETH","tickSize":"0.00000001","lots":"1.0000000000","minOrderAmount":"0.0100000000","decimalplace":"8","open":"0.00011438","high":"0.00011596","low":"0.00011367","close":"0.00011390","volume":"2120317","prevClose":"0.00011437","upDown":"-0.00000047","upDownRate":"-0.41%","tradedMoney":"242","index":0,"tickerid":"217624030","legalAmount":"$0.024195"},{"symbol":"ECOM_ETH","status":t[...]
