---
http_interactions:
- request:
    method: get
    uri: https://www.zgtop.io/API/api/v1/coins
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"200","data":[{"symbol":35,"name":"BTC","priceDecimals":2,"amountDecimals":3,"group":"USDT"},{"symbol":36,"name":"ETH","priceDecimals":2,"amountDecimals":3,"group":"USDT"},{"symbol":37,"name":"SNT","priceDecimals":6,"amountDecimals":2,"group":"USDT"},{"symbol":39,"name":"THETA","priceDecimals":4,"amountDecimals":2,"group":"USDT"},{"symbol":42,"name":"EOS","priceDecimals":4,"amountDecimals":3,"group":"USDT"},{"symbol":43,"name":"WTC","priceDecimals":4,"amountDecimals":3,"group":"USDT"},{"symbol":44,"name":"EAI","priceDecimals":6,"amountDecimals":2,"group":"USDT"},{"symbol":47,"na[...]
