---
http_interactions:
- request:
    method: get
    uri: https://www.zg.top/API/api/v1/ticker?symbol=35
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Via-Jsl:
      - 9afbeda,-
    body:
      encoding: UTF-8
      string: '{"code":"200","data":{"high":"6780.15","vol":"1129.298","last":"6703.18","low":"6679.8","buy":"6679.8","sell":"6707.48"}}'
  recorded_at: Thu, 18 Oct 2018 16:13:04 GMT
- request:
    method: get
    uri: https://www.zg.top/API/api/v1/ticker?symbol=35
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Via-Jsl:
      - 9afbeda,-
    body:
      encoding: UTF-8
      string: '{"code":"200","data":{"high":"6780.15","vol":"1129.298","last":"6702.28","low":"6679.8","buy":"6679.8","sell":"6707.48"}}'
  recorded_at: Thu, 18 Oct 2018 16:17:37 GMT
recorded_with: VCR 4.0.0
