---
http_interactions:
- request:
    method: get
    uri: https://www.zg.top/API/api/v1/orders?size=100&symbol=35
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Via-Jsl:
      - 9afbeda,-
    body:
      encoding: UTF-8
      string: '{"code":"200","data":[{"date":1539883511,"count":"0.113","amount":"757.64014","type":"sell","price":"6704.78"},{"date":1539883499,"count":"0.222","amount":"1488.36126","type":"buy","price":"6704.33"},{"date":1539883487,"count":"0.176","amount":"1179.99904","type":"buy","price":"6704.54"},{"date":1539883468,"count":"0.208","amount":"1394.84592","type":"buy","price":"6705.99"},{"date":1539883452,"count":"0.117","amount":"784.70964","type":"buy","price":"6706.92"},{"date":1539883433,"count":"0.084","amount":"563.44176","type":"sell","price":"6707.64"},{"date":1539883422,"count":"0.014","amount":"[...]
