---
http_interactions:
- request:
    method: get
    uri: https://www.zgtop.io/API/api/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"200","data":[{"symbol":35,"high":"4053.39","vol":"23843.67","last":"4045.1","low":"3986.84","buy":"4022.38","sell":"4051.74"},{"symbol":36,"high":"139.62","vol":"426174.274","last":"139.23","low":"136.27","buy":"136.27","sell":"139.62"},{"symbol":37,"high":"0.02424","vol":"30026300.88","last":"0.023095","low":"0.022621","buy":"0.017998","sell":"0.024267"},{"symbol":39,"high":"0.1309","vol":"7206221.32","last":"0.1285","low":"0.1265","buy":"0.1257","sell":"0.1434"},{"symbol":42,"high":"3.7294","vol":"6119526.864","last":"3.7042","low":"3.533","buy":"3.5459","sell":"3.7489"},{"symbol":43,"high":"1.2946","vol":[...]
- request:
    method: get
    uri: https://www.zgtop.io/API/api/v1/coins
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"200","data":[{"symbol":35,"name":"BTC","priceDecimals":2,"amountDecimals":3,"group":"USDT"},{"symbol":36,"name":"ETH","priceDecimals":2,"amountDecimals":3,"group":"USDT"},{"symbol":37,"name":"SNT","priceDecimals":6,"amountDecimals":2,"group":"USDT"},{"symbol":39,"name":"THETA","priceDecimals":4,"amountDecimals":2,"group":"USDT"},{"symbol":42,"name":"EOS","priceDecimals":4,"amountDecimals":3,"group":"USDT"},{"symbol":43,"name":"WTC","priceDecimals":4,"amountDecimals":3,"group":"USDT"},{"symbol":44,"name":"EAI","priceDecimals":6,"amountDecimals":2,"group":"USDT"},{"symbol":47,"na[...]
