---
http_interactions:
- request:
    method: get
    uri: https://www.zg.top/API/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - b80cdc3,-
    body:
      encoding: UTF-8
      string: '{"code":"200","data":[{"symbol":"BTC_USDT","quoteAssetName":"USDT","tradedMoney":"51631399.07919","baseAssetUnit":"","baseAssetName":"BTC","baseAsset":"Bitcoin","tickSize":"0","prevClose":"3582.73000000","activeBuy":"0.0","lastAggTradeId":"-1","high":"3602.21","low":"3446.09","matchingUnitType":"STANDARD","close":"3573.91000000","quoteAsset":"USDT","productType":null,"active":true,"minTrade":"0","activeSell":"14474.781","withdrawFee":"0","volume":"14474.781","decimalPlaces":2,"quoteAssetUnit":"","open":"3576.10000000","minQty":"0.001","status":"TRADING"},{"symbol":"ETH_USDT","quoteAssetName":"USDT","tradedMoney":"13855667.35569","baseAssetUnit":"","baseAssetName":"ETH","baseAsset":"Ethereum","tickSize":"0","prevClose":"118.05000000","activeBuy":"0.0","lastAggTradeId":"-1","high":"119.33","low":"111.86","matchingUnitType":"STANDARD","close":"118.15000000","quoteAsset":"USDT","productType":null,"active":true,"minTrade":"0","activeSell":"117730.201","withdrawFee":"0","volume":"117730.201","decimalPlaces":2,"quoteAssetUni[...]
