---
http_interactions:
- request:
    method: get
    uri: https://www.zg.top/API/api/v1/depth?merge=4&symbol=35
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Via-Jsl:
      - 9afbeda,-
    body:
      encoding: UTF-8
      string: '{"code":"200","data":{"asks":"[[6679.8,0.089,594.5022],[6679.44,0.16,1068.7104],[6678.83,0.084,561.0217200000001],[6678.6,0.133,888.2538000000001],[6678.11,0.12,801.3731999999999],[6673.82,0.152,1014.4206399999999],[6673.58,0.071,473.82417999999996],[6671.68,0.124,827.28832],[6671.38,0.167,1114.12046],[6670.86,0.074,493.64363999999995],[6669.52,0.085,566.9092],[6669.21,0.074,493.52153999999996],[6668.68,0.033,220.06644000000003],[6666.84,0.198,1320.03432],[6665.62,0.176,1173.1491199999998],[6664.75,0.18,1199.655],[6661.18,0.088,586.18384],[6660.89,0.028,186.50492000000003],[6658.77,0.189,1258.50753],[6656.35,0.091,605.72785],[6644.68,0.128,850.51904],[6643.93,0.037,245.82541],[6643.29,0.109,724.11861],[6642.11,0.113,750.5584299999999],[6641.03,0.129,856.69287],[6639.64,0.14,929.5496000000002],[6633.9,0.091,603.6849],[6631.98,0.045,298.4391],[6629.24,0.114,755.73336],[6628.95,0.113,749.07135]]","bids":"[[6707.48,0.179,1200.6389199999999],[6708.37,0.173,1160.54801],[6711.63,0.042,281.88846],[6717.58,0.148,994.20184],[6720.99,0.169,1135.84731],[6721.43,0.117,786.40731],[6728.14,0.053,356.59142],[6734.7,0.195,1313.2665],[6737.01,0.018,121.26617999999999],[6737.78,0.043,289.72454],[6738.11,0.04,269.5244],[6741.16,0.11,741.5276],[6741.2,0.016000000000000014,107.8592000000001],[6741.23,0.088,593.2282399999999],[6742.54,0.031,209.01874],[6745.34,0.176,1187.17984],[6746.01,0.196,1322.2179600000002],[6748.41,0.122,823.30602],[6749.31,0.173,1167.6306299999999],[6751.82,0.041,276.82462],[6752.15,0.141,952.0531499999998],[6752.18,0.176,1188.38368],[6754.54,0.17,1148.2718],[6755.76,0.056,378.32256],[6759.06,0.103,696.18318],[6759.8,0.14,946.3720000000001],[6760.47,0.192,1298.01024],[6760.91,0.152,1027.65832],[6761.06,0.117,791.04402],[6761.19,0.18,1217.0141999999998]]"}}'
  recorded_at: Thu, 18 Oct 2018 16:28:14 GMT
recorded_with: VCR 4.0.0
