---
http_interactions:
- request:
    method: get
    uri: https://btc-trade.com.ua/api/deals/ltc_uah
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"amnt_base": "291.5367500000", "unixtime": 1526691348, "price": "3350.9971000000",
        "amnt_trade": "0.0870000000", "user": "ruzo707", "type": "buy", "pub_date":
        "19 \u043c\u0430\u044f 2018 \u0433. 3:55:48", "id": 2198934}, {"amnt_base":
        "291.5367500000", "unixtime": 1526691348, "price": "3350.9971000000", "amnt_trade":
        "0.0870000000", "user": "grom126", "type": "sell", "pub_date": "19 \u043c\u0430\u044f
        2018 \u0433. 3:55:48", "id": 2198933}, {"amnt_base": "216.0760000000", "unixtime":
        1526679386, "price": "3500.0000000000", "amnt_trade": "0.0617360000", "user":
        "ruzo707", "type": "sell", "pub_date": "19 \u043c\u0430\u044f 2018 \u0433.
        0:36:26", "id": 21985[...]
