---
http_interactions:
- request:
    method: get
    uri: https://btc-trade.com.ua/api/trades/sell/ltc_uah
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"min_price": "3470.0000000000", "list": [{"currency_trade": "0.1000000000",
        "price": "3470.0000000000", "currency_base": "347.0000000000"}, {"currency_trade":
        "0.6338684100", "price": "3490.0000000000", "currency_base": "2212.2008000000"},
        {"currency_trade": "0.0382640000", "price": "3500.0000000000", "currency_base":
        "133.9240000000"}, {"currency_trade": "1.0000000000", "price": "3502.0000000000",
        "currency_base": "3502.0000000000"}, {"currency_trade": "0.2500000000", "price":
        "3510.0000000000", "currency_base": "877.5000000000"}, {"currency_trade":
        "0.1500000000",[...]
- request:
    method: get
    uri: https://btc-trade.com.ua/api/trades/buy/ltc_uah
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"min_price": "0.0086000000", "list": [{"currency_trade": "0.0113940000",
        "price": "3355.0000000000", "currency_base": "38.2268700000"}, {"currency_trade":
        "0.0130000000"[...]
