---
http_interactions:
- request:
    method: get
    uri: https://api.chainrift.com/v1/Public/GetOrderBook?symbol=EOS/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pair":"EOS/BTC","success":true,"data":[{"quantity":0.14930212,"price":0.00074098,"type":"Buy"},{"quantity":98.54708081,"price":0.00073951,"type":"Buy"},{"quantity":13.66171655,"price":0.00073810,"type":"Buy"},{"quantity":0.19229824,"price":0.00073641,"type":"Buy"},{"quantity":0.16640817,"price":0.00073071,"type":"Buy"},{"quantity":256.20103852,"price":0.00073028,"type":"Buy"},{"quantity":41.17029147,"price":0.00073006,"type":"Buy"},{"quantity":0.21654361,"price":0.00072969,"type":"Buy"},{"quantity":0.21504617,"price":0.00072516,"type":"Buy"},{"quantity":67.95965811,"price":0.000725[...]
