---
http_interactions:
- request:
    method: get
    uri: https://api.chainrift.com/v1/Public/Market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"symbol":"XTZ/BTC","last":0.00020600,"change":-0.0209,"volume":1.07445539,"high":0.00028900,"low":0.00019507,"bid":0.00020521,"ask":0.0020,"timestamp":"2018-08-21T01:30:13.000","openbuyorders":43,"opensellorders":0,"prevday":0.0,"created":"2018-08-02T16:31:58.000"},{"symbol":"IQ/EOS","last":0.0,"change":0.0,"volume":0.0,"high":0.0,"low":0.0,"bid":0.0,"ask":0.0,"timestamp":"2018-01-01T00:00:00.000","openbuyorders":0,"opensellorders":100,"prevday":0.0,"created":"2018-08-17T11:59:27.000"},{"symbol":"PART/BTC","last":0.00075000,"change":0.0,"volume":0.0,"high":0.00075000,"low":0.00075000,"bid":0.00072000,"ask":0.00085000,"timestamp":"2018-07-23T08:04:31.000","openbuyorders":7,"opensellorders":4,"prevday":0.00075000,"created":"2018-03-15T10:51:46.000"},{"symbol":"EOS/BTC","last":0.00074980,"change":-0.0008,"volume":41.86247728,"high":0.00104666,"low":0.00069400,"bid":0.00074098,"ask":0.00078759,"timestamp":"2018-08-22T01:01:42.000","openbuyorders":60,"opensellorders":40,"prevday":0.00104666,"created":"2018-03-15T10:51:46.000"},{"symbol":"BTC/USDT","last":0.0,"change":0.0,"volume":0.0,"high":0.0,"low":0.0,"bid":0.0,"ask":0.0,"timestamp":"2018-01-01T00:00:00.000","openbuyorders":0,"opensellorders":1,"prevday":0.0,"created":"2018-08-15T20:00:53.000"}],"method":"Public/Market"}'
  recorded_at: Wed, 22 Aug 2018 01:36:12 GMT
recorded_with: VCR 4.0.0
