---
http_interactions:
- request:
    method: get
    uri: https://api.chainrift.com/Public/GetOrderBook?symbol=EOS/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"quantity":1.0,"price":0.0001,"type":"Buy"},{"quantity":201.28455406,"price":0.00095028,"type":"Sell"},{"quantity":139.68919983,"price":0.00095266,"type":"Sell"},{"quantity":243.78785579,"price":0.00095493,"type":"Sell"},{"quantity":317.49676831,"price":0.00096073,"type":"Sell"},{"quantity":228.95341631,"price":0.00097457,"type":"Sell"},{"quantity":132.96303516,"price":0.00098672,"type":"Sell"},{"quantity":257.84647813,"price":0.00100454,"type":"Sell"},{"quantity":320.43489548,"price":0.00101068,"type":"Sell"},{"quantity":49.3539534,"price":0.00101969,"type":"Sell"},{"quantity":0.579,"price":0.0016,"type":"Sell"}]}'
  recorded_at: Tue, 31 Jul 2018 02:23:17 GMT
recorded_with: VCR 4.0.0
