---
http_interactions:
- request:
    method: get
    uri: https://api.chainrift.com/Public/GetTradeHistory?symbol=EOS/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"date":"2018-07-18T10:12:36.697655","type":"Buy","rate":0.0016,"amount":0.625},{"date":"2018-07-18T10:12:36.701728","type":"Sell","rate":0.0016,"amount":0.001},{"date":"2018-07-24T18:34:59.509675","type":"Sell","rate":0.0012,"amount":0.006},{"date":"2018-07-24T18:34:59.509775","type":"Buy","rate":0.0012,"amount":5.0},{"date":"2018-07-26T06:25:25.721307","type":"Buy","rate":0.00104666,"amount":0.1},{"date":"2018-07-26T06:25:25.721409","type":"Sell","rate":0.00104666,"amount":0.00010466}]}'
  recorded_at: Tue, 31 Jul 2018 02:32:51 GMT
recorded_with: VCR 4.0.0
