---
http_interactions:
- request:
    method: get
    uri: https://www.okcoin.com/api/spot/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"best_ask":"8.287","best_bid":"8.261","instrument_id":"ETC-USD","product_id":"ETC-USD","last":"8.271","ask":"8.287","bid":"8.261","open_24h":"7.733","high_24h":"8.418","low_24h":"7.684","base_volume_24h":"4826.7448","timestamp":"2019-05-28T08:03:24.029Z","quote_volume_24h":"38365.759804"},{"best_ask":"8740.37","best_bid":"8738.21","instrument_id":"BTC-USD","product_id":"BTC-USD","last":"8740.97","ask":"8740.37","bid":"8738.21","open_24h":"8774","high_24h":"8935.22","low_24h":"8638.06","base_volume_24h":"140.9069","timestamp":"2019-05-28T08:03:15.465Z","quote_volume_24h":"1236942.77726"},{"best_ask":"114.47","best_bid":"114.36","instrument_id":"LTC-USD","product_id":"LTC-USD","last":"114.36","ask":"114.47","bid":"114.36","open_24h":"113.7","high_24h":"121.1","low_2[...]
