---
http_interactions:
- request:
    method: get
    uri: https://exchange.coss.io/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://c-api.coss.io/v1/getmarketsummaries
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 05 Nov 2019 08:15:20 GMT
- request:
    method: get
    uri: https://c-api.coss.io/v1/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fddd-yXuAfdmkey9mp9hcu1vxtNf3/eE"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"LSK-USD","High":2.1,"Low":2.1,"BaseVolume":0,"Last":2.1,"TimeStamp":"2019-11-01T05:38:07.653Z","Volume":0,"Ask":2.1,"Bid":2.1,"PrevDay":2.1},{"MarketName":"ARK-BTC","High":0.000025,"Low":0.000025,"BaseVolume":0,"Last":0.000025,"TimeStamp":"2019-11-01T05:38:07.653Z","Volume":0,"Ask":0.0000299,"Bid":0.00002,"PrevDay":0.000025},{"MarketName":"LSK-COS","High":41.0002,"Low":41.0002,"BaseVolume":0,"Last":41.0002,"TimeStamp":"2019-11-01T05:38:07.653Z","Volume":0,"Ask":77,"Bid":41.6083,"PrevDay":41.0002},{"MarketName":"QNT-USDT","High":7.67,"Low":7.67,"BaseVolume":0,"Last":7.67,"TimeStamp":"2019-11-01T05:38:07.653Z","Volume":0,"Ask":7.6[...]
