---
http_interactions:
- request:
    method: get
    uri: https://exchange.coss.io/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - https://c-api.coss.io/v1/getmarketsummaries
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>302 Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 12 Jan 2019 02:17:35 GMT
- request:
    method: get
    uri: https://c-api.coss.io/v1/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c9d6-mhVctiohAqSxygNv8Hyt1ZSk+Gg"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"GBP-ETH","High":0,"Low":0,"BaseVolume":0,"Last":0,"TimeStamp":"2019-01-08T03:58:25.572Z","Volume":null,"Ask":0,"Bid":0,"PrevDay":0},{"MarketName":"LSK-USD","High":1.3,"Low":1.3,"BaseVolume":0,"Last":1.3,"TimeStamp":"2019-01-12T02:00:01.405Z","Volume":0,"Ask":"1.42000000","Bid":"1.30000000","PrevDay":1.3},{"MarketName":"ARK-BTC","High":0.000118,"Low":0.000118,"BaseVolume":0,"Last":0.000118,"TimeStamp":"2019-01-11T04:00:03.490Z","Volume":0,"Ask":"0.00013000","Bid":"0.00010500","PrevDay":0.000118},{"MarketName":"NOX-ETH","High":0.0000249,"Low":0.0000249,"BaseVolume":0,"Last":0.0000249,"TimeStamp":"2019-01-12T01:00:03.161Z","[...]
