---
http_interactions:
- request:
    method: get
    uri: https://exchange.coss.io/api/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2dfd-E7CohwZ1nzoYPfsgG/w6v7yeltI"
    body:
      encoding: UTF-8
      string: '{"jet-eth":{"id":"jet-eth","volume":"0.00000","lastPrice":"0.00041639","lastPriceDirection":"up","change24h":"0.00","start24h":"0.00041639","high24h":"0.00000000","low24h":"0.00000000"},"coss-eth":{"id":"coss-eth","volume":"640408.06049","lastPrice":"0.00018303","lastPriceDirection":"down","change24h":"-4.52","start24h":"0.00019100","high24h":"0.00021994","low24h":"0.00018000"},"coss-btc":{"id":"coss-btc","volume":"269934.40183","lastPrice":"0.00000845","lastPriceDirection":"down","change24h":"-3.08","start24h":"0.00000877","high24h":"0.00000930","low24h":"0.00000841"},"eth-btc":{"id":"eth-btc","volume":"24.98650","lastPrice":"0.04570000","lastPriceDirection":"up","change24h":"-1.23","start24h":"0.04627040","high24h":"0.04817697","low24h":"0.04012565"},"eth-ltc":{"id":"eth-ltc","volume":"8.60921","lastPrice":"5.00000000","lastPriceDirection":"down","change24h":"2.00","start24h":"0.00000000","high24h":"5.10000000","low24h":"5.00000000"},"ltc-btc":{"id":"ltc-btc","volume":"29.97824","lastPrice":"0.00892757","lastPriceDirection":"up","change24h":"8.24","start24h":"0.00896827","high24h":"0.00920000","low24h":"0.00800000"},"xem-eth":{"id":"xem-eth","volume":"20001.58565","lastPrice":"0.00057000","lastPriceDirection":"up","change24h":"-7.78","start24h":"0.00000000","high24h":"0.00066000","low24h":"0.00053900"},"dash-btc":{"id":"dash-btc","volume":"6.11560","lastPrice":"0.05269365","lastPriceDirection":"down","change24h":"-0.89","start24h":"0.05766770","high24h":"0.05792250","low24h":"0.05269365"},"xem-btc":{"id":"xem-btc","volume":"6871.64042","lastPrice":"0.00002517","lastPriceDirection":"down","change24h":"-3.04","start24h":"0.00000000","high24h":"0.00002618","low24h":"0.00002505"},"lsk-btc":{"id":"lsk-btc","volume":"166.84488","lastPrice":"0.00123150","lastPriceDirection":"up","change24h":"7.58","start24h":"0.00000000","high24h":"0.00129989","low24h":"0.00120000"},"bnt-btc":{"id":"bnt-btc","volume":"215.65924","lastPrice":"0.00025984","lastPriceDirection":"down","change24h":"-0.64","start24h":"0.00000000","high24h":"0.00028027","low24h":"0.00025984"},"bnt-eth":{"id":"bnt-eth","volume":"292.00000","lastPrice":"0.00588444","lastPriceDirection":"up","change24h":"-0.27","start24h":"0.00000000","high24h":"0.00595930","low24h":"0.00588034"},"lsk-eth":{"id":"lsk-eth","volume":"379.92658","lastPrice":"0.02750500","lastPriceDirection":"up","change24h":"-11.72","start24h":"0.00000000","high24h":"0.03151492","low24h":"0.02560000"},"pay-btc":{"id":"pay-btc","volume":"553.62044","lastPrice":"0.00024984","lastPriceDirection":"up","change24h":"-3.58","start24h":"0.00000000","high24h":"0.00024984","low24h":"0.00020619"},"ark-btc":{"id":"ark-btc","volume":"681.57691","lastPrice":"0.00039172","lastPriceDirection":"down","change24h":"4.89","start24h":"0.00000000","high24h":"0.00050000","low24h":"0.00039172"},"ark-eth":{"id":"ark-eth","volume":"872.49211","lastPrice":"0.00950000","lastPriceDirection":"up","change24h":"-16.56","start24h":"0.00990000","high24h":"0.01147464","low24h":"0.00836000"},"pay-eth":{"id":"pay-eth","volume":"338.04667","lastPrice":"0.00523848","lastPriceDirection":"up","change24h":"10.47","start24h":"0.00474189","high24h":"0.00523848","low24h":"0.00464705"},"snm-btc":{"id":"snm-btc","volume":"7040.62581","lastPrice":"0.00001118","lastPriceDirection":"down","change24h":"-4.30","start24h":"0.00000000","high24h":"0.00001236","low24h":"0.00001045"},"snm-eth":{"id":"snm-eth","volume":"14898.41223","lastPrice":"0.00025188","lastPriceDirection":"down","change24h":"-9.04","start24h":"0.00000000","high24h":"0.00026638","low24h":"0.00023164"},"cvc-eth":{"id":"cvc-eth","volume":"2329.73809","lastPrice":"0.00091317","lastPriceDirection":"up","change24h":"-5.76","start24h":"0.00000000","high24h":"0.00091317","low24h":"0.00079087"},"cvc-btc":{"id":"cvc-btc","volume":"1001.58566","lastPrice":"0.00004394","lastPriceDirection":"up","change24h":"-1.17","start24h":"0.00000000","high24h":"0.00004394","low24h":"0.00003500"},"waves-btc":{"id":"waves-btc","volume":"253.96076","lastPrice":"0.00065715","lastPriceDirection":"down","change24h":"-2.98","start24h":"0.00000000","high24h":"0.00070023","low24h":"0.00065715"},"waves-eth":{"id":"waves-eth","volume":"478.39175","lastPrice":"0.01471000","lastPriceDirection":"up","change24h":"-14.16","start24h":"0.00000000","high24h":"0.01727710","low24h":"0.01350000"},"eos-btc":{"id":"eos-btc","volume":"1263.88833","lastPrice":"0.00022250","lastPriceDirection":"down","change24h":"-10.09","start24h":"0.00026023","high24h":"0.00027000","low24h":"0.00022250"},"fyn-eth":{"id":"fyn-eth","volume":"150.00000","lastPrice":"0.00720000","lastPriceDirection":"down","change24h":"0.00","start24h":"0.00000000","high24h":"0.00729999","low24h":"0.00720000"},"eos-eth":{"id":"eos-eth","volume":"1133.04646","lastPrice":"0.00600000","lastPriceDirection":"up","change24h":"7.14","start24h":"0.00000000","high24h":"0.00600000","low24h":"0.00530339"},"fyn-btc":{"id":"fyn-btc","volume":"0.00000","lastPrice":"0.00065000","lastPriceDirection":"up","change24h":"44.44","start24h":"0.00000000","high24h":"0.00065000","low24h":"0.00045000"},"jet-btc":{"id":"jet-btc","volume":"100.00000","lastPrice":"0.00000914","lastPriceDirection":"up","change24h":"0.00","start24h":"0.00000000","high24h":"0.00000914","low24h":"0.00000914"},"qtum-eth":{"id":"qtum-eth","volume":"70.68247","lastPrice":"0.04100000","lastPriceDirection":"down","change24h":"-11.89","start24h":"0.04410974","high24h":"0.04411961","low24h":"0.03800000"},"qtum-btc":{"id":"qtum-btc","volume":"237.53247","lastPrice":"0.00177976","lastPriceDirection":"down","change24h":"0.00","start24h":"0.00000000","high24h":"0.00179621","low24h":"0.00165000"},"stx-eth":{"id":"stx-eth","volume":"1912.92513","lastPrice":"0.00144000","lastPriceDirection":"down","change24h":"-1.90","start24h":"0.00000000","high24h":"0.00150135","low24h":"0.00144000"},"stx-btc":{"id":"stx-btc","volume":"1606.48303","lastPrice":"0.00006343","lastPriceDirection":"down","change24h":"-2.89","start24h":"0.00000000","high24h":"0.00006670","low24h":"0.00006343"},"zen-eth":{"id":"zen-eth","volume":"98.60504","lastPrice":"0.05870000","lastPriceDirection":"down","change24h":"-12.84","start24h":"0.00000000","high24h":"0.07201024","low24h":"0.05870000"},"zen-btc":{"id":"zen-btc","volume":"185.41000","lastPrice":"0.00274566","lastPriceDirection":"up","change24h":"0.00","start24h":"0.00000000","high24h":"0.00291853","low24h":"0.00269564"},"poe-btc":{"id":"poe-btc","volume":"47551.34682","lastPrice":"0.00000110","lastPriceDirection":"up","change24h":"25.00","start24h":"0.00000000","high24h":"0.00000110","low24h":"0.00000077"},"bch-eth":{"id":"bch-eth","volume":"1.90000","lastPrice":"3.13700000","lastPriceDirection":"down","change24h":"9.14","start24h":"0.00000000","high24h":"4.27633096","low24h":"3.13700000"},"bch-btc":{"id":"bch-btc","volume":"1.85000","lastPrice":"0.14953700","lastPriceDirection":"down","change24h":"-29.27","start24h":"0.00000000","high24h":"0.17250000","low24h":"0.12000007"},"poe-eth":{"id":"poe-eth","volume":"38633.65372","lastPrice":"0.00002200","lastPriceDirection":"up","change24h":"16.90","start24h":"0.00000000","high24h":"0.00002400","low24h":"0.00001787"},"ind-eth":{"id":"ind-eth","volume":"12167.11849","lastPrice":"0.00015788","lastPriceDirection":"down","change24h":"25.88","start24h":"0.00000000","high24h":"0.00017620","low24h":"0.00013227"},"ind-btc":{"id":"ind-btc","volume":"3825.09934","lastPrice":"0.00000701","lastPriceDirection":"down","change24h":"7.22","start24h":"0.00000000","high24h":"0.00000800","low24h":"0.00000587"},"pix-eth":{"id":"pix-eth","volume":"4481.12006","lastPrice":"0.00015607","lastPriceDirection":"up","change24h":"-10.52","start24h":"0.00000000","high24h":"0.00017742","low24h":"0.00015212"},"pix-btc":{"id":"pix-btc","volume":"25004.83156","lastPrice":"0.00000688","lastPriceDirection":"down","change24h":"-4.97","start24h":"0.00000000","high24h":"0.00000746","low24h":"0.00000670"},"knc-eth":{"id":"knc-eth","volume":"1321.00000","lastPrice":"0.00312192","lastPriceDirection":"down","change24h":"-3.66","start24h":"0.00000000","high24h":"0.00350114","low24h":"0.00312192"},"knc-btc":{"id":"knc-btc","volume":"847.04882","lastPrice":"0.00013855","lastPriceDirection":"down","change24h":"0.00","start24h":"0.00000000","high24h":"0.00014996","low24h":"0.00013855"},"sub-eth":{"id":"sub-eth","volume":"33590.18000","lastPrice":"0.00040094","lastPriceDirection":"down","change24h":"-2.93","start24h":"0.00000000","high24h":"0.00042028","low24h":"0.00040094"},"sub-btc":{"id":"sub-btc","volume":"68937.01629","lastPrice":"0.00001808","lastPriceDirection":"up","change24h":"-2.31","start24h":"0.00001900","high24h":"0.00002000","low24h":"0.00001750"},"hgt-eth":{"id":"hgt-eth","volume":"44345.38579","lastPrice":"0.00001570","lastPriceDirection":"down","change24h":"-10.82","start24h":"0.00000000","high24h":"0.00001925","low24h":"0.00001500"},"hgt-btc":{"id":"hgt-btc","volume":"12751.38978","lastPrice":"0.00000069","lastPriceDirection":"down","change24h":"-9.21","start24h":"0.00000073","high24h":"0.00000085","low24h":"0.00000069"},"enj-eth":{"id":"enj-eth","volume":"26146.79335","lastPrice":"0.00006677","lastPriceDirection":"up","change24h":"2.68","start24h":"0.00006700","high24h":"0.00007900","low24h":"0.00006003"},"enj-btc":{"id":"enj-btc","volume":"13595.72892","lastPrice":"0.00000296","lastPriceDirection":"up","change24h":"5.99","start24h":"0.00000000","high24h":"0.00000327","low24h":"0.00000265"},"kin-eth":{"id":"kin-eth","volume":"10290258.88791","lastPrice":"0.00000018","lastPriceDirection":"down","change24h":"11.76","start24h":"0.00000018","high24h":"0.00000019","low24h":"0.00000010"},"kin-btc":{"id":"kin-btc","volume":"1243401.20000","lastPrice":"0.00000005","lastPriceDirection":"down","change24h":"0.00","start24h":"0.00000005","high24h":"0.00000005","low24h":"0.00000005"},"link-eth":{"id":"link-eth","volume":"3710.03101","lastPrice":"0.00045015","lastPriceDirection":"up","change24h":"-4.52","start24h":"0.00000000","high24h":"0.00049324","low24h":"0.00045000"},"link-btc":{"id":"link-btc","volume":"10087.63219","lastPrice":"0.00002900","lastPriceDirection":"up","change24h":"-7.24","start24h":"0.00000000","high24h":"0.00002985","low24h":"0.00002000"},"omg-eth":{"id":"omg-eth","volume":"136.89298","lastPrice":"0.02338810","lastPriceDirection":"up","change24h":"-4.32","start24h":"0.00000000","high24h":"0.02338810","low24h":"0.02178200"},"ven-eth":{"id":"ven-eth","volume":"2300.00000","lastPrice":"0.00071000","lastPriceDirection":"up","change24h":"-17.84","start24h":"0.00000000","high24h":"0.00085074","low24h":"0.00067100"},"omg-btc":{"id":"omg-btc","volume":"1085.69966","lastPrice":"0.00098090","lastPriceDirection":"down","change24h":"-4.00","start24h":"0.00103673","high24h":"0.00114560","low24h":"0.00098090"},"ven-btc":{"id":"ven-btc","volume":"4974.88970","lastPrice":"0.00003273","lastPriceDirection":"up","change24h":"-9.11","start24h":"0.00000000","high24h":"0.00003448","low24h":"0.00003134"},"wtc-btc":{"id":"wtc-btc","volume":"118.92566","lastPrice":"0.00062618","lastPriceDirection":"down","change24h":"0.00","start24h":"0.00000000","high24h":"0.00065180","low24h":"0.00062492"},"wtc-eth":{"id":"wtc-eth","volume":"55.00000","lastPrice":"0.01358060","lastPriceDirection":"down","change24h":"-3.94","start24h":"0.00000000","high24h":"0.01471130","low24h":"0.01358060"},"h2o-btc":{"id":"h2o-btc","volume":"62.63500","lastPrice":"0.00039000","lastPriceDirection":"up","change24h":"-20.41","start24h":"0.00000000","high24h":"0.00049000","low24h":"0.00011307"},"h2o-eth":{"id":"h2o-eth","volume":"34.36552","lastPrice":"0.00514000","lastPriceDirection":"up","change24h":"0.00","start24h":"0.00000000","high24h":"0.00760000","low24h":"0.00512000"}}'
  recorded_at: Mon, 20 Nov 2017 10:19:15 GMT
recorded_with: VCR 3.0.3
