---
http_interactions:
- request:
    method: get
    uri: https://market.coss.io/api/trades/BTC_USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f2a-33Y1abb4EW1AmUz4/uoBuqKhP9o"
    body:
      encoding: UTF-8
      string: '[{"tradeID":"4620879","price":"9753","type":"Buy","base_volume":"0.01","quote_volume":"97.53","trade_timestamp":1589789036000},{"tradeID":"4620875","price":"9798","type":"Buy","base_volume":"0.01","quote_volume":"97.98","trade_timestamp":1589787297000},{"tradeID":"4620430","price":"9645","type":"Sell","base_volume":"0.01","quote_volume":"96.45","trade_timestamp":1589531851000},{"tradeID":"4620398","price":"9482","type":"Buy","base_volume":"0.0025","quote_volume":"23.705000000000002","trade_timestamp":1589521593000},{"tradeID":"4620379","price":"9497","type":"Sell","base_volume":"0.001","quote_volume":"9.4[...]
