---
http_interactions:
- request:
    method: get
    uri: https://api.incorex.com/v1/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"BCH_BTC":["BCH/BTC",0.0718164,0.07208143,-0.007307,-0.1017,0.0718164,973.8714006,0.07943188,0.07119696,1539265552],"BCH_RUB":["BCH/RUB",29854.18,29873.04,-3834.91,-0.1284,29854.18,4563.9962229,34127.83,29224.15,1539265029],"BCH_USD":["BCH/USD",447.51,447.0,-68.92,-0.1541,447.51,11699.64419918,519.66,438.0,1539265055],"BTC_EUR":["BTC/EUR",5416.73,5389.33,-335.49,-0.0622,5416.73,785.05645362,5737.84,5350.31,1539265489],"BTC_RUB":["BTC/RUB",419026.2,415506.48,-16569.98,-0.0395,415506.48,763.00532589,437683.9,408854.66,1539265739],"BTC_USD":["BTC/USD",6275.41,6229.45,-319.69,-0.0509,6275.41,4394.28525635,6595.1,6168.54,1539265448],"DASH_BTC":["DASH/BTC",0.02585966,0.02583864,-0.00152226,-0.0589,0.02583864,2638.51337534,0.0276782,0.02582618,1539265349],"DASH_RUB":["DASH/RUB",10809.23,10809.23,-982.24,-0.0908,10809.23,2051.3101062,11950.26,10644.79,1539265112],"DASH_USD":["DASH/USD",162.32,162.75,-16.42,-0.1008,162.75,750.06499074,179.9,159.26,1539265680],"ETC_BTC":["ETC/BTC",0.00156059,0.00156059,-8.577E-5,-0.0544,0.00156059,18007.6079742,0.00167081,0.00155911,1539265658],"ETC_RUB":["ETC/RUB",653.58,653.58,-64.8,-0.0991,653.58,21196.19417847,719.8,641.62,1539265739],"ETC_USD":["ETC/USD",9.7,9.79,-1.13,-0.1164,9.7,20059.00442528,10.89,9.65,1539265277],"ETH_BTC":["ETH/BTC",0.03203363,0.03203363,-0.00265987,-0.083,0.03203363,2031.62198277,0.0347622,0.03162929,1539265709],"ETH_EUR":["ETH/EUR",173.75,173.41,-23.19,-0.1334,173.75,3586.38850285,197.23,169.3,1539265360],"ETH_RUB":["ETH/RUB",13310.72,13284.43,-1600.88,-0.1205,13284.43,2105.34987705,14964.76,12965.29,1539265608],"ETH_USD":["ETH/USD",201.03,199.91,-26.46,-0.1323,199.91,32085.42775871,226.85,194.12,1539265477],"LTC_BTC":["LTC/BTC",0.00834,0.00834,-5.783E-4,-0.0693,0.00834,65809.11028909,0.0089309,0.00824633,1539265740],"LTC_RUB":["LTC/RUB",3504.11,3501.01,-329.2,-0.094,3501.01,9087.04950583,3853.92,3337.13,1539265116],"LTC_USD":["LTC/USD",52.01,52.01,-5.56,-0.1061,52.01,27677.45671148,58.22,50.72,1539265464],"XMR_USD":["XMR/USD",102.65,102.65,-10.96,-0.1075,102.65,14889.74304705,114.84,100.16,1539264776]}

'
  recorded_at: Thu, 11 Oct 2018 13:49:01 GMT
recorded_with: VCR 4.0.0
