---
http_interactions:
- request:
    method: get
    uri: https://api.incorex.com/v1/trades/?pair=BTC_USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"BTC_USD":[{"trade_id":41190299,"type":1,"quantity":"0.003","price":"6275.41","amount":"18.82","date":1539265051},{"trade_id":41190302,"type":1,"quantity":"0.004","price":"6275.41","amount":"25.1","date":1539265051},{"trade_id":41190305,"type":1,"quantity":"0.004","price":"6275.41","amount":"25.1","date":1539265051},{"trade_id":41190308,"type":1,"quantity":"0.004","price":"6275.41","amount":"25.1","date":1539265051},{"trade_id":41190311,"type":1,"quantity":"0.004","price":"6275.41","amount":"25.1","date":1539265051},{"trade_id":41190314,"type":1,"quantity":"0.005","price":"6275.41","amount":"31.[...]
