---
http_interactions:
- request:
    method: get
    uri: https://api.incorex.com/v1/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BCH_BTC":["BCH/BTC",0.07268184,0.0719417,-0.006578,-0.0905,0.07268184,206.92442906,0.07943188,0.07142956,1539253767],"BCH_RUB":["BCH/RUB",29484.62,29484.62,-4585.8,-0.1555,29484.62,167.1529316,34127.83,29224.15,1539253769],"BCH_USD":["BCH/USD",445.38,445.38,-68.82,-0.1545,445.38,327.14863068,519.66,441.3,1539253789],"BTC_EUR":["BTC/EUR",5385.0,5385.0,-349.6,-0.0649,5385.0,706.8566632,5742.29,5350.5,1539253824],"BTC_RUB":["BTC/RUB",411103.57,411103.57,-24492.61,-0.0595,411103.57,73.04629045,437683.9,408854.66,1539253674],"BTC_USD":["BTC/USD",6205.8,6225.32,-362.28,-0.0583,6205.8,1347.05464154,6601.28,6168.54,1539253185],"DASH_BTC":["DASH/BTC",0.02612,0.02612,-0.00125982,-0.0482,0.02612,711.79473458,0.0276782,0.02604742,1539253792],"DASH_RUB":["DASH/RUB",10708.11,10761.44,-1055.61,-0.098,10761.44,1307.52016172,11950.26,10707.61,1539252807],"DASH_USD":["DASH/USD",161.83,162.58,-15.56,-0.0957,162.58,591.81056075,179.9,161.0,1539252908],"ETC_BTC":["ETC/BTC",0.00158345,0.00160098,-6.477E-5,-0.0404,0.00160098,7373.72267929,0.00167081,0.00156554,1539253624],"ETC_RUB":["ETC/RUB",655.24,655.24,-60.08,-0.0916,655.24,3322.34641381,719.8,644.96,1539253823],"ETC_USD":["ETC/USD",9.79,9.81,-1.01,-0.1031,9.79,3299.78575405,10.89,9.7,1539253649],"ETH_BTC":["ETH/BTC",0.03189356,0.03189356,-0.00284034,-0.089,0.03189356,653.10134302,0.03483304,0.03176411,1539253791],"ETH_EUR":["ETH/EUR",171.43,171.27,-25.6,-0.1493,171.27,316.51979474,197.43,170.69,1539253789],"ETH_RUB":["ETH/RUB",13078.35,13071.06,-1876.92,-0.1435,13078.35,149.92597184,14964.76,12965.29,1539253730],"ETH_USD":["ETH/USD",197.81,197.78,-28.08,-0.142,197.81,6513.18027375,226.85,194.12,1539253819],"LTC_BTC":["LTC/BTC",0.008292,0.008292,-6.0913E-4,-0.0734,0.008292,9187.23001149,0.00894406,0.00824633,1539253821],"LTC_RUB":["LTC/RUB",3429.91,3397.85,-433.48,-0.1275,3397.85,924.08182814,3853.92,3337.13,1539253581],"LTC_USD":["LTC/USD",51.34,51.34,-6.57,-0.1279,51.34,1951.53394443,58.22,50.72,1539253770],"XMR_USD":["XMR/USD",101.93,101.93,-11.19,-0.1097,101.93,1864.27360561,114.84,100.16,1539252937]}
'
  recorded_at: Wed, 10 Oct 2018 05:37:16 GMT
recorded_with: VCR 3.0.3
