---
http_interactions:
- request:
    method: get
    uri: https://api.incorex.com/v1/trades/?pair=BTC_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_USD":[{"trade_id":40223174,"type":1,"quantity":"0.003","price":"6225.32","amount":"18.67","date":1539252809},{"trade_id":40223177,"type":1,"quantity":"0.004","price":"6225.32","amount":"24.9","date":1539252809},{"trade_id":40223180,"type":1,"quantity":"0.003","price":"6225.32","amount":"18.67","date":1539252809},{"trade_id":40223183,"type":1,"quantity":"0.00130257","price":"6225.32","amount":"8.1","date":1539252809},{"trade_id":40223186,"type":1,"quantity":"0.002","price":"6225.32","amount":"12.45","date":1539252809},{"trade_id":40223189,"type":1,"quantity":"0.02202281","price":"6225.32","a[...]
