---
http_interactions:
- request:
    method: get
    uri: https://manager.ccxcanada.com/api/v2/markets.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"5aa08dd2145b636a4be8a526b4881c20"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"btccad","name":"BTC/CAD","base_unit":"btc","quote_unit":"cad","ask_fixed":4,"bid_fixed":2,"fee":{"id":59,"trade_pair":"BTC/CAD","bid":"0.002","ask":"0.002","status":"Publish","created_at":"2018-11-20T18:44:43.000+11:00","updated_at":"2018-11-20T19:17:38.000+11:00"}},{"id":"ethcad","name":"ETH/CAD","base_unit":"eth","quote_unit":"cad","ask_fixed":4,"bid_fixed":2,"fee":{"id":88,"trade_pair":"ETH/CAD","bid":"0.002","ask":"0.002","status":"Publish","created_at":"2018-11-20T18:44:59.000+11:00","updated_at":"2018-11-20T19:17:40.000+11:00"}},{"id":"ethusdt","name":"ETH/USDT","base_unit":"eth","quote_unit":"usdt","ask_fixed":4,"bid_fixed":2,"fee":{"id":117,"trade_pair":"ETH/USDT","bid":"0.0015","ask":"0.002","status":"Publish","cre[...]
