---
http_interactions:
- request:
    method: get
    uri: https://manager.ccxcanada.com/api/v2/tickers/btcusdt.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"79b8ae67ab340967afa9740d2a0ee844"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1557122375,"ticker":{"buy":"5558.33","sell":"5559.51","open":5520.06,"low":"5520.06","high":"5559.51","last":"5559.51","vol":299.68}}'
  recorded_at: Mon, 06 May 2019 05:59:36 GMT
recorded_with: VCR 4.0.0
