---
http_interactions:
- request:
    method: get
    uri: https://novaexchange.com/remote/v2/market/info/BTC_DOGE/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "message": "Info for market: BTC_DOGE", "markets":
        [{"bid": "0.00000024", "last_price": "0.00000024", "volume24h": "8.165", "marketid":
        159, "disabled": 1, "currency": "DOGE", "marketname": "BTC_DOGE", "ask": "0.00000025",
        "low24h": "0.00000023", "change24h": "-4.0", "high24h": "0.00000025", "basecurrency":
        "BTC"}]}'
  recorded_at: Tue, 03 Oct 2017 04:05:39 GMT
recorded_with: VCR 3.0.3
