---
http_interactions:
- request:
    method: get
    uri: https://api.bitbay.net/rest/trading/orderbook/BTC-USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Ok","sell":[{"ra":"10468","ca":"0.0433429","sa":"0.06984653","pa":"0.0433429","co":1},{"ra":"10490","ca":"0.01603432","sa":"0.02","pa":"0.01603432","co":1},{"ra":"10499","ca":"0.01406575","sa":"0.01406575","pa":"0.01406575","co":1},{"ra":"10500","ca":"0.02","sa":"0.02","pa":"0.02","co":1},{"ra":"10523.65","ca":"2.50301265","sa":"2.50301265","pa":"2.50301265","co":1},{"ra":"10523.66","ca":"1","sa":"1","pa":"1","co":1},{"ra":"10530.49","ca":"0.01227694","sa":"0.01606593","pa":"0.01227694","co":1},{"ra":"10600","ca":"0.02539936","sa":"0.02539936","pa":"0.02539936","co":2},{"ra":"[...]
