---
http_interactions:
- request:
    method: get
    uri: https://bitbay.net/API/Public/btcusd/all.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"max":7089,"min":6660,"last":7088,"bid":6752.6,"ask":7089,"vwap":7088,"average":7088,"volume":1.42427095,"bids":[[6752.6,0.00677984],[6752.59,2.77299709],[6752.58,0.04457457],[6751.89,0.04],[6717,0.06998511],[6660,0.03503717],[6650,0.00075338],[6617,0.02],[6606.94,0.04237968],[6600,0.00275909],[6570,0.001],[6550.55,0.00695209],[6550,0.08809618],[6520,0.001],[6500,0.11158462],[6450,0.02],[6407.71,0.06894975],[6400,0.03125312],[6366.94,0.0235592],[6220,0.001],[6110,0.01],[6070.99,0.10089788],[6010,0.00781],[6000,0.050985],[5980,0.05029599],[5950,0.004],[5920,0.10212838],[5909.94,0.03391574],[5900,0.002],[58[...]
