---
http_interactions:
- request:
    method: get
    uri: https://bitbay.net/API/Public/btcusd/ticker.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"max":4445,"min":4302,"last":4302.33,"bid":4303.03,"ask":4438.89,"vwap":4302.33,"average":4302.33,"volume":9.49942215}'
  recorded_at: Tue, 03 Oct 2017 04:04:06 GMT
recorded_with: VCR 3.0.3
