---
http_interactions:
- request:
    method: get
    uri: https://api.bitbay.net/rest/trading/orderbook/BTC-USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Ok","sell":[{"ra":"7089","ca":"0.1653724","sa":"0.2","pa":"0.1653724","co":1},{"ra":"7149.41","ca":"0.14574198","sa":"0.14574198","pa":"0.14574198","co":1},{"ra":"7150.2","ca":"0.06961719","sa":"0.06961719","pa":"0.06961719","co":1},{"ra":"7166.99","ca":"0.00231077","sa":"0.00231077","pa":"0.00231077","co":1},{"ra":"7189","ca":"0.07821392","sa":"0.07821392","pa":"0.07821392","co":1},{"ra":"7190","ca":"0.06250478","sa":"0.06250478","pa":"0.06250478","co":1},{"ra":"7199.98","ca":"1.62071365","sa":"1.62071365","pa":"1.62071365","co":1},{"ra":"7199.99","ca":"0.05543645","s[...]
