---
http_interactions:
- request:
    method: get
    uri: https://bitbay.net/API/Public/btcusd/all.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"max":6565.11,"min":6344.8,"last":6405,"bid":6365.79,"ask":6480.04,"vwap":6405,"average":6405,"volume":1.00825659,"bids":[[6365.79,0.287],[6365.78,0.85914908],[6351,0.01008818],[6319.01,0.238],[6319,0.46666245],[6317.64,0.00152905],[6308,0.01453393],[6300.01,0.00027222],[6300,1.5831746],[6274,0.01594039],[6147,0.01220107],[6100,0.00655738],[6000,0.29707667],[5975,0.07939],[5800,0.0069],[5700,0.01037193],[5599,0.00432934],[5101,0.0303862],[5100.03,0.00236076],[5100.02,0.92696760],[4620,0.1],[4501,0.00111086],[3500,0.00285714],[3401,0.00147016],[1727,0.00246671],[630.01,0.00397612],[630,0.47619048],[80,0.0049],[57.20,0.15000000],[55.51,0.10835883],[55.50,1.00000000],[36.11,0.0416782],[36.1,1],[14,0.01232713],[12,0.03],[10,0.09],[1.02,15.07352941],[1.01,100.00000000],[0.96,1]],"asks":[[6480.04,0.00077160],[6482.94,0.00169676],[6490,0.00983359],[6490.9,0.00174398],[6496.12,0.00076969],[6499,0.00162025],[6500.87,0.00307651],[6502.8,0.00030756],[6507.98,0.00083436],[6509.4,0.01536240],[6512.9,0.00767707],[6514.09,0.04620290],[6520.5,0.01426271],[6569.89,0.00164234],[6569.99,0.00425267],[6572,0.00215003],[6575,0.00282123],[6578.3,0.00030403],[6582.42,0.00106192],[6599.53,0.00020456],[6609.98,0.00071861],[6699.99,0.68708191],[6700,0.03237594],[6875.71,0.00363599],[6877.66,0.01],[[...]
