---
http_interactions:
- request:
    method: get
    uri: https://www.namebase.io/api/v0/ticker/day?symbol=HNSBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16d-w0ZdLGKZMAEdf3ChLReds+rIVEg"
      X-Ratelimit-Limit:
      - '80'
      X-Ratelimit-Remaining:
      - '79'
      X-Ratelimit-Reset:
      - '1581471912'
      X-Nf-Request-Id:
      - fb31d3d0-6e18-4b82-af28-f1b20125b1ed-10460103
    body:
      encoding: UTF-8
      string: '{"volumeWeightedAveragePrice":"0.00005195","priceChange":"0.00001243","priceChangePercent":"26.1299","openPrice":"0.00004757","highPrice":"0.00006969","lowPrice":"0.00004044","closePrice":"0.00006000","volume":"148988.534109","quoteVolume":"7.74035009","openTime":1581385510001,"closeTime":1581471910000,"firstTradeId":7994,"lastTradeId":9738,"numberOfTrades":1745}'
  recorded_at: Wed, 12 Feb 2020 01:45:10 GMT
recorded_with: VCR 4.0.0
