---
http_interactions:
- request:
    method: get
    uri: https://www.namebase.io/api/v0/info
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5-4vavc0IdmcXnYiqkUOOJCNXmqZg"
      X-Ratelimit-Limit:
      - '80'
      X-Ratelimit-Remaining:
      - '79'
      X-Ratelimit-Reset:
      - '1581471912'
      X-Nf-Request-Id:
      - fb31d3d0-6e18-4b82-af28-f1b20125b1ed-10460059
    body:
      encoding: UTF-8
      string: '{"timezone":"UTC","serverTime":1581471911078,"symbols":[{"symbol":"HNSBTC","status":"TRADING","baseAsset":"HNS","basePrecision":6,"quoteAsset":"BTC","quotePrecision":8,"orderTypes":["LMT","MKT"]}]}'
  recorded_at: Wed, 12 Feb 2020 01:45:09 GMT
recorded_with: VCR 4.0.0
