---
http_interactions:
- request:
    method: get
    uri: https://api.bhex.com/openapi/quote/v1/trades?symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"price":"8406.88","time":1569916251987,"qty":"0.027883","isBuyerMaker":true},{"price":"8406.79","time":1569916254245,"qty":"0.003247","isBuyerMaker":false},{"price":"8406.79","time":1569916255902,"qty":"0.002023","isBuyerMaker":false},{"price":"8406.71","time":1569916256583,"qty":"0.000082","isBuyerMaker":true},{"price":"8406.88","time":1569916258732,"qty":"0.024109","isBuyerMaker":true},{"price":"8408.23","time":1569916264976,"qty":"0.220834","isBuyerMaker":true},{"price":"8408.34","time":1569916268849,"qty":"0.823013","isBuyerMaker":true},{"price":"8408.23","time[...]
