---
http_interactions:
- request:
    method: get
    uri: https://api.bhex.com/openapi/quote/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"time":1569916379657,"symbol":"EOSUSDT","volume":"661429.1367","quoteVolume":"2081787.75791721","lastPrice":"3.04","highPrice":"3.1046","lowPrice":"2.7351","openPrice":"2.7399"},{"time":1569916320142,"symbol":"BHTUSDT","volume":"5039788.6","quoteVolume":"200506.02562","lastPrice":"0.0399","highPrice":"0.0409","lowPrice":"0.0385","openPrice":"0.0386"},{"time":1569916378792,"symbol":"LAMBUSDT","volume":"19643716.22","quoteVolume":"1393719.52289499","lastPrice":"0.063924","highPrice":"0.074396","lowPrice":"0.060745","openPrice":"0.064156"},{"time":1569916375688,"symbol":"LAMBBTC","volume":"3456370.878","quoteVolume":"28.37227148376","lastPrice":"0.00000762","high[...]
