---
http_interactions:
- request:
    method: get
    uri: https://api.lbank.info/v1/trades.do?size=100&symbol=eth_btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=ISO-8859-1
    body:
      encoding: ISO-8859-1
      string: '[{"date_ms":1520082255888,"amount":2.00000000,"price":0.07587155,"type":"buy","tid":"80a9d907f87a432ca1f89fac71812de1"},{"date_ms":1520082176573,"amount":0.11400000,"price":0.07836961,"type":"buy","tid":"e4a0f198a1284cf7bed6967749ce9d4d"},{"date_ms":1520082139414,"amount":3.25000000,"price":0.07903718,"type":"buy","tid":"32cbde853ad140d099156d993f0931d8"},{"date_ms":1520082065600,"amount":0.55000000,"price":0.07840550,"type":"buy","tid":"a0b7e89e87d94c7c84c4bef90c6323f8"},{"date_ms":1520081953413,"amount":0.58000000,"price":0.07907675,"type":"sell","tid":"ebf9bcb61ba24cb188bf98[...]
