---
http_interactions:
- request:
    method: get
    uri: https://api.lbank.info/v1/ticker.do?symbol=eth_btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=ISO-8859-1
    body:
      encoding: ISO-8859-1
      string: '{"ticker":{"change":"-4.56","high":"0.08222721","latest":"0.07587155","low":"0.07500004","turnover":"91.86606512","vol":"1180.52020000"},"timestamp":1520082288538}'
  recorded_at: Sat, 03 Mar 2018 13:04:48 GMT
recorded_with: VCR 3.0.3
