---
http_interactions:
- request:
    method: get
    uri: https://peatio.cryptagio.com/api/v2/order_book?market=omgbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      Etag:
      - W/"da8f697fc7d083b38eceefc0025c1cd3"
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":4170110,"side":"sell","ord_type":"limit","price":"0.0012839","stop_price":null,"avg_price":"0.0","state":"wait","base_unit":"omg","quote_unit":"btc","market":"omgbtc","created_at":1529814570,"origin_volume":"1.0","remaining_volume":"1.0","executed_volume":"0.0","trades_count":0},{"id":4170685,"side":"sell","ord_type":"limit","price":"0.0012849","stop_price":null,"avg_price":"0.0","state":"wait","base_unit":"omg","quote_unit":"btc","market":"omgbtc","created_at":1529814608,"origin_volume":"1.19","remaining_volume":"1.19","executed_volume":"0.0","trades_count":0},{"id":4170878,"side":"sell","ord_type":"limit","price":"0.0012859","stop_price":null,"avg_price":"0.0","state":"wait","base_unit":"omg","quote_unit":"btc","market":"omgbtc","created_at":1529814619,"origin_volu[...]
