---
http_interactions:
- request:
    method: get
    uri: https://peatio.cryptagio.com/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      Etag:
      - W/"3f1e5daff7717289db36a3a99d15919b"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"0xbtceth","name":"0XBTC/ETH","base_unit":"0xbtc","quote_unit":"eth","amount_fixed":1,"price_fixed":6},{"id":"0xbtcbtc","name":"0XBTC/BTC","base_unit":"0xbtc","quote_unit":"btc","amount_fixed":1,"price_fixed":7},{"id":"hotbtc","name":"HOT/BTC","base_unit":"hot","quote_unit":"btc","amount_fixed":0,"price_fixed":8},{"id":"hoteth","name":"HOT/ETH","base_unit":"hot","quote_unit":"eth","amount_fixed":0,"price_fixed":8},{"id":"btcusdt","name":"BTC/USDT","base_unit":"btc","quote_unit":"usdt","amount_fixed":5,"price_fixed":1},{"id":"ethusdt","name":"ETH/USDT","base_unit":"eth","quote_unit":"usdt","amount_fixed":4,"price_fixed":2},{"id":"omgusdt","name":"OMG/USDT","base_unit":"omg","quote_unit":"usdt","amount_fixed":2,"price_fixed":4},{"id":"ethbtc","name":"ETH/BTC","base_unit":"eth","quote_unit":"btc","amount_fixed":4,"price_fixed":6},{"id":"omgeth","name":"OMG/ETH","base_unit":"omg","quote_unit":"eth","amount_fixed":2,"price_fixed":6},{"id":"veneth","name":"VEN/ETH","base_unit":"ven","quote_unit":"eth","amount_fixed":0,"price_fixed":8},{"id":"omgbtc","name":"OMG/BTC","base_unit":"omg","quote_unit":"btc","amount_fixed":2,"price_fixed":7},{"id":"venbtc","name":"VEN/BTC","base_unit":"ven","quote_unit":"btc","amount_fixed":0,"price_fixed":8}]'
  recorded_at: Sat, 23 Jun 2018 15:47:30 GMT
recorded_with: VCR 4.0.0
