---
http_interactions:
- request:
    method: get
    uri: https://peatio.cryptagio.com/api/v2/trades?market=omgbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      Etag:
      - W/"943703cb80d6a1c7bdd792578b9a6eff"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":10016294,"price":"0.0012725","volume":"0.83","funds":"0.001056175","market":"omgbtc","created_at":1529815806,"side":"buy"},{"id":10016290,"price":"0.001272","volume":"0.64","funds":"0.00081408","market":"omgbtc","created_at":1529815745,"side":"buy"},{"id":10016283,"price":"0.0012745","volume":"0.88","funds":"0.00112156","market":"omgbtc","created_at":1529815614,"side":"sell"},{"id":10016279,"price":"0.0012745","volume":"0.12","funds":"0.00015294","market":"omgbtc","created_at":1529815584,"side":"sell"},{"id":10016263,"price":"0.001279","volume":"0.85","funds":"0.00108715","market":"omgbtc","created_at":152981[...]
