---
http_interactions:
- request:
    method: get
    uri: https://xapi.finexbox.com/v1/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":[{"market":"BTC_USD","currency":"Bitcoin","base":"USD","volume":"42.49548288","high":"9118.90300000","low":"8825.98000000","open":"8877.01300000","price":"8978.00000000","average":"8972.44150000","percent":"1.14","timestamp":1526366531,"active":true},{"market":"ETH_BTC","currency":"Ethereum","base":"Bitcoin","volume":"226.35483660","high":"0.08542240","low":"0.08438710","open":"0.08464085","price":"0.08523970","average":"0.08490475","percent":"0.71","timestamp":1526366531,"active":true},{"market":"ETH_LTC","currency":"Ethereum","base":"Litecoin","volume":"54.45039867","high":"5.23396930","low":"4.95224590","open":"5.15389595","price":"5.03015730","average":"5.09310760","percent":"-2.40","timestamp":1526366531,"active":true},{"market":"[...]
