---
http_interactions:
- request:
    method: get
    uri: https://xapi.finexbox.com/v1/history?count=200&market=eth_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":[{"id":6466797,"price":"0.08523970","amount":"0.00252970","total":"0.00021563","type":"sell","timestamp":1526366534},{"id":6466796,"price":"0.08523970","amount":"0.01740098","total":"0.00148325","type":"sell","timestamp":1526366532},{"id":6466764,"price":"0.08523970","amount":"0.05620530","total":"0.00479092","type":"sell","timestamp":1526366495},{"id":6466748,"price":"0.08480325","amount":"0.04996824","total":"0.00423747","type":"buy","timestamp":1526366483},{"id":6466747,"price":"0.08483370","amount":"0.01006176","total":"0.00085358","type":"buy","timestamp":1526366483},{"id":6466746,"price":"0.0[...]
