---
http_interactions:
- request:
    method: get
    uri: https://extstock.com/api/v2/trades/BTC_USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"trade_id":59903507,"price":"8674.77000000","base_volume":"0.01772935","quote_volume":"153.79803350","trade_timestamp":1579583907,"type":"buy"},{"trade_id":59903506,"price":"8674.88000000","base_volume":"0.04910000","quote_volume":"425.93660800","trade_timestamp":1579583906,"type":"buy"},{"trade_id":59903505,"price":"8675.39000000","base_volume":"0.00600000","quote_volume":"52.05234000","trade_timestamp":1579583906,"type":"buy"},{"trade_id":59903504,"price":"8676.75000000","base_volume":"0.28061065","quote_volume":"2434.78845739","trade_timestamp":1579583906,"type":"buy"},{"trade_id":59903463,"price":"8676.75000000","base_volume"[...]
