---
http_interactions:
- request:
    method: get
    uri: https://extstock.com/api/v1/order_book?market=eth_ltc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"b732d54722a020cd086a808ab64c8792"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":1867209,"side":"sell","ord_type":"limit","price":"3.9840416","avg_price":"3.9840416","state":"wait","market":"eth_ltc","created_at":"2018-03-13T17:58:51-04:00","volume":"0.0704","remaining_volume":"0.01024733","executed_volume":"0.06015267","trades_count":2},{"id":1867799,"side":"sell","ord_type":"limit","price":"3.9840416","avg_price":"0.0","state":"wait","market":"eth_ltc","created_at":"2018-03-13T18:05:38-04:00","volume":"0.0188","remaining_volume":"0.0188","executed_volume":"0.0","trades_count":0},{"id":1868092,"side":"sell","ord_type":"limit","price":"3.9840416","avg_price":"0.0","state":"wait","market":"eth_ltc","created_at":"2018-03-13T18:08:27-04:00","volume":"0.06898","remaining_volume":"0.06898","executed_volume":"0.0","trades_count":0}[...]
