---
http_interactions:
- request:
    method: get
    uri: https://extstock.com/api/v2/orderbook/BTC_USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"timestamp":1579583911,"bids":[["8674.77000000","0.00227065"],["8674.52000000","0.04625000"],["8673.64000000","0.04491000"],["8673.17000000","0.03117571"],["8673.10000000","0.08658000"],["8672.90000000","0.03620000"],["8672.00000000","0.20000000"],["8671.96000000","0.06466229"],["8671.17000000","0.03970000"],["8671.00000000","0.04870000"],["8670.97000000","0.05588000"],["8670.86000000","0.02920000"],["8670.70000000","0.00500000"],["8670.44000000","0.03247000"],["8670.32000000","0.03117571"],["8669.98000000","3.93744000"],["8[...]
