---
http_interactions:
- request:
    method: get
    uri: https://extstock.com/api/v1/trades?market=eth_ltc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"af82c85a8366a66fcb0b1e95cdbc154c"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1078227,"price":"3.9840416","volume":"0.01396131","funds":"0.055622439830496","market":"eth_ltc","created_at":"2018-03-14T04:00:02-04:00","side":null},{"id":1078226,"price":"3.9840416","volume":"0.05776","funds":"0.230118242816","market":"eth_ltc","created_at":"2018-03-14T04:00:01-04:00","side":null},{"id":1078225,"price":"3.9840416","volume":"0.00069","funds":"0.002748988704","market":"eth_ltc","created_at":"2018-03-14T04:00:01-04:00","side":null},{"id":1078224,"price":"3.9840416","volume":"0.0557","funds":"0.22191111712","market":"eth_ltc","created_at":"2018-03-14T04:00:01-04:00","side":null},{"id":1078223,"price":"3.9840416","volume":[...]
