---
http_interactions:
- request:
    method: get
    uri: https://extstock.com/api/v1/tickers/eth_ltc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"da0b45f2c0041bf973aac85e75023837"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1521013890,"ticker":{"buy":"3.98222","sell":"3.9840416","low":"3.93656868","high":"3.9840416","last":"3.9840416","vol":"29.49518585"}}'
  recorded_at: Wed, 14 Mar 2018 07:51:29 GMT
recorded_with: VCR 4.0.0
