---
http_interactions:
- request:
    method: get
    uri: https://www.purcow.io/api/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"timestamp":1540522269,"ticker":[{"symbol":"zrx_eth","buy":"0.00416458","high":"0.00422240","last":"0.00417694","low":"0.00413518","sell":"0.00420650","vol":"138773"},{"symbol":"btc_usdt","buy":"6520.20","high":"6578.63","last":"6535.92","low":"6516.70","sell":"6544.11","vol":"16803.044370"},{"symbol":"bch_btc","buy":"0.068045","high":"0.068688","last":"0.068050","low":"0.068050","sell":"0.068504","vol":"27588.125"},{"symbol":"bch_eth","buy":"2.17932","high":"2.20408","last":"2.18129","low":"2.17822","sell":"2.19551","vol":"27646.741"},{"symbol":"bch_usdt","buy":"444.38","high":"451.27","last":"445.28","low":"444.25","sell":"446.76","vol":"27478.028[...]
