---
http_interactions:
- request:
    method: get
    uri: https://api.btcnext.io/api/v1/b2trade/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [
            {
                "Instrument": "BCHBTC",
                "BestBid": "0.05004730",
                "BestOffer": "0.05051391",
                "LastTradedPx": "0.05005029",
                "LastTradedQty": "0.96633806",
                "LastTradeTime": 1559891320330,
                "SessionOpen": "0.05064279",
                "SessionHigh": "0.05068840",
                "SessionLow": "0.05004736",
                "SessionClose": "0.05065855",
                "Volume": "0.96633806",
                "CurrentDayVolume": "628.07719857",
                "CurrentDayNumTrades": 553,
                "CurrentDayPxChange": "-0.00060826",
                "Rolling24HrVolume": "2484.0666615",
                "Rolling24NumTrades": 1470,
                "Rolling24HrPxChange": "-0.39931583",
                "TimeStamp": "1559891320330"
            },
            {
                "Instrument": "ETHBTC",
                "BestBid": "0.03122154",
                "BestOffer": "0.03147343",
                "LastTradedPx": "0.03122430",
                "LastTradedQty": "1.93246094",
                "LastTradeTime": 1559891303257,
                "SessionOpen": "0.03191772",
                "SessionHigh": "0.03191772",
                "SessionLow": "0.03119055",
                "SessionClose": "0.03181990",
         [...]
