---
http_interactions:
- request:
    method: get
    uri: https://vcc.exchange/api/v2/orderbook/eth_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '297'
    body:
      encoding: ASCII-8BIT
      string: '{"message":null,"dataVersion":"2ef22cd13199ea8387c210b401c5aa3f76c59270","data":{"bids":[[0.019841000000000001,"155.675"],[0.01984,"0.037"],[0.019835999999999999,"8.047"],[0.019834999999999998,"15.112"],[0.019834000000000001,"12.034"],[0.019828999999999999,"1.060"],[0.019826,"10.075"],[0.019817000000000001,"40.075"],[0.019816,"21.746"],[0.019809,"3.030"],[0.019800000000000002,"10.040"],[0.019795,"0.028"],[0.019778,"33.670"],[0.019775000000000001,"0.450"],[0.019764,"19.167"],[0.019761000000000001,"16.000"],[0.019758000000000001,"25.000"],[0.01975,"0.500"],[0.019747000000000001,"17.0[...]
