---
http_interactions:
- request:
    method: get
    uri: https://vcc.exchange/api/v2/summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '298'
    body:
      encoding: ASCII-8BIT
      string: '{"message":null,"dataVersion":"2ef22cd13199ea8387c210b401c5aa3f76c59270","data":{"btc_vnd":{"last":165797258,"percentChange":"-2.0079558","baseVolume":"355.2970790000","quoteVolume":"59651925348.4694209248","isFrozen":0,"high24hr":"170626061.0000000000","low24hr":"165576076.0000000000","lowestAsk":"166215271.0000000000","lowestAskQuantity":"0.126509","highestBid":"165691007.0000000000","highestBidQuantity":"0.140621"},"eth_vnd":{"last":3285908,"percentChange":"-3.5604393","baseVolume":"3431.4950000000","quoteVolume":"11450517222.2027600242","isFrozen":0,"high24hr":"3410917.0000000000","low24hr":"3257251.0000000000","lowestAsk":"3294034.0000000000","lowestAskQuantity":"1.03335","highestBid":"3285105.0000000000","highestBidQuantity":"1.15469"},"usdt_vnd":{"last":23215,"percentChange":"0.09485621","baseVolume":"2086712.2500000000","quoteVolume":"48445543914.7200000008","isFrozen":0,"high24hr":"23253.0000000000","low24hr":"23090.0000000000","lowestAsk":"23253.0000000000","lowestAskQuantity":"251.06","highestBid":"23200.0000000000","highestBidQuantity":"962.37"},"xrp_vnd":{"last":5076,"percentChange":"-1.41775102","baseVolume":"127168.3000000000","quoteVolume":"651896704.0000000012","isFrozen":0,"high24hr":"5172.0000000000","low24hr":"5059.0000000000","lowestAsk":"5082.0000000000","lowestAskQuantity":"734.5","highestBid":"5067.0000000000","highestBidQuantity":"824.6"},"dgx_vnd":{"last":"1062545.0000000000","percentChange":"0.09769121","baseVolume":"438.8870000000","quoteVolume":"466075385.7890000009","isFrozen":0,"high24hr":"1062558.0000000000","low24hr":"1061508.0000000000","lowestAsk":"1062567.0000000000","lowestAskQuantity":"1.205","highestBid":"1061508.0000000000","highestBidQuantity":"0.318"},"eth_btc":{"last":"0.01983011","percentChange":"-1.68561385","baseVolume":"2581.8621272500","quoteVolume":"51.3900950457","isFrozen":0,"high24hr":"0.0201902000","low24hr":"0.0196145500","lowestAsk":0.019855000000000001,"lowestAskQuantity":"12.910","highestBid":0.019841000000000001,"highestBidQuantity":"153.675"},"bch_btc":{"last":"0.02869","percentChange":"0.49494373","baseVolume":"177.0188896800","quoteVolume":"5.0732560492","isFrozen":0,"high24hr":"0.0287843400","low24hr":"0.0284241900","lowestAsk":0.0287,"lowestAskQuantity":"19.528","highestBid":0.028670000000000001,"highestBidQuantity":"26.674"},"xrp_btc":{"last":"0.00003058","percentChange":"-0.22838499","baseVolume":"407441.0986156800","quoteVolume":"12.4926294938","isFrozen":0,"high24hr":"0.0000308400","low24hr":"0.0000304900","lowestAsk":3.0580000000000002e-5,"lowestAskQuantity":"625","highestBid":3.057e-5,"highestBidQuantity":"30410"},"ltc_btc":{"last":"0.00606135","percentChange":"-0.95930432","baseVolume":"2008.7242976100","quoteVolume":"12.1895824721","isFrozen":0,"high24hr":"0.0061277900","low24hr":"0.0060202000","lowestAsk":0.0060679999999999996,"lowestAskQuantity":"2.10","highestBid":0.0060639999999999999,"highestBidQuantity":"65.55"},"dash_btc":{"last":"0.00684412","percentChange":"-1.47397758","baseVolume":"310.4799825500","quoteVolume":"2.1452852509","isFrozen":0,"high24hr":"0.0069985300","low24hr":"0.0068300000","lowestAsk":0.0068440000000000003,"lowestAskQuantity":"147.878","highestBid":0.0068209999999999998,"highestBidQuantity":"56.583"},"qtum_btc":{"last":"0.00024048","percentChange":"-0.05818303","baseVolume":"1855.8894965000","quoteVolume":"0.4462705882","isFrozen":0,"high24hr":"0.0002419100","low24hr":"0.0002391500","lowestAsk":0.000242,"lowestAskQuantity":"4108.48","highestBid":0.00024000000000000001,"highestBidQuantity":"105.00"},"neo_btc":{"last":"0.00117436","percentChange":"-0.4847129","baseVolume":"2410.4371189800","quoteVolume":"2.8494337794","isFrozen":0,"high24hr":"0.0011919200","low24hr":"0.0011743600","lowestAsk":0.001176,"lowestAskQuantity":"1532.92","highestBid":0.0011739999999999999,"highestBidQuantity":"12.77"},"ada_btc":{"last":"0.00000508","percentChange":"-0.19646365","baseVolume":"2401790.2170890400","quoteVolume":"12.1884379120","isFrozen":0,"high24hr":"0.0000051100","low24hr":"0.0000050400","lowestAsk":5.0900000000000004e-6,"lowestAskQuantity":"64692","highestBid":5.0799999999999996e-6,"highestBidQuantity":"21248"},"omg_btc":{"last":"0.0000993","percentChange":"-1.59548112","baseVolume":"2648.5270301100","quoteVolume":"0.2647845593","isFrozen":0,"high24hr":"0.0001011500","low24hr":"0.0000993000","lowestAsk":0.0001,"lowestAskQuantity":"6098.64","highestBid":9.7999999999999997e-5,"highestBidQuantity":"15443.21"},"adx_btc":{"last":"0.00001044","percentChange":"-0.19120459","baseVolume":"3178.2378402900","quoteVolume":"0.0333105765","isFrozen":0,"high24hr":"0.0000105900","low24hr":"0.0000104400","lowestAsk":1.047e-5,"lowestAskQuantity":"896","highestBid":1.029e-5,"highestBidQuantity":"4812"},"bat_btc":{"last":"0.00002425","percentChange":"0.24803638","baseVolume":"194675.1380608400","quoteVolume":"4.7609245972","isFrozen":0,"high24hr":"0.0000247900","low24hr":"0.0000241300","lowestAsk":2.423e-5,"lowestAskQuantity":"1735","highestBid":2.4170000000000001e-5,"highestBidQuantity":"3920"},"zil_btc":{"last":"0.00000076","percentChange":"-3.79746835","baseVolume":"1804997.3937556800","quoteVolume":"1.3989880146","isFrozen":0,"high24hr":"0.0000007900","low24hr":"0.0000007600","lowestAsk":7.7000000000000004e-7,"lowestAskQuantity":"45753","highestBid":7.6000000000000003e-7,"highestBidQuantity":"480006"},"npxs_btc":{"last":"0.00000002","percentChange":"-33.33333333","baseVolume":"13845214.4417508600","quoteVolume":"0.3430104803","isFrozen":0,"high24hr":"0.0000000300","low24hr":"0.0000000200","lowestAsk":2.9999999999999997e-8,"lowestAskQuantity":"725885139","highestBid":2.0e-8,"highestBidQuantity":"200213641"},"bsv_btc":{"last":"0.0129301","percentChange":"-1.46693491","baseVolume":"875.1383255000","quoteVolume":"11.4716908293","isFrozen":0,"high24hr":"0.0132468200","low24hr":"0.0127603500","lowestAsk":0.012947999999999999,"lowestAskQuantity":"0.55","highestBid":0.012919999999999999,"highestBidQuantity":"25.18"},"xlm_btc":{"last":"0.00000734","percentChange":"-0.13605442","baseVolume":"630318.9911194100","quoteVolume":"4.6404218292","isFrozen":0,"high24hr":"0.0000074200","low24hr":"0.0000072900","lowestAsk":7.3499999999999999e-6,"lowestAskQuantity":"99184","highestBid":7.3200000000000002e-6,"highestBidQuantity":"48011"},"trx_btc":{"last":"0.00000195","percentChange":"-0.51020408","baseVolume":"5014985.9670439400","quoteVolume":"9.7846924588","isFrozen":0,"high24hr":"0.0000019700","low24hr":"0.0000019400","lowestAsk":1.9599999999999999e-6,"lowestAskQuantity":"637831","highestBid":1.95e-6,"highestBidQuantity":"1222757"},"xmr_btc":{"last":"0.00730492","percentChange":"-0.95735493","baseVolume":"665.2310293300","quoteVolume":"4.8840597162","isFrozen":0,"high24hr":"0.0073900000","low24hr":"0.0072887700","lowestAsk":0.0073480000000000004,"lowestAskQuantity":"118.532","highestBid":0.0073270000000000002,"highestBidQuantity":"19.845"},"etc_btc":{"last":"0.00052386","percentChange":"0.31980697","baseVolume":"4740.6128035600","quoteVolume":"2.4843314382","isFrozen":0,"high24hr":"0.0005261300","low24hr":"0.0005193400","lowestAsk":0.00052499999999999997,"lowestAskQuantity":"357.78","highestBid":0.000522,"highestBidQuantity":"2215.08"},"zec_btc":{"last":"0.00427471","percentChange":"-0.11099531","baseVolume":"4553.8768028000","quoteVolume":"19.5612512804","isFrozen":0,"high24hr":"0.0044619700","low24hr":"0.0042500000","lowestAsk":0.004287,"lowestAskQuantity":"52.287","highestBid":0.004274,"highestBidQuantity":"154.995"},"doge_btc":{"last":"0.0000003","percentChange":"3.44827586","baseVolume":"5907986.7047405800","quoteVolume":"1.7407132513","isFrozen":0,"high24hr":"0.0000003000","low24hr":"0.0000002900","lowestAsk":2.9999999999999999e-7,"lowestAskQuantity":"50045484","highestBid":2.8999999999999998e-7,"highestBidQuantity":"44449821"},"iotx_btc":{"last":"0.0000005","percentChange":"-1.96078431","baseVolume":"936607.2979728900","quoteVolume":"0.4721732651","isFrozen":0,"high24hr":"0.0000005200","low24hr":"0.0000005000","lowestAsk":5.2e-7,"lowestAskQuantity":"68279","highestBid":4.9999999999999998e-7,"highestBidQuantity":"484039"},"rvn_btc":{"last":"0.00000332","percentChange":"-5.68181818","baseVolume":"10908637.2330810940","quoteVolume":"37.8359457549","isFrozen":0,"high24hr":"0.0000037000","low24hr":"0.0000032800","lowestAsk":3.3299999999999999e-6,"lowestAskQuantity":"63179","highestBid":3.3100000000000001e-6,"highestBidQuantity":"121852"},"atom_btc":{"last":"0.00053008","percentChange":"4.24590454","baseVolume":"17993.0117119400","quoteVolume":"9.4278105475","isFrozen":0,"high24hr":"0.0005453300","low24hr":"0.0005029600","lowestAsk":0.00053220000000000003,"lowestAskQuantity":"404.40","highestBid":0.00052890000000000001,"highestBidQuantity":"7.01"},"dent_btc":{"last":"0.00000002","percentChange":"-33.33333333","baseVolume":"5041064.0913017400","quoteVolume":"0.1354218361","isFrozen":0,"high24hr":"0.0000000300","low24hr":"0.0000000200","lowestAsk":2.9999999999999997e-8,"lowestAskQuantity":"419987893","highestBid":2.0e-8,"highestBidQuantity":"562075624"},"ark_btc":{"last":"0.00002303","percentChange":"-0.73275862","baseVolume":"36352.3309046100","quoteVolume":"0.8501042668","isFrozen":0,"high24hr":"0.0000236600","low24hr":"0.0000230300","lowestAsk":2.3300000000000001e-5,"lowestAskQuantity":"4500.00","highestBid":2.3e-5,"highestBidQuantity":"33419.78"},"dgb_btc":{"last":"0.0000009","percentChange":"0","baseVolume":"13560469.8801306640","quoteVolume":"12.1391052761","isFrozen":0,"high24hr":"0.0000009100","low24hr":"0.0000008900","lowestAsk":8.9999999999999996e-7,"lowestAskQuantity":"1653348","highestBid":8.8999999999999995e-7,"highestBidQuantity":"2637670"},"mona_btc":{"last":"0.0001213","percentChange":"-0.65520066","baseVolume":"62466.5554161400","quoteVolume":"7.6025742444","isFrozen":0,"high24hr":"0.0001230300","low24hr":"0.0001206900","lowestAsk":0.00012219999999999999,"lowestAskQuantity":"3443.25","highestBid":0.0001211,"highestBidQuantity":"4.35"},"spnd_btc":{"last":"0.00000021","percentChange":"5","baseVolume":"21502851.5822227060","quoteVolume":"4.3666534277","isFrozen":0,"high24hr":"0.0000002100","low24hr":"0.0000001900","lowestAsk":2.1e-7,"lowestAskQuantity":"9427008","highestBid":1.9999999999999999e-7,"highestBidQuantity":"1361367"},"cmct_btc":{"last":"0.00000006","percentChange":"0","baseVolume":"947383.1237858900","quoteVolume":"0.0568429874","isFrozen":0,"high24hr":"0.0000000600","low24hr":"0.0000000600","lowestAsk":7.0000000000000005e-8,"lowestAskQuantity":"904458","highestBid":5.9999999999999995e-8,"highestBidQuantity":"1463447"},"orbs_btc":{"last":"0.00000081","percentChange":"-5.81395349","baseVolume":"3507203.3707976700","quoteVolume":"2.9712824615","isFrozen":0,"high24hr":"0.0000008700","low24hr":"0.0000008100","lowestAsk":8.4e-7,"lowestAskQuantity":"1488","highestBid":7.9999999999999996e-7,"highestBidQuantity":"21848"},"xvg_btc":{"last":"0.00000058","percentChange":"-1.69491525","baseVolume":"29124130.5381432900","quoteVolume":"17.6076342120","isFrozen":0,"high24hr":"0.0000006300","low24hr":"0.0000005600","lowestAsk":5.8999999999999996e-7,"lowestAskQuantity":"109091","highestBid":5.7999999999999995e-7,"highestBidQuantity":"4359938"},"zen_btc":{"last":"0.00085134","percentChange":"4.18660433","baseVolume":"3009.6088875900","quoteVolume":"2.5191104273","isFrozen":0,"high24hr":"0.0008700000","low24hr":"0.0008087700","lowestAsk":0.00085899999999999995,"lowestAskQuantity":"156.880","highestBid":0.00084900000000000004,"highestBidQuantity":"3.000"},"rdd_btc":{"last":"0.00000009","percentChange":"0","baseVolume":"49294974.7742890100","quoteVolume":"4.0391421362","isFrozen":0,"high24hr":"0.0000000900","low24hr":"0.0000000800","lowestAsk":8.9999999999999999e-8,"lowestAskQuantity":"131717498","highestBid":8.0000000000000002e-8,"highestBidQuantity":"98976809"},"vbk_btc":{"last":"0.00000092","percentChange":"-3.15789474","baseVolume":"139978.3142242600","quoteVolume":"0.1311091516","isFrozen":0,"high24hr":"0.0000009700","low24hr":"0.0000009200","lowestAsk":9.5999999999999991e-7,"lowestAskQuantity":"9604","highestBid":9.4e-7,"highestBidQuantity":"3583"},"elf_btc":{"last":"0.00000778","percentChange":"-6.7146283","baseVolume":"13610.1699084000","quoteVolume":"0.1105054143","isFrozen":0,"high24hr":"0.0000083800","low24hr":"0.0000077000","lowestAsk":7.9400000000000002e-6,"lowestAskQuantity":"126","highestBid":7.79e-6,"highestBidQuantity":"1500"},"xem_btc":{"last":"0.00000495","percentChange":"1.85185185","baseVolume":"592449.0428368600","quoteVolume":"2.9121116279","isFrozen":0,"high24hr":"0.0000049800","low24hr":"0.0000048200","lowestAsk":4.95e-6,"lowestAskQuantity":"3437","highestBid":4.9400000000000001e-6,"highestBidQuantity":"2766"},"steem_btc":{"last":"0.0000199","percentChange":"11.48459384","baseVolume":"234764.7126189000","quoteVolume":"4.4551124544","isFrozen":0,"high24hr":"0.0000199000","low24hr":"0.0000178500","lowestAsk":1.9890000000000001e-5,"lowestAskQuantity":"2714.81","highestBid":1.9789999999999999e-5,"highestBidQuantity":"5145.07"},"enj_btc":{"last":"0.00001153","percentChange":"0.69868996","baseVolume":"2569674.8426630300","quoteVolume":"29.3536669599","isFrozen":0,"high24hr":"0.0000120300","low24hr":"0.0000107600","lowestAsk":1.163e-5,"lowestAskQuantity":"15500","highestBid":1.154e-5,"highestBidQuantity":"7000"},"poly_btc":{"last":"0.0000027800","percentChange":"0","baseVolume":null,"quoteVolume":0,"isFrozen":0,"high24hr":"0.0000027800","low24hr":"0.0000027800","highestBid":2.7599999999999998e-6,"highestBidQuantity":"17894"},"mana_btc":{"last":"0.00000366","percentChange":"-3.93700787","baseVolume":"377594.9506111200","quoteVolume":"1.4121475192","isFrozen":0,"high24hr":"0.0000039200","low24hr":"0.0000035900","lowestAsk":3.6600000000000001e-6,"lowestAskQuantity":"60000","highestBid":3.6100000000000002e-6,"highestBidQuantity":"35978"},"loom_btc":{"last":"0.00000249","percentChange":"1.63265306","baseVolume":"2645869.3986539400","quoteVolume":"6.7249443020","isFrozen":0,"high24hr":"0.0000026200","low24hr":"0.0000024500","lowestAsk":2.4899999999999999e-6,"lowestAskQuantity":"76063","highestBid":2.4600000000000002e-6,"highestBidQuantity":"69013"},"waves_btc":{"last":"0.00008927","percentChange":"19.72907725","baseVolume":"248257.3204195000","quoteVolume":"21.1536141878","isFrozen":0,"high24hr":"0.0000926800","low24hr":"0.0000745600","lowestAsk":8.8999999999999995e-5,"lowestAskQuantity":"2462.81","highestBid":8.8300000000000005e-5,"highestBidQuantity":"3135.73"},"ocn_btc":{"last":"0.0000000900","percentChange":"0","baseVolume":null,"quoteVolume":0,"isFrozen":0,"high24hr":"0.0000000900","low24hr":"0.0000000900","lowestAsk":4.8999999999999997e-7,"lowestAskQuantity":"2100"},"fx_btc":{"last":"0.00001092","percentChange":"-4.96083551","baseVolume":"28224.1396406700","quoteVolume":"0.3138853444","isFrozen":0,"high24hr":"0.0000115900","low24hr":"0.0000109200","lowestAsk":1.13e-5,"lowestAskQuantity":"2413","highestBid":1.0900000000000001e-5,"highestBidQuantity":"285"},"lsk_btc":{"last":"0.00008965","percentChange":"0.40318065","baseVolume":"11201.1703319100","quoteVolume":"1.0099990386","isFrozen":0,"high24hr":"0.0000907000","low24hr":"0.0000892900","lowestAsk":9.0400000000000002e-5,"lowestAskQuantity":"461.27","highestBid":8.9599999999999996e-5,"highestBidQuantity":"640.94"},"qrl_btc":{"last":"0.00001388","percentChange":"-1.3503909","baseVolume":"5822.0950325800","quoteVolume":"0.0803231194","isFrozen":0,"high24hr":"0.0000140800","low24hr":"0.0000132700","lowestAsk":1.401e-5,"lowestAskQuantity":"64.19","highestBid":1.329e-5,"highestBidQuantity":"150.49"},"via_btc":{"last":"0.00002939","percentChange":"-1.5080429","baseVolume":"67632.3317893900","quoteVolume":"1.9590510905","isFrozen":0,"high24hr":"0.0000298400","low24hr":"0.0000274700","lowestAsk":2.94e-5,"lowestAskQuantity":"5.23","highestBid":2.9200000000000002e-5,"highestBidQuantity":"104.00"},"srn_btc":{"last":"0.00000084","percentChange":"0","baseVolume":"313196.8298008900","quoteVolume":"0.2545085755","isFrozen":0,"high24hr":"0.0000008500","low24hr":"0.0000007900","lowestAsk":8.4e-7,"lowestAskQuantity":"39734","highestBid":8.0999999999999997e-7,"highestBidQuantity":"3073"},"dnt_btc":{"last":"0.0000008","percentChange":"-2.43902439","baseVolume":"641568.1068156800","quoteVolume":"0.5226619754","isFrozen":0,"high24hr":"0.0000008300","low24hr":"0.0000008000","lowestAsk":8.0999999999999997e-7,"lowestAskQuantity":"5655","highestBid":7.8000000000000005e-7,"highestBidQuantity":"67943"},"strat_btc":{"last":"0.00004","percentChange":"3.7613489","baseVolume":"191759.4388742880","quoteVolume":"7.7839860604","isFrozen":0,"high24hr":"0.0000427000","low24hr":"0.0000385000","lowestAsk":4.0200000000000001e-5,"lowestAskQuantity":"2904.49","highestBid":3.9900000000000001e-5,"highestBidQuantity":"146.24"},"vib_btc":{"last":"0.00000251","percentChange":"-1.953125","baseVolume":"160770.3632032100","quoteVolume":"0.4181970478","isFrozen":0,"high24hr":"0.0000026600","low24hr":"0.0000024900","lowestAsk":2.5500000000000001e-6,"lowestAskQuantity":"11623","highestBid":2.4700000000000001e-6,"highestBidQuantity":"936"},"sys_btc":{"last":"0.00000302","percentChange":"0.66666667","baseVolume":"539344.8781749540","quoteVolume":"1.6312596227","isFrozen":0,"high24hr":"0.0000030600","low24hr":"0.0000029700","lowestAsk":3.0199999999999999e-6,"lowestAskQuantity":"19223","highestBid":3.01e-6,"highestBidQuantity":"33"},"grs_btc":{"last":"0.00002439","percentChange":"-4.61478295","baseVolume":"127526.5578057520","quoteVolume":"3.2189626168","isFrozen":0,"high24hr":"0.0000263100","low24hr":"0.0000241100","lowestAsk":2.44e-5,"lowestAskQuantity":"821","highestBid":2.4300000000000001e-5,"highestBidQuantity":"2085"},"ignis_btc":{"last":"0.00000339","percentChange":"-1.73913043","baseVolume":"447010.5115611880","quoteVolume":"1.5154986411","isFrozen":0,"high24hr":"0.0000034900","low24hr":"0.0000033200","lowestAsk":3.4699999999999998e-6,"lowestAskQuantity":"295","highestBid":3.36e-6,"highestBidQuantity":"3471"},"ardr_btc":{"last":"0.00000628","percentChange":"1.453958","baseVolume":"36631.4396664200","quoteVolume":"0.2287901472","isFrozen":0,"high24hr":"0.0000062800","low24hr":"0.0000061900","lowestAsk":6.3199999999999996e-6,"lowestAskQuantity":"90","highestBid":6.28e-6,"highestBidQuantity":"81"},"pivx_btc":{"last":"0.00002907","percentChange":"-2.15415685","baseVolume":"34587.2771458400","quoteVolume":"1.0278270687","isFrozen":0,"high24hr":"0.0000304200","low24hr":"0.0000290700","lowestAsk":2.94e-5,"lowestAskQuantity":"771.13","highestBid":2.9e-5,"highestBidQuantity":"4165.34"},"nav_btc":{"last":"0.0000121","percentChange":"-2.41935484","baseVolume":"69490.6191388460","quoteVolume":"0.8558939219","isFrozen":0,"high24hr":"0.0000124300","low24hr":"0.0000120100","lowestAsk":1.2099999999999999e-5,"lowestAskQuantity":"398.32","highestBid":1.2e-5,"highestBidQuantity":"41673.79"},"nkn_btc":{"last":"0.00000269","percentChange":"0","baseVolume":"31900.6882585100","quoteVolume":"0.0865273276","isFrozen":0,"high24hr":"0.0000027500","low24hr":"0.0000026900","lowestAsk":2.7e-6,"lowestAskQuantity":"21253","highestBid":2.6699999999999998e-6,"highestBidQuantity":"9441"},"go_btc":{"last":"0.00000209","percentChange":"-8.33333333","baseVolume":"1320837.5558707800","quoteVolume":"2.8351348144","isFrozen":0,"high24hr":"0.0000023600","low24hr":"0.0000019600","lowestAsk":2.1600000000000001e-6,"lowestAskQuantity":"48198","highestBid":2.12e-6,"highestBidQuantity":"15000"},"kmd_btc":{"last":"0.00008178","percentChange":"0.34355828","baseVolume":"114214.2643547220","quoteVolume":"9.4500575341","isFrozen":0,"high24hr":"0.0000850300","low24hr":"0.0000811000","lowestAsk":8.1799999999999996e-5,"lowestAskQuantity":"166.75","highestBid":8.1699999999999994e-5,"highestBidQuantity":"238.58"},"fct_btc":{"last":"0.0003899","percentChange":"1.29903871","baseVolume":"23057.7397198680","quoteVolume":"8.8727513519","isFrozen":0,"high24hr":"0.0004030000","low24hr":"0.0003800000","lowestAsk":0.00039639999999999999,"lowestAskQuantity":"57.34","highestBid":0.00038549999999999999,"highestBidQuantity":"10.96"},"pi_btc":{"last":"0.00000053","percentChange":"-10.16949153","baseVolume":"71411.1100334800","quoteVolume":"0.0393590641","isFrozen":0,"high24hr":"0.0000005900","low24hr":"0.0000005200","lowestAsk":5.7000000000000005e-7,"lowestAskQuantity":"19938","highestBid":5.0999999999999999e-7,"highestBidQuantity":"4902"},"gnt_btc":{"last":"0.00000469","percentChange":"-0.21276596","baseVolume":"62545.2724018300","quoteVolume":"0.2947674282","isFrozen":0,"high24hr":"0.0000048000","low24hr":"0.0000046400","lowestAsk":4.6999999999999999e-6,"lowestAskQuantity":"15211","highestBid":4.6600000000000003e-6,"highestBidQuantity":"3323"},"mco_btc":{"last":"0.00058114","percentChange":"0.69656224","baseVolume":"727.0829608600","quoteVolume":"0.4215711466","isFrozen":0,"high24hr":"0.0005811400","low24hr":"0.0005771200","lowestAsk":0.00058500000000000002,"lowestAskQuantity":"4.38","highestBid":0.00058100000000000003,"highestBidQuantity":"612.49"},"rcn_btc":{"last":"0.00000607","percentChange":"0","baseVolume":"190433.9099890480","quoteVolume":"1.1721528562","isFrozen":0,"high24hr":"0.0000062600","low24hr":"0.0000060000","lowestAsk":6.0800000000000002e-6,"lowestAskQuantity":"2890","highestBid":6.0100000000000001e-6,"highestBidQuantity":"10679"},"eos_btc":{"last":"0.00035866","percentChange":"-0.62617755","baseVolume":"1649.2053434900","quoteVolume":"0.5895948885","isFrozen":0,"high24hr":"0.0003609200","low24hr":"0.0003542200","lowestAsk":0.0003592,"lowestAskQuantity":"112.16","highestBid":0.00035720000000000001,"highestBidQuantity":"159.91"},"amp_btc":{"last":"0.00000014","percentChange":"-26.31578947","baseVolume":"65165.0000000000","quoteVolume":"0.0117626500","isFrozen":0,"high24hr":"0.0000001900","low24hr":"0.0000001400","lowestAsk":1.9999999999999999e-7,"lowestAskQuantity":"12848","highestBid":1.4000000000000001e-7,"highestBidQuantity":"71140"},"solve_btc":{"last":"0.00001617","percentChange":"2.21238938","baseVolume":"193486.7674034860","quoteVolume":"3.1174964337","isFrozen":0,"high24hr":"0.0000163700","low24hr":"0.0000157700","lowestAsk":1.6169999999999999e-5,"lowestAskQuantity":"117","highestBid":1.6039999999999999e-5,"highestBidQuantity":"95"},"dta_btc":{"last":"0.00000004","percentChange":"0","baseVolume":"1630804.3277160900","quoteVolume":"0.0652321730","isFrozen":0,"high24hr":"0.0000000400","low24hr":"0.0000000400","lowestAsk":4.9999999999999998e-8,"lowestAskQuantity":"38561094","highestBid":2.9999999999999997e-8,"highestBidQuantity":"50727502"},"powr_btc":{"last":"0.0000050400","percentChange":"0","baseVolume":null,"quoteVolume":0,"isFrozen":0,"high24hr":"0.0000050400","low24hr":"0.0000050400","highestBid":5.0300000000000001e-6,"highestBidQuantity":"23913"},"mtl_btc":{"last":"0.0000378","percentChange":"-2.3255814","baseVolume":"44111.5221763860","quoteVolume":"1.7069605869","isFrozen":0,"high24hr":"0.0000395000","low24hr":"0.0000376000","lowestAsk":3.82e-5,"lowestAskQuantity":"1318.74","highestBid":3.7599999999999999e-5,"highestBidQuantity":"9617.41"},"bcpt_btc":{"last":"0.0000032400","percentChange":"0","baseVolume":null,"quoteVolume":0,"isFrozen":0,"high24hr":"0.0000032400","low24hr":"0.0000032400"},"vdx_btc":{"last":"0.00000012","percentChange":"-7.69230769","baseVolume":"7273450.3840677600","quoteVolume":"0.8763988787","isFrozen":0,"high24hr":"0.0000001500","low24hr":"0.0000000900","lowestAsk":1.3e-7,"lowestAskQuantity":"152844","highestBid":1.1999999999999999e-7,"highestBidQuantity":"377"},"eng_btc":{"last":"0.00006219","percentChange":"-6.14246906","baseVolume":"3583.1211305700","quoteVolume":"0.2310881894","isFrozen":0,"high24hr":"0.0000675400","low24hr":"0.0000621900","lowestAsk":6.2730000000000004e-5,"lowestAskQuantity":"22","highestBid":6.177e-5,"highestBidQuantity":"275"},"sc_btc":{"last":"0.0000002","percentChange":"5.26315789","baseVolume":"16051796.8479794700","quoteVolume":"3.1742014067","isFrozen":0,"high24hr":"0.0000002000","low24hr":"0.0000001900","lowestAsk":2.1e-7,"lowestAskQuantity":"32391214","highestBid":1.9999999999999999e-7,"highestBidQuantity":"214878"},"btt_btc":{"last":"0.00000004","percentChange":"-20","baseVolume":"22273628.1700286700","quoteVolume":"0.9264473744","isFrozen":0,"high24hr":"0.0000000500","low24hr":"0.0000000300","lowestAsk":4.0000000000000001e-8,"lowestAskQuantity":"88604046","highestBid":2.9999999999999997e-8,"highestBidQuantity":"396748685"},"hydro_btc":{"last":"0.0000001","percentChange":"25","baseVolume":"6622508.0487821700","quoteVolume":"0.5866558612","isFrozen":0,"high24hr":"0.0000001000","low24hr":"0.0000000800","lowestAsk":9.9999999999999995e-8,"lowestAskQuantity":"7168767","highestBid":8.9999999999999999e-8,"highestBidQuantity":"9819"},"cvc_btc":{"last":"0.00000333","percentChange":"-1.47928994","baseVolume":"281922.6446196200","quoteVolume":"0.9666451165","isFrozen":0,"high24hr":"0.0000035600","low24hr":"0.0000032900","lowestAsk":3.3299999999999999e-6,"lowestAskQuantity":"5358","highestBid":3.2799999999999999e-6,"highestBidQuantity":"1175"},"storj_btc":{"last":"0.00001557","percentChange":"0.19305019","baseVolume":"19335.3230365800","quoteVolume":"0.3023252380","isFrozen":0,"high24hr":"0.0000158600","low24hr":"0.0000154500","lowestAsk":1.5500000000000001e-5,"lowestAskQuantity":"700","highestBid":1.5359999999999999e-5,"highestBidQuantity":"700"},"ost_btc":{"last":"0.00000136","percentChange":"0","baseVolume":"730.2917910400","quoteVolume":"0.0009931968","isFrozen":0,"high24hr":"0.0000013600","low24hr":"0.0000013600","lowestAsk":1.44e-6,"lowestAskQuantity":"34843","highestBid":1.3999999999999999e-6,"highestBidQuantity":"13986"},"stpt_btc":{"last":"0.0000015","percentChange":"-8.53658537","baseVolume":"2110792.7800876080","quoteVolume":"3.2904704349","isFrozen":0,"high24hr":"0.0000016400","low24hr":"0.0000014900","lowestAsk":1.5099999999999999e-6,"lowestAskQuantity":"21760","highestBid":1.5e-6,"highestBidQuantity":"66500"},"emc2_btc":{"last":"0.00000457","percentChange":"-1.93133047","baseVolume":"29327.2768640700","quoteVolume":"0.1353885978","isFrozen":0,"high24hr":"0.0000046600","low24hr":"0.0000045600","lowestAsk":4.6299999999999997e-6,"lowestAskQuantity":"6492","highestBid":4.5700000000000003e-6,"highestBidQuantity":"5865"},"zrx_btc":{"last":"0.00003022","percentChange":"-2.76705277","baseVolume":"56190.8099209000","quoteVolume":"1.7213157520","isFrozen":0,"high24hr":"0.0000314000","low24hr":"0.0000301000","lowestAsk":3.027e-5,"lowestAskQuantity":"77","highestBid":3.0150000000000001e-5,"highestBidQuantity":"1952"},"mft_btc":{"last":"0.00000014","percentChange":"7.69230769","baseVolume":"3236583.1510448600","quoteVolume":"0.4418132265","isFrozen":0,"high24hr":"0.0000001400","low24hr":"0.0000001300","lowestAsk":1.4999999999999999e-7,"lowestAskQuantity":"162847","highestBid":1.4000000000000001e-7,"highestBidQuantity":"831016"},"bts_btc":{"last":"0.00000262","percentChange":"-1.87265918","baseVolume":"43824.1716173500","quoteVolume":"0.1173202931","isFrozen":0,"high24hr":"0.0000026900","low24hr":"0.0000026200","lowestAsk":2.6699999999999998e-6,"lowestAskQuantity":"53284","highestBid":2.61e-6,"highestBidQuantity":"115152"},"nxs_btc":{"last":"0.0000272","percentChange":"1.11524164","baseVolume":"169906.0206835020","quoteVolume":"4.7024866392","isFrozen":0,"high24hr":"0.0000316500","low24hr":"0.0000260200","lowestAsk":2.76e-5,"lowestAskQuantity":"119.69","highestBid":2.6699999999999998e-5,"highestBidQuantity":"7884.35"},"fsn_btc":{"last":"0.00003302","percentChange":"-12.78394083","baseVolume":"1028.8942478100","quoteVolume":"0.0378896845","isFrozen":0,"high24hr":"0.0000419100","low24hr":"0.0000330200","lowestAsk":3.8999999999999999e-5,"lowestAskQuantity":"2060.44","highestBid":3.3000000000000003e-5,"highestBidQuantity":"638.39"},"drgn_btc":{"last":"0.00000381","percentChange":"-1.5503876","baseVolume":"1150.0000000000","quoteVolume":"0.0044486631","isFrozen":0,"high24hr":"0.0000038800","low24hr":"0.0000038100","lowestAsk":3.8399999999999997e-6,"lowestAskQuantity":"13106","highestBid":3.7799999999999998e-6,"highestBidQuantity":"132"},"ok_btc":{"last":"0.00000258","percentChange":"1.57480315","baseVolume":"124318.7268658000","quoteVolume":"0.3238726528","isFrozen":0,"high24hr":"0.0000028000","low24hr":"0.0000025100","lowestAsk":2.6800000000000002e-6,"lowestAskQuantity":"562","highestBid":2.5799999999999999e-6,"highestBidQuantity":"1257"},"rfr_btc":{"last":"0.00000007","percentChange":"0","baseVolume":"3972356.6862494520","quoteVolume":"0.2497947913","isFrozen":0,"high24hr":"0.0000000700","low24hr":"0.0000000600","lowestAsk":7.0000000000000005e-8,"lowestAskQuantity":"2556044","highestBid":5.9999999999999995e-8,"highestBidQuantity":"8533492"},"iost_btc":{"last":"0.00000071","percentChange":"-2.73972603","baseVolume":"290845.8747174500","quoteVolume":"0.2095546551","isFrozen":0,"high24hr":"0.0000007300","low24hr":"0.0000007100","lowestAsk":7.0999999999999998e-7,"lowestAskQuantity":"329855","highestBid":6.9999999999999997e-7,"highestBidQuantity":"664400"},"storm_btc":{"last":"0.00000019","percentChange":"5.55555556","baseVolume":"224405.9529218800","quoteVolume":"0.0425763713","isFrozen":0,"high24hr":"0.0000001900","low24hr":"0.0000001800","lowestAsk":1.9999999999999999e-7,"lowestAskQuantity":"2066667","highestBid":1.9000000000000001e-7,"highestBidQuantity":"728254"},"ogo_btc":{"last":"0.0000022800","percentChange":"0","baseVolume":null,"quoteVolume":0,"isFrozen":0,"high24hr":"0.0000022800","low24hr":"0.0000022800","lowestAsk":2.2800000000000002e-6,
[...]
