---
http_interactions:
- request:
    method: get
    uri: https://vcc.exchange/api/v2/trades/eth_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
    body:
      encoding: ASCII-8BIT
      string: '{"message":null,"dataVersion":"2ef22cd13199ea8387c210b401c5aa3f76c59270","data":[{"trade_id":20301471,"price":"0.0198552600","base_volume":"0.0797533500","quote_volume":"0.0015835235","trade_timestamp":1576139981830,"type":"buy"},{"trade_id":20301229,"price":"0.0198301100","base_volume":"0.0006993500","quote_volume":"0.0000138682","trade_timestamp":1576139539336,"type":"buy"},{"trade_id":20301226,"price":"0.0198301100","base_volume":"0.8010000000","quote_volume":"0.0158839181","trade_timestamp":1576139537148,"type":"buy"},{"trade_id":20301175,"price":"0.0198301100","base_volume":"0.2581064400","quote_volume":"0.0051182791","trade_timestamp":1576139480870,"type":"buy"},{"trade_id":20301114,"price":"0.0198301000","b[...]
