---
http_interactions:
- request:
    method: get
    uri: https://api.chainex.io/market/summary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"status":"success","count":88,"data":[{"code":"AE","name":"Aeternity","market_id":"97","exchange":"BTC","yesterday_price":"0.00014860","last_price":"0.00014725","change":"-0.91","24hhigh":"0.00015113","24hlow":"0.00014708","24hvol":"0.014","top_bid":"0.00012849","top_ask":"0.00016616"},{"code":"AION","name":"Aion","market_id":"75","exchange":"BTC","yesterday_price":"0.00006709","last_price":"0.00006337","change":"-5.54","24hhigh":"0.00007038","24hlow":"0.00006306","24hvol":"0.015","top_bid":"0.00005366","top_ask":"0.00008135"},{"code":"ANT","name":"Aragon","market_id":"103","exchange":"BTC","yesterday_price":"0.00000000","last_price":"0.00000000","change":"0.00","24hhigh":"0.00000000","24hlow":"0.00000000","24hvol":"0.000","top_bid":"0.00010345","top_ask":"0.0000[...]
