---
http_interactions:
- request:
    method: get
    uri: https://api.chainex.io/market/orders/ETH/BTC/ALL/200
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"status":"success","data":[{"type":"buy","count":19,"orders":[{"price":"0.03174048","amount":"0.89734728","total":"0.02848223"},{"price":"0.03085455","amount":"0.59530853","total":"0.01836797"},{"price":"0.03066370","amount":"0.27417400","total":"0.00840718"},{"price":"0.02982911","amount":"0.67595338","total":"0.02016308"},{"price":"0.02951106","amount":"0.34902247","total":"0.01030002"},{"price":"0.02813730","amount":"0.23530159","total":"0.00662075"},{"price":"0.02739798","amount":"0.83061952","total":"0.02275729"},{"price":"0.02706222","amount":"2.20087694","total":"0.05956061"},{"price":"0.02669239","a[...]
