---
http_interactions:
- request:
    method: get
    uri: https://api.chainex.io/market/trades/ETH/BTC/200
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"status":"success","count":200,"data":[{"time":"1537880774.8444","type":"BUY","price":"0.03279672","amount":"5.20941456","total":"0.17085171","time_formatted":"2018-09-25
        13:06:14"},{"time":"1537880416.5824","type":"SELL","price":"0.03282097","amount":"5.77179917","total":"0.18943605","time_formatted":"2018-09-25
        13:00:16"},{"time":"1537880041.7999","type":"BUY","price":"0.03288939","amount":"8.00359453","total":"0.26323334","time_formatted":"2018-09-25
        12:54:01"},{"time":"1537879704.5835","type":"BUY","price":"0.03277902","amount":"6.20216314","total":"0.20330083","time_formatted":"2018-09-25
        12:48:24"},{"time":"153787[...]
