---
http_interactions:
- request:
    method: get
    uri: https://bitibu.com/api/v2/tickers/btcusd.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"9f4797c5925a0ccc21b140113d6988e9"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1524796211,"ticker":{"buy":"9300.0","sell":"9310.0","low":"8730.0","high":"9300.0","last":"9300.0","vol":"22.7876"}}'
  recorded_at: Fri, 27 Apr 2018 02:30:11 GMT
recorded_with: VCR 4.0.0
