---
http_interactions:
- request:
    method: get
    uri: https://api.bhex.com/openapi/quote/v1/contract/index?symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"index":{"BTCUSDT":"8697.26"},"edp":{"BTCUSDT":"8708.3022375"}}'
  recorded_at: Wed, 22 Jan 2020 08:08:20 GMT
- request:
    method: get
    uri: https://api.bhex.com/openapi/contract/v1/fundingRate
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTC-PERP-REV","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"-0.000031133124647726"},{"symbol":"BTC-SWAP","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"-0.000045848795640688"},{"symbol":"LTC-SWAP-USDT","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"0.000682352539328731"},{"symbol":"ETH-SWAP-USDT","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"0.000285095717434331"},{"symbol":"BTC-SWAP-USDT","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"-0.000008986477161032"},{"symbol":"EOS-SWAP-USDT","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"0.000670546330943463"},{"symbol":"XRP-SWAP-USDT","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"0.000693803795610701"},{"symbol":"BCH-SWAP-USDT","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"0.000365308401367589"},{"symbol":"XRP-SWAP","intervalStart":"1577707200000","intervalEnd":"1577736000000","rate":"0.001574568920139882"},{"symbol":"BCH-SWAP","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"0.000297440321686783"},{"symbol":"LTC-SWAP","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"0.000607496800514105"},{"symbol":"EOS-SWAP","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"0.00075120747887592"},{"symbol":"ETH-SWAP","intervalStart":"1579636800000","intervalEnd":"1579665600000","rate":"0.000206138583160334"}]'
  recorded_at: Wed, 22 Jan 2020 08:08:20 GMT
recorded_with: VCR 4.0.0
