---
http_interactions:
- request:
    method: get
    uri: https://api.bhex.com/openapi/quote/v1/contract/trades?symbol=BTC-SWAP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"price":"8291.5","time":1579833535434,"qty":"4070","isBuyerMaker":true},{"price":"8292.9","time":1579833535439,"qty":"8613","isBuyerMaker":true},{"price":"8293.6","time":1579833535443,"qty":"1932","isBuyerMaker":true},{"price":"8293.8","time":1579833535447,"qty":"1109","isBuyerMaker":true},{"price":"8294","time":1579833535452,"qty":"15854","isBuyerMaker":true},{"price":"8294.1","time":1579833535456,"qty":"2748","isBuyerMaker":true},{"price":"8294.5","time":1579833543853,"qty":"11637","isBuyerMaker":false},{"price":"8294.5","time":1579833544007,"qty":"807","isB[...]
