---
http_interactions:
- request:
    method: get
    uri: https://api.bhex.com/openapi/quote/v1/contract/trades?symbol=BTC-SWAP-USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"price":"8715.7","time":1579680163288,"qty":"2645","isBuyerMaker":true},{"price":"8718.5","time":1579680167241,"qty":"172","isBuyerMaker":true},{"price":"8716","time":1579680189441,"qty":"800","isBuyerMaker":false},{"price":"8715.8","time":1579680205074,"qty":"18117","isBuyerMaker":false},{"price":"8715.1","time":1579680214918,"qty":"557","isBuyerMaker":false},{"price":"8715","time":1579680214922,"qty":"7732","isBuyerMaker":false},{"price":"8714.9","time":1579680214927,"qty":"1242","isBuyerMaker":false},{"price":"8714.7","time":1579680214931,"qty":"303","isBuy[...]
