---
http_interactions:
- request:
    method: get
    uri: https://api.bhex.com/openapi/quote/v1/contract/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"time":1579680379266,"symbol":"BTC-SWAP","volume":"246553442","quoteVolume":"28478.775510934777165418","lastPrice":"8700.9","highPrice":"8789.5","lowPrice":"8480.2","openPrice":"8611.9"},{"time":1579680360260,"symbol":"XRP-SWAP","volume":"1221678","quoteVolume":"5216748.427031936906218265","lastPrice":"0.237","highPrice":"0.2393","lowPrice":"0.2299","openPrice":"0.2346"},{"time":1579680386176,"symbol":"EOS-SWAP-USDT","volume":"2579614","quoteVolume":"9296813.273","lastPrice":"3.66","highPrice":"3.73","lowPrice":"3.588","openPrice":"3.62"},{"time":1579680394059,"symbol":"BTC-PERP-REV","volume":"232173296","quoteVolume":"25376.460077535246138346","lastPrice":"8701.2","hi[...]
