---
http_interactions:
- request:
    method: get
    uri: https://api.bhex.com/openapi/quote/v1/contract/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"time":1579833666586,"symbol":"BTC-SWAP","volume":"276264719","quoteVolume":"32474.37476342213446956","lastPrice":"8299.4","highPrice":"8590.4","lowPrice":"8279.1","openPrice":"8557.1"},{"time":1579833660292,"symbol":"XRP-SWAP","volume":"1691801","quoteVolume":"7391295.632454876981860603","lastPrice":"0.2208","highPrice":"0.2319","lowPrice":"0.2208","openPrice":"0.2308"},{"time":1579833660344,"symbol":"EOS-SWAP-USDT","volume":"2509922","quoteVolume":"8897685.451","lastPrice":"3.485","highPrice":"3.617","lowPrice":"3.467","openPrice":"3.568"},{"time":1579833666439,"symbol":"BTC-PERP-REV","volume":"236557294","quoteVolume":"26426.088803389963786971","lastPrice":"8297.6"[...]
