---
http_interactions:
- request:
    method: get
    uri: https://api.bhex.com/openapi/quote/v1/contract/index?symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"index":{"BTCUSDT":"8298.505"},"edp":{"BTCUSDT":"8309.84698333"}}'
  recorded_at: Fri, 24 Jan 2020 02:41:09 GMT
- request:
    method: get
    uri: https://api.bhex.com/openapi/contract/v1/fundingRate
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTC-PERP-REV","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"-0.00002113609440504"},{"symbol":"BTC-SWAP","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"-0.000048668971297946"},{"symbol":"LTC-SWAP-USDT","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"0.000510497519555373"},{"symbol":"ETH-SWAP-USDT","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"0.000242198686854322"},{"symbol":"BTC-SWAP-USDT","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"-0.000003690266415963"},{"symbol":"EOS-SWAP-USDT","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"0.000435835993086322"},{"symbol":"XRP-SWAP-USDT","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"0.000538486125664908"},{"symbol":"BCH-SWAP-USDT","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"0.000276599897307168"},{"symbol":"XRP-SWAP","intervalStart":"1577707200000","intervalEnd":"1577736000000","rate":"0.001574568920139882"},{"symbol":"BCH-SWAP","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"0.000125570056794019"},{"symbol":"LTC-SWAP","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"0.000386901014171646"},{"symbol":"EOS-SWAP","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"0.000314642953251885"},{"symbol":"ETH-SWAP","intervalStart":"1579780800000","intervalEnd":"1579809600000","rate":"0.000197696011886567"}]'
  recorded_at: Fri, 24 Jan 2020 02:41:09 GMT
recorded_with: VCR 4.0.0
