---
http_interactions:
- request:
    method: get
    uri: https://api.btcexa.com/api/market/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":0,"msg":"Success"},"result":[["TRX_USDT","0.026201","0.026269","0.026171","-0.89","453813754.71","11840912.45799138","0.026761","0.025157","1555063206557"],["QTUM_ETH","0.017811","0.017824","0.017794","-0.44","5155261.935","91827.30456934","0.018216","0.017351","1555063206515"],["ZEC_USDT","69.51","69.53","69.49","5.15","442170.1573","30225276.328373","70.57","63.33","1555063206237"],["ADA_BTC","0.00001631","0.00001632","0.0000163","-0.18","46220054.23","752.70068631","0.00001676","0.00001533","1555063206171"],["DASH_USDT"[...]
