---
http_interactions:
- request:
    method: get
    uri: https://api.btcexa.com/api/market/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":0,"msg":"Success"},"result":[["BTC_USDT","4994.21","4995.95","4992.48","-1.5","47898.1488","239350533.757194","5076.89","4871.45","1555063205282"],["LTC_USDT","77.29","77.31","77.27","-2.1","127933.0938","9920268.186032","79.59","74.37","1555063205602"],["XEM_BTC","0.00001264","0.00001268","0.0000126","-3.06","115530490.0","1482.11540595","0.00001314","0.00001259","1555063205312"],["FUEL_BTC","0.00000209","0.00000212","0.00000205","3.46","152335.0","0.31583519","0.00000219","0.00000195","1555063205274"],["ELF_BTC","0.00003[...]
