---
http_interactions:
- request:
    method: get
    uri: https://api.btcexa.com/api/market/depth?limit=100&trading_pair=btc_usdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":0,"msg":"Success"},"result":{"ask":[["1","7309.46","2.3219"],["1","7315.22","0.0906"],["1","7318.89","0.0683"],["1","7321.06","0.0877"],["1","7322.96","0.0516"],["1","7326.49","0.0307"],["1","7331.89","0.0382"],["1","7335.91","0.0504"],["1","7337.75","0.0841"],["1","7382.39","0.0893"],["1","7387.78","0.1032"],["1","7418.91","0.1119"],["1","7424.32","0.0707"],["1","7555.24","0.1091"],["1","7559.22","0.1241"],["1","7564.92","0.0112"],["1","8223.32","0.0005"],["1","8262.01","0.0008"],["1","8301.72","0.0006"],["1","8339.9","0.0006"],[...]
