---
http_interactions:
- request:
    method: get
    uri: https://api.cbx.one/api/v3/asset_pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"id":"05100635-8d69-44c6-9032-bc8c5c48c351","name":"ELAD-ETH","quote_scale":6,"quote_asset":{"id":"c98f5d90-c619-4de2-b643-3d429f622239","symbol":"ETH","name":"Ethereum"},"base_asset":{"id":"9c3cc8e6-94ff-4f83-bdc9-f6aa08169ecb","symbol":"ELAD","name":"ELAD
        Network "},"base_scale":4,"min_quote_value":"0.001"},{"id":"0aa6d0ac-6ff1-45fb-8911-7e6c4070b582","name":"XIN-BTC","quote_scale":6,"quote_asset":{"id":"0df9c3c3-255a-46d7-ab82-dedae169fba9","symbol":"BTC","name":"Bitcoin"},"base_asset":{"id":"e7e44097-0e11-4c56-90d9-3de695bf727c","symbol":"XIN","name":"Mixin"},"base_scale":5,"min_quote_value":"0.0001"},{"id":"0b50cef3-8929-4b73-be3d-265a3e70f23f","name":"PRS-BTC","quote_scale":8,"quote_asset":{"id":"0df9c3c3-255a-46d7-ab82-dedae169fba9","symbol":"BTC","name":"Bitcoin"},"base_asset":{"id":[...]
