---
http_interactions:
- request:
    method: get
    uri: https://www.cbx.one/api/v2/markets/XIN-BTC/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"page_info":{"start_cursor":"CLyosxI=","has_previous_page":false,"has_next_page":false,"end_cursor":"CLfbtRI="},"edges":[{"node":{"id":"38589500","taker_side":"ASK","price":"0.02949703","market_uuid":"0aa6d0ac-6ff1-45fb-8911-7e6c4070b582","market_id":"XIN-BTC","inserted_at":"2019-02-12T01:53:48.000000Z","amount":"0.3056"},"cursor":"CLyosxI="},{"node":{"id":"38589657","taker_side":"BID","price":"0.0298999","market_uuid":"0aa6d0ac-6ff1-45fb-8911-7e6c4070b582","market_id":"XIN-BTC","inserted_at":"2019-02-12T01:58:48.000000Z","amount":"0.1337"},"cursor":"CNmpsxI="},{"node":{"id":"38590351","taker_side":"BID","price":"0.0298998","market_uuid":"0aa6d0ac-6ff1-45fb-8911-7e6c4070b582","market_id":"XIN-BTC","inserted_at":"2019-02-12T02:35:18.000000Z","amount":"2.997"},"cursor":"CI+vsxI="},{"node":{"id":"38590352","taker_side":"BID"[...]
