---
http_interactions:
- request:
    method: get
    uri: https://api.cbx.one/api/v3/asset_pairs/XIN-BTC/depth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":{"asset_pair_name":"XIN-BTC","bids":[{"price":"0.025885","order_count":1,"quantity":"0.1506"},{"price":"0.025884","order_count":1,"quantity":"0.27814"},{"price":"0.025875","order_count":1,"quantity":"0.04344"},{"price":"0.025726","order_count":1,"quantity":"0.18964"},{"price":"0.02571","order_count":2,"quantity":"0.10005"},{"price":"0.025706","order_count":1,"quantity":"0.10825"},{"price":"0.0257","order_count":1,"quantity":"54.18652"},{"price":"0.025678","order_count":1,"quantity":"0.04344"},{"price":"0.025529","order_count":1,"quantity":"0.27814"},{"price":"0.025482","order_c[...]
