---
http_interactions:
- request:
    method: get
    uri: https://www.cbx.one/api/v3/asset_pairs/XIN-BTC/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"id":115743751,"price":"0.023202","amount":"0.09603","taker_side":"ASK","inserted_at":"2019-10-10T03:51:01Z"},{"id":115743219,"price":"0.02318","amount":"0.27066","taker_side":"BID","inserted_at":"2019-10-10T03:50:01Z"},{"id":115742930,"price":"0.023194","amount":"0.30418","taker_side":"BID","inserted_at":"2019-10-10T03:49:23Z"},{"id":115742304,"price":"0.023181","amount":"0.06092","taker_side":"BID","inserted_at":"2019-10-10T03:48:13Z"},{"id":115742031,"price":"0.023191","amount":"0.18541","taker_side":"ASK","inserted_at":"2019-10-10T03:47:45Z"},{"id":115741772,"price":"0.023192[...]
