---
http_interactions:
- request:
    method: get
    uri: https://www.cbx.one/api/v3/asset_pairs/XIN-BTC/depth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":{"asset_pair_name":"XIN-BTC","bids":[{"price":"0.023116","order_count":1,"quantity":"0.03634"},{"price":"0.023084","order_count":1,"quantity":"0.045"},{"price":"0.023082","order_count":1,"quantity":"0.018"},{"price":"0.023081","order_count":1,"quantity":"0.09202"},{"price":"0.023064","order_count":1,"quantity":"0.0079"},{"price":"0.023054","order_count":1,"quantity":"0.00543"},{"price":"0.02302","order_count":1,"quantity":"0.0439"},{"price":"0.022992","order_count":1,"quantity":"0.03634"},{"price":"0.022983","order_count":1,"quantity":"0.045"},{"price":"0.022964","order_count":[...]
