---
http_interactions:
- request:
    method: get
    uri: https://www.cbx.one/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"volume":"56.8034","open":"0.03197801","market_uuid":"0aa6d0ac-6ff1-45fb-8911-7e6c4070b582","market_id":"XIN-BTC","low":"0.02941873","high":"0.03298749","daily_change_perc":"3.120237938508368719629520411","daily_change":"0.00099779","close":"0.0329758","bid":{"price":"0.03168501","amount":"0.6501"},"ask":{"price":"0.0329758","amount":"8.8016"}},{"volume":"5.235","open":"0.00227889","market_uuid":"0b249078-8ad1-4f6d-a6ba-e9fb1966744c","market_id":"NEO-BTC","low":"0.00227889","high":"0.00233501","daily_change_perc":"2.462602407312331880871827951","daily_change":"0.00005612","close":"0.00233501","bid":{"price":"0.00220612","amount":"2"},"ask":{"price":"0.00231109","amount":"2"}},{"volume":"514128","open":"0.5322","market_uuid":"10ad1827-6380-47d2-b82b-eb6667e29dc1","market_id":"SLOT-USDT","low":"0.[...]
