---
http_interactions:
- request:
    method: get
    uri: https://www.cbx.one/api/v3/asset_pairs/XIN-BTC/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":{"asset_pair_name":"XIN-BTC","bid":{"price":"0.023116","order_count":1,"quantity":"0.03634"},"ask":{"price":"0.023274","order_count":1,"quantity":"0.83749"},"open":"0.022964","high":"0.023239","low":"0.022257","close":"0.023202","volume":"18871.36682","daily_change":"0.000238"}}

'
  recorded_at: Thu, 10 Oct 2019 03:51:22 GMT
recorded_with: VCR 4.0.0
