---
http_interactions:
- request:
    method: get
    uri: https://api.cbx.one/api/v3/asset_pairs/XIN-BTC/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"id":320808999,"price":"0.026017","amount":"0.57359","taker_side":"ASK","inserted_at":"2020-02-04T07:22:52Z","created_at":"2020-02-04T07:22:52Z"},{"id":320807910,"price":"0.026027","amount":"0.42426","taker_side":"ASK","inserted_at":"2020-02-04T07:22:29Z","created_at":"2020-02-04T07:22:29Z"},{"id":320806457,"price":"0.026016","amount":"0.39631","taker_side":"BID","inserted_at":"2020-02-04T07:21:55Z","created_at":"2020-02-04T07:21:55Z"},{"id":320804591,"price":"0.026057","amount":"0.67308","taker_side":"ASK","inserted_at":"2020-02-04T07:21:12Z","created_at":"2020-02-04T07:21:12Z"},{"id":320802811,"price":"0.026059",[...]
