---
http_interactions:
- request:
    method: get
    uri: https://www.cbx.one/api/v2/markets/XIN-BTC/depth
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"market_uuid":"0aa6d0ac-6ff1-45fb-8911-7e6c4070b582","market_id":"XIN-BTC","bids":[{"price":"0.03168501","order_count":1,"amount":"0.6501"},{"price":"0.0316849","order_count":1,"amount":"0.1135"},{"price":"0.03168489","order_count":1,"amount":"0.3282"},{"price":"0.03168467","order_count":1,"amount":"0.3479"},{"price":"0.02968593","order_count":1,"amount":"6.3032"},{"price":"0.02941959","order_count":1,"amount":"6.118"},{"price":"0.02941835","order_count":1,"amount":"6.3879"},{"price":"0.02941471","order_count":1,"amount":"1.7096"},{"price":"0.0294","order_count":1,"amount":"6.3919"},{"price":"0.02730001","order_count":1,"a[...]
