---
http_interactions:
- request:
    method: get
    uri: https://api.cbx.one/api/v3/asset_pairs/XIN-BTC/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":{"asset_pair_name":"XIN-BTC","bid":{"price":"0.025885","order_count":1,"quantity":"0.1506"},"ask":{"price":"0.026194","order_count":1,"quantity":"0.726"},"open":"0.026288","high":"0.026538","low":"0.02571","close":"0.026017","volume":"1021.98086","daily_change":"-0.000271"}}

'
  recorded_at: Tue, 04 Feb 2020 07:22:55 GMT
recorded_with: VCR 4.0.0
