---
http_interactions:
- request:
    method: get
    uri: https://lucent.exchange/api/v2/tickers/ethusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"9ef131952e07d3f9c311a0572c561f83"
      Cdn-Loop:
      - cloudflare
      Version:
      - HTTP/1.1
    body:
      encoding: ASCII-8BIT
      string: '{"at":1583043711,"ticker":{"buy":"222.42","sell":"222.65","low":"216.47","high":"230.41","last":"222.46","vol":"1358.51025"}}'
  recorded_at: Sun, 01 Mar 2020 06:21:51 GMT
recorded_with: VCR 4.0.0
