---
http_interactions:
- request:
    method: get
    uri: https://lucent.exchange/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"d642367cea7e24ae4d8c5dd03172fdd2"
      Cdn-Loop:
      - cloudflare
      Version:
      - HTTP/1.1
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"augusd","name":"AUG/USD","maker_fee":0.0,"taker_fee":0.0,"tick_size":"0.01","min_order_size":1.0,"min_order_size_increment":"0.00001","commission_rate":"0.0"},{"id":"btcusd","name":"BTC/USD","maker_fee":0.05,"taker_fee":0.1,"tick_size":"0.01","min_order_size":1.0,"min_order_size_increment":"0.000001","commission_rate":"0.0"},{"id":"dgdbtc","name":"DGD/BTC","maker_fee":0.05,"taker_fee":0.1,"tick_size":"0.000001","min_order_size":0.0001,"min_order_size_increment":"0.001","commission_rate":"0.0"},{"id":"dgdeth","name":"DGD/ETH","maker_fee":0.05,"taker_fee":0.1,"tick_size":"0.00001","min_order_size":0.001,"min_order_size_increment":"0.001","commiss[...]
