---
http_interactions:
- request:
    method: get
    uri: https://lucent.exchange/api/v2/tickers/giobtc.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      -lucent.exchange
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"6edb46a01d82121905d5ca57c19c4edc"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1527326029,"ticker":{"buy":"0.000000089","sell":"0.00000009","low":"0.000000085","high":"0.00000009","last":"0.000000088","vol":"1551295.0227","volbtc":"0.134975523092","change":"-0.011235955"}}'
  recorded_at: Sat, 26 May 2018 09:13:32 GMT
recorded_with: VCR 4.0.0
