---
http_interactions:
- request:
    method: get
    uri: https://market.bitnaru.com/public
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f86-6akKkeegMCtWJT7iZtSOmp3Lin0"
    body:
      encoding: UTF-8
      string: '{"BTC/KRW":{"id":1,"last":5290000,"lowestAsk":5210000,"highestBid":5180000,"percentChange":0.7619047619047619,"baseVolume":1.441,"quoteVolume":3352320,"isFrozen":0,"high24hr":5290000,"low24hr":5160000},"BCH/KRW":{"id":2,"last":487500,"lowestAsk":0,"highestBid":0,"percentChange":-11.202185792349727,"baseVolume":21.005,"quoteVolume":0,"isFrozen":0,"high24hr":537000,"low24hr":477500},"ETH/KRW":{"id":3,"last":157000,"lowestAsk":155500,"highestBid":154500,"percentChange":0.3194888178913738,"baseVolume":133.627,"quoteVolume":9888197,"isFrozen":0,"high24hr":158500,"low24hr":147000},"ETC/KRW":{"id":4,"last":8920,"lowestAsk":8920,"highestBid":8910,"percentChange":0,"baseVolume":56.58,"quoteVol[...]
