---
http_interactions:
- request:
    method: get
    uri: http://api.idcm.io:8303/api/v1/RealTimeQuote/GetRealTimeQuotes
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Data":[{"TradePairID":"_DSQ3BmslE-cS-HP3POlnA","TradePairCode":"BTC/VUSD","LastPrice":7692.75,"Change":42.7500000000000000,"Rose":0.0055882352941176470588235294,"Volume":3362.7014000000000000,"High":7808.3100000000000000,"Low":7624.7,"Open":7654.0000000000000000,"Close":7692.75,"Turnover":25976352.1809860000000000,"Sort":0,"PriceDigit":2,"QuantityDigit":4},{"TradePairID":"_DSQ3BmslE-cS-HP4POlnA","TradePairCode":"ETH/VUSD","LastPrice":616.13,"Change":16.1500000000000000,"Rose":0.0269175639187972932431081036,"Volume":7585.3160000000000000,"High":632.5500000000000000,"Low":595.7900000000000000,"Open":595.7900000000000000,"Close":616.13,"Turnover":4696006.1833800000000000,"Sort":1,"PriceDigit":2,"QuantityDigit":3},{"TradePairID":"_DSQ3BmslE-cS-HP1POlnA","TradePairCode":"BCH/VUSD","LastPrice":1143.35,"Change":47.7000000000000000,"Rose":0.04353580066[...]
