---
http_interactions:
- request:
    method: get
    uri: https://api.idcs.io:8323/api/v1/RealTimeQuote/GetDepth?symbol=EOS/VUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":1,"code":"200","data":{"asks":[{"symbol":"EOS-USDT","price":3.6430000000000000,"amount":1653.691},{"symbol":"EOS-USDT","price":3.6440000000000000,"amount":1356.149},{"symbol":"EOS-USDT","price":3.6450000000000000,"amount":3384.349},{"symbol":"EOS-USDT","price":3.6460000000000000,"amount":4941.955},{"symbol":"EOS-USDT","price":3.6470000000000000,"amount":5323.906},{"symbol":"EOS-USDT","price":3.6480000000000000,"amount":5704.683},{"symbol":"EOS-USDT","price":3.6490000000000000,"amount":5150.056},{"symbol":"EOS-USDT","price":3.6500000000000000,"amount":1746.797},{"symbol":"EOS-USDT",[...]
