---
http_interactions:
- request:
    method: get
    uri: https://www.rightbtc.com/api/public/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2353-/Tfx0thH/DXKdUvB09U9xu0H8wQ"
    body:
      encoding: UTF-8
      string: '{"status":{"success":1,"message":null},"result":[{"market":"DROPETH","date":1522339261895,"sell":2000,"buy":null,"high":1450,"high24h":1450,"low":1450,"low24h":1450,"last":1450,"last24h":0,"vol":795900000,"vol24h":795900000},{"market":"DROPBTC","date":1522339257663,"sell":80,"buy":null,"high":111,"high24h":111,"low":80,"low24h":80,"last":111,"last24h":0,"vol":606521355000,"vol24h":606521355000},{"market":"CLETH","date":1522339255262,"sell":8000,"buy":6000,"high":6965,"high24h":6965,"low":6337,"low24h":6166,"last":6797,"last24h":6166,"vol":373536700000,"vol24h":373536700000},{"market":"CLBTC","date":1522339253542,"sell":555,"buy":355,"high":544,"high24h":544,"low":365,"low24h":365,"last":534,"last24h":409,[...]
- request:
    method: get
    uri: https://www.rightbtc.com/api/public/trading_pairs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2387-x3JtFFpFXqi6Da5M/zdal+aHbQg"
    body:
      encoding: UTF-8
      string: '{"status":{"success":1,"message":{"ETHBTC":{"name":"ETHBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ETH","bid_asset_decimals":8,"bid_asset_type":"COIN"},"ETPBTC":{"name":"ETPBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ETP","bid_asset_decimals":8,"bid_asset_type":"COIN"},"LTCBTC":{"name":"LTCBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"LTC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"DLTBTC":{"name":"DLTBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"DLT","bid_asset_decimals":8,"bid_asset_type":"COIN"},"ZGCBTC":{"name":"ZGCBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ZGC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"ETCBTC":{"name":"ETCBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ETC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"BCCBTC":{"name":"BCCBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"BCC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"INDBTC":{"name":"INDBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"IND","bid_asset_decimals":8,"bid_asset_type":"COIN"},"BTMBTC":{"name":"BTMBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"BTM","bid_asset_decimals":8,"bid_asset_type":"COIN"},"MVCBTC":{"name":"MVCBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"MVC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"XRBBTC":{"name":"XRBBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"XRB","bid_asset_decimals":8,"bid_asset_type":"COIN"},"NXSBTC":{"name":"NXSBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"NXS","bid_asset_decimals":8,"bid_asset_type":"COIN"},"MTXBTC":{"name":"MTXBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"MTX","bid_asset_decimals":8,"bid_asset_type":"COIN"},"ZGCETP":{"name":"ZGCETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ZGC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"ZDCETP":{"name":"ZDCETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ZDC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"INDETP":{"name":"INDETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"IND","bid_asset_decimals":8,"bid_asset_type":"COIN"},"BTMETP":{"name":"BTMETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"BTM","bid_asset_decimals":8,"bid_asset_type":"COIN"},"XRBETP":{"name":"XRBETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"XRB","bid_asset_decimals":8,"bid_asset_type":"COIN"},"MTXETP":{"name":"MTXETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"MTX","bid_asset_decimals":8,"bid_asset_type":"COIN"},"MVCETH":{"name":"MVCETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"MVC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"INDETH":{"name":"INDETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"IND","bid_asset_decimals":8,"bid_asset_type":"COIN"},"BTMETH":{"name":"BTMETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"BTM","bid_asset_decimals":8,"bid_asset_type":"COIN"},"XRBETH":{"name":"XRBETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"XRB","bid_asset_decimals":8,"bid_asset_type":"COIN"},"NXSETH":{"name":"NXSETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"NXS","bid_asset_decimals":8,"bid_asset_type":"COIN"},"MTXETH":{"name":"MTXETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"MTX","bid_asset_decimals":8,"bid_asset_type":"COIN"},"BTCBCY":{"name":"BTCBCY","ask_asset_symbol":"BCY","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"BTC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"ETHBCY":{"name":"ETHBCY","ask_asset_symbol":"BCY","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ETH","bid_asset_decimals":8,"bid_asset_type":"COIN"},"ETPBCY":{"name":"ETPBCY","ask_asset_symbol":"BCY","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ETP","bid_asset_decimals":8,"bid_asset_type":"COIN"},"ECHBTC":{"name":"ECHBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ECH","bid_asset_decimals":8,"bid_asset_type":"COIN"},"ECHETH":{"name":"ECHETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ECH","bid_asset_decimals":8,"bid_asset_type":"COIN"},"ECHETP":{"name":"ECHETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"ECH","bid_asset_decimals":8,"bid_asset_type":"COIN"},"CMCBTC":{"name":"CMCBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"CMC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"CMCETH":{"name":"CMCETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"CMC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"CMCETP":{"name":"CMCETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"CMC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"AMBBTC":{"name":"AMBBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"AMB","bid_asset_decimals":8,"bid_asset_type":"COIN"},"AMBETH":{"name":"AMBETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"AMB","bid_asset_decimals":8,"bid_asset_type":"COIN"},"AMBETP":{"name":"AMBETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"AMB","bid_asset_decimals":8,"bid_asset_type":"COIN"},"KEYBTC":{"name":"KEYBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"KEY","bid_asset_decimals":8,"bid_asset_type":"COIN"},"KEYETH":{"name":"KEYETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"KEY","bid_asset_decimals":8,"bid_asset_type":"COIN"},"KEYETP":{"name":"KEYETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"KEY","bid_asset_decimals":8,"bid_asset_type":"COIN"},"UFRBTC":{"name":"UFRBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"UFR","bid_asset_decimals":8,"bid_asset_type":"COIN"},"UFRETH":{"name":"UFRETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"UFR","bid_asset_decimals":8,"bid_asset_type":"COIN"},"UFRETP":{"name":"UFRETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"UFR","bid_asset_decimals":8,"bid_asset_type":"COIN"},"JRCBTC":{"name":"JRCBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"JRC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"JRCETH":{"name":"JRCETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"JRC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"JRCETP":{"name":"JRCETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"JRC","bid_asset_decimals":8,"bid_asset_type":"COIN"},"TRXBTC":{"name":"TRXBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"TRX","bid_asset_decimals":8,"bid_asset_type":"COIN"},"TRXETH":{"name":"TRXETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"TRX","bid_asset_decimals":8,"bid_asset_type":"COIN"},"TRXETP":{"name":"TRXETP","ask_asset_symbol":"ETP","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"TRX","bid_asset_decimals":8,"bid_asset_type":"COIN"},"CLBTC":{"name":"CLBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"CL","bid_asset_decimals":8,"bid_asset_type":"COIN"},"CLETH":{"name":"CLETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"CL","bid_asset_decimals":8,"bid_asset_type":"COIN"},"DROPBTC":{"name":"TRXBTC","ask_asset_symbol":"BTC","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"TRX","bid_asset_decimals":8,"bid_asset_type":"COIN"},"DROPETH":{"name":"TRXETH","ask_asset_symbol":"ETH","ask_asset_decimals":8,"ask_asset_type":"FIAT","bid_asset_symbol":"TRX","bid_asset_decimals":8,"bid_asset_type":"COIN"}}}}'
  recorded_at: Thu, 29 Mar 2018 16:01:04 GMT
recorded_with: VCR 3.0.3
