---
http_interactions:
- request:
    method: get
    uri: https://www.rightbtc.com/api/public/trades/ETHBTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"225a-qp5IXeUrShruCVdAZcOJFwHUukY"
    body:
      encoding: UTF-8
      string: '{"status":{"success":1,"message":null},"result":[{"date":1517633357406,"price":10660026,"amount":2664800000,"tid":53063626,"side":"SELL"},{"date":1517634055325,"price":10502136,"amount":3997700000,"tid":53066861,"side":"SELL"},{"date":1517635054537,"price":10422741,"amount":5345800000,"tid":53071797,"side":"BUY"},{"date":1517635784119,"price":10579992,"amount":1680600000,"tid":53074572,"side":"SELL"},{"date":1517636465061,"price":10637671,"amount":2964900000,"tid":53077597,"side":"SELL"},{"date":1517637616930,"price":10530562,"amount":3312700000,"tid":53082157,"side":"SELL"},{"date":1517638419130,"price":10527716,"amount":[...]
