---
http_interactions:
- request:
    method: get
    uri: https://www.rightbtc.com/api/public/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1791-LHrgmXRS05NQid+3bM/ffBzdYC8"
    body:
      encoding: UTF-8
      string: '{"status":{"success":1,"message":null},"result":[{"market":"CMCETH","date":1517761053958,"sell":15000,"buy":6000,"high":7320,"high24h":10510,"low":7320,"low24h":7320,"last":7320,"last24h":10510,"vol":84889600000,"vol24h":-647515071963},{"market":"CMCBTC","date":1517761054211,"sell":749,"buy":720,"high":784,"high24h":787,"low":672,"low24h":620,"last":728,"last24h":698,"vol":7245337900000,"vol24h":12848293699999},{"market":"MTXETH","date":1517761054511,"sell":200000,"buy":97777,"high":149645,"high24h":195762,"low":149645,"low24h":149645,"last":149645,"last24h":195762,"vol":65265600000,"vol24h":65265600000},{"market":"MTXBTC","date":1517761053188,"sell":9000,"buy":6000,"high":0,"high24h":8919,"low":0,"low24h":6116,[...]
