---
http_interactions:
- request:
    method: get
    uri: https://kline.zbg.com/api/data/v1/tickers?isUseMarketName=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"datas":{"EOP_USDT":[326,"0.0016","0.0024","0.0015","4560.42","6.67","[]","0.0016","0.0024","7.131632"],"EOS_USDT":[333,"5.12","5.798","4.891","10103.9","-12.24","[[1,
        4.994], [2, 5.022], [3, 5.002], [4, 5.189], [5, 5.141], [6, 5.12]]","5.085","5.143","53710.90594"],"UC_ZT":[362,"0.0036","0.0036","0.003","531940.2178","2.86","[[1,
        0.0035], [2, 0.0036]]","0.003","0.0036","1850.4905623"],"SDC_ZT":[368,"0","0","0","0","0.0","[]","0","0","0"],"ETH_USDT":[330,"228.48","257.35","111.72","2058.716","-11.94","[[1,
        224.9], [2, 225.76], [3, 225.01], [4, 230.62], [5, 229.52], [6, 228.48]]","228.46","228.5","473626.8623"],"AIRC_ZT":[369,"0.4","0.5","0.3703","600029.0792","-17.7","[[1,
        0.49], [2, 0.49], [3, 0.4], [4, 0.4]]","0.4","0.464","271998.3812915"],"PCC_USDT":[358,"0.0588","0.0588","0.0588","0.002","0.0","[]","0.0111","0.0588","0.0001176"],"PMD_USDT":[357,"0.271","0.2759","0.255","1088809.9968","1.16","[[1,
        0.27], [2, 0.2729], [3, 0.269], [4, 0.2728], [5, 0.271], [6, 0.271]]","0.269","0.271","293295.14393412"],"DAG_ZT":[363,"0.2098","0.2459","0.1956","282913.65","-14.68","[[1,
        0.2098]]","0.194","0.2099","61655.40876406"],"EON_USDT":[327,"0.0078","0.0078","0.0078","227.7","0.0","[]","0.0079","0.0123","1.77606"],"TRCB_ZT":[352,"2.4649","2.5153","2.455","543137.1126","-1.14","[[1,
        2.49], [2, 2.5005], [3, 2.4998], [4, 2.4552], [5, 2.4649]]","2.4649","2.4858","1353067.8643915"],"ZB_USDT":[321,"0.3392","0.3793","0.3286","36514.2","-10.57","[[1,
        0.3375], [2, 0.3378], [3, 0.339], [4, 0.3392]]","0.3406","0.344","12736.816198"],"ZT_ZB":[345,"0.493","0.5165","0.455","36190055.7758","8.26","[[1,
        0.4881], [2, 0.499], [3, 0.5037], [4, 0.4937], [5, 0.4925], [6, 0.493]]","0.4906","0.493","17701870.97009676"],"BTC_ZT":[337,"38318.7564","55555","36787.4321","0","-31.03","[[1,
        38812.4942], [2, 37692.4752], [3, 37446.6988], [4, 38532.1884], [5, 38509.8537],
        [6, 38318.7564]]","28288.988","55554","6.47727708"],"ETH_QC":[320,"1591.03","1774","1574.86","111.982","-10.31","[[1,
        1574.86], [2, 1591.03]]","1588.08","1604.04","179457.5326"],"MEETONE_USDT":[328,"0.0041","0.0041","0.0041","1426.1","0.0","[]","0.0041","0.0042","5.84701"],"HPC_ZT":[359,"0.072","0.0768","0.07","253994.8838","-2.57","[[1,
        0.0709], [2, 0.0725], [3, 0.0729], [4, 0.0725], [5, 0.0723], [6, 0.072]]","0.07","0.0738","18692.4916904"],"ZB_QC":[322,"2.3666","2.89","2.3581","48486.72","-10.36","[[1,
        2.3706], [2, 2.3761], [3, 2.3666]]","2.3882","2.4148","121281.424034"],"GES_ZT":[351,"0.2562","0.3916","0.2263","312284.4414","-33.92","[[1,
        0.2405], [2, 0.2449], [3, 0.2459], [4, 0.2502], [5, 0.2533], [6, 0.2562]]","0.246","0.3997","92476.75340338"],"KUYC_ZT":[367,"6.02","7.05","5.89","314772.006","-14.85","[[1,
        6.47], [2, 6.41], [3, 6.16], [4, 6.04], [5, 6.03], [6, 6.02]]","6.01","6.02","2053080.6981264"],"XWC_ZT":[361,"0.8","0.86","0.66","2028.782","21.21","[]","0.65","0.8999","1564.91252"],"LST_ZT":[353,"0.1327","0.175","0.1326","13339.6474","0.08","[[1,
        0.175], [2, 0.1327]]","0.1327","0.174","2094.93070076"],"SUPM_ZT":[365,"1.1143","1.7193","0.9564","888363.9072","-33.1","[[1,
        1.0528], [2, 1.019], [3, 1.0464], [4, 1.0637], [5, 1.0591], [6, 1.1143]]","1.05","1.1209","1180512.89319684"],"IQ_USDT":[325,"0.0066","0.0068","0.0065","214547.98","-2.94","[]","0.0067","0.0111","1446.208132"],"ACG_ZT":[349,"0.14","0.1472","0.1399","1325849.5868","-3.38","[[1,
        0.1471], [2, 0.14], [3, 0.14]]","0.131","0.1399","194441.92327176"],"ZT_QC":[364,"1.1765","1.2572","1.1295","728073.2448","-2.93","[[1,
        1.1803], [2, 1.2028], [3, 1.1882], [4, 1.194], [5, 1.1763], [6, 1.1765]]","1.1621","1.1902","871031.84418608"],"BOX_ZT":[366,"1.8","1.9","1.77","8231.3042","1.69","[]","1.8","1.9899","15180.408434"],"ADD_USDT":[324,"0.0024","0.0024","0.0024","210.84","0.0","[]","0.0024","0.0036","0.506016"],"BTC_USDT":[329,"6441.81","7010.67","6298.18","6.006","-8.18","[[1,
        6378.66], [2, 6425.29], [3, 6411.66], [4, 6488.84], [5, 6475.24], [6, 6441.81]]","6398.52","6477.5","40165.178738"],"LTC_USDT":[331,"55.62","62.62","54","159.122","-11.25","[[1,
        54.83], [2, 55.06], [3, 54.93], [4, 56.41], [5, 56.11], [6, 55.62]]","55.23","55.98","9078.13026"],"PMD_ZT":[346,"1.6","1.74","1.495","402598.6008","4.73","[[1,
        1.668], [2, 1.7], [3, 1.72], [4, 1.62], [5, 1.6]]","1.53","1.6","655228.91069674"],"ABC_USDT":[356,"0.144","0.1441","0.1391","2177943.9646","0.63","[[1,
        0.1419], [2, 0.1419], [3, 0.1419], [4, 0.1441], [5, 0.144], [6, 0.144]]","0.1399","0.144","308301.42851392"],"ZB_BTC":[323,"0.00005382","0","0","0","0.0","[]","0.00005292","0.00005393","0"],"ZT_USDT":[336,"0.1684","0.1806","0.1603","2435501.788","-3.5","[[1,
        0.1647], [2, 0.1713], [3, 0.1715], [4, 0.1696], [5, 0.168], [6, 0.1684]]","0.1675","0.1684","412462.52816952"],"PCC_ZT":[350,"0.1334","0.1334","0.1334","2.2","0.0","[[1,
        0.1334]]","0.1266","0.1334","0.29348"],"ABC_ZT":[347,"0.8539","0.8588","0.76","469564.5998","6.86","[[1,
        0.8573], [2, 0.855], [3, 0.8539], [4, 0.8539]]","0.812","0.8539","390769.90278352"],"BTMC_ZT":[354,"3.41","3.42","3","40573.301","-1.16","[[1,
        3.367], [2, 3.36], [3, 3.372], [4, 3.408], [5, 3.41]]","3","3.4199","138073.77923636"],"RATING_ZT":[348,"0.0035","0.0048","0.0035","91925.1304","-18.6","[]","0.0035","0.0049","377.49943592"]},"resMsg":{"code":"1","method":null,"message":"success
        !"}}'
  recorded_at: Thu, 06 Sep 2018 15:16:27 GMT
recorded_with: VCR 4.0.0
