---
http_interactions:
- request:
    method: get
    uri: https://kline.zbg.com/api/data/v1/tickers?isUseMarketName=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"datas":{"EOP_USDT":[326,"0.0016","0","0","0","0.0","[]","0.0018","0.0024","0"],"EOS_USDT":[333,"5.061","5.341","4.972","4473.14","-0.1","[[1,
        5.246], [2, 5.287], [3, 5.188], [4, 5.197], [5, 5.083], [6, 5.061]]","5.055","5.089","23055.16658"],"UC_ZT":[362,"0.0035","0.0036","0.0035","23025.1892","0.0","[[1,
        0.0035]]","0.003","0.0035","80.6081622"],"SDC_ZT":[368,"0","0","0","0","0.0","[]","0","0","0"],"ETH_USDT":[330,"224.24","234.57","220.82","1103.844","-2.07","[[1,
        229.29], [2, 231.32], [3, 228], [4, 226.02], [5, 224.03], [6, 224.24]]","223.85","224.47","251375.77436"],"AIRC_ZT":[369,"0.4895","0.49","0.3706","236998.7614","16.55","[[1,
        0.485], [2, 0.49], [3, 0.4898], [4, 0.4895]]","0.489","0.4891","105181.3502545"],"PCC_USDT":[358,"0.0588","0","0","0","0.0","[]","0.0111","0.0588","0"],"PMD_USDT":[357,"0.2697","0.2778","0.26","799906.2396","-0.04","[[1,
        0.27], [2, 0.27], [3, 0.2675], [4, 0.264], [5, 0.264], [6, 0.2697]]","0.2631","0.2696","216881.69906812"],"DAG_ZT":[363,"0.2084","0.2099","0.2082","567607.546","-0.67","[[1,
        0.2089], [2, 0.2083], [3, 0.2083], [4, 0.2083], [5, 0.2083], [6, 0.2084]]","0.1911","0.2085","118427.16904868"],"EON_USDT":[327,"0.0074","0.0123","0.0074","21408.04","-6.33","[]","0.0075","0.0122","166.246972"],"TRCB_ZT":[352,"2.4256","2.5258","2.41","316908.1406","-2.59","[[1,
        2.4813], [2, 2.4456], [3, 2.41], [4, 2.4256]]","2.4256","2.4568","781256.76513232"],"ZB_USDT":[321,"0.3448","0.353","0.3286","21739.02","0.76","[[1,
        0.3525], [2, 0.346], [3, 0.345], [4, 0.3448]]","0.3361","0.3407","7520.740318"],"ZT_ZB":[345,"0.4794","0.505","0.4666","25599245.5432","-4.1","[[1,
        0.4808], [2, 0.4807], [3, 0.4839], [4, 0.4772], [5, 0.4784], [6, 0.4794]]","0.4745","0.485","12343943.42386212"],"BTC_ZT":[337,"39701.6361","40154.7824","36787.4321","0","3.89","[[1,
        38256.0034], [2, 38428.4442], [3, 39673.8565], [4, 39690.8047], [5, 39706.9294],
        [6, 39701.6361]]","28888.8888","55554","1.81208974"],"ETH_QC":[320,"1591.03","1591.03","1574.86","0.24","-0.25","[]","1558","1574.81","380.5296"],"MEETONE_USDT":[328,"0.0041","0","0","0","0.0","[]","0.0041","0.0042","0"],"HPC_ZT":[359,"0.0703","0.0736","0.07","217693.497","-2.9","[[1,
        0.0702], [2, 0.0721], [3, 0.0722], [4, 0.0703], [5, 0.0703], [6, 0.0703]]","0.0703","0.074","15655.41221766"],"ZB_QC":[322,"2.3617","2.4767","2.3605","4130.58","-1.27","[[1,
        2.4665], [2, 2.4667], [3, 2.4179], [4, 2.4255], [5, 2.3617]]","2.3545","2.3804","9989.047904"],"GES_ZT":[351,"0.2695","0.3996","0.2372","425695.4172","12.48","[[1,
        0.2615], [2, 0.2634], [3, 0.265], [4, 0.2692], [5, 0.2683], [6, 0.2695]]","0.267","0.28","111053.23093396"],"KUYC_ZT":[367,"5.37","6.51","5.22","286871.1768","-18.02","[[1,
        5.29], [2, 5.25], [3, 5.26], [4, 5.33], [5, 5.34], [6, 5.37]]","5.36","5.37","1658270.297152"],"XWC_ZT":[361,"0.8987","0.8987","0.65","23.8962","12.34","[[1,
        0.65], [2, 0.8987]]","0.65","0.8986","20.50653"],"LST_ZT":[353,"0.174","0.175","0.1327","12892.4872","10.55","[]","0.1328","0.174","2035.71509328"],"SUPM_ZT":[365,"1.1302","1.2012","0.991","917565.6148","1.92","[[1,
        1.1111], [2, 1.1021], [3, 1.1631], [4, 1.1669], [5, 1.1257], [6, 1.1302]]","1.121","1.1333","996671.98917912"],"IQ_USDT":[325,"0.0065","0.0067","0.0065","109388.56","-2.99","[]","0.0066","0.0097","721.422488"],"ACG_ZT":[349,"0.1472","0.1472","0.131","1218128.9886","0.07","[[1,
        0.1472]]","0.1322","0.1471","177195.28900448"],"ZT_QC":[364,"1.1201","1.277","1.0919","194666.0746","-3.53","[[1,
        1.1816], [2, 1.1834], [3, 1.1363], [4, 1.1524], [5, 1.1306], [6, 1.1201]]","1.0888","1.149","227010.3933842"],"BOX_ZT":[366,"1.7","1.8","1.61","5692.6882","-5.56","[]","1.6","1.9899","9434.83876"],"ADD_USDT":[324,"0.0024","0.0024","0.0024","762","0.0","[[1,
        0.0024]]","0.0024","0.0036","1.8288"],"BTC_USDT":[329,"6444.02","6542.13","6300","4.0044","0.26","[[1,
        6490.06], [2, 6520.59], [3, 6478.08], [4, 6486.94], [5, 6456.97], [6, 6444.02]]","6420.02","6481.85","25850.478966"],"LTC_USDT":[331,"56.23","58.54","54.76","95.412","1.59","[[1,
        57.49], [2, 57.81], [3, 56.95], [4, 56.92], [5, 56.42], [6, 56.23]]","55.88","56.66","5400.54418"],"PMD_ZT":[346,"1.64","1.7204","1.5201","307984.2818","2.5","[[1,
        1.6], [2, 1.6], [3, 1.59], [4, 1.61], [5, 1.64]]","1.625","1.64","504127.70804386"],"ABC_USDT":[356,"0.143","0.1444","0.1391","1388817.736","0.85","[[1,
        0.1437], [2, 0.1437], [3, 0.1436], [4, 0.1433], [5, 0.1436], [6, 0.143]]","0.1391","0.143","198140.5022264"],"ZB_BTC":[323,"0.0000532","0.0000532","0.0000532","1000","0.0","[[1,
        0.0000532]]","0.00005233","0.00005343","0.0532"],"ZT_USDT":[336,"0.1637","0.1749","0.1607","1104271.8112","-2.85","[[1,
        0.1699], [2, 0.1708], [3, 0.1675], [4, 0.1638], [5, 0.1634], [6, 0.1637]]","0.1609","0.1637","185257.83963992"],"PCC_ZT":[350,"0.1334","0.1334","0.1334","2","0.0","[]","0.1266","0.1334","0.2668"],"ABC_ZT":[347,"0.8887","0.8888","0.81","182622.3078","3.66","[[1,
        0.8536], [2, 0.8122], [3, 0.8542], [4, 0.8599], [5, 0.8887]]","0.8301","0.8887","156595.29508034"],"BTMC_ZT":[354,"3.4192","3.4199","3.02","144803.0506","0.62","[[1,
        3.41], [2, 3.418], [3, 3.4184], [4, 3.4188], [5, 3.4191], [6, 3.4192]]","3","3.4199","492705.1172128"],"RATING_ZT":[348,"0.0036","0.0036","0.0036","200","0.0","[]","0.0037","0.0047","0.72"]},"resMsg":{"code":"1","method":null,"message":"success
        !"}}'
  recorded_at: Fri, 07 Sep 2018 09:25:37 GMT
recorded_with: VCR 4.0.0
