---
http_interactions:
- request:
    method: get
    uri: https://kline.zbg.com/api/data/v1/entrusts?marketName=ETH_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"datas":{"asks":[["426.61","0.127"],["422.74","0.125"],["314.4","0.086"],["310.53","0.085"],["306.66","0.084"],["302.79","0.083"],["298.92","0.082"],["295.05","0.081"],["291.18","0.081"],["287.31","0.08"],["286","1.185"],["283.44","0.079"],["280.11","1.805"],["279.57","0.078"],["275.7","0.077"],["271.83","0.077"],["267.96","0.076"],["264.09","0.075"],["260.22","0.074"],["256.35","0.074"],["252.48","0.073"],["248.61","0.072"],["244.74","0.072"],["240.88","0.071"],["238","2"],["237.01","0.07"],["234.5","2.439"],["232.83","1.612"],["232","0.804"],["226.33","0.06"],["226.31","0.005"],["226.26","0.048"],["226.21","0.1"],["226.19","0.1"],["225.29","0.01"],["224.8","0.142"]],"bids":[["224.33","0.01"],["223.6","0.1"],["223.5","0.15"],["223.42","0.1"],["223.41","0.048"],["223.38","0.025"],["223.37","0.004"],["223.36","0.004"],["220","5.67"],["212.32","0.094"],["208.86","0.096"],["205.39","0.097"],["205","0.68"],["202","5"],["201.93","0.099"],["201.8","1.26"],["201.3","0.398"],["201.14","5.919"],["201","10"],["200","10"],["198.46","0.101"],["194.99","0.103"],["191.53","0.104"],["188.06","0.106"],["184.59","0.108"],["181.13","0.11"],["177.66","0.113"],["174.19","0.115"],["170.73","0.117"],["167.26","0.12"],["163.79","0.122"],["160.33","0.125"],["156.86","0.128"],["153.39","0.13"],["150","10"],["149.93","0.133"],["146.46","0.137"],["142.99","0.14"],["139.53","0.143"],["136.06","0.147"],["132.59","0.151"],["129.13","0.155"],["125.66","0.159"],["122.2","0.164"],["118.73","0.168"],["115.26","0.174"],["111.8","0.179"],["108.33","0.185"],["104.86","0.191"],["101.4","0.197"]],"timestamp":"1536313846"},"resMsg":{"code":"1","method":null,"message":"success
        !"}}'
  recorded_at: Fri, 07 Sep 2018 09:50:47 GMT
recorded_with: VCR 4.0.0
