---
http_interactions:
- request:
    method: get
    uri: https://api.buyucoin.com/ticker/v1.0/liveData?symbol=INR-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"182-1AXediqnVI61SPvwNWYwl4HPSKE"
    body:
      encoding: UTF-8
      string: '{"status":"success","sub_status":null,"data":[{"bid":"705461.6","ask":"753308.5","sprd":"6.351","tVolAsk":"1.34074093","tVolBid":"6.20196232","h24":"743423","l24":"718888","v24":"7.088474","tp24":"5219768.7993760","LTRate":"730483.8","LTVol":"0.007093","LBRate":"730483.8","LBVol":"0.007093","LSRate":"730483.8","LSVol":"0.007093","c24":"11595.8","c24p":"1.61","marketName":"INR-BTC"}]}'
  recorded_at: Fri, 29 May 2020 11:23:35 GMT
recorded_with: VCR 4.0.0
