---
http_interactions:
- request:
    method: get
    uri: https://www.buyucoin.com/api/v1.2/currency/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"data\": {\n    \"ark_inr\": {\n      \"ask\": 110.0, \n      \"bid\":
        28.0, \n      \"change\": \"-0.89\", \n      \"high_24\": \"215.0000\", \n
        \     \"last_trade\": \"114.0000\", \n      \"low_24\": \"114.0000\", \n      \"vol\":
        4972.14084417\n    }, \n    \"bat_inr\": {\n      \"ask\": 10.0, \n      \"bid\":
        6.0, \n      \"change\": \"-1.50\", \n      \"high_24\": \"15.0000\", \n      \"last_trade\":
        \"6.0000\", \n      \"low_24\": \"1.0000\", \n      \"vol\": 12551.01306287\n
        \   }, \n    \"bcc_inr\": {\n      \"ask\": 46870.0, \n      \"bid\": 16100.0,
        \n      \"change\": \"-2.60\", \n      \"high_24\": \"47000.0000\", \n      \"last_trade\":
        \"11500.0000\", \n      \"low_24\": \"5711.0000\", \n      \"vol\": -0.541181\n
        \   }, \n    \"btc_inr\": {\n      \"ask\": 425000.0, \n      \"bid\": 350500.0,
        \n      \"change\": \"0.06\", \n      \"high_24\": \"0.0000\", \n      \"last_trade\":
        \"425000.0000\", \n      \"low_24\": \"0.0000\", \n      \"vol\": 26.11519018\n
        \   }, \n    \"bts_inr\": {\n      \"ask\": 9.0, \n      \"bid\": 8.99, \n
        \     \"change\": \"0.28\", \n      \"high_24\": \"8.9900\", \n      \"last_trade\":
        \"8.9900\", \n      \"low_24\": \"3.5000\", \n      \"vol\": 41283.4816526\n
        \   }, \n    \"cloak_inr\": {\n      \"ask\": 350.0, \n      \"bid\": 6.0,
        \n      \"change\": \"-1.20\", \n      \"high_24\": \"350.0000\", \n      \"last_trade\":
        \"159.0000\", \n      \"low_24\": \"159.0000\", \n      \"vol\": 2027.31333146\n
        \   }, \n    \"cvc_inr\": {\n      \"ask\": 14.0, \n      \"bid\": 2.15, \n
        \     \"change\": \"-6.25\", \n      \"high_24\": \"15.0000\", \n      \"last_trade\":
        \"2.0700\", \n      \"low_24\": \"2.0700\", \n      \"vol\": 11379.77420571\n
        \   }, \n    \"dash_inr\": {\n      \"ask\": 20700.0, \n      \"bid\": 1211.0,
        \n      \"change\": \"-0.30\", \n      \"high_24\": \"26901.0000\", \n      \"last_trade\":
        \"20700.0000\", \n      \"low_24\": \"20700.0000\", \n      \"vol\": 60.49869973\n
        \   }, \n    \"dcn_inr\": {\n      \"ask\": 0.034, \n      \"bid\": 0.025,
        \n      \"change\": \"0.17\", \n      \"high_24\": \"0.0350\", \n      \"last_trade\":
        \"0.0340\", \n      \"low_24\": \"0.0210\", \n      \"vol\": 8904591.713617\n
        \   }, \n    \"dgb_inr\": {\n      \"ask\": 1.054, \n      \"bid\": 0.671,
        \n      \"change\": \"-0.28\", \n      \"high_24\": \"1.4500\", \n      \"last_trade\":
        \"1.0580\", \n      \"low_24\": \"0.5200\", \n      \"vol\": 299769.7526756\n
        \   }, \n    \"doge_inr\": {\n      \"ask\": 0.189, \n      \"bid\": 0.121,
        \n      \"change\": \"0.65\", \n      \"high_24\": \"0.2000\", \n      \"last_trade\":
        \"0.1930\", \n      \"low_24\": \"0.1000\", \n      \"vol\": 577593.03438147\n
        \   }, \n    \"etc_inr\": {\n      \"ask\": 1001.0, \n      \"bid\": 850.0,
        \n      \"change\": \"-0.74\", \n      \"high_24\": \"1740.0000\", \n      \"last_trade\":
        \"1001.0000\", \n      \"low_24\": \"850.0000\", \n      \"vol\": 1974.51680096\n
        \   }, \n    \"eth_inr\": {\n      \"ask\": 23500.0, \n      \"bid\": 10400.0,
        \n      \"change\": \"-0.04\", \n      \"high_24\": \"25000.0000\", \n      \"last_trade\":
        \"24000.0000\", \n      \"low_24\": \"5000.0000\", \n      \"vol\": 66.25140619\n
        \   }, \n    \"fct_inr\": {\n      \"ask\": 2350.0, \n      \"bid\": 31.0,
        \n      \"change\": \"0.00\", \n      \"high_24\": \"900.0000\", \n      \"last_trade\":
        \"900.0000\", \n      \"low_24\": \"900.0000\", \n      \"vol\": 4492.81620708\n
        \   }, \n    \"gnt_inr\": {\n      \"ask\": 9.5, \n      \"bid\": 4.7, \n
        \     \"change\": \"-2.71\", \n      \"high_24\": \"16.6962\", \n      \"last_trade\":
        \"4.5000\", \n      \"low_24\": \"4.5000\", \n      \"vol\": 98681.72768322\n
        \   }, \n    \"lsk_inr\": {\n      \"ask\": 580.0, \n      \"bid\": 161.0,
        \n      \"change\": \"-3.07\", \n      \"high_24\": \"651.0000\", \n      \"last_trade\":
        \"160.0000\", \n      \"low_24\": \"120.0000\", \n      \"vol\": 419.4379381\n
        \   }, \n    \"ltc_inr\": {\n      \"ask\": 7849.0, \n      \"bid\": 5000.0,
        \n      \"change\": \"0.15\", \n      \"high_24\": \"7900.0000\", \n      \"last_trade\":
        \"6550.0000\", \n      \"low_24\": \"3000.0000\", \n      \"vol\": 122.72635179\n
        \   }, \n    \"neo_inr\": {\n      \"ask\": 3449.0, \n      \"bid\": 1200.0,
        \n      \"change\": \"-2.51\", \n      \"high_24\": \"3900.0000\", \n      \"last_trade\":
        \"1112.0000\", \n      \"low_24\": \"1001.0000\", \n      \"vol\": 1086.45720006\n
        \   }, \n    \"nxt_inr\": {\n      \"ask\": 8.14, \n      \"bid\": 5.5, \n
        \     \"change\": \"0.62\", \n      \"high_24\": \"8.1400\", \n      \"last_trade\":
        \"8.1400\", \n      \"low_24\": \"5.0100\", \n      \"vol\": 130140.82218605\n
        \   }, \n    \"omg_inr\": {\n      \"ask\": 615.0, \n      \"bid\": 21.0,
        \n      \"change\": \"-0.67\", \n      \"high_24\": \"950.0000\", \n      \"last_trade\":
        \"570.0000\", \n      \"low_24\": \"570.0000\", \n      \"vol\": 2913.87762095\n
        \   }, \n    \"pay_inr\": {\n      \"ask\": 85.0, \n      \"bid\": 26.0, \n
        \     \"change\": \"-2.86\", \n      \"high_24\": \"85.0000\", \n      \"last_trade\":
        \"22.0000\", \n      \"low_24\": \"22.0000\", \n      \"vol\": 3495.79907615\n
        \   }, \n    \"pivx_inr\": {\n      \"ask\": 320.0, \n      \"bid\": 120.0,
        \n      \"change\": \"-0.10\", \n      \"high_24\": \"301.0000\", \n      \"last_trade\":
        \"274.0000\", \n      \"low_24\": \"274.0000\", \n      \"vol\": 10803.53818667\n
        \   }, \n    \"qtum_inr\": {\n      \"ask\": 1500.0, \n      \"bid\": 351.0,
        \n      \"change\": \"0.00\", \n      \"high_24\": \"766.0000\", \n      \"last_trade\":
        \"766.0000\", \n      \"low_24\": \"105.0000\", \n      \"vol\": 882.34891848\n
        \   }, \n    \"rep_inr\": {\n      \"ask\": 1838.0, \n      \"bid\": 1821.0,
        \n      \"change\": \"0.00\", \n      \"high_24\": \"1838.0000\", \n      \"last_trade\":
        \"1838.0000\", \n      \"low_24\": \"1837.0000\", \n      \"vol\": 9803.11287778\n
        \   }, \n    \"sc_inr\": {\n      \"ask\": 1.0, \n      \"bid\": 0.472, \n
        \     \"change\": \"0.90\", \n      \"high_24\": \"0.0000\", \n      \"last_trade\":
        \"0.9500\", \n      \"low_24\": \"0.0000\", \n      \"vol\": 553158.48787213\n
        \   }, \n    \"steem_inr\": {\n      \"ask\": 98.0, \n      \"bid\": 65.0,
        \n      \"change\": \"-0.02\", \n      \"high_24\": \"0.0000\", \n      \"last_trade\":
        \"99.0000\", \n      \"low_24\": \"0.0000\", \n      \"vol\": 5132.35629705\n
        \   }, \n    \"strat_inr\": {\n      \"ask\": 300.0, \n      \"bid\": 100.0,
        \n      \"change\": \"-0.90\", \n      \"high_24\": \"619.5000\", \n      \"last_trade\":
        \"300.0000\", \n      \"low_24\": \"300.0000\", \n      \"vol\": 4311.28336799\n
        \   }, \n    \"xem_inr\": {\n      \"ask\": 13.9, \n      \"bid\": 5.53, \n
        \     \"change\": \"0.01\", \n      \"high_24\": \"16.0000\", \n      \"last_trade\":
        \"5.5300\", \n      \"low_24\": \"4.7100\", \n      \"vol\": 90798.58782008\n
        \   }, \n    \"xmr_inr\": {\n      \"ask\": 9000.0, \n      \"bid\": 1802.0,
        \n      \"change\": \"-0.41\", \n      \"high_24\": \"14100.0000\", \n      \"last_trade\":
        \"10000.0000\", \n      \"low_24\": \"10000.0000\", \n      \"vol\": 23.7249433\n
        \   }, \n    \"xrp_inr\": {\n      \"ask\": 30.5, \n      \"bid\": 30.0, \n
        \     \"change\": \"0.58\", \n      \"high_24\": \"0.0000\", \n      \"last_trade\":
        \"29.9400\", \n      \"low_24\": \"0.0000\", \n      \"vol\": -686453.03309185\n
        \   }, \n    \"zec_inr\": {\n      \"ask\": 17000.0, \n      \"bid\": 1601.0,
        \n      \"change\": \"-0.25\", \n      \"high_24\": \"21950.0000\", \n      \"last_trade\":
        \"17500.0000\", \n      \"low_24\": \"1112.0000\", \n      \"vol\": -51.4488202\n
        \   }\n  }, \n  \"success\": \"True\"\n}\n"
  recorded_at: Sat, 07 Apr 2018 09:05:50 GMT
recorded_with: VCR 4.0.0
