---
http_interactions:
- request:
    method: get
    uri: https://api.buyucoin.com/ticker/v1.0/liveData
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2909-kQF7F9H8f2nCAwbwjxcKtzNz8+s"
    body:
      encoding: UTF-8
      string: '{"status":"success","sub_status":null,"data":[{"bid":"8453","ask":"10152.1","sprd":"16.736","tVolAsk":"0.45099281","tVolBid":"0.88670581","h24":"9635.1","l24":"9386","v24":"9.953356","tp24":"94430.0912480","LTRate":"9495.6","LTVol":"0.002","LBRate":"9495.6","LBVol":"0.002","LSRate":"9495.6","LSVol":"0.002","c24":"-85.5","c24p":"-0.89","marketName":"USDT-BTC"},{"bid":"705462","ask":"753308.5","sprd":"6.351","tVolAsk":"1.34074093","tVolBid":"6.20496232","h24":"742698.6","l24":"727843","v24":"7.536752","tp24":"5538505.9385410","LTRate":"735586.3","LTVol":"0.002","LBRate":"735586.3","LBVol":"0.002","LSRate":"735586.3","LSVol":"0.002","c24":"-6956.5","c24p":"-0.93","marketName":"INR-BTC"},{"bid":"183.3","ask":"229.5","sprd":"20.13","tVolAsk":"41.349059","tVolBid":"70.998418","h24":"227.1","l24":"219.1","v24":"741.491236","tp24":"164296.7164071[...]
