---
http_interactions:
- request:
    method: get
    uri: https://api.buyucoin.com/ticker/v1.0/liveData
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2943-xq4yS5uMbM32eyFF45tnXyJZLnQ"
    body:
      encoding: UTF-8
      string: '{"status":"success","sub_status":null,"data":[{"bid":"8453","ask":"10152.1","sprd":"16.736","tVolAsk":"0.45099281","tVolBid":"0.88670581","h24":"9666","l24":"9260.6","v24":"10.914300","tp24":"103754.8448425","LTRate":"9433.3","LTVol":"0.1","LBRate":"9433.3","LBVol":"0.1","LSRate":"9433.3","LSVol":"0.1","c24":"163","c24p":"1.75","marketName":"USDT-BTC"},{"bid":"731605.6","ask":"753308.5","sprd":"2.881","tVolAsk":"1.34074093","tVolBid":"6.20496232","h24":"743423","l24":"718888","v24":"7.088474","tp24":"5219768.7993760","LTRate":"730483.8","LTVol":"0.007093","LBRate":"730483.8","LBVol":"0.007093","LSRate":"730483.8","LSVol":"0.007093","c24":"11595.8","c24p":"1.61","marketName":"INR-BTC"},{"bid":"183.3","ask":"229.5","sprd":"20.13","tVolAsk":"41.349059","tVolBid":"70.998418","h24":"225.6","l24":"208","v24":"910.103558","tp24":"198438.4[...]
