---
http_interactions:
- request:
    method: get
    uri: https://api.probit.com/api/exchange/v1/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75b3-sIkgFHi0Ky/XbbIv/UPN6n5CdGY"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ETH-BTC","base_currency_id":"ETH","quote_currency_id":"BTC","min_price":"0.00000001","max_price":"9999999999999999","price_increment":"0.00000001","min_quantity":"0.00000001","max_quantity":"9999999999999999","quantity_precision":8,"min_cost":"0","max_cost":"9999999999999999","cost_precision":8,"taker_fee_rate":"0.1","maker_fee_rate":"0.05","closed":false},{"id":"XRP-BTC","base_currency_id":"XRP","quote_currency_id":"BTC","min_price":"0.00000001","max_price":"9999999999999999","price_increment":"0.00000001","min_quantity":"0.00000001","max_quantity":"9999999999999999","quantity_precision":8,"min_cost":"0","max_cost":"9999999999999999","cost_precision":8,"taker_fee_rate":"0.1","maker_fee_rate":"0.05","closed":false},{"id":"EOS-BTC","base_currency_id":"EOS","quote_currency_id":"BTC","min_price":"0.00000001","max_price":"9999999999999999","pri[...]
