---
http_interactions:
- request:
    method: get
    uri: https://api.probit.com/api/exchange/v1/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e55-4Z6eZKNmbCC6X3W7ff3uRNf1nTM"
    body:
      encoding: UTF-8
      string: '{"data":[{"last":"0.0343305","low":"0.034134","high":"0.034498","change":"-0.0001","base_volume":"112.38899847","quote_volume":"3.8583553121279844","market_id":"ETH-BTC","time":"2019-03-12T06:43:11.000Z"},{"last":"0.00008212","low":"0.00008033","high":"0.00008212","change":"0.0000001","base_volume":"66.6","quote_volume":"0.0054172124516921","market_id":"XRP-BTC","time":"2019-03-12T04:52:45.000Z"},{"last":"0.0009211","low":"0.00091377","high":"0.0045417","change":"-0.0000254","base_volume":"578.44484933","quote_volume":"0.5603644981898573","market_id":"EOS-BTC","time":"2019-03-12T02:04:10.000Z"},{"last":"0.02681244","low":"0.02661824","high":"0.0273975","change":"-0.000[...]
