---
http_interactions:
- request:
    method: get
    uri: https://api.probit.com/api/exchange/v1/order_book?market_id=BTC-USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1918-QWWLn2nXFfRuId6Wc7X86bOEQAI"
    body:
      encoding: UTF-8
      string: '{"data":[{"side":"sell","price":"19580","quantity":"0.00181549"},{"side":"sell","price":"14580","quantity":"0.0001"},{"side":"sell","price":"2970000","quantity":"0.002"},{"side":"buy","price":"7017","quantity":"0.001"},{"side":"buy","price":"7217","quantity":"0.001"},{"side":"buy","price":"5147","quantity":"0.00388575"},{"side":"sell","price":"19977","quantity":"0.01"},{"side":"buy","price":"1210","quantity":"0.005"},{"side":"sell","price":"15458","quantity":"0.0001"},{"side":"buy","price":"4117","quantity":"0.00034689"},{"side":"sell","price":"[...]
