---
http_interactions:
- request:
    method: get
    uri: https://third.bitker.com/api/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"timestamp":1565671446,"ticker":[{"symbol":"ETC_ETH","last":0.02764,"buy":0.02663,"sell":0.02864,"high":0.027816,"low":0.026977,"vol":4599112.3445,"change":"1.67%"},{"symbol":"ETH_BTC","last":0.01844496,"buy":0.01718919,"sell":0.01969177,"high":0.02,"low":0.01698045,"vol":143913.625506,"change":"-1.34%"},{"symbol":"ETH_USDT","last":208.9848,"buy":208.9848,"sell":209.975,"high":214.8164,"low":208.3892,"vol":486548.353148,"change":"-2.31%"},{"symbol":"LTC_BTC","last":0.007411,"buy":0.006909,"sell":0.00791899,"high":0.007762,"low":0.007405,"vol":224251.44,"change":"-4.25%"},{"symbol":"XRP_BTC","last":2.618e-5,"buy":2.473e-5,"sell":2.894e-5,"high":2.65[...]
