---
http_interactions:
- request:
    method: get
    uri: https://third.bitker.com/v1/api/allticker/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"date":1539093275,"ticker":[{"symbol":"ETC_BTC","last":0.001646,"buy":0.001642,"sell":0.001655,"high":0.00165475,"low":0.00163765,"vol":311366.91},{"symbol":"ETH_BTC","last":0.034347,"buy":0.03434451,"sell":0.034443,"high":0.034711,"low":0.0342877,"vol":29126.1874},{"symbol":"BCH_BTC","last":0.078241,"buy":0.07821426,"sell":0.07826431,"high":0.079773,"low":0.07809,"vol":14235.544},{"symbol":"BCH_USDT","last":518.4755,"buy":518.4623,"sell":518.4828,"high":535.3021,"low":517.0731,"vol":15935.139},{"symbol":"LTC_BTC","last":0.008858,"buy":0.00883338,"sell":0.00889744,"high":0.008989,"low":0.008813,"vol":17234.01},{"symbol":"QTUM_BT[...]
