---
http_interactions:
- request:
    method: get
    uri: https://stat-api.deex.exchange:2087/api/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result": [{"BaseCurrency": "CVN", "MarketCurrencyFullName": "DEEX",
        "Active": true, "MarketCurrency": "DEEX"}, {"BaseCurrency": "RUBLE", "MarketCurrencyFullName":
        "DEEX", "Active": true, "MarketCurrency": "DEEX"}, {"BaseCurrency": "DEEX.LTC",
        "MarketCurrencyFullName": "DEEX", "Active": true, "MarketCurrency": "DEEX"},
        {"BaseCurrency": "BTS", "MarketCurrencyFullName": "DEEX", "Active": true,
        "MarketCurrency": "DEEX"}, {"BaseCurrency": "DONGFENG", "MarketCurrencyFullName":
        "DEEX", "Active": true, "MarketCurrency": "DEEX"}, {"BaseCurrency": "USD",
        "M[...]
