---
http_interactions:
- request:
    method: get
    uri: https://stat-api.deex.exchange:2087/get_market_data/DEEX/BTC/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"latest": "833333.095984", "quote_volume": "0.000000", "base_volume":
        "0.000000", "base": "DEEX", "quote": "BTC", "time": "2018-09-27T16:04:08",
        "highest_bid": "11111.115855", "lowest_ask": "200000000.000000"}'
  recorded_at: Thu, 27 Sep 2018 16:04:09 GMT
recorded_with: VCR 4.0.0
