---
http_interactions:
- request:
    method: get
    uri: https://api.ercdex.com/api/token-pair-summaries/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"tokenPair":{"tokenA":{"id":14,"dateCreated":"2018-05-24T13:13:20.524Z","dateUpdated":"2018-05-24T13:13:20.524Z","address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","symbol":"WETH","name":"Wrapped
        Ether","decimals":18,"networkId":1,"quoteable":true},"tokenB":{"id":15,"dateCreated":"2018-05-24T13:13:20.634Z","dateUpdated":"2018-05-24T13:13:20.634Z","address":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","symbol":"DAI","name":"Dai
        Stablecoin 1.0","decimals":18,"networkId":1,"quoteable":true},"minimumQuantity":"0","baseVolume":"0","quoteVolume":"0","priceDecimals":2},"ask":"0.00140001","bid":"0.00163882"},{"tokenPair":{"tokenA":{"id":16,"dateCreated":"2018-05-24T13:13:20.747Z","dateUpdated":"2018-05-24T13:13:20.747Z","address":"0xd26114cd6ee289accf82350c8d8487fedb8a0c07","symbol":"OMG","name":"OmiseGO","decimals":18,"networkId":1,"quoteable":false},"tokenB":{"id":14,"dateCreated":"2018-05-24T13:13:20.524Z","dateUpdated":"2018-05-24T13:13:20.524Z","address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","symbol":"WETH","name":"Wrapped
        Ether","decimals":18,"networkId":1,"quoteab[...]
- request:
    method: post
    uri: https://api.ercdex.com/api/reports/historical
    body:
      encoding: UTF-8
      string: '{"baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","networkId":1,"startDate":"2018-06-03T10:58:46Z"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"open":617.91,"close":617.88,"high":617.91,"low":617.87,"volume":113.89,"date":"2018-06-03T10:59:00.000Z"},{"open":617.88,"close":618.28,"high":618.29,"low":617.88,"volume":146.83,"date":"2018-06-03T11:00:00.000Z"},{"open":618.38,"close":618.63,"high":618.65,"low":618.37,"volume":215.21,"date":"2018-06-03T11:01:00.000Z"},{"open":618.63,"close":618.82,"high":618.82,"low":618.57,"volume":316.81,"date":"2018-06-03T11:02:00.000Z"},{"open":618.89,"close":618.71,"high":618.9,"low":618.67,"volume":63.71,"date":"2018-06-03T11:03:00.000Z"},{"open":618.76,"close":618.76,"high":619.1[...]
