---
http_interactions:
- request:
    method: get
    uri: https://api.ercdex.com/api/aggregated_orders?baseTokenAddress=0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2&networkId=1&quoteTokenAddress=0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"buys":{"priceLevels":[{"price":"617.71701962","volume":"17807506755709681703","volumeRatio":0.8903753377854841},{"price":"610.1959600000000000025","volume":"17125645997394017489","volumeRatio":0.8562822998697008}]},"sells":{"priceLevels":[{"price":"714.28","volume":"1000000000000000000","volumeRatio":0.05},{"price":"627.52404","volume":"19000000000000000000","volumeRatio":0.95},{"price":"625.48299296","volume":"20000000000000000000","volumeRatio":1}]}}'
  recorded_at: Sun, 03 Jun 2018 11:19:06 GMT
recorded_with: VCR 4.0.0
