---
http_interactions:
- request:
    method: get
    uri: https://api.ercdex.com/api/token-pair-summaries/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"tokenPair":{"tokenA":{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","name":"Wrapped
        Ether","symbol":"WETH","decimals":18},"tokenB":{"address":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","symbol":"DAI","name":"Dai
        Stablecoin 1.0","decimals":18},"minimumQuantity":"0","baseVolume":"394815956394059545456.9603","quoteVolume":"266982294194783510340652","priceDecimals":2},"ask":"0.00016669","bid":"0.00224719"},{"tokenPair":{"tokenA":{"address":"0xd26114cd6ee289accf82350c8d8487fedb8a0c07","name":"OmiseGO","symbol":"OMG","decimals":18},"tokenB":{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","name":"Wrapped
        Ether","symbol":"WETH","decimals":18},"minimumQuantity":"3000000000000000000","baseVolume":"288413174106877346484","quoteVolume":"5950574244097851840.7849","priceDecimals":5},"ask":"2","bid":"500000"},{"tokenPair":{"tokenA":{"address":"0xd26114cd6ee289accf82350c8d8487fed[...]
