---
http_interactions:
- request:
    method: get
    uri: https://api.ercdex.com/api/token-pair-summaries/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"tokenPair":{"tokenA":{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","name":"Wrapped
        Ether","symbol":"WETH","decimals":18},"tokenB":{"address":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","symbol":"DAI","name":"Dai
        Stablecoin 1.0","decimals":18},"minimumQuantity":"0","baseVolume":"115261624205082422804","quoteVolume":"82472181922991346152959","priceDecimals":2},"ask":"0.0001551","bid":"0.00215054"},{"tokenPair":{"tokenA":{"address":"0xd26114cd6ee289accf82350c8d8487fedb8a0c07","name":"OmiseGO","symbol":"OMG","decimals":18},"tokenB":{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","name":"Wrapped
        Ether","symbol":"WETH","decimals":18},"minimumQuantity":"3000000000000000000","baseVolume":"0","quoteVolume":"0","priceDecimals":5},"ask":"2","bid":"50000000"},{"tokenPair":{"tokenA":{"address":"0xd26114cd6ee289accf82350c8d8487fedb8a0c07","name":"OmiseGO","symbol":"OMG",[...]
- request:
    method: post
    uri: https://api.ercdex.com/api/reports/historical
    body:
      encoding: UTF-8
      string: '{"baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","networkId":1,"startDate":"2018-05-14T16:18:59+00:00"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"open":1,"close":1,"high":1,"low":1,"volume":353.64,"date":"2018-05-14T16:19:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":165.21,"date":"2018-05-14T16:20:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":69.14,"date":"2018-05-14T16:21:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":110.28,"date":"2018-05-14T16:22:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":706.74,"date":"2018-05-14T16:23:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":154.03,"date":"2018-05-14T16:24:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":62.69,"date":"2018-05-14T16:25:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":670.36,"date":"2018-05-14T16:26:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":329.5,"date":"2018-05-14T16:27:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":63.15,"date":"2018-05-14T16:28:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":673.08,"date":"2018-05-14T16:29:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":852.35,"date":"2018-05-14T16:30:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":291.27,"date":"2018-05-14T16:31:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":631.74,"date":"2018-05-14T16:32:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":98.39,"date":"2018-05-14T16:33:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":129.7,"date":"2018-05-14T16:34:00.000Z"},{"open":1,"close":1,"high":1,"low":1,"volume":50.23,"date":"2018-05-14T16:35:00.000Z"}]'
  recorded_at: Mon, 14 May 2018 16:38:59 GMT
recorded_with: VCR 4.0.0
