---
http_interactions:
- request:
    method: get
    uri: https://api.ercdex.com/api/aggregated_orders?baseTokenAddress=0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2&networkId=1&quoteTokenAddress=0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"buys":{"priceLevels":[{"price":"689.27143825000000002232","volume":"20311301503432055201","volumeRatio":0.8643107022737044},{"price":"688.82662720000000002237","volume":"20324417563398164756","volumeRatio":0.8648688324850283},{"price":"684.59999999999999999829","volume":"116783523225241017","volumeRatio":0.004969511626606001},{"price":"684.12155","volume":"21479603788628262","volumeRatio":0.0009140256931331176},{"price":"683.71212000000000000514","volume":"19452631613434028345","volumeRatio":0.8277715580184692},{"price":"682.70350000000000003384","volume":"19481370756118871515","volumeRatio":0.8289945002603775},{"price":"668.50000000000000000083","volume":"605213455035346287","volumeRatio":0.025753764044057288},{"price":"655.17914081279611351077","volume":"45789003543035384","volumeRatio":0.0019484682358738461},{"price":"655","volume":"143378600000000000","volumeRatio":0.006101217021276596},{"price":"644.74532559638942617666","volume":"155100000000000000","volumeRatio":0.0066},{"price":"612","volume":"7600000000000000000","volumeRatio":0.32340425531914896},{"price":"600","volume":"1075000000000000000","volumeRatio":0.045744680851063826},{"price":"558.00457563752023047601","volume":"113131324467978605","volumeRatio":0.0048140989135310045},{"price":"532","volume":"5789473684210526316","volumeRatio":0.24636058230683092},{"price":"465","volume":"1111111100000000000","volumeRatio":0.04728132340425532}]},"sells":{"priceLevels":[{"price":"6447.4532559638942617666","volume":"170610000000000000","volumeRatio":0.00726},{"price":"5999","volume":"1000000000000000000","volumeRatio":0.0425531914893617},{"price":"1200.04800192007680307207","volume":"8851818558189475531","volumeRatio":0.37667313013572234},{"price":"850","volume":"3945500000000000000","volumeRatio":0.1678936170212766},{"price":"847.45762711864406779656","volume":"4377000000000000001","volumeRatio":0.18625531914893617},{"price":"847.457627118644067[...]
