---
http_interactions:
- request:
    method: get
    uri: https://service.bihodl.com/market/symbol-thumb
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - bitrade-market:6004
    body:
      encoding: UTF-8
      string: '[{"symbol":"GT/USDT","open":0.7115,"high":0.7169,"low":0.7115,"close":0.7169,"chg":0.0076,"change":0.0054,"volume":11289.4684,"turnover":8997.25960715,"lastDayClose":0.7115,"usdRate":0.7169,"baseUsdRate":1},{"symbol":"CKB/USDT","open":0.009885,"high":0.00999500,"low":0.009878,"close":0.009883,"chg":-0.0003,"change":-0.000002,"volume":1647886.0899,"turnover":24565.979069736300,"lastDayClose":0.009885,"usdRate":0.009883,"baseUsdRate":1},{"symbol":"CPU/USDT","open":0.005797,"high":0.005797,"low":0.00510000,"close":0.00510000,"chg":-0.1203,"change":-0.00069700,"volume":53673.8040,"turnover":454.686366474800,"lastDayClose":0.005797,"usdRate":0.00510000,"baseUsdRate":1},{"symbol":"DOT/USDT","open":125[...]
