---
http_interactions:
- request:
    method: get
    uri: https://service.bihodl.com/market/latest-trade?size=100&symbol=BTC/USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - bitrade-market:6004
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTC/USDT","price":9809.40,"amount":0.50234339,"buyTurnover":4927.6872498660,"sellTurnover":4927.6872498660,"direction":"SELL","buyOrderId":"E156886444353931","sellOrderId":"E156886444385615","time":1568864443860},{"symbol":"BTC/USDT","price":9806.76,"amount":1.93211066,"buyTurnover":18947.7455360616,"sellTurnover":18947.7455360616,"direction":"BUY","buyOrderId":"E156886432442872","sellOrderId":"E156886432393521","time":1568864324433},{"symbol":"BTC/USDT","price":9795.64,"amount":3.10289870,"buyTurnover":30394.8786216680,"sellTurnover":30394.8786216680,"direction":"SELL","buyOrderId":"E156886420082936","sellOrderId":"E156886420115285","time":1568864201156},{"symbol":"BTC/USDT","price":9798.[...]
