---
http_interactions:
- request:
    method: get
    uri: https://api2.tokenize.exchange/public/v1/market/get-buy-orders?market=BTC-ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e6a-dS18pOwamrxztdf4X73Bw7vWvYI"
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"","data":{"market":"BTC-ETH","orders":[{"quantity":0.31397458,"rate":0.01814959,"total":0.0056985,"sum":0.0056985},{"quantity":33.53411995,"rate":0.01814958,"total":0.60863019,"sum":0.61432869},{"quantity":9.979788,"rate":0.01813662,"total":0.18099962,"sum":0.79532831},{"quantity":9.979788,"rate":0.01813661,"total":0.18099952,"sum":0.97632783},{"quantity":6.68330563,"rate":0.0181366,"total":0.12121244,"sum":1.09754027},{"quantity":1.985,"rate":0.01812525,"total":0.03597862,"sum":1.13351889},{"quantity":10.99973573,"rate":0.01812524,"total":0.19937285,"sum":1.33289174},{"quantity":11.0027566,"rate"[...]
- request:
    method: get
    uri: https://api2.tokenize.exchange/public/v1/market/get-sell-orders?market=BTC-ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e20-u0MV+X2QiLzQnCJG28P1urE4jZk"
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"","data":{"market":"BTC-ETH","orders":[{"quantity":28.061[...]
