---
http_interactions:
- request:
    method: get
    uri: https://api2.tokenize.exchange/public/v1/market/get-buy-orders?market=BTC-ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ded-/6XpKL6VpjF1h4kjbdQq969uRUA"
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"","data":{"market":"BTC-ETH","orders":[{"quantity":8.85733251,"rate":0.02197444,"total":0.19463492,"sum":0.19463492},{"quantity":15.99999999,"rate":0.02197443,"total":0.35159087,"sum":0.5462258},{"quantity":13.35993796,"rate":0.0219744,"total":0.29357662,"sum":0.83980242},{"quantity":52,"rate":0.02195177,"total":1.14149204,"sum":1.98129446},{"quantity":13.58484308,"rate":0.02195176,"total":0.29821121,"sum":2.27950567},{"quantity":5,"rate":0.02194973,"total":0.10974865,"sum":2.38925432},{"quantity":1.72822928,"rate":0.02194876,"total":0.03793248,"sum":2.42718681},{"quantity":30.52125975,"rate":0.021[...]
- request:
    method: get
    uri: https://api2.tokenize.exchange/public/v1/market/get-sell-orders?market=BTC-ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e42-0MWzZuolSw9VknxIvLbGbBwxkhg"
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"","data":{"market":"BTC-ETH","orders":[{"quantity":0.2050[...]
