---
http_interactions:
- request:
    method: get
    uri: https://api2.tokenize.exchange/public/v1/market/get-summaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3883-6gCRRtuVuKish+TN4oKyqKd75Aw"
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"","data":[{"marketId":55,"market":"USD-BTC","askPrice":7278.77,"bidPrice":7244.87,"lastPrice":7259.89,"prevPrice":7264.72,"high":7280.08,"low":6860,"volume":1530278.57968081},{"marketId":114,"market":"USD-USDT","askPrice":1.00198,"bidPrice":0.99164,"lastPrice":0.9941,"prevPrice":0.997,"high":1.0004,"low":0.99303,"volume":200988.29378717},{"marketId":107,"market":"USD-DGX","askPrice":48.33,"bidPrice":48.13,"lastPrice":47.65,"prevPrice":48.92,"high":48.922,"low":47.28,"volume":1.31477275},{"marketId":56,"market":"USD-ETH","askPrice":132.17,"bidPrice":131.63,"lastPrice":132.05,"prevPrice":132.14,"high":133.07,"low":125.6,"volume":1337584.1226933},{"mar[...]
