---
http_interactions:
- request:
    method: get
    uri: https://api2.tokenize.exchange/public/v1/get-market-summaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ae0-28ooi14ZWF6f6kSuTAFDMsj8vQ8"
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"","data":[{"marketId":54,"market":"USD-GUSD","volume":null,"lastPrice":"1.02000000","prevPrice":"1.02000000","high":0,"low":0,"bidPrice":1,"askPrice":1.02},{"marketId":55,"market":"USD-BTC","volume":228327,"lastPrice":"4114.00000000","prevPrice":"4122.00000000","high":"4150.00000000","low":"4100.00000000","bidPrice":4124.03,"askPrice":4132.5},{"marketId":93,"market":"USD-BSV","volume":"9875.00000000","lastPrice":"66.00000000","prevPrice":"65.00000000","high":0,"low":0,"bidPrice":66.05,"askPrice":66.2},{"marketId":92,"market":"USD-XRP","volume":"127800.00000000","lastPrice":"0.31700000","prevPrice":"0.31000000","high":0,"low":0,"bidPrice":0.31[...]
