---
http_interactions:
- request:
    method: get
    uri: https://api2.tokenize.exchange/api/market/getmarketsummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2732-N/Z6DZvdzhILUrbzExlGMMYyKWk"
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"","data":[{"marketId":61,"market":"USD-TKX","volume":11310,"lastPrice":"0.58000000","prevPrice":"0.55000000","high":"0.58000000","low":"0.55000000","bidPrice":"0.55000000","askPrice":"0.58000000"},{"marketId":60,"market":"USD-DASH","volume":9662.8,"lastPrice":"119.00000000","prevPrice":"129.00000000","high":"129.00000000","low":"98.50000000","bidPrice":"119.00000000","askPrice":"129.00000000"},{"marketId":59,"market":"USD-ZEC","volume":3227.9931,"lastPrice":"71.59000000","prevPrice":"81.59000000","high":"81.59000000","low":"70.25000000","bidPrice":"71.59000000","askPrice":"81.59000000"},{"marketId":58,"market":"USD-LTC","volume":1543.65,"lastPrice":"30.12000000","prevPrice":[...]
