---
http_interactions:
- request:
    method: get
    uri: https://www.bithash.net/api/trades/eth_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"eth_btc":[{"type":"bid","price":0.085012,"amount":0.09604209,"tid":35913736,"timestamp":1526529062},{"type":"bid","price":0.084433,"amount":0.00916606,"tid":35913732,"timestamp":1526529062},{"type":"ask","price":0.085012,"amount":0.09604209,"tid":35913728,"timestamp":1526529061},{"type":"ask","price":0.084992,"amount":0.06637147,"tid":35913582,"timestamp":1526529002},{"type":"bid","price":0.084992,"amount":0.06637147,"tid":35913580,"timestamp":1526529002},{"type":"bid","price":0.085003,"amount":0.03071351,"tid":35913427,"timestamp":1526528943},{"type":"ask","price":0.085003,"amount[...]
