---
http_interactions:
- request:
    method: get
    uri: https://www.bithash.net/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"bch_btc":{"high":0.1598,"low":0.15095,"avg":0.15355,"vol":28.82254,"vol_cur":187.67781,"last":0.15623,"buy":0.15442,"sell":0.15537,"updated":1526529069},"eth_btc":{"high":0.08537,"low":0.083137,"avg":0.08406,"vol":17.78743,"vol_cur":211.50061,"last":0.084433,"buy":0.08398,"sell":0.084433,"updated":1526529069},"etc_btc":{"high":0.002184,"low":0.00208,"avg":0.00211,"vol":0.83909,"vol_cur":397.76411,"last":0.002124,"buy":0.002153,"sell":0.002124,"updated":1526529069},"ltc_btc":{"high":0.016801,"low":0.016483,"avg":0.01663,"vol":3.57389,"vol_cur":214.88473,"last":0.016664,"buy":0.016616,"sell":0.016664,"updated":1526529069},"dash_btc":{"high":0.049986,"low":0.048571,"avg":0.0492,"vol":6.334,"vol_cur":128.67981,"last":0.049392,"buy":0.049392,"sell":0.049474,"updated":1526529069},"eos_btc":{"high":0.001663,"low":0.001457,"avg":0.0015,"vol":0.56959,"vol_cur":378.68468,"last":0.001584,"buy":0.001475,"sell":0.001584,"updated":1526529069},"xmr_btc":{"high":0.024161,"low":0.023601,"avg":0.02379,"vol":3.20351,"vol_cur":134.61831,"last":0.023973,"buy":0.023914,"sell":0.023973,"updated":1526529069},"xrp_btc":{"high":8.5e-5,"low":8.2e-5,"avg":8.0e-5,"vol":0.56947,"vol_cur":6880.72068,"last":8.4e-5,"buy":8.2e-5,"sell":8.3e-5,"updated":1526529069},"zec_btc":{"high":0.045231,"low":0.039769,"avg":0.04267,"vol":11.69859,"vol_cur":273.26937,"last":0.043623,"buy":0.043396,"sell":0.043623,"updated":1526529069},"btc_usd":{"high":8440.5,"low":8152,"avg":8277.69569,"vol":169623.92219,"vol_cur":20.48278,"last":8367.6,"buy":8278.7,"sell":8349.7,"updated":1526529069},"eth_usd":{"high":718.47,"low":679.67,"avg":696.86787,"vol":141998.38427,"vol_cur":203.66202,"last":711.32,"buy":711.1,"sell":711.3,"updated":1526529069},"ltc_usd":{"high":141.31,"low":135.07,"avg":137.72598,"vol":28190.57461,"vol_cur":204.58459,"last":139.77,"buy":137.55,"sell":139.77,"updated":1526529069},"bch_usd":{"high":1339,"low":1232.2,"avg":1269.04627,"vol":254299.94144,"vol_cur":200.12823,"last":1308,"buy":1281.7,"sell":1296.1,"updated":1526529070},"etc_usd":{"high":18.313,"low":16.981,"avg":17.45047,"vol":7168.0255,"vol_cur":410.48656,"last":18.037,"buy":18.037,"sell":17.876,"updated":1526529070},"dash_usd":{"high":418.61,"low":396.7,"avg":407.01416,"vol":54382.50064,"vol_cur":133.58002,"last":412.4,"buy":409.05,"sell":412.4,"updated":1526529070},"eos_usd":{"high":13.876,"low":11.914,"avg":12.41809,"vol":4846.72144,"vol_cur":389.77542,"last":13.516,"buy":12.183,"sell":13.123,"updated":1526529070},"xmr_usd":{"high":203.52,"low":193.1,"avg":196.79685,"vol":26724.43121,"vol_cur":135.73525,"last":201.67,"buy":195.57,"sell":199.95,"updated":1526529070},"xrp_usd":{"high":0.71101,"low":0.66892,"avg":0.6846,"vol":4732.44787,"vol_cur":6908.42994,"last":0.70104,"buy":0.67888,"sell":0.70104,"updated":1526529070},"zec_usd":{"high":375,"low":324.26,"avg":354.66369,"vol":97522.78549,"vol_cur":274.56487,"last":366.78,"buy":362.94,"sell":363.32,"updated":1526529070},"btc_eur":{"high":7021.150039,"low":6738.608869,"avg":6856.64151,"vol":73670.41088,"vol_cur":10.73924,"last":6916.156693,"buy":6894.16464,"sell":6916.156693,"updated":1526529070},"eth_eur":{"high":595.905266,"low":563.009138,"avg":576.97708,"vol":58303.51376,"vol_cur":100.97555,"last":590.431694,"buy":574.95026,"sell":585.323085,"updated":1526529070},"ltc_eur":{"high":117.208442,"low":111.937778,"avg":114.21476,"vol":11898.19655,"vol_cur":104.11434,"last":115.998841,"buy":115.998841,"sell":116.034726,"updated":1526529070},"bch_eur":{"high":1109.831777,"low":1024.15262,"avg":1050.91531,"vol":93960.49833,"vol_cur":89.35061,"last":1085.233416,"buy":1045.750789,"sell":1071.005476,"updated":1526529070},"etc_eur":{"high":15.177413,"low":14.059714,"avg":14.44432,"vol":4492.18935,"vol_cur":310.62937,"last":14.740346,"buy":14.47355,"sell":14.740346,"updated":1526529070},"dash_eur":{"high":346.64036,"low":327.916259,"avg":337.26127,"vol":36866.87174,"vol_cur":109.24444,"last":342.669871,"buy":342.292665,"sell":342.669871,"updated":1526529071},"eos_eur":{"high":11.517573,"low":9.960524,"avg":10.29175,"vol":2952.54303,"vol_cur":286.39963,"last":11.214079,"buy":10.073155,"sell":10.898508,"updated":1526529071},"xmr_eur":{"high":168.803249,"low":159.661867,"avg":163.01972,"vol":17466.08652,"vol_cur":107.09598,"last":167.597209,"buy":162.411749,"sell":165.676198,"updated":1526529071},"xrp_eur":{"high":0.589548,"low":0.55468,"avg":0.56807,"vol":3887.3573,"vol_cur":6840.57696,"last":0.582565,"buy":0.582413,"sell":0.582565,"updated":1526529071},"zec_eur":{"high":311.369305,"low":268.937623,"avg":293.74358,"vol":32015.70881,"vol_cur":108.90079,"last":304.346576,"buy":297.852481,"sell":299.920196,"updated":1526529071},"btc_rub":{"high":513948.440214,"low":498036.0089,"avg":503928.28145,"vol":4304606.95298,"vol_cur":8.54242,"last":504488.377644,"buy":503767.567056,"sell":503958.04797,"updated":1526529071},"eth_rub":{"high":43359.524989,"low":41705.39736,"avg":42437.73684,"vol":5989093.95759,"vol_cur":141.09785,"last":42885.973611,"buy":42872.709659,"sell":42884.767797,"updated":1526529071},"ltc_rub":{"high":8607.855751,"low":8259.22252,"avg":8385.9052,"vol":1262092.00076,"vol_cur":150.47202,"last":8434.667531,"buy":8435.873345,"sell":8440.826361,"updated":1526529071},"bch_rub":{"high":80663.43545,"low":75721.22514,"avg":77177.10568,"vol":11773003.31081,"vol_cur":152.44785,"last":78374.311236,"buy":77329.921179,"sell":78374.311236,"updated":1526529071},"etc_rub":{"high":1102.891132,"low":1042.92432,"avg":1060.83843,"vol":243430.7226,"vol_cur":229.32766,"last":1084.077806,"buy":1057.189446,"sell":1084.077806,"updated":1526529071},"dash_rub":{"high":25420.699094,"low":24295.7475,"avg":24789.19159,"vol":2085088.58739,"vol_cur":84.11512,"last":24901.863691,"buy":24901.863691,"sell":24998.782464,"updated":1526529071},"eos_rub":{"high":836.943012,"low":728.06454,"avg":756.63128,"vol":256809.30043,"vol_cur":338.98053,"last":793.335173,"buy":755.934281,"sell":793.335173,"updated":1526529071},"xmr_rub":{"high":12522.0675,"low":11811.27313,"avg":12095.58152,"vol":640496.92074,"vol_cur":52.95529,"last":12180.581147,"buy":12180.581147,"sell":0,"updated":1526529071},"xrp_rub":{"high":42.840484,"low":41.120929,"avg":41.70504,"vol":273909.72982,"vol_cur":6564.93054,"last":42.342152,"buy":42.310686,"sell":42.342152,"updated":1526529071},"zec_rub":{"high":22944.582997,"low":19956.793311,"avg":21591.54709,"vol":4843109.4572,"vol_cur":224.12314,"last":22056.083496,"buy":22004.184979,"sell":22056.083496,"updated":1526529072}}'
  recorded_at: Thu, 17 May 2018 03:51:12 GMT
recorded_with: VCR 4.0.0
