---
http_interactions:
- request:
    method: get
    uri: https://www.bithash.net/api/info
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"server_time":1526529067,"pairs":{"bch_btc":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"eth_btc":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"etc_btc":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"ltc_btc":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"dash_btc":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"eos_btc":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"xmr_btc":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"xrp_btc":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"zec_btc":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"btc_usd":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"eth_usd":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"ltc_usd":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"bch_usd":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"etc_usd":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"dash_usd":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"eos_usd":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"xmr_usd":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"xrp_usd":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"zec_usd":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"btc_eur":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"eth_eur":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"ltc_eur":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"bch_eur":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"etc_eur":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"dash_eur":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"eos_eur":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"xmr_eur":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"xrp_eur":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"zec_eur":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"btc_rub":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"eth_rub":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"ltc_rub":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"bch_rub":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"etc_rub":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"dash_rub":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"eos_rub":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"xmr_rub":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"xrp_rub":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1},"zec_rub":{"decimal_places":6,"min_price":0.0001,"max_price":1000000,"min_amount":0.01,"hidden":0,"fee":0.1}}}'
  recorded_at: Thu, 17 May 2018 03:51:07 GMT
recorded_with: VCR 4.0.0
