---
http_interactions:
- request:
    method: get
    uri: https://ftx.us/api/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0189d5db34e27b59a40c296d7661c6f1"
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"ask":238.6,"baseCurrency":"BCH","bid":238.275,"change1h":0.008352275730824126,"change24h":0.021473706758059333,"changeBod":-0.007079277497267191,"enabled":true,"last":null,"minProvideSize":0.001,"name":"BCH/USD","price":238.4375,"priceIncrement":0.025,"quoteCurrency":"USD","quoteVolume24h":0.0,"restricted":false,"sizeIncrement":0.001,"type":"spot","underlying":null,"volumeUsd24h":0.0},{"ask":9454.0,"baseCurrency":"BTC","bid":9445.5,"change1h":0.011187239053634515,"change24h":0.06170966110268083,"changeBod":0.010808496976831292,"enabled":true,"last":9285.0,"minProvideSize":0.0001,"name":"BTC/USD","price":9445.5,"priceIncrement":0.5,"quoteCurrency":"USD","quoteVolume24h":9285.0,"restricted":false,"sizeIncrement":0.0001,"type":"spot","underlying":null,"volumeUsd24h":9285.0},{"ask":199.23,"baseCurrency":"ETH","bid":199.09,"change1h":0.0052474897825319135,"change24h":0.045826[...]
