---
http_interactions:
- request:
    method: get
    uri: https://ftx.us/api/markets/BTC/USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f725c7986f8c2a1cf4be1d8eec98838a"
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"ask":9452.5,"baseCurrency":"BTC","bid":9445.5,"change1h":0.011187239053634515,"change24h":0.06170966110268083,"changeBod":0.010808496976831292,"enabled":true,"last":9285.0,"minProvideSize":0.0001,"name":"BTC/USD","price":9445.5,"priceIncrement":0.5,"quoteCurrency":"USD","quoteVolume24h":9285.0,"restricted":false,"sizeIncrement":0.0001,"type":"spot","underlying":null,"volumeUsd24h":9285.0},"success":true}

        '
  recorded_at: Thu, 14 May 2020 06:42:01 GMT
recorded_with: VCR 4.0.0
