---
http_interactions:
- request:
    method: get
    uri: https://bitfex.trade/api/v1/ticker/BTC_RUR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"last":231071.8,"high":234356.29,"low":225366.32,"buy":228219.06,"sell":230120.89,"vol":0.44111686,"updated":1544899848}'
  recorded_at: Sat, 15 Dec 2018 18:50:48 GMT
recorded_with: VCR 4.0.0
