---
http_interactions:
- request:
    method: get
    uri: https://api.dobiexchange.com/market/orderbook?limit=100&market=ltc_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Via:
      - 1.1 PSxjpSin5uc165:4 (Cdn Cache Server V2.0), 1.1 dj80:6 (Cdn Cache Server
        V2.0)
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"Success","data":{"asks":[{"p":"0.00650900","n":"12.54110000"},{"p":"0.00651600","n":"2.28550000"},{"p":"0.00651900","n":"6.57440000"},{"p":"0.00652300","n":"6.92030000"},{"p":"0.00652700","n":"13.18070000"},{"p":"0.00652900","n":"10.89950000"},{"p":"0.00653100","n":"8.32950000"},{"p":"0.00653300","n":"12.18680000"},{"p":"0.00653600","n":"11.80760000"},{"p":"0.00654300","n":"14.54220000"},{"p":"0.00654700","n":"20.71240000"},{"p":"0.00660600","n":"2.03220000"},{"p":"0.00660700","n":"7.72850000"},{"p":"0.00673800","n":"3.39470000"},{"p":"0.00675800","n":"4.24550000"},{"p":"0.00678700","n":"8.50190000"},{"p":"0.00688700","n":"5.25480000"},{"p":"0.00690000","n":"0.37016779"},{"p":"0.00693600","n":"2.87620000"},{"p":"0.00696400","n":"2.37520000"},{"p":"0.00711000","n":"0.40000000"},{"p":"0.00717500","n":"1.11400000"},{"p":"0.00750000","n":"1.37261200"},{"p":"0.06981000","n":"3.00000000"}],"bids":[{"p":"0.00643700","n":"2.94570000"},{"p":"0.00643200","n":"2.04170000"},{"p":"0.00643100","n":"10.11220000"},{"p":"0.00643000","n":"14.76230000"},{"p":"0.00642900","n":"10.22230000"},{"p":"0.00642800","n":"0.22500000"},{"p":"0.00642300","n":"13.36920000"},{"p":"0.00641900","n":"14.85930000"},{"p":"0.00641600","n":"6.97840000"},{"p":"0.00641300","n":"14.05830000"},{"p":"0.00641100","n":"10.22930000"},{"p":"0.00640600","n":"6.95270000"},{"p":"0.00640300","n":"6.13030000"},{"p":"0.00640000","n":"0[...]
