---
http_interactions:
- request:
    method: get
    uri: https://api.dobitrade.com/market/orderbook?limit=200&market=ltc_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"","data":{"bids":[{"p":"0.00846415","n":"2.43519605"},{"p":"0.00831654","n":"1.06546000"},{"p":"0.00826498","n":"2.59566300"},{"p":"0.00819755","n":"2.64899600"},{"p":"0.00809460","n":"2.26563000"},{"p":"0.00795140","n":"1.19546000"},{"p":"0.00784623","n":"3.19895000"},{"p":"0.00772645","n":"1.26545660"},{"p":"0.00751648","n":"2.24000000"},{"p":"0.00742600","n":"2.16546000"},{"p":"0.00734500","n":"1.54100000"},{"p":"0.00200000","n":"2.00000000"},{"p":"0.00000015","n":"1.00000000"},{"n":"10.00000000","p":"0.00000001"}],"asks":[{"p":"0.00925850","n":"2.52984500"},{"p":"0.00935490","n":"1.09746000"},{"p":"0.00945490","n":"1.16540000"},{"p":"0.00952267","n":"1.09462115"},{"p":"0.00964620","n":"1.19465500"},{"p":"0.00976545","n":"2.14660000"},{"p":"0.00982496","n":"1.15460000"},{"p":"0.00994154","n":"2.16545500"},{"p":"0.01005546","n":"0.16660000"},{"p":"0.01016230","n":"1.16550000"},{"p":"0.01580000","n":"0.23260671"},{"p":"0.02010000","n":"2.48931673"},{"p":"0.02030000","n":"1.33000000"},{"p":"0.02110000","n":"2.36000000"},{"p":"0.02350000","n":"1.25000000"},{"p":"0.02660000","n":"2.86000000"},{"p":"0.05140000","n":"0.40532746"}]}}'
  recorded_at: Thu, 30 Aug 2018 23:23:23 GMT
recorded_with: VCR 4.0.0
