---
http_interactions:
- request:
    method: get
    uri: https://api.dobiexchange.com/quotes
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Via:
      - 1.1 PSxjpSin5uc165:1 (Cdn Cache Server V2.0), 1.1 dj80:6 (Cdn Cache Server
        V2.0)
    body:
      encoding: UTF-8
      string: '[{"volume":"108303.61097824","quoteAssetName":"ltc","high":"0.00650800","amount":"688.16916448","low":"0.00629000","baseAssetLogo":"http://image.syhdqn.com/currency/2019/09/02/7308b4e916e07d50e09109b75c9748be.jpg","baseAssetName":"btc","baseAsset":"btc","tradeUrl":"https://www.dobiexchange.com/trade?coin=ltc_btc","quoteAsset":"ltc","lastPrice":"0.00645000","ratio":"1.86"},{"volume":"1262468.53500000","quoteAssetName":"mcc","high":"0.00000017","amount":"0.19364616","low":"0.00000015","baseAssetLogo":"http://image.syhdqn.com/currency/2019/09/02/5f5acbd00c09a0130cb0fc0637f007b0.jpg","baseAssetName":"btc","baseAsset":"btc","tradeUrl":"https://www.dobiexchange.com/trade?coin=mcc_btc","quoteAsset":"mcc","lastPrice":"0.00000017","ratio":"13.33"},{"volume":"26923.54025448","quoteAssetName":"eth","high":"0.02052400","amount":"537.37004120","low":"0.01957600","base[...]
