---
http_interactions:
- request:
    method: get
    uri: https://api.dobiex.io/quotes
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"","data":[{"lastPrice":"28891.000000","volume":"46.1182","high":"38231","low":"28891","amount":"1751917.2772","ratio":"-24.43%","tradeUrl":"https:\/\/www.dobiex.io\/trade\/btc_dob","baseAssetLogo":"https:\/\/www.dobiex.io\/\/upload\/back\/coin\/201808011643417041.png","baseAsset":"BTC","baseAssetName":"Bitcoin","quoteAsset":"DOB","quoteAssetName":"DOB"},{"lastPrice":"1082.010000","volume":"4.8136","high":"1392","low":"1082.01","amount":"6557.305679","ratio":"-22.16%","tradeUrl":"https:\/\/www.dobiex.io\/trade\/eth_dob","baseAssetLogo":"https:\/\/www.dobiex.io\/\/upload\/back\/coin\/201808011642371497.png","baseAsset":"ETH","baseAssetName":"Ethereum","quoteAsset":"DOB","quoteAssetName":"DOB"},{"lastPrice":"302.010000","volume":"8.4163","high":"302.01","low":"302","amount":"2541.724448","ratio":"0%","tradeUrl":"https:\/\/www.dobiex.io\/tra[...]
