---
http_interactions:
- request:
    method: get
    uri: https://api.dobiexchange.com/quotes
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"","data":[{"lastPrice":"29002.000000","volume":"0.1005","high":"29002","low":"29001","amount":"2914.6534","ratio":"0%","tradeUrl":"https:\/\/www.dobiex.io\/trade\/btc_dob","baseAssetLogo":"https:\/\/www.dobiex.io\/\/upload\/back\/coin\/201808011643417041.png","baseAsset":"BTC","baseAssetName":"Bitcoin","quoteAsset":"DOB","quoteAssetName":"DOB"},{"lastPrice":"983.000000","volume":"27.4653","high":"983","low":"952","amount":"26566.1934","ratio":"1.13%","tradeUrl":"https:\/\/www.dobiex.io\/trade\/eth_dob","baseAssetLogo":"https:\/\/www.dobiex.io\/\/upload\/back\/coin\/201808011642371497.png","baseAsset":"ETH","baseAssetName":"Ethereum","quoteAsset":"DOB","quoteAssetName":"DOB"},{"lastPrice":"236.010000","volume":"300.3123","high":"280","low":"236.01","amount":"76876.18256","ratio":"-7.81%","tradeUrl":"https:\/\/www.dobiex.io\/trade[...]
