---
http_interactions:
- request:
    method: get
    uri: https://api.dobiex.io/market/quote?market=ltc_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"","data":{"last":"0.00914698","ratio":"1.14%","eq":{"cny":"225.31","usd":"33.194"},"high":"0.00972595","low":"0.00887398","buy":"0.00222333","sale":"0.02010000","sell":"0.02010000","volume":"707940.5965","amount":"6512.12434645"}}'
  recorded_at: Thu, 10 Jan 2019 23:27:59 GMT
recorded_with: VCR 4.0.0
