---
http_interactions:
- request:
    method: get
    uri: https://api.dobiexchange.com/market/quote?market=ltc_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"","data":{"last":"0.00885897","ratio":"-0.51%","eq":{"cny":"213.28","usd":"31.414"},"high":"0.00899798","low":"0.00878395","buy":"0.00300000","sale":"0.02010000","sell":"0.02010000","volume":"487689.5759","amount":"4335.85644725"}}'
  recorded_at: Thu, 24 Jan 2019 07:44:44 GMT
recorded_with: VCR 4.0.0
