---
http_interactions:
- request:
    method: get
    uri: https://api.dobiexchange.com/market/orderbook?limit=100&market=ltc_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"","data":{"bids":[{"p":"0.00300000","n":"8.67024000"},{"p":"0.00222440","n":"5.51456572"},{"p":"0.00210000","n":"1.00000000"},{"p":"0.00179000","n":"1.17785364"},{"p":"0.00021000","n":"56.06909839"},{"p":"0.00011100","n":"50.41895460"},{"p":"0.00001110","n":"552.43513513"},{"p":"0.00000016","n":"693.80596721"},{"p":"0.00000015","n":"1.00000000"}],"asks":[{"n":"49.70950620","p":"0.00885695"},{"p":"0.02010000","n":"2.48931673"},{"p":"0.02030000","n":"1.33000000"},{"p":"0.02110000","n":"2.36000000"},{"p":"0.02350000","n":"1.25000000"},{"p":"0.02660000","n":"2.86000000"},{"p":"0.05140000","n":"0.40532746"}]}}'
  recorded_at: Thu, 24 Jan 2019 07:44:44 GMT
recorded_with: VCR 4.0.0
