---
http_interactions:
- request:
    method: post
    uri: https://api.bitflip.cc/method/market.getOHLC
    body:
      encoding: UTF-8
      string: '{"pair":"btc:usd"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Server-Time:
      - '1519538020177'
      X-Api-Version:
      - '1.0'
      X-Response-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[null,{"volume":0.8935289599999999,"high":11111.12,"low":9901,"open":10654.19,"close":10395,"ohlc_avg":10515.3275,"hlc_avg":10469.04}]'
  recorded_at: Sun, 25 Feb 2018 05:53:40 GMT
- request:
    method: post
    uri: https://api.bitflip.cc/method/market.getRates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Server-Time:
      - '1519538071281'
      X-Api-Version:
      - '1.0'
      X-Response-Time:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[null,[{"pair":"USD:EUR","buy":0.82,"sell":0.84},{"pair":"USD:RUB","buy":56.74,"sell":56.81},{"pair":"USD:THB","buy":0,"sell":99},{"pair":"USD:UAH","buy":2.73,"sell":27.1},{"pair":"BTC:USD","buy":10111.04,"sell":10395.97},{"pair":"BTC:EUR","buy":8200.95,"sell":11999.96},{"pair":"BTC:RUB","buy":560006.01,"sell":593000},{"pair":"BTC:THB","buy":0,"sell":9999999},{"pair":"BTC:UAH","buy":71800.01,"sell":300000},{"pair":"LTC:BTC","buy":0.0202,"sell":0.0213},{"pair":"LTC:USD","buy":210.01,"sell":218.99},{"pair":"LTC:EUR","buy":167.7,"sell":249.[...]
