---
http_interactions:
- request:
    method: post
    uri: https://api.bitflip.cc/method/market.getTrades
    body:
      encoding: UTF-8
      string: '{"pair":"btc:usd"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Server-Time:
      - '1519728539957'
      X-Api-Version:
      - '1.0'
      X-Response-Time:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '[null,[{"id":"vbNmanyBJh","type":"sell","amount":0.0207528,"rate":10835,"price":224.856588,"timestamp":1519728299},{"id":"vbwTRNqNYb","type":"sell","amount":0.00178714,"rate":10835,"price":19.3636619,"timestamp":1519727772},{"id":"vbwTyU6Emi","type":"sell","amount":0.00178714,"rate":10835,"price":19.3636619,"timestamp":1519727772},{"id":"vbwjZPfG8S","type":"sell","amount":0.0025974,"rate":10835,"price":28.142829,"timestamp":1519727734},{"id":"vbwQ63vq6B","type":"sell","amount":0.0025974,"rate":10835,"price":28.142829,"timestamp":1519727642},{"id":"vbHZsTzHPF","type":"sell","amount":0.00997107,"ra[...]
