---
http_interactions:
- request:
    method: post
    uri: https://api.bitflip.cc/method/market.getOrderBook
    body:
      encoding: UTF-8
      string: '{"pair":"btc:usd"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Server-Time:
      - '1519710792287'
      X-Api-Version:
      - '1.0'
      X-Response-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '[null,{"buy":[{"amount":0.00150713,"rate":10611.02,"price":15.99218657},{"amount":0.00053103,"rate":10611.01,"price":5.63476464},{"amount":0.02,"rate":10611,"price":212.22},{"amount":0.00100659,"rate":10610.01,"price":10.67992996},{"amount":0.00154303,"rate":10609,"price":16.37000527},{"amount":0.0020682,"rate":10601.02,"price":21.92502956},{"amount":0.00306756,"rate":10555.99,"price":32.38113268},{"amount":0.08656376,"rate":10550,"price":913.247668},{"amount":0.00170882,"rate":10533.53,"price":17.99990673},{"amount":0.00190013,"rate":10525.55,"price":1[...]
