---
http_interactions:
- request:
    method: get
    uri: https://api.bitflip.cc/method//market.getPairs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Server-Time:
      - '1519537788666'
      X-Api-Version:
      - '1.0'
      X-Response-Time:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '[null,[{"pair":"USD:EUR","fee":{"maker":0.001,"taker":0.0018},"enabled":true,"amount":{"min":0.001,"max":1000000,"step":1.0e-8},"rate":{"min":0.01,"max":10000000,"step":0.01},"price":{"min":0.001,"max":10000000,"step":1.0e-8}},{"pair":"USD:RUB","fee":{"maker":0.001,"taker":0.0018},"enabled":true,"amount":{"min":0.001,"max":1000000,"step":1.0e-8},"rate":{"min":0.01,"max":10000000,"step":0.01},"price":{"min":0.001,"max":10000000,"step":1.0e-8}},{"pair":"USD:THB","fee":{"maker":0.001,"taker":0.0018},"enabled":true,"amount":{"min":0.001,"max":1000000,"step":1.0e-8},"rate":{"min":0.01,"max":10000000,"step":0.01},"price":{"min":0.001,"max":10000000,"step":1.0e-8}},{"pair":"USD:UAH[...]
