---
http_interactions:
- request:
    method: get
    uri: https://api.hotbit.io/api/v1/order.depth?interval=0&limit=100&market=ENG/ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"id": 1556855125, "error": null, "result": {"asks": [["0.0025904",
        "6.63"], ["0.00264221", "6"], ["0.00269505", "8.05"], ["0.00274896", "6.29"],
        ["0.00280393", "5.28"], ["0.00286001", "2.83"], ["0.00291721", "7.53"], ["0.00297556",
        "7.88"], ["0.00303507", "2.88"], ["0.00309577", "3.08"], ["0.00315769", "2.92"],
        ["0.00322084", "7.53"], ["0.00328526", "3.57"], ["0.00335096", "3.08"], ["0.00341798",
        "8.23"], ["0.00348634", "3.47"], ["0.00355607", "7.21"], ["0.00362719", "8.27"],
        ["0.00369973", "6.68"], ["0.00377373", "3.03"], ["0.0038492", "5.21"], ["0.00392619",
        "5.65"], ["0.00400471", "7.68"], ["0.0040848", "6.36"], ["0.0041665", "6.9"],
        ["0.00424983", "6.45"], ["0.00433483", "4.49"], ["0.00442152", "2.93"], ["0.00450995",
        "4.71"], ["0.00460015", "7.81"]], "bids": [["0.00248981", "7.51"], ["0.00244099",
        "7.23"], ["0.00239313", "0.86"], ["0.00234621", "4.39"], ["0.0023002", "6.51"],
        ["0.0022551", "6.94"], ["0.00221088", "4.93"], ["0.00216753", "3.44"], ["0.00212503",
        "4.24"], ["0.00208336", "7.54"], ["0.00204251", "5.16"], ["0.00200247", "5.81"],
        ["0.0019632", "6.12"], ["0.00192471", "7.23"], ["0.00188697", "4.36"], ["0.00184997",
        "6.65"], ["0.00181369", "6.01"], ["0.00177813", "8.02"], ["0.00174327", "3.82"],
        ["0.00170908", "4.7"], ["0.00167557", "7.48"], ["0.00164272", "4.59"], ["0.00163",
        "1"], ["0.00161051", "3.94"], ["0.00157893", "7.85"], ["0.00154797", "4.55"],
        ["0.00151762", "7.79"], ["0.00148786", "8.33"], ["0.00145869", "3.52"], ["0.00143009",
        "4.59"], ["0.00140204", "6.93"], ["3e-8", "500000"], ["2e-8", "5000"], ["1e-8",
        "20000"]]}}'
  recorded_at: Fri, 03 May 2019 03:45:18 GMT
recorded_with: VCR 4.0.0
