---
http_interactions:
- request:
    method: get
    uri: https://api.hotbit.io/api/v1/allticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"ticker": [{"symbol": "EXPO_BTC", "buy": "0.0000035", "sell": "0.00000359",
        "high": "0.0000036", "low": "0.00000359", "last": "0.00000359", "vol": "15563"},
        {"symbol": "RHOC_ETH", "buy": "0.00176089", "sell": "0.00177854", "high":
        "0.00177854", "low": "0.00166004", "last": "0.00176094", "vol": "8739.01"},
        {"symbol": "HTB_ETH", "buy": "0.0000180012", "sell": "0.0000180013", "high":
        "0.000020163", "low": "0.0000172102", "last": "0.0000180015", "vol": "25230261"},
        {"symbol": "TRX_ETH", "buy": "0.00008427", "sell": "0.00008518", "high": "0.00008864",
        "low": "0.00008427", "last": "0.00008429", "v[...]
