---
http_interactions:
- request:
    method: get
    uri: https://api.hotbit.io/api/v1/market.deals?last_id=0&limit=1000&market=ENG/ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"error": null, "result": [{"id": 1557910394233251, "time": 1557910394.2332411,
        "price": "0.00195656", "amount": "5.99", "type": "buy"}, {"id": 1557910388218932,
        "time": 1557910388.2189219, "price": "0.0019551", "amount": "16.09", "type":
        "sell"}, {"id": 1557910361172823, "time": 1557910361.172812, "price": "0.00195671",
        "amount": "16.74", "type": "buy"}, {"id": 1557910356118731, "time": 1557910356.1187201,
        "price": "0.00193894", "amount": "11.21", "type": "sell"}, {"id": 1557910337083735,
        "time": 1557910337.083724, "price": "0.00193788", "amount": "22.2", "type":
        "sell"}, [...]
