---
http_interactions:
- request:
    method: get
    uri: https://api.new.capital/v1/trades?symbol=BTC_TWINS
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":278,"price":"22500000","qty":"0.00441390","quoteQty":"99312.75000000","time":1562158908},{"id":277,"price":"22000000","qty":"0.00137740","quoteQty":"30302.79999998","time":1562158908},{"id":276,"price":"17590000","qty":"0.00005685","quoteQty":"999.99149998","time":1562138583},{"id":275,"price":"22000000","qty":"0.00504033","quoteQty":"110887.25999998","time":1562136461},{"id":274,"price":"21500000","qty":"0.00109341","quoteQty":"23508.31499999","time":1562136461},{"id":273,"price":"21500000","qty":"0.00898724","quoteQty":"193225.65999998","time":1562136445},{"id":272,"pr[...]
