---
http_interactions:
- request:
    method: get
    uri: https://data.block.cc/api/v1/market/digifinex
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Remaining:
      - '128'
      Rate-Limit-Reset:
      - '59'
      Rate-Limit-Total:
      - '128'
    body:
      encoding: UTF-8
      string: |-
        {
          "code": 0,
          "message": "success",
          "data": {
            "name": "digifinex",
            "display_name": "DigiFinex",
            "volume": 0,
            "display_volume": 0,
            "home_url": "digifinex.com",
            "symbol_pairs": [
              "EOS_USDT",
              "BCH_USDT",
              "BTC_USDT",
              "ETH_USDT",
              "BCH_BTC",
              "LTC_USDT",
              "XRP_USDT",
              "EOS_ETH",
              "RCT_USDT",
              "ETH_BTC",
              "OMG_USDT",
              "EOS_BTC",
              "XRP_BTC",
              "RCT_BTC",
              "BHPC_ETH",
              "DFT_ETH",
              "DIY_ETH",
              "BQT_BTC",
              "IOST_USDT",
           [...]
