---
http_interactions:
- request:
    method: get
    uri: https://data.block.cc/api/v1/ticker?market=digifinex&symbol_pair=EOS_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Remaining:
      - '128'
      Rate-Limit-Reset:
      - '59'
      Rate-Limit-Total:
      - '128'
    body:
      encoding: UTF-8
      string: |-
        {
          "code": 0,
          "message": "success",
          "data": {
            "timestamps": 1533028942000,
            "last": 7.7172,
            "high": 8.6216,
            "low": 7.7034,
            "bid": 7.5,
            "ask": 7.9571,
            "vol": 6316325.2722,
            "base_volume": 48744345.39062183,
            "change_daily": -0.10289999999999999,
            "market": "digifinex",
            "symbol_name": "eos",
            "symbol_pair": "EOS_USDT",
            "rating": 1,
            "has_kline": false,
            "usd_rate": null
          }
        }
  recorded_at: Tue, 31 Jul 2018 09:23:03 GMT
recorded_with: VCR 4.0.0
