---
http_interactions:
- request:
    method: get
    uri: https://openapi.digifinex.vip/v2/ticker?apiKey=15cad9a55217c4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":0,"date":false,"ticker":{"usdt_btc":{"buy":5218.85,"high":5225.72,"last":5218.84,"low":5085.96,"sell":5219.08,"vol":41526.2113,"change":1.18},"usdt_eth":{"buy":179.95,"high":181.51,"last":179.95,"low":172.86,"sell":180.07,"vol":764268.1909,"change":2.92},"usdt_dft":{"buy":0.2643,"high":0.2645,"last":0.2645,"low":0.2619,"sell":0.2645,"vol":1800646.83,"change":0.27},"usdt_god":{"buy":1.7,"high":2.24,"last":1.89,"low":1.68,"sell":1.88,"vol":3427.4918,"change":-3.57},"usdt_ltc":{"buy":87.97,"high":88.76,"last":88.06,"low":84.3,"sell":88.04,"vol":791303.9182,"change":2.77},"usdt_ong":{"buy":0.6022,"high":0.6117,"last":0.6099,"low":0.5796,"sell":0.6101,"vol":217153.5,"change":4.01},"usdt_bchabc":{"buy":300.88,"high":305.7,"last":300.86,"low":290.38,"sell":301.29,"vol":123876.87204,"change":2.38},"usdt_ont":{"buy":1.498,"high":1.522,"last":1.505,"low":1.403,"sell":1.505,"vol":3291037.672,"change":4.3},"usdt_bchsv":{"buy":79.82,"high":80.7,"last":80.05,"low":76.27,"sell":80.02,"vol":30500.73914,"change":2.78},"usdt_dogz":{"buy":0.0003031,"high":0.00031062,"last":0.0003079,"low":0.00029558,"sell":0.000308,"vol":219380829,"change":0.92},"usdt_etc":{"buy":7.1224,"high":7.2074,"last":7.1214,"low":6.666,"sell":7.1334,"vol":3879928.16,"change":3.55},"usdt_dash":{"buy":132.01,"high":132.95,"last":132.26,"low":129.13,"sell":132.3,"vol":15621.0494,"change":0.5},"usdt_cmt":{"buy":0.0444,"high":0.0459,"last":0.0448,"low":0.0409,"sell":0.0449,"vol":77361728.5157,"change":7.82},"usdt_qtum":{"buy":3.36,"high":3.41,"last":3.36,"low":3.23,"sell":3.38,"vol":622806.9409,"change":1.2},"usdt_neo":{"buy":12.483,"high":12.578,"last":12.491,"low":11.925,"sell":12.51,"vol":421523.033,"change":2.46},"usdt_zrx":{"buy":0.3526,"high":0.3684,"last":0.3526,"low":0.3386,"sell":0.3564,"vol":765839.378,"change":2.08},"usdt_eos":{"buy":5.7827,"high":5.8597,"last":5.7908,"low":5.3211,"sell":5.7907,"vol":23088159.5397,"change":7.87},"usdt_brc":{"buy":3.5203,"high":6.7,"last":3.5,"low":3.5,"sell":5.75,"vol":320.0251,"change":-47.76},"usdt_xmr":{"buy":69.31,"high":69.81,"last":69.31,"low":67.25,"sell":69.52,"vol":134788.875,"change":1.84},"usdt_xrp":{"buy":0.3503,"high":0.358,"last":0.3544,"low":0.3422,"sell":0.3549,"vol":100256051.888,"change":2.34},"usdt_etz":{"buy":0.114013,"high":0.119999,"last":0.115758,"low":0.113013,"sell":0.116989,"vol":702251.7916,"change":2.08},"usdt_omg":{"buy":2.2773,"high":2.3014,"last":2.2777,"low":2.1721,"sell":2.2898,"vol":2900619.1984,"change":0.7},"usdt_trx":{"buy":0.029881,"high":0.031019,"last":0.029922,"low":0.029053,"sell":0.029922,"vol":1122365690.65,"change":1.54},"usdt_zec":{"buy":72.15,"high":72.77,"last":72.36,"low":68.61,"sell":72.36,"vol":5344.21286,"change":3.02},"usdt_elf":{"buy":0.2041,"high":0.2087,"last":0.2039,"low":0.1952,"sell":0.2048,"vol":3904311.182,"change":1.77},"usdt_acce":{"buy":0.007009,"high":0.0076,"last":0.007254,"low":0.007005,"sell":0.0074,"vol":410109.02559005,"change":-2.09},"usdt_woc":{"buy":0.016555,"high":0.0188,"last":0.018,"low":0.011003,"sell":0.018398,"vol":1055107.901344,"change":17.52},"usdt_gas":{"buy":3.4362,"high":3.4938,"last":3.4565,"low":3.3085,"sell":3.4835,"vol":9106.54028,"change":3.6},"usdt_ldbc":{"buy":0.000245,"high":0.000246,"last":0.000246,"low":0.000245,"sell":0.00036,"vol":88872.68,"change":0.41},"usdt_gusd":{"buy":0.0001,"high":0.952,"last":0.952,"low":0.952,"sell":0,"vol":0,"change":0},"usdt_pax":{"buy":0.0001,"high":1.006,"last":1.006,"low":1.006,"sell":1.061,"vol":0,"change":0},"usdt_bnl":{"buy":0.001791,"high":0.001791,"last":0.001791,"low":0.001791,"sell":0.0029,"vol":0,"change":0},"usdt_tsc":{"buy":0.00075,"high":0.0012,"last":0.00075,"low":0.00075,"sell":0.0012,"vol":158292,"change":-37.5},"usdt_lv":{"buy":0.0005,"high":0.00051,"last":0.00051,"low":0.000507,"sell":0.00051,"vol":39997.4603,"change":0},"usdt_fiii":{"buy":0.0046,"high":0.005399,"last":0.004604,"low":0.00455,"sell":0.004604,"vol":32128.25,"change":-14.14},"usdt_csm":{"buy":0.663001,"high":0.679996,"last":0.663,"low":0.650046,"sell":0.669999,"vol":218914.2106,"change":-2.2},"usdt_vex":{"buy":0.005694,"high":0.006171,"last":0.005694,"low":0.005455,"sell":0.005696,"vol":4327223.51,"change":-7.73},"usdt_gmb":{"buy":0.002675,"high":0.002899,"last":0.00269,"low":0.001857,"sell":0.002691,"vol":1493574,"change":-6.43},"usdt_theta":{"buy":0.127047,"high":0.134401,"last":0.127047,"low":0.120843,"sell":0.12774,"vol":11269551.77,"change":2.99},"usdt_edr":{"buy":0.02815,"high":0.04256,"last":0.04256,"low":0.04256,"sell":0.04256,"vol":0,"change":0},"usdt_mch":{"buy":0.071181,"high":0.092887,"last":0.07195,"low":0.009004,"sell":0.072424,"vol":297133.13,"change":-19.92},"usdt_iq":{"buy":0.003778,"high":0.004144,"last":0.003892,"low":0.0038,"sell":0.004066,"vol":946982.09,"change":-1.09},"usdt_ist":{"buy":0.705078,"high":0.719374,"last":0.716564,"low":0.669905,"sell":0.729,"vol":64178.566,"change":1.61},"usdt_qnt":{"buy":0.010002,"high":3.25,"last":3.25,"low":3.25,"sell":0,"vol":0,"change":0},"usdt_mesg":{"buy":0.040785,"high":0.043202,"last":0.040793,"low":0.037102,"sell":0.041771,"vol":58753.93,"change":5.43},"usdt_btt":{"buy":0.0007642,"high":0.0007797,"last":0.0007675,"low":0.0007585,"sell":0.0007675,"vol":10696518172,"change":0.47},"usdt_und":{"buy":0.09265,"high":0.095123,"last":0.093031,"low":0.077023,"sell":0.095124,"vol":106309.8,"change":18.71},"usdt_bhd":{"buy":2.019836,"high":2.063962,"last":2.019836,"low":1.96681,"sell":2.057356,"vol":16528.86,"change":-0.05},"usdt_mfg":{"buy":0,"high":0.001871,"last":0.001871,"low":0.001871,"sell":0,"vol":0,"change":0},"usdt_mkey":{"buy":0.316305,"high":0.451061,"last":0.316005,"low":0.316005,"sell":0.45106,"vol":13774.7,"change":-29.94},"usdt_mdt":{"buy":0.014291,"high":0.01519,"last":0.014164,"low":0.012786,"sell":0.014366,"vol":8794054.62,"change":1.94},"usdt_r":{"buy":0.150804,"high":0.171188,"last":0.155931,"low":0.138861,"sell":0.159159,"vol":870824.876,"change":4.05},"usdt_kbc":{"buy":0.035206,"high":0.06999,"last":0.06989,"low":0.0698,"sell":0.068,"vol":2807010.08,"change":-0.14},"usdt_ilc":{"buy":0.041112,"high":0.05533,"last":0.05533,"low":0.05533,"sell":0.2,"vol":0,"change":0},"usdt_bhp":{"buy":1.2146,"high":1.2173,"last":1.2153,"low":1.1862,"sell":1.217,"vol":297478.98,"change":2.19},"usdt_senno":{"buy":4.8e-5,"high":5.4e-5,"last":4.8e-5,"low":4.6e-5,"sell":5.3e-5,"vol":3653877.300348,"change":4.35},"usdt_scsc":{"buy":0.000241,"high":0.00263,"last":0.00263,"low":0.00263,"sell":0.00263,"vol":0,"change":0},"usdt_ect":{"buy":9.6e-5,"high":0.0001097,"last":9.75e-5,"low":7.77e-5,"sell":9.75e-5,"vol":106356947,"change":4.84},"usdt_lme":{"buy":2.527e-5,"high":2.718e-5,"last":2.707e-5,"low":2.625e-5,"sell":2.715e-5,"vol":247697028.2,"change":2.04},"usdt_cps":{"buy":3.31e-5,"high":5.685e-5,"last":5.685e-5,"low":3.256e-5,"sell":5.984e-5,"vol":224787.52,"change":74.6},"usdt_alc":{"buy":8.12e-6,"high":9.3e-6,"last":8.8e-6,"low":7.71e-6,"sell":8.8e-6,"vol":167818134,"change":4.89},"usdt_tix":{"buy":5.6e-6,"high":6.19e-6,"last":6.18e-6,"low":5.6e-6,"sell":6.18e-6,"vol":44595771.82,"change":3},"usdt_show":{"buy":0.001659,"high":0.001742,"last":0.001709,"low":0.001445,"sell":0.001714,"vol":15639578.3,"change":11.26},"usdt_nfsc":{"buy":1.73e-5,"high":2.189e-5,"last":1.73e-5,"low":1.618e-5,"sell":1.779e-5,"vol":229930985.02,"change":-20.97},"usdt_let":{"buy":0.008416,"high":0.009599,"last":0.008463,"low":0.007717,"sell":0.008481,"vol":282111760.3064,"change":8.52},"usdt_fair":{"buy":0.0046,"high":0.0058,"last":0.0049,"low":0.0046,"sell":0.0049,"vol":2098476935.55,"change":-6.67},"usdt_ruff":{"buy":0.016214,"high":0.016583,"last":0.016256,"low":0.01568,"sell":0.016386,"vol":8006185.617,"change":1.88},"usdt_yee":{"buy":0.0028,"high":0.003,"last":0.0028,"low":0.0028,"sell":0.003,"vol":17161193.6,"change":-6.67},"usdt_diy":{"buy":0.00223,"high":0.002262,"last":0.00224,"low":0.00223,"sell":0.00224,"vol":766042,"change":-0.97},"usdt_wpp":{"buy":0.007269,"high":0.008888,"last":0.007308,"low":0.0065,"sell":0.0073,"vol":547408725.46,"change":-16.93},"usdt_mith":{"buy":0.0493,"high":0.0521,"last":0.0498,"low":0.0472,"sell":0.0497,"vol":14829869.609,"change":2.68},"usdt_zip":{"buy":0.000745,"high":0.000814,"last":0.000745,"low":0.0007,"sell":0.000748,"vol":2066027811,"change":4.56},"usdt_iost":{"buy":0.0158,"high":0.015998,"last":0.0158,"low":0.014173,"sell":0.015849,"vol":311058176.5547,"change":9.32},"usdt_zil":{"buy":0.023352,"high":0.023569,"last":0.023354,"low":0.022123,"sell":0.023466,"vol":54094389.1752,"change":2.85},"btc_eth":{"buy":0.034477,"high":0.034721,"last":0.034477,"low":0.033816,"sell":0.034478,"vol":196638.4272,"change":1.68},"btc_ltc":{"buy":0.016848,"high":0.017231,"last":0.016846,"low":0.016487,"sell":0.016867,"vol":3321901.724,"change":1.35},"btc_bchabc":{"buy":0.057613,"high":0.058681,"last":0.05774,"low":0.056686,"sell":0.057737,"vol":29835.793,"change":1.3},"btc_bchsv":{"buy":0.015289,"high":0.015461,"last":0.01529,"low":0.014967,"sell":0.015329,"vol":12179.989,"change":1.16},"btc_etc":{"buy":0.001364,"high":0.001393,"last":0.001367,"low":0.001308,"sell":0.001367,"vol":2828704.45,"change":2.47},"btc_rvn":{"buy":1.321e-5,"high":1.379e-5,"last":1.328e-5,"low":1.282e-5,"sell":1.328e-5,"vol":71505567,"change":-0.26},"btc_dash":{"buy":0.025307,"high":0.025796,"last":0.02529,"low":0.025141,"sell":0.025349,"vol":13339.8867,"change":-0.9},"btc_qtum":{"buy":0.000643,"high":0.000653,"last":0.000647,"low":0.000633,"sell":0.000647,"vol":1093586.8985,"change":0.62},"btc_neo":{"buy":0.002392,"high":0.002425,"last":0.002398,"low":0.002337,"sell":0.002398,"vol":481027.69,"change":1.5},"btc_bhp":{"buy":0.00023276,"high":0.00023409,"last":0.00023331,"low":0.00022843,"sell":0.00023323,"vol":2498827.1832,"change":1.03},"btc_eos":{"buy":0.00110735,"high":0.00112818,"last":0.00110912,"low":0.00103838,"sell":0.00110912,"vol":13821201.57,"change":6.49},"btc_xem":{"buy":1.401e-5,"high":1.426e-5,"last":1.402e-5,"low":1.378e-5,"sell":1.406e-5,"vol":11541240,"change":0.72},"btc_trx":{"buy":5.71e-6,"high":6.02e-6,"last":5.74e-6,"low":5.67e-6,"sell":5.74e-6,"vol":559595623,"change":0.44},"btc_xrp":{"buy":6.792e-5,"high":6.889e-5,"last":6.793e-5,"low":6.727e-5,"sell":6.799e-5,"vol":27507204.943,"change":0.61},"btc_omg":{"buy":0.000433,"high":0.00045,"last":0.000439,"low":0.000423,"sell":0.00044,"vol":2170934.3013,"change":-0.11},"btc_powr":{"buy":2.39e-5,"high":2.484e-5,"last":2.419e-5,"low":2.257e-5,"sell":2.419e-5,"vol":132549,"change":2.54},"btc_xmr":{"buy":0.01329,"high":0.013397,"last":0.01329,"low":0.013032,"sell":0.013317,"vol":94134.058,"change":0.71},"btc_etz":{"buy":2.166e-5,"high":2.343e-5,"last":2.236e-5,"low":2.131e-5,"sell":2.3e-5,"vol":22493.14,"change":-0.93},"btc_zec":{"buy":0.013824,"high":0.014032,"last":0.013833,"low":0.013451,"sell":0.013865,"vol":32831.929,"change":2.07},"btc_mgo":{"buy":1.652e-5,"high":1.85e-5,"last":1.85e-5,"low":1.72e-5,"sell":1.805e-5,"vol":260972.6,"change":7.56},"btc_mco":{"buy":0.000765,"high":0.000775,"last":0.000765,"low":0.000739,"sell":0.000771,"vol":87025.67,"change":2.27},"btc_cro":{"buy":1.169e-5,"high":1.312e-5,"last":1.163e-5,"low":1.01e-5,"sell":1.199e-5,"vol":6366000.7,"change":6.6},"btc_gxc":{"buy":0.0002346,"high":0.0002485,"last":0.0002362,"low":0.0002222,"sell":0.0002362,"vol":512763.73,"change":6.06},"btc_elf":{"buy":3.91e-5,"high":4.03e-5,"last":3.929e-5,"low":3.824e-5,"sell":3.929e-5,"vol":4660033.039,"change":1.24},"btc_ong":{"buy":0.00011537,"high":0.00011692,"last":0.00011539,"low":0.00011274,"sell":0.00011646,"vol":239143,"change":1.11},"btc_gusd":{"buy":2.0e-8,"high":0.00014921,"last":0.00014921,"low":0.00014921,"sell":0,"vol":0,"change":0},"btc_gas":{"buy":0.00066114,"high":0.00066967,"last":0.00066027,"low":0.00064629,"sell":0.00066767,"vol":3860.10284,"change":0.95},"btc_cst":{"buy":3.0e-7,"high":3.5e-7,"last":3.0e-7,"low":3.0e-7,"sell":4.4e-7,"vol":21486.3,"change":-14.29},"btc_npxs":{"buy":1.4e-7,"high":1.6e-7,"last":1.5e-7,"low":1.4e-7,"sell":1.5e-7,"vol":1038144,"change":-6.25},"btc_kst":{"buy":1.9e-7,"high":1.9e-7,"last":1.9e-7,"low":1.9e-7,"sell":1.11e-6,"vol":0,"change":0},"btc_dex":{"buy":7.0e-6,"high":8.7e-6,"last":7.99e-6,"low":7.0e-6,"sell":8.0e-6,"vol":408325.4417,"change":-7.63},"btc_b2g":{"buy":4.902e-5,"high":5.499e-5,"last":4.925e-5,"low":4.7e-5,"sell":5.006e-5,"vol":259462.6256,"change":-5.29},"btc_fiii":{"buy":9.0e-7,"high":1.01e-6,"last":9.0e-7,"low":8.0e-7,"sell":1.14e-6,"vol":7458.68,"change":-10.89},"btc_cnus":{"buy":5.5e-6,"high":6.07e-6,"last":5.96e-6,"low":5.5e-6,"sell":6.0e-6,"vol":2551126.09,"change":-1.65},"btc_nrg":{"buy":0.000335,"high":0.00034499,"last":0.000335,"low":0.00033001,"sell":0.00034445,"vol":136716.7043,"change":-1.47},"btc_edc":{"buy":9.1e-7,"high":1.25e-6,"last":1.09e-6,"low":1.01e-6,"sell":1.07e-6,"vol":26965381.6,"change":-11.38},"btc_elac":{"buy":2.28e-6,"high":5.34e-6,"last":4.95e-6,"low":2.15e-6,"sell":5.55e-6,"vol":31096.71,"change":13.01},"btc_tmtg":{"buy":1.2e-6,"high":1.81e-6,"last":1.29e-6,"low":8.9e-7,"sell":1.65e-6,"vol":2415612,"change":-28.73},"btc_csm":{"buy":0.00011223,"high":0.00014028,"last":0.00011223,"low":0.00011223,"sell":0.0001566,"vol":153.5755,"change":-20},"btc_ist":{"buy":0.00013646,"high":0.00014136,"last":0.00013774,"low":0.00012971,"sell":0.000139,"vol":65819.1536,"change":1.35},"btc_ole":{"buy":1.01e-6,"high":1.24e-6,"last":1.01e-6,"low":1.01e-6,"sell":1.11e-6,"vol":4230.08,"change":-18.55},"btc_theta":{"buy":2.427e-5,"high":2.628e-5,"last":2.427e-5,"low":2.318e-5,"sell":2.495e-5,"vol":2319101.9,"change":0.58},"btc_edr":{"buy":0,"high":9.1e-6,"last":9.1e-6,"low":9.1e-6,"sell":0,"vol":0,"change":0},"btc_qnt":{"buy":1.02e-5,"high":0.00119999,"last":0.00119999,"low":0.00119999,"sell":0.000645,"vol":0,"change":0},"btc_mesg":{"buy":7.83e-6,"high":8.33e-6,"last":7.84e-6,"low":7.19e-6,"sell":8.01e-6,"vol":78106.13,"change":4.39},"btc_btt":{"buy":1.4e-7,"high":1.5e-7,"last":1.5e-7,"low":1.4e-7,"sell":1.7e-7,"vol":2205,"change":7.14},"btc_und":{"buy":1.768e-5,"high":1.824e-5,"last":1.823e-5,"low":1.486e-5,"sell":1.823e-5,"vol":101946.19,"change":21.29},"btc_bora":{"buy":1.931e-5,"high":2.097e-5,"last":1.95e-5,"low":1.393e-5,"sell":1.966e-5,"vol":410734.67,"change":39.48},"btc_bhd":{"buy":0.00038496,"high":0.00039869,"last":0.00039041,"low":0.00038364,"sell":0.00039584,"vol":15140.75,"change":-0.52},"btc_mfg":{"buy":0,"high":4.7e-7,"last":4.7e-7,"low":4.7e-7,"sell":5.0e-6,"vol":0,"change":0},"btc_ftm":{"buy":2.75e-6,"high":2.93e-6,"last":2.8e-6,"low":2.5e-6,"sell":2.86e-6,"vol":16257421.5,"change":6.46},"btc_r":{"buy":2.976e-5,"high":3.334e-5,"last":2.98e-5,"low":2.777e-5,"sell":3.036e-5,"vol":461713.024,"change":1.64},"btc_lbxc":{"buy":1.22e-6,"high":1.49e-6,"last":1.23e-6,"low":9.2e-7,"sell":1.27e-6,"vol":8114953.56,"change":-3.15},"btc_mkey":{"buy":4.426e-5,"high":8.652e-5,"last":8.652e-5,"low":8.652e-5,"sell":8.65e-5,"vol":4173.1,"change":0},"btc_grs":{"buy":8.905e-5,"high":9.128e-5,"last":8.982e-5,"low":8.64e-5,"sell":8.982e-5,"vol":1223567,"change":2.52},"btc_mdt":{"buy":2.65e-6,"high":2.96e-6,"last":2.55e-6,"low":2.39e-6,"sell":2.84e-6,"vol":10875758.77,"change":-6.25},"btc_kbc":{"buy":6.37e-6,"high":1.54e-5,"last":1.52e-5,"low":1.24e-5,"sell":1.483e-5,"vol":1326671.81,"change":-1.3},"btc_fnk":{"buy":2.6e-7,"high":3.3e-7,"last":3.3e-7,"low":3.1e-7,"sell":3.3e-7,"vol":2328600,"change":3.13},"btc_gib":{"buy":1.1e-7,"high":1.153e-5,"last":1.3e-7,"low":8.0e-8,"sell":1.3e-7,"vol":27924348.842,"change":-98.87},"btc_ilc":{"buy":3.2e-7,"high":1.106e-5,"last":1.106e-5,"low":1.106e-5,"sell":3.699e-5,"vol":0,"change":0},"btc_sc":{"buy":6.6e-7,"high":6.9e-7,"last":6.7e-7,"low":6.2e-7,"sell":6.7e-7,"vol":19093353,"change":-2.9},"btc_ont":{"buy":0.0002871,"high":0.0002937,"last":0.0002871,"low":0.0002744,"sell":0.0002886,"vol":990100.51,"change":2.61},"btc_lbtc":{"buy":0.00196123,"high":0.00206092,"last":0.00196169,"low":0.00196165,"sell":0.00196639,"vol":3309.39726447,"change":-2.94},"btc_datx":{"buy":2.7e-7,"high":2.9e-7,"last":2.8e-7,"low":2.3e-7,"sell":2.8e-7,"vol":67371916.7,"change":12},"btc_fair":{"buy":2.9e-7,"high":1.99e-6,"last":1.99e-6,"low":1.99e-6,"sell":1.92e-6,"vol":0,"change":0},"btc_gnx":{"buy":6.37e-6,"high":7.27e-6,"last":6.36e-6,"low":5.94e-6,"sell":6.56e-6,"vol":811255.998,"change":-0.47},"btc_mith":{"buy":9.35e-6,"high":1.07e-5,"last":9.35e-6,"low":9.16e-6,"sell":9.54e-6,"vol":116782809.095,"change":-0.48},"btc_cmt":{"buy":8.53e-6,"high":9.06e-6,"last":8.63e-6,"low":7.89e-6,"sell":8.63e-6,"vol":2160223.35,"change":7.47},"btc_zrx":{"buy":6.764e-5,"high":7.109e-5,"last":6.763e-5,"low":6.596e-5,"sell":6.803e-5,"vol":546872.839,"change":1.88},"eth_etc":{"buy":0.039588,"high":0.04094,"last":0.039686,"low":0.038462,"sell":0.039676,"vol":956234.3,"change":0.9},"eth_xrp":{"buy":0.00196943,"high":0.0020002,"last":0.00197256,"low":0.00194718,"sell":0.00197159,"vol":3144870.606,"change":-0.92},"eth_eos":{"buy":0.03211715,"high":0.03273963,"last":0.03217965,"low":0.03061462,"sell":0.03218965,"vol":1971748.73,"change":4.75},"eth_dash":{"buy":0.73276,"high":0.755161,"last":0.73276,"low":0.729562,"sell":0.737044,"vol":309.6328,"change":-2.64},"eth_bzky":{"buy":8.58e-5,"high":9.276e-5,"last":9.272e-5,"low":8.569e-5,"sell":9.277e-5,"vol":509451.5119,"change":2.68},"eth_qtum":{"buy":0.018661,"high":0.019168,"last":0.018735,"low":0.018427,"sell":0.018738,"vol":44047.2939,"change":-0.93},"eth_trx":{"buy":0.00016584,"high":0.00017737,"last":0.00016635,"low":0.00016536,"sell":0.00016635,"vol":212738892.89,"change":-1.38},"eth_neo":{"buy":0.069363,"high":0.070719,"last":0.069363,"low":0.068594,"sell":0.069536,"vol":97133.49,"change":-0.52},"eth_iost":{"buy":8.761e-5,"high":8.933e-5,"last":8.774e-5,"low":8.175e-5,"sell":8.816e-5,"vol":15358699.97,"change":6.13},"eth_xem":{"buy":0.00040587,"high":0.00041767,"last":0.00040595,"low":0.0004041,"sell":0.00040839,"vol":492218,"change":-1.7},"eth_zrx":{"buy":0.00191809,"high":0.00210294,"last":0.00201221,"low":0.00191789,"sell":0.00201201,"vol":41286.11,"change":4.08},"eth_omg":{"buy":0.012656,"high":0.013012,"last":0.012695,"low":0.012552,"sell":0.012695,"vol":103453.945,"change":-1.97},"eth_cmt":{"buy":0.00024726,"high":0.00025729,"last":0.0002475,"low":0.00023338,"sell":0.00024899,"vol":549897.72,"change":3.64},"eth_xmr":{"buy":0.38529,"high":0.39237,"last":0.38529,"low":0.38046,"sell":0.38692,"vol":29405.907,"change":-0.58},"eth_zip":{"buy":4.14e-6,"high":4.52e-6,"last":4.14e-6,"low":4.03e-6,"sell":4.19e-6,"vol":6338694,"change":1.97},"eth_zec":{"buy":0.40068,"high":0.40802,"last":0.40101,"low":0.39563,"sell":0.40261,"vol":2002.367,"change":0.23},"eth_ont":{"buy":0.00832,"high":0.008549,"last":0.00832,"low":0.008075,"sell":0.008363,"vol":143332.03,"change":0.44},"eth_etz":{"buy":0.00063,"high":0.0006999,"last":0.00064846,"low":0.0006287,"sell":0.0006623,"vol":68630.01003251,"change":-1.68},"eth_elf":{"buy":0.00113552,"high":0.00117268,"last":0.00114237,"low":0.00112189,"sell":0.00114237,"vol":327194.789,"change":-0.2},"eth_gxc":{"buy":0.006803,"high":0.007251,"last":0.006803,"low":0.006491,"sell":0.006872,"vol":96786.44,"change":3.85},"eth_gusd":{"buy":0.0043651,"high":0.0043651,"last":0.0043651,"low":0.0043651,"sell":0,"vol":0,"change":0},"eth_gas":{"buy":0.01908091,"high":0.0198198,"last":0.0198198,"low":0.0188811,"sell":0.01971969,"vol":71.44334,"change":1.02},"eth_ruff":{"buy":8.988e-5,"high":9.411e-5,"last":8.99e-5,"low":8.904e-5,"sell":9.11e-5,"vol":1048479.37,"change":-1.89},"eth_fair":{"buy":2.506e-5,"high":4.204e-5,"last":2.507e-5,"low":2.42e-5,"sell":2.842e-5,"vol":11528161.11,"change":-9.82},"eth_let":{"buy":4.65e-5,"high":5.508e-5,"last":4.793e-5,"low":4.423e-5,"sell":4.78e-5,"vol":17238456.59,"change":7.43},"eth_cst":{"buy":5.7e-6,"high":5.71e-6,"last":5.71e-6,"low":5.71e-6,"sell":1.949e-5,"vol":80409.88,"change":0},"eth_npxsxem":{"buy":3.08e-6,"high":3.17e-6,"last":3.15e-6,"low":3.01e-6,"sell":3.16e-6,"vol":1019070,"change":3.28},"eth_bhc":{"buy":0.00010007,"high":0.00013,"last":0.00013,"low":0.00013,"sell":0.00015554,"vol":0,"change":0},"eth_newos":{"buy":3.05e-6,"high":1.078e-5,"last":1.078e-5,"low":1.078e-5,"sell":1.078e-5,"vol":0,"change":0},"eth_hum":{"buy":1.6e-6,"high":1.8e-6,"last":1.6e-6,"low":1.6e-6,"sell":1.8e-6,"vol":84938.19,"change":-10.61},"eth_mcs":{"buy":0.000244,"high":0.000378,"last":0.00024403,"low":0.00021005,"sell":0.00024401,"vol":12022020.1942,"change":-12.53},"eth_gana":{"buy":1.79e-5,"high":1.79e-5,"last":1.79e-5,"low":1.78e-5,"sell":2.102e-5,"vol":16467.07,"change":0.56},"eth_dex":{"buy":7.3e-5,"high":0.00043143,"last":0.00039858,"low":5.217e-5,"sell":0.0003986,"vol":986141.9231,"change":182.58},"eth_mfg":{"buy":0,"high":1.231e-5,"last":1.231e-5,"low":1.231e-5,"sell":0,"vol":0,"change":0},"eth_gmb":{"buy":1.341e-5,"high":1.654e-5,"last":1.383e-5,"low":1.258e-5,"sell":1.425e-5,"vol":457099,"change":-15.1},"eth_axl":{"buy":3.2e-5,"high":7.868e-5,"last":7.246e-5,"low":7.246e-5,"sell":7.221e-5,"vol":5,"change":-7.91},"eth_flc":{"buy":0.02608394,"high":0.03029702,"last":0.02617428,"low":0.02608394,"sell":0.02617454,"vol":83651.08,"change":-12.9},"eth_qnt":{"buy":0.012,"high":0.018,"last":0.018,"low":0.018,"sell":0.0215,"vol":0,"change":0},"eth_mesg":{"buy":0.00022698,"high":0.0002431,"last":0.00023041,"low":0.00021055,"sell":0.00022714,"vol":97703.83,"change":4.04},"eth_und":{"buy":0.00051489,"high":0.00052906,"last":0.00052062,"low":0.00043633,"sell":0.00052906,"vol":93721.03,"change":15.98},"eth_bhd":{"buy":0.01105141,"high":0.01175416,"last":0.01123476,"low":0.01105141,"sell":0.01141808,"vol":16744.37,"change":-3.64},"eth_bora":{"buy":0.00055901,"high":0.00063,"last":0.00056,"low":0.0004011,"sell":0.00056,"vol":2269384.41,"change":36.45},"eth_r":{"buy":0.00081,"high":0.00091,"last":0.0008,"low":0.00077,"sell":0.00095,"vol":3810.977,"change":3.9},"eth_grs":{"buy":0.0025628,"high":0.00267804,"last":0.00260185,"low":0.00252599,"sell":0.00260538,"vol":55209,"change":2.04},"eth_mdt":{"buy":7.702e-5,"high":8.523e-5,"last":7.163e-5,"low":7.092e-5,"sell":8.332e-5,"vol":484843.53,"change":-2.7},"eth_sc":{"buy":1.924e-5,"high":1.997e-5,"last":1.926e-5,"low":1.921e-5,"sell":1.946e-5,"vol":18400769,"change":-1.38},"eth_cps":{"buy":2.0e-7,"high":6.3e-7,"last":6.3e-7,"low":6.3e-7,"sell":6.2e-7,"vol":0,"change":0},"eth_kbc":{"buy":0.00027007,"high":0.0004489,"last":0.00043899,"low":0.00019176,"sell":0.00042998,"vol":1914488.78,"change":-2.21},"eth_ggpc":{"buy":2.0e-7,"high":2.0e-7,"last":2.0e-7,"low":2.0e-7,"sell":2.5e-7,"vol":0,"change":0},"eth_mgd":{"buy":0.00033,"high":0.00040998,"last":0.00033,"low":0.00030901,"sell":0.00039,"vol":5533.72631012,"change":-5.44},"eth_zag":{"buy":3.87e-6,"high":3.88e-6,"last":3.88e-6,"low":3.88e-6,"sell":7.77e-6,"vol":0,"change":0},"eth_mt":{"buy":1.01e-5,"high":4.008e-5,"last":4.008e-5,"low":1.009e-5,"sell":4.008e-5,"vol":336.15403922,"change":297.22},"eth_insur":{"buy":1.76e-6,"high":1.99e-6,"last":1.76e-6,"low":1.35e-6,"sell":1.9e-6,"vol":124472614.4,"change":27.08},"eth_qbt":{"buy":8.451e-5,"high":0.00010901,"last":0.00010901,"low":0.00010901,"sell":0.00016,"vol":0,"change":0},"eth_gve":{"buy":6.58e-6,"high":8.34e-6,"last":6.78e-6,"low":6.47e-6,"sell":6.78e-6,"vol":55115247.42,"change":0},"eth_datx":{"buy":7.87e-6,"high":8.37e-6,"last":7.97e-6,"low":6.87e-6,"sell":7.96e-6,"vol":23994454.49,"change":3.84},"eth_ssp":{"buy":6.74e-6,"high":7.38e-6,"last":6.89e-6,"low":6.36e-6,"sell":6.89e-6,"vol":560984033.08,"change":-2.61},"eth_ees":{"buy":7.999e-5,"high":0.00015428,"last":0.00012493,"low":7.999e-5,"sell":0.00014499,"vol":63999,"change":-1.88},"eth_bqt":{"buy":3.104e-5,"high":6.0e-5,"last":6.0e-5,"low":3.1e-5,"sell":6.0e-5,"vol":100,"change":93.55},"eth_rct":{"buy":9.74e-6,"high":1.224e-5,"last":9.91e-6,"low":7.77e-6,"sell":9.94e-6,"vol":27375154.37,"change":10.73},"eth_gnx":{"buy":0.00017783,"high":0.00027433,"last":0.00019863,"low":0.00017785,"sell":0.00019922,"vol":2388774.839,"change":8.06},"eth_osch":{"buy":5.2e-7,"high":6.0e-7,"last":5.8e-7,"low":5.4e-7,"sell":6.0e-7,"vol":12595144.19,"change":3.57},"eth_powr":{"buy":0.00069347,"high":0.00073168,"last":0.00069347,"low":0.00068117,"sell":0.00070246,"vol":27834,"change":-0.01},"eth_mith":{"buy":0.00027273,"high":0.00030731,"last":0.00027273,"low":0.00026563,"sell":0.00027835,"vol":387226.922,"change":0.76},"eth_zil":{"buy":0.00012927,"high":0.00013165,"last":0.00012994,"low":0.00012721,"sell":0.00013083,"vol":4075292.27,"change":0.07},"dft_pgd":{"buy":0.040001,"high":0.079998,"last":0.079998,"low":0.079998,"sell":0.08,"vol":0,"change":0},"dft_aaa":{"buy":0.000399,"high":0.000497,"last":0.000497,"low":0.000497,"sell":0.000498,"vol":0,"change":0},"dft_xrt":{"buy":6.0e-5,"high":7.0e-5,"last":7.0e-5,"low":7.0e-5,"sell":8.6e-5,"vol":0,"change":0},"dft_hdn":{"buy":0.001356,"high":0.001356,"last":0.001356,"low":0.001348,"sell":0.002999,"vol":216,"change":0.59},"dft_jqb":{"buy":0.03,"high":0.0444,"last":0.0444,"low":0.0444,"sell":0.0444,"vol":2647.33,"change":0},"tusd_usdt":{"buy":1.0069,"high":1.0187,"last":1.0071,"low":1.0045,"sell":1.0108,"vol":3554763.1926,"change":-0.75},"tusd_eth":{"buy":181.03,"high":183.45,"last":181.99,"low":174.27,"sell":182.24,"vol":5688.5392,"change":2.52},"tusd_btc":{"buy":5254.51,"high":5287.11,"last":5276.09,"low":5125.92,"sell":5279.07,"vol":444.3488,"change":0.86},"tusd_neo":{"buy":12.487,"high":12.778,"last":12.778,"low":11.999,"sell":12.816,"vol":12587.445,"change":4.1},"tusd_eos":{"buy":5.817,"high":5.9373,"last":5.875,"low":5.379,"sell":5.8637,"vol":81550.7345,"change":7.45},"usdc_pax":{"buy":0.997,"high":1.0024,"last":1.002,"low":0.9928,"sell":1.0021,"vol":21114.87,"change":-0.03},"usdc_btc":{"buy":5260.07,"high":5286.92,"last":5272.92,"low":5136.56,"sell":5272.92,"vol":90.187811,"change":1.11},"usdc_eth":{"buy":181.27,"high":183.69,"last":181.8,"low":173.58,"sell":181.89,"vol":440.93415,"change":2.34},"usdc_eos":{"buy":5.8196,"high":5.943,"last":5.8141,"low":5.3221,"sell":5.8495,"vol":10847.92,"change":5.8},"usdc_usdt":{"buy":1.0078,"high":1.0163,"last":1.0078,"low":1.0048,"sell":1.0102,"vol":264704.26,"change":-0.74}}}'
  recorded_at: Wed, 10 Apr 2019 07:42:14 GMT
recorded_with: VCR 4.0.0
