---
http_interactions:
- request:
    method: get
    uri: https://openapi.digifinex.vip/v3/trades/?apikey=15cad9a55217c4&market=BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"date":1559879804,"id":1150576003,"amount":0.0141,"type":"sell","price":7789.23},{"date":1559879804,"id":1150576000,"amount":0.002,"type":"sell","price":7790.7},{"date":1559879804,"id":1150575975,"amount":0.0003,"type":"sell","price":7787.76},{"date":1559879804,"id":1150575971,"amount":0.0006,"type":"sell","price":7788.25},{"date":1559879804,"id":1150575969,"amount":0.0009,"type":"sell","price":7788.98},{"date":1559879804,"id":1150575966,"amount":0.0006,"type":"buy","price":7787.29},{"date":1559879804,"id":1150575963,"amount":0.001,"type":"sell","price":7788.67},{"d[...]
