---
http_interactions:
- request:
    method: get
    uri: https://data.block.cc/api/v1/tickers?market=digifinex&page=1&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Remaining:
      - '32'
      Rate-Limit-Reset:
      - '59'
      Rate-Limit-Total:
      - '32'
    body:
      encoding: UTF-8
      string: |-
        {
          "code": 0,
          "message": "success",
          "data": {
            "page": 1,
            "size": 100,
            "total_page": 2,
            "total_count": 180,
            "list": [
              {
                "timestamps": 1553138116000,
                "last": 0.013289,
                "high": 0.013531,
                "low": 0.013096,
                "bid": 0.013289,
                "ask": 0.013341,
                "vol": 110429,
                "base_volume": 1467.49,
                "change_daily": 0.0082,
                "market": "digifinex",
                "symbol_name": "monero",
                "symbol_pair": "XMR_BTC",
                "rating": 3,
                "has_kline": false,
                "usd_rate": 4095.2582
              },
              {
                "timestamps": 1553138116000,
                "last": 53.95,
                "high": 54.92,
                "low": 52.07,
                "bid": 53.69,
                "ask": 53.93,
                "vol": 84533.7,
                "base_volume": 4560590,
                "change_daily": 0.0237,
                "market": "digifinex",
                "symbol_name": "monero",
                "symbol_pair": "XMR_USDT",
                "rating"[...]
[...]
