---
http_interactions:
- request:
    method: get
    uri: https://openapi.digifinex.vip/v2/ticker?apiKey=15cad9a55217c4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":0,"date":false,"ticker":{"usdt_btc":{"buy":5208.74,"high":5225.72,"last":5208.74,"low":5085.96,"sell":5208.75,"vol":40141.526,"change":0.9},"usdt_eth":{"buy":179.33,"high":181.51,"last":179.33,"low":172.86,"sell":179.47,"vol":756774.1064,"change":2.24},"usdt_dft":{"buy":0.2653,"high":0.2655,"last":0.2654,"low":0.2619,"sell":0.2655,"vol":2188261.31,"change":0.8},"usdt_god":{"buy":1.7,"high":2.22,"last":1.88,"low":1.68,"sell":1.88,"vol":3229.6894,"change":1.35},"usdt_ltc":{"buy":87.8,"high":88.76,"last":87.82,"low":84.3,"sell":87.92,"vol":774079.123,"change":2.52},"usdt_ong":{"buy":0.6007,"high":0.6117,"last":0.6072,"low":0.5796,"sell":0.6066,"vol":211268.11,"change":3.3},"usdt_bchabc":{"buy":298.78,"high":305.7,"last":299.26,"low":290.38,"sell":299.26,"vol":124116.9133,"change":2.19},"usdt_bch":{"buy":299.38,"high":305.7,"last":299.89,"low":290.93,"sell":299.89,"vol":121190.34692,"change":1.41},"usdt_ont":{"buy":1.505,"high":1.522,"last":1.511,"low":1.403,"sell":1.511,"vol":3211035.946,"change":3.35},"usdt_bchsv":{"buy":79.36,"high":80.7,"last":79.35,"low":76.27,"sell":79.56,"vol":30200.21116,"change":2.56},"usdt_bsv":{"buy":79.78,"high":80.7,"last":79.78,"low":76.27,"sell":79.91,"vol":28885.03825,"change":2.19},"usdt_dogz":{"buy":0.000303,"high":0.00031062,"last":0.0003075,"low":0.00029558,"sell":0.0003075,"vol":224300034,"change":-0.91},"usdt_etc":{"buy":7.0616,"high":7.2074,"last":7.0616,"low":6.666,"sell":7.0721,"vol":3822055.43,"change":3.4},"usdt_dash":{"buy":131.59,"high":132.95,"last":131.59,"low":129.13,"sell":131.8,"vol":15662.5637,"change":0.1},"usdt_cmt":{"buy":0.045,"high":0.0459,"last":0.045,"low":0.0409,"sell":0.0454,"vol":75959822.2125,"change":8.56},"usdt_qtum":{"buy":3.35,"high":3.41,"last":3.35,"low":3.23,"sell":3.37,"vol":616563.4534,"change":1.21},"usdt_neo":{"buy":12.476,"high":12.578,"last":12.504,"low":11.925,"sell":12.504,"vol":414924.307,"change":2.69},"usdt_zrx":{"buy":0.3516,"high":0.3684,"last":0.3564,"low":0.3387,"sell":0.3564,"vol":764772.818,"change":3.18},"usdt_eos":{"buy":5.7823,"high":5.8597,"last":5.7901,"low":5.3505,"sell":5.7892,"vol":23024440.5313,"change":7.53},"usdt_brc":{"buy":3.5203,"high":6.7,"last":5.75,"low":3.5,"sell":5.7,"vol":321.0251,"change":-14.18},"usdt_xmr":{"buy":69.19,"high":69.81,"last":69.36,"low":67.25,"sell":69.36,"vol":138279.3998,"change":1.75},"usdt_xrp":{"buy":0.3546,"high":0.358,"last":0.355,"low":0.3422,"sell":0.355,"vol":100758887.257,"change":2.13},"usdt_etz":{"buy":0.117999,"high":0.119999,"last":0.117999,"low":0.113013,"sell":0.118,"vol":677745.6491,"change":1.3},"usdt_omg":{"buy":2.2682,"high":2.3014,"last":2.2677,"low":2.1721,"sell":2.275,"vol":2932844.0081,"change":1.16},"usdt_trx":{"buy":0.029928,"high":0.030915,"last":0.029928,"low":0.029398,"sell":0.029969,"vol":1053148998.47,"change":-1.85},"usdt_zec":{"buy":71.9,"high":72.77,"last":72.17,"low":68.61,"sell":72.17,"vol":5352.03386,"change":2.34},"usdt_elf":{"buy":0.2031,"high":0.2087,"last":0.2039,"low":0.1952,"sell":0.2038,"vol":3740610.215,"change":1.59},"usdt_acce":{"buy":0.007011,"high":0.0076,"last":0.007157,"low":0.007005,"sell":0.0074,"vol":410935.62559005,"change":-3.83},"usdt_woc":{"buy":0.014001,"high":0.0188,"last":0.015558,"low":0.011003,"sell":0.017099,"vol":1070882.473307,"change":2.17},"usdt_gas":{"buy":3.4266,"high":3.4938,"last":3.4635,"low":3.3085,"sell":3.4735,"vol":4297.57108,"change":2.97},"usdt_ldbc":{"buy":0.000245,"high":0.000246,"last":0.000246,"low":0.000245,"sell":0.00036,"vol":88872.68,"change":0.41},"usdt_gusd":{"buy":0.0001,"high":0.952,"last":0.952,"low":0.952,"sell":0,"vol":0,"change":0},"usdt_pax":{"buy":0.0001,"high":1.006,"last":1.006,"low":1.006,"sell":1.061,"vol":0,"change":0},"usdt_bnl":{"buy":0.001791,"high":0.001791,"last":0.001791,"low":0.001791,"sell":0.0029,"vol":0,"change":0},"usdt_tsc":{"buy":0.00075,"high":0.0012,"last":0.00075,"low":0.00075,"sell":0.00105,"vol":158292,"change":-37.5},"usdt_lv":{"buy":0.0005,"high":0.00051,"last":0.00051,"low":0.000507,"sell":0.00051,"vol":39997.4603,"change":0},"usdt_fiii":{"buy":0.0046,"high":0.005399,"last":0.004604,"low":0.00455,"sell":0.004604,"vol":30313.83,"change":1.19},"usdt_csm":{"buy":0.663008,"high":0.679996,"last":0.6699,"low":0.650046,"sell":0.6699,"vol":213435.2545,"change":0.89},"usdt_vex":{"buy":0.005694,"high":0.006171,"last":0.005696,"low":0.005455,"sell":0.005696,"vol":4270476.31,"change":4.36},"usdt_gmb":{"buy":0.002596,"high":0.002889,"last":0.002607,"low":0.001857,"sell":0.002617,"vol":1291206,"change":-9.38},"usdt_theta":{"buy":0.127347,"high":0.134401,"last":0.127347,"low":0.120943,"sell":0.128267,"vol":10319615.37,"change":4.39},"usdt_edr":{"buy":0.02815,"high":0.04256,"last":0.04256,"low":0.04256,"sell":0.04256,"vol":0,"change":0},"usdt_mch":{"buy":0.081988,"high":0.092887,"last":0.081989,"low":0.009004,"sell":0.081989,"vol":301860.13,"change":-8.66},"usdt_iq":{"buy":0.003844,"high":0.004144,"last":0.003904,"low":0.0038,"sell":0.004063,"vol":978097.44,"change":2.74},"usdt_ist":{"buy":0.705078,"high":0.719374,"last":0.719034,"low":0.669905,"sell":0.729,"vol":66260.3504,"change":2.26},"usdt_qnt":{"buy":0.010002,"high":3.25,"last":3.25,"low":3.25,"sell":0,"vol":0,"change":0},"usdt_mesg":{"buy":0.040724,"high":0.043202,"last":0.040725,"low":0.037102,"sell":0.041857,"vol":60288.21,"change":8.02},"usdt_btt":{"buy":0.0007598,"high":0.0007797,"last":0.0007633,"low":0.0007585,"sell":0.0007634,"vol":11146213795,"change":-0.24},"usdt_und":{"buy":0.100027,"high":0.102363,"last":0.101244,"low":0.077023,"sell":0.10296,"vol":107435.84,"change":27.35},"usdt_bhd":{"buy":2.01984,"high":2.065179,"last":2.042509,"low":1.96681,"sell":2.065179,"vol":16606.76,"change":2.83},"usdt_mfg":{"buy":0,"high":0.001871,"last":0.001871,"low":0.001871,"sell":0,"vol":0,"change":0},"usdt_mkey":{"buy":0.316414,"high":0.451061,"last":0.316399,"low":0.316005,"sell":0.451058,"vol":10479.01,"change":-29.69},"usdt_mdt":{"buy":0.014182,"high":0.01519,"last":0.014134,"low":0.012786,"sell":0.014617,"vol":8631328.92,"change":3.46},"usdt_r":{"buy":0.155813,"high":0.171188,"last":0.15731,"low":0.138861,"sell":0.161224,"vol":887179.795,"change":4.31},"usdt_kbc":{"buy":0.035206,"high":0.06999,"last":0.06989,"low":0.0698,"sell":0.068,"vol":2449406.08,"change":-0.14},"usdt_ilc":{"buy":0.041112,"high":0.05533,"last":0.05533,"low":0.05533,"sell":0.15,"vol":0,"change":0},"usdt_bhp":{"buy":1.2129,"high":1.2173,"last":1.2133,"low":1.1862,"sell":1.2154,"vol":480591.28,"change":2.02},"usdt_senno":{"buy":4.6e-5,"high":5.4e-5,"last":4.8e-5,"low":4.6e-5,"sell":5.3e-5,"vol":3683243.191548,"change":4.35},"usdt_scsc":{"buy":0.000241,"high":0.00263,"last":0.00263,"low":0.00263,"sell":0.00263,"vol":0,"change":0},"usdt_ect":{"buy":6.72e-5,"high":0.0001097,"last":9.84e-5,"low":7.0e-5,"sell":9.4e-5,"vol":141378321,"change":4.68},"usdt_lme":{"buy":2.527e-5,"high":2.72e-5,"last":2.72e-5,"low":2.625e-5,"sell":2.72e-5,"vol":243929027.2,"change":2.12},"usdt_cps":{"buy":3.318e-5,"high":5.685e-5,"last":5.685e-5,"low":3.256e-5,"sell":5.984e-5,"vol":224787.52,"change":74.6},"usdt_alc":{"buy":8.12e-6,"high":9.3e-6,"last":8.8e-6,"low":7.71e-6,"sell":8.8e-6,"vol":107560516.8,"change":9.38},"usdt_tix":{"buy":5.6e-6,"high":6.19e-6,"last":6.18e-6,"low":5.6e-6,"sell":6.18e-6,"vol":32709027.99,"change":0},"usdt_show":{"buy":0.001699,"high":0.001782,"last":0.00176,"low":0.0015,"sell":0.00176,"vol":15065682.3,"change":17.33},"usdt_nfsc":{"buy":1.778e-5,"high":2.08e-5,"last":1.73e-5,"low":1.618e-5,"sell":1.779e-5,"vol":229309825.88,"change":-1.65},"usdt_let":{"buy":0.008398,"high":0.009599,"last":0.008447,"low":0.00799,"sell":0.008447,"vol":277288882.8371,"change":2.2},"usdt_fair":{"buy":0.0046,"high":0.0058,"last":0.0046,"low":0.0046,"sell":0.0049,"vol":2065029389.24,"change":-17.86},"usdt_ruff":{"buy":0.016347,"high":0.016583,"last":0.016347,"low":0.01568,"sell":0.016466,"vol":8252481.8204,"change":0.8},"usdt_yee":{"buy":0.0028,"high":0.003,"last":0.0028,"low":0.0028,"sell":0.003,"vol":17237327.1,"change":-6.67},"usdt_diy":{"buy":0.00223,"high":0.002262,"last":0.00224,"low":0.00223,"sell":0.00224,"vol":766042,"change":-0.97},"usdt_wpp":{"buy":0.007089,"high":0.008888,"last":0.007102,"low":0.0065,"sell":0.007266,"vol":547808689.27,"change":-18.59},"usdt_mith":{"buy":0.0488,"high":0.0521,"last":0.0493,"low":0.0473,"sell":0.0493,"vol":14566874.351,"change":2.6},"usdt_zip":{"buy":0.000745,"high":0.000814,"last":0.000745,"low":0.000702,"sell":0.00075,"vol":2064817611,"change":2.55},"usdt_iost":{"buy":0.01571,"high":0.015998,"last":0.015716,"low":0.014173,"sell":0.015755,"vol":307976874.8416,"change":8.13},"usdt_zil":{"buy":0.023256,"high":0.023569,"last":0.023361,"low":0.022256,"sell":0.023361,"vol":50880984.6659,"change":2.8},"btc_eth":{"buy":0.034458,"high":0.034721,"last":0.034458,"low":0.033816,"sell":0.034459,"vol":192791.1579,"change":1.41},"btc_ltc":{"buy":0.016857,"high":0.017231,"last":0.016858,"low":0.016568,"sell":0.016878,"vol":3285663.8085,"change":1.59},"btc_bch":{"buy":0.057454,"high":0.058681,"last":0.057565,"low":0.056736,"sell":0.057565,"vol":28573.251,"change":0.49},"btc_bchabc":{"buy":0.057505,"high":0.058681,"last":0.057617,"low":0.056686,"sell":0.057617,"vol":29511.139,"change":1.22},"btc_bchsv":{"buy":0.015266,"high":0.015461,"last":0.015307,"low":0.014967,"sell":0.015313,"vol":11956.413,"change":1.83},"btc_bsv":{"buy":0.015308,"high":0.015461,"last":0.015353,"low":0.014967,"sell":0.015353,"vol":11405.486,"change":1.53},"btc_etc":{"buy":0.001355,"high":0.001393,"last":0.001358,"low":0.001308,"sell":0.001358,"vol":2806630.15,"change":2.68},"btc_rvn":{"buy":1.316e-5,"high":1.379e-5,"last":1.317e-5,"low":1.282e-5,"sell":1.325e-5,"vol":68812114,"change":-0.49},"btc_dash":{"buy":0.025246,"high":0.025796,"last":0.025246,"low":0.025141,"sell":0.025312,"vol":14528.3268,"change":-0.86},"btc_qtum":{"buy":0.000642,"high":0.000653,"last":0.000645,"low":0.000633,"sell":0.000645,"vol":1077352.7192,"change":0.94},"btc_neo":{"buy":0.002396,"high":0.002425,"last":0.002401,"low":0.002337,"sell":0.002401,"vol":475945.78,"change":1.82},"btc_bhp":{"buy":0.00023286,"high":0.00023409,"last":0.00023294,"low":0.00022843,"sell":0.00023333,"vol":2525956.406,"change":-0.03},"btc_eos":{"buy":0.00111023,"high":0.00112818,"last":0.00111151,"low":0.00104177,"sell":0.00111151,"vol":13841396.49,"change":6.6},"btc_xem":{"buy":1.399e-5,"high":1.426e-5,"last":1.405e-5,"low":1.378e-5,"sell":1.405e-5,"vol":10992218,"change":0.75},"btc_trx":{"buy":5.74e-6,"high":5.99e-6,"last":5.77e-6,"low":5.69e-6,"sell":5.77e-6,"vol":495216431.44,"change":-2.29},"btc_xrp":{"buy":6.805e-5,"high":6.889e-5,"last":6.81e-5,"low":6.727e-5,"sell":6.81e-5,"vol":26044644.415,"change":0.66},"btc_omg":{"buy":0.000432,"high":0.00045,"last":0.000432,"low":0.000423,"sell":0.00044,"vol":2164761.9299,"change":-0.46},"btc_powr":{"buy":2.407e-5,"high":2.484e-5,"last":2.425e-5,"low":2.257e-5,"sell":2.425e-5,"vol":127614,"change":4.08},"btc_xmr":{"buy":0.013283,"high":0.013397,"last":0.013283,"low":0.013032,"sell":0.013313,"vol":98977.316,"change":0.51},"btc_etz":{"buy":2.112e-5,"high":2.343e-5,"last":2.267e-5,"low":2.129e-5,"sell":2.269e-5,"vol":22263.54,"change":1.39},"btc_zec":{"buy":0.013817,"high":0.014032,"last":0.013853,"low":0.013451,"sell":0.013854,"vol":32290.454,"change":1.76},"btc_mgo":{"buy":1.66e-5,"high":1.85e-5,"last":1.85e-5,"low":1.72e-5,"sell":1.801e-5,"vol":260972.6,"change":7.56},"btc_mco":{"buy":0.000763,"high":0.000775,"last":0.000769,"low":0.000739,"sell":0.000769,"vol":80564.66,"change":3.08},"btc_cro":{"buy":1.134e-5,"high":1.312e-5,"last":1.135e-5,"low":1.01e-5,"sell":1.148e-5,"vol":6655078.3,"change":5.63},"btc_gxc":{"buy":0.0002368,"high":0.0002485,"last":0.0002385,"low":0.0002222,"sell":0.0002385,"vol":566544.31,"change":6.24},"btc_elf":{"buy":3.892e-5,"high":4.03e-5,"last":3.894e-5,"low":3.825e-5,"sell":3.915e-5,"vol":4654484.807,"change":0.23},"btc_ong":{"buy":0.00011566,"high":0.00011692,"last":0.00011566,"low":0.00011318,"sell":0.00011656,"vol":244184,"change":1.7},"btc_gusd":{"buy":2.0e-8,"high":0.00014921,"last":0.00014921,"low":0.00014921,"sell":0,"vol":0,"change":0},"btc_gas":{"buy":0.00066034,"high":0.00066967,"last":0.00066127,"low":0.00064635,"sell":0.00066673,"vol":2890.57828,"change":1.48},"btc_cst":{"buy":3.0e-7,"high":3.5e-7,"last":3.0e-7,"low":3.0e-7,"sell":4.4e-7,"vol":21486.3,"change":-14.29},"btc_npxs":{"buy":1.4e-7,"high":1.6e-7,"last":1.4e-7,"low":1.4e-7,"sell":1.5e-7,"vol":996996,"change":-12.5},"btc_kst":{"buy":1.9e-7,"high":1.9e-7,"last":1.9e-7,"low":1.9e-7,"sell":1.11e-6,"vol":0,"change":0},"btc_dex":{"buy":7.0e-6,"high":8.7e-6,"last":7.99e-6,"low":7.0e-6,"sell":8.0e-6,"vol":408093.4789,"change":-7.63},"btc_b2g":{"buy":4.906e-5,"high":5.499e-5,"last":5.12e-5,"low":4.7e-5,"sell":5.221e-5,"vol":274092.8181,"change":1.47},"btc_fiii":{"buy":9.0e-7,"high":9.0e-7,"last":9.0e-7,"low":8.0e-7,"sell":1.14e-6,"vol":959.86,"change":12.5},"btc_cnus":{"buy":5.5e-6,"high":6.07e-6,"last":5.99e-6,"low":5.5e-6,"sell":5.96e-6,"vol":2518129.58,"change":-1.32},"btc_nrg":{"buy":0.000335,"high":0.00034499,"last":0.000335,"low":0.00033001,"sell":0.00034445,"vol":136547.979,"change":-2.89},"btc_edc":{"buy":9.1e-7,"high":1.25e-6,"last":1.02e-6,"low":1.01e-6,"sell":1.29e-6,"vol":30684539.46,"change":-17.07},"btc_elac":{"buy":2.28e-6,"high":5.34e-6,"last":5.05e-6,"low":2.15e-6,"sell":5.55e-6,"vol":29885.34,"change":7.68},"btc_tmtg":{"buy":1.2e-6,"high":1.81e-6,"last":1.21e-6,"low":8.9e-7,"sell":1.63e-6,"vol":2579253.94,"change":-33.15},"btc_csm":{"buy":0.00011223,"high":0.00014028,"last":0.00011223,"low":0.00011223,"sell":0.00017993,"vol":153.5755,"change":-20},"btc_ist":{"buy":0.00013646,"high":0.00014136,"last":0.0001377,"low":0.00012971,"sell":0.00014138,"vol":66973.4278,"change":2.67},"btc_ole":{"buy":1.01e-6,"high":1.12e-6,"last":1.01e-6,"low":1.01e-6,"sell":1.11e-6,"vol":2052.73,"change":-9.82},"btc_theta":{"buy":2.423e-5,"high":2.628e-5,"last":2.503e-5,"low":2.332e-5,"sell":2.503e-5,"vol":2196977.13,"change":7.33},"btc_edr":{"buy":0,"high":9.1e-6,"last":9.1e-6,"low":9.1e-6,"sell":0,"vol":0,"change":0},"btc_qnt":{"buy":1.02e-5,"high":0.00119999,"last":0.00119999,"low":0.00119999,"sell":0.000645,"vol":0,"change":0},"btc_mesg":{"buy":7.81e-6,"high":8.33e-6,"last":7.91e-6,"low":7.21e-6,"sell":8.01e-6,"vol":77482.32,"change":8.36},"btc_btt":{"buy":1.4e-7,"high":1.5e-7,"last":1.4e-7,"low":1.4e-7,"sell":1.9e-7,"vol":448707,"change":0},"btc_und":{"buy":1.955e-5,"high":1.985e-5,"last":1.981e-5,"low":1.486e-5,"sell":1.985e-5,"vol":103356.41,"change":29.14},"btc_bora":{"buy":1.779e-5,"high":2.097e-5,"last":1.82e-5,"low":1.393e-5,"sell":1.823e-5,"vol":420327.26,"change":30.05},"btc_bhd":{"buy":0.00038496,"high":0.00039869,"last":0.0003904,"low":0.00038364,"sell":0.00039584,"vol":15189.7,"change":-0.25},"btc_mfg":{"buy":0,"high":4.7e-7,"last":4.7e-7,"low":4.7e-7,"sell":5.0e-6,"vol":0,"change":0},"btc_ftm":{"buy":2.76e-6,"high":2.93e-6,"last":2.81e-6,"low":2.5e-6,"sell":2.86e-6,"vol":16699284.13,"change":11.29},"btc_r":{"buy":3.026e-5,"high":3.334e-5,"last":3.007e-5,"low":2.777e-5,"sell":3.028e-5,"vol":459149.72,"change":3.42},"btc_lbxc":{"buy":1.2e-6,"high":1.49e-6,"last":1.2e-6,"low":9.2e-7,"sell":1.26e-6,"vol":8205399.62,"change":-4.76},"btc_mkey":{"buy":4.441e-5,"high":8.652e-5,"last":8.652e-5,"low":8.652e-5,"sell":8.65e-5,"vol":419.6,"change":0},"btc_grs":{"buy":8.933e-5,"high":9.128e-5,"last":8.933e-5,"low":8.64e-5,"sell":8.998e-5,"vol":1265895,"change":2.95},"btc_mdt":{"buy":2.71e-6,"high":2.96e-6,"last":2.88e-6,"low":2.39e-6,"sell":2.95e-6,"vol":8990425.67,"change":9.92},"btc_kbc":{"buy":1.057e-5,"high":1.54e-5,"last":1.52e-5,"low":1.24e-5,"sell":1.468e-5,"vol":1326671.81,"change":-1.3},"btc_fnk":{"buy":2.5e-7,"high":3.3e-7,"last":3.3e-7,"low":3.1e-7,"sell":3.3e-7,"vol":2328600,"change":3.13},"btc_gib":{"buy":1.0e-7,"high":1.153e-5,"last":1.1e-7,"low":8.0e-8,"sell":1.4e-7,"vol":29014531.047,"change":-99.05},"btc_ilc":{"buy":3.2e-7,"high":1.106e-5,"last":1.106e-5,"low":1.106e-5,"sell":3.699e-5,"vol":0,"change":0},"btc_sc":{"buy":6.6e-7,"high":6.9e-7,"last":6.7e-7,"low":6.2e-7,"sell":6.7e-7,"vol":19093353,"change":-2.9},"btc_ont":{"buy":0.0002888,"high":0.0002937,"last":0.0002888,"low":0.0002744,"sell":0.00029,"vol":913642.01,"change":1.83},"btc_lbtc":{"buy":0.00196123,"high":0.00206092,"last":0.00196342,"low":0.00196165,"sell":0.00196342,"vol":3316.01437553,"change":-3.42},"btc_datx":{"buy":2.5e-7,"high":2.9e-7,"last":2.5e-7,"low":2.3e-7,"sell":2.7e-7,"vol":68976405.9,"change":0},"btc_fair":{"buy":2.8e-7,"high":1.99e-6,"last":1.99e-6,"low":1.99e-6,"sell":1.92e-6,"vol":0,"change":0},"btc_gnx":{"buy":6.41e-6,"high":7.27e-6,"last":6.2e-6,"low":5.94e-6,"sell":6.75e-6,"vol":718525.973,"change":-4.91},"btc_mith":{"buy":9.38e-6,"high":1.07e-5,"last":9.38e-6,"low":9.16e-6,"sell":9.46e-6,"vol":117338218.03,"change":0.97},"btc_cmt":{"buy":8.66e-6,"high":9.06e-6,"last":8.64e-6,"low":7.98e-6,"sell":8.73e-6,"vol":2092481.01,"change":7.73},"btc_zrx":{"buy":6.767e-5,"high":7.109e-5,"last":6.765e-5,"low":6.628e-5,"sell":6.806e-5,"vol":531687.355,"change":1.78},"eth_etc":{"buy":0.039297,"high":0.04094,"last":0.039297,"low":0.038462,"sell":0.039437,"vol":956758.42,"change":0.84},"eth_xrp":{"buy":0.0019748,"high":0.0020002,"last":0.00197893,"low":0.00194718,"sell":0.00197891,"vol":3129624.535,"change":-0.72},"eth_eos":{"buy":0.03222355,"high":0.03273963,"last":0.03227513,"low":0.03062974,"sell":0.03226913,"vol":1962907.32,"change":5.15},"eth_dash":{"buy":0.731981,"high":0.755103,"last":0.735521,"low":0.729562,"sell":0.735774,"vol":312.5871,"change":-2.01},"eth_bzky":{"buy":8.58e-5,"high":9.276e-5,"last":9.127e-5,"low":8.569e-5,"sell":9.277e-5,"vol":509888.1819,"change":1.34},"eth_qtum":{"buy":0.018627,"high":0.019025,"last":0.018747,"low":0.018427,"sell":0.018742,"vol":40957.8806,"change":-0.44},"eth_trx":{"buy":0.00016668,"high":0.00017521,"last":0.00016668,"low":0.00016536,"sell":0.00016719,"vol":204471655.11,"change":-4.03},"eth_neo":{"buy":0.06952,"high":0.070719,"last":0.06952,"low":0.068594,"sell":0.069628,"vol":95173.49,"change":0.15},"eth_iost":{"buy":8.723e-5,"high":8.933e-5,"last":8.787e-5,"low":8.175e-5,"sell":8.784e-5,"vol":16362038.02,"change":6.72},"eth_xem":{"buy":0.0004055,"high":0.00041767,"last":0.00040549,"low":0.0004041,"sell":0.00040826,"vol":513112,"change":-1.7},"eth_zrx":{"buy":0.00192808,"high":0.00210294,"last":0.00199879,"low":0.00191789,"sell":0.00202202,"vol":32223.452,"change":0.32},"eth_omg":{"buy":0.012646,"high":0.013012,"last":0.012683,"low":0.012552,"sell":0.012683,"vol":99616.4206,"change":-0.7},"eth_cmt":{"buy":0.0002515,"high":0.00025729,"last":0.00025318,"low":0.00023338,"sell":0.00025342,"vol":555543.33,"change":6.49},"eth_xmr":{"buy":0.3841,"high":0.39237,"last":0.3841,"low":0.38046,"sell":0.38717,"vol":31152.752,"change":-0.92},"eth_zip":{"buy":4.14e-6,"high":4.52e-6,"last":4.15e-6,"low":4.05e-6,"sell":4.18e-6,"vol":5847821,"change":1.47},"eth_zec":{"buy":0.4008,"high":0.40802,"last":0.40231,"low":0.39563,"sell":0.4022,"vol":1984.075,"change":0.74},"eth_ont":{"buy":0.008374,"high":0.008549,"last":0.008374,"low":0.008075,"sell":0.008417,"vol":142363.33,"change":0.34},"eth_etz":{"buy":0.00064218,"high":0.0006999,"last":0.00065867,"low":0.00063,"sell":0.0006623,"vol":68447.51003251,"change":-2.02},"eth_elf":{"buy":0.00112876,"high":0.00117268,"last":0.00112876,"low":0.00112189,"sell":0.00113644,"vol":310831.359,"change":-1.07},"eth_gxc":{"buy":0.006867,"high":0.007251,"last":0.006951,"low":0.006491,"sell":0.006951,"vol":108256.15,"change":5.05},"eth_gusd":{"buy":0.0043651,"high":0.0043651,"last":0.0043651,"low":0.0043651,"sell":0,"vol":0,"change":0},"eth_gas":{"buy":0.01908091,"high":0.0198198,"last":0.0198198,"low":0.0188811,"sell":0.01971969,"vol":68.5213,"change":1.54},"eth_ruff":{"buy":9.084e-5,"high":9.391e-5,"last":9.091e-5,"low":8.904e-5,"sell":9.191e-5,"vol":1105857.1,"change":-2.69},"eth_fair":{"buy":2.512e-5,"high":4.204e-5,"last":2.51e-5,"low":2.42e-5,"sell":2.847e-5,"vol":10457048.09,"change":-20.7},"eth_let":{"buy":4.675e-5,"high":5.508e-5,"last":4.724e-5,"low":4.5e-5,"sell":4.728e-5,"vol":16721308.42,"change":0.32},"eth_cst":{"buy":5.7e-6,"high":5.71e-6,"last":5.71e-6,"low":5.71e-6,"sell":1.949e-5,"vol":80409.88,"change":0},"eth_npxsxem":{"buy":3.08e-6,"high":3.17e-6,"last":3.13e-6,"low":3.01e-6,"sell":3.16e-6,"vol":1010681,"change":1.62},"eth_bhc":{"buy":0.00010007,"high":0.00013,"last":0.00013,"low":0.00013,"sell":0.00015554,"vol":0,"change":0},"eth_newos":{"buy":3.05e-6,"high":1.078e-5,"last":1.078e-5,"low":1.078e-5,"sell":1.078e-5,"vol":0,"change":0},"eth_hum":{"buy":1.75e-6,"high":1.8e-6,"last":1.6e-6,"low":1.6e-6,"sell":1.8e-6,"vol":84938.19,"change":-10.61},"eth_mcs":{"buy":0.000244,"high":0.000378,"last":0.00024402,"low":0.00021005,"sell":0.00024495,"vol":12688944.8319,"change":-11.59},"eth_gana":{"buy":1.79e-5,"high":1.79e-5,"last":1.79e-5,"low":1.78e-5,"sell":2.102e-5,"vol":15683.37,"change":0.56},"eth_dex":{"buy":7.3e-5,"high":0.00043143,"last":0.00039858,"low":5.217e-5,"sell":0.00039859,"vol":424916.6654,"change":54.7},"eth_mfg":{"buy":0,"high":1.231e-5,"last":1.231e-5,"low":1.231e-5,"sell":0,"vol":0,"change":0},"eth_gmb":{"buy":1.41e-5,"high":1.654e-5,"last":1.49e-5,"low":1.258e-5,"sell":1.49e-5,"vol":842984,"change":-8.53},"eth_axl":{"buy":3.2e-5,"high":7.246e-5,"last":7.246e-5,"low":7.246e-5,"sell":7.221e-5,"vol":0,"change":0},"eth_flc":{"buy":0.02511888,"high":0.03029702,"last":0.02675434,"low":0.02511712,"sell":0.02675434,"vol":89404.59,"change":-11.11},"eth_qnt":{"buy":0.012,"high":0.018,"last":0.018,"low":0.018,"sell":0.0215,"vol":0,"change":0},"eth_mesg":{"buy":0.00022671,"high":0.0002431,"last":0.00022672,"low":0.00021055,"sell":0.00023356,"vol":95969.34,"change":7.09},"eth_und":{"buy":0.00055937,"high":0.00057564,"last":0.00056831,"low":0.00043633,"sell":0.00057564,"vol":96035.85,"change":22.86},"eth_bhd":{"buy":0.01122859,"high":0.01171748,"last":0.01122859,"low":0.01105141,"sell":0.01141803,"vol":16836.53,"change":-2.51},"eth_bora":{"buy":0.00051347,"high":0.00063,"last":0.00051432,"low":0.0004011,"sell":0.000519,"vol":2405156.16,"change":27.33},"eth_r":{"buy":0.00081,"high":0.00091,"last":0.0008,"low":0.00077,"sell":0.00109,"vol":4480.863,"change":3.9},"eth_grs":{"buy":0.00257655,"high":0.00267804,"last":0.00266119,"low":0.00252599,"sell":0.00266092,"vol":52352,"change":4.34},"eth_mdt":{"buy":7.163e-5,"high":8.523e-5,"last":7.153e-5,"low":7.092e-5,"sell":8.333e-5,"vol":480470.61,"change":-6.28},"eth_sc":{"buy":1.94e-5,"high":1.997e-5,"last":1.964e-5,"low":1.921e-5,"sell":1.965e-5,"vol":17614614,"change":-0.05},"eth_cps":{"buy":2.0e-7,"high":6.3e-7,"last":6.3e-7,"low":6.3e-7,"sell":6.2e-7,"vol":0,"change":0},"eth_kbc":{"buy":0.00027007,"high":0.0004489,"last":0.00043899,"low":0.00019176,"sell":0.00042998,"vol":1796354.78,"change":-2.21},"eth_ggpc":{"buy":2.0e-7,"high":2.0e-7,"last":2.0e-7,"low":2.0e-7,"sell":2.5e-7,"vol":0,"change":0},"eth_mgd":{"buy":0.00033,"high":0.00040998,"last":0.00033,"low":0.00030901,"sell":0.00039,"vol":5533.72631012,"change":-5.44},"eth_zag":{"buy":3.87e-6,"high":3.88e-6,"last":3.88e-6,"low":3.88e-6,"sell":7.77e-6,"vol":0,"change":0},"eth_mt":{"buy":1.01e-5,"high":4.008e-5,"last":4.008e-5,"low":1.009e-5,"sell":4.008e-5,"vol":336.15403922,"change":297.22},"eth_insur":{"buy":1.73e-6,"high":1.99e-6,"last":1.88e-6,"low":1.42e-6,"sell":1.88e-6,"vol":123677415.3,"change":27.89},"eth_qbt":{"buy":8.451e-5,"high":0.00010901,"last":0.00010901,"low":0.00010901,"sell":0.00016,"vol":0,"change":0},"eth_gve":{"buy":6.38e-6,"high":8.34e-6,"last":6.69e-6,"low":6.29e-6,"sell":6.69e-6,"vol":53733866.09,"change":-1.47},"eth_datx":{"buy":7.49e-6,"high":8.37e-6,"last":7.64e-6,"low":6.87e-6,"sell":7.64e-6,"vol":25028945.61,"change":1.06},"eth_ssp":{"buy":6.7e-6,"high":7.38e-6,"last":6.7e-6,"low":6.36e-6,"sell":6.77e-6,"vol":539428524.2,"change":-5.5},"eth_ees":{"buy":7.999e-5,"high":0.00015428,"last":8.533e-5,"low":7.999e-5,"sell":0.00014499,"vol":63481,"change":-30.56},"eth_bqt":{"buy":3.104e-5,"high":6.0e-5,"last":6.0e-5,"low":3.1e-5,"sell":6.0e-5,"vol":100,"change":93.55},"eth_rct":{"buy":9.73e-6,"high":1.224e-5,"last":9.79e-6,"low":7.77e-6,"sell":1.038e-5,"vol":18030130.33,"change":8.3},"eth_gnx":{"buy":0.00017783,"high":0.00027433,"last":0.00025926,"low":0.00017785,"sell":0.00019924,"vol":2383579.395,"change":7.44},"eth_osch":{"buy":5.2e-7,"high":6.0e-7,"last":5.7e-7,"low":5.4e-7,"sell":6.0e-7,"vol":12519492.19,"change":0},"eth_powr":{"buy":0.00069536,"high":0.00073168,"last":0.00070641,"low":0.00068117,"sell":0.00070641,"vol":27829,"change":2.54},"eth_mith":{"buy":0.00027073,"high":0.00030731,"last":0.00026573,"low":0.00026563,"sell":0.00027827,"vol":375729.416,"change":-0.37},"eth_zil":{"buy":0.00012906,"high":0.00013165,"last":0.00013064,"low":0.00012721,"sell":0.00013035,"vol":4551285.65,"change":1.43},"dft_pgd":{"buy":0.040001,"high":0.079998,"last":0.079998,"low":0.079998,"sell":0.08,"vol":0,"change":0},"dft_aaa":{"buy":0.000399,"high":0.000497,"last":0.000497,"low":0.000497,"sell":0.000498,"vol":0,"change":0},"dft_xrt":{"buy":6.0e-5,"high":7.0e-5,"last":7.0e-5,"low":7.0e-5,"sell":8.6e-5,"vol":0,"change":0},"dft_hdn":{"buy":0.001356,"high":0.001356,"last":0.001356,"low":0.001348,"sell":0.002999,"vol":216,"change":0.59},"dft_jqb":{"buy":0.03,"high":0.0444,"last":0.0444,"low":0.0444,"sell":0.0444,"vol":2647.33,"change":0},"tusd_usdt":{"buy":1.0063,"high":1.0164,"last":1.0102,"low":1.0045,"sell":1.0103,"vol":3383955.2559,"change":-0.31},"tusd_eth":{"buy":180.39,"high":183.45,"last":181.45,"low":174.27,"sell":181.49,"vol":4611.7902,"change":2.55},"tusd_btc":{"buy":5240.37,"high":5287.11,"last":5264.34,"low":5125.92,"sell":5265.39,"vol":449.4051,"change":0.58},"tusd_neo":{"buy":12.559,"high":12.831,"last":12.831,"low":11.999,"sell":12.702,"vol":12417.928,"change":4.96},"tusd_eos":{"buy":5.8189,"high":5.9373,"last":5.811,"low":5.379,"sell":5.8805,"vol":80678.1511,"change":6.77},"usdc_pax":{"buy":0.997,"high":1.0024,"last":1.0023,"low":0.9928,"sell":1.0023,"vol":21718.95,"change":0.52},"usdc_btc":{"buy":5245.2,"high":5286.92,"last":5256.02,"low":5136.56,"sell":5260.29,"vol":86.361973,"change":0.58},"usdc_eth":{"buy":180.56,"high":183.69,"last":180.44,"low":173.58,"sell":181.29,"vol":412.98838,"change":1.64},"usdc_eos":{"buy":5.8237,"high":5.943,"last":5.8508,"low":5.3226,"sell":5.8496,"vol":10871.12,"change":9.9},"usdc_usdt":{"buy":1.0059,"high":1.015,"last":1.0068,"low":1.0048,"sell":1.0096,"vol":260811.25,"change":-0.64}}}'
  recorded_at: Wed, 10 Apr 2019 09:03:38 GMT
recorded_with: VCR 4.0.0
