---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.3xbit.com.br/v1/history/btc/doge/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - pt-br
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"exchange_rate":3.75,"market":"BTCDOGE","history":{"page":1,"previous":null,"next":"https://api.exchange.3xbit.com.br/v1/history/btc/doge/?page=2","results":[{"order_type":"SELL","unit_price":"0.00000057","quantity":"141298.00000000","timestamp":1547876452.799588,"transaction_id":"GLKkUjWB6LV"},{"order_type":"SELL","unit_price":"0.00000057","quantity":"125251.77922900","timestamp":1547867838.166621,"transaction_id":"gnWlU1vWgAY"},{"order_type":"SELL","unit_price":"0.00000058","quantity":"39376.22077100","timestamp":1547867832.436001,"transaction_id":"Rn8WUjE8w2x"},{"order_type":"BUY","unit_price":"0.00000058","quantity":"1707.71282100","timestamp":1547860560.845494,"transaction_id":"1LRDUDJpEnR"},{"order_type":"SELL","unit_price":"0.00000058","quantity":"31581.28762300",[...]
