---
http_interactions:
- request:
    method: get
    uri: https://api.fmex.com/v2/public/contracts/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"data":[{"name":"btcusd_p","start_at_epoch":1546300800000,"end_at_epoch":5000000000000,"type":"perpetual","inverse":true,"margin_currency":"btc","liquidate_by":"index_price","multiplier":1,"minimum_price_increment":0.5,"price_step":5,"price_scale":1,"settlement_fee_rate":0.0,"risk_limit":{"id":"26","initial_margin_rate":0.01,"maintenance_margin_rate_step":0.005,"max_leverage":100,"risk_limit_base":200000,"risk_limit_step":1000000,"max_risk_limit_steps":9,"max_order_quantity":200000}}]}'
  recorded_at: Sat, 30 Nov 2019 07:47:21 GMT
recorded_with: VCR 4.0.0
