---
http_interactions:
- request:
    method: get
    uri: https://api.fmex.com/v2/market/depth/L150/btcusd_p
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"data":{"type":"depth.l150.btcusd_p","seq":978943826,"ts":1575100047920,"asks":[7750.5,68239.0,7751.0,83.0,7751.5,774.0,7752.0,1746.0,7752.5,2927.0,7753.0,5175.0,7753.5,3302.0,7754.0,9720.0,7754.5,8009.0,7755.0,15710.0,7755.5,19669.0,7756.0,632.0,7756.5,5247.0,7757.0,5323.0,7758.0,5323.0,7759.0,2100.0,7760.0,101.0,7761.0,202.0,7763.0,1201.0,7763.5,60000.0,7764.5,101.0,7765.0,21.0,7765.5,1.0,7766.0,520.0,7766.5,1.0,7767.0,26.0,7767.5,1.0,7768.0,45.0,7768.5,1.0,7769.0,12022.0,7770.0,3500.0,7771.5,10780.0,7772.5,1002.0,7774.0,20.0,7775.0,12000.0,7776.5,501.0,7777.0,502.0,7777[...]
