---
http_interactions:
- request:
    method: get
    uri: https://www.mxc.com/open/api/v1/data/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - cb634c7,-
    body:
      encoding: UTF-8
      string: '{"code":200,"data":{"ONT_USDT":{"volume":"721356.66","high":"1.4021","low":"1.3007","buy":"1.3","sell":"1.31","open":"1.3933","last":"1.3074"},"LAMB_ETH":{"volume":"7448403.31","high":"0.00027507","low":"0.00025733","buy":"0.00026564","sell":"0.00026756","open":"0.00026849","last":"0.00026675"},"ANKR_USDT":{"volume":"122638319.5269","high":"0.007121","low":"0.006747","buy":"0.007128","sell":"0.007131","open":"0.006839","last":"0.007121"},"PAX_USDT":{"volume":"15744167.69","high":"1.001","low":"0.9942","buy":"0.987","sell":"1.002","open":"0.9951","last":"0.9987"},"LIT_ETH":{"volume":"30013450.82","high":"0.000471","low":"0.000354","buy":"0.000354","sell":"0.0004","open":"0.00037","last":"0.000402"},"IRIS_ETH":{"volume":"48267160.39","high":"0.0003657","low":"0.000283","buy":"0.0002958","sell":"0.0003012","open":"0.0003528","last":"0.0002988"},"MX_USDT":{"volume":"42129112.83","high":"0.142538","low":"0.111881","buy":"0.131999","sell":"0.132998","open":"0.11508","last":"0.132915"},"QKC_ETH":{"volume":"32171666.45","high":"0.00011557","low":"0.00009775","buy":"0.00010948","sell":"0.00011197","open":"0.00010099","last":"0.00011188"},"AT_USDT":{"volume":"35735003.85","high":"0.007795","low":"0.006323","buy":"0.006982","sell":"0.00699","open":"0.007596","last":"0.006985"},"IRIS_USDT":{"volume":"17345007.28","high":"0.09476","low":"0.06831","buy":"0.07238","sell":"0.07268","open":"0.09476","last":"0.07255"},"DUO_USDT":{"volume":"7814403.56","high":"0.327","low":"0.2788","buy":"0.2851","sell":"0.2902","open":"0.3012","last":"0.2861"},"NOVA_USDT":{"volume":"384375038.54","high":"0.000187","low":"0.000098","buy":"0.000129","sell":"0.000133","open":"0.000134","last":"0.000131"},"TRX_USDT":{"volume":"1689369727.1","high":"0.02895","low":"0.02606","buy":"0.02675","sell":"0.02676","open":"0.02832","last":"0.02676"},"DOGE_USDT":{"volume":"1774112995.71","high":"0.0030212","low":"0.0028292","buy":"0.0028261","sell":"0.0028339","open":"0.0030077","last":"0.0028521"},"ALIX_MX":{"volume":"46921259.1","high":"0.016955","low":"0.012993","buy":"0.013579","sell":"0.01765","open":"0.016369","last":"0.013828"},"NEW_BTC":{"volume":"74664570.8","high":"0.00000071","low":"0.00000047","buy":"0.0000005","sell":"0.00000052","open":"0.00000066","last":"0.00000051"},"TRX_ETH":{"volume":"77668727.99","high":"0.0001131","low":"0.0001067","buy":"0.0001087","sell":"0.0001113","open":"0.0001108","last":"0.0001101"},"DDD_USDT":{"volume":"16585546.72","high":"0.0246056","low":"0.0226969","buy":"0.0231976","sell":"0.0239024","open":"0.0234956","last":"0.0234036"},"ARPA_USDT":{"volume":"8193456.46","high":"0.04348","low":"0.0395","buy":"0.04113","sell":"0.04209","open":"0.04326","last":"0.04125"},"TGIC_ETH":{"volume":"4228050.57","high":"0.0004624","low":"0.0003682","buy":"0.000409","sell":"0.0004255","open":"0.0004042","last":"0.0004183"},"BTU_USDT":{"volume":"92322986.65","high":"0.00229","low":"0.00175","buy":"0.00185","sell":"0.00208","open":"0.002237","last":"0.002071"},"COVA_ETH":{"volume":"7457311.04","high":"0.000014113","low":"0.000012638","buy":"0.000012475","sell":"0.000013352","open":"0.000013612","last":"0.00001281"},"GRIN_ETH":{"volume":"573263.0625","high":"0.01083","low":"0.01001","buy":"0.01034","sell":"0.01055","open":"0.01041","last":"0.01037"},"FDS_ETH":{"volume":"25524041.89","high":"0.00018","low":"0.0001528","buy":"0.0001652","sell":"0.0001684","open":"0.0001552","last":"0.0001682"},"TCT_USDT":{"volume":"107087.18","high":"0.0339","low":"0.0301","buy":"0.03251","sell":"0.03252","open":"0.03383","last":"0.03252"},"SNT_USDT":{"volume":"18450606.71","high":"0.0275612","low":"0.0254698","buy":"0.0255624","sell":"0.0256637","open":"0.0273295","last":"0.0256624"},"VSYS_ETH":{"volume":"5883713.74","high":"0.0005163","low":"0.0004905","buy":"0.000507","sell":"0.0005265","open":"0.0005056","last":"0.0005074"},"FST_USDT":{"volume":"2438749.75","high":"0.16","low":"0.14435","buy":"0.14444","sell":"0.14843","open":"0.15625","last":"0.14475"},"ZRX_ETH":{"volume":"899422.2","high":"0.00131285","low":"0.00123215","buy":"0.00124183","sell":"0.00124468","open":"0.00129046","last":"0.00124466"},"INKC_USDT":{"volume":"10876341.53","high":"0.001879","low":"0.001441","buy":"0.001737","sell":"0.001745","open":"0.001864","last":"0.001739"},"ONG_ETH":{"volume":"1865804.63","high":"0.001873","low":"0.00164","buy":"0.001695","sell":"0.001825","open":"0.001727","last":"0.001817"},"ANKR_BTC":{"volume":"129630914.8198","high":"0.00000092","low":"0.00000083","buy":"0.0000009","sell":"0.00000092","open":"0.00000088","last":"0.00000092"},"HOT_ETH":{"volume":"100287932.01","high":"0.00000772","low":"0.00000688","buy":"0.00000695","sell":"0.00000719","open":"0.00000716","last":"0.00000698"},"AE_ETH":{"volume":"4077999.65","high":"0.00231402","low":"0.00212699","buy":"0.00224119","sell":"0.00224827","open":"0.00222898","last":"0.00224297"},"RBTC_BTC":{"volume":"9.6908","high":"1.002003","low":"0.997999","buy":"0.991014","sell":"1.008511","open":"0.99943","last":"0.999748"},"RUFF_BTC":{"volume":"3874940.81","high":"0.00000193","low":"0.00000167","buy":"0.00000171","sell":"0.00000179","open":"0.00000174","last":"0.00000174"},"LBTC_BTC":{"volume":"5179.49","high":"0.00076105","low":"0.00070818","buy":"0.00068902","sell":"0.00073489","open":"0.00072164","last":"0.00072038"},"BQT_ETH":{"volume":"12919475.83","high":"0.000056047","low":"0.000055822","buy":"0.000055826","sell":"0.000068997","open":"0.000055826","last":"0.000055922"},"IRIS_BTC":{"volume":"6823822.91","high":"0.00001181","low":"0.00000899","buy":"0.0000094","sell":"0.00000966","open":"0.00001153","last":"0.00000952"},"MEETONE_EOS":{"volume":"9174189.48","high":"0.00043","low":"0.0003398","buy":"0.0003492","sell":"0.0004121","open":"0.0003402","last":"0.0003802"},"BCH_USDT":{"volume":"94324.74219","high":"416.229","low":"380.489","buy":"388.75","sell":"389.489","open":"413.73","last":"388.401"},"YKC_ETH":{"volume":"145999430.81","high":"0.00000579","low":"0.00000537","buy":"0.00000553","sell":"0.00000567","open":"0.00000545","last":"0.00000561"},"BUC_ETH":{"volume":"1835176.85","high":"0.00002524","low":"0.0000252","buy":"0.00002201","sell":"0.00002525","open":"0.00002522","last":"0.00002524"},"TERA_BTC":{"volume":"65984083.14","high":"0.00000091","low":"0.00000076","buy":"0.0000008","sell":"0.00000086","open":"0.00000083","last":"0.00000081"},"SHELL_USDT":{"volume":"39215400.71","high":"0.03485","low":"0.0337","buy":"0.03472","sell":"0.03477","open":"0.03414","last":"0.03476"},"TON_USDT":{"volume":"30849518.22","high":"0.134","low":"0.038","buy":"0.10805","sell":"0.10881","open":"0.038","last":"0.10818"},"ZIL_USDT":{"volume":"22750384.13","high":"0.0220012","low":"0.0192671","buy":"0.019632","sell":"0.019769","open":"0.0210002","last":"0.0196629"},"LINK_ETH":{"volume":"1459255.71","high":"0.005915","low":"0.004775","buy":"0.004907","sell":"0.004974","open":"0.004894","last":"0.004952"},"NEX_ETH":{"volume":"814423.33","high":"0.005802","low":"0.004813","buy":"0.004975","sell":"0.005709","open":"0.005486","last":"0.00558"},"DOS_ETH":{"volume":"2089531.23","high":"0.0000713","low":"0.0000618","buy":"0.0000699","sell":"0.0000715","open":"0.0000623","last":"0.0000713"},"VSYS_USDT":{"volume":"6445961.62","high":"0.13353","low":"0.12","buy":"0.12309","sell":"0.12375","open":"0.12871","last":"0.12372"},"BHD_ETH":{"volume":"736.07","high":"0.119706","low":"0.112939","buy":"0.116923","sell":"0.118074","open":"0.117643","last":"0.117164"},"BSV_USDT":{"volume":"412118.31938","high":"120.63","low":"98.07","buy":"101.27","sell":"103.24","open":"100.97","last":"101.34"},"ALIX_USDT":{"volume":"266568729.15","high":"0.001912","low":"0.001787","buy":"0.001835","sell":"0.001855","open":"0.001877","last":"0.001851"},"LBA_USDT":{"volume":"5756225.09","high":"0.04543","low":"0.03784","buy":"0.038","sell":"0.03889","open":"0.04296","last":"0.03804"},"FET_USDT":{"volume":"214685485.76","high":"0.1253","low":"0.0857","buy":"0.087","sell":"0.0901","open":"0.1253","last":"0.0887"},"IQ_EOS":{"volume":"8438695.19","high":"0.0005959","low":"0.0005596","buy":"0.00057","sell":"0.0006","open":"0.0005599","last":"0.0005902"},"RIF_USDT":{"volume":"7664138.36","high":"0.073","low":"0.0671","buy":"0.068","sell":"0.0684","open":"0.0725","last":"0.0681"},"TRTL_ETH":{"volume":"327628256.67","high":"0.000000575","low":"0.000000476","buy":"0.000000518","sell":"0.000000551","open":"0.000000495","last":"0.000000529"},"ATOM_ETH":{"volume":"1176980.25","high":"0.0185399","low":"0.0173246","buy":"0.0172363","sell":"0.0174056","open":"0.0184999","last":"0.0173722"},"CELR_USDT":{"volume":"1177440900.7","high":"0.0195","low":"0.012196","buy":"0.01345","sell":"0.0158","open":"0.0185","last":"0.013475"},"ONG_USDT":{"volume":"766143.74","high":"0.4573","low":"0.4091","buy":"0.4201","sell":"0.4467","open":"0.4401","last":"0.442"},"FOR_USDT":{"volume":"103376884.47","high":"0.0469","low":"0.04266","buy":"0.04266","sell":"0.0428","open":"0.04684","last":"0.04273"},"ETC_USDT":{"volume":"5009144.219","high":"7.4199","low":"6.8003","buy":"6.8837","sell":"6.9481","open":"7.3873","last":"6.921"},"MFT_ETH":{"volume":"22770843.98","high":"0.00001468","low":"0.0000136","buy":"0.00001391","sell":"0.00001403","open":"0.00001428","last":"0.00001399"},"VNT_ETH":{"volume":"6143190.17","high":"0.00001077","low":"0.00000939","buy":"0.00000976","sell":"0.00000998","open":"0.00000979","last":"0.0000099"},"PROPS_USDT":{"volume":"72466737.11","high":"0.02673","low":"0.02294","buy":"0.02377","sell":"0.02443","open":"0.02509","last":"0.02437"},"HT_ETH":{"volume":"85660.62","high":"0.01214","low":"0.01031","buy":"0.01156","sell":"0.01182","open":"0.01047","last":"0.0117"},"UGAS_USDT":{"volume":"5565689.25","high":"0.2117","low":"0.1613","buy":"0.162","sell":"0.164","open":"0.2107","last":"0.1634"},"TUSD_USDT":{"volume":"93929.1","high":"0.9988","low":"0.986","buy":"0.99","sell":"0.9973","open":"0.9958","last":"0.9918"},"COVA_BTC":{"volume":"8899463.6","high":"0.0000004568","low":"0.0000004048","buy":"0.000000406","sell":"0.0000004143","open":"0.0000004418","last":"0.0000004112"},"BNB_ETH":{"volume":"1427434.73","high":"0.129317","low":"0.122062","buy":"0.124873","sell":"0.126976","open":"0.124049","last":"0.125501"},"AERGO_USDT":{"volume":"10346415.77","high":"0.18526","low":"0.1605","buy":"0.162","sell":"0.165","open":"0.17234","last":"0.16273"},"RUFF_ETH":{"volume":"17824706.48","high":"0.00005895","low":"0.00005222","buy":"0.00005414","sell":"0.00005567","open":"0.00005353","last":"0.00005543"},"NKN_USDT":{"volume":"70745659.72","high":"0.0936268","low":"0.0599815","buy":"0.0605818","sell":"0.0611484","open":"0.0635112","last":"0.0609831"},"IOTX_ETH":{"volume":"2437662.44","high":"0.00005047","low":"0.00004259","buy":"0.00004415","sell":"0.00004475","open":"0.00004313","last":"0.00004455"},"HT_USDT":{"volume":"163712.14","high":"3.49999","low":"2.62383","buy":"2.81417","sell":"2.87275","open":"2.66469","last":"2.84272"},"SWAG_ETH":{"volume":"17189478.5","high":"0.000007009","low":"0.000004444","buy":"0.000005091","sell":"0.000007011","open":"0.000007009","last":"0.000005631"},"ONT_ETH":{"volume":"789454.79","high":"0.005479","low":"0.005261","buy":"0.005355","sell":"0.005394","open":"0.005467","last":"0.005368"},"CELR_ETH":{"volume":"148301892.15","high":"0.00008028","low":"0.00002013","buy":"0.00004829","sell":"0.0000589","open":"0.00008028","last":"0.00005587"},"RIF_ETH":{"volume":"6259290.68","high":"0.00029","low":"0.00027","buy":"0.000274","sell":"0.000278","open":"0.000284","last":"0.000276"},"VDS_ETH":{"volume":"2074682.53","high":"0.018473","low":"0.016","buy":"0.016232","sell":"0.016385","open":"0.01801","last":"0.016347"},"BTT_ETH":{"volume":"1012958518.99","high":"0.00000511","low":"0.00000422","buy":"0.00000429","sell":"0.00000448","open":"0.00000454","last":"0.00000437"},"DOS_USDT":{"volume":"2751447.47","high":"0.01787","low":"0.0165","buy":"0.01718","sell":"0.01723","open":"0.01707","last":"0.0172"},"TERA_ETH":{"volume":"24996120.68","high":"0.00002648","low":"0.00002349","buy":"0.00002493","sell":"0.00002514","open":"0.00002493","last":"0.00002502"},"EOS_USDT":{"volume":"5944803.188","high":"6.2988","low":"5.8063","buy":"5.8918","sell":"5.893","open":"6.2479","last":"5.8923"},"BEAM_ETH":{"volume":"965293.78","high":"0.001984","low":"0.00183","buy":"0.001901","sell":"0.001963","open":"0.001955","last":"0.001936"},"MANA_ETH":{"volume":"1949393.78","high":"0.000242","low":"0.0002199","buy":"0.0002251","sell":"0.0002276","open":"0.000227","last":"0.0002271"},"NEW_USDT":{"volume":"90208401.9","high":"0.005475","low":"0.003645","buy":"0.003881","sell":"0.00391","open":"0.005258","last":"0.003893"},"MX_ETH":{"volume":"15735791.56","high":"0.00056878","low":"0.0004311","buy":"0.00049388","sell":"0.00054289","open":"0.00046299","last":"0.00054276"},"ETP_USDT":{"volume":"116010.95","high":"0.8047","low":"0.72685","buy":"0.7476","sell":"0.76374","open":"0.77645","last":"0.75244"},"FOR_ETH":{"volume":"107878917.47","high":"0.0001826","low":"0.0001681","buy":"0.0001741","sell":"0.0001765","open":"0.0001818","last":"0.0001762"},"BHTX_USDT":{"volume":"624769.14","high":"0.5417","low":"0.5164","buy":"0.5223","sell":"0.5254","open":"0.5314","last":"0.5229"},"KNC_ETH":{"volume":"311905.08","high":"0.001143","low":"0.0010338","buy":"0.0010447","sell":"0.0010945","open":"0.0010574","last":"0.0010721"},"HDS_USDT":{"volume":"69808447.63","high":"0.003964","low":"0.002755","buy":"0.003015","sell":"0.003148","open":"0.003864","last":"0.003016"},"VDS_USDT":{"volume":"2592213.01","high":"4.64","low":"3.864","buy":"3.9121","sell":"3.99","open":"4.64","last":"3.9502"},"OMG_BTC":{"volume":"531741.65","high":"0.000271","low":"0.000249","buy":"0.000251","sell":"0.000256","open":"0.000271","last":"0.000252"},"CVNT_ETH":{"volume":"28542550.64","high":"0.00009395","low":"0.00008537","buy":"0.00008622","sell":"0.00008792","open":"0.0000915","last":"0.00008752"},"BZH_USDT":{"volume":"235472253.8","high":"0.000967","low":"0.000666","buy":"0.000785","sell":"0.00081","open":"0.00087","last":"0.000797"},"LPT_ETH":{"volume":"302622.29","high":"0.02611","low":"0.02291","buy":"0.02291","sell":"0.02613","open":"0.0256","last":"0.0254"},"TGIC_USDT":{"volume":"6727706.77","high":"0.1138","low":"0.09333","buy":"0.0999","sell":"0.10138","open":"0.105","last":"0.10115"},"ETC_BTC":{"volume":"553009.47","high":"0.000939","low":"0.000882","buy":"0.000906","sell":"0.000912","open":"0.000933","last":"0.00091"},"BTC_USDT":{"volume":"4481.951691","high":"7977.24","low":"7502.03","buy":"7623.5","sell":"7628.26","open":"7910.53","last":"7624.78"},"ATOM_BTC":{"volume":"700722.13","high":"0.00059879","low":"0.00055288","buy":"0.00055065","sell":"0.00055602","open":"0.00059805","last":"0.0005535"},"AERGO_ETH":{"volume":"2527319.65","high":"0.0006799","low":"0.0006318","buy":"0.0006633","sell":"0.0007271","open":"0.0006712","last":"0.0006687"},"LTC_USDT":{"volume":"408369.3386","high":"91.99","low":"86.14","buy":"87.37","sell":"87.55","open":"91.38","last":"87.44"},"ZEL_ETH":{"volume":"3128728.75","high":"0.000447","low":"0.000356","buy":"0.00037","sell":"0.00039","open":"0.000391","last":"0.000374"},"TNB_ETH":{"volume":"7807157.31","high":"0.000022759","low":"0.000019352","buy":"0.000021147","sell":"0.000021333","open":"0.000020591","last":"0.00002132"},"BHD_USDT":{"volume":"981.817","high":"31.2041","low":"28.442","buy":"28.4483","sell":"28.7249","open":"30.2152","last":"28.5683"},"ONT_BTC":{"volume":"4425491.22","high":"0.00017734","low":"0.00016932","buy":"0.0001721","sell":"0.00017298","open":"0.0001761","last":"0.00017219"},"RIF_BTC":{"volume":"5911099.64","high":"0.00000932","low":"0.00000855","buy":"0.00000885","sell":"0.00000899","open":"0.00000927","last":"0.00000896"},"AO_USDT":{"volume":"46742225.39","high":"0.063298","low":"0.046151","buy":"0.0571","sell":"0.05909","open":"0.046506","last":"0.057116"},"IOST_USDT":{"volume":"175433810.77","high":"0.01296852","low":"0.01132401","buy":"0.01137683","sell":"0.01155147","open":"0.01284602","last":"0.01145402"},"UGAS_ETH":{"volume":"4487251.42","high":"0.000832","low":"0.000664","buy":"0.000666","sell":"0.000677","open":"0.000824","last":"0.000673"},"RFR_ETH":{"volume":"6535122.3","high":"0.000009","low":"0.00000838","buy":"0.00000811","sell":"0.00000896","open":"0.00000893","last":"0.00000888"},"NCASH_ETH":{"volume":"22896963.06","high":"0.00000882","low":"0.00000813","buy":"0.00000832","sell":"0.00000856","open":"0.00000818","last":"0.00000839"},"BTO_USDT":{"volume":"4870994.25","high":"0.0107","low":"0.00957","buy":"0.00959","sell":"0.00991","open":"0.0097","last":"0.00957"},"XRP_USDT":{"volume":"94875020.08","high":"0.4032","low":"0.3658","buy":"0.3707","sell":"0.3715","open":"0.3973","last":"0.3708"},"SNT_BTC":{"volume":"11635651.76","high":"0.00000348","low":"0.00000332","buy":"0.00000334","sell":"0.00000337","open":"0.00000344","last":"0.00000335"},"TNC_ETH":{"volume":"2571125.37","high":"0.00002319","low":"0.00002026","buy":"0.00002274","sell":"0.00002276","open":"0.00002124","last":"0.00002276"},"LAD_USDT":{"volume":"9579612.31","high":"0.158","low":"0.12315","buy":"0.13048","sell":"0.13051","open":"0.12353","last":"0.13049"},"LOOM_ETH":{"volume":"1148709.16","high":"0.0003022","low":"0.0002775","buy":"0.0002831","sell":"0.0002899","open":"0.0002819","last":"0.0002862"},"ETH_USDT":{"volume":"143559.44921","high":"258.1","low":"241.02","buy":"243.15","sell":"243.19","open":"255.18","last":"243.18"},"XPX_USDT":{"volume":"13825161.3","high":"0.0049","low":"0.004","buy":"0.004272","sell":"0.004356","open":"0.004848","last":"0.004333"},"ATOM_USDT":{"volume":"1295267.22","high":"4.74219","low":"4.20618","buy":"4.1978","sell":"4.22709","open":"4.72231","last":"4.22707"},"BTT_BTC":{"volume":"182008736.7","high":"0.00000016","low":"0.0000001347","buy":"0.0000001388","sell":"0.0002","open":"0.0000001502","last":"0.0000001393"},"FTM_ETH":{"volume":"5325124.21","high":"0.00007892","low":"0.00004967","buy":"0.00007092","sell":"0.00007381","open":"0.00005723","last":"0.00007372"},"NEO_USDT":{"volume":"9002912.533","high":"12.2548","low":"8.8076","buy":"11.1198","sell":"11.1742","open":"12.1322","last":"11.1489"},"FET_ETH":{"volume":"51469032.79","high":"0.000498","low":"0.000343","buy":"0.000358","sell":"0.000374","open":"0.000486","last":"0.000369"},"FET_MX":{"volume":"12469308.97","high":"1.0951","low":"0.6396","buy":"0.6601","sell":"0.6753","open":"1.0489","last":"0.6607"},"BTFM_USDT":{"volume":"76303729.06","high":"0.039864","low":"0.026002","buy":"0.033389","sell":"0.03355","open":"0.030016","last":"0.033429"},"SEAL_USDT":{"volume":"24641208.51","high":"0.184","low":"0.14838","buy":"0.15538","sell":"0.15641","open":"0.1566","last":"0.15539"},"BTT_USDT":{"volume":"2050333085.55","high":"0.0012202","low":"0.0010103","buy":"0.001056","sell":"0.0010743","open":"0.001149","last":"0.0010653"},"TYT_USDT":{"volume":"27746257.27","high":"0.001453","low":"0.001272","buy":"0.001348","sell":"0.001349","open":"0.001294","last":"0.001336"},"PROPS_ETH":{"volume":"13081615.67","high":"0.0001094","low":"0.0000905","buy":"0.0000989","sell":"0.0001043","open":"0.0001","last":"0.0000999"},"GMB_ETH":{"volume":"11816323.74","high":"0.0000011853","low":"0.0000011002","buy":"0.0000011136","sell":"0.0000011522","open":"0.0000011847","last":"0.0000011228"},"BOIN_USDT":{"volume":"6653053.13","high":"0.5044","low":"0.4638","buy":"0.4634","sell":"0.5044","open":"0.4638","last":"0.4801"},"VBT_USDT":{"volume":"257996702.87","high":"0.012999","low":"0.009399","buy":"0.011555","sell":"0.011579","open":"0.012842","last":"0.011595"},"NEW_ETH":{"volume":"46422262.27","high":"0.0000213","low":"0.00001511","buy":"0.00001595","sell":"0.00001608","open":"0.00002046","last":"0.00001599"},"GTC_USDT":{"volume":"62368593.57","high":"0.011759","low":"0.011152","buy":"0.011168","sell":"0.011252","open":"0.011511","last":"0.011308"},"BNB_USDT":{"volume":"448835.17","high":"32.14","low":"29.9504","buy":"30.3777","sell":"30.8624","open":"32.0602","last":"30.7558"},"OMG_ETH":{"volume":"376625.96","high":"0.00836","low":"0.00784","buy":"0.007908","sell":"0.007984","open":"0.00836","last":"0.007909"},"OCEAN_ETH":{"volume":"181426781.13","high":"0.0001161","low":"0.0001001","buy":"0.0001001","sell":"0.0001082","open":"0.0001013","last":"0.0001068"},"FDS_USDT":{"volume":"121193561.76","high":"0.04444","low":"0.03888","buy":"0.04075","sell":"0.04078","open":"0.03954","last":"0.04078"},"LBTC_USDT":{"volume":"23410.04","high":"5.74683","low":"5.45292","buy":"5.4","sell":"5.60413","open":"5.69516","last":"5.49918"},"ZIL_ETH":{"volume":"6341274.59","high":"0.00008576","low":"0.00007605","buy":"0.00008085","sell":"0.00008196","open":"0.00007956","last":"0.0000812"},"CSP_ETH":{"volume":"6616126.01","high":"0.00005216","low":"0.00004293","buy":"0.00004294","sell":"0.00004585","open":"0.00004717","last":"0.00004413"},"IOST_ETH":{"volume":"169333990.7","high":"0.000050783","low":"0.000046639","buy":"0.000046755","sell":"0.000047567","open":"0.000050329","last":"0.00004716"},"UGAS_BTC":{"volume":"9747466.29","high":"0.00002666","low":"0.00002127","buy":"0.00002132","sell":"0.00002154","open":"0.00002663","last":"0.00002144"},"BSV_BTC":{"volume":"424663.26","high":"0.014616","low":"0.012546","buy":"0.013228","sell":"0.01355","open":"0.012691","last":"0.013411"},"ANKR_ETH":{"volume":"198463703.3069","high":"0.00003071","low":"0.000025","buy":"0.00002931","sell":"0.0000294","open":"0.00002724","last":"0.00002935"},"VNT_USDT":{"volume":"10546815.28","high":"0.00275","low":"0.00228","buy":"0.00236","sell":"0.002419","open":"0.002521","last":"0.002405"},"LBTC_ETH":{"volume":"6243.4","high":"0.02314","low":"0.02178","buy":"0.0221","sell":"0.023313","open":"0.022349","last":"0.022598"},"IMG_ETH":{"volume":"4973097.05","high":"0.00022758","low":"0.00017001","buy":"0.00017","sell":"0.00017922","open":"0.00020068","last":"0.00017641"}},"msg":"OK"}'
  recorded_at: Thu, 23 May 2019 02:03:59 GMT
recorded_with: VCR 4.0.0
