---
http_interactions:
- request:
    method: get
    uri: https://www.mxc.com/open/api/v1/data/ticker?market=BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cdn-Edge:
      - cb634c7,-
    body:
      encoding: UTF-8
      string: '{"code":200,"data":{"volume":"14803.847028","high":"4144.34","low":"3687.87","buy":"4091.83","sell":"4098.87","open":"3839.01","last":"4098"},"msg":"OK"}'
  recorded_at: Wed, 28 Nov 2018 07:55:05 GMT
recorded_with: VCR 4.0.0
