---
http_interactions:
- request:
    method: get
    uri: https://joyso.io/api/v1/system
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3ceaeea08325d6dc24d6db64e3d80dbe"
    body:
      encoding: UTF-8
      string: '{"contracts":["04f062809b244e37e7fdc21d9409469c989c2342"],"joy":"dde12a12a6f67156e0da672be05c374e1b0a3e57","default_token":"dde12a12a6f67156e0da672be05c374e1b0a3e57","tokens":[{"address":"89d24a6b4ccb1b6faa2625fe562bdd9a23260359","price":"","withdraw_fee":"","gas_fee":"","tradable":true,"withdrawable":true,"depositable":true,"disabled":false,"decimals":18,"symbol":"DAI","name":"DAI
        Stablecoin","index":3,"allowance_changeable":true},{"address":"3893b9422cd5d70a81edeffe3d5a1c6a978310bb","price":"","withdraw_fee":"","gas_fee":"","tradable":true,"withdrawable":true,"depositable":true,"disabled":false,"decimals":18,"symbol":"MITH","name":"Mithril","index":5,"allowance_changeable":true},{"address":"cb97e65f07da24d46bcdd078ebebd7c6e6e3d750","price":"","withdraw_fee":"","gas_fee":"","tradable":true,"withdrawable":true,"depositable":true,"disabled":false,"decimals":8,"symbol":"BTM","name":"Bytom","index":6,"allowance_changeab[...]
- request:
    method: get
    uri: https://joyso.io/api/v1/orders?base=0000000000000000000000000000000000000000&contract=04f062809b244e37e7fdc21d9409469c989c2342&locale=en&token=9f8f72aa9304c8b593d555f12ef6589cc3a579a2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"17b3803af6833a3ce3555359f6662467"
    body:
      encoding: UTF-8
      string: '{"buy":{"1.419":"100000000000000000","1.477776959":"259385671421059692","1.4222":"740395132227754810","1.45":"417404080542291","1.53":"1162465465191121574","1.4782":"1485551565982827259","1.55":"1416742650712977161","1.52":"24704919088196195966","1.606129154":"22340227446145856977","1.579":"878291146801773274"},"sell":{}}'
  recorded_at: Thu, 06 Sep 2018 09:46:37 GMT
recorded_with: VCR 4.0.0
