---
http_interactions:
- request:
    method: get
    uri: https://joyso.io/api/v1/tickers/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8536e963bb689ce794198134add043e4"
    body:
      encoding: UTF-8
      string: '{"tickers":[{"pair":"ETH_CMT","base_volume":"0.0","quote_volume":"0.0","last":"0.00028898"},{"pair":"ETH_FMF","base_volume":"0.0","quote_volume":"0.0","last":"0.000045"},{"pair":"ETH_WTC","base_volume":"0.0","quote_volume":"0.0","last":"1.642"},{"pair":"ETH_CPPG","base_volume":"0.0","quote_volume":"0.0","last":"0.000000225"},{"pair":"ETH_AE","base_volume":"0.0","quote_volume":"0.0","last":"0.004444"},{"pair":"ETH_VERI","base_volume":"0.0","quote_volume":"0.0","last":"0.1"},{"pair":"ETH_MITH","base_volume":"0.0","quote_volume":"0.0","last":"0.0018354"},{"pair":"ETH_CTXC","[...]
