---
http_interactions:
- request:
    method: get
    uri: https://joyso.io/api/v1/tickers/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b395f7c1041b75c72020cb35ef79f477"
    body:
      encoding: UTF-8
      string: '{"tickers":[{"pair":"ETH_DAI","base_volume":"0.0","qoute_volume":"0.0","last":"0.9"},{"pair":"ETH_MITH","base_volume":"0.0","qoute_volume":"0.0","last":"0.00079999"},{"pair":"ETH_BTM","base_volume":"0.0","qoute_volume":"0.0","last":"0.00084"},{"pair":"ETH_GNO","base_volume":"0.0","qoute_volume":"0.0","last":"0.1277"},{"pair":"ETH_NCT","base_volume":"0.0","qoute_volume":"0.0","last":"0.0000141"},{"pair":"ETH_AE","base_volume":"0.0","qoute_volume":"0.0","last":"0.005"},{"pair":"ETH_ZIL","base_volume":"0.0","qoute_volume":"0.0","last":"0.000186"},{"pair":"ETH_CMT","base_volu[...]
