---
http_interactions:
- request:
    method: get
    uri: https://joyso.io/api/v1/system
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"45378175eaf4a606a502952cd562faa7"
    body:
      encoding: UTF-8
      string: '{"contracts":["04f062809b244e37e7fdc21d9409469c989c2342"],"joy":"dde12a12a6f67156e0da672be05c374e1b0a3e57","default_token":"dde12a12a6f67156e0da672be05c374e1b0a3e57","tokens":[{"address":"89d24a6b4ccb1b6faa2625fe562bdd9a23260359","price":"","withdraw_fee":"","gas_fee":"","tradable":true,"withdrawable":true,"depositable":true,"disabled":false,"decimals":18,"symbol":"DAI","name":"DAI
        Stablecoin","index":3,"allowance_changeable":true},{"address":"3893b9422cd5d70a81edeffe3d5a1c6a978310bb","price":"","withdraw_fee":"","gas_fee":"","tradable":true,"withdrawable":true,"depositable":true,"disabled":false,"decimals":18,"symbol":"MITH","name":"Mithril","index":5,"allowance_changeable":true},{"address":"cb97e65f07da24d46bcdd078ebebd7c6e6e3d750","price":"","withdraw_fee":"","gas_fee":"","tradable":true,"withdrawable":true,"depositable":true,"disabled":false,"decimals":8,"symbol":"BTM","name":"Bytom","index":6,"allowance_changeab[...]
- request:
    method: get
    uri: https://joyso.io/api/v1/orders?base=0000000000000000000000000000000000000000&contract=04f062809b244e37e7fdc21d9409469c989c2342&locale=en&token=dac17f958d2ee523a2206206994597c13d831ec7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"465af4d75297d2b8d54c816f26528fcb"
    body:
      encoding: UTF-8
      string: '{"buy":{"0.0011234":"2758000"},"sell":{}}'
  recorded_at: Sun, 17 Jun 2018 15:30:51 GMT
recorded_with: VCR 4.0.0
