---
http_interactions:
- request:
    method: get
    uri: http://dex.top/v1/pairlist/ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://dex.top/v1/pairlist/ETH
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>openresty/1.13.6.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 22 Jul 2018 18:25:33 GMT
- request:
    method: get
    uri: https://dex.top/v1/pairlist/ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "pairs": [
            {
              "pairId": "ETH_SNT",
              "timeMs": "1532283432897",
              "openPrice": "0.00015927",
              "lastPrice": "0.00015768",
              "volume24": "239.790",
              "amount24": "1513807.948",
              "change24": "-0.00000159",
              "changePercent24": "-0.998",
              "high24": "0.00016007",
              "low24": "0.00015675"
            },
            {
              "pairId": "ETH_PAL",
              "timeMs": "1532283835274",
              "openPrice": "0.00003624",
              "lastPrice": "0.00003729",
              "volume24": "167.692",
              "amount24": "4585550.106",
              "change24": "0.00000105",
              "changePercent24": "2.897",
              "high24": "0.00003734",
              "low24": "0.00003549"
            },
            {
              "pairId": "ETH_HSC",
 [...]
