---
http_interactions:
- request:
    method: get
    uri: http://dex.top/v1/depth/ETH_SNT/5
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://dex.top/v1/depth/ETH_SNT/5
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>openresty/1.13.6.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 22 Jul 2018 20:13:30 GMT
- request:
    method: get
    uri: https://dex.top/v1/depth/ETH_SNT/5
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "depth": {
            "pairId": "ETH_SNT",
            "timeMs": "1532290409806",
            "asks": [
              {
                "price": "0.00015887",
                "amount": "967.03899722",
                "totalValue": "0.15363349",
                "sumValue": "0.15363349"
              },
              {
                "price": "0.00015903",
                "amount": "986.88837350",
                "totalValue": "0.15694486",
                "sumValue": "0.31057834"
              },
              {
                "price": "0.00015930",
                "amount": "2158.89133733",
                "totalValue": "0.34391139",
                "sumValue": "0.65448973"
              },
              {
                "price": "0.00015978",
                "amount": "3344.47537755",
                "totalValue": "0.53438028",
                "sumValue": "1.18887001"
              },
              {
                "price": "0.00016075",
                "amount": "6554.57398639",
                "totalValue": "1.05364777",
                "sumValue": "2.24251778"
              }
            ],
            "bids": [
              {
                "price": "0.00015803",
                "amount": "1396.85920576",
                "totalValue": "0.22074566",
                "sumValue": "0.22074566"
              },
              {
                "price": "0.00015788",
                "amount": "1308.54660604",
                "totalValue": "0.20659334",
                "sumValue": "0.42733900"
              },
              {
                "price": "0.00015760",
                "amount": "1061.25903027",
                "totalValue": "0.16725442",
                "sumValue": "0.59459342"
              },
              {
                "price": "0.00015712",
                "amount": "4784.69106127",
                "totalValue": "0.75177066",
                "sumValue": "1.34636408"
              },
              {
                "price": "0.00015648",
                "amount": "5502.12803822",
                "totalValue": "0.86097300",
                "sumValue": "2.20733708"
              }
            ]
          }
        }
  recorded_at: Sun, 22 Jul 2018 20:13:31 GMT
recorded_with: VCR 4.0.0
