---
http_interactions:
- request:
    method: get
    uri: http://dex.top/v1/pairlist/ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://dex.top/v1/pairlist/ETH
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>openresty/1.13.6.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 22 Jul 2018 19:21:00 GMT
- request:
    method: get
    uri: https://dex.top/v1/pairlist/ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Content-Type:
      - application/grpc
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "pairs": [
            {
              "pairId": "ETH_SNT",
              "timeMs": "1532286299040",
              "openPrice": "0.00015927",
              "lastPrice": "0.00015803",
              "volume24": "242.435",
              "amount24": "1530547.483",
              "change24": "-0.00000124",
              "changePercent24": "-0.779",
              "high24": "0.00016007",
              "low24": "0.00015675"
            },
            {
              "pairId": "ETH_PAL",
              "timeMs": "1532287042211",
              "openPrice": "0.00003651",
              "lastPrice": "0.00003710",
              "volume24": "170.420",
              "amount24": "4653716.089",
              "change24": "0.00000059",
              "changePercent24": "1.616",
              "high24": "0.00003734",
              "low24": "0.00003549"
            },
            {
              "pairId": "ETH_HSC",
 [...]
