---
http_interactions:
- request:
    method: get
    uri: https://bitubu.com/api/v2/trades?market=ltcbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      X-Real-Ip:
      - 162.158.167.117
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"72490a7884d25b1a784cb3b3ce80f8fc"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2332947,"price":"0.006188","volume":"0.000123","funds":"0.000000761124","market":"ltcbtc","created_at":"2020-01-24T12:59:36+03:00","maker_type":"buy","type":"buy"},{"id":2332946,"price":"0.00619","volume":"0.002811","funds":"0.00001740009","market":"ltcbtc","created_at":"2020-01-24T12:59:36+03:00","maker_type":"buy","type":"buy"},{"id":2332926,"price":"0.006189","volume":"0.000145","funds":"0.000000897405","market":"ltcbtc","created_at":"2020-01-24T12:59:22+03:00","maker_type":"sell","type":"sell"},{"id":2332925,"price":"0.006187","volume":"0.000044","funds":"0.000000272228","market":"ltcbtc","created_at":"2020-01-24T12:59:22+03:00","maker_type":"se[...]
