---
http_interactions:
- request:
    method: get
    uri: https://bitubu.com/api/v2/order_book?asks_limit=100&bids_limit=100&market=ltcbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      X-Real-Ip:
      - 162.158.166.22
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"f19891dfe1d5e6c8aa4b24bd7fb9d18c"
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":26617388,"side":"sell","ord_type":"limit","price":"0.006193","avg_price":"0.0","state":"wait","market":"ltcbtc","created_at":"2020-01-24T12:49:15+03:00","volume":"0.0008","remaining_volume":"0.0008","executed_volume":"0.0","trades_count":0},{"id":26618249,"side":"sell","ord_type":"limit","price":"0.006194","avg_price":"0.0","state":"wait","market":"ltcbtc","created_at":"2020-01-24T12:52:47+03:00","volume":"0.000736","remaining_volume":"0.000736","executed_volume":"0.0","trades_count":0},{"id":26617743,"side":"sell","ord_type":"limit","price":"0.006195","avg_price":"0.0","state":"wait","market":"ltcbtc","created_at":"2020-01-24T12:50:45+03:00","volume":"0.000012","remaining_volume":"0.000012","executed_volume":"0.0","trades_count[...]
