---
http_interactions:
- request:
    method: get
    uri: https://bitubu.com/api/v2/tickers/ltcbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      X-Real-Ip:
      - 162.158.165.245
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"6629c3d3ef7956229dd3fc0a369b8a62"
    body:
      encoding: ASCII-8BIT
      string: '{"at":1579859895,"ticker":{"buy":"0.006172","sell":"0.006175","low":"0.006127","high":"0.006676","open":0.0066465,"last":"0.006175","volume":"42248.80124408","avg_price":"0.00643241933368310598","price_change_percent":"-7.09%","vol":"42248.80124408"}}'
  recorded_at: Fri, 24 Jan 2020 09:58:15 GMT
recorded_with: VCR 4.0.0
