---
http_interactions:
- request:
    method: get
    uri: https://bitubu.com/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      X-Real-Ip:
      - 172.69.135.221
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"76c51a8b963c06625fabaf01b1956239"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"ltcbtc","name":"LTC/BTC","ask_precision":8,"bid_precision":8,"bid_unit":"btc","ask_unit":"ltc"},{"id":"dashbtc","name":"DASH/BTC","ask_precision":8,"bid_precision":8,"bid_unit":"btc","ask_unit":"dash"},{"id":"ethbtc","name":"ETH/BTC","ask_precision":8,"bid_precision":8,"bid_unit":"btc","ask_unit":"eth"},{"id":"btgbtc","name":"BTG/BTC","ask_precision":8,"bid_precision":8,"bid_unit":"btc","ask_unit":"btg"},{"id":"ububtc","name":"UBU/BTC","ask_precision":8,"bid_precision":8,"bid_unit":"btc","ask_unit":"ubu"},{"id":"dgbbtc","name":"DGB/BTC","ask_precision":8,"bid_precision":8,"bid_unit"[...]
