---
http_interactions:
- request:
    method: get
    uri: https://api.newdex.io/v1/ticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Reset:
      - '1589350578'
      X-Readtime:
      - '1'
    body:
      encoding: UTF-8
      string: '{"code":200,"data":[{"symbol":"eosio.token-eos-eosdt","contract":"eosio.token","currency":"EOS","last":2.4577,"change":-0.0074,"high":2.4802,"low":2.4317,"amount":2819.1532999999995,"volume":6943.6546314259995},{"symbol":"prospectorsw-pgl-wax","contract":"prospectorsw","currency":"PGL","last":0.54,"change":-0.1211,"high":0.6144,"low":0.54,"amount":6062.9718,"volume":3327.17153101},{"symbol":"bgbgbgbgbgbg-bg-eos","contract":"bgbgbgbgbgbg","currency":"BG","last":0.007959,"change":0.0126,"high":0.008172,"low":0.007803,"amount":287494.4394,"volume":2295.607},{"symbol":"mytreosworld-tro-eos","contract":"mytreosworld","currency":"TRO","last":20.3399,"change":0.1115,"high":20.3499,"low":11[...]
