---
http_interactions:
- request:
    method: get
    uri: https://api.newdex.io/v1/ticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e6a-h0LVI7mUJBnKkOBVhGSGmYxPB54"
    body:
      encoding: UTF-8
      string: '{"code":200,"data":[{"symbol":"dice_eos","contract":"betdicetoken","currency":"DICE","last":0.001584,"change":0.1314,"high":0.001642,"low":0.001398,"amount":39723139.9817,"volume":58857.2517},{"symbol":"et_eos","contract":"endlesstoken","currency":"ET","last":0.00488,"change":0.1091,"high":0.006,"low":0.00403,"amount":6489842.334199999,"volume":33601.5269},{"symbol":"poker_eos","contract":"eospokercoin","currency":"POKER","last":0.0898,"change":-0.2053,"high":0.2499,"low":0.083,"amount":310983.3768,"volume":33254.31580000001},{"symbol":"black_eos","contract":"eosblackteam","currency":"BLACK","last":0.04861,"change":0.0474,"high":0.04984,"low":0.04501,"amount":434069.8125,[...]
