---
http_interactions:
- request:
    method: get
    uri: https://api.newdex.io/v1/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3421-45PFr5+LCdHcrAAsDt6Hf05Y//k"
    body:
      encoding: UTF-8
      string: '{"code":200,"data":[{"symbol":"everipediaiq-iq-eos","contract":"everipediaiq","currency":"IQ","price_precision":6,"currency_precision":3},{"symbol":"eosiochaince-cet-eos","contract":"eosiochaince","currency":"CET","price_precision":5,"currency_precision":4},{"symbol":"horustokenio-horus-eos","contract":"horustokenio","currency":"HORUS","price_precision":5,"currency_precision":4},{"symbol":"therealkarma-karma-eos","contract":"therealkarma","currency":"KARMA","price_precision":6,"currency_precision":4},{"symbol":"challengedac-chl-eos","contract":"challengedac","currency":"CHL","price_precision":7,"currency_precision":4},{"symbol"[...]
