---
http_interactions:
- request:
    method: get
    uri: https://api.newdex.io/v1/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1589350591'
      X-Readtime:
      - '0'
    body:
      encoding: UTF-8
      string: '{"code":200,"data":[{"id":299,"symbol":"eosio.token-meetone-eos","status":0,"contract":"eosio.token","currency":"MEETONE","price_precision":6,"currency_precision":4},{"id":270,"symbol":"eosio.token-bos-eos","status":0,"contract":"eosio.token","currency":"BOS","price_precision":5,"currency_precision":4},{"id":1,"symbol":"everipediaiq-iq-eos","status":0,"contract":"everipediaiq","currency":"IQ","price_precision":6,"currency_precision":3},{"id":19,"symbol":"horustokenio-horus-eos","status":0,"contract":"horustokenio","currency":"HORUS","price_precision":6,"currency_precision":4},{"id":21,"symbol":"challengedac-chl-eos","status":0,"contract":"challengedac","c[...]
