---
http_interactions:
- request:
    method: get
    uri: https://api.newdex.io/v1/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d56-oZqvFCQCI98JP/yiyFUZUh+snN0"
    body:
      encoding: UTF-8
      string: '{"code":200,"data":[{"symbol":"keos_eos","contract":"keoskorea111","currency":"KEOS","price_precision":7,"currency_precision":4},{"symbol":"eeth_eos","contract":"ethsidechain","currency":"EETH","price_precision":8,"currency_precision":4},{"symbol":"cube_eos","contract":"eoscubetoken","currency":"CUBE","price_precision":7,"currency_precision":4},{"symbol":"ade_eos","contract":"buildertoken","currency":"ADE","price_precision":5,"currency_precision":4},{"symbol":"poker_eos","contract":"eospokercoin","currency":"POKER","price_precision":4,"currency_precision":4},{"symbol":"love_eos","contract":"lovewintoken","currency":"LO[...]
