---
http_interactions:
- request:
    method: get
    uri: https://api.newdex.io/v1/ticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e56-AL3gvucM+BO4cWtCRw3UUwOvaPI"
    body:
      encoding: UTF-8
      string: '{"code":200,"data":[{"symbol":"betdicetoken-dice-eos","contract":"betdicetoken","currency":"DICE","last":0.004305,"change":-0.0076,"high":0.004899,"low":0.003628,"amount":45653527.8237,"volume":193957.3326},{"symbol":"eosvegascoin-mev-eos","contract":"eosvegascoin","currency":"MEV","last":0.01221,"change":-0.0453,"high":0.01499,"low":0.01154,"amount":2761745.5628000004,"volume":35339.6047},{"symbol":"eospokercoin-poker-eos","contract":"eospokercoin","currency":"POKER","last":0.2688,"change":0.0967,"high":0.2689,"low":0.2375,"amount":70269.91609999999,"volume":17831.856799999998},{"symbol":"eosblackteam-black-eos","contract":"eosblackteam","currency":"BLACK","last":0.0345,"change":-0.26[...]
