---
http_interactions:
- request:
    method: get
    uri: https://api.orderbook.io/markets/TAAS-ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '58'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Reset:
      - '1529298903'
    body:
      encoding: UTF-8
      string: '{"buy":[{"price":"1000000000","amount":"50000000"}],"sell":[{"price":"11000000000","amount":"23900000"}]}'
  recorded_at: Mon, 18 Jun 2018 05:14:27 GMT
recorded_with: VCR 4.0.0
