---
http_interactions:
- request:
    method: get
    uri: https://api.orderbook.io/markets/TAAS-ETH/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Reset:
      - '1529299009'
    body:
      encoding: UTF-8
      string: '[{"id":14807,"block":5249092,"timestamp":1520961499000,"market":"TAAS-ETH","type":"buy","price":"0.025","amount":"0.006"},{"id":14806,"block":5249089,"timestamp":1520961441000,"market":"TAAS-ETH","type":"buy","price":"0.025","amount":"0.005"},{"id":14708,"block":5172130,"timestamp":1519832791000,"market":"TAAS-ETH","type":"buy","price":"0.025","amount":"1"},{"id":14693,"block":5089028,"timestamp":1518615465000,"market":"TAAS-ETH","type":"buy","price":"0.025","amount":"0.001"},{"id":14690,"block":5073975,"timestamp":1518396603000,"market":"TAAS-ETH","type":"buy","price":"0.025","amount":"0.0001"},{"id":1467[...]
