---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btcusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"68788-b8-55a9c950ff868"'
      Last-Modified:
      - Tue, 03 Oct 2017 04:04:05 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-105363870-0 0CNN RT(1507003453027 96) q(0 -1 -1 1) r(0 -1)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "4453.00", "last": "4402.16", "timestamp": "1507003445", "bid":
        "4401.37", "vwap": "4396.32", "volume": "7913.73600771", "low": "4352.00",
        "ask": "4412.98", "open": "4391.41"}'
  recorded_at: Tue, 03 Oct 2017 04:04:13 GMT
recorded_with: VCR 3.0.3
