---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/transactions/btcusd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-198231839-198231843 NNNN CT(415 319 0) RT(1511935671600 18) q(0 0 7 -1)
        r(11 14) U1
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"date": "1511935644", "tid": "28139668", "price": "10235.98", "type":
        "0", "amount": "0.01000000"}, {"date": "1511935643", "tid": "28139666", "price":
        "10235.98", "type": "0", "amount": "0.14617555"}, {"date": "1511935639", "tid":
        "28139661", "price": "10225.01", "type": "1", "amount": "0.07300000"}, {"date":
        "1511935638", "tid": "28139660", "price": "10235.99", "type": "0", "amount":
        "0.83454262"}, {"date": "1511935638", "tid": "28139659", "price": "10225.01",
        "type": "1", "amount": "1.00000000"}, {"date": "1511935636", "tid": "28139650"[...]
