---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.com/v1/board?product_code=BTCJPY27DEC2019
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Period:
      - '236'
      X-Ratelimit-Remaining:
      - '493'
      X-Ratelimit-Reset:
      - '1569213892'
    body:
      encoding: UTF-8
      string: '{"mid_price":1075609.0,"bids":[{"price":1072599.0,"size":0.6230146},{"price":1072590.0,"size":0.19},{"price":1072330.0,"size":0.01},{"price":1071190.0,"size":1.0},{"price":1070560.0,"size":0.4},{"price":1067930.0,"size":1.5},{"price":1066812.0,"size":1.7},{"price":1065370.0,"size":2.23},{"price":1064240.0,"size":1.89},{"price":1062670.0,"size":2.3},{"price":1053562.0,"size":4.3},{"price":1051050.0,"size":0.005},{"price":1049010.0,"size":4.34},{"price":1044203.0,"size":5.0},{"price":1041750.0,"size":4.73},{"price":1029860.0,"size":6.0},{"price":1019850.0,"size":7.62},{"price":1001620.0,"size":10.31},{"price":982520.0,"size":13.0},{"price":963437.0,"size":10.2},{"price":945470.0,"size":18.13},{"price":927820.0,"size":15.61},{"price":906960.0,"size":24.0},{"price":889780.0,"size":36.69},{"price":775860.0,"size":16.5},{"price":699290.0,"size":23.0},{"price":623240.0,"size":47.0}],"asks":[{"price":1078620.0,"size":0.01},{"price":1080100.0,"size":0.3},{"price":1080576.0,"size":0.4},{"price":1080720.0,"size":1.1},{"price":1081840.0,"size":1.7},{"price":1082490.0,"size":0.8},{"price":1083030.0,"size":1.8},{"price":1087981.0,"size":2.2},{"price":1089797.0,"size":0.08},{"price":1090000.0,"size":0.1},{"price":1090332.0,"size":0.9746633},{"price":1092840.0,"size":3.32},{"price":1097540.0,"size":5.0},{"price":1113530.0,"size":6.0},{"price":1122000.0,"size":0.001},{"price":1124200.0,"size":7.0},{"price":1132000.0,"size":0.001},{"price":1133791.0,"size":9.8},{"price":1145255.0,"size":0.5},{"price":1152360.0,"size":10.0},{"price":1156483.0,"size":1.0},{"price":1172770.0,"size":12.43},{"price":1178939.0,"size":3.0},{"price":1190590.0,"size":12.0},{"price":1201395.0,"size":5.0},{"price":1207890.0,"size":14.0},{"price":1230400.0,"size":21.1},{"price":1244761.0,"size":17.9},{"price":1264580.0,"size":25.43},{"price":1381590.0,"size":22.0},{"price":1455520.0,"size":27.2},{"price":1534640.0,"size":61.17},{"price":1641050.0,"size":35.0},{"price":1838190.0,"size":51.9},{"price":2019690.0,"size":46.6},{"price":2090010.0,"size":91.99}]}'
  recorded_at: Mon, 23 Sep 2019 04:40:56 GMT
recorded_with: VCR 4.0.0
