---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.com/v1/executions?product_code=FX_BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1561440122'
    body:
      encoding: UTF-8
      string: '[{"id":1138194461,"side":"BUY","price":1266768.0,"size":0.03458346,"exec_date":"2019-06-25T05:17:02.1","buy_child_order_acceptance_id":"JRF20190625-051702-040418","sell_child_order_acceptance_id":"JRF20190625-051701-562908"},{"id":1138194460,"side":"BUY","price":1266768.0,"size":0.1,"exec_date":"2019-06-25T05:17:02.087","buy_child_order_acceptance_id":"JRF20190625-051702-106856","sell_child_order_acceptance_id":"JRF20190625-051701-562908"},{"id":1138194459,"side":"SELL","price":1266779.0,"size":0.0968466,"exec_date":"2019-06-25T05:17:01.833","buy_child_order_acceptance_id":"JRF20190625-051700-305563","sell_child_order_acceptance_id":"JRF20190625-051701-562908"},{"id":1138194458,"side":"S[...]
