---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.com/v1/ticker?product_code=BTCJPY27DEC2019
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Period:
      - '236'
      X-Ratelimit-Remaining:
      - '494'
      X-Ratelimit-Reset:
      - '1569213892'
    body:
      encoding: UTF-8
      string: '{"product_code":"BTCJPY27DEC2019","timestamp":"2019-09-23T04:40:31.557","tick_id":25461,"best_bid":1072599.0,"best_ask":1078620.0,"best_bid_size":0.6230146,"best_ask_size":0.01,"total_bid_depth":258.2780146,"total_ask_depth":498.8066633,"ltp":1084375.0,"volume":72971.59811835,"volume_by_product":0.4368552}'
  recorded_at: Mon, 23 Sep 2019 04:40:56 GMT
- request:
    method: get
    uri: https://lightning.bitflyer.com/api/trade/derivativeproducts?includeClosed=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"product_code":"BTCJPY27SEP2019","display_product_code":"BTC/JPY-27SEP2019","maturity_date":"2019-09-27T02:00:00","ltp":1078080.000000000000,"yesterdayClose":1080900.000000000000},{"product_code":"BTCJPY04OCT2019","display_product_code":"BTC/JPY-04OCT2019","maturity_date":"2019-10-04T02:00:00","ltp":1074020.000000000000,"yesterdayClose":1064570.000000000000},{"product_code":"BTCJPY27DEC2019","display_product_code":"BTC/JPY-27DEC2019","maturity_date":"2019-12-27T02:00:00","ltp":1084375.000000000000,"yesterdayClose":1080000.000000000000}]'
  recorded_at: Mon, 23 Sep 2019 04:40:56 GMT
recorded_with: VCR 4.0.0
