---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.com/v1/executions?product_code=FX_BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '496'
      X-Ratelimit-Reset:
      - '1561543122'
    body:
      encoding: UTF-8
      string: '[{"id":1138963956,"side":"BUY","price":1404000.0,"size":1.00000013,"exec_date":"2019-06-26T09:53:40.573","buy_child_order_acceptance_id":"JRF20190626-095340-326745","sell_child_order_acceptance_id":"JRF20190626-095326-019065"},{"id":1138963955,"side":"BUY","price":1403557.0,"size":0.15,"exec_date":"2019-06-26T09:53:40.573","buy_child_order_acceptance_id":"JRF20190626-095340-775109","sell_child_order_acceptance_id":"JRF20190626-095340-568017"},{"id":1138963954,"side":"SELL","price":1403505.0,"size":0.01178,"exec_date":"2019-06-26T09:53:40.447","buy_child_order_acceptance_id":"JRF20190626-095340-072315","sell_child_order_acceptance_id":"JRF20190626-095340-326744"},{"id":1138963953,"side":"SE[...]
