---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.com/v1/board?product_code=FX_BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '497'
      X-Ratelimit-Reset:
      - '1561543122'
    body:
      encoding: UTF-8
      string: '{"mid_price":1404078.0,"bids":[{"price":1404023.0,"size":1.601},{"price":1403952.0,"size":0.66666667},{"price":1403879.0,"size":0.03254501},{"price":1403855.0,"size":0.0893},{"price":1403851.0,"size":0.66666667},{"price":1403751.0,"size":0.1},{"price":1403749.0,"size":0.3},{"price":1403545.0,"size":0.01},{"price":1403510.0,"size":0.4},{"price":1403139.0,"size":0.059},{"price":1403138.0,"size":1.50000013},{"price":1403137.0,"size":0.04},{"price":1402800.0,"size":0.2},{"price":1402780.0,"size":3.9},{"price":1402236.0,"size":0.0888},{"price":1402162.0,"s[...]
