---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.com/v1/executions?product_code=FX_BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Period:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1571134018'
    body:
      encoding: UTF-8
      string: '[{"id":1340786991,"side":"BUY","price":918390.0,"size":0.58848762,"exec_date":"2019-10-15T10:06:57.593","buy_child_order_acceptance_id":"JRF20191015-100657-209063","sell_child_order_acceptance_id":"JRF20191015-100656-502800"},{"id":1340786990,"side":"BUY","price":918389.0,"size":0.01,"exec_date":"2019-10-15T10:06:57.593","buy_child_order_acceptance_id":"JRF20191015-100657-209063","sell_child_order_acceptance_id":"JRF20191015-100656-209061"},{"id":1340786989,"side":"BUY","price":918389.0,"size":0.04919954,"exec_date":"2019-10-15T10:06:57.593","buy_child_order_acceptance_id":"JRF20191015-100657-209063","sell_child_order_acceptance_id":"JRF20191015-100656-048030"},{"id":1340786988,"side":"BU[...]
