---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.com/v1/ticker?product_code=FX_BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '1561543122'
    body:
      encoding: UTF-8
      string: '{"product_code":"FX_BTC_JPY","timestamp":"2019-06-26T09:53:42.317","tick_id":40314804,"best_bid":1404023.0,"best_ask":1404419.0,"best_bid_size":1.601,"best_ask_size":0.53377432,"total_bid_depth":6997.98666038,"total_ask_depth":6570.86807623,"ltp":1404419.0,"volume":104252.3556993,"volume_by_product":87480.94094096}'
  recorded_at: Wed, 26 Jun 2019 09:53:42 GMT
recorded_with: VCR 4.0.0
