---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.com/v1/board?product_code=fx_BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '497'
      X-Ratelimit-Reset:
      - '1561439689'
    body:
      encoding: UTF-8
      string: '{"mid_price":1263437.0,"bids":[{"price":1263090.0,"size":0.03114514},{"price":1263015.0,"size":0.01},{"price":1263000.0,"size":0.43885486},{"price":1262911.0,"size":0.01},{"price":1262165.0,"size":0.501},{"price":1262001.0,"size":1.0},{"price":1261998.0,"size":0.15291163},{"price":1261987.0,"size":0.501},{"price":1261925.0,"size":0.9},{"price":1261898.0,"size":2.507},{"price":1261890.0,"size":0.1},{"price":1261850.0,"size":0.12},{"price":1261808.0,"size":0.501},{"price":1261801.0,"size":0.01058832},{"price":1261750.0,"size":0.04114514},{"price":126166[...]
