---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.com/v1/board?product_code=FX_BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Period:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1571134018'
    body:
      encoding: UTF-8
      string: '{"mid_price":918315.0,"bids":[{"price":918310.0,"size":0.02479334},{"price":918278.0,"size":0.14},{"price":918266.0,"size":0.67468579},{"price":918262.0,"size":0.1366205},{"price":918260.0,"size":0.02944917},{"price":918259.0,"size":0.0264},{"price":918258.0,"size":0.00902629},{"price":918257.0,"size":0.26141528},{"price":918255.0,"size":0.015},{"price":918254.0,"size":0.314},{"price":918252.0,"size":0.0940039},{"price":918248.0,"size":0.11},{"price":918247.0,"size":0.03},{"price":918246.0,"size":0.078},{"price":918245.0,"size":0.03},{"price":918242[...]
