---
http_interactions:
- request:
    method: get
    uri: https://data.bter.com/api2/1/ticker/BTC_CNY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":"true","last":26700.23,"lowestAsk":26700,"highestBid":26530,"percentChange":1.9961612284069,"baseVolume":927527.92,"quoteVolume":34.7957,"high24hr":27380,"low24hr":26050}'
  recorded_at: Tue, 03 Oct 2017 04:04:25 GMT
recorded_with: VCR 3.0.3
