---
http_interactions:
- request:
    method: get
    uri: https://api.txbit.io/api/public/getmarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketCurrency":"ATL","BaseCurrency":"BTC","MarketCurrencyLong":"Atlant","BaseCurrencyLong":"Bitcoin","MinTradeSize":0.00005000,"MarketName":"ATL/BTC","IsActive":true,"Created":"2019-01-28T19:03:02.993Z"},{"MarketCurrency":"BAN","BaseCurrency":"BTC","MarketCurrencyLong":"Banano","BaseCurrencyLong":"Bitcoin","MinTradeSize":0.00005000,"MarketName":"BAN/BTC","IsActive":true,"Created":"2019-01-27T20:45:08.923Z"},{"MarketCurrency":"BWK","BaseCurrency":"BTC","MarketCurrencyLong":"Bulwark","BaseCurrencyLong":"Bitcoin","MinTradeSize":0.00005000,"MarketName":"BWK/BTC","IsActive":true,"Created":"2019-01-27T20:45:08.923Z"},{"MarketCurrency":"COLX","BaseCurrency":"BTC","MarketCurr[...]
