---
http_interactions:
- request:
    method: get
    uri: https://api.go.exchange/exchange/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":[{"last_price":"","symbol":"BCHBTC","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"0"},{"last_price":"305.72","symbol":"BCHUSDC","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"10.0917783"},{"last_price":"10063.94","symbol":"BTCUSDC","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"4529.78849515"},{"last_price":"0.021996","symbol":"ETHBTC","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"0.9605467108"},{"last_price":"219.72","symbol":"ETHDAI","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"1671.8042600"},{"last_price":"220.94","symbol":"ETHUSDC","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"634.2663195"},{"last_price":"0.009322","symbol":"LTCBTC","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"0.0001202538"},{"last_price":"94.02","symbol":"LTCUSDC","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"20.4180373"},{"last_price":"0.000169","symbol":"OMGBTC","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"14.77274279"},{"last_price":"1.6917","symbol":"OMGDAI","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"15248.066145"},{"last_price":"0.007676","symbol":"OMGETH","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"1.11150852"},{"last_price":"1.6988","symbol":"OMGUSDC","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"13791.706576"},{"last_price":"0.9935","symbol":"USDCDAI","timestamp":"2019-07-25
        06:41:56.136357","volume_24h":"1314.988633"}]}'
  recorded_at: Thu, 25 Jul 2019 06:41:56 GMT
recorded_with: VCR 4.0.0
