---
http_interactions:
- request:
    method: get
    uri: https://api.go.exchange/exchange/order-book/BTCUSDC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":{"buy":[{"amount":"0.3732","price":"10051.53","symbol":"BTCUSDC","total":"3751.230996"},{"amount":"0.3993","price":"10051.03","symbol":"BTCUSDC","total":"4013.376279"},{"amount":"0.7341","price":"10050.53","symbol":"BTCUSDC","total":"7378.094073"},{"amount":"0.089","price":"10020.57","symbol":"BTCUSDC","total":"891.83073"},{"amount":"0.1666","price":"9966.63","symbol":"BTCUSDC","total":"1660.440558"},{"amount":"0.2664","price":"9910.62","symbol":"BTCUSDC","total":"2640.189168"},{"amount":"0.054","price":"9890.71","symbol":"BTCUSDC","total":"534.09834"},{"amount":"0.2[...]
