---
http_interactions:
- request:
    method: get
    uri: https://api.go.exchange/exchange/trades/BTCUSDC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"after":"g2wAAAABYgAruepq","before":null,"limit":20},"result":[{"amount":"0.000001","id":"trade_01DGKXQMD95Z1ZR8JY615C4V3F","price":"10061.98","side":"sell","symbol":"BTCUSDC","timestamp":"2019-07-25T06:40:13.236581"},{"amount":"0.000001","id":"trade_01DGKXPB8H4GD06PCM82HYWW3F","price":"10063.94","side":"sell","symbol":"BTCUSDC","timestamp":"2019-07-25T06:39:31.096176"},{"amount":"0.000482","id":"trade_01DGKXNMWD0EBMX7DKW1QGXEYM","price":"10077.72","side":"buy","symbol":"BTCUSDC","timestamp":"2019-07-25T06:39:08.189369"},{"amount":"0.000001","id":"trade_01DGKXN6AKM5V46DMBT3K01NWM","price":"10066.09","side":"sell","symbol":"BTCUSDC","timestamp":"2019-07-25T06:38:53.277382"},{"amou[...]
