---
http_interactions:
- request:
    method: get
    uri: https://heatwallet.com:7734/api/v1/exchange/markets/all/change/true/0/1/0/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"hr24Low":"2255","hr24AssetVolume":"98329195315","currencyDecimals":8,"hr24CurrencyVolume":"2217423","assetDecimals":8,"currencyProperties":"[\"BTC*\",\"Heat
        Legder BTC\"]","hr24Change":"-15.17","bidOrderTotal":"83928887","currency":"5592059897546023466","askOrderTotal":"268845569","asset":"0","hr24High":"2260","lastPrice":"2260"},{"hr24Low":"0","hr24AssetVolume":"0","currencyDecimals":8,"hr24CurrencyVolume":"0","assetDecimals":2,"currencyProperties":"[\"BTC*\",\"Heat
        Legder BTC\"]","assetProperties":"[\"EMV\",\"Ethereum Movie Venture\"]","hr24Change":"0.0","bidOrderTotal":"0","currency":"5592059897546023466","askOrderTotal":"0","asset":"14929164942871212197","hr24High":"0","lastPrice":"35000"},{"hr24Low":"0","hr24AssetVolume":"0","currencyDecimals":8,"hr24CurrencyVolume":"0","assetDecimals":8,"assetProperties":"[\"COLD\",\"COLD\"]","hr24Change":"0.0","bidOrderTotal":"0","currency":"0","askOrderTotal":"0","asset":"16766297531871498265","hr24High":"0","lastPrice":"100000000"},{"hr24Low":"0","[...]
