---
http_interactions:
- request:
    method: get
    uri: https://heatwallet.com:7734/api/v1/trade/5592059897546023466/0/0/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"seller":"8346469662673985373","isBuy":true,"quantity":"2000000000","bidOrder":"11302365497326840797","sellerName":"8346469662673985373","buyerName":"heattesting1@heatwallet.com","buyer":"17404671464083947029","askOrder":"15125005654831191352","price":"2643","block":"18391594906283643840","currency":"5592059897546023466","asset":"0","askOrderHeight":1342040,"bidOrderHeight":1344082,"height":1344082,"timestamp":140641962},{"seller":"5101430513672201407","isBuy":false,"quantity":"96329195315","bidOrder":"15067800898412843930","sellerName":"letsgo13@heatwallet.com","buyerName":"4792131838140132842","buyer":"4792131838140132842","askOrder":"17057944784707381879","price":"2255","block":"6174180258898497261","currency":"5592059897546023466","asset":"0","askOrderHeight":1341902,"bidOrderHeight":1339619,"height":1341902,"timestamp":140577325},{"seller":"5101430513672201407","isBuy":false,"quantity":"200000000[...]
