---
http_interactions:
- request:
    method: get
    uri: https://heatwallet.com:7734/api/v1/exchange/assets/protocol1/0/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"1ST","decimals":8,"name":"First HEAT Asset","asset":"8019117727201011210"},{"symbol":"360","decimals":8,"name":"360","asset":"4030398796480284142"},{"symbol":"ALL","decimals":8,"name":"all","asset":"7439952433846446702"},{"symbol":"AMP","decimals":8,"name":"Synereo","asset":"17814187378689170001"},{"symbol":"ANAL","decimals":8,"name":"ANAL","asset":"6411877704567340415"},{"symbol":"ARDR","decimals":8,"name":"Heat
        Ledger ARDR","asset":"17622812277075597103"},{"symbol":"BCC","decimals":8,"name":"Heat
        Ledger Bitcoin Cash token","asse[...]
- request:
    method: get
    uri: https://heatwallet.com:7734/api/v1/order/pair/asks/5592059897546023466/0/0/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"unconfirmed":false,"quantity":"2000000000","unconfirmedQuantity":"2000000000","accountName":"6126109489952460557","transactionIndex":0,"type":"ask","sumQNT":52800,"currentlyNotValid":false,"price":"2640","runningTotalQNT":2000000000,"cancelled":false,"currency":"5592059897546023466","expiration":143239248,"asset":"0","account":"6126109489952460557","order":"9044769069229483293","height":1344245},{"unconfirmed":false,"quantity":"58000000000","unconfirmedQuantity":"58000000000","accountName":"8346469662673985373","transactionIndex":0,"type":"ask","sumQNT":1585740,"currentlyNotValid":false,"price":"2643","runningTotalQNT":60000000000,"cancelled":false,"currency":"5592059897546023466","expiration":143173170,"asset":"0","account":"8346469662673985373","order":"15125005654831191352","height":1342040},{"unconfirmed":false,"quantity":"60000000000","unconfirmedQuantity":"60000000000","a[...]
- request:
    method: get
    uri: https://heatwallet.com:7734/api/v1/order/pair/bids/5592059897546023466/0/0/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"unconfirmed":false,"quantity":"1006561140351","unconfirmedQuantity":"1006561140351","accountName":"4792131838140132842","transactionIndex":0,"type":"bid[...]
