---
http_interactions:
- request:
    method: get
    uri: https://api.btcturk.com/api/v2/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '2.0'
    body:
      encoding: UTF-8
      string: '{"data":[{"pair":"BTCTRY","pairNormalized":"BTC_TRY","timestamp":1585634249342.0,"last":42101.0,"high":42859.0,"low":40477.0,"bid":42101.0,"ask":42150.0,"open":40693.0,"volume":1466.12438446,"average":41803.93,"daily":1457.0,"dailyPercent":3.46,"denominatorSymbol":"TRY","numeratorSymbol":"BTC","order":0},{"pair":"DASHTRY","pairNormalized":"DASH_TRY","timestamp":1585634249342.0,"last":426.5,"high":442.9,"low":412.3,"bid":426.5,"ask":430.6,"open":416.0,"volume":17932.30371422,"average":429.13,"daily":14.6,"dailyPercent":2.52,"denominatorSymbol":"TRY","numeratorSymbol":"DASH","order":0},{"pair":"EOSTRY","pairNormalized":"EOS_TRY","timestamp":1585634249342.0,"last":14.57,"high":14.84,"low":14.12,"bid":14.42,"ask":14.57,"open":14.2,"volume":36614.29348804,"average":14.54,"daily":0.37,"dailyPercent[...]
