---
http_interactions:
- request:
    method: get
    uri: https://www.btcturk.com/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a40f7fd5-e36c-4d51-b54b-9aa685dde4d3"'
      Ratelimit-Limit:
      - '10'
      Ratelimit-Remaining:
      - '9'
      X-Content-Security-Policy:
      - script-src 'self' * www.googletagmanager.com use.fontawesome.com www.googleadservices.com
        fontawesome.com connect.facebook.net stats.g.doubleclick.net ping.typekit.net
        p.typekit.net use.typekit.net www.google.com www.youtube.com i.ytimg.com  www.google-analytics.com
        ajax.googleapis.com www.gstatic.com apis.google.com az732725.vo.msecnd.net
        bam.nr-data.net 'unsafe-inline' 'unsafe-eval';style-src 'self' fontawesome.com
        ping.typekit.net www.youtube.com i.ytimg.com p.typekit.net use.typekit.net
        cdnbtctrader.blob.core.windows.net fonts.googleapis.com az732725.vo.msecnd.net
        'unsafe-inline';img-src 'self' fontawesome.com www.googleadservices.com www.youtube.com
        i.ytimg.com www.facebook.com www.google.com.tr stats.g.doubleclick.net googleads.g.doubleclick.net
        ping.typekit.net p.typekit.net use.typekit.net cdnbtctrader.blob.core.windows.net
        www.google-analytics.com www.google.com ssl.gstatic.com fontawesome.com az732725.vo.msecnd.net
        data:;object-src 'self' fontawesome.com ping.typekit.net p.typekit.net www.youtube.com
        i.ytimg.com use.typekit.net cdnbtctrader.blob.core.windows.net pusher.com;
      X-Webkit-Csp:
      - script-src 'self' * www.googletagmanager.com use.fontawesome.com www.googleadservices.com
        fontawesome.com connect.facebook.net stats.g.doubleclick.net ping.typekit.net
        p.typekit.net use.typekit.net www.google.com www.youtube.com i.ytimg.com  www.google-analytics.com
        ajax.googleapis.com www.gstatic.com apis.google.com az732725.vo.msecnd.net
        bam.nr-data.net 'unsafe-inline' 'unsafe-eval';style-src 'self' fontawesome.com
        ping.typekit.net www.youtube.com i.ytimg.com p.typekit.net use.typekit.net
        cdnbtctrader.blob.core.windows.net fonts.googleapis.com az732725.vo.msecnd.net
        'unsafe-inline';img-src 'self' fontawesome.com www.googleadservices.com www.youtube.com
        i.ytimg.com www.facebook.com www.google.com.tr stats.g.doubleclick.net googleads.g.doubleclick.net
        ping.typekit.net p.typekit.net use.typekit.net cdnbtctrader.blob.core.windows.net
        www.google-analytics.com www.google.com ssl.gstatic.com fontawesome.com az732725.vo.msecnd.net
        data:;object-src 'self' fontawesome.com ping.typekit.net p.typekit.net www.youtube.com
        i.ytimg.com use.typekit.net cdnbtctrader.blob.core.windows.net pusher.com;
    body:
      encoding: UTF-8
      string: '[{"pair":"BTCTRY","high":37398.0,"last":34571.0,"timestamp":1533745536.0,"bid":34581.0,"volume":400.47,"low":33801.0,"ask":34580.0,"open":37300.0,"average":35381.31,"daily":0.0,"dailyPercent":0.0,"denominatorsymbol":"TRY","numeratorsymbol":"BTC"},{"pair":"BTCUSDT","high":7100.0,"last":6286.0,"timestamp":1533745536.0,"bid":6361.0,"volume":9.94,"low":6286.0,"ask":6544.0,"open":7100.0,"average":6675.68,"daily":0.0,"dailyPercent":0.0,"denominatorsymbol":"USDT","numeratorsymbol":"BTC"},{"pair":"ETHTRY","high":2154.0,"last":1940.0,"timestamp":1533745536.0,"bid":1940.0,"volume":3755.25,"low":1912.0,"ask":1955.0,"open":2149.0,"average":2009.31,"daily":0.0,"dailyPercent":0.0,"denominatorsymbol":"TRY","numeratorsymbol":"ETH"},{"pair":"LTCTRY","high":392.0,"last":338.11,"timestamp":1533745536.0,"bid":340.0,"volume":2935.91,"low":336.01,"ask":344.0,"open":392.0,"average":358.01,"daily":0.0,"dailyPercent":0.0,"denominatorsymbol":"TRY","numeratorsymbol":"LTC"},{"pair":"XRPTRY","high":2.16,"last":1.82,"timestamp":1533745536.0,"bid":1.81,"volume":7671857.51,"low":1.8,"ask":1.82,"open":2.16,"average":1.94,"daily":0.0,"dailyPercent":0.0,"denominatorsymbol":"TRY","numeratorsymbol":"XRP"},{"pair":"USDTTRY","high":5.43,"last":5.36,"timestamp":1533745536.0,"bid":5.34,"volume":617000.79,"low":5.17,"ask":5.37,"open":5.26,"average":5.3,"daily":0.0,"dailyPercent":0.0,"denominatorsymbol":"TRY","numeratorsymbol":"USDT"}]'
  recorded_at: Wed, 08 Aug 2018 16:25:44 GMT
recorded_with: VCR 4.0.0
