---
http_interactions:
- request:
    method: get
    uri: https://exnce.com/api/v1/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"success":true,"time":1559857553,"type":"info","title":"Success","message":"Ticker
        has been listed successfuly.","data":[{"pair":"XLM\/ETH","high":"0.00036000","last":"0.00035000","timestamp":1559857551,"bid":"0.00430000","volume":"6.61","low":"0.00035000","ask":0,"open":"0.00036000","change":-2.78,"coin":"ETH","dest":"XLM"},{"pair":"ETHPLO\/TUSD","high":0,"last":0,"timestamp":1559857551,"bid":0,"volume":"0.00","low":0,"ask":0,"open":0,"change":0,"coin":"TUSD","dest":"ETHPLO"},{"pair":"ETHPLO\/MKR","high":0,"last":0,"timestamp":1559857551,"bid":0,"volume":"0.00","low":0,"ask":0,"open":0,"change":0,"coin":"MKR","dest":"ETHPLO"},{"pair":"ETHPLO\/XLM","high":0,"last":0,"timestamp":1559857551,"bid":0,"volume":"0.00","low":0,"ask":0,"open":0,"change":0,"coin":"XLM","dest":"ETHPLO"},{"pair":"ETHPLO\/ETH","high":"0.[...]
