---
http_interactions:
- request:
    method: get
    uri: https://openapi.oex.com/open/api/market_dept?symbol=btcusdt&type=step1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"tick":{"asks":[[6299.1,0.0078],[6299.5,0.0016],[6299.6,0.0015],[6299.7,0.0137],[6300.1,0.0002],[6300.2,0.0005],[6300.3,0.0052],[6300.4,0.035],[6300.7,0.0015],[6301.1,0.0326],[6301.7,0.0002],[6302,0.0006],[6302.1,0.0039],[6302.6,0.0002],[6302.7,0.001],[6303,0.0019],[6303.1,0.0042],[6303.3,0.0087],[6303.4,0.0214],[6303.5,0.0069],[6303.6,0.003],[6303.7,0.0389],[6303.8,0.0071],[6304,0.0001],[6309.5,0.0634],[6319.6,0.0723],[6329.8,0.1276],[6340,0.1726],[6350.1,0.042],[6355,0.0309],[6357.9,0.0909],[6368.1,0.0721],[6378.2,0.1366],[6388.4,0.1563],[6397,0.0002],[6398.6,0.1755],[6408.8,0.197],[6418.9,0.0591],[6427,0.1438],[6437.2,0.1294],[6447.4,0.0795],[6457.6,0.1225],[6467.7,0.1],[6477.9,0.1252],[6488.1,0.1692],[6498.3,0.029],[6500,0.0363],[6512,0.1923],[6522.1,0.0964],[6532.3,0.0153],[6542.5,0.1435],[6552.7,0.1871],[6562.9,0.0478],[6573,0.0501],[6583.2,0.1813],[6593.4,0.0567],[6603.6,0.185],[6610.3,0.1277],[6613.8,0.0234],[6800,0.02],[19999.1,0.0075],[89999.1,0.0056],[89999.3,0.0084]],"bids":[[6295.7,0.0138],[6295.3,0.0001],[6295.1,0.0152],[6295,0.0021],[6294.9,0.0007],[6294.8,0.0003],[6294.6,0.0008],[6294.4,0.006],[6294,0.0136],[6293.9,0.006],[6293.8,0.0027],[6293.5,0.0066],[6293.3,0.0002],[6292.7,0.0025],[6289.3,0.0259],[6279.2,0.1749],[6269,0.1758],[6258.8,0.0252],[6256.3,0.1525],[6250,0.0001],[6236,0.1417],[6225.8,0.0592],[6215.6,0.1261],[6213.6,0.1648],[6203.4,0.186],[6193.2,0.0446],[6183.1,0.0658],[6172.9,0.0115],[6162.7,0.0393],[6152.5,0.1582],[6150,0.0001],[6139.8,0.0113],[6084.6,0.023],[6074.5,0.1538],[6064.3,0.1436],[6054.1,0.0287],[6050,0.0001],[6043.9,0.0506],[6033.7,0.1779],[6023.6,0.0922],[6013.4,0.1759],[6007,0.0001],[6003.2,0.083],[5987,0.0001],[5950,0.0001],[5910,0.02],[5907,0.0001],[5900,0.02],[5890,0.02],[5880,0.02],[5850,0.0301],[5830,0.01],[5810,0.02],[5807,0.0001],[5800,0.02],[5770,0.01],[5760,0.01],[5750,0.01],[5730,0.01],[5720,0.01],[5680,0.02],[5660,0.02],[5630,0.01],[5622,0.01],[5600,0.01],[5590,0.01],[5550,0.02],[5330,0.02],[5320,0.01],[5315,0.01],[5310,0.02],[5290,0.01],[5280,0.01],[5250,0.01],[5230,0.01],[5195,0.01],[5180,0.01],[5160,0.01],[2000,0.001],[100,0.0001],[1,0.0026],[0.9,0.0151],[0.8,0.0087],[0.7,0.0072],[0.5,0.001],[0.4,0.001],[0.2,0.0609],[0.1,0.3245],[0,1.227]],"time":null}}}'
  recorded_at: Fri, 10 May 2019 03:57:31 GMT
recorded_with: VCR 4.0.0
