---
http_interactions:
- request:
    method: get
    uri: https://openapi.oex.com/open/api/get_allticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"date":1555312054564,"ticker":[{"symbol":"btcusdt","high":"5166.53","vol":"62649.0418","last":5135.4400000000000000,"low":"5013.8","buy":5133.7,"sell":5136.32,"change":"0.01466044","rose":"0.01466044"},{"symbol":"ethusdt","high":"168.67","vol":"715032.0086","last":167.3000000000000000,"low":"160.54","buy":167.25,"sell":167.42,"change":"0.02524819","rose":"0.02524819"},{"symbol":"eosusdt","high":"5.6044","vol":"1333657.6953","last":5.5402000000000000,"low":"5.2399","buy":5.539,"sell":13,"change":"0.0446309","rose":"0.0446309"},{"symbol":"oexusdt","high":"0.02","vol":"4.3915","last":0.0200000000000000,"low":"0.0151","buy":0.0156,"sell":0.02,"change":"0.28205128","rose":"0.28205128"[...]
