---
http_interactions:
- request:
    method: get
    uri: https://koinx.id/api/snapshot/ETH/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","price_step":"0.000001","amount_step":"0.0001","all_symbols":["ETH/BTC","UGAS/ETH","BTC/USDT","ETH/USDT","ETH/IDR","BTC/IDR","UGAS/BTC","IOTX/ETH","IOTX/BTC","ONT/BTC","ONT/ETH","HOT/BTC","HOT/ETH","CTXC/BTC","CTXC/ETH","CNN/BTC","CNN/ETH","XZC/BTC","XZC/IDR"],"last_prices":["0.027400","0.001197","6266.37","171.77","2427000","89773000","0.00003377","0.0000691332","0.0000017044","0.00015967","0.005809","0.0000008348","0.0000302523","0.00002187","0.00080179","0.0000000300","0.0000011124","0.0011283090","96953.8"],"past_24hrs_price_changes":["-3.14%","-1.89%","+3.23%","-0.12%","+0.37%","+4.85%","-2.85%","-4.56%","-1.13%","-8.74%","-5.71%","-12.02%","-9.73%","-7.76%","-7.08%","-7.69%","-0.63%","-0.03%","+4.37%"],"past_24hrs_high_price":["0.028305","0.002943","6330.23","173.15","2450000","89773000","0.00036500","0.0000724997","0.0000017242","0.00017575","0.006201","0.0000009878","0.0000340964","0.00002484","0.00087851","0.0000000334","0.0000011895","0.0011290000","99964.6"],"past_24hrs_low_price":["0.027024","0.001194","5768.35","165.71","2389000","85646000","0.00003275","0.0000684206","0.0000016743","0.00015735","0.005809","0.0000008167","0.0000299775","0.00002179","0.00080179","0.0000000284","0.0000010635","0.0011282816","88700.0"],"past_24hrs_volumes":["9441.6313","3851339.79","401.289328","12932.426946","28.233931","0.755928","2987722.00","285645.32","197432.37","11624.49","6750.07","305297.52","527924.55","10932.52","22106.78","3935546.40","14006858.51","3052.83","3704.50"],"past_24hrs_turnovers":["262.91648790","4707.94555845","2442850.91470780","2194922.84626714","68240679.267","65872166.070","102.31747677","20.23340282","0.33528938","1.97233151","41.04196965","0.27796413","17.29667194","0.25902172","18.79482950","0.12494467","16.02465833","3.44579989","346792281.887"],"order_book":{"bids":[{"price":"0.027400","amount":"0.2380"},{"price":"0.027396","amount":"0.5730"},{"price":"0.027389","amount":"0.4020"},{"price":"0.027376","amount":"0.3400"},{"price":"0.027356","amount":"0.6130"},{"price":"0.027339","amount":"0.1870"},{"price":"0.027336","amount":"0.3350"},{"price":"0.027300","amount":"0.1910"},{"price":"0.027290","amount":"0.4510"},{"price":"0.027280","amount":"0.4170"},{"price":"0.027269","amount":"0.6390"},{"price":"0.027253","amount":"0.5100"},{"price":"0.027242","amount":"0.4160"},{"price":"0.027223","amount":"0.4150"},{"price":"0.027222","amount":"0.6060"},{"price":"0.027202","amount":"0.2280"},{"price":"0.027192","amount":"0.2040"},{"price":"0.027166","amount":"0.3490"},{"price":"0.027160","amount":"0.4510"},{"price":"0.027131","amount":"0.3700"},{"price":"0.027115","amount":"0.6600"},{"price":"0.027100","amount":"0.2320"},{"price":"0.027086","amount":"0.2860"},{"price":"0.027077","amount":"0.3280"},{"price":"0.027076","amount":"0.3930"},{"price":"0.027062","amount":"0.5390"},{"price":"0.027032","amount":"0.4680"},{"price":"0.027026","amount":"0.5120"},{"price":"0.027010","amount":"0.4690"},{"price":"0.000001","amount":"0.0001"}],"asks":[{"price":"0.027415","amount":"0.3290"},{"price":"0.027416","amount":"0.6220"},{"price":"0.027436","amount":"0.3690"},{"price":"0.027480","amount":"0.6170"},{"price":"0.027491","amount":"0.3980"},{"price":"0.027496","amount":"0.5150"},{"price":"0.027505","amount":"0.3990"},{"price":"0.027520","amount":"0.5060"},{"price":"0.027553","amount":"0.5030"},{"price":"0.027569","amount":"0.6450"},{"price":"0.027582","amount":"0.1510"},{"price":"0.027598","amount":"0.5660"},{"price":"0.027605","amount":"0.3310"},{"price":"0.027623","amount":"0.2340"},{"price":"0.027640","amount":"0.1740"},{"price":"0.027643","amount":"0.5540"},{"price":"0.027653","amount":"0.5850"},{"price":"0.027666","amount":"0.6620"},{"price":"0.027679","amount":"0.2630"},{"price":"0.027681","amount":"0.6330"},{"price":"0.027710","amount":"0.2240"},{"price":"0.027734","amount":"0.2590"},{"price":"0.027735","amount":"0.6010"},{"price":"0.027748","amount":"0.3940"},{"price":"0.027780","amount":"0.3860"},{"price":"0.027790","amount":"0.4710"},{"price":"0.027802","amount":"0.2130"},{"price":"0.029550","amount":"0.1258"},{"price":"0.034000","amount":"0.0205"},{"price":"0.039890","amount":"0.0437"},{"price":"0.040000","amount":"0.0100"}]},"trade_history":[{"price":"0.027400","amount":"0.3000","side":"sell","timestamp":1557461517,"reward_rate":""},{"price":"0.027411","amount":"0.2270","side":"buy","timestamp":1557461466,"reward_rate":""},{"price":"0.027411","amount":"0.3000","side":"buy","timestamp":1557461460,"reward_rate":""},{"price":"0.027404","amount":"0.0850","side":"buy","timestamp":1557461457,"reward_rate":""},{"price":"0.027404","amount":"0.3000","side":"buy","timestamp":1557461453,"reward_rate":""},{"price":"0.027398","amount":"0.2380","side":"buy","timestamp":1557461446,"reward_rate":""},{"price":"0.027388","amount":"0.0230[...]
