---
http_interactions:
- request:
    method: get
    uri: https://koinx.id/api/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ETH\/BTC":{"last_price":"0.035978","lowest_ask_price":"0.035975","highest_bid_price":"0.035967","past_24hrs_price_change":"-1.76%","past_24hrs_base_volume":"6958.3560","past_24hrs_quote_turnover":"253.04675721","past_24hrs_high_price":"0.685268","past_24hrs_low_price":"0.018397"},"UGAS\/ETH":{"last_price":"0.000595","lowest_ask_price":"0.000596","highest_bid_price":"0.000523","past_24hrs_price_change":"+4.02%","past_24hrs_base_volume":"37862.73","past_24hrs_quote_turnover":"21.26840708","past_24hrs_high_price":"0.000595","past_24hrs_low_price":"0.000524"},"BTC\/USDT":{"last_price":"3833.86","lowest_ask_price":"3834.48","highest_bid_price":"3833.54","past_24hrs_price_change":"+0.73%","past_24hrs_base_volume":"713.456068","past_24hrs_quote_turnover":"2725822.89[...]
