---
http_interactions:
- request:
    method: get
    uri: https://api.exx.com/data/v1/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      Cndserver:
      - cache_server_1
    body:
      encoding: UTF-8
      string: '{"lbtc_btc":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"xwc_eth":{"amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":true},"ink_usdt":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":false},"etc_usdt":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"ubtc_usdt":{"amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"sbtc_btc":{"amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"tv_qtum":{"amountScale":2,"priceScale":3,"maxLevels":0,"isOpen":true},"mona_hsr":{"amountScale":3,"priceScale":3,"maxLevels":0,"isOpen":true},"chat_btc":{"amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"btm_eth":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"eos_eth":{"amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":true},"eth_usdt":{"amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"xwc_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"tv_eth":{"amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":true},"etc_eth":{"amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"qash_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"btm_btc":{"amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"ubtc_btc":{"amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"ink_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"etc_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"cfun_btc":{"amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"qbt_usdt":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":false},"eos_btc":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"etc_hsr":{"amountScale":3,"priceScale":3,"maxLevels":0,"isOpen":true},"qtum_hsr":{"amountScale":2,"priceScale":4,"maxLevels":0,"isOpen":true},"etc_btc":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"ink_btc":{"amountScale":0,"priceScale":8,"maxLevels":3,"isOpen":true},"tsl_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"qtum_btc":{"amountScale":2,"priceScale":6,"maxLevels":3,"isOpen":true},"ubtc_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"eth_hsr":{"amountScale":3,"priceScale":3,"maxLevels":0,"isOpen":true},"ltc_usdt":{"amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"tsl_btc":{"amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":false},"bot_qtum":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"btc_usdt":{"amountScale":4,"priceScale":2,"maxLevels":0,"isOpen":true},"eth_btc":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"mona_qtum":{"amountScale":3,"priceScale":3,"maxLevels":0,"isOpen":true},"qtum_eth":{"amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"btp_btc":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"etf_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":false},"mco_eth":{"amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"etp_qtum":{"amountScale":3,"priceScale":5,"maxLevels":3,"isOpen":true},"dhsr_dbtc":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"tv_btc":{"amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"ltc_qc":{"amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"eth_qc":{"amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"bts_eth":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"qbt_qtum":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":false},"hsr_btc":{"amountScale":2,"priceScale":6,"maxLevels":3,"isOpen":true},"hpy_hsr":{"amountScale":2,"priceScale":6,"maxLevels":5,"isOpen":true},"qash_eth":{"amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":true},"eos_qtum":{"amountScale":3,"priceScale":3,"maxLevels":0,"isOpen":true},"qtum_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"btp_usdt":{"amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"qbt_eth":{"amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":false},"hsr_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"cfun_eth":{"amountScale":0,"priceScale":6,"maxLevels":0,"isOpen":true},"ltc_btc":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"cfun_qtum":{"amountScale":0,"priceScale":6,"maxLevels":0,"isOpen":true},"can_eth":{"amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":true},"can_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"tv_qc":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"tsl_qtum":{"amountScale":2,"priceScale":4,"maxLevels":0,"isOpen":true},"xwc_btc":{"amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"btg_btc":{"amountScale":3,"priceScale":5,"maxLevels":5,"isOpen":false},"deth_dhsr":{"amountScale":3,"priceScale":4,"maxLevels":5,"isOpen":true},"chat_eth":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"btc_qc":{"amountScale":4,"priceScale":2,"maxLevels":0,"isOpen":true},"bcd_btc":{"amountScale":2,"priceScale":6,"maxLevels":5,"isOpen":true},"btw_btc":{"amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":false},"qtum_usdt":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"bcc_btc":{"amountScale":2,"priceScale":6,"maxLevels":3,"isOpen":true},"ink_qtum":{"amountScale":2,"priceScale":6,"maxLevels":5,"isOpen":true},"hsr_usdt":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"etf_btc":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":false},"mco_btc":{"amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"xwc_usdt":{"amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true}}'
  recorded_at: Wed, 20 Dec 2017 09:51:51 GMT
recorded_with: VCR 3.0.3
