---
http_interactions:
- request:
    method: get
    uri: https://api.exx.com/data/v1/trades?currency=eth_hsr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      Cndserver:
      - cache_server_1
    body:
      encoding: UTF-8
      string: '[{"amount":0.08,"price":21.8,"tid":5127057,"type":"buy","date":1513729867,"trade_type":"bid"},{"amount":0.83,"price":21.8,"tid":5127070,"type":"buy","date":1513729869,"trade_type":"bid"},{"amount":0.04,"price":24.0,"tid":5129638,"type":"buy","date":1513730365,"trade_type":"bid"},{"amount":0.05,"price":24.0,"tid":5129726,"type":"buy","date":1513730378,"trade_type":"bid"},{"amount":0.11,"price":24.0,"tid":5129740,"type":"buy","date":1513730380,"trade_type":"bid"},{"amount":0.09,"price":23.098,"tid":5130270,"type":"sell","date":1513730462,"trade_type":"ask"},{"amount":0.08,"price":22[...]
