---
http_interactions:
- request:
    method: get
    uri: https://api.exx.com/data/v1/trades?currency=eth_hsr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      Cndserver:
      - cache_server_1
      X-Via:
      - 1.1 anxun44:1 (Cdn Cache Server V2.0)
    body:
      encoding: UTF-8
      string: '[{"amount":0.832,"price":77.798,"tid":6660033,"type":"buy","date":1519361015,"trade_type":"bid"},{"amount":0.016,"price":77.49,"tid":6660035,"type":"sell","date":1519361048,"trade_type":"ask"},{"amount":0.012,"price":78.097,"tid":6660036,"type":"sell","date":1519361086,"trade_type":"ask"},{"amount":0.145,"price":77.615,"tid":6660038,"type":"sell","date":1519361117,"trade_type":"ask"},{"amount":0.738,"price":78.264,"tid":6660039,"type":"sell","date":1519361188,"trade_type":"ask"},{"amount":0.657,"price":78.149,"tid":6660041,"type":"sell","date":1519361210,"trade_type":"ask"},{"amount"[...]
