---
http_interactions:
- request:
    method: get
    uri: https://api.exx.com/data/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      Cndserver:
      - cache_server_1
      X-Via:
      - 1.1 anxun44:8 (Cdn Cache Server V2.0)
    body:
      encoding: UTF-8
      string: '{"etc_usdt":{"minAmount":"0.00010","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"ubtc_usdt":{"minAmount":"0.001","amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"sbtc_btc":{"minAmount":"0.00010","amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"chat_btc":{"minAmount":"0.0000010","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"xuc_btc":{"minAmount":"0.001","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"eos_eth":{"minAmount":"0.001","amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":true},"sexc_eth":{"minAmount":"0.001","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"epc_eth":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"bds_btc":{"minAmount":"0.0000010","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"btm_btc":{"minAmount":"0.000010","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"etc_eth":{"minAmount":"0.001","amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"ink_qc":{"minAmount":"0.00010","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"etc_qc":{"minAmount":"0.00010","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"gram_qc":{"minAmount":"0.000010","amountScale":4,"priceScale":4,"maxLevels":0,"isOpen":true},"gram_eth":{"minAmount":"0.000010","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"qtum_hsr":{"minAmount":"0.01","amountScale":2,"priceScale":4,"maxLevels":0,"isOpen":true},"etc_hsr":{"minAmount":"0.001","amountScale":3,"priceScale":3,"maxLevels":0,"isOpen":true},"etc_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"ink_btc":{"minAmount":"0.000010","amountScale":0,"priceScale":8,"maxLevels":3,"isOpen":true},"tsl_qc":{"minAmount":"0.00010","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"eth_hsr":{"minAmount":"0.001","amountScale":3,"priceScale":3,"maxLevels":0,"isOpen":true},"eth_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"mona_qtum":{"minAmount":"0.001","amountScale":3,"priceScale":3,"maxLevels":0,"isOpen":true},"btc_usdt":{"minAmount":"0.00010","amountScale":4,"priceScale":2,"maxLevels":0,"isOpen":true},"qtum_eth":{"minAmount":"0.001","amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"spc_qc":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"btp_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"etf_qc":{"minAmount":"0.00010","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"hld_hsr":{"minAmount":"0.001","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"etp_qtum":{"minAmount":"0.01","amountScale":3,"priceScale":5,"maxLevels":3,"isOpen":true},"tv_btc":{"minAmount":"0.00010","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"ltc_qc":{"minAmount":"0.01","amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"lch_usdt":{"minAmount":"0.00010","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"eth_qc":{"minAmount":"0.00010","amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"bds_qc":{"minAmount":"0.00010","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"vlc_qc":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"qbt_qtum":{"minAmount":"0.01","amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":true},"hpy_hsr":{"minAmount":"0.001","amountScale":2,"priceScale":6,"maxLevels":5,"isOpen":true},"qash_eth":{"minAmount":"0.00010","amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":true},"gram_btc":{"minAmount":"0.000010","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"qbt_eth":{"minAmount":"0.001","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"hsr_qc":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"spc_eth":{"minAmount":"0.00010","amountScale":0,"priceScale":6,"maxLevels":0,"isOpen":false},"ltc_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"can_eth":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"tsl_qtum":{"minAmount":"0.0000010","amountScale":2,"priceScale":4,"maxLevels":0,"isOpen":true},"vlc_eth":{"minAmount":"0.000010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"spc_btc":{"minAmount":"0.0000010","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"btc_qc":{"minAmount":"0.00010","amountScale":4,"priceScale":2,"maxLevels":0,"isOpen":true},"bck_usdt":{"minAmount":"0.1","amountScale":4,"priceScale":2,"maxLevels":0,"isOpen":true},"qtum_usdt":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"bcc_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":3,"isOpen":true},"etf_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"xwc_usdt":{"minAmount":"0.001","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"lbtc_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"xwc_eth":{"minAmount":"0.00010","amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":true},"epc_btc":{"minAmount":"0.00010","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"xuc_eth":{"minAmount":"0.001","amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"ink_usdt":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":false},"xuc_usdt":{"minAmount":"0.1","amountScale":4,"priceScale":2,"maxLevels":0,"isOpen":true},"tv_qtum":{"minAmount":"0.01","amountScale":2,"priceScale":3,"maxLevels":0,"isOpen":true},"mona_hsr":{"minAmount":"0.001","amountScale":3,"priceScale":3,"maxLevels":0,"isOpen":true},"bck_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"btm_eth":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"eth_usdt":{"minAmount":"0.00010","amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"xwc_qc":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"qbt_qc":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"tv_eth":{"minAmount":"0.001","amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":true},"epc_qc":{"minAmount":"0.1","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"qash_qc":{"minAmount":"0.00010","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"ubtc_btc":{"minAmount":"0.00010","amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"cfun_btc":{"minAmount":"0.000010","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"qbt_usdt":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"eos_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"qtum_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":3,"isOpen":true},"ubtc_qc":{"minAmount":"0.001","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"ltc_usdt":{"minAmount":"0.01","amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"bot_qtum":{"minAmount":"0.01","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"tsl_btc":{"minAmount":"0.01","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":false},"sexc_qc":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"mco_eth":{"minAmount":"0.001","amountScale":3,"priceScale":5,"maxLevels":0,"isOpen":true},"bts_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":false},"bts_eth":{"minAmount":"0.001","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"hsr_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":3,"isOpen":true},"eos_qtum":{"minAmount":"0.001","amountScale":3,"priceScale":3,"maxLevels":0,"isOpen":true},"qtum_qc":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"btp_usdt":{"minAmount":"0.00010","amountScale":3,"priceScale":2,"maxLevels":0,"isOpen":true},"hld_usdt":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":false},"cfun_eth":{"minAmount":"0.00010","amountScale":0,"priceScale":6,"maxLevels":0,"isOpen":false},"cfun_qtum":{"minAmount":"0.001","amountScale":0,"priceScale":6,"maxLevels":0,"isOpen":true},"spc_usdt":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":false},"can_qc":{"minAmount":"0.00010","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"tv_qc":{"minAmount":"0.1","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"xwc_btc":{"minAmount":"0.000010","amountScale":0,"priceScale":8,"maxLevels":0,"isOpen":true},"btg_btc":{"minAmount":"0.00010","amountScale":3,"priceScale":5,"maxLevels":5,"isOpen":false},"chat_eth":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"bcd_btc":{"minAmount":"0.00010","amountScale":2,"priceScale":6,"maxLevels":5,"isOpen":true},"btw_btc":{"minAmount":"0.000010","amountScale":2,"priceScale":5,"maxLevels":0,"isOpen":false},"hsr_usdt":{"minAmount":"0.01","amountScale":2,"priceScale":2,"maxLevels":0,"isOpen":true},"ink_qtum":{"minAmount":"0.01","amountScale":2,"priceScale":6,"maxLevels":5,"isOpen":true},"mco_btc":{"minAmount":"0.001","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true},"spc_qtum":{"minAmount":"0.001","amountScale":2,"priceScale":6,"maxLevels":0,"isOpen":true}}'
  recorded_at: Sat, 03 Mar 2018 02:40:17 GMT
recorded_with: VCR 4.0.0
