---
http_interactions:
- request:
    method: get
    uri: https://api.exx.com/data/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      Cndserver:
      - cache_server_1
      X-Via:
      - 1.1 anxun44:1 (Cdn Cache Server V2.0)
    body:
      encoding: UTF-8
      string: '{"etc_usdt":{"vol":"21202.82","last":"31.28","buy":"30.72","sell":"31.49","weekRiseRate":-18.43,"riseRate":-4.77,"high":"32.97","low":"30.57","monthRiseRate":21.01},"sbtc_btc":{"vol":"661.807","last":"0.00241","buy":"0.00153","sell":"0.00263","weekRiseRate":21.72,"riseRate":-13.3,"high":"0.00279","low":"0.00235","monthRiseRate":-50.1},"ubtc_usdt":{"vol":"1461.219","last":"55.20","buy":"55.18","sell":"56.46","weekRiseRate":-31.7,"riseRate":-7.5,"high":"59.76","low":"21.47","monthRiseRate":-59.59},"chat_btc":{"vol":"716947.0","last":"0.00001790","buy":"0.00001745","sell":"0.00001819","weekRiseRate":-13.56,"riseRate":-4.07,"high":"0.00001867","low":"0.00001745","monthRiseRate":-50.06},"xuc_btc":{"vol":"147.15","last":"0.000650000","buy":"0.000001","sell":"0.500000","weekRiseRate":-0.3,"riseRate":-4.41,"high":"0.00078","low":"0.000635","monthRiseRate":0.0},"eos_eth":{"vol":"7315.19","last":"0.00932","buy":"0.00851","sell":"0.00975","weekRiseRate":1.2,"riseRate":-3.81,"high":"0.01003","low":"0.00932","monthRiseRate":1.09},"sexc_eth":{"vol":"5.536722646E7","last":"0.000024000","buy":"0.000023","sell":"0.000024","weekRiseRate":4.35,"riseRate":-4.0,"high":"0.000025","low":"0.000021","monthRiseRate":-4.0},"epc_eth":{"vol":"9329350.25","last":"0.000125000","buy":"0.000115","sell":"0.000125","weekRiseRate":-16.1,"riseRate":-6.01,"high":"0.000133","low":"0.000121","monthRiseRate":-8.75},"bds_btc":{"vol":"3.0","last":"0.000001100","buy":"0.00000110","sell":"0.00000251","weekRiseRate":-67.16,"riseRate":0.0,"high":"0.0000011","low":"0.0000011","monthRiseRate":-75.6},"btm_btc":{"vol":"723233.0","last":"0.00003750","buy":"0.00003096","sell":"0.00004567","weekRiseRate":12.01,"riseRate":12.38,"high":"0.0000384","low":"0.00003192","monthRiseRate":0.25},"etc_eth":{"vol":"3468.82","last":"0.03581","buy":"0.03470","sell":"0.03720","weekRiseRate":-19.51,"riseRate":-4.81,"high":"0.03763","low":"0.03475","monthRiseRate":60.16},"etc_qc":{"vol":"554.72","last":"200.790000000","buy":"198.58","sell":"203.53","weekRiseRate":-19.66,"riseRate":-8.55,"high":"221.77","low":"200.79","monthRiseRate":18.12},"ink_qc":{"vol":"6621.85","last":"1.000000000","buy":"0.95","sell":"1.15","weekRiseRate":-24.81,"riseRate":-9.9,"high":"1.21","low":"0.81","monthRiseRate":-41.17},"gram_qc":{"vol":"1.56848497439E7","last":"0.032600000","buy":"0.0320","sell":"0.0333","weekRiseRate":-19.1,"riseRate":-19.13,"high":"0.0371","low":"0.0313","monthRiseRate":0.0},"etc_hsr":{"vol":"1.576","last":"5.512000000","buy":"3.001","sell":"5.512","weekRiseRate":57.49,"riseRate":57.49,"high":"5.512","low":"3.5","monthRiseRate":186.94},"gram_eth":{"vol":"3.0721967E7","last":"0.000005620","buy":"0.00000543","sell":"0.00000582","weekRiseRate":-16.74,"riseRate":-25.37,"high":"0.00000671","low":"0.00000528","monthRiseRate":0.0},"qtum_hsr":{"vol":"29.88","last":"2.716800000","buy":"2.5006","sell":"3.8490","weekRiseRate":12.89,"riseRate":-14.85,"high":"3.849","low":"2.7168","monthRiseRate":-8.72},"etc_btc":{"vol":"35871.41","last":"0.002776","buy":"0.002744","sell":"0.002780","weekRiseRate":-26.11,"riseRate":-5.67,"high":"0.002977","low":"0.002776","monthRiseRate":0.11},"ink_btc":{"vol":"726491.0","last":"0.00001515","buy":"0.00001478","sell":"0.00001528","weekRiseRate":-21.94,"riseRate":-5.07,"high":"0.0000163","low":"0.00001509","monthRiseRate":-52.41},"tsl_qc":{"vol":"8455.56","last":"0.320000000","buy":"0.25","sell":"0.32","weekRiseRate":-8.57,"riseRate":-8.57,"high":"0.44","low":"0.32","monthRiseRate":-33.33},"eth_hsr":{"vol":"0.003","last":"77.491000000","buy":"77.797","sell":"112.000","weekRiseRate":-33.19,"riseRate":0.0,"high":"77.491","low":"77.491","monthRiseRate":-16.54},"eth_btc":{"vol":"34726.5","last":"0.077009","buy":"0.076815","sell":"0.077965","weekRiseRate":-10.16,"riseRate":-2.46,"high":"0.079574","low":"0.076815","monthRiseRate":-33.87},"mona_qtum":{"vol":"12.897","last":"0.210000000","buy":"0.166","sell":"0.230","weekRiseRate":31.25,"riseRate":0.0,"high":"0.21","low":"0.21","monthRiseRate":59.1},"btc_usdt":{"vol":"160.0539","last":"11188.51","buy":"11134.24","sell":"11342.26","weekRiseRate":10.78,"riseRate":0.3,"high":"11221.2","low":"10789.35","monthRiseRate":21.21},"qtum_eth":{"vol":"4961.393","last":"0.03007","buy":"0.02940","sell":"0.03080","weekRiseRate":1.25,"riseRate":0.0,"high":"0.03106","low":"0.0289","monthRiseRate":-12.28},"spc_qc":{"vol":"225851.44","last":"1.030000000","buy":"1.03","sell":"1.08","weekRiseRate":-11.2,"riseRate":-8.03,"high":"1.17","low":"1.02","monthRiseRate":-50.71},"btp_btc":{"vol":"7211.0","last":"0.001951","buy":"0.001415","sell":"0.002364","weekRiseRate":33.0,"riseRate":-15.35,"high":"0.002398","low":"0.001797","monthRiseRate":-53.94},"etf_qc":{"vol":"16.22","last":"49.900000000","buy":"41.00","sell":"79.98","weekRiseRate":-0.2,"riseRate":0.0,"high":"49.9","low":"49.9","monthRiseRate":-66.73},"etp_qtum":{"vol":"1.967","last":"0.050000000","buy":"0.04807","sell":"0.05993","weekRiseRate":-14.93,"riseRate":0.0,"high":"0.05","low":"0.05","monthRiseRate":-5.66},"hld_hsr":{"vol":"3232807.59","last":"0.003928000","buy":"0.003914","sell":"0.004033","weekRiseRate":23.84,"riseRate":-5.37,"high":"0.00423","low":"0.003749","monthRiseRate":-40.29},"tv_btc":{"vol":"698490.0","last":"0.00001840","buy":"0.00001737","sell":"0.00002652","weekRiseRate":-12.96,"riseRate":-5.0,"high":"0.00002074","low":"0.00001743","monthRiseRate":-48.68},"ltc_qc":{"vol":"3.636","last":"1389.240000000","buy":"1375.11","sell":"1389.24","weekRiseRate":4.34,"riseRate":0.45,"high":"1389.24","low":"1360.33","monthRiseRate":43.36},"lch_usdt":{"vol":"13.16","last":"2.600000000","buy":"2.60","sell":"5.39","weekRiseRate":-3.7,"riseRate":-3.7,"high":"2.7","low":"2.6","monthRiseRate":-39.25},"eth_qc":{"vol":"169.079","last":"5635.000000000","buy":"5569.09","sell":"5635.00","weekRiseRate":2.36,"riseRate":-1.32,"high":"5750.0","low":"5419.26","monthRiseRate":-19.83},"bds_qc":{"vol":"184734.54","last":"0.160000000","buy":"0.15","sell":"0.16","weekRiseRate":-11.11,"riseRate":-5.88,"high":"0.17","low":"0.15","monthRiseRate":-40.74},"vlc_qc":{"vol":"6012133.43","last":"0.580000000","buy":"0.54","sell":"0.57","weekRiseRate":23.41,"riseRate":0.0,"high":"0.65","low":"0.52","monthRiseRate":-7.93},"qbt_qtum":{"vol":"268609.25","last":"0.017660000","buy":"0.01700","sell":"0.01898","weekRiseRate":-13.43,"riseRate":-2.18,"high":"0.01898","low":"0.01672","monthRiseRate":-43.41},"hpy_hsr":{"vol":"4.158364705E7","last":"0.004968000","buy":"0.004896","sell":"0.004934","weekRiseRate":14.77,"riseRate":-0.85,"high":"0.005024","low":"0.004896","monthRiseRate":-0.36},"qash_eth":{"vol":"7561.45","last":"0.00090","buy":"0.00069","sell":"0.00103","weekRiseRate":-10.0,"riseRate":26.77,"high":"0.00092","low":"0.00065","monthRiseRate":-3.22},"gram_btc":{"vol":"1.1518446E7","last":"4.70E-7","buy":"0.00000046","sell":"0.00000047","weekRiseRate":-22.95,"riseRate":-11.32,"high":"0.00000054","low":"0.00000046","monthRiseRate":0.0},"qbt_eth":{"vol":"212495.02","last":"0.000528","buy":"0.000506","sell":"0.000540","weekRiseRate":-24.46,"riseRate":-1.85,"high":"0.00054","low":"0.000506","monthRiseRate":-48.98},"hsr_qc":{"vol":"765.67","last":"61.500000000","buy":"61.43","sell":"62.50","weekRiseRate":-3.4,"riseRate":-1.31,"high":"63.21","low":"60.9","monthRiseRate":-22.8},"spc_eth":{"vol":"0.0","last":"0","buy":"0.0000090","sell":"1.0","weekRiseRate":0.0,"riseRate":0.0,"high":"0.0","low":"0.0","monthRiseRate":0.0},"ltc_btc":{"vol":"35927.61","last":"0.019330","buy":"0.018879","sell":"0.019400","weekRiseRate":-6.62,"riseRate":1.6,"high":"0.019411","low":"0.0187","monthRiseRate":21.39},"can_eth":{"vol":"242433.38","last":"0.000035000","buy":"0.000037","sell":"0.000044","weekRiseRate":-16.66,"riseRate":-14.63,"high":"0.000049","low":"0.000035","monthRiseRate":-2.77},"tsl_qtum":{"vol":"9324849.51","last":"0.001800000","buy":"0.0018","sell":"0.0019","weekRiseRate":-18.18,"riseRate":-50.0,"high":"0.002","low":"0.0017","monthRiseRate":-18.18},"vlc_eth":{"vol":"9039083.22","last":"0.000101000","buy":"0.000096","sell":"0.000101","weekRiseRate":13.49,"riseRate":1.0,"high":"0.000103","low":"0.000083","monthRiseRate":3.07},"deth_dhsr":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"spc_btc":{"vol":"628271.0","last":"0.000013450","buy":"0.00001348","sell":"0.00001568","weekRiseRate":-32.27,"riseRate":-10.92,"high":"0.0000163","low":"0.00001316","monthRiseRate":-58.19},"btc_qc":{"vol":"4.1955","last":"72451.980000000","buy":"72466.47","sell":"73616.86","weekRiseRate":12.27,"riseRate":1.5,"high":"72451.98","low":"69300.18","monthRiseRate":20.39},"bck_usdt":{"vol":"81159.1854","last":"0.550000000","buy":"0.54","sell":"0.56","weekRiseRate":150.0,"riseRate":14.59,"high":"0.58","low":"0.48","monthRiseRate":-98.73},"qtum_usdt":{"vol":"14767.64","last":"25.74","buy":"25.74","sell":"25.78","weekRiseRate":0.08,"riseRate":-1.22,"high":"26.12","low":"25.42","monthRiseRate":-29.09},"bcc_btc":{"vol":"6882.34","last":"0.117091","buy":"0.117000","sell":"0.146510","weekRiseRate":-4.44,"riseRate":-0.6,"high":"0.118","low":"0.1168","monthRiseRate":-18.42},"etf_btc":{"vol":"7129.46","last":"0.000801","buy":"0.000799","sell":"0.000822","weekRiseRate":-2.07,"riseRate":-0.62,"high":"0.000822","low":"0.000799","monthRiseRate":-60.18},"xwc_usdt":{"vol":"2750.42","last":"0.140000000","buy":"0.11","sell":"0.14","weekRiseRate":0.0,"riseRate":7.7,"high":"0.15","low":"0.11","monthRiseRate":0.0},"dhsr_dusd":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"lbtc_btc":{"vol":"6909.05","last":"0.014508","buy":"0.014324","sell":"0.019638","weekRiseRate":-12.66,"riseRate":-10.58,"high":"0.019638","low":"0.014323","monthRiseRate":-70.61},"xwc_eth":{"vol":"15260.8","last":"0.000150000","buy":"0.00015","sell":"0.00016","weekRiseRate":-6.25,"riseRate":0.0,"high":"0.00016","low":"0.00014","monthRiseRate":15.39},"epc_btc":{"vol":"6442088.0","last":"0.000009780","buy":"0.00000973","sell":"0.00000978","weekRiseRate":-22.56,"riseRate":-13.37,"high":"0.00001129","low":"0.00000978","monthRiseRate":-36.86},"xuc_eth":{"vol":"46.644","last":"0.007730000","buy":"0.00001","sell":"100.00000","weekRiseRate":0.26,"riseRate":-1.9,"high":"0.00795","low":"0.0074","monthRiseRate":0.0},"ink_usdt":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"xuc_usdt":{"vol":"37.1554","last":"6.650000000","buy":"6.63","sell":"6.65","weekRiseRate":2.47,"riseRate":-2.63,"high":"6.83","low":"6.58","monthRiseRate":0.0},"tv_qtum":{"vol":"74.75","last":"0.008000000","buy":"0.006","sell":"0.008","weekRiseRate":0.0,"riseRate":0.0,"high":"0.008","low":"0.008","monthRiseRate":-20.0},"mona_hsr":{"vol":"707.723","last":"0.386000000","buy":"0.386","sell":"0.579","weekRiseRate":3.77,"riseRate":7.83,"high":"0.399","low":"0.338","monthRiseRate":13.53},"bck_btc":{"vol":"68359.62","last":"0.000050000","buy":"0.000049","sell":"0.000050","weekRiseRate":127.28,"riseRate":16.28,"high":"0.000052","low":"0.000043","monthRiseRate":-98.85},"btm_eth":{"vol":"21987.6","last":"0.000459","buy":"0.000385","sell":"0.000460","weekRiseRate":13.34,"riseRate":20.48,"high":"0.00046","low":"0.00038","monthRiseRate":36.21},"eth_usdt":{"vol":"1401.944","last":"860.86","buy":"858.41","sell":"868.19","weekRiseRate":1.39,"riseRate":-1.71,"high":"878.66","low":"857.08","monthRiseRate":-20.04},"xwc_qc":{"vol":"4538774.58","last":"0.860000000","buy":"0.85","sell":"0.86","weekRiseRate":0.0,"riseRate":2.39,"high":"0.89","low":"0.82","monthRiseRate":-6.52},"qbt_qc":{"vol":"420898.89","last":"2.990000000","buy":"2.50","sell":"3.50","weekRiseRate":-19.62,"riseRate":1.71,"high":"3.13","low":"2.33","monthRiseRate":-58.18},"tv_eth":{"vol":"6983.28","last":"0.00024","buy":"0.00023","sell":"0.00030","weekRiseRate":4.35,"riseRate":4.35,"high":"0.00024","low":"0.00023","monthRiseRate":-25.0},"epc_qc":{"vol":"2.153092219E7","last":"0.760000000","buy":"0.70","sell":"0.76","weekRiseRate":-7.31,"riseRate":2.71,"high":"0.8","low":"0.7","monthRiseRate":-20.0},"qash_qc":{"vol":"2756.25","last":"3.130000000","buy":"3.13","sell":"6.33","weekRiseRate":-55.72,"riseRate":-2.49,"high":"3.21","low":"3.13","monthRiseRate":-55.34},"ubtc_btc":{"vol":"3962.104","last":"0.00495","buy":"0.00494","sell":"0.00503","weekRiseRate":-35.96,"riseRate":-8.67,"high":"0.00543","low":"0.00494","monthRiseRate":-66.5},"qbt_usdt":{"vol":"3.62","last":"0.420000000","buy":"0.42","sell":"0.65","weekRiseRate":-52.27,"riseRate":-35.38,"high":"0.65","low":"0.41","monthRiseRate":-58.0},"cfun_btc":{"vol":"868586.0","last":"0.00000191","buy":"0.00000171","sell":"0.00000193","weekRiseRate":-16.22,"riseRate":23.23,"high":"0.00000222","low":"0.000000030","monthRiseRate":-50.13},"eos_btc":{"vol":"7735.87","last":"0.000729","buy":"0.000717","sell":"0.000748","weekRiseRate":-9.1,"riseRate":-4.33,"high":"0.000815","low":"0.000722","monthRiseRate":-33.9},"dqtum_dusd":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"qtum_btc":{"vol":"37709.23","last":"0.002327","buy":"0.002307","sell":"0.002349","weekRiseRate":-9.17,"riseRate":-0.72,"high":"0.002391","low":"0.002285","monthRiseRate":-40.05},"ubtc_qc":{"vol":"844.02","last":"358.880000000","buy":"358.31","sell":"359.91","weekRiseRate":-30.23,"riseRate":-7.38,"high":"388.18","low":"357.29","monthRiseRate":-59.7},"ltc_usdt":{"vol":"1555.825","last":"214.58","buy":"212.64","sell":"214.59","weekRiseRate":3.47,"riseRate":1.05,"high":"214.59","low":"204.01","monthRiseRate":45.53},"tsl_btc":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"bot_qtum":{"vol":"939752.52","last":"0.018005000","buy":"0.018015","sell":"0.019395","weekRiseRate":-7.04,"riseRate":-2.7,"high":"0.019649","low":"0.017522","monthRiseRate":-14.5},"sexc_qc":{"vol":"2.276867206E7","last":"0.140000000","buy":"0.13","sell":"0.15","weekRiseRate":7.7,"riseRate":0.0,"high":"0.14","low":"0.13","monthRiseRate":-33.33},"mco_eth":{"vol":"713.432","last":"0.00810","buy":"0.00515","sell":"0.01215","weekRiseRate":-3.91,"riseRate":-1.93,"high":"0.0097","low":"0.0078","monthRiseRate":-16.32},"dhsr_dbtc":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"bts_btc":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"bts_eth":{"vol":"7345.28","last":"0.000277","buy":"0.000277","sell":"0.000281","weekRiseRate":9.06,"riseRate":1.84,"high":"0.000278","low":"0.000272","monthRiseRate":-26.13},"hsr_btc":{"vol":"14173.21","last":"0.000856","buy":"0.000845","sell":"0.000861","weekRiseRate":-11.01,"riseRate":0.36,"high":"0.000899","low":"0.00084","monthRiseRate":-34.65},"eos_qtum":{"vol":"1684.699","last":"0.311000000","buy":"0.311","sell":"0.332","weekRiseRate":0.0,"riseRate":-6.88,"high":"0.334","low":"0.311","monthRiseRate":7.99},"btp_usdt":{"vol":"737.039","last":"17.20","buy":"15.30","sell":"20.00","weekRiseRate":-15.93,"riseRate":-15.68,"high":"25.24","low":"15.3","monthRiseRate":-55.16},"qtum_qc":{"vol":"426.93","last":"166.910000000","buy":"166.91","sell":"170.12","weekRiseRate":2.05,"riseRate":-3.19,"high":"172.43","low":"161.79","monthRiseRate":-29.01},"hld_usdt":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"cfun_eth":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"cfun_qtum":{"vol":"665489.0","last":"0.000708000","buy":"0.000708","sell":"0.000865","weekRiseRate":-21.59,"riseRate":-100.0,"high":"0.000884","low":"0.000708","monthRiseRate":-39.74},"spc_usdt":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"can_qc":{"vol":"3282467.74","last":"0.230000000","buy":"0.22","sell":"0.23","weekRiseRate":0.0,"riseRate":0.0,"high":"0.3","low":"0.21","monthRiseRate":-11.53},"tv_qc":{"vol":"229.98","last":"1.210000000","buy":"1.21","sell":"1.40","weekRiseRate":0.0,"riseRate":0.0,"high":"1.25","low":"1.21","monthRiseRate":-52.36},"xwc_btc":{"vol":"22342.0","last":"0.000012000","buy":"0.00001159","sell":"0.00001212","weekRiseRate":-10.04,"riseRate":-1.15,"high":"0.0000126","low":"0.00001158","monthRiseRate":-20.84},"btg_btc":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"chat_eth":{"vol":"19464.45","last":"0.000225","buy":"0.000220","sell":"0.000227","weekRiseRate":-8.16,"riseRate":-2.59,"high":"0.000232","low":"0.00022","monthRiseRate":-25.74},"bcd_btc":{"vol":"259.52","last":"0.000998000","buy":"0.000998","sell":"0.001100","weekRiseRate":24.75,"riseRate":24.75,"high":"0.001009","low":"0.00080","monthRiseRate":-0.49},"btw_btc":{"vol":0.0,"last":0,"sell":0.0,"buy":0.0,"weekRiseRate":0.0,"riseRate":0.0,"high":0.0,"low":0,"monthRiseRate":0.0},"hsr_usdt":{"vol":"17340.3","last":"9.50","buy":"9.46","sell":"9.60","weekRiseRate":-4.71,"riseRate":0.22,"high":"9.76","low":"9.4","monthRiseRate":-22.32},"ink_qtum":{"vol":"3.134835935E7","last":"0.006799000","buy":"0.006321","sell":"0.006800","weekRiseRate":-6.22,"riseRate":-14.13,"high":"0.00699","low":"0.00632","monthRiseRate":-14.37},"mco_btc":{"vol":"7412.38","last":"0.000701","buy":"0.000611","sell":"0.000990","weekRiseRate":-0.14,"riseRate":0.0,"high":"0.000702","low":"0.000701","monthRiseRate":-34.85},"spc_qtum":{"vol":"563374.53","last":"0.006450000","buy":"0.006260","sell":"0.006400","weekRiseRate":-14.02,"riseRate":-7.7,"high":"0.0068","low":"0.006227","monthRiseRate":-24.64}}'
  recorded_at: Sat, 03 Mar 2018 02:40:22 GMT
recorded_with: VCR 4.0.0
