---
http_interactions:
- request:
    method: get
    uri: https://coinsbank.com/sapi/head
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"balance":null,"baseBalance":null,"baseCurrency":null,"currencies":["BTC","LTC","EUR","USD","GBP","JPY","AUD","CHF","RUB","XRP","ETH"],"languages":[{"id":"1","name":"English","code":"en"}],"notifications":null,"operations":null,"orders":null,"pairs":[{"pair_code":"BTCUSD","base_code":"BTC","quote_code":"USD","lot":"0.00010000","rate":"0.01000000"},{"pair_code":"BTCGBP","base_code":"BTC","quote_code":"GBP","lot":"0.00010000","rate":"0.01000000"},{"pair_code":"BTCEUR","base_code":"BTC","quote_code":"EUR","lot":"0.00010000","rate":"0.01000000"},{"pair_code":"LTCEUR","base_code":"LTC","quote_code":"EUR","lot":"0.00100000","rate":"0.00001000"},{"pair_code":"LTCUSD","base_code":"LTC","quote_code":"USD","lot":"0.00100000","rate":"0.00001000"},{"pair_code":"LTCBTC","base_code":"LTC","quote_code":"BTC","lot":"0.00100000","rate":"0.00[...]
