---
http_interactions:
- request:
    method: get
    uri: https://golix.com/api/v1/tickers/btcusd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"0a769779be92050a597bee6758625e22"
    body:
      encoding: ASCII-8BIT
      string: '{"at":1536608412,"ticker":{"buy":"13500.0","sell":"30000.0","low":"0.0","high":"0.0","last":"30000.0","vol":"0.0"}}'
  recorded_at: Mon, 10 Sep 2018 19:40:19 GMT
recorded_with: VCR 4.0.0
