---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"ask":0.562,"baseCurrency":null,"bid":0.5618,"change1h":-0.001957992168031328,"change24h":-0.043965824136703455,"enabled":true,"last":0.5618,"name":"ALGO-PERP","priceIncrement":0.0001,"quoteCurrency":null,"quoteVolume24h":989232.9382,"sizeIncrement":1.0,"type":"future","underlying":"ALGO","volumeUsd24h":989232.9382},{"ask":0.5626,"baseCurrency":null,"bid":0.5624,"change1h":-0.001600284495021337,"change24h":-0.044274537695590324,"enabled":true,"last":0.5577,"name":"ALGO-0927","priceIncrement":0.0001,"quoteCurrency":null,"quoteVolume24h":49567.3586,"sizeIncrement":1.0,"type":"future","underlying":"ALGO","volumeUsd24h":49567.3586},{"ask":703.8,"baseCurrency":null,"bid":703.6,"change1h":-0.004404660414890594,"change24h":-0.0029838022165387893,"enabled":true,"last":708.3,"name":"ALT-PERP","priceIncr[...]
