---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets/FTT/USD/orderbook?depth=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"asks":[[1.58,5493.0],[1.59,1.0],[1.62,2720.0],[1.63,8000.0],[1.64,8000.0],[1.65,8000.0],[1.66,8000.0],[1.67,8000.0],[1.68,8000.0],[1.69,8000.0],[1.7,8000.0],[1.71,8000.0],[1.72,8000.0],[1.73,8010.0],[1.74,8000.0],[1.75,8000.0],[1.76,8000.0],[1.77,8000.0],[1.78,8000.0],[1.79,9214.0],[1.8,10920.0],[1.81,8000.0],[1.82,8000.0],[1.83,8000.0],[1.84,8000.0],[1.85,8324.0],[1.86,8000.0],[1.87,8000.0],[1.88,8000.0],[1.89,8000.0],[1.9,9102.0],[1.91,8000.0],[1.92,8000.0],[1.93,8000.0],[1.94,8000.0],[1.95,8000.0],[1.96,8000.0],[1.97,8000.0],[1.98,8000.0],[1.99,8758.0],[2.0,8675.0],[2.58,531.0],[2.88,200.0],[2.99,1197.0]],"bids":[[1.57,2085.0],[1.56,10.0],[1.55,70244.0],[1.5,3568.0],[1.49,236.0],[1.44,2622.0],[1.41,10.0],[1.4,1472.0],[1.35,3067.0],[1.32,2734.0],[1.31,1006.0],[1.3,4847.0],[1.28,2032.0],[1.27,17540.0],[1.25,19.0],[1.24,2862.0],[1.22,4405.0],[1.2,9534.0],[1.17,314.0],[1.16,2165.0],[1.15,5000.0],[1.1,1048.0],[1.08,1035.0],[1.06,183.0],[1.05,2311.0],[1.04,885.0],[1.03,1759.0],[1.02,10001.0],[1.01,12590.0],[1.0,173.0],[0.99,20000.0],[0.98,20000.0],[0.97,20000.0],[0.96,20151.0],[0.95,20200.0],[0.94,20000.0],[0.93,20000.0],[0.92,20000.0],[0.91,20000.0],[0.9,20000.0],[0.89,20000.0],[0.88,20000.0],[0.87,20000.0],[0.86,20000.0],[0.85,20000.0],[0.84,20000.0],[0.83,20000.0],[0.82,20000.0],[0.81,20000.0],[0.8,21673.0],[0.79,127.0],[0.52,100000.0],[0.5,1000.0],[0.48,3709.0],[0.4,2605.0],[0.37,90000.0],[0.15,222018.0]]},"success":true}

'
  recorded_at: Mon, 29 Jul 2019 15:07:30 GMT
recorded_with: VCR 4.0.0
