---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets/FTT/USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"ask":1.58,"baseCurrency":"FTT","bid":1.57,"change1h":0.21019108280254778,"change24h":0.35668789808917195,"enabled":true,"last":1.57,"name":"FTT/USD","priceIncrement":0.01,"quoteCurrency":"USD","quoteVolume24h":667281.71,"sizeIncrement":1.0,"type":"spot","underlying":null,"volumeUsd24h":667281.71},"success":true}

'
  recorded_at: Mon, 29 Jul 2019 15:07:30 GMT
recorded_with: VCR 4.0.0
