---
http_interactions:
- request:
    method: get
    uri: https://api.deversifi.com/v1/trading/r/last24HoursVolume
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"totalUSDVolume":140313.14677434333,"tokens":{"ETH":{"tokenAmount":561.7539645297319,"USDVolume":136921.24821328945},"DAI":{"tokenAmount":8243.01045006,"USDVolume":8294.425326783301},"DUSK":{"tokenAmount":0,"USDVolume":0},"MKR":{"tokenAmount":0.175,"USDVolume":98.175},"BTC":{"tokenAmount":0.00372748,"USDVolume":36.809237748},"ZRX":{"tokenAmount":71.73972307,"USDVolume":22.8659329396262},"NEC":{"tokenAmount":31586.41830275,"USDVolume":3234.0483903662507},"USDT":{"tokenAmount":132018.72144756003,"USDVolume":132018.72144756003},"OMG":{"tokenAmount":0,"USDVolume":0},"USDC":{"tokenAmount":0,"USDVolume":0},"FUN":{"tokenAmount":0,"USDVolume":0},"PNK":{"tokenAmount":0,"USDVolume":0}},"symbols":{"ETH:USDT":{"tokenAmount":528.35111721,"USDVolume":128626.82288650614,"lastUSDPrice":243.12,"lastTrade":"2020-06-09T08:50:37.783Z"},"MKR:ETH":{"tokenAmount":0,"USDVolume":0},"MKR:USDT":{"tokenAmount":0.175,"USDVolume":98.175,"lastUSDPrice":561,"lastTrade":"2020-06-09T07:02:24.661Z"},"MKR:DAI":{"tokenAmount":0,"USDVolume":0},"PNK:ETH":{"tokenAmount":0,"USDVolume":0},"PNK:USDT":{"tokenAmount":0,"USDVolume":0},"DAI:ETH":{"tokenAmount":8243.01045006,"USDVolume":8294.425326783301,"lastUSDPrice":0.994224862,"lastTrade":"2020-06-09T08:53:32.616Z"},"DAI:USDT":{"tokenAmount":0,"USDVolume":0},"NEC:ETH":{"tokenAmount":0,"USDVolume":0},"NEC:USDT":{"tokenAmount":31586.41830275,"USDVolume":3234.0483903662507,"lastUSDPrice":0.10611,"lastTrade":"2020-06-09T06:20:15.721Z"},"BTC:USDT":{"tokenAmount":0.00372748,"USDVolume":36.809237748,"lastUSDPrice":9875.1,"lastTrade":"2020-06-09T00:16:18.190Z"},"ZRX:ETH":{"tokenAmount":0,"USDVolume":0},"ZRX:USDT":{"tokenAmount":71.73972307,"USDVolume":22.8659329396262,"lastUSDPrice":0.3172,"lastTrade":"2020-06-08T21:00:22.329Z"},"DUSK:USDT":{"tokenAmount":0,"USDVolume":0}},"startDate":"2020-06-08T09:18:27.118Z"}'
  recorded_at: Tue, 09 Jun 2020 09:18:44 GMT
- request:
    method: get
    uri: https://api.deversifi.com/bfx/v2/tickers?symbols=tETHUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Uwebsockets:
      - v0.17
    body:
      encoding: UTF-8
      string: '[["tETHUSD",243.73,597.17391604,243.76,1508.64367834,-0.45,-0.0018,243.7,51772.88926162,249.97,238.18]]'
  recorded_at: Tue, 09 Jun 2020 09:18:44 GMT
recorded_with: VCR 4.0.0
