---
http_interactions:
- request:
    method: get
    uri: https://kkex.com/api/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"products": [{"status": "OPEN", "min_bid_amount": "0.01", "code":
        300005, "base_asset": "BTC", "fee_policy": {"ask_fee_rate": "0.002", "bid_fee_rate":
        "0.002", "fee_type": "bid"}, "symbol": "ETHBTC", "price_scale": 100000, "min_bid_size":
        "0.001", "max_bid_amount": "1000", "mark_asset": "ETH", "merge": ["0.00001",
        "0.0001", "0.001"], "min_ask_size": "0.001", "min_price": "0.001", "agreements":
        [], "max_ask_size": "100", "max_price": "1000", "max_bid_size": "100"}, {"status":
        "OPEN", "min_bid_amount": "0.01", "code": 300001, "base_asset": "BTC", "fee_policy":
        {"ask_fee_rate": "0.002", "bid_fee_rate": "0.002", "fee_type": "bid"}, "symbol":
        "BCHBTC", "price_scale": 100000, "min_bid_size": "0.01", "max_bid_amount":
        "1000", "mark_asset": "BCH", "merge": ["0.00001", "0.0001", "0.001"], "min_ask_size":
        "0.01", "min_price": "0.001", "agreements": [], "max_ask_size": "1000", "max_price":
        "1000", "max_bid_siz[...]
