---
http_interactions:
- request:
    method: get
    uri: https://kkex.com/api/v1/trades?symbol=ETHBTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "0.03093000", "date_ms": "1512621311420", "tid": "112365",
        "amount": "4.426693048", "date": "1512621311", "type": "sell"}, {"price":
        "0.03108000", "date_ms": "1512620453660", "tid": "112299", "amount": "0.958246975",
        "date": "1512620454", "type": "sell"}, {"price": "0.03136000", "date_ms":
        "1512614986330", "tid": "111576", "amount": "5.705955839", "date": "1512614986",
        "type": "sell"}, {"price": "0.03051000", "date_ms": "1512612709560", "tid":
        "110976", "amount": "3.013960000", "date": "1512612710", "type": "sell"},
        {"price": "0.03010000", "date_ms": "1512611[...]
