---
http_interactions:
- request:
    method: get
    uri: https://kkex.com/api/v1/ticker?symbol=ETHBTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"date": 1512624312, "ticker": {"sell": "0.02975", "buy": "0.03042",
        "last": "0.03093", "vol": "19.184550039", "high": "0.03595", "low": "0.0301",
        "open": "0.03595"}, "result": true}'
  recorded_at: Thu, 07 Dec 2017 05:25:12 GMT
recorded_with: VCR 3.0.3
