---
http_interactions:
- request:
    method: get
    uri: https://huulk.com/api/public/market/cpc-btc/ticker/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"price":{"last":"0.00008514","low":"0.00007983","high":"0.00010838","change":"0.00002855","best_bid":"0.00009001","best_ask":"0.00010838"},"volume":{"24h":"1466.11679","30d":"50206.07345326","3m":"79294.51171105","6m":"79294.51171105","1y":"79294.51171105"}}'
  recorded_at: Sun, 11 Nov 2018 09:49:20 GMT
recorded_with: VCR 4.0.0
