---
http_interactions:
- request:
    method: get
    uri: https://www.bishang.pro:91/api/v1/allticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"date":"1536020565","ticker":[{"symbol":"eth_btc","buy":0.0397850000,"high":0.0400010000,"last":0.0397930000,"low":0.0396580000,"sell":0.0398000000,"change":"0.0015","vol":"441.1884405900"},{"symbol":"btc_usdt","buy":7276.2900000000,"high":7334.5000000000,"last":7276.2900000000,"low":7270.5500000000,"sell":7316.5900000000,"change":"-0.0020","vol":"497.6109950200"},{"symbol":"eth_usdt","buy":290.4500000000,"high":293.1100000000,"last":290.4500000000,"low":288.6700000000,"sell":296.7700000000,"change":"0.0016","vol":"404.4557767500"},{"symbol":"emc_usdt","buy":0.0041547900,"high":0.0042460200,"last":0.0042347300,"low":0.0038616700,"sell":0.0042360000,"change":"0.0258","vol":"1556681.2388233800"},{"symbol":"bec_eth","buy":0.0057310900,"high":0.0059226000,"last":0.0057704600,"low":0.0056641500,"sell":0.0057741300,"change":"0.0098","vol":"1198.8527986000"},{"symbol":"bub_eth","buy":0.0000000000,"high":0.0000000000,"last":0.0000000000,"low":0.0000000000,"sell":0.0000000000,"change":"-1.0000","vol":"0.0000000000"}]}'
  recorded_at: Tue, 04 Sep 2018 00:22:49 GMT
recorded_with: VCR 4.0.0
