---
http_interactions:
- request:
    method: get
    uri: https://trade.cryptlocex.com/Api/Index/marketInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"data":{"market":[{"id":"24","ticker":"tico_eth","fee_buy":"0.1","fee_sell":"0.1","name":"TicoEX(TICO\/ETH)","icon":"http:\/\/trade.cryptlocex.com\/Upload\/coin\/5ddd9625d8209.jpg","new_price":1.11e-6,"buy_price":1.1e-6,"sell_price":1.11e-6,"min_price":1.11e-6,"max_price":1.11e-6,"change":-92.34,"volume":569.57218862},{"id":"53","ticker":"clo_eth","fee_buy":"0","fee_sell":"0","name":"Cryptlo(CLO\/ETH)","icon":"http:\/\/trade.cryptlocex.com\/Upload\/coin\/5ddd960806ffb.png","new_price":3.95e-6,"buy_price":0,"sell_price":3.95e-6,"min_price":3.95e-6,"max_price":3.95e-6,"change":0,"volume":50892.96202532},{"id":"30","ticker":"baz_eth","fee_buy":"0.1","fee_sell":"0.1","name":"Bazooka(BAZ\/ETH)","icon":"http:\/\/trade.cryptlocex.com\/Upload\/coin\/5dddf94db17c0.png","new_price":0.0004,"buy_price":0.00[...]
