---
http_interactions:
- request:
    method: get
    uri: https://trade.cryptlocex.com/Api/Exchange/activeorders/market/ltc_usdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"data":{"depth":{"buy":[{"price":"34.95000000","nums":"10.72616000"},{"price":"34.94250000","nums":"366.94332000"},{"price":"34.93500000","nums":"324.86799000"},{"price":"34.92750000","nums":"557.52559000"},{"price":"34.92000000","nums":"920.20976000"}],"sell":[{"price":"58.46250000","nums":"318.64398000"},{"price":"58.47500000","nums":"63.55734000"},{"price":"58.48750000","nums":"2165.98475000"},{"price":"58.50000000","nums":"199.67416000"},{"price":"58.51250000","nums":"45.39036000"}]}}}'
  recorded_at: Sun, 07 Jun 2020 09:14:14 GMT
recorded_with: VCR 4.0.0
