---
http_interactions:
- request:
    method: get
    uri: https://localtrade.cc/main/ticker/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"MNC_BTC":{"highPrice":"0.00008000","id":"37","quoteVolume":"25.23482255","baseVolume":"10801768.49100000","lowPrice":"0.00000231","lastPrice":"0.00000233"},"EDR_BTC":{"highPrice":"0.00000220","id":"3","quoteVolume":"33.40974999","baseVolume":"16566234.12000000","lowPrice":"0.00000022","lastPrice":"0.00000204"},"BTC_IDR":{"highPrice":"0.00029636","id":"31","quoteVolume":"0.00000057","baseVolume":"0.00192100","lowPrice":"0.00029636","lastPrice":"0.00029636"},"ECHT_BTC":{"highPrice":"0.00000113","id":"33","quoteVolume":"20.08339500","baseVolume":"18653910.00000000","lowPrice":"0.00000106","lastPrice":"0.00000108"},"TCAT_ETH":{"highPrice":"0.00000000","id":"46","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"EDR_LTC":{"highPrice":"0.00022924","id":"4","quoteVolume":"477.41537292","baseVolume":"2113299.00000000","lowPrice":"0.00021750","lastPrice":"0.00022648"},"ECHT_USD":{"highPrice":"0.00413439","id":"32","quoteVolume":"90953.43872009","baseVolume":"24326536.00000000","lowPrice":"0.00366095","lastPrice":"0.00370274"},"MNC_ETH":{"highPrice":"0.00280000","id":"38","quoteVolume":"60.76426274","baseVolume":"781513.55550000","lowPrice":"0.00007492","lastPrice":"0.00007605"},"EDR_ETH":{"highPrice":"0.00006701","id":"7","quoteVolume":"45.41922977","baseVolume":"687747.00000000","lowPrice":"0.00006254","lastPrice":"0.00006656"},"TCAT_BTC":{"highPrice":"0.00000000","id":"45","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"TCAT_USD":{"highPrice":"0.00000000","id":"44","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"ZEC_USD":{"highPrice":"50.35200000","id":"24","quoteVolume":"867009.71331224","baseVolume":"17605.67370000","lowPrice":"48.00400000","lastPrice":"48.63500000"},"BTC_USD":{"highPrice":"3550.00000000","id":"8","quoteVolume":"19330734.73190559","baseVolume":"5547.81063700","lowPrice":"3424.00000000","lastPrice":"3458.00000000"},"ECHT_IDR":{"highPrice":"0.00000000","id":"35","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"EDR_DASH":{"highPrice":"0.00010424","id":"6","quoteVolume":"1193.25260140","baseVolume":"11563770.00000000","lowPrice":"0.00010218","lastPrice":"0.00010333"},"MNC_USD":{"highPrice":"0.23000000","id":"36","quoteVolume":"10619.37382918","baseVolume":"1307659.14240000","lowPrice":"0.00793724","lastPrice":"0.00801395"},"LTC_BTC":{"highPrice":"0.00906990","id":"18","quoteVolume":"26.23919253","baseVolume":"2936.74130000","lowPrice":"0.00880410","lastPrice":"0.00902690"},"TCAT_IDR":{"highPrice":"0.00000000","id":"47","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"ZEC_BTC":{"highPrice":"0.01461000","id":"23","quoteVolume":"1467.36885905","baseVolume":"103728.65390000","lowPrice":"0.01397200","lastPrice":"0.01405000"},"ETH_USD":{"highPrice":"108.29000000","id":"11","quoteVolume":"20892116.95245727","baseVolume":"196952.16520000","lowPrice":"103.29000000","lastPrice":"106.15000000"},"ETH_BTC":{"highPrice":"0.03086800","id":"20","quoteVolume":"381.66584500","baseVolume":"12532.42040000","lowPrice":"0.02983100","lastPrice":"0.03073400"},"MNC_IDR":{"highPrice":"0.00000000","id":"39","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"EDR_IDR":{"highPrice":"100.00000000","id":"30","quoteVolume":"1299201.83480000","baseVolume":"13063.71260000","lowPrice":"98.00000000","lastPrice":"98.00000000"},"LTC_USD":{"highPrice":"31.70100000","id":"9","quoteVolume":"12322665.04857630","baseVolume":"395840.23580000","lowPrice":"30.50600000","lastPrice":"31.17300000"},"ETH_LTC":{"highPrice":"3.45791215","id":"22","quoteVolume":"182481.46822419","baseVolume":"53491.82780000","lowPrice":"3.36901106","lastPrice":"3.40191652"},"DASH_USD":{"highPrice":"69.38200000","id":"10","quoteVolume":"4608835.30769471","baseVolume":"68186.55410000","lowPrice":"66.13700000","lastPrice":"67.98100000"},"EDR_USD":{"highPrice":"0.00740000","id":"2","quoteVolume":"25891.38738383","baseVolume":"3706583.99993105","lowPrice":"0.00689821","lastPrice":"0.00701355"},"ECHT_ETH":{"highPrice":"0.00003731","id":"34","quoteVolume":"504.41483750","baseVolume":"14237840.00000000","lowPrice":"0.00003475","lastPrice":"0.00003514"}}'
  recorded_at: Tue, 29 Jan 2019 09:58:45 GMT
recorded_with: VCR 4.0.0
