---
http_interactions:
- request:
    method: get
    uri: https://localtrade.cc/main/ticker/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"MNC_BTC":{"highPrice":"0.00008000","id":"37","quoteVolume":"10772458.49100000","baseVolume":"25.17168125","lowPrice":"0.00000231","lastPrice":"0.00000233"},"EDR_BTC":{"highPrice":"0.00000220","id":"3","quoteVolume":"16545611.19700000","baseVolume":"33.27338840","lowPrice":"0.00000022","lastPrice":"0.00000203"},"BTC_IDR":{"highPrice":"0.00029636","id":"31","quoteVolume":"0.00192100","baseVolume":"0.00000057","lowPrice":"0.00029636","lastPrice":"0.00029636"},"ECHT_BTC":{"highPrice":"0.00000120","id":"33","quoteVolume":"18190890.00000000","baseVolume":"19.65018960","lowPrice":"0.00000106","lastPrice":"0.00000107"},"TCAT_ETH":{"highPrice":"0.00000000","id":"46","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"EDR_LTC":{"highPrice":"0.00022860","id":"4","quoteVolume":"2099980.00000000","baseVolume":"473.05396627","lowPrice":"0.00022189","lastPrice":"0.00022814"},"ECHT_USD":{"highPrice":"0.00418715","id":"32","quoteVolume":"23634576.00000000","baseVolume":"88872.40131519","lowPrice":"0.00366901","lastPrice":"0.00369380"},"MNC_ETH":{"highPrice":"0.00280000","id":"38","quoteVolume":"768670.00000000","baseVolume":"59.67577180","lowPrice":"0.00007448","lastPrice":"0.00007695"},"EDR_ETH":{"highPrice":"0.00006673","id":"7","quoteVolume":"687234.00000000","baseVolume":"45.18393574","lowPrice":"0.00006254","lastPrice":"0.00006673"},"TCAT_BTC":{"highPrice":"0.00000000","id":"45","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"TCAT_USD":{"highPrice":"0.00000000","id":"44","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"ZEC_USD":{"highPrice":"50.69000000","id":"24","quoteVolume":"17276.02012910","baseVolume":"852975.45607024","lowPrice":"48.57000000","lastPrice":"48.77600000"},"BTC_USD":{"highPrice":"3550.00000000","id":"8","quoteVolume":"5549.25443700","baseVolume":"19374423.78302714","lowPrice":"3451.50000000","lastPrice":"3456.50000000"},"ECHT_IDR":{"highPrice":"0.00000000","id":"35","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"EDR_DASH":{"highPrice":"0.00010402","id":"6","quoteVolume":"11541940.00000000","baseVolume":"1188.45942990","lowPrice":"0.00010153","lastPrice":"0.00010402"},"MNC_USD":{"highPrice":"0.23000000","id":"36","quoteVolume":"1306864.70000000","baseVolume":"10621.40023500","lowPrice":"0.00797085","lastPrice":"0.00802086"},"LTC_BTC":{"highPrice":"0.00904470","id":"18","quoteVolume":"2921.40540000","baseVolume":"26.08891824","lowPrice":"0.00880410","lastPrice":"0.00895000"},"TCAT_IDR":{"highPrice":"0.00000000","id":"47","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"ZEC_BTC":{"highPrice":"0.01461000","id":"23","quoteVolume":"104267.73780000","baseVolume":"1475.90926846","lowPrice":"0.01397200","lastPrice":"0.01412000"},"ETH_USD":{"highPrice":"109.27000000","id":"11","quoteVolume":"196469.79560000","baseVolume":"20920157.54616201","lowPrice":"103.29000000","lastPrice":"105.10000000"},"ETH_BTC":{"highPrice":"0.03110200","id":"20","quoteVolume":"12395.95310000","baseVolume":"378.07632106","lowPrice":"0.02983100","lastPrice":"0.03044300"},"MNC_IDR":{"highPrice":"0.00000000","id":"39","quoteVolume":"0.00000000","baseVolume":"0.00000000","lowPrice":"0.00000000","lastPrice":"0.00000000"},"EDR_IDR":{"highPrice":"100.00000000","id":"30","quoteVolume":"13063.71260000","baseVolume":"1299201.83480000","lowPrice":"98.00000000","lastPrice":"98.00000000"},"LTC_USD":{"highPrice":"31.70100000","id":"9","quoteVolume":"392250.86190000","baseVolume":"12228323.55244770","lowPrice":"30.50600000","lastPrice":"30.93100000"},"ETH_LTC":{"highPrice":"3.47090942","id":"22","quoteVolume":"53710.82270000","baseVolume":"183620.03277559","lowPrice":"3.36901106","lastPrice":"3.39829024"},"DASH_USD":{"highPrice":"69.38200000","id":"10","quoteVolume":"66645.41710000","baseVolume":"4507629.56394701","lowPrice":"66.24900000","lastPrice":"66.82700000"},"EDR_USD":{"highPrice":"0.00740000","id":"2","quoteVolume":"3666421.53263105","baseVolume":"25593.40713849","lowPrice":"0.00689821","lastPrice":"0.00699325"},"ECHT_ETH":{"highPrice":"0.00003855","id":"34","quoteVolume":"14134060.00000000","baseVolume":"501.19876490","lowPrice":"0.00003475","lastPrice":"0.00003540"}}'
  recorded_at: Tue, 29 Jan 2019 05:58:15 GMT
recorded_with: VCR 4.0.0
