---
http_interactions:
- request:
    method: get
    uri: https://api.coin.z.com/public/v1/trades?symbol=BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 78b97bb0-93eb-11e9-924b-cbe3497a085d
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bnc-7H4LtjMFtjQ=
      X-Amzn-Remapped-Server:
      - nginx
      X-Amzn-Remapped-Date:
      - Fri, 21 Jun 2019 06:11:56 GMT
    body:
      encoding: UTF-8
      string: '{"status":0,"data":{"list":[{"price":"1046114","side":"SELL","size":"0.02","timestamp":"2019-06-21T06:11:53.601Z"},{"price":"1046100","side":"BUY","size":"0.09","timestamp":"2019-06-21T06:11:52.764Z"},{"price":"1046100","side":"BUY","size":"1.56","timestamp":"2019-06-21T06:11:51.839Z"},{"price":"1045966","side":"BUY","size":"0.44","timestamp":"2019-06-21T06:11:51.839Z"},{"price":"1045645","side":"SELL","size":"0.05","timestamp":"2019-06-21T06:11:45.988Z"},{"price":"1045712","side":"SELL","size":"0.02","timestamp":"2019-06-21T06:11:45.988Z"},{"price":"1045779","side":"SELL","size":[...]
