---
http_interactions:
- request:
    method: get
    uri: https://api.coin.z.com/public/v1/orderbooks?symbol=BTC_JPY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 2869e6bd-93ea-11e9-bffd-95d49a735958
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bnbmxFiyNjMFnmA=
      X-Amzn-Remapped-Server:
      - nginx
      X-Amzn-Remapped-Date:
      - Fri, 21 Jun 2019 06:02:32 GMT
    body:
      encoding: UTF-8
      string: '{"status":0,"data":{"asks":[{"price":"1045251","size":"4.2"},{"price":"1045318","size":"1.76"},{"price":"1045519","size":"1.8"},{"price":"1045582","size":"0.03"},{"price":"1045586","size":"1.76"},{"price":"1045653","size":"1.8"},{"price":"1045720","size":"0.29"},{"price":"1045787","size":"0.53"},{"price":"1045854","size":"0.01"},{"price":"1045921","size":"0.9"},{"price":"1045988","size":"8.22"},{"price":"1046055","size":"22.15"},{"price":"1046122","size":"0.04"},{"price":"1046189","size":"1.41"},{"price":"1046256","size":"2.69"},{"price":"1046323",[...]
