---
http_interactions:
- request:
    method: get
    uri: https://exchange.shortex.net/api/v2/backend/public/markets/btcusdc/order-book
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7e876488d4d1f9eb12f7bb61458e4d1c"
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":231069492,"side":"sell","ord_type":"limit","price":"8122.5574","avg_price":"0.0","state":"wait","market":"btcusdc","created_at":"2019-11-19T07:23:55+01:00","updated_at":"2019-11-19T07:23:56+01:00","origin_volume":"0.1569","remaining_volume":"0.1569","executed_volume":"0.0","trades_count":0},{"id":231069227,"side":"sell","ord_type":"limit","price":"8122.8737","avg_price":"0.0","state":"wait","market":"btcusdc","created_at":"2019-11-19T07:21:17+01:00","updated_at":"2019-11-19T07:21:17+01:00","origin_volume":"0.0628","remaining_volume":"0.0628","executed_volume":"0.0","trades_count":0},{"id":231068963,"side":"sell","ord_type":"limit","price":"8123.1006","avg_price":"0.0","state":"wait","market":"btcusdc","created_at":"2019-11-19T07:17:07+01:00","updated_at":"2019-11-19T07:17:08+01:[...]
