---
http_interactions:
- request:
    method: get
    uri: https://api.shortex.net/api/v2/order_book?asks_limit=100&bids_limit=100&market=ethbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f1def1fa1f8f2bcd2c6f7db9c3e1b857"
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 1.32.17.220
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":135793051,"side":"sell","ord_type":"limit","price":"0.03311","avg_price":"0.0","state":"wait","market":"ethbtc","created_at":"2019-05-22T18:14:42+02:00","volume":"0.37598048","remaining_volume":"0.37598048","executed_volume":"0.0","trades_count":0},{"id":135793052,"side":"sell","ord_type":"limit","price":"0.03314308","avg_price":"0.0","state":"wait","market":"ethbtc","created_at":"2019-05-22T18:14:42+02:00","volume":"0.54308292","remaining_volume":"0.54308292","executed_volume":"0.0","trades_count":0},{"id":135793053,"side":"sell","ord_type":"limit","price":"0.03317615","avg_price":"0.0","state":"wait","market":"ethbtc","created_at":"2019-05-22T18:14:42+02:00","volume":"0.71018536","remaining_volume":"0.71018536","executed_volume":"0.0"[...]
