---
http_interactions:
- request:
    method: get
    uri: https://exchange.shortex.net/api/v2/backend/public/markets/btcusdc/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b7fec4d84486506d88867ebd986504d2"
    body:
      encoding: ASCII-8BIT
      string: '{"at":1574144752,"ticker":{"buy":"8121.1783","sell":"8122.5574","low":"8094.8018","high":"8471.4923","open":8479.0447,"last":"8121.1783","volume":"489.7126","vol":"489.7126","avg_price":"8240.779672734094817348538026467","price_change_percent":"-4.22%"}}'
  recorded_at: Tue, 19 Nov 2019 06:25:44 GMT
recorded_with: VCR 4.0.0
