---
http_interactions:
- request:
    method: get
    uri: https://exchange.shortex.net/api/v2/backend/public/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b7ed4e3be53454bfd22f942e4f5b64ff"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"ethusdc","name":"ETH/USDC","base_unit":"eth","quote_unit":"usdc","min_price":"0.00000001","max_price":"0.0","min_amount":"0.01","amount_precision":3,"price_precision":3,"state":"enabled"},{"id":"ethbtc","name":"ETH/BTC","base_unit":"eth","quote_unit":"btc","min_price":"0.00000001","max_price":"0.0","min_amount":"0.01","amount_precision":3,"price_precision":5,"state":"enabled"},{"id":"btcusdc","name":"BTC/USDC","base_unit":"btc","quote_unit":"usdc","min_price":"0.0000001","max_price":"0.0","min_amount":"0.01","amount_precision":4,"price_precision":4,"state":"enabled"},{"id":"mdcieoeth","name":"MDCIEO/ETH","base_unit":"mdcieo","quote_unit":"eth","min_price":"0.00000001",[...]
