---
http_interactions:
- request:
    method: get
    uri: https://api.shortex.net/api/v2/tickers/ethbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"75fca6b1c353f901db2ca752d951b51b"
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 1.32.17.220
    body:
      encoding: ASCII-8BIT
      string: '{"at":1558541811,"ticker":{"buy":"0.03305466","sell":"0.03311","low":"0.03264523","high":"0.0336044","open":0.03274077,"last":"0.03305466","volume":"4254.45047372","avg_price":"0.03322147514810861298","price_change_percent":"+0.96%","vol":"4254.45047372"}}'
  recorded_at: Wed, 22 May 2019 16:16:51 GMT
recorded_with: VCR 4.0.0
