---
http_interactions:
- request:
    method: get
    uri: https://acx.io/api/v2/order_book.json?market=ethaud
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"166ecbe4c779dbff66ed570dc9eb6ce7"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":167529341,"side":"sell","ord_type":"limit","price":"649.91","avg_price":"649.91","state":"wait","market":"ethaud","created_at":"2017-12-01T11:27:29+11:00","volume":"5.0","remaining_volume":"1.8997","executed_volume":"3.1003","trades_count":1},{"id":167529097,"side":"sell","ord_type":"limit","price":"649.99","avg_price":"0.0","state":"wait","market":"ethaud","created_at":"2017-12-01T11:27:09+11:00","volume":"5.0","remaining_volume":"5.0","executed_volume":"0.0","trades_count":0},{"id":167525253,"side":"sell","ord_type":"limit","price":"653.85","avg_price":"0.0","state":"wait","market":"ethaud","created_at":"2017-12-01T11:21:16+11:00","volume":"4.0","remaining_volume":"4.0","executed_volume":"0.0","trades_count":0},{"id":167525412,"[...]
