---
http_interactions:
- request:
    method: get
    uri: https://acx.io/api/v2/trades.json?market=ethaud
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"77ec191987dc42b275cefc311e13150b"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2984768,"price":"648.0","volume":"0.1805","funds":"116.964","market":"ethaud","created_at":"2017-12-02T21:38:21+11:00","trend":"up","side":null},{"id":2984767,"price":"648.0","volume":"2.425","funds":"1571.4","market":"ethaud","created_at":"2017-12-02T21:38:21+11:00","trend":"down","side":null},{"id":2984258,"price":"649.2","volume":"1.0213","funds":"663.02796","market":"ethaud","created_at":"2017-12-02T21:18:58+11:00","trend":"up","side":null},{"id":2984257,"price":"649.2","volume":"1.541","funds":"1000.4172","market":"ethaud","created_at":"2017-12-02T21:18:53+11:00","trend":"up","side":null},{"id":2984105,"price":"649.2","volume"[...]
