---
http_interactions:
- request:
    method: get
    uri: https://acx.io/api/v2/order_book?market=btcaud
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"37c80962ca33a8700edf34bbdd741027"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":144852375,"side":"sell","ord_type":"limit","price":"8635.0","avg_price":"8635.0","state":"wait","market":"btcaud","created_at":"2017-11-01T04:31:02Z","volume":"0.9","remaining_volume":"0.5137","executed_volume":"0.3863","trades_count":6},{"id":144855156,"side":"sell","ord_type":"limit","price":"8635.0","avg_price":"0.0","state":"wait","market":"btcaud","created_at":"2017-11-01T04:36:15Z","volume":"0.2","remaining_volume":"0.2","executed_volume":"0.0","trades_count":0},{"id":144851268,"side":"sell","ord_type":"limit","price":"8637.0","avg_price":"8637.0","state":"wait","market":"btcaud","created_at":"2017-11-01T04:28:21Z","volume":"0.9999","remaining_volume":"0.5963","executed_volume":"0.4036","trades_count":4},{"id":144851518[...]
