---
http_interactions:
- request:
    method: get
    uri: https://acx.io/api/v2/trades?market=btcaud
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"423fa698694442f8bbd430500d978369"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2092387,"price":"8543.46","volume":"0.0119","funds":"101.667174","market":"btcaud","created_at":"2017-11-01T15:36:26+11:00","trend":"down","side":null},{"id":2092382,"price":"8635.0","volume":"0.0022","funds":"18.997","market":"btcaud","created_at":"2017-11-01T15:35:54+11:00","trend":"up","side":null},{"id":2092381,"price":"8634.97","volume":"0.1811","funds":"1563.793067","market":"btcaud","created_at":"2017-11-01T15:35:54+11:00","trend":"down","side":null},{"id":2092380,"price":"8635.0","volume":"0.1389","funds":"1199.4015","market":"btcaud","created_at":"2017-11-01T15:35:54+11:00","trend":"up","side":null},{"id":2092379,"price":"8634.97[...]
