---
http_interactions:
- request:
    method: get
    uri: https://acx.io/api/v2/markets.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"41d228ef432ccf084972a59ddff4e407"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"btcaud","name":"BTC/AUD","base_unit":"btc","quote_unit":"aud"},{"id":"bchaud","name":"BCH/AUD","base_unit":"bch","quote_unit":"aud"},{"id":"ethaud","name":"ETH/AUD","base_unit":"eth","quote_unit":"aud"},{"id":"hsraud","name":"HSR/AUD","base_unit":"hsr","quote_unit":"aud"}]'
  recorded_at: Sat, 02 Dec 2017 09:09:06 GMT
recorded_with: VCR 3.0.3
