---
http_interactions:
- request:
    method: get
    uri: https://acx.io/api/v2/tickers/ethaud.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"3fc329de2413838209563a133746eb68"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1512208962,"ticker":{"buy":"649.1","sell":"649.91","open":632.5,"low":"615.0","high":"649.91","last":"649.91","vol":"468.8129"}}'
  recorded_at: Sat, 02 Dec 2017 10:02:42 GMT
recorded_with: VCR 3.0.3
