---
http_interactions:
- request:
    method: get
    uri: https://apiv1.decoin.io/market/get-ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Name":"BTC/USDT","AskPrice":8296.77,"BidPrice":8286.0,"HighPrice":8395.75,"LowPrice":8171.74,"LastPrice":8279.0,"PrevDayPrice":8200.48000000,"Volume":442950.71823639,"TrendUp":false},{"Name":"ETH/BTC","AskPrice":0.021494,"BidPrice":0.021445,"HighPrice":0.021704,"LowPrice":0.021285,"LastPrice":0.021445,"PrevDayPrice":0.02129300,"Volume":23.652288599759,"TrendUp":false},{"Name":"DTEP/BTC","AskPrice":0.0000032,"BidPrice":0.00000298,"HighPrice":0.00000300,"LowPrice":0.00000300,"LastPrice":0.00000300,"PrevDayPrice":0.00000323,"Volume":0.0015000000,"TrendUp":false},{"Name":"ETH/USDT","AskPrice":178.42,"BidPrice":177.97,"HighPrice":180.21,"LowPrice":174.10,"LastPrice":177.63[...]
