---
http_interactions:
- request:
    method: get
    uri: https://api.novadax.com/v1/data/ticker?coin=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"A10000","message":"Success","data":{"vol":4.645888950000000000,"high":13564.62972000,"low":13168.98000000,"buy":13300.04000000,"sell":13300.04000000,"transType":"SELL","date":1544717311000}}'
  recorded_at: Thu, 13 Dec 2018 16:39:44 GMT
recorded_with: VCR 4.0.0
