---
http_interactions:
- request:
    method: get
    uri: https://api.novadax.com/v1/data/trades?coin=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"A10000","message":"Success","data":[{"amount":0.019096790000000000,"price":15075.00000000,"transType":"BUY","date":1544020892000},{"amount":0.105483410000000000,"price":15075.00000000,"transType":"SELL","date":1544020383000},{"amount":0.303507100000000000,"price":15075.00000000,"transType":"SELL","date":1544019834000},{"amount":0.019684800000000000,"price":15075.00000000,"transType":"SELL","date":1544019586000},{"amount":0.025992880000000000,"price":15066.13000000,"transType":"SELL","date":1544017141000},{"amount":0.095987610000000000,"price":15066.13000000,"transType":"SELL","date":1544015703000},{"amount":[...]
