---
http_interactions:
- request:
    method: get
    uri: https://api.novadax.com/v1/market/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"A10000","data":[{"ask":"30564.98","baseVolume24h":"38.1038814","bid":"30478.27","high24h":"31393.19","lastPrice":"30525.04","low24h":"30357.76","open24h":"31116.74","quoteVolume24h":"1333635.85","symbol":"BTC_BRL","timestamp":1575438482938},{"ask":"616.16","baseVolume24h":"475.70137158","bid":"614.9","high24h":"636.59","lastPrice":"615.55","low24h":"612.33","open24h":"634.17","quoteVolume24h":"297679.57237991","symbol":"ETH_BRL","timestamp":1575438482952},{"ask":"11.1229","baseVolume24h":"18211.0526","bid":"11.0976","high24h":"11.7163","lastPrice":"11.1115","low24h":"11.0281","open24h":"11.4787","quoteVolume24h":"206729.8837","symbol":"EOS_BRL","timestamp":1575438482979},{"ask":"0.90505","baseVolume24h":"179064.7113"[...]
