---
http_interactions:
- request:
    method: get
    uri: https://api.novadax.com/v1/market/trades?symbol=BTC_BRL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"A10000","data":[{"amount":"0.001","price":"30533.19","side":"BUY","timestamp":1575438484826},{"amount":"0.020987","price":"30528.59","side":"BUY","timestamp":1575438484018},{"amount":"0.001","price":"30528.54","side":"BUY","timestamp":1575438483785},{"amount":"0.117095","price":"30528.59","side":"BUY","timestamp":1575438483252},{"amount":"0.001","price":"30528.12","side":"BUY","timestamp":1575438483229},{"amount":"0.008899","price":"30528.54","side":"BUY","timestamp":1575438483229},{"amount":"0.001","price":"30525.04","side":"BUY","timestamp":1575438481271},{"amount":"0.0[...]
