---
http_interactions:
- request:
    method: get
    uri: https://api.stellarterm.com/v1/ticker.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Request-Id:
      - 3B2669DBB64D05C9
      Last-Modified:
      - Thu, 23 Aug 2018 08:37:16 GMT
      Etag:
      - '"5eb108a746eea86122e3749340470ea2"'
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"start":1535013431,"startISO":"Thu Aug 23 2018 08:37:11 GMT+0000
        (UTC)","apiLicense":"Apache-2.0","stellarTermVersion":"974","horizon":{"core_latest_ledger":19607118,"network_passphrase":"Public
        Global Stellar Network ; September 2015"},"externalPrices":{"USD_BTC":6430.82,"BTC_XLM":0.00003287,"USD_XLM":0.211381,"USD_XLM_24hAgo":0.229463,"USD_XLM_change":-7.88}},"assets":[{"id":"XLM-native","code":"XLM","issuer":null,"domain":"native","slug":"XLM-native","website":"https://www.stellar.org/lumens/","price_XLM":1,"price_USD":0.211381,"volume24h_XLM":3290327.57,"volume24h_USD":695512.75,"activityScore":100},{"id":"MOBI-GA6HCMBLTZS5VYYBCATRBRZ3BZJMAFUDKYYF6AH6MVCMGWMRDNSWJPIH","code":"MOBI","issuer":"GA6HCMBLTZS5VYYBCATRBRZ3BZJMAFUDKYYF6AH6MVCMGWMRDNSWJPIH","domain":"mobius.network","slug":"MOBI-mobius.network","website":"https://mobius.network/","topTradePairSlug":"MOBI-mobius.network/XLM-native","change24h_XLM":-1.88,"change24h_USD":-9.62,"price_XLM":0.13444,"price_USD":0.028417,"numTrades24h":221,"_numTradeRecords24h":41,"volume24h_XLM":95122.93,"volume24h_USD":20107.18,"spread":0.0168,"numBids":20,"numAsks":20,"depth10_XLM":26348,"depth10_USD":5569.47,"activityScore":27.523},{"id":"CNY-GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX","code":"CNY","issuer":"GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX","domain":"ripplefox.com","slug":"CNY-ripplefox.com","website":"https://ripplefox.com/anchor/","topTradePairSlug":"XLM-native/CNY-ripplefox.com","change24h_XLM":3.75,"change24h_USD":-4.42,"price_XLM":0.68259,"price_USD":0.14429,"numTrades24h":468,"_numTradeRecords24h":51,"volume24h_XLM":91976.95,"volume24h_USD":19442.[...]
