---
http_interactions:
- request:
    method: get
    uri: https://www.zebapi.com/api/v1/market/ticker-new/BTC/INR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"market":502600.0,"buy":502999.0,"sell":502600.0,"volume":288.57559156,"24hoursHigh":510200.0,"24hoursLow":470000.0,"virtualCurrency":"btc","currency":"inr","pair":"btc-inr"}'
  recorded_at: Sun, 15 Apr 2018 08:24:26 GMT
recorded_with: VCR 4.0.0
