---
http_interactions:
- request:
    method: get
    uri: https://www.zebapi.com/pro/v1/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"750-/mFQE8PIbXcqKM2S/cLBHmrrxhE"
    body:
      encoding: UTF-8
      string: '[{"buy":"0","sell":"0","market":"0.0254756","volume":0,"pricechange":"0.00","24hoursHigh":"0","24hoursLow":"0","pair":"BCH-BTC","virtualCurrency":"BCH","currency":"BTC"},{"buy":"0","sell":"85.88000000","market":"85.88","volume":0,"pricechange":"0.00","24hoursHigh":"0","24hoursLow":"0","pair":"BCH-EUR","virtualCurrency":"BCH","currency":"EUR"},{"buy":"3340.00000000","sell":"3330.00000000","market":"3340","volume":0.58867634,"pricechange":"-0.36","24hoursHigh":"3359","24hoursLow":"3145","pair":"BTC-EUR","virtualCurrency":"BTC","currency":"EUR"},{"buy":"0","sell":"0","market":"0.000553","volume":0,"pricechange":"0.00","24hoursHigh":"0","24hoursLow":"0","pair[...]
