---
http_interactions:
- request:
    method: get
    uri: https://www.zebapi.com/api/v1/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d45-AUSHmdeSNlxMPvur4zoISq0tIko"
    body:
      encoding: UTF-8
      string: '[{"buy":"458502","sell":"458501","market":"458501","volume":"20782889660","pricechange":"5.34","24hoursHigh":"480000","24hoursLow":"435025","pair":"BTC-INR","virtualCurrency":"BTC","currency":"INR"},{"buy":"33.5","sell":"33.45","market":"33.45","volume":"570253214088","pricechange":"3.11","24hoursHigh":"35","24hoursLow":"31.91","pair":"XRP-INR","virtualCurrency":"XRP","currency":"INR"},{"buy":"541.99","sell":"539","market":"539","volume":"18634729463","pricechange":"2.86","24hoursHigh":"565","24hoursLow":"513","pair":"EOS-INR","virtualCurrency":"EOS","currency":"INR"},{"buy":"33000","sell":"32896","market":"32896","volume":"270062753","pricechange":"5.1","24hoursHigh":"34950","24hour[...]
