---
http_interactions:
- request:
    method: get
    uri: https://www.zebapi.com/pro/v1/market/btc-eur/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c93-PUPy8Bg/t2MU4flbSPiieHnZu9k"
    body:
      encoding: UTF-8
      string: '[{"trans_id":3858448,"fill_qty":639684,"fill_price":7816.35,"fill_flags":1,"inbound_order_filled":true,"currencyPair":"BTC-EUR","lastModifiedDate":1559511338160},{"trans_id":3854654,"fill_qty":15690537,"fill_price":7820,"fill_flags":1,"inbound_order_filled":true,"currencyPair":"BTC-EUR","lastModifiedDate":1559506591188},{"trans_id":3854622,"fill_qty":15690537,"fill_price":7820,"fill_flags":2,"inbound_order_filled":false,"currencyPair":"BTC-EUR","lastModifiedDate":1559506559258},{"trans_id":3854595,"fill_qty":15690537,"fill_price":7820,"fill_flags":1,"inbound_order_filled":true,"currencyPair":"BTC-EUR","lastModifiedDate":1559506507914},{"tr[...]
