---
http_interactions:
- request:
    method: get
    uri: https://www.bibo.gold/openApi/market/trade?symbol=BTC-USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errno":0,"errmsg":"success","result":{"symbol":"BTC-USDT","ts":1580349879546,"data":[{"id":1580349810720675,"amount":"0.00175","price":"8960.73","direction":"buy","ts":1580349810},{"id":1580349781271746,"amount":"0.0022","price":"8977.06","direction":"buy","ts":1580349781},{"id":1580349623451326,"amount":"0.00165","price":"8994.07","direction":"sell","ts":1580349623},{"id":1580349577950631,"amount":"0.00165","price":"8978.42","direction":"sell","ts":1580349577},{"id":1580349491620802,"amount":"0.0047","price":"8968.74","direction":"buy","ts":1580349491},{"id":1580349458232674,"amount":"0.00185","price":"8976.12","direction":"sell","ts":1580349458},{[...]
