---
http_interactions:
- request:
    method: get
    uri: https://www.bibo.gold/openApi/market/depth?symbol=BTC-USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errno":0,"errmsg":"success","result":{"ts":1580349981262,"symbol":"BTC-USDT","asks":[["9291.39","0.00165"],["9455.6","0.000719"],["9588.9","0.0005"],["9966.82","0.001605"],["9998.99","0.000453"],["10168","0.000816"],["12999.96","0.00262"]],"bids":[["8568.93","0.00232"]]}}'
  recorded_at: Thu, 30 Jan 2020 02:06:21 GMT
recorded_with: VCR 4.0.0
