---
http_interactions:
- request:
    method: get
    uri: https://www.bibo.gold/api/v1/allticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"date":"1580349879","ticker":[{"symbol":"btc_usdt","buy":"8568.93","high":"9024.11","last":"8960.73","low":"8952.48","sell":"9291.39","change":"-0.0019","vol":"1.955859"},{"symbol":"eth_usdt","buy":"160.64","high":"169.97","last":"167.51","low":"168.42","sell":"175","change":"-0.0101","vol":"202.504"},{"symbol":"eth_btc","buy":"0.017743","high":"0.019023","last":"0.018716","low":"0.018635","sell":"0.020063","change":"-0.0161","vol":"195.48"},{"symbol":"ktc_btc","buy":"","high":"0","last":"0","low":"0","sell":"","change":"","vol":"0"},{"symbol":"eos_btc","buy":"0.00039772","high":"0.00042855","last":"0.00042021","low":"0.00041501","sell":"0.00044403","[...]
