---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/market/detail/merged?symbol=BTC_CW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ch":"market.BTC_CW.detail.merged","status":"ok","tick":{"amount":"90846.5912330753675331620915694082659666828","ask":[12732.57,1],"bid":[12722.48,114],"close":"12732.6","count":222107,"high":"12980","id":1561531379,"low":"11268.89","open":"11412.06","ts":1561531379980,"vol":"10819346"},"ts":1561531379980}'
  recorded_at: Wed, 26 Jun 2019 06:43:00 GMT
recorded_with: VCR 4.0.0
