---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_open_interest?contract_type=this_week&symbol=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 395a0860681c411bac786daa269328bd
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '1585913035509'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"volume":218216.000000000000000000,"amount":3142.235489105939714397,"symbol":"BTC","contract_type":"this_week","contract_code":"BTC200410"}],"ts":1585913032509}'
  recorded_at: Fri, 03 Apr 2020 11:23:48 GMT
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_index?symbol=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 148772c7f7b341898b78de5b89ebbecd
      Ratelimit-Remaining:
      - '58'
      Ratelimit-Reset:
      - '1585913035510'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"symbol":"BTC","index_price":6961.947500000000000000,"index_ts":1585913028022}],"ts":1585913032918}'
  recorded_at: Fri, 03 Apr 2020 11:23:48 GMT
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_contract_info?contract_type=this_week&symbol=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 2fbce66634b14a02b2e9dcd941681b64
      Ratelimit-Remaining:
      - '57'
      Ratelimit-Reset:
      - '1585913035510'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"symbol":"BTC","contract_code":"BTC200410","contract_type":"this_week","contract_size":100.000000000000000000,"price_tick":0.010000000000000000,"delivery_date":"20200410","create_date":"20200327","contract_status":1}],"ts":1585913033319}'
  recorded_at: Fri, 03 Apr 2020 11:23:48 GMT
recorded_with: VCR 4.0.0
