---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/market/history/trade?size=2000&symbol=BTC_CW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ch":"market.BTC_CW.trade.detail","data":[{"data":[{"amount":140,"direction":"buy","id":568708943430000,"price":6959.28,"ts":1585911794128}],"id":56870894343,"ts":1585911794128},{"data":[{"amount":16,"direction":"sell","id":568708976920000,"price":6954.01,"ts":1585911794569},{"amount":2,"direction":"sell","id":568708976920001,"price":6953.24,"ts":1585911794569},{"amount":4,"direction":"sell","id":568708976920002,"price":6953.08,"ts":1585911794569}],"id":56870897692,"ts":1585911794569},{"data":[{"amount":10,"direction":"sell","id":568708977310000,"price":6954.01,"ts":1585911794569},{"amount":36,"direction":"sell","id":[...]
