---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/market/detail/merged?symbol=BTC_CW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ch":"market.BTC_CW.detail.merged","status":"ok","tick":{"amount":"98405.497978712221502178706335941841949759","ask":[6944.61,161],"bid":[6944.6,24],"close":"6945.09","count":178961,"high":"7332.96","id":1585913029,"low":"6644.82","open":"6818.24","ts":1585913029607,"vol":"6759594"},"ts":1585913029607}'
  recorded_at: Fri, 03 Apr 2020 11:23:45 GMT
recorded_with: VCR 4.0.0
