---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/market/depth?symbol=BTC_CW&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ch":"market.BTC_CW.depth.step0","status":"ok","tick":{"asks":[[8572.05,40],[8573.18,85],[8574,130],[8574.52,7],[8575.2,300],[8575.35,105],[8575.36,50],[8575.37,143],[8575.41,34],[8575.81,15],[8576.32,6],[8576.71,36],[8576.8,155],[8577.45,15],[8577.52,15],[8577.89,100],[8577.95,18],[8577.99,8],[8579.07,7],[8579.11,130],[8580.02,23],[8580.03,8],[8580.14,8],[8580.4,200],[8580.5,112],[8580.78,8],[8581,140],[8581.08,160],[8581.14,10],[8582.07,8],[8583.3,120],[8583.41,142],[8583.62,50],[8584.29,15],[8584.5,255],[8584.67,3],[8585.24,1],[8585.28,16],[8585.33,106][...]
