---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_contract_info
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 2cd86266bdeb4b48aaf6173216aba65d
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '1561531382544'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"symbol":"BTC","contract_code":"BTC190628","contract_type":"this_week","contract_size":100.000000000000000000,"price_tick":0.010000000000000000,"delivery_date":"20190628","create_date":"20190315","contract_status":1},{"symbol":"BTC","contract_code":"BTC190705","contract_type":"next_week","contract_size":100.000000000000000000,"price_tick":0.010000000000000000,"delivery_date":"20190705","create_date":"20190621","contract_status":1},{"symbol":"BTC","contract_code":"BTC190927","contract_type":"quarter","contract_size":100.000000000000000000,"price_tick":0.010000000000000000,"delivery_date":"20190927","create_date":"20190614","contract_status":1},{"symbol":"ETH","contract_code":"ETH190628","contract_type":"th[...]
