---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/swap-ex/market/detail/merged?contract_code=ETH-USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ch":"market.ETH-USD.detail.merged","status":"ok","tick":{"amount":"476.273554886025999507281020778680460635","ask":[144.95,7],"bid":[144.87,700],"close":"144.91","count":257,"high":"146.64","id":1585913029,"low":"144.23","open":"144.28","ts":1585913029179,"vol":"6926"},"ts":1585913029179}'
  recorded_at: Fri, 03 Apr 2020 11:23:44 GMT
recorded_with: VCR 4.0.0
