---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/market/history/trade?size=2000&symbol=BTC_CW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ch":"market.BTC_CW.trade.detail","data":[{"data":[{"amount":40,"direction":"buy","id":87273076680000,"price":12595.74,"ts":1561530255921}],"id":8727307668,"ts":1561530255921},{"data":[{"amount":12,"direction":"buy","id":87273077300000,"price":12595.58,"ts":1561530255921},{"amount":28,"direction":"buy","id":87273077300001,"price":12595.6,"ts":1561530255921}],"id":8727307730,"ts":1561530255921},{"data":[{"amount":132,"direction":"sell","id":87273114140000,"price":12578.98,"ts":1561530258216}],"id":8727311414,"ts":1561530258216},{"data":[{"amount":48,"direction":"sell","id":87273116220000,"price":12578.98,"ts":15615302[...]
