---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_open_interest?contract_type=this_week&symbol=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 529122b12ea64d8a89909410be10bce5
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '1569383551256'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"volume":915183.000000000000000000,"amount":10676.373418696133009178,"symbol":"BTC","contract_type":"this_week","contract_code":"BTC190927"}],"ts":1569383548256}'
  recorded_at: Wed, 25 Sep 2019 03:52:28 GMT
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_index?symbol=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 303c106e44b54e7bbafe06739199ccb0
      Ratelimit-Remaining:
      - '58'
      Ratelimit-Reset:
      - '1569383551258'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"symbol":"BTC","index_price":8582.997500000000000000,"index_ts":1569383544010}],"ts":1569383549576}'
  recorded_at: Wed, 25 Sep 2019 03:52:29 GMT
recorded_with: VCR 4.0.0
