---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/market/depth?symbol=BTC_CW&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ch":"market.BTC_CW.depth.step0","status":"ok","tick":{"asks":[[6944.61,190],[6946.44,19],[6946.46,30],[6946.79,350],[6947.07,12],[6947.08,1],[6947.35,55],[6947.77,60],[6947.82,21],[6947.83,6],[6947.88,19],[6947.95,4],[6948,1],[6949.08,17],[6949.2,3],[6949.25,100],[6949.26,30],[6949.39,4],[6949.48,11],[6949.5,20],[6949.51,100],[6949.55,745],[6949.88,41],[6949.89,300],[6950.16,25],[6950.17,36],[6950.18,30],[6950.25,3],[6950.33,13],[6950.38,3],[6950.55,15],[6950.63,3],[6950.88,154],[6951.21,80],[6951.51,1],[6951.95,242],[6952.18,20],[6952.19,60],[6952.36,115[...]
