---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/market/detail/merged?symbol=BTC_CW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ch":"market.BTC_CW.detail.merged","status":"ok","tick":{"amount":"241837.433216733006225481128385226604514244","ask":[8569.85,43],"bid":[8569.84,3702],"close":"8568.13","count":395947,"high":"9599","id":1569383545,"low":"7759","open":"9528.54","ts":1569383545281,"vol":"21161004"},"ts":1569383545281}'
  recorded_at: Wed, 25 Sep 2019 03:52:25 GMT
recorded_with: VCR 4.0.0
