---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/swap-api/v1/swap_open_interest?contract_code=ETH-USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 930b284a86c64483ae2b1559aab1bce4
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '1585913034320'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"volume":1671.000000000000000000,"amount":115.312952867296942930,"symbol":"ETH","contract_code":"ETH-USD"}],"ts":1585913031320}'
  recorded_at: Fri, 03 Apr 2020 11:23:46 GMT
- request:
    method: get
    uri: https://api.hbdm.com/swap-api/v1/swap_index?contract_code=ETH-USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - a6c5be00f7ad401bb16bcde95e0d2520
      Ratelimit-Remaining:
      - '58'
      Ratelimit-Reset:
      - '1585913034321'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"index_price":145.034885814000000000,"index_ts":1585913028022,"contract_code":"ETH-USD"}],"ts":1585913031512}'
  recorded_at: Fri, 03 Apr 2020 11:23:47 GMT
- request:
    method: get
    uri: https://api.hbdm.com/swap-api/v1/swap_contract_info?contract_code=ETH-USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - feefe72328874bcbbbec281e5e8be106
      Ratelimit-Remaining:
      - '57'
      Ratelimit-Reset:
      - '1585913034321'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"symbol":"ETH","contract_code":"ETH-USD","contract_size":10,"price_tick":0.01,"create_date":"20200403","contract_status":1,"settlement_date":"1585915200000"}],"ts":1585913031904}'
  recorded_at: Fri, 03 Apr 2020 11:23:47 GMT
- request:
    method: get
    uri: https://api.hbdm.com/swap-api/v1/swap_funding_rate?contract_code=ETH-USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 4b882325ab0949a09f9d2c7cf698b61c
      Ratelimit-Remaining:
      - '56'
      Ratelimit-Reset:
      - '1585913034321'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":{"estimated_rate":"0.000027852136374740","funding_rate":"0.000100000000000000","contract_code":"ETH-USD","symbol":"ETH","fee_asset":"ETH","funding_time":"1585915200000","next_funding_time":"1585944000000"},"ts":1585913032319}'
  recorded_at: Fri, 03 Apr 2020 11:23:47 GMT
recorded_with: VCR 4.0.0
