---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/swap-api/v1/swap_contract_info
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - b1ad1e4418304034beeae63cdb60357c
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '1585913031292'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"symbol":"BTC","contract_code":"BTC-USD","contract_size":100.000000000000000000,"price_tick":0.100000000000000000,"create_date":"20200325","contract_status":1,"settlement_date":"1585915200000"},{"symbol":"ETH","contract_code":"ETH-USD","contract_size":10,"price_tick":0.01,"create_date":"20200403","contract_status":1,"settlement_date":"1585915200000"}],"ts":1585913028293}'
  recorded_at: Fri, 03 Apr 2020 11:23:43 GMT
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_contract_info
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 5f3db1f012164a35ba68ec33fe58f9d6
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '1585913031711'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"symbol":"BTC","contract_code":"BTC200410","contract_type":"this_week","contract_size":100.000000000000000000,"price_tick":0.010000000000000000,"delivery_date":"20200410","create_date":"20200327","contract_status":1},{"symbol":"BTC","contract_code":"BTC200417","contract_type":"next_week","contract_size":100.000000000000000000,"price_tick":0.010000000000000000,"delivery_date":"20200417","create_date":"20200403","contract_status":1},{"symbol":"BTC","contract_code":"BTC200626","contract_type":"quarter","contract_size":100.000000000000000000,"price_tick":0.010000000000000000,"delivery_date":"20200626","create_date":"20200313","contract_status":1},{"symbol"[...]
