---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/market/depth?symbol=BTC_CW&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ch":"market.BTC_CW.depth.step0","status":"ok","tick":{"asks":[[12737.57,2],[12740,2],[12741.58,66],[12745.57,260],[12745.78,86],[12746.13,50],[12747.63,24],[12748.79,12],[12749.16,78],[12749.42,29],[12750,1366],[12750.03,271],[12750.36,41],[12754.52,20],[12755.47,189],[12755.7,25],[12755.74,40],[12756.33,29],[12756.36,170],[12756.39,18],[12757.27,42],[12759.45,4],[12759.9,200],[12760,296],[12761.44,213],[12761.59,20],[12763.87,25],[12764.28,290],[12764.5,29],[12765.44,23],[12765.92,20],[12766,20],[12766.04,50],[12766.78,40],[12768.06,50],[12769,20],[12769[...]
