---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_open_interest?contract_type=this_week&symbol=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 8e7ddc59e8c54dc8a1203f343b1f6fe3
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '1569998425913'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"volume":243210.000000000000000000,"amount":2966.601490314419993486,"symbol":"BTC","contract_type":"this_week","contract_code":"BTC191004"}],"ts":1569998422918}'
  recorded_at: Wed, 02 Oct 2019 06:40:22 GMT
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_index?symbol=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - b47803fa9fda46728b654aaf17a8585a
      Ratelimit-Remaining:
      - '58'
      Ratelimit-Reset:
      - '1569998425913'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"symbol":"BTC","index_price":8207.722500000000000000,"index_ts":1569998418013}],"ts":1569998423348}'
  recorded_at: Wed, 02 Oct 2019 06:40:23 GMT
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_contract_info?contract_type=this_week&symbol=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - e2090341dda547c6901d3428b29919da
      Ratelimit-Remaining:
      - '57'
      Ratelimit-Reset:
      - '1569998425913'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"symbol":"BTC","contract_code":"BTC191004","contract_type":"this_week","contract_size":100.000000000000000000,"price_tick":0.010000000000000000,"delivery_date":"20191004","create_date":"20190920","contract_status":1}],"ts":1569998423849}'
  recorded_at: Wed, 02 Oct 2019 06:40:23 GMT
recorded_with: VCR 4.0.0
