---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/market/history/trade?size=2000&symbol=BTC_CW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ch":"market.BTC_CW.trade.detail","data":[{"data":[{"amount":2,"direction":"buy","id":195753076260000,"price":8585.43,"ts":1569381130432}],"id":19575307626,"ts":1569381130432},{"data":[{"amount":6,"direction":"buy","id":195753077130000,"price":8585.38,"ts":1569381130432}],"id":19575307713,"ts":1569381130432},{"data":[{"amount":4,"direction":"buy","id":195753078670000,"price":8585.38,"ts":1569381130432},{"amount":2,"direction":"buy","id":195753078670001,"price":8585.38,"ts":1569381130432}],"id":19575307867,"ts":1569381130432},{"data":[{"amount":2,"direction":"buy","id":195753079790000,"price":8585.38,"ts":15693811304[...]
