---
http_interactions:
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_open_interest?contract_type=this_week&symbol=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - e5360ed6853d4c1db48f14c98fac7d72
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '1568104115685'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"volume":342987.000000000000000000,"amount":3328.183994418530633553,"symbol":"BTC","contract_type":"this_week","contract_code":"BTC190913"}],"ts":1568104112685}'
  recorded_at: Tue, 10 Sep 2019 08:28:32 GMT
- request:
    method: get
    uri: https://api.hbdm.com/api/v1/contract_index?symbol=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Reqid:
      - 92042f42e21849d69cd4414a8aad3dde
      Ratelimit-Remaining:
      - '58'
      Ratelimit-Reset:
      - '1568104115687'
      Ratelimit-Interval:
      - '3000'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"symbol":"BTC","index_price":10279.170000000000000000,"index_ts":1568104110017}],"ts":1568104113235}'
  recorded_at: Tue, 10 Sep 2019 08:28:33 GMT
recorded_with: VCR 4.0.0
