---
http_interactions:
- request:
    method: get
    uri: https://www.huobi.com.co/api/market/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ts":1582095358092,"data":[{"symbol":"htbtc","open":4.9146E-4,"high":5.0485E-4,"low":4.8464E-4,"close":4.9535E-4,"amount":1226.1000000000001,"vol":0.5981035534000002,"count":49},{"symbol":"bsvbtc","open":0.031198,"high":0.031438,"low":0.030172,"close":0.030246,"amount":40.86528445039339,"vol":1.273884217,"count":14},{"symbol":"iosteth","open":2.413E-5,"high":2.45E-5,"low":2.366E-5,"close":2.393E-5,"amount":0.0,"vol":0.0,"count":0},{"symbol":"ethidr","open":3753396.39,"high":4191135.3,"low":3508417.34,"close":3848128.46,"amount":632.7647999999998,"vol":2.39356771435737E9,"count":2118},{"symbol":"ethbtc","open":0.02784,"high":0.028499,"low":0.027452,"close":0.027593,"[...]
