---
http_interactions:
- request:
    method: get
    uri: https://www.huobi.com.co/api/market/depth?symbol=btcusdt&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btcusdt.depth.step0","ts":1582095358248,"tick":{"bids":[[10071.170000000000000000,4.817055000000000000],[10070.910000000000000000,0.000270000000000000],[10070.110000000000000000,0.227422000000000000],[10070.080000000000000000,0.025585000000000000],[10070.000000000000000000,2.076344000000000000],[10069.900000000000000000,0.003700000000000000],[10069.810000000000000000,0.001100000000000000],[10069.550000000000000000,0.003000000000000000],[10069.360000000000000000,0.005000000000000000],[10069.220000000000000000,0.005200000000000000],[10069.150000000000[...]
