---
http_interactions:
- request:
    method: get
    uri: https://www.huobi.com.co/api/market/history/trade?size=2000&symbol=btcusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btcusdt.trade.detail","ts":1582095358422,"data":[{"id":104662714831,"ts":1582095358337,"data":[{"amount":0.003782000000000000,"trade-id":102085487398,"ts":1582095358337,"id":10466271483170267695357,"price":10071.170000000000000000,"direction":"buy"}]},{"id":104662714821,"ts":1582095358316,"data":[{"amount":0.009905000000000000,"trade-id":102085487397,"ts":1582095358316,"id":10466271482170227245921,"price":10070.000000000000000000,"direction":"sell"}]},{"id":104662714757,"ts":1582095358212,"data":[{"amount":0.146222000000000000,"trade-id":102085487396,"ts":1582095358212,"id":10466271475770227245921,"price":10070.000000000000000000,"direction":"sell"},{"amount":0.025585000000000000,"trade-id":102085487395,"ts":1582095358212,"id":104662[...]
