---
http_interactions:
- request:
    method: get
    uri: https://be.huobi.com/market/detail/merged?symbol=ethcny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.ethcny.detail.merged","ts":1507003502032,"tick":{"amount":5447.0717,"open":1894.0000,"close":1856.0000,"high":1896.0000,"ts":1507003466000,"id":1507003466,"count":2720,"low":1822.1900,"ask":[1859.4100,0.6800],"vol":10130410.88635400,"bid":[1856.0000,1.1063]}}'
  recorded_at: Tue, 03 Oct 2017 04:05:02 GMT
recorded_with: VCR 3.0.3
