---
http_interactions:
- request:
    method: get
    uri: https://api.huobi.pro/market/depth?symbol=ethbtc&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.ethbtc.depth.step0","ts":1556794564107,"tick":{"bids":[[0.029554,2.1082],[0.029551,15.0000],[0.029549,5.0000],[0.029548,0.1542],[0.029547,8.5563],[0.029546,4.0000],[0.029545,8.4587],[0.029543,4.9345],[0.029542,12.1939],[0.029540,6.7674],[0.029539,13.5348],[0.029538,13.2329],[0.029537,19.4074],[0.029535,0.0126],[0.029533,33.0593],[0.029530,6.7667],[0.029529,13.0775],[0.029528,5.0088],[0.029527,24.6800],[0.029526,33.5183],[0.029525,0.0763],[0.029524,21.3525],[0.029523,5.5908],[0.029522,24.8965],[0.029521,0.8889],[0.029520,12.4544],[0.029519,6.8464],[[...]
