---
http_interactions:
- request:
    method: get
    uri: https://api.huobi.pro/market/history/trade?size=2000&symbol=ethbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.ethbtc.trade.detail","ts":1557914476602,"data":[{"id":100538705907,"ts":1557914475782,"data":[{"amount":1.7000,"ts":1557914475782,"id":10053870590733152449666,"price":0.028970,"direction":"sell"}]},{"id":100538705799,"ts":1557914474641,"data":[{"amount":0.0017,"ts":1557914474641,"id":10053870579933152483589,"price":0.028996,"direction":"sell"}]},{"id":100538705601,"ts":1557914471772,"data":[{"amount":0.0720,"ts":1557914471772,"id":10053870560133152453300,"price":0.028980,"direction":"sell"},{"amount":0.2697,"ts":1557914471772,"id":10053870560133152463275,"price":0.028976,"direction":"sell"},{"amount":0.5283,"ts":1557914471772,"id":10053870560133152477178,"price":0.028972,"directi[...]
