---
http_interactions:
- request:
    method: get
    uri: https://be.huobi.com/v1/common/symbols
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Application-Context:
      - dawn-broker-bitex:prd:8080
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"base-currency":"bcc","quote-currency":"cny","price-precision":2,"amount-precision":4},{"base-currency":"eth","quote-currency":"cny","price-precision":2,"amount-precision":4},{"base-currency":"etc","quote-currency":"cny","price-precision":2,"amount-precision":4}]}'
  recorded_at: Tue, 03 Oct 2017 04:05:00 GMT
- request:
    method: get
    uri: https://api.huobi.pro/v1/common/symbols
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Application-Context:
      - dawn-broker-pro:prd:8080
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"base-currency":"eth","quote-currency":"btc","price-precision":6,"amount-precision":4},{"base-currency":"ltc","quote-currency":"btc","price-precision":6,"amount-precision":4},{"base-currency":"etc","quote-currency":"btc","price-precision":6,"amount-precision":4},{"base-currency":"bcc","quote-currency":"btc","price-precision":6,"amount-precision":4}]}'
  recorded_at: Tue, 03 Oct 2017 04:05:01 GMT
recorded_with: VCR 3.0.3
