---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.jp/market/depth?symbol=btcjpy&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btcjpy.depth.step0","ts":1561087459468,"tick":{"bids":[[1037512.000000000000000000,0.250000000000000000],[1036001.000000000000000000,0.007400000000000000],[1036000.000000000000000000,0.001000000000000000],[1035000.000000000000000000,0.001000000000000000],[991000.000000000000000000,0.200000000000000000],[980000.000000000000000000,0.200400000000000000],[976500.000000000000000000,0.193800000000000000],[965000.000000000000000000,0.096800000000000000],[964320.000000000000000000,0.010000000000000000],[960001.000000000000000000,0.200000000000000000],[9600[...]
