---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.jp/market/history/trade?size=2000&symbol=btcjpy
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btcjpy.trade.detail","ts":1561087459959,"data":[{"id":100024128950,"ts":1561087418022,"data":[{"amount":0.000900000000000000,"ts":1561087418022,"id":10002412895037752748540,"price":1039073.000000000000000000,"direction":"sell"}]},{"id":100024128931,"ts":1561087296771,"data":[{"amount":0.000200000000000000,"ts":1561087296771,"id":10002412893137752577157,"price":1038845.000000000000000000,"direction":"sell"}]},{"id":100024128929,"ts":1561087273664,"data":[{"amount":0.008300000000000000,"ts":1561087273664,"id":10002412892937752406931,"price":1040228.000000000000000000,"direction":"sell"}]},{"id":100024128924,"ts":1561087204584,"data":[{"amount":0.000500000000000000,"ts":1561087204584,"id":10002412892437752445026,"[...]
