---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.jp/v1/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - dawn-broker-pro:default,prd:8080
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"base-currency":"eth","quote-currency":"jpy","price-precision":0,"amount-precision":4,"symbol-partition":"default","symbol":"ethjpy","state":"online","value-precision":0,"min-order-amt":0.001,"max-order-amt":10000,"min-order-value":100},{"base-currency":"mona","quote-currency":"btc","price-precision":8,"amount-precision":2,"symbol-partition":"default","symbol":"monabtc","state":"offline","value-precision":8,"min-order-amt":0.01,"max-order-amt":1000000,"min-order-value":0.0001},{"base-currency":"xrp","quote-currency":"jpy","price-precision":3,"amount-precision":2,"symbol-partition":"default","symbol":"xrpjpy","state":"online","value-precision":0,"min-order-amt":0.1,"max-order-amt":2500000,"min-order-value":100},{"base-currency":"ltc","quote-currency":"btc","price-precision":6,"amount-precision":4,"symbol-partition":"default","symbol":"ltcbtc","state":"online","value-precision":4,"min-order-amt":0.001,"max-order-amt":100000,"min-order-value":0.0001,"leverage-ratio":3},{"base-currency":"eth","quote-currency":"btc","price-precision":6,"amount-precision":4,"symbol-partition":"default","symbol":"ethbtc","state":"online","value-precision":4,"min-order-amt":0.001,"max-order-amt":10000,"min-order-value":0.0001,"leverage-ratio":3},{"base-currency":"ltc","quote-currency":"jpy","price-precision":0,"amount-precision":4,"symbol-partition":"default","symbol":"ltcjpy","state":"online","value-precision":0,"min-order-amt":0.001,"max-order-amt":25000,"min-order-value":100}[...]
