---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.jp/market/detail/merged?symbol=btcjpy
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btcjpy.detail.merged","ts":1561087458977,"tick":{"amount":18.219521073589636,"open":1004210.0,"close":1039073.0,"high":1050000.0,"id":100024128950,"count":1602,"low":976500.0,"version":100024128950,"ask":[1040177.0,0.0071],"vol":1.8522585218214292E7,"bid":[1037512.0,0.25]}}'
  recorded_at: Fri, 21 Jun 2019 03:24:17 GMT
recorded_with: VCR 4.0.0
