---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.kr/market/depth?symbol=btckrw&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btckrw.depth.step0","ts":1561088045727,"tick":{"bids":[[11422689.530000000000000000,0.039800000000000000],[11422673.040000000000000000,0.059700000000000000],[11409610.980000000000000000,0.023100000000000000],[11408429.250000000000000000,0.014200000000000000],[11407247.520000000000000000,0.031500000000000000],[11406065.790000000000000000,0.034900000000000000],[11404884.060000000000000000,0.016800000000000000],[11403702.330000000000000000,0.015700000000000000],[11402520.600000000000000000,0.029900000000000000],[11401338.870000000000000000,0.010200000[...]
