---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.kr/v1/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - dawn-broker-pro:default,prd:8080
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"base-currency":"dcr","quote-currency":"eth","price-precision":6,"amount-precision":4,"symbol-partition":"default","symbol":"dcreth","state":"online","value-precision":8,"min-order-amt":0.001,"max-order-amt":10000,"min-order-value":0.001},{"base-currency":"ven","quote-currency":"usdt","price-precision":4,"amount-precision":4,"symbol-partition":"default","symbol":"venusdt","state":"offline","value-precision":8,"min-order-amt":0.01,"max-order-amt":100000,"min-order-value":0.1},{"base-currency":"nkn","quote-currency":"btc","price-precision":8,"amount-precision":2,"symbol-partition":"default","symbol":"nknbtc","state":"online","value-precision":8,"min-order-amt":1,"max-order-amt":10000000,"min-order-value":0.0001},{"base-curre[...]
