---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.kr/market/history/trade?size=2000&symbol=btckrw
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btckrw.trade.detail","ts":1561088045988,"data":[{"id":100198347758,"ts":1561088034760,"data":[{"amount":0.562500000000000000,"ts":1561088034760,"id":10019834775837753570661,"price":11473500.010000000000000000,"direction":"sell"}]},{"id":100198347482,"ts":1561088021964,"data":[{"amount":0.008700000000000000,"ts":1561088021964,"id":10019834748237753551696,"price":11484033.160000000000000000,"direction":"sell"}]},{"id":100198347437,"ts":1561088017861,"data":[{"amount":0.178900000000000000,"ts":1561088017861,"id":10019834743737753546713,"price":11472999.980000000000000000,"direction":"sell"}]},{"id":100198347126,"ts":1561088002717,"data":[{"amount":0.011700000000000000,"ts":1561088002717,"id":10019834712637753526514[...]
