---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.kr/market/detail/merged?symbol=btckrw
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btckrw.detail.merged","ts":1561088045500,"tick":{"amount":1550.5955999999994,"open":1.109807235E7,"close":1.147350001E7,"high":1.160567682E7,"id":100198347758,"count":11732,"low":1.092512316E7,"version":100198347758,"ask":[1.153388798E7,0.0289],"vol":1.7441272590395897E10,"bid":[1.142268953E7,0.0398]}}'
  recorded_at: Fri, 21 Jun 2019 03:34:03 GMT
recorded_with: VCR 4.0.0
