---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.kr/market/history/trade?size=2000&symbol=btckrw
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btckrw.trade.detail","ts":1560932199275,"data":[{"id":100195141222,"ts":1560932183097,"data":[{"amount":0.218600000000000000,"ts":1560932183097,"id":10019514122237561975872,"price":10961999.990000000000000000,"direction":"buy"}]},{"id":100195140889,"ts":1560932169708,"data":[{"amount":0.016900000000000000,"ts":1560932169708,"id":10019514088937561955881,"price":10957479.890000000000000000,"direction":"buy"}]},{"id":100195140882,"ts":1560932169459,"data":[{"amount":0.005200000000000000,"ts":1560932169459,"id":10019514088237561955881,"price":10957479.890000000000000000,"direction":"buy"}]},{"id":100195140881,"ts":1560932169324,"data":[{"amount":0.030200000000000000,"ts":1560932169324,"id":10019514088137561956465,"p[...]
