---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.kr/market/depth?symbol=btckrw&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btckrw.depth.step0","ts":1560932198726,"tick":{"bids":[[10949460.940000000000000000,0.172900000000000000],[10949459.410000000000000000,0.180500000000000000],[10949458.410000000000000000,0.028200000000000000],[10947714.500000000000000000,0.019100000000000000],[10947248.830000000000000000,0.099900000000000000],[10947248.820000000000000000,0.044000000000000000],[10946842.840000000000000000,0.044000000000000000],[10946818.960000000000000000,0.022400000000000000],[10946807.020000000000000000,0.018700000000000000],[10946186.120000000000000000,0.044600000[...]
