---
http_interactions:
- request:
    method: get
    uri: https://api-cloud.huobi.co.kr/market/detail/merged?symbol=btckrw
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.btckrw.detail.merged","ts":1560932198479,"tick":{"amount":1276.3867189021778,"open":1.091609766E7,"close":1.096199999E7,"high":1.10435E7,"id":100195141222,"count":10478,"low":1.075599999E7,"version":100195141222,"ask":[1.097405747E7,0.1],"vol":1.3929221170573042E10,"bid":[1.094946094E7,0.1729]}}'
  recorded_at: Wed, 19 Jun 2019 08:16:38 GMT
recorded_with: VCR 4.0.0
