---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-1227/stats
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"openInterest":653.5539,"predictedExpirationPrice":8022.09237239,"volume":695.2278},"success":true}

        '
  recorded_at: Sun, 29 Sep 2019 16:39:40 GMT
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-1227
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"ask":8070.75,"bid":8070.0,"change1h":0.006016209476309227,"change24h":-0.01009140543524937,"description":"Bitcoin
        December 2019 Futures","enabled":true,"expired":false,"expiry":"2019-12-27T03:00:00+00:00","expiryDescription":"December
        2019","index":8022.09237239,"indexAdjustment":0.0,"last":8066.0,"lowerBound":7621.0,"mark":8068.25,"name":"BTC-1227","perpetual":false,"postOnly":false,"priceIncrement":0.25,"sizeIncrement":0.0001,"type":"future","underlying":"BTC","underlyingDescription":"Bitcoin","upperBound":8472.5,"volumeUsd24h":5679521.0965},"success":true}

        '
  recorded_at: Sun, 29 Sep 2019 16:39:41 GMT
recorded_with: VCR 4.0.0
