---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-PERP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"ask":8830.75,"bid":8827.5,"change1h":-0.0035543018335684063,"change24h":-0.0022314493122051805,"changeBod":0.004321619470032981,"description":"Bitcoin
        Perpetual Futures","enabled":true,"expired":false,"expiry":null,"expiryDescription":"Perpetual","index":8834.36711895,"last":8832.75,"lowerBound":8389.0,"mark":8831.0,"moveStart":null,"name":"BTC-PERP","perpetual":true,"postOnly":false,"priceIncrement":0.25,"sizeIncrement":0.0001,"type":"perpetual","underlying":"BTC","underlyingDescription":"Bitcoin","upperBound":9276.0,"volumeUsd24h":128549350.5123},"success":true}

        '
  recorded_at: Sun, 10 Nov 2019 13:37:28 GMT
recorded_with: VCR 4.0.0
