---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-MOVE-1015/stats
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"openInterest":126.1456,"predictedExpirationPrice":65.14844685648562,"strikePrice":8369.120928246486,"volume":206.3484},"success":true}

        '
  recorded_at: Tue, 15 Oct 2019 11:07:12 GMT
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-MOVE-1015
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"ask":90.5,"bid":89.25,"change1h":-0.09390862944162437,"change24h":-0.2205240174672489,"changeBod":-0.15201900237529692,"description":"Bitcoin
        MOVE 2019-10-15 Contracts","enabled":true,"expired":false,"expiry":"2019-10-16T00:00:00+00:00","expiryDescription":"Today","index":8303.97248139,"indexAdjustment":0.0,"last":85.25,"lowerBound":-328.25,"mark":89.25,"name":"BTC-MOVE-1015","perpetual":false,"postOnly":false,"priceIncrement":0.25,"sizeIncrement":0.0001,"type":"move","underlying":"BTC","underlyingDescription":"Bitcoin","upperBound":918.75,"volumeUsd24h":22769.512925},"success":true}

        '
  recorded_at: Tue, 15 Oct 2019 11:07:12 GMT
recorded_with: VCR 4.0.0
