---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-PERP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"ask":8487.5,"bid":8487.0,"change1h":-0.00167582982977097,"change24h":-0.12897599014980504,"description":"Bitcoin
        Perpetual Futures","enabled":true,"expired":false,"expiry":null,"index":8485.23013516,"indexAdjustment":0.0,"last":8486.25,"lowerBound":8061.0,"mark":8489.0,"name":"BTC-PERP","perpetual":true,"postOnly":false,"priceIncrement":0.25,"sizeIncrement":0.0001,"type":"perpetual","underlying":"BTC","upperBound":8912.75,"volumeUsd24h":326302730.082825},"success":true}

        '
  recorded_at: Wed, 25 Sep 2019 06:57:42 GMT
recorded_with: VCR 4.0.0
