---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets/BTC-1227/orderbook?depth=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"asks":[[10338.75,20.986],[10339.75,1.1093],[10341.5,0.162],[10342.0,70.0516],[10345.5,70.8324],[10368.5,97.1419],[10386.0,86.7831],[10392.0,106.9881],[10400.25,104.5029],[10406.25,7.978],[10407.75,154.5124],[10415.5,7.2166],[10425.0,141.879],[10426.75,7.965],[10431.75,7.6181],[10440.0,7.7878],[10468.5,134.6799],[10484.5,178.1402],[10750.0,0.5],[10909.75,9.1661]],"bids":[[10338.25,23.9245],[10335.25,45.0301],[10327.5,60.6052],[10315.25,64.0548],[10307.75,68.2496],[10303.5,104.7653],[10285.5,76.9053],[10281.5,106.4119],[10279.75,85.7388],[10212.0,148.0722],[10178.0,197.4886],[10119.5,0.4802],[10100.5,8.0549],[10089.75,7.9134],[10081.75,7.8013],[10066.0,8.6285],[10055.5,8.6298],[10050.0,0.2],[9950.0,0.25],[9750.0,0.25]]},"success":true}

        '
  recorded_at: Mon, 23 Sep 2019 04:34:30 GMT
recorded_with: VCR 4.0.0
