---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-1227
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"ask":10338.75,"bid":10338.25,"change1h":0.001914037893104618,"change24h":0.014872260534517878,"description":"Bitcoin
        December 2019 Futures","enabled":true,"expired":false,"expiry":"2019-12-27T03:00:00+00:00","index":9968.20296255,"indexAdjustment":0.0,"last":10337.75,"lowerBound":9451.5,"mark":10338.25,"name":"BTC-1227","perpetual":false,"postOnly":false,"priceIncrement":0.25,"sizeIncrement":0.0001,"type":"future","underlying":"BTC","upperBound":10853.0,"volumeUsd24h":2217.6322},"success":true}

        '
  recorded_at: Mon, 23 Sep 2019 04:34:30 GMT
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-1227/stats
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"openInterest":492.2752,"predictedExpirationPrice":10338.25,"volume":79.967},"success":true}

        '
  recorded_at: Mon, 23 Sep 2019 04:34:30 GMT
recorded_with: VCR 4.0.0
