---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"ask":0.1997,"bid":0.1989,"change1h":-0.027437530622243998,"change24h":-0.2805364262413918,"description":"Algorand
        Perpetual Futures","enabled":true,"expired":false,"expiry":null,"index":0.19971879,"indexAdjustment":0.0,"last":0.1981,"lowerBound":0.1892,"mark":0.1985,"name":"ALGO-PERP","perpetual":true,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"type":"perpetual","underlying":"ALGO","upperBound":0.2097,"volumeUsd24h":6268224.6105},{"ask":0.199,"bid":0.1988,"change1h":-0.023529411764705882,"change24h":-0.27642571739920085,"description":"Algorand
        September 2019 Futures","enabled":true,"expired":false,"expiry":"2019-09-27T03:00:00+00:00","index":0.19971879,"indexAdjustment":0.0,"last":0.2061,"lowerBound":0.1894,"mark":0.1992,"name":"ALGO-0927","perpetual":false,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"type":"future","underlying":"ALGO","upperBound":0.2097,"volumeUsd24h":49986.0448},[...]
