---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-PERP/stats
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"nextFundingRate":3.2e-05,"nextFundingTime":"2019-09-13T20:00:00+00:00","openInterest":870.895,"volume":9806.5575},"success":true}

        '
  recorded_at: Fri, 13 Sep 2019 19:46:04 GMT
recorded_with: VCR 4.0.0
