---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-PERP/stats
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"nextFundingRate":4e-06,"nextFundingTime":"2019-09-25T07:00:00+00:00","openInterest":948.9236,"volume":37586.9768},"success":true}

        '
  recorded_at: Wed, 25 Sep 2019 06:57:43 GMT
recorded_with: VCR 4.0.0
