---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets/BTC-PERP/orderbook?depth=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"asks":[[8487.5,164.5111],[8492.0,128.9642],[8494.5,0.4211],[8495.0,34.9406],[8499.75,42.3547],[8501.5,43.3838],[8503.5,0.9342],[8511.0,0.0002],[8511.75,57.6096],[8512.75,0.0009],[8513.75,33.0807],[8515.25,0.858],[8517.75,63.1887],[8529.5,38.213],[8530.0,46.2424],[8532.5,32.3617],[8537.75,58.8871],[8544.25,45.9904],[8547.25,61.0174],[8551.0,41.8889],[8554.0,68.347],[8560.0,0.0012],[8563.75,65.5899],[8564.5,54.3297],[8564.75,0.0051],[8580.0,55.8351],[8586.25,0.004],[8591.5,51.212],[8598.75,70.6546],[8603.75,75.2623],[8614.0,93.8664],[8618.0,82.7558],[8620.0,0.0638],[8631.25,103.7843],[8695.0,3.0],[8698.5,1.0],[8711.0,0.1885],[8725.75,1.0],[8729.75,106.8023],[8748.75,0.0057],[8750.0,1.3265],[8751.0,0.0571],[8771.0,0.057],[8800.0,0.1],[8858.0,25.0],[8900.0,0.05],[8930.0,30.0],[8960.0,3.0],[9000.0,0.1],[9100.0,0.1],[9230.25,2.0],[9360.0,3.0],[9564.25,0.5],[9600.0,0.15],[9766.0,0.2],[9819.25,0.0686],[9980.0,0.0906],[10400.0,0.05],[10450.0,0.01],[10702.0,0.15],[11285.0,0.25],[11650.0,0.05],[11800.0,0.05],[20000.0,0.0295]],"bids":[[8487.0,126.4941],[8486.0,119.2104],[8484.0,0.3416],[8479.25,23.5605],[8473.75,25.977],[8471.25,28.0158],[8467.0,30.3625],[8463.25,0.6439],[8461.5,33.5008],[8460.0,41.8061],[8457.75,0.0003],[8452.0,42.1487],[8450.0,0.5917],[8446.0,0.001],[8445.75,73.0915],[8445.5,53.6818],[8442.75,50.3653],[8430.5,68.1647],[8415.75,80.4171],[8411.5,0.0052],[8411.25,67.1207],[8409.75,89.1677],[8407.75,79.2719],[8383.5,0.0041],[8373.25,70.7876],[8343.25,73.5099],[8318.5,0.3318],[8318.0,99.8355],[8317.0,89.3371],[8315.5,82.4972],[8311.0,2.5267],[8310.0,2.311],[8309.0,24.2442],[8300.0,119.368],[8287.0,0.0603],[8261.5,91.8471],[8260.0,0.1885],[8247.0,0.0023],[8223.5,113.0875],[8223.0,1.0],[8219.25,90.9184],[8100.0,0.15],[8000.0,1.0],[7896.0,1.0],[7883.0,4.0],[7868.0,0.0054],[7866.0,0.4265],[7800.0,12.8205],[7733.0,0.1293],[7725.25,3.0],[7713.0,0.1296],[7693.0,0.1299],[7677.0,0.0384],[7663.0,0.1304],[7633.0,0.131],[7627.0,0.008],[7593.0,0.1317],[7573.0,0.132],[7553.0,0.1323],[7550.0,0.5685],[7523.0,0.1329],[7500.0,2.6],[7493.0,0.1334],[7473.0,0.1338],[7453.0,0.1341],[7423.0,0.1347],[7403.0,0.135],[7400.0,2.0],[7383.0,0.1354],[7353.0,0.1359],[7300.0,2.1],[7250.0,0.6854],[7200.0,2.0],[7100.0,3.0],[6013.5,0.0313]]},"success":true}

        '
  recorded_at: Wed, 25 Sep 2019 06:57:43 GMT
recorded_with: VCR 4.0.0
