---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"ask":0.7903,"bid":0.7901,"change1h":-0.011507191994996873,"change24h":-0.02780169762578423,"description":"Algorand
        September 2019 Futures","enabled":true,"expired":false,"expiry":"2019-09-27T03:00:00+00:00","index":0.7888904,"indexAdjustment":0.0,"last":0.8074,"lowerBound":0.7494,"mark":0.7903,"name":"ALGO-0927","perpetual":false,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"underlying":"ALGO","upperBound":0.8289,"volumeUsd24h":53413.514},{"ask":0.7899,"bid":0.7897,"change1h":-0.011017904094152998,"change24h":-0.028174212598425195,"description":"Algorand
        Perpetual Futures","enabled":true,"expired":false,"expiry":null,"index":0.7888904,"indexAdjustment":0.0,"last":0.795,"lowerBound":0.7494,"mark":0.7899,"name":"ALGO-PERP","perpetual":true,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"underlying":"ALGO","upperBound":0.8286,"volumeUsd24h":49191.35},{"ask":739.0,"bid":738.8,"change1h":0.005168661588[...]
