---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-PERP/stats
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"nextFundingRate":-3.7e-05,"nextFundingTime":"2019-09-29T17:00:00+00:00","openInterest":1358.3456,"volume":25927.4427},"success":true}

        '
  recorded_at: Sun, 29 Sep 2019 16:39:40 GMT
recorded_with: VCR 4.0.0
