---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"ask":0.2897,"bid":0.2894,"change1h":0.012596221133659902,"change24h":-0.05640691229214216,"description":"Algorand
        Perpetual Futures","enabled":true,"expired":false,"expiry":null,"index":0.28937915,"indexAdjustment":0.0,"last":0.2882,"lowerBound":0.2749,"mark":0.2894,"name":"ALGO-PERP","perpetual":true,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"type":"perpetual","underlying":"ALGO","upperBound":0.3038,"volumeUsd24h":0.0},{"ask":0.2889,"bid":0.2887,"change1h":0.01049317943336831,"change24h":-0.05464659685863874,"description":"Algorand
        September 2019 Futures","enabled":true,"expired":false,"expiry":"2019-09-27T03:00:00+00:00","index":0.28937915,"indexAdjustment":0.0,"last":0.2911,"lowerBound":0.2744,"mark":0.2889,"name":"ALGO-0927","perpetual":false,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"type":"future","underlying":"ALGO","upperBound":0.3038,"volumeUsd24h":854369.0388},{"ask":0.[...]
