---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/futures/BTC-PERP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"ask":10775.5,"bid":10773.5,"change1h":0.006797318446193735,"change24h":0.03900298910423296,"description":"Bitcoin
        Perpetual Futures","enabled":true,"expired":false,"expiry":null,"index":10764.0101334,"indexAdjustment":0.0,"last":10795.75,"lowerBound":10225.25,"mark":10775.5,"name":"BTC-PERP","perpetual":true,"postOnly":false,"priceIncrement":0.25,"sizeIncrement":0.001,"underlying":"BTC","upperBound":11318.5,"volumeUsd24h":56295005.329},"success":true}

'
  recorded_at: Tue, 16 Jul 2019 11:39:33 GMT
recorded_with: VCR 4.0.0
