---
http_interactions:
- request:
    method: get
    uri: https://api.hoo.com/open/v1/depth/market?symbol=BCH-USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-N:
      - S
    body:
      encoding: UTF-8
      string: '{"code":0,"data":{"bids":[{"price":"235.52","quantity":"0.16976"},{"price":"235.49","quantity":"2.64712"},{"price":"235.47","quantity":"6.65622"},{"price":"235.46","quantity":"0.49832"},{"price":"235.45","quantity":"2.50048"},{"price":"235.44","quantity":"1.6"},{"price":"235.43","quantity":"0.50966"},{"price":"235.42","quantity":"24.7358"},{"price":"235.41","quantity":"20.012"},{"price":"235.4","quantity":"40.9892"},{"price":"235.39","quantity":"3.11255"},{"price":"235.38","quantity":"2.79374"},{"price":"235.37","quantity":"3.3962"},{"price":"235.36[...]
