---
http_interactions:
- request:
    method: get
    uri: https://api.hoo.com/open/v1/tickers/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"amount":"2434507.202061","amt_num":3,"change":"0.01926001","high":"2.033","low":"1.977","price":"2.011","qty_num":3,"symbol":"ATOM-USDT","volume":"1132738.089"},{"amount":"12962.77099099","amt_num":5,"change":"0.06930693","high":"0.00118","low":"0.00105","price":"0.00108","qty_num":1,"symbol":"RUB-USDT","volume":"9393468.39999994"},{"amount":"36328.889193","amt_num":4,"change":"0.05194805","high":"0.0975","low":"0.0943","price":"0.0972","qty_num":2,"symbol":"STX-USDT","volume":"412934.71"},{"amount":"503.767746","amt_num":4,"change":"0.16666666","high":"0.0021","low":"0.0018","price":"0.0021","qty_num":2,"symbol":"WBI-EOS","volume":"30080[...]
