---
http_interactions:
- request:
    method: get
    uri: https://api.darbfinance.com/api/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '6000'
      X-Ratelimit-Remaining:
      - '5999'
      X-Ratelimit-Reset:
      - '1563958476'
    body:
      encoding: UTF-8
      string: '[{"symbol":"ETH_EUR","lowPrice":182.64,"highPrice":196.42,"volume":274.37510735,"lastPrice":186.31,"priceChangePercent":-0.72},{"symbol":"TRX_BTC","lowPrice":0.00000225,"highPrice":0.00000256,"volume":156205.18980605,"lastPrice":0.0000024,"priceChangePercent":-4},{"symbol":"BTC_EUR","lowPrice":8624.92,"highPrice":9169.36,"volume":7.43385505,"lastPrice":8768.09,"priceChangePercent":-1.52},{"symbol":"ADA_BTC","lowPrice":0.00000552,"highPrice":0.00000575,"volume":136901.71452936,"lastPrice":0.00000575,"priceChangePercent":1.23},{"symbol":"ZEC_BTC","lowPrice":0.0069729,"highPrice":0.0072239,"volume":373.83296669,"las[...]
