---
http_interactions:
- request:
    method: post
    uri: https://api.idex.market/returnTradeHistory
    body:
      encoding: UTF-8
      string: '{"market":"ETH_SNT"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b747-QugM8rRx1a0InXzT45rjh0LmWio"
    body:
      encoding: UTF-8
      string: '[{"date":"2018-01-25 06:12:53","amount":"33333","type":"sell","total":"9.73090269","price":"0.00029193","orderHash":"0x660a30ed5207122b33611703b70533cad3fae49f279c03a0ed7d2816edc863f6","uuid":"c756d940-0196-11e8-a15c-270796dc2946","buyerFee":"33.333","sellerFee":"0.01946180538","gasFee":"0.004759999999999995","timestamp":1516860773,"maker":"0xe7545f76ecbc8435d348c79db53ea6e6693578ff","taker":"0xe7545f76ecbc8435d348c79db53ea6e6693578ff","transactionHash":"0xa8758a455801d30349b6bc1cc1576bed958c8d6a78f0feb88ad5986857ffd899"},{"date":"2018-01-25
        06:12:22","amount":"46106.948229506700922437","type":"sell","total":"13.444786103724153988","price":"0.0002916","orderHash":"0xed4c4436cbfcae5d2ded52506f5a0012ac37baeee8016ea5f70123690ca35051","uuid":"b5119270-0196-11e8-a15c-270796dc2946","buyerFee":"46.106948229506700922","sellerFee":"0.026889572207448308","gasFee":"0.004759999999999988","timestamp":1516860742,"maker":"0xe7545f76ecbc8435d348c79db53[...]
