---
http_interactions:
- request:
    method: post
    uri: https://api.idex.market/returnTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e284-1d+wTnrbxizB/+qbvTgxVh4MK04"
    body:
      encoding: UTF-8
      string: '{"ETH_PLU":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_1ST":{"last":"0.0012","high":"N/A","low":"N/A","lowestAsk":"0.012","highestBid":"0.00021","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_VSL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ARC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0097","highestBid":"0.00090001","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ICN":{"last":"0.004013943488579718","high":"N/A","low":"N/A","lowestAsk":"0.0294","highestBid":"0.000501","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_REP":{"last":"0.09","high":"0.09","low":"0.09","lowestAsk":"0.09","highestBid":"0.069","percentChange":"0","baseVolume":"0.18","quoteVolume":"2"},"ETH_SNGLS":{"last":"0.0024038","high":"0.0024038","low":"0.00240379","lowestAsk":"0.00278321","highestBid":"0.000031","percentChange":"0.00041601","baseVolume":"0.7980586","quoteVolume":"332"},"ETH_XAUR":{"last":"0.0015","high":"N/A","low":"N/A","lowestAsk":"0.0011951","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DGD":{"last":"0.22","high":"0.22","low":"0.22","lowestAsk":"0.205","highestBid":"0.02","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_P+":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NXC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DCN":{"last":"0.00000385","high":"0.00000385","low":"0.00000385","lowestAsk":"0.00000385","highestBid":"0.00000045","percentChange":"0","baseVolume":"0.19288885","quoteVolume":"50101"},"ETH_SWT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0313751","highestBid":"0.0004","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EMV":{"last":"0.0006","high":"0.0006","low":"0.0006","lowestAsk":"0.00073254","highestBid":"0.000111","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TIME":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.369487","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MLN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.871","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RHOC":{"last":"0.00237","high":"N/A","low":"N/A","lowestAsk":"0.0022","highestBid":"0.0012","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EDG":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0191083","highestBid":"0.0001804","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GUP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.084179","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RLC":{"last":"0.00260359","high":"0.00260359","low":"0.00260359","lowestAsk":"0.7499651","highestBid":"0.0002678","percentChange":"0","baseVolume":"0.781077","quoteVolume":"300"},"ETH_TRST":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"0.0000084","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DICE":{"last":"0.003","high":"0.003","low":"0.003","lowestAsk":"0.0234709","highestBid":"0.0003","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TAAS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0859","highestBid":"0.000080921","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GNO":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.989999999999999998","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WINGS":{"last":"0.00100529","high":"0.00100529","low":"0.00100529","lowestAsk":"0.0136785","highestBid":"0.0001328","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LUN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"0.006","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TKN":{"last":"0.078","high":"N/A","low":"N/A","lowestAsk":"0.0084","highestBid":"0.0003","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_HMQ":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0029999","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ANT":{"last":"0.00075","high":"0.00075","low":"0.00075","lowestAsk":"0.9","highestBid":"0.00076","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SGT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BCAP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BAT":{"last":"0.00055","high":"0.00055","low":"0.00055","lowestAsk":"0.004800005","highestBid":"0.000111","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MYST":{"last":"0.00240599","high":"N/A","low":"N/A","lowestAsk":"0.0226646","highestBid":"0.0004","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CFI":{"last":"0.0020577","high":"0.0020577","low":"0.0020577","lowestAsk":"0.002","highestBid":"0.00002105","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MGO":{"last":"0.00111468","high":"0.00111468","low":"0.0011","lowestAsk":"0.00105","highestBid":"0.00009002","percentChange":"1.33454545","baseVolume":"0.775436","quoteVolume":"700"},"ETH_PTOY":{"last":"0.00057715","high":"N/A","low":"N/A","lowestAsk":"0.00095","highestBid":"0.0000035854","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BNT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"0.0008","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_QRL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GOOD":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0002304068","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SNT":{"last":"0.00029193","high":"0.00029193","low":"0.00027662","lowestAsk":"0.00048595","highestBid":"0.00020093","percentChange":"5.5346685","baseVolume":"23.422724774478010378","quoteVolume":"80333"},"ETH_SONM":{"last":"10000","high":"10000","low":"10000","lowestAsk":"0.0384","highestBid":"0.000051","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NMR":{"last":"0.07489","high":"N/A","low":"N/A","lowestAsk":"0.1387","highestBid":"0.00301","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MCAP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.5","highestBid":"0.000048567","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PAY":{"last":"0.0039","high":"0.0039","low":"0.0039","lowestAsk":"0.003","highestBid":"0.000310005","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ICE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0018099","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PPT":{"last":"0.799","high":"N/A","low":"N/A","lowestAsk":"0.05499901","highestBid":"0.0005505","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FUN":{"last":"0.00025","high":"0.00037","low":"0.00025","lowestAsk":"0.00023","highestBid":"0.0000311","percentChange":"-32.43243243","baseVolume":"1.7492952336175","quoteVolume":"6757.18093447"},"ETH_ADT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0012","highestBid":"0.000011","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_E4ROW":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_STORJ":{"last":"0.00138486","high":"0.00138486","low":"0.00138486","lowestAsk":"0.0192","highestBid":"0.000201","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NET":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EOS":{"last":"0.01350777","high":"0.01350777","low":"0.0099","lowestAsk":"0.018995","highestBid":"0.010500009999999999","percentChange":"33.74029703","baseVolume":"24.446322275145798024","quoteVolume":"1857.602571858297878917"},"ETH_ADX":{"last":"0.009999998","high":"0.009999998","low":"0.00999999","lowestAsk":"0.0066","highestBid":"0.000255500001","percentChange":"0.00008","baseVolume":"0.39999972","quoteVolume":"40"},"ETH_DRP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BET":{"last":"0.00009994","high":"N/A","low":"N/A","lowestAsk":"0.001556","highestBid":"0.000001455","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PLBT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_OMG":{"last":"0.0147","high":"0.0147","low":"0.0147","lowestAsk":"0.0189998901","highestBid":"0.009353","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BNB":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.15375","highestBid":"0.001528","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NEWB":{"last":"0.000031","high":"0.000031","low":"0.000031","lowestAsk":"0.0000325","highestBid":"0.0000275","percentChange":"0","baseVolume":"2.635","quoteVolume":"85000"},"ETH_XRL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0033449","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MBRS":{"last":"0.00025","high":"0.00025","low":"0.00025","lowestAsk":"0.000195","highestBid":"0.000009","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MTL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"0.005","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FUCK":{"last":"0.000041899","high":"0.000042","low":"0.0000311","lowestAsk":"0.00004179","highestBid":"0.000033","percentChange":"4.82611959","baseVolume":"7.5627207645858","quoteVolume":"158472.262200000284033024"},"ETH_NXX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BTH":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PLR":{"last":"32000","high":"N/A","low":"N/A","lowestAsk":"100","highestBid":"0.000100219","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CVC":{"last":"0.00067285","high":"0.00067285","low":"0.00067285","lowestAsk":"0.00129","highestBid":"0.00018131","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LNK":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SKIN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DGT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ECN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BCD":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0009999","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TIX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CDT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IXT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_AIRA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_OAX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CLRT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MSP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BAS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.00089","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KTN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DNT":{"last":"0.0001001","high":"0.00143782","low":"0.0001001","lowestAsk":"0.00059999","highestBid":"0.0001001","percentChange":"-93.03807152","baseVolume":"5.460422651737537296","quoteVolume":"26814.343712343597904059"},"ETH_BRAT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BQX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"1000","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_STX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.105779","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FYN":{"last":"0.00392888","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"0.000472413","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CREDO":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"45260","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NIH":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_QAU":{"last":"0.00013","high":"0.00013","low":"0.00013","lowestAsk":"0.0395","highestBid":"N/A","percentChange":"0","baseVolume":"0.26","quoteVolume":"2000"},"ETH_DENT":{"last":"0.000049999001","high":"0.000049999001","low":"0.000049999001","lowestAsk":"0.000049999001","highestBid":"0.00002022","percentChange":"0","baseVolume":"0.284465323499275543","quoteVolume":"5689.42014458"},"ETH_SHOUC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.001","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GUNS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SAN":{"last":"0.00259955","high":"0.00259955","low":"0.00259955","lowestAsk":"0.00743","highestBid":"0.0006","percentChange":"0","baseVolume":"3.63937","quoteVolume":"1400"},"ETH_IND":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.99","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LUCK":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.003111","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RIYA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ZRX":{"last":"0.00157688","high":"0.00264389","low":"0.00157607","lowestAsk":"0.00157135","highestBid":"0.00156","percentChange":"-31.44","baseVolume":"18.907799861360853795","quoteVolume":"11886.23545092387346376"},"ETH_MCO":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.112383","highestBid":"0.002","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DEL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_STRC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GTKT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_POE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"0.00002","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BENJA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IDEA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.00003","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WTT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.00135","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RARE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SCL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.003","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TFL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IFT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MyB":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_OPT":{"last":"0.0000879","high":"0.0000879","low":"0.0000879","lowestAsk":"0.00011","highestBid":"0.0000112347","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FLIK":{"last":"0.005","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"0.00001","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MTP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0000000000000001","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ADST":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.3","highestBid":"0.000081317","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DALC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DDF":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LRC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.00865","highestBid":"0.000300099999999999","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RVT":{"last":"0.003","high":"0.003","low":"0.003","lowestAsk":"0.0038","highestBid":"0.0002","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PIX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.00032","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TOV":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.00004","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TNT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0022967","highestBid":"0.00004","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CTR":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"1.2","highestBid":"0.000019307","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_VEN":{"last":"0.008174633","high":"0.008174633","low":"0.008174633","lowestAsk":"0.0395","highestBid":"0.0063","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BPT":{"last":"0.00039499","high":"0.000499","low":"0.00035","lowestAsk":"0.00039499","highestBid":"0.00038121","percentChange":"-1.2525","baseVolume":"219.872245869524589868","quoteVolume":"550796.408569081075096108"},"ETH_REX":{"last":"0.00115","high":"0.00115","low":"0.00115","lowestAsk":"0.00194","highestBid":"0.00081","percentChange":"0","baseVolume":"0.345","quoteVolume":"300"},"ETH_BTE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ROC":{"last":"0.0008","high":"0.0008","low":"0.0008","lowestAsk":"0.00099","highestBid":"0.00046","percentChange":"0","baseVolume":"1","quoteVolume":"1250"},"ETH_MANA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.1","highestBid":"0.00002001","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KICK":{"last":"0.0008826","high":"0.0008826","low":"0.0008826","lowestAsk":"0.00071999","highestBid":"0.0000124200001","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_YC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MTH":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.8","highestBid":"0.00023693","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_REAL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.00149899","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MPRM":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.000014223143212223","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ATT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SNC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MCI":{"last":"0.00007","high":"N/A","low":"N/A","lowestAsk":"125746.25448","highestBid":"0.0000112283","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WTC":{"last":"0.042","high":"0.042","low":"0.042","lowestAsk":"1000","highestBid":"0.00191","percentChange":"0","baseVolume":"0.294","quoteVolume":"7"},"ETH_AE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"5","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CCT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0025","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ELIX":{"last":"0.001685","high":"0.001685","low":"0.001685","lowestAsk":"0.00147","highestBid":"0.000022","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_AVT":{"last":"0.011","high":"N/A","low":"N/A","lowestAsk":"0.8","highestBid":"0.00051","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FAM":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.1102831003","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_UMC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ETBS":{"last":"0.006","high":"N/A","low":"N/A","lowestAsk":"7","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WILD":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ORME":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"500","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SQRL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_AUA":{"last":"0.001204","high":"0.003","low":"0.001204","lowestAsk":"0.0010319","highestBid":"0.001039","percentChange":"-20.77904987","baseVolume":"114.97045319725738","quoteVolume":"44004.828810000471183286"},"ETH_MCD":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NDC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.002","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TPT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DLT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.007025","highestBid":"0.000072","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BOP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MDA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"9.99","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PST":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_JADE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ART":{"last":"0.002075","high":"0.002075","low":"0.002075","lowestAsk":"0.002075","highestBid":"0.0005","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PGL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FLIP":{"last":"0.000293","high":"0.000293","low":"0.000293","lowestAsk":"0.00025","highestBid":"0.000078","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KIN":{"last":"0.00000034","high":"0.00000044","low":"0.00000034","lowestAsk":"0.00000042","highestBid":"0.000000346","percentChange":"-19.04761905","baseVolume":"10.550722564476632625","quoteVolume":"27055808.619441214191532054"},"ETH_PRS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MRV":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BOTA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TGT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.0054123","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BTN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.000025","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TRX":{"last":"0.00007997001","high":"0.0000844999901","low":"0.00007","lowestAsk":"0.00007989","highestBid":"0.00004551","percentChange":"-5.33852983","baseVolume":"1.72759401498009547","quoteVolume":"21220.353025"},"ETH_ATL":{"last":"0.0015","high":"0.0015","low":"0.0015","lowestAsk":"0.0015","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_COB":{"last":"0.0003","high":"0.0003","low":"0.0003","lowestAsk":"0.0086","highestBid":"0.0003","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PRO":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IQT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"1","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_STU":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.000313872","highestBid":"0.00010298","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_XHY":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ARX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KING":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BITS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EBET":{"last":"0.00090999","high":"N/A","low":"N/A","lowestAsk":"0.0058101","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CNX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_HBT":{"last":"0.0002","high":"0.0002106","low":"0.0002","lowestAsk":"0.0019","highestBid":"0.00045","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KNC":{"last":"1000","high":"N/A","low":"N/A","lowestAsk":"0.839","highestBid":"0.00046111","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_YESTERDAY":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.68","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_POS":{"last":"0.0029","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TKR":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.00869","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GGS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.00245","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RLX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ARENA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ATS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"0.001","highestBid":"0.00002","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RSPR":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WIC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_VOISE":{"last":"0.0008","high":"0.0008","low":"0.0008","lowestAsk":"0.002","highestBid":"0.0000064372","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_HGT":{"last":"0.00029999","high":"0.00029999","low":"0.00029999","lowestAsk":"0.0002499901","highestBid":"0.00002498","percentChange":"0","baseVolume":"0","quoteVolume":
[...]
