---
http_interactions:
- request:
    method: post
    uri: https://api.idex.market/returnTicker
    body:
      encoding: UTF-8
      string: '{"market":"ETH_SNT"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c6-BVFhq0WPdcsikoWKy4l3f8RFfNI"
    body:
      encoding: UTF-8
      string: '{"last":"0.00029193","high":"0.00029193","low":"0.00027662","lowestAsk":"0.00048595","highestBid":"0.00020093","percentChange":"5.5346685","baseVolume":"23.422724774478010378","quoteVolume":"80333"}'
  recorded_at: Thu, 25 Jan 2018 09:52:29 GMT
recorded_with: VCR 3.0.3
