---
http_interactions:
- request:
    method: post
    uri: https://api.idex.market/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3272a-/9jzHlQufs4EDnSYCbiSLQ7Lqfs"
    body:
      encoding: UTF-8
      string: '{"ETH_PLU":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_1ST":{"last":"0.00022652","high":"0.00097","low":"0.000020031","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-0.65783703","baseVolume":"15.76703122154557302","quoteVolume":"42656.443838013843330136"},"ETH_VSL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ARC":{"last":"0.0097","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ICN":{"last":"0.004999720000000004","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_REP":{"last":"0.064","high":"0.064","low":"0.064","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.5248","quoteVolume":"8.2"},"ETH_SNGLS":{"last":"0.00006","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_XAUR":{"last":"0.0015","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DGD":{"last":"0.60500002","high":"0.731","low":"0.60500002","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-17.23665937","baseVolume":"1.00859323025787986","quoteVolume":"0.756251846753343993"},"ETH_P+":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NXC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DCN":{"last":"0.00000076","high":"0.00000076","low":"0.00000076","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.16999908","quoteVolume":"223683"},"ETH_SWT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EMV":{"last":"0.0009","high":"0.0009","low":"0.00072","lowestAsk":"N/A","highestBid":"N/A","percentChange":"23.28767123","baseVolume":"2.02688","quoteVolume":"2686.5"},"ETH_TIME":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MLN":{"last":"0.094506525779736","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RHOC":{"last":"0.00167889","high":"0.00167889","low":"0.00167889","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EDG":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GUP":{"last":"0.000434395365558756","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RLC":{"last":"0.00132302","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TRST":{"last":"0.000334","high":"0.000334","low":"0.000334","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DICE":{"last":"0.002995","high":"0.002995","low":"0.002995","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TAAS":{"last":"0.00898","high":"0.00898","low":"0.00898","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GNO":{"last":"0.5","high":"0.5","low":"0.5","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WINGS":{"last":"0.00134995","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LUN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TKN":{"last":"0.001455014855073914","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_HMQ":{"last":"0.00025513","high":"0.003542139999772751","low":"0.00025513","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ANT":{"last":"0.004176679629487874","high":"0.00899959","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SGT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BCAP":{"last":"0.00279","high":"0.00279","low":"0.00279","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BAT":{"last":"0.00049973998","high":"0.00049973998","low":"0.00049973998","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MYST":{"last":"0.00098023","high":"0.00098023","low":"0.00098023","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CFI":{"last":"0.00014999","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MGO":{"last":"0.000725","high":"0.000725","low":"0.000725","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.3132618684115","quoteVolume":"432.08533574"},"ETH_PTOY":{"last":"0.00057715","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BNT":{"last":"0.009144027578387177","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_QRL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GOOD":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SNT":{"last":"0.00015","high":"0.00015","low":"0.00015","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SNM":{"last":"0.00005366","high":"0.00005366","low":"0.00005366","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NMR":{"last":"0.0207154","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MCAP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PAY":{"last":"0.0023","high":"0.0023","low":"0.00229","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0.43668122","baseVolume":"1.962952602662759","quoteVolume":"855.8308308571"},"ETH_ICE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PPT":{"last":"0.028028431280949267","high":"0.0322","low":"0.026960489126167857","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-12.95518236","baseVolume":"4.442507639700464427","quoteVolume":"55.747400010180827085"},"ETH_FUN":{"last":"0.000075444","high":"0.000075444","low":"0.00007535","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ADT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_E4ROW":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_STORJ":{"last":"0.00092926","high":"0.00092926","low":"0.00092926","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NET":{"last":"0.0030316964857898","high":"0.0030316964857898","low":"0.0030316964857898","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EOS":{"last":"0.0122500193","high":"0.0122500193","low":"0.00915","lowestAsk":"N/A","highestBid":"N/A","percentChange":"15.34858098","baseVolume":"7.972434405303324992","quoteVolume":"732.438605297663033131"},"ETH_ADX":{"last":"0.001979920480749933","high":"0.001979920480749933","low":"0.001979920480749933","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DRP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BET":{"last":"0.00009994","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PLBT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_OMG":{"last":"0.020121001","high":"0.024879978999999998","low":"0.020120001","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-5.08966269","baseVolume":"2.914317730189154215","quoteVolume":"126.350696281256270177"},"ETH_BNB":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NEWB":{"last":"0.000012","high":"0.000012","low":"0.000012","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.787908","quoteVolume":"65659"},"ETH_XRL":{"last":"0.000268999","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MBRS":{"last":"0.000055","high":"0.000055","low":"0.000055","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.275","quoteVolume":"5000"},"ETH_MTL":{"last":"0.00685","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FUCK":{"last":"N/A","high":"0.0000345","low":"0.000024","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BTH":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PLR":{"last":"0.0008499","high":"0.0008499","low":"0.0006511","lowestAsk":"N/A","highestBid":"N/A","percentChange":"30.53294425","baseVolume":"0.561239009571999998","quoteVolume":"772.509024516324038061"},"ETH_CVC":{"last":"0.000844979999998126","high":"0.000844979999998126","low":"0.0004","lowestAsk":"N/A","highestBid":"N/A","percentChange":"111.245","baseVolume":"1.556958514479163738","quoteVolume":"3206.99999998"},"ETH_LNK":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SKIN":{"last":"0.00002672","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BCD":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TIX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CDT":{"last":"0.00048887","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IXT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_AIRA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_OAX":{"last":"0.00185","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CLRT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MSP":{"last":"0.00015446431","high":"0.00015448432","low":"0.00015446431","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BAS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KTN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DNT":{"last":"0.00009001","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BRAT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BQX":{"last":"0.00348185","high":"0.00348187","low":"0.00348185","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_STX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FYN":{"last":"0.004","high":"0.004","low":"0.004","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CREDO":{"last":"0.00019999","high":"0.00019999","low":"0.00019999","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NIH":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_QAU":{"last":"0.001","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DENT":{"last":"0.000020999","high":"0.000020999","low":"0.000020999","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.12792433890159253","quoteVolume":"6091.92527747"},"ETH_GUNS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SAN":{"last":"0.0015002","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IND":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LUCK":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ZRX":{"last":"0.0010886","high":"0.0010887","low":"0.00095","lowestAsk":"N/A","highestBid":"N/A","percentChange":"14.58947368","baseVolume":"1.597937479999999998","quoteVolume":"1534.768718842256093425"},"ETH_MCO":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DEL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_STRC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GTKT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_POE":{"last":"0.00005998","high":"0.00005998","low":"0.00005998","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.152949","quoteVolume":"2550"},"ETH_BENJA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IDEA":{"last":"0.0000005","high":"0.0000005","low":"0.0000005","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WTT":{"last":"0.001200011","high":"0.001200011","low":"0.001200011","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SCL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TFL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IFT":{"last":"0.000100010011499999","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MyB":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FLIK":{"last":"0.005","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MTP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ADST":{"last":"0.000081317","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DALC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DDF":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LRC":{"last":"0.00084998","high":"0.00084998","low":"0.00084998","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RVT":{"last":"0.00082","high":"0.000987","low":"0.00055","lowestAsk":"N/A","highestBid":"N/A","percentChange":"6.49350649","baseVolume":"1.065270834845381956","quoteVolume":"1381.056390477756354377"},"ETH_PIX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TOV":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TNT":{"last":"0.000052565255","high":"0.000052565255","low":"0.000052565255","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CTR":{"last":"0.000556121","high":"0.000556141","low":"0.000556121","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_VEN":{"last":"0.00699994","high":"0.007050000000211188","low":"0.00646018","lowestAsk":"N/A","highestBid":"N/A","percentChange":"4.929322","baseVolume":"3.16201925137781588","quoteVolume":"457.287363904071688304"},"ETH_REX":{"last":"0.00075","high":"0.00075","low":"0.00075","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"1.125","quoteVolume":"1500"},"ETH_ROC":{"last":"0.0008","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MANA":{"last":"0.000249707","high":"0.000249707","low":"0.000249707","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KICK":{"last":"0.000107396562","high":"0.000107396562","low":"0.000107396562","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.073791109583994347","quoteVolume":"687.090054"},"ETH_YC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MTH":{"last":"0.00019745","high":"0.00019745","low":"0.00019745","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MPRM":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ATT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MCI":{"last":"0.00007","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WTC":{"last":"0.01700001","high":"0.02749998","low":"0.01700001","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_AE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CCT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ELIX":{"last":"0.00024859","high":"0.00024859","low":"0.00024859","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_AVT":{"last":"0.0025","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FAM":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_UMC":{"last":"0.0000121","high":"0.0000121","low":"0.0000121","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ETBS":{"last":"0.001967944007697948","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WILD":{"last":"0.0029999","high":"0.0029999","low":"0.0029999","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ORME":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MCD":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NDC":{"last":"0.00193","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TPT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DLT":{"last":"0.00456586","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BOP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MDA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PST":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_JADE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ART":{"last":"0.00149987","high":"0.00149987","low":"0.00149987","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.110115530236800038","quoteVolume":"73.416716273277042989"},"ETH_PGL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FLIP":{"last":"0.00015","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KIN":{"last":"0.000000325069044004","high":"0.000000339","low":"0.000000306526107179","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0.51609277","baseVolume":"111.394026632898284019","quoteVolume":"351275037.980431743266167797"},"ETH_PRS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MRV":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BOTA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TGT":{"last":"0.0005111","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BTN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TRX":{"last":"0.000078979000000183","high":"0.000078979000000183","low":"0.000059881000000694","lowestAsk":"N/A","highestBid":"N/A","percentChange":"31.89325495","baseVolume":"8.151033102884330515","quoteVolume":"121376.651987"},"ETH_ATL":{"last":"0.0015","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_COB":{"last":"0.00014","high":"0.0001733","low":"0.00014","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-19.2152337","baseVolume":"1.035431450230840258","quoteVolume":"6425.253675088806238483"},"ETH_PRO2":{"last":"0.000753525","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IQT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_XHY":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ARX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EBET":{"last":"0.00014","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CNX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_HBT":{"last":"0.001443999999999999","high":"0.001443999999999999","low":"0.001000019999999999","lowestAsk":"N/A","highestBid":"N/A","percentChange":"31.27272727","baseVolume":"1.15909976120991552","quoteVolume":"997.620075980397253"},"ETH_KNC":{"last":"0.002679999","high":"0.002679999","low":"0.0025","lowestAsk":"N/A","highestBid":"N/A","percentChange":"7.19996","baseVolume":"4.254758124329194462","quoteVolume":"1698.303269731677784316"},"ETH_TKR":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GGS":{"last":"0.0002","high":"0.0002","low":"0.0002","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RLX":{"last":"0.00000046","high":"0.00000046","low":"0.00000045","lowestAsk":"N/A","highestBid":"N/A","percentChange":"2.22222222","baseVolume":"0.499999996213092451","quoteVolume":"1097430.255352765838496845"},"ETH_ARENA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ATS":{"last":"0.00002","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RSPR":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WIC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_VOISE":{"last":"0.000031974","high":"0.000031974","low":"0.000031974","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SUB":{"last":"0.000974999999","high":"0.000974999999","low":"0.000974999999","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.07799999992","quoteVolume":"80"},"ETH_DOM":{"last":"0.00000045","high":"0.00000045","low":"0.00000037","lowestAsk":"N/A","highestBid":"N/A","percentChange":"21.62162162","baseVolume":"1.1007033248414","quoteVolume":"2665889"},"ETH_DAY":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PPT2":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_XAI":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IWT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BMC":{"last":"0.0012","high":"0.00249999","low":"0.0012","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_UGT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LINK":{"last":"0.00119999","high":"0.00119999","low":"0.000635","lowestAsk":"N/A","highestBid":"N/A","percentChange":"88.97480315","baseVolume":"0.536304829987477463","quoteVolume":"780.403596844538256985"},"ETH_ATM":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GOOC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TFT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ALPC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_VIBE":{"last":"0.00006422","high":"0.00006422","low":"0.00006422","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RPL":{"last":"0.00286","high":"0.0031","low":"0.0025","lowestAsk":"N/A","highestBid":"N/A","percentChange":"14.4","baseVolume":"175.757283038580144123","quoteVolume":"63436.502524788591751835"},"ETH_SDRN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A
[...]
