---
http_interactions:
- request:
    method: post
    uri: https://api.idex.market/returnOrderBook
    body:
      encoding: UTF-8
      string: '{"market":"ETH_SNT"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2d-jDn+X3LkLb/fKXab+/qBQZX3dzI"
    body:
      encoding: UTF-8
      string: '{"asks":[{"timestamp":1516771461,"price":"0.00048595","amount":"4115.649758205576705422","total":"1.999999999999999999","orderHash":"0xc68d65c5f45054961f8c3d13fa5e869ba32b708ed2a1e9486a8b6a5d49d21c32","params":{"tokenBuy":"0x0000000000000000000000000000000000000000","buySymbol":"ETH","buyPrecision":18,"amountBuy":"1999999999999999999","tokenSell":"0x744d70fdbe2ba4cf95131626614a1763df805b9e","sellSymbol":"SNT","sellPrecision":18,"amountSell":"4115649758205576705422","expires":190000,"nonce":105168,"user":"0xe7545f76ecbc8435d348c79db53ea6e6693578ff"}},{"timestamp":1516650335,"price":"0.00058","amount":"980","total":"0.5684","orderHash":"0xc28560436b32b07dfe8e86179e0cca5888e27d2b77e4f16941f754967fa4c280","params":{"tokenBuy":"0x0000000000000000000000000000000000000000","buySymbol":"ETH","buyPrecision":18,"amountBuy":"568400000000000000","tokenSell":"0x744d70fdbe2ba4cf95131626614a1763df805b9e","sellSymbol":"SNT","sellPrecision":18,"amountSell":"980000000000000000000","expires":190000,"nonce":20,"user":"0xe995741f83d84dd6268dbb516f361ec45fe924eb"}},{"timestamp":1515847680,"price":"0.00312","amount":"100","total":"0.312","orderHash":"0xcd827f58c3be3dbe6628f91c87b5094759e9e189c75e95ad0dc0e3d57a6c530d","params":{"tokenBuy":"0x0000000000000000000000000000000000000000","buySymbol":"ETH","buyPrecision":18,"amountBuy":"312000000000000000","tokenSell":"0x744d70fdbe2ba4cf95131626614a1763df805b9e","sellSymbol":"SNT","sellPrecision":18,"amountSell":"100000000000000000000","expires":190000,"nonce":224,"user":"0xac38e3421774e2358960b8b62d5e95f5d3ee84a0"}}],"bids":[{"timestamp":1516864201,"price":"0.00020093","amount":"1293","total":"0.25980249","orderHash":"0xe391c4997069bfd1577ed803f4454fd7d5dde86002afb4f49034e81cff8959ea","params":{"tokenBuy":"0x744d70fdbe2ba4cf95131626614a1763df805b9e","buySymbol":"SNT","buyPrecision":18,"amountBuy":"1293000000000000000000","tokenSell":"0x0000000000000000000000000000000000000000","sellSymbol":"ETH","sellPrecision":18,"amountSell":"259802490000000000","expires":190000,"nonce":283,"user":"0x4b8e763e54893f6473271add79b69[...]
