---
http_interactions:
- request:
    method: get
    uri: https://ticker.saturn.network/returnTicker.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 125ms
    body:
      encoding: UTF-8
      string: "{\"ETC_0xdfd0a6bed91d7609a0d84389dcb7aab5877e6afa\":{\"name\":\"Gawks\",\"symbol\":\"GKG1\",\"highestBid\":null,\"lowestAsk\":\"1000\",\"quoteVolume\":\"0\",\"baseVolume\":\"0\",\"percentChange\":\"0\",\"last\":\"1\"},\"ETH_0x3893b9422cd5d70a81edeffe3d5a1c6a978310bb\":{\"name\":\"Mithril
        Token\",\"symbol\":\"MITH\",\"highestBid\":null,\"lowestAsk\":null,\"quoteVolume\":\"0\",\"baseVolume\":\"0\",\"percentChange\":\"0\",\"last\":null},\"ETH_0x3a9fff453d50d4ac52a6890647b823379ba36b9e\":{\"name\":\"Shuffle.Monster
        V3\",\"symbol\":\"SHUF\",\"highestBid\":\"0.00000021\",\"lowestAsk\":\"0.0006\",\"quoteVolume\":\"0\",\"baseVolume\":\"0\",\"percentChange\":\"0\",\"last\":\"0.000319711748902568[...]
