---
http_interactions:
- request:
    method: get
    uri: https://ticker.saturn.network/api/v2/trades/ETH/SATURN/0x0000000000000000000000000000000000000000/all.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 2970ms
    body:
      encoding: UTF-8
      string: '{"buys":[{"created_at":1567170737,"id":"15573","transaction":"0xb51de744d9edd318e561d68dc773ad37687d789702d4d7a9c9ca649c7ab35ed7","blockchain":"ETH","order_id":"2701","blocknumber":"8451726","contract":"0x13f64609bf1ef46f6515f8cd3115433a93a00dc6","buyer":"0x9ca96df2673a2a21be0754ef9d331910189b6284","seller":"0xc375b9d01d5434fe0c565ea8d4e6b286cd110f8a","trade_miner_address":"0x9ca96df2673a2a21be0754ef9d331910189b6284","buytoken":{"address":"0xb9440022a095343b440d590fcd2d7a3794bd76c8","decimals":4,"blockchain":"ETH","name":"Saturn
        ETH DAO Token","symbol":"SATURN"},"selltoken":{"address":"0x0000000000000000000000000000000000000000","decimals":18,"blockchain":"ETH","name":"Ether","symbol":"ETH"},"order_type":"BUY","price":"0.00000101","trademiningamount":"0.1262","selltokenamount":"0.005037375","buytokenamount":"5000","order_tx":"0x5dded820a0d8ff53e01b75fc41c201b045fee77ad6723e1bfc5810f3e6cf2aa9","order_owner":"0xc375b9d01d5434fe0c565ea8d4e6b286cd110f8a","suspicious":false},{"created_at":1567162066,"id":"15542","transaction":"0x117ab671bc9ff8dbca6a74453ccf3ec5fdebef01b3add086b8cb44c70224241a","blockchain":"ETH","order_id":"1585","blocknumber":"8451104","contract":"0x13f64609bf1ef46f6515f8cd3115433a93a00dc6","buyer":"0x763b7a79c28767af07d94435a501729491109962","seller":"0xc375b9d01d5434fe0c565ea8d4e6b286cd110f8a","trade_miner_address":"0x763b7a79c28767af07d94435a501729491109962","buytoken":{"address":"0xb9440022a095343b440d590fcd2d7a3794bd76c8","decimals":4,"[...]
