---
http_interactions:
- request:
    method: get
    uri: https://ticker.saturn.network/returnTicker.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 616.213ms
    body:
      encoding: ASCII-8BIT
      string: '{"ETH_0x3883f5e181fccaf8410fa61e12b59bad963fb645":{"name":"Theta Token","symbol":"THETA","quoteVolume":"0","baseVolume":"0","highestBid":"","lowestAsk":"","last":"","percentChange":""},"ETH_0x3d1ba9be9f66b8ee101911bc36d3fb562eac2244":{"name":"RvT","symbol":"RVT","quoteVolume":"0","baseVolume":"0","highestBid":"0.000001","lowestAsk":"","last":"","percentChange":""},"ETH_0x1f573d6fb3f13d689ff844b4ce37794d79a7ff1c":{"name":"Bancor
        Network Token","symbol":"BNT","quoteVolume":"0","baseVolume":"0","highestBid":"","lowestAsk":"","last":"","percentChange":""},"ETH_0xffe02ee4c69edf1b340fcad64fbd6b37a7b9e265":{"name":"NANJCOIN","symbol":"NANJ","quoteVolume":"0","baseVolume":[...]
