---
http_interactions:
- request:
    method: get
    uri: https://ticker.saturn.network/api/v2/orders/ETH/SATURN/0x0000000000000000000000000000000000000000/all.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 23ms
    body:
      encoding: UTF-8
      string: '{"buys":[{"created_at":1544015758,"transaction":"0x2e3ab0a2c7b4bdb49342ea2338b0aaf5e14205505dd0cab1cedcd254f85ebc1e","blockchain":"ETH","order_id":"8","blocknumber":"6830730","contract":"0x13f64609bf1ef46f6515f8cd3115433a93a00dc6","owner":"0x23cc32a2f2cf1477e7aa43774663f7f96e3b8f99","active":true,"buytoken":{"address":"0x0000000000000000000000000000000000000000","decimals":18,"blockchain":"ETH","name":"Ether","symbol":"ETH"},"selltoken":{"address":"0xb9440022a095343b440d590fcd2d7a3794bd76c8","decimals":4,"blockchain":"ETH","name":"Saturn
        ETH DAO Token","symbol":"SATURN"},"balance":"900","price":"0.001","type":"SELL"},{"created_at":1544171973,"transaction":"0x4b2c5794d1cb20a71335f5c5c94a3040fb48cbdf7e4ddfb5eed53252e3e13a0f","blockchain":"ETH","order_id":"91","blocknumber":"6841651","contract":"0x13f64609bf1ef46f6515f8cd3115433a93a00dc6","owner":"0x23cc32a2f2cf1477e7aa43774663f7f96e3b8f99","active":true,"buytoken":{"address":"0x0000000000000000000000000000000000000000","decimals":18,"blockchain":"ETH","name":"Ether","symbol":"ETH"},"selltoken":{"address":"0xb9440022a095343b440d590fcd2d7a3794bd76c8","de[...]
