---
http_interactions:
- request:
    method: get
    uri: https://ticker.saturn.network/api/v2/orders/ETH/SATURN/0x0000000000000000000000000000000000000000/all.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 10ms
    body:
      encoding: UTF-8
      string: '{"buys":[{"created_at":1544015758,"updated_at":1587548108,"transaction":"0x2e3ab0a2c7b4bdb49342ea2338b0aaf5e14205505dd0cab1cedcd254f85ebc1e","blockchain":"ETH","order_id":"8","blocknumber":"6830730","contract":"0x13f64609bf1ef46f6515f8cd3115433a93a00dc6","owner":"0x23cc32a2f2cf1477e7aa43774663f7f96e3b8f99","active":true,"buytoken":{"address":"0x0000000000000000000000000000000000000000","decimals":18,"blockchain":"ETH","name":"Ether","symbol":"ETH"},"selltoken":{"address":"0xb9440022a095343b440d590fcd2d7a3794bd76c8","decimals":4,"blockchain":"ETH","name":"Saturn
        ETH DAO Token","symbol":"SATURN"},"balance":"897.6372","etherbalance":"0.8976372","price":"0.001","type":"SELL"},{"created_at":1544729762,"updated_at":1587548108,"transaction":"0xe272ee2525538204e2d6c45a8be0f22a801fed922f9059c8b295115aec4e0e3a","blockchain":"ETH","order_id":"239","blocknumber":"6880817","contract":"0x13f64609bf1ef46f6515f8cd3115433a93a00dc6","owner":"0x491cf7629a2397eb738a120fb13fa44bdbdc0e44","active":true,"buytoken":{"address":"0x0000000000000000000000000000000000000000","decimals":18,"blockchain":"ETH","name":"Ether","symbol":"ETH"},"selltoken":{"address":"0xb9440022a095343b440d[...]
