---
http_interactions:
- request:
    method: get
    uri: https://open.etherflyer.com/market/allticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9537-rGIcluWypt6+f0VovJQTeQ"
    body:
      encoding: UTF-8
      string: '{"date":1545719108,"ticker":[{"buy":"0.000085","close":"0.00009","deal":"2.587027872032","high":"0.00009599","last":"0.00009","low":"0.00007856","open":"0.00008601","period":86400,"sell":"0.00009","symbol":"TCASH_ETH","vol":"30900.19","volume":"30900.19","change":"4.64"},{"buy":"0.00037","close":"0.0008548888","deal":"0.00972851976","high":"0.000876465","last":"0.0008548888","low":"0.000370714","open":"0.0006295992","period":86400,"sell":"0.00087924","symbol":"BKX_ETH","vol":"15.6","volume":"15.6","change":"35.78"},{"buy":"0.0000022406","close":"0.0000107","deal":"10.1590695","high":"0.0000108","last":"0.0000107","low":"0.00001","open":"0.00001","period":86400,"sell":"0.0000108","symbol":"BTL_ETH","vol":"966026.91","volume":"966026.91","change":"7.00"},{[...]
