---
http_interactions:
- request:
    method: get
    uri: https://open.etherflyer.com/market/allticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9715-m4yi02KLtxQyriMc9+1LhA"
    body:
      encoding: UTF-8
      string: '{"date":1545965865,"ticker":[{"buy":"0.0000778906","close":"0.00008","deal":"7.147773308609","high":"0.0000929","last":"0.00008","low":"0.0000778902","open":"0.0000926997","period":86400,"sell":"0.0000868597","symbol":"TCASH_ETH","vol":"85426.06","volume":"85426.06","change":"-13.70"},{"buy":"0.00037","close":"0.000744234","deal":"0.01091035377","high":"0.0008705807","last":"0.000744234","low":"0.0003735487","open":"0.000627268","period":86400,"sell":"0.00087924","symbol":"BKX_ETH","vol":"16.7","volume":"16.7","change":"18.65"},{"buy":"0.0000022403","close":"0.0000104","deal":"0.76211512","high":"0.0000104","last":"0.0000104","low":"0.0000104","open":"0.0000104","period":86400,"sell":"0.0000104","symbol":"BTL_ETH","vol":"73280.3","volume":"73280.3","change":"0.00"},[...]
