---
http_interactions:
- request:
    method: get
    uri: https://api.kyber.network/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"timestamp":1558601893036,"quote_symbol":"ETH","base_symbol":"WETH","past_24h_high":1,"past_24h_low":1,"usd_24h_volume":112659.99499456222,"eth_24h_volume":462.97794030406135,"token_24h_volume":462.97794030406135,"current_bid":1,"current_ask":1,"last_traded":1,"pair":"ETH_WETH"},{"timestamp":1558601893036,"quote_symbol":"ETH","base_symbol":"KNC","past_24h_high":0.001178085954803118,"past_24h_low":0.001059708137250047,"usd_24h_volume":114875.07600781372,"eth_24h_volume":465.86615466594384,"token_24h_volume":420835.8613937774,"current_bid":0.001121477276485136,"current_ask":0.0011217742569025072,"last_traded":0.0011292246,"pair":"ETH_KNC"},{"timestamp":1558601893036,"quote_symbol":"ETH","base_symbol":"DAI","past_24h_high":0.00430101073381158,"past_24h_low":0.0[...]
