---
http_interactions:
- request:
    method: get
    uri: https://tracker.kyber.network/api/currencies/convertiblePairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14b0-c4wVMzNveZx2r5TlQ8ZxVzq+UpI"
    body:
      encoding: UTF-8
      string: '{"ETH_KNC":{"symbol":"KNC","name":"Kyber Network","contractAddress":"0xdd974d5c2e2928dea5f71b9825b8b646686bd200","decimals":18,"currentPrice":0.002353579374,"lastPrice":0.002404905191343174,"lastTimestamp":1523059846,"baseVolume":73.6736873,"quoteVolume":31587.832587801022},"ETH_OMG":{"symbol":"OMG","name":"OmiseGO","contractAddress":"0xd26114cd6ee289accf82350c8d8487fedb8a0c07","decimals":18,"currentPrice":0.024459627245082455,"lastPrice":0.02511434883727899,"lastTimestamp":1523060383,"baseVolume":10.0241904,"quoteVolume":410.098553373589},"ETH_EOS":{"symbol":"EOS","name":"Eos","contractAddress":"0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0","decimals":18,"currentPrice":0.015553181951816621,"lastPrice":0.015821122259812165,"lastTimestamp":1523061775,"baseVolume":122.45786414,"quoteVolume":7647.788720804098},"ETH_SNT":{"symbol":"SNT","name":"Status","contractAddress":"0x744d70fdbe2ba4cf95131626614a1763df805b9e","decimals":18,"currentPrice":0.000230702615246324,"lastPrice":0.00023854949396815792,"lastTimestamp":1523030474,"baseVolume":1.1186258,"quoteVolume":4823.560002659443},"ETH_ELF":{"symbol":"ELF","name":"Aelf","contractAddress":"0xbf2179859fc6d5bee9bf9158632dc51678a4100e","decimals":18,"currentPrice":0.001426981727209822,"lastPrice":0.0014601020702664437,"lastTimestamp":1522998733,"baseVolume":0.23,"quoteVolume":162.1488877543795},"ETH_POWR":{"symbol":"POWR","name":"Power
        Ledger","contractAddress":"0x595832f8fc6bf59c85c527fec3740a1b7a361269","decimals":6,"currentPrice":0.000767918596317871,"lastPrice":0.0007846061397042059,"lastTimestamp":1523041403,"baseVolume":0.379187,"quoteVolume":485.284166},"ETH_MANA":{"symbol":"MANA","name":"Decentraland","contractAddress":"0x0f5d2fb29fb7d3cfee444a200298f468908cc942","decimals":18,"currentPrice":0.000184644409630387,"lastPrice":0.00018857418976187416,"lastTimestamp":1523049148,"baseVolume":0.21666941,"quoteVolume":1155.6364880458584},"ETH_BAT":{"symbol":"BAT","name":"Basic
        Attention Token","contractAddress":"0x0d8775f648430679a709e98d2b0cb6250d2887ef","decimals":18,"currentPrice":0.00048330895242364,"lastPrice":0.0004945790397467149,"lastTimestamp":1523032727,"baseVolume":0.019751,"quoteVolume":39.59967880422262},"ETH_REQ":{"symbol":"REQ","name":"Request","contractAddress":"0x8f8221afbb33998d8584a2b05749ba73c37a938a","decimals":18,"currentPrice":0.000378414944457936,"lastPrice":0.00038891354147831526,"lastTimestamp":1523056341,"baseVolume":10.194873,"quoteVolume":26627.53722638604},"ETH_GTO":{"symbol":"GTO","name":"Gifto","contractAddress":"0xc5bbae50781be1669306b9e001eff57a2957b09d","decimals":5,"currentPrice":0.000432670062123531,"lastPrice":0.00043191018064988836,"lastTimestamp":1523025357,"baseVolume":0.436527,"quoteVolume":1026.73515},"ETH_RDN":{"symbol":"RDN","name":"Raiden","contractAddress":"0x255aa6df07540cb5d3d297f0d0d4d84cb52bc8e6","decimals":18,"currentPrice":0.003098317379494364,"lastPrice":0.003164372876925208,"lastTimestamp":1523004449,"baseVolume":0.0869979,"quoteVolume":27.49294539029721},"ETH_APPC":{"symbol":"APPC","name":"AppCoins","contractAddress":"0x1a7a8bd9106f2b8d977e08582dc7d24c723ab0db","decimals":18,"currentPrice":0.000789848113045257,"lastPrice":0.0008613231269536247,"lastTimestamp":1522558541,"baseVolume":0,"quoteVolume":0},"ETH_ENG":{"symbol":"ENG","name":"Enigma","contractAddress":"0xf0ee6b27b759c9893ce4f094b49ad28fd15a23e4","decimals":8,"currentPrice":0.003336367278119146,"lastPrice":0.0034271622029741064,"lastTimestamp":1523059060,"baseVolume":0.205,"quoteVolume":59.74654073},"ETH_SALT":{"symbol":"SALT","name":"Salt","contractAddress":"0x4156d3342d5c385a87d264f90653733592000581","decimals":8,"currentPrice":0.005108623016825011,"lastPrice":0.005118985335317557,"lastTimestamp":1523030206,"baseVolume":0.0617862,"quoteVolume":12.07},"ETH_BQX":{"symbol":"BQX","name":"Ethos","contractAddress":"0x5af2be193a6abca9c8817001f45744777db30756","decimals":8,"currentPrice":0.005012374818084965,"lastPrice":0.0051332209431718566,"lastTimestamp":1522959137,"baseVolume":0,"quoteVolume":0},"ETH_ADX":{"symbol":"ADX","name":"AdEx","contractAddress":"0x4470BB87d77b963A013DB939BE332f927f2b992e","decimals":4,"currentPrice":0.001444194392,"lastPrice":0.0015668101969261064,"lastTimestamp":1522866679,"baseVolume":0,"quoteVolume":0},"ETH_AST":{"symbol":"AST","name":"AirSwap","contractAddress":"0x27054b13b1b798b345b591a4d22e6562d47ea75a","decimals":4,"currentPrice":0.000600486457428514,"lastPrice":0.0006026508,"lastTimestamp":1523040648,"baseVolume":0.201265,"quoteVolume":330.99},"ETH_RCN":{"symbol":"RCN","name":"Ripio
        Credit Network","contractAddress":"0xf970b8e36e23f7fc3fd752eea86f8be8d83375a6","decimals":18,"currentPrice":0.0002134814598,"lastPrice":0.0002153306736,"lastTimestamp":1523024157,"baseVolume":0.2,"quoteVolume":928.804042},"ETH_ZIL":{"symbol":"ZIL","name":"Zilliqa","contractAddress":"0x05f4a42e251f2d52b8ed15e9fedaacfcef1fad27","decimals":12,"currentPrice":0.000100688227367513,"lastPrice":0.0001061333821456094,"lastTimestamp":1523014053,"baseVolume":0.173515,"quoteVolume":1632.70176890711},"ETH_LINK":{"symbol":"LINK","name":"Chain
        Link","contractAddress":"0x514910771af9ca656af840dff83e8264ecf986ca","decimals":18,"currentPrice":0.000739599934731546,"lastPrice":0.0007521272051630216,"lastTimestamp":1522956841,"baseVolume":0,"quoteVolume":0}}'
  recorded_at: Sat, 07 Apr 2018 00:47:09 GMT
recorded_with: VCR 4.0.0
