---
http_interactions:
- request:
    method: get
    uri: https://www.coinmex.com/api/v1/spot/public/products
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Reset:
      - '1536605769332'
    body:
      encoding: ASCII-8BIT
      string: '[{"baseCurrency":"CT","baseIncrement":"0","baseMaxSize":"100000.00","baseMinSize":"1","code":"CT_USDT","quoteCurrency":"USDT","quoteIncrement":"0.0001","quotePrecision":"4","volumeIncrement":"4"},{"baseCurrency":"LTC","baseIncrement":"0","baseMaxSize":"100000.00","baseMinSize":"0.01","code":"LTC_BTC","quoteCurrency":"BTC","quoteIncrement":"0.0001","quotePrecision":"8","volumeIncrement":"4"},{"baseCurrency":"BCH","baseIncrement":"0","baseMaxSize":"100000.00","baseMinSize":"0.001","code":"BCH_BTC","quoteCurrency":"BTC","quoteIncrement":"0.0001","quotePrecision":"8","volumeIncrement":"4"},{"baseCurrency":"ETH","baseIncrement":"0","baseMaxSize":"100000.00","baseMinSize":"0.001","code":"[...]
