---
http_interactions:
- request:
    method: get
    uri: https://secondbtc.com/api/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"tradingPairs":"ETH_BTC","LastPrice":0.027400000000000000743849426498854882083833217620849609375,"percentChange":-0.1700000000000000122124532708767219446599483489990234375,"low24h":0.0271729999999999992377208712923675193451344966888427734375,"high24h":0.0277239999999999986446397315376088954508304595947265625,"baseVolume24h":3.184699999999999864286337469820864498615264892578125,"quoteVolume24h":115.99840000000000372892827726900577545166015625,"lowestAsk":0.0274040000000000012747580768746047397144138813018798828125,"highestBid":0.0274009999999999982744913751275817048735916614532470703125,"lastUpdateTimestamp":"2020-02-25
        02:58:58","tradesEnabled":true},{"tradingPairs":"BTC_USDT","LastPrice":9589.370000000000800355337560176849365234375,"percentChange":-1.7600000000000000088817841970012523233890533447265625,"low24h":9576.3199999999997089616954326629638671875,"high24h":9826.809999999999490682967007160186767578125,"baseVolume24h":73089.292499999995925463736057281494140625,"quoteVolume24h":7.55140000000000011226575225009582936763763427734375,"lowestAsk":9582.860000000000582076609134674072265625,"highestBid":9582.799999999999272404238581657409[...]
