---
http_interactions:
- request:
    method: get
    uri: https://secondbtc.com/api/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"tradingPairs":"ETH_BTC","LastPrice":0.02502000000000000057287508070658077485859394073486328125,"percentChange":-1.7600000000000000088817841970012523233890533447265625,"low24h":0.0249739999999999996715960293158786953426897525787353515625,"high24h":0.0260839999999999995472510505578611628152430057525634765625,"baseVolume24h":2.647600000000000175504055732744745910167694091796875,"quoteVolume24h":102.88020000000000209183781407773494720458984375,"lowestAsk":0.025011999999999999511057779955081059597432613372802734375,"highestBid":0.0250030000000000009185985305748545215465128421783447265625,"lastUpdateTimestamp":"2020-03-09
        15:34:25","tradesEnabled":true},{"tradingPairs":"BTC_USDT","LastPrice":7690,"percentChange":-8.019999999999999573674358543939888477325439453125,"low24h":7653.7100000000000363797880709171295166015625,"high24h":8360.899999999999636202119290828704833984375,"baseVolume24h":63022.21140000000013969838619232177734375,"quoteVolume24h":7.97890000000000032542857297812588512897491455078125,"lowestAsk":7710.829999999999927240423858165740966796875,"highestBid":7703.8699999999998908606357872486114501953125,"lastUpdateTimestamp":"2020-[...]
