---
http_interactions:
- request:
    method: get
    uri: https://api.tokens.net/public/ticker/btcusdt/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 12 Jan 2019 02:19:23 GMT
      Etag:
      - '"5c394eab-e7"'
      X-Origin-Id:
      - API-1A
    body:
      encoding: ASCII-8BIT
      string: '{"status": "ok", "timestamp": 1547259563, "last": "3656.23", "ask":
        "3659.89", "high": "3663.57", "bid": "3656.23", "low": "3602.10", "open":
        "0.00", "volume_usdt": "2361.50759700", "vwap": "3630.66952320", "volume":
        "0.65043309"}

'
  recorded_at: Sat, 12 Jan 2019 02:19:36 GMT
recorded_with: VCR 4.0.0
