---
http_interactions:
- request:
    method: get
    uri: https://api.tokens.net/public/ticker/btcusdt/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 09 Sep 2018 04:01:15 GMT
      Etag:
      - '"5b949b0b-cb"'
      X-Origin-Id:
      - API-1A
    body:
      encoding: ASCII-8BIT
      string: '{"open": "6173.54", "volume": "23.46111149", "last": "6173.57", "high":
        "6452.82", "vwap": "6369.65655202", "timestamp": 1536465675, "bid": "6173.56",
        "ask": "6179.74", "status": "ok", "low": "6155.09"}

'
  recorded_at: Sun, 09 Sep 2018 04:01:19 GMT
recorded_with: VCR 4.0.0
