---
http_interactions:
- request:
    method: get
    uri: https://api.tokens.net/public/trades/day/btcusdt/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 09 Sep 2018 04:01:18 GMT
      Etag:
      - '"5b949b0e-23d64"'
      X-Origin-Id:
      - API-1A
    body:
      encoding: ASCII-8BIT
      string: '{"trades": [{"datetime": 1536379479, "type": "buy", "amount": "0.01086056",
        "price": "6420.13", "id": 874123}, {"datetime": 1536380084, "type": "sell",
        "amount": "0.00004213", "price": "6407.33", "id": 874193}, {"datetime": 1536380084,
        "type": "sell", "amount": "0.00100000", "price": "6407.33", "id": 874194},
        {"datetime": 1536380115, "type": "buy", "amount": "0.00100000", "price": "6407.34",
        "id": 874201}, {"datetime": 1536380115, "type": "buy", "amount": "0.00195943",
        "price": "6407.34", "id": 874202}, {"datetime": 1536380147, "type": "sell",
        "am[...]
