---
http_interactions:
- request:
    method: get
    uri: https://api.tokens.net/public/trades/day/btcusdt/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 12 Jan 2019 02:19:23 GMT
      Etag:
      - '"5c394eab-b785"'
      X-Origin-Id:
      - API-1B
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp": 1547259563, "status": "ok", "trades": [{"type": "sell",
        "price": "3623.67", "amount": "0.00009984", "datetime": 1547175988, "id":
        1724334}, {"type": "sell", "price": "3623.67", "amount": "0.00164954", "datetime":
        1547175988, "id": 1724335}, {"type": "sell", "price": "3623.67", "amount":
        "0.00349875", "datetime": 1547175992, "id": 1724338}, {"type": "sell", "price":
        "3623.67", "amount": "0.00500000", "datetime": 1547175995, "id": 1724341},
        {"type": "sell", "price": "3623.67", "amount": "0.00349875", "datetime": 1547176002,
        "id": 1724344}, {"type": "sell", "price": "3623.67", [...]
