---
http_interactions:
- request:
    method: get
    uri: https://api.tokens.net/public/trading-pairs/get/all/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 09 Sep 2018 04:01:15 GMT
      Etag:
      - '"5b949b0b-ab0"'
      X-Origin-Id:
      - API-1A
    body:
      encoding: ASCII-8BIT
      string: '[{"name": "btcusdt", "amountDecimals": 8, "baseCurrency": "btc", "priceDecimals":
        2, "counterCurrency": "usdt", "title": "BTC/USDT", "minAmount": "0.0005"},
        {"name": "ethusdt", "amountDecimals": 8, "baseCurrency": "eth", "priceDecimals":
        2, "counterCurrency": "usdt", "title": "ETH/USDT", "minAmount": "0.005"},
        {"name": "ethbtc", "amountDecimals": 8, "baseCurrency": "eth", "priceDecimals":
        8, "counterCurrency": "btc", "title": "ETH/BTC", "minAmount": "0.005"}, {"name":
        "dtrbtc", "amountDecimals": 8, "baseCurrency": "dtr", "priceDecimals": 8,
        "counterCurrency": "btc", "title": "DTR/BTC", "min[...]
