---
http_interactions:
- request:
    method: get
    uri: https://rest.cashierest.com/Public/TickerAll
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "\uFEFF{\"Cashierest\":{\"KRW_777\":{\"id\":\"2014\",\"last\":\"0.29000000\",\"lowestAsk\":\"0.30000000\",\"highestBid\":\"0.28000000\",\"percentChange\":\"3.57143000\",\"baseVolume\":\"3720212.31698000\",\"isFrozen\":\"0\",\"high24hr\":\"0.29000000\",\"low24hr\":\"0.27000000\",\"money24hr\":\"537960.47596000\"},\"KRW_ACC\":{\"id\":\"2077\",\"last\":\"0.28000000\",\"lowestAsk\":\"0.28000000\",\"highestBid\":\"0.26000000\",\"percentChange\":\"7.69231000\",\"baseVolume\":\"851768.63882000\",\"isFrozen\":\"0\",\"high24hr\":\"0.28000000\",\"low24hr\":\"0.26000000\",\"money24hr\":\"113396.68305000\"},\"KRW_AGO\":{\"id\":\"2034\",\"last\":\"0.28000000\",\"lowestAsk\":\"0.30000000\",\"highestBid\":\"0.27000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"6566417.50358000\",\"isFrozen\":\"0\",\"high24hr\":\"0.28000000\",\"low24hr\":\"0.28000000\",\"money24hr\":\"919298.45050000\"},\"KRW_ALB\":{\"id\":\"2044\",\"last\":\"0.04000000\",\"lowestAsk\":\"0.04000000\",\"highestBid\":\"0.03000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"10180000.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.04000000\",\"low24hr\":\"0.03000000\",\"money24hr\":\"153600.00000000\"},\"KRW_ATX\":{\"id\":\"2013\",\"last\":\"0.99000000\",\"lowestAsk\":\"1.14000000\",\"highestBid\":\"0.99000000\",\"percentChange\":\"-2.94118000\",\"baseVolume\":\"2974169.54808000\",\"isFrozen\":\"0\",\"high24hr\":\"1.04000000\",\"low24hr\":\"0.99000000\",\"money24hr\":\"1511799.42725000\"},\"KRW_AUTO\":{\"id\":\"2024\",\"last\":\"1.15000000\",\"lowestAsk\":\"1.19000000\",\"highestBid\":\"1.11000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"212717.65708000\",\"isFrozen\":\"0\",\"high24hr\":\"1.15000000\",\"low24hr\":\"1.12000000\",\"money24hr\":\"121879.93282000\"},\"KRW_BCH\":{\"id\":\"6\",\"last\":\"362250.00000000\",\"lowestAsk\":\"369950.00000000\",\"highestBid\":\"340100.00000000\",\"percentChange\":\"3.79656000\",\"baseVolume\":\"3.43190000\",\"isFrozen\":\"0\",\"high24hr\":\"362250.00000000\",\"low24hr\":\"362250.00000000\",\"money24hr\":\"621604.29303000\"},\"KRW_BHD\":{\"id\":\"2050\",\"last\":\"16050.00000000\",\"lowestAsk\":\"18500.00000000\",\"highestBid\":\"13890.00000000\",\"percentChange\":\"5.66162000\",\"baseVolume\":\"72763.17472000\",\"isFrozen\":\"0\",\"high24hr\":\"16640.00000000\",\"low24hr\":\"14480.00000000\",\"money24hr\":\"559741051.76196000\"},\"KRW_BLINK\":{\"id\":\"2068\",\"last\":\"0.83000000\",\"lowestAsk\":\"0.91000000\",\"highestBid\":\"0.82000000\",\"percentChange\":\"16.90141000\",\"baseVolume\":\"600498.68654000\",\"isFrozen\":\"0\",\"high24hr\":\"0.83000000\",\"low24hr\":\"0.75000000\",\"money24hr\":\"247167.21491000\"},\"KRW_BSV\":{\"id\":\"2032\",\"last\":\"160150.00000000\",\"lowestAsk\":\"160200.00000000\",\"highestBid\":\"160150.00000000\",\"percentChange\":\"-0.03121000\",\"baseVolume\":\"7.03196000\",\"isFrozen\":\"0\",\"high24hr\":\"160150.00000000\",\"low24hr\":\"160150.00000000\",\"money24hr\":\"563083.52757000\"},\"KRW_BTC\":{\"id\":\"1\",\"last\":\"12654000.00000000\",\"lowestAsk\":\"12701000.00000000\",\"highestBid\":\"12662000.00000000\",\"percentChange\":\"1.22390000\",\"baseVolume\":\"47.30532000\",\"isFrozen\":\"0\",\"high24hr\":\"12906000.00000000\",\"low24hr\":\"12436000.00000000\",\"money24hr\":\"299007933.80661000\"},\"KRW_BTT\":{\"id\":\"2051\",\"last\":\"0.65000000\",\"lowestAsk\":\"0.74000000\",\"highestBid\":\"0.57000000\",\"percentChange\":\"1.56250000\",\"baseVolume\":\"2104026.07262000\",\"isFrozen\":\"0\",\"high24hr\":\"0.65000000\",\"low24hr\":\"0.65000000\",\"money24hr\":\"683808.47360000\"},\"KRW_BXA\":{\"id\":\"2065\",\"last\":\"12.30000000\",\"lowestAsk\":\"12.30000000\",\"highestBid\":\"10.70000000\",\"percentChange\":\"24.24242000\",\"baseVolume\":\"97481.78708000\",\"isFrozen\":\"0\",\"high24hr\":\"12.40000000\",\"low24hr\":\"12.30000000\",\"money24hr\":\"602357.60383000\"},\"KRW_CAP\":{\"id\":\"8888\",\"last\":\"47.60000000\",\"lowestAsk\":\"48.60000000\",\"highestBid\":\"47.60000000\",\"percentChange\":\"7.44921000\",\"baseVolume\":\"1530160.55988000\",\"isFrozen\":\"0\",\"high24hr\":\"58.90000000\",\"low24hr\":\"44.40000000\",\"money24hr\":\"37966033.16802000\"},\"KRW_CCH\":{\"id\":\"2057\",\"last\":\"0.05000000\",\"lowestAsk\":\"0.06000000\",\"highestBid\":\"0.05000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"1088960648.36794000\",\"isFrozen\":\"0\",\"high24hr\":\"0.06000000\",\"low24hr\":\"0.04000000\",\"money24hr\":\"27193407.38165000\"},\"KRW_CNN\":{\"id\":\"2012\",\"last\":\"0.14000000\",\"lowestAsk\":\"0.18000000\",\"highestBid\":\"0.14000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"15055849.24364000\",\"isFrozen\":\"0\",\"high24hr\":\"0.14000000\",\"low24hr\":\"0.14000000\",\"money24hr\":\"1053909.44705000\"},\"KRW_COIC\":{\"id\":\"2063\",\"last\":\"0.33000000\",\"lowestAsk\":\"0.34000000\",\"highestBid\":\"0.32000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"4035135.92470000\",\"isFrozen\":\"0\",\"high24hr\":\"0.33000000\",\"low24hr\":\"0.33000000\",\"money24hr\":\"665797.42758000\"},\"KRW_CON\":{\"id\":\"2052\",\"last\":\"9.00000000\",\"lowestAsk\":\"11.00000000\",\"highestBid\":\"9.00000000\",\"percentChange\":\"-10.00000000\",\"baseVolume\":\"163279.05192000\",\"isFrozen\":\"0\",\"high24hr\":\"11.00000000\",\"low24hr\":\"9.00000000\",\"money24hr\":\"773912.63263000\"},\"KRW_CUST\":{\"id\":\"2075\",\"last\":\"9.00000000\",\"lowestAsk\":\"9.07000000\",\"highestBid\":\"8.99000000\",\"percentChange\":\"4.52962000\",\"baseVolume\":\"216688945.45438000\",\"isFrozen\":\"0\",\"high24hr\":\"11.90000000\",\"low24hr\":\"8.60000000\",\"money24hr\":\"988231625.75205000\"},\"KRW_DAC\":{\"id\":\"2047\",\"last\":\"5.06000000\",\"lowestAsk\":\"7.10000000\",\"highestBid\":\"3.40000000\",\"percentChange\":\"1.20000000\",\"baseVolume\":\"222472.69366000\",\"isFrozen\":\"0\",\"high24hr\":\"5.06000000\",\"low24hr\":\"5.06000000\",\"money24hr\":\"562855.91496000\"},\"KRW_DACC\":{\"id\":\"2040\",\"last\":\"0.12000000\",\"lowestAsk\":\"0.12000000\",\"highestBid\":\"0.11000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\",\"money24hr\":\"0.00000000\"},\"KRW_DASH\":{\"id\":\"5\",\"last\":\"99920.00000000\",\"lowestAsk\":\"184900.00000000\",\"highestBid\":\"90400.00000000\",\"percentChange\":\"2.04248000\",\"baseVolume\":\"11.78534000\",\"isFrozen\":\"0\",\"high24hr\":\"99920.00000000\",\"low24hr\":\"99920.00000000\",\"money24hr\":\"588795.14675000\"},\"KRW_DENT\":{\"id\":\"2009\",\"last\":\"0.59000000\",\"lowestAsk\":\"0.59000000\",\"highestBid\":\"0.55000000\",\"percentChange\":\"-1.66667000\",\"baseVolume\":\"2694447.01460000\",\"isFrozen\":\"0\",\"high24hr\":\"0.60000000\",\"low24hr\":\"0.59000000\",\"money24hr\":\"794910.14872000\"},\"KRW_DVC\":{\"id\":\"2059\",\"last\":\"143.00000000\",\"lowestAsk\":\"143.00000000\",\"highestBid\":\"142.00000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"311510.50462000\",\"isFrozen\":\"0\",\"high24hr\":\"152.00000000\",\"low24hr\":\"140.00000000\",\"money24hr\":\"22863575.28270000\"},\"KRW_EBC\":{\"id\":\"2062\",\"last\":\"0.46000000\",\"lowestAsk\":\"0.51000000\",\"highestBid\":\"0.43000000\",\"percentChange\":\"6.97674000\",\"baseVolume\":\"3751746.02000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.46000000\",\"low24hr\":\"0.46000000\",\"money24hr\":\"862901.58460000\"},\"KRW_ENC\":{\"id\":\"2031\",\"last\":\"0.26000000\",\"lowestAsk\":\"0.27000000\",\"highestBid\":\"0.25000000\",\"percentChange\":\"-3.70370000\",\"baseVolume\":\"7092652.73016000\",\"isFrozen\":\"0\",\"high24hr\":\"0.26000000\",\"low24hr\":\"0.26000000\",\"money24hr\":\"922044.85492000\"},\"KRW_ENJ\":{\"id\":\"2060\",\"last\":\"89.90000000\",\"lowestAsk\":\"145.00000000\",\"highestBid\":\"63.00000000\",\"percentChange\":\"-4.66596000\",\"baseVolume\":\"13371.94800000\",\"isFrozen\":\"0\",\"high24hr\":\"89.90000000\",\"low24hr\":\"89.90000000\",\"money24hr\":\"601069.06240000\"},\"KRW_EOS\":{\"id\":\"2001\",\"last\":\"4050.00000000\",\"lowestAsk\":\"4095.00000000\",\"highestBid\":\"4005.00000000\",\"percentChange\":\"-0.12330000\",\"baseVolume\":\"9676.68422000\",\"isFrozen\":\"0\",\"high24hr\":\"4305.00000000\",\"low24hr\":\"4000.00000000\",\"money24hr\":\"19814464.52922000\"},\"KRW_eosBLACK\":{\"id\":\"2026\",\"last\":\"1.21000000\",\"lowestAsk\":\"1.24000000\",\"highestBid\":\"1.06000000\",\"percentChange\":\"-17.68707000\",\"baseVolume\":\"1148022.48516000\",\"isFrozen\":\"0\",\"high24hr\":\"1.56000000\",\"low24hr\":\"1.00000000\",\"money24hr\":\"671725.78058000\"},\"KRW_eosDAC\":{\"id\":\"2007\",\"last\":\"4.90000000\",\"lowestAsk\":\"4.90000000\",\"highestBid\":\"4.60000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\",\"money24hr\":\"0.00000000\"},\"KRW_ETH\":{\"id\":\"3\",\"last\":\"214200.00000000\",\"lowestAsk\":\"214900.00000000\",\"highestBid\":\"214100.00000000\",\"percentChange\":\"0.65789000\",\"baseVolume\":\"595.41112000\",\"isFrozen\":\"0\",\"high24hr\":\"218900.00000000\",\"low24hr\":\"211050.00000000\",\"money24hr\":\"64025961.55793000\"},\"KRW_EXE\":{\"id\":\"2069\",\"last\":\"185.00000000\",\"lowestAsk\":\"185.00000000\",\"highestBid\":\"184.00000000\",\"percentChange\":\"4.51977000\",\"baseVolume\":\"4945785.83310000\",\"isFrozen\":\"0\",\"high24hr\":\"187.00000000\",\"low24hr\":\"177.00000000\",\"money24hr\":\"452810409.56789000\"},\"KRW_FAB\":{\"id\":\"2078\",\"last\":\"7.70000000\",\"lowestAsk\":\"7.90000000\",\"highestBid\":\"7.50000000\",\"percentChange\":\"-6.09756000\",\"baseVolume\":\"55169422.25044000\",\"isFrozen\":\"0\",\"high24hr\":\"8.40000000\",\"low24hr\":\"7.50000000\",\"money24hr\":\"221237615.75616000\"},\"KRW_FXT\":{\"id\":\"2027\",\"last\":\"2.19000000\",\"lowestAsk\":\"2.19000000\",\"highestBid\":\"1.31000000\",\"percentChange\":\"36.87500000\",\"baseVolume\":\"1134855.43990000\",\"isFrozen\":\"0\",\"high24hr\":\"2.19000000\",\"low24hr\":\"1.60000000\",\"money24hr\":\"993571.46922000\"},\"KRW_GIB\":{\"id\":\"2071\",\"last\":\"0.09000000\",\"lowestAsk\":\"0.09000000\",\"highestBid\":\"0.08000000\",\"percentChange\":\"12.50000000\",\"baseVolume\":\"10470000.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.09000000\",\"low24hr\":\"0.06000000\",\"money24hr\":\"322060.53206000\"},\"KRW_HOT\":{\"id\":\"2022\",\"last\":\"0.94000000\",\"lowestAsk\":\"1.20000000\",\"highestBid\":\"0.77000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"5869367.39900000\",\"isFrozen\":\"0\",\"high24hr\":\"0.94000000\",\"low24hr\":\"0.90000000\",\"money24hr\":\"2717506.98138000\"},\"KRW_HRT\":{\"id\":\"7788\",\"last\":\"83.00000000\",\"lowestAsk\":\"98.00000000\",\"highestBid\":\"84.00000000\",\"percentChange\":\"-13.63163000\",\"baseVolume\":\"98069.31428000\",\"isFrozen\":\"0\",\"high24hr\":\"104.00000000\",\"low24hr\":\"80.00000000\",\"money24hr\":\"4589713.70030000\"},\"KRW_IHT\":{\"id\":\"2028\",\"last\":\"4.35000000\",\"lowestAsk\":\"8.90000000\",\"highestBid\":\"2.85000000\",\"percentChange\":\"-2.24719000\",\"baseVolume\":\"264211.21728000\",\"isFrozen\":\"0\",\"high24hr\":\"4.35000000\",\"low24hr\":\"4.35000000\",\"money24hr\":\"574659.39760000\"},\"KRW_INC\":{\"id\":\"2006\",\"last\":\"4.19000000\",\"lowestAsk\":\"4.19000000\",\"highestBid\":\"3.56000000\",\"percentChange\":\"-2.55814000\",\"baseVolume\":\"39055.37674000\",\"isFrozen\":\"0\",\"high24hr\":\"4.19000000\",\"low24hr\":\"4.18000000\",\"money24hr\":\"81710.64380000\"},\"KRW_INCO\":{\"id\":\"2036\",\"last\":\"0.02000000\",\"lowestAsk\":\"0.03000000\",\"highestBid\":\"0.02000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"20000000.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.02000000\",\"low24hr\":\"0.02000000\",\"money24hr\":\"200000.00000000\"},\"KRW_KNC\":{\"id\":\"2004\",\"last\":\"195.00000000\",\"lowestAsk\":\"280.00000000\",\"highestBid\":\"75.00000000\",\"percentChange\":\"-1.51515000\",\"baseVolume\":\"6011.40010000\",\"isFrozen\":\"0\",\"high24hr\":\"195.00000000\",\"low24hr\":\"195.00000000\",\"money24hr\":\"586111.51007000\"},\"KRW_LZE\":{\"id\":\"2043\",\"last\":\"1.06000000\",\"lowestAsk\":\"1.07000000\",\"highestBid\":\"1.01000000\",\"percentChange\":\"-6.19469000\",\"baseVolume\":\"4289941.56112000\",\"isFrozen\":\"0\",\"high24hr\":\"1.06000000\",\"low24hr\":\"0.91000000\",\"money24hr\":\"2136454.55852000\"},\"KRW_MCO\":{\"id\":\"2010\",\"last\":\"4070.00000000\",\"lowestAsk\":\"9780.00000000\",\"highestBid\":\"2000.00000000\",\"percentChange\":\"2.51889000\",\"baseVolume\":\"470.32382000\",\"isFrozen\":\"0\",\"high24hr\":\"4070.00000000\",\"low24hr\":\"4070.00000000\",\"money24hr\":\"957108.95547000\"},\"KRW_MDA\":{\"id\":\"2039\",\"last\":\"712.00000000\",\"lowestAsk\":\"2115.00000000\",\"highestBid\":\"622.00000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"2067.93560000\",\"isFrozen\":\"0\",\"high24hr\":\"712.00000000\",\"low24hr\":\"712.00000000\",\"money24hr\":\"736185.07198000\"},\"KRW_MEDX\":{\"id\":\"2011\",\"last\":\"4.87000000\",\"lowestAsk\":\"5.20000000\",\"highestBid\":\"3.91000000\",\"percentChange\":\"-1.21704000\",\"baseVolume\":\"228137.04764000\",\"isFrozen\":\"0\",\"high24hr\":\"4.87000000\",\"low24hr\":\"4.87000000\",\"money24hr\":\"555513.71100000\"},\"KRW_MVL\":{\"id\":\"2015\",\"last\":\"0.49000000\",\"lowestAsk\":\"0.49000000\",\"highestBid\":\"0.47000000\",\"percentChange\":\"-2.00000000\",\"baseVolume\":\"6293213.58638000\",\"isFrozen\":\"0\",\"high24hr\":\"0.49000000\",\"low24hr\":\"0.42000000\",\"money24hr\":\"1348124.81625000\"},\"KRW_NDIO\":{\"id\":\"2048\",\"last\":\"0.44000000\",\"lowestAsk\":\"0.47000000\",\"highestBid\":\"0.45000000\",\"percentChange\":\"-21.42857000\",\"baseVolume\":\"5248151.81238000\",\"isFrozen\":\"0\",\"high24hr\":\"0.50000000\",\"low24hr\":\"0.33000000\",\"money24hr\":\"1176424.07790000\"},\"KRW_NPXS\":{\"id\":\"2005\",\"last\":\"0.46000000\",\"lowestAsk\":\"0.46000000\",\"highestBid\":\"0.45000000\",\"percentChange\":\"-4.16667000\",\"baseVolume\":\"5710723.83018000\",\"isFrozen\":\"0\",\"high24hr\":\"0.46000000\",\"low24hr\":\"0.45000000\",\"money24hr\":\"1304401.18214000\"},\"KRW_OCN\":{\"id\":\"2045\",\"last\":\"1.41000000\",\"lowestAsk\":\"1.61000000\",\"highestBid\":\"0.71000000\",\"percentChange\":\"-4.08163000\",\"baseVolume\":\"797788.42554000\",\"isFrozen\":\"0\",\"high24hr\":\"1.41000000\",\"low24hr\":\"1.41000000\",\"money24hr\":\"562440.84000000\"},\"KRW_OMG\":{\"id\":\"2003\",\"last\":\"1325.00000000\",\"lowestAsk\":\"1415.00000000\",\"highestBid\":\"1075.00000000\",\"percentChange\":\"0.37879000\",\"baseVolume\":\"1212.69826000\",\"isFrozen\":\"0\",\"high24hr\":\"1325.00000000\",\"low24hr\":\"1325.00000000\",\"money24hr\":\"803412.59869000\"},\"KRW_OPNN\":{\"id\":\"2070\",\"last\":\"2.10000000\",\"lowestAsk\":\"3.58000000\",\"highestBid\":\"2.03000000\",\"percentChange\":\"-47.50000000\",\"baseVolume\":\"762939.30242000\",\"isFrozen\":\"0\",\"high24hr\":\"4.00000000\",\"low24hr\":\"1.81000000\",\"money24hr\":\"1176973.91661000\"},\"KRW_PAY\":{\"id\":\"2021\",\"last\":\"128.00000000\",\"lowestAsk\":\"197.00000000\",\"highestBid\":\"87.50000000\",\"percentChange\":\"-35.02538000\",\"baseVolume\":\"12208.83062000\",\"isFrozen\":\"0\",\"high24hr\":\"128.00000000\",\"low24hr\":\"128.00000000\",\"money24hr\":\"781365.15910000\"},\"KRW_PPT\":{\"id\":\"2008\",\"last\":\"1080.00000000\",\"lowestAsk\":\"1055.00000000\",\"highestBid\":\"400.00000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\",\"money24hr\":\"0.00000000\"},\"KRW_PPTR\":{\"id\":\"2037\",\"last\":\"15.00000000\",\"lowestAsk\":\"17.00000000\",\"highestBid\":\"15.00000000\",\"percentChange\":\"-6.25000000\",\"baseVolume\":\"89416.62138000\",\"isFrozen\":\"0\",\"high24hr\":\"15.50000000\",\"low24hr\":\"15.00000000\",\"money24hr\":\"692646.51285000\"},\"KRW_RBC\":{\"id\":\"2076\",\"last\":\"1.58000000\",\"lowestAsk\":\"1.59000000\",\"highestBid\":\"1.58000000\",\"percentChange\":\"13.66906000\",\"baseVolume\":\"42149294.08792000\",\"isFrozen\":\"0\",\"high24hr\":\"1.59000000\",\"low24hr\":\"1.37000000\",\"money24hr\":\"30014506.52011000\"},\"KRW_RBTC\":{\"id\":\"2035\",\"last\":\"12000000.00000000\",\"lowestAsk\":\"15422000.00000000\",\"highestBid\":\"3312000.00000000\",\"percentChange\":\"-0.04165000\",\"baseVolume\":\"0.14674000\",\"isFrozen\":\"0\",\"high24hr\":\"12005000.00000000\",\"low24hr\":\"12000000.00000000\",\"money24hr\":\"880404.51735000\"},\"KRW_RFR\":{\"id\":\"2061\",\"last\":\"1.23000000\",\"lowestAsk\":\"2.00000000\",\"highestBid\":\"1.20000000\",\"percentChange\":\"1.65289000\",\"baseVolume\":\"891479.81864000\",\"isFrozen\":\"0\",\"high24hr\":\"1.23000000\",\"low24hr\":\"1.23000000\",\"money24hr\":\"548260.08846000\"},\"KRW_RIF\":{\"id\":\"2041\",\"last\":\"160.00000000\",\"lowestAsk\":\"198.00000000\",\"highestBid\":\"162.00000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.00000000\",\"low24hr\":\"0.00000000\",\"money24hr\":\"0.00000000\"},\"KRW_RNT\":{\"id\":\"2038\",\"last\":\"27.00000000\",\"lowestAsk\":\"27.50000000\",\"highestBid\":\"27.00000000\",\"percentChange\":\"13.44538000\",\"baseVolume\":\"192886.34778000\",\"isFrozen\":\"0\",\"high24hr\":\"30.00000000\",\"low24hr\":\"23.90000000\",\"money24hr\":\"2626644.45789000\"},\"KRW_SLK\":{\"id\":\"2029\",\"last\":\"0.03000000\",\"lowestAsk\":\"0.04000000\",\"highestBid\":\"0.03000000\",\"percentChange\":\"-25.00000000\",\"baseVolume\":\"20000000.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.03000000\",\"low24hr\":\"0.03000000\",\"money24hr\":\"300000.00000000\"},\"KRW_SNT\":{\"id\":\"2020\",\"last\":\"18.60000000\",\"lowestAsk\":\"18.70000000\",\"highestBid\":\"9.30000000\",\"percentChange\":\"-0.53476000\",\"baseVolume\":\"66617.38356000\",\"isFrozen\":\"0\",\"high24hr\":\"18.60000000\",\"low24hr\":\"18.60000000\",\"money24hr\":\"619541.66703000\"},\"KRW_TEMCO\":{\"id\":\"2042\",\"last\":\"1.90000000\",\"lowestAsk\":\"1.97000000\",\"highestBid\":\"1.91000000\",\"percentChange\":\"-4.52261000\",\"baseVolume\":\"4518415.71136000\",\"isFrozen\":\"0\",\"high24hr\":\"2.00000000\",\"low24hr\":\"1.80000000\",\"money24hr\":\"4242937.60623000\"},\"KRW_TRX\":{\"id\":\"2002\",\"last\":\"20.10000000\",\"lowestAsk\":\"20.60000000\",\"highestBid\":\"20.10000000\",\"percentChange\":\"8.06452000\",\"baseVolume\":\"125129.84842000\",\"isFrozen\":\"0\",\"high24hr\":\"20.70000000\",\"low24hr\":\"18.60000000\",\"money24hr\":\"1168182.83723000\"},\"KRW_TUSD\":{\"id\":\"2025\",\"last\":\"1196.00000000\",\"lowestAsk\":\"1199.00000000\",\"highestBid\":\"1196.00000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"726.64014000\",\"isFrozen\":\"0\",\"high24hr\":\"1200.00000000\",\"low24hr\":\"1196.00000000\",\"money24hr\":\"434598.30585000\"},\"KRW_USDT\":{\"id\":\"2074\",\"last\":\"1197.00000000\",\"lowestAsk\":\"1199.00000000\",\"highestBid\":\"1197.00000000\",\"percentChange\":\"-0.58140000\",\"baseVolume\":\"21769.29002000\",\"isFrozen\":\"0\",\"high24hr\":\"1205.00000000\",\"low24hr\":\"1197.00000000\",\"money24hr\":\"13076830.28773000\"},\"KRW_UWTC\":{\"id\":\"2058\",\"last\":\"0.03000000\",\"lowestAsk\":\"0.03000000\",\"highestBid\":\"0.02000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"40103351.46594000\",\"isFrozen\":\"0\",\"high24hr\":\"0.03000000\",\"low24hr\":\"0.02000000\",\"money24hr\":\"501550.27199000\"},\"KRW_VALOR\":{\"id\":\"2073\",\"last\":\"1150.00000000\",\"lowestAsk\":\"1290.00000000\",\"highestBid\":\"1110.00000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"1083.89108000\",\"isFrozen\":\"0\",\"high24hr\":\"1150.00000000\",\"low24hr\":\"1150.00000000\",\"money24hr\":\"623237.37399000\"},\"KRW_VSS\":{\"id\":\"2053\",\"last\":\"0.10000000\",\"lowestAsk\":\"0.10000000\",\"highestBid\":\"0.07000000\",\"percentChange\":\"11.11111000\",\"baseVolume\":\"25622524.20216000\",\"isFrozen\":\"0\",\"high24hr\":\"0.10000000\",\"low24hr\":\"0.06000000\",\"money24hr\":\"908620.35979000\"},\"KRW_WAB\":{\"id\":\"2023\",\"last\":\"0.03000000\",\"lowestAsk\":\"0.04000000\",\"highestBid\":\"0.03000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"20455734.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.03000000\",\"low24hr\":\"0.03000000\",\"money24hr\":\"306836.01000000\"},\"KRW_WAX\":{\"id\":\"2016\",\"last\":\"52.10000000\",\"lowestAsk\":\"80.00000000\",\"highestBid\":\"49.00000000\",\"percentChange\":\"0.19231000\",\"baseVolume\":\"35193.09440000\",\"isFrozen\":\"0\",\"high24hr\":\"52.10000000\",\"low24hr\":\"52.10000000\",\"money24hr\":\"916780.10900000\"},\"KRW_WeP\":{\"id\":\"2072\",\"last\":\"8.90000000\",\"lowestAsk\":\"8.90000000\",\"highestBid\":\"6.01000000\",\"percentChange\":\"26.96148000\",\"baseVolume\":\"1460600.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"8.90000000\",\"low24hr\":\"4.55000000\",\"money24hr\":\"4048929.63885000\"},\"KRW_WET\":{\"id\":\"2019\",\"last\":\"11.70000000\",\"lowestAsk\":\"13.60000000\",\"highestBid\":\"10.00000000\",\"percentChange\":\"-2.50000000\",\"baseVolume\":\"108469.13476000\",\"isFrozen\":\"0\",\"high24hr\":\"11.70000000\",\"low24hr\":\"11.70000000\",\"money24hr\":\"634544.43830000\"},\"KRW_XRP\":{\"id\":\"2046\",\"last\":\"312.00000000\",\"lowestAsk\":\"313.00000000\",\"highestBid\":\"312.00000000\",\"percentChange\":\"-0.95238000\",\"baseVolume\":\"647190.15294000\",\"isFrozen\":\"0\",\"high24hr\":\"322.00000000\",\"low24hr\":\"312.00000000\",\"money24hr\":\"102594471.44835000\"},\"KRW_XTX\":{\"id\":\"2064\",\"last\":\"0.23000000\",\"lowestAsk\":\"0.25000000\",\"highestBid\":\"0.23000000\",\"percentChange\":\"-14.81481000\",\"baseVolume\":\"62548647.27962000\",\"isFrozen\":\"0\",\"high24hr\":\"0.27000000\",\"low24hr\":\"0.20000000\",\"money24hr\":\"7458746.87286000\"},\"KRW_ZIL\":{\"id\":\"2018\",\"last\":\"8.57000000\",\"lowestAsk\":\"15.00000000\",\"highestBid\":\"8.50000000\",\"percentChange\":\"0.70505000\",\"baseVolume\":\"146802.74780000\",\"isFrozen\":\"0\",\"high24hr\":\"8.57000000\",\"low24hr\":\"8.57000000\",\"money24hr\":\"629049.77435000\"},\"KRW_ZPR\":{\"id\":\"2030\",\"last\":\"1.40000000\",\"lowestAsk\":\"1.38000000\",\"highestBid\":\"1.24000000\",\"percentChange\":\"-5.40541000\",\"baseVolume\":\"702983.51694000\",\"isFrozen\":\"0\",\"high24hr\":\"1.40000000\",\"low24hr\":\"1.18000000\",\"money24hr\":\"415200.27500000\"},\"KRW_ZRX\":{\"id\":\"2017\",\"last\":\"203.00000000\",\"lowestAsk\":\"314.00000000\",\"highestBid\":\"155.00000000\",\"percentChange\":\"2.01005000\",\"baseVolume\":\"6177.14190000\",\"isFrozen\":\"0\",\"high24hr\":\"203.00000000\",\"low24hr\":\"203.00000000\",\"money24hr\":\"626979.90201000\"},\"USDT_BTC\":{\"id\":\"1\",\"last\":\"10563.00000000\",\"lowestAsk\":\"10570.00000000\",\"highestBid\":\"10559.00000000\",\"percentChange\":\"1.59661441\",\"baseVolume\":\"36.70596854\",\"isFrozen\":\"0\",\"high24hr\":\"10746.00000000\",\"low24hr\":\"10292.00000000\",\"money24hr\":\"193256.44097686\"}}}"
  recorded_at: Wed, 04 Sep 2019 06:20:53 GMT
recorded_with: VCR 4.0.0
