---
http_interactions:
- request:
    method: get
    uri: https://rest.cashierest.com/Public/TickerAll
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"Cashierest\":{\"KRW_777\":{\"id\":\"2014\",\"last\":\"0.25000000\",\"lowestAsk\":\"0.29000000\",\"highestBid\":\"0.18000000\",\"percentChange\":\"25.00000000\",\"baseVolume\":\"4247585.64480000\",\"isFrozen\":\"0\",\"high24hr\":\"0.25000000\",\"low24hr\":\"0.23000000\",\"money24hr\":\"502630.96797000\"},\"KRW_ACC\":{\"id\":\"2077\",\"last\":\"0.25000000\",\"lowestAsk\":\"0.26000000\",\"highestBid\":\"0.23000000\",\"percentChange\":\"8.69565000\",\"baseVolume\":\"5274255.49618000\",\"isFrozen\":\"0\",\"high24hr\":\"0.26000000\",\"low24hr\":\"0.25000000\",\"money24hr\":\"675562.76802000\"},\"KRW_AGO\":{\"id\":\"2034\",\"last\":\"0.28000000\",\"lowestAsk\":\"0.29000000\",\"highestBid\":\"0.27000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"5497135.90844000\",\"isFrozen\":\"0\",\"high24hr\":\"0.28000000\",\"low24hr\":\"0.28000000\",\"money24hr\":\"769599.02718000\"},\"KRW_ATX\":{\"id\":\"2013\",\"last\":\"0.52000000\",\"lowestAsk\":\"0.52000000\",\"highestBid\":\"0.36000000\",\"percentChange\":\"26.82927000\",\"baseVolume\":\"1811818.65402000\",\"isFrozen\":\"0\",\"high24hr\":\"0.52000000\",\"low24hr\":\"0.43000000\",\"money24hr\":\"402429.27917000\"},\"KRW_AUTO\":{\"id\":\"2024\",\"last\":\"0.68000000\",\"lowestAsk\":\"1.09000000\",\"highestBid\":\"0.50000000\",\"percentChange\":\"3.03030000\",\"baseVolume\":\"1535425.56704000\",\"isFrozen\":\"0\",\"high24hr\":\"0.71000000\",\"low24hr\":\"0.68000000\",\"money24hr\":\"534729.93677000\"},\"KRW_BCH\":{\"id\":\"6\",\"last\":\"302950.00000000\",\"lowestAsk\":\"389950.00000000\",\"highestBid\":\"218000.00000000\",\"percentChange\":\"-0.89957000\",\"baseVolume\":\"2.92650000\",\"isFrozen\":\"0\",\"high24hr\":\"306550.00000000\",\"low24hr\":\"302950.00000000\",\"money24hr\":\"447159.08145000\"},\"KRW_BHD\":{\"id\":\"2050\",\"last\":\"6730.00000000\",\"lowestAsk\":\"6850.00000000\",\"highestBid\":\"6230.00000000\",\"percentChange\":\"-0.29630000\",\"baseVolume\":\"7569.66240000\",\"isFrozen\":\"0\",\"high24hr\":\"6840.00000000\",\"low24hr\":\"6630.00000000\",\"money24hr\":\"25663599.72600000\"},\"KRW_BLINK\":{\"id\":\"2068\",\"last\":\"0.49000000\",\"lowestAsk\":\"0.65000000\",\"highestBid\":\"0.45000000\",\"percentChange\":\"8.88889000\",\"baseVolume\":\"1334600.85714000\",\"isFrozen\":\"0\",\"high24hr\":\"0.49000000\",\"low24hr\":\"0.49000000\",\"money24hr\":\"326977.21000000\"},\"KRW_BNP\":{\"id\":\"2084\",\"last\":\"1.89000000\",\"lowestAsk\":\"1.89000000\",\"highestBid\":\"1.85000000\",\"percentChange\":\"5.00000000\",\"baseVolume\":\"773554891.87304000\",\"isFrozen\":\"0\",\"high24hr\":\"1.90000000\",\"low24hr\":\"1.65000000\",\"money24hr\":\"691720957.58315000\"},\"KRW_BSV\":{\"id\":\"2032\",\"last\":\"144550.00000000\",\"lowestAsk\":\"165000.00000000\",\"highestBid\":\"125150.00000000\",\"percentChange\":\"0.97800000\",\"baseVolume\":\"17.92376000\",\"isFrozen\":\"0\",\"high24hr\":\"144550.00000000\",\"low24hr\":\"143300.00000000\",\"money24hr\":\"1289652.31140000\"},\"KRW_BTC\":{\"id\":\"1\",\"last\":\"9487000.00000000\",\"lowestAsk\":\"9504000.00000000\",\"highestBid\":\"9473000.00000000\",\"percentChange\":\"-3.86096000\",\"baseVolume\":\"48.60022000\",\"isFrozen\":\"0\",\"high24hr\":\"9903000.00000000\",\"low24hr\":\"9482000.00000000\",\"money24hr\":\"235442805.86940000\"},\"KRW_BTT\":{\"id\":\"2051\",\"last\":\"0.52000000\",\"lowestAsk\":\"0.56000000\",\"highestBid\":\"0.41000000\",\"percentChange\":\"1.96078000\",\"baseVolume\":\"2325595.10508000\",\"isFrozen\":\"0\",\"high24hr\":\"0.52000000\",\"low24hr\":\"0.50000000\",\"money24hr\":\"593216.60973000\"},\"KRW_BXA\":{\"id\":\"2065\",\"last\":\"2.85000000\",\"lowestAsk\":\"3.00000000\",\"highestBid\":\"2.60000000\",\"percentChange\":\"11.32813000\",\"baseVolume\":\"200679.99388000\",\"isFrozen\":\"0\",\"high24hr\":\"3.00000000\",\"low24hr\":\"2.84000000\",\"money24hr\":\"287972.64138000\"},\"KRW_CAP\":{\"id\":\"8888\",\"last\":\"49.30000000\",\"lowestAsk\":\"49.30000000\",\"highestBid\":\"48.70000000\",\"percentChange\":\"-8.70370000\",\"baseVolume\":\"463657.03026000\",\"isFrozen\":\"0\",\"high24hr\":\"53.40000000\",\"low24hr\":\"49.30000000\",\"money24hr\":\"11454577.88414000\"},\"KRW_CCH\":{\"id\":\"2057\",\"last\":\"0.13000000\",\"lowestAsk\":\"0.14000000\",\"highestBid\":\"0.11000000\",\"percentChange\":\"-7.14286000\",\"baseVolume\":\"77370177.51428000\",\"isFrozen\":\"0\",\"high24hr\":\"0.14000000\",\"low24hr\":\"0.12000000\",\"money24hr\":\"4826271.58443000\"},\"KRW_COIC\":{\"id\":\"2063\",\"last\":\"0.29000000\",\"lowestAsk\":\"0.35000000\",\"highestBid\":\"0.19000000\",\"percentChange\":\"7.40741000\",\"baseVolume\":\"2955613.86578000\",\"isFrozen\":\"0\",\"high24hr\":\"0.29000000\",\"low24hr\":\"0.29000000\",\"money24hr\":\"428564.01054000\"},\"KRW_CON\":{\"id\":\"2052\",\"last\":\"4.68000000\",\"lowestAsk\":\"5.18000000\",\"highestBid\":\"2.40000000\",\"percentChange\":\"1.73913000\",\"baseVolume\":\"222822.27718000\",\"isFrozen\":\"0\",\"high24hr\":\"4.68000000\",\"low24hr\":\"4.62000000\",\"money24hr\":\"517393.32762000\"},\"KRW_CUST\":{\"id\":\"2075\",\"last\":\"5.30000000\",\"lowestAsk\":\"6.38000000\",\"highestBid\":\"5.30000000\",\"percentChange\":\"-22.05882000\",\"baseVolume\":\"254068.21056000\",\"isFrozen\":\"0\",\"high24hr\":\"6.70000000\",\"low24hr\":\"5.30000000\",\"money24hr\":\"752843.09275000\"},\"KRW_DAC\":{\"id\":\"2047\",\"last\":\"3.01000000\",\"lowestAsk\":\"7.10000000\",\"highestBid\":\"3.00000000\",\"percentChange\":\"-0.66007000\",\"baseVolume\":\"263928.14104000\",\"isFrozen\":\"0\",\"high24hr\":\"3.05000000\",\"low24hr\":\"3.01000000\",\"money24hr\":\"398970.90503000\"},\"KRW_DACC\":{\"id\":\"2040\",\"last\":\"0.04000000\",\"lowestAsk\":\"0.05000000\",\"highestBid\":\"0.03000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"28966257.30000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.04000000\",\"low24hr\":\"0.04000000\",\"money24hr\":\"579325.14600000\"},\"KRW_DASH\":{\"id\":\"5\",\"last\":\"85300.00000000\",\"lowestAsk\":\"100000.00000000\",\"highestBid\":\"85300.00000000\",\"percentChange\":\"0.23502000\",\"baseVolume\":\"27.17442000\",\"isFrozen\":\"0\",\"high24hr\":\"85300.00000000\",\"low24hr\":\"85120.00000000\",\"money24hr\":\"1158011.09184000\"},\"KRW_DVC\":{\"id\":\"2059\",\"last\":\"167.00000000\",\"lowestAsk\":\"168.00000000\",\"highestBid\":\"167.00000000\",\"percentChange\":\"-0.59524000\",\"baseVolume\":\"131349.58704000\",\"isFrozen\":\"0\",\"high24hr\":\"171.00000000\",\"low24hr\":\"149.00000000\",\"money24hr\":\"10749887.98029000\"},\"KRW_EBC\":{\"id\":\"2062\",\"last\":\"0.29000000\",\"lowestAsk\":\"0.35000000\",\"highestBid\":\"0.24000000\",\"percentChange\":\"16.00000000\",\"baseVolume\":\"6962899.09324000\",\"isFrozen\":\"0\",\"high24hr\":\"0.29000000\",\"low24hr\":\"0.27000000\",\"money24hr\":\"961359.90000000\"},\"KRW_ELE\":{\"id\":\"2081\",\"last\":\"0.05000000\",\"lowestAsk\":\"0.05000000\",\"highestBid\":\"0.04000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"60330145.08990000\",\"isFrozen\":\"0\",\"high24hr\":\"0.05000000\",\"low24hr\":\"0.04000000\",\"money24hr\":\"1500596.91387000\"},\"KRW_EOS\":{\"id\":\"2001\",\"last\":\"3845.00000000\",\"lowestAsk\":\"4035.00000000\",\"highestBid\":\"3655.00000000\",\"percentChange\":\"-3.75469000\",\"baseVolume\":\"15267.58212000\",\"isFrozen\":\"0\",\"high24hr\":\"3995.00000000\",\"low24hr\":\"3680.00000000\",\"money24hr\":\"29810157.07926000\"},\"KRW_eosBLACK\":{\"id\":\"2026\",\"last\":\"0.35000000\",\"lowestAsk\":\"0.41000000\",\"highestBid\":\"0.35000000\",\"percentChange\":\"20.68966000\",\"baseVolume\":\"2493735.76700000\",\"isFrozen\":\"0\",\"high24hr\":\"0.41000000\",\"low24hr\":\"0.32000000\",\"money24hr\":\"425494.83908000\"},\"KRW_ETH\":{\"id\":\"3\",\"last\":\"205400.00000000\",\"lowestAsk\":\"205900.00000000\",\"highestBid\":\"205100.00000000\",\"percentChange\":\"-3.25012000\",\"baseVolume\":\"1612.41132000\",\"isFrozen\":\"0\",\"high24hr\":\"214800.00000000\",\"low24hr\":\"205400.00000000\",\"money24hr\":\"169238107.12477000\"},\"KRW_EXE\":{\"id\":\"2069\",\"last\":\"143.00000000\",\"lowestAsk\":\"139.00000000\",\"highestBid\":\"138.00000000\",\"percentChange\":\"-5.29801000\",\"baseVolume\":\"1017307.95346000\",\"isFrozen\":\"0\",\"high24hr\":\"150.00000000\",\"low24hr\":\"137.00000000\",\"money24hr\":\"71639837.28311000\"},\"KRW_FAB\":{\"id\":\"2078\",\"last\":\"8.10000000\",\"lowestAsk\":\"10.00000000\",\"highestBid\":\"9.60000000\",\"percentChange\":\"-8.98876000\",\"baseVolume\":\"5920648.41976000\",\"isFrozen\":\"0\",\"high24hr\":\"9.30000000\",\"low24hr\":\"7.90000000\",\"money24hr\":\"24806539.22005000\"},\"KRW_FXT\":{\"id\":\"2027\",\"last\":\"1.69000000\",\"lowestAsk\":\"1.66000000\",\"highestBid\":\"0.85000000\",\"percentChange\":\"-0.58824000\",\"baseVolume\":\"2429881.90110000\",\"isFrozen\":\"0\",\"high24hr\":\"1.69000000\",\"low24hr\":\"0.43000000\",\"money24hr\":\"1554540.52772000\"},\"KRW_GIB\":{\"id\":\"2071\",\"last\":\"0.02000000\",\"lowestAsk\":\"0.03000000\",\"highestBid\":\"0.02000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"37896848.82068000\",\"isFrozen\":\"0\",\"high24hr\":\"0.02000000\",\"low24hr\":\"0.02000000\",\"money24hr\":\"378968.48821000\"},\"KRW_HRT\":{\"id\":\"7788\",\"last\":\"37.40000000\",\"lowestAsk\":\"45.00000000\",\"highestBid\":\"36.60000000\",\"percentChange\":\"3.31492000\",\"baseVolume\":\"26045.45682000\",\"isFrozen\":\"0\",\"high24hr\":\"37.40000000\",\"low24hr\":\"37.00000000\",\"money24hr\":\"483577.31495000\"},\"KRW_IHT\":{\"id\":\"2028\",\"last\":\"2.30000000\",\"lowestAsk\":\"2.66000000\",\"highestBid\":\"2.30000000\",\"percentChange\":\"-5.34979000\",\"baseVolume\":\"335108.97200000\",\"isFrozen\":\"0\",\"high24hr\":\"2.50000000\",\"low24hr\":\"2.30000000\",\"money24hr\":\"405663.95098000\"},\"KRW_IMAX\":{\"id\":\"2079\",\"last\":\"0.19000000\",\"lowestAsk\":\"0.19000000\",\"highestBid\":\"0.18000000\",\"percentChange\":\"26.66667000\",\"baseVolume\":\"38180920.12646000\",\"isFrozen\":\"0\",\"high24hr\":\"0.20000000\",\"low24hr\":\"0.14000000\",\"money24hr\":\"3037012.93550000\"},\"KRW_KNC\":{\"id\":\"2004\",\"last\":\"203.00000000\",\"lowestAsk\":\"224.00000000\",\"highestBid\":\"75.00000000\",\"percentChange\":\"-0.49020000\",\"baseVolume\":\"10447.98996000\",\"isFrozen\":\"0\",\"high24hr\":\"206.00000000\",\"low24hr\":\"203.00000000\",\"money24hr\":\"1069874.17111000\"},\"KRW_LKU\":{\"id\":\"2080\",\"last\":\"32.70000000\",\"lowestAsk\":\"33.50000000\",\"highestBid\":\"32.70000000\",\"percentChange\":\"2.18750000\",\"baseVolume\":\"140007399.78956000\",\"isFrozen\":\"0\",\"high24hr\":\"34.70000000\",\"low24hr\":\"31.70000000\",\"money24hr\":\"2312207728.70065000\"},\"KRW_LZE\":{\"id\":\"2043\",\"last\":\"0.66000000\",\"lowestAsk\":\"0.99000000\",\"highestBid\":\"0.63000000\",\"percentChange\":\"-15.38462000\",\"baseVolume\":\"18401173.41538000\",\"isFrozen\":\"0\",\"high24hr\":\"1.00000000\",\"low24hr\":\"0.57000000\",\"money24hr\":\"6906209.63611000\"},\"KRW_MCO\":{\"id\":\"2010\",\"last\":\"5060.00000000\",\"lowestAsk\":\"9780.00000000\",\"highestBid\":\"2000.00000000\",\"percentChange\":\"1.50451000\",\"baseVolume\":\"750.95536000\",\"isFrozen\":\"0\",\"high24hr\":\"5060.00000000\",\"low24hr\":\"5010.00000000\",\"money24hr\":\"1893326.95053000\"},\"KRW_MVL\":{\"id\":\"2015\",\"last\":\"0.31000000\",\"lowestAsk\":\"0.38000000\",\"highestBid\":\"0.31000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"13227800.12188000\",\"isFrozen\":\"0\",\"high24hr\":\"0.34000000\",\"low24hr\":\"0.31000000\",\"money24hr\":\"2114284.64739000\"},\"KRW_NDIO\":{\"id\":\"2048\",\"last\":\"0.59000000\",\"lowestAsk\":\"0.79000000\",\"highestBid\":\"0.50000000\",\"percentChange\":\"5.35714000\",\"baseVolume\":\"1107566.02542000\",\"isFrozen\":\"0\",\"high24hr\":\"0.59000000\",\"low24hr\":\"0.59000000\",\"money24hr\":\"326731.97750000\"},\"KRW_NEWS\":{\"id\":\"2083\",\"last\":\"2.28000000\",\"lowestAsk\":\"2.28000000\",\"highestBid\":\"1.14000000\",\"percentChange\":\"1.78571000\",\"baseVolume\":\"22117.40900000\",\"isFrozen\":\"0\",\"high24hr\":\"2.28000000\",\"low24hr\":\"2.28000000\",\"money24hr\":\"25213.84627000\"},\"KRW_NPXS\":{\"id\":\"2005\",\"last\":\"0.20000000\",\"lowestAsk\":\"0.21000000\",\"highestBid\":\"0.20000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"43185585.54430000\",\"isFrozen\":\"0\",\"high24hr\":\"0.21000000\",\"low24hr\":\"0.20000000\",\"money24hr\":\"4413654.04643000\"},\"KRW_OMG\":{\"id\":\"2003\",\"last\":\"1150.00000000\",\"lowestAsk\":\"2000.00000000\",\"highestBid\":\"585.00000000\",\"percentChange\":\"-3.36134000\",\"baseVolume\":\"1818.90842000\",\"isFrozen\":\"0\",\"high24hr\":\"1170.00000000\",\"low24hr\":\"1150.00000000\",\"money24hr\":\"1054966.87924000\"},\"KRW_OPNN\":{\"id\":\"2070\",\"last\":\"0.95000000\",\"lowestAsk\":\"0.90000000\",\"highestBid\":\"0.68000000\",\"percentChange\":\"-15.17857000\",\"baseVolume\":\"1796959.12494000\",\"isFrozen\":\"0\",\"high24hr\":\"0.99000000\",\"low24hr\":\"0.95000000\",\"money24hr\":\"854177.15628000\"},\"KRW_RBC\":{\"id\":\"2076\",\"last\":\"0.06000000\",\"lowestAsk\":\"0.06000000\",\"highestBid\":\"0.05000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"20676250.31822000\",\"isFrozen\":\"0\",\"high24hr\":\"0.06000000\",\"low24hr\":\"0.04000000\",\"money24hr\":\"517868.86852000\"},\"KRW_RBTC\":{\"id\":\"2035\",\"last\":\"9603000.00000000\",\"lowestAsk\":\"10549000.00000000\",\"highestBid\":\"3312000.00000000\",\"percentChange\":\"-2.98040000\",\"baseVolume\":\"0.41612000\",\"isFrozen\":\"0\",\"high24hr\":\"9901000.00000000\",\"low24hr\":\"9603000.00000000\",\"money24hr\":\"2027687.40698000\"},\"KRW_RIF\":{\"id\":\"2041\",\"last\":\"102.00000000\",\"lowestAsk\":\"104.00000000\",\"highestBid\":\"101.00000000\",\"percentChange\":\"-1.92308000\",\"baseVolume\":\"7891.27680000\",\"isFrozen\":\"0\",\"high24hr\":\"102.00000000\",\"low24hr\":\"102.00000000\",\"money24hr\":\"402455.11634000\"},\"KRW_RNT\":{\"id\":\"2038\",\"last\":\"12.00000000\",\"lowestAsk\":\"14.00000000\",\"highestBid\":\"10.30000000\",\"percentChange\":\"7.14286000\",\"baseVolume\":\"99284.80700000\",\"isFrozen\":\"0\",\"high24hr\":\"12.00000000\",\"low24hr\":\"11.40000000\",\"money24hr\":\"578550.80700000\"},\"KRW_TEMCO\":{\"id\":\"2042\",\"last\":\"0.92000000\",\"lowestAsk\":\"0.95000000\",\"highestBid\":\"0.75000000\",\"percentChange\":\"1.09890000\",\"baseVolume\":\"707107.66304000\",\"isFrozen\":\"0\",\"high24hr\":\"0.92000000\",\"low24hr\":\"0.92000000\",\"money24hr\":\"325269.52500000\"},\"KRW_TF\":{\"id\":\"2082\",\"last\":\"1.12000000\",\"lowestAsk\":\"1.10000000\",\"highestBid\":\"0.92000000\",\"percentChange\":\"-10.40000000\",\"baseVolume\":\"5938970.51856000\",\"isFrozen\":\"0\",\"high24hr\":\"1.29000000\",\"low24hr\":\"0.87000000\",\"money24hr\":\"2850184.99806000\"},\"KRW_TRX\":{\"id\":\"2002\",\"last\":\"19.90000000\",\"lowestAsk\":\"20.20000000\",\"highestBid\":\"19.50000000\",\"percentChange\":\"-7.87037000\",\"baseVolume\":\"1822839.38540000\",\"isFrozen\":\"0\",\"high24hr\":\"22.10000000\",\"low24hr\":\"19.80000000\",\"money24hr\":\"18995433.41866000\"},\"KRW_TUSD\":{\"id\":\"2025\",\"last\":\"1119.00000000\",\"lowestAsk\":\"1159.00000000\",\"highestBid\":\"1116.00000000\",\"percentChange\":\"0.44883000\",\"baseVolume\":\"413.47702000\",\"isFrozen\":\"0\",\"high24hr\":\"1119.00000000\",\"low24hr\":\"1119.00000000\",\"money24hr\":\"231340.39044000\"},\"KRW_USDT\":{\"id\":\"2074\",\"last\":\"1174.00000000\",\"lowestAsk\":\"1176.00000000\",\"highestBid\":\"1174.00000000\",\"percentChange\":\"0.51370000\",\"baseVolume\":\"40869.83590000\",\"isFrozen\":\"0\",\"high24hr\":\"1177.00000000\",\"low24hr\":\"1164.00000000\",\"money24hr\":\"23913433.39098000\"},\"KRW_UWTC\":{\"id\":\"2058\",\"last\":\"0.01000000\",\"lowestAsk\":\"0.01000000\",\"highestBid\":\"0.01000000\",\"percentChange\":\"-50.00000000\",\"baseVolume\":\"43820193.94112000\",\"isFrozen\":\"0\",\"high24hr\":\"0.01000000\",\"low24hr\":\"0.01000000\",\"money24hr\":\"219100.96971000\"},\"KRW_VALOR\":{\"id\":\"2073\",\"last\":\"457.00000000\",\"lowestAsk\":\"457.00000000\",\"highestBid\":\"400.00000000\",\"percentChange\":\"-1.08225000\",\"baseVolume\":\"4158.63582000\",\"isFrozen\":\"0\",\"high24hr\":\"464.00000000\",\"low24hr\":\"457.00000000\",\"money24hr\":\"960995.75231000\"},\"KRW_VSS\":{\"id\":\"2053\",\"last\":\"0.05000000\",\"lowestAsk\":\"0.04000000\",\"highestBid\":\"0.03000000\",\"percentChange\":\"25.00000000\",\"baseVolume\":\"70352405.15062000\",\"isFrozen\":\"0\",\"high24hr\":\"0.05000000\",\"low24hr\":\"0.03000000\",\"money24hr\":\"1060641.71996000\"},\"KRW_WAB\":{\"id\":\"2023\",\"last\":\"0.02000000\",\"lowestAsk\":\"0.02000000\",\"highestBid\":\"0.01000000\",\"percentChange\":\"0.00000000\",\"baseVolume\":\"620552.38900000\",\"isFrozen\":\"0\",\"high24hr\":\"0.02000000\",\"low24hr\":\"0.01000000\",\"money24hr\":\"4602.76195000\"},\"KRW_WAX\":{\"id\":\"2016\",\"last\":\"30.00000000\",\"lowestAsk\":\"90.00000000\",\"highestBid\":\"30.00000000\",\"percentChange\":\"-1.63934000\",\"baseVolume\":\"18166.62862000\",\"isFrozen\":\"0\",\"high24hr\":\"30.50000000\",\"low24hr\":\"30.00000000\",\"money24hr\":\"274202.55062000\"},\"KRW_WET\":{\"id\":\"2019\",\"last\":\"4.58000000\",\"lowestAsk\":\"6.25000000\",\"highestBid\":\"4.58000000\",\"percentChange\":\"0.88106000\",\"baseVolume\":\"136754.42348000\",\"isFrozen\":\"0\",\"high24hr\":\"4.58000000\",\"low24hr\":\"4.58000000\",\"money24hr\":\"313167.62976000\"},\"KRW_XRP\":{\"id\":\"2046\",\"last\":\"290.00000000\",\"lowestAsk\":\"291.00000000\",\"highestBid\":\"290.00000000\",\"percentChange\":\"-3.97351000\",\"baseVolume\":\"164663.42874000\",\"isFrozen\":\"0\",\"high24hr\":\"304.00000000\",\"low24hr\":\"290.00000000\",\"money24hr\":\"24566098.15519000\"},\"KRW_XTX\":{\"id\":\"2064\",\"last\":\"0.16000000\",\"lowestAsk\":\"0.20000000\",\"highestBid\":\"0.16000000\",\"percentChange\":\"-11.11111000\",\"baseVolume\":\"6082209.23078000\",\"isFrozen\":\"0\",\"high24hr\":\"0.19000000\",\"low24hr\":\"0.16000000\",\"money24hr\":\"549805.94250000\"},\"KRW_ZPR\":{\"id\":\"2030\",\"last\":\"0.71000000\",\"lowestAsk\":\"0.88000000\",\"highestBid\":\"0.71000000\",\"percentChange\":\"-19.31818000\",\"baseVolume\":\"6240394.43380000\",\"isFrozen\":\"0\",\"high24hr\":\"0.78000000\",\"low24hr\":\"0.71000000\",\"money24hr\":\"2325917.85124000\"},\"USDT_BTC\":{\"id\":\"1\",\"last\":\"8112.00000000\",\"lowestAsk\":\"8114.00000000\",\"highestBid\":\"8109.00000000\",\"percentChange\":\"-3.92040744\",\"baseVolume\":\"6.60855976\",\"isFrozen\":\"0\",\"high24hr\":\"8474.00000000\",\"low24hr\":\"8091.00000000\",\"money24hr\":\"27222.11308188\"}}}"
  recorded_at: Tue, 19 Nov 2019 07:55:29 GMT
recorded_with: VCR 4.0.0
