---
http_interactions:
- request:
    method: get
    uri: https://rest.cashierest.com/Public/OrderBook?Coin=BTC&Count=50&PaymentCurrency=KRW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"ErrCode\":0,\"ErrMessage\":\"\",\"ReturnData\":{\"CreateDate\":1574150138689,\"Coin\":\"BTC\",\"PaymentCurrency\":\"KRW\",\"Asks\":[{\"Quantity\":\"0.20000000\",\"Price\":\"14800000.00000000\"},{\"Quantity\":\"0.02792451\",\"Price\":\"14000000.00000000\"},{\"Quantity\":\"0.00060411\",\"Price\":\"13980000.00000000\"},{\"Quantity\":\"0.00039386\",\"Price\":\"13799000.00000000\"},{\"Quantity\":\"0.32501808\",\"Price\":\"13615000.00000000\"},{\"Quantity\":\"0.01375967\",\"Price\":\"13578000.00000000\"},{\"Quantity\":\"0.79888920\",\"Price\":\"13500000.00000000\"},{\"Quantity\":\"0.29463176\",\"Price\":\"13000000.00000000\"},{\"Quantity\":\"0.01342927\",\"Price\":\"12[...]
