---
http_interactions:
- request:
    method: get
    uri: https://rest.cashierest.com/public/tickerall
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "\uFEFF{\"Cashierest\":{\"BTC_777\":{\"id\":\"2014\",\"last\":\"0.0000007500\",\"lowestAsk\":\"0.00000128\",\"highestBid\":\"0.00000041\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"608.16638000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000007500\",\"low24hr\":\"0.0000007500\",\"money24hr\":\"0.00000000\"},\"BTC_ATX\":{\"id\":\"2013\",\"last\":\"0.0000035000\",\"lowestAsk\":\"0.00000400\",\"highestBid\":\"0.00000319\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"2425.37857143\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000035000\",\"low24hr\":\"0.0000031900\",\"money24hr\":\"0.00839583\"},\"BTC_AUTO\":{\"id\":\"2024\",\"last\":\"0.0000005000\",\"lowestAsk\":\"0.00000050\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"76775.92813000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000005000\",\"low24hr\":\"0.0000005000\",\"money24hr\":\"0.03838796\"},\"BTC_BCH\":{\"id\":\"6\",\"last\":\"0.0780000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"-1.763224181\",\"baseVolume\":\"1868.19900000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0780000000\",\"low24hr\":\"0.0780000000\",\"money24hr\":\"145.71952200\"},\"BTC_DASH\":{\"id\":\"5\",\"last\":\"0.3800000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"-24.000000000\",\"baseVolume\":\"14.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.3800000000\",\"low24hr\":\"0.2500000000\",\"money24hr\":\"0.00000000\"},\"BTC_DENT\":{\"id\":\"2009\",\"last\":\"0.0000011400\",\"lowestAsk\":\"0.00000057\",\"highestBid\":\"0.00000000\",\"percentChange\":\"96.551724138\",\"baseVolume\":\"1974.07017544\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000011400\",\"low24hr\":\"0.0000011400\",\"money24hr\":\"0.00000000\"},\"BTC_ETH\":{\"id\":\"3\",\"last\":\"0.0342000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.03270000\",\"percentChange\":\"-0.291545190\",\"baseVolume\":\"225561.20819759\",\"isFrozen\":\"0\",\"high24hr\":\"0.0343870000\",\"low24hr\":\"0.0341999700\",\"money24hr\":\"6765.43365332\"},\"BTC_INC\":{\"id\":\"2006\",\"last\":\"0.0000052100\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000052100\",\"low24hr\":\"0.0000052100\",\"money24hr\":\"0.00000000\"},\"BTC_KNC\":{\"id\":\"2004\",\"last\":\"0.0000488000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000488000\",\"low24hr\":\"0.0000488000\",\"money24hr\":\"0.00000000\"},\"BTC_MCO\":{\"id\":\"2010\",\"last\":\"0.0060000000\",\"lowestAsk\":\"0.00300000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"418.040769809\",\"baseVolume\":\"7.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0060000000\",\"low24hr\":\"0.0020000000\",\"money24hr\":\"0.00000000\"},\"BTC_MEDX\":{\"id\":\"2011\",\"last\":\"0.0000000600\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000007\",\"percentChange\":\"0.000006000\",\"baseVolume\":\"6000.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000011800\",\"low24hr\":\"0.0000000600\",\"money24hr\":\"0.00000000\"},\"BTC_MVL\":{\"id\":\"2015\",\"last\":\"0.0000002600\",\"lowestAsk\":\"0.00000052\",\"highestBid\":\"0.00000027\",\"percentChange\":\"-3.703703704\",\"baseVolume\":\"14584027.70915284\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000002700\",\"low24hr\":\"0.0000002600\",\"money24hr\":\"0.00000000\"},\"BTC_NPXS\":{\"id\":\"2005\",\"last\":\"0.0000002600\",\"lowestAsk\":\"0.00000030\",\"highestBid\":\"0.00000023\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"1180767.92764943\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000002600\",\"low24hr\":\"0.0000002600\",\"money24hr\":\"0.30699966\"},\"BTC_OMG\":{\"id\":\"2003\",\"last\":\"0.0090000000\",\"lowestAsk\":\"0.00450000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.900000000\",\"baseVolume\":\"0.60000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0100000000\",\"low24hr\":\"0.0008000000\",\"money24hr\":\"0.00000000\"},\"BTC_PAY\":{\"id\":\"2021\",\"last\":\"0.0020000000\",\"lowestAsk\":\"0.00100000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.200000000\",\"baseVolume\":\"45.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0020000000\",\"low24hr\":\"0.0001500000\",\"money24hr\":\"0.00000000\"},\"BTC_PPT\":{\"id\":\"2008\",\"last\":\"0.0038000000\",\"lowestAsk\":\"0.00190000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.380000000\",\"baseVolume\":\"19.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0038000000\",\"low24hr\":\"0.0005000000\",\"money24hr\":\"0.00000000\"},\"BTC_SNT\":{\"id\":\"2020\",\"last\":\"0.0002000000\",\"lowestAsk\":\"0.00010000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.020000000\",\"baseVolume\":\"701.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0002000000\",\"low24hr\":\"0.0000080000\",\"money24hr\":\"0.00000000\"},\"BTC_WAX\":{\"id\":\"2016\",\"last\":\"0.0001217600\",\"lowestAsk\":\"0.00006088\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.012176000\",\"baseVolume\":\"426.77122730\",\"isFrozen\":\"0\",\"high24hr\":\"0.0001217600\",\"low24hr\":\"0.0000158600\",\"money24hr\":\"0.00000000\"},\"BTC_ZIL\":{\"id\":\"2018\",\"last\":\"0.0006000000\",\"lowestAsk\":\"0.00030000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.060000000\",\"baseVolume\":\"2733.99143217\",\"isFrozen\":\"0\",\"high24hr\":\"0.0006000000\",\"low24hr\":\"0.0000023400\",\"money24hr\":\"0.00000000\"},\"BTC_ZRX\":{\"id\":\"2017\",\"last\":\"0.0003200000\",\"lowestAsk\":\"0.00016000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"-50.000000000\",\"baseVolume\":\"113.16431103\",\"isFrozen\":\"0\",\"high24hr\":\"0.0003200000\",\"low24hr\":\"0.0003200000\",\"money24hr\":\"0.00000000\"},\"ETH_777\":{\"id\":\"2014\",\"last\":\"0.0000144500\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.001445000\",\"baseVolume\":\"2041.81157439\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000144500\",\"low24hr\":\"0.0000144500\",\"money24hr\":\"0.00000000\"},\"ETH_AUTO\":{\"id\":\"2024\",\"last\":\"0.0000130600\",\"lowestAsk\":\"0.00002612\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000130600\",\"low24hr\":\"0.0000130600\",\"money24hr\":\"0.00000000\"},\"ETH_BCH\":{\"id\":\"6\",\"last\":\"2.2730000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"-0.138830311\",\"baseVolume\":\"6880.15997967\",\"isFrozen\":\"0\",\"high24hr\":\"2.2761600000\",\"low24hr\":\"2.0000000000\",\"money24hr\":\"5313.71166676\"},\"ETH_DASH\":{\"id\":\"5\",\"last\":\"0.8081400000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"-73.062000000\",\"baseVolume\":\"0.00200000\",\"isFrozen\":\"0\",\"high24hr\":\"1.5000000000\",\"low24hr\":\"0.8081400000\",\"money24hr\":\"0.00000000\"},\"ETH_DENT\":{\"id\":\"2009\",\"last\":\"0.0000241900\",\"lowestAsk\":\"0.00001210\",\"highestBid\":\"0.00000000\",\"percentChange\":\"154.631578947\",\"baseVolume\":\"230568.89633155\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000484000\",\"low24hr\":\"0.0000190000\",\"money24hr\":\"0.00000000\"},\"ETH_INC\":{\"id\":\"2006\",\"last\":\"0.0000280000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"281.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000280000\",\"low24hr\":\"0.0000280000\",\"money24hr\":\"0.00000000\"},\"ETH_KNC\":{\"id\":\"2004\",\"last\":\"0.0017000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.170000000\",\"baseVolume\":\"57580.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0018000000\",\"low24hr\":\"0.0016000000\",\"money24hr\":\"95.84516000\"},\"ETH_MCO\":{\"id\":\"2010\",\"last\":\"0.0160708300\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0160708300\",\"low24hr\":\"0.0160708300\",\"money24hr\":\"0.00000000\"},\"ETH_MEDX\":{\"id\":\"2011\",\"last\":\"0.0000170200\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000170200\",\"low24hr\":\"0.0000170200\",\"money24hr\":\"0.00000000\"},\"ETH_NPXS\":{\"id\":\"2005\",\"last\":\"0.0000060000\",\"lowestAsk\":\"0.00000845\",\"highestBid\":\"0.00000480\",\"percentChange\":\"39.211136891\",\"baseVolume\":\"17790000.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000064000\",\"low24hr\":\"0.0000049000\",\"money24hr\":\"0.00000000\"},\"ETH_OMG\":{\"id\":\"2003\",\"last\":\"0.0009000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00180000\",\"percentChange\":\"100.000000000\",\"baseVolume\":\"168.38716204\",\"isFrozen\":\"0\",\"high24hr\":\"0.0009000000\",\"low24hr\":\"0.0009000000\",\"money24hr\":\"0.00000000\"},\"ETH_PAY\":{\"id\":\"2021\",\"last\":\"0.0027312500\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0027312500\",\"low24hr\":\"0.0027312500\",\"money24hr\":\"0.00000000\"},\"ETH_PPT\":{\"id\":\"2008\",\"last\":\"0.0090000000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.900000000\",\"baseVolume\":\"40.28119942\",\"isFrozen\":\"0\",\"high24hr\":\"0.0142500100\",\"low24hr\":\"0.0090000000\",\"money24hr\":\"0.00000000\"},\"ETH_SNT\":{\"id\":\"2020\",\"last\":\"0.0001625500\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.016255000\",\"baseVolume\":\"64844950.32884757\",\"isFrozen\":\"0\",\"high24hr\":\"0.0001625500\",\"low24hr\":\"0.0001625500\",\"money24hr\":\"0.00000000\"},\"ETH_WAX\":{\"id\":\"2016\",\"last\":\"0.0002946759\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0002946759\",\"low24hr\":\"0.0002946759\",\"money24hr\":\"0.00000000\"},\"ETH_ZIL\":{\"id\":\"2018\",\"last\":\"0.0001600000\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"3.159252095\",\"baseVolume\":\"3300000.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0001600000\",\"low24hr\":\"0.0001551000\",\"money24hr\":\"0.00000000\"},\"ETH_ZRX\":{\"id\":\"2017\",\"last\":\"0.0020979200\",\"lowestAsk\":\"0.00000000\",\"highestBid\":\"0.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"0.00000000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0020979200\",\"low24hr\":\"0.0020979200\",\"money24hr\":\"0.00000000\"},\"KRW_777\":{\"id\":\"2014\",\"last\":\"4.0000000000\",\"lowestAsk\":\"4.00000000\",\"highestBid\":\"3.80000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"167684183.36376501\",\"isFrozen\":\"0\",\"high24hr\":\"4.0000000000\",\"low24hr\":\"4.0000000000\",\"money24hr\":\"665800248.65071835\"},\"KRW_ATX\":{\"id\":\"2013\",\"last\":\"26.0000000000\",\"lowestAsk\":\"26.00000000\",\"highestBid\":\"25.00000000\",\"percentChange\":\"4.000000000\",\"baseVolume\":\"8428725.32645153\",\"isFrozen\":\"0\",\"high24hr\":\"26.0000000000\",\"low24hr\":\"25.0000000000\",\"money24hr\":\"206716911.27970463\"},\"KRW_AUTO\":{\"id\":\"2024\",\"last\":\"2.9500000000\",\"lowestAsk\":\"3.00000000\",\"highestBid\":\"2.95000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"55179019.38393297\",\"isFrozen\":\"0\",\"high24hr\":\"3.0000000000\",\"low24hr\":\"2.9500000000\",\"money24hr\":\"163012678.42511124\"},\"KRW_BCH\":{\"id\":\"6\",\"last\":\"560000.0000000000\",\"lowestAsk\":\"579500.00000000\",\"highestBid\":\"562500.00000000\",\"percentChange\":\"2.096630000\",\"baseVolume\":\"156.81813528\",\"isFrozen\":\"0\",\"high24hr\":\"580000.0000000000\",\"low24hr\":\"560000.0000000000\",\"money24hr\":\"90197953.08468500\"},\"KRW_BTC\":{\"id\":\"1\",\"last\":\"7450000.0000000000\",\"lowestAsk\":\"7458000.00000000\",\"highestBid\":\"7451000.00000000\",\"percentChange\":\"0.526240000\",\"baseVolume\":\"532.94951372\",\"isFrozen\":\"0\",\"high24hr\":\"7450000.0000000000\",\"low24hr\":\"7392000.0000000000\",\"money24hr\":\"3961269689.08079000\"},\"KRW_CAP\":{\"id\":\"8888\",\"last\":\"0.5800000000\",\"lowestAsk\":\"0.58000000\",\"highestBid\":\"0.57000000\",\"percentChange\":\"3.571430000\",\"baseVolume\":\"65154271545.37446977\",\"isFrozen\":\"0\",\"high24hr\":\"0.5800000000\",\"low24hr\":\"0.5500000000\",\"money24hr\":\"37306676872.28208287\"},\"KRW_CNN\":{\"id\":\"2012\",\"last\":\"0.5100000000\",\"lowestAsk\":\"0.51000000\",\"highestBid\":\"0.50000000\",\"percentChange\":\"2.000000000\",\"baseVolume\":\"473439685.68845961\",\"isFrozen\":\"0\",\"high24hr\":\"0.5100000000\",\"low24hr\":\"0.4900000000\",\"money24hr\":\"237716826.97620076\"},\"KRW_DASH\":{\"id\":\"5\",\"last\":\"205000.0000000000\",\"lowestAsk\":\"204000.00000000\",\"highestBid\":\"198000.00000000\",\"percentChange\":\"0.490200000\",\"baseVolume\":\"300.49707371\",\"isFrozen\":\"0\",\"high24hr\":\"205000.0000000000\",\"low24hr\":\"205000.0000000000\",\"money24hr\":\"61299551.56653000\"},\"KRW_DENT\":{\"id\":\"2009\",\"last\":\"2.4500000000\",\"lowestAsk\":\"2.55000000\",\"highestBid\":\"2.45000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"35989848.57356983\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000000000\",\"low24hr\":\"0.0000000000\",\"money24hr\":\"91692813.43441873\"},\"KRW_EOS\":{\"id\":\"2001\",\"last\":\"6650.0000000000\",\"lowestAsk\":\"6640.00000000\",\"highestBid\":\"6570.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"217124.30453887\",\"isFrozen\":\"0\",\"high24hr\":\"6650.0000000000\",\"low24hr\":\"6620.0000000000\",\"money24hr\":\"1440761324.65806620\"},\"KRW_eosDAC\":{\"id\":\"2007\",\"last\":\"28.0000000000\",\"lowestAsk\":\"30.00000000\",\"highestBid\":\"28.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"4074813.81276203\",\"isFrozen\":\"0\",\"high24hr\":\"30.0000000000\",\"low24hr\":\"28.0000000000\",\"money24hr\":\"120644487.35653018\"},\"KRW_ETH\":{\"id\":\"3\",\"last\":\"255500.0000000000\",\"lowestAsk\":\"255500.00000000\",\"highestBid\":\"254000.00000000\",\"percentChange\":\"0.988140000\",\"baseVolume\":\"4000.16010199\",\"isFrozen\":\"0\",\"high24hr\":\"257000.0000000000\",\"low24hr\":\"251500.0000000000\",\"money24hr\":\"1018189176.43592500\"},\"KRW_HOT\":{\"id\":\"2022\",\"last\":\"1.2800000000\",\"lowestAsk\":\"1.30000000\",\"highestBid\":\"1.26000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"60239122.62940824\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000000000\",\"low24hr\":\"0.0000000000\",\"money24hr\":\"77128245.95971495\"},\"KRW_INC\":{\"id\":\"2006\",\"last\":\"37.0000000000\",\"lowestAsk\":\"37.00000000\",\"highestBid\":\"36.00000000\",\"percentChange\":\"2.777780000\",\"baseVolume\":\"75648.28634119\",\"isFrozen\":\"0\",\"high24hr\":\"37.0000000000\",\"low24hr\":\"37.0000000000\",\"money24hr\":\"2746014.66646376\"},\"KRW_KNC\":{\"id\":\"2004\",\"last\":\"460.0000000000\",\"lowestAsk\":\"480.00000000\",\"highestBid\":\"440.00000000\",\"percentChange\":\"-1.498930000\",\"baseVolume\":\"759189.05509557\",\"isFrozen\":\"0\",\"high24hr\":\"460.0000000000\",\"low24hr\":\"451.0000000000\",\"money24hr\":\"340822053.71766083\"},\"KRW_MCO\":{\"id\":\"2010\",\"last\":\"4720.0000000000\",\"lowestAsk\":\"5400.00000000\",\"highestBid\":\"4850.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"7736.30546877\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000000000\",\"low24hr\":\"0.0000000000\",\"money24hr\":\"40614349.57591720\"},\"KRW_MEDX\":{\"id\":\"2011\",\"last\":\"8.0000000000\",\"lowestAsk\":\"8.00000000\",\"highestBid\":\"7.80000000\",\"percentChange\":\"1.265820000\",\"baseVolume\":\"21733610.70357454\",\"isFrozen\":\"0\",\"high24hr\":\"8.0000000000\",\"low24hr\":\"7.7000000000\",\"money24hr\":\"168006637.54704091\"},\"KRW_MVL\":{\"id\":\"2015\",\"last\":\"2.1500000000\",\"lowestAsk\":\"2.20000000\",\"highestBid\":\"2.15000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"22849218.58883359\",\"isFrozen\":\"0\",\"high24hr\":\"2.2000000000\",\"low24hr\":\"2.1000000000\",\"money24hr\":\"49807504.76384877\"},\"KRW_NPXS\":{\"id\":\"2005\",\"last\":\"1.9100000000\",\"lowestAsk\":\"1.91000000\",\"highestBid\":\"1.89000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"514039901.89041186\",\"isFrozen\":\"0\",\"high24hr\":\"1.9200000000\",\"low24hr\":\"1.8800000000\",\"money24hr\":\"956038456.18678087\"},\"KRW_OMG\":{\"id\":\"2003\",\"last\":\"4200.0000000000\",\"lowestAsk\":\"4350.00000000\",\"highestBid\":\"3830.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"18488.03736852\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000000000\",\"low24hr\":\"0.0000000000\",\"money24hr\":\"73528111.30260710\"},\"KRW_PAY\":{\"id\":\"2021\",\"last\":\"740.0000000000\",\"lowestAsk\":\"740.00000000\",\"highestBid\":\"730.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"20832.87378010\",\"isFrozen\":\"0\",\"high24hr\":\"740.0000000000\",\"low24hr\":\"740.0000000000\",\"money24hr\":\"15494681.84977245\"},\"KRW_PPT\":{\"id\":\"2008\",\"last\":\"3900.0000000000\",\"lowestAsk\":\"4000.00000000\",\"highestBid\":\"3780.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"12627.69998000\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000000000\",\"low24hr\":\"0.0000000000\",\"money24hr\":\"51377050.28933150\"},\"KRW_SNT\":{\"id\":\"2020\",\"last\":\"43.0000000000\",\"lowestAsk\":\"43.00000000\",\"highestBid\":\"42.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"2074707.94110479\",\"isFrozen\":\"0\",\"high24hr\":\"43.0000000000\",\"low24hr\":\"42.0000000000\",\"money24hr\":\"89152839.07452121\"},\"KRW_TRX\":{\"id\":\"2002\",\"last\":\"27.0000000000\",\"lowestAsk\":\"27.00000000\",\"highestBid\":\"26.00000000\",\"percentChange\":\"3.846150000\",\"baseVolume\":\"1677741.31454762\",\"isFrozen\":\"0\",\"high24hr\":\"27.0000000000\",\"low24hr\":\"26.0000000000\",\"money24hr\":\"43963712.95036636\"},\"KRW_TUSD\":{\"id\":\"2025\",\"last\":\"1134.0000000000\",\"lowestAsk\":\"1135.00000000\",\"highestBid\":\"1134.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"1261947.77939470\",\"isFrozen\":\"0\",\"high24hr\":\"1136.0000000000\",\"low24hr\":\"1134.0000000000\",\"money24hr\":\"1425292899.13434806\"},\"KRW_WAB\":{\"id\":\"2023\",\"last\":\"0.6500000000\",\"lowestAsk\":\"0.67000000\",\"highestBid\":\"0.66000000\",\"percentChange\":\"-1.515150000\",\"baseVolume\":\"135706047.68317194\",\"isFrozen\":\"0\",\"high24hr\":\"0.6700000000\",\"low24hr\":\"0.6300000000\",\"money24hr\":\"90425264.29669880\"},\"KRW_WAX\":{\"id\":\"2016\",\"last\":\"73.0000000000\",\"lowestAsk\":\"77.00000000\",\"highestBid\":\"73.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"82193.16877855\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000000000\",\"low24hr\":\"0.0000000000\",\"money24hr\":\"6101741.30869184\"},\"KRW_WE\":{\"id\":\"2019\",\"last\":\"1.5600000000\",\"lowestAsk\":\"1.57000000\",\"highestBid\":\"1.56000000\",\"percentChange\":\"1.298700000\",\"baseVolume\":\"98908321.02273436\",\"isFrozen\":\"0\",\"high24hr\":\"1.6000000000\",\"low24hr\":\"1.5500000000\",\"money24hr\":\"152339070.48945561\"},\"KRW_ZIL\":{\"id\":\"2018\",\"last\":\"43.0000000000\",\"lowestAsk\":\"43.00000000\",\"highestBid\":\"42.00000000\",\"percentChange\":\"0.000000000\",\"baseVolume\":\"1111454.00129389\",\"isFrozen\":\"0\",\"high24hr\":\"0.0000000000\",\"low24hr\":\"0.0000000000\",\"money24hr\":\"46645787.82179006\"},\"KRW_ZRX\":{\"id\":\"2017\",\"last\":\"810.0000000000\",\"lowestAsk\":\"835.00000000\",\"highestBid\":\"810.00000000\",\"percentChange\":\"-1.219510000\",\"baseVolume\":\"96396.17450784\",\"isFrozen\":\"0\",\"high24hr\":\"810.0000000000\",\"low24hr\":\"810.0000000000\",\"money24hr\":\"79152870.76493670\"},\"TUSD_BTC\":{\"id\":\"1\",\"last\":\"6575.0000000000\",\"lowestAsk\":\"6995.00000000\",\"highestBid\":\"6550.00000000\",\"percentChange\":\"-4.710144927\",\"baseVolume\":\"88.92911152\",\"isFrozen\":\"0\",\"high24hr\":\"6995.0000000000\",\"low24hr\":\"3501.0000000600\",\"money24hr\":\"519725.04662859\"},\"TUSD_CAP\":{\"id\":\"8888\",\"last\":\"0.0005161100\",\"lowestAsk\":\"0.00051611\",\"highestBid\":\"0.00048405\",\"percentChange\":\"1.596456693\",\"baseVolume\":\"17496893.56399245\",\"isFrozen\":\"0\",\"high24hr\":\"0.0005750500\",\"low24hr\":\"0.0004531900\",\"money24hr\":\"9035.51775482\"},\"TUSD_ETH\":{\"id\":\"3\",\"last\":\"211.0000003200\",\"lowestAsk\":\"242.60000000\",\"highestBid\":\"211.00000002\",\"percentChange\":\"-8.499566210\",\"baseVolume\":\"1.17126951\",\"isFrozen\":\"0\",\"high24hr\":\"230.6000000000\",\"low24hr\":\"211.0000003200\",\"money24hr\":\"11.28935986\"}}}"
  recorded_at: Wed, 10 Oct 2018 20:15:46 GMT
recorded_with: VCR 4.0.0
