---
http_interactions:
- request:
    method: get
    uri: https://rest.cashierest.com/Public/OrderBook?Coin=BTC&Count=50&PaymentCurrency=KRW
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"ErrCode\":0,\"ErrMessage\":\"\",\"ReturnData\":{\"CreateDate\":1567578054766,\"Coin\":\"BTC\",\"PaymentCurrency\":\"KRW\",\"Asks\":[{\"Quantity\":\"0.00219933\",\"Price\":\"16770000.00000000\"},{\"Quantity\":\"0.10796585\",\"Price\":\"16500000.00000000\"},{\"Quantity\":\"0.00191670\",\"Price\":\"16090000.00000000\"},{\"Quantity\":\"0.03021424\",\"Price\":\"16000000.00000000\"},{\"Quantity\":\"0.20000000\",\"Price\":\"15900000.00000000\"},{\"Quantity\":\"0.00070196\",\"Price\":\"15694000.00000000\"},{\"Quantity\":\"0.08064358\",\"Price\":\"15650000.00000000\"},{\"Quantity\":\"0.00236381\",\"Price\":\"15600000.00000000\"},{\"Quantity\":\"0.57193166\",\"Price\":\"15[...]
