---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_BCN":{"id":7,"last":"0.00000029","lowestAsk":"0.00000030","highestBid":"0.00000029","percentChange":"-0.06451612","baseVolume":"35.63774627","quoteVolume":"119149926.72295645","isFrozen":"0","high24hr":"0.00000032","low24hr":"0.00000029"},"BTC_BELA":{"id":8,"last":"0.00003058","lowestAsk":"0.00003100","highestBid":"0.00003064","percentChange":"-0.06282562","baseVolume":"8.57411891","quoteVolume":"278089.59731340","isFrozen":"0","high24hr":"0.00003259","low24hr":"0.00003000"},"BTC_BLK":{"id":10,"last":"0.00004409","lowestAsk":"0.00004409","highestBid":"0.00004401","percentChange":"-0.08431983","baseVolume":"19.08978747","quoteVolume":"411644.13549217","isFrozen":"0","high24hr":"0.00004900","low24hr":"0.00004401"},"BTC_BTCD":{"id":12,"last":"0.02275421","lowestAsk":"0.02279232","highestBid":"0.02256254","percentChange":"-0.06973793","baseVolume":"13.73570390","quoteVolume":"588.79684748","isFrozen":"0","high24hr":"0.02477954","low24hr":"0.02230104"},"BTC_BTM":{"id":13,"last":"0.00011783","lowestAsk":"0.00011784","highestBid":"0.00011783","percentChange":"-0.01906426","baseVolume":"0.95419580","quoteVolume":"8042.78429319","isFrozen":"0","high24hr":"0.00012362","low24hr":"0.00011783"},"BTC_BTS":{"id":14,"last":"0.00001730","lowestAsk":"0.00001735","highestBid":"0.00001730","percentChange":"-0.10732714","baseVolume":"711.39391516","quoteVolume":"40184702.05801362","isFrozen":"0","high24hr":"0.00001939","low24hr":"0.00001635"},"BTC_BURST":{"id":15,"last":"0.00000194","lowestAsk":"0.00000194","highestBid":"0.00000193","percentChange":"-0.03960396","baseVolume":"52.43394402","quoteVolume":"25835461.47173442","isFrozen":"0","high24hr":"0.00000218","low24hr":"0.00000190"},"BTC_CLAM":{"id":20,"last":"0.00213484","lowestAsk":"0.00214198","highestBid":"0.00213484","percentChange":"-0.03911348","baseVolume":"91.89033670","quoteVolume":"41713.48256499","isFrozen":"0","high24hr":"0.00227957","low24hr":"0.00210002"},"BTC_DASH":{"id":24,"last":"0.06965192","lowestAsk":"0.06966409","highestBid":"0.06965261","percentChange":"-0.03457444","baseVolume":"470.38231801","quoteVolume":"6633.71031366","isFrozen":"0","high24hr":"0.07254515","low24hr":"0.06935453"},"BTC_DGB":{"id":25,"last":"0.00000350","lowestAsk":"0.00000353","highestBid":"0.00000350","percentChange":"-0.09090909","baseVolume":"1393.84723864","quoteVolume":"369512217.84513503","isFrozen":"0","high24hr":"0.00000412","low24hr":"0.00000342"},"BTC_DOGE":{"id":27,"last":"0.00000023","lowestAsk":"0.00000024","highestBid":"0.00000023","percentChange":"-0.04166666","baseVolume":"155.03228979","quoteVolume":"647809117.48241115","isFrozen":"0","high24hr":"0.00000025","low24hr":"0.00000023"},"BTC_EMC2":{"id":28,"last":"0.00002666","lowestAsk":"0.00002701","highestBid":"0.00002669","percentChange":"-0.10023624","baseVolume":"160.18113746","quoteVolume":"5677235.35503729","isFrozen":"0","high24hr":"0.00002965","low24hr":"0.00002650"},"BTC_FLDC":{"id":31,"last":"0.00000251","lowestAsk":"0.00000251","highestBid":"0.00000250","percentChange":"0.01619433","baseVolume":"13.34864840","quoteVolume":"5309999.69560175","isFrozen":"0","high24hr":"0.00000260","low24hr":"0.00000245"},"BTC_FLO":{"id":32,"last":"0.00001705","lowestAsk":"0.00001720","highestBid":"0.00001705","percentChange":"-0.04535274","baseVolume":"8.16828965","quoteVolume":"474342.15795031","isFrozen":"0","high24hr":"0.00001796","low24hr":"0.00001657"},"BTC_GAME":{"id":38,"last":"0.00055082","lowestAsk":"0.00055263","highestBid":"0.00055082","percentChange":"-0.03364912","baseVolume":"127.52470789","quoteVolume":"231024.15058528","isFrozen":"0","high24hr":"0.00058084","low24hr":"0.00053533"},"BTC_GRC":{"id":40,"last":"0.00000773","lowestAsk":"0.00000773","highestBid":"0.00000764","percentChange":"-0.05846528","baseVolume":"4.01304418","quoteVolume":"502955.44713043","isFrozen":"0","high24hr":"0.00000826","low24hr":"0.00000760"},"BTC_HUC":{"id":43,"last":"0.00002166","lowestAsk":"0.00002166","highestBid":"0.00002136","percentChange":"-0.06678155","baseVolume":"4.33686337","quoteVolume":"192249.61406056","isFrozen":"0","high24hr":"0.00002447","low24hr":"0.00002117"},"BTC_LTC":{"id":50,"last":"0.01206924","lowestAsk":"0.01206919","highestBid":"0.01205887","percentChange":"-0.02470787","baseVolume":"987.34991971","quoteVolume":"80967.00624920","isFrozen":"0","high24hr":"0.01238900","low24hr":"0.01202080"},"BTC_MAID":{"id":51,"last":"0.00010261","lowestAsk":"0.00010261","highestBid":"0.00010202","percentChange":"0.00430654","baseVolume":"85.42535968","quoteVolume":"829031.27589460","isFrozen":"0","high24hr":"0.00010501","low24hr":"0.00010144"},"BTC_OMNI":{"id":58,"last":"0.00553240","lowestAsk":"0.00558237","highestBid":"0.00553241","percentChange":"-0.04541705","baseVolume":"6.43389924","quoteVolume":"1145.20787916","isFrozen":"0","high24hr":"0.00576875","low24hr":"0.00547300"},"BTC_NAUT":{"id":60,"last":"0.00003152","lowestAsk":"0.00003174","highestBid":"0.00003151","percentChange":"-0.02746066","baseVolume":"3.02963242","quoteVolume":"94893.33315113","isFrozen":"0","high24hr":"0.00003406","low24hr":"0.00003107"},"BTC_NAV":{"id":61,"last":"0.00020457","lowestAsk":"0.00020473","highestBid":"0.00020298","percentChange":"0.01685058","baseVolume":"38.81182636","quoteVolume":"194370.06402590","isFrozen":"0","high24hr":"0.00021000","low24hr":"0.00019000"},"BTC_NEOS":{"id":63,"last":"0.00058337","lowestAsk":"0.00058046","highestBid":"0.00057564","percentChange":"-0.05052001","baseVolume":"10.13473949","quoteVolume":"17007.97445035","isFrozen":"0","high24hr":"0.00062295","low24hr":"0.00056713"},"BTC_NMC":{"id":64,"last":"0.00028278","lowestAsk":"0.00028344","highestBid":"0.00028051","percentChange":"-0.05768269","baseVolume":"6.76616970","quoteVolume":"23687.86811490","isFrozen":"0","high24hr":"0.00030502","low24hr":"0.00027698"},"BTC_NOTE":{"id":66,"last":"0.00001141","lowestAsk":"0.00001149","highestBid":"0.00001137","percentChange":"-0.03631756","baseVolume":"3.21680136","quoteVolume":"275354.21176294","isFrozen":"0","high24hr":"0.00001223","low24hr":"0.00001133"},"BTC_NXT":{"id":69,"last":"0.00001570","lowestAsk":"0.00001580","highestBid":"0.00001570","percentChange":"-0.05705705","baseVolume":"75.83227652","quoteVolume":"4697972.64219166","isFrozen":"0","high24hr":"0.00001682","low24hr":"0.00001570"},"BTC_PINK":{"id":73,"last":"0.00000564","lowestAsk":"0.00000576","highestBid":"0.00000568","percentChange":"-0.05210084","baseVolume":"16.38412938","quoteVolume":"2866984.76671303","isFrozen":"0","high24hr":"0.00000601","low24hr":"0.00000551"},"BTC_POT":{"id":74,"last":"0.00001804","lowestAsk":"0.00001804","highestBid":"0.00001797","percentChange":"-0.01903208","baseVolume":"16.34946730","quoteVolume":"909849.21619720","isFrozen":"0","high24hr":"0.00001859","low24hr":"0.00001738"},"BTC_PPC":{"id":75,"last":"0.00028157","lowestAsk":"0.00028707","highestBid":"0.00028160","percentChange":"-0.00845159","baseVolume":"7.36056002","quoteVolume":"25884.99258968","isFrozen":"0","high24hr":"0.00029683","low24hr":"0.00027814"},"BTC_RIC":{"id":83,"last":"0.00001259","lowestAsk":"0.00001268","highestBid":"0.00001259","percentChange":"-0.02629543","baseVolume":"61.45178929","quoteVolume":"4420592.96607411","isFrozen":"0","high24hr":"0.00001600","low24hr":"0.00001200"},"BTC_SJCX":{"id":86,"last":"0.00012549","lowestAsk":"0.00012557","highestBid":"0.00012500","percentChange":"-0.02871517","baseVolume":"7.73810556","quoteVolume":"62327.01167017","isFrozen":"0","high24hr":"0.00013060","low24hr":"0.00012020"},"BTC_STR":{"id":89,"last":"0.00000290","lowestAsk":"0.00000291","highestBid":"0.00000290","percentChange":"-0.06148867","baseVolume":"257.90814353","quoteVolume":"87593379.23331051","isFrozen":"0","high24hr":"0.00000311","low24hr":"0.00000280"},"BTC_SYS":{"id":92,"last":"0.00003580","lowestAsk":"0.00003647","highestBid":"0.00003596","percentChange":"-0.00417246","baseVolume":"52.56322186","quoteVolume":"1515113.05979589","isFrozen":"0","high24hr":"0.00003695","low24hr":"0.00003333"},"BTC_VIA":{"id":97,"last":"0.00032123","lowestAsk":"0.00032123","highestBid":"0.00032121","percentChange":"0.01257722","baseVolume":"46.71076249","quoteVolume":"142146.95933273","isFrozen":"0","high24hr":"0.00035008","low24hr":"0.00030033"},"BTC_XVC":{"id":98,"last":"0.00006238","lowestAsk":"0.00006238","highestBid":"0.00006237","percentChange":"-0.13288851","baseVolume":"6.43244739","quoteVolume":"95839.47321951","isFrozen":"0","high24hr":"0.00007248","low24hr":"0.00006237"},"BTC_VRC":{"id":99,"last":"0.00007290","lowestAsk":"0.00007290","highestBid":"0.00007289","percentChange":"-0.04805432","baseVolume":"3.66494600","quoteVolume":"49327.88416431","isFrozen":"0","high24hr":"0.00007627","low24hr":"0.00007290"},"BTC_VTC":{"id":100,"last":"0.00023010","lowestAsk":"0.00023010","highestBid":"0.00022851","percentChange":"-0.04001001","baseVolume":"43.92664159","quoteVolume":"190423.36061129","isFrozen":"0","high24hr":"0.00024705","low24hr":"0.00022300"},"BTC_XBC":{"id":104,"last":"0.01500000","lowestAsk":"0.01538719","highestBid":"0.01500000","percentChange":"-0.03247528","baseVolume":"3.09085870","quoteVolume":"202.71475713","isFrozen":"0","high24hr":"0.01584508","low24hr":"0.01491280"},"BTC_XCP":{"id":108,"last":"0.00230853","lowestAsk":"0.00230853","highestBid":"0.00228293","percentChange":"-0.03243206","baseVolume":"16.31578818","quoteVolume":"7060.85316020","isFrozen":"0","high24hr":"0.00238582","low24hr":"0.00224255"},"BTC_XEM":{"id":112,"last":"0.00005285","lowestAsk":"0.00005319","highestBid":"0.00005283","percentChange":"-0.04309252","baseVolume":"310.03661232","quoteVolume":"5803494.77163991","isFrozen":"0","high24hr":"0.00005558","low24hr":"0.00005176"},"BTC_XMR":{"id":114,"last":"0.02037169","lowestAsk":"0.02047184","highestBid":"0.02037173","percentChange":"-0.01741448","baseVolume":"596.15337628","quoteVolume":"28741.15946963","isFrozen":"0","high24hr":"0.02118880","low24hr":"0.02025204"},"BTC_XPM":{"id":116,"last":"0.00004022","lowestAsk":"0.00004083","highestBid":"0.00004023","percentChange":"-0.09719416","baseVolume":"16.46425558","quoteVolume":"382976.61134534","isFrozen":"0","high24hr":"0.00004526","low24hr":"0.00004022"},"BTC_XRP":{"id":117,"last":"0.00004627","lowestAsk":"0.00004626","highestBid":"0.00004614","percentChange":"-0.00107944","baseVolume":"1433.69002321","quoteVolume":"31249358.42529640","isFrozen":"0","high24hr":"0.00004705","low24hr":"0.00004400"},"USDT_BTC":{"id":121,"last":"4423.60000007","lowestAsk":"4427.73330997","highestBid":"4423.60000028","percentChange":"-0.00257046","baseVolume":"15267807.96449828","quoteVolume":"3453.86409207","isFrozen":"0","high24hr":"4486.99999999","low24hr":"4358.00000000"},"USDT_DASH":{"id":122,"last":"309.00000000","lowestAsk":"309.00000001","highestBid":"309.00000000","percentChange":"-0.03521839","baseVolume":"350059.48716507","quoteVolume":"1115.64703608","isFrozen":"0","high24hr":"321.05407187","low24hr":"305.71846484"},"USDT_LTC":{"id":123,"last":"53.49606347","lowestAsk":"53.49606310","highestBid":"53.48595253","percentChange":"-0.02734429","baseVolume":"1399116.22054092","quoteVolume":"25883.17437482","isFrozen":"0","high24hr":"55.08352846","low24hr":"52.94080948"},"USDT_NXT":{"id":124,"last":"0.06992527","lowestAsk":"0.07052352","highestBid":"0.06992527","percentChange":"-0.05761091","baseVolume":"207427.51683914","quoteVolume":"2917352.48095036","isFrozen":"0","high24hr":"0.07481610","low24hr":"0.06970000"},"USDT_STR":{"id":125,"last":"0.01294297","lowestAsk":"0.01290930","highestBid":"0.01282265","percentChange":"-0.05661421","baseVolume":"209312.78739387","quoteVolume":"16110344.43059053","isFrozen":"0","high24hr":"0.01382000","low24hr":"0.01250000"},"USDT_XMR":{"id":126,"last":"90.62069180","lowestAsk":"90.82277363","highestBid":"90.49770000","percentChange":"-0.01801280","baseVolume":"485293.77255239","quoteVolume":"5271.00958936","isFrozen":"0","high24hr":"93.34745554","low24hr":"90.14005001"},"USDT_XRP":{"id":127,"last":"0.20460049","lowestAsk":"0.20460049","highestBid":"0.20460006","percentChange":"-0.00297017","baseVolume":"913816.06669671","quoteVolume":"4488014.50868453","isFrozen":"0","high24hr":"0.20701000","low24hr":"0.20000001"},"XMR_BCN":{"id":129,"last":"0.00001420","lowestAsk":"0.00001424","highestBid":"0.00001420","percentChange":"-0.04697986","baseVolume":"18.16293076","quoteVolume":"1260228.53027008","isFrozen":"0","high24hr":"0.00001505","low24hr":"0.00001342"},"XMR_BLK":{"id":130,"last":"0.00215697","lowestAsk":"0.00223132","highestBid":"0.00213144","percentChange":"-0.06218695","baseVolume":"2.22454097","quoteVolume":"1015.49005028","isFrozen":"0","high24hr":"0.00233123","low24hr":"0.00200766"},"XMR_BTCD":{"id":131,"last":"1.12200000","lowestAsk":"1.13920517","highestBid":"1.09051170","percentChange":"-0.04686894","baseVolume":"11.46989888","quoteVolume":"10.34252879","isFrozen":"0","high24hr":"1.18473546","low24hr":"1.07985945"},"XMR_DASH":{"id":132,"last":"3.43458392","lowestAsk":"3.42055630","highestBid":"3.40758521","percentChange":"-0.01061885","baseVolume":"39.92914107","quoteVolume":"11.66226866","isFrozen":"0","high24hr":"3.47144671","low24hr":"3.34022619"},"XMR_LTC":{"id":137,"last":"0.58913548","lowestAsk":"0.59192081","highestBid":"0.58717881","percentChange":"-0.00916703","baseVolume":"230.27714047","quoteVolume":"392.50415581","isFrozen":"0","high24hr":"0.59752000","low24hr":"0.57442191"},"XMR_MAID":{"id":138,"last":"0.00497788","lowestAsk":"0.00507887","highestBid":"0.00495636","percentChange":"0.00214405","baseVolume":"1.25295151","quoteVolume":"255.62716131","isFrozen":"0","high24hr":"0.00502573","low24hr":"0.00479597"},"XMR_NXT":{"id":140,"last":"0.00076986","lowestAsk":"0.00077423","highestBid":"0.00077025","percentChange":"-0.04537169","baseVolume":"64.66287761","quoteVolume":"81747.19119752","isFrozen":"0","high24hr":"0.00080687","low24hr":"0.00076115"},"BTC_ETH":{"id":148,"last":"0.06769090","lowestAsk":"0.06769085","highestBid":"0.06762685","percentChange":"-0.00600734","baseVolume":"2521.10026575","quoteVolume":"37285.46463344","isFrozen":"0","high24hr":"0.06820001","low24hr":"0.06700101"},"USDT_ETH":{"id":149,"last":"300.34761996","lowestAsk":"300.34755000","highestBid":"299.87694000","percentChange":"-0.00533366","baseVolume":"3648000.72063574","quoteVolume":"12187.13283750","isFrozen":"0","high24hr":"303.57399660","low24hr":"293.40881690"},"BTC_SC":{"id":150,"last":"0.00000116","lowestAsk":"0.00000117","highestBid":"0.00000116","percentChange":"-0.00854700","baseVolume":"263.99848885","quoteVolume":"223370429.85740963","isFrozen":"0","high24hr":"0.00000125","low24hr":"0.00000114"},"BTC_BCY":{"id":151,"last":"0.00007569","lowestAsk":"0.00007570","highestBid":"0.00007502","percentChange":"-0.04876209","baseVolume":"17.41987246","quoteVolume":"226729.56812219","isFrozen":"0","high24hr":"0.00007957","low24hr":"0.00007220"},"BTC_EXP":{"id":153,"last":"0.00046122","lowestAsk":"0.00046150","highestBid":"0.00046122","percentChange":"-0.01490815","baseVolume":"21.65239018","quoteVolume":"46210.04272895","isFrozen":"0","high24hr":"0.00048995","low24hr":"0.00045046"},"BTC_FCT":{"id":155,"last":"0.00388471","lowestAsk":"0.00388454","highestBid":"0.00384617","percentChange":"-0.03877835","baseVolume":"164.01246634","quoteVolume":"41940.44138609","isFrozen":"0","high24hr":"0.00407517","low24hr":"0.00380000"},"BTC_RADS":{"id":158,"last":"0.00105657","lowestAsk":"0.00105658","highestBid":"0.00104702","percentChange":"-0.06977337","baseVolume":"16.89052284","quoteVolume":"15840.20103148","isFrozen":"0","high24hr":"0.00113600","low24hr":"0.00101257"},"BTC_AMP":{"id":160,"last":"0.00003485","lowestAsk":"0.00003499","highestBid":"0.00003478","percentChange":"-0.07461497","baseVolume":"19.00355962","quoteVolume":"522444.69785591","isFrozen":"0","high24hr":"0.00003746","low24hr":"0.00003477"},"BTC_DCR":{"id":162,"last":"0.00758000","lowestAsk":"0.00760004","highestBid":"0.00758000","percentChange":"0.01389355","baseVolume":"132.27441389","quoteVolume":"17201.11594833","isFrozen":"0","high24hr":"0.00831300","low24hr":"0.00738000"},"BTC_LSK":{"id":163,"last":"0.00123236","lowestAsk":"0.00123017","highestBid":"0.00122752","percentChange":"-0.00370268","baseVolume":"197.37340773","quoteVolume":"158541.80121177","isFrozen":"0","high24hr":"0.00129522","low24hr":"0.00120511"},"ETH_LSK":{"id":166,"last":"0.01820000","lowestAsk":"0.01819089","highestBid":"0.01810021","percentChange":"0.00049035","baseVolume":"131.83014355","quoteVolume":"7172.47725409","isFrozen":"0","high24hr":"0.01909994","low24hr":"0.01800000"},"BTC_LBC":{"id":167,"last":"0.00005103","lowestAsk":"0.00005106","highestBid":"0.00005103","percentChange":"-0.06091277","baseVolume":"27.16914862","quoteVolume":"514700.78872888","isFrozen":"0","high24hr":"0.00005581","low24hr":"0.00005073"},"BTC_STEEM":{"id":168,"last":"0.00029311","lowestAsk":"0.00029330","highestBid":"0.00029172","percentChange":"-0.06084588","baseVolume":"199.79361703","quoteVolume":"663081.84352395","isFrozen":"0","high24hr":"0.00031837","low24hr":"0.00028524"},"ETH_STEEM":{"id":169,"last":"0.00432764","lowestAsk":"0.00435000","highestBid":"0.00431946","percentChange":"-0.04511374","baseVolume":"59.93718515","quoteVolume":"13444.98451450","isFrozen":"0","high24hr":"0.00464158","low24hr":"0.00428138"},"BTC_SBD":{"id":170,"last":"0.00021085","lowestAsk":"0.00021318","highestBid":"0.00021107","percentChange":"-0.00874429","baseVolume":"4.19048277","quoteVolume":"19578.76729716","isFrozen":"0","high24hr":"0.00021717","low24hr":"0.00021002"},"BTC_ETC":{"id":171,"last":"0.00282041","lowestAsk":"0.00282041","highestBid":"0.00281165","percentChange":"-0.03096343","baseVolume":"306.37602891","quoteVolume":"107102.10724615","isFrozen":"0","high24hr":"0.00293147","low24hr":"0.00280201"},"ETH_ETC":{"id":172,"last":"0.04157694","lowestAsk":"0.04180561","highestBid":"0.04153386","percentChange":"-0.02805567","baseVolume":"211.51009506","quoteVolume":"5003.41085911","isFrozen":"0","high24hr":"0.04294442","low24hr":"0.04157694"},"USDT_ETC":{"id":173,"last":"12.45460001","lowestAsk":"12.50499937","highestBid":"12.45460002","percentChange":"-0.03257730","baseVolume":"921628.62071768","quoteVolume":"72878.11030569","isFrozen":"0","high24hr":"12.98363733","low24hr":"12.39999992"},"BTC_REP":{"id":174,"last":"0.00437201","lowestAsk":"0.00437201","highestBid":"0.00435024","percentChange":"-0.03611049","baseVolume":"41.09529815","quoteVolume":"9351.92011149","isFrozen":"0","high24hr":"0.00456968","low24hr":"0.00430326"},"USDT_REP":{"id":175,"last":"19.14237383","lowestAsk":"19.30883256","highestBid":"19.14237383","percentChange":"-0.04828158","baseVolume":"36997.41161597","quoteVolume":"1894.46692715","isFrozen":"0","high24hr":"20.24308681","low24hr":"19.10110001"},"ETH_REP":{"id":176,"last":"0.06419264","lowestAsk":"0.06513205","highestBid":"0.06419260","percentChange":"-0.03599832","baseVolume":"33.97124312","quoteVolume":"519.83598233","isFrozen":"0","high24hr":"0.06700349","low24hr":"0.06392264"},"BTC_ARDR":{"id":177,"last":"0.00004502","lowestAsk":"0.00004528","highestBid":"0.00004500","percentChange":"-0.05141171","baseVolume":"134.51773770","quoteVolume":"2931304.70063756","isFrozen":"0","high24hr":"0.00004801","low24hr":"0.00004435"},"BTC_ZEC":{"id":178,"last":"0.05808000","lowestAsk":"0.05808000","highestBid":"0.05807000","percentChange":"-0.03031889","baseVolume":"537.36502926","quoteVolume":"9058.60594250","isFrozen":"0","high24hr":"0.06231172","low24hr":"0.05683012"},"ETH_ZEC":{"id":179,"last":"0.85428659","lowestAsk":"0.85798296","highestBid":"0.85428659","percentChange":"-0.03388180","baseVolume":"816.15684937","quoteVolume":"928.89288041","isFrozen":"0","high24hr":"0.92999991","low24hr":"0.84829570"},"USDT_ZEC":{"id":180,"last":"258.00000000","lowestAsk":"258.00000000","highestBid":"257.30000000","percentChange":"-0.02652530","baseVolume":"1997705.33564600","quoteVolume":"7576.13625533","isFrozen":"0","high24hr":"279.00000000","low24hr":"254.28533694"},"XMR_ZEC":{"id":181,"last":"2.84411292","lowestAsk":"2.85768364","highestBid":"2.84412681","percentChange":"-0.01760885","baseVolume":"85.91337176","quoteVolume":"30.22914746","isFrozen":"0","high24hr":"2.98493532","low24hr":"2.77410417"},"BTC_STRAT":{"id":182,"last":"0.00083762","lowestAsk":"0.00083758","highestBid":"0.00083432","percentChange":"-0.11362962","baseVolume":"469.94261567","quoteVolume":"531841.81479570","isFrozen":"0","high24hr":"0.00097514","low24hr":"0.00079910"},"BTC_NXC":{"id":183,"last":"0.00006141","lowestAsk":"0.00006178","highestBid":"0.00006146","percentChange":"-0.00951612","baseVolume":"20.36678688","quoteVolume":"336061.33360238","isFrozen":"0","high24hr":"0.00006438","low24hr":"0.00005842"},"BTC_PASC":{"id":184,"last":"0.00008872","lowestAsk":"0.00008960","highestBid":"0.00008868","percentChange":"-0.03795272","baseVolume":"14.81552057","quoteVolume":"161750.75339763","isFrozen":"0","high24hr":"0.00009700","low24hr":"0.00008821"},"BTC_GNT":{"id":185,"last":"0.00005667","lowestAsk":"0.00005715","highestBid":"0.00005666","percentChange":"-0.02695741","baseVolume":"81.60098552","quoteVolume":"1411023.24685209","isFrozen":"0","high24hr":"0.00005897","low24hr":"0.00005554"},"ETH_GNT":{"id":186,"last":"0.00084654","lowestAsk":"0.00084802","highestBid":"0.00084654","percentChange":"-0.00651339","baseVolume":"525.74700602","quoteVolume":"618883.35224870","isFrozen":"0","high24hr":"0.00087265","low24hr":"0.00083005"},"BTC_GNO":{"id":187,"last":"0.02771264","lowestAsk":"0.02799997","highestBid":"0.02771700","percentChange":"-0.04936192","baseVolume":"30.96278453","quoteVolume":"1092.48882109","isFrozen":"0","high24hr":"0.02973043","low24hr":"0.02733300"},"ETH_GNO":{"id":188,"last":"0.41152352","lowestAsk":"0.41819887","highestBid":"0.41084993","percentChange":"-0.04885864","baseVolume":"22.85278318","quoteVolume":"54.56992984","isFrozen":"0","high24hr":"0.43672729","low24hr":"0.40192749"},"BTC_BCH":{"id":189,"last":"0.09462553","lowestAsk":"0.09459953","highestBid":"0.09456876","percentChange":"-0.01326673","baseVolume":"988.59725457","quoteVolume":"10452.13876672","isFrozen":"0","high24hr":"0.09800000","low24hr":"0.09259980"},"ETH_BCH":{"id":190,"last":"1.39856661","lowestAsk":"1.39588078","highestBid":"1.39430389","percentChange":"0.00565076","baseVolume":"703.13190099","quoteVolume":"504.58056943","isFrozen":"0","high24hr":"1.44351881","low24hr":"1.37000001"},"USDT_BCH":{"id":191,"last":"417.24430172","lowestAsk":"417.24430172","highestBid":"415.99110195","percentChange":"-0.01590746","baseVolume":"1911874.95397068","quoteVolume":"4548.39784656","isFrozen":"0","high24hr":"432.10137600","low24hr":"410.00000003"},"BTC_ZRX":{"id":192,"last":"0.00004556","lowestAsk":"0.00004581","highestBid":"0.00004556","percentChange":"-0.04245481","baseVolume":"110.42439429","quoteVolume":"2401308.19299265","isFrozen":"0","high24hr":"0.00004858","low24hr":"0.00004408"},"ETH_ZRX":{"id":193,"last":"0.00067206","lowestAsk":"0.00067598","highestBid":"0.00067206","percentChange":"-0.04033927","baseVolume":"614.15821570","quoteVolume":"901434.76937858","isFrozen":"0","high24hr":"0.00071561","low24hr":"0.00065288"},"BTC_CVC":{"id":194,"last":"0.00008697","lowestAsk":"0.00008774","highestBid":"0.00008681","percentChange":"-0.01751016","baseVolume":"20.60106326","quoteVolume":"233629.81202524","isFrozen":"0","high24hr":"0.00009027","low24hr":"0.00008543"},"ETH_CVC":{"id":195,"last":"0.00128693","lowestAsk":"0.00129313","highestBid":"0.00128506","percentChange":"-0.01439052","baseVolume":"41.53851684","quoteVolume":"32031.48739296","isFrozen":"0","high24hr":"0.00133365","low24hr":"0.00127239"},"BTC_OMG":{"id":196,"last":"0.00206186","lowestAsk":"0.00206527","highestBid":"0.00206186","percentChange":"-0.05317199","baseVolume":"499.25284092","quoteVolume":"232710.55290524","isFrozen":"0","high24hr":"0.00225200","low24hr":"0.00201294"},"ETH_OMG":{"id":197,"last":"0.03028802","lowestAsk":"0.03032521","highestBid":"0.03029146","percentChange":"-0.05513959","baseVolume":"633.01731740","quoteVolume":"20238.78172495","isFrozen":"0","high24hr":"0.03312560","low24hr":"0.03009610"},"BTC_GAS":{"id":198,"last":"0.00750203","lowestAsk":"0.00750970","highestBid":"0.00750206","percentChange":"0.14012267","baseVolume":"422.38628056","quoteVolume":"58883.42848068","isFrozen":"0","high24hr":"0.00769571","low24hr":"0.00655450"},"ETH_GAS":{"id":199,"last":"0.11199994","lowestAsk":"0.11199994","highestBid":"0.10989354","percentChange":"0.16115743","baseVolume":"1009.33420989","quoteVolume":"9506.02936848","isFrozen":"0","high24hr":"0.11358028","low24hr":"0.09580386"}}'
  recorded_at: Tue, 03 Oct 2017 04:05:43 GMT
recorded_with: VCR 3.0.3
