---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnTradeHistory&currencyPair=BTC_ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"globalTradeID":242834132,"tradeID":35104617,"date":"2017-10-14 23:11:47","type":"buy","rate":"0.05922074","amount":"0.00253290","total":"0.00015000"},{"globalTradeID":242834130,"tradeID":35104616,"date":"2017-10-14
        23:11:47","type":"sell","rate":"0.05916508","amount":"0.35000000","total":"0.02070777"},{"globalTradeID":242834124,"tradeID":35104615,"date":"2017-10-14
        23:11:44","type":"buy","rate":"0.05922074","amount":"0.19116401","total":"0.01132087"},{"globalTradeID":242834104,"tradeID":35104614,"date":"2017-10-14
        23:11:37","type":"buy","rate":"0.05916501","amount":"0.00000010","total":"0.00000000"},{"glo[...]
