---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[["0.05969003",0.00511041],["0.05974294",1.51275921],["0.05974297",17.89060948],["0.05974300",29.2104],["0.05976799",58.44237167],["0.05976800",33.22253052],["0.05979250",11.2111813],["0.05979251",0.0133796],["0.05983045",0.03644222],["0.05989691",70.474],["0.05989716",10.69944347],["0.05990768",1],["0.05993574",0.53937857],["0.06000832",153.85973437],["0.06004703",0.00643841],["0.06005196",0.27658547],["0.06005280",0.00391087],["0.06005800",3.63584845],["0.06006468",6.26947953],["0.06007938",0.00166796],["0.06008029",0.49933181],["0.06008609",0.01342045],["0.06008690",0.00391216],["0.06009984",0.28725436],["0.06010522",0.3002297],["0.06010888",0.00833737],["0.06011353",0.01661782],["0.06011409",0.33353376],["0.06013106",0.00383795],["0.06013260",0.00834406],["0.06015161",0.00250251],["0.06019248",0.00741272],["0.06019771",0.1],["0.06020441",49.03218675],["0.06022935",0.00332063],["0.06027146",151.6645605],["0.06027147",26.947],["0.06027149",0.00174496],["0.06027762",0.75967394],["0.06027932",0.02012512],["0.06028000",0.2991],["0.06028958",0.00331732],["0.06029400",0.0125],["0.06029457",35],["0.06030000",0.00184255],["0.06033435",99.88],["0.06033438",0.10406364],["0.06034513",0.1],["0.06034987",0.003314],["0.06035000",1]],"bids":[["0.05969000",2.21179654],["0.05968496",0.09078818],["0.05967969",0.15276344],["0.05966903",1.15775884],["0.05966280",0.00392525],["0.05966103",0.15462436],["0.05965530",0.00394447],["0.05964580",0.00393256],["0.05964015",2.78098707],["0.05964012",0.13437671],["0.05963039",25.729],["0.05963035",0.00334565],["0.05962968",0.00251553],["0.05961313",0.16112937],["0.05960686",54.93466229],["0.05960663",4],["0.05960662",1.86282935],["0.05960450",0.00838863],["0.05960001",50.412],["0.05960000",9.90184564],["0.05959971",0.10026688],["0.05959027",1],["0.05959000",0.52453215],["0.05958310",0.00393335],["0.05958063",0.0025176],["0.05957265",0.00268194],["0.05957078",0.00334899],["0.05956714",0.5],["0.05956175",0.08097713],["0.05954470",16],["0.05954400",2.47141307],["0.05953997",0.07224172],["0.05953691",59.82886391],["0.05953382",0.86511411],["0.05952358",35],["0.05952272",0.0830793],["0.05951127",0.00335234],["0.05950698",6.75583012],["0.05950000",0.51100017],["0.05949000",0.3],["0.05947790",0.04784685],["0.05945443",0.05765121],["0.05945182",0.00335569],["0.05944190",0.00832139],["0.05943597",0.52269022],["0.05943522",0.08415044],["0.05942677",0.86511416],["0.05941890",0.0039417],["0.05940723",0.05446648],["0.05940151",0.00252519]],"isFrozen":"0","seq":419571633}'
  recorded_at: Sat, 14 Oct 2017 23:02:44 GMT
recorded_with: VCR 3.0.3
