---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnTradeHistory&currencyPair=BTC_LTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"globalTradeID":416660377,"tradeID":17859965,"date":"2019-05-15 08:38:08","type":"buy","rate":"0.01169494","amount":"0.00000487","total":"0.00000005","orderNumber":251306609882},{"globalTradeID":416660325,"tradeID":17859964,"date":"2019-05-15
        08:37:49","type":"buy","rate":"0.01169000","amount":"24.28232175","total":"0.28386034","orderNumber":251306559932},{"globalTradeID":416660248,"tradeID":17859963,"date":"2019-05-15
        08:37:18","type":"sell","rate":"0.01170998","amount":"0.00045410","total":"0.00000531","orderNumber":251306475017},{"globalTradeID":416660231,"tradeID":17859962,"date":"2019-05-15
        08:37:14","type":"buy","rate":"0.0117[...]
