---
http_interactions:
- request:
    method: get
    uri: https://api.liqnet.com/public/rest/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: ASCII-8BIT
      string: "[\r\n  {\r\n    \"id\": \"5a733158d0538024488645d4\",\r\n    \"market\":
        \"LTC/BTC\",\r\n    \"coin_name\": \"Litecoin\",\r\n    \"last_price\": 0.01479375,\r\n
        \   \"change\": -1.08,\r\n    \"volume_24hr\": 413.66179513,\r\n    \"high_24hr\":
        0.01498994,\r\n    \"low_24hr\": 0.01471555,\r\n    \"top_bid\": 0.01515989,\r\n
        \   \"top_ask\": 0.01516089,\r\n    \"is_frozen\": false,\r\n    \"takerFee\":
        0.2,\r\n    \"makerFee\": 0.1,\r\n    \"takerLENdiscont\": 0.0,\r\n    \"makerLENdiscont\":
        0.0,\r\n    \"decimal_places\": 8,\r\n    \"tradingWorks\": false,\r\n    \"depositWorks\":
        true,\r\n    \"withdrawWorks\": true\r\n  },\r\n  {\r\n    \"id\": \"5a7331e9d0538024488645d5\",\r\n
        \   \"market\": \"ETH/BTC\",\r\n    \"coin_name\": \"Ethereum\",\r\n    \"last_price\":
        0.07696012,\r\n    \"change\": 0.85,\r\n    \"volume_24hr\": 321.29583599,\r\n
        \   \"high_24hr\": 0.07740348,\r\n    \"low_24hr\": 0.07594266,\r\n    \"top_bid\":
        0.07564097,\r\n    \"top_ask\": 0.07564098,\r\n    \"is_frozen\": false,\r\n
        \   \"takerFee\": 0.2,\r\n    \"makerFee\": 0.1,\r\n    \"take[...]
