---
http_interactions:
- request:
    method: get
    uri: https://api-new.syex.io/pc/coinMarket/v1/selectCoinMarket?payCoinName=USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Islogin:
      - "-1"
      X-Application-Context:
      - syex
    body:
      encoding: UTF-8
      string: '{"model":[{"coinid":87,"tradetypeid":1,"logo":"v2/images/coinLogo/fadf9971-50d7-479f-bf9b-00e208932586.png","tradeTime":null,"defaultenname":"SY","defaultcnname":"尚亚币","newclinchprice":"0.11700000","newclinchtype":2,"buyprice":"0.117","sellprice":"0.1172","count24":"6718088.49000000","money24":"806890.79873210","range24":"3.17","highprice":"0.12670000","lowprice":"0.11200000","sort":13001,"payCoinId":69,"brokenlineInfo":[0.1185,0.1187,0.1189,0.1223,0.1255,0.1261,0.1257,0.1249,0.1249,0.1234,0.1222,0.121,0.1202,0.1205,0.1201,0.1195,0.1186,0.117,0.1167,0.1171],"isInterest":0,"tradeArea":0},{"coinid":36,"tradetypeid":1,"logo":"/v2/images/coinLogo/8aee733f-e719-482c-a83c-b56b818b176b.png","tradeTime":null,"defaultenname":"ETH","defaultcnname":"以太坊ETH","newclinchprice":"453.02000000","newclinchtype":1,"buyprice":"452.80000000","sellprice":"458.90000000","count24":"7501.09170000","money24":"3288801.53928000","range24":"9.29","highprice":"460.00000000","lowprice":"410.00000000","sort":13000,"payCoinId":69,"brokenlineInfo":[415.5,416.0,416.5,421.0,430.6,436.5,437.7,441.5,450.7,454.9,[...]
