---
http_interactions:
- request:
    method: get
    uri: https://api.nexybit.com/api/spot/v1/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"spotCodeBatchD":{"BTC":{"ETH/BTC":{"symbol":"ETH/BTC","reference_currency":"BTC","trade_currency":"ETH","ticker_unit":"0.00000001000000000000","quantity_unit":"0.00100000000000000000","minimum_trade_amount":"0.00005000000000000000","decimal_point":"8"},"ATM/BTC":{"symbol":"ATM/BTC","reference_currency":"BTC","trade_currency":"ATM","ticker_unit":"0.00000001000000000000","quantity_unit":"0.00100000000000000000","minimum_trade_amount":"0.00005000000000000000","decimal_point":"8"},"TTC/BTC":{"symbol":"TTC/BTC","reference_currency":"BTC","trade_currency":"TTC","ticker_unit":"0.00000001000000000000","quantity_unit":"0.00100000000000000000","minimum_trade_amount":"0.00005000000000000000","decimal_point":"8"},"EXC/BTC":{"symbol":"EXC/BTC","refere[...]
