---
http_interactions:
- request:
    method: get
    uri: https://api.nexybit.com/api/spot/v1/symbols/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"AE/BTC","trade_amount":"17546271.444","h24_trade_amount":"0","previous_closing_price":"0.001390000000","last_price":"0.001390000000","open_price":"0","high_price":"0","low_price":"0","transition_rate":"0"},{"symbol":"AE/ETH","trade_amount":"170330010.753","h24_trade_amount":"0","previous_closing_price":"0.005200000000","last_price":"0.005200000000","open_price":"0","high_price":"0","low_price":"0","transition_rate":"0"},{"symbol":"ALP/BTC","trade_amount":"304437.261","h24_trade_amount":"304437.261","previous_closing_price":"0","last_price":"0.000001590000","open_price":"0.000001490000","high_price":"0.000002000000","low_price":"0.000001490000","transition_rate":"0"},{"symbol":"ALP/ETH","trade[...]
