---
http_interactions:
- request:
    method: get
    uri: https://www.paribu.com/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_TL":{"last":28300,"lowestAsk":28300.02,"highestBid":28300,"percentChange":-0.09,"volume":760.5,"high24hr":28800,"low24hr":27400}}'
  recorded_at: Sat, 31 Mar 2018 12:21:01 GMT
recorded_with: VCR 4.0.0
