---
http_interactions:
- request:
    method: get
    uri: https://www.paribu.com/api/v1/orderbook/btc_tl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sell":{"46799.99":"0.37615069","46800.00":"0.25000000","46830.00":"0.06833271","46850.00":"0.02134472","46950.00":"0.15259851","46997.12":"0.12977000","46999.00":"0.61424102","47000.00":"0.62440953","47074.00":"2.00000000","47075.00":"0.96226892","47100.00":"0.23246285","47149.00":"0.00371700","47150.00":"0.03324587","47200.00":"0.10165514","47298.00":"0.07715267","47399.00":"0.01358679","47400.00":"1.86330121","47450.00":"1.26594457","47451.00":"0.04212767","47464.00":"0.04531856","47482.00":"0.04630513","47496.00":"0.09162877","47500.00":"1.47691218","47521.00":"0.27104333","47542.00":"0.29206807","47554.00":"0.29508559","47561.00":"0.27989845","47575.00":"0.36489228","47584.00":"0.31863652","47590.00":"0.48000000","47600.00":"0.79374599","47600.01":"0.21184092","47622.00":"0.27196464","47649.99":"0.92211363","47650.00":"1.25000000","47662.00":"0.29196216","47671.00":"0.29646389","47681.00":"0.29192446","47698.00":"0.26611494","47700.00":"0.47000000","47712.00":"0.29191818","47742.00":"0.26378200","47750.00":"1.00000000","47755.00":"0.28909539","47766.00":"0.48074991","47772.00":"0.03826238","47790.00":"0.05072191","47800.00":"0.09229394","47817.00":"0.10475354","47826.00":"0.11362021"},"buy":{"46750.99":"0.20783795","46672.77":"1.02873812","46672.00":"2.69872192","46665.03":"0.03214398","46662.20":"0.09144939","46659.00":"0.49990355","46655.00":"1.19824048","46644.00":"0.06165058","46628.00":"0.02191681","46600.00":"0.21459227","46590.00":"0.01329182","46540.00":"0.17425719","46539.00":"0.06510668","46534.35":"0.01074475","46533.80":"0.13224559","46532.00":"0.21653915","46523.00":"0.06910560","46520.00":"0.30274354","46516.00":"0.04059979","46512.00":"0.11387750","46510.00":"0.06450225","46509.58":"0.11879870","46509.56":"0.41503073","46500.00":"0.05849460","46499.00":"0.40480568","46488.00":"0.06788332","46472.00":"0.21518333","46461.00":"0.22034533","46456.00":"0.04046323","46451.49":"0.16633696","46450.00":"1.01342863","46445.00":"0.10765421","46434.00":"0.01615195","46423.00":"0.10000000","46412.00":"0.08952426","46408.00":"0.06940613","46400.99":"0.67153307","46400.00":"0.75431032","46384.00":"0.00646774","46375.00":"0.18857142","46312.00":"0.00500000","46303.09":"0.17444062","46303.00":"0.21596872","46300.01":"0.02590711","46300.00":"0.71284253","46244.00":"0.10673725","46205.01":"0.02164267","46205.00":"0.21642679","46150.00":"0.00650054","46142.00":"0.10836114"},"message":"\u0130\u015flem
        ba\u015far\u0131l\u0131","success":true}'
  recorded_at: Wed, 20 Nov 2019 07:45:16 GMT
recorded_with: VCR 4.0.0
