---
http_interactions:
- request:
    method: get
    uri: https://www.paribu.com/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_TL":{"lowestAsk":41255,"highestBid":41105,"low24hr":40501,"high24hr":42210,"avg24hr":41334.49,"volume":653.59,"last":41130,"change":-970,"percentChange":-2.3,"chartData":[46420,46785.01,46404,46497,45115.01,43720,43900,43520,41484,41749,42150,41958,41800,42550,42290,41831,42199.99,41206.01,40753,38199,40250,41888,41362.09,41900,41138,41229,41550,41101.01]},"ETH_TL":{"lowestAsk":851.19,"highestBid":845.2,"low24hr":835.07,"high24hr":867,"avg24hr":849.26,"volume":1451.18,"last":845.2,"change":-15.12,"percentChange":-1.76,"chartData":[1002,1010,1003.01,1002,967,924.5,929.99,922.03,872.03,872.36,865.5,868,884.9,895,878.04,885,880.54,854,836.99,777.01,831,857,861.96,866,835.07,842.1,860,847.09]},"XRP_TL":{"lowestAsk":1.28,"highestBid":1.27,"low24hr":1.24,"high24hr":1.29,"avg24hr":1.27,"volume":1401755.2,"last":1.28,"change":0,"percentChange":0,"chartData":[1.45,1.46,1.44,1.44,1.4,1.38,1.39,1.39,1.35,1.34,1.35,1.35,1.34,1.36,1.36,1.34,1.34,1.32,1.32,1.22,1.26,1.27,1.28,1.28,1.27,1.26,1.28,1.27]},"TRX_TL":{"lowestAsk":0.088,"highestBid":0.087,"low24hr":0.082,"high24hr":0.09,"avg24hr":0.087,"volume":10935123,"last":0.088,"change":0.003,"percentChange":3.53,"chartData":[0.097,0.097,0.094,0.095,0.09,0.088,0.088,0.09,0.084,0.083,0.085,0.083,0.084,0.087,0.089,0.085,0.086,0.083,0.082,0.077,0.082,0.083,0.082,0.084,0.082,0.088,0.09,0.087]},"HOT_TL":{"lowestAsk":0.0047,"highestBid":0.0046,"low24hr":0.0045,"high24hr":0.0048,"avg24hr":0.0046,"volume":159443307,"last":0.0047,"change":0,"percentChange":0,"chartData":[0.0051,0.0052,0.0051,0.0051,0.005,0.0048,0.0048,0.0049,0.0046,0.0046,0.0046,0.0046,0.0047,0.0048,0.0047,0.0048,0.0047,0.0047,0.0045,0.0043,0.0045,0.0046,0.0047,0.0047,0.0046,0.0046,0.0047,0.0046]},"WAVES_TL":{"lowestAsk":3.5,"highestBid":3.41,"low24hr":3.33,"high24hr":3.5,"avg24hr":3.43,"volume":28608.3,"last":3.5,"change":0,"percentChange":0,"chartData":[4.17,4.1,4.03,4.07,3.92,3.72,3.8,3.89,3.61,3.58,3.66,3.73,3.62,3.7,3.7,3.6,3.6,3.4,3.42,3.12,3.3,3.44,3.41,3.48,3.4,3.36,3.5,3.5]},"LINK_TL":{"lowestAsk":12.92,"highestBid":12.89,"low24hr":12.63,"high24hr":13.57,"avg24hr":13,"volume":138932.7,"last":12.92,"change":-0.59,"percentChange":-4.37,"chartData":[15.95,15.55,15.42,15.47,14.97,14.55,14.65,14.47,13.31,13.6,13.52,13.36,13.52,14.25,14.07,13.75,13.78,13.42,13.16,11.97,12.83,13.65,13.3,13.44,13.12,12.84,13.18,12.9]},"RVN_TL":{"lowestAsk":0.127,"highestBid":0.125,"low24hr":0.124,"high24hr":0.131,"avg24hr":0.127,"volume":878652,"last":0.125,"change":-0.003,"percentChange":-2.34,"chartData":[0.143,0.144,0.142,0.143,0.136,0.129,0.132,0.132,0.121,0.124,0.125,0.129,0.128,0.13,0.131,0.132,0.129,0.126,0.123,0.121,0.121,0.13,0.126,0.13,0.127,0.128,0.129,0.125]},"BAT_TL":{"lowestAsk":1.17,"highestBid":1.15,"low24hr":1.15,"high24hr":1.23,"avg24hr":1.19,"volume":479700,"last":1.16,"change":-0.06,"percentChange":-4.92,"chartData":[1.38,1.4,1.34,1.36,1.31,1.26,1.27,1.26,1.2,1.21,1.28,1.24,1.26,1.29,1.27,1.26,1.28,1.24,1.21,1.16,1.22,1.25,1.19,1.22,1.21,1.19,1.19,1.16]},"BTT_TL":{"lowestAsk":0.0018,"highestBid":0.0017,"low24hr":0.0016,"high24hr":0.0018,"avg24hr":0.0017,"volume":315650282,"last":0.0018,"change":0,"percentChange":0,"chartData":[0.0023,0.0023,0.0023,0.0022,0.0021,0.002,0.002,0.002,0.0019,0.0018,0.0019,0.0018,0.0019,0.0019,0.0019,0.0019,0.0019,0.0018,0.0017,0.0015,0.0017,0.0017,0.0017,0.0018,0.0017,0.0017,0.0017,0.0017]},"LTC_TL":{"lowestAsk":269.99,"highestBid":268.5,"low24hr":265,"high24hr":275,"avg24hr":269.6,"volume":1138.58,"last":268.5,"change":-3.47,"percentChange":-1.28,"chartData":[314.57,318,316.02,319,302,289.9,288.51,294.89,274.03,273.85,281.68,274.02,279.7,282.8,281.99,280.5,276,264,262,257.97,268.97,269,266.25,269.69,266.94,268,271.02,269.14]},"BCH_TL":{"lowestAsk":1230,"highestBid":1215.02,"low24hr":1208.62,"high24hr":1279,"avg24hr":1226.94,"volume":307.65,"last":1221,"change":-15.09,"percentChange":-1.22,"chartData":[1380.16,1425,1394.82,1417.8,1374.87,1282.99,1349,1345,1215,1210,1223.93,1195,1209.82,1235.32,1233.1,1217,1243,1239.47,1191.21,1130.01,1229.81,1240,1220,1238.35,1208.68,1215.69,1232,1243]},"XLM_TL":{"lowestAsk":0.331,"highestBid":0.328,"low24hr":0.326,"high24hr":0.339,"avg24hr":0.332,"volume":1345959,"last":0.328,"change":-0.009,"percentChange":-2.67,"chartData":[0.373,0.373,0.368,0.365,0.346,0.34,0.346,0.345,0.328,0.331,0.343,0.346,0.351,0.361,0.358,0.349,0.348,0.336,0.332,0.313,0.341,0.336,0.334,0.338,0.331,0.329,0.337,0.331]},"DOGE_TL":{"lowestAsk":0.0132,"highestBid":0.013,"low24hr":0.0129,"high24hr":0.0134,"avg24hr":0.0132,"volume":5714639,"last":0.013,"change":-0.0002,"percentChange":-1.52,"chartData":[0.0148,0.0146,0.0144,0.0144,0.0139,0.0137,0.0138,0.0138,0.0133,0.0132,0.0139,0.0139,0.0138,0.0137,0.0141,0.014,0.0138,0.0134,0.0133,0.0126,0.013,0.0132,0.0132,0.0132,0.0133,0.013,0.0133,0.0133]},"ADA_TL":{"lowestAsk":0.213,"highestBid":0.21,"low24hr":0.205,"high24hr":0.22,"avg24hr":0.212,"volume":798967,"last":0.214,"change":0.002,"percentChange":0.94,"chartData":[0.238,0.239,0.235,0.238,0.229,0.221,0.22,0.221,0.21,0.213,0.213,0.219,0.217,0.22,0.22,0.22,0.218,0.209,0.208,0.199,0.206,0.213,0.208,0.214,0.206,0.208,0.212,0.214]},"NEO_TL":{"lowestAsk":53.15,"highestBid":52.54,"low24hr":51.9,"high24hr":54.5,"avg24hr":52.88,"volume":11593.42,"last":53.15,"change":-0.91,"percentChange":-1.68,"chartData":[67.49,67.2,65.6,66.48,64.5,61.95,63,62.1,58.1,56.07,56.33,56.28,55.99,58.88,58.05,56.1,56.43,54.23,53.2,48.7,52.44,53.54,53.3,54.23,52.9,52.42,52.65,53.2]},"USDT_TL":{"lowestAsk":5.83,"highestBid":5.82,"low24hr":5.77,"high24hr":5.84,"avg24hr":5.81,"volume":121573.01,"last":5.83,"change":0.02,"percentChange":0.34,"chartData":[5.76,5.75,5.75,5.76,5.74,5.75,5.74,5.75,5.8,5.86,5.85,5.85,5.81,5.85,5.81,5.81,5.86,5.89,5.89,5.88,5.88,5.82,5.84,5.78,5.83,5.82,5.81,5.83]},"EOS_TL":{"lowestAsk":15.2,"highestBid":15,"low24hr":14.72,"high24hr":15.39,"avg24hr":15.03,"volume":14616.13,"last":14.89,"change":-0.21,"percentChange":-1.39,"chartData":[17.94,17.91,17.75,17.99,17.1,16.2,16.24,16.23,15.29,15.29,15.21,15.57,15.2,15.56,15.46,15.37,15.39,14.6,14.26,13.63,14.7,15.22,15.05,15.17,14.88,15,14.88,14.89]}}'
  recorded_at: Wed, 27 Nov 2019 06:39:36 GMT
recorded_with: VCR 4.0.0
