---
http_interactions:
- request:
    method: get
    uri: https://www.paribu.com/api/v1/orderbook/btc_tl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sell":{"41254.00":"0.06575067","41280.00":"0.70307940","41300.00":"0.08604648","41328.00":"0.20000000","41329.00":"0.20000000","41330.00":"0.50000000","41350.00":"1.08953256","41400.00":"0.27734226","41489.00":"0.04500822","41500.00":"0.30791850","41555.00":"0.08020696","41599.00":"0.70963879","41600.00":"0.37819064","41690.00":"0.26402018","41718.00":"0.07174519","41718.97":"0.07950850","41798.00":"0.00179435","41798.99":"0.05276779","41801.00":"0.01180186","41810.00":"0.19860446","41856.00":"0.00825405","41896.00":"0.08207228","41899.00":"0.23950000","41900.00":"0.32546069","41960.01":"0.38129307","41989.00":"0.29190408","41990.00":"1.25629520","41995.00":"0.00937677","41996.00":"0.35717687","41998.01":"0.02368056","41998.98":"0.01105035","41999.00":"0.10000000","42000.00":"3.18598718","42047.00":"0.00218555","42075.01":"0.11918650","42100.00":"0.28198532","42130.00":"0.43376598","42150.00":"0.12250000","42155.00":"0.32221471","42170.00":"0.08958121","42175.00":"0.14475734","42180.00":"0.12960551","42186.00":"0.10323331","42191.00":"0.12140030","42198.00":"0.12681170","42199.00":"0.10000000","42200.00":"0.29417422","42206.00":"0.23693314","42210.00":"0.57367137","42240.00":"0.19520810"},"buy":{"41105.00":"0.01431000","41102.44":"0.22273928","41100.05":"0.01489049","41068.00":"0.00121749","41020.09":"0.49042810","41020.00":"0.63040150","41016.00":"2.30226692","41015.01":"0.46819932","41012.00":"0.00609577","41008.00":"0.25238124","41007.00":"0.03791767","41003.00":"0.00136087","41002.00":"0.00309301","41000.01":"0.01831516","41000.00":"0.11334511","40950.00":"0.07465714","40910.00":"0.70000000","40900.05":"0.07481751","40900.00":"0.24545916","40852.00":"0.00244786","40850.00":"0.01940979","40800.00":"0.81894779","40777.00":"0.94889590","40750.00":"0.17718954","40701.00":"0.24569420","40700.01":"0.00816412","40700.00":"0.22113022","40652.00":"0.42250368","40650.02":"0.04974954","40650.00":"0.29806297","40611.00":"0.27086257","40600.00":"0.01108719","40550.00":"0.01958224","40512.00":"0.00621124","40502.01":"0.01867487","40502.00":"0.09876055","40501.01":"0.00809115","40501.00":"0.67017961","40500.00":"1.29143519","40452.00":"0.00247206","40450.00":"0.63559085","40402.00":"0.00247512","40400.00":"0.21968811","40350.00":"0.43900866","40250.10":"0.57881222","40250.00":"1.00869564","40210.00":"0.90042949","40200.00":"0.12665646","40199.00":"0.16304640","40190.00":"0.13818064"},"message":"\u0130\u015flem
        ba\u015far\u0131l\u0131","success":true}'
  recorded_at: Wed, 27 Nov 2019 06:39:37 GMT
recorded_with: VCR 4.0.0
