---
http_interactions:
- request:
    method: get
    uri: https://www.paribu.com/api/v1/trades/btc_tl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"trades":[{"dt":"2019-11-27 09:39:14","mp":"41130.00000000","ma":"0.32760296","tr":"sell"},{"dt":"2019-11-27
        09:38:58","mp":"41150.00000000","ma":"0.19197673","tr":"sell"},{"dt":"2019-11-27
        09:38:58","mp":"41150.77000000","ma":"3.62466000","tr":"sell"},{"dt":"2019-11-27
        09:38:58","mp":"41151.00000000","ma":"0.15372336","tr":"sell"},{"dt":"2019-11-27
        09:38:58","mp":"41160.00000000","ma":"0.25288969","tr":"sell"},{"dt":"2019-11-27
        09:38:34","mp":"41255.00000000","ma":"0.00120594","tr":"buy"},{"dt":"2019-11-27
        09:38:11","mp":"41255.00000000","ma":"0.09679055","tr":"buy"},{"dt":"2019-11-27
        09:38:05","mp":"41255.00000000","ma":"0.0015632","tr":"buy"},{"dt":"2019-11-27
        09:37:36","mp":"41255.00000000","ma":"0.73227050","tr":"buy"},{"dt":"2019-11-27
        09:37:36","mp":"41254.99000000","ma":"0.11611151","tr":"buy"},{"dt":"2019-11-27
        09:37:32","mp":"41150.00000000","ma":"0.09544527","tr":"sell"},{"dt":"2019-11-27
        09:35:47","mp":"41256.99000000","ma":"0.0273922","tr":"buy"},{"dt":"2019-11-27
        09:33:42","mp":"41256.24000000","ma":"0.02411816","tr":"buy"},{"dt":"2019-11-27
        09:33:15","mp":"41232.61000000","ma":"0.19848184","tr":"buy"},{"dt":"2019-11-27
        09:33:15","mp":"41200.08000000","ma":"0.01530743","tr":"buy"}],"message":"\u0130\u015flem
        ba\u015far\u0131l\u0131","success":true}'
  recorded_at: Wed, 27 Nov 2019 06:39:37 GMT
recorded_with: VCR 4.0.0
