---
http_interactions:
- request:
    method: get
    uri: https://satowallet.com/Api/Index/marketInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Nginx-Cache-Status:
      - EXPIRED
      X-Server-Powered-By:
      - Engintron
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"data":{"market":[{"id":"34","ticker":"xzc_usdt","fee_buy":"","fee_sell":"","name":"ZCoin(XZC\/USDT)","icon":"http:\/\/satowallet.com\/Upload\/coin\/5cf7b60fd5f88.png","new_price":6.6500000000000003552713678800500929355621337890625,"buy_price":2.5099999999999997868371792719699442386627197265625,"sell_price":10.5,"min_price":5.5999999999999996447286321199499070644378662109375,"max_price":6.6699999999999999289457264239899814128875732421875,"change":2.149999999999999911182158029987476766109466552734375,"volume":11366},{"id":"35","ticker":"xvg_usdt","fee_buy":"","fee_sell":"","name":"Verge(XVG\/USDT)","icon":"http:\/\/satowallet.com\/Upload\/coin\/5cf7b5ca92906.png","new_price":0.0567000000000000003996802888650563545525074005126953125,"buy_price":0.0086199999999999991906474150482608820311725139617919921875,"sell_price":0.0435999999999999998667732370449812151491641998291015625,"min_price":0.005599999999999999943101069987960727303288877010345458984375,"max_price":0.2999999999999999888977697537484345957636[...]
