---
http_interactions:
- request:
    method: get
    uri: https://api.binance.je/api/v1/exchangeInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"timezone":"Europe/Jersey","serverTime":1548771855642,"rateLimits":[{"rateLimitType":"ORDERS","interval":"SECOND","intervalNum":1,"limit":10},{"rateLimitType":"ORDERS","interval":"DAY","intervalNum":1,"limit":100000}],"exchangeFilters":[],"symbols":[{"symbol":"BTCGBP","status":"TRADING","baseAsset":"BTC","baseAssetPrecision":8,"quoteAsset":"GBP","quotePrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.01","maxPrice":"10000000.00","tickSize":"0.01"},{"filterType":"PERCENT_PRICE","multiplierUp":"10","multiplierDown":"0.1","avgPriceMins":5},{"filterType":"LOT_SIZE","minQty":"0.00000100","maxQty":"10000000.00000000","stepSize":"0.00000100"},{"filterType":"MIN_NOTIONAL","minNotional":"10.00","applyToMarket":true,"avgPriceMins":5},{"filterType":"ICEBERG_PARTS","limit":10},{"filterType":"MAX_NUM_ALGO_ORDERS","maxNumAlgoOrders":5}]},{"symbol":"ETHGBP","status":"TRADING","baseAsset":"ETH","baseAssetPrecision":8,"quoteAsset":"GBP","quotePrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.01","maxPrice":"10000000.00","tickSize":"0.01"},{"filterType":"PERCENT_PRICE","multiplierUp":"10","multiplierDown":"0.1","avgPriceMins":5},{"filterType":"LOT_SIZE","minQty":"0.00001000","maxQty":"10000000.00000000","st[...]
