---
http_interactions:
- request:
    method: get
    uri: https://api.crypto-bridge.org/api/v1/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa1-rdIIMMnBnWe5MEn4n4fV6yZi0KM"
    body:
      encoding: UTF-8
      string: '[{"id":"BCO_BTC","last":"0.00007100","volume":"7.96918898","ask":"0.00007100","bid":"0.00006806"},{"id":"ZNY_BTC","last":"0.00002200","volume":"5.42576047","ask":"0.00002200","bid":"0.00002108"},{"id":"MONA_BTC","last":"0.00078001","volume":"0.66204713","ask":"0.00081500","bid":"0.00078001"},{"id":"MONA_ZNY","last":"34.200002","volume":"151895.03541900","ask":"33.999998","bid":"33.900003"},{"id":"XP_MONA","last":"0.000026","volume":"387.70632800","ask":"0.000026","bid":"0.000025"},{"id":"XP_ZNY","last":"0.000849","volume":"42828.27587400","ask":"0.000840","bid":"0.000600"},{"id[...]
