---
http_interactions:
- request:
    method: get
    uri: https://services.etorox.com/api/v1/marketdata/instruments/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 21 Jan 2020 03:36:18 GMT
      Etag:
      - '"7ff5d57a84f71901197883a29e4f9c1c"'
      X-Goog-Generation:
      - '1579577778214551'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '17019'
      X-Goog-Hash:
      - crc32c=TM/B8g==
      - md5=f/XVeoT3GQEZeIOink+cHA==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2020-01-21T03:36:17.000Z","instruments":[{"lastPrice":"0.68448","highestBid":"0.68630","secondaryVolume":"168500.45274","baseVolume":"245341.08690","lowestAsk":"0.68640","low24hr":"0.67874","high24hr":"0.69387","status":"active","id":"audxusdex"},{"lastPrice":"451.14053","highestBid":"451.11949","secondaryVolume":"227071.04933","baseVolume":"504.63790","lowestAsk":"451.59772","low24hr":"423.00123","high24hr":"458.70495","status":"active","id":"bchcadx"},{"lastPrice":"311.31577","highestBid":"311.33591","secondaryVolume":"108820.15567","baseVolume":"351.39190","lowestAsk":"311.83092","low24hr":"291.97012","high24hr":"316.79043","status":"active","id":"bcheurx"},{"lastPrice":"266.59997","highestBid":"265.57023","secondaryVolum[...]
