---
http_interactions:
- request:
    method: get
    uri: https://services.etorox.com/api/v1/marketdata/snapshot
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 08 Jan 2020 15:25:30 GMT
      Etag:
      - '"77fb80839eae69e4b182f2d53d41f9be"'
      X-Goog-Generation:
      - '1578497130445410'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '20014'
      X-Goog-Hash:
      - crc32c=ddN0Bg==
      - md5=d/uAg56uaeSxgvLVPUH5vg==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: ASCII-8BIT
      string: '{"AUDX_USDEX":{"id":"4c553627-9063-415f-a99d-542ea1ada360","isFrozen":0,"baseVolume":118424.7274,"lowestAsk":0.69304,"highestBid":0.6854,"quoteVolume":127878.9111,"low24hr":0.67974,"high24hr":0.69304,"last":0.6859},"BCH_CADX":{"id":"6ae25dbc-c020-4787-a8ae-56d4bcf7b6f4","isFrozen":0,"baseVolume":291.1142,"lowestAsk":310.4067,"highestBid":309.40024,"quoteVolume":279.4085,"low24hr":307.70636,"high24hr":310.4067,"last":313.99498},"BCH_EURX":{"id":"3ba516b6-7937-4fdf-8304-a937a246f918","isFrozen":0,"baseVolume":358.0662,"lowestAsk":214.30807,"highestBid":213.58956,"quoteVolume":219.2857,"low24hr":19,"high24hr":214.30807,"last":223.86849},"BCH_GBPX":{"id":"192d1af9-1e65-478e-9936-9c45b7f53a37","isFrozen":0,"baseVolume":184.3636,"lowestAsk":181.58549,"highestBid":181.02758,"quoteVolume":280.0154,"low24hr":180.25854,"high24hr":181.58549,"last":185.36168},"BCH_JPYX":{"id":"0b40e9f1-4943-41ce-8a68-7c82cc3b975f","isFrozen":0,"baseVolume":309.1342,"lowestAsk":25922.05,"highestBid":25824.66,"quoteVolume":79.9204,"low24hr":25687.8,"high24hr":25922.05,"last":26095.01},"BCH_USDC":{"id":"19b2bb4f-c3c2-43ac-947a-c6e9cd1bb6fb","isFrozen":0,"baseVolume":11.72171,"lowestAsk":257.94584,"highestBid":235.78403,"quoteVolume":34.15942,"low24hr":216.99194,"high24hr":257.94584,"last":185.87},"BCH_USDEX":{"id":"ea05a173-2524-4670-87fc-97626cdc0d76","isFrozen":0,"baseVolume":4844.0498,"lowestAsk":240.24,"highestBid":237.66,"quoteVolume":194.4275,"low24hr":235.98,"high24hr":240.24,"last":239.77},"BCH_USDT":{"id":"45e46ade-27bb-4a1d-81b0-c3512b095299","isFrozen":0,"baseVolume":259.9254,"lowestAsk":240.25,"highestBid":237.55,"quoteVolume":161.4728,"low24hr":235.86,"high24hr":240.25,"last":253.25},"BNB_USDEX":{"id":"b4826d80-e692-49e2-a90e-03d555cbb89a","isFrozen":0,"baseVolume":3980.9577,"lowestAsk":15.00332,"highestBid":14.49,"quoteVolume":3898.5271,"low24hr":14.37598,"high24hr":15.00332,"last":13.99732},"BTC_AUDX":{"id":"f9156baf-7da9-49aa-b8d9-4f19d5a04a90","isFrozen":0,"baseVolume":28.6301,"lowestAsk":12121.62079,"highestBid":12082.09597,"quoteVolume":72.8567,"low24hr":12064.88291,"high24hr":12121.62079,"last":12143.19474},"BTC_CADX":{"id":"143947a6-15bc-4922-8d9d-d962ba72e7ab","isFrozen":0,"baseVolume":18.7209,"lowestAsk":10816.95093,"highestBid":10782.11059,"quoteVolume":17.6289,"low24hr":10779.05745,"high24hr":10816.95093,"last":10940.74714},"BTC_CHFX":{"id":"bc25e054-0091-4443-971a-fbef5b582ddb","isFrozen":0,"baseVolume":12.4483,"lowestAsk":8058.1258,"highestBid":8029.95288,"quoteVolume":17.2354,"low24hr":8026.4156,"high24hr":8058.1258,"last":8131.30386},"BTC_EOS":{"id":"a49eed78-a0a9-4adb-beef-f6ce19f6a666","isFrozen":0,"baseVolume":0.46,"lowestAsk":2945.88,"highestBid":2926.67,"quoteVolume":1.84,"low24hr":2906.38,"high24hr":2945.88,"last":2893.82},"BTC_EURX":{"id":"24191662-9749-49ae-96e3-c5452d56ef2d","isFrozen":0,"baseVolume":1.11692,"lowestAsk":10000,"highestBid":7438.44117,"quoteVolume":51295.24107,"low24hr":0.0001,"high24hr":10000,"last":7424.00084},"BTC_GBPX":{"id":"7fda8388-6d40-45c1-b893-15b7f21f3d9a","isFrozen":0,"baseVolume":20.056,"lowestAsk":6331.86749,"highestBid":6308.38357,"quoteVolume":21.4633,"low24hr":6306.59454,"high24hr":6331.86749,"last":6354.9413},"BTC_JPYX":{"id":"b715f6ea-e32a-4fdc-9cc5-ac96e13d40f3","isFrozen":0,"baseVolume":6.03,"lowestAsk":946202.91,"highestBid":900057.01,"quoteVolume":3.87,"low24hr":855209.33,"high24hr":946202.91,"last":908041.6},"BTC_NZDX":{"id":"3edf1b08-9e75-4dc5-b1a2-449df4f1689e","isFrozen":0,"baseVolume":25.142,"lowestAsk":12533.48424,"highestBid":12480.82698,"quoteVolume":52.5362,"low24hr":12466.92607,"high24hr":12533.48424,"last":12588.26835},"BTC_USDC":{"id":"5daa9e8c-06d5-4519-85fe-70a81f6f6b68","isFrozen":0,"baseVolume":0.86538,"lowestAsk":9163.59267,"highestBid":8273.31877,"quoteVolume":1.09675,"low24hr":7495.71659,"high24hr":9163.59267,"last":8334.81457},"BTC_USDEX":{"id":"1720dd68-756d-4fbf-8fbc-d52a33fd71db","isFrozen":0,"baseVolume":73.10737,"lowestAsk":21000,"highestBid":8272.17,"quoteVolume":47.5365,"low24hr":1,"high24hr":21000,"last":8319.37},"BTC_USDT":{"id":"ede6b59b-a7e7-4f0f-8c2b-6c2cb50f3e0c","isFrozen":0,"baseVolume":7.132,"lowestAsk":8327.9,"highestBid":8278.8,"quoteVolume":4.7613,"low24hr":8273.1,"high24hr":8327.9,"last":8331.9},"BTC_XLM":{"id":"7046441e-e876-4890-afcb-70cfe6c18975","isFrozen":0,"baseVolume":24.0415,"lowestAsk":172127.06059,"highestBid":170949.9632,"quoteVolume":25.92069,"low24hr":7,"high24hr":172127.06059,"last":170569.33749},"DASH_USDEX":{"id":"54c555c2-f9de-46e5-bdfb-fd5defdd658c","isFrozen":0,"baseVolume":557.7654,"lowestAsk":54.4,"highestBid":53.65131,"quoteVolume":226.1314,"low24hr":53.39,"high24hr":54.4,"last":55.335},"EOS_GBPX":{"id":"2e7038ae-ae89-4a5b-8a02-e9aae5ad0a6f","isFrozen":0,"baseVolume":895.6286,"lowestAsk":2.16048,"highestBid":2.15005,"quoteVolume":828.1325,"low24hr":2.1413,"high24hr":2.16048,"last":2.17654},"EOS_JPYX":{"id":"1b8195d2-839b-4123-b4d3-aa305432f779","isFrozen":0,"baseVolume":888.3548,"lowestAsk":308.19,"highestBid":306.75886,"quoteVolume":652.8826,"low24hr":306.46118,"high24hr":308.19,"last":310.93985},"EOS_USDEX":{"id":"332a0720-e13d-4d56-86d9-a94865073e53","isFrozen":0,"baseVolume":1274.4933,"lowestAsk":2.8492,"highestBid":2.824,"quoteVolume":1272.9132,"low24hr":2.8104,"high24hr":2.8492,"last":2.8779},"EOS_XLM":{"id":"e1ff77ff-eb17-41e0-a5e2-5ed92f37aa8d","isFrozen":0,"baseVolume":1446.4437,"lowestAsk":58.96044,"highestBid":58.36255,"quoteVolume":493.3888,"low24hr":58.01926,"high24hr":58.96044,"last":59.56142},"ETH_AUDX":{"id":"7e18b221-2569-48d5-8b67-16a7ebc5857f","isFrozen":0,"baseVolume":2467.1474,"lowestAsk":206.94414,"highestBid":206.41586,"quoteVolume":1936.5206,"low24hr":205.51025,"high24hr":206.94414,"last":211.60772},"ETH_CADX":{"id":"26221f47-41cf-4806-aedd-c1d2311aec77","isFrozen":0,"baseVolume":2085.774,"lowestAsk":184.39642,"highestBid":183.86538,"quoteVolume":1311.5076,"low24hr":183.4089,"high24hr":184.39642,"last":191.14567},"ETH_CHFX":{"id":"bbb19fb4-8bff-4913-9144-976c2ff72952","isFrozen":0,"baseVolume":1753.2404,"lowestAsk":222.46504,"highestBid":136.97474,"quoteVolume":667.7323,"low24hr":136.66903,"high24hr":222.46504,"last":137.62121},"ETH_CNYX":{"id":"49867583-0dad-4efe-9cb0-354ae6bd1992","isFrozen":0,"baseVolume":146.7227,"lowestAsk":983.71,"highestBid":980.15,"quoteVolume":116.0256,"low24hr":977.8,"high24hr":983.71,"last":989.4},"ETH_EOS":{"id":"66a92eeb-1366-4e93-91a5-211e25af4119","isFrozen":0,"baseVolume":81.2795,"lowestAsk":50.32,"highestBid":50.08465,"quoteVolume":77.9376,"low24hr":49,"high24hr":50.32,"last":50.02039},"ETH_EURX":{"id":"a6ce59d3-c16c-4295-89e1-30c1472d0a44","isFrozen":0,"baseVolume":39.41057,"lowestAsk":400,"highestBid":126.83548,"quoteVolume":88.51528,"low24hr":0.45,"high24hr":400,"last":127.38085},"ETH_GBPX":{"id":"cc7f3ff0-2d1a-42dd-93aa-c62772113194","isFrozen":0,"baseVolume":1446.9649,"lowestAsk":107.91037,"highestBid":107.59337,"quoteVolume":1140.8692,"low24hr":107.34694,"high24hr":107.91037,"last":108.5982},"ETH_JPYX":{"id":"861ae207-ebb8-47ca-914a-125e876a74c3","isFrozen":0,"baseVolume":435.19,"lowestAsk":15397.54,"highestBid":15352.06,"quoteVolume":199.89,"low24hr":15318.39,"high24hr":15397.54,"last":15589.48},"ETH_USDC":{"id":"e05c0a9c-6a50-4ab3-b6ab-62003c0f7a7c","isFrozen":0,"baseVolume":35.24569,"lowestAsk":154.43111,"highestBid":140.82417,"quoteVolume":62.75808,"low24hr":127.63334,"high24hr":154.43111,"last":131.84701},"ETH_USDEX":{"id":"a12b9a8d-fbc7-47c7-aad0-834e8d86b5c8","isFrozen":0,"baseVolume":2564.4109,"lowestAsk":300,"highestBid":141.471,"quoteVolume":1555.2079,"low24hr":140.9,"high24hr":300,"last":145.99},"ETH_USDT":{"id":"a5dab081-8aa6-498d-aece-0c11c455bc83","isFrozen":0,"baseVolume":429.8455,"lowestAsk":175,"highestBid":141.25,"quoteVolume":314.644163,"low24hr":100.06,"high24hr":175,"last":141.6},"ETH_XLM":{"id":"2472fb1d-d2c6-4fff-80eb-70f6824d1545","isFrozen":0,"baseVolume":1457.5926,"lowestAsk":2943.9862,"highestBid":2925.7505,"quoteVolume":1488.5399,"low24hr":2898.2636,"high24hr":2943.9862,"last":2914.7678},"EURX_AUDX":{"id":"2347121c-f1df-4fb0-8634-127167548105","isFrozen":0,"baseVolume":105762.8497,"lowestAsk":1.63402,"highestBid":1.62161,"quoteVolume":111462.8715,"low24hr":1.60611,"high24hr":1.63402,"last":1.62039},"EURX_CADX":{"id":"ed77c1d3-2587-49ef-a600-7dd8cf00f4cd","isFrozen":0,"baseVolume":114331.8914,"lowestAsk":1.4605,"highestBid":1.44717,"quoteVolume":106054.7248,"low24hr":1.4339,"high24hr":1.4605,"last":1.44809},"EURX_CHFX":{"id":"7f4f4679-de90-44b5-aee9-21e116b121a2","isFrozen":0,"baseVolume":124425.61407,"lowestAsk":3,"highestBid":1.0782,"quoteVolume":117212.8604,"low24hr":1.07031,"high24hr":3,"last":1.08169},"EURX_GBPX":{"id":"838628aa-e894-4160-b9cb-33aa0f62c3ef","isFrozen":0,"baseVolume":105517.8523,"lowestAsk":0.85481,"highestBid":0.8474,"quoteVolume":120124.8351,"low24hr":0.83932,"high24hr":0.85481,"last":0.85029},"EURX_JPYX":{"id":"c30685ee-924b-41fa-b1f1-25f05e694b51","isFrozen":0,"baseVolume":128655.88,"lowestAsk":121.73,"highestBid":120.78,"quoteVolume":110972.3,"low24hr":119.91,"high24hr":121.73,"last":120.82},"EURX_NZDX":{"id":"6c4aaecc-027e-4408-9150-0fa9879e56b1","isFrozen":0,"baseVolume":135359.57581,"lowestAsk":288,"highestBid":1.677,"quoteVolume":136557.9471,"low24hr":1.6642,"high24hr":288,"last":1.6735},"EURX_USDEX":{"id":"8f96ba0f-cdcf-451c-936a-e736a06ef638","isFrozen":0,"baseVolume":482776.9359,"lowestAsk":100,"highestBid":1.1154,"quoteVolume":470271.7653,"low24hr":1.10294,"high24hr":100,"last":1.11569},"GBPX_AUDX":{"id":"8215a0e5-8b5f-454c-a6d7-67071f55be45","isFrozen":0,"baseVolume":116884.0635,"lowestAsk":1.93679,"highestBid":1.915,"quoteVolume":133032.4501,"low24hr":1.89809,"high24hr":1.93679,"last":1.90999},"GBPX_CADX":{"id":"cb7be6c3-7196-4e6e-a30d-884f63adf4b7","isFrozen":0,"baseVolume":126744.6369,"lowestAsk":1.72645,"highestBid":1.7084,"quoteVolume":118334.3924,"low24hr":1.69719,"high24hr":1.72645,"last":1.70479},"GBPX_CHFX":{"id":"02260d67-38c3-4d13-9ec7-5b4074bb087a","isFrozen":0,"baseVolume":118985.3817,"lowestAsk":1.28186,"highestBid":1.2724,"quoteVolume":113008.3477,"low24hr":1.26556,"high24hr":1.28186,"last":1.2746},"GBPX_JPYX":{"id":"b82e6e8e-3bd5-427b-9f52-7f8c9b2d26fd","isFrozen":0,"baseVolume":126229.956,"lowestAsk":143.88,"highestBid":142.62,"quoteVolume":132048.131,"low24hr":141.12,"high24hr":143.88,"last":142.2},"GBPX_NZDX":{"id":"a91cd07e-7763-47a6-92f2-eccf4f838855","isFrozen":0,"baseVolume":19.0383,"lowestAsk":1.99463,"highestBid":1.9787,"quoteVolume":20.0257,"low24hr":1.95889,"high24hr":1.99463,"last":1.9787},"GBPX_USDEX":{"id":"3a9bc29b-51ec-4ea4-98ab-e9cbfdd5edff","isFrozen":0,"baseVolume":1057920.8212,"lowestAsk":1.32409,"highestBid":1.3119,"quoteVolume":1046490.64,"low24hr":1.29947,"high24hr":1.32409,"last":1.3119},"GLDX_BTC":{"id":"70f30cf4-ce04-485d-a1fb-e1a2720a67e8","isFrozen":0,"baseVolume":20.0127,"lowestAsk":0.19119,"highestBid":0.18877,"quoteVolume":26.0526,"low24hr":0.0003,"high24hr":0.19119,"last":0.19705},"GLDX_USDEX":{"id":"c4efb09a-8f2b-490d-8c9a-ce22610e80dd","isFrozen":0,"baseVolume":56.797,"lowestAsk":1585.196,"highestBid":1573.4,"quoteVolume":56.901,"low24hr":1559.736,"high24hr":1585.196,"last":1593.18},"LTC_AUDX":{"id":"8028167a-6386-472b-be60-e2f57a526f8d","isFrozen":0,"baseVolume":10558.8881,"lowestAsk":68.36775,"highestBid":67.98933,"quoteVolume":9697.7546,"low24hr":67.35697,"high24hr":68.36775,"last":68.59406},"LTC_CADX":{"id":"277aaf84-c258-4602-bab0-7de20d8ec78d","isFrozen":0,"baseVolume":12542.4624,"lowestAsk":61.10524,"highestBid":60.65958,"quoteVolume":9068.1134,"low24hr":60.19955,"high24hr":61.10524,"last":61.04416},"LTC_CHFX":{"id":"aa653838-6224-42e8-9695-634b9772cc37","isFrozen":0,"baseVolume":12101.7568,"lowestAsk":45.44847,"highestBid":45.18481,"quoteVolume":11024.3331,"low24hr":44.85483,"high24hr":45.44847,"last":46.09119},"LTC_ETH":{"id":"fa2c6701-2fce-4118-964f-9b7b0b4b6af3","isFrozen":0,"baseVolume":126.51311,"lowestAsk":0.20359,"highestBid":0.194,"quoteVolume":512.30812,"low24hr":0.186,"high24hr":0.20359,"last":0.31505},"LTC_EURX":{"id":"c8055e7e-bf1e-4b5e-95f2-4bc4227317ae","isFrozen":0,"baseVolume":23.86903,"lowestAsk":138,"highestBid":41.68711,"quoteVolume":132.11287,"low24hr":1,"high24hr":138,"last":40.17952},"LTC_GBPX":{"id":"5b0f75d9-60b4-4616-8ef4-9a62f4788d7d","isFrozen":0,"baseVolume":15046.3092,"lowestAsk":35.69512,"highestBid":35.49904,"quoteVolume":9799.2363,"low24hr":35.26215,"high24hr":35.69512,"last":36.97699},"LTC_JPYX":{"id":"fe0f0105-c37a-4b4c-a6ce-aaf5912f39bd","isFrozen":0,"baseVolume":1517.951,"lowestAsk":5097,"highestBid":5065.22,"quoteVolume":1244.8719,"low24hr":5029.36,"high24hr":5097,"last":5119.86},"LTC_NZDX":{"id":"41d60db9-a8c4-4b04-a5ac-259efda74cbf","isFrozen":0,"baseVolume":10964.2509,"lowestAsk":70.70159,"highestBid":70.24368,"quoteVolume":9052.3935,"low24hr":69.57363,"high24hr":70.70159,"last":70.9303},"LTC_USDC":{"id":"c9b0a09b-4771-41d7-afe8-835a94dc1a13","isFrozen":0,"baseVolume":41.61396,"lowestAsk":51.33662,"highestBid":46.33612,"quoteVolume":145.24901,"low24hr":42.34913,"high24hr":51.33662,"last":44.63827},"LTC_USDEX":{"id":"60d6cbed-ab96-4b57-9d9b-ac3b4848b7c1","isFrozen":0,"baseVolume":12437.5406,"lowestAsk":150,"highestBid":46.36,"quoteVolume":10923.8745,"low24hr":45.86,"high24hr":150,"last":47.21},"LTC_USDT":{"id":"ebdf95b3-270c-4833-98dc-8ad729523266","isFrozen":0,"baseVolume":2854.2373,"lowestAsk":47.166,"highestBid":46.58,"quoteVolume":1698.6645,"low24hr":46.24,"high24hr":47.166,"last":47.8},"NZDX_USDEX":{"id":"54522947-d066-45c3-866d-2251ec57ebfd","isFrozen":0,"baseVolume":116150.1747,"lowestAsk":0.6719,"highestBid":0.6629,"quoteVolume":117362.7398,"low24hr":0.65886,"high24hr":0.6719,"last":0.66589},"SLVX_USDEX":{"id":"ab2b2d44-284e-47fb-8e89-e364c1f916db","isFrozen":0,"baseVolume":4189.973,"lowestAsk":18.523,"highestBid":18.34,"quoteVolume":4116.148,"low24hr":18.153,"high24hr":18.523,"last":18.729},"USDEX_CADX":{"id":"d887d8b8-c1c6-4920-a68a-df1aedf0af7e","isFrozen":0,"baseVolume":123240.5016,"lowestAsk":1.31416,"highestBid":1.3015,"quoteVolume":131033.9175,"low24hr":1.29088,"high24hr":1.31416,"last":1.29859},"USDEX_CHFX":{"id":"8de76eab-3cee-45c4-a0e1-f01583c72d6f","isFrozen":0,"baseVolume":112708.9144,"lowestAsk":0.98314,"highestBid":0.9708,"quoteVolume":119523.504,"low24hr":0.96225,"high24hr":0.98314,"last":0.9708},"USDEX_CNYX":{"id":"1e8626be-5cf4-4994-a3ad-5c860cd9d04d","isFrozen":0,"baseVolume":124228.6286,"lowestAsk":7.01325,"highestBid":6.93903,"quoteVolume":109355.7567,"low24hr":6.87941,"high24hr":7.01325,"last":6.94547},"USDEX_HKDX":{"id":"778517f9-2866-441a-9358-780b41f9e5b1","isFrozen":0,"baseVolume":39983.3326,"lowestAsk":8.17137,"highestBid":7.38654,"quoteVolume":40576.5397,"low24hr":7.38091,"high24hr":8.17137,"last":7.398},"USDEX_JPYX":{"id":"ffcf8a6d-a916-4a38-b69c-185dbb514b8b","isFrozen":0,"baseVolume":92644.56,"lowestAsk":109.32,"highestBid":108.66,"quoteVolume":97070.04,"low24hr":108,"high24hr":109.32,"last":108.46},"USDEX_PLNX":{"id":"811b3029-891b-45c7-8c74-ac044099a540","isFrozen":0,"baseVolume":36716.1934,"lowestAsk":4.00763,"highestBid":3.6215,"quoteVolume":36769.2348,"low24hr":3.61913,"high24hr":4.00763,"last":3.6492},"USDEX_RUBX":{"id":"30bba863-5ac9-4b5d-946e-a774dcf90cfe","isFrozen":0,"baseVolume":131785.8252,"lowestAsk":62.13881,"highestBid":61.62,"quoteVolume":126063.6199,"low24hr":60.99313,"high24hr":62.13881,"last":61.73969},"USDEX_SGDX":{"id":"eb59abae-de9c-43f3-96ed-3744b36daca9","isFrozen":0,"baseVolume":39160.2876,"lowestAsk":1.41934,"highestBid":1.2831,"quoteVolume":40448.0729,"low24hr":1.28218,"high24hr":1.41934,"last":1.4169},"USDEX_TRYX":{"id":"218f7e22-e7de-45ad-9769-76adf0c512fd","isFrozen":0,"baseVolume":40408.5176,"lowestAsk":6.25716,"highestBid":5.6552,"quoteVolume":40405.4316,"low24hr":5.65178,"high24hr":6.25716,"last":5.6492},"USDEX_ZARX":{"id":"8e1b234b-9e10-4fad-9648-726555643549","isFrozen":0,"baseVolume":34199.904,"lowestAsk":14.94202,"highestBid":13.5093,"quoteVolume":31099.3479,"low24hr":13.50476,"high24hr":14.94202,"last":13.47512},"XLM_AUDX":{"id":"65dbd809-5f1a-4847-8ff2-6868c392dd10","isFrozen":0,"baseVolume":787846.1209,"lowestAsk":0.07099,"highestBid":0.07047,"quoteVolume":811942.9847,"low24hr":0.07016,"high24hr":0.07099,"last":0.07171},"XLM_CHFX":{"id":"fa05535d-9e1e-4e0f-a405-1938c55c75f9","isFrozen":0,"baseVolume":582800.9271,"lowestAsk":0.04726,"highestBid":0.04685,"quoteVolume":751963.114,"low24hr":0.04662,"high24hr":0.04726,"last":0.04752},"XLM_EURX":{"id":"c54c3dd4-5913-4e57-a657-58011ee64f97","isFrozen":0,"baseVolume":924280.1553,"lowestAsk":1,"highestBid":0.04342,"quoteVolume":869987.1391,"low24hr":0.04318,"high24hr":1,"last":0.04404},"XLM_GBPX":{"id":"d254d5ba-d565-4eb3-986a-84ced25698ec","isFrozen":0,"baseVolume":1000469.6794,"lowestAsk":0.0372,"highestBid":0.0368,"quoteVolume":824268.5709,"low24hr":0.03659,"high24hr":0.0372,"last":0.03741},"XLM_JPYX":{"id":"21ec5f3b-7f2d-4c2b-a692-4e48d85595f6","isFrozen":0,"baseVolume":258022.6442,"lowestAsk":5.27106,"highestBid":5.25042,"quoteVolume":168869.818,"low24hr":5.24374,"high24hr":5.27106,"last":5.24263},"XLM_NZDX":{"id":"7f14e6a8-9bb2-491d-91a9-521073399e7c","isFrozen":0,"baseVolume":943832.3808,"lowestAsk":0.07345,"highestBid":0.07281,"quoteVolume":578761.4411,"low24hr":0.07252,"high24hr":0.07345,"last":0.07368},"XLM_USDC":{"id":"3653ce9b-342f-43a0-9421-ad47f124e691","isFrozen":0,"baseVolume":40148.22122,"lowestAsk":0.05376,"highestBid":0.04669,"quoteVolume":115243.81929,"low24hr":0.04225,"high24hr":0.05376,"last":0.0446},"XLM_USDEX":{"id":"803421c7-dc2f-4a42-83eb-e98bc5b633a9","isFrozen":0,"baseVolume":466718.2586,"lowestAsk":500000,"highestBid":0.04832,"quoteVolume":486970.7937,"low24hr":0.04805,"high24hr":500000,"last":0.04923},"XLM_USDT":{"id":"0a590585-c223-4483-b28d-5d56045f9ee0","isFrozen":0,"baseVolume":355871.7818,"lowestAsk":0.04895,"highestBid":0.04829,"quoteVolume":390437.547,"low24hr":0.048,"high24hr":0.04895,"last":0.04924},"XRP_AUDX":{"id":"c90abc96-4303-4785-ab3e-cb51fc41d070","isFrozen":0,"baseVolume":551447.8903,"lowestAsk":0.31044,"highestBid":0.30897,"quoteVolume":550549.4,"low24hr":0.30766,"high24hr":0.31044,"last":0.3114},"XRP_CADX":{"id":"e90aa64f-00e6-43f5-b33c-04aa2783966b","isFrozen":0,"baseVolume":542859.6704,"lowestAsk":0.27684,"highestBid":0.27571,"quoteVolume":815308.2815,"low24hr":0.27465,"high24hr":0.27684,"last":0.28107},"XRP_CHFX":{"id":"6886e974-6598-46d6-8341-2d363c28addb","isFrozen":0,"baseVolume":861391.5411,"lowestAsk":0.20623,"highestBid":0.20538,"quoteVolume":822864.4929,"low24hr":0.20471,"high24hr":0.20623,"last":0.20682},"XRP_DASH":{"id":"ea9267d5-b348-456a-be4b-1e2d427e834a","isFrozen":0,"baseVolume":575610.8923,"lowestAsk":0.00424,"highestBid":0.00395,"quoteVolume":602637.4487,"low24hr":0.00365,"high24hr":0.00424,"last":0.00385},"XRP_EURX":{"id":"dbe3bb3e-9ee3-47ac-ba71-82fb8b608438","isFrozen":0,"baseVolume":24228.01085,"lowestAsk":100,"highestBid":0.19014,"quoteVolume":43639.04967,"low24hr":0.0001,"high24hr":100,"last":0.19164},"XRP_GBPX":{"id":"c95cd681-003a-46d9-80c7-1d47f14c6d54","isFrozen":0,"baseVolume":800239.4013,"lowestAsk":17.321,"highestBid":0.16132,"quoteVolume":673612.2909,"low24hr":0.16075,"high24hr":17.321,"last":0.16459},"XRP_JPYX":{"id":"5438da3f-75e5-43da-a3f9-d68bd88edfd6","isFrozen":0,"baseVolume":237376.19,"lowestAsk":23.22,"highestBid":23.02,"quoteVolume":312812.4,"low24hr":22.85,"high24hr":23.22,"last":23.45},"XRP_USDC":{"id":"f0f6f60c-64f5-49dd-a419-b5782608e8ef","isFrozen":0,"baseVolume":21303.18253,"lowestAsk":0.2329,"highestBid":0.2109,"quoteVolume":40797.60808,"low24hr":0.19181,"high24hr":0.2329,"last":0.187},"XRP_USDEX":{"id":"91a26578-9191-438f-9d83-291f679b8792","isFrozen":0,"baseVolume":381365.145,"lowestAsk":10000,"highestBid":0.21207,"quoteVolume":377313.735,"low24hr":0.01,"high24hr":10000,"last":0.21641},"XRP_USDT":{"id":"f88445b0-4f13-4c25-b9cc-ea93ee11f5da","isFrozen":0,"baseVolume":134197.1805,"lowestAsk":3.1,"highestBid":0.21161,"quoteVolume":145566.9746,"low24hr":0.21095,"high24hr":3.1,"last":0.21373}}'
  recorded_at: Mon, 20 Jan 2020 07:55:24 GMT
recorded_with: VCR 4.0.0
