---
http_interactions:
- request:
    method: get
    uri: https://services.etorox.com/api/v1/marketdata/trades/btc_usdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 08 Jan 2020 15:26:21 GMT
      Etag:
      - '"20ac7f5e48e878405a5c694a60a9a3fc"'
      X-Goog-Generation:
      - '1578497181234319'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '16205'
      X-Goog-Hash:
      - crc32c=9fKxqg==
      - md5=IKx/XkjoeEBaXGlKYKmj/A==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"58d5ef96-2cfa-49c5-9fcc-5694a3b32d7e","price":"8292.0","volume":"0.0782","funds":"648.4344","market":"btcusdt","created_at":"2020-01-08T14:24:51.286195Z"},{"id":"8b96daa3-9a98-4624-8e52-9648ef8de4b9","price":"8292.0","volume":"0.021","funds":"174.132","market":"btcusdt","created_at":"2020-01-08T14:24:50.134316Z"},{"id":"9eedb801-a242-42f8-8ba8-f670517a8b64","price":"8248.0","volume":"0.0003","funds":"2.4744","market":"btcusdt","created_at":"2020-01-08T14:13:45.402645Z"},{"id":"3b5ccf76-8828-4f69-9298-7d9be3c95251","price":"8248.0","volume":"0.0996","funds":"821.5008","market":"btcusdt","created_at":"2020-01-08T14:13:[...]
