---
http_interactions:
- request:
    method: get
    uri: https://tokenlon-core-market.tokenlon.im/rest/get_market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
         "error": false,
         "data": [
          {
           "timestamp": 1583028296,
           "pairs": "ATOM_ETH",
           "baseSymbol": "ATOM",
           "baseAddress": "0xc5637328da2e0a3400274a4088cea2e25fb91446",
           "baseDecimals": 6,
           "quoteSymbol": "ETH",
           "quoteAddress": "0x0000000000000000000000000000000000000000",
           "quoteDecimals": 18,
           "last": 0.016072999400,
           "high24h": 0.016384997630,
           "low24h": 0.016072999400,
           "ask": 0.0158450000,
           "mid": 0.0158450000,
           "bid": 0,
           "vol24h": 13.628316000000,
           "txs24h": 2,
           "wallet24h": 2,
           "change24h": -0.0114
          },
          {
           "timestamp": 1583045376,
           "pairs": "ATOM_USDT",
           "baseSymbol": "ATOM",
           "baseAddress": "0xc5637328da2e0a3400274a4088cea2e25fb91446",
           "baseDecimals": 6,
           "quoteSymbol": "USDT",
           "quoteAddress": "0xdac17f958d2ee523a2206206994597c13d831ec7",
           "quoteDecimals": 6,
           "last": 3.461800000000,
           "high24h": 3.575299998000,
           "low24h": 3.461800000000,
           "as[...]
