---
http_interactions:
- request:
    method: get
    uri: https://api.tdax.com/public/getmarketsummaries?market=BTC_THB
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"Ask":211221.71,"BaseVolume":108.45291741,"Bid":207483.15,"High":217531.57,"Last":211801.38,"Low":207483.15,"MarketName":"BTC_THB","OpenBuyOrders":40,"OpenSellOrders":66,"PercentChange":1.502384662832762,"Volume":22628123.81}]'
  recorded_at: Mon, 16 Jul 2018 01:30:44 GMT
recorded_with: VCR 4.0.0
