---
http_interactions:
- request:
    method: get
    uri: https://api.tdax.com/public/getmarkethistory?market=BTC_THB
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"ID":3032392,"Price":211801.38,"Qty":0.0114084,"CreatedAt":"2018-07-15T18:01:10.064548Z"},{"ID":3032143,"Price":212127.42,"Qty":0.01031992,"CreatedAt":"2018-07-15T17:57:39.727979Z"},{"ID":3031711,"Price":211471.54,"Qty":0.01180142,"CreatedAt":"2018-07-15T17:49:24.949876Z"},{"ID":3031576,"Price":211551.84,"Qty":0.0100361,"CreatedAt":"2018-07-15T17:46:20.409824Z"},{"ID":3030790,"Price":211842.59,"Qty":0.01102313,"CreatedAt":"2018-07-15T17:32:45.686728Z"},{"ID":3030760,"Price":211995.26,"Qty":0.01050571,"CreatedAt":"2018-07-15T17:32:19.899158Z"},{"ID":3030[...]
