---
http_interactions:
- request:
    method: get
    uri: https://api.tdax.com/public/getmarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"MarketCurrency":"BTC","BaseCurrency":"THB","MarketCurrencyLong":"Bitcoin","BaseCurrencyLong":"ThaiBaht","MinTradeSize":0.0005,"MarketName":"BTC-THB"},{"MarketCurrency":"BTG","BaseCurrency":"THB","MarketCurrencyLong":"BitcoinGold","BaseCurrencyLong":"ThaiBaht","MinTradeSize":0.0005,"MarketName":"BTG-THB"},{"MarketCurrency":"ETH","BaseCurrency":"THB","MarketCurrencyLong":"Ethereum","BaseCurrencyLong":"ThaiBaht","MinTradeSize":0.005,"MarketName":"ETH-THB"},{"MarketCurrency":"KNC","BaseCurrency":"THB","MarketCurrencyLong":"KyberNetwork","BaseCurrencyLong":"ThaiBaht","MinTradeSize":1,"MarketName":"KNC-THB"},{"MarketCurrency":"LTC","Base[...]
