---
http_interactions:
- request:
    method: get
    uri: https://api.tdax.com/api/marketcap/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"BTC_THB":{"avg24hr":"118157.94571684585","baseVolume":"52.23756138","high24hr":"127055.1921","highestBid":"117512.19","last":"117636.23","low24hr":"116140.63","lowestAsk":"117823.04","percentChange":"-0.441540950700083705","quoteVolume":"6172079.10832250654"},"BTC_USDT":{"avg24hr":"0","baseVolume":"0","high24hr":"0","highestBid":"3962.966088","last":"3693.99","low24hr":"0","lowestAsk":"3965.52","percentChange":"0","quoteVolume":"0"},"ETH_THB":{"avg24hr":"4055.0707639358460305","baseVolume":"1043.767942","high24hr":"4751.266314","highestBid":"3961.69","last":"3989.34","low24hr":"3945.95","lowestAsk":"4003.1","percentChange":"-1.620952327649341504","quoteVolume":"4232566.0249692254305"},"ETH_USDT":{"avg24hr":"0","baseVolume":"0","high24hr":"0","highestBid":"149.78","last":"99.87","low24hr":"0","lowestAsk":"151.84","percentChange":"0","quoteVolume":"0"},"USDT_THB":{"avg24hr":"32.0281781781781782","baseVolume":"1036114.928526","high24hr":"32.47","highestBid":"32.45","last":"32.47","low24hr":"31.82","lowestAsk":"32.5","percentChange":"1.379478468503241727","quoteVolume":"33184870.0379439582"},"XLM_THB":{"avg24hr":"3.6611271161116112","baseVolume":"303822.697929","high24hr":"3.783633","highestBid":"3.66","last":"3.630374","low24hr":"3.54","lowestAsk":"3.660282","percentChange":"-0.839990394659481051","quoteVolume":"1112324.917969127649"},"XRP_THB":{"avg24hr":"10.867764347826087","baseVolume":"132137.9149","high24hr":"11.23","highestBid":"10.5995","last":"10.61","low24hr":"10.36","lowestAsk":"10.6172","percentChange":"-2.371824963960029288","quoteVolume":"1436616.10819287131"},"XZC_THB":{"avg24hr":"164.506523864","baseVolume":"8683.548279","high24hr":"179.042287","highestBid":"161.7363","last":"163.82","low24hr":"161.85","lowestAsk":"165.5289","percentChange":"-0.417323184439517749","quoteVolume":"1429533.3309820969"}}'
  recorded_at: Fri, 11 Jan 2019 07:37:10 GMT
recorded_with: VCR 4.0.0
