---
http_interactions:
- request:
    method: get
    uri: https://api.remitano.com/api/v1/volumes/market_summaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b2aa73922c677d75acda0b63e3a869e"
    body:
      encoding: ASCII-8BIT
      string: '{"BTCAUD":{"last":14195.459,"lowest_ask":11859.8437,"highest_bid":null,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"AUD","volume24h":0.0},"BTCUSD":{"last":10272.71,"lowest_ask":10272.71,"highest_bid":6004.3995,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"USD","volume24h":0.15060891},"BTCCAD":{"last":10312.902,"lowest_ask":9612.3215,"highest_bid":null,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"CAD","volume24h":0.0},"BTCCNY":{"last":51912.776,"lowest_ask":53921.6982,"highest_bid":49957.8354,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"CNY","volume24h":0.0},"BTCCOP":{"last":10770089.2,"lowest_ask":null,"highest_bid":19491268.5,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"COP","volume24h":0.0},"BTCEUR":{"last":6347.0672,"lowest_ask":6347.0672,"highest_bid":5825.8035,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"EUR","volume24h":0.0},"BTCGBP":{"last":5547.945,"lowest_ask":null,"highest_bid":5070.6067,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"GBP","volume24h":0.0},"BTCGHS":{"last":40540.696,"lowest_ask":38339.2212,"highest_bid":35745.9795,"low_price":36000.1453,"high_price":42914.5435,"currency1":"BTC","currency2":"GHS","volume24h":0.94707129},"BTCIDR":{"last":114374850.0,"lowest_ask":null,"highest_bid":103785610.5,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"IDR","volume24h":0.0},"BTCINR":{"last":557925.004,"lowest_ask":553228.5352,"highest_bid":520762.1017,"low_price":471838.2,"high_price":718719.0,"currency1":"BTC","currency2":"INR","volume24h":1.40646493},"BTCJPY":{"last":873314.5224,"lowest_ask":798042.814,"highest_bid":null,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"JPY","volume24h":0.0},"BTCKES":{"last":774843.71,"lowest_ask":785128.55,"highest_bid":690465.6,"low_price":704429.418,"high_price":837999.39,"currency1":"BTC","currency2":"KES","volume24h":0.44476104},"BTCKRW":{"last":4225507.0,"lowest_ask":null,"highest_bid":7192350.0,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"KRW","volume24h":0.0},"BTCMYR":{"last":30429.0,"lowest_ask":30908.1861,"highest_bid":30333.0169,"low_price":21508.86,"high_price":39727.35,"currency1":"BTC","currency2":"MYR","volume24h":99.1966932},"BTCNGN":{"last":2634281.24,"lowest_ask":2648869.6837,"highest_bid":2619540.0,"low_price":2037122.0768,"high_price":5494468.0,"currency1":"BTC","currency2":"NGN","volume24h":115.30598511},"BTCPKR":{"last":1098419.3,"lowest_ask":1196036.95,"highest_bid":1029297.2085,"low_price":1013234.04,"high_price":1164000.0,"currency1":"BTC","currency2":"PKR","volume24h":0.54565099},"BTCRUB":{"last":262777.95,"lowest_ask":null,"highest_bid":469804.302,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"RUB","volume24h":0.0},"BTCSEK":{"last":83968.8355,"lowest_ask":null,"highest_bid":69334.254,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"SEK","volume24h":0.0},"BTCSGD":{"last":10894.9098,"lowest_ask":10779.0078,"highest_bid":10069.29,"low_price":10322.7553,"high_price":11235.2688,"currency1":"BTC","currency2":"SGD","volume24h":2.6872639},"BTCTZS":{"last":17803145.5,"lowest_ask":17977242.5,"highest_bid":16405750.35,"low_price":17780739.6,"high_price":20537275.5,"currency1":"BTC","currency2":"TZS","volume24h":0.13333964},"BTCUAH":{"last":95177.679,"lowest_ask":203473.0345,"highest_bid":null,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"UAH","volume24h":0.0},"BTCUGX":{"last":15073910.0,"lowest_ask":null,"highest_bid":24456866.94,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"UGX","volume24h":0.0},"BTCVES":{"last":28713410.25,"lowest_ask":null,"highest_bid":32365575.0,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"VES","volume24h":0.0},"BTCVND":{"last":173095890.0,"lowest_ask":173755552.0,"highest_bid":171393700.5,"low_price":144231535.1916,"high_price":193916745.0,"currency1":"BTC","currency2":"VND","volume24h":294.80906769},"BTCZAR":{"last":105637.865,"lowest_ask":113473.0884,"highest_bid":104289.075,"low_price":105450.235,"high_price":117646.9452,"currency1":"BTC","currency2":"ZAR","volume24h":1.89706259},"BTCZMW":{"last":71000.5233,"lowest_ask":90950.9055,"highest_bid":null,"low_price":null,"high_price":null,"currency1":"BTC","currency2":"ZMW","volume24h":0.0},"ETHAUD":{"last":276.335,"lowest_ask":369.9052,"highest_bid":null,"low_price":null,"high_price":null,"currency1":"ETH","currency2":"AUD","volume24h":0.0},"ETHCNY":{"last":1088.868,"lowest_ask":null,"highest_bid":1553.9159,"low_price":null,"high_price":null,"currency1":"ETH","currency2":"CNY","volume24h":0.0},"ETHCOP":{"last":514911.2166,"lowest_ask":null,"highest_bid":514911.2166,"low_price":null,"high_price":null,"currency1":"ETH","currency2":"COP","volume24h":0.0},"ETHGBP":{"last":83.8933,"lowest_ask":null,"highest_bid":145.9739,"low_price":null,"high_price":null,"currency1":"ETH","currency2":"GBP","volume24h":0.0},"ETHGHS":{"last":1371.888,"lowest_ask":1657.3676,"highest_bid":1143.894,"low_price":1371.888,"high_price":1371.888,"currency1":"ETH","currency2":"GHS","volume24h":1.005},"ETHIDR":{"last":1900905.12,"lowest_ask":3355088.4576,"highest_bid":2326500.0,"low_price":null,"high_price":null,"currency1":"ETH","currency2":"IDR","volume24h":0.0},"ETHINR":{"last":17675.724,"lowest_ask":17966.8254,"highest_bid":16386.7493,"low_price":17316.102,"high_price":25323.0,"currency1":"ETH","currency2":"INR","volume24h":5.0110297},"ETHKES":{"last":27471.4312,"lowest_ask":30385.0723,"highest_bid":19777.1112,"low_price":27471.4312,"high_price":27471.4312,"currency1":"ETH","currency2":"KES","volume24h":0.1},"ETHUSD":{"last":242.9959,"lowest_ask":242.6002,"highest_bid":226.0241,"low_price":231.3792,"high_price":268.7105,"currency1":"ETH","currency2":"USD","volume24h":0.43182974},"ETHKRW":{"last":1159258.6,"lowest_ask":null,"highest_bid":275937.7896,"low_price":null,"high_price":null,"currency1":"ETH","currency2":"KRW","volume24h":0.0},"ETHMYR":{"last":1011.1787,"lowest_ask":1018.4404,"highest_bid":990.7391,"low_price":912.0735,"high_price":1175.0436,"currency1":"ETH","currency2":"MYR","volume24h":1369.97573216},"ETHNGN":{"last":86858.64,"lowest_ask":90336.2533,"highest_bid":85465.3734,"low_price":74475.338,"high_price":106732.0,"currency1":"ETH","currency2":"NGN","volume24h":83.91567735},"ETHPKR":{"last":36246.192,"lowest_ask":36730.2357,"highest_bid":31878.8197,"low_price":36246.192,"high_price":36246.192,"currency1":"ETH","currency2":"PKR","volume24h":0.0273},"ETHSGD":{"last":320.7162,"lowest_ask":360.2973,"highest_bid":312.8315,"low_price":318.9872,"high_price":353.1283,"currency1":"ETH","currency2":"SGD","volume24h":15.02086789},"ETHTZS":{"last":634815.84,"lowest_ask":643490.9778,"highest_bid":548579.394,"low_price":580750.0,"high_price":634815.84,"currency1":"ETH","currency2":"TZS","volume24h":0.68880692},"ETHUGX":{"last":610000.0,"lowest_ask":null,"highest_bid":729869.58,"low_price":null,"high_price":null,"currency1":"ETH","currency2":"UGX","volume24h":0.0},"ETHVND":{"last":5594104.3026,"lowest_ask":5650044.1687,"highest_bid":5582325.078,"low_price":5146240.0,"high_price":10675200.0,"currency1":"ETH","currency2":"VND","volume24h":9589.90756378},"USDTAED":{"last":3.6333,"lowest_ask":null,"highest_bid":3.6333,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"AED","volume24h":0.0},"USDTCNY":{"last":6.0,"lowest_ask":7.171,"highest_bid":6.534,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"CNY","volume24h":0.0},"USDTCOP":{"last":2165.13,"lowest_ask":null,"highest_bid":2165.13,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"COP","volume24h":0.0},"USDTEUR":{"last":0.8811,"lowest_ask":null,"highest_bid":0.8811,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"EUR","volume24h":0.0},"USDTGBP":{"last":0.63,"lowest_ask":null,"highest_bid":0.5445,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"GBP","volume24h":0.0},"USDTGHS":{"last":4.9,"lowest_ask":null,"highest_bid":4.7109,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"GHS","volume24h":0.0},"USDTINR":{"last":70.15,"lowest_ask":80.8,"highest_bid":68.3298,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"INR","volume24h":0.0},"USDTKES":{"last":106.9,"lowest_ask":108.3346,"highest_bid":100.9325,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"KES","volume24h":0.0},"USDTUSD":{"last":1.01,"lowest_ask":1.0201,"highest_bid":0.9504,"low_price":1.01,"high_price":1.01,"currency1":"USDT","currency2":"USD","volume24h":50.0},"USDTMYR":{"last":4.22,"lowest_ask":4.2824,"highest_bid":4.1484,"low_price":4.0,"high_price":4.28,"currency1":"USDT","currency2":"MYR","volume24h":105253.46890164},"USDTNGN":{"last":369.31,"lowest_ask":373.0031,"highest_bid":354.7665,"low_price":330.0,"high_price":372.0,"currency1":"USDT","currency2":"NGN","volume24h":8622.34831675},"USDTPKR":{"last":158.4,"lowest_ask":282.8,"highest_bid":131.67,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"PKR","volume24h":0.0},"USDTSGD":{"last":1.52,"lowest_ask":1.5554,"highest_bid":1.3069,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"SGD","volume24h":0.0},"USDTTRY":{"last":5.9994,"lowest_ask":null,"highest_bid":5.9994,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"TRY","volume24h":0.0},"USDTTZS":{"last":2200.0,"lowest_ask":null,"highest_bid":2276.01,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"TZS","volume24h":0.0},"USDTUGX":{"last":2970.0,"lowest_ask":null,"highest_bid":2970.0,"low_price":null,"high_price":null,"currency1":"USDT","currency2":"UGX","volume24h":0.0},"USDTVND":{"last":23400.0,"lowest_ask":23835.899,"highest_bid":23522.7601,"low_price":22336.38,"high_price":24725.0,"currency1":"USDT","currency2":"VND","volume24h":576032.94723697},"BCHCNY":{"last":2156.4576,"lowest_ask":null,"highest_bid":2156.4576,"low_price":null,"high_price":null,"currency1":"BCH","currency2":"CNY","volume24h":0.0},"BCHCOP":{"last":786028.7952,"lowest_ask":null,"highest_bid":786028.7952,"low_price":null,"high_price":null,"currency1":"BCH","currency2":"COP","volume24h":0.0},"BCHGBP":{"last":574.3441,"lowest_ask":null,"highest_bid":197.6753,"low_price":null,"high_price":null,"currency1":"BCH","currency2":"GBP","volume24h":0.0},"BCHGHS":{"last":1182.0105,"lowest_ask":null,"highest_bid":1746.1915,"low_price":null,"high_price":null,"currency1":"BCH","currency2":"GHS","volume24h":0.0},"BCHINR":{"last":38857.0,"lowest_ask":27866.9504,"highest_bid":21780.99,"low_price":null,"high_price":null,"currency1":"BCH","currency2":"INR","volume24h":0.0},"BCHKES":{"last":36417.0,"lowest_ask":null,"highest_bid":36642.5275,"low_price":36417.0,"high_price":36417.0,"currency1":"BCH","currency2":"KES","volume24h":0.119779},"BCHUSD":{"last":356.439,"lowest_ask":null,"highest_bid":345.0332,"low_price":null,"high_price":null,"currency1":"BCH","currency2":"USD","volume24h":0.0},"BCHMYR":{"last":1731.85,"lowest_ask":1650.0168,"highest_bid":1491.5498,"low_price":1478.5903,"high_price":1807.5915,"currency1":"BCH","currency2":"MYR","volume24h":20.02590795},"BCHNGN":{"last":122345.6,"lowest_ask":155284.9144,"highest_bid":130106.2752,"low_price":116616.75,"high_price":173298.0,"currency1":"BCH","currency2":"NGN","volume24h":3.09502304},"BCHPKR":{"last":58658.6,"lowest_ask":65192.8971,"highest_bid":50317.344,"low_price":58658.6,"high_price":58658.6,"currency1":"BCH","currency2":"PKR","volume24h":1.51401298},"BCHSGD":{"last":580.742,"lowest_ask":537.1721,"highest_bid":472.6236,"low_price":null,"high_price":null,"currency1":"BCH","currency2":"SGD","volume24h":0.0},"BCHTZS":{"last":848872.2,"lowest_ask":1026677.12,"highest_bid":808671.6,"low_price":null,"high_price":null,"currency1":"BCH","currency2":"TZS","volume24h":0.0},"BCHUGX":{"last":1114169.76,"lowest_ask":null,"highest_bid":1114169.76,"low_price":null,"high_price":null,"currency1":"BCH","currency2":"UGX","volume24h":0.0},"BCHVND":{"last":8693754.3,"lowest_ask":8725655.5088,"highest_bid":8514413.424,"low_price":7836910.7,"high_price":10374500.0,"currency1":"BCH","currency2":"VND","volume24h":651.50723779},"LTCCOP":{"last":190358.2296,"lowest_ask":null,"highest_bid":190358.2296,"low_price":null,"high_price":null,"currency1":"LTC","currency2":"COP","volume24h":0.0},"LTCGBP":{"last":46.5668,"lowest_ask":null,"highest_bid":46.5668,"low_price":null,"high_price":null,"currency1":"LTC","currency2":"GBP","volume24h":0.0},"LTCGHS":{"last":357.602,"lowest_ask":null,"highest_bid":422.8877,"low_price":null,"high_price":null,"currency1":"LTC","currency2":"GHS","volume24h":0.0},"LTCINR":{"last":7460.074,"lowest_ask":6570.2528,"highest_bid":5396.5296,"low_price":5761.04,"high_price":7460.074,"currency1":"LTC","currency2":"INR","volume24h":0.34746134},"LTCKES":{"last":10099.6016,"lowest_ask":9524.7798,"highest_bid":8873.9836,"low_price":10099.6016,"high_price":10099.6016,"currency1":"LTC","currency2":"KES","volume24h":1.0},"LTCUSD":{"last":95.6159999999999904,"lowest_ask":null,"highest_bid":83.5592,"low_price":null,"high_price":null,"currency1":"LTC","currency2":"USD","volume24h":0.0},"LTCMYR":{"last":426.6545,"lowest_ask":399.5964,"highest_bid":362.0897,"low_price":329.7996,"high_price":426.6545,"currency1":"LTC","currency2":"MYR","volume24h":319.4665486},"LTCNGN":{"last":31711.9968,"lowest_ask":33654.8968,"highest_bid":31508.7696,"low_price":31711.9968,"high_price":36016.37,"currency1":"LTC","currency2":"NGN","volume24h":9.67978753},"LTCPKR":{"last":11847.415,"lowest_ask":15539.86,"highest_bid":11021.1061,"low_price":null,"high_price":null,"currency1":"LTC","currency2":"PKR","volume24h":0.0},"LTCSGD":{"last":112.2132000000000132,"lowest_ask":null,"highest_bid":115.0679,"low_price":112.2132000000000132,"high_price":112.2132000000000132,"currency1":"LTC","currency2":"SGD","volume24h":10.0},"LTCTZS":{"last":238630.000000000035,"lowest_ask":310797.2,"highest_bid":308189.2687,"low_price":null,"high_price":null,"currency1":"LTC","currency2":"TZS","volume24h":0.0},"LTCUGX":{"last":235010.16,"lowest_ask":null,"highest_bid":235010.16,"low_price":null,"high_price":null,"currency1":"LTC","currency2":"UGX","volume24h":0.0},"LTCVND":{"last":2076773.9999999997636,"lowest_ask":2124520.86,"highest_bid":2057905.6344,"low_price":1880670.0000000002255,"high_price":2443250.39,"currency1":"LTC","currency2":"VND","volume24h":1742.39921622},"XRPCNY":{"last":2.4542,"lowest_ask":null,"highest_bid":2.4542,"low_price":null,"high_price":null,"currency1":"XRP","currency2":"CNY","volume24h":0.0},"XRPCOP":{"last":813.2228,"lowest_ask":null,"highest_bid":813.2228,"low_price":null,"high_price":null,"currency1":"XRP","currency2":"COP","volume24h":0.0},"XRPGBP":{"last":0.2045,"lowest_ask":null,"highest_bid":0.2045,"low_price":null,"high_price":null,"currency1":"XRP","currency2":"GBP","volume24h":0.0},"XRPGHS":{"last":1.98,"lowest_ask":2.6176,"highest_bid":1.8066,"low_price":null,"high_price":null,"currency1":"XRP","currency2":"GHS","volume24h":0.0},"XRPINR":{"last":25.35,"lowest_ask":28.8311,"highest_bid":27.4782,"low_price":25.35,"high_price":30.34,"currency1":"XRP","currency2":"INR","volume24h":826.908447},"XRPKES":{"last":42.42,"lowest_ask":null,"highest_bid":33.0231,"low_price":42.42,"high_price":42.42,"currency1":"XRP","currency2":"KES","volume24h":100.0},"XRPUSD":{"last":0.472,"lowest_ask":0.489,"highest_bid":0.357,"low_price":0.472,"high_price":0.472,"currency1":"XRP","currency2":"USD","volume24h":99.00990099},"XRPMYR":{"last":1.5884,"lowest_ask":1.6692,"highest_bid":1.558,"low_price":1.4134,"high_price":3.336,"currency1":"XRP","currency2":"MYR","volume24h":78752.85536236},"XRPNGN":{"last":152.76,"lowest_ask":152.5011,"highest_bid":137.5823,"low_price":139.4,"high_price":207.05,"currency1":"XRP","currency2":"NGN","volume24h":2229.89980201},"XRPPKR":{"last":54.6,"lowest_ask":57.4353,"highest_bid":47.4473,"low_price":54.6,"high_price":60.2,"currency1":"XRP","currency2":"PKR","volume24h":267.22261781},"XRPSGD":{"last":0.4292,"lowest_ask":0.5425,"highest_bid":0.4972,"low_price":null,"high_price":null,"currency1":"XRP","currency2":"SGD","volume24h":0.0},"XRPTZS":{"last":848.92,"lowest_ask":1023.8818,"highest_bid":830.6995,"low_price":848.92,"high_price":848.92,"currency1":"XRP","currency2":"TZS","volume24h":189.75},"XRPUGX":{"last":1078.3476,"lowest_ask":null,"highest_bid":1078.3476,"low_price":null,"high_price":null,"currency1":"XRP","currency2":"UGX","volume24h":0.0},"XRPVND":{"last":9104.42,"lowest_ask":9028.6349,"highest_bid":8860.5,"low_price":7904.0,"high_price":11088.0,"currency1":"XRP","currency2":"VND","volume24h":1636414.05565241},"BTCUSDT":{"last":7282.255,"lowest_ask":7282.255,"highest_bid":7273.01,"low_price":7104.097,"high_price":8079.9981,"currency1":"btc","currency2":"usdt","volume24h":0.0},"ETHUSDT":{"last":238.0,"lowest_ask":7282.255,"highest_bid":7273.01,"low_price":235.1,"high_price":278.59,"currency1":"eth","currency2":"usdt","volume24h":0.0},"BCHUSDT":{"last":370.0,"lowest_ask":7282.255,"highest_bid":7273.01,"low_price":350.0001,"high_price":423.0,"currency1":"bch","currency2":"usdt","volume24h":0.0},"XRPUSDT":{"last":0.3761,"lowest_ask":7282.255,"highest_bid":7273.01,"low_price":0.375,"high_price":0.4599,"currency1":"xrp","currency2":"usdt","volume24h":0.0},"LTCUSDT":{"last":87.6776,"lowest_ask":7282.255,"highest_bid":7273.01,"low_price":85.54,"high_price":101.27,"currency1":"ltc","currency2":"usdt","volume24h":0.0}}'
  recorded_at: Fri, 17 May 2019 10:17:41 GMT
recorded_with: VCR 4.0.0
