---
http_interactions:
- request:
    method: get
    uri: https://www.bitsblockchain.net/moon/v1/market/tick/ANX/ATMCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "timestamp": "1521646722410",
          "data": [
            {
              "ATMCUSD": {
                "vwap": 2.5,
                "last": 7.45,
                "ask_diff": 0.0,
                "market": "ANX",
                "bid_diff": 0.0,
                "ccyPair": "ATMCUSD",
                "volume": 3900000.0,
                "timestampMillis": "1521646684523",
                "last_diff": 0.0,
                "mid": 3.975,
                "high": 7.5,
                "ask": 7.45,
                "low": 7.45,
                "bid": 0.5
              }
            }
          ],
          "event": "marketTick"
        }
  recorded_at: Wed, 21 Mar 2018 15:38:42 GMT
recorded_with: VCR 4.0.0
