---
http_interactions:
- request:
    method: get
    uri: https://www.bitsblockchain.net/moon/v1/market/topOrderBook/ANX/ATMCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "timestamp": "1521647454129",
          "data": [
            {
              "market": "ANX",
              "asks": [
                {
                  "total": 131716000.00,
                  "price": 7.45000000,
                  "quantity": 17680000.00000000
                },
                {
                  "total": 153000000.00,
                  "price": 7.65000000,
                  "quantity": 20000000.00000000
                },
                {
                  "total": 160000000.00,
                  "price": 8.00000000,
                  "quantity": 20000000.00000000
                }
              ],
              "ccyPair": "ATMCUSD",
              "timestampMillis": "1521647432826",
              "bids": [
                {
                  "total": 180.80000000,
                  "price": 0.50000000,
                  "quantity": 361.60000000
                }
              ]
            }
          ],
          "event": "orderBook"
        }
  recorded_at: Wed, 21 Mar 2018 15:50:54 GMT
recorded_with: VCR 4.0.0
