---
http_interactions:
- request:
    method: get
    uri: https://www.bitsblockchain.net/moon/v1/market/currencyStatic
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "currencyStatic": {
            "currencies": {
              "USD": {
                "decimals": 2,
                "minOrderSize": 0.10000000,
                "maxOrderSize": 1000000000.00000000,
                "displayDenominator": 1,
                "summaryDecimals": 0,
                "displayUnit": "USD",
                "symbol": "$",
                "type": "FIAT",
                "engineSettings": {
                  "depositsEnabled": true,
                  "withdrawalsEnabled": false,
                  "displayEnabled": true,
                  "mobileAccessEnabled": true
                },
                "minOrderValue": 0.10000000,
                "maxOrderValue": 1000000000.00000000,
                "maxMarketOrderValue": 4500.00000000,
                "maxMarketOrderSize": 4500.00000000,
                "assetDivisibility": 0
              },
              "EUR": {
                "decimals": 2,
                "minOrderSize": 0.10000000,
                "maxOrderSize": 1000000000.00000000,
                "displayDenominator": 1,
                "summaryDecimals": 0,
                "displayUnit": "EUR",
                "symbol": "€",
                "type": "FIAT",
                "engineSettings": {
                  "depositsEnabled": true,
                  "withdrawalsEnabled": false,
                  "displayEnabled": true,
                  "mobileAccessEnabled": true
                },
                "minOrderValue": 0.10000000,
                "maxOrderValue": 1000000000.00000000,
                "maxMarketOrderValue": 4000.00000000,
                "maxMarketOrderSize": 4000.00000000,
                "assetDivisibility": 0
              },
              "ATMC": {
                "decimals": 8,
                "minOrderSize": 1.00000000,
                "maxOrderSize": 20000000.00000000,
                "summaryDecimals": 8,
                "type": "CRYPTO",
                "confirmationThresholds": [
                  {
                    "confosRequired": 6
                  }
                ],
                "networkFee": 0E-8,
                "engineSettings": {
                  "depositsEnabled": true,
                  "withdrawalsEnabled": true,
                  "displayEnabled": true,
                  "mobileAccessEnabled": true
                },
                "minOrderValue": 1.00000000,
                "maxOrderValue": 200000000.00000000,
                "maxMarketOrderValue": 400000000.00000000,
                "maxMarketOrderSize": 40000000.00000000,
                "digitalCurrencyType": "MULTICHAIN_NATIVE",
                "assetName": "ATM Coin",
                "assetDivisibility": 8,
                "assetIcon": "/images/currencies/crypto/ATMC.svg",
                "assetIssueQuantity": "10000000000"
              },
              "BTC": {
                "decimals": 8,
                "minOrderSize": 0.01000000,
                "maxOrderSize": 100000.00000000,
                "displayDenominator": 0.00100,
                "summaryDecimals": 2,
                "displayUnit": "mBTC",
                "symbol": "฿",
                "type": "CRYPTO",
                "confirmationThresholds": [
                  {
                    "confosRequired": 4,
                    "threshold": 0.25000000
                  },
                  {
                    "confosRequired": 7,
                    "threshold": 30.00000000
                  },
                  {
                    "confosRequired": 8
                  }
                ],
                "networkFee": 0.00200000,
                "engineSettings": {
                  "depositsEnabled": true,
                  "withdrawalsEnabled": true,
                  "displayEnabled": true,
                  "mobileAccessEnabled": true
                },
                "minOrderValue": 1.0E-7,
                "maxOrderValue": 100000000.00000000,
                "urlPrefix": "bitcoin:",
                "maxMarketOrderValue": 10.00000000,
                "maxMarketOrderSize": 10.00000000,
                "digitalCurrencyType": "SATOSHI",
                "assetDivisibility": 0,
                "assetIcon": "/images/currencies/crypto/BTC.svg"
              },
              "XRP": {
                "decimals": 8,
                "minOrderSize": 100.00000000,
                "maxOrderSize": 1000000.00000000,
                "displayDenominator": 1000,
                "summaryDecimals": 0,
                "displayUnit": "kXRP",
                "symbol": "X",
                "type": "CRYPTO",
                "confirmationThresholds": [
                  {
                    "confosRequired": 1,
                    "threshold": 0.50000000
                  },
                  {
                    "confosRequired": 1,
                    "threshold": 10.00000000
                  },
                  {
                    "confosRequired": 1
                  }
                ],
                "networkFee": 1.00000000,
                "engineSettings": {
                  "depositsEnabled": true,
                  "withdrawalsEnabled": true,
                  "displayEnabled": true,
                  "mobileAccessEnabled": true
                },
                "minOrderValue": 0.01000000,
                "maxOrderValue": 100000000.00000000,
                "maxMarketOrderValue": 620000.00000000,
                "maxMarketOrderSize": 620000.00000000,
                "digitalCurrencyType": "RIPPLE",
                "assetDivisibility": 0,
                "assetIcon": "/images/currencies/crypto/XRP.svg"
              },
              "DOGE": {
                "decimals": 8,
                "minOrderSize": 5000.00000000,
                "maxOrderSize": 1000000000.00000000,
                "displayDenominator": 1000,
                "summaryDecimals": 0,
                "displayUnit": "kDOGE",
                "symbol": "Ɖ",
                "type": "CRYPTO",
                "confirmationThresholds": [
                  {
                    "confosRequired": 6
                  }
                ],
                "networkFee": 0.10000000,
                "engineSettings": {
                  "depositsEnabled": true,
                  "withdrawalsEnabled": true,
                  "displayEnabled": true,
                  "mobileAccessEnabled": true
                },
                "minOrderValue": 1.00000000,
                "maxOrderValue": 10000000000.00000000,
                "urlPrefix": "dogecoin:",
                "maxMarketOrderValue": 25000000.00000000,
                "maxMarketOrderSize": 25000000.00000000,
                "digitalCurrencyType": "SATOSHI",
                "assetDivisibility": 0,
                "assetIcon": "/images/currencies/crypto/DOGE.svg"
              },
              "LTC": {
                "decimals": 8,
                "minOrderSize": 0.10000000,
                "maxOrderSize": 10000000.00000000,
                "displayDenominator": 1,
                "summaryDecimals": 1,
                "displayUnit": "LTC",
                "symbol": "Ł",
                "type": "CRYPTO",
                "confirmationThresholds": [
                  {
                    "confosRequired": 6
                  }
                ],
                "networkFee": 0.02000000,
                "engineSettings": {
                  "depositsEnabled": true,
                  "withdrawalsEnabled": true,
                  "displayEnabled": true,
                  "mobileAccessEnabled": true
                },
                "minOrderValue": 0.01000000,
                "maxOrderValue": 100000000.00000000,
                "urlPrefix": "litecoin:",
                "maxMarketOrderValue": 1200.00000000,
                "maxMarketOrderSize": 1200.00000000,
                "digitalCurrencyType": "SATOSHI",
                "assetDivisibility": 0,
                "assetIcon": "/images/currencies/crypto/LTC.svg"
              },
              "ANX": {
                "decimals": 2,
                "minOrderSize": 0.01000000,
                "maxOrderSize": 1000000000.00000000,
                "summaryDecimals": 2,
                "type": "CRYPTO",
                "confirmationThresholds": [
                  {
                    "confosRequired": 6
                  }
                ],
                "networkFee": 0.10000000,
                "engineSettings": {
                  "depositsEnabled": false,
                  "withdrawalsEnabled": false,
                  "displayEnabled": false,
                  "mobileAccessEnabled": false
                },
                "minOrderValue": 1.00000000,
                "maxOrderValue": 10000000000.00000000,
                "maxMarketOrderValue": 10000000000.00000000,
                "maxMarketOrderSize": 1000000000.00000000,
                "digitalCurrencyType": "MULTICHAIN_NATIVE",
                "assetName": "ANX",
                "assetDivisibility": 2,
                "assetIcon": "/images/currencies/crypto/ANX.svg"
              },
              "ETH": {
                "decimals": 8,
                "minOrderSize": 0.00010000,
                "maxOrderSize": 1000000000.00000000,
                "type": "CRYPTO",
                "confirmationThresholds": [
                  {
                    "confosRequired": 30,
                    "threshold": 0.50000000
                  },
                  {
                    "confosRequired": 45,
                    "threshold": 10.00000000
                  },
                  {
                    "confosRequired": 70
                  }
                ],
                "networkFee": 0.00500000,
                "engineSettings": {
                  "depositsEnabled": true,
                  "withdrawalsEnabled": true,
                  "displayEnabled": true,
                  "mobileAccessEnabled": true
                },
                "minOrderValue": 0.00010000,
                "maxOrderValue": 10000000000.00000000,
                "maxMarketOrderValue": 10000000000.00000000,
                "maxMarketOrderSize": 1000000000.00000000,
                "digitalCurrencyType": "ETHEREUM",
                "assetDivisibility": 0,
                "assetIcon": "/images/currencies/crypto/ETH.svg"
              }
            },
            "currencyPairs": {
              "ATMCBTC": {
                "priceDecimals": 8,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 0.00020000,
                "maxOrderRate": 100000.00000000,
                "displayPriceDecimals": 8,
                "tradedCcy": "ATMC",
                "settlementCcy": "BTC",
                "preferredMarket": "ANX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "ATMCDOGE": {
                "priceDecimals": 8,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 12.50000000,
                "maxOrderRate": 100000.00000000,
                "displayPriceDecimals": 8,
                "tradedCcy": "ATMC",
                "settlementCcy": "DOGE",
                "preferredMarket": "ANX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "ATMCETH": {
                "priceDecimals": 8,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 0.00220000,
                "maxOrderRate": 100000.00000000,
                "displayPriceDecimals": 8,
                "tradedCcy": "ATMC",
                "settlementCcy": "ETH",
                "preferredMarket": "ANX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "ATMCEUR": {
                "priceDecimals": 8,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": true
                },
                "minOrderRate": 0.44000000,
                "maxOrderRate": 100000.00000000,
                "displayPriceDecimals": 2,
                "tradedCcy": "ATMC",
                "settlementCcy": "EUR",
                "preferredMarket": "ANX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "ATMCLTC": {
                "priceDecimals": 8,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 0.00350000,
                "maxOrderRate": 100000.00000000,
                "displayPriceDecimals": 8,
                "tradedCcy": "ATMC",
                "settlementCcy": "LTC",
                "preferredMarket": "ANX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "ATMCUSD": {
                "priceDecimals": 8,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": true
                },
                "minOrderRate": 0.50000000,
                "maxOrderRate": 100000.00000000,
                "displayPriceDecimals": 2,
                "tradedCcy": "ATMC",
                "settlementCcy": "USD",
                "preferredMarket": "ANX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "ATMCXRP": {
                "priceDecimals": 8,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 1.50000000,
                "maxOrderRate": 100000.00000000,
                "displayPriceDecimals": 8,
                "tradedCcy": "ATMC",
                "settlementCcy": "XRP",
                "preferredMarket": "ANX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "BTCEUR": {
                "priceDecimals": 5,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 10.00000000,
                "maxOrderRate": 40000.00000000,
                "displayPriceDecimals": 2,
                "tradedCcy": "BTC",
                "settlementCcy": "EUR",
                "preferredMarket": "BITFINEX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "BTCUSD": {
                "priceDecimals": 5,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 10.00000000,
                "maxOrderRate": 40000.00000000,
                "displayPriceDecimals": 2,
                "tradedCcy": "BTC",
                "settlementCcy": "USD",
                "preferredMarket": "BITFINEX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "DOGEBTC": {
                "priceDecimals": 8,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 2E-8,
                "maxOrderRate": 0.00100000,
                "displayPriceDecimals": 8,
                "tradedCcy": "DOGE",
                "settlementCcy": "BTC",
                "preferredMarket": "ANX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "ETHBTC": {
                "priceDecimals": 8,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 2E-8,
                "maxOrderRate": 10.00000000,
                "displayPriceDecimals": 8,
                "tradedCcy": "ETH",
                "settlementCcy": "BTC",
                "preferredMarket": "ANX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "LTCBTC": {
                "priceDecimals": 5,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 0.00100000,
                "maxOrderRate": 1.00000000,
                "displayPriceDecimals": 8,
                "tradedCcy": "LTC",
                "settlementCcy": "BTC",
                "preferredMarket": "BITFINEX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              },
              "XRPBTC": {
                "priceDecimals": 8,
                "engineSettings": {
                  "tradingEnabled": true,
                  "displayEnabled": true,
                  "cancelOnly": true,
                  "verifyRequired": false,
                  "restrictedBuy": false,
                  "restrictedSell": false
                },
                "minOrderRate": 2E-8,
                "maxOrderRate": 10.00000000,
                "displayPriceDecimals": 8,
                "tradedCcy": "XRP",
                "settlementCcy": "BTC",
                "preferredMarket": "ANX",
                "chartEnabled": false,
                "simpleTradeEnabled": false
              }
            }
          },
          "timestamp": "1521728720515",
          "resultCode": "OK"
        }
  recorded_at: Thu, 22 Mar 2018 14:25:20 GMT
recorded_with: VCR 4.0.0
