---
http_interactions:
- request:
    method: get
    uri: https://feeds-api.drgx.io/drgx/tickers.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Request-Id:
      - 9A4BA4AE45851BA3
      Last-Modified:
      - Wed, 09 Jan 2019 08:51:58 GMT
      Etag:
      - '"a9029145423b9dac438273cc3dd12d78"'
    body:
      encoding: ASCII-8BIT
      string: '{"DRG_USD":{"id":3,"last":"0.09","lowestAsk":"0","highestBid":"0","percentChange":"0","baseVolume":"0","quoteVolume":-1,"high24hr":"0.09","low24hr":"0.09"},"XRP_DRG":{"id":7,"last":"4.9","lowestAsk":"7.91","highestBid":"4.52","percentChange":"0","baseVolume":"0","quoteVolume":-1,"high24hr":"4.9","low24hr":"4.9"},"DRG_BTC":{"id":10,"last":"0.0000127","lowestAsk":"0.0000128","highestBid":"0.000011","percentChange":"0.007936507936507936","baseVolume":"399029.91","quoteVolume":-1,"high24hr":"0.0000127","low24hr":"0.0000122"},"DRG_ETH":{"id":11,"last":"0.000316","lowestAsk":"0.000317","highestBid":"0.00029","percentChange":"0.0031746031746031746","baseVolume":"208710.236","quoteVolume":-1,"high24hr":"0.000316","low24hr":"0.000277"},"ETH_BTC":{"id":15,"last":"0.037606","lowestAsk":"0.038702","highestBid":"0.036448","percentChange":"0.011376166527714277","baseVolume":"1805.472","quoteVolume":-1,"high24hr":"0.037671","low24hr":"0.037191"},"XRP_BTC":{"id":16,"last":"0","lowestAsk":"0","highestBid":"0","percentChange":"0","baseVolume":"0","quoteVolume":-1,"high24hr":"0","low24hr":"0"},"XRP_ETH":{"id":17,"last":"0","lowestAsk":"0","highestBid":"0","percentChange":"0","baseVolume":"0","quoteVolume":-1,"high24hr":"0","low24hr":"0"},"DRG_EUR":{"id":19,"last":"0.0482","lowestAsk":"0.0494","highestBid":"0.0471","percentChange":"0.23589743589743592","baseVolume":"450623.113","quoteVolume":-1,"high24hr":"0.0511","low24hr":"0.0378"}}'
  recorded_at: Wed, 09 Jan 2019 08:52:28 GMT
recorded_with: VCR 4.0.0
