---
http_interactions:
- request:
    method: get
    uri: https://otcbtc.com/api/v2/tickers/ethusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3bac91c0b931832bd38ff46580c62eb"
      X-Protected-By:
      - Sqreen
    body:
      encoding: ASCII-8BIT
      string: '{"at":1530610211,"ticker":{"open":450.24790931,"buy":"475.0","sell":"481.48682999","low":"445.667474","high":"485.556726","last":"475.81186402","vol":"1184.17635606"}}'
  recorded_at: Tue, 03 Jul 2018 09:30:16 GMT
recorded_with: VCR 4.0.0
