---
http_interactions:
- request:
    method: get
    uri: https://otcbtc.com/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e0a470f20f396f6f5492c89a418ffdaa"
      X-Protected-By:
      - Sqreen
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"btceth","ticker_id":"btc_eth","name":"BTC/ETH","minimal_total_volume":0.0001,"trading_rule":{"min_amount":0.001,"min_price":1.0e-06,"min_order_volume":0.0001}},{"id":"eoseth","ticker_id":"eos_eth","name":"EOS/ETH","minimal_total_volume":0.0001,"trading_rule":{"min_amount":0.01,"min_price":1.0e-06,"min_order_volume":0.0001}},{"id":"bcheth","ticker_id":"bch_eth","name":"BCH/ETH","minimal_total_volume":0.0001,"trading_rule":{"min_amount":0.001,"min_price":1.0e-05,"min_order_volume":0.0001}},{"id":"gxseth","ticker_id":"gxs_eth","name":"GXS/ETH","minimal_total_volume":0.0001,"trading_rule":{"min_amount":0.01,"min_price":1.0e-06,"min_order_volume":0[...]
