---
http_interactions:
- request:
    method: get
    uri: https://otcbtc.com/api/v2/trades?market=ethusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"293b1aaa62fbb1e97c83ae6bfe62f88a"
      X-Protected-By:
      - Sqreen
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2983419,"price":"475.81186402","volume":"2.75563563","funds":"1311.1641256702270326","market":"ethusdt","created_at":"2018-07-03T17:28:22+08:00","at":1530610102,"side":"down"},{"id":2983295,"price":"478.37251639","volume":"1.48008526","funds":"708.0321102979474114","market":"ethusdt","created_at":"2018-07-03T17:24:05+08:00","at":1530609845,"side":"up"},{"id":2983260,"price":"476.53670619","volume":"4.67782729","funds":"2229.1564089022939251","market":"ethusdt","created_at":"2018-07-03T17:22:14+08:00","at":1530609734,"side":"up"},{"id":2983245,"price":"474.86827015","volume":"2.43976873","funds":"1158.5687563811624095","market":"ethusdt","created_at":"2018-07-0[...]
