---
http_interactions:
- request:
    method: get
    uri: https://tradesatoshi.com/api/public/getmarketsummaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":null,"result":[{"market":"PAK_BTC","high":0.00000000,"low":0.00000000,"volume":0.00000000,"baseVolume":0.00000000,"last":0.00000070,"bid":0.00000075,"ask":0.00000514,"openBuyOrders":41,"openSellOrders":13,"change":0.0},{"market":"BOLI_BTC","high":0.00001100,"low":0.00000600,"volume":1139.06924065,"baseVolume":0.00748624,"last":0.00000749,"bid":0.00000602,"ask":0.00000749,"openBuyOrders":38,"openSellOrders":87,"change":0.0},{"market":"DOGE_BTC","high":0.00000101,"low":0.00000082,"volume":3916968.88470524,"baseVolume":3.47813370,"last":0.00000090,"bid":0.00000089,"ask":0.00000090,"openBuyOrders":167,"openSellOrders":201,"change":0.0},{"market":"LTC_BTC","high":0.01749999,"low":0.01520006,"volume":469.054699[...]
