---
http_interactions:
- request:
    method: get
    uri: https://tradesatoshi.com/api/public/getorderbook?depth=100&market=LTC_BTC&type=both
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Iplb-Instance:
      - '21567'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":null,"result":{"buy":[{"quantity":0.03295965,"rate":0.01197201},{"quantity":0.00814762,"rate":0.011972},{"quantity":0.010943,"rate":0.01197181},{"quantity":0.00462902,"rate":0.01196078},{"quantity":0.00491318,"rate":0.01195194},{"quantity":0.00441716,"rate":0.01192196},{"quantity":0.00485471,"rate":0.01192195},{"quantity":0.00887533,"rate":0.01192193},{"quantity":0.00858638,"rate":0.01192192},{"quantity":0.00413501,"rate":0.01192191},{"quantity":0.00983178,"rate":0.0119219},{"quantity":0.0118556,"rate":0.01192169},{"quantity":0.02194662,"rate":0.[...]
