---
http_interactions:
- request:
    method: get
    uri: https://cryptofresh.com/api/asset/markets?asset=BTS
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ccd8b34933fa6b95085ab0427c1d4076"
    body:
      encoding: UTF-8
      string: '{"OPEN.ETH":{"volume24":2973.94,"price":0.000308797,"updated":"2019-02-18T07:04:54.000Z"},"CNY":{"volume24":2261150.0,"price":0.272268,"updated":"2019-02-18T07:04:53.000Z"},"PPY":{"volume24":91803.7,"price":0.0578402,"updated":"2019-02-18T07:04:59.000Z"},"NOBLE":{"volume24":11135.8,"price":0.0300072,"updated":"2019-02-18T07:05:12.000Z"},"USD":{"volume24":12469.4,"price":0.0511339,"updated":"2019-02-18T07:04:53.000Z"},"OPEN.BTC":{"volume24":2.5602,"price":1.14469e-05,"updated":"2019-02-18T07:04:55.000Z"},"GOLDCOIN":{"volume24":0.934089,"price":1.14549e-05,"updated":"2019-02-18T07:05:17.000Z"},"MVCOIN":{"volume24":4021.81,"price":0.0417536,"updated":"2019-02-18T07:05:13.000Z"},"BRIDGE.BTC":{"volume24":0.398962,"price":1.15278e-05,"updated":"2019-02-18T07:05:01.000Z"},"DEEX":{"volume24":89443.6,"price":2.7622,"updated":"2019-02-18T07:05:10.000Z"},"EASYDEX.PB":{"volume24":13130.0,"price":0.353603,"updated":"2019-02-18T07:05:10.000Z"},"GOLDDUST":{"volume24":8.00314,"price":0.000332842,"updated":"2019-02-18T07:05:17.000Z"},"OPEN.STEEM":{"volume24":1945.96,"price":0.132223,"updated":"2019-02-18T07:04:56.000Z"},"RUDEX.STEEM":{"volume24":1845.32,"price":0.128706,"updated":"2019-02-18T07:05:01.000Z"},"GDEX.EOS":{"volume24":201.019,"price":0.0146248,"updated":"2019-02-18T07:05:04.000Z"},"ESCODEX.BTC":{"volume24":0.117289,"price":1.13909e-05,"updated":"2019-02-18T07:05:10.000Z"},"XBTSX.STH":{"volume24":851389.0,"price":87.3362,"updated":"2019-02-18T07:05:13.000Z"},"BRIDGE.BCO":{"volume24":1117.67,"price":0.116823,"updated":"2019-02-18T07:05:00.000Z"},"OPEN.DOGE":{"volume24":163114.0,"price":20.6186,"updated":"2019-02-18T07:04:55.000Z"},"BPSCX":{"volume24":3030.14,"price":0.454545,"updated":"2019-02-18T07:05:13.000Z"},"XOVBANK":{"volume24":60935.1,"price":7.8841,"updated":"2019-02-18T07:05:15.000Z"},"OPEN.DASH":{"volume24":3.35822,"price":0.000532981,"updated":"2019-02-18T07:04:55.000Z"},"BTCCORE":{"volume24":6756.73,"price":1.01114,"updated":"2019-02-18T07:05:02.000Z"},"RUDEX.WLS":{"volume24":4525.46,"price":1.02987,"updated":"2019-02-18T07:05:15.000Z"},"BRIDGE.ETH":{"volume24":1.35019,"price":0.000313758,"updated":"2019-02-18T07:05:15.000Z"},"BUILDTEAM":{"volume24":440.033,"price":0.125,"updated":"2019-02-18T07:05:00.000Z"},"SPARKDEX.ETH":{"volume24":1.12487,"price":0.000312719,"updated":"2019-02-18T07:05:14.000Z"},"COMPUCEEDS":{"volume24":9233750.0,"price":2704.16,"updated":"2019-02-18T07:04:54.000Z"},"OPEN.EOS":{"volume24":51.9302,"price":0.0148704,"updated":"2019-02-18T07:05:01.000Z"},"RUDEX.SMOKE":{"volume24":6345.1,"price":2.08333,"updated":"2019-02-18T07:05:15.000Z"},"ECASH":{"volume24":37441.7,"price":9.93838,"updated":"2019-02-18T07:05:01.000Z"},"EVRAZ":{"volume24":3747.75,"price":1.17371,"updated":"2019-02-18T07:05:03.000Z"},"RUDEX.BTC":{"volume24":0.0300956,"price":1.13255e-05,"updated":"2019-02-18T07:05:11.000Z"},"CLOUDCOIN":{"volume24":61619.0,"price":13.3533,"updated":"2019-02-18T07:05:14.000Z"},"ZEPH":{"volume24":19387.1,"price":10.1425,"updated":"2019-02-18T07:05:02.000Z"},"RUDEX.EOS":{"volume24":23.6442,"price":0.0136986,"updated":"2019-02-18T07:05:12.000Z"},"RUBLE":{"volume24":3661.98,"price":2.6,"updated":"2019-02-18T07:04:58.000Z"},"EPESO":{"volume24":716596.0,"price":518.188,"updated":"2019-02-18T07:05:01.000Z"},"STEALTH":{"volume24":553.586,"price":0.500558,"updated":"2019-02-18T07:05:01.000Z"},"BTCCASH":{"volume24":682.372,"price":0.7,"updated":"2019-02-18T07:05:02.000Z"},"BRIDGE.BWK":{"volume24":437.485,"price":0.689655,"updated":"2019-02-18T07:05:06.000Z"},"BTCGOLD":{"volume24":272.925,"price":0.325571,"updated":"2019-02-18T07:05:02.000Z"},"VERVE":{"volume24":61.319,"price":0.1,"updated":"2019-02-18T07:05:13.000Z"},"COMPUMATRIX":{"volume24":6.0,"price":0.0114286,"updated":"2019-02-18T07:05:12.000Z"},"BYTESEK":{"volume24":200.789,"price":0.390625,"updated":"2019-02-18T07:05:01.000Z"},"BTCPCX":{"volume24":12.5049,"price":0.025,"updated":"2019-02-18T07:05:11.000Z"},"CRYPTOCEEDS":{"volume24":778.455,"price":1.44926,"updated":"2019-02-18T07:04:56.000Z"},"ETHERIA":{"volume24":80.7136,"price":0.188679,"updated":"2019-02-18T07:05:01.000Z"},"IQDINAR":{"volume24":7.0702,"price":0.0225332,"updated":"2019-02-18T07:05:01.000Z"},"BLINC":{"volume24":0.417022,"price":0.001,"updated":"2019-02-18T07:05:16.000Z"},"CYCLOS":{"volume24":0.091211,"price":3.91989e-05,"updated":"2019-02-18T07:05:02.000Z"},"OCEANIA":{"volume24":25514.1,"price":65.0195,"updated":"2019-02-18T07:04:57.000Z"},"CRYPTUAL":{"volume24":39.117,"price":0.1,"updated":"2019-02-18T07:05:14.000Z"},"WHALECOIN":{"volume24":563.25,"price":1.42857,"updated":"2019-02-18T07:05:14.000Z"},"PISOPH":{"volume24":820.722,"price":2.72454,"updated":"2019-02-18T07:05:00.000Z"},"XRPCASH":{"volume24":1.04539,"price":0.00255117,"updated":"2019-02-18T07:05:02.000Z"},"BTCPLUS":{"volume24":4845.14,"price":13.5556,"updated":"2019-02-18T07:04:55.000Z"},"EDASH":{"volume24":0.124667,"price":0.000401927,"updated":"2019-02-18T07:05:03.000Z"},"BCHCX":{"volume24":0.0583659,"price":0.000166667,"updated":"2019-02-18T07:05:11.000Z"},"BTCCX":{"volume24":0.00411986,"price":1.17647e-05,"updated":"2019-02-18T07:05:04.000Z"},"COMPUMATRIX.BTC":{"volume24":0.00273286,"price":7.75191e-06,"updated":"2019-02-18T07:05:14.000Z"},"COMPUMATRIX.USD":{"volume24":13.9554,"price":0.0447764,"updated":"2019-02-18T07:05:15.000Z"},"EBULLION":{"volume24":1.00041,"price":0.00285714,"updated":"2019-02-18T07:05:00.000Z"},"NEMXEM":{"volume24":34.6657,"price":0.10101,"updated":"2019-02-18T07:04:59.000Z"},"ELOAD":{"volume24":4028.06,"price":11.7371,"updated":"2019-02-18T07:04:57.000Z"},"LTCCORE":{"volume24":0.611042,"price":0.00178047,"updated":"2019-02-18T07:05:03.000Z"},"GALLEON":{"volume24":0.347923,"price":0.00101379,"updated":"2019-02-18T07:04:58.000Z"},"ETHCX":{"volume24":0.0917348,"price":0.0002673,"updated":"2019-02-18T07:05:14.000Z"},"EINYX.CASH":{"volume24":0.0702538,"price":0.000204708,"updated":"2019-02-18T07:05:16.000Z"},"FASTBTC":{"volume24":0.00357762,"price":1.11109e-05,"updated":"2019-02-18T07:04:59.000Z"},"NEOCORE":{"volume24":0.72631,"price":0.00211695,"updated":"2019-02-18T07:05:03.000Z"},"GDEX.BTC":{"volume24":0.00305379,"price":1.15799e-05,"updated":"2019-02-18T07:05:03.000Z"},"EZLIF.SOCBOUNTY":{"volume24":1240.0,"price":5.88235,"updated":"2019-02-18T07:05:15.000Z"},"OPEN.LTC":{"volume24":0.228303,"price":0.000976878,"updated":"2019-02-18T07:04:55.000Z"},"BEYONDBIT":{"volume24":549.0,"price":3.125,"updated":"2019-02-18T07:04:59.000Z"},"BRIDGE.RVN":{"volume24":964.135,"price":4.54545,"updated":"2019-02-18T07:05:07.000Z"},"EURCX":{"volume24":6.8354,"price":0.0333333,"updated":"2019-02-18T07:05:06.000Z"},"EUR":{"volume24":5.5107,"price":0.0349251,"updated":"2019-02-18T07:04:53.000Z"},"ICOVO":{"volume24":26603600.0,"price":324675.0,"updated":"2019-02-18T07:05:14.000Z"},"ELECTRON":{"volume24":3986520.0,"price":33211.6,"updated":"2019-02-18T07:05:05.000Z"},"ICOIN":{"volume24":0.0001,"price":6.87287e-07,"updated":"2019-02-18T07:05:14.000Z"},"OPEN.SCR":{"volume24":92.7065,"price":0.666667,"updated":"2019-02-18T07:05:09.000Z"},"OPEN.XEM":{"volume24":81.3292,"price":0.644745,"updated":"2019-02-18T07:05:09.000Z"},"CALLCNY05MARCH19":{"volume24":595.891,"price":5.8827,"updated":"2019-02-18T07:05:16.000Z"},"KRW":{"volume24":2199.48,"price":27.7778,"updated":"2019-02-18T07:04:53.000Z"},"EASYDEX.WLS":{"volume24":85.0,"price":0.500025,"updated":"2019-02-18T07:05:15.000Z"},"XBTSX.COF":{"volume24":340.498,"price":5.32701,"updated":"2019-02-18T07:05:15.000Z"},"BTCLITE":{"volume24":39.7527,"price":0.500551,"updated":"2019-02-18T07:05:16.000Z"},"XBTSX.WAVES":{"volume24":1.00086,"price":0.0151515,"updated":"2019-02-18T07:05:15.000Z"},"CNYRMB":{"volume24":13.1967,"price":0.3198,"updated":"2019-02-18T07:05:16.000Z"},"BRIDGE.XP":{"volume24":183877.0,"price":4347.83,"updated":"2019-02-18T07:05:04.000Z"},"YOYOW":{"volume24":100.156,"price":2.5355,"updated":"2019-02-18T07:04:58.000Z"},"OPEN.XRP":{"volume24":4.9432,"price":0.141706,"updated":"2019-02-18T07:05:13.000Z"},"OPEN.KRM":{"volume24":1200.0,"price":40.5022,"updated":"2019-02-18T07:05:03.000Z"},"BRIDGE.BCH":{"volume24":0.0122541,"price":0.000434744,"updated":"2019-02-18T07:05:04.000Z"},"READMEMO":{"volume24":1180000000.0,"price":10000000.0,"updated":"2019-02-18T07:05:15.000Z"},"RUDEX.KRM":{"volume24":1009.81,"price":40.8831,"updated":"2019-02-18T07:05:04.000Z"},"GDEX.ETH":{"volume24":0.005937,"price":0.000314903,"updated":"2019-02-18T07:05:04.000Z"},"BRIDGE.SMART":{"volume24":223.2,"price":9.0,"updated":"2019-02-18T07:05:05.000Z"},"BRIDGE.CBS":{"volume24":250.228,"price":142.446,"updated":"2019-02-18T07:05:08.000Z"},"LAMBO":{"volume24":39.9796,"price":2.50106,"updated":"2019-02-18T07:05:08.000Z"},"TRUMPTWEET":{"volume24":971.494,"price":50.3328,"updated":"2019-02-18T07:05:16.000Z"},"BLOCKPAY":{"volume24":33.1898,"price":3.30002,"updated":"2019-02-18T07:04:57.000Z"},"EASYDEX.BTC":{"volume24":0.0001,"price":1.0e-05,"updated":"2019-02-18T07:05:12.000Z"},"SPARKDEX.BTC":{"volume24":0.0001092,"price":1.09231e-05,"updated":"2019-02-18T07:05:14.000Z"},"RUDEX.GOLOS":{"volume24":45.219,"price":4.54545,"updated":"2019-02-18T07:05:01.000Z"},"BRIDGE.CMM":{"volume24":7343.26,"price":146.6,"updated":"2019-02-18T07:05:12.000Z"},"NETFLIXCOM":{"volume24":0.00154,"price":0.000170999,"updated":"2019-02-18T07:05:09.000Z"},"BRIDGE.NRG":{"volume24":5.99351,"price":0.99999,"updated":"2019-02-18T07:05:14.000Z"},"BRIDGE.XSH":{"volume24":275.606,"price":47.7054,"updated":"2019-02-18T07:05:04.000Z"},"BRIDGE.ECC":{"volume24":2160.76,"price":400.0,"updated":"2019-02-18T07:05:05.000Z"},"XBTSX.ETH":{"volume24":0.0017731,"price":0.000333333,"updated":"2019-02-18T07:05:16.000Z"},"BRIDGE.DRV":{"volume24":41167.0,"price":8333.33,"updated":"2019-02-18T07:05:11.000Z"},"UNIVERSAL":{"volume24":650.0,"price":142.857,"updated":"2019-02-18T07:05:10.000Z"},"FSTSH":{"volume24":436.551,"price":99.9001,"updated":"2019-02-18T07:05:13.000Z"},"BRIDGE.MEDIC":{"volume24":50.7451,"price":1.2545,"updated":"2019-02-18T07:05:10.000Z"},"BRIDGE.PGN":{"volume24":2914.33,"price":820.402,"updated":"2019-02-18T07:05:10.000Z"},"BRIDGE.PPO":{"volume24":438.274,"price":111.111,"updated":"2019-02-18T07:05:15.000Z"},"BRIDGE.XDOGE":{"volume24":45.543,"price":17.3913,"updated":"2019-02-18T07:05:14.000Z"},"BRIDGE.HTML":{"volume24":2149.99,"price":1428.57,"updated":"2019-02-18T07:05:04.000Z"},"LIFECOIN":{"volume24":8.7986,"price":5.0,"updated":"2019-02-18T07:05:16.000Z"},"BRIDGE.SHND":{"volume24":906705.0,"price":454546.0,"updated":"2019-02-18T07:05:06.000Z"},"BRIDGE.ALQO":{"volume24":15.9034,"price":8.22956,"updated":"2019-02-18T07:05:04.000Z"},"BDTOKEN":{"volume24":15.036,"price":11.1111,"updated":"2019-02-18T07:05:15.000Z"},"BRIDGE.INN":{"volume24":53.5747,"price":4.76191,"updated":"2019-02-18T07:05:11.000Z"},"BRIDGE.CRCO":{"volume24":0.166618,"price":0.166667,"updated":"2019-02-18T07:05:15.000Z"},"XBTSX.UNI":{"volume24":8.78078,"price":11.1111,"updated":"2019-02-18T07:05:15.000Z"},"SEK":{"volume24":0.2521,"price":0.3846,"updated":"2019-02-18T07:04:53.000Z"},"BRIDGE.VTC":{"volume24":0.0917051,"price":0.263157,"updated":"2019-02-18T07:05:05.000Z"},"XBTSX.BTC":{"volume24":3.19e-06,"price":1.2e-05,"updated":"2019-02-18T07:05:13.000Z"},"BRIDGE.VTAR":{"volume24":1956.82,"price":7670.48,"updated":"2019-02-18T07:05:09.000Z"},"BRIDGE.LPC":{"volume24":0.0757633,"price":0.5,"updated":"2019-02-18T07:05:13.000Z"},"BRIDGE.BEPAY":{"volume24":499.563,"price":3124.02,"updated":"2019-02-18T07:05:11.000Z"},"DEXAS.FNO":{"volume24":154.0,"price":1000.0,"updated":"2019-02-18T07:05:17.000Z"},"BRIDGE.XLR":{"volume24":0.0121759,"price":0.0833333,"updated":"2019-02-18T07:05:05.000Z"},"XBTSX.DOGE":{"volume24":2.96355,"price":20.772,"updated":"2019-02-18T07:05:13.000Z"},"DNXTO":{"volume24":162.504,"price":625.041,"updated":"2019-02-18T07:04:59.000Z"},"SOLAR":{"volume24":622276.0,"price":10803400.0,"updated":"2019-02-18T07:05:14.000Z"},"BRIDGE.RAP":{"volume24":1228.45,"price":24564.0,"updated":"2019-02-18T07:05:07.000Z"},"BRIDGE.CDM":{"volume24":88.8548,"price":2193.94,"updated":"2019-02-18T07:05:12.000Z"},"BRIDGE.TIMEC":{"volume24":29.7481,"price":999.6,"updated":"2019-02-18T07:05:12.000Z"},"BRIDGE.NEET":{"volume24":1.0168,"price":39.9998,"updated":"2019-02-18T07:05:09.000Z"},"TESLACOM":{"volume24":1.0e-05,"price":0.000666667,"updated":"2019-02-18T07:05:09.000Z"},"BRIDGE.ALMEX":{"volume24":80.5813,"price":5422.7,"updated":"2019-02-18T07:05:11.000Z"},"FACEBOOKCOM":{"volume24":1.0e-05,"price":0.001234,"updated":"2019-02-18T07:05:08.000Z"},"BRIDGE.PLUS":{"volume24":19.8113,"price":3576.05,"updated":"2019-02-18T07:05:10.000Z"},"BRIDGE.OPC":{"volume24":3.81619,"price":999.001,"updated":"2019-02-18T07:05:09.000Z"},"BRIDGE.DGB":{"volume24":0.00225,"price":6.24999,"updated":"2019-02-18T07:05:03.000Z"},"SMALL":{"volume24":1.0,"price":5000.0,"updated":"2019-02-18T07:05:04.000Z"},"BRIDGE.APR":{"volume24":0.240964,"price":12048.2,"updated":"2019-02-18T07:05:12.000Z"},"UPGRADE":{"volume24":0.0,"price":1.0e-07,"updated":"2019-02-18T07:05:17.000Z"},"XMRMINED":{"volume24":0.0,"price":0.000884784,"updated":"2019-02-18T07:05:16.000Z"},"XBTSX.LTC":{"volume24":0.0,"price":0.000929096,"updated":"2019-02-18T07:05:13.000Z"},"BRENT":{"volume24":0.0,"price":0.00998993,"updated":"2019-02-18T07:05:15.000Z"},"STARBIT":{"volume24":0.0,"price":4.54545,"updated":"2019-02-18T07:05:16.000Z"},"BRIDGE.MTI":{"volume24":0.0,"price":980392.0,"updated":"2019-02-18T07:05:11.000Z"},"RUDEX.VIZ":{"volume24":0.0,"price":17.5,"updated":"2019-02-18T07:05:15.000Z"},"HERTZ":{"volume24":0.0,"price":0.0399794,"updated":"2019-02-18T07:05:07.000Z"},"BRIDGE.KRT":{"volume24":0.0,"price":909091.0,"updated":"2019-02-18T07:05:12.000Z"},"XBTSX.BBI":{"volume24":0.0,"price":6.66667,"updated":"2019-02-18T07:05:16.000Z"},"FELIXSTOEVERART":{"volume24":0.0,"price":0.166667,"updated":"2019-02-18T07:05:03.000Z"},"XBTSX.VRC":{"volume24":0.0,"price":0.804063,"updated":"2019-02-18T07:05:17.000Z"},"PROTON":{"volume24":0.0,"price":363.636,"updated":"2019-02-18T07:05:05.000Z"},"BRIDGE.BLOCK":{"volume24":0.0,"price":0.0605034,"updated":"2019-02-18T07:05:05.000Z"},"OPEN.XSD":{"volume24":0.0,"price":1.17,"updated":"2019-02-18T07:05:14.000Z"},"BRIDGE.HER":{"volume24":0.0,"price":8036670.0,"updated":"2019-02-18T07:05:11.000Z"},"BRIDGE.PAR":{"volume24":0.0,"price":3333.34,"updated":"2019-02-18T07:05:14.000Z"},"PRIZE":{"volume24":0.0,"price":0.169492,"updated":"2019-02-18T07:05:00.000Z"},"OPEN.EXCL":{"volume24":0.0,"price":0.193798,"updated":"2019-02-18T07:04:58.000Z"},"XBTSX.MAG":{"volume24":0.0,"price":0.01,"updated":"2019-02-18T07:05:17.000Z"},"SMARTWHALE":{"volume24":0.0,"price":3.33333,"updated":"2019-02-18T07:05:16.000Z"},"ASPRX":{"volume24":0.0,"price":0.0133333,"updated":"2019-02-18T07:05:16.000Z"},"ILICOIN":{"volume24":0.0,"price":0.0025641,"updated":"2019-02-18T07:05:06.000Z"},"BRIDGE.CROP":{"volume24":0.0,"price":990.001,"updated":"2019-02-18T07:05:08.000Z"},"GUPPY":{"volume24":0.0,"price":5000.0,"updated":"2019-02-18T07:05:08.000Z"},"BRIDGE.PURE":{"volume24":0.0,"price":250.0,"updated":"2019-02-18T07:05:11.000Z"},"BRIDGE.ROE":{"volume24":0.0,"price":2932.55,"updated":"2019-02-18T07:05:09.000Z"},"RUDEX.SCR":{"volume24":0.0,"price":0.757576,"updated":"2019-02-18T07:05:09.000Z"},"XBTSX.DCNT":{"volume24":0.0,"price":0.0659648,"updated":"2019-02-18T07:05:17.000Z"},"XBTSX.POST":{"volume24":0.0,"price":90.9091,"updated":"2019-02-18T07:05:13.000Z"},"XBTSX.ONION":{"volume24":0.0,"price":0.232558,"updated":"2019-02-18T07:05:16.000Z"},"RUDEX.ETH":{"volume24":0.0,"price":0.000360347,"updated":"2019-02-18T07:05:10.000Z"},"NSK4AM":{"volume24":0.0,"price":0.210526,"updated":"2019-02-18T07:05:16.000Z"},"AMAZONCOM":{"volume24":0.0,"price":8.0e-05,"updated":"2019-02-18T07:05:07.000Z"},"DONGFENG":{"volume24":0.0,"price":600000.0,"updated":"2019-02-18T07:05:11.000Z"},"BRIDGE.CARE":{"volume24":0.0,"price":6493.51,"updated":"2019-02-18T07:05:17.000Z"},"YENSESA":{"volume24":0.0,"price":13.5,"updated":"2019-02-18T07:05:12.000Z"},"ETHPLUS":{"volume24":0.0,"price":25.0501,"updated":"2019-02-18T07:05:07.000Z"},"BTC":{"volume24":0.0,"price":1.15626e-05,"updated":"2019-02-18T07:04:53.000Z"},"XOVBTC":{"volume24":0.0,"price":1.22427e-05,"updated":"2019-02-18T07:05:17.000Z"},"MXN":{"volume24":0.0,"price":0.625,"updated":"2019-02-18T07:04:58.000Z"},"PLATFORMS":{"volume24":0.0,"price":500.0,"updated":"2019-02-18T07:05:07.000Z"},"WANGCHANGE":{"volume24":0.0,"price":18.9175,"updated":"2019-02-18T07:04:58.000Z"},"BRIDGE.KREDS":{"volume24":0.0,"price":250.0,"updated":"2019-02-18T07:05:07.000Z"},"GOLD":{"volume24":0.0,"price":5.01153e-05,"updated":"2019-02-18T07:04:53.000Z"},"BRIDGE.ADV":{"volume24":0.0,"price":2433.09,"updated":"2019-02-18T07:05:11.000Z"},"HOTDEX.REWARD":{"volume24":0.0,"price":400.0,"updated":"2019-02-18T07:05:17.000Z"},"DCMUSIC":{"volume24":0.0,"price":10.0,"updated":"2019-02-17T13:04:49.000Z"},"BRIDGE.ESCO":{"volume24":0.0,"price":2.0,"updated":"2019-02-18T07:05:06.000Z"},"BRIDGE.BELA":{"volume24":0.0,"price":7.23694,"updated":"2019-02-18T07:05:05.000Z"},"ESCROW.RUBLE":{"volume24":0.0,"price":3.43772,"updated":"2019-02-18T07:05:03.000Z"},"BRIDGE.XXX":{"volume24":0.0,"price":50.0,"updated":"2019-02-18T07:05:11.000Z"},"REMEDY.DESTINIA":{"volume24":0.0,"price":8.83392,"updated":"2019-02-18T07:05:14.000Z"},"BRIDGE.NORT":{"volume24":0.0,"price":5.0,"updated":"2019-02-18T07:05:08.000Z"},"OPEN.GRC":{"volume24":0.0,"price":7.93651,"updated":"2019-02-18T07:04:57.000Z"},"EOSBIT":{"volume24":0.0,"price":3.846,"updated":"2019-02-18T07:05:03.000Z"},"BTSXLM":{"volume24":0.0,"price":5.0,"updated":"2019-02-18T07:05:14.000Z"},"OPEN.USDT":{"volume24":0.0,"price":0.0440424,"updated":"2019-02-18T07:04:56.000Z"},"MIRRI":{"volume24":0.0,"price":2785.52,"updated":"2019-02-18T07:05:07.000Z"},"DERANGEDCOIN":{"volume24":0.0,"price":4.16667,"updated":"2019-02-18T07:05:17.000Z"},"OBITS":{"volume24":0.0,"price":1.21935,"updated":"2019-02-18T07:04:54.000Z"},"SMOKE":{"volume24":0.0,"price":1.5625,"updated":"2019-02-18T07:05:00.000Z"},"BLOKBTC":{"volume24":0.0,"price":0.217865,"updated":"2019-02-18T07:05:17.000Z"},"OBITS.VOTING":{"volume24":0.0,"price":25.0,"updated":"2019-02-18T07:05:14.000Z"},"WHALESHARE":{"volume24":0.0,"price":3.125,"updated":"2019-02-18T07:04:59.000Z"},"OPEN.IQ":{"volume24":0.0,"price":8.33,"updated":"2019-02-18T07:05:15.000Z"},"BRIDGE.LTX":{"volume24":0.0,"price":47169.8,"updated":"2019-02-18T07:05:13.000Z"},"BRIDGE.HTH":{"volume24":0.0,"price":196078.0,"updated":"2019-02-18T07:05:15.000Z"},"BRIDGE.BRIM":{"volume24":0.0,"price":34.8554,"updated":"2019-02-18T07:05:05.000Z"},"BRIDGE.LTC":{"volume24":0.0,"price":0.001,"updated":"2019-02-18T07:05:03.000Z"},"BTWTY":{"volume24":0.0,"price":1.4e-06,"updated":"2019-02-18T07:04:56.000Z"},"BADCOIN":{"volume24":0.0,"price":7042.25,"updated":"2019-02-18T07:05:00.000Z"},"BRIDGE.POLIS":{"volume24":0.0,"price":58.46,"updated":"2019-02-18T07:05:08.000Z"},"BRIDGE.WSP":{"volume24":0.0,"price":19.9996,"updated":"2019-02-18T07:05:04.000Z"},"SWIFTCOIN":{"volume24":0.0,"price":9.09083,"updated":"2019-02-18T07:05:08.000Z"},"CUBED.CNY":{"volume24":0.0,"price":0.35714,"updated":"2019-02-18T07:05:10.000Z"},"BRIDGE.HASH":{"volume24":0.0,"price":625.002,"updated":"2019-02-18T07:05:11.000Z"},"OPEN.SBD":{"volume24":0.0,"price":0.0389137,"updated":"2019-02-18T07:04:57.000Z"},"OPEN.AGRS":{"volume24":0.0,"price":0.15748,"updated":"2019-02-18T07:04:56.000Z"},"GOLOS":{"volume24":0.0,"price":4.54422,"updated":"2019-02-18T07:04:58.000Z"},"SILVER":{"volume24":0.0,"price":0.00456621,"updated":"2019-02-18T07:04:53.000Z"},"BRIDGE.BITG":{"volume24":0.0,"price":0.291579,"updated":"2019-02-18T07:05:06.000Z"},"HOTDEX.BTC":{"volume24":0.0,"price":1.38e-05,"updated":"2019-02-18T07:05:17.000Z"},"BRIDGE.KNG":{"volume24":0.0,"price":987.069,"updated":"2019-02-18T07:05:17.000Z"},"XBTSX.AHT":{"volume24":0.0,"price":2.48077,"updated":"2019-02-18T07:05:16.000Z"},"BEARS":{"volume24":0.0,"price":0.991,"updated":"2019-02-18T07:05:17.000Z"},"BRIDGE.BTCC":{"volume24":0.0,"price":0.219995,"updated":"2019-02-18T07:05:12.000Z"},"CADASTRAL":{"volume24":0.0,"price":25.7069,"updated":"2019-02-18T07:04:56.000Z"},"BRIDGE.XDNA":{"volume24":0.0,"price":8.92856,"updated":"2019-02-18T07:05:13.000Z"},"PAPAMAMA":{"volume24":0.0,"price":0.025,"updated":"2019-02-18T07:05:04.000Z"},"OPEN.XMR":{"volume24":0.0,"price":0.000916786,"updated":"2019-02-18T07:05:13.000Z"},"OPEN.WAVES":{"volume24":0.0,"price":0.016129,"updated":"2019-02-18T07:04:58.000Z"},"BRIDGE.PIVX":{"volume24":0.0,"price":0.0714279,"updated":"2019-02-18T07:05:05.000Z"},"BRIDGE.XMCC":{"volume24":0.0,"price":1.00001,"updated":"2019-02-18T07:05:11.000Z"},"FIRELOTTO":{"volume24":0.0,"price":4.9505,"updated":"2019-02-18T07:05:14.000Z"},"SEER":{"volume24":0.0,"price":8.20937,"updated":"2019-02-18T07:05:04.000Z"},"BRIDGE.FOR":{"volume24":0.0,"price":25.0,"updated":"2019-02-18T07:05:04.000Z"},"BRIDGE.MONA":{"volume24":0.0,"price":0.0909012,"updated":"2019-02-18T07:05:04.000Z"},"BRIDGE.DSR":{"volume24":0.0,"price":305.552,"updated":"2019-02-18T07:05:09.000Z"},"PLANT":{"volume24":0.0,"price":0.2,"updated":"2019-02-18T07:05:15.000Z"},"HERO":{"volume24":0.0,"price":0.000332329,"updated":"2019-02-18T07:04:58.000Z"},"BRIDGE.GIN":{"volume24":0.0,"price":0.0204086,"updated":"2019-02-18T07:05:11.000Z"},"XBTSX.DASH":{"volume24":0.0,"price":0.000526039,"updated":"2019-02-18T07:05:16.000Z"},"BRIDGE.ARGO":{"volume24":0.0,"price":1204.93,"updated":"2019-02-18T07:05:06.000Z"},"JPY":{"volume24":0.0,"price":2.5,"updated":"2019-02-18T07:04:54.000Z"},"NOWCOIN":{"volume24":0.0,"price":2.5,"updated":"2019-02-18T07:05:08.000Z"},"EASYDEX.STEEM":{"volume24":0.0,"price":0.126226,"updated":"2019-02-18T07:05:12.000Z"},"OPEN.HTML":{"volume24":0.0,"price":358.423,"updated":"2019-02-18T07:05:07.000Z"},"TRUSTY":{"volume24":0.0,"price":0.166667,"updated":"2019-02-18T07:05:03.000Z"},"VISACOM":{"volume24":0.0,"price":4.99994e-05,"updated":"2019-02-18T07:05:09.000Z"},"OPEN.MAID":{"volume24":0.0,"price":0.338197,"updated":"2019-02-18T07:04:57.000Z"},"VIRTUAL":{"volume24":0.0,"price":100010.0,"updated":"2019-02-18T07:05:07.000Z"},"STARBUCKSCOM":{"volume24":0.0,"price":0.0001,"updated":"2019-02-18T07:05:09.000Z"},"OPEN.WARRANTBTS":{"volume24":0.0,"price":1.06293,"updated":"2019-02-18T07:05:13.000Z"},"BRIDGE.MANO":{"volume24":0.0,"price":204.071,"updated":"2019-02-18T07:05:12.000Z"},"UCHAIN":{"volume24":0.0,"price":630.12,"updated":"2019-02-18T07:05:04.000Z"},"CVN":{"volume24":0.0,"price":0.250438,"updated":"2019-02-18T07:05:14.000Z"},"BRIDGE.XVG":{"volume24":0.0,"price":6.45203,"updated":"2019-02-18T07:05:02.000Z"},"BRIDGE.ECA":{"volume24":0.0,"price":112.36,"updated":"2019-02-18T07:05:05.000Z"},"LITT":{"volume24":0.0,"price":4.0,"updated":"2019-02-18T07:05:12.000Z"},"MAINCOIN":{"volume24":0.0,"price":0.333333,"updated":"2019-02-18T07:05:17.000Z"},"XBTSX.P2P":{"volume24":0.0,"price":12.4983,"updated":"2019-02-18T07:05:16.000Z"},"APPLECOM":{"volume24":0.0,"price":0.0012,"updated":"2019-02-18T07:05:09.000Z"},"BRIDGE.XGOX":{"volume24":0.0,"price":1341.97,"updated":"2019-02-18T07:05:05.000Z"},"VIRGROW":{"volume24":0.0,"price":0.001,"updated":"2019-02-18T07:04:57.000Z"},"XMRCORE":{"volume24":0.0,"price":0.000767435,"updated":"2019-02-18T07:05:02.000Z"},"ZALUPA":{"volume24":0.0,"price":334448.0,"updated":"2019-02-18T07:05:05.000Z"},"BRIDGE.MYCE":{"volume24":0.0,"price":217.391,"updated":"2019-02-18T07:05:08.000Z"},"EZLIF.SHAREDROP":{"volume24":0.0,"price":0.833333,"updated":"2019-02-18T07:05:17.000Z"},"ESCODEX.RVN":{"volume24":0.0,"price":9.999,"updated":"2019-02-18T07:05:13.000Z"},"BTCMAX":{"volume24":0.0,"price":0.125,"updated":"2019-02-18T07:05:08.000Z"},"XCHNG.FUND":{"volume24":0.0,"price":0.0208333,"updated":"2019-02-18T07:05:17.000Z"},"REIDSPICEM":{"volume24":0.0,"price":1.0,"updated":"2019-02-16T09:04:06.000Z"},"BRIDGE.CRDS":{"volume24":0.0,"price":60.2373,"updated":"2019-02-18T07:05:06.000Z"},"OPEN.W3C":{"volume24":0.0,"price":1449.28,"updated":"2019-02-18T07:05:10.000Z"},"BAIDUCOM":{"volume24":0.0,"price":0.000333333,"updated":"2019-02-18T07:05:07.000Z"},"RUDEX.GRC":{"volume24":0.0,"price":8.33333,"updated":"2019-02-18T07:05:14.000Z"},"DECENTRALIZED":{"volume24":0.0,"price":100000.0,"updated":"2019-02-18T07:05:07.000Z"},"OPEN.OMG":{"volume24":0.0,"price":0.03125,"updated":"2019-02-18T07:05:01.000Z"},"BRICS":{"volume24":0.0,"price":16683.3,"updated":"2019-02-18T07:04:54.000Z"},"QUINT":{"volume24":0.0,"price":0.0625,"updated":"2019-02-18T07:05:13.000Z"},"BRIDGE.BEET":{"volume24":0.0,"price":5.26316,"updated":"2019-02-18T07:05:06.000Z"},"XBTSX.KEC":{"volume24":0.0,"price":71.4235,"updated":"2019-02-18T07:05:16.000Z"},"NIKKEIINDEX":{"volume24":0.0,"price":0.00111,"updated":"2019-02-18T07:05:14.000Z"},"DIGITAL":{"volume24":0.0,"price":11111.1,"updated":"2019-02-18T07:05:14.000Z"},"OPULENCE":{"volume24":0.0,"price":9.0909,"updated":"2019-02-18T07:05:11.000Z"},"KITATOKEN":{"volume24":0.0,"price":1.40846,"updated":"2019-02-18T07:05:15.000Z"},"KRIPT":{"volume24":0.0,"price":0.0249984,"updated":"2019-02-18T07:05:14.000Z"},"EASYDEX.SBD":{"volume24":0.0,"price":0.043956,"updated":"2019-02-18T07:05:13.000Z"},"MICROSOFTCOM":{"volume24":0.0,"price":0.000442478,"updated":"2019-02-18T07:05:09.000Z"},"DEEX.BTC":{"volume24":0.0,"price":8.88029e-06,"updated":"2019-02-18T07:05:12.000Z"},"BRIDGE.PHR":{"volume24":0.0,"price":0.437252,"updated":"2019-02-18T07:05:05.000Z"},"FORDCOM":{"volume24":0.0,"price":0.004,"updated":"2019-02-18T07:05:10.000Z"},"BRIDGE.CHEESE":{"volume24":0.0,"price":305.402,"updated":"2019-02-18T07:05:06.000Z"},"QORA":{"volume24":0.0,"price":7.13267,"updated":"2019-02-18T07:04:58.000Z"},"LZMSCORE":{"volume24":0.0,"price":497512.0,"updated":"2019-02-18T07:05:02.000Z"},"BRIDGE.ZNY":{"volume24":0.0,"price":19.0277,"updated":"2019-02-18T07:05:03.000Z"},"CYBERCOIN":{"volume24":0.0,"price":0.250627,"updated":"2019-02-18T07:05:16.000Z"},"GDEX.EOSDAC":{"volume24":0.0,"price":1.07645,"updated":"2019-02-18T07:05:11.000Z"},"BLACKNET":{"volume24":0.0,"price":100.0,"updated":"2019-02-18T07:05:17.000Z"},"OPEN.ZGC":{"volume24":0.0,"price":4.25112,"updated":"2019-02-18T07:04:59.000Z"},"XBTSX.NVC":{"volume24":0.0,"price":0.0666667,"updated":"2019-02-18T07:05:14.000Z"},"BRIDGE.COLX":{"volume24":0.0,"price":1785.4,"updated":"2019-02-18T07:05:05.000Z"},"ARCOIN":{"volume24":0.0,"price":666.667,"updated":"2019-02-18T07:05:03.000Z"},"BRIDGE.PHILS":{"volume24":0.0,"price":16034.4,"updated":"2019-02-18T07:05:05.000Z"},"BRIDGE.SPD":{"volume24":0.0,"price":9.99999,"updated":"2019-02-18T07:05:08.000Z"},"BRIDGE.ACCO":{"volume24":0.0,"price":208.333,"updated":"2019-02-18T07:05:05.000Z"},"BRIDGE.FIX":{"volume24":0.0,"price":16638.9,"updated":"2019-02-18T07:05:08.000Z"},"BRIDGE.LCC":{"volume24":0.0,"price":11.9904,"updated":"2019-02-18T07:05:07.000Z"},"REIDREOZ":{"volume24":0.0,"price":1.0,"updated":"2019-02-18T07:05:06.000Z"},"BRIDGE.XAP":{"volume24":0.0,"price":25.0,"updated":"2019-02-18T07:05:08.000Z"},"TRONTRX":{"volume24":0.0,"price":2.5,"updated":"2019-02-18T07:05:08.000Z"},"DIERHAM":{"volume24":0.0,"price":0.00526316,"updated":"2019-02-18T07:05:16.000Z"},"CYBERTECHNET":{"volume24":0.0,"price":1.11111,"updated":"2019-02-18T07:05:17.000Z"},"BRIDGE.OMEGA":{"volume24":0.0,"price":247.464,"updated":"2019-02-18T07:05:08.000Z"},"ZENGOLD":{"volume24":0.0,"price":5.5571,"updated":"2019-02-18T07:04:59.000Z"},"ICOO":{"volume24":0.0,"price":0.651,"updated":"2019-02-18T07:04:56.000Z"},"SWIFTBTS":{"volume24":0.0,"price":0.0366569,"updated":"2019-02-18T07:05:11.000Z"},"BRIDGE.FLM":{"volume24":0.0,"price":99.9191,"updated":"2019-02-18T07:05:08.000Z"},"BRIDGE.MARCO":{"volume24":0.0,"price":3844.68,"updated":"2019-02-18T07:05:09.000Z"},"ESCODEX.ESCO":{"volume24":0.0,"price":0.00021381,"updated":"2019-02-18T07:05:12.000Z"},"RMB":{"volume24":0.0,"price":0.32,"updated":"2019-02-18T07:05:00.000Z"},"BRIDGE.UFO":{"volume24":0.0,"price":7134.0,"updated":"2019-02-18T07:05:07.000Z"},"BRIDGE.NMS":{"volume24":0.0,"price":5.0,"updated":"2019-02-18T07:05:05.000Z"},"MFCOIN":{"volume24":0.0,"price":0.2,"updated":"2019-02-18T07:05:15.000Z"},"BRIDGE.XRP":{"volume24":0.0,"price":0.2,"updated":"2019-02-18T07:05:16.000Z"},"OCT":{"volume24":0.0,"price":0.996721,"updated":"2019-02-18T07:04:59.000Z"},"OPEN.NEO":{"volume24":0.0,"price":0.00454548,"updated":"2019-02-18T07:05:08.000Z"},"OPEN.ETP":{"volume24":0.0,"price":0.0769942,"updated":"2019-02-18T07:04:59.000Z"},"MASONICOIN":{"volume24":0.0,"price":3.98545,"updated":"2019-02-18T07:05:08.000Z"},"OPEN.USD":{"volume24":0.0,"price":0.050025,"updated":"2019-02-18T07:04:54.000Z"},"TATCH.NLG":{"volume24":0.0,"price":3.5,"updated":"2019-02-18T07:05:16.000Z"},"BAICHUAN":{"volume24":0.0,"price":0.111111,"updated":"2019-02-18T07:05:12.000Z"},"BRIDGE.IFX":{"volume24":0.0,"price":0.519996,"updated":"2019-02-18T07:05:09.000Z"},"BRIDGE.CTS":{"volume24":0.0,"price":1000000.0,"updated":"2019-02-18T07:05:17.000Z"},"BRIDGE.VITAE":{"volume24":0.0,"price":1.0e-06,"updated":"2019-02-18T07:05:17.000Z"},"ASOBI":{"volume24":0.0,"price":50.0,"updated":"2019-02-18T01:05:45.000Z"},"BRIDGE.QBO":{"volume24":0.0,"price":90090.1,"updated":"2019-02-18T07:05:17.000Z"},"FFFARM":{"volume24":0.0,"price":100.0,"updated":"2019-02-15T01:05:24.000Z"},"BRIDGE.VRM":{"volume24":0.0,"price":999.9,"updated":"2019-02-18T07:05:17.000Z"},"TOPIK":{"volume24":0.0,"price":0.000333333,"updated":"2019-02-18T07:05:17.000Z"},"STEEMGOLD":{"volume24":0.0,"price":0.0330175,"updated":"2019-02-18T07:05:17.000Z"},"SMOKEBIT":{"volume24":0.0,"price":200.0,"updated":"2019-02-08T01:05:18.000Z"},"BRIDGE.MNDX":{"
[...]
