---
http_interactions:
- request:
    method: get
    uri: https://www.coinexchange.io/api/v1/getmarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 6-9401401-9401406 NNNN CT(188 381 0) RT(1565337322846 106) q(0 0 6 -1) r(8
        9) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"success":"1","request":"\/api\/v1\/getmarkets","message":"","result":[{"MarketID":"18","MarketAssetName":"Litecoin","MarketAssetCode":"LTC","MarketAssetID":"2","MarketAssetType":"currency","BaseCurrency":"Bitcoin","BaseCurrencyCode":"BTC","BaseCurrencyID":"1","Active":true},{"MarketID":"19","MarketAssetName":"Unobtanium","MarketAssetCode":"UNO","MarketAssetID":"3","MarketAssetType":"currency","BaseCurrency":"Bitcoin","BaseCurrencyCode":"BTC","BaseCurrencyID":"1","Active":true},{"MarketID":"21","MarketAssetName":"Dogecoin","MarketAssetCode":"DOGE","MarketAssetID":"4","MarketAssetType":"currency","BaseCurrency":"Bitcoin","BaseCurrencyCode":"BTC","BaseCurrencyID":"1","Active":true},{"MarketID":"22","MarketAssetName":"Kobocoin","MarketAssetCode":"KOBO","MarketAss[...]
