---
http_interactions:
- request:
    method: get
    uri: https://www.coinexchange.io/api/v1/getmarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-30531419-30531428 NNNN CT(171 172 0) RT(1533714071555 32) q(0 0 4 -1) r(6
        7) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"success":"1","request":"\/api\/v1\/getmarkets","message":"","result":[{"MarketID":"18","MarketAssetName":"Litecoin","MarketAssetCode":"LTC","MarketAssetID":"2","MarketAssetType":"currency","BaseCurrency":"Bitcoin","BaseCurrencyCode":"BTC","BaseCurrencyID":"1","Active":true},{"MarketID":"19","MarketAssetName":"Unobtanium","MarketAssetCode":"UNO","MarketAssetID":"3","MarketAssetType":"currency","BaseCurrency":"Bitcoin","BaseCurrencyCode":"BTC","BaseCurrencyID":"1","Active":true},{"MarketID":"20","MarketAssetName":"Syscoin","MarketAssetCode":"SYS","MarketAssetID":"5","MarketAssetType":"currency","BaseCurrency":"Bitcoin","BaseCurrencyCode":"BTC","BaseCurrencyID":"1","Active":false},{"MarketID":"21","MarketAssetName":"Dogecoin","MarketAssetCode":"DOGE","MarketAsse[...]
