---
http_interactions:
- request:
    method: get
    uri: https://www.coinexchange.io/api/v1/getorderbook?market_id=18
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 5-20786830-20786841 NNNN CT(0 0 0) RT(1565337325064 111) q(0 0 0 -1) r(2 4)
        U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"success":"1","request":"\/api\/v1\/public\/getorderbook","message":"","result":{"SellOrders":[{"Type":"sell","Price":"0.00749577","OrderTime":"2019-08-09
        07:55:06","Quantity":"5.83625135"},{"Type":"sell","Price":"0.00749580","OrderTime":"2019-08-09
        07:55:04","Quantity":"1.06933674"},{"Type":"sell","Price":"0.00749600","OrderTime":"2019-08-09
        07:52:26","Quantity":"2.49000000"},{"Type":"sell","Price":"0.00753000","OrderTime":"2019-08-09
        02:30:19","Quantity":"0.26560425"},{"Type":"sell","Price":"0.00757006","OrderTime":"2019-08-09
        01:01:06","Quantity":"0.80000000"},{"Type":"sell","Price":"0.00771481","OrderTime":"2019-08-08
        22:27:[...]
