---
http_interactions:
- request:
    method: get
    uri: https://www.coinexchange.io/api/v1/getmarketsummary?market_id=18
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 3-14752259-14752272 NNNN CT(0 0 0) RT(1565337324616 143) q(0 0 0 -1) r(2 2)
        U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"success":"1","request":"\/api\/v1\/getmarket","message":"","result":{"MarketID":"18","LastPrice":"0.00746529","Change":"-1.69","HighPrice":"0.00781000","LowPrice":"0.00740004","Volume":"0.19003807","BTCVolume":"0.19003807","TradeCount":"46","BidPrice":"0.00745000","AskPrice":"0.00749585","BuyOrderCount":"179","SellOrderCount":"668","MarketAssetCode":"LTC"}}'
  recorded_at: Fri, 09 Aug 2019 07:55:25 GMT
recorded_with: VCR 4.0.0
