---
http_interactions:
- request:
    method: get
    uri: https://anxpro.com/api/2/BTCUSD/money/trade/fetch
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d00a-Y8zpKm2f7ZjoEnFBPzHajEJh9gw"
    body:
      encoding: UTF-8
      string: '{"result":"success","data":[{"price":"4462.06448000","amount":"0.04285836","price_int":"446206448","amount_int":"4285836","tid":"1555472097706","price_currency":"USD","item":"BTC","trade_type":"bid","primary":false,"properties":"Not
        Supported"},{"price":"4462.23326000","amount":"0.20210164","price_int":"446223326","amount_int":"20210164","tid":"1555480622203","price_currency":"USD","item":"BTC","trade_type":"bid","primary":false,"properties":"Not
        Supported"},{"price":"4462.36075000","amount":"0.30507800","price_int":"446236075","amount_int":"30507800","tid":"1555480653211","price_currency":"USD","item":"BTC","trade_type":"bid","primary":false,"properties":"Not
        Supported"},{"price":"3823.72622000[...]
