---
http_interactions:
- request:
    method: get
    uri: https://anxpro.com/api/2/BTCUSD/money/depth/full
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Cache-Key:
      - "/api/2/BTCUSD/money/depth/full"
    body:
      encoding: UTF-8
      string: |-
        {
          "result": "success",
          "data": {
            "now": "1557991822137000",
            "dataUpdateTime": "1557991804225000",
            "asks": [
              {
                "price": "7026.10943",
                "price_int": "702610943",
                "amount": "0.20715279",
                "amount_int": "20715279"
              },
              {
                "price": "7051.75217",
                "price_int": "705175217",
                "amount": "2.19420000",
                "amount_int": "219420000"
              },
              {
                "price": "7179.96584",
                "price_int": "717996584",
                "amount": "0.05000000",
                "amount_int": "5000000"
              },
              {
                "price": "7346.64362",
                "price_int[...]
