---
http_interactions:
- request:
    method: get
    uri: https://anxpro.com/api/2/BTCUSD/money/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Cache-Key:
      - "/api/2/BTCUSD/money/ticker?extraCcyPairs="
    body:
      encoding: UTF-8
      string: |-
        {
          "result": "success",
          "data": {
            "high": {
              "display_short": "4,378.18 USD",
              "value_int": "437817891",
              "currency": "USD",
              "display": "4,378.17891 USD",
              "value": "4378.17891"
            },
            "low": {
              "display_short": "4,278.30 USD",
              "value_int": "427830000",
              "currency": "USD",
              "display": "4,278.30000 USD",
              "value": "4278.30000"
            },
            "avg": {
              "display_short": "4,342.75 USD",
              "value_int": "434274930",
              "currency": "USD",
              "display": "4,342.74930 USD",
              "value": "4342.74930"
            },
            "vwap": {
              "display_short": "142.17 USD",
              "value_int": "14217490",
              "currency": "USD",
              "display": "142.17490 USD",
              "value": "142.17490"
            },
            "vol": {
              "display_short": "19.13 BTC",
              "value_int": "1912826752",
              "currency": "BTC",
              "display": "19.12826752 BTC",
              "value": "19.12826752"
            },
            "last": {
              "display_short": "4,365.38 USD",
              "value_int": "436537721",
              "currency": "USD",
              "display": "4,365.37721 USD",
              "value": "4365.37721"
            },
            "buy": {
              "display_short": "4,330.27 USD",
              "value_int": "433026986",
              "currency": "USD",
              "display": "4,330.26986 USD",
              "value": "4330.26986"
            },
            "sell": {
              "display_short": "4,393.51 USD",
              "value_int": "439350894",
              "currency": "USD",
              "display": "4,393.50894 USD",
              "value": "4393.50894"
            },
            "now": "1507003445370000",
            "dataUpdateTime": "1507003435816000"
          }
        }
  recorded_at: Tue, 03 Oct 2017 04:04:05 GMT
recorded_with: VCR 3.0.3
