---
http_interactions:
- request:
    method: post
    uri: https://trontrade.io/graphql
    body:
      encoding: UTF-8
      string: '{"operationName":null,"variables":{},"query":"{ exchanges { id stats
        { h24_price high low volume volumeTrx h24_change lastPrice __typename } icon
        buyAssetName sellAssetName tokenTypeA tokenIdA tokenTypeB tokenIdB tokenDecimalsA
        tokenDecimalsB site __typename } } "}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"exchanges":[{"id":"1","stats":{"h24_price":26610000,"high":27000000,"low":25000000,"volume":480537922839,"volumeTrx":12500475,"h24_change":-2.292371288989102,"lastPrice":26000000,"__typename":"ExchangeStats"},"icon":"ante.png","buyAssetName":"ANTE","sellAssetName":"TRX","tokenTypeA":"TRC20","tokenIdA":"TCN77KWWyUyi2A4Cu7vrh5dnmRyvUuME1E","tokenTypeB":"TRX","tokenIdB":null,"tokenDecimalsA":"6","tokenDecimalsB":"6","site":null,"__typename":"Exchange"},{"id":"2","stats":{"h24_price":2200000,"high":2400000,"low":2110000,"volume":43989,"volumeTrx":100700,"h24_change":-3.4090909090909065,"lastPrice":2125000,"__typename":"ExchangeStats"},"icon":"seed.png","buyAssetName":"SEED","sellAssetName":"TRX","tokenTypeA":"TRC10","tokenIdA":"1000001","tokenTypeB":"TRX","tokenIdB":null,"tokenDecimalsA":"0","tokenDecimalsB":"6","site":null,"__typename":"Exchange"},{"id":"3","stats":{"h24_price":34200,"high":38000,"low":34200,"volu[...]
