---
http_interactions:
- request:
    method: get
    uri: https://api.resfinex.com/engine/depth?pair=ETH_USDT&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a32-XsFELc9UZoQ3vzpnB+v0IJjHeZA"
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":{"asks":[{"price":153.42,"amount":0.5202},{"price":153.43,"amount":0.27387},{"price":153.46,"amount":0.52},{"price":153.46,"amount":4},{"price":153.46,"amount":1.15999},{"price":153.47,"amount":2.99602},{"price":153.48,"amount":144},{"price":153.49,"amount":66},{"price":153.49,"amount":19.17498},{"price":153.49,"amount":1.46332},{"price":153.5,"amount":4},{"price":153.5,"amount":20},{"price":153.5,"amount":2},{"price":153.5,"amount":0.06515},{"price":153.52,"amount":2.01276},{"price":153.53,"amount":53.17},{"price":153.54,"amoun[...]
