---
http_interactions:
- request:
    method: get
    uri: https://api.resfinex.com/engine/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de1-fV0psAVYUbFTxCcAiN3rbDkRM0E"
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"pair":"ETH_USDT","timestamp":1574676320000,"last":136.92,"volume":47088350.0300262,"volumeBase":335763.9270996656,"change":-14.01000000000002,"high":150.93,"low":131.5},{"pair":"OMG_USDT","timestamp":1574676320000,"last":0.713363,"volume":516186.05978123844,"volumeBase":706064.3299998231,"change":-0.08010000000000006,"high":0.793463,"low":0.666802},{"pair":"RES_ETH","timestamp":1574676320000,"last":0.0007305,"volume":5258.677834133909,"volumeBase":7453411,"change":0.00006758000000000003,"high":0.00076047,"low":0.00066292},{"pair":"BAT_USDT","timestamp":1574676320000,"last":0.207151,"volume":2000065.6386438012,"volumeBase":9553995.480000794,"change":-0.01[...]
