---
http_interactions:
- request:
    method: get
    uri: https://trade.alluma.io/server/misc/all_ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"OMSId":1,"InstrumentId":75,"BestBid":0,"BestOffer":11.3,"LastTradedPx":10.95,"LastTradedQty":498.076,"LastTradeTime":1538986394743,"SessionOpen":10.91,"SessionHigh":11.3,"SessionLow":10.9,"SessionClose":11.29568999,"Volume":498.076,"CurrentDayVolume":1919.474,"CurrentDayNumTrades":8,"CurrentDayPxChange":-0.34568999,"Rolling24HrVolume":1919.474,"Rolling24NumTrades":8,"Rolling24HrPxChange":0.36663611365719523,"TimeStamp":"1538986394743","Instrument":"ETCTUSD","hidePair":false,"auditVisible":true,"base":"TUSD","target":"ETC"},{"OMSId":1,"InstrumentId":71,"BestBid":439.12757241,"BestOffer":443.41402826,"LastTradedPx":436.95663338,"LastTradedQty":0.00001,"LastTradeTime":1540318655992,"SessionOpen":436.95663338,"SessionHigh":436.95663338,"SessionLow":436.95663338,"SessionClose":443.5,"Volume":0.00001,"CurrentDayVolume":0,"CurrentDayNumTrades":0,"CurrentDayPxChange":0,"Rolling24HrVolume":0,"Rolling24NumTrades":0,"Rolling24HrPxChange":0,"TimeStamp":"1540318655992","Instrument":"BCHTUSD","hidePair":false,"auditVisib[...]
