---
http_interactions:
- request:
    method: get
    uri: https://trade.alluma.io/server/user/appConfig
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"fxPrices":{"USD_INR":73.644998,"PHP_INR":1.356145},"allowedFiat":{"IN":[]},"customCoinList":[{"Product":"BTC","ProductId":1,"ProductType":"CryptoCurrency","ProductFullName":"Bitcoin","hideCoin":false},{"Product":"LTC","ProductId":2,"ProductType":"CryptoCurrency","ProductFullName":"Litecoin","hideCoin":false},{"Product":"XRP","ProductId":3,"ProductType":"CryptoCurrency","ProductFullName":"Ripple","hideCoin":false},{"Product":"ETH","ProductId":4,"ProductType":"CryptoCurrency","ProductFullName":"Ethereum","hideCoin":false},{"Product":"BCH","ProductId":5,"ProductType":"CryptoCurrency","ProductFullName":"Bitcoin
        Cash","hideCoin":false},{"Product":"USD","ProductId":6,"ProductType":"N[...]
