---
http_interactions:
- request:
    method: get
    uri: https://trade.alluma.io/server/misc/tickerData
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"OMSId":1,"InstrumentId":72,"BestBid":0.015,"BestOffer":0.025,"LastTradedPx":0.02,"LastTradedQty":0.00186073,"LastTradeTime":1538587438401,"SessionOpen":0.00001,"SessionHigh":14.9,"SessionLow":0.00001,"SessionClose":50,"Volume":0.00186073,"CurrentDayVolume":18.09376473,"CurrentDayNumTrades":6,"CurrentDayPxChange":-35.1,"Rolling24HrVolume":18.09376473,"Rolling24NumTrades":6,"Rolling24HrPxChange":148999900,"TimeStamp":"1538634523837","Instrument":"FUELTUSD"},{"OMSId":1,"InstrumentId":45,"BestBid":0,"BestOffer":0,"LastTradedPx":0,"LastTradedQty":0,"LastTradeTime":-62135596800000,"SessionOpen":0,"SessionHigh":0,"SessionLow":0,"SessionClose":0,"Volume":0,"CurrentDayVolume":0,"CurrentDayNumTrades":0,"CurrentDayPxChange":0,"Rolling24HrVolume":0,"Rolling24NumTrades":0,"Rolling24HrPxChange":0,"TimeStamp":"-62135596800000","Instrument":"XRPPHP"},{"OMSId":1,"InstrumentId":76,"BestBid":815.6073404066,"BestOffer":815.6073404066,"LastTradedPx":815.6073404066,"LastTradedQty":0,"LastTradeTime":-62135596800000,"SessionOpen":815.6073404066,"SessionHigh":815.6073404066,"SessionLow":815.6073404066,"SessionClose":815.6073404066,"Volume":0,"CurrentDayVolume":0,"CurrentDayNumTrades":0,"CurrentDayPxChange":0,"Rolling24HrVolume":10377444869.652422,"Rolling24NumTrades":0,"Rolling24HrPxChange":0.71,"TimeStamp":1538655241071,"Instrument":"ETCINR","MarketCap":{"INR":85657023219,"USD":1162792702}},{"OMSId":1,"InstrumentId":33,"BestBid":12.6400276628,"BestOffer":12.6400276628,"LastTradedPx":12.6400276628,"LastTradedQty":0,"LastTradeTime":-62135596800000,"SessionOpen":12.6400276628,"SessionHigh":12.6400276628,"SessionLow":12.6400276628,"SessionClose":12.6400276628,"Volume":0,"CurrentDayVolume":0,"CurrentDayNumTrades":0,"CurrentDayPxChange":0,"Rolling24HrVolume":166159023.46567208,"Rolling24NumTrades":0,"Rolling24HrPxChange":3.13,"TimeStamp":1538655241088,"Instrument":"BATINR","[...]
