---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/bitcoincharts/twd/trades.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '[{"tid": 171495, "date": 1363738163, "amount": "1.00000000", "price":
        "1898.14"}, {"tid": 175923, "date": 1366207864, "amount": "0.99000000", "price":
        "2863.68"}, {"tid": 178382, "date": 1367770022, "amount": "0.22900000", "price":
        "4366.35"}, {"tid": 178993, "date": 1368128480, "amount": "2.06470000", "price":
        "3632.46"}, {"tid": 185171, "date": 1371382662, "amount": "0.99630000", "price":
        "3130.62"}, {"tid": 209060, "date": 1376446897, "amount": "1.40140000", "price":
        "3567.78"}, {"tid": 209720, "date": 1376525650[...]
