---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/bitcoincharts/MYR/trades.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '[{"tid": 29740016, "date": 1557988930, "amount": "0.00856678", "price":
        "35018.99"}, {"tid": 29739974, "date": 1557988997, "amount": "0.06386004",
        "price": "34510.00"}, {"tid": 29739953, "date": 1557988912, "amount": "0.00662754",
        "price": "33149.55"}, {"tid": 29739872, "date": 1557988217, "amount": "0.01570576",
        "price": "35019.00"}, {"tid": 29739870, "date": 1557988794, "amount": "0.03063992",
        "price": "33149.56"}, {"tid": 29739760, "date": 1557988495, "amount": "0.03481995",
        "price": "34463.00"}, {"tid": 29739480, [...]
