---
http_interactions:
- request:
    method: get
    uri: https://myspeedtrade.com/api/v2/order_book?market=dogebtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"db0ed9effb6f7397e4c6947886f046cd"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":282,"side":"sell","ord_type":"limit","price":"0.00000046","avg_price":"0.00000046","state":"wait","market":"dogebtc","created_at":"2018-06-19T15:36:10+08:00","volume":"15631.04512702","remaining_volume":"15160.01250042","executed_volume":"471.0326266","trades_count":3},{"id":300,"side":"sell","ord_type":"limit","price":"0.00000046","avg_price":"0.0","state":"wait","market":"dogebtc","created_at":"2018-06-21T15:12:17+08:00","volume":"204.9875","remaining_volume":"204.9875","executed_volume":"0.0","trades_count":0}],"bids":[]}'
  recorded_at: Thu, 28 Jun 2018 16:42:14 GMT
recorded_with: VCR 4.0.0
