---
http_interactions:
- request:
    method: get
    uri: https://myspeedtrade.com/api/v2/tickers/dogebtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"af24fd93a446dee45d1a165f207d53af"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1530201798,"ticker":{"buy":"0.0","sell":"0.00000046","low":"0.0","high":"0.0","last":"0.00000046","vol":"0.0","volbtc":0,"change":"0.0"}}'
  recorded_at: Thu, 28 Jun 2018 16:03:18 GMT
recorded_with: VCR 4.0.0
