---
http_interactions:
- request:
    method: get
    uri: https://api.bitpaction.com/api/v1/market/deals-list?symbol=BPS-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"","code":200,"lang":"en-US","data":[{"date":"12:22:14","number":8.49380000,"price":0.00001937,"type":"sell"},{"date":"12:21:37","number":22.69670000,"price":0.00001937,"type":"sell"},{"date":"12:21:37","number":20.00000000,"price":0.00002009,"type":"sell"},{"date":"12:21:37","number":30.00000000,"price":0.00002100,"type":"sell"},{"date":"12:21:37","number":18.53800000,"price":0.00002100,"type":"sell"},{"date":"12:21:37","number":41.80640000,"price":0.00002103,"type":"sell"},{"date":"12:21:37","number":49.58460000,"price":0.00002150,"type":"sell"},{"date":"12:21:37","number":150.57600000,"price"[...]
