---
http_interactions:
- request:
    method: get
    uri: https://api.bitpaction.com/api/v1/trade/ticks
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"","code":200,"lang":"en-US","data":[{"market":"BTC","symbol":"BPS-BTC","totalAmount":0.03446043,"high":0.00002499,"total":1607.94990000,"low":0.00001937,"changeValue":-0.00000552,"close":0.00001937,"open":0.00002489,"changeRange":-0.2218,"token":"BPS"},{"market":"BTC","symbol":"EOS-BTC","totalAmount":6.82625637,"high":0.00163859,"total":4513.89300400,"low":0.00146471,"changeValue":0.00012636,"close":0.00160502,"open":0.00147866,"changeRange":0.0855,"token":"EOS"},{"market":"ETH","symbol":"BPS-ETH","totalAmount":0.36282701,"high":0.00031900,"total":1666.12234000,"low":0.00020500,"changeValue":0.00011400,"close":0.00031900,"open":0.00020500,"changeRange":0.5561,"token":"BPS"},{"market":"BTC","symbol":"GEM-BTC","totalAmount":0.39446572,"hi[...]
