---
http_interactions:
- request:
    method: get
    uri: https://api.bitpaction.com/api/v1/market/buys-list?symbol=BPS-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"","code":200,"lang":"en-US","data":[{"data":[{"number":8626.21300000,"total":0.1191391175270000,"price":0.00001,"type":"buy"},{"number":56152.55740000,"total":0.0207686173970000,"price":0.00000,"type":"buy"}],"decimal":5},{"data":[{"number":5478.65050000,"total":0.0837692421290000,"price":0.000015,"type":"buy"},{"number":560.10190000,"total":0.0067328352970000,"price":0.000012,"type":"buy"},{"number":1730.44820000,"total":0.0199379088190000,"price":0.000011,"type":"buy"},{"number":857.01240000,"total":0.0086991312820000,"price":0.000010,"type":"buy"},{"number":5.00000000,"total":0.0000450000000000,"price":0.000009,"type":"buy"},{"number":202.55060000,"total":0.0016690169440000,"price":0.000008,"type":"buy"},{"[...]
- request:
    method: get
    uri: https://api.bitpaction.com/api/v1/market/sells-list?symbol=BPS-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"","code":200,"lang":"en-US","data":[{"data":[{"number":54.00000000,"total":0.0548644000000000,"price":0.00102,"type":"sell"},{"number":26.23900000[...]
