---
http_interactions:
- request:
    method: get
    uri: https://openapi.idax.pro/api/v2/depth?pair=ETH_BTC&size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":10000,"msg":"Successful request processing","asks":[["0.026739","0.599"],["0.026740","12.562"],["0.026746","0.790"],["0.026747","1.303"],["0.026752","1.830"],["0.026753","0.983"],["0.026754","2.837"],["0.026755","3.200"],["0.026758","5.620"],["0.026759","1.280"],["0.026761","1.830"],["0.026762","9.406"],["0.026763","23.324"],["0.026764","1.280"],["0.026768","3.840"],["0.026769","20.274"],["0.026770","3.200"],["0.026771","21.325"],["0.026772","1.858"],["0.026773","5.120"],["0.026774","3.889"],["0.026775","6.400"],["0.026778","5.359"],["0.026779","22.821"],["0.026780","5.120"],["0.026783","0.281"],["0.026784","1.833"],["0.026785","17.484"],["0.026787","3.660"],["0.026789","4.940"],["0.026791","19.964"],["0.026792","8.233"],["0.026793","22.149"],["0.026794","16.402"],["0.026795","2.512"],["0.026796","6.400"],["0.026798","6.623"],["0.026802","6.400"],["0.026803","17.438"],["0.026807","5.120"],["0.026809","0.517"],["0.026810","1.508"],["0.026813","1.828"],["0.026814","7.339"],["0.026815","5.028"],["0.026816","4.919"],["0.026818","21.100"],["0.026819","2.458"],["0.026820","17.508"],["0.026821","0.902"]],"bids":[["0.026654","15.187"],["0.026648","21.817"],["0.026644","0.689"],["0.026640","0.578"],["0.026639","7.399"],["0.026637","1.600"],["0.026633","0.947"],["0.026632","3.200"],["0.026630","20.544"],["0.026629","6.400"],["0.026626","3.000"],["0.026624","0.635"],["0.026622","1.755"],["0.026621","7.200"],["0.026619","1.006"],["0.026400","2.476"],["0.025676","7.622"],["0.025325","45.000"],["0.025192","27.000"],["0.025059","45.000"],["0.02500800","1.00000000"],["0.024925","21.000"],["0.024792","27.000"],["0.024659","15.000"],["0.024525","39.000"],["0.024392","18.000"],["0.024259","21.000"],["0.024125","42.000"],["0.022043","1.200"],["0.022000","28.157"],["0.020000","0.100"],["0.01000000","2.91900000"],["0.003990","1.067"],["0.000482","9.288"],["0.000481","2.080"],["0.00047100","2.20000000"],["0.000276","135.000"],["0.000275","998.557"],["0.000175","28.553"],["0.000073","34.945"],["0.000072","138.888"],["0.000066","30.000"],["0.00004700","22.00000000"],["0.000012","500.000"],["0.000011","141.004"],["0.00000400","250.00000000"],["0.000001","1000.000"]]}'
  recorded_at: Mon, 13 May 2019 08:05:04 GMT
recorded_with: VCR 4.0.0
