---
http_interactions:
- request:
    method: post
    uri: https://www.idax.mn/api/Signalr/GetAllOpenMarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Token:
      - 'null'
    body:
      encoding: UTF-8
      string: '{"data":[{"baseCode":"ETH","quoteCode":"BTC","lastPrice":0.07610000,"volume":21175.34600000,"total":1628.7594133730000000,"change":-0.0108533177357509586014167804,"high":0.07714000,"low":0.07608500,"isShowIndex":true,"isPortfolio":false,"baseCodeCoverImage":"https://static.idax.mn/upload/5959b28d5d8da5b8.png","quoteCodeCoverImage":"https://static.idax.mn/upload/d343d5bf50df7cac.png","priceDecimalPlace":6,"qtyDecimalPlace":3},{"baseCode":"EOS","quoteCode":"BTC","lastPrice":0.00129510,"volume":306270.74500000,"total":416.5188068671000000,"change":-0.0568057679702862136770810575,"high":0.00137990,"low":0.00129510,"isShowIndex":true,"isPortfolio":false,"baseCodeCoverImage":"https://static.idax.mn/upload/e79c130dbb4511d6.png","quoteCodeCoverImage":"https://static.idax.mn/upload/d343d5bf50df7cac.png","priceDecimalPlace":8,"qtyDecimalPlace":3},{"baseCode":"OMG","quoteCode":"BTC","lastPrice":0.00131500,"volume":2441.5990[...]
