---
http_interactions:
- request:
    method: get
    uri: https://openapi.idax.pro/api/v2/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":10000,"msg":"Successful request processing","timestamp":1550566925920,"ticker":[{"pair":"NTY_ETH","open":"0.00000071","high":"0.00000071","low":"0.00000071","last":"0.00000071","vol":"0"},{"pair":"DASH_BTC","open":"0.02206900","high":"0.02295400","low":"0.02190400","last":"0.02221700","vol":"34454.37100000"},{"pair":"ETH_CNY","open":"4300.00000000","high":"4300.00000000","low":"4300.00000000","last":"4300.00000000","vol":"0"},{"pair":"DROP_BTC","open":"0.00000019","high":"0.00000019","low":"0.00000019","last":"0.00000019","vol":"0"},{"pair":"PAT_ETH","open":"0.00001234","high":"0.00001234","low":"0.00001234","last":"0.00001234","vol":"203103.62100000"},{"pair":"VIBE_ETH","op[...]
