---
http_interactions:
- request:
    method: get
    uri: https://crix-api-id.upbit.com/v1/crix/candles/minutes/5?code=CRIX.UPBIT.USDT-BTC&count=288
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"07b0237c3e23acf8ea21ed7a498da56cb"'
    body:
      encoding: UTF-8
      string: '[{"code":"CRIX.UPBIT.USDT-BTC","candleDateTime":"2019-10-11T07:30:00+00:00","candleDateTimeKst":"2019-10-11T16:30:00+09:00","openingPrice":8387.17913130,"highPrice":8398.11089539,"lowPrice":8387.17913130,"tradePrice":8398.11089539,"candleAccTradeVolume":0.78596981,"candleAccTradePrice":6592.88090690,"timestamp":1570779229339,"unit":5},{"code":"CRIX.UPBIT.USDT-BTC","candleDateTime":"2019-10-11T07:25:00+00:00","candleDateTimeKst":"2019-10-11T16:25:00+09:00","openingPrice":8400.68999996,"highPrice":8400.68999996,"lowPrice":8400.68999996,"tradePrice":8400.68999996,"candleAccTradeVolume":0.01785568,"candleAccTradePrice":150.00003242,"timestamp":1570778755915,"unit":5},{"code":"CRIX.UPBIT.USDT-BTC","candleDateTime":"2019-10-11T07:20:00+00:00","candleDateTimeKst":"2019-10-11T16:20:00+09:00","openingPrice":8396.42279919,"highPrice[...]
