---
http_interactions:
- request:
    method: get
    uri: https://crix-api-sg-tv.upbit.com/v1/crix/tradingview/symbol_info?group=IDR&region=id
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"0a322f27cbae9971bf7546a38ee2ddbb7"'
    body:
      encoding: UTF-8
      string: '{"symbol":["ETHIDR","XRPIDR","BTCIDR","ICXIDR","TRXIDR","BCHIDR","NPXSIDR","BSVIDR","USDTIDR","BTGIDR","FXIDR","BTTIDR","ONTIDR","ONGIDR","KLAYIDR"],"currency":["IDR","IDR","IDR","IDR","IDR","IDR","IDR","IDR","IDR","IDR","IDR","IDR","IDR","IDR","IDR"],"ticker":["ETHIDR","XRPIDR","BTCIDR","ICXIDR","TRXIDR","BCHIDR","NPXSIDR","BSVIDR","USDTIDR","BTGIDR","FXIDR","BTTIDR","ONTIDR","ONGIDR","KLAYIDR"],"description":["ETH/IDR","XRP/IDR","BTC/IDR","ICX/IDR","TRX/IDR","BCH/IDR","NPXS/IDR","BSV/IDR","USDT/IDR","BTG/IDR","FX/IDR","BTT/IDR","ONT/IDR","ONG/IDR","KLAY/IDR"],"upbit-symbol":["CRIX.UPBIT.IDR-ETH","CRIX.UPBIT.IDR-XRP","CRIX.UPBIT.IDR-BTC","CRIX.UPBIT.IDR-ICX","CRIX.UPBIT.IDR-TRX","CRIX.UPBIT.IDR-BCH","CRIX.UPBIT.IDR-NPXS","CRIX.UPBIT.IDR-BSV","CRIX.UPBIT.IDR-USDT","CRIX.UPBIT.IDR-BTG","CRIX.UPBIT.IDR-FX","CRIX.UPBIT.IDR-BTT","CRIX.UPBIT.IDR-ONT","CRIX.UPBIT.IDR-ONG","CRIX.UPBIT.IDR-KLAY"],"base-currency":["ETH","XRP","BTC","ICX","TRX","BCH","NPXS","BSV","USDT","BTG","FX","BTT","ONT","ONG","KLAY"],"exchange-listed":"UPBIT","exchange-traded":"UPBIT","minmovement":1,"minmov2":null,"fractional":false,"pricescale":[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],"has-intraday":true,"has-no-volume":[false,false,false,false,false,false,false,false,false,false,false,false,false,false,false],"type":["crypto","crypto","crypto","crypto","crypto","crypto","crypto","crypto","crypto","crypto","crypto","crypto","crypto","crypto","crypto"],"timezone":"Etc/UTC","session-regular":"24x7","has-daily":true,"has-weekly-and-monthly":false,"intraday-multipliers":[["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"],["1","3","5","10","15","30","60","240"]],"supported-resolutions":[["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"],["1","3","5","10","15","30","60","240","1D"]]}'
  recorded_at: Thu, 24 Oct 2019 04:32:22 GMT
- request:
    method: get
    uri: https://crix-api-sg-tv.upbit.com/v1/crix/tradingview/symbol_info?group=BTC&region=id
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"0a6e4a994b9ea32df976a0382d1addfb2"'
    body:
      encoding: UTF-8
      string: '{"symbol":["ETHBTC","LTCBTC","STRATBTC","XRPBTC","ETCBTC","OMGBTC","CVCBTC","DGBBT[...]
- request:
    method: get
    uri: https://crix-api-sg-tv.upbit.com/v1/crix/tradingview/symbol_info?group=ETH&region=id
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"0f2a2bfa04a15f40ffc9c6ccc54f2f351"'
    body:
      encoding: UTF-8
      string: '{"symbol":["LTCETH","STRATETH","XRPETH","ETCETH","OMGETH","CVCETH","DGBETH","PAYET[...]
- request:
    method: get
    uri: https://crix-api-sg-tv.upbit.com/v1/crix/tradingview/symbol_info?group=USDT&region=id
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"0cfb58ba140d75d1d8f6c60a75d0d442b"'
    body:
      encoding: UTF-8
      string: '{"symbol":["BTCUSDT","ETHUSDT","LTCUSDT","XRPUSDT","ETCUSDT","OMGUSDT","XVGUSDT",[...]
