---
http_interactions:
- request:
    method: get
    uri: https://crix-api-id.upbit.com/v1/crix/candles/minutes/5?code=CRIX.UPBIT.USDT-BTC&count=288
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"0f1382fe200922810cad9ba9132da994d"'
    body:
      encoding: UTF-8
      string: '[{"code":"CRIX.UPBIT.USDT-BTC","candleDateTime":"2019-10-24T04:25:00+00:00","candleDateTimeKst":"2019-10-24T13:25:00+09:00","openingPrice":7421.99819705,"highPrice":7421.99819705,"lowPrice":7421.99819705,"tradePrice":7421.99819705,"candleAccTradeVolume":0.00572800,"candleAccTradePrice":42.51320567,"timestamp":1571891264509,"unit":5},{"code":"CRIX.UPBIT.USDT-BTC","candleDateTime":"2019-10-24T04:20:00+00:00","candleDateTimeKst":"2019-10-24T13:20:00+09:00","openingPrice":7406.37945295,"highPrice":7420.82425095,"lowPrice":7406.37945295,"tradePrice":7420.82425095,"candleAccTradeVolume":0.01649997,"candleAccTradePrice":122.28779303,"timestamp":1571891086895,"unit":5},{"code":"CRIX.UPBIT.USDT-BTC","candleDateTime":"2019-10-24T04:15:00+00:00","candleDateTimeKst":"2019-10-24T13:15:00+09:00","openingPrice":7406.37945296,"highPrice[...]
[...]
