---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketOrders/BTC_USDT/100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 9-276953491-276953497 NNNN CT(140 146 0) RT(1515226775209 97) q(0 0 2 -1)
        r(4 6) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Message":null,"Data":{"Buy":[{"TradePairId":4909,"Label":"BTC/USDT","Price":16374.97800002,"Volume":0.00813261,"Total":133.17130983},{"TradePairId":4909,"Label":"BTC/USDT","Price":16301.00000001,"Volume":0.02402297,"Total":391.59843397},{"TradePairId":4909,"Label":"BTC/USDT","Price":16301.00000000,"Volume":0.01623164,"Total":264.59196364},{"TradePairId":4909,"Label":"BTC/USDT","Price":16300.00000000,"Volume":0.07042771,"Total":1147.97167300},{"TradePairId":4909,"Label":"BTC/USDT","Price":16222.00000000,"Volume":0.00615216,"Total":99.80033952},{"TradePairId":4909,"Label":"BTC/USDT","Price":16221.47228999,"Volume"[...]
