---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarket/JET_LTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 12-38830536-38830539 NNNN CT(187 194 0) RT(1517130469827 35) q(0 0 4 1) r(7
        7) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Message":null,"Data":null,"Error":"Market JET_LTC
        not found"}'
  recorded_at: Sun, 28 Jan 2018 09:07:51 GMT
recorded_with: VCR 3.0.3
