---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarket/BTC_USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 9-189998283-189998304 NNNN CT(0 0 0) RT(1507003476037 35) q(0 0 0 7) r(2 2)
        U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Message":null,"Data":{"TradePairId":4909,"Label":"BTC/USDT","AskPrice":4413.00000000,"BidPrice":4361.00500003,"Low":4360.00000000,"High":4589.99599997,"Volume":6.84681283,"LastPrice":4413.00000000,"BuyVolume":21039684.89716009,"SellVolume":5.69614103,"Change":-0.38,"Open":4430.00089060,"Close":4413.00000000,"BaseVolume":30305.64882353,"BuyBaseVolume":48655.20693731,"SellBaseVolume":185172.23447590},"Error":null}'
  recorded_at: Tue, 03 Oct 2017 04:04:36 GMT
recorded_with: VCR 3.0.3
