---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketHistory/BTC_USDT/24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 10-380947692-380947707 NNNN CT(143 143 0) RT(1515226776373 97) q(0 0 3 -1)
        r(5 6) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":4909,"Label":"BTC/USDT","Type":"Sell","Price":16374.97800002,"Amount":0.00221185,"Total":36.21899509,"Timestamp":1515226774},{"TradePairId":4909,"Label":"BTC/USDT","Type":"Sell","Price":16374.97800001,"Amount":0.00299980,"Total":49.12165900,"Timestamp":1515226770},{"TradePairId":4909,"Label":"BTC/USDT","Type":"Buy","Price":16560.00000000,"Amount":0.00186492,"Total":30.88307520,"Timestamp":1515226642},{"TradePairId":4909,"Label":"BTC/USDT","Type":"Buy","Price":16560.00000000,"Amount":0.00168765,"Total":27.94748400,"Timestamp":1515226579},{"TradePairId":4909,"Label":"BTC/USDT","Type":"Buy","Price":16560.0000[...]
