---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetTradePairs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 8-175898274-175898286 NNNN CT(0 0 0) RT(1507003474763 28) q(0 0 0 0) r(2 2)
        U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Message":null,"Data":[{"Id":4909,"Label":"BTC/USDT","Currency":"Bitcoin","Symbol":"BTC","BaseCurrency":"Tether","BaseSymbol":"USDT","Status":"OK","StatusMessage":null,"TradeFee":0.20000000,"MinimumTrade":0.00000001,"MaximumTrade":100000000.0,"MinimumBaseTrade":0.20000000,"MaximumBaseTrade":100000000.0,"MinimumPrice":0.00000001,"MaximumPrice":100000000.0},{"Id":5082,"Label":"BTC/NZDT","Currency":"Bitcoin","Symbol":"BTC","BaseCurrency":"NZed","BaseSymbol":"NZDT","Status":"OK","StatusMessage":null,"TradeFee":0.20000000,"MinimumTrade":0.00000001,"MaximumTrade":100000000.0,"MinimumBaseTrade":0.20000000,"MaximumBaseTrade":100000000.0,"MinimumPrice":0.00000001,"MaximumPrice":100000000.0},{"Id":100,"Label":"DOT/BTC","Currency":"Dotcoin","Symbol":"DOT","BaseCurrency":"Bitcoin","BaseSymbol":"BTC","Status":"OK","StatusMessage":null,"TradeFee":[...]
