---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v4/markets/ETH-USDT/orderbook
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa-60ogtw3DRlMisNyasCkltEPZS+Y"
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","template":"","params":null,"data":{"orderbook":{"sequence":119948278,"marketId":"ETH-USDT","bids":[{"price":"112.07","amount":"27.4135"}],"asks":[{"price":"112.73","amount":"22.5384"}]}}}'
  recorded_at: Wed, 02 Jan 2019 10:25:20 GMT
recorded_with: VCR 4.0.0
