---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v4/markets/ETH-USDT/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","template":"","params":null,"data":{"count":17231,"trades":[{"id":"6e9d8cd2-62c0-40dd-a75c-e8a32f21c992","transactionId":"be3675a5-d365-40ec-be25-972789088725","transactionHash":"0x7eba5dbeb32ac21bdc47d6d6bd50d2437170a31966dd860be51a84a0e66cbc31","status":"successful","marketId":"ETH-USDT","maker":"0x30b6cbe037d68d2b2511bb7dfb6969ea98a2b874","taker":"0x024bffbedabef5e8da6b90dcdd0827d7575f7430","buyer":"0x024bffbedabef5e8da6b90dcdd0827d7575f7430","seller":"0x30b6cbe037d68d2b2511bb7dfb6969ea98a2b874","makerOrderId":"0x0fee4094fed0d229544f031c87e364c757906ef09f7edbfd926b6ed8ca000a00","takerOrderId":"0x370fe620094f07dabd7deae390455ea1781c7dd37a5d10d99c069497f03e3d7a","makerBalanceCategory":0,"makerMarginMarketId":0,"takerBalanceCategory":0,"takerMarginMarketId":0,"sequence":0,"amount":"59.4","price":"142.55","takerPrice":"142.55","feeAmount":"1.1303666096204044","bid":"142.22","ask":"142.85","rebateAmount":"0","executedAt":1586073132000,"createdAt":1586073127794,"updatedAt":1586073153233},{"id":"ba566874-5aed-4269-a23d-c5ea65b866c6","transactionId":"aac61b01-597b-44c9-b2d5-c1b44010930a","transactionHash":"0x23ebae5b57c2b4d9f1ef4cec4da7b81f3c973024271b893226504ff98b93b33d","status":"successful","marketId":"ETH-USDT","maker":"0x024bffbedabef5e8da6b90dcdd0827d7575f7430","taker":"0x30b6cbe037d68d2b2511bb7dfb6969ea98a2b874","buyer":"0x30b6cbe037d68d2b2511bb7dfb6969ea98a2b874","seller":"0x024bffbedabef5e8da6b90dcdd0827d7575f7430","makerOrderId":"0x018af084ef0cb1332d07945[...]
