---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v2/markets/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4eed-t3uI57iBzGJgce8fheepAQzDhu4"
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","data":{"tickers":[{"marketId":"ABT-ETH","pair":"ABT-ETH","price":"0.00184","volume":"100","bid":"0.00184","ask":"0.002325","low":"0","high":"0.00184","updatedAt":1524149418579},{"marketId":"AIMS-ETH","pair":"AIMS-ETH","price":"0.00099","volume":"100","bid":null,"ask":"0.00099","low":"0","high":"0.00099","updatedAt":1525215151644},{"marketId":"ALPHA-ETH","pair":"ALPHA-ETH","price":"0.0000001","volume":"313000","bid":"0.0000001","ask":"0.000002","low":"0.0000001","high":"0.0000001","updatedAt":1524855023129},{"marketId":"ATE-ETH","pair":"ATE-ETH","price":"0.000095","volume":"11314.6374","bid":"0.000095","ask":"0.000105","low":"0.000095","high":"0.0001","up[...]
