---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v4/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c6ac-upK/s7/Foz09pmPcJhjxq5N7Zs8"
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","template":"","params":null,"data":{"markets":[{"id":"WBTC-USDT","maxSlippage":"0.01","marginMarketId":2,"isMarginMarket":true,"baseAsset":"WBTC","baseAssetName":"Wrapped BTC","baseAssetDecimals":8,"baseAssetDisplayDecimals":6,"baseAssetAddress":"0x2260fac5e5542a773aa44fbcfedf7c193bc2c599","quoteAsset":"USDT","quoteAssetName":"Tether USD","quoteAssetDecimals":6,"quoteAssetDisplayDecimals":2,"quoteAssetAddress":"0xdac17f958d2ee523a2206206994597c13d831ec7","minOrderSize":"1","pricePrecision":6,"priceDecimals":2,"amountDecimals":4,"asMakerFeeRate":"0","asTakerFeeRate":"0","gasFeeAmount":"0.5651836096204044","supportedOrderTypes":["limit","market","stopLimit"],"lastPriceIncrease":"-98","lastPrice":"5080","price24h":"-0.0193050193050193","amount24h":"4.6293","quoteAssetVolume24h":"24315.720236","baseAssetUSDPrice":"5136.7617372354854341","quoteAssetUSDPrice":"1.0068","maxLeverageRate":"5","withdrawRate":"1.25","liquidationRate":"1.1"},{"id":"HBTC-USDT","maxSlippage":"0.01","marginMarketId":5,"isMarginMarket":true,"baseAsset":"HBTC","baseAssetName":"Huobi BTC","baseAssetDecimals":18,"baseAssetDisplayDecimals":6,"baseAssetAddress":"0x0316eb71485b0ab14103307bf65a021042c6d380","quoteAsset":"USDT","quoteAssetName":"Tether USD","quoteAssetDecimals":6,"quoteAssetDisplayDecimals":2,"quoteAssetAddress":"0xdac17f958d2ee523a2206206994597c13d831ec7","minOrderSize":"1","pricePrecision":6,"priceDecimals":2,"amountDecimals":4,"asMake[...]
