---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v3/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c6ac-upK/s7/Foz09pmPcJhjxq5N7Zs8"
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","data":{"markets":[{"id":"BAT-WETH","baseToken":"BAT","baseTokenProjectUrl":"https://basicattentiontoken.org/","baseTokenName":"Basic
        Attention Token","baseTokenDecimals":18,"baseTokenAddress":"0x0d8775f648430679a709e98d2b0cb6250d2887ef","quoteToken":"WETH","quoteTokenDecimals":18,"quoteTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","minOrderSize":"10.000000000000000000","pricePrecision":5,"priceDecimals":8,"amountDecimals":2,"asMakerFeeRate":"0.00100","asTakerFeeRate":"0.00300","gasFeeAmount":"0.0019","supportedOrderTypes":["limit","market"],"marketOrderMaxSlippage":"0.10000"},{"id":"WETH-DAI","baseToken":"WETH","baseTokenProjectUrl":"https://weth.io/","baseTokenName":"Wrapped
        Ether","baseTokenDecimals":18,"baseTokenAddress":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","quoteToken":"DAI","quoteTokenDecimals":18,"quoteTokenAddress":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","minOrderSize":"0.005000000000000000","pricePrecision":5,"priceDecimals":2,"amountDecimals":2,"asMakerFeeRate":"0.00100","asTakerFeeRate":"0.00300","gasFeeAmount":"0.27481900962[...]
