---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v3/markets/ABT-WETH/orderbook
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa-60ogtw3DRlMisNyasCkltEPZS+Y"
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","data":{"orderBook":{"marketId":"ABT-WETH","bids":[{"price":"0.00059162","amount":"1005"}],"asks":[{"price":"0.00060842","amount":"1012"}]}}}'
  recorded_at: Wed, 02 Jan 2019 10:25:20 GMT
recorded_with: VCR 4.0.0
