---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v4/markets/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9212-sEIEgnT+8zMwA1mkT0+n/aFG6aU"
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","template":"","params":null,"data":{"tickers":[{"marketId":"WBTC-USDT","price":"5080","volume":"8.6974","bid":"5060.16","ask":"5070.52","low":"5070.52","high":"5387.65","updateAt":1584453716194},{"marketId":"HBTC-USDT","price":"10167.2","volume":"0.0001","bid":"10119.9","ask":"10167.2","low":"10167.2","high":"10167.2","updateAt":1582104326702},{"marketId":"iETH-ETH","price":"0.95","volume":"0.0494","bid":"1","ask":"0","low":"0","high":"0.95","updateAt":1582710980972},{"marketId":"ETH-USDT","price":"112.92","volume":"1674.8761","bid":"112.37","ask":"112.89","low":"112.89","high":"119","updateAt":1584521366704},{"marketId":"ETH-SAI","price":"145.48","volume":"3.6783","bid":"145.48","ask":"149.41","low":"149.41","high":"149.35","updateAt":1575188948775},{"marketId":"ETH-DAI","price":"68.57","volume":"0.02","bid":"68.57","ask":"118.03","low":"118.03","high":"68.57","updateAt":1584469403206},{"marketId":"ETH-USDC","price":"110.53","volume":"70.7967","bid":"110.53","ask":"111.42","low":"111.42","high":"116.15","updateAt":1584526218188}]}}'
  recorded_at: Wed, 02 Jan 2019 10:03:49 GMT
recorded_with: VCR 4.0.0
