---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v3/markets/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9212-sEIEgnT+8zMwA1mkT0+n/aFG6aU"
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","data":{"tickers":[{"marketId":"0xBTC-WETH","price":"0.005","volume":"24.22652141","bid":"0.005","ask":"0.007","low":"0.005","high":"0.007","updatedAt":null},{"marketId":"ABT-WETH","price":"0.00072466","volume":"1200","bid":"0.00072907","ask":"0.00074246","low":"0.00072466","high":"0.00072907","updatedAt":null},{"marketId":"ABX-WETH","price":"0.0011762","volume":"8.70032715","bid":"0.0011762","ask":"0.00123","low":"0","high":"0.0011762","updatedAt":null},{"marketId":"ABYSS-WETH","price":"0.0001","volume":"100","bid":"0.0001","ask":"0.000125","low":"0","high":"0.0001","updatedAt":null},{"marketId":"ADI-WETH","price":"0.00002928","volume":"196769[...]
