---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v4/markets/WBTC-USDT/orderbook
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Ratelimit-Limit-Minute:
      - '30'
      X-Ratelimit-Remaining-Minute:
      - '29'
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","template":"","params":null,"data":{"orderbook":{"sequence":82903658,"marketId":"WBTC-USDT","bids":[{"price":"6684.22","amount":"0.4308"}],"asks":[{"price":"6694.77","amount":"0.2117"}]}}}'
  recorded_at: Tue, 24 Mar 2020 14:10:30 GMT
recorded_with: VCR 4.0.0
