---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v3/markets/ABT-WETH/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4c74-dXgT2EcI8vCeWiEy1ZWwENufW4Q"
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","data":{"totalPages":3,"currentPage":1,"trades":[{"id":"50c247a6-fbe4-40fb-8d87-dd0710c6f39d","marketId":"ABT-WETH","amount":"820","price":"0.00072907","status":"successful","side":"sell","executedAt":1545121848000,"createdAt":1545121814631},{"id":"81413e23-6292-425e-9cb8-d3bf6ff9d2b7","marketId":"ABT-WETH","amount":"380","price":"0.00072466","status":"successful","side":"buy","executedAt":1545121848000,"createdAt":1545121815439},{"id":"eab63328-f245-4c45-8856-2c207a4c6b7f","marketId":"ABT-WETH","amount":"346.24784418","price":"0.00076","status":"successful","side":"sell","executedAt":1544145911000,"createdAt":1544145901456},{"id":"f602f2d2-807a-478c-bef9-443083e7cc78","marketId":"ABT-WETH","amount":"716.24","price":"[...]
