---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v4/markets/ETH-USDT/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4c74-dXgT2EcI8vCeWiEy1ZWwENufW4Q"
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","template":"","params":null,"data":{"count":14581,"trades":[{"id":"59802daf-c714-43b0-b85d-2b9e3affc7bf","transactionId":"46e494ac-f956-44dd-807c-3a74f1e763b1","transactionHash":"0xd95368f02b992cde4aec43c4fa907202eb3480f836a71aa9356d31861aa1d64b","status":"successful","marketId":"ETH-USDT","maker":"0xebebc6b04e844ab5498f29b1083b11d06249ae83","taker":"0xeddef02ee9316b9ab0294b8789308e440eb3e2ef","buyer":"0xebebc6b04e844ab5498f29b1083b11d06249ae83","seller":"0xeddef02ee9316b9ab0294b8789308e440eb3e2ef","makerOrderId":"0xd5f144db343b39481e84092e5cad950f12e1ccb143fefd05c0ed50736a21ef3a","takerOrderId":"0x66635991b1219a1feb01a3a230c0edcadac5a60451386a276b2e1e56c9c0cab9","makerBalanceCategory":0,"makerMarginMarketId":0,"takerBalanceCategory":0,"takerMarginMarketId":0,"sequence":0,"amount":"1","price":"112.92","takerPrice":"112.89","feeAmount":"1.3042689341773897","bid":"112.37","ask":"112.89","rebateAmount":"0","executedAt":1584521340000,"createdAt":1584521350086,"updatedAt":1584521366701},{"id":"361a7f30-ea9f-4aa9-b7fa-3a5acd93aeb1","transactionId":"b26a40bf-3993-41c0-9496-d661378fbb6d","transactionHash":"0x1e4f1f0d0d1448f4cce8f8203f0c71677dd53239a006436f7a491c25412e3827","status":"successful","marketId":"ETH-USDT","maker":"0xff448dce2e36d5ecc4a1f4807157f0bfa6cfa156","taker":"0xeddef02ee9316b9ab0294b8789308e440eb3e2ef","buyer":"0xeddef02ee9316b9ab0294b8789308e440eb3e2ef","seller":"0xff448dce2e36d5ecc4a1f4807157f0bfa6cfa156","makerOrderId":"0x1ee63931a3272d727379be2[...]
