---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v4/markets/WBTC-USDT/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","template":"","params":null,"data":{"count":2779,"trades":[{"id":"095d909a-4f8d-4864-9e8d-478b0848e005","transactionId":"2b79811d-8aec-413d-a117-6ff693c52b34","transactionHash":"0x4c3363426ade6553c6edc58ef12d1e04cb532f42c5288be8de081becfd0e72d5","status":"successful","marketId":"WBTC-USDT","maker":"0x9e08e928172ab4a24104823cea07e9ef62f2b17f","taker":"0x88f48b7e3903a7c3cdc5aabe0556d78bc17031fa","buyer":"0x88f48b7e3903a7c3cdc5aabe0556d78bc17031fa","seller":"0x9e08e928172ab4a24104823cea07e9ef62f2b17f","makerOrderId":"0x764c9e2e3492eeede87647eb845292247130e823283eae735e0d437400542c1a","takerOrderId":"0x8360daf0e3a0831a8a12a9aac5b9e044030f0ecd043955fb775a344a23596a3d","makerBalanceCategory":0,"makerMarginMarketId":0,"takerBalanceCategory":0,"takerMarginMarketId":0,"sequence":0,"amount":"0.1675","price":"6579.9","takerPrice":"6646.12","feeAmount":"1.267162","bid":"6569.95","ask":"6579.9","rebateAmount":"0","executedAt":1585034438000,"createdAt":1585034456624,"updatedAt":1585034497882},{"id":"c3c33b2b-ef24-4ce8-9729-5f155f2d23c1","transactionId":"fed7b48e-af8b-4892-86e8-75696534eb58","transactionHash":"0x44d087878846f3fb5dada79e15bcc5659cc240114bde584ec0c4cf24d9e146ed","status":"successful","marketId":"WBTC-USDT","maker":"0x8cdae3f9b6820032b3f0fd0f810b5110638e04d1","taker":"0x9e08e928172ab4a24104823cea07e9ef62f2b17f","buyer":"0x8cdae3f9b6820032b3f0fd0f810b5110638e04d1","seller":"0x9e08e928172ab4a24104823cea07e9ef62f2b17f","makerOrderId":"0x53228845f3ddd1b87b9b72[...]
