---
http_interactions:
- request:
    method: get
    uri: https://api.ddex.io/v4/markets/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Ratelimit-Limit-Minute:
      - '600'
      X-Ratelimit-Remaining-Minute:
      - '599'
    body:
      encoding: UTF-8
      string: '{"status":0,"desc":"success","template":"","params":null,"data":{"tickers":[{"marketId":"WBTC-USDT","price":"6579.9","volume":"7.7129","bid":"6569.95","ask":"6579.9","low":"6579.9","high":"6579.9","updateAt":1585034497884},{"marketId":"HBTC-USDT","price":"10167.2","volume":"0.0001","bid":"10119.9","ask":"10167.2","low":"10167.2","high":"10167.2","updateAt":1582104326702},{"marketId":"iETH-ETH","price":"0.95","volume":"0.0494","bid":"1","ask":"0","low":"0","high":"0.95","updateAt":1582710980972},{"marketId":"ETH-USDT","price":"137.55","volume":"11083.9372","bid":"137.23","ask":"137.86","low":"137.86","high":"142.64","updateAt":1585058608274},{"marketId":"ETH-SAI","price":"145.48","volume":"3.6783","bid":"145.48","ask":"149.41","low":"149.41","high":"149.35","updateAt":1575188948775},{"marketId":"ETH-DAI","price":"130.08","volume":"0.0724","bid":"120","ask":"130.08","low":"130.08","high":"130.08","updateAt":1584986825396},{"marketId":"ETH-USDC","price":"140.53","volume":"1105.4637","bid":"139.49","ask":"140.53","low":"140.53","high":"142.84","updateAt":1585051406000}]}}'
  recorded_at: Tue, 24 Mar 2020 14:10:30 GMT
recorded_with: VCR 4.0.0
