---
http_interactions:
- request:
    method: get
    uri: https://api.c2cx.com/v1/getorderbook?symbol=BTC_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"success","data":{"timestamp":"1531999742","bids":[["0.0647","2.77"],["0.0646","37.55"],["0.0645","31.74"],["0.0644","101.49"],["0.0643","223.46"],["0.0642","16.31"],["0.0641","8.24"],["0.0640","42.31"],["0.0639","2.53"],["0.0638","6.91"],["0.0637","2.06"],["0.0636","9.53"],["0.0635","0.22"],["0.0634","1.58"],["0.0633","23.03"],["0.0632","0.55"],["0.0631","0.34"],["0.0630","2.26"],["0.0629","2.52"],["0.0628","0.07"],["0.0627","9.95"],["0.0626","5.26"],["0.0625","0.18"],["0.0624","44.81"],["0.0623","0.16"],["0.0622","0.04"],["0.0621","0.09"],["0.0620","2.66"],["0.0619","5.06"],["0.0618","0.10"],["0.0617","0.02"],["0.0616","0.04"],["0.0615","11.94"],["0.0614","0.10"],["0.0613","0.07"],["0.0612","0.27"],["0.0611","0.05"],["0.0610","32.38"],["0.0609","2.08"],["0.0600","20.00"],["0.0590","20.00"],["0.0581","20.00"],["0.0001","8.00"]],"asks":[["0.0740","6.00"],["0.0730","10.00"],["0.0705","0.16"],["0.0704","1.09"],["0.0703","4.05"],["0.0702","1.19"],["0.0701","2.43"],["0.0700","1.99"],["0.0699","1.00"],["0.0698","0.61"],["0.0697","0.88"],["0.0696","2.52"],["0.0695","0.72"],["0.0694","0.70"],["0.0693","0.38"],["0.0692","0.72"],["0.0691","3.59"],["0.0690","0.89"],["0.0689","1.37"],["0.0688","0.21"],["0.0687","0.24"],["0.0686","0.92"],["0.0685","5.03"],["0.0684","0.09"],["0.0683","0.03"],["0.0682","0.32"],["0.0681","2.06"],["0.0680","38.62"],["0.0679","0.84"],["0.0678","0.32"],["0.0677","0.45"],["0.0676","0.32"],["0.0675","0.67"],["0.0674","0.23"],["0.0673","0.09"],["0.0672","1.13"],["0.0671","6.46"],["0.0670","57.87"],["0.0669","0.26"],["0.0668","45.31"],["0.0667","54.75"],["0.0665","0.79"],["0.0664","0.72"],["0.0663","7.27"],["0.0662","72.68"],["0.0661","0.37"],["0.0659","29.90"],["0.0658","1.09"],["0.0657","7.37"],["0.0656","17.03"],["0.0655","139.53"],["0.0654","25.86"],["0.0653","556.77"],["0.0652","307.40"],["0.0651","232.80"],["0.0650","122.24"],["0.0649","9.35"]]}}'
  recorded_at: Thu, 19 Jul 2018 11:29:02 GMT
recorded_with: VCR 4.0.0
