---
http_interactions:
- request:
    method: get
    uri: https://api.c2cx.com/v1/ticker/?symbol=BTC_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"success","data":{"timestamp":"1535019981","high":0.043,"last":0.0423,"low":0.0414,"buy":0.0422,"sell":0.0424,"volume":656.09287025359}}'
  recorded_at: Thu, 23 Aug 2018 10:26:22 GMT
recorded_with: VCR 4.0.0
