---
http_interactions:
- request:
    method: get
    uri: https://api.c2cx.com/v1/ticker/?symbol=BTC_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"success","data":{"timestamp":"1531998865","high":0.0673,"last":0.0647,"low":0.0644,"buy":0.0646,"sell":0.0648,"volume":439.9537343836}}'
  recorded_at: Thu, 19 Jul 2018 11:14:25 GMT
recorded_with: VCR 4.0.0
