---
http_interactions:
- request:
    method: get
    uri: https://api.c2cx.com/v1/ExchangePolicy
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"success","data":{"SupportPairs":["BTC_BCH","BTC_DASH","BTC_ETH","BTC_FUN","BTC_SKY","BTC_TNB","BTC_UCASH","BTC_ZRX","DRG_BCH","DRG_BTC","DRG_BTG","DRG_DASH","DRG_ETC","DRG_ETH","DRG_FUN","DRG_LTC","DRG_SKY","DRG_TNB","DRG_ZEC","DRG_ZRX","USDT_BCH","USDT_BTC","USDT_BTG","USDT_DASH","USDT_DRG","USDT_ETC","USDT_ETH","USDT_FUN","USDT_LTC","USDT_SKY","USDT_TNB","USDT_UCASH","USDT_ZEC","USDT_ZRX","DRG_OMG","USDT_OMG","BTC_OMG","DRG_RCN","USDT_RCN","BTC_RCN","DRG_XRP","USDT_XRP","BTC_XRP","DRG_EOS","USDT_EOS","BTC_EOS","DRG_WAX","USDT_WAX","BTC_WAX","DRG_XLM","USDT_XLM","BTC_XLM","BTC_ETC","BTC_LTC","BTC_BTG","BTC_ZEC","BTC_TRIA","BTC_BEZ","BTC_SLRM"],"TransferFee":[{"Symbol":"BTC","PercentageWithdrawalFee":0.001,"MinWithdrawalFee":0.0005,"DepositFee":0.001,"DepositFeeRuleThreshold":0.5,"DepositComfirmation":1,"MakerTradingFee":0.001,"TakerTradingFee":0.001},{"Symbol":"ETH","PercentageWithdrawalFee":0.001,"MinWithdrawalFee":0.005,"DepositFee":0.002,"DepositFeeRuleThreshold":0.5,"DepositComfirmation":20,"MakerTradingFee":0.001,"TakerTradingFee":0.001},{"Symbol":"ETC","PercentageWithdrawalFee":0.001,"MinWithdrawalFee":0.05,"DepositFee":0,"DepositFeeRuleThreshold":0,"DepositComfirmation":20,"MakerTradingFee":0.001,"TakerTradingFee":0.001},{"Symbol":"SKY","PercentageWithdrawalFee":0,"MinWithdrawalFee":0.01,"DepositFee":0,"DepositFeeRuleThreshold"[...]
