---
http_interactions:
- request:
    method: get
    uri: https://api.c2cx.com/v1/getorderbook?symbol=BTC_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"success","data":{"timestamp":"1535020040","bids":[["0.0422","4.54"],["0.0421","69.86"],["0.0420","190.72"],["0.0419","147.46"],["0.0418","250.22"],["0.0417","3.52"],["0.0416","1.41"],["0.0415","4.02"],["0.0414","36.51"],["0.0413","0.01"],["0.0412","0.08"],["0.0411","24.83"],["0.0410","3.13"],["0.0409","12.77"],["0.0407","0.20"],["0.0406","0.15"],["0.0405","41.69"],["0.0404","4.21"],["0.0403","0.93"],["0.0402","0.04"],["0.0401","0.09"],["0.0400","0.91"],["0.0399","64.25"],["0.0398","1.79"],["0.0395","0.10"],["0.0393","0.09"],["0.0392","0.32"],["0.0391","0.04"],["0.0390","0.08"],["0.0389","20.54"],["0.0388","0.48"],["0.0387","0.81"],["0.0386","0.12"],["0.0385","0.03"],["0.0384","0.41"],["0.0382","0.01"],["0.0381","0.06"],["0.0380","0.01"],["0.0379","21.28"],["0.0378","0.11"],["0.0377","0.06"],["0.0376","0.02"],["0.0373","0.02"],["0.0372","0.49"],["0.0371","0.16"],["0.0370","0.66"],["0.0369","20.34"],["0.0367","0.11"],["0.0366","0.04"],["0.0363","0.02"],["0.0362","0.11"],["0.0360","39.50"],["0.0359","20.49"],["0.0358","0.14"]],"asks":[["0.0680","10.00"],["0.0620","10.00"],["0.0472","0.13"],["0.0471","1.79"],["0.0470","0.17"],["0.0469","0.30"],["0.0467","0.32"],["0.0466","0.44"],["0.0465","0.19"],["0.0464","0.52"],["0.0463","0.29"],["0.0461","0.34"],["0.0459","0.22"],["0.0458","0.30"],["0.0457","0.07"],["0.0456","0.24"],["0.0455","0.47"],["0.0454","0.70"],["0.0453","32.53"],["0.0452","30.40"],["0.0451","118.16"],["0.0450","32.26"],["0.0449","24.97"],["0.0448","23.52"],["0.0447","21.99"],["0.0446","20.05"],["0.0445","35.57"],["0.0444","105.13"],["0.0443","14.76"],["0.0442","13.88"],["0.0441","12.44"],["0.0440","16.35"],["0.0439","10.22"],["0.0438","151.21"],["0.0437","8.64"],["0.0436","30.10"],["0.0435","43.32"],["0.0434","13.42"],["0.0433","3.56"],["0.0432","92.39"],["0.0431","9.90"],["0.0430","32.22"],["0.0429","13.25"],["0.0428","674.73"],["0.0427","126.97"],["0.0426","897.67"],["0.0425","219.58"],["0.0424","80.43"]]}}'
  recorded_at: Thu, 23 Aug 2018 10:27:20 GMT
recorded_with: VCR 4.0.0
