---
http_interactions:
- request:
    method: get
    uri: https://freiexchange.com/api/returnTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "FRC_BTC": [
                {
                    "marketid": "1",
                    "volume24h": "16221.22446330",
                    "average24h": "0.00000091",
                    "high": "0.00000091",
                    "low": "0.00000091",
                    "last": "0.00000091",
                    "volume24h_btc": "0.01476131",
                    "percent_change_24h": "0.000000000000"
                }
            ],
            "SDR_BTC": [
                {
                    "marketid": "3",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00001000",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "ANC_BTC": [
                {
                    "marketid": "6",
                    "volume24h": "1674.99703034",
                    "average24h": "0.00008967",
                    "high": "0.00009555",
                    "low": "0.00008502",
                    "last": "0.00009001",
                    "volume24h_btc": "0.14934758",
                    "percent_change_24h": "0.377735807133"
                }
            ],
            "XWC_BTC": [
                {
                    "marketid": "7",
                    "volume24h": "5.00000000",
                    "average24h": "0.00001100",
                    "high": "0.00001100",
                    "low": "0.00001100",
                    "last": "0.00001100",
                    "volume24h_btc": "0.00005500",
                    "percent_change_24h": "0.000000000000"
                }
            ],
            "LTC_BTC": [
                {
                    "marketid": "8",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.01508666",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "SLM_BTC": [
                {
                    "marketid": "9",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000470",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "CHAN_BTC": [
                {
                    "marketid": "10",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000481",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "DOGE_BTC": [
                {
                    "marketid": "11",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000090",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "ILC_BTC": [
                {
                    "marketid": "12",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000112",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "DTC_BTC": [
                {
                    "marketid": "13",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000100",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "MRN_BTC": [
                {
                    "marketid": "14",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000001",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "TOKC_BTC": [
                {
                    "marketid": "15",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000101",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "NYC_BTC": [
                {
                    "marketid": "16",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000001",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "SUPP_BTC": [
                {
                    "marketid": "17",
                    "volume24h": "14.20301010",
                    "average24h": "0.00006433",
                    "high": "0.00009700",
                    "low": "0.00000101",
                    "last": "0.00009700",
                    "volume24h_btc": "0.00003342",
                    "percent_change_24h": "33.680412371134"
                }
            ],
            "ATB_BTC": [
                {
                    "marketid": "18",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000102",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "CDT_BTC": [
                {
                    "marketid": "19",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000011",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "QRK_BTC": [
                {
                    "marketid": "20",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000150",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "DYOR_BTC": [
                {
                    "marketid": "21",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000001",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "XCN_BTC": [
                {
                    "marketid": "22",
                    "volume24h": "28401.12365312",
                    "average24h": "0.00000011",
                    "high": "0.00000016",
                    "low": "0.00000005",
                    "last": "0.00000010",
                    "volume24h_btc": "0.00407395",
                    "percent_change_24h": "-10.000000000000"
                }
            ],
            "DIME_BTC": [
                {
                    "marketid": "23",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000001",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "HUM_BTC": [
                {
                    "marketid": "24",
                    "volume24h": "2034.00000000",
                    "average24h": "0.00000001",
                    "high": "0.00000001",
                    "low": "0.00000001",
                    "last": "0.00000001",
                    "volume24h_btc": "0.00002034",
                    "percent_change_24h": "0.000000000000"
                }
            ],
            "MANNA_BTC": [
                {
                    "marketid": "25",
                    "volume24h": "0.00000000",
                    "average24h": "0.00000000",
                    "high": "0.00000000",
                    "low": "0.00000000",
                    "last": "0.00000110",
                    "volume24h_btc": "0.00000000",
                    "percent_change_24h": null
                }
            ],
            "SKC_BTC": []
        }
  recorded_at: Thu, 19 Apr 2018 02:02:26 GMT
recorded_with: VCR 3.0.3
