---
http_interactions:
- request:
    method: get
    uri: https://api.bitci.com/api/ReturnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"CoinCode":"ZRX","CurrencyCode":"CHFT","Price":0.23084000,"Open24H":0.22834000,"High24H":0.23000000,"Low24H":0.22239000,"Change24HPercantage":1.09,"Volume24H":2880.00000000,"Timestamp":1564141388,"Ask":0.23348000,"Bid":0.22507000,"Change24HPrice":0.00250000,"CoinName":"ZeroX"},{"CoinCode":"NPXS","CurrencyCode":"CHFT","Price":0.00061257,"Open24H":0.00060121,"High24H":0.00710000,"Low24H":0.00054647,"Change24HPercantage":1.88,"Volume24H":1428000.00000000,"Timestamp":1564141387,"Ask":0.00061600,"Bid":0.00059158,"Change24HPrice":0.00001136,"CoinName":"Pundi
        X"},{"CoinCode":"BHY","CurrencyCode":"CHFT","Price":6081.50000000,"Open24H":6081.50000000,"High24H":6081.50000000,"Low24H":0.99000000,"Change24HPercantage":0.00,"Volume24H":0.00325373,"Timestamp":156409[...]
