---
http_interactions:
- request:
    method: get
    uri: https://api.bitci.com/api/trades/ETH_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Id":5343526,"Price":0.02196835,"Qty":0.10000000,"Time":1564141268},{"Id":5343454,"Price":0.02223781,"Qty":0.10000000,"Time":1564140901},{"Id":5343388,"Price":0.02175982,"Qty":0.10000000,"Time":1564140671},{"Id":5343318,"Price":0.02179725,"Qty":0.10000000,"Time":1564140302},{"Id":5343248,"Price":0.02192162,"Qty":0.10000000,"Time":1564140043},{"Id":5343178,"Price":0.02192266,"Qty":0.10000000,"Time":1564139703},{"Id":5343108,"Price":0.02193106,"Qty":0.10000000,"Time":1564139456},{"Id":5343038,"Price":0.02201555,"Qty":0.10000000,"Time":1564139102},{"Id"[...]
