---
http_interactions:
- request:
    method: get
    uri: https://www.southxchange.com/api/prices
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Market":"DASH/BTC","Bid":0.06765754,"Ask":0.0686172,"Last":0.06808682,"Variation24Hr":6.16,"Volume24Hr":2.28725542},{"Market":"LTC/BTC","Bid":0.0186,"Ask":0.01869621,"Last":0.01853022,"Variation24Hr":0.94,"Volume24Hr":91.54078687},{"Market":"ZEIT/LTC","Bid":0.00000062,"Ask":0.00000088,"Last":0.00000088,"Variation24Hr":41.94,"Volume24Hr":61000.91459972},{"Market":"DOGE/BTC","Bid":0.00000055,"Ask":0.00000056,"Last":0.00000056,"Variation24Hr":12,"Volume24Hr":1668262.04910146},{"Market":"BSD/BTC","Bid":0.00010124,"Ask":0.00010382,"Last":0.00010254,"Variation24Hr":2.18,"Volume24Hr":8.041305},{"Market":[...]
