---
http_interactions:
- request:
    method: get
    uri: https://www.southxchange.com/api/book/DOGE/BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"BuyOrders":[{"Index":0,"Amount":150670.45280504,"Price":0.00000055},{"Index":1,"Amount":286473.866391,"Price":0.00000054},{"Index":2,"Amount":153764.9018826,"Price":0.00000053},{"Index":3,"Amount":66449.55063709,"Price":0.00000052},{"Index":4,"Amount":18249.6689,"Price":0.0000005},{"Index":5,"Amount":4158.63265306,"Price":0.00000049},{"Index":6,"Amount":379.66666667,"Price":0.00000048},{"Index":7,"Amount":371.42857142,"Price":0.00000035},{"Index":8,"Amount":24910.9252381,"Price":0.00000021},{"Index":9,"Amount":28777.1,"Price":0.0000002},{"Index":10,"Amount":3933.7295,"Price":0.00000016},{"Index":11,"Amount":11950.05444608,"Price":0.00000015},{"Index":12,"Amount":35714.28571429,"Price":0.00000014},{"Index":13,"Amount":7692.30769231,"Price":0.00000013},{"Index":14,"Amount":9044.4935,"Price":0.00000012},{"Index":15,"Amount":11559.45454546,"Price":0.00000011},{"Index":16,"Amount":14285.714,"Price":0.00000008},{"Index":17,"Amount":14285.71428571,"Price":0.00000007},{"Index":18,"Amount":24033.554,"Price":0.00000006},{"Index":19,"Amount":11971.971,"Price":0.00000005},{"Index":20,"Amount":16461.46,"Price":0.00000004},{"Index":21,"Amount":24692.19,"Price":0.00000003},{"Index":22,"Amount":50000,"Price":0.00000002}],"SellOrders":[{"Index":0,"Amount":73995.40582297,"Price":0.00000056},{"Index":1,"Amount":61664.65637058,"Price":0.00000057},{"Index":2,"Amount":1432720.08233488,"Price":0.00000058},{"Index":3,"Amount":79710.6564692,"Price":0.00000059},{"Index":4,"Amount":46352.11676675,"Price":0.0000006},{"Index":5,"Amount":1634.9627424,"Price":0.00000061},{"Index":6,"Amount":19407.58963264,"Price":0.00000062},{"Index":7,"Amount":15316.02166739,"Price":0.00000063},{"Index":8,"Amount":12895.05854238,"Price":0.00000064},{"Inde[...]
