---
http_interactions:
- request:
    method: get
    uri: https://marketdata.wavesplatform.com/api/trades/VTN/WAVES/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Backend:
      - unknown
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "timestamp" : 1552500433953,
          "id" : "79d5Zed3Su1V9Ja6dosHwGq9RWFHcY1ERLB6KyCcu7rc",
          "confirmed" : true,
          "type" : "sell",
          "price" : "0.00100000",
          "amount" : "0.12501000",
          "buyer" : "3PR5WM37zYU8VHuYfMwNKGk1gUMkcW4VqDZ",
          "seller" : "3P2VYL5nJDVjPe845TJC9Fx5oJZ5G5vm9zN",
          "matcher" : "7kPFrHDiGw1rCm7LPszuECwWYL3dMf6iMifLRDJQZMzy"
        }, {
          "timestamp" : 1552182977573,
          "id" : "HBeDBmoTzYzvsRMLGcVqiXCN45QvTumiXBW5KkR3fV6e",
          "confirmed" : true,
          "type" : "buy",
          "price" : "0.00239999",
          "amount" : "0.00054584",
          "buyer" : "3PHixXjx7zKk5omdpEFuvJkSXxtMBeZdD5t",
          "seller" : "3PHixXjx7zKk5omdpEFuvJkSXxtMBeZdD5t",
          "matcher" : "7kPFrHDiGw1rCm7LPszuECwWYL3dMf6iMifLRDJQZMzy"
        }, {
         [...]
