---
http_interactions:
- request:
    method: get
    uri: https://matcher.waves.exchange/matcher/orderbook/8ofu3VpEaVCFjRqLLqzTMNs5URKUUQMrPp3k6oFmiCc6/8LQW8f7P5d5PZM7GtZEBgaqRPGSzS3DfPuiXrURJ4AJS
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Backend:
      - fr-2
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":1588142073697,"pair":{"amountAsset":"8ofu3VpEaVCFjRqLLqzTMNs5URKUUQMrPp3k6oFmiCc6","priceAsset":"8LQW8f7P5d5PZM7GtZEBgaqRPGSzS3DfPuiXrURJ4AJS"},"bids":[{"amount":1000000000000,"price":14},{"amount":5009250000000,"price":2},{"amount":50000000000000,"price":1}],"asks":[{"amount":46272675670,"price":821},{"amount":11735657664,"price":3000},{"amount":1800000000000,"price":4000},{"amount":692559999999,"price":4366},{"amount":675000000000,"price":7020},{"amount":675000000000,"price":9170}]}'
  recorded_at: Wed, 29 Apr 2020 06:34:33 GMT
recorded_with: VCR 4.0.0
