---
http_interactions:
- request:
    method: get
    uri: https://marketdata.wavesplatform.com/api/trades/VTN/WAVES/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "timestamp" : 1522168787752,
          "id" : "9h9qKGfLz8RAZhEX5PGJnH5Gkb92bKnGa2ioC4WWJLVW",
          "confirmed" : true,
          "type" : "buy",
          "price" : "0.08699898",
          "amount" : "64.00000000",
          "buyer" : "3PR1V4XxaUNk8dDwBfjKvfMxxBPqhrrNGSu",
          "seller" : "3PJg1qq2oHSffs1HxsxRDQkC9x7nZQJTaU5",
          "matcher" : "7kPFrHDiGw1rCm7LPszuECwWYL3dMf6iMifLRDJQZMzy"
        }, {
          "timestamp" : 1522168675541,
          "id" : "7Vfyy3qgXG4yYxKSpPgp9Ep6kXk7DKicBnK5yjmKQVxj",
          "confirmed" : true,
          "type" : "buy",
          "price" : "0.08699898",
          "amount" : "16.00000000",
          "buyer" : "3PK7knsF7Ec9MWzGYBiEeZog2gqwHr7kHhQ",
          "seller" : "3PJg1qq2oHSffs1HxsxRDQkC9x7nZQJTaU5",
          "matcher" : "7kPFrHDiGw1rCm7LPszuECwWYL3dMf6iMifLRDJQZMzy"
        }, {
        [...]
