---
http_interactions:
- request:
    method: get
    uri: https://maplechange.com/api/v2/tickers.do
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"7cbab07c411e8b179b3eb2b0625567d3"'
    body:
      encoding: ASCII-8BIT
      string: '{"waebtc":{"at":1538637539,"ticker":{"buy":"0.00000001","sell":"0.00000002","low":"0.00000002","high":"0.00000002","last":"0.00000002","vol":"50000.0","volbtc":"0.001","change":"1.0","name":"BTC/WAE"}},"ltcbtc":{"at":1538637539,"ticker":{"buy":"0.00880012","sell":"0.009","low":"0.0088","high":"0.012","last":"0.0088","vol":"1.40035485","volbtc":"0.0131975081414572","change":"-0.083333333333333238","name":"BTC/LTC"}},"dogebtc":{"at":1538637539,"ticker":{"buy":"0.00000084","sell":"0.00000101","low":"0.0000009","high":"0.00000101","last":"0.00000101","vol":"1586.08291635","volbtc":"0.0014445850788472","change":"0.134831460674157430879939402","name":"BTC/DOGE"}},"ethbtc":{"at":1538637539,"ticker":{"buy":"0.0327","sell":"0.039","low":"0.0313","high":"0.0421999","last":"0.0327","vol":"0.46475746","volbtc":"0.0152436201844558","change":"-0.161538247","name":"BTC/ETH"}},"spesbtc":{"at":1538637539,"ticker":{"buy":"0.00000001","sell":"0.00000008","low":"0.00000008","high":"0.00000008","last":"0.00000008","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/SPES"}},"xunbtc":{"at":1538637539,"ticker":{"buy":"0.00000005","sell":"0.00000008","low":"0.00000005","high":"0.00000005","last":"0.00000005","vol":"478.0","volbtc":"0.0000239","change":"0.25","name":"BTC/XUN"}},"xaxbtc":{"at":1538637539,"ticker":{"buy":"0.00000005","sell":"0.00001","low":"0.0","high":"0.0","last":"0.00000053","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/XAX"}},"babybtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.00000001","high":"0.00000001","last":"0.00000001","vol":"44057.0","volbtc":"0.00044057","change":"0.0","name":"BTC/BABY"}},"xgoxbtc":{"at":1538637539,"ticker":{"buy":"0.00000003","sell":"0.00000006","low":"0.00000006","high":"0.00000006","last":"0.00000006","vol":"0.0","volbtc":0,"change":"0.000000000000000166666666666666694444444444444","name":"BTC/XGOX"}},"irdbtc":{"at":1538637539,"ticker":{"buy":"0.00000036","sell":"0.00000199","low":"0.0","high":"0.0","last":"0.00000036","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/IRD"}},"waeeth":{"at":1538637539,"ticker":{"buy":"0.00000006","sell":"0.00000094","low":"0.0","high":"0.0","last":"0.000005","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/WAE"}},"speseth":{"at":1538637539,"ticker":{"buy":"0.00000002","sell":"0.00000556","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/SPES"}},"xuneth":{"at":1538637539,"ticker":{"buy":"0.00000006","sell":"0.0","low":"0.0","high":"0.0","last":"0.00000099","vol":"0.0","volbtc":0,"change":"-0.000000000000000101010101010100999897969594939","name":"ETH/XUN"}},"xgoxeth":{"at":1538637539,"ticker":{"buy":"0.00000007","sell":"0.0000054","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"ETH/XGOX"}},"irdeth":{"at":1538637539,"ticker":{"buy":"0.0000001","sell":"0.001","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"ETH/IRD"}},"dogewae":{"at":1538637539,"ticker":{"buy":"10.10000002","sell":"0.0","low":"0.0","high":"0.0","last":"20.5","vol":"0.0","volbtc":0,"change":"0.0","name":"WAE/DOGE"}},"speswae":{"at":1538637539,"ticker":{"buy":"0.01","sell":"15.025","low":"0.0","high":"0.0","last":"3.0","vol":"0.0","volbtc":0,"change":"0.0","name":"WAE/SPES"}},"xunwae":{"at":1538637539,"ticker":{"buy":"0.1","sell":"0.0","low":"0.0","high":"0.0","last":"1.0","vol":"0.0","volbtc":0,"change":"0.0","name":"WAE/XUN"}},"spesltc":{"at":1538637539,"ticker":{"buy":"0.0000002","sell":"0.00008021","low":"0.0","high":"0.0","last":"0.00009","vol":"0.0","volbtc":0,"change":"-0.000000000000000111111111111111098765432098765","name":"LTC/SPES"}},"irdltc":{"at":1538637539,"ticker":{"buy":"0.0000001","sell":"0.00079999","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"LTC/IRD"}},"gzrobtc":{"at":1538637539,"ticker":{"buy":"0.00000001","sell":"0.00000007","low":"0.0","high":"0.0","last":"0.00000007","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/GZRO"}},"gzroeth":{"at":1538637539,"ticker":{"buy":"0.00000007","sell":"0.000009","low":"0.0","high":"0.0","last":"0.000009","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/GZRO"}},"gzrowae":{"at":1538637539,"ticker":{"buy":"0.01","sell":"5.0","low":"0.0","high":"0.0","last":"5.0","vol":"0.0","volbtc":0,"change":"0.0","name":"WAE/GZRO"}},"gzroltc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"70.8317","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"LTC/GZRO"}},"mribtc":{"at":1538637539,"ticker":{"buy":"0.00001005","sell":"0.00015","low":"0.000147","high":"0.000147","last":"0.000147","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/MRI"}},"mrixgox":{"at":1538637539,"ticker":{"buy":"0.0002","sell":"0.0","low":"0.0","high":"0.0","last":"1500.0","vol":"0.0","volbtc":0,"change":"0.0","name":"XGOX/MRI"}},"xgodxgox":{"at":1538637539,"ticker":{"buy":"0.001","sell":"4.0","low":"0.0","high":"0.0","last":"0.001","vol":"0.0","volbtc":0,"change":"0.0","name":"XGOX/XGOD"}},"msrbtc":{"at":1538637539,"ticker":{"buy":"0.00002002","sell":"0.000035","low":"0.0","high":"0.0","last":"0.00002","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/MSR"}},"xaobtc":{"at":1538637539,"ticker":{"buy":"0.00000016","sell":"0.0000005","low":"0.0","high":"0.0","last":"0.00000021","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/XAO"}},"ryobtc":{"at":1538637539,"ticker":{"buy":"0.00001111","sell":"0.000075","low":"0.00001111","high":"0.00001111","last":"0.00001111","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/RYO"}},"sumobtc":{"at":1538637539,"ticker":{"buy":"0.00000005","sell":"0.0","low":"0.0","high":"0.0","last":"0.00000003","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/SUMO"}},"wowbtc":{"at":1538637539,"ticker":{"buy":"0.00000011","sell":"0.00000099","low":"0.0","high":"0.0","last":"0.000001","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/WOW"}},"egembtc":{"at":1538637539,"ticker":{"buy":"0.00000307","sell":"0.00000549","low":"0.00000276","high":"0.00000283","last":"0.00000283","vol":"10.18908126","volbtc":"0.0000288350999658","change":"0.025362319","name":"BTC/EGEM"}},"egemeth":{"at":1538637539,"ticker":{"buy":"0.00000001","sell":"0.0027","low":"0.0","high":"0.0","last":"0.00005629","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/EGEM"}},"egemwae":{"at":1538637539,"ticker":{"buy":"1.2","sell":"0.0","low":"0.0","high":"0.0","last":"99.0","vol":"0.0","volbtc":0,"change":"0.0","name":"WAE/EGEM"}},"egemltc":{"at":1538637539,"ticker":{"buy":"0.00008002","sell":"0.001","low":"0.0","high":"0.0","last":"0.00008","vol":"0.0","volbtc":0,"change":"-0.000000000000000124999999999999984375","name":"LTC/EGEM"}},"mztbtc":{"at":1538637539,"ticker":{"buy":"0.00000003","sell":"0.00000018","low":"0.0","high":"0.0","last":"0.00000003","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/MZT"}},"mztltc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.0008","low":"0.0","high":"0.0","last":"0.00915","vol":"0.0","volbtc":0,"change":"0.0","name":"LTC/MZT"}},"dnrbtc":{"at":1538637539,"ticker":{"buy":"0.00000531","sell":"0.000103","low":"0.0","high":"0.0","last":"0.000103","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/DNR"}},"xshbtc":{"at":1538637539,"ticker":{"buy":"0.00000016","sell":"0.01","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"BTC/XSH"}},"dnregem":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.0","low":"50.0","high":"50.0","last":"50.0","vol":"0.09577688","volbtc":"4.788844","change":"0.0","name":"EGEM/DNR"}},"xshegem":{"at":1538637539,"ticker":{"buy":"1.0","sell":"0.0","low":"0.0","high":"0.0","last":"2.0","vol":"0.0","volbtc":0,"change":"0.0","name":"EGEM/XSH"}},"dnrxsh":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"XSH/DNR"}},"dgbbtc":{"at":1538637539,"ticker":{"buy":"0.00000385","sell":"0.00000578","low":"0.0","high":"0.0","last":"0.0000004","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/DGB"}},"etnxbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/ETNX"}},"etnxeth":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000005","low":"0.0","high":"0.0","last":"0.00000013","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/ETNX"}},"etnxltc":{"at":1538637539,"ticker":{"buy":"0.00000003","sell":"0.00000004","low":"0.00000003","high":"0.00000003","last":"0.00000003","vol":"0.0","volbtc":0,"change":"0.0","name":"LTC/ETNX"}},"trtlbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/TRTL"}},"trtleth":{"at":1538637539,"ticker":{"buy":"0.00000012","sell":"0.00000014","low":"0.0","high":"0.0","last":"0.00000012","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/TRTL"}},"trtlwae":{"at":1538637539,"ticker":{"buy":"0.0112","sell":"0.29999999","low":"0.0","high":"0.0","last":"0.3","vol":"0.0","volbtc":0,"change":"0.0","name":"WAE/TRTL"}},"trtlltc":{"at":1538637539,"ticker":{"buy":"0.0000005","sell":"0.00000056","low":"0.0000005","high":"0.00000069","last":"0.0000005","vol":"81487.62622098","volbtc":"0.0487104655499942","change":"1.173913043","name":"LTC/TRTL"}},"vtcbtc":{"at":1538637539,"ticker":{"buy":"0.00000105","sell":"0.0","low":"0.0","high":"0.0","last":"0.00016118","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/VTC"}},"vtcegem":{"at":1538637539,"ticker":{"buy":"30.0","sell":"0.0","low":"0.0","high":"0.0","last":"30.0","vol":"0.0","volbtc":0,"change":"0.0","name":"EGEM/VTC"}},"cnmcbtc":{"at":1538637539,"ticker":{"buy":"0.00000062","sell":"0.0000268","low":"0.0","high":"0.0","last":"0.0000275","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/CNMC"}},"motabtc":{"at":1538637539,"ticker":{"buy":"0.00000002","sell":"0.0","low":"0.0","high":"0.0","last":"0.0000007","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/MOTA"}},"festbtc":{"at":1538637539,"ticker":{"buy":"0.00000013","sell":"0.00000025","low":"0.00000013","high":"0.00000013","last":"0.00000013","vol":"1499.23076922","volbtc":"0.0001948999999986","change":"-0.133333333","name":"BTC/FEST"}},"grwibtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.0002","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"BTC/GRWI"}},"ethobtc":{"at":1538637539,"ticker":{"buy":"0.000005","sell":"0.000039","low":"0.000005","high":"0.000005","last":"0.000005","vol":"66.1304599","volbtc":"0.0003306522995","change":"0.0","name":"BTC/ETHO"}},"joybtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"BTC/JOY"}},"xgodbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000005","low":"0.00000005","high":"0.00000005","last":"0.00000005","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/XGOD"}},"parsbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/PARS"}},"brbbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.0006","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"BTC/BRB"}},"skxbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.0000025","low":"0.000002","high":"0.0000025","last":"0.0000025","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/SKX"}},"pgnbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000004","low":"0.0","high":"0.0","last":"0.00000004","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/PGN"}},"xsfbtc":{"at":1538637539,"ticker":{"buy":"0.00000002","sell":"0.00000005","low":"0.00000003","high":"0.00000004","last":"0.00000003","vol":"231246.73333333","volbtc":"0.0084105359999999","change":"2.0","name":"BTC/XSF"}},"reexbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.00000001","high":"0.00000001","last":"0.00000001","vol":"200000.0","volbtc":"0.002","change":"0.0","name":"BTC/REEX"}},"unabtc":{"at":1538637539,"ticker":{"buy":"0.00000017","sell":"0.00000025","low":"0.00000017","high":"0.00000017","last":"0.00000017","vol":"2000.0","volbtc":"0.00034","change":"0.0","name":"BTC/UNA"}},"nbxbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/NBX"}},"b2bbtc":{"at":1538637539,"ticker":{"buy":"0.00000041","sell":"0.00000055","low":"0.00000041","high":"0.00000041","last":"0.00000041","vol":"175.6562629","volbtc":"0.000072019067789","change":"0.0","name":"BTC/B2B"}},"b2beth":{"at":1538637539,"ticker":{"buy":"0.00000007","sell":"0.0","low":"0.0","high":"0.0","last":"0.0000085","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/B2B"}},"b2bltc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"LTC/B2B"}},"ethoeth":{"at":1538637539,"ticker":{"buy":"0.0000001","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"ETH/ETHO"}},"xbibtc":{"at":1538637539,"ticker":{"buy":"0.00000002","sell":"0.00012","low":"0.0","high":"0.0","last":"0.000008","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/XBI"}},"ccxbtc":{"at":1538637539,"ticker":{"buy":"0.0000012","sell":"0.00000178","low":"0.0000012","high":"0.00000184","last":"0.0000012","vol":"3846.0","volbtc":"0.0047822903379902","change":"-0.347826087","name":"BTC/CCX"}},"dropbtc":{"at":1538637539,"ticker":{"buy":"0.00000003","sell":"0.00000004","low":"0.00000003","high":"0.00000004","last":"0.00000003","vol":"17441.60842856","volbtc":"0.0005868132528568","change":"0.0","name":"BTC/DROP"}},"dropeth":{"at":1538637539,"ticker":{"buy":"0.00000002","sell":"1.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"ETH/DROP"}},"dropltc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.000008","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"LTC/DROP"}},"ksnbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000002","low":"0.00000001","high":"0.00000002","last":"0.00000001","vol":"26349.0","volbtc":"0.00026349","change":"-0.5","name":"BTC/KSN"}},"ksneth":{"at":1538637539,"ticker":{"buy":"0.00000006","sell":"0.00008006","low":"0.00000005","high":"0.00000005","last":"0.00000005","vol":"212.0","volbtc":"0.0000106","change":"0.0","name":"ETH/KSN"}},"frtybtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/FRTY"}},"xmrbtc":{"at":1538637539,"ticker":{"buy":"0.0172248","sell":"0.01787","low":"0.01660001","high":"0.017","last":"0.01660001","vol":"0.18641633","volbtc":"0.0031209987240022","change":"0.000000602","name":"BTC/XMR"}},"parsxmr":{"at":1538637539,"ticker":{"buy":"0.00000001","sell":"0.00000002","low":"0.00000002","high":"0.00000002","last":"0.00000002","vol":"100228.0","volbtc":"0.00200456","change":"0.0","name":"XMR/PARS"}},"expbtc":{"at":1538637539,"ticker":{"buy":"0.00000012","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"BTC/EXP"}},"geembtc":{"at":1538637539,"ticker":{"buy":"0.00000002","sell":"0.00000021","low":"0.00000002","high":"0.00000002","last":"0.00000002","vol":"100.0","volbtc":"0.000002","change":"0.0","name":"BTC/GEEM"}},"etnbtc":{"at":1538637539,"ticker":{"buy":"0.00000108","sell":"0.00000586","low":"0.0","high":"0.0","last":"0.00000096","vol":"0.0","volbtc":0,"change":"0.000000000000000104166666666666677517361111111","name":"BTC/ETN"}},"reexltc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000889","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"LTC/REEX"}},"reexeth":{"at":1538637539,"ticker":{"buy":"0.00000018","sell":"0.00000026","low":"0.0","high":"0.0","last":"0.00000024","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/REEX"}},"ressbtc":{"at":1538637539,"ticker":{"buy":"0.00000003","sell":"0.00000005","low":"0.00000003","high":"0.00000005","last":"0.00000003","vol":"36022.73493849","volbtc":"0.0013806820481547","change":"0.0","name":"BTC/RESS"}},"ressltc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"LTC/RESS"}},"reclbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000009","low":"0.0","high":"0.0","last":"0.00000002","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/RECL"}},"reclltc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00099999","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"LTC/RECL"}},"recleth":{"at":1538637539,"ticker":{"buy":"0.0000001","sell":"0.0000089","low":"0.0000001","high":"0.0000001","last":"0.0000001","vol":"8147.24477752","volbtc":"0.000814724477752","change":"0.0","name":"ETH/RECL"}},"blurbtc":{"at":1538637539,"ticker":{"buy":"0.00000126","sell":"0.00000248","low":"0.00000125","high":"0.00000125","last":"0.00000125","vol":"22.4","volbtc":"0.000028","change":"-0.577702703","name":"BTC/BLUR"}},"polybtc":{"at":1538637539,"ticker":{"buy":"0.00000014","sell":"0.00000047","low":"0.0","high":"0.0","last":"0.0000005","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/POLY"}},"polyltc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0","volbtc":0,"change":0,"name":"LTC/POLY"}},"cfccbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000002","low":"0.0","high":"0.0","last":"0.0000099","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/CFCC"}},"mutxbtc":{"at":1538637539,"ticker":{"buy":"0.00000003","sell":"0.00000004","low":"0.00000003","high":"0.00000003","last":"0.00000003","vol":"70484.11982637","volbtc":"0.0021145235947911","change":"0.0","name":"BTC/MUTX"}},"mutxxmr":{"at":1538637539,"ticker":{"buy":"0.000001","sell":"0.0000045","low":"0.0000015","high":"0.0000015","last":"0.0000015","vol":"0.0","volbtc":0,"change":"0.0","name":"XMR/MUTX"}},"wtipbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/WTIP"}},"intubtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000011","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/INTU"}},"wtipltc":{"at":1538637539,"ticker":{"buy":"0.00000003","sell":"0.00000004","low":"0.00000003","high":"0.00000004","last":"0.00000004","vol":"67742.25","volbtc":"0.00204515","change":"0.333333333","name":"LTC/WTIP"}},"wtipeth":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/WTIP"}},"lmobtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.00000001","high":"0.00000001","last":"0.00000001","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/LMO"}},"lmoltc":{"at":1538637539,"ticker":{"buy":"0.0000004","sell":"0.00000048","low":"0.00000009","high":"0.00000058","last":"0.0000005","vol":"413421166.85307281","volbtc":"118.6591743272814769","change":"4.555555556","name":"LTC/LMO"}},"mccbtc":{"at":1538637539,"ticker":{"buy":"0.00000022","sell":"0.00000035","low":"0.00000035","high":"0.00000035","last":"0.00000035","vol":"90.77036048","volbtc":"0.000031769626168","change":"0.0","name":"BTC/MCC"}},"tychbtc":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0","volbtc":0,"change":"0.0","name":"BTC/TYCH"}},"tycheth":{"at":1538637539,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000011","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/TYCH"}},"mutxeth":{"at":1538637539,"ticker":{"buy":"0.00000009","sell":"0.00002","low":"0.000014","high":"0.000014","last":"0.000014","vol":"0.0","volbtc":0,"change":"0.0","name":"ETH/MUTX"}},"ccxxmr":{"at":1538637539,"ticker":{"buy":"0.000055","sell":"0.0001023","low":"0.000083","high":"0.0001023","last":"0.0001023","vol":"0.0","volbtc":0,"change":"0.0","name":"XMR/CCX"}}}'
  recorded_at: Thu, 04 Oct 2018 07:19:00 GMT
recorded_with: VCR 4.0.0
