---
http_interactions:
- request:
    method: get
    uri: https://maplechange.com/api/v2/order_book.json?market=ltcbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"620e0f296d08abd8312429e6089cb976"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":30974,"side":"sell","ord_type":"limit","price":"0.015","avg_price":"0.015","state":"wait","market":"ltcbtc","created_at":"2018-07-14T02:10:27+08:00","volume":"1.19637","remaining_volume":"1.15804797","executed_volume":"0.03832203","trades_count":2},{"id":32549,"side":"sell","ord_type":"limit","price":"0.015","avg_price":"0.0","state":"wait","market":"ltcbtc","created_at":"2018-07-20T01:06:06+08:00","volume":"0.00862836","remaining_volume":"0.00862836","executed_volume":"0.0","trades_count":0},{"id":1607,"side":"sell","ord_type":"limit","price":"0.0155","avg_price":"0.0155","state":"wait","market":"ltcbtc","created_at":"2018-06-18T21:38:56+08:00","volume":"0.1500658","remaining_volume":"0.05581108","executed_volume":"0.09425472","trades_count":6}],"bids":[]}'
  recorded_at: Fri, 20 Jul 2018 17:23:36 GMT
recorded_with: VCR 4.0.0
