---
http_interactions:
- request:
    method: get
    uri: https://mercatox.com/api/public/v1/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"BTC_PRUSD":{"base_id":"4","quote_id":"1","last_price":"8932.70000000","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"88864.70000000","highestBid":"1.26000000"},"BTC_PerfectmoneyUSD":{"base_id":"4","quote_id":"2","last_price":"8500.74240000","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"18800.00000000","highestBid":"9000.00000000"},"BTC_okpayusd":{"base_id":"4","quote_id":"3","last_price":"19999.00000000","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"14000.00000000","highestBid":null},"ETH_BTC":{"base_id":"7","quote_id":"4","last_price":"0.01975242","base_volume":"17504.24120000","quote_volume":"345.93860000","isFrozen":"0","low24hr":"0.01953010","high24hr":"0.01999618","percentChange":"0.00000000","lowestAsk":"0.01977000","highestBid":"0.01969683"},"LTC_BTC":{"base_id":"8","quote_id":"4","last_price":"0.00595449","base_volume":"28148.13320000","quote_volume":"166.91000000","isFrozen":"0","low24hr":"0.00585501","high24hr":"0.00599999","percentChange":"0.00000000","lowestAsk":"0.00597765","highestBid":"0.00587500"},"BTC_PRRUB":{"base_id":"4","quote_id":"10","last_price":"439996.00000000","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"3191978.00000000","highestBid":"71702.20000000"},"BTC_PerfectmoneyEUR":{"base_id":"4","quote_id":"11","last_price":"0.00000000","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"22000.00000000","highestBid":"7000.00000000"},"ETH_LTC":{"base_id":"7","quote_id":"8","last_price":"3.29661766","base_volume":"700.66440000","quote_volume":"2272.97420000","isFrozen":"0","low24hr":"3.17103379","high24hr":"3.34900000","percentChange":"-1.04030000","lowestAsk":"3.32800000","highestBid":"3.17000000"},"DOGE_PerfectmoneyUSD":{"base_id":"13","quote_id":"2","last_price":"0.00600000","base_volume":"992.70260000","quote_volume":"0.02050000","isFrozen":"0","low24hr":"0.00001036","high24hr":"0.00600000","percentChange":"57815.05790000","lowestAsk":"0.00600000","highestBid":null},"DOGE_BTC":{"base_id":"13","quote_id":"4","last_price":"0.00000028","base_volume":"180614.70530000","quote_volume":"0.05100000","isFrozen":"0","low24hr":"0.00000027","high24hr":"0.00000029","percentChange":"0.00000000","lowestAsk":"0.00000029","highestBid":"0.00000028"},"DASH_BTC":{"base_id":"14","quote_id":"4","last_price":"0.00785761","base_volume":"2180.03010000","quote_volume":"17.24020000","isFrozen":"0","low24hr":"0.00759317","high24hr":"0.00842999","percentChange":"0.00000000","lowestAsk":"0.00842999","highestBid":"0.00760011"},"merca_BTC":{"base_id":"12","quote_id":"4","last_price":"0.00107999","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00107800","highestBid":"0.00070010"},"XMR_BTC":{"base_id":"16","quote_id":"4","last_price":"0.50395733","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.77436099","highestBid":"0.50395733"},"CLOAK_BTC":{"base_id":"22","quote_id":"4","last_price":"0.00012942","base_volume":"3239.92800000","quote_volume":"0.55400000","isFrozen":"0","low24hr":"0.00012942","high24hr":"0.00024313","percentChange":"-40.07880000","lowestAsk":"0.00025000","highestBid":"0.00012000"},"ZEC_BTC":{"base_id":"24","quote_id":"4","last_price":"0.03600001","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.16099998","highestBid":"0.03600001"},"GNT_BTC":{"base_id":"21","quote_id":"4","last_price":"0.00000507","base_volume":"376320.36790000","quote_volume":"1.90760000","isFrozen":"0","low24hr":"0.00000443","high24hr":"0.00000555","percentChange":"-9.46750000","lowestAsk":"0.00000531","highestBid":"0.00000460"},"REP_BTC":{"base_id":"31","quote_id":"4","last_price":"0.00112666","base_volume":"1228.48140000","quote_volume":"1.24110000","isFrozen":"0","low24hr":"0.00089111","high24hr":"0.00112666","percentChange":"10.80450000","lowestAsk":"0.00115000","highestBid":"0.00098208"},"TIME_BTC":{"base_id":"33","quote_id":"4","last_price":"0.00020714","base_volume":"9109.74770000","quote_volume":"1.80130000","isFrozen":"0","low24hr":"0.00015900","high24hr":"0.00022189","percentChange":"11.01940000","lowestAsk":"0.00022220","highestBid":"0.00020000"},"XRB_BTC":{"base_id":"34","quote_id":"4","last_price":"0.00009133","base_volume":"713882.01690000","quote_volume":"65.48350000","isFrozen":"0","low24hr":"0.00009010","high24hr":"0.00009299","percentChange":"-1.16060000","lowestAsk":"0.00009299","highestBid":"0.00009010"},"XRB_DOGE":{"base_id":"34","quote_id":"13","last_price":"340.37081382","base_volume":"4068.20030000","quote_volume":"1351846.71750000","isFrozen":"0","low24hr":"326.02658465","high24hr":"341.42000000","percentChange":"1.34340000","lowestAsk":"340.00000000","highestBid":"327.05000000"},"GNO_BTC":{"base_id":"36","quote_id":"4","last_price":"0.00030020","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00248000","highestBid":"0.00030020"},"BAT_BTC":{"base_id":"37","quote_id":"4","last_price":"0.00002553","base_volume":"102133.98710000","quote_volume":"2.55890000","isFrozen":"0","low24hr":"0.00002352","high24hr":"0.00002561","percentChange":"3.23490000","lowestAsk":"0.00002564","highestBid":"0.00002520"},"EOS_BTC":{"base_id":"41","quote_id":"4","last_price":"0.00035200","base_volume":"77306.56690000","quote_volume":"27.17000000","isFrozen":"0","low24hr":"0.00034932","high24hr":"0.00035367","percentChange":"0.00000000","lowestAsk":"0.00035300","highestBid":"0.00034932"},"EOS_ETH":{"base_id":"41","quote_id":"7","last_price":"0.01788836","base_volume":"72490.40400000","quote_volume":"1298.62470000","isFrozen":"0","low24hr":"0.01750195","high24hr":"0.01899538","percentChange":"1.05100000","lowestAsk":"0.01790000","highestBid":"0.01760003"},"PLBT_BTC":{"base_id":"42","quote_id":"4","last_price":"0.00006700","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00012000","highestBid":"0.00006500"},"PLBT_ETH":{"base_id":"42","quote_id":"7","last_price":"0.00325002","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00600000","highestBid":"0.00032536"},"VERI_BTC":{"base_id":"43","quote_id":"4","last_price":"0.00181509","base_volume":"691.15120000","quote_volume":"1.34290000","isFrozen":"0","low24hr":"0.00181254","high24hr":"0.00209999","percentChange":"-9.41610000","lowestAsk":"0.00209998","highestBid":"0.00181555"},"VERI_ETH":{"base_id":"43","quote_id":"7","last_price":"0.09510121","base_volume":"331.27960000","quote_volume":"32.07940000","isFrozen":"0","low24hr":"0.09401101","high24hr":"0.10000000","percentChange":"-4.69880000","lowestAsk":"0.09999989","highestBid":"0.09510121"},"CVC_BTC":{"base_id":"46","quote_id":"4","last_price":"0.00000444","base_volume":"1117633.19300000","quote_volume":"4.93080000","isFrozen":"0","low24hr":"0.00000400","high24hr":"0.00000476","percentChange":"-3.37840000","lowestAsk":"0.00000470","highestBid":"0.00000402"},"CVC_ETH":{"base_id":"46","quote_id":"7","last_price":"0.00022741","base_volume":"99607.35010000","quote_volume":"20.41850000","isFrozen":"0","low24hr":"0.00015779","high24hr":"0.00025421","percentChange":"0.00000000","lowestAsk":"0.00023000","highestBid":"0.00016512"},"SKIN_BTC":{"base_id":"48","quote_id":"4","last_price":"0.00000005","base_volume":"684558.80000000","quote_volume":"0.03420000","isFrozen":"0","low24hr":"0.00000005","high24hr":"0.00000005","percentChange":"0.00000000","lowestAsk":"0.00000006","highestBid":"0.00000004"},"SKIN_ETH":{"base_id":"48","quote_id":"7","last_price":"0.00000250","base_volume":"6388574.49480000","quote_volume":"18.06910000","isFrozen":"0","low24hr":"0.00000227","high24hr":"0.00000340","percentChange":"-8.80000000","lowestAsk":"0.00000320","highestBid":"0.00000240"},"PPT_BTC":{"base_id":"47","quote_id":"4","last_price":"0.00006354","base_volume":"93457.53050000","quote_volume":"5.70000000","isFrozen":"0","low24hr":"0.00005526","high24hr":"0.00006844","percentChange":"4.06160000","lowestAsk":"0.00006499","highestBid":"0.00005502"},"PPT_ETH":{"base_id":"47","quote_id":"7","last_price":"0.00287848","base_volume":"156045.99880000","quote_volume":"444.90730000","isFrozen":"0","low24hr":"0.00280200","high24hr":"0.00291000","percentChange":"0.00000000","lowestAsk":"0.00288721","highestBid":"0.00280081"},"CDT_BTC":{"base_id":"50","quote_id":"4","last_price":"0.00000165","base_volume":"865297.99380000","quote_volume":"1.35210000","isFrozen":"0","low24hr":"0.00000139","high24hr":"0.00000173","percentChange":"0.00000000","lowestAsk":"0.00000174","highestBid":"0.00000138"},"CDT_ETH":{"base_id":"50","quote_id":"7","last_price":"0.00007827","base_volume":"628264.89940000","quote_volume":"42.35340000","isFrozen":"0","low24hr":"0.00006061","high24hr":"0.00007827","percentChange":"29.13710000","lowestAsk":"0.00008000","highestBid":"0.00005989"},"DNT_BTC":{"base_id":"51","quote_id":"4","last_price":"0.00000072","base_volume":"1019181.05530000","quote_volume":"0.70580000","isFrozen":"0","low24hr":"0.00000058","high24hr":"0.00000085","percentChange":"24.13790000","lowestAsk":"0.00000086","highestBid":"0.00000057"},"DNT_ETH":{"base_id":"51","quote_id":"7","last_price":"0.00003756","base_volume":"1806358.88280000","quote_volume":"63.20760000","isFrozen":"0","low24hr":"0.00003262","high24hr":"0.00003806","percentChange":"5.86250000","lowestAsk":"0.00003897","highestBid":"0.00003218"},"ZRX_BTC":{"base_id":"52","quote_id":"4","last_price":"0.00003055","base_volume":"567760.80230000","quote_volume":"17.20910000","isFrozen":"0","low24hr":"0.00002860","high24hr":"0.00003241","percentChange":"2.48240000","lowestAsk":"0.00003194","highestBid":"0.00002950"},"ZRX_ETH":{"base_id":"52","quote_id":"7","last_price":"0.00167258","base_volume":"88113.45780000","quote_volume":"144.42000000","isFrozen":"0","low24hr":"0.00158003","high24hr":"0.00167258","percentChange":"2.09550000","lowestAsk":"0.00167267","highestBid":"0.00158002"},"_BTC":{"base_id":"","quote_id":"4","last_price":"0.00005900","base_volume":"64.14000000","quote_volume":"0.00380000","isFrozen":"0","low24hr":"0.00004900","high24hr":"0.00006048","percentChange":"-1.67800000","lowestAsk":"0.00005900","highestBid":"0.00004903"},"DCN_BTC":{"base_id":"53","quote_id":"4","last_price":"0.00000001","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000001","highestBid":null},"DCN_ETH":{"base_id":"53","quote_id":"7","last_price":"0.00000014","base_volume":"8774861.93750000","quote_volume":"1.10700000","isFrozen":"0","low24hr":"0.00000012","high24hr":"0.00000016","percentChange":"-7.14290000","lowestAsk":"0.00000016","highestBid":"0.00000014"},"OMG_BTC":{"base_id":"54","quote_id":"4","last_price":"0.00032369","base_volume":"29706.68180000","quote_volume":"8.99250000","isFrozen":"0","low24hr":"0.00027412","high24hr":"0.00033216","percentChange":"5.58090000","lowestAsk":"0.00033300","highestBid":"0.00028121"},"OMG_ETH":{"base_id":"54","quote_id":"7","last_price":"0.01300003","base_volume":"22406.77710000","quote_volume":"295.55000000","isFrozen":"0","low24hr":"0.01292827","high24hr":"0.01348345","percentChange":"0.00000000","lowestAsk":"0.01350001","highestBid":"0.01292100"},"MTH_BTC":{"base_id":"55","quote_id":"4","last_price":"0.00000152","base_volume":"1193381.73600000","quote_volume":"1.90540000","isFrozen":"0","low24hr":"0.00000147","high24hr":"0.00000169","percentChange":"-1.31580000","lowestAsk":"0.00000170","highestBid":"0.00000146"},"MTH_ETH":{"base_id":"55","quote_id":"7","last_price":"0.00008162","base_volume":"270964.85150000","quote_volume":"23.53330000","isFrozen":"0","low24hr":"0.00007856","high24hr":"0.00009465","percentChange":"-8.55180000","lowestAsk":"0.00009770","highestBid":"0.00007600"},"AE_BTC":{"base_id":"56","quote_id":"4","last_price":"0.00003117","base_volume":"37538.07030000","quote_volume":"1.40580000","isFrozen":"0","low24hr":"0.00003117","high24hr":"0.00004480","percentChange":"-39.52520000","lowestAsk":"0.00004494","highestBid":"0.00003101"},"AE_ETH":{"base_id":"56","quote_id":"7","last_price":"0.00221784","base_volume":"19869.00900000","quote_volume":"45.00130000","isFrozen":"0","low24hr":"0.00216628","high24hr":"0.00232615","percentChange":"0.00000000","lowestAsk":"0.00233349","highestBid":"0.00214020"},"AVT_BTC":{"base_id":"57","quote_id":"4","last_price":"0.00001487","base_volume":"41157.95430000","quote_volume":"0.57370000","isFrozen":"0","low24hr":"0.00001206","high24hr":"0.00001544","percentChange":"0.00000000","lowestAsk":"0.00001622","highestBid":"0.00001131"},"AVT_ETH":{"base_id":"57","quote_id":"7","last_price":"0.00079328","base_volume":"96614.05130000","quote_volume":"65.31820000","isFrozen":"0","low24hr":"0.00053688","high24hr":"0.00079328","percentChange":"27.94840000","lowestAsk":"0.00079880","highestBid":"0.00055000"},"KIN_ETH":{"base_id":"59","quote_id":"7","last_price":"0.00000003","base_volume":"298126278.94800000","quote_volume":"9.08130000","isFrozen":"0","low24hr":"0.00000003","high24hr":"0.00000004","percentChange":"0.00000000","lowestAsk":"0.00000004","highestBid":"0.00000003"},"ADST_ETH":{"base_id":"60","quote_id":"7","last_price":"0.00025001","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"1","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00075000","highestBid":"0.00000244"},"DALC_ETH":{"base_id":"63","quote_id":"7","last_price":"0.00004000","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00008000","highestBid":"0.00006000"},"ADST_BTC":{"base_id":"60","quote_id":"4","last_price":"0.00001400","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"1","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00001400","highestBid":"0.00000600"},"DALC_BTC":{"base_id":"63","quote_id":"4","last_price":"0.00000049","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000247","highestBid":"0.00000019"},"MANA_BTC":{"base_id":"61","quote_id":"4","last_price":"0.00000343","base_volume":"354903.11830000","quote_volume":"1.23760000","isFrozen":"0","low24hr":"0.00000325","high24hr":"0.00000372","percentChange":"-3.79010000","lowestAsk":"0.00000370","highestBid":"0.00000325"},"MANA_ETH":{"base_id":"61","quote_id":"7","last_price":"0.00019691","base_volume":"54266.05420000","quote_volume":"9.97330000","isFrozen":"0","low24hr":"0.00015306","high24hr":"0.00020016","percentChange":"10.51800000","lowestAsk":"0.00020300","highestBid":"0.00015301"},"LINK_BTC":{"base_id":"62","quote_id":"4","last_price":"0.00029981","base_volume":"50944.38370000","quote_volume":"14.72200000","isFrozen":"0","low24hr":"0.00027614","high24hr":"0.00030402","percentChange":"3.78720000","lowestAsk":"0.00030434","highestBid":"0.00027618"},"LINK_ETH":{"base_id":"62","quote_id":"7","last_price":"0.01470734","base_volume":"30282.92220000","quote_volume":"448.04500000","isFrozen":"0","low24hr":"0.01452755","high24hr":"0.01502671","percentChange":"-1.88440000","lowestAsk":"0.01504360","highestBid":"0.01452707"},"LNK_BTC":{"base_id":"64","quote_id":"4","last_price":"0.00015000","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00149988","highestBid":"0.00000103"},"KNC_ETH":{"base_id":"67","quote_id":"7","last_price":"0.00103272","base_volume":"24838.72990000","quote_volume":"26.53900000","isFrozen":"0","low24hr":"0.00098362","high24hr":"0.00114448","percentChange":"-9.70640000","lowestAsk":"0.00115846","highestBid":"0.00097651"},"KNC_BTC":{"base_id":"67","quote_id":"4","last_price":"0.00002048","base_volume":"47681.77210000","quote_volume":"1.05370000","isFrozen":"0","low24hr":"0.00002038","high24hr":"0.00002451","percentChange":"-1.61130000","lowestAsk":"0.00002400","highestBid":"0.00001912"},"KIN_BTC":{"base_id":"59","quote_id":"4","last_price":"0.00000001","base_volume":"2000.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000001","high24hr":"0.00000001","percentChange":"0.00000000","lowestAsk":"0.00000001","highestBid":null},"VOISE_BTC":{"base_id":"44","quote_id":"4","last_price":"0.00000001","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000002","highestBid":"0.00000001"},"DLT_BTC":{"base_id":"68","quote_id":"4","last_price":"0.00000513","base_volume":"90844.31330000","quote_volume":"0.43280000","isFrozen":"0","low24hr":"0.00000436","high24hr":"0.00000517","percentChange":"5.99170000","lowestAsk":"0.00000530","highestBid":"0.00000410"},"TRX_BTC":{"base_id":"69","quote_id":"4","last_price":"0.00000211","base_volume":"9078363.01130000","quote_volume":"19.40810000","isFrozen":"0","low24hr":"0.00000206","high24hr":"0.00000222","percentChange":"0.00000000","lowestAsk":"0.00000217","highestBid":"0.00000206"},"TRX_ETH":{"base_id":"69","quote_id":"7","last_price":"0.00010413","base_volume":"34512731.37200000","quote_volume":"3764.06130000","isFrozen":"0","low24hr":"0.00010413","high24hr":"0.00011319","percentChange":"-3.00590000","lowestAsk":"0.00010500","highestBid":"0.00010407"},"DRP_BTC":{"base_id":"66","quote_id":"4","last_price":"0.00002341","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00005000","highestBid":"0.00001325"},"NUA_BTC":{"base_id":"70","quote_id":"4","last_price":"0.00000001","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000002","highestBid":"0.00000001"},"SCL_BTC":{"base_id":"71","quote_id":"4","last_price":"0.00000040","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000448","highestBid":"0.00000020"},"WHL_BTC":{"base_id":"72","quote_id":"4","last_price":"0.00000019","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"1","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000070","highestBid":"0.00000016"},"UNIFY_BTC":{"base_id":"74","quote_id":"4","last_price":"0.00000071","base_volume":"274177.79130000","quote_volume":"0.19560000","isFrozen":"0","low24hr":"0.00000067","high24hr":"0.00000073","percentChange":"1.42860000","lowestAsk":"0.00000080","highestBid":"0.00000063"},"KICK_BTC":{"base_id":"75","quote_id":"4","last_price":"0.00000003","base_volume":"2047893.31800000","quote_volume":"0.06970000","isFrozen":"0","low24hr":"0.00000003","high24hr":"0.00000005","percentChange":"0.00000000","lowestAsk":"0.00000005","highestBid":"0.00000002"},"R_BTC":{"base_id":"76","quote_id":"4","last_price":"0.00000580","base_volume":"179623.20540000","quote_volume":"1.02260000","isFrozen":"0","low24hr":"0.00000523","high24hr":"0.00000600","percentChange":"8.00740000","lowestAsk":"0.00000600","highestBid":"0.00000568"},"FNL_BTC":{"base_id":"77","quote_id":"4","last_price":"0.00000003","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000003","highestBid":"0.00000001"},"CCRB_BTC":{"base_id":"79","quote_id":"4","last_price":"0.00000052","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"1","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000698","highestBid":"0.00000030"},"EVX_BTC":{"base_id":"80","quote_id":"4","last_price":"0.00003925","base_volume":"1270.58660000","quote_volume":"0.05520000","isFrozen":"0","low24hr":"0.00003820","high24hr":"0.00004577","percentChange":"2.74870000","lowestAsk":"0.00004580","highestBid":"0.00003581"},"BET_BTC":{"base_id":"84","quote_id":"4","last_price":"0.00015000","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00498888","highestBid":"0.00007500"},"ETS_BTC":{"base_id":"85","quote_id":"4","last_price":"0.00000020","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000073","highestBid":"0.00000011"},"ENG_BTC":{"base_id":"87","quote_id":"4","last_price":"0.00003006","base_volume":"49112.89230000","quote_volume":"1.51140000","isFrozen":"0","low24hr":"0.00002693","high24hr":"0.00003481","percentChange":"-15.50230000","lowestAsk":"0.00003489","highestBid":"0.00002685"},"ENG_ETH":{"base_id":"87","quote_id":"7","last_price":"0.00175205","base_volume":"29775.92830000","quote_volume":"50.04630000","isFrozen":"0","low24hr":"0.00137561","high24hr":"0.00191041","percentChange":"-4.09460000","lowestAsk":"0.00191191","highestBid":"0.00146201"},"REQ_ETH":{"base_id":"90","quote_id":"7","last_price":"0.00007386","base_volume":"786693.00210000","quote_volume":"59.25770000","isFrozen":"0","low24hr":"0.00007301","high24hr":"0.00007844","percentChange":"0.00000000","lowestAsk":"0.00007800","highestBid":"0.00007250"},"COB_BTC":{"base_id":"97","quote_id":"4","last_price":"0.00000006","base_volume":"12822166.28570000","quote_volume":"0.76960000","isFrozen":"0","low24hr":"0.00000006","high24hr":"0.00000007","percentChange":"0.00000000","lowestAsk":"0.00000007","highestBid":"0.00000005"},"DATA_ETH":{"base_id":"98","quote_id":"7","last_price":"0.00006718","base_volume":"822010.41380000","quote_volume":"54.02790000","isFrozen":"0","low24hr":"0.00006057","high24hr":"0.00006990","percentChange":"1.37320000","lowestAsk":"0.00006999","highestBid":"0.00006025"},"ATL_ETH":{"base_id":"100","quote_id":"7","last_price":"0.00013531","base_volume":"3688.39170000","quote_volume":"0.53700000","isFrozen":"0","low24hr":"0.00011683","high24hr":"0.00017870","percentChange":"-22.40780000","lowestAsk":"0.00019750","highestBid":"0.00011000"},"EBTC2_ETH":{"base_id":"99","quote_id":"7","last_price":"0.00010050","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00020000","highestBid":"0.00010050"},"AMZ_BTC":{"base_id":"102","quote_id":"4","last_price":"0.00000001","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000001","highestBid":null},"THS_BTC":{"base_id":"104","quote_id":"4","last_price":"0.00007700","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":null,"highestBid":"0.00007700"},"STEEP_BTC":{"base_id":"105","quote_id":"4","last_price":"0.00000003","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000003","highestBid":"0.00000002"},"PDCT_BTC":{"base_id":"107","quote_id":"4","last_price":"0.00000001","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000002","highestBid":"0.00000001"},"ELTCOIN_BTC":{"base_id":"108","quote_id":"4","last_price":"0.00000004","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000004","highestBid":"0.00000003"},"INXT_BTC":{"base_id":"109","quote_id":"4","last_price":"0.00008633","base_volume":"65196.06520000","quote_volume":"5.66890000","isFrozen":"0","low24hr":"0.00008045","high24hr":"0.00010289","percentChange":"1.79220000","lowestAsk":"0.00010290","highestBid":"0.00008021"},"PHXe_BTC":{"base_id":"111","quote_id":"4","last_price":"0.00000001","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000001","highestBid":null},"ELTCOIN_ETH":{"base_id":"108","quote_id":"7","last_price":"0.00000156","base_volume":"5034392.91210000","quote_volume":"7.58460000","isFrozen":"0","low24hr":"0.00000105","high24hr":"0.00000172","percentChange":"1.29870000","lowestAsk":"0.00000180","highestBid":"0.00000098"},"LITKOIN_BTC":{"base_id":"112","quote_id":"4","last_price":"0.00000001","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000001","highestBid":null},"ERO_BTC":{"base_id":"115","quote_id":"4","last_price":"0.00000014","base_volume":"391194.15370000","quote_volume":"0.07120000","isFrozen":"0","low24hr":"0.00000014","high24hr":"0.00000022","percentChange":"-57.14290000","lowestAsk":"0.00000024","highestBid":"0.00000013"},"NIO_BTC":{"base_id":"116","quote_id":"4","last_price":"0.00000017","base_volume":"100.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000017","high24hr":"0.00000017","percentChange":"0.00000000","lowestAsk":"0.00000017","highestBid":"0.00000015"},"DSR_BTC":{"base_id":"114","quote_id":"4","last_price":"0.00000015","base_volume":"11684894.33490000","quote_volume":"1.63030000","isFrozen":"0","low24hr":"0.00000013","high24hr":"0.00000016","percentChange":"7.14290000","lowestAsk":"0.00000017","highestBid":"0.00000013"},"ARN_BTC":{"base_id":"118","quote_id":"4","last_price":"0.00002108","base_volume":"68786.42480000","quote_volume":"1.46450000","isFrozen":"0","low24hr":"0.00002010","high24hr":"0.00002193","percentChange":"4.87560000","lowestAsk":"0.00002199","highestBid":"0.00002011"},"ARN_ETH":{"base_id":"118","quote_id":"7","last_price":"0.00067003","base_volume":"0.51070000","quote_volume":"0.00030000","isFrozen":"0","low24hr":"0.00067003","high24hr":"0.00067003","percentChange":"0.00000000","lowestAsk":"0.00155000","highestBid":"0.00067003"},"INXT_ETH":{"base_id":"109","quote_id":"7","last_price":"0.00520000","base_volume":"0.22000000","quote_volume":"0.00110000","isFrozen":"0","low24hr":"0.00520000","high24hr":"0.00520000","percentChange":"0.00000000","lowestAsk":"0.00599999","highestBid":"0.00220003"},"PRIX_BTC":{"base_id":"121","quote_id":"4","last_price":"0.00004252","base_volume":"4383.98600000","quote_volume":"0.17270000","isFrozen":"0","low24hr":"0.00003658","high24hr":"0.00004252","percentChange":"16.23840000","lowestAsk":"0.00004380","highestBid":"0.00003601"},"GOAL_BTC":{"base_id":"122","quote_id":"4","last_price":"0.00000001","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000002","highestBid":null},"iETH_BTC":{"base_id":"124","quote_id":"4","last_price":"0.00000395","base_volume":"263.94280000","quote_volume":"0.00110000","isFrozen":"0","low24hr":"0.00000395","high24hr":"0.00000400","percentChange":"-1.01270000","lowestAsk":"0.00000410","highestBid":"0.00000394"},"AMM_BTC":{"base_id":"110","quote_id":"4","last_price":"0.00000044","base_volume":"1042155.08130000","quote_volume":"0.46190000","isFrozen":"0","low24hr":"0.00000041","high24hr":"0.00000050","percentChange":"-13.63640000","lowestAsk":"0.00000051","highestBid":"0.00000040"},"AMM_ETH":{"base_id":"110","quote_id":"7","last_price":"0.00002261","base_volume":"2008678.28160000","quote_volume":"43.99480000","isFrozen":"0","low24hr":"0.00001879","high24hr":"0.00002582","percentChange":"10.45430000","lowestAsk":"0.00002585","highestBid":"0.00002000"},"SND_BTC":{"base_id":"125","quote_id":"4","last_price":"0.00000055","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00000490","highestBid":"0.00000022"},"SND_ETH":{"base_id":"125","quote_id":"7","last_price":"0.00002002","base_volume":"0.00000000","quote_volume":"0.00000000","isFrozen":"0","low24hr":"0.00000000","high24hr":"0.00000000","percentChange":"0.00000000","lowestAsk":"0.00003000","highestBid":"0.00000210"},"EVN_BTC":{"base_id":"126","quote_id":"4","last_price":"0.00000241","base_volume":"17514688.40660000","quote_volume":"41.78970000","isFrozen":"0","low24hr":"0.00000228","high24hr":"0.00000269","percentChange":"0.00000000","lowestAsk":"0.00000250","highestBid":"0.00000232"},"ARCT_BTC":{
[...]
