---
http_interactions:
- request:
    method: get
    uri: https://datacenter.iqfinex.com/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3244-610eFfMLkGPkw2WDZmrV8oyW9wk"
      Access-Controll-Allow-Origin:
      - "*"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"AMCETH":{"bid":6e-8,"ask":4.3e-7,"bid_vol":709537.69345981,"ask_vol":572349.54539514,"buy_size":769874.36012646,"sell_size":3847032.54539514,"open":4.1e-7,"high":4.2e-7,"low":4.1e-7,"last":4.1e-7,"volume24":12714268.9632356,"percentChange":0,"timestamp":1569299394},"BATBTC":{"bid":0.00001889,"ask":0.00001953,"bid_vol":688.95836516,"ask_vol":667.03343729,"buy_size":13647.00218398,"sell_size":13675.18932869,"open":0.00002029,"high":0.00002103,"low":0.0000187,"last":0.00001955,"volume24":168288.38626289,"percentChange":-3.65,"timestamp":1569299394},"BATETH":{"bid":0.00091806,"ask":0.00093942,"bid_vol":636.95836516,"ask_vol":740.03343729,"buy_size":13539.04652202,"sell_size":13541.27247027,"open":0.00094564,"high":0.00100357,"low":0.00091267,"last":0.00093816,"volume24":36521.83712484,"percentChange":-0.79,"timestamp":1569299394},"BCHBTC":{"bid":0.029679,"ask":0.030291,"bid_vol":0.62075754,"ask_vol":0.64121674,"buy_size":20.53074061,"sell_size":20.6684651,"open":0.030283,"high":0.03154,"low":0.029372,"last":0.029684,"volume24":117.447852,"percentChange":-1.98,"timestamp":1569299394},"BCHETH":{"bid":1.441048,"ask":1.456054,"bid_vol":0.68075754,"ask_vol":0.63121674,"buy_size":20.56883746,"sell_size":20.4650353,"open":1.46975,"high":1.492986,"low":1.417434,"last":1.441425,"volume24":214.06825854,"percentChange":-1.93,"timestamp":1569299394},"BCHSVBTC":{"bid":0.011347,"ask":0.011632,"bid_vol":1.24,"ask_vol":1.5,"buy_size":31.24,"sell_size":31.4979999,"open":0.011812,"high":0.012211,"low":0.011349,"last":0.011607,"volume24":42.570794,"percentChange":-1.74,"timestamp":1569299394},"BCHUSDC":{"bid":285.26,"ask":297.15,"bid_vol":0.61075754,"ask_vol":0.66121674,"buy_size":20.60782078,"sell_size":15.11295966,"open":310.23,"high":312.81,"low":280.55,"last":284.7,"volume24":5.275872,"percentChange":-8.23,"timestamp":1569299394},"BTCUSDC":{"bid":9611.31,"ask":9809.41,"bid_vol":0.0618258,"ask_vol":0.00823311,"buy_size":1.05366879,"sell_size":0.93973583,"open":9872.09,"high":10167.39,"low":9496.74,"last":9619.15,"volume24":11.91575461,"percentChange":-2.56,"timestamp":1569299394},"BTGBTC":{"bid":0.00098803,"ask":0.00100898,"bid_vol":5.1,"ask_vol":4.5,"buy_size":153.88,"sell_size":153.82,"open":0.00102615,"high":0.00103019,"low":0.00097417,"last":0.00098802,"volume24":213.884796,"percentChange":-3.72,"timestamp":1569299394},"DENTETH":{"bid":0.00000217,"ask":0.00000221,"bid_vol":689526.29950078,"ask_vol":24539.5058619,"buy_size":7635035.67987466,"sell_size":6393979.97115314,"open":0.00000216,"high":0.00000226,"low":0.00000213,"last":0.00000217,"volume24":8459109.96868238,"percentChange":0.46,"timestamp":1569299394},"DSHBTC":{"bid":0.008866,"ask":0.009113,"bid_vol":1.31078947,"ask_vol":1.31469262,"buy_size":62.14702311,"sell_size":43.84699444,"open":0.008827,"high":0.009359,"low":0.008751,"last":0.008866,"volume24":211.31450812,"percentChange":0.44,"timestamp":1569299394},"DSHETH":{"bid":0.42868,"ask":0.43792,"bid_vol":1.61078947,"ask_vol":1.37469262,"buy_size":61.62298589,"sell_size":61.37127258,"open":0.43377,"high":0.44479,"low":0.41816,"last":0.43907,"volume24":71.74857134,"percentChange":1.22,"timestamp":1569299394},"EOSBTC":{"bid":0.0003736,"ask":0.0003847,"bid_vol":63.06206691,"ask_vol":53.63756585,"buy_size":1153.32941555,"sell_size":1153.38014303,"open":0.0003839,"high":0.0003976,"low":0.0003713,"last":0.0003751,"volume24":4320.93281462,"percentChange":-2.29,"timestamp":1569299394},"EOSETH":{"bid":0.018177,"ask":0.018549,"bid_vol":55.50427686,"ask_vol":57.63756585,"buy_size":1155.99690277,"sell_size":1157.38014302,"open":0.017915,"high":0.018794,"low":0.017915,"last":0.018518,"volume24":1711.520367,"percentChange":3.37,"timestamp":1569299394},"EOSUSDC":{"bid":3.5971,"ask":3.786,"bid_vol":8.88168464,"ask_vol":70.68140728,"buy_size":1167.09696854,"sell_size":1166.77508572,"open":3.714,"high":3.8801,"low":3.6582,"last":3.7978,"volume24":241.499107,"percentChange":2.26,"timestamp":1569299394},"ETCBTC":{"bid":0.0005876,"ask":0.0005999,"bid_vol":55.58677898,"ask_vol":55.53637662,"buy_size":864.20816558,"sell_size":1151.55901066,"open":0.0005911,"high":0.0006189,"low":0.0005828,"last":0.0005894,"volume24":3371.473126,"percentChange":-0.29,"timestamp":1569299394},"ETCETH":{"bid":0.0285262,"ask":0.0288411,"bid_vol":57.68677898,"ask_vol":58.53637662,"buy_size":1154.80137438,"sell_size":1148.1733465,"open":0.0283584,"high":0.029257,"low":0.0282319,"last":0.0285255,"volume24":581.65381706,"percentChange":0.59,"timestamp":1569299394},"ETCUSDC":{"bid":5.6471,"ask":5.8856,"bid_vol":59.58677898,"ask_vol":55.12177662,"buy_size":1158.24526731,"sell_size":1153.77526335,"open":5.8118,"high":6.21,"low":5.644,"last":5.6532,"volume24":465.221986,"percentChange":-2.73,"timestamp":1569299394},"ETHBTC":{"bid":0.020593,"ask":0.0208,"bid_vol":0.22325554,"ask_vol":0.06369087,"buy_size":46.45801034,"sell_size":27.19284697,"open":0.0208,"high":0.021485,"low":0.020457,"last":0.020595,"volume24":65.63587,"percentChange":-0.99,"timestamp":1569299394},"ETHUSDC":{"bid":197.92,"ask":204.05,"bid_vol":0.18408001,"ask_vol":0.14153526,"buy_size":47.30019136,"sell_size":25.72498565,"open":211.9,"high":213.98,"low":196.61,"last":203.13,"volume24":10.967439,"percentChange":-4.14,"timestamp":1569299394},"FORKETH":{"bid":0.000004,"ask":0.0000045,"bid_vol":2000,"ask_vol":80,"buy_size":48016.97274633,"sell_size":139561.21172458,"open":0.0000045,"high":0.0000045,"low":0.0000045,"last":0.0000045,"volume24":0,"percentChange":0,"timestamp":1569299394},"GNTBTC":{"bid":0.00000579,"ask":0.00000603,"bid_vol":1230.49163731,"ask_vol":30,"buy_size":50216.02713569,"sell_size":49157.78800974,"open":0.00000606,"high":0.00000617,"low":0.00000573,"last":0.00000576,"volume24":24879.771039,"percentChange":-4.95,"timestamp":1569299394},"GNTETH":{"bid":0.00028059,"ask":0.00028985,"bid_vol":1332.49163731,"ask_vol":58.24834426,"buy_size":49856.86833478,"sell_size":48964.45909163,"open":0.00028803,"high":0.00029153,"low":0.00027484,"last":0.00027848,"volume24":4863.453964,"percentChange":-3.32,"timestamp":1569299394},"HUBRBTC":{"bid":0.00001695,"ask":0.00001696,"bid_vol":168,"ask_vol":343.47932016,"buy_size":36040.04971484,"sell_size":32591.88791039,"open":0.00001806,"high":0.00001859,"low":0.00001571,"last":0.00001695,"volume24":424611.51430103,"percentChange":-6.15,"timestamp":1569299394},"HUBRETH":{"bid":0.00082316,"ask":0.0008269,"bid_vol":196,"ask_vol":199.87168183,"buy_size":36075.54971484,"sell_size":32218.67062002,"open":0.00085967,"high":0.00087974,"low":0.00076404,"last":0.0008269,"volume24":237769.46876367,"percentChange":-3.81,"timestamp":1569299394},"IQFBTC":{"bid":0.00000883,"ask":0.00000901,"bid_vol":355.69711271,"ask_vol":1505,"buy_size":142278.84508472,"sell_size":158649.9327105,"open":0.00000894,"high":0.0000092,"low":0.0000088,"last":0.00000901,"volume24":102945.8423,"percentChange":0.78,"timestamp":1569299394},"IQFETH":{"bid":0.00042879,"ask":0.00043344,"bid_vol":1672.82595224,"ask_vol":1444.5068343,"buy_size":192278.84508474,"sell_size":209290.95712496,"open":0.00043013,"high":0.00043692,"low":0.00041883,"last":0.00043354,"volume24":221703.448874,"percentChange":0.79,"timestamp":1569299394},"KITETH":{"bid":0,"ask":9e-8,"bid_vol":0,"ask_vol":476248,"buy_size":0,"sell_size":6224192.20765529,"open":4e-8,"high":4e-8,"low":4e-8,"last":4e-8,"volume24":0,"percentChange":0,"timestamp":1569299394},"LTCBTC":{"bid":0.006744,"ask":0.006996,"bid_vol":0.4634194,"ask_vol":0.29450716,"buy_size":68.40277867,"sell_size":88.51471097,"open":0.007425,"high":0.007609,"low":0.006394,"last":0.006779,"volume24":493.29771459,"percentChange":-8.7,"timestamp":1569299394},"LTCETH":{"bid":0.329096,"ask":0.336259,"bid_vol":0.8300049,"ask_vol":0.68976676,"buy_size":69.16707483,"sell_size":88.85657359,"open":0.349995,"high":0.358211,"low":0.309563,"last":0.335876,"volume24":158.92285049,"percentChange":-4.03,"timestamp":1569299394},"LTCUSDC":{"bid":65.14,"ask":70,"bid_vol":0.1,"ask_vol":0.7982694,"buy_size":68.77481955,"sell_size":87.03681731,"open":69.81,"high":76.16,"low":64.07,"last":70.03,"volume24":16.196802,"percentChange":0.32,"timestamp":1569299394},"MDABTC":{"bid":0.00005852,"ask":0.00006079,"bid_vol":8.99379625,"ask_vol":146.41401208,"buy_size":6149.45015398,"sell_size":6080.81732572,"open":0.00006134,"high":0.00006163,"low":0.00005836,"last":0.00006035,"volume24":1277.904584,"percentChange":-1.61,"timestamp":1569299394},"MDAETH":{"bid":0.00284126,"ask":0.00292311,"bid_vol":155.58598792,"ask_vol":121.41401208,"buy_size":6150.8526355,"sell_size":6798.98949626,"open":0.00285004,"high":0.00292946,"low":0.00280354,"last":0.00292372,"volume24":219.049562,"percentChange":2.59,"timestamp":1569299394},"MODETH":{"bid":0.00071405,"ask":0.00095433,"bid_vol":813.38274326,"ask_vol":177.02755202,"buy_size":1054595.71689629,"sell_size":253800.46160511,"open":0.00071411,"high":0.00099947,"low":0.00071401,"last":0.00095424,"volume24":30017.361952,"percentChange":33.63,"timestamp":1569299394},"NPXSETH":{"bid":0.00000162,"ask":0.00000163,"bid_vol":202139.14385121,"ask_vol":236962.49043343,"buy_size":12545816.40578728,"sell_size":13608847.97022838,"open":0.00000165,"high":0.00000166,"low":0.00000158,"last":0.00000164,"volume24":7041441.0900567,"percentChange":-0.61,"timestamp":1569299394},"OMGBTC":{"bid":0.0001023,"ask":0.0001058,"bid_vol":166.69063041,"ask_vol":112.73936959,"buy_size":4153.09063041,"sell_size":4092.50634352,"open":0.0001073,"high":0.0001085,"low":0.0001021,"last":0.0001022,"volume24":3234.994502,"percentChange":-4.75,"timestamp":1569299394},"OMGETH":{"bid":0.004976,"ask":0.005082,"bid_vol":163.56063041,"ask_vol":152.80936959,"buy_size":4163.56063041,"sell_size":4122.20320177,"open":0.005,"high":0.005175,"low":0.004967,"last":0.004989,"volume24":1392.882028,"percentChange":-0.22,"timestamp":1569299394},"REPBTC":{"bid":0.00104799,"ask":0.00108939,"bid_vol":4.09113339,"ask_vol":21.11478756,"buy_size":662.22657434,"sell_size":670.78518244,"open":0.00102801,"high":0.00113213,"low":0.00102801,"last":0.00109516,"volume24":1213.6392824,"percentChange":6.53,"timestamp":1569299394},"REPETH":{"bid":0.05088609,"ask":0.05237856,"bid_vol":18.51025224,"ask_vol":18.40478756,"buy_size":532.26696878,"sell_size":661.33199456,"open":0.04977728,"high":0.05320673,"low":0.04869139,"last":0.05099503,"volume24":400.82723092,"percentChange":2.45,"timestamp":1569299394},"SNTBTC":{"bid":0.00000146,"ask":0.0000015,"bid_vol":29143.54562113,"ask_vol":147.53076792,"buy_size":254109.01602562,"sell_size":317183.71916651,"open":0.00000148,"high":0.00000154,"low":0.00000146,"last":0.00000149,"volume24":246463.577514,"percentChange":0.68,"timestamp":1569299394},"SNTETH":{"bid":0.00007048,"ask":0.00007225,"bid_vol":31121.54562113,"ask_vol":29236.91980387,"buy_size":393037.69153815,"sell_size":398311.47420678,"open":0.0000732,"high":0.00007359,"low":0.00007045,"last":0.00007299,"volume24":106169.334846,"percentChange":-0.29,"timestamp":1569299394},"XLMBTC":{"bid":0.00000645,"ask":0.00000663,"bid_vol":546.27257785,"ask_vol":826.26228049,"buy_size":29882.1071583,"sell_size":30998.08979631,"open":0.00000654,"high":0.0000071,"low":0.0000064,"last":0.00000645,"volume24":330918.39456386,"percentChange":-1.38,"timestamp":1569299394},"XLMETH":{"bid":0.00031275,"ask":0.00031877,"bid_vol":632.27257785,"ask_vol":791.26228049,"buy_size":30421.16397443,"sell_size":30805.48447646,"open":0.0003207,"high":0.00033173,"low":0.0003101,"last":0.00031274,"volume24":68575.718128,"percentChange":-2.48,"timestamp":1569299394},"XLMUSDC":{"bid":0.06195,"ask":0.06495,"bid_vol":668.27257785,"ask_vol":782.26228049,"buy_size":30252.52094905,"sell_size":30948.95628915,"open":0.06767,"high":0.06767,"low":0.06246,"last":0.06483,"volume24":5505.419512,"percentChange":-4.2,"timestamp":1569299394},"ZECBTC":{"bid":0.004528,"ask":0.004673,"bid_vol":1.34047213,"ask_vol":0.61952787,"buy_size":101.21047213,"sell_size":99.3125079,"open":0.004667,"high":0.004713,"low":0.004429,"last":0.004673,"volume24":136.82419192,"percentChange":0.13,"timestamp":1569299394},"ZECETH":{"bid":0.22008,"ask":0.22456,"bid_vol":1.25047213,"ask_vol":0.70952787,"buy_size":80.53553519,"sell_size":97.67834203,"open":0.2224,"high":0.22421,"low":0.21224,"last":0.22421,"volume24":21.523447,"percentChange":0.81,"timestamp":1569299394},"ZRXBTC":{"bid":0.00002096,"ask":0.00002163,"bid_vol":1240.62920764,"ask_vol":72.8328377,"buy_size":27387.4004257,"sell_size":34374.03398898,"open":0.00002341,"high":0.00002413,"low":0.00002074,"last":0.00002101,"volume24":85880.36936904,"percentChange":-10.25,"timestamp":1569299394},"ZRXETH":{"bid":0.00101716,"ask":0.00104019,"bid_vol":1167.62920764,"ask_vol":83.8328377,"buy_size":32517.14067381,"sell_size":26607.5077677,"open":0.00113153,"high":0.00113699,"low":0.00100784,"last":0.00104207,"volume24":33850.95202504,"percentChange":-7.91,"timestamp":1569299394}}}'
  recorded_at: Tue, 24 Sep 2019 04:29:53 GMT
recorded_with: VCR 4.0.0
