---
http_interactions:
- request:
    method: get
    uri: https://datacenter.iqfinex.com/v1/assets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1184-U7hEDEyDv7UkL/0XDkgsxFqkOlQ"
      Access-Controll-Allow-Origin:
      - "*"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"count":48,"rows":[{"pair":"AMCETH","right":"ETH","left":"AMC","accuracy":"8","min_volume":20000,"isTrade":true},{"pair":"BATBTC","right":"BTC","left":"BAT","accuracy":"8","min_volume":10,"isTrade":true},{"pair":"BATETH","right":"ETH","left":"BAT","accuracy":"8","min_volume":10,"isTrade":true},{"pair":"BCHBTC","right":"BTC","left":"BCH","accuracy":"6","min_volume":0.007,"isTrade":true},{"pair":"BCHETH","right":"ETH","left":"BCH","accuracy":"6","min_volume":0.007,"isTrade":true},{"pair":"BCHSVBTC","right":"BTC","left":"BCHSV","accuracy":"6","min_volume":0.005,"isTrade":true},{"pair":"BCHUSDC","right":[...]
