---
http_interactions:
- request:
    method: get
    uri: https://datacenter.iqfinex.com/v1/orderbook/BTCUSDC/0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7fc-J3+Y/IQR7vY5LPr4wxqEzg8Elj0"
      Access-Controll-Allow-Origin:
      - "*"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"buy":{"7780.01":[0.00759362,1],"8179.53":[0.00259782,1],"8080.83":[0.00269773,1],"7988.05":[0.01019144,1],"7773.86":[0.00999161,1],"8443.09":[0.01099077,1],"8059.31":[0.00789337,1],"7962.2":[0.00739379,1],"7877.61":[0.001,1],"8639.44":[0.0105911,1],"7875.5":[0.00429639,1],"8153.9":[0.00439631,1],"8919.33":[0.26178007,1],"7672.54":[0.2277087,1],"8531.44":[0.24299586,1],"8722.23":[0.00289757,1],"8821.71":[0.01009152,1],"8349.6":[0.001,1],"8351.27":[0.00679429,1],"8543.06":[0.00239799,1],"8733.63":[0.00689421,1],"7677.92":[0.0086927,1],"9117.73":[0.00109908,1],"9021.84":[0.00279765,1],"8641.78":[0.0653451,1],"8449.74":[0.00549538,1],"9217.93":[0.00589505,1],"8929.87":[0.00629471,1],"9221.52":[0.001,1],"8263.86":[0.00149874,1],"9330.45":[0.00129891,1],"8272.37":[0.00379681,1],"9422.85":[0.00209824,1],"9138.19":[0.0074937,1],"9423.02":[0.00599496,1],"9038.2":[0.00739379,1],"9320.96":[0.00469605,1],"9515.17":[0.00609488,1],"9611.3":[0.001,1],"9611.31":[0.0618258,1],"9515.19":[0.01029135,1]},"sell":{"11683.86":[0.00643508,1],"11296.77":[0.00473167,1],"11466.32":[0.00492094,1],"11555.66":[0.00463704,1],"11172.22":[0.00444777,1],"11471.97":[0.00331217,1],"10791.54":[0.001,1],"11076.03":[0.00189267,1],"11566.12":[0.00747604,1],"10876.25":[0.00369071,1],"11262.23":[0.00652971,1],"10567.17":[0.09160521,1],"10961.71":[0.001,1],"10973.47":[0.00643508,1],"10677.65":[0.001,1],"11069.49":[0.00936871,1],"10777.18":[0.00425851,1],"11365.38":[0.00577264,1],"10385.49":[0.00785458,1],"11169.3":[0.00643508,1],"10189.54":[0.001,1],"10488.15":[0.00539411,1],"10585.98":[0.00302827,1],"11766.16":[0.31465632,1],"10687.59":[0.00520484,1],"10297.33":[0.00435314,1],"10885.86":[0.00331217,1],"11670.6":[0.00473167,1],"10115.16":[0.00709751,1],"10016.82":[0.00586728,1],"10111.73":[0.00709751,1],"10014.68":[0.00539411,1],"11389.24":[0.17459877,1],"10501.05":[0.00577264,1],"10304.77":[0.1741256,1],"11772.6":[0.0025551,1],"9905.16":[0.00738141,1],"10199.37":[0.00927408,1],"9809.41":[0.00823311,1],"9907.5":[0.00785458,1]}}}'
  recorded_at: Tue, 24 Sep 2019 04:29:54 GMT
recorded_with: VCR 4.0.0
