---
http_interactions:
- request:
    method: get
    uri: https://datacenter.iqfinex.com/v1/trades/BTCUSDC?sort=DESC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"440-UvBNKCBQBDoVqO+dSwg2CFHWHNc"
      Access-Controll-Allow-Origin:
      - "*"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"count":401534,"rows":[{"id":9744255,"type":"sell","volume":0.001,"price":9619.15,"close_time":1569299204,"asset":"BTCUSDC"},{"id":9744247,"type":"sell","volume":0.014841,"price":9620.62,"close_time":1569299049,"asset":"BTCUSDC"},{"id":9744202,"type":"sell","volume":0.002298,"price":9588.82,"close_time":1569298298,"asset":"BTCUSDC"},{"id":9744195,"type":"buy","volume":0.00525,"price":9793.34,"close_time":1569298227,"asset":"BTCUSDC"},{"id":9744181,"type":"buy","volume":0.007448,"price":9889.66,"close_time":1569298144,"asset":"BTCUSDC"},{"id":9744150,"type":"sell","volume":0.020235,"price":9600.32,"close_time":1569298018,"asset":"BTCUSDC"},{"id":9744127,"type":"buy","volume":0.002415,"price":9801.8,"close_time":1569297733,"asset":"BTCUSDC"},{"id":9744096,"type":"buy","volume":0.005026,"price":9792.93,"close_time":1569297081,"asset":"BTCUSDC"},{"id":9744082,"type":"sell","volume":0.013466,"price":9607.67,"close_time":1569296835,"asset":"BTCUSDC"},{"id":9744060,"type":"sell","volume":0.060762,"price":9620.05,"close_time":1569296534,"asset":"BTCUSDC"}]}}'
  recorded_at: Tue, 24 Sep 2019 04:29:55 GMT
recorded_with: VCR 4.0.0
