---
http_interactions:
- request:
    method: get
    uri: https://datacenter.iqfinex.com/v1/orderbook/BTCUSDT/0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"731-PuVo+n/uIGHm7jmNPNdxTW6SCxE"
      Access-Controll-Allow-Origin:
      - "*"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"buy":{"3356":[0.0026007,1],"3358":[0.78,1],"3360":[1.6925202,1],"3362":[0.0489438,1],"3363":[0.1467882,1],"3365":[0.0017274,1],"3361.09":[0.003,1],"3360.02":[0.002226,1],"3359.44":[0.002679,1],"3358.71":[0.33,1],"3356.9":[0.0028896,1],"3356.83":[0.0020256,1],"3356.76":[0.371397,1],"3358.5":[0.237,1],"3358.72":[0.3558576,1],"3360.18":[0.9,1],"3365.27":[0.12,1],"3365.26":[0.026721,1],"3363.9":[0.375,1],"3363.04":[0.96,1],"3363.03":[0.09,1],"3362.78":[0.93,1],"3360.65":[0.055038,1],"3361.59":[0.040143,1],"3359.11":[0.33,1],"3365.28":[0.06,1],"3363.05":[0.1416405,1],"3357.93":[0.9,1],"3355.59":[0.0037842,1],"3363.93":[0.0601005,1],"3362.12":[0.0454095,1],"3355.58":[0.69,1],"3361.93":[0.0022488,1],"3361.49":[0.0073803,1],"3361.33":[0.2892513,1],"3367.66":[0.201096,1],"3367.64":[0.0177738,1],"3355.5":[1.5,1],"3355.49":[0.1447266,1],"3355.33":[0.178641,1],"3355.09":[0.0624819,1]},"sell":{"3372":[0.0069633,1],"3375":[1.6655931,1],"3376":[1.0463334,1],"3379":[0.0631755,1],"3380":[2.5779993,1],"3381":[0.0010344,1],"3373.9":[0.0011751,1],"3374.05":[0.0628587,1],"3374.38":[0.1615272,1],"3373.05":[1.74,1],"3375.61":[0.0022488,1],"3375.94":[0.005829,1],"3375.8":[0.0178815,1],"3376.44":[0.0204642,1],"3376.45":[0.0024003,1],"3377.06":[0.0012,1],"3378.54":[0.0064713,1],"3373.28":[0.0184128,1],"3377.02":[0.0550503,1],"3379.52":[0.0024048,1],"3379.98":[0.9,1],"3380.24":[0.0022254,1],"3381.02":[0.002592,1],"3381.06":[0.001074,1],"3381.2":[0.0237387,1],"3381.32":[0.0011673,1],"3381.53":[0.0071841,1],"3375.59":[0.12,1],"3376.27":[0.024,1],"3381.6":[0.0011814,1],"3377.01":[0.09,1],"3377.09":[0.0371808,1],"3373.33":[0.3829002,1],"3373.89":[0.1067457,1],"3381.87":[0.0070968,1],"3382.13":[0.0012996,1],"3372.08":[2.0963805,1],"3372.55":[0.15,1],"3372.52":[0.3033501,1],"3373.98":[0.0576537,1],"3374.9":[0.0015,1]}}}'
  recorded_at: Wed, 12 Dec 2018 02:08:07 GMT
recorded_with: VCR 4.0.0
