---
http_interactions:
- request:
    method: get
    uri: https://datacenter.iqfinex.com/v1/trades/BTCUSDT?sort=DESC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"43c-DJL+BhvvcFibs67Z1NaN+s9r0CY"
      Access-Controll-Allow-Origin:
      - "*"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"count":155317,"rows":[{"id":877425,"type":"sell","volume":0.030381,"price":3371.39,"close_time":1544580451,"asset":"BTCUSDT"},{"id":877419,"type":"buy","volume":0.138392,"price":3367.47,"close_time":1544580402,"asset":"BTCUSDT"},{"id":877415,"type":"sell","volume":0.039498,"price":3364.77,"close_time":1544580390,"asset":"BTCUSDT"},{"id":877409,"type":"sell","volume":0.032972,"price":3365.26,"close_time":1544580362,"asset":"BTCUSDT"},{"id":877405,"type":"buy","volume":0.027527,"price":3367.76,"close_time":1544580328,"asset":"BTCUSDT"},{"id":877399,"type":"sell","volume":0.022671,"price":3363.83,"close_time":1544580323,"asset":"BTCUSDT"},{"id":877396,"type":"buy","volume":0.036257,"price":3367.59,"close_time":1544580305,"asset":"BTCUSDT"},{"id":877395,"type":"sell","volume":0.094661,"price":3367.54,"close_time":1544580279,"asset":"BTCUSDT"},{"id":877391,"type":"sell","volume":0.076494,"price":3368.81,"close_time":1544580253,"asset":"BTCUSDT"},{"id":877387,"type":"sell","volume":0.031455,"price":3367.77,"close_time":1544580233,"asset":"BTCUSDT"}]}}'
  recorded_at: Wed, 12 Dec 2018 02:08:08 GMT
recorded_with: VCR 4.0.0
