---
http_interactions:
- request:
    method: get
    uri: https://datacenter.iqfinex.com/v1/assets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11a7-JBg+qjQ4pa85CQu9dzWYkNrfEyk"
      Access-Controll-Allow-Origin:
      - "*"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"count":58,"rows":[{"pair":"AEBTC","right":"BTC","left":"AE","accuracy":"7","min_volume":10},{"pair":"AEETH","right":"ETH","left":"AE","accuracy":"6","min_volume":10},{"pair":"ARNBTC","right":"BTC","left":"ARN","accuracy":"8","min_volume":10},{"pair":"ARNETH","right":"ETH","left":"ARN","accuracy":"8","min_volume":10},{"pair":"BATBTC","right":"BTC","left":"BAT","accuracy":"8","min_volume":50},{"pair":"BATETH","right":"ETH","left":"BAT","accuracy":"8","min_volume":50},{"pair":"BCHBTC","right":"BTC","left":"BCH","accuracy":"6","min_volume":0.01},{"pair":"BCHSVBTC","right":"BTC","left":[...]
