---
http_interactions:
- request:
    method: get
    uri: https://datacenter.iqfinex.com/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e8e-ioXm8CartCrnU0C1aYgLMtgjxZM"
      Access-Controll-Allow-Origin:
      - "*"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"AEBTC":{"bid":0.000112,"ask":0.0001136,"bid_vol":63.834,"ask_vol":199.586,"buy_size":10428.342,"sell_size":13181.687,"high":0.0001129,"low":0.0001113,"last":0.0001119,"volume24":104.4553,"percentChange":-0.62},"AEETH":{"bid":0.004288,"ask":0.004371,"bid_vol":59.71,"ask_vol":10.831,"buy_size":3401.073,"sell_size":2899.881,"high":0.004307,"low":0.00428,"last":0.00428,"volume24":49.69745,"percentChange":-0.21},"ARNBTC":{"bid":0.00006744,"ask":0.00006795,"bid_vol":36.9,"ask_vol":75,"buy_size":7480.7,"sell_size":9996,"high":0.00006848,"low":0.00006749,"last":0.000068,"volume24":1110.375,"percentChange":0.76},"ARNETH":{"bid":0.00260166,"ask":0.0026247,"bid_vol":14,"ask_vol":24.8,"buy_size":4907.6,"sell_size":4949.9,"high":0.00263109,"low":0.00259225,"last":0.00263109,"volume24":118.225,"percentChange":1.5},"BATBTC":{"bid":0.00004033,"ask":0.00004066,"bid_vol":2054,"ask_vol":553.9,"buy_size":32714.7,"sell_size":36929.4,"high":0.00004068,"low":0.00003997,"last":0.00004058,"volume24":3139.505,"percentChange":1.53},"BATETH":{"bid":0.00155177,"ask":0.00156773,"bid_vol":369.4,"ask_vol":369.4,"buy_size":19810,"sell_size":5190.9,"high":0.00156621,"low":0.0015423,"last":0.00156426,"volume24":482.445,"percentChange":1.42},"BCHBTC":{"bid":0.02846,"ask":0.02867,"bid_vol":0.189,"ask_vol":0.7202,"buy_size":73.6283,"sell_size":144.7534,"high":0.028573,"low":0.02829,"last":0.028429,"volume24":7.88483,"percentChange":-0.4},"BCHSVBTC":{"bid":0.025622,"ask":0.026186,"bid_vol":0.0767,"ask_vol":0.0631,"buy_size":106.6194,"sell_size":97.3412,"high":0.02659249,"low":0.02555439,"last":0.0258929,"volume24":20.403125,"percentChange":-2.63},"BCHUSDT":{"bid":95.96,"ask":96.49,"bid_vol":11.3913,"ask_vol":2.41,"buy_size":251.456489,"sell_size":100.488427,"high":96.64,"low":95.39,"last":95.71,"volume24":5.803301,"percentChange":-0.96},"BTCUSDT":{"bid":3367.66,"ask":3372,"bid_vol":0.201096,"ask_vol":0.0069633,"buy_size":839.4023529,"sell_size":26.5602918,"high":3383.4,"low":3352.97,"last":3371.39,"volume24":11.268714,"percentChange":-0.25},"BTGBTC":{"bid":0.003402,"ask":0.003444,"bid_vol":3.1321486,"ask_vol":1.4578173,"buy_size":3.1321486,"sell_size":62.7334009,"high":0.0034438,"low":0.00327329,"last":0.00342783,"volume24":28.0834,"percentChange":3.48},"CLTETH":{"bid":0.0002,"ask":0.01,"bid_vol":853,"ask_vol":43,"buy_size":15927.355455,"sell_size":1226.7,"high":0.00021,"low":0.0002,"last":0.00021,"volume24":433.391225,"percentChange":5},"DENTETH":{"bid":0.00001118,"ask":0.00001145,"bid_vol":24341.9,"ask_vol":11979,"buy_size":1240109.8,"sell_size":849435.7,"high":0.00001144,"low":0.00001121,"last":0.00001131,"volume24":13113.24,"percentChange":0.89},"DSHBTC":{"bid":0.01856,"ask":0.01869,"bid_vol":0.7507045,"ask_vol":0.4084782,"buy_size":20.2119112,"sell_size":19.0316138,"high":0.01873,"low":0.018458,"last":0.018639,"volume24":8.807775,"percentChange":0.49},"DSHUSDT":{"bid":63.57,"ask":64.2,"bid_vol":0.2283306,"ask_vol":1.336032,"buy_size":68.0419999,"sell_size":75.2325514,"high":64.2601,"low":63.1938,"last":64.2601,"volume24":50.1775161,"percentChange":0.46},"ELYETH":{"bid":0,"ask":0,"bid_vol":0,"ask_vol":0,"buy_size":0,"sell_size":0,"high":9e-7,"low":9e-7,"last":9e-7,"volume24":0,"percentChange":0},"EOSBTC":{"bid":0.0005414,"ask":0.0005458,"bid_vol":19.3012413,"ask_vol":6.7137936,"buy_size":19.3012413,"sell_size":1060.51279,"high":0.0005437,"low":0.0005357,"last":0.0005437,"volume24":1010.38155,"percentChange":0.89},"EOSETH":{"bid":0.02079,"ask":0.021,"bid_vol":1.8425877,"ask_vol":6.4787866,"buy_size":1354.2564073,"sell_size":1494.1611419,"high":0.020829,"low":0.020684,"last":0.020812,"volume24":187.1986,"percentChange":0},"EOSUSDT":{"bid":1.825,"ask":1.836,"bid_vol":33.768,"ask_vol":12.248,"buy_size":8349.159,"sell_size":9697.36,"high":1.8385,"low":1.8013,"last":1.8344,"volume24":2335.1427,"percentChange":0.34},"ETCBTC":{"bid":0.001086,"ask":0.001095,"bid_vol":59.3175744,"ask_vol":11.000766,"buy_size":59.3175744,"sell_size":1563.5559159,"high":0.0011002,"low":0.0010851,"last":0.0010951,"volume24":142.84285,"percentChange":0.3},"ETCUSDT":{"bid":3.657,"ask":3.687,"bid_vol":26.1,"ask_vol":27.76,"buy_size":2263.11,"sell_size":2377.024,"high":3.7149,"low":3.6551,"last":3.6862,"volume24":338.0033,"percentChange":-0.21},"ETHBTC":{"bid":0.02593,"ask":0.02606,"bid_vol":0.6135,"ask_vol":4.8884,"buy_size":119.40085,"sell_size":120.6227,"high":0.026057,"low":0.025795,"last":0.026028,"volume24":49.20479,"percentChange":0.46},"ETHUSDT":{"bid":87.44,"ask":87.83,"bid_vol":1.153874,"ask_vol":0.015362,"buy_size":768.960695,"sell_size":844.90349,"high":87.81,"low":86.88,"last":87.66,"volume24":78.617597,"percentChange":-0.06},"GNTBTC":{"bid":0.00001902,"ask":0.00001921,"bid_vol":222.6,"ask_vol":302.4,"buy_size":89519.8,"sell_size":81737.1,"high":0.00001918,"low":0.000019,"last":0.00001904,"volume24":1502.76,"percentChange":0},"GNTETH":{"bid":0.00073243,"ask":0.00074601,"bid_vol":960.8,"ask_vol":402.9,"buy_size":21072.1,"sell_size":17949.2,"high":0.00073967,"low":0.0007377,"last":0.00073967,"volume24":100.125,"percentChange":0.27},"GTOBTC":{"bid":0.00000616,"ask":0.00000624,"bid_vol":620.2,"ask_vol":151.3,"buy_size":315665.3,"sell_size":280915.1,"high":0.00000627,"low":0.00000617,"last":0.00000623,"volume24":3804.215,"percentChange":0.97},"GTOETH":{"bid":0.00023671,"ask":0.00024032,"bid_vol":2810.6,"ask_vol":4137.6,"buy_size":87420.7,"sell_size":58638.7,"high":0.00024162,"low":0.00023921,"last":0.00023953,"volume24":3124.97,"percentChange":-0.2},"HACETH":{"bid":0.000008,"ask":0.0000091,"bid_vol":9716.2046296,"ask_vol":1000,"buy_size":83716.2046296,"sell_size":134737.8291477,"high":0.000008,"low":0.000008,"last":0.000008,"volume24":0,"percentChange":0},"IOSTBTC":{"bid":0.00000111,"ask":0.00000114,"bid_vol":214134.6,"ask_vol":247521.7,"buy_size":5390963.7,"sell_size":18588353.725,"high":0.00000113,"low":0.00000112,"last":0.00000113,"volume24":8626.33,"percentChange":0.89},"IOSTETH":{"bid":0.00004305,"ask":0.0000437,"bid_vol":1383.8,"ask_vol":1009.3,"buy_size":460035.6,"sell_size":446479.2,"high":0.00004357,"low":0.00004357,"last":0.00004357,"volume24":0,"percentChange":0},"IQFBTC":{"bid":0.00001144,"ask":0.00001153,"bid_vol":404.31,"ask_vol":34.815,"buy_size":33176.325,"sell_size":15994.256584,"high":0.00001155,"low":0.00001142,"last":0.00001145,"volume24":22094.33,"percentChange":0.17},"KITBTC":{"bid":4e-8,"ask":7e-8,"bid_vol":23950,"ask_vol":10000,"buy_size":70233.3333333,"sell_size":252019.0477562,"high":5e-8,"low":5e-8,"last":5e-8,"volume24":0,"percentChange":0},"KITETH":{"bid":0.00000125,"ask":0.00000297,"bid_vol":23914.1666616,"ask_vol":8994,"buy_size":130814.6926528,"sell_size":58629.3991749,"high":0.00000125,"low":0.00000125,"last":0.00000125,"volume24":0,"percentChange":0},"LTCBTC":{"bid":0.00693,"ask":0.00697,"bid_vol":14.088,"ask_vol":3.785,"buy_size":287.277,"sell_size":476.341,"high":0.006956,"low":0.006886,"last":0.006948,"volume24":17.285,"percentChange":0.46},"LTCUSDT":{"bid":23.37,"ask":23.53,"bid_vol":5.885937,"ask_vol":2.24,"buy_size":920.824628,"sell_size":664.814316,"high":23.44,"low":23.23,"last":23.39,"volume24":23.061981,"percentChange":0.21},"MDABTC":{"bid":0.00019513,"ask":0.00019649,"bid_vol":15.2,"ask_vol":41.9,"buy_size":11859,"sell_size":4037.8,"high":0.00020045,"low":0.00019551,"last":0.00019551,"volume24":669.345,"percentChange":-1.44},"MDAETH":{"bid":0.0074787,"ask":0.0076453,"bid_vol":143,"ask_vol":47,"buy_size":4391.0596,"sell_size":2415.3,"high":0.00772477,"low":0.00754063,"last":0.00754063,"volume24":99.43,"percentChange":-2.38},"MODETH":{"bid":0.003482,"ask":0.003536,"bid_vol":5.097,"ask_vol":17.964,"buy_size":12411.071,"sell_size":6465.674,"high":0.003524,"low":0.003524,"last":0.003524,"volume24":0,"percentChange":0},"NPXSETH":{"bid":0.00000574,"ask":0.00000579,"bid_vol":194268.5,"ask_vol":13643.4,"buy_size":25947168.6,"sell_size":22235601.9,"high":0.00000581,"low":0.00000578,"last":0.00000579,"volume24":92928.255,"percentChange":0.17},"OMGBTC":{"bid":0.000371,"ask":0.000374,"bid_vol":41.148,"ask_vol":46.275,"buy_size":10047.135,"sell_size":20860.946,"high":0.0003788,"low":0.0003702,"last":0.000374,"volume24":114.84165,"percentChange":-1.27},"OMGETH":{"bid":0.014291,"ask":0.014374,"bid_vol":2.5,"ask_vol":1.478,"buy_size":1819.681,"sell_size":3090.221,"high":0.01457,"low":0.014335,"last":0.014335,"volume24":15.11865,"percentChange":-1.61},"PTTETH":{"bid":0.00002001,"ask":0.0000261,"bid_vol":1500,"ask_vol":85,"buy_size":97421.9860622,"sell_size":24890.4976502,"high":0.0000261,"low":0.00002,"last":0.000025,"volume24":6626.829,"percentChange":-4.21},"QKCBTC":{"bid":0.00001252,"ask":0.00001259,"bid_vol":2809.3,"ask_vol":559.5,"buy_size":285818.6,"sell_size":666828.2,"high":0.00001282,"low":0.00001253,"last":0.00001257,"volume24":7131.55,"percentChange":-1.72},"QKCETH":{"bid":0.00048,"ask":0.00048776,"bid_vol":2240.3,"ask_vol":2036.7,"buy_size":18994.6,"sell_size":13080.6,"high":0.00049364,"low":0.00048496,"last":0.00048496,"volume24":200.515,"percentChange":-1.76},"REDCETH":{"bid":0.000005,"ask":0.00001,"bid_vol":525,"ask_vol":85,"buy_size":13641.2219441,"sell_size":8993.0392126,"high":0.00001,"low":0.00001,"last":0.00001,"volume24":0,"percentChange":0},"REPBTC":{"bid":0.0016,"ask":0.001884,"bid_vol":0.2,"ask_vol":1.577,"buy_size":881.3835102,"sell_size":332.7023219,"high":0.00190282,"low":0.00185784,"last":0.00187662,"volume24":8.84412,"percentChange":0.02},"REPETH":{"bid":0.07128,"ask":0.07274,"bid_vol":0.3521205,"ask_vol":1.0935535,"buy_size":12252.5965111,"sell_size":57.6436927,"high":0.072767,"low":0.07218952,"last":0.072767,"volume24":0.679465,"percentChange":0.75},"SNTBTC":{"bid":0.0000042,"ask":0.0000043,"bid_vol":11075,"ask_vol":12983,"buy_size":778465.9,"sell_size":387532.1,"high":0.00000424,"low":0.00000422,"last":0.00000424,"volume24":550.84,"percentChange":0.47},"UBEXETH":{"bid":0.000005,"ask":0.0000064,"bid_vol":2096.8,"ask_vol":15166.5625,"buy_size":95148.8,"sell_size":58916.5625,"high":0.0000064,"low":0.0000064,"last":0.0000064,"volume24":0,"percentChange":0},"XLMBTC":{"bid":0.00003287,"ask":0.0000331,"bid_vol":1038.7,"ask_vol":113.1,"buy_size":219412,"sell_size":80661.9,"high":0.00003318,"low":0.00003285,"last":0.00003292,"volume24":22324.53,"percentChange":-0.03},"XLMETH":{"bid":0.00126351,"ask":0.0012747,"bid_vol":454.2,"ask_vol":455,"buy_size":13700.1,"sell_size":12725.230776,"high":0.00127923,"low":0.00126616,"last":0.00127404,"volume24":764.71,"percentChange":0.62},"XLMUSDT":{"bid":0.1106,"ask":0.11148,"bid_vol":3164.56,"ask_vol":1200,"buy_size":150065.14,"sell_size":61088.63,"high":0.11163,"low":0.11049,"last":0.11103,"volume24":10636.916,"percentChange":-0.54},"ZECBTC":{"bid":0.015756,"ask":0.015838,"bid_vol":1.0639,"ask_vol":1.2647,"buy_size":72.4088,"sell_size":224.5403,"high":0.015844,"low":0.015793,"last":0.015793,"volume24":7.062365,"percentChange":-0.05},"ZECETH":{"bid":0.6037,"ask":0.61184,"bid_vol":3.249,"ask_vol":3.0706,"buy_size":46.9547,"sell_size":19.6195,"high":0.60934,"low":0.6081,"last":0.6081,"volume24":0.19839,"percentChange":-0.2},"ZILBTC":{"bid":0.00000395,"ask":0.00000397,"bid_vol":6093.5,"ask_vol":42163.4,"buy_size":3221164.5,"sell_size":2765502,"high":0.00000395,"low":0.00000392,"last":0.00000395,"volume24":28415.75,"percentChange":0.51},"ZILETH":{"bid":0.0001518,"ask":0.0001527,"bid_vol":394.1,"ask_vol":431.8,"buy_size":207426.6,"sell_size":107249.9,"high":0.00015105,"low":0.00015002,"last":0.00015105,"volume24":808.11,"percentChange":0.69},"ZRXBTC":{"bid":0.00008808,"ask":0.00008858,"bid_vol":633.4,"ask_vol":561.3,"buy_size":12594.7,"sell_size":19887.7,"high":0.0000888,"low":0.0000867,"last":0.000088,"volume24":2745.295,"percentChange":-0.9},"ZRXETH":{"bid":0.00338045,"ask":0.0034121,"bid_vol":152.9,"ask_vol":39.3,"buy_size":6001.9,"sell_size":2970.4,"high":0.00342032,"low":0.00334934,"last":0.00338804,"volume24":227.98,"percentChange":-0.66}}}'
  recorded_at: Wed, 12 Dec 2018 02:07:44 GMT
recorded_with: VCR 4.0.0
