---
http_interactions:
- request:
    method: get
    uri: https://api.kraken.com/0/public/Depth?pair=BCHEUR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"BCHEUR":{"asks":[["241.700000","1.500",1556867627],["241.800000","48.530",1556867639],["241.900000","12.000",1556867639],["242.000000","4.000",1556867633],["242.100000","3.000",1556867592],["242.200000","1.500",1556867634],["242.300000","20.242",1556867570],["242.400000","1.000",1556867593],["242.500000","30.000",1556867594],["242.600000","35.938",1556867634],["242.700000","0.456",1556867570],["242.800000","9.715",1556867634],["242.900000","14.850",1556867561],["243.000000","0.886",1556867442],["243.100000","31[...]
