---
http_interactions:
- request:
    method: get
    uri: http://data.gate.io/api2/1/tradeHistory/BCH_USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":"true","data":[{"tradeID":"28776910","date":"2017-11-23 07:27:06","timestamp":"1511436426","type":"buy","rate":1548.02,"amount":0.0063,"total":9.752526},{"tradeID":"28776911","date":"2017-11-23
        07:27:06","timestamp":"1511436426","type":"buy","rate":1554.95,"amount":0.0038,"total":5.90881},{"tradeID":"28777301","date":"2017-11-23
        07:37:25","timestamp":"1511437045","type":"buy","rate":1547.99,"amount":0.1096,"total":169.659704},{"tradeID":"28777325","date":"2017-11-23
        07:37:41","timestamp":"1511437061","type":"buy","rate":1547.99,"amount":"0.00000000","total":0},{"tradeID":"28777326","date":"2017-11-23
        07:[...]
