---
http_interactions:
- request:
    method: get
    uri: http://data.gate.io/api2/1/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"btc_usdt":{"result":"true","last":8280,"lowestAsk":8288.89,"highestBid":8280,"percentChange":0.48580273957309,"baseVolume":877356.75,"quoteVolume":107.4449,"high24hr":8357.9,"low24hr":7936.02},"bch_usdt":{"result":"true","last":1175.07,"lowestAsk":1187.02,"highestBid":1175.11,"percentChange":-1.5029338735205,"baseVolume":92402.79,"quoteVolume":78.25,"high24hr":1224.98,"low24hr":1151.84},"eth_usdt":{"result":"true","last":368.5,"lowestAsk":368.44,"highestBid":367.82,"percentChange":0.9865889491806,"baseVolume":1272335.92,"quoteVolume":3476.7589,"high24hr":372,"low24hr":361.01},"etc_usdt":{"result":"true","last":18.04,"lowestAsk":18.15,"highestBid":17.99,"percentChange":0.33370411568409,"baseVolume":43480.79,"quoteVolume":2404.939,"high24hr":18.39,"low24hr":17.73},"qtum_usdt":{"result":"true","last":14.09,"lowestAsk":14.12,"highestBid":14.09,"percentChange":-2.0166898470097,"baseVolume":952751.09,"quoteVolume":67065.4829,"high24hr":14.59,"low24hr":13.62},"ltc_usdt":{"result":"true","last":70.88,"lowestAsk":71.23,"highestBid":70.88,"percentChange":-0.1971276233568,"baseVolume":88065.89,"quoteVolume":1242.8077,"high24hr":73.77,"low24hr":68.96},"dash_usdt":{"result":"true","last":538.87,"lowestAsk":545.6,"highestBid":542.89,"percentChange":15.483691226265,"baseVolume":71272.28,"quoteVolume":139.5077,"high24hr":550,"low24hr":466.58},"zec_usdt":{"result":"true","last":297.99,"lowestAsk":300,"highestBid":299.73,"percentChange":1.1026667571419,"baseVolume":81654.21,"quoteVolume":275.2818,"high24hr":302.3,"low24hr":289.98},"btm_usdt":{"result":"true","last":0.1171,"lowestAsk":0.1175,"highestBid":0.1172,"percentChange":2.9903254177661,"baseVolume":160844.6041,"quoteVolume":1425108.8254,"high24hr":0.1175,"low24hr":0.1081},"eos_usdt":{"result":"true","last":1.9096,"lowestAsk":1.9249,"highestBid":1.9096,"percentChange":-1.5619361822774,"baseVolume":97201.9219,"quoteVolume":50495.838,"high24hr":2.018,"low24hr":1.8858},"req_usdt":{"result":"true","last":0.0469,"lowestAsk":0.0492,"highestBid":0.0472,"percentChange":-1.2339232336682e-6,"baseVolume":3208.2781,"quoteVolume":68051.3349,"high24hr":0.0501,"low24hr":0.0465},"snt_usdt":{"result":"true","last":0.0349,"lowestAsk":0.0366,"highestBid":0.0349,"percentChange":-0.85227276348863,"baseVolume":86732.6787,"quoteVolume":2409989.1512,"high24hr":0.039,"low24hr":0.033},"omg_usdt":{"result":"true","last":7.8504,"lowestAsk":7.9242,"highestBid":7.8463,"percentChange":-0.41986427348259,"baseVolume":18376.4513,"quoteVolume":2363.35,"high24hr":7.9674,"low24hr":7.65},"pay_usdt":{"result":"true","last":1.8503,"lowestAsk":1.9352,"highestBid":1.854,"percentChange":2.1857923497268,"baseVolume":14407.5195,"quoteVolume":7632.2734,"high24hr":2.0096,"low24hr":1.83},"cvc_usdt":{"result":"true","last":0.3195,"lowestAsk":0.32,"highestBid":0.3195,"percentChange":14.025695909297,"baseVolume":7721.8673,"quoteVolume":25873.865,"high24hr":0.3118,"low24hr":0.28},"zrx_usdt":{"result":"true","last":0.2018,"lowestAsk":0.202,"highestBid":0.2018,"percentChange":0.89999988872999,"baseVolume":583.2738,"quoteVolume":2926.5436,"high24hr":0.202,"low24hr":0.1888},"tnt_usdt":{"result":"true","last":0.0681,"lowestAsk":0.0681,"highestBid":0.0681,"percentChange":40.412371134021,"baseVolume":20934.2313,"quoteVolume":312464.2476,"high24hr":0.0725,"low24hr":0.0453},"xmr_usdt":{"result":"true","last":146,"lowestAsk":146,"highestBid":136,"percentChange":10.313562523612,"baseVolume":12612.49,"quoteVolume":88.5093,"high24hr":146.97,"low24hr":132.35},"xrp_usdt":{"result":"true","last":0.2349,"lowestAsk":0.2427,"highestBid":0.2356,"percentChange":-3.0784095666625,"baseVolume":15587.9333,"quoteVolume":66100.9339,"high24hr":0.2449,"low24hr":0.2289},"doge_usdt":{"result":"true","last":0.001304,"lowestAsk":0.001324,"highestBid":0.001315,"percentChange":2.596380801188,"baseVolume":4136.5669,"quoteVolume":3110900.429,"high24hr":0.00136,"low24hr":0.001271},"bat_usdt":{"result":"true","last":0.154,"lowestAsk":0.1721,"highestBid":0.154,"percentChange":-3.1446540880503,"baseVolume":1338.278,"quoteVolume":8572.712,"high24hr":0.1735,"low24hr":0.154},"llt_usdt":{"result":"true","last":0.3283,"lowestAsk":0.3315,"highestBid":0.3283,"percentChange":-2.6393831553974,"baseVolume":43801.7904,"quoteVolume":129730.1943,"high24hr":0.3458,"low24hr":0.3216},"pst_usdt":{"result":"true","last":0.2506,"lowestAsk":0.2505,"highestBid":0.2309,"percentChange":9.4323144104803,"baseVolume":10011.7393,"quoteVolume":40990.3036,"high24hr":0.2761,"low24hr":0.2142},"btg_usdt":{"result":"true","last":245.02,"lowestAsk":247.68,"highestBid":245.01,"percentChange":35.72259458264,"baseVolume":1954971.9,"quoteVolume":8467.1672,"high24hr":272.11,"low24hr":174},"dpy_usdt":{"result":"true","last":0.7987,"lowestAsk":0.7987,"highestBid":0.7412,"percentChange":14.508960573477,"baseVolume":4872.9682,"quoteVolume":6426.42,"high24hr":0.7987,"low24hr":0.6819},"lrc_usdt":{"result":"true","last":0.1745,"lowestAsk":0.1765,"highestBid":0.1745,"percentChange":-7.5741525450212,"baseVolume":11538.432,"quoteVolume":61842.0273,"high24hr":0.2008,"low24hr":0.1735},"storj_usdt":{"result":"true","last":0.7561,"lowestAsk":0.7867,"highestBid":0.7563,"percentChange":8.916738554117,"baseVolume":24527.4471,"quoteVolume":33343.866,"high24hr":0.8182,"low24hr":0.6297},"rdn_usdt":{"result":"true","last":3.2999,"lowestAsk":3.2999,"highestBid":2.9508,"percentChange":25.614769699277,"baseVolume":12357.624,"quoteVolume":4208.2065,"high24hr":3.4998,"low24hr":2.5126},"stx_usdt":{"result":"true","last":0.5035,"lowestAsk":0.5211,"highestBid":0.506,"percentChange":4.309094675782,"baseVolume":4921.2492,"quoteVolume":9963.2761,"high24hr":0.5292,"low24hr":0.4499},"knc_usdt":{"result":"true","last":1.1268,"lowestAsk":1.1267,"highestBid":1.1036,"percentChange":1.917510853835,"baseVolume":7763.1197,"quoteVolume":6794.6352,"high24hr":1.2299,"low24hr":1.0934},"link_usdt":{"result":"true","last":0.1793,"lowestAsk":0.1774,"highestBid":0.1608,"percentChange":15.677419410806,"baseVolume":1761.6336,"quoteVolume":10951.4618,"high24hr":0.1798,"low24hr":0.15},"cdt_usdt":{"result":"true","last":0.037,"lowestAsk":0.039,"highestBid":0.0375,"percentChange":5.7142857142857,"baseVolume":20147.7182,"quoteVolume":540406.6885,"high24hr":0.0435,"low24hr":0.033},"ae_usdt":{"result":"true","last":0.6677,"lowestAsk":0.731,"highestBid":0.6688,"percentChange":11.301883604891,"baseVolume":31746.5744,"quoteVolume":50245.9765,"high24hr":0.7575,"low24hr":0.5722},"ae_eth":{"result":"true","last":0.0019,"lowestAsk":0.001898,"highestBid":0.001847,"percentChange":18.750000687619,"baseVolume":432.192,"quoteVolume":250104.269,"high24hr":0.001899,"low24hr":0.001576},"cdt_eth":{"result":"true","last":0.000105,"lowestAsk":0.000105,"highestBid":0.000102,"percentChange":19.318181818182,"baseVolume":152.485,"quoteVolume":1510169.383,"high24hr":0.000108,"low24hr":"0.00008800"},"rdn_eth":{"result":"true","last":0.00856,"lowestAsk":0.009404,"highestBid":0.00856,"percentChange":18.625277161863,"baseVolume":103.989,"quoteVolume":12821.613,"high24hr":0.009462,"low24hr":0.006748},"stx_eth":{"result":"true","last":0.001405,"lowestAsk":0.001406,"highestBid":0.001319,"percentChange":10.629921260126,"baseVolume":9.8,"quoteVolume":7263.729,"high24hr":0.001406,"low24hr":0.001232},"knc_eth":{"result":"true","last":0.002999,"lowestAsk":0.003179,"highestBid":0.002999,"percentChange":2.3548994357031,"baseVolume":11.44,"quoteVolume":3654.543,"high24hr":0.003222,"low24hr":0.002928},"link_eth":{"result":"true","last":0.000512,"lowestAsk":0.000462,"highestBid":0.000426,"percentChange":20.187786047502,"baseVolume":2.32,"quoteVolume":5486.201,"high24hr":0.00053,"low24hr":0.000412},"req_eth":{"result":"true","last":0.000132,"lowestAsk":0.000134,"highestBid":0.00013,"percentChange":-3.6496350364963,"baseVolume":10.329,"quoteVolume":79599.784,"high24hr":0.000138,"low24hr":0.000125},"rcn_eth":{"result":"true","last":0.000359,"lowestAsk":0.000359,"highestBid":0.000283,"percentChange":33.955221097649,"baseVolume":14.902,"quoteVolume":53282.789,"high24hr":0.000359,"low24hr":0.000257},"trx_eth":{"result":"true","last":"0.00000649","lowestAsk":"0.00000678","highestBid":"0.00000610","percentChange":8.1666601923517,"baseVolume":3.459,"quoteVolume":531347.11,"high24hr":"0.00000800","low24hr":"0.00000600"},"ppt_eth":{"result":"true","last":0.029,"lowestAsk":0.0285,"highestBid":0.022,"percentChange":0.31131096506399,"baseVolume":0.404,"quoteVolume":13.565,"high24hr":0.032,"low24hr":0.0289},"arn_eth":{"result":"true","last":0.0016,"lowestAsk":0.0016,"highestBid":0.001,"percentChange":7.1428571428571,"baseVolume":0.009,"quoteVolume":6.117,"high24hr":0.0016,"low24hr":0.0014},"kick_eth":{"result":"true","last":"0.00009100","lowestAsk":"0.00009100","highestBid":"0.00008500","percentChange":2.247191011236,"baseVolume":45.31,"quoteVolume":513863.98,"high24hr":"0.00009200","low24hr":"0.00008350"},"wtc_eth":{"result":"true","last":0.017499,"lowestAsk":0.0175,"highestBid":0.014,"percentChange":0,"baseVolume":0.008,"quoteVolume":0.444,"high24hr":0.0175,"low24hr":0.017499},"bnt_eth":{"result":"true","last":0.0062,"lowestAsk":0.0062,"highestBid":0.005901,"percentChange":0,"baseVolume":0.018,"quoteVolume":2.913,"high24hr":0.0062,"low24hr":0.0062},"ven_eth":{"result":"true","last":0.000796,"lowestAsk":0.000796,"highestBid":0.00067,"percentChange":-0.1254705144291,"baseVolume":0.549,"quoteVolume":796.266,"high24hr":0.000797,"low24hr":0.00067},"mco_eth":{"result":"true","last":0.018,"lowestAsk":0.018,"highestBid":0.015,"percentChange":5.5161498329327,"baseVolume":0.286,"quoteVolume":16.36,"high24hr":0.018,"low24hr":0.017059},"fun_eth":{"result":"true","last":"0.00007400","lowestAsk":"0.00007400","highestBid":"0.00004500","percentChange":-6.0181810677455e-6,"baseVolume":0.006,"quoteVolume":82.514,"high24hr":"0.00007400","low24hr":"0.00007400"},"data_eth":{"result":"true","last":0.000149,"lowestAsk":0.000199,"highestBid":0.000187,"percentChange":-25.870646823851,"baseVolume":7.969,"quoteVolume":47581.212,"high24hr":0.000202,"low24hr":0.000149},"rlc_eth":{"result":"true","last":0.001696,"lowestAsk":0.001696,"highestBid":0.000401,"percentChange":0,"baseVolume":0.004,"quoteVolume":2.379,"high24hr":0.001696,"low24hr":0.001696},"zsc_eth":{"result":"true","last":0.000115,"lowestAsk":0.000116,"highestBid":0.000111,"percentChange":-1.7094028650684,"baseVolume":128.428,"quoteVolume":1110943.288,"high24hr":0.000119,"low24hr":0.00011},"wings_eth":{"result":"true","last":0.00131,"lowestAsk":0.001547,"highestBid":0.0011,"percentChange":-12.66666900458,"baseVolume":2.763,"quoteVolume":1852.617,"high24hr":0.0016,"low24hr":0.0013},"gvt_eth":{"result":"true","last":0.0098,"lowestAsk":0.0098,"highestBid":0.004,"percentChange":0,"baseVolume":0.265,"quoteVolume":27.389,"high24hr":0.0098,"low24hr":0.009168},"ctr_eth":{"result":"true","last":0.00157,"lowestAsk":0.00157,"highestBid":0.0014,"percentChange":-10.285714285714,"baseVolume":0.372,"quoteVolume":213.201,"high24hr":0.0019,"low24hr":0.00157},"veri_eth":{"result":"true","last":0.33,"lowestAsk":0.34,"highestBid":0.200077,"percentChange":28.301919784374,"baseVolume":1.714,"quoteVolume":6.577,"high24hr":0.34,"low24hr":0.25},"mda_eth":{"result":"true","last":0.005696,"lowestAsk":0.005696,"highestBid":0.0055,"percentChange":21.29471890971,"baseVolume":75.086,"quoteVolume":13838.612,"high24hr":0.006499,"low24hr":0.004619},"rcn_usdt":{"result":"true","last":0.1041,"lowestAsk":0.11,"highestBid":0.1064,"percentChange":0.6769825918762,"baseVolume":5487.3562,"quoteVolume":53966.6148,"high24hr":0.1113,"low24hr":0.0942},"trx_usdt":{"result":"true","last":0.0023,"lowestAsk":0.00249,"highestBid":0.00248,"percentChange":1.7699115044248,"baseVolume":27528.263,"quoteVolume":11015584.31,"high24hr":0.00313,"low24hr":0.00211},"kick_usdt":{"result":"true","last":0.0303,"lowestAsk":0.0355,"highestBid":0.0305,"percentChange":-10.089020771513,"baseVolume":1847.09,"quoteVolume":56400.91,"high24hr":0.0355,"low24hr":0.03},"wtc_usdt":{"result":"true","last":5.9,"lowestAsk":7,"highestBid":4.5606,"percentChange":7.2727272727273,"baseVolume":161.0637,"quoteVolume":28.7999,"high24hr":5.9,"low24hr":5.015},"ven_usdt":{"result":"true","last":0.2523,"lowestAsk":0.2619,"highestBid":0.2523,"percentChange":-0.55183287347259,"baseVolume":1163.5131,"quoteVolume":4542.3406,"high24hr":0.2686,"low24hr":0.252},"mco_usdt":{"result":"true","last":6.5,"lowestAsk":6.49,"highestBid":5.5,"percentChange":0,"baseVolume":324.8652,"quoteVolume":51.0504,"high24hr":6.5,"low24hr":5.6},"fun_usdt":{"result":"true","last":0.0216,"lowestAsk":0.0216,"highestBid":0.0205,"percentChange":13.684210526316,"baseVolume":620.5422,"quoteVolume":31661.7744,"high24hr":0.0216,"low24hr":0.0183},"data_usdt":{"result":"true","last":0.0701,"lowestAsk":0.0726,"highestBid":0.0701,"percentChange":-0.56737543480424,"baseVolume":2109.3675,"quoteVolume":29784.6427,"high24hr":0.0755,"low24hr":0.0651},"zsc_usdt":{"result":"true","last":0.043,"lowestAsk":0.0425,"highestBid":0.0421,"percentChange":-3.3707865108629,"baseVolume":1900.5537,"quoteVolume":44064.9591,"high24hr":0.0449,"low24hr":0.0421},"ctr_usdt":{"result":"true","last":0.5332,"lowestAsk":0.5997,"highestBid":0.5208,"percentChange":-5.8615819729255,"baseVolume":2398.5305,"quoteVolume":4340.484,"high24hr":0.8,"low24hr":0.53},"mda_usdt":{"result":"true","last":2.11,"lowestAsk":2.1587,"highestBid":2.1587,"percentChange":20.571428571429,"baseVolume":17055.5408,"quoteVolume":8169.7852,"high24hr":3.2191,"low24hr":1.511},"powr_usdt":{"result":"true","last":0.6819,"lowestAsk":0.6819,"highestBid":0.6249,"percentChange":-14.516735614893,"baseVolume":3060.2721,"quoteVolume":4659.7185,"high24hr":0.799,"low24hr":0.575},"powr_eth":{"result":"true","last":0.001766,"lowestAsk":0.001887,"highestBid":0.001552,"percentChange":-4.7464951239914,"baseVolume":4.733,"quoteVolume":2645.437,"high24hr":0.0019,"low24hr":0.0017},"powr_btc":{"result":"true","last":"0.00008500","lowestAsk":"0.00008500","highestBid":"0.00007472","percentChange":-15,"baseVolume":0.13294,"quoteVolume":1439.582,"high24hr":0.00010084,"low24hr":"0.00007472"},"hsr_usdt":{"result":"true","last":17.5,"lowestAsk":17.75,"highestBid":17.5,"percentChange":-4.8913043478261,"baseVolume":87743.7,"quoteVolume":4856.9434,"high24hr":19.72,"low24hr":17.5},"hsr_btc":{"result":"true","last":0.00207506,"lowestAsk":0.00210532,"highestBid":0.0021053,"percentChange":-7.873107651468,"baseVolume":1.93611,"quoteVolume":883.418,"high24hr":0.00232659,"low24hr":0.00207506},"hsr_eth":{"result":"true","last":0.049,"lowestAsk":0.05,"highestBid":0.0468,"percentChange":-3.4920133388198,"baseVolume":24.932,"quoteVolume":494.751,"high24hr":0.062137,"low24hr":0.049},"ink_btc":{"result":"true","last":"0.00002179","lowestAsk":"0.00002170","highestBid":"0.00002166","percentChange":-38.061409887931,"baseVolume":132.4119,"quoteVolume":4682471.475,"high24hr":"0.00005500","low24hr":"0.00001501"},"ink_usdt":{"result":"true","last":0.1769,"lowestAsk":0.1794,"highestBid":0.1769,"percentChange":28.800787081434,"baseVolume":139906.2823,"quoteVolume":691235.1069,"high24hr":0.7,"low24hr":0.1212},"ink_eth":{"result":"true","last":0.000449,"lowestAsk":0.000496,"highestBid":0.000378,"percentChange":24.722222222222,"baseVolume":153.571,"quoteVolume":269291.688,"high24hr":0.000814,"low24hr":0.00036},"ink_qtum":{"result":"true","last":0.013,"lowestAsk":0.013,"highestBid":0.01245,"percentChange":30,"baseVolume":13384.03,"quoteVolume":951323.971,"high24hr":0.05,"low24hr":0.0088},"bot_qtum":{"result":"true","last":0.0374,"lowestAsk":0.0374,"highestBid":0.037,"percentChange":-4.0779687099256,"baseVolume":30881.444,"quoteVolume":822482.904,"high24hr":0.04133,"low24hr":0.034},"bot_usdt":{"result":"true","last":0.5312,"lowestAsk":0.5312,"highestBid":0.5311,"percentChange":-6.561125769569,"baseVolume":184188.7645,"quoteVolume":344658.5269,"high24hr":0.6,"low24hr":0.47},"bot_eth":{"result":"true","last":0.00145,"lowestAsk":0.001458,"highestBid":0.00137,"percentChange":-7.4074095371009,"baseVolume":212.352,"quoteVolume":139524.334,"high24hr":0.001638,"low24hr":0.001263},"qbt_qtum":{"result":"true","last":0.02526,"lowestAsk":0.0269,"highestBid":0.02526,"percentChange":-7.3367571533382,"baseVolume":4132.687,"quoteVolume":153341.808,"high24hr":0.03,"low24hr":0.02525},"neo_usdt":{"result":"true","last":36.05,"lowestAsk":36.26,"highestBid":36.05,"percentChange":-2.409312398484,"baseVolume":72879.64,"quoteVolume":2044.2744,"high24hr":37.97,"low24hr":34.01},"gas_usdt":{"result":"true","last":23.11,"lowestAsk":23.11,"highestBid":20.34,"percentChange":0.47826086956521,"baseVolume":1150.6,"quoteVolume":49.7463,"high24hr":23.13,"low24hr":18},"neo_btc":{"result":"true","last":0.00440584,"lowestAsk":0.00434795,"highestBid":0.00426185,"percentChange":-2.6239445439313,"baseVolume":1.95102,"quoteVolume":448.907,"high24hr":0.0045518,"low24hr":0.00415725},"gas_btc":{"result":"true","last":0.0026543,"lowestAsk":0.00293184,"highestBid":0.00262167,"percentChange":0.87562942346564,"baseVolume":0.21876,"quoteVolume":82.533,"high24hr":0.003,"low24hr":0.00253443},"eth_btc":{"result":"true","last":0.044646,"lowestAsk":0.044824,"highestBid":0.044401,"percentChange":0.29202983197052,"baseVolume":80.3362,"quoteVolume":1802.9751,"high24hr":0.045329,"low24hr":0.044012},"etc_btc":{"result":"true","last":0.00217,"lowestAsk":0.002196,"highestBid":0.00217,"percentChange":-1.6764839148165,"baseVolume":13.1226,"quoteVolume":5968.786,"high24hr":0.002239,"low24hr":0.002166},"etc_eth":{"result":"true","last":0.048341,"lowestAsk":0.049,"highestBid":0.048528,"percentChange":-0.9426647622934,"baseVolume":24.419,"quoteVolume":499.656,"high24hr":0.05,"low24hr":0.048341},"zec_btc":{"result":"true","last":0.0363,"lowestAsk":0.0364,"highestBid":0.0363,"percentChange":0.83333333333334,"baseVolume":9.4439,"quoteVolume":260.89037,"high24hr":0.0373,"low24hr":0.0354},"dash_btc":{"result":"true","last":0.06642,"lowestAsk":0.06679,"highestBid":0.06542,"percentChange":16.546762589928,"baseVolume":2.1004,"quoteVolume":34.5505,"high24hr":0.06645,"low24hr":0.05632},"ltc_btc":{"result":"true","last":0.00853,"lowestAsk":0.0086,"highestBid":0.00853,"percentChange":-1.6147856838962,"baseVolume":36.29948,"quoteVolume":4223.4189,"high24hr":0.00875,"low24hr":0.00846},"bch_btc":{"result":"true","last":0.1448,"lowestAsk":0.1437,"highestBid":0.1432,"percentChange":0.069108500345554,"baseVolume":7.6955,"quoteVolume":53.546,"high24hr":0.1479,"low24hr":0.141},"btg_btc":{"result":"true","last":0.0296,"lowestAsk":0.03,"highestBid":0.0296,"percentChange":36.405529953917,"baseVolume":295.9579,"quoteVolume":10331.429,"high24hr":0.0333,"low24hr":0.0212},"qtum_btc":{"result":"true","last":0.001679,"lowestAsk":0.001695,"highestBid":0.001694,"percentChange":-4.5480386583286,"baseVolume":25.208,"quoteVolume":14480.989,"high24hr":0.0018,"low24hr":0.001679},"qtum_eth":{"result":"true","last":0.03817,"lowestAsk":0.03817,"highestBid":0.03754,"percentChange":-3.1218274111675,"baseVolume":671.327,"quoteVolume":17413.877,"high24hr":0.04007,"low24hr":0.03711},"xrp_btc":{"result":"true","last":"0.00002890","lowestAsk":"0.00002890","highestBid":"0.00002820","percentChange":-2.3648724409291,"baseVolume":1.066,"quoteVolume":37144.913,"high24hr":"0.00003130","low24hr":"0.00002820"},"doge_btc":{"result":"true","last":"0.00000016","lowestAsk":"0.00000017","highestBid":"0.00000016","percentChange":-5.8823860339294,"baseVolume":0.5103,"quoteVolume":3133641.7,"high24hr":"0.00000017","low24hr":"0.00000016"},"xmr_btc":{"result":"true","last":0.01763249,"lowestAsk":0.01799,"highestBid":0.01748,"percentChange":4.3348147434631,"baseVolume":0.8,"quoteVolume":46.286,"high24hr":0.0181898,"low24hr":0.01643329},"zrx_btc":{"result":"true","last":"0.00002230","lowestAsk":"0.00002500","highestBid":"0.00002280","percentChange":-3.030303030303,"baseVolume":0.0594,"quoteVolume":2674.47,"high24hr":"0.00002310","low24hr":"0.00002190"},"zrx_eth":{"result":"true","last":0.000557,"lowestAsk":0.000557,"highestBid":0.000528,"percentChange":2.0146516436905,"baseVolume":2.995,"quoteVolume":5546.529,"high24hr":0.000557,"low24hr":0.000521},"dnt_eth":{"result":"true","last":0.000123,"lowestAsk":0.000121,"highestBid":0.000102,"percentChange":2.5,"baseVolume":1.0364,"quoteVolume":9068.25,"high24hr":0.000128,"low24hr":"0.00009200"},"dpy_eth":{"result":"true","last":0.002132,"lowestAsk":0.002252,"highestBid":0.002141,"percentChange":11.041665406552,"baseVolume":53.065,"quoteVolume":25397.741,"high24hr":0.002252,"low24hr":0.00192},"oax_eth":{"result":"true","last":0.00111,"lowestAsk":0.00111,"highestBid":0.000911,"percentChange":21.844127332602,"baseVolume":0.32,"quoteVolume":327.864,"high24hr":0.00111,"low24hr":0.000911},"rep_eth":{"result":"true","last":0.2296,"lowestAsk":0.2296,"highestBid":0.005408,"percentChange":0,"baseVolume":0.118,"quoteVolume":0.513,"high24hr":0.229751,"low24hr":0.2296},"lrc_eth":{"result":"true","last":0.000475,"lowestAsk":0.000475,"highestBid":0.000473,"percentChange":-8.6538461538461,"baseVolume":223.3663,"quoteVolume":436822.96,"high24hr":0.00056,"low24hr":0.000473},"lrc_btc":{"result":"true","last":"0.00001900","lowestAsk":"0.00002390","highestBid":"0.00001900","percentChange":-25.781287097449,"baseVolume":0.5513,"quoteVolume":25199.93,"high24hr":"0.00002560","low24hr":"0.00002140"},"pst_eth":{"result":"true","last":0.00065,"lowestAsk":0.000655,"highestBid":0.000641,"percentChange":-1.8126888217523,"baseVolume":49.4832,"quoteVolume":75062.26,"high24hr":0.000709,"low24hr":0.000642},"bcdn_eth":{"result":"true","last":0.000152,"lowestAsk":0.000152,"highestBid":0.000148,"percentChange":-1.2987015321688,"baseVolume":14.264,"quoteVolume":96283.575,"high24hr":0.000156,"low24hr":0.000143},"tnt_eth":{"result":"true","last":0.000177,"lowestAsk":0.000177,"highestBid":0.000165,"percentChange":34.090909091788,"baseVolume":170.7112,"quoteVolume":933937.14,"high24hr":0.000202,"low24hr":0.000128},"snt_eth":{"result":"true","last":"0.00009850","lowestAsk":"0.00009870","highestBid":"0.00009720","percentChange":4.3432132088633,"baseVolume":315.787,"quoteVolume":3176049.36,"high24hr":0.000108,"low24hr":"0.00009270"},"snt_btc":{"result":"true","last":"0.00000440","lowestAsk":"0.00000440","highestBid":"0.00000420","percentChange":-3.9996727325296e-6,"baseVolume":2.3962,"quoteVolume":533396.1,"high24hr":"0.00000500","low24hr":"0.00000410"},"btm_eth":{"result":"true","last":0.00032,"lowestAsk":0.000316,"highestBid":0.000316,"percentChange":0,"baseVolume":1269.6587,"quoteVolume":4100969.3,"high24hr":0.000325,"low24hr":0.000297},"llt_eth":{"result":"true","last":0.00088,"lowestAsk":0.0009,"highestBid":0.00088,"percentChange":-5.5793991416309,"baseVolume":237.9191,"quoteVolume":261962.54,"high24hr":0.00095,"low24hr":0.000865},"omg_eth":{"result":"true","last":0.0216,"lowestAsk":0.0215,"highestBid":0.02133,"percentChange":0.887435777674,"baseVolume":32.145,"quoteVolume":1521.751,"high24hr":0.0217,"low24hr":0.02064},"omg_btc":{"result":"true","last":0.00096,"lowestAsk":0.00096,"highestBid":0.000942,"percentChange":0.41840541011715,"baseVolume":3.9068,"quoteVolume":4140.429,"high24hr":0.000979,"low24hr":0.000896},"pay_eth":{"result":"true","last":0.005186,"lowestAsk":0.005283,"highestBid":0.005186,"percentChange":0.038580246913569,"baseVolume":45.84,"quoteVolume":8715.153,"high24hr":0.005688,"low24hr":0.005029},"pay_btc":{"result":"true","last":0.000238,"lowestAsk":0.000238,"highestBid":0.000232,"percentChange":3.9301310043668,"baseVolume":1.1963,"quoteVolume":5112.779,"high24hr":0.000248,"low24hr":0.000223},"bat_eth":{"result":"true","last":0.000433,"lowestAsk":0.000436,"highestBid":0.000434,"percentChange":-0.68811173581881,"baseVolume":2.765,"quoteVolume":6489.695,"high24hr":0.000456,"low24hr":0.000414},"bat_btc":{"result":"true","last":"0.00001900","lowestAsk":"0.00002120","highestBid":"0.00001860","percentChange":2.1505376344086,"baseVolume":0.0501,"quoteVolume":2549.19,"high24hr":"0.00002100","low24hr":"0.00001860"},"cvc_eth":{"result":"true","last":0.000863,"lowestAsk":0.000899,"highestBid":0.00084,"percentChange":3.6014405762305,"baseVolume":14.14,"quoteVolume":16753.124,"high24hr":0.000862,"low24hr":0.00062},"storj_eth":{"result":"true","last":0.002,"lowestAsk":0.002105,"highestBid":0.002,"percentChange":6.044502579666,"baseVolume":41.546,"quoteVolume":20645.763,"high24hr":0.002217,"low24hr":0.001758},"storj_btc":{"result":"true","last":"0.00009350","lowestAsk":"0.00009370","highestBid":"0.00009120","percentChange":11.04513064133,"baseVolume":2.2148,"quoteVolume":24481.91,"high24hr":"0.00009930","low24hr":"0.00008150"},"eos_eth":{"result":"true","last":0.005135,"lowestAsk":0.005182,"highestBid":0.005131,"percentChange":-3.0766326915817,"baseVolume":269.554,"quoteVolume":51222.239,"high24hr":0.00551,"low24hr":0.005138},"eos_btc":{"result":"true","last":0.0002262,"lowestAsk":0.0002298,"highestBid":0.0002262,"percentChange":-3.1263514446167,"baseVolume":4.8784,"quoteVolume":20764.73,"high24hr":0.0002411,"low24hr":0.0002262}}'
  recorded_at: Wed, 22 Nov 2017 08:43:26 GMT
recorded_with: VCR 3.0.3
