---
http_interactions:
- request:
    method: get
    uri: http://data.gate.io/api2/1/tradeHistory/LTC_BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":"true","data":[{"tradeID":"28719138","date":"2017-11-22 02:49:32","timestamp":"1511333372","type":"sell","rate":0.00857,"amount":14,"total":0.11998},{"tradeID":"28719164","date":"2017-11-22
        02:49:56","timestamp":"1511333396","type":"sell","rate":0.00856,"amount":14.5,"total":0.12412},{"tradeID":"28719190","date":"2017-11-22
        02:50:22","timestamp":"1511333422","type":"buy","rate":0.00864,"amount":13.182,"total":0.11389248},{"tradeID":"28719553","date":"2017-11-22
        02:55:11","timestamp":"1511333711","type":"sell","rate":0.00858,"amount":8.47,"total":0.0726726},{"tradeID":"28719568","date":"2017-11-22
        02:5[...]
