---
http_interactions:
- request:
    method: get
    uri: http://data.gate.io/api2/1/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"btc_usdt":{"result":"true","last":8180.1,"lowestAsk":8231.81,"highestBid":8180.1,"percentChange":-0.60631834750911,"baseVolume":671436.42,"quoteVolume":81.6809,"high24hr":8350.3,"low24hr":8069.39},"bch_usdt":{"result":"true","last":1555.04,"lowestAsk":1551.51,"highestBid":1532.78,"percentChange":30.685771913606,"baseVolume":353929.2,"quoteVolume":254.0511,"high24hr":1607.3,"low24hr":1189.9},"eth_usdt":{"result":"true","last":398.77,"lowestAsk":397.79,"highestBid":397,"percentChange":8.8851352290173,"baseVolume":1400619.46,"quoteVolume":3702.5862,"high24hr":400.75,"low24hr":356},"etc_usdt":{"result":"true","last":18,"lowestAsk":18.31,"highestBid":18.22,"percentChange":0.22271714922049,"baseVolume":89128.46,"quoteVolume":4938.9564,"high24hr":18.65,"low24hr":17.4},"qtum_usdt":{"result":"true","last":13.77,"lowestAsk":13.77,"highestBid":13.68,"percentChange":-1.5021456860587,"baseVolume":976534.2,"quoteVolume":70440.87,"high24hr":14.27,"low24hr":13.35},"ltc_usdt":{"result":"true","last":73,"lowestAsk":73.34,"highestBid":73,"percentChange":2.6867351244901,"baseVolume":105362.62,"quoteVolume":1471.6552,"high24hr":73.76,"low24hr":69.69},"dash_usdt":{"result":"true","last":565,"lowestAsk":565,"highestBid":562.96,"percentChange":-1.8057317645423,"baseVolume":17665.39,"quoteVolume":31.2076,"high24hr":584,"low24hr":544.59},"zec_usdt":{"result":"true","last":308.7,"lowestAsk":309.39,"highestBid":308.7,"percentChange":-0.41935483870968,"baseVolume":122457.42,"quoteVolume":392.8448,"high24hr":324.52,"low24hr":299.81},"btm_usdt":{"result":"true","last":0.1133,"lowestAsk":0.1126,"highestBid":0.1126,"percentChange":-2.4956970740103,"baseVolume":200810.8389,"quoteVolume":1718034.4227,"high24hr":0.12,"low24hr":0.1122},"eos_usdt":{"result":"true","last":1.9364,"lowestAsk":1.9524,"highestBid":1.9307,"percentChange":2.4008461131676,"baseVolume":84257.2562,"quoteVolume":45243.399,"high24hr":1.968,"low24hr":1.78},"req_usdt":{"result":"true","last":0.0533,"lowestAsk":0.0608,"highestBid":0.0526,"percentChange":12.447257376582,"baseVolume":7454.681,"quoteVolume":134998.4497,"high24hr":0.065,"low24hr":0.0474},"snt_usdt":{"result":"true","last":0.0327,"lowestAsk":0.0338,"highestBid":0.0327,"percentChange":-6.3037249283668,"baseVolume":55151.0785,"quoteVolume":1621371.9216,"high24hr":0.0364,"low24hr":0.0327},"omg_usdt":{"result":"true","last":7.7948,"lowestAsk":7.886,"highestBid":7.7803,"percentChange":0.5586015609882,"baseVolume":19452.4837,"quoteVolume":2505.1376,"high24hr":8.1,"low24hr":7.5878},"pay_usdt":{"result":"true","last":1.8189,"lowestAsk":1.8709,"highestBid":1.819,"percentChange":-6.1164447656086,"baseVolume":25548.6487,"quoteVolume":13535.961,"high24hr":2.009,"low24hr":1.8137},"cvc_usdt":{"result":"true","last":0.3005,"lowestAsk":0.3191,"highestBid":0.3009,"percentChange":-2.9079164430501,"baseVolume":6803.414,"quoteVolume":21998.9734,"high24hr":0.3204,"low24hr":0.3005},"zrx_usdt":{"result":"true","last":0.2196,"lowestAsk":0.2224,"highestBid":0.2196,"percentChange":7.1219512195122,"baseVolume":4582.4191,"quoteVolume":20981.6607,"high24hr":0.2273,"low24hr":0.1969},"tnt_usdt":{"result":"true","last":0.0983,"lowestAsk":0.1075,"highestBid":0.0983,"percentChange":36.149584487535,"baseVolume":131616.8844,"quoteVolume":1348098.0495,"high24hr":0.15,"low24hr":0.07},"xmr_usdt":{"result":"true","last":165.79,"lowestAsk":165.55,"highestBid":155.1,"percentChange":5.6458293685274,"baseVolume":14886.39,"quoteVolume":92.8098,"high24hr":176.75,"low24hr":150.22},"xrp_usdt":{"result":"true","last":0.2426,"lowestAsk":0.2552,"highestBid":0.25,"percentChange":3.4497444633731,"baseVolume":51482.2865,"quoteVolume":197605.245,"high24hr":0.2871,"low24hr":0.2316},"doge_usdt":{"result":"true","last":0.002081,"lowestAsk":0.00222,"highestBid":0.00195,"percentChange":40.350877192,"baseVolume":51905.2506,"quoteVolume":26687183.472,"high24hr":0.00225,"low24hr":0.001424},"bat_usdt":{"result":"true","last":0.1687,"lowestAsk":0.1689,"highestBid":0.1654,"percentChange":6.0339409176618,"baseVolume":4871.1841,"quoteVolume":30602.9939,"high24hr":0.1687,"low24hr":0.15},"llt_usdt":{"result":"true","last":0.3257,"lowestAsk":0.3258,"highestBid":0.3041,"percentChange":0.83591329986688,"baseVolume":42177.6432,"quoteVolume":133172.4932,"high24hr":0.336,"low24hr":0.3},"pst_usdt":{"result":"true","last":0.2359,"lowestAsk":0.2363,"highestBid":0.226,"percentChange":-3.2800328385814,"baseVolume":9330.1915,"quoteVolume":39432.4668,"high24hr":0.2574,"low24hr":0.2175},"btg_usdt":{"result":"true","last":282.13,"lowestAsk":284.8,"highestBid":282,"percentChange":20.055319148936,"baseVolume":791827.61,"quoteVolume":3131.3143,"high24hr":298.13,"low24hr":221},"dpy_usdt":{"result":"true","last":0.8058,"lowestAsk":0.8788,"highestBid":0.7699,"percentChange":8.9353833815817,"baseVolume":7561.5078,"quoteVolume":9739.3762,"high24hr":0.9381,"low24hr":0.7378},"lrc_usdt":{"result":"true","last":0.1758,"lowestAsk":0.1819,"highestBid":0.1759,"percentChange":-2.9801321132285,"baseVolume":15935.6582,"quoteVolume":89636.7444,"high24hr":0.1943,"low24hr":0.1731},"storj_usdt":{"result":"true","last":0.708,"lowestAsk":0.7078,"highestBid":0.6885,"percentChange":-6.2143898334,"baseVolume":17113.1692,"quoteVolume":23561.0034,"high24hr":0.7671,"low24hr":0.6689},"rdn_usdt":{"result":"true","last":3.82,"lowestAsk":3.9549,"highestBid":3.68,"percentChange":19.408583664156,"baseVolume":55852.1036,"quoteVolume":14459.7823,"high24hr":4.5995,"low24hr":2.9502},"stx_usdt":{"result":"true","last":0.5706,"lowestAsk":0.5857,"highestBid":0.558,"percentChange":10.370515585179,"baseVolume":23256.6056,"quoteVolume":44169.8807,"high24hr":0.6298,"low24hr":0.4781},"knc_usdt":{"result":"true","last":1.1102,"lowestAsk":1.1191,"highestBid":1.1057,"percentChange":-1.7522123893805,"baseVolume":18578.6589,"quoteVolume":16195.3078,"high24hr":1.2299,"low24hr":1.1102},"link_usdt":{"result":"true","last":0.1684,"lowestAsk":0.1882,"highestBid":0.1623,"percentChange":13.793103448276,"baseVolume":2132.102,"quoteVolume":12211.4159,"high24hr":0.192,"low24hr":0.1479},"cdt_usdt":{"result":"true","last":0.0398,"lowestAsk":0.0398,"highestBid":0.0382,"percentChange":3.6458333333333,"baseVolume":18349.8104,"quoteVolume":473361.1715,"high24hr":0.0422,"low24hr":0.0363},"ae_usdt":{"result":"true","last":0.8538,"lowestAsk":0.8535,"highestBid":0.7567,"percentChange":33.011372487926,"baseVolume":67898.4886,"quoteVolume":85924.3724,"high24hr":0.9071,"low24hr":0.6404},"ae_eth":{"result":"true","last":0.00212,"lowestAsk":0.00212,"highestBid":0.002102,"percentChange":15.405552531301,"baseVolume":567.164,"quoteVolume":274346.901,"high24hr":0.0022,"low24hr":0.001785},"cdt_eth":{"result":"true","last":"0.00009900","lowestAsk":"0.00009900","highestBid":"0.00009500","percentChange":-3.8834963509738,"baseVolume":75.385,"quoteVolume":755299.476,"high24hr":0.000106,"low24hr":"0.00009300"},"rdn_eth":{"result":"true","last":0.009203,"lowestAsk":0.009399,"highestBid":0.009223,"percentChange":6.0009214714098,"baseVolume":181.612,"quoteVolume":17764.379,"high24hr":0.011785,"low24hr":0.00847},"stx_eth":{"result":"true","last":0.00144,"lowestAsk":0.001439,"highestBid":0.001414,"percentChange":-4.824852900271,"baseVolume":33.116,"quoteVolume":22668.159,"high24hr":0.001607,"low24hr":0.001349},"knc_eth":{"result":"true","last":0.0028,"lowestAsk":0.002998,"highestBid":0.0028,"percentChange":-8.735332464146,"baseVolume":139.822,"quoteVolume":46688.316,"high24hr":0.003879,"low24hr":0.0028},"link_eth":{"result":"true","last":0.000457,"lowestAsk":0.000465,"highestBid":0.000407,"percentChange":1.5555554521311,"baseVolume":20.767,"quoteVolume":47861.139,"high24hr":0.000465,"low24hr":0.00041},"req_eth":{"result":"true","last":0.000147,"lowestAsk":0.00015,"highestBid":0.000143,"percentChange":7.2992700729927,"baseVolume":43.676,"quoteVolume":293299.967,"high24hr":0.000168,"low24hr":0.000134},"rcn_eth":{"result":"true","last":0.000281,"lowestAsk":0.000317,"highestBid":0.000282,"percentChange":-3.7671232876712,"baseVolume":58.301,"quoteVolume":190707.211,"high24hr":0.000343,"low24hr":0.000281},"trx_eth":{"result":"true","last":"0.00000500","lowestAsk":"0.00000586","highestBid":"0.00000500","percentChange":-27.536231884058,"baseVolume":49.092,"quoteVolume":7342308.62,"high24hr":"0.00000759","low24hr":"0.00000580"},"ppt_eth":{"result":"true","last":0.031124,"lowestAsk":0.0285,"highestBid":0.022,"percentChange":7.324137196031,"baseVolume":1.416,"quoteVolume":47.611,"high24hr":0.031124,"low24hr":0.0285},"arn_eth":{"result":"true","last":0.0015,"lowestAsk":0.001499,"highestBid":0.001,"percentChange":7.1428571428571,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.001499,"low24hr":0.001},"kick_eth":{"result":"true","last":"0.00008020","lowestAsk":"0.00008950","highestBid":"0.00008010","percentChange":1.3109811268971e-10,"baseVolume":14.872,"quoteVolume":176455.58,"high24hr":"0.00009110","low24hr":"0.00007230"},"wtc_eth":{"result":"true","last":0.012,"lowestAsk":0.0175,"highestBid":0.0121,"percentChange":-31.424652837305,"baseVolume":0.315,"quoteVolume":25.323,"high24hr":0.0175,"low24hr":0.012},"bnt_eth":{"result":"true","last":0.0062,"lowestAsk":0.0065,"highestBid":0.0055,"percentChange":-2.7820644533625e-7,"baseVolume":0.019,"quoteVolume":2.988,"high24hr":0.0065,"low24hr":0.0062},"ven_eth":{"result":"true","last":0.0006,"lowestAsk":0.000626,"highestBid":0.000569,"percentChange":-10.44776119403,"baseVolume":5.328,"quoteVolume":8210.21,"high24hr":0.000758,"low24hr":0.0006},"mco_eth":{"result":"true","last":0.015,"lowestAsk":0.018,"highestBid":0.013,"percentChange":-6.6666666666667,"baseVolume":0.031,"quoteVolume":1.863,"high24hr":0.018,"low24hr":0.014},"fun_eth":{"result":"true","last":"0.00007400","lowestAsk":0.0001,"highestBid":"0.00004800","percentChange":-6.0181810677455e-6,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.0001,"low24hr":"0.00004800"},"data_eth":{"result":"true","last":0.000186,"lowestAsk":0.0002,"highestBid":0.000187,"percentChange":-6.5326656951608,"baseVolume":33.535,"quoteVolume":166551.648,"high24hr":0.000208,"low24hr":0.000181},"rlc_eth":{"result":"true","last":0.001696,"lowestAsk":0.001696,"highestBid":0.00113,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.001696,"low24hr":0.00113},"zsc_eth":{"result":"true","last":0.000111,"lowestAsk":0.000111,"highestBid":0.000105,"percentChange":-2.6315789473684,"baseVolume":353.928,"quoteVolume":3254402.571,"high24hr":0.000114,"low24hr":0.000101},"wings_eth":{"result":"true","last":0.00145,"lowestAsk":0.001599,"highestBid":0.001104,"percentChange":-9.37499992645,"baseVolume":3.587,"quoteVolume":2450.459,"high24hr":0.0016,"low24hr":0.00145},"gvt_eth":{"result":"true","last":0.0098,"lowestAsk":0.0098,"highestBid":0.0078,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.0098,"low24hr":0.0078},"ctr_eth":{"result":"true","last":0.0012,"lowestAsk":0.00165,"highestBid":0.001,"percentChange":-14.285714285714,"baseVolume":0.792,"quoteVolume":610.448,"high24hr":0.0017,"low24hr":0.001199},"veri_eth":{"result":"true","last":0.201,"lowestAsk":0.39,"highestBid":0.212117,"percentChange":-40.882352941176,"baseVolume":1.026,"quoteVolume":2.881,"high24hr":0.5,"low24hr":0.201},"mda_eth":{"result":"true","last":0.004712,"lowestAsk":0.005476,"highestBid":0.00475,"percentChange":-17.275289393564,"baseVolume":54.625,"quoteVolume":10532.689,"high24hr":0.005696,"low24hr":0.004688},"rcn_usdt":{"result":"true","last":0.117,"lowestAsk":0.1261,"highestBid":0.117,"percentChange":10.065851364064,"baseVolume":11763.5556,"quoteVolume":98565.5763,"high24hr":0.1267,"low24hr":0.1005},"trx_usdt":{"result":"true","last":0.00226,"lowestAsk":0.00226,"highestBid":0.00225,"percentChange":-20.979020979021,"baseVolume":13034.688,"quoteVolume":5329925.08,"high24hr":0.00287,"low24hr":0.00212},"kick_usdt":{"result":"true","last":0.0328,"lowestAsk":0.0336,"highestBid":0.0311,"percentChange":-5.7471264478362,"baseVolume":4288.471,"quoteVolume":133247.98,"high24hr":0.0351,"low24hr":0.0307},"ven_usdt":{"result":"true","last":0.2517,"lowestAsk":0.2569,"highestBid":0.25,"percentChange":-4.5437189816037,"baseVolume":3183.8884,"quoteVolume":12108.6195,"high24hr":0.2848,"low24hr":0.25},"mco_usdt":{"result":"true","last":6.21,"lowestAsk":6.22,"highestBid":6.2109,"percentChange":0,"baseVolume":262.3136,"quoteVolume":46.1,"high24hr":6.21,"low24hr":5.5},"fun_usdt":{"result":"true","last":0.0229,"lowestAsk":0.0229,"highestBid":0.021,"percentChange":7.0093457943925,"baseVolume":7527.3429,"quoteVolume":316859.6851,"high24hr":0.0265,"low24hr":0.0214},"data_usdt":{"result":"true","last":0.0734,"lowestAsk":0.0764,"highestBid":0.071,"percentChange":1.1019283746557,"baseVolume":3505.3136,"quoteVolume":46310.5679,"high24hr":0.0781,"low24hr":0.0708},"zsc_usdt":{"result":"true","last":0.041,"lowestAsk":0.0418,"highestBid":0.041,"percentChange":0.49019607843137,"baseVolume":18128.319,"quoteVolume":437040.4901,"high24hr":0.0423,"low24hr":0.0401},"ctr_usdt":{"result":"true","last":0.4878,"lowestAsk":0.5285,"highestBid":0.4878,"percentChange":-18.41445057702,"baseVolume":2559.5376,"quoteVolume":5001.8918,"high24hr":0.5983,"low24hr":0.4878},"mda_usdt":{"result":"true","last":1.9137,"lowestAsk":2.1567,"highestBid":1.9137,"percentChange":-11.234287304606,"baseVolume":14736.0091,"quoteVolume":7328.3516,"high24hr":2.1893,"low24hr":1.817},"powr_usdt":{"result":"true","last":0.815,"lowestAsk":0.8456,"highestBid":0.803,"percentChange":8.66666666784,"baseVolume":12691.2953,"quoteVolume":14620.2291,"high24hr":0.9846,"low24hr":0.6284},"powr_eth":{"result":"true","last":0.002,"lowestAsk":0.002098,"highestBid":0.001798,"percentChange":-2.4390243902439,"baseVolume":10.141,"quoteVolume":4593.8,"high24hr":0.002697,"low24hr":0.001701},"powr_btc":{"result":"true","last":"0.00009347","lowestAsk":0.00011466,"highestBid":"0.00009338","percentChange":-7.308607695359,"baseVolume":1.49515,"quoteVolume":13217.652,"high24hr":0.00099999,"low24hr":"0.00009289"},"fil_usdt":{"result":"true","last":7.0675,"lowestAsk":7.2484,"highestBid":6.3637,"percentChange":-29.325,"baseVolume":227014.8798,"quoteVolume":33881.482,"high24hr":15,"low24hr":5.303},"bcd_usdt":{"result":"true","last":25,"lowestAsk":"0.00000000","highestBid":50,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000000","low24hr":50},"bcd_btc":{"result":"true","last":0.005,"lowestAsk":"0.00000000","highestBid":0.01,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000000","low24hr":0.01},"hsr_usdt":{"result":"true","last":15.78,"lowestAsk":16.1,"highestBid":15.81,"percentChange":-2.7339003576428,"baseVolume":149932,"quoteVolume":9072.4537,"high24hr":17.8,"low24hr":15.56},"hsr_btc":{"result":"true","last":0.00193109,"lowestAsk":0.00198637,"highestBid":0.00194165,"percentChange":-3.736532995713,"baseVolume":6.53209,"quoteVolume":3293.24,"high24hr":0.00216928,"low24hr":0.00186},"hsr_eth":{"result":"true","last":0.039636,"lowestAsk":0.039636,"highestBid":0.030001,"percentChange":-11.933699202346,"baseVolume":97.091,"quoteVolume":2214.282,"high24hr":0.049464,"low24hr":0.0393},"qsp_usdt":{"result":"true","last":0.165,"lowestAsk":0.18,"highestBid":0.1531,"percentChange":3.125,"baseVolume":43198.8415,"quoteVolume":213538.702,"high24hr":1.1,"low24hr":0.16},"qsp_eth":{"result":"true","last":0.00041,"lowestAsk":0.000554,"highestBid":0.000357,"percentChange":-11.231101511879,"baseVolume":11.231,"quoteVolume":19682.186,"high24hr":0.005309,"low24hr":0.0004},"ink_btc":{"result":"true","last":"0.00001862","lowestAsk":"0.00002038","highestBid":"0.00001800","percentChange":-8.6935405815347,"baseVolume":18.96154,"quoteVolume":893192.852,"high24hr":"0.00002399","low24hr":"0.00001800"},"ink_usdt":{"result":"true","last":0.1621,"lowestAsk":0.1621,"highestBid":0.162,"percentChange":-5.7558139534884,"baseVolume":169832.5839,"quoteVolume":937293.0613,"high24hr":0.1987,"low24hr":0.1562},"ink_eth":{"result":"true","last":0.000457,"lowestAsk":0.000455,"highestBid":0.0004,"percentChange":-4.5929122681524,"baseVolume":201.135,"quoteVolume":434632.45,"high24hr":0.000527,"low24hr":0.000398},"ink_qtum":{"result":"true","last":0.012,"lowestAsk":0.0126,"highestBid":0.01201,"percentChange":-3.4593724859212,"baseVolume":3472.135,"quoteVolume":270802.567,"high24hr":0.014,"low24hr":0.01152},"bot_qtum":{"result":"true","last":0.0376,"lowestAsk":0.0374,"highestBid":0.03611,"percentChange":-0.52910052910053,"baseVolume":27758.83,"quoteVolume":734459.106,"high24hr":0.039,"low24hr":0.0355},"bot_usdt":{"result":"true","last":0.5117,"lowestAsk":0.5117,"highestBid":0.5,"percentChange":-3.8157894736842,"baseVolume":162341.5668,"quoteVolume":307315.0265,"high24hr":0.5699,"low24hr":0.4822},"bot_eth":{"result":"true","last":0.001261,"lowestAsk":0.001399,"highestBid":0.001261,"percentChange":-12.673130812057,"baseVolume":203,"quoteVolume":143682.226,"high24hr":0.001491,"low24hr":0.0011},"qbt_qtum":{"result":"true","last":0.0247,"lowestAsk":0.0247,"highestBid":0.02401,"percentChange":-7.8358208955224,"baseVolume":7257.652,"quoteVolume":302762.435,"high24hr":0.0297,"low24hr":0.021},"neo_usdt":{"result":"true","last":34.66,"lowestAsk":34.82,"highestBid":34.6,"percentChange":-4.6754675467547,"baseVolume":29690.93,"quoteVolume":828.719,"high24hr":37.15,"low24hr":34.2},"gas_usdt":{"result":"true","last":21,"lowestAsk":25.97,"highestBid":20,"percentChange":15.44804837823,"baseVolume":862.26,"quoteVolume":39.8144,"high24hr":24.11,"low24hr":18.16},"neo_btc":{"result":"true","last":0.00427849,"lowestAsk":0.00431269,"highestBid":0.00423518,"percentChange":-3.7213455681232,"baseVolume":0.43193,"quoteVolume":99.005,"high24hr":0.00448441,"low24hr":0.00423709},"gas_btc":{"result":"true","last":0.00252081,"lowestAsk":0.00252081,"highestBid":0.00252106,"percentChange":-6.2025998807405,"baseVolume":0.11265,"quoteVolume":42.643,"high24hr":0.00298,"low24hr":0.00247222},"eth_btc":{"result":"true","last":0.04888,"lowestAsk":0.048897,"highestBid":0.048565,"percentChange":10.613246001453,"baseVolume":49.0359,"quoteVolume":1056.5232,"high24hr":0.049696,"low24hr":0.04406},"etc_btc":{"result":"true","last":0.002229,"lowestAsk":0.00225,"highestBid":0.002205,"percentChange":3.4338664896566,"baseVolume":16.0594,"quoteVolume":7358.954,"high24hr":0.002319,"low24hr":0.00213},"etc_eth":{"result":"true","last":0.045626,"lowestAsk":0.046307,"highestBid":0.045464,"percentChange":-6.5847702061978,"baseVolume":53.856,"quoteVolume":1137.241,"high24hr":0.049833,"low24hr":0.04462},"zec_btc":{"result":"true","last":0.0379,"lowestAsk":0.0385,"highestBid":0.0379,"percentChange":0,"baseVolume":10.8448,"quoteVolume":284.65028,"high24hr":0.039,"low24hr":0.0371},"dash_btc":{"result":"true","last":0.06919,"lowestAsk":0.07,"highestBid":0.06923,"percentChange":2.5037037037037,"baseVolume":2.7259,"quoteVolume":39.575,"high24hr":0.07049,"low24hr":0.06641},"ltc_btc":{"result":"true","last":0.00895,"lowestAsk":0.00901,"highestBid":0.00887,"percentChange":4.9237983587339,"baseVolume":27.74164,"quoteVolume":3186.605,"high24hr":0.009,"low24hr":0.00852},"bch_btc":{"result":"true","last":0.184,"lowestAsk":0.1899,"highestBid":0.1857,"percentChange":26.027397260274,"baseVolume":41.7272,"quoteVolume":238.697,"high24hr":0.1974,"low24hr":0.1424},"btg_btc":{"result":"true","last":0.0349,"lowestAsk":0.0349,"highestBid":0.0342,"percentChange":23.758865248227,"baseVolume":83.5464,"quoteVolume":2743.485,"high24hr":0.037,"low24hr":0.0271},"qtum_btc":{"result":"true","last":0.001679,"lowestAsk":0.001688,"highestBid":0.001679,"percentChange":0.11926058437685,"baseVolume":15.1059,"quoteVolume":9014.159,"high24hr":0.00174,"low24hr":0.001631},"qtum_eth":{"result":"true","last":0.03369,"lowestAsk":0.03474,"highestBid":0.03452,"percentChange":-11.826269149283,"baseVolume":590.936,"quoteVolume":16145.086,"high24hr":0.0383,"low24hr":0.03333},"xrp_btc":{"result":"true","last":"0.00002980","lowestAsk":"0.00003150","highestBid":"0.00002980","percentChange":0.67566441441554,"baseVolume":9.173,"quoteVolume":302467.6,"high24hr":"0.00003500","low24hr":"0.00002820"},"doge_btc":{"result":"true","last":"0.00000025","lowestAsk":"0.00000026","highestBid":"0.00000025","percentChange":31.578947368421,"baseVolume":16.39226,"quoteVolume":71420455.3,"high24hr":"0.00000029","low24hr":"0.00000018"},"xmr_btc":{"result":"true","last":0.01994626,"lowestAsk":0.02001679,"highestBid":0.01929,"percentChange":8.6397602477832,"baseVolume":2.42473,"quoteVolume":123.267,"high24hr":0.02092,"low24hr":0.01821},"zrx_btc":{"result":"true","last":"0.00002620","lowestAsk":"0.00002970","highestBid":"0.00002610","percentChange":4.799791720908,"baseVolume":0.0027,"quoteVolume":92.32,"high24hr":"0.00003490","low24hr":"0.00002500"},"zrx_eth":{"result":"true","last":0.00054,"lowestAsk":0.0006,"highestBid":0.00054,"percentChange":-3.0520646319569,"baseVolume":11.903,"quoteVolume":21488.043,"high24hr":0.000591,"low24hr":0.00054},"dnt_eth":{"result":"true","last":"0.00009600","lowestAsk":0.000114,"highestBid":"0.00009600","percentChange":-8.5714306029038,"baseVolume":1.6866,"quoteVolume":16621.7,"high24hr":0.000105,"low24hr":"0.00009600"},"dpy_eth":{"result":"true","last":0.00207,"lowestAsk":0.002111,"highestBid":0.00207,"percentChange":-0.43290337268399,"baseVolume":56.753,"quoteVolume":26425.066,"high24hr":0.002393,"low24hr":0.002061},"oax_eth":{"result":"true","last":0.001,"lowestAsk":0.001,"highestBid":0.000931,"percentChange":0,"baseVolume":2.018,"quoteVolume":2017.9,"high24hr":0.001,"low24hr":0.001},"rep_eth":{"result":"true","last":0.0333,"lowestAsk":0.132508,"highestBid":0.034,"percentChange":-76.140447907742,"baseVolume":1.292,"quoteVolume":15.071,"high24hr":0.225072,"low24hr":0.020024},"lrc_eth":{"result":"true","last":0.000451,"lowestAsk":0.000453,"highestBid":0.00045,"percentChange":-6.6252587991718,"baseVolume":184.4598,"quoteVolume":392262.52,"high24hr":0.000499,"low24hr":0.000451},"lrc_btc":{"result":"true","last":"0.00002030","lowestAsk":"0.00002310","highestBid":"0.00002030","percentChange":-11.739420289857,"baseVolume":0.7445,"quoteVolume":33619.29,"high24hr":"0.00002490","low24hr":"0.00001910"},"pst_eth":{"result":"true","last":0.000586,"lowestAsk":0.000615,"highestBid":0.000584,"percentChange":-7.5709955117603,"baseVolume":86.1051,"quoteVolume":139696.8,"high24hr":0.000694,"low24hr":0.000559},"bcdn_eth":{"result":"true","last":0.000119,"lowestAsk":0.000143,"highestBid":0.000123,"percentChange":-20.134228187919,"baseVolume":18.737,"quoteVolume":129456.036,"high24hr":0.000155,"low24hr":0.000119},"tnt_eth":{"result":"true","last":0.000232,"lowestAsk":0.000255,"highestBid":0.000232,"percentChange":11.004781155589,"baseVolume":396.6293,"quoteVolume":1509995.07,"high24hr":0.000359,"low24hr":0.000197},"snt_eth":{"result":"true","last":"0.00008200","lowestAsk":"0.00008210","highestBid":"0.00008200","percentChange":-13.227513227513,"baseVolume":149.02,"quoteVolume":1631560.19,"high24hr":"0.00009800","low24hr":"0.00008210"},"snt_btc":{"result":"true","last":"0.00000400","lowestAsk":"0.00000410","highestBid":"0.00000400","percentChange":-4.7619047619048,"baseVolume":1.6851,"quoteVolume":407645.95,"high24hr":"0.00000460","low24hr":"0.00000400"},"btm_eth":{"result":"true","last":0.000284,"lowestAsk":0.00029,"highestBid":0.000284,"percentChange":-10.971786833856,"baseVolume":1388.5546,"quoteVolume":4528980.34,"high24hr":0.000328,"low24hr":0.000281},"llt_eth":{"result":"true","last":0.000781,"lowestAsk":0.000819,"highestBid":0.000782,"percentChange":-12.247198107125,"baseVolume":183.3011,"quoteVolume":220053.58,"high24hr":0.000906,"low24hr":0.00077},"omg_eth":{"result":"true","last":0.01943,"lowestAsk":0.0198,"highestBid":0.01945,"percentChange":-7.7397912412915,"baseVolume":40.31,"quoteVolume":1963.281,"high24hr":0.0215,"low24hr":0.01873},"omg_btc":{"result":"true","last":0.000953,"lowestAsk":0.000971,"highestBid":0.000953,"percentChange":2.1436094165852,"baseVolume":1.329,"quoteVolume":1410.019,"high24hr":0.00099,"low24hr":0.000891},"pay_eth":{"result":"true","last":0.004705,"lowestAsk":0.004776,"highestBid":0.004689,"percentChange":-9.6929674645432,"baseVolume":106.784,"quoteVolume":22657.146,"high24hr":0.005285,"low24hr":0.0045},"pay_btc":{"result":"true","last":0.000228,"lowestAsk":0.000231,"highestBid":0.000228,"percentChange":0.44052863436124,"baseVolume":2.1594,"quoteVolume":9615.906,"high24hr":0.00024,"low24hr":0.0002},"bat_eth":{"result":"true","last":0.000418,"lowestAsk":0.000418,"highestBid":0.000408,"percentChange":-2.0833333333333,"baseVolume":3.851,"quoteVolume":9165.431,"high24hr":0.000437,"low24hr":0.0004},"bat_btc":{"result":"true","last":"0.00002050","lowestAsk":"0.00002050","highestBid":"0.00001860","percentChange":10.21505376379,"baseVolume":0.069,"quoteVolume":3618.18,"high24hr":"0.00002120","low24hr":"0.00001850"},"cvc_eth":{"result":"true","last":0.000776,"lowestAsk":0.000789,"highestBid":0.000777,"percentChange":-10.289079832049,"baseVolume":17.477,"quoteVolume":21636.855,"high24hr":0.000915,"low24hr":0.000766},"storj_eth":{"result":"true","last":0.001721,"lowestAsk":0.001756,"highestBid":0.001742,"percentChange":-16.995666826822,"baseVolume":45.155,"quoteVolume":24357.216,"high24hr":0.002077,"low24hr":0.001721},"storj_btc":{"result":"true","last":"0.00008470","lowestAsk":"0.00008620","highestBid":"0.00008500","percentChange":-7.533696289155,"baseVolume":2.0915,"quoteVolume":23622.16,"high24hr":"0.00009210","low24hr":"0.00008350"},"eos_eth":{"result":"true","last":0.004865,"lowestAsk":0.004865,"highestBid":0.004845,"percentChange":-4.2941176203412,"baseVolume":419.627,"quoteVolume":85523.727,"high24hr":0.00515,"low24hr":0.00466},"eos_btc":{"result":"true","last":0.000238,"lowestAsk":0.000238,"highestBid":0.0002346,"percentChange":6.202588130299,"baseVolume":4.5527,"quoteVolume":19828.9,"high24hr":0.0002384,"low24hr":0.000218}}'
  recorded_at: Thu, 23 Nov 2017 12:16:17 GMT
recorded_with: VCR 3.0.3
