---
http_interactions:
- request:
    method: get
    uri: http://data.gate.io/api2/1/tradeHistory/BTC_USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":"true","data":[{"tradeID":"28753270","date":"2017-11-23 10:04:23","timestamp":"1511402663","type":"buy","rate":8250,"amount":0.0011,"total":9.075},{"tradeID":"28753275","date":"2017-11-23
        10:04:28","timestamp":"1511402668","type":"buy","rate":8250.08,"amount":0.0002,"total":1.650016},{"tradeID":"28753277","date":"2017-11-23
        10:04:32","timestamp":"1511402672","type":"buy","rate":8250,"amount":0.0032,"total":26.4},{"tradeID":"28753282","date":"2017-11-23
        10:04:35","timestamp":"1511402675","type":"buy","rate":8250,"amount":0.0032,"total":26.4},{"tradeID":"28753294","date":"2017-11-23
        10:04:49","timestamp[...]
