---
http_interactions:
- request:
    method: get
    uri: http://data.gate.io/api2/1/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"btc_usdt":{"result":"true","last":8250.06,"lowestAsk":8239.72,"highestBid":8180,"percentChange":1.6853883224537,"baseVolume":494478.93,"quoteVolume":60.4095,"high24hr":8350.3,"low24hr":7936.02},"bch_usdt":{"result":"true","last":1345,"lowestAsk":1348.51,"highestBid":1335.48,"percentChange":14.208713752634,"baseVolume":185316.86,"quoteVolume":142.8551,"high24hr":1358.71,"low24hr":1171.33},"eth_usdt":{"result":"true","last":377.34,"lowestAsk":377.33,"highestBid":377.33,"percentChange":3.9848981728994,"baseVolume":1157981.71,"quoteVolume":3145.7958,"high24hr":383.2,"low24hr":356},"etc_usdt":{"result":"true","last":17.95,"lowestAsk":18.01,"highestBid":17.95,"percentChange":0.055741360089175,"baseVolume":58376.17,"quoteVolume":3261.2074,"high24hr":18.29,"low24hr":17.4},"qtum_usdt":{"result":"true","last":14.09,"lowestAsk":14.11,"highestBid":14.03,"percentChange":0.14214641080312,"baseVolume":932867.21,"quoteVolume":66699.0881,"high24hr":14.44,"low24hr":13.35},"ltc_usdt":{"result":"true","last":71.43,"lowestAsk":71.85,"highestBid":71.07,"percentChange":1.4486578610993,"baseVolume":64796.98,"quoteVolume":912.7458,"high24hr":72.98,"low24hr":69.69},"dash_usdt":{"result":"true","last":565.16,"lowestAsk":574.64,"highestBid":565.37,"percentChange":14.058526740666,"baseVolume":46559,"quoteVolume":85.7128,"high24hr":584,"low24hr":495.5},"zec_usdt":{"result":"true","last":309.16,"lowestAsk":309.16,"highestBid":309.16,"percentChange":5.7463401286086,"baseVolume":159797.81,"quoteVolume":521.8526,"high24hr":324.52,"low24hr":291.15},"btm_usdt":{"result":"true","last":0.1164,"lowestAsk":0.1181,"highestBid":0.1164,"percentChange":5.9306569343066,"baseVolume":196463.4977,"quoteVolume":1691308.8875,"high24hr":0.1187,"low24hr":0.1094},"eos_usdt":{"result":"true","last":1.8889,"lowestAsk":1.9,"highestBid":1.8889,"percentChange":-2.6791694574682,"baseVolume":77517.1785,"quoteVolume":41302.0085,"high24hr":1.9628,"low24hr":1.78},"req_usdt":{"result":"true","last":0.0616,"lowestAsk":0.0615,"highestBid":0.056,"percentChange":24.193548390496,"baseVolume":5084.5075,"quoteVolume":98422.2471,"high24hr":0.0616,"low24hr":0.0469},"snt_usdt":{"result":"true","last":0.0346,"lowestAsk":0.0358,"highestBid":0.0346,"percentChange":-1.70455122875,"baseVolume":69806.6681,"quoteVolume":1984319.1342,"high24hr":0.039,"low24hr":0.033},"omg_usdt":{"result":"true","last":7.9774,"lowestAsk":7.96,"highestBid":7.9462,"percentChange":3.2071932207775,"baseVolume":19362.8473,"quoteVolume":2494.209,"high24hr":8.1,"low24hr":7.5878},"pay_usdt":{"result":"true","last":1.9253,"lowestAsk":1.9256,"highestBid":1.9253,"percentChange":4.0316783719295,"baseVolume":21679.5552,"quoteVolume":11413.062,"high24hr":2.009,"low24hr":1.8137},"cvc_usdt":{"result":"true","last":0.311,"lowestAsk":0.315,"highestBid":0.311,"percentChange":2.1681997371879,"baseVolume":3894.0827,"quoteVolume":12536.6664,"high24hr":0.3204,"low24hr":0.3019},"zrx_usdt":{"result":"true","last":0.2272,"lowestAsk":0.2273,"highestBid":0.2272,"percentChange":12.530955918772,"baseVolume":4117.9817,"quoteVolume":19317.7345,"high24hr":0.2272,"low24hr":0.1969},"tnt_usdt":{"result":"true","last":0.0881,"lowestAsk":0.0881,"highestBid":0.088,"percentChange":86.68076109956,"baseVolume":96824.66,"quoteVolume":1247645.3305,"high24hr":0.0983,"low24hr":0.0472},"xmr_usdt":{"result":"true","last":160.54,"lowestAsk":177.94,"highestBid":160.53,"percentChange":13.223780767332,"baseVolume":29881.75,"quoteVolume":199.2324,"high24hr":171.01,"low24hr":140.37},"xrp_usdt":{"result":"true","last":0.2427,"lowestAsk":0.2546,"highestBid":0.2425,"percentChange":4.0737563929931,"baseVolume":9575.5783,"quoteVolume":40643.2783,"high24hr":0.2637,"low24hr":0.2289},"doge_usdt":{"result":"true","last":0.00206,"lowestAsk":0.00206,"highestBid":0.001929,"percentChange":56.178923426839,"baseVolume":30754.1076,"quoteVolume":18556168.355,"high24hr":0.00225,"low24hr":0.0013},"bat_usdt":{"result":"true","last":0.1641,"lowestAsk":0.1731,"highestBid":0.1641,"percentChange":6.420233463035,"baseVolume":2855.3308,"quoteVolume":18579.8363,"high24hr":0.1735,"low24hr":0.15},"llt_usdt":{"result":"true","last":0.3229,"lowestAsk":0.3229,"highestBid":0.3178,"percentChange":-3.6981807358008,"baseVolume":37735.3121,"quoteVolume":113502.9972,"high24hr":0.3439,"low24hr":0.3214},"pst_usdt":{"result":"true","last":0.2368,"lowestAsk":0.2378,"highestBid":0.2368,"percentChange":-5.28,"baseVolume":3450.6782,"quoteVolume":14629.7003,"high24hr":0.2515,"low24hr":0.22},"btg_usdt":{"result":"true","last":246.5,"lowestAsk":247,"highestBid":246.5,"percentChange":-3.1966698083569,"baseVolume":780535.43,"quoteVolume":3233.2431,"high24hr":257.5,"low24hr":221},"dpy_usdt":{"result":"true","last":0.7979,"lowestAsk":0.7979,"highestBid":0.7455,"percentChange":6.386666720524,"baseVolume":3472.7671,"quoteVolume":4473.8038,"high24hr":0.7987,"low24hr":0.7111},"lrc_usdt":{"result":"true","last":0.178,"lowestAsk":0.179,"highestBid":0.1771,"percentChange":-1.6030956329464,"baseVolume":14966.2983,"quoteVolume":84419.0509,"high24hr":0.1997,"low24hr":0.1731},"storj_usdt":{"result":"true","last":0.7571,"lowestAsk":0.755,"highestBid":0.7525,"percentChange":6.3044088739118,"baseVolume":26153.7814,"quoteVolume":34897.9338,"high24hr":0.8182,"low24hr":0.6971},"rdn_usdt":{"result":"true","last":4.2782,"lowestAsk":4.2788,"highestBid":4.2782,"percentChange":54.70456352788,"baseVolume":54810.0118,"quoteVolume":15314.111,"high24hr":4.5995,"low24hr":2.7528},"stx_usdt":{"result":"true","last":0.5457,"lowestAsk":0.5488,"highestBid":0.5256,"percentChange":11.869618696187,"baseVolume":23773.5718,"quoteVolume":46365.139,"high24hr":0.5457,"low24hr":0.454},"knc_usdt":{"result":"true","last":1.1751,"lowestAsk":1.2271,"highestBid":1.1249,"percentChange":3.9727481932844,"baseVolume":14526.4309,"quoteVolume":12628.1889,"high24hr":1.2299,"low24hr":1.1034},"link_usdt":{"result":"true","last":0.1713,"lowestAsk":0.179,"highestBid":0.1618,"percentChange":-4.4617958728388,"baseVolume":1670.8823,"quoteVolume":10297.2428,"high24hr":0.1799,"low24hr":0.1479},"cdt_usdt":{"result":"true","last":0.0382,"lowestAsk":0.0399,"highestBid":0.0376,"percentChange":-1.5463917527036,"baseVolume":13565.5389,"quoteVolume":356607.5631,"high24hr":0.0393,"low24hr":0.0338},"ae_usdt":{"result":"true","last":0.7994,"lowestAsk":0.7989,"highestBid":0.7009,"percentChange":25.514209452033,"baseVolume":50202.7103,"quoteVolume":71759.1424,"high24hr":0.7995,"low24hr":0.6},"ae_eth":{"result":"true","last":0.002085,"lowestAsk":0.00212,"highestBid":0.00211,"percentChange":22.647058665071,"baseVolume":429.86,"quoteVolume":228724.242,"high24hr":0.0022,"low24hr":0.00169},"cdt_eth":{"result":"true","last":0.0001,"lowestAsk":0.0001,"highestBid":"0.00009900","percentChange":-5.6603773584906,"baseVolume":85.416,"quoteVolume":820225.706,"high24hr":0.000108,"low24hr":"0.00009600"},"rdn_eth":{"result":"true","last":0.01156,"lowestAsk":0.011655,"highestBid":0.010788,"percentChange":58.31279101616,"baseVolume":214.238,"quoteVolume":22854.37,"high24hr":0.011785,"low24hr":0.00726},"stx_eth":{"result":"true","last":0.001439,"lowestAsk":0.001514,"highestBid":0.001445,"percentChange":7.5485637190882,"baseVolume":29.454,"quoteVolume":20875.84,"high24hr":0.001516,"low24hr":0.001312},"knc_eth":{"result":"true","last":0.00318,"lowestAsk":0.003471,"highestBid":0.002971,"percentChange":-1.0578718108276,"baseVolume":23.532,"quoteVolume":7632.958,"high24hr":0.003222,"low24hr":0.002941},"link_eth":{"result":"true","last":0.00041,"lowestAsk":0.000453,"highestBid":0.000409,"percentChange":-8.8888888888444,"baseVolume":16.02,"quoteVolume":37743.584,"high24hr":0.000512,"low24hr":0.00041},"req_eth":{"result":"true","last":0.000152,"lowestAsk":0.00016,"highestBid":0.000152,"percentChange":15.151509341886,"baseVolume":25.764,"quoteVolume":180461.677,"high24hr":0.00016,"low24hr":0.000127},"rcn_eth":{"result":"true","last":0.000325,"lowestAsk":0.000351,"highestBid":0.000324,"percentChange":17.753597625069,"baseVolume":24.817,"quoteVolume":84240.567,"high24hr":0.000359,"low24hr":0.000264},"trx_eth":{"result":"true","last":"0.00000665","lowestAsk":"0.00000696","highestBid":"0.00000640","percentChange":5.5555555555556,"baseVolume":42.899,"quoteVolume":6344148.99,"high24hr":"0.00000797","low24hr":"0.00000600"},"ppt_eth":{"result":"true","last":0.029,"lowestAsk":0.029,"highestBid":0.0225,"percentChange":-3.3333335097933,"baseVolume":1.059,"quoteVolume":36.41,"high24hr":0.032,"low24hr":0.0285},"arn_eth":{"result":"true","last":0.0015,"lowestAsk":0.001499,"highestBid":0.001,"percentChange":7.1428571428571,"baseVolume":0.009,"quoteVolume":6.117,"high24hr":0.0016,"low24hr":0.0014},"kick_eth":{"result":"true","last":"0.00008510","lowestAsk":"0.00009080","highestBid":"0.00008200","percentChange":0.59101654806738,"baseVolume":29.31,"quoteVolume":337568.37,"high24hr":"0.00009500","low24hr":"0.00007230"},"wtc_eth":{"result":"true","last":0.012,"lowestAsk":0.0175,"highestBid":0.012,"percentChange":-31.424652837305,"baseVolume":0.323,"quoteVolume":25.767,"high24hr":0.0175,"low24hr":0.012},"bnt_eth":{"result":"true","last":0.0062,"lowestAsk":0.0065,"highestBid":0.005899,"percentChange":-2.7820644533625e-7,"baseVolume":0.037,"quoteVolume":5.901,"high24hr":0.0065,"low24hr":0.0062},"ven_eth":{"result":"true","last":0.000758,"lowestAsk":0.000757,"highestBid":0.00067,"percentChange":-4.7738725668166,"baseVolume":5.059,"quoteVolume":7298.362,"high24hr":0.000797,"low24hr":0.00067},"mco_eth":{"result":"true","last":0.018,"lowestAsk":0.018,"highestBid":0.015,"percentChange":5.5161499384489,"baseVolume":0.286,"quoteVolume":16.313,"high24hr":0.018,"low24hr":0.017059},"fun_eth":{"result":"true","last":"0.00007400","lowestAsk":"0.00007400","highestBid":"0.00004800","percentChange":-6.0181810677455e-6,"baseVolume":0.006,"quoteVolume":82.514,"high24hr":"0.00007400","low24hr":"0.00007400"},"data_eth":{"result":"true","last":0.000208,"lowestAsk":0.000208,"highestBid":0.000202,"percentChange":4.0000000002,"baseVolume":21.555,"quoteVolume":115630.572,"high24hr":0.000207,"low24hr":0.000149},"rlc_eth":{"result":"true","last":0.001696,"lowestAsk":0.001696,"highestBid":0.000401,"percentChange":0,"baseVolume":0.004,"quoteVolume":2.379,"high24hr":0.001696,"low24hr":0.001696},"zsc_eth":{"result":"true","last":0.000111,"lowestAsk":0.000113,"highestBid":0.00011,"percentChange":-4.3103448275862,"baseVolume":372.839,"quoteVolume":3274345.184,"high24hr":0.000116,"low24hr":0.00011},"wings_eth":{"result":"true","last":0.0016,"lowestAsk":0.0016,"highestBid":0.001313,"percentChange":4.98687664042,"baseVolume":1.854,"quoteVolume":1233.461,"high24hr":0.0016,"low24hr":0.0013},"gvt_eth":{"result":"true","last":0.0098,"lowestAsk":0.0098,"highestBid":0.0078,"percentChange":0,"baseVolume":0.013,"quoteVolume":1.35,"high24hr":0.0098,"low24hr":0.0098},"ctr_eth":{"result":"true","last":0.00135,"lowestAsk":0.00165,"highestBid":0.00135,"percentChange":-14.012738853503,"baseVolume":0.562,"quoteVolume":397.701,"high24hr":0.00175,"low24hr":0.00135},"veri_eth":{"result":"true","last":0.4,"lowestAsk":0.5,"highestBid":0.4,"percentChange":17.647058823529,"baseVolume":0.471,"quoteVolume":1.3,"high24hr":0.4,"low24hr":0.33},"mda_eth":{"result":"true","last":0.005257,"lowestAsk":0.005257,"highestBid":0.0051,"percentChange":-4.0343190721614,"baseVolume":64.058,"quoteVolume":11800.366,"high24hr":0.005696,"low24hr":0.004933},"rcn_usdt":{"result":"true","last":0.1246,"lowestAsk":0.1286,"highestBid":0.1267,"percentChange":24.849699398798,"baseVolume":6002.7981,"quoteVolume":55154.6597,"high24hr":0.1246,"low24hr":0.0944},"trx_usdt":{"result":"true","last":0.0025,"lowestAsk":0.00264,"highestBid":0.00251,"percentChange":-1.5748031496063,"baseVolume":7913.416,"quoteVolume":3257445.5,"high24hr":0.00287,"low24hr":0.00211},"kick_usdt":{"result":"true","last":0.031,"lowestAsk":0.0351,"highestBid":0.0333,"percentChange":-5.7750759921945,"baseVolume":5802.081,"quoteVolume":175894.48,"high24hr":0.0382,"low24hr":0.03},"ven_usdt":{"result":"true","last":0.2652,"lowestAsk":0.2652,"highestBid":0.2516,"percentChange":5.2380952380952,"baseVolume":1194.4173,"quoteVolume":4697.5191,"high24hr":0.2703,"low24hr":0.25},"mco_usdt":{"result":"true","last":6.21,"lowestAsk":6.21,"highestBid":5.5,"percentChange":-4.4615384615385,"baseVolume":234.3035,"quoteVolume":37.1312,"high24hr":6.5,"low24hr":5.6},"fun_usdt":{"result":"true","last":0.0241,"lowestAsk":0.0243,"highestBid":0.0221,"percentChange":11.574074074074,"baseVolume":6230.4048,"quoteVolume":259451.1803,"high24hr":0.0265,"low24hr":0.0183},"data_usdt":{"result":"true","last":0.0781,"lowestAsk":0.0777,"highestBid":0.0717,"percentChange":11.4122681843,"baseVolume":2702.3333,"quoteVolume":37259.0458,"high24hr":0.0781,"low24hr":0.0651},"zsc_usdt":{"result":"true","last":0.0415,"lowestAsk":0.0423,"highestBid":0.0422,"percentChange":-2.5821596244131,"baseVolume":7042.3641,"quoteVolume":170257.6456,"high24hr":0.044,"low24hr":0.0401},"ctr_usdt":{"result":"true","last":0.4879,"lowestAsk":0.5293,"highestBid":0.4878,"percentChange":-8.1340613907419,"baseVolume":3630.2441,"quoteVolume":6795.6929,"high24hr":0.5999,"low24hr":0.4879},"mda_usdt":{"result":"true","last":1.9534,"lowestAsk":2.05,"highestBid":1.96,"percentChange":-6.9809523809524,"baseVolume":16809.9017,"quoteVolume":8183.5835,"high24hr":2.4999,"low24hr":1.817},"powr_usdt":{"result":"true","last":0.9,"lowestAsk":0.9,"highestBid":0.835,"percentChange":37.957317073171,"baseVolume":11099.8031,"quoteVolume":13372.8581,"high24hr":0.9846,"low24hr":0.6211},"powr_eth":{"result":"true","last":0.0023,"lowestAsk":0.002689,"highestBid":0.0023,"percentChange":22.210414454708,"baseVolume":6.732,"quoteVolume":3365.532,"high24hr":0.002697,"low24hr":0.001701},"powr_btc":{"result":"true","last":0.00011476,"lowestAsk":0.00011489,"highestBid":"0.00009708","percentChange":13.804045963477,"baseVolume":1.47082,"quoteVolume":13177.345,"high24hr":0.00099999,"low24hr":"0.00007472"},"hsr_usdt":{"result":"true","last":17.12,"lowestAsk":17.13,"highestBid":17.12,"percentChange":-6.140350877193,"baseVolume":165517.82,"quoteVolume":9719.8303,"high24hr":19.72,"low24hr":15.8},"hsr_btc":{"result":"true","last":0.00208873,"lowestAsk":0.00208873,"highestBid":0.0020887,"percentChange":-4.453178127891,"baseVolume":3.21927,"quoteVolume":1579.853,"high24hr":0.00227428,"low24hr":0.00191293},"hsr_eth":{"result":"true","last":0.044865,"lowestAsk":0.046226,"highestBid":0.044865,"percentChange":-12.029413022014,"baseVolume":50.325,"quoteVolume":1091.735,"high24hr":0.062137,"low24hr":0.043609},"qsp_usdt":{"result":"true","last":0.2201,"lowestAsk":0.634,"highestBid":0.221,"percentChange":37.562499984394,"baseVolume":390.0044,"quoteVolume":1990.6979,"high24hr":1.1,"low24hr":0.16},"qsp_eth":{"result":"true","last":0.00509,"lowestAsk":0.0053,"highestBid":0.00054,"percentChange":999.35205183585,"baseVolume":3.514,"quoteVolume":4446.606,"high24hr":0.005309,"low24hr":0.000463},"ink_btc":{"result":"true","last":"0.00002340","lowestAsk":"0.00002339","highestBid":"0.00002313","percentChange":47.914032874646,"baseVolume":139.31862,"quoteVolume":4980488.266,"high24hr":"0.00005500","low24hr":"0.00001650"},"ink_usdt":{"result":"true","last":0.192,"lowestAsk":0.1959,"highestBid":0.192,"percentChange":33.797909407449,"baseVolume":229652.0101,"quoteVolume":1155969.2235,"high24hr":0.3297,"low24hr":0.1392},"ink_eth":{"result":"true","last":0.000525,"lowestAsk":0.000528,"highestBid":0.000527,"percentChange":30.597014925373,"baseVolume":207.123,"quoteVolume":373447.359,"high24hr":0.000814,"low24hr":0.000363},"ink_qtum":{"result":"true","last":0.01344,"lowestAsk":0.01397,"highestBid":0.01344,"percentChange":34.534534534535,"baseVolume":13670.024,"quoteVolume":956020.221,"high24hr":0.02,"low24hr":0.00901},"bot_qtum":{"result":"true","last":0.0385,"lowestAsk":0.038,"highestBid":0.038,"percentChange":6.2078769253553e-10,"baseVolume":33549.299,"quoteVolume":904601.32,"high24hr":0.03951,"low24hr":0.034},"bot_usdt":{"result":"true","last":0.5388,"lowestAsk":0.5617,"highestBid":0.5388,"percentChange":-1.1194714644595,"baseVolume":210925.0856,"quoteVolume":398461.8621,"high24hr":0.5699,"low24hr":0.47},"bot_eth":{"result":"true","last":0.001487,"lowestAsk":0.001487,"highestBid":0.0014,"percentChange":-6.3602033929471,"baseVolume":243.942,"quoteVolume":165351.084,"high24hr":0.001588,"low24hr":0.001263},"qbt_qtum":{"result":"true","last":0.0265,"lowestAsk":0.02654,"highestBid":0.02239,"percentChange":-3.3199562203575,"baseVolume":6290.861,"quoteVolume":261986.588,"high24hr":0.02794,"low24hr":0.021},"neo_usdt":{"result":"true","last":35.85,"lowestAsk":36.57,"highestBid":35.84,"percentChange":2.3116438356164,"baseVolume":39174.06,"quoteVolume":1092.3179,"high24hr":37.16,"low24hr":34.01},"gas_usdt":{"result":"true","last":23.13,"lowestAsk":23.13,"highestBid":21.56,"percentChange":0.12987012987012,"baseVolume":364.88,"quoteVolume":17.3222,"high24hr":23.13,"low24hr":18.16},"neo_btc":{"result":"true","last":0.0044137,"lowestAsk":0.00444399,"highestBid":0.004356,"percentChange":2.7777559721545,"baseVolume":1.0465,"quoteVolume":239.499,"high24hr":0.0045518,"low24hr":0.00415725},"gas_btc":{"result":"true","last":0.00259368,"lowestAsk":0.002812,"highestBid":0.00259378,"percentChange":-1.3213088568336,"baseVolume":0.19618,"quoteVolume":75.185,"high24hr":0.00295442,"low24hr":0.00253443},"eth_btc":{"result":"true","last":0.045723,"lowestAsk":0.046139,"highestBid":0.045807,"percentChange":2.711370909172,"baseVolume":43.8576,"quoteVolume":979.0921,"high24hr":0.046549,"low24hr":0.04406},"etc_btc":{"result":"true","last":0.00217,"lowestAsk":0.00217,"highestBid":0.00216,"percentChange":-0.77732053040695,"baseVolume":13.4156,"quoteVolume":6169.826,"high24hr":0.002214,"low24hr":0.00213},"etc_eth":{"result":"true","last":0.047245,"lowestAsk":0.047245,"highestBid":0.046857,"percentChange":-3.2855680655066,"baseVolume":47.188,"quoteVolume":975.898,"high24hr":0.049833,"low24hr":0.0468},"zec_btc":{"result":"true","last":0.0378,"lowestAsk":0.0382,"highestBid":0.0378,"percentChange":6.1797710918315,"baseVolume":12.8679,"quoteVolume":344.48879,"high24hr":0.039,"low24hr":0.0354},"dash_btc":{"result":"true","last":0.06901,"lowestAsk":0.07009,"highestBid":0.06907,"percentChange":11.163008757737,"baseVolume":2.6229,"quoteVolume":38.5282,"high24hr":0.07049,"low24hr":0.06136},"ltc_btc":{"result":"true","last":0.00874,"lowestAsk":0.00875,"highestBid":0.00867,"percentChange":2.1028037383178,"baseVolume":26.91585,"quoteVolume":3119.7496,"high24hr":0.00879,"low24hr":0.0085},"bch_btc":{"result":"true","last":0.161,"lowestAsk":0.166,"highestBid":0.1628,"percentChange":15.368567454798,"baseVolume":22.5357,"quoteVolume":147.864,"high24hr":0.1668,"low24hr":0.1411},"btg_btc":{"result":"true","last":0.0295,"lowestAsk":0.0305,"highestBid":0.0297,"percentChange":-6.6455696202532,"baseVolume":118.41,"quoteVolume":4029.978,"high24hr":0.032,"low24hr":0.0271},"qtum_btc":{"result":"true","last":0.001689,"lowestAsk":0.001707,"highestBid":0.001687,"percentChange":-1.6307579559173,"baseVolume":24.7472,"quoteVolume":14370.082,"high24hr":0.0018,"low24hr":0.001631},"qtum_eth":{"result":"true","last":0.03707,"lowestAsk":0.03717,"highestBid":0.03707,"percentChange":-4.1375743470391,"baseVolume":725.719,"quoteVolume":19171.893,"high24hr":0.03914,"low24hr":0.03638},"xrp_btc":{"result":"true","last":"0.00002900","lowestAsk":"0.00002970","highestBid":"0.00002900","percentChange":2.1126374470669,"baseVolume":1.1958,"quoteVolume":41662.782,"high24hr":"0.00003000","low24hr":"0.00002820"},"doge_btc":{"result":"true","last":"0.00000024","lowestAsk":"0.00000025","highestBid":"0.00000023","percentChange":41.176335828853,"baseVolume":7.05325,"quoteVolume":35651484.4,"high24hr":"0.00000026","low24hr":"0.00000016"},"xmr_btc":{"result":"true","last":0.0201725,"lowestAsk":0.02017998,"highestBid":0.01996,"percentChange":15.011043778394,"baseVolume":1.7244,"quoteVolume":92.377,"high24hr":0.02092,"low24hr":0.01753962},"zrx_btc":{"result":"true","last":"0.00003490","lowestAsk":"0.00003100","highestBid":"0.00002620","percentChange":55.803465234906,"baseVolume":0.0566,"quoteVolume":2538.04,"high24hr":"0.00003490","low24hr":"0.00002190"},"zrx_eth":{"result":"true","last":0.000589,"lowestAsk":0.000615,"highestBid":0.00055,"percentChange":7.481751117219,"baseVolume":6.019,"quoteVolume":10588.113,"high24hr":0.000591,"low24hr":0.000539},"dnt_eth":{"result":"true","last":0.000123,"lowestAsk":0.000119,"highestBid":0.000105,"percentChange":2.5,"baseVolume":0.0398,"quoteVolume":410.25,"high24hr":0.000123,"low24hr":"0.00009500"},"dpy_eth":{"result":"true","last":0.00209,"lowestAsk":0.002085,"highestBid":0.00208,"percentChange":2.9556650246305,"baseVolume":54.096,"quoteVolume":25475.878,"high24hr":0.002285,"low24hr":0.002},"oax_eth":{"result":"true","last":0.001,"lowestAsk":0.00111,"highestBid":0.001,"percentChange":9.7694840834248,"baseVolume":1.222,"quoteVolume":1220.212,"high24hr":0.00111,"low24hr":0.001},"rep_eth":{"result":"true","last":0.122518,"lowestAsk":0.224517,"highestBid":0.066392,"percentChange":-46.638502115318,"baseVolume":0.582,"quoteVolume":3.181,"high24hr":0.229751,"low24hr":0.020024},"lrc_eth":{"result":"true","last":0.000465,"lowestAsk":0.000474,"highestBid":0.000465,"percentChange":-5.1020408163265,"baseVolume":193.2998,"quoteVolume":403126.45,"high24hr":0.000511,"low24hr":0.000465},"lrc_btc":{"result":"true","last":"0.00002000","lowestAsk":"0.00002330","highestBid":"0.00002000","percentChange":5.2624908278316,"baseVolume":0.8523,"quoteVolume":38746.03,"high24hr":"0.00002490","low24hr":"0.00001900"},"pst_eth":{"result":"true","last":0.000621,"lowestAsk":0.000633,"highestBid":0.000608,"percentChange":-9.6069897122329,"baseVolume":95.3341,"quoteVolume":149982.38,"high24hr":0.000687,"low24hr":0.000604},"bcdn_eth":{"result":"true","last":0.000155,"lowestAsk":0.000155,"highestBid":0.000147,"percentChange":1.9736842108026,"baseVolume":8.562,"quoteVolume":56674.232,"high24hr":0.000155,"low24hr":0.000147},"tnt_eth":{"result":"true","last":0.000235,"lowestAsk":0.000246,"highestBid":0.000235,"percentChange":80.769223861831,"baseVolume":482.5321,"quoteVolume":2418070.21,"high24hr":0.000264,"low24hr":0.000128},"snt_eth":{"result":"true","last":"0.00009260","lowestAsk":"0.00009390","highestBid":"0.00009280","percentChange":-4.3388433402645,"baseVolume":240.721,"quoteVolume":2440711.71,"high24hr":0.000108,"low24hr":"0.00009020"},"snt_btc":{"result":"true","last":"0.00000420","lowestAsk":"0.00000440","highestBid":"0.00000420","percentChange":-2.3256074481767,"baseVolume":1.9039,"quoteVolume":427707.18,"high24hr":"0.00000500","low24hr":"0.00000400"},"btm_eth":{"result":"true","last":0.000307,"lowestAsk":0.000314,"highestBid":0.000306,"percentChange":4.3333333333333,"baseVolume":1157.4508,"quoteVolume":3650050.08,"high24hr":0.000329,"low24hr":0.000299},"llt_eth":{"result":"true","last":0.000846,"lowestAsk":0.000865,"highestBid":0.000845,"percentChange":-10.191314357472,"baseVolume":268.14,"quoteVolume":304885.45,"high24hr":0.000945,"low24hr":0.000786},"omg_eth":{"result":"true","last":0.02115,"lowestAsk":0.02115,"highestBid":0.0208,"percentChange":-0.70422535211268,"baseVolume":19.525,"quoteVolume":919.316,"high24hr":0.0216,"low24hr":0.02075},"omg_btc":{"result":"true","last":0.000964,"lowestAsk":0.000973,"highestBid":0.000955,"percentChange":3.2119726449978,"baseVolume":0.9638,"quoteVolume":1016.571,"high24hr":0.00099,"low24hr":0.00093},"pay_eth":{"result":"true","last":0.004973,"lowestAsk":0.004973,"highestBid":0.004952,"percentChange":-3.9405060814526,"baseVolume":45.347,"quoteVolume":8775.348,"high24hr":0.005285,"low24hr":0.004951},"pay_btc":{"result":"true","last":0.000232,"lowestAsk":0.000232,"highestBid":0.000226,"percentChange":3.1111115734222,"baseVolume":1.7502,"quoteVolume":7734.188,"high24hr":0.00024,"low24hr":0.000218},"bat_eth":{"result":"true","last":0.000428,"lowestAsk":0.000444,"highestBid":0.000421,"percentChange":-2.7272727272727,"baseVolume":0.987,"quoteVolume":2299.159,"high24hr":0.000456,"low24hr":0.0004},"bat_btc":{"result":"true","last":"0.00001880","lowestAsk":"0.00002110","highestBid":"0.00001860","percentChange":-1.0526885631737,"baseVolume":0.0688,"quoteVolume":3680.46,"high24hr":"0.00002120","low24hr":"0.00001850"},"cvc_eth":{"result":"true","last":0.000815,"lowestAsk":0.000801,"highestBid":0.000809,"percentChange":-2.744630071599,"baseVolume":7.129,"quoteVolume":8438.626,"high24hr":0.000915,"low24hr":0.000792},"storj_eth":{"result":"true","last":0.001993,"lowestAsk":0.001968,"highestBid":0.001945,"percentChange":0.80930704799696,"baseVolume":41.599,"quoteVolume":20219.29,"high24hr":0.002217,"low24hr":0.001915},"storj_btc":{"result":"true","last":"0.00009070","lowestAsk":"0.00009060","highestBid":"0.00008900","percentChange":0.88987764182424,"baseVolume":2.157,"quoteVolume":23361.62,"high24hr":"0.00009930","low24hr":"0.00008380"},"eos_eth":{"result":"true","last":0.004954,"lowestAsk":0.005012,"highestBid":0.004951,"percentChange":-8.0549368968077,"baseVolume":292.831,"quoteVolume":57404.453,"high24hr":0.005427,"low24hr":0.004877},"eos_btc":{"result":"true","last":0.0002241,"lowestAsk":0.0002312,"highestBid":0.0002241,"percentChange":-6.1164756712694,"baseVolume":3.8465,"quoteVolume":16829.38,"high24hr":0.00024,"low24hr":0.000218}}'
  recorded_at: Thu, 23 Nov 2017 02:19:09 GMT
recorded_with: VCR 3.0.3
