---
http_interactions:
- request:
    method: get
    uri: http://data.gate.io/api/1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"btc_usdt":{"result":"true","last":8856.06,"high":8932.53,"low":8577,"avg":8779.77,"sell":8856.06,"buy":8847.13,"vol_btc":1274.985,"vol_usdt":11194072.97,"rate_change_percentage":"-1.52"},"bch_usdt":{"result":"true","last":1155.63,"high":1186,"low":1005.01,"avg":1106.43,"sell":1158.81,"buy":1135.01,"vol_bch":1184.3854,"vol_usdt":1310443.24,"rate_change_percentage":"1.85"},"eth_usdt":{"result":"true","last":611.51,"high":617.12,"low":572.31,"avg":600.83,"sell":611.51,"buy":610.11,"vol_eth":32957.9204,"vol_usdt":19802040.59,"rate_change_percentage":"-0.65"},"etc_usdt":{"result":"true","last":18.9,"high":19.22,"low":17.58,"avg":18.41,"sell":18.9,"buy":18.82,"vol_etc":50871.3237,"vol_usdt":936771.86,"rate_change_percentage":"-0.53"},"qtum_usdt":{"result":"true","last":19.02,"high":20.1,"low":17.75,"avg":18.78,"sell":19.06,"buy":19.02,"vol_qtum":44759.6847,"vol_usdt":840460.12,"rate_change_percentage":"-4.90"},"ltc_usdt":{"result":"true","last":146.13,"high":153.5,"low":140.07,"avg":146.12,"sell":147.63,"buy":146.13,"vol_ltc":7084.3744,"vol_usdt":1035183.85,"rate_change_percentage":"-4.70"},"dash_usdt":{"result":"true","last":446.13,"high":452.69,"low":425.99,"avg":438.42,"sell":454.55,"buy":445.71,"vol_dash":196.0357,"vol_usdt":85946.24,"rate_change_percentage":"-1.45"},"zec_usdt":{"result":"true","last":273.44,"high":279.75,"low":246.08,"avg":262.6,"sell":272.82,"buy":270.01,"vol_zec":581.4452,"vol_usdt":152689.72,"rate_change_percentage":"-1.95"},"btm_usdt":{"result":"true","last":0.8759,"high":0.9257,"low":0.849,"avg":0.8878,"sell":0.8787,"buy":0.876,"vol_btm":11290163.307,"vol_usdt":10023151.748,"rate_change_percentage":"-4.81"},"eos_usdt":{"result":"true","last":11.5102,"high":11.61,"low":10.2,"avg":10.899,"sell":11.5102,"buy":11.51,"vol_eos":1743810.772,"vol_usdt":19005795.725,"rate_change_percentage":"4.26"},"req_usdt":{"result":"true","last":0.2127,"high":0.2264,"low":0.19,"avg":0.2175,"sell":0.2263,"buy":0.2159,"vol_req":128062.579,"vol_usdt":27859.619,"rate_change_percentage":"-9.10"},"snt_usdt":{"result":"true","last":0.1491,"high":0.1568,"low":0.1361,"avg":0.1466,"sell":0.1493,"buy":0.1491,"vol_snt":3897852.436,"vol_usdt":571490.115,"rate_change_percentage":"-4.24"},"omg_usdt":{"result":"true","last":15.35,"high":15.74,"low":14.36,"avg":15.14,"sell":15.37,"buy":15.11,"vol_omg":16641.57,"vol_usdt":251989.14,"rate_change_percentage":"-2.48"},"pay_usdt":{"result":"true","last":1.566,"high":1.591,"low":1.448,"avg":1.52,"sell":1.573,"buy":1.535,"vol_pay":34351.37,"vol_usdt":52210.529,"rate_change_percentage":"-1.82"},"cvc_usdt":{"result":"true","last":0.3725,"high":0.3902,"low":0.354,"avg":0.3696,"sell":0.3727,"buy":0.3675,"vol_cvc":90117.732,"vol_usdt":33306.802,"rate_change_percentage":"-4.71"},"zrx_usdt":{"result":"true","last":0.9423,"high":0.9489,"low":0.84,"avg":0.8969,"sell":0.946,"buy":0.9423,"vol_zrx":126167.842,"vol_usdt":113156.422,"rate_change_percentage":"0.65"},"tnt_usdt":{"result":"true","last":0.1115,"high":0.1148,"low":0.0981,"avg":0.1065,"sell":0.113,"buy":0.1122,"vol_tnt":830950.027,"vol_usdt":88526.457,"rate_change_percentage":"-2.11"},"xmr_usdt":{"result":"true","last":249.78,"high":264,"low":227.61,"avg":248.75,"sell":249.78,"buy":245.35,"vol_xmr":453.0213,"vol_usdt":112687.59,"rate_change_percentage":"-5.39"},"xrp_usdt":{"result":"true","last":0.8577,"high":0.9031,"low":0.8012,"avg":0.8515,"sell":0.8577,"buy":0.8576,"vol_xrp":2678679.393,"vol_usdt":2280997.945,"rate_change_percentage":"-4.70"},"doge_usdt":{"result":"true","last":0.005343,"high":0.005729,"low":0.005,"avg":0.005322,"sell":0.005334,"buy":0.005333,"vol_doge":615580431.951,"vol_usdt":3276233.3812,"rate_change_percentage":"-6.59"},"bat_usdt":{"result":"true","last":0.392,"high":0.4282,"low":0.3574,"avg":0.3995,"sell":0.392,"buy":0.3758,"vol_bat":121544.542,"vol_usdt":48558.189,"rate_change_percentage":"-4.62"},"pst_usdt":{"result":"true","last":0.2632,"high":0.2667,"low":0.2317,"avg":0.2476,"sell":0.2667,"buy":0.26,"vol_pst":182851.127,"vol_usdt":45280.983,"rate_change_percentage":"3.34"},"btg_usdt":{"result":"true","last":65.01,"high":69.01,"low":58.15,"avg":63.7,"sell":67.49,"buy":64.29,"vol_btg":969.6184,"vol_usdt":61765.04,"rate_change_percentage":"-4.54"},"dpy_usdt":{"result":"true","last":1.03,"high":1.125,"low":0.9547,"avg":1.0357,"sell":1.03,"buy":0.9907,"vol_dpy":60889.736,"vol_usdt":63063.064,"rate_change_percentage":"-5.39"},"lrc_usdt":{"result":"true","last":0.74,"high":0.7801,"low":0.6835,"avg":0.7372,"sell":0.74,"buy":0.738,"vol_lrc":2748109.027,"vol_usdt":2025893.323,"rate_change_percentage":"-4.01"},"storj_usdt":{"result":"true","last":1.128,"high":1.2,"low":0.9408,"avg":1.086,"sell":1.1356,"buy":1.1233,"vol_storj":134851.156,"vol_usdt":146450.323,"rate_change_percentage":"1.99"},"rdn_usdt":{"result":"true","last":2.2354,"high":2.3292,"low":1.783,"avg":2.0448,"sell":2.2377,"buy":2.2354,"vol_rdn":62368.272,"vol_usdt":127532.446,"rate_change_percentage":"9.96"},"stx_usdt":{"result":"true","last":0.3647,"high":0.4995,"low":0.36,"avg":0.3963,"sell":0.3782,"buy":0.3647,"vol_stx":282825.037,"vol_usdt":112079.814,"rate_change_percentage":"-4.05"},"knc_usdt":{"result":"true","last":1.6068,"high":1.737,"low":1.476,"avg":1.588,"sell":1.607,"buy":1.6068,"vol_knc":110459.403,"vol_usdt":175406.077,"rate_change_percentage":"-6.03"},"link_usdt":{"result":"true","last":0.5033,"high":0.5033,"low":0.4404,"avg":0.4684,"sell":0.5082,"buy":0.4853,"vol_link":35996.457,"vol_usdt":16861.544,"rate_change_percentage":"4.85"},"cdt_usdt":{"result":"true","last":0.055,"high":0.0601,"low":0.0502,"avg":0.0547,"sell":0.0576,"buy":0.055,"vol_cdt":3852693.771,"vol_usdt":210554.316,"rate_change_percentage":"-5.66"},"ae_usdt":{"result":"true","last":2.0685,"high":2.0672,"low":1.8181,"avg":1.9703,"sell":2.065,"buy":2.0649,"vol_ae":1290363.361,"vol_usdt":2542465.574,"rate_change_percentage":"1.90"},"ae_eth":{"result":"true","last":0.003358,"high":0.003497,"low":0.003136,"avg":0.003254,"sell":0.00338,"buy":0.00331,"vol_ae":63270.291,"vol_eth":205.882,"rate_change_percentage":"1.51"},"ae_btc":{"result":"true","last":0.00022516,"high":0.00025289,"low":0.00021084,"avg":0.00022444,"sell":0.00023387,"buy":0.00023007,"vol_ae":42080.571,"vol_btc":9.445,"rate_change_percentage":"-3.68"},"cdt_eth":{"result":"true","last":"0.00009300","high":"0.00009600","low":"0.00008700","avg":"0.00009108","sell":"0.00009700","buy":"0.00009000","vol_cdt":409275.897,"vol_eth":37.279,"rate_change_percentage":"-0.00"},"rdn_eth":{"result":"true","last":0.003414,"high":0.003947,"low":0.00305,"avg":0.003318,"sell":0.003799,"buy":0.00345,"vol_rdn":2865.17,"vol_eth":9.508,"rate_change_percentage":"6.65"},"stx_eth":{"result":"true","last":0.000584,"high":0.0008,"low":0.000583,"avg":0.000669,"sell":0.000659,"buy":0.000512,"vol_stx":55765.939,"vol_eth":37.319,"rate_change_percentage":"-7.60"},"knc_eth":{"result":"true","last":0.002634,"high":0.002981,"low":0.002452,"avg":0.002611,"sell":0.00286,"buy":0.00256,"vol_knc":5557.239,"vol_eth":14.508,"rate_change_percentage":"-4.04"},"link_eth":{"result":"true","last":0.00075,"high":0.000807,"low":0.00075,"avg":0.000793,"sell":0.000829,"buy":0.000828,"vol_link":4082.953,"vol_eth":3.24,"rate_change_percentage":"-4.58"},"req_eth":{"result":"true","last":0.000405,"high":0.000406,"low":0.000355,"avg":0.000373,"sell":0.000402,"buy":0.000355,"vol_req":16188.747,"vol_eth":6.032,"rate_change_percentage":"11.57"},"rcn_eth":{"result":"true","last":0.000233,"high":0.000233,"low":0.000204,"avg":0.000223,"sell":0.000235,"buy":0.000232,"vol_rcn":20772.629,"vol_eth":4.624,"rate_change_percentage":"3.56"},"trx_eth":{"result":"true","last":"0.00008621","high":"0.00008946","low":"0.00008461","avg":"0.00008698","sell":"0.00008659","buy":"0.00008620","vol_trx":4878351.38,"vol_eth":424.329,"rate_change_percentage":"-4.59"},"arn_eth":{"result":"true","last":0.002792,"high":0.005201,"low":0.00233,"avg":0.002945,"sell":0.003141,"buy":0.00241,"vol_arn":17437.97,"vol_eth":51.357,"rate_change_percentage":"16.24"},"kick_eth":{"result":"true","last":0.0001402,"high":0.0001437,"low":0.0001283,"avg":0.0001393,"sell":0.0001409,"buy":0.000138,"vol_kick":234377.29,"vol_eth":32.638,"rate_change_percentage":"0.50"},"bnt_eth":{"result":"true","last":0.0063,"high":0.006413,"low":0.0063,"avg":0.006396,"sell":0.006408,"buy":0.006248,"vol_bnt":118.407,"vol_eth":0.757,"rate_change_percentage":"0.90"},"ven_eth":{"result":"true","last":0.00628,"high":0.00681,"low":0.005918,"avg":0.006432,"sell":0.00654,"buy":0.00628,"vol_ven":10488.113,"vol_eth":67.458,"rate_change_percentage":"-1.75"},"mco_eth":{"result":"true","last":0.020692,"high":0.02135,"low":0.019891,"avg":0.020618,"sell":0.022778,"buy":0.020243,"vol_mco":800.542,"vol_eth":16.505,"rate_change_percentage":"-2.10"},"fun_eth":{"result":"true","last":"0.00007600","high":"0.00009000","low":"0.00006400","avg":"0.00007533","sell":"0.00007600","buy":"0.00006700","vol_fun":171583.814,"vol_eth":12.925,"rate_change_percentage":"2.70"},"data_eth":{"result":"true","last":0.000162,"high":0.000184,"low":0.000158,"avg":0.000168,"sell":0.000179,"buy":0.000168,"vol_data":183422.781,"vol_eth":30.727,"rate_change_percentage":"-9.50"},"rlc_eth":{"result":"true","last":0.002373,"high":0.002385,"low":0.001842,"avg":0.002214,"sell":0.002399,"buy":0.002205,"vol_rlc":1194.986,"vol_eth":2.646,"rate_change_percentage":"10.99"},"zsc_eth":{"result":"true","last":"0.00004000","high":"0.00004100","low":"0.00003700","avg":"0.00003923","sell":"0.00004100","buy":"0.00004000","vol_zsc":7537607.84,"vol_eth":295.689,"rate_change_percentage":"2.56"},"wings_eth":{"result":"true","last":0.001009,"high":0.001019,"low":0.00086,"avg":0.000942,"sell":0.00101,"buy":0.00086,"vol_wings":38442.823,"vol_eth":36.207,"rate_change_percentage":"17.33"},"ctr_eth":{"result":"true","last":0.006051,"high":0.000668,"low":0.000454,"avg":0.000561,"sell":0.000668,"buy":0.000454,"vol_ctr":"0.00000000","vol_eth":"0.00000000","rate_change_percentage":"0.00"},"mda_eth":{"result":"true","last":0.001719,"high":0.001882,"low":0.001715,"avg":0.001798,"sell":0.001846,"buy":0.001714,"vol_mda":1795.592,"vol_eth":3.229,"rate_change_percentage":"-7.63"},"rcn_usdt":{"result":"true","last":0.1442,"high":0.1562,"low":0.1123,"avg":0.1314,"sell":0.15,"buy":0.1442,"vol_rcn":282161.403,"vol_usdt":37082.606,"rate_change_percentage":"2.41"},"trx_usdt":{"result":"true","last":0.05257,"high":0.05567,"low":0.04836,"avg":0.05196,"sell":0.05261,"buy":0.05256,"vol_trx":106054439.66,"vol_usdt":5510656.5,"rate_change_percentage":"-4.66"},"kick_usdt":{"result":"true","last":0.0825,"high":0.0888,"low":0.0781,"avg":0.0827,"sell":0.0839,"buy":0.0825,"vol_kick":615751.84,"vol_usdt":50925.17,"rate_change_percentage":"-5.17"},"ven_usdt":{"result":"true","last":3.85,"high":4,"low":3.5625,"avg":3.7853,"sell":3.8599,"buy":3.85,"vol_ven":100167.793,"vol_usdt":379163.585,"rate_change_percentage":"-2.76"},"mco_usdt":{"result":"true","last":12.648,"high":13.2,"low":11.0937,"avg":12.2682,"sell":12.9869,"buy":12.3951,"vol_mco":9398.432,"vol_usdt":115301.976,"rate_change_percentage":"-3.30"},"fun_usdt":{"result":"true","last":0.0462,"high":0.048,"low":0.0392,"avg":0.0449,"sell":0.0457,"buy":0.0451,"vol_fun":3054586.212,"vol_usdt":137038.003,"rate_change_percentage":"-1.91"},"data_usdt":{"result":"true","last":0.104,"high":0.1173,"low":0.0955,"avg":0.1028,"sell":0.1068,"buy":0.1034,"vol_data":2086176.924,"vol_usdt":214501.5,"rate_change_percentage":"-3.61"},"zsc_usdt":{"result":"true","last":0.0248,"high":0.0252,"low":0.0205,"avg":0.0235,"sell":0.0248,"buy":0.0247,"vol_zsc":10790690.098,"vol_usdt":253750.552,"rate_change_percentage":"2.06"},"mda_usdt":{"result":"true","last":1.1094,"high":1.158,"low":1,"avg":1.0906,"sell":1.1094,"buy":1.04,"vol_mda":69571.328,"vol_usdt":75872.136,"rate_change_percentage":"-2.85"},"xtz_usdt":{"result":"true","last":3.0155,"high":3.15,"low":3.014,"avg":3.0976,"sell":3.1188,"buy":3.031,"vol_xtz":10926.659,"vol_usdt":33845.954,"rate_change_percentage":"-3.57"},"gnt_usdt":{"result":"true","last":0.5059,"high":0.55,"low":0.4521,"avg":0.4951,"sell":0.5171,"buy":0.5059,"vol_gnt":344683.449,"vol_usdt":170666.895,"rate_change_percentage":"-3.08"},"gnt_eth":{"result":"true","last":0.000811,"high":0.000865,"low":0.000788,"avg":0.000815,"sell":0.00085,"buy":0.00081,"vol_gnt":26104.993,"vol_eth":21.279,"rate_change_percentage":"-6.03"},"gem_usdt":{"result":"true","last":0.0294,"high":0.04,"low":0.0193,"avg":0.0302,"sell":0.0294,"buy":0.029,"vol_gem":271798796.002,"vol_usdt":8202141.304,"rate_change_percentage":"7.30"},"gem_eth":{"result":"true","last":"0.00004560","high":"0.00006499","low":"0.00003536","avg":"0.00004989","sell":"0.00004800","buy":"0.00004560","vol_gem":30005148.95,"vol_eth":1497.007,"rate_change_percentage":"3.64"},"rfr_usdt":{"result":"true","last":0.0143,"high":0.0222,"low":0.0109,"avg":0.0166,"sell":0.0143,"buy":0.0142,"vol_rfr":52597374.079,"vol_usdt":873486.108,"rate_change_percentage":"23.28"},"rfr_eth":{"result":"true","last":"0.00002400","high":"0.00003295","low":"0.00001857","avg":"0.00002706","sell":"0.00002600","buy":"0.00002350","vol_rfr":14205259.26,"vol_eth":384.332,"rate_change_percentage":"19.46"},"dadi_usdt":{"result":"true","last":0.2658,"high":0.288,"low":0.239,"avg":0.2649,"sell":0.2733,"buy":0.2655,"vol_dadi":227935.086,"vol_usdt":60387.887,"rate_change_percentage":"-4.97"},"dadi_eth":{"result":"true","last":0.000449,"high":0.000466,"low":0.000411,"avg":0.000437,"sell":0.000462,"buy":0.000434,"vol_dadi":152218.938,"vol_eth":66.492,"rate_change_percentage":"4.42"},"abt_usdt":{"result":"true","last":1.2257,"high":1.415,"low":1.014,"avg":1.1839,"sell":1.2257,"buy":1.225,"vol_abt":1231192.091,"vol_usdt":1457611.507,"rate_change_percentage":"6.58"},"abt_eth":{"result":"true","last":0.002046,"high":0.002243,"low":0.00172,"avg":0.001993,"sell":0.002046,"buy":0.002005,"vol_abt":164482.061,"vol_eth":327.817,"rate_change_percentage":"10.53"},"ledu_usdt":{"result":"true","last":0.0196,"high":0.023,"low":0.0161,"avg":0.0196,"sell":0.023,"buy":0.0161,"vol_ledu":"0.00000000","vol_usdt":"0.00000000","rate_change_percentage":"0.00"},"ledu_btc":{"result":"true","last":"0.00000276","high":"0.00000292","low":"0.00000223","avg":"0.00000258","sell":"0.00000273","buy":"0.00000246","vol_ledu":991027.678,"vol_btc":2.559,"rate_change_percentage":"-2.82"},"ledu_eth":{"result":"true","last":"0.00003579","high":"0.00004685","low":"0.00003300","avg":"0.00003668","sell":"0.00003730","buy":"0.00003650","vol_ledu":1944535.98,"vol_eth":71.316,"rate_change_percentage":"-11.76"},"ost_usdt":{"result":"true","last":0.2297,"high":0.2496,"low":0.2102,"avg":0.2321,"sell":0.2328,"buy":0.23,"vol_ost":286315.165,"vol_usdt":66443.009,"rate_change_percentage":"-7.53"},"ost_eth":{"result":"true","last":0.000367,"high":0.000394,"low":0.000367,"avg":0.000391,"sell":0.000394,"buy":0.000367,"vol_ost":21501.187,"vol_eth":8.401,"rate_change_percentage":"-7.32"},"xlm_usdt":{"result":"true","last":0.368,"high":0.3895,"low":0.3459,"avg":0.3651,"sell":0.3696,"buy":0.368,"vol_xlm":607463.184,"vol_usdt":221811.298,"rate_change_percentage":"-4.56"},"xlm_eth":{"result":"true","last":0.000619,"high":0.000631,"low":0.000579,"avg":0.000607,"sell":0.000618,"buy":0.000594,"vol_xlm":27614.393,"vol_eth":16.756,"rate_change_percentage":"-1.75"},"xlm_btc":{"result":"true","last":"0.00004124","high":"0.00004365","low":"0.00004031","avg":"0.00004183","sell":"0.00004224","buy":"0.00004123","vol_xlm":65685.849,"vol_btc":2.747,"rate_change_percentage":"-5.52"},"mobi_usdt":{"result":"true","last":0.0954,"high":0.1093,"low":0.075,"avg":0.0923,"sell":0.0961,"buy":0.0954,"vol_mobi":4718555.788,"vol_usdt":435304.394,"rate_change_percentage":"0.53"},"mobi_eth":{"result":"true","last":0.000163,"high":0.000177,"low":0.00013,"avg":0.000149,"sell":0.000176,"buy":0.000148,"vol_mobi":1489150.937,"vol_eth":221.153,"rate_change_percentage":"5.16"},"mobi_btc":{"result":"true","last":"0.00001098","high":"0.00001282","low":"0.00000900","avg":"0.00001051","sell":"0.00001199","buy":"0.00001033","vol_mobi":254577.851,"vol_btc":2.676,"rate_change_percentage":"2.62"},"ocn_usdt":{"result":"true","last":0.0214,"high":0.0279,"low":0.0132,"avg":0.0201,"sell":0.0214,"buy":0.0213,"vol_ocn":1021502699.891,"vol_usdt":20520391.853,"rate_change_percentage":"45.58"},"ocn_eth":{"result":"true","last":"0.00003416","high":"0.00004585","low":"0.00001922","avg":"0.00003382","sell":"0.00003559","buy":"0.00003416","vol_ocn":48557172.68,"vol_eth":1642.279,"rate_change_percentage":"44.20"},"ocn_btc":{"result":"true","last":"0.00000241","high":"0.00000290","low":"0.00000155","avg":"0.00000227","sell":"0.00000244","buy":"0.00000235","vol_ocn":43832906.446,"vol_btc":99.349,"rate_change_percentage":"46.06"},"zpt_usdt":{"result":"true","last":0.1118,"high":0.1251,"low":0.085,"avg":0.1062,"sell":0.1119,"buy":0.1118,"vol_zpt":3138481.875,"vol_usdt":333194.134,"rate_change_percentage":"4.98"},"zpt_eth":{"result":"true","last":0.000188,"high":0.000202,"low":0.000157,"avg":0.000178,"sell":0.000194,"buy":0.000177,"vol_zpt":769017.474,"vol_eth":136.75,"rate_change_percentage":"8.05"},"zpt_btc":{"result":"true","last":"0.00001311","high":"0.00001399","low":"0.00001100","avg":"0.00001226","sell":"0.00001353","buy":"0.00001260","vol_zpt":185767.377,"vol_btc":2.277,"rate_change_percentage":"16.53"},"cofi_usdt":{"result":"true","last":0.0689,"high":0.0735,"low":0.0581,"avg":0.0668,"sell":0.0689,"buy":0.0688,"vol_cofi":3209112.461,"vol_usdt":214413.547,"rate_change_percentage":"-5.62"},"cofi_eth":{"result":"true","last":0.000109,"high":0.000119,"low":0.0001,"avg":0.00011,"sell":0.000122,"buy":0.000109,"vol_cofi":446261.229,"vol_eth":49.297,"rate_change_percentage":"-4.39"},"jnt_usdt":{"result":"true","last":0.2676,"high":0.2872,"low":0.2467,"avg":0.2716,"sell":0.2676,"buy":0.2661,"vol_jnt":815258.085,"vol_usdt":221443.324,"rate_change_percentage":"-2.19"},"jnt_eth":{"result":"true","last":0.000435,"high":0.000467,"low":0.0004,"avg":0.000436,"sell":0.000457,"buy":0.000441,"vol_jnt":424420.746,"vol_eth":185.123,"rate_change_percentage":"-3.76"},"jnt_btc":{"result":"true","last":"0.00002946","high":"0.00003181","low":"0.00002920","avg":"0.00003068","sell":"0.00003272","buy":"0.00002965","vol_jnt":37868.246,"vol_btc":1.162,"rate_change_percentage":"-7.48"},"blz_usdt":{"result":"true","last":0.5319,"high":0.5572,"low":0.473,"avg":0.5141,"sell":0.537,"buy":0.5319,"vol_blz":867019.243,"vol_usdt":445697.432,"rate_change_percentage":"-4.52"},"blz_eth":{"result":"true","last":0.000825,"high":0.000906,"low":0.000825,"avg":0.000856,"sell":0.000879,"buy":0.000838,"vol_blz":98198.741,"vol_eth":84.062,"rate_change_percentage":"-6.67"},"gxs_usdt":{"result":"true","last":3.5869,"high":3.9375,"low":3.3951,"avg":3.6012,"sell":3.5875,"buy":3.5869,"vol_gxs":118625.928,"vol_usdt":427194.674,"rate_change_percentage":"-8.48"},"gxs_btc":{"result":"true","last":0.00040764,"high":0.0004391,"low":0.0004,"avg":0.00041244,"sell":0.00041092,"buy":0.00040433,"vol_gxs":27673.542,"vol_btc":11.414,"rate_change_percentage":"-8.15"},"mtn_usdt":{"result":"true","last":0.1497,"high":0.1555,"low":0.1314,"avg":0.1374,"sell":0.1498,"buy":0.1411,"vol_mtn":560581.681,"vol_usdt":77003.404,"rate_change_percentage":"-2.03"},"mtn_eth":{"result":"true","last":0.000228,"high":0.000276,"low":0.000214,"avg":0.000229,"sell":0.00027,"buy":0.000234,"vol_mtn":59426.434,"vol_eth":13.633,"rate_change_percentage":"-7.69"},"ruff_usdt":{"result":"true","last":0.0979,"high":0.1071,"low":0.0764,"avg":0.0941,"sell":0.098,"buy":0.0979,"vol_ruff":28317296.54,"vol_usdt":2663901.127,"rate_change_percentage":"14.24"},"ruff_eth":{"result":"true","last":0.000162,"high":0.0001728,"low":0.000133,"avg":0.0001558,"sell":0.000162,"buy":0.000159,"vol_ruff":5058503.66,"vol_eth":788.139,"rate_change_percentage":"15.30"},"ruff_btc":{"result":"true","last":"0.00001097","high":"0.00001185","low":"0.00000872","avg":"0.00001012","sell":"0.00001225","buy":"0.00001092","vol_ruff":905805.228,"vol_btc":9.17,"rate_change_percentage":"12.51"},"tnc_usdt":{"result":"true","last":0.123,"high":0.136,"low":0.1188,"avg":0.1257,"sell":0.1259,"buy":0.1218,"vol_tnc":1721757.173,"vol_usdt":216434.187,"rate_change_percentage":"-8.55"},"tnc_eth":{"result":"true","last":0.0002,"high":0.000217,"low":0.000197,"avg":0.000205,"sell":0.0002,"buy":0.000196,"vol_tnc":260977.24,"vol_eth":53.57,"rate_change_percentage":"-6.54"},"tnc_btc":{"result":"true","last":"0.00001377","high":"0.00001537","low":"0.00001365","avg":"0.00001415","sell":"0.00001457","buy":"0.00001375","vol_tnc":188097.747,"vol_btc":2.662,"rate_change_percentage":"-6.96"},"zil_usdt":{"result":"true","last":0.0905,"high":0.1016,"low":0.0719,"avg":0.0884,"sell":0.0916,"buy":0.0905,"vol_zil":30553615.947,"vol_usdt":2701268.557,"rate_change_percentage":"8.25"},"zil_eth":{"result":"true","last":0.000149,"high":0.000167,"low":0.000121,"avg":0.000147,"sell":0.00015,"buy":0.000148,"vol_zil":2244961.589,"vol_eth":330.85,"rate_change_percentage":"9.56"},"tio_usdt":{"result":"true","last":0.26,"high":0.2722,"low":0.211,"avg":0.2477,"sell":0.268,"buy":0.2566,"vol_tio":569105.854,"vol_usdt":140941.04,"rate_change_percentage":"2.65"},"tio_eth":{"result":"true","last":0.000373,"high":0.000493,"low":0.000371,"avg":0.000423,"sell":0.000461,"buy":0.00038,"vol_tio":52752.992,"vol_eth":22.293,"rate_change_percentage":"-12.65"},"bto_usdt":{"result":"true","last":0.1262,"high":0.146,"low":0.1008,"avg":0.123,"sell":0.1268,"buy":0.1262,"vol_bto":10267280.178,"vol_usdt":1262987.444,"rate_change_percentage":"9.74"},"bto_eth":{"result":"true","last":0.000209,"high":0.000239,"low":0.000174,"avg":0.000202,"sell":0.000212,"buy":0.000209,"vol_bto":3678664.066,"vol_eth":741.303,"rate_change_percentage":"11.17"},"theta_usdt":{"result":"true","last":0.151,"high":0.1527,"low":0.129,"avg":0.1417,"sell":0.153,"buy":0.1499,"vol_theta":3175558.636,"vol_usdt":449859.498,"rate_change_percentage":"3.71"},"theta_eth":{"result":"true","last":0.000241,"high":0.000262,"low":0.000223,"avg":0.000238,"sell":0.000254,"buy":0.000245,"vol_theta":428721.322,"vol_eth":102.076,"rate_change_percentage":"2.12"},"ddd_usdt":{"result":"true","last":0.2463,"high":0.2516,"low":0.2196,"avg":0.2349,"sell":0.2463,"buy":0.2442,"vol_ddd":1952911.711,"vol_usdt":458704.597,"rate_change_percentage":"0.90"},"ddd_eth":{"result":"true","last":0.000402,"high":0.00041,"low":0.000377,"avg":0.00039,"sell":0.00041,"buy":0.000402,"vol_ddd":1316401.573,"vol_eth":513.123,"rate_change_percentage":"0.75"},"ddd_btc":{"result":"true","last":"0.00002799","high":"0.00002800","low":"0.00002550","avg":"0.00002719","sell":"0.00003071","buy":"0.00002660","vol_ddd":68183.309,"vol_btc":1.854,"rate_change_percentage":"-0.00"},"mkr_usdt":{"result":"true","last":887.02,"high":902.75,"low":870.93,"avg":880.24,"sell":921.03,"buy":890.32,"vol_mkr":1.486596,"vol_usdt":1308.56,"rate_change_percentage":"-2.17"},"mkr_eth":{"result":"true","last":1.4852,"high":1.5187,"low":1.48,"avg":1.497,"sell":1.5232,"buy":1.48,"vol_mkr":3.194857,"vol_eth":4.7827,"rate_change_percentage":"1.38"},"dai_usdt":{"result":"true","last":1.0376,"high":2.283,"low":0.9766,"avg":1.0966,"sell":1.0379,"buy":1.0376,"vol_dai":343378.922,"vol_usdt":376552.296,"rate_change_percentage":"-1.18"},"smt_usdt":{"result":"true","last":0.0695,"high":0.0727,"low":0.0609,"avg":0.0684,"sell":0.0705,"buy":0.0695,"vol_smt":24493580.409,"vol_usdt":1675467.494,"rate_change_percentage":"-0.29"},"smt_eth":{"result":"true","last":0.000115,"high":0.00012,"low":0.00011,"avg":0.000115,"sell":0.000119,"buy":0.000115,"vol_smt":732819.958,"vol_eth":84.483,"rate_change_percentage":"0.88"},"mdt_usdt":{"result":"true","last":0.0842,"high":0.0945,"low":0.0643,"avg":0.0782,"sell":0.0848,"buy":0.0837,"vol_mdt":5736151.262,"vol_usdt":448842.273,"rate_change_percentage":"16.46"},"mdt_eth":{"result":"true","last":0.000139,"high":0.00015,"low":0.000112,"avg":0.000135,"sell":0.000141,"buy":0.000135,"vol_mdt":307117.6,"vol_eth":41.591,"rate_change_percentage":"14.88"},"mdt_btc":{"result":"true","last":"0.00000988","high":"0.00001019","low":"0.00000768","avg":"0.00000908","sell":"0.00001018","buy":"0.00000940","vol_mdt":249173.361,"vol_btc":2.262,"rate_change_percentage":"19.18"},"mana_usdt":{"result":"true","last":0.1146,"high":0.119,"low":0.1,"avg":0.1098,"sell":0.1184,"buy":0.1141,"vol_mana":751156.156,"vol_usdt":82474.634,"rate_change_percentage":"0.88"},"mana_eth":{"result":"true","last":0.000196,"high":0.000196,"low":0.000171,"avg":0.000186,"sell":0.000202,"buy":0.000171,"vol_mana":7807.768,"vol_eth":1.455,"rate_change_percentage":"5.95"},"lun_usdt":{"result":"true","last":13.1093,"high":13.53,"low":11.12,"avg":12.3714,"sell":13.1535,"buy":13.1093,"vol_lun":4459.658,"vol_usdt":55172.387,"rate_change_percentage":"0.22"},"lun_eth":{"result":"true","last":0.022831,"high":0.022831,"low":0.019911,"avg":0.02157,"sell":0.022796,"buy":0.020929,"vol_lun":625.977,"vol_eth":13.502,"rate_change_percentage":"12.40"},"salt_usdt":{"result":"true","last":3.441,"high":3.489,"low":2.802,"avg":3.2638,"sell":3.441,"buy":3.3811,"vol_salt":8874.97,"vol_usdt":28966.265,"rate_change_percentage":"-1.38"},"salt_eth":{"result":"true","last":0.005623,"high":0.005797,"low":0.005372,"avg":0.005526,"sell":0.005796,"buy":0.00544,"vol_salt":1776.312,"vol_eth":9.816,"rate_change_percentage":"-1.30"},"fuel_usdt":{"result":"true","last":0.0992,"high":0.1375,"low":0.0767,"avg":0.096,"sell":0.1001,"buy":0.0993,"vol_fuel":10449282.789,"vol_usdt":1003318.635,"rate_change_percentage":"19.66"},"fuel_eth":{"result":"true","last":0.000164,"high":0.000182,"low":0.000133,"avg":0.000151,"sell":0.000163,"buy":0.000156,"vol_fuel":1728902.902,"vol_eth":260.92,"rate_change_percentage":"14.69"},"elf_usdt":{"result":"true","last":1.095,"high":1.1544,"low":0.9803,"avg":1.0749,"sell":1.1053,"buy":1.0897,"vol_elf":256035.405,"vol_usdt":275215.642,"rate_change_percentage":"-5.04"},"elf_eth":{"result":"true","last":0.00178,"high":0.001878,"low":0.001574,"avg":0.001802,"sell":0.001831,"buy":0.001762,"vol_elf":36507.795,"vol_eth":65.783,"rate_change_percentage":"-5.22"},"drgn_usdt":{"result":"true","last":1.229,"high":1.263,"low":1.0999,"avg":1.1727,"sell":1.229,"buy":1.201,"vol_drgn":45971.365,"vol_usdt":53909.33,"rate_change_percentage":"0.66"},"drgn_eth":{"result":"true","last":0.002096,"high":0.0021,"low":0.001953,"avg":0.001994,"sell":0.002093,"buy":0.001968,"vol_drgn":20750.48,"vol_eth":41.38,"rate_change_percentage":"3.40"},"gtc_usdt":{"result":"true","last":0.3999,"high":0.4619,"low":0.1998,"avg":0.322,"sell":0.3999,"buy":0.3998,"vol_gtc":217626372.05,"vol_usdt":70075456.775,"rate_change_percentage":"88.28"},"gtc_eth":{"result":"true","last":0.000644,"high":0.000798,"low":0.00033,"avg":0.000521,"sell":0.000659,"buy":0.000644,"vol_gtc":16400451.094,"vol_eth":8552.806,"rate_change_percentage":"84.00"},"gtc_btc":{"result":"true","last":"0.00004490","high":"0.00005336","low":"0.00002286","avg":"0.00003798","sell":"0.00004579","buy":"0.00004490","vol_gtc":9088553.556,"vol_btc":345.167,"rate_change_percentage":"85.69"},"qlc_usdt":{"result":"true","last":0.1768,"high":0.185,"low":0.1572,"avg":0.1738,"sell":0.1791,"buy":0.1771,"vol_qlc":1288940.552,"vol_usdt":224026.379,"rate_change_percentage":"-0.39"},"qlc_btc":{"result":"true","last":"0.00002015","high":"0.00002054","low":"0.00001818","avg":"0.00001996","sell":"0.00002015","buy":"0.00001966","vol_qlc":84385.33,"vol_btc":1.684,"rate_change_percentage":"2.08"},"qlc_eth":{"result":"true","last":0.00029,"high":0.00031,"low":0.000276,"avg":0.000289,"sell":0.00029,"buy":0.000289,"vol_qlc":99529.845,"vol_eth":28.804,"rate_change_percentage":"-2.36"},"dbc_usdt":{"result":"true","last":0.0973,"high":0.1197,"low":0.0643,"avg":0.0927,"sell":0.0985,"buy":0.0973,"vol_dbc":21607194.282,"vol_usdt":2002418.408,"rate_change_percentage":"24.90"},"dbc_btc":{"result":"true","last":"0.00001107","high":"0.00001312","low":"0.00000708","avg":"0.00001022","sell":"0.00001134","buy":"0.00001057","vol_dbc":1672644.578,"vol_btc":17.099,"rate_change_percentage":"28.57"},"dbc_eth":{"result":"true","last":0.00016,"high":0.000199,"low":0.000113,"avg":0.000148,"sell":0.000162,"buy":0.00016,"vol_dbc":1975620.781,"vol_eth":291.753,"rate_change_percentage":"29.03"},"bnty_usdt":{"result":"true","last":0.1099,"high":0.1333,"low":0.0777,"avg":0.1065,"sell":0.1099,"buy":0.0987,"vol_bnty":1057216.764,"vol_usdt":112563.372,"rate_change_percentage":"33.05"},"bnty_eth":{"result":"true","last":0.000179,"high":0.000179,"low":0.000123,"avg":0.000141,"sell":0.000203,"buy":0.000151,"vol_bnty":69887.49,"vol_eth":9.866,"rate_change_percentage":"35.61"},"lend_usdt":{"result":"true","last":0.07,"high":0.0725,"low":0.0601,"avg":0.0673,"sell":0.0702,"buy":0.07,"vol_lend":2949129.925,"vol_usdt":198446.953,"rate_change_percentage":"-3.58"},"lend_eth":{"result":"true","last":0.000113,"high":0.00012,"low":0.000106,"avg":0.000113,"sell":0.000115,"buy":0.000113,"vol_lend":316828.385,"vol_eth":35.744,"rate_change_percentage":"-3.42"},"icx_usdt":{"result":"true","last":3.49,"high":3.6999,"low":3.1718,"avg":3.4081,"sell":3.4962,"buy":3.4596,"vol_icx":31712.056,"vol_usdt":108077.063,"rate_change_percentage":"-3.59"},"icx_eth":{"result":"true","last":0.005505,"high":0.005994,"low":0.005133,"avg":0.005777,"sell":0.005766,"buy":0.005523,"vol_icx":11096.92,"vol_eth":64.104,"rate_change_percentage":"-7.63"},"btf_usdt":{"result":"true","last":33.54,"high":34.65,"low":32.04,"avg":33.46,"sell":33.97,"buy":33.54,"vol_btf":289.3922,"vol_usdt":9682.71,"rate_change_percentage":"-3.20"},"btf_btc":{"result":"true","last":0.0037,"high":0.0037,"low":0.0037,"avg":0.0037,"sell":0.0045,"buy"
[...]
