---
http_interactions:
- request:
    method: get
    uri: https://exchange.tokenomy.com/api/ten_btc/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"1530142811","price":"0.00003643","amount":"1728.00000000","tid":"41839","type":"buy"},{"date":"1530142691","price":"0.00003635","amount":"1664.00000000","tid":"41833","type":"buy"},{"date":"1530142571","price":"0.00003642","amount":"640.00000000","tid":"41832","type":"buy"},{"date":"1530142452","price":"0.00003635","amount":"32.00000000","tid":"41827","type":"buy"},{"date":"1530142331","price":"0.00003643","amount":"832.00000000","tid":"41823","type":"buy"},{"date":"1530142211","price":"0.00003647","amount":"512.00000000","tid":"41821","type":"buy"},{"date":"1530142092","p[...]
