---
http_interactions:
- request:
    method: get
    uri: https://trading.firstglobalcredit.com/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"currency_pair":"BCHUSD","bid":692.21372,"ask":692.96631,"last_price":693.112995,"base_currency":"BCH","base_volume":93.1664917742857,"float_currency":"USD","float_volume":65382.0556881817,"timestamp":"2018-08-06T11:48:13.331Z"},{"currency_pair":"BTCBCH","bid":10.0126773,"ask":10.0351251,"last_price":10.0505394,"base_currency":"BTC","base_volume":0.451179834285714,"float_currency":"BCH","float_volume":4.50275967109294,"timestamp":"2018-08-06T11:48:13.331Z"},{"currency_pair":"BTCCHF","bid":6948.1655889,"ask":6950.9359092,"last_price":6952.95013467,"base_currency":"BTC","base_volume":90.3306969364811,"float_currency":"CHF","float_volume":631292.33136099,"timestamp":"2018-08-06T11:48:13.331Z"},{[...]
