---
http_interactions:
- request:
    method: get
    uri: https://api.worldcore.trade/history/trade?pair=ltc_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":{"items":[{"record_id":"589d9524-9401-423a-8173-9f26ea58fc6f","record_type":"sell","price":0.009058,"amount":0.139168,"value":0.00126058,"created_at":1546732980896},{"record_id":"2b92022e-56ec-4a84-a284-3db62f7d8309","record_type":"sell","price":0.009071,"amount":0.191207,"value":0.00173444,"created_at":1546732980894},{"record_id":"49aa61c6-0507-47a5-a5b6-47a5957f3040","record_type":"sell","price":0.009093,"amount":0.191207,"value":0.00173865,"created_at":1546732921360},{"record_id":"27c1af80-29dd-4fce-857c-24b6a6ab989e","record_type":"buy","price":0.0091,"amount":0.010132,"value":0.0000922,"created_at":1546732868693},{"record_id":"5998b72d-3[...]
