---
http_interactions:
- request:
    method: get
    uri: https://api.worldcore.trade/market/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":{"pairs":[{"pair":{"pair_id":1,"pair":"ltc_btc","pair_show":"LTC
        / BTC","group":"crypto","visible":true,"enable":true,"round_deal_amount":6,"round_deal_price":6,"min_amount":0.01,"min_price":0.0001,"max_price":1},"data_market":{"open":0.00838,"close":0.009119,"high":0.009428,"low":0.008358,"volume":733.885601,"value":6.4721915,"volume_usd":25781.4,"rate":8.819,"date_now":1546729434107}},{"pair":{"pair_id":3,"pair":"dash_btc","pair_show":"DASH
        / BTC","group":"crypto","visible":true,"enable":true,"round_deal_amount":5,"round_deal_price":5,"min_amount":0.01,"min_price":0.001,"max_price":10},"data_market":{"open":0.02084,"close":0.02085,"high":0.0211,"low":0.02052,"volume":576.97588,"value":12.00892514,"volume_usd":47075.46,"rate":0.048,"date_now":1546729434115}},{"pair":{"pair_id":4,"pair":"eth_btc","pair_show":"ETH
        / BTC","group":"crypto","visible"[...]
