---
http_interactions:
- request:
    method: get
    uri: https://api.worldcore.trade/market/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":{"pairs":[{"pair":{"pair_id":1,"pair":"ltc_btc","pair_show":"LTC
        / BTC","group":"crypto","visible":true,"enable":true,"round_deal_amount":6,"round_deal_price":6,"min_amount":0.01,"min_price":0.0001,"max_price":1},"data_market":{"open":0.0084,"close":0.009166,"high":0.009428,"low":0.008339,"volume":819.094026,"value":7.11373484,"volume_usd":29258.04,"rate":9.119,"date_now":1546714032418}},{"pair":{"pair_id":3,"pair":"dash_btc","pair_show":"DASH
        / BTC","group":"crypto","visible":true,"enable":true,"round_deal_amount":5,"round_deal_price":5,"min_amount":0.01,"min_price":0.001,"max_price":10},"data_market":{"open":0.02084,"close":0.02092,"high":0.0211,"low":0.02052,"volume":719.23838,"value":14.97326523,"volume_usd":59689.59,"rate":0.384,"date_now":1546714032426}},{"pair":{"pair_id":4,"pair":"eth_btc","pair_show":"ETH
        / BTC","group":"crypto","visible"[...]
