---
http_interactions:
- request:
    method: get
    uri: https://api.exrates.me/openapi/v1/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":523,"name":"ADK_BTC","last":1.99432E-4,"lowestAsk":2.74999E-4,"highestBid":4.8001E-5,"percentChange":14.0961022,"baseVolume":294882.03228,"quoteVolume":54.929293937,"high":2.06806E-4,"low":1.73652E-4},{"id":524,"name":"ADK_ETH","last":0.006585099,"lowestAsk":0.01019999,"highestBid":1.10001E-4,"percentChange":4.6238104,"baseVolume":69064.08775,"quoteVolume":436.937208713,"high":0.006734239,"low":0.006111304},{"id":522,"name":"ADK_USD","last":1.1707242,"lowestAsk":10.5,"highestBid":0.37144001,"percentChange":17.7270175,"baseVolume":125364.64691,"quoteVolume":133861.709164282,"high":1.2031957,"low":0.9922442},{"id":59,"name":"ATB_BTC","last":1.973E-6,"lowestAsk":2.12E-6,"highestBid":[...]
