---
http_interactions:
- request:
    method: get
    uri: https://api.exmo.com/v1/pair_settings
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_USD":{"min_quantity":"0.001","max_quantity":"100","min_price":"1","max_price":"30000","max_amount":"200000","min_amount":"1"},"BTC_EUR":{"min_quantity":"0.001","max_quantity":"100","min_price":"1","max_price":"30000","max_amount":"200000","min_amount":"1"},"BTC_RUB":{"min_quantity":"0.001","max_quantity":"100","min_price":"1","max_price":"2000000","max_amount":"12000000","min_amount":"10"},"BTC_UAH":{"min_quantity":"0.001","max_quantity":"100","min_price":"1","max_price":"1500000","max_amount":"800000","min_amount":"10"},"BTC_PLN":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.001","max_price":"90000","max_amount":"900000","min_amount":"1"},"BCH_BTC":{"min_quantity":"0.003","max_quantity":"10000","min_price":"0.00000001","max_price":"5","max_amount":"10","min_amount":"0.0001"},"EOS_BTC":{"min_quantity":"0.01","max_quantity":"100000","min_price":"0.00000001","max_price":"1","max_amount":"10","min_amount":"0.001"},"EOS_USD":{"min_quantity":"0.01","max_quantity":"100000","min_price":"0.01","max_price":"1000","max_amount":"1000000","min_amount":"0.5"},"BTG_BTC":{"min_quantity":"0.01","max_quantity":"100000","min_price":"0.00000001","max_price":"1","max_amount":"100","min_amount":"0.001"},"BTG_USD":{"min_quantity":"0.01","max_quantity":"100000","min_price":"0.001","max_price":"10000","max_amount":"100000","min_amount":"3"},"BCH_USD":{"min_quantity":"0.003","max_quantity":"10000","min_price":"0.00000001","max_price":"30000","max_amount":"20000","min_amount":"0.0001"},"HBZ_BTC":{"min_quantity":"100","max_quantity":"100000","min_price":"0.00000001","max_price":"1","max_amount":"10","min_amount":"0.0001"},"HBZ_ETH":{"min_quantity":"100","max_quantity":"100000","min_price":"0.00000001","max_price":"1","max_amount":"10","min_amount":"0.0001"},"HBZ_USD":{"min_quantity":"100","max_quantity":"100000","min_price":"0.0001","max_price":"1000","max_amount":"10000","min_amount":"0.1"},"BCH_RUB":{"min_quantity":"0.003","max_quantity":"10000","min_price":"0.00000001","max_price":"2000000","max_amount":"600000","min_amount":"0.0001"},"BCH_ETH":{"min_quantity":"0.003","max_quantity":"10000","min_price":"0.0000001","max_price":"200","max_amount":"10000","min_amount":"0.0001"},"DASH_BTC":{"min_quantity":"0.01","max_quantity":"500","min_price":"0.001","max_price":"10","max_amount":"10","min_amount":"0.001"},"DASH_USD":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.001","max_price":"5000","max_amount":"100000","min_amount":"0.1"},"DASH_RUB":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.001","max_price":"200000","max_amount":"1000000","min_amount":"0.1"},"ETH_BTC":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.0001","max_price":"0.5","max_amount":"10","min_amount":"0.01"},"ETH_LTC":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.001","max_price":"1000","max_amount":"10000","min_amount":"0.1"},"ETH_USD":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.001","max_price":"10000","max_amount":"50000","min_amount":"1"},"ETH_EUR":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.001","max_price":"10000","max_amount":"50000","min_amount":"1"},"ETH_RUB":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.001","max_price":"100000","max_amount":"1000000","min_amount":"1"},"ETH_UAH":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.01","max_price":"100000","max_amount":"200000","min_amount":"0.1"},"ETH_PLN":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.001","max_price":"8000","max_amount":"900000","min_amount":"1"},"ETC_BTC":{"min_quantity":"0.2","max_quantity":"1000","min_price":"0.0001","max_price":"0.5","max_amount":"10","min_amount":"0.001"},"ETC_USD":{"min_quantity":"0.2","max_quantity":"1000","min_price":"0.01","max_price":"10000","max_amount":"100000","min_amount":"0.01"},"ETC_RUB":{"min_quantity":"0.2","max_quantity":"1000","min_price":"0.01","max_price":"10000","max_amount":"500000","min_amount":"0.01"},"LTC_BTC":{"min_quantity":"0.05","max_quantity":"1000","min_price":"0.0001","max_price":"1","max_amount":"10","min_amount":"0.001"},"LTC_USD":{"min_quantity":"0.05","max_quantity":"1000","min_price":"0.01","max_price":"10000","max_amount":"100000","min_amount":"0.001"},"LTC_EUR":{"min_quantity":"0.05","max_quantity":"1000","min_price":"0.01","max_price":"10000","max_amount":"100000","min_amount":"0.001"},"LTC_RUB":{"min_quantity":"0.05","max_quantity":"1000","min_price":"0.01","max_price":"100000","max_amount":"1000000","min_amount":"0.01"},"ZEC_BTC":{"min_quantity":"0.01","max_quantity":"500","min_price":"0.001","max_price":"10","max_amount":"10","min_amount":"0.001"},"ZEC_USD":{"min_quantity":"0.01","max_quantity":"500","min_price":"0.001","max_price":"5000","max_amount":"20000","min_amount":"0.1"},"ZEC_EUR":{"min_quantity":"0.01","max_quantity":"500","min_price":"0.001","max_price":"5000","max_amount":"20000","min_amount":"0.1"},"ZEC_RUB":{"min_quantity":"0.01","max_quantity":"500","min_price":"0.001","max_price":"100000","max_amount":"1000000","min_amount":"0.1"},"XRP_BTC":{"min_quantity":"0.1","max_quantity":"50000","min_price":"0.0000001","max_price":"0.1","max_amount":"5000","min_amount":"0.00001"},"XRP_USD":{"min_quantity":"15","max_quantity":"20000","min_price":"0.001","max_price":"10","max_amount":"20000","min_amount":"0.001"},"XRP_RUB":{"min_quantity":"15","max_quantity":"20000","min_price":"0.000001","max_price":"600","max_amount":"500000","min_amount":"0.01"},"XMR_BTC":{"min_quantity":"0.03","max_quantity":"500","min_price":"0.001","max_price":"1","max_amount":"10","min_amount":"0.001"},"XMR_USD":{"min_quantity":"0.03","max_quantity":"500","min_price":"0.001","max_price":"1000","max_amount":"100000","min_amount":"0.1"},"XMR_EUR":{"min_quantity":"0.03","max_quantity":"500","min_price":"0.001","max_price":"1000","max_amount":"100000","min_amount":"0.1"},"BTC_USDT":{"min_quantity":"0.001","max_quantity":"100","min_price":"1","max_price":"30000","max_amount":"100000","min_amount":"1"},"ETH_USDT":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.001","max_price":"10000","max_amount":"10000","min_amount":"0.5"},"USDT_USD":{"min_quantity":"3","max_quantity":"100000","min_price":"0.5","max_price":"10","max_amount":"100000","min_amount":"0.01"},"USDT_RUB":{"min_quantity":"3","max_quantity":"25000","min_price":"0.01","max_price":"1000","max_amount":"1500000","min_amount":"10"},"USD_RUB":{"min_quantity":"3","max_quantity":"25000","min_price":"0.01","max_price":"1000","max_amount":"1500000","min_amount":"10"},"DOGE_BTC":{"min_quantity":"100","max_quantity":"100000000","min_price":"0.0000001","max_price":"1","max_amount":"10","min_amount":"0.0001"},"WAVES_BTC":{"min_quantity":"0.5","max_quantity":"1000","min_price":"0.0001","max_price":"1","max_amount":"10","min_amount":"0.0001"},"WAVES_RUB":{"min_quantity":"0.5","max_quantity":"5000","min_price":"1","max_price":"10000","max_amount":"500000","min_amount":"1"},"KICK_BTC":{"min_quantity":"100","max_quantity":"200000","min_price":"0.0000001","max_price":"0.1","max_amount":"6","min_amount":"0.00001"},"KICK_ETH":{"min_quantity":"100","max_quantity":"200000","min_price":"0.000001","max_price":"1","max_amount":"100","min_amount":"0.0001"}}'
  recorded_at: Wed, 30 May 2018 05:55:13 GMT
recorded_with: VCR 4.0.0
