---
http_interactions:
- request:
    method: get
    uri: https://exrates.me/public/coinmarketcap/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"LSK_USD":{"id":67,"last":"8.661020000","lowestAsk":"25.000000000","highestBid":"7.118200000","percentChange":"1.872779900","baseVolume":"7885.573850000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"8.674560000","low24hr":"8.041070000"},"QTUM_ETH":{"id":130,"last":"0.020959500","lowestAsk":"0.021000000","highestBid":"0.000001081","percentChange":"-0.057220500","baseVolume":"848.004240000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.020995800","low24hr":"0.020895000"},"ATB_USD":{"id":58,"last":"0.165432500","lowestAsk":"0.200999997","highestBid":"0.166000000","percentChange":"1.458017300","baseVolume":"1572488.441783177","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.168840000","low24hr":"0.160032000"},"DASH_BTC":{"id":51,"last":"0.041517182","lowestAsk":"0.052500000","highestBid":"0.032790000","percentChange":"-2.660644300","baseVolume":"19088.044660000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.042791440","low24hr":"0.039847995"},"BTC_EUR":{"id":2,"last":"6412.623520004","lowestAsk":"10000.000000000","highestBid":"6408.000010000","percentChange":"0.042008400","baseVolume":"44.776670000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"6440.030000100","low24hr":"6409.331590004"},"LTC_BTC":{"id":4,"last":"0.016268930","lowestAsk":"0.017060000","highestBid":"0.015802100","percentChange":"4.825647400","baseVolume":"18767.857529453","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.017060000","low24hr":"0.015500100"},"GAS_BTC":{"id":87,"last":"0.002503597","lowestAsk":"0.003500000","highestBid":"0.001100000","percentChange":"1.914460300","baseVolume":"782.271760000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.002526125","low24hr":"0.002450567"},"ETH_USD":{"id":40,"last":"571.448760000","lowestAsk":"699.000000000","highestBid":"567.000000000","percentChange":"-1.304186500","baseVolume":"4768.278973561","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"580.000000000","low24hr":"530.110340000"},"B2X_BTC":{"id":80,"last":"0.000084000","lowestAsk":"0.000094980","highestBid":"0.000094800","percentChange":"-9.695868600","baseVolume":"33009.986995477","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000110000","low24hr":"0.000075000"},"SLT_BTC":{"id":198,"last":"0.000283566","lowestAsk":"0.000371000","highestBid":"0.000226000","percentChange":"-6.824999900","baseVolume":"25561.192944000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000305561","low24hr":"0.000225999"},"SBTC_USD":{"id":102,"last":"12.191830000","lowestAsk":null,"highestBid":"0.111000000","percentChange":"3.455962700","baseVolume":"273.530940000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"12.191830000","low24hr":"10.814530000"},"BTCZ_BTC":{"id":120,"last":"0.000000250","lowestAsk":"0.000000248","highestBid":"0.000000201","percentChange":"-5.303030300","baseVolume":"8943626.407921437","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000000265","low24hr":"0.000000201"},"INO_USD":{"id":204,"last":"0.643630000","lowestAsk":"0.650000000","highestBid":"0.620000000","percentChange":"17.885270500","baseVolume":"250610.601658725","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.649900000","low24hr":"0.520000000"},"RNTB_USD":{"id":109,"last":"0.052400000","lowestAsk":"0.049000000","highestBid":"0.011410100","percentChange":"3.852861900","baseVolume":"590500.874869999","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.053000000","low24hr":"0.050000000"},"LBTC_BTC":{"id":189,"last":"0.004928546","lowestAsk":null,"highestBid":"0.000002000","percentChange":"15.871182800","baseVolume":"281.539490000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.005493701","low24hr":"0.004253470"},"EOS_BTC":{"id":72,"last":"0.001633877","lowestAsk":"0.069900000","highestBid":"0.001250000","percentChange":"-2.238804200","baseVolume":"9615.031880000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.001671294","low24hr":"0.001521531"},"ECHT_USD":{"id":164,"last":"0.010125000","lowestAsk":"0.990000000","highestBid":"0.010000000","percentChange":"1.229754000","baseVolume":"626440.816490000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.010194000","low24hr":"0.010002000"},"SIM_ETH":{"id":227,"last":"0.000504850","lowestAsk":"0.000528000","highestBid":"0.000504660","percentChange":"-1.462689100","baseVolume":"942.095676543","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000516500","low24hr":"0.000504850"},"BEZ_BTC":{"id":214,"last":"0.000032856","lowestAsk":"0.000260000","highestBid":"0.000025000","percentChange":"-4.109269200","baseVolume":"273637.965150000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000034429","low24hr":"0.000032581"},"NIO_BTC":{"id":115,"last":"0.000005074","lowestAsk":"0.000005364","highestBid":null,"percentChange":"-9.279456500","baseVolume":"298776.493951943","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000005609","low24hr":"0.000004406"},"BTX_USD":{"id":181,"last":"3.457130000","lowestAsk":"5.240000000","highestBid":"0.000011110","percentChange":"-4.609581700","baseVolume":"2991.114450000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"3.638320000","low24hr":"3.432910000"},"QTUM_USD":{"id":128,"last":"13.231450000","lowestAsk":null,"highestBid":"0.000190001","percentChange":"6.280036100","baseVolume":"772.516690000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"13.299830000","low24hr":"12.335960000"},"INK_USD":{"id":143,"last":"0.131920000","lowestAsk":"9.990000000","highestBid":"0.040000000","percentChange":"2.765443600","baseVolume":"78336.452550000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.132408000","low24hr":"0.124278000"},"DOGE_BTC":{"id":66,"last":"0.000000430","lowestAsk":"0.000000450","highestBid":"0.000000430","percentChange":"-6.724511900","baseVolume":"18990112.487532217","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000000480","low24hr":"0.000000410"},"FSBT_BTC":{"id":256,"last":"0.000286093","lowestAsk":"0.000287000","highestBid":"0.000093600","percentChange":"-0.947959200","baseVolume":"868.490650000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000289842","low24hr":"0.000285565"},"NEO_USD":{"id":84,"last":"52.772770000","lowestAsk":"130.000000000","highestBid":"8.903754000","percentChange":"7.667713700","baseVolume":"232.775390000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"53.139640000","low24hr":"48.695940000"},"BCI_BTC":{"id":186,"last":"0.000717000","lowestAsk":"0.000700000","highestBid":"0.000450000","percentChange":"12.048757600","baseVolume":"1855.833323084","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000717100","low24hr":"0.000140000"},"EDR_USD":{"id":26,"last":"0.013972000","lowestAsk":"0.014000000","highestBid":"0.010000000","percentChange":"2.188659900","baseVolume":"397815.296932307","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.013972000","low24hr":"0.012000000"},"PLC_ETH":{"id":160,"last":"0.009955360","lowestAsk":"0.049875000","highestBid":"0.000000012","percentChange":"-2.316425100","baseVolume":"19907.413180000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.010478228","low24hr":"0.008635453"},"ECHT_ETH":{"id":166,"last":"0.000018011","lowestAsk":"0.009900000","highestBid":"0.000014501","percentChange":"19.460104800","baseVolume":"611567.035350000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000018702","low24hr":"0.000015077"},"NEO_BTC":{"id":85,"last":"0.007582600","lowestAsk":"0.649000000","highestBid":"0.007560001","percentChange":"0.098744300","baseVolume":"20481.220010000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.007597800","low24hr":"0.007575120"},"ATL_USD":{"id":96,"last":"0.121520000","lowestAsk":"50.000000000","highestBid":"0.120000010","percentChange":"1.241347900","baseVolume":"84269.467800000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.127310000","low24hr":"0.120024010"},"EOS_USD":{"id":71,"last":"12.142050000","lowestAsk":"43.000000000","highestBid":"6.340000000","percentChange":"-0.014493000","baseVolume":"287281.605650000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"12.244920000","low24hr":"10.780630000"},"INK_ETH":{"id":145,"last":"0.000232169","lowestAsk":"0.099000000","highestBid":"0.000000012","percentChange":"-3.005477000","baseVolume":"79412.708540000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000240807","low24hr":"0.000229842"},"UCASH_BTC":{"id":156,"last":"0.000000874","lowestAsk":"0.000000940","highestBid":"0.000000870","percentChange":"0.459770100","baseVolume":"1574901.766399999","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000000874","low24hr":"0.000000870"},"FLOT_BTC":{"id":229,"last":"0.000140000","lowestAsk":"0.000130000","highestBid":"0.000009104","percentChange":"-33.333333300","baseVolume":"13334.000000000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000210000","low24hr":"0.000140000"},"BTG_USD":{"id":77,"last":"41.992680000","lowestAsk":"63.000000000","highestBid":"4.641000000","percentChange":"-0.786264200","baseVolume":"119.207220000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"43.137040000","low24hr":"40.300520000"},"BCH_USD":{"id":60,"last":"1003.554020000","lowestAsk":"1338.999990000","highestBid":"670.000000000","percentChange":"-6.300617900","baseVolume":"7.148760000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"1075.312930000","low24hr":"877.607860000"},"BTW_BTC":{"id":123,"last":"0.000003831","lowestAsk":"0.000004110","highestBid":"0.000003000","percentChange":"-5.173267300","baseVolume":"648092.610600000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000004059","low24hr":"0.000003812"},"FSBT_USD":{"id":255,"last":"2.892170000","lowestAsk":"9.970000000","highestBid":"0.000000500","percentChange":"8.209724500","baseVolume":"621.513550000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"2.906730000","low24hr":"2.492200000"},"IDH_BTC":{"id":173,"last":"0.000004318","lowestAsk":"0.000500000","highestBid":"0.000001010","percentChange":"2.589688800","baseVolume":"338803.720680000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000004738","low24hr":"0.000004119"},"XRP_BTC":{"id":55,"last":"0.000081381","lowestAsk":"0.000085000","highestBid":"0.000072000","percentChange":"3.329143300","baseVolume":"3029173.815199998","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000081791","low24hr":"0.000076968"},"BTCP_BTC":{"id":132,"last":"0.002953737","lowestAsk":"0.002999990","highestBid":"0.002810000","percentChange":"-1.770058900","baseVolume":"1181.657440000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.003021475","low24hr":"0.002801000"},"REP_USD":{"id":73,"last":"41.244930000","lowestAsk":null,"highestBid":"0.410000000","percentChange":"18.485900200","baseVolume":"361.003900000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"41.244930000","low24hr":"32.752610000"},"FSBT_ETH":{"id":257,"last":"0.002987500","lowestAsk":"0.003000000","highestBid":"0.000760000","percentChange":"0.083752100","baseVolume":"809.446510000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.002999400","low24hr":"0.002985000"},"MIOTA_BTC":{"id":64,"last":"0.000214397","lowestAsk":"0.000280000","highestBid":"0.000173001","percentChange":"9.041852500","baseVolume":"1000236.643469999","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000215757","low24hr":"0.000188476"},"INO_ETH":{"id":206,"last":"0.001176300","lowestAsk":"0.001190000","highestBid":"0.001000000","percentChange":"33.412725400","baseVolume":"282178.403614967","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.001388100","low24hr":"0.000750000"},"GOS_ETH":{"id":118,"last":"0.000001000","lowestAsk":"0.000001000","highestBid":"0.000000068","percentChange":"1134.567901200","baseVolume":"1751.000000000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000001000","low24hr":"0.000000081"},"PLC_BTC":{"id":159,"last":"0.000725070","lowestAsk":"0.000728000","highestBid":"0.000676000","percentChange":"-0.305242800","baseVolume":"20896.360220000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000738890","low24hr":"0.000724360"},"UQC_USD":{"id":200,"last":"1.318490000","lowestAsk":"2.400000000","highestBid":"0.000001000","percentChange":"1.805252100","baseVolume":"8010.966460000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"1.326300000","low24hr":"1.169970000"},"BTCX_BTC":{"id":95,"last":"0.000000161","lowestAsk":"0.000000199","highestBid":"0.000000180","percentChange":"-8.522727300","baseVolume":"598080.147145686","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000000210","low24hr":"0.000000050"},"BCD_USD":{"id":82,"last":"2.934980000","lowestAsk":"3.500000000","highestBid":"1.101211111","percentChange":"4.765712300","baseVolume":"23540.337420000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"3.043070000","low24hr":"2.787720000"},"QTUM_BTC":{"id":129,"last":"0.001773687","lowestAsk":"0.001940712","highestBid":"0.000179100","percentChange":"2.045645600","baseVolume":"946.323700000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.001773687","low24hr":"0.001730292"},"OMG_USD":{"id":90,"last":"10.603110000","lowestAsk":null,"highestBid":"1.000000000","percentChange":"7.200984300","baseVolume":"1255.220040000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"10.619280000","low24hr":"9.808180000"},"BTC_USD":{"id":1,"last":"7718.188200000","lowestAsk":"7879.000000000","highestBid":"7700.000000000","percentChange":"11.825386800","baseVolume":"731.150481841","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"7879.000000000","low24hr":"6902.000000000"},"LCC_USD":{"id":137,"last":"0.080048000","lowestAsk":"0.145000000","highestBid":"0.080000000","percentChange":"4.566830400","baseVolume":"116486.572100000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.080200000","low24hr":"0.075015000"},"BCA_BTC":{"id":99,"last":"0.000109308","lowestAsk":"0.000111375","highestBid":"0.000100000","percentChange":"-5.380700100","baseVolume":"11171.037152514","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000115999","low24hr":"0.000100000"},"WDSC_BTC":{"id":253,"last":"0.000198540","lowestAsk":"0.000199000","highestBid":"0.000198999","percentChange":"0.781725900","baseVolume":"5421.691234000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000232100","low24hr":"0.000189500"},"UQC_ETH":{"id":202,"last":"0.002375348","lowestAsk":"0.002435000","highestBid":"0.000000002","percentChange":"-2.234449000","baseVolume":"7817.133910000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.002446184","low24hr":"0.002234495"},"XEM_USD":{"id":56,"last":"0.240726000","lowestAsk":"0.439980000","highestBid":"0.240000000","percentChange":"-0.110010300","baseVolume":"554943.404900000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.247190000","low24hr":"0.227030000"},"LCC_ETH":{"id":139,"last":"0.000130325","lowestAsk":"0.001999999","highestBid":"0.000130000","percentChange":"-9.905083200","baseVolume":"129663.920400000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000145421","low24hr":"0.000130325"},"GOS_USD":{"id":116,"last":"0.000500000","lowestAsk":"0.000400000","highestBid":"0.000018000","percentChange":"4.166666700","baseVolume":"100.000020000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000500000","low24hr":"0.000480000"},"VDG_USD":{"id":234,"last":"0.011000000","lowestAsk":"0.011000000","highestBid":"0.010000000","percentChange":"0.000000000","baseVolume":"2.090909101","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.011000000","low24hr":"0.011000000"},"GNT_BTC":{"id":76,"last":"0.000071311","lowestAsk":"0.040000000","highestBid":"0.000021000","percentChange":"10.600843700","baseVolume":"25129.081450000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000073745","low24hr":"0.000064152"},"DIM_ETH":{"id":148,"last":"0.000011739","lowestAsk":"0.000025000","highestBid":"0.000009861","percentChange":"-2.240173200","baseVolume":"1541290.756950000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000012024","low24hr":"0.000011696"},"ECHT_BTC":{"id":165,"last":"0.000001366","lowestAsk":"0.000007130","highestBid":"0.000000712","percentChange":"21.746880600","baseVolume":"659816.423260000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000001366","low24hr":"0.000001121"},"BTC_IDR":{"id":32,"last":"116055064.468610000","lowestAsk":"1161322862.000000000","highestBid":"115748382.000000000","percentChange":"-0.135444700","baseVolume":"12.512120000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"116326937.071140000","low24hr":"115776509.121780000"},"SIM_BTC":{"id":226,"last":"0.000034697","lowestAsk":"0.000037000","highestBid":"0.000034349","percentChange":"-4.531697100","baseVolume":"510076.716233894","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000039450","low24hr":"0.000033000"},"BTX_BTC":{"id":182,"last":"0.000468624","lowestAsk":"0.000500000","highestBid":"0.000430000","percentChange":"-6.850861700","baseVolume":"3419.520730000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000503330","low24hr":"0.000466508"},"OCC_ETH":{"id":106,"last":"0.001834416","lowestAsk":"0.001940000","highestBid":"0.001470000","percentChange":"0.880441400","baseVolume":"322349.299935068","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.001910000","low24hr":"0.001401000"},"IDH_ETH":{"id":174,"last":"0.000057577","lowestAsk":"0.001100000","highestBid":"0.000000111","percentChange":"1.625600100","baseVolume":"300533.961530000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000061918","low24hr":"0.000054912"},"XMR_USD":{"id":69,"last":"154.286310000","lowestAsk":"2000.000000000","highestBid":"121.000000000","percentChange":"4.124407800","baseVolume":"1235.585010000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"400.000000000","low24hr":"147.436520000"},"UCASH_ETH":{"id":157,"last":"0.000010208","lowestAsk":"0.000011064","highestBid":"0.000010165","percentChange":"0.344048000","baseVolume":"1921428.551169999","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000010216","low24hr":"0.000010167"},"OCC_USD":{"id":104,"last":"1.046330000","lowestAsk":"1.150000000","highestBid":"0.820000000","percentChange":"7.921364000","baseVolume":"313317.109892000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"1.150000000","low24hr":"0.814000000"},"EDR_IDR":{"id":31,"last":"290.834640000","lowestAsk":"800.000000000","highestBid":"290.000000000","percentChange":"0.034670900","baseVolume":"227075.030900680","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"800.000000000","low24hr":"290.058070000"},"DIM_USD":{"id":146,"last":"0.006481500","lowestAsk":"0.006500000","highestBid":"0.003900000","percentChange":"-0.034702100","baseVolume":"1533540.501629999","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.006498700","low24hr":"0.006467500"},"DOGE_USD":{"id":65,"last":"0.003453700","lowestAsk":"0.003499000","highestBid":"0.003200001","percentChange":"2.277304000","baseVolume":"30550362.618056480","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.003499000","low24hr":"0.002825000"},"BCI_USD":{"id":185,"last":"5.200000000","lowestAsk":"5.910000000","highestBid":"5.200000000","percentChange":"0.000000000","baseVolume":"13.000000000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"5.200000000","low24hr":"5.200000000"},"DASH_USD":{"id":50,"last":"342.331270000","lowestAsk":"540.000000000","highestBid":"342.000000000","percentChange":"-0.296534600","baseVolume":"426.865740000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"343.707920000","low24hr":"342.069390000"},"INK_BTC":{"id":144,"last":"0.000017915","lowestAsk":"0.009900000","highestBid":"0.000017870","percentChange":"0.527467600","baseVolume":"89316.290910000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000017959","low24hr":"0.000017754"},"RTH_ETH":{"id":260,"last":"0.008671100","lowestAsk":"0.008643210","highestBid":"0.006304000","percentChange":"0.000000000","baseVolume":"9.800000000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.008671100","low24hr":"0.008671100"},"GOS_BTC":{"id":117,"last":"0.000000042","lowestAsk":"0.000000041","highestBid":"0.000000011","percentChange":"31.250000000","baseVolume":"20306.000000000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000000042","low24hr":"0.000000032"},"XLM_USD":{"id":53,"last":"0.289005000","lowestAsk":"1.490000000","highestBid":"0.020000000","percentChange":"10.644252300","baseVolume":"2157031.633370001","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.289005000","low24hr":"0.250640000"},"XEM_BTC":{"id":57,"last":"0.000032306","lowestAsk":"0.000041800","highestBid":"0.000012310","percentChange":"-2.642919600","baseVolume":"3117839.591590000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000033383","low24hr":"0.000031908"},"EDR_BTC":{"id":25,"last":"0.000001805","lowestAsk":"0.000001811","highestBid":"0.000001220","percentChange":"-2.852529600","baseVolume":"437730.016000668","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000001890","low24hr":"0.000001261"},"NAC_ETH":{"id":163,"last":"0.000071252","lowestAsk":"0.000073999","highestBid":"0.000070000","percentChange":"-2.596000100","baseVolume":"239015.439330000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000073996","low24hr":"0.000070000"},"ATL_BTC":{"id":97,"last":"0.000020044","lowestAsk":"0.000020110","highestBid":"0.000020000","percentChange":"-0.238901100","baseVolume":"83774.837220000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000020100","low24hr":"0.000020004"},"UCASH_USD":{"id":155,"last":"0.004142500","lowestAsk":"0.007569879","highestBid":"0.000511100","percentChange":"-11.295503200","baseVolume":"2187795.853780000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.004690000","low24hr":"0.004110000"},"B2X_ETH":{"id":108,"last":"0.001298823","lowestAsk":"0.001305000","highestBid":"0.001021560","percentChange":"12.957140900","baseVolume":"23641.889854920","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.001308700","low24hr":"0.001005690"},"ETC_USD":{"id":46,"last":"15.129320000","lowestAsk":"17.499999990","highestBid":"15.070000000","percentChange":"0.660597400","baseVolume":"21185.115580000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"15.144755000","low24hr":"15.003020000"},"LSK_BTC":{"id":68,"last":"0.001163982","lowestAsk":"0.009800000","highestBid":"0.000000111","percentChange":"-3.042949100","baseVolume":"35977.136310000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.001203513","low24hr":"0.001130333"},"BNB_USD":{"id":100,"last":"12.513430000","lowestAsk":"17.999999990","highestBid":"1.400000001","percentChange":"4.346408500","baseVolume":"3709.865500000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"12.551970000","low24hr":"11.732000000"},"ZEC_BTC":{"id":89,"last":"0.033510673","lowestAsk":"0.050000000","highestBid":"0.027000000","percentChange":"-3.179600700","baseVolume":"55.114360000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.034611170","low24hr":"0.031904730"},"WAVES_USD":{"id":92,"last":"4.136450000","lowestAsk":"7.000000000","highestBid":"1.400000000","percentChange":"2.563562200","baseVolume":"3432.801100000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"4.169880000","low24hr":"3.787300000"},"SLT_USD":{"id":197,"last":"2.117120000","lowestAsk":"10.000000000","highestBid":"1.060000000","percentChange":"-3.442488400","baseVolume":"33534.551700000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"2.199500000","low24hr":"2.117120000"},"GAS_USD":{"id":86,"last":"18.686990000","lowestAsk":null,"highestBid":"2.000000000","percentChange":"4.685148900","baseVolume":"598.800450000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"18.714800000","low24hr":"17.752020000"},"IDH_USD":{"id":172,"last":"0.032196000","lowestAsk":null,"highestBid":"0.000005110","percentChange":"4.784221800","baseVolume":"339433.997500000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.035298000","low24hr":"0.030576000"},"MIOTA_USD":{"id":63,"last":"1.609526000","lowestAsk":"2.500000000","highestBid":"0.405000000","percentChange":"7.161423300","baseVolume":"72486.525630000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"1.615398000","low24hr":"1.500310000"},"LTC_USD":{"id":5,"last":"121.029292500","lowestAsk":"137.100000000","highestBid":"120.489000000","percentChange":"7.552004600","baseVolume":"5307.742436129","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"124.000000000","low24hr":"112.022600000"},"SLT_ETH":{"id":199,"last":"0.003758439","lowestAsk":"0.005929900","highestBid":"0.001935601","percentChange":"-10.981172300","baseVolume":"33139.108410000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.004249728","low24hr":"0.003752785"},"ABTC_BTC":{"id":232,"last":"0.000147000","lowestAsk":"0.000147000","highestBid":"0.000001460","percentChange":"0.000000000","baseVolume":"7060.000020000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000147000","low24hr":"0.000007000"},"INO_BTC":{"id":205,"last":"0.000082908","lowestAsk":"0.000084000","highestBid":"0.000069000","percentChange":"10.633982300","baseVolume":"257571.100532022","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000084000","low24hr":"0.000070000"},"B2X_USD":{"id":79,"last":"0.764000000","lowestAsk":"0.770000000","highestBid":"0.700000000","percentChange":"19.075450800","baseVolume":"18208.598742768","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.764000000","low24hr":"0.640000000"},"BTCZ_USD":{"id":119,"last":"0.001861800","lowestAsk":"0.002899999","highestBid":"0.001680000","percentChange":"-3.683393700","baseVolume":"8555234.705490000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.002410000","low24hr":"0.001824000"},"REP_BTC":{"id":74,"last":"0.005501011","lowestAsk":null,"highestBid":"0.000630000","percentChange":"10.966408400","baseVolume":"306.107520000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.005501011","low24hr":"0.004604312"},"RTH_BTC":{"id":259,"last":"0.000630010","lowestAsk":"0.000630010","highestBid":"0.000630000","percentChange":"-16.012664600","baseVolume":"1527.940858690","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000778000","low24hr":"0.000630010"},"DGTX_ETH":{"id":245,"last":"0.000022990","lowestAsk":"0.000022990","highestBid":"0.000021660","percentChange":"-5.662700000","baseVolume":"1144609.624299773","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000024380","low24hr":"0.000021600"},"BEZ_ETH":{"id":215,"last":"0.000429460","lowestAsk":"110000.000000000","highestBid":"0.000335000","percentChange":"-7.399461400","baseVolume":"187770.338150000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000464241","low24hr":"0.000427397"},"BTCZ_ETH":{"id":121,"last":"0.000003352","lowestAsk":"0.000003990","highestBid":"0.000003100","percentChange":"-4.201200300","baseVolume":"7565596.329070004","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000003502","low24hr":"0.000003323"},"BCD_BTC":{"id":83,"last":"0.000378450","lowestAsk":"0.000380000","highestBid":"0.000310000","percentChange":"-3.301965100","baseVolume":"34049.106330100","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000554999","low24hr":"0.000378450"},"PLC_USD":{"id":158,"last":"5.779340000","lowestAsk":"9.500000000","highestBid":"4.550000000","percentChange":"0.533864500","baseVolume":"20425.113680000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"5.797420000","low24hr":"5.740700000"},"NIO_ETH":{"id":203,"last":"0.000070610","lowestAsk":"0.000105000","highestBid":"0.000000002","percentChange":"-6.235890900","baseVolume":"275372.690280000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000075335","low24hr":"0.000065156"},"ZEC_USD":{"id":88,"last":"250.365250000","lowestAsk":"504.999999000","highestBid":"51.000000000","percentChange":"1.054323700","baseVolume":"50.822790000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"252.403630000","low24hr":"226.819620000"},"LCC_BTC":{"id":138,"last":"0.000008556","lowestAsk":"0.000009997","highestBid":"0.000002010","percentChange":"-20.726396700","baseVolume":"79577.491138633","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000010798","low24hr":"0.000008556"},"XRP_USD":{"id":52,"last":"0.612948000","lowestAsk":"0.650000000","highestBid":"0.550000000","percentChange":"2.043711000","baseVolume":"2006422.298450001","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.612948000","low24hr":"0.545950000"},"OMG_BTC":{"id":91,"last":"0.001420871","lowestAsk":"0.180000000","highestBid":"0.001004001","percentChange":"2.797637400","baseVolume":"1134.693700000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.001433513","low24hr":"0.001369764"},"UQC_BTC":{"id":201,"last":"0.000178240","lowestAsk":"0.000184555","highestBid":"0.000125651","percentChange":"-0.514618100","baseVolume":"8707.540580000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000179484","low24hr":"0.000164013"},"NBC_BTC":{"id":153,"last":"0.000048000","lowestAsk":"0.000047900","highestBid":"0.000000101","percentChange":"108.695652200","baseVolume":"1206.419284592","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.000049000","low24hr":"0.000023000"},"BEZ_USD":{"id":213,"last":"0.246315000","lowestAsk":"25000000.000000000","highestBid":"0.000008200","percentChange":"0.843793800","baseVolume":"217043.417550000","quoteVolume":"0.000000000","isFrozen":"0","high24hr":"0.250840000","low24hr":"0
[...]
