---
http_interactions:
- request:
    method: get
    uri: https://api.atomars.com/v1/coingecko/deals?symbol=btcusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"direction":"BUY","price":11442.20197,"amount":0.01533,"trade_date":1562926159000},{"direction":"BUY","price":11427.68087,"amount":0.01708,"trade_date":1562926119000},{"direction":"BUY","price":11415.35212,"amount":0.01773,"trade_date":1562926094000},{"direction":"BUY","price":11387.9076,"amount":0.01789,"trade_date":1562926048000},{"direction":"BUY","price":11369.22956,"amount":0.0182,"trade_date":1562925898000},{"direction":"BUY","price":11364.30372,"amount":0.01743,"trade_date":1562925928000},{"direction":"BUY","price":11361.38584,"amount":0.01794,"trade_date[...]
