---
http_interactions:
- request:
    method: get
    uri: https://api.atomars.com/v1/coingecko/pubticker?symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last_price":11738.35476,"low":11320.42734,"high":11776.79157,"volume":9.91287,"timestamp":1562926198.866969}'
  recorded_at: Fri, 12 Jul 2019 10:09:58 GMT
recorded_with: VCR 4.0.0
