---
http_interactions:
- request:
    method: get
    uri: https://www.bcoin.sg/v1/api/market/hour24Market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - bcoin:35101
    body:
      encoding: UTF-8
      string: "{\n\t\"code\":\"1000\",\n\t\"data\":{\n\t\t\"ATX/BTC\":{\n\t\t\t\"baseVolume\":\"5680946.6625\",\n\t\t\t\"high24hr\":\"0.00000321\",\n\t\t\t\"highestBid\":\"0.00000317\",\n\t\t\t\"id\":1,\n\t\t\t\"isFrozen\":0,\n\t\t\t\"last\":\"0.00000318\",\n\t\t\t\"low24Hr\":\"0.00000317\",\n\t\t\t\"lowestAsk\":\"0.00000319\",\n\t\t\t\"percentChange\":\"-0.0063\",\n\t\t\t\"quoteVolume\":\"18.1346\"\n\t\t},\n\t\t\"BCH/BTC\":{\n\t\t\t\"baseVolume\":\"815.8259\",\n\t\t\t\"high24hr\":\"0.08185452\",\n\t\t\t\"highestBid\":\"0.07866166\",\n\t\t\t\"id\":1,\n\t\t\t\"isFrozen\":0,\n\t\t\t\"last\":\"0.08025946\",\n\t\t\t\"low24Hr\":\"0.07874325\",\n\t\t\t\"lowestAsk\":\"0.08187234\",\n\t\t\t\"percentChange\":\"-0.0186\",\n\t\t\t\"quoteVolume\":\"65.8599\"\n\t\t},\n\t\t\"BCH/ETH\":{\n\t\t\t\"baseVolume\":\"3616.7363\",\n\t\t\t\"high24hr\":\"2.34499318\",\n\t\t\t\"highestBid\":\"2.26436840[...]
