---
http_interactions:
- request:
    method: get
    uri: https://api.coinzo.com/trades?pair=BTC-TRY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"price":19024,"amount":0.00204515,"side":"SELL","created_at":1548003869},{"price":19024,"amount":0.00014423,"side":"SELL","created_at":1548003869},{"price":19024,"amount":0.01069172,"side":"SELL","created_at":1548003864},{"price":19034,"amount":0.01711389,"side":"SELL","created_at":1548003864},{"price":19034,"amount":0.00217765,"side":"SELL","created_at":1548003862},{"price":19034,"amount":0.02406461,"side":"SELL","created_at":1548003862},{"price":19034,"amount":0.00350296,"side":"SELL","created_at":1548003862},{"price":19034,"amount":0.01057031,"side":"S[...]
