---
http_interactions:
- request:
    method: get
    uri: https://api.bybit.com/v2/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ret_code":0,"ret_msg":"OK","ext_code":"","ext_info":"","result":[{"symbol":"BTCUSD","bid_price":"8772","ask_price":"8772.5","last_price":"8772.00","last_tick_direction":"ZeroMinusTick","prev_price_24h":"8845.50","price_24h_pcnt":"-0.008309","high_price_24h":"9140.00","low_price_24h":"8731.00","prev_price_1h":"8856.00","price_1h_pcnt":"-0.009485","mark_price":"8770.12","index_price":"8769.92","open_interest":145118925,"open_value":"16249.53","total_turnover":"12963612.78","turnover_24h":"86020.63","total_volume":121049160202,"volume_24h":771014270,"funding_rate":"0.000207","predicted_funding_rate":"0.0004","next_funding_time":"2019-11-11T08:00:00Z","countdown_hour":1},{"symbol":"ETHUSD","bid_price":"186.35","ask_price":"186.4","last_price":"186.35","last_tick_direction":"MinusTick","prev_price_24h":"187.40","price_24h_pcnt":"-0.005602","high_price_24h":"192.00","low_price_24h":"185.15","prev_price_1h":"187.35","price_1h_pcnt":"-0.005337","mark_price":"186.22","index_price":"186.22","open_interest":12133837,"open_value":"65198.82","total_turnover":"86566494.79","turnover_24h":"348132.82","total_volume":17476780185,"volume_24h":65605288,"funding_rate":"0.000[...]
