---
http_interactions:
- request:
    method: get
    uri: https://api.bybit.com/v2/public/kline/list?from=1566535151&interval=D&symbol=BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - 1.1 PSxjpSin5mt164:0 (Cdn Cache Server V2.0), 1.1 PS-TPE-01NAo219:4 (Cdn Cache
        Server V2.0)
    body:
      encoding: UTF-8
      string: '{"ret_code":0,"ret_msg":"OK","ext_code":"","ext_info":"","result":[{"symbol":"BTCUSD","interval":"D","open_time":1566604800,"open":"10410.5","high":"10431.5","low":"10312","close":"10361","volume":"64771793","turnover":"6241.3836096599925"}],"time_now":"1566622151.517980"}'
  recorded_at: Sat, 24 Aug 2019 04:49:11 GMT
recorded_with: VCR 4.0.0
