---
http_interactions:
- request:
    method: get
    uri: https://api.bybit.com/v2/public/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - 1.1 PSxjpSin5mt164:2 (Cdn Cache Server V2.0), 1.1 PS-TPE-01NAo219:4 (Cdn Cache
        Server V2.0)
    body:
      encoding: UTF-8
      string: '{"ret_code":0,"ret_msg":"OK","ext_code":"","ext_info":"","result":[{"name":"BTCUSD","base_currency":"BTC","quote_currency":"USD","price_scale":2,"price_filter":{"min_price":"0.5","max_price":"999999.5","tick_size":"0.5"},"lot_size_filter":{"max_trading_qty":1000000,"min_trading_qty":1,"qty_step":1}},{"name":"ETHUSD","base_currency":"ETH","quote_currency":"USD","price_scale":2,"price_filter":{"min_price":"0.05","max_price":"99999.95","tick_size":"0.05"},"lot_size_filter":{"max_trading_qty":1000000,"min_trading_qty":1,"qty_step":1}},{"name":"EOSUSD","base_currency":"EOS","quote_currency":"USD","price_scale":3,"price_filter":{"min_price":"0.001","max_price":"1999.999","tick_size":"0.001"},"lot_size_filter":{"max_trading_qty":1000000,"min_trading_qty":1,"qty_step":1}},{"name":"XRPUSD","base_currency":"XRP","quote_currency":"USD","price_scale":4,"price_filter":{"min_price":"0.0001","max_price":"199.9999","tick_size":"0.0001"},"lot_size_filter":{"max_trading_qty":1000000,"min_trading_qty":1,"qty_step":1}}],"time_now":"1566622151.172557"}'
  recorded_at: Sat, 24 Aug 2019 04:49:11 GMT
recorded_with: VCR 4.0.0
