---
http_interactions:
- request:
    method: get
    uri: https://api.bybit.com/v2/public/orderBook/L2?symbol=BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - 1.1 PSxjpSin5uc165:0 (Cdn Cache Server V2.0), 1.1 VM-SIN-01O3Y125:5 (Cdn Cache
        Server V2.0)
    body:
      encoding: UTF-8
      string: '{"ret_code":0,"ret_msg":"OK","ext_code":"","ext_info":"","result":[{"symbol":"BTCUSD","price":"10150","size":841840,"side":"Buy"},{"symbol":"BTCUSD","price":"10149.5","size":483092,"side":"Buy"},{"symbol":"BTCUSD","price":"10149","size":181538,"side":"Buy"},{"symbol":"BTCUSD","price":"10148.5","size":521160,"side":"Buy"},{"symbol":"BTCUSD","price":"10148","size":41440,"side":"Buy"},{"symbol":"BTCUSD","price":"10147.5","size":538809,"side":"Buy"},{"symbol":"BTCUSD","price":"10147","size":500549,"side":"Buy"},{"symbol":"BTCUSD","price":"10146.5","size":177438,"side":"Buy"},{"symbol":"BTCUSD","price":"10146","size":204[...]
