---
http_interactions:
- request:
    method: get
    uri: https://api.bybit.com/v2/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - 1.1 PSxjpSin5uc165:3 (Cdn Cache Server V2.0), 1.1 VM-SIN-01O3Y125:5 (Cdn Cache
        Server V2.0)
    body:
      encoding: UTF-8
      string: '{"ret_code":0,"ret_msg":"OK","ext_code":"","ext_info":"","result":[{"symbol":"BTCUSD","bid_price":"10208","ask_price":"10209","last_price":"10209.50","last_tick_direction":"PlusTick","prev_price_24h":"10340.00","price_24h_pcnt":"-0.01","high_price_24h":"10426.00","low_price_24h":"10088.00","prev_price_1h":"10178.00","price_1h_pcnt":"0.00","mark_price":"10203.49","index_price":"10202.77","open_interest":96331826,"open_value":"9414.41","total_turnover":"6399453.60","turnover_24h":"45199.72","total_volume":61579012260,"volume_24h":465214719,"funding_rate":"0.00","predicted_funding_rate":"0.00","next_funding_time":"2019-08-27T08:00:00Z","countdown_hour":2},{"symbol":"ETHUSD","bid_price":"186","ask_price":"186.05","last_price":"186.05","last_tick_direction":"ZeroPlusTick","prev_price_24h":"190.30","price_24h_pcnt":"-0.02","high_price_24h":"191.05","low_price_24h":"184.75","prev_price_1h":"186.60","price_1h_pcnt":"-0.00","mark_price":"185.85","index_price":"185.83","open_interest":27076222,"open_value":"143396.15","total_turnover":"51988471.05","turnover_24h":"278021.77","total_volume":11208605778,"volume_24h":52340659,"funding_rate":"0.00","pred[...]
