---
http_interactions:
- request:
    method: get
    uri: https://api.bybit.com/v2/public/orderBook/L2?symbol=BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - 1.1 VMxjpSIN4ux55:2 (Cdn Cache Server V2.0), 1.1 VMtwtbTPE1ih126:5 (Cdn Cache
        Server V2.0)
    body:
      encoding: UTF-8
      string: '{"ret_code":0,"ret_msg":"OK","ext_code":"","ext_info":"","result":[{"symbol":"BTCUSD","price":"10538.5","size":207413,"side":"Buy"},{"symbol":"BTCUSD","price":"10538","size":353713,"side":"Buy"},{"symbol":"BTCUSD","price":"10537.5","size":429880,"side":"Buy"},{"symbol":"BTCUSD","price":"10537","size":618720,"side":"Buy"},{"symbol":"BTCUSD","price":"10536.5","size":543408,"side":"Buy"},{"symbol":"BTCUSD","price":"10536","size":687181,"side":"Buy"},{"symbol":"BTCUSD","price":"10535.5","size":381799,"side":"Buy"},{"symbol":"BTCUSD","price":"10535","size":537513,"side":"Buy"},{"symbol":"BTCUSD","price":"10534.5","size":90[...]
