---
http_interactions:
- request:
    method: get
    uri: https://api.bybit.com/v2/public/orderBook/L2?symbol=BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - 1.1 PSxjpSin5uc165:1 (Cdn Cache Server V2.0), 1.1 dj79:1 (Cdn Cache Server
        V2.0)
    body:
      encoding: UTF-8
      string: '{"ret_code":0,"ret_msg":"OK","ext_code":"","ext_info":"","result":[{"symbol":"BTCUSD","price":"10208","size":16011,"side":"Buy"},{"symbol":"BTCUSD","price":"10207.5","size":10844,"side":"Buy"},{"symbol":"BTCUSD","price":"10206","size":28186,"side":"Buy"},{"symbol":"BTCUSD","price":"10205.5","size":412975,"side":"Buy"},{"symbol":"BTCUSD","price":"10205","size":377538,"side":"Buy"},{"symbol":"BTCUSD","price":"10204.5","size":198094,"side":"Buy"},{"symbol":"BTCUSD","price":"10204","size":641966,"side":"Buy"},{"symbol":"BTCUSD","price":"10203.5","size":490751,"side":"Buy"},{"symbol":"BTCUSD","price":"10203","size":6566[...]
