---
http_interactions:
- request:
    method: get
    uri: https://api.itbit.com/v1/markets/XBTUSD/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19999'
      X-Ratelimit-Reset:
      - '1520318895'
    body:
      encoding: UTF-8
      string: '{"recentTrades":[{"timestamp":"2018-03-06T06:46:03.7400000Z","matchNumber":2774864,"price":"11284.40000000","amount":"0.01560000"},{"timestamp":"2018-03-06T06:45:04.2230000Z","matchNumber":2774863,"price":"11284.40000000","amount":"0.02340000"},{"timestamp":"2018-03-06T06:44:44.2030000Z","matchNumber":2774862,"price":"11284.40000000","amount":"0.00900000"},{"timestamp":"2018-03-06T06:44:34.9600000Z","matchNumber":2774861,"price":"11284.40000000","amount":"0.00790000"},{"timestamp":"2018-03-06T06:44:13.9530000Z","matchNumber":2774860,"price":"11284.40000000","amount":"0.00270000"},{"timestamp":"2018-03-06T06:41[...]
