---
http_interactions:
- request:
    method: get
    uri: https://webapi.coinflex.com/tickers/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=US-ASCII
    body:
      encoding: US-ASCII
      string: '[{"base":51242,"counter":51882,"name":"ETHMAR/USDTMAR","spot_name":"ETH/USDT","last":1153000,"bid":1153000,"ask":1155000,"low":1003000,"high":1196000,"volume":3146686758,"time":1584440507878896623},{"base":65290,"counter":65291,"name":"DFNF/USDTDFN","spot_name":"DFN/USDT","last":35000,"bid":38000,"ask":41500,"low":null,"high":null,"volume":0,"time":1583940388016621125},{"base":63488,"counter":65283,"name":"XBT/USDT","spot_name":"XBT/USDT","last":51990000,"bid":52630000,"ask":52670000,"low":44850000,"high":54060000,"volume":3139686,"time":1584440492097176998},{"base":65285,"counter":65283,"name":"FLEX/USDT","spot_name":"FLEX/USDT","last":2900,"bid":2900,"ask":2950,"low"[...]
