---
http_interactions:
- request:
    method: get
    uri: https://webapi.coinflex.com/tickers/51206:51886
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=US-ASCII
    body:
      encoding: US-ASCII
      string: '{"base":51206,"counter":51886,"last":99870000,"bid":95360000,"ask":101280000,"low":97490000,"high":101500000,"volume":49298}'
  recorded_at: Fri, 26 Jul 2019 07:25:43 GMT
recorded_with: VCR 4.0.0
