---
http_interactions:
- request:
    method: get
    uri: https://webapi.coinflex.com/tickers/51206:51886
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=US-ASCII
    body:
      encoding: US-ASCII
      string: '{"base":51206,"counter":51886,"last":100740000,"bid":100540000,"ask":100660000,"low":95840000,"high":101860000,"volume":8230101}'
  recorded_at: Thu, 25 Jul 2019 07:59:01 GMT
recorded_with: VCR 4.0.0
