---
http_interactions:
- request:
    method: get
    uri: https://webapi.coinflex.com/tickers/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=US-ASCII
    body:
      encoding: US-ASCII
      string: '[{"base":51242,"counter":51882,"name":"ETHMAR/USDTMAR","spot_name":"ETH/USDT","last":1153000,"bid":1152000,"ask":1154000,"low":1016000,"high":1196000,"volume":2981177023,"time":1584447403375089612},{"base":65290,"counter":65291,"name":"DFNF/USDTDFN","spot_name":"DFN/USDT","last":35000,"bid":38000,"ask":41500,"low":null,"high":null,"volume":0,"time":1583940388016621125},{"base":63488,"counter":65283,"name":"XBT/USDT","spot_name":"XBT/USDT","last":52500000,"bid":52700000,"ask":52760000,"low":45180000,"high":54060000,"volume":2572840,"time":1584447402288033185},{"base":65285,"counter":65283,"name":"FLEX/USDT","spot_name":"FLEX/USDT","last":2850,"bid":2850,"ask":2900,"low"[...]
- request:
    method: get
    uri: https://webapi.coinflex.com/assets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=US-ASCII
    body:
      encoding: US-ASCII
      string: '[{"id":63488,"name":"XBT","scale":10000},{"id":63496,"name":"BCH","scale":10000},{"id":63520,"name":"ETH","scale":10000},{"id":65282,"name":"USDC","scale":10000},{"id":65283,"name":"USDT","scale":10000},{"id":51200,"name":"XBTJAN","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51202,"name":"XBTMAR","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51203,"name":"XBTAPR","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51204,"name":"XBTMAY","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51205,"name":"XBTJUN","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51206,"name":"XBTJUL","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51207,"name":"XBTAUG","spot_id":63488,"spot_name":"XBT","scale":10000}[...]
