---
http_interactions:
- request:
    method: get
    uri: https://webapi.coinflex.com/assets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=US-ASCII
    body:
      encoding: US-ASCII
      string: '[{"id":63488,"name":"XBT","scale":10000},{"id":63496,"name":"BCH","scale":10000},{"id":63520,"name":"ETH","scale":10000},{"id":63552,"name":"XRP","scale":10000},{"id":65282,"name":"USDC","scale":10000},{"id":65283,"name":"USDT","scale":10000},{"id":65284,"name":"TUSD","scale":10000},{"id":65285,"name":"FLEX","scale":10000},{"id":51200,"spot":63488,"name":"XBTJAN","scale":10000},{"id":51201,"spot":63488,"name":"XBTFEB","scale":10000},{"id":51202,"spot":63488,"name":"XBTMAR","scale":10000},{"id":51203,"spot":63488,"name":"XBTAPR","scale":10000},{"id":51204,"spot":63488,"name":"XBTMAY","scale":10000},{"id":51205,"spot":63488,"name":"XBTJUN","scale":10000},{"id":51206,"spot":63488,"name":"XBTJUL","scale":10000},{"id":51207,"spot":63488,"name":"XBTAUG","scale":10000},{"id":51208,"spot":63488,"name":"XBTSEP","scale":10000},{"id":51209,"sp[...]
