---
http_interactions:
- request:
    method: get
    uri: https://webapi.coinflex.com/assets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=US-ASCII
    body:
      encoding: US-ASCII
      string: '[{"id":63488,"name":"XBT","scale":10000},{"id":63496,"name":"BCH","scale":10000},{"id":63520,"name":"ETH","scale":10000},{"id":65282,"name":"USDC","scale":10000},{"id":65283,"name":"USDT","scale":10000},{"id":51200,"name":"XBTJAN","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51202,"name":"XBTMAR","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51203,"name":"XBTAPR","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51204,"name":"XBTMAY","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51205,"name":"XBTJUN","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51206,"name":"XBTJUL","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51207,"name":"XBTAUG","spot_id":63488,"spot_name":"XBT","scale":10000},{"id":51208,"name[...]
