---
http_interactions:
- request:
    method: get
    uri: https://public.bitbank.cc/btc_jpy/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Last-Modified:
      - Thu, 08 Feb 2018 11:31:38 GMT
      Etag:
      - '"95d72dfb5187479682fc76486ae62745"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":1,"data":{"sell":"927203","buy":"927013","high":"945028","low":"820196","last":"927013","vol":"1551.8684","timestamp":1518089497970}}'
  recorded_at: Thu, 08 Feb 2018 11:31:38 GMT
recorded_with: VCR 3.0.3
