---
http_interactions:
- request:
    method: get
    uri: https://public.bitbank.cc/btc_jpy/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Last-Modified:
      - Thu, 08 Feb 2018 11:31:38 GMT
      Etag:
      - '"d0e53bc23689477f9cecbeb32dddd96e"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":1,"data":{"transactions":[{"transaction_id":3551310,"side":"sell","price":"927013","amount":"0.1338","executed_at":1518089496549},{"transaction_id":3551309,"side":"sell","price":"927014","amount":"0.0001","executed_at":1518089496498},{"transaction_id":3551308,"side":"sell","price":"927014","amount":"0.0002","executed_at":1518089496460},{"transaction_id":3551307,"side":"sell","price":"927014","amount":"0.1143","executed_at":1518089496426},{"transaction_id":3551306,"side":"sell","price":"927024","amount":"0.0029","executed_at":1518089496390},{"transaction_id":3551305,"side":"buy","price":"927204","amount":"0.0[...]
