---
http_interactions:
- request:
    method: get
    uri: https://live.xcoex.com:8443/api/v1/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [{
         "DailyTradedTotalVolume": 0,
         "DailyTradedSellVolume": 0,
         "DailyTradedBuyVolume": 0,
         "DailyBestSellPrice": 0,
         "DailyBestBuyPrice": 0,
         "LastSellTimestamp": -62135596800000,
         "LastSellVolume": 0,
         "LastSellPrice": 0,
         "LastBuyTimestamp": -62135596800000,
         "LastBuyVolume": 0,
         "LastBuyPrice": 0,
         "BestAsk": 0.06163,
         "BestBid": 0.06155,
         "Symbol": "ADAUSD"
        }, {
         "DailyTradedTotalVolume": 0,
         "DailyTradedSellVolume": 0,
         "DailyTradedBuyVolume": 0,
         "DailyBestSellPrice": 0,
         "DailyBestBuyPrice": 0,
         "LastSellTimestamp": -62135596800000,
         "LastSellVolume": 0,
         "LastSellPrice": 0,
         "LastBuyTimestamp": -62135596800000,
         "LastBuyVolume": 0,
         "LastBuyPrice": 0,
         "BestAsk": 0.06152,
         "BestBid": 0.0615,
         "Symbol": "ADAUSDT"
    [...]
