---
http_interactions:
- request:
    method: get
    uri: https://open-api.uex.com/open/api/get_ticker?symbol=ethbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"symbol":"ETHBTC","high":0.03492000,"vol":19942.28861106,"last":0.0339000000000000,"low":0.03349700,"change":-0.02079722,"buy":"0.033901","sell":"0.034229","time":1538584843447,"open":0.03462000}}'
  recorded_at: Wed, 03 Oct 2018 16:40:59 GMT
recorded_with: VCR 4.0.0
