---
http_interactions:
- request:
    method: get
    uri: https://open-api.uex.com/open/api/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":[{"symbol":"ethusdt","count_coin":"USDT","amount_precision":3,"base_coin":"ETH","price_precision":2},{"symbol":"btcusdt","count_coin":"USDT","amount_precision":3,"base_coin":"BTC","price_precision":2},{"symbol":"bchusdt","count_coin":"USDT","amount_precision":3,"base_coin":"BCH","price_precision":2},{"symbol":"ethbtc","count_coin":"BTC","amount_precision":3,"base_coin":"ETH","price_precision":6},{"symbol":"bchbtc","count_coin":"BTC","amount_precision":3,"base_coin":"BCH","price_precision":6},{"symbol":"lbabtc","count_coin":"BTC","amount_precision":0,"base_coin":"LBA","price_precision":8},{"s[...]
