---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/orderbook?symbol=PI_ETHUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","orderBook":{"bids":[[177.7, 1], [177.6, 22120],
        [177.55, 6061], [177.5, 6129], [177.45, 107013], [177.4, 13106], [177.35,
        1509], [177.3, 16005], [177.25, 5593], [177.2, 135409], [177.05, 2683], [177,
        34167], [176.95, 36842], [176.9, 8778], [176.85, 136547], [176.8, 220000],
        [176.55, 392], [176.5, 188841], [176.45, 145800], [176.4, 22800], [176.3,
        11217], [176.2, 12000], [176.15, 309574], [176.1, 217029], [176.05, 918],
        [176, 155721], [175.95, 356], [175.8, 213], [175.75, 150378], [175.4, 270208],
        [175, 6000], [174.6, 88950], [174, 5000], [172, 5500], [171.9, 1000], [171.6,
        89001], [171, 5000], [170.05, 1000], [170, 3000], [169.75, 4242], [167.85,
        2000], [166, 13000], [165.8, 250], [165, 3375], [164, 3000], [162.55, 100],
        [162, 1000], [155.8, 250], [155, 2000], [154.8, 30], [152.2, 2500], [151.3,
        200], [151, 1331], [150, 42000], [148, 2600], [146.7, 250], [142.2, 500],
        [141, 400], [140.5, 1405], [140, 2000], [130, 2000], [128.55, 15], [126.6,
        400], [109, 80], [90.2, 4], [81.7, 200], [80.1, 10000], [77.1, 10000], [75.1,
        10000], [72.1, 10000], [70.1, 10000], [67.1, 10000], [65.1, 10000], [62.1,
        10000], [60.1, 10000], [57.1, 10000], [55.1, 10000], [52.1, 10000], [50.1,
        10000], [45.1, 10000], [40.7, 400], [40.1, 10000], [33.1, 10000], [30.1, 10000],
        [30, 600], [2, 25000], [0.25, 25000], [0.1, 400], [0.05, 1700]],"asks":[[177.75,
        20070], [177.8, 22101], [177.85, 12705], [177.9, 30859], [177.95, 65083],
        [178, 21499], [178.05, 24290], [178.1, 4992], [178.15, 153596], [178.2, 47056],
        [178.25, 120978], [178.3, 11698], [178.35, 140038], [178.4, 50000], [178.45,
        23544], [178.5, 14], [178.7, 165480], [178.75, 6842], [178.8, 9068], [178.85,
        489159], [178.9, 5000], [179, 10000], [179.05, 220691], [179.2, 25070], [179.35,
        12000], [179.4, 204300], [179.75, 429664], [179.95, [...]
