---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","tickers":[{"tag":"quarter","pair":"ETH:USD","symbol":"fi_ethusd_190927","markPrice":279.2,"bid":279.1,"bidSize":5000,"ask":279.3,"askSize":3532,"vol24h":1651856,"openInterest":3924142,"open24h":279.8,"last":279.1,"lastTime":"2019-06-17T09:23:23.987Z","lastSize":1100,"suspended":false},{"tag":"quarter","pair":"XRP:USD","symbol":"fi_xrpusd_190927","markPrice":0.4492,"bid":0.4489,"bidSize":5450,"ask":0.4494,"askSize":2650,"vol24h":444866,"openInterest":1232124,"open24h":0.4317,"last":0.4488,"lastTime":"2019-06-17T09:37:45.687Z","lastSize":1000,"suspended":false},{"tag":"month","pair":"XRP:XBT","symbol":"fv_xrpxbt_190628","markPrice":0.0000478,"bid":0.00004773,"bidSize":9839,"ask":0.00004788,"askSize":10000,"vol24h":262333,"openInterest":300711,"open24h":0.00004609,"last":[...]
