---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","tickers":[{"tag":"perpetual","pair":"ETH:USD","symbol":"pi_ethusd","markPrice":180.62,"bid":180.6,"bidSize":156209,"ask":180.65,"askSize":11229,"vol24h":3603440,"openInterest":9759917,"open24h":179.15,"last":180.55,"lastTime":"2019-09-14T07:31:05.326Z","lastSize":4500,"suspended":false,"fundingRate":-0.00000004462118273,"fundingRatePrediction":0.000000083500441839},{"tag":"quarter","pair":"ETH:USD","symbol":"fi_ethusd_191227","markPrice":184.32,"bid":184.25,"bidSize":39470,"ask":184.4,"askSize":4066,"vol24h":318425,"openInterest":2848375,"open24h":184.7,"last":184.15,"lastTime":"2019-09-14T03:56:21.522Z","lastSize":456,"suspended":false},{"tag":"perpetual","pair":"BCH:USD","symbol":"pi_bchusd","markPrice":297.4,"bid":297.5,"bidSize":1,"ask":297.6,"askSize":2776,"vol24h":704404,"openInterest":2003524,"open24h":296.7,"last":297,"lastTim[...]
