---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/history?symbol=PI_ETHUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","history":[{"time":"2019-07-16T04:45:16.752Z","trade_id":100,"price":228.9,"size":1,"side":"sell","type":"fill"},{"time":"2019-07-16T04:44:35.592Z","trade_id":99,"price":228.9,"size":1563,"side":"sell","type":"fill"},{"time":"2019-07-16T04:44:35.591Z","trade_id":98,"price":228.95,"size":1,"side":"sell","type":"fill"},{"time":"2019-07-16T04:44:33.904Z","trade_id":97,"price":229,"size":3000,"side":"buy","type":"fill"},{"time":"2019-07-16T04:44:27.763Z","trade_id":96,"price":228.9,"size":3000,"side":"buy","type":"fill"},{"time":"2019-07-16T04:44:12.030Z","trade_id":95,"price":228.6,"size":9686,"side":[...]
