---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","tickers":[{"tag":"perpetual","pair":"ETH:USD","symbol":"pi_ethusd","markPrice":229.12,"bid":229.1,"bidSize":8276,"ask":229.15,"askSize":7400,"vol24h":18402969,"openInterest":7520444,"open24h":221.55,"last":228.9,"lastTime":"2019-07-16T04:45:16.752Z","lastSize":1,"suspended":false,"fundingRate":0.000000099312164008,"fundingRatePrediction":-0.000000059512873664},{"tag":"month","pair":"XBT:USD","symbol":"fi_xbtusd_190726","markPrice":10833.5,"bid":10832,"bidSize":39000,"ask":10836,"askSize":10000,"vol24h":2886075,"openInterest":3066135,"open24h":10255,"last":10806.5,"lastTime":"2019-07-16T04:44:10.223Z","lastSize":1695,"suspended":false},{"tag":"month","pair":"ETH:USD","symbol":"fi_ethusd_190726","markPrice":229.48,"bid":229.35,"bidSize":20000,"ask":229.6,"askSize":6214,"vol24h":1876803,"openInterest":1491904,"open24h":221.1,"last"[...]
