---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","tickers":[{"tag":"month","pair":"LTC:USD","symbol":"fi_ltcusd_191129","markPrice":62.1,"bid":62.09,"bidSize":410,"ask":62.15,"askSize":410,"vol24h":108400,"openInterest":290794,"open24h":63.03,"last":62.11,"lastTime":"2019-11-11T07:14:21.729Z","lastSize":153,"suspended":false},{"tag":"perpetual","pair":"LTC:USD","symbol":"pi_ltcusd","markPrice":61.89,"bid":61.89,"bidSize":660,"ask":61.9,"askSize":1410,"vol24h":2746379,"openInterest":1226322,"open24h":63.29,"last":61.85,"lastTime":"2019-11-11T07:12:01.843Z","lastSize":2340,"suspended":false,"fundingRate":-0.000000125213157547,"fundingRatePrediction":0.00000103971310014},{"tag":"quarter","pair":"LTC:USD","symbol":"fi_ltcusd_191227","markPrice":62.35,"bid":62.32,"bidSize":10999,"ask":62.34,"askSize":380,"vol24h":184102,"openInterest":381832,"open24h":63.96,"last":62.16,"lastTime":"2019-11-11T07:08:14.878Z","lastSize":782,"suspended":false},{"tag":"month","pair":"ETH:USD","symbol":"fi_ethusd_191129","markPrice":187.48,"bid":187.4,"bidSize":51562,"ask":187.55,"askSize":13501,"vol24h":429055,"openInterest":919617,"open24h":187.9,"last":187.1,"la[...]
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","instruments":[{"symbol":"pi_xbtusd","type":"futures_inverse","underlying":"rr_xbtusd","tickSize":0.5,"contractSize":1,"tradeable":true,"marginLevels":[{"contracts":0,"initialMargin":0.02,"maintenanceMargin":0.01},{"contracts":500000,"initialMargin":0.04,"maintenanceMargin":0.02},{"contracts":1000000,"initialMargin":0.06,"maintenanceMargin":0.03},{"contracts":3000000,"initialMargin":0.1,"maintenanceMargin":0.05},{"contracts":6000000,"initialMargin":0.15,"maintenanceMargin":0.075}],"fundingRateCoefficient":8,"maxRelativeFundingRate":0.0005,"retailMarginLevels":[{"contracts":0,"initialMargin":0.5,"maintenanceMargin":0.25}]},{"symbol":"pi_ethusd","type":"futures_inverse","underlying":"rr_ethusd","tickSize":0.05,"contractSize":1,"tradeable":true,"marginLevels":[{"contracts":0,"initialMargin":0.02,"maintenanceMargin":0.01},{"contracts":250000,"initialMargin":0.04,"maintenanceMargin":0.02},{"contracts":500000,"initialMargin":0.06,"maintenanceMargin":0.03},{"contracts":2000000,"initialMargin":0.1,"maintenanceMargin":0.05},{"contracts":5000000,"initialMargin[...]
