---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/orderbook?symbol=PI_ETHUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","orderBook":{"bids":[[180.6, 156209], [180.55,
        45001], [180.5, 60030], [180.45, 5000], [180.4, 13257], [180.35, 21536], [180.3,
        20388], [180.25, 13988], [180.2, 19060], [180.05, 42906], [179.95, 110630],
        [179.75, 29168], [179.7, 353838], [179.65, 980], [179.6, 559636], [179.55,
        137600], [179.35, 92601], [179.3, 410025], [179.25, 220399], [179.2, 152553],
        [179.15, 30000], [178.7, 1372], [178.55, 274422], [178.2, 87432], [178.15,
        20000], [177.25, 20000], [175, 215], [174.95, 100], [173.5, 100], [171, 100],
        [170, 4000], [169, 1000], [168, 1220], [167, 5000], [166, 51000], [165, 8014],
        [164, 200], [163.1, 100000], [163, 150], [161.1, 100000], [161, 100], [160.4,
        100000], [160, 4000], [159.4, 100000], [159.1, 50000], [158.7, 5500], [158.5,
        1000], [158.1, 50000], [157.3, 450], [157, 10405], [156.2, 100], [156, 5000],
        [154.7, 5500], [154.3, 450], [154.1, 50000], [153.1, 100000], [152.1, 50000],
        [151.3, 450], [151.1, 50000], [150, 540], [148.3, 600], [145.3, 600], [143.3,
        2150], [126.6, 400], [125, 500], [108, 300], [105, 1000], [90.2, 4], [80.1,
        10000], [77.1, 10000], [75.1, 10000], [72.1, 10000], [70.1, 10000], [67.1,
        10000], [65.1, 10000], [62.1, 10000], [60.1, 10000], [57.1, 10000], [55.1,
        10000], [52.1, 10000], [50.1, 10000], [45.1, 10000], [40.1, 10000], [33.1,
        10000], [30.1, 10000], [30, 600], [0.05, 1700]],"asks":[[180.65, 11229], [180.75,
        1536], [180.8, 16417], [180.85, 42089], [180.9, 60374], [180.95, 10000], [181,
        92074], [181.05, 55000], [181.1, 52847], [181.15, 65224], [181.2, 30876],
        [181.25, 359776], [181.3, 111465], [181.35, 394014], [181.4, 20980], [181.45,
        419147], [181.5, 19000], [181.65, 167511], [181.8, 152951], [181.85, 18010],
        [181.9, 2600], [182, 19000], [182.05, 223841], [182.1, 1972], [182.2, 43105],
        [182.25, 90966], [182.3, 30400], [182.35, 87432], [182.4, 93201], [182.65,
        593], [182.7, 600], [182.75, 280878], [182.9, 2600], [183.3, 20000], [183.4,
        600], [183.9, 900], [184.2, 20000], [185.55, 900], [185.9, 400], [187.3, 100],
        [187.35, 4000], [187.6, 5000], [188, 100], [192, 2000], [195, 1500], [196,
        250], [198, 1600], [199.5, 500], [200, 1], [202, 5000], [207, 2000], [209,
        1000], [211, 2000], [211.4, 17], [212, 2100], [215, 1], [217, 2000], [219,
        1000], [222, 2000], [222.2, 50000], [227, 2000], [227.1, 100], [229, 3000],
        [229.1, 100], [230, 100], [232, 2000], [232.5, 125], [235, 125], [237, 2000],
        [239, 125], [240, 2100], [243, 250], [244, 125], [245, 3550], [250, 12100],
        [257, 2000], [260, 50], [262, 2000], [265, 10200], [267, 2000], [270, 500],
        [275, 3000], [279, 500], [280, 1000], [282, 2000], [290, 2000], [340, 100],
        [9999999.95, 4500000]]},"serverTime":"2019-09-14T07:32:07.118Z"}'
  recorded_at: Sat, 14 Sep 2019 07:32:06 GMT
recorded_with: VCR 4.0.0
