---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","tickers":[{"tag":"month","pair":"LTC:USD","symbol":"fi_ltcusd_191129","markPrice":62.13,"bid":62.09,"bidSize":11409,"ask":62.15,"askSize":410,"vol24h":108400,"openInterest":290794,"open24h":63.03,"last":62.11,"lastTime":"2019-11-11T07:14:21.729Z","lastSize":153,"suspended":false},{"tag":"perpetual","pair":"LTC:USD","symbol":"pi_ltcusd","markPrice":61.9,"bid":61.88,"bidSize":11659,"ask":61.91,"askSize":5102,"vol24h":2746379,"openInterest":1226322,"open24h":63.29,"last":61.85,"lastTime":"2019-11-11T07:12:01.843Z","lastSize":2340,"suspended":false,"fundingRate":-0.000000125213157547,"fundingRatePrediction":0.00000103971310014},{"tag":"quarter","pair":"LTC:USD","symbol":"fi_ltcusd_191227","markPrice":62.35,"bid":62.32,"bidSize":20999,"ask":62.36,"askSize":380,"vol24h":184102,"openInterest":381832,"open24h":63.96,"last":62.16,"lastTime":"2019-11-11T07:08:14.878Z","lastSize":782,"suspended":false},{"tag":"month","pair":"ETH:USD","symbol":"fi_ethusd_191129","markPrice":187.5,"bid":187.45,"bidSize":2606,"ask":187.55,"askSize":6899,"vol24h":429055,"openInterest":919617,"open24h":187.9,"last":187.1,"last[...]
