---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/history?symbol=PI_ETHUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","history":[{"time":"2019-10-02T16:37:55.706Z","trade_id":100,"price":177.55,"size":8692,"side":"sell","type":"fill","uid":"a9ae815c-0fdf-4737-8e2d-fe939457dfe8"},{"time":"2019-10-02T16:37:55.498Z","trade_id":99,"price":177.5,"size":8612,"side":"sell","type":"fill","uid":"730d11d2-3322-4f3e-b13b-303034f57051"},{"time":"2019-10-02T16:37:26.477Z","trade_id":98,"price":177.4,"size":500,"side":"sell","type":"fill","uid":"2afcd3be-85a8-4a75-ab87-b1f9032acd91"},{"time":"2019-10-02T16:37:26.477Z","trade_id":97,"price":177.4,"size":1500,"side":"sell","type":"fill","uid":"48ff5f70-a1aa-4cce-be38-581bc96286e2"},{"time":"2019-[...]
