---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/history?symbol=PI_ETHUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","history":[{"time":"2019-11-11T07:14:20.093Z","trade_id":100,"price":186.45,"size":1,"side":"sell","type":"fill","uid":"df8522a1-5f97-41e4-8eb1-e2c2546199a1"},{"time":"2019-11-11T07:14:20.093Z","trade_id":99,"price":186.45,"size":980,"side":"sell","type":"fill","uid":"dd1c5c4c-7943-4068-9419-85b45b17739f"},{"time":"2019-11-11T07:14:14.423Z","trade_id":98,"price":186.45,"size":2,"side":"buy","type":"fill","uid":"b5ec2618-a8cd-4b88-9598-0238fb65b02b"},{"time":"2019-11-11T07:14:12.635Z","trade_id":97,"price":186.45,"size":1,"side":"sell","type":"fill","uid":"a653e8db-3b14-43d4-b6c2-debd73ebca4f"},{"time":"2019-11-1[...]
