---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","tickers":[{"tag":"month","pair":"XBT:USD","symbol":"fi_xbtusd_191025","markPrice":8246.8,"bid":8247.5,"bidSize":301,"ask":8248.5,"askSize":49000,"vol24h":870049,"openInterest":2383599,"open24h":8472,"last":8259,"lastTime":"2019-10-02T16:22:32.675Z","lastSize":4000,"suspended":false},{"tag":"perpetual","pair":"XRP:XBT","symbol":"pv_xrpxbt","markPrice":0.0000305,"bid":0.00003047,"bidSize":1106,"ask":0.00003048,"askSize":1,"vol24h":343958,"openInterest":1805519,"open24h":0.00002988,"last":0.00003042,"lastTime":"2019-10-02T16:37:15.985Z","lastSize":39,"suspended":false,"fundingRate":-0.000000004454618633,"fundingRatePrediction":-0.00000000501478698},{"tag":"perpetual","pair":"XBT:USD","symbol":"pi_xbtusd","markPrice":8255.2,"bid":8257,"bidSize":10200,"ask":8257.5,"askSize":18498,"vol24h":29683832,"openInterest":20134258,"open24h":8476.5,"last":8255.5,"lastTime":"2019-10-02T16:38:50.411Z","lastSize":1,"suspended":false,"fundingRate":0.000000000930769568,"fundingRatePrediction":-0.000000002768627071},{"tag":"quarter","pair":"XBT:USD","symbol":"fi_xbtusd_191227","markPrice":8285.2,"bid":8285.5,"bidSize":4350,"ask":8286.5,[...]
