---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","instruments":[{"symbol":"pi_xbtusd","type":"futures_inverse","underlying":"rr_xbtusd","tickSize":0.5,"contractSize":1,"tradeable":true,"marginLevels":[{"contracts":0,"initialMargin":0.02,"maintenanceMargin":0.01},{"contracts":500000,"initialMargin":0.04,"maintenanceMargin":0.02},{"contracts":1000000,"initialMargin":0.06,"maintenanceMargin":0.03},{"contracts":3000000,"initialMargin":0.1,"maintenanceMargin":0.05}],"fundingRateCoefficient":8,"maxRelativeFundingRate":0.0005,"retailMarginLevels":[{"contracts":0,"initialMargin":0.5,"maintenanceMargin":0.25}]},{"symbol":"pi_ethusd","type":"futures_inverse","underlying":"rr_ethusd","tickSize":0.05,"contractSize":1,"tradeable":true,"marginLevels":[{"contracts":0,"initialMargin":0.02,"maintenanceMargin":0.01},{"contracts":250000,"initialMargin":0.04,"maintenanceMargin":0.02},{"contracts":500000,"initialMargin":0.06,"maintenanceMargin":0.03},{"contracts":2000000,"initialMargin":0.1,"maintenanceMargin":0.05}],"fundingRateCoefficient":8,"maxRel[...]
