---
http_interactions:
- request:
    method: get
    uri: https://www.cryptofacilities.com/derivatives/api/v3/history?symbol=PI_ETHUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"success","history":[{"time":"2019-09-14T07:31:05.326Z","trade_id":100,"price":180.5,"size":500,"side":"buy","type":"fill","uid":"c1154490-db24-4569-a9c4-87facbff4b11"},{"time":"2019-09-14T07:31:05.326Z","trade_id":99,"price":180.55,"size":4500,"side":"buy","type":"fill","uid":"a8b30bff-4518-4eb2-9f45-da2ed264ce96"},{"time":"2019-09-14T07:30:33.316Z","trade_id":98,"price":180.5,"size":5000,"side":"buy","type":"fill","uid":"63da8323-1fc4-4519-a72d-c2f6c03b6ef6"},{"time":"2019-09-14T07:11:23.216Z","trade_id":97,"price":180.45,"size":3794,"side":"sell","type":"fill","uid":"c37e813a-16ed-4ac7-9c72-efd59a6f12db"},{"time":"2019[...]
