---
http_interactions:
- request:
    method: get
    uri: https://www.catex.io/api/token/list?page=1&pageSize=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"volume24HoursByBaseCurrency":0.00922898,"volume24HoursByUSD":36.48,"priceByUSD":0.03,"priceByBaseCurrency":0.00000957,"currency":"MANA","volume24HoursByCurrency":963.00491510,"baseCurrency":"BTC","pair":"MANA/BTC","percentageInTotalVolume":0.01},{"volume24HoursByBaseCurrency":0.00566748,"volume24HoursByUSD":22.40,"priceByUSD":0.00,"priceByBaseCurrency":0.00000198,"currency":"IOST","volume24HoursByCurrency":2765.81555240,"baseCurrency":"BTC","pair":"IOST/BTC","percentageInTotalVolume":0.00},{"volume24HoursByBaseCurrency":0.00266852,"volume24HoursByUSD":10.54,"priceByUSD":2.09,"priceByBaseCurrency":0.00052920,"currency":"QTUM","volume24HoursByCurrency":5.01362803,"baseCurrency":"BTC","pair":"QTUM/BTC","percentageInTotalVolume":0.00}[...]
