---
http_interactions:
- request:
    method: get
    uri: https://www.catex.io/api/token/list?page=1&pageSize=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"volume24HoursByBaseCurrency":26.34651224,"volume24HoursByUSD":298674.77,"priceByUSD":0.04,"priceByBaseCurrency":0.00000357,"currency":"MANA","volume24HoursByCurrency":7472718.22887960,"feeType":"Percentage","baseCurrency":"BTC","pair":"MANA/BTC","percentageInTotalVolume":0.11},{"volume24HoursByBaseCurrency":0.00022020,"volume24HoursByUSD":2.49,"priceByUSD":0.00,"priceByBaseCurrency":0.00000001,"currency":"CREDIT","volume24HoursByCurrency":22020.00000000,"feeType":"Percentage","baseCurrency":"BTC","pair":"CREDIT/BTC","percentageInTotalVolume":0.00},{"volume24HoursByBaseCurrency":26.10810410,"volume24HoursByUSD":295972.08,"priceByUSD":0.07,"priceByBaseCurrency":0.00000662,"currency":"XLM","volume24HoursByCurrency":3933476.94654740,"feeType":"Percentage","baseCurre[...]
