---
http_interactions:
- request:
    method: get
    uri: https://www.catex.io/api/token/list?page=1&pageSize=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"volume24HoursByBaseCurrency":0,"volume24HoursByUSD":0.00,"priceByUSD":0.00,"priceByBaseCurrency":0E-8,"currency":"MANA","volume24HoursByCurrency":0,"baseCurrency":"BTC","pair":"MANA/BTC","percentageInTotalVolume":0.00},{"volume24HoursByBaseCurrency":0,"volume24HoursByUSD":0.00,"priceByUSD":0.00,"priceByBaseCurrency":6.3E-7,"currency":"IOST","volume24HoursByCurrency":0,"baseCurrency":"BTC","pair":"IOST/BTC","percentageInTotalVolume":0.00},{"volume24HoursByBaseCurrency":0.27255276,"volume24HoursByUSD":991.85,"priceByUSD":1.94,"priceByBaseCurrency":0.00053515,"currency":"QTUM","volume24HoursByCurrency":514.76180647,"baseCurrency":"BTC","pair":"QTUM/BTC","percentageInTotalVolume":0.39},{"volume24HoursByBaseC[...]
[...]
- request:
    method: get
    uri: https://www.catex.io/api/token/list?page=3&pageSize=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"volume24HoursByBaseCurrency":0,"volume24HoursByUSD":0.00,"priceByUSD":0.00,"priceByBaseCurrency":0.05200000,"currency":"SHEL","volume24HoursByCurrency":0,"baseCurrency":"DOGE","pair":"SHEL/DOGE","percentageInTotalVolume":0.00},{"volume24HoursByBaseCurrency":4165.96148439,"volume24HoursByUSD":7.88,"priceByUSD":0.00,"priceByBaseCurrency":0.00205000,"currency":"DIME","volume24HoursByCurrency":2096507.32811811,"baseCurrency":"DOGE","pair":"DIME/DOGE","percentageInTotalVolume":0.00}],"message":null}'
  recorded_at: Wed, 13 Feb 2019 09:35:56 GMT
recorded_with: VCR 4.0.0
