---
http_interactions:
- request:
    method: get
    uri: https://www.catex.io/api/order?limit=50&market=ETH/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":0,"data":[{"market":"ETH/BTC","asks":[["0.01840000","42.63005970"],["0.0183","81.63042378"],["0.0182","96.18102522"],["0.0181","65.70631535"],["0.01800000","69.82555150"],["0.0179","66.35764633"],["0.0178","47.39435360"],["0.0177","48.5845555"],["0.0176","87.54846130"],["0.0175","83.56449252"],["0.01740000","53.81770396"],["0.0173","67.45175400"],["0.0172","61.6718462"],["0.0171","76.87178830"],["0.0170","48.66416404"],["0.0169","53.709942"],["0.0168","89.31607610"],["0.0167","76.29758060"],["0.0166","57.38289310"],["0.0165","87.75604667"],["0.0164","75.06903426"],["0.0163","56.94547818"],["0.01620000","124.93422680"],["0.0161","65.98529166"],["0.0160","75.89159210"],["0.0159","79.92461320"],["0.0158","80.59585515"],["0.0157","56.6009458"],["0.0156","57.2600807"],["0.0155","49.6992208"],["0.0154","95.18212315"],["0.0153","62.7726585"],["0.0152","47.9903111"],["0.0151","65.21913136"],["0.0150","23.697792"],["0.0149","51.5503304"],["0.0148","52.0598064"],["0.0147","19.77810"]],"bids":[["0.01850000","7.12399055"],["0.0186","44.91468000"],["0.0187","68.16578426"],["0.0188","37.58838186"],["0.0189","77.15601460"],["0.01900000","59.21151430"],["0.0191","48.17320350"],["0.01920000","47.91536463"],["0.0193","52.55963904"],["0.0194","55.34170403"],["0.0195","68.91985400"],["0.0196","58.64291470"],["0.0197","77.69984811"],["0.0198","56.03908092"],["0.0199","47.39360400"],["0.0200","62.83053230"],["0.02010000","54.09732905"],["0.0202","62.71832900"],["0.0203","87.66818350"],["0.0204","68.26799120"],["0.02044540","0.00018970"],["0.0205","43.71272660"],["0.0206","56.56404330"],["0.0207","64.12711630"],["0.0208","58.31920220"],["0.02090000","89.35757739"],["0.0210","54.36486498"],["0.0211","21.70169329"],["0.0212","78.48148338"],["0.0213","72.7598939"],["0.0214","72.4862912"],["0.0215","53.4535734"],["0.0216","56.0135275"],["0.0217","46.17972188"],["0.0218","33.7826549"],["0.0219","55.38656998"],["0.0220","62.87666114"],["0.0221","65.4374429"],["0.0222","17.9657431"],["0.0223","10.032"],["0.0224","1.49"]],"timestamp":"2019-08-13
        09:06:59"}]}'
  recorded_at: Tue, 13 Aug 2019 09:06:59 GMT
recorded_with: VCR 4.0.0
