---
http_interactions:
- request:
    method: get
    uri: https://f1cx.com/api/v2/trades.json?market=mtcltc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"8a0c9f4b746ef50fccda99a9b2142748"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":21770,"price":"0.00000025","volume":"103.3144","funds":"0.0000258286","market":"mtcltc","created_at":"2018-04-24T07:53:09-05:00","side":null},{"id":21767,"price":"0.00000028","volume":"2996.1193","funds":"0.000838913404","market":"mtcltc","created_at":"2018-04-24T07:41:06-05:00","side":null},{"id":21759,"price":"0.00000028","volume":"0.0008","funds":"0.000000000224","market":"mtcltc","created_at":"2018-04-24T07:24:37-05:00","side":null},{"id":21288,"price":"0.00000028","volume":"50738.1475","funds":"0.0142066813","market":"mtcltc","created_at":"2018-04-21T13:42:07-05:00","side":null},{"id":21287,"price":"0.00000028","volume":"99[...]
