---
http_interactions:
- request:
    method: get
    uri: https://f1cx.com/api/v2/order_book.json?market=mtcltc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"586ef494058d8b01e9b8d4e607666f8e"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":34005,"side":"sell","ord_type":"limit","price":"0.00000025","avg_price":"0.00000025","state":"wait","market":"mtcltc","created_at":"2018-04-24T07:50:50-05:00","volume":"2825.0","remaining_volume":"2721.6856","executed_volume":"103.3144","trades_count":1},{"id":32971,"side":"sell","ord_type":"limit","price":"0.00000028","avg_price":"0.00000028","state":"wait","market":"mtcltc","created_at":"2018-04-18T05:43:11-05:00","volume":"235455.125","remaining_volume":"181720.8574","executed_volume":"53734.2676","trades_count":3},{"id":33016,"side":"sell","ord_type":"limit","price":"0.00000028","avg_price":"0.0","state":"wait","market":"mtcltc","created_at":"2018-04-19T06:52:12-05:00","volume":"2618.4375","remaining_volume":"2618.4375","executed_volume":[...]
