---
http_interactions:
- request:
    method: get
    uri: https://f1cx.com/api/v2/tickers/mtcltc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"6567bbed6454da8434314c8ff2915049"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1524792502,"ticker":{"buy":"0.0000002","sell":"0.00000025","low":"0.00000025","high":"0.00000028","last":"0.00000025","vol":"0.0"}}'
  recorded_at: Fri, 27 Apr 2018 01:28:22 GMT
recorded_with: VCR 4.0.0
