---
http_interactions:
- request:
    method: get
    uri: https://koinex.in/api/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d3f89ffb86c663b5e1a45a00c41fe609"
    body:
      encoding: UTF-8
      string: '{"prices":{"BTC":"705000.0","ETH":"63105.0","XRP":"72.9","BCH":"100760.0","LTC":"14797.0","MIOTA":140.85,"OMG":1173.35,"GNT":30.29},"stats":{"ETH":{"last_traded_price":63105,"lowest_ask":"63200.0","highest_bid":"63105.0","min_24hrs":"59005.0","max_24hrs":"63901.0","vol_24hrs":1312},"BTC":{"last_traded_price":705000,"lowest_ask":"704999.99","highest_bid":"704004.0","min_24hrs":"631000.0","max_24hrs":"712000.0","vol_24hrs":113},"LTC":{"last_traded_price":14797,"lowest_ask":"14799.0","highest_bid":"14797.0","min_24hrs":"13678.0","max_24hrs":"14850.0","vol_24hrs":8213},"XRP":{"last_traded_price":72,"lowest_ask":"72.9","highest_bid":"72.85","min_24hrs":"69.6","max_24hrs":"73.75","vol_24hrs":2423092},"BCH":{"last_traded_price":100760,"lowest_ask":"101000.0","highest_bid":"100760.0","min_24hrs":"93290.0","max_24hrs":"103000.0","vol_24hrs":541}}}'
  recorded_at: Sat, 17 Feb 2018 09:40:40 GMT
recorded_with: VCR 3.0.3
