---
http_interactions:
- request:
    method: get
    uri: https://koinex.in/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f47da32dc5203c102580a0d7ce4a081c"
    body:
      encoding: UTF-8
      string: '{"prices":{"inr":{"ETH":"30100","BTC":"402500","LTC":"5251.01","XRP":"32","BCH":"50200","OMG":"507.96","REQ":"5.11","ZRX":"43.15","GNT":"19.5","BAT":"17","AE":"123","TRX":"2.95","XLM":"12.8","NEO":"2055","GAS":"712","XRB":"155","NCASH":"0.82","AION":"74","EOS":"525.06","CMT":"10.88","ONT":"341","ZIL":"4.15","IOST":"1.52","ACT":"6.85","ZCO":"2.95","SNT":"3.9","POLY":"20.25","ELF":"30.23","REP":"2100","QKC":"6.8","XZC":"1119.99"},"bitcoin":{"BCH":"0.11130027","LTC":"0.013479","NCASH":"0.00000286","XRP":"0.00007505","OMG":"0.00168998","EOS":"0.0012","REQ":"0.00001748","ETH":"0.08689996","ZCO":"0.00000713","TRX":"0.0000074"},"ether":{"XRP":"0.001149","TRX":"0.0000977","LTC":"0.21487003","OMG":"0.0185","EOS":"0.0119","BCH":"1.9946","ZCO":"0.000108"},"ripple":{"CMT":"0.448","LTC":"165.302","NCASH":"0.028","AE":"4","EOS":"17.5","GNT":"0.55000001","REQ":"0.15800001","OMG":"16.001","ONT":"9.503","ZIL":"0.126","IOST":"0.052","ACT":"0.223","ZCO":"0.095","SNT":"0.121","POLY":"0.6","ELF":"1.012","TRX":"0.091","REP":"82","QKC":"0.017","XZC":"34"}},"stats":{"inr":{"ETH":{"highest_bid":"30100","lowest_ask":"30400","last_traded_price":"30100","min_24hrs":"28345.0","max_24hrs":"31000.0","vol_24hrs":"118.18","currency_full_form":"ether","currency_short_form":"ETH","per_change":"1.3126893301918545","trade_volume":"3506685.050349999"},"BTC":{"highest_bid":"400100","lowest_ask":"402500","last_traded_price":"402500","min_24hrs":"381500.0","max_24hrs":"407500.0","vol_24hrs":"19.6281","currency_full_form":"bitcoin","currency_short_form":"BTC","per_change":"1.6414141414141414","trade_volume":"7790710.646242004"},"LTC":{"highest_bid":"5252","lowest_ask":"5350","last_traded_price":"5251.01","min_24hrs":"4800.0","max_24hrs":"5399.95","vol_24hrs":"141.639","currency_full_form":"litecoin","currency_short_form":"LTC[...]
