---
http_interactions:
- request:
    method: get
    uri: https://koinex.in/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f4dd8b36cbe8705a859d241a6cfec365"
    body:
      encoding: UTF-8
      string: '{"prices":{"inr":{"ETH":"31301","BTC":"405000","LTC":"5550","XRP":"32.15","BCH":"49999","OMG":"533","REQ":"5.4","ZRX":"47.5","GNT":"20.3","BAT":"18.44","AE":"130","TRX":"2.96","XLM":"13.28","NEO":"2220","GAS":"755","XRB":"170","NCASH":"0.88","AION":"75","EOS":"567","CMT":"9.3","ONT":"350","ZIL":"4.5","IOST":"1.56","ACT":"7.2","ZCO":"3.1","SNT":"4.05","POLY":"20.25","ELF":"35.35","REP":"2000","QKC":"6.41","XZC":"1156"},"bitcoin":{"BCH":"0.11130027","LTC":"0.0138","NCASH":"0.00000287","XRP":"0.00007501","OMG":"0.00168998","EOS":"0.0018","REQ":"0.00001748","ETH":"0.08689996","ZCO":"0.00001058","TRX":"0.00000735"},"ether":{"XRP":"0.0009981","TRX":"0.00009779","LTC":"0.21487003","OMG":"0.018","EOS":"0.0119","BCH":"1.9999999","ZCO":"0.000108"},"ripple":{"CMT":"0.316","LTC":"171.02300001","NCASH":"0.028","AE":"4.1","EOS":"17.503","GNT":"0.60000002","REQ":"0.158","OMG":"16","ONT":"12.875","ZIL":"0.168","IOST":"0.049","ACT":"0.223","ZCO":"0.1","SNT":"0.129","POLY":"0.65","ELF":"1.2","TRX":"0.09","REP":"82","QKC":"0.017","XZC":"33.52"}},"stats":{"inr":{"ETH":{"highest_bid":"31320","lowest_ask":"31886","last_traded_price":"31301","min_24hrs":"30011.0","max_24hrs":"32001.0","vol_24hrs":"93.666","currency_full_form":"ether","currency_short_form":"ETH","per_change":"-0.3184611955033279","trade_volume":"2935273.64451"},"BTC":{"highest_bid":"405000","lowest_ask":"411990","last_traded_price":"405000","min_24hrs":"400000.0","max_24hrs":"413991.0","vol_24hrs":"8.3341","currency_full_form":"bitcoin","currency_short_form":"BTC","per_change":"-1.8050891634036053","trade_volume":"3386996.5699279997"},"LTC":{"highest_bid":"5520","lowest_ask":"5579.99","last_traded_price":"5550","min_24hrs":"5520.0","max_24hrs":"5771.0","vol_24hrs":"62.393","currency_full_form":"litecoin","currency_short_form":"LTC","pe[...]
