---
http_interactions:
- request:
    method: get
    uri: https://exchange-open-api.coineal.com/open/api/market_dept?symbol=btcusdt&type=step2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"tick":{"asks":[["6629",0.29742000],["6630",0.47003000],["6631",0.06821000],["6633",0.03064000],["6634",0.67866000],["6636",0.11338000],["6637",0.12293000],["6639",0.11635000],["6640",0.33871000],["6642",0.65137000],["6643",0.03849000],["6645",0.59518000],["6646",0.02538000],["6647",0.34917000],["6649",0.03116000],["6651",0.45931000],["6652",0.71983000],["6655",0.05753000],["6657",0.55307000],["6658",0.14831000],["6660",0.11037000],["6661",1.57303000],["6662",0.69686000],["6664",0.10559000],["6666",0.56668000][...]
