---
http_interactions:
- request:
    method: get
    uri: https://exchange-open-api.coineal.com/open/api/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":[{"symbol":"btcusdt","count_coin":"usdt","amount_precision":5,"base_coin":"btc","price_precision":2},{"symbol":"ethusdt","count_coin":"usdt","amount_precision":4,"base_coin":"eth","price_precision":2},{"symbol":"eosusdt","count_coin":"usdt","amount_precision":2,"base_coin":"eos","price_precision":4},{"symbol":"eosbtc","count_coin":"btc","amount_precision":2,"base_coin":"eos","price_precision":7},{"symbol":"ethbtc","count_coin":"btc","amount_precision":4,"base_coin":"eth","price_precision":5},{"symbol":"ltcbtc","count_coin":"btc","amount_precision":4,"base_coin":"ltc","price_precision":6},{"s[...]
