---
http_interactions:
- request:
    method: get
    uri: https://exchange-open-api.coineal.com/open/api/get_ticker?symbol=btcusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"amount":578693478.7450805982,"high":11345.8900000000,"vol":54585.9187920300,"last":10167.0900000000000000,"low":9867.2700000000,"buy":"10158.65","sell":"10167.55","time":1563160950836}}'
  recorded_at: Mon, 15 Jul 2019 03:22:34 GMT
recorded_with: VCR 4.0.0
