---
http_interactions:
- request:
    method: get
    uri: https://exchange-open-api.coineal.com/open/api/market_dept?symbol=btcusdt&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"tick":{"asks":[["10167.55",0.0019700000],["10168.64",0.0605500000],["10168.74",0.0162300000],["10169.03",0.0019700000],["10169.32",0.2461100000],["10169.54",0.0590600000],["10170.22",1.0000000000],["10170.54",0.0969700000],["10170.81",0.0147100000],["10170.92",0.3227100000],["10171.63",0.0012100000],["10171.74",0.1969900000],["10172.05",0.0124400000],["10172.14",0.5000000000],["10172.35",0.2590000000],["10172.72",0.0640500000],["10172.84",0.2000000000],["10173.22",1.0000000000],["10174.14",0.0780000000],["101[...]
