---
http_interactions:
- request:
    method: get
    uri: https://exchange-open-api.coineal.com/open/api/get_trades?symbol=btcusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":[{"amount":1.0319400000000000,"trade_time":1539091525000,"price":6626.8500000000000000,"id":1662406,"type":"buy"},{"amount":1.0146900000000000,"trade_time":1539091524000,"price":6628.2700000000000000,"id":1662405,"type":"sell"},{"amount":0.0687100000000000,"trade_time":1539091515000,"price":6632.6400000000000000,"id":1662404,"type":"sell"},{"amount":1.6467400000000000,"trade_time":1539091511000,"price":6627.8500000000000000,"id":1662403,"type":"buy"},{"amount":0.5256600000000000,"trade_time":1539091508000,"price":6626.3700000000000000,"id":1662402,"type":"sell"},{"amount":1.2992900000000000,"trade_ti[...]
