---
http_interactions:
- request:
    method: get
    uri: https://exchange-open-api.coineal.com/open/api/get_trades?symbol=btcusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":[{"amount":0.1999500000000000,"trade_time":1563160953000,"price":10168.1600000000000000,"id":9249970,"type":"sell"},{"amount":0.0019700000000000,"trade_time":1563160953000,"price":10167.5500000000000000,"id":9249969,"type":"buy"},{"amount":0.3273700000000000,"trade_time":1563160953000,"price":10167.5500000000000000,"id":9249968,"type":"sell"},{"amount":0.0019700000000000,"trade_time":1563160953000,"price":10167.0900000000000000,"id":9249967,"type":"buy"},{"amount":0.8593000000000000,"trade_time":1563160952000,"price":10167.0900000000000000,"id":9249966,"type":"sell"},{"amount":0.0019700000000000,"trad[...]
