---
http_interactions:
- request:
    method: get
    uri: https://www.huobi.co.th/api/market/depth?symbol=btcthb&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","ch":"market.btcthb.depth.step0","ts":1584594356631,"tick":{"bids":[[174020.000000000000000000,0.300000000000000000],[173899.000000000000000000,0.004200000000000000],[173778.000000000000000000,0.011400000000000000],[173657.000000000000000000,0.046800000000000000],[173536.000000000000000000,0.136500000000000000],[173415.000000000000000000,0.163800000000000000],[173294.000000000000000000,0.234000000000000000],[173173.000000000000000000,0.280800000000000000],[173052.000000000000000000,0.429500000000000000],[172931.000000000000000000,0.781500000000000000],[140000.0[...]
