---
http_interactions:
- request:
    method: get
    uri: https://api.huobi.pro/v1/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - dawn-broker-pro:default,prd:8080
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"base-currency":"ven","quote-currency":"usdt","price-precision":4,"amount-precision":4,"symbol-partition":"innovation","symbol":"venusdt","state":"offline","value-precision":8,"min-order-amt":0.01,"max-order-amt":100000,"min-order-value":5},{"base-currency":"dash","quote-currency":"usdt","price-precision":2,"amount-precision":4,"symbol-partition":"main","symbol":"dashusdt","state":"online","value-precision":8,"min-order-amt":0.001,"max-order-amt":10000,"min-order-value":5,"leverage-ratio":3},{"base-currency":"box","quote-currency":"eth","price-precision":8,"amount-precision":2,"symbol-partition":"innovation","symbol":"boxeth","state":"online","value-precision":8,"min-order-amt":1,"max-order-amt":30000000,"min-order-value":0.01},{"base-currency":"gnt","quote-currency":"usdt","price-precision":4,"amount-precision":4,"symbol-partition":"innovation","symbol":"gntusdt","state":"online","value-precision":8,"min-order-amt":0.1,"max-order-amt":1000000,"min-order-value":5},{"base-currency[...]
