---
http_interactions:
- request:
    method: get
    uri: https://www.huobi.co.th/api/market/trade?symbol=btcthb
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","ch":"market.btcthb.trade.detail","ts":1584594357004,"tick":{"id":100007616419,"ts":1584594294983,"data":[{"amount":0.094100000000000000,"trade-id":100000009082,"ts":1584594294983,"id":10000761641975700099938,"price":174954.760000000000000000,"direction":"sell"}]}}'
  recorded_at: Thu, 19 Mar 2020 05:05:57 GMT
recorded_with: VCR 4.0.0
