---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BTC-USD-191115/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-191115","amount":"459409","timestamp":"2019-11-11T07:02:51.656Z"}'
  recorded_at: Mon, 11 Nov 2019 07:02:51 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BTC-USD-191115/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-191115","index":"8758.448","timestamp":"2019-11-11T07:02:52.244Z"}'
  recorded_at: Mon, 11 Nov 2019 07:02:52 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-191115","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-11-01","delivery":"2019-11-15","trade_increment":"1","alias":"this_week","underlying":"BTC-USD","base_currency":"BTC","settlement_currency":"BTC","is_inverse":"true","contract_val_currency":"USD"},{"instrument_id":"BTC-USD-191122","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-11-08","delivery":"2019-11-22","trade_increment":"1","alias":"next_week","underlying":"BTC-USD","base_currency":"BTC","settlement_currency":"BTC","is_inverse":"true","contract_val_currency":"USD"},{"instrument_id":"BTC-USD-191227","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-09-13","delivery":"2[...]
[...]
