---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-SWAP","last":"3853.1","high_24h":"3870","low_24h":"3823","volume_24h":"490985","best_ask":"3852.6","best_bid":"3852.5","timestamp":"2019-03-14T05:10:10.077Z"},{"instrument_id":"LTC-USD-SWAP","last":"55.61","high_24h":"56.5","low_24h":"54.03","volume_24h":"1777543","best_ask":"55.62","best_bid":"55.61","timestamp":"2019-03-14T05:10:26.046Z"},{"instrument_id":"ETH-USD-SWAP","last":"131.41","high_24h":"132.66","low_24h":"130.01","volume_24h":"1534538","best_ask":"131.45","best_bid":"131.44","timestamp":"2019-03-14T05:10:02.380Z"},{"instrument_id":"TRX-USD-SWAP","last":"0.02251","high_24h":"0.02276","low_24h":"0.02172","volume_[...]
