---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/BTC-USD-SWAP/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-SWAP","amount":"1692221","timestamp":"2019-11-11T07:02:54.118Z"}'
  recorded_at: Mon, 11 Nov 2019 07:02:54 GMT
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/BTC-USD-SWAP/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-SWAP","index":"8758.69000000","timestamp":"2019-11-11T07:02:54.309Z"}'
  recorded_at: Mon, 11 Nov 2019 07:02:54 GMT
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/BTC-USD-SWAP/funding_time
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-SWAP","funding_time":"2019-11-11T08:00:00.000Z","funding_rate":"0.00002681","estimated_rate":"0.00056798","settlement_time":"2019-11-11T08:00:00.000Z"}'
  recorded_at: Mon, 11 Nov 2019 07:02:55 GMT
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-SWAP","underlying_index":"BTC","quote_currency":"USD","coin":"BTC","contract_val":"100","listing":"2018-08-28T02:43:23.000Z","delivery":"2019-11-11T08:00:00.000Z","size_increment":"1","tick_size":"0.1"},{"instrument_id":"LTC-USD-SWAP","underlying_index":"LTC","quote_currency":"USD","coin":"LTC","contract_val":"10","listing":"2018-12-21T07:53:47.000Z","delivery":"2019-11-11T08:00:00.000Z","size_increment":"1","tick_size":"0.01"},{"instrument_id":"ETH-USD-SWAP","underlying_index":"ETH","quote_currency":"USD","coin":"ETH","contract_val":"10","listing":"2018-12-21T07:53:47.000Z","delivery":"2019-11-11T08:00:00.000Z","size_increment":"1","tick_size":"0.01"},{"instrument_id":"TRX-USD-SWAP","un[...]
