---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-SWAP","underlying_index":"BTC","quote_currency":"USD","coin":"BTC","contract_val":"100","listing":"2018-08-28T02:43:23.000Z","delivery":"2019-03-14T14:00:00.000Z","size_increment":"1","tick_size":"0.1"},{"instrument_id":"LTC-USD-SWAP","underlying_index":"LTC","quote_currency":"USD","coin":"LTC","contract_val":"10","listing":"2018-12-21T07:53:47.000Z","delivery":"2019-03-14T14:00:00.000Z","size_increment":"1","tick_size":"0.01"},{"instrument_id":"ETH-USD-SWAP","underlying_index":"ETH","quote_currency":"USD","coin":"ETH","contract_val":"10","listing":"2018-12-21T07:53:47.000Z","delivery":"2019-03-14T14:00:00.000Z","size_increment":"1","tick_size":"0.01"},{"instrument_id":"TRX-USD-SWAP","un[...]
