---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/BTC-USD-SWAP/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-SWAP","last":"8222.4","high_24h":"8522.9","low_24h":"8175","volume_24h":"3031771","best_ask":"8222.5","best_bid":"8222.4","timestamp":"2019-10-02T07:57:50.014Z"}'
  recorded_at: Wed, 02 Oct 2019 07:57:50 GMT
recorded_with: VCR 4.0.0
