---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/BTC-USD-SWAP/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-SWAP","amount":"1051355","timestamp":"2019-10-02T07:57:51.418Z"}'
  recorded_at: Wed, 02 Oct 2019 07:57:51 GMT
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/BTC-USD-SWAP/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-SWAP","index":"8221.31200000","timestamp":"2019-10-02T07:57:48.532Z"}'
  recorded_at: Wed, 02 Oct 2019 07:57:51 GMT
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/BTC-USD-SWAP/funding_time
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-SWAP","funding_time":"2019-10-02T08:00:00.000Z","funding_rate":"-0.00034326","estimated_rate":"0.00004851","settlement_time":"2019-10-02T08:00:00.000Z"}'
  recorded_at: Wed, 02 Oct 2019 07:57:51 GMT
recorded_with: VCR 4.0.0
