---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BTC-USD-191115/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-191115","last":"8779.39","best_bid":"8777.53","best_ask":"8777.78","high_24h":"9153.93","low_24h":"8722.1","volume_24h":"3019333","timestamp":"2019-11-11T07:03:03.465Z"}'
  recorded_at: Mon, 11 Nov 2019 07:03:03 GMT
recorded_with: VCR 4.0.0
