---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-SWAP","last":"10585","high_24h":"10840","low_24h":"10375","volume_24h":"4267256","best_ask":"10585","best_bid":"10584.9","timestamp":"2019-09-05T04:26:11.616Z"},{"instrument_id":"LTC-USD-SWAP","last":"67.08","high_24h":"68.47","low_24h":"66.24","volume_24h":"1206263","best_ask":"67.08","best_bid":"67.07","timestamp":"2019-09-05T04:26:02.032Z"},{"instrument_id":"ETH-USD-SWAP","last":"174.87","high_24h":"179.67","low_24h":"173.18","volume_24h":"4615987","best_ask":"174.87","best_bid":"174.86","timestamp":"2019-09-05T04:26:05.411Z"},{"instrument_id":"TRX-USD-SWAP","last":"0.01549","high_24h":"0.01581","low_24h":"0.01541","volume[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BCH-USD-190906","last":"294.18","best_bid":"294.18","best_ask":"294.23","high_24h":"300.91","low_24h":"292","volume_24h":"892115","timestamp":"2019-09-05T04:26:[...]
