---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-SWAP","underlying_index":"BTC","quote_currency":"USD","coin":"BTC","contract_val":"100","listing":"2018-08-28T02:43:23.000Z","delivery":"2019-10-02T08:00:00.000Z","size_increment":"1","tick_size":"0.1"},{"instrument_id":"LTC-USD-SWAP","underlying_index":"LTC","quote_currency":"USD","coin":"LTC","contract_val":"10","listing":"2018-12-21T07:53:47.000Z","delivery":"2019-10-02T08:00:00.000Z","size_increment":"1","tick_size":"0.01"},{"instrument_id":"ETH-USD-SWAP","underlying_index":"ETH","quote_currency":"USD","coin":"ETH","contract_val":"10","listing":"2018-12-21T07:53:47.000Z","delivery":"2019-10-02T08:00:00.000Z","size_increment":"1","tick_size":"0.01"},{"instrument_id":"TRX-USD-SWAP","un[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-191004","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-09-20","delivery":"2019-10-04","trade_increment":"1","alias":"this_week"},{"instrument_id":"BTC-USD-191011","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-09-27","delivery":"2019-10-11","trade_increment":"1","alias":"next_week"},{"instrument_id":"BTC-USD-191227","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-09-13","delivery":"2019-12-27","trade_increment":"1","alias":"quarter"},{"instrument_id":"LTC-USD-191004","underlying_index":"LTC","quote[...]
