---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-191004","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-09-20","delivery":"2019-10-04","trade_increment":"1","alias":"this_week"},{"instrument_id":"BTC-USD-191011","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-09-27","delivery":"2019-10-11","trade_increment":"1","alias":"next_week"},{"instrument_id":"BTC-USD-191227","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-09-13","delivery":"2019-12-27","trade_increment":"1","alias":"quarter"},{"instrument_id":"LTC-USD-191004","underlying_index":"LTC","quote[...]
