---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BTC-USD-190927/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-190927","amount":"945159","timestamp":"2019-09-25T10:52:37.555Z"}'
  recorded_at: Wed, 25 Sep 2019 10:52:36 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BTC-USD-190927/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-190927","index":"8398.93","timestamp":"2019-09-25T10:52:37.705Z"}'
  recorded_at: Wed, 25 Sep 2019 10:52:36 GMT
recorded_with: VCR 4.0.0
