---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-190906","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-08-23","delivery":"2019-09-06","trade_increment":"1","alias":"this_week"},{"instrument_id":"BTC-USD-190913","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-08-30","delivery":"2019-09-13","trade_increment":"1","alias":"next_week"},{"instrument_id":"BTC-USD-190927","underlying_index":"BTC","quote_currency":"USD","tick_size":"0.01","contract_val":"100","listing":"2019-06-14","delivery":"2019-09-27","trade_increment":"1","alias":"quarter"},{"instrument_id":"LTC-USD-190906","underlying_index":"LTC","quote[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BTC-USD-190906/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-190906","amount":"471247","timestamp":"2019-09-05T09:25:45.858Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:45 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BTC-USD-190906/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-190906","index":"10587.598","timestamp":"2019-09-05T09:25:45.978Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:46 GMT
[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/LTC-USD-190906/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"LTC-USD-190906","amount":"367824","timestamp":"2019-09-05T09:25:46.480Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:46 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/LTC-USD-190906/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"LTC-USD-190906","index":"67.07537152","timestamp":"2019-09-05T09:25:46.582Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:46 GMT
[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/ETH-USD-190906/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"ETH-USD-190906","amount":"1040802","timestamp":"2019-09-05T09:25:47.091Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:47 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/ETH-USD-190906/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"ETH-USD-190906","index":"174.393624336","timestamp":"2019-09-05T09:25:47.227Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:47 GMT
[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/ETC-USD-190906/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"ETC-USD-190906","amount":"175618","timestamp":"2019-09-05T09:25:47.774Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:47 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/ETC-USD-190906/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"ETC-USD-190906","index":"7.123754688","timestamp":"2019-09-05T09:25:47.861Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:47 GMT
[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/XRP-USD-190906/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"XRP-USD-190906","amount":"128748","timestamp":"2019-09-05T09:25:48.351Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:48 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/XRP-USD-190906/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"XRP-USD-190906","index":"0.257581209775","timestamp":"2019-09-05T09:25:48.440Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:48 GMT
[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BCH-USD-190906/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BCH-USD-190906","amount":"174824","timestamp":"2019-09-05T09:25:48.944Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:48 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BCH-USD-190906/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BCH-USD-190906","index":"294.25731992666664","timestamp":"2019-09-05T09:25:49.035Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:49 GMT
[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BSV-USD-190906/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BSV-USD-190906","amount":"45951","timestamp":"2019-09-05T09:25:49.839Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:49 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BSV-USD-190906/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BSV-USD-190906","index":"132.21534991783332","timestamp":"2019-09-05T09:25:49.929Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:49 GMT
[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/EOS-USD-190906/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"EOS-USD-190906","amount":"283988","timestamp":"2019-09-05T09:25:50.440Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:50 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/EOS-USD-190906/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"EOS-USD-190906","index":"3.306943574225","timestamp":"2019-09-05T09:25:50.527Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:50 GMT
[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/TRX-USD-190906/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"TRX-USD-190906","amount":"62680","timestamp":"2019-09-05T09:25:51.056Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:51 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/TRX-USD-190906/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"TRX-USD-190906","index":"0.01541965747","timestamp":"2019-09-05T09:25:51.146Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:51 GMT
[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/TRX-USD-190927/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"TRX-USD-190927","index":"0.01541965747","timestamp":"2019-09-05T09:25:51.602Z"}'
  recorded_at: Thu, 05 Sep 2019 09:25:51 GMT
recorded_with: VCR 4.0.0
