---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BTC-USD-190906/open_interest
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-190906","amount":"495276","timestamp":"2019-09-05T04:26:13.443Z"}'
  recorded_at: Thu, 05 Sep 2019 04:26:13 GMT
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BTC-USD-190906/index
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-190906","index":"10580.422","timestamp":"2019-09-05T04:26:13.625Z"}'
  recorded_at: Thu, 05 Sep 2019 04:26:13 GMT
recorded_with: VCR 4.0.0
