---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-SWAP","last":"10592.3","high_24h":"10840","low_24h":"10375","volume_24h":"4371907","best_ask":"10592.4","best_bid":"10592.3","timestamp":"2019-09-05T09:25:42.203Z"},{"instrument_id":"LTC-USD-SWAP","last":"67.12","high_24h":"68.47","low_24h":"66.24","volume_24h":"1082112","best_ask":"67.12","best_bid":"67.11","timestamp":"2019-09-05T09:25:16.965Z"},{"instrument_id":"ETH-USD-SWAP","last":"174.46","high_24h":"178.71","low_24h":"173.18","volume_24h":"4812139","best_ask":"174.46","best_bid":"174.45","timestamp":"2019-09-05T09:25:15.612Z"},{"instrument_id":"TRX-USD-SWAP","last":"0.01543","high_24h":"0.01581","low_24h":"0.01536","volume[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BCH-USD-190906","last":"294.51","best_bid":"294.39","best_ask":"294.61","high_24h":"300.27","low_24h":"292","volume_24h":"945874","timestamp":"2019-09-05T09:25:[...]
