---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/swap/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"BTC-USD-SWAP","last":"9787.4","high_24h":"10169.7","low_24h":"9648.9","volume_24h":"2851174","best_ask":"9787.5","best_bid":"9787.4","timestamp":"2019-07-26T09:18:24.419Z"},{"instrument_id":"LTC-USD-SWAP","last":"92.64","high_24h":"96.34","low_24h":"90.01","volume_24h":"1792679","best_ask":"92.65","best_bid":"92.62","timestamp":"2019-07-26T09:18:00.815Z"},{"instrument_id":"ETH-USD-SWAP","last":"216.23","high_24h":"225.01","low_24h":"212.54","volume_24h":"5498683","best_ask":"216.23","best_bid":"216.22","timestamp":"2019-07-26T09:18:27.021Z"},{"instrument_id":"TRX-USD-SWAP","last":"0.0227","high_24h":"0.02366","low_24h":"0.02229","volume_[...]
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_id":"XRP-USD-190809","last":"0.3146","best_bid":"0.3146","best_ask":"0.3147","high_24h":"0.3229","low_24h":"0.2991","volume_24h":"1181613","timestamp":"2019-07-26T09[...]
