---
http_interactions:
- request:
    method: get
    uri: https://www.okex.com/api/futures/v3/instruments/BTC-USD-190927/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_id":"BTC-USD-190927","last":"8394","best_bid":"8391.27","best_ask":"8393.08","high_24h":"9781.87","low_24h":"7590.64","volume_24h":"14850123","timestamp":"2019-09-25T10:52:37.359Z"}'
  recorded_at: Wed, 25 Sep 2019 10:52:36 GMT
recorded_with: VCR 4.0.0
