---
http_interactions:
- request:
    method: get
    uri: https://testnet-dex.binance.org/api/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '[{"symbol":"GLC-0C7_BNB","priceChange":"0.00000000","priceChangePercent":"0.0000","prevClosePrice":"0.81000000","lastPrice":"0.81000000","lastQuantity":"1.00000000","openPrice":"0.81000000","highPrice":"0.81000000","lowPrice":"0.81000000","openTime":1554955963324,"closeTime":1555042363324,"firstId":"3033814-0","lastId":"3033814-0","bidPrice":"0","bidQuantity":"0","askPrice":"0","askQuantity":"0","weightedAvgPrice":"0.81000000","volume":"0","quoteVolume":"0","count":0},{"symbol":"BIN-986_BNB","priceChange":"0.00000000","priceChangePercent":"0.0000","prevClosePrice":"0.90000000","lastPrice":"0.90000000","lastQuantity":"1.50000000","openPrice":"0.90000000","highPrice":"0.90000000","lowPrice":"0.90000000","openTime":1554955963324,"closeTime":1555042363324,"firstId":"3148113-4","lastId":"3148113-4","bidPrice":"0","bidQuantity":"0","askPrice":"0","askQuantity":"0","weightedAvgPrice":"0.90000000","volume":"0","quoteVolume":"0","count":0},{"symbol":"84SHEDAO-F6F_B[...]
