---
http_interactions:
- request:
    method: get
    uri: https://dex.binance.org/api/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '[{"symbol":"NOW-E68_BNB","priceChange":"-0.00150000","priceChangePercent":"-0.5281","prevClosePrice":"0.00164000","lastPrice":"0.00134000","lastQuantity":"74.60000000","openPrice":"0.00284000","highPrice":"0.00284000","lowPrice":"0.00130000","openTime":1556676665288,"closeTime":1556763065288,"firstId":"2826641-0","lastId":"3021458-0","bidPrice":"0.00133000","bidQuantity":"20000.00000000","askPrice":"0.00134000","askQuantity":"175.95000000","weightedAvgPrice":"0.00156924","volume":"643832.90300000","quoteVolume":"1010.3284316300000000","count":128},{"symbol":"MITH-C76_BNB","priceChange":"-0.00006947","priceChangePercent":"-0.0348","prevClosePrice":"0.00203077","lastPrice":"0.00192200","lastQuantity":"10.00000000","openPrice":"0.00199147","highPrice":"0.00203077","lowPrice":"0.00188880","openTime":1556676665288,"closeTime":1556763065288,"firstId":"2826714-0","lastId":"3029856-0","bidPrice":"0.00192200","bidQuantity":"94.00000000","askPrice":"0.00198053","askQuantity":"3401.00000000","weightedAvgPrice":"0.00198293","volume":"825.00000000","quoteVolume":"1.6359202900000000","count":13}]'
  recorded_at: Thu, 02 May 2019 02:11:01 GMT
recorded_with: VCR 4.0.0
