---
http_interactions:
- request:
    method: get
    uri: https://dex-asiapacific.binance.org/api/v1/trades?limit=50&offset=0&symbol=MITH-C76_BNB
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '{"trade":[{"tradeId":"13688390-1","blockHeight":13688390,"symbol":"MITH-C76_BNB","price":"0.00195848","quantity":"183.00000000","buyerOrderId":"4CAE0AA667CE18C6136FAE5BA7537710CD9FEF63-372","sellerOrderId":"8ECA5805AFC67C7AEB9A247A874AE6C4F26B03BB-53","buyerId":"bnb1fjhq4fn8ecvvvym04ed6w5mhzrxelmmrtz7w8j","sellerId":"bnb13m99spd0ce7846u6y3agwjhxcnexkqamek2324","buyFee":"BNB:0.00014336;","sellFee":"BNB:0.00014336;","baseAsset":"MITH-C76","quoteAsset":"BNB","time":1560752988294},{"tradeId":"13688386-0","blockHeight":13688386,"symbol":"MITH-C76_BNB","price":"0.00195970","quantity":"1000.00000000","buyerOrderId":"E81F549BDEB108F644E27EAE5C23E83C2D28A6B1-214","sellerOrderId":"21BC5F58D5E107B30A45F1435606C8ECDBC7355B-210","buyerId":"bnb1aq04fx77kyy0v38z06h9cglg8skj3f43l99983","sellerId":"bnb1yx797kx4uyrmxzj979p4vpkganduwd2mdyyuvn","buyFee":"BNB:0.00078388;","sellFee":"BNB:0.00078388;","baseAsset":"MITH-C76","quoteAsset":"BNB","time":1560752986781},{"tradeId":[...]
