---
http_interactions:
- request:
    method: get
    uri: https://cpufinex.com/api/v2/trade/public/markets/btcusdt/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3019c9a9f2542be275ca13ee2195822a"
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 93.115.28.37
    body:
      encoding: ASCII-8BIT
      string: '{"name":"BTC/USDT","base_unit":"btc","quote_unit":"usdt","low":"9972.0","high":"10638.0","last":"10310.0","open":"10310.0","amount":"0.0","volume":"5050228.80232027","sell":"10312.0","buy":"10310.0","avg_price":"10230.245720844388960001582772712","price_change_percent":"+0.00%"}'
  recorded_at: Mon, 26 Aug 2019 08:14:28 GMT
recorded_with: VCR 4.0.0
