---
http_interactions:
- request:
    method: get
    uri: https://cpufinex.com/api/v2/trade/public/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"50e75cc3a29f92a9fbd50c35639b5883"
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 93.115.28.37
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"btcusdt","name":"BTC/USDT","base_unit":"btc","quote_unit":"usdt","ask_fee":"0.001","bid_fee":"0.001","min_price":"6000.0","max_price":"2000000.0","min_amount":"0.00000001","amount_precision":8,"price_precision":0,"state":"enabled"},{"id":"ethusdt","name":"ETH/USDT","base_unit":"eth","quote_unit":"usdt","ask_fee":"0.001","bid_fee":"0.001","min_price":"100.0","max_price":"2000000.0","min_amount":"0.00000001","amount_precision":8,"price_precision":2,"state":"enabled"},{"id":"cpuusdt","name":"CPU/USDT","base_unit":"cpu","quote_unit":"usdt","ask_fee":"0.001","bid_fee":"0.001","min_price":"0.001","max_price":"20000.0","min_amount":"0.00001","amount_precision":5,"price_precision":8,"state":"enabled"},{"id":"cpubtc","name":"CPU/BTC","base_unit":"cpu","quote_unit":"btc","ask_fee":"0.001","bid_fee":"0.001","min_price":"0.00000001","max_price":"1.0","min_amount":"0.00001","amount_precision":5,"price_precision":8,"state":"enabled"},{"id":"cpueth","name":"CPU/ETH","base_unit":"cpu","quote_unit":"eth","ask_fee":"0.001","bid_fee":"0.001","min_price":"0.00000001","max_price":"1.0","min_amount":"0.00001","amount_precision":5,"price_precision":8,"state":"enabled"},{"id":"ethbtc","name":"ETH/BTC","base_unit":"eth","quote_unit":"btc","ask_fee":"0.001","bid_fee":"0.001","min_price":"0.00000001","max_price":"100.0","min_amount":"0.00001","amount_precision":5,"price_precision":8,"state":"enabled"}]'
  recorded_at: Mon, 26 Aug 2019 08:14:28 GMT
recorded_with: VCR 4.0.0
