---
http_interactions:
- request:
    method: get
    uri: https://cpufinex.com/api/v2/trade/public/markets/btcusdt/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"532a73ced14e3841e5b11541544a533f"
      Link:
      - <https://cpufinex.com/api/v2/public/markets/btcusdt/trades?page=92>; rel="last",
        <https://cpufinex.com/api/v2/public/markets/btcusdt/trades?page=2>; rel="next"
      Page:
      - '1'
      Per-Page:
      - '100'
      Total:
      - '9108'
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 93.115.28.37
    body:
      encoding: ASCII-8BIT
      string: '[{"id":18386,"price":"10310.0","volume":"0.02","funds":"206.2","market":"btcusdt","created_at":"2019-08-26T10:14:20+02:00","taker_type":"sell"},{"id":18385,"price":"10310.0","volume":"0.07","funds":"721.7","market":"btcusdt","created_at":"2019-08-26T10:14:08+02:00","taker_type":"sell"},{"id":18373,"price":"10310.0","volume":"0.01574368","funds":"162.3173408","market":"btcusdt","created_at":"2019-08-26T10:13:37+02:00","taker_type":"sell"},{"id":18368,"price":"10310.0","volume":"0.07","funds":"721.7","market":"btcusdt","created_at":"2019-08-26T10:13:21+02:00","taker_type":"sell"},{"id":18364,"price":"10310.0","volume":"0.07","fund[...]
