---
http_interactions:
- request:
    method: get
    uri: https://altmarkets.io/api/v2/order_book?asks_limit=20&bids_limit=20&market=dogebtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 162.158.166.176
      X-Nginx-Proxy:
      - 'true'
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"66b939fa2f3122b7ce0c0bcf04ebc21e"
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":4324,"side":"sell","ord_type":"limit","price":"0.00000058","avg_price":"0.0","state":"wait","market":"dogebtc","created_at":"2019-02-20T02:05:54+00:00","volume":"320.0","remaining_volume":"320.0","executed_volume":"0.0","trades_count":0},{"id":3787,"side":"sell","ord_type":"limit","price":"0.00000059","avg_price":"0.00000059","state":"wait","market":"dogebtc","created_at":"2019-02-17T20:05:22+00:00","volume":"1000.0","remaining_volume":"445.53296522","executed_volume":"554.46703478","trades_count":3},{"id":3727,"side":"sell","ord_type":"limit","price":"0.0000006","avg_price":"0.0","state":"wait","market":"dogebtc","created_at":"2019-02-17T16:27:24+00:00","volume":"100.0","remaining_volume":"100.0","executed_volume":"0.0","trades_count":0},{"id":3786,"side":"sell","ord_type":"limit","price":"0.0000006","avg_price":"0.0","state":"wait","market":"dogebtc","created_at":"2019-02-17T20:04:57+00:00","volume":"900.0","remaining_volume":"900.0","executed_volume":"0.0","trades_count":0},{"id":4310,"side":"sell","ord_type":"limit","price":"0.00000072","avg_price":"0.0","state":"wait","market":"dogebtc","created_at":"2019-02-20T00:27:16+00:00","volume":"1800.0","remaining_volume":"1800.0","executed_volume":"0.0","trades_count":0},{"id":1780,"side":"sell","ord_type":"limit","price":"0.00000074","avg_price":"0.0","state":"wait","market":"dogebtc","created_at":"2019-02-10T02:06:38+00:00","volume":"10.0","remaining_volume":"10.0","executed_volume":"0.0","trades_count":0},{"id":1784,"side":"sell","ord_type":"limit","price":"0.00000074","avg_price":"0.0","state":"wait","market":"dogebtc","created_at":"2019-02-10T02:33:18+00:00","volume":"10.0","remaining_volume":"10.0","executed_volume":"0.0","trades_count":0}],"bids":[{"id":4151,"side":"buy","ord_type":"limit","price":"0.00000053","avg_price":"0.00000053","state":"wait","market":"dogebtc","created_at":"2019-02-19T02:16:03+00:00","volume":"11510.60344827","remaining_volume":"7190.2914948","executed_volume":"4320.31195347","trades_count":7},{"id":4152,"side":"buy","ord_type":"limit","price":"0.00000053","avg_price":"0.0","state":"wait","market":"dogebtc","created_at":"2019-02-19T02:16:31+00:00","volume":"1085.90621081","remaining_volume":"1085.90621081","executed_volume":"0.0","trades_count":0},{"id":4154,"side":"buy","ord_type":"limit","price":"0.00000053","avg_price":"0.0","state":"wait","market":"dogebtc","created_at":"2019-02-19T02:27:23+00:00","volume":"100.22250019","remaining_volume":"100.22250019","executed_volume":"0.0","trades_count":0},{"id":4157,"side":"buy","ord_type":"limit","price":"0.00000053","avg_price":"0.0","state":"wait","market":"dogebtc","created_at":"2019-02-19T02:59:33+00:00","volume":"307.76016644","remaining_volume":"307.76016644","executed_volume":"0.0","trades_count":0},{"id":3870,"side":"buy","ord_type":"limit","price":"0.00000052","avg_price":"0.00000052","state":"wait","market":"dogebtc","created_at":"2019-02-18T04:40:55+00:00","volume":"10000.0","remaining_volume":"9185.43147804","executed_volume":"814.56852196","trades_count":1}]}'
  recorded_at: Wed, 20 Feb 2019 08:45:40 GMT
recorded_with: VCR 4.0.0
