---
http_interactions:
- request:
    method: get
    uri: https://altmarkets.cc/api/v1/public/getmarkets24
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":{"TotalMarkets":45,"v24":0.9641862829332298,"data":{"ADVP":{"MarketName":"BTC-ADVP","High":"0.00000001","Low":"0.00000001","Volume":"179260.87700000","Last":"0.00000001","Bid":"0.00000000","Ask":"0.00000003","OpenBuyOrders":0,"OpenSellOrders":15,"coin_icon_src":"https%3A//i.imgur.com/H6LNq7Y.png","coin_info":{"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4563189.0","active":true,"minconf":3,"withdraw":"Enabled","orders":"Enabled"}},"ALTM":{"MarketName":"BTC-ALTM","High":"0.00000747","Low":"0.00000747","Volume":"6686.75370000","Last":"0.00000747","Bid":"0.00000500","Ask":"0.00000747","OpenBuyOrders":1,"OpenSellOrders":1,"coin_icon_src":"https%3A//i.imgur.com/3D7JGUY.png","coin_info":{"minconf":3,"hold":0.000001,"page":"http://altmarkets.cc","active":true}},"ANTY":{"MarketName":"BTC-ANTY","High":0,"Low":0,"Volume":0,"Last":"0.00000067","Bid":"0.00000003","Ask":"0.00000066","OpenBuyOrders":3,"OpenSellOrders":5,"coin_icon_src":"https%3A//www.animalitycoin.info/PT/img/Animality-80.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4712639","active":true,"withdraw":"Disabled","orders":"Enabled"}},"BTC":{"MarketName":"BTC-BTC","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000000","Ask":"0.00000000","OpenBuyOrders":0,"OpenSellOrders":0,"coin_icon_src":"https%3A//github.com/jonn4y/Bitcoin-SVP/blob/master/src/qt/res/icons/bitcoin.png%3Fraw%3Dtrue","coin_info":{"minconf":3,"hold":0.0003,"active":true,"page":"http://bitcoin.com","withdraw":"Enabled","orders":"Enabled"}},"XBI":{"MarketName":"BTC-XBI","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000000","Ask":"0.00001600","OpenBuyOrders":0,"OpenSellOrders":36,"coin_icon_src":"https%3A//media.discordapp.net/attachments/477793857946386456/478642397341810699/XBI_LOGO_ROUND-BLACK_high_res.png%3Fwidth%3D454%26height%3D454","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4545453.0","active":true}},"BZX":{"MarketName":"BTC-BZX","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000000","Ask":"0.00000000","OpenBuyOrders":0,"OpenSellOrders":0,"coin_icon_src":"https%3A//i.imgur.com/MsxBnuy.png","coin_info":{"minconf":6,"hold":0.001,"page":"https://www.bitcoinzerox.net","active":false}},"CBTC":{"MarketName":"BTC-CBTC","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000000","Ask":"0.00000000","OpenBuyOrders":0,"OpenSellOrders":0,"coin_icon_src":"https%3A//i.imgur.com/MynBfs6.png","coin_info":{"minconf":3,"hold":0.001,"page":"https://bitcointalk.org/index.php?topic=3095296.0","active":false}},"COBRA":{"MarketName":"BTC-COBRA","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000010","Ask":"0.00000000","OpenBuyOrders":1,"OpenSellOrders":0,"coin_icon_src":"https%3A//i.imgur.com/pWMdCg2.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=5026824","active":true}},"CYR":{"MarketName":"BTC-CYR","High":0,"Low":0,"Volume":0,"Last":"0.00000050","Bid":"0.00000000","Ask":"0.00000051","OpenBuyOrders":0,"OpenSellOrders":3,"coin_icon_src":"https%3A//i.imgur.com/az7NLEa.png","coin_info":{"minconf":6,"hold":1,"page":"https://bitcointalk.org/index.php?topic=2186566.0","active":true,"withdraw":"Enabled","orders":"Enabled"}},"DOGE":{"MarketName":"BTC-DOGE","High":"0.00000096","Low":"0.00000089","Volume":"4771.93398700","Last":"0.00000089","Bid":"0.00000089","Ask":"0.00000102","OpenBuyOrders":3,"OpenSellOrders":7,"coin_icon_src":"https%3A//i.imgur.com/d2XjJVV.png","coin_info":{"minconf":6,"hold":2,"page":"https://bitcointalk.org/index.php?topic=361813.0","active":true}},"DCU":{"MarketName":"BTC-DCU","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000001","Ask":"0.00000002","OpenBuyOrders":1,"OpenSellOrders":16,"coin_icon_src":"https%3A//i.imgur.com/7lML4x6.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4906967","active":true}},"DFT":{"MarketName":"BTC-DFT","High":0,"Low":0,"Volume":0,"Last":"0.00000500","Bid":"0.00000001","Ask":"0.00000500","OpenBuyOrders":1,"OpenSellOrders":9,"coin_icon_src":"https%3A//i.imgur.com/oQIigM6.png","coin_info":{"minconf":3,"hold":0.002,"page":"https://bitcointalk.org/index.php?topic=2144790.0","active":true}},"EGX":{"MarketName":"BTC-EGX","High":0,"Low":0,"Volume":0,"Last":"0.00000001","Bid":"0.00000000","Ask":"0.00000000","OpenBuyOrders":0,"OpenSellOrders":0,"coin_icon_src":"https%3A//i.imgur.com/dFuTiGU.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4487966","active":false,"withdraw":"Enabled","orders":"Disabled"}},"ELENA":{"MarketName":"BTC-ELENA","High":"0.00000900","Low":"0.00000100","Volume":"591252.06136670","Last":"0.00000150","Bid":"0.00000107","Ask":"0.00000150","OpenBuyOrders":10,"OpenSellOrders":23,"coin_icon_src":"https%3A//i.imgur.com/knQCdNO.jpg","coin_info":{"page":"https://bitcointalk.org/index.php?topic=5022498.0","active":true,"hold":0.01,"minconf":3}},"ENDO":{"MarketName":"BTC-ENDO","High":0,"Low":0,"Volume":0,"Last":"0.00000001","Bid":"0.00000000","Ask":"0.00000001","OpenBuyOrders":0,"OpenSellOrders":12,"coin_icon_src":"https%3A//i.imgur.com/9N9szLr.jpg","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4407094.0","active":true,"withdraw":"Enabled","orders":"Disabled"}},"XFTC":{"MarketName":"BTC-XFTC","High":0,"Low":0,"Volume":0,"Last":"0.00000240","Bid":"0.00000010","Ask":"0.00000100","OpenBuyOrders":1,"OpenSellOrders":7,"coin_icon_src":"https%3A//i.imgur.com/jFhpmuO.png","coin_info":{"minconf":3,"hold":0.001,"page":"https://bitcointalk.org/index.php?topic=4964512.0","active":true}},"FLX":{"MarketName":"BTC-FLX","High":0,"Low":0,"Volume":0,"Last":"0.00000003","Bid":"0.00000002","Ask":"0.00000009","OpenBuyOrders":3,"OpenSellOrders":23,"coin_icon_src":"https%3A//i.imgur.com/9fgnXkz.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4511590","active":true,"withdraw":"Enabled","orders":"Disabled"}},"GIVE":{"MarketName":"BTC-GIVE","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000010","Ask":"0.00000035","OpenBuyOrders":2,"OpenSellOrders":8,"coin_icon_src":"https%3A//i.imgur.com/BlI2gpF.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=3339380.0","active":true}},"GPKR":{"MarketName":"BTC-GPKR","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000001","Ask":"0.00000000","OpenBuyOrders":1,"OpenSellOrders":0,"coin_icon_src":"https%3A//i.imgur.com/kbiBeJF.png","coin_info":{"minconf":3,"hold":0.001,"page":"https://bitcointalk.org/index.php?topic=4611010","active":true}},"GRPH":{"MarketName":"BTC-GRPH","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000050","Ask":"0.00000000","OpenBuyOrders":2,"OpenSellOrders":0,"coin_icon_src":"https%3A//i.imgur.com/L5yH0zu.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4359052.0","active":true,"withdraw":"Enabled","orders":"Enabled"}},"U0F":{"MarketName":"BTC-U0F","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000001","Ask":"0.00000010","OpenBuyOrders":2,"OpenSellOrders":39,"coin_icon_src":"https%3A//i.imgur.com/jjlRRr6.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4867404.msg43849852#msg43849852","active":true}},"IMG":{"MarketName":"BTC-IMG","High":0,"Low":0,"Volume":0,"Last":"0.00000002","Bid":"0.00000003","Ask":"0.00000033","OpenBuyOrders":5,"OpenSellOrders":6,"coin_icon_src":"https%3A//i.imgur.com/3kGXGkt.png","coin_info":{"page":"https://bitcointalk.org/index.php?topic=4722411","hold":0.01,"minconf":3,"active":true,"withdraw":"Enabled","orders":"Disabled"}},"LEGN":{"MarketName":"BTC-LEGN","High":"0.00000020","Low":"0.00000020","Volume":"49.80090000","Last":"0.00000000","Bid":"0.00000000","Ask":"0.00000022","OpenBuyOrders":0,"OpenSellOrders":15,"coin_icon_src":"https%3A//i.imgur.com/eVDWG8S.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4068585.msg38004044#msg38004044","active":true}},"LTC":{"MarketName":"BTC-LTC","High":0,"Low":0,"Volume":0,"Last":"0.00785700","Bid":"0.00000000","Ask":"0.00000000","OpenBuyOrders":0,"OpenSellOrders":0,"coin_icon_src":"https%3A//i.imgur.com/yUcmLxS.png","coin_info":{"minconf":3,"hold":0.002,"page":"http://litecoin.org","active":true}},"LIZA":{"MarketName":"BTC-LIZA","High":"0.00090000","Low":"0.00000040","Volume":"2939.58570576","Last":"0.00000400","Bid":"0.00000100","Ask":"0.00000200","OpenBuyOrders":23,"OpenSellOrders":15,"coin_icon_src":"https%3A//i.imgur.com/PWs7ZU2.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=844754.0","active":true}},"MENTAL":{"MarketName":"BTC-MENTAL","High":0,"Low":0,"Volume":0,"Last":"0.00000003","Bid":"0.00000000","Ask":"0.00000002","OpenBuyOrders":0,"OpenSellOrders":9,"coin_icon_src":"https%3A//i.imgur.com/VS83i0q.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=1852366","active":true}},"MOVIE":{"MarketName":"BTC-MOVIE","High":"0.00000150","Low":"0.00000090","Volume":"6049.15829000","Last":"0.00000090","Bid":"0.00000020","Ask":"0.00000090","OpenBuyOrders":6,"OpenSellOrders":32,"coin_icon_src":"https%3A//i.imgur.com/kNdB0H5.png","coin_info":{"minconf":3,"hold":0.01,"active":true,"page":"https://bitcointalk.org/index.php?topic=4906308"}},"MYNT":{"MarketName":"BTC-MYNT","High":"0.00000007","Low":"0.00000004","Volume":"4061.31370000","Last":"0.00000004","Bid":"0.00000003","Ask":"0.00000006","OpenBuyOrders":6,"OpenSellOrders":36,"coin_icon_src":"https%3A//i.imgur.com/erDDHAI.png","coin_info":{"hold":0.01,"minconf":3,"page":"https://bitcointalk.org/index.php?topic=4973629","active":true,"withdraw":"Enabled","orders":"Enabled"}},"NNC":{"MarketName":"BTC-NNC","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000000","Ask":"0.00000000","OpenBuyOrders":0,"OpenSellOrders":0,"coin_icon_src":"https%3A//www.nanucoin.com/v1/img/nnc.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=2395392","active":false}},"OASIS":{"MarketName":"BTC-OASIS","High":"0.00000510","Low":"0.00000110","Volume":"277.77814110","Last":"0.00000510","Bid":"0.00000112","Ask":"0.00000510","OpenBuyOrders":4,"OpenSellOrders":82,"coin_icon_src":"https%3A//i.imgur.com/gQOb4Iz.png","coin_info":{"minconf":3,"hold":0.002,"page":"https://bitcointalk.org/index.php?topic=4482370.msg40269483#msg40269483","active":true}},"PND":{"MarketName":"BTC-PND","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000000","Ask":"0.00000000","OpenBuyOrders":0,"OpenSellOrders":0,"coin_icon_src":"https%3A//i.imgur.com/RyjNtEu.png","coin_info":{"minconf":3,"hold":0.001,"page":"https://bitcointalk.org/index.php?topic=1960307.0","active":false}},"PINE":{"MarketName":"BTC-PINE","High":"0.00000004","Low":"0.00000001","Volume":"71582.68710000","Last":"0.00000001","Bid":"0.00000001","Ask":"0.00000005","OpenBuyOrders":4,"OpenSellOrders":31,"coin_icon_src":"https%3A//i.imgur.com/5TgUSmF.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://t.me/pinecoin","active":true}},"XTRAW":{"MarketName":"BTC-XTRAW","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000001","Ask":"0.00001999","OpenBuyOrders":1,"OpenSellOrders":5,"coin_icon_src":"https%3A//i.imgur.com/qTButuw.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=3105194.0","active":true}},"TIM":{"MarketName":"BTC-TIM","High":0,"Low":0,"Volume":0,"Last":"0.00000650","Bid":"0.00000800","Ask":"0.00012000","OpenBuyOrders":5,"OpenSellOrders":27,"coin_icon_src":"https%3A//i.imgur.com/0an0esB.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=5026651","active":true}},"VIOG":{"MarketName":"BTC-VIOG","High":0,"Low":0,"Volume":0,"Last":"0.00000002","Bid":"0.00000004","Ask":"0.00000100","OpenBuyOrders":5,"OpenSellOrders":6,"coin_icon_src":"https%3A//i.imgur.com/AKlHq5P.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=3308878","active":true}},"UFO":{"MarketName":"BTC-UFO","High":"0.00000005","Low":"0.00000005","Volume":"19623.04000000","Last":"0.00000000","Bid":"0.00000000","Ask":"0.00000010","OpenBuyOrders":0,"OpenSellOrders":3,"coin_icon_src":"https%3A//i.imgur.com/c6QUyix.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=844754.0","active":true}},"RDD":{"MarketName":"BTC-RDD","High":"0.00000050","Low":"0.00000050","Volume":"0.14799600","Last":"0.00000050","Bid":"0.00000050","Ask":"0.00000100","OpenBuyOrders":1,"OpenSellOrders":3,"coin_icon_src":"https%3A//i.imgur.com/TVV9lVo.png","coin_info":{"minconf":10,"hold":0.02,"page":"https://bitcointalk.org/index.php?topic=423597.0","active":true}},"RPD":{"MarketName":"BTC-RPD","High":0,"Low":0,"Volume":0,"Last":"0.00000012","Bid":"0.00000005","Ask":"0.00000020","OpenBuyOrders":8,"OpenSellOrders":11,"coin_icon_src":"https%3A//rippedcoin.com/images1/Ripped1.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=3340167","active":true}},"GCASH":{"MarketName":"BTC-GCASH","High":"0.00000245","Low":"0.00000065","Volume":"729.52385610","Last":"0.00000240","Bid":"0.00000085","Ask":"0.00000237","OpenBuyOrders":6,"OpenSellOrders":49,"coin_icon_src":"https%3A//i.imgur.com/Qj5Oh2e.png","coin_info":{"minconf":3,"hold":0.002,"page":"https://bitcointalk.org/index.php?topic=4601564.0","active":true}},"VAPE":{"MarketName":"BTC-VAPE","High":"0.00000001","Low":"0.00000001","Volume":"5955.67400000","Last":"0.00000001","Bid":"0.00000000","Ask":"0.00000002","OpenBuyOrders":0,"OpenSellOrders":22,"coin_icon_src":"https%3A//i.imgur.com/himUKL5.png","coin_info":{"minconf":3,"hold":0.1,"page":"https://bitcointalk.org/index.php?topic=4728071","active":true,"withdraw":"Enabled","orders":"Enabled"}},"x42":{"MarketName":"BTC-x42","High":"0.00001100","Low":"0.00001100","Volume":"0.95359186","Last":"0.00001100","Bid":"0.00000705","Ask":"0.00001499","OpenBuyOrders":11,"OpenSellOrders":22,"coin_icon_src":"https%3A//i.imgur.com/22OnUIo.png","coin_info":{"minconf":3,"hold":0.001,"page":"https://bitcointalk.org/index.php?topic=4799548.0","active":true,"withdraw":"Enabled","orders":"Enabled"}},"XCL":{"MarketName":"BTC-XCL","High":0,"Low":0,"Volume":0,"Last":"0.00000003","Bid":"0.00000003","Ask":"0.00000098","OpenBuyOrders":2,"OpenSellOrders":11,"coin_icon_src":"https%3A//i.imgur.com/nXDSxU9.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4765600","active":true,"withdraw":"Disabled","orders":"Enabled"}},"VOLKS":{"MarketName":"BTC-VOLKS","High":0,"Low":0,"Volume":0,"Last":"0.00000900","Bid":"0.00000000","Ask":"0.00000980","OpenBuyOrders":0,"OpenSellOrders":2,"coin_icon_src":"https%3A//i.imgur.com/O2NtB1g.png","coin_info":{"minconf":3,"hold":0.01,"active":true,"page":"https://bitcointalk.org/index.php?topic=2037602"}},"YUANC":{"MarketName":"BTC-YUANC","High":0,"Low":0,"Volume":0,"Last":"0.00000005","Bid":"0.00000000","Ask":"0.00000005","OpenBuyOrders":0,"OpenSellOrders":23,"coin_icon_src":"https%3A//i.imgur.com/a31t1CI.png","coin_info":{"minconf":3,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=1942012.0","active":true}},"EXIST":{"MarketName":"BTC-EXIST","High":0,"Low":0,"Volume":0,"Last":"0.00000000","Bid":"0.00000000","Ask":"0.00000002","OpenBuyOrders":0,"OpenSellOrders":5,"coin_icon_src":"https%3A//i.imgur.com/Y1rmCLN.png","coin_info":{"minconf":3,"page":"https://bitcointalk.org/index.php?topic=4740427.0","hold":0.01,"active":true}}}}}'
  recorded_at: Tue, 18 Sep 2018 11:40:41 GMT
recorded_with: VCR 4.0.0
