---
http_interactions:
- request:
    method: get
    uri: https://altmarkets.io/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 172.69.135.115
      X-Nginx-Proxy:
      - 'true'
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"8d742eddf868d396507aa1460dccdf60"
    body:
      encoding: ASCII-8BIT
      string: '{"alexbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0000099","low":"0.0","high":"0.0","last":"0.0000099","vol":"0.0"}},"altmbtc":{"at":1550652339,"ticker":{"buy":"0.00000025","sell":"0.00000034","low":"0.00000021","high":"0.00000021","last":"0.00000021","vol":"1000.0"}},"bccbtc":{"at":1550652339,"ticker":{"buy":"0.000083","sell":"0.00012","low":"0.000085","high":"0.00011","last":"0.00011","vol":"741.69714989"}},"cfccbtc":{"at":1550652339,"ticker":{"buy":"0.00000001","sell":"0.004","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0"}},"chanbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00000075","low":"0.0","high":"0.0","last":"0.00000075","vol":"0.0"}},"civbtc":{"at":1550652339,"ticker":{"buy":"0.00000001","sell":"0.00001","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"cspnbtc":{"at":1550652339,"ticker":{"buy":"0.00000123","sell":"0.00014779","low":"0.0","high":"0.0","last":"0.00014998","vol":"0.0"}},"cnmcbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00001","low":"0.0","high":"0.0","last":"0.00001","vol":"0.0"}},"cvcbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0000000069","low":"0.0","high":"0.0","last":"0.000000007","vol":"0.0"}},"cyrbtc":{"at":1550652339,"ticker":{"buy":"0.00000003","sell":"0.00000039","low":"0.0","high":"0.0","last":"0.00000003","vol":"0.0"}},"deibtc":{"at":1550652339,"ticker":{"buy":"0.00000001","sell":"0.00000009","low":"0.0","high":"0.0","last":"0.00000014","vol":"0.0"}},"dogebtc":{"at":1550652339,"ticker":{"buy":"0.00000053","sell":"0.00000058","low":"0.00000053","high":"0.00000059","last":"0.00000053","vol":"4527.17521624"}},"domobtc":{"at":1550652339,"ticker":{"buy":"0.00000031","sell":"0.0000135","low":"0.0","high":"0.0","last":"0.00000026","vol":"0.0"}},"dt3btc":{"at":1550652339,"ticker":{"buy":"0.0000001","sell":"0.000001","low":"0.00000001","high":"0.000001","last":"0.000001","vol":"7513.97495768"}},"gocashbtc":{"at":1550652339,"ticker":{"buy":"0.00000007","sell":"0.00000358","low":"0.00000007","high":"0.00000007","last":"0.00000007","vol":"0.0"}},"galibtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0000009","high":"0.0000009","last":"0.0000009","vol":"231.42230669"}},"hcashbtc":{"at":1550652339,"ticker":{"buy":"0.00000001","sell":"0.000014","low":"0.0","high":"0.0","last":"0.000016","vol":"0.0"}},"helpbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.3","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"hwibtc":{"at":1550652339,"ticker":{"buy":"0.00000001","sell":"0.00003","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"huzubtc":{"at":1550652339,"ticker":{"buy":"0.00000106","sell":"0.000009","low":"0.0","high":"0.0","last":"0.0000009","vol":"0.0"}},"hightbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0015","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"infwbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.00000001","high":"0.00000001","last":"0.00000001","vol":"34947.5"}},"ketobtc":{"at":1550652339,"ticker":{"buy":"0.00000018","sell":"0.00000027","low":"0.00000017","high":"0.0000002","last":"0.00000018","vol":"63716.03584628"}},"nycbtc":{"at":1550652339,"ticker":{"buy":"0.0000000001","sell":"0.0000000024","low":"0.0","high":"0.0","last":"0.0000000025","vol":"0.0"}},"nygbtc":{"at":1550652339,"ticker":{"buy":"0.0000000005","sell":"0.0000000006","low":"0.0","high":"0.0","last":"0.0000000003","vol":"0.0"}},"ltcbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.011","vol":"0.0"}},"lvtbtc":{"at":1550652339,"ticker":{"buy":"0.00000002","sell":"0.00000007","low":"0.00000002","high":"0.00000007","last":"0.00000002","vol":"499.0"}},"lsrbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00001491","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"oasisbtc":{"at":1550652339,"ticker":{"buy":"0.0000055","sell":"0.000139","low":"0.000005","high":"0.000144","last":"0.000144","vol":"0.0"}},"onionbtc":{"at":1550652339,"ticker":{"buy":"0.00000001","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"pengbtc":{"at":1550652339,"ticker":{"buy":"0.00000002","sell":"0.00000005","low":"0.00000002","high":"0.00000002","last":"0.00000002","vol":"1524.118"}},"pinebtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0000017","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0"}},"qbcdoge":{"at":1550652339,"ticker":{"buy":"0.36","sell":"0.77","low":"0.77","high":"0.77","last":"0.77","vol":"0.0"}},"qbcbtc":{"at":1550652339,"ticker":{"buy":"0.00000015","sell":"0.0000003","low":"0.0000003","high":"0.0000003","last":"0.0000003","vol":"0.0"}},"ratbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0"}},"btcdoge":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"rogerbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00000033","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"runesbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00000024","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"qbsbtc":{"at":1550652339,"ticker":{"buy":"0.00000027","sell":"0.0000006","low":"0.0","high":"0.0","last":"0.00000012","vol":"0.0"}},"safebtc":{"at":1550652339,"ticker":{"buy":"0.000002","sell":"0.00000999","low":"0.0","high":"0.0","last":"0.000002","vol":"0.0"}},"satcbtc":{"at":1550652339,"ticker":{"buy":"0.000003","sell":"0.00001","low":"0.00000999","high":"0.00001","last":"0.00001","vol":"0.0"}},"smrtcbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00000015","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"sunpbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00001798","low":"0.0","high":"0.0","last":"0.00001798","vol":"0.0"}},"swippbtc":{"at":1550652339,"ticker":{"buy":"0.0000003","sell":"0.00000348","low":"0.0","high":"0.0","last":"0.0000003","vol":"0.0"}},"ttpcbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00000091","low":"0.0","high":"0.0","last":"0.00000002","vol":"0.0"}},"trbobtc":{"at":1550652339,"ticker":{"buy":"0.00000000008","sell":"0.00000000019","low":"0.0","high":"0.0","last":"0.00000000007","vol":"0.0"}},"wbtcbtc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00647949","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"x42btc":{"at":1550652339,"ticker":{"buy":"0.00000555","sell":"0.00001757","low":"0.00001122","high":"0.00001122","last":"0.00001122","vol":"14.23885918"}},"xspcbtc":{"at":1550652339,"ticker":{"buy":"0.00000002","sell":"0.00000045","low":"0.0","high":"0.0","last":"0.00000044","vol":"0.0"}},"xbtgbtc":{"at":1550652339,"ticker":{"buy":"0.00000005","sell":"0.00092","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"altmdoge":{"at":1550652339,"ticker":{"buy":"0.4","sell":"0.76999999","low":"0.4","high":"0.75","last":"0.75","vol":"4746.37875"}},"drvdoge":{"at":1550652339,"ticker":{"buy":"0.00004","sell":"0.00375","low":"0.0","high":"0.0","last":"0.0000385","vol":"0.0"}},"dnsdoge":{"at":1550652339,"ticker":{"buy":"1.0","sell":"10.0","low":"1.6","high":"10.0","last":"10.0","vol":"1.15089853"}},"bccdoge":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"cyrdoge":{"at":1550652339,"ticker":{"buy":"0.0","sell":"1.0","low":"0.0","high":"0.0","last":"1.0","vol":"0.0"}},"cvcdoge":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"nycdoge":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.006","low":"0.0","high":"0.0","last":"0.0069","vol":"0.0"}},"nygdoge":{"at":1550652339,"ticker":{"buy":"0.0005","sell":"0.004","low":"0.0","high":"0.0","last":"0.0001","vol":"0.0"}},"posdoge":{"at":1550652339,"ticker":{"buy":"0.0005","sell":"0.001","low":"0.0","high":"0.0","last":"0.001","vol":"0.0"}},"runesdoge":{"at":1550652339,"ticker":{"buy":"0.00061","sell":"0.4","low":"0.0","high":"0.0","last":"0.45","vol":"0.0"}},"trbodoge":{"at":1550652339,"ticker":{"buy":"0.000334","sell":"0.000395","low":"0.00035","high":"0.00035","last":"0.00035","vol":"306223.604511"}},"bccltc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"dogeltc":{"at":1550652339,"ticker":{"buy":"0.00001","sell":"0.0","low":"0.0","high":"0.0","last":"0.00001","vol":"0.0"}},"deiltc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00002","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"drvltc":{"at":1550652339,"ticker":{"buy":"0.00000001","sell":"0.0000002","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0"}},"nycltc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0000004","vol":"0.0"}},"posltc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.0000004","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"rogerltc":{"at":1550652339,"ticker":{"buy":"0.00000001","sell":"0.00000199","low":"0.0","high":"0.0","last":"0.00000199","vol":"0.0"}},"smrtcltc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.003999","low":"0.0","high":"0.0","last":"0.003999","vol":"0.0"}},"swippltc":{"at":1550652339,"ticker":{"buy":"0.00015","sell":"0.00035","low":"0.0","high":"0.0","last":"0.00035","vol":"0.0"}},"trboltc":{"at":1550652339,"ticker":{"buy":"0.0","sell":"0.00000001","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"x42ltc":{"at":1550652339,"ticker":{"buy":"0.0005","sell":"0.00175","low":"0.0","high":"0.0","last":"0.0025","vol":"0.0"}}}'
  recorded_at: Wed, 20 Feb 2019 08:45:39 GMT
- request:
    method: get
    uri: https://altmarkets.io/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 172.68.146.5
      X-Nginx-Proxy:
      - 'true'
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"2bae14ef4f3aea0f24f221f75c1da898"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"alexbtc","name":"ALEX/BTC"},{"id":"altmbtc","name":"ALTM/BTC"},{"id":"bccbtc","name":"BCC/BTC"},{"id":"cfccbtc","name":"CFCC/BTC"},{"id":"chanbtc","name":"CHAN/BTC"},{"id":"civbtc","name":"CIV/BTC"},{"id":"cspnbtc","name":"CSPN/BTC"},{"id":"cnmcbtc","name":"CNMC/BTC"},{"id":"cvcbtc","name":"CVC/BTC"},{"id":"cyrbtc","name":"CYR/BTC"},{"id":"deibtc","name":"DEI/BTC"},{"id":"dogebtc","name":"DOGE/BTC"},{"id":"domobtc","name":"DOMO/BTC"},{"id":"dt3btc","name":"DT3/BTC"},{"id":"gocashbtc","name":"GOCASH/BTC"},{"id":[...]
