---
http_interactions:
- request:
    method: get
    uri: https://altmarkets.io/api/v2/trades?limit=20&market=dogebtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 162.158.165.19
      X-Nginx-Proxy:
      - 'true'
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"fd83fbfe72290d9027b5a1eb2d705f70"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1374,"price":"0.00000053","volume":"1500.0","funds":"0.000795","market":"dogebtc","created_at":"2019-02-20T03:40:11+00:00","side":null},{"id":1366,"price":"0.00000053","volume":"1270.98061044","funds":"0.0006736197235332","market":"dogebtc","created_at":"2019-02-20T02:30:18+00:00","side":null},{"id":1365,"price":"0.00000055","volume":"36.83877596","funds":"0.000020261326778","market":"dogebtc","created_at":"2019-02-20T02:21:52+00:00","side":null},{"id":1363,"price":"0.00000055","volume":"100.0","funds":"0.000055","market":"dogebtc","created_at":"2019-02-20T02:04:37+00:00","side":null},{"id":1362,"price":"0.00000055","volum[...]
