---
http_interactions:
- request:
    method: get
    uri: https://altmarkets.cc/api/v1/public/getmarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketCurrency":"ADVP","BaseCurrency":"BTC","MarketCurrencyLong":"AdevPlus","BaseCurrencyLong":"Bitcoin","MinTradeSize":0,"MarketName":"BTC-ADVP","IsActive":true,"Created":"2014-02-13T00:00:00","info":{"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=4563189.0","active":true,"minconf":3,"withdraw":"Enabled","orders":"Enabled"}},{"MarketCurrency":"ALTM","BaseCurrency":"BTC","MarketCurrencyLong":"AltMarketsCoin","BaseCurrencyLong":"Bitcoin","MinTradeSize":0,"MarketName":"BTC-ALTM","IsActive":true,"Created":"2014-02-13T00:00:00","info":{"minconf":3,"hold":0.000001,"page":"http://altmarkets.cc","active":true}},{"MarketCurrency":"ANTY","BaseCurrency":"BTC","MarketCurrencyLong":"AnimalityCoin","BaseCurrencyLong":"Bitcoin","MinTradeSize":0,"MarketName":"BTC-ANTY","IsActive":true,"Created":"2014-02-13T00:00:00","in[...]
