---
http_interactions:
- request:
    method: get
    uri: https://altmarkets.cc/api/v1/public/getmarkethistory?market=BTC-ELENA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"Id":3096,"TimeStamp":"2018-09-23T07:32:09.120","Quantity":100,"Price":1.9e-7,"Total":0.000019,"FillType":"FILL","OrderType":"SELL"},{"Id":3078,"TimeStamp":"2018-09-22T23:29:34.267","Quantity":4500,"Price":1.8e-7,"Total":0.00081,"FillType":"FILL","OrderType":"SELL"},{"Id":3077,"TimeStamp":"2018-09-22T23:24:54.402","Quantity":500,"Price":1.7e-7,"Total":0.00008499999999999999,"FillType":"FILL","OrderType":"SELL"},{"Id":2976,"TimeStamp":"2018-09-22T14:55:10.189","Quantity":8069.5305,"Price":2.5e-7,"Total":0.002017382625,"FillType":"FILL","OrderType":"SELL"},{"Id":2975,"TimeStamp":"2018-09-22T14:53:01.277","Quantity":3999[...]
