---
http_interactions:
- request:
    method: get
    uri: https://digitalprice.io/api/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"pairId":"10","url":"dp-btc","priceLow":"0.00000255","priceHigh":"0.00000255","priceLast":"0.00000257","priceChange":"+0.00%","volumeBase":"0.00000000","volumeQuote":"0.00000000","bidHigh":"0.00000255","askLow":"0.00000294"},{"pairId":"11","url":"moto-btc","priceLow":"0.00000125","priceHigh":"0.00000125","priceLast":"0.00000125","priceChange":"-10.71%","volumeBase":"0.00005619","volumeQuote":"44.95009980","bidHigh":"0.00000099","askLow":"0.00000125"},{"pairId":"12","url":"troll-btc","priceLow":"0.00000016","priceHigh":"0.00000016","priceLast":"0.00000016","priceChange":"+0.00%","volumeBase":"0.00169008","volumeQuote":"10563.00000000","bidHigh":"0.00000016","askLow":"0.00000018"},{"pairId":"13","url":"d[...]
