---
http_interactions:
- request:
    method: get
    uri: https://digitalprice.io/api/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"pairId":"10","url":"dp-btc","priceLow":"0.00000218","priceHigh":"0.00000276","priceLast":"0.00000220","priceChange":"-20.29%","volumeBase":"0.13360551","volumeQuote":"58575.11458578","bidHigh":"0.00000226","askLow":"0.00000303"},{"pairId":"11","url":"moto-btc","priceLow":"0.00000012","priceHigh":"0.00000012","priceLast":"0.00000012","priceChange":"+0.00%","volumeBase":"0.00000000","volumeQuote":"0.00000000","bidHigh":"0.00000012","askLow":"0.00000050"},{"pairId":"12","url":"troll-btc","priceLow":"0.00000013","priceHigh":"0.00000014","priceLast":"0.00000013","priceChange":"-7.14%","volumeBase":"0.01070801","volumeQuote":"82214.35351446","bidHigh":"0.00000013","askLow":"0.00000016"},{"pairId":"13","url":"dal[...]
