---
http_interactions:
- request:
    method: get
    uri: https://altsbit.com/api/history?market=dp-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"pairId":10,"url":"dp-btc","type":"Sell","price":"0.00000007","amount":"715.71714858","total":"0.00005010","timestamp":1580403237},{"pairId":10,"url":"dp-btc","type":"Buy","price":"0.00000011","amount":"453.63817819","total":"0.00004990","timestamp":1580161491},{"pairId":10,"url":"dp-btc","type":"Sell","price":"0.00000008","amount":"10647.00000000","total":"0.00085176","timestamp":1580137099},{"pairId":10,"url":"dp-btc","type":"Buy","price":"0.00000010","amount":"17754.76546906","total":"0.00177548","timestamp":1579990297},{"pairId":10,"url":"dp-btc","type":"Buy","price":"0.00000011","amount":"5000.00000000","to[...]
