---
http_interactions:
- request:
    method: get
    uri: https://altsbit.com/api/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"pairId":"10","url":"dp-btc","priceLow":"0.00000007","priceHigh":"0.00000007","priceLast":"0.00000007","priceChange":"-36.36%","volumeBase":"0.00005010","volumeQuote":"715.71714858","bidHigh":"0.00000007","askLow":"0.00000011"},{"pairId":"11","url":"moto-btc","priceLow":"0.00000001","priceHigh":"0.00000001","priceLast":"0.00000001","priceChange":"+0.00%","volumeBase":"0.00000000","volumeQuote":"0.00000000","bidHigh":"0.00000003","askLow":"0.00000055"},{"pairId":"12","url":"troll-btc","priceLow":"0.00000002","priceHigh":"0.00000002","priceLast":"0.00000002","priceChange":"+0.00%","volumeBase":"0.00024308","volumeQuote":"12154.06000000","bidHigh":"0.00000002","askLow":"0.00000003"},{"pairId":"13","url":"dal[...]
