---
http_interactions:
- request:
    method: get
    uri: https://digitalprice.io/api/history?market=moto-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"pairId":11,"url":"moto-btc","type":"Buy","price":"0.00000125","amount":"44.95009980","total":"0.00005619","timestamp":1544328786},{"pairId":11,"url":"moto-btc","type":"Buy","price":"0.00000140","amount":"533.57570573","total":"0.00074701","timestamp":1544136864},{"pairId":11,"url":"moto-btc","type":"Buy","price":"0.00000180","amount":"4532.00000000","total":"0.00815760","timestamp":1543945382},{"pairId":11,"url":"moto-btc","type":"Buy","price":"0.00000150","amount":"2566.04400000","total":"0.00384907","timestamp":1543688690},{"pairId":11,"url":"moto-btc","type":"Buy","price":"0.00000249","amount":"11517.0129864[...]
