---
http_interactions:
- request:
    method: get
    uri: https://digitalprice.io/api/orders?market=moto-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"BUY":[{"pairId":11,"url":"moto-btc","price":"0.00000099","amount":"1000.00000000","total":"0.00099000"},{"pairId":11,"url":"moto-btc","price":"0.00000095","amount":"1000.00000000","total":"0.00095000"},{"pairId":11,"url":"moto-btc","price":"0.00000091","amount":"1000.00000000","total":"0.00091000"},{"pairId":11,"url":"moto-btc","price":"0.00000087","amount":"1000.00000000","total":"0.00087000"},{"pairId":11,"url":"moto-btc","price":"0.00000081","amount":"1000.00000000","total":"0.00081000"},{"pairId":11,"url":"moto-btc","price":"0.00000079","amount":"1000.00000000","total":"0.0007900[...]
