---
http_interactions:
- request:
    method: get
    uri: https://digitalprice.io/api/history?market=asf-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"pairId":43,"url":"asf-btc","type":"Buy","price":"0.00000002","amount":"195715.56886228","total":"0.00391431","timestamp":1552860285},{"pairId":43,"url":"asf-btc","type":"Buy","price":"0.00000002","amount":"186236.02794411","total":"0.00372472","timestamp":1552857099},{"pairId":43,"url":"asf-btc","type":"Buy","price":"0.00000002","amount":"2527.47000000","total":"0.00005055","timestamp":1552857012},{"pairId":43,"url":"asf-btc","type":"Buy","price":"0.00000002","amount":"5324.67000000","total":"0.00010649","timestamp":1552857012},{"pairId":43,"url":"asf-btc","type":"Buy","price":"0.00000002","amount":"5024.97000000"[...]
