---
http_interactions:
- request:
    method: get
    uri: https://digitalprice.io/api/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"id":10,"status":"Active","title":"DP/BTC","baseCurrency":"Bitcoin","baseSymbol":"BTC","quoteCurrency":"DigitalPrice","quoteSymbol":"DP","tradeFee":0.2,"tradeMin":"0.00005000","tradeMax":"100000000.00000000","priceMin":"0.00000001","priceMax":"100000000.00000000"},{"id":11,"status":"Active","title":"MOTO/BTC","baseCurrency":"Bitcoin","baseSymbol":"BTC","quoteCurrency":"Motocoin","quoteSymbol":"MOTO","tradeFee":0.2,"tradeMin":"0.00005000","tradeMax":"100000000.00000000","priceMin":"0.00000001","priceMax":"100000000.00000000"},{"id":12,"status":"Active","title":"TROLL/BTC","baseCurrency":"Bitcoin","baseSymbol":"BTC","quoteCurrency":"Trollcoin","quoteSymbol":"TROLL","tradeFee":0.2,"tradeMin":"0.00005000","tradeMax":"100000000.00000000",[...]
