---
http_interactions:
- request:
    method: get
    uri: https://digitalprice.io/api/orders?market=asf-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"BUY":[{"pairId":43,"url":"asf-btc","price":"0.00000001","amount":"1029074.33791790","total":"0.01029074"},{"pairId":43,"url":"asf-btc","price":"0.00000001","amount":"56528.94211577","total":"0.00056529"},{"pairId":43,"url":"asf-btc","price":"0.00000001","amount":"38383.23353293","total":"0.00038383"},{"pairId":43,"url":"asf-btc","price":"0.00000001","amount":"7189913.17365270","total":"0.07189913"},{"pairId":43,"url":"asf-btc","price":"0.00000001","amount":"389868.26347305","total":"0.00389868"},{"pairId":43,"url":"asf-btc","price":"0.00000001","amount":"100000.00000000","total":"0.00100000"}],"SELL":[{"pairId":43,"url":"asf-btc","price":"0.00000002","amount":"212918.00942741","total":"0.00425836"},{"pairId":43,"url":"asf-btc","price":"0.00000002","amount":"395229.45891784","total":"0.00790459"},{"pairId":43,"url":"asf-btc","price":"0.00000002","amount":"5055.00000000","total":"0.00010110"},{"pairId":43,"url":"asf-btc","price":"0.00000002","amount":"1237840.00000000","total":"0.02475680"},{"pairId":43,"url":"asf-btc","price":"0.00000002","amount":"312003.44000000","total":"0.00624007"},{"pai[...]
