---
http_interactions:
- request:
    method: get
    uri: https://altsbit.com/api/orders?market=dp-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"BUY":[{"pairId":10,"url":"dp-btc","price":"0.00000007","amount":"564.86454518","total":"0.00003954"},{"pairId":10,"url":"dp-btc","price":"0.00000007","amount":"7825.77701739","total":"0.00054780"},{"pairId":10,"url":"dp-btc","price":"0.00000006","amount":"12000.00000000","total":"0.00072000"},{"pairId":10,"url":"dp-btc","price":"0.00000006","amount":"13000.00000000","total":"0.00078000"},{"pairId":10,"url":"dp-btc","price":"0.00000005","amount":"430579.37075384","total":"0.02152897"},{"pairId":10,"url":"dp-btc","price":"0.00000002","amount":"23864.27145709","total":"0.00047729"},{"pairId":10,"url":"dp-btc","price":"0.00000001","amount":"180000.00000000","total":"0.00180000"}],"SELL":[{"pairId":10,"url":"dp-btc","price":"0.00000011","amount":"646.36182181","total":"0.00007110"},{"pairId":10,"url":"dp-btc","price":"0.00000011","amount":"5000.00000000","total":"0.00055000"},{"pairId":10,"url":"dp-btc","price":"0.00000012","amount":"50000.00000000","total":"0.00600000"},{"pairId":10,"url":"dp-btc","price":"0.00000015","amount":"1100.00000000","total":"0.00016500"},{"pairId":10,"url":"dp-btc","price":"0.00000015","amount":"26805.74222983","total":"0.00402086"},{"pairId":10,"url"[...]
