---
http_interactions:
- request:
    method: get
    uri: https://coinbe.net/public/graphs/ticker/ticker.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 02 Aug 2018 16:42:01 GMT
      Etag:
      - '"2217-572767d90a6da"'
      X-Content-Security-Policy:
      - allow 'self';
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_ETH":{"last":"0.05517440","high":"0.05529573","low":"0.05504100","volume":"216.62605671","bid":"0.04800003","ask":"0.06494529","beforelast":"0.05517430"},"BTC_ICR":{"last":"0.00007010","high":"0.00012850","low":"0.00007010","volume":"209806.74602760","bid":"0.00008000","ask":"0.00011530","beforelast":"0.00007131"},"BTC_XEM":{"last":"0.00002152","high":"0.00002159","low":"0.00002151","volume":"5439.24331925","bid":"0.00002090","ask":"0.00002280","beforelast":"0.00002151"},"BTC_XRP":{"last":"0.00005794","high":"0.00005990","low":"0.00005788","volume":"4610.31196678","bid":"0.00001873","ask":"0.00006896","beforelast":"0.00005795"},"BTC_LSK":{"last":"0.00059087","high":"0.00060091","low":"0.00059087","volume":"282.30634505","bid":"0.00012000","ask":"0.00065179","beforelast":"0.00060087"},"BTC_ADA":{"last":"0.00002020","high":"0.00002076","low":"0.00002012","volume":"1539.34252256","bid":"0.00000201","ask":"0.00002020","beforelast":"0.00002020"},"BTC_EOS":{"last":"0.00093780","high":"0.00096419","low":"0.00093780","volume":"284.83869364","bid":"0.00021252","ask":"0.00102213","beforelast":"0.00093781"},"BTC_VEN":{"last":"0.00024763","high":"0.00027021","low":"0.00024763","volume":"1360.78012919","bid":"0.00011131","ask":"0.00029992","beforelast":"0.00024763"},"BTC_DASH":{"last":"0.05379999","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00580001","ask":"0.05379999","beforelast":"0.05399999"},"BTC_WAVES":{"last":"0.00027121","high":"0.00030621","low":"0.00027121","volume":"864.39307884","bid":"0.00020025","ask":"0.00099976","beforelast":"0.00027121"},"BTC_XIN":{"last":"0.00000095","high":"0.00000098","low":"0.00000088","volume":"1438232030.51802101","bid":"0.00000088","ask":"0.00000094","beforelast":"0.00000095"},"BTC_SPF":{"last":"0.00000405","high":"0.00000430","low":"0.00000400","volume":"774963.06040883","bid":"0.00000218","ask":"0.00000600","beforelast":"0.00000405"},"BTC_FXT":{"last":"0.00000560","high":"0.00000560","low":"0.00000550","volume":"180143.48227273","bid":"0.00000215","ask":"0.00000755","beforelast":"0.00000560"},"BTC_ALF":{"last":"0.00000053","high":"0.00000148","low":"0.00000053","volume":"166130.54186508","bid":"0.00000054","ask":"0.00000073","beforelast":"0.00000053"},"BTC_GNT":{"last":"0.00003230","high":"0.00003498","low":"0.00003230","volume":"6321.36577404","bid":"0.00002002","ask":"0.00007756","beforelast":"0.00003231"},"BTC_IPL":{"last":"0.00000338","high":"0.00000339","low":"0.00000299","volume":"91693.86232991","bid":"0.00000088","ask":"0.00000340","beforelast":"0.00000339"},"BTC_VIB":{"last":"0.00001210","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00000409","ask":"0.00001888","beforelast":"0.00001210"},"BTC_ORME":{"last":"0.00006043","high":"0.00006104","low":"0.00005621","volume":"3305.29124549","bid":"0.00003433","ask":"0.00013000","beforelast":"0.00006043"},"BTC_FTO":{"last":"0.00134547","high":"0.00138619","low":"0.00134547","volume":"962.41729191","bid":"0.00116180","ask":"0.00136600","beforelast":"0.00134947"},"BTC_KBC":{"last":"0.00000098","high":"0.00000104","low":"0.00000098","volume":"17957890.90375417","bid":"0.00000085","ask":"0.00000099","beforelast":"0.00000098"},"BTC_PIVX":{"last":"0.00023900","high":"0.00023900","low":"0.00023900","volume":"1343.22870294","bid":"0.00003656","ask":"0.00150000","beforelast":"0.00023900"},"BTC_MFT":{"last":"0.00000184","high":"0.00000197","low":"0.00000184","volume":"457191.02132531","bid":"0.00000154","ask":"0.00000184","beforelast":"0.00000197"},"BTC_EXY":{"last":"0.00002320","high":"0.00002320","low":"0.00002260","volume":"50926.25024920","bid":"0.00002011","ask":"0.00002400","beforelast":"0.00002300"},"BTC_ELI":{"last":"0.00000240","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00000111","ask":"0.00000562","beforelast":"0.00000241"},"BTC_EROIY":{"last":"0.00000045","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00000011","ask":"0.00000060","beforelast":"0.00000052"},"BTC_MORPH":{"last":"0.00000001","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00000001","ask":"0.00","beforelast":"0.00000099"},"BTC_LOOM":{"last":"0.00002186","high":"0.00002258","low":"0.00002186","volume":"12516.31791784","bid":"0.00000962","ask":"0.00002500","beforelast":"0.00002187"},"BTC_DIM":{"last":"0.00000040","high":"0.00000044","low":"0.00000040","volume":"1587308.67142183","bid":"0.00000028","ask":"0.00000048","beforelast":"0.00000041"},"BTC_LTC":{"last":"0.01288888","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00825001","ask":"0.01277000","beforelast":"0.00972001"},"BTC_BCC":{"last":"0.12000000","high":"0.12000000","low":"0.12000000","volume":"0.00428117","bid":"0.08200001","ask":"0.12000000","beforelast":"0.08100000"},"BTC_DOGE":{"last":"0.00000045","high":"0.00000045","low":"0.00000045","volume":"873.06896552","bid":"0.00000036","ask":"0.00000045","beforelast":"0.00000045"},"BTC_BTG":{"last":"0.00","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00014000","ask":"0.09799860","beforelast":"0.00"},"BTC_XMR":{"last":"0.01827918","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00302506","ask":"0.01777760","beforelast":"0.01560038"},"BTC_ETC":{"last":"0.00235000","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00027031","ask":"0.00386000","beforelast":"0.00200000"},"BTC_OMG":{"last":"0.00240000","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00032281","ask":"0.00239999","beforelast":"0.00190000"},"BTC_SWT":{"last":"0.00029958","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00002001","ask":"0.00029951","beforelast":"0.00044649"},"BTC_ZEC":{"last":"0.02773570","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00728901","ask":"0.07499999","beforelast":"0.07499999"},"BTC_BEN":{"last":"0.00003099","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00003099","ask":"0.00003300","beforelast":"0.00003450"},"BTC_BKCOIN":{"last":"0.00000220","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00000151","ask":"0.00000260","beforelast":"0.00000245"},"BTC_LYNX":{"last":"0.00000464","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00000039","ask":"0.00000400","beforelast":"0.00000464"},"BTC_LSC":{"last":"0.00000011","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00000011","ask":"0.00000015","beforelast":"0.00000011"},"BTC_WAP":{"last":"0.00000237","high":"0.00000263","low":"0.00000237","volume":"1941.00000000","bid":"0.00000236","ask":"0.00000450","beforelast":"0.00000240"},"BTC_KC":{"last":"0.00000001","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00","ask":"0.00000001","beforelast":"0.00000001"},"BTC_BEAT":{"last":"0.00001555","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00000057","ask":"0.00001556","beforelast":"0.00001555"},"BTC_MXY":{"last":"0.00003000","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00000012","ask":"0.00003000","beforelast":"0.00003000"},"ETH_ICR":{"last":"0.01989800","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00022287","ask":"0.00999995","beforelast":"0.04089889"},"ETH_DIM":{"last":"0.00000890","high":"0.00000890","low":"0.00000890","volume":"154745.46067416","bid":"0.00000557","ask":"0.00000890","beforelast":"0.00000890"},"ETH_ELI":{"last":"0.00002261","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00002267","ask":"0.00008888","beforelast":"0.00002226"},"ETH_FXT":{"last":"0.00006120","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00001022","ask":"0.00058000","beforelast":"0.00006120"},"ETH_LTC":{"last":"0.09974000","high":"0.00","low":"0.00","volume":"0.00","bid":"0.02500553","ask":"0.99737899","beforelast":"0.09973988"},"ETH_XRP":{"last":"0.00007601","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00060028","ask":"0.00595878","beforelast":"0.00699962"},"ETH_XIN":{"last":"0.00001755","high":"0.00001755","low":"0.00001750","volume":"1768106.32626347","bid":"0.00001275","ask":"0.00002199","beforelast":"0.00001755"},"ETH_LSK":{"last":"0.02999973","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00177834","ask":"0.02777774","beforelast":"0.02999972"},"ETH_SPF":{"last":"0.00006500","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00000667","ask":"0.00006500","beforelast":"0.00007050"},"ETH_KBC":{"last":"0.00001810","high":"0.00001810","low":"0.00001810","volume":"268354.74640884","bid":"0.00001751","ask":"0.00002782","beforelast":"0.00002100"},"ETH_EXY":{"last":"0.00041760","high":"0.00","low":"0.00","volume":"0.00","bid":"0.00030600","ask":"0.00048630","beforelast":"0.00040425"},"ETH_FTO":{"last":"0.02529197","high":"0.02529199","low":"0.02522781","volume":"420.30172906","bid":"0.02032558","ask":"0.02797187","beforelast":"0.02529197"},"FTO_EXY":{"last":"0.02299649","high":"0.02299650","low":"0.02299649","volume":"930.12002639","bid":"0.01301701","ask":"0.02299650","beforelast":"0.02299650"}}'
  recorded_at: Thu, 02 Aug 2018 16:43:01 GMT
recorded_with: VCR 4.0.0
