---
http_interactions:
- request:
    method: get
    uri: https://sigen.pro/v1/web-public/statistic/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"ticker":{"SPA_BTC":{"last":"0.000000040","lowestAsk":"0.000000050","highestBid":"0.000000040","percentChange":"-33.33","baseVolume":"7952134.96523074","quoteVolume":"0.03040210","high24hr":"0.000000060","low24hr":"0.000000040","fee":"0.1%","id":1},"SPA_LTC":{"last":"0.0000013","lowestAsk":"0.0000052","highestBid":"0.0000015","percentChange":"-77.59","baseVolume":"4774745.72619984","quoteVolume":"2.66857038","high24hr":"0.0000058","low24hr":"0.0000013","fee":"0.1%","id":2},"LTC_BTC":{"last":"0.016676","lowestAsk":0,"highestBid":0,"percentChange":"0.00","baseVolume":0,"quoteVolume":"0.00000000","high24hr":"0.016676","low24hr":"0.016676","fee":"0.1%","id":3}},"p2p":null,"capital":{"BTC":null,"LTC":null,"SPA":null},"count":3184016888,"gtime":1526377493,"time":0.03608107566833496}}'
  recorded_at: Tue, 15 May 2018 09:45:15 GMT
recorded_with: VCR 4.0.0
