---
http_interactions:
- request:
    method: get
    uri: https://troca.ninja/api/volume
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"parName":"BRL_BTC","name":"Bitcoin","symbol":"BTC","last":"24716.99610000","baseVolume":"2.64794110","quoteVolume":"0.00010182","high24hr":"24716.99610000","low24hr":"24716.99610000","bid":"24716.99610000","ask":"26000.00000000"},{"parName":"BRL_DOGE","name":"Dogecoin","symbol":"DOGE","last":"0.00970000","baseVolume":"2.67561726","quoteVolume":"326.16599514","high24hr":"0.01020000","low24hr":"0.00970000","bid":"0.00980000","ask":"0.01020000"},{"parName":"BRL_NANO","name":"Nano","symbol":"NANO","last":"10.34380000","baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"10.34380000","low24hr":"10.34380000","bid":"10.34380000","ask":"11.85000000"},{"parName":"BRL_TNJ","name":"TrocaNinja","symbol"[...]
