---
http_interactions:
- request:
    method: get
    uri: https://api.coingi.com/current/order-book/btc-eur/50/50/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Coingi-Cached:
      - '1'
      X-Coingi-Cache-Timestamp:
      - '1526548461'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"type":1,"currencyPair":{"base":"btc","counter":"eur"},"price":7033.3,"baseAmount":0.00819922,"counterAmount":57.67},{"type":1,"currencyPair":{"base":"btc","counter":"eur"},"price":7180.291,"baseAmount":0.00922618,"counterAmount":66.25},{"type":1,"currencyPair":{"base":"btc","counter":"eur"},"price":7198.306,"baseAmount":0.00912312,"counterAmount":65.67},{"type":1,"currencyPair":{"base":"btc","counter":"eur"},"price":7222.568,"baseAmount":0.00938877,"counterAmount":67.81},{"type":1,"currencyPair":{"base":"btc","counter":"eur"},"price":7223.1,"baseAmount":0.0281324,"counterAmount":203.2},{"type":1,"curre[...]
