---
http_interactions:
- request:
    method: get
    uri: https://api.coingi.com/current/24hour-rolling-aggregation
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Coingi-Cached:
      - '1'
      X-Coingi-Cache-Timestamp:
      - '1526548450'
    body:
      encoding: ASCII-8BIT
      string: '[{"currencyPair":{"base":"btc","counter":"eur"},"last":7042.912,"lowestAsk":7033.3,"highestBid":7008.632,"baseVolume":0.02146265,"counterVolume":150.66,"high":7075.228,"low":6986.708},{"currencyPair":{"base":"btc","counter":"usd"},"last":8318.565,"lowestAsk":8451.264,"highestBid":8279.45,"baseVolume":0.01412094,"counterVolume":117.88,"high":8364.046,"low":8312.861},{"currencyPair":{"base":"ppc","counter":"btc"},"last":0.00033,"lowestAsk":0.00034,"highestBid":0.00031,"baseVolume":152.26723813,"counterVolume":0.05024818,"high":0.00033,"low":0.00033},{"currencyPair":{"base":"vtc","counter":"btc"},"last":0.00028,"lowestAsk":0.00028,"highestBid":0.00026,"baseVolume":69.67589131,"counterVolume":0.01950924,"high":0.00028,"low":0.00028}]'
  recorded_at: Thu, 17 May 2018 09:14:20 GMT
recorded_with: VCR 4.0.0
