---
http_interactions:
- request:
    method: get
    uri: https://api.coingi.com/current/transactions/btc-eur/64
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Coingi-Cached:
      - '1'
      X-Coingi-Cache-Timestamp:
      - '1526548460'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"11e859a7-35d0-2706-8a90-0059bb86f908","timestamp":1526543533000,"currencyPair":{"base":"btc","counter":"eur"},"amount":0.002,"price":7042.912,"type":0},{"id":"11e85910-2438-f992-82d8-0059bb86f908","timestamp":1526478650000,"currencyPair":{"base":"btc","counter":"eur"},"amount":0.0009,"price":6986.708,"type":0},{"id":"11e8590c-644f-e2f6-ba7c-0059bb86f406","timestamp":1526477039000,"currencyPair":{"base":"btc","counter":"eur"},"amount":0.0013,"price":7057.333,"type":0},{"id":"11e8590b-d11b-883c-a807-0059bb86f406","timestamp":1526476792000,"currencyPair":{"base":"btc","counter":"eur"},"amount":0.0011,"price":7074.454,"type":0},{"id":"11e8590b-d[...]
