---
http_interactions:
- request:
    method: get
    uri: https://cashpayz.exchange/public/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 02 Oct 2019 07:30:26 GMT
    body:
      encoding: UTF-8
      string: '{"Status":1,"Message":"Success","Data":{"CPC_BTC":{"LastUpdatedTimestamp":"2019-09-30T18:25:24.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"381590.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_ETH":{"LastUpdatedTimestamp":"2019-09-29T03:00:42.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"11002.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_XRP":{"LastUpdatedTimestamp":"2019-09-29T13:04:09.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"10.92830000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_XEM":{"LastUpdatedTimestamp":"2019-09-29T13:07:45.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"5.16357000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_BTRL":{"LastUpdatedTimestamp":"2019-09-29T13:04:55.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"10.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_TCC":{"LastUpdatedTimestamp":"2019-09-29T13:10:00.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.10000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_XLC":{"LastUpdatedTimestamp":"2019-06-21T19:48:19.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.01000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_BDC":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_OMG":{"LastUpdatedTimestamp":"2019-09-26T22:41:06.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"32.92515400","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_XRB":{"LastUpdatedTimestamp":"2019-06-01T20:31:16.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"10.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_BNB":{"LastUpdatedTimestamp":"2019-09-26T22:55:15.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"605.83638000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_TNPC":{"LastUpdatedTimestamp":"2019-09-17T17:01:01.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.03200000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_FSCP":{"LastUpdatedTimestamp":"2019-09-19T18:51:45.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"3.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_DCN":{"LastUpdatedTimestamp":"2019-09-23T16:25:17.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00170000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_TBTC":{"LastUpdatedTimestamp":"2019-05-13T23:53:53.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"1.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_BPER":{"LastUpdatedTimestamp":"2019-09-07T23:28:50.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.01080000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_BAT":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_YOI":{"LastUpdatedTimestamp":"2019-04-30T13:14:09.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.37110000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_HOT":{"LastUpdatedTimestamp":"2019-09-09T15:47:24.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.02796413","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_KIN":{"LastUpdatedTimestamp":"2019-06-12T12:08:20.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00110000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_TUSD":{"LastUpdatedTimestamp":"2019-09-24T15:55:57.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"32.83683000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_IOST":{"LastUpdatedTimestamp":"2019-09-19T23:40:17.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.21039388","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_NPXS":{"LastUpdatedTimestamp":"2019-04-10T23:26:52.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.05000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_SNT":{"LastUpdatedTimestamp":"2019-09-19T23:44:24.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.45885591","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_PBC":{"LastUpdatedTimestamp":"2019-03-27T16:44:53.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"12.08946547","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"1.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_ATCC":{"LastUpdatedTimestamp":"2019-09-01T11:46:37.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"2.99999900","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_ETHW":{"LastUpdatedTimestamp":"2019-07-23T06:54:21.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00010001","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.03500000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_ATL":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_UBN":{"LastUpdatedTimestamp":"2019-09-30T20:48:02.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00010000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.05000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_BETN":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_BTB":{"LastUpdatedTimestamp":"2019-09-29T13:12:37.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.10000755","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_TYC":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_BTRS":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_XN35":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_ZALX":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_JOB":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_GEN":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_NCL":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_BEDCOIN":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_KNCT":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_GLO":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_NUK":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_NCA":{"LastUpdatedTimestamp":"2019-10-02T05:19:46.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"1.00000000","low24hr":"1.00000000","high24hr":"1.00000000","highestBid":"1.00000000","lowestAskBid":"0.50000000","percentChange":"0.00","quoteVolume":"40.00000000","baseVolume":"40.00000000"},"CPC_SATX":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_DRN":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_BANG":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"CPC_XLMX":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_ETH":{"LastUpdatedTimestamp":"2019-09-28T21:57:29.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.01954639","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_XRP":{"LastUpdatedTimestamp":"2019-09-26T23:08:28.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00003100","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_XEM":{"LastUpdatedTimestamp":"2019-09-26T23:11:38.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000414","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_CPC":{"LastUpdatedTimestamp":"2019-10-02T12:34:18.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000110","low24hr":"0.00000110","high24hr":"0.00000137","highestBid":"0.00000137","lowestAskBid":"0.00000110","percentChange":"-16.03","quoteVolume":"1445991.69221964","baseVolume":"1.94484991"},"BTC_BTRL":{"LastUpdatedTimestamp":"2019-07-09T22:45:04.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000500","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_TCC":{"LastUpdatedTimestamp":"2019-08-06T22:53:09.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000032","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_XLC":{"LastUpdatedTimestamp":"2019-03-27T17:20:34.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000001","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_BDC":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_OMG":{"LastUpdatedTimestamp":"2019-09-26T23:13:02.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00011355","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_XRB":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_BNB":{"LastUpdatedTimestamp":"2019-09-30T21:50:27.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00233830","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_TNPC":{"LastUpdatedTimestamp":"2019-06-06T20:54:47.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000017","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_FSCP":{"LastUpdatedTimestamp":"2019-09-27T07:08:42.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000140","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_DCN":{"LastUpdatedTimestamp":"2019-07-28T14:52:47.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000001","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_TBTC":{"LastUpdatedTimestamp":"2019-03-01T21:08:22.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000400","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_BPER":{"LastUpdatedTimestamp":"2019-09-12T20:42:11.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000001","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000001","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_BAT":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_YOI":{"LastUpdatedTimestamp":"2019-02-26T07:45:40.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00001120","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_HOT":{"LastUpdatedTimestamp":"2019-07-29T17:40:33.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000011","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_KIN":{"LastUpdatedTimestamp":"2019-02-06T01:16:05.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000001","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_TUSD":{"LastUpdatedTimestamp":"2019-09-22T15:19:16.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00009940","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_IOST":{"LastUpdatedTimestamp":"2019-09-19T01:31:32.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000073","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_NPXS":{"LastUpdatedTimestamp":"2019-07-29T17:48:15.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000005","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_SNT":{"LastUpdatedTimestamp":"2019-09-19T01:37:31.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000155","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_PBC":{"LastUpdatedTimestamp":"2019-06-07T06:19:47.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000700","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_ATCC":{"LastUpdatedTimestamp":"2019-07-29T18:04:58.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000072","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_ETHW":{"LastUpdatedTimestamp":"2019-03-13T13:02:49.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000001","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_ATL":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_UBN":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_BETN":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_BTB":{"LastUpdatedTimestamp":"2019-09-22T19:56:40.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000011","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_TYC":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_BTRS":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_XN35":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_ZALX":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_JOB":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_GEN":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_NCL":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_KNCT":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_GLO":{"LastUpdatedTimestamp":"2019-09-22T02:58:47.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000080","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_NUK":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_SATX":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_DRN":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_BANG":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"BTC_XLMX":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"ETH_BTC":{"LastUpdatedTimestamp":"2019-09-12T13:22:53.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"45.30096541","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"ETH_XRP":{"LastUpdatedTimestamp":"2019-09-10T20:39:47.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00144399","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"ETH_XEM":{"LastUpdatedTimestamp":"2019-03-12T01:41:22.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00043400","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"ETH_CPC":{"LastUpdatedTimestamp":"2019-10-01T14:41:35.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00007600","low24hr":"0.00007600","high24hr":"0.00009003","highestBid":"0.00007600","lowestAskBid":"0.00007600","percentChange":"-15.58","quoteVolume":"24.75640000","baseVolume":"0.00216208"},"ETH_BTRL":{"LastUpdatedTimestamp":"2019-05-08T23:43:28.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00156000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"ETH_TCC":{"LastUpdatedTimestamp":"2019-03-12T01:31:49.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.00002300","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"ETH_XLC":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"ETH_BDC":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"ETH_OMG":{"LastUpdatedTimestamp":"2019-03-12T01:53:16.000Z","TradesEnabled":"TRUE","isFrozen":"0","last":"0.01009000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"ETH_XRB":{"LastUpdatedTimestamp":null,"TradesEnabled":"TRUE","isFrozen":"0","last":"0.00000000","low24hr":"0.00000000","high24hr":"0.00000000","highestBid":"0.00000000","lowestAskBid":"0.00000000","percentChange":"0.00","quoteVolume":"0.00000000","baseVolume":"0.00000000"},"ETH_BNB":{"LastUpdatedTimestamp":"2019-08-06T23:18:30.000Z","TradesEnabled":"TRUE","isFrozen":"0"
[...]
