---
http_interactions:
- request:
    method: get
    uri: https://cashpayz.exchange/public/depth/BTC/CPC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 02 Oct 2019 07:30:28 GMT
    body:
      encoding: UTF-8
      string: '{"Status":1,"Message":"Success","Data":{"BTC_CPC":{"ASK":[["0.00000150","2100.00000000"],["0.00000161","3532.00000000"],["0.00000239","400.00000000"],["0.00000240","400.00000000"],["0.00000250","1342.00000000"],["0.00000255","10000.00000000"],["0.00000260","35.00000000"],["0.00000290","41.00000000"],["0.00000333","28.00000000"],["0.00000405","23.00000000"],["0.00000500","219.56093500"],["0.00000600","310.00000000"],["0.00000899","888.00000000"],["0.00000990","3600.00000000"],["0.00001599","766.00000000"],["0.00001800","1800.00000000"],["0.00001869","655.00000000"],["0.00002000","80.59000000"],["0.00002867","966.00000000"],["0.00003544","999.00000000"],["0.00003899","382.00000000"],["0.00004000","1500.00000000"],["0.00004100","1000.00000000"],["0.00005000","197.00000000"],["0.00007000","100.00000000"],["0.00008000","101.00000000"],["0.00010000","25.46000000"],["0.00019000","5.50000000"],["0.00040000","1.00000000"],["0.00100000","38.50000000"],["0.00120000","0.50000000"],["0.00225000","11.17950000"],["0.02000000","0.50000000"],["0.05000000","0.50000000"],["0.10000000","0.50000000"],["0.90000000","0.50000000"],["1.00000000","1.00000000"]],"Bid":[["0.00000110","786.00000000"],["0.00000100","1500.00000000"],["0.00000097","10309.27835051"],["0.00000082","12195.12195121"],["0.00000070","14285.71428571"],["0.00000065","30256.35633404"],["0.00000019","2631578.94736842"],["0.00000015","2000000.00000000"],["0.00000013","1923076.92307692"],["0.00000010","18383.00000000"]]}}}'
  recorded_at: Wed, 02 Oct 2019 07:39:00 GMT
recorded_with: VCR 4.0.0
