---
http_interactions:
- request:
    method: get
    uri: https://cashpayz.exchange/public/get-trades-history/BTC/CPC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 02 Oct 2019 07:30:29 GMT
    body:
      encoding: UTF-8
      string: '{"Status":1,"Message":"Success","Data":[{"tradeId":"53503","Type":"Sell","Label":"BTC_CPC","TradeTime":"2019-10-02T12:34:18.000Z","Price":"0.00000110","Amount":"314.00000000","Total":"0.00034540"},{"tradeId":"53502","Type":"Sell","Label":"BTC_CPC","TradeTime":"2019-10-02T12:33:37.000Z","Price":"0.00000120","Amount":"198.00000000","Total":"0.00023760"},{"tradeId":"53404","Type":"Sell","Label":"BTC_CPC","TradeTime":"2019-10-01T16:32:53.000Z","Price":"0.00000137","Amount":"3368.61425467","Total":"0.00461500"},{"tradeId":"53412","Type":"Sell","Label":"BTC_CPC","TradeTime":"2019-10-01T16:32:53.000Z","Price":"0.00000137","Amount":"526.65655083","Total":"0.00072152"},{"tradeId":"47[...]
