---
http_interactions:
- request:
    method: get
    uri: https://api.forkonex.com/v2/trades.json?market=btcbtc2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a4d963bc-dd5c-11e8-8787-b9b16efb0a90
      X-Amzn-Remapped-Content-Length:
      - '6252'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Ppv9vF_gIAMFdHQ=
      X-Amzn-Remapped-Server:
      - nginx/1.14.0 + Phusion Passenger 5.3.1
      Status:
      - 200 OK
      Etag:
      - '"2198e0fcde06903a2e43b348a411269e"'
      X-Amzn-Remapped-Date:
      - Wed, 31 Oct 2018 22:31:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"id":440,"price":"0.00008","volume":"40.09","funds":"0.0032072","market":"btcbtc2","created_at":"2018-10-31T02:28:49Z","side":null},{"id":435,"price":"0.00008","volume":"51.68096636","funds":"0.0041344773088","market":"btcbtc2","created_at":"2018-10-30T00:51:45Z","side":null},{"id":429,"price":"0.00007","volume":"10.1695855","funds":"0.000711870985","market":"btcbtc2","created_at":"2018-10-27T21:03:48Z","side":null},{"id":427,"price":"0.000022","volume":"10.89003008","funds":"0.00023958066176","market":"btcbtc2","created_at":"2018-10-25T04:35:02Z","side":null},{"id":426,"price":"0.000018","volume":"37.1713","funds":"0.[...]
