---
http_interactions:
- request:
    method: get
    uri: https://api.forkonex.com/v2/trades.json?market=btcbtx
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b0322156-d0ea-11e8-b52c-17158de0412a
      X-Amzn-Remapped-Content-Length:
      - '5914'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - O1jP3HTXIAMF9yQ=
      X-Amzn-Remapped-Server:
      - nginx/1.14.0 + Phusion Passenger 5.3.1
      Status:
      - 200 OK
      Etag:
      - '"ceb7cec544bc8e336e6c2dbcfc7e77f7"'
      X-Amzn-Remapped-Date:
      - Tue, 16 Oct 2018 02:25:03 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"id":412,"price":"0.00012814","volume":"2.321","funds":"0.00029741294","market":"btcbtx","created_at":"2018-10-16T02:24:17Z","side":null},{"id":411,"price":"0.00012","volume":"0.34477892","funds":"0.0000413734704","market":"btcbtx","created_at":"2018-10-15T02:16:01Z","side":null},{"id":410,"price":"0.00013833","volume":"0.78780768","funds":"0.0001089774363744","market":"btcbtx","created_at":"2018-10-15T02:15:43Z","side":null},{"id":324,"price":"0.00013833","volume":"0.000109","funds":"0.00000001507797","market":"btcbtx","created_at":"2018-10-01T06:55:15Z","side":null},{"id":294,"price":"0.00013842","volume":"0.07684812","fun[...]
