---
http_interactions:
- request:
    method: get
    uri: https://api.forkonex.com/v2/tickers/btcbtc2.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a4a47096-dd5c-11e8-ab41-0d578f2fde47
      X-Amzn-Remapped-Content-Length:
      - '151'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Ppv9rFkHoAMF66A=
      X-Amzn-Remapped-Server:
      - nginx/1.14.0 + Phusion Passenger 5.3.1
      Status:
      - 200 OK
      Etag:
      - '"0b9151b7255fcc55dbcee516a568e67b"'
      X-Amzn-Remapped-Date:
      - Wed, 31 Oct 2018 22:31:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"at":1541025060,"ticker":{"buy":"0.000081","sell":"0.00009999","low":"0.00008","high":"0.00008","last":"0.00008","basevol":"0.0032072","vol":"40.09"}}'
  recorded_at: Wed, 31 Oct 2018 22:31:00 GMT
recorded_with: VCR 4.0.0
