---
http_interactions:
- request:
    method: get
    uri: https://api.forkonex.com/v2/tickers/btcbtx.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b01dfcac-d0ea-11e8-8bec-f92038dd2276
      X-Amzn-Remapped-Content-Length:
      - '163'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - O1jP2HALIAMFUpA=
      X-Amzn-Remapped-Server:
      - nginx/1.14.0 + Phusion Passenger 5.3.1
      Status:
      - 200 OK
      Etag:
      - '"2fd222300a4dfaf4dd7a847048f51117"'
      X-Amzn-Remapped-Date:
      - Tue, 16 Oct 2018 02:25:03 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"at":1539656703,"ticker":{"buy":"0.00012","sell":"0.00012814","low":"0.00012814","high":"0.00012814","last":"0.00012814","basevol":"0.00029741294","vol":"2.321"}}'
  recorded_at: Tue, 16 Oct 2018 02:25:03 GMT
recorded_with: VCR 4.0.0
