---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.waskurzes.com/public/v1/instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Bp-Request-Id:
      - 182d7819-4548-4d56-b3f4-35234b604e43
    body:
      encoding: ASCII-8BIT
      string: '[{"state":"ACTIVE","base":{"code":"PAN","precision":8},"quote":{"code":"BTC","precision":8},"amount_precision":0,"market_precision":8,"min_size":"0.001"},{"state":"ACTIVE","base":{"code":"BTC","precision":8},"quote":{"code":"EUR","precision":2},"amount_precision":5,"market_precision":2,"min_size":"10.0"},{"state":"ACTIVE","base":{"code":"MIOTA","precision":8},"quote":{"code":"BTC","precision":8},"amount_precision":0,"market_precision":8,"min_size":"0.001"},{"state":"ACTIVE","base":{"code":"MIOTA","precision":8},"quote":{"code":"EUR","precision":2},"amount_precision":0,"market_precision":5,"min_size":"10.0"},{"state":"ACTIVE","base":{"cod[...]
