---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.bitpanda.com/public/v1/market-ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Bp-Request-Id:
      - 2530378f-6dcc-4ad7-a219-ad5528b70ee9
    body:
      encoding: ASCII-8BIT
      string: '[{"instrument_code":"PAN_BTC","sequence":3725,"state":"ACTIVE","is_frozen":0,"quote_volume":"0.02196926","last_price":"0.00000273","price_change":"-0.00000004","price_change_percentage":"-1.44","high":"0.00000277","low":"0.00000273"},{"instrument_code":"BTC_EUR","sequence":47292,"state":"ACTIVE","is_frozen":0,"quote_volume":"884297.4397266","last_price":"7852.19","price_change":"682.19","price_change_percentage":"9.51","high":"8318.88","low":"7100.01"},{"instrument_code":"MIOTA_BTC","sequence":380,"state":"ACTIVE","is_frozen":0,"quote_volume":"0.02348109","last_price":"0.00003219","price_change":"0.00000114","price_change_percentage":"3.67","high":"0.00003219","low":"0.00003105"},{"instrument_code":"MIOTA_EUR",[...]
