---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.bitpanda.com/public/v1/order-book/BTC_EUR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Bp-Request-Id:
      - 27c83020-f347-4c46-bf24-5ea6a2cd3a8b
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_code":"BTC_EUR","time":"2019-10-01T05:20:35.285Z","bids":[{"price":"7733.68","amount":"0.0375","order_id":"d26abc1a-3cde-4e43-9ccc-92c403c53024"},{"price":"7730.78","amount":"0.9995","order_id":"38a781f5-6b9d-40f5-a5b6-0ebebb1ee25b"},{"price":"7730.08","amount":"0.0295","order_id":"ab8c1e4a-319b-47c6-91e3-869ad0b1eff6"},{"price":"7730.08","amount":"0.0295","order_id":"8dc322b5-6f0c-4309-8d4d-e826a0df342a"},{"price":"7729.48","amount":"0.0795","order_id":"e146785a-bf29-484c-9c2f-18b3f0322328"},{"price":"7729.08","amount":"0.0895","order_id":"89ff66ea-7873-4e31-9138-8e7ba222ede9"},{"price":"7728.98","[...]
