---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.waskurzes.com/public/v1/order-book/BTC_EUR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Bp-Request-Id:
      - da017c6a-fa70-4922-bae4-d409f57854f0
    body:
      encoding: ASCII-8BIT
      string: '{"instrument_code":"BTC_EUR","time":"2019-08-22T02:31:21.341Z","bids":[{"price":"8833.7","amount":"0.0195","order_id":"581c181b-21e9-4987-b435-2692cc98482e"},{"price":"8830.62","amount":"0.0195","order_id":"317d3a78-dd08-4cf6-ac05-d40272814109"},{"price":"8829.43","amount":"0.0195","order_id":"5f66aaaa-54e4-43da-96d5-4db327bf993f"},{"price":"8829.33","amount":"0.0195","order_id":"823273e8-a98a-4cab-848e-631b0a0a160d"},{"price":"8829.23","amount":"0.0195","order_id":"46919b0f-d22c-4cb8-8732-a96bf25f9317"},{"price":"8829.23","amount":"0.0195","order_id":"28296f48-7b43-4e33-9918-4fc22907997c"},{"price":"8829.13","[...]
