---
http_interactions:
- request:
    method: get
    uri: https://rfinex.com/markets/eoseth.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"asks":[["0.017337","3.9657"],["0.01734","2.205"],["0.017342","3.918"],["0.017343","0.007"],["0.017346","0.014"],["0.01735","0.005"],["0.017351","0.009"],["0.017352","0.004"],["0.017353","1.038"],["0.017358","0.082"],["0.017359","10.233"],["0.01736","0.964"],["0.017361","0.046"],["0.017362","0.014"],["0.017363","0.207"],["0.017365","0.014"],["0.017367","11.185"],["0.017368","0.005"],["0.017369","0.009"],["0.01737","0.024"],["0.017372","1.478"],["0.017373","6.675"],["0.017374","0.046"],["0.017375","0.004"],["0.017378","0.06"],["0.01738","0.005"],["0.017381","5.926"],["0.017382","5.699"],["0.017383","29.458"],["0.017384","0.005"]],"bids":[["0.017335","0.006"],["0.017332","0.006"],["0.017329","0.006"],["0.017328","0.008"],["0.017325","0.006"],["0.017317","6.092"],["0.017312","0.2"],["0.017311","0.018"],["0.017309","0.018"],["0.017306","0.017"],["0.017305","0.03"],["0.017304","0.148"],["0.017303","0.208"],["0.017301","23.066"],["0.0173","0.09"],["0.017299","13.614"],["0.017298","3.839"],["0.017297","0.012"],["0.017295","0.006"],["0.017291","0.035"],["0.01729","0.068"],["0.017289","0.002"],["0.017288","0.412"],["0.017285","1.44"],["0.017283","0.16"],["0.017281","0.313"],["0.017279","0.022"],["0.017278","0.018"],["0.017276","0.213"],["0.017275","1.628"]],"trades":[{"tid":3240291,"type":"sell","date":1533664920,"price":"0.01733648","amount":"7.4329","owner_sn":"PEAYXDXDSGITIO"},{"tid":3240273,"type":"buy","date":1533664696,"price":"0.01733684","amount":"4.1616","owner_sn":"PEAYXDXDSGITIO"},{"tid":3240263,"type":"sell","date":1533664582,"price":"0.01733651","amount":"2.3223","owner_sn":"PEAYXDXDSGITIO"},{"tid":3240258,"type":"buy","date":1533664531,"price":"0.017337","amount":"0.04","owner_sn":"PEABEHC7THKTIO"},{"tid":3240257,"type":"buy","date":1533664530,"price":"0.017337","amount":"1.73","owner_sn":"PEABEHC7THKTIO"},{"tid":3240256,"type":"buy","date[...]
