---
http_interactions:
- request:
    method: get
    uri: https://sistemkoin.com/api/market/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"BTC":[{"short_code":"BTC","name":"Bitcoin","currency":"USD","current":"9120.00000000","change_amount":0,"change_percentage":0,"high":"9120.00000000","low":"9120.00000000","volume":"1.69134124","ask":0,"bid":0},{"short_code":"BTC","name":"Bitcoin","currency":"USDT","current":"9115.00000000","change_amount":0,"change_percentage":0,"high":"9115.00000000","low":"9115.00000000","volume":"2.12361453","ask":0,"bid":0},{"short_code":"BTC","name":"Bitcoin","currency":"TRY","current":"37389.50000000","change_amount":474.25,"change_percentage":1.28,"high":"37597.83000000","low":"36731.25000000","volume":"515.55052886","ask":"37389.50000000","bid":"37374.75000000"},{"short_code":"BTC","name":"Bitcoin","currency":"EURO","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0}],"ETH":[{"short_code":"ETH","name":"Ethereum","currency":"USD","current":"680.00000000","change_amount":0,"change_percentage":0,"high":"680.00000000","low":"680.00000000","volume":"20.13122709","ask":0,"bid":0},{"short_code":"ETH","name":"Ethereum","currency":"BTC","current":"0.07417965","change_amount":0.00025645000000001,"change_percentage":0.35,"high":"0.07500000","low":"0.07392320","volume":"1509.06569658","ask":0,"bid":0},{"short_code":"ETH","name":"Ethereum","currency":"TRY","current":"2787.31000000","change_amount":50.98,"change_percentage":1.86,"high":"2787.50000000","low":"2705.91000000","volume":"4999.82045027","ask":0,"bid":"2787.31000000"},{"short_code":"ETH","name":"Ethereum","currency":"EURO","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"ETH","name":"Ethereum","currency":"USDT","current":"676.65000000","change_amount":0,"change_percentage":0,"high":"676.65000000","low":"676.65000000","volume":"30.12316000","ask":0,"bid":0}],"XRP":[{"short_code":"XRP","name":"Ripple","currency":"USD","current":"0.85110000","change_amount":0,"change_percentage":0,"high":"0.85110000","low":"0.85110000","volume":"6125.45162330","ask":0,"bid":0},{"short_code":"XRP","name":"Ripple","currency":"BTC","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"XRP","name":"Ripple","currency":"TRY","current":"3.47602500","change_amount":0.085873,"change_percentage":2.53,"high":"3.48685200","low":"3.39015200","volume":"3937293.62492954","ask":"3.48467100","bid":"3.45761500"},{"short_code":"XRP","name":"Ripple","currency":"EURO","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"XRP","name":"Ripple","currency":"USDT","current":"0.86263410","change_amount":0.0393941,"change_percentage":4.79,"high":"0.86263410","low":"0.82324000","volume":"18157.52696337","ask":0,"bid":0}],"LTC":[{"short_code":"LTC","name":"Litecoin","currency":"TRY","current":"610.25000000","change_amount":5.25,"change_percentage":0.87,"high":"619.87000000","low":"588.15000000","volume":"16952.75606678","ask":"610.25000000","bid":"608.73000000"},{"short_code":"LTC","name":"Litecoin","currency":"BTC","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0}],"DOGE":[{"short_code":"DOGE","name":"Dogecoin","currency":"USD","current":"0.00516100","change_amount":0,"change_percentage":0,"high":"0.00516100","low":"0.00516100","volume":"1777719.53070310","ask":"0.90000000","bid":0},{"short_code":"DOGE","name":"Dogecoin","currency":"BTC","current":"0.00000100","change_amount":0,"change_percentage":0,"high":"0.00000100","low":"0.00000100","volume":"499.25000000","ask":0,"bid":"0.00000040"},{"short_code":"DOGE","name":"Dogecoin","currency":"TRY","current":"0.02163400","change_amount":0.000339,"change_percentage":1.59,"high":"0.02187300","low":"0.02085400","volume":"66071708.56562804","ask":"0.02163500","bid":"0.02100000"},{"short_code":"DOGE","name":"Dogecoin","currency":"EURO","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"DOGE","name":"Dogecoin","currency":"USDT","current":"0.00521124","change_amount":0.00015,"change_percentage":2.96,"high":"0.00521124","low":"0.00506124","volume":"2544891.15727839","ask":0,"bid":0}],"BTG":[{"short_code":"BTG","name":"Bitcoin
        gold","currency":"TRY","current":"308.00000000","change_amount":15.14,"change_percentage":5.17,"high":"319.87000000","low":"291.20000000","volume":"7519.36989933","ask":"309.12000000","bid":"308.00000000"}],"BCH":[{"short_code":"BCH","name":"Bitcoin
        cash","currency":"BTC","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"BCH","name":"Bitcoin
        cash","currency":"TRY","current":"5888.96000000","change_amount":368.12,"change_percentage":6.67,"high":"5980.25000000","low":"5441.20000000","volume":"888.72061395","ask":"5897.29000000","bid":"5881.62000000"}],"ZEC":[{"short_code":"ZEC","name":"Zcash","currency":"BTC","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"ZEC","name":"Zcash","currency":"TRY","current":"1199.52000000","change_amount":21.02,"change_percentage":1.78,"high":"1209.45000000","low":"1169.80000000","volume":"1966.21783359","ask":"1200.76000000","bid":"1197.84000000"}],"DGB":[{"short_code":"DGB","name":"Digibyte","currency":"TRY","current":"0.20325400","change_amount":0.028154,"change_percentage":16.08,"high":"0.20325400","low":"0.17245500","volume":"8617904.84927589","ask":"0.20395200","bid":"0.20298500"},{"short_code":"DGB","name":"Digibyte","currency":"BTC","current":"0.00004560","change_amount":0,"change_percentage":0,"high":"0.00004560","low":"0.00000520","volume":"40502.79061975","ask":0,"bid":0}],"XLM":[{"short_code":"XLM","name":"Stellar","currency":"TRY","current":"1.76143600","change_amount":-0.022223,"change_percentage":-1.25,"high":"1.81695300","low":"1.67105100","volume":"1476322.64985684","ask":"1.76365000","bid":"1.75985900"}],"TRX":[{"short_code":"TRX","name":"Tron","currency":"BTC","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"TRX","name":"Tron","currency":"TRY","current":"0.37785900","change_amount":0.004334,"change_percentage":1.16,"high":"0.39211200","low":"0.23564900","volume":"11659087.75454037","ask":"0.37812500","bid":"0.37501200"},{"short_code":"TRX","name":"Tron","currency":"ETH","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":"0.00099999","bid":0}],"BEN":[{"short_code":"BEN","name":"Bitcoen","currency":"BTC","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":"0.00001560","bid":0},{"short_code":"BEN","name":"Bitcoen","currency":"TRY","current":"0.49999900","change_amount":0,"change_percentage":0,"high":"0.49999900","low":"0.49999900","volume":"0.52219109","ask":"0.49999900","bid":0}],"XIN":[{"short_code":"XIN","name":"Infinity
        Eco","currency":"BTC","current":"0.00000150","change_amount":-5.0e-7,"change_percentage":-25,"high":"0.00000200","low":"0.00000150","volume":"75128.61703639","ask":"0.00000150","bid":0},{"short_code":"XIN","name":"Infinity
        Eco","currency":"TRY","current":"0.05500000","change_amount":-0.003,"change_percentage":-5.17,"high":"0.06500000","low":"0.05400000","volume":"3598517.84588652","ask":"0.05800000","bid":"0.05500000"}],"FRST":[{"short_code":"FRST","name":"Firstcoin","currency":"BTC","current":"0.00000420","change_amount":1.6e-6,"change_percentage":61.54,"high":"0.00000420","low":"0.00000260","volume":"572515.76326808","ask":"0.00000430","bid":0},{"short_code":"FRST","name":"Firstcoin","currency":"XRP","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"FRST","name":"Firstcoin","currency":"TRY","current":"0.13000000","change_amount":-0.049,"change_percentage":-27.37,"high":"0.17980000","low":"0.13000000","volume":"259444.75488543","ask":"0.16990000","bid":"0.13000000"},{"short_code":"FRST","name":"Firstcoin","currency":"ETH","current":"0.00005702","change_amount":0,"change_percentage":0,"high":"0.00005702","low":"0.00005702","volume":"282771.13293581","ask":"0.00007557","bid":0}],"WRC":[{"short_code":"WRC","name":"Worldcore","currency":"BTC","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"WRC","name":"Worldcore","currency":"TRY","current":"0.21162400","change_amount":-0.019076,"change_percentage":-8.27,"high":"0.23070000","low":"0.21162400","volume":"300753.41482470","ask":0,"bid":0}],"GRS":[{"short_code":"GRS","name":"Groestlcoin","currency":"TRY","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"GRS","name":"Groestlcoin","currency":"ETH","current":"0.00216512","change_amount":0,"change_percentage":0,"high":"0.00216512","low":"0.00216512","volume":"6111.12436100","ask":"0.01849000","bid":0},{"short_code":"GRS","name":"Groestlcoin","currency":"BTC","current":"0.00015807","change_amount":3.7e-7,"change_percentage":0.23,"high":"0.00015807","low":"0.00015770","volume":"9281.24970555","ask":0,"bid":0},{"short_code":"GRS","name":"Groestlcoin","currency":"USDT","current":"1.38112630","change_amount":0.0198919,"change_percentage":1.46,"high":"1.38112630","low":"1.36123440","volume":"9725.81596663","ask":0,"bid":0}],"SYS":[{"short_code":"SYS","name":"Syscoin","currency":"TRY","current":"2.23900000","change_amount":-52.761,"change_percentage":-95.93,"high":"55.00000000","low":"1.40121100","volume":"43035.41289658","ask":"5.00000000","bid":"2.10000000"},{"short_code":"SYS","name":"Syscoin","currency":"ETH","current":"0.00085162","change_amount":0,"change_percentage":0,"high":"0.00085162","low":"0.00085162","volume":"16439.19131390","ask":0,"bid":0},{"short_code":"SYS","name":"Syscoin","currency":"BTC","current":"0.00006030","change_amount":-9.9999999999948e-9,"change_percentage":-0.02,"high":"0.00006031","low":"0.00006030","volume":"53401.93466976","ask":0,"bid":0}],"WPR":[{"short_code":"WPR","name":"WePower","currency":"TRY","current":"0.64990000","change_amount":0,"change_percentage":0,"high":"0.64990000","low":"0.64990000","volume":"1.85225880","ask":"0.64990000","bid":0},{"short_code":"WPR","name":"WePower","currency":"ETH","current":"0.00023113","change_amount":0,"change_percentage":0,"high":"0.00023113","low":"0.00023113","volume":"65111.12361400","ask":0,"bid":0},{"short_code":"WPR","name":"WePower","currency":"BTC","current":"0.00001693","change_amount":0,"change_percentage":0,"high":"0.00001693","low":"0.00001693","volume":"44545.18606024","ask":0,"bid":0}],"XSN":[{"short_code":"XSN","name":"StakeNet","currency":"BTC","current":"0.00004784","change_amount":5.1e-7,"change_percentage":1.08,"high":"0.00004784","low":"0.00004733","volume":"22673.09798065","ask":"0.00100000","bid":0},{"short_code":"XSN","name":"StakeNet","currency":"USD","current":"0.43451200","change_amount":0,"change_percentage":0,"high":"0.43451200","low":"0.43451200","volume":"28452.60890377","ask":0,"bid":0},{"short_code":"XSN","name":"StakeNet","currency":"TRY","current":"1.71600000","change_amount":-0.074,"change_percentage":-4.13,"high":"1.79000000","low":"1.71600000","volume":"825.26206383","ask":"2.14000000","bid":"1.70050000"},{"short_code":"XSN","name":"StakeNet","currency":"ETH","current":"0.00064111","change_amount":0,"change_percentage":0,"high":"0.00064111","low":"0.00064111","volume":"24352.00043674","ask":0,"bid":0}],"BTW":[{"short_code":"BTW","name":"BitWhite","currency":"ETH","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"BTW","name":"BitWhite","currency":"BTC","current":"0.00000500","change_amount":0,"change_percentage":0,"high":"0.00000750","low":"0.00000500","volume":"26181.14192415","ask":"0.00000500","bid":"0.00000400"},{"short_code":"BTW","name":"BitWhite","currency":"TRY","current":"0.21500000","change_amount":0.0425,"change_percentage":24.64,"high":"0.22400000","low":"0.16000000","volume":"198136.23230237","ask":"0.21500000","bid":"0.18000000"}],"DRG":[{"short_code":"DRG","name":"Dragon","currency":"BTC","current":"0.00008865","change_amount":0,"change_percentage":0,"high":"0.00008865","low":"0.00008865","volume":"12972.36322617","ask":0,"bid":0},{"short_code":"DRG","name":"Dragon","currency":"TRY","current":"3.48500000","change_amount":0.793,"change_percentage":29.46,"high":"3.48500000","low":"2.69200000","volume":"26863.81188714","ask":0,"bid":"3.10000000"},{"short_code":"DRG","name":"Dragon","currency":"USDT","current":"0.81350000","change_amount":0,"change_percentage":0,"high":"0.81350000","low":"0.81350000","volume":"17925.86355255","ask":0,"bid":0}],"LNC":[{"short_code":"LNC","name":"BlockLancer","currency":"TRY","current":"0.06598000","change_amount":0.005025,"change_percentage":8.24,"high":"0.06598000","low":"0.06095500","volume":"1689227.07883819","ask":"0.06955100","bid":"0.06300000"},{"short_code":"LNC","name":"BlockLancer","currency":"BTC","current":"0.00000176","change_amount":-1.7e-7,"change_percentage":-8.81,"high":"0.00000193","low":"0.00000176","volume":"757013.07112575","ask":"0.00000199","bid":0}],"MTC":[{"short_code":"MTC","name":"Docademic","currency":"BTC","current":"0.00000888","change_amount":6.58e-6,"change_percentage":286.09,"high":"0.00000888","low":"0.00000230","volume":"10750.95633300","ask":"0.00000888","bid":0},{"short_code":"MTC","name":"Docademic","currency":"USDT","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"MTC","name":"Docademic","currency":"TRY","current":"0.31310000","change_amount":0.1141,"change_percentage":57.34,"high":"0.38000000","low":"0.01350000","volume":"130.00563157","ask":"0.23900000","bid":0},{"short_code":"MTC","name":"Docademic","currency":"ETH","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0}],"MEDIC":[{"short_code":"MEDIC","name":"MedicCoin","currency":"BTC","current":"0.00001325","change_amount":2.5e-7,"change_percentage":1.92,"high":"0.00001325","low":"0.00001250","volume":"94915.35849055","ask":"0.00001325","bid":"0.00001000"},{"short_code":"MEDIC","name":"MedicCoin","currency":"TRY","current":"0.55100000","change_amount":0.141,"change_percentage":34.39,"high":"0.55112000","low":"0.40800000","volume":"132341.92682926","ask":"0.55100000","bid":"0.40000000"},{"short_code":"MEDIC","name":"MedicCoin","currency":"ETH","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0}],"BTCP":[{"short_code":"BTCP","name":"BitcoinPrivate","currency":"TRY","current":"169.00000000","change_amount":9.32,"change_percentage":5.84,"high":"170.00000000","low":"12.90000000","volume":"866.17559790","ask":"170.00000000","bid":"141.00000000"},{"short_code":"BTCP","name":"BitcoinPrivate","currency":"USDT","current":0,"change_amount":0,"change_percentage":0,"high":0,"low":0,"volume":0,"ask":0,"bid":0},{"short_code":"BTCP","name":"BitcoinPrivate","currency":"BTC","current":"0.00454500","change_amount":4.5000000000001e-5,"change_percentage":1,"high":"0.00455000","low":"0.00395000","volume":"1268.24889866","ask":"0.00454500","bid":0}]}}'
  recorded_at: Thu, 03 May 2018 01:39:36 GMT
recorded_with: VCR 4.0.0
