---
http_interactions:
- request:
    method: get
    uri: https://api.sistemkoin.com/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cache:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"USD":{"BBC":{"symbol":"BBC","high":"0.0007","low":"0.0006","askPrice":"0.00120000","bidPrice":"0.00040000","current":"0.0007","volume":"338.7099","changeAmount":"0.00010000","changePercentage":"16.67"},"BCZ":{"symbol":"BCZ","high":"0.1389","low":"0.1187","askPrice":"0.28680000","bidPrice":"0.09860000","current":"0.1187","volume":"701.8643","changeAmount":"-0.01920000","changePercentage":"-13.92"},"BTC":{"symbol":"BTC","high":"10922.8230","low":"9383.0000","askPrice":"11123.00000000","bidPrice":"9365.00000000","current":"9501.0000","volume":"721497.7576","changeAmount":"-1281.60950000","changePercentage":"-11.89"},"CCX":{"symbol":"CCX","high":"0.08003700","low":"0.07328678","askPrice":"0.10012460","bidPrice":"0.06974500","current":"0.08003700","volume":"463.00000000","changeAmount":"0.00675022","changePercentage":"9.21"},"DAI":{"symbol":"DAI","high":"1.0529","low":"0.9906","askPrice":"1.12860000","bidPrice":"0.94530000","current":"1.0527","volume":"1725.9752","changeAmount":"0.06210000","changePercentage":"6.27"},"DOGE":{"symbol":"DOGE","high":"0.00320000","low":"0.00301527","askPrice":"0.00480000","bidPrice":"0.00260000","current":"0.00301527","volume":"640.12960000","changeAmount":"-0.00018473","changePercentage":"-5.77"},"ETH":{"symbol":"ETH","high":"231.0578","low":"197.4400","askPrice":"240.87000000","bidPrice":"170.40000000","current":"198.4800","volume":"9560.6773","changeAmount":"-30.59850000","changePercentage":"-13.36"},"ETN":{"symbol":"ETN","high":"0.0052","low":"0.0051","askPrice":"0.00530000","bidPrice":"0.00330000","current":"0.0051","volume":"543.0000","changeAmount":"-0.00010000","changePercentage":"-1.92"},"EXO":{"symbol":"EXO","high":"0.4992","low":"0.4470","askPrice":"0.92350000","bidPrice":"0.34230000","current":"0.4470","volume":"632.1657","changeAmount":"-0.04980000","changePercentage":"-10.02"},"GBX":{"symbol":"GBX","high":"0.04373100","low":"0.03741254","askPrice":"0.03741254","bidPrice":"0.00066756","current":"0.03741254","volume":"261.13113210","changeAmount":"-0.00570224","changePercentage":"-13.23"},"HERC":{"symbol":"HERC","high":"0.0033","low":"0.0030","askPrice":"0.01700000","bidPrice":"0.00110000","current":"0.0030","volume":"601.8287","changeAmount":"-0.00030000","changePercentage":"-9.09"},"IGG":{"symbol":"IGG","high":"0.000137","low":"0.000112","askPrice":"0.00015500","bidPrice":"0.00008800","current":"0.000112","volume":"219.000000","changeAmount":"-0.00002500","changePercentage":"-18.25"},"LGS":{"symbol":"LGS","high":"0.0109","low":"0.0100","askPrice":"0.02560000","bidPrice":"0.00630000","current":"0.0100","volume":"371.0000","changeAmount":"-0.00080000","changePercentage":"-7.41"},"LIPS":{"symbol":"LIPS","high":"0.00017124","low":"0.00017025","askPrice":"0.00048545","bidPrice":"0.00000500","current":"0.00017025","volume":"406.00000000","changeAmount":"-0.00000096","changePercentage":"-0.56"},"ONT":{"symbol":"ONT","high":"0.9238","low":"0.8050","askPrice":"2.10000000","bidPrice":"0.75410000","current":"0.8050","volume":"647.0000","changeAmount":"-0.11820000","changePercentage":"-12.80"},"PIRL":{"symbol":"PIRL","high":"0.0170","low":"0.0150","askPrice":"0.02770000","bidPrice":"0.01170000","current":"0.0150","volume":"780.8558","changeAmount":"-0.00180000","changePercentage":"-10.71"},"SINS":{"symbol":"SINS","high":"0.68779300","low":"0.64052600","askPrice":"2.65000000","bidPrice":"0.68779300","current":"0.68779300","volume":"652.99999996","changeAmount":"0.00860823","changePercentage":"1.27"},"XRP":{"symbol":"XRP","high":"0.3147","low":"0.2938","askPrice":"0.40100000","bidPrice":"0.29010000","current":"0.2967","volume":"4995.9299","changeAmount":"-0.01800000","changePercentage":"-5.72"},"XVG":{"symbol":"XVG","high":"0.0061","low":"0.0053","askPrice":"0.01200000","bidPrice":"0.00480000","current":"0.0053","volume":"508.9875","changeAmount":"-0.00080000","changePercentage":"-13.11"},"ZEN":{"symbol":"ZEN","high":"6.9602","low":"6.2600","askPrice":"11.98560000","bidPrice":"5.77750000","current":"6.2600","volume":"948.0000","changeAmount":"-0.66780000","changePercentage":"-9.64"}},"DEEX":{"CBEX":{"symbol":"CBEX","high":"0.6978","low":"0.6856","askPrice":"0.69800000","bidPrice":"0.68600000","current":"0.6860","volume":"3022.0782","changeAmount":"-0.01180000","changePercentage":"-1.69"}},"TRX":{"BTT":{"symbol":"BTT","high":"0.04142452","low":"0.03865403","askPrice":"0.05086780","bidPrice":"0.02124534","current":"0.03865403","volume":"3190.00556236","changeAmount":"-0.00180878","changePercentage":"-4.47"}},"CVN":{"DEEX":{"symbol":"DEEX","high":"0.08237856","low":"0.05920731","askPrice":"0.08316545","bidPrice":"0.03846200","current":"0.06014265","volume":"1229.22885238","changeAmount":"0.00093534","changePercentage":"1.58"}},"BTC":{"1UP":{"symbol":"1UP","high":"0.00000090","low":"0.00000086","askPrice":"0.00000164","bidPrice":"0.00000086","current":"0.00000090","volume":"0.03751619","changeAmount":"0.00000004","changePercentage":"4.65"},"ABYSS":{"symbol":"ABYSS","high":"0.00000236","low":"0.00000194","askPrice":"0.00000195","bidPrice":"0.00000102","current":"0.00000195","volume":"0.12845672","changeAmount":"-0.00000041","changePercentage":"-17.37"},"ACT":{"symbol":"ACT","high":"0.00000164","low":"0.00000139","askPrice":"0.00000200","bidPrice":"0.00000130","current":"0.00000139","volume":"0.22196986","changeAmount":"-0.00000025","changePercentage":"-15.24"},"ADMN":{"symbol":"ADMN","high":"0.00000010","low":"0.00000008","askPrice":"0.00000010","bidPrice":"0.00000002","current":"0.00000010","volume":"0.03223455","changeAmount":"0.00000000","changePercentage":"0.00"},"AE":{"symbol":"AE","high":"0.00002985","low":"0.00002876","askPrice":"0.00006052","bidPrice":"0.00000604","current":"0.00002985","volume":"0.33840565","changeAmount":"0.00000105","changePercentage":"3.65"},"AGVC":{"symbol":"AGVC","high":"0.00000699","low":"0.00000558","askPrice":"0.00000700","bidPrice":"0.00000200","current":"0.00000695","volume":"0.21919164","changeAmount":"0.00000133","changePercentage":"23.67"},"ANKR":{"symbol":"ANKR","high":"0.00000089","low":"0.00000079","askPrice":"0.00000125","bidPrice":"0.00000014","current":"0.00000087","volume":"0.29029610","changeAmount":"0.00000008","changePercentage":"10.13"},"BAT":{"symbol":"BAT","high":"0.00002201","low":"0.00002173","askPrice":"0.00003897","bidPrice":"0.00000136","current":"0.00002196","volume":"0.34258456","changeAmount":"-0.00000005","changePercentage":"-0.23"},"BBC":{"symbol":"BBC","high":"0.00000006","low":"0.00000005","askPrice":"0.00000007","bidPrice":"0.00000004","current":"0.00000006","volume":"0.01813301","changeAmount":"0.00000001","changePercentage":"20.00"},"BCH":{"symbol":"BCH","high":"0.03011010","low":"0.02840000","askPrice":"0.03020288","bidPrice":"0.02605875","current":"0.02987796","volume":"18.84658888","changeAmount":"0.00101545","changePercentage":"3.52"},"BCZ":{"symbol":"BCZ","high":"0.00001200","low":"0.00001196","askPrice":"0.00001201","bidPrice":"0.00001183","current":"0.00001200","volume":"0.26079899","changeAmount":"0.00000001","changePercentage":"0.08"},"BEN":{"symbol":"BEN","high":"0.00000035","low":"0.00000026","askPrice":"0.00000035","bidPrice":"0.00000025","current":"0.00000029","volume":"0.14957166","changeAmount":"0.00000003","changePercentage":"11.54"},"BEZ":{"symbol":"BEZ","high":"0.00000352","low":"0.00000325","askPrice":"0.00000750","bidPrice":"0.00000090","current":"0.00000325","volume":"0.24796806","changeAmount":"-0.00000025","changePercentage":"-7.14"},"BITG":{"symbol":"BITG","high":"0.00002270","low":"0.00001805","askPrice":"0.00002200","bidPrice":"0.00001023","current":"0.00002012","volume":"0.19624906","changeAmount":"0.00000207","changePercentage":"11.47"},"BRAVO":{"symbol":"BRAVO","high":"0.00000158","low":"0.00000148","askPrice":"0.00000150","bidPrice":"0.00000080","current":"0.00000149","volume":"0.04473646","changeAmount":"-0.00000006","changePercentage":"-3.87"},"BTCP":{"symbol":"BTCP","high":"0.00003408","low":"0.00001901","askPrice":"0.00003408","bidPrice":"0.00002800","current":"0.00003407","volume":"0.08951491","changeAmount":"0.00000600","changePercentage":"21.38"},"BTG":{"symbol":"BTG","high":"0.00277801","low":"0.00258107","askPrice":"0.00307858","bidPrice":"0.00249106","current":"0.00277801","volume":"19.80495057","changeAmount":"0.00019527","changePercentage":"7.56"},"BTT":{"symbol":"BTT","high":"0.00000011","low":"0.00000010","askPrice":"0.00000019","bidPrice":"0.00000009","current":"0.00000010","volume":"0.18852287","changeAmount":"-0.00000001","changePercentage":"-9.09"},"BTW":{"symbol":"BTW","high":"0.00000016","low":"0.00000015","askPrice":"0.00000020","bidPrice":"0.00000002","current":"0.00000016","volume":"0.28323483","changeAmount":"0.00000000","changePercentage":"0.00"},"BWT":{"symbol":"BWT","high":"0.00000081","low":"0.00000078","askPrice":"0.00000287","bidPrice":"0.00000071","current":"0.00000078","volume":"0.29115525","changeAmount":"-0.00000002","changePercentage":"-2.50"},"BZX":{"symbol":"BZX","high":"0.00000056","low":"0.00000031","askPrice":"0.00000067","bidPrice":"0.00000011","current":"0.00000040","volume":"0.32198767","changeAmount":"-0.00000014","changePercentage":"-25.93"},"CBC":{"symbol":"CBC","high":"0.00000170","low":"0.00000160","askPrice":"0.00000575","bidPrice":"0.00000114","current":"0.00000167","volume":"0.18507201","changeAmount":"0.00000005","changePercentage":"3.09"},"CBEX":{"symbol":"CBEX","high":"0.00000026","low":"0.00000023","askPrice":"0.00000048","bidPrice":"0.00000004","current":"0.00000026","volume":"0.06181983","changeAmount":"0.00000003","changePercentage":"13.04"},"CCX":{"symbol":"CCX","high":"0.00000897","low":"0.00000683","askPrice":"0.00002124","bidPrice":"0.00000563","current":"0.00000860","volume":"0.51588641","changeAmount":"0.00000170","changePercentage":"24.64"},"CDZC":{"symbol":"CDZC","high":"0.00001281","low":"0.00001270","askPrice":"0.00003823","bidPrice":"0.00001231","current":"0.00001271","volume":"0.01061302","changeAmount":"-0.00000010","changePercentage":"-0.78"},"CLB":{"symbol":"CLB","high":"0.00000044","low":"0.00000043","askPrice":"0.00000045","bidPrice":"0.00000005","current":"0.00000043","volume":"0.18714072","changeAmount":"0.00000000","changePercentage":"0.00"},"CLO":{"symbol":"CLO","high":"0.00000037","low":"0.00000025","askPrice":"0.00000041","bidPrice":"0.00000016","current":"0.00000026","volume":"0.06086058","changeAmount":"0.00000000","changePercentage":"0.00"},"CMM":{"symbol":"CMM","high":"0.00000067","low":"0.00000057","askPrice":"0.00000263","bidPrice":"0.00000013","current":"0.00000058","volume":"0.07581099","changeAmount":"-0.00000003","changePercentage":"-4.92"},"CVN":{"symbol":"CVN","high":"0.00001542","low":"0.00001410","askPrice":"0.00002519","bidPrice":"0.00001290","current":"0.00001483","volume":"0.45395054","changeAmount":"-0.00000059","changePercentage":"-3.83"},"DAI":{"symbol":"DAI","high":"0.00010708","low":"0.00009171","askPrice":"0.00012090","bidPrice":"0.00004908","current":"0.00010530","volume":"0.33510413","changeAmount":"0.00001350","changePercentage":"14.71"},"DASH":{"symbol":"DASH","high":"0.01201218","low":"0.01014275","askPrice":"0.01241231","bidPrice":"0.01047581","current":"0.01047581","volume":"23.99043187","changeAmount":"-0.00110641","changePercentage":"-9.55"},"DEEX":{"symbol":"DEEX","high":"0.00000112","low":"0.00000090","askPrice":"0.00000111","bidPrice":"0.00000090","current":"0.00000097","volume":"0.08026227","changeAmount":"0.00000007","changePercentage":"7.78"},"DGB":{"symbol":"DGB","high":"0.00000113","low":"0.00000103","askPrice":"0.00000112","bidPrice":"0.00000099","current":"0.00000107","volume":"1.10087949","changeAmount":"-0.00000005","changePercentage":"-4.46"},"DOGE":{"symbol":"DOGE","high":"0.00000030","low":"0.00000028","askPrice":"0.00000031","bidPrice":"0.00000030","current":"0.00000030","volume":"2.16353251","changeAmount":"0.00000002","changePercentage":"7.14"},"DRG":{"symbol":"DRG","high":"0.00000530","low":"0.00000417","askPrice":"0.00000911","bidPrice":"0.00000356","current":"0.00000530","volume":"0.37624796","changeAmount":"0.00000112","changePercentage":"26.79"},"ETH":{"symbol":"ETH","high":"0.02329077","low":"0.01845245","askPrice":"0.02341230","bidPrice":"0.01845246","current":"0.01996904","volume":"71.44999037","changeAmount":"-0.00101498","changePercentage":"-4.84"},"ETHPLO":{"symbol":"ETHPLO","high":"0.00000370","low":"0.00000354","askPrice":"0.00000375","bidPrice":"0.00000025","current":"0.00000368","volume":"0.18504842","changeAmount":"0.00000006","changePercentage":"1.66"},"ETN":{"symbol":"ETN","high":"0.00000059","low":"0.00000054","askPrice":"0.00000055","bidPrice":"0.00000046","current":"0.00000054","volume":"0.28568573","changeAmount":"-0.00000005","changePercentage":"-8.47"},"EVY":{"symbol":"EVY","high":"0.00000003","low":"0.00000003","askPrice":"0.00000004","bidPrice":"0.00000003","current":"0.00000003","volume":"0.09011215","changeAmount":"0.00000000","changePercentage":"0.00"},"EXO":{"symbol":"EXO","high":"0.00005145","low":"0.00005105","askPrice":"0.00008000","bidPrice":"0.00005100","current":"0.00005105","volume":"0.80774387","changeAmount":"-0.00000040","changePercentage":"-0.78"},"FORK":{"symbol":"FORK","high":"0.00000015","low":"0.00000012","askPrice":"0.00000020","bidPrice":"0.00000005","current":"0.00000015","volume":"0.15345614","changeAmount":"0.00000001","changePercentage":"7.14"},"GBX":{"symbol":"GBX","high":"0.00000448","low":"0.00000434","askPrice":"0.00001024","bidPrice":"0.00000433","current":"0.00000434","volume":"0.22695398","changeAmount":"-0.00000014","changePercentage":"-3.13"},"GNT":{"symbol":"GNT","high":"0.00000597","low":"0.00000581","askPrice":"0.00000790","bidPrice":"0.00000088","current":"0.00000581","volume":"0.21371467","changeAmount":"-0.00000016","changePercentage":"-2.68"},"GRS":{"symbol":"GRS","high":"0.00002357","low":"0.00002317","askPrice":"0.00003751","bidPrice":"0.00000787","current":"0.00002357","volume":"0.31985678","changeAmount":"0.00000037","changePercentage":"1.59"},"GXX":{"symbol":"GXX","high":"0.00000568","low":"0.00000558","askPrice":"0.00001245","bidPrice":"0.00000557","current":"0.00000558","volume":"0.26922459","changeAmount":"-0.00000002","changePercentage":"-0.36"},"HBZ":{"symbol":"HBZ","high":"0.00000004","low":"0.00000004","askPrice":"0.00000012","bidPrice":"0.00000002","current":"0.00000004","volume":"0.02422144","changeAmount":"0.00000000","changePercentage":"0.00"},"HERC":{"symbol":"HERC","high":"0.00000035","low":"0.00000030","askPrice":"0.00000230","bidPrice":"0.00000015","current":"0.00000035","volume":"0.02425808","changeAmount":"0.00000003","changePercentage":"9.37"},"HET":{"symbol":"HET","high":"0.00000789","low":"0.00000788","askPrice":"0.00000790","bidPrice":"0.00000180","current":"0.00000788","volume":"0.06668478","changeAmount":"-0.00000001","changePercentage":"-0.13"},"HKY":{"symbol":"HKY","high":"0.00000001","low":"0.00000001","askPrice":"0.00000001","bidPrice":"0.00000000","current":"0.00000001","volume":"0.00000001","changeAmount":"0.00000000","changePercentage":"0.00"},"HOT":{"symbol":"HOT","high":"0.00000014","low":"0.00000013","askPrice":"0.00000013","bidPrice":"0.00000012","current":"0.00000013","volume":"0.01862344","changeAmount":"0.00000000","changePercentage":"0.00"},"IGG":{"symbol":"IGG","high":"0.00000001","low":"0.00000001","askPrice":"0.00000001","bidPrice":"0.00000000","current":"0.00000001","volume":"0.00001503","changeAmount":"0.00000000","changePercentage":"0.00"},"LGS":{"symbol":"LGS","high":"0.00000102","low":"0.00000100","askPrice":"0.00000102","bidPrice":"0.00000071","current":"0.00000101","volume":"0.21782187","changeAmount":"0.00000001","changePercentage":"1.00"},"LIPS":{"symbol":"LIPS","high":"0.00000001","low":"0.00000001","askPrice":"0.00000001","bidPrice":"0.00000000","current":"0.00000001","volume":"0.00000002","changeAmount":"0.00000000","changePercentage":"0.00"},"LNC":{"symbol":"LNC","high":"0.00000004","low":"0.00000003","askPrice":"0.00000005","bidPrice":"0.00000001","current":"0.00000003","volume":"0.04052840","changeAmount":"-0.00000001","changePercentage":"-25.00"},"LTC":{"symbol":"LTC","high":"0.00869714","low":"0.00801560","askPrice":"0.00868000","bidPrice":"0.00800000","current":"0.00839295","volume":"87.75698871","changeAmount":"0.00001787","changePercentage":"0.21"},"MEDIC":{"symbol":"MEDIC","high":"0.00000002","low":"0.00000002","askPrice":"0.00000006","bidPrice":"0.00000001","current":"0.00000002","volume":"0.14728427","changeAmount":"0.00000000","changePercentage":"0.00"},"MKR":{"symbol":"MKR","high":"0.05339204","low":"0.05027885","askPrice":"0.05090701","bidPrice":"0.04945245","current":"0.05090701","volume":"0.20524864","changeAmount":"-0.00248503","changePercentage":"-4.65"},"MNC":{"symbol":"MNC","high":"0.00000037","low":"0.00000034","askPrice":"0.00000050","bidPrice":"0.00000022","current":"0.00000036","volume":"0.15194649","changeAmount":"-0.00000001","changePercentage":"-2.70"},"MPAY":{"symbol":"MPAY","high":"0.00000224","low":"0.00000210","askPrice":"0.00000210","bidPrice":"0.00000040","current":"0.00000210","volume":"0.10414272","changeAmount":"-0.00000014","changePercentage":"-6.25"},"MPG":{"symbol":"MPG","high":"0.00000108","low":"0.00000100","askPrice":"0.00000230","bidPrice":"0.00000081","current":"0.00000108","volume":"0.20666777","changeAmount":"0.00000004","changePercentage":"3.85"},"MRI":{"symbol":"MRI","high":"0.00000008","low":"0.00000007","askPrice":"0.00000025","bidPrice":"0.00000007","current":"0.00000007","volume":"0.13161909","changeAmount":"-0.00000001","changePercentage":"-12.50"},"MTC":{"symbol":"MTC","high":"0.00000167","low":"0.00000157","askPrice":"0.00000287","bidPrice":"0.00000041","current":"0.00000163","volume":"0.22578772","changeAmount":"0.00000006","changePercentage":"3.82"},"MWAT":{"symbol":"MWAT","high":"0.00000128","low":"0.00000121","askPrice":"0.00000249","bidPrice":"0.00000089","current":"0.00000121","volume":"0.28139736","changeAmount":"-0.00000007","changePercentage":"-5.47"},"NCC":{"symbol":"NCC","high":"0.00000046","low":"0.00000045","askPrice":"0.00000099","bidPrice":"0.00000040","current":"0.00000046","volume":"0.16030761","changeAmount":"0.00000001","changePercentage":"2.22"},"NGC":{"symbol":"NGC","high":"0.00000308","low":"0.00000305","askPrice":"0.00000644","bidPrice":"0.00000248","current":"0.00000305","volume":"0.27196612","changeAmount":"-0.00000002","changePercentage":"-0.65"},"NPXS":{"symbol":"NPXS","high":"0.00000006","low":"0.00000005","askPrice":"0.00000008","bidPrice":"0.00000003","current":"0.00000006","volume":"0.20825351","changeAmount":"0.00000000","changePercentage":"0.00"},"OMG":{"symbol":"OMG","high":"0.00014820","low":"0.00013847","askPrice":"0.00014846","bidPrice":"0.00013802","current":"0.00014397","volume":"28.97879736","changeAmount":"-0.00000210","changePercentage":"-1.44"},"ONT":{"symbol":"ONT","high":"0.00008624","low":"0.00008396","askPrice":"0.00020315","bidPrice":"0.00008000","current":"0.00008624","volume":"0.57961818","changeAmount":"0.00000214","changePercentage":"2.54"},"OROX":{"symbol":"OROX","high":"0.00000045","low":"0.00000001","askPrice":"0.00000083","bidPrice":"0.00000030","current":"0.00000044","volume":"0.20972136","changeAmount":"0.00000043","changePercentage":"4300.00"},"PAC":{"symbol":"PAC","high":"0.00000003","low":"0.00000003","askPrice":"0.00000004","bidPrice":"0.00000002","current":"0.00000003","volume":"0.13882708","changeAmount":"0.00000000","changePercentage":"0.00"},"PIRL":{"symbol":"PIRL","high":"0.00000161","low":"0.00000153","askPrice":"0.00000175","bidPrice":"0.00000086","current":"0.00000161","volume":"0.16925942","changeAmount":"0.00000004","changePercentage":"2.55"},"QBIT":{"symbol":"QBIT","high":"0.00455000","low":"0.00440120","askPrice":"0.00462859","bidPrice":"0.00440000","current":"0.00446045","volume":"0.20677269","changeAmount":"-0.00008955","changePercentage":"-1.97"},"QC":{"symbol":"QC","high":"0.00007995","low":"0.00007500","askPrice":"0.00007998","bidPrice":"0.00001003","current":"0.00007992","volume":"0.02716831","changeAmount":"0.00000492","changePercentage":"6.56"},"QPY":{"symbol":"QPY","high":"0.00000002","low":"0.00000001","askPrice":"0.00000002","bidPrice":"0.00000000","current":"0.00000001","volume":"0.06229819","changeAmount":"-0.00000001","changePercentage":"-50.00"},"QUSD":{"symbol":"QUSD","high":"0.00000872","low":"0.00000799","askPrice":"0.00001458","bidPrice":"0.00000089","current":"0.00000872","volume":"0.13199327","changeAmount":"0.00000071","changePercentage":"8.86"},"SCR":{"symbol":"SCR","high":"0.00000084","low":"0.00000072","askPrice":"0.00000201","bidPrice":"0.00000056","current":"0.00000080","volume":"0.73671441","changeAmount":"-0.00000004","changePercentage":"-4.76"},"SINS":{"symbol":"SINS","high":"0.00006339","low":"0.00006204","askPrice":"0.00008756","bidPrice":"0.00000997","current":"0.00006204","volume":"0.39551255","changeAmount":"-0.00000135","changePercentage":"-2.13"},"STK":{"symbol":"STK","high":"0.00007634","low":"0.00006877","askPrice":"0.00007799","bidPrice":"0.00007102","current":"0.00007634","volume":"0.31737250","changeAmount":"0.00000756","changePercentage":"10.99"},"STQ":{"symbol":"STQ","high":"0.00000002","low":"0.00000001","askPrice":"0.00000003","bidPrice":"0.00000000","current":"0.00000001","volume":"0.05403987","changeAmount":"0.00000000","changePercentage":"0.00"},"SWL":{"symbol":"SWL","high":"0.00000001","low":"0.00000001","askPrice":"0.00000001","bidPrice":"0.00000000","current":"0.00000001","volume":"0.00040544","changeAmount":"0.00000000","changePercentage":"0.00"},"SYS":{"symbol":"SYS","high":"0.00000294","low":"0.00000286","askPrice":"0.00000874","bidPrice":"0.00000221","current":"0.00000294","volume":"0.31143174","changeAmount":"0.00000008","changePercentage":"2.80"},"TMC":{"symbol":"TMC","high":"0.00000003","low":"0.00000001","askPrice":"0.00000002","bidPrice":"0.00000001","current":"0.00000002","volume":"0.09559399","changeAmount":"-0.00000001","changePercentage":"-33.33"},"TOL":{"symbol":"TOL","high":"0.00000085","low":"0.00000081","askPrice":"0.00000169","bidPrice":"0.00000050","current":"0.00000085","volume":"0.22041565","changeAmount":"0.00000002","changePercentage":"2.41"},"TPAY":{"symbol":"TPAY","high":"0.00005633","low":"0.00005554","askPrice":"0.00007936","bidPrice":"0.00005010","current":"0.00005554","volume":"0.31584131","changeAmount":"-0.00000036","changePercentage":"-0.64"},"TRM":{"symbol":"TRM","high":"0.00000001","low":"0.00000001","askPrice":"0.00000001","bidPrice":"0.00000000","current":"0.00000001","volume":"0.00001502","changeAmount":"0.00000000","changePercentage":"0.00"},"TRX":{"symbol":"TRX","high":"0.00000236","low":"0.00000220","askPrice":"0.00000233","bidPrice":"0.00000200","current":"0.00000227","volume":"32.91511272","changeAmount":"-0.00000009","changePercentage":"-3.81"},"TWS":{"symbol":"TWS","high":"0.00001220","low":"0.00001215","askPrice":"0.00001220","bidPrice":"0.00000813","current":"0.00001220","volume":"0.03022419","changeAmount":"0.00000000","changePercentage":"0.00"},"UPC":{"symbol":"UPC","high":"0.00000122","low":"0.00000120","askPrice":"0.00000122","bidPrice":"0.00000028","current":"0.00000121","volume":"0.02260986","changeAmount":"-0.00000001","changePercentage":"-0.82"},"USC":{"symbol":"USC","high":"0.00010457","low":"0.00009426","askPrice":"0.00011020","bidPrice":"0.00000785","current":"0.00010457","volume":"0.32755649","changeAmount":"0.00001031","changePercentage":"10.94"},"VIO":{"symbol":"VIO","high":"0.00000049","low":"0.00000048","askPrice":"0.00000050","bidPrice":"0.00000002","current":"0.00000049","volume":"0.02454286","changeAmount":"0.00000001","changePercentage":"2.08"},"VRS":{"symbol":"VRS","high":"0.00000057","low":"0.00000041","askPrice":"0.00000090","bidPrice":"0.00000041","current":"0.00000057","volume":"0.20486732","changeAmount":"0.00000002","changePercentage":"3.64"},"W12":{"symbol":"W12","high":"0.00000118","low":"0.00000098","askPrice":"0.00000099","bidPrice":"0.00000023","current":"0.00000098","volume":"0.02376937","changeAmount":"-0.00000020","changePercentage":"-16.95"},"WAVES":{"symbol":"WAVES","high":"0.00014560","low":"0.00013404","askPrice":"0.00015078","bidPrice":"0.00013402","current":"0.00014560","volume":"6.36392760","changeAmount":"0.00001105","changePercentage":"8.21"},"WIRE":{"symbol":"WIRE","high":"0.00000010","low":"0.00000005","askPrice":"0.00000028","bidPrice":"0.00000004","current":"0.00000009","volume":"0.02125643","changeAmount":"0.00000004","changePercentage":"80.00"},"WISH":{"symbol":"WISH","high":"0.00000654","low":"0.00000291","askPrice":"0.00000654","bidPrice":"0.00000500","current":"0.00000502","volume":"0.00407154","changeAmount":"0.00000211","changePercentage":"72.51"},"WPR":{"symbol":"WPR","high":"0.00000068","low":"0.00000066","askPrice":"0.00000179","bidPrice":"0.00000023","current":"0.00000068","volume":"0.05218775","changeAmount":"0.00000000","changePercentage":"0.00"},"WRC":{"symbol":"WRC","high":"0.00000009","low":"0.00000007","askPrice":"0.00000011","bidPrice":"0.00000005","current":"0.00000009","volume":"0.01278428","changeAmount":"0.00000001","changePercentage":"12.50"},"XCCZ":{"symbol":"XCCZ","high":"0.00000004","low":"0.00000004","askPrice":"0.00000200","bidPrice":"0.00000003","current":"0.00000004","volume":"0.03022423","changeAmount":"0.00000000","changePercentage":"0.00"},"XGOX":{"symbol":"XGOX","high":"0.00000001","low":"0.00000001","askPrice":"0.00000002","bidPrice":"0.00000000","current":"0.00000001","volume":"0.01122423","changeAmount":"0.00000000","changePercentage":"0.00"},"XLM":{"symbol":"XLM","high":"0.00000830","low":"0.00000780","askPrice":"0.00000855","bidPrice":"0.00000781","current":"0.00000830","volume":"30.49687250","changeAmount":"0.00000047","changePercentage":"6.00"},"XRC":{"symbol":"XRC","high":"0.00164223","low":"0.00120145","askPrice":"0.00220000","bidPrice":"0.00116001","current":"0.00120145","volume":"0.02130150","changeAmount":"-0.00044078","changePercentage":"-26.84"},"XRP":{"symbol":"XRP","high":"0.00003212","low":"0.00002800","askPrice":"0.00003501","bidPrice":"0.00002800","current":"0.00003110","volume":"71.54273543","changeAmount":"0.00000130","changePercentage":"4.36"},"XVG":{"symbol":"XVG","high":"0.00000056","low":"0.00000055","askPrice":"0.00000140","bidPrice":"0.00000040","current":"0.00000056","volume":"0.05267874","changeAmount":"0.00000000","changePercentage":"0.00"},"XZC":{"symbol":"XZC","high":"0.00087977","low":"0.00085569","askPrice":"0.00328620","bidPrice":"0.00070936","current":"0.00087977","volume":"0.09037105","changeAmount":"0.00002408","changePercentage":"2.81"},"YLD":{"symbol":"YLD","high":"0.00000056","low":"0.00000056","askPrice":"0.00000058","bidPrice":"0.00000031","current":"0.00000056","volume":"0.02487096","changeAmount":"0.00000000","changePercentage":"0.00"},"ZEC":{"symbol":"ZEC","high":"0.00746354","low":"0.00713760","askPrice":"0.00776354","bidPrice":"0.00705275","current":"0.00713760","volume":"63.59715585","changeAmount":"-0.00031904","changePercentage":"-4.28"},"ZEN":{"symbol":"ZEN","high":"0.00064780","low":"0.00063367","askPrice":"0.00098876","bidPrice":"0.00059214","current":"0.00063367","volume":"0.03917852","changeAmount":"-0.00001394","changePercentage":"-2.15"},"ZIL":{"symbol":"ZIL","high":"0.00000110","low":"0.00000100","askPrice":"0.00000160","bidPrice":"0.00000094","current":"0.00000101","volume":"0.01833596","changeAmount":"-0.00000009","changePercentage":"-8.18"},"ZRX":{"symbol":"ZRX","high":"0.00002361","low":"0.00002306","askPrice":"0.00003445","bidPrice":"0.00001100","current":"0.00002306","volume":"0.03516702","changeAmount":"-0.00000055","changePercentage":"-2.33"}},"EURO":{"BTC":{"symbol":"BTC","high":"9590.0000","low":"8343.0000","askPrice":"9810.00000000","bidPrice":"8123.00000000","current":"8343.0000","volume":"12776.9995","changeAmount":"-1225.00000000","changePercentage":"-12.80"},"CCX":{"symbol":"CCX","high":"0.07070900","low":"0.06533378","askPrice":"0.09042230","bidPrice":"0.02510769","current":"0.07070900","volume":"766.00000000","changeAmount":"0.00537522","changePercentage":"8.23"},"DOGE":{"symbol":"DOGE","high":"0.00277684","low":"0.00269000","askPri[...]
