---
http_interactions:
- request:
    method: get
    uri: https://api.sistemkoin.com/tradehistory?limit=50&symbol=BTCTRY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"price":"55569.00000000","volume":"1.86553292","funds":"103665.79883148","side":"bid","timestamp":1563346974},{"price":"55537.00000000","volume":"9.28480932","funds":"515650.45520484","side":"bid","timestamp":1563346969},{"price":"55537.00000000","volume":"0.00257160","funds":"142.81894920","side":"bid","timestamp":1563346908},{"price":"55157.00000000","volume":"1.75000000","funds":"96524.75000000","side":"ask","timestamp":1563346858},{"price":"55157.00000000","volume":"4.15635456","funds":"229252.04846592","side":"ask","timestamp":1563346851},{"price":"55537.00000000","volume":"8.45654565",[...]
