---
http_interactions:
- request:
    method: get
    uri: https://api.bitkub.com/api/market/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"THB_BTC":{"id":1,"last":"237726.00000000","lowestAsk":"239120.00000000","highestBid":"237650.00000000","percentChange":"1.26","baseVolume":"20.49275041","quoteVolume":"4868544.15000000","isFrozen":"0","high24hr":"239983.00000000","low24hr":"233700.00000000"},"THB_ETH":{"id":2,"last":"9310.00000000","lowestAsk":"9324.00000000","highestBid":"9239.00000000","percentChange":"-0.44","baseVolume":"302.74812134","quoteVolume":"2817983.37000000","isFrozen":"0","high24hr":"9507.00000000","low24hr":"9186.00000000"},"THB_WAN":{"id":3,"last":"41.00000000","lowestAsk":"44.30000000","highestBid":"42.42000000","percentChange":"-8.89","baseVolume":"1159.51380255","quoteVolume":"51305.24000000","isFrozen":"0","high24hr":"45.00000000","low24hr":"41.00000000"},"THB_ADA":{"id":4,"last":"3.45000000","lowestAsk":"3.45000000","highestBid":"3.40000000","percentChange":"1.17","baseVolume":"58134.34315894","quoteVolume":"198473.75000000","isFrozen":"0","high24hr":"3.46000000","low24hr":"3.36000000"},"THB_OMG":{"id":5,"last":"161.03000000","lowestAsk":"161.60000000","highestBid":"158.92000000","percentChange":"11.33","baseVolume":"2230.34782805","quoteVolume":"342484.43000000","isFrozen":"0","high24hr":"164.14000000","low24hr":"143.92000000"},"THB_BCH":{"id":6,"last":"20524.00000000","lowestAsk":"20524.00000000","highestBid":"20335.00000000","percentChange":"0.15","baseVolume":"5.51257957","quoteVolume":"113554.96000000","isFrozen":"0","high24hr":"21018.00000000","low24hr":"20232.00000000"}}'
  recorded_at: Wed, 05 Sep 2018 01:40:38 GMT
recorded_with: VCR 4.0.0
