---
http_interactions:
- request:
    method: get
    uri: https://api.bitkub.com/api/market/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":0,"result":[{"id":1,"symbol":"THB_BTC","info":"Thai Baht to
        Bitcoin"},{"id":2,"symbol":"THB_ETH","info":"Thai Baht to Ethereum"},{"id":3,"symbol":"THB_WAN","info":"Thai
        Baht to Wancoin"},{"id":4,"symbol":"THB_ADA","info":"Thai Baht to Cardano"},{"id":5,"symbol":"THB_OMG","info":"Thai
        Baht to OmiseGo"},{"id":6,"symbol":"THB_BCH","info":"Thai Baht to Bitcoin
        Cash"}]}'
  recorded_at: Wed, 05 Sep 2018 01:40:37 GMT
recorded_with: VCR 4.0.0
