---
http_interactions:
- request:
    method: get
    uri: https://api.mybitx.com/api/1/orderbook_top?pair=XBTZAR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Luno-Trace-Id:
      - 40911b58cc00a99c
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":1563419853428,"asks":[{"price":"146873.00","volume":"0.652674"},{"price":"147200.00","volume":"0.022499"},{"price":"147283.00","volume":"0.272634"},{"price":"147305.00","volume":"0.087831"},{"price":"147322.00","volume":"0.042651"},{"price":"147402.00","volume":"0.001971"},{"price":"147449.00","volume":"0.106625"},{"price":"147654.00","volume":"0.084082"},{"price":"148000.00","volume":"0.000521"},{"price":"148001.00","volume":"0.23173"},{"price":"148246.00","volume":"0.012"},{"price":"148431.00","volume":"0.550713"},{"price":"148432.00","volume":[...]
