---
http_interactions:
- request:
    method: get
    uri: https://api.mybitx.com/api/1/trades?pair=XBTZAR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Luno-Trace-Id:
      - 43749cef0a4c0d2
    body:
      encoding: ASCII-8BIT
      string: '{"trades":[{"sequence":6900523,"timestamp":1563419833947,"price":"146873.00","volume":"0.068086","is_buy":true},{"sequence":6900522,"timestamp":1563419794323,"price":"146873.00","volume":"0.000681","is_buy":true},{"sequence":6900521,"timestamp":1563419733367,"price":"146873.00","volume":"0.004221","is_buy":true},{"sequence":6900520,"timestamp":1563419679422,"price":"146872.00","volume":"0.003319","is_buy":false},{"sequence":6900519,"timestamp":1563419661876,"price":"146873.00","volume":"0.013617","is_buy":true},{"sequence":6900518,"timestamp":1563419629849,"price":"146873.00","volume":"0.22862","is_[...]
