---
http_interactions:
- request:
    method: get
    uri: https://api.mybitx.com/api/1/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 03 Oct 2017 04:05:27 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        {"tickers":[{"timestamp":1507003527561,"bid":"1519999.00","ask":"1520000.00","last_trade":"1520000.00","rolling_24_hour_volume":"40.709341","pair":"XBTNGN"},{"timestamp":1507003527562,"bid":"61498.00","ask":"61499.00","last_trade":"61498.00","rolling_24_hour_volume":"484.441964","pair":"XBTZAR"},{"timestamp":1507003527564,"bid":"18485.00","ask":"18498.00","last_trade":"18498.00","rolling_24_hour_volume":"271.828572","pair":"XBTMYR"},{"timestamp":1507003527565,"bid":"59400000.00","ask":"59449000.00","last_trade":"59450000.00","rolling_24_hour_volume":"19.18321","pair":"XBTIDR"}]}
  recorded_at: Tue, 03 Oct 2017 04:05:27 GMT
recorded_with: VCR 3.0.3
