---
http_interactions:
- request:
    method: get
    uri: https://raisex.io/api/v1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ms-Author-Via:
      - DAV
    body:
      encoding: ASCII-8BIT
      string: '[{"cur":"ETH","symbol":"ETH\/BTC","last":0.050765,"high":0.05149897,"low":0.04711888,"volume":18182.67119998,"vwap":0.0508768,"max_bid":0.06587408,"min_ask":0.0394264,"best_bid":0.05076605,"best_ask":0.050973},{"cur":"LTC","symbol":"LTC\/BTC","last":0.00949195,"high":0.00972582,"low":0.00890194,"volume":15680.25821007,"vwap":0.00936655,"max_bid":0.01045,"min_ask":0.00731842,"best_bid":0.009416,"best_ask":0.00955294},{"cur":"BTC","symbol":"BTC\/USD","last":6532.79998,"high":6839.99999,"low":6299,"volume":1056.15318411,"vwap":6588.79204678,"max_bid":7324.831,"min_ask":5870.6451,"best_bid":6508.29971,"best_ask":6522.29971},{"cur":"ETH","symbol":"ETH\/USD","last":332.6297,"high":372.04391,"low":[...]
