---
http_interactions:
- request:
    method: get
    uri: https://raisex.io/api/v1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ms-Author-Via:
      - DAV
    body:
      encoding: ASCII-8BIT
      string: '[{"cur":"ETH","symbol":"ETH\/BTC","last":0.0508,"high":0.05149897,"low":0.04711888,"volume":18176.41220397,"vwap":0.05087683,"max_bid":0.06587408,"min_ask":0.0394264,"best_bid":0.05076356,"best_ask":0.05086952},{"cur":"LTC","symbol":"LTC\/BTC","last":0.00949195,"high":0.00972582,"low":0.00890194,"volume":15682.35519567,"vwap":0.00936651,"max_bid":0.01045,"min_ask":0.00731842,"best_bid":0.00936722,"best_ask":0.009581},{"cur":"BTC","symbol":"BTC\/USD","last":6518.7953,"high":6839.99999,"low":6299,"volume":1056.12998441,"vwap":6588.7880129,"max_bid":7324.831,"min_ask":5870.6451,"best_bid":6518.7953,"best_ask":6533},{"cur":"ETH","symbol":"ETH\/USD","last":332.6297,"high":372.04391,"low":315.680[...]
