---
http_interactions:
- request:
    method: get
    uri: https://www.raisex.io/api/v1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ms-Author-Via:
      - DAV
    body:
      encoding: ASCII-8BIT
      string: '[{"cur":"ETH","symbol":"ETH\/BTC","last":"0.03107899","high":"0.03123400","low":"0.03081001","volume":"11282.22784536","vwap":"0.03107899","max_bid":"0.04097000","best_ask":"0.00000000","best_bid":"0.04097000"},{"cur":"LTC","symbol":"LTC\/BTC","last":"0.00775280","high":"0.00782039","low":"0.00772692","volume":"10729.96875056","vwap":"0.00775280","max_bid":"0.00788913","best_ask":"0.00000000","best_bid":"0.00788913"},{"cur":"BCH","symbol":"BCH\/BTC","last":"0.06634939","high":"0.06677508","low":"0.06594342","volume":"890.10254426","vwap":"0.06634939","max_bid":"0.06689652","best_ask":"0.00000000","best_bid":"0.06689652"},{"cur":"XMR","symbol":"XMR\/BTC","last":"0.01612199","high":"0.01615[...]
