---
http_interactions:
- request:
    method: get
    uri: http://www.topbtc.one/market/tickerall.php
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"coin":"UQC","market":"BTC","date":1528265785,"ticker":{"buy":"0.00015000","sell":"0.00016600","last":"0.00015848","high":"0.00016304","low":"0.00015513","vol":"452927.9878"}},{"coin":"OLE","market":"BTC","date":1528265785,"ticker":{"buy":"0.00000107","sell":"0.00000123","last":"0.00000121","high":"0.00000128","low":"0.00000107","vol":"85720660.6412"}},{"coin":"MVT","market":"BTC","date":1528265785,"ticker":{"buy":"0.00000231","sell":"0.00000735","last":"0.00000111","high":"0.00004920","low":"0.00004920","vol":"0.0000"}},{"coin":"MANA","market":"BTC","date":1528265785,"ticker":{"buy":"0.00001223","sell":"0.00001550","last":"0.00001440","high":"0.000014[...]
