---
http_interactions:
- request:
    method: get
    uri: http://www.topbtc.one/market/tickerall.php
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"coin":"PLC","market":"BTC","date":1565170159,"ticker":{"buy":"0.00217314","sell":"0.00293400","last":"0.00217314","high":"0.00095000","low":"0.00095000","vol":"0.0000"}},{"coin":"ETER","market":"BTC","date":1565170159,"ticker":{"buy":"0.00000001","sell":"0.00000002","last":"0.00000001","high":"0.00000001","low":"0.00000001","vol":"1906185493.8234"}},{"coin":"ETH","market":"BTC","date":1565170159,"ticker":{"buy":"0.01880000","sell":"0.01986000","last":"0.01935278","high":"0.02055742","low":"0.01880000","vol":"98084.2636"}},{"coin":"EXCC","market":"BTC","date":1565170159,"ticker":{"buy":"0.00000022","sell":"0.00000045","last":"0.00000036","high":"0.0000[...]
