---
http_interactions:
- request:
    method: get
    uri: https://bitliber.com/api/v1/public/history/AEON-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27d2-gq5kN5AiZcYK7GKWs6HdqZQRs3Q"
    body:
      encoding: UTF-8
      string: '{"status":"ok","error":null,"result":[{"date":"1532133937640","quantity":5.04562986,"price":0.0002036,"total":0.001027290239496,"type":"sell"},{"date":"1532112515578","quantity":0.53754902,"price":0.000204,"total":0.00010966000008,"type":"buy"},{"date":"1532101473369","quantity":1.61264706,"price":0.000204,"total":0.00032898000024,"type":"buy"},{"date":"1532084071328","quantity":4.80493346,"price":0.0002054,"total":0.000986933332684,"type":"buy"},{"date":"1532083611238","quantity":14,"price":0.00020165,"total":0.0028231,"type":"sell"},{"date":"1532064449438","quantity":1.2266305,"price":0.00020165,"total":0.000247350040325,"typ[...]
