---
http_interactions:
- request:
    method: get
    uri: https://bitmax.io/api/pro/futures/market-data?symbol=BTC-PERP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Instance:
      - 0-_-5
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"data":{"symbol":"BTC-PERP","openInterest":"75.4992","sourceTime":1585637886156,"fundingRate":"0.000167436","fundingPaymentFlag":false,"nextFundingPaymentTime":1585612800000,"indexPrice":"6461.53","markPrice":"6462.611897076"}}'
  recorded_at: Tue, 31 Mar 2020 06:58:53 GMT
recorded_with: VCR 4.0.0
