---
http_interactions:
- request:
    method: get
    uri: https://bitmax.io/api/pro/v1/ticker?symbol=BTC-PERP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Instance:
      - 0-_-4
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"data":{"symbol":"BTC-PERP","open":"6194.75","close":"6452.75","high":"6596.75","low":"6208.25","volume":"326.1955","ask":["6459.25","0.2585"],"bid":["6457.25","1.2528"]}}'
  recorded_at: Tue, 31 Mar 2020 06:58:50 GMT
recorded_with: VCR 4.0.0
