---
http_interactions:
- request:
    method: get
    uri: https://api.primexbt.com/v1/markets?category=crypto
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 0ms
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"BTC/USD","base":"BTC","quote":"USD","last":8081.6,"change":-2.03,"price_scale":1,"description":"Bitcoin","qty_scale":2,"open":8249.3,"turnover":25348.26,"turnover_usd":2.04451460682E8,"price":8081.6,"change24h":-2.03,"priceScale":1},{"name":"LTC/USD","base":"LTC","quote":"USD","last":55.79,"change":-1.6,"price_scale":2,"description":"Litecoin","qty_scale":2,"open":56.7,"turnover":15054.375,"turnover_usd":838528.6875,"price":55.79,"change24h":-1.6,"priceScale":2},{"name":"ETH/USD","base":"ETH","quote":"USD","last":172.6,"change":-1.57,"price_scale":2,"description":"Ethereum","qty_scale":2,"open":175.36,"turnover":63066.955,"turnover_usd":1.084436291225E7,"price":172.6,"change24h":-1.57,"priceScale":2},{"name":"XRP/USD","b[...]
