---
http_interactions:
- request:
    method: get
    uri: https://api.coindirect.com/api/v1/exchange/market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Application-Context:
      - application:production:8080
      X-Api-List-Total:
      - '15'
      X-Api-List-Start:
      - 'null'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1,"maximumPrice":1000000.000000000000000000,"maximumQuantity":100.000000000000000000,"maximumValue":null,"minimumPrice":5000.000000000000000000,"minimumQuantity":0.001000000000000000,"minimumValue":null,"status":"open","stepSize":0.000100000000000000,"summary":{"bestAsk":102444.000000000000000000,"bestBid":102281.000000000000000000,"change24h":-0.03,"id":1,"lastPrice":101900.000000000000000000,"volume24h":0.4111},"symbol":"BTC-ZAR","tickSize":0.010000000000000000},{"id":3,"maximumPrice":100000.000000000000000000,"maximumQuantity":1000.000000000000000000,"maximumValue":null,"minimumPrice":500.000000000000000000,"minimumQuantity":0.010000000000000000,"minimumValue":null,"status":"open","stepSize":0.001000000000000000,"summary":{"bestAsk":3466.700000000000000000,"bestBid":3463.700000000000000000,"change24h":-0.04,"id":3,"lastPrice":3439.500000000000000000,"volume24h":4.0000},"symbol":"ETH-ZAR","tickSize":0.010000000000000000},{"id":6,"m[...]
