---
http_interactions:
- request:
    method: get
    uri: https://api.dydx.exchange/v1/perpetual-markets/PBTC-USDC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"206-MuVn1N3fYeRDGnTdZOsqnVw5UQs"
      X-Response-Time:
      - '1.924'
    body:
      encoding: UTF-8
      string: '{"market":{"uuid":"f6d20698-32ac-4f3a-a9c4-b6b7528b7b94","market":"PBTC-USDC","oraclePrice":"94.7036","fundingRate":"0.000000004036072212","minCollateral":"1.075","globalIndexValue":"1.19304955695329568","globalIndexTimestamp":"1590042428","decimals":"8","minimumTickSize":"0.01","minimumOrderSize":"10000","smallOrderThreshold":"1000000","makerFee":"-0.00025","largeTakerFee":"0.005","smallTakerFee":"0.00075","openInterest":"5180925000","createdAt":"2020-04-09T22:42:35.696Z","updatedAt":"2020-05-21T06:42:15.148Z"}}'
  recorded_at: Thu, 21 May 2020 06:42:23 GMT
recorded_with: VCR 4.0.0
