---
http_interactions:
- request:
    method: get
    uri: https://api.dydx.exchange/v1/stats/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"35b-8z75Z65aSiqbiyw7GNOUA0DL+bQ"
      X-Response-Time:
      - '1.143'
    body:
      encoding: UTF-8
      string: '{"markets":{"ETH-DAI":{"symbol":"ETH-DAI","low":"206.1000","high":"214.1700","open":"213.3300","last":"208.6400","count":"389","baseVolume":"7667.5485","quoteVolume":"1606601.2259","usdVolume":"1606601.2259","type":"SPOT"},"ETH-USDC":{"symbol":"ETH-USDC","low":"206.3800","high":"215.1000","open":"214.0000","last":"208.8100","count":"203","baseVolume":"1978.9892","quoteVolume":"414999.9978","usdVolume":"414999.9978","type":"SPOT"},"DAI-USDC":{"symbol":"DAI-USDC","low":"1.0026","high":"1.0035","open":"1.0035","last":"1.0028","count":"55","baseVolume":"211022.6931","quoteVolume":"211711.0062","usdVolume":"211711.0062","type":"SPOT"},"PBTC-USDC":{"symbol":"PBTC-USDC","low":"9342.0000","high":"9843.0000","open":"9789.0000","last":"9496.0000","count":"125","baseVolume":"53.9175","quoteVolume":"512066.6220","usdVolume":"512066.6220","type":"PERPETUAL"}}}'
  recorded_at: Thu, 21 May 2020 06:16:12 GMT
recorded_with: VCR 4.0.0
