---
http_interactions:
- request:
    method: get
    uri: https://api.dydx.exchange/v1/perpetual-markets/PBTC-USDC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"20f-iaLNotPikItY0tZ62Zn4adrPx+Q"
      X-Response-Time:
      - '2.455'
    body:
      encoding: UTF-8
      string: '{"market":{"uuid":"f6d20698-32ac-4f3a-a9c4-b6b7528b7b94","market":"PBTC-USDC","oraclePrice":"89.171553896509","fundingRate":"0.000000034622668398","minCollateral":"1.075","globalIndexValue":"1.456843807083730507","globalIndexTimestamp":"1590568483","decimals":"8","minimumTickSize":"0.01","minimumOrderSize":"10000","smallOrderThreshold":"1000000","makerFee":"-0.00025","largeTakerFee":"0.005","smallTakerFee":"0.00075","openInterest":"5548795268","createdAt":"2020-04-09T22:42:35.696Z","updatedAt":"2020-05-27T08:35:55.279Z"}}'
  recorded_at: Wed, 27 May 2020 08:36:02 GMT
recorded_with: VCR 4.0.0
