---
http_interactions:
- request:
    method: get
    uri: https://api.dydx.exchange/v1/stats/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"12e-T0N01qXzmUbFhFLSb0wWuQ95IPE"
      X-Response-Time:
      - '51.307'
    body:
      encoding: UTF-8
      string: '{"markets":{"ETH-DAI":{"symbol":"ETH-DAI","baseVolume":"8125.083304370214894459","quoteVolume":"1999465.603803806040717144","usdVolume":"2017579.11750756098238543344","high":"267.1589096496000000","low":"236.4694964440871859","open":"262.4957096398000002","last":"246.5146140499419904","count":"211"}}}'
  recorded_at: Tue, 04 Jun 2019 08:29:00 GMT
recorded_with: VCR 4.0.0
