---
http_interactions:
- request:
    method: get
    uri: https://api.dydx.exchange/v1/stats/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"35c-7Z10qF5Cb3jzPZdTzxaqt7UzF88"
      X-Response-Time:
      - '0.551'
    body:
      encoding: UTF-8
      string: '{"markets":{"ETH-DAI":{"symbol":"ETH-DAI","low":"200.7700","high":"208.8000","open":"201.1800","last":"206.9100","count":"313","baseVolume":"4355.4600","quoteVolume":"896931.8007","usdVolume":"896931.8007","type":"SPOT"},"ETH-USDC":{"symbol":"ETH-USDC","low":"201.1600","high":"208.6700","open":"201.1800","last":"206.7900","count":"210","baseVolume":"4049.7160","quoteVolume":"831468.4818","usdVolume":"831468.4818","type":"SPOT"},"DAI-USDC":{"symbol":"DAI-USDC","low":"1.0006","high":"1.0029","open":"1.0028","last":"1.0012","count":"65","baseVolume":"637566.5818","quoteVolume":"638523.4022","usdVolume":"638523.4022","type":"SPOT"},"PBTC-USDC":{"symbol":"PBTC-USDC","low":"8837.0000","high":"9247.0000","open":"8837.0000","last":"9195.0000","count":"175","baseVolume":"133.6629","quoteVolume":"1216470.0825","usdVolume":"1216470.0825","type":"PERPETUAL"}}}'
  recorded_at: Thu, 28 May 2020 02:50:04 GMT
recorded_with: VCR 4.0.0
