---
http_interactions:
- request:
    method: get
    uri: https://api.tokenmom.com/market/get_tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"success","tickers":[{"market_id":"TM-USDC","price":"0.0038000000","volume":27125.8701987602,"bid":"0.0001800000","ask":"0.0038000000","low":"0.0001800000","high":"0.0043000000","updated_at":"2018-12-20T12:02:36.000Z"}]}'
  recorded_at: Wed, 02 Jan 2019 10:03:49 GMT
recorded_with: VCR 4.0.0
