---
http_interactions:
- request:
    method: get
    uri: https://api.tokenmom.com/order/get_orderbook?market_id=TM-WETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "success","orderbook": {"market_id": "TM-WETH","bids": [{"id": 3385,"state": 0,"expire": 1552332042,"maker_address": "0xefd9928aa5a192c0267cdaed43235006b7a28628","amount": "3.0000000000","price": "0.0001700000","fee": "0.0025000000","order_hash": "0x8aa1413286695a0575e20402d39c8e873407482512f3462d3027ab713dcf4198","created_at": "2019-01-10T19:20:49.000Z","updated_at": "2019-01-10T19:20:51.000Z"},            ],"asks": [{"id": 3304,"state": 0,"expire": 1550395596,"maker_address": "0x71016bf0bc7a174c86b4e85983266b953d7d2f6f","amount": "75716.1444449800","price": "0.0001800000","fee": "0.0125000000","order_hash": "0x80f5c755df23262cb92294dfc68e50b4e4e4c65702b91e1ff837862fcc1685a7","created_at": "2018-12-19T09:26:40.000Z","updated_at": "2018-12-20T12:46:54.000Z"}]}}'
  recorded_at: Fri, 11 Jan 2019 10:25:20 GMT
recorded_with: VCR 4.0.0
