---
http_interactions:
- request:
    method: get
    uri: https://pub.bitstorage.finance/v2/trades/BTC_USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1bac-hQqkoXBCr9GnCya9aWE/5noM3+4"
    body:
      encoding: UTF-8
      string: '[{"tradeID":1084216,"price":"9350.05500000","base_volume":"0.00000191","quote_volume":"0.01785861","trade_timestamp":1589438555,"type":"Sell"},{"tradeID":1084215,"price":"9350.05500000","base_volume":"0.00000110","quote_volume":"0.01028506","trade_timestamp":1589438537,"type":"Sell"},{"tradeID":1084213,"price":"9448.99999999","base_volume":"0.00000137","quote_volume":"0.01294513","trade_timestamp":1589438519,"type":"Buy"},{"tradeID":1084212,"price":"9448.99999999","base_volume":"0.00000142","quote_volume":"0.01341758","trade_timestamp":1589438501,"type":"Buy"},{"tradeID":1084211,"price":"9350.05500000","base_volume":"0.00000178[...]
