---
http_interactions:
- request:
    method: get
    uri: https://bitstorage.finance/api/transactions?currency=USD&market=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"transactions":{"market":"BTC","currency":"USD","data":[{"id":449,"date":"2018-07-24
        12:04:18","timestamp":1532423058,"btc":2.14e-5,"maker_type":"sell","price":8250,"amount":0.17655,"currency":"USD","market":"BTC"},{"id":241,"date":"2018-05-20
        14:43:12","timestamp":1526816592,"btc":2.405e-5,"maker_type":"sell","price":8250,"amount":0.1984125,"currency":"USD","market":"BTC"},{"id":127,"date":"2018-05-08
        07:34:10","timestamp":1525754050,"btc":0.00048167,"maker_type":"buy","price":9130,"amount":4.3976471,"currency":"USD","market":"BTC"},{"id":84,"date":"2018-05-04
        19:25:21","timestamp":1525451121,"btc":1.0e-5,"maker_type":"sell","price":9130,"amount":0.0913,"currency":"USD","market":"BTC"}]}}'
  recorded_at: Tue, 05 Feb 2019 03:28:13 GMT
recorded_with: VCR 4.0.0
