---
http_interactions:
- request:
    method: get
    uri: https://bitstorage.finance/api/order-book?currency=USD&market=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"order-book":{"market":"BTC","currency":"USD","bid":[{"price":3600,"order_amount":0.00027,"order_value":0.97,"converted_from":null,"timestamp":1548447843}],"ask":[]}}'
  recorded_at: Tue, 05 Feb 2019 03:19:16 GMT
recorded_with: VCR 4.0.0
