---
http_interactions:
- request:
    method: get
    uri: https://bitstorage.finance/api/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"pairs":"NXB_BTC","bid":5.0e-8,"ask":7.0e-8,"high":7.0e-8,"low":5.0e-8,"last_price":5.0e-8,"change":-16,"24H_volume":0.00995784},{"pairs":"AYWA_BTC","bid":2.0e-8,"ask":1.7e-7,"high":5.0e-8,"low":5.0e-8,"last_price":5.0e-8,"change":0,"24H_volume":0},{"pairs":"ESBC_BTC","bid":5.04e-6,"ask":5.94e-6,"high":5.93e-6,"low":5.04e-6,"last_price":5.89e-6,"change":15,"24H_volume":1.25191232},{"pairs":"SUNP_BTC","bid":2.0e-8,"ask":2.0e-8,"high":1.0e-8,"low":1.0e-8,"last_price":1.0e-8,"change":-50,"24H_volume":6.33e-6},{"pairs":"SICC_BTC","bid":3.0e-8,"ask":4.0e-6,"high":4.42e-6,"low":4.42e-6,"last_price":[...]
