---
http_interactions:
- request:
    method: get
    uri: https://api.coinasset.co.th/api/v1/trades?symbol=BTC-THB
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '768'
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"buy","price":206317.94,"qty":0.0059211,"amount":0.0059211,"time":1539444955,"reference_id":893736},{"type":"sell","price":206317.94,"qty":41.99270219,"amount":0.00020353,"time":1539444912,"reference_id":893696},{"type":"buy","price":207002,"qty":0.00658226,"amount":0.00658226,"time":1539444856,"reference_id":893453},{"type":"sell","price":206317.94,"qty":1077.81729764,"amount":0.00522406,"time":1539444819,"reference_id":893696},{"type":"buy","price":207002,"qty":0.0069308,"amount":0.0069308,"time":1539444772,"reference_id":893453},{"type":"buy","price":207002,"qty":0.00630231,"amount"[...]
