---
http_interactions:
- request:
    method: get
    uri: https://api.bitbox.me/trade/public/v1/outpost/ohlc?currencyPairs=BTC.XRP&limit=2&timeFrame=1800
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseCode":"0000","errorMessage":null,"errorMessageDetail":null,"errorAction":null,"responseData":{"BTC.XRP":[{"timeFrame":1800,"open":7.026E-5,"high":7.026E-5,"low":7.026E-5,"close":7.026E-5,"volume":2.0,"closeTime":1531850400000},{"timeFrame":1800,"open":6.912E-5,"high":6.912E-5,"low":6.9E-5,"close":6.9E-5,"volume":64.0,"closeTime":1531870200000}]}}'
  recorded_at: Wed, 18 Jul 2018 06:21:52 GMT
recorded_with: VCR 4.0.0
