---
http_interactions:
- request:
    method: get
    uri: https://api.bitbox.me/trade/public/v2/market/transactions?coinType=XRP&marketType=BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseCode":"0000","errorMessage":null,"errorMessageDetail":null,"errorAction":null,"responseData":[{"transactionNo":104000000000723,"marketType":"BTC","coinType":"XRP","d":"SELL","c":6.9E-5,"a":13.0,"b":1531868530714},{"transactionNo":104000000000722,"marketType":"BTC","coinType":"XRP","d":"SELL","c":6.912E-5,"a":34.0,"b":1531868530714},{"transactionNo":104000000000721,"marketType":"BTC","coinType":"XRP","d":"SELL","c":6.912E-5,"a":17.0,"b":1531868530714},{"transactionNo":102000002198518,"marketType":"BTC","coinType":"XRP","d":"SELL","c":7.026E-5,"a":2.0,"b":1531849370037},{"transactionNo":101000000057898,"marketType":"BTC","coinType":"XRP","d":"SELL","c[...]
