---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitfront.me/v1/market/public/orderBooks?coinPair=BTC.USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timezone":"UTC","responseTime":1582859857304,"statusCode":1000,"statusMessage":"SUCCESS","responseData":{"ASK":[{"price":9079.0,"amount":2.0},{"price":9074.11,"amount":12.5},{"price":9074.0,"amount":0.1},{"price":9072.55,"amount":18.37442593},{"price":9070.0,"amount":0.12741},{"price":9069.0,"amount":2.0},{"price":9060.79,"amount":0.1},{"price":9059.0,"amount":1.0},{"price":9056.24,"amount":14.5531},{"price":9051.48,"amount":12.5},{"price":9050.18,"amount":0.02},{"price":9050.12,"amount":3.738},{"price":9050.0,"amount":2.28447638},{"price":9049.0,"amount":1.0},{"price":9041.67,"amount":0.00872517},{"price":9040.0,"amount":1.19047[...]
