---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitfront.me/v1/market/public/coins/pairPolicy
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timezone":"UTC","responseTime":1582859857004,"statusCode":1000,"statusMessage":"SUCCESS","responseData":[{"tradeMakerFeeRate":0.2000000000,"tradeTakerFeeRate":0.2000000000,"tradeFeeUnit":"USD","minPrice":0.0100000000,"minPriceUnit":"USD","minAmountDecimal":8,"minPriceDecimal":2,"trade":true,"marketType":"USD","coinType":"BTC","displayNameOfCoinInformation":"Bitcoin","coinPairType":"USD.BTC","minTradeAmount":1.00E-8,"maxTradeAmount":999999999999.0000000000,"minTradeVolume":25.0000000000,"maxTradeVolume":99999999.0000000000},{"tradeMakerFeeRate":0.1000000000,"tradeTakerFeeRate":0.1000000000,"tradeFeeUnit":"BTC","minPrice":1.00E-8,"minPriceUnit":"BTC","minAmountDecimal":1,"minPriceDecimal":8,"trade":true,"marketType":"BTC","coinType":"LN","displayNameOfCoinInformation":"LN","coinPairType":"BTC.LN","minTradeAmount":0.1000000000,"maxTradeAmount":999999999.0000000000,"minTradeVolume":0.0020000000,"maxTradeVolume":999999999999.0000000000},{"tradeMakerFeeRate":0.2000000000,"tradeTakerFeeRate":0.200000[...]
