---
http_interactions:
- request:
    method: get
    uri: https://api.bitbox.me/trade/public/v2/outpost/orderbook?currencyPair=BTC.XLM&orderCount=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseCode":"0000","errorMessage":"","errorMessageDetail":"","errorAction":"","responseData":{"ASK":[{"a":89.297,"b":2},{"a":49.297,"b":5},{"a":10,"b":2},{"a":8.297,"b":5},{"a":5,"b":1},{"a":4,"b":1},{"a":3,"b":1},{"a":2.297,"b":5},{"a":2,"b":2},{"a":1.25251579,"b":3},{"a":1,"b":2},{"a":0.8741,"b":10},{"a":0.297,"b":5},{"a":0.25251579,"b":4},{"a":0.1,"b":20},{"a":0.08741,"b":20},{"a":0.05836,"b":12},{"a":0.05251579,"b":5},{"a":0.0297,"b":5},{"a":0.01251579,"b":6},{"a":0.01,"b":10},{"a":0.008741,"b":20},{"a":0.00499999,"b":999},{"a":0.00439992,"b":23},{"a":0.00339992,"b":37},{"a":0.00339983,"b":59},{"a":0.00251579,"b":7},{"a":0.00239992,"b":56},{"a":0.00239989,"b":40},{"a":0.00139992,"b":74},{"a":0.00109992,"b":113},{"a":0.001,"b":9734},{"a":0.0008741,"b":20},{"a":0.00051579,"b":8},{"a":0.0003741,"b":20},{"a":0.00031849,"b":362},{"a":0.00025849,"b":265},{"a":0.00025845,"b":74},{"a":0.00015849,"b":265},{"a":0.00015836,"b":189},{"a":0.00011579,"b":9},{"a":0.0001,"b":10},{"a":0.000099,"b":152},{"a":0.00006859,"b":231},{"a":0.00005834,"b":319},{"a":0.00005783,"b":77},{"a":0.00004797,"b":229},{"a":0.00004098,"b":575},{"a":0.00004,"b":28},{"a":0.00003195,"b":200},{"a":0.00001963,"b":346},{"a":0.00001775,"b":250},{"a":0.00001499,"b":885},{"a":0.00001436,"b":274},{"a":0.00001235,"b":449},{"a":0.00001205,"b":649},{"a":0.00001204,"b":385},{"a":0.00001068,"b":108},{"a":0.00000964,"b":306},{"a":0.00000875,"b":54},{"a":0.00000868,"b":181},{"a":0.00000846,"b":537},{"a":0.0000075,"b":167},{"a":0.00000673,"b":164},{"a":0.00000672,"b":188}],"BID":[{"a":0.0000051,"b":300},{"a":0.00000509,"b":659},{"a":0.00000503,"b":700},{"a":0.00000436,"b":4738},{"a":0.00000401,"b":2018},{"a":0.000004,"b":10000},{"a":0.0000034,"b":309},{"a":0.00000296,"b":5279},{"a":0.0000027,"b":1738},{"a":0.00000253,"b":430},{"a":0.00000209,"b":946},{"a":0.00000203,"b":1732},{"a":0.00000202,"b":20000},{"a":0.000002,"b":500},{"a":0.00000161,"b":1924},{"a":0.0000012,"b":2147},{"a":0.00000111,"b":933},{"a":0.00000103,"b":12106},{"a":0.000001,"b":1354},{"a":2.7E-7,"b":87034},{"a":2.2E-7,"b":4550},{"a":1.6E-7,"b":6908},{"a":1.1E-7,"b":269600},{"a":1E-7,"b":10000},{"a":5E-8,"b":21732},{"a":4E-8,"b":25000}]}}'
  recorded_at: Fri, 06 Sep 2019 08:21:09 GMT
recorded_with: VCR 4.0.0
