---
http_interactions:
- request:
    method: get
    uri: https://api.bitbox.me/trade/public/v1/outpost/ohlc?currencyPairs=BTC.XRP&limit=2&timeFrame=1800
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Datastream-Midmile-Rtt:
      - '87'
      X-Datastream-Origin-Mex-Latency:
      - '9'
      X-Datastream-Cache-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"responseCode":"0000","errorMessage":null,"errorMessageDetail":null,"errorAction":null,"responseData":{"BTC.XRP":[{"timeFrame":1800,"open":4.82E-5,"high":4.82E-5,"low":4.82E-5,"close":4.82E-5,"volume":309.0,"closeTime":1535286600000},{"timeFrame":1800,"open":4.85E-5,"high":4.85E-5,"low":4.85E-5,"close":4.85E-5,"volume":82.0,"closeTime":1535295600000}]}}'
  recorded_at: Mon, 27 Aug 2018 21:11:15 GMT
recorded_with: VCR 4.0.0
