---
http_interactions:
- request:
    method: get
    uri: https://api.bitbox.me/trade/public/v2/market/prices
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseCode":"0000","errorMessage":null,"errorMessageDetail":null,"errorAction":null,"responseData":[{"a":"BTC","b":"XRP","c":"Ripple","d":7.1E-5,"e":7.1E-5,"f":6.9E-5,"g":6.9E-5,"h":85.0,"i":-2.81690141,"j":6.9E-5,"k":0.46582797},{"a":"ETH","b":"RDD","c":"ReddCoin","d":0.0,"e":0.0,"f":0.0,"g":1.06E-5,"h":0.0,"i":0.0,"j":1.06E-5,"k":0.004996522},{"a":"ETH","b":"GNT","c":"Golem","d":6.7029E-4,"e":6.7029E-4,"f":6.7029E-4,"g":6.7029E-4,"h":711.0,"i":0.0,"j":6.7029E-4,"k":0.3159545973},{"a":"ETH","b":"LTC","c":"Litecoin","d":0.0,"e":0.0,"f":0.0,"g":0.17583,"h":0.0,"i":0.0,"j":0.17583,"k":82.880987[...]
