---
http_interactions:
- request:
    method: get
    uri: https://api.bitbox.me/trade/public/v1/outpost/ohlc?currencyPairs=BTC.XRP&limit=1&timeFrame=60
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Datastream-Midmile-Rtt:
      - '105'
      X-Datastream-Origin-Mex-Latency:
      - '9'
      X-Datastream-Cache-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"responseCode":"0000","errorMessage":null,"errorMessageDetail":null,"errorAction":null,"responseData":{"BTC.XRP":[{"timeFrame":60,"open":5.217E-5,"high":5.217E-5,"low":5.217E-5,"close":5.217E-5,"volume":316.0,"closeTime":1534833900000}]}}'
  recorded_at: Tue, 21 Aug 2018 16:09:58 GMT
[...]
