---
http_interactions:
- request:
    method: get
    uri: https://api.bitbox.me/trade/public/v2/market/prices
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseCode":"0000","errorMessage":"","errorMessageDetail":"","errorAction":"","responseData":[{"a":"BTC","b":"LINK","c":"LINK","d":0.000415,"e":0.0004197,"f":0.00040804,"g":0.00041299,"h":625.6332709720000000,"i":-0.48433735,"j":0.00041299,"k":1.6637508645,"l":1.690782435,"m":1.6438095420,"n":2520394.913774250600000000},{"a":"BTC","b":"XLM","c":"Stellar","d":0.00003875,"e":0.00003882,"f":0.00003812,"g":0.00003846,"h":228.14480721,"i":-0.7483871,"j":0.00003846,"k":0.1549380330,"l":0.1563883110,"m":0.1535683260,"n":919092.7630858455},{"a":"BTC","b":"SNT","c":"Status","d":0,"e":0,"f":0,"g"[...]
