---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitfront.me/v1/market/public/currentTickValue?coinPair=BTC.USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timezone":"UTC","responseTime":1582859857157,"statusCode":1000,"statusMessage":"SUCCESS","responseData":{"bid":8870.07,"ask":8883.93,"last":8879.88,"volume":70407570.2622718168,"open":8655,"close":8879.88,"high":8974.75,"low":8652.76}}'
  recorded_at: Fri, 28 Feb 2020 03:17:37 GMT
recorded_with: VCR 4.0.0
