---
http_interactions:
- request:
    method: get
    uri: https://www.neblidex.xyz/seed/?api=get_market_ticker&v=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"marketSymbol":"NEBLBTC","tradeAsset":"NEBL","baseAsset":"BTC","tradeAssetDescription":"Neblio","baseAssetDescription":"Bitcoin","lastPrice":"0.00055","tradeVolume24Hour":"0","baseVolume24Hour":"0"},{"marketSymbol":"NEBLLTC","tradeAsset":"NEBL","baseAsset":"LTC","tradeAssetDescription":"Neblio","baseAssetDescription":"Litecoin","lastPrice":"0.0234","tradeVolume24Hour":"0","baseVolume24Hour":"0"},{"marketSymbol":"NDEXNEBL","tradeAsset":"NDEX","baseAsset":"NEBL","tradeAssetDescription":"NebliDex
        Token","baseAssetDescription":"Neblio","lastPrice":"0.0006","tradeVolume24Hour":"0","baseVolume24Hour":"0"},{"marketSymbol":"NDEXBTC","tradeAsset":"NDEX","baseAsset":"BTC","tradeAssetDesc[...]
