---
http_interactions:
- request:
    method: get
    uri: https://api.oasisdex.com/v2/trades/ETH/DAI
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 49f1cb2c-1f54-475b-afd5-fc83979426da
      X-Amz-Apigw-Id:
      - BiB46Gd8IAMFxUg=
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":317675,"price":"181.32000000","volume":"4.42360198","time":"2019-10-14T02:12:42.000Z"},{"id":317673,"price":"181.32000000","volume":"0.56927802","time":"2019-10-14T02:11:15.000Z"},{"id":317674,"price":"181.29403200","volume":"3.56338059","time":"2019-10-14T02:11:15.000Z"},{"id":317672,"price":"181.29403200","volume":"5.00000000","time":"2019-10-14T02:07:33.000Z"},{"id":317670,"price":"181.29403200","volume":"0.72556898","time":"2019-10-14T02:00:41.000Z"},{"id":317667,"price":"181.29403200","volume":"3.00000000","time":"2019-10-14T01:52:55.000Z"},{"id":3[...]
