---
http_interactions:
- request:
    method: get
    uri: https://dsx.uk/mapi/info
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "server_time" : 1524553795,
          "pairs" : {
            "ethusd" : {
              "decimal_places" : 5,
              "min_price" : 100.00000,
              "max_price" : 1500.00000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 4,
              "quoted_currency" : "USD",
              "base_currency" : "ETH"
            },
            "btgeur" : {
              "decimal_places" : 5,
              "min_price" : 25.00000,
              "max_price" : 201.00000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 3,
              "quoted_currency" : "EUR",
              "base_currency" : "BTG"
            },
            "btcrub" : {
              "decimal_places" : 5,
              "min_price" : 300000.00000,
              "max_price" : 1000000.00000,
              "min_amount" : 0.0001000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 5,
              "quoted_currency" : "RUB",
              "base_currency" : "BTC"
            },
            "etheur" : {
              "decimal_places" : 5,
              "min_price" : 100.00000,
              "max_price" : 1500.00000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 4,
              "quoted_currency" : "EUR",
              "base_currency" : "ETH"
            },
            "ltcgbp" : {
              "decimal_places" : 6,
              "min_price" : 10.000000,
              "max_price" : 500.000000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 3,
              "quoted_currency" : "GBP",
              "base_currency" : "LTC"
            },
            "btcgbp" : {
              "decimal_places" : 5,
              "min_price" : 1500.00000,
              "max_price" : 25000.00000,
              "min_amount" : 0.0001000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 5,
              "quoted_currency" : "GBP",
              "base_currency" : "BTC"
            },
            "ltcbtc" : {
              "decimal_places" : 5,
              "min_price" : 0.00010,
              "max_price" : 0.03000,
              "min_amount" : 0.0001000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 4,
              "quoted_currency" : "BTC",
              "base_currency" : "LTC"
            },
            "gbpusd" : {
              "decimal_places" : 6,
              "min_price" : 1.000000,
              "max_price" : 1.800000,
              "min_amount" : 1.0000000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 1,
              "quoted_currency" : "USD",
              "base_currency" : "GBP"
            },
            "btggbp" : {
              "decimal_places" : 5,
              "min_price" : 30.00000,
              "max_price" : 300.00000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 3,
              "quoted_currency" : "GBP",
              "base_currency" : "BTG"
            },
            "bccgbp" : {
              "decimal_places" : 5,
              "min_price" : 350.00000,
              "max_price" : 800.00000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 4,
              "quoted_currency" : "GBP",
              "base_currency" : "BCH"
            },
            "ethgbp" : {
              "decimal_places" : 5,
              "min_price" : 100.00000,
              "max_price" : 1500.00000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 4,
              "quoted_currency" : "GBP",
              "base_currency" : "ETH"
            },
            "btgbtc" : {
              "decimal_places" : 5,
              "min_price" : 0.00500,
              "max_price" : 0.30000,
              "min_amount" : 0.0010000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 4,
              "quoted_currency" : "BTC",
              "base_currency" : "BTG"
            },
            "usdrub" : {
              "decimal_places" : 5,
              "min_price" : 50.00000,
              "max_price" : 70.00000,
              "min_amount" : 10.0000000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 0,
              "quoted_currency" : "RUB",
              "base_currency" : "USD"
            },
            "bccbtc" : {
              "decimal_places" : 5,
              "min_price" : 0.01000,
              "max_price" : 0.35000,
              "min_amount" : 0.0010000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 4,
              "quoted_currency" : "BTC",
              "base_currency" : "BCH"
            },
            "ethbtc" : {
              "decimal_places" : 5,
              "min_price" : 0.01000,
              "max_price" : 0.50000,
              "min_amount" : 0.0010000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 4,
              "quoted_currency" : "BTC",
              "base_currency" : "ETH"
            },
            "ltcusd" : {
              "decimal_places" : 6,
              "min_price" : 70.000000,
              "max_price" : 300.000000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 3,
              "quoted_currency" : "USD",
              "base_currency" : "LTC"
            },
            "bccusd" : {
              "decimal_places" : 5,
              "min_price" : 500.00000,
              "max_price" : 2500.00000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 4,
              "quoted_currency" : "USD",
              "base_currency" : "BCH"
            },
            "btcusd" : {
              "decimal_places" : 5,
              "min_price" : 5000.00000,
              "max_price" : 15000.00000,
              "min_amount" : 0.0001000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 5,
              "quoted_currency" : "USD",
              "base_currency" : "BTC"
            },
            "ltceur" : {
              "decimal_places" : 6,
              "min_price" : 40.000000,
              "max_price" : 300.000000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 3,
              "quoted_currency" : "EUR",
              "base_currency" : "LTC"
            },
            "eurusd" : {
              "decimal_places" : 6,
              "min_price" : 1.000000,
              "max_price" : 1.320000,
              "min_amount" : 1.0000000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 1,
              "quoted_currency" : "USD",
              "base_currency" : "EUR"
            },
            "bcceur" : {
              "decimal_places" : 5,
              "min_price" : 400.00000,
              "max_price" : 1500.00000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 4,
              "quoted_currency" : "EUR",
              "base_currency" : "BCH"
            },
            "btceur" : {
              "decimal_places" : 5,
              "min_price" : 4000.00000,
              "max_price" : 15000.00000,
              "min_amount" : 0.0001000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 5,
              "quoted_currency" : "EUR",
              "base_currency" : "BTC"
            },
            "btgusd" : {
              "decimal_places" : 5,
              "min_price" : 30.00000,
              "max_price" : 300.00000,
              "min_amount" : 0.0100000000,
              "hidden" : 0,
              "fee" : 0,
              "amount_decimal_places" : 3,
              "quoted_currency" : "USD",
              "base_currency" : "BTG"
            }
          }
        }
  recorded_at: Tue, 24 Apr 2018 11:56:13 GMT
recorded_with: VCR 4.0.0
