---
http_interactions:
- request:
    method: get
    uri: https://dsx.uk/mapi/trades/etheur/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "etheur" : [ {
            "amount" : 0.099,
            "price" : 559.86678,
            "timestamp" : 1524570812,
            "tid" : 34633630,
            "type" : "bid"
          }, {
            "amount" : 0.8109,
            "price" : 560.50000,
            "timestamp" : 1524570455,
            "tid" : 34633609,
            "type" : "bid"
          }, {
            "amount" : 0.1891,
            "price" : 560.50000,
            "timestamp" : 1524570413,
            "tid" : 34633593,
            "type" : "bid"
          }, {
            "amount" : 0.13,
            "price" : 561.56241,
            "timestamp" : 1524569864,
            "tid" : 34633567,
[...]
