---
http_interactions:
- request:
    method: get
    uri: https://dsx.uk/mapi/ticker/etheur
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "etheur" : {
            "high" : 563.01534,
            "low" : 514.98928,
            "avg" : 0.00187,
            "vol" : 239.7773,
            "vol_cur" : 128038.263528462,
            "last" : 559.86678,
            "buy" : 559.02228,
            "sell" : 559.74286,
            "updated" : 1524570973,
            "pair" : "etheur"
          }
        }
  recorded_at: Tue, 24 Apr 2018 11:56:14 GMT
recorded_with: VCR 4.0.0
