---
http_interactions:
- request:
    method: get
    uri: https://www.coinchangex.com/config/main.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 04 Sep 2018 03:43:18 GMT
      Etag:
      - '"5b8dff56-cbe"'
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"contractEtherDelta\": \"smart_contract/etherdelta.sol\",\n  \"contractToken\":
        \"smart_contract/token.sol\",\n  \"contractReserveToken\": \"smart_contract/reservetoken.sol\",\n
        \ \"contractEtherDeltaAddrs\": [\n    { \"addr\": \"0x2f23228b905CEB4734EB42d9B42805296667C93b\",
        \"info\": \"Deployed 08/05/2018 -- THE LATEST SMART CONTRACT\" }\n  ],\n  \"ethTestnet\":
        false,\n  \"ethChainId\": 1,\n  \"ethProvider\": \"http://localhost:8545\",\n
        \ \"ethGasPrice\": 10500000000,\n  \"ethAddr\": \"0x0000000000000000000000000000000000000000\",\n
        \ \"ethAddrPrivateKey\": \"\",\n  \"gasApprove\": 250000,\n  \"gasDeposit\":
        250000,\n  \"gasWithdraw\": 250000,\n  \"gasTrade\": 250000,\n  \"gasOrder\":
        250000,\n  \"minOrderSize\": 0.0001,\n  \"socketServer\": \"https://api.coinchangex.com\",\n
        \ \"userCookie\": \"EtherDelta\",\n  \"eventsCacheCookie\": \"EtherDelta_eventsCache\",\n
        \ \"ordersCacheCookie\": \"EtherDelta_ordersCache\",\n  \"etherscanAPIKey\":
        \"GCGR1C9I17TYIRNYUDDEIJH1K5BRPH4UDE\",\n  \"ledgerPath\": \"m/44'/60'/0'/0\",\n
        \ \"bases\": [\n    { \"addr\": \"0x0000000000000000000000000000000000000000\",
        \"name\": \"ETH\", \"decimals\": 18 }\n  ],\n  \"tokens\": [\n    { \"addr\":
        \"0x0000000000000000000000000000000000000000\", \"name\": \"ETH\", \"decimals\":
        18 },\n    { \"addr\": \"0x88FCFBc22C6d3dBaa25aF478C578978339BDe77a\", \"name\":
        \"FYN\", \"decimals\": 18 },\n    { \"addr\": \"0x05f4a42e251f2d52b8ed15e9fedaacfcef1fad27\",
        \"name\": \"ZIL\", \"decimals\": 12 },\n    { \"addr\": \"0x08f5a9235b08173b7569f83645d2c7fb55e8ccd8\",
        \"name\": \"TNT\", \"decimals\": 8 },\n    { \"addr\": \"0xf230b790e05390fc8295f[...]
