---
http_interactions:
- request:
    method: get
    uri: https://www.coinchangex.com/config/main.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 28 Sep 2018 06:44:17 GMT
      Etag:
      - '"5badcdc1-ee3"'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "contractEtherDelta": "smart_contract/etherdelta.sol",
          "contractToken": "smart_contract/token.sol",
          "contractReserveToken": "smart_contract/reservetoken.sol",
          "contractEtherDeltaAddrs": [
            { "addr": "0x2f23228b905CEB4734EB42d9B42805296667C93b", "info": "Deployed 08/05/2018 -- THE LATEST SMART CONTRACT" }
          ],
          "ethTestnet": false,
          "ethChainId": 1,
          "ethProvider": "http://localhost:8545",
          "ethGasPrice": 10500000000,
          "ethAddr": "0x0000000000000000000000000000000000000000",
          "ethAddrPrivateKey": "",
          "gasApprove": 250000,
          "gasDeposit": 250000,
          "gasWithdraw": 250000,
          "gasTrade": 250000,
          "gasOrder": 250000,
          "minOrderSize": 0.0001,
          "socketServer": "https://api.coinchangex.com",
          "userCookie": "EtherDelta",
          "eventsCacheCookie": "EtherDelta_eventsCache",
          "ordersCacheCookie": "EtherDelta_ordersCache",
          "etherscanAPIKey": "GCGR1C9I17TYIRNYUDDEIJH1K5BRPH4UDE",
          "ledgerPath": "m/44'/60'/0'/0",
          "bases": [
            { "addr": "0x0000000000000000000000000000000000000000", "name": "ETH", "decimals": 18 }
          ],
          "tokens": [
            { "addr": "0x0000000000000000000000000000000000000000", "name": "ETH", "decimals": 18 },
            { "addr": "0x88FCFBc22C6d3dBaa25aF478C578978339BDe77a", "name": "FYN", "decimals": 18 },
            { "addr": "0x05f4a42e251f2d52b8ed15e9fedaacfcef1fad27", "name": "ZIL", "decimals": 12 },
            { "addr": "0x08f5a9235b08173b7569f83645d2c7fb55e8ccd8", "name": "TNT", "decimals": 8 },
            { "addr": "0xf230b790e05390fc8295f4d3f60332c93bed42e2", "name": "TRX", "decimals":[...]
