---
http_interactions:
- request:
    method: get
    uri: https://api.coinchangex.com/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ETH_0x670699a": {"tokenAddr": "0x670699ada430bd6eb3ce761f8307c52c396add05",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-09-05T14:22:58.724498"}, "ETH_0x8f8221a": {"tokenAddr": "0x8f8221afbb33998d8584a2b05749ba73c37a938a",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:52:13.503181"}, "ETH_0x1f573d6": {"tokenAddr": "0x1f573d6fb3f13d689ff844b4ce37794d79a7ff1c",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:28.875392"}, "ETH_0xcbeaec6": {"tokenAddr": "0xcbeaec699431857fdb4d37addbbdc20e132d4903",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:48.697560"}, "ETH_0xb63b606": {"tokenAddr": "0xb63b606ac810a52cca15e44bb630fd42d8d1d83d",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:19.432213"}, "ETH_0xb64ef51": {"tokenAddr": "0xb64ef51c888972c908cfacf59b47c1afbc0ab8ac",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:21.662493"}, "ETH_0xb970486": {"tokenAddr": "0xb97048628db6b661d4c2aa833e95dbe1a905b280",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-20T10:15:40.501000"}, "ETH_0xf85feea": {"tokenAddr": "0xf85feea2fdd81d51177f6b8f35f0e6734ce45f5f",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:06.292989"}, "ETH_0x08f5a92": {"tokenAddr": "0x08f5a9235b08173b7569f83645d2c7fb55e8ccd8",
        "quoteVolume": "1125228.1", "baseVolume": "115.25326", "last": "0.0000805872210000",
        "bid": "0.0000729199280000", "ask": "0.0000758962520000", "updated": "2018-09-05T14:23:14.643880"},
        "ETH_0x2469f31": {"tokenAddr": "0x2469f31a34fcaac0debf73806ce39b2388874b13",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:31.106306"}, "ETH_0xc42209a": {"tokenAddr": "0xc42209accc14029c1012fb5680d95fbd6036e2a0",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-20T10:15:42.752639"}, "ETH_0x5d65d97": {"tokenAddr": "0x5d65d971895edc438f465c17db6992698a52318d",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-20T10:15:45.154862"}, "ETH_0x36905fc": {"tokenAddr": "0x36905fc93280f52362a1cbab151f25dc46742fb5",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:50.929607"}, "ETH_0x99ea4db": {"tokenAddr": "0x99ea4db9ee77acd40b119bd1dc4e33e1c070b80d",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:53.161409"}, "ETH_0xb62132e": {"tokenAddr": "0xb62132e35a6c13ee1ee0f84dc5d40bad8d815206",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-20T10:15:47.409495"}, "ETH_0x607f4c5": {"tokenAddr": "0x607f4c5bb672230e8672085532f7e901544a7375",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:57.624716"}, "ETH_0xf7920b0": {"tokenAddr": "0xf7920b0768ecb20a123fac32311d07d193381d6f",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:59.859445"}, "ETH_0x168296b": {"tokenAddr": "0x168296bb09e24a88805cb9c33356536b980d3fc5",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:10.759540"}, "ETH_0xa15c7eb": {"tokenAddr": "0xa15c7ebe1f07caf6bff097d8a589fb8ac49ae5b3",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-20T10:15:49.870629"}, "ETH_0xf230b79": {"tokenAddr": "0xf230b790e05390fc8295f4d3f60332c93bed42e2",
        "quoteVolume": "569582.49", "baseVolume": "45.448000", "last": "0.0000905199460000",
        "bid": "0.0000869136860000", "ask": "0.0000904611830000", "updated": "2018-09-05T14:23:16.904738"},
        "ETH_0xe94327d": {"tokenAddr": "0xe94327d07fc17907b4db788e5adf2ed424addff6",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-20T10:15:56.677467"}, "ETH_0x255aa6d": {"tokenAddr": "0x255aa6df07540cb5d3d297f0d0d4d84cb52bc8e6",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:33.338555"}, "ETH_0xa744764": {"tokenAddr": "0xa74476443119a942de498590fe1f2454d7d4ac0d",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:12.990977"}, "ETH_0xfa1a856": {"tokenAddr": "0xfa1a856cfa3409cfa145fa4e20eb270df3eb21ab",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:15.222091"}, "ETH_0x2fa32a3": {"tokenAddr": "0x2fa32a39fc1c399e0cc7b2935868f5165de7ce97",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:35.567973"}, "ETH_0x056017c": {"tokenAddr": "0x056017c55ae7ae32d12aef7c679df83a85ca75ff",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:13.253231"}, "ETH_0xcb97e65": {"tokenAddr": "0xcb97e65f07da24d46bcdd078ebebd7c6e6e3d750",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-28T04:38:11.839282"}, "ETH_0x4156d33": {"tokenAddr": "0x4156d3342d5c385a87d264f90653733592000581",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:40.029061"}, "ETH_0x419c4db": {"tokenAddr": "0x419c4db4b9e25d6db2ad9691ccb832c8d9fda05e",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:42.260435"}, "ETH_0x419d0d8": {"tokenAddr": "0x419d0d8bdd9af5e606ae2232ed285aff190e711b",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:44.492145"}, "ETH_0x48f775e": {"tokenAddr": "0x48f775efbe4f5ece6e0df2f7b5932df56823b990",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:46.723367"}, "ETH_0xa974c70": {"tokenAddr": "0xa974c709cfb4566686553a20790685a47aceaa33",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:17.453226"}, "ETH_0x4ceda79": {"tokenAddr": "0x4ceda7906a5ed2179785cd3a40a69ee8bc99c466",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:48.955632"}, "ETH_0x5149107": {"tokenAddr": "0x514910771af9ca656af840dff83e8264ecf986ca",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:51.187604"}, "ETH_0xd26114c": {"tokenAddr": "0xd26114cd6ee289accf82350c8d8487fedb8a0c07",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-26T21:55:27.227528"}, "ETH_0x3893b94": {"tokenAddr": "0x3893b9422cd5d70a81edeffe3d5a1c6a978310bb",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:21.914246"}, "ETH_0xa4e8c3e": {"tokenAddr": "0xa4e8c3ec456107ea67d3075bf9e3df3a75823db0",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:24.144765"}, "ETH_0xb7cb1c9": {"tokenAddr": "0xb7cb1c96db6b22b0d3d9536e0108d062bd488f74",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:23.892478"}, "ETH_0xb8c7748": {"tokenAddr": "0xb8c77482e45f1f44de1745f52c74426c631bdd52",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:26.123695"}, "ETH_0x039b564": {"tokenAddr": "0x039b5649a59967e3e936d7471f9c3700100ee1ab",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:26.375844"}, "ETH_0x5af2be1": {"tokenAddr": "0x5af2be193a6abca9c8817001f45744777db30756",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:28.608079"}, "ETH_0xea11755": {"tokenAddr": "0xea11755ae41d889ceec39a63e6ff75a02bc1c00d",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:30.839200"}, "ETH_0xb91318f": {"tokenAddr": "0xb91318f35bdb262e9423bc7c7c2a3a93dd93c92c",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:28.352769"}, "ETH_0x39bb259": {"tokenAddr": "0x39bb259f66e1c59d5abef88375979b4d20d98022",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-20T10:16:10.497337"}, "ETH_0x2d0e95b": {"tokenAddr": "0x2d0e95bd4795d7ace0da3c0ff7b706a5970eb9d3",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:53.417352"}, "ETH_0x595832f": {"tokenAddr": "0x595832f8fc6bf59c85c527fec3740a1b7a361269",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:55.649269"}, "ETH_0xbf21798": {"tokenAddr": "0xbf2179859fc6d5bee9bf9158632dc51678a4100e",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:32.814982"}, "ETH_0x41e5560": {"tokenAddr": "0x41e5560054824ea6b0732e656e3ad64e20e94e45",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-20T10:16:12.756653"}, "ETH_0xd0a4b89": {"tokenAddr": "0xd0a4b8946cb52f0661273bfbc6fd0e0c75fc6433",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:39.509788"}, "ETH_0xdd6c68b": {"tokenAddr": "0xdd6c68bb32462e01705011a4e2ad1a60740f217f",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:46.204638"}, "ETH_0x0bb217e": {"tokenAddr": "0x0bb217e40f8a5cb79adf04e1aab60e5abd0dfc1e",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-07-19T10:21:31.309126"}, "ETH_0x1122b6a": {"tokenAddr": "0x1122b6a0e00dce0563082b6e2953f3a943855c1f",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:33.070098"}, "ETH_0x08d32b0": {"tokenAddr": "0x08d32b0da63e2c3bcf8019c9c5d849d7a9d791e6",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:17.717637"}, "ETH_0x618e75a": {"tokenAddr": "0x618e75ac90b12c6049ba3b27f5d5f8651b0037f6",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:35.301179"}, "ETH_0x0d8775f": {"tokenAddr": "0x0d8775f648430679a709e98d2b0cb6250d2887ef",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:19.949229"}, "ETH_0x12b306f": {"tokenAddr": "0x12b306fa98f4cbb8d4457fdff3a0a0a56f07ccdf",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-06-20T10:16:15.020973"}, "ETH_0xdd974d5": {"tokenAddr": "0xdd974d5c2e2928dea5f71b9825b8b646686bd200",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:48.436704"}, "ETH_0xe0b7927": {"tokenAddr": "0xe0b7927c4af23765cb51314a0e0521a9645f0e2a",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:50.667768"}, "ETH_0xe25bcec": {"tokenAddr": "0xe25bcec5d3801ce3a794079bf94adf1b8ccd802d",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:52.900840"}, "ETH_0xd0352a0": {"tokenAddr": "0xd0352a019e9ab9d757776f532377aaebd36fd541",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:37.532273"}, "ETH_0x744d70f": {"tokenAddr": "0x744d70fdbe2ba4cf95131626614a1763df805b9e",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:52:00.112633"}, "ETH_0x6c6ee5e": {"tokenAddr": "0x6c6ee5e31d828de241282b9606c8e98ea48526e2",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:39.764140"}, "ETH_0x923108a": {"tokenAddr": "0x923108a439c4e8c2315c4f6521e5ce95b44e9b4c",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:10.503691"}, "ETH_0xe381850": {"tokenAddr": "0xe3818504c1b32bf1557b16c238b2e01fd3149c17",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:55.132573"}, "ETH_0x0f5d2fb": {"tokenAddr": "0x0f5d2fb29fb7d3cfee444a200298f468908cc942",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:22.180489"}, "ETH_0x12480e2": {"tokenAddr": "0x12480e24eb5bec1a9d4369cab6a80cad3c0a377a",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:51:24.411838"}, "ETH_0x01ff50f": {"tokenAddr": "0x01ff50f8b7f74e4f00580d9596cd3d0d6d6e326f",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:44.233687"}, "ETH_0x818fc6c": {"tokenAddr": "0x818fc6c2ec5986bc6e2cbf00939d90556ab12ce5",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:52:02.344563"}, "ETH_0x86fa049": {"tokenAddr": "0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:52:04.576229"}, "ETH_0x9992ec3": {"tokenAddr": "0x9992ec3cf6a55b00978cddf2b27bc6882d88d1ec",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:12.735280"}, "ETH_0xb70835d": {"tokenAddr": "0xb70835d7822ebb9426b56543e391846c107bd32c",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-07-03T02:17:26.384099"}, "ETH_0xef68e7c": {"tokenAddr": "0xef68e7c694f40c8202821edf525de3782458639f",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:59.595754"}, "ETH_0x888666c": {"tokenAddr": "0x888666ca69e0f178ded6d75b5726cee99a87d698",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:52:06.808598"}, "ETH_0x9f8f72a": {"tokenAddr": "0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:14.965237"}, "ETH_0xb5a5f22": {"tokenAddr": "0xb5a5f22694352c15b00323844ad545abb2b11028",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:49:17.196091"}, "ETH_0x8f3470a": {"tokenAddr": "0x8f3470a7388c05ee4e7af3d01d8c722b0ff52374",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:52:11.269956"}, "ETH_0xf0ee6b2": {"tokenAddr": "0xf0ee6b27b759c9893ce4f094b49ad28fd15a23e4",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:01.828780"}, "ETH_0x809826c": {"tokenAddr": "0x809826cceab68c387726af962713b64cb5cb3cca",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-05-24T16:50:46.465360"}, "ETH_0x89d24a6": {"tokenAddr": "0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359",
        "quoteVolume": "42987.656", "baseVolume": "88.995382", "last": "0.0039209491",
        "bid": null, "ask": null, "updated": "2018-09-05T14:22:38.311890"}, "ETH_0x50a7da1":
        {"tokenAddr": "0x50a7da1bd921ac68d0978c00c1d66637c968159c", "quoteVolume":
        "0", "baseVolume": "0", "last": null, "bid": null, "ask": null, "updated":
        "2018-09-05T14:23:00.981180"}, "ETH_0x263c618": {"tokenAddr": "0x263c618480dbe35c300d8d5ecda19bbb986acaed",
        "quoteVolume": "73855.305", "baseVolume": "51.100000", "last": "0.00074827261",
        "bid": "0.00072139", "ask": "0.00075083449", "updated": "2018-09-05T14:23:03.242826"},
        "ETH_0x7b267ee": {"tokenAddr": "0x7b267eea6e679e747c0cb1d6b453a976d3638d27",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": "0.00072",
        "updated": "2018-09-05T14:23:19.162903"}, "ETH_0xd850942": {"tokenAddr": "0xd850942ef8811f2a866692a623011bde52a462c1",
        "quoteVolume": "1641.2093", "baseVolume": "8.4330000", "last": "0.0040264624",
        "bid": null, "ask": null, "updated": "2018-09-05T14:23:21.418445"}, "ETH_0x5ca9a71":
        {"tokenAddr": "0x5ca9a71b1d01849c0a95490cc00559717fcf0d1d", "quoteVolume":
        "13597.462", "baseVolume": "55.344000", "last": "0.0043205934", "bid": "0.0041669326",
        "ask": "0.0043370115", "updated": "2018-09-05T14:23:23.696002"}, "ETH_0x994f0df":
        {"tokenAddr": "0x994f0dffdbae0bbf09b652d6f11a493fd33f42b9", "quoteVolume":
        "356.03914", "baseVolume": "0.049845479", "last": "0.00014000000", "bid":
        null, "ask": null, "updated": "2018-09-05T14:23:25.951860"}, "ETH_0x17e16d3":
        {"tokenAddr": "0x17e16d30a05324b44cf78df847137fa1220448f8", "quoteVolume":
        "0", "baseVolume": "0", "last": null, "bid": null, "ask": "4.80000e-7", "updated":
        "2018-09-05T14:23:28.212894"}, "ETH_0x8aa46c9": {"tokenAddr": "0x8aa46c9b23b64e70eb914d1d8a388a5d4795473f",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-08-15T09:20:01.179984"}, "ETH_0xf8e386e": {"tokenAddr": "0xf8e386eda857484f5a12e4b5daa9984e06e73705",
        "quoteVolume": "246485.97", "baseVolume": "48.300000", "last": "0.00020535893",
        "bid": "0.00019685507", "ask": "0.00020488997", "updated": "2018-09-05T14:22:40.585148"},
        "ETH_0xd4078bd": {"tokenAddr": "0xd4078bdb652610ad5383a747d130cbe905911102",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-09-05T14:22:42.854396"}, "ETH_0x45ed02e": {"tokenAddr": "0x45ed02e374aef2e4b34c04e86ad9d45891d10751",
        "quoteVolume": "54309.984", "baseVolume": "2.1536852", "last": "1.0000e-7",
        "bid": "0.0000550000", "ask": "0.0004", "updated": "2018-09-05T14:22:45.116451"},
        "ETH_0x436f0f3": {"tokenAddr": "0x436f0f3a982074c4a05084485d421466a994fe53",
        "quoteVolume": "11360.810", "baseVolume": "0.48389583", "last": "0.0000408800000000",
        "bid": null, "ask": null, "updated": "2018-09-05T14:22:47.371534"}, "ETH_0x13d932f":
        {"tokenAddr": "0x13d932f37c4c979b95663b2afe1a228f6ba0ac74", "quoteVolume":
        "0", "baseVolume": "0", "last": null, "bid": null, "ask": "0.0005", "updated":
        "2018-09-05T14:22:49.637444"}, "ETH_0x3821173": {"tokenAddr": "0x382117315856a533549ea621542ccce13e54ae82",
        "quoteVolume": "24700.000", "baseVolume": "0.00094390000", "last": "3.70000e-8",
        "bid": "1.00000000e-11", "ask": null, "updated": "2018-09-05T14:22:51.910438"},
        "ETH_0x3ff283f": {"tokenAddr": "0x3ff283f4b333f0c046dea47938a413a2bae56bf5",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": null, "ask": null,
        "updated": "2018-09-05T14:22:54.196404"}, "ETH_0xba21845": {"tokenAddr": "0xba2184520a1cc49a6159c57e61e1844e085615b6",
        "quoteVolume": "4957066.5", "baseVolume": "99.400000", "last": "0.0000210852580000",
        "bid": "0.0000199285090000", "ask": "0.0000207419170000", "updated": "2018-09-05T14:22:56.463625"},
        "ETH_0xe41d248": {"tokenAddr": "0xe41d2489571d322189246dafa5ebde1f4699f498",
        "quoteVolume": "22821.382", "baseVolume": "52.344000", "last": "0.0028520496",
        "bid": "0.002722185", "ask": "0.0028332946", "updated": "2018-09-05T14:23:05.564657"},
        "ETH_0x88fcfbc": {"tokenAddr": "0x88fcfbc22c6d3dbaa25af478c578978339bde77a",
        "quoteVolume": "59355.694", "baseVolume": "85.508334", "last": "0.00036009439",
        "bid": "0.0013435863", "ask": "0.0013984266", "updated": "2018-09-05T14:23:10.085800"},
        "ETH_0x05f4a42": {"tokenAddr": "0x05f4a42e251f2d52b8ed15e9fedaacfcef1fad27",
        "quoteVolume": "280540.28", "baseVolume": "42.188000", "last": "0.00016246544",
        "bid": "0.00015436375", "ask": "0.0001604485", "updated": "2018-09-05T14:23:12.370155"}}'
  recorded_at: Fri, 07 Sep 2018 03:07:44 GMT
- request:
    method: get
    uri: https://www.coinchangex.com/config/main.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 04 Sep 2018 03:43:18 GMT
      Etag:
      - '"5b8dff56-cbe"'
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"contractEtherDelta\": \"smart_contract/etherdelta.sol\",\n  \"contractToken\":
        \"smart_contract/token.sol\",\n  \"contractReserveToken\": \"smart_contract/reservetoken.sol\",\n
        \ \"contractEtherDeltaAddrs\": [\n    { \"addr\": \"0x2f23228b905CEB4734EB42d9B42805296667C93b\",
        \"info\": \"Deployed 08/05/2018 -- THE LATEST SMART CONTRACT\" }\n  ],\n  \"ethTestnet\":
        false,\n  \"ethChainId\": 1,\n  \"ethProvider\": \"http://localhost:8545\",\n
        \ \"ethGasPrice\": 10500000000,\n  \"ethAddr\": \"0x0000000000000000000000000000000000000000\",\n
        \ \"ethAddrPrivateKey\": \"\",\n  \"gasApprove\": 250000,\n  \"gasDeposit\":
        250000,\n  \"gasWithdraw\": 250000,\n  \"gasTrade\": 250000,\n  \"gasOrder\":
        250000,\n  \"minOrderSize\": 0.0001,\n  \"socketServer\": \"https://api.coinchangex.com\",\n
        \ \"userCookie\": \"EtherDelta\",\n  \"eventsCacheCookie\": \"EtherDelta_eventsCache\",\n
        \ \"ordersCacheCookie\": \"EtherDelta_ordersCache\",\n  \"etherscanAPIKey\":
        \"GCGR1C9I17TYIRNYUDDEIJH1K5BRPH4UDE\",\n  \"ledgerPath\": \"m/44'/60'/0'/0\",\n
        \ \"bases\": [\n    { \"addr\": \"0x0000000000000000000000000000000000000000\",
        \"name\": \"ETH\", \"decimals\": 18 }\n  ],\n  \"tokens\": [\n    { \"addr\":
        \"0x0000000000000000000000000000000000000000\", \"name\": \"ETH\", \"decimals\":
        18 },\n    { \"addr\": \"0x88FCFBc22C6d3dBaa25aF478C578978339BDe77a\", \"name\":
        \"FYN\", \"decimals\": 18 },\n    { \"addr\": \"0x05f4a42e251f2d52b8ed15e9fedaacfcef1fad27\",
        \"name\": \"ZIL\", \"decimals\": 12 },\n    { \"addr\": \"0x08f5a9235b08173b7569f83645d2c7fb55e8ccd8\",
        \"name\": \"TNT\", \"decimals\": 8 },\n    { \"addr\": \"0xf230b790e05390fc8295f[...]
