---
http_interactions:
- request:
    method: get
    uri: https://api.coinchangex.com/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ETH_0x940d73c": {"tokenAddr": "0x940d73c91db9f82440702f6cc8323a8c60583777",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "0.0000110000",
        "ask": null, "updated": "2018-02-28T20:16:52.772658"}, "ETH_0x044dd17": {"tokenAddr":
        "0x044dd17bbbcbf1cf65f543918561bf8cf8130e7b", "quoteVolume": "0", "baseVolume":
        "0", "last": "7.070000e-7", "bid": "7.070000e-7", "ask": "0.000651373", "updated":
        "2018-04-14T21:02:36.827039"}, "ETH_0x056017c": {"tokenAddr": "0x056017c55ae7ae32d12aef7c679df83a85ca75ff",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.00134", "bid": "0.0003170219",
        "ask": "0.00179", "updated": "2018-04-14T21:02:41.047147"}, "ETH_0x05c7065":
        {"tokenAddr": "0x05c7065d644096a4e4c3fe24af86e36de021074b", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0001000011211", "bid": "0.000100003", "ask":
        "0.009", "updated": "2018-04-14T21:02:45.888345"}, "ETH_0x05d379b": {"tokenAddr":
        "0x05d379b48a8622ae4018309e116420db4a38a225", "quoteVolume": "0", "baseVolume":
        "0", "last": "0.0001100150000", "bid": "0.0001101", "ask": "0.001199777",
        "updated": "2018-04-14T21:02:48.000573"}, "ETH_0x05f4a42": {"tokenAddr": "0x05f4a42e251f2d52b8ed15e9fedaacfcef1fad27",
        "quoteVolume": "22494.00121", "baseVolume": "2.642414643", "last": "0.0001288000000",
        "bid": "0.000110001", "ask": "0.000121370548", "updated": "2018-04-14T21:02:50.135703"},
        "ETH_0x0784dba": {"tokenAddr": "0x0784dbabb6c6834bddfb7cfee116ba049e5dafab",
        "quoteVolume": "5618.169619", "baseVolume": "0.07609985239", "last": "0.0000150000",
        "bid": "0.00001210000", "ask": "0.0005", "updated": "2018-04-14T21:02:56.694562"},
        "ETH_0x0886949": {"tokenAddr": "0x0886949c1b8c412860c4264ceb8083d1365e86cf",
        "quoteVolume": "0", "baseVolume": "0", "last": "2.5000000000000e-8", "bid":
        "7.0000e-8", "ask": "2.340000e-7", "updated": "2018-04-14T21:03:12.989152"},
        "ETH_0x089a6d8": {"tokenAddr": "0x089a6d83282fb8988a656189f1e7a73fa6c1cac2",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.000595", "bid": "0.00007511340000",
        "ask": "0.0012", "updated": "2018-04-14T21:03:15.089261"}, "ETH_0x0b76544":
        {"tokenAddr": "0x0b76544f6c413a555f309bf76260d1e02377c02a", "quoteVolume":
        "14901.59682", "baseVolume": "5.126391075", "last": "0.0003600000002", "bid":
        "0.000342", "ask": "0.000239", "updated": "2018-04-14T21:03:54.788209"}, "ETH_0x0c6c9be":
        {"tokenAddr": "0x0c6c9beeeb5de377210930f09a7ac9a99ff5e981", "quoteVolume":
        "0", "baseVolume": "0", "last": null, "bid": "0.0000020490000", "ask": null,
        "updated": "2018-04-14T21:04:01.299823"}, "ETH_0x0d8775f": {"tokenAddr": "0x0d8775f648430679a709e98d2b0cb6250d2887ef",
        "quoteVolume": "1318.998765", "baseVolume": "0.6924948623", "last": "0.0005359599052",
        "bid": "0.000463552", "ask": "0.0005389039432", "updated": "2018-04-14T21:04:08.223580"},
        "ETH_0x0d88ed6": {"tokenAddr": "0x0d88ed6e74bbfd96b831231638b66c05571e824f",
        "quoteVolume": "151.0756654", "baseVolume": "0.2130166883", "last": "0.001410000001",
        "bid": "0.0016", "ask": "0.00288", "updated": "2018-04-14T21:04:10.735684"},
        "ETH_0x0f513ff": {"tokenAddr": "0x0f513ffb4926ff82d7f60a05069047aca295c413",
        "quoteVolume": "0", "baseVolume": "0", "last": "5.1900000000000e-7", "bid":
        "1.3630000e-7", "ask": "0.0017999", "updated": "2018-04-14T21:04:18.420539"},
        "ETH_0x0f9b1d1": {"tokenAddr": "0x0f9b1d1d39118480cf8b9575419ea4e5189c88dd",
        "quoteVolume": "0", "baseVolume": "0", "last": "8.40000000000000000e-19",
        "bid": "4.0000000000000000000000000e-20", "ask": "5.0000000000000000000000000e-19",
        "updated": "2018-04-14T21:04:27.775551"}, "ETH_0x0ffab58": {"tokenAddr": "0x0ffab58ea5a71cc3ca40217706c3c401407fa4a8",
        "quoteVolume": "0", "baseVolume": "0", "last": "1.4000000000000e-7", "bid":
        "1.40000e-7", "ask": "0.002", "updated": "2018-04-14T21:04:32.804181"}, "ETH_0x103c3a2":
        {"tokenAddr": "0x103c3a209da59d3e7c4a89307e66521e081cfdf0", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.04026671123", "bid": "0.032", "ask": "0.0431",
        "updated": "2018-04-14T21:04:35.192830"}, "ETH_0x107c450": {"tokenAddr": "0x107c4504cd79c5d2696ea0030a8dd4e92601b82e",
        "quoteVolume": "63.51871911", "baseVolume": "0.04001679304", "last": "0.0006300000000",
        "bid": "0.0007", "ask": "0.001", "updated": "2018-04-14T21:04:45.422677"},
        "ETH_0x10b123f": {"tokenAddr": "0x10b123fddde003243199aad03522065dc05827a0",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "0.00000161940000",
        "ask": null, "updated": "2018-04-14T21:04:48.276522"}, "ETH_0x10c0337": {"tokenAddr":
        "0x10c0337c42843e0b8ce743d7d5ff39b711f3ad82", "quoteVolume": "0", "baseVolume":
        "0", "last": "1.6000000000000e-8", "bid": "1.0000e-8", "ask": "0.00075", "updated":
        "2018-04-14T21:04:53.050091"}, "ETH_0x111111f": {"tokenAddr": "0x111111f7e9b1fe072ade438f77e1ce861c7ee4e3",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "0.00028", "ask":
        null, "updated": "2018-04-14T21:04:55.546557"}, "ETH_0x1175a66": {"tokenAddr":
        "0x1175a66a5c3343bbf06aa818bb482ddec30858e0", "quoteVolume": "0", "baseVolume":
        "0", "last": "0.0004999999900", "bid": "0.0000030000", "ask": null, "updated":
        "2018-04-14T21:04:57.678716"}, "ETH_0x13ea82d": {"tokenAddr": "0x13ea82d5e1a811f55bda9c86fdd6195a6bd23aed",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.000038750000", "bid": "0.0000010010000",
        "ask": "0.0000390000", "updated": "2018-04-14T21:05:30.236555"}, "ETH_0x13f1b7f":
        {"tokenAddr": "0x13f1b7fdfbe1fc66676d56483e21b1ecb40b58e2", "quoteVolume":
        "346.5065479", "baseVolume": "1.595247146", "last": "0.004200001000", "bid":
        "0.004301", "ask": "0.0057", "updated": "2018-04-14T21:05:34.661249"}, "ETH_0x14839bf":
        {"tokenAddr": "0x14839bf22810f09fb163af69bd21bd5476f445cd", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.000011100000000000", "bid": "0.0000110000",
        "ask": "0.00068", "updated": "2018-04-14T21:05:36.780836"}, "ETH_0x149a23f":
        {"tokenAddr": "0x149a23f3d1a1e61e1e3b7eddd27f32e01f9788c7", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0000230000", "bid": "0.00000120740000",
        "ask": "0.0002", "updated": "2018-04-14T21:05:38.890441"}, "ETH_0x14f37b5":
        {"tokenAddr": "0x14f37b574242d366558db61f3335289a5035c506", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0000027590000", "bid": "0.0000027590000",
        "ask": "0.000080000", "updated": "2018-04-14T21:05:41.082478"}, "ETH_0x14fffb1":
        {"tokenAddr": "0x14fffb1e001615b7fb7c7857bdf440a610022e5b", "quoteVolume":
        "2.0e+5", "baseVolume": "0.006000000000", "last": "3.000000000000e-8", "bid":
        "3.0000000000000e-8", "ask": "2.4500000000000e-7", "updated": "2018-04-14T21:05:43.357411"},
        "ETH_0x15ef5b9": {"tokenAddr": "0x15ef5b9447710eab904e63e6233ff540400d603f",
        "quoteVolume": "0", "baseVolume": "0", "last": "3.40000e-7", "bid": "5.450000e-7",
        "ask": "0.00000140000", "updated": "2018-04-14T21:05:49.933126"}, "ETH_0x15f173b":
        {"tokenAddr": "0x15f173b7aca7cd4a01d6f8360e65fb4491d270c1", "quoteVolume":
        "9000.000000", "baseVolume": "0.01719500000", "last": "0.00000280000", "bid":
        "4.610000e-7", "ask": "0.00015", "updated": "2018-04-14T21:05:52.131376"},
        "ETH_0x16b5a0d": {"tokenAddr": "0x16b5a0de0520e1964a20ac8ef4034bd7d0920d8f",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.00006199780000", "bid":
        "0.0000100010000", "ask": "0.0015", "updated": "2018-04-14T21:06:01.435396"},
        "ETH_0x189c05c": {"tokenAddr": "0x189c05c3c191015c694032e1b09c190d5db3fb50",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.00017999999", "bid": "0.00000220040000",
        "ask": "0.0001695", "updated": "2018-04-14T21:06:26.027231"}, "ETH_0x1bb9e8e":
        {"tokenAddr": "0x1bb9e8ea817d56eccc212ce63f7da95298f98719", "quoteVolume":
        "99690958030", "baseVolume": "0.005981457482", "last": "6.000000000000000000000e-14",
        "bid": "7.5000000000000e-14", "ask": "1.000000000000e-13", "updated": "2018-04-14T21:06:54.666802"},
        "ETH_0x1d46241": {"tokenAddr": "0x1d462414fe14cf489c7a21cac78509f4bf8cd7c0",
        "quoteVolume": "206.3611570", "baseVolume": "0.08667568854", "last": "0.0004200210000",
        "bid": "0.000420021", "ask": "0.00055", "updated": "2018-04-14T21:07:12.862835"},
        "ETH_0x1d9e20e": {"tokenAddr": "0x1d9e20e581a5468644fe74ccb6a46278ef377f9e",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.0000015000000000000", "bid":
        "0.00000151040000", "ask": "0.0000277830000", "updated": "2018-04-14T21:07:16.425078"},
        "ETH_0x1daaf3d": {"tokenAddr": "0x1daaf3d62582639c6a7eabb467e2db9b56fafbbd",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "1.090000e-7",
        "ask": null, "updated": "2018-04-14T21:07:19.114845"}, "ETH_0x1f21d83": {"tokenAddr":
        "0x1f21d8395655fb262251897df7cb3c9358bec6a2", "quoteVolume": "0", "baseVolume":
        "0", "last": "2.00000000e-9", "bid": "1.2200000000e-10", "ask": "2.00000000e-9",
        "updated": "2018-04-14T21:07:28.992280"}, "ETH_0x222728c": {"tokenAddr": "0x222728c202e7164dfbd127181d46409338c4328e",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.04", "bid": "0.0000820790000",
        "ask": "0.0006", "updated": "2018-04-14T21:07:50.820591"}, "ETH_0x226bb59":
        {"tokenAddr": "0x226bb599a12c826476e3a771454697ea52e9e220", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.001800022000", "bid": "0.00180201", "ask":
        "0.00228", "updated": "2018-04-14T21:07:56.096759"}, "ETH_0x27f610b": {"tokenAddr":
        "0x27f610bf36eca0939093343ac28b1534a721dbb4", "quoteVolume": "10932.46052",
        "baseVolume": "1.432152328", "last": "0.0001310000000", "bid": "0.000144",
        "ask": "0.000399", "updated": "2018-04-14T21:09:03.983546"}, "ETH_0x28481cd":
        {"tokenAddr": "0x28481cdc0e4fa79164491d47e8837edeb3993f20", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.000021595000000000", "bid": "0.000001110000",
        "ask": "0.01", "updated": "2018-04-14T21:09:06.249916"}, "ETH_0x28a40ac":
        {"tokenAddr": "0x28a40acf39b1d3c932f42dd8068ad00a5ad6448f", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.000080300400010000", "bid": "0.0000803010000",
        "ask": "0.04", "updated": "2018-04-14T21:09:15.609875"}, "ETH_0x2e071d2":
        {"tokenAddr": "0x2e071d2966aa7d8decb1005885ba1977d6038a65", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.004288", "bid": "0.00282", "ask": "0.00328",
        "updated": "2018-04-14T21:09:58.000259"}, "ETH_0x30cc0e2": {"tokenAddr": "0x30cc0e266cf33b8eac6a99cbd98e39b890cfd69b",
        "quoteVolume": "498.4547902", "baseVolume": "0.0004670521384", "last": "9.3700000000000e-7",
        "bid": "9.370000e-7", "ask": "0.000040000", "updated": "2018-04-14T21:10:25.399192"},
        "ETH_0x3293cc9": {"tokenAddr": "0x3293cc907fde439b39aedaf1b982785adaff186b",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.01000000100", "bid": "0.01011",
        "ask": "0.0169999", "updated": "2018-04-14T21:10:37.526978"}, "ETH_0x32c785e":
        {"tokenAddr": "0x32c785e4e8477b277fea2ca2301727084d79d933", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0000098324001920000", "bid": "1.5200000000000e-7",
        "ask": "0.000030400000000000", "updated": "2018-04-14T21:10:40.290149"}, "ETH_0x336f646":
        {"tokenAddr": "0x336f646f87d9f6bc6ed42dd46e8b3fd9dbd15c22", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0009999000000", "bid": "0.000080000", "ask":
        "0.0008999", "updated": "2018-04-14T21:10:44.977799"}, "ETH_0x342ba15": {"tokenAddr":
        "0x342ba159f988f24f0b033f3cc5232377ee500543", "quoteVolume": "0", "baseVolume":
        "0", "last": "0.02", "bid": "0.0001280694", "ask": "0.015", "updated": "2018-04-14T21:10:54.366674"},
        "ETH_0x3e250a4": {"tokenAddr": "0x3e250a4f78410c29cfc39463a81f14a226690eb4",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.01089560000", "bid": "0.00000900040000",
        "ask": "0.016", "updated": "2018-04-14T21:11:59.778346"}, "ETH_0x4162178":
        {"tokenAddr": "0x4162178b78d6985480a308b2190ee5517460406d", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.000098000000010000", "bid": "0.000047810000",
        "ask": null, "updated": "2018-04-14T21:12:25.142815"}, "ETH_0x420c42c": {"tokenAddr":
        "0x420c42ce1370c0ec3ca87d9be64a7002e78e6709", "quoteVolume": "10387", "baseVolume":
        "0.08035605000", "last": "0.000006001000000", "bid": "7.0000000000000e-7",
        "ask": "4.9900000000000e-7", "updated": "2018-04-14T21:12:39.373888"}, "ETH_0x4355fc1":
        {"tokenAddr": "0x4355fc160f74328f9b383df2ec589bb3dfd82ba0", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0001200000000", "bid": "0.0000610000",
        "ask": "0.00075", "updated": "2018-04-14T21:12:49.243470"}, "ETH_0x44197a4":
        {"tokenAddr": "0x44197a4c44d6a059297caf6be4f7e172bd56caaf", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.000030000", "bid": "0.00002100590000",
        "ask": "0.000040000", "updated": "2018-04-14T21:12:56.351914"}, "ETH_0x450711d":
        {"tokenAddr": "0x450711d5da9f7cadb0e4d3472be550328b37bdda", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.000030000", "bid": "0.0000250000", "ask":
        "0.0000980000", "updated": "2018-04-14T21:13:12.125906"}, "ETH_0x47dd62d":
        {"tokenAddr": "0x47dd62d4d075dead71d0e00299fc56a2d747bebb", "quoteVolume":
        "28810.68687", "baseVolume": "0.1128426079", "last": "0.0000039000000000000",
        "bid": "0.0000039010000", "ask": "0.00156", "updated": "2018-04-14T21:13:36.975860"},
        "ETH_0x4f38f42": {"tokenAddr": "0x4f38f4229924bfa28d58eeda496cc85e8016bccc",
        "quoteVolume": "129", "baseVolume": "0.000027090000000000", "last": "2.10000000000e-7",
        "bid": "2.1100000000000e-7", "ask": "0.0000070000000000000", "updated": "2018-04-14T21:14:41.979536"},
        "ETH_0x52e3020": {"tokenAddr": "0x52e30201f31283dc5f7928b4198896083f604416",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.000012500000000000", "bid":
        "0.00000250000", "ask": "0.00048999", "updated": "2018-04-14T21:15:17.220226"},
        "ETH_0x550879f": {"tokenAddr": "0x550879f1778b575ddc8eb2095fbc9f4783b5f2f6",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "0.0000030010000",
        "ask": null, "updated": "2018-04-14T21:15:27.494669"}, "ETH_0x55648de": {"tokenAddr":
        "0x55648de19836338549130b1af587f16bea46f66b", "quoteVolume": "0", "baseVolume":
        "0", "last": "0.0003200110001", "bid": "0.0004", "ask": "0.00229", "updated":
        "2018-04-14T21:15:36.165467"}, "ETH_0x55c2a0c": {"tokenAddr": "0x55c2a0c171d920843560594de3d6eecc09efc098",
        "quoteVolume": "0", "baseVolume": "0", "last": "10", "bid": "0.00002500040000",
        "ask": "10", "updated": "2018-04-14T21:15:43.826886"}, "ETH_0x55e7c4a": {"tokenAddr":
        "0x55e7c4a77821d5c50b4570b08f9f92896a25e012", "quoteVolume": "0", "baseVolume":
        "0", "last": null, "bid": "1.3900000000000e-7", "ask": null, "updated": "2018-04-14T21:15:45.929142"},
        "ETH_0x569cbdc": {"tokenAddr": "0x569cbdcc684edcc589939cc8f6b96e6abd9eb0f3",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.0000010010000", "bid": "2.0040000e-7",
        "ask": "0.00000494990000", "updated": "2018-04-14T21:15:50.393695"}, "ETH_0x56b6431":
        {"tokenAddr": "0x56b6431f45d08eed55f34371386326c739eacbcc", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0003300000000", "bid": "0.0000100010000",
        "ask": "0.00041", "updated": "2018-04-14T21:15:52.877130"}, "ETH_0x633a8f8":
        {"tokenAddr": "0x633a8f8e557702039463f9f2eb20b7936fff8c05", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0000040000", "bid": "0.0000011130000",
        "ask": "0.0011", "updated": "2018-04-14T21:17:56.986946"}, "ETH_0x687174f":
        {"tokenAddr": "0x687174f8c49ceb7729d925c3a961507ea4ac7b28", "quoteVolume":
        "3173.576912", "baseVolume": "0.06347153823", "last": "0.000020000", "bid":
        "0.00001550000", "ask": "0.001", "updated": "2018-04-14T21:19:02.435829"},
        "ETH_0x78b7fad": {"tokenAddr": "0x78b7fada55a64dd895d8c8c35779dd8b67fa8a05",
        "quoteVolume": "5228.097873", "baseVolume": "1.827695443", "last": "0.0003710010000",
        "bid": "0.000371001", "ask": "0.000975", "updated": "2018-04-14T21:21:10.255541"},
        "ETH_0x9214ec0": {"tokenAddr": "0x9214ec02cb71cba0ada6896b8da260736a67ab10",
        "quoteVolume": "7133.662096", "baseVolume": "3.025038497", "last": "0.000531",
        "bid": "0.00042", "ask": "0.00081", "updated": "2018-04-14T21:25:01.783397"},
        "ETH_0x93e24ce": {"tokenAddr": "0x93e24ce396a9e7d7de4a5bc616cf5fcab0476626",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "0.000100119",
        "ask": null, "updated": "2018-04-14T21:25:17.881067"}, "ETH_0x9595291": {"tokenAddr":
        "0x959529102cfde07b1196bd27adedc196d75f84f6", "quoteVolume": "199023", "baseVolume":
        "0.01890718500", "last": "9.5000000e-8", "bid": "9.5000000000000e-8", "ask":
        "3.8000000000000e-7", "updated": "2018-04-14T21:25:40.093221"}, "ETH_0x98f5e9b":
        {"tokenAddr": "0x98f5e9b7f0e33956c0443e81bf7deb8b5b1ed545", "quoteVolume":
        "0", "baseVolume": "0", "last": "2.1100000000000e-7", "bid": "1.10000e-8",
        "ask": "0.0000250000", "updated": "2018-04-14T21:26:03.568070"}, "ETH_0x9adaba9":
        {"tokenAddr": "0x9adaba9ffda15e3a043c907d390f645147eb532a", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0000020000", "bid": "2.110000e-7", "ask":
        null, "updated": "2018-04-14T21:26:26.217798"}, "ETH_0x9e96604": {"tokenAddr":
        "0x9e96604445ec19ffed9a5e8dd7b50a29c899a10c", "quoteVolume": "0", "baseVolume":
        "0", "last": "0.0004999999998", "bid": "0.00021", "ask": null, "updated":
        "2018-04-14T21:27:17.193396"}, "ETH_0xa2f4fcb": {"tokenAddr": "0xa2f4fcb0fde2dd59f7a1873e121bc5623e3164eb",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "0.001001001000",
        "ask": "0.01966817700", "updated": "2018-04-14T21:27:37.306417"}, "ETH_0xd3e2f9d":
        {"tokenAddr": "0xd3e2f9dfff5a6feeece5dbcee3b86cb375fd8c98", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0025", "bid": "0.00000240000", "ask": "0.00249999999",
        "updated": "2018-04-14T20:55:09.093786"}, "ETH_0xf99f901": {"tokenAddr": "0xf99f901124cbbe180984a247ba94cfba0c764b2e",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "0.00001610000",
        "ask": null, "updated": "2018-04-14T21:00:43.049834"}, "ETH_0xfad572d": {"tokenAddr":
        "0xfad572db566e5234ac9fc3d570c4edc0050eaa92", "quoteVolume": "0", "baseVolume":
        "0", "last": "0.00689919", "bid": "0.0000011490000", "ask": "0.00689919",
        "updated": "2018-04-14T21:00:53.869577"}, "ETH_0x00a0cbe": {"tokenAddr": "0x00a0cbe98e4d110b0fa82646152d77babf2951d0",
        "quoteVolume": "2.084e+19", "baseVolume": "0.05302312000", "last": "9.800000000000000000000e-23",
        "bid": "1.00000000000000000000e-23", "ask": "0.000050000", "updated": "2018-04-14T21:02:02.467190"},
        "ETH_0x014b504": {"tokenAddr": "0x014b50466590340d41307cc54dcee990c8d58aa8",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.04800000099", "bid": "0.0480009954",
        "ask": "0.06611", "updated": "2018-04-14T21:02:08.199944"}, "ETH_0x01a28ad":
        {"tokenAddr": "0x01a28adc0edd796b570ec4da734e1aa809f6f1fc", "quoteVolume":
        "0", "baseVolume": "0", "last": null, "bid": "0.0000042310000", "ask": null,
        "updated": "2018-04-14T21:02:11.626737"}, "ETH_0x01afc37": {"tokenAddr": "0x01afc37f4f85babc47c0e2d0eababc7fb49793c8",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "1.790000e-7",
        "ask": null, "updated": "2018-04-14T21:02:13.839563"}, "ETH_0x01c6779": {"tokenAddr":
        "0x01c67791309c71aa4ed373025a0c089696d7c9e4", "quoteVolume": "0", "baseVolume":
        "0", "last": "0.0000541450000", "bid": "5.5140000e-7", "ask": "0.4", "updated":
        "2018-04-14T21:02:16.349660"}, "ETH_0x025abad": {"tokenAddr": "0x025abad9e518516fdaafbdcdb9701b37fb7ef0fa",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "2.0900000000000e-7",
        "ask": null, "updated": "2018-04-14T21:02:25.292327"}, "ETH_0x02b9806": {"tokenAddr":
        "0x02b9806a64cb05f02aa8dcc1c178b88159a61304", "quoteVolume": "0", "baseVolume":
        "0", "last": "0.0014499799", "bid": "0.00001000140000", "ask": "0.00145",
        "updated": "2018-04-14T21:02:27.495612"}, "ETH_0x0371a82": {"tokenAddr": "0x0371a82e4a9d0a4312f3ee2ac9c6958512891372",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.000042009999990000", "bid":
        "0.000026110000", "ask": "0.00198754", "updated": "2018-04-14T21:02:29.707998"},
        "ETH_0x03df4c3": {"tokenAddr": "0x03df4c372a29376d2c8df33a1b5f001cd8d68b0e",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.00001100040000", "bid":
        "0.00001100040000", "ask": "0.00024949999", "updated": "2018-04-14T21:02:31.994974"},
        "ETH_0x0425cbb": {"tokenAddr": "0x0425cbbc5ff784203fe8d82beefa2b02634351f5",
        "quoteVolume": "0", "baseVolume": "0", "last": "1.1000000000000e-8", "bid":
        "4.10000e-8", "ask": "0.00101", "updated": "2018-04-14T21:02:34.144900"},
        "ETH_0x0f59811": {"tokenAddr": "0x0f598112679b78e17a4a9febc83703710d33489c",
        "quoteVolume": "15736537.18", "baseVolume": "0.009496652462", "last": "8.9900000000e-10",
        "bid": "4.00000000e-10", "ask": "8.9900000000e-10", "updated": "2018-04-14T21:04:20.591463"},
        "ETH_0x23cb17d": {"tokenAddr": "0x23cb17d7d079518dbff4febb6efcc0de58d8c984",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.0026", "bid": "0.0000103550000",
        "ask": "0.0026", "updated": "2018-04-14T21:08:05.036720"}, "ETH_0x2405cc1":
        {"tokenAddr": "0x2405cc17ba128bfa7117815e04a4da228013f5bc", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0000023949990000", "bid": "1.220000e-7",
        "ask": "0.0000015850000", "updated": "2018-04-14T21:08:10.421374"}, "ETH_0x2469f31":
        {"tokenAddr": "0x2469f31a34fcaac0debf73806ce39b2388874b13", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0093", "bid": "0.00000110000", "ask": "0.0093",
        "updated": "2018-04-14T21:08:15.127888"}, "ETH_0x24aef3b": {"tokenAddr": "0x24aef3bf1a47561500f9430d74ed4097c47f51f2",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.000973999", "bid": "0.00005019040000",
        "ask": "0.0009739999", "updated": "2018-04-14T21:08:17.266246"}, "ETH_0x24ddff6":
        {"tokenAddr": "0x24ddff6d8b8a42d835af3b440de91f3386554aa4", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0002001099999", "bid": "0.000201001", "ask":
        "0.0008", "updated": "2018-04-14T21:08:21.970055"}, "ETH_0x25432dd": {"tokenAddr":
        "0x25432dd810730331498c22fbf6b98432e7ef3e66", "quoteVolume": "0", "baseVolume":
        "0", "last": null, "bid": "0.00010019", "ask": null, "updated": "2018-04-14T21:08:24.408703"},
        "ETH_0x26607f9": {"tokenAddr": "0x26607f9bf9d62a37b0c78e1d3719fcd1fa32bef9",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.000025000000000000", "bid":
        "0.0000250010000", "ask": "0.00015", "updated": "2018-04-14T21:08:33.227141"},
        "ETH_0x286bda1": {"tokenAddr": "0x286bda1413a2df81731d4930ce2f862a35a609fe",
        "quoteVolume": "0.01000000000", "baseVolume": "0.000019820000000000", "last":
        "0.001982", "bid": "0.001935", "ask": "0.00197370025", "updated": "2018-04-14T21:09:08.428786"},
        "ETH_0x289fe11": {"tokenAddr": "0x289fe11c6f46e28f9f1cfc72119aee92c1da50d0",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "0.0000108070000",
        "ask": null, "updated": "2018-04-14T21:09:12.718483"}, "ETH_0x28c8d01": {"tokenAddr":
        "0x28c8d01ff633ea9cd8fc6a451d7457889e698de6", "quoteVolume": "100", "baseVolume":
        "0.009000000000", "last": "0.0000900000000000", "bid": "0.000065000000000000",
        "ask": "0.000091291341500000", "updated": "2018-04-14T21:09:18.022885"}, "ETH_0x29d7527":
        {"tokenAddr": "0x29d75277ac7f0335b2165d0895e8725cbf658d73", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0001810000001", "bid": "0.0001800214",
        "ask": "0.000248", "updated": "2018-04-14T21:09:20.321974"}, "ETH_0x2a05d22":
        {"tokenAddr": "0x2a05d22db079bc40c2f77a1d1ff703a56e631cc1", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0003400000000", "bid": "0.0000202270000",
        "ask": "0.00034", "updated": "2018-04-14T21:09:22.830728"}, "ETH_0x2baac93":
        {"tokenAddr": "0x2baac9330cf9ac479d819195794d79ad0c7616e3", "quoteVolume":
        "3356.961420", "baseVolume": "0.06725336508", "last": "0.000020034000000000",
        "bid": "0.0000200350000", "ask": "0.005", "updated": "2018-04-14T21:09:28.036664"},
        "ETH_0x2ca72c9": {"tokenAddr": "0x2ca72c9699b92b47272c9716c664cad6167c80b0",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.00049999956", "bid": "0.00000171940000",
        "ask": "0.007", "updated": "2018-04-14T21:09:40.962921"}, "ETH_0x2ccbff3":
        {"tokenAddr": "0x2ccbff3a042c68716ed2a2cb0c544a9f1d1935e1", "quoteVolume":
        "143.3396471", "baseVolume": "0.1290631616", "last": "0.0009004010001", "bid":
        "0.00091501", "ask": "0.00064", "updated": "2018-04-14T21:09:43.142063"},
        "ETH_0x2cfd4c1": {"tokenAddr": "0x2cfd4c10c075fa51649744245ec1d0aa3d567e23",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.0000029660000", "bid": "1.154110000e-7",
        "ask": "0.0000029490000", "updated": "2018-04-14T21:09:46.566062"}, "ETH_0x2daee1a":
        {"tokenAddr": "0x2daee1aa61d60a252dc80564499a69802853583a", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.00001720000", "bid": "0.0000120000", "ask":
        "0.0000240000", "updated": "2018-04-14T21:09:53.731677"}, "ETH_0x2dbe0f0":
        {"tokenAddr": "0x2dbe0f03f1dddbdbc87557e86df3878ae25af855", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.001", "bid": "0.000355", "ask": "0.00075",
        "updated": "2018-04-14T21:09:55.901640"}, "ETH_0x2eb86e8": {"tokenAddr": "0x2eb86e8fc520e0f6bb5d9af08f924fe70558ab89",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.0000026020000000000", "bid":
        "0.00000280000", "ask": "0.0000040000", "updated": "2018-04-14T21:10:00.168077"},
        "ETH_0x2edc6fc": {"tokenAddr": "0x2edc6fcc641f0169d54abb842f96f701eae85e4e",
        "quoteVolume": "0", "baseVolume": "0", "last": "2.329990000e-7", "bid": "1.40000e-8",
        "ask": "0.000248888", "updated": "2018-04-14T21:10:02.499177"}, "ETH_0x2f1b8c9":
        {"tokenAddr": "0x2f1b8c9d0a21b747d8ca370f93cb09d3daf222ef", "quoteVolume":
        "0", "baseVolume": "0", "last": null, "bid": "5.590000e-7", "ask": null, "updated":
        "2018-04-14T21:10:07.407512"}, "ETH_0x2f5e044": {"tokenAddr": "0x2f5e044ad4adac34c8d8df738fac7743eda1409c",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.000027501399990000", "bid":
        "0.00002750140000", "ask": "0.001998", "updated": "2018-04-14T21:10:12.004224"},
        "ETH_0x31b5e97": {"tokenAddr": "0x31b5e97294e1afd6fff6ffe4cba89a344555f753",
        "quoteVolume": "0", "baseVolume": "0", "last": "0.000674", "bid": "0.000006650000",
        "ask": "0.0999888", "updated": "2018-04-14T21:10:32.147159"}, "ETH_0x3276827":
        {"tokenAddr": "0x327682779bab2bf4d1337e8974ab9de8275a7ca8", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.0005600000001", "bid": "0.00051", "ask":
        "0.0009999", "updated": "2018-04-14T21:10:35.242216"}, "ETH_0x331a550": {"tokenAddr":
        "0x331a550a2c7f96384eb69127aa0ea9ad4b5da099", "quoteVolume": "0", "baseVolume":
        "0", "last": "0.1683883919", "bid": "0.00000120000", "ask": "0.00499999",
        "updated": "2018-04-14T21:10:42.711845"}, "ETH_0x37f014c": {"tokenAddr": "0x37f014c64d186eaf879c0033846b51924ce42584",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "0.001000010000",
        "ask": "1.000000000", "updated": "2018-04-14T21:11:12.333725"}, "ETH_0x386467f":
        {"tokenAddr": "0x386467f1f3ddbe832448650418311a479eecfc57", "quoteVolume":
        "0", "baseVolume": "0", "last": "0.00008750000000000", "bid": "0.000034000000000000",
        "ask": "0.000087499000000000", "updated": "2018-04-14T21:11:19.701743"}, "ETH_0x3896874":
        {"tokenAddr": "0x38968746147bbaeb882f356ad9a57594bb158235", "quoteVolume":
        "0", "baseVolume": "0", "last": "4.3000000000000e-7", "bid": "4.270000e-7",
        "ask": "0.000002090000", "updated": "2018-04-14T21:11:24.234554"}, "ETH_0x38d1c39":
        {"tokenAddr": "0x38d1c39c3e85dbf0fc2f2d637a4872530ad07a5f", "quoteVolume":
        "0", "baseVolume": "0", "last": null, "bid": "0.0000050290000", "ask": null,
        "updated": "2018-04-14T21:11:28.473344"}, "ETH_0x39013f9": {"tokenAddr": "0x39013f961c378f02c2b82a6e1d31e9812786fd9d",
        "quoteVolume": "0", "baseVolume": "0", "last": null, "bid": "0.0001", "ask":
        "0.089", "updated": "2018-04-14T21:11:32.253751"}, "ETH_0x399a0e6": {"tokenAddr":
[...]
