---
http_interactions:
- request:
    method: get
    uri: https://api.binance.co.ug/api/v1/ticker/24hr?symbol=BNBUGX
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"BNBUGX","priceChange":"-821.00","priceChangePercent":"-3.445","weightedAvgPrice":"21447.18","prevClosePrice":"25357.00","lastPrice":"23014.00","lastQty":"0.70207000","bidPrice":"21919.00","bidQty":"5.22123000","askPrice":"23090.00","askQty":"13.42586000","openPrice":"23835.00","highPrice":"23835.00","lowPrice":"20241.00","volume":"184.58221000","quoteVolume":"3958767.09","openTime":1548685502195,"closeTime":1548771902195,"firstId":5578,"lastId":5630,"count":53}'
  recorded_at: Tue, 29 Jan 2019 14:25:05 GMT
recorded_with: VCR 4.0.0
