---
http_interactions:
- request:
    method: get
    uri: https://api.binance.co.ug/api/v1/exchangeInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '{"timezone":"Africa/Kampala","serverTime":1548771904513,"rateLimits":[{"rateLimitType":"ORDERS","interval":"SECOND","intervalNum":1,"limit":10},{"rateLimitType":"ORDERS","interval":"DAY","intervalNum":1,"limit":100000}],"exchangeFilters":[],"symbols":[{"symbol":"BTCUGX","status":"TRADING","baseAsset":"BTC","baseAssetPrecision":8,"quoteAsset":"UGX","quotePrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"filters":[{"filterType":"PRICE_FILTER","minPrice":"1454680.00","maxPrice":"145467910.00","tickSize":"1.00"},{"filterType":"LOT_SIZE","minQty":"0.00000100","maxQty":"10000000.00000000","stepSize":"0.00000100"},{"filterType":"MIN_NOTIONAL","minNotional":"10000.00","applyToMarket":true,"avgPriceMins":5},{"filterType":"ICEBERG_PARTS","limit":10},{"filterType":"MAX_POSITION","maxPosition":"10000000.00000000"},{"filterType":"MAX_NUM_ALGO_ORDERS","maxNumAlgoOrders":5}]},{"symbol":"ETHUGX","status":"TRADING","baseAsset":"ETH","baseAssetPrecision":8,"quoteAsset":"UGX","quotePrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"filters":[{"filterType":"PRICE_FILTER","minPrice":"41100.00","maxPrice":"4109940.00","tickSize":"1.00"},{"filterType":"LOT_SIZE","minQty":"0.00001000","maxQty":"10000000.00000000","stepSize":"0.00001000"},{"filterType":"MIN_NOTIONAL","minNotional":"10000.00","applyToMark[...]
