---
http_interactions:
- request:
    method: get
    uri: https://api.unnamed.exchange/v1/Public/Ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"market":"1337_BTC","change":0.0,"baseVolume":0.00000000,"volume":0.00000000,"low":0.00000001,"high":0.00000001,"open":0.00000001,"close":0.00000001,"highestBuy":0.00000000,"lowestSell":0.00000001},{"market":"1337_DOGE","change":-22.03,"baseVolume":31747.92725091,"volume":6702825.50127014,"low":0.00460000,"high":0.00589998,"open":0.00589998,"close":0.00460000,"highestBuy":0.00450000,"lowestSell":0.00589991},{"market":"1337_ETH","change":0.00,"baseVolume":0.00000000,"volume":0.00000000,"low":0.00000000,"high":0.00000000,"open":0.00000000,"close":0.00000000,"highestBuy":0.00000000,"lowestSell":0.00009888},{"market":"1337_LTC","change":0.0,"baseVolume":0.00000000,"volume":0.000000[...]
