---
http_interactions:
- request:
    method: get
    uri: https://api.unnamed.exchange/v1/Public/TradeHistory?market=LTC_BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"tradeId":153566,"market":"LTC_BTC","type":"Buy","price":0.00675000,"amount":0.00048194,"total":0.00000325,"timestamp":1569921961766},{"tradeId":153545,"market":"LTC_BTC","type":"Buy","price":0.00675000,"amount":0.03900000,"total":0.00026325,"timestamp":1569915585245},{"tradeId":152782,"market":"LTC_BTC","type":"Buy","price":0.00675000,"amount":4.87771943,"total":0.03292460,"timestamp":1569839229664},{"tradeId":152781,"market":"LTC_BTC","type":"Buy","price":0.00674000,"amount":0.34399500,"total":0.00231852,"timestamp":1569839223492},{"tradeId":152087,"market":"LTC_BTC","type":"Buy","price":0.00675000,"amount":0.[...]
