---
http_interactions:
- request:
    method: get
    uri: https://api.cobinhood.com/v1/market/orderbooks/BTC-USD?limit=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Reset:
      - '1556091543'
    body:
      encoding: UTF-8
      string: '{"success":true,"result":{"orderbook":{"sequence":0,"bids":[["5032.6","1","0.02144368"],["5030.6","1","0.00207794"],["5030","1","0.0011"],["4150.1","1","0.03588326"],["4150","1","0.1"],["3750","1","0.02"],["3700","1","0.02"],["3650","1","0.02"],["3600","1","0.02"],["3550","1","0.02"],["3500","1","0.02"],["3450","1","0.02"],["3400","1","0.02"],["3179","1","0.01276654"],["3173.8","1","0.04"],["3000","1","0.01"],["900.1","1","0.12408559"],["900","1","0.41877362"],["821","1","0.03918284"],["816.6","1","0.03450143"],["778.2","1","0.09381802"],["674.5","1","0.11991111"],["644.4","1","0.02977155"],["211.3","1","0.35238822"],["211.2","1","0.49208924"],["211","1","0.59541298"],["114.9","1","0.32401928"],["114.8","1","0.31643733"],["114.7","1","1.2"],["35.5","1","1.5"],["30.3","1","1.5"],["13","1","0.2"],["6.2","1","0.19"],["2.3","2","8.18671043"],["1.3","1","12.88461522"],["1","1","50"]],"asks":[["5839.5","1","0.05993631"],["5840.7","1","0.002"],["5890","1","0.01"],["5998","1","0.0094"],["7570","1","0.003"],["8353","1","0.003"],["9090","1","0.02"],["9110","2","0.02642847"],["9269","1","0.02379357"],["20110","1","0.05"],["20111","1","0.01"],["21110.9","1","0.00854725"],["71199","1","0.00412948"],["76899","1","0.02"],["77978.9","1","0.006"],["94709","1","0.01"],["99912.8","1","0.09"],["980111","1","0.006"],["999000","1","0.004"]]}}}'
  recorded_at: Wed, 24 Apr 2019 07:38:02 GMT
recorded_with: VCR 4.0.0
