---
http_interactions:
- request:
    method: get
    uri: https://openapi.prixbit.com/openapi/v1/ticker/24hr/2019-05-27
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ncp-Trace-Id:
      - 62p366lim2dpl3ee9hc4r38cpo
    body:
      encoding: UTF-8
      string: '{"error_code":"0","error_msg":"success","result":[{"baseAsset":"BTC","quoteAsset":"BAT","tradeDate":"2019-05-27T00:00:00","openingPrice":0E-20,"closingPrice":0E-20,"highPrice":0E-20,"lowPrice":0E-20,"currentPrice":0E-20,"tradeVolum":0E-20},{"baseAsset":"BTC","quoteAsset":"BCHABC","tradeDate":"2019-05-27T00:00:00","openingPrice":0E-20,"closingPrice":0E-20,"highPrice":0E-20,"lowPrice":0E-20,"currentPrice":0E-20,"tradeVolum":0E-20},{"baseAsset":"BTC","quoteAsset":"ETH","tradeDate":"2019-05-27T00:00:00","openingPrice":0.03140000000000000000,"closingPrice":0.03140000000000000000,"highPrice":0.03140000000000000000,"lowPrice":0.03140000000000000000,"currentPrice":0.03139999999999999736,"tradeVolum":0E-20},{"baseAsset":"BTC","quote[...]
