---
http_interactions:
- request:
    method: get
    uri: https://www.coinbig.com/api/publics/v1/kline?symbol=BTC_USDT&type=1day
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:pro:80
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":[{"date":1554134400000,"high":4834.5385,"vol":82001.46109999994,"close_price":4729.3525,"last":5390.78,"low":4135.0208,"open_price":4145.1946},{"date":1554220800000,"high":5034.5199,"vol":89631.37780000031,"close_price":4957.375,"last":5390.78,"low":4446.5928,"open_price":4729.3525},{"date":1554307200000,"high":5277.1936,"vol":79153.17140000002,"close_price":4981.7865,"last":5390.78,"low":4863.5588,"open_price":4957.375},{"date":1554393600000,"high":5028.3854,"vol":55464.735900000014,"close_price":4965.4618,"last":5390.78,"low":4787.3951,"open_price":4981.7865},{"date":1554480000000,"high":5019.3318,"vol":79921.0422000001,"c[...]
