---
http_interactions:
- request:
    method: get
    uri: https://www.coinbig.com/api/publics/v1/kline?symbol=BTC_USDT&type=1hour
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:pro:80
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"success","data":[{"date":1554001200000,"high":4107.0273,"vol":3587.887699999999,"close_price":4095.0188,"last":5542.18,"low":4081.9957,"open_price":4083.6229},{"date":1554004800000,"high":4110.7315,"vol":3645.7593000000006,"close_price":4097.1146,"last":5542.18,"low":4095.0185,"open_price":4095.0188},{"date":1554008400000,"high":4107.5172,"vol":4081.216899999999,"close_price":4094.8852,"last":5542.18,"low":4090.7111,"open_price":4097.1146},{"date":1554012000000,"high":4096.4621,"vol":3596.1552000000015,"close_price":4090.0805,"last":5542.18,"low":4085.8445,"open_price":4094.8852},{"date":1554015600000,"high":4105.1491,"vol":3985.07769999999[...]
