---
http_interactions:
- request:
    method: get
    uri: https://trade.thecoin.pw/api/v1/public/getorderbook?market=BTC-LEA&type=both
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":{"buy":[],"sell":[{"Quantity":2500,"Rate":"0.00000003"},{"Quantity":2500,"Rate":"0.00000004"},{"Quantity":4000,"Rate":"0.00000005"},{"Quantity":2896,"Rate":"0.00000006"},{"Quantity":7094,"Rate":"0.00000007"}]}}'
  recorded_at: Sun, 05 Aug 2018 16:26:44 GMT
recorded_with: VCR 4.0.0
