---
http_interactions:
- request:
    method: get
    uri: https://trade.thecoin.pw/api/v1/public/getmarketsummary?market=BTC-LEA&period=250
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":{"MarketName":"BTC-LEA","High":0,"Low":0,"Volume":0,"Last":"5.0000000e-8","Bid":"0.00000000","Ask":"0.00000003","OpenBuyOrders":0,"OpenSellOrders":5,"coin_icon_src":"https%3A//lea.thecoin.pw/favicon.ico","coin_info":{"minconf":120,"hold":0.002,"page":"https://bitcointalk.org/index.php?topic=1006917.0","active":true,"withdraw":"Enabled","orders":"Enabled"}}}'
  recorded_at: Sun, 05 Aug 2018 16:26:43 GMT
recorded_with: VCR 4.0.0
