---
http_interactions:
- request:
    method: get
    uri: https://trade.thecoin.pw/api/v1/public/getmarkethistory?market=BTC-LEA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"Id":14,"TimeStamp":"2018-07-20T16:06:03.420","Quantity":4000,"Price":5e-8,"Total":0.00019999999999999998,"FillType":"FILL","OrderType":"SELL"}]}'
  recorded_at: Sun, 05 Aug 2018 16:31:53 GMT
recorded_with: VCR 4.0.0
