---
http_interactions:
- request:
    method: get
    uri: https://trade.thecoin.pw/api/v1/public/getmarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"","result":[{"MarketCurrency":"LEA","BaseCurrency":"BTC","MarketCurrencyLong":"Leacoin","BaseCurrencyLong":"Bitcoin","MinTradeSize":0,"MarketName":"BTC-LEA","IsActive":true,"Created":"2014-02-13T00:00:00","info":{"minconf":120,"hold":0.002,"page":"https://bitcointalk.org/index.php?topic=1006917.0","active":true,"withdraw":"Enabled","orders":"Enabled"}},{"MarketCurrency":"UNIT","BaseCurrency":"BTC","MarketCurrencyLong":"UniversalCurrency","BaseCurrencyLong":"Bitcoin","MinTradeSize":0,"MarketName":"BTC-UNIT","IsActive":true,"Created":"2014-02-13T00:00:00","info":{"minconf":25,"hold":0.01,"page":"https://bitcointalk.org/index.php?topic=1037825","active":true,"withdraw":"Enabled","orders":"Enabled"}},{"MarketCurrency":"TIT","BaseCurrency":"BTC","MarketCurrencyLong":"Titcoin","BaseCurrencyLong":"Bitcoin","MinTradeSize":0,"MarketName":"B[...]
