---
http_interactions:
- request:
    method: post
    uri: https://www.qbtc.ink/json/getAllCoinInfo.do
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
      X-Cdn-Edge:
      - b564a0c,-
    body:
      encoding: UTF-8
      string: '{"result":[{"volume":1213.3671,"symbol":"ETH_HKT","high":1146.91,"last":1146.29,"buyone":1110.00000000,"low":1112.59,"sellone":1146.98000000},{"volume":127519.62999999999,"symbol":"CNYT_HKT","high":1.16721,"last":1.16716,"buyone":1.16200000,"low":1.16496,"sellone":1.16755000},{"volume":0,"symbol":"USDT_HKT","high":0,"last":0.0,"buyone":0,"low":0,"sellone":7.88000000},{"volume":0,"symbol":"BTC_HKT","high":0,"last":0.0,"buyone":20.00000000,"low":0,"sellone":0},{"volume":0,"symbol":"EOS_HKT","high":0,"last":0.0,"buyone":20.10000000,"low":0,"sellone":0},{"volume":13359.500000000007,"symbol":"BAC_HKT","high":371.653,"last":3[...]
