---
http_interactions:
- request:
    method: get
    uri: https://www.qbtc.com/json/getAllCoinInfo.do
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
      X-Cdn-Edge:
      - 2774ac3,-
    body:
      encoding: UTF-8
      string: '{"statusCode":200,"message":"操作成功","result":[{"symbol":"USDT_CNYT","last":6.709,"volume":116575.42120839,"high":6.71,"sellone":6.75,"low":6.7,"buyone":6.591},{"symbol":"QBTC_CNYT","last":3.166,"volume":8115.6426,"high":3.24,"sellone":3.682,"low":3.12,"buyone":3.08},{"symbol":"WICC_CNYT","last":2.89,"volume":8751.8,"high":2.89,"sellone":3.62,"low":2.8,"buyone":2.42},{"symbol":"BTHnew_CNYT","last":3.2,"volume":4628.89937967,"high":3.2,"sellone":3.2,"low":3,"buyone":2.772},{"symbol":"BTC_CNYT","last":41701.1873,"volume":1314.28965236,"high":42313.837,"sellone":41705.8035,"low":41286.7876,"buyone":41692.072},{"symbol":"PLCC_CNYT","last":0.02465411[...]
