---
http_interactions:
- request:
    method: post
    uri: https://www.myqbtc.com/json/getAllCoinInfo.do
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
      X-Cdn-Edge:
      - 6ea28b7,-
    body:
      encoding: UTF-8
      string: '{"result":[{"volume":11407230.81578144,"symbol":"BTR_CNYT","high":0.1496,"last":0.14959,"buyone":0.143,"low":0.143,"sellone":0.14959},{"volume":662362634.3824065,"symbol":"TRTL_CNYT","high":0.001056,"last":0.0009249,"buyone":0.00092,"low":0.00092,"sellone":0.0009639},{"volume":114312.55,"symbol":"DERO_CNYT","high":6.218,"last":5.703,"buyone":5.7,"low":5.701,"sellone":6.22},{"volume":13011479.33,"symbol":"PLCC_CNYT","high":0.00142565,"last":0.00136809,"buyone":0.001356,"low":0.00135873,"sellone":0.00136836},{"volume":26988.39979149,"symbol":"CLC_CNYT","high":0.1196,"last":0.1196,"buyone":0.11,"low":0.115,"sellone":0.12[...]
