---
http_interactions:
- request:
    method: post
    uri: https://www.myqbtc.com/json/depthTable.do?symbol=BTR&tradeMarket=CNYT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
      X-Cdn-Edge:
      - b80cdc3,-
    body:
      encoding: UTF-8
      string: '{"result":{"buy":[{"amount":"7403.628444","price":"0.143"},{"amount":"1108.778","price":"0.142"},{"amount":"2305.716606","price":"0.141"},{"amount":"72607.70328586","price":"0.1402"},{"amount":"676.644","price":"0.1401"},{"amount":"388.110224","price":"0.14"},{"amount":"200.517399","price":"0.139"},{"amount":"84.57970679","price":"0.138"},{"amount":"537.386255","price":"0.137"},{"amount":"82.16225427","price":"0.136"},{"amount":"3571.186767","price":"0.135"},{"amount":"76.19550588","price":"0.134"},{"amount":"85.91391805","price":"0.133"},{"amount":"292.15438405","price":"0.132"},{"amount":"2495","price":"0.13001"},{"amount":"6652.668","price":"0.13"},{"amount":"1432.8283","price":"0.121"},{"amount":"1234.8823","price":"0.12"},{"amount":"4990","price":"0.1101"},{"amount":"64660.62750987","price":"0.11"},{"amount":"998","price":"0.10000006"},{"amount":"998","price":"0.10000005"},{"amount":"998","price":"0.10000004"},{"amount":"998","price":"0.10000003"},{"amount":"998","price":"0.10000002"},{"amount":"998","price":"0.10000001"},{"amount":"2684.030142","price":"0.1"},{"amount":"88908.36282607","price":"0.08"}],"sell":[{"amount":"1.996","price":"0.14959"},{"amount":"12975.996","price":"0.1496"},{"amount":"3121.012361","price":"0.15"},{"amount":"104.1912","price":"0.154"},{"amount":"9980","price":"0.16"},{"amount":"4977.026","price":"0.164"},{"amount":"1027.922217","price":"0.169"},{"amount":"1992.008","price":"0.1749"},{"amount":"4990","price":"0.175"},{"amount":"26671.55","price":"0.179"},{"amount":"35151.95916766","price":"0.1799"},{"amount":"6599.774","price":"0.18"},{"amount":"5547.882","price":"0.182"},{[...]
