---
http_interactions:
- request:
    method: get
    uri: https://www.qbtc.me/json/recentDealList.do?symbol=BTX&tradeMarket=USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
    body:
      encoding: UTF-8
      string: '{"result":[{"amount":143.77,"totalPrice":42.2295621,"createTime":1588667856812,"price":0.29373,"entrustId":"robot-B95E6B7872DE4907AFEEF1C5F108C7A1","entrustType":1},{"amount":141.954,"totalPrice":41.85371736,"createTime":1588667816271,"price":0.29484,"entrustId":"robot-0862E6DCC7AC4A99A22AC2E2A284C71A","entrustType":2},{"amount":122.99,"totalPrice":36.1529105,"createTime":1588667765749,"price":0.29395,"entrustId":"robot-5474BE6604EB4D4A8FDA6AB24CDA6FB3","entrustType":1},{"amount":137.957,"totalPrice":40.48210208,"createTime":1588667693892,"price":0.29344,"entrustId":"robot-26265313062C40428C8F96EDAF719053","entrustType":2},{"amount":116.165,"totalPrice":[...]
