---
http_interactions:
- request:
    method: get
    uri: https://www.qbtc.com/json/recentDealList.do?symbol=BCH&tradeMarket=USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
      X-Cdn-Edge:
      - c99f629,-
    body:
      encoding: UTF-8
      string: '{"statusCode":200,"message":"操作成功","result":[{"amount":"0.11170437","createTime":1531664972683,"price":"721.35","totalPrice":"80.57794729","entrustType":2},{"amount":"0.50211342","createTime":1531664969011,"price":"721.35","totalPrice":"362.19951551","entrustType":2},{"amount":"0.18978618","createTime":1531664968886,"price":"721.35","totalPrice":"136.90226094","entrustType":2},{"amount":"0.42403161","createTime":1531664967121,"price":"721.35","totalPrice":"305.87520187","entrustType":2},{"amount":"0.26786799","createTime":1531664966808,"price":"721.35","totalPrice":"193.22657458","entrustType":2},{"amount":"0.3459498","createTime":1531664963371,[...]
