---
http_interactions:
- request:
    method: post
    uri: https://www.qbtc.me/json/depthTable.do?symbol=BTX&tradeMarket=USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
    body:
      encoding: UTF-8
      string: '{"result":{"buy":[{"amount":68.54,"price":0.29300},{"amount":63.45,"price":0.28220},{"amount":45.45,"price":0.28000},{"amount":52.45,"price":0.27550},{"amount":725.81546000,"price":0.27500},{"amount":68.45,"price":0.27250},{"amount":47.45,"price":0.27000},{"amount":34.98810000,"price":0.25000},{"amount":32.00,"price":0.24220},{"amount":66.00,"price":0.24000},{"amount":125.87,"price":0.23500},{"amount":98.44,"price":0.23220},{"amount":30.00,"price":0.23000},{"amount":90.00,"price":0.22700},{"amount":120.00,"price":0.22500},{"amount":100.[...]
