---
http_interactions:
- request:
    method: post
    uri: https://www.qbtc.ink/json/depthTable.do?symbol=BTR&tradeMarket=CNYT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
      X-Cdn-Edge:
      - b564a0c,-
    body:
      encoding: UTF-8
      string: '{"result":{"buy":[{"amount":2794.4,"price":0.14000000},{"amount":85.91391805,"price":0.13300000},{"amount":292.15438405,"price":0.13200000},{"amount":290.03847406,"price":0.13100000},{"amount":95.66763538,"price":0.13000000},{"amount":223.11693892,"price":0.12900000},{"amount":98.67998135,"price":0.12800000},{"amount":95.19118130,"price":0.12700000},{"amount":96.62715659,"price":0.12600000},{"amount":5947.917479,"price":0.12500000},{"amount":96.91456107,"price":0.12400000},{"amount":130.82795993,"price":0.12300000},{"amount":2495.00000000,"price":0.12210000},{"amount":1432.82830000,"price":0.12100000},{"amount":11213.8843,"price":0.12000000},{"amount":150.14874800,"price":0.11900000},{"amount":131.41548591,"price":0.11800000},{"amount":127.03245588,"price":0.11700000},{"amount":98.97964311,"price":0.11600000},{"amount":134.85065611,"price":0.11500000},{"amount":212.69397924,"price":0.11400000},{"amount":223.18756664,"price":0.11300000},{"amount":219.29865118,"price":0.11200000},{"amount":131.83851406,"price":0.11100000},{"amount":4990.00000000,"price":0.11010000},{"amount":9979.00200000,"price":0.11000000},{"amount":12908.16179104,"price":0.10050000},{"amount":998.00000000,"price":0.10000006},{"amount":998.00000000,"price":0.10000005},{"amount":998.00000000,"price":0.10000004},{"amount":998.00000000,"price":0.10000003},{"amount":998.00000000,"price":0.10000002},{"amount":998.00000000,"price":0.10000001}],"sell":[{"amount":2000.00000000,"price":0.17400000},{"amount":1996.00000000,"price":0.17500000},{"amount":1656.68000000,"price":0.17800000},{"amount":9980.00000000,"price":0.17900000},{"amount":6052.85124007,"price":0.18000000},{"amount":90179.28000000,"price":0.18900000},{"amount":58475.608154,"price":0.19000000},{"amount":26671.55000000,"price":0.19900000},{"amount":5220.53800000,"price":0.19960000},{"amount":181688.894,"price":0.20000000},{"amount":6040.05403956,"price":0.20500000},{"amount":6885.66[...]
