---
http_interactions:
- request:
    method: get
    uri: https://www.myqbtc.com/json/recentDealList.do?symbol=BTR&tradeMarket=CNYT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
      X-Cdn-Edge:
      - b80cdc3,-
    body:
      encoding: UTF-8
      string: '{"result":[{"amount":"996.004","totalPrice":"148.99223836","createTime":1547127873861,"price":"0.14959","entrustType":1},{"amount":"3766.84855031","totalPrice":"563.14385827","createTime":1547126294577,"price":"0.1495","entrustType":1},{"amount":"1935.84682733","totalPrice":"289.40910068","createTime":1547126288468,"price":"0.1495","entrustType":1},{"amount":"1505.65864348","totalPrice":"225.0959672","createTime":1547126282480,"price":"0.1495","entrustType":1},{"amount":"1673.98303588","totalPrice":"250.26046386","createTime":1547124122803,"price":"0.1495","entrustType":1},{"amount":"1720.75273541","totalPrice"[...]
