---
http_interactions:
- request:
    method: post
    uri: https://www.qbtc.com/json/getAllCoinInfo.do
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
      X-Cdn-Edge:
      - 2774ac3,-
    body:
      encoding: UTF-8
      string: '{"statusCode":200,"message":"操作成功","result":[{"symbol":"USDT_CNYT","last":6.709,"volume":116575.42120839,"high":6.71,"sellone":6.75,"low":6.7,"buyone":6.59},{"symbol":"QBTC_CNYT","last":3.157,"volume":19105.36613,"high":3.24,"sellone":3.682,"low":3.14,"buyone":3.08},{"symbol":"WICC_CNYT","last":2.64,"volume":15789.3206,"high":2.89,"sellone":3.62,"low":2.64,"buyone":2.42},{"symbol":"BTHnew_CNYT","last":3.2,"volume":4628.89937967,"high":3.2,"sellone":3.2,"low":3,"buyone":2.772},{"symbol":"BTC_CNYT","last":41917.9367,"volume":1323.91565728,"high":42313.837,"sellone":42321.957,"low":41286.7876,"buyone":41902.862},{"symbol":"PLCC_CNYT","last":0.024[...]
