---
http_interactions:
- request:
    method: get
    uri: https://www.qbtc.me/json/getAllCoinInfo.do
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
    body:
      encoding: UTF-8
      string: '{"result":[{"volume":518572.49877939955,"symbol":"LTC_USDT","high":47.88,"buyonenum":"2.7715","last":47.461,"buyone":47.420,"low":45.47,"sellonenum":"5.1316","range":0.75,"sellone":47.730},{"volume":414380.5579999981,"symbol":"VTC_USDT","high":0.32599,"buyonenum":"12.2","last":0.32585,"buyone":0.31000,"low":0.31566,"sellonenum":"34","range":1.29,"sellone":0.32600000},{"volume":411691.2510000005,"symbol":"MONA_USDT","high":1.34729,"buyonenum":"17.8036","last":1.34282,"buyone":1.3300,"low":1.33,"sellonenum":"0.85428","range":-0.01,"sellone":1.3473},{"volume":1172558769.4949234,"symbol":"DOGE_USDT","high":0.002535,"buyonenum":"17107.32","last":0.002474,"buyone":0.002457,"low"[...]
