---
http_interactions:
- request:
    method: get
    uri: https://www.qbtc.ink/json/recentDealList.do?symbol=BTR&tradeMarket=CNYT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Xdomainrequestallowed:
      - '1'
      X-Cdn-Edge:
      - b564a0c,-
    body:
      encoding: UTF-8
      string: '{"result":[{"amount":189.88636275,"totalPrice":32.85034075,"createTime":1550679454528,"price":0.173,"entrustId":"79FE89E9D72441BCA805B6D98534F6B9","entrustType":1},{"amount":189.88636275,"totalPrice":27.53352259,"createTime":1550679437824,"price":0.145,"entrustId":"1EDE589FC7A042C6AE2850B958645A2E","entrustType":2},{"amount":152.04478224,"totalPrice":22.04649342,"createTime":1550679415057,"price":0.145,"entrustId":"4DFC2E30A53645CAA8E80C4098D8E580","entrustType":1},{"amount":152.04478224,"totalPrice":22.04649342,"createTime":1550679406771,"price":0.145,"entrustId":"63CA385E5FD04246BFBE419EB8EC73BE","entrustType":1},{"amount":4701.62404484,"totalPrice":6[...]
