---
http_interactions:
- request:
    method: get
    uri: https://www.mercadobitcoin.net/api/BTC/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1f9769c7"'
      Content-Type:
      - application/json
      X-Iinfo:
      - 8-58801827-58799400 2CNN RT(1507003528531 96) q(0 0 0 1) r(0 0) U18
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"ticker": {"high": "14900.00000000", "low": "14353.21000000", "vol":
        "364.01231592", "last": "14700.00000000", "buy": "14605.00000000", "sell":
        "14700.00000000", "date": 1506998526}}'
  recorded_at: Tue, 03 Oct 2017 04:05:29 GMT
recorded_with: VCR 3.0.3
