---
http_interactions:
- request:
    method: get
    uri: https://www.therocktrading.com/api/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; charset=utf-8
      Etag:
      - W/"58f648c567c9855c383a633209584cf4"
    body:
      encoding: UTF-8
      string: '{"result":{"errorCode":"OK","tickers":{"BTCEUR":{"bid":5346.5,"ask":5353.24,"last":5339.87,"volume":{"currency":"EUR","amount":24428064},"volume_traded":{"currency":"BTC","amount":4479910000},"open":5583.01,"high":5612.09,"low":5315.0,"close":5364.44},"LTCEUR":{"bid":43.78,"ask":44.03,"last":43.78,"volume":{"currency":"EUR","amount":1282855},"volume_traded":{"currency":"LTC","amount":28579000000},"open":49.04,"high":49.54,"low":44.33,"close":44.33},"LTCBTC":{"bid":0.0081177,"ask":0.00815993,"last":0.00815885,"volume":{"currency":"BTC","amount":25068325},"volume_traded":{"currency":"LTC","amount":2949000000},"open":0.0086852,"high":0.00883967,"low":0.00830817,"close":0.00830997},"BTCXRP":{"bid":22970.15,"ask":23084.88,"last":22970.15,"volume":{"currency":"XRP","amount":13497905314},"volume_traded":{"currency":"BTC","amount":58410000},"open":23124.76,"high":23316.94,"low":22985.49,"close":23084.94},"EURXRP":{"bid":4.28,"ask":4.29,"last":4.29,"volume":{"currency":"XRP","amount":57685788800},"volume_traded":{"currency":"EUR","amount":1347269},"open":4.13,"high":4.33,"low":4.1,"close":4.28},"PPCEUR":{"bid":0.9,"ask":0.91,"last":0.9,"volume":{"currency":"EUR","amount":5832},"volume_traded":{"currency":"PPC","amount":6554000000},"open":0.9,"high":0.9,"low":0.9,"close":0.9},"PPCBTC":{"bid":0.00015896,"ask":0.00017059,"last":0.00015896,"volume":{"currency":"BTC","amount":1232547},"volume_traded":{"currency":"PPC","amount":7722000000},"open":0.00016059,"high":0.00016059,"low":0.00015897,"close":0.00015897},"ETHEUR":{"bid":167.41,"ask":168.44,"last":168.63,"volume":{"currency":"EUR","amount":7967938},"volume_traded":{"currency":"ETH","amount":448445000},"open":189.92,"high":192.91,"low":165.0,"close":169.65},"ETHBTC":{"bid":0.03115623,"ask":0.03136824,"last":0.03115622,"volume":{"currency":"BTC","amount":97555612},"volume_traded":{"currency":"ETH","amount":30354000},"open":0.03364236,"high":0.03407288,"low":0.0310051,"close":0.03135002},"ZECBTC":{"bid":0.01730203,"ask":0.01746748,"last":0.01721704,"volume":{"currency":"BTC","amount":20146514},"volume_traded":{"currency":"ZEC","amount":1137400000},"open":0.01831501,"high":0.01840243,"low":0.0173012,"close":0.01730164},"ZECEUR":{"bid":92.61,"ask":93.29,"last":93.26,"volume":{"currency":"EUR","amount":134266},"volume_traded":{"currency":"ZEC","amount":1384400000},"open":101.97,"high":102.74,"low":92.63,"close":92.64},"BCHBTC":{"bid":0.06638513,"ask":0.06714906,"last":0.06648266,"volume":{"currency":"BTC","amount":6724188},"volume_traded":{"currency":"BCH","amount":98800000},"open":0.0691083,"high":0.0707793,"low":0.066,"close":0.06655821},"EUREURN":{"bid":1.095,"ask":1.229,"last":1.095,"volume":{"currency":"EURN","amount":43112800040},"volume_traded":{"currency":"EUR","amount":3921187},"open":1.098,"high":1.23,"low":1.09,"close":1.23},"ETHEURN":{"bid":195.024,"ask":237.798,"last":237.798,"volume":{"currency":"EURN","amount":3091374},"volume_traded":{"currency":"ETH","amount":13000},"open":175.0,"high":175.0,"low":175.0,"close":175.0},"NOKUEURN":{"bid":0.244,"ask":0.255,"last":0.255,"volume":{"currency":"EURN","amount":46973726},"volume_traded":{"currency":"NOKU","amount":185274000},"open":0.244,"high":0.262,"low":0.244,"close":0.244},"NOKUETH":{"bid":0.000667,"ask":0.001313,"last":0.000667,"volume":{"currency":"ETH","amount":1100823},"volume_traded":{"currency":"NOKU","amount":1019261000},"open":0.001314,"high":0.001314,"low":0.001,"close":0.001124},"FDZETH":{"bid":0.000019,"ask":0.00002,"last":0.00002,"volume":{"currency":"ETH","amount":18177845},"volume_traded":{"currency":"FDZ","amount":908893842000},"open":0.000019,"high":0.00002,"low":0.000019,"close":0.00002},"BCHEUR":{"bid":355.27,"ask":359.42,"last":355.2,"volume":{"currency":"EUR","amount":278381},"volume_traded":{"currency":"BCH","amount":758200000},"open":384.45,"high":394.83,"low":350.01,"close":356.86},"BTCGUSD":{"bid":3500.0,"ask":6649.9,"last":6000.0,"volume":{"currency":"GUSD","amount":31473},"volume_traded":{"currency":"BTC","amount":6900000},"open":5000.0,"high":5000.0,"low":3550.0,"close":3550.0},"GUSDEUR":{"bid":0.98,"ask":1.5,"last":2.74,"volume":{"currency":"EUR","amount":693},"volume_traded":{"currency":"GUSD","amount":395},"open":1.39,"high":1.63,"low":1.39,"close":1.61}}}}'
  recorded_at: Tue, 18 Sep 2018 04:54:09 GMT
recorded_with: VCR 4.0.0
