---
http_interactions:
- request:
    method: get
    uri: https://www.therocktrading.com/api/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; charset=utf-8
      Etag:
      - W/"a734dbd115c03f8923722796c82c7d65"
    body:
      encoding: UTF-8
      string: '{"result":{"errorCode":"OK","tickers":{"BTCEUR":{"bid":3668.09,"ask":3669.78,"last":3650.9,"volume":1435357.72,"volume_traded":401.68,"open":3685.59,"high":3763.5,"low":3658.79,"close":3763.5},"BTCUSD":{"bid":4366.83,"ask":4371.9,"last":4383.14,"volume":16045.74,"volume_traded":3.665,"open":4319.76,"high":4418.35,"low":4312.84,"close":4418.35},"LTCEUR":{"bid":43.76,"ask":43.8,"last":43.76,"volume":2681.43,"volume_traded":59.94,"open":44.12,"high":45.23,"low":43.4,"close":45.23},"LTCBTC":{"bid":0.01183,"ask":0.01186,"last":0.01189,"volume":0.7009104,"volume_traded":58.62,"open":0.01197,"high":0.012,"low":0.01189,"close":0.012},"BTCXRP":{"bid":18532.6,"ask":18576.28,"last":18575.15,"volume":29057.56293,"volume_traded":1.582,"open":18037.57,"high":18739.59,"low":17978.54,"close":18739.59},"EURXRP":{"bid":4.98,"ask":5.08,"last":5.04,"volume":32354.6637,"volume_traded":6631.54,"open":4.94,"high":5.01,"low":4.78,"close":5.01},"USDXRP":{"bid":4.25,"ask":4.26,"last":4.29,"volume":1431.6194,"volume_traded":343.96,"open":4.15,"high":4.29,"low":4.08,"close":4.29},"PPCEUR":{"bid":1.08,"ask":1.09,"last":1.08,"volume":927.7,"volume_traded":857.1,"open":1.12,"high":1.12,"low":1.04,"close":1.12},"PPCBTC":{"bid":0.00029,"ask":0.0003,"last":0.0003,"volume":0.19169928,"volume_traded":653.92,"open":0.00031,"high":0.00031,"low":0.00028,"close":0.00031},"ETHEUR":{"bid":263.94,"ask":264.93,"last":264.45,"volume":118414.96,"volume_traded":469.6,"open":252.23,"high":260.24,"low":251.4,"close":260.24},"ETHBTC":{"bid":0.07162,"ask":0.07179,"last":0.07147,"volume":5.69760587,"volume_traded":81.25,"open":0.0683,"high":0.07074,"low":0.06772,"close":0.07074},"ZECBTC":{"bid":0.05888,"ask":0.0589,"last":0.05908,"volume":1.37261636,"volume_traded":22.84,"open":0.05942,"high":0.06313,"low":0.05671,"close":0.06313},"ZECEUR":{"bid":216.84,"ask":217.46,"last":217.5,"volume":10620.75,"volume_traded":47.88,"open":218.83,"high":232.66,"low":214.63,"close":232.66},"BCHBTC":{"bid":0.08314,"ask":0.0836,"last":0.08359,"volume":0.8967889,"volume_traded":10.717,"open":0.08387,"high":0.08568,"low":0.08146,"close":0.08568}}}}'
  recorded_at: Sat, 07 Oct 2017 02:08:15 GMT
recorded_with: VCR 3.0.3
