---
http_interactions:
- request:
    method: get
    uri: https://api.therocktrading.com/v1/funds/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; charset=utf-8
      Etag:
      - W/"04921dfeaa81a6968da5be53e2516949"
    body:
      encoding: UTF-8
      string: '{"tickers":[{"date":"2019-02-19T04:37:06.125Z","fund_id":"BTCEUR","bid":3428.69,"ask":3434.45,"last":3434.63,"open":3209.03,"close":3414.48,"low":3199.15,"high":3453.73,"volume":651089.25838,"volume_traded":192.0524},{"date":"2019-02-19T04:37:05.859Z","fund_id":"LTCEUR","bid":41.36,"ask":41.88,"last":41.2,"open":38.34,"close":41.77,"low":38.34,"high":43.0,"volume":31409.6802,"volume_traded":783.06},{"date":"2019-02-19T04:37:05.522Z","fund_id":"LTCBTC","bid":0.01205598,"ask":0.01262553,"last":0.01262714,"open":0.01214633,"close":0.01216482,"low":0.0118434,"high":0.01266186,"volume":3.30886038,"volume_traded":271.59},{"date":"2019-02-19T04:37:04.717Z","fund_id":"BTCXRP","bid":12033.75,"ask":12093.9,"[...]
[...]
