---
http_interactions:
- request:
    method: get
    uri: https://api.therocktrading.com/v1/funds/NOKUEURN/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; charset=utf-8
      Etag:
      - W/"1d004a6bfec8e62b508f7c580930af75"
    body:
      encoding: UTF-8
      string: '{"trades":[{"id":4955413,"fund_id":"NOKUEURN","amount":0.014,"price":0.15,"side":"buy","dark":false,"date":"2019-02-19T00:49:29.264Z"},{"id":4955412,"fund_id":"NOKUEURN","amount":1.0,"price":0.1,"side":"buy","dark":false,"date":"2019-02-19T00:49:29.243Z"},{"id":4949506,"fund_id":"NOKUEURN","amount":1.0,"price":0.077,"side":"sell","dark":false,"date":"2019-02-17T19:00:48.000Z"},{"id":4939511,"fund_id":"NOKUEURN","amount":1.0,"price":0.1,"side":"buy","dark":true,"date":"2019-02-14T10:56:15.225Z"},{"id":4912463,"fund_id":"NOKUEURN","amount":1.0,"price":0.09,"side":"buy","dark":true,"date":"2019-02-07T16[...]
