---
http_interactions:
- request:
    method: get
    uri: https://api.therocktrading.com/v1/funds/NOKUEURN/orderbook
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; charset=utf-8
      Etag:
      - W/"b15c4f5c208c4e6e7e8ee39cd44e19fe"
    body:
      encoding: UTF-8
      string: '{"date":"2019-02-19T04:35:37Z","fund_id":"NOKUEURN","asks":[{"price":0.15,"amount":399.986,"amount_depth":399.986,"depth":59.9979},{"price":0.164,"amount":8.0,"amount_depth":407.986,"depth":61.3099},{"price":0.17,"amount":4082.48,"amount_depth":4490.466,"depth":755.3315},{"price":0.238,"amount":30.0,"amount_depth":4520.466,"depth":762.4715},{"price":0.24,"amount":64.57,"amount_depth":4585.036,"depth":777.9683},{"price":0.25,"amount":19.43,"amount_depth":4604.466,"depth":782.8258},{"price":0.26,"amount":50.34,"amount_depth":4654.806,"depth":795.9142},{"price":0.27,"amount":33.306,"amount_depth":4688.112,"depth":804.[...]
