---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/OrderBook/ETHBTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"ETHBTC","isBuy":false,"timestamp":"2017-12-19T08:59:18.386+00:00","prices":[{"volume":-13.970344,"price":0.0459},{"volume":-2.242331,"price":0.04591},{"volume":-57.420726,"price":0.04592},{"volume":-84.187165,"price":0.04593},{"volume":-16.824014,"price":0.04594},{"volume":-10.398038,"price":0.04595},{"volume":-9.556974,"price":0.04596},{"volume":-7.54206,"price":0.04597},{"volume":-9.116159,"price":0.04598},{"volume":-0.048121,"price":0.04599},{"volume":-28.940505,"price":0.046},{"volume":-39.168177,"price":0.04601},{"volume":-70.74074,"price":0.04602},{"volume":-3.566449,"price":0.04603},{"volume[...]
