---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/OrderBook/ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"ETHBTC","isBuy":false,"timestamp":"2018-07-20T10:08:19.856Z","prices":[{"volume":-6.90162836,"price":0.06295},{"volume":-2.07333333,"price":0.06296},{"volume":-3.64136118,"price":0.06297},{"volume":-3.78060659,"price":0.06298},{"volume":-8.842274,"price":0.06299},{"volume":-2.0,"price":0.063},{"volume":-0.3,"price":0.06301},{"volume":-29.64083836,"price":0.06301},{"volume":-44.47472141,"price":0.06302},{"volume":-10.3999,"price":0.06303},{"volume":-37.166955,"price":0.06304},{"volume":-21.83965076,"price":0.06305},{"volume":-2.0,"price":0.06315},{"volume":-0.34409,"price":0.06813},{"volume":-0.[...]
