---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Sun, 24 Dec 2017 14:48:25 GMT
=======
      - Fri, 29 Dec 2017 12:38:17 GMT
>>>>>>> upstream/master
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Encoding:
      - chunked
      Connection:
      - close
      Request-Context:
      - appId=cid-v1:f3d21ed7-805d-4d78-b43f-15f9702ec589
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST, OPTIONS
      Access-Control-Allow-Headers:
      - Content-Type, Accept
    body:
      encoding: UTF-8
      string: '[{"id":"AUDUSD","name":"AUD/USD","accuracy":5,"invertedAccuracy":5,"baseAssetId":"AUD","quotingAssetId":"USD"},{"id":"BTCCHF","name":"BTC/CHF","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"CHF"},{"id":"BTCEUR","name":"BTC/EUR","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"EUR"},{"id":"BTCGBP","name":"BTC/GBP","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"GBP"},{"id":"BTCJPY","name":"BTC/JPY","accuracy":2,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"JPY"},{"id":"BTCLKK","name":"BTC/LYKKE","accuracy":2,"inver[...]
