---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/OrderBook/ETHBTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"ETHBTC","isBuy":false,"timestamp":"2018-01-23T15:41:36.433+00:00","prices":[{"volume":-0.2,"price":0.09165},{"volume":-0.1,"price":0.09169},{"volume":-2.0,"price":0.09171},{"volume":-0.5,"price":0.09174},{"volume":-0.448053,"price":0.09199},{"volume":-0.30869,"price":0.092},{"volume":-0.5,"price":0.09225},{"volume":-0.2,"price":0.09249},{"volume":-0.017,"price":0.0925},{"volume":-0.3,"price":0.09254},{"volume":-0.5,"price":0.09255},{"volume":-0.329066,"price":0.0926},{"volume":-4.18,"price":0.09265},{"volume":-0.00052,"price":0.09285},{"volume":-0.00052,"price":0.09287},{"volume":-0.00052,"pr[...]
