---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/Market
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"AUDUSD","volume24H":0.0,"lastPrice":0.76,"bid":0.76801,"ask":0.76803},{"assetPair":"BTCCHF","volume24H":601759.84000000125,"lastPrice":18537.5,"bid":18337.5,"ask":18577.419},{"assetPair":"BTCEUR","volume24H":149150.88999999996,"lastPrice":15992.589,"bid":15750.0,"ask":15900.0},{"assetPair":"BTCGBP","volume24H":17357.36,"lastPrice":14027.283,"bid":13816.67,"ask":14083.763},{"assetPair":"BTCJPY","volume24H":0.0,"lastPrice":2100000.0,"bid":2081680.91,"ask":2121849.12},{"assetPair":"BTCLKK","volume24H":276437.01999999979,"lastPrice":69825.99,"bid":69993.05,"a[...]
