---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/Market
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"AUDUSD","volume24H":0.0,"lastPrice":0.79907,"bid":0.79923,"ask":0.79925},{"assetPair":"BTCCHF","volume24H":149908.88000000003,"lastPrice":10809.25,"bid":10950.0,"ask":11100.0},{"assetPair":"BTCEUR","volume24H":47852.310000000027,"lastPrice":9129.0,"bid":9044.25,"ask":9128.499},{"assetPair":"BTCGBP","volume24H":18391.38,"lastPrice":8098.0,"bid":7999.0,"ask":8050.0},{"assetPair":"BTCJPY","volume24H":48891.409999999989,"lastPrice":1252924.16,"bid":1227711.43,"ask":1251939.01},{"assetPair":"BTCLKK","volume24H":4272.04,"lastPrice":42250.0,"bid":43706.76,"ask":443[...]
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"APPCBTC","name":"APPC/BTC","accuracy":6,"invertedAccuracy":8,"baseAssetId":"c083156d-a31c-480e-98c9-ec647a435107","quotingAssetId":"115a60c2-0da1-40f9-a7f2-41da723b9074"},{"id":"AUDUSD","name":"AUD/USD","accuracy":5,"invertedAccuracy":5,"baseAssetId":"AUD","quotingAssetId":"USD"},{"id":"BTCCHF","name":"BTC/CHF","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"CHF"},{"id":"BTCEUR","name":"BTC/EUR","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"EUR"},{"id":"BTCGBP","name":"BTC/GBP","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"GBP"},{"id":"BTCJPY","name[...]
