---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/OrderBook/ETHBTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Sun, 24 Dec 2017 14:48:27 GMT
=======
      - Fri, 29 Dec 2017 12:38:20 GMT
>>>>>>> upstream/master
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Encoding:
      - chunked
      Connection:
      - close
      Request-Context:
      - appId=cid-v1:f3d21ed7-805d-4d78-b43f-15f9702ec589
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST, OPTIONS
      Access-Control-Allow-Headers:
      - Content-Type, Accept
    body:
      encoding: UTF-8
<<<<<<< HEAD
      string: '[{"assetPair":"ETHBTC","isBuy":false,"timestamp":"2017-12-24T14:41:43.034+00:00","prices":[{"volume":-0.17907,"price":0.05099},{"volume":-2.0,"price":0.05216},{"volume":-1.0,"price":0.05217},{"volume":-4.913445,"price":0.05225},{"volume":-0.001,"price":0.0531},{"volume":-1.90325,"price":0.0549},{"volume":-2.0,"price":0.0552},{"volume":-0.2,"price":0.0552},{"volume":-1.62,"price":0.0555},{"volume":-1.7148,"price":0.05579},{"volume":-0.7615,"price":0.05588},{"volume":-20.0,"price":0.0559},{"volume":-0.663,"price":0.056},{"volume":-0.004,"price":0.056},{"volume":-1.0,"price":0.057},{"volume":-1.0,"price":0.059},{"[...]
