---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"AEBTC","name":"AE/BTC","accuracy":6,"invertedAccuracy":8,"baseAssetId":"6f75280b-a005-4016-a3d8-03dc644e8912","quotingAssetId":"BTC"},{"id":"AEETH","name":"AE/ETH","accuracy":6,"invertedAccuracy":8,"baseAssetId":"6f75280b-a005-4016-a3d8-03dc644e8912","quotingAssetId":"ETH"},{"id":"AGIBTC","name":"AGI/BTC","accuracy":6,"invertedAccuracy":8,"baseAssetId":"5edfc49b-f3f6-4827-a2ec-0b40f301973b","quotingAssetId":"BTC"},{"id":"AGIETH","name":"AGI/ETH","accuracy":6,"invertedAccuracy":8,"baseAssetId":"5edfc49b-f3f6-4827-a2ec-0b40f301973b","quotingAssetId":"ETH"},{"id":"AIONBTC","name":"AION/BTC","accuracy":6,"invertedAccuracy":[...]
