---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/rate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"TIMEUSD","bid":20.6,"ask":21.85},{"id":"HCPBTC","bid":5.876E-05,"ask":6.192E-05},{"id":"LKK1YLKK","bid":0.87,"ask":0.8745},{"id":"LKKCHF","bid":0.21649,"ask":0.21969},{"id":"BTCGBP","bid":10550.0,"ask":11850.0},{"id":"XAGUSD","bid":16.715,"ask":16.721},{"id":"LKKJPY","bid":24.894,"ask":25.23},{"id":"BTCUSD","bid":15490.0,"ask":15608.5},{"id":"GBPCHF","bid":1.32161,"ask":1.32196},{"id":"SLREUR","bid":0.4499998,"ask":0.4976055},{"id":"USDHKD","bid":7.81636,"ask":7.81656},{"id":"XAUUSD","bid":1289.26,"ask":1289.44},{"id":"H[...]
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"AUDUSD","name":"AUD/USD","accuracy":5,"invertedAccuracy":5,"baseAssetId":"AUD","quotingAssetId":"USD"},{"id":"BTCCHF","name":"BTC/CHF","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"CHF"},{"id":"BTCEUR","name":"BTC/EUR","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"EUR"},{"id":"BTCGBP","name":"BTC/GBP","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"GBP"},{"id":"BTCJPY","name":"BTC/JPY","accuracy":2,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"JPY"},{"id":"BTCLKK","name":"BTC/LYKKE","accuracy":2,"inver[...]
