---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/OrderBook/ETHBTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"ETHBTC","isBuy":false,"timestamp":"2017-12-29T12:31:48.65+00:00","prices":[{"volume":-2.0,"price":0.05115},{"volume":-1.0,"price":0.05116},{"volume":-6.3,"price":0.05121},{"volume":-0.0051,"price":0.05123},{"volume":-8.278114,"price":0.052},{"volume":-0.044101,"price":0.05268},{"volume":-19.24872,"price":0.053},{"volume":-1.0,"price":0.0563},{"volume":-1.0,"price":0.057},{"volume":-1.0,"price":0.059},{"volume":-9.471908,"price":0.0593},{"volume":-0.533686,"price":0.06},{"volume":-0.5,"price":0.063},{"volume":-0.5,"price":0.066},{"volume":-0.704023,"price":0.07103},{"volume":-16.771031,"price":0.074},{"volume":-20.0,"price":0.075}]},{"assetPair":"ETHBTC","isBuy":true,"timestamp":"2017-12-29T12:25:40.856+00:00","prices":[{"volume":0.222238,"price":0.0497},{"volume":3.0,"price":0.04933},{"volume":8.160779,"price":0.04926},{"volume":5.0,"price":0.04925},{"volume":5.0,"price":0.04885},{"volume":3.696101,"price":0.0481},{"volume":103.400232,"price":0.048},{"volume":1.0,"price":0.0476},{"volume":0.02,"price":0.04622},{"volume":5.051814,"price":0.046},{"volume":3.0,"price":0.04562},{"volume":0.28219,"price":0.045},{"volume":15.0,"price":0.0411},{"volume":20.06,"price":0.041},{"volume":48.9,"price":0.041},{"volume":0.175609,"price":0.04},{"volume":2.7,"price":0.035},{"volume":10.0,"price":0.03252},{"volume":0.061381,"price":0.02851},{"volume":32.936585,"price":0.0205},{"volume":1.111111,"price":0.018},{"volume":22.189494,"price":0.015},{"volume":6.4888,"price":0.0147},{"volume":0.021141,"price":0.01051}]}]'
  recorded_at: Fri, 29 Dec 2017 12:38:20 GMT
recorded_with: VCR 3.0.3