---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/Market
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"AUDUSD","volume24H":0.0,"lastPrice":0.77157,"bid":0.7791,"ask":0.77911},{"assetPair":"BTCCHF","volume24H":291300.17,"lastPrice":15459.0,"bid":15050.0,"ask":15450.0},{"assetPair":"BTCEUR","volume24H":133929.04999999993,"lastPrice":12500.0,"bid":12201.1,"ask":13470.0},{"assetPair":"BTCGBP","volume24H":7781.9499999999971,"lastPrice":11500.0,"bid":10774.695,"ask":11849.0},{"assetPair":"BTCJPY","volume24H":1045333.6900000004,"lastPrice":1681651.0,"bid":1580695.69,"ask":1746942.0},{"assetPair":"BTCLKK","volume24H":70473.57,"lastPrice":67500.0,"bid":68000.0,"ask":[...]
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"AUDUSD","name":"AUD/USD","accuracy":5,"invertedAccuracy":5,"baseAssetId":"AUD","quotingAssetId":"USD"},{"id":"BTCCHF","name":"BTC/CHF","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"CHF"},{"id":"BTCEUR","name":"BTC/EUR","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"EUR"},{"id":"BTCGBP","name":"BTC/GBP","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"GBP"},{"id":"BTCJPY","name":"BTC/JPY","accuracy":2,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"JPY"},{"id":"BTCLKK","name":"BTC/LYKKE","accuracy":2,"inver[...]
