---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/Market
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 10s
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '2018-07-20T10:08:27.9891144Z'
    body:
      encoding: UTF-8
      string: '[{"assetPair":"RRBCHF","volume24H":0.0,"lastPrice":0.0,"bid":60.38929,"ask":60.39474},{"assetPair":"ETHBTC","volume24H":0.26342048,"lastPrice":0.06318,"bid":0.06199,"ask":0.06295},{"assetPair":"GATBTC","volume24H":0.0,"lastPrice":1E-06,"bid":1E-06,"ask":2E-06},{"assetPair":"ICXBTC","volume24H":0.0,"lastPrice":0.000253,"bid":0.000226,"ask":0.000248},{"assetPair":"MTLETH","volume24H":0.0,"lastPrice":0.005,"bid":5E-06,"ask":0.0099},{"assetPair":"PPTBTC","volume24H":0.0,"lastPrice":0.0031,"bid":0.00061,"ask":0.05},{"assetPair":"ZRXETH","volume24H":0.0,"lastPrice":0.00196,"b[...]
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"AEBTC","name":"AE/BTC","accuracy":6,"invertedAccuracy":8,"baseAssetId":"6f75280b-a005-4016-a3d8-03dc644e8912","quotingAssetId":"BTC"},{"id":"AEETH","name":"AE/ETH","accuracy":6,"invertedAccuracy":8,"baseAssetId":"6f75280b-a005-4016-a3d8-03dc644e8912","quotingAssetId":"ETH"},{"id":"AGIBTC","name":"AGI/BTC","accuracy":6,"invertedAccuracy":8,"baseAssetId":"5edfc49b-f3f6-4827-a2ec-0b40f301973b","quotingAssetId":"BTC"},{"id":"AGIETH","name":"AGI/ETH","accuracy":6,"invertedAccuracy":8,"baseAssetId":"5edfc49b-f3f6-4827-a2ec-0b40f301973b","quotingAssetId":"ETH"},{"id":"AIONBTC","name":"AION/BTC","accuracy":6,"invertedAccuracy":[...]
