---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/OrderBook/ETHBTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"ETHBTC","isBuy":false,"timestamp":"2017-12-28T09:39:49.681+00:00","prices":[{"volume":-0.699929,"price":0.04697},{"volume":-4.697834,"price":0.04699},{"volume":-0.8,"price":0.04699},{"volume":-5.0,"price":0.04795},{"volume":-12.741301,"price":0.0489},{"volume":-3.500672,"price":0.04891},{"volume":-4.018648,"price":0.04892},{"volume":-9.227004,"price":0.04893},{"volume":-1.370681,"price":0.04894},{"volume":-0.08,"price":0.04895},{"volume":-0.022082,"price":0.04896},{"volume":-26.621573,"price":0.04897},{"volume":-32.483695,"price":0.04898},{"volume":-6.756611,"price":0.04899},{"volume":-0.041979,"p[...]
