---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/Market
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"AUDUSD","volume24H":0.0,"lastPrice":0.77157,"bid":0.77821,"ask":0.77823},{"assetPair":"BTCCHF","volume24H":294367.98999999987,"lastPrice":15200.0,"bid":15200.0,"ask":15675.0},{"assetPair":"BTCEUR","volume24H":148523.00999999992,"lastPrice":13495.0,"bid":13102.0,"ask":13495.0},{"assetPair":"BTCGBP","volume24H":16794.5,"lastPrice":11527.419,"bid":10550.0,"ask":11850.0},{"assetPair":"BTCJPY","volume24H":1200403.2199999997,"lastPrice":1749936.0,"bid":1681651.0,"ask":1812232.0},{"assetPair":"BTCLKK","volume24H":87972.0199999999,"lastPrice":70500.0,"bid":68000.0,"[...]
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"AUDUSD","name":"AUD/USD","accuracy":5,"invertedAccuracy":5,"baseAssetId":"AUD","quotingAssetId":"USD"},{"id":"BTCCHF","name":"BTC/CHF","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"CHF"},{"id":"BTCEUR","name":"BTC/EUR","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"EUR"},{"id":"BTCGBP","name":"BTC/GBP","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"GBP"},{"id":"BTCJPY","name":"BTC/JPY","accuracy":2,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"JPY"},{"id":"BTCLKK","name":"BTC/LYKKE","accuracy":2,"inver[...]
