---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/Market
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Sun, 24 Dec 2017 15:38:08 GMT
=======
      - Fri, 29 Dec 2017 12:38:18 GMT
>>>>>>> upstream/master
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Encoding:
      - chunked
      Connection:
      - close
      Request-Context:
      - appId=cid-v1:f3d21ed7-805d-4d78-b43f-15f9702ec589
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST, OPTIONS
      Access-Control-Allow-Headers:
      - Content-Type, Accept
    body:
      encoding: UTF-8
<<<<<<< HEAD
      string: '[{"assetPair":"AUDUSD","volume24H":1000.0,"lastPrice":0.77157,"bid":0.77107,"ask":0.77157},{"assetPair":"BTCCHF","volume24H":466289.44000000157,"lastPrice":13655.104,"bid":13910.0,"ask":14100.0},{"assetPair":"BTCEUR","volume24H":157469.07000000015,"lastPrice":11400.0,"bid":11300.0,"ask":11999.0},{"assetPair":"BTCGBP","volume24H":35987.439999999966,"lastPrice":11394.0,"bid":9793.911,"ask":11389.0},{"assetPair":"BTCJPY","volume24H":231660.1,"lastPrice":1512242.48,"bid":1482214.48,"ask":1580090.0},{"assetPair":"BTCLKK","volume24H":82215.460000000036,"lastPrice":58942.0,"bid":569[...]
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Sun, 24 Dec 2017 15:38:09 GMT
=======
      - Fri, 29 Dec 2017 12:38:19 GMT
>>>>>>> upstream/master
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Encoding:
      - chunked
      Connection:
      - close
      Request-Context:
      - appId=cid-v1:f3d21ed7-805d-4d78-b43f-15f9702ec589
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST, OPTIONS
      Access-Control-Allow-Headers:
      - Content-Type, Accept
    body:
      encoding: UTF-8
      string: '[{"id":"AUDUSD","name":"AUD/USD","accuracy":5,"invertedAccuracy":5,"baseAssetId":"AUD","quotingAssetId":"USD"},{"id":"BTCCHF","name":"BTC/CHF","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"CHF"},{"id":"BTCEUR","name":"BTC/EUR","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"EUR"},{"id":"BTCGBP","name":"BTC/GBP","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"GBP"},{"id":"BTCJPY","name":"BTC/JPY","accuracy":2,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"JPY"},{"id":"BTCLKK","name":"BTC/LYKKE","accuracy":2,"inver[...]
