---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/OrderBook/ETHBTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"ETHBTC","isBuy":false,"timestamp":"2018-01-09T14:54:08.125+00:00","prices":[{"volume":-4E-06,"price":0.07882},{"volume":-0.3,"price":0.082},{"volume":-0.204489,"price":0.08208},{"volume":-0.44,"price":0.0824},{"volume":-0.012,"price":0.08245},{"volume":-5.0,"price":0.08575},{"volume":-1.0,"price":0.099},{"volume":-11.019755,"price":0.1},{"volume":-50.573055,"price":0.12}]},{"assetPair":"ETHBTC","isBuy":true,"timestamp":"2018-01-09T14:44:33.369+00:00","prices":[{"volume":0.745517,"price":0.0766},{"volume":0.007559,"price":0.0765},{"volume":0.130263,"price":0.076},{"volume":0.010017,"price":0.0729},{"volume":0.182508,"price":0.0725},{"volume":0.118172,"price":0.072},{"volume":1.0,"price":0.07115},{"volume":2.504225,"price":0.071},{"volume":3.0,"price":0.06955},{"volume":2.405522,"price":0.067},{"volume":1.071963,"price":0.0667},{"volume":0.09455,"price":0.0664},{"volume":0.610687,"price":0.0655},{"volume":1.0,"price":0.063},{"volume":1.0,"price":0.0616},{"volume":0.099999,"price":0.06143},{"volume":13.981863,"price":0.06},{"volume":4.602011,"price":0.05867},{"volume":4.463597,"price":0.05865},{"volume":7.30989,"price":0.0583},{"volume":4.0,"price":0.05802},{"volume":0.087372,"price":0.05562},{"volume":2.309078,"price":0.05201},{"volume":3.0,"price":0.05},{"volume":13.601559,"price":0.041},{"volume":0.175609,"price":0.04}]}]'
  recorded_at: Tue, 09 Jan 2018 14:55:17 GMT
recorded_with: VCR 3.0.3
