---
http_interactions:
- request:
    method: get
<<<<<<< HEAD
    uri: https://public-api.lykke.com/api/AssetPairs/rate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"TIMEUSD","bid":21.55,"ask":22.4},{"id":"HCPBTC","bid":5.876E-05,"ask":6.192E-05},{"id":"LKK1YLKK","bid":0.85,"ask":0.8575},{"id":"LKKCHF","bid":0.2141,"ask":0.243},{"id":"BTCGBP","bid":9968.0,"ask":11394.0},{"id":"XAGUSD","bid":16.333,"ask":16.423},{"id":"LKKJPY","bid":26.066,"ask":26.18},{"id":"BTCUSD","bid":13806.0,"ask":14050.0},{"id":"GBPCHF","bid":1.32,"ask":1.32316},{"id":"SLREUR","bid":0.40000001,"ask":0.44},{"id":"USDHKD","bid":7.80163,"ask":7.82873},{"id":"XAUUSD","bid":1274.54,"ask":1275.38},{"id":"HCPCHF","bid"[...]
- request:
    method: get
=======
>>>>>>> upstream/master
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Sun, 24 Dec 2017 14:48:25 GMT
=======
      - Fri, 29 Dec 2017 12:38:17 GMT
>>>>>>> upstream/master
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Encoding:
      - chunked
      Connection:
      - close
      Request-Context:
      - appId=cid-v1:f3d21ed7-805d-4d78-b43f-15f9702ec589
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST, OPTIONS
      Access-Control-Allow-Headers:
      - Content-Type, Accept
    body:
      encoding: UTF-8
      string: '[{"id":"AUDUSD","name":"AUD/USD","accuracy":5,"invertedAccuracy":5,"baseAssetId":"AUD","quotingAssetId":"USD"},{"id":"BTCCHF","name":"BTC/CHF","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"CHF"},{"id":"BTCEUR","name":"BTC/EUR","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"EUR"},{"id":"BTCGBP","name":"BTC/GBP","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"GBP"},{"id":"BTCJPY","name":"BTC/JPY","accuracy":2,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"JPY"},{"id":"BTCLKK","name":"BTC/LYKKE","accuracy":2,"inver[...]
