---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/Market
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"assetPair":"AUDUSD","volume24H":78.28,"lastPrice":0.7828,"bid":0.78108,"ask":0.7811},{"assetPair":"BTCCHF","volume24H":311560.95000000007,"lastPrice":14833.0,"bid":14930.088,"ask":14962.45},{"assetPair":"BTCEUR","volume24H":112007.01999999999,"lastPrice":12907.752,"bid":12850.0,"ask":12894.857},{"assetPair":"BTCGBP","volume24H":36009.64,"lastPrice":11189.693,"bid":10859.626,"ask":11669.0},{"assetPair":"BTCJPY","volume24H":581222.91,"lastPrice":1695743.78,"bid":1648257.59,"ask":1816557.8},{"assetPair":"BTCLKK","volume24H":39323.460000000006,"lastPrice":77457.0,"bid":76822[...]
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"AUDUSD","name":"AUD/USD","accuracy":5,"invertedAccuracy":5,"baseAssetId":"AUD","quotingAssetId":"USD"},{"id":"BTCCHF","name":"BTC/CHF","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"CHF"},{"id":"BTCEUR","name":"BTC/EUR","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"EUR"},{"id":"BTCGBP","name":"BTC/GBP","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"GBP"},{"id":"BTCJPY","name":"BTC/JPY","accuracy":2,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"JPY"},{"id":"BTCLKK","name":"BTC/LYKKE","accuracy":2,"inver[...]
