---
http_interactions:
- request:
    method: get
    uri: https://openapi.dcoin.com/open/api/market_dept?symbol=btcusdt&type=step0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"Success.","data":{"asks":[[10165.13,0.14],[10166.8,0.22],[10167.32,0.31],[10167.87,0.02],[10168.36,0.0803],[10168.66,0.1],[10169.11,0.3511],[10169.6,0.2],[10170.18,0.069],[10170.87,0.307],[10171.1,0.05],[10171.67,0.045],[10172.19,0.1283],[10172.64,0.0372],[10173.19,0.1011],[10173.66,0.031],[10174.32,0.2],[10174.63,0.4],[10175.35,0.02],[10175.79,0.287],[10176.25,0.07],[10176.72,0.04],[10177.24,0.1984],[10177.89,1.0049],[10178.1,0.068],[10178.69,0.8771],[10179.2,0.1],[10179.65,0.48],[10180.21,0.183],[10180.69,0.0692],[101[...]
