---
http_interactions:
- request:
    method: get
    uri: https://openapi.dcoin.com/api/v1/allticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"date":"1541604792","ticker":[{"symbol":"btc_usdt","buy":"6491.3072","high":"6608.9700","last":"6540.3900","low":"6469.9900","sell":"6563.9250","change":"+0.62","vol":"1029.0657"},{"symbol":"eth_usdt","buy":"216.2459","high":"224.8100","last":"217.0600","low":"214.7400","sell":"218.7090","change":"-0.08","vol":"7187.8883"},{"symbol":"ltc_usdt","buy":"53.2700","high":"56.9000","last":"53.6700","low":"53.6300","sell":"54.0859","change":"-2.11","vol":"7752.0000"},{"symbol":"bch_usdt","buy":"608.7076","high":"646.8200","last":"611.0000","low":"600.3300","sell":"615.8265","change":"+0.79","vol":"184.7956"},{"symbol":"etc_usdt","buy":"9.5454","high":"10.0399","last[...]
