---
http_interactions:
- request:
    method: get
    uri: https://openapi.dcoin.com/open/api/get_trades?size=100&symbol=btcusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":0,"msg":"Success.","data":[{"id":21237700,"price":10165.13,"volume":0.14,"direction":"BUY","self_deal":false,"ts":1568961630018},{"id":21237699,"price":10166.04,"volume":0.1,"direction":"BUY","self_deal":false,"ts":1568961628017},{"id":21237698,"price":10165.98,"volume":0.1,"direction":"SELL","self_deal":false,"ts":1568961626025},{"id":21237697,"price":10164.67,"volume":0.1161,"direction":"BUY","self_deal":false,"ts":1568961624995},{"id":21237696,"price":10165.13,"volume":0.14,"direction":"BUY","self_deal":false,"ts":1568961623968},{"id":21237695,"price":10165.02,"volume":0.7376,"direction":"BUY","self_deal[...]
