---
http_interactions:
- request:
    method: get
    uri: https://openapi.dcoin.com/api/v1/allticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"date":"1568961629","ticker":[{"symbol":"btc_usdt","buy":"10163.33","high":"10323.42","last":"10165.98","low":"9817.50","sell":"10166.80","change":"+3.13","vol":"10835"},{"symbol":"eth_usdt","buy":"217.4220","high":"223.8084","last":"217.5689","low":"205.2564","sell":"217.6178","change":"+5.88","vol":"438138"},{"symbol":"ltc_usdt","buy":"75.5110","high":"77.4984","last":"75.5291","low":"73.5632","sell":"75.6027","change":"+2.46","vol":"241494"},{"symbol":"bch_usdt","buy":"318.23","high":"324.90","last":"318.32","low":"307.38","sell":"318.28","change":"+2.78","vol":"17966"},{"symbol":"etc_usdt","buy":"6.07980","high":"6.29694","last":"6.08949","low":"5.9[...]
