---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/v2/symbols/PAX_USDT/orders
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"buys":[{"amount":"320.15","total":"320.15","price":"0.9948","count":"2"},{"amount":"98.82","total":"418.97","price":"0.9947","count":"2"},{"amount":"226.11","total":"645.08","price":"0.9941","count":"1"},{"amount":"200.69","total":"845.77","price":"0.9940","count":"1"},{"amount":"21.5","total":"867.27","price":"0.9938","count":"1"},{"amount":"134.39","total":"1001.66","price":"0.9936","count":"2"},{"amount":"219.62","total":"1221.28","price":"0.9935","count":"2"},{"amount":"18.61","total":"1239.89","price":"0.9934","count":"1"},{"amount":"194.01","total":"1433.9[...]
