---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/ticker/BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"priceChange":"1.23%","symbolId":53,"website":"https://www.bitmart.com/trade?symbol=BTC_USDT","depthEndPrecision":2,"ask_1":"10734.50","anchorId":17,"anchorName":"USDT","pair":"BTC_USDT","volume":"9924.65098","coinId":2,"depthStartPrecision":1,"high_24h":"10787.04","low_24h":"10472.29","new_24h":"10729.90","closeTime":1567766310526,"bid_1":"10720.72","coinName":"BTC","baseVolume":"105761855.54122","openTime":1567679910526}'
  recorded_at: Fri, 06 Sep 2019 10:38:30 GMT
recorded_with: VCR 4.0.0
