---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/v2/symbols/BTC_USDT/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"amount":"5021.39087190","price":"10172.79","count":"0.49361","order_time":1568796600095,"type":"sell"},{"amount":"524.73994650","price":"10171.35","count":"0.05159","order_time":1568796600095,"type":"sell"},{"amount":"25.83522900","price":"10171.35","count":"0.00254","order_time":1568796601323,"type":"sell"},{"amount":"6014.78642800","price":"10171.28","count":"0.59135","order_time":1568796606576,"type":"sell"},{"amount":"4665.48735770","price":"10171.33","count":"0.45869","order_time":1568796607290,"type":"sell"},{"amount":"3605.33425350","price":"10171.63","count":"0.35445","order_time"[...]
