---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/tickers/market_cap
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"priceChange":"-3.81%","symbolId":45,"website":"https://www.bitmart.com/trade?symbol=ABT_BTC","depthEndPrecision":8,"ask_1":"0.00002830","anchorId":2,"anchorName":"BTC","pair":"ABT_BTC","volume":"551.00000000","coinId":24,"depthStartPrecision":6,"high_24h":"0.00002890","low_24h":"0.00002730","new_24h":"0.00002780","closeTime":1535605484569,"bid_1":"0.00002780","coinName":"ABT","baseVolume":"0.01582560","openTime":1535519084569},{"priceChange":"-1.25%","symbolId":92,"website":"https://www.bitmart.com/trade?symbol=AE_BTC","depthEndPrecision":8,"ask_1":"0.00016290","anchorId":2,"anchorName":"BTC","pair":"AE_BTC","volume":"7475.00000000","coinId":39,"depthStartPrecision":6,"high_24h":"0.00017035","low_24h":"0.00016130","new_24h":"0.00016130","closeTime":1535605484570,"bid_1":"0.00016130","coinName":"AE","baseVolume":"1.23046345","openTime":1535519084570},{"priceChange":"0%","symbolId":123,"website":"https://[...]
