---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/tickers/market_cap
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"priceChange":"-2.90%","symbolId":1066,"website":"https://www.bitmart.com/trade?symbol=1SG_BTC","depthEndPrecision":6,"ask_1":"0.000069","anchorId":2,"anchorName":"BTC","pair":"1SG_BTC","volume":"918.0","coinId":2029,"depthStartPrecision":4,"high_24h":"0.000069","low_24h":"0.000067","new_24h":"0.000067","closeTime":1567766307803,"bid_1":"0.000066","coinName":"1SG","baseVolume":"0.1","openTime":1567679907803},{"priceChange":"6.68%","symbolId":1110,"website":"https://www.bitmart.com/trade?symbol=ABBC_BTC","depthEndPrecision":8,"ask_1":"0.00000800","anchorId":2,"anchorName":"BTC","pair":"ABBC_BTC","volume":"47024624.6","coinId":1991,"depthStartPrecision":6,"high_24h":"0.00000828","low_24h":"0.00000723","new_24h":"0.00000799","closeTime":1567766307807,"bid_1":"0.00000723","coinName":"ABBC","baseVolume":"368.5","openTime":1567679907807},{"priceChange":"0.51%","symbolId":45,"website":"https[...]
