---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/market/depth?precision=1&symbol=53
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"buys":[{"amount":"0.00467","total":"0.00","price":"10720.7","count":"2"},{"amount":"0.00125","total":"0.01","price":"10720.4","count":"1"},{"amount":"0.10755","total":"0.11","price":"10719.3","count":"1"},{"amount":"0.09162","total":"0.21","price":"10717.9","count":"1"},{"amount":"0.10362","total":"0.31","price":"10716.5","count":"1"},{"amount":"0.11356","total":"0.42","price":"10715.3","count":"1"},{"amount":"0.07661","total":"0.50","price":"10713.5","count":"1"},{"amount":"0.04277","total":"0.54","price":"10686.4","count":"1"},{"amount":"0.09521","total":"0.64[...]
