---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/v2/symbols_details
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"1SG_BTC","base_currency":"1SG","quote_currency":"BTC","quote_increment":"0.1","base_min_size":"0.1000000000","base_max_size":"10000000.0000000000","price_min_precision":4,"price_max_precision":6,"expiration":"NA"},{"id":"ABBC_BTC","base_currency":"ABBC","quote_currency":"BTC","quote_increment":"0.1","base_min_size":"0.1000000000","base_max_size":"10000000.0000000000","price_min_precision":6,"price_max_precision":8,"expiration":"NA"},{"id":"ABT_BTC","base_currency":"ABT","quote_currency":"BTC","quote_increment":"0.01","base_min_size":"0.0100000000","base_max_size":"100000000.0000000000","price_min_precision":6,"price_max_precision":8,"expiration":"NA"},{"id":"AE_BTC","base_currency":"AE","quote_curre[...]
