---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/market/deal?symbol=45
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"amount":"0.00030580","createTime":1535586820000,"price":"0.00002780","count":"11","entrustType":0},{"amount":"0.00039760","createTime":1535580691000,"price":"0.00002840","count":"14","entrustType":1},{"amount":"0.00046410","createTime":1535571911000,"price":"0.00002730","count":"17","entrustType":0},{"amount":"0.00049500","createTime":1535562945000,"price":"0.00002750","count":"18","entrustType":1},{"amount":"0.00035880","createTime":1535561376000,"price":"0.00002760","count":"13","entrustType":0},{"amount":"0.00025020","createTime":1535547620000,"price":"0.00002780","count":"9","entrustTy[...]
