---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/market/deal?symbol=53
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"amount":"70740.18820710","price":"10735.11","count":"6.58961","entrustType":1,"createTime":1567765686261},{"amount":"76767.45155700","price":"10735.10","count":"7.15107","entrustType":1,"createTime":1567765703782},{"amount":"63085.19821680","price":"10733.01","count":"5.87768","entrustType":1,"createTime":1567765719483},{"amount":"65582.12566320","price":"10733.01","count":"6.11032","entrustType":0,"createTime":1567765721993},{"amount":"43723.02018600","price":"10733.79","count":"4.07340","entrustType":0,"createTime":1567765732772},{"amount":"54765.12721980","price":"10733.02","count"[...]
