---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/v2/symbols/BTC_USDT/orders
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"buys":[{"amount":"0.17571","total":"0.18","price":"9210.66","count":"1"},{"amount":"0.19499","total":"0.37","price":"9209.86","count":"1"},{"amount":"0.16191","total":"0.53","price":"9208.64","count":"1"},{"amount":"0.20712","total":"0.74","price":"9208.03","count":"1"},{"amount":"0.17519","total":"0.91","price":"9206.32","count":"1"},{"amount":"0.18884","total":"1.10","price":"9205.20","count":"1"},{"amount":"0.10596","total":"1.21","price":"9195.02","count":"1"},{"amount":"0.02","total":"1.23","price":"9195.01","count":"1"},{"amount":"0.12298","total":"1.35","[...]
