---
http_interactions:
- request:
    method: get
    uri: https://openapi.bitmart.com/v2/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"volume":"6396.4","ask_1":"0.000073","base_volume":"0.5","lowest_price":"0.000068","bid_1":"0.000069","highest_price":"0.000998","ask_1_amount":"12.5","current_price":"0.000071","fluctuation":"0","symbol_id":"1SG_BTC","url":"https://www.bitmart.com/trade?symbol=1SG_BTC","bid_1_amount":"13.1"},{"volume":"36805748.4","ask_1":"0.00001388","base_volume":"403.4","lowest_price":"0.00000908","bid_1":"0.00001073","highest_price":"0.00001387","ask_1_amount":"88.9","current_price":"0.00001387","fluctuation":"+0.4631","symbol_id":"ABBC_BTC","url":"https://www.bitmart.com/trade?symbol=ABBC_BTC","bid_1_amount":"139.7"},{"volume":"200098.12","ask_1":"0.00001926","base_volume":"3.84","lowest_price":"0.00001841","bid_1":"0.00001906","highest_price":"0.00001968","ask_1_amount":"117","current_[...]
