---
http_interactions:
- request:
    method: get
    uri: https://api.unidax.com/open/api/get_ticker?symbol=zrxusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":{"high":0.27410000,"vol":201660.55000000,"last":0.2606000000000000,"low":0.25100000,"buy":"0.2595","sell":"0.2620","time":1553246205265}}'
  recorded_at: Fri, 22 Mar 2019 09:17:33 GMT
recorded_with: VCR 4.0.0
