---
http_interactions:
- request:
    method: get
    uri: https://api.unidax.com/open/api/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":[{"symbol":"zrxusdt","count_coin":"USDT","amount_precision":2,"base_coin":"ZRX","price_precision":4},{"symbol":"omgusdt","count_coin":"USDT","amount_precision":4,"base_coin":"OMG","price_precision":4},{"symbol":"mcoeth","count_coin":"ETH","amount_precision":4,"base_coin":"MCO","price_precision":6},{"symbol":"sntusdt","count_coin":"USDT","amount_precision":4,"base_coin":"SNT","price_precision":6},{"symbol":"wtceth","count_coin":"ETH","amount_precision":4,"base_coin":"WTC","price_precision":6},{"symbol":"gntusdt","count_coin":"USDT","amount_precision":4,"base_coin":"GNT","price_precision":4},{[...]
