---
http_interactions:
- request:
    method: get
    uri: https://api.liquid.com/products?perpetual=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d9f235e8efaff109390bd253cb899102"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"604","product_type":"Perpetual","code":"CASH","name":null,"market_ask":6649.0,"market_bid":6644.0,"indicator":null,"currency":"USD","currency_pair_code":"P-BTCUSD","symbol":"$","btc_minimum_withdraw":null,"fiat_minimum_withdraw":null,"pusher_channel":"product_cash_p-btcusd_604","taker_fee":"0.0","maker_fee":"0.0","low_market_bid":"6176.5","high_market_ask":"6777.0","volume_24h":"179.16494616","last_price_24h":"6335.0","last_traded_price":"6651.0","last_traded_quantity":"0.016","quoted_currency":"USD","base_currency":"P-BTC","tick_size":"0.5","disabled":false,"margin_enabled":false,"cfd_enabled":false,"perpetual_enabled":true,"last_event_timestamp":"1585811585.449824765","timestamp":"1585811585.449824765","index_price":"6636.99833","mark_price":"6646.09573","funding_rate":"0.00092","fair_price":"6646.45316"},{"id":"603","product_type":"Perpetual","code":"CASH","name":null,"market_ask":713300.0,"market_bid":712750.0,"indicator":null,"currency":"JPY","currency_pair_code":"P-BTCJPY","symbol":"¥","btc_minimum_withdraw":null,"fiat_minimum_withdraw":null,"pusher_channel":"product_cash_p-btcjpy_603","taker_fee":"0.0","maker_fee":"0.0","low_market_bid":"661300.0","high_market_ask":"726800.0","volume_24h":"26.33748996","last_price_24h":"681700.0","last_traded_price":"714300.0","last_traded_quantity":"0.01","quoted_currency":"JPY","base_currency":"P-BTC","tick_size":"50.0","disabled":false,"margin_enabled":false,"cfd_enabled":false,"perpetual_enabled":true,"last_event_timestamp":"1585811585.449824765","timestamp":"1585811585.449824765","index_price":"711971.48079","mark_price":"712914.05309","funding_rate":"0.00087","fair_price":"713003.98664"}]'
  recorded_at: Thu, 02 Apr 2020 07:13:07 GMT
recorded_with: VCR 4.0.0
