---
http_interactions:
- request:
    method: get
    uri: https://coinnox.com/api/v2/trades?limit=50&market=trfbtc&order_by=desc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 59.148.173.158
      Etag:
      - W/"6ce1b4af9d898e220d13efd7c218e814"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1237,"price":"0.00001666","volume":"10.47984","funds":"0.0001745941344","market":"trfbtc","created_at":"2018-05-19T06:59:33+02:00","side":null},{"id":1236,"price":"0.00001666","volume":"0.47984","funds":"0.0000079941344","market":"trfbtc","created_at":"2018-05-19T06:59:33+02:00","side":null},{"id":1235,"price":"0.00001667","volume":"3.43984","funds":"0.0000573421328","market":"trfbtc","created_at":"2018-05-19T06:59:14+02:00","side":null},{"id":1234,"price":"0.00001667","volume":"1.47984","funds":"0.0000246689328","market":"trfbtc","created_at":"2018-05-19T06:59:13+02:00","side":null},{"id":1233,"price":"0.00001668","volume":"1.479[...]
