---
http_interactions:
- request:
    method: get
    uri: https://coinnox.com/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 59.148.173.158
      Etag:
      - W/"af2aa2c244fbe652185738aaf3966ca7"
    body:
      encoding: ASCII-8BIT
      string: '{"trfbtc":{"at":1526717143,"ticker":{"buy":"0.00001665","sell":"0.00001666","low":"0.00001666","high":"0.00001671","last":"0.00001666","vol":"30.3592"}},"ltcbtc":{"at":1526717143,"ticker":{"buy":"0.0160023","sell":"0.0","low":"0.0","high":"0.0","last":"0.0170023","vol":"0.0"}},"dashbtc":{"at":1526717143,"ticker":{"buy":"0.0342702","sell":"0.0352702","low":"0.0","high":"0.0","last":"0.0442702","vol":"0.0"}},"xzcbtc":{"at":1526717143,"ticker":{"buy":"0.0030205","sell":"0.00412","low":"0.0","high":"0.0","last":"0.0030205","vol":"0.0"}},"ethbtc":{"at":1526717143,"ticker":{"buy":"0.0563352","sell":"0.0564353","low":"0.0553352","high":"0.0563352","last":"0.0563352","vol":"0.0"}},"dopebtc":{"at":1526717143,"ticker":{"buy":"0.00000797","sell":"0.00000817","low":"0.0","high":"0.0","last":"0.00000797","vol":"0.0"}},"bchbtc":{"at":1526717143,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"alqobtc":{"at":1526717143,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"kmdbtc":{"at":1526717143,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"navbtc":{"at":1526717143,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"pivxbtc":{"at":1526717143,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"superbtc":{"at":1526717143,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"thcbtc":{"at":1526717143,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"xvgbtc":{"at":1526717143,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"zecbtc":{"at":1526717143,"ticker":{"buy":"0.0315","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"zenbtc":{"at":1526717143,"ticker":{"buy":"0.0043","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"cannbtc":{"at":1526717143,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"qaubtc":{"at":1526717143,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0000001","vol":"0.0"}},"jcbtc":{"at":1526717143,"ticker":{"buy":"0.00000013","sell":"0.00000014","low":"0.00000014","high":"0.00000014","last":"0.00000014","vol":"0.1"}},"fvitbtc":{"at":1526717143,"ticker":{"buy":"0.0000011","sell":"0.0004","low":"0.000001","high":"0.0000045","last":"0.0000028","vol":"115.0"}},"ppibtc":{"at":1526717143,"ticker":{"buy":"0.00001537","sell":"0.000025","low":"0.0000095","high":"0.00001537","last":"0.00001537","vol":"12.046"}}}'
  recorded_at: Sat, 19 May 2018 08:05:43 GMT
recorded_with: VCR 4.0.0
