---
http_interactions:
- request:
    method: get
    uri: https://api.coinx.pro/rest/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - zh-hans
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"contract": "ETH/BTC", "commodity": "ETH", "currency": "BTC",
        "last": 0.0291, "volume": 0.0, "change": 0.0, "timestamp": 1557130875689717,
        "bid": 8e-05, "ask": 0.0462}, {"contract": "BTC/USDT", "commodity": "BTC",
        "currency": "USDT", "last": 5662.13, "volume": 35.46218, "change": -1.3609163363964965,
        "timestamp": 1557130876483806, "bid": 5654.4, "ask": 5666.4}, {"contract":
        "ETH/USDT", "commodity": "ETH", "currency": "USDT", "last": 161.07, "volume":
        4.81454, "change": -2.2099447513812245, "timestamp": 1557130876102462, "bid":
        159.77, "ask": 160.55}, {"contract": "UUU/BTC", "commodity": "UUU", "currency":
      [...]
