---
http_interactions:
- request:
    method: get
    uri: https://bitforex.com/contract/mkapi/trades?businessType=swap-usd-btc&size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.bitforex.com/contract/mkapi/trades?businessType=swap-usd-btc&size=50
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head><title>301 Moved Permanently</title></head>
        <body bgcolor="white">
        <center><h1>301 Moved Permanently</h1></center>
        <hr><center>nginx</center>
        </body>
        </html>
  recorded_at: Thu, 01 Aug 2019 08:54:52 GMT
- request:
    method: get
    uri: https://www.bitforex.com/contract/mkapi/trades?businessType=swap-usd-btc&size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - bitforex-marketquery-new-swap:9301
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"0","msg":null,"data":[{"price":9985.0,"amount":60.0,"time":1564649686117,"direction":2,"tid":"5100"},{"price":9985.0,"amount":500.0,"time":1564649671419,"direction":2,"tid":"5100"},{"price":9985.0,"amount":100.0,"time":1564649654060,"direction":2,"tid":"5100"},{"price":9985.0,"amount":500.0,"time":1564649647831,"direction":2,"tid":"5100"},{"price":9985.0,"amount":400.0,"time":1564649645731,"direction":2,"tid":"5100"},{"price":9985.5,"amount":80.0,"time":1564649641498,"direction":1,"tid":"1564649641498"},{"price":9985.5,"amount":20.0,"time":1564649641093,"direction":1,"tid":"156464964109[...]
