---
http_interactions:
- request:
    method: get
    uri: https://www.bitforex.com/contract/mkapi/depth?businessType=swap-usd-btc&dType=0&size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - bitforex-marketquery-new-swap:9301
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"0","msg":null,"data":{"asks":[{"price":8409.5,"amount":4200},{"price":8410.0,"amount":14000},{"price":8410.5,"amount":68},{"price":8411.0,"amount":22320},{"price":8411.5,"amount":3496},{"price":8412.0,"amount":560},{"price":8412.5,"amount":5316},{"price":8413.0,"amount":24128},{"price":8413.5,"amount":21808},{"price":8414.0,"amount":12800},{"price":8414.5,"amount":3488},{"price":8415.0,"amount":55696},{"price":8415.5,"amount":44080},{"price":8416.0,"amount":12640},{"price":8416.5,"amount":12468},{"price":8417.0,"amount":14080},{"price":8417.5,"amount":24104},{"price":8418.0,"amount":9696},{"price":8418.5,"amount":35000},{"price":8419.0,"amount":7904},{"price":8419.5,"amount":108},{"price":8420.0,"amount":26432},{"price":8420.5,"amount":116},{"price":8450.0,"amount":272},{"price":8460.0,"amount":100000},{"price":8500.0,"amount":878},{"price":8514.0,"amount":11},{"price":8520.0,"amount":650},{"price":8550.0,"amount":10},{"price":8561.5,"amount":90},{"price":8597.0,"amount":200},{"price":8600.0,"amount":8},{"price":8700.0,"amount":1},{"price":8750.0,"amount":5010},{"price":8760.0,"amount":500},{"price":8800.0,"amount":100},{"price":8900.0,"amount":10020},{"price":8955.0,"amount":10},{"price":9000.0,"amount":177},{"price":9100.0,"amount":7000},{"price":9500.0,"amount":1},{"price":9570.0,"amount":4},{"price":9643.5,"amount":974},{"price":9644.0,"amount":44},{"price":9678.0,"amount":25},{"price":9695.0,"amount":26},{"price":9700.0,"amount":500},{"price":9700.5,"amount":26},{"price":9706.0,"amount":27},{"price":9706.5,"amount":26}],"bids":[{"price":8409.0,"amount":8788},{"price":8408.5,"amount":40000},{"price":8408.0,"amount":40000},{"price":8407.5,"amount":400},{"price":8407.0,"amount":360},{"price":8406.5,"amount":40004},{"price":8406.0,"amount":50040},{"price":8405.5,"amount":80000},{"price":8405.0,"amount":3960},{"price":8404.5,"amount":40040},{"price":8404.0,"amount":3880},{"price":8403.5,"amount":720},{"price":8403.0,"amount":9120},{"price":8402.5,"amount":80000},{"price":8402.0,"amount":27840},{"price":8401.5,"amount":1600},{"price":8401.0,"amount":43840},{"price":8392.0,"amount":40},{"price":8383.0,"amount":641},{"price":8350.0,"amount":840},{"price":8348.5,"amount":801},{"price":8320.0,"amount":10},{"price":8289.0,"amount":800},{"price":8200.0,"amount":2150},{"price":8100.0,"amount":300},{"price":8000.0,"amount":300},{"price":7900.0,"amount":2},{"price":7890.0,"amount":9},{"price":7800.0,"amount":510},{"price":7600.0,"amount":1500},{"price":7590.0,"amount":100},{"price":7300.0,"amount":10},{"price":6800.0,"amount":42},{"price":6000.0,"amount":10},{"price":5000.0,"amount":1},{"price":4166.5,"amount":1},{"price":1640.0,"amount":1},{"price":1500.0,"amount":9},{"price":1320.0,"amount":10},{"price":1111.0,"amount":3},{"price":1075.0,"amount":1},{"price":1070.0,"amount":1},{"price":1033.0,"amount":7},{"price":1000.0,"amount":17},{"price":900.0,"amount":1},{"price":845.0,"amount":12},{"price":420.0,"amount":1},{"price":400.0,"amount":1},{"price":200.0,"amount":4},{"price":111.0,"amount":1}]}}'
  recorded_at: Wed, 25 Sep 2019 10:02:26 GMT
recorded_with: VCR 4.0.0
