---
http_interactions:
- request:
    method: get
    uri: https://www.bitforex.com/contract/mkapi/trades?businessType=swap-usd-btc&size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - bitforex-marketquery-new-swap:9301
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"0","msg":null,"data":[{"price":8410.5,"amount":59.0,"time":1569405746350,"direction":2,"tid":"5100"},{"price":8409.0,"amount":6048.0,"time":1569405746298,"direction":2,"tid":"2161976708923035106"},{"price":8410.5,"amount":1.0,"time":1569405746261,"direction":2,"tid":"5100"},{"price":8410.5,"amount":2.0,"time":1569405746173,"direction":2,"tid":"5100"},{"price":8409.0,"amount":22980.0,"time":1569405746146,"direction":2,"tid":"2161976708923035106"},{"price":8410.5,"amount":5.0,"time":1569405746089,"direction":2,"tid":"5100"},{"price":8409.0,"amount":2184.0,"time":1569405745988,"direction":[...]
