---
http_interactions:
- request:
    method: get
    uri: https://www.bitforex.com/contract/swap/contract/contractDetail/swap-usd-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":{"symbol":"swap-usd-btc","endDate":"永续","iniMargins":0.0100000000000000,"maintenanceMargins":0.0050000000000000,"baseSymbol":"BTC","priceSymbol":"USD","premiumSymbol":"BTC","fundRate":-0.00057161,"fundRatePeriod":8.00,"nextFundRateTime":1569427200000,"flagPrice":8408.89,"isAutoReduce":true,"limitQuota":200000.0000000000000000,"notBalanceNum":64970699,"contractType":"1","contractFactor":1.0000000000000000,"minChangePrice":0.5000000000000000,"maxUserVolume":5500000,"maxDelegateNum":2000000,"minDelegateNum":1,"pricePrecision":2,"basePrecision":8,"feeRateTaker":0.0006000000000000,"feeRateMaker":0.0004000000000000,"baseLoanRate":0.00030,"quotaLoanRate":0.00060,"openBuyLimitRateMax":0.0200000000000000,"openSellLimitRateMax":1000.0000000000000000,"openBuyLimitRateMin":1.0000000000000000,"openSellLimitRateMin":0.0200000000000000,"priceOrderPrecision":1,"baseShowPrecision":8,"deepJoinNum":"2","depthConfig":"1,2,5,10,20"},"code":"200","message":"成功"}'
  recorded_at: Wed, 25 Sep 2019 10:02:27 GMT
- request:
    method: get
    uri: https://www.bitforex.com/contract/swap/contract/commonInfo/swap-usd-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":{"symbol":"swap-usd-btc","indexPrice":"8412.47","flagPrice":"8408.89","fundRate":"-0.00057161","nextFundTime":1569427200000,"loanRate":0.000100,"thirdPriceWeight":"BitStamp,25.00;CoinbasePro,25.00;GEMINI,25.00;Kraken,25.00"},"code":"200","message":"成功"}'
  recorded_at: Wed, 25 Sep 2019 10:02:27 GMT
recorded_with: VCR 4.0.0
