---
http_interactions:
- request:
    method: get
    uri: https://bitforex.com/contract/mkapi/getH24Ticker?businessType=swap-usd-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.bitforex.com/contract/mkapi/getH24Ticker?businessType=swap-usd-btc
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head><title>301 Moved Permanently</title></head>
        <body bgcolor="white">
        <center><h1>301 Moved Permanently</h1></center>
        <hr><center>nginx</center>
        </body>
        </html>
  recorded_at: Thu, 01 Aug 2019 08:54:51 GMT
- request:
    method: get
    uri: https://www.bitforex.com/contract/mkapi/getH24Ticker?businessType=swap-usd-btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - bitforex-marketquery-new-swap:9301
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"0","msg":null,"data":{"startdate":1564563292955,"enddate":1564649692955,"type":"24H","high":10160.5,"low":0,"last":9985,"open":9763.5,"productvol":19269516,"currencyvol":1939.45877602,"allVol":203227621,"allCurrencyVol":21070.05598663,"rate":0.0226}}'
  recorded_at: Thu, 01 Aug 2019 08:54:52 GMT
recorded_with: VCR 4.0.0
