---
http_interactions:
- request:
    method: get
    uri: https://www.bitforex.com/contract/swap/contract/listAll
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":10002,"symbol":"swap-usd-btc","baseSymbol":"BTC","quoteSymbol":"USD","initMargins":0.0100000000000000,"maintenanceMargins":0.0050000000000000,"fundPreminumSymbol":"BTC","unitQuantity":1.0000000000000000,"beginTime":1560648043415,"leverageLevel":100,"minOrderPrice":1.00000000E-8,"maxOrderPrice":1000000.0000000000000000,"minOrderVolume":1,"maxOrderVolume":2000000,"maxUserVolume":5500000,"pricePrecision":2,"basePrecision":8,"openBuyLimitRate":0.0100000000000000,"openSellLimitRate":0.0100000000000000,"openBuyLimitRateMax":0.0200000000000000,"openSellLimitRateMax":1000.0000000000000000,"openBuyLimitRateMin":1.0000000000000000,"openSellLimitRateMin":0.0200000000000000,"feeRateMaker":0.0004000000000000,"feeRateTaker":0.0006000000000000,"fundPeriod":8.00,"isAutoReduce":true,"contractType":1,"dealNum":3.0000000000000000,"deepJoinNum":"2","minChangePrice":0.5000000000000000,"alias":"BTC/USD","limitQuota":200000.0000000000000000,"increaseLimitQuota":null,"status":"0","ctime":1560561643416,"mtime":1567411470718,"depthConfig":"1,2,5,10,20","priceOrderPrecision":1,"baseShowPrecision":8,"depthOffset":10,"floatY":0.0050000000000000,"riskRate":1.0000000000000000,"outStatus":"0","inStatus":"0","currentPricePrecision":2},{"id":10003,"symbol":"swap-usd-eth","baseSymbol":"ETH","quoteSymbol":"USD","initMargins":0.0100000000000000,"maintenanceMargins":0.0050000000000000,"fundPreminumSymbol":"ETH","unitQuantity":1.0000000000000000,"beginTime":1563767501108,"leverageLevel":100,"minOrderPrice":1.00000000E-8,"maxOrderPrice":1000000.0000000000000000,"minOrderVolume":1,"maxOrderVolume":350000,"maxUserVolume":1440000,"pricePrecision":3,"basePrecision":8,"openBuyLimitRate":0.0100000000000000,"openSellLimitRate":0.0100000[...]
