---
http_interactions:
- request:
    method: get
    uri: https://www.nlexch.com/api/v2/tickers/ltcbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"0a31c934f30d2f9ba10ce4e2db2acf7e"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1522206932,"ticker":{"buy":"0.0001","sell":"0.025","low":"0.0204","high":"0.0204","last":"0.0204","vol":"0.0"}}'
  recorded_at: Wed, 28 Mar 2018 03:15:34 GMT
recorded_with: VCR 4.0.0
