---
http_interactions:
- request:
    method: get
    uri: https://www.nlexch.com/api/v2/tickers/ltcbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"6b766f7f052998a511d900fa790d4011"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1522232860,"ticker":{"buy":"0.0001","sell":"0.025","low":"0.0204","high":"0.0204","last":"0.0204","vol":"0.0"}}'
  recorded_at: Wed, 28 Mar 2018 10:27:43 GMT
recorded_with: VCR 4.0.0
