---
http_interactions:
- request:
    method: get
    uri: https://api.binance.us/api/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 3e82d21d-60eb-4829-b531-717910ebc3bd
      X-Mbx-Used-Weight:
      - '41'
      X-Mbx-Used-Weight-1m:
      - '41'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"symbol":"123456","priceChange":"0.00000000","priceChangePercent":"0.000","weightedAvgPrice":"71.00000000","prevClosePrice":"70.00000000","lastPrice":"71.00000000","lastQty":"1.00000000","bidPrice":"70.00000000","bidQty":"9.00000000","askPrice":"71.00000000","askQty":"17.99980000","openPrice":"71.00000000","highPrice":"71.00000000","lowPrice":"71.00000000","volume":"1.00000000","quoteVolume":"71.00000000","openTime":1568627891609,"closeTime":1568714291609,"firstId":17,"lastId":17,"count":1},{"symbol":"BTCUSD","priceChange":"0.00","priceChangePercent":"0.000","weightedAvgPrice":"10170.00","prevClosePrice":"0.00","lastPrice":"10170.00","lastQty":"0.00200000","bidPrice":"0.00","bidQty":"0.00000000","askPrice":"0.00","askQty":"0.00000000","openPrice":"10170.00","highPrice":"10170.00","lowPrice":"10170.00","volume":"0.00200000","quoteVolume":"20.34","openTime":1568629037876,"closeTime":1568715437876,"firstId":0,"lastId":0,"count":1},{"symbol":"ETHUSD","priceChange":"0.00","priceChang[...]
