---
http_interactions:
- request:
    method: get
    uri: https://api.binance.us/api/v1/exchangeInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 3e82d21d-60eb-4829-b531-717910ebc3bd
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"timezone":"UTC","serverTime":1568866441481,"rateLimits":[{"rateLimitType":"REQUEST_WEIGHT","interval":"MINUTE","intervalNum":1,"limit":1200},{"rateLimitType":"ORDERS","interval":"SECOND","intervalNum":1,"limit":10},{"rateLimitType":"ORDERS","interval":"DAY","intervalNum":1,"limit":100000}],"exchangeFilters":[],"symbols":[{"symbol":"123456","status":"TRADING","baseAsset":"123","baseAssetPrecision":8,"quoteAsset":"456","quotePrecision":8,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":false,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.00000001","maxPrice":"100000.00000000","tickSize":"0.01000000"},{"filterType":"PERCENT_PRICE","multiplierUp":"5","multiplierDown":"0.2","avgPriceMins":5},{"filterType":"LOT_SIZE","minQty":"0.00000001","maxQty":"100000.00000000","stepSize":"0.00000001"},{"filterType":"MIN_NOTIONAL","minNotional":"0.00100000","applyToMarket":true,"avgPriceMins":5},{"filterType":"ICEBERG_PARTS","limit":10},{"filterType":"MAX_NUM_ALGO_ORDERS","maxNumAlgoOrders":5}]},{"symbol":"BTCUSD","status":"TRADING","baseAsset":"BTC","baseAssetPrecision":8,"quoteAsset":"USD","quotePrecision":2,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":false,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.01","maxPrice":"100000.00","tickSize":"0.01"},{"filterType":"LOT_SIZE","minQty":"0.00000001","maxQty":"100000.00000000","stepSize":"0.0000000[...]
