---
http_interactions:
- request:
    method: get
    uri: https://api.binance.us/api/v1/trades?symbol=BTCUSD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 402df794-bffb-46c6-bb5c-74302a0cb643
      X-Mbx-Used-Weight:
      - '42'
      X-Mbx-Used-Weight-1m:
      - '42'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"id":0,"price":"10170.00","qty":"0.00200000","quoteQty":"20.34","time":1568715437876,"isBuyerMaker":true,"isBestMatch":true}]'
  recorded_at: Thu, 19 Sep 2019 04:14:02 GMT
recorded_with: VCR 4.0.0
