---
http_interactions:
- request:
    method: get
    uri: https://api-dev.bitso.com/v3/available_books
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"payload":[{"book":"btc_mxn","minimum_price":"500.00","maximum_price":"16000000.00","minimum_amount":"0.000075","maximum_amount":"500.00000000","minimum_value":"5","maximum_value":"10000000.00"},{"book":"eth_btc","minimum_price":"0.00000100","maximum_price":"5000.00000000","minimum_amount":"0.00000100","maximum_amount":"1000.00000000","minimum_value":"0.00000100","maximum_value":"2000.00000000"},{"book":"eth_mxn","minimum_price":"10.00","maximum_price":"200000.00","minimum_amount":"0.001","maximum_amount":"100000.00000000","minimum_value":"5.00","maximum_value":"10000000.00"},{"book":"xrp_btc","minimum_price":"0.00000100","maximum_price":"5000.00000000","minimum_amount":"[...]
