---
http_interactions:
- request:
    method: get
    uri: https://api.bitso.com/v3/ticker?book=btc_mxn
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"payload":{"high":"139988.72","last":"139337.07","created_at":"2018-07-18T08:14:22+00:00","book":"btc_mxn","volume":"296.46126498","vwap":"134421.18240685","low":"137914.41","ask":"139280.35","bid":"138050.00"}}'
  recorded_at: Wed, 18 Jul 2018 08:14:22 GMT
recorded_with: VCR 4.0.0
