---
http_interactions:
- request:
    method: get
    uri: https://api-dev.bitso.com/v3/available_books
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"payload":[{"book":"btc_mxn","minimum_price":"5.00","maximum_price":"80000000000000.00","minimum_amount":"0.0002","maximum_amount":"80000000000000.00","minimum_value":"5","maximum_value":"80000000000000.00"},{"book":"eth_mxn","minimum_price":"10.00","maximum_price":"80000000000000.00","minimum_amount":"0.0500000","maximum_amount":"80000000000000.00","minimum_value":"1.00","maximum_value":"10000000.00"},{"book":"eth_btc","minimum_price":"0.00000100","maximum_price":"80000000000000.00","minimum_amount":"0.00000100","maximum_amount":"80000000000000.00","minimum_value":"0.00000100","maximum_value":"80000000000000.00"},{"book":"xrp_btc","minimum_price":"0.00000100","maximum_price":"80000000000000.00","minimum_amount":"0.00000100","maximum_amount":"80000000000000.00","minimum_value":"0.00000100","maximum_value":"80000000000000.00"},{"book":"xrp_mxn","minimum_price":"0.00000100","maximum_price":"80000000000000.00","minimum_amount":"0.00000100","maximum_amount":"80000000000000.00","minimum_value":"0.00000100","maximum_value":"80000000000000.00"},{"book":"bch_btc","minimum_price":"0.01","maximum_price":"80000.00","minimum_amount":"0.00015","maximum_amount":"500.00000000","minimum_value":"0.001","maximum_value":"100.00"}]}'
  recorded_at: Tue, 03 Oct 2017 04:04:12 GMT
recorded_with: VCR 3.0.3
