---
http_interactions:
- request:
    method: get
    uri: https://api-dev.bitso.com/v3/ticker?book=BTC_MXN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"payload":{"high":"79999.95","last":"79997.40","created_at":"2017-10-03T04:04:12+00:00","book":"btc_mxn","volume":"22.38357969","vwap":"79515.46045426","low":"79051.00","ask":"79988.83","bid":"79757.32"}}'
  recorded_at: Tue, 03 Oct 2017 04:04:12 GMT
recorded_with: VCR 3.0.3
