---
http_interactions:
- request:
    method: get
    uri: https://api-dev.bitso.com/v3/ticker?book=btc_mxn
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"payload":{"high":"121000.00","last":"120470.54","created_at":"2018-07-16T07:32:41+00:00","book":"btc_mxn","volume":"69.15363493","vwap":"120298.01144330","low":"120353.31","ask":"121000.00","bid":"120467.53"}}'
  recorded_at: Mon, 16 Jul 2018 07:32:41 GMT
recorded_with: VCR 4.0.0
