---
http_interactions:
- request:
    method: get
    uri: https://api.bitso.com/v3/order_book/?book=BTC_MXN
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"payload":{"updated_at":"2019-05-27T07:30:40+00:00","bids":[{"book":"btc_mxn","price":"165127.96","amount":"0.10185399"},{"book":"btc_mxn","price":"165125.37","amount":"4.05000000"},{"book":"btc_mxn","price":"165122.19","amount":"0.10185399"},{"book":"btc_mxn","price":"165121.79","amount":"40.50000000"},{"book":"btc_mxn","price":"164998.39","amount":"0.00946925"},{"book":"btc_mxn","price":"164734.00","amount":"0.00355324"},{"book":"btc_mxn","price":"164550.00","amount":"0.15192951"},{"book":"btc_mxn","price":"164516.00","amount":"0.00810335"},{"book":"btc_mxn","price":"164511.00","amount":"0.00790221[...]
