---
http_interactions:
- request:
    method: get
    uri: https://safe.trade/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      X-Real-Ip:
      - 172.17.0.2
      Etag:
      - W/"ebfb515078fb6861cbad73f2c737e422"
    body:
      encoding: ASCII-8BIT
      string: '{"anonbtc":{"at":1537065448,"ticker":{"buy":"0.00023","sell":"0.000275","low":"0.00021001","high":"0.000318","last":"0.000275","vol":"11110.3013"}},"anonsafe":{"at":1537065448,"ticker":{"buy":"27.0","sell":"70.9999","low":"74.9","high":"79.0","last":"79.0","vol":"4.9605"}},"safebtc":{"at":1537065448,"ticker":{"buy":"0.00000591","sell":"0.00000668","low":"0.00000552","high":"0.00000677","last":"0.00000668","vol":"6284.5614"}},"safeltc":{"at":1537065448,"ticker":{"buy":"0.00041005","sell":"0.0016785","low":"0.00041003","high":"0.00041003","last":"0.00041003","vol":"103.6424"}},"safedoge":{"at":1537065448,"ticker":{"buy":"4.5","sell":"9.2","low":"4.5","high":"9.6","last":"9.6","vol":"3.6864"}},"btczbtc":{"at":1537065448,"ticker":{"buy":"0.00000008","sell":"0.00000009","low":"0.00000009","high":"0.0000001","last":"0.00000009","vol":"20177.2884"}},"btczltc":{"at":1537065448,"ticker":{"buy":"0.0","sell":"0.0001","low":"0.0","high":"0.0","last":"0.0001","vol":"0.0"}},"btczsafe":{"at":1537065448,"ticker":{"buy":"0.0033","sell":"0.034","low":"0.035","high":"0.035","last":"0.035","vol":"0.0"}},"aquasafe":{"at":1537065448,"ticker":{"buy":"0.01","sell":"49.9999","low":"0.01","high":"0.01","last":"0.01","vol":"0.0"}},"aquabtc":{"at":1537065448,"ticker":{"buy":"0.00007503","sell":"0.0000855","low":"0.00007503","high":"0.00007503","last":"0.00007503","vol":"123.0"}},"kotosafe":{"at":1537065448,"ticker":{"buy":"0.035","sell":"0.05","low":"0.0","high":"0.0","last":"0.05","vol":"0.0"}},"kotobtc":{"at":1537065448,"ticker":{"buy":"0.00000022","sell":"0.00000028","low":"0.00000022","high":"0.00000024","last":"0.00000022","vol":"0.0"}},"xshsafe":{"at":1537065448,"ticker":{"buy":"0.31","sell":"0.42","low":"0.0","high":"0.0","last":"0.31","vol":"0.0"}},"xshbtc":{"at":1537065448,"ticker":{"buy":"0.00000017","sell":"0.0000024","low":"0.0","high":"0.0","last":"0.00000199","vol":"0.0"}},"cmmsafe":{"at":1537065448,"ticker":{"buy":"0.1","sell":"0.69","low":"0.0","high":"0.0","last":"0.45","vol":"0.0"}},"cmmbtc":{"at":1537065448,"ticker":{"buy":"0.0000013","sell":"0.0000055","low":"0.00000105","high":"0.00000105","last":"0.00000105","vol":"0.0"}},"rvnsafe":{"at":1537065448,"ticker":{"buy":"0.41","sell":"0.79","low":"0.41","high":"0.41","last":"0.41","vol":"1116.5323"}},"rvnbtc":{"at":1537065448,"ticker":{"buy":"0.0000024","sell":"0.00000449","low":"0.00000235","high":"0.00000235","last":"0.00000235","vol":"159.7773"}},"secisafe":{"at":1537065448,"ticker":{"buy":"0.001","sell":"0.38","low":"0.02","high":"0.02","last":"0.02","vol":"0.1359"}},"secibtc":{"at":1537065448,"ticker":{"buy":"0.00000103","sell":"0.00000148","low":"0.00000103","high":"0.00000103","last":"0.00000103","vol":"1176.829"}},"zensafe":{"at":1537065448,"ticker":{"buy":"285.0","sell":"4999.9998","low":"0.0","high":"0.0","last":"550.0","vol":"0.0"}},"zenbtc":{"at":1537065448,"ticker":{"buy":"0.00000013","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"pgnsafe":{"at":1537065448,"ticker":{"buy":"0.002","sell":"0.0044","low":"0.0034","high":"0.0045","last":"0.0045","vol":"142246.4"}},"pgnbtc":{"at":1537065448,"ticker":{"buy":"0.0000000126","sell":"0.000000019","low":"0.0000000179","high":"0.0000000179","last":"0.0000000179","vol":"0.0"}},"vtlltc":{"at":1537065448,"ticker":{"buy":"0.00010001","sell":"0.00147999","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"vtlsafe":{"at":1537065448,"ticker":{"buy":"0.1501","sell":"0.5","low":"0.0","high":"0.0","last":"0.15","vol":"0.0"}},"xsgbtc":{"at":1537065448,"ticker":{"buy":"0.0000004","sell":"0.000027","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0"}},"xsgsafe":{"at":1537065448,"ticker":{"buy":"0.0201","sell":"4.4549","low":"0.0","high":"0.0","last":"0.001","vol":"0.0"}},"genxsafe":{"at":1537065448,"ticker":{"buy":"0.01","sell":"0.04","low":"0.0101","high":"0.0101","last":"0.0101","vol":"0.0"}},"genxbtc":{"at":1537065448,"ticker":{"buy":"0.00000002","sell":"0.00000098","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"zclbtc":{"at":1537065448,"ticker":{"buy":"0.00000012","sell":"0.0","low":"0.0005","high":"0.0007","last":"0.0007","vol":"0.0"}},"zclsafe":{"at":1537065448,"ticker":{"buy":"88.4","sell":"105.0","low":"100.4","high":"105.0","last":"105.0","vol":"3.672"}},"safesusd":{"at":1537065448,"ticker":{"buy":"0.0","sell":"0.0298","low":"0.0","high":"0.0","last":"0.0305","vol":"0.0"}},"safebtcz":{"at":1537065448,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}}}'
  recorded_at: Sun, 16 Sep 2018 02:37:29 GMT
- request:
    method: get
    uri: https://safe.trade/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      X-Real-Ip:
      - 172.17.0.2
      Etag:
      - W/"fe7f802a1cbe4d11d93599cc580380f0"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"anonbtc","name":"ANON/BTC"},{"id":"anonsafe","name":"ANON/SAFE"},{"id":"safebtc","name":"SAFE/BTC"},{"id":"safeltc","name":"SAFE/LTC"},{"id":"safedoge","name":"SAFE/DOGE"},{"id":"btczbtc","name":"BTCZ/BTC"},{"id":"btczltc","name":"BTCZ/LTC"},{"id":"btczsafe","name":"BTCZ/SAFE"},{"id":"aquasafe","name":"AQUA/SAFE"},{"id":"aquabtc","name":"AQUA/BTC"},{"id":"kotobtc","name":"KOTO/BTC"},{"id":"kotosafe","name":"KOTO/SAFE"},{"id":"xshsafe","name":"XSH/SAFE"},{"id":"xshbtc","name":"XSH/BTC"},{"id":"cmmbtc","name":"CMM/BTC"},{"id":"cmmsafe","name":"CMM/SAFE"},{"id":"rvnsafe","name":"RVN/SAFE"},{"id":"rvnbtc","name":"RVN/BTC"},{"id":"secibtc","name":"SECI/BTC"},{"id":"secisafe","name":"SECI/SAFE"},{"id":"pgnsafe","name":"PGN/SAFE"},{"id":"pgnbtc","name":"PGN/BTC"},{"id":"zenbtc","name":"ZEN/BTC"},{"id":"zensafe","name":"ZEN/SAFE"},{"id":"vtlltc","name":"VTL/LTC"},{"id":"vtlsafe","name":"VTL/SAFE"},{"id":"xsgbtc","name":"XSG/BTC"},{"id":"xsgsafe","name":"XSG/SAFE"},{"id":"genxsafe","name":"GENX/SAFE"},{"id":"genxbtc","name":"GENX/BTC"},{"id":"zclbtc","name":"ZCL/BTC"},{"id":"zclsafe","name":"ZCL/SAFE"},{"id":"safesusd","name":"SAFE/SUSD"}]'
  recorded_at: Sun, 16 Sep 2018 02:37:30 GMT
recorded_with: VCR 4.0.0
