---
http_interactions:
- request:
    method: get
    uri: https://safe.trade/api/v2/order_book?market=safebtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"00934d27bf830dc94680ea3e960dbfbc"
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":164455,"side":"sell","ord_type":"limit","price":"0.000007","avg_price":"0.0","state":"wait","market":"safebtc","created_at":"2019-07-18T07:53:28+02:00","volume":"272.55281449","remaining_volume":"272.55281449","executed_volume":"0.0","trades_count":0},{"id":164456,"side":"sell","ord_type":"limit","price":"0.000007","avg_price":"0.0","state":"wait","market":"safebtc","created_at":"2019-07-18T07:53:54+02:00","volume":"580.65459206","remaining_volume":"580.65459206","executed_volume":"0.0","trades_count":0},{"id":164428,"side":"sell","ord_type":"limit","price":"0.00000704","avg_price":"0.0","state":"wait","market":"safebtc","created_at":"2019-07-18T06:19:05+02:00","volume":"1472.3040861","remaining_volume":"1472.3040861","executed_volume":"0.[...]
