http_interactions:
  - request:
      method: get
      uri: https://safe.trade/api/v2/tickers
      body:
        encoding: UTF-8
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Version:
          - HTTP/1.0
        X-Real-Ip:
          - 172.17.0.2
        Etag:
          - W/"d2bb511014b6277458b2b7fc79c73de7"
      body:
        encoding: ASCII-8BIT
        string: '{"safebtc":{"at":1534750188,"ticker":{"buy":"0.00000521","sell":"0.00000577","low":"0.0000052","high":"0.00000581","last":"0.00000581","vol":"1648.0433"}},"btczbtc":{"at":1534750188,"ticker":{"buy":"0.00000015","sell":"0.00000018","low":"0.00000017","high":"0.00000019","last":"0.00000018","vol":"265293.6407"}},"btczltc":{"at":1534750188,"ticker":{"buy":"0.0","sell":"0.0001","low":"0.0","high":"0.0","last":"0.005","vol":"0.0"}},"btczsafe":{"at":1534750188,"ticker":{"buy":"0.0261","sell":"0.0345","low":"0.0","high":"0.0","last":"0.0465","vol":"0.0"}},"aquasafe":{"at":1534750188,"ticker":{"buy":"10.001","sell":"49.3","low":"10.0001","high":"10.0001","last":"10.0001","vol":"0.5049"}},"aquabtc":{"at":1534750188,"ticker":{"buy":"0.00014","sell":"0.00015","low":"0.00012","high":"0.000194","last":"0.00014","vol":"400.9471"}},"kotosafe":{"at":1534750188,"ticker":{"buy":"0.0386","sell":"0.089","low":"0.0386","high":"0.0386","last":"0.0386","vol":"101.007"}},"kotobtc":{"at":1534750188,"ticker":{"buy":"0.00000034","sell":"0.00000042","low":"0.00000034","high":"0.00000034","last":"0.00000034","vol":"607.9246"}},"xsgbtc":{"at":1534750188,"ticker":{"buy":"0.0000004","sell":"0.00002198","low":"0.0","high":"0.0","last":"0.00000001","vol":"0.0"}},"xsgsafe":{"at":1534750188,"ticker":{"buy":"0.0832","sell":"4.4549","low":"0.0","high":"0.0","last":"4.4549","vol":"0.0"}},"xshsafe":{"at":1534750188,"ticker":{"buy":"0.38","sell":"0.42","low":"0.42","high":"0.42","last":"0.42","vol":"9.308"}},"xshbtc":{"at":1534750188,"ticker":{"buy":"0.0000017","sell":"0.00000189","low":"0.0","high":"0.0","last":"0.00000189","vol":"0.0"}},"cmmsafe":{"at":1534750188,"ticker":{"buy":"0.045","sell":"0.429","low":"0.0","high":"0.0","last":"0.445","vol":"0.0"}},"cmmbtc":{"at":1534750188,"ticker":{"buy":"0.00000008","sell":"0.00000154","low":"0.0","high":"0.0","last":"0.00000007","vol":"0.0"}},"vtlltc":{"at":1534750188,"ticker":{"buy":"0.00010001","sell":"0.00089999","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"vtlsafe":{"at":1534750188,"ticker":{"buy":"0.15","sell":"0.5","low":"0.0","high":"0.0","last":"0.44","vol":"0.0"}},"secibtc":{"at":1534750188,"ticker":{"buy":"0.00000161","sell":"0.00000333","low":"0.00000161","high":"0.00000163","last":"0.00000161","vol":"2580.1242"}},"secisafe":{"at":1534750188,"ticker":{"buy":"0.4006","sell":"0.8","low":"0.4005","high":"0.4006","last":"0.4006","vol":"22.0227"}},"zensafe":{"at":1534750188,"ticker":{"buy":"285.0","sell":"550.0","low":"0.0","high":"0.0","last":"500.0","vol":"0.0"}},"zenbtc":{"at":1534750188,"ticker":{"buy":"0.00000011","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"safeltc":{"at":1534750188,"ticker":{"buy":"0.00036018","sell":"0.0006","low":"0.0","high":"0.0","last":"0.00036008","vol":"0.0"}},"safebtcz":{"at":1534750188,"ticker":{"buy":"29.0","sell":"34.98","low":"0.0","high":"0.0","last":"34.0","vol":"0.0"}},"safesusd":{"at":1534750188,"ticker":{"buy":"0.0","sell":"0.0298","low":"0.0","high":"0.0","last":"0.0305","vol":"0.0"}}}'
      ? http_version
    recorded_at: Mon, 20 Aug 2018 07:29:48 GMT
  - request:
      method: get
      uri: https://safe.trade/api/v2/markets
      body:
        encoding: UTF-8
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Version:
          - HTTP/1.0
        X-Real-Ip:
          - 172.17.0.2
        Etag:
          - W/"e6c0a535c2656eab9ecdce63e55fd14e"
      body:
        encoding: ASCII-8BIT
        string: '[{"id":"safebtc","name":"SAFE/BTC"},{"id":"btczbtc","name":"BTCZ/BTC"},{"id":"btczltc","name":"BTCZ/LTC"},{"id":"btczsafe","name":"BTCZ/SAFE"},{"id":"aquasafe","name":"AQUA/SAFE"},{"id":"aquabtc","name":"AQUA/BTC"},{"id":"kotosafe","name":"KOTO/SAFE"},{"id":"kotobtc","name":"KOTO/BTC"},{"id":"xsgbtc","name":"XSG/BTC"},{"id":"xsgsafe","name":"XSG/SAFE"},{"id":"xshsafe","name":"XSH/SAFE"},{"id":"xshbtc","name":"XSH/BTC"},{"id":"cmmsafe","name":"CMM/SAFE"},{"id":"cmmbtc","name":"CMM/BTC"},{"id":"vtlltc","name":"VTL/LTC"},{"id":"vtlsafe","name":"VTL/SAFE"},{"id":"secibtc","name":"SECI/BTC"},{"id":"secisafe","name":"SECI/SAFE"},{"id":"zensafe","name":"ZEN/SAFE"},{"id":"zenbtc","name":"ZEN/BTC"},{"id":"safeltc","name":"SAFE/LTC"},{"id":"safebtcz","name":"SAFE/BTCZ"},{"id":"safesusd","name":"SAFE/SUSD"}]'
      ? http_version
    recorded_at: Mon, 20 Aug 2018 07:29:49 GMT
recorded_with: VCR 4.0.0
