---
http_interactions:
- request:
    method: get
    uri: https://safe.trade/api/v2/peatio/public/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"aad3ed56be9e8ca06edfc02faf4f62aa"
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 162.158.26.59
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"yecbtc","name":"YEC/BTC","ask_unit":"yec","bid_unit":"btc","ask_fee":"0.00015","bid_fee":"0.00015","min_ask_price":"0.00000001","max_bid_price":"9.0","min_ask_amount":"0.00000001","min_bid_amount":"0.00000001","ask_precision":8,"bid_precision":8},{"id":"yeczec","name":"YEC/ZEC","ask_unit":"yec","bid_unit":"zec","ask_fee":"0.00015","bid_fee":"0.00015","min_ask_price":"0.00000001","max_bid_price":"9.0","min_ask_amount":"0.00000001","min_bid_amount":"0.00000001","ask_precision":4,"bid_precision":4},{"id":"safebtc","name":"SAFE/BTC","ask_unit":"safe","bid_unit":"btc","ask_fee":"0.00015","bid_fee":"0.00015","min_ask_price":"0.00000001","max_bid_price":"9.0","min_ask_amount":"0.00000001","min_bid_amount":"0.00000001","ask_precision":8,"bid_[...]
