---
http_interactions:
- request:
    method: get
    uri: https://safe.trade/api/v2/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.0
      X-Real-Ip:
      - 172.17.0.2
      Etag:
      - W/"212c8cd92b519d085fed022e659fd8bb"
    body:
      encoding: ASCII-8BIT
      string: '{"safebtcz":{"at":1528947581,"ticker":{"buy":"29.0","sell":"31.99","low":"28.5","high":"34.48","last":"31.99","vol":"15204.84"}},"safebtc":{"at":1528947581,"ticker":{"buy":"0.0000085","sell":"0.00000869","low":"0.000007","high":"0.00001016","last":"0.000008","vol":"72042.7146"}},"btczltc":{"at":1528947581,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"zensafe":{"at":1528947581,"ticker":{"buy":"180.0","sell":"0.0","low":"0.0","high":"0.0","last":"330.0","vol":"0.0"}},"xsgsafe":{"at":1528947581,"ticker":{"buy":"0.0","sell":"0.0","low":"3.0","high":"3.0","last":"3.0","vol":"0.0"}},"xsgbtc":{"at":1528947581,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"cmmsafe":{"at":1528947581,"ticker":{"buy":"0.0","sell":"1.6","low":"0.9","high":"2.0","last":"1.5","vol":"200.9337"}},"safeltc":{"at":1528947581,"ticker":{"buy":"0.0","sell":"0.0006","low":"0.00049001","high":"0.00049001","last":"0.00049001","vol":"0.08"}}}'
  recorded_at: Thu, 14 Jun 2018 03:39:41 GMT
recorded_with: VCR 4.0.0
