---
http_interactions:
- request:
    method: get
    uri: https://api.korbit.co.kr/v1/ticker/detailed?currency_pair=btc_krw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"timestamp":1507003504213,"last":"5046000","bid":"5042000","ask":"5046000","low":"4999500","high":"5092000","volume":"3657.18657514368329625","change":"26000","changePercent":"0.52"}'
  recorded_at: Tue, 03 Oct 2017 04:05:07 GMT
recorded_with: VCR 3.0.3
