---
http_interactions:
- request:
    method: get
    uri: https://api.365.stream/api/trade/?pairing=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15ac-uZE4DbVRKbmSLyYKKFCuohklMUY"
    body:
      encoding: UTF-8
      string: '{"trades":[{"trade_id":170237,"rate":"12000.03000000","amount":"0.00350900","trade_date":"2019-01-19
        11:14:49","order_id":241213,"trade_type":"sell","reference_id":241215,"seconds":104824},{"trade_id":170368,"rate":"12450.00000000","amount":"0.03140460","trade_date":"2019-01-19
        12:41:14","order_id":238706,"trade_type":"buy","reference_id":241232,"seconds":99639},{"trade_id":170369,"rate":"12450.00000000","amount":"0.00000000","trade_date":"2019-01-19
        12:41:41","order_id":238706,"trade_type":"buy","reference_id":241233,"seconds":99612},{"trade_id":170370,"rate":"12499.00000000","amount":"0.00030870","trade_date":"2019-01-19
        12:41:41","order_id":23444[...]
