---
http_interactions:
- request:
    method: get
    uri: https://api.365.stream/api/pairing/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c7d-avRPx6kjEEzsihgDM5HCAyXc0lA"
    body:
      encoding: UTF-8
      string: '{"1":{"pairing_id":1,"primary_currency":"TUSD","secondary_currency":"BTC","primary_min":0.0005,"secondary_min":0.0005,"active":true},"2":{"pairing_id":2,"primary_currency":"TUSD","secondary_currency":"BCH","primary_min":0.0005,"secondary_min":0.0005,"active":true},"3":{"pairing_id":3,"primary_currency":"TUSD","secondary_currency":"365","primary_min":0.0005,"secondary_min":0.0005,"active":true},"4":{"pairing_id":4,"primary_currency":"TUSD","secondary_currency":"ETH","primary_min":0.0005,"secondary_min":0.0005,"active":true},"5":{"pairing_id":5,"primary_currency":"TUSD","secondary_currency":"NAKA","primary_min":0.0005,"se[...]
