---
http_interactions:
- request:
    method: get
    uri: https://openapi.coinlim.com/server/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - service-business-api:55600
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"last":"119.67","ask":"124.21","bid":"119.34","low":"119.67","high":"124.85","volume":"3795.2683","tradeCurrency":"ETH","currency":"USDT","symbol":"ETHUSDT","percent":"0.00%","open":"122.62"},{"last":"0.000012","ask":"0.000199","bid":"0.000001","low":"0","high":"0","volume":"0","tradeCurrency":"ETPP","currency":"ETH","symbol":"ETPPETH","percent":"0.00%","open":"0"},{"last":"0.019500","ask":"0","bid":"0.019500","low":"0","high":"0","volume":"0","tradeCurrency":"ETH","currency":"BTC","symbol":"ETHBTC","percent":"0.00%","open":"0"},{"last":"0.0000142","ask":"0.0000142","bid":"0.0000139","low":"0.0000139","high":"0.0000142","volume":"23174638.17","tradeCurrency":"ETC8","currenc[...]
