---
http_interactions:
- request:
    method: get
    uri: https://datacenter.raidofinance.eu/v1/ticker/BCHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fe-bQ29NYoPoov/0p9lUWCN82vtt3I"
      Access-Controll-Allow-Origin:
      - "*"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"bid":0.02821,"ask":0.02834,"bid_vol":0.04422,"ask_vol":0.03421,"buy_size":3.656385,"sell_size":2.9219014,"open":0.027384,"high":0.0287,"low":0.02733,"last":0.028269,"volume24":8.1294072,"percentChange":3.23,"timestamp":1571722437}}'
  recorded_at: Tue, 22 Oct 2019 05:33:56 GMT
recorded_with: VCR 4.0.0
