---
http_interactions:
- request:
    method: get
    uri: https://datacenter.raidofinance.eu/v1/assets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47a-Nl0D4JAEDO2wuB1fyzp6ACA3WTc"
      Access-Controll-Allow-Origin:
      - "*"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"count":12,"rows":[{"pair":"BCHBTC","right":"BTC","left":"BCH","accuracy":"6","min_volume":0.01,"isTrade":true},{"pair":"BTCEURS","right":"EURS","left":"BTC","accuracy":"2","min_volume":0.001,"isTrade":true},{"pair":"ETCBTC","right":"BTC","left":"ETC","accuracy":"7","min_volume":1,"isTrade":true},{"pair":"ETCETH","right":"ETH","left":"ETC","accuracy":"8","min_volume":1,"isTrade":true},{"pair":"ETHBTC","right":"BTC","left":"ETH","accuracy":"6","min_volume":0.01,"isTrade":true},{"pair":"ETHEURS","right":"EURS","left":"ETH","accuracy":"2","min_volume":0.01,"isTrade":true},{"pair":"LTCBTC","right":"BTC","left":"LTC","accuracy":"6","min_volume":0.1,"isTrade":true},{"pair":"LTCETH","right":"ETH","left":"LTC","accuracy":"8","min_volume":0.1,"isTrade":true},{"pair":"MANAETH","right":"ETH","left":"MANA","accuracy":"8","min_volume":1,"isTrade":true},{"pair":"RFETH","right":"ETH","left":"RF","accuracy":"8","min_volume":1,"isTrade":true},{"pair":"XLMBTC","right":"BTC","left":"XLM","accuracy":"8","min_volume":10,"isTrade":true},{"pair":"XLMETH","right":"ETH","left":"XLM","accuracy":"8","min_volume":10,"isTrade":true}]}}'
  recorded_at: Tue, 22 Oct 2019 05:33:56 GMT
recorded_with: VCR 4.0.0
