---
http_interactions:
- request:
    method: get
    uri: https://blokmy.com/api/v2/trades.json?market=btcmyr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44b05427d396413070e6f72411039cae"
      X-Iinfo:
      - 10-20935975-20936313 NNNN CT(0 0 0) RT(1541836019641 617) q(0 0 0 -1) r(3
        3) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"id":375329,"price":"26288.95","volume":"0.026525","funds":"697.31439875","market":"btcmyr","created_at":"2018-11-09T22:42:35+08:00","side":null},{"id":375328,"price":"26288.95","volume":"0.013175","funds":"346.35691625","market":"btcmyr","created_at":"2018-11-09T22:42:35+08:00","side":null},{"id":375327,"price":"26288.95","volume":"0.026525","funds":"697.31439875","market":"btcmyr","created_at":"2018-11-09T22:42:35+08:00","side":null},{"id":375326,"price":"26290.49","volume":"0.673474","funds":"17705.96146226","market":"btcmyr","created_at":"2018-11-09T22:42:35+08:00","side":null},{"id":375325,"price":"26290.49","volume":"0.191371"[...]
