---
http_interactions:
- request:
    method: get
    uri: https://blokmy.com/api/v2/tickers.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9cbaa3d856818586b0e06c74f02db45e"
      X-Iinfo:
      - 5-16272353-16272867 NNNN CT(0 0 0) RT(1541836016102 1287) q(0 0 0 -1) r(3
        3) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"btcmyr":{"at":1541836018,"ticker":{"buy":"25000.0","sell":"27200.0","low":"26288.95","high":"26300.0","last":"26288.95","vol":"2.04837"}},"ethmyr":{"at":1541836018,"ticker":{"buy":"20.0","sell":"3000.0","low":"0.0","high":"0.0","last":"950.95","vol":"0.0"}},"ltcmyr":{"at":1541836018,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"203.85","vol":"0.0"}},"xrpmyr":{"at":1541836018,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"2.5","vol":"0.0"}},"ethbtc":{"at":1541836018,"ticker":{"buy":"0.0","sell":"0.0","low":"0.034049","high":"0.034049","last":"0.034151","vol":"0.0"}},"ltcbtc":{"at":1541836018,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.008461","vol":"0.0"}},"xrpbtc":{"at":1541836018,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.000073","vol":"0.0"}}}'
  recorded_at: Sat, 10 Nov 2018 07:46:58 GMT
recorded_with: VCR 4.0.0
