---
http_interactions:
- request:
    method: get
    uri: https://blokmy.com/api/v2/tickers.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f07fb6ea529c4d60ab0200ae4c7203bc"
      X-Iinfo:
      - 5-16271677-16271911 NNNN CT(249 253 0) RT(1541836014101 616) q(0 0 5 2) r(8
        8) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"btcmyr":{"at":1541836015,"ticker":{"buy":"25000.0","sell":"27200.0","low":"26288.95","high":"26300.0","last":"26288.95","vol":"2.04837"}},"ethmyr":{"at":1541836015,"ticker":{"buy":"20.0","sell":"3000.0","low":"0.0","high":"0.0","last":"950.95","vol":"0.0"}},"ltcmyr":{"at":1541836015,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"203.85","vol":"0.0"}},"xrpmyr":{"at":1541836015,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"2.5","vol":"0.0"}},"ethbtc":{"at":1541836015,"ticker":{"buy":"0.0","sell":"0.0","low":"0.034049","high":"0.034049","last":"0.034151","vol":"0.0"}},"ltcbtc":{"at":1541836015,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.008461","vol":"0.0"}},"xrpbtc":{"at":1541836015,"ticker":{"buy":"0.0","sell":"0.0","low":"0.0","high":"0.0","last":"0.000073","vol":"0.0"}}}'
  recorded_at: Sat, 10 Nov 2018 07:46:56 GMT
recorded_with: VCR 4.0.0
