---
http_interactions:
- request:
    method: get
    uri: https://api.dex.blue/rest/v1/market/SNXDAI/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "trades": [
              {
                "id": 7739,
                "market": "SNXDAI",
                "direction": "SELL",
                "rate": "0.57878",
                "amount": "102473000000000000000",
                "timestamp": 1585762739908
              },
              {
                "id": 7712,
                "market": "SNXDAI",
                "direction": "BUY",
                "rate": "0.6076",
                "amount": "394610000000000000000",
                "timestamp": 1585713929875
              },
              {
                "id": 7694,
                "market": "SNXDAI",
                "direction": "BUY",
                "rate": "0.5961",
                "amount": "659620000000000000000",
      [...]
- request:
    method: get
    uri: https://api.dex.blue/rest/v1/listed
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 0,
          "message": "success",
          "data": {
            "tokens": {
              "ETH": {
                "contract": "0x0000000000000000000000000000000000000000",
                "name": "Ethereum",
                "decimals": 18
              },
              "SAI": {
                "contract": "0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359",
                "name": "Single Collateral DAI",
                "decimals": 18
              },
              "ZRX": {
                "contract": "0xe41d2489571d322189246dafa5ebde1f4699f498",
                "name": "0x",
                "decimals": 18
              },
              "SNX": {
                "contract": "0xc011a73ee8576fb46f5e1c5751ca3b9fe0af2a6f",
                "name": "Synthetix",
                "decimals": 18
              },
              "PNK": {
                "contract": "0x93ed3fbe21207ec2e8f2d3c3de6e058cb73bc04d",
                "name": "Kleros Pinakion",
                "decimals": 18
              },
              "WBTC": {
                "contract": "0x2260fac5e5542a773aa44fbcfedf7c193bc2c599",
                "name": "Wrapped Bitcoin",
                "decimals": 8
              },
              "DAI": {
                "contract": "0x6b175474e89094c44da98b954eedeac495271d0f",
                "name": "Multi-Collateral DAI",
                "decimals": 18
              },
              "LINK": {
                "contract": "0x514910771af9ca656af840dff83e8264ecf986ca",
                "name": "Chainlink",
                "decimals": 18
              },
              "REN": {
                "contract": "0x408e41876cccdc0f92210600ef50372656052a38",
                "name": "Republic",
                "decimals": 18
              },
              "REP": {
                "contract": "0x1985365e9f78359a9b6ad760e32412f4a445e862",
                "name": "Augur",
                "decimals": 18
              },
              "BAT": {
                "contract": "0x0d8775f648430679a709e98d2b0cb6250d2887ef",
                "name": "Basic Attention Token",
                "decimals": 18
              },
              "ENG": {
                "contract": "0xf0ee6b27b759c9893ce4f094b49ad28fd15a23e4",
                "name": "Enigma",
                "decimals": 8
              },
              "MKR": {
                "contract": "0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2",
                "name": "Maker",
                "decimals": 18
              },
              "TRB": {
                "contract": "0x0ba45a8b5d5575935b8158a88c631e9f9c95a2e5",
                "name": "Tellor",
                "decimals": 18
              },
              "sETH": {
                "contract": "0x5e74c9036fb86bd7ecdcb084a0673efc32ea31cb",
                "name": "Synthetic ETH",
                "decimals": 18
              },
              "GNO": {
                "contract": "0x6810e776880c02933d47db1b9fc05908e5386b96",
                "name": "Gnosis",
                "decimals": 18
              },
              "OMG": {
                "contract": "0xd26114cd6ee289accf82350c8d8487fedb8a0c07",
                "name": "OmiseGO",
                "decimals": 18
              }
            },
            "markets": {
              "PNKETH": {
                "traded": "PNK",
                "quote": "ETH"
              },
              "RENETH": {
                "traded": "REN",
                "quote": "ETH"
              },
              "ETHDAI": {
                "traded": "ETH",
                "quote": "DAI"
              },
              "MKRDAI": {
                "traded": "MKR",
                "quote": "DAI"
              },
              "TRBETH": {
                "traded": "TRB",
                "quote": "ETH"
              },
              "OMGETH": {
                "traded": "OMG",
                "quote": "ETH"
              },
              "REPDAI": {
                "traded": "REP",
                "quote": "DAI"
              },
              "WBTCSAI": {
                "traded": "WBTC",
                "quote": "SAI"
              },
              "BATETH": {
                "traded": "BAT",
                "quote": "ETH"
              },
              "sETHETH": {
                "traded": "sETH",
                "quote": "ETH"
              },
              "ZRXETH": {
                "traded": "ZRX",
                "quote": "ETH"
              },
              "SNXETH": {
                "traded": "SNX",
                "quote": "ETH"
              },
              "SAIDAI": {
                "traded": "SAI",
                "quote": "DAI"
              },
              "LINKETH": {
                "traded": "LINK",
                "quote": "ETH"
              },
              "WBTCDAI": {
                "traded": "WBTC",
                "quote": "DAI"
              },
              "ZRXDAI": {
                "traded": "ZRX",
                "quote": "DAI"
              },
              "GNOETH": {
                "traded": "GNO",
                "quote": "ETH"
              },
              "RENDAI": {
                "traded": "REN",
                "quote": "DAI"
              },
              "MKRETH": {
                "traded": "MKR",
                "quote": "ETH"
              },
              "LINKDAI": {
                "traded": "LINK",
                "quote": "DAI"
              },
              "REPETH": {
                "traded": "REP",
                "quote": "ETH"
              },
              "BATDAI": {
                "traded": "BAT",
                "quote": "DAI"
              },
              "ETHSAI": {
                "traded": "ETH",
                "quote": "SAI"
              },
              "MKRSAI": {
                "traded": "MKR",
                "quote": "SAI"
              },
              "ETHWBTC": {
                "traded": "ETH",
                "quote": "WBTC"
              },
              "ENGETH": {
                "traded": "ENG",
                "quote": "ETH"
              },
              "SNXDAI": {
                "traded": "SNX",
                "quote": "DAI"
              }
            }
          }
        }
  recorded_at: Thu, 02 Apr 2020 06:37:31 GMT
[...]
