---
http_interactions:
- request:
    method: get
    uri: https://api.dex.blue/rest/v1/market/SNXDAI/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 0,
          "message": "success",
          "data": {
            "trades": [
              {
                "id": 7694,
                "market": "SNXDAI",
                "direction": "BUY",
                "rate": "0.5961",
                "amount": "659620000000000000000",
                "timestamp": 1585590656050
              },
              {
                "id": 7689,
                "market": "SNXDAI",
                "direction": "SELL",
                "rate": "0.56228",
                "amount": "214890000000000000000",
                "timestamp": 1585564253626
              },
              {
                "id": 7688,
                "market": "SNXDAI",
                "direction": "SELL",
                "rate": "0.56228",
                "amount": "493150000000000000000",
  [...]
