---
http_interactions:
- request:
    method: get
    uri: https://api.dex.blue/rest/v1/market/SNXDAI/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 0,
          "message": "success",
          "data": {
            "rate": "0.5961",
            "change24h": "12.4",
            "volumeTraded24h": "1367.7",
            "volumeQuote24h": "791.32",
            "high24h": "0.5961",
            "low24h": "0.56228"
          }
        }
  recorded_at: Tue, 31 Mar 2020 04:05:44 GMT
recorded_with: VCR 4.0.0
