---
http_interactions:
- request:
    method: get
    uri: https://api.dex.blue/rest/v1/market/SNXDAI/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 0,
          "message": "success",
          "data": {
            "rate": "0.57878",
            "change24h": "-2.91",
            "volumeTraded24h": "497.08",
            "volumeQuote24h": "299.07",
            "high24h": "0.6076",
            "low24h": "0.57878"
          }
        }
  recorded_at: Thu, 02 Apr 2020 06:37:22 GMT
recorded_with: VCR 4.0.0
