---
http_interactions:
- request:
    method: get
    uri: https://api.dex.blue/rest/v1/market/SNXDAI/orderbook
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 0,
          "message": "success",
          "data": [
            {
              "direction": "BUY",
              "rate": "0.60114",
              "amount": "197910000000000000000",
              "orderCount": 1
            },
            {
              "direction": "BUY",
              "rate": "0.6005",
              "amount": "291930000000000000000",
              "orderCount": 1
            },
            {
              "direction": "BUY",
              "rate": "0.59617",
              "amount": "2372600000000000000000",
              "orderCount": 1
            },
            {
              "direction": "BUY",
              "rate": "0.59419",
              "amount": "2442900000000000000000",
 [...]
