---
http_interactions:
- request:
    method: get
    uri: https://api.vbt.cc/api/v1/orders?symbol=35
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"200","data":[{"date":1573195473,"count":"0.001744","amount":"16.02034912","type":"buy","price":"9185.98"},{"date":1573195466,"count":"0.544234","amount":"4999.63829504","type":"buy","price":"9186.56"},{"date":1573195459,"count":"0.440369","amount":"4046.67844801","type":"sell","price":"9189.29"},{"date":1573195450,"count":"0.096659","amount":"888.21115008","type":"buy","price":"9189.12"},{"date":1573195440,"count":"1.167682","amount":"10730.05175758","type":"sell","price":"9189.19"},{"date":1573195431,"count":"0.604669","amount":"5556.41832811","type":"buy","price":"9189.19"},{"date":1573[...]
