---
http_interactions:
- request:
    method: get
    uri: https://api.vbt.cc/api/v1/ticker?symbol=35
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"200","data":{"high":"9299.83","vol":"2451.761913","last":"9186.56","low":"9114.12","buy":"9184.04","sell":"9191.73"}}'
  recorded_at: Fri, 08 Nov 2019 06:44:33 GMT
recorded_with: VCR 4.0.0
