---
http_interactions:
- request:
    method: get
    uri: https://api.vbt.cc/api/v1/depth?symbol=35
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"200","data":{"asks":[[9185.98,0.001744,16.02034912],[9191.73,0.15,1378.7595],[9198.55,0.0297,273.196935],[9200.0,0.1505,1384.6],[9201.0,0.2255,2074.8255],[9201.67,0.5799,5336.048433],[9202.22,0.225,2070.4995],[9202.23,0.1086,999.362178],[9202.84,0.2358,2170.029672],[9202.85,0.053,487.75105],[9202.87,0.2378,2188.4424860000004],[9202.9,0.2358,2170.04382],[9202.91,0.1478,1360.1900979999998],[9202.93,0.7077,6512.913561],[9202.95,0.0718,660.7718100000001],[9202.96,0.0456,419.654976],[9203.06,0.5001,4602.450306],[9203.24,0.0652,600.051248],[9203.59,0.15,1380.5384999999999],[9203.6,0.15,1380.54],[9203.76,0.05,460.18800000000005],[9331.41,0.006598000000000007,61.56864317999998],[15000.0,0.01,150.0],[15010.0,0.01,150.1],[15020.0,0.01,150.20000000000002],[15030.0,0.01,150.3],[15040.0,0.01,150.4],[15050.0,0.01,150.5],[15060.0,0.01,150.6],[15070.0,0.01,150.70000000000002],[15080.0,0.01,150.8],[15090.0,0.01,150.9],[16000.0,0.12,1920.0],[17000.0,0.1,1700.0],[18000.0,0.15,2700.0],[19000.0,0.1,1900.0],[20000.0,0.1,2000.0],[21000.0,0.02,420.0],[22000.0,0.023,506.0],[23000.0,0.025,575.0],[24000.0,0.026,624.0],[25000.0,0.026,650.0],[27000.0,0.03,810.0]],"bids":[[9185.98,0.001744,16.02034912],[9184.04,0.24360000000000004,2237.2321440000005],[9180.0,0.2492,2287.656],[9179.99,0.0032,29.375968],[9179.95,1.1579,10629.464105000001],[9179.87,0.25,2294.9675],[9179.79,0.0011,10.097769000000001],[9179.74,0.8711,7996.471514],[9179.67,0.015,137.69505],[9179.66,0.0119,109.237954],[9179.59,0.0472,433.276648],[9179.52,0.9691,8895.872832000001],[9179.0,0.1867,1713.7193],[9178.81,0.4125,3786.2591249999996],[9178.75,0.2,1835.75],[9178.74,0.0564,517.680936],[9178.68,0.4802,4407.602136],[9178.66,0.7194,6603.128004],[9178.58,0.7923,7272.188934],[9178.52,0.0022,20.192744],[9100.0,0.093956,854.9996],[7300.0,0.0020000000000000018,14.600000000000023],[7260.0,0.001,7.26],[7250.0,0.001,7.25],[7240.0,0.001,7.24],[7210.0,0.001,7.21],[7200.0,0.001,7.2],[7100.0,0.001,7.1000000000000005],[7009.0,0.001,7.009],[7000.0,0.001,7.0],[6870.0,0.002,13.74],[6860.0,0.002,13.72],[6850.0,0.002,13.700000000000001],[6840.0,0.002,13.68],[6830.0,0.002,13.66],[6820.0,0.002,13.64],[6810.0,0.002,13.620000000000001],[6800.0,0.002,13.6],[6510.0,0.002,13.02],[6500.0,0.002,13.0],[6420.0,0.003,19.26],[6400.0,0.003,19.2],[6310.0,0.0032,20.192],[6300.0,0.0032,20.16],[6200.0,0.0034,21.08],[6100.0,0.0036,21.96],[6000.0,0.004,24.0],[5870.0,0.0032,18.784000000000002],[5860.0,0.0032,18.752000000000002],[5850.0,0.003,17.55]]}}'
  recorded_at: Fri, 08 Nov 2019 06:44:33 GMT
recorded_with: VCR 4.0.0
