---
http_interactions:
- request:
    method: get
    uri: https://api.nebula.exchange/v1/trades/CAV_ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2173-ltpKBP/T2SmZ1+6XG0C0ooWghTQ"
    body:
      encoding: UTF-8
      string: '[{"id":302,"timestamp":1528318821,"price":0.0001,"amount":11146.627974525845,"side":"buy"},{"id":301,"timestamp":1528318821,"price":0.0000998,"amount":2835.628990474155,"side":"buy"},{"id":300,"timestamp":1528309894,"price":0.0000998,"amount":6662.501252222044,"side":"buy"},{"id":299,"timestamp":1528309894,"price":0.0000997999,"amount":965,"side":"buy"},{"id":298,"timestamp":1528302082,"price":0.000087,"amount":844.7221860491536,"side":"sell"},{"id":297,"timestamp":1528300076,"price":0.000087,"amount":10930.648927586208,"side":"buy"},{"id":296,"timestamp":1528300076,"price":0.0[...]
