---
http_interactions:
- request:
    method: get
    uri: https://api.nebula.exchange/v1/exchanges
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1de5-1s0jgTbiipdZdnegGRTUt/hvpEU"
    body:
      encoding: UTF-8
      string: '[{"symbol":"ARN_ETH","highPrice":0,"lowPrice":0,"change":0,"lastPrice":0,"volume":0},{"symbol":"ARN_USD₮","highPrice":0,"lowPrice":0,"change":0,"lastPrice":0,"volume":0},{"symbol":"ARX_ETH","highPrice":0,"lowPrice":0,"change":0,"lastPrice":0.0001,"volume":0},{"symbol":"ARX_USD₮","highPrice":0,"lowPrice":0,"change":0,"lastPrice":0,"volume":0},{"symbol":"AXP_ETH","highPrice":0,"lowPrice":0,"change":0,"lastPrice":0,"volume":0},{"symbol":"AXP_USD₮","highPrice":0,"lowPrice":0,"change":0,"lastPrice":0,"volume":0},{"symbol":"BAT_ETH","highPrice":0,"lowPrice":0,"change":0,"lastPrice"[...]
