---
http_interactions:
- request:
    method: get
    uri: https://www.9coin.com/home/api/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cdn-Edge:
      - 9b7b529,-
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"","data":[{"cy_mark":"GZR_ETH","buy_one_price":"0.00005326","sell_one_price":"0.00025000","new_price":"0.00011597","24H_max_price":"0.00021721","24H_min_price":"0.00008613","24H_done_money":"30.8414498062896000"},{"cy_mark":"DANG_ETH","buy_one_price":"0.00010000","sell_one_price":"0.00011000","new_price":"0.00010219","24H_max_price":"0.00011759","24H_min_price":"0.00008533","24H_done_money":"1552.7613514569983036"},{"cy_mark":"SKY_ETH","buy_one_price":"0.01123100","sell_one_price":"0.01435200","new_price":"0.01367900","24H_max_price":"0.01653300","24H_min_price":"0.01241900","24H_done_money":"14[...]
