---
http_interactions:
- request:
    method: get
    uri: https://www.9coin.com/home/api/cy_mark_list
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cdn-Edge:
      - 9b7b529,-
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"","data":[{"cy_id":"68","cy_mark":"GZR_ETH"},{"cy_id":"66","cy_mark":"DANG_ETH"},{"cy_id":"61","cy_mark":"SKY_ETH"},{"cy_id":"60","cy_mark":"SKY_BTC"},{"cy_id":"70","cy_mark":"BQT_ETH"},{"cy_id":"27","cy_mark":"ETH_BTC"},{"cy_id":"28","cy_mark":"BTC_USDT"},{"cy_id":"29","cy_mark":"LTC_ETH"},{"cy_id":"30","cy_mark":"EOS_BTC"},{"cy_id":"31","cy_mark":"OMG_BTC"},{"cy_id":"32","cy_mark":"BTM_BTC"},{"cy_id":"33","cy_mark":"AE_BTC"},{"cy_id":"35","cy_mark":"TRX_BTC"},{"cy_id":"36","cy_mark":"SNT_BTC"},{"cy_id":"37","cy_mark":"RDN_BTC"},{"cy_id":"41","cy_mark":"WICC_BTC"},{"cy_id":"42","cy_mark":"EOS_ETH"},{"cy_id":"43","cy_mark":"ETC_ETH"},{"cy_id":"44","cy_mark":"BTM_ETH"},{"cy_id":"45","cy_mark":"AE_ETH"},{"cy_id":"46","cy_mark":"TRX_ETH"},{"cy_id":"47","cy_mark":"OMG_ETH"},{"cy_id":"49","cy_mark":"SNT_ETH"},{"cy_id":"50","cy_mark":"RDN_ETH"},{"cy_id":"54","cy_mark":"WICC_ETH"},{"cy_id":"55","cy_mark":"ETC_BTC"},{"cy_id":"58","cy_mark":"ETH_USDT"},{"cy_id":"57","cy_mark":"LTC_BTC"},{"cy_id":"71","cy_mark":"KMC_USDT"},{"cy_id":"63","cy_mark":"MVT_ETH"},{"cy_id":"62","cy_mark":"MVT_BTC"},{"cy_id":"69","cy_mark":"DANG_USDT"}]}'
  recorded_at: Wed, 20 Jun 2018 09:20:59 GMT
recorded_with: VCR 4.0.0
