---
http_interactions:
- request:
    method: get
    uri: https://api.bancor.network/0.1/currencies/convertiblePairs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b5-JOoaeTQdgh/W+TBnuRL3CqmEC6Q"
      X-Iinfo:
      - 5-33753420-33753422 NNNN CT(2 2 0) RT(1517901058683 16) q(0 0 1 -1) r(9 9)
        U9
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"data":{"BNT":"ETH","STX":"BNT","GNOBNT":"BNT","ENJBNT":"BNT","INDBNT":"BNT","BMCBNT":"BNT","DRTBNT":"BNT","KINBNT":"BNT","WINGSBNT":"BNT","EOSBNT":"BNT","WISHBNT":"BNT","BNBBNT":"BNT","OMGBNT":"BNT","TAASBNT":"BNT","STORMBNT":"BNT","MANABNT":"BNT","SNTBNT":"BNT","TBXBNT":"BNT","MNTPBNT":"BNT","WLKBNT":"BNT","AIXBNT":"BNT","CATBNT":"BNT","WAXBNT":"BNT","DRGNBNT":"BNT","TIOBNT":"BNT","SENSEBNT":"BNT","SRNBNT":"BNT","TRSTBNT":"BNT","EDGBNT":"BNT","RLCBNT":"BNT","DAIBNT":"BNT","BCSBNT":"BNT","TRXBNT":"BNT","SWMBNT":"BNT","CANBNT":"BNT","EOS":"BNT","SNT":"BNT","CAN":"BNT","SENSE":"BNT","TRX":"BNT","DAI":"BNT","TBX":"BNT","TIO":"BNT","SWM":"BNT","BNB":"BNT","DRT":"BNT","MANA":"BNT","BCS":"BNT","CAT":"BNT","SRN":"BNT","WLK":"BNT","RLC":"BNT","DRGN":"BNT","EDG":"BNT","TRST":"BNT","OMG":"BNT","ENJ":"BNT","STORM":"BNT","WINGS":"BNT","MNTP":"BNT","KIN":"BNT","GNO":"BNT","BMC":"BNT","WAX":"BNT","IND":"BNT","AIX":"BNT","WISH":"BNT","TAAS":"BNT"}}'
  recorded_at: Tue, 06 Feb 2018 07:10:59 GMT
recorded_with: VCR 3.0.3
