---
http_interactions:
- request:
    method: get
    uri: http://api.blocklytics.org/pools/v0/exchanges?key=api_key&platform=bancor
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"direction":"desc","excludeEmpty":null,"limit":null,"offset":0,"orderBy":null,"platform":"bancor","search":null,"totalRows":162},"results":[{"base":"0x1f573d6fb3f13d689ff844b4ce37794d79a7ff1c","baseLiquidity":8671915.556838004,"baseName":"Bancor
        Network Token","basePrice":751.2463432663,"baseSymbol":"BNT","baseVolume":1976244.1999020032,"exchange":"0xd3ec78814966ca1eb4c923af4da86bf7e6c743ba","ownershipToken":"0xb1cd6e4153b2a390cf00a6556b0fc1458c4a5533","platform":"bancor","token":"0xc0829421c1d260bd3cb3e0f06cfe2d52db2ce315","tokenLiquidity":11543.3714048227,"tokenName":"Ether
        Token","tokenSymbol":"ETH","usdLiquidity":3757141.75578567,"usdPrice":162.7402265778,"usdVolume":428107.8127672873},{"base":"0x1f573d6fb3f13d689ff844b4ce37794d79a7ff1c","baseLiquidity":434871.6980432619,"baseName":"Bancor
        Network Token","basePrice":1.0255411392,"baseSymbol":"BNT","baseVolume":83954.0746570623,"exchange":"0xbd19f30adde367fe06c0076d690d434bf945a8fc","ownershipToken":"0x131da075a2832549128e93acc2b54174045232cf","platform":"bancor","token":"0x0d8775f648430679a709e98d2b0cb6250d2887ef","tokenLiquidity":424041.2026539959,"tokenName":"Basic
        Attention Token","tokenSy[...]
