---
http_interactions:
- request:
    method: get
    uri: https://api.bancor.network/0.1/currencies/ETH/ticker?displayCurrencyCode=BNT&fromCurrencyCode=BNT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Rbz-Geo-Countrycode:
      - MY
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"name":"Ethereum","symbol":"ETH","code":"ETH","decimals":18,"totalSupply":"7244187237357846184871","totalSupplyD":"7244.187237357846184871","volume24h":"547333844012299100000000","volume24hD":547333.8440122991,"displayCurrency":"BNT","price":787.8802887839253,"price24h":"772.197998768062400805"}}'
  recorded_at: Mon, 23 Mar 2020 14:08:03 GMT
recorded_with: VCR 4.0.0
