---
http_interactions:
- request:
    method: get
    uri: https://api.bancor.network/0.1/currencies/BNT/ticker?fromCurrencyCode=ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f2-GEw2WG5WmwiaIZbw6E91xlM/9dc"
      X-Iinfo:
      - 7-33756436-33756439 NNNN CT(0 0 0) RT(1517901092796 16) q(0 0 0 -1) r(2 2)
        U9
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"data":{"name":"Bancor","symbol":"BNT","code":"BNT","decimals":18,"totalSupply":"74986890711636602429515643","price24hHigh":0,"price24hLow":0,"price":0.006035768196915302,"price24h":0.006233611866122295,"volume24h":"4799110024453020301339"}}'
  recorded_at: Tue, 06 Feb 2018 07:11:33 GMT
recorded_with: VCR 3.0.3
