---
http_interactions:
- request:
    method: get
    uri: https://www.zg.com/api/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cdn-Edge:
      - 5efb898,-
    body:
      encoding: UTF-8
      string: '{"ticker":[{"buy":"0.066","high":"0.0669","last":"0.0661","low":"0.0615","sell":"0.0661","symbol":"ZG_CNZ","vol":"188198165.24172765"},{"buy":"781.08","high":"809.24","last":"785.82","low":"782.72","sell":"789.6","symbol":"ETH_CNZ","vol":"273676.53361735"},{"buy":"0.0123","high":"0.0145","last":"0.013","low":"0.0125","sell":"0.015","symbol":"OEC_CNZ","vol":"171432998"},{"buy":"23954.8","high":"24477.38","last":"24092.53","low":"23960.71","sell":"24201.76","symbol":"BTC_CNZ","vol":"9384.54231668"},{"buy":"0.31","high":"0.43","last":"0.3616","low":"0.3103","sell":"0.43","symbol":"CARX_CNZ","vol":"6918734.289[...]
