---
http_interactions:
- request:
    method: get
    uri: https://api1.zg.com/trades?size=20&symbol=ZG_CNZ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"amount":"3754.8435","price":"0.121","side":"buy","timestamp":1573538704},{"amount":"4294.7451","price":"0.1211","side":"buy","timestamp":1573538691},{"amount":"5907.7167","price":"0.121","side":"sell","timestamp":1573538679},{"amount":"3463.8232","price":"0.1211","side":"sell","timestamp":1573538666},{"amount":"3530.6734","price":"0.1212","side":"buy","timestamp":1573538654},{"amount":"3886.4341","price":"0.1211","side":"sell","timestamp":1573538643},{"amount":"4958.6417","price":"0.121","side":"sell","timestamp":1573538634},{"amount":"5275.8854","price":"0.1209","side":"buy","timestamp":1573538623},{"amount":"3303.8467","price":"0.121","side":"sell","timestamp":1573538614},{"amount":"3330.7481","price":"0.1211","side":"sell","timestamp":1573538606},{"amount":"5399.0289","price":"0.1212","side":"sell","timestamp":1573538597},{"amount":"5365.4348","price":"0.1211","side":"sell","timestamp":1573538586},{"amount":"5611.4988","price":"0.1212","side":"buy","timestamp":1573538575},{"amount":"4074.3926","price":"0.1211","side":"buy","timestamp":1573538564},{"amount":"3493.203","price":"0.121","side":"sell","timestamp":1573538553},{"amount":"3696.9471","price":"0.1211","side":"buy","timestamp":1573538545},{"amount":"3508.3563","price":"0.1212","side":"buy","timestamp":1573538535},{"amount":"4511.659","price":"0.1213","side":"buy","timestamp":1573538525},{"amount":"3415.8008","price":"0.1212","side":"sell","timestamp":1573538516},{"amount":"4908.2798","price":"0.1211","side":"sell","timestamp":1573538506}]'
  recorded_at: Tue, 12 Nov 2019 06:05:08 GMT
recorded_with: VCR 4.0.0
