---
http_interactions:
- request:
    method: get
    uri: https://www.zg.com/api/v1/trades?size=20&symbol=ZG_CNZ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cdn-Edge:
      - 5efb898,-
    body:
      encoding: UTF-8
      string: '[{"amount":"6696.9697","price":"0.066","side":"sell","timestamp":"1548301443010"},{"amount":"6459.9092","price":"0.0661","side":"sell","timestamp":"1548301440075"},{"amount":"6641.4523","price":"0.0661","side":"sell","timestamp":"1548301438042"},{"amount":"5363.6364","price":"0.066","side":"sell","timestamp":"1548301437012"},{"amount":"5900.1513","price":"0.0661","side":"sell","timestamp":"1548301434075"},{"amount":"191.8963","price":"0.0661","side":"buy","timestamp":"1548301433629"},{"amount":"4916.7927","price":"0.0661","side":"sell","timestamp":"1548301432[...]
