---
http_interactions:
- request:
    method: get
    uri: https://www.zg.com/api/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cdn-Edge:
      - cb6fb36,-
    body:
      encoding: UTF-8
      string: '{"ticker":[{"buy":"0.0803","high":"0.0895","last":"0.0806","low":"0.08","sell":"0.081","symbol":"ZG_CNZ","vol":"168837372.3363"},{"buy":"940","high":"949.73","last":"944.34","low":"929.69","sell":"949.66","symbol":"ETH_CNZ","vol":"150111.2331"},{"buy":"0.0018","high":"0.0018","last":"0.0018","low":"0.0018","sell":"0.002","symbol":"OEC_CNZ","vol":"1128"},{"buy":"27400.62","high":"27620","last":"27528.91","low":"27184.37","sell":"27620","symbol":"BTC_CNZ","vol":"3664.66468979"},{"buy":"0.078","high":"0.0879","last":"0.0847","low":"0.078","sell":"0.0912","symbol":"CARX_CNZ","vol":"360112.785"},{"buy":"0.300[...]
