---
http_interactions:
- request:
    method: get
    uri: https://www.zg.com/api/v1/trades?size=20&symbol=ZG_CNZ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cdn-Edge:
      - f1b6cf5,-
    body:
      encoding: UTF-8
      string: '[{"amount":"19.7836","price":"0.0801","side":"buy","timestamp":"1547173894279"},{"amount":"102.1431","price":"0.0801","side":"buy","timestamp":"1547173894279"},{"amount":"2","price":"0.0801","side":"buy","timestamp":"1547173875698"},{"amount":"201.6564","price":"0.0801","side":"buy","timestamp":"1547173866815"},{"amount":"139.9447","price":"0.0801","side":"buy","timestamp":"1547173634463"},{"amount":"83.4866","price":"0.0801","side":"buy","timestamp":"1547173606873"},{"amount":"188.7931","price":"0.0801","side":"buy","timestamp":"1547173579162"},{"amount":"[...]
