---
http_interactions:
- request:
    method: get
    uri: https://api1.zg.com/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ticker":[{"buy":"0.005","high":"0.018","last":"0.018","low":"0.018","sell":"0.036","symbol":"ABO_CNZ","vol":"0","change":"0"},{"buy":"0.0015","high":"0.002","last":"0.002","low":"0.002","sell":"0.00279","symbol":"ACSS_USDT","vol":"221143.2","change":"-9.09"},{"buy":"0.0004","high":"0.0004","last":"0.0004","low":"0.0004","sell":"0.0009","symbol":"AEP_CNZ","vol":"0","change":"0"},{"buy":"0","high":"0.0004","last":"0.0004","low":"0.0004","sell":"0.0009","symbol":"AGBC_USDT","vol":"0","change":"0"},{"buy":"0.2726","high":"0.2809","last":"0.2782","low":"0.2736","sell":"0.2828","symbol":"ALGO_USDT","vol":"1585276.71","c[...]
