---
http_interactions:
- request:
    method: get
    uri: https://api.zg8.com/openapi/quote/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"time":1591164699107,"symbol":"EOSUSDT","volume":"1403339.8303","quoteVolume":"3866709.0695561","lastPrice":"2.666","highPrice":"2.896","lowPrice":"2.609","openPrice":"2.837"},{"time":1591164681556,"symbol":"HLUSDT","volume":"50828157.956","quoteVolume":"561014.33200278","lastPrice":"0.01106","highPrice":"0.01161","lowPrice":"0.0106","openPrice":"0.01156"},{"time":1591164680591,"symbol":"IFMUSDT","volume":"12983262","quoteVolume":"279920.103192","lastPrice":"0.02151","highPrice":"0.02177","lowPrice":"0.02131","openPrice":"0.0215"},{"time":1591164684596,"symbol":"RLZUSDT","volume":"1242727427","quoteVolume":"229861.15977304","lastPrice":"0.000158","highPrice":[...]
