---
http_interactions:
- request:
    method: get
    uri: https://www.zg.com/api/v1/trades?size=20&symbol=ZG_CNZ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cdn-Edge:
      - f1b6cf5,-
    body:
      encoding: UTF-8
      string: '[{"amount":"6211.5621","price":"0.0813","side":"sell","timestamp":"1553153201174"},{"amount":"6488.8337","price":"0.0806","side":"sell","timestamp":"1553153199146"},{"amount":"7258.0645","price":"0.0806","side":"sell","timestamp":"1553153198118"},{"amount":"6674.938","price":"0.0806","side":"sell","timestamp":"1553153196188"},{"amount":"6724.5658","price":"0.0806","side":"sell","timestamp":"1553153194151"},{"amount":"7220.8437","price":"0.0806","side":"buy","timestamp":"1553153192122"},{"amount":"7295.2854","price":"0.0806","side":"sell","timestamp":"155315319[...]
