---
http_interactions:
- request:
    method: get
    uri: https://www.zg.com/api/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cdn-Edge:
      - f1b6cf5,-
    body:
      encoding: UTF-8
      string: '{"ticker":[{"buy":"0.077","high":"0.0918","last":"0.0801","low":"0.063","sell":"0.0801","symbol":"ZG_CNZ","vol":"106913228.36734961"},{"buy":"875.02","high":"1025.82","last":"875.02","low":"856.34","sell":"876.98","symbol":"ETH_CNZ","vol":"191218.9718"},{"buy":"0.0147","high":"0.0175","last":"0.015","low":"0.0147","sell":"0.0165","symbol":"OEC_CNZ","vol":"310705162"},{"buy":"24973.14","high":"27594.77","last":"24973.14","low":"24765.67","sell":"25063.22","symbol":"BTC_CNZ","vol":"6279.8093"},{"buy":"0.0699","high":"0.0701","last":"0.0701","low":"0.07","sell":"0.0703","symbol":"CARX_CNZ","vol":"278037.97"}[...]
