---
http_interactions:
- request:
    method: get
    uri: https://s3.ap-northeast-2.amazonaws.com/crix-production/crix_master
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 528F6D0E156E13F4
      Last-Modified:
      - Wed, 18 Apr 2018 09:00:41 GMT
      Etag:
      - '"7ae780257c3578f99d2a5866d5d4f7f4"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"code":"CRIX.UPBIT.KRW-BTC","koreanName":"비트코인","englishName":"Bitcoin","pair":"BTC/KRW","baseCurrencyCode":"BTC","quoteCurrencyCode":"KRW","exchange":"UPBIT","tradeStatus":"ACTIVE","marketState":"ACTIVE","marketStateForIOS":"ACTIVE","isTradingSuspended":false,"baseCurrencyDecimalPlace":8,"quoteCurrencyDecimalPlace":0,"timestamp":1501485295000},{"code":"CRIX.UPBIT.KRW-DASH","koreanName":"대시","englishName":"Dash","pair":"DASH/KRW","baseCurrencyCode":"DASH","quoteCurrencyCode":"KRW","exchange":"UPBIT","tradeStatus":"PREVIEW","marketState":"ACTIVE","marketStateForIOS":"ACTIVE","isTradingSuspended":false,"baseCurrencyDecimalPlace":8,"quoteCurrencyDecimalPlace":0,"timestamp":1501485295000},{"code":"CRIX.UPBIT.KRW-ETH","koreanName":"이더리움","englishName":"Ethereum","pair":"ETH/KRW","baseCurrencyCode":"ETH","quoteCurrencyCode":"K[...]
