---
http_interactions:
- request:
    method: get
    uri: https://api.upbit.com/v1/trades/ticks?count=200&market=KRW-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"066f7b7f5fb2b089f01c3f421f8358a26"'
      X-Application-Context:
      - stockplus_quotation_api:aws_production:10080
    body:
      encoding: UTF-8
      string: '[{"market":"KRW-BTC","trade_date_utc":"2018-07-08","trade_time_utc":"09:44:25","timestamp":1531043065000,"trade_price":7517000.00000000,"trade_volume":0.09312016,"prev_closing_price":7550000.00000000,"change_price":-33000.00000000,"ask_bid":"ASK"},{"market":"KRW-BTC","trade_date_utc":"2018-07-08","trade_time_utc":"09:44:24","timestamp":1531043064000,"trade_price":7517000.00000000,"trade_volume":0.00100000,"prev_closing_price":7550000.00000000,"change_price":-33000.00000000,"ask_bid":"ASK"},{"market":"KRW-BTC","trade_date_utc":"2018-07-08","trade_time_utc":"09:44:23","timestamp":1531043063000,"trade_price":7519000.00000000,"trade_volume":0.09735685,"prev_closing_price":7550000.00000000,"change_price":-31000.00000000,"ask_bid":"BID"}[...]
