---
http_interactions:
- request:
    method: get
    uri: https://api.upbit.com/v1/trades/ticks?count=200&market=KRW-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"058005b43eb0e0edb515104d043f65ab2"'
      X-Application-Context:
      - stockplus_quotation_api:aws_production:10080
    body:
      encoding: UTF-8
      string: '[{"market":"KRW-BTC","trade_date_utc":"2018-07-09","trade_time_utc":"01:21:21","timestamp":1531099281000,"trade_price":7493000.00000000,"trade_volume":0.00671937,"prev_closing_price":7516000.00000000,"change_price":-23000.00000000,"ask_bid":"ASK"},{"market":"KRW-BTC","trade_date_utc":"2018-07-09","trade_time_utc":"01:21:17","timestamp":1531099277000,"trade_price":7493000.00000000,"trade_volume":0.02988133,"prev_closing_price":7516000.00000000,"change_price":-23000.00000000,"ask_bid":"ASK"},{"market":"KRW-BTC","trade_date_utc":"2018-07-09","trade_time_utc":"01:21:16","timestamp":1531099276000,"trade_price":7493000.00000000,"trade_volume":0.05395687,"prev_closing_price":7516000.00000000,"change_price":-23000.00000000,"ask_bid":"ASK"}[...]
