---
http_interactions:
- request:
    method: get
    uri: https://api.upbit.com/v1/ticker?markets=KRW-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"037dd3a534237ce9b2ba20ac99627ea8c"'
      X-Application-Context:
      - stockplus_quotation_api:aws_production:10080
    body:
      encoding: UTF-8
      string: '[{"market":"KRW-BTC","trade_date":"20180709","trade_time":"012117","trade_date_kst":"20180709","trade_time_kst":"102117","trade_timestamp":1531099277000,"opening_price":7515000.00000000,"high_price":7524000.00000000,"low_price":7489000.00000000,"trade_price":7493000.0,"prev_closing_price":7516000.00000000,"change":"FALL","change_price":23000.00000000,"change_rate":0.0030601384,"signed_change_price":-23000.00000000,"signed_change_rate":-0.0030601384,"trade_volume":0.02988133,"acc_trade_price":1156285198.895980000,"acc_trade_price_24h":19626619325.58046000,"acc_trade_volume":154.03836681,"acc_trade_volume_24h":2610.95429354,"highest_52_week_price":28885000.00000000,"highest_52_week_date":"2018-01-06","lowest_52_week_price":4175000.00000000,"lowest_52_week_date":"2017-09-25","timestamp":1531099282464}]'
  recorded_at: Mon, 09 Jul 2018 01:21:21 GMT
recorded_with: VCR 4.0.0
