---
http_interactions:
- request:
    method: get
    uri: https://crix-api-endpoint.upbit.com/v1/crix/candles/days/?code=CRIX.UPBIT.KRW-ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - stockplus_quotation_api:aws_production:10080
    body:
      encoding: UTF-8
      string: '[{"code":"CRIX.UPBIT.KRW-ETH","candleDateTime":"2018-02-26T00:00:00+00:00","candleDateTimeKst":"2018-02-26T09:00:00+09:00","openingPrice":981000.00000000,"highPrice":1002000.00000000,"lowPrice":966000.00000000,"tradePrice":990100.00000000,"candleAccTradeVolume":28180.44452679,"candleAccTradePrice":27802958355.19322200,"timestamp":1519657543906,"prevClosingPrice":981000.00000000,"change":"RISE","changePrice":9100.00000000,"changeRate":0.0092762487,"signedChangePrice":9100.00000000,"signedChangeRate":0.0092762487}]'
  recorded_at: Mon, 26 Feb 2018 15:05:51 GMT
- request:
    method: get
    uri: https://crix-api-endpoint.upbit.com/v1/crix/candles/minutes/10?code=CRIX.UPBIT.KRW-ETH&count=145
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - stockplus_quotation_api:aws_production:10080
    body:
      encoding: UTF-8
      string: '[{"code":"CRIX.UPBIT.KRW-ETH","candleDateTime":"2018-02-26T15:00:00+00:00","candleDateTimeKst":"2018-02-27T00:00:00+09:00","openingPrice":987900.00000000,"highPrice":992000.00000000,"lowPrice":987200.00000000,"tradePrice":990100.0,"candleAccTradeVolume":292.67744824,"candleAccTradePrice":289870950.70615000,"timestamp":1519657543906,"unit":10},{"code":"CRIX.UPBIT.KRW-ETH","candleDateTime":"2018-02-26T14:50:00+00:00","candleDateTimeKst":"2018-02-26T23:50:00+09:00","openingPrice":987100.00000000,"highPrice":988400.00000000,"lowPrice":982500.00000000,"tradePrice":988000.0,"candleAccTradeVolume":218.82482354,"candleAccTradePrice":215579768.08166100,"timestamp":1519657170492,"unit":10},{"code":"CRIX.UPBIT.KRW-ETH","candleDateTime":"2018-02-26T14:40:00+00:00","candleDateTimeKst":"2018-02-26T23:40:00+09:00","openingPrice":986600.00000000[...]
