---
http_interactions:
- request:
    method: get
    uri: https://api.zaif.jp/api/1/trades/btc_jpy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"date": 1508937402, "price": 620745.0, "amount": 0.0093, "tid": 76009015,
        "currency_pair": "btc_jpy", "trade_type": "ask"}, {"date": 1508937402, "price":
        620745.0, "amount": 0.0101, "tid": 76009014, "currency_pair": "btc_jpy", "trade_type":
        "bid"}, {"date": 1508937402, "price": 620465.0, "amount": 0.0365, "tid": 76009013,
        "currency_pair": "btc_jpy", "trade_type": "bid"}, {"date": 1508937402, "price":
        620465.0, "amount": 0.074, "tid": 76009012, "currency_pair": "btc_jpy", "trade_type":
        "bid"}, {"date": 1508937401, "price": 620465.0, "amount": 0.0175, "tid": 76009011,
  [...]
