---
http_interactions:
- request:
    method: get
    uri: https://api.zaif.jp/api/1/currency_pairs/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id": 9, "title": "XCP/BTC \u53d6\u5f15\u6240 - Zaif Exchange", "seq":
        9, "is_token": true, "item_unit_step": 1.0, "aux_unit_step": 1e-08, "currency_pair":
        "xcp_btc", "aux_unit_point": 8, "item_unit_min": 1.0, "aux_japanese": "\u30d3\u30c3\u30c8\u30b3\u30a4\u30f3",
        "description": "XCP/BTC\u53d6\u5f15\u6240\u3002XCP\u3068\u30d3\u30c3\u30c8\u30b3\u30a4\u30f3\u306e\u53d6\u5f15\u304c\u884c\u3048\u307e\u3059\u3002",
        "aux_unit_min": 1e-08, "event_number": 0, "name": "XCP/BTC", "item_japanese":
        "XCP"}, {"id": 5, "title": "XEM/BTC", "seq": 2, "is_token": false, "item_unit_step":
        1.0, "aux_unit_step": 1e-08, "currency_pair": "xem_btc", "aux_unit_point":
        8, "item_unit_min": 1.0, "aux_japanese": "\u30d3\u30c3\u30c8\u30b3\u30a4\u30f3",
        "description": "XEM\u30fb\u30d3\u30c3\u30c8\u30b3\u30a4\u30f3\u306e\u53d6\u5f15\u3092\u884c\u3046\u3053\u3068\u304c\u3067\u304d\u307e\u3059",
        "aux_unit_min": 1e-08, "event_number": 0, "name": "XEM/BTC", "item_japanese"[...]
