---
http_interactions:
- request:
    method: get
    uri: https://api.zaif.jp/api/1/ticker/btc_jpy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"last": 620745.0, "high": 650000.0, "low": 601000.0, "vwap": 625665.3969,
        "volume": 11572.1032, "bid": 620745.0, "ask": 620750.0}'
  recorded_at: Wed, 25 Oct 2017 13:16:45 GMT
recorded_with: VCR 3.0.3
