---
http_interactions:
- request:
    method: get
    uri: https://bitmax.io/api/v1/products
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frame-Operations:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "symbol" : "LBA/BTC",
            "baseAsset" : "LBA",
            "quoteAsset" : "BTC",
            "priceScale" : 8,
            "qtyScale" : 2,
            "notionalScale" : 8,
            "minQty" : "10",
            "maxQty" : "1000000",
            "minNotional" : "0.001",
            "maxNotional" : "100.000",
            "status" : "Normal"
          },
          {
            "symbol" : "BCH/USDT",
            "baseAsset" : "BCH",
            "quoteAsset" : "USDT",
            "priceScale" : 2,
            "qtyScale" : 7,
            "notionalScale" : 4,
            "minQty" : "0.01",
            "maxQty" : "1000.00",
            "minNotional" : "10",
            "maxNotional" : "1000000",
            "status" : "Normal"
          },
          {
            "symbol" : "BCH/BTC",
        [...]
