---
http_interactions:
- request:
    method: get
    uri: https://bitmax.io/api/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frame-Operations:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"ETC/USDT","interval":"1d","barStartTime":1538480100000,"openPrice":"11.1617","closePrice":"11.2147","highPrice":"11.3782","lowPrice":"11.1294","volume":"16228.56929"},{"symbol":"ETC/BTC","interval":"1d","barStartTime":1538480100000,"openPrice":"0.00170599","closePrice":"0.00170599","highPrice":"0.00170701","lowPrice":"0.00170501","volume":"6481.16474"},{"symbol":"OLT/BTC","interval":"1d","barStartTime":0,"openPrice":"0.00000000","closePrice":"0.00000000","highPrice":"0.00000000","lowPrice":"0.00000000","volume":"0.00"},{"symbol":"ZRX/BTC","interval":"1d","barStartTime":0,"openPrice":"0.00000000","closePrice":"0.00000000","highPrice":"0.00000000[...]
