---
http_interactions:
- request:
    method: get
    uri: http://api.zb.com/data/v1/trades?market=btc_usdt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      Cndserver:
      - cache_server_1
    body:
      encoding: UTF-8
      string: '[{"amount":"0.0001","price":"11289.01","tid":36400724,"type":"buy","date":1516721321,"trade_type":"bid"},{"amount":"0.0001","price":"11290.0","tid":36400726,"type":"buy","date":1516721321,"trade_type":"bid"},{"amount":"0.0027","price":"11298.11","tid":36400781,"type":"buy","date":1516721325,"trade_type":"bid"},{"amount":"0.0132","price":"11296.27","tid":36400782,"type":"buy","date":1516721325,"trade_type":"bid"},{"amount":"0.0159","price":"11299.95","tid":36400783,"type":"buy","date":1516721325,"trade_type":"bid"},{"amount":"0.0144","price":"11294.4","tid":36400784,"type":"buy","date":151672[...]
