---
http_interactions:
- request:
    method: get
    uri: http://api.zb.com/data/v1/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      Cndserver:
      - cache_server_1
    body:
      encoding: UTF-8
      string: '{"btc_usdt":{"amountScale":4,"priceScale":2},"bcc_usdt":{"amountScale":3,"priceScale":2},"ubtc_usdt":{"amountScale":3,"priceScale":2},"ltc_usdt":{"amountScale":3,"priceScale":2},"eth_usdt":{"amountScale":3,"priceScale":2},"etc_usdt":{"amountScale":2,"priceScale":2},"bts_usdt":{"amountScale":0,"priceScale":4},"eos_usdt":{"amountScale":1,"priceScale":3},"qtum_usdt":{"amountScale":2,"priceScale":2},"hsr_usdt":{"amountScale":2,"priceScale":2},"xrp_usdt":{"amountScale":0,"priceScale":4},"bcd_usdt":{"amountScale":3,"priceScale":2},"dash_usdt":{"amountScale":3,"priceScale":2},"btc_qc":{"amountScale":4,"priceScale":2},"bcc_qc":{"amountScale":3,"priceScale":2},"ubtc_qc":{"amountScale":3,"priceScale":2},"ltc_qc":{"amountScale":3,"priceScale":2},"eth_qc":{"amountScale":3,"priceScale":2},"etc_qc":{"amountScale":2,"priceScale":2},"bts_qc":{"amountScale":0,"priceScale":4},"eos_qc":{"amountScale":1,"priceScale":3},"qtum_qc":{"amountScale":2,"priceScale":2},"hsr_qc":{"amountScale":2,"priceScale":2},"xrp_qc":{"amountScale":0,"priceScale":4},"bcd_qc":{"amountScale":3,"priceScale":2},"dash_qc":{"amountScale":3,"priceScale":2},"bcc_btc":{"amountScale":3,"priceScale":6},"ubtc_btc":{"amountScale":3,"priceScale":6},"ltc_btc":{"amountScale":3,"priceScale":6},"eth_btc":{"amountScale":3,"priceScale":6},"etc_btc":{"amountScale":2,"priceScale":6},"bts_btc":{"amountScale":0,"priceScale":8},"eos_btc":{"amountScale":1,"priceScale":6},"qtum_btc":{"amountScale":2,"priceScale":6},"hsr_btc":{"amountScale":2,"priceScale":6},"xrp_btc":{"amountScale":0,"priceScale":8},"bcd_btc":{"amountScale":3,"priceScale":6},"dash_btc":{"amountScale":3,"priceScale":6},"sbtc_usdt":{"amountScale":3,"priceScale":2},"sbtc_qc":{"amountScale":3,"priceScale":2},"sbtc_btc":{"amountScale":3,"priceScale":6},"ink_usdt":{"amountScale":1,"priceScale":3},"ink_qc":{"amountScale":1,"priceScale":3},"ink_btc":{"amountScale":1,"priceScale":6},"tv_usdt":{"amountScale":1,"priceScale":3},"tv_qc":{"amountScale":1,"priceScale":3},"tv_btc":{"amountScale":1,"priceScale":6},"bcx_usdt":{"amountScale":0,"priceScale":4},"bcx_qc":{"amountScale":0,"priceScale":4},"bcx_btc":{"amountScale":0,"priceScale":8},"bth_usdt":{"amountScale":3,"priceScale":2},"bth_qc":{"amountScale":3,"priceScale":2},"bth_btc":{"amountScale":3,"priceScale":6},"lbtc_usdt":{"amountScale":3,"priceScale":2},"lbtc_qc":{"amountScale":3,"priceScale":2},"lbtc_btc":{"amountScale":3,"priceScale":6},"chat_usdt":{"amountScale":1,"priceScale":3},"chat_qc":{"amountScale":1,"priceScale":3},"chat_btc":{"amountScale":1,"priceScale":6},"hlc_usdt":{"amountScale":1,"priceScale":3},"hlc_qc":{"amountScale":1,"priceScale":3},"hlc_btc":{"amountScale":1,"priceScale":6},"bcw_usdt":{"amountScale":3,"priceScale":2},"bcw_qc":{"amountScale":3,"priceScale":2},"bcw_btc":{"amountScale":3,"priceScale":6},"btp_usdt":{"amountScale":3,"priceScale":2},"btp_qc":{"amountScale":3,"priceScale":2},"btp_btc":{"amountScale":3,"priceScale":6},"bitcny_qc":{"amountScale":2,"priceScale":4},"topc_usdt":{"amountScale":1,"priceScale":4},"topc_qc":{"amountScale":1,"priceScale":4},"topc_btc":{"amountScale":1,"priceScale":7},"ent_usdt":{"amountScale":1,"priceScale":4},"ent_qc":{"amountScale":1,"priceScale":4},"ent_btc":{"amountScale":1,"priceScale":7},"bat_usdt":{"amountScale":1,"priceScale":3},"bat_qc":{"amountScale":1,"priceScale":3},"bat_btc":{"amountScale":1,"priceScale":6},"1st_usdt":{"amountScale":1,"priceScale":3},"1st_qc":{"amountScale":1,"priceScale":3},"1st_btc":{"amountScale":1,"priceScale":6},"safe_usdt":{"amountScale":3,"priceScale":4},"safe_qc":{"amountScale":3,"priceScale":4},"safe_btc":{"amountScale":3,"priceScale":7},"qun_usdt":{"amountScale":1,"priceScale":4},"qun_qc":{"amountScale":1,"priceScale":4},"qun_btc":{"amountScale":1,"priceScale":7},"btn_usdt":{"amountScale":3,"priceScale":2},"btn_qc":{"amountScale":3,"priceScale":2},"btn_btc":{"amountScale":3,"priceScale":6},"true_usdt":{"amountScale":2,"priceScale":3},"true_qc":{"amountScale":2,"priceScale":3},"true_btc":{"amountScale":2,"priceScale":7},"cdc_usdt":{"amountScale":2,"priceScale":3},"cdc_qc":{"amountScale":2,"priceScale":3},"cdc_btc":{"amountScale":2,"priceScale":7},"ddm_usdt":{"amountScale":2,"priceScale":3},"ddm_qc":{"amountScale":2,"priceScale":3},"ddm_btc":{"amountScale":2,"priceScale":7},"bite_btc":{"amountScale":3,"priceScale":6},"hotc_usdt":{"amountScale":2,"priceScale":3},"hotc_qc":{"amountScale":2,"priceScale":3},"hotc_btc":{"amountScale":2,"priceScale":7}}'
  recorded_at: Mon, 29 Jan 2018 13:41:10 GMT
recorded_with: VCR 3.0.3
