---
http_interactions:
- request:
    method: get
    uri: http://api.zb.cn/data/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Cndserver:
      - cache_server_1
    body:
      encoding: UTF-8
      string: '{"zb_qc":{"amountScale":2,"priceScale":4},"zb_usdt":{"amountScale":2,"priceScale":4},"zb_btc":{"amountScale":2,"priceScale":8},"btc_qc":{"amountScale":4,"priceScale":2},"btc_usdt":{"amountScale":4,"priceScale":2},"btc_pax":{"amountScale":4,"priceScale":2},"eth_usdt":{"amountScale":3,"priceScale":2},"eth_qc":{"amountScale":3,"priceScale":2},"eth_btc":{"amountScale":3,"priceScale":6},"eth_pax":{"amountScale":3,"priceScale":2},"xrp_qc":{"amountScale":0,"priceScale":4},"xrp_usdt":{"amountScale":0,"priceScale":4},"xrp_btc":{"amountScale":0,"priceScale":8},"eos_usdt":{"amountScale":2,"priceScale":4},"eos_qc":{"amountScale":2,"priceScale":3},"eos_btc":{"amountScale":2,"priceScale":8},"xlm_qc":{"amountScale":1,"priceScale":4},"xlm_usdt":{"amountScale":1,"priceScale":4},"xlm_btc":{"amountScale":1,"priceScale":8},"ltc_usdt":{"amountScale":3,"priceScale":3},"ltc_qc":{"amountScale":3,"priceScale":2},"ltc_btc":{"amountScale":3,"priceScale":6},"ltc_pax":{"amountScale":3,"priceScale":3},"usdt_qc":{"amountScale":4,"priceScale":4},"ada_qc":{"amountScale":1,"priceScale":4},"ada_usdt":{"amountScale":1,"priceScale":6},"ada_btc":{"amountScale":1,"priceScale":8},"dash_usdt":{"amountScale":3,"priceScale":3},"dash_qc":{"amountScale":3,"priceScale":2},"dash_btc":{"amountScale":3,"priceScale":6},"neo_qc":{"amountScale":2,"priceScale":3},"neo_usdt":{"amountScale":2,"priceScale":4},"neo_btc":{"amountScale":2,"priceScale":8},"etc_usdt":{"amountScale":2,"priceScale":4},"etc_qc":{"amountScale":2,"priceScale":3},"etc_btc":{"amountScale":2,"priceScale":6},"etc_pax":{"amountScale":2,"priceScale":4},"xem_qc":{"amountScale":1,"priceScale":4},"xem_usdt":{"amountScale":1,"priceScale":6},"xem_btc":{"amountScale":1,"priceScale":8},"doge_qc":{"amountScale":0,"priceScale":6},"doge_usdt":{"amountScale":0,"priceScale":7},"doge_btc":{"amountScale":0,"priceScale":10},"omg_qc":{"amountScale":2,"priceScale":3},"omg_usdt":{"amountScale":2,"priceScale":4},"omg_btc":{"amountScale":2,"priceScale":8},"zrx_qc":{"amountScale":1,"priceScale":4},"zrx_usdt":{"amountScale":1,"priceScale":4},"zrx_btc":{"amountScale":1,"priceScale":8},"qtum_usdt":{"amountScale":2,"priceScale":4},"qtum_qc":{"amountScale":2,"priceScale":3},"qtum_btc":{"amountScale":2,"priceScale":8},"bts_usdt":{"amountScale":1,"priceScale":6},"bts_qc":{"amountScale":1,"priceScale":4},"bts_btc":{"amountScale":1,"priceScale":8},"icx_qc":{"amountScale":2,"priceScale":4},"icx_usdt":{"amountScale":2,"priceScale":4},"icx_btc":{"amountScale":2,"priceScale":8},"ae_qc":{"amountScale":2,"priceScale":4},"ae_usdt":{"amountScale":2,"priceScale":4},"ae_btc":{"amountScale":2,"priceScale":8},"bat_usdt":{"amountScale":1,"priceScale":4},"bat_qc":{"amountScale":1,"priceScale":4},"bat_btc":{"amountScale":1,"priceScale":10},"gnt_qc":{"amountScale":1,"priceScale":4},"gnt_usdt":{"amountScale":1,"priceScale":6},"gnt_btc":{"amountScale":1,"priceScale":8},"snt_qc":{"amountScale":1,"priceScale":4},"snt_usdt":{"amountScale":1,"priceScale":6},"snt_btc":{"amountScale":1,"priceScale":10},"hc_usdt":{"amountScale":2,"priceScale":4},"hsr_usdt":{"amountScale":2,"priceScale":4},"hc_qc":{"amountScale":2,"priceScale":4},"hsr_qc":{"amountScale":2,"priceScale":4},"hc_btc":{"amountScale":2,"priceScale":8},"hsr_btc":{"amountScale":2,"priceScale":8},"pax_usdt":{"amountScale":4,"priceScale":4},"ubtc_usdt":{"amountScale":3,"priceScale":4},"bcd_usdt":{"amountScale":3,"priceScale":4},"ubtc_qc":{"amountScale":3,"priceScale":4},"bcd_qc":{"amountScale":3,"priceScale":3},"ubtc_btc":{"amountScale":3,"priceScale":8},"bcd_btc":{"amountScale":3,"priceScale":8},"sbtc_usdt":{"amountScale":3,"priceScale":2},"sbtc_qc":{"amountScale":3,"priceScale":3},"sbtc_btc":{"amountScale":3,"priceScale":6},"ink_usdt":{"amountScale":1,"priceScale":6},"ink_qc":{"amountScale":1,"priceScale":6},"ink_btc":{"amountScale":1,"priceScale":10},"tv_usdt":{"amountScale":1,"priceScale":6},"tv_qc":{"amountScale":1,"priceScale":4},"tv_btc":{"amountScale":1,"priceScale":10},"bcx_usdt":{"amountScale":0,"priceScale":6},"bcx_qc":{"amountScale":0,"priceScale":6},"bcx_btc":{"amountScale":0,"priceScale":10},"bth_usdt":{"amountScale":3,"priceScale":6},"bth_qc":{"amountScale":3,"priceScale":4},"bth_btc":{"amountScale":3,"priceScale":10},"lbtc_usdt":{"amountScale":3,"priceScale":4},"lbtc_qc":{"amountScale":3,"priceScale":3},"lbtc_btc":{"amountScale":3,"priceScale":8},"chat_usdt":{"amountScale":1,"priceScale":6},"chat_qc":{"amountScale":1,"priceScale":6},"chat_btc":{"amountScale":1,"priceScale":10},"hlc_usdt":{"amountScale":1,"priceScale":6},"hlc_qc":{"amountScale":1,"priceScale":6},"hlc_btc":{"amountScale":1,"priceScale":10},"bcw_usdt":{"amountScale":3,"priceScale":6},"bcw_qc":{"amountScale":3,"priceScale":4},"bcw_btc":{"amountScale":3,"priceScale":10},"btp_usdt":{"amountScale":3,"priceScale":4},"btp_qc":{"amountScale":3,"priceScale":4},"btp_btc":{"amountScale":3,"priceScale":8},"bitcny_qc":{"amountScale":2,"priceScale":4},"topc_usdt":{"amountScale":1,"priceScale":6},"topc_qc":{"amountScale":1,"priceScale":6},"topc_btc":{"amountScale":1,"priceScale":10},"ent_usdt":{"amountScale":1,"priceScale":6},"ent_qc":{"amountScale":1,"priceScale":6},"ent_btc":{"amountScale":1,"priceScale":10},"1st_usdt":{"amountScale":1,"priceScale":6},"1st_qc":{"amountScale":1,"priceScale":4},"1st_btc":{"amountScale":1,"priceScale":10},"safe_usdt":{"amountScale":3,"priceScale":4},"safe_qc":{"amountScale":3,"priceScale":4},"safe_btc":{"amountScale":3,"priceScale":8},"qun_usdt":{"amountScale":1,"priceScale":6},"qun_qc":{"amountScale":1,"priceScale":6},"qun_btc":{"amountScale":1,"priceScale":10},"btn_usdt":{"amountScale":3,"priceScale":6},"btn_qc":{"amountScale":3,"priceScale":4},"btn_btc":{"amountScale":3,"priceScale":10},"true_usdt":{"amountScale":2,"priceScale":4},"true_qc":{"amountScale":2,"priceScale":4},"true_btc":{"amountScale":2,"priceScale":10},"cdc_usdt":{"amountScale":2,"priceScale":8},"cdc_qc":{"amountScale":2,"priceScale":8},"cdc_btc":{"amountScale":2,"priceScale":10},"ddm_usdt":{"amountScale":2,"priceScale":6},"ddm_qc":{"amountScale":2,"priceScale":6},"ddm_btc":{"amountScale":2,"priceScale":10},"bite_btc":{"amountScale":3,"priceScale":8},"hotc_usdt":{"amountScale":2,"priceScale":6},"hotc_qc":{"amountScale":2,"priceScale":6},"hotc_btc":{"amountScale":2,"priceScale":10},"xuc_qc":{"amountScale":3,"priceScale":3},"xuc_btc":{"amountScale":3,"priceScale":8},"epc_qc":{"amountScale":3,"priceScale":6},"epc_btc":{"amountScale":3,"priceScale":10},"bds_qc":{"amountScale":2,"priceScale":4},"bds_btc":{"amountScale":2,"priceScale":10},"gram_qc":{"amountScale":0,"priceScale":8},"gram_usdt":{"amountScale":0,"priceScale":8},"gram_btc":{"amountScale":0,"priceScale":10},"hpy_qc":{"amountScale":1,"priceScale":6},"hpy_usdt":{"amountScale":1,"priceScale":6},"hpy_btc":{"amountScale":1,"priceScale":10},"btm_qc":{"amountScale":2,"priceScale":4},"btm_usdt":{"amountScale":2,"priceScale":6},"btm_btc":{"amountScale":2,"priceScale":8},"edo_qc":{"amountScale":2,"priceScale":4},"edo_usdt":{"amountScale":2,"priceScale":3},"edo_btc":{"amountScale":2,"priceScale":6},"fun_qc":{"amountScale":1,"priceScale":6},"fun_usdt":{"amountScale":1,"priceScale":6},"fun_btc":{"amountScale":1,"priceScale":8},"mana_qc":{"amountScale":1,"priceScale":4},"mana_usdt":{"amountScale":1,"priceScale":6},"mana_btc":{"amountScale":1,"priceScale":8},"rcn_qc":{"amountScale":1,"priceScale":6},"rcn_usdt":{"amountScale":1,"priceScale":6},"rcn_btc":{"amountScale":1,"priceScale":10},"mco_qc":{"amountScale":2,"priceScale":3},"mco_usdt":{"amountScale":2,"priceScale":4},"mco_btc":{"amountScale":2,"priceScale":6},"mith_qc":{"amountScale":1,"priceScale":4},"mith_usdt":{"amountScale":1,"priceScale":6},"mith_btc":{"amountScale":1,"priceScale":8},"knc_qc":{"amountScale":2,"priceScale":4},"knc_usdt":{"amountScale":2,"priceScale":4},"knc_btc":{"amountScale":2,"priceScale":8},"mtl_qc":{"amountScale":2,"priceScale":4},"mtl_usdt":{"amountScale":2,"priceScale":4},"mtl_btc":{"amountScale":2,"priceScale":8},"sub_qc":{"amountScale":1,"priceScale":4},"sub_usdt":{"amountScale":1,"priceScale":6},"sub_btc":{"amountScale":1,"priceScale":8},"eosdac_qc":{"amountScale":1,"priceScale":4},"eosdac_usdt":{"amountScale":1,"priceScale":6},"eosdac_btc":{"amountScale":1,"priceScale":8},"kan_qc":{"amountScale":0,"priceScale":6},"kan_usdt":{"amountScale":0,"priceScale":6},"kan_btc":{"amountScale":0,"priceScale":10},"aaa_qc":{"amountScale":1,"priceScale":6},"xwc_qc":{"amountScale":1,"priceScale":4},"xwc_usdt":{"amountScale":1,"priceScale":6},"xwc_btc":{"amountScale":1,"priceScale":10},"pdx_qc":{"amountScale":1,"priceScale":6},"pdx_usdt":{"amountScale":1,"priceScale":8},"pdx_btc":{"amountScale":1,"priceScale":10},"slt_qc":{"amountScale":1,"priceScale":6},"slt_usdt":{"amountScale":1,"priceScale":6},"slt_btc":{"amountScale":1,"priceScale":10},"xtz_usdt":{"amountScale":3,"priceScale":4},"pax_qc":{"amountScale":4,"priceScale":4},"brc_qc":{"amountScale":1,"priceScale":4},"brc_usdt":{"amountScale":1,"priceScale":5},"brc_btc":{"amountScale":1,"priceScale":10},"bchabc_qc":{"amountScale":3,"priceScale":2},"bchabc_usdt":{"amountScale":3,"priceScale":2},"bchsv_qc":{"amountScale":3,"priceScale":2},"bchsv_usdt":{"amountScale":3,"priceScale":3},"vsys_zb":{"amountScale":1,"priceScale":6},"vsys_qc":{"amountScale":1,"priceScale":4},"vsys_btc":{"amountScale":1,"priceScale":9},"grin_qc":{"amountScale":2,"priceScale":3},"grin_usdt":{"amountScale":2,"priceScale":4},"trx_qc":{"amountScale":1,"priceScale":4},"trx_usdt":{"amountScale":1,"priceScale":5},"trx_btc":{"amountScale":1,"priceScale":9},"tusd_usdt":{"amountScale":4,"priceScale":4}}'
  recorded_at: Thu, 16 May 2019 06:15:36 GMT
recorded_with: VCR 4.0.0
