---
http_interactions:
- request:
    method: get
    uri: http://api.zb.cn/data/v1/trades?market=btc_usdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Cndserver:
      - cache_server_1
    body:
      encoding: UTF-8
      string: '[{"date":1557987327,"amount":"0.0226","price":"8041.01","trade_type":"bid","type":"buy","tid":444216128},{"date":1557987327,"amount":"0.0023","price":"8041.02","trade_type":"bid","type":"buy","tid":444216129},{"date":1557987327,"amount":"0.0601","price":"8041.13","trade_type":"bid","type":"buy","tid":444216130},{"date":1557987327,"amount":"0.0108","price":"8041.01","trade_type":"bid","type":"buy","tid":444216131},{"date":1557987327,"amount":"0.0120","price":"8041.15","trade_type":"bid","type":"buy","tid":444216132},{"date":1557987327,"amount":"0.0063","price":"8041.1","trade_type":"bid",[...]
