---
http_interactions:
- request:
    method: get
    uri: http://api.zb.com/data/v1/trades?market=btc_usdt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      Cndserver:
      - cache_server_1
    body:
      encoding: UTF-8
      string: '[{"amount":"0.0070","price":"11180.01","tid":41643625,"type":"sell","date":1517233232,"trade_type":"ask"},{"amount":"0.0442","price":"11192.84","tid":41643626,"type":"sell","date":1517233232,"trade_type":"ask"},{"amount":"0.0338","price":"11201.16","tid":41643627,"type":"sell","date":1517233232,"trade_type":"ask"},{"amount":"0.0600","price":"11180.01","tid":41643628,"type":"sell","date":1517233232,"trade_type":"ask"},{"amount":"0.0009","price":"11199.01","tid":41643629,"type":"sell","date":1517233232,"trade_type":"ask"},{"amount":"0.0236","price":"11193.56","tid":41643630,"type":"sell","date"[...]
