---
http_interactions:
- request:
    method: get
    uri: http://api.zb.com/data/v1/ticker?market=btc_usdt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      Cndserver:
      - cache_server_1
    body:
      encoding: UTF-8
      string: '{"ticker":{"vol":"2492.4749","last":"11200.0","sell":"11200.0","buy":"11180.06","high":"11904.42","low":"11118.44"},"date":"1517233269087"}'
  recorded_at: Mon, 29 Jan 2018 13:41:10 GMT
recorded_with: VCR 3.0.3
