---
http_interactions:
- request:
    method: get
    uri: https://api.ovis.com.tr/public/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29a4-aUfdP1/RwvKzybtefhywwBayT70"
    body:
      encoding: UTF-8
      string: '{"status":1,"data":[{"id":"BTCTRL","ask":"42750.00","bid":"42011.00","last":"42257.00","high":"43000.00","low":"41000.00","volume":"240.33","daily_change":"315.00","daily_change_perc":"0.75","name":"BTC/TRL","prec_start_index":2,"cur_target":"TRL","curr_target_name":"Türk
        Lirası","curr_main":"BTC","curr_main_name":"Bitcoin","curr_main_limit":0.001,"curr_target_limit":10,"do":1},{"id":"ETHTRL","ask":"1587.000","bid":"1319.000","last":"1373.000","high":"1383.000","low":"1352.000","volume":"179.99","daily_change":"-6.000","daily_change_perc":"-0.44","name":"ETH/TRL","prec_start_index":3,"cur_target":"TRL","curr_target_name":"Türk
        Lirası","curr_main":"ETH","curr_main_name":"Ethereum","curr_main_limit":0.001,"curr_target_limit":10,"do":2},{"id":"DSHTRL","ask":"1271.000","bid":"939.000","last":"1102.000","high":"1135.000","low":"1077.000","volume":"176.96","daily_[...]
