---
http_interactions:
- request:
    method: get
    uri: https://paybis.com/rates/json/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 24 Jul 2018 16:51:02 GMT
      Etag:
      - W/"11b8b-571c19136a2a8"
    body:
      encoding: ASCII-8BIT
      string: '{"item":[{"from":"CARDUSD","to":"BTC","in":999,"out":"0.11606903","out_afterfee":"0.10988430","out_wotofee":"0.10995250","amount":"61.15011150","from_commission":"5%","to_commission":"0.62USD","our_commission":"0%","commissions":{"from":[{"min_amount":"0","max_amount":"100","commission":"5","currency":"USD"},{"min_amount":"100.01","max_amount":"unlimited","commission":"5%","currency":"USD"}],"to":[{"min_amount":"0","max_amount":"unlimited","commission":"0.62","currency":"USD"}],"our":[{"min_amount":"19990","max_amount":"unlimited","commission":"3.5%","currency":"USD"},{"min_amount":"16000","max_amount":"unlimited","commission":"3.5%","currency":"EUR"},{"min_amount":"14000","max_amount":"unlimited","commission":"3.5%","currency":"GBP"},{"min_amount":"1000","max_amount":"4999.99","commission":"5%","currency":"USD"},{"min_amount":"5000","max_amount":"9999.99","commission":"5%","currency":"USD"},{"min_amount":"10000","max_amount":"19989.99","commission":"5%","currency":"USD"},{"min_amount":"0","max_amount":"999.99","commission":"5%","currency":"USD"},{"min_amount":"8000","max_amount":"15999.99","commission":"5%","currency":"EUR"},{"min_amount":"4000","max_amount":"7999.99","commission":"5%","currency":"EUR"},{"min_amount":"800","max_amount":"3999.99","commission":"5%","currency":"EUR"},{"min_amount":"0","max_amount":"799.99","commission":"5%","currency":"EUR"},{"min_amount":"7000","max_amount":"13999.99","commission":"5%","currency":"GBP"},{"min_amount":"3500","max_amount":"6999.99","commission":"5%","currency":"GBP"},{"min_amount":"700","max_amount":"3499.99","commission":"5%","currency":"GBP"},{"min_amount":"0","max_amount":"699.99","commission":"5%","currency":"GBP"}]},"minamount":"70
        USD","maxamount":"20000 USD","fromfee":"5%","tofee":"0.62 USD","rate":0.000122300223},{"from":"CARDEUR","to":"BTC","in":999,"out":"0.13550641","out_afterfee":"0.12829882","out_wotofee":"0.12836689","amount":"61.09596429","from_commission":"5%","to_commission":"0.53EUR","our_commission":"0%","commissions":{"from":[{"min_amount":"0","max_amount":"100","commission":"5","currency":"EUR"},{"min_amount":"100.01","max_amount":"unlimited","commission":"5%","currency":"EUR"}],"to":[{"min_amount":"0","max_amount":"unlimited","commission":"0.53","currency":"EUR"}],"our":[{"m[...]
