---
http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCUSDT","priceChange":"-1.45","priceChangePercent":"-0.014","weightedAvgPrice":"10301.31","lastPrice":"10300.94","lastQty":"1.487","openPrice":"10302.39","highPrice":"10353.81","lowPrice":"10252.28","volume":"20490.798","quoteVolume":"211081979.01","openTime":1568520005399,"closeTime":1568606402146,"firstId":123204,"lastId":148828,"count":25625}]'
  recorded_at: Mon, 16 Sep 2019 03:59:55 GMT
recorded_with: VCR 4.0.0
