---
http_interactions:
- request:
    method: get
    uri: https://dapi.binance.com/dapi/v1/premiumIndex?symbol=BTCUSD_200925
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCUSD_200925","pair":"BTCUSD","markPrice":"9422.66642083","indexPrice":"9387.00750000","estimatedSettlePrice":"9374.10052837","time":1591946601000}]'
  recorded_at: Fri, 12 Jun 2020 07:23:18 GMT
- request:
    method: get
    uri: https://dapi.binance.com/dapi/v1/openInterest?symbol=BTCUSD_200925
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '2'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"BTCUSD_200925","pair":"BTCUSD","openInterest":"9511","contractType":"CURRENT_QUARTER","time":1591946361327}'
  recorded_at: Fri, 12 Jun 2020 07:23:18 GMT
recorded_with: VCR 4.0.0
