---
http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '40'
      X-Response-Time:
      - 17ms
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCUSDT","priceChange":"-424.99","priceChangePercent":"-4.331","weightedAvgPrice":"9463.39","lastPrice":"9387.14","lastQty":"0.391","openPrice":"9812.13","highPrice":"9828.00","lowPrice":"9055.07","volume":"360390.035","quoteVolume":"3410513142.04","openTime":1591859880000,"closeTime":1591946296460,"firstId":144688088,"lastId":145657888,"count":968556},{"symbol":"ETHUSDT","priceChange":"-12.34","priceChangePercent":"-5.000","weightedAvgPrice":"236.39","lastPrice":"234.48","lastQty":"5.431","openPrice":"246.82","highPrice":"247.02","lowPrice":"225.33","volume":"1781797.380","quoteVolume":"421192907.27","openTime":1591859880000,"closeTime":1591946295693,"firstId":55602468,"lastId":56159778,"count":557279},{"symbol":"BCHUSDT","priceChange":"-15.90","priceChangePercent":"-6.236","weightedAvgPrice":"242.11","lastPrice":"239.08","lastQty":"0[...]
- request:
    method: get
    uri: https://dapi.binance.com/dapi/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '40'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCUSD_200925","pair":"BTCUSD","priceChange":"-578.3","priceChangePercent":"-5.786","weightedAvgPrice":"-15.70639759","lastPrice":"9417.2","lastQty":"18","openPrice":"9995.5","highPrice":"10001.9","lowPrice":"9068.5","volume":"1317859","baseVolume":"-8390587.28975879","openTime":1591860060000,"closeTime":1591946233095,"firstId":21,"lastId":41140,"count":41116}]'
  recorded_at: Fri, 12 Jun 2020 07:18:13 GMT
recorded_with: VCR 4.0.0
