---
http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/exchangeInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '43'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '{"timezone":"UTC","serverTime":1569212962102,"rateLimits":[{"rateLimitType":"REQUEST_WEIGHT","interval":"MINUTE","intervalNum":1,"limit":1200},{"rateLimitType":"ORDERS","interval":"MINUTE","intervalNum":1,"limit":600}],"exchangeFilters":[],"symbols":[{"symbol":"BTCUSDT","status":"TRADING","maintMarginPercent":"2.5000","requiredMarginPercent":"5.0000","baseAsset":"BTC","quoteAsset":"USDT","pricePrecision":2,"quantityPrecision":3,"baseAssetPrecision":8,"quotePrecision":8,"filters":[{"minPrice":"0.01","maxPrice":"100000","filterType":"PRICE_FILTER","tickSize":"0.01"},{"stepSize":"0.001","filterType":"LOT_SIZE","maxQty":"1000","minQty":"0.001"},{"stepSize":"0.001","filterType":"MARKET_LOT_SIZE","maxQty":"1000","minQty":"0.001"},{"limit":0,"filterType":"MAX_NUM_ORDERS"},{"multiplierDown":"0.8500","multiplierUp":"1.1500","multiplierDecimal":"4","filterType":"PERCENT_PRICE"}],"orderTypes":["LIMIT","MARKET","STOP"],"timeInForce":["GTC","IOC","FOK","GTX"]}]}'
  recorded_at: Mon, 23 Sep 2019 04:29:21 GMT
recorded_with: VCR 4.0.0
