---
http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/exchangeInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 6ms
    body:
      encoding: ASCII-8BIT
      string: '{"timezone":"UTC","serverTime":1591946130799,"rateLimits":[{"rateLimitType":"REQUEST_WEIGHT","interval":"MINUTE","intervalNum":1,"limit":2400},{"rateLimitType":"ORDERS","interval":"MINUTE","intervalNum":1,"limit":1200}],"exchangeFilters":[],"symbols":[{"symbol":"BTCUSDT","status":"TRADING","maintMarginPercent":"2.5000","requiredMarginPercent":"5.0000","baseAsset":"BTC","quoteAsset":"USDT","pricePrecision":2,"quantityPrecision":3,"baseAssetPrecision":8,"quotePrecision":8,"filters":[{"minPrice":"0.01","maxPrice":"100000","filterType":"PRICE_FILTER","tickSize":"0.01"},{"stepSize":"0.001","filterType":"LOT_SIZE","maxQty":"1000","minQty":"0.001"},{"stepSize":"0.001","filterType":"MARKET_LOT_SIZE","maxQty":"2366.180","minQty":"0.001"},{"limit":0,"filterType":"MAX_NUM_ORDERS"},{"limit":0,"filterType":"MAX_NUM_ALGO_ORDERS"},{"multiplierDown":"0.7000","multiplierUp":"1.3000","multiplierDecimal":"4","filterType":"PERCENT_PRICE"}],"orderTypes":["LIMIT","MARKET","STOP","STOP_MARKET","TAKE_PROFIT","TAKE_PROFIT_MARKET","TRAILING_STOP_MARKET"],"timeInForce":["GTC","IOC","FOK","GTX"]},{"symbol":"ETHUSDT","status":"TRADING","maintMarginPercent":"2.5000","requiredMarginPercent":"5.0000","baseAsset":"ETH","quoteAsset":"USDT","pricePrecision":2,"quantityPrecision":3,"baseAssetPrecision":8,"quotePrecision":8,"filters":[{"minPrice":"0.01","maxPrice":"100000","filterType":"PRICE_FILTER","tickSize":"0.01"},{"stepSize":"0.001","filterType":"LOT_SIZE","maxQty":"10000","minQty":"0.001"},{"stepSize":"0.001","filterType":"MARKET_LOT_SIZE","maxQty":"41046.600","m[...]
- request:
    method: get
    uri: https://dapi.binance.com/dapi/v1/exchangeInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '{"timezone":"UTC","serverTime":1591946131195,"rateLimits":[{"rateLimitType":"REQUEST_WEIGHT","interval":"MINUTE","intervalNum":1,"limit":2400},{"rateLimitType":"ORDERS","interval":"MINUTE","intervalNum":1,"limit":1200}],"exchangeFilters":[],"symbols":[{"symbol":"BTCUSD_200925","pair":"BTCUSD","contractType":"CURRENT_QUARTER","deliveryDate":1601020800000,"onboardDate":1591689600000,"contractStatus":"TRADING","contractSize":100,"marginAsset":"BTC","maintMarginPercent":"2.5000","requiredMarginPercent":"5.0000","baseAsset":"BTC","quoteAsset":"USD","pricePrecision":1,"quantityPrecision":0,"baseAssetPrecision":8,"quotePrecision":8,"filters":[{"minPrice":"0.1","maxPrice":"100000","filterType":"PRICE_FILTER","tickSize":"0.1"},{"stepSize":"1","filterType":"LOT_SIZE","maxQty":"100000","minQty":"1"},{"stepSize":"1","filterType":"MARKET_LOT_SIZE","maxQty":"100000","minQty":"1"},{"limit":0,"filterType":"MAX_NUM_ORDERS"},{"multiplierDown":"0.85[...]
