---
http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/premiumIndex?symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"BTCUSDT","markPrice":"10314.35989910","lastFundingRate":"0.00010000","nextFundingTime":1568620800000,"time":1568606511000}'
  recorded_at: Mon, 16 Sep 2019 04:01:44 GMT
recorded_with: VCR 4.0.0
