---
http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '83'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCUSDT","priceChange":"112.75","priceChangePercent":"1.142","weightedAvgPrice":"9994.08","lastPrice":"9983.00","lastQty":"1.851","openPrice":"9870.25","highPrice":"10089.52","lowPrice":"9858.25","volume":"23881.941","quoteVolume":"238678146.31","openTime":1569126562306,"closeTime":1569212961035,"firstId":351330,"lastId":383538,"count":32209}]'
  recorded_at: Mon, 23 Sep 2019 04:29:21 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/premiumIndex?symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '84'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"BTCUSDT","markPrice":"9981.91300654","lastFundingRate":"0.00010000","nextFundingTime":1569225600000,"time":1569212962000}'
  recorded_at: Mon, 23 Sep 2019 04:29:22 GMT
recorded_with: VCR 4.0.0
