---
http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/premiumIndex?symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"BTCUSDT","markPrice":"8326.20878446","lastFundingRate":"-0.00025982","nextFundingTime":1570089600000,"time":1570072659000}'
  recorded_at: Thu, 03 Oct 2019 03:17:39 GMT
recorded_with: VCR 4.0.0
