---
http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/premiumIndex?symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"BTCUSDT","markPrice":"6623.96371863","lastFundingRate":"-0.00021874","nextFundingTime":1576684800000,"time":1576659575000}'
  recorded_at: Wed, 18 Dec 2019 08:59:34 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/openInterest?symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '2'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"BTCUSDT","openInterest":"14367.348"}'
  recorded_at: Wed, 18 Dec 2019 08:59:34 GMT
recorded_with: VCR 4.0.0
