---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v1/trades?symbol=BTCUSDC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - d8b9187d-7df8-4546-ad04-ad01742d8447
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"id":4971577,"price":"9919.97000000","qty":"0.05499900","quoteQty":"545.58843003","time":1566442254040,"isBuyerMaker":false,"isBestMatch":true},{"id":4971578,"price":"9919.97000000","qty":"0.11000000","quoteQty":"1091.19670000","time":1566442254046,"isBuyerMaker":false,"isBestMatch":true},{"id":4971579,"price":"9919.97000000","qty":"0.05500000","quoteQty":"545.59835000","time":1566442254048,"isBuyerMaker":false,"isBestMatch":true},{"id":4971580,"price":"9922.36000000","qty":"0.05500000","quoteQty":"545.72980000","time":1566442254864,"isBuyerMaker":false,"isBestMatch":true},{"id":4971581,"price":"9922.36000000","qty":"0.00500000","[...]
