---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v1/ticker/24hr?symbol=ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"symbol":"ETHBTC","priceChange":"0.00056500","priceChangePercent":"1.867","weightedAvgPrice":"0.03043293","prevClosePrice":"0.03026300","lastPrice":"0.03082800","lastQty":"0.48600000","bidPrice":"0.03082600","bidQty":"0.48600000","askPrice":"0.03083100","askQty":"0.48600000","openPrice":"0.03026300","highPrice":"0.03099900","lowPrice":"0.02980500","volume":"264824.06200000","quoteVolume":"8059.37123114","openTime":1548685503543,"closeTime":1548771903543,"firstId":104498242,"lastId":104693709,"count":195468}'
  recorded_at: Tue, 29 Jan 2019 14:25:03 GMT
recorded_with: VCR 4.0.0
