---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v1/trades?symbol=ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Used-Weight:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"id":122092491,"price":"0.02778800","qty":"2.43800000","quoteQty":"0.06774714","time":1557888910400,"isBuyerMaker":false,"isBestMatch":true},{"id":122092492,"price":"0.02778800","qty":"0.12000000","quoteQty":"0.00333456","time":1557888910400,"isBuyerMaker":false,"isBestMatch":true},{"id":122092493,"price":"0.02778900","qty":"0.15200000","quoteQty":"0.00422392","time":1557888910400,"isBuyerMaker":false,"isBestMatch":true},{"id":122092494,"price":"0.02776700","qty":"0.72100000","quoteQty":"0.02002000","time":1557888910615,"isBuyerMaker":true,"isBestMatch":true},{"id":122092495,"price":"0.02776600","qty":"1.39800000","quoteQty":"0[...]
