---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Used-Weight:
      - '41'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"symbol":"ETHBTC","priceChange":"-0.00056400","priceChangePercent":"-1.896","weightedAvgPrice":"0.02945300","prevClosePrice":"0.02975300","lastPrice":"0.02918700","lastQty":"5.99300000","bidPrice":"0.02918800","bidQty":"8.00000000","askPrice":"0.02919300","askQty":"13.70200000","openPrice":"0.02975100","highPrice":"0.02993600","lowPrice":"0.02915700","volume":"154348.62300000","quoteVolume":"4546.03039277","openTime":1556767640957,"closeTime":1556854040957,"firstId":119958123,"lastId":120074995,"count":116873},{"symbol":"LTCBTC","priceChange":"-0.00019200","priceChangePercent":"-1.415","weightedAvgPrice":"0.01347485","prevClosePrice":"0.01356900","lastPrice":"0.01338000","lastQty":"20.14000000","bidPrice":"0.01337700","bidQty":"10.00000000","askPrice":"0.01338400","askQty":"10.14000000","openPrice":"0.01357200","highPrice":"0.01373300","lowPrice":"0.01325500","volume":"126853.03000000","quoteVolume":"1709.32590704","openTime":1556767640495,"closeTime":1556854040495,"firstId":24527712,"lastId":[...]
