---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v1/trades?symbol=ETHBTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Used-Weight:
      - '7'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"id":116796580,"price":"0.03471400","qty":"0.12500000","quoteQty":"0.00433925","time":1554701744075,"isBuyerMaker":true,"isBestMatch":true},{"id":116796581,"price":"0.03471400","qty":"0.74900000","quoteQty":"0.02600078","time":1554701744109,"isBuyerMaker":false,"isBestMatch":true},{"id":116796582,"price":"0.03471400","qty":"0.05000000","quoteQty":"0.00173570","time":1554701744605,"isBuyerMaker":true,"isBestMatch":true},{"id":116796583,"price":"0.03471900","qty":"0.47400000","quoteQty":"0.01645680","time":1554701745689,"isBuyerMaker":false,"isBestMatch":true},{"id":116796584,"price":"0.03471900","qty":"0.81100000","quoteQty":"0[...]
