---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v1/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - b2599729-d4b7-4e46-96e0-e14ccb00a7c9
      X-Mbx-Used-Weight:
      - '40'
      X-Mbx-Used-Weight-1m:
      - '40'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"symbol":"ETHBTC","priceChange":"0.00017400","priceChangePercent":"0.942","weightedAvgPrice":"0.01844935","prevClosePrice":"0.01847100","lastPrice":"0.01864700","lastQty":"10.00800000","bidPrice":"0.01864700","bidQty":"249.95800000","askPrice":"0.01865000","askQty":"1.32800000","openPrice":"0.01847300","highPrice":"0.01876600","lowPrice":"0.01812300","volume":"155370.91200000","quoteVolume":"2866.49184918","openTime":1566358706119,"closeTime":1566445106119,"firstId":139596376,"lastId":139759519,"count":163144},{"symbol":"LTCBTC","priceChange":"0.00005100","priceChangePercent":"0.710","weightedAvgPrice":"0.00718048","prevClosePrice":"0.00718800","lastPrice":"0.00723600","lastQty":"5.55000000","bidPrice":"0.00722700","bidQty":"30.00000000","askPrice":"0.00723500","askQty":"10.00000000","openPrice":"0.00718500","highPrice":"0.00732100","lowPrice":"0.00700900","volume":"139883.60000000","quoteVolume":"1004.43198222","openTime":1566358706289,"closeTime":1566445106289,"firstId":33401095,"lastId":334[...]
- request:
    method: get
    uri: https://api.binance.com/api/v1/exchangeInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 2a806b6f-41cb-4999-bcec-405067748d8f
      X-Mbx-Used-Weight:
      - '41'
      X-Mbx-Used-Weight-1m:
      - '41'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"timezone":"UTC","serverTime":1566445106923,"rateLimits":[{"rateLimitType":"REQUEST_WEIGHT","interval":"MINUTE","intervalNum":1,"limit":1200},{"rateLimitType":"ORDERS","interval":"SECOND","intervalNum":1,"limit":10},{"rateLimitType":"ORDERS","interval":"DAY","intervalNum":1,"limit":100000}],"exchangeFilters":[],"symbols":[{"symbol":"ETHBTC","status":"TRADING","baseAsset":"ETH","baseAssetPrecision":8,"quoteAsset":"BTC","quotePrecision":8,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":true,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.00000100","maxPrice":"100000.00000000","tickSize":"0.00000100"},{"filterType":"PERCENT_PRICE","multiplierUp":"5","multiplierDown":"0.2","avgPriceMins":5},{"filterType":"LOT_SIZE","minQty":"0.00100000","maxQty":"100000.00000000","stepSize":"0.00100000"},{"filterType":"MIN_NOTIONAL","minNotional":"0.00010000","applyToMarket":true,"avgPriceMins":5},{"filterType":"ICEBERG_PARTS","limit":10},{"filterType":"MARKET_LOT_SIZE","minQty":"0.00000000","maxQty":"63100.00000000","stepSize":"0.00000000"},{"filterType":"MAX_NUM_ALGO_ORDERS","maxNumAlgoOrders":5}]},{"symbol":"LTCBTC","status":"TRADING","baseAsset":"LTC","baseAssetPrecision":8,"quoteAsset":"BTC","quotePrecision":8,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":true,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.00000100","maxPrice":"100000.00000000","tickSize":"0.00000100"},{"filterType":"PERCENT_PRICE","multiplierUp":"5","multiplierDown":"0.2","avgPr[...]
