---
http_interactions:
- request:
    method: get
    uri: https://galleon.exchange/api/v2/tickers.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ee36f19c98a33acd973eb37f28c498d"
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 172.31.8.211
    body:
      encoding: ASCII-8BIT
      string: '{"grinbtc":{"at":1547653699,"ticker":{"buy":"0.001","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}},"grineth":{"at":1547653699,"ticker":{"buy":"0.18","sell":"0.0","low":"0.0","high":"0.0","last":"0.0","vol":"0.0"}}}'
  recorded_at: Wed, 16 Jan 2019 15:48:20 GMT
recorded_with: VCR 4.0.0
