---
http_interactions:
- request:
    method: get
    uri: https://api.qtrade.io/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"markets":[{"id":5,"market_currency":"BAC","base_currency":"BTC","maker_fee":"0.0025","taker_fee":"0.0025","metadata":{"market_notices":[{"message":"Delisting
        Notice: This market has been delisted due to low volume. Please cancel your
        orders and withdraw your funds by 7/15/2018.","type":"warning"}],"delisting_date":"7/15/2018"},"can_trade":false,"can_cancel":true,"can_view":false},{"id":12,"market_currency":"BWS20","base_currency":"BWS10","maker_fee":"0","taker_fee":"0","metadata":{},"can_trade":false,"can_cancel":true,"can_view":false},{"id":3,"market_currency":"REDN","base_currency":"BTC","maker_fee":"0.0025","taker_fee":"0.0025","metadata":{},"can_trade":false,"can_cancel":true,"can_view":false},{"id":6,"market_currency":"QUAN","base_currency":"BTC","maker_fee":"0.0025","taker_fee":"0.0025","metadata":{},"can_trade":false,"can_cancel":true,"can_view":false},{"id[...]
