---
http_interactions:
- request:
    method: get
    uri: https://api.qtrade.io/v1/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"markets":[{"ask":null,"bid":null,"day_avg_price":null,"day_change":null,"day_high":null,"day_low":null,"day_open":null,"day_volume_base":"0","day_volume_market":"0","id":5,"id_hr":"BAC_BTC","last":"0.000001"},{"ask":null,"bid":null,"day_avg_price":null,"day_change":null,"day_high":null,"day_low":null,"day_open":null,"day_volume_base":"0","day_volume_market":"0","id":12,"id_hr":"BWS20_BWS10","last":"1"},{"ask":"0.000049","bid":"0.000034","day_avg_price":"0.0000495296290166","day_change":"0","day_high":"0.000051","day_low":"0.000049","day_open":"0.000049","day_volume_base":"0.00189595","day_volume_market":"38.27910763","id":17,"id_hr":"SCC_BTC","last":"0.000049"},{"ask":"0.0000002","bid":"0[...]
