---
http_interactions:
- request:
    method: get
    uri: https://api.switcheo.network/v2/tickers/last_24_hours
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7bddb8eb3b2d0b8aa01c27fadad6e1b4"
    body:
      encoding: UTF-8
      string: '[{"pair":"MCT_NEO","open":"0.00028000","close":"0.00026571","high":"0.00029999","low":"0.00026566","volume":"69.31940897","quote_volume":"249155.93758320"},{"pair":"ZPT_GAS","open":"0.00810000","close":"0.00810000","high":"0.00810000","low":"0.00713922","volume":"2.31938439","quote_volume":"298.20524119"},{"pair":"COUP_NEO","open":"0.00087950","close":"0.00069600","high":"0.00089999","low":"0.00069508","volume":"289.38505256","quote_volume":"384366.18684912"},{"pair":"AVA_NEO","open":"0.00292899","close":"0.00318789","high":"0.00318900","low":"0.00289997","volume":"1210.50180170","quote_volume":"407082.94247346"},{"pair":"SWTH_GA[...]
