---
http_interactions:
- request:
    method: get
    uri: https://api.switcheo.network/v1/trades/tickers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16ea48498094b35503a3078bae06a694"
    body:
      encoding: UTF-8
      string: '[{"symbol":"QLC_SWH","price_change":"0.00000000","percentage_price_change":"0.00000000","last_price":"2.00000000","last_quantity":"0.00050000","bid_price":"2.00000000","bid_quantity":"100.00000000","ask_price":"3.00000000","ask_quantity":"244.42267028","high_price":"2.00000000","low_price":"2.00000000","open_price":"2.00000000","volume":"138.52565944","quote_volume":"69.26282972","open_time":1524315270,"close_time":1524401670,"count":2},{"symbol":"DBC_NEO","price_change":"0.00028000","percentage_price_change":"29.167","last_price":"0.00124000","last_quantity":"0.41490564","bid_price":"0.00110009","bid_quantity":"2736.36363636","ask_price":"0.00140000","ask_quantity":"2166.82460000","high_price":"0.00150000","low_price":"0.00092500","open_price":"0.00095999","volume":"52.78230492","quote_volume":"45661.04420730","open_time":1524315271,"close_time":1524401671,"count":19},{"symbol":"CPX_NEO","price_change":"0.00002000","percent[...]
