---
http_interactions:
- request:
    method: get
    uri: https://cryptohub.online/api/market/ticker/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "BTC_1CR": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 2.100E-7,
            "id": 236,
            "isFrozen": "0",
            "last": 0,
            "low24hr": 0,
            "lowestAsk": 0.0001990000,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_3DG": {
            "baseVolume": 0.39190441,
            "high24hr": 0.0000059700,
            "highestBid": 0.0000058200,
            "id": 224,
            "isFrozen": "0",
            "last": 0.0000059700,
            "low24hr": 0.0000058700,
            "lowestAsk": 0.0000059700,
            "percentChange": 0.0170357751,
            "quoteVolume": 65661.19719290
          },
          "BTC_421": {
            "baseVolume": 0.01910727,
            "high24hr": 1.50E-8,
            "highestBid": 7.1E-9,
            "id": 162,
            "isFrozen": "0",
            "last": 7.1E-9,
            "low24hr": 7.1E-9,
            "lowestAsk": 1.49E-8,
            "percentChange": 0,
            "quoteVolume": 2373498.16079170
          },
          "BTC_808": {
            "baseVolume": 0.00539212,
            "high24hr": 6.9E-9,
            "highestBid": 4.7E-9,
            "id": 128,
            "isFrozen": "0",
            "last": 6.9E-9,
            "low24hr": 5.3E-9,
            "lowestAsk": 6.8E-9,
            "percentChange": 0.2777777778,
            "quoteVolume": 1007844.00000000
          },
          "BTC_ACH": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0000056300,
            "id": 166,
            "isFrozen": "0",
            "last": 0.0000100000,
            "low24hr": 0,
            "lowestAsk": 0.0000099800,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_BANG": {
            "baseVolume": 0.00011000,
            "high24hr": 1.00E-8,
            "highestBid": 0,
            "id": 172,
            "isFrozen": "0",
            "last": 1.00E-8,
            "low24hr": 1.00E-8,
            "lowestAsk": 1.00E-8,
            "percentChange": 0,
            "quoteVolume": 11000.00000000
          },
          "BTC_BBK": {
            "baseVolume": 0.00001456,
            "high24hr": 5.000E-7,
            "highestBid": 1.700E-7,
            "id": 205,
            "isFrozen": "0",
            "last": 5.000E-7,
            "low24hr": 4.500E-7,
            "lowestAsk": 5.500E-7,
            "percentChange": 0.1111111111,
            "quoteVolume": 29.26841400
          },
          "BTC_BCF": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0000014000,
            "id": 201,
            "isFrozen": "0",
            "last": 0.0000013000,
            "low24hr": 0,
            "lowestAsk": 0.0000033000,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_BITEN": {
            "baseVolume": 0,
            "high24hr": 8.00E-8,
            "highestBid": 2.00E-8,
            "id": 167,
            "isFrozen": "0",
            "last": 8.00E-8,
            "low24hr": 7.00E-8,
            "lowestAsk": 7.00E-8,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_BKC": {
            "baseVolume": 0.00017389,
            "high24hr": 3.00E-8,
            "highestBid": 2.00E-8,
            "id": 194,
            "isFrozen": "0",
            "last": 3.00E-8,
            "low24hr": 3.00E-8,
            "lowestAsk": 3.00E-8,
            "percentChange": 0,
            "quoteVolume": 5796.19800000
          },
          "BTC_BNI": {
            "baseVolume": 0.04900018,
            "high24hr": 0.0000069700,
            "highestBid": 0.0000010100,
            "id": 173,
            "isFrozen": "0",
            "last": 0.0000069700,
            "low24hr": 0.0000069600,
            "lowestAsk": 0.0000069700,
            "percentChange": -0.0028612303,
            "quoteVolume": 7040.18409212
          },
          "BTC_BPC": {
            "baseVolume": 0.00003600,
            "high24hr": 3.300E-7,
            "highestBid": 2.600E-7,
            "id": 178,
            "isFrozen": "0",
            "last": 2.600E-7,
            "low24hr": 2.600E-7,
            "lowestAsk": 3.300E-7,
            "percentChange": 0,
            "quoteVolume": 130.30303030
          },
          "BTC_BTCE": {
            "baseVolume": 0.00161679,
            "high24hr": 5.00E-8,
            "highestBid": 4.00E-8,
            "id": 133,
            "isFrozen": "0",
            "last": 5.00E-8,
            "low24hr": 5.00E-8,
            "lowestAsk": 5.00E-8,
            "percentChange": -0.1666666667,
            "quoteVolume": 32335.43620000
          },
          "BTC_BUGO": {
            "baseVolume": 0.00845639,
            "high24hr": 1.500E-7,
            "highestBid": 1.100E-7,
            "id": 192,
            "isFrozen": "0",
            "last": 1.200E-7,
            "low24hr": 1.000E-7,
            "lowestAsk": 1.300E-7,
            "percentChange": 0.7142857143,
            "quoteVolume": 64116.17110930
          },
          "BTC_BWK": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0000700000,
            "id": 137,
            "isFrozen": "0",
            "last": 0.0000650000,
            "low24hr": 0,
            "lowestAsk": 0.0001400000,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_BZL": {
            "baseVolume": 0.00076296,
            "high24hr": 0.0000102400,
            "highestBid": 0.0000103000,
            "id": 132,
            "isFrozen": "0",
            "last": 0.0000102300,
            "low24hr": 0.0000102100,
            "lowestAsk": 0.0000139000,
            "percentChange": -0.0009765625,
            "quoteVolume": 74.66192915
          },
          "BTC_CHEESE": {
            "baseVolume": 0.00068800,
            "high24hr": 8.00E-8,
            "highestBid": 8.00E-8,
            "id": 138,
            "isFrozen": "0",
            "last": 8.00E-8,
            "low24hr": 8.00E-8,
            "lowestAsk": 1.000E-7,
            "percentChange": -0.20000000,
            "quoteVolume": 8600.00000000
          },
          "BTC_CRM": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0000025400,
            "id": 126,
            "isFrozen": "0",
            "last": 0.0000025200,
            "low24hr": 0,
            "lowestAsk": 0.0000031000,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_CROC": {
            "baseVolume": 0.01981406,
            "high24hr": 0.0000035500,
            "highestBid": 0.0000029000,
            "id": 121,
            "isFrozen": "0",
            "last": 0.0000029000,
            "low24hr": 0.0000029000,
            "lowestAsk": 0.0000035200,
            "percentChange": -0.1545189504,
            "quoteVolume": 6586.04177084
          },
          "BTC_CRU": {
            "baseVolume": 0.00074612,
            "high24hr": 0.0000069900,
            "highestBid": 0.0000050400,
            "id": 210,
            "isFrozen": "0",
            "last": 0.0000069900,
            "low24hr": 0.0000069900,
            "lowestAsk": 0.0000069900,
            "percentChange": 0,
            "quoteVolume": 106.74139224
          },
          "BTC_DAREXTRAVEL": {
            "baseVolume": 0.00108846,
            "high24hr": 4.00E-8,
            "highestBid": 4.00E-8,
            "id": 168,
            "isFrozen": "0",
            "last": 4.00E-8,
            "low24hr": 4.00E-8,
            "lowestAsk": 5.00E-8,
            "percentChange": -0.20000000,
            "quoteVolume": 27211.50725000
          },
          "BTC_DASH": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0066666700,
            "id": 188,
            "isFrozen": "0",
            "last": 0,
            "low24hr": 0,
            "lowestAsk": 0,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_DCOIN": {
            "baseVolume": 0.00042128,
            "high24hr": 2.00E-8,
            "highestBid": 1.00E-8,
            "id": 206,
            "isFrozen": "0",
            "last": 1.00E-8,
            "low24hr": 1.00E-8,
            "lowestAsk": 2.00E-8,
            "percentChange": -0.50000000,
            "quoteVolume": 27563.92150000
          },
          "BTC_DGB": {
            "baseVolume": 0.02434440,
            "high24hr": 0.0000028500,
            "highestBid": 0.0000024800,
            "id": 120,
            "isFrozen": "0",
            "last": 0.0000024700,
            "low24hr": 0.0000024600,
            "lowestAsk": 0.0000026900,
            "percentChange": -0.0851851852,
            "quoteVolume": 9294.06994807
          },
          "BTC_DNR": {
            "baseVolume": 0.00023011,
            "high24hr": 0.0002301100,
            "highestBid": 0.0002300000,
            "id": 130,
            "isFrozen": "0",
            "last": 0.0002301100,
            "low24hr": 0.0002301100,
            "lowestAsk": 0.0002680000,
            "percentChange": -0.141380597,
            "quoteVolume": 1.00000000
          },
          "BTC_DOGE": {
            "baseVolume": 0.16715533,
            "high24hr": 4.100E-7,
            "highestBid": 3.900E-7,
            "id": 118,
            "isFrozen": "0",
            "last": 3.900E-7,
            "low24hr": 3.900E-7,
            "lowestAsk": 4.000E-7,
            "percentChange": -0.02500000,
            "quoteVolume": 421762.37618058
          },
          "BTC_DOPE": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0000025000,
            "id": 183,
            "isFrozen": "0",
            "last": 0.0000100800,
            "low24hr": 0,
            "lowestAsk": 0.0000100800,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_EGX": {
            "baseVolume": 0.00526975,
            "high24hr": 5.00E-8,
            "highestBid": 4.00E-8,
            "id": 230,
            "isFrozen": "0",
            "last": 5.00E-8,
            "low24hr": 4.00E-8,
            "lowestAsk": 5.00E-8,
            "percentChange": 0.25000000,
            "quoteVolume": 120617.61180119
          },
          "BTC_ELP": {
            "baseVolume": 0.00050774,
            "high24hr": 0.0000950000,
            "highestBid": 0.0000715000,
            "id": 190,
            "isFrozen": "0",
            "last": 0.0000950000,
            "low24hr": 0.0000800000,
            "lowestAsk": 0.0000950000,
            "percentChange": 0.4615384615,
            "quoteVolume": 6.15917907
          },
          "BTC_EMY": {
            "baseVolume": 0.00408486,
            "high24hr": 4.0E-9,
            "highestBid": 4.0E-9,
            "id": 148,
            "isFrozen": "0",
            "last": 4.0E-9,
            "low24hr": 4.0E-9,
            "lowestAsk": 5.0E-9,
            "percentChange": 0,
            "quoteVolume": 1021216.46759107
          },
          "BTC_ERA": {
            "baseVolume": 0.08307638,
            "high24hr": 0.0000107600,
            "highestBid": 0.0000094200,
            "id": 139,
            "isFrozen": "0",
            "last": 0.0000094200,
            "low24hr": 0.0000090100,
            "lowestAsk": 0.0000102200,
            "percentChange": -0.0782778865,
            "quoteVolume": 8378.65075526
          },
          "BTC_ERZ": {
            "baseVolume": 0.00001005,
            "high24hr": 0.0000034000,
            "highestBid": 0.0000019300,
            "id": 158,
            "isFrozen": "0",
            "last": 0.0000034000,
            "low24hr": 0.0000034000,
            "lowestAsk": 0.0000034000,
            "percentChange": -0.0285714286,
            "quoteVolume": 2.95586471
          },
          "BTC_ESP": {
            "baseVolume": 0.00033845,
            "high24hr": 7.00E-8,
            "highestBid": 4.00E-8,
            "id": 208,
            "isFrozen": "0",
            "last": 4.00E-8,
            "low24hr": 4.00E-8,
            "lowestAsk": 7.00E-8,
            "percentChange": 0,
            "quoteVolume": 5345.49678675
          },
          "BTC_ETN": {
            "baseVolume": 0.10042043,
            "high24hr": 0.0000066500,
            "highestBid": 0.0000029900,
            "id": 152,
            "isFrozen": "0",
            "last": 0.0000033700,
            "low24hr": 0.0000028600,
            "lowestAsk": 0.0000033600,
            "percentChange": -0.0343839542,
            "quoteVolume": 28163.64698350
          },
          "BTC_EXTN": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0001290100,
            "id": 155,
            "isFrozen": "0",
            "last": 0.0001218900,
            "low24hr": 0,
            "lowestAsk": 0.0009940000,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_FLAP": {
            "baseVolume": 0.01955409,
            "high24hr": 1.0E-9,
            "highestBid": 6E-10,
            "id": 124,
            "isFrozen": "0",
            "last": 6E-10,
            "low24hr": 5E-10,
            "lowestAsk": 7E-10,
            "percentChange": -0.25000000,
            "quoteVolume": 33707113.93795662
          },
          "BTC_FLU": {
            "baseVolume": 0.00009673,
            "high24hr": 1.300E-7,
            "highestBid": 8.00E-8,
            "id": 187,
            "isFrozen": "0",
            "last": 1.300E-7,
            "low24hr": 1.100E-7,
            "lowestAsk": 1.400E-7,
            "percentChange": 0.1818181818,
            "quoteVolume": 783.02231679
          },
          "BTC_GCH": {
            "baseVolume": 0.00929138,
            "high24hr": 0.0000014600,
            "highestBid": 0.0000010000,
            "id": 182,
            "isFrozen": "0",
            "last": 5.700E-7,
            "low24hr": 5.700E-7,
            "lowestAsk": 0.0000014000,
            "percentChange": -0.3936170213,
            "quoteVolume": 7718.49234797
          },
          "BTC_GOA": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0000027500,
            "id": 147,
            "isFrozen": "0",
            "last": 0.0000120000,
            "low24hr": 0,
            "lowestAsk": 0.0000120000,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_GSAVE": {
            "baseVolume": 0.00010712,
            "high24hr": 1.300E-7,
            "highestBid": 1.300E-7,
            "id": 135,
            "isFrozen": "0",
            "last": 1.200E-7,
            "low24hr": 1.200E-7,
            "lowestAsk": 1.600E-7,
            "percentChange": -0.0769230769,
            "quoteVolume": 871.82103158
          },
          "BTC_HONEY": {
            "baseVolume": 0.00002367,
            "high24hr": 0.0000300000,
            "highestBid": 0.0000300100,
            "id": 131,
            "isFrozen": "0",
            "last": 0.0000300000,
            "low24hr": 0.0000300000,
            "lowestAsk": 0.0000425300,
            "percentChange": -0.3873800286,
            "quoteVolume": 0.78887767
          },
          "BTC_INFO": {
            "baseVolume": 0.00425437,
            "high24hr": 1.400E-7,
            "highestBid": 1.300E-7,
            "id": 142,
            "isFrozen": "0",
            "last": 1.300E-7,
            "low24hr": 1.300E-7,
            "lowestAsk": 1.400E-7,
            "percentChange": 0,
            "quoteVolume": 30766.76874377
          },
          "BTC_JIYO": {
            "baseVolume": 1.37519998,
            "high24hr": 0.0000229200,
            "highestBid": 0.0000170600,
            "id": 169,
            "isFrozen": "0",
            "last": 0.0000229200,
            "low24hr": 0.0000229200,
            "lowestAsk": 0.0000229300,
            "percentChange": -0.0008718396,
            "quoteVolume": 60000.00000000
          },
          "BTC_K2X": {
            "baseVolume": 0.03140455,
            "high24hr": 4.500E-7,
            "highestBid": 2.600E-7,
            "id": 235,
            "isFrozen": "0",
            "last": 4.500E-7,
            "low24hr": 1.300E-7,
            "lowestAsk": 4.400E-7,
            "percentChange": 1.1428571429,
            "quoteVolume": 103867.82728935
          },
          "BTC_KC": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0000120600,
            "id": 203,
            "isFrozen": "0",
            "last": 0.0000220000,
            "low24hr": 0,
            "lowestAsk": 0.0000188800,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_KLT": {
            "baseVolume": 0.00029000,
            "high24hr": 3.00E-8,
            "highestBid": 2.00E-8,
            "id": 144,
            "isFrozen": "0",
            "last": 3.00E-8,
            "low24hr": 2.00E-8,
            "lowestAsk": 3.00E-8,
            "percentChange": 0,
            "quoteVolume": 13000.00000000
          },
          "BTC_LCP": {
            "baseVolume": 0,
            "high24hr": 0.0000392500,
            "highestBid": 0.0000390000,
            "id": 195,
            "isFrozen": "0",
            "last": 0.0000392500,
            "low24hr": 0.0000392500,
            "lowestAsk": 0.0000422000,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_LEMS": {
            "baseVolume": 0.00138920,
            "high24hr": 0.0000020000,
            "highestBid": 0.0000010300,
            "id": 140,
            "isFrozen": "0",
            "last": 0.0000020000,
            "low24hr": 8.500E-7,
            "lowestAsk": 0.0000020000,
            "percentChange": 0.2195121951,
            "quoteVolume": 796.29252054
          },
          "BTC_LILI": {
            "baseVolume": 0.03201225,
            "high24hr": 4.000E-7,
            "highestBid": 2.800E-7,
            "id": 185,
            "isFrozen": "0",
            "last": 2.800E-7,
            "low24hr": 2.700E-7,
            "lowestAsk": 3.200E-7,
            "percentChange": -0.0967741935,
            "quoteVolume": 98440.31801699
          },
          "BTC_LMN": {
            "baseVolume": 0.02815951,
            "high24hr": 2.00E-8,
            "highestBid": 1.00E-8,
            "id": 157,
            "isFrozen": "0",
            "last": 2.00E-8,
            "low24hr": 1.00E-8,
            "lowestAsk": 2.00E-8,
            "percentChange": 0,
            "quoteVolume": 1901447.11313506
          },
          "BTC_LTC": {
            "baseVolume": 0.05316487,
            "high24hr": 0.0175900000,
            "highestBid": 0.0156600000,
            "id": 116,
            "isFrozen": "0",
            "last": 0.0174899000,
            "low24hr": 0.0155546900,
            "lowestAsk": 0.0174899000,
            "percentChange": -0.0118644738,
            "quoteVolume": 3.14429425
          },
          "BTC_MAIS": {
            "baseVolume": 0.00007224,
            "high24hr": 0.0000143100,
            "highestBid": 2.00E-8,
            "id": 225,
            "isFrozen": "0",
            "last": 0.0000139600,
            "low24hr": 3.00E-8,
            "lowestAsk": 0.0000139200,
            "percentChange": -0.0359116022,
            "quoteVolume": 1003.00000000
          },
          "BTC_MARCO": {
            "baseVolume": 0.01139959,
            "high24hr": 0.0000027200,
            "highestBid": 0.0000014700,
            "id": 154,
            "isFrozen": "0",
            "last": 0.0000025300,
            "low24hr": 8.700E-7,
            "lowestAsk": 0.0000025300,
            "percentChange": -0.0732600733,
            "quoteVolume": 4893.26719741
          },
          "BTC_MAX": {
            "baseVolume": 0.00227092,
            "high24hr": 0.0000024400,
            "highestBid": 0.0000019000,
            "id": 149,
            "isFrozen": "0",
            "last": 0.0000019000,
            "low24hr": 0.0000019000,
            "lowestAsk": 0.0000024400,
            "percentChange": 0,
            "quoteVolume": 940.04714714
          },
          "BTC_MDC": {
            "baseVolume": 0.01968661,
            "high24hr": 0.0000011900,
            "highestBid": 8.000E-7,
            "id": 204,
            "isFrozen": "0",
            "last": 8.000E-7,
            "low24hr": 7.000E-7,
            "lowestAsk": 0.0000011900,
            "percentChange": -0.20000000,
            "quoteVolume": 20672.92975317
          },
          "BTC_MEDIC": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0000031900,
            "id": 156,
            "isFrozen": "0",
            "last": 0.0000040100,
            "low24hr": 0,
            "lowestAsk": 0.0000053000,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_MIC3": {
            "baseVolume": 0.00003560,
            "high24hr": 1E-10,
            "highestBid": 0,
            "id": 181,
            "isFrozen": "0",
            "last": 1E-10,
            "low24hr": 1E-10,
            "lowestAsk": 1E-10,
            "percentChange": 0,
            "quoteVolume": 356043.90000000
          },
          "BTC_MNC": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0000028700,
            "id": 176,
            "isFrozen": "0",
            "last": 0.0000028500,
            "low24hr": 0,
            "lowestAsk": 0.0000034900,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_MTLC": {
            "baseVolume": 0.00091021,
            "high24hr": 1.300E-7,
            "highestBid": 6.00E-8,
            "id": 193,
            "isFrozen": "0",
            "last": 1.300E-7,
            "low24hr": 3.00E-8,
            "lowestAsk": 1.300E-7,
            "percentChange": -0.0714285714,
            "quoteVolume": 18020.23606197
          },
          "BTC_MUSEUM": {
            "baseVolume": 0.01342590,
            "high24hr": 8.700E-7,
            "highestBid": 8.700E-7,
            "id": 207,
            "isFrozen": "0",
            "last": 8.700E-7,
            "low24hr": 8.700E-7,
            "lowestAsk": 9.000E-7,
            "percentChange": 0,
            "quoteVolume": 15432.06313385
          },
          "BTC_MWAY": {
            "baseVolume": 0.00016500,
            "high24hr": 2.2E-9,
            "highestBid": 1.5E-9,
            "id": 141,
            "isFrozen": "0",
            "last": 1.5E-9,
            "low24hr": 1.5E-9,
            "lowestAsk": 2.1E-9,
            "percentChange": 0,
            "quoteVolume": 101411.65147070
          },
          "BTC_MYCE": {
            "baseVolume": 0.07890425,
            "high24hr": 5.000E-7,
            "highestBid": 4.600E-7,
            "id": 165,
            "isFrozen": "0",
            "last": 5.000E-7,
            "low24hr": 2.000E-7,
            "lowestAsk": 5.000E-7,
            "percentChange": 0.25000000,
            "quoteVolume": 335185.98725930
          },
          "BTC_NDC": {
            "baseVolume": 0,
            "high24hr": 5.800E-7,
            "highestBid": 6.100E-7,
            "id": 125,
            "isFrozen": "0",
            "last": 5.800E-7,
            "low24hr": 5.800E-7,
            "lowestAsk": 8.000E-7,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_NMD": {
            "baseVolume": 0.00503759,
            "high24hr": 2.500E-7,
            "highestBid": 2.000E-7,
            "id": 161,
            "isFrozen": "0",
            "last": 2.000E-7,
            "low24hr": 2.000E-7,
            "lowestAsk": 2.600E-7,
            "percentChange": 0.0526315789,
            "quoteVolume": 23279.55776710
          },
          "BTC_NNC": {
            "baseVolume": 0.03470166,
            "high24hr": 0.0000160100,
            "highestBid": 0.0000140200,
            "id": 146,
            "isFrozen": "0",
            "last": 0.0000140000,
            "low24hr": 0.0000140000,
            "lowestAsk": 0.0000148500,
            "percentChange": -0.0424076607,
            "quoteVolume": 2301.32940218
          },
          "BTC_OHMC": {
            "baseVolume": 0.07584803,
            "high24hr": 0.0000098800,
            "highestBid": 0.0000038800,
            "id": 198,
            "isFrozen": "0",
            "last": 0.0000097300,
            "low24hr": 0.0000039000,
            "lowestAsk": 0.0000096000,
            "percentChange": 1.4024691358,
            "quoteVolume": 9219.50137168
          },
          "BTC_ONZ": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0.0000050000,
            "id": 184,
            "isFrozen": "0",
            "last": 0.0000308000,
            "low24hr": 0,
            "lowestAsk": 0.0000900000,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_OPC": {
            "baseVolume": 0.00035625,
            "high24hr": 4.000E-7,
            "highestBid": 3.800E-7,
            "id": 221,
            "isFrozen": "0",
            "last": 3.700E-7,
            "low24hr": 3.600E-7,
            "lowestAsk": 4.400E-7,
            "percentChange": 0.0882352941,
            "quoteVolume": 974.98209679
          },
          "BTC_PINK": {
            "baseVolume": 0.00004345,
            "high24hr": 0.0000028900,
            "highestBid": 0.0000019500,
            "id": 127,
            "isFrozen": "0",
            "last": 0.0000019500,
            "low24hr": 0.0000019500,
            "lowestAsk": 0.0000028000,
            "percentChange": 0.0263157895,
            "quoteVolume": 16.99338116
          },
          "BTC_PLSR": {
            "baseVolume": 0.01281754,
            "high24hr": 0.0000059900,
            "highestBid": 0.0000032300,
            "id": 175,
            "isFrozen": "0",
            "last": 0.0000032400,
            "low24hr": 0.0000030200,
            "lowestAsk": 0.0000044000,
            "percentChange": -0.1920199501,
            "quoteVolume": 3287.21881220
          },
          "BTC_POLY": {
            "baseVolume": 0,
            "high24hr": 0,
            "highestBid": 0,
            "id": 134,
            "isFrozen": "0",
            "last": 5.000E-7,
            "low24hr": 0,
            "lowestAsk": 0.0000010300,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_PSO": {
            "baseVolume": 0.00007298,
            "high24hr": 1.600E-7,
            "highestBid": 1.600E-7,
            "id": 179,
            "isFrozen": "0",
            "last": 1.600E-7,
            "low24hr": 1.600E-7,
            "lowestAsk": 3.700E-7,
            "percentChange": -0.60000000,
            "quoteVolume": 456.09989581
          },
          "BTC_PWR": {
            "baseVolume": 0.00006667,
            "high24hr": 1E-10,
            "highestBid": 0,
            "id": 171,
            "isFrozen": "0",
            "last": 1E-10,
            "low24hr": 1E-10,
            "lowestAsk": 1E-10,
            "percentChange": 0,
            "quoteVolume": 666666.00000000
          },
          "BTC_QVORT": {
            "baseVolume": 0,
            "high24hr": 2.00E-8,
            "highestBid": 2.00E-8,
            "id": 164,
            "isFrozen": "0",
            "last": 2.00E-8,
            "low24hr": 2.00E-8,
            "lowestAsk": 4.00E-8,
            "percentChange": 0,
            "quoteVolume": 0
          },
          "BTC_RBL": {
            "baseVolume": 0.00009227,
            "high24hr": 4.00E-8,
            "highestBid": 3.00E-8,
            "id": 151,
            "isFrozen": "0",
            "last": 3.00E-8,
            "low24hr": 3.00E-8,
            "lowestAsk": 4.00E-8,
            "percentChange": 0,
            "quoteVolume": 2879.22310607
          },
          "BTC_RBX": {
            "baseVolume": 0.00312612,
            "high24hr": 6.00E-8,
            "highestBid": 4.00E-8,
            "id": 209,
            "isFrozen": "0",
            "last": 6.00E-8,
            "low24hr": 6.00E-8,
            "lowestAsk": 5.00E-8,
            "percentChange": 0,
            "quoteVolume": 52101.84600000
          },
          "BTC_ROI": {
            "baseVolume": 0.00297644,
            "high24hr": 5.000E-7,
            "highestBid": 4.200E-7,
            "id": 153,
            "isFrozen": "0",
            "last": 4.300E-7,
            "low24hr": 4.200E-7,
            "lowestAsk": 5.000E-7,
            "percentChange": 0,
            "quoteVolume": 6928.65717415
          },
          "BTC_SAGA": {
            "baseVolume": 0.00753448,
            "high24hr": 0.0001100000,
            "highestBid": 0.0000100100,
            "id": 136,
            "isFrozen": "0",
            "last": 0.0001001000,
            "low24hr": 0.0001001000,
            "lowestAsk": 0.0001100000,
            "percentChange": 0.00100000,
            "quoteVolume": 73.03144600
          },
          "BTC_SAKE": {
            "baseVolume": 0.00003507,
            "high24hr": 5.00E-8,
            "highestBid": 2.00E-8,
            "id": 191,
            "isFrozen": "0",
            "last": 5.00E-8,
            "low24hr": 5.00E-8,
            "lowestAsk": 1.000E-7,
            "percentChange": 1.50000000,
            "quoteVolume": 701.39582402
          },
          "BTC_SCAM": {
            "baseVolume": 0.00082319,
            "high24hr": 0.0000011100,
            "highestBid": 0.0000010300,
            "id": 174,
            "isFrozen": "0",
            "last": 0.0000010300,
[...]
