---
http_interactions:
- request:
    method: get
    uri: https://api.txbit.io/api/public/getmarketsummary?market=ETH/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":{"MarketName":"ETH/BTC","High":0.02800000,"Low":0.02799858,"Volume":8.54310000,"Last":0.02800000,"BaseVolume":0.23920664,"TimeStamp":"2019-05-15T00:38:50.827Z","Bid":0.02700002,"Ask":0.02800000,"OpenBuyOrders":7,"OpenSellOrders":25,"PrevDay":0.02500000,"Created":"2019-01-27T20:43:12.49Z","DisplayMarketName":"Ethereum
        - Bitcoin"}}'
  recorded_at: Wed, 15 May 2019 02:29:03 GMT
recorded_with: VCR 4.0.0
