---
http_interactions:
- request:
    method: get
    uri: https://api.txbit.io/api/public/getmarketsummary?market=ATL/BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":{"MarketName":"ATL/BTC","High":0.00001271,"Low":0.00001271,"Volume":0.00000000,"Last":0.00001271,"BaseVolume":0.00000000,"TimeStamp":"2019-02-17T04:48:00.857Z","Bid":0.00000000,"Ask":0.00001271,"OpenBuyOrders":0,"OpenSellOrders":1,"PrevDay":0.00001271,"Created":"2019-01-28T19:03:02.993Z","DisplayMarketName":"Atlant
        - Bitcoin"}}'
  recorded_at: Wed, 27 Feb 2019 11:38:08 GMT
recorded_with: VCR 4.0.0
