---
http_interactions:
- request:
    method: get
    uri: https://biztranex.com/api-v1/public/getorderbook?market=BTC-ETH&type=both
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"msg":"","result":{"BUY":[{"Quantity":"0.03180000","Rate":"0.03130202"},{"Quantity":"0.04350000","Rate":"0.03130197"},{"Quantity":"0.08620000","Rate":"0.03130194"},{"Quantity":"0.11890000","Rate":"0.03130187"},{"Quantity":"0.15160000","Rate":"0.03130185"},{"Quantity":"0.16590000","Rate":"0.03130183"},{"Quantity":"0.21360000","Rate":"0.03130179"},{"Quantity":"0.24320000","Rate":"0.03130173"},{"Quantity":"0.27970000","Rate":"0.03130170"},{"Quantity":"0.30350000","Rate":"0.03130168"},{"Quantity":"0.32850000","Rate":"0.03130163"},{"Quantity":"0.37000000","[...]
