---
http_interactions:
- request:
    method: get
    uri: https://biztranex.com/api-v1/public/getmarketsummary?market=BTC-ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"msg":"","result":{"MarketName":"BTC-ETH","High":"0.03494174","Low":"0.03285500","Volume":234.17422687,"Last":"0.03295800","TimeStamp":"2018-11-11
        10:11:41","Change":0.21}}'
  recorded_at: Sun, 11 Nov 2018 03:19:41 GMT
recorded_with: VCR 4.0.0
