---
http_interactions:
- request:
    method: get
    uri: https://biztranex.com/api-v1/public/getmarkets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"msg":"","result":[{"MarketCurrency":"ETH","BaseCurrency":"BTC","MarketCurrencyLong":"Ethereum","BaseCurrencyLong":"Bitcoin","MinTradeSize":0.001,"MarketName":"BTC-ETH","IsActive":true},{"MarketCurrency":"LTC","BaseCurrency":"BTC","MarketCurrencyLong":"LiteCoin","BaseCurrencyLong":"Bitcoin","MinTradeSize":0.001,"MarketName":"BTC-LTC","IsActive":true},{"MarketCurrency":"BCH","BaseCurrency":"BTC","MarketCurrencyLong":"BitcoinCash","BaseCurrencyLong":"Bitcoin","MinTradeSize":0.001,"MarketName":"BTC-BCH","IsActive":true},{"MarketCurrency":"XRP","BaseCurrency":"BTC","MarketCurrencyLong":"Ripple","BaseCurrencyLong":"Bitcoin","MinTradeSize":0.1,"MarketName":"BTC-XRP","IsActive":[...]
