---
http_interactions:
- request:
    method: get
    uri: https://biztranex.com/api-v1/public/getmarkethistory?market=BTC-ETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"msg":"","result":[{"Id":"ezvmjnz5","TimeStamp":"10:19:15","Quantity":"0.04000000","Price":"0.03298000","Total":"0.00131920","FillType":"FILL","OrderType":"BUY"},{"Id":"xml1gw2l","TimeStamp":"10:18:55","Quantity":"0.05000000","Price":"0.03297800","Total":"0.00164890","FillType":"FILL","OrderType":"SELL"},{"Id":"eo6ro0j6","TimeStamp":"10:18:35","Quantity":"0.03000000","Price":"0.03298000","Total":"0.00098940","FillType":"FILL","OrderType":"BUY"},{"Id":"x5gy573n","TimeStamp":"10:18:15","Quantity":"0.03000000","Price":"0.03298200","Total":"0.00098946","FillType":"FILL","OrderType":"BUY"},{"Id":"xml1ggy3","TimeStamp":"10:17:54","Quantity":"0.08000000"[...]
