---
http_interactions:
- request:
    method: get
    uri: https://bit2c.co.il/Exchanges/BTCNIS/lasttrades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"date":1520989209,"price":31730.16,"amount":0.0009950248756218905472636816,"isBid":false,"tid":508352},{"date":1520989209,"price":31536.92,"amount":0.0178972274447925759267823481,"isBid":false,"tid":508354},{"date":1520992039,"price":31989.99,"amount":0.01,"isBid":false,"tid":508358},{"date":1520992047,"price":31989.99,"amount":0.065,"isBid":false,"tid":508360},{"date":1520992260,"price":31989.98,"amount":0.0387064676616915422885572139,"isBid":false,"tid":508362},{"date":1520992260,"price":31467.24,"amount":0.0001935323383084577114427861,"isBid":false,"tid":508364},{"date":1520996144,"pri[...]
