---
http_interactions:
- request:
    method: get
    uri: https://api.cpdax.com/v1/trades/BAT-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:9005
    body:
      encoding: UTF-8
      string: '[{"price":"0.00003748","size":"80.40000000","side":"buy","created_at":"2018-07-31T00:52:24+09:00"},{"price":"0.00003749","size":"26.91000000","side":"sell","created_at":"2018-07-31T00:52:21+09:00"},{"price":"0.00003748","size":"143.60470000","side":"buy","created_at":"2018-07-31T00:52:20+09:00"},{"price":"0.00003749","size":"172.86000000","side":"sell","created_at":"2018-07-31T00:52:17+09:00"},{"price":"0.00003748","size":"187.20000000","side":"buy","created_at":"2018-07-31T00:52:15+09:00"},{"price":"0.00003749","size":"84.97080000","side":"sell","created_at":"2018-07-31T00:52:12+09:00"},{"price":"0.00003748","size":"110.70000000","side":"buy","created_at":"2018-07-31T00:52:07+09:00"},{"price":"0.00003761","size":"89.09000000","side":"sell","created_at":"2018-07-31T00:52:03+09:00"},{"price":"0.00003749","size":"114.56300000","side":"sell","created_at":"2018-07-31T00:52:03+09:00"},{"price":"0.00003761","size":"632.10967000","side":"sell","created_at":"2018-07-31T00:51:58+09:00"}]'
  recorded_at: Mon, 30 Jul 2018 15:52:35 GMT
recorded_with: VCR 4.0.0
