---
http_interactions:
- request:
    method: get
    uri: https://api.cpdax.com/api/v1/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:9002
    body:
      encoding: UTF-8
      string: '{"data":{"tickerList":[{"timestamp":1526636896000,"last":"0.00004502","currency_pair":"BAT-BTC"},{"timestamp":1526636878000,"last":"0.14857188","currency_pair":"BCH-BTC"},{"timestamp":1526636583000,"last":"1328500","currency_pair":"BCH-KRW"},{"timestamp":1526636900000,"last":"8887500","currency_pair":"BTC-KRW"},{"timestamp":1526636704000,"last":"0.00156229","currency_pair":"EOS-BTC"},{"timestamp":1526636714000,"last":"13920","currency_pair":"EOS-KRW"},{"timestamp":1526636872000,"last":"0.00212771","currency_pair":"ETC-BTC"},{"timestamp":1526636872000,"last":"19040","currency_pair":"ETC-KRW"},{"timestamp":1526636866000,"last":"0.08417989","currency_pair":"ETH-BTC"},{"timestamp":1526636694000,"last":"755450","currency_pair":"ETH-KRW"},{"timestamp":1526636890000,"last":"0.00003762","currency_pair":"GTO-BTC"},{"timestamp":1526636868000,"last":"334","currency_pair":"GTO-KRW"},{"timestamp":1526636884000,"last":"0.00022791","currency_pair":"KNC-BTC"},{"timestamp":1526636511000,"last":"2060","currency_pair":"KNC-KRW"},{"timestamp":1526636860000,"last":"0.01631964","currency_pair":"LTC-BTC"},{"timestamp":1526636890000,"last":"145050","currency_pair":"LTC-KRW"}]}}'
  recorded_at: Fri, 18 May 2018 09:48:21 GMT
recorded_with: VCR 4.0.0
