---
http_interactions:
- request:
    method: get
    uri: https://api.cpdax.com/v1/tickers/detailed
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:9005
    body:
      encoding: UTF-8
      string: '[{"timestamp":1532965442,"last":"0.00003771","bid":"0.00003772","ask":"0.00003773","low":"0.00003746","high":"0.00003888","volume":"302.31236181","rate":-2.64,"currency_pair":"BAT-BTC"},{"timestamp":1532965440,"last":"0.09998295","bid":"0.09998036","ask":"0.09998295","low":"0.09952865","high":"0.10178368","volume":"223.58488953","rate":0.22,"currency_pair":"BCH-BTC"},{"timestamp":1528676174,"last":"1016100.00000000","low":"100000000.00000000","high":"0.00000000","volume":"0.00000000","rate":0,"currency_pair":"BCH-KRW"},{"timestamp":1528677915,"last":"7331000.00000000","low":"100000000.00000000","high":"0.00000000","volume":"0.00000000","rate":0,"currency_pair":"BTC-K[...]
