---
http_interactions:
- request:
    method: get
    uri: https://api.cpdax.com/api/v1/ticker/BAT-BTC/detailed
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod,batch:9002
    body:
      encoding: UTF-8
      string: '{"data":{"ticker":{"timestamp":1526636896000,"last":0.000045020000000000,"bid":0.000044550000000000,"ask":0.000045020000000000,"low":0.000043730000000000,"high":0.000049060000000000,"volume":2806835.585332380000000000,"currency_pair":"BAT-BTC"}}}'
  recorded_at: Fri, 18 May 2018 09:48:22 GMT
recorded_with: VCR 4.0.0
