---
http_interactions:
- request:
    method: get
    uri: https://api.cpdax.com/v1/orderbook/BAT-BTC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:prod:9005
    body:
      encoding: UTF-8
      string: '{"bids":[{"price":"0.00003748","size":"307.43101000"},{"price":"0.00003747","size":"1055.52689000"},{"price":"0.00003746","size":"673.99837000"},{"price":"0.00003740","size":"422.88000000"},{"price":"0.00003720","size":"249.89510000"},{"price":"0.00003710","size":"353.44000000"},{"price":"0.00003700","size":"352.00000000"},{"price":"0.00003620","size":"591.09000000"},{"price":"0.00003610","size":"537.93000000"},{"price":"0.00003600","size":"179.59680000"},{"price":"0.00003590","size":"206.93200000"},{"price":"0.00003570","size":"34.60000000"},{"price":"0.00003550","size":"179.21700000"},{"price":"0.00003538","size":"8491.37224420"},{"price":"0.00003389","size":"120.00000000"}],"asks":[{"price":"0.00003749","size":"308.75920000"},{"price":"0.00003750","size":"130.87000000"},{"price":"0.00003754","size":"45.10000000"},{"price":"0.00003761","size":"988.57538481"},{"price":"0.00003762","size":"1350.72180821"},{"price":"0.00003767","size":"38.80000000"},{"price":"0.00003770","size":"504.27280000"},{"price":"0.00003778","size":"1194.66840627"},{"price":"0.00003786","size":"524.33000000"},{"price":"0.00003790","size":"1170.40470000"},{"price":"0.00003800","size":"231.40000000"},{"price":"0.00003820","size":"245.83000000"},{"price":"0.00003830","size":"278.01000000"},{"price":"0.00003840","size":"27.61000000"},{"price":"0.00003870","size":"1314.67550000"}],"product_id":"BAT-BTC"}'
  recorded_at: Mon, 30 Jul 2018 15:52:34 GMT
recorded_with: VCR 4.0.0
