---
http_interactions:
- request:
    method: get
    uri: https://stellar.api.stellarport.io/Market/Top
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"251cc-uxbihL6n4nokh/j3Cllk1cw/6eA"
    body:
      encoding: UTF-8
      string: '{"byPercentGain":[{"soldAssetType":"credit_alphanum4","soldAssetIssuer":{"accountId":"GBDEVU63Y6NTHJQQZIKVTC23NWLQVP3WJ2RI2OTSJTNYOIGICST6DUXR","homeDomain":"apay.io"},"soldAssetCode":"ZRX","soldAssetToml":{"code":"ZRX","desc":"1
        ZRX token entitles you to receive 1 ZRX token on Ethereum (minus outgoing
        transaction fee) to an address of your choice using our anchor.","name":"0xProject","image":"https://images.stellarport.io/credit_alphanum4_ZRX_GBDEVU63Y6NTHJQQZIKVTC23NWLQVP3WJ2RI2OTSJTNYOIGICST6DUXR.svg","issuer":"GBDEVU63Y6NTHJQQZIKVTC23NWLQVP3WJ2RI2OTSJTNYOIGICST6DUXR","conditions":"Outgoing
        transaction fee deducted from the amount sent. ZRX contract 0xe41d2489571d322189246dafa5ebde1f4699f498","display_decimals":7},"soldIssuerToml":{"DEPOSIT_SERVER":"https://apay.io/api","FEDERATION_SERVER":"https://apay.io/api/federation","SIGNING_REQUEST_ACCOUNT":"GD3CS2AR4YZ25LN6NARSSRJMUY7XQBJNGJJTQU2URRDPTPJZBYU2O3DD"},"soldAssetTomlUrl":"https://apay.io/.well-known/stellar.toml","boughtAssetType":"native","boughtAssetIssuer":{"accountId":null,"homeDomain":null},"boughtAssetCode":null,"open":9.3222945,"high":20,"low":9.3222945,"close":19.9990386040531,"soldVolume":20.1610743,"boughtVolume":254.822476,"percentGain":114.529144129196,"boughtAsset":{},"soldAsset":{"toml":{"code":"ZRX","desc":"1
        ZRX token entitles you to receive 1 ZRX token on Ethereum (minus outgoing
        transaction fee) to an address of your choice using our anchor.","name":"0xProject","image":"https://images.stellarport.io/credit_alphanum4_ZRX_GBDEVU63Y6NTHJQQZIKVTC23NWLQVP3WJ2RI2OTSJTNYOIGICST6DUXR.svg","issuer":"GBDEVU63Y6NTHJQQZIKVTC23NWLQVP3WJ2RI2OTSJTNYOIGICST6DUXR","conditions":"Outgoing
        transaction fee deducted from the amount sent. ZRX contract 0xe41d2489571d322189246dafa5ebde1f4699f498","display_decimals":7},"tomlUrl":"https://apay.io/.well-known/stellar.toml"}},{"soldAssetType":"credit_alphanum4","soldAssetIssuer":{"accountId":"GBRPTWEZTUKYM6VJXLHXBFI23M2GSY3TCVIQSZKFQLMOJXH7VPDGKBDP","homeDomain":"charnatoken.top"},"soldAssetCode":"CHRC","soldAssetToml":{"code":"CHRC","desc":"Charna
        Token will benefit from projects involving AI, and blockchain technology (aitca.net).
        it also has a mass market opportunity as a utility token","name":"Charna Token","image":"https://images.stellarport.io/credit_[...]
