---
http_interactions:
- request:
    method: get
    uri: https://www.jex.com/api/v1/spot/ticker/24hr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"SNTUSDT","priceChange":"-0.000099","priceChangePercent":"-0.6300","weightedAvgPrice":"0.015579","lastPrice":"0.015497","bidPrice":"0.015463","bidQty":"7080.00000000","askPrice":"0.015497","askQty":"130.59960000","openPrice":"0.015596","highPrice":"0.016267","lowPrice":"0.014740","volume":"8534988.2221","quoteVolume":"132968.641400","openTime":1568954050448,"closeTime":1568954050445},{"symbol":"EOSUSDT","priceChange":"0.0308","priceChangePercent":"0.7900","weightedAvgPrice":"3.8999","lastPrice":"3.9176","bidPrice":"3.9174","bidQty":"49.03100000","askPrice":"3.9175","askQty":"600.00000000","openPrice":"3.8868","highPrice":"3.9878","lowPrice":"3.8039","volume":"12269127.4532","quoteVolume":"47848010.9856","openTime":1568954050448,"closeTime":1568954050448},{"symbol":"NEOUSDT","priceChange":"0.02","priceChangePercent":"0.2000","weightedAvgPrice":"9.6000","lastPri[...]
