---
http_interactions:
- request:
    method: get
    uri: https://www.jex.com/api/v2/pub/jexcap
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ltc/btc":{"id":6,"last":"0.01570400","lowestAsk":"0.01574100","highestBid":"0.01567000","percentChange":"0.0051000000","baseVolume":"72300.74000000","quoteVolume":"1136.37675704","isFrozen":"0","high24hr":"0.01583000","low24hr":"0.01554700"},"jex/btc":{"id":14,"last":"0.00000378","lowestAsk":"0.00000379","highestBid":"0.00000377","percentChange":"0.0413000000","baseVolume":"22658387.00000000","quoteVolume":"83.39010182","isFrozen":"0","high24hr":"0.00000378","low24hr":"0.00000357"},"eos/usdt":{"id":69,"last":"12.66110000","lowestAsk":"12.66110000","highestBid":"12.65990000","percentChange":"0.0727000000","baseVolume":"11003429.17120495","quoteVolume":"134335154.10028059","isFrozen":"0","high24hr":"12.75000000","low24hr[...]
