---
http_interactions:
- request:
    method: get
    uri: https://www.jex.com/api/v2/pub/jexcap
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ltc/btc":{"id":6,"last":"0.01578300","lowestAsk":"0.01582200","highestBid":"0.01574800","percentChange":"0.0045000000","baseVolume":"65194.02560000","quoteVolume":"1037.72594568","isFrozen":"0","high24hr":"0.01615600","low24hr":"0.01555700"},"jex/btc":{"id":14,"last":"0.00000364","lowestAsk":"0.00000365","highestBid":"0.00000361","percentChange":"0.0282000000","baseVolume":"19387546.00000000","quoteVolume":"68.81296396","isFrozen":"0","high24hr":"0.00000371","low24hr":"0.00000338"},"eos/usdt":{"id":69,"last":"11.78840000","lowestAsk":"11.78840000","highestBid":"11.78230000","percentChange":"-0.0034000000","baseVolume":"12442469.74398790","quoteVolume":"151191909.88533822","isFrozen":"0","high24hr":"12.56660000","low24h[...]
