---
http_interactions:
- request:
    method: get
    uri: https://www.jex.com/api/v2/pub/jexcap
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ltc/btc":{"id":6,"last":"0.00790100","lowestAsk":"0.00792900","highestBid":"0.00792600","percentChange":"-0.0001000000","baseVolume":"51.88880000","quoteVolume":"0.41395608","isFrozen":"0","high24hr":"0.00824700","low24hr":"0.00780400","baseAssetName":"Litecoin","quoteAssetName":"Bitcoin"},"jex/btc":{"id":14,"last":"0.00000097","lowestAsk":"0.00000098","highestBid":"0.00000095","percentChange":"0.0000000000","baseVolume":"14945819.00000000","quoteVolume":"14.54609114","isFrozen":"0","high24hr":"0.00000102","low24hr":"0.00000091","baseAssetName":"JEX","quoteAssetName":"Bitcoin"},"eos/usdt":{"id":69,"last":"2.93850000","lowestAsk":"2.93850000","highestBid":"2.93600000","percentChange":"-0.0152000000","baseVolume":"19892997.76558523","quoteVolume":"60296852.39246280","isFrozen":"0","high24hr":"3.20110000","low24hr":"2.90000000","baseAssetName":"EOS","quoteAssetName":"USDT"},"BTC1226CALL":{"id":486,"last":"0.91170000","lowestAsk":"0.92660000","highestBid":"0.89600000","percentChange":"-0.0521000000","baseVolume":"35113199.00000000","quoteVolume":"34875094.31260000","isFrozen":"0","high24hr":"1.19540000","low24hr":"0.84490000","baseAssetName":"BTC1226CALL","quoteAssetName":"USDT"},"qtum/usdt":{"id":242,"last":"2.09560000","lowestAsk":"2.09950000","highestBid":"2.09300000","percentChange":"-0.0188000000","baseVolume":"541349.60455578","quoteVolume":"1178224.24521697","isFrozen":"0","high24hr":"2.29900000","low24hr":"2.06580000","baseAssetName":"QTUM","quoteAssetName":"USDT"},"NEO1204PUT":{"id":513,"last":"0.09090000","lowestAsk":"0.09100000","highestBid":"0.09090000","percentChange":"-0.1301000000","baseVolume":"26464603.00000000","quoteVolume":"2327124.26560000","isFrozen":"0","high24hr":"0.13010000","low24hr":"0.06280000","baseAssetName":"NEO1204PUT","quoteAssetName":"USDT"},"neo/usdt":{"id":244,"last":"8.26000000","lowestAsk":"8.27000000","highestBid":"8.25000000","percentChange":"-0.0024000000","baseVolume":"99258.93670311","quoteVolume":"838400.99708393","isFrozen":"0","high24hr":"8.94000000","low24hr":"8.13000000","baseAssetName":"NEO","quoteAssetName":"USDT"},"BTC1226PUT":{"id":487,"last":"0.64400000","lowestAsk":"0.65380000","highestBid":"0.63420000","percentChange":"0.0447000000","baseVolume":"36600667.00000000","quoteVolume":"21821059.97460000","isFrozen":"0","high24hr":"0.69890000","low24hr":"0.50050000","baseAssetName":"BTC1226PUT","quoteAssetName":"USDT"},"BTC1205CALL":{"id":514,"last":"0.55050000","lowestAsk":"0.56420000","highestBid":"0.53830000","percentChange":"-0.1074000000","baseVolume":"37019886.00000000","quoteVolume":"23900035.14270000","isFrozen":"0","high24hr":"0.87210000","low24hr":"0.49050000","baseAssetName":"BTC1205CALL","quoteAssetName":"USDT"},"EOS1203PUT":{"id":525,"last":"1.00590000","lowestAsk":"1.02730000","highestBid":"0.98200000","percentChange":"0.0614000000","baseVolume":"37403052.00000000","quoteVolume":"33139496.77710000","isFrozen":"0","high24hr":"1.08930000","low24hr":"0.65650000","baseAssetName":"EOS1203PUT","quoteAssetName":"USDT"},"eth/usdt":{"id":34,"last":"119.01000000","lowestAsk":"120.79000000","highestBid":"119.01000000","percentChange":"-0.0019000000","baseVolume":"240.83530000","quoteVolume":"28777.34399100","isFrozen":"0","high24hr":"123.65000000","low24hr":"117.60000000","baseAssetName":"Eth","quoteAssetName":"USDT"},"EOS1224PUT":{"id":473,"last":"1.18130000","lowestAsk":"1.18290000","highestBid":"1.16340000","percentChange":"0.0435000000","baseVolume":"34875165.00000000","quoteVolume":"37734479.24180000","isFrozen":"0","high24hr":"1.25460000","low24hr":"0.87950000","baseAssetName":"EOS1224PUT","quoteAssetName":"USDT"},"BTC1205PUT":{"id":515,"last":"0.28700000","lowestAsk":"0.29460000","highestBid":"0.27870000","percentChange":"0.0353000000","baseVolume":"32096641.00000000","quoteVolume":"8233898.94090000","isFrozen":"0","high24hr":"0.36370000","low24hr":"0.18300000","baseAssetName":"BTC1205PUT","quoteAssetName":"USDT"},"eth/btc":{"id":3,"last":"0.02860000","lowestAsk":"0.05000000","highestBid":"0.02860000","percentChange":"-0.0032000000","baseVolume":"0.24100000","quoteVolume":"0.00689260","isFrozen":"0","high24hr":"0.02869300","low24hr":"0.02860000","baseAssetName":"Eth","quoteAssetName":"Bitcoin"},"elf/usdt":{"id":322,"last":"0.13750000","lowestAsk":"0.13750000","highestBid":"0.13720000","percentChange":"-0.0833000000","baseVolume":"9738413.28479109","quoteVolume":"1411757.10137117","isFrozen":"0","high24hr":"0.16000000","low24hr":"0.12780000","baseAssetName":"ELF","quoteAssetName":"USDT"},"omg/usdt":{"id":243,"last":"1.59000000","lowestAsk":"1.59080000","highestBid":"1.59000000","percentChange":"-0.0440000000","baseVolume":"3375534.90196304","quoteVolume":"5573489.73204778","isFrozen":"0","high24hr":"1.75000000","low24hr":"1.57070000","baseAssetName":"OMG","quoteAssetName":"USDT"},"EOS1203CALL":{"id":524,"last":"0.07070000","lowestAsk":"0.07750000","highestBid":"0.07040000","percentChange":"-0.2665000000","baseVolume":"22110828.00000000","quoteVolume":"2604345.74360000","isFrozen":"0","high24hr":"0.22810000","low24hr":"0.06320000","baseAssetName":"EOS1203CALL","quoteAssetName":"USDT"},"snt/usdt":{"id":320,"last":"0.02054100","lowestAsk":"0.02059700","highestBid":"0.02050200","percentChange":"-0.0168000000","baseVolume":"4034637.24935548","quoteVolume":"85565.05123860","isFrozen":"0","high24hr":"0.02209900","low24hr":"0.02031800","baseAssetName":"SNT","quoteAssetName":"USDT"},"huobi-ETF":{"id":15,"last":"0.00010353","lowestAsk":"0.00010396","highestBid":"0.00010315","percentChange":"0.0035000000","baseVolume":"4494184.00000000","quoteVolume":"465.29502011","isFrozen":"0","high24hr":"0.00010609","low24hr":"0.00010246","baseAssetName":"huobi-ETF","quoteAssetName":"Bitcoin"},"gnt/usdt":{"id":319,"last":"0.09070000","lowestAsk":"0.09100000","highestBid":"0.09060000","percentChange":"0.0134000000","baseVolume":"1169867.29129286","quoteVolume":"107288.72052086","isFrozen":"0","high24hr":"0.09760000","low24hr":"0.08870000","baseAssetName":"GNT","quoteAssetName":"USDT"},"ht/usdt":{"id":164,"last":"1.11820000","lowestAsk":"1.11970000","highestBid":"1.11820000","percentChange":"-0.0063000000","baseVolume":"5978679.51331413","quoteVolume":"6796677.46186626","isFrozen":"0","high24hr":"1.16600000","low24hr":"1.10130000","baseAssetName":"HT","quoteAssetName":"USDT"},"wicc/usdt":{"id":249,"last":"0.12560000","lowestAsk":"0.12560000","highestBid":"0.12540000","percentChange":"-0.0031000000","baseVolume":"8541720.77574254","quoteVolume":"1074215.20250095","isFrozen":"0","high24hr":"0.14000000","low24hr":"0.12180000","baseAssetName":"WICC","quoteAssetName":"USDT"},"eos/btc":{"id":68,"last":"0.00069475","lowestAsk":"0.00069555","highestBid":"0.00069475","percentChange":"-0.0058000000","baseVolume":"18988178.43114213","quoteVolume":"13410.46109666","isFrozen":"0","high24hr":"0.00073856","low24hr":"0.00068728","baseAssetName":"EOS","quoteAssetName":"Bitcoin"},"ETH1227PUT":{"id":491,"last":"0.63960000","lowestAsk":"0.64940000","highestBid":"0.63030000","percentChange":"0.0010000000","baseVolume":"15453213.00000000","quoteVolume":"9649582.43270000","isFrozen":"0","high24hr":"0.69720000","low24hr":"0.54600000","baseAssetName":"ETH1227PUT","quoteAssetName":"USDT"},"binance-ETF":{"id":24,"last":"0.00010162","lowestAsk":"0.00010199","highestBid":"0.00010129","percentChange":"0.0044000000","baseVolume":"2567964.00000000","quoteVolume":"261.08385168","isFrozen":"0","high24hr":"0.00010357","low24hr":"0.00010050","baseAssetName":"binance-ETF","quoteAssetName":"Bitcoin"},"iost/usdt":{"id":321,"last":"0.00507700","lowestAsk":"0.00507800","highestBid":"0.00507100","percentChange":"-0.0422000000","baseVolume":"306786911.36240270","quoteVolume":"1650518.01784835","isFrozen":"0","high24hr":"0.00564800","low24hr":"0.00502500","baseAssetName":"IOST","quoteAssetName":"USDT"},"dash/btc":{"id":78,"last":"0.02255100","lowestAsk":"0.02257800","highestBid":"0.02253500","percentChange":"-0.0007000000","baseVolume":"21414.08114904","quoteVolume":"484.09226644","isFrozen":"0","high24hr":"0.02295200","low24hr":"0.02236900","baseAssetName":"DASH","quoteAssetName":"Bitcoin"},"btc/usdt":{"id":27,"last":"4227.93000000","lowestAsk":"4232.51000000","highestBid":"4223.71000000","percentChange":"-0.0068000000","baseVolume":"4328.80690000","quoteVolume":"18544458.51120600","isFrozen":"0","high24hr":"4426.85000000","low24hr":"4160.89000000","baseAssetName":"Bitcoin","quoteAssetName":"USDT"},"ETH1206CALL":{"id":518,"last":"0.32510000","lowestAsk":"0.33310000","highestBid":"0.31720000","percentChange":"-0.0491000000","baseVolume":"18483157.00000000","quoteVolume":"6537990.64340000","isFrozen":"0","high24hr":"0.48650000","low24hr":"0.27550000","baseAssetName":"ETH1206CALL","quoteAssetName":"USDT"},"HT1130PUT":{"id":521,"last":"0.48100000","lowestAsk":"0.48950000","highestBid":"0.47120000","percentChange":"-0.1125000000","baseVolume":"31127203.00000000","quoteVolume":"14894655.23950000","isFrozen":"0","high24hr":"0.63380000","low24hr":"0.31810000","baseAssetName":"HT1130PUT","quoteAssetName":"USDT"},"btm/usdt":{"id":318,"last":"0.10250000","lowestAsk":"0.10260000","highestBid":"0.10240000","percentChange":"0.0078000000","baseVolume":"7029211.72322251","quoteVolume":"733877.51816197","isFrozen":"0","high24hr":"0.10880000","low24hr":"0.10060000","baseAssetName":"BTM","quoteAssetName":"USDT"},"dash/usdt":{"id":79,"last":"95.59000000","lowestAsk":"95.55000000","highestBid":"95.35000000","percentChange":"-0.0082000000","baseVolume":"27560.30298894","quoteVolume":"2677010.56240502","isFrozen":"0","high24hr":"100.24000000","low24hr":"93.76000000","baseAssetName":"DASH","quoteAssetName":"USDT"},"NEO1204CALL":{"id":512,"last":"0.68730000","lowestAsk":"0.70820000","highestBid":"0.68500000","percentChange":"-0.0182000000","baseVolume":"22627325.00000000","quoteVolume":"17433899.03760000","isFrozen":"0","high24hr":"0.99390000","low24hr":"0.64360000","baseAssetName":"NEO1204CALL","quoteAssetName":"USDT"},"HT1130CALL":{"id":520,"last":"0.00480000","lowestAsk":"0.00990000","highestBid":"0.00010000","percentChange":"-0.9522000000","baseVolume":"32666726.00000000","quoteVolume":"3877690.80970000","isFrozen":"0","high24hr":"0.25120000","low24hr":"0.00220000","baseAssetName":"HT1130CALL","quoteAssetName":"USDT"},"BNB/USDT":{"id":165,"last":"5.36470000","lowestAsk":"5.41090000","highestBid":"5.31050000","percentChange":"0.0077000000","baseVolume":"42744.16000000","quoteVolume":"229749.33317200","isFrozen":"0","high24hr":"5.62470000","low24hr":"5.21490000","baseAssetName":"BNB","quoteAssetName":"USDT"},"zil/usdt":{"id":317,"last":"0.01816700","lowestAsk":"0.01817100","highestBid":"0.01815700","percentChange":"-0.0541000000","baseVolume":"118175310.95891754","quoteVolume":"2294470.07059183","isFrozen":"0","high24hr":"0.02105800","low24hr":"0.01772000","baseAssetName":"ZIL","quoteAssetName":"USDT"},"bch/usdt":{"id":339,"last":"179.22000000","lowestAsk":"179.69000000","highestBid":"179.10000000","percentChange":"-0.0110000000","baseVolume":"44682.35084792","quoteVolume":"8220614.69160068","isFrozen":"0","high24hr":"192.24000000","low24hr":"175.64000000","baseAssetName":"BCH","quoteAssetName":"USDT"},"EOS1224CALL":{"id":472,"last":"0.25950000","lowestAsk":"0.26710000","highestBid":"0.25390000","percentChange":"-0.0907000000","baseVolume":"23145119.00000000","quoteVolume":"7341197.60210000","isFrozen":"0","high24hr":"0.45370000","low24hr":"0.23800000","baseAssetName":"EOS1224CALL","quoteAssetName":"USDT"},"ETH1206PUT":{"id":519,"last":"0.37350000","lowestAsk":"0.38140000","highestBid":"0.36490000","percentChange":"-0.0214000000","baseVolume":"18688519.00000000","quoteVolume":"6787821.78150000","isFrozen":"0","high24hr":"0.44180000","low24hr":"0.28250000","baseAssetName":"ETH1206PUT","quoteAssetName":"USDT"},"ETH1227CALL":{"id":490,"last":"0.59500000","lowestAsk":"0.60420000","highestBid":"0.58620000","percentChange":"-0.0111000000","baseVolume":"15310558.00000000","quoteVolume":"9455356.41090000","isFrozen":"0","high24hr":"0.74530000","low24hr":"0.53630000","baseAssetName":"ETH1227CALL","quoteAssetName":"USDT"}}'
  recorded_at: Fri, 30 Nov 2018 07:04:23 GMT
recorded_with: VCR 4.0.0
