---
http_interactions:
- request:
    method: get
    uri: https://api.etherdelta.com/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"t6GxuMB+8Wz9MhDm6qWXHw=="
    body:
      encoding: UTF-8
      string: '{"ETH_KIN":{"tokenAddr":"0x818fc6c2ec5986bc6e2cbf00939d90556ab12ce5","quoteVolume":1452442726.656,"baseVolume":435.87,"last":3.79e-7,"percentChange":0.3584,"bid":3.7e-7,"ask":3.54e-7},"ETH_VERI":{"tokenAddr":"0x8f3470a7388c05ee4e7af3d01d8c722b0ff52374","quoteVolume":1670.711,"baseVolume":225.366,"last":0.130166804,"percentChange":0.0265,"bid":0.131829487,"ask":0.131771417},"ETH_EOS":{"tokenAddr":"0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0","quoteVolume":10212.297,"baseVolume":201.647,"last":0.01987173,"percentChange":-0.0354,"bid":0.019872,"ask":0.02},"ETH_0x7e9e":{"tokenAddr":"0x7e9e431a0b8c4d532c745b1043c7fa29a48d4fba","quoteVolume":747604.981,"baseVolume":181.794,"last":0.000294974,"percentChange":0.2714,"bid":0.00024,"ask":0.00168},"ETH_PPP":{"tokenAddr":"0xc42209accc14029c1012fb5680d95fbd6036e2a0","quoteVolume":67196.272,"baseVolume":83.698,"last":0.001263026,"percentChange":-0.0148,"bid":0.001198989,"ask":0.0012668},"ETH_PLR":{"tokenAddr":"0xe3818504c1b32bf1557b16c238b2e01fd3149c17","quoteVolume":147870.271,"baseVolume":61.008,"last":0.000402791,"percentChange":-0.1312,"bid":0.000391513,"ask":0.000435},"ETH_0xebbd":{"tokenAddr":"0xebbdf302c940c6bfd49c6b165f457fdb324649bc","quoteVolume":7369466.707,"baseVolume":57.462,"last":0.000007418,"percentChange":0.3487,"bid":0.000006,"ask":0.000009},"ETH_0x3883":{"tokenAddr":"0x3883f5e181fccaf8410fa61e12b59bad963fb645","quoteVolume":172917.529,"baseVolume":51.668,"last":0.000297793,"percentChange":0.1029,"bid":0.00020202,"ask":0.0003},"ETH_PPT":{"tokenAddr":"0xd4fa1460f537bb9085d22c7bccb5dd450ef28e3a","quoteVolume":1821.356,"baseVolume":43.72,"last":0.024017179,"percentChange":0.0576,"bid":0.0234,"ask":0.024049113},"ETH_0x12b3":{"tokenAddr":"0x12b306fa98f4cbb8d4457fdff3a0a0a56f07ccdf","quoteVolume":57958.902,"baseVolume":31.854,"last":0.000568033,"percentChange":0.0461,"bid":0.000515,"ask":0.000646463},"ETH_0x358d":{"tokenAddr":"0x358d12436080a01a16f711014610f8a4c2c2d233","quoteVolume":1693.637,"baseVolume":23.872,"last":0.016,"percentChange":0.3333,"bid":0.0111,"ask":0.017499},"ETH_0x8d80":{"tokenAddr":"0x8d80de8a78198396329dfa769ad54d24bf90e7aa","quoteVolume":286637.261,"baseVolume":22.769,"last":0.000079987,"percentChange":0,"bid":7e-9,"ask":0.000079989},"ETH_OMG":{"tokenAddr":"0xd26114cd6ee289accf82350c8d8487fedb8a0c07","quoteVolume":915.289,"baseVolume":18.502,"last":0.02099707,"percentChange":0.0446,"bid":0.0203,"ask":0.02099707},"ETH_0xe25b":{"tokenAddr":"0xe25b0bba01dc5630312b6a21927e578061a13f55","quoteVolume":117.278,"baseVolume":0.017,"last":0.0001405,"percentChange":-0.2107,"bid":0.000105001,"ask":0.00016804},"ETH_0x275b":{"tokenAddr":"0x275b69aa7c8c1d648a0557656bce1c286e69a29d","quoteVolume":99207.167,"baseVolume":16.985,"last":0.000168,"percentChange":-0.0118,"bid":0.000168,"ask":0.0001979},"ETH_0x41ab":{"tokenAddr":"0x41ab1b6fcbb2fa9dced81acbdec13ea6315f2bf2","quoteVolume":2063016.144,"baseVolume":15.854,"last":0.000007407,"percentChange":-0.0741,"bid":0.00000752,"ask":0.0000195},"ETH_EXRN":{"tokenAddr":"0xe469c4473af82217b30cf17b10bcdb6c8c796e75","quoteVolume":115318512,"baseVolume":13.182,"last":1.19e-7,"percentChange":0.0531,"bid":1.14e-7,"ask":1.17e-7},"ETH_0xe13e":{"tokenAddr":"0xe13ef257cf4d5df928ca11d230427c037666d466","quoteVolume":824479.087,"baseVolume":13.158,"last":0.00001597,"percentChange":-0.0081,"bid":0,"ask":0.00004},"ETH_RPL":{"tokenAddr":"0xb4efd85c19999d84251304bda99e90b92300bd93","quoteVolume":4298.221,"baseVolume":12.625,"last":0.002999999,"percentChange":0.0381,"bid":0.00233,"ask":0.0028},"ETH_DAY":{"tokenAddr":"0xe814aee960a85208c3db542c53e7d4a6c8d5f60f","quoteVolume":3835.566,"baseVolume":12.16,"last":0.003,"percentChange":-0.1938,"bid":0.003,"ask":0.005},"ETH_0xb621":{"tokenAddr":"0xb62132e35a6c13ee1ee0f84dc5d40bad8d815206","quoteVolume":26272.702,"baseVolume":11.965,"last":0.0004697,"percentChange":-0.0006,"bid":0.000411,"ask":0.00052},"ETH_0xaa7a":{"tokenAddr":"0xaa7a9ca87d3694b5755f213b5d04094b8d0f0a6f","quoteVolume":30007.375,"baseVolume":11.542,"last":0.00037,"percentChange":-0.0247,"bid":0.0003937,"ask":0.000423897},"ETH_WTT":{"tokenAddr":"0x84119cb33e8f590d75c2d6ea4e6b0741a7494eda","quoteVolume":6825,"baseVolume":11.017,"last":0.0015,"percentChange":-0.1573,"bid":0.00145,"ask":0.00174},"ETH_0xfdfe":{"tokenAddr":"0xfdfe8b7ab6cf1bd1e3d14538ef40686296c42052","quoteVolume":390000,"baseVolume":10.224,"last":0.0000151,"percentChange":-0.0621,"bid":0.000011112,"ask":0.000336699},"ETH_0xa15c":{"tokenAddr":"0xa15c7ebe1f07caf6bff097d8a589fb8ac49ae5b3","quoteVolume":678495.589,"baseVolume":9.964,"last":0.0000153,"percentChange":0.177,"bid":0.000014,"ask":0.0000232},"ETH_DENT":{"tokenAddr":"0x3597bfd533a99c9aa083587b074434e61eb0a258","quoteVolume":692047.72,"baseVolume":9.025,"last":0.000012123,"percentChange":-0.0675,"bid":0.000012002,"ask":0.000013},"ETH_0x351d":{"tokenAddr":"0x351d5ea36941861d0c03fdfb24a8c2cb106e068b","quoteVolume":1218404.674,"baseVolume":8.478,"last":0.0000071,"percentChange":0.0595,"bid":0.0000068,"ask":0.0000071},"ETH_TRX":{"tokenAddr":"0xf230b790e05390fc8295f4d3f60332c93bed42e2","quoteVolume":78828.539,"baseVolume":8.062,"last":0.000104899,"percentChange":-0.0007,"bid":0.000098001,"ask":0.000104},"ETH_0x139d":{"tokenAddr":"0x139d9397274bb9e2c29a9aa8aa0b5874d30d62e3","quoteVolume":181737.997,"baseVolume":8.03,"last":0.00004,"percentChange":-0.1579,"bid":0.000020002,"ask":0.000045},"ETH_0x4c0f":{"tokenAddr":"0x4c0fbe1bb46612915e7967d2c3213cd4d87257ad","quoteVolume":766249.769,"baseVolume":7.871,"last":0.00001,"percentChange":0,"bid":0.00000853,"ask":0.0000118},"ETH_0x1829":{"tokenAddr":"0x1829aa045e21e0d59580024a951db48096e01782","quoteVolume":59430.642,"baseVolume":7.285,"last":0.000118605,"percentChange":-0.0512,"bid":0.000006665,"ask":0.000127},"ETH_CREDO":{"tokenAddr":"0x4e0603e2a27a30480e5e3a4fe548e29ef12f64be","quoteVolume":156934.38,"baseVolume":6.69,"last":0.0000444,"percentChange":0.479,"bid":0.00003,"ask":0.00004569},"ETH_0x4092":{"tokenAddr":"0x4092678e4e78230f46a1534c0fbc8fa39780892b","quoteVolume":149338.721,"baseVolume":6.422,"last":0.000040187,"percentChange":-0.3189,"bid":0.00004301,"ask":0.0001},"ETH_PAY":{"tokenAddr":"0xb97048628db6b661d4c2aa833e95dbe1a905b280","quoteVolume":2496.369,"baseVolume":6.064,"last":0.001795382,"percentChange":-0.0026,"bid":0.00164,"ask":0.001806478},"ETH_0xa4ea":{"tokenAddr":"0xa4ea687a2a7f29cf2dc66b39c68e4411c0d00c49","quoteVolume":58591.114,"baseVolume":5.939,"last":0.000020051,"percentChange":-0.8945,"bid":0.0001,"ask":0.00018},"ETH_0x6c6e":{"tokenAddr":"0x6c6ee5e31d828de241282b9606c8e98ea48526e2","quoteVolume":2855913.182,"baseVolume":5.531,"last":0.000002,"percentChange":-0.0909,"bid":0.000001702,"ask":0.000002199},"ETH_SPARTA":{"tokenAddr":"0x24aef3bf1a47561500f9430d74ed4097c47f51f2","quoteVolume":20000,"baseVolume":4.84,"last":0.00026,"percentChange":-0.732,"bid":0.00005019,"ask":0.001},"ETH_0x543f":{"tokenAddr":"0x543ff227f64aa17ea132bf9886cab5db55dcaddf","quoteVolume":2780.355,"baseVolume":4.663,"last":0.00168,"percentChange":0.1507,"bid":0.0014,"ask":0.001675},"ETH_ASTRO":{"tokenAddr":"0x7b22938ca841aa392c93dbb7f4c42178e3d65e88","quoteVolume":1903.692,"baseVolume":4.539,"last":0.002222,"percentChange":-0.1022,"bid":0.002223,"ask":0.00262},"ETH_0x05f4":{"tokenAddr":"0x05f4a42e251f2d52b8ed15e9fedaacfcef1fad27","quoteVolume":15609.553,"baseVolume":4.196,"last":0.000237594,"percentChange":-0.1807,"bid":0.000278,"ask":0.00033},"ETH_0x2c32":{"tokenAddr":"0x2c3243ef62d1ce837e74dae0a4d2b622f48906bf","quoteVolume":4003.079,"baseVolume":4.013,"last":0.0011,"percentChange":0.0476,"bid":1.1e-8,"ask":0.00249},"ETH_0x264d":{"tokenAddr":"0x264dc2dedcdcbb897561a57cba5085ca416fb7b4","quoteVolume":49863.73,"baseVolume":3.49,"last":0.00007,"percentChange":-0.0667,"bid":0.000020002,"ask":0.000999},"ETH_VEN":{"tokenAddr":"0xd850942ef8811f2a866692a623011bde52a462c1","quoteVolume":487.639,"baseVolume":3.438,"last":0.00649,"percentChange":-0.0729,"bid":0.00649,"ask":0.00649},"ETH_0xe34e":{"tokenAddr":"0xe34e1944e776f39b9252790a0527ebda647ae668","quoteVolume":151993.901,"baseVolume":3.16,"last":0.00002195,"percentChange":-0.0023,"bid":0.000019001,"ask":0.00002195},"ETH_0x9231":{"tokenAddr":"0x923108a439c4e8c2315c4f6521e5ce95b44e9b4c","quoteVolume":10774.618,"baseVolume":3.152,"last":0.00033,"percentChange":0.1387,"bid":0.00026,"ask":0.00045},"ETH_ONG":{"tokenAddr":"0xd341d1680eeee3255b8c4c75bcce7eb57f144dae","quoteVolume":37524.712,"baseVolume":3.145,"last":0.000075009,"percentChange":-0.6268,"bid":0.000067123,"ask":0.00013},"ETH_ADX":{"tokenAddr":"0x4470bb87d77b963a013db939be332f927f2b992e","quoteVolume":1280.961,"baseVolume":3.066,"last":0.001257423,"percentChange":0.1557,"bid":0.0011,"ask":0.001294998},"ETH_SKIN":{"tokenAddr":"0x2bdc0d42996017fce214b21607a515da41a9e0c5","quoteVolume":7323.031,"baseVolume":3.011,"last":0.000040997,"percentChange":0.9427,"bid":0.000023102,"ask":0.0000463},"ETH_SPANK":{"tokenAddr":"0x42d6622dece394b54999fbd73d108123806f6a18","quoteVolume":12200.424,"baseVolume":2.947,"last":0.000240511,"percentChange":0.2658,"bid":0.00018,"ask":0.000288256},"ETH_XRL":{"tokenAddr":"0xb24754be79281553dc1adc160ddf5cd9b74361a4","quoteVolume":11672.466,"baseVolume":2.945,"last":0.0002587,"percentChange":0.0145,"bid":0.00026,"ask":0.0002587},"ETH_DATA":{"tokenAddr":"0x0cf0ee63788a0849fe5297f3407f701e122cc023","quoteVolume":14817.712,"baseVolume":2.915,"last":0.000199,"percentChange":0.2437,"bid":0.000150001,"ask":0.000199},"ETH_TGT":{"tokenAddr":"0xac3da587eac229c9896d919abc235ca4fd7f72c1","quoteVolume":140079.9,"baseVolume":2.703,"last":0.00005,"percentChange":7.3333,"bid":0.000007001,"ask":0.0000349},"ETH_0xd895":{"tokenAddr":"0xd8950fdeaa10304b7a7fd03a2fc66bc39f3c711a","quoteVolume":27341.118,"baseVolume":2.349,"last":0.000076,"percentChange":-0.1604,"bid":0.000007,"ask":0.0002},"ETH_0x1a23":{"tokenAddr":"0x1a231df765d0f7674f55d20d022bcb38da794501","quoteVolume":7052,"baseVolume":2.186,"last":0.00038999,"percentChange":0.3546,"bid":1e-9,"ask":0},"ETH_0x225b":{"tokenAddr":"0x225b1116b67e4b8069cb12962e1e3bd1fb26af57","quoteVolume":21648.355,"baseVolume":2.165,"last":0.0001,"percentChange":0,"bid":0.000095,"ask":0.000098},"ETH_0x9a02":{"tokenAddr":"0x9a0242b7a33dacbe40edb927834f96eb39f8fbcb","quoteVolume":770711.845,"baseVolume":2.126,"last":0.000002627,"percentChange":-0.2475,"bid":0.000002624,"ask":0.0000033},"ETH_SONM":{"tokenAddr":"0x983f6d60db79ea8ca4eb9968c6aff8cfa04b3c63","quoteVolume":4159.403,"baseVolume":2.071,"last":0.000425355,"percentChange":-0.1298,"bid":0.000425,"ask":0.000578},"ETH_SNT":{"tokenAddr":"0x744d70fdbe2ba4cf95131626614a1763df805b9e","quoteVolume":9998.976,"baseVolume":1.957,"last":0.00019575,"percentChange":-0.565,"bid":0.000150007,"ask":0.000575},"ETH_ZRX":{"tokenAddr":"0xe41d2489571d322189246dafa5ebde1f4699f498","quoteVolume":770.111,"baseVolume":1.864,"last":0.002375,"percentChange":-0.0865,"bid":0.002,"ask":0.00259},"ETH_0x5dbe":{"tokenAddr":"0x5dbe296f97b23c4a6aa6183d73e574d02ba5c719","quoteVolume":56135.196,"baseVolume":1.852,"last":0.00003188,"percentChange":-0.1611,"bid":0.00001,"ask":0.00004532},"ETH_0x3635":{"tokenAddr":"0x3635e381c67252405c1c0e550973155832d5e490","quoteVolume":139600,"baseVolume":1.848,"last":0.0000135,"percentChange":5.2791,"bid":8e-9,"ask":0.0000258},"ETH_DGPT":{"tokenAddr":"0xf6cfe53d6febaeea051f400ff5fc14f0cbbdaca1","quoteVolume":498.448,"baseVolume":1.845,"last":0.002,"percentChange":-0.1667,"bid":0.002000212,"ask":0.0085},"ETH_0x89d2":{"tokenAddr":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","quoteVolume":1019.052,"baseVolume":1.761,"last":0.001888,"percentChange":0.2932,"bid":0.00000188,"ask":0.0525},"ETH_0xf8e6":{"tokenAddr":"0xf8e6bacd9298df8b0aba67ef2ef8348fabc5ae8a","quoteVolume":22290.825,"baseVolume":1.757,"last":0.000078,"percentChange":0.56,"bid":0.000053,"ask":0},"ETH_IXT":{"tokenAddr":"0xfca47962d45adfdfd1ab2d972315db4ce7ccf094","quoteVolume":2452,"baseVolume":1.716,"last":0.0007,"percentChange":0.4403,"bid":0.000553,"ask":0.00098},"ETH_RLX":{"tokenAddr":"0x4a42d2c580f83dce404acad18dab26db11a1750e","quoteVolume":187342.441,"baseVolume":1.697,"last":0.00001,"percentChange":0.1765,"bid":0.0000089,"ask":0.000011998},"ETH_0x632f":{"tokenAddr":"0x632f62fcf63cb56380ffd27d63afcf5f1349f73f","quoteVolume":11760000,"baseVolume":1.662,"last":1.41e-7,"percentChange":0.0846,"bid":1e-9,"ask":0},"ETH_REQ":{"tokenAddr":"0x8f8221afbb33998d8584a2b05749ba73c37a938a","quoteVolume":4175.976,"baseVolume":1.657,"last":0.000342,"percentChange":0.0364,"bid":0.000250001,"ask":0.0003393},"ETH_0xcd36":{"tokenAddr":"0xcd3673af09e76c74d889aabab68ca0645566a3a1","quoteVolume":9321.224,"baseVolume":1.622,"last":0.000175,"percentChange":0.0938,"bid":2e-8,"ask":0.002},"ETH_0x9992":{"tokenAddr":"0x9992ec3cf6a55b00978cddf2b27bc6882d88d1ec","quoteVolume":1105.322,"baseVolume":1.552,"last":0.001351,"percentChange":-0.0058,"bid":0.001384806,"ask":0.0023625},"ETH_POWR":{"tokenAddr":"0x595832f8fc6bf59c85c527fec3740a1b7a361269","quoteVolume":2784.86,"baseVolume":1.465,"last":0.0005791,"percentChange":0.0071,"bid":0.000548196,"ask":0.000735},"ETH_SNC":{"tokenAddr":"0xf4134146af2d511dd5ea8cdb1c4ac88c57d60404","quoteVolume":4985.045,"baseVolume":1.406,"last":0.00028201,"percentChange":0.0072,"bid":0.000282012,"ask":0.0027},"ETH_RVT":{"tokenAddr":"0x3d1ba9be9f66b8ee101911bc36d3fb562eac2244","quoteVolume":2918.22,"baseVolume":1.4,"last":0.0004799,"percentChange":-0.0771,"bid":0.000410001,"ask":0.00058},"ETH_KICK":{"tokenAddr":"0x27695e09149adc738a978e9a678f99e4c39e9eb9","quoteVolume":11828.382,"baseVolume":1.314,"last":0.000111111,"percentChange":-0.038,"bid":0.000111111,"ask":0.000141},"ETH_0x5a3c":{"tokenAddr":"0x5a3c9a1725aa82690ee0959c89abe96fd1b527ee","quoteVolume":40782.35,"baseVolume":1.256,"last":0.000037001,"percentChange":0,"bid":0.000038,"ask":0.000666},"ETH_0xb6ed":{"tokenAddr":"0xb6ed7644c69416d67b522e20bc294a9a9b405b31","quoteVolume":1438.076,"baseVolume":1.255,"last":0.00084,"percentChange":-0.1158,"bid":0.000012,"ask":0.003},"ETH_0x8e56":{"tokenAddr":"0x8e5610ab5e39d26828167640ea29823fe1dd5843","quoteVolume":3525393.068,"baseVolume":1.252,"last":4.4e-7,"percentChange":0.4194,"bid":2e-7,"ask":0},"ETH_0xc27a":{"tokenAddr":"0xc27a2f05fa577a83ba0fdb4c38443c0718356501","quoteVolume":3323.252,"baseVolume":1.246,"last":0.00036,"percentChange":0,"bid":0.000351065,"ask":0.000364575},"ETH_BAT":{"tokenAddr":"0x0d8775f648430679a709e98d2b0cb6250d2887ef","quoteVolume":2160.64,"baseVolume":1.219,"last":0.00056232,"percentChange":0.1715,"bid":0.0004901,"ask":0.0009877},"ETH_GEN":{"tokenAddr":"0x9dfe4643c04078a46803edcc30a3291b76d4c20c","quoteVolume":164816.237,"baseVolume":1.081,"last":0.0000148,"percentChange":0.0408,"bid":0.00000271,"ask":0.000016},"ETH_MCO":{"tokenAddr":"0xb63b606ac810a52cca15e44bb630fd42d8d1d83d","quoteVolume":66.996,"baseVolume":1.028,"last":0.015349719,"percentChange":0.2791,"bid":0.01605,"ask":0.0259},"ETH_EPY":{"tokenAddr":"0x50ee674689d75c0f88e8f83cfe8c4b69e8fd590d","quoteVolume":6792.34,"baseVolume":1.025,"last":0.000149999,"percentChange":0.0377,"bid":0.000049001,"ask":0.000195},"ETH_HST":{"tokenAddr":"0x554c20b7c486beee439277b4540a434566dc4c02","quoteVolume":252.199,"baseVolume":1.02,"last":0.00177,"percentChange":0.7525,"bid":0.00101,"ask":0.00159},"ETH_0xafbe":{"tokenAddr":"0xafbec4d65bc7b116d85107fd05d912491029bf46","quoteVolume":1100,"baseVolume":1,"last":0.000909,"percentChange":-0.091,"bid":1e-9,"ask":0},"ETH_NIO":{"tokenAddr":"0x5554e04e76533e1d14c52f05beef6c9d329e1e30","quoteVolume":11533,"baseVolume":0.971,"last":0.0001,"percentChange":0.0526,"bid":0.000075,"ask":0.0001},"ETH_CRED":{"tokenAddr":"0x672a1ad4f667fb18a333af13667aa0af1f5b5bdd","quoteVolume":2289.151,"baseVolume":0.956,"last":0.0004475,"percentChange":0.0655,"bid":0.000326,"ask":0.0004899},"ETH_0x8f7d":{"tokenAddr":"0x8f7dbf90e71285552a687097220e1035c2e87639","quoteVolume":201716970.111,"baseVolume":0.955,"last":6e-9,"percentChange":-0.1429,"bid":1e-9,"ask":0},"ETH_CVC":{"tokenAddr":"0x41e5560054824ea6b0732e656e3ad64e20e94e45","quoteVolume":1997.976,"baseVolume":0.935,"last":0.000486198,"percentChange":-0.4267,"bid":0.000506,"ask":0.000949},"ETH_0x6425":{"tokenAddr":"0x6425c6be902d692ae2db752b3c268afadb099d3b","quoteVolume":13079.53,"baseVolume":0.927,"last":0.0000765,"percentChange":-0.0116,"bid":0.000064,"ask":0.00085},"ETH_LOC":{"tokenAddr":"0x5e3346444010135322268a4630d2ed5f8d09446c","quoteVolume":556.735,"baseVolume":0.919,"last":0.00165,"percentChange":0.1786,"bid":0.00110001,"ask":0.0022},"ETH_AUA":{"tokenAddr":"0xb29678a4805a7d787dc9589e179d27f7575bb9f7","quoteVolume":748,"baseVolume":0.905,"last":0.000907143,"percentChange":-0.4259,"bid":0.0006,"ask":0.0022},"ETH_0x7b9f":{"tokenAddr":"0x7b9f3f8d3c8631246409e4993294d464ffa9ce2e","quoteVolume":512000,"baseVolume":0.869,"last":0.00000989,"percentChange":-0.011,"bid":0.000001001,"ask":0.001},"ETH_0x9c79":{"tokenAddr":"0x9c794f933b4dd8b49031a79b0f924d68bef43992","quoteVolume":20900,"baseVolume":0.857,"last":0.000041,"percentChange":-0.1784,"bid":0.00001,"ask":0.000054878},"ETH_PFR":{"tokenAddr":"0x2fa32a39fc1c399e0cc7b2935868f5165de7ce97","quoteVolume":5167.551,"baseVolume":0.855,"last":0.000168535,"percentChange":-0.113,"bid":0.000142,"ask":0.000189},"ETH_GRID":{"tokenAddr":"0x12b19d3e2ccc14da04fae33e63652ce469b3f2fd","quoteVolume":1180.392,"baseVolume":0.82,"last":0.0006923,"percentChange":0.0987,"bid":0.000655,"ask":0.00083969},"ETH_TAAS":{"tokenAddr":"0xe7775a6e9bcf904eb39da2b68c5efb4f9360e08c","quoteVolume":99.875,"baseVolume":0.788,"last":0.00801,"percentChange":0.0309,"bid":0.005023001,"ask":0.0082},"ETH_AE":{"tokenAddr":"0x5ca9a71b1d01849c0a95490cc00559717fcf0d1d","quoteVolume":148.5,"baseVolume":0.787,"last":0.0053,"percentChange":-0.1103,"bid":0.005101,"ask":0.0098},"ETH_0x6871":{"tokenAddr":"0x687174f8c49ceb7729d925c3a961507ea4ac7b28","quoteVolume":31430.499,"baseVolume":0.786,"last":0.000025,"percentChange":0.5152,"bid":0.0000165,"ask":0.000025},"ETH_0x0d62":{"tokenAddr":"0x0d62dc6cd8c81dca8caadccf01ffe7c1f31d9402","quoteVolume":10000,"baseVolume":0.76,"last":0.000076,"percentChange":-0.4154,"bid":0,"ask":0.00175},"ETH_WABI":{"tokenAddr":"0x286bda1413a2df81731d4930ce2f862a35a609fe","quoteVolume":491.404,"baseVolume":0.75,"last":0.00151,"percentChange":0,"bid":0.001121013,"ask":0.0024},"ETH_0x2c82":{"tokenAddr":"0x2c82c73d5b34aa015989462b2948cd616a37641f","quoteVolume":1914.451,"baseVolume":0.726,"last":0.000380057,"percentChange":0.003,"bid":0.000331,"ask":0.00043},"ETH_HBT":{"tokenAddr":"0xdd6c68bb32462e01705011a4e2ad1a60740f217f","quoteVolume":553.325,"baseVolume":0.668,"last":0.000811111,"percentChange":-0.3241,"bid":0.00076,"ask":0.00149},"ETH_0xf3db":{"tokenAddr":"0xf3db7560e820834658b590c96234c333cd3d5e5e","quoteVolume":5657.173,"baseVolume":0.661,"last":0.0001184,"percentChange":-0.0003,"bid":0.00001014,"ask":0.00017},"ETH_0x5f53":{"tokenAddr":"0x5f53f7a8075614b699baad0bc2c899f4bad8fbbf","quoteVolume":6835.231,"baseVolume":0.65,"last":0.00009,"percentChange":-0.0426,"bid":0.00009,"ask":0.000108},"ETH_0x4270":{"tokenAddr":"0x4270bb238f6dd8b1c3ca01f96ca65b2647c06d3c","quoteVolume":9725.792,"baseVolume":0.619,"last":0.000063636,"percentChange":-0.2144,"bid":0.000035,"ask":0.000177},"ETH_BMC":{"tokenAddr":"0xdf6ef343350780bf8c3410bf062e0c015b1dd671","quoteVolume":529.038,"baseVolume":0.613,"last":0.001159537,"percentChange":0.0637,"bid":0.00119,"ask":0.0016},"ETH_0x1530":{"tokenAddr":"0x1530df3e1c69501d4ecb7e58eb045b90de158873","quoteVolume":115683.982,"baseVolume":0.611,"last":0.000002,"percentChange":-0.7647,"bid":1e-9,"ask":0.000006},"ETH_SALT":{"tokenAddr":"0x4156d3342d5c385a87d264f90653733592000581","quoteVolume":135.353,"baseVolume":0.585,"last":0.004251358,"percentChange":0.0314,"bid":0.00488,"ask":0.00528885},"ETH_QSP":{"tokenAddr":"0x99ea4db9ee77acd40b119bd1dc4e33e1c070b80d","quoteVolume":1885.483,"baseVolume":0.536,"last":0.000285356,"percentChange":-0.4293,"bid":0.0002691,"ask":0.000329},"ETH_ERC20":{"tokenAddr":"0x26d5bd2dfeda983ecd6c39899e69dae6431dffbb","quoteVolume":2149391.474,"baseVolume":0.534,"last":3e-7,"percentChange":0,"bid":1.54e-7,"ask":3e-7},"ETH_WILD":{"tokenAddr":"0xd3c00772b24d997a812249ca637a921e81357701","quoteVolume":12404.987,"baseVolume":0.525,"last":0.00003814,"percentChange":-0.3585,"bid":0.000038155,"ask":0.00009495},"ETH_0x4cc1":{"tokenAddr":"0x4cc19356f2d37338b9802aa8e8fc58b0373296e7","quoteVolume":30000,"baseVolume":0.453,"last":0.0000151,"percentChange":0,"bid":0.000010001,"ask":0.000021998},"ETH_RCC":{"tokenAddr":"0x9b6443b0fb9c241a7fdac375595cea13e6b7807a","quoteVolume":6363.601,"baseVolume":0.439,"last":0.000068978,"percentChange":-0.1378,"bid":0.00006,"ask":0.0001498},"ETH_DRGN":{"tokenAddr":"0x419c4db4b9e25d6db2ad9691ccb832c8d9fda05e","quoteVolume":333.6,"baseVolume":0.433,"last":0.001150062,"percentChange":-0.105,"bid":0.001123001,"ask":0.00148},"ETH_0x85e0":{"tokenAddr":"0x85e076361cc813a908ff672f9bad1541474402b2","quoteVolume":144561.89,"baseVolume":0.431,"last":0.000002999,"percentChange":0.0132,"bid":0.0000027,"ask":0.000002999},"ETH_0xba9d":{"tokenAddr":"0xba9d4199fab4f26efe3551d490e3821486f135ba","quoteVolume":9055.551,"baseVolume":0.416,"last":0.000064001,"percentChange":0.9998,"bid":0.00000311,"ask":0.0000998},"ETH_0xa701":{"tokenAddr":"0xa701122c1b67220a8b6883d03c8ad67896b12466","quoteVolume":37801.395,"baseVolume":0.416,"last":0.000011,"percentChange":0.2941,"bid":0.0000012,"ask":0.000069},"ETH_0xc509":{"tokenAddr":"0xc50948bac01116f246259070ea6084c04649efdf","quoteVolume":31316.175,"baseVolume":0.407,"last":0.000013,"percentChange":0.4286,"bid":0.0000031,"ask":0.0000278},"ETH_BQX":{"tokenAddr":"0x5af2be193a6abca9c8817001f45744777db30756","quoteVolume":91.81,"baseVolume":0.404,"last":0.0053,"percentChange":-0.3072,"bid":0.004302002,"ask":0.0069},"ETH_0xfb1e":{"tokenAddr":"0xfb1e5f5e984c28ad7e228cdaa1f8a0919bb6a09b","quoteVolume":7773.306,"baseVolume":0.389,"last":0.000043,"percentChange":-0.0138,"bid":0.000040001,"ask":0.000065},"ETH_EDT":{"tokenAddr":"0xce53a179047ebed80261689367c093c90a94cc08","quoteVolume":49831.13,"baseVolume":0.369,"last":0.000008,"percentChange":0.1268,"bid":0.000008,"ask":0.000008},"ETH_SGG":{"tokenAddr":"0xe2f45f1660dc99daf3bd06f637ab1e4debc15bde","quoteVolume":70077.163,"baseVolume":0.363,"last":0.000006201,"percentChange":4.1632,"bid":0.000001201,"ask":0.000025},"ETH_0x80a7":{"tokenAddr":"0x80a7e048f37a50500351c204cb407766fa3bae7f","quoteVolume":331.769,"baseVolume":0.353,"last":0.0011225,"percentChange":0.1816,"bid":0.0012,"ask":0.001466578},"ETH_ENJ":{"tokenAddr":"0xf629cbd94d3791c9250152bd8dfbdf380e2a3b9c","quoteVolume":1694.791,"baseVolume":0.347,"last":0.000205,"percentChange":-0.1458,"bid":0.00024,"ask":0.00034},"ETH_0x8542":{"tokenAddr":"0x8542325b72c6d9fc0ad2ca965a78435413a915a0","quoteVolume":2084.157,"baseVolume":0.345,"last":0.000165005,"percentChange":0,"bid":0.00018,"ask":0.000348},"ETH_XNN":{"tokenAddr":"0xab95e915c123fded5bdfb6325e35ef5515f1ea69","quoteVolume":16398.702,"baseVolume":0.339,"last":0.00002,"percentChange":0,"bid":0.0000165,"ask":0.000026},"ETH_0x6888":{"tokenAddr":"0x6888a16ea9792c15a4dcf2f6c623d055c8ede792","quoteVolume":8976.747,"baseVolume":0.334,"last":0.0000365,"percentChange":-0.131,"bid":0.00003345,"ask":0.000057},"ETH_0x9e96":{"tokenAddr":"0x9e96604445ec19ffed9a5e8dd7b50a29c899a10c","quoteVolume":1000,"baseVolume":0.33,"last":0.00033,"percentChange":0.0313,"bid":0.00031999,"ask":0.000499},"ETH_REAL":{"tokenAddr":"0x9214ec02cb71cba0ada6896b8da260736a67ab10","quoteVolume":672.784,"baseVolume":0.321,"last":0.00046,"percentChange":0.02,"bid":0.0004774,"ask":0.000513},"ETH_STX":{"tokenAddr":"0x006bea43baa3f7a6f765f14f10a1a1b08334ef45","quoteVolume":400,"baseVolume":0.32,"last":0.0008,"percentChange":-0.1992,"bid":0.00053101,"ask":0.00115},"ETH_VIU":{"tokenAddr":"0x519475b31653e46d20cd09f9fdcf3b12bdacb4f5","quoteVolume":29927.36,"baseVolume":0.314,"last":0.000010501,"percentChange":0.0254,"bid":0.000010501,"ask":0.000011},"ETH_0x8c2d":{"tokenAddr":"0x8c2d0d4301d4c28e0e8179c3351a56aefdf61248","quoteVolume":233,"baseVolume":0.303,"last":0.0013,"percentChange":0,"bid":0,"ask":0},"ETH_SER":{"tokenAddr":"0xb561fef0d624c0826ff869946f6076b7c4f2ba42","quoteVolume":2000,"baseVolume":0.278,"last":0.0001389,"percentChange":-0.6054,"bid":0.00008,"ask":0.0001395},"ETH_ECASH":{"tokenAddr":"0x5d21ef5f25a985380b65c8e943a0082feda0db84","quoteVolume":4000,"baseVolume":0.264,"last":0.0000661,"percentChange":-0.5279,"bid":0.000052,"ask":0.00013},"ETH_0x7e43":{"tokenAddr":"0x7e43581b19ab509bcf9397a2efd1ab10233f27de","quoteVolume":21858.382,"baseVolume":0.262,"last":0.000011,"percentChange":-0.1077,"bid":0.000001,"ask":0.000012344},"ETH_0x98f5":{"tokenAddr":"0x98f5e9b7f0e33956c0443e81bf7deb8b5b1ed545","quoteVolume":13000000,"baseVolume":0.261,"last":2e-8,"percentChange":0.1494,"bid":0,"ask":0.000024999},"ETH_0xd0a4":{"tokenAddr":"0xd0a4b8946cb52f0661273bfbc6fd0e0c75fc6433","quoteVolume":4188.166,"baseVolume":0.259,"last":0.00011605,"percentChange":0.6579,"bid":0.000052,"ask":0.0000877},"ETH_AMB":{"tokenAddr":"0x4dc3643dbc642b72c158e7f3d2ff232df61cb6ce","quoteVolume":200,"baseVolume":0.256,"last":0.00128,"percentChange":0.3474,"bid":0.00083,"ask":0.00128},"ETH_EAGLE":{"tokenAddr":"0x994f0dffdbae0bbf09b652d6f11a493fd33f42b9","quoteVolume":3500,"baseVolume":0.25,"last":0.00007,"percentChange":-0.1765,"bid":0.000035612,"ask":0.00014},"ETH_NTWK":{"tokenAddr":"0x2233799ee2683d75dfefacbcd2a26c78d34b470d","quoteVolume":5653.709,"baseVolume":0.241,"last":0.00002148,"percentChange":1.148,"bid":0.000010009,"ask":0.00002148},"ETH_0xb98d":{"tokenAddr":"0xb98d4c97425d9908e66e53a6fdf673acca0be986","quoteVolume":156.716,"baseVolume":0.238,"last":0.0015101,"percentChange":-0.1372,"bid":0.0015,"ask":0.002},"ETH_0x949b":{"tokenAddr":"0x949bed886c739f1a3273629b3320db0c5024c719","quoteVolume":42.332,"baseVolume":0.234,"last":0.1191,"percentChange":118.1,"bid":0.00001,"ask":0.000049},"ETH_0x1961":{"tokenAddr":"0x1961b3331969ed52770751fc718ef530838b6dee","quoteVolume":4984.633,"baseVolume":0.229,"last":0.000046,"percentChange":-0.2333,"bid":0.000032,"ask":0.000079},"ETH_H2O":{"tokenAddr":"0xfeed1a53bd53ffe453d265fc6e70dd85f8e993b6","quoteVolume":102.248,"baseVolume":0.224,"last":0.001900001,"percentChange":-0.0256,"bid":0.001900001,"ask":0.0022},"ETH_0x47dd":{"tokenAddr":"0x47dd62d4d075dead71d0e00299fc56a2d747bebb","quoteVolume":62641.364,"baseVolume":0.212,"last":0.000004,"percentChange":0.139,"bid":0.0000034,"ask":0.0000043},"ETH_CSNO":{"tokenAddr":"0x29d75277ac7f0335b2165d0895e8725cbf658d73","quoteVolume":1700,"baseVolume":0.204,"last":0.00012,"percentChange":-0.8278,"bid":0.00008001,"ask":0.00015},"ETH_LINK":{"tokenAddr":"0x514910771af9ca656af840dff83e8264ecf986ca","quoteVolume":323.076,"baseVolume":0.196,"last":0.0006,"percentChange":-0.2453,"bid":0.000600007,"ask":0.000799},"ETH_B2B":{"tokenAddr":"0x5d51fcced3114a8bb5e90cdd0f9d682bcbcc5393","quoteVolume":544.906,"baseVolume":0.195,"last":0.0003,"percentChange":-0.2504,"bid":0.0003,"ask":0.000641},"ETH_0x39bb":{"tokenAddr":"0x39bb259f66e1c59d5abef88375979b4d20d98022","quoteVolume":488.391,"baseVolume":0.195,"last":0.000441997,"percentChange":0.105,"bid":0.0001721,"ask":0.003199},"ETH_0x46b9":{"tokenAddr":"0x46b9ad944d1059450da1163511069c718f699d31","quoteVolume":151.298,"baseVolume":0.192,"last":0.00131,"percentChange":-0.015,"bid":0.001001,"ask":0.001349999},"ETH_XMRG":{"tokenAddr":"0x0f598112679b78e17a4a9febc83703710d33489c","quoteVolume":209443724.454,"baseVolume":0.191,"last":1e-9,"percentChange":0.9996,"bid":0,"ask":1e-9},"ETH_0x147b":{"tokenAddr":"0x147b51d82a6038607895e11c4191431335b257e3","quoteVolume":6834.613,"baseVolume":0.191,"last":0.0000289,"percentChange":0.9139,"bid":0.000010006,"ask":0.000079},"ETH_0x0d66":{"tokenAddr":"0x0d664faae776576c2e307e4e5fbf8dc65f08f136","quoteVolume":30150,"baseVolume":0.189,"last":0.0000071,"percentChange":0.0143,"bid":1e-9,"ask":0.00001},"ETH_ELTCOIN":{"tokenAddr":"0x44197a4c44d6a059297caf6be4f7e172bd56caaf","quoteVolume":17167.78,"baseVolume":0.189,"last":0.000011,"percentChange":-0.3529,"bid":0.0000115,"ask":0.000023},"ETH_SHNZ":{"tokenAddr":"0x8b0c9f462c239c963d8760105cbc935c63d85680","quoteVolume":262163692.382,"baseVolume":0.188,"last":3e-9,"percentChange":0,"bid":1e-9,"ask":2e-9},"ETH_0xc148":{"tokenAddr":"0xc14830e53aa344e8c14603a91229a0b925b0b262","quoteVolume":800,"baseVolume":0.184,"last":0.00023,"percentChange":0,"bid":0.000011,"ask":0.000587},"ETH_LUM":{"tokenAddr":"0xa89b5934863447f6e4fc53b315a93e873bda69a3","quoteVolume":9.915,"baseVolume":0.183,"last":0.01843583,"percentChange":0,"bid":0.000020023,"ask":0.0021},"ETH_EREAL":{"tokenAddr":"0x15f173b7aca7cd4a01d6f8360e65fb4491d270c1","quoteVolume":49924.326,"baseVolume":0.181,"last":0.000001,"percentChange":-0.7895,"bid":0.000001,"ask":0.00000469},"ETH_0x4cf4":{"tokenAddr":"0x4cf488387f035ff08c371515562cba712f9015d4","quoteVolume":1233.405,"baseVolume":0.177,"last":0.000145311,"percentChange":-0.1452,"bid":0.000137002,"ask":0.000398},"ETH_UGT":{"tokenAddr":"0x43ee79e379e7b78d871100ed696e803e7893b644","quoteVolume":3.308910000000016e+33,"baseVolume":0.177,"last":0,"percentChange":-1,"bid":0,"ask":0},"ETH_CTR":{"tokenAddr":"0x96a65609a7b84e8842732deb08f56c3e21ac6f8a","quoteVolume":6882.458,"baseVolume":0.172,"last":0.000025005,"percentChange":0.0252,"bid":0.000019001,"ask":0.000025005},"ETH_0x8fe1":{"tokenAddr":"0x8fe19c447821b4cdcdd5012bca1b5469ca96d80d","quoteVolume":65.375,"baseVolume":0.17,"last":0.0025,"percentChange":0,"bid":0,"ask":0.00388},"ETH_EBCH":{"tokenAddr":"0xafc39788c51f0c1ff7b55317f3e70299e521fff6","quoteVolume":2335,"baseVolume":0.17,"last":0.000073,"percent
[...]
