---
http_interactions:
- request:
    method: get
    uri: https://api.etherdelta.com/returnTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"YkNouD8E92/zIsNvJaVeqw=="
    body:
      encoding: UTF-8
      string: '{"ETH_ABS":{"tokenAddr":"0x8ce9411df545d6b51a9bc52a89e0f6d1b54a06dd","quoteVolume":14012641533028,"baseVolume":1438.03,"last":1.4e-8,"percentChange":2.7837,"bid":1e-9,"ask":2e-9},"ETH_PPT":{"tokenAddr":"0xd4fa1460f537bb9085d22c7bccb5dd450ef28e3a","quoteVolume":28619.803,"baseVolume":1345.662,"last":0.050589932,"percentChange":0.0463,"bid":0.05154,"ask":0.05},"ETH_PLR":{"tokenAddr":"0xe3818504c1b32bf1557b16c238b2e01fd3149c17","quoteVolume":720485.061,"baseVolume":1288.765,"last":0.00167056,"percentChange":0.2236,"bid":0.0016,"ask":0.0016761},"ETH_VERI":{"tokenAddr":"0x8f3470a7388c05ee4e7af3d01d8c722b0ff52374","quoteVolume":2708.132,"baseVolume":910.042,"last":0.367258918,"percentChange":0.0777,"bid":0.35755212,"ask":0.384},"ETH_Polymath":{"tokenAddr":"0x9992ec3cf6a55b00978cddf2b27bc6882d88d1ec","quoteVolume":756306.808,"baseVolume":773.314,"last":0.000974614,"percentChange":-0.017,"bid":0.000977,"ask":0.000988},"ETH_0xfae4":{"tokenAddr":"0xfae4ee59cdd86e3be9e8b90b53aa866327d7c090","quoteVolume":1362998.143,"baseVolume":512.537,"last":0.000402548,"percentChange":0.3374,"bid":0.000413,"ask":0.000429666},"ETH_0xe25b":{"tokenAddr":"0xe25bcec5d3801ce3a794079bf94adf1b8ccd802d","quoteVolume":582410.605,"baseVolume":429.605,"last":0.000731716,"percentChange":0.1234,"bid":0.00072,"ask":0.000739999},"ETH_0x358d":{"tokenAddr":"0x358d12436080a01a16f711014610f8a4c2c2d233","quoteVolume":228442.819,"baseVolume":413.669,"last":0.001844541,"percentChange":0.1316,"bid":0.00178,"ask":0.001849},"ETH_Lamden
        Tau":{"tokenAddr":"0xc27a2f05fa577a83ba0fdb4c38443c0718356501","quoteVolume":1428961.164,"baseVolume":321.861,"last":0.000201685,"percentChange":-0.1096,"bid":0.00022,"ask":0.000205},"ETH_KIN":{"tokenAddr":"0x818fc6c2ec5986bc6e2cbf00939d90556ab12ce5","quoteVolume":912219124.203,"baseVolume":309.229,"last":3.64e-7,"percentChange":0.1382,"bid":3.71e-7,"ask":3.71e-7},"ETH_Trace
        Token":{"tokenAddr":"0xaa7a9ca87d3694b5755f213b5d04094b8d0f0a6f","quoteVolume":974957.403,"baseVolume":260.777,"last":0.000290877,"percentChange":0.2484,"bid":0.000280026,"ask":0.0002998},"ETH_PPP":{"tokenAddr":"0xc42209accc14029c1012fb5680d95fbd6036e2a0","quoteVolume":150494.459,"baseVolume":257.64,"last":0.001936933,"percentChange":0.1956,"bid":0.00195,"ask":0.001949805},"ETH_DRGN":{"tokenAddr":"0x419c4db4b9e25d6db2ad9691ccb832c8d9fda05e","quoteVolume":119021.774,"baseVolume":223.513,"last":0.002047855,"percentChange":0.2782,"bid":0.00188979,"ask":0.002043099},"ETH_OMG":{"tokenAddr":"0xd26114cd6ee289accf82350c8d8487fedb8a0c07","quoteVolume":13936.002,"baseVolume":209.739,"last":0.014958468,"percentChange":0.1605,"bid":0.014080034,"ask":0.0145},"ETH_0x05f4":{"tokenAddr":"0x05f4a42e251f2d52b8ed15e9fedaacfcef1fad27","quoteVolume":2698022.694,"baseVolume":208.701,"last":0.000075936,"percentChange":0.036,"bid":0.000074001,"ask":0.0000773},"ETH_PLC":{"tokenAddr":"0x0835ecd15ddf08d4786304d71b4672dc5c40f011","quoteVolume":242149186.406,"baseVolume":168.347,"last":6.77e-7,"percentChange":0.1283,"bid":6.05e-7,"ask":6.77e-7},"ETH_VEE":{"tokenAddr":"0x340d2bde5eb28c1eed91b2f790723e3b160613b7","quoteVolume":1676918.723,"baseVolume":156.165,"last":0.000085001,"percentChange":0.1471,"bid":0.000085,"ask":0.000088899},"ETH_DENT":{"tokenAddr":"0x3597bfd533a99c9aa083587b074434e61eb0a258","quoteVolume":4575263.282,"baseVolume":149.018,"last":0.00003402,"percentChange":0.2259,"bid":0.000033,"ask":0.000034699},"ETH_0xb6ee":{"tokenAddr":"0xb6ee9668771a79be7967ee29a63d4184f8097143","quoteVolume":876988.361,"baseVolume":143.199,"last":0.000163705,"percentChange":0.1569,"bid":0.000156,"ask":0.00016367},"ETH_0x3833":{"tokenAddr":"0x3833dda0aeb6947b98ce454d89366cba8cc55528","quoteVolume":215707.071,"baseVolume":135.244,"last":0.000641147,"percentChange":0.0627,"bid":0.00082,"ask":0.00069},"ETH_0x9af2":{"tokenAddr":"0x9af2c6b1a28d3d6bc084bd267f70e90d49741d5b","quoteVolume":1400003.458,"baseVolume":114.982,"last":0.00008513,"percentChange":0.1988,"bid":0.00009,"ask":0.0000938},"ETH_AE":{"tokenAddr":"0x5ca9a71b1d01849c0a95490cc00559717fcf0d1d","quoteVolume":34894.789,"baseVolume":113.342,"last":0.003099999,"percentChange":0,"bid":0.002929031,"ask":0.003099999},"ETH_0x8eb2":{"tokenAddr":"0x8eb24319393716668d768dcec29356ae9cffe285","quoteVolume":189755.583,"baseVolume":110.372,"last":0.000525172,"percentChange":0.0503,"bid":0.000530001,"ask":0.000557489},"ETH_0x4524":{"tokenAddr":"0x45245bc59219eeaaf6cd3f382e078a461ff9de7b","quoteVolume":77666.74,"baseVolume":101.733,"last":0.001110823,"percentChange":0.0007,"bid":0.001112,"ask":0.0012},"ETH_Bluzelle
        Tok":{"tokenAddr":"0x5732046a883704404f284ce41ffadd5b007fd668","quoteVolume":149432.678,"baseVolume":96.272,"last":0.000705335,"percentChange":0,"bid":0.000689362,"ask":0.000858988},"ETH_EOS":{"tokenAddr":"0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0","quoteVolume":7560.041,"baseVolume":77.968,"last":0.010725909,"percentChange":0.0363,"bid":0.0107,"ask":0.0107},"ETH_0x9231":{"tokenAddr":"0x923108a439c4e8c2315c4f6521e5ce95b44e9b4c","quoteVolume":456040.08,"baseVolume":70.245,"last":0.000154,"percentChange":0.0267,"bid":0.000154072,"ask":0.00015799},"ETH_MTX":{"tokenAddr":"0x0af44e2784637218dd1d32a322d44e603a8f0c6a","quoteVolume":64923.97,"baseVolume":69.627,"last":0.001252993,"percentChange":1.4559,"bid":0.00125,"ask":0.001339},"ETH_0x618e":{"tokenAddr":"0x618e75ac90b12c6049ba3b27f5d5f8651b0037f6","quoteVolume":55912.959,"baseVolume":68.147,"last":0.004,"percentChange":2.6735,"bid":0.001089,"ask":0.001299989},"ETH_PAY":{"tokenAddr":"0xb97048628db6b661d4c2aa833e95dbe1a905b280","quoteVolume":27038.912,"baseVolume":66.332,"last":0.003056785,"percentChange":0.5284,"bid":0.00211,"ask":0.00221938},"ETH_0xd780":{"tokenAddr":"0xd780ae2bf04cd96e577d3d014762f831d97129d0","quoteVolume":59726.661,"baseVolume":62.214,"last":0.001122468,"percentChange":0.1668,"bid":0.00109,"ask":0.00125},"ETH_PFR":{"tokenAddr":"0x2fa32a39fc1c399e0cc7b2935868f5165de7ce97","quoteVolume":550645.418,"baseVolume":61.269,"last":0.00011205,"percentChange":112049,"bid":0.0001,"ask":0.00012},"ETH_0x1961":{"tokenAddr":"0x1961b3331969ed52770751fc718ef530838b6dee","quoteVolume":354581.783,"baseVolume":59.632,"last":0.000162398,"percentChange":0.0056,"bid":0.000161,"ask":0.000165101},"ETH_EDT":{"tokenAddr":"0xce53a179047ebed80261689367c093c90a94cc08","quoteVolume":1241337.234,"baseVolume":58.008,"last":0.000048001,"percentChange":0.1161,"bid":0.00005,"ask":0.000051737},"ETH_0x26e7":{"tokenAddr":"0x26e75307fc0c021472feb8f727839531f112f317","quoteVolume":20351.466,"baseVolume":52.538,"last":0.0026847,"percentChange":-0.1051,"bid":0.0026848,"ask":0.00299},"ETH_RHOC":{"tokenAddr":"0x168296bb09e24a88805cb9c33356536b980d3fc5","quoteVolume":29902.673,"baseVolume":49.845,"last":0.002049,"percentChange":0.3392,"bid":0.0018,"ask":0.001877},"ETH_WILD":{"tokenAddr":"0xd3c00772b24d997a812249ca637a921e81357701","quoteVolume":160466.636,"baseVolume":48.535,"last":0.000318799,"percentChange":-0.3231,"bid":0.00031,"ask":0.000352},"ETH_0xe8a1":{"tokenAddr":"0xe8a1df958be379045e2b46a31a98b93a2ecdfded","quoteVolume":100436.013,"baseVolume":47.854,"last":0.000425,"percentChange":-0.1497,"bid":0.000425,"ask":0.00047},"ETH_0x3276":{"tokenAddr":"0x327682779bab2bf4d1337e8974ab9de8275a7ca8","quoteVolume":137601.476,"baseVolume":45.747,"last":0.000332155,"percentChange":0.0065,"bid":0.00033,"ask":0.000353},"ETH_SND":{"tokenAddr":"0xf333b2ace992ac2bbd8798bf57bc65a06184afba","quoteVolume":17784,"baseVolume":45.573,"last":0.00249998,"percentChange":0.2195,"bid":0.002,"ask":0.00248999},"ETH_GRID":{"tokenAddr":"0x12b19d3e2ccc14da04fae33e63652ce469b3f2fd","quoteVolume":33151.123,"baseVolume":44.587,"last":0.0013759,"percentChange":0.0791,"bid":0.0014,"ask":0.0013759},"ETH_SALT":{"tokenAddr":"0x4156d3342d5c385a87d264f90653733592000581","quoteVolume":7713.945,"baseVolume":42.935,"last":0.00560211,"percentChange":0.048,"bid":0.00565,"ask":0.00561},"ETH_0x12b3":{"tokenAddr":"0x12b306fa98f4cbb8d4457fdff3a0a0a56f07ccdf","quoteVolume":70572.909,"baseVolume":42.651,"last":0.000581099,"percentChange":-0.03,"bid":0.000671,"ask":0.000629999},"ETH_0xd4cf":{"tokenAddr":"0xd4cffeef10f60eca581b5e1146b5aca4194a4c3b","quoteVolume":268.237,"baseVolume":41.22,"last":0.14297,"percentChange":-0.098,"bid":0.145845,"ask":0.153800001},"ETH_0x8a85":{"tokenAddr":"0x8a854288a5976036a725879164ca3e91d30c6a1b","quoteVolume":38764.26,"baseVolume":39.864,"last":0.0012,"percentChange":-0.0244,"bid":0.001000902,"ask":0.001199999},"ETH_0x39bb":{"tokenAddr":"0x39bb259f66e1c59d5abef88375979b4d20d98022","quoteVolume":107539.665,"baseVolume":39.699,"last":0.0003909,"percentChange":0.0287,"bid":0.000360001,"ask":0.0003909},"ETH_TRX":{"tokenAddr":"0xf230b790e05390fc8295f4d3f60332c93bed42e2","quoteVolume":843087.604,"baseVolume":38.847,"last":0.000046573,"percentChange":0.0125,"bid":0.00006,"ask":0.000046},"ETH_LINK":{"tokenAddr":"0x514910771af9ca656af840dff83e8264ecf986ca","quoteVolume":73716.72,"baseVolume":38.549,"last":0.000574222,"percentChange":0.2665,"bid":0.000611222,"ask":0.00053737},"ETH_0x89d2":{"tokenAddr":"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359","quoteVolume":25423.018,"baseVolume":37.192,"last":0.001333516,"percentChange":-0.1745,"bid":0.001332106,"ask":0.001382521},"ETH_ZRX":{"tokenAddr":"0xe41d2489571d322189246dafa5ebde1f4699f498","quoteVolume":30553.49,"baseVolume":36.061,"last":0.001333024,"percentChange":0.0796,"bid":0.00126,"ask":0.0013},"ETH_0xe2fb":{"tokenAddr":"0xe2fb6529ef566a080e6d23de0bd351311087d567","quoteVolume":27039.113,"baseVolume":34.481,"last":0.00120055,"percentChange":-0.0396,"bid":0.00135,"ask":0.00131},"ETH_0xea5f":{"tokenAddr":"0xea5f88e54d982cbb0c441cde4e79bc305e5b43bc","quoteVolume":661857.445,"baseVolume":32.162,"last":0.00005408,"percentChange":-0.0167,"bid":0.00005299,"ask":0.00005489},"ETH_POWR":{"tokenAddr":"0x595832f8fc6bf59c85c527fec3740a1b7a361269","quoteVolume":43563.346,"baseVolume":31.634,"last":0.000871349,"percentChange":0.3426,"bid":0.000800001,"ask":0.000890899},"ETH_INT":{"tokenAddr":"0x0b76544f6c413a555f309bf76260d1e02377c02a","quoteVolume":71790.866,"baseVolume":31.29,"last":0.000543198,"percentChange":0.1223,"bid":0.00063022,"ask":0.000543198},"ETH_SPANK":{"tokenAddr":"0x42d6622dece394b54999fbd73d108123806f6a18","quoteVolume":138444.455,"baseVolume":30.273,"last":0.000245,"percentChange":0.2069,"bid":0.000179,"ask":0.000245},"ETH_0xc757":{"tokenAddr":"0xc7579bb99af590ec71c316e1ac4436c535039594","quoteVolume":21002.942,"baseVolume":29.34,"last":0.00158,"percentChange":0.264,"bid":0.00127,"ask":0.00158},"ETH_XRL":{"tokenAddr":"0xb24754be79281553dc1adc160ddf5cd9b74361a4","quoteVolume":105323.136,"baseVolume":26.491,"last":0.00025695,"percentChange":0.0774,"bid":0.000247,"ask":0.00025755},"ETH_0xa5f8":{"tokenAddr":"0xa5f8fc0921880cb7342368bd128eb8050442b1a1","quoteVolume":119449.841,"baseVolume":25.18,"last":0.000186108,"percentChange":0.0437,"bid":0.000201,"ask":0.00024},"ETH_0x4203":{"tokenAddr":"0x420335d3deef2d5b87524ff9d0fb441f71ea621f","quoteVolume":11285.532,"baseVolume":24.716,"last":0.0024902,"percentChange":0.2451,"bid":0.0022,"ask":0.00248},"ETH_CTR":{"tokenAddr":"0x96a65609a7b84e8842732deb08f56c3e21ac6f8a","quoteVolume":22378.769,"baseVolume":24.238,"last":0.00147669,"percentChange":0.5104,"bid":0.0012222,"ask":0.0014},"ETH_0x910d":{"tokenAddr":"0x910dfc18d6ea3d6a7124a6f8b5458f281060fa4c","quoteVolume":138306.98,"baseVolume":24.083,"last":0.000169,"percentChange":0.006,"bid":0.00017,"ask":0.00024},"ETH_AION":{"tokenAddr":"0x4ceda7906a5ed2179785cd3a40a69ee8bc99c466","quoteVolume":6465.071,"baseVolume":22.377,"last":0.00376,"percentChange":0.1907,"bid":0.00373,"ask":0.003771633},"ETH_0xef24":{"tokenAddr":"0xef2463099360a085f1f10b076ed72ef625497a06","quoteVolume":51501.061,"baseVolume":22,"last":0.000494,"percentChange":0.2043,"bid":0.000439,"ask":0.000445},"ETH_0x5d65":{"tokenAddr":"0x5d65d971895edc438f465c17db6992698a52318d","quoteVolume":2079.51,"baseVolume":21.365,"last":0.011,"percentChange":0.0774,"bid":0.01,"ask":0.0105},"ETH_INDI":{"tokenAddr":"0xe8c09672cfb9cfce6e2edbb01057d9fa569f97c1","quoteVolume":310000,"baseVolume":20.21,"last":0.000068,"percentChange":0.0625,"bid":0.000003,"ask":0.00007},"ETH_ERC20":{"tokenAddr":"0x26d5bd2dfeda983ecd6c39899e69dae6431dffbb","quoteVolume":9188393.866,"baseVolume":19.876,"last":0.00000185,"percentChange":-0.0722,"bid":0.000001623,"ask":0.000001845},"ETH_ECN":{"tokenAddr":"0xa578acc0cb7875781b7880903f4594d13cfa8b98","quoteVolume":27734.98,"baseVolume":19.218,"last":0.000904108,"percentChange":5.0274,"bid":0.0005,"ask":0.001},"ETH_0x107c":{"tokenAddr":"0x107c4504cd79c5d2696ea0030a8dd4e92601b82e","quoteVolume":21944.819,"baseVolume":19.15,"last":0.001009994,"percentChange":0.2623,"bid":0.000870012,"ask":0.001009996},"ETH_0x4cf4":{"tokenAddr":"0x4cf488387f035ff08c371515562cba712f9015d4","quoteVolume":42637.889,"baseVolume":18.793,"last":0.0005,"percentChange":0.1905,"bid":0.00039,"ask":0.0005},"ETH_HDG":{"tokenAddr":"0xffe8196bc259e8dedc544d935786aa4709ec3e64","quoteVolume":3616.065,"baseVolume":18.593,"last":0.0055,"percentChange":0.1294,"bid":0.005,"ask":0.0055},"ETH_0x80a7":{"tokenAddr":"0x80a7e048f37a50500351c204cb407766fa3bae7f","quoteVolume":17646.413,"baseVolume":18.529,"last":0.001028876,"percentChange":0.1369,"bid":0.000917001,"ask":0.001023},"ETH_FUN":{"tokenAddr":"0x419d0d8bdd9af5e606ae2232ed285aff190e711b","quoteVolume":214689.895,"baseVolume":18.325,"last":0.000101989,"percentChange":0.9471,"bid":0.00007001,"ask":0.00007959},"ETH_BLUE":{"tokenAddr":"0x539efe69bcdd21a83efd9122571a64cc25e0282b","quoteVolume":35117.717,"baseVolume":18.004,"last":0.0005001,"percentChange":-0.1363,"bid":0.00051,"ask":0.00058},"ETH_GMT":{"tokenAddr":"0xb3bd49e28f8f832b8d1e246106991e546c323502","quoteVolume":342577.47,"baseVolume":17.805,"last":0.00007599,"percentChange":0.6377,"bid":0.000055,"ask":0.00007},"ETH_AVT":{"tokenAddr":"0x0d88ed6e74bbfd96b831231638b66c05571e824f","quoteVolume":5924.667,"baseVolume":17.779,"last":0.003011,"percentChange":0.0037,"bid":0.00302,"ask":0.00448998},"ETH_HBT":{"tokenAddr":"0xdd6c68bb32462e01705011a4e2ad1a60740f217f","quoteVolume":16230.648,"baseVolume":17.774,"last":0.000971122,"percentChange":0.0116,"bid":0.0009711,"ask":0.0011399},"ETH_WTT":{"tokenAddr":"0x84119cb33e8f590d75c2d6ea4e6b0741a7494eda","quoteVolume":11230,"baseVolume":16.516,"last":0.001341287,"percentChange":-0.1058,"bid":0.00126,"ask":0.0014321},"ETH_WABI":{"tokenAddr":"0x286bda1413a2df81731d4930ce2f862a35a609fe","quoteVolume":9138.169,"baseVolume":16.298,"last":0.002017955,"percentChange":0.0314,"bid":0.002011222,"ask":0.002017954},"ETH_DOM":{"tokenAddr":"0x30aee7f259d6d1564ebef457847c672b30f13cbc","quoteVolume":19347729,"baseVolume":16.165,"last":9.95e-7,"percentChange":-0.006,"bid":8.71e-7,"ask":9.95e-7},"ETH_COB":{"tokenAddr":"0xb2f7eb1f2c37645be61d73953035360e768d81e6","quoteVolume":57557.453,"baseVolume":15.934,"last":0.000270001,"percentChange":0.125,"bid":0.000271333,"ask":0.00029769},"ETH_CDX":{"tokenAddr":"0x6fff3806bbac52a20e0d79bc538d527f6a22c96b","quoteVolume":100746.78,"baseVolume":15.232,"last":0.00018,"percentChange":0.3851,"bid":0.00010253,"ask":0.00018},"ETH_BCAP":{"tokenAddr":"0xff3519eeeea3e76f1f699ccce5e23ee0bdda41ac","quoteVolume":5166,"baseVolume":15.194,"last":0.003,"percentChange":0.0714,"bid":0.003,"ask":0.0034},"ETH_KICK":{"tokenAddr":"0x27695e09149adc738a978e9a678f99e4c39e9eb9","quoteVolume":295684.993,"baseVolume":14.991,"last":0.000050201,"percentChange":-0.0364,"bid":0.000050201,"ask":0.000059},"ETH_VEN":{"tokenAddr":"0xd850942ef8811f2a866692a623011bde52a462c1","quoteVolume":2842.809,"baseVolume":14.224,"last":0.005476,"percentChange":0.1282,"bid":0.00525,"ask":0.005476},"ETH_RDN":{"tokenAddr":"0x255aa6df07540cb5d3d297f0d0d4d84cb52bc8e6","quoteVolume":3864.211,"baseVolume":14.114,"last":0.003601511,"percentChange":0.2615,"bid":0.00344,"ask":0.003665874},"ETH_QSP":{"tokenAddr":"0x99ea4db9ee77acd40b119bd1dc4e33e1c070b80d","quoteVolume":38323.625,"baseVolume":13.8,"last":0.00039,"percentChange":0.4444,"bid":0.00039,"ask":0.00037},"ETH_EXRN":{"tokenAddr":"0xe469c4473af82217b30cf17b10bcdb6c8c796e75","quoteVolume":261608543,"baseVolume":13.714,"last":5.1e-8,"percentChange":0.2143,"bid":5.1e-8,"ask":5.6e-8},"ETH_0x2baa":{"tokenAddr":"0x2baac9330cf9ac479d819195794d79ad0c7616e3","quoteVolume":591713.912,"baseVolume":13.665,"last":0.000024475,"percentChange":-0.3559,"bid":0.000023,"ask":0.000030999},"ETH_0x2ccb":{"tokenAddr":"0x2ccbff3a042c68716ed2a2cb0c544a9f1d1935e1","quoteVolume":17635.835,"baseVolume":13.4,"last":0.00058,"percentChange":-0.2469,"bid":0.00075,"ask":0.00084},"ETH_COSS":{"tokenAddr":"0x65292eeadf1426cd2df1c4793a3d7519f253913b","quoteVolume":22697.069,"baseVolume":12.97,"last":0.00073678,"percentChange":0.228,"bid":0.0007,"ask":0.00073678},"ETH_0xda6c":{"tokenAddr":"0xda6cb58a0d0c01610a29c5a65c303e13e885887c","quoteVolume":1598296.811,"baseVolume":12.852,"last":0.000008399,"percentChange":0.0065,"bid":0.000008,"ask":0.000008399},"ETH_0x85e0":{"tokenAddr":"0x85e076361cc813a908ff672f9bad1541474402b2","quoteVolume":2689218.61,"baseVolume":12.727,"last":0.00000494,"percentChange":0.0978,"bid":0.00000495,"ask":0.00000495},"ETH_ADX":{"tokenAddr":"0x4470bb87d77b963a013db939be332f927f2b992e","quoteVolume":9725.326,"baseVolume":12.721,"last":0.00135,"percentChange":-0.0289,"bid":0.00128888,"ask":0.001372999},"ETH_0x6888":{"tokenAddr":"0x6888a16ea9792c15a4dcf2f6c623d055c8ede792","quoteVolume":283497.337,"baseVolume":12.67,"last":0.000049431,"percentChange":-0.0114,"bid":0.000046,"ask":0.000054},"ETH_0xf3db":{"tokenAddr":"0xf3db7560e820834658b590c96234c333cd3d5e5e","quoteVolume":42498.353,"baseVolume":11.952,"last":0.0003,"percentChange":2,"bid":0.00018,"ask":0.0003},"ETH_WTC":{"tokenAddr":"0xb7cb1c96db6b22b0d3d9536e0108d062bd488f74","quoteVolume":413.998,"baseVolume":11.677,"last":0.03033376,"percentChange":0.2745,"bid":0.028001,"ask":0.030195524},"ETH_LEND":{"tokenAddr":"0x80fb784b7ed66730e8b1dbd9820afd29931aab03","quoteVolume":108327.73,"baseVolume":11.47,"last":0.000110546,"percentChange":0.1515,"bid":0.000098131,"ask":0.000110372},"ETH_ASTRO":{"tokenAddr":"0x7b22938ca841aa392c93dbb7f4c42178e3d65e88","quoteVolume":3394.608,"baseVolume":11.282,"last":0.003102,"percentChange":-0.2147,"bid":0.00384,"ask":0.00384},"ETH_0xae73":{"tokenAddr":"0xae73b38d1c9a8b274127ec30160a4927c4d71824","quoteVolume":44625.612,"baseVolume":10.885,"last":0.000245,"percentChange":0.0652,"bid":0.000245,"ask":0.00027},"ETH_TAAS":{"tokenAddr":"0xe7775a6e9bcf904eb39da2b68c5efb4f9360e08c","quoteVolume":1693.777,"baseVolume":10.832,"last":0.00698256,"percentChange":0.0469,"bid":0.0065555,"ask":0.00667},"ETH_BAT":{"tokenAddr":"0x0d8775f648430679a709e98d2b0cb6250d2887ef","quoteVolume":21927.066,"baseVolume":10.469,"last":0.0006,"percentChange":0.4632,"bid":0.00049,"ask":0.0006},"ETH_BBD":{"tokenAddr":"0x5ca71ea65acb6293e71e62c41b720698b0aa611c","quoteVolume":12610.458,"baseVolume":10.088,"last":0.0008,"percentChange":-0.0588,"bid":0.000012001,"ask":0.001099},"ETH_0x41db":{"tokenAddr":"0x41dbecc1cdc5517c6f76f6a6e836adbee2754de3","quoteVolume":19393.409,"baseVolume":9.959,"last":0.00056969,"percentChange":0.2121,"bid":0.0004855,"ask":0.000554888},"ETH_SER":{"tokenAddr":"0xb561fef0d624c0826ff869946f6076b7c4f2ba42","quoteVolume":27510.61,"baseVolume":9.798,"last":0.0004,"percentChange":0.1765,"bid":0.000332,"ask":0.00041},"ETH_DAY":{"tokenAddr":"0xe814aee960a85208c3db542c53e7d4a6c8d5f60f","quoteVolume":1125.164,"baseVolume":9.328,"last":0.0065,"percentChange":0.0833,"bid":0.0065,"ask":0.0091},"ETH_REQ":{"tokenAddr":"0x8f8221afbb33998d8584a2b05749ba73c37a938a","quoteVolume":27736.415,"baseVolume":9.044,"last":0.000370586,"percentChange":0.3155,"bid":0.000357482,"ask":0.000370069},"ETH_CRED":{"tokenAddr":"0x672a1ad4f667fb18a333af13667aa0af1f5b5bdd","quoteVolume":11854.545,"baseVolume":8.909,"last":0.0008055,"percentChange":0.3888,"bid":0.00078,"ask":0.0008055},"ETH_ELIX":{"tokenAddr":"0xc8c6a31a4a806d3710a7b38b7b296d2fabccdba8","quoteVolume":15782.683,"baseVolume":8.297,"last":0.0006999,"percentChange":0.2772,"bid":0.00056,"ask":0.0006998},"ETH_EBTC":{"tokenAddr":"0xeb7c20027172e5d143fb030d50f91cece2d1485d","quoteVolume":7593.564,"baseVolume":8.286,"last":0.00124825,"percentChange":0.1694,"bid":0.0011101,"ask":0.001239},"ETH_0xc148":{"tokenAddr":"0xc14830e53aa344e8c14603a91229a0b925b0b262","quoteVolume":8656.593,"baseVolume":7.869,"last":0.0001,"percentChange":-0.9444,"bid":0.0005,"ask":0.00175},"ETH_0x2c82":{"tokenAddr":"0x2c82c73d5b34aa015989462b2948cd616a37641f","quoteVolume":14331.78,"baseVolume":7.759,"last":0.000548969,"percentChange":-0.0031,"bid":0.0004622,"ask":0.000548769},"ETH_TKN":{"tokenAddr":"0xaaaf91d9b90df800df4f55c205fd6989c977e73a","quoteVolume":4916.14,"baseVolume":7.426,"last":0.001522222,"percentChange":-0.5994,"bid":0.001522223,"ask":0.0027},"ETH_0x3839":{"tokenAddr":"0x3839d8ba312751aa0248fed6a8bacb84308e20ed","quoteVolume":35103.948,"baseVolume":7.402,"last":0.000249969,"percentChange":1.1718,"bid":0.0002,"ask":0.000249969},"ETH_ATM":{"tokenAddr":"0x9b11efcaaa1890f6ee52c6bb7cf8153ac5d74139","quoteVolume":658706.476,"baseVolume":7.355,"last":0.000011111,"percentChange":-0.2831,"bid":0.000011111,"ask":0.00001395},"ETH_KEY":{"tokenAddr":"0x4cd988afbad37289baaf53c13e98e2bd46aaea8c","quoteVolume":1459610.539,"baseVolume":7.255,"last":0.00000497,"percentChange":-0.1717,"bid":0.000005,"ask":0.00000589},"ETH_0x2a09":{"tokenAddr":"0x2a093bcf0c98ef744bb6f69d74f2f85605324290","quoteVolume":333319.594,"baseVolume":7.176,"last":0.000021447,"percentChange":0.0022,"bid":0.0000191,"ask":0.000021},"ETH_0x70a7":{"tokenAddr":"0x70a72833d6bf7f508c8224ce59ea1ef3d0ea3a38","quoteVolume":19316.033,"baseVolume":6.997,"last":0.0003525,"percentChange":0.175,"bid":0.0003525,"ask":0.000455},"ETH_0x5b07":{"tokenAddr":"0x5b0751713b2527d7f002c0c4e2a37e1219610a6b","quoteVolume":57781.19,"baseVolume":6.87,"last":0.00013698,"percentChange":0.3836,"bid":0.00010176,"ask":0.00013698},"ETH_FDX":{"tokenAddr":"0x52a7cb918c11a16958be40cba7e31e32a499a465","quoteVolume":31674.668,"baseVolume":6.832,"last":0.0002498,"percentChange":-0.0008,"bid":0.000201,"ask":0.0002495},"ETH_0x5fc6":{"tokenAddr":"0x5fc6de61258e63706543bb57619b99cc0e5a5a1f","quoteVolume":1950,"baseVolume":6.785,"last":0.003545988,"percentChange":0.3478,"bid":0.002911,"ask":0.003545988},"ETH_SWM":{"tokenAddr":"0x9e88613418cf03dca54d6a2cf6ad934a78c7a17a","quoteVolume":2861.571,"baseVolume":6.686,"last":0.0026,"percentChange":0.2381,"bid":0.00149,"ask":0.002},"ETH_RVT":{"tokenAddr":"0x3d1ba9be9f66b8ee101911bc36d3fb562eac2244","quoteVolume":9858.901,"baseVolume":6.583,"last":0.000878999,"percentChange":-0.0011,"bid":0.0006,"ask":0.000878699},"ETH_SNOV":{"tokenAddr":"0xbdc5bac39dbe132b1e030e898ae3830017d7d969","quoteVolume":126194.734,"baseVolume":6.537,"last":0.000064797,"percentChange":0.2959,"bid":0.000049224,"ask":0.000064797},"ETH_DOVU":{"tokenAddr":"0xac3211a5025414af2866ff09c23fc18bc97e79b1","quoteVolume":28545.271,"baseVolume":6.392,"last":0.000210603,"percentChange":-0.4584,"bid":0.00021,"ask":0.0002837},"ETH_XNN":{"tokenAddr":"0xab95e915c123fded5bdfb6325e35ef5515f1ea69","quoteVolume":116557.477,"baseVolume":6.223,"last":0.000068188,"percentChange":-0.2279,"bid":0.000055542,"ask":0.00007},"ETH_SCT":{"tokenAddr":"0x63b992e6246d88f07fc35a056d2c365e6d441a3d","quoteVolume":13492.459,"baseVolume":6.188,"last":0.000251,"percentChange":-0.3189,"bid":0.000268,"ask":0.00052},"ETH_0xb157":{"tokenAddr":"0xb15786fb80959a722deaf19eb360fcf7f3062687","quoteVolume":14458,"baseVolume":6.126,"last":0.0005115,"percentChange":2.41,"bid":0.0000232,"ask":0.000645},"ETH_RPL":{"tokenAddr":"0xb4efd85c19999d84251304bda99e90b92300bd93","quoteVolume":3142.782,"baseVolume":5.971,"last":0.0019,"percentChange":-0.05,"bid":0.001429,"ask":0.00254},"ETH_BMC":{"tokenAddr":"0xdf6ef343350780bf8c3410bf062e0c015b1dd671","quoteVolume":6146.93,"baseVolume":5.87,"last":0.0008631,"percentChange":-0.1454,"bid":0.00087,"ask":0.001099},"ETH_0x68d5":{"tokenAddr":"0x68d57c9a1c35f63e2c83ee8e49a64e9d70528d25","quoteVolume":3701.144,"baseVolume":5.855,"last":0.002189,"percentChange":-0.005,"bid":0.00131,"ask":0.002189},"ETH_POE":{"tokenAddr":"0x0e0989b1f9b8a38983c2ba8053269ca62ec9b195","quoteVolume":74705.025,"baseVolume":5.598,"last":0.000071135,"percentChange":0.0222,"bid":0.000071265,"ask":0.000099999},"ETH_0x6871":{"tokenAddr":"0x687174f8c49ceb7729d925c3a961507ea4ac7b28","quoteVolume":147567.77,"baseVolume":5.573,"last":0.00004,"percentChange":0.2903,"bid":0.000028,"ask":0.00004},"ETH_SUB":{"tokenAddr":"0x12480e24eb5bec1a9d4369cab6a80cad3c0a377a","quoteVolume":8333.9,"baseVolume":5.553,"last":0.000771251,"percentChange":0.2582,"bid":0.00085,"ask":0.0007722},"ETH_DATA":{"tokenAddr":"0x0cf0ee63788a0849fe5297f3407f701e122cc023","quoteVolume":31356.787,"baseVolume":5.52,"last":0.00013496,"percentChange":-0.0289,"bid":0.00012,"ask":0.000132999},"ETH_AIR":{"tokenAddr":"0x27dce1ec4d3f72c3e457cc50354f1f975ddef488","quoteVolume":272267.402,"baseVolume":5.212,"last":0.000020988,"percentChange":0.1532,"bid":0.000020988,"ask":0.000020988},"ETH_DGPT":{"tokenAddr":"0xf6cfe53d6febaeea051f400ff5fc14f0cbbdaca1","quoteVolume":1183.444,"baseVolume":5.176,"last":0.004,"percentChange":-0.3333,"bid":0.0040001,"ask":0.004},"ETH_KNC":{"tokenAddr":"0xdd974d5c2e2928dea5f71b9825b8b646686bd200","quoteVolume":1052.166,"baseVolume":4.989,"last":0.004139625,"percentChange":0.1777,"bid":0.003809766,"ask":0.004069799},"ETH_HVN":{"tokenAddr":"0xc0eb85285d83217cd7c891702bcbc0fc401e2d9d","quoteVolume":43657.403,"baseVolume":4.946,"last":0.000149,"percentChange":0.5521,"bid":0.0001032,"ask":0.000148},"ETH_ART":{"tokenAddr":"0xfec0cf7fe078a500abf15f1284958f22049c2c7e","quoteVolume":5010.865,"baseVolume":4.932,"last":0.00095,"percentChange":0.2667,"bid":0.00095,"ask":0.0009},"ETH_0x64cd":{"tokenAddr":"0x64cdf819d3e75ac8ec217b3496d7ce167be42e80","quoteVolume":20409.057,"baseVolume":4.778,"last":0.000244925,"percentChange":0.0205,"bid":0.0002,"ask":0.0002399},"ETH_0x6b83":{"tokenAddr":"0x6b834f43b7f5a1644e0c81caa0246969da23105e","quoteVolume":154439.542,"baseVolume":4.619,"last":0.00003495,"percentChange":-0.0292,"bid":0.00003,"ask":0.00003495},"ETH_LA":{"tokenAddr":"0xe50365f5d679cb98a1dd62d6f6e58e59321bcddf","quoteVolume":14661.637,"baseVolume":4.613,"last":0.000515,"percentChange":0.2558,"bid":0.000401,"ask":0.00044988},"ETH_0x75c5":{"tokenAddr":"0x75c5ee419331b6150879530d06f9ba054755f1da","quoteVolume":10949.14,"baseVolume":4.6,"last":0.0005,"percentChange":0.3587,"bid":0.00042,"ask":0.00049898},"ETH_DNT":{"tokenAddr":"0x0abdace70d3790235af448c88547603b945604ea","quoteVolume":42058.328,"baseVolume":4.564,"last":0.000107978,"percentChange":0.1996,"bid":0.000101555,"ask":0.000110066},"ETH_ONG":{"tokenAddr":"0xd341d1680eeee3255b8c4c75bcce7eb57f144dae","quoteVolume":8001.998,"baseVolume":4.519,"last":0.000615,"percentChange":-0.2545,"bid":0.000615,"ask":0.000758},"ETH_LOC":{"tokenAddr":"0x5e3346444010135322268a4630d2ed5f8d09446c","quoteVolume":2296.217,"baseVolume":4.516,"last":0.0025,"percentChange":0.25,"bid":0.001351111,"ask":0.00245},"ETH_0x24dd":{"tokenAddr":"0x24ddff6d8b8a42d835af3b440de91f3386554aa4","quoteVolume":12350.43,"baseVolume":4.388,"last":0.00034006,"percentChange":-0.0284,"bid":0.00034006,"ask":0.0005},"ETH_FLP":{"tokenAddr":"0x3a1bda28adb5b0a812a7cf10a1950c920f79bcd3","quoteVolume":16575.38,"baseVolume":4.238,"last":0.000235,"percentChange":0.175,"bid":0.000235,"ask":0.00027},"ETH_DGD":{"tokenAddr":"0xe0b7927c4af23765cb51314a0e0521a9645f0e2a","quoteVolume":12.455,"baseVolume":3.93,"last":0.29,"percentChange":288.9971,"bid":0.258327123,"ask":0.296803138},"ETH_0x81c9":{"tokenAddr":"0x81c9151de0c8bafcd325a57e3db5a5df1cebf79c","quoteVolume":62236.104,"baseVolume":3.922,"last":0.000079,"percentChange":0.4332,"bid":0.00006,"ask":0.000067},"ETH_ZAP":{"tokenAddr":"0x6781a0f84c7e9e846dcb84a9a5bd49333067b104","quoteVolume":12296.067,"baseVolume":3.834,"last":0.00031,"percentChange":0.0003,"bid":0.00031,"ask":0.00031},"ETH_MOD":{"tokenAddr":"0x957c30ab0426e0c93cd8241e2c60392d08c6ac8e","quoteVolume":1048,"baseVolume":3.828,"last":0.003792917,"percentChange":0.0837,"bid":0.00330001,"ask":0.0037},"ETH_BQX":{"tokenAddr":"0x5af2be193a6abca9c8817001f45744777db30756","quoteVolume":803.231,"baseVolume":3.684,"last":0.0057,"percentChange":0.4578,"bid":0.004288359,"ask":0.005009377},"ETH_EPY":{"tokenAddr":"0x50ee674689d75c0f88e8f83cfe8c4b69e8fd590d","quoteVolume":11329.016,"baseVolume":3.597,"last":0.000333999,"percentChange":-0.1436,"bid":0.00013,"ask":0.000333999},"ETH_OPT":{"tokenAddr":"0x4355fc160f74328f9b383df2ec589bb3dfd82ba0","quoteVolume":90583.561,"baseVolume":3.56,"last":0.000042,"percentChange":0.1895,"bid":0.000038,"ask":0.000041999},"ETH_ARCT":{"tokenAddr":"0x1245ef80f4d9e02ed9425375e8f649b9221b31d8","quoteVolume":166570.304,"baseVolume":3.454,"last":0.00002,"percentChange":-0.0476,"bid":0.00001852,"ask":0.00002044},"ETH_TCASH":{"tokenAddr":"0xb8742486c723793cf5162bb5d3425ed9cd73d049","quoteVolume":10584.787,"baseVolume":3.415,"last":0.0003,"percentChange":0.2048,"bid":0.00016,"ask":0.000285},"ETH_ENG":{"tokenAddr":"0xf0ee6b27b759c9893ce4f094b49ad28fd15a23e4","quoteVolume":1127.873,"baseVolume":3.383,"last":0.003,"percentChange":0.1676,"bid":0.003,"ask":0.003043482},"ETH_CVC":{"tokenAddr":"0x41e5560054824ea6b0732e656e3ad64e20e94e45","quoteVolume":8196.706,"baseVolume":3.376,"last":0.000463874,"percentChange":0.0788,"bid":0.000411601,"ask":0.00046202},"ETH_IXT":{"tokenAddr":"0xfca47962d45adfdfd1ab2d972315db4ce7ccf094","quoteVolume":2590.309,"baseVolume":3.37,"last":0.0013,"percentChange":-0.0714,"
[...]
