---
http_interactions:
- request:
    method: get
    uri: https://api.etherdelta.com/returnTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"djj/NB3uBNd4yW8jeOgxQg=="
    body:
      encoding: UTF-8
      string: '{"ETH_LINK":{"tokenAddr":"0x514910771af9ca656af840dff83e8264ecf986ca","quoteVolume":1684933.807,"baseVolume":2123.212,"last":0.001053101,"percentChange":-0.2424,"bid":0.00124,"ask":0.001089},"ETH_SALT":{"tokenAddr":"0x4156d3342d5c385a87d264f90653733592000581","quoteVolume":68590.264,"baseVolume":1549.736,"last":0.018970218,"percentChange":-0.1752,"bid":0.0205,"ask":0.01948},"ETH_SUB":{"tokenAddr":"0x12480e24eb5bec1a9d4369cab6a80cad3c0a377a","quoteVolume":3983272.83,"baseVolume":1136.617,"last":0.000340985,"percentChange":0.5499,"bid":0.00029,"ask":0.00029},"ETH_CTR":{"tokenAddr":"0x96a65609a7b84e8842732deb08f56c3e21ac6f8a","quoteVolume":234665.999,"baseVolume":972.522,"last":0.003952793,"percentChange":-0.0638,"bid":0.003860001,"ask":0.00396},"ETH_MDA":{"tokenAddr":"0x51db5ad35c671a87207d88fc11d593ac0c8415bd","quoteVolume":95755.506,"baseVolume":874.794,"last":0.009707991,"percentChange":-0.1175,"bid":0.00998,"ask":0.0096499},"ETH_MTH":{"tokenAddr":"0xaf4dce16da2877f8c9e00544c93b62ac40631f16","quoteVolume":1485761.742,"baseVolume":790.093,"last":0.000473684,"percentChange":-0.1616,"bid":0.000486,"ask":0.000499},"ETH_VERI":{"tokenAddr":"0x8f3470a7388c05ee4e7af3d01d8c722b0ff52374","quoteVolume":3130.926,"baseVolume":733.605,"last":0.229371365,"percentChange":-0.1178,"bid":0.2326,"ask":0.22025},"ETH_KIN":{"tokenAddr":"0x818fc6c2ec5986bc6e2cbf00939d90556ab12ce5","quoteVolume":2270192976.121,"baseVolume":723.203,"last":3.18e-7,"percentChange":-0.0245,"bid":3.1e-7,"ask":3.24e-7},"ETH_TRX":{"tokenAddr":"0xf230b790e05390fc8295f4d3f60332c93bed42e2","quoteVolume":81611515.592,"baseVolume":673.509,"last":0.000009864,"percentChange":0.6328,"bid":0.0000095,"ask":0.000009888},"ETH_KNC":{"tokenAddr":"0xdd974d5c2e2928dea5f71b9825b8b646686bd200","quoteVolume":80318.34,"baseVolume":521.226,"last":0.0061549,"percentChange":-0.0949,"bid":0.0062,"ask":0.0062},"ETH_AVT":{"tokenAddr":"0x0d88ed6e74bbfd96b831231638b66c05571e824f","quoteVolume":50830.001,"baseVolume":454.563,"last":0.009116584,"percentChange":0.1809,"bid":0.009011111,"ask":0.009269899},"ETH_WTC":{"tokenAddr":"0xb7cb1c96db6b22b0d3d9536e0108d062bd488f74","quoteVolume":15685.374,"baseVolume":452.851,"last":0.027944229,"percentChange":-0.002,"bid":0.0265,"ask":0.028299},"ETH_PPT":{"tokenAddr":"0xd4fa1460f537bb9085d22c7bccb5dd450ef28e3a","quoteVolume":41083.564,"baseVolume":335.738,"last":0.008316941,"percentChange":0.018,"bid":0.00833887,"ask":0.008329},"ETH_COB":{"tokenAddr":"0xb2f7eb1f2c37645be61d73953035360e768d81e6","quoteVolume":2053759.522,"baseVolume":314.762,"last":0.000163994,"percentChange":-0.0885,"bid":0.0001612,"ask":0.0001629},"ETH_OMG":{"tokenAddr":"0xd26114cd6ee289accf82350c8d8487fedb8a0c07","quoteVolume":8453.592,"baseVolume":265.051,"last":0.031863781,"percentChange":-0.012,"bid":0.0307,"ask":0.0316},"ETH_ELIX":{"tokenAddr":"0xc8c6a31a4a806d3710a7b38b7b296d2fabccdba8","quoteVolume":251509.413,"baseVolume":231.104,"last":0.001207384,"percentChange":1.8079,"bid":0.001399,"ask":0.00119},"ETH_VIBE":{"tokenAddr":"0xe8ff5c9c75deb346acac493c463c8950be03dfba","quoteVolume":1283405.591,"baseVolume":201.516,"last":0.000154424,"percentChange":-0.0916,"bid":0.0001525,"ask":0.000164},"ETH_LRC":{"tokenAddr":"0xef68e7c694f40c8202821edf525de3782458639f","quoteVolume":346975.982,"baseVolume":192.109,"last":0.00052151,"percentChange":-0.1264,"bid":0.00053,"ask":0.000559},"ETH_RHOC":{"tokenAddr":"0x168296bb09e24a88805cb9c33356536b980d3fc5","quoteVolume":230581.764,"baseVolume":153.805,"last":0.000655498,"percentChange":-0.2378,"bid":0.000600009,"ask":0.000655498},"ETH_MANA":{"tokenAddr":"0x0f5d2fb29fb7d3cfee444a200298f468908cc942","quoteVolume":3060272.178,"baseVolume":148.416,"last":0.000049009,"percentChange":0.0631,"bid":0.000045514,"ask":0.000049},"ETH_XRL":{"tokenAddr":"0xb24754be79281553dc1adc160ddf5cd9b74361a4","quoteVolume":101596.214,"baseVolume":122.194,"last":0.00111034,"percentChange":-0.0747,"bid":0.00112,"ask":0.001110021},"ETH_POE":{"tokenAddr":"0x0e0989b1f9b8a38983c2ba8053269ca62ec9b195","quoteVolume":3995984.717,"baseVolume":121.499,"last":0.000030625,"percentChange":-0.043,"bid":0.0000315,"ask":0.000031988},"ETH_PIX":{"tokenAddr":"0x8effd494eb698cc399af6231fccd39e08fd20b15","quoteVolume":335478,"baseVolume":116.064,"last":0.000331746,"percentChange":-0.0707,"bid":0.00034,"ask":0.000352},"ETH_EBTC":{"tokenAddr":"0x2fd41f516fac94ed08e156f489f56ca3a80b04d0","quoteVolume":1134368.714,"baseVolume":102.867,"last":0.000103752,"percentChange":0.2969,"bid":0.0001135,"ask":0.000118},"ETH_BNB":{"tokenAddr":"0xb8c77482e45f1f44de1745f52c74426c631bdd52","quoteVolume":16144.354,"baseVolume":102.062,"last":0.00655,"percentChange":0.0918,"bid":0.0064,"ask":0.00655},"ETH_VEN":{"tokenAddr":"0xd850942ef8811f2a866692a623011bde52a462c1","quoteVolume":99516.425,"baseVolume":100.021,"last":0.0011,"percentChange":0.3944,"bid":0.00101,"ask":0.00125},"ETH_PLR":{"tokenAddr":"0xe3818504c1b32bf1557b16c238b2e01fd3149c17","quoteVolume":473579.153,"baseVolume":98.216,"last":0.000229999,"percentChange":0.1488,"bid":0.000200001,"ask":0.000218},"ETH_COSS":{"tokenAddr":"0x65292eeadf1426cd2df1c4793a3d7519f253913b","quoteVolume":424810.786,"baseVolume":88.646,"last":0.00024785,"percentChange":-0.0508,"bid":0.00023,"ask":0.000236},"ETH_AE":{"tokenAddr":"0x5ca9a71b1d01849c0a95490cc00559717fcf0d1d","quoteVolume":70490.17,"baseVolume":84.641,"last":0.001262941,"percentChange":0.0785,"bid":0.001166,"ask":0.00127},"ETH_ADX":{"tokenAddr":"0x4470bb87d77b963a013db939be332f927f2b992e","quoteVolume":19851.048,"baseVolume":81.481,"last":0.0044,"percentChange":0.0113,"bid":0.0044,"ask":0.00458112},"ETH_ZRX":{"tokenAddr":"0xe41d2489571d322189246dafa5ebde1f4699f498","quoteVolume":116919.178,"baseVolume":79.186,"last":0.00067419,"percentChange":-0.0765,"bid":0.0006741,"ask":0.00068129},"ETH_ATM":{"tokenAddr":"0x9b11efcaaa1890f6ee52c6bb7cf8153ac5d74139","quoteVolume":826683.082,"baseVolume":72.528,"last":0.0000901,"percentChange":0.0022,"bid":0.0000853,"ask":0.00009009},"ETH_EOS":{"tokenAddr":"0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0","quoteVolume":31051.506,"baseVolume":71.364,"last":0.002196536,"percentChange":-0.0828,"bid":0.0022,"ask":0.00222},"ETH_CAT":{"tokenAddr":"0x56ba2ee7890461f463f7be02aac3099f6d5811a8","quoteVolume":23693.706,"baseVolume":70.439,"last":0.00293,"percentChange":-0.0869,"bid":0.002940003,"ask":0.003097998},"ETH_DLT":{"tokenAddr":"0x07e3c70653548b04f0a75970c1f81b4cbbfb606f","quoteVolume":87758.587,"baseVolume":57.488,"last":0.0007,"percentChange":0.2027,"bid":0.00066,"ask":0.0009},"ETH_WTT":{"tokenAddr":"0x84119cb33e8f590d75c2d6ea4e6b0741a7494eda","quoteVolume":8805,"baseVolume":53.992,"last":0.0066,"percentChange":-0.0833,"bid":0.005,"ask":0.0066},"ETH_OAX":{"tokenAddr":"0x701c244b988a513c945973defa05de933b23fe1d","quoteVolume":21386.41,"baseVolume":53.921,"last":0.0021,"percentChange":-0.2759,"bid":0.0024,"ask":0.00289},"ETH_IND":{"tokenAddr":"0xf8e386eda857484f5a12e4b5daa9984e06e73705","quoteVolume":131930.635,"baseVolume":52.71,"last":0.000405,"percentChange":0.2366,"bid":0.00035,"ask":0.000405},"ETH_RVT":{"tokenAddr":"0x3d1ba9be9f66b8ee101911bc36d3fb562eac2244","quoteVolume":26654.077,"baseVolume":50.514,"last":0.001980893,"percentChange":0.0593,"bid":0.0018,"ask":0.00194},"ETH_DICE":{"tokenAddr":"0x2e071d2966aa7d8decb1005885ba1977d6038a65","quoteVolume":4440.535,"baseVolume":50.485,"last":0.011502165,"percentChange":-0.0415,"bid":0.0105,"ask":0.0117},"ETH_CREDO":{"tokenAddr":"0x4e0603e2a27a30480e5e3a4fe548e29ef12f64be","quoteVolume":471364.014,"baseVolume":50.035,"last":0.00008901,"percentChange":-0.011,"bid":0.000089011,"ask":0.00014},"ETH_TNT":{"tokenAddr":"0x08f5a9235b08173b7569f83645d2c7fb55e8ccd8","quoteVolume":182901.047,"baseVolume":48.86,"last":0.000246,"percentChange":-0.1091,"bid":0.000250001,"ask":0.000261},"ETH_TIX":{"tokenAddr":"0xea1f346faf023f974eb5adaf088bbcdf02d761f4","quoteVolume":81152.325,"baseVolume":48.81,"last":0.0006,"percentChange":0.1538,"bid":0.0006,"ask":0.00066777},"ETH_PAY":{"tokenAddr":"0xb97048628db6b661d4c2aa833e95dbe1a905b280","quoteVolume":5703.408,"baseVolume":47.032,"last":0.007287051,"percentChange":-0.1437,"bid":0.0074,"ask":0.00853},"ETH_MBRS":{"tokenAddr":"0x386467f1f3ddbe832448650418311a479eecfc57","quoteVolume":363560,"baseVolume":46.513,"last":0.0001625,"percentChange":-0.35,"bid":0.000153,"ask":0.000224888},"ETH_CDT":{"tokenAddr":"0x177d39ac676ed1c67a2b268ad7f1e58826e5b0af","quoteVolume":220808.236,"baseVolume":39.177,"last":0.000181998,"percentChange":-0.0667,"bid":0.00017,"ask":0.00017},"ETH_DNT":{"tokenAddr":"0x0abdace70d3790235af448c88547603b945604ea","quoteVolume":216662.079,"baseVolume":38.063,"last":0.00019,"percentChange":-0.2803,"bid":0.000185,"ask":0.0001999},"ETH_BMC":{"tokenAddr":"0xdf6ef343350780bf8c3410bf062e0c015b1dd671","quoteVolume":15367.495,"baseVolume":37.044,"last":0.00249,"percentChange":-0.008,"bid":0.00245,"ask":0.002485},"ETH_SONM":{"tokenAddr":"0x983f6d60db79ea8ca4eb9968c6aff8cfa04b3c63","quoteVolume":90453.441,"baseVolume":35.619,"last":0.000500437,"percentChange":0.486,"bid":0.000431101,"ask":0.000509999},"ETH_CVC":{"tokenAddr":"0x41e5560054824ea6b0732e656e3ad64e20e94e45","quoteVolume":25128.954,"baseVolume":33.258,"last":0.0014,"percentChange":-0.054,"bid":0.00131,"ask":0.001399999},"ETH_PRO":{"tokenAddr":"0x226bb599a12c826476e3a771454697ea52e9e220","quoteVolume":14776.361,"baseVolume":30.369,"last":0.002184,"percentChange":0.0395,"bid":0.002185,"ask":0.0021},"ETH_IFT":{"tokenAddr":"0x7654915a1b82d6d2d0afc37c52af556ea8983c7e","quoteVolume":94363.426,"baseVolume":27.644,"last":0.00024,"percentChange":-0.2627,"bid":0.000235001,"ask":0.00031},"ETH_SCL":{"tokenAddr":"0xd7631787b4dcc87b1254cfd1e5ce48e96823dee8","quoteVolume":25357.028,"baseVolume":26.891,"last":0.00111,"percentChange":0.023,"bid":0.00111,"ask":0.0012399},"ETH_BQX":{"tokenAddr":"0x5af2be193a6abca9c8817001f45744777db30756","quoteVolume":11191.422,"baseVolume":25.692,"last":0.00253,"percentChange":0.1828,"bid":0.00265,"ask":0.00253},"ETH_VOISE":{"tokenAddr":"0x83eea00d838f92dec4d1475697b9f4d3537b56e3","quoteVolume":535232.434,"baseVolume":21.774,"last":0.00004,"percentChange":1,"bid":0.00004,"ask":0.00006},"ETH_TFL":{"tokenAddr":"0xa7f976c360ebbed4465c2855684d1aae5271efa9","quoteVolume":7556.224,"baseVolume":19.917,"last":0.001922,"percentChange":0.0175,"bid":0.001922001,"ask":0.00269},"ETH_IXT":{"tokenAddr":"0xfca47962d45adfdfd1ab2d972315db4ce7ccf094","quoteVolume":20046.986,"baseVolume":19.621,"last":0.00098,"percentChange":0.0426,"bid":0.000926,"ask":0.000985},"ETH_BTM":{"tokenAddr":"0xcb97e65f07da24d46bcdd078ebebd7c6e6e3d750","quoteVolume":54784.961,"baseVolume":19.277,"last":0.00035,"percentChange":-0.1003,"bid":0.00035,"ask":0.00035},"ETH_DAY":{"tokenAddr":"0xe814aee960a85208c3db542c53e7d4a6c8d5f60f","quoteVolume":541,"baseVolume":18.717,"last":0.035,"percentChange":-0.1026,"bid":0.034,"ask":0.034},"ETH_WILD":{"tokenAddr":"0xd3c00772b24d997a812249ca637a921e81357701","quoteVolume":48448.448,"baseVolume":16.733,"last":0.000364998,"percentChange":0.0142,"bid":0.00033,"ask":0.000414},"ETH_STX":{"tokenAddr":"0x006bea43baa3f7a6f765f14f10a1a1b08334ef45","quoteVolume":6091.3,"baseVolume":15.315,"last":0.00254,"percentChange":0.216,"bid":0.00257,"ask":0.0028},"ETH_CSNO":{"tokenAddr":"0x29d75277ac7f0335b2165d0895e8725cbf658d73","quoteVolume":26549.13,"baseVolume":15.105,"last":0.0006449,"percentChange":0.0931,"bid":0.000510001,"ask":0.0006347},"ETH_TKR":{"tokenAddr":"0xb45a50545beeab73f38f31e5973768c421805e5e","quoteVolume":73333.454,"baseVolume":13.997,"last":0.0002125,"percentChange":0,"bid":0.000181,"ask":0.0005},"ETH_EBET":{"tokenAddr":"0x7d5edcd23daa3fb94317d32ae253ee1af08ba14d","quoteVolume":38861.2,"baseVolume":13.979,"last":0.00045,"percentChange":0.5,"bid":0.000366,"ask":0.00065},"ETH_BET":{"tokenAddr":"0x8aa33a7899fcc8ea5fbe6a608a109c3893a1b8b2","quoteVolume":63199.538,"baseVolume":13.153,"last":0.000209,"percentChange":0.2293,"bid":0.000182,"ask":0.00021},"ETH_MTP":{"tokenAddr":"0xdab5dfa0966c3435da991b39d205c3ba1c64fe31","quoteVolume":546096533.1,"baseVolume":10.347,"last":1e-8,"percentChange":0,"bid":1.6e-8,"ask":4e-7},"ETH_FC":{"tokenAddr":"0xe6923e9b56db1eed1c9f430ea761da7565e260fe","quoteVolume":85246.36,"baseVolume":9.607,"last":0.000075,"percentChange":-0.4997,"bid":0.000053344,"ask":0.000132},"ETH_FUCK":{"tokenAddr":"0xab16e0d25c06cb376259cc18c1de4aca57605589","quoteVolume":146922.145,"baseVolume":9.174,"last":0.0000749,"percentChange":0.498,"bid":0.000067,"ask":0.0000749},"ETH_FUN":{"tokenAddr":"0x419d0d8bdd9af5e606ae2232ed285aff190e711b","quoteVolume":79686.569,"baseVolume":8.465,"last":0.000095,"percentChange":-0.1364,"bid":0.000095,"ask":0.000108},"ETH_OPT":{"tokenAddr":"0x4355fc160f74328f9b383df2ec589bb3dfd82ba0","quoteVolume":69029.486,"baseVolume":7.101,"last":0.0001022,"percentChange":-0.1114,"bid":0.0001022,"ask":0.0001022},"ETH_HBT":{"tokenAddr":"0xdd6c68bb32462e01705011a4e2ad1a60740f217f","quoteVolume":11651.284,"baseVolume":6.177,"last":0.00048,"percentChange":-0.04,"bid":0.00042,"ask":0.00062},"ETH_LNK":{"tokenAddr":"0xe2e6d4be086c6938b53b22144855eef674281639","quoteVolume":65.663,"baseVolume":6.063,"last":0.0835,"percentChange":-0.3924,"bid":0.0835,"ask":0.12},"ETH_MCI":{"tokenAddr":"0x138a8752093f4f9a79aaedf48d4b9248fab93c9c","quoteVolume":13367.863,"baseVolume":5.756,"last":0.000435,"percentChange":-0.0333,"bid":0.00044,"ask":0.000435},"ETH_CCT":{"tokenAddr":"0x336f646f87d9f6bc6ed42dd46e8b3fd9dbd15c22","quoteVolume":589.107,"baseVolume":5.131,"last":0.008,"percentChange":-0.0909,"bid":0.008,"ask":0.0095},"ETH_0x08d32b0da63e2c3bcf8019c9c5d849d7a9d791e6":{"tokenAddr":"0x08d32b0da63e2c3bcf8019c9c5d849d7a9d791e6","quoteVolume":11499490,"baseVolume":4.89,"last":4.4e-7,"percentChange":-0.0222,"bid":0,"ask":0},"ETH_MCO":{"tokenAddr":"0xb63b606ac810a52cca15e44bb630fd42d8d1d83d","quoteVolume":200.322,"baseVolume":4.501,"last":0.02777777,"percentChange":0.0288,"bid":0.02777777,"ask":0.029},"ETH_ICN":{"tokenAddr":"0x888666ca69e0f178ded6d75b5726cee99a87d698","quoteVolume":1254.217,"baseVolume":4.457,"last":0.0045,"percentChange":-0.0946,"bid":0.00488899,"ask":0.004901},"ETH_DENT":{"tokenAddr":"0x3597bfd533a99c9aa083587b074434e61eb0a258","quoteVolume":3147926.548,"baseVolume":3.918,"last":0.000001192,"percentChange":-0.076,"bid":0.000001192,"ask":0.000001288},"ETH_ADST":{"tokenAddr":"0x422866a8f0b032c5cf1dfbdef31a20f4509562b0","quoteVolume":7800,"baseVolume":3.678,"last":0.000441012,"percentChange":-0.0972,"bid":0.000441012,"ask":0.0004874},"ETH_BAT":{"tokenAddr":"0x0d8775f648430679a709e98d2b0cb6250d2887ef","quoteVolume":4300.637,"baseVolume":3.666,"last":0.0008449,"percentChange":-0.0048,"bid":0.000845,"ask":0.0008449},"ETH_ICE":{"tokenAddr":"0x5a84969bb663fb64f6d015dcf9f622aedc796750","quoteVolume":2621.827,"baseVolume":3.432,"last":0.00076,"percentChange":-0.0732,"bid":0.00076,"ask":0.00076},"ETH_BLX":{"tokenAddr":"0xe5a7c12972f3bbfe70ed29521c8949b8af6a0970","quoteVolume":533.726,"baseVolume":2.799,"last":0.005,"percentChange":-0.0809,"bid":0.0049,"ask":0.00544},"ETH_VSMOLD":{"tokenAddr":"0x82665764ea0b58157e1e5e9bab32f68c76ec0cdf","quoteVolume":125,"baseVolume":2.2,"last":0.0176,"percentChange":1.0708,"bid":0.0065,"ask":0.03},"ETH_HVN":{"tokenAddr":"0xc0eb85285d83217cd7c891702bcbc0fc401e2d9d","quoteVolume":27205.334,"baseVolume":2.171,"last":0.000079797,"percentChange":0,"bid":0.000063335,"ask":0.00007969},"ETH_PGL":{"tokenAddr":"0x089a6d83282fb8988a656189f1e7a73fa6c1cac2","quoteVolume":4747.208,"baseVolume":2.125,"last":0.00045,"percentChange":2,"bid":0.00002,"ask":0.00045},"ETH_CNX":{"tokenAddr":"0x94d6b4fb35fb08cb34aa716ab40049ec88002079","quoteVolume":5128.728,"baseVolume":1.92,"last":0.0002,"percentChange":0.5384,"bid":0.000135,"ask":0.0005},"ETH_TKN":{"tokenAddr":"0xaaaf91d9b90df800df4f55c205fd6989c977e73a","quoteVolume":283.526,"baseVolume":1.914,"last":0.0067,"percentChange":-0.0428,"bid":0.0055555,"ask":0.0067},"ETH_SIFT":{"tokenAddr":"0x8a187d5285d316bcbc9adafc08b51d70a0d8e000","quoteVolume":102,"baseVolume":1.869,"last":0.019,"percentChange":0.0556,"bid":0.014,"ask":0.019},"ETH_SND":{"tokenAddr":"0xf333b2ace992ac2bbd8798bf57bc65a06184afba","quoteVolume":522,"baseVolume":1.787,"last":0.003001,"percentChange":-0.2213,"bid":0.003001,"ask":0.003799999},"ETH_YESTERDAY":{"tokenAddr":"0x7268f9c2bc9c9e65b4a16888cb5672531ce8e945","quoteVolume":1197.326,"baseVolume":1.356,"last":0.00014,"percentChange":-0.9034,"bid":0.00014,"ask":0.001},"ETH_MyB":{"tokenAddr":"0x94298f1e0ab2dfad6eeffb1426846a3c29d98090","quoteVolume":203.213,"baseVolume":1.325,"last":0.0064,"percentChange":-0.0229,"bid":0.00655,"ask":0.0071},"ETH_1ST":{"tokenAddr":"0xaf30d2a7e90d7dc361c8c4585e9bb7d2f6f15bc7","quoteVolume":684.288,"baseVolume":1.297,"last":0.00145,"percentChange":-0.2368,"bid":0.00145,"ask":0.00210101},"ETH_SDRN":{"tokenAddr":"0x73b534fb6f07381a29a60b01eed5ae57d4ee24d7","quoteVolume":353700.119,"baseVolume":1.253,"last":0.000004,"percentChange":0.2862,"bid":0.000003001,"ask":0.0000145},"ETH_LLT":{"tokenAddr":"0x6d5cac36c1ae39f41d52393b7a425d0a610ad9f2","quoteVolume":5117.14,"baseVolume":1.247,"last":0.00095,"percentChange":-0.0404,"bid":0.00045,"ask":0.0005},"ETH_WOLK":{"tokenAddr":"0x728781e75735dc0962df3a51d7ef47e798a7107e","quoteVolume":1355.823,"baseVolume":1.199,"last":0.000898,"percentChange":0.009,"bid":0.00075,"ask":0.00087},"ETH_ATS":{"tokenAddr":"0x2daee1aa61d60a252dc80564499a69802853583a","quoteVolume":30824.327,"baseVolume":1.189,"last":0.0000122,"percentChange":-0.6904,"bid":0.0000122,"ask":0.000039695},"ETH_EMV":{"tokenAddr":"0xb802b24e0637c2b87d2e8b7784c055bbe921011a","quoteVolume":1549.55,"baseVolume":1.163,"last":0.00075,"percentChange":-0.4,"bid":0.00074,"ask":0.001249},"ETH_PLU":{"tokenAddr":"0xd8912c10681d8b21fd3742244f44658dba12264e","quoteVolume":28.235,"baseVolume":1.142,"last":0.0405,"percentChange":-0.1,"bid":0.02630001,"ask":0.045},"ETH_SKIN":{"tokenAddr":"0x2bdc0d42996017fce214b21607a515da41a9e0c5","quoteVolume":21483.35,"baseVolume":1.037,"last":0.00004815,"percentChange":0.0031,"bid":0.00004815,"ask":0.000061},"ETH_FLIK":{"tokenAddr":"0x17fd666fa0784885fa1afec8ac624d9b7e72b752","quoteVolume":173790.309,"baseVolume":1.03,"last":0.000020002,"percentChange":0,"bid":0.00000601,"ask":0.00002},"ETH_TAAS":{"tokenAddr":"0xe7775a6e9bcf904eb39da2b68c5efb4f9360e08c","quoteVolume":71.9,"baseVolume":0.999,"last":0.0139,"percentChange":0.17,"bid":0.01222222,"ask":0.01222},"ETH_STORJ":{"tokenAddr":"0xb64ef51c888972c908cfacf59b47c1afbc0ab8ac","quoteVolume":537.418,"baseVolume":0.997,"last":0.001854999,"percentChange":0.2045,"bid":0.001550001,"ask":0.001854998},"ETH_PTOY":{"tokenAddr":"0x8ae4bf2c33a8e667de34b54938b0ccd03eb8cc06","quoteVolume":613.694,"baseVolume":0.946,"last":0.001200011,"percentChange":-0.0769,"bid":0.001252002,"ask":0.0015},"ETH_TGT":{"tokenAddr":"0xac3da587eac229c9896d919abc235ca4fd7f72c1","quoteVolume":10674.3,"baseVolume":0.897,"last":0.0000855,"percentChange":0.0177,"bid":0.0000855,"ask":0.0001},"ETH_DOM":{"tokenAddr":"0x30aee7f259d6d1564ebef457847c672b30f13cbc","quoteVolume":3051000,"baseVolume":0.816,"last":3.33e-7,"percentChange":-0.334,"bid":2.35e-7,"ask":5e-7},"ETH_PST":{"tokenAddr":"0xe3fedaecd47aa8eab6b23227b0ee56f092c967a9","quoteVolume":491,"baseVolume":0.727,"last":0.0015,"percentChange":0.0714,"bid":0.000818,"ask":0.00149},"ETH_POS":{"tokenAddr":"0xee609fe292128cad03b786dbb9bc2634ccdbe7fc","quoteVolume":177.593,"baseVolume":0.718,"last":0.0041,"percentChange":-0.0238,"bid":0.0041,"ask":0.0099},"ETH_ARENA":{"tokenAddr":"0xf9c9da0c81fffd491458881410903561d1e40fd0","quoteVolume":99798.105,"baseVolume":0.591,"last":0.000005839,"percentChange":4.1764,"bid":0.000006,"ask":0.00000584},"ETH_INXT":{"tokenAddr":"0xa8006c4ca56f24d6836727d106349320db7fef82","quoteVolume":1051.975,"baseVolume":0.532,"last":0.0005,"percentChange":-0.4444,"bid":0.000075,"ask":0.0009},"ETH_WIC":{"tokenAddr":"0x5e4abe6419650ca839ce5bb7db422b881a6064bb","quoteVolume":7008.852,"baseVolume":0.42,"last":0.000028,"percentChange":-0.6267,"bid":0.000028,"ask":0.00006},"ETH_HOWL":{"tokenAddr":"0xe755f2fa95e47c5588c3037dd38e1268fa5fcecd","quoteVolume":155171.985,"baseVolume":0.367,"last":0.000003,"percentChange":1.9412,"bid":2.25e-7,"ask":0.0000029},"ETH_EDG":{"tokenAddr":"0x08711d3b02c8758f2fb3ab4e80228418a7f8e39c","quoteVolume":90,"baseVolume":0.36,"last":0.004,"percentChange":0.6,"bid":0.00210001,"ask":0.0026},"ETH_BOP":{"tokenAddr":"0x7f1e2c7d6a69bf34824d72c53b4550e895c0d8c2","quoteVolume":230.676,"baseVolume":0.327,"last":0.00101001,"percentChange":-0.3267,"bid":0.00101001,"ask":0.0021},"ETH_AMIS":{"tokenAddr":"0x949bed886c739f1a3273629b3320db0c5024c719","quoteVolume":2887.805,"baseVolume":0.326,"last":1,"percentChange":0.6393,"bid":0.00001,"ask":0.0000887},"ETH_DTC":{"tokenAddr":"0xeb9c0138d8ac10dd659640a4cc3d135c58b17b1b","quoteVolume":190,"baseVolume":0.313,"last":0.00164,"percentChange":0,"bid":0.00163,"ask":0.00163},"ETH_GOOC":{"tokenAddr":"0xdcb9ff81013c31ff686154b4502ef6bfaa102d2d","quoteVolume":5100,"baseVolume":0.287,"last":0.000076,"percentChange":-0.3091,"bid":0.000022,"ask":0.00007},"ETH_FAP":{"tokenAddr":"0x6467882316dc6e206feef05fba6deaa69277f155","quoteVolume":6472.086,"baseVolume":0.282,"last":0.000045,"percentChange":0,"bid":0.00004,"ask":0.0001},"ETH_TOV":{"tokenAddr":"0xaa26b73bfdc80b5c7d2cfbfc30930038fb7fa657","quoteVolume":24617,"baseVolume":0.271,"last":0.0000095,"percentChange":-0.4946,"bid":0.00001,"ask":0.000018},"ETH_SNT":{"tokenAddr":"0x744d70fdbe2ba4cf95131626614a1763df805b9e","quoteVolume":2656.681,"baseVolume":0.256,"last":0.0000952,"percentChange":-0.226,"bid":0.0000956,"ask":0.0000952},"ETH_CTC":{"tokenAddr":"0x52514e3acaeb06cab050a69b025083082ebe5b54","quoteVolume":49.881,"baseVolume":0.249,"last":0.005,"percentChange":0.25,"bid":0.000066,"ask":0},"ETH_CLD":{"tokenAddr":"0xc3951d77737733174152532e8b0f27e2c4e9f0dc","quoteVolume":5,"baseVolume":0.248,"last":0.075,"percentChange":3.3605,"bid":0.00900001,"ask":0.0161},"ETH_ALIS":{"tokenAddr":"0xea610b1153477720748dc13ed378003941d84fab","quoteVolume":326.133,"baseVolume":0.225,"last":0.0005599,"percentChange":-0.2001,"bid":0.00017001,"ask":0.000419},"ETH_SNC":{"tokenAddr":"0xf4134146af2d511dd5ea8cdb1c4ac88c57d60404","quoteVolume":1022.583,"baseVolume":0.171,"last":0.0002,"percentChange":1.1738,"bid":0.00009661,"ask":0.0002},"ETH_IDEA":{"tokenAddr":"0x814cafd4782d2e728170fda68257983f03321c58","quoteVolume":30610,"baseVolume":0.166,"last":0.0000075,"percentChange":-0.25,"bid":0.0000012,"ask":0.00001969},"ETH_Lottereum":{"tokenAddr":"0x4bf215086c05c0384bdf3731bdb2b37799e9bb5b","quoteVolume":4994,"baseVolume":0.148,"last":0.00000777,"percentChange":1.59,"bid":0.000004,"ask":0.0000199},"ETH_ARC":{"tokenAddr":"0xac709fcb44a43c35f0da4e3163b117a17f3770f5","quoteVolume":9.003,"baseVolume":0.109,"last":0.01475,"percentChange":0.4734,"bid":0.01475,"ask":0.01475},"ETH_DDF":{"tokenAddr":"0xcc4ef9eeaf656ac1a2ab886743e98e97e090ed38","quoteVolume":271.85,"baseVolume":0.103,"last":0.00038,"percentChange":-0.8,"bid":0.00038,"ask":0.00062},"ETH_SAN":{"tokenAddr":"0x7c5a0ce9267ed19b22f8cae653f198e3e8daf098","quoteVolume":102.262,"baseVolume":0.102,"last":0.001000212,"percentChange":-0.224,"bid":0.001000212,"ask":0.00127},"ETH_TRST":{"tokenAddr":"0xcb94be6f13a1182e4a4b6140cb7bf2025d28e41b","quoteVolume":72.126,"baseVolume":0.101,"last":0.0014,"percentChange":-0.3,"bid":0.0011,"ask":0.0014},"ETH_HMQ":{"tokenAddr":"0xcbcc0f036ed4788f63fc0fee32873d6a7487b908","quoteVolume":241.305,"baseVolume":0.091,"last":0.000376,"percentChange":-0.248,"bid":0.000376,"ask":0.00082},"ETH_FRD":{"tokenAddr":"0x0abefb7611cb3a01ea3fad85f33c3c934f8e2cf4","quoteVolume":1000,"baseVolume":0.08,"last":0.00008,"percentChange":0,"bid":0.000008,"ask":0.000075675},"ETH_NMR":{"tokenAddr":"0x1776e1f26f98b1a5df9cd347953a26dd3cb46671","quoteVolume":1.565,"baseVolume":0.075,"last":0.048,"percentChange":-0.1579,"bid":0.048,"ask":0.057},"ETH_BTH":{"tokenAddr":"0xd5b9a2737c9b2ff35ecb23b884eb039303bbbb61","quoteVolume":134.195,"baseVolume":0.067,"last":0.000499,"percentChange":0.6633,"bid":0.0003,"ask":0.000589},"ETH_PLBT":{"tokenAddr":"0x0affa06e7fbe5bc9a764c979aa66e8256a631f02","quoteVolume":4.656,"baseVolume":0.058,"last":0.012360001,"percentChange":0.0041,"bid":0.012360001,"ask":0.017},"ETH_NEWB":{"tokenAddr":"0x814964b1bceaf24e26296d031eadf134a2ca4105","quoteVolume":1935,"baseVolume":0.055,"last":0.000028375,"percentChange":-0.1314,"bid":0.00002835,"ask":0.00002835},"ETH_XAI":{"tokenAddr":"0x268b7976e94e84a48bf8b2b57ba34b59ed836a74","quoteVolume":905.706,"baseVolume":0.054,"last":0.00006,"percentChange":-0.8,"bid":0.00006,"ask":0.00034},"ETH_MSP":{"tokenAddr":"0x68aa3f232da9bdc2343465545794ef3eea5209bd","quoteVolume":102.664,"baseVolume":0.05,"last":0.00049001,"percentChange":-0.1091,"bid":0.00049001,"ask":0.00061},"ETH_URHOC":{"tokenAddr":"0xba54621876dfca50d15705201a5c3b12949b2a79","quoteVolume":100000,"baseVolume":0.05,"last":5e-7,"percentChange":-0.5,"bid":0,"ask":0.0000047},"ETH_HKG":{"tokenAddr":"0x14f37b574242d366558db61f3335289a5035c506","quoteVolume":1000,"baseVolume":0.05,"last":0.00005,"percentChange":-0.898,"bid":0.0000075,"ask":0.0002},"ETH_LUN":{"tokenAddr":"0xfa05a73ffe78ef8f1a739473e462c54bae6567d9","quoteVolume":1.456,"baseVolume":0.048,"last":0.0332,"percentChange":0.1448,"bid":0.02,"ask":0.0332},"ETH_DALC":{"tokenAddr":"0x07d9e49ea402194bf48a8276dafb16e4ed633317","quoteVolume":29.938,"baseVolume":0.03,"last":0.001,"percentChange":-0.6667,"bid":0.001,"ask":0.0087},"ETH_LDM":{"tokenAddr":"0x28a40acf39b1d3c932f42dd8068ad00a5ad6448f","quoteVolume":60.571,"baseVolume":0.021,"last":0.00033991,"percentChange":-0.0288,"bid":0.000081,"ask":0.00033991},"ETH_SHOUC":{"tokenAddr":"0xbc7de10afe530843e71dfb2e3872405191e8d14a","quoteVolume":200000,"baseVolume":0.02,"last":1e-7,"percentChange":0.0204,"bid":9.5e-8,"ask":1e-7},"ETH_FYN":{"tokenAddr":"0x88fcfbc22c6d3dbaa25af478c578978339bde77a","quoteVolume":3.984,"baseVolume":0.018,"last":0.0050001,"percentChange":0.3889,"bid":0.0050001,"ask":0.007},"ETH_ETBS":{"tokenAddr":"0x1b9743f556d65e757c4c650b4555baf354cb8bd3","quoteVolume":1,"baseVolume":0.004,"last":0.0042491,"percentChange":0.6996,"bid":0.002500001,"ask":0.00401},"ETH_BCD":{"tokenAddr":"0x660b612ec57754d949ac1a09d0c2937a010dee05","quoteVolume":158.73,"baseVolume":0.003,"last":0.000019,"percentChange":-0.2083,"bid":0.000018,"ask":0.0004832},"ETH_0xf8fa1a588cd8cd51c3c4d6dc16d2717f6332e821":{"tokenAddr":"0xf8fa1a588cd8cd51c3c4d6dc16d2717f6332e821","quoteVolume":0.25,"baseVolume":0.003,"last":0.01,"percentChange":0.3986,"bid":0,"ask":0.007},"ETH_ALPC":{"tokenAddr":"0xbfd4a3c26996dfc9e85a951eb615aac3b84c758b","quoteVolume":4954,"baseVolume":0.002,"last":3.09e-7,"percentChange":-0.691,"bid":3.09e-7,"ask":0.0000025},"ETH_BNT":{"tokenAddr":"0x1f573d6fb3f13d689ff844b4ce37794d79a7ff1c","quoteVolume":0.168,"baseVolume":0.001,"last":0.00725,"percentChange":-0.4423,"bid":0.0073,"ask":0.008299},"ETH_BMT":{"tokenAddr":"0xf028adee51533b1b47beaa890feb54a457f51e89","quoteVolume":1.1,"baseVolume":0.001,"last":0.0009,"percentChange":9,"bid":0.00009,"ask":0.0009},"ETH_MTL":{"tokenAddr":"0xf433089366899d83a9f26a773d59ec7ecf30355e","quoteVolume":0.027,"baseVolume":0.001,"last":0.033600007,"percentChange":-0.0204,"bid":0.02424,"ask":0.0336},"ETH_TFT":{"tokenAddr":"0x13ea82d5e1a811f55bda9c86fdd6195a6bd23aed","quoteVolume":2,"baseVolume":0.001,"last":0.0003799,"percentChange":6.5828,"bid":0.00005,"ask":0.0004499},"ETH_BAS":{"tokenAddr":"0x2a05d22db079bc40c2f77a1d1ff703a56e631cc1","quoteVolume":1.1,"baseVolume":0,"last":0.00025,"percentChange":1.7775,"bid":0.000112,"ask":0.000249},"ETH_GOOD":{"tokenAddr":"0xae616e72d3d89e847f74e8ace41ca68bbf56af79","quoteVolume":1.988,"baseVolume":0,"last":0.000001,"percentChange":0.5385,"bid":0.000001,"ask":0.00000389}}'
  recorded_at: Tue, 03 Oct 2017 04:04:44 GMT
recorded_with: VCR 3.0.3
