---
http_interactions:
- request:
    method: get
    uri: https://www.btcmex.com/api/v1/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"XBTUSD":{"baseId":1,"quoteId":825,"lastPrice":6705.5,"quoteVolume":9729842,"baseVolume":1464.60410703,"isFrozen":0,"indexPrice":6711.12,"openInterest":2335983,"fundingRate":0.000100}}'
  recorded_at: Fri, 27 Mar 2020 08:44:06 GMT
recorded_with: VCR 4.0.0
