---
http_interactions:
- request:
    method: get
    uri: https://api.exmo.com/v1/trades/?pair=BTC_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_USD":[{"trade_id":23819266,"type":"buy","quantity":"0.00384306","price":"5950.99880982","amount":"22.87004548","date":1509341717},{"trade_id":23819248,"type":"sell","quantity":"0.50110415","price":"5929.9902","amount":"2971.54269867","date":1509341603},{"trade_id":23819247,"type":"sell","quantity":"0.088941","price":"5929.991509","amount":"527.4193748","date":1509341603},{"trade_id":23819246,"type":"buy","quantity":"0.05255832","price":"5951","amount":"312.77456232","date":1509341601},{"trade_id":23819245,"type":"buy","quantity":"0.01685968","price":"5950.979999","amount":"100.33161846","date":1509341601},{"tra[...]
