---
http_interactions:
- request:
    method: get
    uri: https://api.exmo.com/v1/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_USD":{"buy_price":"5930","sell_price":"5950.99","last_trade":"5950.99880982","high":"6030","low":"5704","avg":"5869.381807","vol":"511.21201677","vol_curr":"2994217.45393653","updated":1509341830},"BTC_EUR":{"buy_price":"5185.00000001","sell_price":"5231.60687947","last_trade":"5202.98527562","high":"5284.99999999","low":"4900.00001101","avg":"5053.85470631","vol":"68.76887708","vol_curr":"348599.59720486","updated":1509341830},"BTC_RUB":{"buy_price":"336000","sell_price":"336930","last_trade":"336570","high":"339000","low":"323001","avg":"330597.16879703","vol":"433.10231007","vol_curr":"143548235.49770897","updated":1509341835},"BTC_UAH":{"buy_price":"153213.92","sell_price":"154595.80515598","last_trade":"153542","high":"157500","low":"145891.764","avg":"150972.43697162","vol":"22.70239518","vol_curr":"3425385.49021494","updated":1509341833},"DASH_BTC":{"buy_price":"0.04622204","sell_price":"0.04645353","last_trade":"0.046372","high":"0.04918596","low":"0.04577801","avg":"0.04717361","vol":"982.22165656","vol_curr":"46.33825118","updated":1509341829},"DASH_USD":{"buy_price":"274.07214655","sell_price":"276.54434583","last_trade":"274.6","high":"280.43634015","low":"269.391595","avg":"276.37807055","vol":"667.07596972","vol_curr":"184398.8922966","updated":1509341829},"DASH_RUB":{"buy_price":"15584.9027227","sell_price":"15725.4824415","last_trade":"15631.4","high":"16107.267984","low":"15505","avg":"15686.63508424","vol":"171.05087068","vol_curr":"2678738.32387876","updated":1509341802},"ETH_BTC":{"buy_price":"0.04982001","sell_price":"0.04999137","last_trade":"0.04999137","high":"0.054","low":"0.04840075","avg":"0.05121687","vol":"3313.33497346","vol_curr":"168.88865114","updated":1509341835},"ETH_LTC":{"buy_price":"5.36467547","sell_price":"5.40928","last_trade":"5.38345184","high":"5.62","low":"5.290701","avg":"5.44249317","vol":"323.43734298","vol_curr":"1752.04205883","updated":1509341830},"ETH_USD":{"buy_price":"296.03","sell_price":"297.8","last_trade":"296.024773","high":"306.994538","low":"293.159","avg":"299.47642489","vol":"2012.17338674","vol_curr":"600426.14803065","updated":1509341835},"ETH_EUR":{"buy_price":"258.727872","sell_price":"261.06166123","last_trade":"259.4","high":"263.93583933","low":"250.68","avg":"259.16300641","vol":"356.99875672","vol_curr":"92369.34025154","updated":1509341790},"ETH_RUB":{"buy_price":"16800","sell_price":"16830","last_trade":"16837.99999","high":"17300","low":"16461","avg":"16959.83760775","vol":"507.89199295","vol_curr":"8601663.05804066","updated":1509341834},"ETH_UAH":{"buy_price":"7641.50000111","sell_price":"7710.41886074","last_trade":"7641.50000111","high":"7800","low":"7550","avg":"7676.4959929","vol":"268.48161758","vol_curr":"2058141.48262406","updated":1509341573},"ETC_BTC":{"buy_price":"0.00183145","sell_price":"0.00183177","last_trade":"0.0018315","high":"0.0019536","low":"0.001762","avg":"0.00187621","vol":"8535.0852089","vol_curr":"16.0133022","updated":1509341703},"ETC_USD":{"buy_price":"10.84","sell_price":"11.06899999","last_trade":"10.8969","high":"11.5","low":"10.51","avg":"10.91604129","vol":"2225.97192295","vol_curr":"24318.12724207","updated":1509341826},"ETC_RUB":{"buy_price":"616.09405","sell_price":"623.58727251","last_trade":"622.522","high":"654","low":"594","avg":"617.89393888","vol":"785.90512508","vol_curr":"486063.93477542","updated":1509340423},"LTC_BTC":{"buy_price":"0.00928321","sell_price":"0.00934911","last_trade":"0.00934911","high":"0.0098484","low":"0.00915375","avg":"0.00941533","vol":"1999.21159992","vol_curr":"18.80533754","updated":1509341832},"LTC_USD":{"buy_price":"55.5","sell_price":"55.59769999","last_trade":"55.5","high":"55.9","low":"53.8101","avg":"55.02061401","vol":"1780.12839955","vol_curr":"98008.00927912","updated":1509341834},"LTC_EUR":{"buy_price":"48.03819981","sell_price":"48.46","last_trade":"48.46","high":"49","low":"35","avg":"47.31871391","vol":"328.51737853","vol_curr":"15447.70293717","updated":1509341834},"LTC_RUB":{"buy_price":"3110.01","sell_price":"3133","last_trade":"3133","high":"3150","low":"3062","avg":"3113.41770313","vol":"229.31518523","vol_curr":"713708.14622529","updated":1509341835},"ZEC_BTC":{"buy_price":"0.03760245","sell_price":"0.03794163","last_trade":"0.0378093","high":"0.04098806","low":"0.03711644","avg":"0.03894117","vol":"518.44996085","vol_curr":"20.12988523","updated":1509341829},"ZEC_USD":{"buy_price":"224.6","sell_price":"225.45","last_trade":"225.45","high":"234","low":"224","avg":"229.3346021","vol":"955.96377532","vol_curr":"218602.10070189","updated":1509341834},"ZEC_EUR":{"buy_price":"197.32077925","sell_price":"199.10066201","last_trade":"197.33","high":"203.31853183","low":"193.12","avg":"198.4149838","vol":"102.91617515","vol_curr":"20387.40017795","updated":1509341832},"ZEC_RUB":{"buy_price":"12717.2053947","sell_price":"12787.1626972","last_trade":"12717.2053947","high":"13253","low":"12673","avg":"12965.84248881","vol":"145.69840558","vol_curr":"1882711.59867885","updated":1509341833},"XRP_BTC":{"buy_price":"0.00003301","sell_price":"0.00003312","last_trade":"0.00003301","high":"0.000035","low":"0.0000327","avg":"0.00003382","vol":"314567.97597614","vol_curr":"10.5985745","updated":1509341834},"XRP_USD":{"buy_price":"0.1951129","sell_price":"0.19685268","last_trade":"0.19685268","high":"0.20225321","low":"0.19500001","avg":"0.19896771","vol":"296569.01853444","vol_curr":"58940.91529199","updated":1509341823},"XRP_RUB":{"buy_price":"11.18","sell_price":"11.24730438","last_trade":"11.2074","high":"11.461","low":"11.1","avg":"11.28466585","vol":"100416.56357958","vol_curr":"1133819.81484006","updated":1509341718},"XMR_BTC":{"buy_price":"0.01424432","sell_price":"0.01431","last_trade":"0.014261","high":"0.01508008","low":"0.01420024","avg":"0.01465709","vol":"277.72904052","vol_curr":"4.05755349","updated":1509341821},"XMR_USD":{"buy_price":"84.7","sell_price":"85.3","last_trade":"84.919","high":"86.9","low":"84.7","avg":"85.78692233","vol":"272.09554661","vol_curr":"23335.49063068","updated":1509341759},"XMR_EUR":{"buy_price":"74.54059659","sell_price":"75.2129714","last_trade":"74.974","high":"76.0054749","low":"72.99424205","avg":"74.62498067","vol":"33.67493351","vol_curr":"2509.92058692","updated":1509341734},"BTC_USDT":{"buy_price":"6110.02574248","sell_price":"6165.13970219","last_trade":"6122.64","high":"6234.04","low":"5725.77","avg":"6005.0435754","vol":"17.14825438","vol_curr":"103025.95813214","updated":1509341830},"ETH_USDT":{"buy_price":"306.1662645","sell_price":"308.92796074","last_trade":"307.85048404","high":"309.2","low":"292.17","avg":"304.93322817","vol":"64.48930779","vol_curr":"19667.64364843","updated":1509309275},"USDT_USD":{"buy_price":"0.966","sell_price":"0.96917112","last_trade":"0.96715","high":"1.00363139","low":"0.9661","avg":"0.98073893","vol":"10195.09061045","vol_curr":"10023.18252499","updated":1509306989},"USDT_RUB":{"buy_price":"54.92000001","sell_price":"55.14852677","last_trade":"55.116","high":"57.16","low":"54.5","avg":"55.60592807","vol":"10257.5375581","vol_curr":"570661.3108361","updated":1509341821},"USD_RUB":{"buy_price":"56.57001","sell_price":"56.85","last_trade":"56.57001","high":"57.1","low":"56.200001","avg":"56.61624534","vol":"62355.40867098","vol_curr":"3526712.94740953","updated":1509341835},"DOGE_BTC":{"buy_price":"0.00000018","sell_price":"0.00000019","last_trade":"0.00000019","high":"0.00000019","low":"0.00000017","avg":"0.00000018","vol":"16856065.82156435","vol_curr":"3.11214265","updated":1509341666},"WAVES_BTC":{"buy_price":"0.00057637","sell_price":"0.00058195","last_trade":"0.00058034","high":"0.00061817","low":"0.00055757","avg":"0.00059546","vol":"134157.82101014","vol_curr":"80.05631975","updated":1509341823},"WAVES_RUB":{"buy_price":"196","sell_price":"198.81063652","last_trade":"196","high":"201","low":"187","avg":"197.88280119","vol":"60175.97948576","vol_curr":"11926595.30536842","updated":1509341779},"KICK_BTC":{"buy_price":"0.00000711","sell_price":"0.00000735","last_trade":"0.00000735","high":"0.00000856","low":"0.00000678","avg":"0.00000787","vol":"1294552.6344651","vol_curr":"10.18451738","updated":1509340929},"KICK_ETH":{"buy_price":"0.00014009","sell_price":"0.00014495","last_trade":"0.00014006","high":"0.00016418","low":"0.00012001","avg":"0.00015598","vol":"857464.87978291","vol_curr":"132.89730765","updated":1509334699}}'
  recorded_at: Mon, 30 Oct 2017 05:37:16 GMT
recorded_with: VCR 3.0.3
