---
http_interactions:
- request:
    method: get
    uri: https://api.exmo.com/v1/pair_settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_USD":{"min_quantity":"0.001","max_quantity":"100","min_price":"1","max_price":"10000","max_amount":"30000","min_amount":"1"},"BTC_EUR":{"min_quantity":"0.001","max_quantity":"100","min_price":"1","max_price":"10000","max_amount":"30000","min_amount":"1"},"BTC_RUB":{"min_quantity":"0.001","max_quantity":"100","min_price":"1","max_price":"1000000","max_amount":"1500000","min_amount":"10"},"BTC_UAH":{"min_quantity":"0.001","max_quantity":"100","min_price":"1","max_price":"600000","max_amount":"800000","min_amount":"10"},"DASH_BTC":{"min_quantity":"0.001","max_quantity":"500","min_price":"0.001","max_price":"10","max_amount":"10","min_amount":"0.001"},"DASH_USD":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.001","max_price":"1000","max_amount":"100000","min_amount":"0.1"},"DASH_RUB":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.001","max_price":"100000","max_amount":"1000000","min_amount":"0.1"},"ETH_BTC":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.0001","max_price":"0.5","max_amount":"10","min_amount":"0.01"},"ETH_LTC":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.001","max_price":"1000","max_amount":"10000","min_amount":"0.1"},"ETH_USD":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.001","max_price":"1000","max_amount":"10000","min_amount":"1"},"ETH_EUR":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.001","max_price":"1000","max_amount":"10000","min_amount":"1"},"ETH_RUB":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.001","max_price":"100000","max_amount":"1000000","min_amount":"1"},"ETH_UAH":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.01","max_price":"100000","max_amount":"2000000","min_amount":"0.1"},"ETC_BTC":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.0001","max_price":"0.5","max_amount":"100","min_amount":"0.001"},"ETC_USD":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.01","max_price":"10000","max_amount":"100000","min_amount":"0.01"},"ETC_RUB":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.01","max_price":"10000","max_amount":"100000","min_amount":"0.01"},"LTC_BTC":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.0001","max_price":"1","max_amount":"100","min_amount":"0.001"},"LTC_USD":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.01","max_price":"10000","max_amount":"100000","min_amount":"0.001"},"LTC_EUR":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.01","max_price":"10000","max_amount":"100000","min_amount":"0.001"},"LTC_RUB":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.01","max_price":"100000","max_amount":"1000000","min_amount":"0.01"},"ZEC_BTC":{"min_quantity":"0.001","max_quantity":"500","min_price":"0.001","max_price":"10","max_amount":"10","min_amount":"0.001"},"ZEC_USD":{"min_quantity":"0.001","max_quantity":"500","min_price":"0.001","max_price":"700","max_amount":"10000","min_amount":"0.1"},"ZEC_EUR":{"min_quantity":"0.001","max_quantity":"500","min_price":"0.001","max_price":"700","max_amount":"10000","min_amount":"0.1"},"ZEC_RUB":{"min_quantity":"0.001","max_quantity":"500","min_price":"0.001","max_price":"60000","max_amount":"1000000","min_amount":"0.1"},"XRP_BTC":{"min_quantity":"0.1","max_quantity":"20000","min_price":"0.0000001","max_price":"0.1","max_amount":"6","min_amount":"0.00001"},"XRP_USD":{"min_quantity":"0.1","max_quantity":"20000","min_price":"0.001","max_price":"1","max_amount":"5000","min_amount":"0.001"},"XRP_RUB":{"min_quantity":"0.1","max_quantity":"20000","min_price":"0.000001","max_price":"60","max_amount":"300000","min_amount":"1"},"XMR_BTC":{"min_quantity":"0.001","max_quantity":"500","min_price":"0.001","max_price":"1","max_amount":"10","min_amount":"0.001"},"XMR_USD":{"min_quantity":"0.001","max_quantity":"500","min_price":"0.001","max_price":"1000","max_amount":"100000","min_amount":"0.1"},"XMR_EUR":{"min_quantity":"0.001","max_quantity":"500","min_price":"0.001","max_price":"1000","max_amount":"100000","min_amount":"0.1"},"BTC_USDT":{"min_quantity":"0.001","max_quantity":"100","min_price":"1","max_price":"20000","max_amount":"30000","min_amount":"1"},"ETH_USDT":{"min_quantity":"0.001","max_quantity":"1000","min_price":"0.001","max_price":"10000","max_amount":"10000","min_amount":"0.5"},"USDT_USD":{"min_quantity":"1","max_quantity":"100000","min_price":"0.5","max_price":"1.5","max_amount":"100000","min_amount":"0.01"},"USDT_RUB":{"min_quantity":"0.1","max_quantity":"25000","min_price":"0.01","max_price":"1000","max_amount":"1500000","min_amount":"10"},"USD_RUB":{"min_quantity":"0.1","max_quantity":"25000","min_price":"0.01","max_price":"1000","max_amount":"1500000","min_amount":"10"},"DOGE_BTC":{"min_quantity":"100","max_quantity":"100000000","min_price":"0.0000001","max_price":"1","max_amount":"10","min_amount":"0.0001"},"WAVES_BTC":{"min_quantity":"0.01","max_quantity":"1000","min_price":"0.00001","max_price":"1","max_amount":"10","min_amount":"0.0001"},"WAVES_RUB":{"min_quantity":"0.01","max_quantity":"5000","min_price":"1","max_price":"10000","max_amount":"300000","min_amount":"1"},"KICK_BTC":{"min_quantity":"0.1","max_quantity":"200000","min_price":"0.0000001","max_price":"0.1","max_amount":"6","min_amount":"0.00001"},"KICK_ETH":{"min_quantity":"0.1","max_quantity":"200000","min_price":"0.000001","max_price":"1","max_amount":"100","min_amount":"0.0001"}}'
  recorded_at: Mon, 30 Oct 2017 05:37:14 GMT
recorded_with: VCR 3.0.3
