---
http_interactions:
- request:
    method: get
    uri: https://api.exmo.com/v1/order_book/?pair=BTC_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_USD":{"ask_quantity":"243.8157032","ask_amount":"1604347.0633144","ask_top":"5950.99","bid_quantity":"11807.00750405","bid_amount":"862577.5162267","bid_top":"5930","ask":[["5950.99","0.02163268","128.73586235"],["5950.99254285","0.09702785","577.41201179"],["5950.993733","0.0731048","435.04620665"],["5951","0.14552666","866.02915366"],["5951.99880963","0.61651634","3669.50452179"],["5952","0.01329396","79.12564992"],["5954.69229437","0.00271498","16.16687048"],["5955","0.011399","67.881045"],["5957.70229078","0.25487936","1518.49534694"],["5959.40234656","0.00761412","45.37560459"],["5960","0.01357557","80.9103972"],["5966.9988066","0.08417624","502.27952362"],[[...]
