---
http_interactions:
- request:
    method: get
    uri: https://www.probitex.com/apis/get_market_all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":1,"data":{"ltc_btc":{"new_price":"0.00813000","buy_price":"0.00091392","sell_price":"0.09110804","min_price":"0.00790000","max_price":"0.00813000","24h_num":"765.51000000","24h_mum":"6.13634790","24h_float":"1.37"},"doge_btc":{"new_price":"0.00000065","buy_price":"0.00000065","sell_price":"0.00000070","min_price":"0.00000063","max_price":"0.00000073","24h_num":"343.625691","24h_mum":"0.00022228","24h_float":false},"eth_btc":{"new_price":"0.03120000","buy_price":"0.00397311","sell_price":"0.39575710","min_price":"0.03120000","max_price":"0.03124000","24h_num":"113.880000","24h_mum":"3.55477560","24h_float":false},"dash_btc":{"new_price":"0.02406500","buy_price":"0.00288874","sell_price":"0.26358170","min_price":"0.02400200","max_price":"0.02406500","24h_num":"267.003000","24h_mum":"6.41900100","24h_float":false},"pbt_btc":{"new_price":"0.00000016","buy_price":"0.00000010","sell_price":"0.00000016","min_price":"0.00000012","max_price":"0.00000016","24h_num":"1770.347430","24h_mum":"0.00024629","24h_float":"14.29"},"stg_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"doge_ltc":{"new_price":"0.00000746","buy_price":"0.00000746","sell_price":"0.00008500","min_price":"0.00000746","max_price":"0.00000780","24h_num":"1267.931420","24h_mum":"0.00982938","24h_float":false},"pbt_eth":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"pbt_ltc":{"new_price":"0.00001110","buy_price":"0.00001000","sell_price":"0.00001110","min_price":"0.00001110","max_price":"0.00001110","24h_num":"10.000000","24h_mum":"0.00011100","24h_float":"11.00"},"bch_btc":{"new_price":"0.06854000","buy_price":"0.00774762","sell_price":"0.76495290","min_price":"0.06848000","max_price":"0.06854000","24h_num":"103.100000","24h_mum":"7.06347400","24h_float":false},"btg_btc":{"new_price":"0.00421000","buy_price":"0.00031941","sell_price":"0.03151080","min_price":"0.00421000","max_price":"0.00423300","24h_num":"891.000000","24h_mum":"3.76470300","24h_float":"3.11"},"comc_btc":{"new_price":"0.00000041","buy_price":"0.00000015","sell_price":"0.00000041","min_price":"0.00000041","max_price":"0.00000041","24h_num":"150.000000","24h_mum":"0.00006150","24h_float":"2.50"},"neng_btc":{"new_price":"0.00000001","buy_price":"0.00000000","sell_price":"0.00000001","min_price":"0.00000001","max_price":"0.00000001","24h_num":"2000.000000","24h_mum":"0.00002000","24h_float":"0.00"},"fls_btc":{"new_price":"0.00000500","buy_price":"0.00000055","sell_price":"0.00000500","min_price":"0.00000395","max_price":"0.00000500","24h_num":"3031.551996","24h_mum":"0.01481769","24h_float":"26.58"},"bank_btc":{"new_price":"0.00000012","buy_price":"0.00000000","sell_price":"0.00000012","min_price":"0.00000012","max_price":"0.00000012","24h_num":"50.000000","24h_mum":"0.00000600","24h_float":"20.00"},"coll_btc":{"new_price":"0.00070000","buy_price":"0.00000000","sell_price":"0.00070000","min_price":"0.00070000","max_price":"0.00080000","24h_num":"6.163292","24h_mum":"0.00445878","24h_float":false},"sbit_doge":{"new_price":"0.00350000","buy_price":"0.00000020","sell_price":"0.00350000","min_price":"0.00350000","max_price":"0.00350000","24h_num":"0.000500","24h_mum":"0.00000175","24h_float":"0.00"},"sbit_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"btcs_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"aevo_btc":{"new_price":"0.00000008","buy_price":"0.00000007","sell_price":"0.00000010","min_price":"0.00000008","max_price":"0.00000009","24h_num":"15.266000","24h_mum":"0.00000132","24h_float":false},"neng_doge":{"new_price":"0.00999998","buy_price":"0.00000001","sell_price":"0.00999998","min_price":"0.00999998","max_price":"0.00999998","24h_num":"0.0001","24h_mum":"0.00000099","24h_float":"0.00"},"hndc_btc":{"new_price":"0.00000001","buy_price":"0.00000000","sell_price":"0.00000006","min_price":"0.00000001","max_price":"0.00000006","24h_num":"65.000000","24h_mum":"0.00000190","24h_float":"0.00"},"hndc_ltc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"sierra_btc":{"new_price":"0.00000989","buy_price":"0.00000000","sell_price":"0.00000989","min_price":"0.00000001","max_price":"0.00014550","24h_num":"123.056454","24h_mum":"0.00955744","24h_float":false},"suqa_btc":{"new_price":"0.00000125","buy_price":"0.00000042","sell_price":"0.00000125","min_price":"0.00000042","max_price":"0.00000125","24h_num":"24092.729833","24h_mum":"0.02927980","24h_float":"0.81"},"izc_btc":{"new_price":"0.00000008","buy_price":"0.00000001","sell_price":"0.00000008","min_price":"0.00000008","max_price":"0.00000008","24h_num":"500.000000","24h_mum":"0.00004000","24h_float":"0.00"},"cf_btc":{"new_price":"0.00000100","buy_price":"0.00000000","sell_price":"0.00000100","min_price":"0.00000100","max_price":"0.00000100","24h_num":"3.000000","24h_mum":"0.00000300","24h_float":"0.00"},"advp_btc":{"new_price":"0.00000001","buy_price":"0.00000000","sell_price":"0.00000002","min_price":"0.00000001","max_price":"0.00000001","24h_num":"2110.000000","24h_mum":"0.00002110","24h_float":"0.00"},"ceth_btc":{"new_price":"0.00000800","buy_price":"0.00000007","sell_price":"0.00000800","min_price":"0.00000800","max_price":"0.00004500","24h_num":"14.005748","24h_mum":"0.00051552","24h_float":false},"egx_btc":{"new_price":"0.00000001","buy_price":"0.00000000","sell_price":"0.00000001","min_price":"0.00000001","max_price":"0.00000001","24h_num":"60.000000","24h_mum":"0.00000060","24h_float":"0.00"},"grn_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"bmxt_btc":{"new_price":"0.00069000","buy_price":"0.00030500","sell_price":"0.00069000","min_price":"0.00069000","max_price":"0.00069000","24h_num":"2.085000","24h_mum":"0.00143865","24h_float":false},"advp_doge":{"new_price":"0.03999800","buy_price":"0.00015600","sell_price":"0.03999800","min_price":"0.00399980","max_price":"0.03999800","24h_num":"2907.864017","24h_mum":"11.66687269","24h_float":false},"mic_btc":{"new_price":"0.00000001","buy_price":"0.00000000","sell_price":"0.00000001","min_price":"0.00000001","max_price":"0.00000001","24h_num":"16.974538","24h_mum":"0.00000016","24h_float":"0.00"},"egx_doge":{"new_price":"0.00900000","buy_price":"0.00200002","sell_price":"0.00900000","min_price":"0.00800000","max_price":"0.00900000","24h_num":"8420.372743","24h_mum":"67.71335468","24h_float":"0.00"},"sld_btc":{"new_price":"0.00000050","buy_price":"0.00000020","sell_price":"0.00000050","min_price":"0.00000020","max_price":"0.00000160","24h_num":"7.529950","24h_mum":"0.00000906","24h_float":false},"bcrm_btc":{"new_price":"0.00001000","buy_price":"0.00000000","sell_price":"0.00007845","min_price":"0.00001000","max_price":"0.00001000","24h_num":"1.000000","24h_mum":"0.00001000","24h_float":false},"mic_doge":{"new_price":"0.00005000","buy_price":"0.00001503","sell_price":"0.00005000","min_price":"0.00005000","max_price":"0.00005556","24h_num":"27859760.530072","24h_mum":"1398.88280930","24h_float":false},"glb_btc":{"new_price":"0.00000005","buy_price":"0.00000003","sell_price":"0.00000005","min_price":"0.00000004","max_price":"0.00000005","24h_num":"24550.000000","24h_mum":"0.00116350","24h_float":"0.00"},"crow_btc":{"new_price":"0.00002100","buy_price":"0.00000100","sell_price":"0.00002100","min_price":"0.00001100","max_price":"0.00002100","24h_num":"26.370623","24h_mum":"0.00032784","24h_float":"90.91"},"xgame_ltc":{"new_price":"0.00000001","buy_price":"0.00000000","sell_price":"0.00000100","min_price":"0.00000001","max_price":"0.00000001","24h_num":"38000.000000","24h_mum":"0.00038000","24h_float":"0.00"},"xgame_doge":{"new_price":"0.00320000","buy_price":"0.00017001","sell_price":"0.00320000","min_price":"0.00017001","max_price":"0.00320000","24h_num":"401240.316960","24h_mum":"1183.55377117","24h_float":"1782.24"},"stdu_btc":{"new_price":"0.00000001","buy_price":"0.00000000","sell_price":"0.00000001","min_price":"0.00000001","max_price":"0.00000001","24h_num":"202.000000","24h_mum":"0.00000202","24h_float":false},"stdu_doge":{"new_price":"0.00003050","buy_price":"0.00000003","sell_price":"0.00003050","min_price":"0.00000290","max_price":"0.00003800","24h_num":"7030958.798280","24h_mum":"81.70082048","24h_float":false},"izc_doge":{"new_price":"0.35000000","buy_price":"0.00350000","sell_price":"0.00000000","min_price":"0.35000000","max_price":"0.35000000","24h_num":"2650.048571","24h_mum":"927.51699985","24h_float":"16.67"},"cc_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"vrx_btc":{"new_price":"0.00000004","buy_price":"0.00000000","sell_price":"0.00000004","min_price":"0.00000004","max_price":"0.00000005","24h_num":"2250.000000","24h_mum":"0.00010200","24h_float":false},"zcn_btc":{"new_price":"0.00000005","buy_price":"0.00000004","sell_price":"0.00000006","min_price":"0.00000005","max_price":"0.00000005","24h_num":"390.000000","24h_mum":"0.00001950","24h_float":false},"ameri_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"kc_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"egame_doge":{"new_price":"0.00000001","buy_price":"0.00000000","sell_price":"0.00000001","min_price":"0.00000001","max_price":"0.00000001","24h_num":"2287780329.505741","24h_mum":"22.87780329","24h_float":"0.00"},"sprts_btc":{"new_price":"0.00000001","buy_price":"0.00000000","sell_price":"0.00000001","min_price":"0.00000001","max_price":"0.00000001","24h_num":"159759.735751","24h_mum":"0.00159759","24h_float":"0.00"},"sprts_ltc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"sprts_eth":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"sprts_doge":{"new_price":"0.00001853","buy_price":"0.00001853","sell_price":"0.00002018","min_price":"0.00001802","max_price":"0.00001902","24h_num":"165755806.030277","24h_mum":"3020.45508570","24h_float":"2.83"},"xln_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"xln_eth":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"xfe_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"xfe_eth":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"grn_eth":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"crow_eth":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"glb_eth":{"new_price":"0.00000160","buy_price":"0.00000145","sell_price":"0.00000160","min_price":"0.00000145","max_price":"0.00000160","24h_num":"158.000000","24h_mum":"0.00025205","24h_float":"0.00"},"egame_ltc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"zls_btc":{"new_price":"0.00000600","buy_price":"0.00000201","sell_price":"0.00000600","min_price":"0.00000110","max_price":"0.00000700","24h_num":"1522.000000","24h_mum":"0.00182483","24h_float":false},"stdu_ltc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"tmb_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"tmb_eth":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"xpet_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"xpet_eth":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"manga_eth":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"lizc_btc":{"new_price":"0.00005000","buy_price":"0.00001600","sell_price":"0.00005000","min_price":"0.00001600","max_price":"0.00008000","24h_num":"53.155066","24h_mum":"0.00245366","24h_float":"0.00"},"manga_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"lkr_btc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"token_ltc":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"},"token_doge":{"new_price":"0.00000000","buy_price":"0.00000000","sell_price":"0.00000000","min_price":"0.00000000","max_price":"0.00000000","24h_num":"0.00000000","24h_mum":"0.00000000","24h_float":"0.00"}}}'
  recorded_at: Sat, 27 Oct 2018 06:36:51 GMT
recorded_with: VCR 4.0.0
