---
http_interactions:
- request:
    method: get
    uri: https://www.probitex.com/apis/get_market_depth?name=ltc_btc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":1,"data":{"buy":[{"p":"0.00091392","n":"23.42527021"},{"p":"0.00091379","n":"30.50000000"},{"p":"0.00091378","n":"24.11400000"},{"p":"0.00091366","n":"59.55000000"},{"p":"0.00091361","n":"93.50000000"},{"p":"0.00091313","n":"316.89000000"},{"p":"0.00091239","n":"71.70000000"},{"p":"0.00091148","n":"71.80000000"},{"p":"0.00091134","n":"56.00000000"},{"p":"0.00091109","n":"35.60000000"},{"p":"0.00008480","n":"5.00000000"}],"sell":[{"p":"0.09110804","n":"34.66500000"},{"p":"0.09110816","n":"49.01000000"},{"p":"0.09110821","n":"61.20000000"},{"p":"0.09110854","n":"28.06000000"},{"p":"0.09110927","n":"211.30000000"},{"p":"0.09110928","n":"74.13000000"},{"p":"0.09110952","n":"65.40000000"},{"p":"0.09110981","n":"47.20000000"},{"p":"0.09110986","n":"82.90000000"},{"p":"0.09110987","n":"16.30000000"}]}}'
  recorded_at: Sat, 27 Oct 2018 06:36:51 GMT
recorded_with: VCR 4.0.0
