---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/ticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": {"date": 1530080549524, "ticker": {"TRXETH": {"buy":
        "1.1e-7", "sell": "0.00015", "vol": "1", "low": "1e-8", "open": "1e-8", "high":
        "1e-8", "last": "1e-8"}, "SEERBTC": {"buy": "0.0000011", "sell": "0.00000175",
        "vol": "6212.10008485", "low": "0.0000011", "open": "0.00000179", "high":
        "0.00000179", "last": "0.0000011"}, "CETBTC": {"buy": "0.00000846", "sell":
        "0.00000858", "vol": "16293339.35488893", "low": "0.00000758", "open": "0.00000965",
        "high": "0.0000097", "last": "0.00000858"}, "DOGEBTC": {"buy": "3.8e-7", "sell":
        "4.0e-7", "vol": "343968.79794242", "low": "3.8e-7", "open": "4.1e-7", "high":
        "4.1e-7", "last": "4.0e-7"}, "KANETH": {"buy": "6e-8", "sell": "0.005688",
        "vol": "1", "low": "3e-8", "open": "3e-8", "high": "3e-8", "last": "3e-8"},
        "LTCBTC": {"buy": "0.01246409", "sell": "0.01256793", "vol": "1137.69757796",
        "low": "0.0123758", "open": "0.01319762", "high": "0.01323686", "last": "0.01247978"},
        "QTUMBTC": {"buy": "0.00146264", "sell": "0.00146756", "vol": "24240.31622408",
        "low": "0.0012834", "open": "0.00131991", "high": "0.00153246", "last": "0.00146822"},
        "ETHBCH": {"buy": "0.61779705", "sell": "0.618983", "vol": "257.78700119",
        "low": "0.6", "open": "0.6068", "high": "0.628097", "last": "0.6189832"},
        "EOSUSDT": {"buy": "5.8", "sell": "8.5", "vol": "10.52286301", "low": "5.785124",
        "open": "5.785124", "high": "5.785124", "last": "5.785124"}, "WINGSBTC": {"buy":
        "0.0000066", "sell": "0.00004999", "vol": "684.8655013", "low": "0.00000599",
        "open": "0.00003665", "high": "0.00003665", "last": "0.00000599"}, "VETETH":
        {"buy": "0.00044001", "sell": "0.058001", "vol": "0", "low": "0", "open":
        "0", "high": "0", "last": "0"}, "ETHBTC": {"buy": "0.0713", "sell": "0.07137373",
        "vol": "4438.23239707", "low": "0.07049577", "open": "0.073382", "high": "0.07339409",
        "last": "0.0713"}, "LTCBCH": {"buy": "0.108604", "sell": "0.10905882", "vol":
        "956.11208395", "low": "0.10651", "open": "0.10865586", "high": "0.110471",
        "last": "0.108604"}, "BBNBTC": {"buy": "0.00000333", "sell": "0.0000036",
        "vol": "175413.76726416", "low": "0.00000336", "open": "0.00000416", "high":
        "0.00000416", "last": "0.0000036"}, "XMVBCH": {"buy": "0.00026801", "sell":
        "0.00032972", "vol": "372.77752486", "low": "0.000268", "open": "0.0003",
        "high": "0.000308", "last": "0.000308"}, "DCRBCH": {"buy": "0.09178766", "sell":
        "0.11699999", "vol": "61.12923764", "low": "0.06075", "open": "0.097514",
        "high": "0.149", "last": "0.08708954"}, "BBNETH": {"buy": "0.00001", "sell":
        "0.000079", "vol": "660.0593439", "low": "0.0000078", "open": "0.0000078",
        "high": "0.0000078", "last": "0.0000078"}, "DCRBTC": {"buy": "0.0108", "sell":
        "0.011179", "vol": "14.52887894", "low": "0.01047842", "open": "0.0124", "high":
        "0.0124", "last": "0.011179"}, "MTBCH": {"buy": "0.00001999", "sell": "0.0000378",
        "vol": "264", "low": "0.000019", "open": "0.000019", "high": "0.000019", "last":
        "0.000019"}, "XMRBCH": {"buy": "0.17792398", "sell": "0.18062574", "vol":
        "102.72304981", "low": "0.16777", "open": "0.16777", "high": "0.18", "last":
        "0.18"}, "CETUSDT": {"buy": "0.0518", "sell": "0.052", "vol": "21571453.15187153",
        "low": "0.0459", "open": "0.0604", "high": "0.0606", "last": "0.0518"}, "NEOBTC":
        {"buy": "0.00486105", "sell": "0.00491335", "vol": "1637.11543573", "low":
        "0.00484052", "open": "0.00502778", "high": "0.00510554", "last": "0.00490754"},
        "CTXCBCH": {"buy": "0.00104798", "sell": "0.0018", "vol": "1551.07525521",
        "low": "0.00077066", "open": "0.00105", "high": "0.002", "last": "0.001999"},
        "ZILBCH": {"buy": "0.00007002", "sell": "0.00009", "vol": "1", "low": "0.00009",
        "open": "0.00009", "high": "0.00009", "last": "0.00009"}, "BTCBCH": {"buy":
        "8.664481", "sell": "8.6675325", "vol": "38.53147035", "low": "8.203007",
        "open": "8.2930677", "high": "8.7962393", "last": "8.6675325"}, "WINGSETH":
        {"buy": "3e-8", "sell": "0.055", "vol": "0", "low": "0", "open": "0", "high":
        "0", "last": "0"}, "CTXCBTC": {"buy": "0.00012735", "sell": "0.00012866",
        "vol": "279048.11028946", "low": "0.00011734", "open": "0.00012509", "high":
        "0.00014024", "last": "0.00012836"}, "XRPBCH": {"buy": "0.00064679", "sell":
        "0.00065803", "vol": "276579.86383546", "low": "0.00063479", "open": "0.00063483",
        "high": "0.00065912", "last": "0.00065124"}, "ETCBCH": {"buy": "0.020799",
        "sell": "0.0209417", "vol": "5192.2095744", "low": "0.02054121", "open": "0.02096099",
        "high": "0.02174764", "last": "0.02088739"}, "MTETH": {"buy": "4e-8", "sell":
        "0.000811", "vol": "0", "low": "0", "open": "0", "high": "0", "last": "0"},
        "XRPBTC": {"buy": "0.00007487", "sell": "0.00007553", "vol": "606190.84550014",
        "low": "0.00007415", "open": "0.00007687", "high": "0.00007765", "last": "0.00007511"},
        "ETCBTC": {"buy": "0.002413", "sell": "0.00241331", "vol": "10898.28424023",
        "low": "0.00234635", "open": "0.00253376", "high": "0.00253662", "last": "0.002413"},
        "CETBCH": {"buy": "0.0000733", "sell": "0.00007399", "vol": "14907031.45232548",
        "low": "0.00006789", "open": "0.00007969", "high": "0.00007979", "last": "0.0000733"},
        "BTMETH": {"buy": "4e-8", "sell": "0", "vol": "0", "low": "0", "open": "0",
        "high": "0", "last": "0"}, "OMGETH": {"buy": "0.00180001", "sell": "0", "vol":
        "0", "low": "0", "open": "0", "high": "0", "last": "0"}, "EOSETH": {"buy":
        "0.000004", "sell": "0.0359865", "vol": "0", "low": "0", "open": "0", "high":
        "0", "last": "0"}, "DASHUSDT": {"buy": "16.33", "sell": "470", "vol": "0",
        "low": "0", "open": "0", "high": "0", "last": "0"}, "CTXCETH": {"buy": "6e-8",
        "sell": "0.06", "vol": "14.20756598", "low": "1e-8", "open": "1e-8", "high":
        "2e-8", "last": "2e-8"}, "ZILETH": {"buy": "6e-8", "sell": "0", "vol": "0",
        "low": "0", "open": "0", "high": "0", "last": "0"}, "HSRBCH": {"buy": "0.00622001",
        "sell": "0.00654", "vol": "102.28759693", "low": "0.006206", "open": "0.00630099",
        "high": "0.00654", "last": "0.00622"}, "DASHBCH": {"buy": "0.32702603", "sell":
        "0.330276", "vol": "232.39406345", "low": "0.3175302", "open": "0.31828454",
        "high": "0.33323349", "last": "0.32893557"}, "VETBTC": {"buy": "0.00041715",
        "sell": "0.0004187", "vol": "41096.64109598", "low": "0.00033301", "open":
        "0.00043154", "high": "0.00045798", "last": "0.00041664"}, "SEERBCH": {"buy":
        "0.0000085", "sell": "0.00000975", "vol": "33629.10402128", "low": "0.0000085",
        "open": "0.00001", "high": "0.00001", "last": "0.0000095"}, "HYDROBTC": {"buy":
        "4.2e-7", "sell": "4.4e-7", "vol": "10054889.88536933", "low": "4.2e-7", "open":
        "4.3e-7", "high": "4.7e-7", "last": "4.4e-7"}, "EOSDACBTC": {"buy": "0.000016",
        "sell": "0.00002951", "vol": "7817.53039301", "low": "0.000016", "open": "0.000016",
        "high": "0.000016", "last": "0.000016"}, "ZRXETH": {"buy": "0.00015001", "sell":
        "0.00187", "vol": "0", "low": "0", "open": "0", "high": "0", "last": "0"},
        "SCBTC": {"buy": "0.00000159", "sell": "0.00000164", "vol": "465398.86317127",
        "low": "0.00000158", "open": "0.00000167", "high": "0.00000168", "last": "0.00000158"},
        "BBNBCH": {"buy": "0.00002963", "sell": "0.00003266", "vol": "122362.58347863",
        "low": "0.00002868", "open": "0.00003345", "high": "0.000034", "last": "0.00002963"},
        "MTBTC": {"buy": "0.00000232", "sell": "0.0000061", "vol": "263.736", "low":
        "0.00000231", "open": "0.00000231", "high": "0.00000231", "last": "0.00000231"},
        "XMRBTC": {"buy": "0.02070003", "sell": "0.0208", "vol": "11.44933691", "low":
        "0.01959311", "open": "0.02069", "high": "0.02091451", "last": "0.02069863"},
        "OMGBTC": {"buy": "0.00118557", "sell": "0.00119781", "vol": "20736.00926748",
        "low": "0.00117311", "open": "0.00125323", "high": "0.00126048", "last": "0.00119184"},
        "BTMBTC": {"buy": "0.00005528", "sell": "0.00005586", "vol": "307681.04180173",
        "low": "0.0000541", "open": "0.00006009", "high": "0.0000604", "last": "0.00005549"},
        "EOSBTC": {"buy": "0.00125", "sell": "0.001689", "vol": "325.01981212", "low":
        "0.00125", "open": "0.0013", "high": "0.00177", "last": "0.001689"}, "VETBCH":
        {"buy": "0.00359912", "sell": "0.00366878", "vol": "20478.1903872", "low":
        "0.00351569", "open": "0.00357768", "high": "0.0037404", "last": "0.003635"},
        "BCHUSDT": {"buy": "702.2", "sell": "702.88", "vol": "1883.94201299", "low":
        "684.93", "open": "755.67", "high": "755.99", "last": "702.2"}, "LOOMBCH":
        {"buy": "0.0002099", "sell": "0.000229", "vol": "268.23772984", "low": "0.00019425",
        "open": "0.0002098", "high": "0.00022977", "last": "0.00022977"}, "LTCUSDT":
        {"buy": "75.86", "sell": "76.36", "vol": "3320.46594321", "low": "74.87",
        "open": "82.07", "high": "82.52", "last": "76.16"}, "LOOMBTC": {"buy": "0.00002418",
        "sell": "0.00002419", "vol": "45858.66585622", "low": "0.00002375", "open":
        "0.00002533", "high": "0.0000255", "last": "0.00002419"}, "OMGBCH": {"buy":
        "0.01029598", "sell": "0.01038598", "vol": "8819.87550679", "low": "0.01010928",
        "open": "0.01045145", "high": "0.010459", "last": "0.01034864"}, "BTMBCH":
        {"buy": "0.00047796", "sell": "0.00048668", "vol": "153083.698563", "low":
        "0.00047038", "open": "0.00049699", "high": "0.0005006", "last": "0.00048413"},
        "EOSBCH": {"buy": "0.010828", "sell": "0.01166899", "vol": "475.29878006",
        "low": "0.010804", "open": "0.010983", "high": "0.011777", "last": "0.010828"},
        "BTCUSDT": {"buy": "6080.08", "sell": "6089.09", "vol": "377.76148286", "low":
        "6005.88", "open": "6251.34", "high": "6266.69", "last": "6080.08"}, "NANOBTC":
        {"buy": "0.00034009", "sell": "0.00035899", "vol": "65338.49713275", "low":
        "0.00034021", "open": "0.00038799", "high": "0.000393", "last": "0.000349"},
        "ZRXBTC": {"buy": "0.00010099", "sell": "0.000101", "vol": "14998.98756675",
        "low": "0.00009976", "open": "0.00011193", "high": "0.00011306", "last": "0.00010079"},
        "HYDROBCH": {"buy": "0.00000365", "sell": "0.0000038", "vol": "627727.35487948",
        "low": "0.0000036", "open": "0.00000376", "high": "0.00000387", "last": "0.0000036"},
        "LOOMETH": {"buy": "0.00018601", "sell": "0.003071", "vol": "0", "low": "0",
        "open": "0", "high": "0", "last": "0"}, "ZILBTC": {"buy": "0.00000891", "sell":
        "0.00001299", "vol": "0", "low": "0", "open": "0", "high": "0", "last": "0.000008"},
        "ETHUSDT": {"buy": "431.05", "sell": "434.15", "vol": "4571.44772212", "low":
        "426.02", "open": "457.75", "high": "459.61", "last": "433.15"}, "DASHBTC":
        {"buy": "0.03761806", "sell": "0.03798829", "vol": "587.20115181", "low":
        "0.03721139", "open": "0.03847115", "high": "0.03871179", "last": "0.03786073"},
        "WINGSBCH": {"buy": "0.00030004", "sell": "0.0006298", "vol": "1298.81727308",
        "low": "0.0003", "open": "0.00041488", "high": "0.00063", "last": "0.0003"},
        "XRPUSDT": {"buy": "0.17", "sell": "0.59", "vol": "1.51671122", "low": "0.6",
        "open": "0.6", "high": "0.6", "last": "0.6"}, "DOGEBCH": {"buy": "0.00000337",
        "sell": "0.0000034", "vol": "652010.04485678", "low": "0.00000333", "open":
        "0.00000335", "high": "0.00000348", "last": "0.0000034"}, "TRXBCH": {"buy":
        "0.00005527", "sell": "0.00005647", "vol": "21953.81884343", "low": "0.00005511",
        "open": "0.00005541", "high": "0.00005648", "last": "0.00005527"}, "RHOCBCH":
        {"buy": "0.00085", "sell": "0.0015763", "vol": "254.5713896", "low": "0.00123",
        "open": "0.00123", "high": "0.0015763", "last": "0.0015763"}, "CDYBCH": {"buy":
        "0.00000596", "sell": "0.00000615", "vol": "5021260.07684886", "low": "0.0000059",
        "open": "0.00000612", "high": "0.0000066", "last": "0.00000615"}, "ZECBCH":
        {"buy": "0.22549176", "sell": "0.23334927", "vol": "4.01962252", "low": "0.22549173",
        "open": "0.229105", "high": "0.2335", "last": "0.22549173"}, "SCUSDT": {"buy":
        "0.00100004", "sell": "0.029999", "vol": "1", "low": "0.00075", "open": "0.00075",
        "high": "0.00075", "last": "0.00075"}, "XMCBCH": {"buy": "0.0055", "sell":
        "0.00608", "vol": "109.3221651", "low": "0.00512", "open": "0.00512", "high":
        "0.009", "last": "0.0061"}, "HSRBTC": {"buy": "0.00073977", "sell": "0.00074124",
        "vol": "8336.53816817", "low": "0.00073329", "open": "0.00076902", "high":
        "0.00076989", "last": "0.00074031"}, "XMCBTC": {"buy": "0.0005503", "sell":
        "0.00068288", "vol": "107.16928735", "low": "0.00052108", "open": "0.00052108",
        "high": "0.000683", "last": "0.000683"}, "KANBCH": {"buy": "0.00002514", "sell":
        "0.00002566", "vol": "2071385.34656942", "low": "0.00002503", "open": "0.00002511",
        "high": "0.00002567", "last": "0.00002518"}, "XMVBTC": {"buy": "0.000034",
        "sell": "0.000039", "vol": "3573.02334798", "low": "0.0000355", "open": "0.000036",
        "high": "0.000039", "last": "0.000036"}, "QTUMBCH": {"buy": "0.01269631",
        "sell": "0.01275759", "vol": "12390.57937801", "low": "0.01085404", "open":
        "0.01089065", "high": "0.01340854", "last": "0.01275759"}, "XMRUSDT": {"buy":
        "115.73", "sell": "188", "vol": "7.103237", "low": "200", "open": "349", "high":
        "351.11111111", "last": "200"}, "KANBTC": {"buy": "0.0000029", "sell": "0.00000337",
        "vol": "1955439.1066979", "low": "0.00000276", "open": "0.00000306", "high":
        "0.00000347", "last": "0.0000029"}, "SCBCH": {"buy": "0.00001365", "sell":
        "0.00001439", "vol": "218660.02377557", "low": "0.000013", "open": "0.0000137",
        "high": "0.00001445", "last": "0.00001445"}, "NEOBCH": {"buy": "0.04243475",
        "sell": "0.04271215", "vol": "1125.9519178", "low": "0.04144223", "open":
        "0.04200149", "high": "0.04356486", "last": "0.04260259"}, "HYDROETH": {"buy":
        "0.0000048", "sell": "0.00000795", "vol": "0", "low": "0", "open": "0", "high":
        "0", "last": "0"}, "TRXBTC": {"buy": "0.00000634", "sell": "0.00000639", "vol":
        "110679.67504344", "low": "0.00000629", "open": "0.00000662", "high": "0.00000689",
        "last": "0.00000635"}, "RHOCBTC": {"buy": "0.000122", "sell": "0.0001583",
        "vol": "254.5713896", "low": "0.000122", "open": "0.00014", "high": "0.00014",
        "last": "0.000122"}, "ZECBTC": {"buy": "0.02606164", "sell": "0.02629346",
        "vol": "297.34482677", "low": "0.02596086", "open": "0.02826397", "high":
        "0.02827265", "last": "0.02625028"}, "NANOBCH": {"buy": "0.003039", "sell":
        "0.003086", "vol": "773587.57565781", "low": "0.003039", "open": "0.00316089",
        "high": "0.00321636", "last": "0.003063"}, "ZRXBCH": {"buy": "0.00087143",
        "sell": "0.00088712", "vol": "16429.42222935", "low": "0.0008676", "open":
        "0.00093265", "high": "0.00093727", "last": "0.00087948"}, "BTVBCH": {"buy":
        "0.00028368", "sell": "0.00029122", "vol": "135026.82945436", "low": "0.00028202",
        "open": "0.00028489", "high": "0.00032089", "last": "0.00029024"}, "SEERETH":
        {"buy": "1.3e-7", "sell": "0.000262", "vol": "360.08373666", "low": "1e-8",
        "open": "0.000131", "high": "0.000568", "last": "1.0e-7"}, "ZECUSDT": {"buy":
        "15", "sell": "0", "vol": "0", "low": "0", "open": "0", "high": "0", "last":
        "0"}, "CETETH": {"buy": "0.00011311", "sell": "0.000128", "vol": "1038921.68526118",
        "low": "0.00011", "open": "0.000144", "high": "0.000144", "last": "0.000129"},
        "EOSDACBCH": {"buy": "0.00014197", "sell": "0.00014223", "vol": "69342607.187074",
        "low": "0.00012315", "open": "0.00013391", "high": "0.00014223", "last": "0.00014223"}}},
        "message": "OK"}'
  recorded_at: Wed, 27 Jun 2018 06:22:29 GMT
recorded_with: VCR 4.0.0
