---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/deals?market=ZRXETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": [{"id": 721233913, "type": "buy", "price": "0.00152973",
        "amount": "1", "date": 1557391641, "date_ms": 1557391641052}, {"id": 721233656,
        "type": "buy", "price": "0.00153554", "amount": "10.3352", "date": 1557391621,
        "date_ms": 1557391621472}, {"id": 721233573, "type": "sell", "price": "0.00153539",
        "amount": "7.4551", "date": 1557391615, "date_ms": 1557391615011}, {"id":
        721233450, "type": "buy", "price": "0.00153561", "amount": "11.275", "date":
        1557391604, "date_ms": 1557391604992}, {"id": 721232732, "type": "buy", "price":
        "0.00153435", "amount"[...]
