---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/ticker/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"code\": 0, \n  \"data\": {\n    \"date\": 1518398792450, \n
        \   \"ticker\": {\n      \"BCHUSDT\": {\n        \"buy\": \"1216.1\", \n        \"high\":
        \"1280\", \n        \"last\": \"1221.99\", \n        \"low\": \"1181.12\",
        \n        \"sell\": \"1259.91\", \n        \"vol\": \"36.5408793\"\n      },
        \n      \"BTCBCH\": {\n        \"buy\": \"6.60000001\", \n        \"high\":
        \"6.9\", \n        \"last\": \"6.69\", \n        \"low\": \"6.43305788\",
        \n        \"sell\": \"6.69\", \n        \"vol\": \"40.43249939\"\n      },
        \n      \"BTCUSDT\": {\n        \"buy\": \"8157.99\", \n        \"high\":
        \"8477\", \n        \"last\": \"8192.5\", \n        \"low\": \"7850\", \n
        \       \"sell\": \"8404.76\", \n        \"vol\": \"53.91316085\"\n      },
        \n      \"BTMBCH\": {\n        \"buy\": \"0.00029193\", \n        \"high\":
        \"0.0002995\", \n        \"last\": \"0.00029193\", \n        \"low\": \"0.00026916\",
        \n        \"sell\": \"0.00029366\", \n        \"vol\": \"13651.29406101\"\n
        \     }, \n      \"BTMBTC\": {\n        \"buy\": \"0.0000436\", \n        \"high\":
        \"0.00004513\", \n        \"last\": \"0.00004377\", \n        \"low\": \"0.00004084\",
        \n        \"sell\": \"0.00004414\", \n        \"vol\": \"12814.86115168\"\n
        \     }, \n      \"BTVBCH\": {\n        \"buy\": \"0.002396\", \n        \"high\":
        \"0.00240678\", \n        \"last\": \"0.00240133\", \n        \"low\": \"0.002396\",
        \n        \"sell\": \"0.00240678\", \n        \"vol\": \"65521.40521747\"\n
        \     }, \n      \"CDYBCH\": {\n        \"buy\": \"0.00002665\", \n        \"high\":
        \"0.000028\", \n        \"last\": \"0.00002749\", \n        \"low\": \"0.000025\",
        \n        \"sell\": \"0.00002749\", \n        \"vol\": \"1152132.61345863\"\n
        \     }, \n      \"CETBCH\": {\n        \"buy\": \"0.00000508\", \n        \"high\":
        \"0.00000528\", \n        \"last\": \"0.00000508\", \n        \"low\": \"0.00000508\",
        \n        \"sell\": \"0.0000051\", \n        \"vol\": \"20546451.11004507\"\n
        \     }, \n      \"DASHBCH\": {\n        \"buy\": \"0.47240901\", \n        \"high\":
        \"0.50539181\", \n        \"last\": \"0.48339399\", \n        \"low\": \"0.457639\",
        \n        \"sell\": \"0.48431593\", \n        \"vol\": \"306.54749775\"\n
        \     }, \n      \"DASHBTC\": {\n        \"buy\": \"0.070157\", \n        \"high\":
        \"0.07368997\", \n        \"last\": \"0.07202795\", \n        \"low\": \"0.07024406\",
        \n        \"sell\": \"0.07423416\", \n        \"vol\": \"539.36603939\"\n
        \     }, \n      \"DOGEBCH\": {\n        \"buy\": \"0.00000399\", \n        \"high\":
        \"0.000004\", \n        \"last\": \"0.000004\", \n        \"low\": \"0.00000378\",
        \n        \"sell\": \"0.000004\", \n        \"vol\": \"4808261.81059881\"\n
        \     }, \n      \"DOGEBTC\": {\n        \"buy\": \"6.0e-7\", \n        \"high\":
        \"6.2e-7\", \n        \"last\": \"6.1e-7\", \n        \"low\": \"5.7e-7\",
        \n        \"sell\": \"6.2e-7\", \n        \"vol\": \"4718052.19057895\"\n
        \     }, \n      \"EOSBCH\": {\n        \"buy\": \"0.00701597\", \n        \"high\":
        \"0.00734501\", \n        \"last\": \"0.00704117\", \n        \"low\": \"0.00694\",
        \n        \"sell\": \"0.00707543\", \n        \"vol\": \"2833.85062001\"\n
        \     }, \n      \"EOSBTC\": {\n        \"buy\": \"0.001042\", \n        \"high\":
        \"0.00105473\", \n        \"last\": \"0.00104609\", \n        \"low\": \"0.001041\",
        \n        \"sell\": \"0.001049\", \n        \"vol\": \"552.45490865\"\n      },
        \n      \"ETCBCH\": {\n        \"buy\": \"0.02012828\", \n        \"high\":
        \"0.02101056\", \n        \"last\": \"0.02012828\", \n        \"low\": \"0.018\",
        \n        \"sell\": \"0.02072929\", \n        \"vol\": \"675.33799915\"\n
        \     }, \n      \"ETCBTC\": {\n        \"buy\": \"0.002963\", \n        \"high\":
        \"0.00315099\", \n        \"last\": \"0.0029901\", \n        \"low\": \"0.00268202\",
        \n        \"sell\": \"0.00308287\", \n        \"vol\": \"565.44799591\"\n
        \     }, \n      \"ETHBCH\": {\n        \"buy\": \"0.65980741\", \n        \"high\":
        \"0.68714334\", \n        \"last\": \"0.6690371\", \n        \"low\": \"0.64102564\",
        \n        \"sell\": \"0.675\", \n        \"vol\": \"171.89011522\"\n      },
        \n      \"ETHBTC\": {\n        \"buy\": \"0.09955\", \n        \"high\": \"0.101253\",
        \n        \"last\": \"0.10019\", \n        \"low\": \"0.09928283\", \n        \"sell\":
        \"0.1011\", \n        \"vol\": \"425.76029155\"\n      }, \n      \"ETHUSDT\":
        {\n        \"buy\": \"799.26\", \n        \"high\": \"854.21\", \n        \"last\":
        \"824.63\", \n        \"low\": \"777.87\", \n        \"sell\": \"849.37\",
        \n        \"vol\": \"59.3778215\"\n      }, \n      \"LTCBCH\": {\n        \"buy\":
        \"0.12050003\", \n        \"high\": \"0.12830858\", \n        \"last\": \"0.1244397\",
        \n        \"low\": \"0.11556403\", \n        \"sell\": \"0.12499999\", \n
        \       \"vol\": \"357.77784184\"\n      }, \n      \"LTCBTC\": {\n        \"buy\":
        \"0.018068\", \n        \"high\": \"0.01864653\", \n        \"last\": \"0.01849\",
        \n        \"low\": \"0.017848\", \n        \"sell\": \"0.01893359\", \n        \"vol\":
        \"519.98752377\"\n      }, \n      \"LTCUSDT\": {\n        \"buy\": \"146.43\",
        \n        \"high\": \"156.85\", \n        \"last\": \"151.04\", \n        \"low\":
        \"141.4\", \n        \"sell\": \"155.71\", \n        \"vol\": \"59.59086729\"\n
        \     }, \n      \"XMRBCH\": {\n        \"buy\": \"0.18500003\", \n        \"high\":
        \"0.19791654\", \n        \"last\": \"0.1890059\", \n        \"low\": \"0.185\",
        \n        \"sell\": \"0.1933358\", \n        \"vol\": \"174.60809619\"\n      },
        \n      \"XMRBTC\": {\n        \"buy\": \"0.02726701\", \n        \"high\":
        \"0.02935937\", \n        \"last\": \"0.02811009\", \n        \"low\": \"0.02762889\",
        \n        \"sell\": \"0.02898234\", \n        \"vol\": \"373.130801\"\n      },
        \n      \"ZECBCH\": {\n        \"buy\": \"0.357\", \n        \"high\": \"0.37593479\",
        \n        \"last\": \"0.36161592\", \n        \"low\": \"0.33613013\", \n
        \       \"sell\": \"0.3575031\", \n        \"vol\": \"327.0246342\"\n      },
        \n      \"ZECBTC\": {\n        \"buy\": \"0.051883\", \n        \"high\":
        \"0.05675912\", \n        \"last\": \"0.053525\", \n        \"low\": \"0.05173848\",
        \n        \"sell\": \"0.05518587\", \n        \"vol\": \"531.04257566\"\n
        \     }\n    }\n  }, \n  \"message\": \"Ok\"\n}\n"
  recorded_at: Mon, 12 Feb 2018 01:26:32 GMT
recorded_with: VCR 3.0.3
