---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/deals?market=ZRXETH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": [{"id": 700682095, "type": "sell", "price": "0.00186664",
        "amount": "30.3", "date": 1553178125, "date_ms": 1553178125582}, {"id": 700682091,
        "type": "sell", "price": "0.0019242", "amount": "30.17862828", "date": 1553178125,
        "date_ms": 1553178125379}, {"id": 700682068, "type": "sell", "price": "0.0019242",
        "amount": "93.62409033", "date": 1553178124, "date_ms": 1553178124622}, {"id":
        700682063, "type": "sell", "price": "0.0019242", "amount": "39.65301734",
        "date": 1553178124, "date_ms": 1553178124311}, {"id": 700682062, "type": "sell",
        "price": "0.00192[...]
