---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/ticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": {"date": 1537579017668, "ticker": {"TRXETH": {"buy":
        "0.00009788", "buy_amount": "8984.244", "sell": "0.00009834", "sell_amount":
        "4373.41707357", "vol": "5476233.19826118", "low": "0.00009291", "open": "0.00009734",
        "high": "0.00010721", "last": "0.00009789"}, "SOPBTC": {"buy": "9.6e-7", "buy_amount":
        "652851.21750466", "sell": "9.8e-7", "sell_amount": "242198.82551582", "vol":
        "18016197.70122171", "low": "9.5e-7", "open": "0.00000101", "high": "0.00000102",
        "last": "9.7e-7"}, "VITEBCH": {"buy": "0.00008383", "buy_amount": "61185.62681144",
        "sell": "0.00008551", "sell_amount": "24560.06929806", "vol": "1404984.58725585",
        "low": "0.00007352", "open": "0.00007878", "high": "0.00008784", "last": "0.00008383"},
        "SEERBTC": {"buy": "3.1e-7", "buy_amount": "1156288.07667427", "sell": "3.2e-7",
        "sell_amount": "1600307.84240273", "vol": "4432350.4641893", "low": "3.0e-7",
        "open": "3.0e-7", "high": "3.2e-7", "last": "3.2e-7"}, "HOTBCH": {"buy": "0.00000223",
        "buy_amount": "83935.66", "sell": "0.00000227", "sell_amount": "1744496.74053315",
        "vol": "8913365.79477013", "low": "0.0000022", "open": "0.0000025", "high":
        "0.0000025", "last": "0.00000227"}, "SEELEBTC": {"buy": "0.00000446", "buy_amount":
        "15122.87334592", "sell": "0.00000447", "sell_amount": "23753.59430592", "vol":
        "2103481.75206166", "low": "0.00000429", "open": "0.00000447", "high": "0.00000485",
        "last": "0.00000446"}, "CETBTC": {"buy": "0.00000358", "buy_amount": "1868.48885763",
        "sell": "0.0000036", "sell_amount": "8819.56730892", "vol": "21470841.14694996",
        "low": "0.00000321", "open": "0.00000333", "high": "0.00000369", "last": "0.0000036"},
        "GNTBTC": {"buy": "0.00002238", "buy_amount": "931.45224069", "sell": "0.00002269",
        "sell_amount": "2099.87897908", "vol": "259360.70816004", "low": "0.00002152",
        "open": "0.000022", "high": "0.00002269", "last": "0.00002269"}, "DOGEBTC":
        {"buy": "8.4e-7", "buy_amount": "724305.36457142", "sell": "8.6e-7", "sell_amount":
        "194805.63461392", "vol": "7396244.03446908", "low": "8.3e-7", "open": "8.7e-7",
        "high": "9.0e-7", "last": "8.6e-7"}, "KANETH": {"buy": "0.00002175", "buy_amount":
        "19459.11945469", "sell": "0.00002197", "sell_amount": "39151.73737058", "vol":
        "14562060.46148485", "low": "0.00002177", "open": "0.00002352", "high": "0.00002419",
        "last": "0.00002177"}, "LFTBTC": {"buy": "0.00000597", "buy_amount": "1297.4589501",
        "sell": "0.00000599", "sell_amount": "941.04972703", "vol": "1613890.2780973",
        "low": "0.00000586", "open": "0.00000609", "high": "0.00000614", "last": "0.00000599"},
        "LTCBTC": {"buy": "0.00906957", "buy_amount": "5.53120163", "sell": "0.00910215",
        "sell_amount": "9.81199536", "vol": "41691.375882", "low": "0.00850739", "open":
        "0.00871241", "high": "0.00924415", "last": "0.00909182"}, "VITEETH": {"buy":
        "0.00016788", "buy_amount": "17948.96800697", "sell": "0.00016993", "sell_amount":
        "93.50989039", "vol": "745606.46229383", "low": "0.00015863", "open": "0.00016082",
        "high": "0.00016997", "last": "0.00016811"}, "QTUMBTC": {"buy": "0.00058271",
        "buy_amount": "217.2876716", "sell": "0.00058659", "sell_amount": "54.19848678",
        "vol": "26079.52405065", "low": "0.00053655", "open": "0.00053735", "high":
        "0.00061389", "last": "0.00058471"}, "ETHBCH": {"buy": "0.49978596", "buy_amount":
        "0.18", "sell": "0.49999999", "sell_amount": "0.0074734", "vol": "70206.74903729",
        "low": "0.46262539", "open": "0.49225074", "high": "0.5", "last": "0.49978596"},
        "EOSUSDT": {"buy": "6.2717", "buy_amount": "49.26893823", "sell": "6.2918",
        "sell_amount": "132.34927674", "vol": "42053.39428518", "low": "5.7987", "open":
        "5.8189", "high": "6.425", "last": "6.2817"}, "MGDBTC": {"buy": "0.0000155",
        "buy_amount": "5023.10242008", "sell": "0.00001555", "sell_amount": "6857.89501234",
        "vol": "250431.06879092", "low": "0.00001455", "open": "0.00001455", "high":
        "0.00001584", "last": "0.00001547"}, "WINGSBTC": {"buy": "0.00002054", "buy_amount":
        "736.7226", "sell": "0.00002059", "sell_amount": "676.34632601", "vol": "378682.00327761",
        "low": "0.00002033", "open": "0.00002193", "high": "0.00002207", "last": "0.00002059"},
        "LFTBCH": {"buy": "0.00008093", "buy_amount": "34.2878", "sell": "0.00008103",
        "sell_amount": "2479.06277447", "vol": "2885160.14803618", "low": "0.00008071",
        "open": "0.00008755", "high": "0.0000878", "last": "0.00008093"}, "THPCETH":
        {"buy": "0.00000348", "buy_amount": "823", "sell": "0.00000349", "sell_amount":
        "2322.11411516", "vol": "371552543.49824811", "low": "0.00000348", "open":
        "0.00000354", "high": "0.0000038", "last": "0.00000349"}, "VETETH": {"buy":
        "0.00757816", "buy_amount": "317.54904185", "sell": "0.00772959", "sell_amount":
        "50.69338701", "vol": "5159.06334433", "low": "0.00760954", "open": "0.00837735",
        "high": "0.00845266", "last": "0.00772959"}, "ETHBTC": {"buy": "0.03685015",
        "buy_amount": "0.0398389", "sell": "0.03690205", "sell_amount": "0.0428452",
        "vol": "113055.99011891", "low": "0.0334535", "open": "0.03406573", "high":
        "0.0374503", "last": "0.03685515"}, "LTCBCH": {"buy": "0.12290371", "buy_amount":
        "7.79889562", "sell": "0.12338618", "sell_amount": "11.13772299", "vol": "19810.24962384",
        "low": "0.1185", "open": "0.12572526", "high": "0.12612199", "last": "0.12314065"},
        "BBNBTC": {"buy": "0.00000138", "buy_amount": "286366.65141541", "sell": "0.0000014",
        "sell_amount": "322882.78923338", "vol": "1272876.59265246", "low": "0.00000138",
        "open": "0.00000144", "high": "0.00000146", "last": "0.0000014"}, "OLTETH":
        {"buy": "0.00003096", "buy_amount": "127395.43532866", "sell": "0.00003126",
        "sell_amount": "22011.10700805", "vol": "14675130.14921378", "low": "0.00003093",
        "open": "0.00003194", "high": "0.00003305", "last": "0.00003114"}, "SOPBCH":
        {"buy": "0.00001313", "buy_amount": "90367.14935304", "sell": "0.00001318",
        "sell_amount": "16394.6973598", "vol": "24052945.91476043", "low": "0.0000128",
        "open": "0.00001462", "high": "0.0000147", "last": "0.00001315"}, "ULTBTC":
        {"vol": "3850977.41179879", "low": "0.00000237", "open": "0.00000271", "high":
        "0.0000028", "last": "0.00000258", "buy": "0.00000256", "buy_amount": "613",
        "sell": "0.00000259", "sell_amount": "293.41"}, "OLTBCH": {"buy": "0.00001545",
        "buy_amount": "153148.17492654", "sell": "0.00001546", "sell_amount": "413613.3571749",
        "vol": "10258874.24464809", "low": "0.00001511", "open": "0.00001572", "high":
        "0.0000159", "last": "0.00001544"}, "DCRBCH": {"buy": "0.07749312", "buy_amount":
        "78.9172664", "sell": "0.07766549", "sell_amount": "95.77374591", "vol": "4438.69243685",
        "low": "0.07468798", "open": "0.08085395", "high": "0.08085395", "last": "0.07749312"},
        "BBNETH": {"buy": "0.00003755", "buy_amount": "70013.526", "sell": "0.00003781",
        "sell_amount": "234.00314727", "vol": "3249328.03167397", "low": "0.00003758",
        "open": "0.00004217", "high": "0.00004285", "last": "0.00003758"}, "OLTBTC":
        {"buy": "0.00000113", "buy_amount": "353601.58061424", "sell": "0.00000115",
        "sell_amount": "26508.81482434", "vol": "3991158.07344433", "low": "0.00000109",
        "open": "0.00000109", "high": "0.00000118", "last": "0.00000114"}, "DCRBTC":
        {"buy": "0.00568689", "buy_amount": "6.45699998", "sell": "0.00574401", "sell_amount":
        "2.76251", "vol": "4523.74949385", "low": "0.00549755", "open": "0.00563332",
        "high": "0.00578102", "last": "0.00574482"}, "DACCBCH": {"buy": "0.0000011",
        "buy_amount": "380000", "sell": "0.00000112", "sell_amount": "4248098.68318585",
        "vol": "19134391.79268209", "low": "0.0000011", "open": "0.00000119", "high":
        "0.0000012", "last": "0.00000112"}, "MTBCH": {"buy": "0.00000779", "buy_amount":
        "106876.74702426", "sell": "0.00000788", "sell_amount": "54567.50477806",
        "vol": "42052009.132596", "low": "0.00000756", "open": "0.00000811", "high":
        "0.00000813", "last": "0.0000078"}, "XMRBCH": {"buy": "0.25012539", "buy_amount":
        "13.39275413", "sell": "0.25038288", "sell_amount": "1.7184153", "vol": "2346.99120996",
        "low": "0.23964884", "open": "0.25791453", "high": "0.26205084", "last": "0.25062668"},
        "NOBSBCH": {"buy": "8.4e-7", "buy_amount": "2388781.81151836", "sell": "8.5e-7",
        "sell_amount": "6117224.84292303", "vol": "36778851.90923913", "low": "8.2e-7",
        "open": "9.0e-7", "high": "9.0e-7", "last": "8.5e-7"}, "SEELEUSDT": {"vol":
        "1117110.65383934", "low": "0.028827", "open": "0.029718", "high": "0.031197",
        "last": "0.030414", "buy": "0.030412", "buy_amount": "15122.87334592", "sell":
        "0.030414", "sell_amount": "47046.59199389"}, "CETUSDT": {"buy": "0.02448",
        "buy_amount": "27774.65683537", "sell": "0.024489", "sell_amount": "333.00049334",
        "vol": "161837694.56821452", "low": "0.021488", "open": "0.021649", "high":
        "0.025149", "last": "0.02448"}, "NEOBTC": {"buy": "0.00290168", "buy_amount":
        "0.5", "sell": "0.00290985", "sell_amount": "0.01547568", "vol": "10656.50913372",
        "low": "0.0027605", "open": "0.002761", "high": "0.00300429", "last": "0.00290512"},
        "CTXCBCH": {"buy": "0.00063953", "buy_amount": "1008.53424618", "sell": "0.00065248",
        "sell_amount": "643.20245593", "vol": "259804.82843511", "low": "0.00061826",
        "open": "0.00064336", "high": "0.000677", "last": "0.00065248"}, "LFTUSDT":
        {"buy": "0.04069153", "buy_amount": "5160.77915968", "sell": "0.040717", "sell_amount":
        "4846.75688889", "vol": "4314760.96342063", "low": "0.03926151", "open": "0.03960004",
        "high": "0.04180146", "last": "0.040717"}, "ZILBCH": {"buy": "0.00007355",
        "buy_amount": "2791.60348", "sell": "0.00007457", "sell_amount": "56023.26067585",
        "vol": "1395998.07159152", "low": "0.00007169", "open": "0.00007615", "high":
        "0.00007767", "last": "0.00007457"}, "BTCBCH": {"buy": "13.55691693", "buy_amount":
        "0.001", "sell": "13.55786016", "sell_amount": "0.001", "vol": "3562.22998837",
        "low": "13.2777", "open": "14.44835132", "high": "14.47003469", "last": "13.55757724"},
        "WINGSETH": {"buy": "0.00055642", "buy_amount": "1534.91212468", "sell": "0.00056621",
        "sell_amount": "1520.52254666", "vol": "252957.29158554", "low": "0.00055225",
        "open": "0.00064752", "high": "0.00064753", "last": "0.00056253"}, "CTXCBTC":
        {"buy": "0.00004717", "buy_amount": "1743.88877428", "sell": "0.00004729",
        "sell_amount": "3013.19269404", "vol": "447006.73290417", "low": "0.00004436",
        "open": "0.00004463", "high": "0.00004815", "last": "0.00004692"}, "XRPBCH":
        {"buy": "0.00107179", "buy_amount": "269.30433199", "sell": "0.00107402",
        "sell_amount": "20", "vol": "1462370.35978829", "low": "0.00095", "open":
        "0.00096653", "high": "0.00162884", "last": "0.00107625"}, "ETCBCH": {"buy":
        "0.02357226", "buy_amount": "8.6987236", "sell": "0.02364302", "sell_amount":
        "146.80910893", "vol": "24002.85666923", "low": "0.02300001", "open": "0.02452485",
        "high": "0.02456088", "last": "0.02360631"}, "CNNBCH": {"vol": "42562592.13353649",
        "low": "9.7e-7", "open": "0.00000112", "high": "0.00000112", "last": "0.000001",
        "buy": "0.000001", "buy_amount": "614160.86020398", "sell": "0.00000101",
        "sell_amount": "2167604.46757086"}, "DACCETH": {"buy": "0.00000221", "buy_amount":
        "190166.95475113", "sell": "0.00000224", "sell_amount": "368712.51915045",
        "vol": "33285388.43886017", "low": "0.00000221", "open": "0.00000241", "high":
        "0.00000246", "last": "0.00000225"}, "MTETH": {"buy": "0.00001563", "buy_amount":
        "255828.0230971", "sell": "0.0000157", "sell_amount": "160829.32977751", "vol":
        "28521816.58853564", "low": "0.00001556", "open": "0.00001648", "high": "0.00001679",
        "last": "0.00001563"}, "XRPBTC": {"buy": "0.00007899", "buy_amount": "1286.9164436",
        "sell": "0.00007926", "sell_amount": "400.77577086", "vol": "6426715.24925241",
        "low": "0.00006597", "open": "0.00006698", "high": "0.00011729", "last": "0.00007913"},
        "ETCBTC": {"buy": "0.00174006", "buy_amount": "8.56503043", "sell": "0.00174269",
        "sell_amount": "7.44783275", "vol": "34719.596982", "low": "0.00167397", "open":
        "0.0016982", "high": "0.00174767", "last": "0.00174139"}, "SEELEBCH": {"buy":
        "0.00006052", "buy_amount": "15122.87334592", "sell": "0.00006067", "sell_amount":
        "3543.76543337", "vol": "7435951.9624526", "low": "0.00005913", "open": "0.00006471",
        "high": "0.00006651", "last": "0.00006041"}, "CETBCH": {"buy": "0.00004867",
        "buy_amount": "8834.93358676", "sell": "0.00004868", "sell_amount": "0.00035805",
        "vol": "553656225.38366938", "low": "0.000045", "open": "0.00004808", "high":
        "0.0000495", "last": "0.00004868"}, "BTMETH": {"buy": "0.00076796", "buy_amount":
        "67.52622747", "sell": "0.00077417", "sell_amount": "715.13857151", "vol":
        "387109.86244299", "low": "0.00074428", "open": "0.00079501", "high": "0.0008191",
        "last": "0.00076796"}, "OMGETH": {"buy": "0.01526165", "buy_amount": "282.404108",
        "sell": "0.01563006", "sell_amount": "124", "vol": "26700.34491824", "low":
        "0.0146641", "open": "0.01493061", "high": "0.01604869", "last": "0.01529924"},
        "EOSETH": {"buy": "0.02501667", "buy_amount": "34.53076188", "sell": "0.02508839",
        "sell_amount": "22.258524", "vol": "13129.57663808", "low": "0.02466823",
        "open": "0.02629066", "high": "0.02711232", "last": "0.02529059"}, "DASHUSDT":
        {"buy": "213.34", "buy_amount": "0.51382534", "sell": "214.11", "sell_amount":
        "0.457", "vol": "790.39848338", "low": "201.35", "open": "201.68", "high":
        "214.19", "last": "213.41"}, "CTXCETH": {"buy": "0.00128222", "buy_amount":
        "330.20956228", "sell": "0.00129497", "sell_amount": "334.20002177", "vol":
        "164464.48652694", "low": "0.00125001", "open": "0.00131601", "high": "0.00138067",
        "last": "0.00128335"}, "CMTBTC": {"buy": "0.00001393", "buy_amount": "143.22658291",
        "sell": "0.00001422", "sell_amount": "1120.34587317", "vol": "593797.81076274",
        "low": "0.00001347", "open": "0.00001408", "high": "0.00001447", "last": "0.00001393"},
        "ZILETH": {"buy": "0.00014783", "buy_amount": "5503.63333602", "sell": "0.00014958",
        "sell_amount": "8463.05122633", "vol": "2538053.52199072", "low": "0.00014442",
        "open": "0.00015546", "high": "0.00016162", "last": "0.0001499"}, "HSRBCH":
        {"buy": "0.00535404", "buy_amount": "80.3056", "sell": "0.00537029", "sell_amount":
        "1562.64677212", "vol": "8457.75572231", "low": "0.00522988", "open": "0.00569041",
        "high": "0.00569041", "last": "0.00537029"}, "SOPETH": {"buy": "0.00002639",
        "buy_amount": "6671.4827527", "sell": "0.00002644", "sell_amount": "16280.92040746",
        "vol": "67634215.55110776", "low": "0.00002606", "open": "0.00002968", "high":
        "0.00002998", "last": "0.0000264"}, "NOBSBTC": {"buy": "6e-8", "buy_amount":
        "16782981.71949265", "sell": "7e-8", "sell_amount": "12208489.19749912", "vol":
        "2984324.26603967", "low": "6e-8", "open": "6e-8", "high": "7e-8", "last":
        "6e-8"}, "OLTUSDT": {"buy": "0.007765", "buy_amount": "61318.34440468", "sell":
        "0.007771", "sell_amount": "0.12956", "vol": "6251587.52323173", "low": "0.00713",
        "open": "0.00713", "high": "0.007891", "last": "0.007771"}, "DASHBCH": {"buy":
        "0.42417451", "buy_amount": "10.0802007", "sell": "0.42531916", "sell_amount":
        "0.96468688", "vol": "561.40205592", "low": "0.40810066", "open": "0.44700979",
        "high": "0.45189454", "last": "0.42531916"}, "THPCBTC": {"buy": "1.2e-7",
        "buy_amount": "4563140.08400418", "sell": "1.3e-7", "sell_amount": "3500807.99663351",
        "vol": "3052284.51750974", "low": "1.2e-7", "open": "1.2e-7", "high": "1.3e-7",
        "last": "1.2e-7"}, "VETBTC": {"buy": "0.0002794", "buy_amount": "66.05099422",
        "sell": "0.00028267", "sell_amount": "52.48189109", "vol": "24406.30583397",
        "low": "0.00027353", "open": "0.00028622", "high": "0.00029314", "last": "0.00028306"},
        "SEERBCH": {"buy": "0.00000427", "buy_amount": "525836.00485874", "sell":
        "0.00000431", "sell_amount": "49057.84581294", "vol": "40703053.9894851",
        "low": "0.00000414", "open": "0.00000445", "high": "0.00000446", "last": "0.00000432"},
        "NOBSETH": {"buy": "0.0000017", "buy_amount": "109940.91942572", "sell": "0.00000171",
        "sell_amount": "6555425.30703379", "vol": "40565291.31028171", "low": "0.0000017",
        "open": "0.00000182", "high": "0.00000184", "last": "0.00000171"}, "HYDROBTC":
        {"buy": "5.0e-7", "buy_amount": "940000.55975606", "sell": "5.1e-7", "sell_amount":
        "1292685.55083317", "vol": "47565157.37595854", "low": "4.7e-7", "open": "5.3e-7",
        "high": "5.4e-7", "last": "5.1e-7"}, "CMTBCH": {"buy": "0.00018888", "buy_amount":
        "1107.80110537", "sell": "0.00019316", "sell_amount": "326.75075705", "vol":
        "239822.97669894", "low": "0.00018729", "open": "0.00020382", "high": "0.00020704",
        "last": "0.0001899"}, "WHCBCH": {"buy": "0.00783345", "buy_amount": "342.08076407",
        "sell": "0.00783346", "sell_amount": "196.58773893", "vol": "1087656.57099648",
        "low": "0.0078308", "open": "0.00792737", "high": "0.00818624", "last": "0.00783345"},
        "BTUCET": {"vol": "1310674594.28918863", "low": "0.2595", "open": "0.3617",
        "high": "0.3621", "last": "0.2607", "buy": "0.2607", "buy_amount": "1885.56953419",
        "sell": "0.2608", "sell_amount": "380.3763625"}, "ZRXETH": {"buy": "0.00255657",
        "buy_amount": "336.75395984", "sell": "0.00258302", "sell_amount": "112.09548999",
        "vol": "152295.232206", "low": "0.0025307", "open": "0.00256085", "high":
        "0.00294178", "last": "0.00256433"}, "SCBTC": {"buy": "8.9e-7", "buy_amount":
        "106821.29766533", "sell": "9.0e-7", "sell_amount": "206956.98662877", "vol":
        "6909324.94210636", "low": "8.3e-7", "open": "8.5e-7", "high": "9.0e-7", "last":
        "9.0e-7"}, "BBNBCH": {"buy": "0.00001874", "buy_amount": "11473.02716", "sell":
        "0.00001887", "sell_amount": "167896.29709356", "vol": "2057686.46254123",
        "low": "0.00001876", "open": "0.00002059", "high": "0.0000207", "last": "0.00001887"},
        "DACCBTC": {"buy": "8e-8", "buy_amount": "5443204.36830349", "sell": "9e-8",
        "sell_amount": "6606166.79359299", "vol": "15197828.16558444", "low": "8e-8",
        "open": "9e-8", "high": "9e-8", "last": "8e-8"}, "MTBTC": {"buy": "5.7e-7",
        "buy_amount": "578012.20729819", "sell": "5.8e-7", "sell_amount": "77281.05692742",
        "vol": "7015695.82058248", "low": "5.4e-7", "open": "5.6e-7", "high": "6.2e-7",
        "last": "5.8e-7"}, "XMRBTC": {"buy": "0.01841937", "buy_amount": "0.06188155",
        "sell": "0.01848424", "sell_amount": "4.15105873", "vol": "2092.32796428",
        "low": "0.01754084", "open": "0.0178502", "high": "0.0184698", "last": "0.0184698"},
        "OMGBTC": {"buy": "0.0005616", "buy_amount": "558.10993375", "sell": "0.00056591",
        "sell_amount": "28.09779993", "vol": "34614.80484583", "low": "0.00050968",
        "open": "0.00051029", "high": "0.00057511", "last": "0.00056083"}, "BTMBTC":
        {"buy": "0.00002826", "buy_amount": "1686.31279487", "sell": "0.00002848",
        "sell_amount": "7508.70058333", "vol": "529061.12226226", "low": "0.00002657",
        "open": "0.00002704", "high": "0.00002897", "last": "0.00002812"}, "EOSBTC":
        {"buy": "0.00092052", "buy_amount": "51.70377094", "sell": "0.00092493", "sell_amount":
        "187.49004625", "vol": "13943.1140508", "low": "0.00086627", "open": "0.00089826",
        "high": "0.00094268", "last": "0.00091731"}, "THPCBCH": {"buy": "0.00000173",
        "buy_amount": "1554558.04241032", "sell": "0.00000174", "sell_amount": "3135841.50059373",
        "vol": "290665248.11336164", "low": "0.00000172", "open": "0.00000174", "high":
        "0.0000018", "last": "0.00000174"}, "VETBCH": {"buy": "0.00379358", "buy_amount":
        "1265.3099559", "sell": "0.00379882", "sell_amount": "702.23229777", "vol":
        "36746.602857", "low": "0.00374536", "open": "0.00414077", "high": "0.00414077",
        "last": "0.00379882"}, "CMTETH": {"buy": "0.00038036", "buy_amount": "0.72225207",
        "sell": "0.00038668", "sell_amount": "53.33050491", "vol": "123163.93883171",
        "low": "0.00037747", "open": "0.00041403", "high": "0.00041938", "last": "0.00038144"},
        "BCHUSDT": {"buy": "502.27", "buy_amount": "0.02", "sell": "502.3", "sell_amount":
        "0.1", "vol": "60443.01446828", "low": "449.4", "open": "449.92", "high":
        "512.15", "last": "502.29"}, "HOTETH": {"buy": "0.00000451", "buy_amount":
        "29.71175", "sell": "0.00000453", "sell_amount": "93186.70380639", "vol":
        "19021574.09698778", "low": "0.00000448", "open": "0.00000502", "high": "0.00000513",
        "last": "0.00000452"}, "WWBBCH": {"vol": "2469890.84884328", "low": "0.00007765",
        "open": "0.00009323", "high": "0.000104", "last": "0.0000849", "buy": "0.00008449",
        "buy_amount": "8309.6751474", "sell": "0.00008599", "sell_amount": "38752.15872845"},
        "EGTBCH": {"buy": "0.00000307", "buy_amount": "1578286.89524054", "sell":
        "0.00000309", "sell_amount": "1505212.70741517", "vol": "26571704.1650823",
        "low": "0.00000301", "open": "0.00000333", "high": "0.00000333", "last": "0.00000309"},
        "NASHBCH": {"buy": "0.00000138", "buy_amount": "14631.69690811", "sell": "0.00000139",
        "sell_amount": "2466691.32289876", "vol": "55138352.69386095", "low": "0.00000137",
        "open": "0.00000157", "high": "0.00000157", "last": "0.00000137"}, "CNNBTC":
        {"buy": "7e-8", "buy_amount": "8622487.81925038", "sell": "8e-8", "sell_amount":
        "6284278.72993409", "vol": "1507395.54229664", "low": "7e-8", "open": "8e-8",
        "high": "8e-8", "last": "8e-8"}, "TCTBCH": {"buy": "0.00005688", "buy_amount":
        "91297.43279283", "sell": "0.00005689", "sell_amount": "64888.77875696", "vol":
        "1584805.56910113", "low": "0.00005686", "open": "0.00006184", "high": "0.00006236",
        "last": "0.00005689"}, "LOOMBCH": {"buy": "0.00018848", "buy_amount": "16655.16944595",
        "sell": "0.00018894", "sell_amount": "25491.3128808", "vol": "990841.08554884",
        "low": "0.00017975", "open": "0.00018742", "high": "0.00019696", "last": "0.00018893"},
        "LTCUSDT": {"buy": "61.82", "buy_amount": "2", "sell": "61.85", "sell_amount":
        "1.94418605", "vol": "14612.01436446", "low": "56.37", "open": "56.64", "high":
        "62.69", "last": "61.82"}, "TCTBTC": {"buy": "0.00000419", "buy_amount": "36709.81736181",
        "sell": "0.00000421", "sell_amount": "3775.80645719", "vol": "660332.70076072",
        "low": "0.00000406", "open": "0.00000428", "high": "0.00000438", "last": "0.00000425"},
        "LOOMBTC": {"buy": "0.0000139", "buy_amount": "1140", "sell": "0.00001395",
        "sell_amount": "1140", "vol": "8475043.06889962", "low": "0.00001272", "open":
        "0.00001283", "high": "0.00001435", "last": "0.00001393"}, "OMGBCH": {"buy":
        "0.00761351", "buy_amount": "54.66231772", "sell": "0.00768079", "sell_amount":
        "27.86856732", "vol": "46971.74487106", "low": "0.00711788", "open": "0.00736277",
        "high": "0.00768079", "last": "0.00768079"}, "BTMBCH": {"buy": "0.00038303",
        "buy_amount": "1683.90963234", "sell": "0.00038687", "sell_amount": "715.13857151",
        "vol": "349250.3291212", "low": "0.00036684", "open": "0.00039014", "high":
        "0.00039655", "last": "0.00038688"}, "EOSBCH": {"buy": "0.0124815", "buy_amount":
        "34.45102732", "sell": "0.01252585", "sell_amount": "0.037339", "vol": "35848.97901083",
        "low": "0.01189574", "open": "0.01293139", "high": "0.01294608", "last": "0.01252585"},
        "BTCUSDT": {"buy": "6810.74", "buy_amount": "0.0004683", "sell": "6811.5",
        "sell_amount": "0.03200546", "vol": "3943.88051004", "low": "6491.24", "open":
        "6502.3", "high": "6833.5", "last": "6810.74"}, "CARDBCH": {"buy": "0.00000445",
        "buy_amount": "87213.52925721", "sell": "0.00000448", "sell_amount": "110082.1289294",
        "vol": "67886458.81153243", "low": "0.00000436", "open": "0.00000488", "high":
        "0.00000491", "last": "0.00000446"}, "EGTETH": {"buy": "0.00000618", "buy_amount":
        "1710721.48584963", "sell": "0.00000632", "sell_amount": "178160.77280065",
        "vol": "14256491.35267877", "low": "0.00000614", "open": "0.00000676", "high":
        "0.00000689", "last": "0.0000063"}, "NASHETH": {"buy": "0.00000275", "buy_amount":
        "1485522.21038839", "sell": "0.00000278", "sell_amount": "701683.92482549",
        "vol": "71600556.92899523", "low": "0.00000276", "open": "0.00000323", "high":
        "0.00000324", "last": "0.00000276"}, "NANOBTC": {"buy": "0.00037992", "buy_amount":
        "167.67617196", "sell": "0.00038153", "sell_amount": "41.68635752", "vol":
        "27640.32479774", "low": "0.00037317", "open": "0.00039529", "high": "0.0004012",
        "last": "0.00037992"}, "ZRXBTC": {"buy": "0.0000942", "buy_amount": "337.49777462",
        "sell": "0.00009471", "sell_amount": "1711.33487329", "vol": "281765.30525251",
        "low": "0.00008707", "open": "0.00008755", "high": "0.00009917", "last": "0.0000947"},
        "HYDROBCH": {"buy": "0.00000682", "buy_amount": "27700", "sell": "0.00000683",
        "sell_amount": "852528.19873321", "vol": "28723648.85139481", "low": "0.00000661",
        "open": "0.00000772", "high": "0.00000777", "last": "0.00000683"}, "TCTETH":
        {"buy": "0.00011359", "buy_amount": "17616.73860288", "sell": "0.00011704",
        "sell_amount": "9380.40491951", "vol": "512931.81090882", "low": "0.00011354",
        "open": "0.00012704", "high": "0.00012865", "last": "0.000114"}, "LOOMETH":
        {"buy": "0.0003771", "buy_amount": "1120.76196814", "sell": "0.00037952",
        "sell_amount": "289.75482", "vol": "885341.18607903", "low": "0.00037152",
        "open": "0.00037646", "high": "0.00041802", "last": "0.00037981"}, "ZILBTC":
        {"buy": "0.00000541", "buy_amount": "63520.41782957", "sell": "0.00000548",
        "sell_amount": "60729.95551828", "vol": "2963394.5759673", "low": "0.00000514",
        "open": "0.00000527", "high": "0.0000056", "last": "0.00000547"}, "ETHUSDT":
        {"buy": "251.08", "buy_amount": "0.0141006", "sell": "251.11", "sell_amount":
        "0.01541838", "vol": "22730.94552964", "low": "220.94", "open": "221.48",
        "high": "254.78", "last": "251.11"}, "DASHBTC": {"buy": "0.03128294", "buy_amount":
        "0.787", "sell": "0.03139983", "sell_amount": "0.50543479", "vol": "2164.53341404",
        "low": "0.03010548", "open": "0.031157", "high": "0.03177752", "last": "0.03123909"},
        "MGDBCH": {"buy": "0.00021042", "buy_amount": "12988.47279385", "sell": "0.00021046",
        "sell_amount": "3923.06659951", "vol": "367879.62532403", "low": "0.00020607",
        "open": "0.00020915", "high": "0.00021098", "last": "0.00021046"}, "WINGSBCH":
        {"buy": "0.00027833", "buy_amount": "4529.29718812", "sell": "0.00028038",
        "sell_amount": "720.38718465", "vol": "319388.77311745", "low": "0.00027349",
        "open": "0.00032064", "high": "0.00032064", "last": "0.000279"}, "ETCUSDT":
        {"buy": "11.8404", "buy_amount": "4.35663144", "sell": "11.8991", "sell_amount":
        "16.65", "vol": "29663.03841311", "low": "11.0209", "open": "11.0457", "high":
        "11.8786", "last": "11.877"}, "XRPUSDT": {"buy": "0.53704", "buy_amount":
        "519.0696562", "sell": "0.540922", "sell_amount": "190.41562369", "vol": "5952951.48160285",
        "low": "0.430037", "open": "0.433523", "high": "0.798", "last": "0.536959"},
        "GNTBCH": {"buy": "0.00030378", "buy_amount": "1353.2674", "sell": "0.0003069",
        "sell_amount": "3967.05875434", "vol": "207811.84241756", "low": "0.0002965",
        "open": "0.00031965", "high": "0.00031965", "last": "0.0003069"}, "DOGEBCH":
        {"buy": "0.00001133", "buy_amount": "51.09991173", "sell": "0.00001161", "sell_amount":
        "78.53470847", "vol": "5015185.24286398", "low": "0.00001123", "open": "0.00001289",
        "high": "0.00001289", "last": "0.00001162"}, "WWBBTC": {"vol": "1763065.0074958",
        "low": "0.00000561", "open": "0.0000065", "high": "0.0000065", "last": "0.00000626",
        "buy": "0.00000625", "buy_amount": "51996.5630906", "sell": "0.00000626",
        "sell_amount": "10557.00037084"}, "CARDETH": {"buy": "0.00000893", "buy_amount":
        "233972.34320053", "sell": "0.00000898", "sell_amount": "6709.377502", "vol":
        "53753534.5918722", "low": "0.00000887", "open": "0.00000996", "high": "0.00001002",
        "last": "0.00000894"}, "EGTBTC": {"buy": "2.2e-7", "buy_amount": "2411242.42948119",
[...]
