---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/ticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": {"date": 1553273740984, "ticker": {"ADABCH": {"period":
        86400, "last": "0.00036302", "open": "0.00034486", "close": "0.00036302",
        "high": "0.00037182", "low": "0.00034486", "volume": "13847.63004349", "deal":
        "5.1287910089401234", "buy": "0.00035997", "buy_amount": "507.71498906", "sell":
        "0.00036611", "sell_amount": "16358.39688951"}, "TRXETH": {"period": 86400,
        "last": "0.00016559", "open": "0.00016377", "close": "0.00016559", "high":
        "0.00016559", "low": "0.00016335", "volume": "14163.18031242", "deal": "2.320619201916848",
        "buy": "0.0001655", "buy_amount": "42716.45701459", "sell": "0.00016694",
        "sell_amount": "9865.47"}, "HOTBCH": {"period": 86400, "last": "0.00000766",
        "open": "0.00000765", "close": "0.00000766", "high": "0.0000081", "low": "0.00000751",
        "volume": "398457.30854434", "deal": "3.031823824932003", "buy": "0.00000744",
        "buy_amount": "931271.64461664", "sell": "0.00000789", "sell_amount": "19221"},
        "SEERBTC": {"period": 86400, "last": "1.5e-7", "open": "1.1e-7", "close":
        "1.5e-7", "high": "1.6e-7", "low": "1.1e-7", "volume": "110527.54436367",
        "deal": "0.0122456840058207", "buy": "1.3e-7", "buy_amount": "60395.08846153",
        "sell": "1.5e-7", "sell_amount": "5330.83610278"}, "SEELEBTC": {"period":
        86400, "last": "0.00000247", "open": "0.00000233", "close": "0.00000247",
        "high": "0.00000247", "low": "0.00000233", "volume": "15868.03688501", "deal":
        "0.0382508998999673", "buy": "0.00000217", "buy_amount": "1074.59963133",
        "sell": "0.00000247", "sell_amount": "1808.03639945"}, "CETBTC": {"period":
        86400, "last": "0.00000372", "open": "0.00000236", "close": "0.00000372",
        "high": "0.00000378", "low": "0.00000227", "volume": "52202464.0584841", "deal":
        "153.1653127641124229", "buy": "0.00000371", "buy_amount": "9018.5537364",
        "sell": "0.00000372", "sell_amount": "673.0997774"}, "BTUBCH": {"period":
        86400, "last": "0.00000789", "open": "0.0000067", "close": "0.00000789", "high":
        "0.00000789", "low": "0.00000666", "volume": "1504403.34261156", "deal": "11.1184731498079901",
        "buy": "0.00000789", "buy_amount": "357570.9204752", "sell": "0.00000792",
        "sell_amount": "1"}, "GNTBTC": {"period": 86400, "last": "0.00001965", "open":
        "0.0000195", "close": "0.00001965", "high": "0.00001978", "low": "0.0000195",
        "volume": "1931.57002025", "deal": "0.0380891826953655", "buy": "0.00001959",
        "buy_amount": "1", "sell": "0.00001968", "sell_amount": "1"}, "DOGEBTC": {"period":
        86400, "last": "5.0e-7", "open": "5.0e-7", "close": "5.0e-7", "high": "5.1e-7",
        "low": "5.0e-7", "volume": "2002639.75333481", "deal": "1.0119041762752475",
        "buy": "5.0e-7", "buy_amount": "3510248.96370161", "sell": "5.1e-7", "sell_amount":
        "541304.72089693"}, "KANETH": {"period": 86400, "last": "0.00002373", "open":
        "0.00002514", "close": "0.00002373", "high": "0.00003069", "low": "0.00002349",
        "volume": "216603.27482748", "deal": "5.8516012524205085", "buy": "0.00002367",
        "buy_amount": "1", "sell": "0.00002379", "sell_amount": "1"}, "ETHUSDC": {"period":
        86400, "last": "134.82", "open": "133.86", "close": "134.82", "high": "137.08",
        "low": "133.74", "volume": "13.30894991", "deal": "1797.3991447767", "buy":
        "134.59", "buy_amount": "8.5329888", "sell": "136.79", "sell_amount": "0.05806707"},
        "LTCBTC": {"period": 86400, "last": "0.0146059", "open": "0.01467121", "close":
        "0.0146059", "high": "0.01484097", "low": "0.0146059", "volume": "44.06933585",
        "deal": "0.649266573303508", "buy": "0.0148102", "buy_amount": "3", "sell":
        "0.01486082", "sell_amount": "3"}, "BTCUSDC": {"period": 86400, "last": "3965.48",
        "open": "3945.4", "close": "3965.48", "high": "4008.26", "low": "3945.4",
        "volume": "0.88118251", "deal": "3510.2202430123", "buy": "3961.33", "buy_amount":
        "0.12546736", "sell": "3992", "sell_amount": "0.738"}, "HCBCH": {"period":
        86400, "last": "0.00821325", "open": "0.00842347", "close": "0.00821325",
        "high": "0.00855379", "low": "0.00741844", "volume": "23.00714267", "deal":
        "0.1922001422985531", "buy": "0.0081313", "buy_amount": "1961.78042059", "sell":
        "0.0083", "sell_amount": "125.60290992"}, "BSVBCH": {"period": 86400, "last":
        "0.41894485", "open": "0.43376427", "close": "0.41894485", "high": "0.43427893",
        "low": "0.41881962", "volume": "1104.41109135", "deal": "474.0679261663535232",
        "buy": "0.41881962", "buy_amount": "0.01279311", "sell": "0.41905969", "sell_amount":
        "0.3392"}, "ETHBCH": {"period": 86400, "last": "0.86770135", "open": "0.88985713",
        "close": "0.86770135", "high": "0.89779485", "low": "0.8629819", "volume":
        "349.71439179", "deal": "306.7197646690710558", "buy": "0.86211733", "buy_amount":
        "3.24560488", "sell": "0.87328701", "sell_amount": "2.4"}, "QTUMBTC": {"period":
        86400, "last": "0.00062942", "open": "0.00062386", "close": "0.00062942",
        "high": "0.00064069", "low": "0.00061538", "volume": "867.47841879", "deal":
        "0.5405375503109484", "buy": "0.00062643", "buy_amount": "562.66894709", "sell":
        "0.00062942", "sell_amount": "1.04700656"}, "EOSUSDT": {"period": 86400, "last":
        "3.625", "open": "3.5613", "close": "3.625", "high": "3.6396", "low": "3.5613",
        "volume": "5176.30664834", "deal": "18706.295880236178", "buy": "3.6185",
        "buy_amount": "34", "sell": "3.625", "sell_amount": "3.12414"}, "WINGSBTC":
        {"period": 86400, "last": "0.00001083", "open": "0.0000105", "close": "0.00001083",
        "high": "0.00001083", "low": "0.0000105", "volume": "6076.02544506", "deal":
        "0.0653246158298501", "buy": "0.00001076", "buy_amount": "1", "sell": "0.00001083",
        "sell_amount": "8697.45397853"}, "VETETH": {"period": 86400, "last": "0.00004218",
        "open": "0.00004038", "close": "0.00004218", "high": "0.0000426", "low": "0.00004018",
        "volume": "75544.54934253", "deal": "3.0886151149534788", "buy": "0.00004212",
        "buy_amount": "1", "sell": "0.00004236", "sell_amount": "1"}, "THPCETH": {"period":
        86400, "last": "0.00000444", "open": "0.00000446", "close": "0.00000444",
        "high": "0.00000466", "low": "0.00000444", "volume": "21720808.93765487",
        "deal": "97.203154637652755", "buy": "0.00000444", "buy_amount": "8313.55185535",
        "sell": "0.0000049", "sell_amount": "18659.35663655"}, "LTCBCH": {"period":
        86400, "last": "0.3735013", "open": "0.38486118", "close": "0.3735013", "high":
        "0.38760019", "low": "0.37193517", "volume": "77.00956794", "deal": "29.1439220947993184",
        "buy": "0.37050183", "buy_amount": "2", "sell": "0.37674068", "sell_amount":
        "0.3784"}, "HCBTC": {"period": 86400, "last": "0.00032296", "open": "0.00031915",
        "close": "0.00032296", "high": "0.00032587", "low": "0.00031915", "volume":
        "61.43701178", "deal": "0.0200085245431397", "buy": "0.00032312", "buy_amount":
        "2201.4591327", "sell": "0.00032587", "sell_amount": "0.809774"}, "BSVBTC":
        {"period": 86400, "last": "0.01654061", "open": "0.01636951", "close": "0.01654061",
        "high": "0.01673795", "low": "0.01623601", "volume": "172.29634437", "deal":
        "2.8500577251550939", "buy": "0.01648582", "buy_amount": "14.00354688", "sell":
        "0.01659399", "sell_amount": "0.98168743"}, "ETHBTC": {"period": 86400, "last":
        "0.03409254", "open": "0.03379", "close": "0.03409254", "high": "0.03445224",
        "low": "0.03342482", "volume": "665.66097804", "deal": "22.5992383603601",
        "buy": "0.03410242", "buy_amount": "0.4298375", "sell": "0.03424164", "sell_amount":
        "5.97"}, "OLTETH": {"period": 86400, "last": "0.00001995", "open": "0.00002162",
        "close": "0.00001995", "high": "0.00002162", "low": "0.0000197", "volume":
        "302248.37915247", "deal": "6.0901486389179297", "buy": "0.00001995", "buy_amount":
        "7166.36724322", "sell": "0.00002", "sell_amount": "1"}, "PAXUSDT": {"period":
        86400, "last": "1.0009", "open": "1.0021", "close": "1.0009", "high": "1.0024",
        "low": "1.0003", "volume": "3272.18744277", "deal": "3278.498213354713", "buy":
        "1.0009", "buy_amount": "1191.15092685", "sell": "1.0023", "sell_amount":
        "1106.77191821"}, "BCHUSDC": {"period": 86400, "last": "158.21", "open": "151.48",
        "close": "158.21", "high": "158.21", "low": "151.09", "volume": "17.62788134",
        "deal": "2703.8126565802", "buy": "156.67", "buy_amount": "1", "sell": "157.93",
        "sell_amount": "3.4146426"}, "OLTBCH": {"period": 86400, "last": "0.00001733",
        "open": "0.00001924", "close": "0.00001733", "high": "0.00001924", "low":
        "0.00001695", "volume": "201800.55959927", "deal": "3.6890348305273894", "buy":
        "0.0000173", "buy_amount": "1", "sell": "0.0000174", "sell_amount": "2.64699039"},
        "DCRBCH": {"period": 86400, "last": "0.1171468", "open": "0.1227822", "close":
        "0.1171468", "high": "0.12289024", "low": "0.11462306", "volume": "29.4070155",
        "deal": "3.5190914857582616", "buy": "0.11539888", "buy_amount": "0.89448872",
        "sell": "0.1187363", "sell_amount": "11.976"}, "ULTBTC": {"period": 86400,
        "last": "0.00000153", "open": "0.00000148", "close": "0.00000153", "high":
        "0.00000156", "low": "0.00000148", "volume": "394927.47297905", "deal": "0.5901174393553247",
        "buy": "0.00000153", "buy_amount": "609", "sell": "0.00000154", "sell_amount":
        "14.55624841"}, "XMRBCH": {"period": 86400, "last": "0.33759619", "open":
        "0.34969286", "close": "0.33759619", "high": "0.35067835", "low": "0.33370189",
        "volume": "25.58178561", "deal": "8.7848970368960976", "buy": "0.33425198",
        "buy_amount": "0.8", "sell": "0.34071421", "sell_amount": "0.01904454"}, "MTBCH":
        {"period": 86400, "last": "0.00001286", "open": "0.00001339", "close": "0.00001286",
        "high": "0.00001339", "low": "0.00001016", "volume": "57685.15240789", "deal":
        "0.7539335613204032", "buy": "0.00001284", "buy_amount": "1", "sell": "0.0000129",
        "sell_amount": "1"}, "OLTBTC": {"period": 86400, "last": "6.4e-7", "open":
        "7.4e-7", "close": "6.4e-7", "high": "7.4e-7", "low": "6.4e-7", "volume":
        "334943.47814008", "deal": "0.2394004630691817", "buy": "6.0e-7", "buy_amount":
        "2517", "sell": "7.3e-7", "sell_amount": "1.80641074"}, "DCRBTC": {"period":
        86400, "last": "0.00460676", "open": "0.00466973", "close": "0.00460676",
        "high": "0.00466986", "low": "0.00451177", "volume": "23.39583434", "deal":
        "0.1080204006379265", "buy": "0.00459482", "buy_amount": "122.8852434", "sell":
        "0.00470221", "sell_amount": "6.14008819"}, "CETUSDT": {"period": 86400, "last":
        "0.014841", "open": "0.00935", "close": "0.014841", "high": "0.01496", "low":
        "0.009054", "volume": "84121838.55859295", "deal": "995637.09178341438605",
        "buy": "0.014841", "buy_amount": "199992.66142997", "sell": "0.014842", "sell_amount":
        "168504.74694122"}, "CTXCBCH": {"period": 86400, "last": "0.00106557", "open":
        "0.00103582", "close": "0.00106557", "high": "0.00111727", "low": "0.0010201",
        "volume": "2990.3400002", "deal": "3.2222451845376229", "buy": "0.00106321",
        "buy_amount": "343.42292767", "sell": "0.00106808", "sell_amount": "1"}, "NEOBTC":
        {"period": 86400, "last": "0.00229723", "open": "0.00225559", "close": "0.00229723",
        "high": "0.00231292", "low": "0.00224021", "volume": "238.11358215", "deal":
        "0.5452708043588788", "buy": "0.00229026", "buy_amount": "12.06033027", "sell":
        "0.00230088", "sell_amount": "24.04283518"}, "ZILBCH": {"period": 86400, "last":
        "0.00012301", "open": "0.00011951", "close": "0.00012301", "high": "0.00012405",
        "low": "0.00010994", "volume": "61993.08492446", "deal": "7.4579217195561695",
        "buy": "0.0001225", "buy_amount": "3454.81273469", "sell": "0.00012322", "sell_amount":
        "55087.61982034"}, "GUSDUSDT": {"period": 86400, "last": "1.0018", "open":
        "1.0011", "close": "1.0018", "high": "1.002", "low": "1.0011", "volume": "5519.3669103",
        "deal": "5529.364654916935", "buy": "1.0011", "buy_amount": "220.0527539",
        "sell": "1.0017", "sell_amount": "919.72265329"}, "WINGSETH": {"period": 86400,
        "last": "0.0003155", "open": "0.00031045", "close": "0.0003155", "high": "0.00031821",
        "low": "0.00031045", "volume": "18.01572648", "deal": "0.0056793156442118",
        "buy": "0.00031463", "buy_amount": "1", "sell": "0.00031636", "sell_amount":
        "1"}, "XRPBCH": {"period": 86400, "last": "0.00197805", "open": "0.00203762",
        "close": "0.00197805", "high": "0.00204402", "low": "0.00195256", "volume":
        "31390.47714095", "deal": "63.1437335294118739", "buy": "0.00197137", "buy_amount":
        "709.29874774", "sell": "0.00198448", "sell_amount": "705.1059039"}, "ETCBCH":
        {"period": 86400, "last": "0.0306138", "open": "0.03077028", "close": "0.0306138",
        "high": "0.03222222", "low": "0.03054553", "volume": "324.48032224", "deal":
        "10.1760120790079391", "buy": "0.03022557", "buy_amount": "22.66075517", "sell":
        "0.03101242", "sell_amount": "275.2862753"}, "CTXCBTC": {"period": 86400,
        "last": "0.00004201", "open": "0.00003954", "close": "0.00004201", "high":
        "0.00004396", "low": "0.00003954", "volume": "7978.4857982", "deal": "0.3404218387491419",
        "buy": "0.00004187", "buy_amount": "617.968037", "sell": "0.00004215", "sell_amount":
        "1"}, "MTETH": {"period": 86400, "last": "0.00001487", "open": "0.00001505",
        "close": "0.00001487", "high": "0.0000151", "low": "0.00001487", "volume":
        "199575.11875227", "deal": "3.0047328051055643", "buy": "0.00001481", "buy_amount":
        "1", "sell": "0.00001491", "sell_amount": "1"}, "CNNBCH": {"period": 86400,
        "last": "8.4e-7", "open": "8.4e-7", "close": "8.4e-7", "high": "8.4e-7", "low":
        "8.3e-7", "volume": "180615.52784225", "deal": "0.1516441751042248", "buy":
        "8.4e-7", "buy_amount": "871411.3695418", "sell": "8.5e-7", "sell_amount":
        "30154.40570161"}, "SEELEBCH": {"period": 86400, "last": "0.00006186", "open":
        "0.00006571", "close": "0.00006186", "high": "0.00006572", "low": "0.00004",
        "volume": "1904.25479283", "deal": "0.1190738054380779", "buy": "0.00006186",
        "buy_amount": "0.99919936", "sell": "0.00006201", "sell_amount": "1"}, "CETBCH":
        {"period": 86400, "last": "0.00009372", "open": "0.000062", "close": "0.00009372",
        "high": "0.00009604", "low": "0.000059", "volume": "25635262.84617418", "deal":
        "1956.0303108899874416", "buy": "0.00009378", "buy_amount": "7438.90840982",
        "sell": "0.00009498", "sell_amount": "7442.92346466"}, "XRPBTC": {"period":
        86400, "last": "0.00007803", "open": "0.00007716", "close": "0.00007803",
        "high": "0.00007821", "low": "0.00007708", "volume": "39360.73690093", "deal":
        "3.0580644822160424", "buy": "0.00007786", "buy_amount": "475.7539414", "sell":
        "0.00007803", "sell_amount": "0.83113449"}, "ETCBTC": {"period": 86400, "last":
        "0.0012203", "open": "0.00117122", "close": "0.0012203", "high": "0.00123745",
        "low": "0.00117122", "volume": "1606.08824764", "deal": "1.9326631072655233",
        "buy": "0.00121512", "buy_amount": "20", "sell": "0.0012203", "sell_amount":
        "2.50348373"}, "DASHUSDT": {"period": 86400, "last": "91.02", "open": "89.95",
        "close": "91.02", "high": "91.05", "low": "89.23", "volume": "14.39210833",
        "deal": "1295.4339148709", "buy": "91.02", "buy_amount": "6.342773", "sell":
        "91.44", "sell_amount": "1.13042049"}, "OMGETH": {"period": 86400, "last":
        "0.01162786", "open": "0.01147125", "close": "0.01162786", "high": "0.01174714",
        "low": "0.01147125", "volume": "682.93065828", "deal": "7.9719691954064537",
        "buy": "0.01169469", "buy_amount": "742.62112845", "sell": "0.0117692", "sell_amount":
        "137.39698146"}, "EOSETH": {"period": 86400, "last": "0.02650109", "open":
        "0.02660739", "close": "0.02650109", "high": "0.02692049", "low": "0.02643354",
        "volume": "1381.63344858", "deal": "36.89446082169142", "buy": "0.02649142",
        "buy_amount": "63.63313502", "sell": "0.02659855", "sell_amount": "20.84435163"},
        "BTMETH": {"period": 86400, "last": "0.00083664", "open": "0.00076588", "close":
        "0.00083664", "high": "0.0009", "low": "0.00076588", "volume": "13853.83790841",
        "deal": "11.9957822599879471", "buy": "0.00083337", "buy_amount": "7645.0926358",
        "sell": "0.00083873", "sell_amount": "1"}, "XZCBCH": {"period": 86400, "last":
        "0.04261344", "open": "0.04225497", "close": "0.04261344", "high": "0.04480983",
        "low": "0.03918208", "volume": "434.15356481", "deal": "18.8623388012111162",
        "buy": "0.04165951", "buy_amount": "147.3596866", "sell": "0.04357489", "sell_amount":
        "16.00969803"}, "CTXCETH": {"period": 86400, "last": "0.0012293", "open":
        "0.00116592", "close": "0.0012293", "high": "0.00129356", "low": "0.00116592",
        "volume": "5926.78748362", "deal": "7.3138592626303155", "buy": "0.00122484",
        "buy_amount": "1", "sell": "0.00123339", "sell_amount": "1"}, "CMTBTC": {"period":
        86400, "last": "0.00000824", "open": "0.00000819", "close": "0.00000824",
        "high": "0.00000824", "low": "0.0000081", "volume": "2021.65483142", "deal":
        "0.0165971128175007", "buy": "0.00000815", "buy_amount": "6073.60385842",
        "sell": "0.00000829", "sell_amount": "3482.74838757"}, "ZILETH": {"period":
        86400, "last": "0.0001425", "open": "0.00013407", "close": "0.0001425", "high":
        "0.0001425", "low": "0.00013407", "volume": "231501.1615777", "deal": "31.7506922230159695",
        "buy": "0.0001425", "buy_amount": "0.67861403", "sell": "0.00014262", "sell_amount":
        "1"}, "DASHBCH": {"period": 86400, "last": "0.57778976", "open": "0.59423148",
        "close": "0.57778976", "high": "0.60046385", "low": "0.56962319", "volume":
        "76.20068371", "deal": "44.5910401229175793", "buy": "0.57605788", "buy_amount":
        "9.3766664", "sell": "0.57959975", "sell_amount": "1.20732938"}, "BTTBCH":
        {"period": 86400, "last": "0.00000515", "open": "0.00000513", "close": "0.00000515",
        "high": "0.00000517", "low": "0.00000511", "volume": "102461.44724081", "deal":
        "0.5246026583933294", "buy": "0.0000049", "buy_amount": "815808.20408163",
        "sell": "0.00000542", "sell_amount": "20025.3895626"}, "SEERBCH": {"period":
        86400, "last": "0.00000333", "open": "0.00000222", "close": "0.00000333",
        "high": "0.00000333", "low": "0.00000222", "volume": "17154.37652716", "deal":
        "0.0409607431430652", "buy": "0.00000312", "buy_amount": "4499", "sell": "0.00000574",
        "sell_amount": "10635.37564941"}, "VETBTC": {"period": 86400, "last": "0.00000147",
        "open": "0.00000137", "close": "0.00000147", "high": "0.00000147", "low":
        "0.00000135", "volume": "108068.91115109", "deal": "0.157005558894697", "buy":
        "0.00000143", "buy_amount": "309086.16440555", "sell": "0.00000147", "sell_amount":
        "278134.34905125"}, "THPCBTC": {"period": 86400, "last": "1.6e-7", "open":
        "1.5e-7", "close": "1.6e-7", "high": "1.6e-7", "low": "1.5e-7", "volume":
        "9533.71261759", "deal": "0.0014619033358533", "buy": "1.4e-7", "buy_amount":
        "232499.5", "sell": "1.6e-7", "sell_amount": "127242.00293667"}, "USDCUSDT":
        {"period": 86400, "last": "1.0001", "open": "1.0032", "close": "1.0001", "high":
        "1.0058", "low": "0.9998", "volume": "7578.47403655", "deal": "7596.623415764349",
        "buy": "1.0004", "buy_amount": "551.44788601", "sell": "1.0021", "sell_amount":
        "57"}, "WHCBCH": {"period": 86400, "last": "0.00826168", "open": "0.00819977",
        "close": "0.00826168", "high": "0.0083255", "low": "0.00810107", "volume":
        "191.97252499", "deal": "1.5911401417754513", "buy": "0.00824105", "buy_amount":
        "0.01", "sell": "0.00828405", "sell_amount": "0.01"}, "CMTBCH": {"period":
        86400, "last": "0.00020682", "open": "0.00021102", "close": "0.00020682",
        "high": "0.00021617", "low": "0.00020238", "volume": "1954.6434557", "deal":
        "0.4137824404217769", "buy": "0.0002067", "buy_amount": "1.09446035", "sell":
        "0.00020682", "sell_amount": "1.09446035"}, "VIATBTC": {"period": 86400, "last":
        "0.00000249", "open": "0.00000198", "close": "0.00000249", "high": "0.00000251",
        "low": "0.00000194", "volume": "4052784.41329267", "deal": "9.5439961063054072",
        "buy": "0.00000248", "buy_amount": "1514.95673518", "sell": "0.00000249",
        "sell_amount": "753.99598394"}, "HYDROBTC": {"period": 86400, "last": "4.0e-7",
        "open": "3.9e-7", "close": "4.0e-7", "high": "4.1e-7", "low": "3.9e-7", "volume":
        "7248540.04716153", "deal": "2.8721606803528305", "buy": "4.0e-7", "buy_amount":
        "3370.025", "sell": "4.1e-7", "sell_amount": "1617764.54305048"}, "BTCPAX":
        {"period": 86400, "last": "3913.03", "open": "0", "close": "0", "high": "0",
        "low": "0", "volume": "0", "deal": "0", "buy": "3976.39", "buy_amount": "0.10159968",
        "sell": "4013.6", "sell_amount": "0.00510964"}, "CETUSDC": {"period": 86400,
        "last": "0.014819", "open": "0.00931", "close": "0.014819", "high": "0.014819",
        "low": "0.009161", "volume": "848058.18278229", "deal": "9094.19348802353498",
        "buy": "0.013906", "buy_amount": "132156.61428887", "sell": "0.014937", "sell_amount":
        "1"}, "ZRXETH": {"period": 86400, "last": "0.00186664", "open": "0", "close":
        "0", "high": "0", "low": "0", "volume": "0", "deal": "0", "buy": "0.00186675",
        "buy_amount": "90.27", "sell": "0.00193953", "sell_amount": "2460.54247919"},
        "SCBTC": {"period": 86400, "last": "6.7e-7", "open": "6.6e-7", "close": "6.7e-7",
        "high": "6.7e-7", "low": "6.5e-7", "volume": "110976.00161277", "deal": "0.0734904302060109",
        "buy": "6.5e-7", "buy_amount": "1081530.46648589", "sell": "6.7e-7", "sell_amount":
        "6792.19613295"}, "XMRBTC": {"period": 86400, "last": "0.01322656", "open":
        "0.01313185", "close": "0.01322656", "high": "0.01322656", "low": "0.01312073",
        "volume": "23.97189795", "deal": "0.3146561514709656", "buy": "0.01324581",
        "buy_amount": "1.335", "sell": "0.01332073", "sell_amount": "0.01"}, "MTBTC":
        {"period": 86400, "last": "3.8e-7", "open": "3.7e-7", "close": "3.8e-7", "high":
        "3.8e-7", "low": "3.7e-7", "volume": "1282.86620541", "deal": "0.0004874703539181",
        "buy": "3.9e-7", "buy_amount": "1284", "sell": "5.6e-7", "sell_amount": "0.03602882"},
        "BTCTUSD": {"period": 86400, "last": "3990", "open": "3949.17", "close": "3990",
        "high": "3990", "low": "3949.17", "volume": "0.09100863", "deal": "360.4333843371",
        "buy": "3976.39", "buy_amount": "0.10159968", "sell": "4010", "sell_amount":
        "0.025"}, "ETHPAX": {"period": 86400, "last": "136.33", "open": "134.15",
        "close": "136.33", "high": "136.39", "low": "134.15", "volume": "2.55526307",
        "deal": "346.9896513965", "buy": "135.4", "buy_amount": "0.14190976", "sell":
        "136.88", "sell_amount": "4.84644308"}, "VETBCH": {"period": 86400, "last":
        "0.00003643", "open": "0.00003629", "close": "0.00003643", "high": "0.00004325",
        "low": "0.00003517", "volume": "100171.78011519", "deal": "3.6360503765815033",
        "buy": "0.00003612", "buy_amount": "1", "sell": "0.0000369", "sell_amount":
        "169624.27606718"}, "THPCBCH": {"period": 86400, "last": "0.00000382", "open":
        "0.00000381", "close": "0.00000382", "high": "0.00000408", "low": "0.00000381",
        "volume": "78973.97824169", "deal": "0.3141168845688222", "buy": "0.00000381",
        "buy_amount": "13757.02637865", "sell": "0.00000409", "sell_amount": "0.0988608"},
        "OMGBTC": {"period": 86400, "last": "0.0003981", "open": "0.00038625", "close":
        "0.0003981", "high": "0.00040199", "low": "0.00038625", "volume": "400.44637338",
        "deal": "0.1600400639767965", "buy": "0.0004", "buy_amount": "138.10646",
        "sell": "0.00040076", "sell_amount": "7.27340341"}, "EOSBTC": {"period": 86400,
        "last": "0.00090797", "open": "0.00090543", "close": "0.00090797", "high":
        "0.00091365", "low": "0.00089771", "volume": "522.71764806", "deal": "0.4733922144675266",
        "buy": "0.00090552", "buy_amount": "35", "sell": "0.000908", "sell_amount":
        "352.94093489"}, "BTMBTC": {"period": 86400, "last": "0.00002864", "open":
        "0.00002608", "close": "0.00002864", "high": "0.00003058", "low": "0.00002608",
        "volume": "37106.24287785", "deal": "1.0764615947167394", "buy": "0.00002864",
        "buy_amount": "0.01", "sell": "0.00002877", "sell_amount": "0.01"}, "BCHUSDT":
        {"period": 86400, "last": "158.12", "open": "150.58", "close": "158.12", "high":
        "159", "low": "150.49", "volume": "1108.36519247", "deal": "171488.7424466868",
        "buy": "157.54", "buy_amount": "0.9", "sell": "158.12", "sell_amount": "6.24293906"},
        "CMTETH": {"period": 86400, "last": "0.00023895", "open": "0.00023854", "close":
        "0.00023895", "high": "0.00024302", "low": "0.00023339", "volume": "406.33570218",
        "deal": "0.095834573469811", "buy": "0.0002383", "buy_amount": "1", "sell":
        "0.0002396", "sell_amount": "1"}, "BTCGUSD": {"period": 86400, "last": "3970.61",
        "open": "3970.61", "close": "3970.61", "high": "3970.61", "low": "3970.61",
        "volume": "0.06104866", "deal": "242.4004198826", "buy": "101.11", "buy_amount":
        "2.27742063", "sell": "4010.29", "sell_amount": "0.02863764"}, "HOTETH": {"period":
        86400, "last": "0.00000864", "open": "0.00000855", "close": "0.00000864",
        "high": "0.00000902", "low": "0.00000853", "volume": "272846.3872871", "deal":
        "2.3355528805962354", "buy": "0.00000863", "buy_amount": "438.50048854", "sell":
        "0.00000901", "sell_amount": "10338.29606363"}, "WWBBCH": {"period": 86400,
        "last": "0.00010818", "open": "0.00011407", "close": "0.00010818", "high":
        "0.00011407", "low": "0.00010758", "volume": "26169.41418213", "deal": "2.8906859590211864",
        "buy": "0.00010776", "buy_amount": "1", "sell": "0.00010846", "sell_amount":
        "1"}, "NASHBCH": {"period": 86400, "last": "3.6e-7", "open": "4.0e-7", "close":
        "3.6e-7", "high": "4.4e-7", "low": "2.3e-7", "volume": "1894648.76056397",
        "deal": "0.7652201018790868", "buy": "3.6e-7", "buy_amount": "758541.55",
        "sell": "4.0e-7", "sell_amount": "61663.03703703"}, "EGTBCH": {"period": 86400,
        "last": "0.0000034", "open": "0.00000333", "close": "0.0000034", "high": "0.00000372",
        "low": "0.00000333", "volume": "70645.23900013", "deal": "0.2593821956021113",
        "buy": "0.00000341", "buy_amount": "10000", "sell": "0.00000355", "sell_amount":
        "0.00088291"}, "VIATUSDT": {"period": 86400, "last": "0.00997", "open": "0.007794",
        "close": "0.00997", "high": "0.009999", "low": "0.007713", "volume": "8233979.93092797",
        "deal": "75255.33361891783902", "buy": "0.009868", "buy_amount": "24808.13873",
        "sell": "0.00997", "sell_amount": "7646.83746035"}, "TUSDUSDT": {"period":
        86400, "last": "1.0003", "open": "1.0001", "close": "1.0003", "high": "1.0027",
        "low": "1.0001", "volume": "2054.98645933", "deal": "2058.581586151917", "buy":
        "1.0003", "buy_amount": "1354.13767288", "sell": "1.0026", "sell_amount":
        "19"}, "TCTBCH": {"period": 86400, "last": "0.00028048", "open": "0.0002828",
        "close": "0.00028048", "high": "0.00029985", "low": "0.00016103", "volume":
        "1618.65721321", "deal": "0.47135723788967", "buy": "0.00027902", "buy_amount":
        "1", "sell": "0.00028048", "sell_amount": "0.00217484"}, "LOOMBCH": {"period":
        86400, "last": "0.00045383", "open": "0.000473", "close": "0.00045383", "high":
        "0.00056818", "low": "0.00043665", "volume": "15840.12155612", "deal": "7.4537515478033911",
        "buy": "0.00045482", "buy_amount": "3074.18628152", "sell": "0.00045722",
        "sell_amount": "1596.02478747"}, "LFCBCH": {"period": 86400, "last": "0.00000287",
        "open": "0.00000219", "close": "0.00000287", "high": "0.0000029", "low": "0.00000218",
        "volume": "758617.7131897", "deal": "1.7924789152630024", "buy": "0.00000285",
        "buy_amount": "1", "sell": "0.00000287", "sell_amount": "2821.81549129"},
        "CNNBTC": {"period": 86400, "last": "3e-8", "open": "3e-8", "close": "3e-8",
        "high": "3e-8", "low": "3e-8", "volume": "21533.25388496", "deal": "0.0006459976165488",
        "buy": "3e-8", "buy_amount": "3914223.51539572", "sell": "4e-8", "sell_amount":
        "2904641.97643674"}, "BCHBTC": {"period": 86400, "last": "0.03964056", "open":
        "0.03770618", "close": "0.03964056", "high": "0.03999995", "low": "0.03770618",
        "volume": "448.11758713", "deal": "17.4120071640597128", "buy": "0.0394222",
[...]
