---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/ticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": {"date": 1557391657802, "ticker": {"TRXETH": {"vol":
        "307753.29486755", "low": "0.00013245", "open": "0.00014508", "high": "0.00014679",
        "last": "0.0001395", "buy": "0.00013844", "buy_amount": "500", "sell": "0.00014089",
        "sell_amount": "322.215"}, "ADABCH": {"vol": "100444.92793067", "low": "0.00021592",
        "open": "0.00022528", "high": "0.00022813", "last": "0.00022095", "buy": "0.00021963",
        "buy_amount": "277.3", "sell": "0.00022177", "sell_amount": "7836.00384789"},
        "ONTUSDT": {"vol": "102167.3586", "low": "1.0401", "open": "1.0591", "high":
        "1.0719", "last": "1.0471", "buy": "1.0308", "buy_amount": "47.7327", "sell":
        "1.0643", "sell_amount": "60.55849"}, "HOTBCH": {"vol": "5788025.40320947",
        "low": "0.0000042", "open": "0.00000448", "high": "0.00000452", "last": "0.00000431",
        "buy": "0.0000042", "buy_amount": "0.3869781", "sell": "0.00000442", "sell_amount":
        "100127.72806554"}, "XLMBCH": {"vol": "80421.54414796", "low": "0.00030915",
        "open": "0.00032438", "high": "0.00036549", "last": "0.00031342", "buy": "0.00031022",
        "buy_amount": "1481.855", "sell": "0.0003168", "sell_amount": "5485.45004213"},
        "SEELEBTC": {"vol": "251813.67834412", "low": "0.00000142", "open": "0.00000142",
        "high": "0.00000159", "last": "0.00000159", "buy": "0.000001032", "buy_amount":
        "33023.78372093", "sell": "0.0000015899", "sell_amount": "50000"}, "CETBTC":
        {"vol": "14643016.3935911", "low": "0.00000394", "open": "0.00000408", "high":
        "0.00000411", "last": "0.00000396", "buy": "0.00000396", "buy_amount": "39687.98037718",
        "sell": "0.00000397", "sell_amount": "19.99"}, "BATETH": {"vol": "33079.83058459",
        "low": "0.00175166", "open": "0.00192936", "high": "0.00193059", "last": "0.00175519",
        "buy": "0.00174106", "buy_amount": "1618.38951049", "sell": "0.00175833",
        "sell_amount": "33.0125"}, "DOGEBTC": {"vol": "6682965.34583981", "low": "4.101e-7",
        "open": "4.261e-7", "high": "4.343e-7", "last": "4.104e-7", "buy": "4.101e-7",
        "buy_amount": "96900", "sell": "4.109e-7", "sell_amount": "42000"}, "BTUBCH":
        {"vol": "5666403.25627553", "low": "0.00001366", "open": "0.0000138", "high":
        "0.00001824", "last": "0.00001782", "buy": "0.0000176", "buy_amount": "5905.11515909",
        "sell": "0.00001782", "sell_amount": "1853.36129327"}, "GNTBTC": {"vol": "40069.06901827",
        "low": "0.00001132", "open": "0.00001219", "high": "0.00001222", "last": "0.00001139",
        "buy": "0.00001129", "buy_amount": "140.46343991", "sell": "0.00001149", "sell_amount":
        "264.725"}, "LTCBTC": {"vol": "13346.62497905", "low": "0.012146", "open":
        "0.01252429", "high": "0.012616", "last": "0.012224", "buy": "0.01219875",
        "buy_amount": "2.74", "sell": "0.01224993", "sell_amount": "1.99999999"},
        "ETHUSDC": {"vol": "240.51751612", "low": "163.95", "open": "168.14", "high":
        "172.69", "last": "165.95", "buy": "157.19", "buy_amount": "15.01509043",
        "sell": "174.56", "sell_amount": "2.8509181"}, "NEOUSDT": {"vol": "34601.58160842",
        "low": "8.71", "open": "8.95", "high": "9.2466", "last": "8.8105", "buy":
        "8.705", "buy_amount": "31.69921873", "sell": "8.9218", "sell_amount": "41.38514"},
        "NNBBTC": {"vol": "27594902.55793942", "low": "3.301e-7", "open": "3.599e-7",
        "high": "3.599e-7", "last": "3.323e-7", "buy": "3.322e-7", "buy_amount": "5900.38792249",
        "sell": "3.395e-7", "sell_amount": "2000"}, "HCBCH": {"vol": "45413.59799985",
        "low": "0.00368917", "open": "0.00381538", "high": "0.00390119", "last": "0.00370394",
        "buy": "0.00367462", "buy_amount": "188.98474215", "sell": "0.0037344", "sell_amount":
        "103.5205"}, "BSVBCH": {"vol": "1933.88303921", "low": "0.18300074", "open":
        "0.1855809", "high": "0.20370609", "last": "0.19562265", "buy": "0.19392497",
        "buy_amount": "12.75", "sell": "0.19740967", "sell_amount": "0.01781219"},
        "BTCUSDC": {"vol": "92.61128236", "low": "5776.7", "open": "5826", "high":
        "6068.49", "last": "6045.75", "buy": "5997.71", "buy_amount": "0.08297437",
        "sell": "6089.92", "sell_amount": "0.24514433"}, "ETHBCH": {"vol": "6616.74410919",
        "low": "0.58803741", "open": "0.59510183", "high": "0.6", "last": "0.59379454",
        "buy": "0.59095282", "buy_amount": "7.33", "sell": "0.5965494", "sell_amount":
        "0.05"}, "QTUMBTC": {"vol": "58819.48228226", "low": "0.000391", "open": "0.00040416",
        "high": "0.000415", "last": "0.000395", "buy": "0.00039111", "buy_amount":
        "8.29", "sell": "0.0003974", "sell_amount": "83.08233812"}, "EOSUSDT": {"vol":
        "199537.5968167", "low": "4.8414", "open": "4.8872", "high": "4.9872", "last":
        "4.9038", "buy": "4.9024", "buy_amount": "362.56737904", "sell": "4.9114",
        "sell_amount": "45.3936018"}, "WINGSBTC": {"vol": "561475.314", "low": "0.0000066",
        "open": "0.0000068", "high": "0.00000741", "last": "0.0000068", "buy": "0.00000583",
        "buy_amount": "743.42010742", "sell": "0.0000078", "sell_amount": "47.82742107"},
        "VETETH": {"vol": "471766.7677", "low": "0.00003609", "open": "0.00003663",
        "high": "0.0000376", "last": "0.00003714", "buy": "0.00003667", "buy_amount":
        "31756.27741102", "sell": "0.00003756", "sell_amount": "31003.79905916"},
        "HCBTC": {"vol": "7965.95040001", "low": "0.00017535", "open": "0.00018507",
        "high": "0.00018763", "last": "0.00017734", "buy": "0.00017468", "buy_amount":
        "42.3103", "sell": "0.00017768", "sell_amount": "177.97550861"}, "BSVBTC":
        {"vol": "21869.73770993", "low": "0.00890093", "open": "0.00895045", "high":
        "0.009876", "last": "0.009323", "buy": "0.009262", "buy_amount": "12", "sell":
        "0.00932348", "sell_amount": "6"}, "LTCBCH": {"vol": "13162.69293104", "low":
        "0.25666", "open": "0.25820902", "high": "0.26276799", "last": "0.25831943",
        "buy": "0.25684309", "buy_amount": "0.26188502", "sell": "0.25975947", "sell_amount":
        "2"}, "THPCETH": {"vol": "88029646.66908191", "low": "0.00000128", "open":
        "0.00000179", "high": "0.00000219", "last": "0.00000181", "buy": "0.0000018",
        "buy_amount": "46431.30299439", "sell": "0.00000182", "sell_amount": "199.00277093"},
        "ETHBTC": {"vol": "10299.55185687", "low": "0.02789871", "open": "0.028866",
        "high": "0.02903452", "last": "0.028171", "buy": "0.02808891", "buy_amount":
        "5.70406019", "sell": "0.0282318", "sell_amount": "0.683"}, "LAMBUSDT": {"vol":
        "43605.63738037", "low": "0.056206", "open": "0.059957", "high": "0.061341",
        "last": "0.057923", "buy": "0.057186", "buy_amount": "3.67882", "sell": "0.058305",
        "sell_amount": "5324.98012217"}, "BTUBTC": {"vol": "470165.95097223", "low":
        "6.609e-7", "open": "6.650e-7", "high": "8.600e-7", "last": "8.465e-7", "buy":
        "8.400e-7", "buy_amount": "25.902", "sell": "8.465e-7", "sell_amount": "2620.0868"},
        "PAXUSDT": {"vol": "6556.88604095", "low": "0.98", "open": "1.016", "high":
        "1.0168", "last": "0.9805", "buy": "0.9821", "buy_amount": "539.67202493",
        "sell": "1", "sell_amount": "510.43054309"}, "CODYBTC": {"vol": "42292958.48273349",
        "low": "8.558e-7", "open": "8.666e-7", "high": "9.246e-7", "last": "8.697e-7",
        "buy": "8.643e-7", "buy_amount": "853.35785", "sell": "8.702e-7", "sell_amount":
        "133.6762"}, "BCHUSDC": {"vol": "419.12749299", "low": "260.31", "open": "283.8",
        "high": "284.94", "last": "280.23", "buy": "265.5", "buy_amount": "0.0300984",
        "sell": "294.76", "sell_amount": "5.503"}, "ULTBTC": {"vol": "250673.47798226",
        "low": "0.00000109", "open": "0.00000111", "high": "0.00000111", "last": "0.00000111",
        "buy": "0.0000011", "buy_amount": "1604.35226499", "sell": "0.00000111", "sell_amount":
        "287507.98079026"}, "DCRBCH": {"vol": "959.08829784", "low": "0.0877691",
        "open": "0.08951056", "high": "0.09550991", "last": "0.08984626", "buy": "0.08808167",
        "buy_amount": "19.31928581", "sell": "0.09178991", "sell_amount": "18.93103429"},
        "MTBCH": {"vol": "0", "low": "0", "open": "0", "high": "0", "last": "0.00001399",
        "buy": "0.00000557", "buy_amount": "7692.31", "sell": "0.00001399", "sell_amount":
        "2.33299333"}, "DCRBTC": {"vol": "3512.5287416", "low": "0.004217", "open":
        "0.004319", "high": "0.00434217", "last": "0.0042356", "buy": "0.0041896",
        "buy_amount": "19.70171446", "sell": "0.00428133", "sell_amount": "4.12149835"},
        "XMRBCH": {"vol": "469.83210485", "low": "0.23162622", "open": "0.23442219",
        "high": "0.2384039", "last": "0.23595368", "buy": "0.23470631", "buy_amount":
        "0.791", "sell": "0.23685824", "sell_amount": "19.01718423"}, "OLTBTC": {"vol":
        "317816.0124", "low": "5.390e-7", "open": "5.604e-7", "high": "5.655e-7",
        "last": "5.400e-7", "buy": "4.900e-7", "buy_amount": "1037.44307619", "sell":
        "5.900e-7", "sell_amount": "911.7471201"}, "CETUSDT": {"vol": "19405168.30736456",
        "low": "0.02331", "open": "0.024124", "high": "0.025453", "last": "0.02418",
        "buy": "0.02398", "buy_amount": "39694", "sell": "0.024379", "sell_amount":
        "24744.5"}, "NEOBTC": {"vol": "5059.54815763", "low": "0.001428", "open":
        "0.0015173", "high": "0.00152663", "last": "0.00143499", "buy": "0.00142643",
        "buy_amount": "48", "sell": "0.00144436", "sell_amount": "44.93462138"}, "BATUSDT":
        {"vol": "80725.57508804", "low": "0.3", "open": "0.328882", "high": "0.344608",
        "last": "0.3", "buy": "0.3012", "buy_amount": "2889.83324471", "sell": "0.306097",
        "sell_amount": "13"}, "ZILBCH": {"vol": "6868761.1141", "low": "0.00005355",
        "open": "0.00005659", "high": "0.00006019", "last": "0.00005422", "buy": "0.00005372",
        "buy_amount": "2771.235", "sell": "0.00005456", "sell_amount": "12728.1362394"},
        "GUSDUSDT": {"vol": "0", "low": "0", "open": "0", "high": "0", "last": "1.0497",
        "buy": "0.7803", "buy_amount": "640.77918749", "sell": "1.0497", "sell_amount":
        "0.82461656"}, "CTXCBTC": {"vol": "82008.40229989", "low": "0.00002362", "open":
        "0.00002405", "high": "0.00002714", "last": "0.00002397", "buy": "0.00002379",
        "buy_amount": "351.3702", "sell": "0.00002418", "sell_amount": "140.5481"},
        "XRPBCH": {"vol": "820158.8051106", "low": "0.00101835", "open": "0.00104394",
        "high": "0.00106046", "last": "0.00103841", "buy": "0.00102094", "buy_amount":
        "1856.88127272", "sell": "0.00104475", "sell_amount": "2266.23723893"}, "ETCBCH":
        {"vol": "264290.45503872", "low": "0.01944445", "open": "0.019732", "high":
        "0.0205538", "last": "0.01971987", "buy": "0.01950916", "buy_amount": "15.46",
        "sell": "0.01994555", "sell_amount": "192.25715284"}, "MTETH": {"vol": "442.8035191",
        "low": "0.0000167", "open": "0.0000167", "high": "0.00001672", "last": "0.00001672",
        "buy": "0.00001671", "buy_amount": "10344.83", "sell": "0.000085", "sell_amount":
        "16112.9032258"}, "NANOUSDT": {"vol": "3408.24455059", "low": "1.476", "open":
        "1.5116", "high": "1.5384", "last": "1.4953", "buy": "1.4912", "buy_amount":
        "0.04", "sell": "1.4995", "sell_amount": "0.093129"}, "SEELEBCH": {"vol":
        "1", "low": "0.00003138", "open": "0.00003138", "high": "0.00003138", "last":
        "0.00003138", "buy": "0.00001853", "buy_amount": "3773.82", "sell": "0.00003146",
        "sell_amount": "1"}, "CETBCH": {"vol": "1915269.80084999", "low": "0.0000822",
        "open": "0.00008411", "high": "0.000085", "last": "0.00008346", "buy": "0.00008305",
        "buy_amount": "4000", "sell": "0.00008388", "sell_amount": "1"}, "XRPBTC":
        {"vol": "1673668.65120823", "low": "0.00004864", "open": "0.00005075", "high":
        "0.00005103", "last": "0.0000489", "buy": "0.00004885", "buy_amount": "16.1467142",
        "sell": "0.00004899", "sell_amount": "5487.47054614"}, "ETCBTC": {"vol": "31090.92920001",
        "low": "0.00092703", "open": "0.000961", "high": "0.000971", "last": "0.000935",
        "buy": "0.00092747", "buy_amount": "19.24", "sell": "0.0009374", "sell_amount":
        "192.25715075"}, "OMGETH": {"vol": "36875.49190567", "low": "0.00929404",
        "open": "0.009518", "high": "0.009904", "last": "0.009592", "buy": "0.00948848",
        "buy_amount": "22.96858", "sell": "0.00967534", "sell_amount": "301.05508646"},
        "BTMETH": {"vol": "61229.0961", "low": "0.00051304", "open": "0.00057076",
        "high": "0.00057618", "last": "0.00055862", "buy": "0.00055238", "buy_amount":
        "1091", "sell": "0.00056309", "sell_amount": "2068.05784628"}, "ONTBCH": {"vol":
        "7525.5712", "low": "0.00361319", "open": "0.0037149", "high": "0.0037255",
        "last": "0.0036402", "buy": "0.00357362", "buy_amount": "47.74637", "sell":
        "0.00370362", "sell_amount": "14.28516"}, "EOSETH": {"vol": "31488.95524401",
        "low": "0.02839999", "open": "0.02872799", "high": "0.02909965", "last": "0.02857666",
        "buy": "0.02840694", "buy_amount": "102.07200826", "sell": "0.02879493", "sell_amount":
        "90.64102736"}, "DASHUSDT": {"vol": "13903.68401612", "low": "116.56", "open":
        "117.11", "high": "119.63", "last": "117.15", "buy": "116.9", "buy_amount":
        "0.00008687", "sell": "117.4", "sell_amount": "0.03620469"}, "XZCBCH": {"vol":
        "828.66662086", "low": "0.0182531", "open": "0.0227229", "high": "0.02465776",
        "last": "0.02135857", "buy": "0.02032657", "buy_amount": "1", "sell": "0.02250153",
        "sell_amount": "22.6201858"}, "CMTBTC": {"vol": "347473.94706407", "low":
        "0.00000536", "open": "0.0000055", "high": "0.00000589", "last": "0.00000542",
        "buy": "0.00000529", "buy_amount": "2966.6", "sell": "0.00000552", "sell_amount":
        "3604.88"}, "LINKBCH": {"vol": "52593.90785394", "low": "0.0019674", "open":
        "0.00202172", "high": "0.00216442", "last": "0.00208218", "buy": "0.00204623",
        "buy_amount": "820.85058048", "sell": "0.0021", "sell_amount": "1"}, "ZILETH":
        {"vol": "416978.07138788", "low": "0.00008951", "open": "0.000095", "high":
        "0.00009689", "last": "0.00009075", "buy": "0.00009006", "buy_amount": "1108.4938",
        "sell": "0.000091", "sell_amount": "12796.73288639"}, "ADAUSDT": {"vol": "2808210.41040702",
        "low": "0.062103", "open": "0.064532", "high": "0.065418", "last": "0.06363",
        "buy": "0.063285", "buy_amount": "7900.76637433", "sell": "0.063981", "sell_amount":
        "7814.82002469"}, "BATBCH": {"vol": "31217.31278245", "low": "0.00104297",
        "open": "0.00114841", "high": "0.00124137", "last": "0.00104771", "buy": "0.00103704",
        "buy_amount": "669.64351733", "sell": "0.00105858", "sell_amount": "350.84866257"},
        "DASHBCH": {"vol": "91.89824333", "low": "0.40048294", "open": "0.4063779",
        "high": "0.42555977", "last": "0.40441971", "buy": "0.40222745", "buy_amount":
        "0.4515", "sell": "0.40646288", "sell_amount": "1.75969089"}, "ONGBCH": {"vol":
        "0", "low": "0", "open": "0", "high": "0", "last": "0.0013", "buy": "0.00000201",
        "buy_amount": "1", "sell": "0.0039", "sell_amount": "1"}, "BTTBCH": {"vol":
        "11509500.42547483", "low": "0.00000205", "open": "0.00000209", "high": "0.00000241",
        "last": "0.00000232", "buy": "0.00000217", "buy_amount": "2189.904", "sell":
        "0.00000248", "sell_amount": "4.37013982"}, "THPCBTC": {"vol": "259138582.66070922",
        "low": "4e-8", "open": "5e-8", "high": "6e-8", "last": "5e-8", "buy": "5e-8",
        "buy_amount": "145726.82622213", "sell": "6e-8", "sell_amount": "470568.61773031"},
        "VETBTC": {"vol": "1554752.13178876", "low": "0.00000102", "open": "0.000001058",
        "high": "0.0000010636", "last": "0.000001041", "buy": "0.00000103", "buy_amount":
        "32076.44458272", "sell": "0.0000010569", "sell_amount": "27477.624"}, "WHCBCH":
        {"vol": "0.01451159", "low": "0.007141", "open": "0.007141", "high": "0.0076",
        "last": "0.0076", "buy": "0.00353", "buy_amount": "4.47513314", "sell": "0.0076",
        "sell_amount": "63.52690972"}, "USDCUSDT": {"vol": "2929.86286358", "low":
        "1.0083", "open": "1.0126", "high": "1.018", "last": "1.0174", "buy": "1.0009",
        "buy_amount": "1998.20161853", "sell": "1.0173", "sell_amount": "491.49710016"},
        "HYDROBTC": {"vol": "4500618.45999496", "low": "2.205e-7", "open": "2.385e-7",
        "high": "2.395e-7", "last": "2.230e-7", "buy": "2.207e-7", "buy_amount": "15443.63389216",
        "sell": "2.230e-7", "sell_amount": "35004.21973095"}, "BTCPAX": {"vol": "1.85132199",
        "low": "5728.94", "open": "5827.1", "high": "6144.67", "last": "6114.99",
        "buy": "6052.17", "buy_amount": "0.001", "sell": "6178.99", "sell_amount":
        "0.08054006"}, "ZRXETH": {"vol": "25340.91698592", "low": "0.00152973", "open":
        "0.00156637", "high": "0.00159415", "last": "0.00152973", "buy": "0.00151867",
        "buy_amount": "766.79113478", "sell": "0.00154742", "sell_amount": "750.2513885"},
        "SCBTC": {"vol": "2220065.55300923", "low": "4.034e-7", "open": "4.350e-7",
        "high": "4.420e-7", "last": "4.100e-7", "buy": "4.000e-7", "buy_amount": "293687.05736255",
        "sell": "4.180e-7", "sell_amount": "106434.231"}, "CETUSDC": {"vol": "588527.5605",
        "low": "0.021", "open": "0.024174", "high": "0.024242", "last": "0.024178",
        "buy": "0.020856", "buy_amount": "23861.53936601", "sell": "0.024257", "sell_amount":
        "20515.16893539"}, "MTBTC": {"vol": "30.45603448", "low": "5.0e-7", "open":
        "5.8e-7", "high": "5.8e-7", "last": "5.0e-7", "buy": "5.0e-7", "buy_amount":
        "63488.4552", "sell": "5.8e-7", "sell_amount": "315.85730419"}, "XMRBTC":
        {"vol": "3874.65442741", "low": "0.01111803", "open": "0.01131721", "high":
        "0.011387", "last": "0.011161", "buy": "0.01111739", "buy_amount": "0.02508594",
        "sell": "0.011161", "sell_amount": "19.01717871"}, "BTCTUSD": {"vol": "6.08211306",
        "low": "5028.89", "open": "5799.37", "high": "5991.26", "last": "5986.02",
        "buy": "5972.3", "buy_amount": "0.03764498", "sell": "6000", "sell_amount":
        "0.001"}, "THPCBCH": {"vol": "10747.45314888", "low": "5.4e-7", "open": "5.4e-7",
        "high": "8.5e-7", "last": "8.5e-7", "buy": "9.2e-7", "buy_amount": "101767.67391304",
        "sell": "0.0000014", "sell_amount": "18813.95907019"}, "OMGBTC": {"vol": "3370.18898107",
        "low": "0.000267", "open": "0.000274", "high": "0.000284", "last": "0.00027",
        "buy": "0.00026674", "buy_amount": "207", "sell": "0.00027154", "sell_amount":
        "12.7129"}, "BTMBTC": {"vol": "70552.26221604", "low": "0.00001562", "open":
        "0.00001643", "high": "0.00001661", "last": "0.00001566", "buy": "0.00001558",
        "buy_amount": "1769", "sell": "0.0000158", "sell_amount": "2089.67855519"},
        "ETHPAX": {"vol": "16.30649759", "low": "137.21", "open": "169.67", "high":
        "172.82", "last": "172.09", "buy": "168.52", "buy_amount": "2.95298156", "sell":
        "175.74", "sell_amount": "1.7845615"}, "VETBCH": {"vol": "377113.33845534",
        "low": "0.00001879", "open": "0.00002189", "high": "0.00002227", "last": "0.000022",
        "buy": "0.00002154", "buy_amount": "32365.44583351", "sell": "0.00002246",
        "sell_amount": "52063.84245046"}, "EOSBTC": {"vol": "199235.26918014", "low":
        "0.00079916", "open": "0.00082929", "high": "0.00083128", "last": "0.00080459",
        "buy": "0.00080205", "buy_amount": "156.47", "sell": "0.00080734", "sell_amount":
        "156.47"}, "BCHUSDT": {"vol": "11808.8616716", "low": "282.56", "open": "286.15",
        "high": "294.6", "last": "287.78", "buy": "287.67", "buy_amount": "3.4128477",
        "sell": "289.93", "sell_amount": "9.6"}, "NNBBCH": {"vol": "12528603.29439811",
        "low": "0.00000676", "open": "0.000007", "high": "0.00000746", "last": "0.00000712",
        "buy": "0.00000704", "buy_amount": "1", "sell": "0.0000072", "sell_amount":
        "179941.68819834"}, "HOTETH": {"vol": "5131751.13381264", "low": "0.00000701",
        "open": "0.0000074", "high": "0.00000756", "last": "0.00000744", "buy": "0.00000701",
        "buy_amount": "0.30955777", "sell": "0.00000793", "sell_amount": "2000"},
        "BTCGUSD": {"vol": "4.5483", "low": "5803.84", "open": "5833.95", "high":
        "6067.12", "last": "6054.32", "buy": "5958.17", "buy_amount": "0.08352501",
        "sell": "6148.69", "sell_amount": "0.08093695"}, "BATBTC": {"vol": "77365.97277744",
        "low": "0.0000491", "open": "0.00005566", "high": "0.00005568", "last": "0.00004954",
        "buy": "0.00004932", "buy_amount": "770", "sell": "0.0000498", "sell_amount":
        "452.29103144"}, "XLMUSDT": {"vol": "580346.79741182", "low": "0.08992", "open":
        "0.093304", "high": "0.093402", "last": "0.090645", "buy": "0.089878", "buy_amount":
        "5563.09664211", "sell": "0.090986", "sell_amount": "5556.10503429"}, "LINKETH":
        {"vol": "67096.07757949", "low": "0.0033", "open": "0.00342251", "high": "0.0036486",
        "last": "0.00352813", "buy": "0.00347283", "buy_amount": "15.273", "sell":
        "0.00357365", "sell_amount": "758.29815156"}, "BCHBTC": {"vol": "10872.12585255",
        "low": "0.04666801", "open": "0.048418", "high": "0.04865738", "last": "0.04739653",
        "buy": "0.04713126", "buy_amount": "1.2", "sell": "0.04749299", "sell_amount":
        "4.8"}, "TUSDUSDT": {"vol": "2986.71585533", "low": "0.9884", "open": "1.0251",
        "high": "1.0262", "last": "1.0103", "buy": "1.0077", "buy_amount": "502.17941847",
        "sell": "101900000", "sell_amount": "1"}, "CNNBTC": {"vol": "338572685.04495",
        "low": "3.10e-8", "open": "3.20e-8", "high": "3.46e-8", "last": "3.19e-8",
        "buy": "3.16e-8", "buy_amount": "1775316.4556962", "sell": "3.27e-8", "sell_amount":
        "73863.045"}, "LTCUSDT": {"vol": "22722.60014289", "low": "73.46", "open":
        "74", "high": "75.84", "last": "74.51", "buy": "74.49", "buy_amount": "10.22828614",
        "sell": "74.62", "sell_amount": "12.324"}, "EOSBCH": {"vol": "169944.78777159",
        "low": "0.01678905", "open": "0.01706712", "high": "0.01805918", "last": "0.01705284",
        "buy": "0.01687845", "buy_amount": "19.3", "sell": "0.01721957", "sell_amount":
        "100.85248039"}, "TCTBTC": {"vol": "128.96526696", "low": "0.00000688", "open":
        "0.00000688", "high": "0.00000688", "last": "0.00000688", "buy": "0.00000666",
        "buy_amount": "33", "sell": "0.00000799", "sell_amount": "9342.36425039"},
        "LFCBTC": {"vol": "38061.88435584", "low": "1.701e-7", "open": "2.199e-7",
        "high": "2.250e-7", "last": "1.701e-7", "buy": "2.001e-7", "buy_amount": "300242.34182907",
        "sell": "2.250e-7", "sell_amount": "98578.66092073"}, "LOOMBTC": {"vol": "533932.41035673",
        "low": "0.00000915", "open": "0.00001006", "high": "0.00001009", "last": "0.0000092",
        "buy": "0.00000911", "buy_amount": "9191.98039718", "sell": "0.00000932",
        "sell_amount": "8345.12716882"}, "OMGBCH": {"vol": "6655.61903581", "low":
        "0.00555093", "open": "0.00560327", "high": "0.00584482", "last": "0.005648",
        "buy": "0.00555363", "buy_amount": "116.49", "sell": "0.00574063", "sell_amount":
        "1.23888027"}, "BTMBCH": {"vol": "61678.0917281", "low": "0.00033121", "open":
        "0.00034016", "high": "0.00036147", "last": "0.00033205", "buy": "0.00032995",
        "buy_amount": "396.825", "sell": "0.00033301", "sell_amount": "198.413"},
        "LAMBBTC": {"vol": "64695.40676258", "low": "0.0000091", "open": "0.00001012",
        "high": "0.00001034", "last": "0.00000941", "buy": "0.00000937", "buy_amount":
        "5.253", "sell": "0.00000949", "sell_amount": "18.41485279"}, "BTCUSDT": {"vol":
        "1359.25375578", "low": "5880.75", "open": "5901.56", "high": "6128.01", "last":
        "6090", "buy": "6086.43", "buy_amount": "0.09128438", "sell": "6090", "sell_amount":
        "1.21834144"}, "CARDBCH": {"vol": "441.88696028", "low": "0.00000153", "open":
        "0.00000153", "high": "0.00000153", "last": "0.00000153", "buy": "9.3e-7",
        "buy_amount": "54967.45", "sell": "0.0000027", "sell_amount": "8078.13127639"},
        "ZRXBTC": {"vol": "48013.8272", "low": "0.00004299", "open": "0.00004531",
        "high": "0.00004552", "last": "0.00004305", "buy": "0.00004281", "buy_amount":
        "55.43341644", "sell": "0.00004329", "sell_amount": "68.8231"}, "NANOBTC":
        {"vol": "2629.76887143", "low": "0.00024301", "open": "0.00025539", "high":
        "0.000259", "last": "0.000249", "buy": "0.00024468", "buy_amount": "337.34797666",
        "sell": "0.00025125", "sell_amount": "12.757"}, "TCTETH": {"vol": "0", "low":
        "0", "open": "0", "high": "0", "last": "0.00027399", "buy": "0.00002611",
        "buy_amount": "9", "sell": "0.00027399", "sell_amount": "9.44654316"}, "LOOMETH":
        {"vol": "99961.38628146", "low": "0.000325", "open": "0.00034888", "high":
        "0.00036651", "last": "0.000334", "buy": "0.00032425", "buy_amount": "205.07483476",
        "sell": "0.00034675", "sell_amount": "2.15219"}, "ZILBTC": {"vol": "1212777.42524675",
        "low": "0.0000025", "open": "0.00000274", "high": "0.00000276", "last": "0.00000255",
        "buy": "0.00000253", "buy_amount": "2000", "sell": "0.00000256", "sell_amount":
        "12897.23483285"}, "BSVUSDT": {"vol": "28682.13348452", "low": "52.6785",
        "open": "53.1172", "high": "58.8468", "last": "56.7987", "buy": "56.6442",
        "buy_amount": "0.04002259", "sell": "56.8251", "sell_amount": "0.5"}, "LAMBETH":
        {"vol": "18228.92877147", "low": "0.00032545", "open": "0.00035358", "high":
        "0.00035902", "last": "0.00033661", "buy": "0.00033143", "buy_amount": "6.39",
        "sell": "0.00034448", "sell_amount": "97.52983538"}, "DASHBTC": {"vol": "7527.55180516",
        "low": "0.019092", "open": "0.01973783", "high": "0.01989", "last": "0.01911",
        "buy": "0.01901434", "buy_amount": "1.84071598", "sell": "0.01921465", "sell_amount":
        "1"}, "ETHUSDT": {"vol": "19312.365448", "low": "168.23", "open": "170.33",
        "high": "173.9", "last": "171.72", "buy": "171.68", "buy_amount": "7.33786542",
        "sell": "171.89", "sell_amount": "4.31142696"}, "ONGBTC": {"vol": "5534.7198",
        "low": "0.00006496", "open": "0.00006672", "high": "0.00006684", "last": "0.0000655",
        "buy": "0.00003", "buy_amount": "10", "sell": "0.0031", "sell_amount": "1"},
        "BTTBTC": {"vol": "55880099.94334167", "low": "9.56e-8", "open": "1.055e-7",
        "high": "1.194e-7", "last": "1.084e-7", "buy": "1.050e-7", "buy_amount": "2189.9047619",
        "sell": "1.120e-7", "sell_amount": "30000"}, "ETCUSDT": {"vol": "69226.61029622",
        "low": "5.6469", "open": "5.6611", "high": "5.788", "last": "5.6963", "buy":
        "5.6877", "buy_amount": "240.46443389", "sell": "5.7049", "sell_amount": "111.16837875"},
        "DOGEBCH": {"vol": "7857551.64566455", "low": "0.00000859", "open": "0.00000884",
        "high": "0.00000904", "last": "0.0000087", "buy": "0.00000861", "buy_amount":
        "181760.99430542", "sell": "0.00000876", "sell_amount": "7922.047"}, "XRPUSDT":
        {"vol": "5908726.26454347", "low": "0.29732", "open": "0.2997", "high": "0.303887",
        "last": "0.2988", "buy": "0.298347", "buy_amount": "2681.44140881", "sell":
        "0.301772", "sell_amount": "2266.23723892"}, "GNTBCH": {"vol": "53887.8614",
        "low": "0.00024066", "open": "0.00025101", "high": "0.0002544", "last": "0.00024098",
        "buy": "0.00023949", "buy_amount": "661.8133", "sell": "0.00024211", "sell_amount":
        "264.7253"}, "EGTBTC": {"vol": "153601.6864921", "low": "3.487e-7", "open":
        "4.259e-7", "high": "5.200e-7", "last": "4.555e-7", "buy": "2.570e-7", "buy_amount":
        "1223.30739299", "sell": "5.200e-7", "sell_amount": "142976.62934274"}, "WWBBTC":
        {"vol": "2012415.59642458", "low": "0.00000246", "open": "0.0000029", "high":
        "0.00000291", "last": "0.00000246", "buy": "0.00000246", "buy_amount": "2.4652859",
        "sell": "0.00000288", "sell_amount": "1807.17848591"}, "TRXBCH": {"vol": "118284.60796796",
        "low": "0.00008242", "open": "0.00008608", "high": "0.00008777", "last": "0.00008324",
        "buy": "0.00008277", "buy_amount": "2114.1202", "sell": "0.00008373", "sell_amount":
        "20754.69453418"}, "CARDETH": {"vol": "2444.81978912", "low": "0.0000035",
        "open": "0.0000035", "high": "0.0000035", "last": "0.0000035", "buy": "0.00000351",
        "buy_amount": "33112.25071225", "sell": "0.00000405", "sell_amount": "61.58935344"},
        "ZECBCH": {"vol": "101.9731", "low": "0.17873189", "open": "0.20232814", "high":
        "0.20443775", "last": "0.19939604", "buy": "0.19798005", "buy_amount": "0.24141217",
        "sell": "0.2005533", "sell_amount": "2"}, "XLMBTC": {"vol": "282181.63569905",
        "low": "0.00001467", "open": "0.00001579", "high": "0.0000158", "last": "0.00001487",
        "buy": "0.00001473", "buy_amount": "501", "sell": "0.00001491", "sell_amount":
        "5534.20918834"}, "HOTBTC": {"vol": "1123840.59419057", "low": "1.900e-7",
[...]
