---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/depth?market=ZRXETH&merge=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": {"asks": [["0.00154706", "751.91948696"], ["0.00154713",
        "435.05942931"], ["0.00154723", "108.678"], ["0.00154735", "465.026"], ["0.00154736",
        "3.306"], ["0.00154747", "108.673"], ["0.00154798", "115.864"], ["0.00155123",
        "78.432"], ["0.00156025", "213.129"], ["0.00156202", "15"], ["0.00156868",
        "10"], ["0.00157013", "3.541"], ["0.00157248", "88.036"], ["0.00158525", "42.026"],
        ["0.00158982", "2.5"], ["0.00158983", "3.541"], ["0.00160615", "25.156"],
        ["0.00160617", "23.563"], ["0.00160618", "22.888"], ["0.00160954", "3.541"]],
        "bids": [["0.00151537", "120"], ["0.00151536", "767.69860195"], ["0.00151379",
        "5.974"], ["0.0015128", "45.101"], ["0.00150991", "236.837"], ["0.0015099",
        "42.612"], ["0.00150929", "1.737"], ["0.00150835", "503.2"], ["0.00150818",
        "108.673"], ["0.00150642", "3.541"], ["0.00150314", "26.144"], ["0.00150198",
        "3.301"], ["0.0015", "50"], ["0.00149788", "225.3"], ["0.00149787", "66.3"],
        ["0.00149271", "112.65"], ["0.0014927", "184.216"], ["0.00148702", "3.541"],
        ["0.0014866", "1.335"], ["0.00148341", "1.959"]], "last": "0.0015831", "time":
        1557391965268}, "message": "OK"}'
  recorded_at: Thu, 09 May 2019 08:52:45 GMT
recorded_with: VCR 4.0.0
