---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/depth?market=ZRXETH&merge=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": {"asks": [["0.00154742", "750.2513885"], ["0.00154749",
        "173.141"], ["0.00154756", "217.04"], ["0.0015478", "108.469"], ["0.00155204",
        "675.9"], ["0.00155205", "236.277"], ["0.00155206", "89.682"], ["0.0015521",
        "83.348"], ["0.00155504", "52.288"], ["0.00156202", "10"], ["0.00156868",
        "10"], ["0.00156903", "71.043"], ["0.00157013", "3.541"], ["0.00157248", "88.036"],
        ["0.00157876", "1.2"], ["0.00158525", "42.026"], ["0.00158983", "3.541"],
        ["0.00160615", "25.156"], ["0.00160617", "23.563"], ["0.00160618", "22.888"]],
        "bids": [["0.00151867", "766.79113478"], ["0.00151471", "92.972"], ["0.00151336",
        "54.253"], ["0.00151324", "1.021"], ["0.00151034", "108.515"], ["0.00150859",
        "1.737"], ["0.00150642", "3.541"], ["0.00150537", "225.3"], ["0.00150373",
        "3.298"], ["0.00150314", "26.144"], ["0.0015", "50"], ["0.00149794", "99.2"],
        ["0.00149694", "90.12"], ["0.00149419", "22.53"], ["0.0014927", "184.216"],
        ["0.00148702", "3.541"], ["0.0014866", "1.335"], ["0.00148341", "1.959"],
        ["0.00148279", "5.563"], ["0.00146763", "3.541"]], "last": "0.0015831", "time":
        1557391657769}, "message": "OK"}'
  recorded_at: Thu, 09 May 2019 08:47:38 GMT
recorded_with: VCR 4.0.0
