---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/ticker/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": {"date": 1557391965339, "ticker": {"TRXETH": {"vol":
        "307061.39716755", "low": "0.00013245", "open": "0.00014493", "high": "0.00014679",
        "last": "0.00013963", "buy": "0.00013844", "buy_amount": "500", "sell": "0.00014082",
        "sell_amount": "436.371"}, "ADABCH": {"vol": "100472.74093067", "low": "0.00021592",
        "open": "0.00022512", "high": "0.00022813", "last": "0.00022063", "buy": "0.00021945",
        "buy_amount": "277.3", "sell": "0.00022177", "sell_amount": "7836.00384789"},
        "ONTUSDT": {"vol": "101697.7273", "low": "1.0401", "open": "1.0565", "high":
        "1.0719", "last": "1.0465", "buy": "1.0296", "buy_amount": "0.45705", "sell":
        "1.062", "sell_amount": "15.50124"}, "HOTBCH": {"vol": "5788245.28500947",
        "low": "0.0000042", "open": "0.00000447", "high": "0.00000452", "last": "0.00000431",
        "buy": "0.0000042", "buy_amount": "0.3869781", "sell": "0.00000442", "sell_amount":
        "100127.72806554"}, "XLMBCH": {"vol": "80323.78604796", "low": "0.00030915",
        "open": "0.00032301", "high": "0.00036549", "last": "0.00031365", "buy": "0.00030801",
        "buy_amount": "630", "sell": "0.0003168", "sell_amount": "5485.45004213"},
        "SEELEBTC": {"vol": "251813.67834412", "low": "0.00000142", "open": "0.00000142",
        "high": "0.00000159", "last": "0.00000159", "buy": "0.000001032", "buy_amount":
        "33023.78372093", "sell": "0.0000015899", "sell_amount": "50000"}, "CETBTC":
        {"vol": "14604484.64581803", "low": "0.00000394", "open": "0.00000408", "high":
        "0.00000411", "last": "0.00000396", "buy": "0.00000396", "buy_amount": "47680.13002364",
        "sell": "0.00000397", "sell_amount": "19.99"}, "BATETH": {"vol": "33277.20588459",
        "low": "0.00174128", "open": "0.00192067", "high": "0.00192992", "last": "0.00175636",
        "buy": "0.00174275", "buy_amount": "1569.65232199", "sell": "0.00177681",
        "sell_amount": "10.4"}, "DOGEBTC": {"vol": "6682081.71401423", "low": "4.101e-7",
        "open": "4.283e-7", "high": "4.343e-7", "last": "4.105e-7", "buy": "4.101e-7",
        "buy_amount": "96900", "sell": "4.109e-7", "sell_amount": "42000"}, "BTUBCH":
        {"vol": "5650878.13127553", "low": "0.00001366", "open": "0.00001376", "high":
        "0.00001824", "last": "0.00001782", "buy": "0.00001761", "buy_amount": "25",
        "sell": "0.00001782", "sell_amount": "1853.36129327"}, "GNTBTC": {"vol": "40043.26401827",
        "low": "0.00001132", "open": "0.00001217", "high": "0.00001222", "last": "0.00001136",
        "buy": "0.00001127", "buy_amount": "140.71270955", "sell": "0.00001147", "sell_amount":
        "264.725"}, "LTCBTC": {"vol": "13388.09297905", "low": "0.012146", "open":
        "0.01252678", "high": "0.012616", "last": "0.01222879", "buy": "0.0121969",
        "buy_amount": "3.66", "sell": "0.01226314", "sell_amount": "2"}, "ETHUSDC":
        {"vol": "240.65111612", "low": "163.95", "open": "166.9", "high": "172.69",
        "last": "166.42", "buy": "157.19", "buy_amount": "15.01509043", "sell": "175.77",
        "sell_amount": "11.848"}, "NEOUSDT": {"vol": "34635.77950842", "low": "8.71",
        "open": "8.92", "high": "9.2466", "last": "8.73", "buy": "8.705", "buy_amount":
        "31.69921873", "sell": "8.9117", "sell_amount": "81.074685"}, "NNBBTC": {"vol":
        "27717856.88224024", "low": "3.301e-7", "open": "3.500e-7", "high": "3.599e-7",
        "last": "3.323e-7", "buy": "3.322e-7", "buy_amount": "5900.38792249", "sell":
        "3.395e-7", "sell_amount": "2000"}, "HCBCH": {"vol": "45427.83989985", "low":
        "0.00368917", "open": "0.00378768", "high": "0.00390119", "last": "0.0037048",
        "buy": "0.00367477", "buy_amount": "28.16", "sell": "0.0037344", "sell_amount":
        "103.5205"}, "BSVBCH": {"vol": "1933.82723921", "low": "0.18300074", "open":
        "0.18554523", "high": "0.20370609", "last": "0.19558512", "buy": "0.1939281",
        "buy_amount": "1.626", "sell": "0.19740967", "sell_amount": "0.01781219"},
        "BTCUSDC": {"vol": "92.53679838", "low": "5792.55", "open": "5793.56", "high":
        "6068.49", "last": "6039.29", "buy": "5998.41", "buy_amount": "1.07050674",
        "sell": "6079.71", "sell_amount": "0.24556101"}, "ETHBCH": {"vol": "6604.95440919",
        "low": "0.58803741", "open": "0.59484203", "high": "0.6", "last": "0.59367722",
        "buy": "0.59097413", "buy_amount": "4.73", "sell": "0.5965494", "sell_amount":
        "0.05"}, "QTUMBTC": {"vol": "59132.91178226", "low": "0.000391", "open": "0.000404",
        "high": "0.000415", "last": "0.000394", "buy": "0.0003908", "buy_amount":
        "425.98078359", "sell": "0.00039689", "sell_amount": "83.18909816"}, "EOSUSDT":
        {"vol": "200981.5047167", "low": "4.8414", "open": "4.8822", "high": "4.9872",
        "last": "4.9072", "buy": "4.9033", "buy_amount": "362.49010573", "sell": "4.9123",
        "sell_amount": "45.3936018"}, "WINGSBTC": {"vol": "561656.0296", "low": "0.0000066",
        "open": "0.00000684", "high": "0.00000741", "last": "0.00000683", "buy": "0.00000583",
        "buy_amount": "743.42010742", "sell": "0.0000078", "sell_amount": "47.82742107"},
        "VETETH": {"vol": "468033.2504", "low": "0.00003609", "open": "0.0000365",
        "high": "0.0000376", "last": "0.000037", "buy": "0.00003673", "buy_amount":
        "31672.74036091", "sell": "0.00003745", "sell_amount": "31063.81184129"},
        "HCBTC": {"vol": "7966.08560001", "low": "0.00017535", "open": "0.00018531",
        "high": "0.00018763", "last": "0.00017663", "buy": "0.0001752", "buy_amount":
        "42.3103", "sell": "0.00017768", "sell_amount": "177.97550861"}, "BSVBTC":
        {"vol": "21767.73620993", "low": "0.00890093", "open": "0.00896673", "high":
        "0.009876", "last": "0.009335", "buy": "0.00930812", "buy_amount": "0.17015675",
        "sell": "0.00933748", "sell_amount": "6"}, "LTCBCH": {"vol": "13116.77273104",
        "low": "0.25666", "open": "0.25821861", "high": "0.26276799", "last": "0.25821722",
        "buy": "0.25675891", "buy_amount": "1.48", "sell": "0.25975907", "sell_amount":
        "0.07166908"}, "THPCETH": {"vol": "88032251.66908191", "low": "0.00000128",
        "open": "0.00000179", "high": "0.00000219", "last": "0.00000181", "buy": "0.0000018",
        "buy_amount": "46431.30299439", "sell": "0.00000182", "sell_amount": "199.00277093"},
        "ETHBTC": {"vol": "10313.30045687", "low": "0.02789871", "open": "0.02884914",
        "high": "0.02903452", "last": "0.028198", "buy": "0.02811821", "buy_amount":
        "5.70406019", "sell": "0.02824582", "sell_amount": "0.29593981"}, "LAMBUSDT":
        {"vol": "43399.68158037", "low": "0.056206", "open": "0.060138", "high": "0.061341",
        "last": "0.057871", "buy": "0.05659", "buy_amount": "349.88278", "sell": "0.058305",
        "sell_amount": "5175"}, "BTUBTC": {"vol": "469015.21137223", "low": "6.609e-7",
        "open": "6.715e-7", "high": "8.600e-7", "last": "8.465e-7", "buy": "8.400e-7",
        "buy_amount": "25.902", "sell": "8.465e-7", "sell_amount": "2620.0868"}, "PAXUSDT":
        {"vol": "6523.58534095", "low": "0.98", "open": "1.0159", "high": "1.0168",
        "last": "0.9805", "buy": "0.9821", "buy_amount": "539.67202493", "sell": "1",
        "sell_amount": "510.43054309"}, "CODYBTC": {"vol": "42264641.61110349", "low":
        "8.558e-7", "open": "8.779e-7", "high": "9.246e-7", "last": "8.652e-7", "buy":
        "8.643e-7", "buy_amount": "853.35785", "sell": "8.702e-7", "sell_amount":
        "133.6762"}, "BCHUSDC": {"vol": "418.94689299", "low": "260.31", "open": "283.8",
        "high": "284.94", "last": "280.7", "buy": "265.5", "buy_amount": "0.0300984",
        "sell": "294.76", "sell_amount": "5.503"}, "ULTBTC": {"vol": "250673.47798226",
        "low": "0.00000109", "open": "0.00000111", "high": "0.00000111", "last": "0.00000111",
        "buy": "0.0000011", "buy_amount": "1604.35226499", "sell": "0.00000111", "sell_amount":
        "287507.98079026"}, "DCRBCH": {"vol": "958.21479784", "low": "0.0877691",
        "open": "0.08902901", "high": "0.09550991", "last": "0.08989473", "buy": "0.08809357",
        "buy_amount": "19.32981517", "sell": "0.09173082", "sell_amount": "18.93103429"},
        "MTBCH": {"vol": "0", "low": "0", "open": "0", "high": "0", "last": "0.00001399",
        "buy": "0.00000557", "buy_amount": "7692.31", "sell": "0.00001399", "sell_amount":
        "2.33299333"}, "DCRBTC": {"vol": "3510.6657416", "low": "0.004217", "open":
        "0.00431757", "high": "0.00434217", "last": "0.004245", "buy": "0.00419004",
        "buy_amount": "19.69964557", "sell": "0.00427944", "sell_amount": "4.12149835"},
        "XMRBCH": {"vol": "469.92610485", "low": "0.23162622", "open": "0.23397546",
        "high": "0.2384039", "last": "0.23591358", "buy": "0.23470631", "buy_amount":
        "0.791", "sell": "0.23707409", "sell_amount": "19.016528"}, "OLTBTC": {"vol":
        "317952.541", "low": "5.390e-7", "open": "5.601e-7", "high": "5.655e-7", "last":
        "5.391e-7", "buy": "4.900e-7", "buy_amount": "1037.44307619", "sell": "5.900e-7",
        "sell_amount": "911.7471201"}, "CETUSDT": {"vol": "19370141.52411452", "low":
        "0.02331", "open": "0.024111", "high": "0.025453", "last": "0.02418", "buy":
        "0.02398", "buy_amount": "39694", "sell": "0.024379", "sell_amount": "24744.5"},
        "NEOBTC": {"vol": "5157.38785763", "low": "0.001428", "open": "0.00151414",
        "high": "0.00152663", "last": "0.001433", "buy": "0.00142742", "buy_amount":
        "3.50282327", "sell": "0.00144949", "sell_amount": "46.79576812"}, "BATUSDT":
        {"vol": "79826.08138804", "low": "0.3", "open": "0.326746", "high": "0.344608",
        "last": "0.3", "buy": "0.3012", "buy_amount": "1229.80668429", "sell": "0.305849",
        "sell_amount": "13"}, "ZILBCH": {"vol": "6863749.8108", "low": "0.00005355",
        "open": "0.00005646", "high": "0.00006019", "last": "0.0000539", "buy": "0.00005365",
        "buy_amount": "2771.235", "sell": "0.00005416", "sell_amount": "12807.67087691"},
        "GUSDUSDT": {"vol": "0", "low": "0", "open": "0", "high": "0", "last": "1.0497",
        "buy": "0.7803", "buy_amount": "640.77918749", "sell": "1.0497", "sell_amount":
        "0.82461656"}, "CTXCBTC": {"vol": "81941.24669989", "low": "0.00002362", "open":
        "0.00002405", "high": "0.00002714", "last": "0.00002401", "buy": "0.00002386",
        "buy_amount": "351.3702", "sell": "0.00002418", "sell_amount": "140.5481"},
        "XRPBCH": {"vol": "815657.5874106", "low": "0.00101835", "open": "0.00104624",
        "high": "0.00106046", "last": "0.00104029", "buy": "0.00102966", "buy_amount":
        "1833.1288004", "sell": "0.00105092", "sell_amount": "600"}, "ETCBCH": {"vol":
        "264608.58493872", "low": "0.01944445", "open": "0.01972392", "high": "0.0205538",
        "last": "0.01972928", "buy": "0.01952645", "buy_amount": "15.45", "sell":
        "0.01993115", "sell_amount": "195.07033164"}, "MTETH": {"vol": "442.8035191",
        "low": "0.0000167", "open": "0.0000167", "high": "0.00001672", "last": "0.00001672",
        "buy": "0.00001671", "buy_amount": "10344.83", "sell": "0.000085", "sell_amount":
        "16112.9032258"}, "NANOUSDT": {"vol": "3436.06685059", "low": "1.476", "open":
        "1.5064", "high": "1.5384", "last": "1.4955", "buy": "1.4912", "buy_amount":
        "0.04", "sell": "1.4995", "sell_amount": "0.093129"}, "SEELEBCH": {"vol":
        "1", "low": "0.00003138", "open": "0.00003138", "high": "0.00003138", "last":
        "0.00003138", "buy": "0.00001854", "buy_amount": "2000", "sell": "0.00003146",
        "sell_amount": "1"}, "CETBCH": {"vol": "1915317.92894999", "low": "0.0000822",
        "open": "0.00008411", "high": "0.000085", "last": "0.00008345", "buy": "0.00008301",
        "buy_amount": "4671", "sell": "0.00008388", "sell_amount": "1"}, "XRPBTC":
        {"vol": "1684011.16389879", "low": "0.00004864", "open": "0.00005082", "high":
        "0.00005103", "last": "0.00004899", "buy": "0.00004891", "buy_amount": "1038.4325453",
        "sell": "0.00004919", "sell_amount": "66.4011"}, "ETCBTC": {"vol": "31060.27060001",
        "low": "0.00092703", "open": "0.000959", "high": "0.000971", "last": "0.000934",
        "buy": "0.00092813", "buy_amount": "19.24", "sell": "0.0009374", "sell_amount":
        "186.63079315"}, "OMGETH": {"vol": "36840.93770567", "low": "0.00929404",
        "open": "0.009518", "high": "0.009904", "last": "0.009585", "buy": "0.00948649",
        "buy_amount": "34.64954", "sell": "0.00966939", "sell_amount": "301.24033887"},
        "BTMETH": {"vol": "61176.0717", "low": "0.00051304", "open": "0.00057026",
        "high": "0.00057618", "last": "0.00055793", "buy": "0.00055336", "buy_amount":
        "2102.31992456", "sell": "0.00056212", "sell_amount": "2069.55766287"}, "ONTBCH":
        {"vol": "7527.7658", "low": "0.00361319", "open": "0.00370271", "high": "0.0037255",
        "last": "0.00363364", "buy": "0.00356582", "buy_amount": "47.80572", "sell":
        "0.00369685", "sell_amount": "9.19721"}, "EOSETH": {"vol": "31461.05224401",
        "low": "0.02839999", "open": "0.02880137", "high": "0.02909965", "last": "0.028585",
        "buy": "0.0284135", "buy_amount": "1.3391", "sell": "0.02879493", "sell_amount":
        "90.64102736"}, "DASHUSDT": {"vol": "13906.72291612", "low": "116.56", "open":
        "116.82", "high": "119.63", "last": "117.13", "buy": "116.9", "buy_amount":
        "0.00008687", "sell": "117.39", "sell_amount": "0.03620469"}, "XZCBCH": {"vol":
        "828.41502086", "low": "0.0182531", "open": "0.02240529", "high": "0.02465776",
        "last": "0.02197418", "buy": "0.02141436", "buy_amount": "1", "sell": "0.02355223",
        "sell_amount": "22.6201858"}, "CMTBTC": {"vol": "347202.67926407", "low":
        "0.00000536", "open": "0.00000542", "high": "0.00000589", "last": "0.00000541",
        "buy": "0.00000532", "buy_amount": "1223.086", "sell": "0.00000552", "sell_amount":
        "1126.525"}, "LINKBCH": {"vol": "52558.89565394", "low": "0.0019674", "open":
        "0.00203049", "high": "0.00216442", "last": "0.00208134", "buy": "0.0020628",
        "buy_amount": "718", "sell": "0.0021", "sell_amount": "1"}, "ZILETH": {"vol":
        "418639.75138788", "low": "0.00008951", "open": "0.00009499", "high": "0.00009689",
        "last": "0.00009055", "buy": "0.00008989", "buy_amount": "1108.4938", "sell":
        "0.00009087", "sell_amount": "12802.24225218"}, "ADAUSDT": {"vol": "2809485.29144406",
        "low": "0.062103", "open": "0.064308", "high": "0.065418", "last": "0.063601",
        "buy": "0.063165", "buy_amount": "7915.77614184", "sell": "0.063965", "sell_amount":
        "8094.08679871"}, "BATBCH": {"vol": "31217.61648245", "low": "0.00104297",
        "open": "0.00114068", "high": "0.00124137", "last": "0.00104801", "buy": "0.00103774",
        "buy_amount": "668.43665532", "sell": "0.00105865", "sell_amount": "29"},
        "DASHBCH": {"vol": "91.81964333", "low": "0.40048294", "open": "0.40853348",
        "high": "0.42555977", "last": "0.40457", "buy": "0.4026383", "buy_amount":
        "0.4515", "sell": "0.4064283", "sell_amount": "0.4515"}, "ONGBCH": {"vol":
        "0", "low": "0", "open": "0", "high": "0", "last": "0.0013", "buy": "0.00000201",
        "buy_amount": "1", "sell": "0.0039", "sell_amount": "1"}, "BTTBCH": {"vol":
        "11511892.34707483", "low": "0.00000205", "open": "0.0000021", "high": "0.00000241",
        "last": "0.00000232", "buy": "0.00000217", "buy_amount": "2189.904", "sell":
        "0.00000248", "sell_amount": "4.37013982"}, "THPCBTC": {"vol": "259138582.66070922",
        "low": "4e-8", "open": "5e-8", "high": "6e-8", "last": "5e-8", "buy": "5e-8",
        "buy_amount": "145726.82622213", "sell": "6e-8", "sell_amount": "470568.61773031"},
        "VETBTC": {"vol": "1544481.84378876", "low": "0.00000102", "open": "0.000001053",
        "high": "0.0000010636", "last": "0.000001042", "buy": "0.00000103", "buy_amount":
        "32076.44458272", "sell": "0.0000010569", "sell_amount": "20608.218"}, "WHCBCH":
        {"vol": "0.01451159", "low": "0.007141", "open": "0.007141", "high": "0.0076",
        "last": "0.0076", "buy": "0.00353", "buy_amount": "4.47513314", "sell": "0.0076",
        "sell_amount": "63.52690972"}, "USDCUSDT": {"vol": "2741.86286358", "low":
        "1.0083", "open": "1.0126", "high": "1.018", "last": "1.0174", "buy": "1.0009",
        "buy_amount": "2025.92971853", "sell": "1.0173", "sell_amount": "491.49710016"},
        "HYDROBTC": {"vol": "4500618.45999496", "low": "2.205e-7", "open": "2.385e-7",
        "high": "2.395e-7", "last": "2.230e-7", "buy": "2.207e-7", "buy_amount": "15443.63389216",
        "sell": "2.230e-7", "sell_amount": "35004.21973095"}, "BTCPAX": {"vol": "1.84812199",
        "low": "5728.94", "open": "5792.6", "high": "6144.67", "last": "6116.7", "buy":
        "6052.17", "buy_amount": "0.001", "sell": "6180.01", "sell_amount": "0.0805252"},
        "ZRXETH": {"vol": "25292.25878592", "low": "0.00152971", "open": "0.00156994",
        "high": "0.00159415", "last": "0.00153164", "buy": "0.00151537", "buy_amount":
        "120", "sell": "0.00154706", "sell_amount": "751.91948696"}, "SCBTC": {"vol":
        "2216017.42500923", "low": "4.034e-7", "open": "4.330e-7", "high": "4.420e-7",
        "last": "4.100e-7", "buy": "4.000e-7", "buy_amount": "293680.4866905", "sell":
        "4.179e-7", "sell_amount": "1059172.42"}, "CETUSDC": {"vol": "584169.7745",
        "low": "0.021", "open": "0.024112", "high": "0.024225", "last": "0.024179",
        "buy": "0.020886", "buy_amount": "23827.86907929", "sell": "0.024257", "sell_amount":
        "20515.16893539"}, "MTBTC": {"vol": "30.45603448", "low": "5.0e-7", "open":
        "5.8e-7", "high": "5.8e-7", "last": "5.0e-7", "buy": "5.0e-7", "buy_amount":
        "63488.4552", "sell": "5.8e-7", "sell_amount": "315.85730419"}, "XMRBTC":
        {"vol": "3861.58972741", "low": "0.01111803", "open": "0.011372", "high":
        "0.011387", "last": "0.011148", "buy": "0.01112337", "buy_amount": "0.02507245",
        "sell": "0.0111594", "sell_amount": "19.01652974"}, "BTCTUSD": {"vol": "6.08051306",
        "low": "5028.89", "open": "5794.75", "high": "5991.26", "last": "5986.18",
        "buy": "5972.41", "buy_amount": "0.03766507", "sell": "6000", "sell_amount":
        "0.001"}, "THPCBCH": {"vol": "10747.45314888", "low": "5.4e-7", "open": "5.4e-7",
        "high": "8.5e-7", "last": "8.5e-7", "buy": "9.2e-7", "buy_amount": "101767.67391304",
        "sell": "0.0000014", "sell_amount": "18813.95907019"}, "OMGBTC": {"vol": "3368.08748107",
        "low": "0.000267", "open": "0.000274", "high": "0.000284", "last": "0.00027",
        "buy": "0.00026674", "buy_amount": "207", "sell": "0.00027152", "sell_amount":
        "75.77393118"}, "BTMBTC": {"vol": "70368.07711604", "low": "0.00001562", "open":
        "0.00001643", "high": "0.00001661", "last": "0.00001571", "buy": "0.0000156",
        "buy_amount": "1769", "sell": "0.0000158", "sell_amount": "2089.67855519"},
        "ETHPAX": {"vol": "16.29429759", "low": "137.21", "open": "169.42", "high":
        "172.82", "last": "172.19", "buy": "168.99", "buy_amount": "2.94496049", "sell":
        "175.55", "sell_amount": "1.84343889"}, "VETBCH": {"vol": "376315.67715534",
        "low": "0.00001879", "open": "0.00002174", "high": "0.00002227", "last": "0.00002212",
        "buy": "0.0000218", "buy_amount": "31819.42452722", "sell": "0.00002246",
        "sell_amount": "52063.84245046"}, "EOSBTC": {"vol": "199756.57918014", "low":
        "0.00079916", "open": "0.00083058", "high": "0.00083128", "last": "0.00080565",
        "buy": "0.00080289", "buy_amount": "62.27503143", "sell": "0.00080961", "sell_amount":
        "101.92456175"}, "BCHUSDT": {"vol": "11822.6288716", "low": "282.56", "open":
        "285.5", "high": "294.6", "last": "287.88", "buy": "287.46", "buy_amount":
        "6.95748972", "sell": "289.5", "sell_amount": "9.6"}, "NNBBCH": {"vol": "12641744.15439811",
        "low": "0.00000676", "open": "0.000007", "high": "0.00000746", "last": "0.00000712",
        "buy": "0.00000704", "buy_amount": "1", "sell": "0.00000719", "sell_amount":
        "7000"}, "HOTETH": {"vol": "5132337.54191264", "low": "0.00000701", "open":
        "0.00000739", "high": "0.00000756", "last": "0.00000748", "buy": "0.00000701",
        "buy_amount": "0.30955777", "sell": "0.00000793", "sell_amount": "2000"},
        "BTCGUSD": {"vol": "4.5455", "low": "5803.84", "open": "5810.78", "high":
        "6067.12", "last": "6053.32", "buy": "5953.75", "buy_amount": "0.08358914",
        "sell": "6146.99", "sell_amount": "0.08096139"}, "BATBTC": {"vol": "77356.97947744",
        "low": "0.0000491", "open": "0.00005548", "high": "0.00005556", "last": "0.00004966",
        "buy": "0.00004937", "buy_amount": "1671.91215171", "sell": "0.00004996",
        "sell_amount": "8.4"}, "XLMUSDT": {"vol": "585124.25311182", "low": "0.08992",
        "open": "0.092936", "high": "0.093402", "last": "0.090565", "buy": "0.089837",
        "buy_amount": "5565.63553992", "sell": "0.090986", "sell_amount": "5495.35093311"},
        "LINKETH": {"vol": "65944.37757949", "low": "0.0033", "open": "0.00343603",
        "high": "0.0036486", "last": "0.00352814", "buy": "0.00347587", "buy_amount":
        "8.4", "sell": "0.00357295", "sell_amount": "758.29815156"}, "BCHBTC": {"vol":
        "10884.42508855", "low": "0.04666801", "open": "0.0484382", "high": "0.04865738",
        "last": "0.047285", "buy": "0.04712925", "buy_amount": "1.2", "sell": "0.04753799",
        "sell_amount": "4.8"}, "TUSDUSDT": {"vol": "2956.61745533", "low": "0.9884",
        "open": "1.0255", "high": "1.0262", "last": "1.0103", "buy": "1.0077", "buy_amount":
        "502.17941847", "sell": "101900000", "sell_amount": "1"}, "CNNBTC": {"vol":
        "338218995.34995", "low": "3.10e-8", "open": "3.20e-8", "high": "3.46e-8",
        "last": "3.25e-8", "buy": "3.16e-8", "buy_amount": "2060666.4236962", "sell":
        "3.28e-8", "sell_amount": "3926.51549999"}, "LTCUSDT": {"vol": "22766.40314289",
        "low": "73.46", "open": "73.77", "high": "75.84", "last": "74.52", "buy":
        "74.5", "buy_amount": "10", "sell": "74.55", "sell_amount": "16.62047091"},
        "EOSBCH": {"vol": "169830.00957159", "low": "0.01678905", "open": "0.01707538",
        "high": "0.01805918", "last": "0.01706237", "buy": "0.01689849", "buy_amount":
        "19.3", "sell": "0.0172153", "sell_amount": "100.94454196"}, "TCTBTC": {"vol":
        "128.96526696", "low": "0.00000688", "open": "0.00000688", "high": "0.00000688",
        "last": "0.00000688", "buy": "0.00000666", "buy_amount": "33", "sell": "0.00000799",
        "sell_amount": "9342.36425039"}, "LFCBTC": {"vol": "38061.88435584", "low":
        "1.701e-7", "open": "2.199e-7", "high": "2.250e-7", "last": "1.701e-7", "buy":
        "2.001e-7", "buy_amount": "300242.34182907", "sell": "2.250e-7", "sell_amount":
        "98578.66092073"}, "LOOMBTC": {"vol": "532809.66665673", "low": "0.00000915",
        "open": "0.00001004", "high": "0.00001009", "last": "0.00000937", "buy": "0.00000911",
        "buy_amount": "9191.98039718", "sell": "0.00000953", "sell_amount": "8396.02516882"},
        "OMGBCH": {"vol": "6691.14233581", "low": "0.00555093", "open": "0.00560519",
        "high": "0.00584482", "last": "0.00564789", "buy": "0.00555438", "buy_amount":
        "139.22", "sell": "0.00573906", "sell_amount": "1.23888027"}, "BTMBCH": {"vol":
        "61664.2437281", "low": "0.00033119", "open": "0.00033811", "high": "0.00036147",
        "last": "0.00033246", "buy": "0.00033081", "buy_amount": "396.825", "sell":
        "0.00033423", "sell_amount": "2075.40751785"}, "LAMBBTC": {"vol": "65299.48516258",
        "low": "0.0000091", "open": "0.00001012", "high": "0.00001034", "last": "0.0000094",
        "buy": "0.00000931", "buy_amount": "27.342", "sell": "0.00000949", "sell_amount":
        "168.39497496"}, "BTCUSDT": {"vol": "1367.81354796", "low": "5880.75", "open":
        "5888.45", "high": "6128.01", "last": "6089", "buy": "6086", "buy_amount":
        "0.41086225", "sell": "6090", "sell_amount": "0.47660572"}, "CARDBCH": {"vol":
        "441.88696028", "low": "0.00000153", "open": "0.00000153", "high": "0.00000153",
        "last": "0.00000153", "buy": "9.3e-7", "buy_amount": "54967.45", "sell": "0.0000027",
        "sell_amount": "8078.13127639"}, "ZRXBTC": {"vol": "48156.4596", "low": "0.00004299",
        "open": "0.00004532", "high": "0.00004552", "last": "0.00004303", "buy": "0.00004286",
        "buy_amount": "172.0578", "sell": "0.00004327", "sell_amount": "68.8231"},
        "NANOBTC": {"vol": "2617.11317143", "low": "0.00024301", "open": "0.00025653",
        "high": "0.000259", "last": "0.000248", "buy": "0.00024308", "buy_amount":
        "339.47319582", "sell": "0.00024936", "sell_amount": "100"}, "TCTETH": {"vol":
        "0", "low": "0", "open": "0", "high": "0", "last": "0.00027399", "buy": "0.00002611",
        "buy_amount": "9", "sell": "0.00027399", "sell_amount": "9.44654316"}, "LOOMETH":
        {"vol": "99907.02908146", "low": "0.000325", "open": "0.00034941", "high":
        "0.00036651", "last": "0.00033649", "buy": "0.00032434", "buy_amount": "205.01792925",
        "sell": "0.00034776", "sell_amount": "333.82977"}, "ZILBTC": {"vol": "1197692.22014675",
        "low": "0.0000025", "open": "0.00000273", "high": "0.00000276", "last": "0.00000254",
        "buy": "0.00000252", "buy_amount": "3197.924", "sell": "0.00000255", "sell_amount":
        "17091.66065605"}, "BSVUSDT": {"vol": "28686.83868452", "low": "52.6785",
        "open": "52.9258", "high": "58.8468", "last": "56.6776", "buy": "56.6306",
        "buy_amount": "0.04214243", "sell": "56.8465", "sell_amount": "7.588"}, "LAMBETH":
        {"vol": "18330.26677147", "low": "0.00032545", "open": "0.00035358", "high":
        "0.00035902", "last": "0.00033682", "buy": "0.00032879", "buy_amount": "1766.628",
        "sell": "0.00034117", "sell_amount": "97.52983538"}, "DASHBTC": {"vol": "7524.75720516",
        "low": "0.019092", "open": "0.019813", "high": "0.01989", "last": "0.019112",
        "buy": "0.01902732", "buy_amount": "0.19754437", "sell": "0.01921465", "sell_amount":
        "1"}, "ETHUSDT": {"vol": "19320.39236633", "low": "168.23", "open": "169.59",
        "high": "173.9", "last": "171.53", "buy": "171.53", "buy_amount": "4.73022543",
        "sell": "171.75", "sell_amount": "6.92924529"}, "ONGBTC": {"vol": "5441.3692",
        "low": "0.00006496", "open": "0.00006683", "high": "0.00006684", "last": "0.0000655",
        "buy": "0.00003", "buy_amount": "10", "sell": "0.0031", "sell_amount": "1"},
        "BTTBTC": {"vol": "55893573.52884167", "low": "9.56e-8", "open": "1.057e-7",
        "high": "1.194e-7", "last": "1.086e-7", "buy": "1.050e-7", "buy_amount": "2189.9047619",
        "sell": "1.120e-7", "sell_amount": "30000"}, "ETCUSDT": {"vol": "69039.81479622",
        "low": "5.6469", "open": "5.653", "high": "5.788", "last": "5.6952", "buy":
        "5.68", "buy_amount": "240.93909275", "sell": "5.6972", "sell_amount": "111.16837875"},
        "DOGEBCH": {"vol": "7856462.89486455", "low": "0.00000859", "open": "0.00000882",
        "high": "0.00000904", "last": "0.00000868", "buy": "0.00000862", "buy_amount":
        "189399.56480927", "sell": "0.00000878", "sell_amount": "7922.047"}, "XRPUSDT":
        {"vol": "5907160.22553055", "low": "0.29732", "open": "0.2994", "high": "0.303887",
        "last": "0.299", "buy": "0.297382", "buy_amount": "5044.01745902", "sell":
        "0.29909", "sell_amount": "3350.16498708"}, "GNTBCH": {"vol": "53909.9431",
        "low": "0.00024062", "open": "0.00025116", "high": "0.0002544", "last": "0.00024062",
        "buy": "0.0002387", "buy_amount": "661.8133", "sell": "0.00024201", "sell_amount":
        "264.7253"}, "EGTBTC": {"vol": "152345.6806921", "low": "3.487e-7", "open":
        "4.257e-7", "high": "5.200e-7", "last": "4.555e-7", "buy": "2.570e-7", "buy_amount":
        "1223.30739299", "sell": "5.200e-7", "sell_amount": "142976.62934274"}, "WWBBTC":
        {"vol": "2012415.59642458", "low": "0.00000246", "open": "0.0000029", "high":
        "0.00000291", "last": "0.00000246", "buy": "0.00000246", "buy_amount": "2.4652859",
        "sell": "0.00000288", "sell_amount": "1807.17848591"}, "TRXBCH": {"vol": "117888.75556796",
        "low": "0.00008242", "open": "0.00008606", "high": "0.00008777", "last": "0.00008319",
        "buy": "0.00008277", "buy_amount": "2114.1202", "sell": "0.00008363", "sell_amount":
        "21709.11181809"}, "CARDETH": {"vol": "2444.81978912", "low": "0.0000035",
        "open": "0.0000035", "high": "0.0000035", "last": "0.0000035", "buy": "0.00000351",
        "buy_amount": "33112.25071225", "sell": "0.00000405", "sell_amount": "61.58935344"},
        "ZECBCH": {"vol": "102.3002", "low": "0.17873189", "open": "0.20190577", "high":
        "0.20443775", "last": "0.19928825", "buy": "0.19813822", "buy_amount": "0.24121946",
        "sell": "0.20044546", "sell_amount": "2"}, "XLMBTC": {"vol": "283327.83819905",
        "low": "0.00001467", "open": "0.00001579", "high": "0.00001579", "last": "0.00001478",
        "buy": "0.00001473", "buy_amount": "6103.11435448", "sell": "0.00001491",
        "sell_amount": "5534.48319527"}, "HOTBTC": {"vol": "1123831.49119057", "low":
        "1.900e-7", "open": "2.105e-7", "high": "2.164e-7", "last": "1.949e-7", "buy":
[...]
