---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/deals?market=BTCBCH
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": [{"id": 638727221, "type": "sell", "price": "13.55758875",
        "amount": "0.001", "date": 1537579003, "date_ms": 1537579003232}, {"id": 638727212,
        "type": "sell", "price": "13.55758875", "amount": "0.001", "date": 1537579002,
        "date_ms": 1537579002689}, {"id": 638727193, "type": "sell", "price": "13.55760029",
        "amount": "0.001", "date": 1537579001, "date_ms": 1537579001732}, {"id": 638727181,
        "type": "sell", "price": "13.55760029", "amount": "0.001", "date": 1537579001,
        "date_ms": 1537579001587}, {"id": 638727141, "type": "sell", "price": "13.55760029",
        "amou[...]
