---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/depth?market=BTCBCH&merge=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": {"asks": [["13.55786016", "0.001"], ["13.55846276",
        "0.001"], ["13.5585068", "0.00188132"], ["13.55863966", "0.001"], ["13.55863995",
        "0.001"], ["13.55902095", "0.001"], ["13.5599369", "0.001"], ["13.563009",
        "0.00689806"], ["13.5677527", "0.01"], ["13.56807136", "0.01848252"], ["13.56846264",
        "0.001"], ["13.5691303", "0.001"], ["13.56949188", "0.001"], ["13.57003728",
        "0.002"], ["13.5701456", "0.01"], ["13.57180991", "0.002503"], ["13.57451076",
        "0.02699999"], ["13.57559631", "0.0014691"], ["13.576757", "0.003128"], ["13.57689653",
        "0.001"]], "bids": [["13.55691693", "0.001"], ["13.5553711", "0.00065529"],
        ["13.5549869", "0.001"], ["13.5483849", "0.00146571"], ["13.54681486", "1e-8"],
        ["13.546397", "0.003024"], ["13.54589706", "0.47265255"], ["13.5457328", "0.002205"],
        ["13.54570539", "0.001"], ["13.5444505", "0.00047306"], ["13.54350573", "0.0014702"],
        ["13.54340367", "0.00047346"], ["13.53964889", "0.07393008"], ["13.53810001",
        "0.17171"], ["13.5328896", "0.01"], ["13.5322472", "0.02"], ["13.5247919",
        "0.00193797"], ["13.51976828", "0.001"], ["13.518646", "0.005"], ["13.51812984",
        "0.0022056"]], "last": "13.55753594"}, "message": "OK"}'
  recorded_at: Sat, 22 Sep 2018 01:16:58 GMT
recorded_with: VCR 4.0.0
