---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/deals?market=BTCBCH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"code\": 0, \n  \"data\": [\n    {\n      \"amount\": \"0.0044916\",
        \n      \"date\": 1518398326, \n      \"date_ms\": 1518398326561, \n      \"id\":
        932373, \n      \"price\": \"6.69\", \n      \"type\": \"buy\"\n    }, \n
        \   {\n      \"amount\": \"0.01836308\", \n      \"date\": 1518395784, \n
        \     \"date_ms\": 1518395784819, \n      \"id\": 931501, \n      \"price\":
        \"6.65\", \n      \"type\": \"buy\"\n    }, \n    {\n      \"amount\": \"0.01284344\",
        \n      \"date\": 1518394139, \n      \"date_ms\": 1518394139739, \n      \"id\":
        930940, \n      \"price\": \"6.69\", \n      \"type\": \"buy\"\n    }, \n
        \   {\n      \"amount\": \"0.00295726\[...]
