---
http_interactions:
- request:
    method: get
    uri: https://api.coinex.com/v1/market/depth?market=ZRXETH&merge=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 0, "data": {"asks": [["0.00193953", "2460.54247919"], ["0.00194191",
        "455.36645686"], ["0.00198129", "1276.23828861"], ["0.0019813", "852.25222845"],
        ["0.00213225", "1"], ["0.0021458", "1"], ["0.00215285", "1"], ["0.00215543",
        "1"], ["0.00216458", "1"], ["0.00218129", "1"], ["0.00219439", "1"], ["0.00220063",
        "1"], ["0.00221386", "1"], ["0.00221844", "1"], ["0.00224342", "16"], ["0.00225951",
        "1"], ["0.00228235", "1"], ["0.00229515", "1"], ["0.00232008", "1"], ["0.00232695",
        "1"]], "bids": [["0.00186675", "90.27"], ["0.00186674", "6736.24908065"],
        ["0.00186667", "2012.63761655"], ["0.00186664", "190"], ["0.00186507", "3790.4409837"],
        ["0.00185394", "1360.21715004"], ["0.0015", "50"], ["0.001", "80"], ["0.00067",
        "158.10447761"], ["0.0003", "20"], ["0.0002988", "3"], ["0.00024", "174.64166666"],
        ["0.00023002", "1000"], ["0.00015", "2"], ["1.3e-7", "100000"], ["1.2e-7",
        "11833.33333333"], ["6e-8", "24076.02"], ["5e-8", "200000"], ["2e-8", "1000000"],
        ["1e-8", "1223478.42"]], "last": "0.00186664", "time": 1553273741092}, "message":
        "OK"}'
  recorded_at: Fri, 22 Mar 2019 16:55:41 GMT
recorded_with: VCR 4.0.0
