---
http_interactions:
- request:
    method: get
    uri: https://broker.negociecoins.com.br/api/v3/btcbrl/ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 05 Aug 2018 05:41:28 GMT
    body:
      encoding: UTF-8
      string: '{"buy":27221.1900,"date":1533446150,"high":28800.0000,"last":27221.1900,"low":27100.0000,"sell":27399.0000,"vol":219.41861624}'
  recorded_at: Sun, 05 Aug 2018 05:41:31 GMT
recorded_with: VCR 4.0.0
