---
http_interactions:
- request:
    method: get
    uri: https://broker.negociecoins.com.br/api/v3/btcbrl/trades
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 05 Aug 2018 05:41:35 GMT
    body:
      encoding: UTF-8
      string: '[{"date":1533446150,"price":27221.1900,"amount":0.02556234,"tid":979591,"type":"Sell"},{"date":1533445419,"price":27221.1900,"amount":0.70855298,"tid":979590,"type":"Sell"},{"date":1533435790,"price":27399.0000,"amount":0.00182635,"tid":979587,"type":"Buy"},{"date":1533435137,"price":27220.9900,"amount":0.23850225,"tid":979586,"type":"Sell"},{"date":1533435040,"price":27220.9900,"amount":0.06458997,"tid":979585,"type":"Sell"},{"date":1533434129,"price":27220.0000,"amount":0.85392154,"tid":979584,"type":"Sell"},{"date":1533434125,"price":27220.0100,"amount":0.34336875,"tid"[...]
