---
http_interactions:
- request:
    method: get
    uri: https://broker.negociecoins.com.br/api/v3/btcbrl/orderbook
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 05 Aug 2018 05:41:25 GMT
    body:
      encoding: UTF-8
      string: '{"ask":[{"id":"Mxh+qxLCsTO+rCTOIp+8aQ==","price":27399.0000,"quantity":0.00347365,"user":"Rover_657360"},{"id":"DIp9n5rM\/sqqiO\/QnGIdRQ==","price":27454.0000,"quantity":0.45684950,"user":"Hyundai_919454"},{"id":"nOi8v2QKxNEZBHscsKxq+Q==","price":27455.0000,"quantity":0.09372986,"user":"Maserati_752328"},{"id":"YwSbgzoCML9hKERYukezIQ==","price":27489.0000,"quantity":0.00320129,"user":"Daihatsu_770421"},{"id":"qTEuKavghsz03dxccu1WXA==","price":27490.0000,"quantity":2.00000000,"user":"Hyundai_383002"},{"id":"I0qf7tneG0C19Ufui6tf8g==","price":27500.0000,"quantity":0.01818182,"user":"Me[...]
