---
http_interactions:
- request:
    method: get
    uri: https://app.nash.io/api/graphql?query=query%20GetOrderBook%20%7BgetOrderBook(marketName:%20%22gas_eth%22)%20%7BupdateId%20lastUpdateId%20bids%20%7Bprice%20%7Bamount%20currencyA%20currencyB%7D%20amount%20%7Bamount%20currency%7D%7D%20asks%20%7Bprice%20%7Bamount%20currencyA%20currencyB%7D%20amount%20%7Bamount%20currency%7D%7D%7D%7D
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"getOrderBook":{"asks":[{"amount":{"amount":"6.04000000","currency":"gas"},"price":{"amount":"0.00889000","currencyA":"eth","currencyB":"gas"}},{"amount":{"amount":"3.00000000","currency":"gas"},"price":{"amount":"0.00890000","currencyA":"eth","currencyB":"gas"}},{"amount":{"amount":"3.39000000","currency":"gas"},"price":{"amount":"0.00900000","currencyA":"eth","currencyB":"gas"}},{"amount":{"amount":"20.37000000","currency":"gas"},"price":{"amount":"0.00985000","currencyA":"eth","currencyB":"gas"}},{"amount":{"amount":"2.58000000","currency":"gas"},"price":{"amount":"0.00988000","currencyA":"eth","currencyB":"gas"}},{"amount":{[...]
