---
http_interactions:
- request:
    method: get
    uri: https://api.dflowx.com/v1/market/list
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0","msg":"suc","data":[{"symbol":"ethusdt","count_coin":"usdt","amount_precision":3,"base_coin":"eth","price_precision":5},{"symbol":"fsnusdt","count_coin":"usdt","amount_precision":2,"base_coin":"fsn","price_precision":4},{"symbol":"ftmusdt","count_coin":"usdt","amount_precision":2,"base_coin":"ftm","price_precision":4},{"symbol":"ablusdt","count_coin":"usdt","amount_precision":2,"base_coin":"abl","price_precision":4},{"symbol":"btcusdt","count_coin":"usdt","amount_precision":4,"base_coin":"btc","price_precision":6},{"symbol":"dflusdt","count_coin":"usdt","amount_precision":2,"base_coin":"dfl","price_precision":[...]
