---
http_interactions:
- request:
    method: get
    uri: https://nominex.io/api/rest/v1/ticker/BTC/USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"bid":6850.92,"bidSize":0.008461,"ask":6886.24,"askSize":0.001453,"dailyChange":-303.83,"dailyChangeP":-4.24,"price":6869.42,"quoteVolume":948547.67680197,"high":7185.73,"low":6761.43}'
  recorded_at: Tue, 21 Apr 2020 07:46:14 GMT
recorded_with: VCR 4.0.0
