---
http_interactions:
- request:
    method: get
    uri: https://nominex.io/api/rest/v1/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":589832,"name":"ETH/USDT","baseStep":0.00001000,"quoteStep":0.01000000,"minBaseAmount":0.00001000,"minQuoteAmount":10.00000000,"maxBaseAmount":9000.00000000,"maxQuoteAmount":1000000000.00000000,"active":true},{"id":196609,"name":"BCH/BTC","baseStep":0.00100000,"quoteStep":0.00000100,"minBaseAmount":0.00100000,"minQuoteAmount":0.00100000,"maxBaseAmount":10000000.00000000,"maxQuoteAmount":1000000000.00000000,"active":true},{"id":655368,"name":"OMG/USDT","baseStep":0.01000000,"quoteStep":0.00010000,"minBaseAmount":0.01000000,"minQuoteAmount":10.00000000,"maxBaseAmount":900000.00000000,"maxQuoteAmount":1000000000.00000000,"active":true},{"id":131073,"name":"LTC/BTC","baseStep":0.01000000,"quoteStep[...]
