---
http_interactions:
- request:
    method: get
    uri: https://nominex.io/api/rest/v1/orderbook/BTC/USDT/A0/100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"side":"SELL","price":6886.45,"amount":0.108502,"count":1},{"side":"SELL","price":6886.49,"amount":0.089760,"count":1},{"side":"SELL","price":6886.52,"amount":0.099821,"count":1},{"side":"SELL","price":6886.98,"amount":0.001453,"count":1},{"side":"SELL","price":6887.08,"amount":0.111049,"count":1},{"side":"SELL","price":6887.11,"amount":0.096930,"count":1},{"side":"SELL","price":6887.23,"amount":0.168091,"count":1},{"side":"SELL","price":6887.28,"amount":0.031284,"count":1},{"side":"SELL","price":6887.30,"amount":0.120814,"count":1},{"side":"SELL","p[...]
