---
http_interactions:
- request:
    method: get
    uri: https://api.huobi.pro/v1/hadax/common/symbols
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - dawn-broker-pro:default,prd:8080
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[{"base-currency":"gve","quote-currency":"btc","price-precision":10,"amount-precision":2,"symbol-partition":"hadax"},{"base-currency":"inc","quote-currency":"btc","price-precision":8,"amount-precision":2,"symbol-partition":"hadax"},{"base-currency":"bkbt","quote-currency":"btc","price-precision":10,"amount-precision":2,"symbol-partition":"hadax"},{"base-currency":"ae","quote-currency":"btc","price-precision":8,"amount-precision":2,"symbol-partition":"hadax"},{"base-currency":"ren","quote-currency":"btc","price-precision":8,"amount-precision":2,"symbol-partition":"hadax"},{"base-currency":"pc","quote-c[...]
