---
http_interactions:
- request:
    method: get
    uri: https://api.hadax.com/market/detail/merged?symbol=bkbtbtc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.bkbtbtc.detail.merged","ts":1527222273471,"tick":{"amount":41275748.845772537692069710,"open":0.000002250600000000,"close":0.000002154900000000,"high":0.000002339000000000,"id":8003330399,"count":12039,"low":0.000002077800000000,"version":8003330399,"ask":[0.000002168300000000,13600.000000000000000000],"vol":92.885836941929809340214522708000000000,"bid":[0.000002141500000000,7830.580000000000000000]}}'
  recorded_at: Fri, 25 May 2018 04:24:33 GMT
recorded_with: VCR 4.0.0
