---
http_interactions:
- request:
    method: get
    uri: http://broadcast.exchanges.lo/v1/trades/BTC/USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"at":1535631647,"amount":0.00053213,"price":6985.4912,"type":"buy"},{"at":1535614599,"amount":0.00089788,"price":6948.407,"type":"sell"},{"at":1535614517,"amount":0.00011679,"price":6948.407,"type":"sell"},{"at":1535605533,"amount":0.00016589,"price":7083.2733,"type":"buy"},{"at":1535594036,"amount":0.00077377,"price":7005,"type":"sell"},{"at":1535592086,"amount":9.706e-5,"price":7100,"type":"buy"},{"at":1535581765,"amount":0.00029894,"price":7100,"type":"buy"},{"at":1535574511,"amount":1.263e-5,"price":7080,"type":"buy"},{"at":1535559331,"amount":1.126e-5,"price":7055.558,"type":"sell"},{"at":1535558921,"amount":0.00032416,"price":7055.558,"type":"sell"},{"at":1535558921,"amount":9.33e-6,"price":7060.5017,"type":"sell"},{"at":1535558920,"amount":6.651e-5,"price":7060.5017,"type":"sell"},{"at":1535558885,"amount":0.00088574,"price":7060.51,"type":"sell"},{"at":1535555711,"amount":0.000255,"price":7151.4968,"type":"buy"},{"at":1535554945,"amount":3.0e-6,"price":7160.666,"type":"buy"},{"at":1535554578,"amount":9.5e-6,"price":7160.666,"type":"buy"},{"at":1535536764,"amount":0.00096471,"price":7044.149,"type":"sell"},{"at":1535529045,"amount":3.479e-5,"price":7017.1493,"type":"sell"},{"at":1535529044,"amount":0.00628719,"price":7144.3397,"type":"buy"},{"at":1535529044,"amount":0.00032,"price":7142.9,"type":"buy"}]'
  recorded_at: Mon, 03 Sep 2018 14:50:24 GMT
recorded_with: VCR 4.0.0
