---
http_interactions:
- request:
    method: get
    uri: https://api.daybit.com/api/v1/public/market_summaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "data": [
                {
                    "base": "BOID",
                    "base_vol": "0.000",
                    "close": "0.00007000",
                    "high": "0.00007000",
                    "low": "0.00007000",
                    "open": "0.00007000",
                    "quote": "EOS",
                    "quote_vol": "0.000",
                    "seconds": 86400,
                    "volatility": "0.0000"
                },
                {
                    "base": "BCH",
                    "base_vol": "0.000",
                    "close": "0.03557400",
                    "high": "0.03557400",
                    "low": "0.03557400",
                    "open": "0.03557400",
                    "quote": "BTC",
                    "quote_vol": "0.000",
                    "seconds": 86400,
                    "volatility": "0.0000"
                },
                {
             [...]
