---
http_interactions:
- request:
    method: get
    uri: https://api.gatecoin.com/Public/LiveTickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tickers":[{"currencyPair":"BTCEUR","open":3477.4,"last":3523.4,"lastQ":0.15676357,"high":3699.8,"low":3477.4,"volume":5.24972887,"volumn":5.24972887,"bid":3650,"bidQ":0.00687665,"ask":3699.5,"askQ":0.00131691,"vwap":3552.4333899805762730752226448,"createDateTime":"1507003493"},{"currencyPair":"BTCHKD","open":35190.0,"last":35418,"lastQ":0.92,"high":35689.0,"low":34917.0,"volume":1310.02160256,"volumn":1310.02160256,"bid":35356,"bidQ":0.01,"ask":35513,"askQ":0.01,"vwap":35290.644416664847582160469865,"createDateTime":"1507003493"},{"currencyPair":"BTCUSD","open":4479.2,"last":4504.6,"lastQ":0.52,"high":4570.0,"low":4270.2,"volume":1354.71529368,"volumn":1354.71529368,"bid":4499,"bidQ":0.01,"ask":4517.4,"askQ":0.007,"vwap":4497.2937110972735408943626593,"c[...]
