---
http_interactions:
- request:
    method: get
    uri: https://api.oceanex.pro/v1/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 42.200.158.123
      X-Original-Uri:
      - "/v1/markets"
      X-Scheme:
      - https
      X-Original-Forwarded-For:
      - 42.200.158.123
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"628c62e7e67d876330e9dd33c589127c"
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"message":"Operation is successful","data":[{"id":"btcusdt","name":"BTC/USDT"},{"id":"ethusdt","name":"ETH/USDT"},{"id":"vetusdt","name":"VET/USDT"},{"id":"ethbtc","name":"ETH/BTC"},{"id":"vetbtc","name":"VET/BTC"},{"id":"veteth","name":"VET/ETH"},{"id":"vthovet","name":"VTHO/VET"},{"id":"shavet","name":"SHA/VET"}]}'
  recorded_at: Thu, 17 Jan 2019 08:58:29 GMT
recorded_with: VCR 4.0.0
