---
http_interactions:
- request:
    method: get
    uri: https://api.oceanex.pro/v1/tickers/btcusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 42.200.158.123
      X-Original-Uri:
      - "/v1/tickers/btcusdt"
      X-Scheme:
      - https
      X-Original-Forwarded-For:
      - 42.200.158.123
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"c6eb6bd609355721486cd31ebb42e4fc"
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"message":"Operation is successful","data":{"at":1547715509,"ticker":{"buy":"3573.92","sell":"3589.23","low":"3552.88","high":"3629.66","last":"3576.05","vol":"8.519909"}}}'
  recorded_at: Thu, 17 Jan 2019 08:58:29 GMT
recorded_with: VCR 4.0.0
