---
http_interactions:
- request:
    method: get
    uri: https://api.oceanex.pro/v1/trades?market=btcusdt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Version:
      - HTTP/1.1
      X-Real-Ip:
      - 42.200.158.123
      X-Original-Uri:
      - "/v1/trades?market=btcusdt"
      X-Scheme:
      - https
      X-Original-Forwarded-For:
      - 42.200.158.123
      Cdn-Loop:
      - cloudflare
      Etag:
      - W/"bd6662c67aae0476724e9f7f2ddabdec"
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"message":"Operation is successful","data":[{"id":924000,"price":"3576.05","volume":"0.001165","funds":"4.16609825","market":"btcusdt","created_at":"2019-01-17T08:58:17Z","side":null},{"id":923989,"price":"3583.34","volume":"0.005571","funds":"19.96278714","market":"btcusdt","created_at":"2019-01-17T08:57:42Z","side":null},{"id":923977,"price":"3579.98","volume":"0.001137","funds":"4.07043726","market":"btcusdt","created_at":"2019-01-17T08:57:02Z","side":null},{"id":923969,"price":"3579.81","volume":"0.00288","funds":"10.3098528","market":"btcusdt","created_at":"2019-01-17T08:56:19Z","side":null},{"id":923957,"price":"3577.31","volume":"0.001515","funds":"5.41962465","m[...]
