---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=pairList
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - D17CCFC6-363B-4037-AA85-F727A32674A3
      Etag:
      - W/"360c-4EQHwkNaeB+kFO0G8pz4ObVj2vY"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"result":[{"id":1,"pair":"BIX_BTC","pair_type":0,"area_id":7,"is_hide":0},{"id":2,"pair":"BIX_ETH","pair_type":0,"area_id":8,"is_hide":0},{"id":5,"pair":"ETH_BTC","pair_type":0,"area_id":7,"is_hide":0},{"id":6,"pair":"LTC_BTC","pair_type":0,"area_id":7,"is_hide":0},{"id":7,"pair":"BCH_BTC","pair_type":0,"area_id":7,"is_hide":0},{"id":8,"pair":"ETC_BTC","pair_type":0,"area_id":7,"is_hide":0},{"id":10,"pair":"ETC_ETH","pair_type":0,"area_id":8,"is_hide":0},{"id":11,"pair":"BCH_ETH","pair_type":0,"area_id":8,"is_hide":0},{"id":12,"pair":"LTC_ETH","pair_type":0,"area_i[...]
