---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=deals&pair=4BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - 9B6793D3-B162-4DE9-BFC3-49D0C5E40FD1
      Etag:
      - W/"4da5-vu4LrJnTdk/M7y2acsj1kdx85q8"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"result":[{"id":23763846,"pair":"4BTC_USDT","price":"7453.9700","amount":"36","time":1571908748000,"side":2},{"id":23763843,"pair":"4BTC_USDT","price":"7454.0200","amount":"160","time":1571908744000,"side":2},{"id":23865898,"pair":"4BTC_USDT","price":"7454.9000","amount":"53","time":1571908738000,"side":2},{"id":23865897,"pair":"4BTC_USDT","price":"7454.9100","amount":"33","time":1571908734000,"side":2},{"id":23865896,"pair":"4BTC_USDT","price":"7454.8100","amount":"11","time":1571908731000,"side":2},{"id":23865892,"pair":"4BTC_USDT","price":"7454.6200","amount":"88","time":1571908727000,"side":1},{[...]
