---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=depth&pair=4BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - BE051D26-9E8F-4715-B255-D16EB88AFA06
      Etag:
      - W/"18d6-/DvaAbnkosvysZMd+i7YUF3/J/g"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"result":{"update_time":1571908750919,"asks":[{"volume":"1.00000000","price":"7456.00000000"},{"volume":"4.00000000","price":"7465.00000000"},{"volume":"120.00000000","price":"7465.70000000"},{"volume":"40.00000000","price":"7466.38000000"},{"volume":"98.00000000","price":"7468.50000000"},{"volume":"21.00000000","price":"7468.70000000"},{"volume":"10.00000000","price":"7469.70000000"},{"volume":"62.00000000","price":"7470.00000000"},{"volume":"22.00000000","price":"7480.61000000"},{"volume":"11.00000000","price":"7481.00000000"},{"volume":"50.00000000","price":"7490.0000[...]
