---
http_interactions:
- request:
    method: get
    uri: https://satowallet.com/?__wallets_exchange_action=get_market_summaries
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Nginx-Cache-Status:
      - HIT
      X-Server-Powered-By:
      - Engintron
    body:
      encoding: UTF-8
      string: '{"market_summaries":{"BTC_LTC":{"market":"BTC_LTC","min_ask":"0.01200000","ask_volume":"33.79996000","ask_volume_base":"1.02116190","max_bid":"0.00801319","bid_volume":"70.26003600","bid_volume_base":"0.56230314","trade_volume_base_24":"38.00808376","trade_volume_quote_24":"4129.76922000"},"BTC_ETH":{"market":"BTC_ETH","min_ask":"0.06000000","ask_volume":"71.12000000","ask_volume_base":"8.43081600","max_bid":"0.05100000","bid_volume":"95.39847400","bid_volume_base":"3.89137138","trade_volume_base_24":"5.70293385","trade_volume_quote_24":"101.88167245"},"BTC_TPAY":{"market":"BTC_TPAY","min_ask":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","max_bid":"0.00019890","bid_volume":"31.00000000","bid_volume_base":"0.00607100","trade_volume_base_24":"0.00009711","trade_volume_quote_24":"0.20000000"},"BTC_BCH":{"market":"BTC_BCH","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_XRP":{"market":"BTC_XRP","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_USDT":{"market":"BTC_USDT","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_NEO":{"market":"BTC_NEO","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_XMR":{"market":"BTC_XMR","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_DASH":{"market":"BTC_DASH","min_ask":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","max_bid":"0.00010000","bid_volume":"12.00000000","bid_volume_base":"0.00120000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_ETC":{"market":"BTC_ETC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_QTUM":{"market":"BTC_QTUM","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_ABJC":{"market":"BTC_ABJC","min_ask":"0.00028000","ask_volume":"607.04000000","ask_volume_base":"0.23466448","max_bid":"0.00000101","bid_volume":"3710.00000000","bid_volume_base":"0.00361424","trade_volume_base_24":"0.00776000","trade_volume_quote_24":"22.00000000"},"BTC_DGB":{"market":"BTC_DGB","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_PROUD":{"market":"BTC_PROUD","min_ask":"0.00000500","ask_volume":"1199.90000000","ask_volume_base":"1.00099950","max_bid":"0.00000006","bid_volume":"5000.00000000","bid_volume_base":"0.00013000","trade_volume_base_24":"0.00000100","trade_volume_quote_24":"0.20000000"},"BTC_2GIVE":{"market":"BTC_2GIVE","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_ONION":{"market":"BTC_ONION","min_ask":"0.00007900","ask_volume":"25.00000000","ask_volume_base":"0.00216485","max_bid":"0.00007800","bid_volume":"11.50000000","bid_volume_base":"0.00089700","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_MOON":{"market":"BTC_MOON","min_ask":"0.00000001","ask_volume":"3400000.00000000","ask_volume_base":"721000.04000000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_BWS":{"market":"BTC_BWS","min_ask":"0.00009000","ask_volume":"1032.39923081","ask_volume_base":"1.00320992","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00040000","trade_volume_quote_24":"40.00000000"},"BTC_PROC":{"market":"BTC_PROC","min_ask":"1.00000000","ask_volume":"1.00000000","ask_volume_base":"1.00000000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_RUPX":{"market":"BTC_RUPX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_ONX":{"market":"BTC_ONX","min_ask":"0.00500000","ask_volume":"1.00000000","ask_volume_base":"0.00500000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_VSX":{"market":"BTC_VSX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_HPC":{"market":"BTC_HPC","min_ask":"0.00001000","ask_volume":"460.00000000","ask_volume_base":"0.00590000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_ECA":{"market":"BTC_ECA","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_POT":{"market":"BTC_POT","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_BTX":{"market":"BTC_BTX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_RVR":{"market":"BTC_RVR","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_BRK":{"market":"BTC_BRK","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_DCR":{"market":"BTC_DCR","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_EXP":{"market":"BTC_EXP","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_MUE":{"market":"BTC_MUE","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_NAV":{"market":"BTC_NAV","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_XCP":{"market":"BTC_XCP","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_MEDIC":{"market":"BTC_MEDIC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_LSK":{"market":"BTC_LSK","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_PIVX":{"market":"BTC_PIVX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_PURA":{"market":"BTC_PURA","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_SMART":{"market":"BTC_SMART","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_SYS":{"market":"BTC_SYS","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_TRIG":{"market":"BTC_TRIG","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_UBQ":{"market":"BTC_UBQ","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_VTC":{"market":"BTC_VTC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_WAVES":{"market":"BTC_WAVES","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_ZEC":{"market":"BTC_ZEC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_ZEN":{"market":"BTC_ZEN","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_ZZC":{"market":"BTC_ZZC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_SOXAX":{"market":"BTC_SOXAX","min_ask":"0.00000070","ask_volume":"10404.97720000","ask_volume_base":"40.04693961","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.04565784","trade_volume_quote_24":"30978.00400000"},"BTC_SHND":{"market":"BTC_SHND","min_ask":"0.00000001","ask_volume":"700019500.00000000","ask_volume_base":"31.70100000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_ABJ":{"market":"BTC_ABJ","min_ask":"0.00001000","ask_volume":"2058.50000000","ask_volume_base":"0.09102000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_USX":{"market":"BTC_USX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_BITB":{"market":"BTC_BITB","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_BLK":{"market":"BTC_BLK","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_KMD":{"market":"BTC_KMD","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_GAME":{"market":"BTC_GAME","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_ORO":{"market":"BTC_ORO","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_IC":{"market":"BTC_IC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"BTC_DOLLAR":{"market":"BTC_DOLLAR","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"USDT_BTC":{"market":"USDT_BTC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"USDT_LTC":{"market":"USDT_LTC","min_ask":"0.70000000","ask_volume":"0.00100000","ask_volume_base":"0.00070000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"USDT_ETH":{"market":"USDT_ETH","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"USDT_TPAY":{"market":"USDT_TPAY","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"USDT_BCH":{"market":"USDT_BCH","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"USDT_XRP":{"market":"USDT_XRP","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"USDT_QTUM":{"market":"USDT_QTUM","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"USDT_ABJC":{"market":"USDT_ABJC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"USDT_DOGE":{"market":"USDT_DOGE","min_ask":"2.30000000","ask_volume":"686.55000000","ask_volume_base":"1579.06500000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_LTC":{"market":"ETH_LTC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_TPAY":{"market":"ETH_TPAY","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_BCH":{"market":"ETH_BCH","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_XRP":{"market":"ETH_XRP","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_USDT":{"market":"ETH_USDT","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_NEO":{"market":"ETH_NEO","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_XMR":{"market":"ETH_XMR","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_DASH":{"market":"ETH_DASH","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_ETC":{"market":"ETH_ETC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_QTUM":{"market":"ETH_QTUM","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_ABJC":{"market":"ETH_ABJC","min_ask":"0.00500000","ask_volume":"98.04000000","ask_volume_base":"0.63432000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_DGB":{"market":"ETH_DGB","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_PROUD":{"market":"ETH_PROUD","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_2GIVE":{"market":"ETH_2GIVE","min_ask":"0.01111110","ask_volume":"10.00000000","ask_volume_base":"0.11111100","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_ONION":{"market":"ETH_ONION","min_ask":"0.00139000","ask_volume":"25.00000000","ask_volume_base":"0.03825000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_MOON":{"market":"ETH_MOON","min_ask":"0.00000009","ask_volume":"3800000.00000000","ask_volume_base":"551000.76000000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_PROC":{"market":"ETH_PROC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_RUPX":{"market":"ETH_RUPX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_ONX":{"market":"ETH_ONX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_BWS":{"market":"ETH_BWS","min_ask":"0.05000000","ask_volume":"111.00000000","ask_volume_base":"7.00000000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_VSX":{"market":"ETH_VSX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_HPC":{"market":"ETH_HPC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_ECA":{"market":"ETH_ECA","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_POT":{"market":"ETH_POT","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_BTX":{"market":"ETH_BTX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_RVR":{"market":"ETH_RVR","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_BRK":{"market":"ETH_BRK","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_DCR":{"market":"ETH_DCR","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_EXP":{"market":"ETH_EXP","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_MUE":{"market":"ETH_MUE","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_NAV":{"market":"ETH_NAV","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_XCP":{"market":"ETH_XCP","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_MEDIC":{"market":"ETH_MEDIC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_LSK":{"market":"ETH_LSK","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_PIVX":{"market":"ETH_PIVX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_PURA":{"market":"ETH_PURA","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_SMART":{"market":"ETH_SMART","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_SYS":{"market":"ETH_SYS","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_TRIG":{"market":"ETH_TRIG","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_UBQ":{"market":"ETH_UBQ","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_VTC":{"market":"ETH_VTC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_WAVES":{"market":"ETH_WAVES","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_ZEC":{"market":"ETH_ZEC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_ZEN":{"market":"ETH_ZEN","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_ZZC":{"market":"ETH_ZZC","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_SOXAX":{"market":"ETH_SOXAX","min_ask":"0.00010000","ask_volume":"580.97607900","ask_volume_base":"1.16819518","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_SHND":{"market":"ETH_SHND","min_ask":"0.00000040","ask_volume":"3669900.00000000","ask_volume_base":"1.46796000","max_bid":null,"bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_ABJ":{"market":"ETH_ABJ","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_USX":{"market":"ETH_USX","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_BITB":{"market":"ETH_BITB","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_BLK":{"market":"ETH_BLK","min_ask":null,"max_bid":null,"ask_volume":"0.00000000","ask_volume_base":"0.00000000","bid_volume":"0.00000000","bid_volume_base":"0.00000000","trade_volume_base_24":"0.00000000","trade_volume_quote_24":"0.00000000"},"ETH_KMD":{"market":"ETH_KMD","min_ask":nul
[...]
