---
http_interactions:
- request:
    method: get
    uri: https://api.coindelta.com/api/v2/public/pricetickers/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - OPTIONS, GET
    body:
      encoding: ASCII-8BIT
      string: '{"INR_USDT":{"last":"78.5","quoteVolume":"8019.1204","high24hr":"77.56","isFrozen":"0","highestBid":"76.32","percentChange":"-0.88311688","low24hr":"75.03","lowestAsk":"77.49","id":46,"baseVolume":"102.1544"},"INR_SPC":{"last":"0.7","quoteVolume":"45413.603397","high24hr":"0.7","isFrozen":"0","highestBid":"0.54","percentChange":"45.23809524","low24hr":"0.42","lowestAsk":"0.75","id":157,"baseVolume":"64876.5762815"},"INR_BCHABC":{"last":"12000.04","quoteVolume":"104534.907449","high24hr":"16695.21","isFrozen":"0","highestBid":"14029.01","percentChange":"-7.32803002","low24hr":"13974.85","lowestAsk":"15471.78","id":160,"baseVolume":"8.71121325"},"INR_LTC":{"last":"2679.0","quoteVolume":"29073.7177292","high24hr":"2899.0","isFrozen":"0","highestBid":"2450.0","percentChange":"-9.67480117","low24hr":"2452.2","lowestAsk":"2900.0","id":3,"baseVolume":"10.85245156"},"INR_TRX":{"last":"1.23","quoteVolume":"121117.435554","high24hr":"1.24","isFrozen":"0","highestBid":"1.16","percentChange":"18.26923077","low24hr":"1.03","lowestAsk":"1.23","id":21,"baseVolume":"98469.4598"},"INR_GAS":{"last":"152.02","quoteVolume":"1090.089814","high24hr":"232.99","isFrozen":"0","highestBid":"161.0","percentChange":"-15.83329757","low24hr":"177.97","lowestAsk":"233.0","id":20,"baseVolume":"7.1707"},"USDT_GRS":{"last":"3.3799","quoteVolume":"0.0","high24hr":"3.3799","isFrozen":"0","highestBid":"0.0107","percentChange":"0.0","low24hr":"3.3799","lowestAsk":"3.3799","id":130,"baseVolume":"0.0"},"INR_SPANK":{"last":"2.15","quoteVolume":"0.0","high24hr":"1.99","isFrozen":"0","highestBid":"1.99","percentChange":"0.0","low24hr":"1.99","lowestAsk":"2.24","id":27,"baseVolume":"0.0"},"INR_KRM":{"last":"0.1","quoteVolume":"12609.9706667","high24hr":"0.1","isFrozen":"0","highestBid":"0.09","percentChange":"25.0","low24hr":"0.08","lowestAsk":"0.11","id":36,"baseVolume":"126099.706667"},"USDT_BAT":{"last":"0.39","quoteVolume":"0.0","high24hr":"0.39","isFrozen":"0","highestBid":"0.0127","percentChange":"0.0","low24hr":"0.39","lowestAsk":"0.9794","id":100,"baseVolume":"0.0"},"INR_QTUM":{"last":"171.75","quoteVolume":"9177.5643","high24hr":"171.9","isFrozen":"0","highestBid":"167.0","percentChange":"-1.22164049","low24hr":"148.48","lowestAsk":"169.74","id":5,"baseVolume":"53.4356"},"INR_ICX":{"last":"21.2","quoteVolume":"3992.96276","high24hr":"21.2","isFrozen":"0","highestBid":"20.0","percentChange":"19.90950226","low24hr":"17.68","lowestAsk":"25.99","id":28,"baseVolume":"188.3473"},"INR_MANA":{"last":"4.5","quoteVolume":"11642.51925","high24hr":"5.44","isFrozen":"0","highestBid":"4.21","percentChange":"-11.58088235","low24hr":"4.3","lowestAsk":"4.81","id":26,"baseVolume":"2587.2265"},"USDT_QTUM":{"last":"4.99","quoteVolume":"0.0","high24hr":"4.99","isFrozen":"0","highestBid":"0.0305","percentChange":"0.0","low24hr":"4.99","lowestAsk":"4.8","id":61,"baseVolume":"0.0"},"INR_CVC":{"last":"5.0","quoteVolume":"1190.0","high24hr":"5.0","isFrozen":"0","highestBid":"4.55","percentChange":"0.0","low24hr":"5.0","lowestAsk":"5.0","id":24,"baseVolume":"238.0"},"INR_AION":{"last":"12.96","quoteVolume":"6299.81064","high24hr":"12.96","isFrozen":"0","highestBid":"12.0","percentChange":"3.45454545","low24hr":"11.0","lowestAsk":"12.92","id":30,"baseVolume":"486.0965"},"INR_ZEC":{"last":"6000.0","quoteVolume":"39224.4","high24hr":"7096.83","isFrozen":"0","highestBid":"5600.0","percentChange":"10.73085126","low24hr":"5795.16","lowestAsk":"7340.0","id":18,"baseVolume":"6.5374"},"INR_XRP":{"last":"28.5","quoteVolume":"456025.043303","high24hr":"30.5","isFrozen":"0","highestBid":"28.36","percentChange":"0.0","low24hr":"28.07","lowestAsk":"28.5","id":11,"baseVolume":"16000.8787124"},"INR_ZRX":{"last":"30.75","quoteVolume":"60036.3","high24hr":"35.0","isFrozen":"0","highestBid":"31.01","percentChange":"-2.62824573","low24hr":"30.75","lowestAsk":"37.0","id":15,"baseVolume":"1952.4"},"USDT_ZIL":{"last":"0.01","quoteVolume":"0.0","high24hr":"0.0103","isFrozen":"0","highestBid":"0.0052","percentChange":"0.0","low24hr":"0.0103","lowestAsk":"0.0399","id":73,"baseVolume":"0.0"},"INR_ZIL":{"last":"1.57","quoteVolume":"75257.470081","high24hr":"1.59","isFrozen":"0","highestBid":"1.43","percentChange":"9.79020979","low24hr":"1.4","lowestAsk":"1.57","id":14,"baseVolume":"47934.6943191"},"USDT_ICX":{"last":"1.17","quoteVolume":"0.0","high24hr":"1.17","isFrozen":"0","highestBid":"0.0118","percentChange":"0.0","low24hr":"1.17","lowestAsk":"1.16","id":115,"baseVolume":"0.0"},"INR_GNT":{"last":"7.8","quoteVolume":"5481.89538","high24hr":"7.91","isFrozen":"0","highestBid":"6.22","percentChange":"-7.25462304","low24hr":"6.12","lowestAsk":"7.78","id":22,"baseVolume":"702.8071"},"INR_ENG":{"last":"23.5","quoteVolume":"724.75175","high24hr":"28.63","isFrozen":"0","highestBid":"21.62","percentChange":"8.69400152","low24hr":"21.56","lowestAsk":"27.08","id":25,"baseVolume":"30.8405"},"INR_QKC":{"last":"3.75","quoteVolume":"8733.876375","high24hr":"3.61","isFrozen":"0","highestBid":"3.2","percentChange":"-4.43213296","low24hr":"3.26","lowestAsk":"3.5","id":35,"baseVolume":"2329.0337"},"INR_DAI":{"last":"74.07","quoteVolume":"1769.480451","high24hr":"73.42","isFrozen":"0","highestBid":"72.67","percentChange":"-0.62901682","low24hr":"72.63","lowestAsk":"73.78","id":34,"baseVolume":"23.8893"},"INR_OMG":{"last":"121.01","quoteVolume":"24110.5170257","high24hr":"135.43","isFrozen":"0","highestBid":"122.0","percentChange":"12.78800857","low24hr":"116.15","lowestAsk":"136.5","id":4,"baseVolume":"199.24400484"},"INR_NEO":{"last":"640.0","quoteVolume":"22774.2453568","high24hr":"699.97","isFrozen":"0","highestBid":"572.0","percentChange":"-2.90203095","low24hr":"579.65","lowestAsk":"618.65","id":19,"baseVolume":"35.58475837"},"INR_BAT":{"last":"11.6","quoteVolume":"15571.0902305","high24hr":"13.97","isFrozen":"0","highestBid":"11.7","percentChange":"15.25","low24hr":"11.1","lowestAsk":"13.83","id":23,"baseVolume":"1342.3353647"},"USDT_GNT":{"last":"0.2399","quoteVolume":"0.0","high24hr":"0.2399","isFrozen":"0","highestBid":"0.0019","percentChange":"0.0","low24hr":"0.2399","lowestAsk":"0.3","id":97,"baseVolume":"0.0"},"INR_KNC":{"last":"14.95","quoteVolume":"1924.981435","high24hr":"16.32","isFrozen":"0","highestBid":"13.05","percentChange":"6.82274247","low24hr":"13.25","lowestAsk":"16.49","id":16,"baseVolume":"128.7613"},"USDT_MANA":{"last":"0.1198","quoteVolume":"0.0","high24hr":"0.1198","isFrozen":"0","highestBid":"0.0017","percentChange":"0.0","low24hr":"0.1198","lowestAsk":"0.1198","id":109,"baseVolume":"0.0"},"INR_CND":{"last":"0.84","quoteVolume":"765.912","high24hr":"0.97","isFrozen":"0","highestBid":"0.93","percentChange":"10.71428571","low24hr":"0.84","lowestAsk":"0.95","id":29,"baseVolume":"911.8"},"INR_ETH":{"last":"8800.0","quoteVolume":"259476.358768","high24hr":"9550.0","isFrozen":"0","highestBid":"8702.03","percentChange":"2.3355814","low24hr":"8600.0","lowestAsk":"8800.0","id":2,"baseVolume":"29.48594986"},"USDT_NEO":{"last":"0.09","quoteVolume":"0.0","high24hr":"10.1","isFrozen":"0","highestBid":"0.21","percentChange":"0.0","low24hr":"10.1","lowestAsk":"9.0","id":88,"baseVolume":"0.0"},"INR_AE":{"last":"48.0","quoteVolume":"7298.616","high24hr":"51.4","isFrozen":"0","highestBid":"38.6","percentChange":"-0.45918367","low24hr":"33.91","lowestAsk":"52.0","id":37,"baseVolume":"152.0545"},"INR_BTC":{"last":"321999.99","quoteVolume":"6061230.67724","high24hr":"349999.0","isFrozen":"0","highestBid":"315003.01","percentChange":"3.01572465","low24hr":"308000.01","lowestAsk":"321999.0","id":1,"baseVolume":"18.82369834"},"INR_ACT":{"last":"0.87","quoteVolume":"1409.0172","high24hr":"0.87","isFrozen":"0","highestBid":"0.84","percentChange":"4.87804878","low24hr":"0.77","lowestAsk":"0.87","id":31,"baseVolume":"1619.56"},"USDT_LTC":{"last":"50.0","quoteVolume":"0.0","high24hr":"50.0","isFrozen":"0","highestBid":"11.2","percentChange":"0.0","low24hr":"50.0","lowestAsk":"69.5","id":55,"baseVolume":"0.0"},"USDT_TEN":{"last":"1.98","quoteVolume":"0.0","high24hr":"0.24","isFrozen":"0","highestBid":"0.0105","percentChange":"0.0","low24hr":"0.24","lowestAsk":"0.6598","id":148,"baseVolume":"0.0"},"USDT_QKC":{"last":"0.0039","quoteVolume":"0.0","high24hr":"0.0039","isFrozen":"0","highestBid":"0.0046","percentChange":"0.0","low24hr":"0.0039","lowestAsk":"0.0799","id":136,"baseVolume":"0.0"},"USDT_ENG":{"last":"1.999","quoteVolume":"0.0","high24hr":"1.999","isFrozen":"0","highestBid":"0.0105","percentChange":"0.0","low24hr":"1.999","lowestAsk":"1.9899","id":106,"baseVolume":"0.0"},"INR_GRS":{"last":"22.22","quoteVolume":"4291.433036","high24hr":"21.8","isFrozen":"0","highestBid":"19.01","percentChange":"-8.16513761","low24hr":"17.04","lowestAsk":"25.98","id":33,"baseVolume":"193.1338"},"INR_EOS":{"last":"240.0","quoteVolume":"23247.3603072","high24hr":"296.95","isFrozen":"0","highestBid":"206.02","percentChange":"-7.69230769","low24hr":"209.93","lowestAsk":"299.0","id":17,"baseVolume":"96.86400128"},"USDT_KNC":{"last":"0.51","quoteVolume":"0.0","high24hr":"0.51","isFrozen":"0","highestBid":"0.0105","percentChange":"0.0","low24hr":"0.51","lowestAsk":"0.5","id":79,"baseVolume":"0.0"},"USDT_ETH":{"last":"175.0","quoteVolume":"0.0","high24hr":"175.0","isFrozen":"0","highestBid":"106.0","percentChange":"0.0","low24hr":"175.0","lowestAsk":"187.9","id":52,"baseVolume":"0.0"},"USDT_ZRX":{"last":"0.456","quoteVolume":"0.0","high24hr":"0.456","isFrozen":"0","highestBid":"0.0405","percentChange":"0.0","low24hr":"0.456","lowestAsk":"0.456","id":76,"baseVolume":"0.0"},"USDT_OMG":{"last":"2.52","quoteVolume":"0.0","high24hr":"2.52","isFrozen":"0","highestBid":"0.0301","percentChange":"0.0","low24hr":"2.52","lowestAsk":"4.0","id":58,"baseVolume":"0.0"},"USDT_DAI":{"last":"1.0","quoteVolume":"0.0","high24hr":"1.0","isFrozen":"0","highestBid":"0.0301","percentChange":"0.0","low24hr":"1.0","lowestAsk":"2.99","id":133,"baseVolume":"0.0"},"INR_BCHSV":{"last":"6015.0","quoteVolume":"1078.4895","high24hr":"7969.21","isFrozen":"0","highestBid":"6025.73","percentChange":"-11.11038863","low24hr":"6015.0","lowestAsk":"7900.0","id":163,"baseVolume":"0.1793"},"INR_TEN":{"last":"10.85","quoteVolume":"2012.11297","high24hr":"10.85","isFrozen":"0","highestBid":"7.67","percentChange":"-0.1","low24hr":"8.06","lowestAsk":"9.99","id":38,"baseVolume":"185.4482"},"USDT_SPANK":{"last":"0.0101","quoteVolume":"0.0","high24hr":"0.0101","isFrozen":"0","highestBid":"0.0015","percentChange":"0.0","low24hr":"0.0101","lowestAsk":"0.0995","id":112,"baseVolume":"0.0"},"INR_XLM":{"last":"12.46","quoteVolume":"33818.5537467","high24hr":"12.99","isFrozen":"0","highestBid":"12.58","percentChange":"1.12540193","low24hr":"12.44","lowestAsk":"12.99","id":166,"baseVolume":"2714.16964259"},"USDT_AE":{"last":"2.51","quoteVolume":"0.0","high24hr":"2.51","isFrozen":"0","highestBid":"0.0305","percentChange":"0.0","low24hr":"2.51","lowestAsk":"2.51","id":142,"baseVolume":"0.0"}}'
  recorded_at: Thu, 29 Nov 2018 16:34:34 GMT
recorded_with: VCR 4.0.0
