---
http_interactions:
- request:
    method: get
    uri: https://api.coindelta.com/api/v1/public/getticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/v1/public/getticker/"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Jun 2018 01:38:27 GMT
- request:
    method: get
    uri: https://api.coindelta.com/api/v1/public/getticker/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - OPTIONS, GET
    body:
      encoding: ASCII-8BIT
      string: '[{"Ask":525000.0,"Bid":513301.0,"MarketName":"btc-inr","Last":525000.0},{"Ask":40887.99,"Bid":40500.01,"MarketName":"eth-inr","Last":40499.99},{"Ask":8200.0,"Bid":8199.99,"MarketName":"ltc-inr","Last":8200.0},{"Ask":814.99,"Bid":776.0,"MarketName":"omg-inr","Last":815.0},{"Ask":997.0,"Bid":927.5,"MarketName":"qtum-inr","Last":998.99},{"Ask":0.0926998,"Bid":0.0655,"MarketName":"eth-btc","Last":0.0735},{"Ask":0.02,"Bid":0.013,"MarketName":"ltc-btc","Last":0.0135},{"Ask":0.0026,"Bid":0.00135,"MarketName":"omg-btc","Last":0.0017989},{"Ask":0.003,"Bid":0.00135,[...]
