---
http_interactions:
- request:
    method: get
    uri: https://max-api.maicoin.com/api/v2/markets
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a9f4b6accd9f174fda90aa7004b662b4"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"btctwd","name":"BTC/TWD","base_unit":"btc","base_unit_precision":8,"quote_unit":"twd","quote_unit_precision":1},{"id":"ethtwd","name":"ETH/TWD","base_unit":"eth","base_unit_precision":6,"quote_unit":"twd","quote_unit_precision":1},{"id":"ltctwd","name":"LTC/TWD","base_unit":"ltc","base_unit_precision":4,"quote_unit":"twd","quote_unit_precision":1},{"id":"mithtwd","name":"MITH/TWD","base_unit":"mith","base_unit_precision":2,"quote_unit":"twd","quote_unit_precision":3},{"id":"bchtwd","name":"BCH/TWD","base_unit":"bch","base_unit_precision":6,"quote_unit":"twd","quote_unit_precision":1},{"id":"usdttwd","n[...]
