---
http_interactions:
- request:
    method: get
    uri: https://max-api.maicoin.com/api/v2/trades?limit=50&market=btctwd&offset=0&order_by=desc&page=1&pagination=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Page:
      - '1'
      Per-Page:
      - '50'
      Total-Pages:
      - '269'
      Total-Count:
      - '13443'
      Etag:
      - '"c227cb65cf630aa1142b2161effd9121"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":449793,"price":"247491.1","volume":"0.18282967","funds":"45248.7","market":"btctwd","created_at":1533022129,"side":"bid"},{"id":449686,"price":"247491.1","volume":"0.06867033","funds":"16995.2","market":"btctwd","created_at":1533021031,"side":"bid"},{"id":449685,"price":"247491.1","volume":"0.03132967","funds":"7753.8","market":"btctwd","created_at":1533021031,"side":"bid"},{"id":449337,"price":"247491.1","volume":"0.16867033","funds":"41744.4","market":"btctwd","created_at":1533017491,"side":"bid"},{"id":449325,"price":"245780.6","volume":"0.01695878","funds":"4168.1","market":"btctwd","created_at":15330173[...]
