---
http_interactions:
- request:
    method: get
    uri: https://max-api.maicoin.com/api/v2/tickers/btctwd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"6c78a7a47425a192418967c534b363f8"'
    body:
      encoding: ASCII-8BIT
      string: '{"at":1533026139,"buy":"245184.5","sell":"247491.1","open":"247538.9","low":"240000.0","high":"250000.0","last":"247491.1","vol":"14.7924775"}'
  recorded_at: Tue, 31 Jul 2018 08:35:39 GMT
recorded_with: VCR 4.0.0
