---
http_interactions:
- request:
    method: get
    uri: https://max-api.maicoin.com/api/v2/order_book?asks_limit=20&bids_limit=20&market=btctwd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"477e2736bd3884b97449628260b97a06"'
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"id":1955845,"side":"sell","ord_type":"stop_limit","price":"234000.0","stop_price":"235000.0","avg_price":"0.0","state":"wait","market":"btctwd","created_at":1532855757,"volume":"1.19588","remaining_volume":null,"executed_volume":null,"trades_count":0},{"id":2193670,"side":"sell","ord_type":"limit","price":"247491.1","stop_price":null,"avg_price":"0.0","state":"wait","market":"btctwd","created_at":1533025003,"volume":"0.02441057","remaining_volume":"0.02441057","executed_volume":"0.0","trades_count":0},{"id":2192671,"side":"sell","ord_type":"limit","price":"247691.0","stop_price":null,"avg_price":"0.0","state":"wait","market":"btctwd","created_at":1533024039,"volume":"0.02","remaining_volume":"0.02","executed_volume":"0.0","trades_count":0}[...]
